[2015-10-26 21:30] rafaelfranca commented on #22079
Also segfaults are never Rails issue because Rails don't have any C extentions code.

[2015-10-26 21:30] #22079 closed

[2015-10-27 02:06] #21993 closed

[2015-10-27 02:06] arthurnn commented on #21993
thanks

[2015-10-27 02:40] #20710 closed

[2015-10-27 03:33] tgxworld opened #22081 "[PERF] Regression in PostgreSQL Active Records methods."
Creating an issue for [commit](https://github.com/rails/rails/commit/cbcdecd2c55fca9613722779231de2d8dd67ad02#commitcomment-13951842) in case it gets lost.

https://github.com/rails/rails/commit/cbcdecd2c55fca9613722779231de2d8dd67ad02 caused a regression in some of the PostgreSQL benchmarks so I'm bringing it up for visibility.

![screenshot from 2015-10-23 21 12 15](https://cloud.githubuserconte

[2015-10-27 03:44] sgrif commented on #22081
This is likely to be expected, as I've explicitly made a trade off against that form of `where`. Do we have a benchmark showing the hash form?

[2015-10-27 04:08] tgxworld commented on #22081
Just to clarify, does hash form refer to `where("foo = ?", 1)` or `where(foo: 1)`?

[2015-10-27 04:09] sgrif commented on #22081
`where(foo: 1)`

[2015-10-27 04:11] tgxworld commented on #22081
Ah we're mixing both right now in a single [benchmark](https://github.com/ruby-bench/ruby-bench-suite/blob/b6466b277c49d8917a0a9ea8f113fbc470407143/rails/benchmarks/bm_activerecord_scope_where.rb).

I'll look into splitting it up :smile:

[2015-10-27 04:14] sgrif commented on #22081
Thanks. These will have different performance characteristics. Though
theoretically we can prepare the string form as well it will be a
nontrivial amount of work atm

On Mon, Oct 26, 2015, 10:12 PM Guo Xiang Tan <notifications@github.com>
wrote:

[2015-10-27 05:32] thejamespinto opened #22082 "Route generator should be idempotent"
If you run

[code]

your routes.rb file is going to look like this

[code]

this is not a big deal at first,
however this does not look good with Rails Engines,
as you will get the following error

|   |   |
|---|---|
| ![screen shot 2015-10-27 at 3 24 03 am](https://cloud.githubusercontent.com/assets/335238/10750239/3e26d576-7c5a-11e5-85ef-2c9fa26162ac.png)  |  /Users/tj/.rvm/gems/ruby-2.2.3/gems

[2015-10-27 09:19] kibs commented on #20148
@kapso Did you find a solution for your issue?

[2015-10-27 09:27] kapso commented on #20148
Nope, I ended up using a different "test" schema and it worked great. Using `apartment` which I highly recommend - https://github.com/influitive/apartment

[2015-10-27 09:32] tak1n opened #22085 "Rake task initializers"
When running `rake db:migrate` the initializers are executed but when running `rake db:create` they are not. Is this the appropriate behavior because it feels kinda inconsistent?

For now we solved it through appending this to our Rakefile:

[code]

[2015-10-27 09:52] arunagw commented on #22074
As I can see in current version by setting this every assets gets this path appended.

[2015-10-27 10:20] arunagw commented on #22070
I think it's also same as https://github.com/rails/rails/issues/22074

[2015-10-27 10:31] arunagw commented on #20202
Hey @jfornoff do you still have this issue? Can this be closed?

[2015-10-27 10:38] jfornoff commented on #20202
Still got the above monkeypatch running in my project, I'll try disabling it on 4.2 stable release and check if the issue is still present. Will be at work around thursday, I'll get back to you!

[2015-10-27 11:17] Sinjo commented on #18027
@stereoscott Do you have a unique constraint on that table by any chance? We've run into many instances of this bug now (having recently switched on transaction pooling in PgBouncer) and every instance we've seen coincided with the violation of a unique constraint.

[2015-10-27 13:01] maxcal commented on #22074
Forgot to mention this was tested on 4.2.1

[2015-10-27 13:32] #22072 closed

[2015-10-27 14:04] al2o3cr commented on #22058
This seems like it may be related to #18660 - the doubled `_helper.rb` is a common symptom of both.

[2015-10-27 14:24] rafaelfranca commented on #22058
Yeah. Closing in favor of that issue.

[2015-10-27 14:24] #22058 closed

[2015-10-27 14:27] arunagw commented on #22072
@kuon this has been fixed in master by https://github.com/rails/rails/commit/7a9ce69ce081a0c186a23806c1af1f71c697ea77

[2015-10-27 14:46] scottconnerly opened #22088 "Making ActiveSupport::TimeZone.MAPPING a data file"
RE: https://github.com/rails/rails/blob/master/activesupport/lib/active_support/values/time_zone.rb

I'm a PHP developer. Our application environment can only give us the FULL list of time Zones (and the Links too) in one 417 item object. I've been hunting for this beautifully named and concise list (of currently 149) that you maintain in ActiveSupport::TimeZone. If you were to make that data avai

[2015-10-27 14:55] senid231 opened #22089 "mismatch setting and preloading of polymorphic association for STI models"
let see we have polymorphic table
[code]

when we set association:
[code]
when we preload polymorphic association:
[code]

i think its because on association.writer it uses `name` of base_class
[code]
and on preloading it uses `sti_name` of base_class
[code]

[2015-10-27 15:04] senid231 commented on #22089
i change `sti_name` method to fix this issue
[code]
but it smells

[2015-10-27 15:20] kuon commented on #22072
Yep, I saw that, great!

[2015-10-27 15:42] rafaelfranca commented on #22088
Related with #13852.

If that change is implemented we may extract it to a YAML file but there is no promise about it.

I'm closing this issue since we don't take feature requests in the issue tracker but it is linked to the PR so we can reference this issue when implementing.

[2015-10-27 15:42] #22088 closed

[2015-10-27 16:44] chewi commented on #1755
This should be reopened. The issue was fixed in mikel/mail#70 but Rails overrides the fix with it's own arguments, including -t.

[2015-10-27 17:48] repinel commented on #22066
This can be fixed by #21020

[2015-10-27 18:26] rafaelfranca commented on #22085
Yes. It is the appropriate behavior. We avoid loading the environment if it is not needed, and to create the database it is not

[2015-10-27 18:26] #22085 closed

[2015-10-27 18:44] rafaelfranca commented on #1755
r? @jeremy

[2015-10-27 21:57] samphilipd opened #22092 "Running multiple migrations simultaneously can cause race conditions (on Postgres, probably on others)"
Currently it seems that the `rake db:migrate` task does not try to get any kind of exclusive 'migrator' lock on the database (at least for Postgres, I haven't tested for other databases).

This results in a problem where running multiple migrations simultaneously from different threads/machines can cause undefined behavior or migration failures. This is especially a problem with Rails deployments

[2015-10-27 22:15] rafaelfranca commented on #22092
Is not implementing this being too defensive? Who is running the migration, is not the developer? I can't imagine this happening without being a human error, and yes, we can try to not allow that, but I'm usually against writing code to defend against human error without evidence that this error happens a lot.

[2015-10-27 22:21] samphilipd commented on #22092
@rafaelfranca You are correct, in an ideal world the developer would do work to ensure only one migration process is run at the same time.

However in our case, this is is actually a common problem that we run into on a regular basis while deploying to Amazon Opsworks, where migrations are run by default on multiple machines simultaneously when deploying.

And in fact, anybody who deploys to multi

[2015-10-27 22:34] rafaelfranca commented on #22092
Is the multiple machines running the same set of migrations against the same database? If that is the case does not make sense to run the migrations in only one machine. That way you would never be in this case.

[2015-10-27 22:41] samphilipd commented on #22092
Yes, they are running the same migrations against the same database.

And yes, the solution is to run it on only one machine, but there is another problem with doing this - if you run migrations on one machine and skip it on the others, the other instances are likely to restart their servers before the migration has completed resulting in an out of date schema cache.

As running the migration on a

[2015-10-27 22:45] rafaelfranca commented on #22092
Yeah, that make sense. Your approach seems reasonable. Feel free to work on it.

[2015-10-27 23:21] saurabhbhatia commented on #22092
@samphilipd Are you trying to run a migration through their internal recipe or a custom recipe of yours ? The reason I ask is, I do production deploys to opsworks everyweek and schema version number is the exactly the same across the instances. So my guess is, it runs it one place and replicates the schema file over other instances. It has worked out perfectly fine so far for me. Also, there is no

[2015-10-28 00:08] #16032 closed

[2015-10-28 11:28] mikhailov commented on #22070
To make Rails app accessible via URI Nginx has a trick called trailing slash that works as you expect for:

[code]

One more thing to do is static content needs a prefix now:

[code]

However you need an Nginx up and running in development as your redirect_to needs to happen against new URI (/my_rails_root/). Do you have any other ideas?

[2015-10-28 13:11] MaximeRDY opened #22097 "Multi-thread bug in rake task"
Hello guys,

I use `Rails 3.2.22` and  the gem [Parallel](https://github.com/grosser/parallel). And I think I'm gonna be crazy because of class loading.

I use [DelayedJob](https://github.com/tobi/delayed_job) background job on **Heroku** and randomly some of my class is not defined and I have this kind of error `NameError: uninitialized constant  RequestAvailabilityForRoutes`. So the first thing

[2015-10-28 13:53] matthewd commented on #22097
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-10-28 13:53] #22097 closed

[2015-10-28 13:54] matthewd commented on #22097
(Also, Rails 3.2 is no longer supported.)

[2015-10-28 14:35] claudix opened #22098 "The way we write code of controllers in mountable engines should be the same as the main application's ones."
I've been struggling for a long time to find out what was making my web application go wrong. You can read the full story [here](http://stackoverflow.com/questions/33387039/rails-sometimes-issues-nomethoderror-when-calling-an-inherited-method-from-an-en/33388108).

In summary, I discovered that controllers in mountable plugins must contain a `require_dependency` line at the top of the controller f

[2015-10-28 14:44] rafaelfranca commented on #22098
@fxn do you know about this?

[2015-10-28 14:57] fxn commented on #22098
@rafaelfranca no, but from the description I suspect it is a case of [this gotcha](http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#when-constants-aren-t-missed).

[2015-10-28 15:20] claudix commented on #22098
Good point @fxn ... If it's just a gotcha and no fixing is planned, I think this issue should be at least documented in the [Getting Started With Engines](http://guides.rubyonrails.org/engines.html). That's the entry point of anyone who starts writing engines and the tutorial doesn't say a word about this (maybe because it's assumed the reader will use scaffoling).

[2015-10-28 16:28] fxn commented on #22098
@claudix yeah... as you see it is an intrinsic problem. Saying something in the guide sounds great, maybe a warning in [this section](http://guides.rubyonrails.org/engines.html#overriding-models-and-controllers#app-directory#app-directory)?

[2015-10-28 16:47] claudix commented on #22098
Your link is broken but I guess you mean the ['app directory' section](http://guides.rubyonrails.org/engines.html#app-directory). I think it's the best place to put the warning into because there's currently a hint that is actually confusing (it somehow encourages the reader to write the controller as in a normal application):

    The ApplicationController class inside an engine is named
    just

[2015-10-28 18:13] fxn commented on #22098
@claudix I encourage you to write a patch with the warning if you liked to contribute to Rails. We have [some guidelines](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation), it would be a matter of opening a PR and cc for example me.

What do you think?

[2015-10-28 18:37] sgrif commented on #13609
Fixed by #18548

[2015-10-28 18:37] #13609 closed

[2015-10-28 18:38] sintro opened #22100 "ActiveRecord::QueryMethods unscope for nested attributes"
Hello! I faced the problem with applying ActiveRecord::QueryMethods unscope method for nested attributes, when I need to remove where: for included associated model's attribute. Here it example:

[code]

In this case the unscope method is helpless (as I can judge from results and source code).
Of course, in this case I could use more effective ways to perform such queries, but in my real example I

[2015-10-28 18:41] rafaelfranca commented on #22100
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-10-28 18:57] Sinjo opened #22102 "Support PgBouncer in transaction-pooling mode"
An issue people frequently run into when scaling apps that use Postgres is high memory use per-connection on the Postgres server. This is commonly solved by running PgBouncer in transaction-pooling mode in front of Postgres to share those connections between many clients (Heroku [recommend this approach](https://devcenter.heroku.com/articles/concurrency-and-database-connections#limit-connections-w

[2015-10-28 19:06] matthewd commented on #22102
What's "this"?

As written, this sounds like a discussion for the mailing list. Is there a specific issue we can fix? (Other than #22101)

[2015-10-28 19:07] samphilipd commented on #22092
@saurabhbhatia yes, we are using the default recipe. The default recipe runs migrations on all machines. You probably haven't noticed issues because your migrations complete fairly quickly.

We have some migrations for large tables (500,000+ rows) that take a long time, and this is where the race is triggered.

@rafaelfranca PR is here: https://github.com/rails/rails/pull/22103

[2015-10-28 19:23] Ch4s3 commented on #18902
`rails routes -g <pattern>` would be nice. What would be killer for me would be a -c option for finding routes for controllers and their actions. Something like `rails routes -c some_controller:some_action` or `rails routes -c some_controller`.

[2015-10-28 19:32] kaspth commented on #18902
@Ch4s3 take a look at the linked PR which does exactly that :grin:

(There's also a CONTROLLER env variable for this currently, but don't get too attached as I'd like to deprecate it :smile:)

[2015-10-28 19:34] claudix commented on #22098
Sure, @fxn! I'll take a look at the guidelines and open a PR. May I contact you directly for questions/doubts about them? (segur que ens entendrem ;-) )

[2015-10-28 20:54] Ch4s3 commented on #18902
@kaspth oh awesome! Yeah, that env variable seems odd to me.

[2015-10-28 21:00] arthurnn commented on #22102
i guess the issue and the fix are already on #22101 , so closing this

thanks

[2015-10-28 21:00] #22102 closed

[2015-10-28 21:52] gollawil commented on #17511
+1

Just upgraded to rails 4 and would like to take advantage of the built-in Enum class, but I have models with multiple 'status' columns that have some overlapping values('success, 'error', etc).

The custom Enum class we currently have defined works exactly as @dgsan is suggesting:
instead of ``model.success?`` we use ``model.col1.success?`` and ``model.col2.success?``

Would like to see this a

[2015-10-28 22:07] igas commented on #17511
@gollawil take a look at #19813

[2015-10-28 22:31] gollawil commented on #17511
@igas looks like that is coming out with rails 5.

Guess I can add it in myself.

[2015-10-28 22:32] Sinjo commented on #22102
I'm cool with moving this to the mailing list if that's the right place. The thing I want to address specifically is to make it easy for people to get this right. It's a really subtle problem, and not too uncommon a setup.

The two ideas I have on that are providing documentation for using Rails with PgBouncer and adding a flag into ActiveRecord. Is the mailing list a better place for discussing t

[2015-10-28 23:10] voltechs commented on #15241
I apologize if this is a question with an obvious answer, but uh, what is the workaround for something like this? I can't even track down where this NaN is coming from... what's the downside to automatically returning nil/null?

[2015-10-29 00:26] fxn commented on #22098
Macasundena ets català! I tant tio! 😀

[2015-10-29 09:04] SxDx opened #22113 "bin/rake environment fails"
[code]

Fresh rails app, default gems + capistrano for deployment

[code]

The line
[code]
is hundreds of times in the backtrace.

[2015-10-29 10:39] sintro commented on #22100
Here is it, I reviewed as many cases to unscope :approved key, as possible
https://github.com/sintro/rails_unscope_test/blob/master/unscope_test.rb

[2015-10-29 11:59] zetter commented on #21948
An update:
+ I've deployed the change to serve all pages of our application to use a 'no-store' header. We're tracking how many times we see invalid authenticity token errors so next week I should be able to report how effective this change was for us.
+ I've tried fixing the issue in Mobile Safari by experimenting with  (such as hooking into load/unload events). I plan to raise a bug with Webkit/

[2015-10-29 14:42] KevinSjoberg opened #22117 "I18n translations for labels used within fields_for"
Translations for labels used in a form builder can be set using the following format:

[code]

However when using `fields_for` the exact format isn't documented. I fiddled with this myself and found out translations can be added by using the following format:

[code]

This looks a bit funky to me. Is it supposed to be like this or is it a side effect of the current implementation? For reference, I

[2015-10-29 15:00] zetter commented on #21948
My investigation into Django:

Django uses a similar mechanism to rails to prevent CSRF attacks- a token is stored in a cookie is compared to a tokens submitted with a form. What is different is how they store the token in a cookie in the default case:

### Comparing Rails and Django

[Rails adds the token to the session cookie](https://github.com/rails/rails/blob/0450642c27af3af35b449208b21695fd5

[2015-10-29 15:30] #21886 closed

[2015-10-29 15:46] jeremy commented on #21948
Thank you for the investigation and writeup, @zetter. Agree with Django's reasoning and decision 👍 May be a bit tricky to introduce to Rails apps in a compatible way, though.

[2015-10-29 17:29] repinel commented on #21358
@elfassy Could you clarify the issue? Thanks

[2015-10-29 17:29] sgrif commented on #11571
We'v rejected the PRs for this issue, so I'm closing this as wontfix.

[2015-10-29 17:29] #11571 closed

[2015-10-29 18:02] pixeltrix commented on #21198
@maxjacobson as @thedarkone points out anytime you're dealing with autoloading of constants you need to use `require_dependency`. It's better to try and work within the app directory for reloadable code - for instance add a app/lib directory for code that's actively been worked on that doesn't fit one of the other directories.

[2015-10-29 18:02] #21198 closed

[2015-10-29 18:49] arthurnn commented on #22102
@Sinjo yeah I think this deserves a discussion indeed and you will get more thoughts on it from the mailing list.
thanks

[2015-10-29 20:13] muffy commented on #18027
I've noticed it happens almost any time we run rails migrations on our db.

[2015-10-29 22:34] sgrif commented on #21168
Fixed by #20329

[2015-10-29 22:34] #21168 closed

[2015-10-29 22:35] Soleone commented on #13496
I just ran into a similar issue. I am only working with MySQL here (slightly related #522):

If I understand correctly `update_all` using `joins` _only_ works without using a `limit` or `offset` with the mysql adapter.

Once you add a `limit` or `offset` the underlying query that gets generated for mysql uses an anonymous subquery and then you can no longer reference a column from the joined table

[2015-10-29 22:54] sgrif commented on #21041
Gah forgot to mention in the commit message. Fixed by https://github.com/rails/rails/commit/21a386bb0726cce4f4a5d64d55fbb55d8a2b9837

[2015-10-29 22:54] #21041 closed

[2015-10-29 23:15] rafaelfranca commented on #22117
Looking at that PR that you liked it should not be like that. That PR even added tests to make sure it is not.

[2015-10-29 23:15] rafaelfranca commented on #22117
Could you take a look?

[2015-10-29 23:40] rafaelfranca commented on #22113
Can you please provide a sample application that reproduces the error?

[2015-10-30 02:25] sbwoodside opened #22123 "Renaming a table in migration, doesn't update an index when the name is very long/cut off"
I have renamed a model/table with a long name: SurveyQuestionResponse to LabelMeasurementResponse. The migration is:

    class RenameSurveyQuestionResponseToLabelMeasurementResponse < ActiveRecord::Migration
      def change
        rename_table :survey_question_responses, :label_measurement_responses
        rename_column :text_response_measurement_responses, :survey_question_response_id, :label

[2015-10-30 06:21] rdavila commented on #22123
@sbwoodside I don't think this is a bug, it's a expected behaviour from Rails to play nice with the constraints of your Database. When working with large field names you may want to use a custom name.

In this case you can rename your index with:
[code]

[2015-10-30 07:43] atul-shimpi commented on #21951
Its working for me.
Environment
----------------------------
Ubuntu 15.4
Rails 4.2.4
ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-linux]

Gemfile.lock
actionpack-action_caching (1.1.1)
      actionpack (>= 4.0.0, < 5.0)
    actionpack-page_caching (1.0.2)
      actionpack (>= 4.0.0, < 5)
============================================================
Can u check if the index.file is present in t

[2015-10-30 09:07] atul-shimpi commented on #22123
rename_index will also cut the index name
Max index length is 64. This is forced by ActiveRecord

See below code snipper from activerecord, databaselimites.rb
 # Returns the maximum allowed length for an index name. This
      # limit is enforced by rails and Is less than or equal to
      # <tt>index_name_length</tt>. The gap between
      # <tt>index_name_length</tt> is to allow internal rails

[2015-10-30 09:08] atul-shimpi commented on #22123
@rafaelfranca
We can close this bug.

[2015-10-30 11:03] atul-shimpi commented on #22113
@SxDx
You have mentioned ruby 2.2.3p173, but deployment is referring ruby 2.2.0 (/usr/lib/ruby/2.2.0/)

[2015-10-30 11:03] #22123 closed

[2015-10-30 13:57] ajm188 commented on #21358
If I had to guess, @elfassy is not rendering twice in the same action. I believe the question is about why rendering a template returns control from the controller action immediately, but rendering json does not.

[2015-10-30 14:45] existent-co-uk commented on #15255
This is affecting me too, in 4.2.4; definitely still an issue

[2015-10-30 15:44] sgrif commented on #20612
#12071 (Feature)

[2015-10-30 16:13] abrisse commented on #21469
@rafaelfranca : any update?

[2015-10-30 16:33] joseluistorres commented on #13496
@Soleone I would suggest you use plain SQL there, I investigated this myself to see why it fails and it goes back to Arel, not a clear solution actually :flushed:

[2015-10-30 16:46] Soleone commented on #13496
@joseluistorres okay thanks! for now i will probably do plain SQL.

unfortunately in the framework i'm using right now we expect relations to be passed around (e.g. `CardInteraction.joins(:card)` to automatically append `limit` and `offset` clauses to iterate through millions of rows on several sharded databases). would be cool if eventually activerelation would be able to support this, but not su

[2015-10-30 18:29] vindvaki opened #22127 "3.2-stable with ruby 2.x: ActiveSupport::OrderedHash#to_yaml broken because YAML = Psych"
The problem boils down to first few lines of the method
[code]
in [`activesupport/lib/active_support/ordered_hash.rb`](https://github.com/rails/rails/blob/3-2-stable/activesupport/lib/active_support/ordered_hash.rb#L33)

The reason it is broken is that [in Ruby 2.x, YAML::ENGINE is no longer defined](http://ruby-doc.org/stdlib-2.0.0/libdoc/yaml/rdoc/YAML.html). Instead, we basically have [`YAML =

[2015-10-30 18:55] rafaelfranca commented on #22127
Rails 3 is not supported anymore.

[2015-10-30 18:55] #22127 closed

[2015-10-30 19:57] aripollak opened #22129 "model.associations.reload.last is not deterministic"
`model.associations.last` and `model.associations.reload.last` behave differently; the former gets the last record deterministically by ordering by the primary key automatically, but the latter does not order at all. This is surprising and seems like a bug. Failing reproduction test case:

[code]

[code]

[2015-10-30 20:43] samphilipd commented on #22092
@rafaelfranca this issue can be marked resolved, it was fixed in my PR here: https://github.com/rails/rails/pull/22122

[2015-10-30 20:45] #22092 closed

[2015-10-30 22:14] vindvaki commented on #22127
Fair enough. But if I were to submit a pull request, would that have any chance of getting included in 3.2-stable? I ask, because [3.2.22 was claimed to have support for ruby 2.2](http://weblog.rubyonrails.org/2015/6/16/Rails-3-2-22-4-1-11-and-4-2-2-have-been-released-and-more/), and before that these changes were on 3.2-stable.

[2015-10-31 00:44] gollawil opened #22132 "Enum not functioning correctly after prefix/suffix code added"
[code]
I have patched in the latest code for ``enum.rb``  as ``config/initializers/enum_patch.rb`` because I need the prefix/suffix support. However things are not working as expected, even without using the prefix/suffix option.

Model:
[code]

Console (no patch):
[code]

Console (latest code):
[code]

[2015-10-31 01:52] mastertechrv opened #22134 "undefined method `relation_delegate_class' for Workorder:Module"
[code]

[2015-10-31 02:34] scottconnerly commented on #22088
FYI, here is the repo I made to scrape time_zone.rb.
https://github.com/scottconnerly/timezone
If/when you do move it to a YAML, please let me know, and I'll update my repo to pull from that.

Thanks

[2015-10-31 04:42] shingo-nakanishi opened #22135 "Document of ActiveRecord::Core::ClassMethods#find_by in ActiveRecord::FinderMethods#find_by ?"
https://github.com/rails/rails/blob/428d47adfed8d6aa7b21aec2bf5ad890961c9de3/activerecord/lib/active_record/relation/finder_methods.rb#L75

Document(comment) say

[code]

I think  `Post.find_by` call `ActiveRecord::Core::ClassMethods#find_by`, not `ActiveRecord::FinderMethods#find_by`.

`Post` is `Class`.
`Post.find_by` is class method.

other methods document in `rails/activerecord/lib/active_rec

[2015-10-31 09:57] SxDx commented on #22113
@rafaelfranca I can't seem to reproduce it now, simply created a new app and copied the configuration over.
Feel free to close this.

[2015-10-31 10:23] kaspth commented on #22134
We reserve the issue tracker for bugs only. Please the Rails talk mailing list or Stack Overflow for help.

[2015-10-31 10:23] #22134 closed

[2015-10-31 11:54] mastertechrv commented on #22134
i believe this is a bug...

[2015-10-31 12:46] atul-shimpi opened #22139 "Edge Guides - ActiveRecord Migrations - Remove 'required' option for column"
Edge guide says 'required' as one of the options for adding or changing columns in migration methods

Url : http://edgeguides.rubyonrails.org/active_record_migrations.html
Section : 3.5 Column Modifiers
Section Content :
Column modifiers can be applied when creating or changing a column:
**required** Adds required: true for belongs_to associations and null: false to the column in the migration.

H

[2015-10-31 16:28] #22113 closed

[2015-10-31 17:01] gollawil commented on #22132
Update:

It looks like the issue is with the patching of the code and not the code itself. I used the code as it was when 4.2.4 was released ([here](https://raw.githubusercontent.com/rails/rails/8e103d182412b9e9e5bd28c17bb83759882a4389/activerecord/lib/active_record/enum.rb)) and I'm having the same issue.

Does anyone know what the cause of this is, and what the solution is?

[2015-10-31 17:07] kaspth commented on #22134
Can you provide a sample application that reproduces the issue?

[2015-10-31 17:10] kaspth commented on #22132
We can't provide support for custom backports of features. Try Rails talk or Stack Overflow 😁

[2015-10-31 17:10] #22132 closed

[2015-10-31 18:52] samphilipd commented on #12330
@jingweno I tried digging into this today and could not for the life of me reproduce the issue.

Do you have a gist where you can reliably reproduce it?

[2015-10-31 19:46] tmgardner commented on #12330
I have some tests in the PR I sent that reproduce it. From the notes:

[code]

https://github.com/tmgardner/rails/blob/c0e1141e1a197101fc778cabcb46f878ca786f98/activerecord/test/cases/hot_compatibility_test.rb

[2015-11-01 00:51] sealocal opened #22144 "Improve MimeResponds respond_to documentation"
The documentation for the [respond_to](https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/metal/mime_responds.rb#L186) method could be improved by adding another basic example.

It is documented that a controller action can respond to multiple formats.

[code]

We can express the same controller action as:

[code]

The method signature is clear for an experienced Rubyist,

[2015-11-01 09:02] #22082 closed

[2015-11-01 15:35] samphilipd commented on #12330
@tmgardner this looks like you already wrote a fix... any reason why this wasn't approved for merge into Rails master?

[2015-11-01 16:17] tmgardner commented on #12330
PR was here: https://github.com/rails/rails/pull/18685

[2015-11-01 16:36] pixeltrix commented on #22144
Yes, it would be helpful - also can you look at the remaining references to `ActionController::MimeResponds.respond_to` - this was extracted out to the responders gem along with `respond_with` in Rails 4.2.

[2015-11-01 16:51] samphilipd commented on #12330
@tmgardner I took a look at your test case and it seemed to all pass fine on most occasions except about 20% of the time it would fail. It took me a while but I narrowed it down to this test case which reliably re-produces a cached prepared statement failure: https://gist.github.com/samphilipd/8ba5d425b797650bbf3d

However this only comes after dropping and recreating a table. I could not reproduc

[2015-11-01 19:55] pixeltrix commented on #22089
As discussed in #4729 and #5441 the fact that `belongs_to polymorphic: true` uses `base_class` is intentional - it indicates where to look for the records and not what class to use when instantiating the object which is where the `type` column on the table comes in. For your schema you don't need to use `polymorphic: true` since all of the records are in the same table - just organise your models

[2015-11-01 19:55] #22089 closed

[2015-11-01 19:56] tmgardner commented on #12330
@samphilipd Dusted off my rails dev environment and spent some quality time with byebug. Here's an updated reproducer against current master that fails on an update to date rails-dev-box: https://github.com/tmgardner/rails/pull/2/files

I stripped out all the other stuff.

The old one was busted because the DDL statement causes the connection to drop it's prepared statements; I suspect this is new

[2015-11-01 20:14] bussiere opened #22148 "ActiveRecord::StatementInvalid: PG::ProtocolViolation: ERROR: bind message supplies 1 parameters, but prepared statement "a1" requires 0 : SELECT "groups".* FROM "groups" WHERE "groups"."id" = 0 LIMIT 1"
I have this error
    ActiveRecord::StatementInvalid: PG::ProtocolViolation: ERROR: bind message supplies 1      parameters, but prepared statement "a1" requires 0 : SELECT "groups".* FROM "groups" WHERE "groups"."id" = 0 LIMIT 1
Here are my versions of urby and rails     :
discourse@057b1d5b9339:~/discourse$ ruby -v
ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]
discourse@057b1d5b9339:~

[2015-11-01 21:34] pixeltrix commented on #22129
@aripollak actually I'm not sure this is a bug - calling `first` or `last` on an unloaded association isn't the same as on a reloaded association. If you look at the implementation of [`fetch_first_nth_or_last_using_find?`][1] then you'll see that it only hits the database if it's unloaded.

You can see this when you adjust your test case slightly:

[code]

If you run this the tests will pass. I'd

[2015-11-01 21:51] samphilipd commented on #12330
@tmgardner thanks, this is excellent.

Here is the gist I am using to test now: https://gist.github.com/samphilipd/61e3844f4f89b20b1dc4

The interesting thing is that it seems that outside of transactions prepared statement caches are automatically dumped and the individual query is retried successfully on failure:

[code]

The problem is that within a transaction, we can't retry naively because P

[2015-11-01 21:57] aripollak commented on #22129
@pixeltrix oh yeah, I didn't even notice that `reload.first` had no `LIMIT 1`. It is surprising though; it doesn't seem like the ordering should depend on whether or not the collection has been cached. Would it make sense to have `load_target` always order the results?

[2015-11-01 22:06] benmullin333 opened #22151 "ensure reset_password does not 500"
https://shuddle.pagerduty.com/incidents/PX2VRDL

[code]

[2015-11-01 22:09] kaspth commented on #22151
Think you filed this the wrong place :grin:

[2015-11-01 22:09] #22151 closed

[2015-11-01 22:31] pixeltrix commented on #22129
Possibly but that may have a negative impact on performance so we'd need to consider it carefully.

[2015-11-01 22:45] pixeltrix commented on #22148
@bussiere this appears to be either a bug in Discourse or your changes to your copy of it - please try the support channels for Discourse and the Discourse bug tracker first. If you can reproduce the error in a simple Rails app or using the standalone test script we'll re-open the issue and take another look.

[2015-11-01 22:45] #22148 closed

[2015-11-02 00:07] elfassy commented on #21358
ajm188 is correct, the issue is that `render 'template'` will return so anything after will not run, but with `render json:` it does not return and in my example the `@out` instance variable is set.

[2015-11-02 05:27] sescobb27 opened #22153 "Many to Many relationships creation Error: stack level too deep"
Hi, I'm just migrating a rails project from 4.2.0 to 4.2.3 but all my Many to Many relationships creation start failing with `stack level too deep`
[code]
 what's the new way to do it? as a workaround I'm just building the relations manually
[code]

[2015-11-02 06:03] pixeltrix commented on #22153
@sescobb27 there isn't a new way to do it and it certainly shouldn't break going from 4.2.0 to 4.2.3. Since this is a commonly used feature of Rails there's probably something unique to your setup that's contributing to the error so it'd be really helpful if you can reproduce the bug using the [Active Record bug report template][1] - this will allow us to track down the problem much quicker.

If y

[2015-11-02 07:07] williscool opened #22154 "ActiveRecord::QueryCache and migration pending should disable if there is no database connection"
I had one hell of a time working on a status route for a rails 4.2.1 app

chronicled here https://gitter.im/rails/rails?at=5636b7b53d7306ae0f297155

because QueryCache was expecting the database to be up

solved with this rack middleware

[code]

and then obviously

[code]

[2015-11-02 07:23] williscool commented on #22154
This is also an issue with migration pending check as well https://github.com/rails/rails/blob/v4.2.1/activerecord/lib/active_record/migration.rb#L384

[2015-11-02 08:19] sealocal commented on #22144
I see one reference that says to be sure to check the documentation for the class method `ActionController::MimeResponds.respond_to`.

I added the example I mentioned and removed the reference to the extracted class method.

Here's a compare: https://github.com/rails/rails/compare/master...sealocal:master

What do you think? Is that sufficient to open a PR to Rails master?

[2015-11-02 14:33] zedtux commented on #12330
Solution 2 +1

[2015-11-02 14:53] jith51 opened #22157 "STI HAS_ONE THROUGH ISSUE"
Hi,
I recently posted on the issue [6663](https://github.com/rails/rails/issues/6663).
But I realized that it was closed.
So I open a new issue (which has the same content )  and join the report_bug_template below.

[code]

Below the wrong generated SQL for the last assertion :

[code]

[code]

[code]

And the expected SQL :

[code]

[code]

[code]

[2015-11-02 15:44] jingweno commented on #12330
@samphilipd Thanks for looking into this! +1 to solution 2.

[2015-11-02 15:47] Ch4s3 commented on #19001
I have the same problem. `rake db:reset` seems to fix it until migrations get run with `rake db:migrate`, `bundle exec rake db:migrate` doesn't seem to help.

[2015-11-02 15:56] AnthonyIsaacs commented on #19001
Just run `rake db:drop db:create db:migrate` and then re-seed. For some reason my postgres DB had that limit on strings, so any `db:migrate` would run the `db:schema:dump` and pick up on the limit in postgres. Dropping will clear that structure.

[2015-11-02 16:06] tmgardner commented on #12330
I have some concerns about solution 2; I don't think transaction blocks retried before, and the ruby code may have side effects which make the retry dangerous. I was curious if we'd have problems with them, so I poked around in our code base for what, if anything would break; as expected, for it's generally fine, with a few notable exceptions (like our use of the [ar_after_transaction gem](https:/

[2015-11-02 17:34] matthewd commented on #12330
Yeah, we're definitely not going to automatically retry anything.

[2015-11-02 17:43] samphilipd commented on #12330
@matthewd if we can't automatically retry transactions, the only other possible option I can see is to disable prepared statements completely inside of transactions. This has a performance penalty but there is no other way I can see to avoid hitting this bug.

@tmgardner's change would fix half of the problem - adding columns - but not removing, changing the type or renaming them.

[2015-11-02 17:50] matthewd commented on #12330
I'm fine with that. We might ultimately consider a change that helps with those situations too, but that's a separate matter: we already have other situations (`eager_load`) where we explicitly enumerate the columns in a table.

We could also more conservatively improve things by holding the deallocate until after we rollback -- so the first request still fails, but we correctly fix our statement

[2015-11-02 17:50] tmgardner commented on #12330
@samphilipd Right, so the "full solution" with the no-select-* plan is you have to do follow the patterns in: http://pedro.herokuapp.com/past/2011/7/13/rails_migrations_with_no_downtime/

If you're removing a column; you have to push code that removes it from the schema cache before the migration. Changing type and renames have to happen in multiple steps.

[2015-11-02 17:52] samphilipd commented on #12330
What about if we offer a Rails configuration option, e.g. on `PG::PreparedStatementCacheOutdated` in transactions set to either `fail` or `retry`. Set the default to `fail` which would mirror the current outcome, and if users are comfortable with retrying they can set the `retry` option.

[2015-11-02 18:03] kv109 commented on #22022
Hi!

I believe I was able to create even simpler test (based on @bughit work):

[code]

[2015-11-02 18:06] samphilipd commented on #12330
@matthewd actually, this isn't a problem. It looks like we already do deallocate after rolling back. In the SQL logs above, we attempt a deallocation inside the transaction, which fails. Then we deallocate again after the transaction rolls back.

[2015-11-02 18:22] tmgardner commented on #12330
@samphilipd I think that's the disconnect that's issuing the dealloc; in the normal case, it stays in the prepared query cache and keeps failing. I changed the reproducer to show this: https://github.com/tmgardner/rails/pull/3

[2015-11-02 19:14] samphilipd commented on #12330
@tmgardner aah you are quite right. OK, I will go ahead with properly deallocating outside of a transaction and re-implementing your previous PR of explicitly named columns.

This isn't a complete fix but it's an improvement for sure.

FYI: here is a rough draft of what it looks like to auto-retry https://github.com/samphilipd/rails/commit/408557aaee7c6a9dd14a4056a77fe146c58816a9

[2015-11-03 00:21] bughit opened #22161 "ActiveRecord::HasOneThroughCantAssociateThroughCollection restriction is unnecessary"
a regular has_one is just a has_many with a limit 1
so a has_one_through_many should just be has_many_through_many with a limit 1

[2015-11-03 01:02] kv109 commented on #22022
Hi!
I would like to start contributing to Rails. I thought this issue could be a good start.

I was looking at `ActiveRecord::Relation::Merger` code, especially [`#merge_joins`] (https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/merger.rb#L107-L129) method. I realised that if you merge the same relation more than once, sql will be simply duplicated.
Probably there

[2015-11-03 01:25] sescobb27 commented on #22153
I wasn't able to reproduce it, the bug report template worked as expected but here is the stack trace I'm getting in my tests.
[code]

[2015-11-03 01:33] sescobb27 commented on #22153
I think is bullet related
https://stackoverflow.com/questions/33297134/stack-level-too-deep-on-creation
https://stackoverflow.com/questions/33134224/how-can-i-correct-a-systemstackerror-stack-level-too-deep-on-habtm-relations

[2015-11-03 01:44] bughit commented on #22161
[code]

##### `p.special_comments`
[code]

##### `p.special_comment`
[code]

##### `b.special_comments`
[code]

##### `b.special_comment`
[code]

[2015-11-03 08:43] pixeltrix commented on #22153
Yep, there's a comment on the second link that it's been fixed by a recent commit to Bullet - if it's not been released yet I suggest trying the master branch to see if that fixes your problem.

[2015-11-03 08:43] #22153 closed

[2015-11-03 11:49] jith51 opened #22169 "Reflexive has_one through with proc issue"
Hi,
I recently posted on the issue [6663](https://github.com/rails/rails/issues/6663). My post extended the issue concerning has_one through statement with STI to has_one through statement with proc and reflexive class.

As this isssue is closed, I open a new issue and join the report_bug_template below.

[code]

Below the wrong generated SQL for the last assertion :

[code]

[code]

[code]

And t

[2015-11-03 11:57] pixeltrix commented on #22169
@jith51 is this the same as #22157 that you opened yesterday?

[2015-11-03 13:31] jith51 commented on #22169
Hi,

Both concern has_one through relation and bad aliasing but :
- The first https://github.com/rails/rails/issues/22157 concern STI association
- This issue concern reflexive association with PROC (scope)

I have looked in the code and perhaps the both issues come from the main source. I think the method target_scope line 14 in [through_association.rb](https://github.com/rails/rails/blob/7f18ea1

[2015-11-03 15:41] samphilipd commented on #12330
@matthewd here is a PR that holds the deallocate until after rollback https://github.com/rails/rails/pull/22170

This actually fixes the original issue addressed right at the top of this thread.

[2015-11-03 19:49] trcarden opened #22171 "ActiveSupport::JSON.decode Fails Decoding ISO8601 Date/Time String"
When using activesupport to parse JSON a seemingly valid datetime string (``"2015-02-14T02:21:34"`) seems to not get parsed into a valid datetime.

Full example:
[code]

I believe the string `"2015-02-14T02:21:34"` is a valid iso8601 datetime string (it just doesn't have a timezone indicator).

If you trace the source of this it goes to `activesupport/lib/activesupport/decoding.rb` and the regular

[2015-11-03 19:59] chancancode commented on #22171
Seems good! Do you mind sending a PR and adding a test?

[2015-11-04 03:38] yoonsy opened #22175 "cookie dose not set correctly."
I am using Rails ver 3.2.13.

let suppose, my domain is `mydomain.com`.
In browser, there is already cookie named 'xxxx' like below.
`xxxx=xxxx; path=/; expires=Sun, 04-Nov-2035 03:29:43 GMT; HttpOnly`

I want to apply the cookie to all sub domain, so I tried like this.
[code]

But `Set-Cookie` in response header is
`Set-Cookie:xxxx=xxxx; domain=.watcha.net; path=/; expires=Sun, 04-Nov-2035 03:21:

[2015-11-04 03:40] rafaelfranca commented on #22175
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-11-04 03:40] #22175 closed

[2015-11-04 03:51] dominicwong617 opened #22176 "Accessing third party libraries' non-existent classes in Rails console references top level constant"
In my Rails (4.2.4) app, I have a model called `Comment` and I am seeing this strange behavior in the Rails console.

[code]

[code]

[code]

`Maildown` (module), `Kramdown`  (module) and `Money` (class) do not have a class called `Comment`, and when I call it for the first time, it goes to my Rails model.

However, if I try to do it with a different model, it has a different behavior.

[code]

[c

[2015-11-04 04:02] #22176 closed

[2015-11-04 04:08] dominicwong617 commented on #22176
Sorry, just found an old issue #6931

[2015-11-04 10:21] openscript opened #22178 "Add ActionCable as a topic to the guide"
The release of Rails 5 is coming closer and closer. I've been spending some time with ActionCable, but I think there are still a few things to discover. Howsoever, I thought I can contribute something to the guides. So let's start the ActionCable topic.

---
Here is my idea about the chapter structure, based on Active Job Basics and Action Mailer Basics:
- [ ] Introduction: A few lines about what'

[2015-11-04 14:21] charlesdg commented on #21466
thanks @al2o3cr, remove the `inverse_of:` in a `has_one ..., through: ...` did the trick

[2015-11-04 16:43] al2o3cr commented on #22089
@pixeltrix Certainly true in this particular example, but it shouldn't be difficult to construct an example where overriding `sti_name` doesn't work quite right. For instance, I suspect that doing that may be a way out of situations like #22089. I'll see if I can construct a more-realistic reproduction for this issue.

[2015-11-04 17:13] rafaelfranca commented on #22178
Lets move this discussion for Action Cable repository so you can start to work closer to the code.

[2015-11-04 17:13] rafaelfranca commented on #22178
This issue was moved to rails/actioncable#114

[2015-11-04 17:13] #22178 closed

[2015-11-04 18:01] wurde opened #22181 "'Learn more' links are broken for ActiveRecord and ActiveModel README"
Files with broken links:

https://github.com/rails/rails/blob/master/activerecord/README.rdoc
https://github.com/rails/rails/blob/master/activemodel/README.rdoc

[2015-11-04 18:03] rafaelfranca commented on #22181
These pages are made to be read in the official documentation website and they work there. It will be break in GitHub because it is not the target of these files.

[2015-11-04 18:03] #22181 closed

[2015-11-04 18:08] wurde commented on #22181
We can't make these full links?

[2015-11-04 18:09] wurde commented on #22181
I found it convenient to read the documentation alongside the code and I'm sure other people do as well.

[2015-11-04 18:12] rafaelfranca commented on #22181
We can't. Or they work in the documentation site or they work in GitHub.

[2015-11-04 22:16] al2o3cr commented on #22171
The standards are fairly unclear on this - ISO8601 (according to Wikipedia, anyways) specifies that datetimes without a TZ indicator are to be regarded as "local" time. Note that fixing the regex as described above DOES NOT fix this; `DateTime.parse` believes strings without TZ information to be in UTC.

[RFC3339](https://tools.ietf.org/html/rfc3339#page-8), on the other hand, explicitly requires

[2015-11-04 23:51] chancancode commented on #22171
@trcarden where did the string come from and what did you expect the parser to do re local vs UTC time?

[2015-11-05 01:22] bughit opened #22183 "#persisted? returns true after #save fails (due to autosave association save failure)"
[code]

[2015-11-05 01:48] bughit opened #22184 "#save! does not raise despite failure to save (due to autosave association save failure)"
[code]

[2015-11-05 03:14] atul-shimpi commented on #22057
@rafaelfranca
The Root Cause is Reset column information is not getting called for subclasses.
Below is the fix for above issue.

File - activerecord-4.2.3/lib/active_record/attributes.rb
[code]

I have tested this with attached code and is working fine.
Let me know your comments regarding this approach.

[2015-11-05 03:59] common-nighthawk commented on #22057
I don't know if this approach is better or worse, but I discovered this fix--

calling #reset_column_information recursively on the subclasses, with:
`direct_descendants.each { |klass| klass.reset_column_information }`

resulting in--

[code]

advantages would be: not needing to expose a method to the public api (keep private)
disadvantage might be: not getting at the root problem

would love thou

[2015-11-05 06:06] bughit commented on #22183
**possible solution:** `restore_transaction_record_state` instead of `clear_transaction_record_state` on Rollback
[code]

[2015-11-05 06:24] bughit commented on #22184
**possible solution:** raise in `ActiveRecord::Transcations::ClassMethods#save!` when `with_transaction_returning_status` returns nil (which is what happens on rollback
[code]

[2015-11-05 07:19] atul-shimpi commented on #22057
This approach even clicked me.
However, in this approach below code will get called for each subclass.
[code]
This should get called only once for whole hierarchy since in STI, table is shared by all the classes in hierarchy. Hence clearing table cache should be one time activity.

Below code should get called for all the subclasses
[code]

[2015-11-05 08:41] psahni108 opened #22186 "Store accessor issue : Can't read old already stored json object serialized ( hash ) values in mysql database in Rails 4"
I am upgrading my application to Rails 4.2.4 from Rails 3.2.8 . I have a 'extras' attribute for a table 'editorials' which is serialized
[code]
The problem when i fetch old records created when my app is in rails 3, it is throwing me error

[code]
But when i create new records, it is working normally. Have not got any clue yet, how it get it working in Rails 4

[2015-11-05 08:58] atul-shimpi commented on #22139
@senny
Any comments?

[2015-11-05 14:48] aganov commented on #21948
I can confirm the issue, combination **El Capitan** + Safari + https, not a single working form... However there is no problem with Safari on Yosemite...

[2015-11-05 15:49] gambala commented on #22117
I think it's supposed to be like this, @KevinSjoberg you can also use `[0]`/`[1]`/`[any]`-like translations for has_many fields_for: http://stackoverflow.com/a/4867303/2237879

[2015-11-05 16:41] bughit commented on #21594
related problems (when autosave is set): #22183, #22184

we have the following problems with the saving of associations:

1. without autosave, fails to abort on association failure leaving the object graph in an inconsistent state
2. with autosave: aborts but pretends success (save! does not raise, persisted? is true)

so one can not depend on saving of associations at all

[2015-11-05 17:42] bughit commented on #21594
@sgrif

It does not make sense to protect something that is this broken, I think it would be much better to fix all three of these bugs as soon as possible without any deprecation cycles.  It would then simply work as the docs say it should, without any surprises.

[2015-11-05 19:49] senny commented on #22139
@atul-shimpi I think `required` is only meant to be passed to the generator:

[code]

Because it will modify the `belongs_to` definition alongside the migration. I can see that the current location in the guide is not optimal to describe that behavior.

[2015-11-05 19:51] al2o3cr commented on #22186
The serialized data in the old records is stored as YAML, so parsing it as JSON will not work.

You'll either want to convert the old records to the new format, or remove the `coder: JSON` option from the new code.

[2015-11-05 19:52] #22186 closed

[2015-11-05 20:54] senny commented on #21484
You're example uses `transaction` but what kind of helper do you use in your production code? Or asked differently, does the patch from @dv, which is specific to transactions solve your issue?

[2015-11-05 23:51] bughit commented on #22184
`update!` potentially has the same problem since it also calls `with_transaction_returning_status`

[2015-11-06 01:56] atul-shimpi commented on #22139
@senny
Sorry for this long message. But i want to explain everything without any ambiguity.
But below is the findinds so far. I am still doing it.

1] Is 'bin/rails g user username:required', model or migration generation?
Anyway, i tried both. Nothng such as 'required' is added to either migration or model

2] From the migrations module, it looks as if the 'required' validation is added when you

[2015-11-06 02:29] matteomelani commented on #15255
+1
my 4.2.4 app is also affected

[2015-11-06 03:40] bjeanes opened #22195 "MessageEncryptor broke compatibility between 3.1 and 3.2+"
I left the following comment on commit a625523e755421b0f96fe5b0a885462ef51582b1 about 18 months ago. I never followed up on it since I worked around it in my case, but since I was bit by it again, I'm posting it here for wider visibility.

It seems to still be the case in master that the message verifier's serializer is not configurable from the message encryptor, and the configuration changed bet

[2015-11-06 03:49] psahni108 commented on #22186
@jeremy - Thanks for your reply,  Yes i changed the coder to YAML, and it worked, but the question is when coder was JSON, how it was stored in YAML.
The code unchanged.

[2015-11-06 07:55] olistik opened #22198 "Can't create an edge application - thor/group (LoadError)"
As per https://github.com/rails/rails/issues/21422#issuecomment-135893639 (/cc @rafaelfranca) I've tried to create an edge application but encountered a `LoadError`.

[code]

I've not commented on Issue [#21422](https://github.com/rails/rails/issues/21422) because I think it's a different kind of error.

[2015-11-06 09:29] KevinSjoberg commented on #22117
I'll take a closer look and report back @rafaelfranca.

[2015-11-06 14:08] senny commented on #22139
@atul-shimpi sorry my bad. It's been changed on `master`. `required` is true by default now and there is an `optional: true` flag. However that has not been added to the generator (#18937). Removing the info about the required option seems fine, can you submit a PR and ping me?

[2015-11-06 14:48] atul-shimpi commented on #22139
yes sure.
I will be online in 2-3 hours. Will do it then

Date: Fri, 6 Nov 2015 06:09:14 -0800
From: notifications@github.com
To: rails@noreply.github.com
CC: shimpiatul@hotmail.com
Subject: Re: [rails] Edge Guides - ActiveRecord Migrations - Remove 'required' option for column (#22139)

@atul-shimpi sorry my bad. It's been changed on master. required is true by default now and there is an optiona

[2015-11-06 15:05] kaspth commented on #22139
There's a PR here: https://github.com/rails/rails/pull/22145 — could use a bit more info in the commit message @atul-shimpi :smile:

[2015-11-06 15:06] kaspth commented on #22139
A whoops that's just in the guides — @atul-shimpi maybe you can extend that PR with the above changes?

[2015-11-06 15:47] atul-shimpi commented on #22139
ok.

Date: Fri, 6 Nov 2015 07:06:43 -0800
From: notifications@github.com
To: rails@noreply.github.com
CC: shimpiatul@hotmail.com
Subject: Re: [rails] Edge Guides - ActiveRecord Migrations - Remove 'required' option for column (#22139)

There's a PR here: #22145 — could use a bit more info in the commit message @atul-shimpi

—
Reply to this email directly or view it on GitHub.

[2015-11-06 15:50] atul-shimpi commented on #22139
ok

Date: Fri, 6 Nov 2015 07:07:38 -0800
From: notifications@github.com
To: rails@noreply.github.com
CC: shimpiatul@hotmail.com
Subject: Re: [rails] Edge Guides - ActiveRecord Migrations - Remove 'required' option for column (#22139)

A whoops that's just in the guides — @atul-shimpi maybe you can extend that PR with the above changes?

—
Reply to this email directly or view it on GitHub.

[2015-11-06 15:52] airimie opened #22201 "Dependent destroy uses default scope, should be able to specify a scope or unscoped"
Having two models:

User: default_scope { where(archived: false) }
Account: has_many :users, :dependent => :destroy

When account.destroy is called, only users within the default scope are destroyed (in this case only users that are not archived), the other users not in the scope are not destroyed.

The options here should be: be able to specify an 'unscoped' on destroy, or being able to specify t

[2015-11-06 16:09] kv109 commented on #21942
@MatTarantini, maybe you should check out `ActiveSupport::TimeWithZone`? Its `#formatted_offset` takes DST into consideration:

[code]

See this [test](https://github.com/rails/rails/blob/4d8f62dcfa0a5157b3facbd71f75fc6639636347/activesupport/test/core_ext/time_with_zone_test.rb#L73-L74).

[2015-11-06 19:24] danialm opened #22204 "Rails Guides > Rails Routing from the Outside In > Singular Resources"
I think we are missing something here:

`get 'profile', to: :show`

How can it find the right controller for this action?

[2015-11-06 21:10] al2o3cr commented on #22186
@psahni108 Prior to https://github.com/rails/rails/commit/3c0bf0435cfbc7a349faec5e1b5631e506b5dc70 it was not possible to change the coder, so `store` values were always encoded as YAML in the database.

[2015-11-07 06:28] atul-shimpi commented on #22139
@senny
The PR is already raised #22145

[2015-11-07 09:34] penso opened #22208 "Stucked sidekiq thread"
Hi,

I have a stucked thread inside a sidekiq worker, a TTIN gives me the following backtrace:

[code]

Which seems to be a rails issue, my code is just fetching an `object.something` to get `belongs_to` relationship. Anything I could do to trace this further?

[2015-11-07 09:35] penso commented on #22208
Oops wrong project, sorry about that.

[2015-11-07 09:35] #22208 closed

[2015-11-07 10:21] atul-shimpi opened #22210 "Insert "," to break the information."
http://guides.rubyonrails.org/form_helpers.html

5.2 Dealing with Ajax
Unlike other forms making an asynchronous file upload form is not as simple as providing form_for with remote: true.

Insert comma after 'Unlike other forms.' as shown below
Unlike other forms, making an asynchronous file upload form is not as simple as providing form_for with remote: true.

[2015-11-07 10:29] kaspth commented on #22210
Thanks, but for changes as simple as a comma change, please don't submit issues. That costs us reviewers a lot of time, instead of just submitting a pull request we could merge.

In the future, just open a pull request please 😁

[2015-11-07 10:29] #22210 closed

[2015-11-07 10:31] atul-shimpi commented on #22210
ooh. ok.Sure

[2015-11-07 10:48] atul-shimpi commented on #22139
@kaspth
May i know which PR i should extend?

[2015-11-07 10:49] kaspth commented on #22139
@atul-shimpi I was thinking of #22145 :)

[2015-11-07 10:51] atul-shimpi commented on #22057
@senny
Can someone approve or suggest better approach for above?
We can go for PR then.

[2015-11-07 11:39] pixeltrix commented on #21942
@MatTarantini it's relatively easy to construct your own timezone select helper method - I'm looking at moving it out to locales for Rails 5.

[2015-11-07 11:47] kv109 commented on #21942
@pixeltrix
What do you think about adding following option:
[code]
?
 https://github.com/rails/rails/compare/master...kv109:21942?expand=1

[2015-11-07 13:55] #22139 closed

[2015-11-07 14:27] kv109 commented on #21501
How about this [solution](https://github.com/rails/rails/issues/21942#issuecomment-154694593)?

[2015-11-07 15:21] #22057 closed

[2015-11-07 17:08] eileencodes commented on #22204
Hi @danialm! I think the answer here explains it well: http://stackoverflow.com/questions/19882932/how-does-rails-know-which-controllers-show-action-to-use-in-this-example-from

As in this would work if it were inside a resource, but I agree the guides are unclear. Do you want to open a pull request making it clearer?

[2015-11-07 17:23] sgrif commented on #22201
We do not accept feature requests on the issues tracker, which is reserved only for bugs. You can submit feature requests on the [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core), although I don't think this is a use case we'd accept.

[2015-11-07 17:23] #22201 closed

[2015-11-07 21:58] al2o3cr commented on #21501
See also #7297

[2015-11-08 04:46] danialm commented on #22204
I did @eileencodes, you can find it [here](https://github.com/rails/rails/pull/22221)

[2015-11-08 04:46] #22204 closed

[2015-11-08 08:02] arnvald commented on #20749
Hi everyone,

I'm having the same problem, so I thought maybe I could fix this issue, and... it appears it's been already fixed for almost a year! https://github.com/rails/rails/pull/18228 fixed the problem. Unfortunately that commit is only in master, it was never ported to `4-2-stable`. @senny any idea if this can be fixed in Rails 4.2?

[2015-11-08 16:24] arnvald commented on #22198
@olistik after entering `rails` directory, you need to run `bundle install`, then you'll be able to create new edge application.

[2015-11-08 16:35] olistik commented on #22198
@arnvald Thanks, it worked :-)

[2015-11-08 16:35] #22198 closed

[2015-11-08 22:44] common-nighthawk commented on #22057
@sgrif: thanks for fixing this issue.  i didn't realize #reset_column_information had recently been split to call the private method #reload_schema_from_cache.

change makes sense to me.  thanks again.  also--fan of the bike shed.

[2015-11-09 00:34] moritzschepp commented on #20478
For @joelpresence's scenario, I have the problem that the check happens before persistence, and somehow just once, consider the following:

    b = BranchVersion.new
    p (b[:published_data] ||= {})["test"] = 12
    p b[:published_data]
    p (b[:published_data] ||= {})["test"] = 12
    p b[:published_data]

on my project and a few tests within the activerecord test suite, that outputs

    12

[2015-11-09 00:48] danielbonnell commented on #14493
Was this issue ever resolved? I'm on `4.0.2` and upgrading is not an option for me at the moment.

[2015-11-09 02:41] timbreitkreutz commented on #20602
Update:  can no longer run this test case successfully on master. I'm not sure if I made a mistake before or if it regressed again.  Tried git bisect again to locate when the bug was introduced, and ran into many places where Arel appeared to be messed up:

[code]

I'll continue looking in to it.

[2015-11-09 04:15] eiked opened #22227 "I18n.t("") raises I18n::ArgumentError"
using rails (4.2.4) / i18n (0.7.0)

I18n.translate('')
I18n::ArgumentError: I18n::ArgumentError
from /usr/local/lib/ruby/gems/2.2.0/gems/i18n-0.7.0/lib/i18n.rb:152:in `translate'

While nil can be translated easily

I18n.translate(nil)
=> "translation missing: de.no key"

I believe this should be changed.

First of all, it is common practice in the ruby (and rails) apis that exceptions should only

[2015-11-09 04:31] eiked opened #22228 "I18n.t(nil) returns "translation missing: de.no key""
I came here because of the other bug, aka I18n.t("")

But while looking at it, I'm not even sure if I18n.t(nil) does the right thing.
1) I might want to argue that translating nil should return nil
2) others might argue that I18n.t() should always return a String Object

I believe I18n.t(nil) should be changed to return nil.
because that is the only sensible answer if you try to translate nothing.

[2015-11-09 05:24] eiked commented on #22228
Let's discuss what how default should be handled with a nil argument

I suggest tthat I18n.t(nil) should always return nil,
even on I18n.t(nil, default:foo)
because nil is really a special case that should not be catched by the default:
I believe that would really make it more predictable.

I might to suggest another paramter for the nil case,
that would be:
I18n.t(foo, default:'key missing', nil:

[2015-11-09 06:53] kyamaguchi opened #22231 "collection_radio_buttons doesn't work in Rails 5"
When I use collection_radio_buttons on the form and submit it, I get an error and a blank page on the browser.
(Rails version: commit 1f8cc53689ead6befbbb6d8d7436596270738ff3 , Date:   Sun Nov 8 17:40:46 2015 -0800)

The issue https://github.com/rails/rails/pull/18303 might be related.

In app/views/posts/_form.html.erb, I have

[code]

HTML

[code]

When I submit the form, I see the following err

[2015-11-09 09:09] zetter commented on #21948
Another update:

Here's a graph of showing the number of our users seeing form authenticity token errors as a proportion of the number of visits to our site. It looks like the rate of errors have dropped since we introduced `no-store` cache header.

![screen shot 2015-11-09 at 09 00 10](https://cloud.githubusercontent.com/assets/149785/11029666/675c5432-86c0-11e5-85cd-e13c5ed16074.png)

Note that

[2015-11-09 10:26] PeterBengtson commented on #19198
Will someone fix this? It's still in 4.2.4 and it's still messing up the logs.

[2015-11-09 10:53] jgrau opened #22232 "Rails 5: `rake test` with failing tests returns exit code zero"
Steps to reproduce:

[code]

I would expect to see a failing test and an exit code that is non-zero. Instead, I see an exit code of zero.

[2015-11-09 11:54] aganov commented on #21948
@zetter Just wondering, is your server  HTTP/2 enabled?

[2015-11-09 13:58] sevenseacat commented on #19198
@PeterBengtson are you volunteering? :)

[2015-11-09 13:58] blackspace commented on #21951
After I have created a project by 'rails new' ,then execute 'rails g controller welcome index'.
Edit the app/view/welcome/index.html.erb, adding the script codes

[code]

<pre>
$  rake cache_digests:nested_dependencies TEMPLATE=welcome/index
[
  "auto_kinds/auto_kind"
]
</pre>

My Environment
--------------------------
Ubuntu 15.10
ruby 2.1.4p265
Rails 4.2.4

Gemfile.lock

<pre>
GEM
  remote: http

[2015-11-09 14:07] plukevdh commented on #20749
![clouddance](https://cloud.githubusercontent.com/assets/16054/11035567/49768f54-86c1-11e5-84ff-e98446c68f41.gif)

[2015-11-09 14:54] gaurish commented on #22232
Rails 5 onwards, `rake` should not be used. everything is run via `rails` command. Please see https://github.com/rails/rails/issues/18878

[2015-11-09 15:03] Jadaw1n opened #22233 "Wrong timezone mapping for Switzerland"
The timezone mapping for Switzerland is wrong.
https://github.com/rails/rails/blob/master/activesupport/lib/active_support/values/time_zone.rb#L89

      "Bern" => "Europe/Berlin",

According to IANA standards, this should be Zurich => Europe/Zurich. Since this would change the key, this will break existing applications. So I propose adding both, while deprecating the Bern timezone.

      "Bern"

[2015-11-09 15:05] gaurish commented on #22171
As per the standard, if there NO timezone it is treated as local time. this is the behaviour which is correctly implemented by `Time.iso8601` but `DateTime.iso8601`

[code]

so I think we should parse this & treat it as local time as [per ISO spec info on wikipedia](https://en.wikipedia.org/wiki/ISO_8601#Time_zone_designators)

[2015-11-09 15:35] trcarden commented on #22171
@chancancode that string comes from the official ISO8601 spec (you have to buy a copy to see it but there seems to be a older version available here http://www.oamk.fi/~karil/iso_standard_8601_for_dates_and_time.pdf which should get the point across). Section 5.4 titled `Combinations of date and time of the day representations` says a datetime timestamp without the offset or `Z|z` character to be

[2015-11-09 15:37] gaurish commented on #21668
This test doesn't fail for me.

[code]

[2015-11-09 15:54] PeterBengtson commented on #19198
Absolutely not. I can live with it, I just need to code around it. Fixing it is much more efficiently done by someone who has worked with that particular subsystem. And it is a core bug.

[2015-11-09 16:39] rafaelfranca commented on #22231
Can you please provide a sample application that reproduces the error?

[2015-11-09 19:28] rafaelfranca commented on #22228
This issue was moved to svenfuchs/i18n#329

[2015-11-09 19:28] #22228 closed

[2015-11-09 19:31] questionmarc opened #22235 "Path containing null byte returns 500 status code"
Arguably this should instead return the 400 http status code instead, since the path could be considered malformed / invalid. Throwing an error is expensive and should be reserved for truly exceptional situations.

**Steps to reproduce:**
Creating a new rails app
start up the rails server
run `curl "localhost:3000/index.jsp%00x"`

**Stacktrace:**
[code]

[2015-11-09 19:37] rafaelfranca commented on #22235
For what I could see in the stacktrace the exception is being raised at Rack. I don't think Rails should silently rescue ArgumentError to raise a 400 http status code, so this issue should be fixed in rack. I'll move the issue there.

[2015-11-09 19:37] rafaelfranca commented on #22235
This issue was moved to rack/rack#971

[2015-11-09 19:37] #22235 closed

[2015-11-09 20:41] jgrau commented on #22232
That solves it. And I realise that using `rails` instead of `rake` is the new preferred way, however, I feel that running `rake` should either return the correct error code or exit with a message notifying of the change in behaviour.

[2015-11-09 21:08] benrugg commented on #18519
Please excuse my coming to this conversation late, but... It seems like a pretty big limitation that ActiveJob doesn't serialize Date or Time objects. There are many scenarios (in addition to ActiveMailer) where this could cause issues, and it seems like a difficult thing to track down when upgrading from Rails 4.1 to 4.2.

It would be great for someone to fix this in the future!

[2015-11-09 23:09] zetter commented on #21948
@aganov It is not, and I have not tested my original example with a HTTP/2 server.

My understanding of HTTP/2 is that there are no changes to cookies or headers so the behaviour I am seeing shouldn't change. You said before that there wasn't a single working form- were you following my original reproduction example? or is this another app that might have a different problem?

[2015-11-10 00:30] kv109 commented on #21501
Ok, so this would be my PR for that: https://github.com/rails/rails/compare/master...kv109:21501?expand=1

Let me guys now what do you think.

[2015-11-10 00:39] ilyakatz commented on #21501
@kv109 can you put summer time in your tests such that it would so `GMT+02:00`, otherwise, this test is not really testing the change

:+1: on using the stub instead of my Timecop dependency

[2015-11-10 00:50] kv109 commented on #21501
@ilyakatz Thanks for the answer.
About test: Isn't [this line](https://github.com/rails/rails/compare/master...kv109:21942?expand=1#diff-bd4b826d0145a9668aee008cbdf8c5baR464) enough?

[2015-11-10 00:55] ilyakatz commented on #21501
Oh, sorry, missed that one. Yes, it looks good to me!
--
PGP Key https://onename.io/katzmopolitan <https://onename.io/katzmopolitan>

[2015-11-10 01:00] timbreitkreutz commented on #20602
I think I might have a fix for this (https://github.com/timbreitkreutz/rails/commit/a37c796e653ea555f81355c9cb732fa1d5e06ed1) -- @sgrif or someone else familiar with this code could you take a look if this makes sense?  Thanks.

Any feedback very welcome--this is my first attempt to contribute to rails.

[2015-11-10 01:00] timbreitkreutz commented on #20602
If approved I will work on back ports to 4.1 and 4.2.

[2015-11-10 01:21] sgrif commented on #20602
Please open a pull request and we can discuss there.

[2015-11-10 02:21] kyamaguchi commented on #22231
Here is a sample app https://github.com/kyamaguchi/rails5_collection_radio_buttons .

You can start testing with visiting `/posts` and creating records.
I used ruby 2.2.2.

---

Snippet in the first comment was wrong.
`.map{|k,v| OpenStruct.new(value: v, label: k) }` should be `.map{|k,v| OpenStruct.new(value: k, label: v) }` .

[2015-11-10 02:36] timbreitkreutz commented on #20602
Done... thanks.

[2015-11-10 02:41] llimllib commented on #5122
Is this bug fixed in any release? Here I am trying to test it on 4.2.5:

[code]

and here's another way it's manifested itself:

[code]

[2015-11-10 03:13] llimllib commented on #5122
Looks like to get it to work, you can pass the `script_name` parameter to the `_path` helper:

[code]

^^^ works, though it's ugly and I'd argue that this bug should be open!

[2015-11-10 03:20] timbreitkreutz commented on #20602
False alarm--I was just reviewing the problem report and notice that I only tested one half.  Need to do the other half now.

[2015-11-10 07:53] waghanza opened #22242 "ActiveRecord, foreign keys not created by option"
Hi,

In my thought the `foreign_key` migration options
[code]
would create a `foreign key` (not only an **index**), between `products` and `seasons`.

When running my **migration** it seems not be this way.

I have to write (in my **migration**)
[code]
to fulfill my wish(have a real foreign key s database constraint)

Is this intentional ? or am using it right ?

Regards,

[2015-11-10 09:43] sevenseacat commented on #22242
I believe you need to use the `references` syntax, ie. `t.references :season, index: true, foreign_key: true`. Otherwise Rails doesn't connect the dots.

[2015-11-10 11:20] swapnilchincholkar commented on #22242
As per [guides](http://edgeguides.rubyonrails.org/active_record_migrations.html#highlighter_333352) what @sevenseacat says is correct. Instead of adding association_id field, try to add references, that should suffice.

[2015-11-10 12:51] arekf commented on #22232
Looks like `test` command invoked via `rails` is exiting using Minitest return code:
[code]

when "regular" `rake` test tasks doesn't use exit:
[code]
so the exit code isn't being returned.

I can send PR if you think this is correct solution to fix the issue.

[2015-11-10 13:17] arekf commented on #22232
I've sent the PR ;)
https://github.com/rails/rails/pull/22248

[2015-11-10 14:36] rocLv opened #22249 "ArgumentError: No association found for name [ such as 'order_specification']"
@al2o3cr I tried again using [rails bug template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb), all are fine.

I guess it's my problem. So I closed this issue. Thank your guys. Next time, I'll be more careful at reporting issues.

[2015-11-10 14:45] jgrau commented on #22232
Thanks @arekf !

I could be worried that other differences in behaviour could occur down the line. I wonder if it's better that `rake test` just exists with a message saying something like

But to be honest I don't know what the best solution is. :)

[2015-11-10 15:05] pixeltrix commented on #22227
Whilst I probably agree with most of what you say the problem doesn't lie with Rails itself - please open an issue on the I18n repo at: https://github.com/svenfuchs/i18n

Thanks for reporting.

[2015-11-10 15:05] #22227 closed

[2015-11-10 15:37] arnvald commented on #22171
As @gaurish mentioned, the `DateTime` and `Time` behaviour is inconsistent. I'm going to submit this to https://bugs.ruby-lang.org and see if it will be fixed in the next version of Ruby (or maybe for some reason it's on purpose?)

@chancancode what to do about it in Rails? Should we fix the regexp so that it will work with or without `Z` even though behaviour won't be fully correct according to s

[2015-11-10 15:38] kaspth commented on #22232
@jgrau the plan is to deprecate the `rake` setup and funnel everything through `rails`, but that's later :)

[2015-11-10 15:39] yui-knk commented on #22249
@rocLv I think you should use `order_specifications` (plural form) instead of `order_specification` (singular form).

[2015-11-10 16:00] akaspick commented on #4127
I was experiencing this issue with bots (and could reproduce with a curl command).  JSON was my default format, which was wrong.  I noticed I had this in my application_controller.rb

[code]
Changed it to
[code]
And the issue is resolved.

[2015-11-10 16:09] jgrau commented on #22232
:ok_hand:

[2015-11-10 16:12] chancancode commented on #22171
@pixeltrix @fxn do you have any thoughts?

Personally, I think it makes sense to fix the regexp to let it through – Python interop seems particularly important. The JSON spec doesn't say anything about dates so it's not really a standards concern.

However, in the current state, it seems like the only thing this will do is exposing users to a Ruby "bug". I'm not too sure what to do about that.

[2015-11-10 16:31] arnvald commented on #22249
Your error message says `order_spicification` (sp**i**cification) instead of `odrder_specification`. Maybe you just made a typo in the relation name before?

btw preferably you should call model `OrderSpecification` (singular form), plural form should be used in `has_many` relation and table name, but the model name should be singular

[2015-11-10 16:36] yui-knk commented on #22249
@arnvald nice catch!

[2015-11-10 16:41] pixeltrix commented on #22171
I think my preferred preference would be to adjust the regexp and change the code to use `Time.iso8601` instead of `DateTime.parse`. Whether it should be backported or not is the question - I think it's probably safe on balance because it'll only affect values that were previously blocked.

[2015-11-10 16:45] trcarden commented on #22171
@arnvald please add tests and open a PR. I probably won't be able to get to this right away

[2015-11-10 17:05] arnvald commented on #22171
@pixeltrix should it be just `Time.iso8601(data)` or `Time.iso8601(data).to_datetime`? I'm not sure how important it is to return `DateTime` class - if it's necessary then the 2nd snippet will solve it.

[2015-11-10 17:09] pixeltrix commented on #22171
@arnvald I would think that returning a `Time` is preferable to a `DateTime` since IS0 8601 is all about a proleptic gregorian calendar.

[2015-11-10 17:49] arnvald commented on #22171
@pixeltrix using `Time.iso8601` introduces another problem, this test starts failing: https://github.com/rails/rails/blob/master/activesupport/test/json/decoding_test.rb#L22

Here's comparison
[code]

Alternatively, `Time.parse` can be used. It handles all the cases, the only difference is that it uses local timezone for `YYY-MM-DD` date format:
[code]

[2015-11-10 17:51] chancancode commented on #22171
—
Sent from Mailbox

On Tue, Nov 10, 2015 at 9:49 AM, Grzegorz Witek <notifications@github.com>
wrote:

[2015-11-10 18:21] pixeltrix commented on #22171
There's a `Date.iso8601` which handles that correctly. Perhaps `YYYY-MM-DD` should return `Date` objects?

[2015-11-10 18:51] chirag7jain commented on #20333
this is not fixed.. does anyone have a workaround for this

[2015-11-10 19:01] schneems opened #22250 "No bind parameters used for Limit and Offset"
I was looking through a production heap dump and found a ton of these strings:

[code]

It looks like they're being retained by the prepared statement cache. I'm using `will_paginate` to set offset and limit, and it looks like for every query with a new page, there is a new query generated. This will quickly consume the whole prepared statement cache which is less than ideal, see https://github.co

[2015-11-10 22:42] timbreitkreutz commented on #20602
OK I think this one is better @sgrif  et. al.   -- sorry for the hiccup.

[2015-11-11 04:10] sbwoodside commented on #22123
Sorry, the actual issue wasn't addressed I don't think. The bug was that this table name had *already* been cut off once, and when I generated a rename migration, rails didn't recognize the previously automatically cut off name.

Does that make sense?

[2015-11-11 06:45] rocLv commented on #22249
@arnvald @yui-knk  Sorry, those were spelling mistakes. Really sorry to mislead your guys.
I checked this error again, they still not work.

[2015-11-11 13:05] dabroz opened #22260 "Passing 'false' as partial object doesn't work (4.2.4)"
Rails version 4.2.4

I have a following rendering code:

    <%= render partial: 'value', object: 'foo' %>
    <%= render partial: 'value', object: 1337 %>
    <%= render partial: 'value', object: true %>
    <%= render partial: 'value', object: false %>

Partial is defined as:

    <%= value %>
    <%= "(#{value.class.name})" %>

I have expected this to pass object as-is, therefore resulting in:

[2015-11-11 13:42] dreyks opened #22261 "ActiveRecord::Migrator hardcodes 'db/migrate' path"
https://github.com/rails/rails/blob/4-2-stable/activerecord/lib/active_record/migration.rb#L874

[code]

This results in `ActiveRecord::Migration.maintain_test_schema!` constantly triggering `rake db:test:prepare`, because it can't find any migration files under `db/migrate`

[2015-11-11 15:54] nileshtrivedi opened #22262 "accepts_nested_attributes_for should accept allow_update option"
We should support `allow_update` option in `accept_nested_attributes_for` which would work similar to `allow_destroy` (but with default set to true to maintain backward compatibility).

This would come in handy when we want only addition to a nested resource and no modification of existing records (eg: comments on a blog).

[2015-11-11 18:40] bennick opened #22265 "ActionDispatch::ShowExceptions not displaying correct stack trace when local engine is in directory"
I have been struggling with this for awhile so I made a simple example.

We have a basic rails `4.2.4` app. Inside this app we have a simple price of middleware that does not actually do anything.

[code]
Enabling this in `config/application.rb`

    config.middleware.use "TestMiddleware"

Inside this app we create a mountable engine with `rails plugin new TestPlugin --mountable`. The engine is lo

[2015-11-11 19:00] bennick commented on #22265
Oh man after digging into this deeper it turns out I just had to create a new silencer for `BacktraceCleaner`. Notice engines dir is now included.

[code]

Sweet. Keep up the solid work everyone.

[2015-11-11 19:00] #22265 closed

[2015-11-11 20:04] al2o3cr commented on #22250
There's a gotcha where placeholders in `LIMIT` clauses isn't supported universally in all DBs. For instance, MySQL didn't support them until [this commit](https://github.com/mysql/mysql-server/commit/9f379d7f05c43b2d09de91c3af5cc35613a745e4) which released with 5.0.7 (see [MySQL issue #7306](https://bugs.mysql.com/bug.php?id=7306) for additional color).

I'll see what I can find out about the othe

[2015-11-11 20:16] matthewd commented on #22250
I *believe* PG does support them as being ~literals, even though it doesn't allow expressions

[2015-11-11 20:16] schneems commented on #22250
Seems like the solution would be to deprecate support for mysql :trollface:

[2015-11-11 20:16] bughit opened #22266 "Relation#count produces invalid sql when select and group are involved"
[code]

The useful query here is the  join_group_select, but the others should also probably work.
###### select

[code]
###### group_select

[code]
###### join_group_select

[code]

[2015-11-11 20:21] al2o3cr commented on #22250
@schneems It may be reasonable to say "use something more recent than 5.0.7", being that that was released 10+ years ago :)

[2015-11-11 20:29] matthewd commented on #22266
This is by design; `select(..)` with a bare `count` uses the `select` to determine what we're counting -- without any attempt to decide whether the DB server can support what you've requested.

`count(:all)` (or more generally, supplying any expression parameter to `count`) might give you the answer you're looking for... maybe?

Things get generally complicated when `group` is involved, because of

[2015-11-11 20:50] bughit commented on #22266
about the group scenario: I don't think invalid sql is intended, there is already some support for returning a hash of counts per group, but a count of groups ( via a nested query) is probably more useful.  Both should be possible via an arg.

So currently when there's a select and group, select handling of count wins.  I'm suggesting:

1. that group handling of count would win, which would curren

[2015-11-11 20:58] matthewd commented on #22266
The behaviour you're seeing is unrelated to the use of `group`, as far as I can see... you'd get similarly invalid SQL for `Post.select('id, id').count`.

Conversely, `Post.group('posts.author_id').select('published_on').count` would give you a grouped hash of author IDs to number of published posts (that is, posts with a non-null `published_on`).

Note the `posts.id AS posts_id` field in the erro

[2015-11-11 21:25] bughit commented on #22266
yes it's unrelated to group, because there's special handling of count in the presence of select and a different special handling of count in the presence of group.  When there's both select and group, the select special handling wins evidently.  I am suggesting it should not.  And furthermore, group handling of count should at least support and ultimately default to counting groups, as that is mo

[2015-11-11 21:42] mdrewitt opened #22267 "Using route helper to generate a url using wild cards give exception"
In the routes file defining:
[code]
Will allow you to go to that page, but trying to use the path:
[code]
Throws an exception:
[code]

The issue stems from ` https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/routing/route_set.rb#234 ` calling the ` url_for ` method incorrectly.

[2015-11-11 21:44] #22267 closed

[2015-11-11 21:53] epinault opened #22268 "issue related to 11609"
The issue #11609 is closed but I believe something is not quite right as far as documentation or code

Why would you set
[code]
when the database_configuration is part of the DatabaseTasks as an attr accessor. I can see the code that accesses directly ActiveRecord::Base.configurations in the DatabaseTasks file
 but why not accessing the value set in DatabaseTasks.database_configuration ? If not, t

[2015-11-11 22:01] rafaelfranca commented on #22268
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-11-11 22:01] #22268 closed

[2015-11-12 00:10] guinslym commented on #15255
??? not sure also what's going on. My 4.2.1 app have the same issue

[2015-11-12 00:24] timbreitkreutz commented on #9015
I noticed this old ticket and did a bit of investigation.

1. Like @nerdinand I verified that the bug no long seems to exist in master.
2. I converted his test case gist to a unit test in `schema_dumper_test.rb` and packaged it into PR #22271.

If folks agree I suggest we merge in the test case and close this ticket...

[2015-11-12 01:26] sgrif commented on #22250
Spiked on this briefly. All the backends work fine using binds here. Will do a proper fix tomorrow.

[2015-11-12 01:45] schneems commented on #22250
Thanks! :rocket:

[2015-11-12 13:14] waghanza commented on #22242
right of it, thanks

[2015-11-12 13:14] #22242 closed

[2015-11-12 14:37] waghanza opened #22274 "Composite table name"
Hi,

I have a problem with `references` keyword in my migration.
I run this migration
[code]
and after I create an other table to add a `foreign key` **constraint**
[code]
But I have the following error
[code]
How rails `pluralize` a composite noun to add foreign key ?

[2015-11-12 15:24] #21509 closed

[2015-11-12 15:45] barodeur opened #22276 "Hash#to_query - use indices to identify nested object in array"
Hello,

I'm not sure but I think I found an inconsistency between the `Hash#to_param` and the way Rails parses `application/x-www-form-urlencoded`.

[code]

The keys used to serialize are `obj[][attr1]` and `obj[][attr2]`, then the query is parsed as `{ obj: [ { attr1: 'value 1', attr2: 'value 2' } ] }`.

On the other hand the following `application/x-www-form-urlencoded` query
[code]
is correctly

[2015-11-12 16:01] barodeur commented on #22276
Hum, sorry I was wrong. When I add indices it's parsed as an object with numbers as keys, and not an array.

[code]

[code]

[2015-11-12 16:01] #22276 closed

[2015-11-12 16:04] senny commented on #21484
@Sinjo would you mind having a look at #21484 and let me know wether that is sufficient to solve your issue?

[2015-11-12 16:41] epinault commented on #22268
Rafael. I am pointing at the issue,. Not a question really. There is  a mismatch between code example and how to really reuse the databaseTask outside of Rails.

And even more I actually do not agree that DatabaseTasks should depend on Base.configuration since you are setting already database_configuration...

[2015-11-12 23:37] masterchef commented on #13775
This is probably the worst bug in active record. It basically makes default scope completely unusable if you have any sort of complexity in your business logic. I wish default_scope came with a warning about this issue.

[2015-11-13 00:24] fdel15 commented on #22274
Hello Waghanza,

The following code should allow your migration to run without any errors.

[code]
`t.references` will automatically create a foreign key column named `point_of_sale_id`.

[2015-11-13 01:19] timbreitkreutz commented on #9015
This was fixed in https://github.com/rails/rails/commit/e23ec4c79c7f402f3d306771616c1d597132e2fa

[2015-11-13 01:36] scottohara commented on #15357
As of 4.2.5, this is no longer an issue.

[2015-11-13 01:36] #15357 closed

[2015-11-13 01:55] sidot3291 commented on #13775
Against my better judgement, I've been using a monkey patch that builds in my lambda-scope functionality for rails 4.1

https://gist.github.com/sidot3291/77b999ffeaa5d1d290b2

YMMV - solved my problems.

[2015-11-13 03:47] #22260 closed

[2015-11-13 04:42] timbreitkreutz commented on #19614
Could this be related to issue  https://github.com/rails/rails/issues/9157 ?

[2015-11-13 05:08] stereoscott commented on #18027
@Sinjo Yes we do we do have a unique constraint on the table. Attempting to `rescue ActiveRecord::RecordNotUnique => e` around the query that triggers the exception doesn't make a difference.

Looking at the method that raises the exception, I see this:

[code]

I know that PGBouncer can only run without prepared statements, so it may be the case that pg_bouncer has nothing to do with it and it's

[2015-11-13 07:32] swapnilchincholkar commented on #22046
@krisdigital

As appointments are through associated you need to dependently destroy intermediate object & through it delete an associated appointment.
[code]

[2015-11-13 09:38] krisdigital commented on #22046
@swapnilchincholkar I am pretty sure I did that initially, but thank you. Even though the other way should work and I ask myself, why it does not, e.g. why self.appointments.destroy_all does not do anything. I will try in a minimal use case if I have the time and report back.

[2015-11-13 11:50] toncid opened #22285 "Accessing route helpers in route redirect block"
Hello!

Is there a convenient way to access route helpers in the route redirect block?

[code]

Thanks!

[2015-11-13 12:43] asiniy commented on #14439
Is there any activity?

[2015-11-13 14:51] ruseel commented on #20411
I saw just same stacktrace like @christopher-b.  And agree with his analysis

[code]

[2015-11-13 15:11] edpaget commented on #20411
I found doing this https://github.com/edpaget/rails/commit/9f3f4b4de27152e751e8912c9856f4d120e255a3 fixed the issue for us, but I couldn't come with a test that worked without having to shell out as in my above test case.

After more troubleshooting, I also discovered the underlying issue of PG timing-out was caused by networking changes in docker from 1.6 to 1.7 and the 1.7.1 release fixed them f

[2015-11-13 16:01] dabroz commented on #22260
@yui-knk  Thanks for the fix! :)

[2015-11-13 16:04] yui-knk commented on #22260
No problem :)
For your information, now opening PR for 4-1-stable and 4-2-stable :+1:

[2015-11-13 17:34] Sega100500 opened #22286 "RoR 4.2.5: Fail to start 'rails new'"
RoR 4.2.5: Fail to start 'rails new test_app':

[code]

but
bundler is installed
in test_app run: 'bundle install' - all OK

with --skip-bundle
all Ok

[2015-11-13 18:11] mattbrictson commented on #22286
I am running into this problem as well. It is due to rubygems 2.5.0. In short: `rails new` fails when using rubygems 2.5.0. I've reproduced this on two different environments with fresh Ruby installations.

Downgrading to rubygems 2.4.8 is the only workaround I've found.

[code]

As far as I can tell, this is not specific to the version of Rails. Rails 4.2.4 fails as well. It is a rubygems 2.5.0 i

[2015-11-13 18:29] Sega100500 commented on #22286
@mattbrictson
How report of that bug to fix rubygems?
Can you help me?

[2015-11-13 18:33] Sega100500 commented on #22286
@mattbrictson

Howbeit

[code]

All work fine!

[2015-11-13 18:35] mattbrictson commented on #22286
@Sega100500 Can you also test whether downgrading rubygems with `gem update --system 2.4.8` fixes the original problem? This independent verification will help if it is indeed a rubygems bug.

[2015-11-13 18:40] Sega100500 commented on #22286
@mattbrictson
Yes
After downgrade to rubygems 2.4.8 all work fine!
Apparently, indeed this is the problem in rubygems 2.5.0

[2015-11-14 11:07] Sega100500 commented on #22286
@mattbrictson
You can report about this bug to developers of rubygems?
I don't now how do it.

[2015-11-14 11:12] thebravoman opened #22292 "ROR 4.2.5 updated from 4.2.4: undefined method `attributes' for false:FalseClass"
Just updated from 4.2.4 to 4.2.5 and run the tests.

Three tests failed on Idea.destroy_all, where Idea is my object (Idea is shown below)

[code]

The idea class:
[code]

The db/schema:
[code]

[2015-11-14 12:46] Sinjo commented on #21484
I was working on a new helper and made the (incorrect) assumption that blocks would automatically be reversed by `CommandRecorder`. I'd implemented it in a similar style to `transaction` and jumped to conclusions about how blocks should work.

Sorry for the confusion! Awesome to see a fix in for `transaction` though. :)

[2015-11-14 12:53] Sinjo commented on #18027
@stereoscott We (I was working with a couple of colleagues) got to the bottom this in the end, and posted [this thread](https://groups.google.com/forum/#!topic/rubyonrails-core/vwCQidpdD58) to the Rails mailing list.

#22101 made it into 4.2.5, which gets rid of the worst of this problem. I'd love some input on that mailing list thread. This is a bigger problem than #22101.

[2015-11-14 15:30] naw commented on #22157
Also see

https://github.com/rails/rails/issues/12474

This is partially fixed in master, but not completely fixed in master, and definitely not fixed in 4.2

I commented on this previously here: https://github.com/rails/rails/pull/18805#issuecomment-76864493 which I will repeat here:

======
Only a subset of this issue is fixed on master.

I believe this works on master only as a side effect to c

[2015-11-14 16:06] sgrif commented on #22292
Please provide a script to reproduce the issue using this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-11-14 17:09] arnvald commented on #22171
@pixeltrix @chancancode I've been working on this issue, and the last thing that's causing me a problem is that when I call `Time.parse` (`Time.iso8601` failes to parse `YYYY-MM-DD hh:mm:ss` case - it requires `T` instead of space), system local time is used, no matter what timezone is defined in the application. I think an application timezone is expected, am I right?

An alternative is to use `T

[2015-11-14 19:16] eiked opened #22293 "includes() has many problems"
Hi at the rails bugs,

I did encounter a lot of problems,
which I believe are caused by the includes() clause.

I did not look up other bugs around includes(), so you might want to file it there.

One of my biggest problems is,
that the includes() is sometimes folded into LEFT OUTER joins.

I believe that should not happen.
Instead the includes() should always be resolved by issuing seperate queri

[2015-11-14 19:33] schneems commented on #22293
Can you give us an example app showing the problem?

[2015-11-14 19:45] bughit commented on #22266
that should only be done when selecting a single value, counting a select multiple expressions is guaranteed to produce an error, so the following would be ideal behavior for count in the presence of select and/or group:

1. no group, select single: count(select expression)
2. no group, select multiple: count(*)
3. group, with or without select: count groups `select count(*) from (subquery)`

[2015-11-14 20:29] timbreitkreutz commented on #22286
Should be able to report it here: https://github.com/rubygems/rubygems/issues

[2015-11-14 20:43] eiked opened #22294 "rebasing queries does not work well"
Hi at  the rails.5 team,
you know, me know
rails.5 is done now.

I should not complaint.
Nice to meet you.
If the problem's not fixed:
Take the Overtime Man:
https://en.wikipedia.org/wiki/Don_Covay
(being there)

Back in rails4,
the mapping got better.
But when I tried it hard, I ran against a wall everywhere.

-- just my assumptions:
I believe this has not yet been fully fixed in rails5 either.

[2015-11-14 20:59] #22294 closed

[2015-11-14 21:07] eiked opened #22295 "rebasing queries does not work well"
Hi at  the rails.5 team,
you know, me know
rails.5 is done now.

I should not complaint.
Nice to meet you.
If the problem's not fixed:
Take the Overtime Man:
https://en.wikipedia.org/wiki/Don_Covay
(being there)

Back in rails4,
the mapping got better.
But when I tried it hard, I ran against a wall everywhere.

-- just my assumptions:
I believe this has not yet been fully fixed in rails5 either.

[2015-11-14 21:09] arunagw commented on #22295
Can you point to specific issue you are getting?

[2015-11-14 23:12] matthewd commented on #22293
It's not an optimization; it's necessary to satisfy the query you're issuing. Feel free to use `preload` instead of `includes` if you always want multiple queries... but if AR believes it needs a join, you'll probably just get an error.

Our documentation isn't as clear or detailed as it could be around `includes` / `preload` / `eager_load`, but see, for example: http://blog.bigbinary.com/2013/07/

[2015-11-14 23:12] #22293 closed

[2015-11-15 06:40] shuhei opened #22297 "ActiveRecord Callbacks guide lacks a mention about raising ActiveRecord::RecordInvalid"
[The Halting Execution section](https://github.com/rails/rails/blob/v4.2.5/guides/source/active_record_callbacks.md#halting-execution) lacks a mention to `ActiveRecord::RecordInvalid`. It only refers to `AcitveRecord::Rollback` that will not be raised by `save` and `update_attributes`. However, `save` and `update_attributes`, which internally uses `save`, actually [catch `ActiveRecord::RecordInval

[2015-11-15 10:42] yui-knk commented on #21893
For your information:
Maybe commit no. is fdf5d4dfc30ce5a599392305567c0230c21b9b84

[code]

BTW is there any way to print Rails commit hash to bug report?

[2015-11-15 13:33] yui-knk commented on #21893
For more information:

[code]

[2015-11-15 13:38] tannusesquerdo commented on #4127
I have the same issue.

ActionView::MissingTemplate: Missing template /home/index with {:formats=>[:json, :js, "*/*"]

[2015-11-15 14:22] kelso commented on #14365
This issue is still present in rails 4.2.3

    class Post < ActiveRecord::Base
      has_and_belongs_to_many :car_brands, after_remove: :calculate_posts_count

      def calculate_posts_count(car_brand)
        car_brand.update posts_count: car_brand.posts.count
      end

      before_destroy { |post| post.car_brands.clear }
    end

If I destroy post, where car_brands.clear is called, after_rem

[2015-11-15 20:51] mattbrictson commented on #22286
@Sega100500 I further investigated the problem and determined it is due to a bug in how rubygems 2.5.0 resolves dependencies; I logged the issue here: https://github.com/rubygems/rubygems/issues/1381 . There is an open pull request to fix the bug, here: https://github.com/rubygems/rubygems/pull/1383

[2015-11-15 23:16] #22286 closed

[2015-11-16 01:47] ypxing opened #22305 "Incorrect documentation for mattr_accessor"
Below document seems incorrect.

http://api.rubyonrails.org/classes/Module.html#method-i-mattr_accessor

[code]

[2015-11-16 02:37] nathanpena commented on #22231
I downloaded the sample app and was able to replicate the exact error log.

[2015-11-16 06:31] ruseel commented on #20411
edpaget@9f3f4b4 also seems to fix our issue for us. I appreciate a lot, @edpaget and all.
I leave notes after few days about following up.

(we are using docker 1.7.1 in amazon linux but experienced `PG::UnableToSend` in docker 1.7.1.
It could be our unique situation, we are using PG in different AWS region)

[2015-11-16 13:22] al2o3cr commented on #22249
@rocLv Can you be more specific about what exactly isn't working? From the discussion, it appears that your original post has had several typos corrected and it isn't entirely clear what the remaining issue is.

It will speed things up considerably if you can reproduce the issue in the [standard template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb)

[2015-11-16 14:47] harrykiselev opened #22307 "ActiveModel::Dirty module documentation mistake."
Hi! I found a little mistake at the documentation of ActiveModel::Dirty module.

When we start follow the [instructions](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/dirty.rb#L55-L69), we call [that line](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/dirty.rb#L65)

[code]

Comment for this line tell us that this line should return true, but it i

[2015-11-16 16:56] al2o3cr commented on #22292
It appears that [this commit](https://github.com/rails/rails/commit/cfb371e96a2789790359ec1db779df490fd253d6) introduced the behavior that's causing the exception here. Does `==` on `AR::AttributeSet` need a guard like the one on `==` in `AR::AttributeSet::Builder`?

A better question would be what is an `AttributeSet` doing showing up that context at all. That may need more context from @thebravo

[2015-11-16 17:16] swapnilchincholkar commented on #22307
@harrykiselev

I think solution 1 will make more sense as it will be more easier to understand for a newbie.

In solution 1, along with changes in line 65, we will need more changes. All listed below,

[Line 65](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/dirty.rb#L65)
[code]

[Line 66](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/dirty.rb#L66

[2015-11-16 18:27] mikeantonelli commented on #21921
@jrafanie @matthewd This change breaks implementations utilizing `PerThreadRegistry` where the `singleton_class` does not have a defined delegate, no?

Updating to activesupport to 4.2.5 from 4.2.4 started failing my tests:

[code]

[2015-11-16 18:43] sgrif commented on #22292
Yeah, my guess is that a callback is returning an attribute set for some reason, which should never happen. I will end up adding that guard either way, but it shouldn't matter in supported usage.

[2015-11-16 18:43] #21893 closed

[2015-11-16 21:43] jwoertink opened #22309 "Passing string to limit sets limit_value to string"
I'm not sure if this is considered a bug or not, but when using `limit` in a AR query, if you pass a string like `"10"` it will limit to 10 records like it should. This also sets the `limit_value` attribute to that string `"10"` (https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/query_methods.rb#L656). There are a few gems out there that use this `limit_value` for

[2015-11-16 21:58] tjblonsk commented on #22305
I can confirm the above:
`Person.hair_colors`
`=> NoMethodError: undefined method `hair_colors' for Person:Class`

Question is whether the documentation is wrong or the behavior is wrong.
Assuming the behavior is wrong, I will compose a test case.

[2015-11-16 22:20] mrageh commented on #22292
I tried to write out a bug script for the above issue and it the test it passing, so maybe this is not an issue?

https://gist.github.com/mrageh/d023360501708538cbea

[2015-11-16 22:31] mikeantonelli opened #22311 "ActiveSupport::PerThreadRegistry - undefined method `delegate'"
https://github.com/rails/rails/issues/21921 introduced a change to `ActiveSupport::PerThreadRegistry` in 4.2-stable (and 4.2.5) via https://github.com/rails/rails/commit/599c31cf7d617955ea727358bf9878b365252f51. The [previously stable implementation](https://github.com/rails/rails/blob/v4.2.4/activesupport/lib/active_support/per_thread_registry.rb#L44-L51) of `method_missing` did not require [dele

[2015-11-16 22:59] matthewd commented on #22309
`limit_value` is not public API

[2015-11-16 22:59] #22309 closed

[2015-11-16 23:05] matthewd commented on #22305
The documentation is wrong; they appear to have diverged in 7dfbd91b0780fbd6a1dd9bfbc176e10894871d2d.

[2015-11-16 23:06] jwoertink commented on #22309
Then shouldn't that be protected then? You can still call `User.limit(1).limit_value`.

[2015-11-16 23:11] merhard opened #22312 "Running railties tests leaves processes running"
Running the tests for the railties gem is leaving orphaned processes running on my dev machine (Ruby 2.2.3, Rails master, OSX El Capitan).

When I compare the output of `ps -xf` before and after I run `RUBYOPT=-W0 bundle exec ruby -w -Itest test/railties/engine_test.rb -n "test_paths_are_properly_generated_when_application_is_mounted_at_sub-path_and_relative_url_root_is_set"`, I see:
[code]

Shoul

[2015-11-16 23:14] matthewd commented on #22309
http://guides.rubyonrails.org/api_documentation_guidelines.html#method-visibility

[2015-11-16 23:18] jwoertink commented on #22309
Ah! I always wondered what that `:nodoc:` meant. Thanks for pointing that out.

[2015-11-16 23:21] fxn commented on #22312
The monitor lives in AS. I wonder which tests in railties may be launching a monitor, sounds strange at first sight, have you investigated this further?

[2015-11-17 00:20] javan commented on #21948
You can try that by giving your session cookie an `expire_after` value to persist it across browsing sessions:

[code]

You'll need to consider possible security implications based on your session data. In my case, it solved the problem.

+1 for moving the CSRF token to its own permanent cookie.

[2015-11-17 05:24] merhard commented on #22312
[This is the test I was running.](https://github.com/rails/rails/blob/788d7bce3dc60fde5588df70b5131716b99680a1/railties/test/railties/engine_test.rb#L1307..L1354) It is not the only test that causes this, just an example of one that I know definitely reproduces the issue. It can be run with the following command:
[code]

In this type of test, a new rails app is generated in the file system's tmpdi

[2015-11-17 05:39] swapnilchincholkar commented on #22249
@rocLv

Looks like you are making some mistake with spelling. Below is my code & is working fine.
[code]

[2015-11-17 07:51] marutosi opened #22314 "Missing Rails 4.2.5 announcement?"
There is no Rails 4.2.5 release announcement at blog and [ML](https://groups.google.com/forum/#!forum/rubyonrails-talk) .
Is Rails 4.2.5 released?

[2015-11-17 08:32] harrykiselev commented on #22307
@swapnilchincholkar thanks for notice that editions in one line touches another :)
But if take into consideration that nil != "nil", all empty strings in your editions transform into the nil.

I think so I will send PR with the second variant, because:
* originally conceived by authors of this module
* most of developers knows what is done "initialize" method in a class.

Thus I think it is right

[2015-11-17 09:10] kaspth commented on #22314
It is. @rafaelfranca was sick, so he couldn't publish the posts. They should be published this week.

[2015-11-17 09:10] #22314 closed

[2015-11-17 09:24] loed-idzinga commented on #22314
Great, thanks! :+1:

[2015-11-17 15:22] raminator commented on #22285
Try this...
get 'old-page', to: redirect { |_, _| Rails.application.routes.url_helpers.new_page_path }

[2015-11-17 15:36] emilkarl commented on #14963
I can reproduce this with Rails 4.1.14 and Ruby 2.1.3p242. This is my output. https://gist.github.com/emilkarl/443b7030d1779d6ddb38

[2015-11-17 15:53] chrisbloom7 commented on #21422
There's really no reason to do so if you can get the same results by just cloning the main repo, but in case you're wondering about another way to do it, here's short how-to

http://www.christopherbloom.com/2015/04/26/setting-up-a-rails-5-app-from-edge/

[2015-11-17 15:56] rwassey opened #22319 "Generators: Allow deeply nested namespacing"
I noticed that when trying to generate an Engine using [a conventional gem name](http://guides.rubygems.org/name-your-gem/), the `PluginBuilder` raises an error.

[code]

whereas `bundler` doesn't have a problem with such names.

[code]

I'm thinking of starting a project which would enable Rails engines with these sorts of names, but I first wanted to reach out to see if there is are reason that

[2015-11-17 15:59] tjblonsk commented on #22305
Thanks @matthewd.

How is it possible that the api doc is different from the code and how to reconcile?

[2015-11-17 16:57] azul commented on #22014
Haven't seen it discussed on the core, security announce or talk lists.
@matthewd - is there another list I'm missing or has this not been discussed yet?

[2015-11-17 17:38] senny commented on #21307
I'm worried that if we just merge and release, that this might break apps with migrations written prior to this patch.

@matthewd what is the state of the versioned migration DSL?

[2015-11-17 17:40] krishan opened #22320 "RouteProxy UrlHelpers became really slow in 4.2.5"
In Rails 4.2.5, the Url Helper Cache was removed, so each time `RouteSet#url_helpers` is invoked, a new `Module` is built. See: https://github.com/rails/rails/commit/07dfd2ea097706ef0240f1dda5236cdc5f2c8843

Unfortunately, `RouteProxy` invokes `RouteSet#url_helpers` _every single time_ a route helper is called, see: https://github.com/rails/rails/blob/v4.2.5/actionpack/lib/action_dispatch/routing/

[2015-11-17 17:45] rafaelfranca commented on #22320
cc @eileencodes

[2015-11-17 18:35] krishan commented on #22320
I cherry-picked a fix for this issue from `master`, see: #22322

[2015-11-18 00:39] ifightcrime opened #22324 "select & time_zone_select don't select current object value"
When using select & time_zone_select without form_for, passing in the object as the first argument doesn't mark the object's current value as selected.

When using `form_for`, the object is passed in via `objectify_options`:

https://github.com/rails/rails/blob/master/actionview/lib/action_view/helpers/form_options_helper.rb#L852

When NOT using `form_for`, the object is never passed in:

https://

[2015-11-18 05:33] jaredbeck opened #22325 "Regression in 4.2.5 re: decimal precision"
The following test passes in 4.2.4, fails in 4.2.5.

This issue can be reproduced in sqlite, mysql, and postgres.

Ahh the heartbreak of floating point math :sob:

Thanks for having such an easy-to-use bug reporting template, though! :heart:

[code]

The above test produces the following output:

[code]

[2015-11-18 05:48] rafaelfranca commented on #22325
That behavior is correct. If you have a scale of 4 you want only 4 digits in the fractional part. This is why Rails is rounding it to 4 digits in the fractional part. See https://github.com/rails/rails/issues/22006#issuecomment-149686388

[2015-11-18 05:48] #22325 closed

[2015-11-18 06:03] jaredbeck commented on #22325
So, 4.2.4 does not "respect" scale, and that was fixed in 4.2.5 by https://github.com/rails/rails/commit/0b94384bef44535a408b034e44b90d08318e258a? Thanks! Thanks for the quick response.

[2015-11-18 06:05] rafaelfranca commented on #22325
Yes, exactly that. It before 4.2.5 scale was not Ben being respected

[2015-11-18 10:30] daniel-rikowski opened #22329 "Cannot call require from thread when I already required autoload.rb"
**Disclaimer:** There are lots of autoload and/or thread related issues. I apologize if I missed a duplicate.

I cannot call `require` from a thread when I already required `autoload.rb`

**Example:**
[code]

* I get an error with `join`:  "No live threads left. Deadlock?"
* Replacing `thread.join` with `sleep` does not result in an exception, but the `require` call inside the thread never returns

[2015-11-18 13:27] pixeltrix commented on #22329
@daniel-rikowski it's generally regarded as a bad idea to use `require` from a thread - this is why we preload the app in production by loading all of `app` before starting to process requests. Any reason you can't move the require outside of the thread?

[2015-11-18 13:38] daniel-rikowski commented on #22329
I'm using ActiveSupport outside of Rails, from a GTK application to be precise.
To keep my user interface responsive I'm performing blocking operations in threads.

I could move all my own requires outside and call `eager_load!`, but I can't control which 3rd party gems might call `require` from their code. `open-uri` for example performs late requires.

[2015-11-18 15:55] mikeantonelli commented on #22311
/cc @jrafanie @matthewd

[2015-11-18 16:23] rwadstein commented on #20140
This stems from the change where an error is now raised, but `#valid?` happens to not be one that does *not* handle that error, but a lot of find methods rescue this error.
https://github.com/rails/rails/commit/e62fff40edde10bd04bbb91ce242f4a7f7ea64a8

This is actually a bigger problem in general with any integer backed column and validation.
Any value larger than the db column can handle that is

[2015-11-18 17:05] rwadstein commented on #20140
The specifics of our uses cases have been around custom validations of the existence of such values in another model and also have a validation using `less_than_or_equal_to`.  But the custom validation results with a DB query which then gets a `RangeError` because of the invalid cast value for the DB.

It would seem that validations in general might need to rescue that error or at least maybe only

[2015-11-18 18:19] jcoleman opened #22331 "ActiveRecord::Base.connection.execute() leaks with Postgres"
When someone wants to execute arbitrary SQL and goes looking in the docs, the relevant (and most generic) method on the abstract module `ActiveRecord::ConnectionAdapters::DatabaseStatements` seems to be `execute`. This is reinforced all over the web in places like http://stackoverflow.com/questions/15408285/rails-3-execute-custom-sql-query-without-a-model/15408419

However, in the Postgres impleme

[2015-11-18 18:50] matthewd commented on #22331
[I'm not sure that's true](https://github.com/ged/ruby-pg/blob/6e6a44b5bfc1ff5c4147dcf45448067e0fe07567/ext/pg_result.c#L212).

[2015-11-18 18:54] tenderlove commented on #22331
Agree with @matthewd. @jcoleman can you prove there is actually a leak? If so the it seems like a bug in the pg gem.

[2015-11-18 19:07] jcoleman commented on #22331
@tenderlove I've confirmed that it doesn't "leak" per se, but the problem is that since the memory is out-of-band, large result sets can hang around and never be GC'd as they don't create GC pressure in Ruby's VM.

To trivially demonstrate, running

    1000.times { r = ActiveRecord::Base.connection.execute "select * from generate_series(1, 200000)" }

on Rails console leads to well over a GB extr

[2015-11-18 19:14] sgrif commented on #22331
`execute` returns the result object of the underlying driver. As per the PG docs, the object leaks unless `autoclear?` returns true. The documentation for `execute` specifically states that we return a PG result object. Making this a private method would be a breaking change. I don't think there's anything actionable here.

[2015-11-18 19:14] #22331 closed

[2015-11-18 19:21] jcoleman commented on #22331
@sgrif Noting that it returns a `PG::Result` object in the docs doesn't give you any indication though that you need to look further to know that memory performance might suffer. Basically you're saying that people should be experts on the internal workings of the PG gem.

At the very least I'd like to see the docs improved (on both the abstract module and the PG specific module) to clarify that t

[2015-11-18 19:23] sgrif commented on #22331
I'd be fine with improving the docs. Feel free to open a PR if you have
some specific improvements.

On Wed, Nov 18, 2015, 12:22 PM James Coleman <notifications@github.com>
wrote:

[2015-11-18 21:57] eiked opened #22334 "New shortcut: render_partial"
I'd like to suggest a new shortcut:
    render_partial(partial_name, locals_hash={})

This shall be a shortcut for:
    render partial:partial_name, locals:locals_hash

This obviously does not add much on the first sight.
But rendering partials is one of the key uses of using the render method
and this makes rendering partials feel much more like invoking a simple method.

It actually removes some

[2015-11-18 22:12] bytenel opened #22335 "Multiple cached actionview helpers on a page results in the wrong things being loaded if one model is empty Rails 4.1.0"
If you use CacheHelper on a page with the cache referencing two separate ActiveRecord relations and one is empty (an array of []), the template for the first one seems to be reproduced in place of that relation on the page. I believe this may be a bug in CacheHelper.

Edit:
Sorry, this might have been confusing. So I'm naming the cache's on the page doing a model to_s and then calling parameterize

[2015-11-18 22:21] #22335 closed

[2015-11-18 22:50] mehdi-farsi commented on #22334
I agree with you. This should be a great improvement !

The `:partial` option is definitely the most called option in all of my apps.

However, if you do it for one option, why not doing it for all of them ?

I wonder if it would be a good idea to create a `RenderingHelper` method for each available option..

[2015-11-18 23:22] nicholaide opened #22337 "Remove reference to scaffolding in Testing Guide"
The Testing guide references the Getting Started guide when introducing scaffolding. However, Getting Started no longer has scaffolding examples.

[2015-11-18 23:27] aripollak commented on #21051
@rafaelfranca would you accept a PR to silence the logger when looking for foreign keys in the schema dumper? I find that having SQL debugging during migrations is very valuable, but the huge foreign key dump at the end makes it less useful.

[2015-11-19 00:03] matthewd commented on #22334
Thanks, but we don't take feature requests on the issue tracker.

[2015-11-19 00:03] #22334 closed

[2015-11-19 01:00] #22311 closed

[2015-11-19 01:11] matthewd commented on #22311
Backported to 4-2-stable in 5f967b57fc5e8e933b8df2d44bb8eabaed9d6222.

@mikeantonelli the simplest work-around for 4.2.5 is probably to directly do that require yourself.

[2015-11-19 01:33] matthewd commented on #22329
@daniel-rikowski I stuck the above code into the template from the [contribution guide](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#reporting-an-issue), and it seems to be working for me: https://gist.github.com/matthewd/e3839872f05cbe9958e3

[2015-11-19 01:36] rafaelfranca commented on #22337
@senny I remember you were working in that guide, could you take a look?

[2015-11-19 06:47] waghanza opened #22339 "JS runtime not in Gemfile -> why ?"
Hi folks,

I regularly upgrade our gitlab version, and I have always when getting the last `Gemfile`
[code]

I have to add `therubyracer` or else in the `Gemfile` manually.

Is there any reason whe a `javascript runtime` is not in the `Gemfile` ?

Regards,

[2015-11-19 06:58] luke-gru commented on #22339
The reason it's not there is because the JavaScript runtime is auto-detected using the `execjs` gem. If you have `nodejs` or `rhino` installed, it would be redundant to also have `therubyracer` installed.
See [exejs](https://github.com/sstephenson/execjs) for more details.

[2015-11-19 07:28] sevenseacat commented on #22339
A lot of us don't like using `therubyracer` as a runtime, and on some systems (Windows IIRC) it can't even be installed!

[2015-11-19 08:07] senny commented on #22337
@rafaelfranca yes.

[2015-11-19 08:31] #22337 closed

[2015-11-19 08:35] senny commented on #22337
I changed the wording to match what we use in the "Getting Started" guide.

@nicholaide thank you for reporting :yellow_heart:

[2015-11-19 09:14] daniel-rikowski commented on #22329
**tl;dr**: It's a bug in rubgems in Ruby 2.2. Using 2.1 or 2.3 or bundler fixes the problem.

@matthewd: I ran your code and I didn't get that error, too. That made me very curious and I started to strip down the file and then even the bundler code. Until I found these lines:

[code]

They seem to make the difference.

It looks like bundler circumvents a problem with the rubygems require. Switchin

[2015-11-19 09:14] #22329 closed

[2015-11-19 12:53] bhaak opened #22341 "ActiveRecord::Associations::JoinDependency::JoinBase#name crashing with undefined local variable or method `reflection'"
When calling the method name of an instance of ActiveRecord::Associations::JoinDependency::JoinBase, it crashes with "undefined local variable or method `reflection' for #<ActiveRecord::Associations::JoinDependency::JoinBase:>" in lib/active_record/associations/join_dependency/join_part.rb:26:in`name'.

The method name is defined in JoinPart and is thus inherited by JoinBase and JoinAssociation bu

[2015-11-19 14:34] mikeantonelli commented on #22311
@matthewd That will expose the correct interface but how would I go about forwarding all calls to instance without overriding method_missing?

[code]

[2015-11-19 15:37] #22320 closed

[2015-11-19 16:41] thomasfedb commented on #20140
Any further thoughts on this @ptashman?

[2015-11-19 17:17] matthewd commented on #22311
@mikeantonelli is `delegate` not being passed a `:to` option? [It seems to be](https://github.com/rails/rails/blob/v4.2.5/activesupport/lib/active_support/per_thread_registry.rb#L48).

That require appears sufficient to get things working for me...

before:

[code]

after:

[code]

on 4.2.5:

[code]

[2015-11-19 17:45] Lacrymology opened #22344 "ConfirmationValidator doesn't fail if confirmation is absent"
from https://github.com/rails/rails/blob/master/activemodel/lib/active_model/validations/confirmation.rb#L10

[code]

here, if `value` is truthy but `record.<attribute>_confirmation` is falsey (i.e. absent from the params), this validation doesn't fail.

I guess this is good enough for html sites where the main interaction is done through web forms, but for a REST API this is buggy if the client s

[2015-11-19 18:12] sgrif commented on #22344
[sarcasm]
Luckily, the commit which originally introduced this code was very specific in the reasoning behind what the code is doing, and why it's doing it that way. As we can see from https://github.com/rails/rails/commit/9ddc6143e06cdb3c86d0c954a4fed523e171886c, we do not validate if it's nil because "reasons". Helpful.
[/sarcasm]

If I had to guess, the thought process was that if the field isn

[2015-11-19 18:12] #22344 closed

[2015-11-19 18:16] luke-gru commented on #22339
It doesn't make sense to need a JS runtime in your non Dev environment if you're precompiling all your assets,  though. Unless you're doing something nuts that involves evaling some JS in your app. I'm not sure if that's been fixed in recent rails versions  or not.  Does anyone know?

[2015-11-19 18:23] rafaelfranca commented on #22339
If you are getting that exception it is because some code is loading execjs. It doesn't matter the environment, it the code is loading it, it will require a runtime.

The runtime is not in the Gemfile because you need to be able to choice the runtime. For those that don't like `therubyracer` there are a lot available runtimes https://github.com/rails/execjs#execjs.

[2015-11-19 18:23] #22339 closed

[2015-11-19 19:57] jnimety opened #22346 "`rake db:dump` fails when `schema_search_path` is set"
I just tried upgrading to 4.2.5 (from 4.2.4) and rake db:migrate fails with the error below.  I tracked down changes to `lib/active_record/tasks/postgresql_database_tasks.rb` as the culprit and provided a potential fix as a comment on this commit: 19509eebe7abfe0e7580c841247f292ac45048fe

[code]

[2015-11-19 23:26] jetheredge commented on #19439
We are also running into this issue. We can make it work by wrapping Syslogger with ActiveSupport::TaggedLogging. When used in combination with lograge ActiveSupport::TaggedLogging ruins the output format though, so it really isn't a solution for us.

This is a difficult one because I'm not really clear on where the issue needs to be fixed (which gem), but I'm thinking that ActiveJob is the place

[2015-11-19 23:41] jetheredge commented on #19439
I should have also added that if someone can indeed confirm that this is the correct location for a fix, I'm happy to take a stab at submitting a pull request.

[2015-11-19 23:59] SamSaffron commented on #22250
@schneems  :heart:  for finding this

[2015-11-20 01:55] aidobroschi opened #22350 "Hstore error: "TypeError: can't cast Hash to ""
Please see the issue I described and documented here:

http://stackoverflow.com/questions/33685999/rails-hstore-issue-typeerror-cant-cast-hash

The gist of it is that the hstore is working on one instance, but not when I try to add an hstore to another model. What is the culprit here ?

[2015-11-20 01:56] sevenseacat commented on #22350
I don't think this is a forum for getting help with using the framework, unless there's an actual bug in it.

[2015-11-20 02:26] sgrif commented on #22350
There appears to be a bug in your code, not the framework. If you believe there is a bug in the framework, please provide a script we can use to reproduce the issue using [this template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb). General help should be directed to the mailing list or stack overflow.

[2015-11-20 02:26] #22350 closed

[2015-11-20 19:39] thesmart opened #22356 "Column spacing in schema.rb leads to superfluous line changes in diffs between versions"
The automatic column formatting of `schema.rb` means that git diffs are often inaccurate and lead to false alarms all the time.  I don't think the readability improvements outweigh the false-positives when there are line changes in diffs due to column spacing changing across schema.rb version.

[2015-11-20 21:03] cannikin opened #22357 "config.assets.debug = true still compiles everything into single CSS/JS files?"
I'm trying to enable the good old fashioned behavior of having Rails 5 include all actual CSS and JS files for development. This makes it very easy to see where a style is defined and edit it if necessary.

I'm running Rails edge and setting `config.assets.debug = true` in `config/environments/development.rb` It still creates a single application.css file, but it has a source map appended to the v

[2015-11-20 21:06] rafaelfranca commented on #22356
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-11-20 21:06] #22356 closed

[2015-11-20 21:08] rafaelfranca commented on #22357
This is a bug with source map generation, but the idea is to generate only one asset in development with source maps pointing to the right source.

[2015-11-20 21:09] rafaelfranca commented on #22357
This issue was moved to rails/sprockets#162

[2015-11-20 21:09] #22357 closed

[2015-11-20 22:22] burnt43 opened #22358 "bad interaction with has_many, accepts_nested_attributes_for, and validates_presence_of"
Hello, I think I have found a bug with Rails. I have tested this with version 4.2.0, 4.2.3, 4.2.4, and 4.2.5 and the issue appears in all those versions.

I have a reproduction program in a gist https://gist.github.com/burnt43/67d03704cb67bfadfa1a.

The problem happens with the following conditions
1. Model A that has many of Model B
2. Model B belongs to Model A.
3. Model A accepts nested attribu

[2015-11-20 22:44] jtmarmon opened #22359 "Support for DelayedJob reschedule_at and max_attempts"
These methods are not implemented in `ActiveJob::QueueAdapters::DelayedJobAdapter::JobWrapper` which means that a significant portion of functionality from DelayedJob is missing when using ActiveJob.

The original solution I was playing with was adding class methods to my ActiveJob descendant - `self.max_attempts` and `self.reschedule_at` - and proxying to them through the `JobWrapper`. However, f

[2015-11-20 22:46] Javix opened #22360 "Inflections - override translations"
I tried to override the default rules by specifing it in ` initializers/inflections.rb`as follows:
[code]
I tried it in the console:
[code]
Any idea on what is wrong here  ? Thank you.
Reproduced on Rails 4.2.4., OS 10.11.1, Ruby 2.2.2

[2015-11-20 22:50] actionnick commented on #21477
I'm interested to see if we think that `Rails.application.routes.recognize_path` _should_ return engine controllers. I rolled my own solution to cover this problem.

[2015-11-20 22:59] egilburg commented on #22360
Your current locale could still be english.

Try:

[code]

[2015-11-20 23:12] Javix commented on #22360
I set the default locale to :fr, rails console should be aware or not?

Sent from my iPhone

[2015-11-20 23:55] sgrif commented on #22358
Can you see if this issue is still present on master? I'm almost positive I've fixed this.

[2015-11-21 03:09] burnt43 commented on #22358
@sgrif, I updated the gist and set the gems to use the master branch. I reran the program and I can still reproduce the issue.

[2015-11-21 03:10] sgrif commented on #22358
Well shit... I'll look into it on Monday.

[2015-11-21 08:44] randoum opened #22364 "Error installing development environment: Cannot exclude db group"
Following http://edgeguides.rubyonrails.org/development_dependencies_install.html
Chapter *2.3 Set up and Run the Tests*
Said to run `$ bundle install --without db`

This does not exclude the installation and compilation of db drivers :

Tried to comment the content of `group :db` in the Gemfile. Same result.
Platform: Ubuntu, RBenv, Ruby 2.2.2p95, last version of Rail from master

Thanks

[2015-11-21 10:22] #22307 closed

[2015-11-21 14:08] al2o3cr commented on #22292
@mrageh My guess is that there's something else in the original sample that's adding callbacks that we can't see.

[2015-11-21 14:29] al2o3cr commented on #22231
This looks like a case of dehydration (too much DRY). In particular, [this line](https://github.com/rails/rails/pull/18303/files#diff-f881ed71156b4aa73c4604ca14b074d9R105) makes the correct field for collection checkboxes (with the `[]`, since many checkboxes can be checked simultaneously) but not for collection radio buttons (which are *defined* by only one being selectable at a time).

Would it

[2015-11-21 19:08] maximeg opened #22368 "NoMethodError are reraised as ActionController::RoutingError and result in 404"
To reproduce, in any controller method, drop a
[code]

The stacktrace points me to:
https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/routing/route_set.rb#L35

As:
[code]

The refactoring done at 4276b214 may be the cause.

More generally, any `NameError` or its descendants should not be caught here. I think the goal is to only catch `NameError` generated by non existant co

[2015-11-21 21:41] GUI commented on #22346
@jnimety: Here's a pull request I opened that should fix this: https://github.com/rails/rails/pull/22345

[2015-11-22 04:18] kuboon commented on #20133
@kenn

It's not true. even in "_ci" collation, ```where``` clause is always case sensitive.
"_ci" collation only affect to ``LIKE`` and ``GROUP BY`` keywords.

[2015-11-22 19:25] aliimirza opened #22375 "rubyonrails getting started guide NoMethodError in Articles#index"
SUBJECT:
URL: http://guides.rubyonrails.org/getting_started.html
SECTION: 5.8 Listing all articles

CHANGE REQUEST:
The code contains variable @articles which generates NoMethodError in Articles#index

class ArticlesController < ApplicationController
  def index
    @articles = Article.all
  end

Changing @articles to @article fixed the issue. Requesting you to please make this change in the guide

[2015-11-22 19:40] headius opened #22376 "Improve subclasses/descendants performance by using JRuby ext"
JRuby has for many years shipped with a JRuby-specific extension that adds a `Class#subclasses`. It's far more efficient than using `ObjectSpace` because JRuby tracks all child classes via a weak set.

The behavior of our `Class#subclasses` appears to match ActiveSupport's version (ignoring ordering differences):

[code]

However, the JRuby extension is two orders of magnitude faster than the `Obj

[2015-11-22 19:40] headius commented on #22376
cc @sgrif

[2015-11-22 19:42] headius commented on #22376
Note that JRuby does not ship a `Class#descendants` but it can be implemented by recursively calling `Class#subclasses`.

[2015-11-22 20:53] kaspth commented on #22375
It's common to pluralize the assigned instance variable in `index`, since it works on a collection. This the documentation looks correct to me.

Can you elaborate on how it generates a `NoMethodError`, and what method the error says is missing?

[2015-11-22 21:58] aliimirza commented on #22375
Thank you for reply. I got the point and fixed the code which is working.

Just to explain what happened, it was index method under Articles class where ```@articles``` was causing error however removing s at the end fixed the problem. The error message pointed to corresponding view where app was failing:
[code]
I noticed that the variable name under ```view/index.html.erb``` was written as singul

[2015-11-22 22:18] kaspth commented on #22375
Glad to hear you got it working, I'll close this :grin:

The edge guides look correct, and I don't see any changes related to this in recent git history.

[2015-11-22 22:18] #22375 closed

[2015-11-23 02:15] kenn commented on #20133
@kuboon @chancancode have you guys actually tested it?

[code]

[code]

Notice the use of `BINARY` to make it behave as case sensitive. It will change the behavior of the query optimizer - still use the index, but the performance will suffer as you'll have to scan a wide range of b-tree blocks instead of simply traversing the tree down to a leaf node.

[code]

In any case, how you **select** a rec

[2015-11-23 08:37] CCLink2008 opened #22377 "In the Guides "association_basics", i have a question ."
in http://edgeguides.rubyonrails.org/association_basics.html#detailed-association-reference. i have a question .about "4.1.1.2 association=(associate)"
"@order.customer = @customer" has the same meaing with "@order.customer=( @customer )"?

[2015-11-23 08:57] #22377 closed

[2015-11-23 10:59] karloxyz opened #22378 "Running tests within an engine with pending migrations throws a wrong message"
To reproduce:

1. Create a new rails engine `rails plugin new blorgh --mountable`
2. Create a new migration `rails g CreateBlorghUsers username:string`
3. Run the migration using `rake db:migrate`
4. Create another migration `rails g CreateBlorghAnimals name:string`
5. Try running a test `ruby -Itest test/blorgh_test.rb`

The error is that the message instructs you to use `bin/rake db:migrate RAIL

[2015-11-23 15:48] johnhamelink commented on #21873
I also have this issue - I'm using rgeo/activerecord-postgis-adapter which pops up in the stacktrace for this error for me. I will attempt to use @thedarkone's monkeypatch to find out where this issue is coming from in my case, and if it's coming from this repo I will report back here.

[2015-11-23 16:41] cthiel commented on #21108
This seems to be an issue with mysql 5.7.9 being the default in homebrew these days and newly created rails apps not working correctly, since it seems to be missing from 4-2-stable branch?

[2015-11-23 16:46] cthiel commented on #21108
This seems to be an issue with mysql 5.7.9 being the default in homebrew these days and rails migrations not working correctly, since it seems to be missing from 4-2-stable branch.

[2015-11-23 18:07] bytenel opened #22382 "Rails 4.1.0 ActiveRecord Test Database Schema Question"
Hi there!

I have a Rails 4.1.0 application and encountered an issue when creating a migration, migrating my database, running my test suite and then rolling back the migration in development. I had some unexpected behavior in that the test database does not maintain the state of my development database after the rollback even though I have set
[code]
In my RSpec test helper. I would expect, given

[2015-11-23 19:13] rafaelfranca commented on #22382
`rake db:test:prepare` is not deprecated anymore in Rails 4.2. If you enter in a state that needs to redo the database it is the way to go.

[2015-11-23 19:13] #22382 closed

[2015-11-23 19:17] rafaelfranca commented on #22376
Hey @headius, thank you for the issue. I'm havving trouble to understand what is being proposed here. If people is using JRuby and they want to load JRuby extensions don't them just need to require the correct files? Is there something on Rails side that needs to be done?

[2015-11-23 19:20] rafaelfranca commented on #22378
Feel free to send a PR. I believe the best way to fix it is generating a `bin` folder for an engine too.

[2015-11-23 19:20] headius commented on #22376
Rails uses ObjectSpace internally to implement `Class#subclasses` and `Class#descendants`, here: https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/class/subclasses.rb

This may be the only way to do it on MRI, but JRuby provides a much faster way via a JRuby-specific ext. If this code is used in any hot path (reloading in dev? anything in production?) it would be

[2015-11-23 19:22] headius commented on #22376
Note also that this could be moved out to some external dependency (e.g. a "subclasses" gem) but I don't think we want to do that for such a tiny feature.

MRI could also add its own `#subclasses` but it would probably not show up until 2.4.

[2015-11-23 19:23] headius commented on #22376
This came up due to a question from @sgrif here: https://twitter.com/sgrif/status/667857751666626560

[2015-11-23 19:25] rafaelfranca commented on #22376
Right. So, if I got it right, we basically need a way to conditionally require the JRuby extensions on that file and use its implementation instead of the the current implementation. Do you think that is a good plan?

[2015-11-23 19:26] mrageh commented on #22358
@sgrif I think I may have a PR for this issue, let me know if you'd like me to push it up

[2015-11-23 19:40] jetheredge commented on #19439
After some additional digging on this issue, it comes down to the Syslogger gem exposing "tagged", which is what ActiveJob uses to check whether it is using tagged logging, but doesn't expose the current_tags method which causes the error. I'm going to try to get the change made in Syslogger, even though I guess technically the check in ActiveJob could be made a bit more robust.

[2015-11-23 19:59] headius commented on #22376
@rafaelfranca Yeah that's the plan I'd follow.

I'm actually also modifying JRuby 9.0.5.0 to support the singleton_class mechanism you currently use, but it would still need a Rails PR to change https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/class/subclasses.rb#L6 to attempt a singleton_class walk rather than a plain class walk (my patch special-cases each_obj

[2015-11-23 20:03] headius commented on #22376
There's also a way to do it without requiring anything additional on JRuby:

[code]

This can be used on stock JRuby.

[2015-11-23 20:06] svoop opened #22384 "Nested relations builds incorrect SQL"
During the migration of a Rails 4.1 app to Rails 4.2, I stumbled over the following oddity in a scope with a nested relation which does some postgis stuff:

    scope :inside, ->(area_id) { where(Area.where(id: area_id).where("ST_Intersects(locations.geography, geography)").exists) }

The `area_id` is not passed correctly with AR 4.2 whereas it works fine with AR 4.1. Here's a simplified (yet nons

[2015-11-23 20:18] jetheredge commented on #19439
It looks like Syslogger defines the current_tags on the logger not the formatter. Since ActiveJob checks the logger for tagged before calling current_tags on the formatter, it seems to me like this check should be made more robust. I'll submit a pull request for this.

[2015-11-23 20:30] sgrif commented on #22376
So are we thinking something like this?

[code]

[2015-11-23 20:33] headius commented on #22376
@sgrif @rafaelfranca I just submitted two alternate PRs for the two possible solutions. Pick whichever you prefer :-)

The each_object version is slightly faster because it doesn't have the overhead of calling through our Java integration layer.

[2015-11-23 20:35] sgrif commented on #22384
There is no `Relation#exists` in the public API, and is an internal method that's delegating to Arel. As such, this is not supported usage, and as with any internal APIs, may break between versions without deprecation.

[2015-11-23 20:35] #22384 closed

[2015-11-23 20:38] sgrif commented on #22376
Definitely in favor of the first one. @rafaelfranca Do we have an official policy for supported JRuby versions? Would it make sense to just drop the `rescue` clause and only support 9k since we're also dropping support for < 2.2 on MRI?

[2015-11-23 20:40] headius commented on #22376
Note that JRuby 9.0.4.0 and lower do *not* support `each_object(singleton_class)` so if that's the only option they won't be able to run this code. The subclasses fix is in JRuby 9.0.5.0 and above, from jruby/jruby@ed1773b (and in JRuby 1.7.23 and up, but Rails won't work on JRuby 1.7 anyway).

[2015-11-23 20:46] bytenel commented on #22382
Word. Any rationale for deprecating and then undoing the deprecation? (Not sure what the word for undoing the deprecation would be...ha!)

[2015-11-23 21:32] svoop commented on #22384
@sgrif Gosh, I didn't see that, thanks for your reply and sorry for the noise. Too bad though, I really liked this syntax for subqueries. Maybe, one day, it'll make it to the public API. (Or is there another nice way to write EXISTS subqueries without raw SQL?)

[2015-11-23 21:55] sgrif commented on #22358
Go for it.

[2015-11-23 21:56] sgrif commented on #22376
Right. I'm just wondering if it'd be worth taking the opportunity to only support recent stuff and drop some of the hacky workarounds, since we're doing the same on MRI. Either way I suppose it's not hurting anything for the time being.

[2015-11-23 21:56] #22376 closed

[2015-11-23 22:03] sgrif commented on #22384
We've discussed supporting `where.exists(other_relation)` at some point in the future.

[2015-11-23 22:47] mrageh commented on #22358
@sgrif my pr is done, let me sleep on it, then I'll review it and open it tomorrow

[2015-11-24 01:04] rafaelfranca commented on #22376
Right now it is none. Neither JRuby or Rubinius are officially supported unfortunately :cry:, our test suite was never green with these projects.

[2015-11-24 06:34] headius commented on #22376
We and others have been working to get the suite green with JRuby. Most everything except ActiveRecord is there, and I think AR is close.

[2015-11-24 06:52] IgorMiller commented on #21965
I have a similar error when using `includes` with polymorphism using 'mysql2'  '0.3.20' and rails 4.2.4. Here is a gist reproducing the error: https://gist.github.com/IgorMiller/67592a2a0cd24402415b , with sqlite3 and the last version of rails.

It generates the exception:
[code]
As you can see the FROM statement does not include the "blogs" table and the selection fails.

I don't know if it may b

[2015-11-24 08:29] svoop commented on #16959
+1 – EXISTS is often the faster choice than IN

[2015-11-24 08:35] svoop commented on #22384
Nice, thanks for the hint. (Duplicate of #16959.)

[2015-11-24 08:36] kuboon commented on #20133
@chancancode sorry, my comment was wrong. I think this issue should be opened again.

[2015-11-24 13:33] muichkine opened #22392 "counter_cache breaks relation extension (doc update?)"
Hello,

Such a setup works just fine:

[code]

now, adding `:counter_cache => true` to the `belongs_to :transac` removes all the `has_many` relation extensions (undefined method). Breakpointing the code, no `define_method` is called to extend the `has_many` relation. Just like if `require_dependency` was missing.

Would that be an undocumented usage limitation / incompatibility between counter_cac

[2015-11-24 13:38] jcoleman commented on #22331
@sgrif One other thing: what would you think about making `execute_and_clear` on the PG adapter available publicly instead of privately?

[2015-11-24 13:39] jiggneshhgohel opened #22393 "ActionController::TestCase#process(action, *args) throwing TypeError: no implicit conversion of Symbol into Integer when passing a JSON string as request body and specifying :format as :json"
I am working on making my Rails 4.2.0/Ruby 2.2.1 app ready for Rails 5/Ruby 2.2.3 and for which I am using the Rails 5 edge version. My `Gemfile.lock` has following entry for Rails

[code]

I have a controller spec in my app

      it "responds with 201 success" do
        ....
        post :create, params: params # params is a hash and one of the param holds a deep-nested structure

        expec

[2015-11-24 13:54] matthewd commented on #22331
@jcoleman I guess I'd like to understand more about the use case. We have `select_all` and `exec_query` for ordinary ORM-bypassing result-set-fetching purposes, and then we offer direct access to `execute` if you really want the raw `PG::Result` (at which point, yes, I absolutely think it's reasonable to expect you to treat it as the `pg` gem instructs you).

I'm struggling to picture the niche fo

[2015-11-24 14:02] jcoleman commented on #22331
@matthewd It's not necessarily that I want the raw `PG::Result` so much as just having a fully generic interface to pass SQL. For example, if you want to execute multiple SQL commands in one DB roundtrip, then the only option is `execute`; the other wrappers error on multiple statements.

Here's a (obviously contrived SQL) example:

    irb(main):001:0> ActiveRecord::Base.connection.execute <<-eos

[2015-11-24 14:26] jiggneshhgohel commented on #22393
My bad. `body`, instead of `params` is what supposed to be used:

[code]

I tried that but that still returns `content_mime_type: url_encoded_form` and not `:json`. As an alternative I tried following:

[code]

and the params are being received at controller end in the structure I am expecting them to.

That brings up one question: Is `format` not usable when using `body`?

[2015-11-24 14:27] rafaelfranca commented on #22393
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-11-24 14:27] #22393 closed

[2015-11-24 14:47] rafaelfranca commented on #22392
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-11-24 15:50] muichkine commented on #22392
Hmm. This seems to work: https://gist.github.com/muichkine/2468a74c4dae4db6995c

Three possibilities I could see:

 1 - It really is linked to `require_dependancy` but that seems really far fetched
 2 - This fails due to some reason linked to the fact that my class is called Transaction (also far fetched)
 3 - This is linked to my underlying adapter (activerecord-sqlserver-adapter)

I'll see if I

[2015-11-24 16:03] kv109 commented on #22233
Fixed by https://github.com/rails/rails/issues/22348 and can be closed.

[2015-11-24 16:09] #22233 closed

[2015-11-24 17:23] pehrlich opened #22396 "Schema.rb generated incorrectly for columns with default of Infinity"
Using postgres.  With this as our migration:

[code]

When I run `bin/rake db:schema:dump`, the column is dumped as this:

[code]

This is, of course, results in "uninitialized constant Infinity".  See [this thread](http://stackoverflow.com/questions/18460785/what-are-the-types-of-infinity-and-nan).

This is a problem because it makes schema.rb unusable if the changes are actually checked in :-/

[2015-11-24 17:58] CarlosCD opened #22397 "ActiveRecord 4.2.5 issue with Ruby 1.9.3 (Psych::Coder)"
I was running Rails 4.2.4 on Ruby 1.9.3-p448 (production, staging... all of it). I've just tried to upgrade to 4.2.5, and it seems that includes a breaking change (breaking with Ruby 1.9.3). On `lib/active_record/legacy_yaml_adapter.rb`.

The line is:

    module ActiveRecord
      module LegacyYamlAdapter
        def self.convert(klass, coder)
          return coder unless coder.is_a?(Psych::Code

[2015-11-24 18:44] yahonda opened #22398 "Datetime with precision value is logged without precision"
While investigating #22381

In Rails master branch Datetime with precision bind value is logged without precision, like `[["start", 2000-01-01 12:30:00 UTC]]`.

[code]

[code]

In Rails 4.2.5 it logs like ` [["start", "2000-01-01 12:30:00.999999"]]` with precision.
[code]

It also reproduces with postgresql adapter which `supports_datetime_with_precision?` returns true.

[2015-11-24 18:44] CarlosCD commented on #22397
This problem showed just after the upgrade, during a deployment to staging, while it run `rake db:migrate`.

I did make it work by adding the last version of psych to the Gemfile, not other issues found so far:

    gem 'rails', '4.2.5'
    gem 'psych', '2.0.15'

[2015-11-24 18:57] rafaelfranca commented on #22397
r? @sgrif

[2015-11-24 19:12] CarlosCD commented on #22397
What I meant, is that psych is not an active record explicit dependency. I am not sure if it would make sense to add it to the gemspec. Does it make any sense?

[2015-11-24 20:59] sgrif commented on #22397
Can you give a full stack trace? This definitely shouldn't be an issue on 1.9.3, as Psych has been included in the stdlib since 1.9.2, and has been the default yaml encoder in MRI since 1.9.3

[2015-11-24 22:22] mrageh commented on #22358
@sgrif I've opened the PR feel free to take a look when you next can

[2015-11-25 00:52] CarlosCD commented on #22397
I was about to send the trace to you, and looked a bit further. I wasn't aware, but it looks like libyaml is not installed in our servers (Red Hat 6), which have been running different versions of Rails for a very long time. I believe that is the issue. By adding psych gem it gets over the problem by adding the native support.  So you can consider this a non issue and close it, as a deficiency in

[2015-11-25 01:34] sgrif commented on #22397
Thanks for following up.

[2015-11-25 01:34] #22397 closed

[2015-11-25 05:09] dgobaud opened #22404 "SAVEPOINT not released on ROLLBACK in PostgreSQL"
In PostgreSQL when ROLLBACK is done on a SAVEPOINT http://www.postgresql.org/docs/9.1/static/sql-rollback-to.html it does not RELEASE it http://www.postgresql.org/docs/9.1/static/sql-release-savepoint.html so it continues to consume resources. There are cases where you want this behavior but I don't think the behavior can be obtained using ActiveRecord so I think it should also do a RELEASE on ROL

[2015-11-25 05:10] NeilBetham opened #22405 "collection_check_boxes does not produce the correct check box name property"
When using the collection_check_boxes form helper the name property on the rendered check boxes is not correct in some cases. For my case specifically I have a form which contains multiple sets of fields for a array of models. Each of those models then has a relationship collection to another model.

For example using a `collection_select` with `multiple: true` would result in a select tag name of

[2015-11-25 07:45] andreydeineko opened #22407 "has_one association works stand-alone but does not, when used in scope"
[code]

Each of defined associations work 100%. The one we are interested in is `has_one :last_discretionary_note`.

[code]

Generated SQL:

[code]

Which returns the expected result - last discretionary_note.

What I initially need:

**sort exposition_targets by the last discretionary_note.attribute**

To do the sorting I want to create a scope:

[code]
# Now the problem:

`Company::ExpositionTar

[2015-11-25 08:56] stenver opened #22408 "If DuplicatePstatement will happen once, activerecord goes into DuplicatePstatement loop"
We started seeing this issue in the logs:

[code]

Digging deeper, I found this piece of code:

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb#L625

Basically, if the `@connection.prepare nextkey, sql` fails for some reason, then the `nextkey` will not get saved.

If the failure was because of `DuplicatePstatement`, this will bec

[2015-11-25 09:38] yogeshjain999 commented on #22262
@nileshtrivedi modification of existing record only happens when you pass its `id`. Otherwise, it'll be considered as new record.

[code]

[2015-11-25 09:43] dmitry commented on #22262
Looks like an idea is to restrict to update, but instead allow only to create new. Seems it's better to move to the validations, rather than into the nested attributes.

[2015-11-25 11:33] liangchen2000 commented on #22408
A nice issue

[2015-11-25 15:38] mastahyeti commented on #21948
I saw a case a few years ago where the Django CSRF behavior resulted in a security vuln for an app. With an XSS on `foo.example.com`, an attacker was able to set the CSRF token cookie for `.example.com` causing it to be sent with requests to `example.com` and `*.example.com`. The attacker-controlled CSRF token clobbered the one that had been set by the site at `example.com`. Because the attacker k

[2015-11-25 16:21] RochesterinNYC commented on #22404
I've been working on a PR to provide configuration opt-out of this behavior. Will reference this issue when I submit the PR.

[2015-11-25 17:14] abitdodgy opened #22410 "ActiveJob is using the object's old `updated_at` value..."
I'm running a job that keeps a snapshot of an object after it has been updated.

[code]

![active_job](https://cloud.githubusercontent.com/assets/545430/11404064/2a5e942c-9387-11e5-8e5c-0c2a0e5c1e68.jpg)

Here's how the job is being called

[code]

Whenever I look at the `snapshot` column, the `updated_at` value shows the old value, from before when the object was updated, and not the new value, f

[2015-11-25 18:02] pixeltrix commented on #22410
@abitdodgy we keep the issue tracker for reporting bugs/adding code in Rails - for application development support please use one of the support channels like the mailing list, IRC, Stack Overflow, etc, thanks.

[2015-11-25 18:02] #22410 closed

[2015-11-25 18:22] abitdodgy commented on #22410
@pixeltrix thanks. I'm not asking for support. I'm wondering if this is a bug, or normal behaviour. Can I assume that this is normal behaviour, and that my assumption (that this is to do with the database commit) is correct?

[2015-11-25 20:33] atsheehan opened #22412 "db:structure:dump with MySQL includes current timestamp"
When running `rake db:structure:dump` in an application with MySQL configured, the generated `db/structure.sql` file contains the timestamp for when the dump was completed. Even if the underlying database does not change, running `rake db:structure:dump` will produce a different output each time. Because `db/structure.sql` is often version controlled, this timestamp will generate a lot of noise if

[2015-11-25 20:39] atsheehan commented on #22412
Here's an example of a `git diff` after running `rake db:migrate` without any modifications to the database:

[code]

[2015-11-25 21:37] pixeltrix commented on #22410
@abitdodgy it depends on what the cause is - it maybe that the job is not seeing the updates outside of the transaction but that would only be the case if you're using Resque or Sidekiq. Try queueing the job in an `after_commit` callback to see if that fixes your problem.

[2015-11-25 21:50] jtmarmon opened #22413 "ActiveJob perform_now and perform_later should accept the same arguments"
As mentioned in #18519

It doesn't make sense that `perform_now` accepts a BigDecimal and `perform_later` does.

[2015-11-25 23:21] al2o3cr commented on #21965
@IgorMiller To fix your case, AR needs to be told (someplace) that loading `Text` objects via that association involves the `blogs` table. Some options:

* Specify a join explicitly on the association scope:
[code]

* Explicitly use `references` at the point of use:
[code]

* Use `eager_load` rather than `include` at the point of use:
[code]

Without one of these approaches, AR is going to assume

[2015-11-26 08:29] gsmetal opened #22417 "Destroy with permanent_records is broken"
Hello. I'm using permanent_records gem and it's broken (https://github.com/JackDanger/permanent_records/issues/53) since 4.2.5 because of this change in attribute_set.rb of activerecord:
[code]
So the question is: Is it  permament_records' problem working with `@attributes` in incorrect way or attribute_set's problem assuming that `other` is always respond to `attributes` method?

[2015-11-26 19:19] timbreitkreutz commented on #22407
This looks a bit like another issue I've been trying to understand: https://github.com/rails/rails/issues/9157

It seems like there are some chicken and egg problems with regard to setting up associations in time for assignments lambdas, callbacks, and also the association lambdas like in this ticket.

[2015-11-26 20:08] fxn commented on #22312
Is this still an issue after 14b20ce9b38314943dcaf73b8dab7508b70ba487?

[2015-11-26 23:21] eiked opened #22422 "resolving includes() is severly broken: #count works, #sum is broken"
I have a query, aka ActiveRelation.
- applying #count to it works as expect
- applying #sum(:somefield) is broken: it builds a query with left outer joins of the includes

I have a base table (disks) with a lot of other tables attached to it (i.e. tracks)

I now build a query based only on the Disk table:
- query = Disk.where(available:true)
- query.count
- query.sum(:price)

But when I use includ

[2015-11-27 00:26] eiked opened #22423 "Feature: improve includes(), sister fetch"
There are currently a lot problems with the include(), see my previous bug report
(we'll solve this)

But I believe, ones we're working on that,
includes() can even be improved in a big way.

As of rails 4.2.5 includes are resolved upon first query time.
I'd like to suggest instead that includes should be resolved on first access.

Let me explain:
includes() are here to avoid the n x m query probl

[2015-11-27 01:19] eiked commented on #22423
Sorry, this might have been a bit above the head of the average reader.
But you bros working on the engine might get it.

The includes()n are really a very big problem.
They beat me every day.
I should look it up and fix the problem myself,
but I've not yet been that deep in rails, yet.

It looks to me like operating at a beating heart,
so i fear such changes should not be done at rails 4,
But the

[2015-11-27 07:09] Sega100500 opened #22424 "Decimal: Check attribute has value (with attrname?)"
I use RoR 4.2.5

in migration:
[code]

Convenient to use `@value.price?` to check for the value of any. Check for is not nil and not zero.

[code]

All Ok!

But!
[code]

WHY?

[2015-11-27 10:11] gucki opened #22425 "race condition in LoggerSilence"
We are using rails 4.2.4 with puma and noticed that sometimes the logging just stops. After a lot of debugging it turns this is caused by a race condition in activesupport/lib/active_support/logger_silence.rb.

    [
        [ 0] "/home/gucki/Coding/projects/test/backend/config/application.rb:67:in `level='",
        [ 1] "/home/gucki/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/activesupport-4.

[2015-11-27 12:02] anujaware commented on #22424
@Sega100500 Can you print what value it assigns to price when you assign "0.9"? i.e.

[code]
and paste the output here.
I tried above code and its working. I have doubt if it assigns 0 (floors the number) when you try to assign some decimal number.

[2015-11-27 12:37] gucki commented on #22425
Here's a monkey-patch:

    module SafeLoggerSilence
      extend ActiveSupport::Concern

      included do
        cattr_accessor :mutex
        self.mutex = Mutex.new
      end

      def silence(temporary_level = Logger::ERROR)
        mutex.synchronize do
          super(temporary_level)
        end
      end
    end

    class ActiveSupport::Logger
      include SafeLoggerSilence
    end

[2015-11-27 13:02] Sega100500 commented on #22424
@anujaware

[code]

What are you expecting something else?

[2015-11-27 13:05] anujaware commented on #22424
Then it should return true. I was thinking if its assigning 0 in your case. I am not able to reproduce this error.

[2015-11-27 13:05] Sega100500 commented on #22424
@anujaware

Web console:

[code]

[2015-11-27 13:08] Sega100500 commented on #22424
@anujaware

Exactly!

"Then it should return true"

But it return false

[2015-11-27 13:09] anujaware commented on #22424
@Sega100500 You can debug this in lib/active_record/attribute_methods/query.rb#query_attribute(attr_name) in activerecord gem.

[2015-11-27 13:10] arthurnn commented on #22425
we need to use the mutex from the logger, so the other operations are in sync with this one too. We saw this problem before, and thats why I changed ruby to expose that mutex. see https://github.com/ruby/ruby/pull/541
That was merged in ruby, I am still not sure which version will include that, but we will be able to use it after it is released.

[2015-11-27 13:12] Sega100500 commented on #22424
@anujaware
Web console:
[code]

[2015-11-27 13:13] gucki commented on #22425
@arthurnn Yeah, that would be the perfect fix. But will your ruby patch be backported to older rubies too?  Meanwhile we could fail back to some hacky mutex access using instance_variable_get?

[2015-11-27 13:16] Sega100500 commented on #22424
@anujaware
ruby -v
ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux]

RoR 4.2.5

May be it help ?

[2015-11-27 13:20] arthurnn commented on #22425
Thats a good point, I think we could use the `@mutex` until we have that in a stable ruby version, lets just add a TODO above the `instance_variable_get` pointing to the ruby patch, so one day we can fully replace it.
Do you wanna work in a PR for this?

[2015-11-27 13:24] sivagollapalli commented on #22413
@jtmarmon Could  you provide an example so that I would give a shot?

[2015-11-27 13:30] Sega100500 commented on #22424
@anujaware

BUG!!! in `query_attribute(attr_name)`

[code]

Steps:

[code]

[2015-11-27 13:33] matthewd opened #22426 "Default scopes and STI conditions don't get along"
This is a regression on master, from 4.2.

https://gist.github.com/matthewd/9d04c50cefa82729fa21

1. The subclass is persisted with `type` as the superclass that has a `default_scope`
2. When querying for the subclass, the `type` condition allows all children of the `default_scope` class

[2015-11-27 13:39] matthewd commented on #22425
This is a duplicate of #16885, #20490, and #20507.

[2015-11-27 13:39] #22425 closed

[2015-11-27 13:47] sivagollapalli commented on #22424
I think this line `Numeric === 0.9 || 0.9 !~ /[^0-9]/` creating the issue. As `===` checks the case equality so when we compare `Numeric === 0.9` it returns `true` as `Numeric` is an ancestor for `Float` numbers. I think the fix would be something like this:

[code]

[2015-11-27 13:49] Sega100500 commented on #22424
@sivagollapalli
Not the most elegant solution. But even so.

PLEASE FIX it

[2015-11-27 13:55] Sega100500 commented on #22424
@sivagollapalli
"As === checks the case equality so when we compare Numeric === 0.9 it returns true as Numeric is an ancestor for Float numbers."

[code]

[2015-11-27 14:21] skaestle commented on #21873
@sgrif hello! would you mind reopening this issue? I have created a small rails (4.2.5) app that showcases the error: https://github.com/skaestle/investigate-rails-notification.

this happens when an error is thrown while subscribed to `process_action.action_controller`: https://github.com/skaestle/investigate-rails-notification/blob/master/app/controllers/posts_controller.rb#L7

[2015-11-27 15:41] anujaware commented on #22424
Still I am not able to reproduce this issue with ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux] and rails 4.2.5. Before having solution. I am not getting why you are not getting that column in column_hash. And why we have Numericality check.
Which database are you using?

[2015-11-27 16:01] adityashedge commented on #22424
@Sega100500 I am not able to reproduce this issue.
I have tried both Ruby 2.2.2 and 2.2.3. Also I double checked with Sqlite3 and Postgresql on both Ruby versions.
[code]

[code]

Can you create a new Github repo to reproduce this error?

[2015-11-27 16:16] Sega100500 commented on #22424
@anujaware
"Which database are you using?"
MySQL

[2015-11-27 16:31] Sega100500 commented on #22424
@anujaware
"I am not getting why you are not getting that column in column_hash"

Because this SQL:
[code]
to get with related content-page

[code]

[code]

It is VALID COE! But you have not considered this possibility.
columns_hash NOT contain joined columns but access to they - it possible!

[2015-11-27 16:34] Sega100500 commented on #22424
@adityashedge
Too simple example of ALL possible usages.

[2015-11-27 16:39] Sega100500 commented on #22424
@anujaware
Anyway
the code
[code]
It is BUG! Not correct to check Float numbers.

[2015-11-27 16:58] sivagollapalli commented on #22424
@Sega100500

Looks like there is no issue. Just now I have checked with `mysql` and `sqlite3` with `4.2.5` and `ruby-2.2.3`.  All my tests are passing. If you still face please update below template and submit so that we can check.

Please ignore my previous comments.

[code]

[2015-11-27 17:01] kuldeepaggarwal commented on #22426
3. Default scope is getting multiplied in the inheriting chain.

[2015-11-27 17:05] Sega100500 commented on #22424
@sivagollapalli
See above
1. joined tables
2. bug code for check Float is:
[code]
Also any questions?

[2015-11-27 17:07] Sega100500 commented on #22424
@sivagollapalli
Are you crazy?
[code]

At BEGIN
[code]

[2015-11-27 17:11] Sega100500 commented on #22424
The code in `lib/active_record/attribute_methods/query.rb#query_attribute(attr_name)` is incorrect to check Float value! Why are you trying to prove the opposite in every way?

[2015-11-27 17:16] sivagollapalli commented on #22424
@Sega100500 oops, that's my bad. Now I modified column to `decimal` but it didn't change my result. Still my tests are passing. Could you please paste exact code snippets of your project so that it easy to debug?

[2015-11-27 17:20] Sega100500 commented on #22424
@sivagollapalli
Oooooohhhh!
SEE ABOVE!!!
1. joined table
[code]
2. Then `columns_hash` not contains `price` column
3. Then code:
[code]
Is BUG!

This can be understood?

See the sources, Luk!
`lib/active_record/attribute_methods/query.rb#query_attribute(attr_name)`

[2015-11-27 18:26] adityashedge commented on #22424
@Sega100500 You can use this repo to reproduce the exact error. It does not occur for a single table(model). What I understand from your comments is that it occurs when you join multiple tables.

https://github.com/adityashedge/test-2.2.3-22424.git

[2015-11-27 18:31] Sega100500 commented on #22424
@anujaware
"when you join multiple tables"
Not only that!

In case when
[code]
if column.nil? - if true
The code:
[code]
is BUG to check Float number

[2015-11-27 18:42] matthewd commented on #22424
@Sega100500 less yelling please.

http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case

[2015-11-27 18:45] Sega100500 commented on #22424
@anujaware

Pure Ruby code:
[code]

result:
[code]

And now turn on the brain!

[2015-11-27 18:48] Sega100500 commented on #22424
@matthewd
No yelling.

I just point to bug.

Why do I still have to prove anything? Why do I have to write some other tests?
It seems pretty clear, I explained the situation.

[2015-11-27 18:49] matthewd commented on #22424
@Sega100500 https://github.com/rails/rails/issues/22424#issuecomment-160188274 is the end of this conversation.

[2015-11-27 18:49] #22424 closed

[2015-11-27 18:52] Sega100500 commented on #22424
@matthewd

Your point is - only you decide RoR will work correctly or incorrectly.

[2015-11-27 19:03] adityashedge commented on #22424
Well apart from the unrelated things, is this really an issue? Need some solid confirmation.

[2015-11-27 19:20] rafaelfranca commented on #22424
@Sega100500 pretty much yes. He is part of the core team and he is more than able to decide how Ruby on Rails will work.

But he didn't closed the issue because you are wrong or not. Let me explain why.

[By our licence](https://github.com/rails/rails/blob/master/railties/MIT-LICENSE):

which means that nobody, again nobody, has obligation to fix your issues, no matter how wrong they are. We do be

[2015-11-27 19:41] IgorMiller commented on #21965
Ok. Thank you. eager_load works perfectly :+1:

[2015-11-27 19:58] simi opened #22429 "Decimal attribute has value check differs in joined table."
follow up of #22424

I think this is the problem original author was thinking about.

[gist](https://gist.github.com/simi/e47d0257dde5fc242577)

[code]

[code]

If anyone can decide if this is real issue, I can submit patch to fix this.

/cc @adityashedge

[2015-11-27 21:02] maia opened #22430 "add_index falsely quoting expressions/functions of columns"
Rails (up to 4.2.5) using Postgres (9.4) wraps quotes around passed columns, therefor breaking attempts to create an index on an expression / function. E.g.
[code]
will create the following SQL:
[code]
instead of
[code]
which will lead to an error during migration:
[code]
As a use case, I was interested in comparing the total of orders in the past hour to the same time interval of previous weeks/m

[2015-11-27 21:44] jtmarmon commented on #22413
[code]

[code]

This is using Sidekiq as an adapter. I think this bug won't surface without one because `perform_later` is the same as `perform_now` without one.

[2015-11-28 04:25] mohamedhafez opened #22431 "Race condition saving belongs_to records in 4.2"
Let's say we have a normal has_many belongs_to relationship:

[code]

If we `update` a `Papa` instance, and then take each of its `kids` in a separate thread to do some processing on them and then try to `save` them:

[code]

when `kid.save!` gets called from the different threads, they'll each end up calling the same `papa` instance's `clear_transaction_record_state` method [(activerecord-4.2.5/l

[2015-11-28 05:46] asiniy opened #22432 "Rails doesn't force duplication in collection_singular_ids= method"
Let's consider my models:

[code]

Now I'm starting to assign ids:

[code]

Was ist das? Bug or feature? Why rails doesn't force duplication on low level?

[2015-11-28 06:03] Sega100500 opened #22433 "Fail: Create an Executable Test Case"
To demonstration a bug https://github.com/rails/rails/issues/22424 I try to create a test.

1. http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case
"Simply copy the content of the appropriate template into a .rb file and make the necessary changes to demonstrate the issue. You can execute it by running ruby the_file.rb in your terminal. If all goes we

[2015-11-28 06:42] #22433 closed

[2015-11-28 06:53] Sega100500 opened #22434 "Once again: Bug for check attribute"
Firstly, please excuse me for https://github.com/rails/rails/issues/22424
But it really bug

I followed your recommendations:
1. http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case
2. https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

This is my test for you:
[code]

Many THANKS for consideration

[2015-11-28 07:01] Sega100500 commented on #22434
If we change:
[code]
then bug not appear by latest verify
[code]

This bug - wrong verify value of **Float** values

[2015-11-28 07:09] Sega100500 commented on #22434
@rafaelfranca
Of course, you can continue to ignore the issues found me. Motivating those that:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND

But I try find and report issues.
Because I want ROR to be a better, more reliable and convenient for ALL - The BEST framework!

SORRY again. And THANKS!

[2015-11-28 07:47] Sega100500 commented on #22434
@adityashedge
Use this my test instead of that you have written:
https://github.com/adityashedge/test-2.2.3-22424/commit/92bd9e60d0d3c24cf77746203ba1c6a0fa2d49d6

[2015-11-28 09:16] simi commented on #22434
I tracked down this already in https://github.com/rails/rails/issues/22429 probably.

[2015-11-28 09:27] Sega100500 commented on #22434
@simi
Issue https://github.com/rails/rails/issues/22424 was be locked before I was able to place a test there.
Your test point to the same bug, it is right.

[2015-11-28 09:43] adityashedge commented on #22434
@Sega100500 ignore the repo. I couldn't find the template and wasn't able to reproduce the issue. Well now that we have narrowed it down to [#22429](https://github.com/rails/rails/issues/22429) we can use this.
@anujaware has already sent a pull request.

[2015-11-28 10:01] Sega100500 commented on #22434
@adityashedge
MANY THANKS! Really!
I was point to that string in code several times in https://github.com/rails/rails/issues/22424
But my messages was ignored.

[2015-11-28 10:11] Sega100500 commented on #22429
@anujaware
MANY THANKS! Really!
I was point to that string in code several times in https://github.com/rails/rails/issues/22424
But my messages was ignored.

[2015-11-28 10:11] #22434 closed

[2015-11-28 11:06] pixeltrix commented on #22429
The problem is that you're creating virtual attributes which don't appear in the `columns_hash` - doing something like `Content.joins(:product).select('products.*').first` is very much an edge case. Because of the failure to find a column the code assumes that the data is a string and tries to interpret it as best it can. There is a problem with decimals less that one but given the inherent accura

[2015-11-28 11:14] pixeltrix commented on #22424
@Sega10050 your report which had virtually no context and then you take people to task for not being able to reproduce the problem - even the variable name you use `@product` would tend to make people think that you were using a `Product` model. It's only 12 messages in where you provide the SQL which you have to read closely to infer that you're actually using the `Content` model and then `select

[2015-11-28 11:23] Shwetakale commented on #22432
@asiniy I think this is feature.

 Let's assume there is ```product_name``` in ```DealerLocation``` model.
One dealer can deliver multiple products on same location. In this case same location will be associated with that particular dealer.

And I tried code snippet you provided in this case 2 different objects of ```DealerLocation``` are created.

     d.dealer_locations
     #<ActiveRecord::Asso

[2015-11-28 11:42] ziomio opened #22438 "ActiveRecord::first method does not always apply `ORDER BY PRIMARY_KEY` sql"
See `ADDED LATER` section from my SO question:
http://stackoverflow.com/questions/33917763/does-activerecordfirst-method-always-return-record-with-minimal-id

In short, when applying `first` method on already `loaded` records - `first` method simply returns @record[index] record without applying `order by' to SQL.

But Ruby on Rails documentation
http://guides.rubyonrails.org/active_record_queryin

[2015-11-28 13:00] jiggneshhgohel opened #22439 "Devise::FailureApp setting response status 401 gets ignored by Rails 5 alpha version code and instead returning 200 code"
I am working on making my Rails 4.2.0/Ruby 2.2.1 **API-only app** ready for Rails 5/Ruby 2.2.3 and for which I am using the Rails 5 edge version. My Gemfile.lock has following entry for Rails, Devise, Rack etc.

[code]

I have a controller spec for my customized Devise SessionsController in my app:

[code]

That spec with Rails 4.2.0/Ruby 2.2.1 is passing. However running that spec against Rails 5

[2015-11-28 16:33] arthurnn commented on #22404
@RochesterinNYC cc me on the PR, thanks

[2015-11-28 16:51] vitorbaptista opened #22440 "UTC-12:00 and UTC+14:00 are missing from ActiveSupport::TimeZone"
According to https://en.wikipedia.org/wiki/List_of_UTC_time_offsets, there are the UTC time offsets range from -12:00 to +14:00. On -12:00, it lists "Baker Island" and "Howland Island", and on +14:00 it lists "Line Islands". Listing the recognized timezones in Rails, we get:

[code]

This goes from "-11:00" to "+13:00", so the two extremes are missing. If useful, I'd be happy submit a pull request

[2015-11-28 18:02] arthurnn commented on #22154
I remember seeing this problem before, maybe @fw1729 told me about when they were trying to make Shopify more resilient. cc @rafaelfranca

[2015-11-28 19:26] Sirupsen commented on #22154
Yup. I uncovered this as well in Shopify. I've mentioned it to @rafaelfranca and @sgrif before. I think the underlying problem here is that the physical database connection is tied too much to the activerecord object. The actual connection should be lazily established. This assumption also has other implications, e.g. if booting Rails and accessing the schema cache (which is useful for metaprogram

[2015-11-28 20:51] nickgnd commented on #22439
HI @jiggneshhgohel,  I've the same problem with Rails 5 (API only) and Ruby 2.2.3 like you.
I use **Warden** to authenticate the user (that is included in Devise).

When I test the controller with Rspec **I'm expecting 401 status for unauthenticated user but I receive 200 as response status**. **It happens only in Test environment**, if I try in Development env it returns 401 like expected (see ht

[2015-11-28 21:28] al2o3cr commented on #22431
Is sharing AR objects across threads like this actually supported, or has it just worked by accident in the past?

The quick workaround would be to iterate over `kid_ids` and hydrate the individual `Kid` objects inside the threads that use them. There's a slight overhead with that, but presumably the `# Do some processing` step is somewhat long-running or threads wouldn't be helpful.

[2015-11-28 21:36] al2o3cr commented on #22292
@thebravoman Is your application using `permanent_records`by any chance? #22417 is reporting an identical issue.

[2015-11-28 21:44] al2o3cr commented on #22430
AFAIK `add_index` doesn't support this at present - implementation discussion in #13684.

You can use `ActiveRecord::Base.connection.execute` as a workaround, but you will also need to switch the schema dumper to SQL mode since the Ruby schema dumper can't represent those indexes correctly.

[2015-11-28 22:09] al2o3cr opened #22441 "MessageEncryptor API can lead to accidental vulnerabilities"
`ActiveSupport::MessageEncryptor` has an API that is easy to get wrong in ways that make an application insecure. I encountered this issue in [this writeup](https://github.com/mastahyeti/the-blog/blob/master/solution.md) from a CTF contest.

The issue is that the _undocumented_ optional second positional argument (`sign_secret`) can be misinterpreted and does not indicate its purpose clearly. For

[2015-11-28 22:19] sgrif commented on #22431
Sharing AR objects across threads is definitely not supported.

[2015-11-28 22:19] #22431 closed

[2015-11-28 22:20] sgrif commented on #22417
`permanent_records` shouldn't be accessing `@attributes`, or other AR internals.

[2015-11-28 22:20] #22417 closed

[2015-11-28 22:24] sgrif commented on #22430
This looks like it's more of a feature request than a bug. We don't accept feature requests on the issues tracker. Feel free to ask around the Rails core mailing list.

[2015-11-28 22:24] #22430 closed

[2015-11-28 23:30] mohamedhafez commented on #22431
so just to clarify, i'm taking each `kid` AR object and handling it *individually* in a separate thread, and they don't reference the object they `belong_to` at all, except for perhaps reading values. If Rails is serious about supporting multi-threading, I'd imagine this would be a fairly common pattern... and unless there is some reason why an AR object's `@transaction_record` can't be cleared af

[2015-11-29 04:39] ruseel commented on #20411
After 7 days, Our very low traffic server did not raise `PG::UnableToSend`.
But It's response time is around over 900 seconds sometimes.

[2015-11-29 06:57] mohamedhafez commented on #22431
Reading an AR object across threads should be supported, correct?

I guess what I'm saying is this is a situation where you would reasonably expect that you would only be reading from the shared parent AR object, and that indeed has been before 4.2

[2015-11-29 07:48] jiggneshhgohel commented on #22439
@nickgnd thanks for confirming that I am not alone facing this problem.

Regarding your point that it happens in Test environment only I can recollect that in the test env logs I could see 401 returned but while asserting response code in spec example it is found to be 200.

BTW I am using Warden test helpers but those are included only for specs tagged with `type: :request` and the problem I am e

[2015-11-29 09:02] Sega100500 commented on #22429
@anujaware

Once again about `lib/active_record/attribute_methods/query.rb#query_attribute(attr_name)`

code (line 19 in 4.2.5):
[code]
is check for **Integer** only. If **Float** is represents as **String** this check is wrong.
[code]

@pixeltrix
Sometimes mistakes (like a `0.9 === Numeric` is not same 'Numeric === 0.9`) are can detect other errors like this above. (About your answer to me in htt

[2015-11-29 09:22] nickgnd commented on #22439
Hi @jiggneshhgohel, in the previous comment I expressed myself badly, I corrected it.

Like your case, the error comes out only in the specs when I assert the response status.

[2015-11-29 10:57] nickgnd commented on #22439
I tried to debug my spec and I found a different behavior compared to your, but that always responds with 401.

If I put a **breakpoint** in my [UnautheniticatedController](https://github.com/nickgnd/example_rails_api/blob/test/rails5alpha/app/controllers/unauthenticated_controller.rb) (that is used from Warden to handle unauthorized request) and I start to debug from here, I find that **the respo

[2015-11-29 13:19] huangminsky opened #22445 "test"
test

[2015-11-29 13:20] huangminsky commented on #22445
test

[2015-11-29 13:20] huangminsky commented on #22445
test

[2015-11-29 13:21] huangminsky commented on #22445
#this is an h1
##this is an h2
###this is an h3

[2015-11-29 13:21] huangminsky commented on #22445
#12320 this is
#22444 shi

[2015-11-29 13:22] huangminsky commented on #22445
[code]

[2015-11-29 13:23] huangminsky commented on #22445
![c0eaab1f-cca0-42b6-8f91-a40cfe5369bb](https://cloud.githubusercontent.com/assets/6838399/11457272/7260db26-96df-11e5-8912-fb7fae2355d7.png)

[2015-11-29 13:33] nickgnd opened #22446 "In Controller Test request.fullpath includes params in the Url for POST requests"
I set up a simple Rails 4.2.3 application with "Collection" resource.

The CollectionsController has only the create action.
If I test it and I check the `request.fullpath` for the create action it returns  the **Path + Params** , like a GET request. An example:
`"/collections?collection%5Bname%5D=test"`
#### Migration

[code]
#### CollectionsController

[code]
#### Test Helper

[code]
#### Collec

[2015-11-29 13:35] #22445 closed

[2015-11-29 13:44] sgrif commented on #22431
No, sharing an AR object across threads is not supported, as the connection
is not thread safe.

On Sat, Nov 28, 2015 at 11:57 PM Mohamed Hafez <notifications@github.com>
wrote:

[2015-11-29 13:48] mohamedhafez commented on #22431
Each thread ends up checking out its own connection to perform the `save!` though. I'm just talking about reading attribute values from an already-loaded AR object.

[2015-11-29 16:44] jiggneshhgohel commented on #22439
@nickgnd I have observed that Devise correctly sets the response code as 401. After that is done and as the execution moves ahead the status gets set to 200. Your debug process involves debugging a GET request and mine involves a POST request so I guess the findings differs however I tried to debug the chain at its root and as part of this I have found what I have mentioned in my first comment.

L

[2015-11-29 17:39] sivagollapalli commented on #22446
This issue exists in `4.2.4` and `4.2.5` also but didn't exists in current master.

[2015-11-29 19:40] poudelprakash commented on #22445
lol! is this some sort of joke?

[2015-11-30 06:32] technic-tec opened #22450 "Rake test failed on simple generated scaffold for created_at=null."
Perform following steps on a fresh new rails project:
[code]
I got following error:
[code]

For comparison:
[code]
reports no error:
[code]

Test environment:
[code]

[2015-11-30 08:28] thebravoman commented on #22292
@al2o3cr yes it is, actually.
[code]

[2015-11-30 11:24] senny commented on #22450
Very odd indeed. I'll have a look.

[2015-11-30 12:47] senny commented on #22450
Problem most likely stems from the fact that Rails is not able to pluralize / singularize the model name `Cave`:

[code]

This makes the [Active Record Fixtures](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/fixtures.rb#L637-L643) unable to detect the model for the generated `caves.yml` and hence `created_at` is not set.

Since the inflector rules in Rails are frozen th

[2015-11-30 12:47] #22450 closed

[2015-11-30 15:08] #22346 closed

[2015-11-30 15:29] ziomio opened #22454 "ActiveRecord#where method produces wrong dates range"
To fetch records for particular day (e.g. Mon, 30 Nov 2015)  I use the following code which returns a range starting from 00:00:00 to 23:59:59:

    date_to_check = DateTime.now
    # => Mon, 30 Nov 2015 17:14:12 +0200

    date_to_check.beginning_of_day..date_to_check.end_of_day
    # => Mon, 30 Nov 2015 00:00:00 +0200..Mon, 30 Nov 2015 23:59:59 +0200

But when I provide the same range to `where`

[2015-11-30 15:34] sgrif commented on #22454
You are passing us datetimes in your local time zone, they are being converted to utc. Use utc times if you don't want conversion.

[2015-11-30 15:34] #22454 closed

[2015-11-30 17:25] matthewd commented on #22426
Bisect says this broke in 5e0b555b453ea2ca36986c111512627d806101e7

/cc @sgrif

[2015-11-30 18:05] chriskottom opened #22455 "Rails test runner fails when minitest-rails gem is present"
I have an existing application that I'm in the process of porting over from 4.2 to edge Rails, and it uses the minitest-rails gem.

The test runner dies on startup with the following exception:

[code]

The plugin in question is referencing Rails::TestUnitReporter from within the Minitest module which would be perfectly fine if minitest-rails didn't define Minitest::Rails as a module.

Explicitly

[2015-11-30 18:22] #22455 closed

[2015-11-30 20:02] timbreitkreutz commented on #20602
@shepmaster  -- have you had a chance to look at my solution proposal (https://github.com/rails/rails/pull/22251)?  If this solves your situation and you could say so maybe it would help get the fix merged in....  thanks :)

[2015-11-30 23:28] jjasonclark commented on #9336
I've been hitting this issue as well. Although I was not able to fix the issue by setting `autosave: false` on the `belongs_to` and `has_one` associations because I'm also using `accepts_nested_attributes_for` which sets the autosave value automatically.

**Amazingly I found a solution that works.** I added the `foreign_key` value the `belongs_to` side of the association. Now I can save the model

[2015-12-01 12:20] AutoBotG opened #22459 "COGGDUJHTHETFMDEA` AUOKMHKOI9O9ORIUT8R9JUJKJIRRJFJYGSUFVRHDJDFJDIAASKC"

[2015-12-01 12:21] #22459 closed

[2015-12-01 14:52] merhard commented on #22312
@fxn I just ran the tests against master as of 11/30/15 (b83c097) and am still seeing this issue.

[2015-12-01 14:59] fxn commented on #22312
Thanks @merhard it's strange because the generated application `Gemfile` by default has the `listen` gem commented out... I'll dig into this.

[2015-12-01 15:31] merhard commented on #22312
@fxn Perhaps the generated application is picking up the `Listen` constant from `Rails`' `Gemfile`?

If I add `config.file_watcher = ActiveSupport::FileUpdateChecker` to https://github.com/rails/rails/blob/208911e4c007b2dc1c1a9d6175abaf95522d00b4/railties/test/isolation/abstract_unit.rb#L147-L154 the issue is resolved.

Should I open a pull request with this change?

[2015-12-01 15:39] thedarkone commented on #22431
@mohamedhafez I get what you are saying, but the problem stems not from your `kids` AR objects, but from the `papa` instance. As you point out, you end up calling `papa.clear_transaction_record_state`, this is clearly not a read-only method.

Furthermore I have to say, as @sgrif pointed out, even pure read-only concurrent usage of AR records is not supported by Rails. What may seem like a "just" n

[2015-12-01 15:51] fxn commented on #22312
Let me study the problem a bit.

[2015-12-01 16:00] uberllama commented on #16449
I just ran into this the other day. Counter cache should definitely *not* be updating lock version. Counter caches are denormalizations, and should not be considered relevant to optimistic locking.

[2015-12-01 16:06] gucki commented on #16449
@uberllama If you don't apply locking and are not using atomic databasse operations (rails doesn't use   atomic databasse operations) your counter cache gets out of sync sooner or later.

[2015-12-01 18:49] CarlosCD commented on #19262
By the way, this happens in PostgreSQL as well, probably as with any other relational database.

It is going to be a gotcha for many, while using a Ruby DSL instead of SQL. Specially when using boolean columns, expecting that NULL as just another possible value, as the AR DSL maps it to Ruby's nil... so `where.not(something: true)` would not return any records in which something is NULL.

    [ tr

[2015-12-01 22:05] mohamedhafez commented on #22431
@thedarkone ah i see, thanks for the explanation, I appreciate it. guess there's no avoiding it I'll just get down to refactoring then:)

[2015-12-02 10:10] masciugo opened #22465 "hidden guides?"
There are some guides like [this](http://edgeguides.rubyonrails.org/engines.html) that are not visible in the index popup menu and some other that are not even visible in the guides home page like [this](http://guides.rubyonrails.org/rails_application_templates.html).

I just wonder if it has anything to do with their reliability

[2015-12-02 11:19] timmyArch opened #22466 "Failed callbacks"
Hiho,

i had a question which is related to AR::Callbacks.
I was able to register callbacks, but what should a do if a callback fails. I would integrate my workflow transparently. I'd like to call e.g a http api to get required information after_commit.  So could anyone help me in this case. I would like to use the AR::Error's built in error handling as it is in validators. Is there any possibilit

[2015-12-02 11:29] matthewd commented on #22466
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-02 11:29] #22466 closed

[2015-12-02 12:41] #17121 closed

[2015-12-02 12:43] senny commented on #17121
A patch has been applied on `master`. This will be fixed in Rails 5. I won't backport to `4-2-stable`.

@montanalow thank you for reporting :yellow_heart:

[2015-12-02 14:21] jonatack commented on #22455
Nice one, Chris, just stumbled on this as well.

[2015-12-02 15:18] majewsky opened #22467 "number_to_human_size computation error"
[code]

The second one is off by 4 KB.

[2015-12-02 15:44] sgrif commented on #22467
[As documented](http://api.rubyonrails.org/classes/ActionView/Helpers/NumberHelper.html#method-i-number_to_human_size), the default precision of `number_to_human_size` is 3. You can pass a `precision` option if you need a higher precision.

[2015-12-02 15:44] #22467 closed

[2015-12-02 16:18] rafaelfranca commented on #22465
Work in progress guides like the first one are not visible in the navigation. Others guides that need a full review are not included in the guides home page.

Also, please don't ask questions in the issue tracker, use the Rails core mailing list for that.

[2015-12-02 16:18] #22465 closed

[2015-12-02 16:26] shepmaster commented on #20602
I skimmed it briefly and it makes sense at a superficial level. Thanks for your work!

Unfortunately, I've moved on from that particular code base and no longer have access to it, sorry!

[2015-12-03 00:02] stephenprater opened #22474 "HasOneAssociation `build` nullifies existing association."
Given the following setup:

[code]

If there is a Engine -> Car relation, then calling `car.build_engine` actually modifies the **Engine** record by nullifying it's `car_id` column.   This happens [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/has_one_association.rb#L39)

This seems like a behavior that differs from the normal behavior of `___Associat

[2015-12-03 01:16] denniss commented on #22474
Are you saying that there is already an `engine` record persisted before calling `car.build_engine`?

[2015-12-03 03:14] claudiob opened #22477 "#21631 changed the order of the notifications published by @cache.fetch"
In Rails 4.2, if you subscribe to the notifications published by an `ActiveSupport::Cache` store and then invoke `.fetch` on a missed key, you see the notifications appearing in this order:

1. cache_read.active_support
1. cache_generate.active_support
1. cache_write.active_support

This sounds like the correct order (read if they key exists, generate a new key because of the miss, write the new k

[2015-12-03 03:22] montanalow commented on #17121
Wahoo, thanks for fixing :+1:

[2015-12-03 03:31] claudiob commented on #22477
cc/ the original author/merger of #21631 : @jeremy and @RobinClowers

[2015-12-03 04:15] RobinClowers commented on #22477
@claudiob Looks like you are right, I'll look into a fix.

[2015-12-03 04:21] claudiob commented on #22477
@RobinClowers Thanks!! :ribbon:

[2015-12-03 05:48] RobinClowers commented on #22477
@claudiob I submitted a fix, but as an aside, I wasn't able to get your failing test to run? I get this error about rails not being checked out:

[code]

[2015-12-03 06:08] stephenprater commented on #22474
Yes.

[2015-12-03 06:17] claudiob commented on #22477
@RobinClowers mmmh… it works for me… can you try running `ruby -e "$(curl -fsSL http://git.io/vRYIj)"` and printing your output? This is what I see.

[code]

[2015-12-03 06:32] RobinClowers commented on #22477
Turns out I had a corrupted install of the gem due to flakey internet, it works in a new gemset. Thanks!

[2015-12-03 08:46] senid231 commented on #22089
@pixeltrix, it is just small example of problem. I know that I should use polymorphic only if it can belongs to diferent entities from different tables. i show particular case when preload doesn't work right
(I added `DB::Cargo` model to first post. example should be more understandable now)

[2015-12-03 09:59] tilhoft opened #22484 "Mysql as method, and group"
This query string :

data = Outlay.select("DATE_FORMAT(date, '%Y-%m-01') as month, sum(amount) as am_sum").group(:month).inspect

runs this in mysql:

SELECT DATE_FORMAT(date, '%Y-%m-01') as month, sum(amount) as am_sum FROM `outlays` GROUP BY month;
which is good and returns this: (if i run directly on mysql console)

+------------+--------+
| month      | am_sum |
+------------+--------+
| 2015-

[2015-12-03 15:18] rafaelfranca commented on #22484
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-12-03 15:19] rafaelfranca commented on #22474
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-12-03 15:32] jfornoff commented on #20202
Sorry for taking so long, I forgot.

Problem unfortunately still persisting on 4.2.5

[2015-12-03 15:33] rafaelfranca commented on #20202
Can you please provide a sample application that reproduces the error?

[2015-12-03 15:35] cmrd-senya opened #22489 "ActiveRecord (rails 4.2.5) no superclass method 'attribute=' when called from inherited class."
Hi!
I was trying to patch AR attributes call in order to do some read/write logging. I faced a problem that for some objects, when attribute= gets called it raises "no superclass method". It happes when object is not a direct child of ActiveRecord::Base, but has an intermediate parent, which in its turn is the direct child of ActiveRecord::Base.

I discovered similar issues that were closed in 4.2

[2015-12-03 15:37] tilhoft commented on #22484
here it is :) this was the simpliest way to attach sorry for the docx format :)
[issue22484.docx](https://github.com/rails/rails/files/50986/issue22484.docx)

[2015-12-03 15:38] cmrd-senya commented on #22489
[Here](https://gist.github.com/cmrd-senya/ccf73c1891845ef213f1) is the testcase output.

[2015-12-03 15:38] rafaelfranca commented on #22484
Can you upload it to a gist? https://gist.github.com/

I don't have a program to open docx documents.

[2015-12-03 15:41] tilhoft commented on #22484
https://gist.github.com/tilhoft/f2abb29bee76214a119c

[2015-12-03 15:56] jfornoff commented on #20202
Thanks for the quick reply, I'll try to figure out how to reproduce it reliably.

[2015-12-03 16:54] matthewd commented on #22489
`abstract_class` means `Parent` doesn't have any columns (and thus attribute methods). This sounds like expected behaviour to me.

[2015-12-03 16:54] #22489 closed

[2015-12-03 16:56] ascastro opened #22490 "Problem with String 'Null' and Postgres string arrays"
So that it is easier to replicate this issue (DB is Postgres), let's assume we have the following migration:
[code]
and the model
[code]

Saving the string 'Null' (which can be a surname) to the array `names`, will cause the object to have a `nil` entry in the array:
[code]

[2015-12-03 17:25] cmrd-senya commented on #22489
But ```Person``` should have columns, shouldn't it?

[2015-12-03 17:28] cmrd-senya commented on #22489
Can't you please then advice how should I write it so ```email=``` works for ```Person```?