[2016-05-21 18:52] hmistry commented on #25102
So the above message is what I get debugging using `byebug`, no trace.

This is the trace what the test expectation fails with:
[code]

Let me know if you need anything else.

[2016-05-21 19:09] sgrif commented on #25102
The steps to reproduce that you've provided are not enough for us to reproduce this issue. Please provide a reproduction script using https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb as a template

[2016-05-21 19:20] wadestuart commented on #24908
Kind of,   I think the server side ping is useful,  so I do not know that we would want to remove the functionality.  If we did I would think the server side would need to be rewritten to passively listen for the client initiated pings to retain the server side disconnect.  I think it may be easier to leave the server side like it is (given it just sends out 1 message every 3 seconds and is low ov

[2016-05-21 19:36] dhh commented on #25095
Please do take a stab at it!

On Sat, May 21, 2016 at 8:08 PM, Shakycode <notifications@github.com> wrote:

[2016-05-21 23:52] almasaud commented on #24459
Have same issue here :(

[2016-05-22 01:17] kdough opened #25106 "Setting self.response_body = nil no longer prevents DoubleRenderError"
### Steps to reproduce

I am attempting to prevent a `AbstractController::DoubleRenderError` in a controller by setting `self.response_body = nil` before a second call to `render`.  The reason that multiple renders occur is that I have `after_action` callbacks that call `render` after the action itself has already rendered its response.

It is my understanding that `self.response_body = nil` shoul

[2016-05-22 06:51] paulmenzel commented on #24816
@vipulnsward, thank you very much!

Should I backport this to Rails 4.2?

[2016-05-22 07:24] sevaorlov commented on #25106
seems to be related to https://github.com/rails/rails/issues/23964

[2016-05-22 08:45] matthewd commented on #25106
Being able to "unrender" at all seems surprising to me. Is there documentation somewhere consistent with your understanding?

[2016-05-22 08:51] sevaorlov commented on #22723
@valgayres, I've created this script and switching doesn't happen for me in Rails 4.2.4. What am I doing wrong?

[code]

[2016-05-22 10:27] Uelb commented on #23308
I actually have the same problem on my Rails project.

ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]
Rails 4.2.6

Basically :
[code]

I use Single table inheritance for different types of attributes of my user. And When I try to eager load the sports of a user

[code]

But :
[code]

All other attributes are correctly eager loaded

[2016-05-22 11:31] hammerdr opened #25109 "Logging mismatch when Rack::Cache activates"
Tracked down an issue where responses cached by Rack::Cache are being reported wrong in the logs. Whereas the server ultimately returns a 304 response code, we're seeing a 200 response code in the logs. I tried to write a test to prove it out, but none of the tests in the rails repo seem to test the entire Rack middleware stack together (there actually probably is, I'm just not well versed enough

[2016-05-22 12:14] shakycode commented on #25095
@dhh Awesome, myself and @danielpclark are going to pair on this and see what we come up with.  I'm heavy security minded so this would be a fun PR.  Thanks for letting us work on this! 👍

[2016-05-22 13:22] maclover7 commented on #25106
Agree with @matthewd, I think this is unsupported behavior 😬

[2016-05-22 17:47] rafaelfranca commented on #24816
It is already backported to all stable branches that we want to apply it.
Thank you for volunteering.
On dom, 22 de mai de 2016 at 03:51 Paul Menzel <notifications@github.com>
wrote:

[2016-05-22 17:54] hmistry commented on #25102
I'm creating the reproduction script but I'm getting a `ParamsParser` error when using Rspec, see below. This test worked with Minitest so I want to try with Rspec to see if it is the root cause of my issue.

Could you help me to get Rspec configured to work with the above template? I've replaced `minitest` section with the following and looking at the Rspec doc's, I'm not seeing anything else I n

[2016-05-22 17:58] sgrif commented on #25102
If you cannot reproduce the error without using RSpec, it's a bug on their
end.

On Sun, May 22, 2016, 1:54 PM hmistry <notifications@github.com> wrote:

[2016-05-22 18:24] hmistry commented on #25102
@sgrif I would agree with your conclusion if I was at a good point where I have ruled out all the variables with confidence, but I'm not there yet.

Would you (or some one) help me get Rspec configured correctly with your above template script so I can do a `post` request without getting an `ActionDispatch` parsing error?

[2016-05-22 18:51] dhh commented on #25095
Updated the original ticket to include the idea of keeping both an encrypted and an unencrypted secrets file at the same time.

[2016-05-22 21:52] jonatanklosko commented on #5982
Hi, we've experienced this in our project recently and hopefully I've found an easy fix. We use MySQL and [senny's comment](https://github.com/rails/rails/issues/5982#issuecomment-138231374) was the start point for solving this, thanks =). For details see the comment [here](https://github.com/jonatanklosko/worldcubeassociation.org/blob/efb7e27875650c6e909e4254f56eefec1cb69b7e/WcaOnRails/app/models

[2016-05-22 23:14] almasaud commented on #24459
It seams the issue I had was because of that I copied and pasted some of the code from the tutorial. This meant that the indentation at my controller and view was mixed. I rewrote the snippets myself and can confirm that destroy/delete links are working now.

[2016-05-23 05:08] radar commented on #18847
I agree with @rafaelfranca.

This feature will be mis-used in quite a lot of Rails applications. Suppressing callbacks in this way should be something that the framework actively _discourages_, rather than _encourages_. I have worked with enough live Rails applications (that aren't just simple CRUD apps) to know that this feature is going to cause issues in the long run.

From the examples given i

[2016-05-23 05:49] rafaelfranca commented on #25102
We are not Rspec users. You would find more help in the rspec-rails issue tracker. I'm happy to keep this open if we can isolate this problem to Rails but the fact that it is only reproducible with Rspec means that maybe it is not a Rails issue.

If you do a quick search in the Rails codebase by "needs to be", you will not see any error with that message so I'm sure that error is not being raised

[2016-05-23 05:49] #25102 closed

[2016-05-23 07:21] dhh commented on #18847
You're a year late to the discussion and you didn't bring any new arguments to the party. Feel free to write your own code without callbacks, but this chef's knife is staying in the drawer.

[2016-05-23 08:20] mollat commented on #25078
Thank you for looking at this... !

[2016-05-23 08:44] KevinSjoberg opened #25116 "Raise on missing translations does not include controllers"
The option `raise_on_missing_translations` is scoped to `ActionView`. Since `AbstractController` provides its own implementation of `translate` and `localize` it does not include the "raise on missing" behaviour.

This is problematic, I can't think of a use case where you'd want to only raise exceptions in either views or controllers. Usually, if you want to raise errors, you want the behaviour ev

[2016-05-23 08:47] rafaelfranca commented on #25116
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2016-05-23 08:47] #25116 closed

[2016-05-23 08:49] AmitPatel-BoTreeConsulting commented on #19232
With Rails(4.2.5) and mysql2(0.4.3), I am not able to set `bigint(20)` as primary key using following migration

[code]

The generated schema entry is

[code]

And generated table definition is

[code]

[2016-05-23 08:52] KevinSjoberg commented on #25116
@rafaelfranca I'm not asking anyone to implement this, I'm willing to do the work. But before making a pull request I think it's important to discuss how we want to tackle the problem. There are plenty of contributors with more experience than me and I think it's wise to ask for their input before hacking away.

If GitHub isn't the place for this, where is?

[2016-05-23 11:11] robertlyall opened #25117 "Puma unresponsive when there is more than one ActionCable channel"
### Steps to reproduce

I have made a repository detailing the issue here:

https://github.com/robertlyall/puma_channel_problem

If you checkout `879fde` (one channel), and start the server - everything works wonderfully. Shutdown the server then checkout `edc493` (two channels). After a number of page refreshes the request will hang. If you run `netstat -atn | grep 3000` you'll see something like

[2016-05-23 12:45] jeroenvisser101 opened #25118 "ActionCable complains about class being removed from module tree"
### Steps to reproduce
(cannot reproduce reliably)

### Expected behavior
ActionCable would work normally

### Actual behavior
[code]

### System configuration
**Rails version**: 5.0.0.rc1

**Ruby version**: 2.3.1

[2016-05-23 14:10] onemanstartup commented on #25118
@jeroenvisser101 "Beware that currently the cable server will not auto-reload any changes in the framework" this is in readme for action cable

[2016-05-23 14:16] jeroenvisser101 commented on #25118
@onemanstartup thanks — I knew it was disabled, but I don't think that this error should be thrown when code changes, right? Now it throws up whenever I change code.

[2016-05-23 16:45] sandfoxme commented on #23589
Rails 5.0.0.rc1, same issue, no friendly_id

[2016-05-23 17:05] dhh commented on #18847
Locking this thread along with the other outlets. If you want to start a discussion on the mailing list to take this further, be welcome. All the same considerations apply. Arguments already considered aren't going sway things by being restated. But you're welcome to provide novel arguments.

"This might get misused" was addressed today in the ninth pillar added to the doctrine: http://rubyonrails

[2016-05-23 17:18] jeremy commented on #23589
This is due to initialization order. Any plugin that loads AR will cause it to pull config to AR::Base so subsequent initializers will be too late in the game to take effect.

Try setting this in config/application.rb instead or setting `ActiveRecord::Base.belongs_to_required_by_default = true` instead of `Rails.application.config.active_record.belongs_to_required_by_default`.

[2016-05-23 17:36] jeremy commented on #25117
Thanks for the repro app, @robertlyall!

Are you seeing this in development mode only, or production as well?

[2016-05-23 18:23] rafaelfranca commented on #25116
Hey @KevinSjoberg I saw you sent a comment and later deleted it. Have you found your answer? If not I'm willing to explain better.

[2016-05-23 18:50] KevinSjoberg commented on #25116
@rafaelfranca you're right. I think the mailing list, as you suggested, is better suited for the discussion I like to have. Thank you for pointing me in the right direction. 😃

[2016-05-23 19:56] kdough commented on #25106
Thanks for the comments, everyone.  I am using Pundit and saw [this approach](https://github.com/elabs/pundit/issues/72#issuecomment-28178007) for dealing with DoubleRenderErrors caused by `after_action` calls that do a subsequent `#render`.

The behavior that I am seeing (which is why `performed?` is truthy) is the following:

In Rails 4.2.6 (expected behavior):
[code]

In Rails 5.0.0.rc1 (note t

[2016-05-23 19:57] robertlyall commented on #25117
Only in development as far as I can tell. I spent the last few minutes trying to replicate in production without any luck. Was the issue reproducible for you using my repo app? Just want to clarify it's not just me.

[2016-05-23 20:23] sevaorlov commented on #23576
Simpler reproduction script, that shows the problem better, although hides business rationale behind it.

[code]

This happens because calling `all_subposts` method on an unscoped Post is implemented through `method_missing` and is wrapped in `scoping`, which takes scope from `Post` model.
https://github.com/rails/rails/blob/8afea8ebe715ee5c94e64d4f45a742dfe4d514fa/activerecord/lib/active_record/r

[2016-05-23 20:34] rafaelfranca commented on #25106
By c4d85df seems that setting `response_body` to `nil` is a valid use case, so I agree this is a regression.

[2016-05-23 20:48] sandfoxme commented on #23589
@jeremy thanks! But default rails initializer should be changed accordingly then so it won't confuse people in this situation

[2016-05-23 20:59] jeremy commented on #23589
Agree @sandfoxme. Up for submitting a PR?

[2016-05-23 21:10] maclover7 commented on #25109
Would you be able to simplify your test application and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-23 22:22] dnch commented on #25095
If the rationale behind this is to prevent people from committing secret information to their repository, why not take the opportunity to guide people towards taking full advantage of environment variables (perhaps by incorporating something like [dotenv]((https://github.com/bkeepers/dotenv)) as part of the default build, rather than implementing a potentially awkward workaround?

[2016-05-23 22:45] sandfoxme commented on #23589
@jeremy ok, maybe tomorrow

[2016-05-24 01:05] rafaelfranca commented on #23824
This is not the same that `SimpleDelegator` does?

[code]

[2016-05-24 01:20] SamSaffron opened #25125 "Getting an stack level too deep when testing on 2.4"
Rails 4.2.6, booting Discourse on Ruby head.

[code]

[2016-05-24 01:22] vipulnsward commented on #25125
cc @jeremy

[2016-05-24 01:44] vipulnsward commented on #25125
@SamSaffron what revision of ruby does this occur on?

[2016-05-24 01:46] SamSaffron commented on #25125
On trunk 2.4.0.dev

On Tuesday, 24 May 2016, Vipul A M <notifications@github.com> wrote:

[2016-05-24 01:59] jeremy commented on #25095
@dnch Totally. That is the current guidance, but there's a foggy gray area around "where do these env vars come from?" We can do better. We demonstrate using `config/secrets.yml` with values like `<%= ENV['AWS_ACCESS_KEY_ID'] %>`. The envdir family of tools are a great way to inject these.

However! Some sensitive config are better off being versioning along with source code. The big bonuses are a

[2016-05-24 02:05] jeremy commented on #25125
Due to Fixnum/Bignum unification. They're the same class now (Integer) so we're aliasing to_s twice!

We're gonna have a neat day.

[2016-05-24 05:20] medicsmarket commented on #23016
**First, check if you have Xcode installed**
**Second, if you already have Xcode in your Mac, use this command**

    CC=gcc rvm install-version
**Example**

    CC=gcc rvm install-1.9.3

**Reason for this error in Mac OS is that your Ruby is not able to get the C header files**

Hope, this works on all the Macbook's.
**Its working on El Capitan, ruby 1.9.3, rails 3.2, mysql 5.7**

[2016-05-24 05:43] dhh commented on #23824
I prefer not having to hijack the inheritance tree for such a simple feature. I find the use of inheritance + super odd as well. "delegate_missing_to" reveals intentions better and clearer.

[2016-05-24 05:44] dhh commented on #25095
My objective is rather to avoid having to deal with a rash of ENVs! So in many ways the opposite. That's the approach I consider awkward.

[2016-05-24 07:21] Javix commented on #25074
I've just retried to run the same DB extraction data ruby script and it worked without problems, as via Windows command prompt terminal (cmd prompt) as via Git Bash terminal. So, taking into account that I can't reproduce it again and can't find a way post a test template as described, I'll close the issue. Theoretically, it can't be an encoding problem (the active suppport `blank.rb` file already

[2016-05-24 07:21] #25074 closed

[2016-05-24 08:31] sandeepravi commented on #18233
This seems to be causing an issue with accepts_nested_attributes_for . If I want to create the child object along with the parent, it seems to throwing an error in the child model that the parent has to exist.

This seems to be a pretty standard thing to do, right? Is there any workaround for this? Or am I missing something?

[2016-05-24 10:27] dhh commented on #18233
@sandeepravi I'd suggest adding `required: false` to child models in that case. Not a big fan of `accepts_nested_attributes_for` anyway and we should figure out a long-term path away from that. But saying `required: false` will return things to how they were for you.

[2016-05-24 10:43] sandeepravi commented on #18233
@dhh , yeah right now I've made it optional so it seems to work. But I would rather keep it required and not use accepts_nested_attributes.

Yeah, nested_attributes in multiple places can get messed up quite soon. You generally prefer to have form objects or just plain POROs?

[2016-05-24 10:49] dhh commented on #18233
I like aggregation through regular Ruby objects. For example, we have a Signup model that's just a Ruby object orchestrating the build process. So I'd give that a go!

[2016-05-24 10:51] sandeepravi commented on #18233
yeah, it seems the simplest option as well.

Cool, Thanks!

[2016-05-24 11:21] jebingeosil opened #25127 "truncate_words method getting hung for specific text input in Rails 4.2"
### Steps to reproduce

sample_text =  `"<p><span>Returns a checkbox tag tailored for accessing a specified attribute (identified by </span><tt>method</tt><span>) on an object assigned to the template (identified by </span><tt>object</tt><span>). This object must be an instance object (@object) and not a local object. It&rsquo;s intended that </span><tt>method</tt><span> returns an integer and if

[2016-05-24 13:03] takkanm opened #25128 "Can't use enum value in `where` key with `joins` for has_one relation query."
### Steps to reproduce

I wrote following code, but it isn't work.

[code]

But, followin code is work.

[code]
### Expected behavior

[code]

### Actual behavior

[code]

### System configuration
**Rails version**:Rails 5.1.0.alpha
#

**Ruby version**:ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

[2016-05-24 14:07] maclover7 commented on #25128
Can you combine your code above create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-24 14:34] sivagollapalli commented on #25127
@jebingeosil I just checked and it worked for me as expected. I am using `rails 4.2.5` and `ruby-2.3.1p112`. Let me know if you are using a different version.

[2016-05-24 14:42] tony-milne opened #25129 "Unexpected transaction behaviour"
I think I may have run into some odd behaviour with transactions in rails. I am use postgres as my database, but the issue also occurs using sqlite in the gist below.

### Steps to reproduce
https://gist.github.com/tony-milne/1fb400c3c71abb86b10d94b33fd3b407

Create a new record when in a transaction block and make further changes to the record and save it again.

### Expected behavior
Record shou

[2016-05-24 14:53] vipulnsward commented on #25127
@jebingeosil can you create an executable script with the issue reproduction? https://github.com/rails/rails/blob/master/guides/bug_report_templates/generic_gem.rb

[2016-05-24 15:20] takkanm commented on #25128
Thank you for your comment. I created executable test script.

[code]

https://gist.github.com/takkanm/6fed8be16222bd5eb4b6b7c4f1331621

[2016-05-24 15:51] guikubivan commented on #18552
😢

[2016-05-24 16:24] rafaelfranca commented on #23824
:+1:. Agree it reveals the intention better.

[2016-05-24 16:25] danielterega commented on #25129
I could be wrong, but is seem to be an expected behaviour.

[ActiveRecord::Transactions::ClassMethods](http://api.rubyonrails.org/classes/ActiveRecord/Transactions/ClassMethods.html)

[2016-05-24 16:28] dhh commented on #23824
I also like the parity with delegate_to. It feels like a natural extension
of it. Yes, the functionality is the same, but it's in a much nicer package.

On Tue, May 24, 2016 at 6:26 PM, Rafael França <notifications@github.com>
wrote:

[2016-05-24 16:28] vipulnsward commented on #25129
That is true. This is expected behaviour.
Closing based on https://github.com/rails/rails/issues/25129#issuecomment-221326612

[2016-05-24 16:28] #25129 closed

[2016-05-24 16:32] tony-milne commented on #25129
Ah, I didn't spot that, despite reading that page a few times!

I still find it a bit odd given that state is tracked and even reverted under certain circumstances e.g. https://github.com/rails/rails/blob/v4.2.6/activerecord/lib/active_record/transactions.rb#L368

[2016-05-24 18:18] fubarius commented on #24969
If this is expected behavior can we add a note to the documentation?

On Sun, May 15, 2016 at 12:47 PM, Rafael França <notifications@github.com>
wrote:

[2016-05-24 18:23] connorjacobsen commented on #23824
Why not just use the already existing `delegate` method? Then you can explicitly define the interface for the decorator instead of just passing anything through.

It makes the decorator interface well-defined, and far less permissive.

[code]

[2016-05-24 18:41] rafaelfranca commented on #24969
We can. But that documentation doesn't mention spring so we would have to write a note about it.

[2016-05-24 18:45] rafaelfranca commented on #23824
There are cases where you want a permissive decorator, and for these cases I believe the proposed API is good.

[2016-05-24 19:40] maclover7 commented on #25128
Cool, thanks for posting this! I can confirm that this is failing on Rails master, but is working properly on 4-2-stable. Doing a `git bisect`, to find the root of the problem.

[2016-05-24 20:05] rthbound commented on #25106
I'm curious @kdough have you checked whether this regression occurs at 5.0.0.beta1?

[2016-05-24 20:10] connorjacobsen commented on #23824
Permissiveness aside, that functionality already exists in a much better way. The existing method forces the author to be explicit, better conveys intent, and provides an interface instead of just blanket allowing all of the things.

`delegates_missing_to` may reveal intention better than `SimpleDelegator`, but `delegate` on its own reveals intention far better than `delegates_missing_to`.

[2016-05-24 20:18] maclover7 commented on #25128
This bug was introduced via 50a8cdf0e2cff604b0361a370afc8becf2579d94. cc @sgrif

[2016-05-24 21:45] rafaelfranca commented on #23824
That is true. And now we have a spectrum of choices for people form the more permissive to the more explicit.

Even with the existing methods, people often use the `method_missing + respond_to_missing?` pattern. This new method is to make this common pattern easier.

You could agree that "explicit, better conveys intent, and provides an interface instead of just blanket allowing all of the things"

[2016-05-24 21:45] #23824 closed

[2016-05-24 22:45] connorjacobsen commented on #23824
What you just described appears to be the complete opposite of http://david.heinemeierhansson.com/2012/rails-is-omakase.html.

I also don't agree with the idea that "people want to do this not so good thing, so let's make it easier to do that" is the best approach.

I personally use the `method_missing + respond_to_missing?` pattern outside of rails often, but the methods that the target object wi

[2016-05-24 23:05] rafaelfranca commented on #23824
I also limited the delegation with this mechanism but I also know that there are cases where you want a full delegation to the decorated object, and this is exactly what this method introduces.

Who encourage bad practices are the people, not tools. You can perfectly use this tool to do best practices.

Yes, it introduces a more intention revealing implementation for a common pattern.

I think you

[2016-05-24 23:07] nthj commented on #25117
I've also been able to reproduce all day in development only.  OS X Yosemite.

[code]

[2016-05-24 23:10] marcalc opened #25135 "has_many :through validate=>false not being obeyed."
### Steps to reproduce
[code]

[code]
at ActiveRecord::Associations::HasManyThroughAssociation.insert_record(record#Role, validate#TrueClass, raise#TrueClass) at /Users/marcalc/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/activerecord-5.0.0.rc1/lib/active_record/associations/has_many_through_association.rb:41

[code]

at concat_records(records#Array) at /Users/marcalc/.rbenv/versions/2.3.1/lib/r

[2016-05-24 23:20] viniciusfont commented on #25091
Why using other database connection break the postgres foreign_key relation?

[2016-05-24 23:37] kdough commented on #25106
@rthbound Yes, I can confirm that this regression occurs with 5.0.0.beta1 -- albeit with a ``NoMethodError: undefined method `each' for nil:NilClass`` since `body` is `nil` at [v5.0.0.beta1/actionpack/lib/action_controller/metal.rb#L177](https://github.com/rails/rails/blob/v5.0.0.beta1/actionpack/lib/action_controller/metal.rb#L177).

[2016-05-24 23:56] marcalc opened #25136 "has_many :through validate=>false not being obeyed."
### Steps to reproduce
[code]

When saving role_ids=["", "1", "2"], it shouldn't validate the role object, as it's relation is set to validation: false

[code]
at ActiveRecord::Associations::HasManyThroughAssociation.insert_record(record#Role, validate#TrueClass, raise#TrueClass) at /Users/marcalc/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/activerecord-5.0.0.rc1/lib/active_record/associations/

[2016-05-25 00:31] maclover7 commented on #25136
This sounds pretty similar to #25135 -- let's move the discussion there and focus on one issue 😬

[2016-05-25 00:31] #25136 closed

[2016-05-25 00:32] maclover7 commented on #25135
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-25 00:55] marcalc commented on #25135
Sure.

[code]

[2016-05-25 01:14] maclover7 commented on #25135
So, a few things (all of these are in terms of the current code on Rails master, not RC1 😬):

1. the `validates_presence_of :audit_comment` appears to be failing right now, but I'm going to ✂️ that, since it isn't really related to the thing we are testing here 😬

2. Your test script [with some removal of some extraneous information](https://gist.github.com/maclover7/45349253b50d2b54b57bbcb75a7b73

[2016-05-25 01:35] sblackstone commented on #25087
It seems that the current behavior is expected - if I "fix" this issue, other test cases fail that that expect it to work the other way.   At first glance it makes sense to me that it should pass through the slash escaped - but I suspect there are other use cases for this function. (escape_path in journey/router/utils.rb)

[code]

[2016-05-25 01:41] marcalc commented on #25135
Well, I agree with some removals, although the validation inside the Role class represents the problem. As I'm not touching Role by setting user#role_ids=, it shouldn't get validated.

[2016-05-25 03:23] hmistry commented on #25095
This is great news. I sincerely ask that when you create the new scheme, please take the time to consider the different ways a developer needs to use and handle the secrets and come up with an awesome experience that's easy and works.

I break the experiences for managing secrets into 3 areas:
1. accessing secrets on a local dev machine, a dev/staging server, and main production server
2. checking

[2016-05-25 03:59] dnch commented on #25095
*nods*

Thanks @dhh and @jeremy—I've got a better idea where you're coming from, now. The ability to do atomic deploys purely from a repo would be a neat win.

The inclination to use / distributing the production master key across development environments raises a red flag, though.

Do you think it would be worthwhile having Rails default to using the unencrypted secrets.yml in test / dev (thus ne

[2016-05-25 05:21] takkanm commented on #25128
@maclover7 @sgrif Thank you for fix 🎉 🎉

[2016-05-25 05:24] takkanm commented on #25128
sorry, I failed comment. :bow:

[2016-05-25 05:40] dhh commented on #23824
Conor, just the other day I added this ninth tenet about sharp knives to the Rails Doctrine: http://rubyonrails.org/doctrine/#provide-sharp-knives.  It applies well here and so does the tenet on beautiful code.

We've taken a common pattern and boiled it down to a single class method that's in line with existing behavior we expose around delegation. That satisfies both of these tenets and thus in

[2016-05-25 06:42] jebingeosil commented on #25127
@sivagollapalli  Thanks for the quick response, I am using rails 4.2.0  and ruby ruby 2.3.1p112

[2016-05-25 06:46] jeremy commented on #25095
Yeah, no. Production secrets floating around dev laptops → 🤐. The unencrypted dev/test vs encrypted prod behavior is what's intended (and proposed). That requires `config/secrets.yml` to be committed to git for dev/test secrets, presumably of lower sensitivity.

Ideally, we could have separate keys for dev/test and prod/staging, suggesting that we have separate secrets files. Database credentials

[2016-05-25 07:12] rafaelfranca commented on #25127
@jebingeosil could you upgrade to 4.2.6?

[2016-05-25 07:18] dhh commented on #25095
Agree. Let's start with the straight extension of secrets. We could think about how database.yml could potentially reference an encrypted secret.

[2016-05-25 12:14] anykeyh commented on #25117
I guess it's related, cf. the issue I've opened in the puma's repos:

Hello,

I've a strange issue happening for now in development (not sure about production yet).

The step to reproduce are simple:

- Launch the server (in my case using `rails s`)
- Open a website using actioncable with multiple channels
- Stop the server and launch it again
- Wait for auto-reconnect of action cable

And TADA, b

[2016-05-25 13:01] hubmark commented on #18660
I tried everything and nothing worked except these simple instructions  http://quick.as/yvyqsn7j

[2016-05-25 13:08] marcalc commented on #25135
Hi, John. Thanks for your attention yesterday.

I created a new bug script which fits exactly in the situation I'm reporting. The `validates :comment, presence: true` is absolutely necessary for the bug to happen, as when specifying `has_many :roles, through: :user_roles, validate: false` the Role object shouldn't be validated.

[code]

Thank you in advance!

[2016-05-25 16:51] rrosenblum opened #25140 "has_many :through does not initialize the through record with both associations"
Given a `has_many :through` relationship. When trying to add an associated record, the record in the `through` table is not initialized with both records.

I have seen similar issues reported, but I could not find any record of this actual issue.

[code]
### Expected behavior

The through record is initialized with records to both associations. The `appointment` record should be initialized with b

[2016-05-25 16:54] vipulnsward commented on #25127
On 4.2.6, it seems to work fine for me:
[code]

[2016-05-25 17:37] durandom opened #25141 "Class.subclasses returns unreachable classes"
When I remove a Class constant with `remove_const` it still is listed as a subclass.

[code]

Is this the intended behavior?
It could be changed by appending `or !k.reachable?` to [this line](https://github.com/rails/rails/blob/89e2f7e722e06f900bdb1c14db33073c90d7cdea/activesupport/lib/active_support/core_ext/class/subclasses.rb#L37)
If that makes sense, I can open a PR with tests.

This is on rai

[2016-05-25 18:37] matthewd commented on #25141
Yes; the class still exists, regardless of whether it's ever been assigned to a constant.

[2016-05-25 18:37] #25141 closed

[2016-05-25 18:49] durandom commented on #25141
Ok, fair enough.

Do you happen to know off your head a way to temporary define a class? Or remove it from ObjectSpace?

I'd need it in tests and that temporary class should not leak into other tests.

[2016-05-25 20:02] maclover7 commented on #20823
Opened #25143.

[2016-05-25 20:22] maclover7 commented on #25140
Can [reproduce the error](https://gist.github.com/maclover7/e057c925ec7323f01e7e0d4814b52c58) you are seeing, but not sure if this is a bug or expected behavior 😬

[2016-05-25 20:46] thezed opened #25144 "Date class methods .future? .past? and .today? does not work as expected"
### Steps to reproduce
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 5.0.0.rc1

**Ruby version**: 2.2.3p173

[2016-05-25 20:47] maclover7 commented on #19944
I agree with @imanel -- the `<b>` tag is not removed from the string when being sanitized, as it is in the [allowed tags list](https://github.com/rails/rails-html-sanitizer/blob/v1.0.3/lib/rails/html/sanitizer.rb#L107). If you want to check out the reproduction script I've been using, it's available [here](https://gist.github.com/maclover7/042b37f5758019c5057ceec259d560c9). Closing since this isn'

[2016-05-25 20:47] #19944 closed

[2016-05-25 20:59] fxn commented on #25144
What is Date.current?

[2016-05-25 21:03] thezed commented on #25144
[code]

[2016-05-25 21:05] thezed commented on #25144
[code]
It's yesterday, now it is Wed, 26 May 2016 in my timezone

[2016-05-25 21:13] rrosenblum commented on #25140
Thanks for throwing together an executable example. Seeing has this has been around for as long as it has, I was fearful that this was expected behavior. If it is expected behavior, and not a bug, I am curious why this is the expected behavior. If we have access to both association records, why would the through record not be initialized with knowledge of both records?

[2016-05-25 22:02] sandfoxme commented on #23589
Actually I'm confused on how to fix this. Just changing initializer to `ActiveRecord::Base.belongs_to_required_by_default = true` seems not good enough

p.s. and the issue should be reopened

[2016-05-25 22:05] Fryguy opened #25145 "AR objects serialized are much larger in Rails 5"
It seems when yaml-serializing AR objects, a lot of extra stuff is included in the dump that may not be necessary for reconstituting the objects, resulting in very large dumps.  I don't recall this much stuff prior to the attributes API rewrite

We are leveraging the attributes API and have a LOT of extra attributes.  I think the parts that directly references those attributes are ok, (like perhap

[2016-05-25 22:20] rafaelfranca commented on #25145
This change is what made us [stop using YAML serializing of AR object in identity_cache](https://github.com/Shopify/identity_cache/pull/242).

[2016-05-25 22:46] Fryguy commented on #25145
I updated the gist to include output from Rails 4.2 where we don't use the attributes API, but it still has the `AttributeSet` and the `delegate_hash`

[2016-05-26 01:59] jakubstefanowski opened #25147 "Test Issue JS"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-05-26 02:02] #25147 closed

[2016-05-26 02:47] vipulnsward commented on #25144
As mentioned in https://github.com/rails/rails/issues/25144#issuecomment-221707379 this is because of using `Date.today` vs `Date.current`. The difference is because today?/past?/future? make use of `Date.current` and time zone information, which `Date.today` does not.

[code]

[2016-05-26 02:47] #25144 closed

[2016-05-26 03:53] 1c7 opened #25149 "[Document] Write Rails Guide about Deployment?"
Can you guys write a new guide about the __Basic of Rails Deployment__?
I can't find any on http://guides.rubyonrails.org/
I know there are many tutorial on Google.
but I hope just official guide can have a  short intro about how many web server there are,
like puma, unicorn, passanger, rainbow.., maybe a bit of history, like Mongrel
and thing like that.

would that be nice?

[2016-05-26 04:30] jakubstefanowski opened #25150 "Test Issue JS1"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-05-26 05:50] fxn commented on #24969
When the application launches autoload paths are computed and they remain fixed. The application is going to monitor their contents recursively, but won't monitor ascendants to update the collection itself.

This is not really related to Spring, if you opt-out and add the _app/foo_ directory while the server is running, it won't be picked up. You need to restart the server.

I have added this fact

[2016-05-26 10:11] #25150 closed

[2016-05-26 10:14] prathamesh-sonpatki commented on #25149
@1c7 That is good idea but the Github issue tracker is not the best place for it. We reserve the issue tracker for bug reports only.

Please start the discussion on https://groups.google.com/forum/#!forum/rubyonrails-docs and see if there is enough interest in it.

Thanks again.

[2016-05-26 10:14] #25149 closed

[2016-05-26 12:16] Saidbek opened #25151 "ActiveSupport silence undefined method `reopen' for nil:NilClass"
`silence` method described [here](http://guides.rubyonrails.org/active_support_core_extensions.html#silence) throws an error:

### Steps to reproduce

[code]

getting an error:

[code]

### System configuration
**Rails version**:
4.2.6
**Ruby version**:
ruby 2.1.5p273

[2016-05-26 12:26] 1c7 commented on #25149
got it. thanks

[2016-05-26 12:35] sevaorlov commented on #25140
I guess that is because of inverse of association is not set automatically for associations with `through` option
http://guides.rubyonrails.org/association_basics.html#bi-directional-associations

There is the same problem with associations with `foreign_key`

[2016-05-26 13:19] jgodse commented on #25095
This looks like the Ansible Vault feature (http://docs.ansible.com/ansible/playbooks_vault.html), right down to the YAML file. Would it make sense to have this feature work with Ansible Vault secret files?

[2016-05-26 13:25] dhh commented on #25095
Don't think we would want to tie a Rails feature to Ansible, but let's
definitely look at the prior art for inspiration.

On Thu, May 26, 2016 at 3:20 PM, Jay Godse <notifications@github.com> wrote:

[2016-05-26 13:26] elfassy commented on #21948
That seems to be the main issue for us

[2016-05-26 14:41] al2o3cr commented on #25140
Accessing associations in `after_initialize` is going to cause odd behavior. That callback executes as part of doing `Appointment.new`, before any of the associations have been set. See #13156 and #15296 for additional examples.

[2016-05-26 15:16] rrosenblum commented on #25140
Does `inverse_of` apply to this situation? If my understanding of the docs and the code is correct, then `inverse_of` doesn't come into play here. `inverse_of` does not work with `:through` associations. `has_many`, `belongs_to`, and `has_many :through` are all initialized in different ways.

[2016-05-26 15:24] sevaorlov commented on #25140
@rrosenblum, it applies, because when record is building - AR tries to find and set inverse association
https://github.com/rails/rails/blob/0991c4c6fc0c04764f34c6b65a42adce190440c3/activerecord/lib/active_record/associations/association.rb#L173

[2016-05-26 15:29] AntonZh opened #25152 "ActiveModel::Dirty behaves incorrectly with type casting"
### Steps to reproduce

[Executable Test Case](https://gist.github.com/AntonZh/4da55e005d401a5a6c1bec23a2b64b25)

1. Create a model with an integer attribute
2. Create an object with some value
3. Assign some value to that object, so that this value will be type casted to equal value

[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 4.2.

[2016-05-26 16:07] prathamesh-sonpatki commented on #20823
@ZeroFries @maclover7 I am trying to understand this issue.

Is `belongs_to :account, -> { nil }` same as `belongs_to :account` ? What is the expectation here?

[2016-05-26 19:48] maclover7 commented on #25152
Investigating.

[2016-05-26 20:05] maclover7 commented on #25152
Hmm, spent some time investigating but wasn't able to come to the root of the bug. This likely has something to do with `changed_attributes` not taking into account a type's value before type casting (`'5'` instead of `5`), but this might be the expected behavior. cc @sgrif

[2016-05-26 20:45] ethayer commented on #25117
FWIW- here is my expirence:
Getting rid of gem 'web-console'  then running...
```bundle exec puma```
seems to work for me.

**questionable magic:**
If you then run ```bin/rails s``` directly after shutting down ```bundle exec puma```
rails server runs fine with running logs...
then once you shut down the server and run ```bin/rails s``` directly after
server then hangs.

[2016-05-26 20:49] sai43 opened #25154 "Bundle install issue"
sasmple_app$ bundle install

Fetching source index from http://localhost:9292/
Retrying fetcher due to error (2/4): Bundler::HTTPError Could not fetch specs from http://localhost:9292/
Retrying fetcher due to error (3/4): Bundler::HTTPError Could not fetch specs from http://localhost:9292/
Retrying fetcher due to error (4/4): Bundler::HTTPError Could not fetch specs from http://localhost:9292/
Cou

[2016-05-26 21:21] madmax opened #25155 "Bug with loading top-level class if namespaced is defined."
### Steps to reproduce
Create 2 files:

app/controllers/concerns/example.rb

    module Concerns::Example; end

app/models/example.rb

    class Example < ActiveRecord::Base; end

Next start console
rails c
[1] pry(main)> Example

### Expected behavior
We should get Class defined in models/example.rb

### Actual behavior
When cache_classes or eager_load = false   we will get

[1] pry(main)> Exampl

[2016-05-26 21:21] rafaelfranca commented on #25154
bundle install issues are usually not Rails issues. In this case it seems that you gemfile is defining a source at `http://localhost:9292/` and it is not accessible.

[2016-05-26 21:21] #25154 closed

[2016-05-26 21:49] sgrif commented on #25152
Can you check if this is still the case on master? I vaguely recall fixing this exact bug

[2016-05-26 21:52] sgrif commented on #25152
This is actually the intended behavior, as the field has to get marked as changed in order for numericality validations to run, etc. We always treat numeric fields as changed if you assign a string containing any characters that are non numeric, as it did in fact change (even if it's the same after type casting)

[2016-05-26 21:52] #25152 closed

[2016-05-26 21:56] fxn commented on #25155
This is not a bug.

The directories called _concerns_ are directly put in `autoload_paths` (check the guide, on my phone, can't link easily).

This is an exception to the rule that says that subdirectories correspond to namespaces, unfortunately, but it is the way it is. Documented anyway.

[2016-05-26 21:56] #25155 closed

[2016-05-26 22:14] madmax commented on #25155
@fxn I understand that concerns are in autoload_paths. By why

module Concerns::Example (Namespaced module)

Prevent loading
class Example (TOP-LEVEL class)

This works correctly in rails 4.2

[2016-05-26 22:14] sai43 commented on #25154
I got it, any way FYI my gem file source 'https://rubygems.org'

[2016-05-26 22:45] fxn commented on #25155
Still on my phone.

The conflicting file is called _example.rb_, therefore a candidate for autoliading the top-level constant `Example`. Rails leaves unespeficied what happens when there are more than one file with the same name mod autoliad dirs. There shouldn't be to be.

For whatever reason, the one with the module is picked first, Rails detects it doesn't define what it should define, and that

[2016-05-26 22:51] madmax commented on #25155
@fxn Then filenames should be unique? Then why we have Namespaces?
And what about cache_classes and eager_load = true. Why Example is then uninitialized constant?

I don't believe this is expected behavior. What about namespaced controllers? Like

admin/posts_controller.rb
vs
posts_controller.rb ?

This also should not work? Case is exactly the same.

[2016-05-27 00:10] sgrif commented on #25145
This wasn't just the result of the attributes API rewrite, it came from fixing real bugs that came from not including this information. I have some ideas on how we can reduce the size, but it hasn't been super high on the priority list for 5.0

[2016-05-27 00:11] #25128 closed

[2016-05-27 00:45] jeremy commented on #24627
Tracked this down to a separate issue with hash modification during iteration in Jbuilder. All good, @thedarkone.

[2016-05-27 00:45] #24627 closed

[2016-05-27 05:37] anklos opened #25159 "incorret sydney time zone"
### Steps to reproduce

start Rails Console, then do `Date.today.in_time_zone('Sydney').strftime("%Z")`

### Expected behavior
 should always print `AEST`

### Actual behavior
on different computers, it prints `EST` or `AEST`. I dont know what server configs would make that difference yet.

### System configuration
**Rails version**: 4.1

**Ruby version**: 2.1.1p76 and 2.3.0, both show `EST` on my

[2016-05-27 05:44] fxn commented on #25155
Unique mod autoload dirs. That is, not the basename, but the path relative to the autoload dir.

In the situation that motivated the issue, _example.rb_ is repeated because it is a filename that lives directly below two autoload dirs, namely _app/controllers/concerns_ and _app/models_. That situation has undefined behaviour (the algorithm is deterministic, but Rails does not commit to what it does

[2016-05-27 06:00] Edouard-chin commented on #25151
The documentation is wrong:
`logger = Logger.new("log/development.log")`,
it should be `logger = ActiveSupport::Logger.new("log/development.log")`

Calling `silence` on the base ruby Logger object actually calls the capture method rails defined in the kernel module https://github.com/rails/rails/blob/4-2-stable/activesupport/lib/active_support/core_ext/kernel/reporting.rb#L108

[2016-05-27 06:08] vipulnsward commented on #25151
Going to give this a close, since this method is deprecated and removed from documentation in the latest docs -  http://edgeguides.rubyonrails.org/active_support_core_extensions.html .

[2016-05-27 06:08] #25151 closed

[2016-05-27 06:10] vipulnsward commented on #25159
Without steps to reproduce, or in which scenario this is happening, it is going to be hard to reproduce.
When/where are you seeing this behaviour?

[2016-05-27 06:45] fxn commented on #24969
Ah, I just noticed there is an INFO card at the bottom of the section of the guide that documents the autoload dirs (http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoload-paths), the blue box.

The new edit is minimal though and goes in the right spot, no problem in being a bit redundant.

[2016-05-27 09:01] madmax commented on #25155
@fxn This was changed in rails 5 vs rails 4.2 ?

In rails 4.2 I have
% rails c
Loading development environment (Rails 4.2.5)

[1] pry(main)> Example
=> Example
[2] pry(main)> Concerns::Example
=> Concerns::Example

Why we then use namespace in Concerns directory? We should not just define module Example not Concerns::Example ? Whats the point of having namespace in Concerns?

[2016-05-27 09:20] fxn commented on #25155
No, it has not changed.

In general, our naming conventions say that a subdirectory corresponds to a module or class acting as namespace. Well, this convention was broken with the introduction of the *concerns* subdirectory, now we have an exception.

Your example works because for whatever reason in 4.2.5 *app/models/example.rb* is found first, so it loads OK. That is the undefined part of this,

[2016-05-27 09:55] madmax commented on #25155
@fxn thanks for clarification. Can you tell me why concerns directories are treated as root directories?
Why not just load them like controllers namespaces? like admin/example_controller.rb ?

[2016-05-27 09:59] fxn commented on #25155
@madmax not really, we'd need to ask to the author of the feature. My guess, though, is that it was a directory structure that made sense, plus the fact that experience tells you generally want concerns in the top-level by default as anything else, plus possibly overlooking (my guess) this little departure.

[2016-05-27 10:31] madmax commented on #25155
@dhh and @jeremy can you confirm that this is not bug?

[2016-05-27 10:39] dhh commented on #25155
Yes, @fxn is right on all points. This is working as intended. Concerns don't have a namespace for the same reason that Controller isn't a namespace. It's a technical grouping that needn't leak into domain language for the modules themselves.

[2016-05-27 10:48] madmax commented on #25155
@dhh thanks.

We should then define

    module Example
      extend ActiveSupport::Concern
    end

not

    module Concerns::Example
      extend ActiveSupport::Concern
    end

right?

[2016-05-27 11:18] dhh commented on #25155
Correct.

On Fri, May 27, 2016 at 12:49 PM, Grzegorz Derebecki <
notifications@github.com> wrote:

[2016-05-27 11:33] jvenezia opened #25165 "Mashal.dump raises a TypeError since model.errors.details"
Rails 5 introduces `model.errors.details` https://github.com/rails/rails/pull/18322.

Since then, model instances can't be dumped:

[code]

You can reproduce this with Rails 3&4 with this gem https://github.com/cowbell/active_model-errors_details.

Without this feature, it works fine.

[2016-05-27 11:53] fxn commented on #25155
@madmax Let me add a detail just in case.

The examples above make me wonder if you think `ActiveSupport::Concern` and concerns are related (if not, please ignore this comment).

In reality, they are totally orthogonal features that have a coincidence in their name. Conventionally concerns are Ruby modules that play a certain role in your app design, and those modules can be just regular Ruby modu

[2016-05-27 11:59] madmax commented on #25155
@fxn I understand, My question was just related to controllers/concerns, models/concerns directories Thanks all for clarification :)

[2016-05-27 13:05] fubarius commented on #24969
Thanks!

On Fri, May 27, 2016, 2:46 AM Xavier Noria <notifications@github.com> wrote:

[2016-05-27 13:48] jfboeuf opened #25166 "urce"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-05-27 13:52] #25166 closed

[2016-05-27 15:38] lukeredpath opened #25169 "Foreign key to different table in migration does not reverse correctly"
### Steps to reproduce

A new feature was introduced in response to #21563 which allows a different table to be specified in a `references` migration where the foreign key column does not match the table it is referencing.

For example, given two tables, "buildings" and "devices", where devices have a location association which is a building.

The AR class might be:

[code]

The location_id column

[2016-05-27 15:39] lukeredpath commented on #21563
@senny this feature seems to result in migrations that do not reverse when they should, please see my issue above.

[2016-05-27 15:58] Fryguy commented on #25145
Ah ok...thanks for the clarification @sgrif .

[2016-05-27 18:27] maclover7 commented on #25169
Can you collate your sample code above and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-27 18:46] maclover7 commented on #25165
Reproduction script --> https://gist.github.com/maclover7/25fc448787724da6ff0cd46a9bec28fc

[2016-05-27 18:53] #25058 closed

[2016-05-27 19:20] lukeredpath commented on #25169
Sure. I can't seem to reproduce it with sqlite, but I can with postgres which is the DB I'm using anyway. Executable test:

[code]

Output for me (backtrace omitted):

[code]

[2016-05-28 13:15] dhh opened #25180 "Stop making public assets in api mode"
When you start a new app in API mode, you shouldn't get the following:

[code]

None of these make sense for the API.

[2016-05-28 13:41] dhh opened #25181 "Move new default initializers into their own directory"
We have a number of new initializers that are generated for new apps to prevent old apps from hitting breaking changes. They are:

[code]

These are not files that anyone is likely to edit by hand on a new app, so they shouldn't litter the top initializers directory. Let's move all these into `config/initializers/new_framework_defaults/*`.

[2016-05-28 14:02] dhh opened #25183 "Turning on jbuilder for API only apps cause controller test failures"
Steps to replicate:

[code]

Failures:

[code]

Line 30 has `render json: @post`, so its not relying on default rendering. It should just be calling `#to_json` on `@post` and return that. Shouldn't matter what rendering engines are installed or not.

[2016-05-28 14:03] dhh commented on #25183
cc @rafaelfranca

[2016-05-28 14:26] dhh commented on #25181
@prathamesh-sonpatki Found a bunch more default value initializers when running in normal mode (first saw this from API mode).

[2016-05-28 14:48] dhh commented on #25181
Oh, why would we be setting values in those that are different from framework defaults? Maybe those were new defaults for 4.2 and we actually should update 5.0 to have those be framework defaults without initializer files.

[2016-05-28 14:50] #25180 closed

[2016-05-28 14:55] prathamesh-sonpatki commented on #25181
Cookies serializer initializer was provided as upgrade path while upgrading to 4.1 - http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#cookies-serializer.

Session store existed from a long time - https://github.com/rails/rails/blob/720aceeea9083e8139e06be5aaaa3b9db98f344d/railties/lib/generator/templates/app/config/initializers/session_store.rb.tt

I think new Rails 5 apps can set th

[2016-05-28 14:59] dhh commented on #25181
Ah yes, that's great. Let's go with that then kill the cookie serializer initializer. By the same token, we should be be able to set session store as the defaults and kill that initializer too. Changing from the encrypted cookie store is now an extremely uncommon specialization we don't need to call default attention to.

[2016-05-28 14:59] dhh commented on #25181
But we can treat that as a separate PR 👍

[2016-05-28 19:22] elieteyssedou opened #25185 "New app: "key must be 32 bits"."
### Steps to reproduce
Run ```rails s```. No more... (new app)

### Expected behavior
It should display my index.

### Actual behavior
It fails.

Here is what is going wrong:
<img width="1426" alt="capture d ecran 2016-05-28 a 21 18 13" src="https://cloud.githubusercontent.com/assets/8143621/15629483/1f4d4a0e-251a-11e6-8423-754a356aa348.png">

Can you help me? Don't understand at all.

### System

[2016-05-28 19:33] jeromedalbert opened #25186 "Code is not reloaded in dev with Docker on OS X"
### Steps to reproduce

0. Install the Docker toolbox on OS X. Here are my [instructions to install it with brew](https://gist.github.com/jeromedalbert/7476f445b7538b488c6ec34b5c4f3da4).
0. Clone https://github.com/jeromedalbert/rails_5_rc1_docker. I have created this dummy application specifically for this issue.
0. Follow the short instructions to set up the project and have a server running.
0.

[2016-05-28 19:34] maclover7 commented on #25183
I think we just need to bump the version of `jbuilder` here, there [was an issue](https://github.com/rails/jbuilder/issues/317) with `jbuilder` and `ActionController::API`, but it looks like it's fixed [in this commit](https://github.com/rails/jbuilder/commit/64c510ec69d9e63b73ffd5942e802d21a7d14701).

[2016-05-28 19:49] gsamokovarov commented on #25186
The docker on OSX runs on a thin Linux virtual machine. The virtual machine provisioners share code between the VM and the host on a file system that doesn't support notification events, so we cannot use the new listener backend on those.

[2016-05-28 19:55] maclover7 commented on #25185
Hmm, after some digging in some C code (💀), looks like there is a [new breaking change](https://github.com/ruby/ruby/commit/ce635262f53b760284d56bb1027baebaaec175d1) in OpenSSL, which rejects certain values for `key=`, which is the bug you are running into. :(

Looking into fixes.

[2016-05-28 20:24] fxn commented on #25186
What @gsamokovarov said.

Some setups do not work because fs events are not triggered. The generator has [some simple code](https://github.com/rails/rails/blob/master/railties/lib/rails/generators/app_base.rb#L392) to comment out that configuration line.

Do you think the application generator can detect this particular setup somehow?

[2016-05-28 23:26] jeremy commented on #25186
Note this will(/should) work with the [forthcoming Docker for Mac/Windows](https://blog.docker.com/2016/03/docker-for-mac-windows-beta/) that are now in beta. OS X FSEvents are bridged to inotify.

[2016-05-29 01:11] prathamesh-sonpatki commented on #25183
Confirm that jbuilder master fixes this issue. We need a release for jbuilder.

[2016-05-29 01:59] anklos commented on #25159
@vipulnsward i have tried 6 machines, three mac, and 3 digital ocean standard instances.

macbook one prints `EST`
macbook two prints `AEST`
macmini prints `AEST`

Three digital ocean instances all print `EST`.

Looks like it relates timezone settings on the machine, does it? I thought this `in_time_zone(xxx)` method is independent from server timezone settings? Not like `Time.now`, which depends

[2016-05-29 02:17] vipulnsward commented on #25159
See https://github.com/tzinfo/tzinfo-data/blob/master/data/australasia#L854

You are probably seeing this due to difference in tzinfo-data versions on these machines. This was updated here- https://github.com/tzinfo/tzinfo-data/commit/0e431a28b917626ca0df2ab6fe95e412df859cc2. Previously it was a combination of EST and AEST, and now it is preferred to AEST.
Going to give this a close. Let me know i

[2016-05-29 02:17] #25159 closed

[2016-05-29 02:44] anklos commented on #25159
@vipulnsward thanks so much! just updated tzdata package on those machines and it works!

[2016-05-29 06:42] lnikell commented on #25186
I had the same issue with my HyperV Ubuntu 16.04, any changes at controllers, models not affected until restart server. Only css and changes in views work properly

[2016-05-29 07:16] fxn commented on #25186
This is something Rails cannot do anything about unless support for detecting this at runtime and hot-switching the monitors is implemented.

Also, you could generate the conservative option always (it was this way when the feature was first implemented). But it was decided to generate the config for the evented monitor by default (mod those simple exceptions linked above) because it is believed t

[2016-05-29 07:16] #25186 closed

[2016-05-29 15:35] #25181 closed

[2016-05-29 17:06] rrosenblum commented on #25140
This is basically the exact issue that I am referring to. It is a problem because of how Rails is handling the initialization and the setting of the associations. I agree that running `Appointment.new` would not work because it does not know about either association. In the use case that I presented, we know about both associations so it should not be a problem. I am not trying to preload any asso

[2016-05-29 18:07] CucumisSativus opened #25191 "Running rails new with --skip-active-record ignores --database option"
### Steps to reproduce
* Run `rails new todo-app --database=mysql --skip-active-record` (also tested with postgresql)
* Check freshly created app's Gemfile

### Expected behavior
Gem `mysql2` should be present in the Gemfile

### Actual behavior
Gem `msql2` is missing in the Gemfile

### System configuration
**Rails version**: 4.2.6

**Ruby version**: ruby 2.2.2p95 (2015-04-13 revision 50295) [x86

[2016-05-29 18:36] vipulnsward commented on #25191
This is intentional. If the App is not going to use it(since AR is not added), we don't add it by default, and the option is ignored.

[2016-05-29 18:36] #25191 closed

[2016-05-29 18:46] CucumisSativus commented on #25191
@vipulnsward but still you can add another ORM like Sequel or ROM and use it without active record. As I mentioned before, in my opinion activerecord has nothing to do with the database adapter. Can we perhaps add a notice to inform users that rails ignores `--database` option when `--skip-active-record` is passed?

[2016-05-29 18:47] vipulnsward commented on #25165
Can't reproduce this on master. Is this that gem specific?

[2016-05-29 18:56] vipulnsward commented on #25191
We can update the guides instead to reflect this. Want to give this a try?

[2016-05-29 19:00] CucumisSativus commented on #25191
Sure thing. If you could just let me know where should I search for them I would be grateful :)

[2016-05-30 09:38] dhh commented on #25183
@rwz Could you cut a new release to resolve this issue, Pavel? Thanks!

[2016-05-30 13:42] dhh opened #25195 "Provide HTML tag dynamic proxy"
`ActionView::Helpers::TagHelper` provides `#tag` and `#content_tag` for generating HTML tags, but feel outmodded with both lots of positional parameters and assuming XHTML as the default. I think we can fix both problems and reduce the API to a single proxy object in the vein of Builder.

[code]

The backwards compatible upgrade path here should be easy enough because `TagHelper#tag` currently req

[2016-05-30 14:04] TikiTDO opened #25196 "Allow using underscore class names for ActionCable channel names"
In the current version of ActionCable creating a connection from the browser to the server requires code like this:

[code]

It would be nice to use underscored names, such as:

[code]

---

This can be done by modifying [this line](https://github.com/rails/rails/blob/52ce6ece8c8f74064bb64e0a0b1ddd83092718e1/actioncable/lib/action_cable/connection/subscriptions.rb#L29) to something like:

[code]

[2016-05-30 14:55] pthomas551 commented on #25045
I think @Freaky's proposed solution addresses some of the concerns that resulted in [#22870](https://github.com/rails/rails/pull/22870) being closed, I'll work on it.

[2016-05-30 15:32] dhh opened #25197 "Provide form_with as a new alternative to form_for/form_tag"
`form_tag` and `form_for` provide two very similiar interfaces to much of the same thing. We should unify that usage and subsequent calls to field tags. Additionally, there are several deficiencies with the current helpers that I'd like to solve at the same time, now that we will have a new form method to change defaults with:
1. Don't set DOM id or classes on the form or the fields any more. It f

[2016-05-30 15:55] vipulnsward commented on #25197
I can give this a try.

[2016-05-30 16:24] vipulnsward commented on #25195
The self-closing tags should be complaint to which spec?

[2016-05-30 16:25] dhh commented on #25195
HTML5.

[2016-05-30 16:53] deanpcmad opened #25198 "has_many and nested attributes"
### Steps to reproduce

- A Customer model has `accepts_nested_attributes_for :phones` and `has_many :phones`.
- The Phone model has `belongs_to :customer`

When creating a customer with phone attributes, the validations prevent the number (and customer) from being created.

Please see both of these repos:
- [Rails 4.2.6](https://github.com/deanperry/rails-bug-4.2.6)
- [Rails 5.0.0.rc1](https://gi

[2016-05-30 17:02] shakycode commented on #25198
I'm able to duplicate in rc1

[2016-05-30 17:02] sgrif commented on #25165
No, the reproduction script posted is asserting that the error is raised for some reason. If you just do `Marshal.dump` it'll fail

[2016-05-30 17:52] vipulnsward commented on #25195
Some refs for someone who gets to this before me:
https://www.w3.org/TR/html5/syntax.html#syntax-tag-omission
https://html.spec.whatwg.org/multipage/syntax.html#void-elements

[2016-05-30 18:06] #25165 closed

[2016-05-30 18:06] kaspth commented on #24864
Just added `as` to the kw args: https://github.com/rails/rails/pull/25164

@akozhemiakin Ah, I see what you're saying, users could have their tests blow up once we remove the deprecation. Yes, let's change that to `all?` 👍 — please submit a pull request!

@Envek we can't cover every case in a deprecation warning. We'd describe the change with more nuance in the release notes. If we haven't, do sub

[2016-05-30 18:11] sgrif commented on #25198
I'm unable to reproduce using the steps provided. Can you please provide a reproduction script using [our standard bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)?

[2016-05-30 18:14] sgrif commented on #25197
Ideally we could implement `form_for` and `form_tag` on top of this and move it to a gem, which would lower the maintenance cost if we choose not to deprecate it.

[2016-05-30 19:20] dhh commented on #25197
That'd work for me.

[2016-05-30 21:11] rwz commented on #25183
@dhh done. You might wanna depend on jbuilder ~> 2.5 by default in rails 5.

[2016-05-30 21:17] vipulnsward commented on #25183
Closing https://rubygems.org/gems/jbuilder/versions/2.5.0

[2016-05-30 21:27] jeremy commented on #24864
If we switch to whitelisting exact keyword args then we won't be able to override+super `#process` with our own keyword args. We'd need to override get/post/…/xhr individually.

For example, say we have a common pattern of passing an OAuth2 bearer token for API authorization, so we accept a `user: …` arg to `API::IntegrationTest#process` which sets the Authorization header for us, allowing
[code]

[2016-05-30 21:30] maclover7 commented on #25195
Do we need to go through a deprecation cycle for this? Even though I think `ActionView::Helpers::*` are `nodoc`'d, this still feels like a pretty big API change to me, which could affect third part libraries 😬

[2016-05-30 21:32] vipulnsward commented on #25195
@maclover7 this shouldn't need a deprecation in first cycle- see https://github.com/vipulnsward/rails/commit/347e82054ea212f3c3cf5a3c2b3d0a01d3b6ade6 for crude impl.

[2016-05-30 21:34] maclover7 commented on #25196
cc @javan

[2016-05-30 22:24] akozhemiakin commented on #24864
Look carefully through the current implementation:
[code]
Current implementation says: "return true if args is a hash (responds to :keys) and **it has at least one key from the permitted list**". It has no sense. I'm not sure if it is good or bad idea to whitelist args here, but current implementation definitely has no sense either way. I think we should either fix it to actually check that all va

[2016-05-30 23:22] jeremy commented on #24864
The method's purpose is to distinguish new invocation style (using keyword arguments) from the old invocation style (using positional args).

You interpret the current implementation correctly, except for assuming "**permitted** list." This has nothing to do with what's permitted; it's just to detect whether you're using the new method signature or the old one.

Restated with clearer intent:
[code

[2016-05-30 23:26] jeremy commented on #25196
Could you talk about why?

[2016-05-30 23:42] akozhemiakin commented on #24864
My interpretation is largely based on the deprecation message shown when ```kwarg_request?``` returns false.

[code]

You see? "**will accept only the following keyword arguments**"

[2016-05-31 00:53] jeremy commented on #24864
Good catch. The deprecation warning is brief to the point of misleading. It's meant to communicate "The `#{http_method}` method now uses keyword arguments. Please switch from `#{http_method}(action, parameters, session, flash)` to `#{http_method}(params: …, session: …, flash: …)`."

[2016-05-31 01:49] ioquatix commented on #17062
Can we please re-open this issue?

http://stackoverflow.com/questions/21066345/regression-in-activerecord-4-sqlite3-boolean-query-support

The way ActiveRecord works is contrary to what Sqlite3 states here: http://www.sqlite.org/datatype3.html#boolean

This also means that boolean logic doesn't work correctly.

[2016-05-31 02:05] rafaelfranca commented on #17062
Reopening will not fix it. SQLite3 is not priority for us. The issue was closed because it was stale so I recommend you to try to fix

[2016-05-31 02:07] rafaelfranca commented on #17062
by for us I really mean me, of course it is a priority for Rails but since we had no response in the ticket and it was closed as stale having someone that care about it trying to fix is the best action we can take here.

[2016-05-31 02:08] ioquatix commented on #17062
Okay I will supply a PR. I was under the impression that this was still not even considered a bug based on your the last response. But, clearly it's a bug.

[2016-05-31 02:12] rafaelfranca commented on #17062
👍 Thanks!

[2016-05-31 02:31] ioquatix commented on #17062
Okay, I've submitted a PR. I'd suggest this would be a good candidate for Rails 5.0 but that window may have passed already.

[2016-05-31 02:32] ioquatix commented on #17062
Can you please re-open this issue and acknowledge it is a bug? Thanks.

[2016-05-31 02:38] rafaelfranca commented on #17062
Of course. Thank you so much.

[2016-05-31 02:48] ioquatix commented on #17062
@rafaelfranca Thanks dude I appreciate it.

[2016-05-31 04:26] TikiTDO commented on #25196
Primarily I'm looking for consistency. Most of the times when client side code is referring to server side resources it uses underscores, as with routes. This becomes even more noticeable if you want to use namespaced channels: ``Namespace::ExampleChannel` vs `namespace/example_channel`.

At some point it honestly just feels wrong to use full ruby class names in javascript/coffeescript. The result

[2016-05-31 04:56] jeremy commented on #25196
This is creating a channel class on the client. It is a close ally to the Ruby channel class, but we'd use camel-case naming if this were JS-only, too.

You can do this with a camelize/underscore convention analogous to Rails controllers and routes!

[2016-05-31 06:15] dhh commented on #25195
No hard deprecation needed. The proxy is instantiated through a call that wasn't possible before. We should soft deprecate via docs though.

[2016-05-31 07:05] TikiTDO commented on #25196
Technically it is creating an instance of the [ActionCable.Subscription](https://github.com/rails/rails/blob/master/actioncable/app/assets/javascripts/action_cable/subscription.coffee) class, which then uses the identifier whenever a request is sent or received. Certainly the two are related, but I would say they are related in the same way that a route to `"example#action"` is related to `Example

[2016-05-31 10:43] dhh commented on #25183
Thanks @rwz! I bumped the dependency to 2.5 in 998bbbc.

[2016-05-31 11:09] dhh opened #25208 "Drop jQuery as a dependency"
We should now be able to write our data-remote, data-confirm, XHR wrapping, and the few other hooks we rely on using vanilla JavaScript. Things have progressed well enough for that. This is not a verdict on jQuery. There are still plenty of other reasons for someone to want to use that, but it needn't be part of the default stack any more.

//cc @sstephenson @javan

[2016-05-31 11:10] simi commented on #25208
Actually I'm working on jquery-ujs rewrite to pure JS. My first test is living in https://github.com/simi/jquery-ujs/tree/no-jquery.

[2016-05-31 11:32] gsamokovarov commented on #25208
I think @pixeltrix wanted to do this as GSoC project, so I'm pinging him here as well.

[2016-05-31 11:43] simi commented on #25208
I think I can't attend GSoC, but definitely I'm really interested in this and I would like to finish it. At least I can provide alternative implementation.

[2016-05-31 13:05] akozhemiakin commented on #24864
Also, if expect it to work like you described, the implementation is still wrong

And now try to invoke some request method with extra attribute, like this

[code]

... and you will get deprecation warning, because of this chunk:

[code]

[2016-05-31 13:29] tscholz opened #25210 "ActiveRecord composed_of doesn't trigger converter on mass-assignments / hash-assignment"
### Steps to reproduce
Upgrading from Rails 3 we are running into issues with the current composed_of implementation.

We're using an aggregation like:
[code]
for mapping custom ldap attribute names.

### Expected behavior
In Rails 3 we were able to assign attributes to it using mass-assignment through a form or assign a hash using `obj.mapping = {firstname:  'custom_ldap_FN_attr', lastname: 'cust

[2016-05-31 13:40] maclover7 commented on #25210
Can you take your sample code above and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing? This helps us to easily reproduce issues locally :)

[2016-05-31 13:54] javan commented on #25208
Grabbed assignment for this one. @simi (and others), I'd be happy to review your implementation if you want to see it through.

[2016-05-31 13:55] sgrif commented on #25210
@maclover7 He's given enough info to reproduce

[2016-05-31 14:05] #25210 closed

[2016-05-31 14:05] sgrif commented on #25210
Backported to 5.0 in https://github.com/rails/rails/commit/41f47090a7cd95b3168081a1ee16aaae582f2ad3

[2016-05-31 14:15] sgrif commented on #25208
I do agree that this would make a lot of sense as a GSoC project, or a first patch for a newcomer, as it's a solid self contained change that's pretty straightforward. We'd be doing a disservice to those trying to find a way to get into OSS by handling this ourselves

[2016-05-31 14:18] maclover7 commented on #25208
Sounds like a good time to apply our newest label, `good-first-patch`!

[2016-05-31 14:19] sgrif commented on #25208
Note: There's no reason that someone looking to work on this needs to do the entire migration as a single PR -- changing one piece of ujs to not rely on jQuery at a time would make sense

[2016-05-31 14:31] ryush00 commented on #24219
I found the problem. I have forgot re-enable ``ActiveRecord::Base.record_timestamps`` in another controller. That's my fault.

Thanks for help.

[2016-05-31 14:49] MSchmidt commented on #24990
I've worked around this by disabling multiple workers in ``development``:

[code]

[2016-05-31 15:02] jorgedanoz opened #25217 "Rails guides index"
It seems that the Rails Guides index does not contain all the pages.

Let me give you two examples:

[1] Accessing [http://guides.rubyonrails.org/] we get the main page for Guides, but this page doesn't include a link to: **"Caching with Rails"** [http://guides.rubyonrails.org/caching_with_rails.html]

[2] Accessing [http://guides.rubyonrails.org/] we get the main page for Guides, but this page do

[2016-05-31 15:04] sgrif commented on #25210
Backported to 4.2 in 0d5d8594b1a7d7caab0cbc9fe3340bb5bfbe79bd

[2016-05-31 15:15] tscholz commented on #25210
This was really quick! Thank you very much. 👍

[2016-05-31 15:19] javan commented on #25196
I don't see a compelling reason to allow `subscriptions.create("example_channel")` *unless* we drop the `channel` part.  Map `subscriptions.create("example")` to `ExampleChannel`, `subscriptions.create("notifications/web_alert")` to `Notifications::WebAlertChannel`, etc.

[2016-05-31 15:43] schneems commented on #24990
This is a bug. I can confirm i'm able to reproduce. We need to fix this.

When I boot through the `$ puma` command the problem does not happen, when I boot through `$ rails server` it does.

Hey @evanphx. I haven't dug in much. I'm guessing this has something to do with the way that code is reloaded in the rack handler versus the `puma` CLI. If you have any tips on places to start looking would ap

[2016-05-31 15:45] TikiTDO commented on #25196
That would be even better to be honest, in that case the entire thing becomes almost completely analogous to routes, which suits my use case perfectly.

[2016-05-31 16:09] maclover7 commented on #25217
Looks like the "Caching with Rails" and "Active Record and PostgreSQL" guides are not officially "published" on the 4-2-stable branch. "Caching with Rails" is published via PR #21052, and will appear on the homepage when 5.0.0 lands. "Active Record and PostgreSQL" is not published, but I'll take a look at it later today, and see if it's ready to go.

[2016-05-31 16:15] dhh opened #25219 "Backtrace silencing should happen even against a pure framework trace"
When an exception is raised where the backtrace doesn't include user code, we default to showing the whole thing. That results in stuff like this:

[code]

That's not a reasonable response to something so simple. I'd like to see:

[code]

[2016-05-31 16:15] vipulnsward commented on #25217
Closing based on https://github.com/rails/rails/issues/25217#issuecomment-222737919
Don't need an issue to track this.

[2016-05-31 16:15] #25217 closed

[2016-05-31 16:17] vipulnsward commented on #25219
Will take care of this since I was looking to close https://github.com/rails/rails/issues/24434
r? @vipulnsward

[2016-05-31 16:21] maqen commented on #24990
Seeing in console that puma runs in single mode versus clustered mode when workers is not explicitly set as per @MSchmidt for example.

My guess is that puma setting `threadsafe` when running in clustered mode and therefore setting `cache_classes=true` as per rails default.

[2016-05-31 16:24] akozhemiakin commented on #24864
@jeremy Also I'm leaning towards the idea that you are right and we should allow arbitrary args to be passed to the request functions. Anyway, I see no harm in it.

So I propose the following:

Refactor ```kwarg_request?``` like this
[code]

Refactor ```process_with_kwrags``` like this (a cosmetic change just to make it less cryptic)
[code]

Refactor deprecation message
[code]

If everyone are Ok

[2016-05-31 16:27] matthewd commented on #25219
Per #3970, if there's truly zero lines of user/application code in the backtrace, the chances are very high one of those lines is at fault (so it makes sense to show them, because whoever needs to diagnose the problem is clearly going to need that information).

Perhaps the problem here is just that we don't recognize `(irb)` as being user code.

---

It might also be worth looking into what IRB d

[2016-05-31 16:30] dhh opened #25220 "Too much backtrace clutter on template errors in development log"
An exception raised in the template will cause this to be added to the development.log:

[code]

Should just be:

[code]

[2016-05-31 16:35] vipulnsward commented on #25219
@matthewd if I am not mistaken you are referring to handling this better on just irb, or perhaps differently there?
We still don't want to show this in web requests as well though.

[2016-05-31 16:37] vipulnsward commented on #25219
With new changes this would like this-

[code]

[2016-05-31 16:46] dhh commented on #25219
That's an improvement, but would be great to get rid of the internal
rendering lines as well. They're not helpful here.

On Tue, May 31, 2016 at 6:38 PM, Vipul A M <notifications@github.com> wrote:

[2016-05-31 16:52] vipulnsward commented on #25219
cool

[2016-05-31 16:55] sblackstone commented on #25198
belongs_to now defaults to required: true

You also don't need to use the lamba to filter you're nested attributes, you can instead just use regular old validations...

Something like,

[code]

[2016-05-31 16:57] #25169 closed

[2016-05-31 17:08] matkoniecz opened #25223 "rubocop complains about project generated by `rails new rubocop_test`"
### Steps to reproduce

[code]

### Expected behavior
rubocop has no complaints

### Actual behavior

full log in https://gist.github.com/matkoniecz/0d2f92e6e09a5536e68b80b8762e7093

### System configuration
**Rails version**:

[code]

**Ruby version**:

[code]

**rubocop version**

[code]

I am aware that it may be in part (or completely) result in differences of opinion what kind of standards sh

[2016-05-31 17:10] vipulnsward commented on #25223
Yes. Also not all orgs follow default rubocop compliance.

[2016-05-31 17:10] #25223 closed

[2016-05-31 17:39] matthewd commented on #25219
@vipulnsward yes: I think this is two separate issues, and there are some babies in this bathwater.

[2016-05-31 17:43] matthewd commented on #25219
@vipulnsward further to the "two separate issues".. how does your PR, which changes a rack middleware, help with the behaviour described in this issue? :confused:

[2016-05-31 17:46] TikiTDO opened #25224 "ActionCable ignores namespaces"
### Steps to reproduce

When the ActionCable is determining valid class names for connection, it ignores namespaces.

To reproduce create a channel in a namespace, and attempt to connect to it.

### Expected behavior
Given a `Namespace::ExampleChannel` defined in `/app/channels/namespace/example_channel.rb` I expect to be able to call `App.cable.subscriptions.create "Namespace::ExampleChannel"` in

[2016-05-31 17:53] maclover7 commented on #25224
👍 able to reproduce locally, working on a fix

[2016-05-31 17:55] TikiTDO commented on #25196
I was trying to implement something that would drop the channel part as @javan proposed. I made the following changes to [this location](https://github.com/rails/rails/blob/5ec889eb8b81be1578a30373dacb57c765700157/actioncable/lib/action_cable/server/base.rb#L73)

[code]

I was able to test that `subscriptions.create("example")` and `subscriptions.create("ExampleChannel")` both work, and can proper

[2016-05-31 17:59] jeremy commented on #24864
Looks good.

Note that `args[0]` will respond to `:keys` for deprecated invocations, too: `get foo_path, bar: 'value'` will have `{ bar: 'value' }` as `args[0]`, yet it isn't using any of the new keyword arguments. That's why we checked whether you're passing at least one of the new args.

Wrong/Correct → Old/New for the deprecation warning :)

[2016-05-31 18:10] vipulnsward commented on #25219
@matthewd it removes the behaviour that we are ourselves adding the extra trace? By default the trace would be cleaned and silenced.

[2016-05-31 19:00] #25145 closed

[2016-05-31 19:07] sblackstone commented on #25198
I'm not able to reproduce this issue...

[code]

[2016-05-31 19:09] Fryguy commented on #25145
Thank you @sgrif ! 👏

[2016-05-31 19:14] sgrif commented on #25135
This is not what you're specifying. As per the docs:

This means that an invalid child wouldn't prevent `user.save` from succeeding if one of the children were invalid. This does not mean that we will persist the children without validating them however. The behavior is working as intended.

[2016-05-31 19:14] #25135 closed

[2016-05-31 19:16] sgrif commented on #25145
No problem. For the record, we could make them more compact if we really wanted, but this felt like a good 80/20 point for YAML size vs code complexity. At the point we're at now, if it's still too large, I would argue that YAML is the wrong format for that use case.

[2016-05-31 19:20] marcalc commented on #25135
Sean, thanks for your answer. Although I think there is a regression here. I'm migrating a Rails 3.2 application and this was the correct behavior back then. I'm not creating a Role object, thus I don't need the Role object to be validated when I'm simply assigning roles to the user via User#role_ids. If you could please review the test script I would be very glad. Thanks

[2016-05-31 19:20] deanpcmad commented on #25198
I can't replicate it in the console or using those tests but in the controller/views is when it fails. See the 2 GitHub repos I linked to

[2016-05-31 19:22] sgrif commented on #25198
Ah sorry, it wasn't clear to me that those were reproduction apps. I will look into it.

[2016-05-31 19:31] deanpcmad commented on #25198
No problems, this is my first Rails bug issue so I'm new to this! :)

[2016-05-31 19:50] hmistry opened #25226 "HTML dumps in console some times when testing API endpoints."
I'm filing this issue to bring to your attention in case no one else has... it might have been addressed but I couldn't find any in a quick search.
### Steps to reproduce

I will update with more specific steps when I encounter it again. Sorry.

I'm using Rails 5rc1 to develop a mixed web and API rails app. Some times when things go wrong, I get html responses (some times there's even references t

[2016-05-31 21:18] jrafanie opened #25228 "5.0.0.rc1 - NotImplementedError raised when trying to update a column with a select not containing this column"
### Steps to reproduce

tldr;
[code]

See this gist for the full example: https://gist.github.com/jrafanie/a0731271a76df3a6c35742673d4f04b0

### Expected behavior

The `.update` should update the requested column(s) as it does on 4.2.6.

### Actual behavior

This currently raises NotImplementedError on 5.0.0.rc1 because our select doesn't include the column we want to update.  It completes without

[2016-05-31 21:19] jrafanie commented on #25228
@matthewd instead of chatting about this, I got a good reproduction script so I decided to open an issue.  I can try any suggested changed.  Thanks!

[2016-05-31 21:22] jrafanie commented on #25228
Note, there's odd behavior when using `t.timestamps` vs. `t.datetime :updated_on` in the schema.  It appears to add the timestamp columns to a cache of "attributes" to check dirty against.  I don't quite understand it.

[2016-05-31 21:22] jrafanie commented on #25228
It's demonstrated in the reported gist above.

[2016-05-31 21:26] maclover7 commented on #25226
cc @gsamokovarov

[2016-05-31 21:40] brad-werth commented on #24272
@maclover7 Did you ever get a simplified test application and bug template? If not, I can try to put something together, although this is difficult to demonstrate with a simple example.

[2016-05-31 22:57] prathamesh-sonpatki commented on #25226
@hmistry https://github.com/rails/rails/commit/c33bda875e562561292eafc7c99362f23cf8150a should fix it for API-only apps.

For mixed apps, do give a try with config `config.debug_exception_response_format = :api`.

Let me know if it doesn't work and I will reopen.

[2016-06-01 04:25] hmistry commented on #25226
@prathamesh-sonpatki I tried your config setting. It sort of worked...
- For the API endpoint, I got a JSON response of the error and trace. This makes sense and its a good response for API, better than what I had in mind.
- For the HTML endpoint, I got a JSON response too. This doesn't makes sense to me, from a holistic application perspective. If I go to a HTML endpoint, I expect to be receiving

[2016-06-01 09:27] hupf commented on #25077
OK, it as caused by rails-i18n 4.0.x, which got somehow installed due to other dependencies. The behavior is correct with rails-i18n 5.0.beta4.

Thank you for your help. BTW: the bug report templates are really nice!

[2016-06-01 09:27] #25077 closed

[2016-06-01 12:09] prathamesh-sonpatki commented on #25226
@hmistry For Rails 4.x the default behavior was to always show HTML responses for even JSON requests too.

With API apps, this got changed to JSON when `config.debug_exception_response_format = :api` and HTML for `config.debug_exception_response_format = :default`. But it introduced an issue for eg. when you have HTML endpoint alongside API endpoint and you set  `config.debug_exception_response_fo

[2016-06-01 12:28] gsamokovarov commented on #25226
We shouldn't be even trying to show the console in the JSON responses, if we detect such, so this shouldn't be a problem IMO. You'll get the console only for HTML error responses, where we can properly show it and it may be useful for you to diagnose the problem.

If we do show it in a JSON response, then please report it as a bug to rails/web-console and we'll look into it.

[2016-06-01 12:29] vledniov opened #25237 "[ActionDispatch][ParameterFilter] does not work properly with Array (changes it to a Hash)"
### Steps to reproduce

Suppose you have a controller where you filter some data inside a collection of models.

[code]

Where `serialize_collection` is a method from a 3rd party library, that transforms your response into a beautifully arranged, paginated data.

`pf.filter data` does not return a filtered **Array**, but a non-filtered **Hash**. After looking into the implementation, it seems legi

[2016-06-01 12:34] matthewd commented on #25237
The `filter` method is documented as taking a parameter named `params`; that needs to be a hash. If you want to filter an array of hashes, you probably want to involve `Enumerable#map`.

[2016-06-01 12:34] #25237 closed

[2016-06-01 12:36] benjamingr commented on #25208
Hey, what form of browser support are you looking for here?

I don't mind personally landing a hand. If browser support needs to work for older IE versions than I doubt it'll save much space because of polyfills but it will still be worth our while.

[2016-06-01 12:40] kirushik commented on #25208
There is also https://github.com/hauleth/vanilla-ujs

[2016-06-01 12:42] dhh commented on #25208
Don't think that supporting legacy browsers is something we need to have
built-in by default. Happy to go with these baselines:
https://basecamp.com/help/3/guides/account/browsers

On Wed, Jun 1, 2016 at 2:38 PM, Benjamin Gruenbaum <notifications@github.com

[2016-06-01 12:43] dhh commented on #25208
Ah, https://github.com/hauleth/vanilla-ujs looks like exactly what we've been searching for. @javan do you want to take a look at that? If we can just adopt that, all the better.

[2016-06-01 13:18] javan commented on #25208
vanilla-ujs looks pretty solid, and perhaps we can use it as a starting point. I don't like that it exposes some unnecessary globals (I spotted `window.CSRF`, `window.LiteAjax`, and `window.matches`).

[2016-06-01 13:24] benjamingr commented on #25208
@javan I just checked - it only exposes them for debugging they are not actually required. It will trigger a DOM custom event with `ajax:before` on form submission which appends the CSRF token.

It is only exposed with https://github.com/hauleth/vanilla-ujs/blob/master/lib/assets/javascripts/vanilla-ujs/csrf.js#L20 - it is not _used_ anywhere and can be safely removed.

IE8 and below are not suppo

[2016-06-01 13:26] mhuggins commented on #25208
@simi [vanilla is](https://github.com/hauleth/vanilla-ujs) has existed for quite some time. :)

[2016-06-01 13:30] javan commented on #25208
👍

Additionally, it would be nice to use [`fetch`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) in browsers that support it.

[2016-06-01 13:32] simi commented on #25208
@mhuggins nice. I'm reviewing that also.

[2016-06-01 13:37] gingerlime commented on #23978
I'm having a similar issue to @manfe. The odd thing is that the error depends on the request itself.

We have a template with a few UTF-8 characters, e.g. `ä`. It renders just fine most of the time, but some times fails, depending on the request params.

i.e.

[code]

removing the UTF-8 characters from the template renders fine in both cases.

Tried various changes like adding `# encoding: UTF-8`

[2016-06-01 13:44] warmwaffles commented on #25208
That'd be nice

[2016-06-01 14:01] dhh commented on #25208
@hauleth What do you think about turning vanilla-js into a Rails PR?

[2016-06-01 14:02] lucaspiller commented on #25208
@dhh I know Rails doesn't treat backwards compatibility as an important goal, but only supporting modern browsers will mean maintaining legacy Rails applications is going to be even more challenging. There are still plenty of places where developers are stuck supporting users on legacy browsers.

It would be great if the current version of ujs was kept around and officially supported (maybe rename

[2016-06-01 14:06] simi commented on #25208
@lucaspiller current implementation lives in https://github.com/rails/jquery-ujs. I think it will be still supported and you'll be able to point manually in gemfile to that.

The current approach is to make new default and avoid https://github.com/rails/jquery-ujs.

[2016-06-01 14:14] dhh commented on #25208
@lucaspiller What @simi said. The current jquery-based approach would still be available as a plugin, but the default would change.

[2016-06-01 14:32] hauleth commented on #25208
@dhh I would be pleased.

[2016-06-01 15:33] sblackstone commented on #25198
Made an attempt at getting it closer to the example application by involving controllers, still not reproducing an issue..

[code]

[2016-06-01 15:59] jrafanie commented on #25228
I tried a suggestion from @matthewd I believe was originally from @sgrif... (first of all, thanks!!! ❤️ )

Suggestion:
[code]

So, that doesn't work because it's actually blowing up on the not implemented `type_cast` method in `Uninitialized` class.  Thanks for the suggestion... the change below fixes my failing test case by adding an empty type_cast method to this class.

If this makes sense, I c

[2016-06-01 16:29] matthewblack commented on #25208
👍

[2016-06-01 16:38] tczf1128 commented on #25208
👍

[2016-06-01 17:02] tohuw commented on #25208
👍

[2016-06-01 17:08] Ser1aL commented on #25208
One of the main ideas in the philosophy of a software framework is to ease the burden of program developer. Rails does this perfectly nowadays by providing a really useful set of tools and libraries.

On the other hand, Ruby on Rails developers often do Javascript code, which in most cases lives in the Rails application itself and ~~always~~ quite often relies on JQuery.

I understand the idea beh

[2016-06-01 17:11] rafaelfranca commented on #25208
I think so.

Also you can easily do `rails new -j jquery [app]`. That is going to keep working and jquery-rails is going to keep being maintained.

[2016-06-01 17:33] cannikin commented on #25208
I assumed that vanilla-ujs was meant to be a drop-in replacement for jquery-ujs but it currently only fires two (`ajax:before` and `ajax:complete`) of the [defined UJS callbacks](https://github.com/rails/jquery-ujs/wiki/ajax).

[2016-06-01 18:04] hauleth commented on #25208
@cannikin VanillaUJS wasn't meant as drop-in but it can be extended to one. Whole point was to provide minimal version of UJS that is required to work 90% of my cases.

It wouldn't be hard to add these callbacks for LiteAjax, unfortunately there is no way to make them fire in general case without ugly hacks.

[2016-06-02 00:04] mockdeep commented on #25208
Just wanted to toss in another voice for the legacy supporters. We, sadly, support back to IE8. Totally cool with this, though, as long as there is a reasonable way to continue supporting older browsers.

[2016-06-02 02:23] wyqydsyq commented on #25208
@Ser1aL Many devs these days are using something like Bower or JSPM to manage their front-end dependencies, removing jQuery as a rails dependency allows devs to manage jQuery just like all their other front-end dependencies, making it far more convenient to manage and maintain projects.

[2016-06-02 06:31] bitsapien opened #25244 "rails fails to parse erb in `database.yml`, whereas rake successfully parses"
### Steps to reproduce
Change your `database.yml` to this
[code]

Run `bin/rake db:migrate` (ofcourse create some migrations before this)

Refer a model in your views, and load the rails application

### Expected behavior
ActiveRecord must find the database at `/Users/bitsapien/shared/db/production.sqlite3`

### Actual behavior
 This is the error I get :
[code]
The file gets created in the right p

[2016-06-02 08:34] u007 opened #25246 "assets precompile is connecting to db"
### Steps to reproduce
RAILS_ENV=production rails assets:precompile
config/application.rb
...
config.assets.initialize_on_precompile = false
...

### Expected behavior
precompile should not connect to db

### Actual behaviour
attempting to connect to production db

### System configuration
5.0.0.rc1

**Ruby version**:
2.2.4

[2016-06-02 09:16] chashmeetsingh commented on #25244
@bitsapien I guess database if of the form
RAILS_ROOT/(path in database.yml)

[2016-06-02 09:23] rafaelfranca commented on #25246
This option is not a valid option anymore. Rails by default don't connect to the database when precompiling assets but if your application load any code that does it will. That said, if your application is connecting to the database it is something to be fixed in your application.

[2016-06-02 09:23] #25246 closed

[2016-06-02 09:42] u007 commented on #25246
hi @rafaelfranca  thanks for your reply.
how do i look for the db connection issue on my code?
is it config/initializer or config/application or any other places?
i find that its running all initialiser

[2016-06-02 10:31] u007 opened #25249 "rails 5 db:seed requires db:migrate?"
### Steps to reproduce
rails db:schema:load
rails db:seed

### Expected behaviour
run without asking for migration
### Actual behaviour
asking to run migration before seed

### System configuration
**Rails version**:
5.0.0.rc1
**Ruby version**:
2.2.4

[2016-06-02 11:11] metaskills commented on #25208
See that @sgrif ☝️

[2016-06-02 12:14] andela-oakinniranye commented on #25244
I think the ERB is parsed, probably you should check that the HOME key is set in the ENV variable. As it seems to be evaluating to `nil`

[2016-06-02 12:33] maltoe opened #25250 "Encoding error when converting UploadedFile to json with binary tempfile"
Hey,

we have an issue with `ActionDispatch::Http::UploadedFile` and `to_json`. We're using the [Gelf](https://github.com/Graylog2/gelf-rb) gem for logging to a Graylog2 instance. After (successful) API calls to a file upload action, Gelf errors in `to_json`. We traced the problem down to an instance of `UploadedFile` in Gelf's parameters hash which it tries to convert to JSON to send to the serve

[2016-06-02 13:42] ilyakorol opened #25251 "`Date#to_formatted_s` bug"
Hi all, it seems like a little bug:

[code]
### Expected behavior
[code]

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 2.2.3

[2016-06-02 13:42] maclover7 commented on #25244
^^ agree with above comments, can you check that the `HOME` environment variable is defined, and that the directory where you want to have the `.sqlite3` file exists?

[2016-06-02 13:50] maclover7 commented on #25250
Hmm, I'm not sure if converting uploaded files to JSON is something that we want to support. Feel free to open a PR, and then we can continue the discussion there. :)

[2016-06-02 14:07] maclover7 commented on #25251
Can reproduce on master.

[2016-06-02 14:10] ilyakorol commented on #25251
So, I'll create a pull request soon.

[2016-06-02 14:14] sgrif commented on #25208
@metaskills Stop trying to make fetch happen

[2016-06-02 15:36] #25228 closed

[2016-06-02 15:49] #25251 closed

[2016-06-02 15:56] jonathanhefner commented on #25251
@sgrif What about using `%-e` (or `%-d`) instead of `%d`?

[2016-06-02 15:56] jrafanie commented on #25228
Thank you @sgrif !!!  🙇

[2016-06-02 16:09] sgrif commented on #25198
The reason the reproduction script isn't working is that `ActiveRecord::Base.belongs_to_required_by_default` is `false` when unset, but we generate new apps with it set. Bumping to 5.0.0, this is a pretty major regression in behavior.

[2016-06-02 16:17] gustavopinto opened #25255 "Studying the evolution of the Rails project"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of migrating an open-source software project to GitHub, for instance, if the project succeed in attracting newcomers. Rails was in my list.

To further analyze the impacts of Rails' migration, we analyzed the git log commit history of your project in terms of number of contributio

[2016-06-02 16:33] #25255 closed

[2016-06-02 16:35] fxn commented on #25255
Before the migration Rails used Subversion, which does not distinguish author from committer. But we have a custom contributors listing which is more accurate and accounts for those years via conventions at the time.

That's http://contributors.rubyonrails.org.

I could send you a dump of the database if you want.

[2016-06-02 16:52] sgrif commented on #25198
Note: You can work around this by manually setting `inverse_of` for the time being

[2016-06-02 17:04] rafaelfranca commented on #25255
Hey Gustavo, great subject!

I was not here when this was decided, maybe @dhh is the best person to answer that.

After the GitHub migration the snapshot make sense but before the migration it is worth to check what @fxn said above, the committer may not be the author of the patch so you can find more accurate data using http://contributors.rubyonrails.org.

Right now we don't have. There is a con

[2016-06-02 17:05] deanpcmad commented on #25198
Ok no problems, where and how would I use that?

[2016-06-02 17:06] rafaelfranca commented on #25255
Forgot to add. The issue was closed because we try to keep our issue tracker focused on bugs and pull requests to be able to give faster feedbacks to contributions.

[2016-06-02 17:11] sgrif commented on #25198
`has_many :phones, inverse_of: :customer` http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#method-i-has_many

[2016-06-02 18:52] sgrif commented on #25249
I'm unable to reproduce this issue. I'm assuming that your `schema.rb` does include all migrations present. Otherwise, this is the expected behavior. If my assumption is correct, maybe try `spring stop`? In any case, there doesn't appear to be any issue in Rails here.

[2016-06-02 18:52] #25249 closed

[2016-06-02 18:52] lifeiscontent opened #25256 "nested parameters in button_to incorrectly generate hidden fields"
### Steps to reproduce

in rails I have a `Project` model with an enum of stages using the following pattern in ERB.

[code]

### Expected behavior
the HTML should generate to this:

[code]

### Actual behavior

the HTML generates to this:

[code]

### System configuration
**Rails version**: 4.2.5.1

**Ruby version**: ruby 2.2.4p230

[2016-06-02 18:56] sgrif commented on #25244
Confirming that this is not an issue. If rails wasn't parsing the ERB, it'd be trying to access `<%= ENV['HOME'] %>/shared/db/production.sqlite3` as a path, not root. `ENV["HOME"]` is evaluating to `nil`. Make sure that it's properly set for your environment.

[2016-06-02 18:56] #25244 closed

[2016-06-02 18:59] fxn commented on #25255
Even after GitHub the difference between our credits and the ones given by GitHub is not small, the contrib app really tries to go that extra mile. [Aliases](https://github.com/carlhuda), [multiple authors](https://github.com/rails/rails/commit/1eebfc9f66149020efe23a620da110424e5a5c33) (look at the author in the Git commit), [multiple authors given as handlers](2bbcca004cc232cef868cd0e301f274ce563

[2016-06-02 18:59] sgrif commented on #25250
This isn't supported usage.

[2016-06-02 18:59] #25250 closed

[2016-06-02 19:03] sgrif commented on #25256
/cc @rafaelfranca

This was fixed in 5.0 by #17043, unsure if we want to backport to 4.2 or not, since it's a minor breaking change

[2016-06-02 19:05] sgrif commented on #25251
I specifically mentioned the reasoning in the commit message.

[2016-06-02 20:07] jonathanhefner commented on #25251
@sgrif  My fault!  I did miss that last sentence!

However, in the case of the more human-readable `:long`, I think people are more likely to expect no leading zeros, rather than constant width (particularly in HTML output).

[2016-06-02 20:47] schneems commented on #24990
Looks like there's a pretty big difference between what gets passed to the Puma::Launcher from `rails s` versus `puma` commands https://www.diffchecker.com/qsa3thos.

This is from debug added to Puma::Launcher

[code]

It's weird that the errors get cached for models and controllers but not in views.

[2016-06-02 20:51] deanpcmad commented on #25198
Thanks @sgrif that worked straight away

[2016-06-02 21:33] schneems commented on #24990
It looks like https://github.com/rails/rails/blob/master/railties/lib/rails/application/finisher.rb#L135 is being called when we boot via `$ puma` but not when we boot via `$ rails s`. @matthewd looks like you touched that reloader code recently, any theories or ideas on  what is causing it to not get called when booted with one command?

[2016-06-02 21:53] schneems commented on #24990
Little more progress. It looks like what is happening is that initialization code is being run in each process when we boot via `puma` but it is being run in a different process (not in a puma worker) when we boot via `rails s`

Here's some debug output, note the PID

PID of that hook is different than any of the puma worker PIDs:

[code]

PID that is executed in that hook is same as puma worker p

[2016-06-02 22:05] schneems commented on #24990
In related news it looks like if you turn on `preload_app!` in the `puma.rb` then controller reloading fails even when you run the `$ puma` command cc/ @fxn.

We need these code reloading hooks to be valid even when the process running the original hook is not the same process that will (should) reload the code.

[2016-06-02 22:45] matthewd commented on #24990
@schneems does switching off `listen` & using the polling filesystem watcher change things?

[2016-06-03 04:27] mathie opened #25259 "Booting puma shows "WARNING: Detected 21 Thread(s) started in app boot""
### Steps to reproduce

I'm just spinning up a brand new Rails 5 project to kick the tyres and find out what's new. It comes with puma by default (which is awesome, and saves me installing it later!). Straight out of the box, it works fine. Then I follow the [Heroku guidelines for configuring it](https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server), which es

[2016-06-03 07:53] liquid commented on #25208
First of all I'm really welcoming this idea as front-end performance is an important aspect of all my apps. Even dropping jQuery reduces the overhead quite a bit so I'm happy about this.

There's however one quite important thing that jQuery brought (and vanilla-ujs is currently missing): **Namespacing**.

One of the great benefit of using jQuery is that everything is done under the `$` namespace

[2016-06-03 08:04] hauleth commented on #25208
It is great idea. 👍 I think this could be the solution to ugly hack that Vanilla UJS is now. Also I am thinking about using ES6 in next release.

[2016-06-03 08:14] liquid commented on #25208
@hauleth What ugly hack are you talking about? (I haven't thoroughly checked the full codebase)

In regards to ES6, I understand that this is quite the way where the world is going but I wouldn't just yet make the switch. Rails is still used by many applications that do need to support older browsers. By switching to ES6 we would rule out any potential patches that make the vanilla-ujs library wor

[2016-06-03 08:21] pixeltrix commented on #25208
@liquid I assume that @hauleth was talking about transpiling to ES5 from ES6 source.

@hauleth I don't know whether you're aware that we have a GSoC project to do what vanilla-ujs does but with 100% of the existing API and add some new ones if we have time like AJAX uploading. Would you be open to us transferring the repo the Rails organisation and using it as a starting point? We need to have con

[2016-06-03 08:24] hauleth commented on #25208
No problem. I doesn’t know that this is GSoC project ;)

[2016-06-03 09:18] simi commented on #25208
@pixeltrix can you please just describe what does it mean that this is [GSoC](https://developers.google.com/open-source/gsoc/) project? I'm heavily interested in this. I went thru vanilla-ujs yesterday to see the differences and also I tried to move more from jQuery to ES5 in my fork to test some approaches. Is someone working on this? Should I leave this to avoid useless duplication?

Anyway I ag

[2016-06-03 09:31] pixeltrix commented on #25208
@simi https://github.com/railsgsoc/ideas/wiki/2016-Ideas#implement-ujs-using-native-javascript

Whilst Rails itself didn't get accepted, it's one of the project's under Ruby's acceptance into the program.

Work has only just started and the student (@liudangyi) was finishing his dissertation last week so there shouldn't have been much duplication yet - which is why I want to try and organise this

[2016-06-03 09:55] liudangyi commented on #25208
@simi There's a more detailed description [here](https://docs.google.com/document/d/1yePH4Un-yW_rIh8ytqLQYSWc7nIuZMAeUmRF1qqkVbE/edit?usp=sharing). It's a little bit old but provides some information you may be interested in.

Considering the backward compatibility and the modern JavaScript development method, I would suggest to rewrite the whole UJS from scratch and give it a new name such as rai

[2016-06-03 11:38] torsybil opened #25264 "nokogiri requires Ruby version < 2.3, >= 1.9.2"
### Steps to reproduce

`gem install rails` in Windows 10 pro

### Expected behavior
Successful installation of Rails gem

### Actual behavior
[code]

### Workaround

Install precompiled DLLs (“fat binary”) from [here](http://www.nokogiri.org/tutorials/installing_nokogiri.html#windows)
[code]

### System configuration
**Rails version**: 4.2.6 _(expected to install)_

**Ruby version**: ruby 2.3.0p0

[2016-06-03 13:12] bluehallu commented on #9703
@rafaelfranca That commit didn't close the issue, it merely documented this weird behaviour. Hate to use the old "least surprise principle" argument, but if this isn't totally unexpected behaviour I don't know what it is!

[2016-06-03 13:37] hickscorp opened #25266 "Feature: Make Javascript Standalone"
As many other do, we only use Rails as our API server. The application doesn't serve any HTML, Javascript nor CSS.

Based on our API documentation, we maintain clients based on different technologies (Objective-C, ReactJS, etc). It would be very nice to separate the ActionCable Javascript files and make them available as an NPM dependency, allowing the clients to stay decoupled.

Also, having an O

[2016-06-03 13:43] rafaelfranca commented on #25266
This is already implemented

[2016-06-03 13:43] #25266 closed

[2016-06-03 13:48] sgrif commented on #25198
I'm moving this back to 5.0.1. This is a major bug, but it doesn't affect existing apps, so I don't think it needs to block the 5.0 release.

[2016-06-03 13:53] hickscorp commented on #25266
Any doc on that specific topic?

[2016-06-03 13:57] rafaelfranca commented on #25266
https://github.com/rails/rails/pull/24991

[2016-06-03 15:21] hickscorp commented on #25266
Cool, thanks for pointing that out.

[2016-06-03 15:40] schneems commented on #24990
Yes, commenting out this line makes the problem go away:

[code]

I'm able to load `$ rails server`, add `raise "foo"` to a controller, load the page. Then remove the exception and reload the page, and the exception goes away.

Shooting in the dark here, maybe listen has a connection to something that cannot be shared between processes. Not really sure.

[2016-06-03 16:00] schneems commented on #24990
I think that was a totally wrong hypothesis, this block does not get called when using the evented file checker https://github.com/rails/rails/blob/99d8d45e42ef61893171eb2dbf8ff1e6aa9f4c77/railties/lib/rails/application/finisher.rb#L158 but it does when using the older file checker. So maybe something is aborting the callback chain with the evented file checker

[2016-06-03 16:11] rafaelfranca commented on #25264
Are you sure that the ruby version is what you are using when typing that command? If that is correct so it is either a Rubygems issue or a ruby issue.

[2016-06-03 16:11] #25264 closed

[2016-06-03 16:33] schneems commented on #24990
Okay, going back to original hypothesis. The callback code in that line isn't being called because `@updated` in the listener is never set to `true`. I'm leaning towards this happening because something to do with connections and forking so the listen gem isn't behaving quite like we expect it to.

[2016-06-03 16:39] schneems commented on #24990
So https://github.com/rails/rails/blob/755f6bf3d3d568bc0af2c636be2f6df16c651eb1/activesupport/lib/active_support/evented_file_update_checker.rb#L54-L58 is getting called but not in a process that is running any code. When this happens it updates the `@updated` variable but that variable isn't shared with the child processes which are handling the web requests.

In the code reloading executor gets

[2016-06-03 19:06] maclover7 commented on #25224
Solved by #25240.

[2016-06-03 19:06] #25224 closed

[2016-06-03 19:25] filipegiusti opened #25267 "select_year fails when using include_position: true, solution provided"
### Steps to reproduce

[code]

### Expected behavior

Output:

[code]

### Actual behavior

Raises: `undefined method '+' for :year:Symbol`

### System configuration
**Rails version**: master, checked on https://github.com/rails/rails/commit/755f6bf3d3d568bc0af2c636be2f6df16c651eb1

**Ruby version**: Any.

### Solution

Change [this](https://github.com/rails/rails/blob/755f6bf3d3d568bc0af2c636be2

[2016-06-03 19:27] itaymishan opened #25268 "ActiveRecord Integer column validation"
### Steps to reproduce
When creating a validation on a model such as:
`  validates :some_value, presence: true, numericality: {
    integer: true, greater_than: 1, if: :some_value?
  }`
1. Create a validation on an ActiveRecord model column of type integer value
2. Create an object from the model:
`ModelX.create!(some_value: 0.5)`

### Expected behavior
I would expect that validation would fail
##

[2016-06-03 19:35] sikachu commented on #25268
`time_used?` would return `true` if it's not `nil`. It looks like you call `create!` with `time_used: 0.5`. Is that example correct?

[2016-06-03 19:58] itaymishan commented on #25268
The Thing is I would expect that `greater_than: 1` will make the validation to fail (since the value is 0.5)

[2016-06-03 21:06] maclover7 commented on #25267
👍 Can you submit a PR to change this?

[2016-06-03 21:07] Edouard-chin commented on #25268
I'm also confused by your example. You added a validation rule on the `some_value` attribute, there is no validation on the `times_used` one.

I'm not able to reproduce your issue using this gist: https://gist.github.com/Edouard-chin/5bf7cb5f862d8a577d36ce52cddfbb11

[2016-06-03 21:56] jasnow opened #25269 "Just started (3 days ago) getting ActionDispatch::IllegalStateError for controllers rspec test with edge rails"
Just started (3 days ago) getting ActionDispatch::IllegalStateError for controllers rspec test with edge rails.

### Steps to reproduce

 * Given you have a repo: https://github.com/jasnow/testing-app5edge
    And you run the following: **rspec ./spec/controllers/posts_controller_spec.rb:17**
    Then it will run without errors.

 * Now run "bundle upgrade" and you see the following gems were upgr

[2016-06-03 22:47] matthewd commented on #25269
6d4ac2726f56c33677867178e2e01e5237df780a

[2016-06-04 02:09] hmistry commented on #25226
@prathamesh-sonpatki I'm unable to verify your patch because I'm having trouble updating rails to that commit or `master` as bundler is failing to resolve compatible versions. I even tried to create a new app using Rails `master` without any luck.

Let me know if you have any ideas in how I can get around the gem compatibility issues, let me know, otherwise I'll have to wait to 5.0.0.rc2 release t

[2016-06-04 05:17] mmb opened #25270 "add_index migration with to_tsvector fails"
### Steps to reproduce

Create a migration like this and run it against a PostgreSQL database:

[code]

This doc suggests that it will work:

http://edgeguides.rubyonrails.org/active_record_postgresql.html#full-text-search

### Expected behavior

It should create the index.

### Actual behavior
[code]

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 2.3.0

If it's not possible

[2016-06-04 05:34] kamipo commented on #25270
Looks like that this issue was fixed at #23393. Could you try 5.0.0.rc1?

[2016-06-04 08:12] basco-johnkevin opened #25273 "SQLite3::ConstraintException: assignments.created_at may not be NULL"
### Steps to reproduce

Models:
[code]

Fixtures:
[code]

When I run `rake test`, it shows me this error: `SQLite3::ConstraintException: assignments.created_at may not be NULL`

The test is just a very simple auto generated test by Rails for one of my controllers:

[code]

Complete error message:
[code]

schema.rb:
[code]

### Expected behavior
It should auto populate the `created_at` field

### A

[2016-06-04 14:38] maclover7 commented on #25273
Can you please provide a sample application that replicates the error you are seeing? We can debug further from there :)

[2016-06-04 20:47] itaymishan commented on #25268
Updated the issue.
some_value is just an integer column inside a model.
The validation simply suppose to make sure his value is an integer greater than 1, for some reason when I create an object using some_value=0.5 it passes validation and assign 0 to column.

[2016-06-05 02:40] y-yagi commented on #25183
Is this really fixed?
I tried in Rails 5 and jbuilder 2.5.0, but it seems to still be in error.

Steps to reproduce:

[code]

Failures:

[code]
I think need to specify the format in test code?

[2016-06-05 04:55] jjb commented on #25208
Here's an idea: as long as all the JS is being revamped, how about converting vanilla-ujs to coffeescript when bringing it into rails? That might improve the participation rate from rubyists going forward.

[2016-06-05 05:09] waits commented on #25208
@jjb That would make *coffeescript* a required dependency though. Gain one lose one?

[2016-06-05 05:15] liudangyi commented on #25208
@waits We can use CoffeeScript to write UJS and distribute it in compiled JavaScript.

[2016-06-05 05:40] jjb commented on #25208
@waits the win in dropping the jquery dependency is much smaller js for the end user to download. so it's a very different notion of dependency.

[2016-06-05 05:45] waits commented on #25208
@liudangyi Right, of course, thanks.

[2016-06-05 08:25] mathie commented on #25259
I've followed up a bit on [puma/puma#991](https://github.com/puma/puma/issues/991). A summary:

* The warnings show up when booting the server with `bundle exec puma -C config/puma.rb` but not when you boot the server with `rails s`.
* The difference in my configuration file from the Rails-generated skeleton is that I've uncommented `workers`, and correspondingly uncommented `preload_app!` and `on

[2016-06-05 11:23] marekkirejczyk commented on #25267
PR with test and fix attached.

[2016-06-05 13:36] maclover7 commented on #25267
Awesome 👍

[2016-06-05 14:13] schneems commented on #25259
r? @matthewd threads are coming from the new file watcher related https://github.com/rails/rails/issues/24990#issuecomment-223629453

[2016-06-05 14:20] mhuggins commented on #25208
@jjb Do you have evidence that CoffeeScript is preferred over JS by Rubyists?  I for one have come to loathe CoffeeScript, so I'm curious what the basis of your consideration is.

[2016-06-05 14:22] yoelblum opened #25288 "polymorphic has many with default scope error"
### Steps to reproduce
I think there's an issue in polymorphic associations that try to use a default scope:
Create any polymorphic relationship and try to use a default scope on the has_many .
[code]
 It happened to another guy in a similar case:
http://stackoverflow.com/questions/36369333/use-polymorphic-associations-with-default-scope

### Expected behavior
Default scope should be working (in m

[2016-06-05 14:35] jjb commented on #25208
I do not have evidence. My statement was based on coffeescript syntax and grammar being more similar to ruby than it is to javascript.

[2016-06-05 14:45] marekkirejczyk commented on #25208
@dhh @rafaelfranca Which approach is better?
a) Make vanilla ujs code part of rails code
or
b) Create new gem (or extend existing e.g. vanilla-ujs) and point to it from default Gemfile?

[2016-06-05 16:22] simi commented on #25208
I think @liudangyi's [approach](https://github.com/rails/rails/issues/25208#issuecomment-223539170) will be the best.

[2016-06-05 17:11] marekkirejczyk commented on #25195
I am attaching a PR with prototype implementation HTML tag dynamic proxy. This is draft far from being ready, more a starting point for discussion.
Feedback will be appreciated, let me know if direction is good and should I continue.

[2016-06-05 17:13] vipulnsward commented on #25195
@marekkirejczyk I started this here- https://github.com/vipulnsward/rails/commit/347e82054ea212f3c3cf5a3c2b3d0a01d3b6ade6 a week ago, din't get time to work over it. Will take a look at your PR as well.

[2016-06-05 17:34] vipulnsward commented on #25268
@itaymishan can you create an executable gist with failing scenario based on what @Edouard-chin post here - https://gist.github.com/Edouard-chin/5bf7cb5f862d8a577d36ce52cddfbb11

[2016-06-05 17:54] vipulnsward commented on #25288
This works as expected- https://gist.github.com/vipulnsward/aeec0e8007b2eb11178d61e1df236614
The position of the scope that you are passing is different than the signature, pass the scope after the name and options later.

[2016-06-05 17:54] #25288 closed

[2016-06-05 18:52] vipulnsward commented on #25270
Works as expected on master, and rc1 as @kamipo pointed out
- https://gist.github.com/vipulnsward/d26e33ee55909945a07ed5096cce2d77

[2016-06-05 18:52] #25270 closed

[2016-06-05 19:22] mathie commented on #25259
Feel free to close this as a dupe of #24990. 😄

[2016-06-06 01:06] basco-johnkevin commented on #25273
@maclover7 I updated my Ruby version to 2.3.1p112 and the issue is still present.

Here's the sample application that replicates the error: https://github.com/basco-johnkevin/rails-fixtures

**Rails version:** Rails 4.2.6

**Ruby version:** ruby 2.3.1p112

[2016-06-06 07:03] rob99 opened #25295 "option_groups_from_collection_for_select fails with NoMethodError: undefined method `map' for ...."
### Steps to reproduce

    rails c
    av =  ActionView::Base.new
    @coll = Fruit.all
    html = av.option_groups_from_collection_for_select(@coll, :color, :color, :id, :name)

### Expected behavior

Should return a html fragment of optgroup and option tags

### Actual behavior

    # => NoMethodError: undefined method `map' for "GREEN":String
    from C:/jruby-9.1.2.0/lib/ruby/gems/shared/gems

[2016-06-06 07:05] rob99 commented on #25295
It seems that `option_groups_from_collection_for_select` calls `options_from_collection_for_select` but with the grouping value as the first arg.

`options_from_collection_for_select` expects the collection to be the first arg.

[2016-06-06 11:26] dhh commented on #25183
Replicate @y-yagi's issue. This should work.

[2016-06-06 13:46] e2 commented on #24990
Calling fork() doesn't clone threads, so a new Listen process is necessary.

The alternative would be to run Listen on a socket.

That can save some overhead and threads, especially on OSX (were there's 1 thread per watched directory - which isn't a technical constraint per say). If the socket isn't connected you can just reconnect in the forks, or start the listener "server" if it isn't started a

[2016-06-06 13:55] e2 commented on #25259
@mathie - not really a dupe.

The large number of threads are because on OSX Listen uses one thread per watched directory.

The ONLY reason for this is because the current implementation of `rb-fsevent` doesn't expose which watched directory a given event came from. The mapping itself is necessary to unify backend adapters while preparing for other features in Listen (such as symlink support, dire

[2016-06-06 14:18] stevenspiel opened #25299 "inverse_of: parent not finding children after child.parent = parent"
I'm using Rails 4.2.5.2 and inverse_of relationships are not behaving as expected.

### Steps to reproduce

[code]

app/models/chid.rb:
[code]

app/models/parent.rb:
[code]

[code]

### Expected behavior

I would expect `p.children` to return `[#<Child id: nil, parent_id: nil, created_at: nil, updated_at: nil>]`

### Actual behavior

I'm getting `[]`

### System configuration
**Rails version**:
4.

[2016-06-06 14:33] buehmann opened #25300 "Active Record does not dump foreign key's referential actions with MySQL's ANSI_QUOTES"
### Steps to reproduce

1. Prepare a schema in MySQL with a foreign key that has a referential action, e.g. `on delete cascade`.
1. Set your Active Record connection to use `sql_mode = ANSI_QUOTES`
1. Dump the schema using `rake db:schema:dump`

### Expected behavior
`db/schema.rb` should include `on_delete: :cascade` option in `add_foreign_key`.

### Actual behavior
`on_delete` option is missing.

[2016-06-06 14:47] schneems commented on #24990
I've never done that before. What exactly would that look like? You spin up the listen code in a different process and connect to a socket with some code to write to the socket when an event is triggerd, then the other processes listen on the socket and register a change when it's written? Genuinely curious of what that architecture would look like?

Right now I'm thinking that we move the code th

[2016-06-06 15:54] e2 commented on #24990
Pretty much like you describe it. It would just save some overhead but add more code, so I don't think it's worth any time. Maybe if Listen provided this itself (which I was considering).

Still, the best solution would be to prevent the need for so many threads in the first place, see my comment here: https://github.com/rails/rails/issues/25259#issuecomment-223966052

[2016-06-06 16:35] rthbound commented on #25106
@rafaelfranca @maclover7 can we add the "With reproduction steps" tag?

[2016-06-06 16:52] matthewd commented on #25106
@rafaelfranca I agree setting it to nil shouldn't raise an error; I don't agree that it allows you to unsend the response.

If we wanted to allow that (I strongly feel that we should not), then it deserves to be a first-class API method, not a secret hidden behaviour.

[2016-06-06 16:56] rthbound commented on #25106
[code]

My understanding from the conversation here and the work done on other (related?) issues is that it should be possible to reset the body as attempted by @kdough in normal requests and it should _not_ be possible to reset the body in this way for streaming requests. /cc @matthewd & @rafaelfranca

[2016-06-06 16:58] dhh commented on #25183
@rwz @rafaelfranca Thoughts on this?

[2016-06-06 17:22] rafaelfranca commented on #25183
I'll take a look. It is really a weird behavior.

[2016-06-06 17:48] matheusmariano opened #25303 "Rails not reading the first char of fixture name."
Hey, guys. I'm getting a very strange error in my fixtures.

I generate a model called User normally.

```rails generate model User```

But when I execute my tests

```rake test```

It returns the error

[code]

Because the rails isn't reading the first character of my fixture name.

Here is terminal log.

[code]

Ruby version: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]
Rails ver

[2016-06-06 17:49] Amrani commented on #25299
@stevenspiel Try creating the records so ID's will be assigned. Then the associations will be able to find the records. Replace Child.new with Child.save or Child.create

[2016-06-06 17:53] stevenspiel commented on #25299
Is there no way for it to be done in-memory?

[2016-06-06 17:57] Amrani commented on #25299
The has many relationship initiates a query in the database looking for a mapping. If you do not want to persist the relationship, you can

[2016-06-06 18:03] Amrani commented on #25299
The has many relationship initiates a query in the database looking for a mapping. If you do not want to persist the relationship. I think you can do something like this
[code]

[2016-06-06 18:19] andela-oakinniranye commented on #25295
The second argument should be the `group_method`, a collection nested under the first collection. http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-option_groups_from_collection_for_select

[2016-06-06 18:21] AndreasWurm commented on #25117
see #24741

[2016-06-06 19:37] marcalc commented on #25135
@sgrif Excuse me for maybe being repetitive, but would you be kind to follow up in this?

[2016-06-06 19:39] maclover7 commented on #25295
^^ agree with this analysis. @rob99 Can you try again with this advice, and see if the error still exists? Also, if possible, can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-06-06 20:15] maclover7 commented on #25299
Yep, agree with @Amrani -- you need to save your records to the database before trying to query them (thus, there is no bug here). For reference, I've created a reproduction script [here](https://gist.github.com/maclover7/ddc3fc8769861af7ece854142246fbcf).

[2016-06-06 20:15] #25299 closed

[2016-06-06 20:16] AlexCppns commented on #24311
Hi, we are having this problem on Rails 3.2.22, do you guys know if this was patched in 3.x?

[2016-06-06 21:32] schneems commented on #18660
I'm hitting this right now with codetriage/codetriage. Crazy thing is if I clone into a new directory and set it up, it runs fine (shrug)

[2016-06-06 22:52] Amrani commented on #25303
@matheusmariano can you share your users.yml?

[2016-06-06 22:59] matheusmariano commented on #25303
Yes, sure. I did no changes in this file.

[code]

[2016-06-06 23:02] Amrani commented on #25303
What about your user_test.rb?

[2016-06-06 23:03] matheusmariano commented on #25303
**user_test.rb**
[code]

[2016-06-06 23:14] matheusmariano commented on #25303
May this problem be caused by special characters in parent folders? I've realized the problem just occurs inside the folder **Código**, which have the special character **ó**.

[2016-06-06 23:51] Amrani commented on #25303
Interesting. I will look more into soon. I believe this is where the rake task is called, but not sure....
https://github.com/rails/rails/blob/4-2-stable/railties/Rakefile#L9-L25

[2016-06-06 23:57] matthewd commented on #25303
@matheusmariano are you able to confirm that temporarily renaming the folder makes it work?

[2016-06-07 00:17] matheusmariano commented on #25303
@matthewd Yes. I've changed my path from
`~/Documents/Código/Bemind/apiservice`
to
`~/Documents/Code/Bemind/apiservice`
and now it works.

[2016-06-07 01:11] rob99 commented on #25295
@andela-oakinniranye quite right!  My misunderstanding.  Thanks...

[2016-06-07 01:11] #25295 closed

[2016-06-07 02:05] gustavopinto commented on #25255
Hi @rafaelfranca, thank you for your comments.

Great points! However, I think that most of these points are related to the Github development process, instead of, for instance, the Rails policy of attracting and retaining contributors. Am I correct, or do you have any other thoughts (e.g., Rails popularity might influence one to become a contributor)?

[2016-06-07 02:31] bitsapien commented on #25244
Thanks.

[2016-06-07 05:23] hammerdr commented on #25109
Hey, I've tried to recreate it with the `action_controller_*.rb` and those do not exhibit the behavior. I'm not sure why other than to guess that `Rack::Cache` is not being executed by the tests.

The rails app I linked is super vanilla. Nothing special going on in it.

[2016-06-07 06:22] Amrani commented on #25303
ó is actually of length 2 which is causing the first letter to be cut off(see below). I submitted a PR that converts the characters before calculating the length.

`fixture_set_names.map! { |f| f[(fixture_path.to_s.size + 1)..-5] }`

[2016-06-07 07:34] fxn commented on #25303
The length of a string is logical, number of bytes doesn't matter.

Maybe an encoding issue related to paths?

[2016-06-07 08:45] fxn commented on #25303
Wonder if this may be related to normalization. For example "À" can be encoded in two different ways:

[code]

These have different logical lengths because the second one is printed as the composition of two characters:

[code]

and of course they consist of different bytes:

[code]

So it could be the case that `Dir#[]` is returning strings with a different normalization than the one in `fixture_

[2016-06-07 11:12] ilyakorol opened #25312 "Instance from docs does not work"
`mattr_accessor` not works as expected.

### Steps to reproduce (from [docs](http://apidock.com/rails/v4.2.1/Module/mattr_accessor))
[code]

### Actual behavior
`NoMethodError: undefined method 'hair_colors=' for Person:Class`

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 2.2.3

[2016-06-07 12:53] robin850 commented on #25312
Hi @ilyakorol,

Yes, this cannot work since `include`mixes in instance methods and we are trying to call a class method in the documentation example. We should rather use `extend` to make the example work. Do you want to give it a try updating the documentation ? :-)

Thanks for reporting !

[2016-06-07 13:06] ilyakorol commented on #25312
@robin850, thanks for you reply, I can create PR soon:)

[2016-06-07 14:22] schneems commented on #25259
@e2  thanks for your work and your comments

For our cases we don't really need the names of files or directories changed, we only set one essentially global flag of `@updated` and then we reload __all__ the code. Looking at my PR #25302 it looks like we need to boot before we fork after all, so that won't be a valid solution for this issue. If we could reduce the number of threads that would help

[2016-06-07 14:35] ilyakorol commented on #25312
It seems like this issue has been already fixed in master.

[2016-06-07 14:35] #25312 closed

[2016-06-07 14:49] e2 commented on #25259
There's really no overhead which can be avoided, because all APIs pass events (files/dirs) in callbacks.

To be honest I wouldn't worry about the thread count. It's one thread per watched directory, and not one thread per directory. Most are waiting on a read/select anyway, so they're not busy at all. They are actually somewhat needed on OSX, since MD5 sum checking is needed to detect if directori

[2016-06-07 15:04] Amrani commented on #25303
@fxn
fixture_path before setting Dir:
``ó.bytes -> [111, 204, 129]``

fixture_path after setting Dir:
``ó.bytes -> [195, 179]``

[2016-06-07 15:09] fxn commented on #25303
Just to be sure, you mean you tested `fixture_path` on one hand, and the the strings that come up from the `Dir#[]` call (which are longer), and that in the "common" segment they dirrent in those bytes?

[2016-06-07 15:17] Amrani commented on #25303
Correct. I found the 'common' segment after inspecting the chars in each and grabbing the substring. Below are the substring chars from each common segment

[code]

[code]

[2016-06-07 15:36] fxn commented on #25303
Awesome, it squares. Interesting gotcha!

I am working now, saw the PR, but let's think a bit if there are other options to make this robust.

[2016-06-07 15:37] robertlyall commented on #25117
@AndreasWurm: Multiple channels work with the proposed patch, however I'm getting errors in my development log.

[code]

[2016-06-07 16:20] MatthewRDodds opened #25316 "Association not loaded when included as a concern"
### Steps to reproduce

I have a Property model (among others) that include the following concern:

[code]

### Actual behavior
The association is not loaded for my Property model
[code]

### Expected behavior

If I copy what is included in the concern to the model and reload, the association works:

[code]

### System configuration
Rails **4.2.6**:
Ruby **2.3.1**:

[2016-06-07 18:14] prathamesh-sonpatki commented on #25183
This is failing because by default the request encoder  is HTML - https://github.com/prathamesh-sonpatki/rails/blob/master/actionpack/lib/action_dispatch/testing/integration.rb#L327

We can fix it in following way by generating API controller tests with `as: :json` as follows.

[code]

cc @kaspth

[2016-06-07 18:26] dhh commented on #25183
Ah yes of course. Seems like jbuilder needs to provide controller test stubs on its own.

[2016-06-07 18:27] prathamesh-sonpatki commented on #25183
@dhh Tried to fix it here https://github.com/rails/rails/issues/25317.

[2016-06-07 19:03] sgrif commented on #24949
On principle it doesn't seem like the raw handler should mark things as html safe by default, but really neither should the erb handler (since ERB doesn't actually imply HTML content). I think it's better to be consistent in this case though. I could see an annoyance if you actually have text content containing the right characters for the browser to lose them, but that annoyance would already be

[2016-06-07 19:10] sgrif commented on #25316
Unable to reproduce. At first glance I would guess that it's an issue with the gem adding `acts_as_mappable`. If you can reproduce without that gem, please comment with a script that can be used to reproduce the issue using [our standard bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb) and I will reopen.

[2016-06-07 19:10] #25316 closed

[2016-06-07 19:14] sgrif commented on #25316
For posterity, [this is the script I attempted to reproduce with](https://gist.github.com/sgrif/dcada9591c48ebd05aa7d0c6a06f0da7)

[2016-06-07 19:36] sgrif commented on #25183
See https://github.com/rails/rails/pull/25317#issuecomment-224376800, this issue isn't fully resolved. There's a bandaid in place for 5.0.0 though, so I'm moving this to the 5.0.1 milestone.

[2016-06-07 19:47] sgrif commented on #25268
What is `if: :some_value?` meant to accomplish? `https://github.com/rails/rails/issues/25268#issuecomment-223673493` is incorrect. `some_value?` is roughly equivalent to `some_value.blank?`. `0.5` is cast to `0` (this is Ruby's behavior for `to_i` on floats, not a decision by Rails), and `0.blank?` returns true.

So this is the intended behavior with that validation as you've defined it. The `if:

[2016-06-07 19:47] #25268 closed

[2016-06-07 20:12] bmedenwald commented on #23997
I suspect this is related, but here's a different payload that exhibits the problem better.  I've boiled this down a ways, but it comes from a subset of Stripe's web hooks, which are sent as query parameters and not as a JSON body.

[code]

If I run the above utilizing Rails 4.2.6 and Rack 1.6.4, it ultimately comes out correct.  It's an array with 2 objects, each with a key/value and 2 objects.

[2016-06-07 21:25] MatthewRDodds commented on #25316
This was the result of a naming conflict. My module was being overridden. Apparently a gem I added, [letter_opener](https://github.com/ryanb/letter_opener), depends on a gem called [launchy](https://github.com/copiousfreetime/launchy), which depends on a gem [addressable](https://github.com/sporkmonger/addressable), which is what caused my issue. Thanks for the quick feedback @sgrif

[2016-06-07 21:47] jrochkind commented on #25129
I am not sure whether this behavior should be considered expected, but I think it's pretty terrible.

To have an object that says `persisted? # => true` when it is not in fact persisted is a pretty huge problem for ActiveRecord, that messes things up all over the place. It makes transactions very very dangerous to use.

There is actually an open PR to fix this behavior specifically with regard to

[2016-06-07 22:24] vipulnsward commented on #25273
Problem is the way the fixtures are setup, you can't pass admin to roles, you will need to build the assignment fixture instead-
[code]

When you specify role, it will to build an implicit hmt object, and fail at the constraint.

[2016-06-07 22:24] #25273 closed

[2016-06-08 00:19] matthewd commented on #25118
I suspect that https://github.com/rails/rails/pull/25240 fixed this

[2016-06-08 00:19] #25118 closed

[2016-06-08 00:26] Edouard-chin opened #25324 "validate_associated_records_for_ doesn't respect validation order"
I'm not sure if this a bug, but the behaviour looks weird. Tested on both master and rails 4.21
### Steps to reproduce

Please find this gist that illustrate the problem: https://gist.github.com/Edouard-chin/b7fe1c9ce8bc86a734aeaf6b5fdd4c1d
### Expected behavior

When `accepts_nested_attributes_for` gets called, the `validate_associated_records_for_xx` validation callbacks gets created. The associ

[2016-06-08 00:49] Amrani commented on #25303
Dir defaults to the filesystems encoding type when it isn't given. What about determining the length of the parent directory first to ensure the same encoding type is used?

[code]

I am not sure what will happen if no fixture path is present (looking into it).

Any other ideas?

[2016-06-08 01:00] sgrif commented on #25316
No problem. Part of why we ask for the repro script with that template is
to filter out cases like this (which are quite common. 😃)

On Tue, Jun 7, 2016, 5:26 PM Matthew Russell Dodds <notifications@github.com>
wrote:

[2016-06-08 03:26] zhm commented on #21126
As a followup to this, I think the default behavior of Rails is somewhat incompatible with most other tools. An "out of the box" datetime (`timestamp without zone` written as UTC) field in Rails will not be parsed correct in a at least a few other postgres clients I've seen. The ruby `pg` gem doesn't parse it correctly, the `sequel` gem doesn't, and nodejs `pg` module does not. And when I say it "

[2016-06-08 06:13] jeroenvisser101 commented on #25118
Thanks @matthewd, I'll see if I can confirm!

[2016-06-08 09:23] fxn commented on #25303
Another possibility is to explore doing this in a more encapsulated way using `Pathname`, where you can ask for the path relative to a directory and have a rich API to manipulate file names.

Could be the case that this is also subject to normalization though, we'd need to see.

[2016-06-08 09:50] gamov commented on #19001
Same here, all those limits were added automatically to my schema (along side the force: cascade) when I ran rake db:migrate 😓:
[code]
Integers in the DB are still defined as int(11), string as varchar(255) and text as text

Rails 4.2.6
ruby 2.2.5p319
mysql2 0.4.4
mysql version: 5.7.12

The limits seem to come from abstract_mysql_adapter#initialize_type_map

[2016-06-08 12:07] andela-oakinniranye opened #25325 "It seems ActiveSupport::CoreExt::Date#next_day/prev_day is ignored by Date in Rails"
### Steps to reproduce

While working on #25209, I tried to follow @matthewd's suggestion of using Date.current.next_day(:tuesday), which led me to a possible bug in Rails 5.
I would be interested to learn what I'm missing or if this is really a bug that should be fixed.
1. Open up a `rails console` session
2. Check `Date.current.next_day` from the repl session. This should give tomorrow
3. Check

[2016-06-08 12:41] robin850 commented on #25312
@ilyakorol : Ah yes, I forgot to check the edge API before asking you to send a patch, sorry about that ! :/

[2016-06-08 13:04] marcelokanzaki opened #25326 "rails db command to to load schema_search_path config when using postgresql"
This is a feature request.

### Steps to reproduce

0. Set the "schema_search_path" config in database.yml: `my_schema, public`
1. At the root of a rails app run: `rails db` to start up a database console
2. When in the database console, print the schema_search_path like this: `show search_path;`

### Expected behavior
[code]

### Actual behavior

[code]

### System configuration
**Rails version**

[2016-06-08 13:07] marcelokanzaki commented on #25326
I would be glad to help implement this if you guys think it's an interesting behavior.

[2016-06-08 15:45] andela-oakinniranye commented on #25326
I think you should post this on the [rails-core-mailing list](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core). read somewhere that Feature Requests shouldn't be posted on Issues.

[2016-06-08 15:46] jasnow commented on #25269
Unclear what the next step is. Do we fix actionpack code or fix my repo?

[2016-06-08 15:56] eliasjpr commented on #25303
@fxn and @matheusmariano Just a thought I would look into your mac filesystem encoding settings since this looks more of an OS encoding issue.

[2016-06-08 16:52] schneems commented on #25259
I took a stab at using a IO.pipe but got stuck https://gist.github.com/schneems/1e50a78b64a7920c503b319d6112166b. Feel like there might be a way forwards there.

This would make the problem much simpler but I do think there are valid reasons for running clusters locally. While i'm not using evented file monitor in production yet, if I happen to be using other code that breaks when used with forks,

[2016-06-08 18:21] schneems commented on #23681
The problem is this is more of a "can't fix" type of a problem. We would need to modify the Rack interface to differentiate between user specified configuration and "default" configuration. `rails server -p 3001` would work to modify the port because that gets passed straight through the rack handler.

[2016-06-08 19:19] fxn commented on #25303
@Amrani let's dig a little more into this.

1. In your application, `fixtures_path` is computed by Rails? Or is it set via the environment variable `FIXTURES_PATH`?
2. Which operating system?

@eliasjpr we suspect it is a UTF-8 normalization issue (see comments above), the normalization in the string stored in `fixtures_path` and the one in the strings that come from the glob are different. Anolog

[2016-06-08 19:26] maclover7 commented on #25326
Please use the mailing list for feature requests, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-06-08 19:26] #25326 closed

[2016-06-08 19:47] Amrani commented on #25303
Here is where the fixture_path is being set: https://github.com/rails/rails/blob/4-2-stable/railties/lib/rails/test_help.rb#L23
`self.fixture_path = "#{Rails.root}/test/fixtures/"`
Also, I am using Mac OS X

[2016-06-08 20:41] bmedenwald commented on #23997
@tenderlove Here is another example, this time from a nested form with models using `accepts_nested_attributes_for` 2 levels deep.  The models look like this:

[code]

The payload from a single form that allowed both CRUD of Groups and Memberships to those Groups generates a payload like this:

[code]

Using the same script above, this works with Rails 4.2.6/Rack 1.6.4, providing a single object i

[2016-06-08 21:01] tenderlove commented on #23997
@bmedenwald not sure if this *is* the same issue that OP reported, but I have been able to reproduce the case you've given.  We were able to roundtrip the query you provided with Rack 1.4.6, but not on 2.0.0.  I tracked down the problem to rack/rack@7f00781a7b9c75ddb86d0ab52132885ee88d5bac .  Unfortunately reverting that commit breaks other tests.  I'm tempted to revert rack/rack#1029, but that wi

[2016-06-08 21:01] tenderlove commented on #23997
@bmedenwald also thank you very much for providing a test case that would break in one version and not another.  I really appreciate it!

[2016-06-08 21:03] tenderlove commented on #23997
[code]

The output of `to_query` on `x` in this test case didn't change between Rails releases, but parsing did.

[2016-06-08 21:29] fxn commented on #25303
I'll try to reproduce. Which Ruby version? How do you create the directory? Finder? Terminal.app?

[2016-06-08 21:49] eliasjpr commented on #25303
@fxn I got different results when trying to reproduce your case. Do you have different keyboard settings? :)

Im very curious about what could be causing this (I mean obviously).
<img width="389" alt="screen shot 2016-06-08 at 5 46 43 pm" src="https://cloud.githubusercontent.com/assets/1685772/15912204/fdc5fa18-2da0-11e6-8e18-ec6a68cae770.png">

It would be interesting to see the solution.

[2016-06-08 22:11] e2 commented on #25259
I'll gladly check it out when I'm back. (I'm gone for a few days). I'll be happy to extend Listen to support something like this out of the box too. Listen could even maybe detect forking internally and switch to a pipe (or optionally socket) implementation automatically (if allowed by an option).

I agree. Some people do use Listen e.g. for tracking uploaded files - although that's best handled b

[2016-06-09 00:47] basco-johnkevin commented on #25273
@vipulnsward Thanks! It works now. But shouldn't it still set the `created_at` field when it tries to build an implicit hmt object? Because, why not?

[2016-06-09 02:36] ianks opened #25330 "Should we raise an error for an invalid option on migrations?"
Currently, when creating a migration and the user specifies an invalid option, the migration silently succeeds and does not notifiy the user that the option is meaningless.

Given this migration for postgres:

[code]

When we run this migration, the schema will be created, and everything appears to have succeeded. It will result in something like this:

[code]

The schema is correct and does not i

[2016-06-09 02:50] rafaelfranca commented on #25330
This proposed solution makes impossible to different adapters introduce different options to the migration helpers. In you specific case, a database like Oracle could accept a limit option in the text column and that would raise an error.

[2016-06-09 02:51] rafaelfranca commented on #25330
I'm closing this issue because it is more a feature request and we don't take feature requests in the issue tracker. Feel free to comment on it or if you want to extend the discussion with more people I suggest you to send an email to the rails core mailing list.

[2016-06-09 02:51] #25330 closed

[2016-06-09 03:29] hmistry commented on #25226
@prathamesh-sonpatki Let's re-open this issue since you verified yesterday that the fix in `c33bda8` does not give the appropriate response in a mixed app. This way the bug can be tracked.

[2016-06-09 04:23] machty opened #25333 "ActionCable: consider deferring `transmit`s until after `confirm_subscription`"
### Steps to reproduce

Create an ActionCable channel that transmits data within `subscribed`, which seems like a reasonable place to send an initial payload upon subscription (e.g. if you're subscribing to a `TweetsChannel`, this could send the most recent 15 tweets).

[code]

### Expected behavior

The `confirm_subscription` websocket event should arrive before the transmitted payload.

### Actu

[2016-06-09 05:13] prathamesh-sonpatki commented on #25226
Assigning to myself. Just a clarification, this is not a blocker for 5.0 release.

[2016-06-09 06:34] Amrani commented on #25303
ruby 2.2.4p230 and I created the directory through the finder

[2016-06-09 06:37] machty commented on #25117
I'm still running into deadlocking with multiple channels and I'm on 5.0.0.rc1.

I've found that if I set `config.eager_load = true` in development, the problem goes away (and since this is the default on prod, this explains why other people haven't been seeing this issue on prod).

Also, if I put code on the client side to put a delay between the channel subscriptions, the problem also seems to g

[2016-06-09 07:16] fxn commented on #25303
I suspect something has changed in Ruby. Look:

I create a file called "À" in a test directory. To do so, I press Option+` and then A. Then I inspect the bytes in the shell like this:

[code]

If we assume `echo(1)` and the shell are just passing bytes around, normalization chooses a decomposed form. That squares with the Apple docs linked above (in theory it should be independent from the normali

[2016-06-09 07:30] fxn commented on #25303
@nobu does it ring a bell? The gist of the issue is:

A string (`fixtures_path`) has a diacritic in decomposed form. This string is interpolated in the pattern of a dir glob as a base dir, and then the strings that come up from globbing use precomposed characters.

The OS (Mac OS X) seems to be storing things using a decomposed normalization:

[code]

and starting with Ruby 2.2 globbing does not s

[2016-06-09 08:25] matthewd commented on #25117
Fixed by #25240

[2016-06-09 08:25] #25117 closed

[2016-06-09 09:18] andela-oakinniranye commented on #25303
I don't know, but the problem could also be related to a reference to `/Users/matheus/Documents/Código/Bemind/apiservice/test/fixtures/sers.yml` rather than `test/fixtures/users.yml`

**sers.yml vs users.yml?

[2016-06-09 12:09] machty commented on #25117
Woo hoo, can confirm: no more deadlocks!

[2016-06-09 12:30] marcelokanzaki commented on #25326
Sorry. Didn't know about the mailing list.

[2016-06-09 13:42] itay-grudev commented on #20266
Hey Guys,
I have the same issue. Two identical requests (apart from the authenticity token), both are POST and both have the same headers (I compared the raw version dumped in Firefox) and both have the `_method` set to `patch`, but one of them is always recognized as `POST`. IDK how to debug the issue further. Would it help to use an HTTP proxy and dump raw HTTP requests for comparison?

[2016-06-09 14:19] blshkv opened #25336 "activesupport-4.2.6/lib/active_support/dependencies.rb:274:in `require': cannot load such file -- sawyer (LoadError)"
The original issue was reported at https://github.com/pentoo/pentoo-overlay/issues/100

I've uninstalled gentoo packages and run bundle install, but it didn't help:
[code]
### System configuration
**Rails version**:
**Ruby version**:
dev-lang/ruby-2.0.0_p648
dev-lang/ruby-2.1.10

[2016-06-09 16:51] peterwake commented on #21948
We had this problem and the suggestion made by @zetter:
`config.action_dispatch.default_headers.merge!('Cache-Control' => 'no-store, no-cache')`
 made by @zetter changes iPhone Safari behaviour.

[2016-06-09 16:57] connorshea commented on #24949
Should a warning be included in the Release Notes? That's the best solution I see here.

I agree with the above, if the user is relying on the `render` method to sanitize input, where there's no indication that it would sanitize things, that's their own fault.

[2016-06-09 17:16] fxn commented on #25303
To remove the shell from the equation I have created this C program that creates a file called "À" using the precomposed code point, and then prints the bytes returned by `readdir()` for that file. Yeah, they come up decomposed.

[code]

Output:

[code]

It could still be the case that the C library does something, but I doubt it. My bet is that Mac OS X normalizes the way the docs for HFS+ say, a

[2016-06-09 18:21] itay-grudev commented on #20266
[code]

[code]

[2016-06-09 18:37] itay-grudev commented on #20266
Here is a [Rails App](https://github.com/itay-grudev/rails_method_ignored/commits?author=itay-grudev) that reproduces the issue.

[2016-06-09 19:17] maclover7 commented on #25333
This is expected behavior per [here](https://github.com/rails/rails/blob/master/actioncable/lib/action_cable/channel/base.rb#L234-244), but not sure if we should change this. cc @jeremy

[2016-06-09 19:43] machty commented on #25333
Oh wow, I'm sorry for not giving this due diligence. The `defer_subscription_confirmation` API seems completely reasonable.

[2016-06-09 20:01] eliasjpr commented on #25303
@fxn will using `string.force_encoding(Encoding::UTF_8)` address the issue, Since as per documentation:

[2016-06-09 21:33] connorshea commented on #25208
ActionCable had cable.coffee replaced by cable.js for exactly this reason, I'd prefer that CoffeeScript was avoided as a dependency.

[2016-06-10 10:27] Sega100500 opened #25345 "jQuery 3 Released (please upgrade jquery-rails gem)"
https://github.com/rails/jquery-rails/issues/223

[2016-06-10 10:48] tachyons commented on #25336
Seems like issue is with [octokit](https://github.com/octokit/octokit.rb) , swayer is a dependency of octokit

[2016-06-10 11:00] nobu commented on #25303
It is https://bugs.ruby-lang.org/issues/7267 (ruby/ruby@1891b60f2 and its related commits).
The results of `Dir.glob` are in the encoding of the given pattern.

[2016-06-10 11:02] jnicklas commented on #17947
I realize that I'm a bit late to the party on this one. But I'd like to make an argument against this feature.

I would argue that file fields are fundamentally different than checkboxes and multi-selects, and that this change represents a very, very breaking change, which I believe has not really been considered. Let me explain.

When a checkbox appears on a page, I have the option of checking or

[2016-06-10 11:03] jnicklas commented on #17947
(and invoking "but it caused an error in production" is not a valid argument, it just means you didn't test it thoroughly enough)

[2016-06-10 11:35] starkshaw opened #25347 "Join table cannot update or destroy throw error of no primary key"
### Steps to reproduce

Have models as follow:

[code]
### Expected behavior

The join tables, `EventsUser`, `DealsUser`, `TeamUser` can be updated or deleted.
### Actual behavior

It can only be created, the update will throw

[code]

and destroy will throw

[code]

These following are my testing procedures in `rails c`.

[code]

`status` is an enum in model, and defined in migration as such:

[c

[2016-06-10 11:46] blshkv commented on #25336
Thank you for the hint. I found a problem with octokit, but it is a gentoo bug, reported here:
https://bugs.gentoo.org/show_bug.cgi?id=585518

[2016-06-10 11:46] #25336 closed

[2016-06-10 13:16] kaspth commented on #25345
Already tracked at the issue you linked. Thanks!

[2016-06-10 13:16] #25345 closed

[2016-06-10 13:34] maclover7 commented on #25347
cc @sgrif

[2016-06-10 14:07] machty commented on #24028
I was bit by this earlier today; I'm using the ActiveAdmin gem and noticed that if I made a change to my ruby code and reloaded the page, there was about a 50% chance that some JS/CSS would take some multiple of 20s to load. I took a stacktrace of the deadlock [here](https://gist.github.com/machty/bc40406167f11b73763dff77e995aa54). It definitely seems to be an issue with interlock deadlock.

Like

[2016-06-10 16:49] aprescott opened #25353 "Calling model.valid? will unexpectedly freeze strings as a side-effect"
In Rails 5.0.0.rc1 (and earlier, although I don't know how far back it goes), assigning a string as the value of an attribute can lead to that string being indirectly frozen after calling `valid?`.

This can cause unexpected behavior. I'll give a specific example of how it causes a bug with shoulda-matchers and Rails' own Postgres adapter's handling of `:money` types, but there are no doubt simila

[2016-06-10 17:12] aprescott commented on #25353
My original description included a misleading link to a commit that appears to actually be unrelated. I've removed it.

[2016-06-10 18:05] alextaylor000 opened #25354 "Time values not being typecast for `where` and `find` queries on a date field"
I noticed this issue when I was getting inconsistent behaviour from passing `find_or_create` a Time object as the value for a query against a date field. `create` type-casts this value before saving, but it seems `find` and `where` do not.

The problem can obviously be fixed by calling `#to_date` on the Time object beforehand, or using a Date object in the first place, but I believe the type-casti

[2016-06-10 19:28] zlobz commented on #25353
#24185

[2016-06-10 19:33] maclover7 commented on #25353
Closing as a duplicate of #24185.

[2016-06-10 19:33] #25353 closed

[2016-06-10 19:37] aprescott commented on #25353
@maclover7 since this is being closed, are you suggesting that the responsibility for fixing my broken use case rests with the shoulda-matchers maintainers? More generally, is it part of the contract of Active{Record,Model} that strings are frozen after calling `valid?`, and that to reliably work around this sort of case, you must, say, copy strings given as model attributes?

[2016-06-10 19:39] fxn commented on #25303
@nobu Thanks! I see some messages in the thread do not fully understand normalization (or lack thereof, you know strings may technically mix composed and decomposed characters).

So the contract is that `Dir.glob` is going to return a UTF-8 string, but normalization may differ from the one in the original string. I'll see if we can address via APIs, because I guess this particular code is going to

[2016-06-10 19:52] zlobz commented on #25353
@aprescott you can use my patch (#24185)

[2016-06-10 19:58] aprescott commented on #24185
I share @matthewd's confusion. If "keeping a strong reference [...] violates the ownership contract", then why is that an argument for _freezing strings AR doesn't own_?

I described a scenario in #25353 (closed as a duplicate of this issue) where a simple unit test breaks because of interplay between shoulda-matchers and Active Record's own Postgres adapter. shoulda-matchers assumes that a string

[2016-06-10 20:03] aprescott commented on #25353
@zlobz if something's going to be patched, I think it'd be better to patch shoulda-matchers in this case, to duplicate the string. Unfortunately, thoughtbot/shoulda-matchers appears to be currently without a maintainer, so actually getting that fix included in a release might take a long time. That's assuming they'd accept the change.

I strongly disagree that this isn't a bug, though.

[2016-06-10 20:04] pChaAnthony commented on #21948
I am new to rails, learning by Michael Hartl's RoR Tutorial, I have the similar issue, got 422 when try to login with CSRF error at iPad 9.3.2 Safari, iPad Firefox, iPhone 9.1 Safari, but, running good at Windows 8.1 Chrome, Mac 10.11.5 Safari and Chrome.  adding one of these

didn't fix this issue.

[2016-06-10 20:20] zlobz commented on #25353
@aprescott +1
It's unsafe to use the same string object in multiple tests, because an application or Rails can modify the string object.

[2016-06-10 21:04] wordswords opened #25357 "Bug in ActionView's distance_of_time_in_words when included outside of rails"
### Steps to reproduce

Call DateHelper from outside rails like so:

--
require 'action_view'
include ActionView::Helpers::DateHelper
require 'date'

starttime = DateTime.new(2014, 6, 2,  6,  6,  6)
endtime = DateTime.new(2016, 6, 2,  6,  6,  6)
wordy_time = ActionView::Helpers::DateHelper.distance_of_time_in_words(starttime, endtime)

### Expected behavior
It should return '2 years' as per http:/

[2016-06-10 22:16] 3den opened #25358 "[BUG] store_accessor attributes do not work with the new Attributes API"
### Steps to reproduce
[code]
### Expected behavior
The new attributes should work with the properly with `store_accessor`, e.g.

[code]

### Actual behavior

[code]
### System configuration
**Rails version**: "5.0.0.beta3"
**Ruby version**: 2.3.1

[2016-06-10 22:40] Undo1 commented on #24908
Throwing my two cents in on this: It'd really be nice to have the *ability* to reconfigure this (or turn it off completely!). I'm running a single always-on service in Python (using the `websocket` lib) that is talking to my Rails app. They should have a very stable connection anyway, and I know this ahead of time.

[2016-06-10 22:55] paulmenzel opened #25359 "[Action Mailer] Allow setting domain part of `Message-ID`"
Currently, the header field `Message-ID` is generated without control.

[code]

The blog post [Tips & Tricks: Avoiding Gmail spam filtering when using Ruby on Rails](http://blog.mailgun.com/tips-tricks-avoiding-gmail-spam-filtering-when-using-ruby-on-rails-action-mailer/) cites [RFC 2822](https://tools.ietf.org/html/rfc2822#section-3.6.4) claiming that the format should be `<[uid][sendingdomain.co

[2016-06-11 00:17] maclover7 commented on #25359
To me, this seems like a feature request. Normally we ask contributors to present these to Rails' community mailing list, where a wider group of people will be able to help you. We reserve the issues tracker for issues only.

[2016-06-11 01:04] maclover7 commented on #25358
Hmm, I think the reason why there's no type coercion/validation/whatever here is because `version=` goes through a special pipeline in `store_accessor`, and is literally just added to the `data` hash [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/store.rb#L150). Not sure if there is a simple way to invoke the whole attributes API here, but could be something worth

[2016-06-11 02:15] sgrif commented on #25358
Yeah, this isn't intended to work.

[2016-06-11 02:15] #25358 closed

[2016-06-11 02:19] 3den commented on #25358
@sgrif so what is the solution in this case?

[2016-06-11 12:10] vovimayhem commented on #24990
Ain't running more than one thread/instance something undesireable for a development flow? What's your use case for running 2+ puma workers on development?

Debugging gets pretty difficult - There's a chance that the logs might mislead you, as something happening on one worker won't prevent another worker to process another request... I've seen it happen pretty regularly on a project I'm stuck wit

[2016-06-11 13:38] amingRo commented on #25269
ignore this

[2016-06-11 13:43] amingRo commented on #25359
ignore this
- [ ] ignore this please

[2016-06-11 13:57] jasnow commented on #25269
@amingRo - Please explain. Currently have a failed test because of the https://github.com/rails/rails/commit/6d4ac2726f56c33677867178e2e01e5237df780a change. Thanks.

[2016-06-11 14:03] nobu commented on #25303
`File.expand_path` is an oversight.
Thank you for the heads up.
I'll fix it.

[2016-06-11 15:08] fxn commented on #25303
Awesome, all squared then, appreciate the ihelp @nobu.

[2016-06-11 15:36] amingRo commented on #25269
oh i am sorry brother,i am a JavaScript coder,learn github now,so i say that.delete the issue what i say is right.i am so sorry about that.

[2016-06-11 16:01] paulmenzel commented on #25359
@maclover7, sorry about that. I’ll try to find time to bring this up on the mailing list, as subscribing without a Google account is always a pain with lists hosted at Google Groups.

[2016-06-11 17:33] maclover7 commented on #25359
👍 cool. Closing this as a "feature request" issue.

[2016-06-11 17:33] #25359 closed

[2016-06-12 02:14] sgrif commented on #25358
There is no solution. Typed store accessors are not a feature we support.

On Fri, Jun 10, 2016, 10:20 PM Marcelo Eden <notifications@github.com>
wrote:

[2016-06-12 12:51] joecridge opened #25373 "has_secure_password doesn’t always validate presence of password"
### Steps to reproduce

Create a record for a model that `has_secure_password` with a password that is `blank?` but is not `nil?` or `empty?`:

[code]

### Expected behavior

`has_secure_password` should validate that password is `present?` upon creation ([ref](https://github.com/rails/rails/blob/52ce6ece8c8f74064bb64e0a0b1ddd83092718e1/activemodel/lib/active_model/secure_password.rb#L20)):

[code

[2016-06-12 13:15] frodsan commented on #25373
Looks like password with only spaces is supported. See https://github.com/rails/rails/pull/16412.

You could add your own validation:

[code]

[2016-06-12 14:09] fxn commented on #25303
I have moved forward debugging this, but have not yet founded the ultimate culprit of this issue. Let me share with you all what I have found in case it rings a bell to someone.

Setup: We are going to use the accented letter "À" ("A" with a grave acent) as a directory name in Mac OS X, which may be encoded in two ways in UTF-8:

[code]

As we have seen above it does not matter if the creation of

[2016-06-12 14:11] maclover7 commented on #25373
👍 Agree with @frodsan -- this is the expected behavior. You'd have to add additional validations in your own model (such as the posted above, for example), to fit your application's requirements.

[2016-06-12 15:03] joecridge commented on #25373
@frodsan Whoops, I didn’t find #16412 in my search. Okay, the documentation is a bit confusing though because ‘must be present’ in the rest of Rails means ‘responds `true` to `present?`’ rather than ‘responds `false` to `nil?` and `empty?`’. Also, the default error message for this is ‘can’t be blank’ which implies that it can’t be `blank?`, but it can be.

I think that the you’d need to do someth

[2016-06-12 15:39] frodsan commented on #25373
@joecridge yes, you're right. It's not as simple as adding the validation back. I also get two messages:

[code]

[2016-06-12 16:40] hmspider commented on #24953
@danielrhodes, an obvious need IMHO is for server to check whether it should accept the subscription at all. Think channel reserved for some user profiles only.
So far there seems to have been a focus on user-unique channels, even in example code, but the  publish in pubsub is actually a broadcast concept.

[2016-06-12 19:13] danielrhodes commented on #24953
Yes agreed. There should be a mechanism to reject a channel subscription.

Personally I don't think a subscription ought to be required to interact with a channel. It would be better if you could send a message to a channel without a subscription and only if you want to receive broadcasts should it be necessary to subscribe.

[2016-06-12 21:18] fxn commented on #25303
I think I have removed Rake from the equation.

I traced the execution, and the only thing that caught my attention was that Rake loads the Rakefile by calling `Kernel#load` on the result of a `File.expand_path` call, which in 2.3 still returns the decomposed variant, and somehow that affects what is stored in the backtrace metadata.

So, this is a minimal way to reproduce that does not use Rake.

[2016-06-12 21:38] fxn commented on #25303
I have edited the minimal example to better reflect the actual situation by using three files. That way we get the decomposed character in a file name that is different from the one generated by the `expand_path` call (which is what happens in this issue, since loading the Rakefile is way above the call stack).

[2016-06-12 23:35] andela-oakinniranye commented on #25325
My bad. Using the `include` method makes the included `Module` a `super_class`. However, I'm wondering if this is desired method in Rails? As I could see some inconsistencies when a dev tries to `Date.current.next_day(20)` which would work, but `Time.current.next_day(20)` doesn't work. Also seeing all of this, does it still make sense going the approach of `Date.current.next_day(:tuesday)` as I th

[2016-06-13 00:46] nobu commented on #25303
`load` and `require` call `File.expand_path` internally.
You can see it by `__FILE__` in bar.rb.

[2016-06-13 02:23] yogibear54 opened #25376 "Getting Started Guide: Difference between Ruby versions"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))
Section 5.2 has this line of code:
`<%= form_for :article, url: articles_path do |f| %>`

### Expected behavior
Tell us what should happen
The page should load normally.  In source code, the form should be updated to look like t

[2016-06-13 02:26] rafaelfranca commented on #25376
Thank you for the report.

Looks like you are running your code with Ruby 1.8. There is no way that Ruby 2.2 or even any ruby version greater than 1.9 not accepting the `url: articles_path` form. Make sure you are running with the correct ruby version.

[2016-06-13 02:26] #25376 closed

[2016-06-13 03:34] yogibear54 commented on #25376
Thanks for your answer.

This machine is an clean install of Ruby, so it should be the latest version.  Although, after doing some more search, I understand what you mean.  But still strange that I got that error.  I used "ruby -v" to look at my Ruby version, is there other method to discover what exactly i'm running?

[2016-06-13 03:35] prathamesh-sonpatki opened #25377 "Update Active Job guide with ApplicationJob instead of ActiveJob::Base"
ActiveJob jobs will inherit `ApplicationJob` in Rails 5 rather than `ActiveJob::Base` after https://github.com/rails/rails/pull/19034

We need to update http://guides.rubyonrails.org/active_job_basics.html with this change.

Tagging as it `good-first-patch` :heart:

[2016-06-13 04:09] georgeclaghorn commented on #25376
Could you have had a typo in your code? Looking at the snippet in the error provided:

[code]

If that matches the code you had, `:url articles_path` should be `url: articles_path`.

[2016-06-13 04:19] prathamesh-sonpatki commented on #25377
Closed by https://github.com/rails/rails/pull/25378

[2016-06-13 04:23] #25377 closed

[2016-06-13 06:20] paneer-tikka opened #25379 "ActiveSupport looks for application_records table when there is no such table"
### Steps to reproduce
* Clone git@github.com:paneer-tikka/rails5bug.git
* Follow [README](https://github.com/paneer-tikka/rails5bug/blob/master/README.md)

### Expected behavior
rails db:seed should succeed without having to specify self.table_name on the model.

### Actual behavior
db:seed goes looking for a table application_records which doesn't exist and then crashes.

### System configuratio

[2016-06-13 06:44] prathamesh-sonpatki commented on #25379
This issue is related to https://github.com/lowjoel/activerecord-userstamp and not Rails. I verified that once this gem is commented then everything works as expected.

Seems to be something similar to https://github.com/lowjoel/activerecord-userstamp/issues/7.

Thanks for the report! I am closing it as it is not related to Rails.

[2016-06-13 06:44] #25379 closed

[2016-06-13 07:25] fxn commented on #25303
@nobu But the behaviour we see indicates that the normalization used in one `load` call somehow persists internally and it is used to store subsequent locations. Indeed, if we run *bar.rb* directly, we get the expected composed variant for *baz.rb*:

[code]

To illustrate my hypothesis, I have prepared [this gist](https://gist.github.com/fxn/9e43cb7abc3bfdb7718d06f72389cbf9). There we have files *

[2016-06-13 07:35] paneer-tikka commented on #25379
Thanks... will look into patching activerecord-userstamp.

[2016-06-13 09:50] tomekw opened #25381 "ActionCable: Unable to find subscription with identifier..."
Rails 5.0.0.rc1
Ruby 2.3.1 MRI + Puma

I've only one channel `ApiChannel`, the client (iOS app) connects to the back-end, receives the subscription confirmation and immediately sends a command. Sometimes the client is greeted with `RuntimeError` exception:
https://github.com/rails/rails/blob/a8df1bc345bf062e98bda64ef9638f65292c4b56/actioncable/lib/action_cable/connection/subscriptions.rb#L70

I've

[2016-06-13 11:05] waghanza opened #25382 "json fields in AR 5 ?"
Hello,

I'm using **rails** `5.0.0.rc1` with **ruby** `2.2.5p319`.

I have created a `json`  in my database

[code]

My migation is :ok:  but when I'm trying to display my field (e.g : `User.first.relations`), I have :
[code]

When I rename my field in `singular`, I can display my field (e.g : `User.first.relation`).

Regards,

[2016-06-13 11:45] tejasbubane commented on #25382
I could not reproduce the issue using this snippet:

(You will need to have `test` database created in `pg` before you run this)

[code]

Is there anything in you model that might be messing up with the method? Your stack-trace says it is searching for a relation.

[2016-06-13 12:11] waghanza commented on #25382
**probably**

I thing it messed, cause model is name user

[2016-06-13 13:08] sgrif commented on #25382
This looks like a bug in your application, not Rails. We reserve the issues tracker only for bugs in Rails itself. For general help, please ask on the mailing list or Stack Overflow where the greater community will be available to assist you.

[2016-06-13 13:08] #25382 closed

[2016-06-13 13:36] maclover7 commented on #25381
Hmm, are you verifying that the subscription confirmation is received before you are sending any commands? Also, is there any reliable way to reproduce this? 😬

[2016-06-13 13:48] tomekw commented on #25381
@maclover7 the client sends command **immediately** after receiving `{"identifier"=>"{\"channel\":\"ApiChannell\"}", "type"=>"confirm_subscription"}` payload.

Also, the back-end propagates client status updated in `subscribed` callback to other connected clients (sort of home-made presence feature).

Reliable way? Hard to tell right now, looks like some kind of race condition... Maybe I would be

[2016-06-13 13:56] maclover7 commented on #25381
Yep, seems like a race condition to me as well 😞😬

[2016-06-13 14:12] prathamesh-sonpatki commented on #25357
Looking into this. Confirmed that this fails on master too.

[2016-06-13 14:23] mnort9 opened #25383 "Alternative sql for distinct.count query performs much better"
Activerecord `distinct.count` performs very poorly on large tables. An alternative sql query performs significantly better (50x).

I'm no sql expert, but is there any reason for not using the below sql for the underlying 'distinct.count` query?

### Steps to reproduce

[code]

### Expected behavior
Performance of alternative distinct count sql:
[code]

### Actual behavior
Performance of AR distinc

[2016-06-13 14:44] eduardobarbiero opened #25385 "Could not find compatible versions for rack"
### Expected behavior
Gem rack works correctly, via inline installation, however when it is via Gemfile, or the dependence of the rails 5.0.0.rc1 , it says not find the gem.

### Actual behavior
Bundler could not find compatible versions for gem "rack":
  In Gemfile:
    rails (~> 5.0.0.rc1) was resolved to 5.0.0.rc1, which depends on
      actioncable (= 5.0.0.rc1) was resolved to 5.0.0.rc1, whic

[2016-06-13 14:45] sgrif commented on #25383
We don't accept feature requests via the issue tracker. Feel free to open a thread on the mailing list if you feel this needs further discussion, or submit a PR

[2016-06-13 14:45] #25383 closed

[2016-06-13 14:48] sgrif commented on #25383
This feature would be unlikely to be accepted though. It would require a lot of additional complexity for a fairly uncommon case, and you can already force this pretty easily with `Message.from(Message.select(:foo_id).distinct).count`

[2016-06-13 14:50] sgrif commented on #25385
Please make sure you're using the latest version of RubyGems and/or Bundler. This is not a bug in Rails.

[2016-06-13 14:50] #25385 closed

[2016-06-13 14:50] rafaelfranca commented on #25385
Thank you for the report. This is not a Rails issue. Seems like your application could not resolve the right rack version, so it is something in your Gemfile.

[2016-06-13 14:52] sgrif commented on #25373
Regardless of the workaround, this is not a bug in Rails. Passwords containing only whitespace are intended to be allowed by default, as there's no reason to reject them. For general help with validations, please move the discussion to the mailing list or stack overflow. The Rails issue tracker is intended for bugs only.

[2016-06-13 14:52] #25373 closed

[2016-06-13 14:55] mnort9 commented on #25383
Ok thanks, that works. I was unaware of the "activerecord" way of building the query

[2016-06-13 14:58] #25357 closed

[2016-06-13 15:00] schneems commented on #24263
We good here? Can we close this issue?

[2016-06-13 15:03] #24193 closed

[2016-06-13 15:04] rafaelfranca commented on #24263
I think so. I backported a commit to 4-2-stable that should take care of this.

[2016-06-13 15:04] #24263 closed

[2016-06-13 15:12] dreyks opened #25387 "ActiveRecord: HABTM resaves children even if autosave is false"
### Steps to reproduce
[code]
### Expected behavior
`Tag#save` should only be called once when a tag is created

### Actual behavior
`Tag#save` is called the second time with all the callbacks defined when `item.tags << tag` executes

### System configuration
**Rails version**: 5.0.0.rc1

**Ruby version**: 2.3.1

the reason for this behavior is d849f42b4ecf687ed5350f5a2402fb795aa33aac which switch

[2016-06-13 15:34] yahonda opened #25388 "has_and_belongs_to_many test gets ORA-01400 since primary key column "ID" not included in insert statement"
It has been reported to https://github.com/rsim/oracle-enhanced/issues/856 first.
By doing investigation and found it has been triggered by https://github.com/rails/rails/commit/2df891dc then opened a issue here.

### Steps to reproduce
[code]

### Expected behavior

This test should finish without any errors.
since it have been running fine with Rails 4.2.6 and Oracle enhanced adapter 1.6.7.

###

[2016-06-13 16:04] jbence commented on #25381
Is there perhaps a spelling issue here? I notice that it is called ```ApiChannel``` in the initial description, but the reported payload comment has an extra lower-case L on the end.

Looking at the code, there are conditions in the ```add``` method that would result in an empty ```subscriptions``` hash, with an error message going to the log. Checking for that error message might shed some light.

[2016-06-13 16:14] tomekw commented on #25381
@jbence I've made a typo in an issue description. Thanks! And no, there is no typo in the code.

Right now we've added some small sleep after subscription is confirmed and, as for now, the error didn't occur. Will post more findings tomorrow.

[2016-06-13 16:18] timleppard opened #25391 "Incorrect message when mapping integer with invalid limit to PostgreSQL type"
Use an invalid limit when creating or updating an integer column with postgres:

    add_column :foo, :bar, :integer, limit: 16

    StandardError: An error has occurred, this and all later migrations canceled:

    No integer type has byte size 16. Use a numeric with precision 0 instead.

This should be: 'Use a numeric with *scale* 0 instead'

[2016-06-13 17:03] #25391 closed

[2016-06-13 18:10] hmspider commented on #24953
That would be a publisher in pubsub parlance. Pubsub is highly assymetric, inasmuch subscribers themselves only receive broadcast messages. ActionCable doesn't distinguish those roles, though. You'd have to implement that behaviour server-side if need be.

@jeremy, I guess Promises could be a nice fit here. No buffering and flushing needed, error handling is builtin. Granted, Browser support is an

[2016-06-13 20:56] murdoch opened #25394 "Can't set session in controller test http requests"
### Steps to reproduce

I generated a new rails 5.0.0.rc1 app along with a home controller and a sessions controller:

[code]

Now the first thing I notice is that my auto generated test file inherits from ActionDispatch::IntegrationTest:

[code]

So lets try to write a test where we set the `user_id` session key so we can ensure that our logged in user is redirected to the root path when they vis

[2016-06-13 21:01] rafaelfranca commented on #25394
Yeah, the guide is incorrect. Integration tests doesn't allow you to set session.

[2016-06-13 21:04] prathamesh-sonpatki commented on #25394
I am working on testing guide for 5.0 compatibility and will have update in next 2 3 days.

[2016-06-13 22:31] murdoch commented on #25394
So are we discouraged from setting the session in controller tests now that they inherit from ActionDispatch::IntegrationTest?

[2016-06-13 22:32] rafaelfranca commented on #25394
Yes.

[2016-06-13 22:35] murdoch commented on #25394
Ah, I see from [here](http://blog.bigbinary.com/2016/04/19/changes-to-test-controllers-in-rails-5.html) that ActionController::TestCase is to be deprecated for Rails 5.1.

Cool, I'll read up on it. Thanks.

[2016-06-14 12:03] murb opened #25398 "locale initializer is missing in rails 5(?)"
### Steps to reproduce

In previous versions of rails there was an by default commented line in `config/application.rb` that made it very clear how the default English locale setting could be overridden for any app:

    # config.i18n.default_locale = :de

The new `application.rb` in config reads that "application configuration should go into files in config/initializers". But nothing in the bare

[2016-06-14 13:47] maclover7 commented on #25398
Hmm, thoughts @dhh? This is a "breaking change" in 5.0. You removed these commented out configuration options @ 28dcadc0140dfdebe87d5e691fd709c0a9ae0bae 😬

[2016-06-14 13:58] dhh commented on #25398
I don't consider removing comments to be a "breaking change". We should solve this in a guide on internationalization instead.

[2016-06-14 13:58] #25398 closed

[2016-06-14 13:59] dhh commented on #25398
Actually, seems like we already have a section covering this: http://guides.rubyonrails.org/i18n.html#optional-custom-i18n-configuration-setup

[2016-06-14 14:00] dhh commented on #25398
We just need to cleanup the documentation around that which talks about the stuff in application.rb.

[2016-06-14 15:52] villins opened #25400 "why the class of model's datetime field is Time class, not ActiveSupport::TimeWithZone < Object when use ActiveRecord in sinatra?"
why the class of model's datetime field is Time class, not ActiveSupport::TimeWithZone < Object when use ActiveRecord in sinatra?

[code]
Wheather this is ActiveRecord's default, and there is a configuration where ActiveSupport::TimeWithZone is automatically returned instead of Time?

thx.

[2016-06-14 18:32] kenn commented on #20679
I've come up with a robust monkey patch that fixes this issue.

[code]

Now `foreign_key` is inferred from association reflection.

[code]

Related issues #13775 and #18109 but it's not quite the same - when I join, it's highly likely to do `joins(:user).merge(User.some.scope)`, and I don't want to wrap it with the `User.unscoped { }` block, which is confusing AND unnecessarily broad (no finer con

[2016-06-14 19:41] murb commented on #25398
Hmm... I change the default for nearly every project I start... (mostly targeting a Dutch audience), but I guess that's just n=1.

[2016-06-14 21:29] pjscopeland opened #25403 "Slight error in guide"
On http://edgeguides.rubyonrails.org/active_record_postgresql.html#database-views is this example:

[code]

I'm pretty sure the `count`s at the end are the wrong way round.

[2016-06-15 02:39] stevecj commented on #18950
I know this is a closed issue and I pretty much agree with not asserting assignments, but I'm not making sense of the logic of not being able to assert the template.

I use Integration tests or Feature specs to test end-to-end, and then I want to be able to test alternative paths against the controller itself. I should not need to have my tests know about the HTML rendered by a template just to fi

[2016-06-15 03:30] 1989medium commented on #23386
@dhh Hi
how to test omniauth "should get new" do ? and "create"...
`  helper_method :authenticate_user!

[2016-06-15 08:18] VitaliyKovtun commented on #22908
same trouble here
Completed 201
Unable to process MessagesChannel#receive({"body"=>"s"})

[2016-06-15 13:34] maclover7 commented on #25403
Can you submit a PR to continue the discussion on this?

cc @senny

[2016-06-15 13:41] senny commented on #25403
@pjscopeland good catch. Yes looks very much like it. Do you want to make the change and submit a PR? If not let me know and I can fix it directly.

[2016-06-15 13:42] maclover7 commented on #25400
I *think* this is expected behavior, does anything in the docs say otherwise? 😬

cc @sgrif

[2016-06-15 13:44] maclover7 commented on #25387
This is documented, expected behavior, I don't think there's anything wrong here 😬

cc @sgrif

[2016-06-15 13:58] dreyks commented on #25387
I understand. But imagine the situation: a `Tag` has a `updated_at` field. It will be updated each time any user will add this tag to any `Item`

[2016-06-15 16:06] sgrif commented on #25400
This is the expected behavior.

[2016-06-15 16:06] #25400 closed

[2016-06-15 16:08] sgrif commented on #25387
Yes, this is the expected behavior. Unfortunately there is no way to turn this off. I'm in the process of reevaluating a lot of the related code so this may improve in 5.1. Either way, we don't do feature requests on the issue tracker.

[2016-06-15 16:08] #25387 closed

[2016-06-15 18:25] Friend-LGA opened #25405 "Validates uniqueness with case_sensitive: false"
* ```Mac OS X El Capitan```
* ```Ruby 2.3.1```
* ```Rails 5.0.0.rc1```
* ```pg 0.18.4``` or ```pg 0.19.pre```

I have model ```IpAddress```
[code]
When I try to update some ip_address object, it validates value for uniqueness with sql query:

[code]
But why it use LOWER function? case_sensitive is set to false, and this function is not needed to be used here.

[2016-06-15 20:43] michaeldever opened #25406 "Actioncable Allowed Request Origins Ignores -p flag in 5.0.0.rc1"
### Steps to reproduce

Create a new rails project with an actioncable channel.

[code]

Setup channel coffeescript as follows:

[code]

Set up channel object as follows:

[code]

Create an example controller:

[code]

Starting the server with `rails s` and navigating to `http://localhost:3000/example` results in `connected` being printed in the javascript console.

Starting the server with `rails

[2016-06-15 20:56] maclover7 commented on #25406
This is expected behavior -- `localhost:3000` is set as `config.action_cable.allowed_request_origins` in development mode --> https://github.com/rails/rails/blob/master/actioncable/lib/action_cable/engine.rb#L25

[2016-06-15 21:01] #25403 closed

[2016-06-15 21:06] rafaelfranca commented on #25405
Because to be not case sensitve active record have to make both size of the comparation have the same case otherwise the comparation will be case sensitive.

[2016-06-15 21:06] #25405 closed

[2016-06-15 21:19] prathamesh-sonpatki commented on #25406
We can set https://github.com/rails/rails/blob/61a7239e405982e78de15bd86583514248e6f525/actioncable/lib/action_cable/engine.rb#L25 in the generated `development.rb` instead of action cable railtie and add a comment for users so that they can change it as per their needs.

production.rb already has such comment - https://github.com/rails/rails/blob/61a7239e405982e78de15bd86583514248e6f525/railties/

[2016-06-15 21:20] jeremy commented on #25406
Thanks @michaeldever. Could you open a PR with your suggested resolution?

[2016-06-15 21:39] maclover7 commented on #25406
👍 for changing this behavior

[2016-06-15 21:59] Veske opened #25410 "Cannot find certain keys in errors - Rails 5.0.0.rc1"
### Steps to reproduce

Make a model with length validations. For instance: `validates :name, length: { in: 2..25 }`
Test against this model either in a test or console by inserting a too long name that is over 25 characters
Call `.errors.added?(:name, :too_long)` method on the validated object

### Expected behavior
The method should return `true`

### Actual behavior
It returns `false`

### Syst

[2016-06-15 22:00] rafaelfranca commented on #25410
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-06-15 22:27] Veske commented on #25410
This template does not seem to work with postgresql? Or am I doing something wrong

[2016-06-15 22:35] michaeldever commented on #25406
Will do, won't get a chance until tomorrow evening after work. What's the best way to resolve this... An actioncable initializer like I have used to resolve already, based on ENV variables or an addition to the existing development.rb file?

[2016-06-15 22:51] michaeldever commented on #25406
`rails s` sets the PORT environment variable if -p is set, so both approaches should work just fine using this.

[2016-06-16 01:53] saurabh-g commented on #23834
My 2c: Microsecond precision was added in MySQL 5.6.4 onwards. The SQL default precision for `DATETIME` is 6. But MySQL default precision for `DATETIME` is 0 to make it backwards compatible. So the behavior of the adapter makes sense.

[2016-06-16 02:33] villins commented on #25400
@sgrif Can I make it like Rails ActiveSupport::TimeWithZone back in Sinatra?  Docs?

[2016-06-16 04:33] callancarr opened #25412 "Can't close websocket connection"
I can't seem to find any documentation on how to close a websocket connection from the client side.

I really need help with this, if anyone can help me it'd be greatly appriciated.

This is my client side code:

    # Run if we're in a room: controller_id = "room show"
    if controller_id == "rooms_show"

      # Define the room
      App.room = App.cable.subscriptions.create { channel: "RoomCha

[2016-06-16 04:45] vipulnsward commented on #25412
@callancarr I believe you are looking for https://github.com/vipulnsward/rails/blob/cbd15da0274316bae64caae54880fee87853f480/actioncable/app/assets/javascripts/action_cable/consumer.coffee#L22-L22 ?

[2016-06-16 06:01] callancarr commented on #25412
@vipulnsward I think I may have worded my question wrongly.

I am trying to unsubscribe from all channels.

Essentially I have multiple Action Cable channels in chat rooms. I wanted to do AJAX conversation switching rather than reloading the page to open a new chat. So basically i need a way to clean the cable (remove subscribers and reset the connection) each time I switch.

I couldn't find out h

[2016-06-16 06:21] Friend-LGA commented on #25405
Sorry, it's my stupid fault

[2016-06-16 09:29] Veske commented on #25410
`begin
  require 'bundler/inline'
rescue LoadError => e
  $stderr.puts 'Bundler version 1.10 or later is required. Please update your Bundler'
  raise e
end

gemfile(true) do
  source 'https://rubygems.org'
  gem 'rails', '>= 5.0.0.rc1'
  gem 'sqlite3'
end

require 'active_record'
require 'minitest/autorun'
require 'logger'

# This connection will do for database-independent bug reports.
ActiveRec

[2016-06-16 10:59] tejasbubane commented on #25410
Works with the actual error message as string:

[code]

The docs have symbols: http://api.rubyonrails.org/classes/ActiveModel/Errors.html#method-i-added-3F

[2016-06-16 11:50] tejasbubane opened #25413 "ActiveModel::Errors#add not behaving as expected with symbol message"
Came across this when I was debugging #25410

### Steps to reproduce

Here is the reproduction script:

[code]

### Expected behavior
`post.errors[:name]` should be `["is too long (maximum is 5 characters)"]`

### Actual behavior
`post.errors[:name]` is `[{:one=>"is too long (maximum is 1 character)", :other=>"is too long (maximum is %{count} characters)"}]`

### System configuration
**Rails versi

[2016-06-16 12:07] tejasbubane commented on #25413
Same behaviour can be seen on master (`5.1.0.alpha` at `master@7980b31`)

[2016-06-16 12:44] morgoth commented on #25413
@tejasbubane It behaves in the same way on 4.2 - you need to specify `count` option, like:
`errors.add(:name, :too_long, count: 1)`
I think it was changed in https://github.com/rails/rails/commit/6604ce63e837efb4c4ddf9f42392e9b0440e3c7e

[2016-06-16 13:27] tejasbubane commented on #25413
@morgoth Ok. Works as expected with `post.errors.add(:name, :too_long, count: 5)`. Did not notice the `options` in [the doc](http://api.rubyonrails.org/classes/ActiveModel/Errors.html#method-i-add). Closing.

[2016-06-16 13:27] #25413 closed

[2016-06-16 14:07] maclover7 commented on #25410
Opened up #25415 to attempt to fix this 😬

[2016-06-16 14:22] morgoth commented on #25410
@maclover7 The problem here is that there should be passed all required options for generating proper message - in this case `erros.added?(:name, :too_long, count: 25)`

[2016-06-16 14:23] Envek commented on #15185
I'm suffering from it too. My use case is here: http://stackoverflow.com/questions/37720669/add-computable-column-to-multi-table-select-clause-with-eager-load

And I'd prefer to avoid separate queries (`preload` behavior) as Oracle have limitation of 1000 ids in single query and it's relatively easy to hit it when loading one-to-many associations where many side of relation have tens or hundreds r

[2016-06-16 14:55] z5h opened #25417 "merge clobbers query conditions (ActiveRecord::SpawnMethods)"
### Steps to reproduce
[code]

### Expected behavior
[code]
should yield
[code]

### Actual behavior
Returns
[code]

### System configuration
**Rails version**:
Rails 4.1.14.2

**Ruby version**:
ruby 2.1.2p95

[2016-06-16 14:59] jcrate opened #25418 "config.action_controller.include_all_helpers = false is not respected when set in initializer file"
### Steps to reproduce
Move the option
  `config.action_controller.include_all_helpers = false`
from application.rb to an initializer file.

### Expected behavior
All helpers should not be included for each request. http://api.rubyonrails.org/classes/ActionController/Helpers.html just mentions that the option needs to be set, but does not specify that it cannot be set in an initializer.

### Actua

[2016-06-16 15:12] rafaelfranca commented on #25418
This may happen if the Action Controller for same reason in your application is loaded before the initializers. This is a know limitation of defining options in initializers and depends in the application code. In general you should not load `ActionController::Base` before the initializers in applications.

I'm closing this since it is not a bug in Rails, but a limitation in the initialization pro

[2016-06-16 15:12] #25418 closed

[2016-06-16 15:30] rafaelfranca commented on #25417
Yes, this is the expected behavior. Merge overrides the same conditions to make possible to user override `default_scopes` for example. Like Hash#merge is you have the same condition only the last one will be used.

[2016-06-16 15:30] #25417 closed

[2016-06-16 19:11] maclover7 commented on #25412
@callancarr You'd have to loop through all of your subscriptions, and unsubscribe from them all that way.

[2016-06-16 19:37] michaeldever commented on #25406
I had a look at this, and it seems there is no easy/tidy way to get the port available at the point that `development.rb` is loaded, without resorting to something like [this](http://stackoverflow.com/a/13839413), which doesn't seem like the right way to do it to me. The same goes for setting it in the [action_cable.set_configs initializer](https://github.com/rails/rails/blob/61a7239e405982e78de15

[2016-06-16 19:37] iggant opened #25419 "sanitize helper doesn't work with custom styles in tag style"
sanitize  doesn't process tags style correctlly if it contain custom styles (for instance: all -webkit- prefix)

[code]
return

while
[code]
works fine

Ruby: 4.2.6

[2016-06-16 19:42] jeremy commented on #25406
Alternatively, could add support for wildcard port matches and use that in dev.

[2016-06-16 19:52] michaeldever commented on #25406
@jeremy Hah, I was just thinking that too, but I wanted to err on the side of being precise about what's allowed. That may be the best solution for now alright, I'll submit a PR in a little while.

[2016-06-16 20:05] rafaelfranca commented on #25419
The sanitization is made by Loofah. Could you please open this bug there https://github.com/flavorjones/loofah?

[2016-06-16 20:05] #25419 closed

[2016-06-17 00:07] #23818 closed

[2016-06-17 02:53] JadenTeng opened #25422 "ActionDispatch::Journey::Router#visualizer don't work for me"
env: `/Users/name/.rvm/gems/ruby-2.2.0@blog/gems/rails-4.2.6`

I want output the router DFA struct in my rails app.
So I add code in simple controller

[code]

But It give me:
[code]

How can I make the code work? Need require some gems?
Thank you very much.

[2016-06-17 02:55] rafaelfranca commented on #25422
This method is not part of the public API and we don't recommend users to use it.

This error is because you are missing the `dot` executable that is part of the graphviz package.

[2016-06-17 02:55] #25422 closed

[2016-06-17 03:15] JadenTeng commented on #25422
@rafaelfranca Thanks for your quickly reply.
But it's don't resolve my problem.

It's public method and may don't work. why don't just remove or fix it?

[2016-06-17 03:23] rafaelfranca commented on #25422
It is a public method to internal consumption of the framework developers. Yes, we can remove it, this is exactly why I don't recommend using it.