[2022-11-08 18:41] eileencodes opened #46446 "Unrevert https://github.com/rails/rails/pull/46444 before 7.1.0.alpha"
Making this an issue so I can add it to the milestones and don't forget. I intend to unrevert [this](https://github.com/rails/rails/pull/46444) before the end of the month but this issue is in case I forget.

[2022-11-09 00:26] #46445 closed

[2022-11-09 03:23] ngan commented on #45994
Thinking a bit more on this problem...

- We can add a `Thread::Monitor` to ruby stdlib, similar to [`Thread::Mutex`](https://ruby-doc.org/core-3.1.1/Thread/Mutex.html), that has threads as owner instead of fibers. We can have `LoadInterlockAwareMonitor` inherit from that and it would solve our problems.
- I think it'd also be interesting to see if we can remove this lock for non-system tests (ie

[2022-11-09 03:29] schneems commented on #46437
Makes sense. I think if someone wants to make a patch to show ALL the gems on the first error it would be good to have. Currently it only complains about one at a time.

Alternatively adding a conditional to check the version of ruby is >= 2.6 in the Gemfile.

[2022-11-09 10:56] svgr-slth commented on #46443
Yep, i do understand it's near impossible to help me here as it's most likely project dependent. I thought maybe that could ring a bell to anybody working on these pieces of code which could have an idea to help me identify who / what can cause such error.

Anyways thanks for the advice! I will definitely try that out and see if I can get this to work

[2022-11-09 13:10] mrbrdo commented on #26726
Hitting this bug with AR 6.1.7, **even when using** `inverse_of`. TouchLater is being used.

[2022-11-09 15:38] mak-dunkelziffer opened #46455 "Non-unique ids when preloading associations with includes or eager_load"
### Steps to reproduce
Compare the size of `#to_a` and `#ids` while loading associated records.

[code]

### Expected behavior
For each scope, I expect to get the same number of elements, whether I call `#to_a` or `#ids`. If I get repeats, I expect them to happen in both cases.

### Actual behavior
This assumption fails, as soon as I preload an association with `#includes` or `#eager_load`. When I

[2022-11-09 15:57] fatkodima commented on #46455
Agreed. For `eager_load`/etc It does a `JOIN`, so we have duplicates from there.
Imo it does not make much (if any) practical sense to have duplicates.
So, the simplest change is:
[code]

But there is a similar problem for something like `Post.all.includes(:comments).pluck(:title)`. I think, we should remove duplicates from there too.

@byroot Wdyt on this?

[2022-11-09 20:43] collimarco commented on #46436
If anyone lands here in the future, here's the solution that worked for us:

https://answers.abstractbrain.com/how-to-reduce-memory-usage-in-ruby/

[2022-11-09 22:02] cannikin commented on #26726
I still think about this issue from time to time...it's six years old now!

[2022-11-10 01:47] byroot commented on #46455
Ack. I’m away for a few days I’ll try to review this when I’m back.

[2022-11-10 04:02] peoplenamed commented on #44185
I had the same issue and fixed it by adding `= javascript_importmap_tags` under my `= javascript_include_tag` inside the application.html.erb file.

[2022-11-10 14:43] WillTaylor22 opened #46460 "No content-disposition=inline for blob perma-urls"
### Steps to reproduce

- Ensure inline allowed, i.e. in `environments/development.rb` set `config.active_storage.content_types_allowed_inline =
    %w(image/png)` and `config.active_storage.content_types_to_serve_as_binary -= ['image/png']`
- Add blob to S3
- Confirm no content disposition meta-data on blob in S3
- Run `app.rails_blob_url(blob)` or `app.rails_blob_url(blob, disposition: :inline)`

[2022-11-10 15:57] mrbrdo commented on #26726
@eileencodes could someone take a look?

[2022-11-10 16:04] KarmaasAdvocate-reboundheaux opened #46462 "SECURITY.md"
### Steps to reproduce

`HeySUPPORT.mdIssue and pull request templates and config.yml	Issue and pull request templates customize and standardize the information you'd like contributors to include when they open issues and pull requests in your repository. For more information, see "About issue and pull request  #templates`

[code]

### Expected behavior

### Actual behavior

### System configurati

[2022-11-10 16:05] KarmaasAdvocate-reboundheaux commented on #46432
config.ymlSECURITY.md	A SECURITY file gives instructions for how to report a security vulnerability in your project. For more information, see "Adding a security policy to your repository."

[2022-11-10 16:14] eileencodes commented on #26726
Please use the Discord to ask for help. We're all really busy and can't pick up random issues that don't have a modern reproduction.

[2022-11-10 16:31] mrbrdo commented on #26726
@eileencodes what do you mean they don't have a modern reproduction? I assume Minitest still exists?
Well, this issue was tagged and **assigned** 6 years ago but was not fixed. The author of the offending code was tagged but not responded.
I'm quite busy too, believe it or not.

[2022-11-10 16:46] llpereiras opened #46463 "Bug: travel_to with validates inside model"
### Steps to reproduce
Hey Guys, below steps to reproduce my problem.

[code]

[code]
## Expected behavior

Post record should be created with old dates using travel_to

### Actual behavior

Validates ignore stub of date with travel_to
Using the proc function happens error of wrong number of parameters

### System configuration
**Rails version**: 7.0.4

**Ruby version**: 3.1.2

[2022-11-10 18:32] miharekar opened #46465 "Active Storage with vips can't transform animated gifs"
I [wrote a comment in the original thread](https://github.com/rails/rails/issues/37833#issuecomment-1072542505) back in March, but since the issue got closed, I guess it went unnoticed.

There have been two more comments with the same issue, so I'm certain I'm not the only one with the problem.

I've just encountered it again in another project, so I'm now reopening the issue via a new issue 😅

##

[2022-11-10 19:18] ohsamarth commented on #46244
is there a fix for this issue for rails 5 yet?

[2022-11-10 19:52] fatkodima commented on #46463
Can you create a reproducible test script using the following template - https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_gem.rb?
It will be easier to us to debug the problem using it.

[2022-11-10 19:53] ohsamarth commented on #46244
I have raised a Pull request for this issue against rails5.2-stable as well. Please check #46467

[2022-11-10 20:18] Roald87 commented on #43976
After `sudo apt install imagemagick libvips`. I got

[code]

Then I did `sudo apt install libvips-tools` and now it finally works.

[2022-11-10 21:57] mattscilipoti opened #46470 "Rails hidden fields now fail W3C HTML Validation due to "autocomplete=off""
The W3C HTML Validator was updated on 2022/10/26, in https://github.com/validator/validator/pull/1458, to conform to https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#autofilling-form-controls:-the-autocomplete-attribute. The validator now identifies an issue with hidden fields, due to https://github.com/rails/rails/issues/42610.

### Steps to reproduce
Add a hidden field to

[2022-11-10 21:58] mattscilipoti commented on #46470
You can read more about the issue and HTML validator change here: https://stackoverflow.com/questions/74256523/rails-button-to-fails-with-w3c-validator

[2022-11-10 22:00] fatkodima commented on #46470
Duplicate of https://github.com/rails/rails/issues/46405 ?

[2022-11-10 22:08] skipkayhil commented on #46470
Yep, see the discussion over there for why this can't really be changed

[2022-11-10 22:08] #46470 closed

[2022-11-10 22:12] mattscilipoti commented on #46470
Sorry. You are correct. This is a duplicate. I searched for "hidden" or "autocomplete" and didn't find #46405

[2022-11-10 22:19] mrbrdo commented on #26726
@rafaelfranca sorry if I'm violating a protocol here but does the above unassignment mean this will be considered or was that just housekeeping? So I know if there is a point waiting for some progress or we need to implement a hack, as I don't think I can solve this one. Can wait weeks, maybe months, but not years.

[2022-11-10 23:27] ghiculescu commented on #46463
The issue is probably because all these dates...

[code]

get evaluated at "boot" time, and not at runtime. ie. they get evaluated before the `travel_to` line runs. In the context of a webserver, they'd get evaluated when the server starts, not a few days later when the request is processed.

You could use a proc instead to avoid the issue, then it would be evaluated at runtime. See the example in

[2022-11-11 01:22] skipkayhil commented on #28001
Fixed in #45185

[2022-11-11 01:22] #28001 closed

[2022-11-11 02:04] skipkayhil commented on #36628
Fixed in #45518

[2022-11-11 02:04] #36628 closed

[2022-11-11 14:31] llpereiras commented on #46463
@fatkodima I update my first comment and add the script to simulate my problem.
@ghiculescu Thanks for your suggestions, but I tried to use proc, and it not work as expected.

[2022-11-11 14:42] fatkodima commented on #46463
You have a mistake in a validation. It works in the latest changes from `main`, but for `7.0.4` you need an argument: `validates_comparison_of :birth_date, less_than_or_equal_to: ->(_) { Date.today }`.

With this change, tests are passing for me.

[2022-11-11 14:48] llpereiras commented on #46463
@fatkodima Many thanks now it's works.

[2022-11-11 14:48] #46463 closed

[2022-11-11 16:24] TheSynthMaster commented on #38492
Same issue here, it's supposed to be fixed or it's a lost cause? Should we abandon windows?

[2022-11-11 18:40] joshuapinter commented on #46154
Hi @MatElGran. Thanks again for looking into this and creating that sample repo to reproduce the issue.

I modified by setting  default class to the `serialize` column and the issue was reproduced. I created a PR to your sample project here:

https://github.com/MatElGran/nested_form_builder/pull/1.

With this change, inspecting the `fields_form.class` will yield the standard `ActionView::Helpers::

[2022-11-11 19:02] justinperkins opened #46475 "Auto-generated comments in locals/en.yml are not completely accurate"
### Steps to reproduce
Look at the auto-generated comments in locals/en.yml, specifically the following:

[code]

Example en.yml:
[code]
Results in:
[code]
Whereas this in en.yml:
[code]
Results in:
[code]

### Expected behavior
The documentation should state that both keys _& values_ must be escaped

### Actual behavior
The documentation only states that only those keys must be escaped, which lea

[2022-11-12 07:24] mohits commented on #38492
hi @headius - is this the problem?
https://notepad.onghu.com/2021/ruby-tricks-009-jruby-sassc-installation-error/

[2022-11-12 07:44] chadlwilson commented on #38492
FWIW I tried the approach in this blog which was initially very helpful, thanks! It was fine for Windows 10/11 but a pain to try to get to work for Windows Server (e.g for some kind of automated build/test in a container) and I eventually gave up.

The only practical approach I found (short of getting rid of sprockets completely) that works across JRuby+rails+sprockets was to move to https://githu

[2022-11-12 12:02] Ben-Nyaoro opened #46480 "Limiting Display"
How do I limit the display from rich text content. Say for example I want to display the first 80 characters of rich text content  In ruby for example you would do for example `@model.title.first(80)`. It does not work like this iwith rich text content.

### Steps to reproduce

[code]

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

[2022-11-12 21:57] #46359 closed

[2022-11-13 00:36] mohits commented on #38492
Thanks @caius
If you give me a bit of text and a link that I can point to, I will update the blog post to suggest that as a "better" method.

[2022-11-13 10:15] Tioneb12 opened #46491 "Failing to start up default rails server : uninitialized class variable @@schemes in URI (NameError)"
After upgrading to rails 7 and ruby 3, I get this error but not found how to fix it !

### Actual behavior
[code]
### System configuration
**Rails version**: 7.04

**Ruby version**: 3.1.2

[2022-11-13 13:40] #46491 closed

[2022-11-14 09:58] #46151 closed

[2022-11-14 10:49] dancristianb commented on #46480
@Ben-Nyaoro you should be able to use [#to_plain_text](https://github.com/rails/rails/blob/1f6202a1fe6cd976993c88a7e22afc165ba06c5f/actiontext/app/models/action_text/rich_text.rb#L21) then `first(80)` or `truncate(80)` something like `@model.title.to_plain_text.truncate(80)`

[2022-11-14 12:39] eileencodes commented on #46480
Hi @Ben-Nyaoro - btw, we reserve the Rails issues tracker for bugs in the framework. If you need help with exiting functionality you can use our discussion board https://discuss.rubyonrails.org/ or stackoverflow. Thanks for understanding.

[2022-11-14 12:39] #46480 closed

[2022-11-14 12:44] Ben-Nyaoro commented on #46480
@eileencodes thanks understood. @dancristianb Thank you very much it worked.

[2022-11-14 14:33] stereobooster commented on #28198
Very hacky approach https://github.com/activerecord-hackery/ransack/pull/1377/files#diff-e64d88952171f9321900495faeb1b53afcddcb90d028264a3918c956ef267a42L56-R73

[2022-11-14 14:50] yahonda opened #46499 "Mysql2TableOptionsTest#test_table_options_with_CHARSET fails with MariaDB 10.9.4"
### Steps to reproduce
Rails CI has been failing since https://buildkite.com/rails/rails/builds/90907#01846861-2421-4566-a6a8-6fbea34fbdce

The last successful one is https://buildkite.com/rails/rails/builds/90896#018463e7-c3e8-4652-97b7-d6d57339e155

I have managed to reproduce it locally as follows.

[code]

### Expected behavior
It should pass.

### Actual behavior
It always fails.

[code]

###

[2022-11-14 14:52] yahonda commented on #46499
It works fine using `mariadb:10.9.3`, while `mariadb:latest` runs MariaDB 10.9.4.

  RUBY_IMAGE=ruby:3.1 docker-compose -f .buildkite/docker-compose.yml build base &&
  CI=1 MYSQL_IMAGE=mariadb:10.9.3 docker-compose -f .buildkite/docker-compose.yml run mysqldb runner activerecord 'rake db:mysql:rebuild test:mysql2'
[code]

[2022-11-14 15:49] rajivraman opened #46500 "Improve Rails Upgrade Guide: "Key generator digest class changing to use SHA256""
### Steps to reproduce

After upgrading from Rails 6 to Rails 7, we unknowingly wiped out all our user sessions. This had a negative effect on our site since we rely on users having persistent sessions to make regular purchases. Longtime users were forced to login again and some abandoned their purchases.

We traced this to the fact that we had not implemented the cookie-rotator as described [here

[2022-11-14 17:25] #45791 closed

[2022-11-15 00:35] #46389 closed

[2022-11-15 03:11] hsearcy opened #46502 "ActiveRecord - changing store to store_accessor converts ActiveSupport::HashWithIndifferentAccess to string on json/jsonb field"
### Steps to reproduce
Run the below script, then change this line:

`store :properties, accessors: %i[title body], prefix: true, coder: YAML`

to

`store_accessor :properties, %i[title body], prefix: true`

and re-run the script.

[code]

### Expected behavior
The assertions should all pass, and the record should either maintain its data type (ActiveSupport::HashWithIndifferentAccess) or return a

[2022-11-15 08:38] #46393 closed

[2022-11-15 10:51] p8 commented on #46500
I think moving the cookie-rotator change higher up the list and changing the title to something like:
"Key generator digest class change requires a cookie rotator"
or maybe:
"Add cookie rotator for SHA256 key generator"
Do you want to create a PR?

[2022-11-15 10:58] p8 commented on #46465
@miharekar Thanks for reporting the issue.
I think this is more an issue with libvips than with Rails
https://github.com/libvips/ruby-vips/issues/344#issuecomment-1190044945

[2022-11-15 11:44] simi commented on #45560
:information_source: seems fixed https://github.com/rails/rails/releases/tag/v6.1.6

[2022-11-15 12:00] Rub1st opened #46504 "String#blank? doesn't catch specific list of empty unicode characters"
Hey, guys!

I found a rather interesting problem in the `blank?`, `present?`, `presence` for the String class. They don't check a specific list of empty unicode characters.

I want to expand `blank?` for the String class, adding a check for these unicode characters. I believe this will help a lot of people with presence checks, etc.

A list of empty unicode characters that are not checked with `bl

[2022-11-15 12:46] joshuay03 commented on #46455
Hello! @mak-dunkelziffer @fatkodima @byroot

I was looking for an issue to tackle and decided to get a PR up in case you wish to proceed with this change: https://github.com/rails/rails/pull/46503.

Rather than just grabbing the unique results I've amended the logic to only grab the IDs for the base model.
I think calling `ids` implies that just the ids for the base model will be grabbed, `pluck`

[2022-11-15 14:30] yahonda commented on #46499
I have confirmed this behavior change is due to https://jira.mariadb.org/browse/MDEV-29446

- mysql_table_options is created as follows

[code]

- MariaDB 10.9.4 shows `DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci`

[code]

- MySQL 8.0.31 shows `DEFAULT CHARSET=latin1`

[code]

I'm going to open a pull request to change this test for MariaDB.

[2022-11-15 14:58] bubbaspaarx opened #46506 "Rails controller not responding with '.to_json' of instances when testing (rspec)"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 3.0.3p157 (2021-11-24 revision 3fb7d2cadc) [x86_64-darwin21]
Rails version: Rails 6.1.7
RSpec version: RSpec 3.12

## Observed behaviour

I am not certain this is a direct rails or rspec error but when testing a controller action, we expect our response to be a full json object of the instance we are fetching. What we receiv

[2022-11-15 20:11] Earlopain opened #46507 "Disallow passing non-rewindable io to ActiveStorage::Blob.create_and_upload!"
### Steps to reproduce

Passing a Pathname to ActiveStorage::Blob.create_and_upload results in an infinite loop. The read method gets called on the io parameter when calculating the checksum, but since there is no pointer to advance it just keeps on reading from the beginning forever, fully utilizing a cpu core in the process.

It's kind of mentioned in the docs [here](https://github.com/rails/rai

[2022-11-15 22:36] hahmed commented on #46507
Hey there! Thanks for reporting this issue.

Usually rails does not validate arguments given. The expectation is pretty clear as per docs.

In AS, errors are raised if config is not found/invalid, invalid keys, missing service names etc. which makes a lot of sense, but I'm a little bit on the fence on this one though.

[2022-11-16 00:26] yahonda commented on #46499
@simi As mentioned in the Rails Discord contributions channel, please go ahead to open a pull request.

[2022-11-16 00:28] lilole commented on #34790
In case there are still poor souls on Rails 4.2 with Ruby 2.6/2.7, this is the full file working for my team, required from `rails_helper.rb`.

[code]

[2022-11-16 04:24] suupic commented on #44260
try this, worked for me
[code]

[2022-11-16 08:11] Earlopain commented on #46507
Perhaps the documentation can be expanded a bit? I don't think it's unreasonable to pass a Pathname here, even though the documentation mentions it isn't supported. My main issue I think was to only look at the individual function documentation, and not the class documentation as well. But even after reading that, it only clicked what was happening after investigating the actual AS code.

[2022-11-16 12:44] kalashnikovisme commented on #46504
I've tried it. The result is the same. Tested on Ruby

[code]

Will try to write failing test with it.

[2022-11-16 13:50] mrabets opened #46509 "[BUG] Active Record `only_integer: true` validation doesn't always work with `accepts_nested_attributes_for`"
### Steps to reproduce
**1. Create `Post` and `Comments` models with `has_many` association and `accepts_nested_attributes_for`**

`app/models/post.rb`
[code]
`app/models/comment.rb`
[code]

**2. Setup posts params for nested attributes in the controller**

`app/controllers/posts_controller.rb`
[code]

**3. Setup posts form**

`app/views/posts/_form.html.erb`
[code]

**4. Create a post with `likes

[2022-11-16 14:17] rajivraman commented on #46500
@p8 great ideas, I'll open a PR this week.

[2022-11-16 14:17] #46500 closed

[2022-11-16 15:05] kalashnikovisme commented on #46504
Made failing test in the my fork. You can find it here.

https://github.com/rails/rails/commit/d884bfd1ee6ea97630476a5f99077b86341835f7

When I finish updating `blank` and `present?` methods,  I will create a Pull Request with a full implementation.

[2022-11-16 23:45] #46499 closed

[2022-11-17 01:13] viraptor opened #46514 "TextHelper highlight does sanitisation incorrectly"
### Steps to reproduce
[code]

### Expected behavior
Sanitisation is done on each matched / not matched part of the string separately. This results in:
[code]

### Actual behavior
The whole string is sanitised before the highlighting which results in:
[code]

Instead of sanitising the whole string at once, `highlight` could do something like:

-    split the string into matching / not matching par

[2022-11-17 07:15] #45560 closed

[2022-11-17 07:52] cdan-youdo commented on #37389
This is most probably linked/same issue as #37270

[2022-11-17 08:07] cdan-youdo commented on #37389
My workaround was to wrap the code inside a
[code]

This way, any jobs that are enqueued inside the block, will be run automatically.

[2022-11-17 08:07] cdan-youdo commented on #37270
My workaround was to wrap the code inside a
[code]

This way, any jobs that are enqueued inside the block, will be run automatically.

[2022-11-17 08:56] MatElGran commented on #46154
Hi @joshuapinter, I've dug into this, learned loads of things, and in the end I think this is a shortcoming of `FormBuilder#fields_for` design, and that it only worked accidentally before 7.x.

The short explanation is that the `record_object` parameter you pass to `fields_for` gets misinterpreted as the `fields_options` parameter and it being a `HashWithIndifferentAccess` messes up builder instan

[2022-11-17 09:51] MatElGran commented on #45822
The test still fails on main

[code]

[2022-11-17 13:36] technicalpickles commented on #45994
@casperisfine would you be able to make that repo public?

[2022-11-17 13:37] casperisfine commented on #45994
🤦

It's public now.

[2022-11-17 13:41] technicalpickles commented on #45994
@casperisfine thanks! I haven't tried repdocuing yet but taking an initial look, the app is using sqlite3 not mysql. Does that change anything? We're using latest mysql2, 0.5.4

[2022-11-17 19:36] fatkodima commented on #46509
I was not able to reproduce it and the video link is broken.
Can you create a small rails app that reproduces an issue and share with us?

[2022-11-17 19:37] simi commented on #46509
@fatkodima :thinking: video works for me.

[2022-11-17 19:41] fatkodima commented on #46509
Ah, ok, thanks. I have an old Safari, works in Chrome.

[2022-11-17 22:33] davidchenfn commented on #37688
running into this issue now:

The line Rails.fire(this.form(), 'submit') is not working correctly in Firefox. The form isn’t being submitted, however this works in Chrome. It’s because in the Rails.fire options for the dispatchEvent method, cancellable option is set to true. For some reason, this causes the dispatchEvent to not work properly. Setting it to false fixes the issue, however it’s not i

[2022-11-17 22:58] brendon commented on #36607
Slightly related to this is the case where a custom attachment is added to the document that has neither a `caption` or a `filename`. This still results in a 'blank?` returning true for the rich text row.

In my case I'm validating the presence of this rich text field with a standard:

[code]

For now I guess I'll make a more complicated validator as I didn't realise `present?` checked the plain t

[2022-11-17 23:10] brendon commented on #36607
In followup, the solution was to add the following to the custom attachment's model:

[code]

In my case it was an in-memory class used to turn a YouTube ID into either a thumbnail (when editing) or the actual video `iframe` when viewing.

Hopefully that helps others. I'm not sure if it needs to be addressed in Rails proper, though by default custom attachments without a `caption` will not render

[2022-11-17 23:44] fatkodima commented on #46509
Ok, I identified a problem. The problem is really not in the `accepts_nested_attributes`, but in how Active Record identifies if the attribute changed or not.

To reproduce the issue (this is demonstrated in video also), create a Post with nested Comment with a valid `likes_count` value (for example, 5). Try to edit/update the record by changing its value's fractional part only (e.x., 5.2) and the

[2022-11-18 00:55] msakr21 commented on #13496
+1 Rails 5.2.6 and ruby 2.7.4 with postgreSQL

[2022-11-18 01:42] lazaronixon commented on #44594
This should be the correct representation, no ?

[code]

[2022-11-18 08:16] ngan commented on #45994
I've tested this noop-ing the lock (just like [how you did it](https://github.com/casperisfine/rails-test-app/blob/main/app/controllers/posts_controller.rb#L1-L5)) on Ruby 2.7.6 and Ruby 3.1.2. Both yield errors. Notably, not all the same system tests fail for each run. I'm also unable to reproduce the failure on CI locally. All of this makes me think that it's probably a timing issue.

Additional

[2022-11-18 08:24] casperisfine commented on #45994
I don't think so. I can't think of a legitimate reason to use the connection at the same time.

e.g. the scaffolded test:

[code]

When the test code do DB operations, puma is idle, and when puma does db operations, the test code is using the browser driver.

So I really don't see how concurrent db operations would happen.

To be honest it's really debatable wether your code should have worked in

[2022-11-18 08:28] ngan commented on #45994
This is true for simple cases. But I suspect we have JavaScript that runs and does stuff and eventually makes a request to Puma causing it to serve a subsequent request while the test code is running. This means both threads would be using the db, no?

[2022-11-18 08:31] casperisfine commented on #45994
Right, which makes me think that the lock should be much higher, e.g. in a rack middleware.

This way we'd acquire the lock to enter the system test, release it when we call helpers such as `visit`.

[2022-11-18 08:49] casperisfine commented on #45994
Ok, I managed to repro using JS requests: https://github.com/casperisfine/rails-test-app/commit/1afdc07c352cc1376e956f042c9d754b77711680

[2022-11-18 09:10] casperisfine commented on #45994
As I suspected, turning off transactional fixtures solves the issues:

[code]

I'm really tempted to just get rid of that shared connection hack, and just disable transactional fixtures for system tests. That would make them a bit slower, but probably not enough to matter in most cases?

More importantly it would make them much more close to reality.

[2022-11-18 12:01] Souravgoswami opened #46520 "NoMethodError: undefined method `content_type' for #<ActiveStorage::Attached::One:0x00007fddb690fe48>"
### Steps to reproduce

[code]

### Expected behavior
`content_type()` should return the string content_type or nil if the magic isn't present.

### Actual behavior
The `attached?()` method returns true regardless the blob is present or deleted from storage. In cases where the file is deleted, the attached?() returns true, but the blob is nil.

In my  case using `resume.blob&.content_type()`   fix

[2022-11-18 12:53] fatkodima commented on #46520
Rails 6.0 is not supported for bug fixes - https://guides.rubyonrails.org/maintenance_policy.html.

Can you verify the problem persists with the latest changes from rails `main` branch? If so, can you create a reproducible test script using the template - https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_storage_main.rb?

[2022-11-18 14:32] Ashley-King commented on #43441
@zahidalik thanks for this. I was able to use this method to make it work with vite and tailwind

[2022-11-18 14:33] Ashley-King commented on #43441
@zahidalik thank you for this! I was able to use your method to make it work with vite and tailwind

[2022-11-18 16:08] joshuapinter commented on #46154
Hey @MatElGran. First off, can I say that this is the most comprehensive response I have ever seen to an Issue, let alone an open-source one where you're not part of the core team. So well done and thank you! 🙏

It certainly would be nice to have this fixed or at the very least documented but I know that's asking a lot more from what you've already done so I'll let one of the core team members det

[2022-11-18 18:09] stanhu opened #46521 "ActiveRecord column_defaults should not memoize callable defaults"
### Steps to reproduce

This is somewhat related to https://github.com/rails/rails/issues/33031, which was fixed via https://github.com/rails/rails/pull/33925. Let's modify the test in that issue to this:

[code]

### Expected behavior

Since `uuid` should be generated dynamically, I'd expect each attempt to retrieve the default for the `uuid` column to change with each invocation.

### Actual beh

[2022-11-18 19:20] rafaelfranca commented on #26726
Just housekeeping. If this is an issue for you, please go ahead and submit a PR. This isn't an issue for our applications, so of course we are not going to prioritize it.

[2022-11-18 21:05] mrbrdo commented on #26726
After talking on Discord it seems like no one is willing to maintain the TouchLater functionality anymore. Since after 6 years no one has tackled this, it seems it's dead code.
As it provides no feature other than a performance boost, but instead breaks core Rails functionality, I suggest TouchLater is removed. Probably 99% of people are not using this or care about it anyway.
If you need it in yo

[2022-11-19 01:01] mrbrdo commented on #26726
@rafaelfranca regarding your questions from Discord:

Yes, it does fix it. (I added the method override in the base AR model of Spree, where _we_ are observing this issue)

In this case `:inverse_of` is provided to all the associations in question, but it did not fix the issue. Let me give an example where it does not work (from Spree):
[code]
After updating the Price, it will not touch the Varian

[2022-11-19 01:06] rafaelfranca commented on #26726
Thanks for confirming. How about with this fix:

[code]

[2022-11-19 01:34] mrbrdo commented on #26726
The above fix seems to work for Spree and as far as I understood it will be in Rails master next week. Great to hear 👍

[2022-11-19 02:21] jpgeek opened #46526 "String.pluralize ignores I18n.locale, I18n.default_locale"
### Steps to reproduce

[code]

### Expected behavior
When no locale is passed as a parameter to `pluralize()`, it should use I18n.locale.

### Actual behavior
It ignores I18n.locale and uses :en.

### System configuration
**Rails version**:7.04, 7.1.0.alpha

**Ruby version**:3.1.2

I am happy to send a pr after this is confirmed.

[2022-11-19 08:56] JewelSam opened #46527 "If `has_many` has foreign_key option and `belongs_to` isn't optional, nested attributes stops working"
### Steps to reproduce

[code]

### Expected behavior
It should work the same way as it works without `foreign_key` option: nested association should be saved without validation error that main association doesn't exist.

### Actual behavior
Saving returns a validation error (something like "Comments post must exist" where "post" is the main association, "comments" - nested association)

### Syste

[2022-11-19 09:07] JewelSam commented on #46527
Sorry, my bad. It's solving easily with adding `inverse_of` option to both sides of association.

[2022-11-19 09:07] #46527 closed

[2022-11-19 15:09] fluke commented on #37316
I am still seeing this issue on 6.1.7. I am able to upload files larger than 5GB through ActiveStorage (https://github.com/rails/rails/pull/35931) but it doesn't work through direct upload.

[2022-11-19 15:11] lucasmazza opened #46529 "`ActiveSupport::Testing::FileFixtures#file_fixture` fails when skipping Active Record"
### Steps to reproduce

When generating an app with `--skip-active-record`, the `file_fixture` helper will fail with `no implicit conversion of nil into String` because `file_fixture_path` is only defined if `ActiveRecord::Base` is defined: https://github.com/rails/rails/blob/8015c2c2cf5c8718449677570f372ceb01318a32/railties/lib/rails/test_help.rb#L15-L29

### Expected behavior

The helper should

[2022-11-19 15:39] carsoncole commented on #40535
Same problem here. Had an error in setting attribute values in a Class, which triggers

`You tried to define an enum named "status" on the model "Reservation", but this will generate a instance method "unconfirmed?", which is already defined by another enum. (ArgumentError)`

`class Reservation < Application Record

    enum :status, { unconfirmed: 0, pending_pickup: 1, picked_up: 2, missing: 3, c

[2022-11-19 18:12] denisahearn commented on #37316
@fluke That's because direct uploads with Rails ActiveStorage are limited to [AWS S3's limitation of 5 GB with a single PUT request](https://docs.aws.amazon.com/AmazonS3/latest/userguide/upload-objects.html). It would be nice if the direct upload Javascript library provided by ActiveStorage could handle multi-part uploads, but unfortunately it doesn't.

We are planning to switch our Rails app to u

[2022-11-20 06:53] lazaronixon commented on #44479
https://github.com/lazaronixon/rails/commit/85d1dd7b854c24b0525d36513d10e18f68759f32

[2022-11-20 09:50] fluke commented on #37316
Thanks. I'm actually attempting to rework the direct upload to work with multipart. If anyone would like to help I think it would make sense to fix it and try and upstream it to Rails.

[2022-11-20 16:30] loqimean opened #46532 "Incorrect error message when mistyped validation in related association"
### Steps to reproduce

[code]

### Expected behavior
Rails shows error of mistyping, like a "`method_missing': undefined method `valisates' for Child:Class (NoMethodError)"

### Actual behavior
Instead of this I have had an error:
"Rails couldn't find a valid model for Child association. Please provide the :class_name option on the association declaration. If :class_name is already provided, make

[2022-11-20 17:09] fatkodima commented on #46532
Works for me as expected. Can you create a reproducible example using https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_main.rb or create a sample app and share with us?

[2022-11-20 19:56] przemad commented on #42057
Another need is adding an ALT attribute for an image.

[2022-11-20 19:57] fatkodima commented on #46526
There is view helper that uses `I18n.locale` as the default, see - https://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-pluralize

I am sure just bare `pluralize` uses `:en` as the default, because Rails internally uses this method for its needs, for example to generate a table name from the model name etc and this should always be in English.

So you can manually pass a

[2022-11-20 23:43] jm3 commented on #43819
Thanks for posting this, just saved me a ton of time on the quick fix :)

[2022-11-21 01:23] jpgeek commented on #46526
Thanks @fatkodima.
I knew about the Actionview::Helpers method, just that it is more verbose and doesn't chain well.  In any case it does look like pluralize is used internally in quite a few places without specifying `:en` , so it probably isn't going to change.

[2022-11-21 01:23] #46526 closed

[2022-11-21 14:43] Tho85 commented on #45791
I had the same issue today and was able to fix it. The service account was missing the `iam.serviceAccounts.signBlob` permission which is required to sign URLs. Fixed it by assigning the service account to the role `roles/iam.serviceAccountTokenCreator`.

Maybe this should be added to the docs?

[2022-11-21 14:54] turion opened #46540 "Crashes with "rb_vm_insn_addr2insn: invalid insn address""
### Steps to reproduce

1. Install Mastodon 4.0.2 on a recent NixOS machine with nixos-unstable.
2. Observe frequent HTTP 502 errors, look into the server log.
3. Find many lines like `Nov 21 15:25:18 manuelbaerenz puma[1006220]: /nix/store/1m8li3dkfj33kk4xhx6bhjbqi6y9bq6x-mastodon-gems-4.0.2/lib/ruby/gems/3.0.0/gems/activesupport-6.1.7/lib/active_support/json/encoding.rb:58: [BUG] rb_vm_insn_addr

[2022-11-21 14:56] mildred commented on #44264
I set `config.eager_load = true` and I no longer have an issue.

[2022-11-21 14:56] #44264 closed

[2022-11-21 15:05] eileencodes commented on #46540
Hey - if the crash is in Ruby then it needs to be reported (with a core dump ideally and the full stack trace) to https://bugs.ruby-lang.org/. This is the issues tracker for the Rails framework. Usually segv crashes aren't caused by Rails but by Ruby. We don't have any other reports of this that I can find (on Ruby or on Rails) so it's also possible it's related specifically to your OS, but the Ru

[2022-11-21 15:05] #46540 closed

[2022-11-21 15:12] turion commented on #46540
Reported as a ruby bug in https://bugs.ruby-lang.org/issues/19140

[2022-11-21 15:52] nvasilevski commented on #46532
But `valisates` is a non-existing method and that's what the error is telling us. Am I missing something?
`presen: true` is also wrong

There is really not much about rails, it's more about ruby and I wonder if there was a suggestion generated by https://github.com/ruby/did_you_mean telling that perhaps you meant to use `validates` instead of `valisates`

[2022-11-21 16:16] ghiculescu commented on #46507
Would you like to make a PR for the docs improvements? Since you came across the issue you can probably point to where the best improvement would be.

[2022-11-21 16:45] ghiculescu commented on #46509
Hmm, I think the issue is that no validation warning shows if you save via nested attributes. But it *does* if you save the record directly. Executable test case to show what I mean:

[code]

[2022-11-21 18:43] p8 commented on #46465
Closing this as it seems an issue with libvips.

[2022-11-21 18:43] #46465 closed

[2022-11-21 18:50] p8 commented on #46504
@kalashnikovisme There is a closed PR that also tried to fix this: https://github.com/rails/rails/pull/39786 that has some relevant discussions.

[2022-11-21 19:43] fxn commented on #37011
The problem here, really, is that `app/README.md` should not be in the autoload paths in the first place. Autoload paths should be directories, they represent `Object`. I suspect the code that initializes them is too permisive and not filtering out files was an overlook.

The patch that addreesed this issue processes files in `ActiveSupport::Dependencies.autoload_paths` and makes them watchable. H

[2022-11-21 20:39] fatkodima commented on #46509
Child records changes are not detected (because of the reasons I mentioned in the previous comment) here - https://github.com/rails/rails/blob/38d79151022217c238a648e76b484fb1e6ee7261/activerecord/lib/active_record/autosave_association.rb#L319-L325
https://github.com/rails/rails/blob/38d79151022217c238a648e76b484fb1e6ee7261/activerecord/lib/active_record/autosave_association.rb#L282-L283
https://g

[2022-11-21 21:07] ghiculescu commented on #46509
I agree it's not yet clear the solution. But thinking out loud, `changed?` doesn't seem to matter when not using nested attributes. This passes, with an extra assertion added compared to last time:

[code]

[2022-11-22 01:17] skipkayhil commented on #45791
Feel free to open a PR 😃

[2022-11-22 01:41] shpml commented on #45791
It's probably not a great idea to have `roles/iam.serviceAccountTokenCreator` at a project level. It gives access to all service accounts in the project, including service accounts created in the future and default accounts created by GCP.

It might be best to figure out what service account it needs create a token for, at a guess it is the default storage account for the storage service or someth

[2022-11-22 08:10] rschellhorn opened #46542 "ActiveModel::ValidationError is not autoloaded"
### Steps to reproduce

[code]

Note that the above is based on [this template](https://github.com/rails/rails/blob/main/guides/bug_report_templates/action_controller_gem.rb). I added the 3 lines marked with comments.

### Expected behavior
I expect the specs to pass without having to uncomment `require "active_model/validations"` (see added line 2)

### Actual behavior
Instead it raises:

[code]

[2022-11-22 09:24] OskarEichler opened #46544 "Actionpack 7.0.4: Character class without escape"
Getting the following warning in console:
[code]

[2022-11-22 09:28] OskarEichler commented on #46544
Our configuration error - sorry!

[2022-11-22 09:28] #46544 closed

[2022-11-22 11:13] rnestler opened #46547 "Rails CLI autocompletion"
### Steps to reproduce

I was wondering if the rails executable does provide any shell autocompletion scripts. So far I couldn't find anything. There are several third party solutions ([omyzsh](https://github.com/ohmyzsh/ohmyzsh) seems to have a plugin, [/mernen/completion-ruby](https://github.com/mernen/completion-ruby) provides completions for bash), but no official one as it seems.

### Expecte

[2022-11-22 13:23] eileencodes commented on #46547
Hey @rnestler thanks for opening an issue!

In general we don't want to maintain something like this. 1) autocompletion bash/zsh is not our expertise, 2) there are already existing tools, and 3) it wouldn't make sense for Rails to maintain a plugin for Ruby itself. It'd be cool to have an official plugin, but with the current expertise and maintenance load, I wouldn't want to add something unrelat

[2022-11-22 13:23] #46547 closed

[2022-11-22 13:37] eregon commented on #45994
I had a call with @casperisfine about this issue.

First of all, in the cases it's possible it's best to avoid `Enumerator#{next*,peek*}` as that avoids this issue, but also passing extra state to it, etc.
If the Enumerator is used for e.g. batched queries or DB accesses, a good way is to reimplement those with manual Enumerators/"iterators". For example we can keep the DB cursor, and implement pe

[2022-11-22 13:38] rnestler commented on #46547
Thanks for the fast answer and the detailed reasoning!

Sorry for that. Is this noted somewhere? I found https://github.com/rails/rails/blob/main/CONTRIBUTING.md#do-you-intend-to-add-a-new-feature-or-change-an-existing-one which mentions the mailing list, but neither the Discord nor the Forum.

[2022-11-22 14:16] simi commented on #45994
:information_source: cross-referencing https://github.com/rails/rails/pull/44219#issuecomment-1125524583

[2022-11-22 19:24] #45794 closed

[2022-11-22 20:24] #46542 closed

[2022-11-22 23:00] #26726 closed

[2022-11-22 23:33] rafaelfranca commented on #46532
I think we can't reproduce outside of a Rails app. It is related to autoloading and probably only happens when the `Parent` class is loaded before the `Child` class. It happens in this code here https://github.com/rails/rails/blob/28b5771d559f0ce538a68335bac8e202410b3ab8/activerecord/lib/active_record/reflection.rb#L421-L443.

I'm pretty sure we have another issue related to this. Loading `Child`

[2022-11-22 23:37] rafaelfranca commented on #46507
I think it is fine to raise an error in this case. Of course, if all we can do is to check if `rewind` is there.

[2022-11-22 23:38] #46529 closed

[2022-11-23 02:55] nvasilevski opened #46556 "`Mysql2::Error: SAVEPOINT active_record_1 does not exist` after an `ActiveRecord::Deadlocked`"
I'm creating this issue to keep context around an issue someone may run in the future.

The problem generally looks like a deadlock followed by a `Mysql2::Error` with ` SAVEPOINT active_record_#{n} does not exist` message. We have addressed a very similar problem in this PR - https://github.com/rails/rails/pull/46367 and the one described here is just a variation. However we are not experiencing t

[2022-11-23 02:55] nvasilevski commented on #46556
Closing as not intended to be worked on, at least at this moment

[2022-11-23 02:55] #46556 closed

[2022-11-23 04:17] cassiompf commented on #25381
It looks like the problem has reappeared. I'm getting the message even though I'm on the latest version.

![image](https://user-images.githubusercontent.com/20346767/203468381-3df8f654-0537-4bf6-b44c-04092d7dbb1a.png)

[2022-11-23 05:50] maniSHarma7575 opened #46557 "Question: Why in the rails engine controller test class inheriting `ActionDispatch::IntegrationTest`?"
### Steps to reproduce

As shown in the code snippet for [functional test](https://guides.rubyonrails.org/engines.html#functional-tests) in the rails official documentation by the controller test is inheriting the `ActionDispatch::IntegrationTest` instead of `ApplicationController`

[code]

[2022-11-23 07:19] Earlopain commented on #46507
There are two places where the error could be raised, in the public `unfurl` method, or in the private `compute_checksum_in_chunks`, which only gets called by `unfurl`. The correct error would be `ArgumentError` I assume.

Should I leave the PR as is or switch over to raise instead?

[2022-11-23 09:04] #46557 closed

[2022-11-23 11:45] MatElGran commented on #46154
Hi @joshuapinter, just a quick follow-up, I submitted #46554 which just got merged (first rails contrib \o/). While it does not fix the problem for `FormBuilder#fields_for`, it documents it, adds a way to ensure `record_object`is correctly used, and fixes `FormBuilder#fields`.

[2022-11-23 11:59] matthewd commented on #46556
Yeah, I think this is a variant of the scenario I described in https://github.com/rails/rails/pull/46367#issuecomment-1294200070

[2022-11-23 12:47] metaphalon opened #46559 "LoggerSilence silences all loggers of thread/fiber"
It seems not only the logger which calls silence is silenced but all loggers are silenced.
From the documentation I would expect to only silence the calling logger.

### Steps to reproduce

[code]

### Expected behavior
Log output "test" should be written to log/logger_test.log

### Actual behavior
Nothing is written in log/logger_test.log

### System configuration
**Rails version**: 7.0.3

**Ruby

[2022-11-23 12:57] duleorlovic commented on #42923
`rescue_from` does not catch this error. It looks it is served from another proccess since it is not using ApplicationController...
[code]

now I'm using workaround https://github.com/rails/rails/issues/34244#issuecomment-586332079

[2022-11-23 15:57] rafaelfranca commented on #46507
Let's switch over to raise instead.

[2022-11-23 16:39] joshuapinter commented on #46154
Great job @MatElGran! And congrats on the first Rails contribution. Very well deserved.

[2022-11-23 16:54] ghiculescu commented on #46532
https://github.com/rails/rails/pull/46560

[2022-11-23 17:48] Earlopain commented on #46507
Done!

[2022-11-23 18:51] #46507 closed

[2022-11-23 19:12] rafaelfranca commented on #45635
Done finally.

[2022-11-23 19:12] #45635 closed

[2022-11-23 22:09] hahmed commented on #46506
Hey @bubbaspaarx

Maybe I have not fully understood this issue, please correct me if I'm wrong. I created a new app, with rspec-rails, updated my show action and created a test similar to what you have, and I'm not seeing anything out of place.

Controller:
[code]
Test:
[code]

I'm seeing a json object.

Output from test run:

[code]

Any chance you could post a fully reproducible example? Maybe l

[2022-11-24 11:27] #27659 closed

[2022-11-24 11:49] #46559 closed

[2022-11-24 15:01] fatkodima opened #46567 "new_framework_defaults_7_1.rb are not working as expected"
### Steps to reproduce
1. Create a new (< 7.1) rails app
2. Use `config.load_defaults 7.0` in `application.rb`
3. Add https://github.com/rails/rails/blob/main/railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt to initializers and uncomment commented lines

### Expected behavior
For example, in console
[code]

### Actual behavior
[code]

Even thou

[2022-11-24 16:03] matthee commented on #41795
Note to self, and to anyone experiencing similar issues - you can't do:

`config.action_controller.default_url_options = { host: "localhost:3020" }`

Instead, you *must* use an explicit port specification

`config.action_controller.default_url_options = { host: "localhost", port: 3020 }`

[2022-11-24 18:26] rafaelfranca commented on #46567
This usually happen because something in the application is loading `ActiveRecord::Base` too early. Did you observe this behavior really in a new generated application or did you added any gem after it?

[2022-11-24 19:44] SeanLF opened #46569 "`ActiveSupport::Inflector.transliterate` performance optimization"
The method seems to return the same string if it is already in ASCII.
We could return early if the string only contains ASCII characters and avoid doing any work:

[code]

https://github.com/rails/rails/blob/324880c393a82c5212f2402def66af1c14d6b02a/activesupport/lib/active_support/inflector/transliterate.rb#L64-L67

[2022-11-24 20:59] fatkodima commented on #46567
Rechecked within a completely new app - works as expected.

I originally checked within the existing app. I was able to identify 2 gems that load `ActiveRecord::Base` too early. Without them - also works as expected.

I am wondering if reassigning a local variable `configs` here - https://github.com/rails/rails/blob/324880c393a82c5212f2402def66af1c14d6b02a/activerecord/lib/active_record/railtie.rb

[2022-11-24 23:09] marciopinho commented on #38671
@jakestonelater Thanks for your comment, it actually helped me find the issue in my app. Not strictly a typo, but the effect was the same: I had a service, ListingsService, in a file whose name was outdated – events_service.rb .

[2022-11-25 02:45] shouichi opened #46572 "Testing is hard when the service option of ActiveStorage is used"
### Steps to reproduce

When the service is specified e.g., `has_one_attached :avatar, service: :s3`, it is always used even for testing. In the example, running tests would end up sending requests to s3 which is not desirable. We can work around this by conditionally setting service e.g., `service: :s3 if Rails.env.production?` but that is not ideal.

### Expected behavior

DiskService is used fo

[2022-11-25 04:49] undu82 commented on #43677
I had the same issue, but based on this tutorial, https://www.bootrails.com/blog/rails-7-bootstrap-5-tutorial/, I figure out that the problem was the version of npm and node that I was using.

After upgrading them, everything worked fine.

[2022-11-25 07:19] dvodvo opened #46574 "Content Security Policy, nonce and index.js generating browser console errors & subsequent odd behaviours"
### Steps to reproduce
Changed stock initializer to the following:
[code]
javascript/controllers/index.js is unvaried as per installation
[code]
### Actual behavior

Browser then cannot resolve:
[code]
pointing to this line in the generated HTML
[code]
sourced to  '(index)'
[code]
Note other errors are emerging with controllers, `Failed to register controller: password-peek (controllers/password_p

[2022-11-25 10:00] monarchwadia opened #46577 "Is `rake db:create` accidentally treating the `default` config as an environment on par with `development`/`test`/`production`?"
### Steps to reproduce

Not 100% sure about this, and I apologize if this turns out to be a red herring or non-reproducible; but at least one other person seems to be having the same issue as I am, so I'm creating this ticket.

Issue seems to be happening specifically in apps created with the `--api --database=postgresql`  flags.

Previous discussion in [this stackoverflow](https://stackoverflow.c

[2022-11-25 12:32] maxcal commented on #46577
Cannot be reproduced.  You're most likely attributing an error with connecting your Postgres server to Rails - say for example that the server isn't actually running or can't be connected to with the default connection settings.

[code]

[2022-11-25 12:41] monarchwadia commented on #46577
Thanks for checking & going through this with me. This can probably be closed.

[2022-11-25 12:41] #46577 closed

[2022-11-25 12:42] mrhead commented on #46567
Unfortunately, this is a common issue caused by different gems. Another example: https://github.com/rollbar/rollbar-gem/issues/906

I wish Rails would automatically identify issues like this, but I'm unsure how to implement it.

[2022-11-25 13:05] mrhead opened #46578 "Setting cookies domain doesn't work with Ruby 3.1.3 and integration tests"
### Steps to reproduce

Run the following script with Ruby 3.1.3:

[code]

### Expected behavior

The test should pass as it passes on Ruby 3.1.2.

### Actual behavior

The test fails with the following error:

[code]

### System configuration

**Rails version**: 7.0.4, main

**Ruby version**: 3.1.3

### Additional information

This happens only when running integration tests. When I run the devel

[2022-11-25 14:21] flavorjones commented on #46578
This issue is being discussed upstream: https://github.com/ruby/cgi/pull/29

[2022-11-25 14:21] casperisfine commented on #46578
There is a broken test in Rails test suite because of this change, and it's being handled upstream right now: https://github.com/ruby/cgi/pull/29

Not much we can do.

[2022-11-25 15:47] joshuay03 commented on #45822
Hey all,

I decided to investigate this and found that root cause is in `ActiveRecord::Associations::Preloader::ThroughAssociation#records_by_owner` where different instances of through_records were being used to fetch the memoized source_records_by_owner. I've got a PR up here with a failing test and a band aid fix which currently makes it pass: https://github.com/rails/rails/pull/46579.

I'm uns

[2022-11-25 15:58] mrhead commented on #46578
Thanks for the link to the ruby/cgi issue, I'll look better next time.

Should I close this issue?

[2022-11-25 16:40] georgeclaghorn commented on #46572
It doesn’t seem to be very well documented, but Active Storage supports per-environment service configurations for this reason. In the test environment, `config/storage/test.yml` takes precedence over `config/storage.yml`.

https://github.com/rails/rails/blob/25a7d2a87f7819220c9d1c26d3cbd9949257755e/activestorage/lib/active_storage/engine.rb#L147-L154

A PR to update the Active Storage guides to i

[2022-11-25 17:28] mendescamara commented on #36403
@rafaelfranca,

in that case if `in_use?` from `ActiveRecord::ConnectionAdapters::AbstractAdapter` checked the `.alive?` from the Owner instead of checking if the Thread exists, wouldn't it solve it?

I have this problem and create a MonkeyPatch to solve it and it initially worked!

[code]

Do you believe it is worth opening a PR with this suggestion?

[2022-11-25 17:58] brenogazzola commented on #46520
It's fixed on main:
[code]

[2022-11-25 22:16] yahonda commented on #46578
I think this issue can be closed because there is almost nothing we can do in the Rails code.

[2022-11-25 22:21] #46578 closed

[2022-11-25 23:34] ghiculescu commented on #46569
Would you like to make a PR for this? Tests would go [here](https://github.com/rails/rails/blob/main/activesupport/test/transliterate_test.rb) and you can also find details about benchmarking the changes [here](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#benchmark-your-code) to confirm how much faster it is. Based on that we can evaluate if it's a worthwhile change.

[2022-11-25 23:35] ghiculescu commented on #46569
I'm going to close this, as it's not a bug, which is what we try to reserve the issue tracker for. A PR would be a great place to discuss this 👍

[2022-11-25 23:35] #46569 closed

[2022-11-25 23:40] ghiculescu commented on #46567
There's a few ideas floating around. I think my favourite is https://github.com/rails/rails/pull/45297

@fatkodima are you able to share which gems had issues? Ideally they get patched.

[2022-11-25 23:45] fatkodima commented on #46567
One is https://github.com/ledermann/unread, another one is mine - https://github.com/fatkodima/data_checks 😄

Ah, yes, haven't seen that. Had exactly the same idea.

[2022-11-25 23:52] ghiculescu commented on #46567
I think [this](https://github.com/paper-trail-gem/paper_trail/blob/91732d03ea7518444f1dc7414291b2641733e381/lib/paper_trail/frameworks/rails/railtie.rb#L26) is probably what you want the architecture to look like in your gem. But I agree that it would be better if Rails could handle this in more cases.

[2022-11-25 23:56] fatkodima commented on #46567
Yes, thanks for looking into this. I will definitely fix my gem and probably send a PR into `unread` (if no one will outpace me).
I defer loading of Active Record in my other gem with a similar technique you mentioned 👍.

[2022-11-26 00:56] georgeclaghorn commented on #46572
I see now that it’s mentioned in a note in the Active Storage Overview guide’s [Setup](https://guides.rubyonrails.org/active_storage_overview.html#setup) section which I missed earlier:

<img width="653" alt="Screenshot 2022-11-25 at 7 54 24 PM" src="https://user-images.githubusercontent.com/94129/204066368-5c9ccede-10e9-4769-b9a3-60ffc83d497a.png">

Maybe that should be elaborated on further.

[2022-11-26 13:00] dvodvo commented on #46574
Closing this issue, as some issues were overcome by starting from scratch and testing anew.

[2022-11-26 13:00] #46574 closed

[2022-11-26 15:42] SeanLF commented on #46569
@ghiculescu I've opened the PR 🚀

[2022-11-26 15:57] virtualfunction opened #46587 "rendering from templates do now allow you to override contextual details as expected"
### Steps to reproduce

Rendering from a view doesn't allow you to override context defaults like the format. For instance, when rendering an HTML snippet from a template that was rendering JSON, such as below.

[code]

### Expected behaviour
This renders the HTML format of the template rather than the format inherited.

### Actual behaviour
It renders the inherited format of the parent template (

[2022-11-26 17:32] siaw23 commented on #46572
I believe this is the case the API [documentation describes](https://api.rubyonrails.org/classes/ActiveStorage/Attached/Model.html#method-i-has_one_attached) in this screenshot. The Guides, however, doesn't mention this.

<img width="747" alt="Screenshot 2022-11-26 at 18 19 55" src="https://user-images.githubusercontent.com/100293177/204101218-36b3a16a-ef9a-4c58-aa38-de57d38ef0f3.png">

[2022-11-26 18:01] loqimean opened #46588 "Nested attributes - Is there any way to destroy record if some fields are blank????"
### Steps to reproduce

[code]

### Expected behavior

to use something like an option to accepts_nested_attributes_for `destroy_if` that automatically merges `_destroy: true` attribute and then destroy it WITHOUT javascript or might be some "hidden" js, like a turbo.js processing

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

[2022-11-26 21:54] fatkodima commented on #46567
Opened a PR in `unread` and released a new version of `data_checks` with the fix.
So feel free to close, if no more actions can be taken.

[2022-11-27 06:46] ghiculescu commented on #46567
@byroot @rafaelfranca do you think we will make any big changes for this in Rails 7.1?

In any case I will close this particular issue as resolved.

[2022-11-27 06:46] #46567 closed

[2022-11-27 06:49] ghiculescu commented on #46588
Hi, we reserve this issue tracker for bug reports. For help using the framework a good place to ask is the [discussion forum](https://discuss.rubyonrails.org/).

[2022-11-27 06:49] #46588 closed

[2022-11-27 06:52] ghiculescu commented on #46587
Could you provide a sample app that demonstrates the issue? That would make it easier to isolate exactly what's expected and what's going wrong. (Alternatively feel free to open a PR if you think you have a good idea of it already!)

[2022-11-27 11:29] JensDebergh opened #46591 "SMTP SASL XOAUTH2 support"
Hi!

I've been looking into communicating with Office365 and Gsuite like mailing providers through OAUTH tokens via rails and apparently to do so we need the SASL XOAUTH2 format.

Ruby core recently merged support for this for IMAP in master: https://github.com/ruby/net-imap/pull/63 and SMTP support is probably on it's way too: https://github.com/ruby/net-smtp/issues/46

There's a heavy push from

[2022-11-27 22:25] ioquatix commented on #23828
Since the release of Rack 3 standardises the underlying streaming mechanism, and I added a convenience method `#<<` must be supported by the output interface, in most cases it should be possible to use a streaming body and use the given stream argument to the ERB (or other template engine) for full streaming support.

[2022-11-28 03:20] shouichi commented on #46572
Thank you very much! Adding `config/storage/test.yml` worked like a charm :magic_wand:

I'm going to open a PR to improve the guide.

[2022-11-28 08:02] shouichi commented on #46572
I opened a PR https://github.com/rails/rails/pull/46599. Can someone take a look?

[2022-11-28 08:43] shreeve opened #46601 "[ActiveRecord] Why does MySQL's schema dumper ask the abstract class for it's default primary key type?"
https://github.com/rails/rails/blob/656118bc17791291db7c10075b489dfc6f93fce3/activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb#L32-L38

When calling `rake db:schema:dump`, the MySQL SchemaDumper needs to know if the column currently being dumped is a default primary key for the table in question. In line 37, the code seems to know that a truly _default_ primary key type is

[2022-11-28 09:38] byroot commented on #46601
Because your patch is loaded before the original code, so it end up like this:

[code]

A good way to make sure you don't mess this up is to do:

[code]

[2022-11-28 09:38] #46601 closed

[2022-11-28 10:41] shreeve commented on #46601
Thank you for the clear answer!

[2022-11-28 11:52] yahonda commented on #46032
I'm closing this issue for now because this is more like a feature request. As I mentioned earlier, please feel free to open a pull request.

[2022-11-28 11:52] #46032 closed

[2022-11-28 11:54] yahonda commented on #46013
I'm closing this because at least this is expected behavior.  Thanks again for opening this issue with the detailed steps to reproduce.

[2022-11-28 11:54] #46013 closed

[2022-11-28 22:34] rafaelfranca commented on #46591
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in the [Rails Core discussion board](https://discuss.rubyonrails.org/c/rubyonrails-core/5) for feedback.

[2022-11-28 22:34] #46591 closed

[2022-11-28 23:23] ghiculescu commented on #46532
I made a test app to replicate the issue. And this is the error page I got:

<img width="1707" alt="image" src="https://user-images.githubusercontent.com/509837/204401187-033c424f-9b0b-46d3-b80b-aec1d2f8a65a.png">

If you click on the cause it expands to show the original error:

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/509837/204401243-9ebaf4c3-1f6b-4b1a-ae09-a

[2022-11-29 01:37] alison-acuna opened #46606 "Test Parallelize Config inhibits Pry for Rails Contribution"
### Steps to reproduce

I started investigating my first rails issue and encountered an issue running pry with actionview tests.  I successfully cloned the rails project and ran bin/test test/template/text_helper_test.rb.  I added "require pry, binding.pry" to the relevant method and reran the test.  The pry session opened but typing in the session slowed to the point of being non-functional.  I n

[2022-11-29 02:46] skipkayhil commented on #46606
Hey @alison-acuna, thanks for the report!

I think as alternatives to commenting out those lines, you could run a single test with `-n test_long_test_name` or you could set `PARALLEL_WORKERS=1` so that the tests run serially.

Would you like to open a PR to expand the documentation?

[2022-11-29 06:27] OskarEichler opened #46608 "[ActionMailer] Not able to send HTML Body with Attachment"
When sending non-template emails via ActionMailer by providing the body directly as HTML code, it is necessary to set content_type to "text/html" in order for the HTML to be rendered correctly, however this results in attachments not being properly added and instead being included into the HTML body.

[code]

Result:

![Screenshot 2022-11-29 at 14 23 43](https://user-images.githubusercontent.com/6

[2022-11-29 07:20] OskarEichler commented on #46608
Okay actually was able to figure it out, though not being very intuitive:

[code]

[2022-11-29 07:20] #46608 closed

[2022-11-29 19:12] AlisonAcuna commented on #46606
Hi @skipkayhil

Thanks for the alternate suggestions.  I will open a PR to expand the documentation within the next few days.

I appreciate the support + encouragement :)

[2022-11-29 19:14] alison-acuna commented on #46606
Hi @skipkayhil

Thanks for the alternate suggestions.  I will open a PR to expand the documentation within the next few days.
I appreciate the support + encouragement :)

[2022-11-29 20:16] #46532 closed

[2022-11-29 20:29] ghiculescu commented on #46392
No answers just yet, but some notes...

It looks like it should be, as it enables functionality such as [this](https://github.com/rails/rails/blob/c6b227b95b631ead7ffd5c8984b16b0fbe5b3ca4/activerecord/test/cases/associations/has_many_associations_test.rb#L70). Basically it seems like AR is fine with you loading an association from a record if you give the record the primary key yourself as opposed

[2022-11-29 20:31] ghiculescu commented on #46392
Here is a relevant test case for `strict_loading_test.rb`:

[code]

[2022-11-30 01:44] eljojo commented on #43971
For anyone running into this issue, @rosa's proposed solution (https://github.com/rails/rails/issues/43971#issuecomment-1000807809) worked beautifully on 7.0.4:

[code]

[2022-11-30 11:26] gagaha commented on #44997
Hi,

thank you @mamhoff for sharing your workaround for this issue. I can confirm that this works for us aswell.
But I also agree with the opinion of @rolfschmidt, that this is still an ongoing issue on the side of the mysql adapter which would be worth to fix.
So I would welcome reopening this issue.

[2022-11-30 14:05] richardboehme commented on #46392
Hey @ghiculescu! Thanks for looking into this issue.

I tried the changes you did and they work like a charm! However they only seem to cover the case of concatenating records. In my actual application I'm replacing the association (using factory bot's `build` method) which still raises the error. I'm sorry for providing a wrong code example here... After looking at it a bit more I feel like in th

[2022-11-30 15:25] ghiculescu commented on #46392
Yes, I think so too. But I don't think you should get strict loading violations for that... 🤔

[2022-11-30 18:20] gibsonbett commented on #38671
got me too

[2022-11-30 19:05] #46392 closed

[2022-11-30 22:24] ghiculescu commented on #46292
@sambostock sorry this didn't get any attention until now,  and thanks for the detailed writeup. A few thoughts, please let me know if they make sense or are on the wrong track.

It sounds to me like this is going to be an issue on *any* existing stable branch or tag, not just `7-0-stable`. Is that right? To be fair no other stable is still maintained so maybe that doesn't matter, but I just want

[2022-11-30 23:20] skipkayhil commented on #46292
Thanks for following up @ghiculescu!

Yep, this will apply to all of the previous stable branches as well.

This will not be an issue going forward as the compiled files are actually present in the repo now [here](https://github.com/rails/rails/tree/main/actionview/app/assets/javascripts).

Out of the three options:
1. I don't think backporting is feasible because of the scope of changes made to r

[2022-11-30 23:32] ghiculescu commented on #46292
I was thinking the same, + the workaround is just to add the `coffee_script` gem until Rails 7.1, right?