[2015-04-24 11:54] #19874 closed

[2015-04-24 12:20] parol-peter commented on #19873
yeap. couse it checks presence of grouping by calling `group_values.any?` which for array of nils returns `false`

sometimes in more complicated stuffs value of grouping is being set dynamically eg.
`g = how_to_group() # complicated method determining grouping strategy`
`i = what_to_include() # analogous method`
`relation = Model.includes(i).group(g) # model might be scoped/queried relation alread

[2015-04-24 12:20] senny commented on #19232
I dug a bit deeper and there have been a lot of changes on `master`, which make it hard to backport the actual fix without any additional features. Up to the current state of `master` the migration dsl did not really support creating tables with non-integer primary keys.

I suggest using `db/structure.sql` for now and skip the backports. Everything should start working with `Rails 5`.

@rafaelfran

[2015-04-24 12:49] bostrom commented on #19874
Thanks @sgrif for the update!

I tried the new Rails 5 type system as you recommend, but I still can't get my test file to pass. I updated the gist to reflect the changes, am I doing something wrong? https://gist.github.com/bostrom/48d284aae6c795f5e242/a801c31a43becdcc4874007ca0b89e7959feebee

Can I still use rails 4.2.1 from rubygems or do I need to pull it from github?

[2015-04-24 13:16] senny commented on #17560
It looks like there is nothing left to do here. I'm going to close the issue.

[2015-04-24 13:16] #17560 closed

[2015-04-24 13:18] senny commented on #18513
@zpaulovics It's been some time without feedback. Do you still experience that problem? If so, please provide a sample application to reproduce the problem, this goes a long way in debugging the issue.

[2015-04-24 13:19] senny commented on #18563
@slavingia It's been a while since we heard from you. Do you still experience this issue? If so, it would be great to get that reproduction script. This goes a long way in debugging the issue.

[2015-04-24 13:33] senny commented on #18750
@piyushawasthi to help you, we need to understand what's going on. Could you modify [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) to reproduce the error you are getting?

[2015-04-24 13:35] rafaelfranca commented on #19873
Still disagree. Nil is a invalid argument for these methods and ignoring it just may give people more confusion. And what if users were not expecting Nil and are getting those for some kind of wrong logic?

The correct think to do is to check the argument before calling group. Silent ignoring is not an option.

[2015-04-24 13:36] rafaelfranca commented on #19873
I'll try to get more feedback. @sgrif @senny @matthewd

[2015-04-24 13:39] meinac commented on #19873
@rafaelfranca you are right, giving an argument error if the value is nil or blank will inform developers about their logic but we should change the behaviour of current group method it is currently ignores nil value while using it alone.

[2015-04-24 13:46] mlangenberg commented on #18714
**Update:**

Let me show a working implementation of the requested use case. If you run this in Passenger or Puma, you can stream data while telling the client about the expected body size. Request with `curl --no-buffer` and you will see a number appear every second.

[code]

Useful for on the fly decryption of a data stream, when the unencrypted stream size is known on forehand.

Please share yo

[2015-04-24 13:48] senny commented on #19873
As long as `group([])` works (it currently does) one could still chain by using `Array#compact`. I agree with @rafaelfranca that explicitly passing `nil` is invalid input and should not be silently ignored.

[2015-04-24 13:50] parol-peter commented on #19873
There are always two sides of the stuff. But according to my practise methods like this (chainable) deserve a bit different approach especially if meaningless value does not affect the very query

An option might be exposing some AR configuration to turn of error throwing in such case.
Another alternative might be group and group! like create and create!

RoR gives a pleasure of coding. It'd be ni

[2015-04-24 13:51] senny commented on #19849
@maninalift I'll take a look.

[2015-04-24 13:53] sgrif commented on #19874
You'd need to use the 4-2-stable branch

On Fri, Apr 24, 2015, 8:49 AM Fredrik Boström <notifications@github.com>
wrote:

[2015-04-24 13:55] senny commented on #19873
Passing arrays should give you the chainability you are looking for. In the case of `nil` it's as likely that you have a programming mistake and it would be a pleasure (certainly for new programmers) if Rails told you so. For example `group(@psot)` instead of `group(@post)`.

[2015-04-24 14:04] parol-peter commented on #19873
yeap this is the one side of stuff which i understand but as I wrote previously:

`g = how_to_group() # complicated method determining grouping strategy might give nil`
`i = what_to_include() # analogous method`
`relation = Model.includes(i).group(g) # model might be scoped/queried relation already`

so in such situation code for error throwing methods should look like
`relation = Model`
`relation

[2015-04-24 14:09] Sega100500 opened #19890 "Rails 4.2 content_for not clear content"
content_for(:somesing) do
  'something'
end

content_for(:something, flush: true) - not clear content
content_for(:something, nil, flush: true) - not clear content
content_for(:something, '', flush: true) - clear content but wrong future capture
content_for(:something, ''.html_safe, flush: true) - ONLY this clear content

[2015-04-24 14:32] rafaelfranca commented on #19873
You can make how_to_group always return valid input, so you still keep your
pretty chaining

On Fri, Apr 24, 2015, 11:04 parol-peter <notifications@github.com> wrote:

[2015-04-24 14:43] parol-peter commented on #19873
but if no grouping is needed? this is determinied dynamically or by component configuration. it should return nil in that case.

i bet if you make query methods throw errors couple of gems will break up couse nils are pretty often when building queries programatically/from options on a fly

[2015-04-24 14:58] senny commented on #19873
@parol-peter should still work if `g` and `i` are either `[]` or `[:column]`. That can be easily achieved by using `Array().compact` as the return value of these methods.

[2015-04-24 15:11] vnazarenko opened #19891 "AR 4.2.1 .includes give undefined method `each' for nil:NilClass"
I use MSSQL as primary db. It use decimal(19, 0) type for ids.
I have 2 models:
[code]
when I try to do
[code]
and after that access each elements like:
[code]
I get exception:
[code]
Looks like problem is here:
[code]
I made a small debug and found that
owners_map do mapping by ids in float point format like this:
[code]
But then try to access it with integer id (owner_key == "38" in this case" )

[2015-04-24 15:15] senny commented on #19891
@vnazarenko thank you for your report. Can you create an executable test-case to reproduce the error? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a foundation.

[2015-04-24 15:17] meinac commented on #19873
@senny , @rafaelfranca what about giving blank string as an argument to group? `Model.group("")` I believe this should raise an error too.

[2015-04-24 15:55] aaronrussell commented on #19850
I've got what sounds like exactly the same issue happening here. My project is a mounted engine on rails 4.2.x, and in development when using the mounted engine I will only have access to the `Engine::***Helper` matching the current controller.

[2015-04-24 16:10] oytuneyucel opened #19893 "README links broken"
At the moment it's not possible to access to links provided in the Readme.

[2015-04-24 16:18] al2o3cr commented on #19891
Unrelated to the root issue here, but the `class` option to `has_many` shouldn't be used - use `class_name` instead.

[2015-04-24 17:00] matthewd commented on #19873
@meinac I think a blank string is Just Plain Wrong -- while it's friendlier to give a nice error message for a nil, which is a comparatively easy mistake to make, if you pass something totally unreasonable, it's fine to let it explode with whatever obscure error eventually turns up.

In this case, I'd argue that once you pass a string, you're accepting responsibility to ensure it contains a well-f

[2015-04-24 18:10] derekprior commented on #19890
Took me a bit to get this, but sounds as if you want to use `flush` to empty the content in the named capture. Correct?

The first two don't work because `content_for` sees the nil content supplied and the lack of a block and assumes you are trying to read the captured content back out. We could also key on whether any options were passed -- you wouldn't be passing options if you were reading.

I

[2015-04-24 18:14] derekprior commented on #19893
Each link here seems to work fine for me: https://github.com/rails/rails/blob/master/README.md

Is there a link in particular that is giving you problems or were you talking about a different README?

[2015-04-24 18:22] matthewd commented on #19893
The individual library READMEs (e.g. https://github.com/rails/rails/blob/master/activerecord/README.rdoc) are intended to be read from http://api.rubyonrails.org/, so their Learn More links are broken when viewed on GitHub.

Thus, I think the problem is really the fact that the repo root README incorrectly encourages you to read them from GH, by using relative links.

[2015-04-24 18:37] derekprior commented on #19863
Here is a reproducible bug script for this: https://gist.github.com/derekprior/f231c46d626697b9965f

[2015-04-24 19:11] roberts1000 commented on #19850
I figured out a solution (it looks like I was using some loading/initialization hooks wrong).  I had the following railtie initializer in my engine

    initializer "my_gem_additions.action_controller" do
      ActiveSupport.on_load(:action_controller) do
        ApplicationController.include MyEngine::ApplicationControllerAdditions
      end
    end

That `include` call through the `on_load` hook

[2015-04-24 19:11] #19850 closed

[2015-04-24 19:26] jcoyne commented on #18714
@mlangenberg that's exactly what I was attempting to do.

[2015-04-24 19:31] zawaideh commented on #18519
There should be a symmetry between deliver_now and deliver_later. If parameters are accepted in one, they should be accepted in the other.

Also, shouldn't the adapter itself do the enforcing of the parameter? If it doesn't support Time object it can raise an error?

[2015-04-24 19:34] jcoyne commented on #18714
@matthewd Can we reopen this now that @mlangenberg has demonstrated the problem with using `response.body=`

[2015-04-24 19:44] kddeisz commented on #18821
I realize this is closed, but is anyone working on it? Just ran into this myself. Also, does it need to be implemented wholesale? I could take a crack at implementing it for DelayedJob (this is where I'm running into needing the ID).

[2015-04-24 20:00] matthewd commented on #18714
It sounds like a different issue to me (i.e., not "Content-Length header is removed when using ActionController::Live"). @mlangenberg, yes, I do expect your `response.body=` example to work the same way as your hijack-based example. If something in the Rails middleware stack is causing it buffer, please do create an issue, and feel free to CC me on it.

(@jcoyne, are you saying that the above neve

[2015-04-24 20:17] jcoyne commented on #18714
@matthewd I was seeing what @mlangenberg saw and gave up.

[2015-04-24 20:17] derekprior commented on #19699
Sounds like this one is good to close?

[2015-04-24 20:22] jvanbaarsen commented on #18821
@kddeisz I was working on it, but I won't have time to work on it in the next 2 weeks. So feel free to create a fix for DelayedJob!

[2015-04-24 20:26] robertjlooby commented on #19805
The fixtures documentation clearly specifies `.yml` [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/fixtures.rb#L19).
It looks like the only place where `.yaml` is supported is the [`rake notes`](https://github.com/rails/rails/blob/master/railties/lib/rails/source_annotation_extractor.rb#L31) task.
`.yaml` and `.yml` support was [added](https://github.com/rails/rai

[2015-04-24 20:34] JasonBarnabe opened #19896 "Child records not properly loaded when accessible through multiple association paths"
If you have a model that can reference another through multiple association paths, and you load both paths with `.includes`, and you use `.references` in your finder, some references to the "other" model's children don't work properly.

[code]

[2015-04-24 20:54] zzak commented on #19835
@rafaelfranca Let's collaborate on a new guide for sprockets! <3

[2015-04-24 20:56] rafaelfranca commented on #19893
Yeah :cry: I see issues like this one at least 2 times per month.

@fxn any idea how to improve this? I was thinking in making "Learn More" no real links on GitHub only

[2015-04-24 21:03] meinac commented on #19699
There is a question to @rafaelfranca . We are still waiting response from him.

[2015-04-24 21:19] rafaelfranca commented on #19699
:+1: about deprecating. I always wanted to do.

[2015-04-24 21:19] #19699 closed

[2015-04-24 21:53] cllns commented on #19893
[github/markup#84](https://github.com/github/markup/issues/84) might be relevant, though not useful since it seems like there's no solution for relative links with a different base.

[2015-04-25 08:22] Sega100500 commented on #19890
@derekprior
Yes. I want just clear, empty content of named capture.

In your code
    content_for :title, "", flush: true
    assert_equal nil, content_for(:title) - this true

but, next after

    content_for(:title) do
      content_tag(:p, 'Test string')
    end

<%= content_for(:title) %>

will print:
<p>Test string</p>
raw string

Probably because '' passed in your example is not html_safe

[2015-04-25 09:29] bostrom commented on #19874
Check. Working gist here, for reference: https://gist.github.com/bostrom/48d284aae6c795f5e242/add0e494ae7706409a02711e73db29191f1b0046

Thanks!

[2015-04-25 13:38] mlangenberg commented on #18714
I believe I figured this one out @matthewd, `Rack::ETag` buffers the whole response to calculate the ETag value.
Luckily this is skipped if:

 - `ETag` or `Last-Modified` headers are set
 - `Cache-Control` header includes `no-cache`

Working demo: https://github.com/mlangenberg/rack-stream-non-chunked

[2015-04-25 17:45] vsorlov commented on #18869
the problem is that `_routes_context` here https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/routing/route_set.rb#L427
is `ApplicationController`

[2015-04-25 18:39] rebyn commented on #18821
If tomorrow allows, I think I'll take a stab at this as well :-).

[2015-04-26 08:20] vsorlov commented on #18869
actually I found out, that main app routes are also not working
strange, I thought they were

[2015-04-26 09:46] pixeltrix commented on #18869
@vsorlov this sounds more like a support issue than a bug - are you sure you're using something in the correct way? For example the pattern `ApplicationController.new.render_to_string` is not one that you'd expect to see in a Rails application. If you could explain more about what you're trying to achieve then we can see whether it really is a bug or you're using something in a manner it wasn't de

[2015-04-26 10:14] prathamesh-sonpatki commented on #19849
@senny Can we rely on https://github.com/rails/rails/blob/master/actionmailer/lib/action_mailer/base.rb#L598 for checking if the `@email` variable here - https://github.com/rails/rails/blob/master/railties/lib/rails/mailers_controller.rb#L22 - is `NullMail` or not?

[2015-04-26 10:19] prathamesh-sonpatki commented on #19849
@senny I tried to fix the issue as this - https://github.com/prathamesh-sonpatki/rails/commit/836e515a7bd159508671b336052d27331f8051ad

[2015-04-26 11:11] zpaulovics commented on #18513
Hi, unfortunately I could not reproduce the problem.

[2015-04-26 11:11] #18513 closed

[2015-04-26 11:42] vsorlov commented on #18869
@pixeltrix we're rendering users notifications to string and push them to [Faye](http://faye.jcoglan.com/) with [PrivatePub](https://github.com/ryanb/private_pub). Faye loads these notifications through ajax to users browsers.
In these notifications we need to render route paths.

[2015-04-26 17:11] kddeisz commented on #18821
Just put in a PR for DelayedJob https://github.com/rails/rails/pull/19910

[2015-04-26 18:12] imanel commented on #19863
It's slightly more complicated.

Line you're mentioning is in [AutosaveAssociation](https://github.com/rails/rails/blob/85465ed3e6c582d25f0c8fafe21f7a2c182c2f67/activerecord/lib/active_record/autosave_association.rb#L333), and is responsible for properly setting error name. Right now resulting `c.errors.keys` will look have proper namespace:

[code]

If you will remove it then it will change to ju

[2015-04-26 18:14] pixeltrix commented on #18869
@vsorlov thanks, that's a little clearer - the way you're trying to use `ApplicationController` isn't really designed for what you're trying to do because it expects a request. You need to setup a view context manually and you can either use Action View or alternatively a lighter weight template engine like Tilt, e.g:

[code]

[code]

Running `ruby action_view.rb` gives the following output:

[cod

[2015-04-26 18:14] #18869 closed

[2015-04-26 18:23] pixeltrix commented on #18869
FYI, in Rails 5 this will be easier since we've added [`ActionController::Renderer`][1] - this allows you to just do `FooController.render :index, locals: {}, assigns: {}`.

[1]: http://edgeapi.rubyonrails.org/classes/ActionController/Renderer.html

[2015-04-26 18:39] vsorlov commented on #18869
@pixeltrix thanks, I'll try it :)

[2015-04-26 20:02] AlexParamonov commented on #19803
[code]

That worked. But I will keep the local patch since the way Rails forces it to work is confusing. But you have to maintain backward compatibility, I understand.

[2015-04-26 20:41] msroot opened #19912 "ActiveRecord::ProtectedModel"
I would like to protect my model in production of of being deleted

[code]

My model:
[code]
or for define this in `production.rb`

[code]

It would be nice if rails provide this functionality `by default` ?
I don't know if there is a functionality like this already but for me its something fundamental
If there is i couldn't find nothing till now
Of Course there is the `soft delete` but this is a

[2015-04-26 20:44] rafaelfranca commented on #19912
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-04-26 20:44] #19912 closed

[2015-04-26 21:00] meinac commented on #19803
@AlexParamonov so feel free to close this.

[2015-04-26 21:03] #19803 closed

[2015-04-26 21:24] meinac commented on #19896
I believe your includes takes wrong arguments. Did you try your includes method like this?
[code]
and you have to use
[code]
if you want AR to don't trigger to sql query for count.

Also in your includes case if you use assertion like this;
[code]
it will pass. Because you mapped customer into order and you have to access it through the order.

[2015-04-27 00:55] kernel-io commented on #19859
<3 <3

[2015-04-27 01:19] JasonBarnabe commented on #19896
In this scenario, a `Receipt` can be directly related to  `Customer` as well as indirectly through an `Order`. The use of `to_a.length` is to purposely load the the `PhoneNumber`s.

This is just a reduced testcase to demonstrate the bug; in my app, the actual `PhoneNumber`s are used and not just counted, there is a reason why I'm using `references`, and `receipt.order.customer` and `receipt.custom

[2015-04-27 07:44] slbug opened #19916 "Saving STI association with becomes does not saves type column"
test case (fails on 4.2.1 and master)

[code]

[2015-04-27 08:09] ppawlikmb commented on #19545
@senny of course you are right on the cause. I have no idea how could I miss that. :confused:

[2015-04-27 08:23] senny commented on #19849
@prathamesh-sonpatki I had a fix already prepared. You can follow the discussion here: #19917

[2015-04-27 09:23] meinac commented on #19916
Please use becomes! instead of becomes
[code]
As far as i can see from the documentation of becomes! method it says;
[code]

[2015-04-27 09:41] slbug commented on #19916
@meinac Thank you, missed this method

[2015-04-27 09:41] #19916 closed

[2015-04-27 09:50] #19545 closed

[2015-04-27 09:55] senny commented on #19545
@ppawlikmb I reverted the offending commit and backported the revert to `4-2-stable` and `4-1-stable`.

[2015-04-27 10:13] #19794 closed

[2015-04-27 10:18] senny commented on #19794
This is something, which needs fixing on the DB2 adapter side. I've committed a test-case to the Active Record suite to make sure `create_table` with `foreign_key: true` definitions and an adapter without foreign key support does result in a no-op. This is already the case for our `SQLite3Adapter`.

The root of the problem is the [`TableDefinition`](https://github.com/ibmdb/ruby-ibmdb/blob/master/

[2015-04-27 10:19] zjuanma commented on #19794
This is mi migration. Where I have to add the foreign_key ?

class DeviseCreateUsers < ActiveRecord::Migration
  def change
    create_table(:users) do |t|
      t.string :username, null: false
      t.string :email, null: true

      ## Rememberable
      t.datetime :remember_created_at

      ## Trackable
      t.integer  :sign_in_count, default: 0, null: false
      t.datetime :current_sign_in_

[2015-04-27 10:21] senny commented on #19794
@zjuanma in your migration there are no foreign keys involved. It's a compatibility issue with the Rails 4.2. and the DB2 adapter gem.

[2015-04-27 13:15] #18373 closed

[2015-04-27 16:23] meinac commented on #19896
Can you please change your declaration of gemfile to use my rails patch location and try again?
[code]
I believe this should work.

[2015-04-27 16:30] JasonBarnabe commented on #19896
Yes, the test works with that patch.

[2015-04-27 18:38] slavingia commented on #18563
Still an issue. Unfortunately, can't get it to work with the reproduction script.

[2015-04-27 18:42] sgrif commented on #18563
If you can't reproduce it in isolation, its likely a bug in your app, not Rails. Feel free to open a new issue if you're able to reproduce in the future.

[2015-04-27 18:42] #18563 closed

[2015-04-28 01:22] dgreenbe77 opened #19926 "ActiveRecord::Store accessors not included by default in serializable_hash"
Interested in creating a pull request to allow store_accessors to be included by default in serializable_hash, as database columns are. Was wondering if this was something worth addressing, couldn't find any issues relating to this?

[2015-04-28 02:43] matthewd commented on #19926
Please use the rails-core mailing list for feature requests/proposals/discussions. We reserve the issue tracker for issues only.

[2015-04-28 02:43] #19926 closed

[2015-04-28 07:17] barsukov opened #19929 "link_to from mailer templates does not go to :put action"
Probably I put my problem here. I have ``link_to "lala",url, method: put`` from my mail template every time try to call ``show`` (GET) method from controller not a ``update``(PUT). Url is correct I try every methods with url_for and direct try to set ``:action``. I foud the similiar problem here http://stackoverflow.com/questions/12812166/call-update-action-via-link-in-email-with-rails

[2015-04-28 08:13] senny commented on #19929
@barsukov can you provide a minimal sample application to reproduce the problem? You can create a blank rails app and only add in the functionality to replicate the issue. Then upload it to GitHub.

[2015-04-28 08:16] barsukov commented on #19929
You mean I need to create simple rails app with this problem and provide the link to this?

[2015-04-28 08:17] senny commented on #19929
@barsukov yes, that would go a long way to debug your problem and provide help.

[2015-04-28 08:22] barsukov commented on #19929
OK I will

[2015-04-28 08:59] prathamesh-sonpatki commented on #19929
I don't think we can create PUT, POST, DELETE links for mailer templates, because when user clicks on it, Rails UJS is not available to convert them to PUT or POST etc.

I think what you can do is ->

Include a GET link in the email.
When user clicks on it, show a form to user on your app.
And then when user submits the form, it will be a PUT request.

[2015-04-28 09:02] senny commented on #19929
@prathamesh-sonpatki is right. I somehow managed to miss the part that we are talking about a mailer template :pensive:. Going to close this issue.

@barsukov thank you for reporting.

[2015-04-28 09:02] #19929 closed

[2015-04-28 09:12] prathamesh-sonpatki commented on #19929
@senny Should I add a note about this in action mailer guide?

[2015-04-28 09:18] senny commented on #19929
@prathamesh-sonpatki sure, I wouldn't go into too much depth though. A simple note that non-get links don't work should be fine.

[2015-04-28 11:40] barsukov commented on #19929
But what happened in standard I think behaviour, I mean I want to confirm or decline some suggesstion for example (and when I go to the links I want to do this action) Of course I have already implement this problem I create to addtional GET action which call my Update action for exampel
[code]
But I think that is not a solution ...

[2015-04-28 12:02] prathamesh-sonpatki commented on #19929
@barsukov We just added a note about it in guides - take.ms/Ot1C2

[2015-04-28 12:12] barsukov commented on #19929
@prathamesh-sonpatki Thanks :)

[2015-04-28 12:56] meinac commented on #19896
@JasonBarnabe I've created a pull request for this bug. I hope someone from rails team will merge it then your problem will be fixed.

[2015-04-28 14:24] #19849 closed

[2015-04-28 14:28] senny commented on #19849
@maninalift solved and backported to `4-2-stable` and `4-1-stable`. Thank you for reporting.

[2015-04-28 20:01] rafaelfranca commented on #17657
Closed by #19941. Thanks @javan

[2015-04-28 20:01] #17657 closed

[2015-04-28 20:22] john-999 opened #19944 "Rails 4.2: simple_format omits sanitizing by default"
simple_format omits sanitizing by default (which should only happen when "sanitize: false" is used)

    <%= simple_format("<b>This text should not be bold</b>", {}, wrapper_tag: 'p') %>

[2015-04-28 20:53] matisoffn opened #19946 "ActionController render_to_string() converting HTML to unicode characters"
I have the line below in a method in one of my Rails controllers:

[code]

The JSON in the HTTP response has converted all of the HTML characters to unicode, ex: `<` to `\u003c`.  Why does this convert to unicode by default, and how can I tell Rails not to convert the HTML to unicode characters?

[2015-04-28 21:15] matthewd commented on #19946
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-04-28 21:15] #19946 closed

[2015-04-28 21:20] rolandoivan23 commented on #18739
You can use ActiveRecord -v 4.1.10 it works for me

[2015-04-28 21:34] matisoffn commented on #19946
This isn't an issue?  Shouldn't it convert it to an HTML string?

[2015-04-29 00:42] shouquan commented on #18739
ok~i will try it.Thank you for your reply!

在 2015-04-29 05:21:53，"Rolando Iván Vázquez" <notifications@github.com> 写道：

You can use ActiveRecord -v 4.1.10 it works for me

—
Reply to this email directly or view it on GitHub.

[2015-04-29 04:02] chancancode commented on #19815
Checked with @rafaelfranca, as far as we can tell, this is "supposed" to work, so we should probably figure out what went wrong instead. Reopening!

[2015-04-29 04:03] chancancode commented on #19815
(see #19817 for some more context)

[2015-04-29 07:27] PikachuEXE commented on #19882
This has been an issue for a long time.
I workaround with using a scope which always use a certain order of scopes:
[code]
But it's really painful debugging before I know it's a rails bug and worked around

[2015-04-29 07:59] PikachuEXE opened #19951 "Add deprecation message for ActionController::Parameters...?"
In 5109740c6be67047df56feb164012c3a1a3c619b, `ActionController::Parameters`'s inheritance from `HashWithIndifferentAccess` is stated to be deprecated (although not yet according to master)

I think methods which exists in `HashWithIndifferentAccess` (and thus `Hash` as well) but not in `ActionController::Parameters` should have deprecation message.

[2015-04-29 10:42] rafaelfranca commented on #19951
Thank you for the suggestion but we will take the path of letting it raise a no method error.  since those methods may not work correctly right now, there is no point to deprecate them.

[2015-04-29 10:42] #19951 closed

[2015-04-29 19:33] bostrom opened #19955 "Rails 4.2: using aliased attribute in joined relation's where condition"
So I came across this behavior today while querying a model using the joined-in model's aliased attribute as condition:
[code]
Now with this setup, the query
[code]
Fails with
[code]
Is this expected behavior, not being able to use the attribute alias in a where condition like this, or am I doing something wrong?

A normal where condition on the Books model works fine:

[code]

Working test case h

[2015-04-29 19:55] sgrif commented on #19955
This is the expected behavior, but the ability to use things like aliased attributes or custom types through a join will improve in 5.0

[2015-04-29 19:55] #19955 closed

[2015-04-29 21:47] z5h opened #19958 "hash is implemented suboptimally for ActiveRecord instances with no id"
The default ActiveRecord hash implementation is to return the hash of the id.

This is great for persisted instances. It's terrible for un-persisted instances especially because Rails defaults to BasicObject.== for ActiveRecord instances with no IDs.

So all unsaved ActiveRecord instances will have the same hash and not be equal. This is a worst-case scenario for performance of putting many un-per

[2015-04-30 01:14] matthewd commented on #19958
[activerecord/lib/active_record/core.rb#L416-L422](https://github.com/rails/rails/blob/8cf22cefd4e44b6dae1152b4fddea240c7ee479b/activerecord/lib/active_record/core.rb#L416-L422)

[2015-04-30 01:14] #19958 closed

[2015-04-30 07:49] veera opened #19960 "Rails 4.2.1: ActiveRecord's save and save(validate: false) methods issue with serialized attributes"
This works fine in Rails 4.1

For example consider a User model with a serialize attribute `options`. `null:false` for this attribute

Schema

[code]

Model

[code]

Failing test

[code]

Running above test, getting this error, Also seen the same issue on MySQL.
[code]

It seems even though if i set model attribute(options) value is empty array, it doesn't available on ActiveRecord::Statement(Quer

[2015-04-30 10:41] johnnyshields opened #19963 "StrongParameters: permit, require, and the principle of least surprise"
(Moving discussion from https://github.com/rails/strong_parameters/issues/182)

The gist:
* New users find it surprising that StrongParameters method `.require` returns the inner parameter hash (shifts scope) while `.permit` does not.
* The method name `.require` is also confusing vis-a-vis `Kernel.require`
* There is suggestion that the functions of requiring / permitting be decoupled from scope-

[2015-04-30 10:59] atrauzzi commented on #19963
Definitely agree. The API of strong parameters really leaves things in a state that is difficult to work with.

I like to contrast it to Symfony and Laravels designs of the bag/input/request classes.  Those are much easier to use and allow a lot of flexibility for getting values from the current request.

Also, require seems like a component of validation. To which I suggest you take a look at Lar

[2015-04-30 14:25] jacekgrzybowski opened #19964 "Rails 4.2: ActiveRecord enum builds incorrect query when used with string or symbol"
Happens to me when working with `Rails 4.2.0 and Ruby 2.2.1`.

My enum definition:

    class Example < ActiveRecord::Base
      enum status: [:active, :unrolled, :rewarded]
      ...
    end

Scope works properly:

    2.2.1 :001 > Example.unrolled
    Example Load (0.5ms)  SELECT `examples`.* FROM `examples` WHERE `examples`.`status` = 1

However, according to the docs, when querying with not, I

[2015-04-30 14:30] matthewd commented on #19964
As far as I'm aware, those spellings aren't supported. If documentation claims otherwise, I think it's the thing that's wrong.

[2015-04-30 14:47] jacekgrzybowski commented on #19964
Well, you might be right.
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/enum.rb#L35-L39

[2015-04-30 21:00] semaperepelitsa opened #19967 "ActionView translate regression since 4.1 when default is missing"
Here is my test case:

[code]

The last test is failing since version 4.1.

[code]

[code]

[code]

Is this a feature or a bug?

[2015-04-30 21:00] travisp opened #19968 "When running cache_digests dependency rake tasks, notify if file not found"
Currently ActionView::Digestor silently fails if it's not able to find the provided template.

[code]

When using the rake task to look up nested dependencies this makes it difficult to know if a bad template name has been provided or not.

[2015-05-01 09:24] senny commented on #19963
I found that the current API matched my use-cases nicely. I'd like to see examples where you had issues with how things work right now.

/cc @fxn @dhh

[2015-05-01 10:14] johnnyshields commented on #19963
Some cases I see frequently:

To optionally load a parameter:

[code]

To optionally load two parameters:

[code]

Two require two parameters

[code]

[2015-05-01 12:06] Sega100500 commented on #19890
@rafaelfranca
My answer above. Still not readed?

[2015-05-01 12:18] atrauzzi commented on #19963
@senny - It's not fine grained enough.  You can't easily slice out vales from the request and the fact `require` only supports one parameter at a time is bizarre.  What it returns is even stranger still.

I'd wager that it's not so much that it suits your use case, you just adjusted your use-cases to the poor API.

[2015-05-01 12:39] johnnyshields commented on #19963
The Laravel functionality is interesting b/c validation currently lives in the Rails models. Parameter assignment validation used to be in the models (Rails 3 and earlier) but moved to the controllers in Rails 4. Perhaps as a "bigger picture" it would make sense to allow validation and assignment to be controlled in both the model and the controller, depending on the use case, with a common syntax

[2015-05-01 12:49] fny commented on #19861
Current thought is that `GlobalId` should raise a `GlobalId::BlankIdError`, which can later be rescued by ActiveJob, which could then raise a more specific error. See rails/globalid#68.

[2015-05-01 21:32] tiegz commented on #12474
(fwiw, I just came across this upgrading an app to 4.0.13. Haven't dug into it, but both #12659 and #18805 seem to fix it.)

[2015-05-01 22:33] atrauzzi commented on #19963
I used to think that model validation was useful, but in many ways can just be an obsession with "correctness".  Contextual validation works a lot more nicely and is a little less intense.  You can ensure correctness at the edges of your app, and completeness simply via the presence or absence of values.  Handle accordingly throughout.

(This of course doesn't preclude you from doing checks later

[2015-05-03 09:23] sxasraf opened #19985 "image-url in background vs background-image properties behave differently?"
For some reason, this:

    &.female {
        // compiles into: background-url: url('/images/avatar-blank-female.png');
        background-url: image-url('avatar-blank-female.png');
    }

Is different than this:

    &.female {
        // compiles into: background: url('/assets/avatar-blank-female.png') no-repeat center center;
        background: image-url('avatar-blank-female.png') no-repeat c

[2015-05-03 09:44] kaspth commented on #19985
Please use StackOverflow or the ruby on rails talk mailing list for questions like these. There's a wider community to help you there. Thanks :heart:

[2015-05-03 09:44] #19985 closed

[2015-05-03 14:37] jonhyman opened #19993 "deep_dup doesn't work properly when classes are used as keys or values"
Rails 3.2.13 with ActiveSupport of the same version:

[code]

Rails 4.2.0 with ActiveSupport of the same version:

[code]

[2015-05-03 15:03] walterdavis opened #19996 "Model named "Asset" cannot accept PATCH or PUT requests"
Trying a new 4.2.1 application based on a working 4.1.8 application (entirely rebuilt in 4.2.1 using scaffold, not reusing any 4.1.8 code).

A model named Asset will work for a POST or GET request, but will not accept PATCH or PUT requests (did not test DELETE).

Testing in WEBrick, the browser shows a plain text error message `Method Not Allowed`. The console reports `Started PATCH "/assets/1" fo

[2015-05-03 15:34] matthewd commented on #19996
Have you moved the asset pipeline to something other than `/assets`? If you define application routes that overlap with `config.assets.prefix`, such misbehaviour would not surprise me. (Though I suppose the fact it used to work, might.)

[2015-05-03 15:49] walterdavis commented on #19996
No changes at all from default "scaffold" behavior. The only two routes were `resources :projects` and `resources :assets`. No changes to asset pipeline at all, and I was running this in development, against MySQL. I had the same behavior in Thin as well as WEBrick.

I have a current application in production for Spike TV with a model named Asset. It's running 4.1.8, but I'll be upgrading it soon,

[2015-05-03 16:05] prathamesh-sonpatki commented on #19996
I tried to reproduce this issue and created a sample app with scaffolding. https://github.com/prathamesh-sonpatki/asset-model-rails-app

Having this issue for `POST` action too. @walterdavis Please check if the app is right?

[2015-05-03 16:14] matthewd commented on #19996
You wouldn't need to dig very far in the issue tracker to see complaints about Actually Reserved words appearing in each release -- though we do strive to minimize them.

As far as I know, however, this is about the least reserved you can get: change one config setting, and the problem should go away:

[code]

@prathamesh-sonpatki while you're there, are you able to confirm it works on 4.1?

[2015-05-03 16:18] imanel commented on #19967
Looks like between 4.0 and 4.1 new options [was introduced](https://github.com/rails/rails/commit/c1d5477b63e73dadec9f284fa55ec22d81f3bf36#diff-cda406008ce3935156e8ba173b1e9837R62) that allows enabling or disabling raise in case of missing translation, with false as default.

But then something [went horribly wrong](https://github.com/rails/rails/commit/dc09322a1db72e86d1bf5070b1d8888ef51f66ed#dif

[2015-05-03 16:35] prathamesh-sonpatki commented on #19996
@matthewd Having same issue on 4.1 - https://github.com/prathamesh-sonpatki/asset-model-rails-app/tree/4-1

[2015-05-03 16:44] walterdavis commented on #19996
Here's a test app: https://github.com/walterdavis/asset-test

[2015-05-03 16:45] matthewd commented on #19967
The problem is that (per the comment above that assignment) `options[:raise]` is being set for the underlying call to `I18n.translate` -- we need that to raise, so that we'll end up in [the right place](https://github.com/rails/rails/blob/71669370ae789f547311821ab880b0f19682b405/actionview/lib/action_view/helpers/translation_helper.rb#L84-L92).

However, having mangled `options` for that purpose,

[2015-05-03 16:55] imanel commented on #19944
It looks like default sanitization is very permissive:

1. [simple_format calls sanitize](https://github.com/rails/rails/blob/61f1b86b8493b66f0c3c80b0738630344764d6de/actionview/lib/action_view/helpers/text_helper.rb#L286)
2. [sanitize will call default white_list_sanitizer](https://github.com/rails/rails/blob/61f1b86b8493b66f0c3c80b0738630344764d6de/actionview/lib/action_view/helpers/sanitize_hel

[2015-05-03 16:55] walterdavis commented on #19996
Here's the relevant parts of the running Spike application: https://gist.github.com/walterdavis/3184e5eca1ffc2c3420c

This app is in Rails 4.1, and I can post or put or patch assets all day long there. I have not made that change to the assets route as noted earlier (and that's a great tip, much easier than renaming my models!)

[2015-05-03 17:20] matthewd commented on #19996
@prathamesh-sonpatki thanks :ok_hand:

It looks like it's a sprockets 3-ism. Changing the Gemfile to use sprockets < 3 makes the message go away (though interestingly, it doesn't show a flash message after the save -- whereas it does when I change the assets route, on either sprockets version :confused:).

So, I'm closing this issue as not something we can fix in this repository; @walterdavis feel

[2015-05-03 17:20] #19996 closed

[2015-05-03 17:25] walterdavis commented on #19996
Thanks for the follow-up, and good to know there's a reasonable explanation. Besides changing that prefix with the preferences setting, do I also need to rename my assets folder? Or is this just a public path to the stable assets folder?

[2015-05-03 17:25] marutosi opened #19997 "[master] NameError: uninitialized constant Rake::TestTask"
https://bitbucket.org/marutosi/rails5-sandbox/src/ae93553ea31d/lib/tasks/redmine.rake#cl-155

[code]

[code]

[2015-05-03 17:26] prathamesh-sonpatki commented on #19996
@matthewd @walterdavis On digging more, this was added in Sprockets here - https://github.com/rails/sprockets/commit/62847ac5 which is above Sprockets > 3.0.

[2015-05-03 17:31] matthewd commented on #19996
@walterdavis next time you do a precompile, a `public/` subdirectory will be created with the new name; `app/assets` stays where it is. So yeah, as far as I know, that setting should be literally the only thing you need to change.

[2015-05-03 17:46] walterdavis commented on #19996
Thanks again. Just confirmed that myself, too. This makes me so much more comfortable then!

[2015-05-03 18:30] imanel commented on #19967
#19998 should fix this problem.

[2015-05-03 20:28] JohnDoe42 opened #20001 "[4.2.1] index.scss not correctly linked"
1. rails new ./ (in project folder)
2. rails generate controller index
3. rails generate controller indexx
4. rails assets:precompile
5. run server and open root folder in browser

Sourcecode:
[code]

You will notice, that the "..self-<hash>.css" link will not work (403) except you remove one dot (".self-<hash>.css")

This only happens if I generate a controller named "index" - everything else wor

[2015-05-03 20:40] #17195 closed

[2015-05-03 20:45] #14148 closed

[2015-05-03 20:51] rafaelfranca commented on #19997
The error seems right. You are expecting rails to require `Rake::TestTask` when you should not. To fix this just require it in the file you are expecting it to be defined.

[2015-05-03 20:51] #19997 closed

[2015-05-03 21:42] vizo commented on #13609
:+1: +1

[2015-05-03 22:13] rafaelfranca commented on #19890
hmm, got it. Seems like a bug indeed. Thank you for reporting.

[2015-05-03 22:32] marutosi commented on #19997
Sorry, I cannot understand what you said.
This is Rails 5 regression.

https://bitbucket.org/marutosi/rails5-sandbox/src/41ed7be0b397d/lib/tasks/redmine.rake

lib/tasks/redmine.rake
[code]

On Rails 4:
[code]

[code]

[2015-05-03 22:35] rafaelfranca commented on #19997
It is not a regression. I know that rails is not requiring `Rake::TestTask` anymore in master but this is because we don't need it anymore.

What I said is: You are expecting Rails to require `Rake::TestTask` when you should not. If you want to use that in your own rake files you should require it.

[2015-05-03 22:43] marutosi commented on #19997
OK. I see.

[code]

[2015-05-03 22:44] rafaelfranca commented on #19997
Yeah, that is it. This behavior changed at https://github.com/rails/rails/commit/8017e6af31caa58a58787274ff0ca01397219e49. Like I said we don't need to require that anymore, so we removed.

[2015-05-03 23:10] #19092 closed

[2015-05-04 00:42] chrislambe commented on #19996
Just ran into this about an hour ago. Changing the asset prefix worked. I'm glad I didn't hit this problem yesterday... this could have been a really long and painful debugging session.

[2015-05-04 02:09] rafaelfranca commented on #19960
cc @sgrif

[2015-05-04 02:14] rafaelfranca commented on #19963
I'm not sure about this one but usually we don't take API design discussion in the issue tracker. I can say that even if the API is surprising it is working as intended to work so it is not really a bug so I'd say to move this discussion to the Rails core mailing list or if you have any suggestion open a PR with it.

The PR don't need to be complete, it can include just a PoC or a few methods of t

[2015-05-04 02:14] #19963 closed

[2015-05-04 02:16] rafaelfranca commented on #19964
@sgrif I think you changed something about this right?

[2015-05-04 02:21] rafaelfranca commented on #19968
Yeah, you are right. Could you open a PR?

[2015-05-04 02:34] johnnyshields commented on #19963
@rafaelfranca wherever we raise this discussion we seem to be directed to somewhere else. Where is the right place to discuss improvements to the API?

[2015-05-04 02:42] johnnyshields commented on #19963
ok thanks

[2015-05-04 02:48] rafaelfranca commented on #20001
This issue was moved to rails/sprockets#41

[2015-05-04 02:48] #20001 closed

[2015-05-04 02:57] atrauzzi commented on #19963
I brought this discussion to the mailing list a while back: https://groups.google.com/forum/#!topic/rubyonrails-core/1OFGm1pTegE

Discussion seemed to go nowhere, so is this policy just a way to black-hole feature requests?  I would have hoped for at least one person with internals-experience to come up with a cogent explanation.  But so far the only thing about strong params that seems clear to m

[2015-05-04 03:14] rafaelfranca commented on #19963
No. I'd say that same would happen on this issue tracker, the only difference is that the issue would be still open until someone that really care about the problem would try to fix..

We know that the current API will not work for all the cases, but it works for 80% of the cases. We knew that when we made it and I don't see in any place someone saying that these is no room for improvement. We jus

[2015-05-04 03:54] johnnyshields commented on #19963
@atrauzzi let's draft a proposed API change and reintroduce it on the Google Groups tracker.

[2015-05-04 05:32] sgrif commented on #19964
Yes, this works on master. It has never worked in 4.x. Passing enum values to where isn't supported prior to Rails 5.

[2015-05-04 05:32] #19964 closed

[2015-05-04 09:23] ppawlikmb commented on #19545
Great! Thanks! :+1:

[2015-05-04 09:59] #14435 closed

[2015-05-04 14:10] chrisccerami commented on #10091
This has been fixed as of Rails 4, right? This issue is contained to 3.2?

[2015-05-04 14:31] jvenezia opened #20011 "unscoped associations not working with joins"
Here is a simple example:

[code]

[code]

As a workaround, I write my INNER JOIN manually.

[code]

[2015-05-04 14:38] rafaelfranca commented on #19993
See https://github.com/rails/rails/pull/20008#issuecomment-98723674

[2015-05-04 14:50] rafaelfranca commented on #19993
[code]

is wrong.

[2015-05-04 14:51] sgrif commented on #19960
I can't seem to find the original issue for reference, but basically this is the expected behavior. The reason it's not persisting is because the column hasn't been changed, and if we were to mark it as changed that would break the contract of `User.new.changed? == false`. All of this comes back to a quirk in the original design of `serialize`, that says it never returns `nil`, and therefore casts

[2015-05-04 14:51] #19960 closed

[2015-05-04 15:33] jeffdeville opened #20012 "Disagree with Rails Security 7.1, bullet 1"
before_actions add functionality to a controller method.  They're usually something like authenticate_user or authorize_user

So I think that except is actually whitelisting in this instance. You want security on by default, and to have to turn it off explicitly.

But the bullet point reads:

* Use before_action only: [...] instead of except: [...]. This way you don't forget to turn it off for new

[2015-05-04 16:03] optimum-dulopin opened #20015 "dynamic table_name"
Hi,

I have a problem with dynamic table_name with 4.2.1. With 2.1.9, it was working well

here my simplify models :

class Aaaa < ActiveRecord::Base
  has_one :bbbb, dependent: :destroy, :inverse_of => :aaaa
end

class Bbbb < ActiveRecord::Base
  belongs_to :aaaa, :inverse_of => :bbbb
end

Bbbb.table_name = "cccccs"
aa = Aaaa.where(:id => 1)[0]
aa.bbbb
it runs a select query such as : SELECT  "cc

[2015-05-04 16:32] senny commented on #19963
@johnnyshields :+1: sounds good. Have a concrete suggestion will help with a constructive dialog. We'll make sure that it gets the necessary attention.

[2015-05-04 16:38] matthewd commented on #20015
Sorry, but that's the answer. You're doing something that's (as far as I'm aware) not documented, and not supported.

You're welcome to find some other, possibly also unsupported, way of solving the same problem. The trade-off in using such behaviour is that you can't get official support for it.

I suspect that if you were to contact the mailing list, and describe the problem you're trying to sol

[2015-05-04 16:38] #20015 closed

[2015-05-04 16:53] optimum-dulopin commented on #20015
thanks for quick answer.  Sorry if I offended you with my "Please no answer as "you shouldnt do this, doing this is not good, or whatever" ", that was really not the point, I was just trying to save time.

Yes Im aware that it is not supported, even if I dont understand why. Could it be at least possible to know  if there is a reason that now the relation is instantiate when the object is created

[2015-05-04 20:09] acapilleri commented on #20011
@jvenezia are you sure that :
[code]
doesn't works?

[2015-05-04 21:23] #19967 closed

[2015-05-04 21:28] #19993 closed

[2015-05-04 22:48] desaperados opened #20020 "rake db:schema:dump is incorrectly setting default: nil on postgres tables using uuid identifiers"
Rails version 4.2.1

Using the uuid-ossp postgres extension for uuid identifiers and have the following schema.rb and postgres output as you would expect:

[code]
[code]

However, running rake db:schema:dump is introducing `default: nil` into the table declaration which breaks uuid functionality:

[code]

Which is overriding the `uuid_generate_v4()` default required for uuids to work. The resultin

[2015-05-05 02:58] ioquatix commented on #18400
I'm still seeing this behaviour.. a lot of empty transactions, isolated it to what in practice works out to be equivalent to `model.update_attribute(:foo, model.foo))`. Writing model.foo = model.foo; model.save if model.changed? avoids the empty transaction.

[2015-05-05 07:13] inspire22 commented on #11631
Any infinite loop has its caller lost by rails, which makes it very difficult to track down where it's from.

      get '/test' => 'example#test'

    class ExampleController < ApplicationController
      # infinite loop
      def test() test2() end
      def test2() test() end
    end

[2015-05-05 08:30] jvenezia commented on #20011
This works perfectly in one case, but not when it is used in a `joins`.

Check out the generated SQL in my example. In the first case, the default scope is ignored. But in the second case with a `joins`, we still have the default scope condition `"organization_memberships"."is_deleted" = 'f'`.

[code]

[2015-05-05 11:27] thedarkone commented on #11631
No, this is an MRI bug https://bugs.ruby-lang.org/issues/6216.

[2015-05-05 14:40] owen2345 opened #20029 "Load helpers on demand helper"
Can anyone help me how can I load helpers on demand?
I have a multisite project and  I need to include helpers for each site (dynamic). Note: each site has a different domain.
site1.com
site2.com

[2015-05-05 14:43] kaspth commented on #20029
We reserve the issue tracker for bugs only. Please ask StackOverflow or the Ruby on Rails talk mailing list where a wider community can help you :heart:

[2015-05-05 14:43] #20029 closed

[2015-05-05 15:16] MhdSyrwan commented on #15332
@ojab to generate what you hard coded using rails you should use `accept_nested_attributes_for`, check this link as an example http://stackoverflow.com/questions/2212622/accepts-nested-attributes-for-with-has-many-through-options

[2015-05-05 16:24] stenver opened #20033 "Schema dump support for multiple schemas"
What do you guys think of adding support for multiple schemas in the schema dump. The way it would work is instead of exporting
```create_table 'table_name' ``` in schema.rb, it would
```create_table 'schema.table_name'```
This could be figured with some configuration flag.

I would be happy to work on this PR myself if you guys think its a good idea. If not, please let me know why not.

[2015-05-05 16:28] matthewd commented on #20033
Per the [contribution guidelines](https://github.com/rails/rails/blob/master/CONTRIBUTING.md), we prefer to keep the issue tracker for issues only; feature discussions should occur on the mailing list.

Thanks!

[2015-05-05 16:28] #20033 closed

[2015-05-05 17:25] prakashmurthy opened #20035 "Flash message not being displayed while rescuing from ActionController::InvalidAuthenticityToken"
I am trying to rescue from ActionController::InvalidAuthenticityToken in the application controller with the following code:

[code]

The redirect works fine, but the alert message does not show. The flash hash is empty in the new page: `#<ActionDispatch::Flash::FlashHash:0x007f9dbdb5c1d0 @discard=#<Set: {}>, @flashes={}, @now=nil>`

There are no other filters in the application controller that co

[2015-05-05 17:32] nixpulvis commented on #20020
I cannot recreate this issue in a Rails 4.2.1 application I have. I tried running removing my schema.rb then running `rake db:schema:dump` and it worked as expected with no diff in git.

[2015-05-05 19:34] pixeltrix commented on #20035
Since flash is dependent on the session and the session is dependent on cookies working then it's never going to work if you think about it, :smile:

I'd suggest redirecting to a custom url or add a query param to the url that triggers the display of the message. Sorry, there's nothing else we can do.

[2015-05-05 19:34] #20035 closed

[2015-05-05 19:42] nixpulvis opened #20037 "Calling `.primary_key` before schema is defined incorrectly returns "id""
The following code example demonstrates how calling `.primary_key` on a model before the schema is loaded not only returns `"id"` but also sets the primary key to `'id"` for future calls.

[code]

[2015-05-05 19:46] prakashmurthy commented on #20035
Thanks @pixeltrix That does make sense. Will redirect to a custom url.

[2015-05-05 21:12] inspire22 commented on #11631
updating to 2.2-head fixed the issue of useless "stack level too deep" backtraces, thanks for the heads up!

[2015-05-05 21:34] markets commented on #20011
I think this can be closed in favour of https://github.com/rails/rails/issues/13775 (and [other related issues](https://github.com/rails/rails/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+unscoped+joins)). Also, there is a PR: https://github.com/rails/rails/pull/18109.

[2015-05-05 21:52] FlaviaFortes commented on #19226
What do you think @rafaelfranca?

[2015-05-05 22:09] todd opened #20039 "Rails Console Doesn't Appear to Honor Environment Argument"
Noticed this while debugging a separate issue while upgrading one of our apps to Rails 4.2.1. Starting a Rails console in a non-development environment by specifying the environment as a command argument doesn't appear to load the correct configuration for that environment.

Here's a snippet from our `staging.rb`:
[code]

And here's some output from a staging environment Rails console:
[code]

How

[2015-05-06 03:21] justinj656 commented on #1769
The workaroud I use is to add as: to change the path helper for the singular resources, like
`resource company, as: :companies`

[2015-05-06 05:19] pravi opened #20042 "assert_file fails when filename has special characters (~, +)"
See https://github.com/mperham/sidekiq/issues/2065 for background. These are used to give special meanings to package names in debian (x.y.z~something, means a lower version of x.y.z. this is used to convey ~alpha, ~beta or ~rc should be updated by x.y.z version). I hope this will will be fixed.

[2015-05-06 08:34] jvenezia commented on #20011
Thanks @markets ! Closing.

[2015-05-06 08:34] #20011 closed

[2015-05-06 10:01] kaelumania opened #20043 "Rails session_store custom session_options are ignored in testing environment"
We experienced a Problem using a custom session store and some optional session_options in our testing environment for controller tests. Our rails configuration contains the following line:

`Rails.application.config.session_store :active_record_store_with_url_parameter, session_key: '_my_session_key'`

Everything is fine when we start up the development environment and the session variable in our

[2015-05-06 11:57] mrstif opened #20045 "Rails 4.2.1 regression: ActiveRecord override of ActiveModel's changes_include? causes unexpected behaviour"
Noticed that the `changed_include?` from `ActiveModel` is now being overriden by [ActiveRecord](https://github.com/rails/rails/blob/v4.2.1/activerecord/lib/active_record/attribute_methods/dirty.rb#L79).
The issue is that it now returns `nil` instead of `false` in certain situations, noticeable by the `_changed?`method call:

[code]

Here is the test case for this issue (which passes on AR 4.2.0 bu

[2015-05-06 13:59] senny commented on #20042
After a first glimpse I think this is caused by https://github.com/rails/rails/pull/12606/files#diff-790f18b5ff852b81b7b3784b5ce52a79R24

I'll take a look.

[2015-05-06 14:47] rafaelfranca commented on #20045
`nil` and `false` are both false for ruby semantic so the behavior is still correct. Don't expect any predicate method to return only `true` and `false` singletons.

[2015-05-06 14:47] #20045 closed

[2015-05-06 14:47] rafaelfranca commented on #20045
Thank you for the report :smile:

[2015-05-06 14:51] chenghung opened #20048 "remove_foreign_key do not remove fk index from mysql database"
rails 4.2.1
mysql 5.6

[code]

[code]

execute rake db:rollback without errors
but fk_index still in database

[2015-05-06 15:36] al2o3cr commented on #20048
Can you show the database structure before and after the rollback? I'm not clear on what you mean by "fk_index".

[2015-05-06 16:13] mrstif commented on #20045
well... ok then... can't say I didn't try :dancer:

[2015-05-06 18:59] al2o3cr commented on #19226
Moving the clause from the `ON` to the `WHERE` has consequences for outer joins. For instance:

[code]
With the condition in the `ON` clause, you'll always get at least one row in the result set even if there are no no-spammy comments for a post.

[code]
In this case, you'll get zero rows for a post that doesn't have any matching.

I believe the code for generating join clauses in `includes` and `

[2015-05-06 19:23] desaperados commented on #20020
I've narrowed this down a bit more and found the behaviour is actually being caused by the active record postgis adapter where an issue has already been raised https://github.com/rgeo/activerecord-postgis-adapter/issues/175

[2015-05-06 19:23] #20020 closed

[2015-05-07 05:10] imton opened #20052 "Thoughts on GraphQL and Relay?"
I was watching the way facebook is building their new apps and how they are modeling and fetching data.

As the evolution of React they now let components declarative state which data they need and state that in GraphQL. Is it kind of the end of REST endpoints for this model?

I really feel this is the future of writing software for many different platforms. Shouldn't Rails be part of it?

I invit

[2015-05-07 05:45] veera commented on #19960
@sgrif ok

[2015-05-07 05:47] robertleelittleiii opened #20053 "Asset Pipeline can't find compiled resource in production for an asset directory shared by the app and a gem."
Noticed this issue while using tinymce-rails gem

Rails 4.2.0 allows asset to be loaded (after precompile) from local asset directory.  I have a custom js plugin for tinymce-rails.  This plugin has a path in assets of:

/assets/javascripts/tinymce/plugins/codemirror/plugin.js

In Rails 4.2.1 the asset is not found even though it is in the compiled assets directory.  The gem has the same path: /ass

[2015-05-07 08:44] senny commented on #20052
@imton we use the GitHub issue tracker for bug reports and pull request discussions. Please use the [rubyonrails-core mailing list](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core) for feature discussions and suggestions.

You can find more details in our [contribution guidelines](https://github.com/rails/rails/blob/master/CONTRIBUTING.md).

[2015-05-07 08:44] #20052 closed

[2015-05-07 08:55] senny commented on #20037
I'm not sure this is a bug. Active Record uses the database to define your models schema. If you use a model without an existing table to infer the schema from, Active Record is forced to fall back on defaults. Adding such table later on of course invalidates these assumptions. To update the models schema we have `Foo.reset_column_information`.

/cc @sgrif @rafaelfranca

[2015-05-07 09:06] senny commented on #20012
@jeffdeville :+1: I agree. Do you mind sending a PR?

[2015-05-07 09:18] ChristianPeters commented on #20043
I am a team mate of @kaelumania and had a chance to dig a bit deeper into this.

We are talking about RSpec controller specs which are a wrapper for a Rails functional test using [ActionController::TestCase::Behavior](https://github.com/rails/rails/blob/e260975baf5b1a54d03ecd685f62f697871b9b65/actionpack/lib/action_controller/test_case.rb).

The `session_options` seem to be picked up only [in the

[2015-05-07 14:29] senny commented on #19785
@hayesmp can you provide an executable test-case to reproduce the issue? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point. If possible, try to reduce the problem to as few models as possible. This will facilitate debugging the problem.

[2015-05-07 16:48] nixpulvis commented on #20037
I just feel that a primary key of nil would be a more sane choice given the lack of a database.

[2015-05-07 17:21] rafaelfranca commented on #20053
Can you please provide a sample application that reproduces the error?

[2015-05-07 18:25] matbrb2 opened #20059 "Problem with MaterializeCSS (toast)"
Hello,
For my website, i need to use Materialize.toast for notification, but it doesn't work.
The part of code is : <code> <? if ($_SESSION['delete'] = 'ok') {echo"
<script type='text/javascript'>Materialize.toast('I am a toast', 4000)</script>";
}
</code>

Thank :)

[2015-05-07 18:26] rafaelfranca commented on #20059
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-05-07 18:26] #20059 closed

[2015-05-07 18:28] matbrb2 commented on #20059
Thanks!

[2015-05-07 19:35] rafaelfranca commented on #20037
Yes, if that is your case you should reset the column information after the schema is loaded, or on Rails 5 define the attributes by yourself with the attributes API.

[2015-05-07 19:35] #20037 closed

[2015-05-07 19:56] todd commented on #20039
I was actually unable to to reproduce this with a fresh app created from 4-2-stable and 4.2.1. There's most likely some weirdness with some library our app is using. I'm gonna close this for now and I'll report back here if I'm able to track down what's causing this in our app.

[2015-05-07 19:56] #20039 closed

[2015-05-07 20:12] nixpulvis commented on #20037
Eh I guess this is a weird use case, but I still think telling people your primary key is `"id"` when it's not defined is misleading.

[2015-05-08 04:55] mattdipasquale opened #20067 "Do not rely on Xcode Command Line Tools being installed"
`gem install ruby` fails to install `nokogiri-1.6.6.2` if the Xcode Command Line Tools aren't installed. We should no longer need to install those. Instead, scripts are now supposed to use `xcode-select --print-path` & `xcrun`.

[2015-05-08 10:36] matthewd commented on #20067
This doesn't sound like a Rails issue

[2015-05-08 10:36] #20067 closed

[2015-05-08 10:58] afilter opened #20069 "why rails new xx failed on win7 x64?"
`rails new xxx`

...

Using jbuilder 2.2.13

**Gem::RemoteFetcher::FetchError: Errno::ECONNABORTED: An established connection was aborted by the software in your host machine. - SSL_connect** (https://rubygems.org/gems/jquery-rails-4.0.3.gem
)
An error occurred while installing jquery-rails (4.0.3), and Bundler cannot
continue.
Make sure that `gem install jquery-rails -v '4.0.3'` succeeds before b

[2015-05-08 11:10] Rohnin commented on #20069
Maybe firewall or antivirus problem?

[2015-05-08 11:29] robin850 commented on #20069
Hi!

We are sorry but this tracker is for issues only, not support. You can ask such questions on StackOverflow of the [rails-talk](https://groups.google.com/forum/#!forum/rubyonrails-talk) mailing list. Also it looks like this is a RubyGems and not a Rails problem. Thanks!

[2015-05-08 11:29] #20069 closed

[2015-05-08 13:52] PlugIN73 commented on #14110
Hi all. Happened to me:

     has_many :course_members, -> (object) { joins(:course).where(courses: {state: :approved, locale: object.locale}) }, class_name: 'Course::Member'
     has_many :lesson_members, through: :course_members

[2015-05-08 17:30] fredv opened #20076 "ActiveSupport::TimeWithZone changed as_json output format causes inconsistencies"
In Ruby 2.2.2 / Rails 4.2.1

`as_json` used to return a ISO8601 DateTime such as "2015-05-03T15:38:45+00:00". It now encodes this adding Miliseconds:  "2015-05-03T15:38:45.234+00:00".

However, this value changes on reloading objects stored in for example MySQL databases, due to lack of support for the storing of milliseconds in certain versions (e.g. field type datetime in 5.6.23).

Hence:
pry> u

[2015-05-08 17:36] fredv commented on #20076
Sorry, missed: ActiveSupport::JSON::Encoding.time_precision

[2015-05-08 17:36] #20076 closed

[2015-05-08 18:01] cxz opened #20077 "PG::ProtocolViolation: ERROR: bind message supplies 0 parameters, but prepared statement "" requires 1"
This issue is related to:
#12753
#18469
#17983
#17770

Test case:
https://gist.github.com/cxz/64efd78be1167a66f127

Activerecord: 4.2.1
Bug happens only with **postgresql** (works fine with sqlite3).

In summary:
[code]
fails with:
[code]

[2015-05-09 04:02] kddeisz commented on #19816
The method that does this checking is dangerous_class_method?, I don't know quite enough about it but maybe that's a good starting place?

[2015-05-09 09:00] lorenso opened #20084 "Create association with override reference"
Hi, when i creating association with override reference (ex: role allow set user_id) -
user_id not override.

[code]

[code]

current user id = 1

[code]

Created object with user_id = 1

Bug or correctly?

ps sorry for bad english:)

[2015-05-09 10:34] matthewd commented on #20084
Yeah, that's expected behaviour.

[2015-05-09 10:34] #20084 closed

[2015-05-09 15:55] eileencodes commented on #20012
Fixed by #20086

[2015-05-09 15:55] #20012 closed

[2015-05-09 19:45] sh6khan opened #20089 "Cant create parent record and update child record at the same time with accepts_nested_attributes_for"
given the params
[code]

when trying to create a member record with these params we get this error
[code]

[2015-05-09 21:02] SDEagle opened #20091 "I18n locale not automatically reset to defaul"
Recently worked on a rails app where we activated i18n for some admin sites but not for the main site (defining translations with the glaobalize gem, but not rolling them out yet). So the AdminController had some before_filter :set_locale, the ApplicationController did not. We were expecting the main site to stick to the default locale but it turned out, that if you have the main site in one tab a

[2015-05-10 02:34] noinkling commented on #18828
Rack 1.6.1 seems to have fixed it (presumably due to the above commit) in the app that I used in my first example:
![Imgur](http://i.imgur.com/UmbfAQG.png)

However another test using @jorge-marques' repo (after updating to 1.6.1) shows no change using the [curl command from before](https://github.com/rails/rails/issues/18828#issuecomment-84722571). The Rack 1.5.x/Rails 4.1 result hasn't changed e

[2015-05-10 02:48] rafaelfranca commented on #20091
Yes, this is the expected behavior. You are changing a global configuration so unless you set it back to the original value it will stick with that value for all the requests.

[2015-05-10 02:48] #20091 closed

[2015-05-10 04:57] kuldeepaggarwal commented on #20089
@sh6khan: according to docs, member has been already created. Please read the docs again.

[2015-05-10 07:32] swifthand opened #20095 "HashWithIndifferentAccess#select fails to return Enumerator"
Commit 20c065594f1434c93e6fe64cad062a0df1f42a8e corrects the behavior of `HashWithIndifferentAccess#select` to be consistent with that of `Hash#select`, in that it returns the hash itself when unchanged.

However, that fix introduced a different inconsistency with `Hash#select`, whereby HWIA's version will no longer return an `Enumerator` when no block is given. Thus `select` can no longer be adde

[2015-05-10 07:45] swifthand commented on #20095
**A note on use of truthiness:** In case there is concern about a possibility where calls to `Hash#select` should return false or nil (and thus making `|| copy` incorrect), I am not aware of any such behavior. A call to `Hash#select` that rejects every value will still return a new empty hash:
[code]

[2015-05-10 10:51] Adam89 commented on #19816
I've looked into this and the problem occurs when a class method that belongs to an ActiveRecord class is defined as an enum attribute. A simple solution (but I don't think it's nice) would be to black list all class methods of an ActiveRecord class.

[2015-05-11 03:19] JuanitoFatas commented on #19793
Maybe related to https://github.com/rails/globalid/issues/66.

[2015-05-11 03:24] meinac commented on #20077
Actually the bug is not about postgresql adapter. If you inspect your query with sqlite3, you can see that there is no parameters sending with the query.
The only reason this will raise an exception with postgre is postgre validates the query. I'll dig into this today.

[2015-05-11 08:06] Adam89 commented on #19816
cc @senny and @rafaelfranca

[2015-05-11 08:38] senny commented on #19816
This issue has come up before. You can read up on the discussion https://github.com/rails/rails/issues/13389 and here https://github.com/rails/rails/pull/13450.

[2015-05-11 12:24] meinac commented on #20077
I've found the problem but it requires lots of changes in both arel and activerecord.
The breaking change is in https://github.com/rails/arel/commit/590c784a30b13153667f8db7915998d7731e24e5 this commit.

[2015-05-11 14:57] siebertm opened #20110 "attribute_changed? returns nil (instead of false) for unchanged attributes (4.2.1)"
During an upgrade from 4.1 to 4.2 I noticed that `<attribute>_changed?` returns `nil` for unchanged attributes.

On 4.1 and 4.0 it used to return `false`

IMO (and my colleagues agreed), a "?"-method should always return a boolean.
Do you agree? If so, I'd happily attach a PR with test and fix.

[2015-05-11 15:03] matthewd commented on #20110
No.

[2015-05-11 15:04] eileencodes commented on #20110
hrm, I tend to agree here - `nil` is unexpected. @matthewd can you elaborate on why you don't agree?

[2015-05-11 15:14] matthewd commented on #20110
http://guides.rubyonrails.org/api_documentation_guidelines.html#booleans

3756a3fdfe8d339a53bf347487342f93fd9e1edb #5582 #16521

[2015-05-11 15:21] siebertm commented on #20110
But still, it's an API change from 4.1 to 4.2. If that's the core team's opinion, then, OK. I'll just work around that bug (IMO this still is a bug).

Thanks!

[2015-05-11 15:34] matthewd commented on #20110
@siebertm it's officially not an API change because the method was never documented as returning `false`. Any code expecting it to (or holding the same expectation for any other similar method) is relying on undocumented behaviour... just the same as calling a private/undocumented method.

[2015-05-11 15:42] siebertm commented on #20110
@matthewd Don\'t understand me "insisting" on being right, but when I look at the docs for ActiveModel::Dirty, at least the examples clearly document `false`: http://api.rubyonrails.org/classes/ActiveModel/Dirty.html

Since these dynamic methods are not documented elsewhere, I (the user) get the impression that it returns either true or false, since also the other documented methods state this, e.

[2015-05-11 15:59] matthewd commented on #20110
Good point.

@fxn @rafaelfranca?

[2015-05-11 16:08] rafaelfranca commented on #20110
Yeah, that is the tricky part of our policy for boolean, the code examples will be sometimes not accurate. I'd say that what we want to document there is false not `false`, but it is hard to say that in a code example since we need to document some return.

In this case I'd say that our policy of using boolean semantics instead of exactly values have precedence.

[2015-05-11 16:25] chancancode commented on #20110
@siebertm Let me fill you in with some history! :smile:

Like Matthew and the article suggested, this (whether predicate methods ending in a `?` should guarantee a `true` or `false` return value, in general) has been discussed many times on Github and mailing lists. In the grand scheme of things, it's Not That Important™ relative to the time the cumulative time spent on discussing this, so at some

[2015-05-11 16:41] jrochkind opened #20114 "ConnectionPool leaking connections on database outage and recovery"
Rails 4.2.1, MRI 2.2.2, mysql2 0.3.18, passenger 4.0.59

Normally, in a Rails app, if the MySQL database goes down (or is network inaccessible for some reason), then of course the Rails app will start raising lots of `Mysql::Error` and be unable to function, as expected. However, if the database again becomes acceptable, normally a Rails app can pick this up and begin functioning again, without an

[2015-05-11 16:50] jrochkind commented on #20114
`reap` doesn't catch them because they are *not* `in_use?` -- they have had `expire` called on them, so their `@owner` is not set, and they are not `in_use?`.  But they are still not back in `@available` as they should be, so `checkout` will not use them.

I could write my own custom reap-like code that, in a synchronization block, finds these connections which are not `in_use?` but also not in `@

[2015-05-11 16:56] uberllama commented on #14657
I **think** I've just run into this same issue, where I have the same relation being included twice and the arises not generated properly.

[code]

Was there any progress on this from a year ago?

[2015-05-11 18:45] jrochkind commented on #20114
Okay, getting closer. After the database goes down and then comes back, subsequent attempts to ConnectionPool#checkout will raise an exception.

Either from a `with_connection`, like so:

[code]

Or from a straight `SomeModel#connection` like so:

[code]

I am guessing that unrescued exception at that point somehow results in a connection that is still in `@connections` but neither in `@available`

[2015-05-11 19:08] fxn commented on #20110
@chancancode hat tip, awesome summary.

Regarding this particular PR, in the past sometimes we've acknowledged that the code example return values could make people think singletons were guaranteed, I remember https://github.com/rails/rails/commit/126dc47665c65cd129967cbd8a5926dddd0aa514 for example. (Please ignore the comment about YARD.)

I think the only way out of this situation is to document

[2015-05-11 19:36] jrochkind commented on #20114
Okay, and indeed monkey-patching ConnectionPool#checkout to be like so seems to make the problem no longer reproduce for me:

[code]

I have no idea if this is a good idea though, as a monkey patch or PR. And still no idea how to make a failing test.

Advice from someone who works on ActiveRecord::ConnectionPool is very welcome at this point!

[2015-05-11 21:13] matthewd commented on #20114
Maybe relevant: #14938

[2015-05-12 01:37] thedarkone commented on #20114
@matthewd I'm afraid #14938 will be of no help here. IMHO this is a clear case of a "naked rescue" (#11780 or #11497).

@jrochkind can you check that this also fixes your problem:

[code]

[2015-05-12 04:01] #20089 closed

[2015-05-12 06:33] siebertm commented on #20110
Thanks for the explanation @chancancode and @fxn!

Also, to make you understand *why* I openend this ticket:

We have a model with a boolean column and a NOT NULL constraint. In the model we call:

[code]

So, when the `_changed?` predicates return `nil` (which is correct ruby-ism I know that), the result is `self.boolean_column` being set to `nil` which of course raises an error.

The tests for t

[2015-05-12 07:20] senny commented on #14657
@uberllama there has not been any progress. We always cross reference the issues when something is hapenning.

[2015-05-12 07:27] fxn commented on #20110
@siebertm that's the point: when the API only guarantees boolean semantics, client code needs to get singletons if it totally needs them (rare). In code like yours, `!!` is the usual trick:

[code]

Looks ugly eh? As Godfrey explained above that's precisely one of the reasons we don't generally commit to singletons, because we don't want those `!!`s in Rails code, and because most of the time clie

[2015-05-12 08:37] bartalameo opened #20120 "Trouble with updating nested models, that has an overriden association"
Hi!

There are some troubles with updating nested model (defined through `:has_one`), that has an overriden association.

I use:
- Ruby 2.1.5
- Rails 4.2.1

Take a look at next models:

[code]

When I try to update instance of `Report::UnitInformation` with a `Problem` attrs like this:

[code]

It generantes next SQL and result:

[code]

As you can see - **nothing** is updated (but the `:problem`

[2015-05-12 12:30] dennisvandehoef opened #20122 "Model.method_defined? does not always return true, if a method is defined"
`Model.method_defined?` only works after a record has been touched.
Witch gives back crazy results.

See my example:
![production](https://cloud.githubusercontent.com/assets/7486464/7586931/43759390-f8b2-11e4-93a5-a78a17a9c9ec.png)

and `Rails.application.config.cache_classes` is on

[2015-05-12 12:45] matthewd commented on #20122
Yeah, this is expected behaviour.

We can't return `true` there until we've looked at the database schema, and we don't do that until the first instance is created.

[2015-05-12 12:45] #20122 closed

[2015-05-12 13:07] DmitryBochkarev commented on #14365
Any progress? I can confirm this bug on ruby-2.1.2 and rails 4.2.1.

[2015-05-12 13:45] dennisvandehoef commented on #20122
For all of those wo need this, in the end I used: `Page.column_names.include? :created_by_id`

[2015-05-12 15:21] ekampp commented on #14365
I have moved to Rails 5.x, and found another way of solving my problem, but from a quick and dirty test, it doesn't seem to fixed there either.

[2015-05-12 15:53] jrochkind commented on #20114
Thanks @matthewd and @thedarkone.

@thedarkone, the existing version of ConnectionPool#checkout_and_verify that I have in Rails 4.2.1 has no rescue in it at all, not even a naked rescue -- the naked rescue was added sometime between 4.2.1 and master.

I will try adding a rescue per your specs...

It **does** seem to fix my problem.  This does seem to be the simplest and appropriate solution.

I'm

[2015-05-12 16:00] jrochkind commented on #20114
Looks like the `rescue` in `checkout_and_verify` was added here 205a561e5 by @yoshiokatsuneo , and the comment suggests it was added to fix the very problem I am having, exactly, indeed.

The commit did not come along with any tests, so I feel better about being completely lost trying to figure out how to write a failing test myself. :)

I do think this should be backported to a 4.2 patch release,

[2015-05-12 16:28] matthewd commented on #20114
Looks like it was already backported in 1997f7bf0e5c0bfbf2245c6d795271fc502e2b33, so I'll close this. (Though we should probably separately address the bare rescue, for completeness.)

[2015-05-12 16:28] #20114 closed

[2015-05-12 16:44] jrochkind commented on #20114
Thanks @matthewd. Does that backport in 1997f7b mean it will likely be showing up in an upcoming 4.2.2?

[2015-05-12 16:48] matthewd commented on #20114
@jrochkind yup

[2015-05-12 16:52] jrochkind commented on #20114
Excellent. For anyone else reading along, I've guarded my monkeypatch like so, to automatically disable it when 4.2.2 is released:

[code]

[2015-05-12 19:33] ossrapaport commented on #18822
It's a Webrick bug, switch to Thin and it goes away.

[2015-05-12 20:50] vnavkal commented on #13496
+1, failing with PostgreSQL 9.3.5, Rails 4.1.5, and Ruby 2.2.2.

[2015-05-12 21:29] trostli commented on #15079
Bump. This is still an issue...

[2015-05-12 23:31] lleger opened #20132 "TypeError when using json column with ActiveRecord serialize and Postgres"
I'm having issues with ActiveRecord's `serialize` when using the `json` column type in PostgreSQL. When assigning a value, a `TypeError` is thrown. I dumped the full stack trace [in a gist](https://gist.github.com/lleger/4390d9f42a57984dc6d5).

Here's a sample model:
[code]

[code]

If you do something like this:
[code]
it throws an error.

However, if you simply use a regular `string` column, it

[2015-05-12 23:40] jonatack commented on #19997
Working version for current Rails master, if helpful for anyone:

[code]

[2015-05-13 01:03] kenn opened #20133 "Do not use BASE58 for has_secure_token"
With this commit https://github.com/rails/rails/commit/47316feee0f061f80e26c51fb0d41f537407ab9c , `SecureRandom.hex` is replaced with `SecureRandom.base58` but I'd point out problems with it.

- By default, MySQL uses case-insensitive collation like `utf8_general_ci`. Which means, `4kUgL2pdQMSCQtjE` and `4KUGL2PDQMSCQTJE` are considered **the same token** even with a unique index.
  - Which not on

[2015-05-13 01:39] repinel commented on #12937
It seems to still be an issue.

[code]
The changes proposed by #13308 would still fix it if they were applied to `type_for` instead of `column_for` since the API changed with #15800

[2015-05-13 03:05] rafaelfranca commented on #20133
cc @dhh @chancancode

[2015-05-13 03:30] matthewd commented on #20133
Base64 was undesirable because it contains URL characters, as I recall. https://github.com/rails/rails/pull/18347#issuecomment-68764418 was where we then switched from Base62 to Base58.

How is Base58 more *controversial* than Base64/Base62?

---

I'm also confused about how this creates an attack vector. As far as I can see, we end up with less density than we otherwise expect (though still far m

[2015-05-13 04:29] kenn commented on #20133
Base35 gives you 123 bits of entropy instead of 140 bits of Base58 when stored in MySQL. For a feature like `has_secure_token`, bit strength should be a part of the specification, not something that "depends where you store it". Plus it is misleading as most MySQL users aren't even aware that they are using case-insensitive collation and they would be surprised when they learn `4kUgL2pdQMSCQtjE` i

[2015-05-13 06:24] moorem opened #20135 "NameError: uninitialized constant ActionView::Helpers::ActiveModelHelper"
We are getting following error while precompile

[code]

Help much appreciated!

[2015-05-13 10:15] senny commented on #20132
`serialized` is designed to serialize complex data into a `text` field. When you have a `json` column, there is no need for that. The type will already parse the data into the right structure.

There is an [example](http://edgeguides.rubyonrails.org/active_record_postgresql.html#json) in the PostgreSQL for Rails guide.

[2015-05-13 10:15] #20132 closed

[2015-05-13 11:57] salza80 commented on #17511
I'm also looking for this. Looking forward to this issue being resolved!

[2015-05-13 12:47] deepakshinde opened #20139 "Can't access server on other machine"
I have upgrade rails 4.2.1 version then start server but can't access server from other machine. I don't  known this any new feature added or bug?. Even I try thin server but same result.

[2015-05-13 13:10] thomasfedb opened #20140 "Out of range association ids throw exception before validation."
Often applications allow a client to supply an associated id and then validate that the referenced record does in fact exist. For example:

[code]

Thus when a non-existant but legal `dog_id` is supplied the result is a validation error and `bone.dog` produces `nil`.

However, if lookup of an illegal `dog_id` supplied results in a `RangeError` then the validations cannot be run, validation errors

[2015-05-13 14:18] yoongkang commented on #17570
I can confirm that this still occurs on master, but I don't think it's necessarily a bug. A transaction is supposed to rollback the state of the database upon an exception, but not the state of an object's instance data.

From the docs for [Transactions](http://api.rubyonrails.org/classes/ActiveRecord/Transactions/ClassMethods.html):

It appears that this behaviour has been around for a very long

[2015-05-13 14:48] senny commented on #20139
This is a bug tracker, not a support forum. Please use the [mailing-list](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-talk) for usage questions.

As outlined in the [`Rails 4.2. release notes`](http://edgeguides.rubyonrails.org/4_2_release_notes.html#default-host-for-rails-server) this is the expected behavior. You should find guidance there how to get it working again.

[2015-05-13 14:48] #20139 closed

[2015-05-13 16:05] lleger commented on #20132
I almost didn't ask the question because I assumed I was just doing something wrong. That makes sense. Thanks for the help, @senny. I'll do a better job of reading the manual next time!

[2015-05-13 18:53] joelpresence opened #20144 "Rails console does NOT auto load all locales from config/locales"
According to the default auto-generated `config/application.rb` that comes from `rails new toy_app` in Rails 4.2.1 using Ruby 2.2.2p95 (for Heroku compatibility):
[code]
*all* locales in `config/locales` are autoloaded.  However, this is clearly *not* true and here are the repro steps:
[code]
Now, if you go to that default auto-generated `application.rb` that claims that all locales are auto-loade

[2015-05-13 19:25] rafaelfranca commented on #20144
I could not reproduce this issue:

[code]

I think you got this error because you added the locale file after you started the spring process for your environment, so when you add the file it is not loaded inside the spring process. When you change the application.rb the spring process is reloaded and your locale is now working.

[2015-05-13 19:25] #20144 closed

[2015-05-13 19:38] joelpresence commented on #20144
@rafaelfranca
What do you mean by "you adde the locale file after you started the spring process"?  How did I start the spring process?  `rails server` was not running so what was running the spring process and how do I stop and restart it?

Thanks for your help!

[2015-05-13 19:39] rafaelfranca commented on #20144
Any rails command starts springs. `rails console`, `rails generate`, `rails server`. You can stop the spring process with `spring stop`.

[2015-05-13 20:01] joelpresence commented on #20144
@rafaelfranca thanks.

But when creating a new app, a developer will *always* create the locale files after starting the spring process because creating the app starts spring and people usually run `rails server` at least once after app generation to ensure that all is well.

So at best it seems like spring should periodically re-scan the locales directory.  At worse, we should add a comment to th

[2015-05-13 20:41] rafaelfranca commented on #20144
Agree. I'll move this issue to spring.

On Wed, May 13, 2015, 17:01 joelpresence <notifications@github.com> wrote:

[2015-05-13 20:46] joelpresence commented on #20144
Graçias!

[2015-05-13 20:57] kapso opened #20148 "Switch/change table name during request dynamically?"
Based on my request, I would like to query either `test_users` or `users`. I am doing this using `User.table_name = "test_users"` or `User.table_name = "users"`

This works in development, but not in production (i.e table name in the query does not change), due to -

[code]

I am guessing the table names are being cached somewhere and `Model.table_name=` does not update the cache.

Is this a bug?

[2015-05-14 03:53] jkuchta commented on #20135
What version of rack are you using?

[2015-05-14 07:39] Brrrknee opened #20152 "`rails server` fails with sqlite3_native load error"
just created a new "myApp" CD'd to that new directory, and got this load error on sqlite3 for `rails server`.
I pulled that package again, successfully via `gem install sqlite3` and tried again, same error.
Also happens with `rails console`

`C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sqlite3-1.3.10-x64-mingw32/lib/sqlite3.rb:6:in "require": cannot load such file -- sqlite3/sqlite3_native (LoadError)

[2015-05-14 07:50] arunagw commented on #20152
Seems like a problem with `sqlite3` or local setup? Can you please try looking on stackoverflow and other places.

This issue tracker is for rails-core bugs.

thanks

[2015-05-14 07:50] #20152 closed

[2015-05-14 08:37] jebw opened #20154 "has_many :through generating invalid SQL under rails 4.2.1"
Rails 4.2.1 is generating invalid SQL, I can reliably reproduce this by combining merge and a has_many :through relationship

In a simple app with Persons, Posts, and Viewings with viewers being hm :through

Post.viewers.merge(Person.nonadmin).to_al

will generate the following SQL

SELECT `people`.* FROM `people` INNER JOIN `viewings` ON `people`.`id` = `viewings`.`person_id` WHERE `viewings`.`si

[2015-05-14 13:11] matthewd commented on #20135
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-05-14 13:11] #20135 closed

[2015-05-14 16:25] kapso commented on #20148
Hey guys can anyone let me know if this is a bug or expected behavior, this is an urgent production issue for us and would really appreciate any help. Thanks.

[2015-05-14 16:31] rafaelfranca commented on #20148
I can see that it is expected behavior because it was never designed to be changed dynamically in production. I don't know if it is possible to do, but right now it is working as intended. If you want to investigate please go ahead, but since this is more a feature request I'm closing this issue.

Thank you so much for the issue.

[2015-05-14 16:31] #20148 closed

[2015-05-14 16:35] kapso commented on #20148
Thanks for the quick reply, appreciate it. Any internal rails hack that can allow this behavior? or this is just not possible? @rafaelfranca

[2015-05-14 16:41] rafaelfranca commented on #20148
I think you can you can try to define a anonymous class or just define a `TestUser` class

[2015-05-14 16:54] kapso commented on #20148
Yea I can do that, problem I am using `User.*` calls all over my code (and theres plenty of code). Is there a way to proxy all method call (both class & instance)? that way I can just this proxy method to delegate calls to anonymous or `TestUser` class? @rafaelfranca

[2015-05-14 17:17] rafaelfranca commented on #20148
Not that I know, sorry.

[2015-05-14 17:44] hayesmp commented on #19785
@senny Sorry for the delay.
[code]

[2015-05-14 18:46] wirasto opened #20158 "Rows always affected"
Update my row data with same data.

[code]

This said affected row is 1.
Why result 1? I don't change anything.

[2015-05-14 18:49] rafaelfranca commented on #20158
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-05-14 18:49] #20158 closed

[2015-05-14 18:50] rafaelfranca commented on #20158
To answer the question the return is the number of affected rows, even if the data didn't changed on the rows, they are still affected.

[2015-05-14 19:08] wirasto commented on #20158
Owh, this is normal for rails. Okay,,,,
and sorry for wrong post,,,, ;)

[2015-05-14 19:22] Brrrknee commented on #20152
Sure.  you bet.  the simple "install Ruby, start server" fails and it is "not a core" problem.
the "solution" listed on this site  http://rubyonwindowsguides.github.io/book/ch02-05.html is so low-level and beyond the mantra of ruby making things easier for developing ruby code, it is counter-productive, introducing several other complexities to have fail and added dependencies to search out. The d

[2015-05-14 21:46] BM5k commented on #15255
I’m seeing this when rendering partials like `render ‘my_partial’` where `my_partial` is in a different directory. For instance, with a partial in `views/application` while the parent template is in `views/admin/users`.

How is it that the template can be found to render, but not for digesting? This feels like a bug. It is certainly unexpected behavior.

The workaround of avoiding the shortcut for

[2015-05-15 04:48] yoongkang commented on #19890
PR submitted for this at #20046.

[2015-05-15 07:07] PeteMichaud opened #20163 "number_to_currency NoMethodError"
Whenever I use the number_to_currency method with a number that has no decimal places, or with only zeroes in the decimals places, the method throws a NoMethodError. I think the problem is in number_to_rounded_converter.rb:32, when it calls `rounded_number.to_s('F') + '0'*precision` -- that line will cause any number without nonzero decimal places to just have zeros tacked on the end, but no decim

[2015-05-15 07:09] arunagw commented on #20152
@Brrrknee It seems like that on your machine `sqlite3` is broken.

Found this which might help http://stackoverflow.com/questions/5800920/error-no-such-file-to-load-sqlite3-sqlite3-native-loaderror

Seems like the link you give has a solution as well. Also as suggested here https://groups.google.com/forum/#!msg/sqlite3-ruby/cNqvONJmocU/C0Rdg6ZxhV4J lowering down ruby version might help?

[2015-05-15 07:33] sailesh opened #20164 "Inconsistent behaviour when using postgres inet"
Related: https://github.com/rails/rails/issues/11552

When using postgres inet/cidr type in Rails 4.2.1 the invalid value is ignored silently. It would be nice if this behaved consistently but I am not sure how to handle it correctly.
[code]

[2015-05-15 07:45] tgoldenberg opened #20165 "data: remote issues"
I am having issues using data: remote. I have previously used it in the past, and am a newbie, but it seems there are some complications that are making it difficult for me to use data: remote with ease. I find that when in a modal window that was opened with data: remote, the data: remote method doesn't work inside the modal with a different request. Is there a scope of circumstances where data:

[2015-05-15 07:46] sailesh opened #20166 "AR finders throws PG::InvalidTextRepresentation: for invalid ip or macaddr"
The AR finders throws PG::InvalidTextRepresentation: for invalid ip or macaddr.
Similar issue was fixed for uuid in https://github.com/rails/rails/issues/11902
It would be nice if this behaved consistently and did not throw database exception.

[code]
[code]

[2015-05-15 10:27] meinac commented on #20163
As far as I can see from your description you are using Rails 4.2.1. I've tried this with Rails 4.2.1 but could not reproduce the error. Can you please provide a test case to reproduce the error using [this template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/generic_master.rb)

[2015-05-15 10:33] pramod-sharma opened #20167 "Issue with Active Record Migrations Add Column migration"
rake db:migrate throws Mysql2::Error: Invalid default value ENGINE=InnoDB.
Default value for string datatype in AR is kept 255 for MySQL(not sure for Postgres). While this has been updated to 65535 beyond MySQL version 5.0.5 , and I am trying to use a string larger than 255 characters with default value.
<code>
  add_column :permissions, :string, default: 'abc.......'
</code>
I feel we can raise i

[2015-05-15 11:54] meinac commented on #20167
`I feel we can raise it beyond the specified limit of 255` so what about older versions? This will cause problem on mysql versions before 5.0.3

[2015-05-15 11:57] pramod-sharma commented on #20167
But should not the limit specify the higher limit. Just asking?

[2015-05-15 12:26] ciaoben opened #20169 "Problems loading modules and classes"
I am trying to create custom exceptions in rails, but I 've problem with my designed solution.

Here what I've done so far:

-Create in the `app/` folder a folder named `errors/` with a file `exceptions.rb` in it.

`app/errors/exceptions.rb`:

    module Exceptions
        class AppError < StandardError; end
    end

 - In one of my controllers, tried to raise it:

`raise Exceptions::AppError.new(

[2015-05-15 12:30] meinac commented on #20169
In your application.rb file extend your autoload paths like below;
[code]
And please use stackoverflow or similar platforms for asking 'how to questions'.

[2015-05-15 12:41] ciaoben commented on #20169
Why it has been closed?

The solution provided doesn't work!

And this is not an "how to". Rails doesn't load automatically all the new folders in app??? Why this isn't the case-

[2015-05-15 12:42] meinac commented on #20169
@ciaoben Also you can use ```spring stop``` then ```rails s``` to refresh your application. By this way you don't need to explicitly extend autoload_paths.
Try this and tell me the result please.

[2015-05-15 12:50] ciaoben commented on #20169
@meinac yes, it seems to work. Thanks. I am using the console, so I've done `spring stop` and `rails c` and everything worked fine, without

[code]

Can you give me a brief explaination?

[2015-05-15 15:18] #20165 closed

[2015-05-15 16:49] matthewd commented on #14891
Fixed in #14938

[2015-05-15 16:49] #14891 closed

[2015-05-15 16:56] pcrwebdesign opened #20170 "Wrong documentation (or implementation) of has_many clear"
the documentation for Rails 4.1.7 specifies that the method clear:

However, given that ActiveRecord::Associations::CollectionProxy#clear simply delegates to delete_all and with the change to the implementation of delete_all this is no longer tru:

This may be an error in the documentation that needs to be updated, or an undesired effect of the new implementation of delete_all. I personally think

[2015-05-15 19:58] acjay commented on #18624
@rafaelfranca

What if you want to test whether a job is enqueued from a controller?

[2015-05-15 20:05] acjay commented on #18624
Nevermind, figured out I can do this:

[code]

Might be a good idea to add this to the documentation? In many cases it seems like the enqueuement (sp?) of a job wouldn't be done within the job itself, unless one job is farming out work to another.

[2015-05-16 00:47] dasibre commented on #20163
unable to reproduce either. using Ruby 2.2.2 with rails 4.2.1

[2015-05-16 01:06] #20163 closed

[2015-05-16 01:07] rafaelfranca commented on #20163
Thank you for the issue. Please give us more information about the problem so we can help

[2015-05-16 14:44] yoongkang commented on #19711
I'm unable to reproduce this. Is anyone else having the problem?

[2015-05-16 17:30] rafaelfranca commented on #20169
spring eagerload you application and keep it running. When you add a new folder to app, rails automatically add it to autoload paths but since you spring process already started it doesn't know that a new folder was added, so you have to restart the spring process to get the new path on the autoload paths

[2015-05-16 17:30] #20169 closed

[2015-05-16 17:32] rafaelfranca commented on #19711
@yoongkang thanks

@jorihardman if you think it is still an issue could you give us a way to reproduce it? Maybe creating a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb.

[2015-05-16 20:13] ekampp opened #20174 "Incorrect model generation when using namespace."
Hi there.

I would expect this command to generate `v1/user.rb`, but it generates `v1.rb` and `user.rb`.

[code]

Additionally, running this command does generate the `v1/user.rb`, but still generates a `v1.rb` file:

[code]

_Note:_ I'm running rails from the master branch: 50999974e80ee9ddf3d81c3b9733f84f5646705c

[2015-05-16 20:16] ekampp commented on #20174
Never mind. My bad. This is not an issue.

[2015-05-16 20:16] #20174 closed

[2015-05-17 03:14] backus opened #20177 "Surprising parent_name on scoped ActiveRecord models"
If I define an AR model with a scope

[code]

Rails 4.2.x tells me that the name of the scoped class looks like this:

[code]

If the class is `User::ActiveRecord_Relation` then I would expect the [`parent_name`](http://api.rubyonrails.org/classes/Module.html#method-i-parent_name) to be `"User"`.  The actual `parent_name` turns out to be `"ActiveRecord"` which seems strange.

---

Until Rails 4.2,

[2015-05-17 03:40] alainmeier commented on #20177
:+1: good replicable tests

[2015-05-17 05:13] PeteMichaud commented on #20163
I'm working on getting a not-passing test case running. The test doesn't fail when I use the template, but it does fail when I use my normal testing apparatus. It's something about my application environment that's triggering the error, but I have not located the exact issue yet. I suspect one of my gems hijacked BigDecimal, but I haven't found the smoking gun yet. Will update when I have somethin

[2015-05-17 21:09] PeteMichaud commented on #20163
I figured it out, and it's totally my fault. I wrote a gem a while back that monkey patches BigDecimal's to_s to not show the decimal if it's a whole number, eg:

[code]

That was causing the bug because number_to_rounded_converter.rb:32 assumes `s` will have a decimal. Feel free to close this report!

[2015-05-18 03:44] maxcal opened #20183 "ActiveModel::SecurePassword authenticate always returns false when called on self"
In this example `authenticate` will always return false.
[code]
However if it is called on a separate instance it has the expected behavior (it returns the user if the digest matches).
[code]

Tested on Rails 4.2.1

[2015-05-18 04:31] chancancode commented on #20183
Cannot reproduce. Seems to work as expected for me:

[code]

You can save this to a `.rb` file and run it with `ruby your_file.rb`. If you can reproduce it, I can reopen the issue!

I suspect you are really trying to do something like this:

[code]

[2015-05-18 04:31] #20183 closed

[2015-05-18 06:02] chancancode commented on #20177
This is why `User.male.class` is actually [an anonymous class](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/delegation.rb#L18-L20) which was [attached to the `User` class as a "private"/"internal" constant callsed "ActiveRecord_Relation"](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/delegation.rb#L21). This class [override

[2015-05-18 06:02] #20177 closed

[2015-05-18 06:22] huobazi commented on #16407
+1

[2015-05-18 07:40] matthewd commented on #20177
AFAIR, we do this for Marshal.

[2015-05-18 07:45] chancancode commented on #20177
:+1: that rings a bell, "can't dump anonymous class" :grin:

[2015-05-18 08:57] haihappen commented on #19256
If you still encounter this problem with Rails 4.2, please try to stop spring with `spring stop` first. Spring will accept the new ENV variable when it starts again.

[2015-05-18 08:59] senny commented on #20167
We use the Github issue tracker for bug reports and code discussion only. As this is the current expected behavior I'm going to close the issue.

To discuss changing the default value for `:limit` on MySQL please use the [rubyonrails-core mailing list](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core). You can find more details in our [contribution guidelines](https://github.com

[2015-05-18 08:59] #20167 closed

[2015-05-18 09:03] senny commented on #20164
This is how Active Record currently works. You can use validations to make sure that no invalid input was given.

See the following example using an integer column:

[code]

[2015-05-18 09:03] #20164 closed

[2015-05-18 09:30] collimarco opened #20185 "rails g mailer layout has a mispelling (hmtl)"
I use haml 4.0.6 and rails 4.2.0. Here's the template generated by `rails g mailer ...`:

[code]

As you can see there's a mispelling of `html`.

[2015-05-18 09:50] senny commented on #20185
@collimarco this [template](https://github.com/indirect/haml-rails/blob/master/lib/generators/haml/mailer/templates/layout.html.haml) is generated by [`haml-rails`](https://github.com/indirect/haml-rails).

[2015-05-18 09:50] #20185 closed

[2015-05-18 09:52] simi commented on #20185
And this was fixed in https://github.com/indirect/haml-rails/commit/248c3bb098b45cf465bf333c9912788fe19a725e.

[2015-05-18 12:16] dhh commented on #19693
Xavier, points well taken. I think thread_mattr_reader is a Good Enough
name for this. I don't like "threaded_" and I don't think the scope
argument for something that under the covers is so different is a good fit.
So I say we roll with this for now and reconsider if the fiber option is
proposed as a general use case.

On Sat, Apr 18, 2015 at 3:10 PM, Xavier Noria <notifications@github.com>
wrote

[2015-05-18 12:47] ciaoben commented on #20169
Thanks, it is all clear now!

[2015-05-18 15:21] jacekgrzybowski opened #20188 "Rails 4.2.1 - Acceptance validation with accept option does not work"
Entries table:

    create_table "entries", force: :cascade do |t|
      t.string   "email",               limit: 255
      t.boolean  "terms_1",             limit: 1,     default: false, null: false
      t.boolean  "terms_2",             limit: 1,     default: false, null: false
      t.text     "answer",              limit: 65535
      t.datetime "created_at",

[2015-05-18 15:21] burnt43 opened #20189 "using uniq with a block on an ActiveRecord::Relation"
I have an issue with the uniq method.

I have a database with a table as below.
<pre>
MariaDB [hpbx_development]> select * from asterisk_commands;
+-------+-----------------+---------------------+---------------------+-----------+----------+-------------------+
| id    | command         | created_at          | updated_at          | completed | override | virtual_server_id |
+-------+--------------

[2015-05-18 15:55] jorihardman commented on #19711
This seems like an issue with the mysql2 gem as I don't see the issue when using sqlite in a new 4.2 app. Should I submit an issue to them, or would you still like the reproduction script?

[2015-05-18 16:26] jorihardman commented on #19711
@rafaelfranca I noticed that the repro script seems to be set up for database independent bugs. I've confirmed that this is only an issue with mysql2 gem, so are you still interested in looking into it, or should I take it over to the mysql2 issues?

[2015-05-18 16:48] rafaelfranca commented on #19711
@jorihardman it seems to be specific for Active Record so we still need to investigate. I'm reopening. Could you post the reproduction script?

[2015-05-18 16:56] rafaelfranca commented on #20189
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-05-18 17:02] burnt43 commented on #20189
@rafaelfranca, sure I will try to do this

[2015-05-18 17:57] jorihardman commented on #19711
Here's a script that fails for me:

https://gist.github.com/jorihardman/4f12c83541b07c4b6084

[2015-05-18 18:29] sodabrew commented on #19711
Thanks for reopening it! The mysql2 gem doesn't interpret the incoming query string, so it must be AR that is generating it. Subscribing to this issue in case I can help in any way.

[2015-05-18 18:58] burnt43 commented on #20189
@rafaelfranca, I wrote my repro program.
https://gist.github.com/burnt43/43efda266d2855044768

[2015-05-18 19:51] rafaelfranca commented on #20189
cool! Thank you, we will take a look

[2015-05-18 20:49] hwhelchel commented on #20189
@rafaelfranca if rails core is interested in this api change I'd like to contribute it, that being:

If `uniq` is passed a `block` then it uses ruby `Array#uniq` semantics.

Thanks!

[2015-05-18 20:58] rafaelfranca commented on #20189
@hwhelchel :+1:. Please go ahead.

[2015-05-19 00:34] joelpresence opened #20194 "response.content_type should not remove charset"
Hi,

When I run rails and perform a certain request, I get a response with:

[code]

However, when performing a controller test against that same controller, the `response.content_type` is just `application/json` which is not correct.  Somehow, rails tests are splitting off charset into `response.charset` which comes back as `utf-8`.  This feels odd to do this since the actual header name where th

[2015-05-19 02:02] rafaelfranca commented on #20194
Yes, we are aware of this. Rails override `content_type` to return `Mime::Type#to_s` loosing some information, but this is not something we can change easily.

See https://github.com/rails/rails/pull/16018

[2015-05-19 02:02] #20194 closed

[2015-05-19 03:33] repinel commented on #20188
Could not reproduce using `4.2.1` or `master`.

https://gist.github.com/repinel/4c5ce8740d112796ed42

Did I miss something?

[2015-05-19 03:54] repinel opened #20197 "Invalid sample test generated for engine controller tests"
Please follow the steps to reproduce with `4.2.1`:
1. `rails plugin new blorgh --mountable`
2. `rails g controller articles index`

It will generate the test:
[code]
The correct one for this engine would be:
[code]

[2015-05-19 04:38] rafaelfranca commented on #20197
This option was deprecated in Rails 4.2 and removed, so it can't be correct. In fact the guide was incorrect. See the deprecation message at https://github.com/rails/rails/commit/e4cfd353a47369dd32198b0e67b8cbb2f9a1c548#diff-600d5368b55e46ed961abb4295977ac3L719

[2015-05-19 04:38] #20197 closed

[2015-05-19 05:19] danielpclark opened #20199 "before_update provides no errors on rollback"
I've used the bug report example to replicate this issue.  Here's the code tested against ActiveRecord 4.1.10 and 4.2.1

[code]

And here's its output:

    -- create_table(:togs, {:force=>true})
    D, [2015-05-19T01:12:19.318388 #16198] DEBUG -- :    (0.3ms)  CREATE TABLE "togs" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "togname" varchar(255) NOT NULL, "changable" boolean DEFAULT 't')

[2015-05-19 06:57] yoongkang commented on #17546
Should we inflect both camel and snake case? I've opened a pull request although it really needs further feedback on it: #20123.

[2015-05-19 07:05] luisdoubrava commented on #12178
I patched extract_parameterized_parts in action_dispatch/journey/formatter.rb to use symbolize_keys when extracting bad_keys
This seems to fix the issue in my case:
[code]

[2015-05-19 08:01] jacekgrzybowski commented on #20188
Well, apparently I was too tired at the end of the day yesterday to notice that I had been validating against "terms1" and my column was named "terms_1". Really sorry about that ;)

[2015-05-19 11:52] jacekgrzybowski commented on #20188
However, there's one more thing

[2015-05-19 11:57] jfornoff opened #20202 "NullStore local caching makes tests fail"
Hi everyone!

I've been having some issues lately with NullStore in testing contexts.

NullStore seems to actually cache within blocks (because of Strategy::LocalCache).
Because the tests go really fast, the default cache keys do not change at times (updated_at timestamps are second-precision) and old cache entries get pulled, which causes tests to fail.

A workaround is littering your tests with

[2015-05-19 12:15] jfornoff commented on #20202
Monkeypatching ActiveSupport::Cache::Strategy::LocalCache#local_cache to return false in test environment does fix the problem, but that's probably not the correct way to do it.

Maybe it would make sense to introduce a configuration key that disables local caching within blocks?

Hope that makes any sense at all, it's my first time posting here.

[2015-05-19 12:26] repinel commented on #20197
I was wondering that. Thanks for the feedback!

[2015-05-19 14:14] pschambacher opened #20203 "Preloading has_one polymorphic through has_one generates invalid SQL on Rails >= 4.0"
# Specifications
 - Works on **Rails 3.2**
 - Broken in **Rails 4.0, 4.1, 4.2**
 - Tested on SQLite and MySQL. Untested on PostgreSQL but probably happens as well

# Schema
[code]

# Models
[code]

# Code
[code]

# Error
[code]
This query is missing the join on the companies to be valid.

[2015-05-19 14:18] leandro opened #20204 "Mounting engine routes more than once under different resources doesn't work"
I have noticed that if you want to mount an engine routes set under multiple different resources, it simply doesn't work. Instead, one overwrites another.

Is this behaviour expected? I'm using Rails 4.2.1.

[2015-05-19 16:02] kamipo commented on #19232
@LtdPayne @andywenk I hope that this helps you: https://github.com/kamipo/activerecord-mysql-awesome

[2015-05-19 16:44] trayo commented on #14365
I've been digging around in ActiveRecord and it doesn't seem to be a bug, it seems to be more of an non-included feature.

Using [zenati's test](https://github.com/rails/rails/issues/14365#issuecomment-54271422) it seems that the Line model doesn't get the same destroy callbacks when you use the `after_remove` option.

Using @sebasoga's solution works because the `destroy` method is being called o

[2015-05-19 17:33] rafaelfranca commented on #19109
The default is `:en` and unfortunately we can't change because it will break Active Record since we use inflection rules to infer tables and columns. That said you need to be explicit about the locale if you want to use something different than `:en`.

Thank you for reporting.

[2015-05-19 17:33] #19109 closed

[2015-05-19 18:11] rafaelfranca commented on #20204
Can you please provide a sample application that reproduces the error?

[2015-05-19 18:28] Genkilabs commented on #19891
I reproduced this with ```MyModel.preload(:belongs_to_model).other_scopes``` where the model joined by belongs_to can have very large ids, well over 1,000,000,000.

[2015-05-19 18:31] andywenk commented on #19232
@kamipo awesome - thanks a lot ;-)

@LtdPayne could you please checkout activerecord-mysql-awesome mentioned by @kamipo

[2015-05-19 18:38] rafaelfranca commented on #19232
I'd not backport it. There is a lot of changes that may break something.

Yes. I think this is the best you have with Rails 4. Or use @kamipo's gem. He is the author of the original patch and a bunch of other improvements on the mysql adapter.

[2015-05-19 18:38] #19232 closed

[2015-05-19 20:23] andyatkinson commented on #18611
@senny Thanks for responding with details, much appreciated!

I have started a [script for 18611](https://github.com/andyatkinson/18611_issue/blob/master/app.rb) but haven't produced a failure case yet.

I'm not sure about specifying a non-standard sequence at table create time, but it is definitely possible to create one and then alter the table to use it.

The script shows me that things are wor

[2015-05-19 20:30] #5790 closed

[2015-05-20 00:42] repinel commented on #20188
It does't seem to be an issue. I would say that the `acceptance` doc is just missing a mention to the [default](https://github.com/rails/rails/blob/ffc3b33494fde0c628bd6ffa6d9b889b1e868aae/activemodel/lib/active_model/validations/acceptance.rb#L6) `allow_nil: true`option.

Please check this out https://gist.github.com/repinel/4c5ce8740d112796ed42#file-test_acceptance_validation_with_cast-rb

Since

[2015-05-20 00:49] repinel commented on #20188
My bad, the API doc does mention the `allow_nil` [here](https://github.com/rails/rails/blob/ffc3b33494fde0c628bd6ffa6d9b889b1e868aae/activemodel/lib/active_model/validations/acceptance.rb#L40).

[2015-05-20 02:16] repinel commented on #20154
This should help duplicate the issue https://gist.github.com/repinel/cc67944f2f47301b8aa5

I was just weird when I tried with SQLite in memory and the `count` just returned `0`.

@senny I am available to try PR a fix for the MySQL if you have any tips :smiley:

[2015-05-20 05:14] swifthand commented on #20095
It looks like @imanel beat me to a pull request with #20125.

Plus I think his use of `to_enum` is a better solution anyway!

[2015-05-20 07:21] collimarco commented on #20185
Oops... I thought that HAML was using erb2haml feature to convert the template (and not an its own template).

[2015-05-20 07:27] ekampp commented on #14365
:+1:

[2015-05-20 08:57] senny commented on #19891
@Genkilabs can you put that reproduction into executable code? You can use the script I posted above.

[2015-05-20 09:16] senny commented on #18611
I still don't understand the actual problem. A failing script would be a big step to move this forward.

Of course you can use raw SQL in your migrations to create a non-default setup with sequences. I vaguely remember a Github discussion about it. I thought that use-case is working fine though. I'll see if I can dig it up.

[2015-05-20 09:31] LtdPayne commented on #19232
@kamipo Yes, that's a great help, thanks a lot :)

[2015-05-20 09:56] vnazarenko commented on #19891
Hi, the problem is in database types, so it's impossible to reproduce thin on sqllite, maximum what i could create is https://gist.github.com/vnazarenko/ab4dc7d7c26c90a515af

After investigation, i found the problem. It's simple:
# Table name: InvoiceImportStatus
#
#  id                  :decimal(19, 0)   not null, primary key

# Table name: InvoiceImportPoisonRecord
#
#  id

[2015-05-20 11:42] jacekgrzybowski commented on #20188
Thanks, I didn't know that `allow_nil` defaults to `true` here. I'm closing the issue.

[2015-05-20 11:42] #20188 closed

[2015-05-20 11:45] lawerna opened #20220 "Error lib/active_record/attribute_assignment.rb file"
I got following error:

    undefined method `empty?' for nil:NilClass

comming from lib/active_record/attribute_assignment.rb file. (method :extract_callstack_for_multiparameter_attributes)

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/attribute_assignment.rb#L84

Should it not be 'blank?', as empty is not nil safe?

[2015-05-20 11:57] saulius commented on #10658
Still seems to be broken in `4-2-stable`. Here you can find a failing test case in https://github.com/lsylvester/rails/commit/c64023bc9fd7dfe10f564fedbd7299240bd5da15 from (https://github.com/rails/rails/pull/10862).

[2015-05-20 12:18] piton4eg opened #20223 "Live streaming with MySQL and rspec"
I'm using live streaming with MySQL for stream products. I have a model Product and controller with next code:
[code]

I have a test for this controller:
[code]

When i'm trying to run my rspec i get next errors:
[code]

When i removed line `response.stream.write "Test"` from my controller, then it works fine.
When i change strings:
[code]
to `response.stream.write "Test2"` then it works too.

[2015-05-20 13:37] rafaelfranca commented on #20220
Maybe, but it seems to me that `nil` should not enter that part of the code. Could you provide a way to reproduce this bug?

Thanks

[2015-05-20 14:34] leandro commented on #20204
Yes. Definitely. A gist with a couple of files do? I'll get a spare time to do it.

[2015-05-20 14:38] dptechdev commented on #20204
I am glad to see this I also had questions regarding the same thing.

[2015-05-20 14:52] Genkilabs commented on #19891
Ah, thanks for the tip @vnazarenko. I'm finding this on a legacy Oracle DB where the PK and FK are a varchar2 (4). ie. whomever made this DB gave 4 character IDs to the tables. <_<
@senny I'll see if I can reproduce in your script, but if the problem arises from a nuance in Oracle then it might be gnarly.

[2015-05-20 15:02] senny commented on #19891
@Genkilabs we do not officially support Oracle. If it's a nuance that only happens with Oracle I suggest you report it on the corresponding adapter project.

[2015-05-20 15:36] Genkilabs commented on #19891
@senny Ok, thanks. The symptoms were a match so I chimed in.
For others finding their way here, I encountered this on Rails 4.0.13 using https://github.com/rsim/oracle-enhanced and Oracle 9.2.0.x

[2015-05-20 16:39] ninkibah opened #20229 "Rails 4.2 under Jruby can't find PGconn class"
I am trying to upgrade our Rails 3.2 app to 4.2.1. So far, I've managed to get to 4.1.6 and I'm almost there. However, I am getting an
`
unknown constant  ActiveRecord::ConnectionAdapters::PostgreSQL::OID:Bytea::PGconn
`

I suspect it has something to do with the ARJDBC adapter.

As a workaround, I added the following code to a config/initializer:

[code]

The last two lines seem to be functionall

[2015-05-20 17:16] alexbrahastoll commented on #17511
:+1: I also came across a situation in which it would be great to have the prefix option.

[2015-05-20 17:38] rafaelfranca commented on #20229
We already depend o PGconn, so we should just use it normally here. Maybe we should change `PGconn.unescape_bytea(super)` to `::PGconn.unescape_bytea(super)`?

[2015-05-20 17:44] prathamesh-sonpatki commented on #20229
PG gem is not used with JRuby, This code needs to be overridden in ActiveRecord JDBC side.

[2015-05-20 17:47] rafaelfranca commented on #20229
I see. I think we see where we use `PGconn` inside Rails adapter directly and isolate that in internal adapter calls so the JRuby adapter only override these isolated methods. @ninkibah do you want to work on this?

[2015-05-20 17:48] rafaelfranca commented on #20229
hmm, but I think the type objects should not know about the connection. So maybe your patch is fine. @sgrif WDYT?

[2015-05-20 17:55] sgrif commented on #20229
This shouldn't be new in 4.2, `PGConn` was used in 4.1 as well. I think this is a bug for the JRuby adapter. The type object in question is PG specific, so it should be allowed to make those sorts of assumptions. JDBC can provide its own type.

[2015-05-20 17:56] rafaelfranca commented on #20229
:+1: I'll try to move the issue to their adapter

[2015-05-20 17:57] rafaelfranca commented on #20229
This issue was moved to jruby/activerecord-jdbc-adapter#652

[2015-05-20 17:57] #20229 closed

[2015-05-20 18:39] tomprats opened #20233 "Constraint of param named subdomain"
Rails: 4.2.0

So first some background, I'm trying to use the subdomain in the path for all my routes involving my `Organization` model. It was working until I found out that the `subdomain` field has to be able to contain more characters than the basic URL parameters allow. When I added the `constraints` block (also tried it inline), it came up with this error:

    No route matches {:action=>"ed

[2015-05-20 18:48] todd commented on #20039
I was able to trace this back to a patch we were applying early in the app's boot process. Essentially, we were referencing `Rails.env` before `RAILS_ENV` had had a chance to be set properly within Rails. This meant that running `rails c <env>` would result in the console loading the default development configuration. However, by setting `RAILS_ENV` from the shell, the proper configuration would b

[2015-05-20 20:15] tomprats commented on #20233
I tried moving the constraint into a class and calling it on the parameter like so:

    constraint Constraint::Subdomain do
      resources :organizations, except: [:new, :show], param: :subdomain
    end

    module Constraint
      class Subdomain
        def self.matches?(request)
          subdomain = request.params[:subdomain] || ""
          subdomain.match(/[^\/]*/)
        end
      end

[2015-05-20 20:36] arthurnn commented on #19791
Is rails appending a digest?

[2015-05-20 20:45] arthurnn commented on #20223
Not sure how to simulate this locally in order to fix the issue. Can you create a test app that shows the problem in isolation? or even better a running script?

thanks

[2015-05-20 23:13] danielpclark commented on #20199
I'm not quite sure why this code doesn't work.  But for anyone else who runs into this problem I've found a work around.

[code]

[2015-05-20 23:51] leandro commented on #20204
Here it is: https://gist.github.com/leandro/8581d36d09bd10453f39
I'm not sure if I did anything wrong or misused the mountable engine routes workflow.

[2015-05-21 00:10] hx opened #20236 "PG::ProtocolViolation"
I've found that a certain relation doesn't take kindly to further scoping with a `where` clause.

Here's the test case:

[code]

Here are the results:

[code]

### TL;DR

The query has two bound values; `id: 1` and `id: 2`. There are two variables in the prepared SQL: `$1` and `$1`. It should be `$1` and `$2`, but instead, PG only wants one bound value, and complains that it has too many.

I prepa

[2015-05-21 00:33] hx commented on #20236
P.S. This issue arose after upgrading from Rails 3.2 to Rails 4.2.

[2015-05-21 00:56] aetherknight opened #20239 "RemoteIp middleware's proxy handling does not handle an origin that falls within the trusted IP address ranges"
* Affects: Rails 4.2.1, but also all versions of Rails going back to 3 that I have examined.

## Sample Scenario

### Setup:
* User Agent runs on a computer with a private IP address.
* Nginx reverse proxy runs in front of the Rails app on the same host. (Or even on a remote host that is also on a private IP address
* ActionDispatch::RemoteIp middleware uses its default configuration of trusting i

[2015-05-21 00:59] repinel commented on #20154
It seems the issue is related to the fact that both `Person` and `Viewing` share the same attribute name for the default scope (`site_id`). The result is a statement with 3 parameters instead of 4.

I tested with SQLite, MySQL and PostgreSQL, and it affecting all three. SQLite just doesn't thrown an error, but the query result is wrong.

[2015-05-21 02:09] hx commented on #20236
Closing after identifying a flaw in the <https://github.com/jackc/edge> gem.

[2015-05-21 02:09] #20236 closed

[2015-05-21 03:35] matthewd commented on #20239
Thank you for the far more eloquent report than I managed. This is a duplicate of #14600 -- which I will actually really definitely deal with in the near future.

[2015-05-21 03:35] #20239 closed

[2015-05-21 03:52] veera commented on #18826
@glaszig :+1:

[2015-05-21 09:47] akshaysmurthy commented on #19791
Sorry, I should have been more clear. A digest gets appended to the cache key unless you say
`cache "dashboard", skip_digest: true`

[2015-05-21 13:43] repinel commented on #20154
@senny @sgrif Shouldn't the `non_conflicting_binds` check both the `relation` and `name` of the [attribute to bind](https://github.com/rails/rails/blob/39037b70efbc4febdb56a91fecd6f3ebd656f8e5/activerecord/lib/active_record/relation/where_clause.rb#L113)?

Here is a test for the case https://github.com/repinel/rails/commit/b69f06477319674bf980db3d10e0b2617579be77

Let me know if you have any thoug

[2015-05-21 15:40] piton4eg commented on #20223
@arthurnn created test app https://github.com/piton4eg/live

[2015-05-21 15:47] al2o3cr commented on #20199
`write_attribute` returns the value it was passed (`false` in this case) which means the `before_update` returns false, aborting the save.

[2015-05-21 19:25] jdanielnd opened #20249 "AR and equivalent SQL query return different outputs"
Rails 4.2.1

This AR query

    TotalSales.joins(:customer).includes(:product_category).
      where("customers.organization_id = ?", 1).
      group("customers.external_id, product_categories.external_id").
      maximum(:start_date)

generates this SQL query

    SELECT
      MAX("total_sales"."start_date") AS maximum_start_date,
      customers.external_id, product_categories.external_id AS cus

[2015-05-21 19:57] al2o3cr commented on #20249
@jdanielnd Do the results change if you split the SQL string passed to `group` into two strings? So `.group('customers.external_id', 'product_categories.external_id')` instead of what's currently there. A quick test on 4.2 shows that the split version gives results closer to what you're expecting.

[2015-05-21 21:34] jdanielnd commented on #20249
@al2o3cr they do change! Is it some documented behaviour? It seems `group` method gets the number of grouping keys from the number of strings on the parameters rather than the SQL response, right?

[2015-05-22 01:08] danielpclark commented on #20199
Thanks for the insight!  Same thing happens with `self.changable=false`.  So I perceive it's the same issue for that as well.

[2015-05-22 06:29] amatsuda opened #20253 "Accessing a not selected belongs_to association behaves differently since AR 4.2"
For example, given two models `User` and `Post` in `Post.belongs_to :user` relationship,
then executing following code:
[code]

4.1 raises `ActiveModel::MissingAttributeError: missing attribute: user_id`
but 4.2 returns `nil`.

This change was introduced in 8b9542001d5e3fefa67f15af0b303aaf1ea95875, where
`owner['post_id']` raises but `owner._read_attribute('post_id')` does not.

IMO 4.2 behavior s

[2015-05-22 07:49] pascalbetz commented on #20048
AFAIK:
MySQL requires an index for FK constraints.
When a FK constraint is created then an index is created by MySQL automatically.
This index can not be dropped without dropping the FK first, MySQL will complain that it is required for the FK constraint.

If you drop the FK through a migration then the index is not removed (as it was not added though the migration in the first place).

[2015-05-22 10:49] pascalbetz commented on #17511
Stumbled on this as well.
What would be the expected interface, where would that ```prefix``` option go?
Currently ```enum``` takes a single hash where every key value pair defines one enum.

[2015-05-22 13:38] mrnugget opened #20264 "Constraints on format of glob routes do not work"
While trying to fix requests for missing assets being handled by our catch-all route I noticed that specifying the format in the `constraints` hash of the route does not work. The requests still get routed to the specified controller, even though the format doesn't match. Using a lambda (or object that responds to `matches?`) works.

[code]

The documentation specifically says that this should wor

[2015-05-22 14:39] ptashman commented on #20140
How would it help to assign the nonexistent associated object as nil?

[2015-05-22 14:41] ptashman commented on #20140
Can you come up with a use case in which you would want to look up this nonexistent associated object?

[2015-05-22 15:01] norman commented on #20077
Just tried updating my app from 4.0 to 4.2 again, and I get this error in pretty much everywhere. Happy to lend a hand fixing it.

[2015-05-22 15:17] norman commented on #20077
Another facet to this bug: to try to get my specs to run, I added `prepared_statements: false` to my database.yml, but Arel then simply omits the bind parameter, generating an invalid statement:

    WHERE "unsubscriptions"."message_id" = $1 AND "users...

versus:

    WHERE "unsubscriptions"."message_id" =  AND "users...

[2015-05-22 17:25] meltingice opened #20266 "Not recognizing _method during resource update"
Currently running Rails 4.2.1.

I'm using the built-in form helper, and I'm getting the error `No route matches [POST] "/admin/foo/1/bar/3”` when attempting to update the resource.

Looking at the request data, `_method` is clearly set to `patch`, but Rails seems to be trying to process it as a POST anyways.

[code]

And the route:

`PATCH    /admin/foo/:foo_id/bar/:id(.:format)    admin/bar#updat

[2015-05-22 20:43] al2o3cr commented on #20249
@jdanielnd I believe so. Will try to track down a source reference for this behavior.

[2015-05-22 22:43] dwbutler commented on #11415
I ended up adding this to application.rb:

[code]

[2015-05-22 23:05] joaofraga commented on #20249
:+1:

[2015-05-23 00:30] fny commented on #19861
What's the proper way to make a PR that depends on the unreleased addition to `GlobalID`?

[2015-05-23 05:26] chenge opened #20271 "[Bug] rails 4.2(ruby 2.0) , cannot display error in development mode."
Detail info in: https://ruby-china.org/topics/25714

Test with this sample: https://github.com/58383788/sample_app
Reproduce error: register---->click User---->error

If I use ruby 2.2.1, it's OK.
I want to know the reason.  Does rails have test suit?

[2015-05-23 11:56] st0012 opened #20274 "The association readme's diagram images not found"
The association diagrams' image links to github's 404 page, like [this](https://github.com/rails/rails/blob/master/guides/source/images/has_one.png).

[2015-05-23 12:04] #20274 closed

[2015-05-23 14:57] simlegate commented on #20271
Chinese !!!

[2015-05-23 20:06] maclover7 opened #20277 "Virtual Attributes Query Failure"
I may have found a possible bug/issue in ActiveRecord. If you try a 'where' query for a virtual attribute, it 500s with a database no such column error. Is this an ActiveRecord issue? Is there a better way to do this type of query that doesn't end with a 500?

[2015-05-23 22:26] arthurnn commented on #20277
Can you post the stacktrace?

[2015-05-23 22:28] arthurnn commented on #20277
Did you try to simulate this in a isolation environment? you can use https://github.com/rails/rails/blob/master/activerecord/examples/simple.rb as example.

[2015-05-24 06:22] heaven opened #20280 "Wrong sql query with union (Mysql2::Error: You have an error in your SQL syntax...)"
Rails: 4.2.1

[code]

Then the next query:
[code]

Generates the next SQL:
[code]
You can see missing values in `= ? `.

While the commented out queries inside `Site.find_all_by_url` produce the right SQL:
[code]

[2015-05-24 07:56] woto opened #20281 "Names of referenced tables (Please confirm a bug)"
Hi, not sure, may be i'm wrong due lack knowledge of Rails. Can you confirm a bug?

[code]

[2015-05-24 08:03] matthewd commented on #20281
Yeah, this is current expected behaviour. IMO it's not very *nice* behaviour, but it's difficult to define an alternative set of rules that will apply consistently (plus, we'd need to deal with some potentially-tricky backward compatibility concerns).

[2015-05-24 08:03] #20281 closed

[2015-05-24 08:18] matthewd commented on #20280
I suggest going with that one, then :smile:

Raw Arel (`union`) + AR::Relation bind values = :worried:, as you have found.

[2015-05-24 08:18] #20280 closed

[2015-05-24 09:17] thomasfedb commented on #20140
@ptashman It's less that I want to look up a non-existent object, and more that I'd rather the issue was handled by my validation rather than erroring out immediately.

Often we assign association id values from a user (form or api) to a model. For example `@person.update_attributes(params.require(:person).allow(:name, :role_id))`.

If the `role_id` is out of range, that should be able to be retur

[2015-05-24 09:26] jarthod commented on #11476
Hi, I just started using streaming with Rails 4.2 and fell into this exact two issue (flash messages persisting forever and form not submitted because of invalid CSRF).
So I confirm this issue is still present on latest stable Rails version, I'm currently working around this the same way @jcoglan did, by running `form_authenticity_token` and `flash` before rendering.

This is low priority but a bi

[2015-05-24 16:13] meinac commented on #20223
This is not a bug. As the nature of `ActionController::Live` it sends the response whenever you call `write` method of the `response.stream`.
In your test case you are expecting stream to be closed but your assertion works before `stream.close`.
Try to add `sleep` gap before the assertion. This test case works on my environment with 0.01 seconds sleep.

[2015-05-24 17:03] kaspth commented on #19861
You could add a `gem 'globalid', github: 'rails/globalid'` line to Rails' gemfile to get things going :smile:

[2015-05-24 17:06] fny commented on #19861
Already done that, so I'll push what I've got shortly.

On Sun, May 24, 2015 at 1:04 PM, Kasper Timm Hansen <
notifications@github.com> wrote:

[2015-05-24 17:43] syndbg opened #20283 "[Bug] Rails 4.2.1 - integration test incorrect path join"
I'm learning Rails and loving it so far.
But I have some troubles testing a `show` resource route and I'm sure I encountered a bug.

In an integration test I want to test `resources :users`, UserController#show. I would do so by `assert_select assert_select 'a[href=?]', users_path(@user) `, but it fails due to users_path joining `@user` by '.' ?

I have the following files
[code]

[code]

[code]

[2015-05-24 22:50] maclover7 commented on #20277
Here is the isolated environment: https://github.com/maclover7/rails/blob/2571e75008900126aa2b69ed1ac4588946cfe48a/activerecord/examples/jon.rb
Stacktrace: [https://gist.github.com/maclover7/c69fd1bea4918412b863](https://gist.github.com/maclover7/c69fd1bea4918412b863)

[2015-05-24 22:52] maclover7 commented on #20277
Was looking around some past issues, I think this problem is the same as experienced in #15185 .

[2015-05-25 00:43] yoongkang commented on #20283
That's because you're using `users_path`. That's a different route, which is matched to your index action, and doesn't take an `:id` param.

Try using `user_path` in your test (singular, not plural).

If you enter `rake routes` in your terminal you'll see a list of routes and the path helpers.

[2015-05-25 01:25] EddieDow opened #20287 "undefined method http_basic_authenticate_with in ArticlesController"
I am encounter issue when trying to run the demo project on http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation, that failed when involved with function http_basic_authenticate_with, I just copy code sample code from the guidelines blog, the environment is rails 4.2.1, ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-darwin14]

Any help are

[2015-05-25 02:28] prathamesh-sonpatki commented on #20287
Hi @EddieDow Please provide some more information about what error you are getting. Preferably try to create a sample app and upload it to Github so others can see the code and help you with the error.
Thanks.

[2015-05-25 03:52] #20283 closed

[2015-05-25 06:32] heaven commented on #20280
Okay, but shouldn't this be considered a bug and fixed? This was working well with Rails 3 and if I am not wrong even with 4.1.

[2015-05-25 16:03] jdanielnd commented on #20249
It seems the method treat it as an Array of string or Symbols, but don't assume a String may contain more than one group condition:

https://github.com/rails/arel/blob/6160bfbda1d1781c3b08a33ec4955f170e95be11/lib/arel/table.rb#L55
https://github.com/rails/arel/blob/6160bfbda1d1781c3b08a33ec4955f170e95be11/lib/arel/select_manager.rb#L76

[2015-05-25 21:45] chancancode opened #20299 "bin/setup doesn't work out of the box after git clone"
The last step of `bin/setup` is to run `touch tmp/restart`: https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/bin/setup#L28

This doesn't seem to work after cloning a Rails app:

[code]

Presumably, this is because the `tmp` directory doesn't exists since it is `.gitignore`d by default.

1. we should make it work
2. `tmp` should probably exists after clon

[2015-05-25 22:45] whatasunnyday commented on #20299
I'm giving this a go now! If I don't get a PR by EOD, someone else feel free to take it over.

[2015-05-25 22:49] yoongkang commented on #20299
Oh crap.. Sorry @whatasunnyday, I didn't see your comment until I pushed..

[2015-05-25 22:50] whatasunnyday commented on #20299
@yoongkang np. Good work!

[2015-05-25 22:55] whatasunnyday commented on #20299
Also, @yoongkang to address 2 of @chancancode's comment you might want to change https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/gitignore

[code]

to
[code]

and add `.keep` file to tmp instead of creating a new `/tmp/` directory in the rake task.

[2015-05-25 23:01] simi commented on #20299
@whatasunnyday yes, that will be good to keep `bin/setup` as much bulletproof as it is possible.

[2015-05-25 23:12] yoongkang commented on #20299
@whatasunnyday thanks, I've added your name to the changelog, hope you don't mind! :)

https://github.com/yoongkang/rails/commit/32f8763780f6a036d75b5089de2c10f17d03006b

[2015-05-25 23:14] whatasunnyday commented on #20299
@yoongkang not one bit ;)

[2015-05-25 23:21] mattclar opened #20301 "Rabl/JSON views are hanging and not being rendered with ActionController::Live"
Simply when I include ActionController::live in my Appointments Controller my apptbook view which i request as appointments/apptbook.json is loaded (i can see the database loads on the terminal attached to my server) but nothing is returned to the browser, the browser hangs waiting for a response. Can't seem to work this out none of my usual html views in this same controller stall out like this,

[2015-05-26 02:58] mattclar commented on #20301
Ok so I decided to extract all my SSE ActionController:live code out of the seperate controllers and into a dedicated events controller, which obviously solves my problem, but I still think this is a bug, including   ActionController::live shouldnt disrupt other parts of the controller?!

[2015-05-26 06:08] pan commented on #18750
The error "`ActiveRecord::ConnectionAdapters::TableDefinition' (NameError)" looks like an issue coming from the deprecated gem redhillonrails_core which seems not working with rails 4+.  You probably want to use its successor https://github.com/lomba/schema_plus instead. I would suggest removing the activerecord label for this issue.

[2015-05-26 08:05] kugaevsky commented on #19880
@laserlemon is there any workaround there? All my application's configuration is based on `figaro` (thank you for awesome gem) and it's really hard to maintain different yml-files for almost each gem.

[2015-05-26 08:21] jodosha commented on #18027
@rafaelfranca Hello, I'm experiencing this problem in testing code. After the first run it works fine, then it raises this error randomly.
It looks like a shared state, but I'm not using spring, as the spec is run via `bundler exec rspec path/to/spec.rb`.

I'm on Rails 4.1.10, pg 0.18.2 (PostgreSQL 9.4.1) and marginalia 1.3.0.

It happens even for trivial lines like:

[code]

This isn't a new appl

[2015-05-26 08:28] jodosha commented on #18027
@rafaelfranca I have an update. On subsequent runs of the same spec, I get the following error:

[code]

The offending line is:

[code]

It looks like the shared state (mentioned in the previous comment) is the database. Probably some process remains stuck after the first run and causes this problem.

[2015-05-26 08:45] senny commented on #20277
@maclover7 It's not possible to query by any method like that. You need to go through the association:

[code]

[2015-05-26 08:45] #20277 closed

[2015-05-26 12:34] maclover7 commented on #20277
@senny Thanks for the advice. Unfortunately, I'm still getting that same error (DB is migrated, valid association is in place)

[code]

[2015-05-26 13:01] pan commented on #19785
If you change the statement from
`assert_equal 1, user.user_profile.credit_cards`
to
`assert_equal 1, user.credit_cards.count`,
it will fix the "no such column" exception.

[2015-05-26 13:06] senny commented on #20277
@maclover7 my bad. Association names are not supported as hash keys. Using the table name combined with a `joins` should work fine.

[code]

[2015-05-26 13:10] maclover7 commented on #20277
@senny So then using my above use case, would this be the correct syntax?

[code]

[2015-05-26 13:15] senny commented on #20277
As your table is called `assignments` it would be:

[code]

See [this modified script](https://gist.github.com/senny/1658060bfba4f3eeec91).

[2015-05-26 13:39] u007 commented on #18027
jodosha - that dont look like the same issue

[2015-05-26 13:40] u007 commented on #18027
btw, ive updates,
it turned out that after ive moved faye to another process,
and upgraded my eventmachine to 1.0.7,
the error no longer happen,
but instead, im getting some other eventmachine related error

im not sure how that have caused issue on this package, is it due to concurrency issue with mysql pool?

thanks

[2015-05-26 14:02] syndbg commented on #20283
I wanted to test specifically the `#show` path and as you mentioned that's possible with `user_path`.

Thank you, very much!

[2015-05-26 14:26] maclover7 commented on #20277
Awesome -- thanks @senny. Not sure if you would be able to help with this, but I've got another question related to this query...

I'm trying to check if the assignment's due_date is equal to Date.today, but the due_date contains other info like the time. How would you recommend I do this?

[2015-05-26 14:30] senny commented on #20277
@maclover7 sorry but we use this tracker for bug reports and code discussions only. You can use the [rails-talk](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-talk) mailing list or head over to StackOverflow. You can find more details in our [contribution guidelines](https://github.com/rails/rails/blob/master/CONTRIBUTING.md)

[2015-05-26 14:40] hayesmp commented on #19785
@pan Sorry. I'm trying to determine why I get the no such column error when I use `has_many :credit_cards, through: :user`. I updated my sample code.

[code]

[2015-05-26 14:50] maclover7 commented on #20277
Ok, thanks again for all of your help. Stack Overflow question is posted here: http://stackoverflow.com/questions/30461956/check-if-datetime-is-equal-to-date-today

[2015-05-26 14:56] sgrif opened #20308 "Using an association name as the key in a call to `where` can act inconsistently"
https://gist.github.com/senny/1ae4d8ea7b0e269ed7a0

This is something I'm currently working on, but wanted to document.

[2015-05-26 14:58] matthewd commented on #20308
Per discussion in the vicinity of https://github.com/rails/rails/pull/13555#issuecomment-43038895, if we don't manage to make this work properly for 5.0, I think we should return to the 4.2 behaviour (no support for association names) rather than release with the behaviour shown in that gist.

[2015-05-26 15:18] rafaelfranca commented on #20301
Yes, it does. Because you include in the whole controller not just in the action. This is one of the gotchas from using `ActionController::Live`, and it is documented. See http://api.rubyonrails.org/classes/ActionController/Live.html.

[2015-05-26 15:18] #20301 closed

[2015-05-26 15:25] jodosha commented on #18027
@u007 The initial error for me is the same and it happens in `exec_query` but for PG adapter.

[2015-05-26 17:28] nyarly opened #20311 "Complex issue with transactions in testing"
Apologies up front for a terrible bug report. It seemed better to make a public note than do nothing.

In recent work, I set up a large list of records with FactoryGirl in a request spec. To shave time in the tests, I pushed the factorying to a before(:all), complete with transaction based DatabaseCleaner commands. (i.e. there was also an `after(:all){ DatabaseCleaner.clean }` ). If these tests we

[2015-05-26 19:07] sb8244 commented on #20189
@rafaelfranca This was marked as deprecated behavior in the relevant PR that @hwhelchel did. It looks like a "will not fix" unless I'm misunderstanding.

[2015-05-26 19:23] #20189 closed

[2015-05-27 04:04] steve32 commented on #14173
In 4.1.8: `render_to_string` is causing the response to my xhr request to have the following header: `Content-Type:text/html`.

Removing the call to `render_to_string` and the header normalizes to: `Content-Type:text/javascript`.

[2015-05-27 06:49] tgxworld commented on #20271
Tested in `2.0.0p643` and I couldn't reproduce your error with the application that you've provided. :confused:

[2015-05-27 07:36] aruprakshit opened #20312 "route helper methods are not getting created while using the controller option."
I have the the below chunk inside my _routes.rb_ file.

[code]

But it is not generating helper methods.

[code]

I found [this](http://api.rubyonrails.org/classes/ActionDispatch/Routing.html) in the doco as :

[2015-05-27 07:50] universal commented on #20312
Taking the example from http://api.rubyonrails.org/classes/ActionDispatch/Routing.html:

[code]

This results in the following routes to be generated on 4.2.1:

[code]

It looks like the two routes without an ```:id``` parameter work as advertised, but the route with the ```:id``` parameter does not generate a named path. I'm not sure if this is simply an error in the documentation, or an error in

[2015-05-27 12:50] ShallmentMo opened #20315 "prev_week doesn't work like what the doc said"
I want to use prev_week to get Monday in last week.Here is the code

    "2015-05-24".to_date.prev_week :monday #=> Mon, 18 May 2015

I want :monday to be the first day of prev_week, I think it should return Mon, 11 May 2015, so I add the config:

    config.beginning_of_week = :monday

then, I get this

    "2015-05-24".to_date.prev_week #=>Mon, 11 May 2015
    "2015-05-24".to_date.prev_week :mon

[2015-05-27 13:41] kasper commented on #18660
@pixeltrix Any update on this? I can confirm that your fix works. Will this be added to the next release?

[2015-05-27 14:02] claudiob commented on #20315
Hello @ShallmentMo !

The [documentation](http://api.rubyonrails.org/classes/DateAndTime/Calculations.html#method-i-prev_week) of `prev_week` says:

Here's a representation of the days in May 2015, with the weeks starting on Monday:

[code]

The date you specified (May 24th) falls into the week of May 18th to May 24th.
The Monday of the previous week is therefore May 11th, as returned by `prev_wee

[2015-05-27 15:32] ShallmentMo commented on #20315
@claudiob , I understand why it's May 11th. Which I don't understand is the first line of codes when I haven't set config.beginning_of_week. It return Mon, 18 May 2015 when I pass :monday as parameter.

[2015-05-27 16:14] tihuan opened #20318 "Ruby on Rails Security Guide Additional Resources No Longer Available"
http://guides.rubyonrails.org/security.html#additional-resources

`A good security blog including the Cross-Site scripting Cheat Sheet`
http://ha.ckers.org/ is no longer available.

[2015-05-27 19:40] claudiob commented on #20315
@ShallmentMo Under which circumstances is the result "Mon, 18 May 2015"?

From your code above, it looks like the result is correct.
Maybe your Rails application is overriding the default value of `Rails.configuration.beginning_of_week`?

[2015-05-28 00:28] hderms opened #20325 "Definition of method in rake task leaks onto Object"
on master we have two method definitions:  https://github.com/rails/rails/blob/master/railties/lib/rails/tasks/framework.rake#L39
and
https://github.com/rails/rails/blob/master/railties/lib/rails/tasks/framework.rake#L43

in which methods are defined which leak onto `Object`. Despite this behavior being unlikely to produce issues, and therefore probably why it hasn't been fixed already, I think th

[2015-05-28 00:38] yoongkang commented on #20318
Thanks, this had already been fixed in master: http://edgeguides.rubyonrails.org/security.html#additional-resources

However, I found another link to the ha.ckers.org domain and opened a PR which is now merged.

[2015-05-28 00:40] #20318 closed

[2015-05-28 01:22] #20325 closed

[2015-05-28 01:54] rafaelfranca commented on #20144
This issue was moved to rails/spring#408

[2015-05-28 02:23] ShallmentMo commented on #20315
Is it I misunderstand? The parameter start_day will not override the  config.beginning_of_week ,  it is just ask the day of previous week, not set the beginning_of_week to be the day?

[2015-05-28 03:29] kamipo commented on #17370
#17654 was merged. Now supported for `strict: :default`:

[code]

[2015-05-28 03:29] amilligan opened #20330 "Relation does not respond to #compact"
PRs #19836 and #20328 are both entirely valid resolutions for this issue.

Given, that `#compact` does not mutate a collection, and the rule is that that `Relation` should not respond to mutating methods, the blacklist is not necessary.

The missing method forces use of RTTI, or extraneous use of `#to_a`, to work around the interface mismatch.

[2015-05-28 03:30] #17370 closed

[2015-05-28 03:31] #20330 closed

[2015-05-28 03:31] rafaelfranca commented on #20330
:+1: reopening the PRs

[2015-05-28 03:54] amilligan commented on #20330
Great, thanks for taking another look.

[2015-05-28 04:39] rafaelfranca commented on #20312
I never remember how this works. @pixeltrix @carlosantoniodasilva @fxn do you know?

[2015-05-28 04:42] #20271 closed

[2015-05-28 09:36] universal commented on #20312
If i found the correct lines in the long mapper file, these should be it:

controller: https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/routing/mapper.rb#L827-L830
scope: https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/routing/mapper.rb#L779-L820
map_method: https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/rout

[2015-05-28 09:37] OnlySteveH commented on #18660
Changing the case worked for me too - I had `rspec` issues throwing the error as described. My app had a capitalised folder name. Thankfully, I found this thread and was able to change the folder name. All works with no problem. I'm using Mac Yosemite with Rails 4.2.1 and Ruby 2.2.1p85.

Thanks to all for posting this solution.

[2015-05-28 11:13] carlosantoniodasilva commented on #20312
It looks like the ones with the dynamic segment `:id` do not generate the name, but I don't really remember the details off the top of my head, will look it further.

[2015-05-28 11:16] fivedigit opened #20333 "ETag with template digests ignoring controller namespace"
The `EtagWithTemplateDigest` concern is ignoring the fact that controllers may be namespaced while looking up the template digest to include in the ETag for a request.

Given the following controller:

[code]

When requesting the page, a warning appears in the output:

The implicit view to be rendered for this controller is `foo/bars/show`, so `EtagWithTemplateDigest` should ideally honor this con

[2015-05-28 11:19] infertux opened #20335 "Incorrect directory permissions for cache"
For some weird reason, Rails seems to be creating directories with incorrect permissions, which doesn't allow to create sub-directories and raises this exception: `Errno::EACCES - Permission denied @ dir_s_mkdir - [...]/tmp/cache/864/4C1`

`tmp/cache/864` is created with permissions `drw-r-xr-x` (655) instead of `drwxr-xr-x` (755) and thus `tmp/cache/864/4C1` cannot be created.

[code]

[code]

[c

[2015-05-28 13:09] coorasse commented on #15079
I created a PR but I'm  not sure about security implications

[2015-05-28 13:38] dhh opened #20338 "ActiveRecord::Base#find(array) should return result in same order as the array"
It's common to want to find a group of records and have them returned in the same order that you asked for them. We can't expect SQL to do this for us. So instead we should make #find do the work. Here's a naive implementation:

[code]

#find should call #records_in_sequence on any calls where the *ids set size is >1.

[2015-05-28 13:45] dhh opened #20339 "Add Enumerable#pluck"
It's common to have methods that can operate on either an array, an unloaded Active Record scope, or a loaded AR scope. AR scopes supply the #pluck method to grab just a single value efficiently through SQL. It should be possible to call #pluck on an array of ARs or hashes and expect the same, as well as not requiring another SQL call if the scope has already been loaded.

Implementation:

[code]

[2015-05-28 14:54] dreyks opened #20340 "Code reloading constant lookup issue"
My app uses several unbuilt isolated engines, sometimes class and module names inside them coinside.
Say I have an Engine `A` and a `B` class in it, so it is `A::B`. Then I have an engine `B`. So there's a class `A::B` and a module `B`.
In order to be sure that all the constants resolve well I put `config.eager_load = true` into `development.rb`
Now when in the controller of `A` (which is properly

[2015-05-28 15:55] bogdan commented on #20338
`find` argument may contain duplicated ids. Right now, it de-duplicates them automatically. I use this behaviour because sometimes I am too lazy to call `uniq` myself. Especially in console, I relay on it a lot.
It can break existing behaviour by returning same record twice.

Also other people may relay on a fact that it will return records in the order specified in the relation.
The following wil

[2015-05-28 17:32] meinac commented on #20312
I've found the problem, [here is the breaking point](https://github.com/rails/rails/commit/f63d35fba55867111427bfeb54c31b11e02d5d3f). I'm trying to understand reason behind of this commit and try to achieve it in another way.

[2015-05-28 17:57] dhh commented on #20338
We don't need to return the same record twice, even if that was a blocker.
Could just interpolate on the first occurrence. This is not worth a
separate method in my mind.
On May 28, 2015 5:56 PM, "Bogdan Gusiev" <notifications@github.com> wrote:

[2015-05-28 18:04] rafaelfranca commented on #20338
@dhh but I have to agree with the `order` case. Which order should we follow, if the argument order it will be a breaking change and we don't have a good way to warn users about it. If it is the `order` definition it will be backward compatible but the implementation will be tricky.

[2015-05-28 18:33] modosc opened #20342 "segfault in activerecord-4.2.1/active_record/connection_adapters/postgresql/oid/hstore.rb"
(please let me know if this is the wrong place for this issue - i figured i'd work my way down and start here before i go to ```pg```, ```ruby``` or ```postgesql```)

versions that might be relevant:

    ruby-2.1.6
    rails-4.2.1
    postgres-9.4.1
    pg-0.18.1

(we also tried ```pg-0.18.2``` as well but still saw the same issue)

on both osx and linux we get a segfault ~5% of the time:
[code]

[2015-05-28 18:35] dhh commented on #20338
Happy to make this happen only when no order is given. I never use order when I give a specific list of ids.

[2015-05-28 18:39] rafaelfranca commented on #20338
:+1:

[2015-05-28 19:05] rafaelfranca commented on #20342
Can you please provide a sample application that reproduces the error?

[2015-05-28 19:34] modosc commented on #20342
i'll try building a minimal app now.

[2015-05-28 19:48] joallard commented on #16599
I see the patch isn't on `4-2-stable` yet. Is there a workaround for this? As of now I see no way to make the schema remember the column type. (I tried `change_column` and SQL statements, nothing sticks) Any thoughts?

[2015-05-28 20:00] jcockhren opened #20343 "Fix Docs in regards to boolean presence validation"
### Problem
The ActiveRecord documentation contradicts itself.  See the [section on presence validation in regards to boolean values](http://guides.rubyonrails.org/active_record_validations.html#presence).

And I quote:

[code]

However, given #18583, #7508 and #6953 seem to suggest that `false.blank? == true` is the intended behaviour. This in turns causes the presence validation of a boolean att

[2015-05-28 20:04] matthewd commented on #20342
If it's in an AR/`pg` interaction, you should theoretically be able to reproduce it [in isolation](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb).

(Given that it's a segfault, it's very likely going to be an issue in `pg` -- but we'll certainly be happy to help confirm that, and track it down.)

[2015-05-28 20:12] jcockhren commented on #20343
there ^

[2015-05-28 20:26] infertux commented on #20335
Temporary (ugly) fix:

[code]

Still need to get to the bottom of this...

[2015-05-28 20:31] matthewd commented on #20335
Is this reproducible on a supported version of Rails?

[2015-05-28 20:35] infertux commented on #20335
@matthewd I don't know but this app will be upgraded to Rails 4 in the next couple of months so we'll see... In the meantime, I'm kinda clueless about the randomness of this bug, I'm not even sure the problem is in Rails...

[2015-05-28 20:50] laurocaetano commented on #20343
closed by https://github.com/rails/rails/pull/20344

[2015-05-28 20:50] #20343 closed

[2015-05-28 21:13] rafaelfranca commented on #20335
Can you please provide a sample application that reproduces the error?

[2015-05-28 21:49] #20223 closed

[2015-05-28 21:58] radar opened #20345 "Remove of File.expand_path in Rails::Server"
Currently, Rails has [this code in `Rails::Server`](https://github.com/rails/rails/blob/73aab036eeeb297dc85dc812f54e26aa943f48f7/railties/lib/rails/commands/server.rb#L101):

[code]

I am not sure that this is `File.expand_path` is necessary any longer, as Rack [has this code](https://github.com/rack/rack/blob/99293fa13d86cd48021630fcc4bd5acc9de5bdc3/lib/rack/server.rb#L333):

[code]

It looks lik

[2015-05-28 22:03] rafaelfranca commented on #20345
If it works, seems fine to remove.

[2015-05-28 22:52] kddeisz commented on #20339
I'd be happy to do this is that's alright?

[2015-05-28 23:30] jorihardman commented on #19711
I started looking into this more and the issue is that when using a string, activerecord can't infer which column is being accessed, and so is unable to check the precision on the column object itself. When using symbols in a map, the column object can be fetched, and thus the precision can be determined.

I upgraded my app from rails 4.1 and so never explicitly set a precision. I noticed the issu

[2015-05-29 00:10] jorihardman commented on #19711
I've hunted down what causes this default behavior and it is here:

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/abstract/quoting.rb#L137-142

It's very confusing to have the default to_s(:db) format manipulated like this.

[2015-05-29 00:30] sodabrew commented on #19711
This comment on f1a0fa9e19b7e4ccaea191fc6cf0613880222ee7 points out that it would cause exactly this bug. Is the issue that unit tests aren't running on MySQL 5.6 yet, I would imagine they'd catch this already.
https://github.com/rails/rails/commit/f1a0fa9e19b7e4ccaea191fc6cf0613880222ee7#commitcomment-10048579

[2015-05-29 00:44] kddeisz commented on #20339
PR: https://github.com/rails/rails/pull/20350

[2015-05-29 01:13] #20339 closed

[2015-05-29 01:44] sethvargo opened #20353 "Rails 4.2 deprecation warning when using params in url helper"
When using a URL helper like:

[code]

Where `params` is an `ActionController::Parameters`, the following deprecations is shown:

[code]

See also https://github.com/rails/rails/pull/17743#issuecomment-102393355

[2015-05-29 01:46] rafaelfranca commented on #20353
Yes. This is by design. You should filter and make the keys symbols before passing to the helper.

[2015-05-29 01:49] sethvargo commented on #20353
At the very least, I think the deprecation warning is misleading... I'm not using string keys - I'm using an object, and the appropriate path to fixing the deprecation is not immediately clear.

[2015-05-29 01:50] sethvargo commented on #20353
I also disagree a bit with your assessment. Consider a search page that uses query parameters. When linking to the next page, you want to pass in all the params from the URL into the link to the "next page". Those URL parameters may be unknown, and you may need to duplicate that logic multiple times on the page. It doesn't seem like the best approach.

[2015-05-29 01:52] rafaelfranca commented on #20353
@pixeltrix WDYT?

[2015-05-29 02:25] #20315 closed

[2015-05-29 03:20] dahal commented on #19001
I am getting the same/similar error here. Like @rafaelfranca suggested, I have defined the limit on my column.

In addition to that, it also removed / adds the extensions. :point_down:

![screen shot 2015-05-28 at 8 17 44 pm](https://cloud.githubusercontent.com/assets/3684236/7875809/c2e1d00a-0576-11e5-882c-7354ec81efd1.png)

[2015-05-29 04:00] dahal commented on #19001
I dropped my tables, and ran `rake db:schema:load` instead of `rake db:migrate` , it appears to have loaded the schema just fine. But I am afraid if I make any changes and run migration, the issue will repeat. Is this is rails (`migration`) issue or Postgres ?

[2015-05-29 04:15] dahal commented on #19001
I ran a new migration after loading the clean schema. And it did not change my schema (delete or add). Looks like, `rake db:migrate` does not add any limits or extensions to postgres tables anymore, not sure if thats a bug or a feature.

[2015-05-29 09:44] frenkel commented on #11853
I worked around this by manually adding the virtual attribute using attr_accessor before the validation.

[2015-05-29 09:51] jimmykarily commented on #11853
@AKoetsier binstubs is not the problem. The preloading of the Rails environment is (that's why I wrote "springified binstubs"). Maybe you are running some other preloader (Guard?).

[2015-05-29 11:42] bogdan commented on #20338
Well order is a common thing as default scope or in association.

Nevertheless it is still a breaking change because of default order by `id desc`. Even though it is not officially supported by the database. But I'll leave it for rails-no-breaking-changes team to decide.

[2015-05-29 11:45] dhh commented on #20338
I think allow you to get records back in a ordered fashion is more
important in this case, so let's proceed.

On Fri, May 29, 2015 at 1:42 PM, Bogdan Gusiev <notifications@github.com>
wrote:

[2015-05-29 12:20] k0nserv opened #20360 "ActiveRecord::QueryMethods#from no longer escapes mysql attributes"
The release of Rails 4.2.1 breaks subqueries with columns that match reserved keywords.

## Script to reproduce

[code]

### Rails 4.2.0
In rails 4.2.0 this will generate a query that looks like this

[code]

Notice that the value in the select are properly escaped with backticks and fully qualified with the name of the subquery

### Rails 4.2.1
In rails 4.2.1 it will generate a query that looks l

[2015-05-29 12:23] dhh opened #20361 "Digest cache should be per-request in development mode"
Currently we compute the template digest on every template lookup in development mode. This allows you to change the template and see the change right away. That's great.

But in cases where you're looping over a bunch of the same templates within a single request, we compute the same digests over and over again within that request. That's not necessary, and it really slows down things in local de

[2015-05-29 12:38] dhh commented on #20361
@kaspth Is this something you might want to take a look at? Given that you're sorta in that neck of the wood with the cache multi loader.

[2015-05-29 13:54] agis- commented on #20333
Are you trying with 4.2 or?

[2015-05-29 14:05] manish-shrivastava opened #20363 "Rails Test: SystemStackError: stack level too deep"
I downloaded and tested rails by running `bundle exec rake test`,  I got some errors as below.

[code]
Trace lines as below:

[code]

At the end of test It also says :
[code]

[2015-05-29 14:30] repinel commented on #20363
Related to #19878

[2015-05-29 14:38] agis- commented on #20266
Can you please upload a minimal rails app reproducing the issue? That would make things easier.

[2015-05-29 15:51] kaspth commented on #20361
I'd rephrase that as "deep in the nightmare forest chased by an axe murderer" :trollface:

But yeah, I'll take a look because this has bothered me too :+1:

--
Kasper

[2015-05-29 15:57] dhh commented on #20361
Hahaha, that was a 10K XP mission right there.

On Fri, May 29, 2015 at 5:52 PM, Kasper Timm Hansen <
notifications@github.com> wrote:

[2015-05-29 16:20] infertux commented on #20335
So I added `raise File.umask.to_s(8) unless File.umask == 022` into `file_store.rb` and it does raise randomly with _umask = 0122_. Since Rails doesn't seem to change `File.umask` anywhere, the issue is probably somewhere else (Unicorn?) so I'm closing this.

[I'll post my findings here...](https://xkcd.com/979/)

[2015-05-29 16:20] #20335 closed

[2015-05-29 16:26] #20363 closed

[2015-05-29 17:44] rafaelfranca commented on #20361
lol. Since we are here, I was talking a look on this code with @britto and he has some inputs about it.

[2015-05-29 19:34] jorihardman commented on #19711
I absolutely agree with @dre-hh on that one.

[2015-05-30 05:33] bsodmike opened #20373 "rake db:migrate fails with DATABASE_URL"
Hi guys,

I'm getting `Mysql2::Error: Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock'` and have verified that `DATABASE_URL` is set in the env.  The rake task is run with an entrypoint script within a Docker container.

This currently works if the container is given access to the mysql socket (via -v, to bind a local path), yet my app runs via `DATABASE_URL`.

Appr

[2015-05-30 08:03] #20299 closed

[2015-05-30 08:09] collimarco opened #20376 "any? overwrites COUNT(*) AS in custom select"
I have the following query which is correct:

[code]
The relevant part is `COUNT(*) AS similarity` because this gets overwritten when calling `any?`.

I get:

[code]

As you can see now we have `COUNT(*) AS count_all` instead of `COUNT(*) AS similarity`. IMHO this overwrite should not happen.

A workaround might be to name the alias `count_all` from the beginning, but this should be at least docum

[2015-05-30 11:00] christianonrails opened #20377 "ActionController::Base.helpers.image_url doesnt generate hashed version in initializer"
I got an constants.rb file in config/initializers with the following content:

[code]

When I try to call DEFAULT_IMAGES somewhere in the code or even in the console then I get the images back without the hash. Is it that what its supposed to do and am I wrong in my expectations?

DEFAULT_IMAGES
=> {:profile=>"http://localhost:3000/assets/v2/default_profilepic.jpg", :banner=>"http://localhost:3000

[2015-05-30 11:12] matthewd commented on #20377
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-05-30 11:12] #20377 closed

[2015-05-30 13:23] yoongkang commented on #20312
I have a proposed solution for this at #20374.

[2015-05-30 14:48] manishspuri commented on #20373
is the db server running?i tried on local.. looks good...!

[2015-05-30 14:58] bsodmike commented on #20373
Hey manish, it connects fine if I disable the need to run migrations.

[2015-05-30 15:00] bsodmike commented on #20373
My config is as follows

[code]

It's running right now here, mwdesilva.com, but that's cause the migrations run via the socket.  If I prevent the container having access to the socket, then migrations fail, i.e. `-v /var/run/mysqld/:/var/run/mysqld/ `.  I've double confirmed that the container `ENTRYPOINT` script has indeed got access to `DATABASE_URL` (simulated by doing `echo $DATABASE_URL; exi

[2015-05-30 15:55] bsodmike commented on #20373
Well, I learned something interesting today.  First off, `DATABASE_URL` cannot have `localhost` but rather `127.0.0.1`.  But the loop-back address inside a Docker container is the container itself.  One approach is to link containers, or pass the host IP (setup by docker) as `172.17.42.1`.

[2015-05-30 15:55] #20373 closed

[2015-05-30 16:46] vipulnsward commented on #20360
This is related to https://github.com/rails/rails/issues/18743#issuecomment-72281012
AFAIK, based on the discussion we agreed for this corner case?

[2015-05-30 16:58] k0nserv commented on #20360
That seems like it's probably it. Maybe just making sure the value is quoted, but skipping the full qualification of the column would be a good middle road. AFAIK that should allow both this behaviour and the behaviour discussed in #18743 to continue working

[2015-05-30 18:37] #20360 closed

[2015-05-31 00:21] sgrif commented on #20376
This is more or less the expected behavior. Generally speaking, the values of `select` shouldn't affect the results of `any?` and are safe to override. That said, you've definitely got an edge case here. If you feel this could use additional documentation, please feel free to open a PR.

[2015-05-31 00:21] #20376 closed

[2015-05-31 04:10] bsodmike commented on #20373
Hey @manishspuri, do me a favour please.  Change your `DATABASE_URL` to have `localhost` instead of `127.0.0.1`.  Does migration throw any errors now?

[2015-05-31 10:12] davidpdrsn opened #20388 "`.where` with array like object returns empty array"
`User.where(id: some_array_object)` works fine when `some_array_object` actually is an instance of `Array`, but returns an empty array when its only "array like". Could be that a decorator made with `SimpleDelegator` had been applied.

Here is an example:

[code]

I'm not sure if this is actually intended behaviour, but to me this seems like something that should work.

[2015-05-31 13:41] yoongkang commented on #20388
I had a brief poke around and so far it seems to be a typecasting issue.

Bizarrely, if you used this:

[code]

It would work. But not:

[code]

I might take a closer look later, but would be happy if anyone else wants to work on it.

[2015-05-31 17:06] ryantownsend commented on #20333
I'm also having this issue with any namespaced controller, following the default paths, e.g. `Api::V1::UsersController` would be in 'app/controllers/api/v1/users_controller.rb' with it's views in `app/views/api/v1/users`.

My Rails version: 4.2.1.

[2015-05-31 19:03] magikid commented on #15923
@sebjacobs if this is fixed as of 4.2.0, can you close this issue?

[2015-05-31 19:44] krainboltgreene opened #20390 "Rails shouldn't enforce the use of secrets.yml"
[code]

It should be sufficient that these ENV values exist and contain something. That they exist some arbitrary file Rails decided on seems to stomp all over other tools.

It's also (as far as I can tell) Rails has cared *where* something is defined.

[2015-05-31 21:10] anand-mohanaveeramani commented on #20388
Pull request : https://github.com/rails/rails/pull/20391

[2015-06-01 06:22] westoque opened #20395 "Add Object#attempt to activesupport."
I always encountered code that looked like:

[code]

 I was thinking of adding `Object#attempt` to shorten this call. It would look like

[code]

Internally it would call `Object#try` and return the value of the call and not raise a `NoMethodError` if the method does not exist, instead it would fail gracefully and would return `nil`.

[2015-06-01 06:23] chancancode commented on #20395
Thanks exactly what Object#try does today :)

[2015-06-01 06:23] #20395 closed

[2015-06-01 06:24] chancancode commented on #20395
See http://api.rubyonrails.org/classes/Object.html#method-i-try

[2015-06-01 06:26] westoque commented on #20395
@chancancode oh thanks. didn't see that.

[2015-06-01 08:04] senny opened #20397 "`bin/rake routes` on master shows detailed sprockets output"
I just created a new application from `master` with `--dev`. After running `bin/rake routes` I noticed that the `/assets` route has quite detailed output in the "controller#action" column. Is this expected?

[code]

/cc @rafaelfranca

[2015-06-01 08:42] sebjacobs commented on #15923
@magikid I can confirm that this is no longer an issue in `4.2.x`.

[2015-06-01 08:42] #15923 closed

[2015-06-01 10:51] yoongkang commented on #20397
Can confirm. However, if I use sprockets-rails 3.0.0alpha that goes away. Perhaps we need to use a different sprockets-rails version.

[2015-06-01 12:20] collimarco opened #20400 "add_column ignores index: true"
Using Rails 4.2.0 the `index: true` part in the following statement is completely ignored:

[code]

This happens for any type of column (e.g. `boolean`, `string`).

To reproduce this issue just create a table:

[code]

Then add:

[code]

Run the migrations. Then check `schema.rb`or directly the database and you won't find any index.

The documentation says:

[2015-06-01 13:03] matthewd commented on #20388
https://github.com/rails/rails/pull/20391#issuecomment-107434338

[2015-06-01 13:03] #20388 closed

[2015-06-01 14:37] joshukraine commented on #20077
I'm trying to update a Rails app from 4.0.13 to 4.2.1. I have quite a few failing specs with a very similar error:

[code]

Just curious if there has been any progress in fixing this issue? Any suggestions for an interim workaround? Thanks!

[2015-06-01 14:46] norman commented on #20077
@joshukraine I am affected by this issue in an application that uses Arel to generate EXISTS clauses in code similar to the below example:

[code]

The workaround for me was to invoke `to_sql` on the scope and pass the resulting SQL string into the WHERE clause:

[code]

[2015-06-01 14:59] rafaelfranca commented on #20397
Yeah. I think we should point to sprockets-rails master for the master branch.

[2015-06-01 15:02] rafaelfranca commented on #20400
This is a documentation problem. Could you send a PR?

[2015-06-01 15:29] rafaelfranca commented on #20390
Sorry but we centralised the lookup of these values on that file, so you can use environment variables, a file vault or wherever you want to use to store your secrets. The file have to be there.

[2015-06-01 15:29] #20390 closed

[2015-06-01 17:46] collimarco commented on #20400
What's wrong exactly with [the documentation](http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/SchemaStatements.html#method-i-add_column)?

Is it the whole statement?

Or only a part of it?

Furthermore I find it useful to be able to pass options (such as `index: true`) to `add_column`. Are you sure that is only documentation that needs to be fixed and not the code?

[2015-06-01 17:56] arthurnn commented on #20397
Yeah, @senny can you double check if that is fixed with latest sprockets-rails ?
This should be fixed there.

[2015-06-01 18:01] rafaelfranca commented on #20400
The whole statement. `add_column` don't call `TableDefinition#column`, its call [`AlterTable#add_column`](https://github.com/rails/rails/blob/7785417984f61a9d5e00416c13b89dce2ee02daf/activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb#L391) and this function don't accept all the options of `TableDefinition#column`.

The code can be changed, yes, bug only on the master

[2015-06-01 18:07] collimarco commented on #20400
Ok, sure! As you say the index option is passed up to [this method](
https://github.com/rails/rails/blob/21a60c15cca12c03f6c9e7500b9d1a4eaa05db1a/activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb#L414), where, indeed, is lost.

[2015-06-01 18:27] joshukraine commented on #20077
@norman Thanks for the info! I'll give that a try and see what I can work out.

[2015-06-01 19:15] krainboltgreene commented on #20390
I get why you do it, I'm not an idiot.

But why not just expect the values to be in the ENV? Wouldn't that handle
both situations?

On Mon, Jun 1, 2015 at 10:30 AM, Rafael Mendonça França <
notifications@github.com> wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-01 19:18] rafaelfranca commented on #20390
Just to not have to maintain a special case on the code. The environment
variable case is already handled on the file case so I don't see why
handling it using a different path

On Mon, Jun 1, 2015, 16:15 Kurtis Rainbolt-Greene <notifications@github.com>
wrote:

[2015-06-01 19:26] krainboltgreene commented on #20390
In the code make one check:

`if ENV["SECRET_SESSION_KEY"]`

BAM done, now you support both ways and no one is forced to keep a file
around.

On Mon, Jun 1, 2015 at 2:19 PM, Rafael Mendonça França <
notifications@github.com> wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-01 20:01] modosc commented on #20342
still trying to repro it in isolation. just got a crash on osx while testing though. ruby stack trace is basically the same, here's the osx crash report:

[code]

[2015-06-02 00:00] magikid commented on #16085
@sgrif did you ever get this fix back ported to 4.2?

[2015-06-02 00:05] christopher-b opened #20411 "PG::UnableToSend (SSL SYSCALL error: EOF detected)"
Hi,
I'm seeing intermittent Postgres errors in my rails app:

[code]

These errors are resulting in very long-running requests. I've googled this error, but all the results points to a problem (#12867) that was been fixed as of version 4.1.0, or to problems with gems I'm not using (Sideqik, Sequel). I haven't found any recent reports of a similar problem.

This is a low-traffic application, and I

[2015-06-02 00:07] rafaelfranca commented on #20411
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-06-02 06:50] tgxworld commented on #18950
@rafaelfranca This issue can be closed :smile:

[2015-06-02 06:51] tgxworld commented on #19374
@rafaelfranca This issue can be closed too following https://github.com/rails/rails/pull/20138.

[2015-06-02 07:29] kenn opened #20416 "ActiveSupport::MessageVerifier raises "ArgumentError: invalid byte sequence in UTF-8" on malformed cookie"
Last night, we received a bunch of error notifications like this:

[code]

and it turns out, the following code raises the error when an invalid string (e.g. "\xff") is given as the cookie value, set by a (potentially malicious) client.

[code]

Considering that it's a client error (or an attack attempt), we shouldn't raise an error and return 500.

Here's a minimal repro:

[code]

I would suggest

[2015-06-02 09:06] #18950 closed

[2015-06-02 09:08] snags88 commented on #20338
just curious if this would be applicable to #find_by(attribute: array) as well?

[2015-06-02 09:33] matthewd commented on #20411
There's a bug in there: we're trying to reconnect, but then failing to do so.

[2015-06-02 09:49] #19374 closed

[2015-06-02 10:43] dhh commented on #20338
I wouldn't expect it in the same way I expect #find(pks) to.

On Tue, Jun 2, 2015 at 11:09 AM, Seiji Naganuma <notifications@github.com>
wrote:

[2015-06-02 15:41] senny commented on #20397
yup, this is fixed:

[code]

[2015-06-02 15:41] #20397 closed

[2015-06-02 19:09] klgilbert opened #20418 "Performance regression in activerecord scoping"
The Rails releases range from 3.20 to 4.2.1 and there's a decrease in performance seen throughout.

There's a regression from 4.1.10 to 4.2.0. There's an increase in total allocated objects per iteration that also occurs. At 4.2.0 iterations per second is at 27K. For allocated objects per iteration, it's 150 for 4.2.0.

The graphs seen below can be located at [rubybench.org](http://rubybench.org/r

[2015-06-02 19:25] laserlemon commented on #19880
In Figaro's case, you can call `Figaro.load` manually immediately after the Rails application class definition, until this regression is patched.

[2015-06-02 21:14] pivotal-tabernash opened #20419 "Inconsistency between transaction rollbacks when an active record model has no has many relationships and when it has one"
A simple rails app demonstrating this issue can be found here https://github.com/pivotal-tabernash/rails_4_transaction_issue

There is an inconsistency between transaction rollbacks when an active record model has no has many relationships and when it has one.

In the former case, if a record is created and then rolled back the instance will have an id set.
In the latter case, if a record is creat

[2015-06-02 23:51] magikid commented on #17776
@jeremywadsack I'd say send in a pull request if you're still having this issue. Did you ever resolve it?

[2015-06-02 23:52] magikid commented on #17921
@fivell read through the comments in #17776 for some ideas of what to do if you're still seeing this issue.

[2015-06-03 03:00] andrewhamon commented on #19256
Sorry for abandoning my issue for so long guys. @haihappen's solution worked like a charm. Thanks and my bad!

[2015-06-03 03:22] jeremywadsack commented on #17776
@magikid  We just enabled `eager_load` in test as that was the "fastest" way to resolve this.
I missed the link from 17921; although I don't understand enough of that to know whether fixing this would address that at all.

Are you having that problem? I could work on a PR, but if we're the only people with two databases, using rspec, that want to no eager load tests (given the lack on response on

[2015-06-03 03:30] #20170 closed

[2015-06-03 07:40] kgorin opened #20422 "Returning false in after_* callback won't cancel later callbacks"
The [documentation](http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html) says

but in fact even if you return false in after_* callback none of the later callbacks will be cancelled.

Here is gist to check that out against master https://gist.github.com/kgorin/467ac79f8abf6f4d50bf, the behaviour is same in 3.2.21 and 4.2.1, so it seems like it's been like that for a long time.

That's h

[2015-06-03 14:19] claudiob commented on #20422
Hello @kgorin ! If you take a look at the [edge documentation](http://edgeapi.rubyonrails.org/classes/ActiveRecord/Callbacks.html) (which mirrors the current master) you will see that the paragraph has been replaced by:

The sentence you highlighted is gone so… in principle… all is correct.

However… you are perfectly right in sensing something weird. While working on #17227, @dhh already pointed

[2015-06-03 14:28] nagyt234 opened #20424 "Count on has_many association generating invalid SQL under rails 4.2.1"
I have simple modesl:
[code]
If I use the following code:
[code]
I get the following error:
[code]
I.e. wrong SQL is generated, `COUNT(status_values.*)` instead of `COUNT(*)`.

[2015-06-03 14:32] rafaelfranca commented on #20422
Closing since this is a feature request and we don't get feature requests on the issue tracker. But feel free to implement it.

[2015-06-03 14:32] #20422 closed

[2015-06-03 14:54] rafaelfranca commented on #20411
Is there any way to reproduce it?

[2015-06-03 14:56] rafaelfranca commented on #20416
Yeah, we should check if it is a valid encoding and return otherwise.

[2015-06-03 15:43] christopher-b commented on #20411
The closest I can get is to kill the process on the Postgres server.

In a Rails console, grab the adapter and cache a prepared statement:
[code]
Then find the connection PID on the Postgres server:
[code]
Find the matching `procpid`, and kill it:
[code]

At this point, the PG connection will report a normal status:
[code]

The error can be triggered by trying to reconnect
[code]

[2015-06-03 15:49] schneems commented on #19256
Thanks for letting us know.

[2015-06-03 16:11] christopher-b commented on #20411
The closest I can get is to kill the process on the Postgres server, then call ```reconnect!``` directly, but it still leaves a mystery as to why the problem is happening.

In a Rails console, grab the adapter and cache a prepared statement:
[code]
Then find the connection PID on the Postgres server:
[code]
Find the matching `procpid`, and kill it:
[code]

At this point, the PG connection will rep

[2015-06-03 16:44] al2o3cr commented on #20424
I just tried this in my 4.2.1 app and got a different query. Using your table names, the generated SQL looks like this:
[code]
Are you using any other gems that may be altering SQL generation?

[2015-06-03 17:14] kgorin commented on #20422
Hi @claudiob
I see 2 points here:
1. Shouldn't that documentation piece be backported to 4.2 branch so that it was less misleading?
2. I see some questions on how implementation of after_* callback chain halting should look like, I guess I'll ask them on mailing list then.

[2015-06-03 17:35] claudiob commented on #20422
@kgorin Maybe I misunderstood your comment. #17227 only affects Rails >= 5.0.

Are you saying that even in Rails 4.2, the following statement is false?

[2015-06-03 19:41] kpricorn opened #20426 "undefined method `uncached' on empty polymorphic belongs_to with force_reload"
when calling the association method with `force_reload: true` on a uninitialized belongs_to association a `NoMethodError` is raised in `singular_association.rb:7` [1]

Other than a comment on an old issue refering to this line (#2386) I couldn't find anything useful on this issue. The error could be reproduced with Rails v4.1.10, v4.2.0 and master.

Any thoughts?

[1] Test case
[code]

[2] output

[2015-06-03 20:55] kgorin commented on #20422
@claudiob yes, it is indeed false. I am actually coming from all the way back to 3.2.21 where I found this problem. Just double checked on 4.2.1 https://github.com/rails/rails/commit/f1ccb2e6ecb5486179ee6b20438d562ac45de4f4 — works the same.

[2015-06-03 21:02] magikid commented on #17776
I'm not having this problem. I'm just working through stale issues.

[2015-06-03 21:44] rafaelfranca commented on #20422
Yes. Documentation were wrong. We need to backport it.

[2015-06-03 21:46] rafaelfranca commented on #20422
@kgorin could you send a PR?

[2015-06-03 22:57] jeremywadsack commented on #17776
I appreciate that. I'll take a stab at a fix through instrumentation.

[2015-06-04 02:05] joevandyk opened #20428 "Model.where(id: 123456789013333333332345) raises RangeError: 123456789013333333332345 is out of range for ActiveRecord::ConnectionAdapters::PostgreSQL::OID::Integer with limit 4"
[code]

[2015-06-04 02:34] joevandyk commented on #20428
I'm not sure if this should be considered a bug or not. But it was suprising.

[2015-06-04 03:52] chancancode commented on #20428
This is basically a "bug" that we have no good way to completely fix, and the current situation is a compromise: see #19717 and the original issues linked within. Let's keep the discussion there.

Basically I agree that it's not ideal, but unfortunately we don't have a better solution at the moment

[2015-06-04 03:52] #20428 closed

[2015-06-04 03:57] joevandyk commented on #20428
Thanks!

[2015-06-04 04:12] amolpujari opened #20431 "render_to_string should work outside controller"

[2015-06-04 04:13] amolpujari opened #20432 "ability to render a string or partial and collect the result in a variable outside controller and include inline css"

[2015-06-04 04:14] amolpujari commented on #20432
would have been better if I could do so ....

render_to_string given text, partial, json, erb etc ...
render_to_string should accept on option ..say inline_css: true, when true it should replace all css classes with their definition in the css file ...

I want

[2015-06-04 04:14] #20432 closed

[2015-06-04 04:16] rafaelfranca commented on #20431
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-06-04 04:16] #20431 closed

[2015-06-04 07:14] vfa-dunghn opened #20433 "Rail4) How to default return created_at.to_time.iso8601 in API with datetime"
Hi guys
Can we config globally for any api return with ex: return create_at with automatically convert to
value.to_time.iso8601,
Thanks !

[2015-06-04 08:02] rousisk opened #20434 "ActiveRecord::Calculations#count surprising results with conditions"
Hello everyone,

Could you please share your thoughts on the following behaviour?

Rails 4.0.13

    User.count(conditions: { username: 'rousis' })
      SELECT COUNT(*) FROM "users" WHERE "users"."username = 'rousis' )
    => 1

Rails 4.1.10

    User.count(conditions: { username: 'rousis' })
      SELECT COUNT(*) FROM "users"
    => 0

Rails 4.2.1

    User.count(conditions: { username: 'rousis'

[2015-06-04 08:09] kaspth commented on #20433
Please use the Ruby on Rails talk mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only :heart:

[2015-06-04 08:09] #20433 closed

[2015-06-04 11:44] dimplea999 opened #20435 "Not installing RVN on ubuntu 12.04"
i am getting error

Error running 'requirements_debian_libs_install gawk libreadline6-dev libssl-dev libyaml-dev libsqlite3-dev sqlite3 libgdbm-dev libncurses5-dev libtool bison libffi-dev',
showing last 15 lines of /home/dimplea/.rvm/log/1433417955_ruby-2.2.1/package_install_gawk_libreadline6-dev_libssl-dev_libyaml-dev_libsqlite3-dev_sqlite3_libgdbm-dev_libncurses5-dev_libtool_bison_libffi-dev.lo

[2015-06-04 11:56] #20435 closed

[2015-06-04 11:57] arunagw commented on #20435
This is not a issue related to Rails at all. Please ask these questions to StackOverflow or proper channels.

[2015-06-04 12:28] matthewd commented on #20434
Hmmm... does `activerecord-deprecated_finders` help?

If this case was somehow missed, it's too late to add the deprecation message to 4.0 (and with it having been MIA for quite a while now, I'm disinclined to temporarily add it back to 4.1, even though that's what a strict reading of our API policy seems to dictate). But if deprecated_finders is also unaware, we can definitely fix that.

[2015-06-04 12:54] tobypinder commented on #17738
Is the fix for this specifically targeting Rails 5? We see that the implementation has changed in the master branch, but `4-2-stable` and tag `v4.2.1.rc4` still mutates using `reject!`, corrupting the ActiveRecord state as @workmad3 suggested in https://github.com/rails/rails/issues/17738#issuecomment-64211134

[2015-06-04 12:57] rousisk commented on #20434
Hi @matthewd,

Indeed, `activerecord-deprecated_finders` brings back this functionality. This could be a gotcha for those upgrading from 4.0 or earlier but I do get your point about adding a deprecation message back to 4.0, so up to you.

Isn't it surprising though that passing any kind of hash to the current implementation of `count` just silently ignores that hash, without any error (as in the c

[2015-06-04 16:53] spark008 opened #20436 "Defining 'belongs_to' in abstract class breaks subclass model fixtures."
Say you have a `belongs_to` association that applies to many models, all of which extend an abstract base model class. In order to avoid duplication, you can define that association _once_, inside the abstract base class and expect all the subclasses to inherit this association. If you then create fixtures for the subclasses and try to run tests, however, you will encounter error messages like
[co

[2015-06-04 17:12] bughit commented on #13609
1. It's not just callbacks, it seems to me that the entire operation should be protected both from reentry (destroy called while a previous destroy is still on the stack) and repeated invocations.  Both should raise by default, but perhaps allow a silent exit via an option.
2. Why is dependent destruction done via before_destroy rather than after_destroy?  If it was done in after_destroy you could

[2015-06-04 17:52] rafaelfranca commented on #20434
I think this feature was deprecated in 3.0 but we forgot to remove the code and we also forgot to deprecate again in 4.0.

Yes, we should raise Argument error if the argument is not a string or symbol. Could you work in a PR?

[2015-06-04 18:36] rousisk commented on #20434
Thanks for the input.

Yes, I will prepare a PR for further feedback.

[2015-06-04 21:10] kgorin commented on #20422
@rafaelfranca sure

[2015-06-04 22:39] magikid commented on #15763
@jnevelson This issue has been resolved. See #18897 for the details. If that solves this issue, could you close it?

[2015-06-04 23:29] daniel-rikowski opened #20441 "Columns with arrays of points are not working"
It is not possible to have attributes of arrays of points, i.e. columns like `t.column :polygon, :point, array: true`. Assigning them leads to wrongly cast SQL values.

Instead of `{ (x,y), (x,y) }`,   `{ {x,y}, {x,y} }` is sent to the database (which is rejected by PostgreSQL)

This is because the array column type can process nested/multidimensional arrays, which is perfect for most sub types. B

[2015-06-05 00:57] rafaelfranca commented on #20441
cc @sgrif

[2015-06-05 01:00] sgrif commented on #20441
Basically the long term fix is that we need to treat `string[]` as a different type than `string[][]`, but that's not an option at the moment... I think we can handle this case at least, though. I should have some time to work on it tomorrow. Agreed that we don't want to special case this too much.

[2015-06-05 01:04] saurabhbhatia commented on #20441
@daniel-rikowski I am using the following to store a polygon.

[code]
It casts the elements of array as the column datatype at the moment, during save.
[code]

[2015-06-05 02:42] #15763 closed

[2015-06-05 08:58] Fivell commented on #17921
@magikid , this issue is about query_cache middleware, which not cashing queries for other db connection different from ActiveRecord::Base.

[2015-06-05 12:17] daniel-rikowski commented on #20441
@saurabhbhatia Yes of course, a multidimensional array would work, too, it wouldn't even require any changes in the Ruby code. But I want to use the native PostgreSQL point type, mainly because I'm already using single points at various places. It seems just natural to use them in arrays, too, instead of using a different column type.

@sgrif Perhaps in the long run we can support specifying the a

[2015-06-05 12:50] rousisk commented on #20434
@rafaelfranca it looks like everything is OK [on master](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/calculations.rb#L38).  `count` accepts a single argument. If you pass a hash to it you will eventually get an `ActiveRecord::StatementInvalid` exception.

On [4-1-stable](https://github.com/rails/rails/blob/4-1-stable/activerecord/lib/active_record/relation/ca

[2015-06-05 13:09] sgrif commented on #20441
That would be too large of a breaking change I'm afraid

[2015-06-05 13:19] sgrif commented on #20441
Right now I'm thinking that we could deprecate the current point type in Rails 5, and replace it with one that returns `Point` objects instead of `Array`s in Rails 5.1, since the attributes API allows us to have a proper deprecation cycle on this.

[2015-06-05 13:23] sgrif commented on #20434
You'd need to detect whether deprecated finders is present since it won't override your argument error.

[2015-06-05 13:48] rousisk commented on #20434
Thanks for the input @sgrif. So you mean only raising an error if the deprecated finders gem is not present?

[2015-06-05 13:49] sgrif commented on #20434
Correct.

On Fri, Jun 5, 2015, 7:48 AM Konstantinos Rousis <notifications@github.com>
wrote:

[2015-06-05 13:52] rousisk commented on #20434
Great, thanks!

[2015-06-05 14:43] ryabrody opened #20446 "Using scaffold generator with namespace lets Controller use undefined privat method for whitelist strong parameters"
With Rails 4.1.0, if I use `rails generate scaffold admin/categories name:string --no-assets` my `Admin::CategoriesController` uses the privat method `category_params` instead of `admin_category_params` (namespace is missing) as parameter for updating a resource.

See generated code with wrong parameter fat highlighted:

<pre>
class Admin::CategoriesController < ApplicationController
  before_acti

[2015-06-05 14:52] frobichaud opened #20447 "duration instrumenter fails with TypeError can't convert nil into an exact number"
We have the following Rack middleware that computes the total active_record duration for a request:

[code]

We randomly have the following error:

[code]

in

[code]

[code]

It looks like the parameter other is nil