[2016-09-08 23:13] dharamgollapudi opened #26436 "has_secure_password cannot be configured with custom fields"
`has_secure_password` expects that the user wants to secure `password` filed and there exists `password_digest` field in the database. There is no way to configure/override those expectations.

If we have `pass_digest` as a field in the database instead of the default expected `password_digest` field, we won't be able to use `has_secure_password`.

#26435 addresses this issue.

[2016-09-09 01:37] boazsegev commented on #26409
@bitdicedotme , from your description I have a suspicion about where to look when attempting to track down the issue.

Could you, perhaps, log the file descriptor used for the Websocket connections (along side the lags they experience)?

This might allow to either rule out a class of issues or narrow down the search.

The `fd`, when using Puma, should be available after the websocket connection wa

[2016-09-09 03:58] zw963 opened #26437 "rake db:rollback not rollback schema corrctly when use with change_column."
### Steps to reproduce

I want to change payment_logs amount(decimal) from

[code]

to

[code]

Following is my code:

[code]

And another try

[code]

All two case, when I run `rake db:rollback`, no error,  schema is always keep changed to
[code]
and not be reverted, But schema number is changed.

[2016-09-09 07:25] bitdicedotme commented on #26409
@boazsegev thanks for the help, however I do not know what you want me to log exactly? What information it gives for WS? What should I look for?

@maclover7, it didn't help, as well as commenting out all `ActiveSupport::Notifications` calls. I've also noticed that master has a race condition fix for a WS stream write which I've applied, and it also didn't help.

At the moment our production gem li

[2016-09-09 07:25] bitdicedotme commented on #26409
@boazsegev thanks for the help, however I do not know what you want me to log exactly? What information it gives for WS? What should I look for?

@maclover7, it didn't help, as well as commenting out all `ActiveSupport::Notifications` calls. I've also noticed that master has a race condition fix for a WS stream write which I've applied, and it also didn't help.

At the moment our production gem li

[2016-09-09 16:39] boazsegev commented on #26409
The file descriptor (`fd`) is a number given by the OS (Linux) to the TCP/IP socket and it's accessible using Ruby's `IO#fileno` function.

This number can give hints regarding a family of related errors or disqualify the existence of such errors.

Since your application shouldn't (in normal course) need to use the IO object directly, it's hidden away. In some Websocket implementations it isn't ev

[2016-09-09 19:02] bithavoc commented on #26432
does your .yml file has a config entry for `test`?

[2016-09-09 20:32] synthead opened #26441 "NameError: uninitialized constant ActiveRecord::ConnectionAdapters::DatabaseStatements::TransactionManager when calling reset_transaction"
Saw this exception pop up.  I'm not sure how or why it happened, so I can't provide steps to reproduce it, but I'm happy to try anything to help.

[code]

Something tells me that [this line](https://github.com/rails/rails/blob/b27acd0b69a093e1d9d91ddf52c9f6e1289e28e0/activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb#L248)...
[code]
...should probably be updated to.

[2016-09-09 21:03] matthewd commented on #26441
#26273 may be related

[2016-09-09 21:26] rthbound commented on #25068
@rafaelfranca & @etiennebarrie:

I'm not crystal clear on what the incorrect behavior looks like. I've created some reproduction steps using rails' bug report templates (https://github.com/rails/rails/tree/master/guides/bug_report_templates).

Reproduction script: https://gist.github.com/rthbound/4a904c925bcc140ba9c669de5b54c407

Current output:

So, at this time I'm not observing `class_serial` i

[2016-09-09 23:15] daegun commented on #2686
this problem is still present in rails 5

[2016-09-10 07:10] tejasbubane commented on #26358
Here is a reproduction script and I cannot reproduce the issue, all tests pass.

[code]

[2016-09-10 07:16] tejasbubane commented on #26358
Ok, this one reproduces the issue:

[code]

Result:

[code]

[2016-09-10 08:38] samphilipd opened #26444 "When parsing mime type: undefined method `symbol' for nil:NilClass"
### Steps to reproduce

Not sure how to give explicit steps to reproduce but I can explain with code:

[code]

But here:

[code]

This can happen in production. Here is the stacktrace:

[code]

For what it's worth in all cases I've seen the requests came from Uptimebot and `Content-Type` was not set:

[code]

### System configuration
**Rails version**:
5.0.0

**Ruby version**:
2.3.1

[2016-09-10 10:00] dracos commented on #2686
PR to fix this, with test, at https://github.com/rails/rails/pull/26445

@pixeltrix I agree those possible structures are accurate, and are what I use (well, I never don't have a text/plain part :) ). If your inline image was totally superfluous, and could be hidden from the text/plain user (e.g. a footer image), then you could theoretically do mixed(alternative(plain, related(html, inline)), atta

[2016-09-10 13:40] futbolpal commented on #23585
@diego-silva I'm curious why psql is leveraged as opposed to something like "ActiveRecord::Base.connection.execute(IO.read("db/structure.sql"))".

Would this remove the psql dependency?

Thanks!

[2016-09-10 20:50] mrteera commented on #25048
I need to use `minitest-focus` then I try to put `require 'minitest/autorun'` into `test_helper.rb`.
It works but `rails test` execute twice instead once. (I have 8 tests)

[code]

[2016-09-11 01:11] khanhpham1990 commented on #24195
I had a problem same as you. Hope rails core team fix it as soon as possible.

[2016-09-11 03:04] blakeloverain opened #26456 "Documentation should better document compilation of gem/engine images"
I have several images in a custom engine ('webcore') under app/assets/images/webcore , that are not referenced by CSS compiled files, so they don't get compiled into my app's /public/assets/webcore . The documentation needs some clarification on how to work around this behavior.

Since the main app's app/assets/images/ files automatically get copied over to /public/assets/, I would expect my engin

[2016-09-11 05:04] asdacap opened #26457 "`rake test` on mountable engine `require` library twice."
### Steps to reproduce
1. Create a new rails mountable engine
2. Create a dummy scaffold, let say a post `rails g scaffold Post title:string description:string`
3. (optional) Put some `puts` statement in the `engine.rb` file to see when it is loaded.
4. Migrate then run `rake test`
### Expected behavior

The engine should be loaded only once.
### Actual behavior

The `engine.rb` was loaded twice.

[2016-09-11 09:03] tbrisker opened #26461 "mattr_accessor ignore access modifiers"
### Steps to reproduce

`mattr_accessor` and all related functions disregard access modifiers (i.e. private/protected) and always creats public functions. This should either be documented or changed to respect modifiers.

Simple reproducer class:

[code]
### Expected behavior

[code]
### Actual behavior

[code]
### System configuration

**Rails version**: 4.2.7.1

**Ruby version**: 2.0.0

[2016-09-11 16:03] maclover7 commented on #26444
Hi @samphilipd! On a very quick look, this looks very similar to #24827. Would you be able to check and see if the associated PR (#25950) fixes this issue for you? Thanks!

[2016-09-11 16:27] heaven commented on #26295
Hi, sorry for the delay, here it is: https://gist.github.com/heaven/d6a9060274a5b1cd16870568459de745

[2016-09-11 16:50] rockandruby opened #26463 "Error in docs mailer description"

[2016-09-11 17:00] #26463 closed

[2016-09-11 18:40] blakeloverain opened #26464 "Documentation clarification for url_for and engines"
The routing guide should mention  at least briefly how to reference url's directly using :controller, :action, etc as is mentioned in the  API docs, rather than the helper functions <controller>_path, etc. ie something like:

<%= link_to("Update magazine", {controller: :magazine, action: :edit, id: @magazine.id}); %>

It's also helpful to know how to access url's that never will have resource-ful

[2016-09-11 19:56] maclover7 commented on #26295
Hi @heaven! I've been investigating this, and I think this is is the expected behavior. When running a `.create` on an AR association, we are behind the scenes calling `build_record`. If you look [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/association.rb#L261-L265) in the source, you can see that we are first creating a new Active Record object wit

[2016-09-11 19:57] maclover7 commented on #26464
@blakeloverain If you'd like to submit a PR to make some changes to the documentation, please do so! :)

[2016-09-11 19:59] maclover7 commented on #26456
@blakeloverain If you'd like to submit a PR to make some changes to the documentation, please do so! :)

[2016-09-11 20:01] maclover7 commented on #26457
Hi @asdacap! By "being required twice" do you mean that `engine.rb` was loaded twice during the DB migration, and then twice during `rake test` (for a total of four times), or that it was loaded only two times total?

[2016-09-11 20:02] blakeloverain commented on #26456
Where are the guides on github?

[2016-09-11 20:45] maclover7 commented on #26456
The markdown files that power the guides live [here](https://github.com/rails/rails/tree/master/guides/source), inside of rails/rails.

[2016-09-11 21:01] MatthiasRMS opened #26465 "Keep JSON data structured"
When issuing an AJAX call from a view, and passing JSON, I should receive in the corresponding controller the exact same JSON.

However, when doing this:

[code]

I receive in the params:

[code]

The array in the entry key has been replaced and there is an extra 0 key. Same problem with the messaging array.

There is no other processing, and had this right after starting a new Rails 5 app.
Am I d

[2016-09-11 21:11] bitdicedotme commented on #26409
@boazsegev, I've tried to add it. It has env['rack.hijack_io'] as nil during connection. And later just do not use it al all. However checking more logs I've noticed that my thread in initialization folder which broadcasts online users has some aiming. It looks as following:

[code]

[code]

As you can see during the lag we have broadcast logs, but we do not have transmitting logs which equals to

[2016-09-11 21:52] boazsegev commented on #26409
@bitdicedotme ,

The reason I believe this might be related to the `fd` is your statement that:

This could be experienced when file descriptor resource exhaustion is achieved. The one minute waiting time is also consistent with this class of issues, since even after closing existing (stagnant) file descriptors, the TCP/IP layer will wait about a minute or two before making the resource available

[2016-09-11 23:31] jasonsof opened #26467 "rescue_from AbstractController::ActionNotFound does not work"
### Steps to reproduce
Having this in my application controller:
`rescue_from AbstractController::ActionNotFound, with: :not_found`

And then trying to go to an action that doesn't exist in the browser

### Expected behavior
I would expect the method `not_found` to be run.

### Actual behavior
`
AbstractController::ActionNotFound at /x
The action 'index' could not be found for XController
`
### Sy

[2016-09-12 00:00] maclover7 commented on #26467
Hi @jasonsof! Unfortunately, the `rescue_from` helper only works for errors raised within `process_action` method (you can check that out [here](https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/metal/rescue.rb#L19-L24)), and `AbstractController::ActionNotFound` would be raised before we ever get to that method (you can check that out [here](https://github.com/rails/rails

[2016-09-12 00:02] maclover7 commented on #26465
Hi @MatthiasRMS! Did this work for you in any previous versions of Rails? Also, can you take your example JSON payload above and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-09-12 00:06] maclover7 commented on #26461
Hi @tbrisker! Unfortunately, I think this is the expected behavior, and I'm not sure what Rails can best do to support this use case. The `cattr_accessor` macro ends up calling some code which defines the reader/writer at the end of the file, not exactly where you call `cattr_accessor`. You can check out the source for this [here](https://github.com/rails/rails/blob/4-2-stable/activesupport/lib/ac

[2016-09-12 00:21] tonytonyjan commented on #25751
same here, it's still an issue.

[2016-09-12 02:17] lufeihaidao commented on #26432
@bithavoc Oh yes I forgot it! Thank you!

[2016-09-12 02:17] #26432 closed

[2016-09-12 03:43] asdacap commented on #26457
By "being required twice", I mean `engine.rb` is loaded twice during `rake test`. Its a total of two times.... I think. Other task seems to load it only once.

[2016-09-12 03:45] #26467 closed

[2016-09-12 04:54] heaven commented on #26295
That's how it is implemented, so this def should be an expected behavior for those who implemented this :) We can't always do `#build` first and then assign the attributes, one of examples would be `accepts_nested_attributes_for`.

Perhaps this is done namely in this order to prevent overrides. So if rails will assign attributes from the `create_scope` first then I can override some of those when

[2016-09-12 06:21] jasonsof commented on #26467
Thanks for the info @maclover7, that makes sense (though it is quite annoying).  Can I ask if you know any way to catch and handle those types of exceptions myself that isn't too hacky?

[2016-09-12 06:50] MatthiasRMS commented on #26465
I was able to reproduce it on Rails 4.2.1
I'll create an executable script, but can I run Javascript in those templates ?

Also, does it seem normal to you to receive a modified JSON or do you also think it's a problem ?

[2016-09-12 11:33] bitdicedotme commented on #26409
@boazsegev, here's is the thread dump during the lag

[code]

Am I correct that last several threads in `pop` state are waiting for a redis thread `Thread-1vk45es8o`?

And can someone enlighten me about thread `Thread-1vk4b1uwk`?

[2016-09-12 14:26] kos-zenin commented on #26437
Getting the similar issue with "change_column_null". Cannot remove fk_constraint.
Migration passed successfully, but psql don't show any changes.

[2016-09-12 14:28] cmrd-senya commented on #22045
To workaround this I used the following approach:
[code]

[2016-09-12 14:54] jpaas commented on #22045
Ooh nice workaround. I'll try that. Thanks!

[2016-09-12 15:00] chriscarter90 opened #26470 "Misleading error when failing to match a routing constraint"
### Steps to reproduce

1) Create a `resources` block with a a constraint on the named segment, for example:
[code]

2) Use a generate URL path helper, and provide a value for the named segment which fails to match the constraint:
[code]

3) Receive a helpfully named error, but with a misleading piece of text saying that a required key is missing:
[code]

### Expected behavior
The error message sh

[2016-09-12 16:04] rvirani1 commented on #26158
All 3 devs on our team are having this issue as well.

[2016-09-12 16:09] samphilipd commented on #26444
@maclover7 yes! That's the same issue. Closing this one as a duplicate.

[2016-09-12 16:09] #26444 closed

[2016-09-12 16:11] buckspencer commented on #19001
I was able to solve this issue by upgrading to PostgreSQL version >= 9.5

[2016-09-12 16:46] arthurnn commented on #26441
@matthewd is this related to code reload?

[2016-09-12 17:26] synthead commented on #26441
If it helps to mention it, this happened in production mode.

[2016-09-12 17:33] arthurnn commented on #26441
@synthead does your app has any special `require` design? or caching on the load paths? or anything that could affect this?
I am trying to think why this happens there and not in the other runs.

[2016-09-12 17:37] matthewd commented on #26441
@arthurnn it *shouldn't* be -- these classes don't get unloaded. But given that something is clearly doing the wrong thing, I wouldn't rule it out.

[2016-09-12 17:58] jrochkind commented on #22232
Huh, I'm finding it super confusing what the difference between `rake test` and `rails test` is.

I actually have tests that are passing with `rake test` and failing with `rails test`, due to different setup apparently?

CI all often defaults to `rake test` or even just `rake` (default task), so I thought all my tests were passing in a migration of a project to rails5... but one is still failing w

[2016-09-12 19:11] jrochkind opened #26472 "bundler 1.13.0 seems to break rails new"
While I imagine this is a bundler bug not a Rails bug, I can only reproduce it with Rails and haven't figured out what's going on, so am reporting it here.

[code]

What I expect to happen is NOT getting an uncaught exception backtrace as a result of running `rails new`.

[2016-09-12 19:21] maclover7 commented on #26467
@jasonsof Sadly I think the only way would be to overwrite the method, and wrap a call to `super` in a `rescue` 😢

[2016-09-12 19:23] jrochkind opened #26474 "`rails plugin new` does not complete properly since bundler 1.12"
Bundler 1.12 seems to refuse to do any bundle operations if the Gemfile is considered 'invalid' becuase it has `TODO` in the summary/author/etc, which is how default gemfiles are generated.

This means the final `bundle install` of the generator script does not work, so you don't actually have a bundled app. I don't _think_ the plugin script contains any `post_bundle` hooks, so it's not as bad as

[2016-09-12 19:27] vipulnsward commented on #26474
We don't bundle install now- https://github.com/rails/rails/commit/fbd1e98cf983572ca9884f17f933ffe92833632a

Need to check the Gemfile though.

[2016-09-12 19:30] maclover7 commented on #26465
@MatthiasRMS Nope, there's no way to run JavaScript in the tests. I don't think this is a big issue though, we should be focusing on just POST-ing the JSON data to Rails and seeing if anything weird happens. If everything works when you POST the data through the script, then something weird must be going on with your JavaScript code. Let me know if you need any assistance with pulling together a r

[2016-09-12 19:54] maclover7 commented on #26472
Closing in favor of bundler/bundler#4970, since this seems to be a Bundler specific issue. Thank you for reporting!

[2016-09-12 19:54] #26472 closed

[2016-09-12 20:43] yahonda opened #26476 "MySQL 8.0.0-dmr test_multiple_foreign_keys_can_be_added_to_the_same_table fails due to only 1 fk information shown"
### Steps to reproduce

1. Install MySQL 8.0.0-dmr (mysql-community-server-8.0.0-0.1.dmr.el7.x86_64.rpm)
2. Execute ActiveRecord unit tests
[code]

### Expected behavior

It should finish without failures.

### Actual behavior
[code]
### System configuration
**Rails version**: master

**Ruby version**:ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]

### Additional information
It can be r

[2016-09-12 20:48] yahonda commented on #26476
cc @morgo I recall that you helped #19281 when I was testing MySQL 5.7 DMR. Then wanted to inform this.

[2016-09-12 20:56] sergio-bobillier commented on #25925
This is happening with Rails 4.2.7.1, everytime I run a rake command (even when not related to assets) I get deprecation warnings:

    sergio@sentinel-prime:~/Proyectos/web-viewer [master]$ rake db:migrate:status
    DEPRECATION WARNING: Sprockets method `register_engine` is deprecated.
    Please register a mime type using `register_mime_type` then
    use `register_compressor` or `register_tran

[2016-09-12 21:04] jrochkind commented on #26474
Ah, I see, fbd1e98 is not included in 5.0.0.1 I guess, so by 'now' you mean in 'master', and in a yet to be released future Rails?  Okay, I guess that works.

Would encourage a bug fix release sooner rather than later, since this makes rails generators broken with recent Bundler releases.

[2016-09-12 21:09] jrochkind commented on #26474
Also, the plugin generator [theoretically supports](https://github.com/rails/rails/blob/fbd1e98cf983572ca9884f17f933ffe92833632a/railties/lib/rails/generators/rails/plugin/plugin_generator.rb#L263-L267) `after_bundle` callbacks.

If bundle install isn't being run... what is an `after_bundle` callback, will it never be run, will it be run but without running `bundle install` first? Either option se

[2016-09-12 21:10] jrochkind commented on #26472
Okay, if bundler closes and says it's a Rails bug... what do you want me to do? Cause that's usually how these things go.

[2016-09-12 21:17] morgo commented on #26476
Thank you for the CC!

I have filed a MySQL Bug here to track this:
http://bugs.mysql.com/bug.php?id=82961

In 8.0, foreign key management has moved from the InnoDB dictionary to the Server dictionary.  This looks like a bug to me.

[2016-09-12 23:51] rafaelfranca commented on #26472
It is not a Rails bug.

[2016-09-13 00:02] sgrif commented on #26411
This is not a bug. Changing this behavior now would be a major breaking change.

[2016-09-13 00:02] #26411 closed

[2016-09-13 00:04] maclover7 commented on #26470
Hi @chriscarter90, thanks for opening up this issue! I've been working on a patch for this, but I think this is going to overcomplicate the route generation code, and is currently leading to a lot of tests failing. This is mostly due to that the Rails router automatically using regular expressions when validating route segments. Because of this, it would be tough to tell which regexes came from th

[2016-09-13 00:17] bughit commented on #26411
it's not contrary any documentation because I don't think it's documented, but conceptually and practically it is a problem.

Languages typically have some notion of a copy constructor (initialize_dup in ruby) precisely because newing and dupping are different operations (newing is initializing state, dupping is copying already initialized state) and require different initialization.  But rails co

[2016-09-13 00:21] sgrif commented on #26411
If you want some code that only runs after find, there is `after_find`. If you want code that is only run for actually new records and not in the other contexts, you can override `initialize`. You can also override `initialize_dup`. I don't think we need to add additional machinery for this.

[2016-09-13 00:25] rafaelfranca commented on #26470
What we can do is make the message more generic like "one of the required
keys is missing or not matching the constraint"
On seg, 12 de set de 2016 at 21:04 Jon Moss <notifications@github.com>
wrote:

[2016-09-13 00:45] maclover7 commented on #26457
Am able to reproduce this locally (`bundle exec rake test` loads `engine.rb` twice). Here are the two callstacks:

Callstack 1:

[code]

Callstack Two:

[code]

[2016-09-13 01:23] dhagerty9009 commented on #26465
Is this a good test script? I whipped it up with data from the original post. If there's any work needed, let me know.

https://gist.github.com/dhagerty9009/77c9855c03d1b212ad1c0fbe4c47d68c

[2016-09-13 01:32] maclover7 commented on #26465
Hi @dhagerty9009 -- yep, that reproduction script looks good to me! Unfortunately, it seems like the script is passing, and not erroring out... @MatthiasRMS would you be able to provide some more information or a test script to reproduce the error?

[2016-09-13 03:09] bughit commented on #26411
Overriding initialize, if it's only ever invoked when newing, is good enough.  Then let me just point out that the very existence of and the documentation for after_initialize:

seems to discourage using initialize.  In reality it's after_initialize that should be discouraged, because by default it executes in three very different contexts (dupping being undocumented), which more often than not, i

[2016-09-13 06:14] girishso commented on #26437
@zw963 I think you need to add `reversible` block inside `change` method.

[2016-09-13 07:34] Almaron commented on #16971
Same thing here on Rails 4.2.7, a `jsonb` field called `additional`, and `store_accessor :additional, :distance, :walking_time, :driving_time` causes an error:
`NoMethodError: undefined method `accessor' for #<ActiveRecord::Type::Value:0x0000000afa9e48>
from /home/malk/.rvm/gems/ruby-2.2.3@domus/gems/activerecord-4.2.7.1/lib/active_record/store.rb:132:in `store_accessor_for'
`

[2016-09-13 09:17] tomekw commented on #25381
@frozenfoxx any update on this? I will dedicate the next few days to pinpoint the issue and reliably reproduce this.

[2016-09-13 09:25] tomekw commented on #25381
@frozenfoxx what's your setup? Are you on Puma and MRI?

[2016-09-13 10:56] tbrisker commented on #26461
Thanks for your feedback @maclover7!

Upon further digging, it would seem the issue lies with the fact the class methods are public by default, unless `private_class_method` is called explicitly on the method, or the method is defined inside the private block of the class singleton object. For example:

[code]

So this is expected behaviour indeed.
However, I would suggest mentioning this in the d

[2016-09-13 12:28] TiagoCardoso1983 opened #26479 "Make rails middlewares reusable outside of rails"
### Steps to reproduce

This can be considered chore/feature.

As of now, Rails middlewares are unusable outside of a Rails app. I've been trying to use Rack::URLMap to map subpaths to different apps:

[code]

this works, but I lose all the middlewares of the rails app, one of them being the authentication layer, which is handled by devise.

so I went further and have been trying to do something l

[2016-09-13 12:40] maclover7 commented on #26286
PR to update the docs has been merged, going to close this issue out.

[2016-09-13 12:40] #26286 closed

[2016-09-13 12:43] maclover7 commented on #26461
@tbrisker Feel free to send a PR to the docs, I'm happy to merge it :)

[2016-09-13 12:59] matthewd commented on #26479
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-09-13 12:59] #26479 closed

[2016-09-13 13:13] tbrisker commented on #26461
@maclover7 Thanks, #26480 opened in attempt to clarify this.

[2016-09-13 13:27] TiagoCardoso1983 commented on #26479
Done: https://groups.google.com/forum/#!topic/rubyonrails-core/sIamWxrwHFo

[2016-09-13 14:14] bitdicedotme commented on #26409
Hey @uhomira can you provide any logs?

[2016-09-13 14:38] bitdicedotme commented on #26409
@boazsegev, @maclover7, @matthewd - I was able to find how to trigger this issue. It somehow related to closing the socket. As when I'm on site under VPN and then turn off that VPN connection and re-login (as session linked to IP) and continue to play on site in about next 20-30 seconds it starts to hang.

[2016-09-13 14:49] matthewd commented on #26409
Okay, that sound relevant, thanks. I think I know where the problem lies; I'll have a further look. (Interestingly, the thread dump threw me, because it doesn't seem particularly misbehaving. Though I'm not sure what `Thread-1vk4b1uwk` is doing.)

[2016-09-13 14:55] matthewd commented on #26479
I was more thinking -talk. Anyway, if I use real words instead of a canned reply 😐...

If you want the request to go through the Rails stack but ultimately get passed along to another Rack application, you can do that in `routes.rb`:

[code]

---

Initializing a second middleware stack that just looks the same as the main application's is unlikely to achieve what you want anyway.

[2016-09-13 15:09] bitdicedotme commented on #26409
@matthewd, I see that it doesn't close connection, as I have separate thread which broadcasts  online users, I see in logs all usernames ( it does it once per 3 seconds ) who's currently online.

So when I turned on VPN, it breaked current connection and browser tried to reconnect. My code rejected connection as it's not authorized (under new IP) and browser redirected client on sign in page witho

[2016-09-13 15:17] rylarson opened #26481 "Appears to be creating one table alias per query"
A new table alias appears to be getting created for every association. My very simple rails app had a memory leak. By analyzing heapdumps, I narrowed it down to a huge `@aliases` array inside `Arel::Table`.

In Active Record, when an association is not polymorphic, it calls `#alias` on the table, which unconditionally adds an alias to that array. After calling `uniq` on the array, there is only on

[2016-09-13 15:22] TiagoCardoso1983 commented on #26479
what is -talk? Is it a chat where we could discuss this further?

As it is, is not unlikely, it's impossible :) If I want to be pragmatic then yes, mounting in routes is the solution of today. However, it seems rails is duplicating a lot of the functionality that rack provides. There are 2 ways to add middleware to a rails app, a rails middleware is not a rack middleware, and there is stuff in the

[2016-09-13 16:54] Eldoza opened #26482 "."
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-09-13 16:56] #26482 closed

[2016-09-13 17:24] arthurnn commented on #26472
@jrochkind [they fixed](https://github.com/bundler/bundler/issues/4970#issuecomment-246491593) and will be released in bundler 1.13.1

[2016-09-13 18:08] sgrif commented on #26481
Fixed in https://github.com/rails/arel/commit/44d2ef9623847dea5cbf6208ae7b5168b374c720

[2016-09-13 18:18] #26481 closed

[2016-09-13 18:28] arthurnn commented on #26437
That's right.

see http://api.rubyonrails.org/classes/ActiveRecord/Migration.html#method-i-reversible

[2016-09-13 18:28] #26437 closed

[2016-09-13 18:48] zw963 commented on #26437
@girishso , Thanks for reply. I don't know how I missing this change method ...

I do change as you let me do, it worked, But not as desired.
the schema.rb still keep changed. not revert to previous state.

Following is a full reproduce:

20160907222130 is VERSION before change column
20160909033548  is the VERSION do change column

###  reset to previous version
[code]

###  cat VERSION 201609090

[2016-09-13 18:49] zw963 commented on #26437
@girishso  , Please see my last reply. thanks.

[2016-09-13 18:57] kamipo commented on #26437
How about it?

[code]

[2016-09-13 19:07] zw963 commented on #26437
@kamipo , I changed my previous reply.

the result is same.

please see `cat VERSION 20160909033548 file` section.

[2016-09-13 19:21] yahonda commented on #26476
Thanks @morgo. I'm monitoring http://bugs.mysql.com/bug.php?id=82961
Closing this In case some updates necessary for Rails I'm opening another issue/pull request based on the 82961 output.

[2016-09-13 19:21] #26476 closed

[2016-09-13 19:26] kamipo commented on #26437
Looks like that `change_column` cannot drop default when `null: false`.
https://github.com/rails/rails/blob/v5.0.0/activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb#L492
https://github.com/rails/rails/blob/v5.0.0/activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb#L1152

In the case we need to use `change_column_default` explicitly I th

[2016-09-13 20:28] rafaelfranca commented on #26481
Released as arel 7.1.2

[2016-09-13 22:22] aogail commented on #26481
Awesome, thanks!

[2016-09-13 22:53] rafaelfranca commented on #26467
Why do you need custom error response for that. Are you doing the same with `ActiveRecord::RecordNotFound`? If what you want is a dynamic 404 page you should be not defining customs `rescue_from` but instead using a custom error middleware.

[2016-09-14 00:03] rafaelfranca commented on #26474
This is fixed in cbb6a2670ee775531ec92301998be3b824648e7f.

And yes, `after_bundle` will be not supported by plugins.

[2016-09-14 00:03] #26474 closed

[2016-09-14 02:11] will3216 commented on #22531
To fix the error above, you need to change some settings in sql. The error you are getting is caused by running strict sql_mode rules, specifically 'ONLY_FULL_GROUP_BY'

To see your current settings:
[code]

Remove the mode from the list and set it:
[code]

To make this permanent, follow the steps described here: http://stackoverflow.com/a/26104070/1340525

[2016-09-14 02:20] jrochkind commented on #26474
If I understand the code right, at the moment `after_bundle` is supported... it just doesn't happen after bundling, since no bundling happens since cbb6a26. But the generator is still gonna call any after_bundle callbacks [here](https://github.com/rails/rails/blob/92703a9ea5d8b96f30e0b706b801c9185ef14f0e/railties/lib/rails/generators/rails/plugin/plugin_generator.rb#L263-L267), isn't it? Should th

[2016-09-14 02:24] rafaelfranca commented on #26474
Yes, it should be removed
On ter, 13 de set de 2016 at 23:20 Jonathan Rochkind <
notifications@github.com> wrote:

[2016-09-14 02:56] arthurnn commented on #25048
The issue here is that our [command](https://github.com/rails/rails/blob/88ff3f820aa88b7235b7554668f91a73532726af/railties/lib/rails/commands/test.rb) calls `Minitest.run(ARGV)` and minitest autorun [also calls that](https://github.com/seattlerb/minitest/blob/f95ef007ec64d956d88fedc37fd2ed7e106b777e/lib/minitest.rb#L62). So that means we have 2 `at_exit` hooks registered, and both are calling `Min

[2016-09-14 05:40] girishso commented on #26437
Can't reproduce see https://gist.github.com/girishso/93bb3ec2243723acf52a019aa931ab9d

[2016-09-14 08:52] #25448 closed

[2016-09-14 09:12] jasonsof commented on #26467
Yes the reason was to show a custom 404 page.  Using `rescue_from` seemed like the right way to do it since I'm already rescuing from a bunch of other exceptions in the controller.
@maclover7 Overriding Rails methods scares me a little 😨  so I probably won't be doing that.  I'll have a look into the middleware option

[2016-09-14 10:41] lifeiscontent opened #26491 "I18n errors"
### Steps to reproduce

1. create an array in your locale file
2. iterate over it.
3. delete array in i18n file

### Expected behavior
Tell me which key is missing in the locale file

### Actual behavior
Throws error that isn't useful

### System configuration
**Rails version**: 5.0.0.1

**Ruby version**: 2.3.1

<img width="1046" alt="screen shot 2016-09-14 at 5 38 45 pm" src="https://cloud.github

[2016-09-14 10:46] prathamesh-sonpatki commented on #26491
Can you upload a sample application on Github that reproduces the issue? Thanks.

[2016-09-14 12:45] pmichna opened #26493 "ActionCable connects in incognito window only after refresh"
I know the problem is very hard to diagnose only from the reproduction steps but maybe it'll ring a bell for someone.
### Steps to reproduce
1. Open the application in production (localhost works fine) in a new incognito window (tested on Chrome and Firefox).
2. Do something that triggers ActionCable message (or even broadcast them from production's `rails console`).
### Expected behavior

An Acti

[2016-09-14 12:55] johnnyshields opened #26494 "Please release 3-2-stable as 3.2.22.5"
PR #26131, now merged to `3-2-stable`, fixes an interface regression in 3.2.22.3/4 which is likely to occur in any app of sufficient size (it does in mine!)

This should be released; it's a total pain to upgrade to a security patch version (3.2.22.3/4) and discover that it breaks your app.

[2016-09-14 13:09] MatthiasRMS commented on #26465
@maclover7 thanks I'll try to put a script together asap and post it here

[2016-09-14 13:40] shakycode commented on #26494
@johnnyshields I'm in the same position. Upgraded to 3.2.22.3 to fix a security vulnerability and several parts of my app broke.  I doubt the core team will release 3.2.22.5 since this version of Rails is no longer supported.  We may have to pull from the 3-2-stable branch instead when bundling.  I'm forking and rebundling today to see how things go.  Otherwise I've had to patch myself which is a

[2016-09-14 13:41] shakycode commented on #26494
@johnnyshields If you look at the 3-2-stable branch the build is failing right now so maybe wait and see what sort of feedback we see from the community, if any.

[2016-09-14 13:52] johnnyshields commented on #26494
To leave a `*-stable` branch in a broken build state and have known regressions in your latest security patch version is sloppy. Let's please tie up the loose ends here.

[2016-09-14 13:55] johnnyshields commented on #26494
By the way, it seems the build has been broken for the recent releases. While it would be best to fix the build, if this is not easily doable then it shouldn't prevent releasing 3.2.22.5.

[2016-09-14 14:55] koppen opened #26496 "`touch` leaves model with optimistic locking in changed state"
TLDR: Using `touch` in Rails 5.0.0.1 leaves the `ActiveRecord` models with lock_version in a changed state:

### Steps to reproduce

Set up a model with optimistic locking in a blank Rails application:

    $ rails generate model Hammer lock_version
    $ rails db:migrate
    $ rails console

Create a new record and touch it:

    2.3.0 :001 > mc = Hammer.create!
     => #<Hammer id: 1, lock_versi

[2016-09-14 15:08] utilum commented on #26470
Not a good idea to distinguish between "missing key" and "value not matching the restraint"?

[2016-09-14 15:12] rafaelfranca commented on #26470
Too much complexity in my opinion.

[2016-09-14 15:25] utilum commented on #26470
I see, not to mention multiple key-value problems. How about "a required key is missing or not matching the constraint," which allows for the plurality?

[2016-09-14 15:29] rafaelfranca commented on #26470
:+1:

[2016-09-14 16:14] johnnyshields commented on #26494
@rafaelfranca @tenderlove @arthurnn the last release (3.2.22.4) was 34 days ago (August 11, 2016) and it contains a serious regression which is fixed on 3-2-stable. I have a PR #26495  in progress which fixes the failing specs on the branch. One the specs are green may we please cut a last release?

[2016-09-14 16:16] johnnyshields commented on #26494
For avoidance of doubt, I do not expect the core team to provide active support for 3.2 branch, that being said "if you break it, you must fix it." 3.2.22.4 is a broken release.

[2016-09-14 16:19] shakycode commented on #26494
@johnnyshields There is also RailsLTS that will support 3.2.22.x however it costs money.  I'm forking 3.2.22.3 and patching this myself.  I will post a link to my repo if you want to fork and test it once I'm done.

[2016-09-14 16:20] johnnyshields commented on #26494
@shakycode your comment is missing the point. Rails team cut a release with a regression a month ago, it needs to be patched, plain and simple.

[2016-09-14 16:27] tenderlove commented on #26494
@johnnyshields I will release a new version.  Thank you for the kind words.

[2016-09-14 16:32] johnnyshields commented on #26494
@tenderlove thank you, I appreciate you taking the time to do so and I apologize if my comments are overly terse. I'm working PR #26495 to get the 3-2-stable specs back to green which hopefully can help if/when another pesky CVE pops up.

[2016-09-14 16:32] tenderlove commented on #26494
@johnnyshields @shakycode do you want me to release `3-2-stable` as is, or wait for #26495?

[2016-09-14 16:32] johnnyshields commented on #26494
wait for #26495 is my vote

[2016-09-14 16:45] tenderlove commented on #26494
@johnnyshields ok.  Can you ping me here when #26495 is green?  I'll merge it and ship a new version.  Thanks!

[2016-09-14 16:47] arthurnn commented on #26272
I remember seen another issue about that.

I think we could probably postpone the BEGIN call of the transaction to the first db execute method. Not 100% sure yet how would that look like, but it might be possible.

[2016-09-14 16:55] ryu39 opened #26499 "ActiveModel::Errors#details has string keys when accepts_nested_attributes_for model is invalid"
### Steps to reproduce

I expect ActiveModel::Errors#details keys are always symbols, but when accepts_nested_attributes_for model is invalid, string keys are stored. Is this expected behavior?

Here is the reproduction script:

[code]

The reason why it happens may be this line :  https://github.com/rails/rails/blob/master/activerecord/lib/active_record/autosave_association.rb#L354
`reflection_at

[2016-09-14 17:02] shakycode commented on #26494
@tenderlove I'll wait for #26495 Thank you kindly ❤️

[2016-09-14 19:06] rafaelfranca commented on #26499
Correct about the reason, could you open a PR fixing that behavior?

[2016-09-14 19:58] pixeltrix commented on #26470
Couldn't we check for the presence of the key(s) when [building the exception message][1] - if it's present in the constraints hash then we can be pretty sure that it's an unmatched constraint and not a missing key. Should just be an intersection of the constraints hash keys and the missing keys array to get the unmatched constraints.

[1]: https://github.com/rails/rails/blob/master/actionpack/lib

[2016-09-14 19:58] johnnyshields commented on #26494
@tenderlove tests on #26495 are green with two caveats, please see PR.

[2016-09-14 19:58] alexcameron89 commented on #26496
The executable script passes on **4.2.7** and fails on **master**. It looks like issue occurred from 5e8d96c5234d3f378f9048bf6c0077bb1139ce9a.

@koppen's PR fixes the behavior. 👍

[2016-09-14 20:17] thesmart commented on #23585
@futbolpal No, output of `structure.sql` requires `pg_dump`.  Personally I much prefer using a SQL representation of code than a ruby one, but I know that's not the rails way. 🎱

[2016-09-14 20:26] dhagerty9009 commented on #26465
@MatthiasRMS I updated my test case if you want to use it as a baseline.

[2016-09-14 20:59] ryu39 commented on #26499
@rafaelfranca
Thank you for your answer.
I'll try sending PR for this issue.

[2016-09-14 20:59] rafaelfranca commented on #26491
This seems to be a problem in your application `experience` is an array not a Hash

[2016-09-14 20:59] #26491 closed

[2016-09-14 21:09] zenspider commented on #25048
@arthurnn I don't think you have 2 `at_exit` handlers registered. Looks like your command isn't registering one and is calling `exit` + `Minitest.run` directly. You could check and/or set `@@installed_at_exit` in `Minitest` to avoid collision with `Minitest.autorun`.

[2016-09-14 21:20] tenderlove commented on #26494
3.2.22.5 is shipped now.

[2016-09-14 21:20] #26494 closed

[2016-09-14 21:34] shakycode commented on #26494
@tenderlove Thank you so much for the quick turn around.  Please send my love to the family, especially Gorby 👍

[2016-09-14 23:34] penne12 commented on #26158
Ok, I came up with a workaround. Looks like it's not only the spring-watch-listen gem, and while removing it helps, it doesn't fully solve the problem.

It turns out that removing the `listen` and `spring-watcher-listen` gem makes it so Rails doesn't break my laptop. (retesting right now to get the steps after correct)

The listen gem was added in #22254.

[2016-09-14 23:49] penne12 commented on #26158
I'm tagging @fnx, as it looks the listen implementation in Rails which he wrote is what contributes to this, not just the `spring-watcher-listen` gem.

[2016-09-15 02:53] johnnyshields commented on #26494
@tenderlove thank you for shipping, much appreciated!! :beers:

[2016-09-15 03:14] zw963 commented on #26437
@girishso, please see my reproduce process in my reply.

before I do migrate, my table is `t.decimal  "amount",                     precision: 10, null: false`

so up and down is:

[code]

I think @kamipo ' reply is what I want. if this not a bug ...

[2016-09-15 06:33] girishso commented on #26437
@zw963 do you mind creating an executable gist similar to https://gist.github.com/girishso/93bb3ec2243723acf52a019aa931ab9d ?

[2016-09-15 08:45] #20353 closed

[2016-09-15 11:06] CJBrew commented on #18857
Thanks @radar and @kaspth. I was trying to understand this problem. Is it documented somewhere?

[2016-09-15 12:18] zw963 commented on #26407
I occur this bug again in my code which use as: :json.

I want to know how to help find out this bug is where when I
occur those code again.

[2016-09-15 12:40] prathamesh-sonpatki commented on #26407
@zw963 You can try removing extra code and also removing extra gems in the gemfile to see if the issue is reproducible or not. You can basically try to go close to the `action_controller_gem.rb` template as much as possible. So that we will come to know what is causing this issue.

I suspect it might be related to a 3rd party gem as it is not reproducible by using `action_controller_gem.rb` :)

[2016-09-15 13:17] zw963 commented on #26407
Thanks, I will try it as soon as possible,
I suspect it caused by following gem.

https://github.com/thoughtbot/shoulda-matchers

[2016-09-15 13:39] rafaelfranca commented on #26407
Closing since it is not a rails bug.

[2016-09-15 13:39] #26407 closed

[2016-09-15 16:19] synthead commented on #26441
This is in `config/application.rb`:
[code]

Think this might be causing issues?  The strange thing is that it happened unexpectedly about a day after a number of Sidekiq jobs went though.

[2016-09-15 18:13] utilum opened #26502 "ActiveRecord module defined twice in the same file"
I hope this isn't too much of cosmetic nitpicking, but is there a reason to close the module on reopen it immediately?
see:
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/fixtures.rb#L10
and https://github.com/rails/rails/blob/master/activerecord/lib/active_record/fixtures.rb#L844-L846 :
[code]

[2016-09-15 18:33] claudiob commented on #25197
@dhh Do you envision `form_with` to be used by scaffolds as part of this issue?

For instance, would `rails g scaffold post` create a `posts/_form.html.erb` partial that starts with

[code]

replacing the current

[code]

?

[2016-09-15 19:12] ksykulev opened #26503 "Existing connection must be closed before opening error on iOS"
### Steps to reproduce

Open site on iOS (tested on 9.3.5, chrome and safari) that contains an ActionCable websocket connection.
Background browser by hitting home button.
Wait until "timeout" (https://github.com/rails/rails/blob/8932c1b9a400a9b9f1b173101d39522879d9d2f8/actioncable/app/assets/javascripts/action_cable/connection.coffee#L9)
Open browser from background.

### Expected behavior
Should

[2016-09-15 19:15] ksykulev commented on #26503
Wonder if it has something to do with:
https://github.com/rails/rails/blob/8932c1b9a400a9b9f1b173101d39522879d9d2f8/actioncable/app/assets/javascripts/action_cable/connection_monitor.coffee#L80

[2016-09-15 20:17] kaspth commented on #25197
Can't see why we wouldn't use `form_with` in scaffolds, so yes 👍

[2016-09-15 20:19] kaspth commented on #26502
Not sure. I think changing it is a cosmetic commit though. Thanks!

[2016-09-15 20:19] #26502 closed

[2016-09-15 20:24] dhh commented on #25197
Indeed. I would consider form_for soft-deprecated after we get form_with.

[2016-09-15 20:30] zspoelstra commented on #24272
Seeing the same issue here as well. I haven't been able to pinpoint the exact cause yet, but it seems to revolve around a namespace or resource with the same name as the mount point. I haven't figure out which one yet.

One thing I noticed is that the path helper only stops working when I am in a view within the namespace or resource. It works fine everywhere else. Moving the mount after the names

[2016-09-16 01:55] maclover7 commented on #26503
cc @javan

[2016-09-16 05:09] lifeiscontent commented on #26491
@rafaelfranca This is a tooling layer problem. As a developer, working in a rails application I'd like better errors to tell me what key the application is breaking on.

Rails already does this for missing keys that are rendered as strings, why can't it forward me the key thats missing on all data types?

[2016-09-16 05:10] lifeiscontent commented on #26491
@prathamesh-sonpatki I have no problem creating a sample application if you guys deem this as something to be fixed.

[2016-09-16 09:03] tomekw commented on #25381
@maclover7 so here is the simple Rails application to demonstrate (and reproduce reliably) the issue:

https://github.com/tomekw/ac-issue

I will try to pinpoint this but it would be wonderful if you could take a look :)

[2016-09-16 11:50] shakycode commented on #25197
Late to the party on this one, but I really like `form_with` instead of having two different methods that do almost the same thing.  This is a step in the right direction.

[2016-09-16 12:08] flybd5 opened #26512 "Getting started guide section 5 from .11 to end of 5 is wrong"
### Steps to reproduce

Follow the steps from 5.11 to the beginning of section 6.0

### Expected behavior

Should work as advertised.

### Actual behavior

[code]
Headers:

None

### System configuration
**Rails version**:
Rails 5.0.0.1
**Ruby version**:
ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

[2016-09-16 13:07] prathamesh-sonpatki commented on #26512
Do you have edit action in your controller as follows?

[code]

It seems to that `@article` being nil is causing this error.

[2016-09-16 13:59] prathamesh-sonpatki commented on #26417
Found out that the issue related to aliased attribute exists on master as well. Reproduction script here - https://gist.github.com/prathamesh-sonpatki/1c82c0a86d1ca171b086324d41af8491

I fixed it here - https://github.com/prathamesh-sonpatki/rails/commit/78c8235a5768b114532d64d41db0307d6a5a7f9e

but would like to get some feedback cc @sgrif @matthewd

Also should we fix this issue for `write_attri

[2016-09-16 14:18] #26441 closed

[2016-09-16 14:18] arthurnn commented on #26441
I added the correct namespace, which should fix this issue. see https://github.com/rails/rails/commit/f62451a50b2c9119adce7acc53ce3dfffc4d41d5.
I will backport that to 5-0-stable, so it should be available in the next 5.0 release

[2016-09-16 15:20] zw963 commented on #26437
@girishso , I create a new gist here. https://gist.github.com/53a7758e0b1397467e2c5829d986da08

Thanks.

[2016-09-16 15:24] synthead commented on #26441
Awesome! Thanks so much!

[2016-09-16 17:29] onyxraven commented on #18659
I know this is an old issue but I think this is the same issue I'm seeing here.

https://gist.github.com/onyxraven/24c7bcb8a85c42688a694c05c0a8db50

What I think is going on is that `class.define_attribute_methods` is being called within initialize.  So for a class we haven't seen before, that hasn't yet been run.  Marshal.load bypasses initialize.

[2016-09-16 17:49] flybd5 commented on #26512
This is straight out of the Getting Started exercise. I am not qualified to
debug it.

Sent from my Google Nexus 6.

On Sep 16, 2016 15:08, "प्रथमेश Sonpatki" <notifications@github.com> wrote:

[2016-09-16 18:48] rafaelfranca commented on #26491
The problem that is that you made your i18n file return an array and is using a hash. There is nothing that the tool can do for you.

[2016-09-16 19:53] claudiob opened #26518 "Tag dynamic proxy does not accept options with keys as strings"
I created a gist to reproduce the error:
https://gist.github.com/claudiob/c55b65624af5f726cf7076fca86e559f

In short, the new `tag.p` suggested in #25195 and implemented by @marekkirejczyk in #25543 does not handle options correctly if the keys are strings.

[code]

The "old-style" `tag(:p)` was handling the same case correctly as [confirmed by this test](https://github.com/rails/rails/blob/846500

[2016-09-16 20:04] kenatsun opened #26519 "Error in code listing in "Getting Started" step 5.10"
### Steps to reproduce
Do the Getting Started (GS) steps through "5.10 Adding Some Validation".  Look at the "article.rb" model file you generated back in step 5.4.

### Expected behavior
Step 5.10 is the first place that shows us what the model file is supposed to look like:

class Article < ApplicationRecord
end

GS goes on to say that "ApplicationRecord inherits from ActiveRecord::Base..."

###

[2016-09-16 20:11] maclover7 commented on #26518
I've got a quick fix for this locally, but it's quite hacky. :(

[2016-09-16 20:17] claudiob commented on #26518
@maclover7 Can you share what you have? I'm thinking about changing the splat on the options but I'm not 100% sure…

[2016-09-16 20:23] rafaelfranca commented on #26518
What that is possible if `tag("p")` is implemented using the same code path as `tag.p`?

[2016-09-16 20:27] rafaelfranca commented on #26518
`:class => "elsewhere"` is being interpreted by ruby as a second argument, not as the same hash.

[2016-09-16 20:27] maclover7 commented on #26518
@claudiob: 26520

[2016-09-16 20:28] kenatsun opened #26521 "`$ bin/rails db:migrate` in "Getting Started" guide doesn't work"
### Steps to reproduce

Do the "Getting Started with Rails" (GS) process.  Try to run `$ bin/rails db:migrate` as instructed in step 5.5, "Running a migration".

### Expected behavior
According to GS, Rails will "execute this migration command and tell you it created the Articles table."

### Actual behavior
$ bin/rails db:migrate
Error: Command 'db:migrate' not recognized
Did you mean: `$ rake db

[2016-09-16 20:29] claudiob commented on #26518
It's the same code but the way in which options are passed through is different [here](https://github.com/rails/rails/blob/84650022d574d24d6adea6ad941ec3ca57d2a2f0/actionview/lib/action_view/helpers/tag_helper.rb#L235-L241):

[code]

[2016-09-16 20:32] rafaelfranca commented on #26518
You code is just wrong. The first argument of the `tag.p` method is the content, not the options hash.

[2016-09-16 20:35] claudiob commented on #26518
[This test](https://github.com/rails/rails/blob/84650022d574d24d6adea6ad941ec3ca57d2a2f0/actionview/test/template/tag_helper_test.rb#L50-L52) (and the successive ones) pass the options as the first argument:

[code]

Are you suggesting it should be `tag.p(nil, value: false)`?

[2016-09-16 20:38] rafaelfranca commented on #26518
This is an problem with keyword arguments. As ruby keyworks arguments only captures symbol keys the ruby interpreter will split that hash in two as you have one string key:

[code]

[2016-09-16 20:39] rafaelfranca commented on #26518
I'm suggesting: don't mixes symbol keys and string keys.

[2016-09-16 20:40] rafaelfranca commented on #26518
More example on how that can be lost:

[code]

[2016-09-16 20:42] claudiob commented on #26518
@rafaelfranca thanks for explaining the _cause_ of the issue.

I think there are three ways to solve the issue itself:

1. We document that the options cannot be provided with a mix of symbols and strings as keys

2. We add a `.symbolize_keys` to the code before invoking the `tag_builder`

3. We change the `**options` part with a different Ruby code that accepts keys both as strings and as symbols

[2016-09-16 20:46] rafaelfranca commented on #26518
I'd go with 3. 1 is not good and 2 will change the behavior anyway.

[code]

[2016-09-16 20:47] claudiob commented on #26518
@rafaelfranca Regarding 1. above, the problem is not _mixing_ symbols and strings. The problem is strings themselves. For instance, the following happens as well (only string keys):

[code]

[2016-09-16 20:47] claudiob commented on #26518
Thanks, I'll try to implement 3.!

[2016-09-16 20:54] rafaelfranca commented on #26519
Thank you for the report. You are reading the Rails 5 guide and using a 4.2 application, this will be indeed discrepant. Make sure you are reading the guide for the right version.

[2016-09-16 20:54] #26519 closed

[2016-09-16 20:58] rafaelfranca commented on #26521
You are reading the guides for rails 5 and using rails 4. This command will not work in rails 4

[2016-09-16 20:58] #26521 closed

[2016-09-16 21:06] claudiob commented on #26518
If we stick with the possibility of passing either the `content` or the `options` as the first argument of `tag.p` then… I think #26520 will do.

`tag.p` is not one of those cases where we can decide whether the first argument is content or options based on `if block_given?`.

Even changing `**options` to something like `options` wouldn't change the fact that `"class" => "show"` would be interpret

[2016-09-16 21:08] rafaelfranca commented on #26518
I don't think so. That is not the correct fix. extract_options should work
for this case.
On Fri, 16 Sep 2016 at 18:06 Claudio B. <notifications@github.com> wrote:

[2016-09-16 21:10] claudiob commented on #26518
Ok I'll try that, thanks!

[2016-09-16 21:42] klebervirgilio opened #26522 "ActiveRecord 4.2 generates incorrect sql query for STI + HasManyThrough associations"
### Steps to reproduce

https://gist.github.com/klebervirgilio/1ceb189002d6575e31b192b9e6c00b0e

### Expected behavior
I have a AR class Destination, Destination has its subclasses Continent, Country, State, and City.

[code]

in Rails 5, the test below pass:

[code]

[code]

in AR 4.2.7, the very same test does not pass. The problem is the SQL generated, look at the `where` clause.

[code]

One p

[2016-09-16 21:43] maclover7 commented on #26493
cc @javan

[2016-09-16 21:47] klebervirgilio commented on #26522
I'm happy to fix it myself if someone point me in the right direction :)

[2016-09-16 21:47] maclover7 commented on #26430
Hmm, I'm not able to reproduce this on the current Rails `master` or `5-0-stable` branches using the following commands:

[code]

[2016-09-16 21:50] maclover7 commented on #26399
@mminazek Can you send a pull request and we can continue the discussion there? Thanks!

[2016-09-16 21:53] rafaelfranca commented on #26522
Does it happens with Rails 5?

[2016-09-16 21:56] klebervirgilio commented on #26522
No.. just with Rails 4.2. [steps to reproduce](https://gist.github.com/klebervirgilio/1ceb189002d6575e31b192b9e6c00b0e)

[2016-09-16 21:58] rafaelfranca commented on #26522
That is good news. Probably it is a bug fixed in Rails 5 that can not be backported. I recommend you to upgrade your application. Rails 4.2 while still supported for bug fixes is not guaranteed that all bugs will be fixed for it.

[2016-09-16 21:58] #26522 closed

[2016-09-16 22:01] klebervirgilio commented on #26522
Ah ok! Cool!

[2016-09-17 02:39] zw963 opened #26525 "rails g controller, views/test is not conform with controller name."
### Steps to reproduce

Following example: we expect create view like `app/views/follow_keyword/index.json.jbuilder`
Not `app/views/follow_keywords/index.json.jbuilder`

[code]

Following example, exist similiar errors.

[code]

### System configuration
**Rails version**:

5.0.0.1

**Ruby version**:
2.2.4

[2016-09-17 02:56] zw963 opened #26526 "rails g controller generate partial error."
### Steps to reproduce
[code]

### Expected behavior
Expect generate partial file is:
``app/views/api/v1/follow_keywords/_follow_keyword.json.jbuilder``

### System configuration
**Rails version**:
5.0.0.1

**Ruby version**:
2.2.4

[2016-09-17 06:35] zw963 commented on #26526
Another maybe is a bug is:

What I want to create is:  index follow unfollow,
Why generator create `show` for me?

[code]

[2016-09-17 07:12] zw963 opened #26530 "rails route bug."
### Steps to reproduce
#### Step 1: Add route like this:

[code]
#### Step 2: use grep to see the correct result:

We need routes PATH `/v1/my/follow_search_keywords` to controller
`api/v1/my/follow_search_keywords#index`.

[code]
#### But I add controller to wrong place. (without my namespace)

[code]
#### But test is passed.

it found out the expected controller files, in this case, is:
``app/co

[2016-09-17 12:54] #26496 closed

[2016-09-17 15:00] Shwetakale commented on #26530
@zw963 Could you please reconfirm you routes file? I dpn't see namespace ```my``` in your route file.

When I copy pasted you route file I got following routes

[code]

[2016-09-17 15:14] cha55son commented on #23699
👍 Hitting this issue (jruby 9.1.2.0 / Rails 4.1.16)

[2016-09-17 15:21] zw963 commented on #26530
@Shwetakale ,  sorry, I fix my issue.

[2016-09-17 15:37] pixeltrix commented on #26530
@zw963 can you double check this report - where does the 'my' namespace aspect fit in as it's not defined by your route definition.

[2016-09-17 15:37] pixeltrix commented on #26530
@zw963 can I close this then?

[2016-09-17 15:38] pixeltrix commented on #26525
This is actually a bug in jbuilder - it's not discerning between a controller generator and a scaffold generator like the ERB generator does. Can you open a bug [here][1], thanks.

[1]: https://github.com/rails/jbuilder/issues/new

[2016-09-17 15:38] pixeltrix commented on #26526
@zw963 this is similar to the problem in #26525 - can you combine them into one report, thanks.

[2016-09-17 15:38] #26525 closed

[2016-09-17 15:38] #26526 closed

[2016-09-17 15:46] zw963 commented on #26530
@pixeltrix ,  Not.

I just give correct my routes content, but this bug is still wait confirm.

[2016-09-17 15:49] zw963 commented on #26525
Following is bugs from #26526,  It similar this.

Just move here for convenient.

### Steps to reproduce
[code]

### Expected behavior
Expect generate partial file is:
``app/views/api/v1/follow_keywords/_follow_keyword.json.jbuilder``

### System configuration
**Rails version**:
5.0.0.1

**Ruby version**:
2.2.4

[2016-09-17 16:43] javan commented on #26493
I'm unable to reproduce this. I created a fresh app using 5.0.0.1 and Action Cable works the same for me in an incognito window. Can you create an example app that demonstrates the problem you're seeing?

[2016-09-17 16:56] javan commented on #26503
While this error may look bad, it shouldn't affect Action Cable in a negative way. It serves as a guard to ensure we never open overlapping WebSocket connections. The connection monitor should still reopen the connection.  We could consider replacing the error with a log message to be less alarming. Is the error causing any issues for you or did you just notice it in the console?

iOS has an unfor

[2016-09-17 18:59] tilo opened #26533 "define_attribute_methods signature mismatch between ActiveModel and ActiveRecord"
### Steps to reproduce

1) define an ActiveRecord model
2) attr_accessor :virtual_attr1, :virtual_attr2
3) try to add a virtual attribute to the attribute methods:

define_attribute_methods :virtual_attr1, :virtual_attr2
=>
/Users/tilo/.rvm/gems/ruby-2.3.1/gems/activerecord-4.2.4/lib/active_record/attribute_methods.rb:79:in `define_attribute_methods': wrong number of arguments (given 2,  expected

[2016-09-17 19:35] maclover7 commented on #26533
Hi @tilo! Per the documentation, the `define_attribute_methods` method is only public API in Active Model, and not in Active Record. In Active Model, the method is [documented(http://api.rubyonrails.org/classes/ActiveModel/AttributeMethods/ClassMethods.html#method-i-define_attribute_methods), and is for public consumption. On the other hand, in Active Record, the method is [`:nodoc:`'d](https://gi

[2016-09-17 19:35] #26533 closed

[2016-09-18 05:23] samuel012 commented on #20077
I accidentally found a workaround while I was playing with a different query. I think my workaround will be related to the OP's issue. I passed the Id inside an array instead of just passing a literal id.

try this:

`from(arel_table.create_table_alias(where(id: [1]).arel, table_name))`

I dunno why it works, but it does.

I'm using **4.2.4** btw.

[2016-09-18 06:54] kaspth commented on #26518
Why do we want to support mixing strings and symbol keys here? I was the one who told the contributor not to bother in the original PR.

[2016-09-18 07:02] kaspth commented on #18857
@CJBrew the problem is a misunderstanding of Ruby's syntax. When you start a Hash you can't reference non-Hash keys.

[2016-09-18 09:22] oklas opened #26537 "ActiveRecord exec_query fail for nonselect requests"
Hi!

Execution raw sql for `nonselect` queries like this:

    ActiveRecord::Base.connection.exec_query( 'update orders set id=1 where id=1' )

(undependently from correctness of sql) fail with execption :

(any requests always applied and db fields always updated as expected)

If it is not bug, how to execute any raw sql requests with same result
(I mean ActiveRecord::Result) which contain select

[2016-09-18 09:37] st0012 commented on #23901
Hello guys, I am currently working on a gem called [zubot](https://github.com/st0012/zubot). Which can now do this job for Rails apps.
I even solved the local variable issue for precompiling partials, which might be the biggest obstacle for implementing this feature (but my approach might have some drawbacks).
It's not production ready yet and some places uses monkey-patching or very naive impleme

[2016-09-18 13:02] printercu commented on #18659
@sgrif was it supposed to be reopened?

[2016-09-18 14:29] matthewd commented on #26537
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-09-18 14:29] #26537 closed

[2016-09-18 15:30] rafamanzo opened #26538 "ActionCable test passes on Travis but fails locally"
### Steps to reproduce

Run ActionCable test `env FAYE=1 bundle exec ruby -Itest test/client_test.rb -n test_server_restart`

### Expected behavior

The test should pass.

### Actual behavior

Raises a [segmentation fault](https://gist.github.com/rafamanzo/c7a23b7b6f89ec4b0cfe9da27297d477).

### System configuration
**Rails version**: git at 2c5cb411b5755f3cfac7413b1c18e7d65acc208d

**Ruby version

[2016-09-18 15:35] athal7 opened #26540 "Generational cache idea"
I put together a proof of concept for a pre-warmed caching strategy [here](https://github.com/athal7/thermos), and was curious if there is any interest for something like this making it into core.

Any and all feedback is welcome!

[2016-09-18 15:57] oleingemann commented on #21948
I am also having this problem, and it's reproducible on Safari desktop as well:
- In my affected Rails app, open a new form and fill it out.
- Before submit, copy the url from Safari and close the entire application.
- Open Safari again, and paste the url - Fill the form again and hit submit. ->
Response:     "Can't verify CSRF token authenticity"

Is this the same issue as you guys are experienci

[2016-09-18 16:10] Envek opened #26541 "PostgreSQL bind parameter getting lost for subquery's LIMIT"
### Steps to reproduce

See the gist: https://gist.github.com/Envek/fbd1f8576148ec4be33308636339b314

Models:

[code]

and query:

[code]
### Expected behavior

Query should run successfully and should return all posts with 0 or 1 latest comment for each with single query to DB
### Actual behavior

Exception

[code]

While executing:

[code]

This error raises only when I add check for `NULL` as i

[2016-09-19 01:58] sb8244 commented on #19042
I am still getting the deprecation notice in Rails 4.2.7. I do not use `counter_cache: true` anywhere in my codebase, but I do have `model_count` columns on my models for counter caches that are controlled outside of Rails.

[2016-09-19 03:33] jairodasilva commented on #26430
No errors here:

[code]

[2016-09-19 04:25] rafaelfranca commented on #26430
Closing since we could not reproduce, but please let us know if you get a way to reproduce it.

[2016-09-19 04:28] cnemeth commented on #25448
I'm still having this issue after upgrading from ruby 2.3.1 to 2.4.0-preview2

ruby 2.4.0preview2 (2016-09-09 trunk 56129) [x86_64-darwin15]
Rails 5.0.0.1

stack trace
https://gist.github.com/cnemeth/42ae67172ebe45417473172a3a6382fc

[2016-09-19 04:28] johnwhelchel opened #26544 "Model plurality inconsistent when defining custom human readable names and errors in locale files"
### Steps to reproduce

Create model `choice_question_option` with field called `text`. We want to customize the human readable name and error message when `:taken` validation (uniqueness) fails. Setup a simple validation for uniqueness on text. Try to add a new model with the same text as an old model. Examine error messages produced on the errors field.
### Expected behavior

Overriding text in

[2016-09-19 05:05] sb8244 opened #26545 "Includes on association with scope containing distinct doesn't make include distinct"
### Steps to reproduce

Sorry that I haven't yet put together a code reproduction of this. I can do that if needed. I'm boiling down from the test case + fix in my company's application.

Create a scoped association where the scope is `joins(:b).distinct`. Use `A.includes(:b).bs` to see that the b model is duplicated (SQL log shows that distinct isn't used).
### Expected behavior

The SQL included

[2016-09-19 05:23] sb8244 commented on #26545
I'm not actually sure those steps to reproduce will work for you. I'm working on coming up with a test case for it, but our relationship is complex and so I'm trying to mentally work through how to distill it

[2016-09-19 08:09] palkan commented on #25381
Hey @tomekw!

Your reproduction script looks wrong: you should provide _action_ name within `data` object:

[code]

Does it solve your problem?

[2016-09-19 08:13] tomekw commented on #25381
@palkan that's not the case. For the simplicity's sake I've overridden `extract_action` method here https://github.com/tomekw/ac-issue/blob/master/app/channels/api_channel.rb#L19-L21

[2016-09-19 08:32] apepper commented on #26430
Please try it again with `$VERBOSE=true` (aka `irb -w`) _not_ with plain `irb`.

[code]

This is how I reproduced it with the current `master`:

[code]

[2016-09-19 09:31] maxehmookau opened #26546 "Display warning when running tests with no assertions"
When running tests, I've always wondered why tests without assertions automatically count as passing. This works on the assumption that _all_ tests pass by default and only fail if an assertion actively fails.
As I'm coding, I want to be made aware if I've written a test at any point that isn't asserting something as without an assertion, is it really a test?

### Expected behavior
1. Write a test

[2016-09-19 09:46] JeromeGill commented on #26546
I'd argue no warning or you end up writing arbitrary assertions just for the sake of having one in some cases.

I think of it this way, the default state is to assert no exception is thrown.

[2016-09-19 09:49] palkan commented on #25381
@tomekw oh, I see.

There is definitely a race condition problem: `stream_from` _sends_ confirmation without waiting for `subscribe` to finish, while you're still broadcasting messages.

PR attached https://github.com/rails/rails/pull/26547.

P.S. You can try`gem "rails", github: "palkan/rails", branch: "fix/actioncable-confirmation-race-condition"` in your reproduction app. I've just checked it,

[2016-09-19 09:52] tomekw commented on #25381
thx @palkan ! I will check this out today and will post my findings

[2016-09-19 11:24] matstc opened #26549 "#underscore adds underscores across acronyms even when part of a longer word"
### Steps to reproduce

The underscore function adds underscore in-between acronyms even if they are part of a longer word.

For example, if API is defined as an acronym, it will transform SCRAPING into scr_api_ng.

I believe this behavior only happens when the input is uppercase.

### Expected behavior

More intuitive would be for `SCRAPING` to remain as `SCRAPING`.

### Actual behavior

`SCRAPIN

[2016-09-19 11:40] utilum commented on #26546
@JeromeGill What are those test cases that need to live in the code without asserting anything?

[2016-09-19 11:43] matthewd commented on #26549
This is intended behaviour. Any uppercase input to underscore is taken to be an acronym, in principle; explicitly registered acronyms are used to identify the boundaries: `"HTTPAPIJSON".underscore`, `"APIV1".underscore`.

[2016-09-19 11:43] #26549 closed

[2016-09-19 12:13] matstc commented on #26549
All right. Although it seems counter-intuitive, especially when used through `titleize` where `SCRAPING` becomes `Scr API Ng` instead of `Scraping`.

[2016-09-19 12:20] tomekw commented on #25381
@palkan yes, I can confirm it fixes the issue! https://github.com/tomekw/ac-issue/pull/1

Well done! 👏 Thanks!

[2016-09-19 14:29] ksykulev commented on #26503
It's hard to tell if this is causing any adverse side effects. However here is a set of logs that captures this error in action:
![ios935acerror](https://cloud.githubusercontent.com/assets/230639/18635618/a41f283c-7e53-11e6-8192-bdd1248591fe.png)
(pardon the screen shot, but copying and pasting as text out of safari's console did not give me all the relevant information)

[2016-09-19 17:23] claudiob commented on #26518
@kaspth and @eileencodes (asking the same question on #26535):

The reason why I opened this issue is that, in the current `master`, the following code:

[code]

does not return the same as the "old-style" code:

[code]

As I wrote [in my comment above](https://github.com/rails/rails/issues/26518#issuecomment-247704308), if this is _intended_ (we don't support string keys), then we should at least

[2016-09-19 21:43] rafaelfranca commented on #26546
This should be handle by minitest. Could you report it there? Also we don't get feature requests in the issue tracker. :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-09-19 21:43] #26546 closed

[2016-09-19 22:58] #26499 closed

[2016-09-20 04:12] rdunlop opened #26554 "Rails 5.0.0.1 increment! does not invoke callbacks where 4.2.7.1 does"
### Steps to reproduce

Reproduction script https://gist.github.com/rdunlop/e02150cc57a71e7dbf7f752cbc1d5a1f
### Expected behavior

When the 'increment!' method is called on an model, the 'after_save' (and other) callbacks should be invoked
### Actual behavior

No callbacks appear to be invoked
### System configuration

**Rails version**: 5.0.0.1 (works correctly on 4.2.7.1)

**Ruby version**: 2.2

[2016-09-20 05:49] girishso commented on #26554
Looks like `increment!` uses `update_all` which skips the validations and callbacks, for performance reasons I suppose.  We either need to fix the docs or fix this.

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/counter_cache.rb#L83

[2016-09-20 05:56] girishso commented on #26541
This happens with sqlite3 as well, nothing specific to postgres.

[2016-09-20 07:54] maxehmookau commented on #26546
Ok! Apologies :)

[2016-09-20 10:52] defsprite opened #26556 "No way to specify wait_timeout via DATABASE_URL for mysql2"
### Steps to reproduce

Using the mysql2 gem, open a console with DATABASE_URL using `wait_timeout` configuration, e.g.:

`DATABASE_URL="mysql2://localhost:3306/test-db?wait_timeout=60&checkout_timeout=42" bundle exec rails console`

[code]

I believe the culprit is the Integer/Fixnum check [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/abstrac

[2016-09-20 11:25] develop-test1 opened #26557 "ActiveRecord belongs_to update foreign_key not validated."
### Steps to reproduce
hi, I'm having problem with Rails 5 validation on updating association foreign key on the belongs_to object. I have Post and Author models, where Post belongs to Author. I'm trying to update Post Author via strong params:
`params.require(:post).permit(:author_id). `

However the author_id is not validated properly, so I can assign author_id that is invalid (Author of that ID

[2016-09-20 11:49] shakycode commented on #26557
Can you provide a sample app that mimics the behavior?

[2016-09-20 13:16] utilum commented on #26512
@flybd5 Could you have mistyped something in copying from the guide page. I've just completed step 5.11 without encountering anything unexpected.

[2016-09-20 13:20] flybd5 commented on #26512
Wasn't typing, was copy/paste'ing. I will try it again when I have some
time, I've moved on to another task...

On Tue, Sep 20, 2016 at 3:17 PM, utilum <notifications@github.com> wrote:

[2016-09-20 13:40] prathamesh-sonpatki commented on #26512
Thanks @utilum! I am closing this for now, will reopen if we can reproduce it.

[2016-09-20 13:40] #26512 closed

[2016-09-20 13:40] webzorg commented on #23615
I have this this in Quiz model 'belongs_to :professor, counter_cache: true' and I am adding quizzes_count field to Quiz model like this add_column :quizzes, :quizzes_count, :integer. The name of the field in the DB is quizzes_count, I checked. So this error is a bug I assume because I have everything required in the guide here http://guides.rubyonrails.org/association_basics.html under :counter_ca

[2016-09-20 15:14] felixbuenemann commented on #23615
@webzorg Sounds like you should add the quizzes_count column to the professors table and add the counter_cache: true to the has_many quizzes.

[2016-09-20 16:22] cdekker opened #26560 "Adding Duration to TimeWithZone produces incorrect values across DST boundaries"
### Steps to reproduce

- Have a record with DATETIME column value of '2016-10-25 07:00:00'
- Set TimeZone of application to 'Amsterdam' (CET/CEST)
- Confirm TimeWithZone is correctly displayed as 'Tue, 25 Oct 2016 09:00:00 CEST +02:00'
- Call `+ 1.week` on the TimeWithZone
- Confirm TimeWithZone is now incorrectly displayed as 'Tue, 01 Nov 2016 08:00:00 CET +01:00'
- Confirm database value for re

[2016-09-20 17:38] nikhilm492 opened #26561 "NameError: uninitialized constant in active record compute_type"
We have the following ActiveRecord models related as follows:

Intranet model -> has_many -> Setting model (settings)
User model -> has_many -> PayrollHour model (payroll_hours)

The code used is:

In app/models/user.rb

has_many :payroll_hours

In app/models/intranet.rb

has_many :settings

So, the code User.first.payroll_hours or Intranet.first.settings should return data from the corresponding

[2016-09-20 17:53] matthewd commented on #26561
Typo?

Custom 'ours' -> 'mine' pluralization rule?

---

Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-09-20 17:53] #26561 closed

[2016-09-20 18:56] nikhilm492 commented on #26561
NameError: uninitialized constant Intranet::Setsting

is not a typo

NameError: uninitialized constant User::PayrollHmine

no custom pluralization defined

[2016-09-20 19:28] maclover7 commented on #26554
cc @sgrif

[2016-09-20 19:29] maclover7 commented on #26545
👍 please post here when you have a reproduction script.

[2016-09-20 21:44] knugie commented on #26430
I did some puts debugging, printing out each path required in core_ext/kernel_require (https://github.com/ruby/ruby/blob/v2_3_1/lib/rubygems/core_ext/kernel_require.rb#L68)
and activesupport/core_ext (https://github.com/rails/rails/blob/v5.0.0.1/activesupport/lib/active_support/core_ext.rb#L3)

The interesting part:
[code]

The full thing:
[code]

[2016-09-21 05:23] y-yagi commented on #26560
I think this is already fixed by 0e762ecdc3026d0c2191e42fbca8021da9ec34cc

[2016-09-21 05:47] xiaoshengaimm opened #26564 "ActiveRecord ppoll timeout case high cpu usage"
### Ruby version 2.2.0
### Rails version 4.1.4
### mysql2 version 0.3.19
### mysql version  5.1.70

My web apps 10 r/s, every request have serval mysql select. i works normal, but cpu usage is high, like this
![image](https://cloud.githubusercontent.com/assets/1866149/18698962/a78bab90-8000-11e6-9355-3d548abe9ab3.png)

strace the thread find many ppoll timeout:
![image](https://cloud.githubusercon

[2016-09-21 06:45] jeffp commented on #16791
`Model.all.map(&:column).inject(:+)` is not a very pleasing work around from a performance standpoint.  The desire is to have the summation perform correctly in SQL and not have to resort to code and data structures for the summation.

[2016-09-21 07:21] kwasimensah commented on #24028
I just ran into this too a lost of couple of hours. I'd rather have const_missing throw an exception when run on not the main thread to make it clear that this usage is problematic

[2016-09-21 08:17] mechanicles commented on #26557
@develop-test1 Based on your given steps, I was not able to figure out how to trace it out properly.

It would be good if you provide more details about your association logic for `Post` & `Author` models.

Still, I went further and I tried following steps and it worked as expected.

[code]

Above test passed successfully.
You might have passed `optional: true` parameter in your `belongs_to` metho

[2016-09-21 09:22] develop-test1 commented on #26557
Thank you @mechanicles for quick response.

I've checked and my model and I can confirm that it doesn't have `optional: true` attribute.

However if I set-up up with `required` attribute:
[code]
in fact i get expected behaviour:
`{
  "status": 422,
  "error": "Unprocessable Entity",
  "exception": "#<ActiveRecord::RecordInvalid: Validation failed: Author must exist>",`

However seeting `required:

[2016-09-21 09:44] develop-test1 commented on #26557
Moreover it appears that changing (as described here: https://github.com/rails/rails/pull/18937):
/config/initializers/active_record_belongs_to_required_by_default.rb
`Rails.application.config.active_record.belongs_to_required_by_default = true # Rails.application.config.active_record.belongs_to_required_by_default = false`
has no effect on the behaviour.
It works only if I use belongs_to :author,

[2016-09-21 10:01] develop-test1 commented on #26557
Based on this:

http://blog.bigbinary.com/2016/02/15/rails-5-makes-belong-to-association-required-by-default.html

My model behaves like Rails 4 model, however I'm using Rails 5. Any ideas?

[2016-09-21 10:28] prathamesh-sonpatki commented on #26557
The blog post is old before we introduced https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults.rb.tt

I think if you have updated the app from Rails 4 to Rails 5, then you have

[code]

in your config/initializers/new_framework_defaults.rb which is why you have Rails 4 behavior.

If you want the Rails 5 behavior, th

[2016-09-21 11:18] develop-test1 commented on #26557
Ok, I've found out what was the source of this behaviour.

It appears that:
`gem 'deep_cloneable', '~> 2.2.1'`

Causes this behavior. Removing this gem brought back expected behavior.

[2016-09-21 11:19] prathamesh-sonpatki commented on #26557
Great, I am closing this issue as it is not related to Rails. Thanks for confirming!

[2016-09-21 11:19] #26557 closed

[2016-09-21 11:26] develop-test1 commented on #26557
Hold on, removing this gem didn't fix the problem completely. Let me double check just to be 100% sure.

[2016-09-21 11:33] develop-test1 commented on #26557
Ok, so it appears that both:
# gem 'deep_cloneable', '~> 2.2.1'
and
# gem 'ransack', github: 'activerecord-hackery/ransack'
break the desired behaviour.

It appears that new Rails 5 defaults are not so much backwards compatible.

Anyhow, thanks all for help.

[2016-09-21 11:42] mechanicles commented on #26557
@develop-test1 If I got you correctly, you want to store `author_id` which should be valid, valid in the sense, it should be present in authors table, right? and you also want to set it as `nil` (NULL). If this is so, there is a work around like this,

[code]

[2016-09-21 11:47] develop-test1 commented on #26557
Awesome! Thank you @mechanicles

[2016-09-21 11:51] develop-test1 commented on #26557
By the way, couldn't this workaround be available as a part of ActiveRecord methods? I.e:
`belongs_to :author, optional: true, validated: true`

[2016-09-21 12:02] reist commented on #26560
I have a weirder issue with adding hours that I caught while adjusting some code and updating tests.
As the following example shows, _.in_ is doing something wrong.
`t = Time.zone.local(2016,11,6,1) # Sun, 06 Nov 2016 01:00:00 EDT -04:00
t.advance(hours: 1) #=> Sun, 06 Nov 2016 01:00:00 EST -05:00
t.since(1.hour) #=> Sun, 06 Nov 2016 01:00:00 EST -05:00
t + 1.hour #=> Sun, 06 Nov 2016 01:00:00 EST

[2016-09-21 12:47] Paxa opened #26566 "ActionController::Parameters#dup refers to same object"
When I call `params.deep_dup` - I expect to have copy of `params` hash
I found this behaviour strange in rails 5.

[code]

Solved by:
[code]

[2016-09-21 13:03] maclover7 commented on #26560
cc @pixeltrix

[2016-09-21 13:59] panigrah opened #26569 "Strong params are nil if empty hash passed as a parameter from spec test case."
`params` set to nil on controller when an empty hash is passed to a param in test case. in Rails 4 params would contain an empty hash. Tests on several of my apps fail to run after upgrade because `params[:key]` is nil in the controller.
### Steps to reproduce on Rails 5.0.0.1

[code]

   end

Example Controller

[code]

   end
### Expected behavior

params[:user] in the controller should not be n

[2016-09-21 14:54] mikebaldry opened #26570 "Postgres AccessShareLock idle transaction on column_definitions"
### Steps to reproduce

Open production rails console and call `Thing.first` to ensure definition is loaded.
Check pg_locks on that postgres relation
### Expected behavior

There should be no locks on the table
### Actual behavior

[code]

The ActiveRecord connection is keeping a AccessShareLock on the table. Running a migration to add a column, which requires an AccessExclusive lock will wait ind

[2016-09-21 16:01] bpardee opened #26571 "ActiveRecord 4.2.7.1 count method isn't threadsafe"
We upgraded from Rails 4.1 to Rails 4.2.7.1 and started receiving intermittent errors in our various count calculations.  The error message is "undefined method `visit_Arel_Nodes_Casted' for #Arel::Visitors::DepthFirst:0x7dc2a61b" and a traceback is located  at https://gist.github.com/bpardee/9059ac69b2dd1e46e0232d5fd542fb94

We're currently working around this issue by changing our #count methods

[2016-09-21 16:33] bitdicedotme commented on #26409
@matthewd, any progress on it? or at least can you give me any clues about the issue so I could also start digging into it?

[2016-09-21 17:06] TrevorHinesley commented on #16791
@jeffp you're correct, but it's about all we got at this point ;)

[2016-09-21 19:07] maclover7 commented on #26566
Closing in favor of #26567, let's continue the discussion there. :)

[2016-09-21 19:07] #26566 closed

[2016-09-21 19:59] boazsegev commented on #26409
@matthewd ,

I'm also wondering if there are any takeaways for [the proposed Websocket specification](https://github.com/rack/rack/pull/1107)?

[2016-09-21 20:23] maclover7 commented on #26569
HI @panigrah! Did this work for you in prior version of Rails? I think I've traced the root of this issue to a problem with how the rack-test gem builds its parameter strings.

[2016-09-21 22:28] connorshea commented on #26289
I'd rather not work around this problem by just setting `config.action_controller.permit_all_parameters` to true, that feels super hacky and wrong.

If anyone can produce documentation, that'd be great. This is causing a ton of failures with GitLab and I'm not sure how best to approach the problem.

[2016-09-22 00:08] panigrah commented on #26569
@maclover7 yes it works on Rails4. I tracked it down to something going different in ActionController::TestCase.assign_parameters()

In rails 4 `@request.parameters` contains 'user: {}' after the call to assign_parameters() but not in Rails5.

[2016-09-22 00:46] maclover7 commented on #26569
Sorry, was confused for a second, thought we were dealing with a different kind of test.

Can confirm the breakage on master right now, looks like it was caused by https://github.com/rails/rails/commit/c546a2b045600b6d700140adf2a4df666d6e08ce. Created a reproduction script [here](https://gist.github.com/maclover7/504154e43eb09afd120fd5502912b023). The issue seems to be that the `Hash#to_query` Act

[2016-09-22 01:48] panigrah commented on #26569
@maclover7 so we have a way to fix? Hash#to_query code and behavior is unchanged between r4 and r5.

[2016-09-22 01:59] ozydingo commented on #24588
@vipulnsward can you point me to any reference on bind_values? I believe this is likely related to another problem I am coming up against, asked [here](http://stackoverflow.com/questions/39629098/how-to-use-bind-values-in-arel), where i am stuck because I do not know much about how to use bind values, have come up against a wall in poking around code, and cannot find any good references. Any help

[2016-09-22 02:07] maclover7 commented on #26569
@panigrah The difference between v4 and v5 is the fact that we are calling `Hash#to_query` at all and doing processing on the parameters 😬. The bug you are seeing is due a problem with the implementation of `Hash#to_query`.

[2016-09-22 02:10] panigrah commented on #26569
@maclover7 is there an easy fix that I can patch locally  which you can suggest?  It will help me fix 100+ test case failures quickly. thanks

[2016-09-22 03:27] panigrah commented on #26569
@maclover7 undoing that patch makes the tests pass

[2016-09-22 04:08] panigrah commented on #26569
Scratch that - it passes that test - but fails others.

[2016-09-22 08:48] pixeltrix commented on #26560
@cdekker as @y-yagi suggested your problem is fixed in master and has been backported to 5-0-stable so will be fixed in 5.0.1

@reist can you open a new issue for that please - I know what the problem is and how to fix it but for the moment you can just use `since` instead of `in` (basically AS::TWZ aliases `since` to `+` but leaves the `in` pointing at a non-TZ aware version of `since` in the `Ti

[2016-09-22 08:48] #26560 closed

[2016-09-22 09:09] reist opened #26580 "Using .in(x.hours) on a TimeWithZone near DST boundary skips hours"
### Steps to reproduce
* Create a TimeWithZone an hour before the local -1 DST boundary.
* Add 1 hour using .in(1.hour)
* See the time added was really 2 hours

### Example code
Using NewYork time (US/Eastern)
`t = Time.zone.local(2016,11,6,1) # Sun, 06 Nov 2016 01:00:00 EDT -04:00`
`t.advance(hours: 1) #=> Sun, 06 Nov 2016 01:00:00 EST -05:00`
`t.since(1.hour) #=> Sun, 06 Nov 2016 01:00:00 EST -0

[2016-09-22 09:48] sodar opened #26581 "ActiveJob: `provider_job_id` is not serialized after enqueuing the job"
### Steps to reproduce
- Implement job based on `ActiveJob::Base` class with callbacks `after_enqueue` and `before_perform`. Callbacks will print out `provider_job_id`.

[code]
### Expected behavior
- Both callbacks should print out identical `provider_job_id`.
### Actual behavior
- Only `after_enqueue` callback prints out correct `provider_job_id`. In `before_perform` `provider_job_id` is equal t

[2016-09-22 11:45] antstorm commented on #26581
👍

[2016-09-22 14:50] CaioBianchi opened #26585 "Add License file."
Github recently added a new feature which displays the licensing at the top menu bar when specified in the repo. https://github.com/blog/2252-license-now-displayed-on-repository-overview

This is as simple as adding a `LICENSE` file to the root of the repo.
Much like https://github.com/expressjs/express/blob/master/LICENSE

I'm not sure who/if anyone holds the copyrights for Rails, if I did, I wou

[2016-09-22 14:57] prathamesh-sonpatki commented on #26585
Already being worked on here https://github.com/rails/rails/pull/26577

[2016-09-22 14:57] #26585 closed

[2016-09-22 15:02] jrdioko opened #26586 "Eager loading doesn't respect prior #includes call"
Using `#includes` to eager load a model that has already been eager loaded in a previous step causes ActiveRecord to unnecessarily fetch the models again. This means that eager loading must be done at a single top-level place in the code, rather than being able to add it to all the specific lower-level places where it is required (just like `.transaction` calls can be added anywhere a transaction

[2016-09-22 15:32] schneems opened #26588 "Duplicate Prepared Statement with Thread#kill"
As seen in this stack overflow post  http://stackoverflow.com/a/31167112/147390 there is a race condition where a prepared statement in the DB, however the thread that created it is killed before Rails can record the successful statement.

I did some grepping and couldn't find this as an issue on Rails, so I wanted to raise it here. I don't know if there's a good work around, the post mentions usi

[2016-09-22 16:39] matthewd commented on #26588
See https://github.com/rails/rails/pull/17607, and more recently https://github.com/rails/rails/pull/25827

[2016-09-22 16:39] #26588 closed

[2016-09-22 16:41] schneems commented on #26588
Thanks!

[2016-09-22 17:00] skanev commented on #16182
Ping @rafaelfranca

[2016-09-22 18:27] grosser commented on #24028
FYI can be 'solved' by disabling locking ... https://github.com/zendesk/samson/pull/1301

[2016-09-22 18:57] matthewd commented on #24028
@grosser if you're going to "just go back to the way rails 4 handled it which worked fine for many years", you probably want to actually do that, and not just monkey-patch a single method away.

The right way to do that:

[code]

Rails 5 "thinks" it needs the lock because it relies on that lock to permit greater concurrency outside of production mode. If you turn off the concurrency, the lock goes

[2016-09-22 19:03] grosser commented on #24028
❤️ thx for the details, will try that instead :)

[2016-09-22 19:07] grosser commented on #24028
... did not work ... had `true` before, set to `:unsafe` ... still hangs :(

[2016-09-22 19:09] grosser commented on #24028
since I had true neutering the lock is ok ? ... any idea what kind of trouble I should be looking for / how better to hack this ?

... or any other solution except "do not do any autoload in threads" :D

[2016-09-22 19:22] utilum commented on #26564
Your question is too open to answer. Could you provide an example of the your ActiveRecord query (and the SQL it produces) with your own hand crafted SQL? Perhaps you aren't using AR in the best way, perhaps the example can inspire improvements...

[2016-09-22 19:34] matthewd commented on #24028
With `:unsafe`, we don't lock during execution: https://github.com/rails/rails/blob/5-0-stable/railties/lib/rails/application/finisher.rb#L99-L111

Do you have *overlapping* cross-thread autoloads that depend on each other? :confused: The load itself still locks under `:unsafe`, but that's really because it didn't seem like it'd matter -- all the conflicts I've seen have been due to code getting s

[2016-09-22 19:56] maclover7 commented on #26544
Investigating.

[2016-09-22 20:02] maclover7 commented on #26544
Hi @johnwhelchel! Using [this reproduction script](https://gist.github.com/maclover7/927799e0c64618b8741e7e9874b478bb), I am not able to reproduce the error you are seeing. Please feel free to edit/modify my script as you see fit (or use a base executable test script template, which are found [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the

[2016-09-22 20:19] maclover7 commented on #24028
Will open up a PR to add some upgrading docs to warn about this, and try and give some possible solutions

[2016-09-22 21:21] oklas commented on #26537
The answer is (by analize of sources activerecord-4.2.4):
Method `exec_query` is for select requests only
There set of methods: `exec_insert`, `exec_update`=`exec_delete` and `execute`
Only `exec_query` create ActiveRecord::Result where `result.fields` is called.
But only for select queries result is exists.
So to execute another queries (not select) `exec_query` is not suitable.

[2016-09-22 21:45] maclover7 commented on #26571
Hi @bpardee!
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing? If you can't reproduce the issue on its own, then I recommend investigating whether any of your dependencies are changing behavior in Active Record.

[2016-09-22 22:13] soupmatt commented on #24272
I just ran in to this with an application that doesn't have a root directive in the routes file. It works fine on rails 4.2.4, but breaks under 4.2.5 and later.

[2016-09-23 02:52] grosser commented on #24028
tried the middleware by copy-pasting it into application.rb ...

A sleep  Waiting in start_exclusive No lock -- `5.0.0.1/lib/active_support/dependencies.rb:203:in `const_missing'` (blocks B and C)
B: sleep Sharing  blocking: A -- Queue.pop
C: sleep Sharing blocking: a -- `lib/action_controller/metal/live.rb:209` buffer.pop

I don't understand why these threads would block each other ... they are n

[2016-09-23 03:54] xiaoshengaimm commented on #26564
hello, thanks for your focus.

i always use activerecord model; no sql write by myself.

and i found several projects write by rails appear this problem.

activerecod logs per request:
[code]

most simple interface codes:
[code]
interface strace logs:
[code]

active record configs:
[code]

[2016-09-23 04:41] jeremy commented on #26564
@xiaoshengaimm These are polls in the mysql client lib to check that the socket is ready for writes: https://bugs.mysql.com/bug.php?id=58759 😎

[2016-09-23 04:41] #26564 closed

[2016-09-23 05:49] xiaoshengaimm commented on #26564
@jeremy how ever, it is not a bug;

ppoll check the fd  available/ready or not, this is ok, but why to0 many timeout;

 if actvierecord set the wait fd timeout too small?

in fact, the same server i have a process that not use activerecord, 1000+/s mysql select/update/insert, it is ok.

[2016-09-23 08:15] donapieppo opened #26593 "update_attribute returns unexpected nil when new value is the same as current"
`update_attribute(name, value)` returns `nil` if the submitted value is the same as the current value.
In rails 4 it returned `true` (as aspected, imo).

[code]
I think in rails 4 the db update query was always done.
In rails 5 the unecessary update is skipped but I think the return value should be `true`.

With `update_column` the update is done and the return value is always `true`.

### Expecte

[2016-09-23 08:20] rafaelfranca commented on #26593
If there is no change in the database why true is expected?
On Fri, 23 Sep 2016 at 11:15 Donapieppo <notifications@github.com> wrote:

[2016-09-23 08:29] donapieppo commented on #26593
Because I don't care what happens behind (in db) or what was the previous value.
With `update_attribute(:title, 'foo')` I need to know that now the current value of title is 'foo', that everything went fine. And I expect `true`  in order to feel good an go on :-)
A `nil` return value is like a `false` return value.

[2016-09-23 08:36] rafaelfranca commented on #26593
In fact the return of this method should not care for you. If you are
expecting always true, so why are you checking the return of the method?

And yes nil is false in that case and it means exactly what it means, no
attribute were updated so it return false.
On Fri, 23 Sep 2016 at 11:29 Donapieppo <notifications@github.com> wrote:

[2016-09-23 08:44] donapieppo commented on #26593
I am not expecting always `true`. I expect `true` if everthing went fine and the value of title is foo.

You mean that what with `update_attribute` nothing can go wrong and I can never get a `false` result?
If that is the case maybe the doc should say that. Should say that there is no interesting return value.

If instead there can be a `false` (and I need to check it), than a nil return value is

[2016-09-23 08:56] donapieppo commented on #26593
Of course if the `nil` return value `means exactly what it means, no attribute were updated so it return false` is the wanted behaviour than you can close this.

I still think that `update_attribute` should be idempotent (if it is the correct word) meaning that it sould return the same value when executed multiple time. It should not depend on the previous value of the attribute. As was in rails 4

[2016-09-23 09:11] prathamesh-sonpatki commented on #26593
@rafaelfranca @donapieppo I had changed this behavior to save a SQL call in https://github.com/rails/rails/commit/0fcd4cf5.

I think we can return true if `changed?` is false to restore the old behavior. I can make a PR if this sounds like acceptable solution.

[2016-09-23 09:18] donapieppo commented on #26593
a `true` return value with `changed?` false would be great for me.

Otherwise the doc should say that `update_attribute` returns nil if the new value is the same as the value in the database.

[2016-09-23 09:19] rafaelfranca commented on #26593
👍
On Fri, 23 Sep 2016 at 12:18 Donapieppo <notifications@github.com> wrote:

[2016-09-23 09:21] prathamesh-sonpatki commented on #26593
Great, I will send a PR in some time.

[2016-09-23 09:21] prathamesh-sonpatki commented on #26593
r? @prathamesh-sonpatki

[2016-09-23 10:54] fanjieqi opened #26596 "The ActiveRecord::table_name is in chaos after the inheritance and changing table_name"
[code]

The Keyword class is inherited from the DbKeyword, and then changing the table_name.

[2016-09-23 11:28] tbalthazar commented on #26580
I've been able to reproduce it with:
[code]

and I'm working on a fix.

[2016-09-23 11:40] pixeltrix commented on #26580
@tbalthazar there should be some tests already for `since` that can be duplicated and changed to `in`. The fix should be as simple as adding `alias_method :in, :+` after `alias_method :since, :+` in `time_with_zone.rb` in Active Support.

[2016-09-23 11:45] tbalthazar commented on #26580
@pixeltrix Thanks, that was exactly what I was doing. Glad to read I'm on the right track :)

[2016-09-23 14:15] bpardee commented on #26571
Yes, I've been trying to create a standalone script to reproduce without luck so far.  I'll investigate more this weekend

[2016-09-23 16:49] tenderlove commented on #26596
Can you give us a more complete example?  We've only been able to get this exception:

[code]

The above exception is what I would expect.

[2016-09-23 16:51] #26593 closed

[2016-09-23 17:03] tenderlove commented on #26569
@panigrah does you controller process query parameter or JSON posts?  If it's query parameters, can you give me an example of a query string that produces a `user: {}` in the params hash.  If it's JSON, can you try doing a JSON post in your test?

[2016-09-23 17:41] mjhoy opened #26602 "Guides: incorrect example in functional tests section"
(If I'm not misunderstanding something, I can write up a PR for this.)

### Steps to reproduce

See section on controller tests in the guides at: https://github.com/rails/rails/blob/master/guides/source/testing.md#what-to-include-in-your-functional-tests

### Expected behavior

The guides suggest you can refer to a controller action in your controller tests:

[code]

### Actual behavior
This is no

[2016-09-23 17:45] prathamesh-sonpatki commented on #26602
Thanks @mjhoy, can you please send PR to fix it?

[2016-09-23 18:27] #26430 closed

[2016-09-23 18:45] #26602 closed

[2016-09-23 18:54] alekseyl commented on #15185
Hi, everyone.
I also struck with this problem in my project, also it was impossible to step out of virtual attribute and break it to couple queries also was unacceptable solution. So I came up with my own way of doing it which I moved to a simple gem:

https://github.com/alekseyl/rails_select_on_includes

You are free to use it. It works only for base class now, but if you need some advanced selec

[2016-09-23 19:02] roberts1000 opened #26606 "Incorrect output from rails routes when using singular resources"
In a Rails 5.0.0.1 app, I have an `app/controllers/profiles_controller.rb` with a single `show` action.  In routes.rb I have

[code]

When I run `rails routes | grep profile`, I get the following output:

[code]

This output looks wrong to me with respect to the `show` action so  I tried calling the `profile_path` helper via GET and it routed to the correct controller's show action.  The output im

[2016-09-23 21:50] cristianbica commented on #26581
What adapter are you using for the test above?

[2016-09-23 23:44] bitdicedotme commented on #26409
I've finally was able to find it. I've isolated system to two users, one (A) who's on site and does something actively once a second, and second (B) user is me, turning on the VPN and thus disconnecting WS connection.

This time I've started to log thread's backtrace for this particular user (A). While system is okay his normal backtrace is:

[code]

When server hangs, his backtrace is:

[code]

A

[2016-09-24 00:33] maclover7 commented on #26606
Hi @roberts1000, thank you for reporting this! I am able to reproduce this on the master branch using [this reproduction script](https://gist.github.com/maclover7/3f28f1236ee0a84309ef7c6d9f486bf2). To me, it seems like the issue is with the ordering of the routes. The `POST /profile` route is loaded in before the `GET /profile` route, meaning that when the aforementioned GET route tries to reserve

[2016-09-24 03:29] arthurnn commented on #25048
should be fixed by #26515

[2016-09-24 03:29] #25048 closed

[2016-09-24 07:50] utilum commented on #26581
The test suite iterates through the adapters and runs the all the tests for each of them.

[2016-09-24 09:35] #26580 closed

[2016-09-24 16:16] bpardee commented on #26571
I haven't been able to reproduce this but looking at the arel gem version 6.0.3 in file lib/arel/visitors/visitor.rb, the problem seems to be with the following method:

[code]

If two concurrent threads rescue the NoMethodError on line 3 and one thread redefines the hash key on line 9 before the other one performs line 4, then the exception is raised.

[2016-09-24 17:23] rr1000 opened #26609 "Running `rails console --sandbox` on macOS Sierra results in a Segfault"
### Steps to reproduce
1. Have a running copy of macOS 10.12
2. Create a new rails 5.0.0.1 app
3. Run `$ rails console --sandbox`

Other than that I'm not sure what else to report. It's a brand new app that I created this morning. I wasn't having any other issues until I upgraded to Sierra. You can see the full output at the bottom of this message.

### Expected behavior
The sandbox console should

[2016-09-24 20:10] sgrif commented on #26609
This appears to be a bug in the sqlite3 gem, not Rails.

[2016-09-24 20:10] #26609 closed

[2016-09-24 20:35] sb8244 commented on #26545
Here is reproduction repo @maclover7  https://github.com/sb8244/rails-issue-26545

Sorry that it isn't "stand alone". It's a complex problem to recreate and so I wanted to do so in a full Rails environment rather than a minimum viable script.

The fix is also included there. I'm happy to do a PR similar to https://github.com/rails/rails/commit/91e3dab804fffe0b1daebb438091418faa1fa256 but I couldn'

[2016-09-24 20:38] sb8244 commented on #26545
Also forgive the weird includes. I know that is how the issue happens, so kept true to it.

[2016-09-25 02:27] panigrah commented on #26569
@tenderlove I may need your help to figure out what this is. Would the following result in json?

    post :create, xhr:true,  params: {user:  {}}, format: :json

That fails in the controller as `params[:user]` is nil in the `params.require(:user).permit(...)`.

[2016-09-25 03:10] bitdicedotme commented on #26409
@matthewd, @boazsegev Hey guys, I was able to extract it. You can find it here: https://github.com/bitdicedotme/lag.

It subscribes to two channels `OnlineChannel` & `TestChannel`, online broadcasts currently online users ( in `config/initializers/online.rb` ) and connection stats. Test channel is being used to notice the lag. Client each 500ms sends a request to the server, server replies with am

[2016-09-25 12:36] maclover7 commented on #26545
Hi @sb8244! Thanks for providing the reproduction application (sidenote: converted it to a more-easily-runnable reproduction script [here](https://gist.github.com/maclover7/ee54dacea920a2580335ffe3d09356b8)! I can also verify that the fix in `problem_spec.rb` seems to solve the problem. Can you open up a PR to Rails with your fix, and try and add a regression test? I can lend a hand if needed. :)

[2016-09-25 14:20] sb8244 commented on #26545
I'll give it a shot! Really appreciate your reproduction script. Now I have
a reference for the future.
On Sun, Sep 25, 2016 at 8:37 AM Jon Moss <notifications@github.com> wrote:

[2016-09-25 15:29] sb8244 commented on #26545
Thanks for the help @maclover7 , I just submited a PR on #26617

[2016-09-25 16:03] dinsaw opened #26618 "Parent does not exist error when creating parent with children in has_many belongs_to relationship"
### Steps to reproduce

Use rails 5.0.0.1

parent.rb

[code]
child.rb

[code]

### Expected behavior

[code]
### Actual behavior

[code]

### System configuration
**Rails version**:

** 5.0.0.1**:

[2016-09-25 21:59] quicklergsg opened #26621 "El sistema no puede encontrar la ruta especificada ruby rails"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-09-25 22:14] maclover7 commented on #26621
¿Puede elaborar con más información y también con instrucciones para reproducir? ¡Gracias!

[2016-09-26 03:16] YesThatAllen opened #26623 "Differing schema.rb under mysql 5.7 and utf8mb4 text columns"
### Steps to reproduce

This situation has similar symptoms to the case described in [issue #7252](https://github.com/rails/rails/issues/7252#issuecomment-7487098). In this case, it's happening to `text` columns in `utf8mb4` tables, in mysql 5.7 (this is not happening with mysql 5.6)

To reproduce:
Define a migration to create a column with a kind of `text`.

[code]

The resulting schema.rb file s

[2016-09-26 04:20] bf4 commented on #26309
@maclover7 Might I propose a new behavior for unknown mime types? Some sort of failure? Certainly the current behavior is part of the confusion.  Discuss on the mailing list or bc?

[2016-09-26 07:30] Edouard-chin opened #26624 "ActiveModel#define_attribute_methods is overrided by ActiveRecord#define_attribute_methods"
Note sure if I'm allowed to use `ActiveModel#define_attributes_methods` on a ActiveRecord object.
Feel free to close this issue if I'm using this incorrectly.

### Steps to reproduce

[code]

This raises an exception `wrong number of arguments (2 for 0) (ArgumentError)` as we are trying to call [ActiveRecord#attribute_methods](https://github.com/rails/rails/blob/master/activerecord/lib/active_reco

[2016-09-26 07:30] mechanicles commented on #26586
It happens in Rails 5 too. But I feel this is a correct flow. We don't get any clue about the outer `includes` while the inner `includes` is being performed. Both have different scopes/contexts I guess.  Inner `includes` looks redundant to me. Why would anyone do that?

[2016-09-26 08:17] mechanicles commented on #26618
Based on your steps, this is a correct behavior. In Rails 5, if you have this kind of relationship `belongs_to :parent` then you have to pass existing parent object or create a new parent object then assign to children object.

Please check http://blog.bigbinary.com/2016/02/15/rails-5-makes-belong-to-association-required-by-default.html

[2016-09-26 10:14] prathamesh-sonpatki commented on #26618
This is being tracked here https://github.com/rails/rails/issues/25198

[2016-09-26 10:14] #26618 closed

[2016-09-26 11:54] cdekker commented on #21948
Any update on this issue? Recently upgraded my application from Rails 3.2 to Rails 5.0 and this error seems to be popping up randomly on different unrelated requests.

As far as I can see, most of these exceptions occur for mobile users but the occasional desktop user agent is represented as well.

Each exception is accompanied by a session content looking like this:

[code]

Tried the fix of @dan

[2016-09-26 12:20] pixeltrix commented on #21948
@cdekker I suspect you're seeing the issue that I was getting on petition.parliament.uk - the user posts a form and quits the browser and when they reopen the browser it offers to reload the page and when the user clicks yes they get the error because the session cookie is no longer there.

I fixed it by making the session cookie persist for 2 weeks - whether that's acceptable to you on security g

[2016-09-26 12:48] cdekker commented on #21948
@pixeltrix Thanks for the clarification. I would think a longer session store is a security implication I can live with in my application, especially since most users tick the 'remember me' box anyway, having them log in automatically from a long term cookie.

What I am wondering, though, why is this suddenly currently an issue? Rails 3.2 already had CSRF protection and from what I can tell nothin

[2016-09-26 13:10] pixeltrix commented on #21948
@cdekker because in Rails 4.0 the default was changed from resetting the session to raising an exception for security reasons - the change was made in #5326.

[2016-09-26 15:59] metacortex commented on #26158
+1

Now I'm killing manually.
`pkill -9 fsevent_wat*`

[2016-09-26 17:14] Jaroost commented on #20676
I have the same issue in rails 5.0.0.1.

There is no other solution than setting a unique index on 2 columns and handle the ActiveRecord::RecordNotUnique exception in the controller?

[2016-09-26 17:28] kieraneglin opened #26627 "Rails isolated mountable engine helpers aren't exposed to application"
### Steps to reproduce

**Engine**
1. Generate new Rails engine with `--mountable` flag
2. Add `isolate_namespace <engine name>` to engine.rb
3. Create basic (view specific) helper method within your main helper file in `app/helpers`

**Application**
1. Create new Rails project
1b. Follow the steps below in your engine's `test/dummy` application as well
2. Add the engine you've created to the Gemf

[2016-09-26 19:33] maclover7 commented on #26624
Dup of #26533 :)

[2016-09-26 19:33] #26624 closed

[2016-09-26 19:35] maclover7 commented on #26309
@bf4 Agree that some kind of a warning in the terminal or error would be better here, the current behavior is a bit confusing. Feel free to send a PR, or we can discuss more in Basecamp if you'd like. :)

[2016-09-26 21:01] beauby commented on #26309
:+1: on @bf4's last suggestion, violent errors being clearly better for the user than silent failures.

[2016-09-26 23:40] benubois opened #26635 "Presence of an expression index causes problems when removing indexes"
### Steps to reproduce

[code]
### Expected behavior

I think this should run without throwing any exceptions.
### Actual behavior

This throws a `NoMethodError` exception.

[code]
### System configuration

**Rails version**:
5.0.0.1

**Ruby version**:
2.3.1

**Postgres version**:
9.5.0.0

It looks like [`index_name_for_remove`](https://github.com/rails/rails/blob/cdb307294a43eec489f0ea6ffdc6f0a07

[2016-09-27 01:03] fanjieqi commented on #26596
When there isn't a test_1_keywords, the exception "test_1_keywords doesn't exist" is also what i expect.

But the exception is "db_keywords doesn't exist", when there is a nonempty test_1_keywords table and there isn't a db_keywords table.

The Keyword.first is nil when i truncate the test_1_keywords table.

[2016-09-27 09:09] utilum commented on #26635
The test reproduces on my machine.

[2016-09-27 10:45] cdekker commented on #21948
@pixeltrix To me, from a conceptual point of view, every (uncaught) exception that generates an email indicates a flaw, problem or bug in my code that needs to be fixed.

Since this issue is now generating exceptions since Rails 4.0, I wonder how I should 'fix' this. Aparently leaving it uncaught is not the way to go in production. Should I catch this error and redirect to a login page? How does t

[2016-09-27 11:26] PragmaticEd opened #26638 "Model validations doesn't work in rails 5.1.0.alpha"
Simple model validations wont work in 5.1.0.alpha

### Now to reproduce:
`$ rails _5.1.0.alpha_ new test_project`
`$ cd test_project`
`$ rails g model user`

then add any field, and add `validates :field, presence: true`

If i lock rails version in Gemfile to `5.0.0`, everything works fine.

### System configuration
**Rails version**: 5.1.0.alpha

**Ruby version**: ruby 2.3.0p0 (2015-12-25 revisio

[2016-09-27 11:57] helperhaps opened #26639 "compatibility of default uuid generating with postgresql extension"
I am new here. And I am lost here.

**Ruby: 2.3.1p112 installed by rbenv**
**Rails: 5.0.0.1 installed by gem**

According to https://github.com/rails/rails/compare/f94e328cf801...5a47639aac45?diff=unified&name=5a47639aac45 I got to know that if I do the following addition,

[code]

then all my migration will be tag on `id: :uuid` to the `create_table` method.

Amd it works so well with postgresql'

[2016-09-27 13:17] rafaelfranca commented on #26638
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-09-27 13:30] t-anjan opened #26641 "Migration errors out with "undefined method `join' for string" when removing an index from a table which contains a PG "jsonb_path_ops" index"
### Steps to reproduce

In any table, create an index like the following.

[code]

This creates the indices properly and everything is fine.

Now, create another migration like the following.

[code]
### Expected behavior

When you run the second migration, it should just work as intended.
### Actual behavior

When you run the second migration, it fails with the following error:

[code]
### Workar

[2016-09-27 14:06] pixeltrix commented on #21948
@cdekker if you wish to revert to 3.2 behaviour you simply do this:

[code]

Another option if it's mainly caused by expired pages protected by a login would be to capture the exceptions and redirect to the login page.

What that means for your app I can't say without looking at the code. Not every exception is flaw - for example something raising `ActiveRecord::RecordNotFound` results in a 404 No

[2016-09-27 14:56] PragmaticEd commented on #26638
@rafaelfranca Yes, ofc. Sorry i didn't do that, to begin with.. I updated the issue

[2016-09-27 15:22] vspar commented on #20676
I also have the same issue on rails 5.0.0.1.

Here's my sample code:
`class PeopleGroupItem < ApplicationRecord`
`  belongs_to :people_group`
`  validates :type, presence: true, uniqueness: {scope: :people_group, message: 'combination already used'}`
`  validates :value, presence: true`
`end`

I also tried scope: :group_id but to no avail.

However, the validation of the presence requirement does

[2016-09-27 17:18] alexcameron89 commented on #26641
This looks to be related to or a duplicate of  #26635.

[2016-09-27 17:51] alexcameron89 commented on #26638
I tried to reproduce the issue with the script, but I was not able to:
[code]

[2016-09-27 17:58] tenderlove commented on #26569
@panigrah you should be able to do it like this:

[code]

But I would like to know if you're using JSON in production or query parameters?  If you're using query parameters, are you able to make a query string that results in `user: {}` in the params hash?

[2016-09-27 18:03] bitdicedotme commented on #26409
@matthewd, I think I've finally found real reason of this issue. Looks like there's a recursion during closing the socket. I've been running `rbtrace` logging all methods invocations. I can upload a full log somewhere which is around 250MB if needed. But details can be found here:

`Concurrent::RubyThreadPoolExecutor::Worker#run_task` repeats hundred times, I think it stucks with threads limit. Pl

[2016-09-27 20:37] kirs opened #26644 "A bug around ActiveSupport.to_time_preserves_timezone"
### Steps to reproduce

I swear that I tried to create a single file script to reproduce the issue, but I couldn't.
Here is the instruction [as well as a repo with complete app with a failing test](https://github.com/kirs/rails_to_time_preserves_timezone_bug).

1. `bundle exec railties/exe/rails new ../events_blog_five --dev --skip-turbolinks --skip-action-cable --skip-sprockets`
2. `rails g model

[2016-09-27 20:44] sgrif commented on #26644
Important to note that removing the `.sort` causes the issue to go away, which is what landed us on the `.to_time` change as relevant.

[2016-09-27 21:16] oss92 opened #26645 "ActiveRecord::RecordNotFound message vagueness"
**Severity: cosmetic**
### Steps to reproduce
#### Example

[code]
### Expected behavior

The `arel` where sql is printed here and may be vague sometimes (especially when using a bug reporting tool). The question marks should be replaced with the correct values in the query. AFAIK it was already there pre Rails 5.
### Actual behavior

<img width="791" alt="record_not_found" src="https://cloud.gith

[2016-09-27 21:21] matthewd commented on #26409
@bitdicedotme could you try https://github.com/rails/rails/pull/26646?

[2016-09-27 21:55] jrdioko commented on #26586
For the same reason that you'd wrap something in a `transaction` even though the parent call also happens to be in a `transaction` several layers up: keeping the call close to the code that must be transactional ensures that that code is always protected, regardless of how the calling code changes or the called code is used in different places in the future.

For the `includes` case, imagine a low

[2016-09-27 22:14] roberts1000 commented on #26606
Thank you for confirming.

[2016-09-28 07:00] pixeltrix commented on #26644
@sgrif removing the `sort` gives `["May 02, 2016 07:00", "May 02, 2016 07:00"]` ? That implies the `sort` is mutating the time values somehow - weird. I'll have a look today.

[2016-09-28 07:20] pixeltrix commented on #26644
Hmm, can't reproduce with Rails 5.0.0.1 which suggest that c9c5788 isn't the direct cause - will see what's changed in master that might be relevant.

[2016-09-28 07:28] pixeltrix commented on #26644
Looks like the cause is actually 3132fa6 - don't know why yet.

[2016-09-28 08:49] pixeltrix commented on #26644
God I'm stupid - we can't cache `getlocal` because you can call it with different utc_offsets. I assume that sort must be calling `getlocal` via `<=>` somehow (with utc_offset = nil or 0). Then `AS::TWZ#strfitime` calls `getlocal` with the utc_offset of -14400 (EDT) and 💥 .

Options are:

1. Remove the cache (pros: easy, cons: slow)
2. Use a hash to cache getlocal by utc_offset (pros: fast, cons:

[2016-09-28 12:01] bitdicedotme commented on #26409
@matthewd I can confirm it fixed our problem with hanging the server. Thank you very much.

[2016-09-28 12:01] #26409 closed

[2016-09-28 12:57] radubogdan opened #26650 "Scopes aren't working with AR::Store & Postgres Jsonb"
### Steps to reproduce
1. Have a jsonb column
2. Use AR::Store
3. Create a scope for a "json attribute"
### Expected behavior

It should return the records matched by that scope.
### Actual behavior

It returns []

My guess is that because it's serialized in the db, normal queries doesn't work.
### Example code:

Check [this](https://github.com/radubogdan/rails-5-ar-store/tree/master/app/models) d

[2016-09-28 16:25] ahoward commented on #26158
i'm seeing this too.  it is *way* too easy to orphan processes.  the listen gem is a piece of shit and should be removed.

[2016-09-28 16:25] ahoward commented on #26158
amateur hour: https://github.com/thibaudgg/rb-fsevent/blob/d803637/lib/rb-fsevent/fsevent.rb#L55

[2016-09-28 16:26] ahoward commented on #26158
the guys that are working on that gem know next to nothing about process management.  a disaster.

[2016-09-28 16:54] samphilipd opened #26651 "config.ssl_options are not passed to ActionDispatch::SSL"
### Steps to reproduce

In `config/development.rb` add these lines:

[code]

### Expected behavior
Path should get warned to console.

### Actual behavior
Nothing gets logged to console.

Additionally in `ActionDispatch::SSL#initialize` none of the correct options are passed in.

### System configuration
**Rails version**:
5.0.0.1

**Ruby version**:
2.3.1

[2016-09-28 17:07] rafaelfranca commented on #26644
We only need a threadsafe cache if the cache is at the class level. But 2 seems good to me

[2016-09-28 17:09] tenderlove commented on #26158
@ahoward it might not be great, but lets try to stay civil. 🙇

[2016-09-28 17:12] rafaelfranca commented on #26651
Maybe because you have the file `config/initializers/new_framework_defaults.rb` with the `config.ssl_options` being overridden there? https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults.rb.tt#L33

[2016-09-28 17:45] samphilipd commented on #26651
Oh! You are right. Thanks, this can be closed.

[2016-09-28 17:45] #26651 closed

[2016-09-28 21:55] uaihebert commented on #26635
I was able to find where the problem is:

![image](https://cloud.githubusercontent.com/assets/2014377/18933807/e4ac0bd0-85ac-11e6-923d-07e41ea82fbd.png)

For the index created by the SQL command the returned value is a pure string. That is why is breaking when we fire the query.

When I get home, I will fix it. ( :

[2016-09-28 22:37] chrisnicola commented on #23316
Seeing this as well. It seems that Rails 5 migrations set the timestamp fields to `null: false` whereas Rails 4.0 did not have this constraint. As well, the fixtures do not appear to be setting a created_at/updated_at value unless one is specified.

[2016-09-28 22:41] chrisnicola commented on #23316
Nope sorry this was also my fault, the model file was missing. I agree with @sachse though a error message from the fixture loader might make sense here. Not sure, you might want to load a fixture you don't have a model for. Not sure why though.

[2016-09-29 02:00] mcfiredrill opened #26656 "can't find docs for with_transaction_returning_status"
I noticed I can't find the docs for `with_transaction_returning_status` when searching on api.rubyonrails.org anymore.

It was available in older doc versions:
http://api.rubyonrails.org/v3.2.2/classes/ActiveRecord/Transactions.html#method-i-with_transaction_returning_status

Its public and not `:nodoc:` ed so I'm not sure what the reason is.
https://github.com/rails/rails/blob/0fe76197d2622674e17

[2016-09-29 07:15] prasadsurase opened #26658 "rails c doesn't start the rails console."
I am not able to load the rails console.

[code]

### Expected behaviour
Rails console should be loaded for **rails c**

### Actual behaviour
Rails console doesnt load on **rails c**.

### System configuration
**Rails version**: 4.2.0
**Ruby version**: 2.2.4p230 (2015-12-16 revision 53155) [x86_64-darwin15]

[2016-09-29 07:49] prathamesh-sonpatki commented on #26658
This is not an issue related to Rails. See how to solve issues with rvm and readline. You will face this issue with any other gem which tries to use readline as well as the issue with your Ruby installation.

Thanks!

[2016-09-29 07:49] #26658 closed

[2016-09-29 14:00] kirs opened #26661 "Accessing ActiveRecord relation from ActiveModel::Validator mutates the collection"
### Steps to reproduce

[code]

### Expected behavior

It's expected that after calling `create!` two times, the `checkout.applied_gift_cards.size` value will be `2`

### Actual behavior

[code]

### System configuration
**Rails version**: master (`21ecf42730de2004a95d913038c1f417c24496be`)

**Ruby version**: 2.3.0

The bug only affects >= 5.0. Rails 4.2 works fine:

[code]

?r @sgrif
cc @rafaelfr

[2016-09-29 14:38] penne12 commented on #26158
@tenderlove Plan on removing `listen` as a default?

[2016-09-29 14:41] tenderlove commented on #26158
@penne12 I don't think so.  We need to either fix `listen`, or find an alternative.  If we can find a suitable alternative then we'd remove `listen` as default.  [This](https://github.com/facebook/watchman) seems like it might have potential

[2016-09-29 15:20] penne12 commented on #26158
@tenderlove I believe active support has something, and while it's not ideal, it doesn't break people's laptops. Literally, it took me almost a week to be able to figure out how to use Rails. Almost completely changed frameworks, even. Rails works fine (esp in development) without listen.

[2016-09-29 15:26] simi commented on #26158
@tenderlove especially https://github.com/facebook/watchman/tree/master/ruby/ruby-watchman

[2016-09-29 15:47] crawfoal opened #26662 "Scope with #or generate incorrect SQL"
## [Gist](https://gist.github.com/crawfoal/8db084c5f5dfab821d9c225c941aba8a) with unit tests; it might be quicker to just look at that (it's short)

### Steps to reproduce

Write a scope that calls `#or`:
[code]
Use it:
[code]

### Expected behavior
Assuming both an empty post, and one with a body of "Today was a sad day :(" have been created, I'd expect the above to return two records.

### Actua

[2016-09-29 15:51] crawfoal commented on #26662
When I was reading through the documentation on `scope`, I noticed this:

I had been thinking of scopes as just a nice way to package up a query in a re-useable way... so maybe I'm just trying to use scopes incorrectly, or maybe they should be modified to support this... (sorry if this should be considered a feature request, at first I thought it was definitely a bug).

[2016-09-29 16:57] matthewd commented on #26662
Yeah, this is expected behaviour.

If we expand the (explicit and implied) `self` references in your scope, we get:

[code]

The trouble with putting "half" the or condition in a scope is that it's not clear how far to stretch it.

[code]

Does the above intend `today AND (interesting OR happy)`, or `(today AND interesting) OR happy`?

(As you've seen, what it actually ends up meaning is the far l

[2016-09-29 16:57] #26662 closed

[2016-09-29 17:15] sgrif commented on #26661
Caused by 6d0d83a3

[2016-09-29 17:31] crawfoal commented on #26662
@matthewd Thanks for the helpful examples and suggestions!

[2016-09-29 18:05] uaihebert commented on #26244
I created the code bellow and I was not able to reproduce the bug. Did I miss something? Could it be the database?

[code]

[2016-09-29 18:08] creativereason commented on #5122
Is there a workaround for this? Running into this issue deploying a site to a subdirectory using 4.2. Routes, links and helpers don't work, but the scripts do when setting `[:script_name]` and `config.relavtive_url_root`.

[2016-09-29 18:09] ajnye commented on #25102
This definitely is an issue.  Not a bug in the code, but rather the documentation is wrong.

Based on [this page](http://api.rubyonrails.org/classes/ActionDispatch/Integration/RequestHelpers.html), `delete "/api/notifications/unsubscribe", params: { device_token: device.device_token }, headers: headers(token: token)` seems to be the correct way to write this request in a test.  However, [this](htt

[2016-09-29 18:21] hmistry commented on #25102
@ajnye It's good to know some one else had the same issue. I recall there was some inconsistent behaviors where sometimes I didn't need to use `to_json` and other times I did but didn't make the connection to what you found. Good to know and hope it gets fixed for consistency.

[2016-09-29 18:25] ajnye commented on #25102
Yeah. I have some more information about what I uncovered. I can write more about it and or try to fix the problem myself later.

Alexander Nye

On Thu, Sep 29, 2016 at 2:22 PM -0400, "hmistry" <notifications@github.com<mailto:notifications@github.com>> wrote:

@ajnye<https://github.com/ajnye> It's good to know some one else had the same issue. I recall there was some inconsistent behaviors where

[2016-09-29 18:29] uaihebert commented on #26596
Hi.

I have created the code bellow and I was not able to reproduce your bug. Did I miss something?

[code]

[2016-09-29 19:02] #26661 closed

[2016-09-29 19:08] kirs commented on #26661
❤️ ❤️ ❤️

[2016-09-29 19:28] rafaelfranca commented on #26661
Backported in 15ddd51

[2016-09-29 20:13] maclover7 commented on #26650
Can reproduce on master with [this reproduction script](https://gist.github.com/maclover7/faa3ce80e52c0f89d4163869d323c008).

[2016-09-29 20:27] maclover7 commented on #26645
cc @sgrif

[2016-09-29 20:53] e2 commented on #26158
Hi everyone, Listen maintainer here...

**TL;DR - skip to end..**

First, I haven't used a Mac for over 5 years. I only use Linux, so unless I can reproduce a problem on the Mac - at least on Travis (OSX builds), I can't fix it.

I probably can't even reasonably run OSX in a Virtual Machine (AFAIK), so if I can't reproduce it or write a unit/acceptance test for it, I won't even know how something

[2016-09-29 21:50] e2 commented on #26158
One thing: **please don't spread groundless  FUD about Listen**. (At least first make sure Listen really is the culprit).

**TL;DR** - saying that Listen is shitty because of this issue (without knowing the root cause here) is like saying Rails is shitty because of a Listen issue. It only obscures the problem and discourages maintainers from putting in more personal time to try and improve things.

[2016-09-29 22:03] matthewd commented on #26158
@tenderlove already addressed the tone of the previous feedback; I don't think it's productive to continue discussing same.

For the record: Rails *is* shitty because of this issue, regardless of which gem is the root cause -- and we will consequently explore any reasonable option to make the problem go away.

[2016-09-29 22:21] uaihebert commented on #26650
I do not know if the problem was clear for you guys, but I was looking at the data saved in the database and there is a difference:

![image](https://cloud.githubusercontent.com/assets/2014377/18972803/01c1d546-8671-11e6-8179-62c7428b65d3.png)

Reading the docs I could see that the `store` is not saved to be accessed as a regular field but as hash. Looks like the problem is in how the field is que

[2016-09-30 01:25] fanjieqi commented on #26596
@uaihebert , The difference between yours and mine is that you make the Payment2 inherits from the Payment which there is a "payments" table, but i make the Payment2 inherits from the "Payment1". And then, nothing would trigger when the payments table is empty. When you create a payments record, the exception shows the table name is "payment1s", not the "payments".

[code]

[2016-09-30 02:04] uaihebert commented on #26596
I see. I ran the updated code and I got no error. =/

Maybe is the rails/ruby version?

[2016-09-30 02:19] fanjieqi commented on #26596
@uaihebert , yeah, I've tried the ActiveRecord-5.0.0.1 which is right, and the exception would triggers in ActiveRecord-4.2.7.1.

[2016-09-30 04:14] djiang commented on #20911
It doesn't like any of the PRs mentioned above have been merged yet right? I'm currently running v4.2.7 and am still seeing this issue.

For now, should I just reverse the order in my modal?

[2016-09-30 05:14] odedniv commented on #20911
None of my issues here ever got solved/pulled/acknowledged @djiang... Anyway that's what I did (with a comment pointing here)

[2016-09-30 06:37] radubogdan commented on #26650
Thank you @maclover7 for the script and @uaihebert for jumping in and post your insights about this. I've also noticed the difference in the db and tried almost every query I could've think of.

The article you posted is nice and looks like that's the only way to query a store field. However it was written in 2012 and I think more functionality was added on top and there should be a fix to query i

[2016-09-30 08:49] cars10 opened #26665 "Empty enum values and validates_associated lead to random update call"
### Steps to reproduce

Minimal projects to reproduces the behaviour:
Rails 4.1.14 + sqlite https://github.com/cars10/empty-enum-validates-associated
Rails 4.1.14 + mysql https://github.com/cars10/empty-enum-validates-associated-rails-4-1-14-mysql
Rails 5.0.0.1 + mysql https://github.com/cars10/empty-enum-validates-associated-rails-5-0-1-mysql

Given the following models

[code]

Now create a new

[2016-09-30 10:51] sj26 opened #26666 "ActiveRecord Query Cache sometimes dirty and stuck enabled across threads"
ActiveRecord::QueryCache using the new Rails executor may result in dirty query caches across threads. Releasing a connection early in one thread may return it to the pool with cache still enabled and dirty, and the executor loses track of the connection so may clear another, and another thread may pick up the dirty cache and never turn it off.
### Steps to reproduce

In practise this has occurred

[2016-09-30 11:34] shirishwebonise opened #26667 "Nesting of framesets when clicked on "API documentation link" on welcome page of api.rubyonrails.org"
### Steps to reproduce

Go to [api.rubyonrails.org](http://api.rubyonrails.org/)
Click on "API documentation" link

this will open up same page inside the frameset as a new frame.

Again click on the "API documentation" link

this will open up same page as a frame in the inner frameset
### Expected behavior

should do nothing when clicked on "API documentation" link
or should reload the page
### A

[2016-09-30 11:52] sj26 commented on #26666
I've drafted a very rough implementation of these solutions with a very convoluted threading test over in https://github.com/rails/rails/compare/master...sj26:activerecord-query-cache-threads

[2016-09-30 11:53] sj26 commented on #26666
If we were able to add a checkin callback to the connection instance when the executor prepare block runs then this might be simpler?

[2016-09-30 12:33] francesco-loreti opened #26668 "ActiveRecord - Model + Not + Scope"
As for "where.not", Is it possible you can add ".not" to a scope?
For example: "User.all.active" ---> "User.all.not.active", where "active" is a scope.

Thanks

[2016-09-30 12:55] prathamesh-sonpatki commented on #26668
@francesco-loreti

Please use stackoverflow or other medium for posting questions where a wider community can help you, we reserve the issue tracker for bug reports only, thanks!

[2016-09-30 12:55] #26668 closed

[2016-09-30 13:09] fernandoluizao opened #26669 "PG::InvalidTextRepresentation raised when querying boolean column"
### Steps to reproduce

I have the following tables on a Postgres database:

    table1:
    id: integer
    active: boolean

    table2:
    id: integer
    table1_id: integer

Models

    Table1: vanilla active record
    Table2: belongs_to :table1

When I query:

    Table1.where(active: true)

It works as expected. However, when I query:

    Table2.joins(table1).where(table1: {active: true})

[2016-09-30 13:31] ahmadalisaeed opened #26670 "Actionmailer sends emails with empty content"
NOTE: To be honest, we were never able to replicate the errors in any browser, but our users are complaining and receiving the emails with empty contents and we can also see in our backup email client the emails send by our users has empty contents.

### Situation
In our ExternalMailer class we have a class method called 'send_quote_request'  and which is extended by  ApplicationMailer.

The Appli

[2016-09-30 15:07] jpstokes opened #26671 "form_for documentation needs to be updated."
### Steps to reproduce
Using form_for does not automatically enable multipart as suggested by documentation when form object isn't being used to implement file_field and file_field_tag - i.e. not using f.file_field.

[code]

### Expected behavior
Expected form_for to automatically set multipart => true.

### Actual behavior
multipart => true was not set and had to set manually contrary to  the doc

[2016-09-30 16:46] fernandoluizao commented on #26669
For the record, it's working correctly on rails master.

[2016-09-30 20:00] bentedder opened #26673 "Two controllers with different filenames, but identical classnames doesn't error"
### Steps to reproduce
* Create a resourceful route (ie, `resources: :groupings`)
* Create 2 files with different names (ie, groupings_controller.rb and not_groupings_controller.rb)
* At the top of each put `class GroupingsController < ApplicationController`

### Expected behavior
Something should error out that two files are trying to control the same controller.

### Actual behavior
On my local

[2016-09-30 20:40] maclover7 commented on #26669
Can you check and see if the issue is also solved on the `5-0-stable` branch?

[2016-09-30 20:41] maclover7 commented on #26666
cc @matthewd

[2016-09-30 20:44] maclover7 commented on #26656
Can confirm this. cc @fxn

[2016-09-30 23:55] maclover7 commented on #26673
cc @fxn

[2016-10-01 04:26] matthewd commented on #26673
Not much we can do about this.

If you reference `NotGroupingsController` it'll show an error because `not_groupings_controller.rb` didn't define it. But if you don't, we never load that file in development... and in production, during eager load, we have no control over what's happening.

[2016-10-01 05:51] #25381 closed

[2016-10-01 09:16] tbalthazar commented on #26644
I've created a simple script that reproduces the `sort` bug and narrows it down to the `localtime` method, as explained by @pixeltrix.
I'm gonna fix the issue by using a hash to cache `getlocal` (as suggested by @pixeltrix) and add some tests.

[code]

[2016-10-01 10:37] fxn commented on #26656
This is an internal method [I wrote myself years ago](https://github.com/rails/rails/commit/e02f0dcc24f871d8429229db4219ee1e93636496), should not belong to the public interface.

[2016-10-01 10:37] #26656 closed

[2016-10-01 11:06] fernandoluizao commented on #26669
Checked with 5-0-stable, it's working correctly.

[2016-10-01 11:34] Jaroost commented on #20676
Ok I found a working solution with [this](https://techbrownbags.wordpress.com/2014/02/05/rails-validation-of-cocoon-nested-forms/) link:

If you are using Rails 5+ just add this to ApplicationRecord class
[code]
And on the model who hold the accept_nested_attributes do something like that

[code]

[2016-10-01 13:21] maclover7 commented on #26669
Cool. I'm going to close out this issue since it seems like it has already been solves on the master and 5-0-stable branches. The fix should be out in the next release of Rails, which I believe is 5.0.1. Thank you for opening up this issue! :)

[2016-10-01 13:21] #26669 closed

[2016-10-01 13:25] fernandoluizao commented on #26669
Thanks! What is the expected date for the next release?

[2016-10-01 13:26] Jaroost commented on #20676
[code]

Adding the `unless obj.marked_for_destruction?` when you try to destroy and recreate the same unique associated model

[2016-10-01 14:13] mechanicles commented on #26671
@jpstokes Not sure how you are actually implementing it.

Automation of multipart will work only with `form_for` and using its `file_field` helper. i.e. `f.file_field`
[code]
Above code should add/set multipart in the form.

But in your example of `form_for`, you haven't used form builder object for `file_field` helper. Please change it `file_field :picture` to `f.file_field :picture` and let us k

[2016-10-01 19:05] Qasem-h opened #26681 "hide rails from wappalyzer for security reasons"
Hello guys
How i can hide rails from wappalyzer ?

[2016-10-01 20:30] #26644 closed

[2016-10-01 21:08] pixeltrix commented on #26673
@bentedder this is just standard class re-opening in Ruby - as @matthewd says, nothing we can do about it.

[2016-10-01 21:08] #26673 closed

[2016-10-01 21:25] pixeltrix commented on #26681
@Qasem-h this issue tracker is for managing bugs in Rails and not for general support questions - I suggest using Stack Overflow or one of the many Rails mailing lists. However a good starting point would be [the rules it uses to detect Ruby on Rails apps][1].

[1]: https://github.com/AliasIO/Wappalyzer/blob/0d7c20e95c4cbe40b490a440483af201942e6eed/src/apps.json#L6038-L6053

[2016-10-01 21:25] #26681 closed

[2016-10-01 21:32] maclover7 commented on #26669
@fernandoluizao Sorry, not sure exactly when 5.0.1 will be out, but it should be soon. :)

[2016-10-02 01:08] dannyyu92 commented on #14401
Same, errors in staging/prod when namespacing a concern

[2016-10-02 01:43] kamipo commented on #26650
Seems `store_accessor :financing_offer, :down_payment` works.
https://github.com/rails/rails/blob/master/activerecord/test/cases/adapters/postgresql/json_test.rb#L10

[2016-10-02 17:44] uaihebert commented on #25503
I've found the problem.

The ``changed?`` method was not checking for an association update, but only for attributes update.

I need some ideas about the best way to check if an association have been updated. I needed to do some ifs because some tests were broken if I ran in group, but when I run individually it works.

Thanks

[2016-10-02 17:52] uaihebert commented on #26650
The value is stored without a problem and recovered with the model without a problem. The problem will happen if a query is fired to this attribute. But I do not think that this is a real problem since the attribute is not saved as a valid json in the database.

[2016-10-03 01:45] mockdeep opened #26691 "Deleting STI records performs badly due to scoping first on type"
### Steps to reproduce

I have an STI table called `fields`, but deleting records from this table is painfully slow. If I simply find a field and try to delete it, I get a query that first filters on the field type, then on the id:

[code]

### Expected behavior

The query should query on id before type. Not sure if it makes sense to filter on type at all.

### System configuration

**Rails versio

[2016-10-03 01:48] mockdeep commented on #26691
This compounds if I try to delete a number of records:

[code]

[2016-10-03 01:49] mcfiredrill commented on #26656
@fxn Thanks. Is there any alternative method to use, if this is not supposed to be public?

[2016-10-03 01:58] maclover7 commented on #26691
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-10-03 02:02] maclover7 commented on #26670
Can you please provide more information to reproduce the problem? Creating a sample application that replicates the error you are seeing would be very helpful. :)

[2016-10-03 02:26] mockdeep commented on #26691
@maclover7 sure, the following reproduces it in the logs that come out, but not sure how to write a test around it:

[code]

[2016-10-03 03:14] matthewd commented on #26691
There is no "first" or "before" in an SQL query.

If that first query is taking multiple seconds, it seems likely there's something else going on. Likely candidates would be a missing primary key index, concurrent query traffic (causing a lock wait), or a simply underpowered / resource-starved database server.

Unfortunately, none of those are Rails bugs to be fixed.

[2016-10-03 03:14] #26691 closed

[2016-10-03 03:38] matthewd commented on #26656
@arthurnn  Looks like #18102 `nodoc`-ed a lot more than it intended to. 🙊

@mcfiredrill You probably just want to raise `ActiveRecord::Rollback` (or a "regular" exception) inside a `transaction` block. If you require the transaction-membership semantics of `with_transaction_returning_status`, I guess we'd need to better understand your use case.

[2016-10-03 03:46] mcfiredrill commented on #26656
@matthewd Makes sense, thanks.

[2016-10-03 03:47] mockdeep commented on #26691
@matthewd I see. In this case we're dealing with a default sequential primary key in postgres, with no other queries happening at the same time, and every other query we make seems to perform just fine:

[code]

I do notice that the query above also has the `type` bit first as well, which confirms what you say about the order. Any other tips on debugging this? It seems to be specific to STI tables

[2016-10-03 03:50] jeremy commented on #26670
You're sending an HTML-only email which is commonly classified as junk/spam, has its HTML part stripped, or is simply mis-rendered.

- Ask your users who receive "blank" emails for a copy of the actual raw message so you can troubleshoot further.
- Render a text part in addition to the HTML part to guarantee your emails can be read.

[2016-10-03 03:50] #26670 closed

[2016-10-03 06:21] matthewd commented on #26691
If you can confirm the raw queries perform similarly when run in `psql`, then you should be able to investigate it as a framework-agnostic PostgreSQL question.

You'll probably want to compare some `EXPLAIN` / `EXPLAIN ANALYZE` plans.. but that's pretty far outside what we can help you with. I've had good experiences with `#postgresql` on Freenode.

[2016-10-03 08:07] jonlumb commented on #25185
Still experiencing this issue running Ruby 2.4.0preview2 and Rails 5.0.0.1

The "Welcome to Rails" index screen works, but problems occur as soon as I attempt to access a scaffold that I've generated.

[2016-10-03 08:57] skensell opened #26692 "Association scope is ignored when eager loading with includes"
After not getting any satisfying answer after multiple bounties on StackOverflow: http://stackoverflow.com/questions/39359361/rails-ignores-association-scope-when-pre-caching-with-includes
I've concluded it's a bug with Rails. The linked Question links an example app with a detailed README explaining the issue: https://github.com/skensell/SO-question-example

I'm using Rails 4.1.4 and Ruby 2.1.10.

[2016-10-03 10:15] jonlumb opened #26694 "Recurrence of New app: "key must be 32 bits""
### Steps to reproduce
Fresh install of Ruby 2.4.0preview2 and Rails 5.0.0.1
Create new app, generate a basic scaffold, run db:migrate, navigate to the scaffold overview page and re-encounter this issue (although the "Welcome to Rails" index page still works):

https://github.com/rails/rails/issues/25185

### Expected behavior
Should load scaffold overview

### Actual behavior
Error message: "Key

[2016-10-03 10:30] prathamesh-sonpatki commented on #26694
It has been fixed by https://github.com/rails/rails/pull/25758 and will be available to use when Rails 5.0.1 is released, thanks for the report!

[2016-10-03 10:30] #26694 closed

[2016-10-03 10:41] #26470 closed

[2016-10-03 12:04] vspar commented on #20676
Very helpful. Thanks.

[2016-10-03 13:40] 2called-chaos commented on #14401
@dannyyu92 I think you have a slightly different problem, might this help you? http://stackoverflow.com/a/22318052/1806803

[2016-10-03 14:46] fxn commented on #14401
That's very bad advice, you should not `require` something that is meant to be autoloaded, much less in an initializer.

Just a quick reply to prevent that Stack Overflow answer to be taken into account, can't study this issue right now.

[2016-10-03 14:48] fxn commented on #14401
BTW, more details in this section http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-require and the guide in general.

[2016-10-03 15:11] mockdeep commented on #26691
Ah, you know what. I think the problem is from elsewhere. We have a foreign key to our `fields` table from another table. We removed the index on that, since we never query for the other record that way, but it stands to reason that PostgreSQL is taking a peek at the other table before it can decide whether to delete the field record.

[2016-10-03 15:23] 0x0badc0de opened #26697 "SystemStackError: stack level too deep while calling AR.as_json"
### Steps to reproduce

[code]

### Expected behavior
`as_json` result is the same

### Actual behavior
Exception is raised on second `as_json` invocation.

[code]

### System configuration
**Rails version**: 5.0.0.1, 4.2.7

**Ruby version**: 2.3.1

[2016-10-03 16:46] dannyyu92 commented on #14401
@2called-chaos Thanks, that would do it, but I agree with @fxn. It seems like I shouldn't have to make an initializer for every single model I have if I want to namespace concerns for them.

[2016-10-03 19:17] uaihebert commented on #26665
Hello.

I was looking at your problem and I guess the problem is with the returned value from the in memory database.

I ran your code with sqlite and I saw the update happening.

I ran your code with mysql database and I could not find the problem. Bellow you will see the created script:

![image](https://cloud.githubusercontent.com/assets/2014377/19050391/c1e0e75c-8984-11e6-887f-44d53cc85ceb.png

[2016-10-03 20:16] tomdracz commented on #20679
@kenn your PR makes absolute sense. For me when I do:

`belongs_to :placement, -> { unscope(where: :archived) }, class_name: "Placements::Placement"`

The join should override the default scope (which is archived: false).

The monkey patch works for simple cases, but something like:
`joins(placement: {application_container: { programme: :programme_groups }})`

Will go kaboom, alas.

Still waiting

[2016-10-04 00:49] maclover7 commented on #26697
Hi @0x0badc0de! Unfortunately, I don't think `ActiveRecord::Base#as_json` is public API or supported behavior 😬

cc @sgrif

[2016-10-04 00:51] sgrif commented on #26697
It is, but calling `as_json` on a class isn't expected to do anything useful. Still, we shouldn't stack overflow

[2016-10-04 00:55] uaihebert commented on #26697
I was looking at it and I was able to reproducing just doing:
[code]

I noticed that the problem is here:
[code]

I will investigate a little bit more soon.

[2016-10-04 00:57] sgrif commented on #26697
What are you expecting `Post.as_json` to return? If anything it should be a no method error

[2016-10-04 01:24] uaihebert commented on #26697
Usually the ``as_json`` should return the current data of an object, but I see no reason in doing that for an record model without any database/model data.

For the first Person.as_json the result is:
[code]

I do not see any reason for doing that in a real project. I believe that it should be `{}` or something like that.

[2016-10-04 01:27] sgrif commented on #26697
Sure, but we're not manually implementing it. That's just the blanket definition printing all the instance variables. Theres no meaningful output expected here.

[2016-10-04 01:27] #26697 closed

[2016-10-04 05:48] 0x0badc0de commented on #26697
I don't expect anything from `Post.as_json` :) That's an extract of a bit more complex example involving 4 more gems:
[code]
Remove `Post.arel_table` from it and it will pass. Or replace `Post.arel_table` w/ `Post.create!` and it will keep failing.

[2016-10-04 11:09] passabilities opened #26702 "Double rescue_from not called"
So I ran into a bug where when having a controller wide `rescue_from` then raises a new error, another `rescue_from` meant to catch that specified error is not called.

### Steps to reproduce

**application_controller.rb**
[code]

**my_controller.rb**
[code]

### Expected behavior
The `rescue_from` in `ApplicationController` should be called to render appropriate json to client.

### Actual behavi

[2016-10-04 12:42] ahmadalisaeed commented on #26670
![email](https://cloud.githubusercontent.com/assets/18677747/19074304/d9edf662-8a3f-11e6-96a0-5687a461f367.png)

@jeremy This is the raw messages which are blank. In the email templates besides HTML we also have the plain text and based on the raw messages we can say that the plain text also does not exists

@maclover7 The problem is we cannot produce this issue is our development but it is happen

[2016-10-04 13:11] prashantkb opened #26704 "ActionController::InvalidAuthenticityToken rails 5"
i m using rails version - 5.0.0.1

i used form_for to create form
<%= form_for :session,:action => '/login/authenicate/',:remote => true, :authenticity_token => true, :html => { :class => 'validate', :id => 'form_login' } do |s| %>

and i am using ajax to send the request to the serve

this is the form that is display in the browser

`<form class="validate" id="form_login" action="/login" accept-c

[2016-10-04 14:00] 2called-chaos commented on #14401
@dannyyu92 @fxn You are right but it was a workaround. The superclass mismatch has nothing to do with this issue but it's more a problem of how Ruby works. I now namespace concerns like "UserConcerns::Something" to avoid this superclass mismatch issue (I think there is no other way besides changing the order in how things are loaded).

[2016-10-04 14:29] uaihebert commented on #26697
@sgrif Do you think that is still valid taking a look at it? I believe that is a good use case for the error. ( :

[2016-10-04 17:47] jeremy commented on #26702
This would be nice to support, but it's by design. Then we needn't detect exception handling loops and such. If an exception is raised by an exception handler, it's handled by a global fallback handler.

In this case, your best bet to share the exception-handling behavior is to extract the `MyApp::Error` handler to method and hook both `rescue_from` to that method.

PRs welcome to rationally + saf

[2016-10-04 17:47] #26702 closed

[2016-10-04 18:05] passabilities commented on #26702
Where is it defined that it calls the global fallback handler?

[2016-10-04 18:53] #24858 closed

[2016-10-04 18:53] #25068 closed

[2016-10-04 19:20] jeremy commented on #26702
@passabilities The exception will bubble up and be handled by the [ActionDispatch::ShowExceptions middleware](https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/middleware/show_exceptions.rb) which provides a failsafe fallback.

[2016-10-04 20:15] etiennebarrie commented on #25068
I can confirm it works great. Thanks!

[2016-10-04 21:34] Neodelf commented on #26530
If you execute this [this gist](https://gist.github.com/Neodelf/f4a33319284676e62ef5a72dcb7bf656), result will not been contain errors.

[2016-10-05 00:32] sgrif commented on #26697
No, it does not use public API

On Tue, Oct 4, 2016, 10:30 AM Hebert Coelho <notifications@github.com>
wrote:

[2016-10-05 01:19] uaihebert commented on #26697
Ok, I will look for another issue. (:

Thanks

Hébert Coelho de Oliveira - Pós Graduado: Engenharia de Software
Analista Desenvolvedor Sênior | Certificado em: SCJP, SCWCD, OCBCD, OCJPAD
contato@uaihebert.com | +55 (21) 8633-1543
Curriculum Vitae <http://cv.uaihebert.com/> | Meu blog sobre desenvolvimento
<http://uaihebert.com/> |

Meus livros publicados:
JSF Eficaz <http://www.casadocodigo.com.br

[2016-10-05 03:54] thiagogsr opened #26708 "JSON attributes out of strong parameters"
### Steps to reproduce

My model

[code]

My Controller

[code]

Rails log

[code]
### Expected behavior

Access the `user_params` and return the `foo` and `bar` params.
### Actual behavior

So, I can't access the `json` attributes in my controller unless I call the param directly ex: `params[:foo]` and `params[:bar]`. If I send the parameters inside the `user` hash, it works, but it is an API so

[2016-10-05 06:18] jeffrey008 commented on #26658
@prasadsurase, I am also facing this issue now. Although it is not a Rails issue, can you please shed some light on this problem? Googled around and SO solution did not work out. Thanks

[2016-10-05 06:40] prasadsurase commented on #26658
@jeffrey008 I imploded the RVM and reinstalled it.

[2016-10-05 10:07] cars10 commented on #26665
I can reproduce the problem with mysql.
With rails 5 it causes an update that sets the status to NULL:
[code]

And with Rails 4.1.4:
[code]

[2016-10-05 11:02] LegaKh commented on #26658
works for me:
``ln -s /usr/local/opt/readline/lib/libreadline.7.0.dylib /usr/local/opt/readline/lib/libreadline.6.dylib``

[2016-10-05 13:56] frcake commented on #25805
http://stackoverflow.com/questions/39840573/rails-5-very-slow-startup-on-windows

i have a lot of performance(?) problems with RoR on w7 , tried a lot of stuff , haven't found anything yet.
I'm sharing my SO post , some beautiful people contributed, so someone else might understand better than me , or have more luck!

[2016-10-05 17:49] renanoronfle commented on #26708
It's working correctly, read documentation: http://api.rubyonrails.org/classes/ActionController/Parameters.html
you send params out of user node, for access with user_params you need send attributes inside user node.
like this: { "user"=>{"foo"=>10, "bar"=>0, "xyz"=>99}}

[2016-10-05 18:06] renanoronfle commented on #26708
The xyz attribute not inserted in user hash automatically, you send in parameters inside user node.
For you can access attributes out of user node you can remove require(:user) and permit attributes.
it does not seem to me rails issue.
And other thing you not need use attr_accessor for "xyz" because rails mapping automatically.
I think you need read strong parameters documentation to better unders

[2016-10-05 18:12] thiagogsr commented on #26708
It is inserted in user hash automatically @renanoronfle, you can test :)

[2016-10-05 18:23] renanoronfle commented on #26708
Also, if you've turned on config.wrap_parameters in your initializer or called wrap_parameters in your controller, you can safely omit the root element in the JSON parameter. In this case, the parameters will be cloned and wrapped with a key chosen based on your controller's name. So the above JSON request can be written as:

{ "name": "acme", "address": "123 Carrot Street" }
And, assuming that yo

[2016-10-05 18:26] thiagogsr commented on #26708
It is the bug I'm reporting. When the attribute is a `store_accessor`, it is not cloned.

[2016-10-05 18:34] rafamanzo commented on #26538
https://github.com/rails/rails/commit/d44177d45e59ece7c2b8ed37bd2bfc23d28d7b22 removes Faye mode, thus this no longer applies.

[2016-10-05 18:34] #26538 closed

[2016-10-05 19:55] estiens commented on #23279
I get this behavior (or similar) with Rails 5.0.0.1

[code]

[2016-10-05 21:43] zorab47 opened #26712 "Eager loading multiple has_many :through relations with same :source returns incorrect data"
Incorrect data is returned from `has_many :through` relations when two or more are eager loaded with the same `:source`.

In the example below, eager loading a Company's `posts` and `promoted_posts` causes `company.posts` and `company.promoted_posts` to both contain `company.posts` data.

Issue #23308 may be related.

### Steps to reproduce

Below is a sample script reproducing the issue on Rails

[2016-10-05 21:49] QuantumLeaper opened #26713 "Rails Generate Error"
Hello, I'm running into an error with rails generator (whether anything is appended after rails generate or not)
Anyhow, I cannot generate the necessary Shopify files utilizing:
`rails generate shopify_api --api_key=<KEY> --secret=<SECRET>`
After executing that I end up with:

[code]

[2016-10-05 22:26] alexjspears commented on #23279
@estiens Same here popped up today

[2016-10-06 02:43] ohler55 commented on #26697
Are you referring to as_json() as not a public API?

For the rails authors, what is your idea of what as_json() should return and what the parse should do with the result. My understanding is as_json() should return native types only, Hash, Array, Numeric, String, Boolean, or nil. Is that incorrect?

[2016-10-06 02:43] connorshea commented on #26704
Do you have a "protect_from_forgery with: :exception" in the controller? Add "prepend: true" to it and it should be fixed.

[2016-10-06 10:05] Nowaker opened #26716 "Please review security vulnerability I reported to Rails Hackerone"
Thanks.

[2016-10-06 12:40] #26716 closed

[2016-10-06 13:40] jmbejar commented on #26704
You can not directly use `action: ` in the method `form_for` (according the [docs](http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_for)).

Maybe you can try using one of the following valid options:

`
<%= form_for :session, url: { action: 'authenticate', controller: 'login' }, :remote => true, :authenticity_token => true, :html => { :class => 'validate', :id =>

[2016-10-06 13:50] kirs opened #26719 "ActiveRecord relation delete regression"
[code]

The test passes on 4.2, but on `master` or `5-0-stable` I get:

[code]

@sgrif do we consider it as a regression in 5.0 or should it work like this by the design?

[2016-10-06 16:24] itsterry commented on #23279
I had this problem on our CI setup, and fixed it with

[2016-10-06 16:29] schneems commented on #23279
Anyone have an example app with steps to repro the problem? I'm not exactly sure the underlying failure mode. That first command should populate the internal metadata table, and that should be all we need. I'm wondering if it's trying to drop a different database somehow.

[2016-10-06 17:45] Jerph opened #26721 "PostgreSQL adapter doesn't allow spaces in table names if no schema or quotes"
### Steps to reproduce

Create, attempt to use, or schema-dump a PostgreSQL table with a space in the name, e.g. `create_table 'work orders'`.
### Expected behavior

It should treat the entire string as the table name.
### Actual behavior

It uses the first word or segment before the space as the schema, and the rest as the table name.

This is a bug in the regex used for parsing the schema/table

[2016-10-06 18:30] utilum commented on #26713
This looks like an issue for Shopify/shopify_api. Perhaps you'd benefit more from posting it there (and mentioning the versions you use: Ruby, Rails, and shopify_api).

[2016-10-06 18:33] guilleiguaran commented on #26713
Closing since this seems to be a third-party issue, if the error can be tracked back to rails please ping me and I'll re-open this again.

Thanks!!

[2016-10-06 18:33] #26713 closed

[2016-10-06 18:48] kaspth commented on #26518
I think it's fine to start moving toward symbol keys only (but maybe we need @dhh's confirmation on that).

We're also looking at writing new form helpers in #25197, so that particular incongruence won't stay for long.

[2016-10-06 18:58] kaspth commented on #23901
@st0012 hey Stan, thanks for chiming in! You might also want to look into the original PR from some Open Academy students that tried to work on this first: https://github.com/rails/rails/pull/19272.

How does your solution solve the template locals affecting the cache part?

[2016-10-06 19:17] jtrost opened #26724 "ActiveRecord::CounterCache methods should have an option to change updated_at"
ActiveRecord::CounterCache should provide an option to update `updated_at` when any one of these methods are called.
- [update_counters](https://github.com/rails/rails/blob/a9dc45459abcd9437085f4dd0aa3c9d0e64e062f/activerecord/lib/active_record/counter_cache.rb#L76)
- [reset_counters](https://github.com/rails/rails/blob/a9dc45459abcd9437085f4dd0aa3c9d0e64e062f/activerecord/lib/active_record/counte

[2016-10-06 19:41] maclover7 commented on #26719
@kirs Would you be able to do a git bisect to figure out where this behavior was changed? Thanks!

[2016-10-06 19:50] cannikin opened #26726 "When a parent model has `before/after_commit/rollback` hooks, changing child attributes with `accepts_nested_attributes_for` causes parent to not be touched"
### Steps to reproduce

Comment out line 39 `after_commit { true }` to get all tests to pass:

[code]
### Expected behavior

Creating/updating/destroying a child that is set to touch the parent should do so via nested attributes whether or not the parent has a `before_commit`, `after_commit`, `before_rollback` or `after_rollback` hook set.
### Actual behavior

Creating a `before_commit`, `after_co

[2016-10-06 20:01] matthewd commented on #26719
Expected consequence of the fact `pluck` now uses the loaded contents of the relation where possible: this has the same (5.0+) behaviour if you use `map(&:id)` instead. Or throw a `products.reload` in there.

I guess there is the question of whether `Relation#delete` should kill the loaded state, but that would introduce a special case we can't generalize, so seems unlikely to be worth changing.

[2016-10-06 20:01] #26719 closed

[2016-10-06 20:28] cshupp1 opened #26727 "rescue_from does not handle java exceptions in JRuby."
### Steps to reproduce

Place this line in your rails app in the application controller:

[code]
### Expected behavior

It eats the java class under JRuby
It actually handles the exception
### Actual behavior

An exception will be thrown:

[code]
### System configuration

**Rails version**: 4.2.5

**Ruby version**: JRuby 9.0.4

_Monkey patch_

[code]

[2016-10-06 22:17] maclover7 commented on #26708
Hi @thiagogsr! I agree with @renanoronfle that this is the expected behavior, with regard to strong parameters' behavior here. Going to close out this issue as expected behavior.

[2016-10-06 22:20] maclover7 commented on #26671
Hi @jpstokes! Agree with @mechanicles -- in order for certain features to be activated within forms, you need to call the tag helper methods on the `f` variable. Closing out this issue as expected behavior.

[2016-10-06 22:20] #26671 closed

[2016-10-06 22:23] maclover7 commented on #26721
Per discussion in #26722, the plan is to issue a warning if there is a space in the table name.

[2016-10-06 22:52] maclover7 commented on #26726
Git bisected and is saying that 89713897830cabe49658755ddd673bbdb0a64f11 by @arthurnn is causing this issue.

[2016-10-06 23:01] cannikin commented on #26726
Sweet, I'm not crazy!

In the meantime I've littered `after_save :touch_user` and `after_destroy :touch_user` callbacks in all the child classes. So much duplication, it hurts my soul! Also when saving 6 different nested models I end up with User being touched 6 times. :( :(

[2016-10-06 23:28] claudiob commented on #26518
@kaspth Testing the code of https://github.com/rails/rails/pull/25560 (which address #25197) is exactly what brought me to open this issue.

If we decide to go with only symbols then of course this issue can be closed.

[2016-10-07 00:12] claudiob commented on #26667
This could be fixed by adding

[code]

in the `<head>` of the page.

However, the page is generated with sdoc, which processes the [RDOC_MAIN.rdoc](https://github.com/rails/rails/blame/master/railties/RDOC_MAIN.rdoc#L62) file, so in order to add the `<base>` tag, we would need to change both rails and the source code of sdoc, somewhere around here: https://github.com/zzak/sdoc/blob/master/lib/rdoc

[2016-10-07 00:53] maclover7 commented on #26712
Agree with you that #23308 is related -- I think both issues are identifying an issue with how `source`s in associations and queries are handled. Closing in favor of #23308 to keep the discussion in one place. Thank you for opening up this issue! :)

[2016-10-07 00:53] #26712 closed

[2016-10-07 00:54] maclover7 commented on #26692
Hi @skensell! Are you able to reproduce this issue on the `5-0-stable` or `master` branches?

[2016-10-07 00:56] maclover7 commented on #26724
👍 Agree that this functionality should be provided, although the API may be need some tweaking :)

Can you open up a PR with what you have so far for an implementation? Thanks!

[2016-10-07 02:22] trejkaz commented on #25739
I would go further and say that not only does `:inverse_of` work fine with `:as`, but _not_ specifying both can [result in weird and hard to find bugs](http://stackoverflow.com/questions/38887701/).

[2016-10-07 07:51] jiggneshhgohel commented on #26069
@tak1n your suggestion in comment https://github.com/rails/rails/issues/26069#issuecomment-240358290 about using Hashes instead of Array helped me in resolving this params mingling issue.

Thanks.

[2016-10-07 09:04] evolve2k commented on #25805
@vipulnsward so what's the answer for people who come here stuck with a very slow windows load of Rails. The issue is that especially for newcomers, this can be enough to turn them away from the Rails ecosystem.

Does this just require people to upgrade their version of ruby, or download a updated version of OpenSSL (for windows). Or is there more to it than that?

One of the windows issue seems t

[2016-10-07 10:21] mswiszcz commented on #15185
I wanted to bump this up, I am having the same problems on rails 4.2.7, trying to use sql SUM method aliased as amount_sum, fetch labels for products as well with include, and scoping with several wheres`

[2016-10-07 11:04] alekseyl commented on #15185
Did you try my monkey-gem?

https://github.com/alekseyl/rails_select_on_includes

[2016-10-07 11:31] radubogdan commented on #26650
@uaihebert You're right. Any ideas why the attribute is not saved as a valid json?

[2016-10-07 11:33] mswiszcz commented on #15185
@alekseyl Yes, it works perfectly, but I would love to see this fixed in rails. In ruby ecosystem gems have tendency to get abandoned, so I think fixes like this should be incorporated in rails.

Nevertheless, thank you for you work, at the moment it solves the problem 👌

[2016-10-07 12:07] mechanicles commented on #26692
It happens on `5.0.0.1` too.

[code]

[2016-10-07 12:26] lukeredpath commented on #19863
I am still seeing this behaviour on Rails 4.2.5

[2016-10-07 18:11] hsgubert opened #26731 "Test database is created with environment='development' when running rake db:test:prepare"
### Steps to reproduce

Just run the rake tasks below in a new rails 5 app (after having configured your database.yml)

[code]
### Expected behavior

Log in to the test database and issue the following query:

[code]

I would expect to see only a single environment metadata with value `test`, like this:

[code]
### Actual behavior

I actually get the environment set to `development`

[code]
### Sy

[2016-10-07 18:31] hsgubert commented on #26731
The problem here seems to be that the `rake db:test:load_schema` acts upon the test database, but does not change the rails env to 'test'.

https://github.com/rails/rails/blob/5-0-stable/activerecord/lib/active_record/railties/databases.rake#336

My fix suggestion would be to store the initial Rails.env value, the same way we store a boolean to know if we should reconnect, change the rails env to

[2016-10-07 18:35] jmbejar commented on #26708
Hi @maclover7.

I think there is a bug or, at least, a bit of inconsistency in the behavior of stored parameters and wrap parameters.

I tested the following scenario in a new app to demonstrate the issue.

Scaffold generator command to generate a User resource:

`
bin/rails g scaffold user name data:text
`

Use the `data` column as a store attribute

[code]

Leaving the default `wrap_parameters`

[2016-10-07 18:40] thiagogsr commented on #26708
I think my example was not so good, but the @jmbejar one is better, it is what I tried to say.

[2016-10-07 19:27] konnorbeard commented on #24257
I'm seeing this issue in 5.0.0.1, although it seems more like #23524. The csrf token in the header differs from the form.
[code]

[2016-10-07 20:06] tenderlove commented on #26119
Hi.  Sorry it's taken so long to get to this.  I finally got the application up and running on an Ubuntu virtual machine.  When I use tsung though, I get this error:

[code]

I tried hitting the page and refreshing a bunch, but still can't reproduce it.  All processes would get up to about 148M and just sit there.

@chrisarcand are you able to reproduce this *without* `-w 8`?  Just single process

[2016-10-07 20:21] chrisarcand commented on #26119
cc/ @chrismccord 😉

[2016-10-07 23:41] MSP-Greg opened #26733 "Doc / comment issue ActionView::Template (template.rb)"
I believe the comment for [ActionView::Template](https://github.com/rails/rails/blob/master/actionview/lib/action_view/template.rb#L11-L88) is incorrectly placed, as it should be above the class declaration on line 7.

The comment is not shown in either [Rails API Docs](http://api.rubyonrails.org/classes/ActionView/Template.html) or at [RubyDoc](http://www.rubydoc.info/docs/rails/ActionView/Templa

[2016-10-07 23:51] maclover7 commented on #26692
@mechanicles Just double checking, in order for this issue to be solved, the test above should be passing right? I'm just asking because the test passes on v5.0.0.1 and master for me 😬

[2016-10-07 23:53] bitcrazed commented on #26054
This should now work in Windows 10 Insider builds >= [14942](https://msdn.microsoft.com/en-us/commandline/wsl/release_notes#build-14942)

[2016-10-07 23:54] merqlove opened #26734 "ActionCable.server configuration examples? Issue with running different connection types."
### Steps to reproduce
1. Create 2 different cables.

`/app/channels/notification_cable`
NotificationCable with its own connection (`without user auth`)

`/app/channels/application_cable`
ApplicationCable with its own connection (`with user auth`)
#### How to setup ActionCable.server/'s to run both connections from the same codebase?
### Actual behavior

Currently i see solution with creating 2 st

[2016-10-08 00:24] maclover7 commented on #26734
Can you please provide a sample application that replicates the error you are seeing?

[2016-10-08 00:34] headius commented on #26727
Seems like Rails could soften the requirement for rescued items to be either Exception or String.

What does a String do? Could we overload that to handle a Java exception?

[2016-10-08 00:52] merqlove commented on #26734
@maclover7 I'm have no errors here. Just issue with setup understanding.
As i understand if i need different connection way, solution is to run independent server, because ActionCable.server instance able to handle only single handler class. Right?

Example scaffold.
https://github.com/merqlove/cablemulticon/tree/master/app/channels/notification_cable

[2016-10-08 01:09] merqlove commented on #26734
1. Can i send messages into the 2 different connection handlers within single Rails app?
Like `ActionCable.server.broadcast(channel, message)`

   Or better way is to have single connection handler, with 2 identifiers?

2. This way i'm using in the real app.
https://github.com/merqlove/cablemulticon/blob/master/cable/config.ru

  This way is to run with rails server.
https://github.com/merqlove/ca

[2016-10-08 05:33] prathamesh-sonpatki commented on #26733
Sounds good, please submit the PR, thanks!

[2016-10-08 05:34] prathamesh-sonpatki commented on #26731
Looking into it.

[2016-10-08 06:14] mechanicles commented on #26692
@maclover7 not sure, but it fails on my machine using `v5.0.0.1` and `master` for me.

[code]

[2016-10-08 06:25] tradeli opened #26736 "Documentation issue in the Rails 5 guide about Profiling"
The section about [profiling](http://guides.rubyonrails.org/profiling.html) of the new guide should be explaining the best practices and possibilities/limitations regarding profiling and benchmarking Rails 5 applications, but the page does not contain the proposed information.

I'm still learning so I can't make a pull request :D

Thanks!

[2016-10-08 10:43] ponchik commented on #26279
I had been trying to reproduce the issue but without any luck. And then I had found a syntax error in my code.

I'm really sorry for the disturbance, please close this issue!

[2016-10-08 12:47] maclover7 commented on #26692
@mechanicles Can you check my terminal logs [here](https://gist.github.com/maclover7/b2eca612fd969be1b54c22f22030e31a) and see if I'm doing anything differently than you while running the script? 😞

[2016-10-08 12:49] #26279 closed

[2016-10-08 13:24] maclover7 commented on #26708
Ahh, I apologize, I misread the bug report. Reopening the issue, and I agree the behavior here could be improved. Feel free to submit a PR @jmbejar

[2016-10-08 13:51] mechanicles commented on #26692
@maclover7 I just followed your steps (Never did before like this, learned something new 😀 , thanks) and check my terminal logs [here](https://gist.github.com/mechanicles/0606bd2829ca15302a1b565cabf4e2c2).

[2016-10-08 13:55] zw963 commented on #26530
@Neodelf ,

my problem is ``file name convention`` not match the routes, this gist seem like could not
decide this is not a bug?

thanks.

[2016-10-08 15:44] merqlove commented on #26734
Finished by using multiple identities. Final example is here:
https://github.com/merqlove/action-cable-multi-id

[2016-10-08 15:58] #26736 closed

[2016-10-08 15:59] rafaelfranca commented on #26736
That guide is not finished yet, it may be removed

[2016-10-08 16:00] rafaelfranca commented on #26733
That comment is not made to public consumption so this is why it is not show in any documentation site

[2016-10-08 16:00] #26733 closed

[2016-10-08 16:31] MSP-Greg commented on #26733
Please see comment at https://github.com/rails/rails/pull/26737

[2016-10-08 20:06] ccasabona commented on #26609
Getting error:

`activerecord-5.0.0.1/lib/active_record/connection_adapters/sqlite3_adapter.rb:27: [BUG] Segmentation fault at 0x00000000000110`
`ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16]`

when making changes to the source code between running tests.  The error does not occur in development mode.  The command:

`rails console --sandbox`

works fine.

Solution is to close the te

[2016-10-08 20:08] cjhenck opened #26739 "Getting started guide has some missing context/content"
This part of the getting started guide doesn't make sense.  In particular, the second paragraph I've included lists keys "locale", and "handlers", which are not in the error message as presented.  I got caught up at the locale sentence because nowhere prior in the documentation does it mention locale, including in the error message referenced.  Likewise with handlers.  In this case the error messa

[2016-10-08 20:13] ccasabona commented on #26609
See sqlite3 gem issues SIGABRT on OSX 10.12 (Sierra) after fork() for a fix

[2016-10-08 21:15] tradeli commented on #26736
I just thought that because that part of the guide is not complete I should open an issue for it, just as instructed on every page of the guide.

So does this means it won't be updated? Is there another up-to-date place to learn Profiling in Rails 5?

Sorry for the inconvenience!

[2016-10-09 07:05] pixeltrix commented on #26054
@bitcrazed where can I get hold of that build? The [ISO download page][1] only has 14931 as the latest. I've tried installing that and switching onto the fast ring but it's not updated in 18 hours - will it only update if I've activated the install?

[1]: https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewiso

[2016-10-09 07:10] st0012 commented on #23901
Thanks for the reply @kaspth 😄

Actually I wrote my solution at my [gem's readme](https://github.com/st0012/zubot#the-solution).

But in short my approach is to store local assigns in the compiled method like
[code]

And use `method_missing` to access them:

[code]

However, this approach will conflict with other gems that also use `method_missing` in `ActionView::Base`, like `kaminari` and I'm st

[2016-10-09 07:16] matthewd commented on #23901
Two related-but-distinct patterns come to mind:

[code]

---

[code]

[2016-10-09 07:54] st0012 commented on #23901
@matthewd New approach:
[code]
I thinks we can define the local binding method on the fly. Do you think this could work?

[2016-10-09 08:13] drhectapus commented on #26609
I have the same problem. How do I fix?

[2016-10-09 08:59] st0012 commented on #23901
@matthewd @kaspth  My new approach is to create binding method on the fly:

[code]

When the source method was called, we store given local_assigns (say `{ title: "Hello" }`) into the instance variable. And then create a binding method `title` for accessing the local_assigns if there's no `title` method. So Rails can use the `title` method to access the locals.

I also added a test case for this i

[2016-10-09 11:02] matthewd commented on #23901
@st0012 I don't believe that addresses either of the partials I showed, if that was your intention.

[2016-10-09 13:29] ccasabona commented on #26609
I fixed this by uninstalling the sqlite3 gem and reinstalling it forcing ruby to use the version installed by brew.

gem uninstall sqlite3

gem install sqlite3 -- --with-sqlite3-include=/usr/local/Cellar/sqlite/3.14.2_1/include --with-sqlite3-lib=/usr/local/Cellar/sqlite/3.14.2_1/lib

regards,
Charlie

[2016-10-09 13:31] ccasabona commented on #26609
Actually, this no longer necessary.  The gem author has pushed a new version, 1.3.12, that incorporates the fix (I should have read all my emails this morning before responding to you).

[2016-10-09 14:08] claudiob commented on #26518
I just found that we had another PR that https://github.com/rails/rails/pull/26552 by @rafaelfranca where the decision was made to replace strings with symbols. Is this the way to go in the future?

[2016-10-09 15:05] bitcrazed commented on #26054
We tend to only post slow-ring ISO updates at the moment. Be sure to sign-up for Insiders here too: https://insider.windows.com/ if you haven't already. Also make sure to sign-in using your Microsoft ID.

[2016-10-10 01:01] avit commented on #21942
I'm guessing that any use of `time_zone_select` might be used alongside a `date_select` or `date_field` or similar.

This is going to be impossible to resolve on server-side so it shows the correct offset based on changing inputs. I would recommend closing this issue.

Any listing of time zones is always given as the Standard offset, without DST:

https://en.wikipedia.org/wiki/List_of_UTC_time_off

[2016-10-10 01:09] avit commented on #21501
Duplicates #7297.

This shouldn't be based on the current time, that assumption won't be right for anything else. The most obvious behaviour is to always list time zones with their Standard offset. (We can get the correct offset for a given `Time` or `TimeWithZone` already.)

[2016-10-10 02:41] rafaelfranca commented on #26739
It needs to be updated to match the new error message. Could you open a PR?

[2016-10-10 02:51] kamalpandey opened #26744 "Submit button gets disabled and is not enabled even after the correction of errors"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
the submit button was enabled
it worked as expected in rails 4.2

### Actual behavior
In my app there is a user registration form and braintree dropin ui when i click the submit button the button gets disa

[2016-10-10 02:54] rafaelfranca commented on #26744
Can you please provide a sample application that reproduces the error?

[2016-10-10 02:57] kamalpandey commented on #26744
<%= form_for @order_form, url: orders_path do |f| %>
	<%= f.fields_for :user, f.object.user do |u| %>

		<div class="form-group">
			<%= u.label :name %>
			<%= u.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= u.label :email %>
			<%= u.email_field :email, class: "form-control" %>
		</div>
	<% end %>

  		<p><%= f.submit "Place order", class: "btn btn-primar

[2016-10-10 03:09] rafaelfranca commented on #26744
Sorry, I can't see anything wrong in your code could you try to create a new application and replicate this problem and upload this application in github so we can debug?

[2016-10-10 03:17] kamalpandey commented on #26744
[https://github.com/kamalpandey/ShoppingCart](url)

[2016-10-10 03:24] rafaelfranca commented on #26744
Your application is not using disable_with, so I don't think the problem you are having is a Rails bug.

Thank you for reporting.

[2016-10-10 03:24] #26744 closed

[2016-10-10 06:22] #26353 closed

[2016-10-10 07:21] Xenofex opened #26748 "`rake test` fails to run a single test"
### Steps to reproduce

Run `rake test path/to/test.rb` to invoke a single file test, e.g.

[code]

### Expected behavior

Only the specified file is executed.

### Actual behavior

The all the tests are executed.

However, `rails test test/models/card_test.rb` works file

### System configuration
**Rails version**: 5.0.0.1

**Ruby version**: MRI 2.3.1

[2016-10-10 08:06] A9u opened #26749 "Issue in callback when string appended using '+'"
In rails 5, for a callback, when I try to append string using '+', with no space after it, an error occurs.

### Steps to reproduce
[code]

### Expected behavior
It should append the string
age_group = "U12"
name = "U12 gender"

** These all cases work
[code]
### Actual behavior
[code]

[2016-10-10 08:14] sevenseacat commented on #26749
Looks like it's interpreting `+"gender"` as an argument to the `age_group` method - not sure what Rails can do to fix that one

[2016-10-10 08:17] kaspth commented on #26748
`bin/rake test` doesn't support running a single file that in Rails 5. `bin/rake test TEST=test/models/card_test.rb` should though.

I'm curious, why would you want to use `bin/rake test` now that we have a Rails test command builtin?

[2016-10-10 08:17] #26748 closed

[2016-10-10 08:20] kaspth commented on #26749
This is purely Ruby's syntax, nothing for Rails to do.

When doing `+"gender"` it's likely trying to call the `def +@` method on the string and then invoking the `age_group` reader with that string as an argument.

[2016-10-10 08:20] #26749 closed

[2016-10-10 08:25] A9u commented on #26749
But it is working on rails console, irb. I am facing the issue only for callback.

[2016-10-10 08:27] matthewd commented on #26749
[code]

[2016-10-10 08:30] A9u commented on #26749
which ruby version are you using?

[2016-10-10 08:34] matthewd commented on #26749
The above was from 2.3.1.

But: this is not a Rails issue. Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-10-10 08:48] pixeltrix commented on #21942
Agree with @avit - closing

[2016-10-10 08:48] #21942 closed

[2016-10-10 08:50] pixeltrix commented on #21501
@avit thanks - agree with your assessment

[2016-10-10 08:50] #21501 closed

[2016-10-10 09:34] nathansamson opened #26751 "to_json on Maill::Message raises "Encoding::UndefinedConversionError" with (jpeg) attachment"
### Steps to reproduce
- Create a mail
- Add a JPEG attachment (No way to include this into a gist apparantly but any JPG file should work)
- Convert mail to_json

https://gist.github.com/nathansamson/a911b3f33f05cf04df3f282a7cb595e8
See https://gist.github.com/nathansamson/a911b3f33f05cf04df3f282a7cb595e8#file-activesupport_to_json_bug-rb
### Expected behavior
- Should convert to JSON string with

[2016-10-10 09:45] Xenofex commented on #26748
So it's via a shell env `TEST`?  Before it was `TESTOPTS`.

Yes I would like to use `rails test` instead of the old `rake test` when I'm typing in the terminal. But editor integration breaks due to the changes here. Namely [rails.vim](http://www.vim.org/scripts/script.php?script_id=1567), cannot run a single file/test via `:.Rake` any longer in Rails 5.

And I find that sometimes, the `rails [comm

[2016-10-10 11:10] chewi commented on #9336
Still seeing this in 4.2.7.1. It's happening because of this check across `save_has_one_association` and `record_changed?`.

[code]

This checks whether the associated record is currently pointing at a record other than self. This doesn't make sense for a through association.

[2016-10-10 13:22] BenFenner commented on #26209
I too would like the schema to remain optionally agnostic.

Regardless, this ticket shouldn't be closed until the schema option is implemented, or at the very least until a link is provided to the new ticket that describes updating the previously mentioned out-of-date documentation. "Working as intended" while the official documentation says otherwise is not valid.

[2016-10-10 15:24] kirs opened #26752 "Modifying has_many :through association triggers after_save callbacks in ActiveRecord 5.0"
[code]

On Rails 4.2, `do_something` and `after_save` callbacks of Product are not triggered.
On Rails 5.0, they are triggered which causes side affects in the app after upgrading to new Rails.

Is it a bug or the intentional behaviour?
cc @sgrif

[2016-10-10 16:35] zackxu1 commented on #19256
I had the same issue.  `spring stop` did not work for me.  However it seems to be gem-related.  I changed ruby version in rvm, and did fresh `bundle install`.  Then I got into `rails console` and it worked!

[2016-10-10 17:32] rafaelfranca commented on #26752
Good question. Were you able to bisect when this started to happen?

[2016-10-10 17:34] maclover7 commented on #26752
Bisected and looks like this was introduced by d849f42b4ecf687ed5350f5a2402fb795aa33aac

[2016-10-10 17:40] rafaelfranca commented on #26752
By the commit message this is really by design. I'll defer to @sgrif

[2016-10-10 22:38] utilum commented on #26751
I can reproduce both test results on master and 4.2.7.

[2016-10-11 06:40] dhh commented on #26518
I'd support symbol-only keys going forward with these new APIs.

We can break with the past here since the tag proxy is new and so is form_with.

[2016-10-11 07:22] kalsan opened #26758 "Attributes created using class_attribute are not thread-safe"
We are building a large Rails application and ran into concurrency issues. Digging into them, we found that using class_attribute causes a non-thread-safe configuration. With this I don't mean that class_attribute isn't thread-safe - please let me elaborate in more detail:

In issue #14021 @dwbutler initially stated that class_attribute is not thread-safe but then precised: "every time you set the

[2016-10-11 08:13] jeppeliisberg commented on #25135
@sgrif +1 on this one. I'm having the same issue. I cannot assign `list#user_ids` from checkboxes in a form if one of the users is invalid (which would be true for e.g. invites that haven't chosen a pwd yet). I'm getting a `ActiveRecord::RecordInvalid` error thrown at me.

I understand that the docs doesn't specifically mention the `model#association_ids=` as being influenced by `validates: false`

[2016-10-11 08:17] jeppeliisberg commented on #25718
+1

[2016-10-11 08:18] jeppeliisberg commented on #25135
Sorry, only saw https://github.com/rails/rails/issues/25718 now - added my +1 there as well.

[2016-10-11 09:39] jihh opened #26759 "generate guides throws exception"
### Steps to reproduce

[code]
### Expected behavior

Generate guides.
### Actual behavior

[code]
### System configuration

**Rails version**:  branch 4-2-stable

**Ruby version**: ruby 2.2.3p173 (2015-08-18 revision 51636) [x64-mingw32]

**OS**: Windows 7 Pro sp1,  simp-chinese

I modified `guides\rails_guides\generator.rb`, add one statement:

[code]

After that, I generate the guides.

[2016-10-11 10:35] kaspth commented on #26518
Symbols it is! 👍

[2016-10-11 10:35] #26518 closed

[2016-10-11 15:39] imtayadeway opened #26763 "[RFE] Generic way for setting headers to be used in the setup phase of integration tests"
In integration tests, I like that you can set the `Accept` header ahead of time (i.e. before the request is made):

[code]

AFAIK this is the only header that can be set in this way. I am missing a way to set any header arbitrarily in the setup phase of these tests. Without it, the alternatives seem to be a) duplicated test code, or b) wrapping the request helpers. Setting a header as in the case

[2016-10-11 15:42] rafaelfranca commented on #26763
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2016-10-11 15:42] #26763 closed

[2016-10-11 15:47] rafaelfranca commented on #26763
You are able to set the headers when doing the request so why you need to do it globally? Duplication in tests is totally fine and even make the tests more clear.

[2016-10-11 16:02] imtayadeway commented on #26763
Thanks! I'm not sure if you're inviting a response but I'll try to pick it up on the mailing list. Apologies for not reading the guidelines properly!

[2016-10-11 16:19] rafaelfranca commented on #26763
No problem. You can reply here since I did here. I just wanted to point you to the right place next time

[2016-10-11 16:21] remofritzsche commented on #26758
We have now come up with a thread-safe but still mutex-free implementation of `class_attribute`. We're conducting some final tests and will then create a pull request.

[2016-10-11 17:27] tenderlove commented on #26119
@chrisarcand derp, thanks. 😉

[2016-10-11 17:54] sgrif commented on #26752
Yes, this is by design.

[2016-10-11 17:54] #26752 closed

[2016-10-11 19:49] rmarone opened #26769 "Documentation states that log_formatter defaults, it does not"
### Steps to reproduce

If you've been upgrading an application or have not used the rails generator to get your config/environments/production.rb file, it may not contain the lines:

  # Use default logging formatter so that PID and timestamp are not suppressed.
  config.log_formatter = ::Logger::Formatter.new

By removing those lines, you will be left with an application which logs in production

[2016-10-11 20:04] rafaelfranca commented on #26769
Could you please send a pull request?

[2016-10-11 20:31] rmarone commented on #26769
Created
#26770

[2016-10-12 05:52] serggl commented on #25970
We have faced the same issue in our production setup, which uses Rails 5. We were seeing CPU utilization spikes and a general slow down in docker due to this and #25877 has definitely solved them. I would love to see #25877 merged asap

[2016-10-12 17:24] FunkyloverOne commented on #26464
@blakeloverain, maybe I just do not know something... But this example:
`<%= link_to('Public posts', {controller: 'posts', action: 'public'}) %>`
is just **not working** when in my routes I have
`get 'public', to: 'posts#public', as: :public_practices`
The resulting link will be just `/`, instead of `/public`.

So the question is: is that behavior a bug, or there is something i got to config to ma

[2016-10-12 18:57] davidcornu commented on #26126
@sgrif @pixeltrix any updates?

[2016-10-12 20:24] jakczuhang opened #26773 "How to allow Ruby application to better support multi-threading or multiple CPUs"
We have a website built on Ruby hosted by a company that offers additional CPUs as the plan increases. Are there additional ways to better optimize an application to use multiple CPUs or multi-threaded handling? Most of our usage is from visitors visiting the site and browsing content.

Thanks

[2016-10-12 20:49] matthewd commented on #26773
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-10-12 20:49] #26773 closed

[2016-10-12 21:09] yahonda opened #26774 "test_schema_dumps_index_columns_in_right_order failure with MySQL 8.0.0-dmr"
### Steps to reproduce
[code]
### Expected behavior
Finishes without failure

### Actual behavior

[code]
### System configuration
**Rails version**: master branch

**Ruby version**: It reproduces both versions of ruby
[code]

It only reproduces with `Server version: 8.0.0-dmr MySQL Community Server (GPL)`. It does NOT reproduce with `Server version: 5.6.33 MySQL Community Server (GPL)`. I do not

[2016-10-12 23:34] dukejones opened #26776 "rescue_from StandardError does not allow rescuing exceptions that are translated by the ConnectionAdapters"
### Steps to reproduce

Create a unique index in your schema.

Place these lines in your ApplicationController:
[code]

Then with a controller test, attempt to create a record that violates the uniqueness.

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**:
Tested with 4.2.  This should still be an issue from looking at code changes between 4.2 an

[2016-10-12 23:35] dukejones commented on #26776
This can be worked around like so (for MySql):
[code]
But this is not an ideal solution.

[2016-10-12 23:52] rafaelfranca commented on #26776
Could you test with Rails 5? I'm sure this changed.

[2016-10-12 23:58] dukejones commented on #26776
You're right.
[code]

This works on rails master.

[2016-10-12 23:58] #26776 closed

[2016-10-13 00:15] nofxx commented on #26179
Lost hours with this... thanks @jgonera
Let me help with some keywords...
ActionCable registers but doesn't subscribe, App.cable.subscriptions silent failure

[2016-10-13 07:45] kamipo commented on #26774
It does not reproduce with `5.7.9-log MySQL Community Server (GPL)`.

[2016-10-13 09:36] pixeltrix commented on #26126
@davidcornu sorry missed this as I was on holiday at the time.

Defaults has never really worked this way - it's always either been a way of specifying a default value for an optional segment ( e.g. the default for `:action` being 'index' in `/:controller(/:action(/:id))` routes ) or actually passing a value in `params` from the routes.rb file.

I'm in two minds over whether to change this behavio