[2016-01-04 11:11] francesco-loreti commented on #22907
For now, you can auto generate the gem of em-hiredis cloning the project using the local branch ' master ' (that is already compatible with the hiredis ' ~ > 0.6.0 ' but not yet released) . You can use ' gem build em-hiredis.gemspec ' and then ' gem install em-hiredis-0.3.1.gem ' and you can try to install rails. Check if it works .

[2016-01-04 11:32] jlecour commented on #22907
@francesco-loreti Hey, thanks for the tip.

I've tried that (and also depending on the master branch `gem "em-hiredis", "~> 0.3.1", github: "mloughran/em-hiredis", branch: "master"`) but I'm stuck in a loop when Bundler resolves the dependencies.

I'll try to debug that.

[2016-01-04 11:43] francesco-loreti commented on #22907
No no... It's not correct...
1) On console(or cmd) go to Ruby gems path(example cd 'Ruby22/lib/ruby/gems/2.2.0/gems');
2) git clone https://github.com/mloughran/em-hiredis.git
3) cd em-hiredis
4) gem build em-hiredis.gemspec
5) gem install em-hiredis-0.3.1.gem

Try again

[2016-01-04 12:29] georgemillo opened #22910 "new "no content" response when a template is missing creates unintuitive errors"
I'm creating a new, simple CRUD app and thought I'd take the opportunity to try out rails-5.0.0.beta1. And I just wasted fifteen minutes trying to figure out why my extremely simple page wasn't working. I have a resource called `Card`, and in one of my views I have `link_to "new card", new_card_path` - but when I clicked the link, nothing happened. Nothing changed in my browser, not even the URL,

[2016-01-04 12:53] matthewd commented on #22910
Yeah, that sounds like a bug. The rest is expected.

We can't behave differently between development and production, because the designed intent is that it can be relied upon: it's a feature, not just a change in error handling behaviour.

[2016-01-04 13:58] schneems commented on #22905
Can you give me a small example app that reproduces the problem?

[2016-01-04 13:59] rafaelfranca commented on #22905
This issue was moved to rails/sprockets-rails#303

[2016-01-04 13:59] #22905 closed

[2016-01-04 14:02] jlecour commented on #22907
Hi @francesco-loreti

both solutions are working for me : the manually-built-and-installed gem *and* using the github branch via the Gemfile.

My dependency problem was because of other gems that depend on Rails 4 or an old sprockets. But this is irrelevant to the current issue.

Also, I don't want to create a new Rails app (which would most probably work) but update an existing one, which depends

[2016-01-04 14:25] javan commented on #22908
You can send data over the web socket via a client-side subscription's `#perform` method, which takes care to properly format the message. [This section of the README](https://github.com/rails/rails/tree/master/actioncable#channel-example-1-user-appearances) has an example.

[2016-01-04 14:30] #22908 closed

[2016-01-04 16:58] marcomd opened #22914 "Rails 5.0.0.beta1 compile error hiredis 0.5.2 on windows"
Hello,

this is my first issue on rails 5 and I would like to begin by thanking all the contributors :+1:

my system: windows ruby 2.2.3 x64

Installing rails i had some troubles with hiredis 0.5.2 which can't be compiled on my system. Version 0.6.1 can be compiled so i forced dependencies from:

    actioncable 5.0.0.beta1 > em-hiredis ~> 0.3.0 > hiredis ~> 0.5.0

to:

    actioncable 5.0.0.beta1

[2016-01-04 17:51] georgemillo commented on #22910
On closer inspection, this seems to be a bug with the [`quiet_assets`](https://github.com/evrone/quiet_assets) gem - when I remove it, the messages appear in my server log as they should. I'll open an issue over there.

[2016-01-04 17:51] #22910 closed

[2016-01-04 18:37] #22819 closed

[2016-01-04 19:00] jcoyne commented on #22914
Is this a duplicate of #22725?

[2016-01-04 19:05] rafaelfranca commented on #22914
Yes

[2016-01-04 19:05] #22914 closed

[2016-01-04 19:07] jcoyne commented on #22907
Is the Rails core team sure that em-hiredis is the way to go?  It seems pretty stale.  Has anyone considered requesting a transfer of ownership to the Rails organization? https://github.com/mloughran/em-hiredis/graphs/contributors

[2016-01-04 19:09] rafaelfranca commented on #22907
No please!

For the final release I expect to us remove all hard dependencies we have with Action Cable right now. But no one is working on that.

[2016-01-04 19:13] jcoyne commented on #22907
:relieved: Excellent. That seems like it would alleviate a number of issues.

[2016-01-04 19:15] rafaelfranca commented on #22907
That is just my expectation, but like I said no one is working on that. We need someone to do the work so that expectation becomes reality.

[2016-01-04 21:04] jlecour commented on #22907
@rafaelfranca Thanks for your input on this one.

The problem, in my opinion, is that the current situation is forcing stuff down on users who don't care a bit about ActionCable.

I have a huge amount of respect for David's vision and sometimes one has to push things a bit for progress. Pushing for realtime communication between clients and servers is great. A lot of apps will benefit from a way p

[2016-01-04 21:12] rafaelfranca commented on #22907
Yes, we all agree with it. This is why I said that my expectation is to drop all the hard dependencies of Action Cable. It includes celluloid, eventmachine, em-redis, hiredis. Given how much I know of this team I believe my expectation will be met in the final release. That way, we all can share the David's vision while not forcing stuff down on users.

[2016-01-04 21:49] polysaturate opened #22916 "uninitialized constant ActiveRecord::ConnectionAdapters::SchemaStatements::ReferenceDefinition"
When trying to add a reference to an existing table:

```bin/rails g migration AddOrganizationRefToUsers organization:references```

[code]
[code]

[2016-01-04 22:07] jlecour commented on #22907
@rafaelfranca Do you have a link to an issue, a PR or something about the work to be done about that ? I'd be happy to help if I can.

[2016-01-04 22:15] rafaelfranca commented on #22907
I don't. We only had internal discussions so far.

[2016-01-04 22:25] schneems opened #22917 "Logger is expected to respond to `broadcast_messages`"
The logger method was added by @nwjsmith  in this commit https://github.com/rails/rails/commit/e12ffb76ffcedd150e7d0c3dc4f93472aa4790cb and docs in https://github.com/nwjsmith/rails/commit/5f73c3cd51eb367b07c1a150092e6f8df3bdd759 Rails now expects a logger to have a `broadcast_messages` method. This is a method that does not exist on the other loggers such as the standard lib's logger. When you tr

[2016-01-04 22:25] polysaturate commented on #22916
The following monkey patch(from 4.2.5 version of the file allowed me to use the add_reference migration:

[code]

Not entirely sure how the rails team will attack the issue though :)

[2016-01-04 22:52] Edouard-chin opened #22918 "RoutesInspector should be more explicit when passing a filter that doesn't match"
I was playing around with the `CONTROLLER` argument passed to the `rake routes` task and noticed that this error message get displayed when I'm passing the name of a controller that does not exist.

Should we have instead different message for each case? (no routes found, controller not found, You don't have any routes defined!)

I'll be glad to open a PR for it :smile:

At the same time, should w

[2016-01-04 23:32] Edouard-chin opened #22919 "CodeStatisticCalculator raises exception when there is binary file"
I'm not sure if this is something rails should take care of, sorry in advance if it's not the case.
`rake stats` will raise a `ArgumentError: invalid byte sequence in UTF-8` if there is a binary file inside a directory.
The most common reason of having binary files inside directories would be because of temporary files.

An easy solution would be to not process if it's an hidden file (starting by

[2016-01-04 23:36] cluesque commented on #22584
Putting this in `config/initializers` makes the problem go away for me:

[code]

[2016-01-04 23:42] #22879 closed

[2016-01-05 07:32] duleorlovic commented on #19256
:+1:  @haihappen  `spring stop` works for me too

[2016-01-05 07:38] senny commented on #22584
@cluesque can you upload an app that showcases the issue without the patch above?

[2016-01-05 09:59] lsylvester opened #22924 "Postgresql remove_index error for Legacy Migrations"
When running migrations on a postgresql database after updating rails to 5.0.0.beta1, `remove_index` calls produce `PG::SyntaxError` errors.

[code]

Gives error

  1) Error:
[code]

The SQL is coming from `ActiveRecord::Migration::Compatibility#remove_index` which has defines the SQL statement instead of using the drop index syntax defined per database in the adapters

[2016-01-05 10:22] alimujtaba opened #22925 "STI with has_one & has_many :through association is broken (adding multiple `type` column conditions in query)"
I am facing this issue while upgrading my app from rails `3.2.11` to `4.2.5`.

Since `rails 4` has_one and has_many through association is generating wrong query, adding multiple `type` column condition in query with single table inheritance.
<br/>
In `rails 3` it is generating following query:

[code]

it is having single `type` column condition => ``categories`.`type` IN ('MainCategory')`

But i

[2016-01-05 10:42] etdsoft opened #22926 "ActiveModel::Conversion#to_key inconsistent with ActiveModel::Lint::Tests#test_to_key"
The Lint says:

But `Conversion` doesn't take persisted into account:

[code]

(Note that other methods in Conversion do use `persisted?` to make sure they're returning the right thing)

As a result a class that includes ActiveModel::Conversion would not pass the lint tests.

Relevant source:
https://github.com/rails/rails/blob/bb075e3839d9eea2be5cb0cbed50dafa2c14bb37/activemodel/lib/active_model/

[2016-01-05 10:46] #22926 closed

[2016-01-05 10:46] etdsoft commented on #22926
I understand that :id would be nil when persisted? is false, and hence the `&& id` would make `to_key` work as expected.

[2016-01-05 14:29] Bartuz opened #22928 "Model.first / Model.last aliases"
Every time I promise myself I'll remember that `.last` is the newest and `.first` is the oldest one but no. My brain just can't accept it and I always forget and mix up these two.

What do you think about aliasing `.last` as `.newest` and `.first` as `.oldest` ? Anyone else also feel confused about them?

[2016-01-05 14:34] aliibrahim commented on #22928
Not really. This has been a convention for a long time and it makes perfect sense!

[2016-01-05 14:47] marcomd commented on #22725
Hello Francesco,

you can complete the rails 5 installation in several ways, I just forced the hiredis dependency as I mentioned in the #22914

A downside is showed when you run the server:

C:\>rails s => Booting Puma
=> Rails 5.0.0.beta1 application starting in development on http://localhost:3000
=> Run `rails server -h` for more startup options
=> Ctrl-C to shutdown server
I, [...]  INFO -- :

[2016-01-05 15:14] schneems commented on #22917
cc/ @eileencodes

[2016-01-05 15:14] marcomd commented on #22725
@dhh
Often the operating system is imposed without the possibility to choose. I know that windows is not the development platform but I hope you will always get a working version so I hope in the help of the willing as @sgrif.

[2016-01-05 15:31] jcoyne commented on #22907
See PR #22907 for work on removing ActionCable.

[2016-01-05 16:08] nateberkopec commented on #22928
Feature requests are generally not accepted here in Github issues, [try the rails core mailing list for that](https://groups.google.com/forum/#!forum/rubyonrails-core).

[2016-01-05 16:44] #22928 closed

[2016-01-05 16:46] richpeck commented on #22914
@marcomd How did you force the dependency? Was that a command-line call or you dl'ed the Rails code and altered the dependency yourself?

[2016-01-05 16:56] marcomd commented on #22914
I changed the dependency inside the gem spec, it is required temporarily as long as em-hiredis will use the working version

[2016-01-05 17:09] jmbejar commented on #22898
@mvastola I was not directly involved on changes related with the modules `Instrumentation` and `ParamsWrapper` (since I've just copied part of what we have in `actionpack/lib/action_controller/base.rb` to `actionpack/lib/action_controller/api.rb`, but I did some reseach.

I tested changing the order of those modules, so I confirmed we need to execute first the code to wrap parameters, which makes

[2016-01-05 17:09] richpeck commented on #22914
Thanks for the reply!
So you cloned the repo and changed the Gemspec locally?

[2016-01-05 17:36] mvastola commented on #22898
Yes. I don't think your explanation makes sense though because the comment before is:
[code]

[2016-01-05 17:53] jmbejar commented on #22898
Ok I didn't read the other comment lines. At least, we can confirm that the code is correct and behaving as expected. The issue is only related with the comments.

[2016-01-05 18:35] ferrettmerr opened #22931 "Passing an existing db symbol into ActiveRecord::Base.establish_connection fails with Method Not Found"
Hi All, I started looking into this while migrating to 5.0.0.beta1. http://edgeapi.rubyonrails.org/ still says the method of passing in a symbol is acceptable. Any ideas why it is doing this?

Code:
class PhpbbGroup < ActiveRecord::Base
  establish_connection "phpbb_#{Rails.env}".to_sym
...

or

class PhpbbGroup < ActiveRecord::Base
  establish_connection "phpbb_#{Rails.env}"
...

Both failed in t

[2016-01-05 18:38] rafaelfranca commented on #22931
Can you please provide a sample application that reproduces the error?

[2016-01-05 18:53] mvastola commented on #22898
True. That's a plus. So this is a comment error and thus low priority. Now that I know, I'll make a PR.

[2016-01-05 20:40] cluesque commented on #22584
Sure @senny, [this project](cluesque/rails_22584) demonstrates the problem and the fix, in multiple commits.

[2016-01-05 21:07] nwjsmith commented on #22917
@schneems This is a bummer. I think the changes should probably be backed out. I think a different approach will have to be taken. FWIW, I made this change so that I could log to `STDOUT` by putting this in `application.rb`:

[code]

I'll follow-up with a PR that backs the change out.

[2016-01-05 22:41] sblackstone commented on #20133
Perhaps another idea would be to add a new primitive column type for secure tokens, e.g.

[code]
Then per database support this column type correctly and have AR be aware of the correct way to do lookups.

[2016-01-05 22:49] schneems commented on #22917
I've got a reversion and fix in #22933

[2016-01-06 00:45] rafaelfranca commented on #22898
Feel free to send the pull request. I'm closing this since it is not an issue.

[2016-01-06 00:45] #22898 closed

[2016-01-06 01:31] rafaelfranca commented on #22897
cc @javan @dhh

[2016-01-06 01:49] kenn commented on #20133
@sblackstone I think it unnecessarily confuses people who don't use MySQL, as it's just a regular string column on other databases. IMO database-dependent settings should be an option on the `column` method, like `:precision` or `:scale`, like so:

[code]

I think the feature is very useful for other use cases, too, but realistically for Rails 5, I would suggest revert to `SecureRandom.hex` for no

[2016-01-06 03:21] hoahm opened #22937 "Ruby intepreter was crash with Rails 5"
Doesn't know whether I submit report about Ruby intepreter or extension libraries or not? But sometimes I got these exception when trying to refresh web page on browser.

I'm using Ruby 2.3.0, Rails 5.0.0beta1, and bellow is my Gemfile

    source 'https://rubygems.org'
    ruby '2.3.0'

    # Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
    gem 'rails', '>= 5.0.0.beta1', '< 5.1'

[2016-01-06 03:31] rafaelfranca commented on #22937
Can you please provide a sample application that reproduces the error?

[2016-01-06 03:33] sblackstone commented on #22817
I don't think this is a rails issue - with pure ruby the behavior is the same..

[code]

[code]

Tried it with 2.2.1, 2.2.3, 2.3.0

[2016-01-06 03:35] rafaelfranca commented on #22817
Yes, you should be using `Array(id)` not splat operator.

[2016-01-06 03:35] #22817 closed

[2016-01-06 04:17] rafaelfranca commented on #10091
This issue only happen if you precompile the assets in development and have the debug option enabled. If you have debug enabled I don't see why precompile in development.

[2016-01-06 04:17] #10091 closed

[2016-01-06 04:18] #16269 closed

[2016-01-06 04:50] rafaelfranca commented on #22871
Is not this Elastic Beanstalk rejecting `ws://` requests?

[2016-01-06 05:16] rafaelfranca commented on #21880
Yeah, agree.

[2016-01-06 05:16] #21880 closed

[2016-01-06 05:28] rafaelfranca commented on #18146
:+1:

[2016-01-06 05:29] #15454 closed

[2016-01-06 08:29] Javix commented on #22817
Thank you guys ! It is clear now.

[2016-01-06 08:56] KeithP commented on #22871
@rafaelfranca not sure. Someone had success deploying to a single instance hosted on Cloud9, so probably AWS specific.
We tried adding proxy config for NGINX (https://gist.github.com/aku/5466527) but no joy.

The server production.log shows two "Started GET /cable" for every one "Finished /cable" call (strange?).
There are no DEBUG messages from ActionCable, so no clues. Normally we see lots of DE

[2016-01-06 10:16] jameslafa commented on #22774
Had the same problem.

In case you need to filter multiple values, here is a simple solution:
[code]

[2016-01-06 13:53] marcomd commented on #22914
Simply installing the gem (not cloning the repo) then you can change the spec locally. You know there is a specific folder with all the specs, there you can force the dependency

[2016-01-06 14:41] #22924 closed

[2016-01-06 15:01] spastorino commented on #20666
I assigned this to myself because @jmbejar and I thought it was related to Rails API. @jmbejar took a look at it and he is interested in working on it so he may end bringing a patch :smile:.

[2016-01-06 15:15] jmbejar commented on #20666
Yeah, it's not related with Rails API changes. I'll take a shot at it anyway.

[2016-01-06 16:02] xdmx opened #22943 "after_callback is not called on nested resources"
I'm using rails 4.2.5 and I've noticed that after_callback is not called on nested resources

[code]

When a user is created passing posts_attributes, it only puts `top level`, but not `nested`

In my opinion it should also call the nested rollback, since it could be do something important

[2016-01-06 16:41] richpeck commented on #22914
Again, thanks for the reply.

I'm having trouble loading the gemspec. I've found multiple folders with gemspecs of *installed* gems, none have the Rails 5.0.0 beta file inside. Do you have the path or some further instruction?

[2016-01-06 17:05] #22917 closed

[2016-01-06 18:41] evheny0 opened #22944 "Associate new record with existing through has_one"
let see we have two models with belong_to/has_one association:

[code]

then we create model with belongs_to:

[code]

and then:

[code]

The last piece will give an error:

[code]

which is kinda confusing. `assign_nested_attributes_for_one_to_one_association` is actually not even search for models, it's just looks for the presence of association in object, even though id is passed.

For example

[2016-01-06 20:33] semaperepelitsa opened #22947 "SafeBuffer implicit type coercion?"
Hello,

We are often passing around html_safe strings in our Rails app, especially in helpers. And I just discovered that appending to html_safe string results in some weird type coercion where regular string would raise a type error. Example:

[code]

In our app we were appending nil to a string and the error was discovered only when we replaced html_safe string with regular string.

Is there any

[2016-01-06 20:55] rafaelfranca commented on #22947
As far I know that behavior is not intentional but you would need to check. PDI!

[2016-01-06 22:56] todd commented on #20666
@spastorino @jmbejar I started poking around with this a couple of months ago and never got a chance to follow up. If either of you want to pair on this, let me know.

[2016-01-06 23:06] riseshia commented on #22947
https://github.com/rails/rails/blob/7f18ea14c893cb5c9f04d4fda9661126758332b5/activesupport/lib/active_support/core_ext/string/output_safety.rb
Please check 'html_escape_interpolated_argument' method. this method escape when itself is html_safe, args is not html_safe.
I guess this is easiest way to implement '+' between SafeBuffer and String. and I think this way is natural with duck type, because

[2016-01-07 03:20] javan commented on #22897
You need to wait until your subscription is connected before sending data to it. In your example, you're kicking of a background job and *then* creating a subscription. If the job finishes before the subscription is active (which is pretty likely when running locally with no queue of jobs), you'll miss the data.

Try moving the job initiation from your view and into your channel's `subscribed` cal

[2016-01-07 03:25] oleander commented on #22897
@javan How come the data is actually received on the client but only shown when the page is about to be reloaded? I'm aware of the race condition that might occur, but in this case the data is actually received, its just not shown until the page is reloaded. Did you try my example?

[2016-01-07 03:44] maclover7 commented on #22867
cc @schneems

[2016-01-07 03:55] javan commented on #22897
I did, here's the logs from hitting refresh:
[code]
It looks like the background job finishes before rendering is complete, which means the browser hasn't painted the new page yet. So the old page receives the data and displays it right before getting replaced with the refreshed page.

[2016-01-07 03:58] javan commented on #22897
There's no bug here. Just the result of an unconventional setup with a background job that finishes before rendering is complete.

[2016-01-07 03:58] schneems commented on #22867
Rails 5 uses Sprockets 3.

[2016-01-07 04:00] oleander commented on #22897
Is there a way for the channel to push out old data (a couple of seconds) to newly connected clients? I guess that would solve the problem.

[2016-01-07 04:20] #22867 closed

[2016-01-07 04:21] #22897 closed

[2016-01-07 07:13] #22832 closed

[2016-01-07 08:25] jlecour commented on #22907
Hey @sgrif, the latest Bikeshed episode made me think that in case you don't already have enough of this AC thing, this particular issue might be interesting to you :)

[2016-01-07 08:45] jeroenvisser101 commented on #22867
@schneems I'm sorry, I meant that. I've updated the issue, but the issue still persists, that it seems obsolete since we now use `manifest.js` for these paths.

[2016-01-07 08:46] xiaok opened #22957 "how to send message to specific client with actioncable"
Seems that actioncable can only boardcast to all users, but can I send message to specific client?

[2016-01-07 08:55] HintikkaKimmo commented on #22957
I would like to figure this one as well.

[2016-01-07 09:57] sliiser opened #22958 "String#to_time and String#to_datetime return different dates for certain input."
For some certain inputs, `String#to_time` cannot parse the date correctly, but returns the current date at midnight instead of nil.
Take a look at the following example

    'gibberish'.to_time
    # => nil
    '010'.to_time
    # => 2016-01-07 00:00:00 +0200 # current date at the time of writing
    '010'.to_datetime
    # => Sun, 10 Jan 2016 00:00:00 +0000

According to `Date._parse` the string

[2016-01-07 10:08] pixeltrix commented on #22919
@Edouard-chin is that a binary file ending in `.rb`, `.js`, `.coffee` or `.rake` ? It's just that `CodeStatisticsCalculator#add` takes a pattern that filters the files to one of those 4 types. If something is creating binary files with those file extensions then I'd suggest that whatever's doing that is the source of the problem.

[2016-01-07 10:22] prathamesh-sonpatki commented on #22957
cc @javan

[2016-01-07 11:23] sprobst opened #22959 "Creating a new project without ActionCable generates cable.coffee file"
I created a new Project without ActionCable like so:
`rails new rails5-backend --skip-action-cable`

After that, there is a file named `cable.coffee` under `app/assets/javascripts`, wich is included in `application.js`.

When I then scaffold a model, view and controller, opening one of the generated sites does not work, as `#= require action_cable` in `cable.coffee` can not be found.

Removing tha

[2016-01-07 11:31] prathamesh-sonpatki commented on #22959
@sprobst The switch to skip is `--skip-actioncable`. It will not create any files related to actioncable.

[2016-01-07 11:40] Edouard-chin commented on #22919
Indeed, in my case files were endind in `.rb`.
Avoiding having this kind of files created automatically is tricky, especially on mac (those famous `._*` files). I usually don't care about them as they are globally git ignored, but in the case where I need to run `rake stats`, it would mean that I should first remove them. IMHO it's not super convenient. Is there a particular reason of why we would

[2016-01-07 11:41] sprobst commented on #22959
@prathamesh-sonpatki Thank you! Then the output of `rails help`is wrong, as I copied it from there:

[code]

Using `Rails 5.0.0.beta1`

[2016-01-07 11:49] prathamesh-sonpatki commented on #22959
@sprobst My bad, the change to skip action cable files correctly was added in https://github.com/rails/rails/commit/96093e3cf79c0e809e13b02d12e0705f7acfdf31, it is not present in beta. **`--skip-action-cable`** is correct. On master branch the action cable related files are not created if we use it.

[2016-01-07 11:51] pixeltrix commented on #22959
@sprobst as @prathamesh-sonpatki says this is fixed on master and is a duplicate of #22869 - thanks for your report.

[2016-01-07 11:51] #22959 closed

[2016-01-07 11:55] AlexVPopov opened #22960 "create_join_table should include indexes and foreign key contraints"
Currently, if one generates a join table like this:

[code]
the following migration will be created:
[code]
Running this migration directly will create a very simple join table:
[code]
So no indexes, no foreign keys etc. If one uncomments the two lines in the migration, now one gets:
[code]
I would argue, that the generated migration should look like this:
[code]
If one uncomments the two `referen

[2016-01-07 12:01] pixeltrix commented on #22958
This is reflected in Ruby itself, e.g:

[code]

given that I think it's probably best to return `nil` from `String#to_time` if there's nothing in the hash that is used as that would follow Ruby's behaviour.

[2016-01-07 13:55] matthewd commented on #22919
Ignoring hidden files sounds reasonable

[2016-01-07 14:06] schneems commented on #22867
Are you running sprockets from master?

[2016-01-07 14:11] pixeltrix commented on #22943
@xdmx can you check whether the records have been saved to the database before the rollback occurs. I think what's happening is that the nested records are only in memory and so haven't been added to the transaction yet.

[2016-01-07 14:31] flonixGit opened #22961 "This is just a test"
sorry for the mess, we'll clean up in a second :)

[2016-01-07 14:33] #22961 closed

[2016-01-07 14:38] javan commented on #22957
The README covers this pretty well. You can set up a channel to `stream_from` a channel name that's specific to a user. See the [web notification example](https://github.com/rails/rails/tree/master/actioncable#channel-example-2-receiving-new-web-notifications) and the [full-stack example](https://github.com/rails/rails/tree/master/actioncable#a-full-stack-example) for setting up `current_user` (or

[2016-01-07 15:01] exciton commented on #20954
This bug still persists with 4-2-stable.

[2016-01-07 15:16] xdmx commented on #22943
@pixeltrix from the rails log I see only SELECT queries called by validations before and after the ROLLBACK, but none with INSERT or UPDATE

So far I've solved it with the following:
[code]

Which is not the best way but it does the work

[2016-01-07 15:38] Edouard-chin commented on #22918
Fixed with PR #22942

[2016-01-07 15:38] #22918 closed

[2016-01-07 15:42] flyingL123 opened #22962 "Documentation for presence validation on boolean field"
At the end of the Presence section for active record validations there are examples given of how to deal with the fact that `false.blank?` is true.

http://guides.rubyonrails.org/active_record_validations.html#presence

I think the first example is incorrect. If you use this validation, your validations will fail if `:boolean_field_name` is `false`, which is exactly what the documentation is tryin

[2016-01-07 15:59] squaresurf commented on #22962
`validates :boolean_field_name, presence: true` will pass if `:boolean_field_name` is `false` due to the fact that `false.blank?` is true.

[2016-01-07 16:11] flyingL123 commented on #22962
Isn't that backwards?

If `:boolean_field_name = false`, and `false.blank? = true`, then the presence validation will fail because it thinks the field is `blank` even though it's not, it's `false`.

[2016-01-07 16:12] rafaelfranca commented on #22957
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-07 16:12] #22957 closed

[2016-01-07 16:18] pixeltrix commented on #22943
@xdmx was there an insert/update for the top level model?

[2016-01-07 16:25] caike opened #22963 "sass-rails gem not included on Gemfile"
When creating a new Rails 5.0.0.beta1 app (`rails new AppName`), the _sass-rails_ gem is not included on the Gemfile. Here's the generated Gemfile:

[code]

The only flag I have on my `~/.railsrc` file is `-d postgresql`

[2016-01-07 16:26] squaresurf commented on #22962
@flyingL123 you're right. I got it backwards.

[2016-01-07 16:27] squaresurf commented on #22962
I got it in my head the `presense: true` will pass if `object.blank?` is `true`, when in fact it is looking for `!object.blank?`.

[2016-01-07 16:30] xdmx commented on #22943
nope, only selects

[2016-01-07 16:33] rafaelfranca commented on #22963
Thank you for the report. Yeah, it was a mistake. Already fixed in master https://github.com/rails/rails/commit/692bb7cebc7df6494adf6b068321eb3fc29acaf9

[2016-01-07 16:33] #22963 closed

[2016-01-07 16:34] caike commented on #22963
Literally just saw that fix and was about to come here and close the issue. Sorry and thanks! hehe :)

[2016-01-07 16:39] mattcross opened #22964 "Serialized attributes are not read-consistent in Rails 4.2+ (i.e. not the same object instance after assignment)"
This problem is present in of Rails 4.2 and 5.0.0.beta1 but behaves as I expect it to in 4.1.x

[Here is a gist](https://gist.github.com/mattcross/03052937654b601cf38f) that demonstrates the problem.

When I assign an object to a serialized attribute of a model I expect to be able to get the exact same object when I read the attribute, but that is not the case.

[code]

The problem for me is that,

[2016-01-07 16:40] pixeltrix commented on #22943
@xdmx can you make it so the top level model passes validation and then the transaction fails because of a validation failure on a nested model. Also what database are you using?

[2016-01-07 16:41] al2o3cr commented on #22931
@ferrettmerr The trace you provided appears to indicate that AR correctly attempted to load the specified configuration, but the configuration was incorrect. In particular, the leading line of that trace indicates that the config has *something* URI-ish that parses successfully but does not have a schema. Can you provide a sanitized example of the configuration in `config/database.yml`?

[2016-01-07 16:47] flyingL123 commented on #22962
Yea, I think that line should be removed from the docs. It doesn't make any sense.

[2016-01-07 16:47] tpbowden opened #22965 "Request origin does not match request base_url"
I am running the Rails 5.0.0 beta1 and after deploying to production have noticed something odd. My application is running being an Nginx reverse proxy which decrypts SSL.

Every time I try to submit a form, a ActionController::InvalidAuthenticityToken is raised. I have managed to narrow this down to [line 399](https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/metal/reque

[2016-01-07 16:48] xdmx commented on #22943
Yup, it was already like that, the top level model (user) was valid, and the nested model (post) was not

I'm using postgresql 9.4.5 under Arch linux

[2016-01-07 16:49] kaspth commented on #22964
r? @sgrif

As far as I understand it Rails 4.2 increased correctness by going through a load and dump when assigning attributes, so you know the values are correctly deserialized after a database roundtrip (symbol keys being strings for instance).

[2016-01-07 16:51] sgrif commented on #22964
This is the expected behavior. We do not guarantee the following in any case:

[code]

(In fact, in most cases we explicitly guarantee that it is not true)

[2016-01-07 16:51] #22964 closed

[2016-01-07 16:57] #22839 closed

[2016-01-07 19:10] mattcross commented on #22964
A couple of questions...

@sgrif I appreciate the quick response but I have a couple questions.

1. Why was the 4.1 behavior incorrect?
2. Why is it desirable to make serialized attributes essentially copy on write? It is common to have state on a ruby class that is not persisted to the database and it is pretty inconvenient for that state to be lost upon assignment to an attribute of an active re

[2016-01-07 20:05] sgrif commented on #22964
The answer to both of your questions is because we track mutations. Once you assign a property to an AR object, you're transferring ownership to AR, and should access it accordingly.

[code]

[2016-01-07 23:47] squaresurf commented on #22962
@flyingL123 it is fixed on master - https://github.com/rails/rails/blob/master/guides/source/active_record_validations.md#presence

:smile:

[2016-01-08 00:07] sgrif commented on #22962
Yeah, the documentation on master is correct. Normally I'd backport something like that but given that we're pretty close to master being what's on the site, it's fine.

[2016-01-08 00:07] #22962 closed

[2016-01-08 00:33] msg7086 opened #22970 "Database migration redo / undo operation should be restricted"
Accidentally executed migrate:db:redo STEP=2015xxxxxx instead of VERSION=2015xxxxxx and wiped my production database, and following a re-creation, which also eliminates the possible to recover the lost files thereafter.

From my point of view, Rails should refuse to execute such operation if STEP is apparently not correct, especially under **production** environment.

[2016-01-08 00:42] rafaelfranca commented on #22970
I image that you are frustrated but we don't get feature requests in the issue tracker, so I'm closing this issue. If you interested in working on this please go ahead.

[2016-01-08 00:42] #22970 closed

[2016-01-08 00:52] schneems commented on #22970
If this was on Heroku there is a chance the data can still be recovered. Open a support ticket.

[2016-01-08 01:44] msg7086 commented on #22970
@schneems Thanks, but unfortunately it's not. And I've tried bunch of tools like ext4magic and they could only find the empty table files, not the previous couple gigabytes one. So I guess it's hopeless.

[2016-01-08 05:34] lohqua commented on #22879
Yes Rails console does exit on ctrl-c, again a longstanding thing. It does not close properly in beta1.

No, it is not true in beta1.

ModelName.find 2 returns an error saying I need to make a connection.

[2016-01-08 05:50] rafaelfranca commented on #22879
As you can see Rails console doesn't exit with ctrl-c, even in Rails 3.2, so no it is not a longstanding thing.

[code]

Also, as you can see `ModelName.find 2` doesn't return an error saying you need to make a connection in Rails 5.0.0.beta1.

[code]

If you still think that is not the case please provide an example application reproducing the issues that you are having.

[2016-01-08 10:04] lalithr95 opened #22974 "CSRF validation is not done server side"
For rails version 4.1.2 and jquery-rails 2.1.3 setting CSRF header for the ajax requests doesn't validate the token on the server side.

Following are the manual tests performed.
1. Intercepting request and removing token value - no validation done at server
2. Intercepting request and completely removing token and value - no validation done at server
3. Changing CSRF token value to a new value -

[2016-01-08 10:25] tpbowden commented on #22965
Fix by adding more headers in Nginx (X-Forwarded-Ssl on, X-Forwarded-Port 443 and X-Forwarded-Host hostname)

[2016-01-08 10:25] #22965 closed

[2016-01-08 14:23] prathamesh-sonpatki opened #22975 "Updating default settings of ApplicationController.renderer is not working"
We generate an initializer `application_controller_renderer` to allow users to update the default config options for rendering templates outside of controller with following content.

[code]

But the `ApplicationController.renderer.defaults` hash is frozen - https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/renderer.rb#L45. So it raises an error if we try to modify it.

[2016-01-08 14:36] matthewd commented on #22975
Hmm. It seems undesirable that you'd be changing the defaults for *all* renderers, rather than just those for controllers inherited from ApplicationController. But it's also not very useful to configure only ApplicationController's renderer, and miss those for its subclasses. :confused:

[2016-01-08 15:30] prathamesh-sonpatki commented on #22975
@matthewd I agree. I think this is just an example to show how the defaults can be customized. But it does not work because of the frozen hash. Should we use `DEFAULTS.dup` here - https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/renderer.rb#L48? to allow users updating this hash?

[2016-01-08 19:06] rafaelfranca commented on #22974
Can you please provide a sample application that reproduces the error?

[2016-01-08 20:02] yahonda commented on #20730
Closing since it does not reproduce anymore. Thanks.

[2016-01-08 20:41] schneems opened #22979 "Request IDs don't show on every line for errors"
Requests tagged with `:request_id` do not show up on ever line when there is an error. Example:

[code]

versus

[code]

[2016-01-08 20:57] bronson opened #22980 "MySQL test breakage: Mysql2JSONTest raises StatementInvalid"
I'm getting broken mysql2 tests on master.  Travis shows the tests pass: https://travis-ci.org/rails/rails/jobs/101135300

Is the issue is that mariadb isn't supported anymore?
[code]

No doubt related to https://github.com/rails/rails/pull/21110.

Here's an example failure, full log is at https://gist.github.com/bronson/19223ccf09aec3941bd6

[code]

[2016-01-08 22:04] rafaelfranca commented on #22980
We only need to keep that test if using mariadb. Mind to open a PR?

[2016-01-08 22:13] #20730 closed

[2016-01-08 22:53] bronson commented on #22980
Happy to but I don't quite understand...  The PR would disable those tests when on Maria?

[2016-01-08 23:09] wyde19 commented on #18492
Will this be backported to Rails4, or should we use some kind of workaround?

[2016-01-08 23:12] bronson opened #22982 "Deprecation warnings not showing the correct location"
While converting my app to rails 5, I see two deprecation warnings showing the wrong 'called from' location.

render :text warning:

and the kwargs warning:

keyword arguments in future Rails versions.

and

keyword arguments in future Rails versions.

(I suspect that this warning is being printed twice...  can investigate)

Those are the only ones I've noticed, other deprecation warnings work jus

[2016-01-09 03:11] maclover7 commented on #22982
Can you please provide a sample application that reproduces the error?

[2016-01-09 06:32] ileodo opened #22989 "references with table_name_prefix causes ActiveRecord::StatementInvalid"
relative to issue #20689 https://github.com/rails/rails/issues/20689
### Summary:

rails: v4.2.4
db_adapter: mysql2

when using `t.references :user, index: true, foreign_key:true` in migration with table_name_prefix, the following fail happened. however change to `add_foreign_key` method, the problem solved.

[code]

[2016-01-09 13:00] KeithP commented on #22871
We got this working using this proxy config for NGINX : https://gist.github.com/KeithP/f8534c04d20c2b4e4b1d. In future to make this easier to troubleshoot can we add to the documentation and / or add more logging?

[2016-01-09 17:02] kaspth commented on #22544
Fixed @ https://github.com/rails/rails/pull/22703

[2016-01-09 17:02] #22544 closed

[2016-01-09 17:07] kaspth commented on #22503
This was more complex than we realized at first. We're backing off a bit and regrouping later. Thanks, Jon!

[2016-01-09 17:07] #22503 closed

[2016-01-09 18:01] maclover7 commented on #22601
I am not able to get to first or second bug report scripts to pass on 4-2-stable currently.

[2016-01-09 18:11] maclover7 commented on #22601
Update: Have not been able to get this running on master due to an issue with arel-helpers. Please open up an issue on their repo to make sure they have 5.0 compatibility. As well, Arel is private API, and should not be depended upon by outside libraries.

<img width="669" alt="screen shot 2016-01-09 at 1 09 32 pm" src="https://cloud.githubusercontent.com/assets/3020626/12217569/81c51e3e-b6d2-11e5

[2016-01-09 18:11] #22601 closed

[2016-01-09 18:43] starkovv opened #22991 "Rails new ignores $BUNDLE_PATH"
Ruby 2.3.0
Rails 4.2.5
Bundler 1.11.2

Given:

[code]

When I run `rails new my_app` then `bundle install` launches automatically. This way `bundle install`, for some reason, ignores $BUNDLE_PATH variable and installs all the gems to `/home/app/.rvm/gems/ruby-2.3.0`.

**AND**

When I run `rails new -B my_app` then `bundle install` DOES NOT launch automatically. After that I run `bundle install` ex

[2016-01-09 19:21] rhizome commented on #22991
This appears to be due to Rails' invocation of Bundler#with_clean_env

https://github.com/rails/rails/blob/master/railties/lib/rails/generators/app_base.rb#L355-L356

...which throws away BUNDLE_* environment variables:

https://github.com/bundler/bundler/blob/master/lib/bundler.rb#L210

[2016-01-09 19:42] starkovv commented on #22991
@rhizome Your're right.

Why is they doing this?

[2016-01-09 19:52] rhizome commented on #22991
I don't know.

[2016-01-09 22:11] nartz opened #22994 "Confusion between translate in controller and view"
This is just a suggestion:

Currently, calling the translate method in a controller versus a view leads to different rendering of strings, for instance:

... controller ....
@myvar = t(:some_message)

....view....
<p><%= t(:some_message) %></p>
<p><%= @myvar %></p>

....rendered view:
Some Message
translation missing: en.some_message

Both action controller and action view seem to wrap and apply t

[2016-01-09 22:23] matthewd commented on #22994
Thanks, but we don't take feature requests on the issue tracker.

[2016-01-09 22:23] #22994 closed

[2016-01-10 01:23] eiked opened #22995 "rails console should catch control-c"
I'd like to suggest a change to the rails console.

When I hit Control-C in the rails console, the app goes down.

I'd like to suggest that the rails console should not abort the app on ^C
but instead just return a fresh prompt.

I believe that the rails console repl should behave like a shell.

I believe that ^C (aka intr) when typed in the console should not exit from the repl (or abort the app)

[2016-01-10 01:34] eiked commented on #22995
http://www.bytecellar.com/wp-content/uploads/2014/06/VisionInBlack_NeXT.mp3

[2016-01-10 01:48] rafaelfranca commented on #22995
Thank you for the issue but we don't take feature request in the issue tracker. Please read the contributing guides about which is the best channel for them.

[2016-01-10 01:48] #22995 closed

[2016-01-10 04:10] jturkel opened #22996 "Association scope from customization broken in Rails 5"
Association scope `from` customizations no longer work in Rails 5. Consider the following model:

[code]
When traversing the `filtered_posts` association the `from` customization is completely ignored and the following SQL is run:

[code]
Previous versions of Rails correctly ran the following SQL:
[code]
[Here](https://gist.github.com/jturkel/09beb87f273453d7639f) is a full executable test case

[2016-01-10 05:56] k0kubun commented on #22867
@schneems While @eileencodes said "When Rails 5 is released it will require that you upgrade to Sprockets 4" in http://eileencodes.com/posts/the-sprockets-4-manifest/, will Rails 5.0.0 be allowed to be installed with Sprockets 3.x?

[2016-01-10 07:57] mraj-rpx commented on #22989
@ileodo I am able to run the migration successfully with the same scenario and below is the migration,

[code]
I tried with the ruby verion is v2.2.2 and rails v4.2.4.
Please let me know if I am missing something.

[2016-01-10 15:05] maclover7 commented on #22996
Can confirm that the test script fails.

[2016-01-10 15:37] spastorino commented on #20666
@todd thanks for the offering but I'm leaving this issues to @jmbejar and/or you for now :smile:

[2016-01-10 16:15] maclover7 commented on #21500
PR at #21555.

[2016-01-10 16:39] ileodo commented on #22989
@mraj-rpx  have you ever try it on mysql2 db_adapter? sqlite may use FAKE foreign key.

[2016-01-10 17:30] mraj-rpx commented on #22989
@ileodo I have tried the mysql2 adapter only.

[2016-01-10 17:42] jturkel commented on #22996
It works in 4.2.5.

[2016-01-10 18:03] maclover7 commented on #20750
Reproduction script fails on master.

[2016-01-10 18:05] maclover7 commented on #21096
Can you please create a reproduction script in the standard template, available [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-10 18:07] maclover7 commented on #21434
^^

[2016-01-10 18:10] maclover7 commented on #21501
If this is still an issue, can you please create a reproduction script using one of the templates available [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-10 18:12] maclover7 commented on #21799
If this is still an issue, can you please create a reproduction script using one of the templates available [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-10 18:14] maclover7 commented on #21802
Can confirm this is still an issue on master.

[2016-01-10 18:15] maclover7 commented on #21843
Reproduction script fails on master.

[2016-01-10 18:18] maclover7 commented on #22021
Reproduction script failing on master.

[2016-01-10 18:19] maclover7 commented on #22031
Can you reproduce on master?

[2016-01-10 18:19] maclover7 commented on #22022
Reproduction script fails on master.

[2016-01-10 18:48] maclover7 commented on #22070
Closing, is a duplicate of #22074.

[2016-01-10 18:48] #22070 closed

[2016-01-10 18:49] maclover7 commented on #22100
Reproduction script still failing on master.

[2016-01-10 18:54] maclover7 commented on #22157
Looks like the first reproduction script works on master, but the one from @naw is failing. Would you be able to consolidate down, and create one script that accurately exposes the error?

[2016-01-10 18:56] maclover7 commented on #22161
Reproduction script is failing on master. Not completely sure I understand what the issue is, though.

[2016-01-10 18:57] maclover7 commented on #22169
Reproduction script is failing on master.

[2016-01-10 18:58] maclover7 commented on #22171
@arnvald Can you open up a PR with your changes, please?

[2016-01-10 18:59] maclover7 commented on #22183
Can you open up a PR with your changes, please?

[2016-01-10 18:59] maclover7 commented on #22184
Can you open up a PR with your changes, please?

[2016-01-10 19:01] maclover7 commented on #22261
Can you create a reproduction script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-10 19:02] maclover7 commented on #22262
Thank you for the issue but we don't take feature request in the issue tracker. Please read the contributing guides about which is the best channel for them.

[2016-01-10 19:02] #22262 closed

[2016-01-10 19:04] maclover7 commented on #22295
Can't really tell what the issue here is. The issue tracker is reserved for bugs only.

[2016-01-10 19:04] #22295 closed

[2016-01-10 19:04] maclover7 commented on #22297
Feel free to open up a PR with documentation changes.

[2016-01-10 19:05] maclover7 commented on #22324
Feel free to open up a PR with a possible solution.

[2016-01-10 19:07] bughit commented on #22161
by "fail" do you mean the issue exists on master?

What is unclear? has_one through many is not allowed, but should be, it can be useful.

[2016-01-10 19:08] maclover7 commented on #22398
Reproduction script appears to be passing for me on master... Is this still an issue?

[2016-01-10 19:10] maclover7 commented on #22405
What solution do you think would be appropriate for this?

[2016-01-10 19:11] maclover7 commented on #22407
Can you create a standard reproduction script that uses one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-10 19:15] bughit commented on #22183
this bug is part of a related set (#21594, #22183, #22184),  I would like to get a comment from @rafaelfranca and/or @sgrif on the proposed solution.

[2016-01-10 19:16] bughit commented on #22184
this bug is part of a related set (#21594, #22183, #22184),  I would like to get a comment from @rafaelfranca and/or @sgrif on the proposed solution.

[2016-01-10 19:25] maclover7 commented on #22422
Can you please create a standard reproduction script using one of the templates available [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-10 19:27] maclover7 commented on #22423
Thank you for the issue but we don't take feature request in the issue tracker. Please read the contributing guides about which is the best channel for them.

[2016-01-10 19:27] #22423 closed

[2016-01-10 19:31] maclover7 commented on #22439
Please open up a ticket on Devise's repo for any issues with Devise.

[2016-01-10 19:31] #22439 closed

[2016-01-10 19:33] maclover7 commented on #22446
Please create a reproduction script using one of the templates available [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates).

[2016-01-10 19:39] maclover7 commented on #22555
Can you please create a reproduction script using one of the templates available [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-10 19:41] maclover7 commented on #22996
Would you be able to try and bisect and find out where the error was introduced into the codebase?

[2016-01-10 19:57] maclover7 commented on #22996
Did a `git bisect` and traced error to being introduced in [this commit](https://github.com/rails/rails/commit/bdc5141652770fd227455681cde1f9899f55b0b9). @sgrif, would you be willing to investigate this?

[2016-01-10 20:47] jeremywadsack commented on #17776
PR squashed and rebased on current master.

I have also updated the sample application at https://github.com/jeremywadsack/rollback-test with a `rails_5_beta` branch that proves the fix.

[2016-01-10 21:02] timbreitkreutz commented on #22407
Sorry @andreydeineko  I got absorbed in another project so I haven't any chance to do more research...

[2016-01-10 21:41] mgodwin commented on #21434
Way behind here, thanks for the bump.  Here's an example app - the README explains how you can reproduce the issue I described above.

https://github.com/mgodwin/actionmailer-test-example

[2016-01-10 23:31] msroot opened #23000 "Asset not precompiled in manifest.js Rails 5.0.0.beta1"
the default `manifest.js` is

`//= link_tree ./images
//= link ./javascripts/application.js
//= link ./stylesheets/application.css
`

but when i run the server i get an error

Sprockets::Rails::Helper::AssetNotPrecompiled at /pages
Asset `application.css` was not declared to be precompiled in production.
Declare links to your assets in `assets/config/manifest.js`.
Examples:
`//= link ../javascript

[2016-01-10 23:45] maclover7 commented on #23000
I think your config/manifest.js is just supposed to have this:
`//= link_directory ../stylesheets .css`

while yours has this: `//= link ./stylesheets/application.css`

Is this correct?

[2016-01-10 23:57] msroot commented on #23000
yes it should have this `//= link_directory ../stylesheets .css`
but i dont know how this generated `//= link ./stylesheets/application.css`

I make  a new app and it has this now `//= link_directory ../stylesheets .css` and it works fine

[2016-01-11 00:00] msroot commented on #23000
So please @maclover7  you can close it! Thanks anyway. No idea how the first file generated

[2016-01-11 00:14] maclover7 commented on #23000
No problem!

[2016-01-11 00:14] #23000 closed

[2016-01-11 01:41] yahonda commented on #22398
Actually my script does not handle failure or success since I do not know how to check the lot output using minitest.

[code]

I think it is still an issue since the log output does not show fractional seconds.

[2016-01-11 02:07] sgrif commented on #22555
Active record stores all times in UTC, you can find more details on our behavior in the docs for the `TimeZoneConversion` module.

[2016-01-11 02:07] #22555 closed

[2016-01-11 03:16] tuanminh20 opened #23002 "Can rails generate scaffold with namespace Controller and non-namespace Model?"
Something like using several controllers in namespace:

but only one Model

I tried

But nothing works, with errors like:

I've just asked a question on [stackoverflow](http://stackoverflow.com/questions/34706572/rails-4-generate-scaffold-controller-with-existed-model-it-only-works-after-re), please read.

[2016-01-11 03:19] maclover7 commented on #23002
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-11 03:19] #23002 closed

[2016-01-11 05:42] sintro commented on #22100
What is failing exactly? I have no errors in script, just 3 assertion fails and 2 successes

[2016-01-11 07:46] Strnadj commented on #21802
No, unfortunately still experiencing this issue.

viz: https://gist.github.com/Strnadj/f0b8593f0e9c7df16a6b#file-activerecord_test-rb-L43

Probably I will be able to solve this using two callbacks: after_commit and before_save...

[2016-01-11 08:32] tomprats opened #23007 "Unreleased Rack Version Compatibility Issue"
I'm using oath2 in an application (through Twitter, Facebook, and Instagram) and I was hoping to upgrade to Rails 5 (beta). When doing so, I ran into a dependency problem. It looks like version 2 of Rack isn't released yet, but is trusted enough to be used in Rails 5.

Are the only solutions to this problem:
- Not updating to Rails 5
- Forking Oath2 and updating its dependencies
  - I just created

[2016-01-11 11:12] tawan commented on #22811
Hi, I can confirm this bug as well. I took the time and got to the root of the problem. I already created a PR (see above).
A current workaround would be to pass the absolute path to the `server.pid` file as an argument:

[code]

The bug in detail: The server startup procedure crashes, since it tries to
open a file at `/tmp/pids/server.pid` instead of
`<path to project>/tmp/pids/server.pid`. This

[2016-01-11 12:18] nateberkopec commented on #23007
Yup, you should do this and use your fork until intridea/oauth2#229 is merged.

[2016-01-11 12:37] maclover7 commented on #23007
Few things:
-Agree with Nate here.
-Rails 5 is currently beta software, so it's fine for it to be depending on another beta of Rack. Before 5.0 is shipped, Rack 2.0 will hopefully be shipped as well.
-Finally, we reserve the issue tracker for bugs only.  Please continue this discussion on oauth2's repo.

[2016-01-11 12:37] #23007 closed

[2016-01-11 13:50] maclover7 commented on #22100
Just saying that the issue(s) still exists.

[2016-01-11 15:13] senny commented on #22584
@cluesque what are the steps to reproduce? I end up with:

[code]

and there are no migrations or schema files checked into the repository.

[2016-01-11 15:54] claudiob opened #23013 "Enum scopes and STI conditions don't get along"
This is a regression on master, from 4.2.

https://gist.github.com/claudiob/ae3452eaa3cf6307453a

- I have an `Activity` class with a `status` enum which can be `pending`, `failed` or `successful`
- `Activity` has two subclasses: `Snapshot` and `Adjustment`
- First I create a successful Adjustment
- Then I create a successful Snapshot
- Then I query for the first successful Snapshot, and I expect

[2016-01-11 17:14] kirubaebe opened #23016 "Json gem not installing in mac osx."
I am having Mac os x 10.11... But when i am trying to install the json gem then it is showing like this...

---------------------------------------------------------------------------------
Installing json 1.7.7 with native extensions

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    /Users/kirubaebenezerramanathan/.rbenv/versions/2.2.3/bin/ruby -r ./siteconf20160111-86468-1

[2016-01-11 18:02] maclover7 commented on #23013
Working on a bisect for this.

[2016-01-11 18:35] ferrettmerr commented on #22931
@al2o3cr This was working perfectly with rails 4.0.0 before I upgraded. I have pasted the cleaned database.yml below.

Thanks for your help!

database.yml:

        development:
          adapter: mysql2
          encoding: utf8
          database: proj
          username: proj
          password: asdasdasd
          host: localhost

        test:
          adapter: mysql2
          encoding: utf8

[2016-01-11 19:59] Strnadj commented on #23016
@kirubaebe Please check: https://github.com/flori/json/issues/229 They fixed your issue in 1.8.2. This is not an rails issue actually

[2016-01-11 19:59] #23016 closed

[2016-01-11 20:38] maclover7 commented on #23013
Getting https://github.com/rails/rails/commit/5e0b555b453ea2ca36986c111512627d806101e7 as the bad commit from my bisect.

[2016-01-11 21:45] claudiob commented on #23013
Thanks @maclover7 ! @sgrif does that sound familiar?

[2016-01-11 21:48] al2o3cr commented on #22931
@ferrettmerr Nothing looks odd in that (I was looking for any unusual `url` keys).

On further digging, it looks like my assumption that `URI::Parser` would raise an exception on an invalid URI was incorrect - it does not. That makes me wonder if you're encountering a consequence of https://github.com/rails/rails/commit/efdc20f36ccc37afbb2705eb9acca76dd8aabd4f, which removed a behavior where passi

[2016-01-11 22:08] Rev3rse opened #23019 "The global request variable<ActionDispatch::Request> is spookingly altered when invoking a url helper method within views under special circumstances"
Hello everyone,
I think I've found a spooky bug in Rails `~> 5.0.0.beta1`( last commit 179df9df6839 ).
**The code below worked perfectly fine on Rails `~> 4.2.0`**

Consider this dead simple `erb` view, under specific circumstances(which I will outline below), the `request<ActionDispatch::Request>` instance variable is changed, simply by invoking `root_path`:
[code]

Reproduction:
===========

`Ge

[2016-01-12 00:13] radar opened #23021 "Migration versioning not mentioned in ActiveRecord changelog"
[The edge migration guide](http://edgeguides.rubyonrails.org/active_record_migrations.html) shows a new syntax for migrations, specifically: `ActiveRecord::Migration[5.0]`. It looks like this was added by @matthewd in 6940dc860c4b25bff2eded370f2af4316de15a30, but it wasn't documented in the CHANGELOG for AR.

[2016-01-12 00:33] trevorturk commented on #15357
Thanks for the issue report and the fix! I was going nuts trying to figure out what I was doing wrong :grin:

[2016-01-12 01:02] maclover7 commented on #23021
r? @senny since he said he was going to be working on the release notes.

[2016-01-12 03:29] #22426 closed

[2016-01-12 03:47] ferrettmerr commented on #22931
@al2o3cr Thanks again for looking into this!

I saw that it was deprecated and was quite surprised to find the .to-sym failed. I will double check that tomorrow.

Should the documentation be updated to remove the passing of a none URI string? I would be more than willing to submit a PR for updating the docs.

[2016-01-12 08:10] senny commented on #23021
@radar I've added an example to the existing entry in the changelog. If there is something that needs to be performed when upgrading to Rails 5.0 it will be mentioned in the [Upgrading Guide](http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-4-2-to-rails-5-0) once Rails 5.0 is released.

Thanks for reporting :yellow_heart:

[2016-01-12 08:10] #23021 closed

[2016-01-12 13:02] dreyks commented on #22261
The quickest example I can come up with is
[code]

If you need a more high-level example (make an app, put a migration file in a non-standard folder, run migrations and then assert that `ActiveRecord::Migration.maintain_test_schema!` does not result in another migration run) tell me and I'll make one

[2016-01-12 14:14] maclover7 commented on #23013
Will check whether #23004 fixed this.

[2016-01-12 14:45] claudiob commented on #23013
It doesn't, I already checked.

[2016-01-12 14:54] claudiob opened #23026 "ActionController::Parameters#as_json has changed format"
`ActionController::Parameters#as_json` does not behave in the same way under Rails 4.2 and under Rails 5.0.0.beta1.

In my opinion, this is a regression and can easily be fixed, but before submitting a patch, I would like to know the opinion of @sikachu who worked on having AC::Parameters not inherit from Hash https://github.com/rails/rails/pull/14384.

Reproducing the issue is really easy: just r

[2016-01-12 15:09] maclover7 commented on #23026
Is the solution to use `ActionController::Parameters#to_unsafe_hash`? Not a fan of the idea that we would have to possibly write over the existing `Object#as_json` monkey patch with another monkey patch, to change it to use `to_unsafe_hash` instead of `to_hash`...

[2016-01-12 15:15] sikachu commented on #23026
I think it's just a side-effect that was overlooked when I disconnected the Hash. I think the expected result should be a linear-ish Hash, as in Rails 4.2, a la  `{"hello"=>"world"}` should be the expected result.

Regarding the other issue, I think it's better to keep using `to_h`. If user want to print out the whole params without caring about the whitelisting they can already do `to_unsafe_h`.

[2016-01-12 15:26] schneems opened #23027 "TEST= does not work with new test runner when run with `rake test`"
Previously you could specify a single test file to be run by using the `TEST` environment variable

[code]

This no longer works, and all the tests will be run instead.

[2016-01-12 16:18] fabn commented on #22673
I'm playing with action cable and I found a couple of issues. There are some aspect unclear to me (and they are not addressed not in readme nor in code documentation) so I'm adding them here because I think that it may be worth to add them to the guide when it will be written.

* How identification works. E.g. what happens if I do not provide an `identified_by` call in my connection class? What ha

[2016-01-12 16:45] senny commented on #23027
r? @senny

[2016-01-12 17:12] claudiob commented on #23026
@sikachu If I understand correctly, you propose to add an `as_json` method to the `ActionController::Parameters` class defined like this?

[code]

[2016-01-12 17:18] vigneshblue opened #23029 "Rails installation Invalid gem : package is Corrupt-nokogiri"
I was trying to install rails in ubuntu 14.04 but I am getting the following error.

$gem install rails
ERROR:  Error installing rails:
    invalid gem: package is corrupt, exception while verifying: undefined method `size' for nil:NilClass (NoMethodError) in /home/usr/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/cache/nokogiri-1.6.7.1.gem

Please Help with this.
Thank You.

[2016-01-12 17:22] bdfinlayson opened #23030 "pg_dump: invalid option -- i error due to depricated postgres -i options flag"
When running rake db:migrate I am seeing `pg_dump: invalid option -- i` errors due to the -i options flag used on line 55 of `activerecord-4.2.0/lib/active_record/tasks/postgresql_database_tasks.rb`.

[code]

A possible solution is to remove the -i flag:

[code]

[2016-01-12 17:27] rafaelfranca commented on #23029
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-12 17:27] #23029 closed

[2016-01-12 17:33] vigneshblue commented on #23029
Thank you very much dude.

[2016-01-12 18:01] sikachu commented on #23026
@claudiob that's correct, or you can just use `delegate` as well.

[2016-01-12 18:16] claudiob commented on #19036
@dhh I think this change might generate some confusion among beginners.

When you are building a new controller, you typically write the routes and the actions before adding the views to `app/views`.

In Rails < 5, if you clicked on a link that goes to one of the actions for which you haven't written a view yet, you would see an big red error page saying "Template is missing!" which would help you

[2016-01-12 18:17] claudiob commented on #23026
Ok, I'll write that!

[2016-01-12 18:28] #23027 closed

[2016-01-12 18:28] agfor opened #23033 "Wrong Julian Date returned from `strftime` on `TimeWithZone` at end of year"
Since https://github.com/rails/rails/commit/1897d3a5d240a962dc89d2cab1d36bedb08974f7 (in 4.2.0beta4), the wrong Julian Day is being returned from `strftime` for `TimeWithZone` objects with nonzero UTC offsets during the period between midnight in the given time zone and midnight UTC on the last day of the year.

My current solution is to revert that commit.

Failing test:

[code]

`"364"` is retur

[2016-01-12 18:28] senny commented on #23027
@schneems let me know if that is sufficient for your needs.

[2016-01-12 18:52] jkowens commented on #22235
@rafaelfranca after doing some digging, I thinking this is actually a Rails issue. In `ActionDispatch::FileHandler#match?` a call is made to `Rack::Utils#clean_path_info`. If a path is passed to that method that contains a null byte, an ArgumentError is raised causing the 500 status.

I think it would have to be Rails' responsibility to make sure the path is valid. In this case if the Static middl

[2016-01-12 19:38] #23026 closed

[2016-01-12 20:27] schneems commented on #22867
Yes you should still be able to use sprockets 3.

[2016-01-12 22:39] pixeltrix commented on #23030
This has been fixed in Rails 4.2.5 via #21931

[2016-01-12 22:39] #23030 closed

[2016-01-12 23:05] pixeltrix commented on #23033
@agfor I can reproduce this - it only appears to be a problem for negative UTC offsets - positive offsets return 365 all day. I'm investigating it further.

[2016-01-12 23:06] cluesque commented on #22584
@senny Whoops.  I failed to checkin the migration.  Should be clearer now.

You should be able to `rake db:setup`, `rake db:migrate`, and then just `rake` at each commit to see changes.

There are three interesting commits:
 - `Symbol keys are fine in fixtures in 4.2.4` - shows that as of 4.2.4 a fixture with symbols for attribute keys is supported.
 - `Rails 4.2.5 makes tests sad` - just bumping

[2016-01-12 23:12] pixeltrix commented on #23033
@agfor looks like this maybe an underlying bug in Ruby:

[code]

We'll have to raise it on the Ruby bug tracker.

[2016-01-12 23:51] andrewjkerr opened #23037 "ar"

[2016-01-12 23:51] #23037 closed

[2016-01-12 23:56] radar commented on #19036
:+1: for making this a configurable thing that is _off_ by default.

[2016-01-12 23:57] matthewd commented on #19036
Can we 500 in response to a "real" browser request, but 204 for XMLHTTP and other non-browser clients?

[2016-01-13 00:03] baweaver commented on #19036
Agreed on the confusing aspect, and on the configurable option.

It makes sense as long as you explicitly set it as such, but a purely implicit version would lead to a lot of interesting headaches on IRC and SO.

It might be a worthwhile consideration to get a variant of the hallway test for this type of thing, except preference to newer users. What makes sense to someone with experience may be in

[2016-01-13 00:16] EdwGx opened #23038 "Collection cache_key raises PG::GroupingError with select in query"
ActiveRecord::Relation#cache_key raises PG::GroupingError in PostgreSQL when there is select in the query. I tested the same query in sqlite, and it didn't raise any error.

[code]

The problem seems to be fixed by adding unscope(:select)
[code]

[2016-01-13 00:25] sb8244 commented on #19036
If it were configurable, I would personally want it as a config option that is always on, not xhr dependent. I often debug problemsome xhr requests by "open request in new tab", and different behavior would also be confusing.

[2016-01-13 00:37] matthewd commented on #19036
@sb8244 to me, the point is that a 204 in a browser is always going to be confusing. So a message that describes what just happened [1] should be clearer than a browser that just refuses to navigate to the URL you want.

1. "your action completed successfully without rendering a response, and no view was found, but as this is a browser request, we can't return a 204. If you intend to use this via

[2016-01-13 00:40] agfor commented on #23033
@pixeltrix Interesting.

[2016-01-13 00:51] sb8244 commented on #19036
That is a fair point. Just tested it and I would be confused if the browser request didn't have a body when I didn't mean for it.

[2016-01-13 01:16] k0kubun commented on #22867
I see. Thank you!

[2016-01-13 01:28] ianhall opened #23039 "After upgrade to Postgres 9.5, rake db:migrate fails with "pg_dump: invalid option -- i""
The error comes from `activerecord-4.2.1/lib/active_record/tasks/postgresql_database_tasks.rb:55`

The Postgres 9.4 docs (http://www.postgresql.org/docs/9.4/static/app-pgdump.html) say:
`-i
--ignore-version
A deprecated option that is now ignored.`

The 9.5 docs do not mention this option at all.

[2016-01-13 01:29] matthewd commented on #23039
https://github.com/rails/rails/issues/23030#issuecomment-171084067

[2016-01-13 01:29] #23039 closed

[2016-01-13 03:41] rafaelfranca commented on #22907
I'm closing since this is no a Rails issue. em-hiredis already [bumped the dependency](https://github.com/mloughran/em-hiredis/commit/7ebf358891ed08b8926737b1e5bee0b8c3875429) so one possible solution is to ask them to release that commit.

[2016-01-13 03:41] #22907 closed

[2016-01-13 04:14] herminiotorres commented on #22878
Just tested here installing rails 5 and the usual spring work.
Maybe your ruby or some version manager is not working properly.

[2016-01-13 04:14] #22878 closed

[2016-01-13 06:01] pbssubhash opened #23041 "Devise logout isn't working when certain js files are included in application.js"
Hey,
I'm using the latest version of devise and rails 4.2.4. I've my home page

 public/index.html
which contains heavy javascript. But when I load it from some other page, it doesn't load with all the effects. So included

      $(document).on('page:load', ready);
     <script src="/js/modernizr-2.6.2.min.js"></script>
     <script src="/js/main.js"></script>
in application.js file. But then Logo

[2016-01-13 06:10] sevenseacat commented on #23041
Are you including those HTML script tags _inside_ your JS file? That's not valid JS, will raise errors in your browser console, and will prevent JavaScript from working correctly.

[2016-01-13 06:22] aditya-kapoor commented on #23041
Try this:

[code]

[2016-01-13 06:24] pbssubhash commented on #23041
@sevenseacat Well, eventually I did, but it didn't throw me any error.
By the way, even when I remove those script tags, issue is persistent.

@aditya-kapoor , Isn't working!

Thanks.

[2016-01-13 07:24] sevenseacat commented on #23041
Either way, this tracker is for bugs and issues in Rails, not seeking help with using it. I recommend asking on Stack Overflow, because this will be closed shortly.

[2016-01-13 07:37] prathamesh-sonpatki commented on #23041
This does not look like an issue related to Rails.

Please use the rubyonrails-talk mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues related to Rails only.

Thanks.

[2016-01-13 07:37] #23041 closed

[2016-01-13 09:14] #22584 closed

[2016-01-13 09:17] senny commented on #22584
I pushed a fix to `master` and a backport to `4-2-stable`.

@dmagliola thank you for reporting :yellow_heart:

[2016-01-13 09:44] jarosluv opened #23044 "Convert Foo::Bar to foo_bars"
I think that is must be method for convert class name to path name (or method name), like `tableize`, but with correct handling of modules.

I want to convert `Foo::Bar` to `foo_bars` (or `foo_bar`), not `foo/bar`.
It is standard purpose and I think its must be standardise in API, because this is bad piece of code
[code]
Sample of this issue in popular repository https://github.com/activeadmin/act

[2016-01-13 13:47] maclover7 commented on #23044
Thank you for the issue but we don't take feature request in the issue tracker. Please read the contributing guides about which is the best channel for them.

[2016-01-13 13:47] #23044 closed

[2016-01-13 15:46] StefanoOrdine commented on #22474
If `car.save` fails because of associated `engine` is not valid, you should still still be able to retrieve the previous stored `engine` by doing:
[code]
Isn't it?

[2016-01-13 17:33] pixeltrix commented on #22893
@drewhamlett it depends on the order in which you visit the routes - if you go to a non-namespaced controller first then it defines `ApplicationController` and then when you subsequently visit a namespaced route it finds the top level `ApplicationController` because `Object` is in the ancestor chain. Rails can't prevent this from happening because Ruby will find it without called `const_missing` s

[2016-01-13 17:33] #22893 closed

[2016-01-13 19:20] jaredhoyt commented on #22474
@StefanoOrdine No, because `car.build_engine` actually updates the associated record in the database and sets the foreign_key field to `null` so the records are no longer associated in the db.

[2016-01-13 21:01] drewhamlett commented on #22893
Thanks for your help @pixeltrix .  Great write up.  Also that's funny about answer the same question a long time ago!

[2016-01-13 21:19] dmagliola commented on #22584
Thank you very much for the fix!
Sorry if this is a dumb question, but... How do I get this fix? How do I actually upgrade to 4.2.5 with this fix?
Thanks!

[2016-01-14 04:17] SuckRok commented on #13721
1

[2016-01-14 07:36] marvindanig opened #23053 "Unable to access `rails console` or see `rails -v` on production server [rails 4.2.x]"
Hello,

I have a `rails 4.2.3` application on production `rbenv 0.4.0` / `ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]` and everything is working just about fine. The site is live, everything is functional as expected. But I'm not able to open the rails console on production server.

`$ rails c production` returns the following:

[code]

`$ rails -v ` also returns the same message. Cam

[2016-01-14 07:45] GRoguelon commented on #23053
Hi,

Have you tried this command at the root of your project:

[code]

For your version of Rails, you have a binary folder containing a `rails` binary.

[2016-01-14 07:53] prathamesh-sonpatki commented on #23053
@marvindanig Hi, We reserve the issue tracker only for bug reports. Please post your question to mailing list/Stackoverflow where a wider community can help you.

Thanks.

[2016-01-14 07:53] #23053 closed

[2016-01-14 08:24] marvindanig commented on #23053
@GRoguelon I do have the ruby sh script `.bin/rails` that requires `rails/commands` in there.

[code]

Given that `rails -v` isn't returning the version of rails installed I suppose what's missing here is 'rails/commands'. `$ which rails` doesn't return with anything though.

[2016-01-14 08:35] marvindanig commented on #23053
@prathamesh-sonpatki Github says 'Issues' pretty clearly on the tab of every repository up here.

It is inappropriate (not just rude) to change the meaning of 'whatever' is tracked over here and then close the issue prematurely; even when the discussion is hot. I request to reopen the ticket, and wait until it is clear that the issue you see as only "mine" is also a bug that you seek.

[2016-01-14 09:41] StefanoOrdine commented on #22474
Right! so you @jaredhoyt and @stephenprater are proposing to modify #build_association in order to take into account the association that was previously bound with the model that is going to be saved?
+1 for this solution

[2016-01-14 09:51] kaspth commented on #23053
@marvindanig every repository is free to tune the meaning of "Issues" to what we describe in our contributing guidelines.

We also prefer to keep issues we know are actual bugs open. The onus is on you to prove it's a bug. You will find more help in doing so by writing about the usage problem on the Rails Talk mailing list. Please do investigate 😁

[2016-01-14 09:57] prathamesh-sonpatki commented on #23053
@marvindanig It looks like the issue is with how rails is setup on the server as it is not able to find the `rails` binary based on the messages for `rails -v` and `rails console production`.  That's why I closed it :)

[2016-01-14 10:26] senny commented on #22584
@dmagliola you'll have to wait for `4.2.6` or `5.0.0` until the fix will be part of an official release. Another approach would be to pin your rails dependency to `4-2-stable`. A more pragmatic approach is to use a monkey patch, like to one from @cluesque. Once you upgrade to a version mentioned above you'll be able to remove that.

[2016-01-14 10:48] dmagliola commented on #22584
Excellent, thank you!

[2016-01-14 13:17] dtelaroli commented on #21477
+1

[2016-01-14 14:12] prathamesh-sonpatki commented on #22446
We observed that this issue was present in Rails 4.2 but is not present in master while upgrading CodeTriage to Rails 5. This is the commit we needed to fix the test - https://github.com/codetriage/codetriage/commit/a4a118fb428e380a70008f26359f24ef8f419db6.

I think the issue is fixed in master because it is fixed in Rack 2

[2016-01-14 15:09] spiffistan opened #23055 "Chaining where statements produces incorrect SQL"
We recently upgraded to Rails 4.2.5 (from latest rails 3.2.x) and noticed something strange in some of our statements.

The following code will produce incorrect SQL with mangled key-value mappings:

[code]

Produces:

[code]

Changing the order of the where statements, or not chaining them produces correct SQL:

[code]

[code]

[code]

Have we stumbled upon a bug, or is this behaviour documented

[2016-01-14 15:12] marvindanig commented on #23053
Peace :+1:

[2016-01-14 19:58] afn opened #23058 "set_backtrace is called with the wrong arguments"
With activesupport-5.0.0.beta1 and ruby 2.3.0, I get the following error if I set `config.active_support.deprecation = :raise` (and I have deprecations in my app):

[code]

The reason is that `set_backtrace` is [being called](https://github.com/rails/rails/blob/27eccc27cbe987be04bb97b49aff1d7fd118634c/activesupport/lib/active_support/deprecation/behaviors.rb#L12) with the [return value of `caller_

[2016-01-14 20:24] sgrif commented on #23055
Please provide an executable test case that we can use to reproduce the issue using our [standard bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)

[2016-01-14 20:32] #23013 closed

[2016-01-14 20:38] #22996 closed

[2016-01-14 21:28] joelpresence opened #23061 "ActiveJob around_perform is called twice when defined on superclass"
Hi,

Thanks for all of your hard work on Rails!  :-)

Suppose I have the following:

[code]

Now, if I enqueue a job as in `MyExtendedJob.perform_later` then the around_perform block, defined in `MyBaseJob` is called twice.  This is unexpected and a bug.  It also makes it hard to extend our own tree of ActiveJob classes and share common callbacks with the superclass.

I am using rails 4.2.5, resqu

[2016-01-14 21:44] maclover7 commented on #23061
I think the issue here is that the `around_perform` is being called when the job is created/being first put into the queue, and then again when the job is actually being executed. Thank you for reporting! Would you be able to confirm that this is still a bug on Rails master?

[2016-01-14 21:55] nickgnd commented on #22446
@maclover7 Hi. I was not able to duplicate the bug. I set up [this script](https://gist.github.com/nickgnd/eee74cc64f03fb8a6876) with one of the templates that you suggested me, but the test pass without problems :smile:

Besides, always in my [original repository] (https://github.com/nickgnd/testapp) (with Rails 4.2.3), if I test the controller it fails as I shown in my first comment. Instead, if

[2016-01-14 21:57] joelpresence commented on #23061
Thanks @maclover7 !  To check on Rails master, would you suggest I just `git clone` the HEAD of rails on the master branch and create a test project or refer to the git repo in my Gemfile?

[2016-01-14 22:17] maclover7 commented on #23061
Either would work fine. Might be easier to just create a test project. You could also try and use one of the [test scripts](https://github.com/rails/rails/tree/master/guides/bug_report_templates) if you want to, to avoid creating an entire application.

[2016-01-14 22:27] maclover7 commented on #22446
Ok - thanks for narrowing down the scope to just 4.2.x. Would you want to bisect `4-2-stable` and try and find where the bug was introduced?

[2016-01-14 22:39] maclover7 commented on #20666
@chancancode: Opened #23062 to try and solve this.

[2016-01-15 05:13] rafaelfranca commented on #21477
This method is private API and should not be used in engines or applications

[2016-01-15 05:13] #21477 closed

[2016-01-15 05:16] rafaelfranca commented on #23058
@tenderlove what do you think?

[2016-01-15 08:12] kesha-antonov opened #23063 "Rails 5 + collection cache"
Hey guys!

I used this cache collection in Rails 4 and worked fine. Now I've got an error:

articles/index.html.haml
[code]

controllers/articles_controller.rb
[code]

Trace:
[code]

Note: I've got this error only on not first page
`articles?page=2`
`articles?page=3`
etc.

Query for 1st page:
[code]

Query for 2nd page:
[code]

Any help please?

[2016-01-15 08:21] jlecour opened #23064 "Document "bang" version for query methods"
Hi,

Here is a basic example of using query methods sequentially, depending on conditions :

[code]

Using the bang versions of those query methods we can have this :

[code]

Whether or not it's more readable might be discussed, but I wonder why those methods are not documented.

Here is link to an example : https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/query_

[2016-01-15 08:24] kipcole9 commented on #23063
There's a bug on master branch that raises an exception if you have a loaded collection but there are no rows (hence why it works on your first page).  There is discussion hereabouts to change the entire strategy of collection cache_key generation but it doesn't seem to have landed yet.

In the mean time I'm using this initialiser that monkey patches collection_cache_key.  Slam this into an initia

[2016-01-15 10:47] dtelaroli commented on #21477
:-/

[2016-01-15 10:54] dhh commented on #22673
That's all the correct understanding. The issue, in part, is that the server-side channel just says "listen to this queue for all incoming data", it doesn't actually make any calls to where it should go. Which means that to take advantage of that we'd need to put the routing command inside the data hash that people are calling broadcast with. That seems a little too closely tying things together t

[2016-01-15 11:42] erpe opened #23066 "rake minitest fails with rake task including url_helpers"
When creating a custom rake task below lib/tasks which includes Rails.application.routes.url_helpers
Then 'rake test' errors - (tested with 4.2.4 and 4.2.5)
e.g.:

[code]
works:
[code]
errors:
[code]
produces
[code]
see proof: https://github.com/erpe/rails-minitest-fails-with-task

@zenspider @tenderlove

[2016-01-15 13:43] tagliala opened #23069 "Rails 5 routing issue with prefixed optionals"
Hi,

I'm experiencing an issue with rails 5.0.0.beta1 also present on the master branch

It's about paths with prefixed optionals, like:

[code]

Executable test cases:

### Master
https://gist.github.com/tagliala/99239dd2ab599cec5e41#file-test_master-rb

[code]
### 4.2.5
https://gist.github.com/tagliala/99239dd2ab599cec5e41#file-test_425-rb

[code]

[2016-01-15 13:59] muichkine commented on #20911
Hello,
     I ran into a similar problem in 4.2.5. Here it is for your consideration.

    class Scan < ActiveRecord::Base
      attr_accessor :start_processing
      with_options if: :start_processing do
        validates :user, :presence => true
        after_commit :process
      end

      after_commit :continue_chain, :on => :update
    end

In such a case, `:continue_chain` is called before

[2016-01-15 14:13] pixeltrix commented on #23033
Bug filed: https://bugs.ruby-lang.org/issues/11994

[2016-01-15 14:16] maclover7 commented on #23069
Thank you for reporting! Would you be will to do a Git bisect to try and find where the errant behavior was introduced?

[2016-01-15 14:53] kesha-antonov commented on #23063
@kipcole9 Thank you for help!

I've got 60 articles - and that's why I have several pages (5 records each).
What do you mean by "empty collection"?

[2016-01-15 15:13] tagliala commented on #23069
@maclover7 you're welcome!

It should be this commit: https://github.com/rails/rails/commit/d993cb362969caa2cb3b3f2f86ddf653d34dfb1b

[2016-01-15 15:31] agfor commented on #23033
Great!

[2016-01-15 15:56] OliDM opened #23070 "Websocket connect/disconnect loop"
My connections keep getting marked as stale because the `_ping` message is not being received by the client. This causes that the close event keeps on getting called, then the connection closes and  reopens continuously.

[image](https://www.dropbox.com/s/b96l1bxuie4zw1d/Screenshot%202016-01-15%2011.48.30.png?dl=1)

[2016-01-15 17:54] eman8519 opened #23072 "Module Constants Inconsistencies 4.2.5"
First timer here with opening issues, so hopefully this goes well.

I'm seeing issues with module constants in **Rails 4.2.5** which also seem to be causing issues with inherited `before_action` as well.  The problem is completely erratic, sometimes everything works as expected, other times it doesn't work.  The worst part is the behavior changes without any changes to the source code, but rather

[2016-01-15 18:45] maclover7 commented on #23069
^ ping @tenderlove

[2016-01-15 19:15] nateberkopec commented on #21399
The provided reproduction application does reproduce the issue for me.

[2016-01-15 19:32] johnkolen opened #23073 "Setting connection pool size to zero behaves as a pool of size one"
Setting a pool size of zero should force a new connection for each request. When a connection is checked back in, it is always added to the queue of available connections. The first action of acquire_connection is to pull from the available queue. Even when size is zero, the second pool checkout will return the connection returned after the first checkout.

One possible solution is to maintain the

[2016-01-15 19:44] schneems commented on #23073
i don't think active record was designed to be used like that, this is more of a feature request than a bug report

[2016-01-15 20:01] nathansamson opened #23074 "No bind parameters for ranges in where clause"
For example `Model.where(numerical_value: 5..10)` still generates an entry in the prepared statements cache (tested with v4.2.5 and v5.0.0-beta1)

This is very bad because of #21992
Similar issues where solved in https://github.com/rails/rails/commit/cbcdecd2c55fca9613722779231de2d8dd67ad02
A similar problem was reported in #22250 and fixed as well for v5.0.0

@sgrif If you could have a stab at th

[2016-01-15 20:07] nathansamson opened #23075 "Setting statement_limit databsae config option to 0 results in crashes"
This can happen by accident when trying to read from an empty enviroment variable for example

`PG::DuplicatePstatement: ERROR: prepared statement "a1" already exists`

Ideally this should just disable the statements cache altogether (or just fallback to the normal default, although that feels less intuitive)

Happened with rails 4.2.5 on postgresql database

[2016-01-15 20:23] renanoronfle commented on #23075
can you provide example?

[2016-01-15 20:27] sgrif commented on #23074
To summarize the problem in case anybody wants to take a stab at this before I get a chance:

- There are exactly 6 possible queries that can be generated by passing a range:
  - `foo BETWEEN 1 AND 3` for `1..3`
  - `foo >= 1 AND foo < 3` for `1...3`
  - `foo >= 1` for `1..INFINITY`
  - `foo <= 3` for `-INFINITY..3`
  - `foo < 3` for `-INFINITY...3`
  - `1 = 1` for `-INFINITY..INFINITY`
- We can u

[2016-01-15 20:33] sgrif commented on #23075
The correct way to disable prepared statements is with `prepared_statements: false`. I'd be against making any changes to setting the statement limit to 0, as it's perfectly reasonable for a backend to work with only unnamed statements, even if that's not happening with PG in this specific case.

[2016-01-15 20:38] herminiotorres commented on #22606
hi @vladimirsazhin maybe that is your problem by `web-console` change `ActionView`, now has a fix on the `web-console` that uses the `autoload` instead `require` to `boot` and might not come to have more trouble. cc/ @rafaelfranca

[2016-01-15 20:44] #22606 closed

[2016-01-15 20:53] yahonda commented on #23073
I also think this is kind of a feature request to Rails. I recall there is a gem which may satisfy your requirement. https://github.com/sonots/activerecord-refresh_connection

[2016-01-15 20:57] maclover7 commented on #21399
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-15 21:00] maclover7 commented on #23073
Thank you for the issue but we don't take feature request in the issue tracker. Please read the contributing guides about which is the best channel for them.

[2016-01-15 21:00] #23073 closed

[2016-01-15 21:13] OliDM commented on #23070
Terribly sorry about this, it was a mistake on my part.

[2016-01-15 21:13] #23070 closed

[2016-01-15 22:49] lohqua commented on #22878
I don't use any version manager

[2016-01-15 22:57] whistlerbrk opened #23077 "Rails 5.0.0.beta - 204 no content confusing in development"
When a controllers method is reached but the template can not be found, Rails now returns 204 No Content.

As a result, the browser does not refresh but more important - the current page whatever it was, does not clear an error if one is being displayed. For a few moments I thought I'd run into my prior issue.

Now, I experienced this when I renamed a controller and a route but forgot to move the

[2016-01-15 23:51] maclover7 commented on #23077
Yep, this is being worked on as apart of #20666 and #23062.

[2016-01-16 00:01] matthewd commented on #23077
@maclover7 those issues are about a different condition under which we might choose not to 204.

This is more along the lines of the discussion around https://github.com/rails/rails/issues/19036#issuecomment-171000017.

[2016-01-16 01:09] dfjosh commented on #19256
@haihappen ftw!

[2016-01-16 05:55] rafaelfranca commented on #23064
These methods are private API of the framework are should not be used in applications. This is exactly the reason that they are not documented. We only document public API methods.

[2016-01-16 05:55] #23064 closed

[2016-01-16 06:12] rafaelfranca commented on #23066
When you call `url_helpers` you are memoizing its value. When you run the tests you memoized the routes without the proper information so its don't know how to handle correctly the options in your view. You should not include `url_helpers` in main context. Unfortunately there is nothing what we can do here.

[2016-01-16 06:12] #23066 closed

[2016-01-16 06:24] #19890 closed

[2016-01-16 06:36] rafaelfranca commented on #22982
The first one is weird but the second is a bug in the `rails-controller-testing` gem. I'll assign the 5.0.0 tag because we need to investigate the first deprecation warning.

[2016-01-16 07:36] prathamesh-sonpatki commented on #23063
@kipcole9 @kesha-antonov https://github.com/rails/rails/pull/23080 and https://github.com/rails/rails/pull/23081 should fix the two this issue and another issue with loaded collections.

[2016-01-16 10:48] mpartel opened #23083 "Support CHECK constraints in migrations and schema.rb"
As mentioned at the bottom of [this RailsGuide section](http://edgeguides.rubyonrails.org/active_record_migrations.html#reverting-previous-migrations), CHECK constraints cannot be expressed in `schema.rb`. Please support them.

A syntax suggestion:
[code]

[2016-01-16 11:22] prathamesh-sonpatki commented on #23083
@mpartel Thanks but this is a feature request and we don't take feature requests on Github. It is only reserved for bug reports. Please use the rubyonrails-core mailing list to suggest features where you will also get feedback from others.

Thanks.

[2016-01-16 11:22] #23083 closed

[2016-01-16 16:02] jarthod commented on #11476
Sorry to revive this but has anything been done (or at least thought) about this issue for Rails 5 ?
Because the issue is still present in rails `4.2`.

[2016-01-16 16:06] maclover7 commented on #11476
Reopening.

[2016-01-16 16:08] #22811 closed

[2016-01-16 16:11] rafaelfranca commented on #11476
Still need a way to reproduce it, so please provide it.

[2016-01-16 16:15] maclover7 commented on #11476
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-16 16:26] maclover7 commented on #22794
Would you be willing to do a git bisect to find where the error was introduced?

[2016-01-16 16:28] schneems opened #23084 "Deprecate before changing interface of Strong Params"
For Rails 5 strong params was changed to not inherit from hash. I think that's a great idea, however...we didn't deprecate the change (did we?). I think we should add a method missing that will send to the underlying hash and issue a deprecation before we remove the method missing and deprecation in 5.1.

This sudden change bit me on codetriage when upgrading.

cc/ @nateberkopec @sikachu

[2016-01-16 16:34] maclover7 commented on #23084
Inheritance was dropped [here](https://github.com/rails/rails/commit/14a3bd520dd4bbf1247fd3e0071b59c02c115ce0#diff-72f51b082f5c2a99c328f5f5bbbe8ec6), looked back through history, and don't see any deprecation notices. What would the `method_missing` you envision look like? Can take a stab at this.

[2016-01-16 16:34] rafaelfranca commented on #23084
I don't think it is a good idea. The change was to avoid security issues and adding a `method_missing` would reintroduce them.

What is the problem that you are facing in the upgrade. If it is `NoMethodError` I don't see any problem with the current upgrade path.

[2016-01-16 16:35] schneems commented on #23084
This broke with no warning while trying to upgrade https://github.com/codetriage/codetriage/commit/4184865ce40c533722983dbc27fa2406b0e45662

[2016-01-16 16:35] maclover7 commented on #23084
I believe that we (at least) have this in the Rails 5.0 upgrade guide.http://edgeguides.rubyonrails.org/5_0_release_notes.html

[2016-01-16 16:36] schneems commented on #23084
This is going to be a breaking change on just about every upgrading app.

[2016-01-16 16:38] schneems commented on #23084
@rafaelfranca put that in the warning

[code]

If people want to be safer they can choose to not use the old API.

[2016-01-16 16:39] rafaelfranca commented on #23084
Yes, it is expected to be a breaking change. It is not a hard one to fix. You get `NoMethodError`, you change the code, you run the tests.

[2016-01-16 16:42] kaspth commented on #23084
@schneems When you checked the original discussions around this, did they have anything alluding to why we didn't go with a deprecation cycle?

[2016-01-16 16:46] schneems commented on #23084
I don't think it was mentioned https://github.com/rails/rails/pull/20868 which is the merged implementation. It was mentioned 35 times in the original un-merged implementation https://github.com/rails/rails/pull/14384

[2016-01-16 16:48] rafaelfranca commented on #23084
We did soft deprecations in Rails 4.2 https://github.com/rails/rails/pull/16299/files#diff-c909acd0bcbfca7336cca93598e7c65aR1

[2016-01-16 16:53] rafaelfranca commented on #23084
BTW, what was mentioned in the original issue was to deprecate the `is_a?` check with `Hash` as parameters. The methods were not deprecated because the `Parameters` API was already board enough to have almost all Hash objects that an application use. Of course there are methods that are not in the API yet and I think it is fine, like I said you get the `NoMethodError`, you change the code.

[2016-01-16 17:03] schneems commented on #23084
It is easy to see where the problem is, but it can also delay upgrading. By making a NoMethodError over a deprecation changing is required to upgrade, instead of optional. I had to open up the Rails source code to see what methods were available to me. Would be really easy to to do something like this

[code]

You only get security problems if you're using deprecated methods, you're only getting p

[2016-01-16 17:08] jarthod commented on #11476
Sure, i'll try to do that ;)

[2016-01-16 17:21] nateberkopec commented on #23084
It is an extremely far-reaching change and I suspect nearly every app will have to deal with. I did on my relatively trivial [Turbolinks TodoMVC demo](https://github.com/nateberkopec/todomvc-turbolinks/commit/e2a5efb40bdf54aa1b15972036a3c55c2d49b566). It's a good change, and I think we all understand it needs to be done.

I don't have enough experience to really weigh in on the appropriate strateg

[2016-01-16 18:09] rafaelfranca commented on #23084
How many methods are having this problem?

On Sat, Jan 16, 2016, 15:21 Nate Berkopec <notifications@github.com> wrote:

[2016-01-16 18:16] rafaelfranca commented on #23084
If the implications of the usage of the wrong methods is clear in the
deprecation message I don't see why reason why not do it.

On Sat, Jan 16, 2016, 16:09 Rafael Mendonça França <rafaelmfranca@gmail.com>
wrote:

[2016-01-16 19:10] jarthod commented on #11476
Here is my test:
[code]

It tests for flash message here but the problem is the same with CSRF.
There one test without streaming (working fine) and one with streaming (broken).

Here is the expected result on my machine (ruby 2.3.0):
[code]

There are also weird characters in the streamed output as you can see in the failure line, I don't know where they come from, they're not present in the stand

[2016-01-16 19:18] maclover7 commented on #11476
Using the above test script, it looks like the bug is somewhere on 4-2-stable, because the script is passing on Rails master. Will perform a bisect to see if we can backport something.

[2016-01-16 19:28] jarthod commented on #11476
Interesting and good to hear, i'll try to do a real life test with the CSRF too to see if it fixes both.

[2016-01-16 19:53] bughit commented on #21594
@rafaelfranca @sgrif

Am I misunderstanding the severity of this set of bugs?

* without `autosave: true`, fails to abort on association failure
* with `autosave: true` aborts on association failure but pretends success (save! does not raise, persisted? is true)

in both cases the expected saves have not taken place when success is reported.  Does this not make the feature of "association saving"

[2016-01-16 20:13] eileencodes commented on #23069
@tagliala this should be fixed now. Thanks for your help with the script and bisect :smile_cat:

[2016-01-16 20:44] tagliala commented on #23069
Thank you all!

[2016-01-16 22:23] ClayShentrup commented on #20077
Why was this issue closed? The bug seems alive and well for me on Rails 4.2.5.

[2016-01-16 22:45] alse commented on #22794
I think that script is missing `include Rails.application.routes.url_helpers` and the namespaced route declaration.

This passes for me:

[code]

[2016-01-17 05:25] sevenseacat commented on #20077
@ClayShentrup likely because

You're using a private API externally, things aren't always going to work as expected, or be stable. Use at your own peril.

[2016-01-17 05:33] ClayShentrup commented on #20077
@sevenseacat Jes, mi vidis tion post mi demandis mian demandon. Dankon.

[2016-01-17 05:38] sevenseacat commented on #20077
@ClayShentrup nedankinde ;)

[2016-01-17 09:57] Paxa commented on #22811
:+1:

[2016-01-17 13:02] xuxiangyang opened #23087 "unsigned integer could not update schema.rb"
hi，I write a migration with rails 4.2.4、mysql

[code]
after migrate, mysql table changes
[code]
I got
[code]

but the schema.rb is still like this

[code]

unsigned integer do not work in schema.rb, when i run with  ```rake db:test:load``` test db use schema.rb

what Can I do? upgrade my rails?

I know that i could use ```RAILS_ENV=test rake db:migrate``` but the schema is still wrong

[2016-01-17 13:07] xuxiangyang commented on #23087
I wrote the migration after I saw [this] (https://github.com/kamipo/rails/commit/b61a93b44e11046cc28605a8b4d2d17fe89927fd#diff-29a40e73153a4da9b2ca3d96a78c6a46R12)

[2016-01-17 14:52] tagliala commented on #23069
My test is still failing, is this normal?

[2016-01-17 15:19] maclover7 commented on #23069
Can confirm that it's still failing :(. ping @eileencodes

[2016-01-17 16:45] pascalbetz commented on #23055
@spiffistan I can not reproduce this. What do your models look like?

[2016-01-17 17:14] eileencodes commented on #23069
Ah my test was flawed. I have a fix but it adds more allocations back so going to work on this a bit more. Will let you know when it's fixed, possibly not til next week.

[2016-01-17 17:46] Rowandish opened #23090 "Actionpack: wrong argument type Class (expected Module) (TypeError)"
I'm facing this problem with ActionPack and heroku:
On my pc everything works well, but the same application on heroku does not work, because of this error:

    /app/vendor/bundle/ruby/2.2.0/gems/actionpack-4.2.4/lib/abstract_controller/helpers.rb:180:in `include': wrong argument type Class (expected Module) (TypeError)

Here I paste the full stack trace:

    $: heroku run rails console
    Runn

[2016-01-17 18:17] pixeltrix commented on #23069
It's because the preceding path segment is static but @eileencodes's test has a dynamic segment, e.g. `artist` vs. `:artist`.

I may be mistaken but from what I can determine the `-` we are adding to the regexp is actually irrelevant, the important change is that the regexp is changed from the default and so goes from anchored routes into custom routes internally inside of Journey. I think we need

[2016-01-17 19:22] pixeltrix commented on #23090
The error you're seeing would seem to indicate that one of your helper files is defined as a class rather than a module, e.g:

[code]

vs.

[code]

@Rowandish I'm closing this because it appears to be a support issue - if you really think it's a bug and all your helper files are defined correctly then I'll re-open and take another look.

[2016-01-17 19:22] #23090 closed

[2016-01-17 19:30] pixeltrix commented on #23072
@eman8519 can you expand the `Api::V2` definitions to fully nested ones and see if you're still having problems? e.g:

[code]

When you define things inline like `Api::V2` versus nested it affects how Ruby searches for constants so I want to eliminate this as a cause first - thanks.

[2016-01-17 19:35] pixeltrix commented on #23087
@xuxiangyang this is a known limitation of the schema.rb format - if you need to use custom column types or things like triggers, functions, etc. then you need to use a schema format of `:sql`. This can be done by adding the following line to `config/application.rb`:

[code]

The line may be already there and you just need to uncomment it.

[2016-01-17 19:35] #23087 closed

[2016-01-17 19:43] maclover7 commented on #17030
Solved via #23085.

[2016-01-17 19:43] #17030 closed

[2016-01-17 19:49] claudiob commented on #17030
:boom: :boom: :boom: :boom: :boom:
:clap: :clap: :clap: :clap: :clap:
:+1: :+1: :+1: :+1: :+1:

[2016-01-17 20:04] jkopczyn opened #23091 "In date_select tags, :include_blank should not override :default"
This is a long-standing issue, complained about in several other places, but for some reason never on rails directly. See [here](http://stackoverflow.com/a/17188437/4849325) and [here](https://github.com/plataformatec/simple_form/issues/425).

It makes sense for include_blank and prompt to include an implicit default, but if default is set explicitly, :include_blank or :prompt should not override

[2016-01-17 22:54] tawan commented on #22742
Hi,

I attached a PR to master which resolves the issue. The issue is actually present since 15c31c7639b so maybe it would make sense to backport the fix to previous versions. Pls, let me know if I can be of any help.

@jhubert For now, you can circumvent this behaviour by avoiding to invoke `#session_url` on the current instance.Like this:
[code]

This prevents instantiating an `@integration_sess

[2016-01-18 01:01] eman8519 commented on #23072
@pixeltrix I have confirmed that the issue remains even after replacing `Api::V2` with a nested modules structure as you have recommended.

It may be worth mentioning that nested modules is the way I originally constructed my `Api::V2` classes, and only recently changed it in an attempt to workaround this issue.  Let me know anything else I can do to help track this down.

[2016-01-18 02:04] xuxiangyang commented on #23087
@pixeltrix thx~

[2016-01-18 02:22] NeilBetham commented on #22405
I don't have a solution yet. I have got a work around which produces what I would expect given how the other collection selects work. Adding `index: ''` to the options for `collection_check_boxes` prevents it from collapsing the intermediate array in the name.

[2016-01-18 03:15] Ferdy89 commented on #20264
@mrnugget I investigated this a little and found that the reason your last examples work is because the `format` constraint falls under the [segment ones](http://guides.rubyonrails.org/routing.html#segment-constraints) since it's always implicitly part of the path as an optional parameter. These constraints are enforced through generated regexes:
[code]
Note how the first one will also match `/pag

[2016-01-18 08:54] pixeltrix commented on #23019
@Rev3rse thanks for the report. I suspect it's something as simple as we're mutating the path parameters has when building `root_path` - I'll investigate further.

[2016-01-18 09:18] #22876 closed

[2016-01-18 09:57] prathamesh-sonpatki commented on #9679
@cdurante We can't query HStore columns using hash like syntax as of now. Please check this commit - https://github.com/prathamesh-sonpatki/rails/commit/ad08072249f85732abe4de408a0316c6b7bfaa99.

Because the hash like syntax does not work and we have to pass string query to `where` for querying HStore columns, `first_or_create` does not work with HStore columns. Because it expects the arguments to

[2016-01-18 11:10] adamgeorgeson commented on #18826
:+1: for @glaszig explanation on this.

[2016-01-18 17:48] #21500 closed

[2016-01-18 18:47] #22919 closed

[2016-01-18 19:03] Gedrovits opened #23104 "undefined method `dig' for {}:ActionController::Parameters"
Hey, currently this is not considered Hash, so .dig added in Ruby 2.3 is not usable on ActionController::Parameters

Are there plans to support new Ruby 2.3 syntax sugar and speed optimization in Rails 5?

[code]

Workaround is transforming params to regular Hash, which is not looks good to me...

[code]

[2016-01-18 19:09] maclover7 commented on #23104
This is correct behavior -- ActionController::Parameters is not a hash anymore. This means that isn't Ruby or Rails' fault that `dig` doesn't work -- it's just the new way that the public API is structured. See #20868 and #23084 for more details about this change in behavior.

[2016-01-18 19:09] #23104 closed

[2016-01-18 19:21] alexrois opened #23105 "Cannot load 'guard' (LoadError) for Rails 4.2.4"
When running `bundle exec rake test` for Rails 4.2.4 application it has an error: *cannot load such file -- guard (LoadError)*:
![rails-bug](https://cloud.githubusercontent.com/assets/16092409/12400528/46258dec-be29-11e5-8b5f-f9c4bfa7abd8.jpg)

[2016-01-18 19:23] maclover7 commented on #23105
It sounds like this is a third party issue, and not something wrong with the internals of Rails -- check your Gemfile and test_helper.rb to make sure that guard is being properly required.

[2016-01-18 19:23] #23105 closed

[2016-01-18 19:51] pixeltrix commented on #23072
@eman8519 a git repo with a bare bones app that demonstrates the problem would be most helpful - thanks.

[2016-01-18 20:09] vipulnsward commented on #22979
Looks like due to https://github.com/rails/rails/blob/da5acae03266808fdbc9a59f43cf8cf7cf25a24e/actionpack/lib/action_dispatch/middleware/debug_exceptions.rb#L158-L163

@schneems questions is should we do this? With current logging, it gives display of error more horizontal real estate.

[2016-01-18 20:31] schneems commented on #22979
@vijaydev the reason we want tagged logging is so we can find a request, and then search for everything that happened with that request. If those lines aren't tagged, and two exceptions happen at the same time with different line numbers how will we know which backtrace is correct?

[2016-01-18 20:37] vipulnsward commented on #22979
[code]

It shows this for me, which can be referred by id above.
I assume, you are referring to the case, when two different requests flush logs and are interleaved when they get written.

[2016-01-18 20:55] schneems commented on #22979
Yes, the interleaved problem is exactly what request IDs are designed to deal with

[code]

[2016-01-18 21:00] vipulnsward commented on #22979
Got it. Going to work on this.

[2016-01-18 21:02] jmbejar commented on #20666
I'm not longer working on this issue, @maclover7 is tackling this one (as we discussed [here](https://github.com/rails/rails/pull/23062#issuecomment-172633533)) /cc @todd

[2016-01-19 00:36] wtn opened #23108 "Join table regression in 4.2.5"
Duplicate of issue #22584: the change was introduced to 4-2-stable at 799aedc6437aad61a6355917f625da6fd7868d24 and fixed at a6c3376ad0c5dbaf407d332994d07ebc8c91f592.

[2016-01-19 00:40] maclover7 commented on #23108
Would you be willing to do a git bisect to figure out where the errant behavior was introduced? Also, can you create an executable test script to reproduce the error, using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)? Finally, is this an issue on Rails master currently?

[2016-01-19 01:14] wtn commented on #23108
The change was introduced to 4-2-stable at 799aedc6437aad61a6355917f625da6fd7868d24 (cc @senny).

[2016-01-19 01:17] maclover7 commented on #23108
Ok, can you check and see if this error occurs on Rails master, or if it's only introduced for 4.2.5?

[2016-01-19 02:11] Frank004 commented on #20353
Hi I don't want to ignore the warning I want to fix it better? :/

[2016-01-19 02:44] wtn commented on #23108
The issue is only in 4-2-stable. Here's a test script with fixtures that demonstrates the error: [wtn/active_record_fixtures_bug](https://github.com/wtn/active_record_fixtures_bug)

[2016-01-19 03:30] maclover7 commented on #23108
Ok. Would you be willing to send in a PR with a regression test to fix this bug?

[2016-01-19 03:50] wtn commented on #23108
This was fixed in a6c3376ad0c5dbaf407d332994d07ebc8c91f592.

[2016-01-19 04:06] maclover7 commented on #23108
Why did you close the issue?

[2016-01-19 04:18] wtn commented on #23108
This issue was fixed by a6c3376ad0c5dbaf407d332994d07ebc8c91f592.

[2016-01-19 04:18] #23108 closed

[2016-01-19 06:27] pauloancheta commented on #22944
Wasn't this an expected behaviour? With one to one association, passing the `id` is only used for the `#update`.

[2016-01-19 09:59] vipulnsward commented on #22862
Option B, may look out of the way, but it completes the context. So :+1: for it.

[2016-01-19 10:32] #22648 closed

[2016-01-19 10:52] kaspth commented on #22862
Fat fingered, sorry!

[2016-01-19 11:19] #22297 closed

[2016-01-19 16:02] sikachu commented on #23084
This change was to prevent a security issue, since it's pretty fatal if an unfiltered hash get passed to any multi-attributes setter method. Redefining a `method_missing` and sending it to underlying hash really going to create a risk if you somehow ended up getting a plain Ruby `Hash` and not `Parameters` object. It's better safe than sorry.

We were going aggressive on this one due to a risk of

[2016-01-19 17:39] afair commented on #22965
I also ran into this issue. I'll describe it differently to help with future searches.

Submission of any form to Nginx proxying to a Puma unix socket running a Rails 5.0.0.beta1 app responds with:

    Can't verify CSRF token authenticity

and throws:

    ActionController::InvalidAuthenticityToken (ActionController::InvalidAuthenticityToken)

even though the App's CSRF is set up correctly. The a

[2016-01-19 17:54] schneems commented on #23084
Please take a look at PR #23123. I added the deprecation and a few values methods in to the delegate list.

[2016-01-19 18:24] tpbowden commented on #22965
The issue isn't related to Puma and would happen to any web server running behind a web proxy which isn't passing the correct headers through. The way I managed to figure out how this issue was being caused was by following the error down the stack trace.

The root of the issue is the code in `request.origin == request.base_url`, which compares the `Origin` header's value against the base_url whic

[2016-01-19 18:32] synth commented on #20911
+1, I'm experiencing reverse after_commit callback ordering on rails v4.1.14

[2016-01-19 18:46] benbartling commented on #6591
I'm also having this issue. Rails 4.2.3

[2016-01-19 19:04] #23084 closed

[2016-01-19 20:48] maclover7 commented on #6591
Is this an issue on master?

[2016-01-19 20:53] tpbowden commented on #22965
I've just done a bit more research and it is definitely the intended behaviour. It can be disabled in your app config using `config.action_controller.forgery_protection_origin_check = false`. It is enabled by default however.

[2016-01-19 21:00] maclover7 commented on #20911
Can you look into if [these lines](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/callbacks.rb#L139-L144) can be removed, and if not, what purpose they serve? These lines are the only differences between the `before_*` and `after_*` declarations.

[2016-01-19 21:22] nickgnd commented on #22446
Hi @maclover7, I did a little research and I think I've found where the bug is introduced, in `ActionController::TestCase` as I said.

First of all there are many differences between the `4.2-stable` and the current `master` version of `ActionController::TestCase` class.
- `4.2-stable` https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_controller/test_case.rb
- `master` https://g

[2016-01-19 21:31] maclover7 commented on #22446
As long as the bug is not still in master, that's fine. Feel free to submit a PR to 4-2-stable to try and fix the bug if you'd like to.

[2016-01-20 00:58] nartz commented on #22994
where is the right place to suggest something like this? Wouldn't you say that having the same method name have different functionality in different contexts is extremely confusing and non-intuitive, violating the 'principle of least suprises' ?

[2016-01-20 05:18] rafaelfranca commented on #6591
Until we have reproduction steps and confirmation that the issue is really present in recent versions we should keep it closed.

[2016-01-20 05:18] #6591 closed

[2016-01-20 08:43] mrnugget commented on #20264
Thanks for investigating this, @Ferdy89! I think I understand the behaviour now, thanks to your explanation in regards to segment based constraints and request-based constraints. I expected "format" to work with the Request object.

I think reflecting this exception in the documentation would be great.

[2016-01-20 12:09] bluehallu opened #23133 "scaffold generator uses fixture replacement for model tests but not for controller tests"
Using Rails 5 beta 1, factory_girl_rails 4.5
Steps to reproduce:

generate scaffold, the controller test that is generated will have a setup method that relies on fixtures

[2016-01-20 12:22] maclover7 commented on #23133
Can you please provide a sample app to replicate the error?

[2016-01-20 13:26] heaven opened #23134 "Can't add enum field: method already defined by Active Record"
[code]

I do use Rails for many other projects with no issues, but here I do use Observers and have to preload my models.

[2016-01-20 13:29] prathamesh-sonpatki commented on #23134
@heaven It is giving error because you are probably trying to define an enum field named `update`. It conflicts with ActiveRecord's `update` method throwing this error. It is not allowed to use such internal methods in the enum names as it can have unintended consequences.

[2016-01-20 13:32] heaven commented on #23134
@prathamesh-sonpatki the error message clearly says which method name I tried to use ;)

[2016-01-20 13:38] prathamesh-sonpatki commented on #23134
Yeah as per the message by defining enum `action`, it generated method `update!`.  Can you post how you tried to add enum?

[2016-01-20 13:41] kaspth commented on #23134
Sorry, but there's nothing we can do here, you'll have to find another enum value than `update`. Be sure to try StackOverflow where a wider community can help you out, we reserve our issue tracker for bugs only. Thanks!

[2016-01-20 13:41] #23134 closed

[2016-01-20 13:42] heaven commented on #23134
I have an `action:integer` column and simply added `enum :action => %i[create update]`. The nearest place where I can find the `#update!` method is `ActiveRecord::Persistence::ClassMethods`.

Just tried to remove the observer and the error disappeared.

[2016-01-20 13:42] heaven commented on #23134
@kaspth Please next time at least read the description first. And reopen the ticket. Thank you.

[2016-01-20 13:46] kaspth commented on #23134
@heaven I did. It's expected behavior that we warn you if you're trying to generate an enum that clashes with one of Active Record's methods.

You can't have your enum can't use neither `create` or `update` because those are both methods of Active Record. Rename them and they go away.

[2016-01-20 13:48] heaven commented on #23134
@kaspth The error says that I tried to add an enum `action` but the method `update!` already defined by Active Record.

[2016-01-20 13:48] vipulnsward commented on #23134
@heaven I believe the confusion is why the error showed you problem with 'update'
`enum :action => %i[create update]` will try to define `update`, `update?` and `update!` methods.
Ref: https://github.com/vipulnsward/rails/blob/b7cce1c0a92ef88341137290eefd19ef688c175b/activerecord/lib/active_record/enum.rb#L7-L26

These are already defined by AR and hence the error

[2016-01-20 13:49] vipulnsward commented on #23134
I think we an extend the message to include the values from these enum as well.

[2016-01-20 13:50] Sacristan opened #23136 "validation fails for AR if before_validation not returning true"
rails 4.1.5
ruby 2.1.2

When using before_validation :some_method

if this some_method is not returning true -> validation fails. All fields that are validated are present and all validation conditions are

[code]

Stack:
[code]

This is not a big problem for tested applications if last line always returns false - this is immediately found, but in cases where last line returns false in rare cases

[2016-01-20 13:52] kaspth commented on #23134
I don't think we have to extend anything here. We already guide users to their model and the specific enum. That should be enough.

@heaven let me know if @vipulnsward linked lines are enough help. Otherwise I can explain some more :heart:

[2016-01-20 13:55] heaven commented on #23134
Yup, `enum :action => %i[created updated]` worked well, thx. It would be helpful to avoid creation of these methods when defining an enum (as an option). But if the error message at least mention that it will create these helper methods that would be helpful, because I completely forgot about them.

[2016-01-20 14:01] kaspth commented on #23134
@heaven it already does. From your issue description:

😁

[2016-01-20 14:09] heaven commented on #23134
It wasn't clear it will create methods from enum values too. Docs do mention that, but I forgot about this and the error message was looking more confusing than explanatory. I started thinking in other direction and thought it's a loading issue and therefore a bug.

[2016-01-20 14:14] kaspth commented on #23134
`enum` only creates methods from its values, the keys are attributes which Active Record has already generated methods for. I'm not convinced changing the error message will help. As I interpret your comment, the docs are clear. So I'm fine with leaving it at that. Thanks again for the discussion!

[2016-01-20 14:53] seanhandley commented on #22731
@matthewd Do the Rails team have any plans to extract the inflector code out into its own gem?

That way people will be able to pin their inflector gem version in their Gemfiles to preserve compatibility until they can fix their client code.

[2016-01-20 14:59] yogeshjain999 commented on #23136
@Sacristan I think this behaviour is right. If you haven't added any error to `@record.errors`, and by any chance your validator is returning `false`, then `@record` shouldn't be saved.

[2016-01-20 15:00] jcoyne opened #23137 "Can't Pass frozen strings as arguments to Rails::Generators::Actions#gem"
In railties-4.2.5

I get a frozen modification error `can't modify frozen String (RuntimeError)` when I attempt to pass frozen strings to the `gem` method.

I encountered this when adding the new `frozen_string_literal` pragma to my generator.

https://github.com/rails/rails/blob/v4.2.5/railties/lib/rails/generators/actions.rb#L17

[2016-01-20 15:32] prathamesh-sonpatki commented on #9679
`find_or_initialize` will always fail if we pass hash as argument for hstore because we will first try to find the record and *then* initialize new record as per current limitations of querying hstore columns.

[code]

And if we pass string query required for querying hstore columns then `assign_attributes` will complain because we passed string instead of hash.

[code]

cc @sgrif Should the secon

[2016-01-20 15:41] prathamesh-sonpatki commented on #23137
@jcoyne Can you post full stacktrace? I think https://github.com/rails/rails/blob/v4.2.5/railties/lib/rails/generators/actions.rb#L23 may be the issue but can confirm after seeing stacktrace.

[2016-01-20 15:57] fxn commented on #22548
@shlajin hey, just a heads up to say I have not forgotten this issue but need to find a moment to sit down and investigate. Will come back to it.

[2016-01-20 16:29] rafaelfranca commented on #22731
No. There is no plans for that. Even more that you can define your own inflections rules in your applications.

[2016-01-20 17:35] piotrj commented on #23061
I tried to reproduce but couldn't reproduce. I tried both on master rails and on '4.2.5'. Maybe there is something specific in resque configuration.

Here is the script I used: https://gist.github.com/piotrj/fb640c59707fc7387237

@joelpresence can you try and modify that script so that you get the broken behavior.

[2016-01-20 18:06] johnhamelink opened #23141 "structure.sql not working with multiple schema_search_paths defined"
Hi there,

After upgrading postgres from 9.4 to 9.5, and then upgrading rails from 9.4.2 to 9.4.5 (to fix #21931), I'm finding that running `db:migrate` is resulting in an error when multiple `schema_search_path`s are set in `database.yml`. Interestingly, the pg_dump command it provides seems to work - it does create a `structure.sql` file and it returns `0`.

### Example with multiple search path

[2016-01-20 18:35] bbonamin opened #23142 "5.0.0.beta1 --api rendering does not follow `status:` on certain content types"
Sample repo: https://github.com/bbonamin/render-content-type-status-api
(app generated with `rails new --api`)

In https://github.com/bbonamin/render-content-type-status-api/blob/master/app/controllers/status_controller.rb

`render json: {what: 'oops!'}, status: 500`
Renders with 500 Internal Server Error √

`render plain: 'oops!', status: 500`
Renders with status 200 OK (500 is expected)

This al

[2016-01-20 19:02] sblackstone opened #23143 "add_column ignores :limit for mysql2 adapter.."
Passing limit when specifying a column in a create_table block correctly creates the column as bigint, but when you pass limit to add_column, it creates an int..

[code]

[code]

[2016-01-20 19:02] sblackstone opened #23144 "add_column ignores :limit for mysql2 adapter.."
Passing limit when specifying a column in a create_table block correctly creates the column as bigint, but when you pass limit to add_column, it creates an int..

[code]

[2016-01-20 19:02] sblackstone commented on #23144
github gave 404 which caused a dupe.

[2016-01-20 19:03] #23144 closed

[2016-01-20 20:19] magikid commented on #22144
I would like to see this change implemented @sealocal.  Would you mind opening a PR?

[2016-01-20 20:48] kamipo commented on #23143
Looks like that you should use `:integer` or `:bigint` instead of `:int`.

[2016-01-20 21:32] sealocal commented on #22144
@magikid will do!

[2016-01-20 21:49] sgrif commented on #23143
You've specified `int` in your tests, not `bigint`

[2016-01-20 21:49] #23143 closed

[2016-01-20 22:07] sblackstone commented on #23143
@sgrif The documentation for add_column states:

[code]

So at a minimum, its confusing.

@kamipo - It seems you are right, using :integer instead of :int allows it to respect the :limit parameter - but since :int is an alias, I would think it should have the same behavior.

[2016-01-20 22:27] #17556 closed

[2016-01-20 22:32] chancancode opened #23148 "Docs and guides update for #17573"
With #17573, Rails will only generate "weak" etags. We need the following changes to go with that PR:

- [x] Mention this as a (minor) breaking change in the 5.0 release notes (and upgrade guides?)
- [x] Go through the guides and docs to see if anything needs to be updated
- [x] Document how to override this behavior (and add a test, probably)
- [x] Nice to have: briefly explain the difference bet

[2016-01-20 23:11] rafaelfranca commented on #23136
Exactly that. This behavior is changed in Rails 5 though.

[2016-01-20 23:11] #23136 closed

[2016-01-20 23:14] #23069 closed

[2016-01-20 23:40] maclover7 commented on #23142
Failing reproduction script:

[code]

[2016-01-20 23:48] maclover7 commented on #23142
Ran a git bisect, broken commit is https://github.com/rails/rails/commit/38818c93a9959118a87bbdeda16e0766adc67598.

[2016-01-21 00:21] maclover7 commented on #23142
Opened PR to try and solve.

[2016-01-21 01:01] maclover7 commented on #23148
- Opened PR #23151 to solve 1 and 4.
- Regarding 2, I went through docs, and AD's ETag behavior is not in any of the Rails guides or any other documentation that I could find.
- Regarding 3, do we want to have Another Configuration Option, maybe `config.action_controller.weak_etags = false`, to override this behavior?

[2016-01-21 02:33] zerothabhishek commented on #23148
@maclover7 Hey there's a section about Conditional Get support in the [caching guide](http://guides.rubyonrails.org/caching_with_rails.html#conditional-get-support). Should that be a good place to describe Etags in more detail? (I can write a paragraph or so if that's okay with you?)

[2016-01-21 03:23] #23142 closed

[2016-01-21 03:24] maclover7 commented on #23148
Sure, seems like a good place to put an explanation about Rails' new ETags behavior. :+1:

[2016-01-21 05:40] feixionglee opened #23153 "Rails 5.0.0.beta ActionController::Base RuntimeError: Invalid option key: per_form_csrf_tokens="
I create a new project based on rails 5.0.0.beta1, but server cannot start, raise this error
[code]

**Source file: actionpack/lib/action_controller/metal/request_forgery_protection.rb,**
[code]

other config_accessors works except :per_form_csrf_tokens

[2016-01-21 05:56] prathamesh-sonpatki commented on #23153
@feixionglee Per form CSRF token feature was added after Rails 5.0.0.beta1 was released - https://github.com/rails/rails/commit/3e98819e20bc113343d4d4c0df614865ad5a9d3a

So you can't use it in an app that is using beta1 from rubygems. You can use master branch to use this feature for now.

It will be available to use in final release.

[2016-01-21 05:56] #23153 closed

[2016-01-21 06:17] feixionglee commented on #23153
OK, thanks

[2016-01-21 07:03] Sacristan commented on #23136
Im not adding additional validations here, but creating/updating field values - to ensure that they are present on validation.

[2016-01-21 09:17] #22144 closed

[2016-01-21 09:27] vipulnsward commented on #22982
This seems to be the behaviour since it was first introduced  in https://rails.lighthouseapp.com/projects/8994-ruby-on-rails/tickets/5231-print-stack-traces-with-deprecation-warnings and is being caused by https://github.com/vipulnsward/rails/blob/d47438745e34d75e03347b54b604b71b7a92c3ac/actionpack/lib/action_controller/metal/instrumentation.rb#L43

Perhaps hackishly ignore frame with label  `'rea

[2016-01-21 12:01] heptaman commented on #22960
I agree! I have to do this all the time. Maybe we could add options to the generator, like:
`rails g migration ... --foreign_keys --indexes`

[2016-01-21 13:57] CarlosCD commented on #20428
I know the issue was closed some time ago, and there was a fix by @sgrif for the case of `find` and `find_by_id` (issues #17380, #17459), and it was also discussed in detail at #19717. I've just wanted to point out that unfortunately the issue still happens for `where(id: ?)`, generating a 500 instead a 404.

Yesterday someone manually build an URI with a very large id to hit our Rails 4.2.5 site

[2016-01-21 14:01] haydenmellins commented on #23133
Hi,

Please share your more details so that I can able to give you an understanding like app detail. You can msg me.

Thanks,
Hayden

[2016-01-21 14:11] haydenmellins commented on #23075
Hi Nathan,,

I can help you for this and need more details. As I can see you are using postgresql database. Please msg me more details so that give you an understanding.

[2016-01-21 14:12] shakib609 opened #23157 "Getting Started guide should be more informative about :references"
The getting started guide does not explain why it is generating a model with a :references data type column. It should be explained in a bit of details.. Section 6.1
http://guides.rubyonrails.org/getting_started.html

[2016-01-21 14:19] nathansamson commented on #23075
Hi,

I know what the problem is, and my application is currently running nicely and without any problems,

My config included
[code]
Somehow I hoped / thought that .to_i on a blank/nil string would return nil and so the || case would kick in.
This obviously did not happen, and the .to_i returned 0 resulting in the config set to 0.

And from that moment on I got weird exceptions on all page loads.

[2016-01-21 14:28] haydenmellins commented on #23075
Yes, for this I can help you

[2016-01-21 15:01] maclover7 commented on #23157
Feel free to submit a PR!

[2016-01-21 15:04] shakib609 commented on #23157
Ok.. Working on it!

[2016-01-21 15:05] nathansamson opened #23158 "numericality validator should respect allow_blank when only_integer is set"
Reasoning: I will only accept integers, but when users enters nothing it should be accepted as well.
So acceptable values are
* '' (empty)
* 5
Not acceptable values are
* 15.5 (float)
* foo (text)
* 5foo (combination)

when using `validates :a_field, numericality: { allow_blank: true, only_integer: true }` will not accept the empty value because its not an integer. only_integer seems to be too str

[2016-01-21 15:43] d3crypt3d opened #23160 "Rails 4.1.1: caveat, when using respond_to in pair with respond_with"
A nice approach - using respond_to in pair with respond_with:
[code]
But there is a caveat, though - before responding with 406 status, It still performs some of the controller actions: creats, updates and destroys the resource. So, one having requested wrong format, still can delete/update/create the reource.
E. g.
[code]
returns `HTTP/1.1 406 Not Acceptable`, *but* creates a resource!

[2016-01-21 15:57] carsonreinke commented on #18898
Ugh, I've been burned by this.  I am going to try and create something testable.

[2016-01-21 16:02] tinco commented on #18898
Thanks, my apologies that I didn't. It happened to us in a rather stressful situation and I just couldn't find the time to build something to prove that it happens. In my opinion just looking at the code should tell you that it is buggy.

[2016-01-21 16:21] carsonreinke commented on #18898
The problem I am having is that `ActiveRecord::Associations::HasOneAssociation` is only autoloaded after the association is used and not created.  Basically the environment is Resque forking and a thread is started, everything at the point is suppose to be eager loaded.  For some reason in some cases, I get a `NameError`.  It is proving hard to reproduce.

[2016-01-21 18:06] shlajin commented on #22548
@fxn that's awesome, thanks! It does not block me though, but it's always nice to have less bugs in everyday framework :)

[2016-01-21 18:12] samphilipd opened #23163 "Cannot validate presence of parent object when children are created using accepts_nested_attributes_for"
EDIT: < removed reference to closed PR, see test case below >

Basically the problem comes because we are setting `@automatic_inverse_of = false` in `MacroReflection#autosave=`.

I think this may have been intended as an optimization, but it causes the inverse lookup to fail when saving associated records on an un-persisted parent, and leads to a failure of the included test case.

I wanted to gen

[2016-01-21 19:41] mockdeep commented on #13775
Running into this one, too. We've got some workarounds in places, but it's all pretty kludgey. Would be great to get it fixed in rails proper.

[2016-01-21 19:44] egilburg commented on #23158
Would it be different if written as:

`validates :a_field, numericality: { only_integer: true }, allow_blank: true`

Or as this?

`validates :a_field, numericality: { only_integer: true }, unless: :blank?`

[2016-01-21 20:09] vipulnsward commented on #23158
As @egilburg mentioned, `allow_blank` is not an option on `:numericality`. All allowed options [here](https://github.com/vipulnsward/rails/blob/2067fff9e38df4e37bdbfc021cd6bb0c2d393a2a/guides/source/active_record_validations.md#numericality).
For example, this works for me-

[code]

[2016-01-21 20:29] #23074 closed

[2016-01-21 20:39] #23157 closed

[2016-01-21 21:26] bronzle commented on #23137
I'm going to wager a guess the error is caused by: https://github.com/rails/rails/blob/v4.2.5/railties/lib/rails/generators/actions.rb#L26

But, with that said, I think it is unwise (and maybe should be not supported) to be passing frozen strings into rails internals, as I don't believe rails is guaranteeing to not modify arguments passed in. (The same issue would occur without the magic comment,

[2016-01-21 21:30] kaspth commented on #21943
I don't think an unofficial doc link for Rails 3.1 is enough to warrant a change in our docs.

Active Record's relation API underwent major changes in 4.0, part of which was that enumerable methods should be called on a scope, e.g. `Post.all.map(&:titles)`.

Thanks!

[2016-01-21 21:30] #21943 closed

[2016-01-21 21:53] maclover7 commented on #23163
If you're just trying to demonstrate a bug, please create an executable test script using one of the templates found [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates).

[2016-01-21 22:18] samphilipd commented on #23163
@maclover7 Oops, I meant to create the diff into my own master branch, not as a PR into rails master.

Anyway, here is the test script:

[code]

[2016-01-21 22:36] maclover7 commented on #21032
Closed via #23167.

[2016-01-21 22:36] #21032 closed

[2016-01-21 22:43] maclover7 commented on #22673
@davidkuhta Would you be willing to open a PR with the current state of your proposed guide, so comments/recommendations be can provided in an easier way?

[2016-01-21 22:49] maclover7 commented on #22794
Using a sample app I created myself, and using the test script from @alse, I am unable to reproduce the bug you are seeing. Please try upgrading to Rails master and see if you can reproduce again.

[2016-01-21 22:49] #22794 closed

[2016-01-21 23:26] walski commented on #23141
For me this is fixed with d1dcdf21286cb459a422b6b88967d712c75f002a

[2016-01-21 23:36] walski commented on #23141
A workaround is to create this file:

[code]

[2016-01-22 00:33] samphilipd opened #23171 "Bidirectional autosave causes double update on save of parent model"
If we create a child association on a parent, then save the parent where BOTH associations have autosave: true set, identical update statements are issued twice on the parent.

Test case:

[code]

[2016-01-22 00:33] samphilipd commented on #9336
Digging into this today I realized that the only reason this works is because setting foreign_key disables autosave, which is what causes the double save issue.

See issue #23171

[2016-01-22 02:00] hickscorp opened #23173 "Cannot access `owner` from an `has_many` extension method"
Consider this code:

[code]

When called like so: `Exchange.first.ticks.my_assoc_method`, an error occurs:

[code]

[2016-01-22 02:12] magikid commented on #21116
It looks like this may have been fixed in 302e923.

[2016-01-22 02:24] maclover7 commented on #23173
Looking through [api.rubyonrails.org](http://api.rubyonrails.org), I don't think `owner` is a method provided by Active Record -- it's possible this is something internal to your app. If you can reproduce the error using one of the [bug report templates](https://github.com/rails/rails/tree/master/guides/bug_report_templates), please reopen the issue.

[2016-01-22 02:24] #23173 closed

[2016-01-22 02:25] maclover7 commented on #21116
Using the reproduction script above, am able to still reproduce error on master.

[2016-01-22 02:47] davidkuhta commented on #22673
@maclover7 Would be happy to do so.

[2016-01-22 06:58] kaspth commented on #22673
Moved the discussion to #23176.

[2016-01-22 06:58] #22673 closed

[2016-01-22 07:53] lingceng commented on #19614
@palkan is right.
Then, how about moving the `self.target = record` to be above the `record.save`. So we can avoid this problem.

Result in code line following:
[code]

@rafaelfranca

[2016-01-22 08:21] SpacyRicochet opened #23181 "Rails 5 question: Unable to use `rails db:setup` to create Postgres database on OSX"
I want to create a web API service that does location calculations. After some research I found that Postgres would a good database model for that, so I decided to create a Rails API app with Postgres.

After installing postgres with Homebrew and following the instructions to launch it (and add it to the LaunchAgents), I created a new Rails 5 API app and wanted to run `bundle exec rails db:setup`.

[2016-01-22 08:22] pixeltrix commented on #23160
@d3crypt3d the class method `respond_to` and the instance method `respond_with` have been moved to the [responders gem] so the caveat you point out doesn't apply to supported Rails versions so any note/warning PR should be submitted to that repository. Given that, it's always been the case that mime responds aren't a security feature, e.g. the following code is still subject to the same "flaw":

[

[2016-01-22 08:22] #23160 closed

[2016-01-22 08:31] pixeltrix commented on #23181
@SpacyRicochet I've just tried with Rails 5.0.0.beta1 and it created a database fine - are you sure the database is running? Does the socket file actually exist in the temp directory?

[2016-01-22 08:41] SpacyRicochet commented on #23181
This is where my new-ness comes through. Can you help me with checking for these?

[code]

So I _think_ Postgres is running?

And with socket file, I assume you mean `/tmp/.s.PGSQL.5432`? Doing `ls -a /tmp | grep PGSQL` gives me nothing. So no, the socket file doesn't exist.

The startup launch symlinks to the Homebrew postgres plists are installed. And I have launched it with launchctl already as

[2016-01-22 08:50] palkan commented on #21116
@magikid The problem with the test case: we should explicitly tell ActiveRecord which types are TZ-aware:

[code]

And then everything works just fine (on master).

[2016-01-22 09:22] anilmaurya opened #23183 "[Rails-5] uninitialized constant ApplicationCable::ActionCable"
When I create new rails application without active-record

[code]

And start server (`rails s`) then I get this error

[code]

Reason:

In `config/application.rb` action_cable is not required

Solution:

In `config/application.rb`

I added
[code]

Let me know If this is correct solution and you are willing to accept a PR to fix this issue.

[2016-01-22 09:53] Humacsson opened #23184 "Need to specify exact version when installing local gems(Rails Guide)"
In http://guides.rubyonrails.org/engines.html section 2.1.1 and 4.1 we are told to install the engine/gem with the following line in the host projects gem file:

`gem 'blorgh', path: "/path/to/blorgh"`

This line does not work for local gems however, and returns the following error:

[code]
The gem will not be found unless you also specify the exact version of the gem as well like this:

`gem 'blo

[2016-01-22 10:03] prathamesh-sonpatki commented on #23183
@anilmaurya Are you trying Rails 5.0.0.beta1? This issue is not present in master. Here is application.rb generated by skipping `--active-record` on master - https://gist.github.com/prathamesh-sonpatki/e7acee0a02b060209ddf#file-application-rb-L11

[2016-01-22 10:14] anilmaurya commented on #23183
@prathamesh-sonpatki Thank you. I checked and found out that it was `'rails', '4.2.5'`

[2016-01-22 10:14] #23183 closed

[2016-01-22 10:16] renanoronfle commented on #23184
the guide is correct, i create a project and not get error without versions
for example: gem 'rulers', path: '/home/renanoronfle/projects/rulers'
It's working fine

[2016-01-22 10:23] SpacyRicochet commented on #23181
Solved!

*Solution, short version:* The original database in `/usr/local/var/postgres` was created with Postgres 9.4 and homebrew installs 9.5. This causes the server to crap out. I deleted the database directory, reinstalled postgres and this issue seems solved.

*How this happened:* I started preparation for this project in december and followed an 'install ruby, rails and postgres' guide. This

[2016-01-22 10:23] #23181 closed

[2016-01-22 10:50] chrisarcand commented on #23184
@Humacsson Welcome! :)

Indeed, the feature mentioned here is actually a part of Bundler ([documentation](http://bundler.io/v1.11/man/gemfile.5.html#PATH-path-]), not Rails specifically. You do not need to specify the version, so two things you might check are...

* Are you sure you have the right file path?
* A `blorgh.gemspec` file needs to exist, and should have been created with your `rails pl

[2016-01-22 10:55] prathamesh-sonpatki commented on #23184
I just tried with creating an engine and app based on [egine guides](http://edgeguides.rubyonrails.org/engines.html) and including `blorgh` worked. For example locally I had to do `gem 'blorgh', path: './../blorgh/` in my app.

I am closing this is as it's not related to Rails. Thanks everyone!

[2016-01-22 10:55] #23184 closed

[2016-01-22 13:05] prathamesh-sonpatki commented on #23158
Closing this as it's already possible to have `blank` values with numericality validator as mentioned above.

Thanks all!

[2016-01-22 13:05] #23158 closed

[2016-01-22 13:07] prathamesh-sonpatki commented on #23137
r? @rafaelfranca

[2016-01-22 13:12] prathamesh-sonpatki commented on #23141
@johnhamelink Can you try `4-2-stable` branch to see if it works or not? The issue is backported to `4-2-stable` branch as per https://github.com/rails/rails/pull/22345#issuecomment-160680455.

It will also be part of next release in `4-2` series.

[2016-01-22 13:51] renanoronfle commented on #22937
i create new project with equals Gemfile and working.

[2016-01-22 13:58] jcoyne commented on #23137
I'm willing to concede that this is not a bug. I just thought it might be worth raising the issue.

[2016-01-22 14:16] matthewd commented on #23137
Yeah, this is a bug.

[2016-01-22 14:29] msxavi commented on #23137
Are there, perhaps, lacking of changes to work with Ruby 2.3.0?

[2016-01-22 14:54] siakaramalegos commented on #19490
It's definitely still an issue in Rails 4.2.4 - what information do you need to keep this open?

[2016-01-22 15:44] gudata opened #23186 "When psql is missing "rake db:structure:load" should show some error"
The problem might be
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/tasks/postgresql_database_tasks.rb#L99
when invoking or passing Kernel.system(cmd, *args) as param.

[code]

[2016-01-22 15:51] ojab opened #23187 "Setting enum default via ':default' on DB field is broken [bisected]"
[Testcase](https://gist.github.com/ojab/6a5c0853fda1cc37f20b).
If column for enum is created with default value:
in rails master: Model instance is built with field == nil
in rails-before-bad-commit: Model is built with filed == default value.

[code]
ping @spastorino

[2016-01-22 16:11] #22937 closed

[2016-01-22 16:37] maclover7 commented on #23187
Haha @ojab, looks like we both opened up PRs to try and solve this issue. Do you want me to close mine?

[2016-01-22 16:49] davidpdrsn opened #23192 "`rails runner` command with `<(...)`"
In zsh (probably also bash) you can turn the output of a command into a file in memory by using `<(...)`. Example:

[code]

Since this works with the `ruby` command I was expecting it to also work with the `rails runner` command but for some reason it doesn't.

[code]

[2016-01-22 16:56] britg opened #23193 "ActionCable NameError when unsubscribing from a redis-backed subscription"
When a test client disconnects from a redis-backed ActionCable connection the following exception throws:

`There was an exception - NameError(undefined local variable or method `hi_redis_conn' for #<ActionCable::SubscriptionAdapter::Redis:0x007fb1449e2b70>)`

Looks like a simple reference to the connection was not updated.

[2016-01-22 17:03] #23193 closed

[2016-01-22 17:35] yjukaku opened #23195 "Time.use_zone isn't respected if an ActiveRecord object is loaded before the block"
Using Rails 4.2.1 and a mysql2/maria DB

If you load an ActiveRecord object from the database before using a `Time.use_zone(time_zone)` block, and try to `srftime` format that object's timestamp column (eg. `created_at`), then it will not respect the given `time_zone`. However, if you load the ActiveRecord object while inside of the block, it will be respected.

[code]

TBH, I'm not sure if this i

[2016-01-22 17:43] maclover7 commented on #23192
Not sure if we want to support this... cc @kaspth

[2016-01-22 17:48] phlegx opened #23196 "NoMemoryError: failed to allocate memory using BigDecimal .to_s method"
I use **Ruby 2.2.3** and **Rails 4.2.3**. I get an ```NoMemoryError: failed to allocate memory``` using the following code in *irb* console:

[code]

But this example with a more bigger number works:

[code]

Here my question on Stackoverflow: http://stackoverflow.com/questions/34952833/nomemoryerror-failed-to-allocate-memory-using-bigdecimal-to-s-method

[2016-01-22 17:50] victorsosa commented on #22974
Quote from Documentation

[code]

[2016-01-22 17:54] maclover7 commented on #23196
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-22 17:54] #23196 closed

[2016-01-22 18:15] trcarden opened #23198 "retrieve_connection_pool not caching connections for classes correctly"
I am not 100% sure but I think i have spotted a bug within the connection_pool.

[code]

My expectation is that class_to_pool contains the name of the "klass" passed to the function. However for any subclass it will always resolve to the first superclass that has a pool. This defeats the author's comments stating that class_to_pool is a cache and has O(1) lookup times because on subsequent lookups

[2016-01-22 18:24] trcarden commented on #23198
I figured it out. Little tricky but it will get it right. Its because the `class_to_pool[klass.name]` gets evaluated first. Interesting that it will set the cache for both the class in question and for the top most class.

[2016-01-22 18:24] #23198 closed

[2016-01-22 18:25] maclover7 commented on #22871
Feel free to submit a PR adding more error logging. I do think the source of error though is AWS' handling of websockets.

[2016-01-22 18:25] carsonreinke commented on #18898
@tinco What ruby and Rails version did you have this problem?

[2016-01-22 18:54] Sacristan opened #23200 "Add exclude alias to where.not"
This would be a lot more readable if
where.not could have a exclude alias

User.where.not(age: 50)
->
User.exclude(age: 50)

[2016-01-22 18:57] maclover7 commented on #23200
Thank you for the issue but we don't take feature request in the issue tracker. Please read the contributing guides about which is the best channel for them.

[2016-01-22 18:57] #23200 closed

[2016-01-22 18:59] Sacristan commented on #23200
Im truly sorry!

[2016-01-22 19:02] ronyvieira commented on #18828
For Virtualbox i resolved it using rsync for my shared folder...

For vagrant just add this config to your Vagrantfile and it will work fine
[code]

[2016-01-22 19:05] kaspth commented on #23192
We don't take feature requests on the issue tracker, please try the Rails Core mailing list. Thanks!

[2016-01-22 19:05] #23192 closed

[2016-01-22 19:55] evheny0 commented on #22944
But why I can update other models reference with `create` in has_many and can't in one to one?

Also there is a possibility to link models by id through model with `belongs_to` and no through model with `has_one`. It's seems logical to have this possibility for each side of one to one.

[2016-01-22 20:37] vipulnsward commented on #22979
How does this look - https://gist.github.com/vipulnsward/a592a222f8ae3114d725

[2016-01-22 20:39] schneems commented on #22979
That's great, i think that's exactly what we're looking for :heart:

[2016-01-22 21:23] ojab commented on #23187
Yep, since there are basically the same and mine was first.

[2016-01-22 21:29] nbrustein opened #23202 "structure.sql does not preserve permissions for schemas"
My rails project uses two different schemas.  Some activerecord models use the default connection and connect to one of the schemas.  Some other models use a different connection and connect to a different schema using a different user.

All this works fine, except when I run `rake spec`. The reason for that is that `rake spec` uses the structure.sql file to build the database, and that file does

[2016-01-22 22:31] eman8519 commented on #23072
@pixeltrix I've been working on getting the requested bare bones app together, but since this issue isn't consistent it is tough to reproduce it reliably.  I'm trying to find a way to show the issue reliably.  I suppose it could be a configuration issue, or a gem doing something weird, but so far I'm just not sure.

[2016-01-23 00:34] chzbryn commented on #22617
The character encoding in Java is UTF-16, but UTF-8 actually allows for a larger code point (cost) of encoding. Granted the encoding that will actually be used by JRuby can be changed based on the local env variables, would the potential validation gap between the 2 point UTF-16 encoding & the potential 4 point UTF-8 encoding warrant including that in the byte validation using forced encoding for

[2016-01-23 01:05] mrgcohen commented on #19166
Rake reinstall fixed http://stackoverflow.com/questions/33205479/rake-task-using-json-crashes-on-mac-os-x

[2016-01-23 03:40] courtland commented on #5223
Nearly 4 years later I am finally getting around to upgrading from rails 3.2.x to 4.2.x and I can also confirm that this issue still exists to some extent.

As in my original post, am still using a pound load balancer in front of thin web servers. So now with rails 4.2.5, remote_ip in the log is incorrect (shows 127.0.0.1 instead of e.g., 192.168.5.6) as is Request#remote_ip.

The problem with Req

[2016-01-23 04:09] joyvuu-dave commented on #22868
`--skip-action-cable` still causes an error when `--api` option is used.

[code]

Looks like it's trying to remove the main layout, which doesn't exist at this point.
This is using master branch (f3cf476f8cb920bb83ad8c48321d138b0fa55464).

[2016-01-23 04:28] joyvuu-dave commented on #22868
Adding `unless options[:api]` to the end of https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/app_generator.rb#L321 fixes it.

[2016-01-23 04:58] prathamesh-sonpatki commented on #22868
@joyvuu-dave Thanks, fixed it in https://github.com/rails/rails/issues/23205

[2016-01-23 05:04] joyvuu-dave commented on #22868
Doh! Just opened #23206 to do the same thing. You guys are fast! I'll close mine.

[2016-01-23 05:04] prathamesh-sonpatki commented on #22868
@joyvuu-dave Wait, I closed mine :) As you found out the issue, lets keep yours open :smile:

[2016-01-23 11:25] pixeltrix commented on #23195
@yjukaku this is what I'd expect but then I know that accessing the timestamp attribute will convert the DB value to a `ActiveSupport::TimeWithZone` and cache that because it's an expensive operation. I don't see how we could fix this without having to redo the conversion on every attribute read which would be a significant performance hit. There are a few other places in Active Record where this

[2016-01-23 11:36] chirag7jain commented on #20676
I having this issue on rails 4.2.5..

[2016-01-23 12:08] heaven opened #23209 "Has many through polymorphic source inserts from source_type"
I have the next STI:
[code]

The :through association:
[code]

And the next model where I need to add a `has_many` association:
[code]

The key think here is :source_type, which allows this to work. When I do:
[code]

Makes the following wrong insertion (even though the source_type specifies "Feeling", it inserts "ListItem"):
[code]

So then:
[code]

When I call `#count` it looks for records with

[2016-01-23 12:14] heaven commented on #23209
Tried to change my association to this:
[code]
But no luck, it still inserts `ListItem` instead of `Feeling`.

[2016-01-23 14:23] maclover7 commented on #23209
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-23 14:25] heaven commented on #23209
Sure, will do now.

[2016-01-23 14:42] heaven commented on #23209
@maclover7 done: https://gist.github.com/heaven/55416bc2d2d51dfdb511

[2016-01-23 14:56] maclover7 commented on #23209
For me, the only test on master that's failing is checking the `test.feelings.count`. Would you be willing to go source diving a little bit to try and find where this bug is introduced, and how it can be solved?

[2016-01-23 14:58] maclover7 commented on #20676
Can reproduce on master -- the only error I'm seeing is with the last test, where the new `Country` is being created. Would you be willing to do a little bit of some sourcediving and try and figure out where this bug is introduced, and how it can be solved?

[2016-01-23 15:05] heaven commented on #23209
Correct, because when it inserts the record it sets `list_item_type` to `ListItem`, and when it tries to load the association it checks where `list_item_type` is `Feeling`

[2016-01-23 15:19] #23195 closed

[2016-01-23 15:49] sgrif commented on #23187
Fixed by https://github.com/rails/rails/commit/67c1719012506c3387df067961252b5df50a97ce

[2016-01-23 15:49] #23187 closed

[2016-01-23 18:34] AndrewHendrie commented on #23133
This appears to be an issue with the factory_girl_rails gem and not the Rails 5 beta, no?

[2016-01-23 20:14] Ferdy89 commented on #20264
While writing an update to the docs, I realized that in they mention the peculiarity of the `format` parameter in the [section about glob routes](http://guides.rubyonrails.org/routing.html#route-globbing-and-wildcard-segments). That means the original test in this issue could be rewritten as:

[code]

[2016-01-23 20:21] vipulnsward commented on #23186
I see this error.(I manually changed the command from psql to psqls)
[code]

@gudata are you sure you ended up in some error? How did you incur it failed.

[2016-01-23 20:48] chrisvel opened #23214 "[actioncable, activejob] How do I stop a while loop ?"
I am creating a channel that executes an infinite loop and an ActiveJob which prints a message. I want to stop this loop but it seems that it gets its own "thread" and I am not able to, ending in letting it run forever. How do I break this ?

[code]

[2016-01-23 22:34] matthewd commented on #23214
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-23 22:34] #23214 closed

[2016-01-24 01:55] jules2689 opened #23215 "Rails 5 Logging adds extra lines that should not be there"
This is a default application that was created to reproduce the issue.
[code]

The attached image demonstrates the issue I am seeing. It happens on Rails Master and 5.0.0-beta1, with a new application and existing application.

![image](https://cloud.githubusercontent.com/assets/3074765/12533968/1baa48d0-c213-11e5-8baa-fd16fa529004.png)

[2016-01-24 02:02] maclover7 commented on #23215
I believe @schneems has been doing some work on logging, all though not sure if it's related to this. Can you try and create a new app based off of Rails master, and see if this error can still be reproduced?

[2016-01-24 02:20] schneems commented on #23215
You mean the extra white space? I didn't touch anything there. An example app that reprise the problem would be helpful.

[2016-01-24 02:25] jules2689 commented on #23215
Reproduced off of master. Same extra lines.
Here is an app that reproduces it for me: https://github.com/jules2689/Rails5Issue

Literally the only thing I did to make the "app" is:
[code]

Hope this helps!

[2016-01-24 03:28] sgrif commented on #23202
Unfortunately, `structure.sql` relies on the backend for this information. Unless there is an option we can pass to `pg_dump` to enable this that we aren't already doing, this is a problem that would require a fix there.

[2016-01-24 06:08] #23137 closed

[2016-01-24 07:07] vipulnsward commented on #23215
Seems to be caused by https://github.com/vipulnsward/rails/blob/a8aa8b7fc37784b36a41834af0272907bb07eeb8/railties/lib/rails/rack/logger.rb#L35-L36
without it, there's no space in the requests.

[2016-01-24 08:46] vipulnsward commented on #23215
Ahh, I see why this is being caused. Above lines put in 2 newlines per request, so that we can grep them(ref: https://github.com/vipulnsward/rails/commit/1a7049906ee6735bae058e9985a3806d08d9746b)

But since Rails 5, we default to puma server, which is serving multiple assets at a time, due to threads.
Hence, the request are being interleaved and logged like so- https://gist.github.com/vipulnsward/

[2016-01-24 09:55] jayeff commented on #18828
@ronyvieira FYI if you are not aware of this: Rsync is one way only (from host to guest machine). So you maybe need to sync some files from the vagrant box back to your host manually (eg. Gemfile.lock after updating dependencies, schema.rb after running migrations, etc) so that you can keep them under version control.

[2016-01-24 13:58] #18146 closed

[2016-01-24 14:13] nbrustein commented on #23202
How about the a feature request to have a configuration option for turning off rake db:prepare so that we could still run rake spec?  Would that make sense?

[2016-01-24 14:31] phenomen2277 opened #23219 "unsigned ints and possibly 64bits on ids by default"
I do not know if this is a miss but the ids should be generated as unsigned :) I'm a worst case scenario type

[2016-01-24 14:40] maclover7 commented on #23219
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-24 14:40] #23219 closed

[2016-01-24 15:05] schneems commented on #23215
Either we remove those lines or we leave them in. I'm fine with either. When sprockets 4 gets released we no longer serve individual files in development so the problem will be slightly better.

[2016-01-24 15:12] maclover7 commented on #23215
Opened PR #23220 to remove the blank lines. Justification is in commit message. :heart:

[2016-01-24 15:14] vipulnsward commented on #23215
@maclover7 you are fast. Was just about to open one. :grin:

[2016-01-24 15:15] jules2689 commented on #23215
Thank you @maclover7 !
Much easier to read the logs without it :)

[2016-01-24 15:17] maclover7 commented on #23215
:+1:

[2016-01-24 15:24] #23063 closed

[2016-01-24 18:04] #23038 closed

[2016-01-24 18:08] #23209 closed

[2016-01-24 18:30] nathansamson opened #23224 "Numercality validator only_integer is not reliable with decimal storage"
For example look in this gist: https://gist.github.com/nathansamson/d06bd374a6e8ede168ac

Background: I have a field and depending on some other situations the input needs to be an integer, or a floating number.
So I use the only_integer option with a proc checking for this condition.

Saving this once to the database works (as the raw input is validated).
Opening the form again, and saving a seco

[2016-01-25 01:45] shicholas opened #23227 "``reset_column_information`` does not reset ``ActiveRecord::Base#find``"
I am trying to change my primary key from an integer to a uuid, like:

[code]

when I call ``User.reset_column_information`` afterward in a migration and then try using ``User.find("a-uuid")``, I get a database error b/c ``ActiveRecord::Base#find`` is still trying to coerce my uuid string as an integer, e.g. ``PG::InvalidTextRepresentation: ERROR:  invalid input syntax for uuid: "0"``

The migrati

[2016-01-25 02:18] prathamesh-sonpatki commented on #23133
I created a Rails 4.2.5 app and created todo scaffold, it also generated `setup` method with fixtures. This looks like an issue on factory_girl_rails side rather than rails side. Please create an issue on factory_girl_rails repo. I am closing this one.

Thanks everyone!

[2016-01-25 02:18] #23133 closed

[2016-01-25 02:19] prathamesh-sonpatki commented on #23227
Can you please provide a sample application that reproduces the error?

[2016-01-25 02:26] shicholas commented on #23227
sorry about the spam/poor explanation, I was able to debug this, and will try to write a blog post on this soon.

[2016-01-25 02:26] #23227 closed

[2016-01-25 08:21] olegantonyan commented on #21399
Cannot reproduce it with test script.

[2016-01-25 09:48] chumakoff opened #23230 "#simple_format does not work as expected"
The method cuts off the part of a text that goes after '<' sign:

simple_format("one < two")
=>
[code]

related issue: https://github.com/sparklemotion/nokogiri/issues/1419

[2016-01-25 09:59] chumakoff commented on #23230
Rails 4.2.4

[2016-01-25 10:13] pixeltrix commented on #23202
@sgrif I think the problem is that we pass `-O` to pg_dump:

[code]

We've done this forever AFAICS and with good reason - by default PostgreSQL connects as the current user so you'd end up with constant merge conflicts and/or unknown user errors when loading the structure.sql file. However maybe there's a way we could expose args to `pg_dump` via database.yml?

[2016-01-25 10:48] dahu33 opened #23231 "DateHelper add square brackets in input names (non RFC compliant URLs)"
The DateHelper class creates `<select>` tags with names containing `[` and `]` characters. As per my understanding of the [rfc2396](http://tools.ietf.org/html/rfc2396) this is not allowed and these characters must be encoded.

This issue is causing some troubles with some application firewall that blocks non RFC compliant URLs.

Would the right place to fix this issue be here?

https://github.com/

[2016-01-25 11:24] kaspth commented on #23230
https://github.com/rails/rails-html-sanitizer/issues/46#issuecomment-174477326

Thanks! :heart:

[2016-01-25 13:13] southwolf commented on #22594
There's a "default limit" in `activemodel/lib/active_model/type/integer.rb`. Comments imply that changing it might cause problems in MySQL or Postgres. Any ideas?

[code]

[2016-01-25 13:26] ronyvieira commented on #18828
Didn't know about it @jayeff. Thank you! I'll have to double check it when running migrations or updating Gemfile :/ It would be nice if i didn't have to worry about it but it's simply impossible to develop with regular sync. Do you know any alternative?

[2016-01-25 13:33] sblackstone commented on #23231
They aren't illegal characters as far as the forms go.  If you're using <form method="POST"> they would end up in the POST data rather than the URL.  If you're doing <form method="GET"> the browser should escape them for you.  If you're handling them in AJAX then you'll need to take a look at your code and see why they aren't being escaped or escape them yourself.

[2016-01-25 13:47] maclover7 commented on #21399
On Rails master, and on 4-2-stable, I am unable to reproduce the error you are seeing. By commenting and uncommenting the `protect_from_forgery with: :null_session`, this is not causing an visible changes to the tests. I think this is a third part issue with gaffe. Test script I am using can be found [here](https://gist.github.com/maclover7/d1944d33bcd6ef199094)

[2016-01-25 13:47] #21399 closed

[2016-01-25 14:06] ppoektos commented on #5223
Unfortunately this trick doesn't work for me (redmine 3.2, rails 4.2.5, nginx + unicorn) and I'm still getting
[code]

[2016-01-25 14:09] pixeltrix commented on #23231
@dahu33 what @sblackstone says is correct - they even get escaped by the Rails route helpers, e.g:

[code]

Please can you demonstrate in what context that they become unescaped.

[2016-01-25 14:27] remomueller opened #23232 "Is Rails 5 dropping support for PostgreSQL 8.4?"
The `pg v0.18.4` gem "[works with PostgreSQL 8.4 and later](https://rubygems.org/gems/pg/versions/0.18.4)", however, in Rails 5, ActiveRecord makes use of `pg_collation` function which was introduced in PostgreSQL 9.1.

This causes Rails apps to error when connecting to the 8.4 PG database (see error below).

Is PG 8.4 support being dropped intentionally or is this a bug?

This is the code in ques

[2016-01-25 14:34] nbrustein commented on #23202
Ah tricky.  But in my case I would still have the problem you describe for the primary connection.  I would only want the ownership info for SOME stuff.  That's probably too much to ask.

But I still don't see why there is no option to just not use the structure.sql at all.  What is it getting me?  If I just run migrations against my test db then it is all set up and good to go.

[2016-01-25 14:45] pixeltrix commented on #23202
Do you have two different structure.sql files? One for each connection?

[2016-01-25 14:58] nbrustein commented on #23202
I don't have two different structure.sql files.  What I meant by my comment was, just like in the normal rails case, I would not want to include ownership information for the stuff n the 'public' schema.  If I did, then we would run into conflicts between different developers, like you described (though I guess we could solve that by all setting up a special user and using that rather than our loc

[2016-01-25 15:09] yjukaku commented on #23195
Thanks for the update!

[2016-01-25 15:14] gudata commented on #23186
I renamed the psql executable to psqls

[code]

Then just run  rake db:structure:load and there is no error. Maybe this is ruby problem? Which version of ruby you are trying on?

[code]

[2016-01-25 15:23] maclover7 commented on #22931
@ferrettmerr - what ended up being the issue here? Feel free to send in a PR to update docs if that will prevent an error like this from occurring in the future.

[2016-01-25 15:29] vipulnsward commented on #23186
I was on ruby 2.3. Can you ruby 2.2 or something later.
Although I dont see that would affect it.

[2016-01-25 15:49] dhh opened #23233 "Implement new welcome page for localhost:3000"
Implement new welcome page for localhost:3000:

![image](https://cloud.githubusercontent.com/assets/2741/12555860/78082310-c383-11e5-9bfd-b76607d32b3f.png)

We're cutting away needless links and extra data. Just keep it simple. Purpose is just to reflect that Things Work.

Here are the files:

[rails-localhost.zip](https://github.com/rails/rails/files/103431/rails-localhost.zip)

[2016-01-25 15:52] gsamokovarov commented on #23233
I'm around, I can take a stab at this. :-)

[2016-01-25 15:54] shakycode commented on #23233
Beat me to it :+1: Looks good (the landing page)

[2016-01-25 16:10] southwolf commented on #23224
https://github.com/rails/rails/blob/master/activemodel/lib/active_model/validations/numericality.rb#L79

What the `only_integer ` validation does: **convert the value to string, and check if there is anything other than 0-9**
So it will reject numbers like "15.0", "15.0000000000000", no matter how precisely they equals to "15".

[BigDecimal#frac](http://ruby-doc.org/stdlib-2.3.0/libdoc/bigdecimal/

[2016-01-25 16:16] gudata commented on #23186
It also happens with Ruby on Rails in Docker container FROM ruby:2.2.3

I also tried on ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]  and on some other computer with ruby 2.0.

[2016-01-25 16:25] nateless opened #23236 "Action Cable thread leak? Process freeze."
Hey guys,

Was playing with AC on the beta1, it's a simple app and does nothing ( just started to work on it ) it's been good for some time then I got distracted for an hour or so and it just ping\ponged itself. However when I refreshed browser it was not able to connect to WS, I've tried to ctrl+c AC's app, but it failed. Had to kill -9 it.

I've put a code to dump all threads trapping USR2, and

[2016-01-25 16:27] ttrmw commented on #15185
@dmgr your monkey patch seems to break eager_load? I get: `ArgumentError Exception: wrong number of arguments (1 for 2)`.

[2016-01-25 16:38] nathansamson commented on #23224
Note that I believe it should reject the number "15.0" (or at least my testing lead believes so) so in that matter the current validation works well...

What the problem is that the user sees the input 15, which is send through the form. But since "15" == 15.0 coming from the database it validates based on the value from the database (which is 15.0 the decimal) which is converted to "15.0" which d

[2016-01-25 16:41] maclover7 commented on #23236
cc @matthewd

[2016-01-25 18:09] gudata commented on #23186
Here is a how to reproduce with Docker
Get the [Dockerfile](https://gist.github.com/gudata/0ef1cb87e30c365f508b)
buld with

    docker build --rm=true --tag=psql_missing .

run some postgres container

    docker run --name psql_missing_postgres -e POSTGRES_PASSWORD='' -d postgres

run the rails app with set to use pg gem and structure.sql

    docker run -t -i --rm=true  --link psql_missing_postg

[2016-01-25 19:05] kv109 commented on #21501
It is still an issue. Reproduction script:

[code]

Result:
[code]

My PR: https://github.com/rails/rails/pull/22243/

[2016-01-25 19:28] tommiller1 opened #23240 "saving an association causes all unsaved associations to be saved"
Hello,

I have the following:
class Link has_many :uploads...
class Upload belongs_to :link...
@upload1 = @link.uploads.new file: File.open(Rails.root.join("test/files/test.jpg"))
@upload2 = @link.uploads.new file: File.open(Rails.root.join("test/files/test2.jpg"))

I am calling 'new' on the @link.uploads so I dont have to set 'link_id' manually however it seems to cause 2 issues:

1. @link.upload

[2016-01-25 19:51] georgemillo opened #23241 "Trying to save a column with a type mismatch raises "Stacklevel too deep" error instead of failing gracefully."
This occurs on master (as of 6dfab475ca23) but doesn't seem to be occurring in 5.0.0.beta1.

Simple demo (assuming a model called `Model` with normal timestamps).

In 5.0.0.beta1:

[code]

So far, so expected. But on 6dfab475ca23:

[code]

Note that this isn't caused by the `save` method *per se*, rather it's coming from whatever is being used to read/display created_at. E.g. I get the same error

[2016-01-25 20:06] maclover7 commented on #23241
Not able to reproduce with [this test script](https://gist.github.com/maclover7/5438c39e9ae4eed1fdee). Could you make a test script using one of the templates [here]() which reproduces the error you are seeing?

[2016-01-25 20:06] maclover7 commented on #23241
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-01-25 20:08] maclover7 commented on #23240
I believe the proper syntax is `@link.uploads.build`. For a full list of methods provided by Active Record regarding associations, you can go [here](http://guides.rubyonrails.org/association_basics.html#has-many-association-reference).

[2016-01-25 20:08] #23240 closed

[2016-01-25 20:31] erikse opened #23243 "Rails 4.2.5.1 and ActionView::Resolver sub-class - ArgumentError: wrong number of arguments (5 for 4)"
I'm seeing this exception since bumping to Rails 4.2.5.1.

Seems like this [call](https://github.com/rails/rails/blob/4-2-stable/actionview/lib/action_view/template/resolver.rb#L116) and [here](https://github.com/rails/rails/blob/4-2-stable/actionview/lib/action_view/template/resolver.rb#L122) are passing 5 args, but the method arg list is still [4](https://github.com/rails/rails/blob/4-2-stable/a

[2016-01-25 20:33] tommiller1 commented on #23240
Just tried it with build instead of new. Same issues, is it supposed to be like this?

[2016-01-25 20:36] maclover7 commented on #23240
No, I believe this is the intended behavior. The only way to persist data to the DB to call `save`, `update`, etc. Calling `.new` and `.build` will just "build" your data.

[2016-01-25 20:39] maclover7 commented on #23243
I believe it's setup so that way subclasses can override the `find_templates` method, and provide the request behavior. cc @tenderlove

[2016-01-25 20:40] georgemillo commented on #23241
Strangely, I can't replicate it with a test script either, but [here's a basic app](https://github.com/georgemillo/rails-issue-23241-demo) that replicates the error.

Pull it, open up the console and try `m = Model.new(created_at: [Time.now])`.

Just to confirm, I'm getting this error with Ruby MRI 2.3.0 on a Mac, and that app is loading Rails at commit `6dfab475ca23`.

[2016-01-25 20:40] kaspth commented on #23240
`build` is an alias of `new` :)

Yes, there's a catch. If an unpersisted record is saved then any unpersisted associations are persisted too. But it is the intended behavior.

[2016-01-25 20:46] maclover7 commented on #23241
Confirm error is occurring. Looking into right now.

[2016-01-25 20:47] matthewd commented on #23241
@sgrif I haven't actually looked at this yet, so forgive me if I'm jumping the gun, but.. arrays + datetimes = https://github.com/rails/rails/commit/302e92359cc88258ae15a82454c58408a4b8157e, maybe?

[2016-01-25 20:50] todd opened #23244 "Rails 4.2.5.1 Breaks render file in RSpec"
Updating to 4.2.5.1 started giving us failures in our test suite when calling our method for manually rendering a 404. It appears everything works correctly in the actual app itself. Not sure if this is a Rails or RSpec issue. Using rspec-rails 3.3.3.

Here's the code in question.

[code]

EDIT: Sorry, I forgot the test output.
[code]

[2016-01-25 20:50] jcoyne opened #23245 "Undefined method `cache`. Regression in 4.2.5.1"
This line:
[code]
raises:

[code]

[2016-01-25 20:50] ankugarg opened #23246 "llklklkl"
l;l;l

[2016-01-25 20:50] #23246 closed

[2016-01-25 20:51] maclover7 commented on #23241
^ +1 to @matthewd, when I use Rails at commit c1a1595740b243bed02f5e59090cc58dac77bbf3 (commit right before https://github.com/rails/rails/commit/302e92359cc88258ae15a82454c58408a4b8157e), everything's fine, but then https://github.com/rails/rails/commit/302e92359cc88258ae15a82454c58408a4b8157e causes the error. This is not caused by the sec work that landed today.

[2016-01-25 20:52] tommiller1 commented on #23240
`class Hotel
	has_many :rooms
end

class Room
	belongs_to :hotel
end

test "FAILS calling save on an object should only save that object to the db"
	@hotel = hotels(:first)
	@room1 = @hotel.rooms.build number: 101
	@room2 = @hotel.rooms.build number: 102

	assert @hotel.rooms.count == 0
	assert @room1.save
	assert @hotel.rooms.count == 1	# this is failing cus both @room1 and @room2 get saved so co

[2016-01-25 20:53] maclover7 commented on #23245
Duplicate of #23244.

[2016-01-25 20:53] #23245 closed

[2016-01-25 20:56] kaspth commented on #23240
There's more info for you here: http://guides.rubyonrails.org/association_basics.html — see the When are Objects Saved? sections.

[2016-01-25 21:01] maclover7 commented on #23244
Thank you for opening! Investigating.

[2016-01-25 21:05] erikse commented on #23243
Ok, I can see further down in the file in PathResolver what the extra arg does - thanks!

[2016-01-25 21:09] tommiller1 commented on #23240
Thanks but thats not my issue, I know 'build' is not supposed to save the associated object (I dont expect it to either). My issue is, as you said previously, that ALL unpersisted objects are saved if you call 'save' on any ONE of them. I dont think this should be the intended behavior as its quite misleading. Anyway this can be closed, doing Object.new and setting the id for the belongs_to object

[2016-01-25 21:09] maclover7 commented on #23244
Looking into this further, and it looks like an RSpec bug to me -- I am able to render the file just fine in the browser, but when I introduce RSpec into the mix, it's causing errors for me. Would you mind opening up a Github issue on RSpec's repository?

[2016-01-25 21:10] todd commented on #23244
Sure. I'll reference this issue.

[2016-01-25 21:10] maclover7 commented on #23243
Cool - do you mind if I close this ticket?

[2016-01-25 21:12] #23244 closed

[2016-01-25 21:12] maclover7 commented on #23244
:+1: thanks @todd!

[2016-01-25 21:15] erikse commented on #23243
Not at all

[2016-01-25 21:17] #23243 closed

[2016-01-25 21:22] marten commented on #23243
Actually, I would really appreciate it if a security patch release would not break this. Or at the very least the `find_templates` method in Resolver should probably be adjusted to take 5 args so that it's even able to raise it's own NotImplmented exception.

[2016-01-25 21:28] maclover7 commented on #23243
@marten - I think the only reason why this wasn't caught sooner, is because the tests we have in our test suite didn't have picked this up. Feel free to submit a PR to work on this!

[2016-01-25 21:48] cntrytwist opened #23248 "Rails 3.2.22.1 actionpack-3.2.22.1/lib/action_view/template/resolver.rb:113 syntax error, unexpected ':', expecting kEND"
This error comes up when I attempt to run: rails s
So, to troubleshoot, I created a brand new blank app. Yes, it starts up just fine. Next step was to create a controller and a view. So I added the hello_controller.rb with the index method. Yes, I did put the proper route in the routes file.
Now it generates the following error when I attempt to access that hello index method.
Is there something I

[2016-01-25 21:55] simi commented on #23248
https://github.com/rails/rails/commit/18269d250fa58001ce7d8318571546aa90412975#commitcomment-15662448

[2016-01-25 21:56] maclover7 commented on #23248
Yikes, not sure if this falls under our maintenance policy. 3-2-stable only receives security fixes, but not bug fixes. Bug fixes related to security fixes is a gray area for me... cc @tenderlove @rafaelfranca

[2016-01-25 22:42] immae opened #23249 "undefined method cache for nil:NilClass in `actionview/lib/action_view/template/resolver.rb`"
In `actionview/lib/action_view/template/resolver.rb`, a private method `cached` is called in `find_all_anywhere`, but this method is a method that requires an instance variable @cache to be defined (which is initialized in another class class), and is not initialized here, thus the error raised.

[2016-01-25 22:47] maclover7 commented on #23249
Duplicate of #23248.

[2016-01-25 22:47] #23249 closed

[2016-01-25 22:48] rjhancock commented on #23248
I wouldn't call it a regression but as it's a bug fix to a security patch I think it falls under a need to fix.

I have a legacy app that I'm desperately trying to get it up to a newer version of Ruby but due to Unicode requirements having major issues between how 1.8.7 and 1.9.3 handle it.

[2016-01-25 22:49] tenderlove commented on #23248
Yes, we will fix this and release a new patch level version.

[2016-01-25 22:49] tenderlove commented on #23248
Also, if someone could send a PR that fixes this on 1.8, I'd happily merge and cut a new release. Getting 1.8 installed on my machine is not easy.

[2016-01-25 22:49] immae commented on #23249
It doesn't look like a duplicate of #23248 to me?

[2016-01-25 22:52] simi commented on #23248
I'm on it.

[2016-01-25 22:55] tenderlove commented on #23248
@simi thank you! 🙇🙇🙇🙇🙇🙇

[2016-01-25 23:18] tkrajcar commented on #23248
thanks @simi and @tenderlove! Those of us down here still in the 'we still support 1.8' dungeon sure appreciate it :bow: :smiley_cat:

[2016-01-25 23:43] pmueller commented on #23249
I am affected by this as well, on ruby `2.2.3` after upgrading rails from `4.2.5.0` to `4.2.5.1`. I think this may be different from #23248, @maclover7

[code]

[2016-01-25 23:50] maclover7 commented on #23249
If anyone is seeing any RSpec failures, please see this PR for further review: https://github.com/rspec/rspec-rails/pull/1533

[2016-01-25 23:51] pmueller commented on #23249
Thanks!

[2016-01-26 01:28] reidcooper opened #23253 "wrong number of arguments (5 for 4) Rails 4.1.14.1"
I have upgraded our rails to 4.1.14.1 and its dependencies however when I try to render a file,

[code]

the render action reports a wrong number of arguments (5 for 4) error. What could be why all of the sudden, this version of rails does not want to find the file? I know that this works with our prior version of Rails, 4.1.11, and the Rails docs are saying that my render is legal.

Edit: When I

[2016-01-26 01:40] maclover7 commented on #23253
Yes, this is introduced as apart of the security fixes today. Rails 4.1.14.2 is scheduled to come out soon with a fix for this. To help things move along faster, you can try and open up a PR to backport the changes in [this PR](https://github.com/rails/rails/pull/23247) to the 4-1-stable branch.

[2016-01-26 01:44] reidcooper commented on #23253
Okay thank you, I thought I was going insane.

[2016-01-26 02:09] #23248 closed

[2016-01-26 02:13] cntrytwist commented on #23248
@simi @rafaelfranca @tenderlove You all are the best. Thanks for your excellent and timely work.

[2016-01-26 03:06] maclover7 commented on #23253
@reidcooper Can you provide a sample application to reproduce the error you are seeing? Based on a vanilla Rails app, I am unable to reproduce the `ArgumentError` you are seeing. I think that one of the dependencies you have specified in your Gemfile is relying on behavior that was changed in a breaking change in `4.1.14.1`.

[2016-01-26 03:07] jguthrie100 commented on #23091
Is this definitely supposed to be changed..?
I've made a fix, but at the moment there is a testcase that specifically tests to check that the `:default` value is over-ridden by `:include_blank` (which obviously fails with my fix), which I presume means at some point that was the intended behaviour.

`DateHelperTest#test_include_blank_overrides_default_option [/rails_dev/rails-dev-box/rails/actionv

[2016-01-26 03:25] reidcooper commented on #23253
At the moment I am not at my computer until tomorrow but, I have Jasmine specs using some fixtures that I need to load in. I have them located in specs/javascripts/fixtures. In my routes, I have a explicit route with a parameter at the end to say which file I want to grab from the fixtures folder, specs/javascripts/fixtures/:id which routes to this controller action. This action should just displa

[2016-01-26 03:56] jkopczyn commented on #23091
I noticed that test, which is why it is changed in this pull request. I cannot conceive of what reason there might be for this behavior.

[2016-01-26 04:41] allenwq opened #23254 "[4.2.5.1] NoMethodError: undefined method `cache' for nil:NilClass"
[code]

The above code works fine on 4.2.5, but after upgrade to 4.2.5.1, I get the following exception.
Basically `@cache` in the `resolver` is `nil`

[code]

[2016-01-26 04:49] Thalagyrt commented on #23254
Seeing this as well in 4.1.14.1

[2016-01-26 04:53] allenwq commented on #23254
After further inspection, this seems to be a RSpec issue,  their `RSpec::Rails::ViewRendering::EmptyTemplatePathSetDecorator` is not updated.

[2016-01-26 04:53] #23254 closed

[2016-01-26 05:16] TangMonk opened #23257 "Rails generate incorrect asset path with 'config.assets.compile = false'"
I generate a new rails 4.2.4 application, and run it in production, but the assets path generate incorrect. Please notice the follow picture.

I am create an empty project with rails_admin for test:
![afab6934-cc48-4f91-836c-ac92b6179f89](https://cloud.githubusercontent.com/assets/3498786/12573040/f05088e8-c42e-11e5-884e-62769c557201.png)

it not generate assert prefix with '/assets' and even thou

[2016-01-26 05:27] rafaelfranca commented on #23257
If the assets was not precompiled in the precompile phase that is the correct path of the asset. Make sure this asset is being precompiled.

[2016-01-26 05:27] #23257 closed

[2016-01-26 06:06] dahu33 commented on #23231
Thanks for your feedback. Indeed what @sblackstone says is correct. After reviewing the code I've found that the bug wasn't in rails but in our application... Sorry for the false alarm!

[2016-01-26 06:06] #23231 closed

[2016-01-26 06:58] pixeltrix commented on #23236
@nateless we've made some significant changes to how Action Cable works like removing Celluloid and Event Machine - can you retest that with the current master branch?

[2016-01-26 07:16] chumakoff commented on #23230
It seems to be that on https://github.com/sparklemotion/nokogiri/issues/1419 they are not going to solve the problem. But this issue is appeared on different servers and operating systems. Will you leave it as it is ?

[2016-01-26 07:34] kjohnston commented on #23244
Thanks for opening, this bit me too.  The monkey patch in the referenced RSpec issue is working for the interim, looks like they'll have a bug fix out soon.

[2016-01-26 07:53] gingerlime opened #23258 "undefined method `cache' for nil:NilClass in ActionView after upgrading to 4.1.14.1"
we're getting an error in one of our specs after applying the latest security update in 4.1.14.1 (which prevents us from applying the update on our production unfortunately)

Here's a trace from running the spec. It happens even if we remove cache directives inside the view. Not sure what else to test or other details to provide to reproduce this.

[code]

Caching is turned off on our test environ

[2016-01-26 07:53] gingerlime commented on #23258
might be (loosely) related to #23253 ?

[2016-01-26 08:00] vipulnsward commented on #23258
@gingerlime this is related to https://github.com/rails/rails/issues/23244
Can you confirm you are on rspec?

[2016-01-26 08:01] gingerlime commented on #23258
yes, I'm using rspec

[2016-01-26 08:02] vipulnsward commented on #23258
Cool, going to close, this bug is on rspec, you can follow it here - https://github.com/rspec/rspec-rails/issues/1532

[2016-01-26 08:02] #23258 closed

[2016-01-26 08:03] gingerlime commented on #23258
Ok, thanks for clarifying!! so looks like it should be safe to deploy the security updates on production :)

[2016-01-26 08:05] vipulnsward commented on #23258
Yup. You can verify if all's good for you with this patch- https://github.com/rspec/rspec-rails/issues/1532#issuecomment-174679485

[2016-01-26 09:41] reiz opened #23259 "uninitialized constant AbstractController::Rendering::ActionController with Actionmailer 4.2.5.1"
I'm using in one of my Gems Actionmailer as standalone dependency. This morning I updated from 4.2.5 to 4.2.5.1 and now my test cases are failing with this kind of exceptions:

[code]

If I downgrade back to 4.2.5 the tests are working again. Any idea what's going on here?

[2016-01-26 09:44] prathamesh-sonpatki commented on #23259
@reiz Thanks for the issue. It's already reported and being worked upon here  - https://github.com/rails/rails/pull/23242. Closing this issue in favor of #23242.

[2016-01-26 09:44] #23259 closed

[2016-01-26 09:47] reiz commented on #23259
Thx.

[2016-01-26 10:38] jayeff commented on #18828
@ronyvieira We use the standard synced folder from VirtualBox for Rails. This works fine for our use case and project size. Maybe you could use [NFS](https://www.vagrantup.com/docs/synced-folders/nfs.html) or [Unison](https://github.com/dmatora/vagrant-unison) for better performance. But I do not have experience with them.

[2016-01-26 11:24] RagunovichVlad opened #23261 "Cannot validate associated model on custom context"
When we try to validate associated model with `validates_associated` on custom context, we get `true` on the first call of method `valid?(:my_context)` and get `false` on the second call method `valid?(:my_context)`.
If we place `accepts_nested_attributes_for` before validation validation works wrong, but if we place  `accepts_nested_attributes_for` after validation validation works good.

[code]

[2016-01-26 11:28] jasonfb commented on #23253
hey guys -- I think it is this: https://github.com/netzpirat/haml_coffee_assets/issues/146

@reidcooper @maclover7

[2016-01-26 11:32] Azdaroth opened #23262 "undefined method `cache' for nil:NilClass for Rails 4.1.14.1"
I've just update update Rails version from `4.1.14` to `4.1.14.1` and have an error in controller:
[code]
In controller I render some file:
[code]
and the path to this file is `Rails.root/app/views/some/file.html.erb`

I think it may have been caused by this commit, but I'm not entirely sure: https://github.com/rails/rails/commit/be543e8e18246d5c2faa336eb3c0a03b797f3517.

Any ideas?

[2016-01-26 11:33] vipulnsward commented on #23261
Thanks for the reproduction script. Confirming that this fails on master.

[2016-01-26 11:35] vipulnsward commented on #23262
Hi @Azdaroth thanks for reporting. This is related to https://github.com/rails/rails/issues/23254 , https://github.com/rails/rails/issues/23258, https://github.com/rails/rails/issues/23245 etc.
This is an rspec specific issue. Please refer to https://github.com/rspec/rspec-rails/issues/1532#issuecomment-174679485 for resolution.

[2016-01-26 11:35] #23262 closed

[2016-01-26 11:37] jasonfb commented on #23253
FYI-- I checked the interim versions of rails, this appears to come from 4.14.12. also present in 4.14.13 and 4.14.14

[2016-01-26 11:37] Azdaroth commented on #23262
Awesome, thanks for such fast response!

[2016-01-26 11:49] RagunovichVlad commented on #23261
@vipulnsward I want to try to fix it by myself and it will be good if you point me where may be bug

[2016-01-26 11:54] vipulnsward commented on #23261
Great. You can start at https://github.com/vipulnsward/rails/blob/4642d68d8021893c69bfd16ed6e926ae03a6d777/activemodel/lib/active_model/validations.rb and check validation_context. First check if this actually the expected behaviour, and if not, what maybe the case.

[2016-01-26 12:05] jasonfb commented on #23253
@reidcooper @maclover7 -- Sadly (and oddly) it is come to my attention that the maintainer of the Gem in question passed away in April 2014. I will follow-up with GH about their repo abandonment process. In the meantime I have made our available here: https://github.com/mackweldon/haml_coffee_assets

[2016-01-26 12:06] marutosi commented on #23248
Please release 3.2.22.2.
http://www.redmine.org/builds/logs/build_2.6-stable_postgresql_ruby-1.8.7-p358_110.html

[2016-01-26 12:25] maclover7 commented on #23248
@marutosi - this will be fixed in an upcoming release of 3.2.22.2, coming out soon.

[2016-01-26 12:25] tolgap opened #23263 "Updating Rails to 4.1.14.1 introduces the concurrent-ruby gem into my Gemfile.lock and seems to break my app"
I am using JRuby `1.7.12` in `1.9.3` mode, running a Rails app on version `4.1.13`. With the recent security vulnerabilities I set out to upgrade the app to `4.1.14.1`. All of my specs are green before upgrading.

I increment the `rails` version in my Gemfile

[code]

And I run `jruby -S bundle update rails`. Out comes this diff from my Gemfile.lock:

[code]

As you can see, I suddenly have the `c

[2016-01-26 12:26] maclover7 commented on #23253
:+1: ok -- best of luck with updating your gem :)

[2016-01-26 12:26] #23253 closed

[2016-01-26 12:28] maclover7 commented on #23263
I think this is related to this RSpec bug and pull request, closing https://github.com/rspec/rspec-rails/pull/1533. Not sure why concurrent-ruby was introduced here for the first time, cc @tenderlove

[2016-01-26 12:31] tolgap commented on #23263
@maclover7 thanks for the speedy response, and a solution for the spec failure :+1: Glad that issue is on Rails' side.

[2016-01-26 12:35] maclover7 commented on #23263
It looks to me like somehow some changes from the 4-2-stable got included in the release, by the looks of it. Investigating...

[2016-01-26 12:54] maclover7 commented on #23263
@tolgap Just checked on the [version page for 4.1.14.1 on Rubygems.org](https://rubygems.org/gems/rails/versions/4.1.14.1), and looks like concurrent-ruby is not a declared dependency of rails, or activesupport, etc. I'm thinking about marking this as a third party issue, since I'm not really sure where the concurrent-ruby dependency is being introduced... Can you try and look at the gems in your

[2016-01-26 13:30] flavorjones commented on #23230
Nokogiri is operating as expected here. Not sure there's anything anyone can do about invalid HTML being treated as invalid HTML by an HTML parser.

My reading of `simple_format`'s docs indicate that it's intended to accept **text**, and transform it into HTML. In that case, I'd argue that the `text` parameter should be HTML-escaped before being treated as HTML. @kaspth can you tell me if I'm misu

[2016-01-26 13:34] ronyvieira commented on #18828
@jayeff I'll try it :) thanks again.

[2016-01-26 13:39] tolgap commented on #23263
@maclover7 I upgraded to `4.1.14.1` and committed to VCS without including `concurrent-ruby`. Then I removed the project from my disk. After removing the project completely from my disk, and re-cloning it from VCS, running `jruby -S bundle install`, I do not see `concurrent-ruby` showing up.

I checked which dependencies could depend on `concurrent-ruby`, I found the following two: `rack 2.0.0-alp

[2016-01-26 14:00] maclover7 commented on #23263
I'd say to try and create a new vanilla Rails app using the version you were on before the sec version, commit thar, and then try the sec upgrade. If it doesn't show concurrent-ruby at that point, I'm not sure what's up.

[2016-01-26 15:28] evandavis commented on #19001
This is still happening for me with 4.2.5; if I run a migration, I get `limit: 4` on my integer fields even though my DB has them set to 11.

[2016-01-26 15:44] rubiii opened #23264 "mysql2 Adapter always adds DateTime precision to queries."
Not sure if I’m right, but I think the mysql2 adapter should check whether DateTime fields have any precision instead of just [always adding it](https://github.com/rails/rails/blob/v4.2.5.1/activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb#L79). Or maybe it doesn’t even need to, because [ActiveType already handles this](https://github.com/rails/rails/blob/v4.2.5.1/activerecord/l

[2016-01-26 15:48] domcleal opened #23265 "Cached counter updated twice when reassigning association on persisted model"
Cached counters on a belongs_to association of a model (e.g. Comment) are being updated twice when the model is reassigned after first being created and loaded back from the database.

Example:

<pre>
class Post < ActiveRecord::Base  #domain
  has_many :posts
end

class Comment < ActiveRecord::Base  #hg
  belongs_to :post, :counter_cache => :comments_count
end

class BugTest < Minitest::Test
  def

[2016-01-26 15:59] rubiii commented on #23264
Just tried using Arel and noticed you can work around the problem via:

[code]

I think this is still a problem though. At least it’s not working as expected.

[2016-01-26 16:11] benliscio opened #23266 "Polymorphic has_one has_many issue"
Hi,

Please see the following gist for details: https://gist.github.com/benliscio/9ad3fb597b04b2cb9f05

I'm not sure if the bug is:

1) `comment.subject_id` should update
2) `comment.subject_type` is not updating.

Thanks!

[2016-01-26 16:15] pixeltrix commented on #23263
@tolgap Sprockets 3.5.0 introduces concurrent-ruby as a dependency - you should be able to stick to Sprockets 3.4.1 if you don't want to add it to your bundle.

[2016-01-26 16:15] #23263 closed

[2016-01-26 16:27] matthewd commented on #23230
`simple_format`'s expected behaviour is ambiguously defined, I think.

What it *actually does*, unless it's instructed otherwise, is pass the given string through `sanitize` -- that is, it treats its input as [untrusted, by default] HTML, only with significant newlines. But the documentation doesn't make that clear.

I suspect this dates back to before we added HTML safety to strings: when, apart

[2016-01-26 17:43] maclover7 commented on #23266
Thanks for submitting this report! Would you be willing to do a little bit of source diving into ActiveRecord, to try and investigate this?

[2016-01-26 17:45] maclover7 commented on #23264
What would a patch for this look like?

[2016-01-26 17:46] maclover7 commented on #23265
What would a patch for this look like?

[2016-01-26 18:36] tolgap commented on #23263
@pixeltrix I have sprockets 2.1.14 in my lock, not sprockets 3.5.0. I mentioned not matching the version constraints.