[2018-09-27 22:50] #33999 closed

[2018-09-27 23:03] y-yagi commented on #33998
This is expected behavior.
If there is a layout file that does not explicitly specify MIME, it will be used for all MIME types. Please change the file name appropriately.

[2018-09-27 23:03] #33998 closed

[2018-09-27 23:31] y-yagi commented on #21484
Fixed by #31604.

[2018-09-27 23:31] #21484 closed

[2018-09-28 01:00] #29473 closed

[2018-09-28 01:13] renyijiu commented on #26835
@Genkilabs I think we can reopen the issue. Let other people know this issue still exists so they can avoid the same situation before the issue is fixed.

[2018-09-28 04:10] tlbiz commented on #33741
:thumbsup: :+1:

[2018-09-28 04:45] ycherniavskyi commented on #33477
@netmanbworker, I'm not sure that your error has any relation to the current issue.
This issue was about processing js files from the odd location. But your error seems is about some encoding problem. In any case, there is not enough context to reproduce your situation - it is better to create a separate issue with detailed reproduce instruction.

[2018-09-28 06:49] Edouard-chin commented on #34008
Looks like this behavior changed purposely many moons ago https://github.com/rails/rails/commit/6503da69910beb382b18127c51cd318631245607

I can't find the reason for that. Removing the call to `round` doesn't seem to affect the test suite except the two [assertions](https://github.com/rails/rails/commit/6503da69910beb382b18127c51cd318631245607#diff-00e7cdc87edbc5babf572558d2e72411R115) added in th

[2018-09-28 09:58] utilum commented on #33240
This issue still reproduces on master.

[2018-09-28 11:38] sandstrom opened #34015 "Rails Cache and `expire_in` support"
### Problem

According to the docs `:expire_in` can be used with all cache stores (see below), but it doesn't actually work. For example, it won't work with the file store (possibly not with the memory store either).

### Steps to reproduce

[code]

### Possible solutions
I understand if some cache stores may not want to evict data. In these cases one could instead store the expire timestamp along

[2018-09-28 14:03] jasonperrone opened #34016 "Parent record's values now being reset if association validation fails, even on validate: false"
### Steps to reproduce
This just started with 5.2.1.
So, let's say I have these models:

class Document < ApplicationRecord
  has_many :file_attachments, dependent: :destroy
end

class FileAttachment < ApplicationRecord
  belongs_to :document, optional: true
  validates_presence_of :name
end

Let's say I already have Document object d:

d = Document.find(1)

let's say d has a status attribute whic

[2018-09-28 14:29] tiagotex opened #34018 "Only redirect back when route exists"
### Steps to reproduce

I have a resource that only has `:new` and `:create` actions.

The user requests `:new` and is sent to `/resource/new`.

The user doesn't fill in the required form fields so Rails renders the errors using `render :new`, this means the url is now `/resource` but the user is seeing the `:new` form with errors.

The user clicks on an action to change the locale language, this

[2018-09-28 15:46] #33173 closed

[2018-09-28 15:46] #33197 closed

[2018-09-28 15:47] #33199 closed

[2018-09-28 15:47] #33165 closed

[2018-09-28 16:42] rafaelfranca commented on #34015
As an issue I think we should update the documentation to `"There are some common options that can be used by all cache implementations."`

About the solution you proposed I'm fine with supporting something like this, but this is more a feature request and we don't take feature requests in the issue tracker.

[2018-09-28 16:50] rafaelfranca commented on #34018
`redirect_back` redirects to what the `Referer` header says. I don't think we should be resolving routes on every call for `redirect_back`.
I believe it is responsibility of the application to make sure that the user workflow works. In this case, if the route existed the user would be sent to the list of resources not the the form. So either if Rails was checking the route the workflow is still br

[2018-09-28 16:50] #34018 closed

[2018-09-28 17:16] rafaelfranca commented on #34016
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2018-09-28 17:18] tgturner commented on #34016
Created a reproduction script here:

[code]

[2018-09-28 17:28] rafaelfranca commented on #34008
Here is the issue that commit fixed http://web.archive.org/web/20071218113720/http://dev.rubyonrails.org:80/ticket/8513

[2018-09-28 18:06] Edouard-chin commented on #34008
Thanks for archive link, very useful.

The commit state

Which I'm not sure what the "instead of raising an error" part refers to, `Rational(0.45, 86400)` doesn't raise an error. Maybe it used to on older version of ruby 🤔

[2018-09-28 18:07] jasonperrone commented on #34016
Thank you @tgturner .

Here's that block of code in 5.2.1:
 if autosave != false && (@new_record_before_save || record.new_record?)
                if autosave
                  saved = association.insert_record(record, false)
                elsif !reflection.nested?
                  if reflection.validate?
                    valid = association_valid?(reflection, record, index)

[2018-09-28 18:41] tgturner commented on #34016
Ok, I think we are still doing the correct thing here:

code says this regarding reflections: https://github.com/tgturner/rails/blame/master/activerecord/lib/active_record/reflection.rb#L560

So `validate: false` doesn't work on `has_many`

Secondly, what is happening in the code you posted, I believe, is that it is first checking if the association is valid, then calling insert_record if we know

[2018-09-28 18:44] jasonperrone commented on #34016
Except that validate: false was working on has_many <= 5.1.6...
We're missing something...

[2018-09-28 18:46] nate commented on #33197
I can still run the gist from the original post and it has the same results.

[2018-09-28 18:48] jasonperrone commented on #34016
I mean the code does indicate that collections get validated regardless. Maybe something prevented it from working till 5.2.1, but it does leave the question of, fine, how do I say validate the collection when validating the parent, but do not validate the collection when not validating the parent.

[2018-09-28 19:09] georgeclaghorn opened #34023 "URL helpers for isolated engines disregard SCRIPT_NAME when it's set by app middleware"
In Basecamp, we use Rack middleware to extract an account ID from the leading segment of each request's path and move it to `env['SCRIPT_NAME']`. This causes Rails to prefix every generated path with the account ID, freeing us from having to pass it as an argument at every call site for every URL helper.

Here’s a simplified example of such a middleware class:

[code]

URL helpers for isolated Rai

[2018-09-28 20:49] jeremy commented on #34023
Appears to be introduced in 5.2.0. Related: #29662 #29898

[2018-09-28 21:35] eatwithforks opened #34025 "Unable to run tests with `bundle exec ruby`"
I was expecting this to work as it does with every other ruby project ... but it did not ... please auto-add `test` to the LOAD_PATH

[code]

[2018-09-28 23:50] y-yagi commented on #34025
Please see https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#running-tests for instructions on how to run tests. Thanks.

[2018-09-28 23:50] #34025 closed

[2018-09-28 23:56] #34015 closed

[2018-09-29 00:58] louim commented on #29507
If anyone lands here from a google seach, `sanitize_sql_` methods were made public in https://github.com/rails/rails/commit/9d43a84f73c1b3853a91d052a462ee60eccaf957, which is included in rails 5.2

[2018-09-29 01:46] awangptc commented on #32848
I'm still able to reproduce this problem with active record 5.2.0 and 5.2.1

[code]

It doesn't look like the referenced issue fixed this.

[2018-09-29 01:52] brasic commented on #32848
@awangptc I believe the only workaround until this is fixed is never use activerecord instances associated with a rolled back transaction.  If a transaction is rolled back, any records that participated in it must be discarded.

[2018-09-29 01:56] petestreet commented on #33988
Hi @ledowong, I discovered a few things after running your example:

It looks like generating the `SELECT COUNT(*) ...` query on `.size` for non-loaded collections goes back to the [_reeeeally_ early days of activerecord](https://github.com/rails/rails/commit/fe8fb574c06156ca7eef7367c85bd12991948806). In this case, `.group` is generating the inner join statement that returns a relation of the Prod

[2018-09-29 13:27] consti commented on #33843
Here's a reproduction script that **tries** to reproduce the issue, but I can't reproduce it. @SalmaNegm maybe the issue is with something else in your codebase?

[code]

[2018-09-29 16:06] ledowong commented on #33988
Thanks for your detail reply, I understand that is by design now.
I add kaminari, the pagination gem, in my sample code.
kaminari use `count` to calculate total page, which lead to incorrect result.
I can't use `.load` to solve this problem, due to million of records.
Is there any workaround that don't need to fetch all records to memory, but return a "correct" count?

[2018-09-30 00:31] rraallvv commented on #30567
Is there a way to enable log when starting the app with -d on rails v4.2.10 ?

[2018-09-30 11:30] #32794 closed

[2018-09-30 12:48] prashuchaudhary commented on #33843
@SalmaNegm this is not a bug. tried to reproduce on My machine as per the script. No errors.

[2018-09-30 12:48] gaurish commented on #32581
fixed via #34028

[2018-09-30 14:43] awangptc commented on #32848
@brasic Should this be re-opened then?  Or should I open a new one?  This particular issue is closed due to the closing of the referenced issue but it doesn't appear to be fixed.

For the case we're seeing, we only have a single use case for the rollback and it occurs on rolling back a failed create.  So i have something like this as a workaround (using your test case)

[code]

Interestingly enoug

[2018-09-30 14:46] brasic commented on #32848
Yes, it should probably be reopened.

[2018-09-30 22:28] y-yagi commented on #33991
@marceloperini Feel free to create a PR :)

[2018-10-01 10:03] ianrandmckenzie opened #34035 "Inflections error with the word "canvas""
### Steps to reproduce

Use this line of code:
`"canvas".pluralize`

### Expected behavior
Returns string "canvases" or "canvasses"

### Actual behavior
Returns string "canvas"

### System configuration
**Rails version**: 5.1.4

**Ruby version**: 2.5.1

[2018-10-01 10:46] ianrandmckenzie commented on #34035
Just found out about this:
[code]
Closing.

[2018-10-01 10:46] #34035 closed

[2018-10-01 13:22] marceloperini commented on #33991
No problem @seteen :)

[2018-10-01 15:42] prostko opened #34040 "CollectionProxy #public_send with association scope NoMethodError for Array"
### Steps to reproduce
(for Rails 3.2.22.2)

CollectionProxy.`send(:scope)` functions as expected, returning the scope method as applied to the relation, instead of the array

CollectionProxy.`public_send(:scope)` throws `NoMethodError: undefined method for .. Array`, when it should not.

This is because ActiveRecord::Associations::CollectionProxy implements
[code]
Which leaves out public_send fro

[2018-10-01 16:37] SampsonCrowley opened #34041 "rails db:drop in development throws misleading "destructive action in production" error"
### Steps to reproduce

have a pending migration

run `rails db:drop`

### Expected behavior

It should drop the development db (or at least correctly show that it's a migration error)

### Actual behavior

it raises a pnding migration error internally (I'm assuming), but instead of displaying that, shows:

[code]

### System configuration
**Rails version**:             5.2.0

**Ruby version**:

[2018-10-01 16:55] prostko commented on #34040
Pull Request Here : #34042

[2018-10-01 17:21] jeremy commented on #33412
+1 to document Action Cable development in the guide, including how to make changes to your channel classes and see the results reflected in the browser.

[2018-10-01 17:29] tegon opened #34043 "[Guides] Bug in "Managing the Locale across Requests" section with Puma"
### Context
I was reviewing a colleague's pull request when I saw the following code:
[code]
I commented that since we use Puma, this could cause issues because we're changing a global value in a not thread-safe way. What might happen is that while one request changes the locale, another using `I18n.locale` directly might get the changed locale instead of the default one - which can be assumed as

[2018-10-01 17:51] nicolasmlv opened #34044 "The feature "eager-url-helpers" is not working with the helper "devise_for""
This merge : https://github.com/rails/rails/commit/7f870a5ba2aa9177aa4a0e03a9d027928ba60e49 is adding an incompatibility between Devise and Rails (maybe it should be a bug in the Devise repo?) : the devise helper `devise_for` is now raising an Exception `ActionDispatch::Routing::RouteSet::UnfinalizedRouteSet => routes have not been finalized. Please call 'finalize!' or use 'draw(&block)' `

### St

[2018-10-01 21:03] #33153 closed

[2018-10-01 23:12] #34040 closed

[2018-10-01 23:33] y-yagi commented on #34041
I executed `rails db:drop` with pending migration, but it was not reproducible.

[code]

Can you please provide a sample application that reproduces the issue?

[2018-10-02 04:34] brendo commented on #33980
Had a look into this. The logic for parsing Accept headers lives in [`Mime::Type`](https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/http/mime_type.rb) inside the private [`parse`](https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/http/mime_type.rb#L172-L194) method.

For the specific scenario above, having commas within a quoted string is not handle

[2018-10-02 05:05] emn178 opened #34048 "Lock doesn't work with Postgresql"
### Steps to reproduce
SQLite is ok, but Postgresql doesn't work.

Sample project
https://github.com/emn178/lock-test

Please see
https://github.com/emn178/lock-test/blob/master/test/models/balance_test.rb

### Expected behavior
It should be locked.

### Actual behavior
It doesn't work.

### System configuration
**Rails version**:
5.2.1
5.1.4+

**Ruby version**:
2.3.4

**Postgresql version**
9.6.3

[2018-10-02 09:13] Envek commented on #33239
Yes, this is still an issue on 5.2.1 and 6.0.0.alpha (current master). Please remove the stale label.

[2018-10-02 15:56] yuki24 commented on #33414
This may be specific to the exception classes registered to `ActionDispatch::ExceptionWrapper.rescue_responses`. I've been thinking to make that consistent but hadn't had time for investigation.

@SzNagyMisu would you mind posting a screenshot of the debug view? That will give me a rough idea of what's going on only in development or production.

[2018-10-02 16:06] schneems opened #34050 "ActionDispatch::Routing::RouteSet::UnfinalizedRouteSet: routes have not been finalized. Please call `finalize!` or use `draw(&block)`"
Commit https://github.com/rails/rails/commit/7f870a5ba2aa9177aa4a0e03a9d027928ba60e49 introduced a bug that i'm able to trigger in derailed benchmarks and via running `rails s` against CodeTriage.

[code]

### Steps to reproduce

Clone and setup https://github.com/codetriage/codetriage. Ensure you have a copy of rails in the same directory level then run:

[code]

### Expected behavior

It doesn't

[2018-10-02 16:38] #34044 closed

[2018-10-02 16:39] nicolasmlv commented on #34044
I close because it is the same issue https://github.com/rails/rails/issues/34050

[2018-10-02 17:06] yuki24 commented on #33414
It does seem like we no longer need this check now that we show all the nested exceptions: https://github.com/rails/rails/blob/cf608ee34dd833b0357ef4eefa692db33242d2aa/actionpack/lib/action_dispatch/middleware/exception_wrapper.rb#L38

[2018-10-02 17:15] arefaslani commented on #33741
@igorkasyanchuk How to validate file type and size before file uploads to the server?

[2018-10-02 17:56] schweigert commented on #33741
@arefaslani I'm using the gem created by @igorkasyanchuk and polishing it over time. Currently it does not allow to validate the size, but it is not a difficult validation to do. Just grab the size of the blob. A PR would be welcome ^ - ^

[2018-10-02 21:46] aackerman commented on #33741
@igorkasyanchuk I think you meant to mention @arefaslani

[2018-10-02 22:14] arefaslani commented on #33741
@igorkasyanchuk @schweigert I use direct upload to my local disk. How could I validate the upload before the file be uploaded to the server?

[2018-10-02 22:49] Slike9 commented on #34048
Hi, @emn178. For locking take effect in https://github.com/emn178/lock-test/blob/master/test/models/balance_test.rb, the code inside the threads should use explicit transactions. E.g.
[code]

By default, tests are run with `use_transactional_tests = true`, so a test example is wrapped in a transaction. The threads in the first test example did not lock each other because they were running in the s

[2018-10-03 00:35] Mahoufluk opened #34057 "25"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2018-10-03 02:44] #34057 closed

[2018-10-03 03:57] conzett opened #34058 "ActiveStorage direct upload fails on gzipped files"
### Steps to reproduce

1. Vanilla ActiveStorage `has_one_attached` file setup using disk storage locally
2. Add `direct_upload: true` for file field like so:
[code]
3. Gzip a file of any size e.g. `gzip my_file.csv`
4. Upload file via the file input

### Expected behavior
Direct upload should process like any other file

### Actual behavior
Get a `422` Unprocessable entity on a subsequent `PUT` r

[2018-10-03 04:09] jeremy commented on #34058
Do you see a validation error or similar in your logs?

[2018-10-03 04:38] jeremy commented on #34058
Cool, [taking a peek at ActiveStorage::DiskController#update](https://github.com/rails/rails/blob/bfea0af4ba7d717d6a065b4370e3ccfd8869dde6/activestorage/app/controllers/active_storage/disk_controller.rb#L22-L26), can see it's returning a 422 response when the `acceptable_content?` check fails. Looks like the stated [Content-Type and Content-Length don't match](https://github.com/rails/rails/blob/b

[2018-10-03 05:53] acro5piano commented on #31397
I had the same problem.
In my case, `config/credentials.yml.enc` has trailing newline.
So I deleted it with the following command:

[code]

Some text editor or Git hook add newline at the end of file, so I created a PR to delete error before decrypting:

https://github.com/rails/rails/pull/34059

[2018-10-03 08:58] sandstrom commented on #34015
@rafaelfranca Thanks, I saw the updated docs, awesome!

Regarding a change, is there any other forum besides the mailing list for proposing features/changes?
(RFC-repo? IRC/Discord/Slack channel?)

[2018-10-03 09:36] arefaslani commented on #33741
@igorkasyanchuk Thank you. But this only works on my web client. We have a public API too that no one will encounter with this validation on the API. In general, is there a way to validate files uploading to the direct uploads controller? I've created this solution for myself:
[code]
But it's not flexible enough. Maybe I want to upload videos for another resource.

[2018-10-03 09:54] igorkasyanchuk commented on #33741
@arefaslani to be honest I've never tried direct uploads with ActiveStorage.
But what I can see, you can do following. https://gist.github.com/igorkasyanchuk/88d83d06f579108c50f761da91786af1

[2018-10-03 13:00] rickychilcott commented on #33115
Thanks for sharing this @koenhandekyn; I spent last Friday and part of yesterday trying to get this figured out. I noticed the entire layout seemed to be getting rendered which I thought was weird. This is definitely a "gotcha" and should be reopened.

[2018-10-03 13:06] koenhandekyn commented on #33115
i actually have more details with respect to my issue. i'm using SLIM as a template language and my application layout was called application.slim instead of application.html.slim. because it was called application.slim it gets applied to all formats. renaming it to application.html.slim fixed the issue more fundamentally.

[2018-10-03 13:11] rickychilcott commented on #33115
Gotcha. Same issue for me, I suppose. I'm using haml and my files are `.haml` and not `.html.haml` 😏

Thanks!

[2018-10-03 13:38] schweigert commented on #33741
What do you think of implementing this controller in your gem @igorkasyanchuk ?

[2018-10-03 14:27] igorkasyanchuk commented on #33741
if you want :) please implement if you want

[2018-10-03 16:20] NirvashPrime commented on #24874
I see #30042 has been closed, is this still an issue?

[2018-10-03 19:49] alimi opened #34062 "String#parameterize raises Encoding::CompatibilityError for non-Unicode Strings on master"
### Steps to reproduce

Run this script https://gist.github.com/alimi/169f192784c69383272c1258cba65759. The tests with `non_unicode_string` will raise the exception.

Run https://gist.github.com/alimi/b8071867f4611a54eb9647ac5d0241a4 to verify it works on 5.2.

### Expected behavior

Before Rails 6, `String#parameterize` and the underlying methods it calls supported non-Unicode strings. Maybe they

[2018-10-03 20:51] sebroeder commented on #33167
I run into the same problem with `--skip-bundle` and `--skip-gemfile`. They only work after `APP_PATH`.

[2018-10-03 21:12] rafaelfranca commented on #34062
Good find. Yes, I think we should maintain the behavior. Maybe we can change the encode to utf8 and pass a utf8 string to the Ruby API?

@mtsmfm can you investigate?

[2018-10-03 21:21] BerkhanBerkdemir opened #34065 "Missing/wrong information for ActionMailer::Base.smtp_settings.authentication symbols"
The documentation says for `ActionMailer::Base.smtp_settings.authentication` can have these three symbols `:plain`, `:login` and `:cram_md5`.

So, is there any difference between `:plain` and `:login` because it says _will send the password Base64 encoded_ for both.

[`ActionMailer::Base`](https://github.com/rails/rails/blob/master/actionmailer/lib/action_mailer/base.rb#L400-L404)

[2018-10-03 21:44] rafaelfranca commented on #34065
There are differences for the server but both uses Base64 encoded strings.

See http://www.samlogic.net/articles/smtp-commands-reference-auth.htm

[2018-10-03 21:44] #34065 closed

[2018-10-03 21:55] zieski commented on #34041
I've encountered this error after restoring a production db locally. I believe it's from the value of the `ar_internal_metadata` table being set to production

Run: `bin/rails db:environment:set RAILS_ENV=development` to fix this

[2018-10-03 22:48] y-yagi commented on #34048
@emn178
As explained in @Slike9, an explicit transaction is required. Please fix your code.

@Slike9
Thanks for your help!

[2018-10-03 22:48] #34048 closed

[2018-10-04 02:04] why-el commented on #33715
This is not really an AR problem. `to_f` will lose some precision for certain time values (as it would with any boundless fraction), and therefore your reconstruction of the value using `Time.at` will not yield the same value.

I think there is an MR that will make the `Time.zone.at` from Rails match the signature of that of Ruby, in which case, if you already have a datetime you want to pass down

[2018-10-04 02:41] conzett commented on #34058
@jeremy that does seem to be the issue! It looks like `token[:content_type]` is set to `"application/x-gzip"` while `request.content_type` is `"application/gzip"`. Content length seems to be correct for both.

It looks like [Rails provides an alias for the gzip mimetype](https://github.com/rails/rails/blob/b2eb1d1c55a59fee1e6c4cba7030d8ceb524267c/actionpack/lib/action_dispatch/http/mime_types.rb#L

[2018-10-04 03:00] jeremy commented on #34058
Seems like that'd affect other aliased content types, huh?

[2018-10-04 03:32] conzett commented on #34058
It does appear that way, although I can't find a file type that produces the same result. The response from the initial `POST` to the direct_uploads route is returning `content_type: "application/x-gzip"` in the JSON payload, but I'm not sure where that's coming from as Marcel returns "application/gzip" when running `Marcel::MimeType.for` on the same file.

I'll try and dig in more tomorrow, thank

[2018-10-04 04:00] mtsmfm commented on #34062
I'll have a look at

[2018-10-04 10:36] SzNagyMisu commented on #33414
This is what I see (using `rails 6.0.0.alpha from https://github.com/rails/rails (at master@3000c14)`)
![rails-controller-error-6](https://user-images.githubusercontent.com/25562614/46468594-235a1a80-c7d1-11e8-8d5a-8e4daefc815a.png)
If I click on the red bar, it shows the same box again with `line#7` highlighted.

The server log tells the same thing:

    Completed 500 Internal Server Error in 183

[2018-10-04 11:21] fanantoxa opened #34072 "url helper work wrong with subdomain, when hole application lives on subdomain"
### Steps to reproduce

[code]
### Expected behavior
Hole rails application lives on subdomain ex.: `https://rails.example.com`
I'm trying to generate a link on subdomain and expect to have a link in 3rd level subdomian
[code]
### Actual behavior
But helper removes main subdomain instead
[code]
Same issue with `*_url` to different routes
### System configuration
**Rails version**: 5.1.6

**Ruby ve

[2018-10-04 11:43] Dean-Coakley commented on #15811
@ngetahun Looks like https://github.com/rails/rails/pull/30778 should fix it but is awaiting review. It's quite old/inactive though, not sure if new PR should be opened. 😕

[2018-10-04 13:31] #33187 closed

[2018-10-04 13:51] iczman commented on #33525
I was scratching my head for hours only to find out this is due to a bug in rails... hope this will be fixed soon. @jeroenj's workaround works, thanks.

[2018-10-04 13:56] toao commented on #33525
I also stumbled over this issue today. It was a bit surprising. Maybe the documentation could be updated to explain this restriction.

[2018-10-04 16:46] NirvashPrime commented on #25916
I see this hasn't been updated in a few years, is this still an issue?

[2018-10-04 20:27] SampsonCrowley commented on #34041
I think @zieski nailed it. I was unaware that rails was also storing the environment in a metadata table. I periodically pull my production database into my local dev db to test that what I'm working on also will work on a mirror of current production data (not that there's any real reason it wouldn't, but it makes me sleep better)

[2018-10-04 20:27] #34041 closed

[2018-10-04 20:44] cryptogopher opened #34082 "travel_to and travel count time differently when dealing with DST change"
### Steps to reproduce
[code]

### Expected behavior
After traveling back and forward by the same amount of days we should end on the same day we started.

### Actual behavior
There is one day lost on way back. This happens only when there is DST change between endpoints.
[code]

### System configuration
**Rails version**:
[code]
**Ruby version**:
[code]

[2018-10-05 01:07] y-yagi commented on #34082
4.2 series are not supported anymore for anything besides severe security fixes.
Can you check whether the issue can be reproduced with the latest Rails?

Also, can you create a reproduce script with this [template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/generic_gem.rb)?

[2018-10-05 03:37] Uysim commented on #33741
🎉 🆙

[2018-10-05 04:05] Uysim commented on #33741
I wish to see this in Active Storage

[2018-10-05 07:25] nshganesh opened #34090 "Incorrect math calculation"
### Steps to reproduce
Hello,
We are seeing this unexpected behaviour. when we do multiplication by 100 to multiples of 7.
![screenshot from 2018-10-05 12-55-07](https://user-images.githubusercontent.com/14258513/46521664-e740bb80-c89d-11e8-8a46-8fc45a561adf.png)

### Expected behavior
`0.7*100 = 7.0`
`0.14*100 = 14.0`
`0.28 * 100 = 28.0`

### Actual behavior
`0.7*100 = 7.000000000000001`
`0.14*10

[2018-10-05 07:38] sikachu commented on #34090
Thank you for your report. However, this issue is not directly a Rails'. So I'm going to close this.

The issue you reported is a common issue dealing with floating point number, and it's not only in Ruby. You might want to read up why this is happening in https://floating-point-gui.de/.

[2018-10-05 07:38] #34090 closed

[2018-10-05 10:09] #33240 closed

[2018-10-05 12:03] tkalliom opened #34093 "ActiveRecord::Relation#cache_key can return same cache key for different collections"
### Steps to reproduce

[code]

### Expected behavior
When the members of a collection change, the cache key changes as well.

### Actual behavior
Since the cache key calculation for a collection only takes into account the number of members in a collection and `maximum(:updated_at)`, it is possible that the cache key remains the same when a collection changes.

### System configuration
**Rails ve

[2018-10-05 15:55] awangptc commented on #32848
@brasic can you reopen this? Since I didn't report it I don't have the permission to do so.

[2018-10-05 17:25] Jcambass opened #34098 "Calling a class method in a named scope can lead to the wrong method being called"
**Note:** This is applicable to all class methods which are being called inside a named scope. I mostly talk about other named scopes being called inside a named scope. Read `Thoughts` for my reasoning behind this.

### Steps to reproduce
- Define a named scope with the same name as any method on ``ActiveRecord::Relation``.
- Call the scope in another scope.

[code]

### Expected behavior
- The na

[2018-10-05 17:29] egkelly opened #34099 "Rails server does not work: TZInfoData"
### Steps to reproduce

`rails server'
gives `C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/tzinfo-1.2.5/lib/tzinfo/data_source.rb:182:in `rescue in create_default_data_source': No source of timezone data could be found. (TZInfo::DataSourceNotFound)
Please refer to http://tzinfo.github.io/datasourcenotfound for help resolving this error.`

### Expected behavior
Rails server should start as expected

###

[2018-10-05 17:39] brasic commented on #32848
I can confirm that the repro steps still work as of current master (0b6d2189c8d5c5d700877724b66242ce541d511d), but I don't have the ability to reopen this either.

[2018-10-05 17:46] bbuchalter opened #34100 "More control when locking migrations"
When running a migration on a database that supports advisory locks, we _always_ [acquire a lock](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/migration.rb#L1218), even if there are no migrations to run. There is a [use case](https://github.com/bbuchalter/ConcurrentMigrationError/blob/master/README.md) where this is pretty unhelpful.

I've put together a test repo whic

[2018-10-05 18:41] awangptc commented on #32848
I'll just spin off a new issue then.

[2018-10-05 19:00] gwincr11 commented on #34099
Have you tried running `bundle exec rails server`, or `bin/rails server`?

[2018-10-05 21:13] cryptogopher commented on #34082
Sorry for not providing template results upfront.

Error is not reproducible with:
Ruby: ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux]
Rails: 6.0.0.alpha from https://github.com/rails/rails.git (at master@c9e0a61)

So I guess it has been fixed in meantime.

Thank you for help!

[2018-10-05 21:13] #34082 closed

[2018-10-06 03:27] y-yagi commented on #34000
Fixed by #34005

[2018-10-06 03:27] #34000 closed

[2018-10-06 03:33] schneems commented on #34000
Thanks for the issue close @y-yagi and thanks for the issue @daniel-rikowski ! If you haven't checked the linked PR take a look. This bug dates back to a commit by Yehuda in 2009. It was fixed but then lost somewhere along the way. Interesting stuff.

[2018-10-06 05:56] abhinaykumar opened #34107 "data is not preserved in credentails.yml.enc file, in case of an error while saving it"
### Steps to reproduce

* `EDITOR=vim rails credentials:edit`
* add credentails (with 4 or more space indentaiton)
[code]
* save and exit with: `:wq`

### Expected behavior
* It should return an error and not discard the changes, until error is resolved.

### Actual behavior
* It throws error mentioned below:
[code]
* All the changes are discarded.

### System configuration
**Rails version**: 5.2.

[2018-10-06 06:40] akicho8 opened #34108 "Connecting or() to the result of has_many will set the value of belongs_to"
### Steps to reproduce

[code]

### Expected behavior

Result of the last row

[code]

### Actual behavior

[code]

- In version 5.1.6, the expected result will be
- Or block on has_many will be the expected result

### System configuration

[code]

[2018-10-06 06:53] daniel-rikowski commented on #34000
Very nice! Thank you @tgturner and @schneems for fixing this.

[2018-10-06 08:54] utilum commented on #33240
@rails-bot, this is still active.

[2018-10-06 14:16] pixeltrix commented on #34072
Hi @fanantoxa - this is because Rails assumes a top level domain length of 1 when working out what's the domain and subdomain. In your case you want a tld_length of 2, e.g:

[code]

If you want it set application-wide you can add it to `default_url_options`, e.g:

[code]

[2018-10-06 14:16] #34072 closed

[2018-10-06 14:53] pixeltrix commented on #34008
Looks like that was because `Rational` in Ruby 1.8.x used [`Integer#gcd`][1] in its constructor and so couldn't accept floats for the numerator argument. That's not the case now so almost certainly can be changed for Rails 6.0.

[1]: https://ruby-doc.org/stdlib-1.8.7/libdoc/rational/rdoc/Integer.html

[2018-10-06 14:56] NirvashPrime commented on #17056
I see this hasn't been updated in several years, is this still an issue?

[2018-10-06 15:05] pixeltrix commented on #33035
Fixed by rack/rack#1034

[2018-10-06 15:05] #33035 closed

[2018-10-06 17:37] chepyego opened #34111 "hey guys am trying to delete a comment in my blog am follow getting started with rails but i get this error Couldn't find Article with 'id'=23"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2018-10-06 18:07] mtsmfm commented on #34062
I found the previous implementation of `ActiveSupport::Unicode::Multibyte#normalize` doesn't work well with non-unicode strings.

[code]

The above example shows unwanted and unexpected result.
So I think current behavior with non-unicode string is not defined.
If so, I think it's ok to raise an error if the string is non-unicode one.
I'll add a test to clarify the behavior.

@rafaelfranca What do

[2018-10-06 21:16] cooldesigns opened #34113 "Stop adding packets that you have developed for your business"
Hey Reader, please comment if you agree.

WHY??
They are not fit for our business.

They are not the best decision for all applications.

ActiveStroage has many logic decides. I am doing all the job on clients and storing a string simply. or I can use Shrine, or prefering a blob microservice.

ActionCable is good, but the comments are valid what I said about ActiveStroage. (Faye is good to)

I pre

[2018-10-06 21:56] jeremy commented on #34113
[Rails is omakase](https://rubyonrails.org/doctrine/#omakase)—the chef decides. But you're free to choose, from there. This is a strength.

[2018-10-06 21:56] #34113 closed

[2018-10-06 21:59] jeremy commented on #34111
Sounds like your code is trying to delete an article instead of a comment on the article.

For live help, check out https://gitter.im/rails/rails chat or [Stack Overflow](https://stackoverflow.com/questions/tagged/ruby-on-rails).

[2018-10-06 21:59] #34111 closed

[2018-10-06 22:29] #33190 closed

[2018-10-07 01:12] eugeneius commented on #32848
The root cause of the problem described here is already tracked in https://github.com/rails/rails/issues/15018 and https://github.com/rails/rails/issues/30167.

As was the case with https://github.com/rails/rails/issues/32847, this was broken even before https://github.com/rails/rails/commit/9ddb9553e336219dcdfe2bdda6120359e33300ee, just in a different way: after the rollback the post would still

[2018-10-07 01:52] y-yagi commented on #34107
This is intentional behavior.
I think that there is room for improvement about the behavior when an error occurs.
(I think that it is better to display the contents of the error rather than reopening the file)

Anyway, that is a feature request. We don't take feature request on the issue tracker. Thanks.

[2018-10-07 01:52] #34107 closed

[2018-10-07 02:52] Edouard-chin commented on #34008
Ohhh thanks for the explanation @pixeltrix ! I'll open a PR to modify it then

[2018-10-07 05:07] abhinaykumar commented on #34107
@y-yagi,
Would love to work on this feature, could you please point me to the place which requires the change.
I found below method here: https://github.com/rails/rails/blob/3cac5fe94f0f81b4263cfa03d4822c05a55eb49c/railties/lib/rails/commands/credentials/credentials_command.rb#L68
[code]
but again I am not sure where exactly it should handle the errors and return appropriate message.

[2018-10-07 10:51] thisismydesign commented on #32914
Still present.

[2018-10-07 13:46] #34108 closed

[2018-10-08 07:50] jhubert opened #34121 "Unable to use inner_options on application routes inside ActiveStorage controllers"
This has burned far more hours of my time than I should publicly admit. I still haven't figured out WHY this is happening, but I've at least boiled it down to an executable test.

The issue is that we are overwriting the ActiveStorage::BlobsController class to put it under our ApplicationController so that all of the security before_actions get run on it. But, the url_helpers that are called in th

[2018-10-08 08:52] #33237 closed

[2018-10-08 09:02] pixeltrix commented on #34121
@jhubert yes, you're correct that passing options to a url helper bypasses the optimised helper and the reason that Active Storage has it's own route set is because it's an isolated engine. A lot of the routes in Active Storage use the `direct` and `resolve` methods to map the models and generate custom url helpers so It's possible there's an edge case there where calling from an engine to a main

[2018-10-08 10:55] sumit-rvtech opened #34124 "Getting error in includes associations"
Hi,

I am not able to use includes with assosiations:
Book.includes(:chapters)

ArgumentError (wrong number of arguments (given 2, expected 3))

getting error with rails 5.2.0.
Please suggest.

[2018-10-08 15:06] mysticaltech commented on #32700
@rjurado01 This works, thanks! I was getting this error for other modules in "node_modules". Can you explain how your code un-watches "node_modules" but still watches other items in root? Maybe a few comments to your code?

[2018-10-08 15:38] NirvashPrime commented on #26999
I see this hasn't been updated in almost two years, is this still an issue?

[2018-10-08 17:41] palkan commented on #26999
Since nothing has changed in the way stream callbacks work it is.

[2018-10-08 17:55] gregmolnar commented on #34124
Could you please create an executable test case based on this template? https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2018-10-08 18:59] KilmerLuizAleluia commented on #31245
Had the same here. How did you solve the problem?

[2018-10-08 20:46] bbuchalter commented on #34100
I'd like to expand the scope of this issue a bit. After discussion with teams affected by the use cases discussed above, it became clear that there was another use case that needs support.

Often times, migrations are used to run one-off tasks. Generally this takes the form of:
[code]

This is convenient for teams because migrations get run with every deploy. However, in the case described in the

[2018-10-08 22:45] y-yagi commented on #34058
Fixed by #34116

[2018-10-08 22:45] #34058 closed

[2018-10-08 23:12] fourcolors commented on #20132
I have a `t.json` type but when I try to retrieve it ie: `Map.objects` it's returning a String instead of a Hash of objects.

This only started happening in Rails 5.2.1 for me. Any chance this is related? I haven't found anyone talking about this.

[2018-10-09 04:42] tacchistudios-doug commented on #20676
Still happening on Rails 5.2.1; Most workarounds in this topic is pretty hacky. I might as well drop accept `accepts_nested_attributes_for` all together and create the parent and child separately.

[2018-10-09 05:29] huacnlee opened #34129 "Rails Enum with private, public keyword can't work"
For example:

[code]

This will raise:

[code]

In this case, because of the `private`, `public` is a keywords of Ruby class, but I saw the real reason is this line: https://github.com/rails/rails/blob/v5.2.1/activerecord/lib/active_record/enum.rb#L200

[code]

Rails enum wants to define a scope name with `Repository.private`, `Repository.public`, but the `dangerous_class_method?` now allow to use

[2018-10-09 05:50] aniliyidogan commented on #34129
Hi @huacnlee

[code]

https://api.rubyonrails.org/v5.2/classes/ActiveRecord/Enum.html

[2018-10-09 06:50] rjurado01 commented on #32700
@mysticaltech Yes, the bug is that for a reason that I don't know `dtw` variable includes the root directory and it should not do it. For provisional fix, what I do is remove this before calling `filter_out_descendants`.

For best aproach I suggest to see the code of @y-yagi: https://github.com/rails/rails/pull/33822/files

[2018-10-09 06:55] djezzzl commented on #20676
@tacchistudios-doug Hey, did you try [validates_db_uniqueness_of](https://github.com/toptal/database_validations#validates_db_uniqueness_of)?

[2018-10-09 07:05] mysticaltech commented on #32700
@rjurado01 Ok got it, great to know that @y-yagi's fix has been submitted to be merged to rails/master, so in the next releases we should be able remove your fix. Thanks

[2018-10-09 08:14] y-yagi commented on #34124
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks.

[2018-10-09 08:14] #34124 closed

[2018-10-09 08:18] tacchistudios-doug commented on #20676
No, I did not. I didn't want to add another gem in the project.

[2018-10-09 09:19] djezzzl commented on #20676
@tacchistudios-doug I understand, but be aware it will fix a problem.

[2018-10-09 12:39] christophemaximin opened #34133 "ActiveRecord QueryCache is not cleared when reloading associations"
### Steps to reproduce

Failing tests: https://gist.github.com/christophemaximin/049b86053f4f9f54954bd5e8a66d2eb4

### Expected behavior

Cache should be cleared when calling `reload` on associations

### Actual behavior

It isn't.
A fix is present here as a pull request: https://github.com/rails/rails/pull/34094
### System configuration

**Rails version**:
Rails 3 + Rails 4 + Rails 5 + Edge

**Ru

[2018-10-09 19:21] JasonBarnabe opened #34138 "Using formats option with render partial affects subsequent render partial calls"
Rails 5.2.1 / 6.0a
Ruby 2.5.1

Test app: https://github.com/kickbooster/PartialFormatTest . [Relevant code is](https://github.com/kickbooster/PartialFormatTest/blob/master/app/views/home/index.html.erb):

[code]

I expect that the first and third `render` calls both render `_multiformat_partial.html.erb`. Instead, the first is rendering `_multiformat_partial.html.erb`, while the third is rendering

[2018-10-10 00:45] Jcambass commented on #33843
@SalmaNegm Do you may have overwritten the `User#initialize` method?

[2018-10-10 01:59] maceonrails commented on #33271
@AstmDesign it seems you forgot to put or uncomment require file for rails and bundler on Capfile, so capistrano didn't automatically bundle your Gemfile

[2018-10-10 07:30] faucct opened #34176 "ActiveRecord::Relation#merge replacing where_values is not documented"
Hello. This behaviour happened to be a surprise for me, though while browsing through specs I have found that it was intended.
We should either change `#merge` behaviour, either have something like `ActiveRecord::Relation#and` behaving the way I expected `#merge` to.
I also expect association scopes behave the same way, but they are using merge.

### Steps to reproduce

[code]

### Expected behavi

[2018-10-10 07:35] robertsonsamuel commented on #32208
Want to also update folks who might have the same issue as I do to make this function correctly.

Referencing @dagumak 's post I needed to include a `create` method for this. Looks like that part was left out. My controller looks like:

[code]

The create method comes right from the source code
https://github.com/rails/rails/blob/301409a98f2bef4f431a10cae74a3430bbaca9c2/activestorage/app/controlle

[2018-10-10 07:52] kamipo commented on #34133
Fixed by #34094.

[2018-10-10 07:52] #34133 closed

[2018-10-10 07:59] #34098 closed

[2018-10-10 08:17] AstmDesign commented on #33271
@maceonrails The issue solved after upgraded my rails & bundle versions on the server

[2018-10-10 09:08] pixeltrix commented on #34176
@faucct thanks for the report - whilst your expected behaviour is what chaining two `where` methods together gives you it's not really helpful since there aren't many records that will have id=1 and id=2 :-)

So we could add in logic to check the where values when merging and convert them to Arel conditions but since it's always going to result in an empty set it seems a little pointless. I wonder

[2018-10-10 09:17] seteen commented on #34176
related to https://github.com/rails/rails/issues/33501

[2018-10-10 11:28] faucct commented on #34176
@pixeltrix, of course real examples can be more complicated:

[code]

[2018-10-10 11:32] #31502 closed

[2018-10-10 11:55] yosiat opened #34179 "ActiveRecord - Rails 5 regression with "ids_reader""
I observe some bug introduced in rails 5

[code]

### Current behavior

[code]

### Expected beavior

[code]

In rails 4.2.6 is works as expected, after rails 5 `comment_ids` is empty array.
if I remove the reference to `comment_ids` in after_commit callback it will work as expected.

### System configuration
**Rails version**: 5.2.0
**Ruby version**: 2.5.1p57

[2018-10-10 13:35] vmeyet opened #34180 "ActiveRecord::Relation.where does weird coercion after a `joins`"
### Steps to reproduce
when using a nested condition `where` after a `join` statement the value coercion into the type of the column doesn't work as expected.

[code]

### Expected behavior
According to the way coercion work `Table.join(:association).where(association_tables: { id: '' })` the string `''` should be coerced to null

(i.e same behavior as `Table.where(id: '')` => `WHERE id IS NULL`)

[2018-10-10 14:16] dagumak commented on #32208
@robertsonsamuel You should not need to add the `create` method, because you are inheriting directly from `ActiveStorage::DirectUploadsController`.

[2018-10-10 14:37] pixeltrix commented on #34176
@faucct but where you're doing a equality comparison for a column you'll never get a result where `column = A AND column = B` - it's only possible with range comparisons, e.g. `Plan.where(id: 1..10).merge(Plan.where(id: 5..15))` and that seems to work correctly already:

[code]

[2018-10-10 14:49] robertsonsamuel commented on #32208
@dagumak that was entirely correct. I was able to remove that create method as well. Cleaned it up quite nicely. Thanks for pointing that out. 🎉Includes didn't effect this however, thanks for the insight!
Still hopefully this helps others, even in SEO haha.

[2018-10-10 15:17] faucct commented on #34176
Filters by subquery get replaced.
I don’t think that this needs any euristics: the result should be predictable. If user gets a conflicting set of filters when merging relations which are coming from some other code then so be it.

[2018-10-10 15:42] #33961 closed

[2018-10-10 17:46] albertoalmagro commented on #34179
Hi @yosiat ! Thanks for the bug report and for the steps to reproduce it. Please note debug doesn't need comment as a parameter.
[code]
I would like to further investigate this and submit a patch to fix it. In the meanwhile you can do instead:
[code]
Would that be OK?

[2018-10-10 18:49] yosiat commented on #34179
@albertoalmagro since lots of places are adding comments, the fix we did is on `after_add` we call `comments.load`

[2018-10-10 19:56] patrickdonovan opened #34182 "ActiveStorage blob.service_url_for_direct_upload should sign content_type?"
### Steps to reproduce

I am attempting to use AS for direct uploads to GCS. My app uses a graphql api so I am using blob's `service_url_for_direct_upload` / `service_headers_for_direct_upload` methods rather than the included controller's endpoint. When using those values in the client, I run into 403s from GCS that I don't encounter with `curl`. The reason is that the browser is adding a content

[2018-10-10 20:30] georgeclaghorn commented on #34182
Active Storage intends to leave the `Content-Type` on the stored object unset. When it’s set, GCS prevents us from controlling the response `Content-Type` on download via the `response-content-type` URL parameter.

If you’re uploading via JS, take care to strip the `Content-Type` from each `File` before submitting it to GCS. You can do that by calling [`Blob.slice()`](https://developer.mozilla.org

[2018-10-10 20:30] #34182 closed

[2018-10-10 20:53] rafaelfranca commented on #21476
See https://github.com/rails/rails/pull/21508#issuecomment-428357404 and comment below.

[2018-10-10 20:53] #21476 closed

[2018-10-10 21:14] CharlesMcMillan opened #34183 "`exists` subquery has missing bind param when prepared_statements is false"
### Steps to reproduce

Here is a test showing the issue:
[code]

Apologies for the weird setup + turning off of prepared_statements in a very non-standard way 😨

I am seeing a related issue [here](https://github.com/rails/rails/issues/24893), though that involves directly issuing exec_query directly

### Expected behavior
The relation should not error

### Actual behavior
PG Syntax error:
[code]

[2018-10-10 21:54] pinzonjulian commented on #31963
For anyone else having this issue, if found that removing `index: true` solves the issue. For me, it didn't have anything to do with zsh

[2018-10-10 21:57] rsmithlal commented on #27633
Seems like apidock.com is pretty dead. The company that was running it (nodeta) no longer exists, or at least its web page is not pointing to anything, which is a bad sign for a tech company. The APIdock twitter has been inactive since 2013. Can't even register for an account on the website anymore because the recaptcha version is no longer supported.

[2018-10-10 23:58] kamipo commented on #34183
This is fixed by 213796fb4936dce1da2f0c097a054e1af5c25c2c, but that change is hard to backport to older branch. Use 5.2 please.

[2018-10-10 23:58] #34183 closed

[2018-10-11 03:54] junjizhi commented on #24796
Confirmed that this is still an issue in Rails 5.2.1
[code]
But in ruby 2.5:
[code]

[2018-10-11 07:10] Nowaker commented on #27633
I did a little digging and I think the guys behind Apidock / Nodeta are @mutru and @tsilen. Guys! Would you be willing to pass apidock to community? I could take it over, revive it, and host.

[2018-10-11 09:55] BoleLee commented on #32251
https://github.com/rails/rails/issues/32251#issuecomment-373050230
@georgeclaghorn How can I get the file uploading progress by this way? I try to use `directUploadWillStoreFileWithXHR` or `directUploadDidProgress` or `progress`, however, it returns error said it is not a function

[2018-10-11 15:05] derickgn opened #34190 "Rails ActiveRecord Encoding per Table"
I'm working with a legacy database in Oracle where the database encode is set to "UTF-8", but the tables can be in any encoding for example: "Windows-1252", "Latin1" etc, due to keep compatibility with legacy software. For now we are migrating those systems to Rails but meanwhile they have to coexist simultaneously. In my specific case the tables that i'm working with are in "Windows-1252".

This

[2018-10-11 16:44] dub357 commented on #31983
We ran into this issue as well and it turns out that its related to coffeescript being compiled on windows using the jscript runtime.  A change was made in coffeescript v1.9 (https://github.com/jashkenas/coffeescript/commit/28c07d30cbd2add7ee762c7d532b2c9c972e441a#diff-bb48be8d5fd36ca0910d8e27a8fa65c9) which introduced a EMCAScript 5 dependency (specifically Object.create) but the Windows Scriptin

[2018-10-11 17:37] danglduy opened #34191 "Set method doesn't work with has_many through and where clause in lambda"
### Steps to reproduce
4 models

`Role`
id: 1 - name: "Actor"
id: 2 - name: "Director"

`Person`
id: 1 - name: "abc"
id: 2 - name: "def"
id: 3 - name: "xyz"

`Film`
id: 1 - name: "Shawshank Redemption"

[code]

`FilmRole`

[code]
--------------
Console (rails c):
[code]

### Expected behavior
A new record is created in `film_roles` table with information: role_id: 1, person_id: 1, film_id: 1

###

[2018-10-11 17:40] JacobEvelyn opened #34192 "Allow `UNLOGGED` Postgres tables when `Rails.env.test?`"
[Postgresql documentation](https://www.postgresql.org/docs/current/static/non-durability.html) indicates that there are ways to reduce database durability in exchange for better performance. Obviously this is very dangerous to do in production, but there are a fair number of anecdotes online regarding test speedups people have gotten by reducing their database durability.

Most of these can be acc

[2018-10-11 17:48] TheNeikos commented on #32063
@georgeclaghorn can you elaborate on why this would be a bad feature to have?

Generating a 'low quality' preview (JPG) of a high quality PNG sounds to me like just the thing you described, which is an alternate representation ('visibly transforming') of the attached data.

[2018-10-11 18:23] MothOnMars opened #34193 "config_for returns an empty hash for YAML files without environment keys"
### Steps to reproduce
1. Create a config file without keys per environment:
[code]
2. Attempt to load the information for the current Rails env:
[code]

### Expected behavior
TBD. I *think* the desired behavior would be to simply return the YAML values:
[code]
Other options would be to return nil or raise an error. I can put in a PR for whatever the desired behavior is.

### Actual behavior
An em

[2018-10-11 19:21] luisenrike commented on #34193
Why don't just use `foo = YAML.load_file("#{Rails.root.to_s}/config/foo.yml")`?

If you check the source code for `config_for` you'll see that is just a wrapper for `YAML.load_file`

[2018-10-11 22:56] y-yagi commented on #34190
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks.

[2018-10-11 22:56] #34190 closed

[2018-10-11 22:58] y-yagi commented on #34191
Can you create a reproduce script with this [template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb)

[2018-10-11 23:01] y-yagi commented on #34192
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feedback. Thanks.

[2018-10-11 23:01] #34192 closed

[2018-10-11 23:05] y-yagi commented on #34193
As documented in doc, `config_for` loads the value associated with the current Rails env.
https://api.rubyonrails.org/classes/Rails/Application.html#method-i-config_for

So that is expected behavior.

[2018-10-11 23:05] #34193 closed

[2018-10-12 01:00] y-yagi commented on #34138
Thanks for your issue. But this is intentional behavior.
In the partial render, the last used format is used preferentially.
https://github.com/rails/rails/blob/8df7ed3b88fc9f19446d7207a745a331893b81cd/actionview/test/template/render_test.rb#L66-L69

For more detailed reasons, please see #6626.

[2018-10-12 01:00] #34138 closed

[2018-10-12 01:19] #33993 closed

[2018-10-12 05:13] MSCAU opened #34199 "Misleading documentation on counters within partials"
The official Rails Guide on Layouts and Rendering (https://guides.rubyonrails.org/layouts_and_rendering.html#using-partials) contains the following information box:

This is not wholly accurate as when using the :as option, the counter within the partial needs to be named after the alias rather than the partial.

For example:

`<%= render partial: 'comment', collection: @post .comments, as: :fooba

[2018-10-12 05:44] viraptor opened #34200 "CSP with a proc attribute fails in redirection routes."
### Steps to reproduce

1. Add a content_security_policy with an option specified via a `proc`. For example:

[code]

2. Add a route with redirect. For example:

[code]

### Expected behavior

I should get a redirect, either with or without the CSP headers.

### Actual behavior

[code]
due to missing `request.controller_instance`

### System configuration
**Rails version**:
2.5.1
**Ruby version**:

[2018-10-12 05:53] MSCAU commented on #34199
See also https://stackoverflow.com/questions/52772274/rails-5-2-partial-counter-undefined-local-variable-or-method-error/52772518 where I was asking SO for help on this.

[2018-10-12 10:40] DimitriosLisenko commented on #33209
I looked a little bit further into this - to be completely safe (since `ActiveSupport::Dependencies.clear` can run at any moment, and we don't want it to run while `load_missing_constant` runs assuming everything up the chain has been loaded), I changed the `const_missing` method to this:

[code]

Unfortunately, this still results in NameError sometimes. This is because Ruby does not pass `Module.

[2018-10-12 12:37] albertoalmagro commented on #34179
@yosiat I have been investigating this further with the following results:
1. The issue isn't related with `after_commit`. Executing `post.comment_ids` seems to memoize the result and makes the test fail.
[code]
2. This only happens with `has_and_belongs_to_many` relations. The reproduction steps are mixing setup for a `has_many` / `belongs_to` and a `has_and_belongs_to_many` relations, the follow

[2018-10-12 12:47] albertoalmagro commented on #34179
Sorry, the above mentioned commit isn't correct, will continue investigating later.

[2018-10-12 12:48] yosiat commented on #34179
@albertoalmagro thanks a lot for investigating this!

We are currently can't upgrade to rails 5.2 because of a bug in rails which is blocking us so we are still waiting for Rails 5.2.2 release.

[2018-10-12 13:52] #29307 closed

[2018-10-12 15:10] albertoalmagro commented on #34179
OK @yosiat I'm back, yes, confirmed: 19c80718afea8cf8f56ee68fcfbe325d54c02906 solves your issue. I have tested your reproduction steps against my local branch after reverting 19c80718afea8cf8f56ee68fcfbe325d54c02906 and it fails, after re-applying it, it works again, and it isn't included in [Rails 5.2.1](https://github.com/rails/rails/commits/v5.2.1/activerecord/lib/active_record/associations/col

[2018-10-12 16:15] marceloperini commented on #34180
I'm working on this issue

[2018-10-12 16:51] dudo opened #34205 "Update belongs_to association from params"
I don't know if this is expected or not. My googling has not been fruitful.

I would like to update a model's belongs_to association with another existing model, or remove the association, for that matter.

    class Rule
      belongs_to :account, optional: true
    end

    class Account
      belongs_to :applied_rule, class_name: 'Rule', foreign_key: 'rule_id', inverse_of: false, optional: true

[2018-10-12 19:03] dudo commented on #34205
def update
      update_applied_rule
      if @account.update(account_params)
         ...
      end
    end

    private

    def update_applied_rule
      rule_params = params.require(:account).permit(:rule_id)
      return unless rule_params.key?(:rule_id)

      if rule_params[:rule_id].present?
        rule = @account.available_rules.find.find(rule_params[:rule_id])
        @account.applied_r

[2018-10-12 19:03] #34205 closed

[2018-10-12 19:50] kamipo commented on #34179
👍 Backported 7794d00c7a966a63d98331cfd986edb1d2ccdb2c.

[2018-10-12 19:50] #34179 closed

[2018-10-12 20:07] markvanlan opened #34206 "Non-specific error when getting classes descendants, with eager_load on"
### Steps to reproduce

Set eager_load In environment/development.rb:
`config.eager_load = true`

We have classes...
[code]
In Controller:
[code]

### Expected behavior
=> ["Animal"]

### Actual behavior

[code]

### System configuration
**Rails version**: 5.2.0

**Ruby version**: 2.4.4p296

[2018-10-12 22:05] mathewbaltes opened #34207 "Include deep_pluck by default in Rails"
Hi Rails community,

I think we should include `deep_pluck` by default in Rails.  From the publishers website:

I have been able to also use this in an application to reduce time from DB->JSON by 80% since `pluck` bypasses the activerecord object allocation and deep_pluck generates a hash representing the data without needing to handle the mapping ourselves.  This is VERY useful for creating fast

[2018-10-13 04:34] scriptfans commented on #29307
Still seeing this.

[2018-10-13 05:07] y-yagi commented on #34207
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feedback.

[2018-10-13 05:07] #34207 closed

[2018-10-13 05:12] y-yagi commented on #34206
Can you please provide a sample application that reproduces the issue?

[2018-10-15 08:34] davegson commented on #21627
The issue still remains in Rails 5.2.1. You need to set an `after_create` callback to work around it.

I assume @asmega was referencing the feature that you could set functional defaults which is supported since Rails 5 and was already mentioned by @yawboakye

[2018-10-15 08:53] #34008 closed

[2018-10-15 10:31] pixeltrix commented on #34200
@viraptor is this the case for all of the CSP directives or just `report_uri` ?

[2018-10-15 11:10] 308820773 opened #34216 "Simplified Chinese active_record_callbacks 翻译错误"
https://ruby-china.github.io/rails-guides/active_record_callbacks.html
调用回调#increment!, this method not run callbacks

[2018-10-15 11:49] sikachu commented on #34216
Thank you for your report. However, we actually are not the one who maintain Chinese translation of Rails Guide. I think you will need to report (or contributing a patch) to https://github.com/ruby-china/rails-guides.

/cc @JuanitoFatas if you can help OP out. 😄

[2018-10-15 11:49] #34216 closed

[2018-10-15 11:52] marceloperini commented on #34180
@y-yagi @vmeyet this issue is resolved with this PR #34033

[2018-10-15 12:18] vmeyet commented on #34180
@marceloperini that's great thanks.

[2018-10-15 12:50] kamipo commented on #34180
Duplicate with #33428.

[2018-10-15 12:50] #34180 closed

[2018-10-15 13:39] vmeyet opened #34217 "STI ActiveRecord creation using Hash with default value raises an error"
### Steps to reproduce

When having a type column on the model (STI). Trying to create a record using a Hash with a default value raises an exception.

[code]

### Expected behavior
Nothing should be raised unless the `:type` key (or whatever the `inheritance_column` is) is present.

i.e
[code]

### Actual behavior
An exception is raised.

I think the problem lies here: https://github.com/rails/ra

[2018-10-15 14:42] phoebetse commented on #28836
Can this issue please be re-opened? Running into this with Rails 5.2.1 and Ruby 2.3.4 (and Ruby 2.5.1).
Found this PR that never merged, which could be a solution: https://github.com/rails/rails/pull/31488
This open issue might be related as well: https://github.com/rails/rails/issues/33868

[2018-10-15 17:03] jrochkind commented on #21627
So this is _only_ a problem with postgres? It works with other dbs?

This is very annoying. It is definitely still a problem with Rails 5.2.

You can set a DB function as a default in a migration:

     add_column :whatever, :whatever, default: -> { "some_db_func()"}

And it works such that it is there in the db. But the model does not know about it without a reload. :(

[2018-10-15 17:10] jrochkind commented on #21627
@Soliah @davegson Can you share what your after_create callbacks look like?  Do you avoid ActiveRecord thinking the column has changes that need to be saved, after you've managed to set the in-memory value to what was actually in the db all along?

[2018-10-15 23:34] y-yagi commented on #34199
Thanks for creating an issue.
I think that it is good to add notes when using the `as` option. Can you create a PR?

[2018-10-16 00:18] lsylvester commented on #34093
I think that we would need to add `maximum(:updated_at)` for all of the joined tables as well - and if any of them are missing an `:updated_at` column then fall back to selecting `id`s and `updated_at` for each record.

[2018-10-16 00:55] SampsonCrowley opened #34223 "assset_url doesn't include domain in mailer"
### Steps to reproduce
set
[code]
### Expected behavior
Emails that use `asset_url` should have a full url: https://example.com/assets/my-image-asdf902394.jpg

### Actual behavior
`asset_url` is returning path only urls: /assets/my-image-asdf902394.jpg

### System configuration
**Rails version**:  5.2.0
**Ruby version**: 2.5.1-p57 (x86_64-linux)
**RubyGems version**: 2.7.7
**Rack version**: 2.0.5

[2018-10-16 00:57] #33056 closed

[2018-10-16 00:57] SampsonCrowley commented on #34223
if i use ActionController to generate the urls, then the domain is included as expected
[code]

[2018-10-16 01:56] akicho8 commented on #34108
@kamipo Thank you !!

[2018-10-16 02:52] vcavallo commented on #33423
@feliperaul You saved me hours, maybe days, and _mountains_ of frustration. I've got a similar globby hack in my routes and I'm not sure I ever would have gotten to the bottom of this if you hadn't first 😆 thanks!

[2018-10-16 03:03] #29200 closed

[2018-10-16 03:13] viraptor commented on #34200
I haven't checked them all, but other parameters are affected as well. Making `default_src` and others `proc`s also breaks the redirect.

[2018-10-16 07:59] davegson commented on #21627
@jrochkind my callback simply is: `after_create :reload` - dirty quick fix.

I'm not sure if this belongs here or in a new issue. The original issue described how a postgres function by default would not be supported. Such as:

[code]

Now it *does* support this, but not in a clean way: you have to reload newly created AR objects to retrieve the values generated by postgres. This [blog post](https

[2018-10-16 13:02] phoebetse opened #34226 "Create does not rollback despite failing belongs_to validation"
### Steps to reproduce

Comments **belong to** Posts, Posts **have many** Comments.
#### Scenario 1
With Comments that always fail validation:
[code]
and with valid Posts:
[code]
We *cannot* create a Post with an invalid Comment, as expected:
[code]
#### Scenario 2
However, with Posts that always fail validation:
[code]
And with valid Comments:
[code]
We *can* create a Comment with an invalid Post

[2018-10-16 15:53] jrochkind commented on #21627
Ah, right @davegson , I missed that, cause I found this issue googling for the current problem. It would be awesome if you created another ticket!

Here's my current work-around -- rather than an after_create hook to reload, I override the particular attribute method to pluck from the db on first access -- only if it's nil and the model is already persisted.  That way the extra fetch is only made

[2018-10-16 18:15] SampsonCrowley commented on #34223
that should be an override to use a different host from the controller host, not a requirement to have an asset host at all for mailers. Especially if the asset host is already set for action_controller AND default_url_options has a host, I shouldn't also need to set the SAME host only for action_mailer asset_url to work. I still think this is a bug

[2018-10-16 20:35] Manfred commented on #34226
I believe this is expected behavior and you have to [explicitly require a valid associated object](https://guides.rubyonrails.org/active_record_validations.html#validates-associated).

[2018-10-16 20:56] phoebetse commented on #34226
oh wow, didn't realize that. thank you for the link!

[2018-10-16 20:56] #34226 closed

[2018-10-16 20:58] loganb opened #34230 "Array#sum extension breaks on empty Arrays"
https://github.com/rails/rails/blob/e53acfde0ff233fb1d281119856595043bbf207e/activesupport/lib/active_support/core_ext/enumerable.rb#L160

[code]
[code]

The reason is that the default arg to the extended `sum` method is nil and not 0.

[2018-10-16 23:15] Ardena commented on #24141
I'm getting the same problem with one out of 49 other tests in a file that all use the same syntax.  And I don't believe this one test is an integration test.

Failures:

  1) ScoringRangesController POST create creates with assignments
     Failure/Error: post :create, params: @attrs

     URI::InvalidURIError:
       bad URI(is not URI?): http://www.example.com:80create
     # /home/docker/.gem/

[2018-10-16 23:16] jeremy commented on #34230
Variant of #24796

[2018-10-16 23:16] #34230 closed

[2018-10-16 23:56] lucasprag commented on #34199
I have some time now and I will try to create a PR as soon as possible for this if you guys didn't start working on it yet.
Thanks 😄

[2018-10-17 00:12] loganb commented on #24796
Just to make sure the variant is covered: `[].sum` currently throws an exception when it should return 0

[2018-10-17 01:28] yasyf opened #34234 "`fresh_when` fails when passed a collection with a `group` clause"
### Steps to reproduce

[code]

### Expected behavior
`stale?` and therefore `fresh_when` works as intended

### Actual behavior
`collection.maximum(:updated_at)` returns a hash, which then causes an error when you try to assign it to `response.last_modified`

### System configuration
**Rails version**:
5.2.1
**Ruby version**:
2.5.1

[2018-10-17 01:34] williammoreschi commented on #31589
I am having problem I am using win 10 and using the vagrant and for working AWS Cloud9.
I started creating a myapp test project

vagrant@ubuntu-bionic:/vagrant/workspace/myapp$ rails db:drop
Text file busy @ unlink_internal - /vagrant/workspace/myapp/db/development.sqlite3
Couldn't drop database 'db/development.sqlite3'
rails aborted!
Errno::ETXTBSY: Text file busy @ unlink_internal - /vagrant/wor

[2018-10-17 02:47] #34199 closed

[2018-10-17 08:38] davegson opened #34237 "Postgres default function values do not get loaded on create"
### Steps to reproduce

**1. Create a model**

[code]

**2. Create a migration with a DB function as `default`.**

[code]

`rails db:migrate`

**3. Create a new order**

`rails console`

[code]

### Expected behavior
I expect `create` to set `uuid` (by the postgres default) **and** for it to set the new `uuid` value into the `order` AR instance, as it does with the `id`.

[code]

### Actual behavi

[2018-10-17 08:40] davegson commented on #21627
↑↑↑
I opened a new issue for this bug. So this issue - initially a feature request for functional defaults - can rightfully slumber and stay closed ;)

[2018-10-17 15:34] jolim opened #34242 "From addresses which have /\. .+,/ cause ArgumentError: SMTP From address may not be blank: nil"
### Steps to reproduce

Create an `ActionMailer::MessageDelivery` with the following from address:
`Mrs. Jones, First Grade <notifier@mysite.com>`

### Expected behavior
The email should send. The Mail object should have a from address of `notifier@mysite.com`.

### Actual behavior
from = `[nil, "notifier@mysite.com"]`

Delivery attempt results in `ArgumentError: SMTP From address may not be blank

[2018-10-17 16:29] JoshCheek opened #34244 "`rescue_from` is not honoured by the params parsers"
### Explanation

`rescue_from` is not honoured by the params parsers. This means that:

* My API is inconsistent, all my other error messages respond with a specific error schema, bad requests respond in a different one, because they bypass the `rescue_from` block.
* My custom mime types have custom parsers. These parsers can give really helpful feedback about why the request is bad, but because o

[2018-10-17 17:12] jrochkind commented on #34237
Rather than `RETURNING *`, perhaps ActiveRecord could know which columns have proc default values (which I think is what means "direct to DB that can call functions"), and just `RETURNING` those in addition to `id`?

But either way would be an improvement.

[2018-10-17 18:31] harrylove opened #34245 "Thanks!"
Rails 1.0 made me so productive and happy and it made app development feel effortless. I'm just writing this to say thank you: to 37signals, to DHH, to all of the contributors, and all of the ecosystem developers over the years. You didn't have to make this an open source project. You didn't have to contribute time and materials and your lives, but you did.

Learning Ruby on Rails was one of the b

[2018-10-17 18:41] NirvashPrime commented on #33855
That's a great find! Is this issue good to be closed?

[2018-10-17 19:03] tachyons commented on #34245
Duplicate of #16731 :run:

[2018-10-17 20:39] aselder commented on #33745
I'm seeing the same error when upgrading to 5.2.1.

We don't have RailsAdmin in our project and are already on Haml 5.x

[2018-10-17 20:49] jolim commented on #34242
It's connected to the mail gem. Closing it here.

[2018-10-17 20:49] #34242 closed

[2018-10-18 00:11] daveallie opened #34248 "ActiveRecord: PostgreSQL hstore null character terminates value insert string"
### Steps to reproduce

- Create a PostgreSQL ActiveRecord model with a hstore column
- Attempt to save a hstore value with a null character in it
[code]

### Expected behavior
Null character should be escaped or ignored. Should store something like: `'"a"=>"te\\u0000st"'` or just strip null characters, storing `'"a"=>"test"'`.

### Actual behavior
Null character terminates column string resulting

[2018-10-18 02:30] dhh commented on #34245
😍🙏

[2018-10-18 02:58] king601 opened #34250 "scope error on ActiveRecord::Relation already defined instance method error"
(feel free to re-title this, not sure how to describe this!)

TLDR: `You tried to define a scope named "reverse" on the model "Comment", but ActiveRecord::Relation already defined an instance method with the same name. (ArgumentError)` error is being raised in Rails 5.2+ (even on master) when previously on versions less than 5.2 it worked flawlessly, with scope names such as `reverse` or `model`

[2018-10-18 03:29] matthewd commented on #34250
Thanks for the detailed report!

This is the expected behaviour.

The conflicting definition is here: https://github.com/rails/rails/blob/a52c6989a0aacc50b35891265a0b5631e1ec2370/activerecord/lib/active_record/relation/delegation.rb#L71-L74

When you define a scope / class method in a model class, that method is accessible on derived relations, so you can build conditions:

[code]

`reverse` is al

[2018-10-18 03:29] #34250 closed

[2018-10-18 03:35] king601 commented on #34250
Thank you matthew!

[2018-10-18 07:00] printercu commented on #27273
Yes, I think this is the same issue. #27296 still wasn't merged.

[2018-10-18 07:32] rhuanbarreto opened #34251 "ActiveRecord doesn't auto serialize JSON columns"
### Steps to reproduce
[code]

### Expected behavior

The expected behavior is the test pass and the column have the value serialized in JSON before creation.

### Actual behavior

The hash as string is stored in the database.

### System configuration
**Rails version**: Rails 5.2.1

**Ruby version**: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]

[2018-10-18 08:19] tambakoo commented on #30943
Let to this party but `data.class.to_s.eql?("Program::ActiveRecord_Relation")` seems like an option.

[2018-10-18 08:55] PeterMozesMerl commented on #30943
I would think that data.respond_to?(:select) or data.respond_to?(:each) is more Ruby/ducktyping code, hence I see Rafael’s point that one should not use it that way.

But I found no substitute for
[code]

[2018-10-18 10:02] rhymes commented on #28331
@pixeltrix is there a public API in Rails 5.1+ to resolve a path to a controller/action/params combo?

Thank you!

[2018-10-18 10:31] lukeredpath opened #34252 "Mounted engine URLs are missing subdomain from constraint"
### Steps to reproduce

Given an isolated engine called `MyEngine`, a namespaced controller called `Foo::DashboardsController` and the following routes:

[code]

The `MyEngine` engine has a single `WidgetsController` and it's routes look like this:

[code]

When trying to use URL helpers from outside a controller/view (e.g. in a service class or a job, on the console or anything outside of a reque

[2018-10-18 11:17] pixeltrix commented on #28331
@rhymes in a word, no - sorry. A path could route to different controllers depending on the request context like domain, etc. so it's not feasible to implement anything that would be reliable enough for a public API.

[2018-10-18 11:31] pixeltrix commented on #28331
@rhymes straying into a support request there but I suggest you look at the [addressable][1] gem's support for URI templates.

[1]: https://github.com/sporkmonger/addressable#uri-templates

[2018-10-18 11:33] rhymes commented on #28331
@pixeltrix thanks again, and sorry for straying a bit ;-)

[2018-10-18 15:02] taleh007 commented on #33200
This issue is still alive.

[2018-10-18 21:10] nbrustein opened #34255 "When using autosave, inverse relationship gets unset during save of parent"
### Steps to reproduce

The following specs show what specifically needs to be done to create the issue.  In words:

1. Create two models, `Thing` and `Widget`, with an inverse `has_one/belongs_to` relationship.  Set `autosave: true` on the `has_one`
1. Load an instance of `Thing` with an associated `Widget`
1. Call `thing.widget.reload`
1. Call `thing.save`
1. Now, `thing.widget.thing` is `nil`,

[2018-10-18 21:12] booleanbetrayal commented on #34255
This appears to be related to: https://github.com/rails/rails/pull/31214

[2018-10-18 21:32] y-yagi commented on #33855
Oh, sorry I misunderstood. I will try your repository later.

[2018-10-18 23:34] y-yagi commented on #34244
Thanks for your report. Thanks for your report. But this seems to be that expected behavior.
`rescue_from` rescues exceptions raised in controller actions.
https://edgeapi.rubyonrails.org/classes/ActiveSupport/Rescuable/ClassMethods.html#method-i-rescue_from
Parsing of the parameters is done in an earlier request process. Therefore, I think that this is expected behavior.

[2018-10-18 23:34] #34244 closed

[2018-10-18 23:46] y-yagi commented on #34248
I tried your issue, but not reproduce. Attempt to save an hstore value with a null character raises `ArgumentError`.

[code]

[code]

Can you create a reproduce script with this [template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb)

[2018-10-19 00:44] y-yagi commented on #34255
I tried to reproduce your issue, but not reproduce.

[code]

[code]

Can you create a reproduce script with this [template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb)?

[2018-10-19 04:56] #33345 closed

[2018-10-19 05:36] daveallie commented on #34248
Apologies, this was an issue with the `pg` gem and not using prepared statements, resolved in v1.1, we are not on the 1.0 release yet for `pg` and I wrongly assumed it was an AR issue.

Here is the replication:

Changing the `pg` gem version to `1.1` resolves the error.

[code]

[2018-10-19 05:36] #34248 closed

[2018-10-19 12:35] dawidlenkiewicz commented on #33477
Does anyone still have the issue after upgrading to sprockets 4?

[code]

[2018-10-19 18:31] joallard opened #34262 "ActiveJob::Arguments.deserialize outputs string keys when receiving HashWithIndifferentAccess"
I've run into this problem when upgrading an application from 5.1.4 to 5.2.1, and jobs (Que-backed) started failing.

Those jobs were called with keyword arguments like such: `OddJob.perform_later(webhook: {a:1}, domain: "foo")`. When the worker runs, an ArgumentError is raised about 1 argument being fed instead of 0. I later found out the argument was the empty array `[]`.

(This error is particu

[2018-10-19 19:32] TheNeikos opened #34263 "Cannot access an ActiveStorage::Variant's metadata"
### Steps to reproduce

1. Create a model with an attachment
2. Attach an image
3. Create a variant with for example `{resize: "720x1280>"}`
4. Try to get the actual variant's size:
`model.image.variant(thumb_variant).processed.image.metadata`

### Expected behavior
The metadata about the given variant is accessible.

### Actual behavior
The original file is being accessed and used

### System con

[2018-10-19 19:51] ewrenn8 opened #34264 "Double require of clusivity.rb in ActiveModel reinitializes ERROR_MESSAGE"
### Steps to reproduce
We are running a Rails app which we recently updated our Rails gems for from 4->5.2.1 This app uses Sequel as the ORM and uses the individual Rails gems ActiveModel, ActionPack, ActionView, and Railties (instead of the comprehensive Rails gem).

 After this recent upgrade, customers have begun reporting seeing the following error in their logs:
[code]
We have tracked this is

[2018-10-19 22:55] y-yagi commented on #34263
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feedback.

[2018-10-19 22:55] #34263 closed

[2018-10-19 23:14] y-yagi commented on #34264
Since require is an absolute path to manage the path, I usually guess that loading of the same file will not occur.
Can you please provide a sample application that reproduces the issue?

[2018-10-20 05:55] TheNeikos commented on #34263
@y-yagi So does this imply that https://api.rubyonrails.org/classes/ActiveStorage/Variant.html#method-i-image is meant to return the original image? To me the docstring says the opposite.

In that case, it would indeed be a feature request, and I shall take it to the mailing list.

[2018-10-20 14:37] georgeclaghorn commented on #34263
It’s meant to return the `Variant` instance on which it was called.

[2018-10-20 14:55] yawboakye commented on #34237
Currently the solution is to immediately reload the model (and that's what I do). That's not much of a penalty (an extra DB inquiry). There's many other things that affect what value eventually ends up in the column (e.g. triggers) which makes me lean more towards a reload `after_save`. In that case a directive to append a `RETURNING *` clause to the generated SQL for `INSERT` and `UPDATE` for a m

[2018-10-20 15:36] jrochkind commented on #34237
Oh good point, rather than AR try to automatically discover what to put in `RETURNING` a directive makes a lot of sense, and is probably pretty straightforward implementation. Directive could be either on the model (for all saves), or an argument to `save`.  Probably the first, or both.

My current work-around is by doing something a little bit different than a reload. I just override the relevant

[2018-10-20 16:50] SampsonCrowley opened #34267 "ActiveRecord before query execute hook"
Are there any available hooks for the ActiveRecord Query interface to use to hook in right before a query is executed? And if not, is there any method that is always called that could be prepended to achieve the same result?

I want to add a default order to queries, but ONLY if one hasn't been explicitly set.  default_scope is almost always a problematic solution since you have to explicitly reme

[2018-10-20 21:54] lucasprag commented on #34245
Thank you Rails team =)

[2018-10-21 06:31] JoshCheek commented on #34244
Consumers of an API don't care about implementation details like when a framework does one step vs another. The fact of the matter is that they submitted an invalid request according to the content type, and I have a format in which I communicate errors to them, and Rails ignores this entirely and emits some other error format. Rails is not the arbiter of my API. If Rails is ignoring my error form

[2018-10-21 06:37] JoshCheek commented on #34244
Reopen this.

Rails is wrong here.

[2018-10-21 07:39] kamipo commented on #22154
Since #26978, QueryCache doesn't ensure connection.

[2018-10-21 07:39] #22154 closed

[2018-10-21 09:14] kamipo commented on #25325
Fixed by #30620.

[2018-10-21 09:14] #25325 closed

[2018-10-21 10:55] kamipo commented on #24813
This is probably fixed by #32274.

[2018-10-21 10:55] #24813 closed

[2018-10-21 11:16] kamipo commented on #25916
`skip_action_callback` had already be removed in Rails 5.1.
Use `skip_{before,after,around}_action` instead.

[2018-10-21 11:16] #25916 closed

[2018-10-21 11:41] kamipo commented on #26201
Fixed by #28734.

[2018-10-21 11:41] #26201 closed

[2018-10-21 14:00] kirs opened #34271 "AS::Notifications measuring with Time.now vs CPU clock"
At Shopify, we measure and log how much time a request has spent talking to all kinds of external resources: Redis, Memcache, ActiveRecord. Most of that is implemented by wrapping the request into `AS::Notification` subscription and reporting the delta between event's `start` and `end` (which is a `Time` object).

At the same time we have other middlewares that report total request time, which is

[2018-10-21 14:06] kirs commented on #34271
cc @rafaelfranca @Edouard-chin @gmcgibbon

[2018-10-21 17:36] jeremy commented on #34244
Good points and generally agreed. It is a bit of a chicken/egg problem, but maybe there are some simple resolutions.

Where could we provide a Rack-app-level `rescue_from` that encompasses the app middleware stack? We do rescue exceptions in a middleware, but we don't have a clear place to specify `rescue_from`-like handling *before* a controller action is invoked.

[2018-10-21 18:20] HashNotAdam commented on #17045
I was unable to reproduce this issue using the script provided and:
- jruby 1.7.13 (1.9.3p392) 2014-06-24 43f133c on Java HotSpot(TM) 64-Bit Server VM 1.8.0_45-b14
- rails (4.1.5)
- rake (10.3.2)
- macOS 10.13.6

[2018-10-21 19:15] #33352 closed

[2018-10-21 19:18] JoshCheek commented on #34244
### An apology

Y'all, I was frustrated when I posted earlier. Partly b/c I've been fighting with this for a while now and partly b/c there isn't a button to reopen it, so it felt dismissed.

But those reasons don't really matter, I was too harsh in my response, I've edited it to state my argument without being so critical. I should  have cooled off before posting. Also removed the bit about 2 bug

[2018-10-21 20:42] JoshCheek commented on #34244
Okay, looked into it. This is why it happens:

![screen shot 2018-10-21 at 3 01 39 pm](https://user-images.githubusercontent.com/77495/47272171-22eaaf00-d547-11e8-8249-1ffbc3b734bd.png)

---

After looking around a bit, I figured I'd give it a shot. Not sure where the best place to put the rescue handlers is. I stuck them on `AbstractController::Base#process` because it seemed like the entry point

[2018-10-21 20:43] HashNotAdam commented on #26457
This is because ActiveRecord calls
[code]

In 5.2.1, this is called in `Migration::load_schema_if_pending!` which is triggered when the test_helper requires `rails/test_help`.

The double load goes away as soon as you have migrations which have been run. Given the way Active Record needs.

To stop the double load, it would be necessary to pull the logic out of Active Record and into Rails but, giv

[2018-10-22 09:30] chaffeqa opened #34281 "ActiveRecord Optimize unique validation"
### Steps to reproduce

[code]

### Expected behavior

ActiveRecord skips query on obviously unchanged attributes.

### Actual behavior

ActiveRecord performs possibly expensive query on unchanged attributes.

### System configuration
**Rails version**: 5.2

**Ruby version**: 2.5.0

[2018-10-22 09:38] koenhandekyn opened #34282 "form_with doesn't render form tag itself when no block is passed from second call onward"
### Steps to reproduce

i'm using a table with an HTML5 form in a hidden column per row and references to the form from the input elements according to the HTML5 spec. in this case no 'block' is needed as we just want to have the form tag in isolation.

### Expected behavior

form_with should always render the form tag also when no block is passed, and not only on the first occurance

### Actual b

[2018-10-22 10:12] SerkanSipahi commented on #21058
When will this PR will be merged?

[2018-10-22 12:07] tom-brown commented on #31228
I can still reproduce on 5.2 stable.  I am trying to redirect routing errors to root_path, and I have tried solutions at this [stackoverflow](https://stackoverflow.com/questions/4132039/rails-redirect-all-unknown-routes-to-root-url/52928861#52928861) link and this [medium](https://medium.freecodecamp.org/routes-in-ruby-on-rails-5-using-resources-and-records-to-define-urls-411a68afa21a) link, all w

[2018-10-22 13:32] coralieco opened #34283 "errors.details is `{ error: blank }` on `belongs_to` validation"
### Actual behavior

With Rails 5, there is a validation on `belongs_to` association:

[code]
when trying to create a `comment` in console:

[code]

The issue I encountered is in the `details` of errors

[code]

### Expected behavior

But the `{:error=>:blank}` error is exactly the same detail error than for the `validates_presence_of`.
What I would expect for the `belongs_to` error is:

[code]
Es

[2018-10-22 14:10] OvidiuToma commented on #34282
@koenhandekyn, I've managed to reproduced the issue and i've fixed it, I'll create a pull request.

The issue can also be reproduced using the `form_tag` helper. Basically, what happens is that `form_with` and `form_tag` doesn't return a `</form>` string at the end, and I think the browser deals with the issue by removing the second form for some reason.

[2018-10-22 14:14] eileencodes commented on #34271
I think we should backport this to 5.2 since we have identified that the current implementation is buggy. If we don't want to include any features we could consider just backporting a portion of the PR that swaps from Time to Process.clock_gettime.

[2018-10-22 15:40] koenhandekyn commented on #34282
Ah great to hear!

[2018-10-22 18:15] bardec opened #34288 "Try from inside a module not responding to private methods"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
From the docs of `try`:

[code]

### Actual behavior
I'd expect an object to behave irregardless of `send` or `try`, and while `send` raises, `try` should just return `nil`.  If you call `try` on a pri

[2018-10-22 18:57] #33914 closed

[2018-10-22 19:08] glaszig commented on #31689
i can't seem to figure out how turbolinks is supposed to work with csp level 3 (nonce + strict-dynamic). is this not yet supported?

[2018-10-22 19:33] jeremy commented on #34271
+ Backport! Agree it's a bugfix that monotonic clock fixes.

[2018-10-22 19:43] SampsonCrowley commented on #34267
my current solution is:
[code]
But I don't like overriding built in methods

[2018-10-22 20:02] rafaelfranca commented on #34271
I backported in 7c4542146f by only applying the change in the clock.

[2018-10-22 20:02] #34271 closed

[2018-10-22 22:49] rowend opened #34291 "maxlength attribute in text_field_tag adds unwanted size attribute"
### Description [ActionView/Helpers/text_field_tag][html]

The *maxlength* option used in the text_field helper adds an unwanted *size* attribute.

### Steps to reproduce

1) Generate a form using the form_with helper and use the **maxlength** attribute in the **text_field** helper:

[code]

### Expected behavior

The generated html for the input only must add the maxlength attribute.

[code]

###

[2018-10-23 06:35] #34200 closed

[2018-10-23 07:10] kirs commented on #34271
❤️ ❤️ ❤️

[2018-10-23 11:47] remofritzsche commented on #32201
Thank you @wgordon17. We're using a similar workaround. Since we're serializing an array into a comma separated string, it's way easier to detect whether it has already been serialized though (`.is_a?(Array)`).

But still I think this is a serious Rails bug, possibly a concurrency issue. Unfortunately I don't have the resources to dive into a fix at this time.

[2018-10-23 13:04] MicMicMon commented on #29578
Putting a `favicon.ico` in the public folder fixed it for me.

[2018-10-23 13:43] guitassinari commented on #33525
I also faced this issue during the last weeks. It seems related to #29413 in some way. Maybe an edge case.

[2018-10-23 14:29] amree commented on #34291
If I may add, this is only going to affect `text_field` tag helper in the form block, but not `text_field_tag`.

It's 'documented' in the [test](https://github.com/rails/rails/blob/5-2-1/actionview/test/template/form_helper_test.rb#L512-L522) with a test named as `test_text_field_assuming_size`. So, I'm guessing it's trying to assume the size based on the `maxlength`.

For now, you can remove it b

[2018-10-23 14:59] GeniusStorm commented on #34291
I believe that this should be documented as an example in the rails api so that people who run into this dont endup thinking this as a bug ( atleast until someone modifies the behaviour to assume size to be same as maxlength is size is not provided). I can create a quick PR for the documentation if someone from the rails team approves for the documentation.

[2018-10-23 16:28] hasandiwan opened #34296 "Source code comment correction"
At some point, Rails.application.database_configuration was moved to Rails.application.config.database_configuration. This patch updates the exception message to reflect the change.

[2018-10-23 16:28] hasandiwan commented on #34296
diff --git a/railties/lib/rails/application/configuration.rb b/railties/lib/rails/application/configuration.rb
index eae902a938..84d5381800 100644
--- a/railties/lib/rails/application/configuration.rb
+++ b/railties/lib/rails/application/configuration.rb
@@ -202,7 +202,7 @@ def database_configuration
               "Please note that YAML must be consistently indented using spaces. Tabs are not all

[2018-10-23 16:34] sham-sheer commented on #34296
ddd

[2018-10-23 16:44] vbyno commented on #33015
If someone need `.as` method but doesn't use `from`, which accepts a second parameter. The relation could be converted to arel before calling `.as`:
[code]

[2018-10-23 16:56] ziaulrehman40 commented on #30603
Was this fix released in rails 4 line or only 5.1.x, i am sorry not sure how to check that.

[2018-10-23 18:32] foonlyboy commented on #33921
Hi Rafael,
big thanks for your reply, again.

It looks like you are somehow involved with caching in rails?

I found something new in the api docs (can't find it again right now)
which looked to me, that we can now embed dynamic content in cached
snippets?

Whoever came up with this? That's genius.

On Thu, Sep 20, 2018 at 4:18 AM Rafael França <notifications@github.com>
wrote:

[2018-10-23 20:26] kylekeesling opened #34298 "Updated needed for ActiveStorage Attachment model documentation"
I noticed that the documentation for the ActiveStorage `Attachment` model is not updated to reflect some recent changes.

There is now a `ActiveRecord::InvalidForeignKey` check/rescue that prevents the blob from being destroyed if other attachments exist here.

Current documentation:

https://github.com/rails/rails/blob/4725b2f0bac7fd062ac03c19f1648011452363d2/activestorage/app/models/active_stora

[2018-10-23 20:56] rafaelfranca commented on #34267
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-10-23 20:56] #34267 closed

[2018-10-23 20:58] rafaelfranca commented on #34298
cc @georgeclaghorn

[2018-10-23 21:28] georgeclaghorn commented on #34298
`ActiveRecord::InvalidForeignKey` is an implementation detail that we needn’t specifically call out. Here’s an edit:

Please feel free to open a PR along those lines.

[2018-10-23 21:36] dnasseri opened #34300 "ActiveRecord::StatementInvalid with polymorphic join"
On rails 5.0.7, I noticed that there are some cases where a `join` from a model to a polymorphic association with a `where` clause will bind params to be misapplied. This is not the case on rails 4.2.10, and not the case on 5.2.0.

I ran into this while working on a model that had a polymorphic `belongs_to :imageable, polymorphic: true` association, as well as `belongs_to :user, -> { joins(:photos

[2018-10-23 21:43] kylekeesling commented on #34298
Ok great! I'll submit something here in a bit

[2018-10-23 21:53] frederikspang opened #34301 "ActiveSupport::TimeZone advancing a week changes timezone."
### Steps to reproduce
I'm seeing some inconsistencies, that I am unable to find information about, in both Rails 5.1.4 and 4.2.10 currently.

    Time.current
     => Tue, 23 Oct 2018 23:38:35 CEST +02:00
    Time.current + 1.week
     => Tue, 30 Oct 2018 23:38:37 CET +01:00

First of all, I'm unsure, why this happens. I have been in sourcecode, and not been able to find anything. One this were,

[2018-10-23 22:04] #34296 closed

[2018-10-23 22:07] rafaelfranca commented on #34288
The documentation is wrong. `try` is equivalent to `public_send`. And the official documentation already tells you that. https://api.rubyonrails.org/classes/Object.html#method-i-try

[2018-10-23 22:07] #34288 closed

[2018-10-23 23:56] GeniusStorm commented on #34301
Its might be because of daylight savings ending in Europe on Sunday, October 28.

https://www.timeanddate.com/news/time/europe-dst-end-2018.html

[2018-10-24 00:15] matthewd commented on #34301
Yeah, this is expected behaviour.

The whole point of timezone-awareness is that "+1 week" should resolve to the same wall-clock time seven days later. If you want to add exactly 604800 seconds, you can do that directly.

[2018-10-24 00:15] #34301 closed

[2018-10-24 00:30] liligga commented on #33155
@jychen7 I guess you misunderstood/confused the concept of this association. Just look again at the docs you provided([HasOneThrough](http://guides.rubyonrails.org/association_basics.html#the-has-one-through-association)). It is rather `A has_one B` and `B has_one C` and thus we can write `A has_one C, through: B`

[2018-10-24 01:30] kylekeesling commented on #34298
PR has been submitted

[2018-10-24 01:42] #33843 closed

[2018-10-24 03:05] kamipo commented on #30603
This is fixed in master, and backported to 5-2-stable in 50036e673b3b6ff41476814b212b55fabac3a638.

[2018-10-24 07:07] jhubert commented on #33407
@stas and @ziaulrehman40

I'm exploring a different approach. It seems to work nicely, although I haven't thought through all of the implications of it yet.

I decided to focus on the "no operator exists" part of the error message, which led me to figure out how to define a custom operator. Here is what I've come up with.

As an additional point of complexity, we use postgresql schemas, so these f

[2018-10-24 09:33] clockworkpc commented on #28452
Did the trick for me too, but I can't understand why.

[2018-10-24 12:00] rosic commented on #28647
Hi, we had recently faced the same issue with Rails 4.2.10 and Ruby 2.4.4. Has anyone been able to upgrade to Rails 5 and did that resolve the issue?

[2018-10-24 13:35] #34298 closed

[2018-10-24 18:28] TylerRick commented on #33429
I guess that makes some sense...

But we still need some way to tell which attributes were changed by the `touch`.

Could we introduce another mutation tracker that gets reset before the `touch` and modified by the `touch` so that it can be inspected to determine what was changed by the `touch` ... Maybe add something like `changes_from_touch` to the complement `saved_changes` and friends? Then, j

[2018-10-25 06:24] tessereth opened #34310 "Occasional deadlocks between Dependencies::Interlock and db adapter lock"
In our rspec test environment, some feature specs occasionally hang. Generating stack traces using the [sigdump gem](https://github.com/frsyuki/sigdump) and `ActionDispatch::DebugLocks` I was able to narrow it down to roughly the following.

There are two request threads, A and B, and another thread accessing the database C. When requests start they call `ActiveSupport::Dependencies.interlock.star

[2018-10-25 09:53] ccelestial opened #34311 "DeserializationError in YAML.load_dj()"
### Description

After upgrading from Rails 5.1.6 to 5.2.1, getting ActiveRecord Object from YAML parsed from 5.1.6 is returning me this error.
[code]

### Steps to reproduce
1 . From Rails 5.1.6 console, convert an ActiveRecord to yaml
[code]
2. To Rails 5.2.1 console, try to load object from the output above
[code]

### Expected behavior
It should return the same ActiveRecord object

### Actual

[2018-10-25 13:03] jackkinsella opened #34312 "Polymorphic association does not support to compute class"
I seem to be getting a regression after upgrading from Rails 5.0 to Rails 5.1 / 5.2

### Steps to reproduce

[code]

### Expected behavior

The scope should work as it did back in Rails 4.x and Rails 5.0.x.

### Actual behavior

In Rails 5.2.1 I got the following:

[code]

However in Rails 5.1.x I got something like this error (taking it from my main codebase, so may not occur exactly in the test

[2018-10-25 16:43] zw963 opened #34315 "ActiveSupport Time#to_json strange behavior"
### Steps to reproduce

[code]

### Expected behavior
Time#to_json should same as standard #to_json result.

### Actual behavior
Time#to_json return a strange format (not iso8601)
after require 'active_support/all'

### System configuration
**Rails version**:
5.2

**Ruby version**:
2.5.1

[2018-10-25 17:55] nerdrew opened #34316 "ActiveRecord Errors sometimes include raw SQL in exception message"
### Steps to reproduce
There are numerous exceptions that include raw SQL in the exception message. Exception are messages often sent to external systems and should not include un-redacted SQL.

It looks like many exceptions raised by Mysql2. E.g.:
- `ActiveRecord::ValueTooLong: Mysql2::Error: Data too long for column 'class_name' at row 1: UN-REDACTED SQL STATEMENT`
- `Mysql2::Error: Deadlock fou

[2018-10-25 18:14] #26289 closed

[2018-10-25 22:28] arianf commented on #21459
@chrisbloom7 I'm hitting this with rails 5.1.6, does that mean this is likely a passenger issue? If so how did you fix it within passenger?

[2018-10-25 23:01] #34191 closed

[2018-10-26 00:19] tessereth commented on #34310
Further tracking finds that the [symmetric-encryption gem](https://github.com/rocketjob/symmetric-encryption) manually calls `define_attribute_methods` during class load, causing the database query to load the schema while still holding the exclusive dependency loading lock. While doing that is probably not overly desirable, it would be much nicer if rails either supported that behaviour or error/

[2018-10-26 00:41] GeniusStorm commented on #34315
If you look at the activesupport framework code https://github.com/rails/rails/blob/3f8b1353c64825fb665f3ab0c06d3616dc56b6fe/activesupport/lib/active_support/time_with_zone.rb#L155

ActiveSupport defaults to json standard time format which does confirm to ISO 8601.
You are seeing that result because `ActiveSupport.use_standard_json_time_format = true` by default
If you want the result in "2005/02/

[2018-10-26 01:08] matthewd commented on #34310
Thanks, this is a super clear report!

Yeah, talking to the database inside a model definition is bad form, but it shouldn't hang.

It sounds like thread B needs to do the same "try to take lock, if unavailable then surrender other lock and wait" on its attempt to reclaim the share lock that it does on the DB lock.

[2018-10-26 02:14] #34311 closed

[2018-10-26 05:36] tessereth commented on #34310
Okay, I checked out what happens if I revert the `LoadInterlockAwareMonitor` to just a vanilla `Monitor`. It deadlocks somewhere subtly different but it's basically the same problem. There's code that's roughly:

[code]
So with thread A being roughly the same, thread B:
1. Has the share lock
2. Takes the db connection lock
3. Releases the share lock
4. Executes query
5. Blocks reclaiming share loc

[2018-10-26 07:14] matthewd commented on #34310
I was feeling pretty enthusiastic about the idea of just legislating that the locks shall not meet... until I remembered The Tricky One: :confused:

https://github.com/rails/rails/blob/a52c6989a0aacc50b35891265a0b5631e1ec2370/activerecord/lib/active_record/connection_adapters/abstract/transaction.rb#L285-L288

IIRC that's the only place we invoke user-application code while holding the DB lock...

[2018-10-26 07:15] Erol commented on #34311
I don't think this is Rails-related at all. You might want to file this issue on https://github.com/collectiveidea/delayed_job

[2018-10-26 09:28] yazumoto commented on #34312
This may be intended.
https://github.com/rails/rails/commit/fb86ecd604a362355827bbf05776b847b0ded9a5

[2018-10-26 09:59] ccelestial commented on #34311
@Erol, I think this is more on the YAML/Psych integration with of AR versions than Delayed::Job.

[2018-10-26 10:00] ccelestial commented on #34311
I was finding a way to make the older yaml version still Deserializable with Rails 5.2+.

[2018-10-26 10:35] JoshCheek commented on #34244
Note that I found another solution which is much simpler than any of the others I've considered: It addresses the most pressing issue of bypassing `rescue_from`, but won't fix that these errors don't get logged. The basic idea is to override all the `process_action` methods with your own that rescues the `ParseError` and put your rescue logic there:

[code]

[2018-10-26 10:54] anilmagapu opened #34320 "What is the ActiveSupport::Cache::FileStore key limit?"
I am using Model caching in my application to store caching data.At the time of generation caching file, i am giving different formats to store data.Because of that it is taking 140-180 length file name
Ex: 1000011_2000014_2000004_2000013_1000006_1000010_2000005_2000001_1000012_2000013_2000012_2000015_2000006_1000006_1000006_1000000_1000008_brand_list

May i know what is the maximum length for Act

[2018-10-26 11:29] saiqulhaq commented on #34320
I think it's depend on the operating system

[2018-10-26 11:51] anilmagapu commented on #34320
Thank you for very quick reply @saiqulhaq  and @frodsan .
Yes i have found info in in file_store.rb

[2018-10-26 12:14] frodsan commented on #34320
@anilmagapu No problem, you can close the issue if you found the info you were looking for. Remember that the issues board is for issues only: https://github.com/rails/rails/issues/34190#issuecomment-429148542

[2018-10-26 12:48] tessereth commented on #34310
Ah gross transactions. Yeah, that'll be a problem.

The more I think about it, the more I wonder if this is actually solvable in the general case. Reminding myself of the 4 necessary conditions for deadlocks:

1. Mutual exclusion: I'd say it's fairly obvious that this is necessary given the reasons you just stated plus your [interlock documentation](https://guides.rubyonrails.org/threading_and_cod

[2018-10-26 13:01] Alagaesia93 commented on #34312
I have the same error. Any idea on how to solve it?

[2018-10-26 13:20] mguinada commented on #34312
Same here. In my case is coming from a third party gem. Is there any corrective action?

[2018-10-26 13:20] leroydupuis opened #34321 "url is not changing when render a different controller action."
In my Project there is cart controller which has a checkout action which serves a form.
[code]
The create action for this form in another Controller
[code]
But after render,  the url changed to **http://localhost:3000/orders** obviously if we refresh the page the controller look for its own action ans this cause an error. How to resolve this issue?

ruby version- 2.5.1
Rails version- 5.2.1

[2018-10-26 14:54] ndbroadbent opened #34322 "Enum should raise an error if there is a method collision when using _prefix or _suffix"
### Steps to reproduce

[code]

### Expected behavior

ActiveRecord should raise the following error:

[code]

### Actual behavior

No error is raised, and the `state_changed?` method is silently overwritten. This breaks any code that expects `state_changed?` to return `true` when the state has been changed to any value. Instead, it will only return `true` when the state equals `changed`.

### Sys

[2018-10-26 15:10] irmpow opened #34323 "Feature request: tsearch_data rules migrations"
### Steps to reproduce

Have symbols in DB, for example, letters from localized language, that not represented in /usr/share/postgresql/10/tsearch_data/*.rules in names of models. Than use 'unaccent' module of DB to search through that models like that

[code]

### Expected behavior
There must be reminder in guide https://guides.rubyonrails.org/active_record_migrations.html, or functionality to cr

[2018-10-26 20:37] CharlesMcMillan opened #34325 "Feature Request: Need to chain LEFT OUTER JOIN onto previous INNER JOIN"
### Setup/Demonstration

I need the ability to chain a LEFT OUTER JOIN onto an INNER JOIN...see the example to demonstrate

[code]

### Observed Behavior (for the above example)
Note that the above errors out for v5.0.7 with a duplicate alias error, since we are calling `joins` and then `left_outer_joins` on the same table. In Rails 4.2, we actually used the [other_joins gem](https://github.com/il

[2018-10-26 22:07] johnam commented on #34321
This looks like it would be more at home on stack overflow. One approach to reorganizing things:

When users 'checkout', they go to OrdersController#new (taking in the cart id). At the point of 'checkout' you're dealing with a new resource, an order.

[2018-10-27 03:10] superuser14 opened #34327 "Order of joins not respected when building ActiveRecord query with `merge` and `joins`"
I'm building a query with ActiveRecord where I do a `LEFT OUTER JOIN` and then use `merge` to do an `INNER JOIN`. When I pass in `GithubPr.joins(:github_user)` as the argument to `merge`, the order of the joins does not match my code, and is instead changed so that in the final query, the inner join comes AFTER the left outer join. This results in an invalid SQL query.

The steps to reproduce the

[2018-10-27 03:10] #34327 closed

[2018-10-27 03:10] abinoda opened #34328 "Order of JOIN statements not respected when building ActiveRecord query with `merge` and `joins`"
I'm building a query with ActiveRecord where I do a `LEFT OUTER JOIN` and then use `merge` to do an `INNER JOIN`. When I pass in `GithubPr.joins(:github_user)` as the argument to `merge`, the order of the JOIN statements is not as intended, resulting in a broken SQL query.

### Steps to reproduce

Here's my query with a `.to_sql` to print the generated SQL.

[code]

### Expected behavior

The quer

[2018-10-27 06:01] y-yagi commented on #34283
As explained in [doc](https://edgeapi.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#method-i-belongs_to), when required is specified for assocation, presence validation is executed.

Therefore, since `validates_presence_of` is executed as validation, `details` has` blank`. However, `:required` is used for error messages in order to make it suitable.
https://github.com/rails/r

[2018-10-27 06:01] #34283 closed

[2018-10-27 06:03] y-yagi commented on #34291
Fixed by #34313

[2018-10-27 06:03] #34291 closed

[2018-10-27 09:01] y-yagi commented on #34315
All of these are expected behavior as documented.
Rails `to_json` has returned the correct value as ISO 8601 format.
I do not know why `Time#to_json` of `json` gem seems to be in a different format. By the way, `DateTime#to_json` is ISO 8601 format.

[code]
Anyway, I think that there is nothing to do with Rails. Thanks.

[2018-10-27 09:01] #34315 closed

[2018-10-27 09:08] #34320 closed

[2018-10-27 09:09] y-yagi commented on #34321
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks.

[2018-10-27 09:09] #34321 closed

[2018-10-27 09:30] y-yagi commented on #34322
Since the `#state_changed?` method is not defined in Active Record, it does not cause an error.
For example, if you attempt to overwrite the actually defined `saved_changes?` method, an error occurs as expected.

[code]

[code]

Can you clarify the issue more clearly?

[2018-10-27 09:31] y-yagi commented on #34323
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feedback.

[2018-10-27 09:31] #34323 closed

[2018-10-27 09:35] ndbroadbent commented on #34322
@y-yagi Ohhhh you're right, the `*_changed?` method is not coming from `ActiveRecord`, it's coming from `ActiveModel::Dirty`. See: https://api.rubyonrails.org/classes/ActiveModel/Dirty.html

Although `activemodel` is actually a dependency of `activerecord`, so I think it's still a good idea to raise an error.

[2018-10-27 09:42] y-yagi commented on #34322
Oh, I see. Thank you for clarifying. I agree to need to check dirty methods.

[2018-10-27 09:56] y-yagi commented on #34325
Thanks for the issue. Your example works without exception in Rails 5.2.0.

[code]

[code]

Please consider upgrading to Rails 5.2. Thanks.

[2018-10-27 09:56] #34325 closed

[2018-10-27 09:59] y-yagi commented on #34328
Can you create a reproduce script with this [template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb)?

[2018-10-27 12:46] CharlesMcMillan commented on #34325
@y-yagi Note that the SQL produced in 5.2 looks like this:
[code]

Whereas we want this:
[code]

My point with the code example is that I can't see a way to do this with ActiveRecord left_joins syntax. (Attempts to do so on 5.0.7 error out, while the SQL produced on 5.2 don't meet the requirement I'm describing)

[2018-10-27 13:49] djshitcoin commented on #30431
This should be re-opened. This is a real issue, not just a feature-request.

[2018-10-27 16:06] coorasse commented on #32896
Rails 6 will also have Webpacker by default, which supports SCSS. This is a valid alternative, and so far is working nicely for me. I wrote a [guide to migrate stylesheets to Webpacker](https://medium.com/@coorasse/goodbye-sprockets-welcome-webpacker-3-0-ff877fb8fa79) if interested. In my last projects I use Webpacker for everything: JS, CSS, images and fonts.

[2018-10-27 17:17] abinoda commented on #34328
@y-yagi How's this? It seemed counter-productive to use test assertions on the raw SQL output so I just print out the two examples I mentioned in my original post.

[code]

[2018-10-27 17:36] zw963 commented on #34315
@y-yagi , why close this issue? , when disable ` ActiveSupport.use_standard_json_time_format = false`,
change default date format to `2018/10/24 10:10:10 +0800`, this is a expected behavior too?

[2018-10-27 17:54] ndbroadbent commented on #34322
@Aguardientico I was pressing the `tab` key and getting tab completion for those methods in the Rails console, so I think are getting defined at some point. I think the `# Handles <tt>*_changed?</tt> for +method_missing+.` comment might be out of date or misleading.

I wanted to learn more about [these `attribute_method_*` calls](https://github.com/rails/rails/blob/master/activemodel/lib/active_mo

[2018-10-27 22:43] #34206 closed

[2018-10-27 23:43] #33952 closed

[2018-10-28 00:16] y-yagi commented on #34315
This is a expected behavior.
If benefit by changing this for user, may be able to change it. But that is a feature request. We don't take feature request on the issue tracker.

[2018-10-28 06:11] nodanaonlyzuul commented on #25010
I just want to say thanks to @tlrdstd.
This ticket (and your PR!) just saved me a night of head scratching.

[2018-10-28 06:25] sanchez2210 opened #34332 "It's not possible to chain #left_joins just like #joins method"
### Steps to reproduce
I noticed that it is possible to call a chain of `joins` method on a relation, and each call would append to the initial JOIN clause.

It's not possible to do so with `left_joins`, leading to very long method calls.

### Expected behavior

Being able to chain `left_joins` calls, just like `#joins`.
[code]

### Actual behavior

It raises an error.
[code]

One needs to write t

[2018-10-28 14:53] #33420 closed

[2018-10-28 17:08] robin850 commented on #34332
It looks like support for String has [not been implemented originally](https://github.com/rails/rails/pull/12071/files#diff-bf6dd6226db3aab589916f09236881c7R964) for this method and never [since then](https://github.com/rails/rails/blob/7d7372c14df4ad5b546f012a82538753c5991905/activerecord/lib/active_record/relation/query_methods.rb#L981).

Also, given #27947 has landed since Rails 5.2, maybe I'm

[2018-10-28 18:53] #32719 closed

[2018-10-28 21:15] kirs opened #34337 "ActiveJob and retries API"
`ActiveJob::Exceptions` promotes the following API:

[code]

It may seem that the job would be retried 10 times on `Net::OpenTimeout` and 3 times on `ActiveRecord::Deadlocked` - however, since the exceptions counter (`#executions`) is incremented globally but not per exception class, it's currently possible that:

1. First 3 times the job raises with `Net::OpenTimeout`, each time it's retried and

[2018-10-29 13:42] tigran1997 opened #34340 "Time.use_zone with numerical offset does not work"
### Steps to reproduce
Hi
(Guidelines for creating a bug report are [available
here](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))
I recently spotted that Rails especially tz_info library has issues on time zones when we apply it by numerical offset.
Here what happened

### Expected behavior
Tell us what should happen

Time.use_zone(-10800){ Time.zone

[2018-10-29 15:46] scrooloose commented on #27455
We are running into this issue on Ruby 2.4.4p296, Rails 5.1.4, Puma 3.9.1. We can also reproduce it on later versions of ruby.

The `config.eager_load = true` workaround fixes it for us, but this is obviously not ideal.

[2018-10-29 17:21] rafaelfranca commented on #34337
It is not clear to me what is the expected outcome of this issue. In the beginning you talk about a  possible problem with the way the execution counter is used to determine if the exception would cause the job to be retried or not.

After that you talk about the API not providing any way to declare "retry any exception N times".

Later you talk about a new API and ask how we can merge the current

[2018-10-29 17:32] dhh commented on #34337
1. That's how I intended it too. It's a bug that the counters are shared. Should be per declaration.
1. I think "retry_on StandardError" or "retry_on Exception" should provide that already? But I think it's kinda code to deal with all exceptions in this way. You should know why you'd want to retry, and the code should document that knowledge.
1. I don't think this is a good idea. I prefer the synt

[2018-10-29 18:52] albertoalmagro commented on #34337
Shall I further investigate the bug related to the shared counter and submit a PR to fix it?

[2018-10-29 19:00] rafaelfranca commented on #34337
@albertoalmagro if you want, go ahead.

[2018-10-29 19:05] fidalgo opened #34342 "Avoid hireris because it's unmaintained"
In the [caching documentation,](https://guides.rubyonrails.org/caching_with_rails.html#activesupport-cache-rediscachestore) it's suggested to use hiredis for faster connections, although the code is not maintained any more: https://github.com/redis/hiredis-rb/issues/49 and the last release was from 29 Dec 2015.

If you guys think it would be good to get rid of it, I will later open a PR to remove

[2018-10-29 20:17] rafaelfranca commented on #34342
Do you see anything broken on hiredis now that explain the removal? I only see 1 open PR and 3 open issues in that repository so I'd guess the project is very stable. Also I'm a maintainer of redis and hiredis for a few months already so I'd say that issue is not valid anymore. I just closed.

[2018-10-29 20:19] gmcgibbon commented on #34043
I think changing the docs would be the best solution. Please feel free to submit a PR to fix this. Thanks!

[2018-10-29 20:36] jpatters commented on #31349
A reference for anyone else who lands here:
https://github.com/rails/rails/pull/33521

This has been added for rails 6.0

[2018-10-29 21:37] afn opened #34344 "ignored_columns has surprising behavior for STI"
### Steps to reproduce

Suppose you have a `Vehicle` model with subclasses `Car` and `Bicycle`, so there are some columns on the table (e.g. `engine_size`) which are relevant to one subclass but not the other. It would be nice to hide the `engine_size` subclass from `Bicycle`. We can attempt to address this with `ignored_columns`:

[code]

### Expected behavior

I would expect to be able to call `

[2018-10-29 22:36] albertoalmagro commented on #34337
Yep, I could reproduce it with the following reproduction steps:

[code]
When it reaches `OtherCustomException` the value of `executions` is already `3` and it raises.

Tomorrow I will try to reproduce it in a Rails' test and write a patch (it is already late here in Spain). Cheers!

[2018-10-29 23:39] duyetpt commented on #34340
[code]
equal to `Time.find_zone! -14400`

I search for **Atlantic Time (Canada)** and read [wiki](https://en.wikipedia.org/wiki/Atlantic_Time_Zone) and read more [Daylight saving time](https://en.wikipedia.org/wiki/Daylight_saving_time)

I think `Time.use_zone(-14400){ Time.zone.now}` this returns `Mon, 29 Oct 2018 10:26:23 ADT -03:00` is right for now.

[2018-10-30 00:48] aselder opened #34346 "ActiveRecord: Inspecting relation in `after_save` hook can cause double save attempt."
### Steps to reproduce

[code]

### Expected behavior
The user should be saved without an error.

### Actual behavior
TestDoubleSave#test_double_save:
ActiveRecord::RecordInvalid: Validation failed: User has already been taken

### System configuration
**Rails version**: master, 5-2-stable, 5.2.1

**Ruby version**: 2.4.5

Looking at the code in `autosave_association.rb`, it looks like there's a bu

[2018-10-30 00:56] aselder commented on #34346
This test above passes under ActiveRecord 5.1.1

[2018-10-30 10:46] dgmora commented on #32598
Is there an active PR/issue for this (still existing) issue? #15461 is closed and that one links to #24281, which is kinda related but is not the same, I think

[2018-10-30 10:57] Faizaankhan3 commented on #32718
Regenerate key
Was your master key compromised? Do you want to generate new master.key?

Currently, there is no “edit password” feature, you need copy original content of the credentials, remove the enc files and regenerate fresh credentials file (source)

step 1 copy content of original credentials rails credentials:show
step 2 move your config/credentials.yml.enc and config/manter.key away (mv c

[2018-10-30 11:53] jordinl83 opened #34348 "Updating password defined by `has_secured_password` with empty string does not trigger validation error"
### Steps to reproduce

[code]

### Expected behavior
Active Record classes that define a password with `has_secure_password`, when I try to update a record that already exists by setting the password to an empty string, I should get a validation error on password.

### Actual behavior
The blank password is ignored and no validation errors are triggered.

### System configuration
**Rails version**

[2018-10-30 11:54] fidalgo commented on #34342
@rafaelfranca No, I've just stumbled across the recommendation and checked the hiredis repo and issues... and found that, so if the redis-rb is also the maintainers of redis-rb, this can be closed for good.

[2018-10-30 11:54] #34342 closed

[2018-10-30 16:00] rafaelfranca commented on #34348
I don't think the problem is on those conditionals. `''` is empty so the password_digest would not be updated. The validation doesn't fail because the digest is still the same as before and no changes to the database will be made.

We have a test for it
https://github.com/rails/rails/pull/13772/files#diff-68936e05b27105b053a083bfdea6927bR82. So an empty password doesn't change the current password

[2018-10-30 19:41] gmcgibbon commented on #34262
Thanks for raising this issue. I've submitted a PR that should fix this error, and further regression.

[2018-10-30 21:00] gmcgibbon commented on #33894
Thanks for raising this issue. I'm fairly new to the concept of locking as well. Postgres has some good documentation on it [here](https://www.postgresql.org/docs/11/static/explicit-locking.html#LOCKING-ROWS). I've submitted a PR to fix the example.

[2018-10-30 21:03] SampsonCrowley commented on #34267
so unless you are familiar with other people in the community or know how to add it yourself, you can't propose new features? seems like a good way to stifle creativity. especially where rails is supposed to be all about convention, and conventionally repos have a `feature-request` label for tracking requested features.

just my two cents. Rails is still the tool I prefer most often, and I underst

[2018-10-30 21:14] #33894 closed

[2018-10-30 21:16] gmcgibbon commented on #34043
I've submitted a PR for to amend the docs. You've done a lot of detective work, so I've given you credit as well for the contributors app to pick up on.

[2018-10-30 21:36] joallard commented on #34262
Thanks for taking the time to put together the PR, @gmcgibbon!

[2018-10-30 21:47] jrochkind commented on #33894
thank you @gmcgibbon !

[2018-10-30 21:59] hishammalik commented on #32790
@georgeclaghorn you mentioned that you'd love to chat about compelling use case and appropriate implementation. I see a number of posts in this thread with compelling enough use case example, so why not share your thoughts on appropriate implementation here so that general public can take advantage of it.

In its current implementation, the ActiveStorage implementation is not even SEO-friendly. In

[2018-10-30 22:10] #34262 closed

[2018-10-31 04:31] lsylvester commented on #34043
`I18n.locale` is setting the value within the current thread - so it is threadsafe, and `I18n.with_locale` is using it internally.

The only thing that is being changed in behaviour is that subsequent requests on the same thread won't have the `locale` from the previous request set before the `before/around_action` is called - but that is an issue that could also happen on process based app server

[2018-10-31 05:12] gmcgibbon commented on #34043
🤦‍♂️ Thanks @lsylvester, I probably should've checked the [method definition](https://github.com/svenfuchs/i18n/blob/3269c01edf3bb9537602bf0467a6bab38b3d9ba6/lib/i18n.rb#L279). I think we can all still agree this should be mentioned in the docs in some way. I'll adjust the PR.

[2018-10-31 05:54] lsylvester commented on #34348
I think that the reason the password is ignored for empty strings is that if a user has a form with multiple fields (including password) and they update details but don't enter the password, then we want to allow the other details to be updated without the password being effected.

[2018-10-31 08:52] marbleappdev commented on #34312
same here.

`class Note < ActiveRecord::Base
  belongs_to :subject, polymorphic: true

  has_one :self_ref, :class_name => self, :foreign_key => :id
  has_one :volunteer, :through => :self_ref, :source => :subject, :source_type => 'Volunteer'
end`

`Note.joins(:volunteer)` works on rails 5.0.7, but now getting the same error on 5.2.0

[2018-10-31 11:44] jackkinsella commented on #34312
@yazumoto Although this error message was _introduced_ in the commit you mentioned, the functionality broke before this. i.e.
* In Rails 5.1 I got the error:
`Exception: NameError: uninitialized constant LineItem::Purchasable`
* In Rails 5.0 it worked with problem.

You can reproduce all the above by modifying the rails gem version in my 'steps to reproduce' section in the parent post.

[2018-10-31 14:08] januszm commented on #29625
This is still a problem and it seems to me that it is mainly related to controllers such as API whose names are nested, please look at the following example:

[code]

It freaks out when the model is defined in the namespace.

I guess that adding  `wrap_parameters Foo::Bar` or  `def model; Foo::Bar; end` to the problematic controller would help, right?

Also, this fragment of the comments section s

[2018-10-31 15:10] benliscio opened #34358 "PG::NotNullViolation raised when has_many association create rolls back and then parent is saved"
### Steps to reproduce

https://gist.github.com/benliscio/9c16c5d680b6d8faa204a99a8cff4948

### Expected behavior
I'm not sure what the expected behavior should be, but I'm pretty sure that the `PG::NotNullViolation` exception should not be raised.

FYI we changed our application to use `build` instead of `create` to work around this issue.  I have included a test case for this as well.

### Actua

[2018-10-31 15:18] JoshCheek commented on #34244
Looks like this is going to get fixed by https://github.com/rails/rails/pull/34341 ❤️

[2018-10-31 15:30] eugeneius commented on #34358
Duplicate of https://github.com/rails/rails/issues/15018, https://github.com/rails/rails/issues/30167, and https://github.com/rails/rails/issues/32848.

Also note that `Comment.build` doesn't work; your second test isn't demonstrating what you think it is.

[2018-10-31 16:15] benliscio commented on #34358
@eugeneius can you explain what you mean by "doesn't work"?  Perhaps what is missing from the test case is that we are setting an attribute on the parent in the rescue and then saving the parent.

Using `build` allows the second `post.save!` to succeed because it no longer raises the `PG::NotNullViolation` exception.

Example:

[code]

[2018-10-31 17:11] eugeneius commented on #34358
I mean that the `build` method isn't defined on Active Record model classes:

[code]

The passing test in your gist is actually rescuing that NoMethodError, so it doesn't get far enough to save anything - which also means there's nothing to roll back, and it doesn't trigger the problem demonstrated in the other test.

[code]

[2018-10-31 20:41] ewrenn8 commented on #34264
Hi @y-yagi ,

Although ruby does track already loaded files, a system set up which includes a symlink to the application and its gems will cause a double require.

When there is a symlink, the `__dir__` method of requiring, used [here](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/validations.rb#L439), expands the symlink to the absolute path to the file, allowing it to b

[2018-10-31 20:45] #34043 closed

[2018-10-31 20:52] #33163 closed

[2018-10-31 20:57] lsylvester commented on #34348
In my opinion the current implentation has the least surprise when using `form.password_field` and `update(params.permit(:password))`, and would make the controller code ugly having to prepare the params by deleting the password param if it is blank.

Can you outline the scenario where this behaviour is causing an issue? Maybe you could be clearing the password_digest before setting the password a

[2018-10-31 22:44] y-yagi commented on #34264
Hi, thanks for you details explanation.
By changing `validations.rb` to an explicit `require`, that issue may be solved.
But if this happens only with symlink, I am worried about the different problem.

Problems related to symlink + require combinations are fixed in Ruby 2.5.
Ref: [Bug \#10222: require\_relative and require should be compatible with each other when symlinks are used](https://bugs.

[2018-11-01 05:57] weilandia opened #34359 "ActiveSupport HashWithIndifferentAccess#to_options is not and alias for #symbolize_keys as of 5.2.0"
### Summary

Prior to 5.2.0 (de9e323, 2cad8d7), `HashWithIndifferentAccess#to_options` acted as an alias to `HashWithIndifferentAccess#symbolize_keys`. Now, `#to_options` returns an instance of `HashWithIndifferentAccess` while `#symbolize_keys` returns and instance of `Hash`.

### Steps to reproduce

To reproduce see these [test cases for 5.2.0](https://gist.github.com/weilandia/1011fa45721b7c78c

[2018-11-01 09:42] huacnlee commented on #31419
I wrote an Active Storage use example with the Public URL generate.

https://github.com/huacnlee/rails-activestorage-example

[2018-11-01 12:02] adampope commented on #34311
We had this exact same `allocate` error.  We diff'd a job serialised on 5.1 and 5.2 and found that

`!ruby/object:ActiveRecord::Attribute::FromDatabase`

is now

`!ruby/object:ActiveModel::Attribute::FromDatabase`

We found that doing a string replace of these values was enough to make the job deserialise with `load_dj` under 5.2

[2018-11-01 12:40] jordinl83 commented on #34348
@lsylvester this is for an API, so if I get an empty string I should return a validation error. There are obviously ways around this "limitation", I just find odd that rails ignores empty strings for password fields but it doesn't for other types of inputs.

[2018-11-01 14:15] JohnSmall commented on #30205
ActiveJob is an abstraction layer, but the DelayedJob adapter is meant to work only with DelayedJob and this patch is only for the adapter code.

Since there is other code specific to DelayedJob in the DelayedJob adapter I don't see the problem adding this patch.

[2018-11-01 14:57] snpd25 commented on #34348
@lsylvester  Or we can provide the user with an option of having no password by using a checkbox param for passwords, and ignore the password param on the basis of it.

[2018-11-01 15:36] belgoros commented on #32500
When using the settings suggested by @philiplambok, it fails as follows:
[code]
rails: `5.2.0`

In `development.rb`:
[code]
What am I missing ?

[2018-11-01 15:44] belgoros commented on #32500
Finally the option that worked for me was:
[code]
And in my serialiser I used:
[code]
The code source of the app is [here](https://github.com/belgoros/draft-api/tree/add_file_upload).

[2018-11-01 17:15] EByrdS opened #34365 "Empy string key in enum causing column update when checking instance in conditional"
An empty string in the key of an enum hash fails on the correct usage of enum as it will try to create `def !` and `def ?` methods, however, this setup causes silent column updates when checking truthiness of an instance and no headsup is sent to the developer.

### Steps to reproduce
[code]

### Expected behavior
1. An error should be raised when trying to create an `enum` with an empty string as

[2018-11-01 17:21] #34359 closed

[2018-11-01 19:35] BlakeWilliams opened #34366 "ActiveJob `queue_name_prefix` not applied when using default queue name"
### Steps to reproduce

1. Set `ActiveJob::Base.queue_name_prefix` to some value
2. Create a job class that has no `queue_as` value

Here's a failing test that reproduces the issue largely taken from https://github.com/rails/rails/blob/master/activejob/test/cases/queue_naming_test.rb:

[code]

### Expected behavior

I would expect the above test to pass with the `HelloJob.queue_name` value to equa

[2018-11-01 19:50] nbrustein commented on #34255
This should do it:

[code]

[2018-11-01 22:32] gmcgibbon commented on #33219
I can't seem to reproduce this issue using 6.0 or 5.2.0 with the code provided. Can you provide a failing test script ([template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb)) or a sample app?

[2018-11-02 03:02] chase439 commented on #25326
I thought it was a bug too. However, for me it turns out to be an issue with the database user's roles/privileges.

[2018-11-02 05:09] madejejej opened #34369 "ActiveSupport::Duration#inspect yields incorrect value"
### Steps to reproduce

[code]

### Expected behavior
The test should pass. Both diff1 and diff2 should yield the same value for inspect.

### Actual behavior
`diff1.inspect` yields `-7 days and 604800.0 seconds` and `diff2.inspect` yields `0.0`:

[code]
### System configuration
**Rails version**:
5.2.0

**Ruby version**:
2.5.1p57

[2018-11-02 16:24] backspac opened #34371 "ActiveRecord::StatementInvalid raised when using find_each on foreign table"
### Steps to reproduce
Having a foreign table called `foreign_models` on PostgreSQL 10.5 using `postgres_fdw`
[code]

### Expected behavior
A record should be returned.

### Actual behavior
An `ActiveRecord::StatementInvalid` error is raised.
The following SQL was generated:
[code]
I think it's due to [`connection.schema_cache.primary_keys(table_name)`](https://github.com/rails/rails/blob/v5.2.1/a

[2018-11-02 16:44] paulmthiebauth commented on #33741
Does this gem prevent AS::Attachment and AS::Blob records from being created in the event an upload doesnt pass validations?

[2018-11-02 21:21] mu-is-too-short commented on #31981
@igorkasyanchuk But does that help with the harder issue? If you say:

    obj.image.attach(thing)
    obj.image.purge
    ...

and then validations on `obj` fail or `obj.save` fails in some other way (such as a constraint violation in the database) then nothing permanent should happen to `obj.image`.

Built-in validation support would be nice but forcing everyone to hack up their own two-phase co

[2018-11-03 03:12] kalinchuk commented on #15185
Bug still exists. Any updates?

[2018-11-03 15:49] composerinteralia commented on #34369
Also reproducible with:

[code]

We put together the duration with -7 days and 604800 seconds [here](https://github.com/rails/rails/blob/5821b1fd79eddd3dc8bb7ae919f235963e019442/activesupport/lib/active_support/duration.rb#L55..#L60) and the inspect method is [here](https://github.com/rails/rails/blob/5821b1fd79eddd3dc8bb7ae919f235963e019442/activesupport/lib/active_support/duration.rb#L375-L379)

[2018-11-03 17:05] venarius commented on #29307
Also having this problem

[2018-11-04 01:31] mlt opened #34374 "Parallel testing requires UNIXserver on Windows platform"
### Steps to reproduce

0. Have a Windows machine
1. Clone rails, bundle install it, and create a new rails app as outlined in https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#clone-the-rails-repository.
2. bundle exec rails generate scaffold blah name:string
3. bundle exec rake test

### Actual behavior
[code]

### Expected behavior
Either disable parallelization with a note

[2018-11-04 02:10] madejejej commented on #34369
Great question! I agree that it makes sense once you know the internals of the class. But given that all interactive tools like irb and pry use `inspect` to print the object, this can lead to a lot of confusion.

There was a bug in one of the codebases that I work with - turned out to be timezone-related. But my first thought when I saw this during debugging was that "there must be something wrong

[2018-11-04 15:36] stas commented on #33407
Thanks for sharing @jhubert!

[2018-11-04 22:16] eugeneius commented on #33868
The problem that causes the invalid `INSERT` statement is already tracked in https://github.com/rails/rails/issues/15018 and https://github.com/rails/rails/issues/30167.

[2018-11-05 02:10] jwinnie commented on #33187
Can still reproduce. Rails is ignoring whitespace in errors when presenting them in the browser.

In the terminal:
[code]

In the browser:
[code]

[2018-11-05 02:29] jwinnie commented on #33187
The code is in `actionpack/lib/action_dispatch/middleware/templates/rescues`

[2018-11-05 07:45] backspac commented on #34371
Alright, it worked.
Thanks a lot!

[2018-11-05 07:45] #34371 closed

[2018-11-05 10:40] iainbeeston opened #34379 "System tests do not respect `Capybara.javascript_driver`"
### Steps to reproduce

1. Set `Capybara.javascript_driver` in `test_helper.rb`
2. Create a rails system test (without explicitly calling `driven_by`)
3. Run system test

### Expected behavior

The driver set by `Capybara.javascript_driver` should be used to run the test.

### Actual behavior

The Capybara driver is ignored, and `:selenium` is used as the driver instead.

### System configuration

[2018-11-05 10:49] jdelStrother commented on #26273
I'm still seeing occasional uninitialized constant errors in 5.2.1, with the following constants:

[code]

For now we've added an initializer to force them to load:

[code]

[2018-11-05 15:03] entwanderer opened #34380 "ActiveRecord: When having a column named 'id' of type text, the ids are forced to integers"
## Steps to reproduce
Given a PostgreSQL OR MariaDB database (retested with both) with a table, containing a id of data type text:

### DB Model - table: **machines**
[code]

### PRY console or IRB
[code]

[code]

## Expected behavior
When i write to attribute 'id' of type string, it should contain the assigned string ("foo").

## Actual behavior
The assigned string value seems to be forced or tra

[2018-11-05 20:03] XSecr3t opened #34381 "[ Error While Install Nokogiri 1.8.0"
- [ Error While Instalaling Nokogiri 1.8.0 ]

Excuse Me
Hello sir greetings

I have some problem can anybody help me?

I want install Nokogiri 1.8.0 but cant cause have error like this

Results logged to /data/data/com.termux/files/usr/lib/ruby/gems/2.5.0/extensions/aarch64-linux/2.5.0/nokogiri-1.8.0/gem_make.out

I have already run any command that i see like

        [--with-xml2-config=/path/to

[2018-11-05 20:56] #33195 closed

[2018-11-05 21:44] squirrelpoop opened #34382 "ActiveSupport::MessageEncryptor.encrypt_and_sign (nearly) doubling size of message when encrypting"
### Steps to reproduce
https://gist.github.com/squirrelpoop/b4b5091d1f1997fbd788cef5b0035331

### Expected behavior
I would expect the encrypted data to be somewhat similar in size to the original item, not nearly doubled.

### Actual behavior
The encrypted size is SIGNIFICANTLY larger than the original amount of data, which causes smaller cookies to throw CookieOverflow errors.

### System config

[2018-11-05 22:01] albertoalmagro commented on #34381
Sorry @XSecr3t, but we can't help you here with your problem. This section is reserved for Rails' issues only. If you have trouble installing Nokogiri, please try to submit a question on sites like StackOverflow, where a dedicated community will be able to help you.

Thanks and good luck!

[2018-11-05 22:18] albertoalmagro commented on #34379
Hi @iainbeeston,

Thanks for your report and the detailed reproduction steps. Unless I'm missing something, I see Rails working as expected in the application you submitted.

If you want to set a default driver, the documentation in `ActionDispatch::SystemTestCase` advices to set it by using `driven_by` at `application_system_test_case.rb`. See [here](https://github.com/rails/rails/blob/master/act

[2018-11-05 22:40] XSecr3t commented on #34381
@albertoalmagro thanks for replying me! Sorry for wasting your time

[2018-11-05 23:44] MrSkinny opened #34383 ""Enable locale fallbacks" doesn't work as documented in comments"
### Steps to reproduce
Leave settings as default

### Expected behavior
The comments state:
[code]

With the following locale settings, you would expect a missing translation key in current locale file to default to the key in the English language:
[code]

### Actual behavior
Instead a translation missing error is raised and this generates a `<span class="translation_missing">` template with text

[2018-11-06 01:30] eugeneius commented on #34380
The `id=` method [always sets the primary key](https://api.rubyonrails.org/v5.2.1/classes/ActiveRecord/AttributeMethods/PrimaryKey.html#method-i-id-3D), even if the primary key isn't named `id`, and even if another attribute named `id` exists.

This means that when you run `m.id = "foo"` in your reproduction steps, you're actually setting the `sid` attribute, so the value being coerced to an integ

[2018-11-06 02:08] AroSwift commented on #34365
I have also experienced this issue on a production service running Ruby 2.4 and Rails 5.0.6. Furthermore, I can also reproduce the issue on `Ruby 2.5.0` and `Rails 5.2.1`.

Let me highlight why this should matter to all Rails developers. The method `blank?` and `present?` use the bang (`!`) method. Thus, if one has a model with an empty enumerator key defined, calling one of these methods will cau

[2018-11-06 02:30] devkir commented on #19490
Still present in Rails 5.2.1

[2018-11-06 04:32] #34380 closed

[2018-11-06 04:50] #34381 closed

[2018-11-06 06:35] christophemaximin commented on #34383
Thanks for reporting! 👍
This is indeed an issue on the latest released version of rails (5.2.1).

However, this issue has already been fixed on `master` (merged pull request:  https://github.com/rails/rails/pull/33574), so this issue will be closed by a Core member.

[2018-11-06 09:18] iainbeeston commented on #34379
@albertoalmagro thanks for your helpful reply, the link to `SystemTestCase` especially was useful.

My issue is what the default behaviour should be, if you **do not** call `driven_by` in `ApplicationSystemTestCase`. Currently, if you do not call `driven_by` yourself, `SystemTestCase` [defaults](https://github.com/rails/rails/blob/fc5dd0b85189811062c85520fd70de8389b55aeb/actionpack/lib/action_disp

[2018-11-06 10:12] tbuehlmann commented on #34237
I tackled that exact problem in a POC over [here](https://github.com/tbuehlmann/active_record-returning_attributes). It wasn't that simple as I had to override quite some AR core code. So it's not a very great implementation and will probably break as soon as internals change.

[2018-11-06 10:42] belgoros opened #34386 "Rails API InvalidSignature error when updating a model without changing the attached file"
When using Rails API app I got the following error when updating an existing model without changing its attached file:
[code]

Here is the full stack trace when hitting `update` action:
[code]
Here is the `PostsController#update action:
[code]

### System configuration
**Rails version**: `5.2.0`

**Ruby version**: `2.5.0`

The code source of the app is available [here](https://github.com/belgoros/

[2018-11-06 12:21] belgoros commented on #34386
It seems like when the value `photo` is different when creating and updating a `Post`.
Here is how `params` look like when creating a `Post`:
[code]
And here is what is posted when updating te same `Post`:
[code]
So, in `create` it is the `signedId` of the blob that is posted:
[code]

but when updating, it is the file url of the photo:
[code]
Is it because of the way the `photo` is defined in `Pos

[2018-11-06 12:40] deepj commented on #34058
Can be this backported to Rails 5.2? This patch solves our issue with uploading XML files and ActiveStorage.

[2018-11-06 13:23] #33461 closed

[2018-11-06 13:36] hassanrehman commented on #32598
+1 for PR

[2018-11-06 16:03] davegson commented on #34237
If this will be implemented, I it will definitely override some AR core code ;) so it's a great reference!

Still, for this I assume we need somebody very familiar with the AR internals

[2018-11-06 16:11] belgoros commented on #34386
So, if I'm not wrong, `photo` attribute should be modified so that `PostsController` could receive an attribute needed to get the right file. It seems like sending `rails_blob_url(object.photo)` from `PostSerializer`  is not enough to be able to update a `post'  correctly with the same image.

[2018-11-06 17:11] albertoalmagro commented on #34379
@iainbeeston I see your point. On the other hand, this isn't Capybara alone but its Rails integration.

@eileencodes as you wrote this integration I think you are the best to decide about this. May you please tell us what you think? Thanks!

[2018-11-06 19:46] tmandke opened #34389 "Collection Proxy any? returns nil the first time in development"
### Steps to reproduce
* Clone https://github.com/tmandke/coll_proxy_issue repository
* Run the following in the cloned repository
[code]
* Call any one of the following command
[code]
In my testing I have found that this is only a problem if the first execution of the `any?` block returns truthy and involve a `CollectionProxy`.

### Expected behavior
All of the above commands should return `true`

[2018-11-06 20:23] #32329 closed

[2018-11-06 20:44] rafaelfranca commented on #34389
Could this be related to https://bugs.ruby-lang.org/issues/15105? Does it also happen with Ruby 2.4 or 2.6.0-preview3?

[2018-11-06 21:08] nsequera13 opened #34390 ""touch: true" not touch parent class in nested transaction with "requires_new: true" flag"
### Steps to reproduce
    require "bundler/inline"

    gemfile(true) do
      source "https://rubygems.org"
      #ruby '2.3.3'

      gem 'rails'#, '5.0.1 '
      gem "sqlite3"
    end

    require "active_record"
    require "minitest/autorun"
    require "logger"

    # This connection will do for database-independent bug reports.
    ActiveRecord::Base.establish_connection(adapter: "sqlite3"

[2018-11-06 21:18] belgoros commented on #34386
I fixed the problem by modifying `PostSerializer#photo` attribute as follows:
[code]

On the front-end app I'm getting `photo` as JSON containing both its URL and `signed_id` values and I assign `signed_id` if it is not already set to `photo` attribute. This way, I have always `signed_id` value posted as `photo` parameter, no matter if it is when creating a new post or updating the existing one. T

[2018-11-06 21:40] dlivesay commented on #14362
"images/jpeg" is not a registered media type.
See https://www.iana.org/assignments/media-types/media-types.xhtml

[2018-11-06 22:12] tmandke commented on #34389
Looks like it is, the command works in both 2.4 and 2.6.0-preview3. Thanks @rafaelfranca

[2018-11-06 22:12] #34389 closed

[2018-11-06 23:06] y-yagi commented on #34058
@deepj  Already backported to 5-2-stable 5fb4703471ffb11dab9aa3855daeef9f592f6388

[2018-11-07 10:10] gmile opened #34394 "arel not working"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2018-11-07 10:10] #34394 closed

[2018-11-07 11:41] dknox20 commented on #18519
@vnnoder I believe you need to change your definition of id on time to be

[code]

or use @nickstanish suggestion
[code]

[2018-11-07 11:55] h-haraguchi opened #34396 "The URL module api document is inadequate."
In version of 5.2, URL module api document is not described about public instance method.
https://api.rubyonrails.org/v5.2/classes/ActionDispatch/Http/URL.html
https://api.rubyonrails.org/v5.1/classes/ActionDispatch/Http/URL.html

[2018-11-07 14:20] Tarens2 commented on #15185
If you do queries something like this
`posts = Post.includes(:comments).select("posts.*, 1 as testval").where("posts.active = 1 OR comments.id < 1000").references(:comments)`

you can access custom columns by this code `posts.first.attributes["testval"]`

[2018-11-07 15:57] monfresh commented on #30519
It's very easy for some malicious person to generate 500 errors on your app by submitting POST requests with the key set to a String instead of a Hash, such as:
[code]
In order to prevent this, you have to handle this in every controller where you use strong parameters by doing something like this:
[code]

It would be nice if Rails handled this more gracefully, or as suggested above, by returning

[2018-11-07 17:08] gmcgibbon commented on #34396
To clarify, I believe you mean the lack of documentation for `#full_url_for`, `#path_for`, and `#url_for`, is that right?

[2018-11-07 17:13] kamipo commented on #34396
Somehow 5.2 and edge api doc show only Class Public methods section, don't show Instance Public methods section.

[2018-11-07 17:21] gmcgibbon commented on #34396
Oh, my mistake. You're right! I'll investigate this today.

[2018-11-07 17:30] jcoyne opened #34397 "ActiveSupport::Dependencies#autoload_module! creates a module that doesn't exist"
### Steps to reproduce

If there is a path in `myapp/app/javascript/foo/bar` that has nothing but javascript files.
And there are modules `Foo` and `Bar` defined in Ruby:
[code]

[code]

Then if you call `Foo::Bar` the `Foo::Bar` constant will get defined.

The problem is that when you call `Foo.hello` it resolves `Bar` as `Foo::Bar` rather than `::Bar`

### Expected behavior
No constant should be

[2018-11-07 19:51] rafaelfranca commented on #34397
How would you think about this behavior if this folder was inside `app/models/foo/bar/baz.rb`? Would you think that that `Foo::Bar` constant makes sense?

[2018-11-07 20:30] gmcgibbon commented on #34396
It would appear that Ruby 2.4.x has something to do with this issue. Generating locally on 2.5.1 doesn't have this issue whereas 2.4.1, 2.4.5, and 2.4.4 all do. Upgrading our docs server to use 2.5.x should solve this, but I don't really know why. I'll open an issue on rdoc.

[2018-11-07 21:11] almapro opened #34398 "`undef_method': undefined method `==' for class `ActiveSupport::ProxyObject' (NameError)"
### Steps to reproduce
`bin/rails server --port=4000`

### Expected behavior
Server should start.

### Actual behavior
Error:
[code]
From what I understand it's a re-require that's causing this! But I wasn't able to fix it.

### System configuration
**Rails version**: 5.2.1

**Ruby version**: 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux-gnu]

[2018-11-07 22:39] rafaelfranca commented on #34397
Yeah. The real problem is that `app/javascript` and `app/assets` are in the autoload paths. We should remove them.

[2018-11-07 23:02] gmcgibbon commented on #34397
I'll try to fix this.

[2018-11-07 23:12] rafaelfranca commented on #34398
Can you please provide a sample application that reproduces the error?

[2018-11-07 23:16] almapro commented on #34398
I just created the app with `rails new blog`.

[2018-11-07 23:18] rafaelfranca commented on #34398
I also did and could not reproduce. So it can be something in your environment.

[2018-11-07 23:19] almapro commented on #34398
How can I identify what it is?

[2018-11-07 23:35] rafaelfranca commented on #34398
Unfortunately, I don't know. As I can't reproduce I can't tell where the problem is. I'd try to see if it is not a bug in your ruby installation by installing a new version of Ruby.

[2018-11-07 23:43] almapro commented on #34398
Currently, I'm running Kali Linux and that's scary to miss things up in this distro.
I'll fire up Fedora and give it a try.

[2018-11-08 01:07] almapro commented on #34398
Apparently, it was my environment! Running smooth on Fedora.
**Kali Linux** environment  is causing this.

[2018-11-08 01:07] #34398 closed

[2018-11-08 01:45] #34365 closed

[2018-11-08 05:20] entwanderer commented on #34380
I guess closed issues are not observed, so i will create another issue for that.

[2018-11-08 05:43] entwanderer opened #34402 "ActiveRecord: Can not assign any text value to non-primary attribute id of type text"
## Steps to reproduce
Given a PostgreSQL OR MariaDB database (retested with both) with a table, containing a id of data type text:

### DB Model - table: **machines**
[code]

### PRY console or IRB
[code]

[code]

## Expected behavior
When i write to attribute `id` of type string, it should contain the assigned string ("SN123").

When i write to attribute `sid`, the attribute `id` should not be to

[2018-11-08 09:38] mbodlund commented on #33562
Can verify that the behaviour is the same. After updating Rails from 5.2.0 to 5-2-stable all of my variants are being recreated.

Can se that the ActiveStorage variant key changes. But cant figure out why.

If you have a lot of larger images with already generated variants - it just feels strange to have to regenerate all these.

[2018-11-08 11:03] hananamar opened #34404 "ActiveSupport::HashWithIndifferentAccess works differently from Ruby native Hash"
Found an anomaly in the behavior of ActiveSupport::HashWithIndifferentAccess when compared to Ruby's native Hash.

### Expected behavior
[code]
### Actual behavior
[code]
### System configuration
**Rails version**: 5.2.1

**Ruby version**: 2.5.3p105

[2018-11-08 14:51] Svelix opened #34408 "cache_key not changing when using limit, order and offset (e.g. pagination)"
I know there has already been some tinkering with with cache_key and pagination, but I encountered a new problem:

Given I have some records ordered by some property and paginated:

id | name    | updated_at
-- | ------- | -----------
1  | Alfa    | 12:01
2  | Bravo   | 12:02
3  | Charlie | 12:03
-- | ------- | -----------
4  | Delta   | 12:04
5  | Echo   | 12:06
6  | Foxtrot    | 12:05
-- | -----

[2018-11-08 16:15] CodingAnarchy opened #34409 "Can't create object with has_many :through association"
### Steps to reproduce

[code]

### Expected behavior

The `foo` is created with a number of the `bar` join records to associate it with the `bazes`.

### Actual behavior

Validation error on `bars` because they lack the `foo` id.

### System configuration
**Rails version**: 5.2.1

**Ruby version**: 2.5.3

[2018-11-08 16:29] rafaelfranca commented on #33577
Agree about the solution. I'd go with "Add a flag allow_other_host (as in redirect_back) which defaults to false."

@gmcgibbon wants to work on it?

[2018-11-08 16:40] gmcgibbon commented on #33577
👍 I'm on it!

[2018-11-08 16:42] tubbo commented on #33558
@rafaelfranca I have not, but will try it right now.

[2018-11-08 16:47] rafaelfranca commented on #34404
There is no much we can do. The value that a `=` returns is the same value that you pass as argument to it. So it will be the original `{foo: []}` not the one that will be copied to the `HashWIthIndiferentAccess`. The important thing here is copied. When you assigned a hash to a value of `HashWIthIndiferentAccess` we copy the value so we are not mutating your original object.

This code would make

[2018-11-08 16:47] #34404 closed

[2018-11-08 16:50] tubbo commented on #33558
@rafaelfranca Unfortunately, removing `bin/` doesn't seem to solve it. I was able to modify a unit test in **railties/test/rails/generators/actions_test.rb** to reproduce my error:

[code]

Changing this to expect "rails generate model MyModel", as well as the code to run `rails` instead of `bin/rails`, causes the following error in `rake test` from within railties:

[code]

[2018-11-08 16:57] rafaelfranca commented on #33558
I think this test will not pass because you are mocking the creation of the file with `assert_called_with`

[2018-11-08 17:49] aleksandrs-ledovskis commented on #33578
Bumping, not stale.

[2018-11-08 17:57] hananamar commented on #34404
Thanks @rafaelfranca.
I guess I understand why the assignment does not work in the HashWithIndifferentAccess's case, but not certain I understand what _does_ make it work in the Hash case.
Do you mind illuminating?

[2018-11-08 18:05] rafaelfranca commented on #34404
Mostly because hash assignments don't copy the arguments.

[2018-11-08 20:48] pastullo commented on #33741
I rushed to upgrade to 5.2 and remove Paperclip and then i realized that current support for AS is very limited. Why did they deprecated Paperclip so quickly if there is still no native validation support?

[2018-11-08 22:35] y-yagi commented on #34408
Can you please provide a sample application that reproduces the issue?

[2018-11-08 23:56] travisp commented on #16959
@kamipo Can you help clarify which version of Rails that was (i.e. where rails users can expect this to begin working)?

[2018-11-09 06:39] #28004 closed

[2018-11-09 06:53] noma4i commented on #32926
Issue occurs on master as for 8th November 2018.

[2018-11-09 08:17] kamipo commented on #34408
Related #27570, #34093.

[2018-11-09 11:14] chrisandreae commented on #33501
The attached executable test case can still be reproduced on master:

[code]

[2018-11-09 15:44] r3trofitted opened #34416 "`#added?` ignores the options if the message is a symbol"
### Steps to reproduce

This test case passes with ActiveRecord 5.1.6, but fails with ActiveRecord 5.2.1

[code]

### Expected behavior

As documented, if the error message requires an option, then `#added?` should return `true` with the correct option, or `false` with an incorrect or missing option.

### Actual behavior

`#added?` returns `true` no matter what the option is, as long as the error

[2018-11-09 16:20] tubbo commented on #33558
@rafaelfranca thanks for the heads-up! PR incoming.

[2018-11-09 18:09] LuisDeHaro commented on #20077
Is there other options besides the brackets trick?

I just upgraded from Rails 4.2.6 to 5.0.7 and basically half of my queries are now broken.

The brackets work but, what's the ultimate solution for this?

[2018-11-09 20:46] amerritt14 opened #34419 "inverse_of on has_many through: with accepts_nested_attributes_for"
### Steps to reproduce
Test case to show failure on the expected behavior
https://gist.github.com/amerritt14/aecd625199e4e62a0873465eeff5d708

The inverse_of option for has_many through associations normally will work as expected, as noted here: https://github.com/rails/rails/issues/21692

When introducing accepts_nested_attributes the inverse_of option stops working. I'm happy to work on a fix if

[2018-11-10 05:32] #33495 closed

[2018-11-10 22:57] #24876 closed

[2018-11-10 23:24] eric-norcross opened #34422 "Why are has_one through has_one relationships not constructible in the same way that has_many through has_many relationships are?"
### Steps to reproduce
code example on SO: https://stackoverflow.com/questions/53243674/build-methods-for-has-one-though-has-one/53244188#53244188

Nested `has_many` through `has_many` relationships can be built using the `s.promotions.build` method, but this not the case with `has_one` through `has_one` relationships – `s.build_promotion`

### Expected behavior
building `has_one` through `has_one

[2018-11-10 23:41] y-yagi commented on #34422
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks.

[2018-11-10 23:41] #34422 closed

[2018-11-10 23:43] eric-norcross commented on #34422
@y-yagi – I'm happy to use

[2018-11-11 00:40] y-yagi commented on #34382
`encrypt_and_sign` uses `Base64.strict_encode64` twice with `MessageEncryptor#_encrypt` and `MessageVerifier#encode`.

https://github.com/rails/rails/blob/b13a5cb83ea00d6a3d71320fd276ca21049c2544/activesupport/lib/active_support/message_encryptor.rb#L178
https://github.com/rails/rails/blob/b13a5cb83ea00d6a3d71320fd276ca21049c2544/activesupport/lib/active_support/message_verifier.rb#L193

Base64 en

[2018-11-11 00:40] #34382 closed

[2018-11-11 08:41] yahonda opened #34423 "Number of in list of sqlite3 adapter could be 999"
### Steps to reproduce

1. Install Fedora 29 and configure Rails develop environment
2. Execute this command

[code]

### Expected behavior
It should pass.

### Actual behavior
[code]

### System configuration
**Rails version**: master branch

**Ruby version**:
[code]

[code]

[2018-11-11 08:42] yahonda commented on #34423
* Setting 999 passes this test:

[code]

* 1000 raises `ActiveRecord::StatementInvalid: SQLite3::SQLException: too many SQL variables`

[code]

[2018-11-11 08:45] yahonda commented on #34423
https://www.sqlite.org/limits.html says

I am not familiar with compiling SQLite3 by myself, maybe SQLite3 on Ubuntu where this test passes has some non-default `SQLITE_MAX_VARIABLE_NUMBER` value configured, I guess.

[2018-11-11 08:50] yahonda commented on #34423
sqlite3 package on Ubuntu looks having higher SQLITE_MAX_VARIABLE_NUMBER value.

https://launchpad.net/ubuntu/+source/sqlite3/3.8.0.2-1ubuntu1

    (closes: #717900).

[2018-11-11 09:14] yahonda commented on #34423
Looks like Homebrew has the same limit as Ubuntu one. https://github.com/Homebrew/legacy-homebrew/commit/e28738af4f80d7674102d8cdd5a83e5d82915004

[2018-11-11 17:44] patleb commented on #32943
It is practically surmontable as well and I don't see why freeing inodes would not be worthwhile or keeping a mess is preferable. Using `FileUtils.rmdir` would mitigate the race condition:

[code]

[2018-11-11 18:34] st0012 commented on #34328
@abinoda what's the `p` in the query stands for? Have you tried using `left_outer_joins` for the left outer join?

[2018-11-11 20:16] patleb commented on #32943
I didn't experienced other race conditions but, yes, I think that `IO.copy_stream` could raise an exception between the time the file descriptor is created and `File.mkdir_p` creates the path if the base directory is deleted. So basically you would have this sequence of operations: `FileUtils.mkdir_p`, `FileUtils.rmdir`, `IO.copy_stream` with the 2 first being atomic. So, I would suggest to rescue

[2018-11-11 20:35] georgeclaghorn commented on #32943
Cool. I’m still :-1: on doing any of this to avoid a few empty subdirectories under the service root. You can write a cron job to sweep them up if they bother you.

[2018-11-11 20:59] abinoda commented on #34328
@st0012

The `p` is selecting the date period from `generate_series('2018-08-03', '2018-10-26', '1 week') as dates(p)`.

To my knowledge, you can't pass in a string to `left_outer_joins`, but there's no other way to join using the condition`github_prs.created <= p`. `left_outer_joins("github_prs on github_prs.created <= p")` results in an `ArgumentError`.

[2018-11-11 22:01] Yegorov commented on #32505
@danhuynhdev, @kamipo i have same problem, i override `#id` methods, but this doesn't work as expected.
Example:
[code]

[2018-11-12 01:35] akicho8 opened #34426 "There are cases where arguments are not passed via accepts_nested_attributes_for"
### Steps to reproduce

[code]

### Expected behavior

Last Result

[code]

### Actual behavior

[code]

Changing `attr_accessor` to `attribute` will produce the expected results

It is not that much of a problem.

However, I was troubled because behaviors are different from when passing attributes directly to the model.

### System configuration

**Rails version**: 5.2.1
**Ruby version**: ruby 2.

[2018-11-12 02:56] danhuynhdev commented on #32505
@Yegorov you should use `_read_attribute` and `_write_attribute` instead, because `read/write_attribute` will translate `:id` to primary key. With that said, I think you should write a migration to change your primary key to `id`, and the old id to another key, because a lot of rails internal relied on primary key being `id`.

[2018-11-12 07:17] Yegorov commented on #32505
@danhuynhdev Ok, thanks.
In my case I have legacy structure db, and the `id` attribute in it is used for its needs. And now I am faced with a choice: to use `pk_id` in ActiveRecord or rename `id` to `_id` in the legacy structure.
The latter is probably the best choice.

[2018-11-12 10:18] lacostej opened #34427 "redirect_to ignores arguments to find matching route"
### Steps to reproduce

We are reusing controllers in different scopes. They differ by the arguments passed to them.

We have found 2 issues. This is the first one, the second one being #34428.

When using `redirect_to`, rails fails to find the appropriate target even when specifying full information to the redirect_to.

I assume it is related to this note in the routing guide (https://guides.ruby

[2018-11-12 10:19] lacostej opened #34428 "redirect_to doesn't work without controller when controller is reused in different scopes"
### Steps to reproduce

We are reusing controllers in different scopes. They differ by the arguments passed to them.

We have found 2 issues. This is the second one, the second one being #34427 .

When using `redirect_to`, rails fails to find the appropriate target unless we specify the controller.

Given

[code]

And

[code]

### Expected behavior
When opening /fr/ we redirected to /fr/page2

###

[2018-11-12 12:20] amerritt14 commented on #34409
Seems to work for me.
[code]

[2018-11-12 19:11] #33535 closed

[2018-11-12 19:43] vedant1811 commented on #34062
Looks like this issue slipped through.

@rafaelfranca I agree with @mtsmfm.

[2018-11-12 20:11] gmcgibbon commented on #34409
I am also able to get this passing on `5.2.1` and `6.0.0.alpha`. I noticed the line `has_many :bazes, through: :bars, class_name: Baz.name` has a typo though, it needs to be pluralized as `:bazs`. I'm going to close this for now, but please let us know if I missed something!

[2018-11-12 20:11] #34409 closed

[2018-11-12 20:18] rafaelfranca commented on #34428
The documentation of [`url_for`](http://api.rubyonrails.org/classes/ActionDispatch/Routing/UrlFor.html#method-i-url_for) contain the explaination for it. http://api.rubyonrails.org/classes/ActionView/RoutingUrlFor.html#method-i-url_for. `:page2` is not a valid route. You either need the named route helper of the `action:, controller:` pair.

[2018-11-12 20:18] #34428 closed

[2018-11-12 20:21] rafaelfranca commented on #34427
Does `redirect_to controller: "sthg", action: "page2", lang: @lang` work?

[2018-11-12 20:30] basmoura opened #34432 "url_for: NoMethodError: undefined method `model_name' for #<Array:0x00007fec1c437f28>"
Hello, everybody :)

I'm trying to update my app to Rails 5.2.1 but I'm having some curious error. My application is working without any problem for now if I access http://localhost:3000, but when I run my test suit I'm facing error related to action-pack.

Basically, all the errors are saying `undefined method `model_name' for #<Array:0x00007fec1c437f28>` for all `url_for`s that I have on my appl

[2018-11-12 20:37] rafaelfranca commented on #34432
Can you reproduce this issue without rspec?

[2018-11-12 20:39] rafaelfranca commented on #34432
Also there is any chance your application has a `Array#to_model` method defined?

[2018-11-12 20:39] basmoura commented on #34432
No, @rafaelfranca! This error only occurs when I run my tests

[2018-11-12 20:49] rafaelfranca commented on #34432
I'm almost sure it is something in your app. Rails before calling [`model_name` it checks if the arguments to `url_for` responds to `to_model`](https://github.com/rails/rails/blob/v5.2.1/actionpack/lib/action_dispatch/routing/polymorphic_routes.rb#L170). `Array` doesn't respond to `to_model` so `model_name` should never be called in a normal workflow. Something in your test suite is defining `to_m

[2018-11-12 21:05] gmcgibbon commented on #34419
There's lots of noise in your test case. To clarify, its `def user_businesses_exists?` that we should be paying attention to, right?

The error still persists if you remove `accepts_nested_attributes_for`. The fact that you're saving the user's business in the same transaction makes me skeptical to call this a bug. If you drop using separate associations in your validation, it will work.

Specific

[2018-11-12 22:31] basmoura commented on #34432
@rafaelfranca good point. I will check on my code and test suite if I can find something related to what said.

[2018-11-12 22:32] jejacks0n commented on #30431
I've had to do the same thing that @dwightwatson mentions on three projects. Additionally, having to fix a problem with secret keys being faked in development, so basically to get it to a working state where I can put a CDN in front of CMSable assets I have to have no less than 2 monkey patches. I have to say that Activestorage hasn't delivered on what it seems like it could.

[2018-11-13 09:22] janosch-x opened #34433 "Limit ActiveModel::Type::Date/DateTime year to 9999?"
Maybe the `year` value should be [`#clamp`](https://ruby-doc.org/core-2.4.0/Comparable.html#method-i-clamp)ed to be between 0 and 9999 in [`#new_date`](https://github.com/rails/rails/blob/cfbde022eedde2ae45e2dde9e3d8792933f070f4/activemodel/lib/active_model/type/date.rb#L44) and [`#new_time`](https://github.com/rails/rails/blob/cc81cd359c82bfba27388237a455fc345dce3c9f/activemodel/lib/active_model/

[2018-11-13 11:41] basmoura commented on #34432
@rafaelfranca I didn't find any result. An interesting/weird behavior is: if I run just the same file or folder that have broken test, the specs are green. For example:

when I ran `rspec` (the hole suite is tested)
[code]

Then if I run only `rspec spec/requests/expert/video_conference_request_spec.rb` (with or without the seed of the specs that brake) I got:

[code]

[2018-11-13 11:44] renanrevita commented on #30851
Oh, man, this is really annoying... I have a syntax error and now I can't access my keys anymore, since I did not store them anywhere else for security reasons... No suggestion from this topic worked for me. Anything new I can try?

[2018-11-13 11:47] basmoura commented on #34432
@rafaelfranca I'm closing this issue. This is not a issue or bug related to Rails. Thank you for your help!

[2018-11-13 11:47] #34432 closed

[2018-11-13 12:21] lacostej commented on #34427
@rafaelfranca

no.

[code]

[2018-11-13 12:29] lacostej commented on #34428
doh... My bad. It works with "action: :page2" as well.

[2018-11-13 12:43] amerritt14 commented on #34419
I appreciate the comment. I'll work on 1) Simplifying the example case, as you said there's a lot of noise in the test case since I was extracting it from business logic, 2) avoid a separate associations in the validations.
I'll post again with the updates.

[2018-11-13 14:42] rafaelfranca commented on #34432
Glad you found the issue!

[2018-11-13 16:11] #34416 closed

[2018-11-13 16:16] rafaelfranca commented on #34433
Even that datastores can't store it is a valid year so I don't think it worth validating the year range for every assignment of a Date/Time field in every application, even that it is unlikely to happen. If this is important for your application you can add a validation.

[2018-11-13 16:16] #34433 closed

[2018-11-13 18:46] valterbarros commented on #29473
@bryanrite Thanks

[2018-11-13 19:34] gmcgibbon commented on #34426
Seems like this method causes the problem:
https://github.com/rails/rails/blob/7a954211e6ffe9b482fbd65711edadbb265bf1a7/activerecord/lib/active_record/autosave_association.rb#L265 called by `#associated_records_to_validate_or_save`. I assume its not ActiveRecord's responsibility to update nested objects if it can't see any visible changes to them. The performance tradeoff of always saving regardle

[2018-11-13 19:52] rafaelfranca commented on #34062
@mtsmfm Sounds good. Can you open a PR with the test?

[2018-11-13 20:00] gmcgibbon commented on #34423
Interesting. I wonder how we haven't observed this behaviour before? I guess not many rails developers use Fedora/RHEL.

I'll open a PR to adjust the SQLite adapter.

[2018-11-13 20:37] #34423 closed

[2018-11-13 21:15] albertoalmagro commented on #34427
May I take this one?

[2018-11-13 21:20] rafaelfranca commented on #34427
Yes. Please do investigate!

[2018-11-13 21:58] davidpiegza opened #34439 "Filter out parameters in ActiveJob"
### Steps to reproduce

The arguments passed to the `perform` method are logged by ActvieJob without filtering sensitive data.

Example:
[code]

Log output:

[code]

### Expected behavior
Arguments should be filtered based on the setting `config.filter_parameters` before they are logged.

The documentation says that Rails is actually filtering the parameters:

But it probably just applies to reque

[2018-11-13 22:07] rafaelfranca commented on #34439
Let's keep the discussion in the PR.

[2018-11-13 22:07] #34439 closed

[2018-11-13 22:53] #34397 closed

[2018-11-13 23:11] rafaelfranca commented on #34396
@fxn are you ok with me changing the requirements to Ruby 2.5 in the doc server for 5.2 and master?

[2018-11-14 00:31] fxn commented on #34396
@rafaelfranca absolutely. This week I have two talks to deliver that are eating my spare time, but I could do it afterwards. Of course, if you'd like to upgrade it yourself just go ahead 😄.

[2018-11-14 00:37] rafaelfranca commented on #34396
Don't worry. I'll take care of it.

[2018-11-14 01:08] giorgio opened #34442 "ActionView::Helpers::SanitizeHelper.sanitize fails with many wbr tags (Rails 5.2.1)"
### To reproduce
run sanitize on a fragment of html with alot of wbr tags.
The following rake task illustrates the problem. A number of 255 elements including the containing div elements appears to be the number at which it fails.

In real life this has occurred when users paste conversations from a microsoft email application into a wysiwyg editor in rails .

[code]

### Expected behavior
The out

[2018-11-14 01:11] da-development-id opened #34443 "active_storage fips 140-2 issue"
Tried using active_storage to handle file upload, but encountered an issue when FIPS mode is enforced.

Tried the following configuration option with same issue:
Rails.application.config.active_support.use_sha1_digests = true

rail 5.2.1

ruby 2.5.0

[2018-11-14 01:32] rafaelfranca commented on #34442
Since the tags where not closed Rails assumes the text after the tags is still part of the tag. This is there to avoid non-closed tags injection by combining two different strings.

[2018-11-14 01:32] rafaelfranca commented on #34443
Can you please provide a sample application that reproduces the error?

[2018-11-14 01:39] giorgio commented on #34442
Seems odd that it does not do this for a smaller number of non-closed tags..

[2018-11-14 01:54] rafaelfranca commented on #34442
Ok. I thing there is something off here. If you remove the `div` it works fine. I'll check the generated HTML for that input.

[2018-11-14 02:00] giorgio commented on #34442
If you remove the div then the number of elements goes down below the critical number of 255.
If you remove some wbr tags but add the equivalent number of nested divs then the problem re-occurs.

It also happens if you try to remove the wbr tags using a TargetScrubber. ie you lose data after the tags.

[2018-11-14 02:06] rafaelfranca commented on #34442
Ok. I think this is a bug in Nokogiri. It lost the html text because the level of the HTML is too deep.

You can see the output of this script that is running without anything related to rails that it doesn't have the text inside it.

[code]

[output.txt](https://github.com/rails/rails/files/2578897/output.txt)

Can you open an issue on nokogiri?

[2018-11-14 02:07] #34442 closed

[2018-11-14 09:27] hult opened #34445 "Attribute API crashes on has_many :through"
### Steps to reproduce

Repo with the bug here: https://github.com/hult/activerecord-attribute-api-bug

If I have a custom attribute

[code]

and a model (with the corresponding tables, `authors(id)`, `blogs(id)`, `posts(id, author_id, blog_id)`)

[code]

### Expected behavior

I should be able to do `Blog.first.authors`

### Actual behavior

`Blog.first.authors` crashes with the error `TypeError:

[2018-11-14 09:39] vtm9 opened #34447 "Dynamically change the connection used by a thread?"
How can I change the connection of one thread? I want to do that:
[code]

I found this patch in internet:

[code]
But i think it's not good.

Thanks all!!!

[2018-11-14 11:22] sagg155 commented on #23683
@schneems , i'm also getting same error using this image_tag.

I have put my image-icon in app/assets/images/icons/my-icon folder.
I have used the image_ tag like this ;->
                    <%= image_tag 'icons/my-icon/question_circle.svg',
                            class: 'c-navbar__logo_img',
                            alt: 'Help-icon' %>

But this is giving me error on console that image o

[2018-11-14 14:16] aried3r commented on #34408
@Svelix, in case you're using PostgreSQL, I solved it using https://github.com/alekseyl/pg_cache_key. However I'm not sure if using this gem affects the usage of https://github.com/rails/rails/pull/29092.

@kamipo, I think these might also be related:
#21503
#25454
#25496
#26330
#27331
#28075

[2018-11-14 14:19] yahonda opened #34448 "Action Cable integration test (GEM=ac:integration) has been failing"
### Steps to reproduce

Action Cable integration test (GEM=ac:integration) has been failing since https://travis-ci.org/rails/rails/builds/451909353 .

https://travis-ci.org/rails/rails/jobs/451909381#L1418-L1422

[code]

The last successful build is https://travis-ci.org/rails/rails/builds/451811877

https://travis-ci.org/rails/rails/jobs/451811905
[code]

Compared Rails commit between these two

[2018-11-14 15:13] CodingAnarchy commented on #34409
@gmcgibbon The use of `Baz` as the class was for obfuscation - I can’t share the actual code because it contains proprietary details.

Is it possible this only occurs with postgres as the DB? It definitely is failing for me on a validation error on the join model missing the (required) `belongs_to` ID.

[2018-11-14 15:29] gmcgibbon commented on #34409
Have you tried setting `inverse_of:` and `class_name:` on your associations?  If the models are nested in modules rails can have a hard time guessing names.

[2018-11-14 15:35] CodingAnarchy commented on #34409
@gmcgibbon I had set `class_name:` and `inverse_of:`.  I have discovered the source of the problem.  I had included a `validates :foo_id, :baz_id, presence: true` in the join model (habit left over from Rails 4, it seems) and this was what was throwing the error.  Something in the validation was ordered differently when it is just that the `belongs_to` is required by default.

The following script

[2018-11-14 16:06] hult commented on #34445
I also have an alternative version of the error (that I have found no workaround for) in another branch: https://github.com/hult/activerecord-attribute-api-bug/tree/alternative-error

Here, we introduce another model `Reader`, of which a `Blog` has many and an author has many through its blogs:

[code]

In this scenario, `Author.first.readers` crashes with the same error (but goes away if the auth

[2018-11-14 16:39] mtsmfm commented on #34062
Sure!

[2018-11-14 18:53] da-development-id commented on #34443
The issue is similar to what was described in #31203 and #31289.

The use of Digest::MD5 results in 'OpenSSL internal error, assertion failed: Digest MD5 forbidden in FIPS mode! Aborted'.

I understand why the MD5 checksum is being generated in the active storage blob entry and how it's being used, but was wondering if there could be other options for generating the checksum and maybe disable the

[2018-11-14 19:44] gmcgibbon commented on #34445
This is happening in your first example (with no  `has_many :posts` on `Author`) because the attribute type of `blog_id` (`ActiveModel::Type::Value`) isn't being inferred correctly when attempting to build the SELECT query. With the `has_many :posts` set, it seems to correctly guess it to be a `ActiveRecord::ConnectionAdapters::SQLite3Adapter::SQLite3Integer`. I'm not super familiar with the query

[2018-11-14 19:46] rafaelfranca commented on #34443
oh. I see. Yeah, active storage is using MD5 internally. @georgeclaghorn do you think it is possible to use something that is FIPS 140-2 friendly like SHA1?

[2018-11-14 20:05] georgeclaghorn commented on #34443
We use MD5 because every service accepts an MD5 checksum. Support for alternative checksum algorithms is pretty sparse, unfortunately—Google Cloud Storage supports CRC32C, but as far as I can tell, no other services do.

It’d probably be easiest to add a config option that disables checksumming.

[2018-11-14 20:16] Fornacula commented on #28025
I made a hack-ish workaround by adding a concern with `after_save` callback for cleaning the `_type` fields: https://stackoverflow.com/a/53308025/1677069 for now.

[2018-11-14 20:29] rafaelfranca commented on #34447
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-11-14 20:29] #34447 closed

[2018-11-14 21:57] #34427 closed

[2018-11-14 21:58] rafaelfranca commented on #34427
Thank you for the detailed investigation.

[2018-11-14 22:10] Vasfed opened #34452 "URL helpers in mounted engine called from renderer produce incorrect paths"
When using url helpers in a mounted engine via `renderer.render`(background jobs etc.) produced paths are missing engine mount point prefix.

### Steps to reproduce
[code]

### Expected behavior
helpers produce the same result as in regular render and test above pass, that means that inside engine:
[code]

### Actual behavior
on rails 5.1.6, 5.2.1 and master:
[code]
 on rails 5.0.7:
[code]
### Sys

[2018-11-14 22:28] gmcgibbon commented on #34445
For the second example you need to add `has_many :posts, through: :blog` to your `Reader` model.

Here's what is going on:

When building the query from author to find their readers, you go through blogs, which goes through posts. In order for the `author_id` on posts to be cast correctly for the query, ActiveRecord must know what kind of attribute it is. `has_many :posts, through: :blog` allows `

[2018-11-14 22:28] #34445 closed

[2018-11-14 22:30] albertoalmagro commented on #34427
My pleasure!

[2018-11-14 22:32] #34062 closed

[2018-11-15 01:05] brentkearney opened #34454 "belongs_to associations are now validated unless 'optional: true'"
After upgrading from Rails 5.0.7 to Rails 5.1.6, my Schedules model failed to validate when an associated belongs_to model is nil. The error is:

[code]

The Schedules model had:

[code]

After the upgrade, its necessary to add the `optional` option:
[code]

Suggested addition to `/guides/source/upgrading_ruby_on_rails.md`:

## Upgrading from Rails 5.0 to Rails 5.1
...
### belongs_to associations

[2018-11-15 01:15] rafaelfranca commented on #34454
Are you sure you are not seeing a deprecation message in Rails 5.1? This change was actually in Ruby 5.0.

[2018-11-15 01:16] rafaelfranca commented on #34454
And it is here in the upgrading guide https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#new-framework-defaults.

[2018-11-15 01:19] #34454 closed

[2018-11-15 02:19] gaganawhad commented on #32671
Hello @kamipo and @rafaelfranca

I would appreciate your help here, I am trying to take a shot at fixing this one myself. As mentioned earlier, the interaction here between AR and Arel is pretty complicated. Any chance either of you could point me in the right direction? Even after reading through the code and related PRs, it's not been easy to understand where / how to append the constraint on `A

[2018-11-15 03:09] janwerkhoven commented on #18624
Great find @acjay !

This also seems to work in integration request tests:

[code]
Rails 5 + Minitest

[2018-11-15 06:56] lacostej commented on #34427
Muchas gracias Alberto.

Just for the sake of history. The reason we ended up with this configuration is that we had started with

[code]

and after finding
![screen shot 2018-11-15 at 7 50 56 am](https://user-images.githubusercontent.com/24282/48535319-38839800-e8ab-11e8-9537-304b35a2d005.png)

(from https://guides.rubyonrails.org/routing.html#defining-defaults), we refactored it to

[code]

It s

[2018-11-15 07:31] libin0120 commented on #25198
same issue here, rails `5.0.6`, `inverse_of` does not help.

[2018-11-15 07:37] vtm9 commented on #34447
Hi @rafaelfranca.
The question already exists [on StackOverflow](https://stackoverflow.com/questions/28142373/rails-4-2-how-to-dynamically-change-the-connection-used-by-a-thread) for 4 years. But there are no good answers.
I think it's a good idea to manually manage connections in a single Thread.
And if it possible i would like to contribute this feature, that's why I create issue.

[2018-11-15 12:27] asnad opened #34456 "undefined method `expr' for nil:NilClass when try to eager_load a record with sql query association for a model"
### Steps to reproduce
Create a association with sql query in my case I have models.

[code]
there is a similar [issue](https://github.com/rails/rails/issues/32671)
### Expected behavior
It was working with `rails 4.2` but I upgraded to `5.2` I'm getting error on eager loading the association
[code]
### Actual behavior
I could pass the test or I was able to eager load such association

### System

[2018-11-15 16:33] gmcgibbon commented on #34445
I can't think of one off the top of my head, but this is a special case considering you're changing the type of something Rails expects to be a number.

I would opt to patch ActiveRecord in your gem to give rails specific knowledge on how to handle `StringId`. You can either do this in `ActiveRecord::ConnectionAdapters::Quoting#_type_cast` or `ActiveModel::Type::Value#cast_value`.

[2018-11-15 18:51] gmcgibbon commented on #34448
Seems like iOS and OSX tests are hanging, but I'm having a hard time figuring out why.

<img width="719" alt="screen shot 2018-11-15 at 1 36 43 pm" src="https://user-images.githubusercontent.com/5162312/48573846-87492600-e8db-11e8-8c91-cda39bfb1fea.png">

Selenium logs (from OSX):
[code]

Appium logs (from iOS):
[code]

@javan Do you have any ideas on this?

[2018-11-16 00:54] gmcgibbon commented on #34316
I'm assuming this is mostly an issue when you don't use prepared statements, right? Otherwise, PII would be obfuscated with substitution parameters.

[2018-11-16 03:09] TylerRick commented on #25379
I ran into this problem as well in my app after I upgraded to Rails 5 and changed all of my models to subclass `ApplicationRecord`.

I wish there were a built-in way to tell Rails: "include this Concern into all subclasses of `ApplicationRecord`". Because sometimes you need subclass-specific code (such as doing something with the list of `columns` of the model you are including the concern into) i

[2018-11-16 03:22] Dawnthorn opened #34460 "Delete using association proxy stored in variable doesn't update first"
### Steps to reproduce

[code]

### Expected behavior
Since I deleted the first comment from comments, I expect `comments.first` to now return what was the second comment. I expect that `assert_equal` at the end to pass.

### Actual behavior
I expect both of the above tests to pass, but `test_delete_through_variable` fails. When you call `comments.first` that second time after the delete, you expe

[2018-11-16 03:32] yanshney opened #34461 "Word to Pdf conversion with active storage"
Hi guys,

Thank you so much for your work.

This is a very long shot, but does anyone know if it is somehow possible to convert an uploaded doc/docx to pdf format during the active storage file upload? I am trying to display the uploaded user files inline and it is soo much easier to do it with pdf.

Thank you,
Yan

[2018-11-16 06:03] Abduvakilov opened #34462 "options_for_select joins with new line"
I think `options_for_select` or other methods should not generate new lines (`\n`) at least on production environment.
[Effected line](https://github.com/rails/rails/blob/b13a5cb83ea00d6a3d71320fd276ca21049c2544/actionview/lib/action_view/helpers/form_options_helper.rb#L373)

[2018-11-16 06:08] gmcgibbon commented on #34460
You'll notice that when you call `post.comments.first` it will always execute a query whereas assigning comments to a variable via `comments = post.comments` and then calling `comments.first` will only execute a query once. The thing that bugs me, is that it doesn't tell you that the association is actually loaded via `comments.loaded?`. Regardless, I think there's something that could be improved

[2018-11-16 10:36] prcongithub commented on #26670
This is happening with me as well.

[2018-11-16 11:23] #28491 closed

[2018-11-16 15:51] gmcgibbon commented on #34461
Please direct your questions to StackOverflow where a wider community can help you out. The rails issue tracker is reserved for issues only. Thanks 😄

[2018-11-16 15:51] #34461 closed

[2018-11-16 16:39] williamromero commented on #32711
Someone could fixed this error?

[2018-11-16 21:19] mateuscruz commented on #32598
I'm willing to create a PR for this. I ran into this issue earlier today.

[2018-11-16 21:33] rafaelfranca commented on #34462
Thank you for the suggestion but we do want to generate with `\n`. If you want to compact you HTML before sending to the client you can do that in other ways.

[2018-11-16 21:33] #34462 closed

[2018-11-16 21:49] javan commented on #34448
Thanks for looking into this! https://github.com/rails/rails/pull/34440 should make them problem go away soon. Hang tight. :)

[2018-11-17 01:59] wayne5540 opened #34470 "ActiveStorage FileChecksum.js silently fails"
### Steps to reproduce

When passing invalid file object to initialize DirectUpload instance, it will fail silently while creating because FileChecksum fail to acknowledge it's a invalid object.

### Expected behavior

I expect when I passing a invalid file object to initialize DirectUpload instance to create upload, it should show error message.

[code]

### Actual behavior

[code]

### Digging i

[2018-11-17 03:29] yahonda commented on #34448
Thanks for the information.

[2018-11-17 04:00] rmacklin opened #34473 "ActionCable compiled javascript bundle is out of sync with source"
### Steps to reproduce

[code]

### Expected behavior
There should be no dirty changes in the repository

### Actual behavior
Observe a dirty change with this diff:
[code]

### System configuration
**Rails version**: `master`

**Ruby version**: N/A (any supported version)

[2018-11-17 04:03] rmacklin commented on #34473
This was caused by https://github.com/rails/rails/pull/34446 which only includes the changes to the compiled bundle (corresponding changes to the source files were not committed).

Here's a PR to get the source files back in sync: https://github.com/rails/rails/pull/34475

[2018-11-17 04:10] rmacklin commented on #34473
It'd be nice to also prevent this from happening again.

For example, we could add a test that fails if `yarn build` generates a dirty git status. That would mean the test assumes you are running it inside a git repository, though. Is that undesirable?

We could also copy the file to a temp location, run `yarn build`, and then compare the generated file to the copy we made. That wouldn't have a de

[2018-11-17 05:19] y-yagi commented on #34473
I saw the same issue in Active Storage(#33656).
I agree that it is preferable to be able to check with the test(or Lint?).

@javan What do you think of the suggestion of @rmacklin ?

[2018-11-17 15:48] seanfcarroll commented on #32500
Thanks for the code @ belgoros , the link is dead.

[2018-11-17 20:41] #33592 closed

[2018-11-17 21:57] fleck commented on #31419
I have a PR to add direct linking and proxying to active storage https://github.com/rails/rails/pull/34477  still needs work, but feedback would be appreciated.

[2018-11-18 10:43] jedrekdomanski opened #34478 "Custom validation message for numericality does not work"
### Steps to reproduce
Validation
[code]
ride_spec.rb
[code]
What I've learned, though, is that the message is added when the price is empty, not when the format is wrong and I think this is a bug.
[code]
In the [Guide](https://guides.rubyonrails.org/active_record_validations.html#message) I read that "the :message option lets you specify the message that will be added to the errors collection whe

[2018-11-18 14:27] Roko131 opened #34479 "ActionController::UrlGenerationError view root_path using wrong route path causing error"
Problem :
At routes there are 2 root_path, one regular, other inside `named parameter` scope.
Using `root_path` in root path view causes error because it is using the wrong root_path- the ones inside the `named parameter` scoped even though the current view is not under `named parameter` scoped

### Steps to reproduce

1. Create new rails 5.2.1
2. At `routes.rb` within `scope` with named parameter

[2018-11-18 16:48] dongennl commented on #31979
I'm having this issue too; can't figure out a way to solve.

[2018-11-19 08:49] Roko131 commented on #34478
`validates :price, format: { with: /\A\d{1,4}(.\d{0,2})?\z/ }, numericality: { message: 'Invalid price. Max 2..'`
are two validations:
format validation.
numericality validation.

For the numericality your custom error message is 'Invalid price. Max 2 digits after period'
For the format validation you didn't specify a custom message.

Your test failed the **format** validation therefore you got th

[2018-11-19 13:11] marcioJesus opened #34484 "ActiveStorage: Resize original image"
### Steps to reproduce
Currently with the ```ActiveStorage:Variant``` has the ```image.variant(resize: '100x100').processed``` method that creates a version of the image without modifying the original image. It would be very useful if there was a method to modify the original image.

### System configuration
**Rails version**: 5.2.1

**Ruby version**: 2.5.3

[2018-11-19 13:51] julianrubisch opened #34485 "Update documentation for has_many: :through association"
### Steps to reproduce
The [Rails guides](https://github.com/rails/rails/blob/master/guides/source/association_basics.md) on `has_many: :through` associations mention that

However, on Rails 5.x, the join model collection is marked as invalid on `save`.

This is probably because `belongs_to` has the `required` option set to true as default since Rails 5 (?)

Doing

[code]

solved the problem for m

[2018-11-19 14:45] arkty commented on #25333
Same issue, i am not receiving message from `ActionCable.server.broadcast` sent after `stream_from`.

[2018-11-19 15:20] #32855 closed

[2018-11-19 15:38] javan commented on #34473
Both of the suggestions in https://github.com/rails/rails/issues/34473#issuecomment-439586208 seem reasonable. I don't have a preference.

[2018-11-19 16:12] gmcgibbon commented on #34485
Please create a test case that reproduces the issue with the [bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb). I wasn't able to reproduce it with [this script](https://gist.github.com/gmcgibbon/85d4c40be9fa00f5a3132fd66edf68b0). Try adding `inverse_of` to your `has_many` associations.

[2018-11-19 17:35] #34374 closed

[2018-11-19 18:03] julianrubisch commented on #34485
Interesting. Have to investigate further... something’s weird here. Definitely had an issue in production code. Please bear with me :)

[2018-11-19 18:05] williamromero commented on #32711
Maybe this resource can help you: [How to upload images on Base64 and Blob with Active Storage :: In Spanish](https://www.webres-studio.com/es/blog/16-como-cargar-archivos-blob-y-base64-con-active-storage-y-ajax)

[2018-11-19 18:08] albertoalmagro commented on #34484
Hi @marcioJesus,

unless I'm missing something (my apologies if I do) I think this isn't an issue with `ActiveStorage:Variant` per se, but a request for a new method. You are more than welcome to post a new feature request at the [Ruby on Rails: Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core).

More about [feature requests](https://guides.rubyonrails.org/contributing_t