[2015-06-30 19:42] sgrif commented on #20719
This was fixed by https://github.com/rails/rails/commit/449241cc30545783419bd8f3cbc7b81137316001

[2015-06-30 19:42] #20719 closed

[2015-06-30 19:43] sgrif commented on #20700
Please provide a script we can use to reproduce your issue, using [this template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb) as a starting point.

[2015-06-30 20:06] bernerdschaefer opened #20745 "default_scope of has_one :through model cached too agressively"
### Context

We have been seeing intermittent test failures on our application.
When run in a certain order, two tests would fail for unknown reasons.
Digging into the cases revealed that an association was failing to load,
as it was being queried with an id that did not exist,
or rather with an id from a previous test.

The most likely culprit seemed to be `acts_as_tenant`,
but I confirmed that i

[2015-06-30 20:11] sgrif commented on #20718
This was fixed by https://github.com/rails/rails/commit/449241cc30545783419bd8f3cbc7b81137316001

[2015-06-30 20:11] #20718 closed

[2015-06-30 20:13] sgrif commented on #20639
We do not support passing a hash to `select`. For feature requests, feel free to ping the rails core mailing list.

[2015-06-30 20:13] #20639 closed

[2015-06-30 20:46] trendwithin commented on #20510
I stumbled across this post since I am having the same issue while following a tutorial and am unsure what to do about this.  Including the output of `rake db:migrate`, `rake routes --trace` and `rake --trace` in case it is of assistance.

[code]

[code]

[code]

[2015-06-30 21:14] scpike commented on #17656
Oh, I totally agree what this library was doing is insane. The reason I offered the test case was in case this part of my report is unexpected:

I don't know what `StringJoin` is, and I don't know if a raw `String` getting into the mix is a bug.

[2015-06-30 21:27] nateberkopec commented on #17656
Wait, so just _any string_ passed in raises an exception? Yeah, I think that might be novel, but that's beyond my depth in ActiveRecord as well.

[2015-06-30 21:29] scpike commented on #17656
Sorry, I'm talking past you. Only strings with `left` on them cause an exception. I was surprised that there was this one code path (requiring both `includes` AND `references`) where the function got a raw string, given that there's this `StringJoin` thing coming in with other joins calls, but I don't know enough to know whether it's something worth looking at.

Anyway, I don't think I'm adding an

[2015-06-30 23:37] aaronchi commented on #16959
+1 for this

[2015-07-01 02:15] repinel commented on #20451
It seems to be a known behavior.

Original commit of `automatic_inverse_of` feature: https://github.com/rails/rails/commit/26d19b4661f3d89a075b5f05d926c578ff0c730f#commitcomment-9482625

[2015-07-01 03:10] repinel commented on #19791
Could you just use the `skip_digest` option when you need to know the exact key?

The main reason the digest is used by default is to expire the cache when the content change.

[2015-07-01 04:24] shunwen commented on #18660
I have this problem when setting up my new OSX. One thing I noticed is that the problematic folder is created by dropbox. I didn't have this issue with folders created through command line locally, so I guess this issue might be related to file system and the way this sync tool maintaining folder names.

This SO does help https://stackoverflow.com/questions/27871726/strange-error-in-rails-missing-

[2015-07-01 07:15] kaleb4eg commented on #19042
@tristang yeah, I can see, ths for response!

[2015-07-01 13:00] akshaysmurthy commented on #19791
@repinel But like you said, it is useful to expire the cache when the content changes.

[2015-07-01 13:03] kasper commented on #18660
Both the fix in 7b1a6c3 or reverting to Ruby 2.1.6 resolve this issue.

[2015-07-01 14:07] danbob commented on #20688
This fix seems to have broken HEAD requests in the main app when you have an engine mounted at '/'. Should I open a new issue?

[2015-07-01 15:06] plukevdh opened #20749 "Named primary key with specified type is not reflected in schema.rb"
If I create a table via a migration using any of the following methods, the `schema.rb` ends up representing the table in the same format as the **first** `create_table` statement found below:

[code]

If you notice, in that first statement, the PK type is not represented. While all of these migration formats runs and create the table in the proper configuration (a primary key with the name `my_co

[2015-07-01 15:27] my-kel opened #20750 "Rails 4.2.3 : can't merge a scope when joining same table twice"
Hi all,

First of all, I'm using Rails 4.2.3.

When I join a table twice the second table is renamed => good
If I merge a scope, the merged scope table's name is not renamed => bad

Here is the sql produced by my sample code below :

[code]

and here is the result I was expecting :

[code]

You can reproduce the bug with this code sampe :

[code]

Is it a known issue ?

Regards.

[2015-07-01 16:30] burnettk commented on #20688
Are you still broken with 4.2.3.rc1, Dan?

On Wed, Jul 1, 2015 at 10:08 AM, Dan Arnfield <notifications@github.com>
wrote:

[2015-07-01 17:20] danbob commented on #20688
Sorry, I should have been more clear. I've got a slightly different setup:
[code]
so the route receiving the HEAD requests is in the main app, not the mounted engine. This was working in 4.2.2 but broke when I updated to 4.2.3. I had to use the same workaround as yours, replaced that line with
[code]

[2015-07-01 20:56] felixbuenemann commented on #20722
@sgrif Please reopen. I am still getting the same exception with the testcase gist posted above on 4-2-stable at 449241c.

[2015-07-01 22:13] elia opened #20752 "ActionView template finder can become really slow due to disk IO"
As the number of view paths, template handlers and formats increases.

Caching `ActionView::PathResolver#find_template_paths` as follows sped the rendering of an API call (rabl/json) **from 2500ms to 30ms** once the cache was warmed up:

[code]
### Details

The app is Rails v4.1.11 / Ruby 2.2.1 / Spree 2-4-stable. I also noticed really slow performance for partial lookups relying on controller inh

[2015-07-01 23:01] utilum opened #20754 "ActiveJob NoQueueError when using Resuque queue adapter"
Resque requires us to set the queue_name in @queue, ActiveJob wants it done with queue_as, and offers some useful functionality in return.

But the two ways to name the queue do not collaborate, and out of the box they give a NoQueueError.

Here's a demo application with a test to demonstrate the issue: https://github.com/utilum/no_queue_error

One could change queue_name to set @queue, but other

[2015-07-02 00:07] sgrif commented on #20722
I'll confirm when I can, but that test was passing for me.

[2015-07-02 00:18] rafaelfranca commented on #20688
@danbob had you check 4-2-stable?

[2015-07-02 00:45] HWilbanks opened #20755 "Updating column on model without PK causes "undefined method 'to_sym' for nil:NilClass""
In 4.2.3, when I create a table without a primary key and try to update an instance (via touch or update_column) I receive the following exception:

[code]
 This looks like it's related to #13893.

Executable test case:
[code]

[2015-07-02 02:13] tovodeverett commented on #20719
I can confirm that 4-2-stable resolves this issue.  Thanks!

[2015-07-02 07:41] mariosant opened #20756 "ActiveSupport #titleize does not work with Unicode characters"
Consider the following:

[code]

The second case should return `"Ελληνικοί Χαρακτήρες"` .

This happens due the regex expression ```/\b(?<!['’`])[a-z]/ ``` which supports only ASCII characters.
Source: https://github.com/rails/rails/blob/861b70e92f4a1fc0e465ffcf2ee62680519c8f6f/activesupport/lib/active_support/inflector/methods.rb#L154

[2015-07-02 08:24] elia commented on #20752
**UPDATE**

The following should work fine in development, with this I'm getting a response in 140ms (instead of 30ms).

[code]

[2015-07-02 09:41] utilum commented on #20756
This also happens due to Ruby's capitalize. Consider the following:
[code]
What we need is also to modify the block:
[code]

[2015-07-02 12:50] rubyconvict commented on #20335
@matthewd I'am using Rails '4.1.11' with Passenger 4.0.x, on both Ruby 1.9.x and 2.1.x, I also can't remove old release with capistrano because of that. Assets subdirectories in cache dir do have 'w' permission for group, cache subdirectories don't, why?

[2015-07-02 13:04] danbob commented on #20688
Ah, 4-2-stable works.

[2015-07-02 13:59] utilum commented on #20756
Well... to be precise, no need to replace first letters already capital:

"happy string".gsub(/\b(?<!['’`])[\p{Ll}]/) { $&.mb_chars.capitalize.to_s }
  => "Happy String"
"ελληνικοί χαρακτήρες".gsub(/\b(?<!['’`])[\p{Ll}]/) { $&.mb_chars.capitalize.to_s }
  => "Ελληνικοί Χαρακτήρες"

[2015-07-02 15:54] aaronjensen commented on #13523
@rafaelfranca ping again on this, please merge!

[2015-07-02 16:06] matthewd commented on #13523
@aaronjensen can you please expand on "older versions of IE"? I'm not keen on making an observable behaviour change here without a very compelling argument we can point to when people get upset that we broke their applications.

[2015-07-02 16:13] aaronjensen commented on #13523
@matthewd IE8 and older. The change is only observable at the html output level. I've not been able to think of a scenario this would break except for people using javascript that expects that particular order.

[2015-07-02 18:33] JonRowe commented on #20700
I'm still getting these in production so I'll try! But I'm in transit half way around the world this weekend so it'll be next week sometime hope thats ok.

[2015-07-02 18:54] fenec commented on #20755
I guess it never worked as `touch` uses a primary key to find the record for update.

[2015-07-02 20:48] thegcat commented on #18699
This still holds true on 4.2.3, and will probably for the whole life of 4.2, as this would be a breaking change and shouldn't be changed before 5.0.

[2015-07-02 22:44] bf4 commented on #20756
fwiw, have you seen the stringex gem? https://github.com/rsl/stringex https://github.com/rsl/stringex/blob/master/lib/stringex/unidecoder.rb

[2015-07-02 22:46] bf4 commented on #20642
Why not submit a PR? That way someone can act on this :)

[2015-07-02 23:11] rafaelfranca commented on #20642
I'll happily apply a PR to reflect the diversity :smile:

[2015-07-02 23:15] trosborn commented on #20642
Awesome!! I'll go ahead and make one :)

[2015-07-02 23:20] #20642 closed

[2015-07-03 01:03] repinel commented on #20535
Based on a new [failed build](https://travis-ci.org/rails/rails/jobs/69252346), it seems that the the `collection_cache` being used in [CollectionCaching](https://github.com/rails/rails/blob/626b10ef1f34fbc5595107e1cdbd3f839a46d96a/actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb#L18) is no the one from [AutomaticCollectionCacheTest](https://github.com/rails/rails/blob/62

[2015-07-03 06:50] chanshunli opened #20769 "Rails 3.2.2 actionpack-3.2.22 method number_to_currency erro"
### Look this erro :
[code]
[code]

[2015-07-03 06:56] chanshunli commented on #20769
This erro from  ActionView::Helpers::NumberHelper 's  method    ` number_with_precision  `

[code]

[2015-07-03 07:21] kaspth commented on #20769
Thanks for filing, but 3.2 only gets security releases now and not bug fixes. Can you try to reproduce on 4.2 or the latest master? :smile:

[2015-07-03 07:21] #20769 closed

[2015-07-03 08:44] edtheman66 opened #20771 "FISH BAIT"
![fish bait-1](https://cloud.githubusercontent.com/assets/13148940/8495786/2e1a1520-213e-11e5-884d-5e5b3e4cc4fd.jpg)

[2015-07-03 08:51] #20771 closed

[2015-07-03 10:18] xijo opened #20774 "ActionMailer 4.2.3: deliver_later loses locale"
Currently `#deliver_later` will use the default I18n.locale to generate and send the mail, regardless of what I18n.locale was set during the call of `#deliver_later`.

This means, that calling `deliver_now` might generate mails in a different language than a `#deliver_later`.

I made a pull request (#20758) that fixes that problem by always passing the I18n.locale to the delivery job. I don't know

[2015-07-03 12:27] robin850 commented on #20612
I take the liberty to comment there to avoid creating notifications for each ticket:

#19216
#19813
#19832

[2015-07-03 14:01] meinac commented on #20755
Actually activerecord does not tries to find record in this case. It tries to generate where clause to update correct one and can't find primary_key for where clause.
What is the use case of touching the record which has any distinctive column? As you know you have to provide at least one decisive column to update the particular row in database otherwise it will update all rows.
In your case I rec

[2015-07-03 16:04] HWilbanks commented on #20755
My use case is a single-column, single-row table that just keeps a timestamp because there's no call for anything more in the app. However, the issue is not limited to touch, or single-column tables. update_column will throw the same exception:

[code]

[code]

[2015-07-03 16:52] meinac commented on #20755
@HWilbanks normally in SQL if you want to update only one row you need to provide a where clause with identifier column like this;
[code]
If you don't provide a where clause it will update whole table.
In your case you want to update the `updated_at` value of only one row and activerecord creates the where clause for you. But it can't find any selective attribute and this causes problem.
Under the

[2015-07-03 17:45] arnvald opened #20775 "ActiveSupport 4.2 - `JSON.dump` broken for Structs"
Hi everyone,

Today I've noticed that ActiveSupport 4.2 breaks `JSON.dump` ("stack level too deep") for the arrays/hashes containing structs.

Example:
[code]

Stack trace shows that this line `activesupport-4.2.0/lib/active_support/core_ext/object/json.rb:34:in `to_json_with_active_support_encoder'` is called over and over.

I tried to figure out why is it failing, but I couldn't find the root of

[2015-07-03 17:51] utilum commented on #20756
So titleize misses unicode chacaters. Is this the expected behavior?
I'd be happy to pr.

[2015-07-03 17:56] simi commented on #20756
AFAIK it is expected behaviour.

You can see also inspect [babosa gem](https://github.com/norman/babosa) providing this funcionality.

[2015-07-03 19:13] jdurand commented on #1627
I hit this when switching from unicorn to puma. Removing rack-timeout "fixed" it for me.

[2015-07-03 19:25] utilum commented on #20756
I think simi's right:

"The Rails core team has stated patches for the inflections library will not be accepted in order to avoid breaking legacy applications which may be relying on errant inflections. If you discover an incorrect inflection and require it for your application or wish to define rules for languages other than English, please correct or add them yourself."

[2015-07-03 21:12] inspire22 opened #20776 "4.2.3 escape angle brackets in classname for exceptions"
The default error message always says "Exception error in #msg< classname >< /classname > - the angle brackets always cause issues.

It's a simple fix if someone with easy access to a dev environment feels like submitting it please:

actionpack-4.2.3/lib/action_dispatch/middleware/templates/rescues/diagnostics.html.erb, line 11:

    <h2><%= h @exception.message.gsub(/>/,'&gt;').gsub(/</,'&lt;') %

[2015-07-03 21:22] matthewd commented on #20776
That change shouldn't be necessary... and shouldn't work.

[2015-07-03 21:22] #20776 closed

[2015-07-03 21:42] inspire22 commented on #20776
It was both necessary and worked for me.  Why didn't you think it would?

[2015-07-03 21:43] chancancode commented on #20666
@davetron5000 do you know anything about this? :grin:

[2015-07-04 05:38] cristianbica commented on #20338
There are some ways of doing this sorting at the adapter level http://stackoverflow.com/questions/866465/sql-order-by-the-in-value-list

[2015-07-04 08:31] mariosant commented on #20756
Thanks for pointing this statement, @utilum . I was unaware of that. So the proper way to fix this is by patching it or develop another module to do the work.

This should be closed then, no?

[2015-07-04 08:31] #20756 closed

[2015-07-04 09:49] utilum commented on #20756
pleasure, @mariosant I'm learning with you.
titleize is part of Inflector api.rubyonrails.org/classes/ActiveSupport/Inflector.html , which is also where the doc comment above is from.
So I think you can override ActiveSupport::Inflector#titleize to suit your needs, or write your own mb_titleize method.

[2015-07-04 10:08] odedniv opened #20777 "ActionController::TestCase uses symbols for request.query_parameters keys"
When calling `request.query_parameters` inside a controller for a "request" that comes from a controller test, the keys of the hash come out as symbols, and the hash doesn't have indifferent access.

When request testing, feature testing, or running live - the keys come out as strings (which makes sense, as this is user input) and the hash is of `ActiveSupport::HashWithIndifferentAccess`.

`params

[2015-07-04 11:36] pascalbetz commented on #20775
Here is a runnable test that shows the aforementioned StackOverflow. If ``` ActiveSupport::JSON``` is loaded then the test fails. If the line is removed then the test passes.
Only happens for Struct (at least not for the few basic classes if tested).

[code]

[2015-07-04 18:50] davetron5000 commented on #20666
I do not.  I added a feature to allow customizing what happens when there is no template so that libraries relying on the old behavior could opt back into it. See #20276

[2015-07-04 19:37] fenec commented on #20775
This issue happens because `Enumerable` to the list of classes that are provided with `ActiveSupport` `to_json_with_active_support_encoder` method. Which is kinda weird. Anyway, I'll try to dig into this thing and maybe find a solution

[2015-07-05 11:59] #19861 closed

[2015-07-05 19:54] #20535 closed

[2015-07-05 20:43] #20774 closed

[2015-07-06 03:41] prathamesh-sonpatki commented on #20775
This issue is fixed on master in - https://github.com/rails/rails/commit/d5bddc1b2d3d794b2eddcb7309f41f87a8d665c1.

[2015-07-06 07:10] henrik commented on #17731
@arthurnn Hm, did that fix things for you? I ignored that error but now that I tried

[code]

I get "JSON::ParserError" instead. So maybe Honeybadger has the same bug as Airbrake in this respect?

[2015-07-06 07:22] senny commented on #20749
@plukevdh on what version are you experiencing this issue? Does it still happen on `master`? Also, it would be nice to have an executable reproduction. Could you write one using [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb) as a foundation?

[2015-07-06 08:12] chancancode commented on #20775
Ahhh I know what's up. We introduced this bug in #10278. The intention of [this line](https://github.com/rails/rails/blob/4-2-stable/activesupport/lib/active_support/core_ext/object/json.rb#L29) is to ["compete" with these JSON gem additions](https://github.com/flori/json/blob/master/lib/json/pure/generator.rb#L324-L519) so we get to do our thing before JSON gem does.

However, since JSON gem does

[2015-07-06 08:45] prrrnd opened #20786 "Routes: "resources :stoves" creates route prefixes such as "new_stofe""
[code]

[2015-07-06 08:49] matthewd commented on #20786
Thanks for the report, but [the inflector is frozen](https://github.com/rails/rails/blob/74c7246238960d82bbba450b1888ae2790e688d2/activesupport/lib/active_support/inflector/methods.rb#L11-L15).

You can add exceptions in [`config/initializers/inflections.rb`](http://api.rubyonrails.org/classes/ActiveSupport/Inflector/Inflections.html).

[2015-07-06 08:49] #20786 closed

[2015-07-06 09:07] henrik commented on #17731
Oh, thought we were on latest Honeybadger but we're not. Maybe upgrading will fix this.

[2015-07-06 12:37] jebw commented on #20154
I've tried this against 4.2.3 and this still seems to be a problem - is there anything I can be doing to help resolve this?

[2015-07-06 14:50] plukevdh commented on #20749
@senny This was latest 4.2 release. I can write a quick example if you like. Do you prefer it written against master?

[2015-07-06 15:13] senny commented on #20749
@plukevdh against `4-2-stable` seems fine. I can run it against `master` and see wether we changed something in that area. I vaguely remember a similar report.

[2015-07-06 16:53] codeodor commented on #20775
@prathamesh-sonpatki running the provided test case against latest master still has the issue for me.

Thanks @chancancode for bringing it to my attention. I will see if I can figure out a fix.

[2015-07-06 17:00] codeodor commented on #20775
My apologies, I ran it against 4.2.3, not master. Trying that now.

[2015-07-06 17:07] codeodor commented on #20775
Confirm fixed on master. I didn't test enough to confirm whether that commit @prathamesh-sonpatki mentioned its the fix, but I will take their word for it.

[2015-07-06 17:09] arnvald commented on #20775
@prathamesh-sonpatki is right, I've just checked it in master and it works.

If a new release in 4.2.x branch is planned, is there a way to get this fix there? Or does it need to wait for Rails 5?

[2015-07-06 17:35] prathamesh-sonpatki commented on #20775
@codeodor @chancancode @arnvald I thought of a naive solution. If Enumerable is not supporting `to_json` in JSON gem then we can handle that case separately because it that case we want to and have to call only `ActiveSupport::JSON#to_json_with_active_support`. Thoughts?

[2015-07-06 18:14] chancancode commented on #20775
My hunch is that it's subtly wrong; but please give it a try if you have time! :smile:

My worries are:

- `JSON` gem [checks if an object defines `to_json`](https://github.com/flori/json/blob/master/ext/json/ext/generator/generator.c#L867) and call it, otherwise it will call `to_s`, so by defining `to_json` on a `BasicObject`we would have changed how `JSON.dump` work already, but I don't 100% kno

[2015-07-06 18:19] chancancode commented on #20775
I also still don't know why the `alias_method_chain` on `Enumerable` isn't failing with an error, if someone figured that out please educate me :grin:

[2015-07-06 18:29] plukevdh commented on #20749
@senny I couldn't use your exact setup because it involves having tables persist beyond a single runtime (or at least, I couldn't figure out how this would replicate to sqlite:memory). I also am not sure whether or not this is PG specific, as even using sqlite3:file, the issue did not show up in the same manner. I do have a dummy app with simple instructions on how to replicate [here](https://gith

[2015-07-06 18:37] plukevdh commented on #20749
Looks to be (at least for now) a PG specific issue. Note the schema difference here

MySQL (after migration)

[code]

and for Postgres (after migration)

[code]

Note the missing field definition in the Postgres version.

[2015-07-06 18:40] joallard commented on #20610
I think that summarizes my experience of the mailing list pretty well:
https://groups.google.com/forum/#!topic/rubyonrails-talk/FFgltQ_6vhg

There's no urgency to respond or to do anything really to change anything...

[2015-07-06 18:52] rafaelfranca commented on #20610
The default is JS format.

`format: :json` only works if you use it on the URL helper.

[2015-07-06 18:53] rafaelfranca commented on #20610
Looks like the doc is wrong for this case.

[2015-07-06 18:54] rafaelfranca commented on #20610
It is the first. The default is JS not JSON.

[2015-07-06 19:20] codeodor commented on #20775
I think it's something to do with the fact that we create this for `Object`, which gets on to `Struct`. But we create on Enumerable too, which also gets on to `Struct`.

For instance, if I ensure it only makes it on to the object one time, then the test case here works. The trouble with this approach though, is that it breaks a dozen tests in Rails.

Also, the behavior is not the same for `Array`

[2015-07-06 19:25] codeodor commented on #20775
@prathamesh-sonpatki  I *thought* I tried that in a convoluted way, but when I break it out as you mentioned, it seems OK so far.

[2015-07-06 19:28] codeodor commented on #20775
Also should point out that with ActiveSupport::JSON not in there, `assert_equal "\"#<struct key=nil>\"", JSON.dump(obj)` is the wrong answer anyway. It's just that at least it doesn't endlessly recurse.

[2015-07-06 19:34] joallard commented on #20610
Thank you.

Do we expect a JS template to be provided for JS responses? (My problem is mainly that the defaults aren't/are hard to work out of the box)

[2015-07-06 19:36] codeodor commented on #20775
#20791 fixes this

[2015-07-06 19:39] rafaelfranca commented on #20610
Yes, we expect a JS template to be provided or just a empty response like `204`

[2015-07-06 19:51] joallard commented on #20610
I've just tried a scaffold on a new 4.2.3 app: the form is sent by default in JS, but the controller has `respond.json` clauses, and no template. I guess it works that way. I just expected both formats to match.

Is there a reason that the default is to respond to JS (or using JS)? I admit I'm kinda lost. Maybe clarifying this in the docs would be of help.

[2015-07-06 19:55] rafaelfranca commented on #20610
Yes, the reason is https://signalvnoise.com/posts/3697-server-generated-javascript-responses.

:+1:. Feel free to send a PR.

[2015-07-06 20:06] joallard commented on #20610
I'll take a look, thanks for the help!

[2015-07-06 20:27] benjiwheeler opened #20792 "active_record_validations.html should be clear about return values of custom validation methods"
The "Custom Methods" section doesn't make any mention of the return values of custom validation functions. It only shows the errors array being appended to indicate validation failure.

If "return true" and "return false" have absolutely no meaning for custom validation functions, it should state that clearly, because that is a very common mistake to make.

If they *do* have meaning, it should sta

[2015-07-06 21:56] JonRowe commented on #20700
I haven't been able to reproduce this in a small script on my machine, but it's still occurring sporadically in production. The pattern is always the same however, the key sent is somehow lost when being sent through `ActiveSupport::PerThreadRegistry` to the underlying scoping implementation, I'm wondering if this is related to https://bugs.ruby-lang.org/issues/11153 someone

[2015-07-06 21:58] sgrif commented on #20700
Unfortunately, without a way to reproduce the issue, there's nothing we can do. This doesn't appear to be a bug with Rails. If you find any more information in the future feel free to comment here.

[2015-07-06 21:58] #20700 closed

[2015-07-06 22:01] JonRowe commented on #20700
Monkey patch active record it is then.

[2015-07-06 22:05] JonRowe commented on #20700
If anyone else runs into this, my solution is going to be to define the singleton method directly rather than relying on method_missing to automatically cache it later on, I think that will avoid the issue I'm seeing.

[2015-07-07 02:30] jmzbond commented on #18400
The commits referenced are for `update_attribute` method not `update_attributes`. I was also curious about this so I just tested it in my console. Looks like the default behavior is `save_if_changed?` as OP suggested... I'm not seeing any SQL queries in the console & `updated_at` times do not change if I pass the exact same attributes as the model already has for `update_attribute`, `update_attrib

[2015-07-07 12:43] #20792 closed

[2015-07-07 12:45] senny commented on #20792
@benjiwheeler I added a paragraph to the API and linked there from the guide. Thanks for reporting.

[2015-07-07 14:55] benjiwheeler commented on #20792
Thanks for fast turnaround. Reading over guide/docs, I think the problem was that the wording of the "valid?" section is hard to parse... "Rails uses the 'valid?' method" seemed like it meant that this was a capability of Rails, when it really means that *all* ActiveModel/ActiveRecord objects get valid? called on them by Rails.

[2015-07-07 14:59] senny commented on #20792
@benjiwheeler if you have suggestions to make the guides more clear, a PR is always welcome. You can find the guide source in the rails/rails repo: https://github.com/rails/rails/tree/master/guides/source

[2015-07-07 16:29] benjiwheeler commented on #20792
Thanks, I created PR https://github.com/rails/rails/pull/20795

[2015-07-07 18:16] chazu commented on #12134
+1 on this

[2015-07-07 18:56] abezzub opened #20798 "serialize :column, Hash returns string"
We upgraded our app from Rails 4.1 to Rails 4.2 recently. We have following column in the DB on one of the models:

`t.text     "simulation_outputs"`
In the model:
`serialize :simulation_outputs, Hash`

Sometimes when model is loaded hash is returned as string:
[code]
Is there something we should've done during upgrade? Is this a known issue?

There is nothing weird with how hash is constructed: i

[2015-07-07 19:51] xijo opened #20799 "ActiveJob ignores locale during serialization"
The current ActiveJob implementation does not store `I18n.locale` during its serialization.

This results e.g. in emails, that are sent with the wrong language settings, described in #20774.

My previous PR #20758 didn't tackle the problem right, it just solved it on the layer of ActionMailer. The expected behavior would be that the locale is stored on and restored from the queue and is used while

[2015-07-07 21:40] abezzub commented on #20798
It seems to be the problem is where hash is saved. I see following saved in the DB:
[code]
While for record that is loaded normally I see:
[code]

[2015-07-07 23:30] akihiro17 commented on #20678
I guess the cause of this issue would be that
``` Association#association ```method tries to get the reflection only in FancyPost._reflections.

[code]

My workaround for this issue is shown below.

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations.rb#L153

[code]

[2015-07-08 02:06] griffithchaffee opened #20802 "ActiveRecord 4.2.1 breaks association subqueries working in 4.2.0"
Active Record 4.2.1 breaks association subqueries that worked in 4.2.0

[bugtest gist](https://gist.github.com/griffithchaffee/7e4613940cbaa88e7533)
### Overview:

[code]

[code]

[2015-07-08 07:16] senny commented on #20798
@abezzub can you reproduce this error using [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point?

[2015-07-08 07:16] senny commented on #20798
/cc @sgrif

[2015-07-08 07:37] abezzub commented on #20798
I'll try, but bug does not happen reliably.

[2015-07-08 11:56] vladimir-tikhonov commented on #18952
I think this behaviour should be at least mentioned in docs/guides. It's utterly unexpected, especially when record is created via association which contains `where`.

[2015-07-08 13:24] sgrif commented on #20802
Can you check on 4.2.3 which is the latest release?

[2015-07-08 13:59] griffithchaffee commented on #20802
Yes it is broken on all versions 4.2.1+

[2015-07-08 16:11] dhh commented on #18878
This task is open to anyone who wants to explore it again.

[2015-07-08 17:23] bughit opened #20814 "form helper formatting of array attributes changed from Array#to_s to Array#join(' ')"
between 4.0 and 4.2

Why change the resulting format?  This just introduces bugs with no benefit.

[2015-07-08 17:28] rafaelfranca commented on #20814
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-07-08 18:06] bughit commented on #20814
https://github.com/rails/rails/commit/19af434840802ca0feb39253241917286467a86e#diff-240949893f36da11390dc227e2c352ccL10

this commit removed the code that did a #to_s on the array

`options["value"] &&= ERB::Util.html_escape(options["value"])`

now the value remains an array until TagHelper#tag_option does a join(' ')

[code]

so not only does this gratuitously introduce bugs, but the new join(" "

[2015-07-08 18:18] rafaelfranca commented on #20814
Could you please explain what was the output before and after this change?

[2015-07-08 18:20] rafaelfranca commented on #20814
As far I can see the behavior that you are relying was a unwanted side effect of that call. Array options were always expected to use `join(' ')`

[2015-07-08 18:28] bughit commented on #20814
1. this "side effect" that was there probably from the beginning of form field helpers
2. as to whether it's unwanted, how can you possibly believe that a lossy join(' ') is better than a lossless to_s (effectively json), as I mentioned you can't reliably parse values out of a join (`['a b', 'c d']`)

[2015-07-08 18:32] rafaelfranca commented on #20814
Yeah, not it is already changed and probably someone relies on not having that side-effect so it is unlikely we will change back.

If you want a lossless `to_s` just call it when calling the form helper. It is explicit and will hardly change between versions.

[2015-07-08 18:35] repinel commented on #18878
I'd be glad to take a look.

[2015-07-08 18:42] bughit commented on #20814
4.0.8
[code]

4.2.3
[code]

Not only does this needlessly introduce bugs into upgraded code, but the new behavior, regardless of whether you call it a fix or a feature is objectively worse.  If you were building this from scratch would you encode arrays with a join(' ')?  You seem to be reflexively defending the status quo without considering what would actually be better,.

[2015-07-08 18:50] rafaelfranca commented on #20814
Yes, I'd. Maybe not for `value` attribute like your case but look at the `class` attribute behavior, it relies on the fact that arrays are joined with a whitespace.

In my opinion explicit conversion is better than implicit conversion. If you want an special format of your attribute value explicitly call it.

[2015-07-08 18:52] rafaelfranca commented on #20814
[code]

[2015-07-08 18:56] bughit commented on #20814
`class` is a strawman, we are explicitly discussing the value attribute
`options["value"] &&= ERB::Util.html_escape(options["value"])`
since that's what has changed

so you have basically admitted that join(' ') is a stupid default formatting for values

[2015-07-08 19:02] rafaelfranca commented on #20814
Yes, but we are in a really bad situation. Changing back this behavior may break a lot of applications that relies on it and I really don't want to do that in a stable release. But maybe I'm being too pessimistic and it is worth to try patching and reverting on release candidate if my concerns are true.

[2015-07-08 19:06] bughit commented on #20814
regardless of this opinion, there will always be a default implicit conversion, and we are discussing what this default should be.  The to_s json like default is better because it was there forever and it's less lossy.

[2015-07-08 20:21] rafaelfranca opened #20816 "Put back #19073 fix without the association regression."
https://github.com/rails/rails/commit/728a5d50af7303425541ac69aaf86139cc7c28e5 caused a regression when building a `has_many` association object in a non-persisted where the foreign key remains `nil` even after the parent object is saved. It was reverted in https://github.com/rails/rails/commit/788b78a4d7a922a35abe3e95335bd34751794f42 for 4-2-stable just to avoid the regression in my application.

[2015-07-08 22:07] sgrif commented on #20816
Can you give me any additional details on what's happening? I currently have no way to reproduce your issue.

[2015-07-08 22:10] rafaelfranca commented on #20816
Let me get the reproduction script that I created. But I still can not reproduce it even with the script.

[2015-07-08 22:16] rafaelfranca commented on #20816
[code]

This is a simplification of the code that is getting me the problem.

[2015-07-08 22:17] sgrif commented on #20816
Must be a monkey patch on your guys end?

On Wed, Jul 8, 2015, 4:10 PM Rafael Mendonça França <
notifications@github.com> wrote:

[2015-07-08 22:18] rafaelfranca commented on #20816
I thought it, so I ran this same script inside the application and tests also pass, so I think I still could not isolate the problem.

[2015-07-09 00:33] repinel commented on #18878
@schneems Yes, it would be easy to change the `rake` checking to run the command if it's valid. While there wouldn't be a need to whitelist the tasks, it would be slower than running the tasks directly with `rake` since `--dry-run` can take some time.

Then I tried something like this and the runtime was a little better, but it seems wrong to load the environment to validate the tasks.

[code]

Su

[2015-07-09 02:34] griffithchaffee opened #20817 "ActiveRecord 4.2 breaks find_by association subquery"
Active Record 4.2.x (4.2.0 - 4.2.3) breaks association subqueries that worked in 4.1.x (4.1.6 - 4.1.11).

It looks like the subquery in a `find_by(association_id: subquery)` statement is interpreted as a bind parameter. Interestingly enough using the `find_by(association: subquery)` format seems to work.

[bugtest](https://gist.github.com/griffithchaffee/852a1a218951d160d033)

### Overview:

[code

[2015-07-09 03:30] nofxx commented on #12178
OP workaround works! Hope had find this earlier.
Bump for search and subscribe.

[2015-07-09 04:59] guzart commented on #16313
I believe this is also an issue for `has_one :through`.

The reason I need to access the chained association for a new record if because a custom active model validator.

[2015-07-09 08:17] carpodaster commented on #20353
Wouldn't it be feasable to let the generated route helpers remove the `"controller"` and `"action"` key? The deprecation would still show up if string keys were passed to `url_for` directly.

I can wrap that in a PR if this is an option.

[2015-07-09 13:32] tobypinder opened #20820 "Creating Records via #new on an AR::Relation object can fail due to enums."
ActiveRecord relations where a `where` clause specifies multiple possible enum values for a given `enum` can cause failures when trying to call `#new` on that relation. I've included a test case using the Rails guidelines to illustrate this.

[Gistified here, for easier manipulation](https://gist.github.com/tobypinder/929c5afbedd76b170bfb)

[code]

I would guess that expected behaviour would be th

[2015-07-09 15:39] bughit commented on #20814
So what should happen here?  Are you looking for other opinions or a pull request or will you be making the change yourself?

[2015-07-09 15:54] matthewd commented on #20814
I think the current `join(' ')` seems more useful.

The previous behaviour was 1) never documented, and 2) very definitely not JSON -- anyone treating it as such is surely in for a nasty surprise at some point.

It also seems very obscure, to deliberately give special handling to this one attribute on this one tag.

[2015-07-09 16:06] bughit commented on #20814
The main if not the only reason to encode an array in a form field value string is so you can decode it back later.  join(' ') makes that impossible (elements with spaces).  So this opinion is objectively wrong.

[2015-07-09 16:11] matthewd commented on #20814
Thanks for playing.

[2015-07-09 16:11] #20814 closed

[2015-07-09 16:14] sgringwe commented on #18964
Alright - I have some more information. At this point I am now on 4.2.1. Ruby 2.2.0. This is on a new method:

[code]

The output is

[code]

It looks like nothing is printed for the inspect (assuming it errored again within the rescue). Hope this helps! I am still getting this error sporadically and now multiple times a day (5+).

Potentially of interest is the MajorGroup class relations:
[code]

[2015-07-09 19:49] ZeroFries opened #20823 "Belongs to with nil scope gives confusing error message"
The issue can be reproduced by creating a belongs_to association with an optional scope which returns nil.

[code]

This generates the following error when calling the parent association:
undefined method `visited' for nil:NilClass

The stack trace is not very useful either. It can be non-obvious locating the issue if the scope does not obviously return nil, or only sometimes does (for example, if

[2015-07-09 20:10] firien opened #20824 "new_record? unexpectedly returns true"
This [gist](https://gist.github.com/firien/f2211669a2e539e63d20) demonstrates bug/issue. In ActiveRecord 4.2.2 everything acts as expected. 4.2.3 however #new_record? returns `true` for a record that is clearly persisted.

So far I have tracked it down as far as [transactions.rb#L390](https://github.com/rails/rails/blob/v4.2.3/activerecord/lib/active_record/transactions.rb#L390). In 4.2.2. the `tr

[2015-07-09 21:16] blunckr opened #20825 "'select as' and count are not getting along"
When I use a custom select statement with AS in it, and then try to do a count on it, it generates invalid SQL.
[code]
[code]
Note that I'm using postgres, I'm not sure if that matters.

The reason I'm doing this is to sort by a 'fake' column, like this
[code]
(No, that's not the actual query I'm running)
Is there simply a better way to do something like this that I'm missing? For now I'm just usi

[2015-07-09 21:27] firien commented on #20824
throwing a backtrace at [transactions.rb#L376](https://github.com/rails/rails/blob/v4.2.3/activerecord/lib/active_record/transactions.rb#L376) you can see that save is being called 3 times in 4.2.3, while only twice in 4.2.2.

<img width="1041" alt="bt" src="https://cloud.githubusercontent.com/assets/58729/8607213/6c101ef8-265f-11e5-85b0-a47dd066f4eb.png">

[2015-07-09 21:29] rafaelfranca commented on #20825
You want to ignore the selected columns statement when doing the count? if that is the case use `count(:all)` otherwise it will use what you asked to select.

[2015-07-09 21:29] #20825 closed

[2015-07-09 21:35] blunckr commented on #20825
Ah thank you, that worked. Sorry I didn't think to look at the count documentation for some reason.

[2015-07-09 23:08] fenec commented on #20823
I created a PR to fix this issue https://github.com/rails/rails/pull/20826

[2015-07-09 23:36] fenec commented on #20820
I think it's correct because you cannot create an object with an array as a enum field (it's an integer).

[2015-07-10 00:12] firien commented on #20824
@arthurnn, this one [line](https://github.com/rails/rails/commit/ec712fb4ca5289a22872eabf32c74459a304115d#diff-174733f2db65ef1bc53e3222d6ac0e61R334) is responsible for this [gists](https://gist.github.com/firien/f2211669a2e539e63d20) odd behavior - thoughts?

[2015-07-10 02:04] jacyreese opened #20827 "Calling double-through association on unsaved object returns nil"
Example of the issue:

[code]

[code]

[code]

[code]

In this example, when you create a new `response`, you can call `response.question` and get the corresponding question. When you try to call `response.poll` on an unsaved `response`, you get a return value of nil and no query is made to the database. Calling `response.question.poll` works fine, as does calling `response.question` on a `respons

[2015-07-10 02:49] rafaelfranca commented on #20827
Which version are you using?

On Thu, Jul 9, 2015, 23:04 Jacy Anthis <notifications@github.com> wrote:

[2015-07-10 03:44] jacyanthis commented on #20827
@rafaelfranca I'm using 4.2.1 rails.

[2015-07-10 08:34] tobypinder commented on #20820
@fenec - My understanding is that the current scope should not try to set default parameters when they are ambiguous. Logically, the scope used is an array because `ActiveRecord` uses it to create an IN statement (`WHERE enum_field IN(1, 2)`). The fact that Rails is attempting to create the field *with* the array *is* the bug. Removing the `enum enum_field { ... }` statement from my example result

[2015-07-10 09:27] jvanbaarsen commented on #20754
I would like to take a look at this :)

[2015-07-10 09:39] seuros commented on #20754
@jvanbaarsen :+1:

[2015-07-10 09:55] jvanbaarsen commented on #20754
@utilum It looks like your testcase was wrong. You're calling Resque directly from your rails app. This will  bypass the ActiveJob code. If you write the testcase as follow it works as expected:

[code]

So in your app you should call `DemoJob.perform_now` instead of `Resque.enqueue(DemoJob, 'demo arg')`

Can you try this in the app you encountered this issue in?

[2015-07-10 10:04] jvanbaarsen commented on #20694
@rafaelfranca Would be great if you can add the `doc` label :yellow_heart:

[2015-07-10 10:13] jvanbaarsen commented on #20799
New PR is here: https://github.com/rails/rails/pull/20800

[2015-07-10 11:26] luxflux commented on #6591
Me too, Rails 4.1.11.

[2015-07-10 11:56] 007lva commented on #19268
Maybe a new feature to implement
[code]
with this 'intuitive' behavior could be useful

[2015-07-10 12:00] #20754 closed

[2015-07-10 12:07] jvanbaarsen commented on #20754
@seuros Thanks :yellow_heart:

[2015-07-10 12:09] seuros commented on #20754
@jvanbaarsen Thank you for figuring out the issue.

[2015-07-10 13:06] agis- commented on #20817
I find it surprising that `bad_query` works in 4.1. It *seems* wrong.

Why not just do `find_by(group_id: Group.where(id: group).id)`?

[2015-07-10 14:34] griffithchaffee commented on #20817
@agis- Your code example is invalid but I'm guessing you are just trying to show an easier way of making the query. This is just a simple example that reveals the underlying bug. The bug is that ActiveRecord incorrectly handles a subquery in a find_by and possibly other methods.

A good bypass for now is using: `Admin.where(group_id: Group.where(id: group)).first`

Just watch for similar subquery

[2015-07-10 14:40] hjleochen opened #20833 "Arel.scope ? Unexpected sql(result) at the class method and scope。"
[code]

[code]

[2015-07-10 14:50] rafaelfranca commented on #20833
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-07-10 15:09] glentakahashi opened #20834 "Documentation for ActiveRecord::Enum is wrong"
I think the documentation for http://edgeapi.rubyonrails.org/classes/ActiveRecord/Enum.html is wrong here:

    Of course, you can also query them directly if the scopes don't fit your needs:
    Conversation.where(status: [:active, :archived])
    Conversation.where.not(status: :active)

On that page it says that you should be able to query Conversation.where(status: :active), but many other webs

[2015-07-10 15:10] rafaelfranca commented on #20827
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-07-10 15:11] glentakahashi commented on #20834
Closed because I am wrong. Documentation is correct on http://api.rubyonrails.org/v4.2.1/classes/ActiveRecord/Enum.html, I was looking at the wrong link.

[2015-07-10 15:11] #20834 closed

[2015-07-10 15:16] dmitry commented on #20676
TL;DR Child uniqueness validation should be done only after parent `INSERT`ed.

I have similar issue, and I found that validations with `scope` are done before the parent record is saved, and it checks for `NULL` value, instead of real id value that will be saved only after `INSERT` is completed.

[2015-07-10 15:40] hjleochen commented on #20833
[code]

[2015-07-10 15:56] jacyanthis commented on #20827
Thanks for the reference. I made such a script here (https://github.com/jacyanthis/rails-bug-double-through/blob/master/active_record_bug_double_through.rb) although I can't get it to run. It just stalls when it tries to fetch rails from Github.

[2015-07-10 16:02] matthewd commented on #20833
This is expected behaviour; `find` returns an ActiveRecord::Base instance, not an ActiveRecord::Relation.

[2015-07-10 16:02] #20833 closed

[2015-07-10 16:03] rafaelfranca commented on #20827
Thank you

[2015-07-10 16:26] hjleochen commented on #20833
My User Model has a scope like:

[code]

[code]

the sql of ```ids = User.where(parent_id: parent_id).ids``` is

SELECT "users".id FROM "users" WHERE  area_code = 'Fuzhou' and  parent_id not in (?)

why the sql includes " area_code = 'Fuzhou' " ?

Thanks.

[2015-07-10 21:17] sgringwe opened #20837 "ActionDispatch::Response#[] delegated to @header.[], but @header is nil"
In Rspec specs for API controllers using http token auth I am getting failures after upgrading from rails 4.2.1 to 4.2.3.

The error is:
[code]

Code is:
[code]

[2015-07-10 22:30] joevillanueva commented on #18660
Just ran into this issue as well. Changed case, solved the issue.

[2015-07-11 08:00] VELVETDETH opened #20844 "Spelling mistake in auto-generated Gemfile"
When I run something simple like:

    rails new demo

And you could find out that, in `Gemfile`, there're 2 lines:

    # Use SCSS for stylesheets
    gem 'sass-rails', '~> 4.0.0'

Should **SCSS** be **SASS**?

Anyway, I think SCSS is ok here, but quite confusing. Especially for someone who just recognize SASS(like me).

[2015-07-11 13:05] matthewd commented on #20844
No; we use SCSS by default.

[2015-07-11 13:05] #20844 closed

[2015-07-11 16:51] infertux commented on #20335
I have yet to get to the bottom of this issue but it seems to be related to how I restart Unicorn. A "zero-downtime restart" (sending `SIGUSR2`) seems to create directories with incorrect permissions whereas a hard restart (`SIGQUIT` then start Unicorn again) seems okay...

[2015-07-11 19:59] chancancode commented on #20775
Fixed in 49c613463b758a520a6162e702acc1158fc210ca; tests added in d6142c74d1f9decc2687aa388899a76a03ab0e49.

Thank you so much for reporting this!!! :green_heart: :yellow_heart: :heart: :blue_heart: :purple_heart:

[2015-07-11 19:59] #20775 closed

[2015-07-12 03:34] meinac commented on #20827
I've created a pr for fixing this.

[2015-07-12 04:42] tomprats commented on #20233
Ah, didn't know it was reserved. That explains it. It would be good to document it (maybe it already is somewhere!) but changing it seems to work out. Thanks!

[2015-07-12 04:42] #20233 closed

[2015-07-12 10:14] thomasfedb commented on #20449
@senny How can I go about having this fixed for 4.2.x?

[2015-07-12 15:54] ghaydarov opened #20855 "Data too long on update and delete action only, with longtext."
I needed to use longtext in my rails app (4.1.5) with mysql.

It works on create action. So if I create very long text, no problems. But if I make a change to that text of any kind and want to update it or delete it, I get Mysql2::Error Data too long for column 'object' at row 1. Is it a bug or am I doing something wrong.? thanks in advance.

Migration file:

[code]

My schema part.

[code]

UPDAT

[2015-07-12 16:31] ghaydarov commented on #20855
This happens even if I change the whole long text to 5 letter word. So once that long text is added, lenght of the update text does not matter, I get error.

[2015-07-13 06:17] kirantpatil opened #20858 "live stream with devise Uncaught ThrowError"
=> Rails 4.2.1 application starting in development on http://localhost:3000
=> Run `rails server -h` for more startup options
=> Ctrl-C to shutdown server
Puma 2.11.3 starting...
* Min threads: 0, max threads: 16
* Environment: development
* Listening on tcp://localhost:3000

Started GET "/" for 127.0.0.1 at 2015-07-13 11:39:03 +0530
  ActiveRecord::SchemaMigration Load (0.2ms)  SELECT "schema_mig

[2015-07-13 06:58] kapso opened #20859 "Generated schema.rb ignores "id: false""
This is on Rails `4.2.3` (Ruby 2.2.2) - `pg` gem (0.18.2)

Table migration:
[code]

But in `schema.rb`, `id: false` is lost
[code]

I am using Postgres 9.4.x

[2015-07-13 07:03] kapso commented on #20749
I am having the same issue #20859

[2015-07-13 07:52] risentveber opened #20860 "Cache_counter for HABTM"
In Rails there is no cache_counter pattern for has_and_belongs_to_many association, I have found
only like [this](http://codepen.io/asommer70/blog/poor-man-s-counter_cache-for-habtm) solution.

[2015-07-13 09:23] sasiraju opened #20861 "Creating Table in Mysql"
I have one question

Shall I create a table with uppercase in Mysql from ruby on rails.

becoz whatever iam giving the tablename only table creation format like
1.lowercase
2.underscore
3.plural

example
-------------
tab_names .

shall i change tab_names--->TABNAME....??

is it  rails default or  possible to change???

please provide the answer....

[2015-07-13 10:35] jondeandres opened #20862 "#to_json hangs with Redis client on payload"
Hi,

in https://github.com/rollbar/rollbar-gem we are having some problems when we are trying to serialize a payload that has a `Redis` instance on it. The serialization process just hangs.

The test is this:

[code]

If I remove monkey patch in `lib/active_support/core_ext/object/to_json.rb` then is solved.

Also, if I add this to `lib/active_support/json/encoding.rb` it's also solved:

[code]

A

[2015-07-13 11:00] meinac commented on #20824
This bug also appears in master branch. After rollback of the transaction it loads the previous transaction state. We should clear the `@_start_transaction_state` after commit.

[2015-07-13 11:13] jondeandres commented on #20862
Ok, I think this is fixed in from activesupport 4.1.0. I guess we'll need to monkey patch `Socket` so it doesn't hang,

[2015-07-13 11:14] matthewd commented on #20858
Devise (or, more accurately, Warden) violates the Rack spec by assuming it can `throw`/`catch` between middlewares.

[2015-07-13 11:14] #20858 closed

[2015-07-13 11:14] matthewd commented on #20860
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-07-13 11:14] #20860 closed

[2015-07-13 11:15] matthewd commented on #20861
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-07-13 11:15] #20861 closed

[2015-07-13 11:17] #20862 closed

[2015-07-13 12:23] nsarno commented on #20510
Like @fenec suggested, memoization seems like a good fix.

I replaced `STATS_DIRECTORIES = ...` with `STATS_DIRECTORIES ||= ...` locally and it works well.

Any reason not to do this?

[2015-07-13 13:41] yossi-shasho opened #20863 "Subselect with polymorphic association produces invalid query in version 4.2.3"
After upgrading to 4.2.3 (using ruby 2.2.2), several queries have stopped working.These queries all involved a subselect on a polymorphic table. This is looks like a regression.

I've created a canonical rails project that demonstrates the bug: https://github.com/yossi-shasho/railsbug
it contains a single rspec that fails, but it passes when downgrading Rails back to 4.1.6.

### The models
[code]

[2015-07-13 15:34] kasiaul opened #20864 "createjointable - does it generate model?"
I used code from doc
$ bin/rails g migration CreateJoinTableCustomerProduct customer product
to create:
rails g migration CreateJoinTableProductTypeSpecification product_type specification

With generated code in migration index name was too long I had to use in migration different code:
      t.belongs_to :product_type,  index: true
      t.belongs_to :specification,   index: true
But model was n

[2015-07-13 15:43] japed commented on #20864
Just delete the secondary migration.  You should have just used the model generator if you wanted that too.  This isn't an issue with the code, you should ask these sorts of questions on [StackOverflow](http://stackoverflow.com/questions/tagged/ruby-on-rails)

[2015-07-13 16:57] kasiaul commented on #20864
Thank you. However I consider it as Contributing to Ruby on Rails guide for guidelines. We should be clear what results to expect from code.

[2015-07-13 16:57] #20864 closed

[2015-07-13 18:50] trendwithin commented on #20510
Arnaud,

Thank you for the response.  It wasn’t clear to me how to achieve this.  I wasn’t sure if this had to be altered
in a gem (and which one) or could be done in the Rakefile, so I put it on the back burner since I was just trying to follow along with
a tutorial.  Now that I’m reminded of this I’ll ask questions at the meet up I’m going to tomorrow.

Regards,
Michael
On Jul 13, 2015, at 5:24

[2015-07-13 19:08] yzhanginwa opened #20867 "counter_cache does not update the parent updated_at column when the count decrease"
I have 2 models: Book and Chapter. Table books has column chapters_count.

class Book < ActiveRecord::Base
  has_many :chapters
end

class Chapter < ActiveRecord::Base
   belongs_to :book, counter_cache: true, touch: true
end

If I do this:

  chapter = @book.chapters.first
  chapter.book_id = nil
  chapter.save

The @book.chapters_count will decrease by 1, but the @book.updated_at does not change

[2015-07-13 20:37] jondeandres commented on #20862
@matthewd I guess you've closed this since I've found the version from we can use native JSON without use ActiveSupport.

But were you concerned about this error serializing data? There are plans to solve it?

Thanks.

[2015-07-13 20:41] matthewd commented on #20862
Sorry, I forgot to add a comment. :confused:

My interpretation of your previous comment was that you'd originally reported the problem based on an earlier (`< 4.1`) version, and that you'd subsequently determined upgrading to 4.1.0 fixed it. Is that right?

[2015-07-13 22:50] jsallis opened #20869 "ActionView::Helpers::NumberHelper.number_to_human formatting incorrectly on rounding"
When rounding numbers up to the next significant digit, `number_to_human` is incorrectly formatting with the wrong value + unit quantifier:

[code]

[code]

This happens when the number is high enough to warrant rounding up to the next unit quantifier (ie. Thousands => Millions, Millions => Billions)

##### Steps to reproduce
[code]

##### Versions
Rails: `4.2.3`
Ruby: `2.2.2p95`
OSX: `10.10.4`

[2015-07-14 00:49] brauliobo opened #20871 "has_many through can't be used with other scopes on models with inheritance (not STI)"
Consider the following models:
[code]
Then if I run, it returns the right number of results:
[code]

But if I use `default_order` scope then `has_many through` scope is lost!:
[code]

I'm using rails 4.2.3. This worked on rails 3.2.22.

[2015-07-14 09:12] Linuus opened #20874 "Double validation errors when using autosave: true"
Example:

[code]

[code]

As you can see, the validation errors show up twice. Is it supposed to be like this or is it a bug?

[2015-07-14 10:45] goodviber opened #20875 "capistrano deployment error - NameError: uninitialized constant Rails::Application::YAML"
When following my normal capistrano deployment process with rails 4.2.1, I encountered this error. Adding require 'yaml' in various config files did not resolve the error.

[code]

On the server, at ~/my_app/shared/bundle/ruby/2.1.0/gems/railties-4.2.1/lib/rails/application.rb I have added **require "yaml"** at line 390. This resolves the error.

    def secrets
      @secrets ||= begin
        se

[2015-07-14 12:50] andreynering opened #20876 "Rails is not converting timezones (config.time_zone not working)"
A found this bug on many apps I made, from Rails 4.1.* to 4.2.* (including 4.2.3). I use PostgreSQL.

I live in Brazil, so I always add this to `application.rb`:

[code]

At first, it does what it is supposed to do: it converts the time input (from user) from UTC-03:00 to UTC before saving in the database. And in forms and views, it converts from UTC to UTC-03:00.

But after some days/few weeks, i

[2015-07-14 13:47] andreynering commented on #20876
Just found that hardcoding it worked (Rails 4.2.3):

[code]

[2015-07-14 15:23] krlsdu commented on #20876
http://guides.rubyonrails.org/configuring.html
Look for timezone, maybe help you.

[2015-07-14 16:07] rafaelfranca commented on #20876
Seems so. Let us know if you could reproduce the issue, otherwise there is nothing that we can do to help.

Thanks.

[2015-07-14 16:07] #20876 closed

[2015-07-14 16:11] rafaelfranca commented on #20875
Make sure you are using Rails 4.2.3 that fixes this issue

[2015-07-14 16:11] #20875 closed

[2015-07-14 16:42] dhh opened #20878 "Add wildcards to template dependencies"
[code]

Would be great if that could be written as:

[code]

[2015-07-14 16:42] dhh commented on #20878
Any thoughts on this @kaspth?

[2015-07-14 17:21] wgriffiths opened #20879 "image_alt checksum"
Rails 4.2.3

The generated alt text for image tags includes the checksum for the image

**Rails code**
[code]
**Generated HTML**
[code]

Looking at the image_alt method
[code]

Its looking for a 32 character checksum, but the generated checksum is 64 characters so its not removed.

If I override the image_alt method in a helper with the following version. Then the checksum is not shown in the alt

[2015-07-14 17:24] chirag7jain commented on #20874
Its a bug

[2015-07-14 17:33] wgriffiths commented on #20879
Create pull request

[2015-07-14 17:33] #20879 closed

[2015-07-14 17:37] Linuus commented on #20874
I tried it on Rails 4.2.1 btw

On Tue, Jul 14, 2015 at 7:25 PM, CJ <notifications@github.com> wrote:

[2015-07-14 17:45] jondeandres commented on #20862
@matthewd upgrading active_support fix that resolves the problem of being able to use just JSON, without active_support. But it doesn't solve the problem of serializing a payload with a `Socket` instance on it.

But it works fine using just JSON.

[2015-07-14 18:03] andreynering commented on #20876
Finally found the root of the problem.

One of the installed gems was messing up with the initialization process. It's not a Rails bug.

[2015-07-14 20:23] al2o3cr commented on #20827
Has this ever worked? It's unclear to me if this is even something doable in the general case, since the associations involved could be scoped.

In this particular case, I'd recommend bringing the reference to the user into the `Question` object, so something like:
[code]
(I've elided some of the unneeded options from the original associations, and assumed you have a `User` class)

[2015-07-14 20:33] meinac commented on #20827
@al2o3cr the problem is that normally you can access post association of the subreply object but in case of new subreply(not persisted) you can't because of this bug.
Try to save subreply object and reload it then you can access post association of it.

[2015-07-14 21:36] betesh opened #20882 "New records are autosaved with parent even though marked for destruction"
unless the association is `autosave: true` or the record is invalid

Failing test: https://gist.github.com/betesh/be51479c11fbc9a419c6

[2015-07-14 23:16] brianjlandau commented on #20700
I've experienced this too, sporadically with no predictability or reproducibility as far as I can tell. Never happens in tests or development and given what @JonRowe said above I'm guessing it's a multiple thread related issue. The full error message I get is also `ArgumentError: Invalid scope type '' sent to the registry. Scope types must be included in VALID_SCOPE_TYPES`

The last few lines of t

[2015-07-14 23:54] JonRowe commented on #20700
Yep that was what was happening to me too @brianjlandau, except I believe it's nil due to the symbol being GC'd on 2.2.2 (hypothesis only, still unable to replicate locally) similarly I'm using Unicorn as my app server.

FWIW this patch has fixed it:
[code]

[2015-07-15 02:11] pboling opened #20885 "New SQL coloration doesn't work with heredoc generated SQL"
New SQL coloration introduced [here](https://github.com/rails/rails/pull/20607)
* doesn't work with SQL generated with heredoc that has spaces before the SQL verb to be matched:
[code]
* doesn't explicitly handle some commonly used SQL statements resulting in sub-optimal coloring
* removes the coloration of the `payload[:name]` which instead of removing, could be made more useful.

## Examples of

[2015-07-15 04:49] sgrif commented on #20700
While I'm not doubting that this bug, there is literally nothing I can do without a script to reproduce it. I realize that this might be frustrating, but saying you're having the issue without a repro script is not particularly helpful here.

[2015-07-15 04:59] JonRowe commented on #20700
It's all good, just providing the information for other people encountering this issue; in the hope that if they search for the error they'll come across this Github issue and it will be helpful to them! Either by just highlighting it's existence elsewhere, or allow them to fix it with the patch themselves. I'm confident at this stage the issue is due to the use of `define_singleton_method` and a

[2015-07-15 05:02] sgrif commented on #20700
I understand completely. Since this has drifted away from "how Rails can fix this issue", and I'm getting emailed when people comment, I'm going to unsubscribe. If any future readers believe they have relevant information, please ping me or contact me directly.

[2015-07-15 07:40] mcfiredrill commented on #20874
Are you able to provide a reproducible test case using this template?
https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

This will help other people to reproduce the issue. :blush:

[2015-07-15 08:01] Linuus commented on #20874
@mcfiredrill Sure!

[code]

[2015-07-15 08:09] mcfiredrill commented on #20874
@Linuus Thanks, I ran the script and got the same behaviour:
[code]

[2015-07-15 08:14] Linuus commented on #20874
@mcfiredrill Great. I'd be willing to try and create a PR but I'm not that familiar with the Rails internals yet. Could you maybe point me in the right direction where the relevant code may be?

[2015-07-15 08:24] tobypinder commented on #20820
I've tried to look into this, but without much knowledge of where AR does it's internal handling of supplied array arguments for strings, integers etc. I'm getting nowhere. This particular bug only manifests itself with Enums - it seems that by the time things get casted in the enum it's being passed the array, whereas for other type classes the methods are being called twice for the individual pa

[2015-07-15 13:08] Manifold0 commented on #20749
This has been an issue for a little while now: https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/issues/395

[2015-07-15 13:55] #20694 closed

[2015-07-15 15:55] kaspth commented on #20878
I assume you're doing something like:

[code]

Yup, I could definitely see that becoming tedious if you add another STI event (or however they're setup) - especially if you're rendering the same stuff elsewhere. It would be cooler if that got picked up automatically.

I think it's doable if we resolve the directory to its files - and thereby track file addition and removal. Then we leverage the ex

[2015-07-15 17:15] dhh commented on #20878
Haha, that's exactly it :)

On Wed, Jul 15, 2015 at 5:56 PM, Kasper Timm Hansen <
notifications@github.com> wrote:

[2015-07-15 18:24] kaspth commented on #20878
Now I'm too curious, so I'll steal this right from under you :grin:

Unfortunately, if you're not writing the PR, your commit count won't go up and there's less chance of you being recognized for helping Rails out. I hope you're okay with that :smile:

[2015-07-15 22:22] mlarraz opened #20891 "Shallow resource routes in Engine not being respected"
Given a resource `Baz` with its controller in module `Bar` and its routes nested inside resource `Foo`:

[code]
if I want to extract code in the `Bar` module to an engine, I move its routes to the engine's route file, and mount it
[code]

I expect to still have the shallow route:
[code]

Instead, I have
[code]

Effectively, the `shallow: true` is doing nothing, and to get the routing I want I have

[2015-07-16 00:36] tenderlove opened #20893 "Polymorphic type is wrong when doing an association creation"
[code]

Output:

[code]

[2015-07-16 00:41] matthewd commented on #20893
Isn't this expected behaviour? `addressable_type` is responsible for telling us which table to look in (i.e., the root of the STI tree), not the particular class of the record, isn't it?

Otherwise, what if `type` gets changed?

[2015-07-16 00:48] tenderlove commented on #20893
That is a very good point.  I only filed this bug because apparently there is a gem whose sole purpose is to work around this issue. /cc @zenspider

[2015-07-16 00:54] loicteixeira opened #20894 "Routes display order is misleading for single 'resource'"
If you define a resource which does not need the id to be part of the url like this:

[code]

and run `rake routes`, the output will be the following:

[code]

It is misleading because the path helper prefix for the `profiles#show`, `profiles#update` and `profiles#destroy` routes is not `edit_profile` but `profile`. The expected result would look something like:

[code]

The `resource` method is d

[2015-07-16 04:29] lukechesser opened #20896 "Add a note to Active Record Validations Guide for acceptance method"
The documentation in the [Active Record Validation Guide for the validator method `acceptance`](http://guides.rubyonrails.org/active_record_validations.html#acceptance) could include a note that the validation won't run if the field exists in the database.

The [API documentation for the helper method](http://api.rubyonrails.org/classes/ActiveModel/Validations/HelperMethods.html#method-i-validates

[2015-07-16 04:41] rafaelfranca commented on #20896
Feel free to send a PR.

[2015-07-16 05:19] lukechesser commented on #20896
Added a PR #20897

[2015-07-16 08:10] jayant1992 opened #20898 "find_each and find_in_batches don't work with_index"
[code]

Both code samples are from the [official documentation](http://api.rubyonrails.org/classes/ActiveRecord/Batches.html#method-i-find_each)

They give a ```LocalJumpError: no block given (yield)``` error
Both methods should probably return an Enumerable in case a block is not passed

#20125 and #13201 are probably relevant

[2015-07-16 08:40] dhh commented on #20878
Ahh, shoot! 😋

On Wed, Jul 15, 2015 at 8:25 PM, Kasper Timm Hansen <
notifications@github.com> wrote:

[2015-07-16 20:11] bitops opened #20903 "Rails should set default headers on 404 and 500"
When returning a 404 or 500, Rails should include all default headers, particularly ```X-Frame-Options``` and ```X-Content-Type-Options```. Right now it looks like these are scrubbed by default.

[2015-07-16 20:38] rafaelfranca commented on #20903
These pages are usually rendered by the web server like apache and nginx and don't passes in the Rails stack. This is the reason for it.

[2015-07-16 20:38] #20903 closed

[2015-07-16 23:30] mmontossi opened #20907 "Strange query in 4.1.12"
The following test case can be use:

https://gist.github.com/mmontossi/dcf71457e98a169c28a5

I notice an strange query:

SELECT COUNT(*) FROM "products"  WHERE "products"."visible" = 't' AND "products"."visible" = 'f'

Visible is query as true and false at the same time?

[2015-07-16 23:35] matthewd commented on #20907
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-07-16 23:35] #20907 closed

[2015-07-16 23:43] mmontossi commented on #20907
What I should understand is that this is the desired behavior?

[2015-07-16 23:44] matthewd commented on #20907
Sorry, that was a bit unclear. Yes, that's expected behaviour.

[2015-07-17 00:02] mmontossi commented on #20907
Thanks

[2015-07-17 00:53] tiagozc commented on #17216
+1

[2015-07-17 05:58] jerome2 opened #20910 "enum with form for "selected" option seems to failed to point the selection"
Hi,

I have 3 tables (models) linked like this:

Photos (belongs_to :travails), Travails (belongs_to :wconcerns, has_many :photos), Wconcern (has_many :travails)

inside Wconcern model, i have:

"enum categorie: [:no_one, :travails, :voyages]"

so categorie is a column type integer (as indicate by Rails guide about enum definition)

Now from a partial "_form" view (form who will be render for new

[2015-07-17 07:57] jerome2 commented on #20910
also, i see that if i try this code:

= simple_form_for @wconcern do |x|
            = x.collection_radio_buttons :categorie, Wconcern.categories, :last, :first , selected: give_concerned_categorie
then this not works because the hach or list give by the enum is [["ni-one", 0], ["travails", 1], [voyages", 2]] (inversed) and i think helpers forms collection_select will works only if it would be [[0

[2015-07-17 08:20] odedniv opened #20911 "after_commit order inconsistent with other callbacks"
It seems that the commit callbacks (defined in https://github.com/rails/rails/blob/master/activerecord/lib/active_record/transactions.rb#L230) is defined differently from the rest of the callbacks (defined in https://github.com/rails/rails/blob/master/activemodel/lib/active_model/callbacks.rb#L103).

I experienced this difference in the order `after_commit` is executed. It seems that `after_*` cal

[2015-07-17 09:35] ror6ax opened #20912 "foreign key references wrong column"
I create migration with the following code. My aim is to create foreign keys, which refer to students\subjects\teachers tables, column name:

[code]

Unfortunately, the result fails with following error:

[code]

Why, after specifying column and foreign key it still tries to refer to `id` in students, not `name` ?

The following sql code does the work for me, I just want to make it work Rails-way:

[2015-07-17 09:56] jerome2 commented on #20910
this works:
= simple_form_for @wconcern do |w|
            = w.collection_radio_buttons :categorie, Wconcern.categories, :first, :first, selected: @photo.travail.wconcern.categorie

but i think this is not very good and point the problem of "inverted" form of an enum list and the difficulty for point hte enum (no choice, .categorie give back the title, not the index... no option for ask the index)

[2015-07-17 11:33] brightbits opened #20914 "Errors in initializer causes `rails server` to fail with unknown command"
The error is swallowed and `rails server` shows usage/invalid params error

[code]

Easy way to reproduce is to `require` an invalid file in an initializer.

[2015-07-17 13:59] robin850 commented on #20612
#20781 (feature)
#20866 (deprecation)
#20868 (possible breaking change)

[2015-07-17 15:27] jiajiawang opened #20916 "An error pointing to action_controller/test_case.rb when use rspec"
Met an error when use rspec
https://github.com/rspec/rspec-core/issues/2034

`@_layouts` becomes nil
https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_controller/test_case.rb#L30

[2015-07-17 15:35] rafaelfranca commented on #20916
Thank you for the report. This looks like a RSpec issue even that the exception point to rails code so I'm closing since you already reported there. If they found that the problem is in Rails or you can reproduce it without RSpec please let us know.

[2015-07-17 15:35] #20916 closed

[2015-07-17 15:44] rafaelfranca commented on #20914
I tried to reproduce with a new Rails 4.2.3 application and puma and could not. Let us know if you find an way to reproduce it.

[2015-07-17 15:44] #20914 closed

[2015-07-17 17:48] al2o3cr commented on #20912
The value passed to `column` should be the name of the foreign key column in `from_table` (`:courses` here). It would be `:student_name`, etc.

`foreign_key` is not a supported option. If the intent is to specify the name of the column in `to_table` (`:students`, etc) then you should use the `primary_key` option.

FWIW, I'd highly recommend considering carefully the use of names as foreign keys; t

[2015-07-17 18:03] ror6ax commented on #20912
The intent is to have 3 foreign keys to 3 different tables and them(foreign keys) being not `id`.
Thanks for help, though. Activerecord docs are close to useless, for me at least.

[2015-07-17 18:46] tal-moshayov commented on #20863
+1

[2015-07-17 19:07] rafaelfranca commented on #20816
Closed by the linked commit :heart:

[2015-07-17 19:07] #20816 closed

[2015-07-17 20:17] merhard opened #20920 "Mounted Engine named_routes Regression in v4.2.3"
When running a Rails v4.2.2 app under a relative url with an isolated mounted engine, the engine named route helpers generate the correct path. This is no longer the case in Rails v4.2.3 or 4-2-stable.

I believe the change in behavior stems from this commit: 0703453fabc4a47411c2f9df291acfdfbcaf5ae4.

Per 5b3bb61f3fb82c7300d4dac374fe7aeafff6bda0, mounted engines use `options[:original_script_name]

[2015-07-17 21:22] sgrif commented on #20898
Hi there! Thanks for the report! Can you give us a script that we can use to reproduce the issue, using [this template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)? Both of these methods return an enumerator without a block, and those code samples should Just Work :tm:

[2015-07-17 21:24] sgrif commented on #20910
It doesn't appear that any of the code you've mentioned is a bug in the documented behavior of `enum`.

[2015-07-17 21:24] #20910 closed

[2015-07-17 21:25] sgrif commented on #20912
We'd love a PR to improve them if they were unclear to you in this case. However, this doesn't appear to be a bug in Active Record. Thanks for the report!

[2015-07-17 21:25] #20912 closed

[2015-07-17 21:40] sgrif commented on #20863
@yossi-shasho Thanks for the report, I'll look into it. For future reference, bug reports that use [this template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb) are preferable for bugs such as this.

@tal-moshayov Please do not +1 issues, they do not achieve anything, and add unnecessary noise to our already crowded inboxes.

[2015-07-18 00:25] twalpole opened #20922 "AC::Parameters no longer being a Hash has broken nested attributes"
Since AC::Parameters is no longer derived from Hash, and each nested "hash" inside Parameters is also an instance of AC::Parameters,   https://github.com/rails/rails/blob/master/activerecord/lib/active_record/nested_attributes.rb#L446  raises an error since it only allows Hash or Array, https://github.com/rails/rails/blob/master/activerecord/lib/active_record/nested_attributes.rb#L446 calls #map w

[2015-07-18 00:41] jonatack commented on #20922
Yes. Experiencing this issue as well.

[2015-07-18 00:46] jerome2 commented on #20910
sure, because i not what i said. I said that for use correctly enum with form hrlpers, this is just difficult due to "enum" construction in the design patern. But also, enum not use enum, it is a artificial enum, also difficult to use with helpers, and impossible with form associations.
that is why i said maybe: "half-bugged". right or wrong ?
so i think it is a good place here for signal this and

[2015-07-18 00:53] zouis commented on #3145
That's not working for me. I updated to 4.2, set config.time_zone = 'Europe/Paris' but still have UTC time   2000-01-01 18:00:00 UTC
Am I missing something ?

[2015-07-18 01:27] sidot3291 commented on #13775
I've been working on a new feature to potentially resolve this problem, as well as the other issues highlighted in #10643.

I accomplished it by introducing a new "inline scope," and also standardizing the order in which scopes are prioritized: 1) default, 2) association scope, 3) inline scope.

Say you have a `has_many :comments` association that applies a scope that hides soft-deletes via a :del

[2015-07-18 03:45] shawnstephens commented on #20920
I'm experiencing a similar issue with a mounted engine. Using Passenger 4.0.59 I get paths from the url_helpers of the engine with the duplicated "/sub_uri/sub_uri/engine/route" path.

[2015-07-18 04:47] ShallmentMo opened #20925 "You can use increment to enumerable attribute, then save it.Is it a bug?"
I will post my code.

 db/migrate/20150718031018_create_posts.rb:
[code]

 app/models/post.rb:
[code]

and this is what I did in rails console:
[code]

when I did something like this, it raise ArgumentError:
[code]

Will it be nice that increment can check the validation?

[2015-07-18 06:32] kapso opened #20927 "Model.find is failing after after_create"
I have a `after_create` callback in model that sends email in a background worker (Sidekiq). However background worker sometimes fails with `ActiveRecord::RecordNotFound` -- meaning the record that was just created cannot be found. Hows that possible? Is it possible that the `after_create` is firing before the data is actually committed? Is it better to use `after_commit :send_welcome_email, on: :

[2015-07-18 10:42] jonatack commented on #20922
Needs test coverage in addition to a fix. The current test suite is passing.

[2015-07-18 10:56] robin850 commented on #20922
/cc @sikachu

[2015-07-18 12:45] sgrif commented on #20922
I've pushed a fix for this problem, and added an isolated test case for it. However I'm going to leave this issue open. This should have never passed CI and I consider our lack of integration test coverage a bug. We need to make sure that we have the tests required to prevent this from happening in the future.

[2015-07-18 12:50] sgrif commented on #20927
Can you please provide a minimal rails app with a test case defined to demonstrate the behavior?

[2015-07-18 12:52] sgrif commented on #20925
As per the docs, `The increment is performed directly on the underlying attribute, no setter is invoked. Only makes sense for number-based attributes.`. While the backing DB column might be an integer, enums aren't something you should really be thought of as numeric semantically.

[2015-07-18 12:53] #20925 closed

[2015-07-18 12:56] sgrif commented on #13775
I'm not a fan of the lambda form. This shouldn't require new behavior or functionality. The issue is the lazy computation of the join path that we follow. Due to time constraints, this probably won't happen until Rails 5.1, but the goal is ultimately to require `joins` to be explicit (e.g. you must do `User.joins(posts: :comments)`, not `User.joins(:posts, :comments)`, which will allow the tree to

[2015-07-18 13:12] sgrif commented on #20893
Honestly, neither the current nor asserted behavior in this issue make sense to me. We have no reasonable value to assume for `addressable_type` here. I would expect this to raise an `ArgumentError`, not default to the type of the parent class.

[2015-07-18 13:23] sgrif commented on #20820
In general the behavior of arrays with `build`/`create` is undefined. We only explicitly handle it for integers (https://github.com/rails/rails/blob/master/activerecord/lib/active_record/type/integer.rb#L43 to be precise, the `rescue nil` part). This is mainly because it's ergonomic to be able to use an array for foreign keys when doing things like multi-tenancy. However we don't handle it in the

[2015-07-18 13:23] #20820 closed

[2015-07-18 13:24] sgrif commented on #20859
Duplicate of https://github.com/rails/rails/issues/20749

[2015-07-18 13:24] #20859 closed

[2015-07-18 14:32] #20874 closed

[2015-07-18 15:12] jonatack commented on #20922
Thank you, Sean, for looking into this. The test passes with the fix and fails without it. However, the issue seems to still be there.

[2015-07-18 15:28] twalpole commented on #20922
@sgrif Your fix only fixed this issue for singular associations - PR# 20932 continues that for collection associations

[2015-07-18 15:42] jonatack commented on #20922
@twalpole Good call. Tried your PR and it seems to fix the remaining issue.

[2015-07-18 17:15] sidot3291 commented on #13775
Hi @sgrif

I'm not sure I understand your point about the tree being built eagerly.  I think joins are already required to be explicit?  In rails 4.1, `User.joins(:posts, :comments)` fails unless there is a `:comments` association on User.  If a `:comments` association exists on both User and Post, the two examples here still produce different SQL.

Ultimately, what I want to see provided is granu

[2015-07-18 17:31] aprescott commented on #13775
Even with the lambda functionality you described, I wouldn't consider that as fixing this issue. An `unscoped` acting as if it isn't there at all is still broken, lambda or no lambda.

[2015-07-18 18:10] sidot3291 commented on #13775
Hmm, what is setting the expectation that the association should be unscoped in your example?

    User.unscoped do
      Item.joins(:user) # User is incorrectly still scoped to status == 1 here
    end

The association definition is:

    class Item
      belongs_to :user, class_name: "User" #default class_name
    end

So are you arguing that within the `User.unscoped` block, all references to `

[2015-07-18 18:32] aprescott commented on #13775
The definition of `unscoped`'s block form tells you one thing, and `User.unscoped { Item.joins(:user) }` doesn't adhere to it, because it doesn't remove the default scope. This is already considered a legitimate bug (https://github.com/rails/rails/issues/13775#issuecomment-34577250 + others), and I think all the preceding discussion in this PR and other linked PRs expand on it a fair bit, so I won

[2015-07-18 20:27] repinel commented on #15454
As for `4-2-stable` and `master`, I could not reproduce the issue.

[2015-07-18 21:19] luke-gru commented on #20927
This is a common issue with background job libraries, see: https://github.com/mperham/sidekiq/wiki/Problems-and-Troubleshooting#cannot-find-modelname-with-id12345

[2015-07-18 21:29] kapso commented on #20927
Ah thanks for pointing that out, so it is indeed a commit issue.

[2015-07-18 21:29] #20927 closed

[2015-07-19 01:10] sidot3291 commented on #13775
Turns out this was a bug for all scoping blocks, not just unscoped: http://apidock.com/rails/ActiveRecord/Relation/scoping

Just issued a PR: https://github.com/rails/rails/pull/20937

I still think we need more granular control over the scope of joins, and would be interested in some more conversation around the inline lambda idea.  Does anyone have alternative ideas for altering scope at the ass

[2015-07-19 02:20] sgrif commented on #20882
Can you please use the standard testing template? I'm an RSpec user, but I still can't follow these examples through that much RSpec magic.

[2015-07-19 06:15] tomykaira opened #20939 "Incorrect scoping on has_many :through relation called from intermediate model's after_save"
`target_scope` of ThroughAssociation is contrary to my expectation.
Here is how to reproduce.

[code]

`ruby test.rb` outputs

[code]

I expect `["latest tag list", #<ActiveRecord::Associations::CollectionProxy [#<Tag id: 1, name: "ruby">, #<Tag id: 2, name: "rails">]>]` because tag `ruby` is already associated to `book`, but scoped to `tag_id = 2`. Here is SQL log.

[code]

[`reflection klass` in

[2015-07-19 08:23] jerome2 opened #20941 "app/views/layout/application.haml failed with use of ajax"
if my application layout is named "application.html.haml", then ajax (remote true) mechanism works fine, if i change this name by "application.haml", ajax mechanism failed to execute normaly the javascript file

[2015-07-19 08:26] jerome2 opened #20942 "coffeescript files from views are embeded inside a "function""
difficult to use simply coffeescript code from views just because the code is embeded inside a function.
I don't know and i don't understand why this choice, but this is not funny.

is there a reason for doing that ?
what could be the solution to use coffeescript file without have it embeded inside a function by default ?

[2015-07-19 20:41] #14178 closed

[2015-07-19 21:07] sgrif commented on #20942
This is not a bug in rails. Please go ask this on https://github.com/jashkenas/coffeescript/ or StackOverflow.

[2015-07-19 21:07] #20942 closed

[2015-07-19 21:08] sgrif commented on #20941
We reserve the issues tracker only for bugs in Rails. I recommend asking this question on the mailing list, or StackOverflow.

[2015-07-19 21:09] sgrif commented on #20939
This would never have the expected behavior in an `after_save` hook, as the transaction has not yet been committed. `reload` would not include the newly created record.

[2015-07-19 21:09] #20939 closed

[2015-07-19 21:21] sgrif commented on #20863
This isn't a supported use case. The `exists` method isn't part of the public API for `Relation`. It's forwarding it to Arel, but that is considered internal, and relying on it may break between versions without warning. The only supported methods are those documented at api.rubyonrails.org.

[2015-07-19 21:21] #20863 closed

[2015-07-19 21:26] sgrif commented on #20722
Fixed in #https://github.com/rails/rails/commit/21e05a041f467e0c356ece400a1edbd23f3e23cd

[2015-07-19 21:26] #20722 closed

[2015-07-19 21:27] sgrif commented on #16019
This appears to be fixed on both 4-2-stable and master. Please let me know if this is still an issue.

[2015-07-19 21:27] #16019 closed

[2015-07-19 21:38] sgrif commented on #16085
This was backported to 4.2. Unfortunately, the fix doesn't backport cleanly to 4.1. Since 4.1 is only moderately supported, I'm going to close this. Anyone experiencing this issue should upgrade to 4.2.

[2015-07-19 21:38] #16085 closed

[2015-07-19 21:39] lowjoel commented on #16085
Thanks!

[2015-07-19 21:40] sgrif commented on #16085
Looks like the fix does actually work on 4-1-stable, but we have a state leak causing the suite to fail when run as a whole I'll see if I can resolve

[2015-07-19 21:44] sgrif commented on #16085
This fix (and associated problems the fix caused on master) have been backported to 4-1-stable in https://github.com/rails/rails/commit/c3975349270f6a667836bf4cb85e42ec00b341f3, https://github.com/rails/rails/commit/77f6b109061e91eb87e960996e0cb3eef71e3355, and https://github.com/rails/rails/commit/a078cbd95980bb024db63dd7067647fe92384bd4. I believe that 4.2.3 already includes the fixes. They will

[2015-07-19 21:55] sgrif commented on #16407
This has been fixed on master, but I will not be backporting to older versions of Rails. See https://github.com/rails/rails/pull/16445#issuecomment-122709166 for the reasoning.

[2015-07-19 21:55] #16407 closed

[2015-07-19 22:10] sgrif opened #20945 "We need better integration test coverage"
There's a serious gap in our test coverage, in places that our gems interface with each other. https://github.com/rails/rails/issues/20922 for example, should never have happened. It looks like at the moment the closest thing we have to integration tests are the railties tests, but that is insufficient. I'd like to propose that we introduce an additional test suite that involves running unit tests

[2015-07-19 22:11] sgrif commented on #20922
I've opened a separate issue for the testing problem.

[2015-07-19 22:11] #20922 closed

[2015-07-19 22:11] sgrif commented on #20922
I forgot the link (https://github.com/rails/rails/issues/20945)

[2015-07-19 22:48] al2o3cr commented on #20893
@sgrif - What do you mean by "no reasonable value to assume for `addressable_type`"? Since the object was built off a `Vendor`, it seems reasonable to have a value based on that.

This particular issue seems to pop up once every year or so; I definitely recall discussion about it on the old Lighthouse. @matthewd has already pointed out the primary issue with the suggested behavior (denormalizing `

[2015-07-19 23:05] betesh commented on #20882
Sorry, I'm not sure what you mean by Standard Testing Template.  Can you provide a link?

[2015-07-19 23:06] sgrif commented on #20882
https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-07-19 23:07] sgrif commented on #20882
See also: http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html

[2015-07-20 00:12] brauliobo commented on #20871
removing `self.abstract_class = true` from `OrdersCyclePlugin::Order` workarounded the problem

[2015-07-20 00:12] #20871 closed

[2015-07-20 00:48] felixbuenemann commented on #20722
Thanks, works fine on 4-2-stable!

[2015-07-20 01:49] jerome2 commented on #20942
ok, thank you i will post question this place.

[2015-07-20 01:54] jerome2 commented on #20941
But in practice: i can no ask question on stakoverflow... could you ask for me ? Or i have to conclude that it is impossible to ask this question for me ?
please... open mind or do something for we can communicate easy. It becomes difficult to just have an answer to a question (and i don't know why).
This question is a question for rails devs... it could be a bug or not, but, if it is not a bug an

[2015-07-20 01:57] #20941 closed

[2015-07-20 01:59] sgrif commented on #20941
The Rails team is not tech support. If we answer your questions here, we would have to handle all of them and we do not have the man power to do so. There are other forums for you to get help, I would recommend you go there. Sorry.

[2015-07-20 02:15] jerome2 commented on #20941
ok, i understand well, sorry.
Also if you have a good link where the politic is not to stretch or elitist, i would be happy to go there for have a way to ask a question and find people could answer (and also answer myself some other questions).
thanks and sorry again.

[2015-07-20 04:22] krishnarohitreddy opened #20948 "flash messages are empty with rails 3.2.22"
controller

 elsif @foo.errors[:bar].any?
      flash[:notice] = "Sorry no longer available."
      redirect_to xxx
end

but in views flash notice is empty

[2015-07-20 04:57] matthewd commented on #20948
Rails 3.2 is no longer supported

[2015-07-20 04:57] #20948 closed

[2015-07-20 11:15] #20361 closed

[2015-07-20 13:04] cenouro commented on #18787
I have also had problems with Postgres. The migration with `t.integer :foo, limit: 2` ran fine but the schema generated was only `integer`. I'm using Rails 4.2.3.

[2015-07-20 14:10] skolem commented on #20837
I’m seeing this also. I believe this is a side effect of changes in this commit: a63760cea7d858984f83549019297221f18ed574

Specifically, the Error is thrown if an ActionDispatch::Response is initialized with a nil header param and a nil default_headers option. I believe this typically will occur in the context of tests since the commit updated ActionDispatch::TestResponse.from_response(response) t

[2015-07-20 14:26] betesh commented on #20882
New gist, using Standard Testing Template: https://gist.github.com/betesh/209e8c6be27c709a0a8d

When I build a Post with a Comment, and the Comment is marked for destruction, I expect validations not to run on it and I expect it not to be saved.  In `test_valid_comment`, however, the record is saved.

If, for some reason, a `new_record` that is `marked_for_destruction` **is** supposed to be valida

[2015-07-20 14:28] sgrif commented on #20882
From the docs for `mark_for_destruction` (http://api.rubyonrails.org/classes/ActiveRecord/AutosaveAssociation.html#method-i-mark_for_destruction)

[2015-07-20 14:28] #20882 closed

[2015-07-20 14:47] betesh commented on #20882
I figured there was something in the docs that I wasn't connecting.  In that case, there is a reason the mark_for_destruction is supposed to be ignored.  As I stated in my initial description:

So there is still a bug here.

[2015-07-20 15:00] betesh commented on #20882
@sgrif Shall I open a new issue and create a new failing-test gist since I mis-stated what the bug is here?

[2015-07-20 15:00] sgrif commented on #20882
@betesh No, I'm about to push a fix. Thanks.

[2015-07-20 15:01] betesh commented on #20882
Thank you!

[2015-07-20 15:03] sgrif commented on #20882
Fixed in https://github.com/rails/rails/commit/c0ef95a1c6db3095c4b5f80f8044fbbbdfebeff1 and backported in https://github.com/rails/rails/commit/cd1bbf8ede61dd5ca1c60c9801a1978d322d447b

[2015-07-20 15:03] exciton opened #20954 "ActiveRecord has_many association with dependent: :delete_all is cached when destroy is cancelled"
When a has_many association is configured with dependent delete_all, there is a bug in the way the association is cached following a delete call on the owner.

The following gist shows a simple failing case.

The expected behaviour is that if destroy fails, and rolls back the transaction (therefore rolling back the DELETE ALL) the association is not cached as empty.

https://gist.github.com/excito

[2015-07-20 15:17] sgrif commented on #20824
Fixed by #20947

[2015-07-20 15:17] #20824 closed

[2015-07-20 15:19] xijo commented on #20799
@kaspth any news on this issue and the pull request? Thanks!

[2015-07-20 17:24] sgringwe commented on #20837
@skolem Are you using cancan by chance? See https://github.com/CanCanCommunity/cancancan/issues/229 for a discussion and the solution I ended up with.

[2015-07-20 17:47] skolem commented on #20837
@sgringwe Thanks for the pointer. We do use cancancan, but not in the context of these tests and not in the context of the testcase in my previous post. The only explicit reference to "include CanCan::Ability" in our codebase is in our central Ability class.  I suspect there may be multiple paths to the resulting error.

In my situation, I had a working spec test suite that produced 13 errors afte

[2015-07-20 21:33] fjfish commented on #18513
You see this when the remote app sends an OPTIONS http verb. I'm hitting this using the Ionic framework from a phone - I think it's some kind of check to see if the host will accept XSS. I can't quite work out how to set up a route that will accept the options verb - you used to be able to do it with match according so some ancient blog posts I found.

[2015-07-20 22:06] krishnarohitreddy commented on #20948
Mine problem is something else
The problem was that it redirects twice. When that happens with 3.2.22, i have passed it in args and that worked for me. Any ways thanks for the responding

[2015-07-20 23:10] jeremywadsack commented on #17921
With #20818 (as a proposed solution for #17776) I've added a notification for ActiveRecord connections established after start-up. QueryCache could then subscribe to the notification and keep a collection of connections.

I don't understand the `restore_query_cache_settings` method but this might help the class use less global singleton variables and take a step towards supporting multiple databas

[2015-07-21 02:43] #19711 closed

[2015-07-21 03:10] sodabrew commented on #19223
Does the merge of #20732 resolve this? /cc @jorihardman @sgrif

[2015-07-21 03:11] sgrif commented on #19223
Yes. Thank you.

[2015-07-21 03:11] #19223 closed

[2015-07-21 03:21] thejamespinto commented on #20894
@loicteixeira maybe simply placing `POST /profile` at the bottom would do the trick.
I was inspired by your commentary so I played with this part of Rails for a while and came up with a solution with readability in mind.
Please take a look.

[2015-07-21 05:30] loicteixeira commented on #20894
That's awesome. I like that there are some test as well. This is mostly what hold me back, I didn't know how to test the changes.

[2015-07-21 06:42] tedtoer commented on #20893
I created separate entity (Vendor inheriting from Person) and exactly the self-class name of this entity must be in *_type column of polymorphic table.

Here is PR for this: https://github.com/rails/rails/pull/20963

[2015-07-21 08:15] tobypinder commented on #17738
This is fixed in #20722 21e05a0

[2015-07-21 09:58] pxlpnk opened #20964 "railties 3.2.22 pins rack-ssl to 1.3"
Because of this updating to a new version of rack-ssl is not possible. Which leaves a security vulnerability open.
Is there a special reason why this is pinned down to 1.3?
I would propose a PR if this will help.

CVE: http://cve.mitre.org/cgi-bin/cvename.cgi?name=2014-2538
ruby-adivsory-db: https://github.com/rubysec/ruby-advisory-db/blob/970b2377902c5d034a227c4d422ad691f95262e0/gems/rack-ssl/OSV

[2015-07-21 12:09] tobypinder commented on #20820
I see. I had assumed this was defined behaviour of `AR::Relation#build`, and so we've been using "current" scopes in our applications to allow users to create an object similar to the one they're currently "looking at" (taking the user-defined "WHERE" conditions of the index). I can tell you that the "undefined" behaviour works absolutely fine with strings too - SQL generates the `IN()` blocks as

[2015-07-21 12:17] philipgiuliani commented on #1769
Why a bug like this isn't fixed yet?

[2015-07-21 12:39] #17738 closed

[2015-07-21 14:12] rafaelfranca commented on #20964
The reason is just historical, there is no good reason but since Rails 3 is not supported anymore we are not going to change. However, when this security issue come out we worked with rack-ssl's maintainer and got the fix also in 1.3.4. See https://github.com/josh/rack-ssl/compare/v1.3.3...v1.3.4 and https://github.com/josh/rack-ssl/pull/34

[2015-07-21 14:12] #20964 closed

[2015-07-21 14:19] pxlpnk commented on #20964
thank you for the update.

[2015-07-21 14:27] Azzurrio opened #20968 "Restarting Rails console doesn't reload YAML files"
I've a YAML file inside my `config` app called `config/application.yml`. When I change any key inside this file and try to access the new value from Rails console using `ENV['my_key']`, I get the old value not the new one.

I've tried to `reload!` the console, type `exit` and relaunch it `rails c` but it doesn't change anything.

I tried to update the `ENV` manually using this line:
[code]
After t

[2015-07-21 14:33] morgoth commented on #20968
Probably spring process is not restarted. Try configuring it by https://github.com/rails/spring#watching-files-and-directories

[2015-07-21 14:50] fruqi commented on #18660
Kudos to @shunwen for the SO link. :+1:
Might be unrelated but this issue didn't occur to me until I upgrade Xcode to version 6.4

[2015-07-21 15:17] yahonda opened #20969 "NameError: instance variable @version not defined when tested with MySQL 5.7.7-rc"
Tested with MySQL  5.7.7-rc, `test_quoted_date_precision_for_gte_564` and `test_quoted_date_precision_for_lt_564` get errors. Here are steps to reproduce.

### Environment

- ruby 2.2.2
[code]
- MySQL 5.7.7.rc
[code]

- Rails master branch

### Steps to reproduce

- mysql adapter
[code]
- mysql adapter results
[code]
- mysql2 adapter
[code]
- mysql2 adapter results
[code]

### These errors do NOT

[2015-07-21 17:42] aeberlin opened #20970 "Time zone should default to system offset"
See below:
[code]

So, as we can see, time zone is correctly inferred with `Date.today`, but not with `Date.current`. That being said, this is a breakdown of expectations, IMO, as `Date.current` should always be _more accurate_ than `Date.today`. If a time zone is not configured, I believe the system time zone offset should be used as the default, and not UTC.

[2015-07-21 18:03] Stormcore opened #20971 "HStore is saved but rolls back after reload [Rails 4.2]"
Im using postgres and using HSTORE

In User model
    store_accessor :filter_options, :makes, :cities, :bodies, :detail_types, :engines, :transmissions

then I do
    self.filter_options = new_options

    self.save
=> true

=> {"makes"=>"[2]", "cities"=>"[1, 2, 3, 4, 5, 6, 7, 8]", "bodies"=>"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]", "engines"=>"[1, 2, 3, 4, 5, 6]", "detail_types"=>"[1, 2, 3, 4, 5, 6,

[2015-07-21 19:40] meinac commented on #20971
Can you please provide a script to reproduce the problem using [this](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) script.

[2015-07-21 21:51] prio101 commented on #19284
Hi,

I'd like to add you to my professional network on LinkedIn.

- mahabub islam

Confirm that you know mahabub islam: https://www.linkedin.com/e/v2?e=tl6a71-icdvl5iv-6x&amp;t=ssuw&amp;tracking=eml-guest-invite-cta&amp;ek=invite_guest&amp;sharedKey=mcO9dTUL&amp;invitationId=6029376769281265664

You received an invitation to connect. LinkedIn will use your email address to make suggestions to our

[2015-07-21 23:53] bytenel opened #20975 "Potential Time.zone.parse problem in Ruby 2.0.0p598 v 2.0.0p643"
So I am using Time.zone.now on a project using 2.0.0p598 Ruby with a team mate using 2.0.0p643. We think we may have seen a problem in Time.zone.now but we wanted to confirm. When using p643 the following gives a ArgumentOutOfRangeException:
[code]

But the same code in p598 does not throw an exception. Both are using Rails 4.1.0

[2015-07-21 23:54] #20975 closed

[2015-07-22 04:18] ccallebs commented on #20867
@yzhanginwa I was not able to duplicate your issue using the bug report template. Everything looks to be functioning as you expect.

https://gist.github.com/ccallebs/ea0802dbbcedb09984ea

[2015-07-22 07:56] Stormcore commented on #20971
Rogue after_initialize callback has invaded my model, problem solved

[2015-07-22 07:56] #20971 closed

[2015-07-22 09:50] sunjithc opened #20978 "How to run Gradle(android Studio) project in Eclipse LUNA"
I import the project but i can't know how to run the project..

![untitled](https://cloud.githubusercontent.com/assets/12294662/8822940/afd0a5fa-3086-11e5-9205-48d0b5a631dc.jpg)
![run](https://cloud.githubusercontent.com/assets/12294662/8822939/af972028-3086-11e5-85f4-2e291d3cfd5a.jpg)

[2015-07-22 10:24] kaspth commented on #20978
Don't see how this has anything to do with Rails. Good luck :)

[2015-07-22 10:24] #20978 closed

[2015-07-22 14:09] exsurgolabs opened #20979 "BigDecimal number_to_currency"
Have an issue using a float in the number_to_currency  method in ActionView::Helpers::NumberHelper

Because this method uses a float there is a loss in accuracy especially when using big numbers.

Would it be possible to have this method only use BigDecimals in order to keep accuracy.

Example code I'm working on is

    number_for_currency = BigDecimal.new('99999999999999700.0')
    return_value

[2015-07-22 14:22] workmaster2n opened #20980 "Postgresql Adapter Fails Silently if psql is not installed"
I was running `db:structure:load` but was not getting any of my database structure loaded.  I also was not getting any errors.

Digging through the source code, I came to this line (https://github.com/rails/rails/blob/master/activerecord/lib/active_record/tasks/postgresql_database_tasks.rb#L70):

` Kernel.system("psql -X -q -f #{Shellwords.escape(filename)} #{configuration['database']}")`

This li

[2015-07-22 16:37] amrit7 opened #20982 "Does Ruby On Rails Migrations Support ParAccel?"
http://guides.rubyonrails.org/v3.2.21/migrations.html

Does Ruby On Rails Migrations Support ParAccel?

Thanks

[2015-07-22 16:38] robin850 commented on #10900
It looks like this is not reproducible anymore on JRuby 1.7.21 and 9.0.0.0 so we can certainly close this, thanks for reporting!

[2015-07-22 16:38] #10900 closed

[2015-07-22 16:49] matthewd commented on #20982
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-07-22 16:49] #20982 closed

[2015-07-22 18:55] nateberkopec commented on #20980
Actually, `Kernel.system` will return false (and thus `structure_load`) will return false if the command exits with non-zero exit status.

Perhaps if `structure_load` returns false we should fail more loudly - this would also cover other "silent failures" other than just psql not being installed. Perhaps just output something to `$stderr`?

[2015-07-22 19:47] workmaster2n commented on #20980
Does it return `false` or `nil`? I was seeing `nil`, but that could be due to `pry`

[2015-07-22 19:50] matthewd commented on #20980
This is a duplicate of #17666 / #17885.

[2015-07-22 19:50] #20980 closed

[2015-07-22 22:58] maurogeorge commented on #20979
Hi @exsurgolabs thanks for the report.

Not sure if this is a Rails problem, I think it is a Ruby stuff. If you try:

[code]
As you can see it loss accuracy.

Rails [rounds the number to a `Fixnum` before send](https://github.com/rails/rails/blob/52cf1a71b393486435fab4386a8663b146608996/activesupport/lib/active_support/number_helper/number_to_rounded_converter.rb#L36) to the [`sprintf`](http://rub

[2015-07-23 00:06] mmontossi opened #20988 "ActiveRecord has_one associations not working after deserialization"
Is this the expected behavior? I couldn't find any reason in the documentation of this outcome and others associations like has_many and belongs_to are working properly.

I made this test case: https://gist.github.com/mmontossi/0e7210b727b2265c6d50

[2015-07-23 00:18] meinac commented on #20979
This is not a rails bug, I believe you are using ruby version under `2.1.1`, I've tested this with ruby versions `2.0.0`, `2.1.1` and `2.2.2` I could reproduce this bug with only ruby `2.0.0` try to upgrade your ruby version at least `2.1.1` and things will work as you expected.

[2015-07-23 01:11] twalpole opened #20990 "AC::Parameters no longer being a Hash has broken find_or_initialize_by"
Strong parameters can no longer be passed to find_or_initialize_by since it expects a Hash to be passed through to the find_by cal which errors with "Cannot visit ActionController::Parameters.

[2015-07-23 01:34] MRageh commented on #20990
@twalpole I am not sure but this commit may be relevant to this issue https://github.com/rails/rails/commit/68af63618223c238468af1afb093eb4ccc706761

[2015-07-23 03:50] dzader opened #20991 "Destroying has_many records raises error when it probably shouldn't"
Calling object.destroy results in destroy! being called on the has_many records which causes a ActiveRecord::RecordNotDestroyed exceptions to be raised if there is an error destroying the has_many record. Would be nice if that destroy call honored whether .destroy or .destroy! was called on the parent.

[2015-07-23 07:10] exsurgolabs commented on #20979
Yeah thank's for this, working in a corporate development environment so switching versions to check isn't easy. Had my suspicions about the ruby version however. Thanks for the replies

[2015-07-23 07:10] #20979 closed

[2015-07-23 09:00] jonatack commented on #20990
And #20945 / #20922.

I'm seeing various kinds of breakage from the AC::Parameters changes.

[2015-07-23 09:02] jurglic opened #20994 "ActiveRecord transaction mixes objects up after rollback"
Transaction rollback doesn't work correctly for duped objects. Somehow the start state of object is mixed with the original. Consequently the rollback leaves us with faulty objects which can lead to all sorts of errors...

This happens in Rails 4.1.12, 4.0.13, but it doesn't happen in 4.2.3.

Below is an example demoing the issue. Key thing is that we dupe an object inside a transaction, save dupe

[2015-07-23 10:13] himesh-r opened #20995 "Save many-to-many objects based on association primary key"
I have a scenario where I am using a primary key different than id.
[code]

So when I try to associate the two models in this way:

[code]

It gives me an error because, as per rails 'ids_writer' method, it checks for an object with id = 4, not considering my association primary_key. I guess it should be considering association primary_key.

[2015-07-23 11:00] xdmx opened #20998 "where.not doesn't work correctly with polymorphic columns"

[2015-07-23 11:14] xdmx commented on #16983
I confirm this under ruby 2.2.2 and rails 4.2.3

I have a Conversation with polymorphic associated records (User and Company):

[code]

From the log I see that the query is `("conversations"."entity_type" != 'User') AND ("conversations"."entity_id" != 1)` but it should be `("conversations"."entity_type" != 'User') OR ("conversations"."entity_id" != 1)`, this way it'd return the conversations 2 and

[2015-07-23 11:14] #20998 closed

[2015-07-23 11:15] xijo commented on #20799
@kaspth I updated the active job guide, please have a look at it.

BTW: I can't comment on the PR any more since it's limited to collaborators, which is why I'm writing you here instead.

[2015-07-23 11:21] meinac commented on #20988
This is working as expected in Rails versions `4.2.1`, `4.2.2` and `4.2.3`

[2015-07-23 15:17] jyotir1 opened #21001 "json installation error"
An error occurred while installing json (1.8.3), and Bundler cannot continue.Make sure that `gem install json -v '1.8.3'` succeeds before bundling.

how to fix this error can somebody help me??

[2015-07-23 17:26] mmontossi opened #21002 "ActiveRecord source plus inverse_of possibly broken in rails 4.2.x"
I notice you can't use source and inverse_of in rails 4.2 without explicitly telling class_name, this was working well in 4.1.

I made this test case: https://gist.github.com/mmontossi/c42ad1249de522e7bf68

[2015-07-23 18:23] olegantonyan opened #21004 "to_partial_path namespaced model - wrong path"
Rails 4.2.3
[code]

In this case when you use `render @user.profile` you get missing template because:
[code]
But templates related to users are stored in `users/`, not `user/`, so I expect templates for nested models there as well.

[2015-07-23 18:46] robin850 commented on #21001
It looks like you don't have the necessary headers to compile C extensions. You will need to install the the package that contains Ruby's headers if you are on Linux or DevKit if you're on Windows.

Also please don't ask such questions on this tracker ; it is for issues only. Stack Overflow or the rails-talk mailing list are better places for that, thanks!

[2015-07-23 18:46] #21001 closed

[2015-07-23 19:35] thedarkone opened #21006 "Under concurrent load Dependencies.interlock might miss file changes"
While helping @mperham in #20989 I realized that the current code (under concurrent load) is broken.

The problem arises if there are multiple threads in app space region of `Dependencies.interlock`, then an `.rb` file is changed. Next thread arrives at `ActionDispatch::Reloader` middleware, it invokes `reloaders` to check if any of the files have changed, and indeed there is a change, the thread

[2015-07-23 20:29] jakeonrails commented on #19256
:( I'm getting the same issue. I have successfully used `DATABASE_URL=xyz rails c` on a previous 3.x Rails project. But on Rails 4.1.8 it doesn't work.

[2015-07-23 20:30] jakeonrails commented on #19256
There's no spring or any application pre-loader involved. It just insists on connecting to the DB in `database.yml`

[2015-07-23 20:33] schneems commented on #19256
@jakeonrails you should be using 4.1.12 it's the latest. Can you post a small example application that exhibits the problem?

[2015-07-23 20:58] cristianbica commented on #19793
So the issue here is emails sent with `perform_later` are enqueued and executed with the internal class `ActionMailer::DeliveryJob`. So a user cannot use `rescue_from` to catch this kind of errors.
@rafaelfranca what do you think about making the job class used by AM configurable. So if anyone wants to customize something can configure another job (which inherits from `ActionMailer::DeliveryJob`)

[2015-07-23 22:26] zargold opened #21009 "Issue with rake db:create/setup connecting to rails config/database.yml"
See: http://stackoverflow.com/questions/31595245/rake-dbsetup-or-rake-dbcreate-applying-wrong-username-wrong-database for full details.

I am not sure whether this is my issue or a rake/rails integration issue, but when I do
`rake db:create` or `rake db:setup` I expect that it would create the db which is listed in the database.yml configuration file.

It does create that db in my postgres for the

[2015-07-24 00:16] matthewd commented on #21006
Yeah.. I was thinking of the `reload_classes_only_on_change=false` case, where polling would eventually work (and more importantly, a wait would be pointless: it would by definition unblock at the same moment that the "last" request finished).

Having reminded myself that we've actually been doing a reload at the *start* of requests for several years, I agree we should block; given the choice, it'

[2015-07-24 01:25] thenadz opened #21011 "wrap_parameters not including GET parameters"
Rails: 4.2.3 | Ruby: ruby 2.1.1p76 (2014-02-24 revision 45161) [x86_64-linux]

It really is as simple as the title suggests. According to the [documentation](http://api.rubyonrails.org/classes/ActionController/ParamsWrapper.html), `wrap_parameters` only applies to `POST` requests, so it's possible this is intended behavior, but it would seem that the functionality is just as applicable to `GET` pa

[2015-07-24 07:00] mayurkhatri commented on #21002
Hi @mmontossi.I ran you test case for rails 4.1.12 with ruby-2.2.2, got this error ActiveRecord::InverseOfAssociationNotFoundError: Could not find the inverse association for owners (:user in User).
For rails 4.2.3 with ruby-2.2.2, got the error : NameError: uninitialized constant Shop::Owner

[2015-07-24 07:13] jvanbaarsen commented on #21009
Did you set the RAILS_ENV in your env vars by accident? Since normally `rake db:create` does only try to create the database for the RAILS_ENV set in your `ENV` vars.

[2015-07-24 07:18] jvanbaarsen commented on #21011
@thenadz Since there is at least one testcase for a GET call, I think this is intended behaviour and the documentation needs to be updates.

[code]

@rafaelfranca What do you think?

[2015-07-24 07:21] jvanbaarsen commented on #20991
@dzader Can you provide a testcase in the bug report template? (See: https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb). That would be really helpful! :heart:

[2015-07-24 12:28] thenadz commented on #21011
@jvanbaarsen, thanks for the quick response, but if this functionality is intended to include `GET` params then my results indicate that this is not working.

My controller looks like this:
[code]

But the logs indicate that no wrapping occurs. Am I missing something? This matches what I'm doing in other controllers where `POST`ed JSON is the only concern.
[code]

[2015-07-24 13:41] zargold commented on #21009
Hi @jvanbaarsen thanks for the response I checked my ENV nothing about RAILS_ENV I do have a DATABASE_URL for a different project on Heroku, Just to make sure, I'm not supposed to have a RAILS_ENV?

[2015-07-24 14:42] sgrif commented on #21009
This doesn't look like a bug in Rails. We reserve the issues tracker only for bugs in the framework. For problems like this, Stack Overflow or the mailing lists are your best option.

[2015-07-24 14:42] #21009 closed

[2015-07-24 15:19] sgrif commented on #20991
Forgot to mention it in the commit message. This was fixed in https://github.com/rails/rails/commit/d937a1175f10586b892842348c1d6ecaa47aad2e. I consider this an ergonomic improvement, not a bug, so I will not be backporting this change to 4.x.

[2015-07-24 15:19] #20991 closed

[2015-07-24 15:26] sgrif commented on #21002
As per the guides, `inverse_of` is not supported on through associations. http://guides.rubyonrails.org/association_basics.html#bi-directional-associations

[2015-07-24 15:26] #21002 closed

[2015-07-24 16:06] al2o3cr commented on #20893
FWIW, @tedtoer - that patch is nearly identical to the one from [this ticket in 2008](https://rails.lighthouseapp.com/projects/8994/tickets/547-polymorphic-associations-sti-don-t-record-the-correct-model-type) that was closed as `wontfix`.

[2015-07-24 17:19] mmontossi commented on #21002
@mayurkhatri I have a very similar case in an app using 4.1.12 and it's not throwing an exception, either way, but I couldn't reduce the problem to a test case, so I was wrong about the this being working on 4.1.

[2015-07-24 17:20] mmontossi commented on #21002
@sgrif maybe would be better to make inverse_of do nothing if there is through or raise an exception instead of break?

[2015-07-24 17:21] mmontossi commented on #20988
Thanks @meinac I just updated the app to 4.2.3 and everything is working fine.

[2015-07-24 18:00] sgrif commented on #21002
Feel free to open a PR.

[2015-07-24 20:12] sim0nj opened #21017 "e record limit"

[2015-07-24 20:12] #21017 closed

[2015-07-24 22:17] earksiinni commented on #20510
I've run into this problem, as well. I've written a patch to fix this, but this is my first time working on the Rails codebase and I don't know what the protocol is for committing code. Should I post the patch here first before issuing a pull request...?

[2015-07-24 22:33] earksiinni commented on #20510
To add more detail, the problem is that the test app invokes `railties/lib/rails/tasks.rb`, which in turn loads `statistics.rake`, before the engine's `Rakefile` can load `statistics.rake`. The precedence doesn't have any bearing on the warning, because regardless of which call comes first the `STATS_DIRECTORIES` constant is attempting to be defined twice.

However, the precedence does make it tri

[2015-07-25 17:13] mjhoy commented on #21004
I believe this is the expected behavior. See the test case here:

https://github.com/rails/rails/blob/9caf2cbf268137113447ac8156b862b5d84063b5/activemodel/test/cases/conversion_test.rb#L47-L49

[2015-07-25 22:23] maclover7 opened #21028 "Update CONTRIBUTING.md"
Would it make sense to move the bulk of Rails' contributing guide to CONTRIBUTING.md? I think this would make getting started for beginners much easier.

Also, I think @sgrif mentioned this on The Bike Shed? :bike:

[2015-07-25 22:54] fxn commented on #21028
No, the file links to the guide.

Guides are our uniform place for docs, including release notes, guidelines, etc.

Someone willing to patch Rails should be able to follow a link.

[2015-07-25 22:54] #21028 closed

[2015-07-25 23:18] mlarraz opened #21029 "Custom ActiveModel validations can only be declared once"
If I define a custom validation method and try to set multiple callbacks for it (say, with different options), only the last one will take effect.

[code]

This is unlike built-in validations on attributes, which can be set repeatedly without clobbering each other.

In this example it's trivial to fix by combining the two conditions into a single lambda
[code]
but for more complex options this get

[2015-07-26 04:34] FlySnake commented on #21004
But why? I cannot imagine a reason except historical.

[2015-07-26 09:53] ch1na-d0ll commented on #17224
I'm having the same problem.

Using `rails 4.2.1` with this `movies/_movie.html.haml` view
[code]

The following `movies/index.html.haml` __does NOT work__ as documentation say
[code]

It raised the following error

    Missing partial movies/_#<Movie::ActiveRecord_Relation:0x007fdf31a1b720>

However, the following `movies/index.html.haml` __does work__
[code]

[2015-07-26 12:01] yahonda commented on #20969
Closed as fixed by #21030 and https://github.com/rails/rails/commit/430b7c8b518fc628f2647323ba2bbb8dbb6cdd35

[2015-07-26 12:01] #20969 closed

[2015-07-26 12:47] mjhoy commented on #21004
the general case is that you are namespacing by modules; the fact that `User` is also an active model class is incidental. see for instance how namespaces are used in this post: http://www.iain.nl/backends-in-rails-3-1

i agree in this case it's slightly unexpected and should maybe be documented a little better.

[2015-07-26 15:35] jackturnbull commented on #20666
@chancancode: What you propose in  https://github.com/rails/rails/issues/20666#issuecomment-116882771 seems like expected behaviour to me.

In Rails 4.2.3, if I have:
[code]
Then I get the 500-level `ActionView::MissingTemplate` error.

If you move that `respond_to :json` line from the application controller to the bottom of `#index` then it works as expected:
[code]
This also works when you use r

[2015-07-26 17:27] meinac opened #21032 "ActionController::Parameters#== does not works as expected"
`ActionController::Parameters#==` will return false even if the hash and AC::Parameters hash same because of the `HashWithIndifferentAccess`. But the documentation of `==` method says we can compare `ActionController::Parameters` with `Hash-Like` objects.
[code]
I believe this is not the bug about `ActionController::Parameters` this is about `HashWithIndifferentAccess`. I think we should implement

[2015-07-26 17:45] jvanbaarsen commented on #21011
I believe this is a PR that will fix the docs: https://github.com/rails/rails/pull/21031

[2015-07-26 19:35] bquorning opened #21034 "My PR was locked and seems to be ignored"
24 days ago, I opened https://github.com/rails/rails/pull/20757, changing some v4.2 related documentation that was incorrect due to a change in Rack.

I had a couple of coworkers give review my changes, after which @matthewd locked the PR (without explanation), and there has been no conversation on the PR since.

What’s the policy regarding locked conversations? How do I get it unlocked, or review

[2015-07-26 19:54] rafaelfranca commented on #21034
Sorry about that. We usually locks issues that have only +1 comments because they don't add anything to the discussion and just pings the contributors. We have limited time and resources and pings are usually annoying to us, so we tends to lock issues with many pings.

Your case just had two, but I believe Matthew locked to avoid that becoming a trend.

I just unlocked the PR and added to my revie

[2015-07-26 19:54] #21034 closed

[2015-07-27 01:49] jaredbeck commented on #20990
In case anyone is curious (I was) about why Parameters no longer inherits Hash, it's explained in this commit: https://github.com/rails/rails/commit/14a3bd520dd4bbf1247fd3e0071b59c02c115ce0

[2015-07-27 04:07] jeremywadsack commented on #17776
@magikid Pull Request opened to fix this but Travis doesn't want to re-try the build. Do you know what I need to do to kick it?

[2015-07-27 05:09] olegantonyan commented on #21004
Thanks @mjhoy , now I understand why it works this way.
I created a tiny gem to override this behaviour in my projects. Just in case someone else find it useful https://github.com/olegantonyan/partial_namespaceble

[2015-07-27 07:20] pixeltrix opened #21036 "Enqueuing jobs inside a job can lead to memory bloat"
On the [UK Parliament and Government petitions website](https://petition.parliament.uk) we're queuing up emails to be sent using a background job and `deliver_later` so that the email sending is not limited to one worker thread. Essentially the code looks somewhat like this:

[code]

The problem is that even though we are using `find_each`, because Active Job uses a single log subscriber for both

[2015-07-27 08:37] vmeyet commented on #12423
still not working in Rails `4.2.3`. Ping for updates?

That's kind of an annoying bug :cry:

[2015-07-27 12:21] tardate commented on #19228
@rafaelfranca just heard from someone else who ran into this problem. Maybe I should try for that P/R!

`.. since it is not causing wrong behavior` - not sure I agree with that. I'd call this a definite portability bug, especially when developing apps for deployment by third parties.

[2015-07-27 12:33] NielsKSchjoedt opened #21038 "update_all and update_columns does not work with not operator"
The following works:

[code]

However if using the `not` operator, then it throws an error:

[code]

Same goes for `update_columns`

I'm using rails 4.1.10. The column looks lige this in the schema: `number_of_doors integer DEFAULT 0,`

[2015-07-27 15:30] Illia- opened #21039 "No method Eror after eager_load usage"
[code]

Can someone explain why in results method "statuses_count" not existing after adding eager_load?
Thank you!

[2015-07-27 15:44] matthewd commented on #21039
As shown in [the example](http://api.rubyonrails.org/classes/ActiveRecord/QueryMethods.html#method-i-eager_load), `eager_load` works by constructing a left join... and therefore needs to build its own `select` to reassemble the parts from the various objects that are getting squished together. As we don't parse the user-provided `select`, there isn't much we can do to bring it along.

I think your

[2015-07-27 16:13] pixeltrix commented on #20970
It's not that no default timezone is configured it's just the default timezone is UTC. This is so that there's consistency between running your app locally and on the server - if we defaulted to using the system timezone then there could be discrepancies between your development environment and the server depending on how each was configured.

Since this setting is in a prominent place in `config/

[2015-07-27 16:13] #20970 closed

[2015-07-27 16:19] rafaelfranca commented on #21039
I'm closing since as @matthewd explained we needs to change the `select`. But feel free to comment here if you think there is something possible to do. Thank you for the report

[2015-07-27 16:19] #21039 closed

[2015-07-27 17:52] pixeltrix commented on #20968
@Azzurrio Rails doesn't have built-in support for a application.yml file and so wouldn't know to reload in response to a `reload!` command in the console. Either you must be building something yourself or using a plugin so I'd recommend using standard support channels like Stack Overflow, mailing lists, etc. as we keep the issue tracker just for bugs in Rails.

[2015-07-27 17:52] #20968 closed

[2015-07-27 18:00] masciugo opened #21041 "Can't set HABTM association: Validation failed: Left side must exist"
I am using rails 5, cloned today from master. It seems I cannot update habtm association in very basic examples. I have 2 models:

    class User < ActiveRecord::Base
      has_and_belongs_to_many :projects
    end

    class Project < ActiveRecord::Base
      has_and_belongs_to_many :users
    end

I always got `ActiveRecord::RecordInvalid: Validation failed: Left side must exist` whenever I try

[2015-07-27 18:06] ThatsNinja opened #21042 "Rails 4.2.2: limit being removed during db:migrate when limit and array are both specified on an integer field"
I'm attempting to uplift an existing project to Rails <~ 4.2.0. This project relies upon Postgres, and I'm attempting to store 64-bit integers in an array.

When using the following in a migration:
`t.integer  :intfield, array: true, :limit => 8`

This is generated in the resulting *schema.rb*:
`t.integer  "intfield",                                          array: true`

The limit is being lost i

[2015-07-27 18:27] #20878 closed

[2015-07-27 18:29] masciugo commented on #21041
Creating a purchase with some player ids gives me instead a different error but I guess correlated. It seem as it wrongly infers the join table name which exists as `player_purchases` and it works (i.e. I can retrieve purchase with associated players) when manually populated:

    irb(main):013:0> Player.all
      Player Load (0.3ms)  SELECT `players`.* FROM `players`
    => #<ActiveRecord::Relati

[2015-07-27 18:49] rafaelfranca commented on #21038
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-07-27 18:55] Altareq commented on #20514
I think this is a bug and should be reopened.

That is what the documentation says:

`create_association(attributes = {})`
*Returns a new object of the associated type that has been instantiated with attributes, linked to this object through a foreign key, and that has already been saved (if it passed the validation).*

However what is happing on `Rails.version => "4.2.2"`, it deletes an existing

[2015-07-27 18:56] rafaelfranca commented on #21036
I'd say:

1. No
2. No

I can't see any good reason to share the same subscriber.

[2015-07-27 19:07] pixeltrix commented on #20894
@loicteixeira the blank spaces in the routes output doesn't mean ditto (the name from above), it means that the route doesn't have a path helper because there is already a path helper for that path. The HTTP method has no bearing when generating a path so whenever you use `profile_path` you're using the one defined by the `create` route.

There is a reason they're in the order that they are - the

[2015-07-27 19:07] #20894 closed

[2015-07-27 19:16] meinac commented on #21029
I think overriding is what we want because If you want to change the logic of the `:if` option of a callback which inherited from a superclass then you have to override it.

[2015-07-27 19:40] rafaelfranca commented on #21029
Exactly. This is also the same behavior of callbacks

[2015-07-27 19:40] #21029 closed

[2015-07-27 19:55] #21011 closed

[2015-07-27 20:13] pixeltrix commented on #20680
@ryan2johnson9 closing this because it seems like Devise is involved in some way and we haven't heard anything for four weeks - if you have any more information please post it and I'll have a look.

[2015-07-27 20:13] #20680 closed

[2015-07-27 20:31] pixeltrix commented on #20707
Closing this as it's the intended behaviour.

@coryosborn the change was made in a non-security patch release where we do fix bugs - if we didn't then there wouldn't be much point of releasing them! It's always a tricky trade-off when merging these changes which is why our policy is for security updates to only include the relevant changes so that you can apply them when they come out with the con

[2015-07-27 20:31] #20707 closed

[2015-07-27 20:33] rafaelfranca commented on #21032
:+1:

[2015-07-27 20:36] pixeltrix commented on #20891
Sorry, there's no way to do what you want as the engines routes are independent of the application's routes and can't intermingle unless you define your engine routes on the application's routes and don't use `mount`.

[2015-07-27 20:36] #20891 closed

[2015-07-27 20:37] rafaelfranca commented on #21042
Should be fixed now at 4-2-stable branch.

[2015-07-27 20:37] #21042 closed

[2015-07-27 22:53] ThomasAlxDmy commented on #9894
@rafaelfranca Do you realize the bug has been open for 2 years and it's still not fixed? WOW...

[2015-07-27 23:58] PhilCoggins opened #21044 "disable_ddl_transaction! is a misleading name"
[`disable_ddl_transaction!`](https://github.com/rails/rails/blob/v4.2.3/activerecord/lib/active_record/migration.rb#L424) is used in AR migrations to prevent your migration from being wrapped in a transaction. The name is misleading because *your entire migration* will have transactions disabled, not just for DDL SQL statements.

If I have a migration that contains a mixture of DDL and DML SQL, an

[2015-07-28 01:32] brocktimus commented on #9894
@ThomasAlxDmy its OSS, feel free to open a PR with a fix. Comments like that really aren't helpful.

@rafaelfranca @senny since this has been behaviour for all of the 4.x series is it worth reconsidering what intended behaviour should be given 5 is on the horizon? Possibly more people relying on this behaviour now than not. I'm not sure.

[2015-07-28 01:34] ThomasAlxDmy commented on #9894
@brocktimus Sorry don't want my name associated with rails ;)

[2015-07-28 01:47] repinel commented on #21038
With this script it passes for `4.1.10` and `master` https://gist.github.com/repinel/b1f3a60afaca27f0f7fe

@NielsKSchjoedt Could you check it to see if it's covering your case?

[2015-07-28 06:19] MitchellGeere opened #21046 "Super weird pluralization and singularization inflections"
I found the strangest thing today.  I put together a little [library](https://github.com/Daybear/grammarize) to help myself with some grammatical inflections and part of that required me to add the plural / singular combinations of the pronouns.

I added them as irregulars because it is what makes sense. However I have two that are misbehaving:

[code]

What happens is I happen to have two models

[2015-07-28 07:36] geminiyellow commented on #10091
@simi sorry sir, i don't know why, but `hightcharts` still `error #16`.

i dont know why. i use `Rails 4.2.1` and webpack.
i use `webpack`, install `highcharts` from `npm`, then pack it into `app/assets/javascripts/client`.
and finally use `#=require highcharts.bundle` in `application.js`
when i start the application, alway `#16`. production mode is ok. just in development mode.

change `developme

[2015-07-28 08:33] pixeltrix commented on #21046
In a application using `irregular` is the recommend way of making sure the pluralization is correct, e.g from the comments for `ActiveSupport::Inflector::Inflections`:

[code]

However since you're writing a library and a user may call `clear` I would use a different stack of rules like you have for `gender` and `person` - that way you can have much more control over what happens and when.

[2015-07-28 08:33] #21046 closed

[2015-07-28 08:44] dhh commented on #9894
Too late. Your entitlement to the free labor of others is now a permanent marker in the annals of Rails.

[2015-07-28 08:47] masciugo commented on #21041
I added another test which shows something interesting:

    test "assign habtm by params" do
      paul = User.new(name: 'paul', project_ids: Project.ids)
      paul.save
      assert_equal 2, john.projects.count
    end

and the output:

      5) Error:
    UserTest#test_assign_habtm_by_params:
    NoMethodError: undefined method `users_projects' for #<User id: nil, name: "paul", created_at: nil

[2015-07-28 09:36] pixeltrix commented on #21041
I've created a single file test that seems to pass on master:

[code]

can you see what's the difference in your application that's causing yours to fail?

[2015-07-28 10:01] prio101 commented on #19284
mahabub islam prio would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/blink?simpleRedirect=d3oSdjoOcjwOejoTdzsPej8MdzR4imVLqnhxt6BSrCACj5lkp3BfoSQZumlbp6lOomxP9DhUpnhvt71BoSdxfndQ9CZOpmwZrioPfmBI9z4MnT9Bp6VFrmlOnThPpnlDnThPsCBCfmJB9ClQqnpKimtBkClOs3Rx9CENbjpAd35RrmdFbj4TojpIt3RBfP9SbSkLrmZzbCVFp6lHrCBIbDtTtOYLeDdMt7hE&msgID=I6029376831189196800_500&

[2015-07-28 10:27] kaspth commented on #19284
Closed this to prevent more LinkedIn spam.

[2015-07-28 14:19] masciugo commented on #21041
@pixeltrix  your script works for me too, but my very basic [example app](https://github.com/masciugo/test_habtm) still fails. The only difference I see is that it was created with the --api switch, so I also tried without it but same errors. I did very very few steps to build it from scratch so I don't really know where I got wrong. Sorry If I can't provide more than a dummy test app.

[2015-07-28 15:42] jeremywadsack commented on #17776
I think matthewd fixes the travis issue by closing and re-opening the PR. Travis has run and passed all tests, so that PR is ready for review/test/merge.

[2015-07-28 17:08] ThomasAlxDmy commented on #9894
@dhh lmao When did I say I was using rails? Was just trying to help a friend, I dropped rails/AR years ago mostly because of that kind of issues ;)

[2015-07-28 17:55] lsgpimentel commented on #21041
I'm still receiving the same error, as describe in this SO topic: http://stackoverflow.com/questions/31279978/activerecordrecordinvalid-validation-failed-left-side-must-exist

[2015-07-28 17:59] akihiro17 commented on #20473
@rafaelfranca @vipulnsward

Any progress on this issue?

I think the cause for this issue would be that ``` Arel::Visitors::ToSql ``` does not accept TrueClass, while it accepts Fixnum and Bignum.

[Arel::Visitors::ToSql#756](https://github.com/rails/arel/blob/master/lib/arel/visitors/to_sql.rb#L756)
[code]

[Arel::Visitors::ToSql#729](https://github.com/rails/arel/blob/master/lib/arel/visitors/to

[2015-07-28 18:09] dhh commented on #9894
Your friend is most welcome to join the community and help device a solution to their issue, if they can do so without your obnoxious entitlement.

Please do be on your merry way to whatever community you've found that has either no issues or is willing to tolerate your attitude about them.

[2015-07-28 18:20] ThomasAlxDmy commented on #9894
@dhh You're over reacting my friend, I'm just pointing out true facts. and that's it. There ain't no bad intention. We all have issues but there's way different ways to tackle them. I was reading an interesting article about why is rails community slowly dying (small comparison with node -- which I'm not fan of personally) http://www.google.com/trends/explore?hl=en-US#q=%22ruby+on+rails%22,+/m/0bb

[2015-07-28 18:39] dhh commented on #9894
Your "true facts" are as laughable as your claim of "ally". Rails is at this point a massive system with an incredibly strong, diligent, and ever-expanding community of users and contributors working on improving it.

But there will always be bugs, and this particular bug just wasn't important enough to summon any effort to its fix. Ipso facto.

Rails is not a vendor that owes you, or your friend,

[2015-07-28 18:46] rafaelfranca commented on #9894
Since we are discussing tends, these are interesting number about what you are complaining here http://issuestats.com/github/rails/rails. I think these numbers speak by their self.

Yes, I'm aware that this issue is open for 2 years. In fact I'm aware of all the issues on the issue tracker. But my time is limited, my interest too and I try to focus my time on the things that most interest me, beca

[2015-07-28 18:49] rafaelfranca commented on #9894
@brocktimus indeed, this is something that we can just change on Rails 5. The issue is assigned to me, we already have some patches, @sgrif already touched this code too, so I believe we will get it fixed in time to Rails 5.

[2015-07-28 18:56] pixeltrix commented on #21041
Okay, I've worked out why there's a difference - it's because of the option `belongs_to_required_by_default`. Changing this from true to false makes the tests work, however I'm not sure why the `require: true` option on the `belongs_to` associations for the join model are failing because both models do exist. I'll keep digging.

[2015-07-28 19:05] ThomasAlxDmy commented on #9894
@dhh Actually I don't think you're right. Because now I got your full attention, then people will come watch to see what's happening, and that issue will be work on again. Awareness is the key.

`Do you realize the bug has been open for 2 years and it's still not fixed?`

IS a true fact, and if you want to laugh about it, feel free but then I really wonder what kind of leader you are for "Your com

[2015-07-28 19:14] rafaelfranca commented on #9894
In my experience that is not what happens. In fact this issue is an outlier, for the reasons that I already explained. So even with awareness the fix is still not trivial and I doubt it will be fixed.

[2015-07-28 19:30] jarmo commented on #9894
@ThomasAlxDmy I love statistics. Check this out https://www.google.com/trends/explore?hl=en-US#q=rails%2C%20%2Fm%2F0bbxf89&cmpt=q&tz=Etc%2FGMT-3

[2015-07-28 19:48] marvindanig opened #21051 "Getting an odd output with rake db:migrate on rails 4.2.3 / postgres"
I'm on rails 4.2.3 with ruby 2.2.2p95 (2015-04-13 revision 50295) on my machine. I'm in middle of  upgrading rails for my project. Everything has worked so far except for this strange out out I get at the end of migrations:

[code]

I'm able to get rid of it by setting `config.log_level = :info` from :debug in the development mode (and not getting it on production mode similarly.) but I thought th

[2015-07-28 20:01] pixeltrix commented on #21041
Hmm, looks like the one of the `belongs_to` associations on the constructed join model isn't pointing to the right column so is seen as nil. Previously this wasn't a problem but since we require `belongs_to` associations by default now it blows up. The easy fix is just to put `optional: true` on the `:left_side` association when it's constructed but I think we can do better than that :smile:

[2015-07-28 20:38] al2o3cr commented on #21051
This appears to be output from `db:schema:dump`, as it's pulling foreign key metadata with the query from here:

https://github.com/rails/rails/blob/v4.2.3/activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb#L491

I'm not clear what the "issue" here is; SQL that has been executed by the process is appearing in the log. Can you explain further what needs to be solved

[2015-07-28 20:47] marvindanig commented on #21051
Probably the output of `db:schema:dump` shouldn't come when we run the migrations with `db:migrate`.

This [question on stackoverflow](http://stackoverflow.com/questions/28955822/odd-rake-dbmigrate-output) has some discussion on it too.

[2015-07-28 21:52] al2o3cr commented on #21051
If the `db:schema:dump` is undesired, take a look at the `dump_schema_after_migration` for a way to switch it off.

The followup comment on SO indicates this is an issue with a 3rd party (Codeship) matching specific output from `rake db:migrate`. That's not a generally recommended practice with *anything*, for exactly reasons like this. Ideally they'd check the exit code of `rake db:migrate` to ve

[2015-07-28 22:31] atul-shimpi commented on #21032
Yes,
HashWithIndifferent will convert symbol keys to string and comparing string and symbol will return false.
hash = { foo: :bar } will get converted to Params {"foo"=>:bar} and  foo: == "foo" wil return false.

[2015-07-28 22:41] atul-shimpi commented on #20777
Looks same as #21032.
Root cause is same.

[2015-07-28 22:47] joemsak commented on #9894
You left out the `WOW...` part of your quote, dude, which was kind of the finer end of your shitty point

[2015-07-28 22:47] rafaelfranca commented on #20777
Could you check the master branch. I believe this issue is fixed there

[2015-07-28 22:55] ThomasAlxDmy commented on #9894
@joemsak stay polite please ;). And Yes WOW to express how surprise I was, did not bring much in the conversation. Instead of trolling feel free to leave constructive comment and show that you're a grown man.

To come back to what Rafael said, in my humble opinion having bug is one things, not documenting and letting them hide into the code is another one.

[2015-07-28 22:58] joemsak commented on #9894
You've made an excellent point about leaving constructive comments.

[2015-07-28 23:00] rafaelfranca commented on #9894
If we document a bug it is not a bug anymore but a feature :smile:. Like I said this bug will die, when we think it is time.

[2015-07-28 23:07] ThomasAlxDmy commented on #9894
😂😂 That's an extreme way of seeing things but why not...

[2015-07-28 23:43] rafaelfranca commented on #21051
The output of `db:schema:dump` should be there if it was called (and it is unless `dump_schema_after_migration` is set to false), so there is no issue here. Thank you for the report.

[2015-07-28 23:43] #21051 closed

[2015-07-28 23:50] mperham commented on #15843
Warning: use at your own risk.  Monkeypatching is never a great idea, especially a private method.  Put this in `config/initializers/session_store.rb`:

[code]

[2015-07-28 23:56] CaseyLeask commented on #9894
Please leave these wonderful people alone. Myself and many others appreciate their work.

[2015-07-29 00:28] marvindanig commented on #21051
Why does db:schema:dump come in the picture when the only command I'm typing on my terminal is:

Is this `rake command` also supposed to run `rake db:schema:dump`? I do not think this was the behavior in rails before. Apologies, I'm not so much of an experienced developer yet.

[2015-07-29 00:36] rafaelfranca commented on #21051
Because `rake db:schema:dump` runs after `db:migrate` unless you set `dump_schema_after_migration` to `false`. And yes, this was always the behavior.

[2015-07-29 00:42] marvindanig commented on #21051
👍🏽

[2015-07-29 00:42] shakycode commented on #9894
Seriously, this guy has become a troll himself. The issue will be fixed when it's fixed. The Rails core team along with the entire community is constantly working on both features and bugs which amazes me.  Personally, I'm grateful for all of their hard work and sacrifice for the betterment of the framework.

If people want to bitch and whine about a long standing "bug" then perhaps they should qu

[2015-07-29 01:38] prusswan commented on #9894
Certainly, this is just one of many issues with AR (the other one which comes to mind being rails/rails#9813 which can be "solved" by upgrading, which is not always a practical solution)

I don't even recall the reason why I subscribed to this, but over time I learnt to be more defensive against the very framework itself (especially functionality that is obscure or only used by a minority).

[2015-07-29 01:42] brocktimus commented on #9894
@rafaelfranca good to hear. Doesn't worry me too much since I just found it when playing with pre release stuff.

@prusswan if ever I'm like "I wonder what happens when I..." and I think the behaviour is a bit edge case-y I'll just write a test around the "broader" task I'm trying to accomplish. Caught a few bugs in similar cases where I've been relying upon edge cases which have changed during an

[2015-07-29 07:47] masciugo commented on #21041
👍

[2015-07-29 09:03] duttski opened #21053 "threading error when using `ActiveRecord with_connection do` (Puma)"
First off, apologies if this is the wrong place or just a mistake on my part. I'm pretty new to this world of Rails, so any help directing this better would be really appreciated.

Ref: http://stackoverflow.com/questions/31535545/postgresql-threading-error-when-using-activerecord-with-connection-do-puma

I have a controller set up with `ActionController::Live` and the following GET request (reduce

[2015-07-29 10:44] odedniv commented on #20777
Unfortunately I get this error when trying to use `master` branch (it seems to be versioned `5.0.0`):

[code]

Tried branch `4-2-stable` and had the same problem mentioned in the description of the issue (not the bundler issue).

[2015-07-29 13:35] ancyabraham opened #21055 "Exception Backburner::Job::JobTimeout -> ActiveJob::QueueAdapters::BackburnerAdapter::JobWrapper hit 119s timeout."
How can we set timeout per job when using activejob. I have a global config file for backburner.
Backburner.configure do |config|
    config.beanstalk_url    = ["beanstalk://127.0.0.1"]
    config.tube_namespace   = "mysite.development"
    config.on_error         = lambda { |e| puts e }
    config.max_job_retries  = 3
    config.retry_delay      = 5
    config.default_priority = 65536
    config.

[2015-07-29 14:28] kaspth commented on #21055
.Please use the Ruby on Rails talk mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks :heart:

[2015-07-29 14:28] #21055 closed

[2015-07-29 16:09] schneems commented on #18878
Here's a potential implementation https://github.com/rails/rails/pull/21012

[2015-07-29 17:00] dfyx commented on #20676
@dmitry not entirely correct as I see it. I have a very similar problem though I create my associations with `build`. For me the order I get in my log file (as far as I can tell from the SQL statements) is the following:

* validate parent
* insert parent
* validate child
* insert child

That looks correct at first glance but there is a problem. Under some circumstances (I can't exactly tell you w

[2015-07-29 17:05] dfyx opened #21058 "Autosaving associations ignores validate: false"
Assume I have the following code:

[code]

In this case `validate: false` only skips the validation for `parent` but still runs the validations on `child`. When any validation on `child` fails, only `parent` gets saved into the database whiche `child` gets thrown away.

[2015-07-29 18:07] dhh commented on #18878
I think that's a clever quick hack, but the goal here is that the user
should never need to go to rake for Rails commands. So don't like telling
them that calling "rails command" is wrong, and that we're doing them a
special favor by running rake for them.

Also, calling out to system sounds like it might be way slow. But maybe
it's not if we have spring loaded?

On Wed, Jul 29, 2015 at 6:10 PM, R

[2015-07-29 18:09] atul-shimpi commented on #20777
@rafaelfranca
Tested in master branch. Working as expected.
Below is the output of rake test
========================================
No params
{}
{}
nil
nil
ActiveSupport::HashWithIndifferentAccess
String params
{"foo"=>"123"}
{"foo"=>"123"}
"123"
"123"
ActiveSupport::HashWithIndifferentAccess
Symbol params
{"foo"=>"123"}
{"foo"=>"123"}
"123"
"123"
ActiveSupport::HashWithIndifferentAccess
.

Fini

[2015-07-29 18:10] atul-shimpi commented on #20777
@odedniv
May i know your steps?

[2015-07-29 18:36] schneems commented on #18878
It's not all that slow on my machine, though I didn't do any kind of benchmarks. It's definitely faster than waiting on the whole command to fail and then manually re-typing in your rake command. I've got spring perma disabled in my `.bashrc` for rails dev work, though that would help most rails devs. Since we've already got the rake tasks in memory we could manually use `Rake::Task#invoke` if you

[2015-07-29 19:34] dhh commented on #18878
I like "rails db --help" for section lists, but I don't think we need to be
piping the docs via rake. We can just move over all the documentation and
expand upon it. The whole rake setup should be deprecated (regardless of
whether that's what we use on the backend to execute some rails commands).

I like --verbose and --trace both. Should work both for commands we
delegate to rake and others.

On

[2015-07-29 19:38] dmitry commented on #20676
@dfyx what version of rails do you have?

[2015-07-29 21:35] dfyx commented on #20676
Not sure why @dmitry removed his comment but to answer it: I first encountered this on 4.2.1 and it still persisted after I updated the app to 4.2.3.

The thing is, I'm creating a pretty large hierarchy of objects at once (with some of them having associations to existing objects as well) and it only happens under some obscure circumstances that I don't really understand so it's pretty hard to ext

[2015-07-29 22:06] odedniv commented on #20777
@atul-shimpi, I wasn't able to use rails master in my project, I could only try out 4.2. If it works for you on master I guess master is good. You can try switching to 4-2-stable branch and get my results.

Do you close the issue in this case? Can it be fixed for 4.2?

[2015-07-29 22:31] Zhomart opened #21060 "Rails 4.2: how to generate source maps?"
Whe I was using `rails 4.1.7` it generated source maps in `./public/assets/source_maps/...`.

[2015-07-30 00:59] cseelus opened #21064 "Unnecessary/faulty downcase on record inside has_one, has_many restrict_with_error control structure"
Inside the [has_one_association.rb](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/has_one_association.rb#L14) and [has_many_association.rb](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/has_many_association.rb#L18) occurs a seemingly unnecessary (also untested) downcasing on the associated class' `human_attribute_nam

[2015-07-30 03:46] micahlmartin commented on #11415
@dwbutler That fixed it for me. I was still experiencing the issue in `4.2.3`.

[2015-07-30 04:04] YonasBerhe opened #21066 "Net::SMTPSyntaxError (501 Sender syntax err$ Heroku"
Random issue with my ruby on rails application out of the blue. I'm getting a 501 error each time a user tries to submit the form. This error does not occur when I'm running the app locally, it only occurs when I push to Heroku.

Net::SMTPSyntaxError (501 Sender syntax err$│
                  app/controllers/contact_controller.rb:38:$

    def tour_create
    @message = Message.new(params[:message

[2015-07-30 06:58] ballPointPenguin opened #21067 "undefined method `helper_method' for ActionController::API:Class (NoMethodError)"
I encountered this with a new Rails 5 api only application using devise.
It seems to have been addressed in the rails_api project once before:
https://github.com/rails-api/rails-api/pull/10
https://github.com/rails-api/rails-api/issues/6

[2015-07-30 08:45] lukehorvat opened #21068 "Can't redirect to the same URL with a forward-slash appended"
I have the following static redirect in my `routes.rb` (Rails 4.2.3):

[code]

Basically, I want `/app` to always append a forward-slash to the URL. But it doesn't seem to do work; Rails simply doesn't perform a redirect when visiting `/app`.

However, if I specify some *other* path to redirect from, it works!

[code]

In this case, Rails successfully redirects `/ui` to `/app/`.

Quite strange. Ha

[2015-07-30 09:02] Micka33 opened #21070 "How to define a Primary or Shard key for the schema_migrations table ?"
I tried to post [my issue on stackoverflow](http://stackoverflow.com/questions/31701980/ruby-on-rails-with-memsql-table-schema-migrations-must-either-have-a-primary), but it doesn't seems to attract much attention. So I'm trying here, hoping to get answers from experts :D .

I want exactly what the title of this issue says:
 **`to define a Primary or Shard key for the schema_migrations table`**

T

[2015-07-30 09:10] quentindemetz commented on #20700
I'm running into this sporadically as well.

[2015-07-30 09:31] lukehorvat commented on #21068
Ah. I have a file at `public/app/index.html`. It looks like that file is served when `/app` (without the forward-slash`) is requested, overriding the redirect.

Still, is there any way I can get the redirect working? Basically, `public/app/index.html` references some scripts and stylesheets using relative paths. At `/app/`, the relative paths works fine; at `/app`, they are all screwed up. :/

[2015-07-30 10:59] dmitry commented on #20676
@dfyx I found what rails version you are using through the https://github.com/rails/rails/issues/21058 :)

As I remember, I had an issue with children records, when they are created through the autosave (nested attributes) along with the parent record (rails 4.1.x) I had a problem. For me it was not really important validation, because it should never be invalid, so the database check for my case

[2015-07-30 12:20] duttski commented on #21053
To clarify, I have this happening without Redis; by simply holding open the connection:
class StreamingController < ApplicationController

    include ActionController::Live
    def events
      response.headers["Content-Type"] = "text/event-stream"
      sse = SSE.new(response.stream)

      data = Task.all.first
      sse.write( {:data => data.caption} , {:event => :version_heartbeat})

      Ac

[2015-07-30 13:18] duttski commented on #21053
Take 2... So I tried it with MySQL rather than PostgreSQL. This time the server survives the error (presumably MySQL lib is a bit more resilient the PostgreSQL). However it looks to me that this error message is the same root as the `message type 0x44 arrived from server while idle`.

    F, [2015-07-30T14:12:07.078215 #15606] FATAL -- :
    ActiveRecord::StatementInvalid (Mysql2::Error: This conn

[2015-07-30 13:55] dhiachou opened #21072 "[edge guides] [Security guide] Inaccurate information about session CookieStore"
It is said on the guide that the session is stored as a clear text encoded with Base64. The correct information is that since Rails4 (edge) session is encrypted with "secret_key_base" defined in config/secrets.yml . Thus it is no longer possible for user to read or modify the content of cookies.

# Original text is :

[2015-07-30 13:59] atul-shimpi commented on #20777
@rafaelfranca
What do u suggestion ? Should this integrated in 4.2 ?
I am working on for 2 years. However, started contributing just 1 week back. So would like to be active here.

[2015-07-30 14:23] dhiachou opened #21073 "[edge guides] [Active Job Basics] Unclear information about queueing a job with args"
I believe that the section " 3.2 Enqueue the Job " misses information about how to pass arguments to the job. I assume the mentioned "record" is a passed argument to the perform method. It would be clearer to mention it.

## Original text :

[2015-07-30 14:25] dimitko commented on #18714
@mlangenberg I have exactly your scenario -- I need to start streaming back a file which is being downloaded off of S3 the moment when I get the first chunk of it.

I realize this is slightly lazy -- but could you please provide a fully working example of the above?

(1) Start downloading a file off of S3;
(2) When you get the first chunk, start iterating and feed back the chunks as they arrive;
(

[2015-07-30 14:26] embedMaster commented on #21073
Please edit this to make the quoted text unformatted as it is just a code and not a markdown. My browser didn't allow me to edit.

[2015-07-30 14:55] jamesprior commented on #20110
FWIW I also ran into this and found it a surprise.  It was not a big fix, I had `state_id_changed? == false` which I prefer for readability.  I changed it to `!state_id_changed?`which I find less readable.

[2015-07-30 18:59] davidbalbert commented on #19835
@zachallaun and I were working on a related bug and did some poking around before we ran into this issue. I believe this came from a change to sprockets-rails and isn't related to Sprockets 3: We've confirmed that `config.assets.cache_store` has no effect with sprockets 2.12.4 and sprockets-rails 2.3.2 (the latest sprockets-rails as of this writing). The sprocket-rails README also contains an exam

[2015-07-30 19:02] atul-shimpi commented on #21068
As i understaood, when u send localhost:3000/app you are directed to index.html.
Can u send me your routes.rb file.
I tried to reproduce this with Rails 4.2.3, Its giving below error

==============================
No route matches [GET] "/app"

Rails.root: /home/ashimpi/projects/my_profile
Application Trace | Framework Trace | Full Trace

Routes

Routes match in priority from top to bottom

You d

[2015-07-30 20:36] michielboekhoff commented on #20729
I'm not able to replicate this behaviour with Rails 5.0.0.alpha using jQuery 1.11.2 and 2.1.3 (through jquery-rails). Rails correctly sets the Content-Length header to be 0, in accordance with the RFC. In addition, it also sets the Content-Type header and jQuery (again, as per the RFC) correctly handles this.

[2015-07-30 23:11] pixeltrix commented on #21068
Currently Rails doesn't distinguish between routes with or without a trailing slash - they are treated as the same route. Therefore the redirect to `/app/` in your routes file is matched by the route itself. If you remove the route and have Apache/nginx serve the `/app` path then they will handle the redirect to the path with the trailing slash.

[2015-07-30 23:11] #21068 closed

[2015-07-31 02:07] demsullivan commented on #9940
I'm not seeing this issue happen in Rails 4.2.1 - even with `Accept: application/json, text/javascript, */*` Rails will respond with JSON.

However, when using CORS, it breaks.

Starting from a plain Rails project, I have the following in my `ApplicationController`:
[code]

And in my `ProductsController`:

[code]

Issuing `$.ajax('/products')` from `http://localhost:3000/` sends `Accept: */*` and

[2015-07-31 02:52] apux opened #21078 "Can ruby 2.2 be used in a Rails 4.0 project?"
Hi.

I'm working with a Rails 4.0.13 project and Ruby 2.1.6. I tried to update Ruby to 2.2.2 but I got an error when trying to run my tests because of the minitest/unit file.

I also tried to add `minitest`, `minitest-rails`, and `test-unit` gems to the project but the error remains.

I created a vanilla project (with a scaffold) to show this behaviour.

https://github.com/apux/railsminitest

The

[2015-07-31 07:15] no1stunna opened #21079 "Change method with valid arguments gives ArgumentError: invalid date"
date = DateTime.now
    => Fri, 31 Jul 2015 11:11:22 +0400
    irb(main):002:0> date.change(month: 2)
    ArgumentError: invalid date

Can somebody explain what is happening there?

**Update:  I'm so sorry, It's just not 31 days in each month.**

[2015-07-31 07:16] LTe commented on #9940
Hi @demsullivan! I think issue only appear when you make **non-ajax** HTTP request (like API does) with application/json accept header.

[2015-07-31 07:18] #21079 closed

[2015-07-31 07:30] jarthod commented on #13135
Yep still present, no easy way to work with raw body in 4.2

[2015-07-31 12:34] jomo opened #21080 "Add a way to change a column's method name"
Currently it seems to be impossible to have a database column named `attribute` because it is a method defined by ActiveRecord and throws `ActiveRecord::DangerousAttributeError`.

It would be nice to have a way to change a column's method name, where the method's name can be different from the column's name. For example:

[code]

[code]

[2015-07-31 13:30] al2o3cr commented on #21080
FWIW, there's the `safe_attributes` [gem](https://github.com/bjones/safe_attributes) that does this for most things. In your particular case, there are still difficulties (from the `README`):
[code]

[2015-07-31 13:32] aravindgd opened #21081 "how to pass custom keys to the has_one and has_many relationships"
I searched the docs and found that I cannot pass custom options to the relationship definitions. For example:
[code]
 I want it so that I can do a reflect_on_all_associations and find that custom key to do run my own custom code.

[2015-07-31 13:44] senny commented on #20449
You can put [this patch](https://github.com/rails/rails/blob/30c9aa7883b5363ce3f50aa010a4245a418bca29/activerecord/lib/active_record/validations/absence.rb) into your `config/initializers` and surround it with:

[code]

[2015-07-31 14:36] thomasfedb commented on #20449
Hey @senny, I'm well aware have to monkey patch Rails, but I wondered if it was worth submitting a patch for the 4.2 branch?

[2015-07-31 14:40] vaharoni opened #21082 "habtm associations: `other_ids` method is not memoized unless `other_ids=` is called"
[code]

This is particularly an issue inside a view:
[code]
Unless the `other_ids=` workaround is used, the code will result in one query per course, because @student.course_ids never gets memoized, and it is called one time per course in `#collection_check_boxes`.

[2015-07-31 14:43] senny commented on #20449
I'd rather not backport this change. The current behavior has been around for a long time and we didn't get any bug report feedback until this one. It might very well be that some applications now rely on the old behavior. Patch level releases should be a breeze to upgrade so I'll keep this patch for `5.0`. Hope that makes sense.

[2015-07-31 15:00] thomasfedb commented on #20449
Yeah, that's understandable. Cheers.

[2015-07-31 15:44] yivo commented on #16085
Still buggy on Rails 4.2.3

[code]

Create new record and assign association:
[code]
SQL:
[code]
This works as expected.

Fetch persisted record and assign association:
[code]
SQL:
[code]
This does not work as expected.
Examine the query:
[code]
The column `profession_id` is not updating...

[2015-07-31 16:17] rafaelfranca commented on #21078
I tested your vanilla project and it worked with both Ruby 2.1 and Ruby 2.2. It seems to be something wrong with your Ruby installation.

Thank you for the detailed report.

[2015-07-31 16:17] #21078 closed

[2015-07-31 16:19] shakycode commented on #21078
I also tested with Ruby 2.1.1 and Ruby 2.2.2 and had no problem FYI

[2015-07-31 17:17] apux commented on #21078
I just tested it in a new virtual machine and it seems to work. Now I have to check my local enviroment.
I'm sorry guys for wasting your time.
Thank you for the quickly answer.

[2015-07-31 17:55] rafaelfranca commented on #21080
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-07-31 17:55] #21080 closed

[2015-07-31 19:36] mrj opened #21083 "The RDoc for scopes in association declarations wrongly includes examples with non-owner parameters"
The second parameter of an association declaration can be a callable scope, which either takes no parameter or takes the [assocation's owner object](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations.rb#L516) as a parameter.

However for each association type, the documentation gives an example of a scope with a non-owner parameter: [belongs_to](https://github.c

[2015-07-31 20:14] astupka commented on #20586
:+1: The require: false added to guard-rspec fixed this issue for me.
```gem 'guard-rspec', require: false```

https://github.com/guard/guard-rspec#install

[2015-07-31 20:21] jstin opened #21084 "ActiveRecord borken for arel tables"
We make use of `Model.arel_table` to eager load some of our more complex queries. This is now broken with active record 4.2.3. The commit in question is (https://github.com/rails/rails/commit/c99bea1df015eeff4764e2d886de90620ab9fb67)

Here is a simplified test of what is going on. In particular the line
[code]

[code]

The method causing this to fail is `ActiveRecord::PredicateBuilder.self.can_be_

[2015-07-31 20:21] mmuszynski opened #21085 "Documentation on default params through routes is unclear"
http://guides.rubyonrails.org/routing.html#defining-defaults

It appears that defaults can only be overridden when they are part of the route. See this issue on Stack Overflow:

http://stackoverflow.com/questions/31748306/overriding-default-parameters-in-ruby-on-rails-with-url-query-strings/31749247#31749247

If this is the desired case, can we get a clear mention of it on the documentation page?

[2015-07-31 20:38] rafaelfranca commented on #21084
cc @sgrif

[2015-08-01 14:25] djpowers commented on #19154
I came across the "Caching with Rails" guide and had the same question.

Out of curiosity, is there a distinction between this guide being in "draft" form, and other guides listed on the index with the "Work in progress" banner?

It seems that it would be helpful to have this and others listed on the root page to help with discoverability, even if they are not in a completed state.

[2015-08-01 14:29] FlowerWrong commented on #19154
+1

[2015-08-01 20:59] eileencodes commented on #21082
Thanks for the report @vaharoni - does this happen on HM:T associations or just HABTM associations?

Can you create a runnable script that reproduces this bug using this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-08-01 23:49] sgringwe opened #21090 "Illegal Instruction in active_support to_json call"
Rails 4.2.3. I am getting consistent but not replicatable yet crashes when calling to_json. This is crashing ruby itself, but the code causing the crash is in Active support and active record so I figured I'd post it here first. The error seems to end on string.rb in all cases. The most common case is this below, and happens dozens of times a day (1 per 2500 requests or so).

[code]
which all happ

[2015-08-02 00:08] sgrif commented on #21084
Arel is a private internal implementation detail, not public API. This doesn't fall under supported usage. Can you give an example of a use case that `where('"test_parents"."id" = "test_children"."test_parent_id")')` doesn't handle here?

[2015-08-02 00:51] meinac commented on #21082
This happens for all type of collection associations.

[2015-08-02 09:23] yivo opened #21096 "Saving has_many through should insert/update foreign key"
From https://github.com/rails/rails/issues/16085

Still buggy on Rails 4.2.3

[code]

Create new record and assign association:
[code]
SQL:
[code]
This works as expected.

Create record, save and then assign association:
[code]
SQL:
[code]
This does not work as expected.
Examine the query:
[code]
The column `profession_id` is not inserting...

[2015-08-02 11:21] atul-shimpi opened #21099 "css are not picked up"
Rails - '4.2.3'
===============================
1] I have defined some global cascading styles in application.css and some controller specific styles in some other files in the same level as application.css. eg i have some styles in work.css. However, only styles in applicatin.css are picked up.
2] If i remove those css from application.css  and put them in sepeare file say global.css then both gl

[2015-08-02 11:25] arunagw commented on #21099
Do you have `require_self` in your application css file? Read more here http://guides.rubyonrails.org/asset_pipeline.html

[2015-08-02 12:07] atul-shimpi commented on #21099
require_self is inserted by rails generator when we create a new project.
No need to add in manually.
=========================================================
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin

[2015-08-02 19:21] os97673 opened #21102 "it is impossible to use custom reporter for minitest"
minitest_plugin.rb explicitly modifies Minitest.extensions (https://github.com/rails/rails/blob/master/railties/lib/rails/test_unit/minitest_plugin.rb#L51) and so Minitest doesn't try to load any other extension and (as result) it is impossible to use custom reporter with rails :(
Unfortunately I have no idea why the line was added and so I have no chance to create a PR to fix the problem.

[2015-08-02 19:57] meinac commented on #21099
@atul-shimpi I couldn't reproduce the bug with `Rails 4.2.3`. Could you provide an example application which demonstrates the bug?

[2015-08-02 21:47] zenspider commented on #21102
You don't need to know the "why"s in order to send in PRs.

[2015-08-02 21:53] atul-shimpi commented on #21099
Env
----------------------------------------------
Rails 4.2.3
Ruby 2.2.0
Platform :  Ubuntu 12.04.4 LTS 64 bit
---------------------------------------------------
Steps
1] Create a new rails application
2] Add controller named home with method index. Set this as root path in routes.rb
root 'home#index'.
Define a view for this action.
3] Add below css at top of applicaton.css (above require***)
bo

[2015-08-02 23:13] meinac commented on #21099
Thanks for these steps, now I know how to create an example rails application!

They should be put only below require***.

You have to give this information in description of the issue.
@rafaelfranca WDYT about this?

[2015-08-02 23:17] rafaelfranca commented on #21099
It is the know behavior. Css is a cascading language and the later
definitions take precedence over all before.

On Sun, Aug 2, 2015, 20:13 Mehmet Emin İNAÇ <notifications@github.com>
wrote:

[2015-08-02 23:19] rafaelfranca commented on #21099
In fact the behavior is defined by the place where require_self is called, but the order order that the css is defined

[2015-08-02 23:19] #21099 closed

[2015-08-02 23:22] atul-shimpi commented on #21099
The application.css has some very useful information. If we also inlcude this that will be useful. I had to spent almost an half day to figure this out.

[2015-08-02 23:22] atul-shimpi commented on #21099
Otherwise people will raise this issue again and again in the future.

[2015-08-02 23:50] meinac commented on #21099
@atul-shimpi If you think this is information will help others, you can always create a pull request.

[2015-08-03 00:31] atul-shimpi commented on #21099
Hey, thanks for pointing out that. Will do it.

[2015-08-03 01:28] lukehorvat commented on #21068
I ended up using the [rack-rewrite](https://github.com/jtrupiano/rack-rewrite) gem to solve this.

[code]

[2015-08-03 02:39] ryan2johnson9 commented on #20680
I've been away and busy and unsure of how to upload a sample application - know of any tutorials on how to do this? Anyway, when/if I get more time and motivation I'll look into it more and add a comment here.

[2015-08-03 05:14] os97673 commented on #21102
Ok, I've created a one-liner for the problem.

[2015-08-03 06:47] senny commented on #19154
Work in progress guides have been reviewed by a member of the documentation team. The contained information is accurate and the wording fits our guidelines. A "draft" is basically just a document that someone started working on. They are in the same directory to make it easier to collaborate but often times it's a single person who started working on a new guide and hasn't had the time to finish i

[2015-08-03 10:21] pixeltrix commented on #20680
@ryan2johnson9 we have some templates for creating self-contained single file reproduction scripts - see [the guide][1] for details. Alternatively create a simple application using `rails new` and then publish it to a GitHub repo and post the url here.

[1]: http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-a-self-contained-gist-for-active-record-and-action-controller-issues

[2015-08-03 10:27] pixeltrix commented on #21085
This is for security reasons - otherwise url hacking could override the defaults. I'll look at adding a note to the guides.

[2015-08-03 10:51] #21085 closed

[2015-08-03 11:01] pixeltrix commented on #21067
@jmbejar @spastorino I guess we now remember why the compatibility module was added (ref: fd2508522c341c3f708219b5fc1834f24caf04e3) - do we want to add it back in?

[2015-08-03 11:15] pixeltrix commented on #21090
@sgringwe I suspect this may be a bug in ruby that has been fixed in the 2.2.1 or 2.2.2 patch releases - any chance you can upgrade so that we can rule that out. If it's not that then it must be related to the data being encoded - any chance of seeing what that is when you get the crash?

[2015-08-03 11:22] pixeltrix commented on #21066
Hi @YonasBerhe

This issue tracker is for tracking bugs and changes to Rails - please use one support channels available for help with your application (e.g. [Stack Overflow][1]). However if your code sample is correct I suggest changing `default from: "string"` to a valid email address might be a good start.

[1]: http://stackoverflow.com/questions/tagged/ruby-on-rails

[2015-08-03 11:22] #21066 closed

[2015-08-03 12:11] dfyx commented on #20676
I've found a (really hacky) workaround. I abuse the `if` proc to assign the foreign key.

[code]

Now everything works as expected.

[2015-08-03 13:40] robin850 commented on #20680
@ryan2johnson9 : I may be wrong but since you're running on Rubinius, you're maybe hitting rubinius/rubinius#3363.

[2015-08-03 13:56] pixeltrix commented on #20680
@robin850 I didn't see that this was on Rubinius, however I don't think we're using kwargs in that bit of the code yet especially on 4-2-stable.as we're still meant to be 1.9.3 compatible. I suspect that it is Rubinius at fault though so good catch.

[2015-08-03 14:34] pixeltrix commented on #21036
@rafaelfranca turns out that this behaviour [is explicitly tested for][1]. The test was added in rails/activejob@6eb163a - @cristianbica was this an explicit change that was requested by someone?

[1]: https://github.com/rails/rails/blob/bc3956c/activejob/test/cases/logging_test.rb#L89-L99

[2015-08-03 14:39] cristianbica commented on #21036
In the initial implementation the tags weren't nested. This is the original PR that contained that commit https://github.com/rails/activejob/pull/61

[2015-08-03 14:41] cristianbica commented on #21036
See comment https://github.com/rails/activejob/pull/61#issuecomment-44421759

[2015-08-03 14:51] dmitry commented on #20676
Looks like an issue somewhere in stale / invert in `Autosave` module.

[2015-08-03 14:51] cristianbica commented on #21036
I'm not aware of what's the architecture of LogSubscriber but I will take a look. I'm not sure if having two subscribers will fix any other similar edge cases.

[2015-08-03 15:09] pixeltrix commented on #21036
@cristianbica the way that the `Subscriber` class works is that any events that happen inside a parent event are added to an array of child events. I could see how this is useful but then we also don't want to add 100,000 elements to that array either. If we want to keep this behaviour we should point out the possibility of high memory usage in the guide so that other people don't have the same pr

[2015-08-03 15:59] repinel commented on #21073
@embedMaster Would you care to create a PR?

[2015-08-03 16:12] yahonda opened #21107 "MySQL 5.7.8 requires database user password for 'rails'@'localhost' user"
Installed MySQL 5.7.8 then tried to create rails@localhost user for ActiveRecord unit testing then it gets this error.

[code]

* Steps to reproduce

[code]

[code]

* Workaround is setting /etc/my.conf using `validate-password = off`

[code]

It would be introduced by this change.

http://dev.mysql.com/doc/relnotes/mysql/5.7/en/news-5-7-8.html

[code]
I do not know what is the better way for Acti

[2015-08-03 16:18] yahonda opened #21108 "MySQL 5.7.8 Mysql::Error: SELECT command denied to user 'rails'@'localhost' for table 'session_variables': SHOW VARIABLES WHERE Variable_name = 'character_set_client' (ActiveRecord::StatementInvalid)"
Once #21107 workaround implemented, `rake test_mysql` shows this error when tested with MySQL 5.7.8

[code]

It is easy to reproduce as follows.

[code]

* Workaround is setting `show_compatibility_56 = on` in /etc/my.cnf and restart mysql server.

[2015-08-03 17:18] jstin commented on #21084
The issue comes from a more complex query using `eager_load`. I tried to use the equivalent of `where('"test_parents"."id" = "test_children"."test_parent_id"')` for our actual query (`where('"warehouse_mtrs"."line_number"="sales_order_line_items"."line_number"')`), and it does not build the correct SQL. Here is the relevant difference:

[code]

[code]

The difference being `"warehouse_mtrs"."line_

[2015-08-03 18:32] rafaelfranca commented on #21084
It always was. When that post was written Sean had no idea that the Rails Core considered Arel private API since its introduction for the framework. In fact, we never made that clean besides for some posts in our internal mailing list.

I was going to close the issue because of that exactly reason but I had the same problem in my application (which I choose to not use arel anymore) and maybe @sgri

[2015-08-03 18:32] #21084 closed

[2015-08-03 18:44] jstin commented on #21084
Perhaps then `ActiveRecord::Core.arel_table` should be a private method?

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/core.rb#L240
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/core.rb#L267

[2015-08-03 18:47] rafaelfranca commented on #21084
It is. A private API method (see the `:nodoc:`), but it needs to have public visibility for internal use.

[2015-08-03 18:52] cristianbica commented on #21036
@pixeltrix but by using two log subscribers one for enqueuing and one for performing like you did here https://github.com/alphagov/e-petitions/pull/359 fixes the problem, right?

[2015-08-03 18:58] jstin commented on #21084
ok I see that now, thanks. Looks like i missed that :nodoc addition in the 4.1 release.

[2015-08-03 19:13] #21102 closed

[2015-08-03 19:52] eiked opened #21111 "improve error message for relations missing in includes"
I'd like to suggest an improvement for the error messages.

I deleted a relation from my model but it was still referenced in an includes clause.

So I got an error message like:
'Association named 'label' was not found on Disk; perhaps you misspelled it?'
and it was not really obvious where this came from.

I believe the error message can be improved.
This obviously comes from a part of rails tha

[2015-08-03 21:04] sgrif commented on #21084
For the record, I think this is a legitimate use case, but I'd rather figure out a good public API to handle this, rather than supporting reaching into internals.

[2015-08-03 21:31] djpowers commented on #19154
Thanks for the explanation! Good timing with the example, as it was merged in shortly after you commented. :+1:

[2015-08-03 23:47] manlon opened #21113 "ActiveRecord looks in wrong DB for HABTM join table"
I am upgrading a rails app to v 4.2.3 (from 3.2.x). The app has two independent sets of models that are stored in different databases -- ActiveRecord::Base.connection is configured in the normal way, and the secondary set of models descend from another "base" class, along the lines of:

[code]
Certain operations involving the HABTM association fail with `ActiveRecord::StatementInvalid: Could not f

[2015-08-04 00:32] repinel commented on #21081
Can you just rely on the name of the association for that model? Would you care to share a case?

[2015-08-04 01:19] matthewd commented on #21081
I don't think we're likely to add this; to access the value again, you'd need to be going through the at-best "semi-published" reflection APIs.

However: we prefer to reserve the issue tracker for issues; please use the rails-core mailing list to propose new features. Alternatively, if it's not too complex to implement, a pull request would give us something more concrete to discuss.

[2015-08-04 01:19] #21081 closed

[2015-08-04 01:48] YonasBerhe opened #21115 "Net::SMTPSyntaxError (501 Sender syntax err$ Heroku Please Help"
Random issue with my ruby on rails application out of the blue. I'm getting a 501 error each time a user tries to submit the form. This error does not occur when I'm running the app locally, it only occurs when I push to Heroku.

Net::SMTPSyntaxError (501 Sender syntax err$│
                  app/controllers/contact_controller.rb:38:$

    def tour_create
    @message = Message.new(params[:message

[2015-08-04 01:53] matthewd commented on #21115
https://github.com/rails/rails/issues/21066#issuecomment-127199634

[2015-08-04 01:53] #21115 closed

[2015-08-04 01:59] YonasBerhe commented on #21066
Email hidden due to privacy. Please help http://stackoverflow.com/questions/31708541/netsmtpsyntaxerror-501-sender-syntax-err-heroku

[2015-08-04 02:18] davidbalbert opened #21116 "PostgreSQL tsrange type does not go through time zone conversion on load"
The PostgreSQL `tsrange` type is a range of `timestamp without time zone` types (the backing type for Active Record `datetime` columns). When a `tsrange` is loaded from the database, the begin and end attributes of the `Range` are instances of `Time` and in UTC, rather than `ActiveSupport::TimeWithZone` in `Time.zone`.

Assume a table called `sessions` with a `duration` column of type `tsrange` an

[2015-08-04 03:59] bennylin77 opened #21117 "nested attributes validation on updating"
I have two models 'Product' and 'ProductBoxing', product has many product_boxings.
[code]

[code]

For some reasons, I create both product and product_boxing without validation first. After that, I want to validate both on updating. The validation works for 'Product', but not for 'ProductBoxing'.

Are there any problem in my code? or it is a rails issue?

BTW,  I remove validation option  "on: :up

[2015-08-04 04:24] mgodwin commented on #21044
:+1: I agree.

I also find it misleading because you're not disabling *all* transactions for the duration of the entire migration, just that the migration as *a whole* is wrapped in a transaction.  (You can still start up transactions/ddl transactions on your own).  The [rails guides](http://guides.rubyonrails.org/active_record_migrations.html) and the [rdoc](http://api.rubyonrails.org/classes/Act

[2015-08-04 06:58] pixeltrix commented on #21036
@cristianbica yes, that fixes the problem but will break the nested job test if I make the change in Active Job so just trying to work out whether the behaviour is intentional or just a consequence of the original implementation being a single log subscriber.

[2015-08-04 07:01] bennylin77 commented on #21117
I found a new situation, if quantity has been filled, the validations of quantity works.

[2015-08-04 07:16] cristianbica commented on #21036
I think the nested logging is a nice to have rather than a mandatory
feature. Behavior is intentional as requested by dhh. But I think we should
drop nested logging to fix the memory issue. @dhh wdyt?
On Tue 4 Aug 2015 at 09:58 Andrew White <notifications@github.com> wrote:

[2015-08-04 09:58] #20799 closed

[2015-08-04 12:42] eagletmt opened #21119 "Encoding::UndefinedConversionError with actionpack 4.2.x"
I found Rails 4.2.x with Rack 1.6.x raises `Encoding::UndefinedConversionError` when the uploaded file has multibyte UTF-8 filename with "%" character.
I added a failing spec for it: https://github.com/eagletmt/rails/commit/b5ae1be2cd1aef2f6ed7a53a4684c6b7eb35304f .

The error is raised from here https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/http/upload.rb#L31 .
Rai

[2015-08-04 12:43] embedMaster commented on #21073
@repinel  I will do that ASAP

[2015-08-04 13:35] pixeltrix commented on #21113
This will be because `has_and_belongs_to_many` has been re-implemented using `has_many :through` and Active Record now creates a nested class for that association which will use the default connection.

As a temporary workaround until this is fixed you should be able to reopen the generated class after the `has_and_belongs_to_many` call and add the custom connection code there. I'm not sure whethe

[2015-08-04 13:43] PierreVannier opened #21121 "[edge guides] 5.2 Read order"
4th code exerpt is :
[code]

whereas it probably could be :
[code]

[2015-08-04 13:50] kaspth commented on #21121
Nice catch! Do you want to send us a pull request? :smile:

[2015-08-04 13:50] repinel opened #21122 "AS::Callbacks unreachable code"
After #17227 introduced a [default callback terminator](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/callbacks.rb#L525) to take care of halt conditions, it seems that [conditional](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/callbacks.rb#L281) and [simple](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/call

[2015-08-04 14:12] pixeltrix commented on #21070
Does adding one using the `version` column make it work?

[2015-08-04 14:36] pixeltrix commented on #21064
Hmm, this is a tricky one - in the English language we differentiate between nouns and proper nouns and only the latter have a capital letter but in German all nouns are capitalized so it isn't just as simple as removing the `downcase`.

[2015-08-04 15:10] sgringwe commented on #21090
Hi @pixeltrix - unfortunately after upgrading to 2.2.2 the issue is still present. i'll do my best to try and print out the json being encoded.

[2015-08-04 17:00] manlon commented on #21113
I have worked around this so far by creating dummy classes for the join tables and using explicitly named `has_many :through` assocs. It's a bit onerous but mostly works w/o schema changes if you don't touch the intermediate associations.

What is a sensible way to get a handle on the generated class as you suggest? From what I can tell the generated name is a bit funny.

[2015-08-04 17:35] brodock opened #21126 "timestamp schema migration on postgres doesn't include timezone"
I've come to a very interesting problem that we could do better to prevent others from having the same issue, related to how rails create "timestamp" fields on PostgreSQL.

Standard migrations will generate a "timestamp without timezone" field, which should be fine for any non database vendor specific use-cases (rails simple queries).

The problem is that if you want to use timezone conversions li

[2015-08-04 18:25] sgringwe commented on #21090
@pixeltrix I have some example JSON from some errors but it contains some private data that might take  a while to strip out. Is there any information you could add about what type of characters could cause this, or what type of encoding that is expected?

[2015-08-04 19:00] al2o3cr commented on #21083
@mrj - The `has_one` example appears to have Ruby code-ish text inside a SQL literal. Wat.

[2015-08-04 21:31] mrj commented on #21083
Ha, didn't notice that before.

[2015-08-04 23:40] rafaelfranca commented on #21060
Thank you for the report. Rails doesn't support source maps yet, I think it was related to one of your plugins or gems

[2015-08-04 23:40] #21060 closed

[2015-08-05 04:41] chancancode commented on #21090
Do you happen to know the type of object being encoded?

[2015-08-05 05:37] rafaelfranca commented on #21119
I think it is a Rails bug. We are expecting it to always be UTF-8 but it is not the case. It was introduce in https://github.com/rails/rails/commit/90f0cdc906fcec77937363c87cba45f3802ac858.

In fact for rack seems that filenames are always ASCII-8BIT https://github.com/rack/rack/blob/1.6.4/lib/rack/multipart/parser.rb#L186.

@eagletmt could you work in a fix for it?

[2015-08-05 06:00] adamwohlberg opened #21127 "has_and_belongs_to_many :through"
Isn't "has_and_belongs_to_many :through" a valid association type?

The Types of Associations section lists 6 association types:
belongs_to
has_one
has_many
has_many :through
has_one :through
has_and_belongs_to_many

Shouldn't there be a seventh, "has_and_belongs_to_many :through" ?

[2015-08-05 06:03] aditya-kapoor commented on #21127
what kind of relationship you want to model using `has_and_belongs_to_many` through?
`has_and_belongs_to_many` and `has_many :through` itself are sufficient to model any kind of Many to many relationship.

[2015-08-05 06:04] FlowerWrong commented on #21127
Nope, maybe you need `has_many :through`.

[2015-08-05 06:06] #21127 closed

[2015-08-05 07:05] kumarsunil opened #21128 "has_many allow to define singular and plural both cases for a same model witout giving any other information"
class user
 has_many :comments
 has_many :comment
end

class comment
  belongs_to :user
end

foreign key in comment table is (user_id)

[2015-08-05 07:10] sevenseacat commented on #21128
Is this a request for a new feature, to allow the `has_many :comment` to work? I don't think it will be accepted.

[2015-08-05 10:19] carlosbutler opened #21130 "Pluralize - negative values incorrectly always plural"
I believe that with negative values, pluralize should differentiate between '-1' and '-2 or less'.

[code]

Quick fix is to use absolute
[code]
... but this is cumbersome.

[2015-08-05 11:30] eagletmt commented on #21119
@rafaelfranca I proposed  #21131 .

[2015-08-05 13:10] robin850 commented on #21130
Hi @carlosbutler,

Actually the Active Support's inflector is kind of frozen ; we avoid as much as possible changes to it to avoid breaking applications during upgrade. Also, it looks like there's [no real consensus](http://english.stackexchange.com/a/10471) on whether the plural or singular should be used with "-1"/"- 1". Ultimately, this also depends on the language so you should better rely on

[2015-08-05 13:10] #21130 closed

[2015-08-05 13:15] pixeltrix commented on #21113
@manlon the name is a bit funny but consistent - [this][1] is the code that generates the name of the class and then it's nested inside the model, e.g:

[code]

This should work - you won't be able to inherit from your abstract class as the superclass is already defined. Actually, that gives me an idea on how to fix it - we could detect whether the LHS model descends from an abstract AR::Base subc

[2015-08-05 13:55] pixeltrix commented on #21128
@kumarsunil this issue tracker is for dealing with bugs and pull requests only - feature requests should be discussed on the [mailing list][1] first before someone implementing them and submitting a PR.

[1]: https://groups.google.com/forum/#!forum/rubyonrails-core

[2015-08-05 13:55] #21128 closed

[2015-08-05 13:55] designcrumble commented on #17030
I have just started using it and I have the following error while starting the server
![image](https://cloud.githubusercontent.com/assets/10060986/9087357/c484702c-3ba7-11e5-8d3f-994470590dd6.png)

[2015-08-05 15:10] smeade commented on #21038
Can confirm also passes with Car and attributes posted by @NielsKSchjoedt. https://gist.github.com/smeade/555a13b4d2fee9d6fccf

@NielsKSchjoedt: That error is raised when `limit:` is < 8 for postgresql migrations (https://gist.github.com/rails/rails/blob/4-1-stable/activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb#L478). But it's expected that you would see it duri

[2015-08-05 16:14] sgrif commented on #21113
I think that HABTM is a helpful time saver, but we don't need to add lots of options to cover edge cases. Most likely this is a case that can "just work", but if that isn't the case, I'd say that just having to drop to `has_many :through` is fine here.

[2015-08-05 16:22] stephankaag commented on #21113
Isn't the fix as easy as this?

https://github.com/stephankaag/rails/commit/296faa94d4a777676555b6732beb538bea41a8ef

[2015-08-05 16:24] sgrif commented on #21113
No clue. Run the tests and open a PR.

[2015-08-05 17:44] stephankaag commented on #21113
Is that something you can do @manlon?

[2015-08-05 19:37] #18875 closed

[2015-08-05 20:14] Alric commented on #20340
I was able to reproduce using the sample app.

It always works fine if you fully qualify the class, i.e., use A::B to refer to, but I get your point that it seems you shouldn't have to here – especially as the B class and B module are in separate, isolated engines.

And it never works in dev if you leave eager_load false. So I guess the question here is what is different between the eager load beh

[2015-08-05 20:34] matthewd commented on #20340
http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#when-constants-aren-t-missed

[2015-08-05 20:34] #20340 closed

[2015-08-06 06:30] mfazekas opened #21136 "complex css cause sanitize to take forever"
[code]
[full test](https://gist.github.com/mfazekas/197b133755e8d21a1317)

see also https://github.com/rails/rails-html-sanitizer/issues/41

[code]
works around the issue for us

[2015-08-06 09:04] NobodysNightmare opened #21139 "ActiveRecord truncates :datetime columns"
## Reproduction

* Store a value in a table with the following schema:

[code]

* Use MySQL as backend (probably others too, but don't use PostgreSQL; see below)
    * MySQL version has to be [at least 5.6.4 for fractional second support](http://dev.mysql.com/doc/refman/5.6/en/fractional-seconds.html)

## Expected

* The created column has a specified subsecond precision (4 decimal places)
* When

[2015-08-06 09:09] mtczerwinski opened #21140 "checking migrations before rails server runs"
Hi,

What do you think about a simple feature? It will be checking for migration before rails server runs. If there are migrations which wait for migrating, it can migrate it automatically. I think, it would be a big delay.

[2015-08-06 09:32] matthewd commented on #21139
You didn't mention which version you're seeing this behaviour on. I've carefully avoided getting too deep into the whole MySQL + timestamps thing, but I *think* this sounds like what #20732 claims to fix.

[2015-08-06 09:48] pixeltrix commented on #21113
@stephankaag not sure that will work in all cases - what about STI for example where the superclass is a model in itself. Restricting it to this seems safer:

[code]

@sgrif this is a regression though so we should fix it, but I'm fine with no extra options being added. Forcing someone to drop down to HMT would require them to perform migrations to add a id column to their join tables - something

[2015-08-06 10:04] palkan commented on #21116
I've proposed a patch [here](https://github.com/rails/rails/pull/21142).

And here is a slightly updated [test case](https://gist.github.com/palkan/707f4f7c8827fa75c4db) (run with `PATCH=1` env var to use patched Rails).

[2015-08-06 10:25] NobodysNightmare commented on #21139
Hey, thanks for the quick response. Admittedly the issue occurs for a rather old Rails 3.2.x and I did not verify it on Rails 4.x. I just assumed it would still be present because I could see the afforementioned `:db` format string on the `master` branch.

I will verify if the problem is present on a recent Rails version and close this ticket in that case.

[2015-08-06 14:03] NobodysNightmare commented on #21139
Works on Rails 4.2 :)

[2015-08-06 14:03] #21139 closed

[2015-08-06 14:30] Micka33 commented on #21070
The orignal SQL of the schema_migrations table is:

[code]
it gives the following error:
[code]
When add a primary key the following way, it works fine.
[code]

Tell me, if you need more informations.

[2015-08-06 16:13] espen commented on #18376
I know Rails 3.x is only for security patches but just wanted to say that I'm still seeing this problem with the 3-2-stable branch.

Another strange thing is that while I have this problem locally I cannot reproduce this problem in production on Heroku. Using Ruby 2.2.2. Using 2.1.6 works.

I also tried changing to reflection() as in https://github.com/rails/rails/commit/e88da370f190cabd1e9750c5b3