[2015-02-02 19:45] sgrif commented on #18633
I think it could be reasonable to perform the stale state comparison in `stale_target?`, even if `inversed` is true.

[2015-02-02 19:46] sgrif commented on #15225
Thanks

[2015-02-02 19:46] #15225 closed

[2015-02-02 20:00] GCorbel commented on #18633
So we have to change those lines
https://github.com/rails/rails/blob/1d6bb77636aeec734079f63e1c14429b34e79ed9/activerecord/lib/active_record/associations/association.rb#L75-L77 by

      def stale_target?
        loaded? && @stale_state != stale_state
      end

I think it's reasonble. Please, let me do the pull request. I will be happy to do a commit for Rails!

[2015-02-02 20:12] sgrif commented on #18633
Well the inversed check is still there for a reason. I'd expect it to be something more along the lines of: `(inversed? || loaded?) && @stale_state != stale_state`. I'd play around with it, and see if the tests pass. You should also make sure you look at the commit which originally added the `!inversed` check there to make sure we aren't missing something from the original intention, and that we h

[2015-02-02 20:22] kevgathuku opened #18787 "bigint column type being parsed as regular integer in sqlite3"
I am trying to create an sqlite table on which one of the columns is a bigint. However, this is always getting parsed as a normal integer and creation of records is failing with the following error
`RangeError: 70026099423600 is out of range for ActiveRecord::Type::Integer with limit 4
`
Here is a reproduction script:
[code]

[2015-02-02 20:26] GCorbel commented on #18633
You're right. I also have to reproduce the bug in a test. I will check that tonight.

[2015-02-02 20:39] GCorbel commented on #18633
This is the comment which change the code : https://github.com/rails/rails/commit/05b178085a2ad3bf3f2c0dcd1ea40fb5e8c8dc0d. It was changed by @dmitry and approved by @rafaelfranca and @arthurnn. As I said, I will do a pull request tonight. Please, is it possible to revalidate after?

Thanks!

[2015-02-02 21:21] sgrif commented on #18633
Yeah, so as long as `@stale_state == stale_state` returns the right thing when inversed, or is replaced with some code that does the right thing (like looking at the ID of the loaded record), it should be fine to make. Ping me when you've got a PR

[2015-02-02 22:22] #18787 closed

[2015-02-02 23:29] jeremy commented on #13420
Discussed with @sgrif and @chancancode. A Rails 5 path to eliminate params munging is to drop Active Record support for `foo: [1, 2, nil]` => `foo IN (1, 2) OR foo IS NULL`. Instead, drop the special `nil` handling and include `NULL` in the `IN` list: `foo IN (1, 2, NULL)`. Then databases do what we expect and we needn't munge params. We lose a convenient feature, but a very niche feature that can

[2015-02-02 23:53] sgrif commented on #13420
Opened https://github.com/rails/rails/pull/18790 so we can discuss that potential path forward there.

[2015-02-03 00:06] christhekeele commented on #13420
:tada:

[2015-02-03 02:14] GCorbel commented on #18633
I finally reproduce the bug by using the right models. It pass but I think it break another test. I don't have the time to finish it to day. It will go tomorrow.

[2015-02-03 02:56] paulociecomp commented on #18780
hi @rodrigopinto. I tried to reproduce the issue with ruby 2.1.3, rails 4.2, rspec 3.1.7 and postgres 9.4.0.1. Its run fine. You have to provide additional information to help reproduce the bug.

[2015-02-03 03:46] paulociecomp commented on #18703
@zedtux, you can try capybara-webkit. it provide a better performance than poltergeist with rails 4.2

[2015-02-03 03:54] sorentwo commented on #18703
@paulociecomp: That may be true, but this is related to the asset cache being blown during testing. No matter what test runner your are using recompiling assets every time is going to slow you down.

[2015-02-03 10:30] GCorbel commented on #18633
I think I was wrong. The problem is the following :

    def test_inversed_instance_should_be_reloaded_if_assigned_by_association_id
      face1 = Face.create
      face2 = Face.create
      new_man = Man.create(face: face1)

      p new_man.association(:face).loaded? # true

      new_man.face_id = face2.id

      p new_man.association(:face).loaded? # true again

      assert_equal new_man.face,

[2015-02-03 12:38] seanahrens commented on #11415
For anyone who stumbles upon this issue from google, make sure that what's actually happening to you is not that your app is actually making duplicate REQUESTS as mine was. See http://stackoverflow.com/questions/3266020/rails-app-logging-duplicate-requests/28299100#28299100

[2015-02-03 12:41] GCorbel commented on #18633
On an assigment of a variable, it's possible to do :

    # self if new_man
    self.class.reflect_on_all_associations.each do |association|
      association.reset if association.association_foreign_key == field_name # field_name is face_id
    end

It will work but it can create a performance issue. I need your opinion again @sgrif .

[2015-02-03 14:07] beno commented on #16449
Just ran in to this, on 4.2. Is there a workaround?

[2015-02-03 14:16] beno commented on #16449
Just ran in to this, on 4.2. ~~Is there a workaround?~~

Simple workaround:

[code]

[2015-02-03 17:18] vipulnsward commented on #17115
@mikkelwf I don't see how this should cause an issue. Both hash and hwia would have the same behaviour for our case.
Can you show a way to reproduce this?

[2015-02-03 17:25] pioz commented on #10865
Running the updated version of the [test above](https://github.com/rails/rails/issues/10865#issuecomment-34976142) with rails v 4.2.0 I get a different error:

[code]

My output:

[code]

[2015-02-03 18:48] dhh opened #18802 "perform_enqueued_jobs should take an only: argument as well"
It should be possible to only perform certain enqueued jobs, just like it is possible to assert that only certain jobs have been enqueued with `assert_enqueued_jobs only:`.

[2015-02-03 20:29] #10865 closed

[2015-02-03 22:55] #15913 closed

[2015-02-03 23:42] robmathews commented on #18660
I think the issue is unrelated to rails, as I encounter the issue after upgrading our project to ruby 2.2.0 from ruby 2.1.2, NOT changing the rails version.

[2015-02-03 23:47] robmathews commented on #18660
@etipton - the timing of that ruby issue https://bugs.ruby-lang.org/issues/10700 and the bug they are trying to fix exactly match. Looks like the guy tested against a Mac OSX machine that had a case sensitive file system (who does that??) and "fixed" his bug, but broke it for the rest of the world.

[2015-02-04 01:29] tdooner commented on #18729
We've also seen this hit our production instances on Ruby 2.1.5-p273 and Rails 4.0.13.

It seems to happen randomly, and break across the entire application simultaneously. Once Unicorn is restarted, everything returns to normal.

If anyone has suggested troubleshooting methods (that would be helpful in producing a reproducible test case) I will give them a shot next time one of our nodes enters t

[2015-02-04 01:34] sgrif commented on #18729
@tdooner The only thing I can think of that could cause this is some kind of thread safety issue if you have code (or we have code) that mutates a relation. The error/stack trace given should not be possible, and the mutable methods on `Relation` are not public API. It *is* possible that something internal to Rails is not thread safe, but it's more likely a gem mutating things, as it's not common

[2015-02-04 02:00] GCorbel commented on #18633
To reset the association does not work because it do a SQL request and the record is not saved yet. I'm no longer able to reproduce the original bug. It was failing two days ago but now, when I copy the @PeizGuo 's code, it works. It's strange. I did reverted my modification and it works.

Does someone else can try it?

[2015-02-04 02:05] bughit opened #18806 "STI sublclasses share their current_scope resulting in StiSubclass.all being unintentionally scoped"
[code]

[2015-02-04 02:05] ypxing opened #18807 "alias_attribute cannot be put between/before attribute_method_xxxx (ActiveModel 4.2.0 & 4.0.0)"
alias_attribute cannot be between/before attribute_method_xxx since method alias_attribute depends on the "final" attribute_method_matchers.

The document should at least mention this if we don't want to support putting alias_attribute between attribute_method_xxx.

Below is the example code and exception in 'rails c'.

tmp/a.rb
class A
  include ActiveModel::AttributeMethods

  attribute_method_p

[2015-02-04 03:21] perceptec commented on #18802
Do you have a particular use case in mind for this one?

I was looking into implementing it and see how `assert_enqueued_jobs` functions, but given that `perform_enqueued_jobs` is more of an apparatus used to quickly switch processing on and off in a testing context (essentially the engine at the core of the surrounding assertions), and jobs are cleared on each run, it seems like it would be bette

[2015-02-04 03:34] dhh commented on #18802
Use case: You have a method that generates a variety of jobs, but you're only interested in testing the effects on one kind. And the other jobs spawned may need elaborate mocks to prevent them from contacting real remote service.

[2015-02-04 05:30] glampr opened #18811 "belongs_to with touch: true and record_timestamps = false"
When ```ActiveRecord::Base.record_timestamps = false``` and a record from a ```belongs_to``` association with ```touch: true``` is updated then the parent's ```updated_at``` column is automagically set to the current time.

https://gist.github.com/glampr/a43c0b90cf9649788e17#file-belongs_to_with_touch-rb

[2015-02-04 05:45] perceptec commented on #18802
I think the block form poses a problem, in the current scheme. We can't really introspect that, right?

I was going to roughly mirror `assert_enqueued_jobs`, but if I'm reading it correctly, `only` isn't actually preventing jobs from being queued--instead we queue all the things and then basically misreport the size by filtering the list. (Someone please correct me if I'm wrong.)

Maybe that only

[2015-02-04 05:48] dhh commented on #18802
I think you’d just enqueue all the jobs, then you’d filter the list of enqueued jobs and run the ones that match. Seems pretty similar to me?

[2015-02-04 08:57] liseki commented on #18802
@perceptec You'll have to look at the ```TestAdapter``` and perhaps pass a hash to ```perform_enqueued_jobs```.

[2015-02-04 09:43] AMHOL commented on #18382
@tenderlove, I will try to get an example posted back soon.

[2015-02-04 09:46] x2764tech opened #18813 "Querying against a non-default primary key uses wrong value"
I have a gist: https://gist.github.com/x2764tech/4ff7c015cd5d7137c295

I have the follow models:

[code]
and the test
[code]

The data is created successfully, but the query to check whether a post exists uses `Post.id` and not `Post.system_id`:

    SELECT  1 AS one FROM "comments" WHERE "comments"."post_id" = 1 LIMIT 1

The query should use the primary key specified in the relationship.

[2015-02-04 09:51] x2764tech commented on #18813
I don't know if it helps, but I noticed this in `4.1.6`, and replicated it in `4.1.9` and `4.2.0`, as well as the master branch

[2015-02-04 10:21] redbar0n opened #18814 ".html_safe is ambiguous and should be renamed"
`.html_safe` does not mean "please make this html safe", it's the opposite - it is you the programmer telling rails that "this string is html safe, promise!"

This can be confused by programmers, and hence be a potential security risk. A programmer should be able to read the name of a method and unambiguously be able to predict what it does, precisely.

I suggest renaming it to: `.prevent_html_esc

[2015-02-04 10:24] redbar0n commented on #18814
another name could be something like: `.render_html`

[2015-02-04 10:34] seuros commented on #18814
Thank you very much for the suggestion , the issue tracker is reserved for bugs only.
Please use the rails core mailing list for suggestions and feature requests.

[2015-02-04 10:34] #18814 closed

[2015-02-04 10:40] redbar0n commented on #18814
Ah, ok, thanks, I didn't know that. I now found the core list: http://groups.google.com/group/rubyonrails-core

[2015-02-04 15:00] sgrif commented on #18807
4.0 is no longer supported.

[2015-02-04 15:02] sgrif commented on #18813
This looks like the correct behavior. You are confusing the primary_key and foreign_key options.

[2015-02-04 15:02] sgrif commented on #18813
Never mind, I misread your issue.

[2015-02-04 15:03] sgrif commented on #18813
This is my daily reminder not to go through the issue tracker before I've had my coffee...

[2015-02-04 15:11] x2764tech commented on #18813
@sgrif In production code, it uses a named `foreign_key` as well, so I was pretty certain I had it right.

[2015-02-04 15:12] sgrif commented on #18813
Yes, you have it right. I was just reading it wrong. I'm drinking my coffee now, and then I'll fix it. :grin:

[2015-02-04 15:45] arthurnn commented on #18811
the problem here is that `touch` method (https://github.com/rails/rails/tree/master/activerecord/lib/active_record/persistence.rb#L463) does not respect `record_timestamps` flag. Not sure if thats intentional or a bug.
See that only the timestamp module uses the flag:
https://github.com/rails/rails/tree/master/activerecord/lib/active_record/timestamp.rb#L61

It most likely seems like a bug to me.

[2015-02-04 15:57] sgrif commented on #18813
This might not be something that can be backported to pre-5.0, since the fix on master depends a lot on the refactoring work I've been doing this year. I'll see what I can do to get it on 4.2 and 4.1 though

[2015-02-04 15:59] #18813 closed

[2015-02-04 16:02] x2764tech commented on #18813
In case I hit this again:

The obvious work-around is to query the foreign-key column with the correct primary-key value instead of the object, e.g. in the example above

`Comment.exists?(post_id: post.system_id)`

returns the correct result.

[2015-02-04 16:06] sgrif commented on #18813
You can also just pass the ID without changing the column. Doing `Comment.exists?(post: post.system_id)` will work, as well. However, I got the backport working for 4.2 and 4.1, I'll link the commits here when I'm done.

[2015-02-04 16:08] sgrif commented on #18813
Backported for 4.1.10 in https://github.com/rails/rails/commit/b8ba202d5412cd311e40554903a5be0d7f369605

Backported for 4.2.1 in https://github.com/rails/rails/commit/e43d96c12a3de240d70ef730942cc1bc73238481

Thank you for the report.

[2015-02-04 16:10] sgrif commented on #18811
Seems like a bug to me, as well.

[2015-02-04 16:10] carlosantoniodasilva commented on #18811
The question might be: why setting up touch if you don't want the parent to
be updated?

On Wed, Feb 4, 2015 at 1:45 PM, Arthur Nogueira Neves <
notifications@github.com> wrote:

--
At.
Carlos Antonio

[2015-02-04 16:10] x2764tech commented on #18813
@sgrif Thanks for the quick fix!

[2015-02-04 16:13] arthurnn commented on #18811
@carlosantoniodasilva You might want to have the parent updated most of the times, but for that particular code path, you want to disable that. I think thats a reasonable use case.

[2015-02-04 16:15] carlosantoniodasilva commented on #18811
Well, then you might be looking for no_touching instead? Just trying to
understand the use case better.

On Wed, Feb 4, 2015 at 2:13 PM, Arthur Nogueira Neves <
notifications@github.com> wrote:

--
At.
Carlos Antonio

[2015-02-04 16:16] sgrif commented on #18811
I agree with that, but I'd expect no_touching and record_timestamps to be implemented in terms of each other, since one just seems to be the "permanent" form of the other. I think having them do different things is surprising behavior.

[2015-02-04 16:17] sgrif commented on #18813
Any time. It's my job. :)

[2015-02-04 16:22] carlosantoniodasilva commented on #18811
Wondering: would we expect using no_touching not to record timestamps on
any model being saved? It seems they serve different purposes.

However I'd not be totally opposed to make record_timestamps also skip
touch, but that'd be a breaking change. Maybe we should review the entire
thing.

On Wed, Feb 4, 2015 at 2:17 PM, Sean Griffin <notifications@github.com>
wrote:

--
At.
Carlos Antonio

[2015-02-04 16:51] glampr commented on #18811
The use case where I stumbled upon was globalize using the touch option when setting up the original <=> translation association, but when I run some data migrations I want the record_timestamps feature disabled. Hope it makes sense.

[2015-02-04 16:59] sgrif commented on #18811
`no_touching` is definitely the better option for that use case.

[2015-02-04 17:15] perceptec commented on #18802
Still looking into this, but the sticking point was how to preserve the block syntax while filtering the jobs, because the test helper's `perform_enqueued_jobs` doesn't actually perform anything--instead it toggles the test adapter's `perform_enqueued_jobs` switch and yields to the block, which means the jobs passed in the block are executed immediately when they call `perform_later`.

Does that m

[2015-02-04 17:43] glampr commented on #18811
So data migrations would require both:

[code]

[2015-02-04 18:06] hosh commented on #15864
I don't know if @buffpojken has solved this or not, however, I am putting this here for other people in the future who runs into the same problem and found this page like I did.

In Rails 4.2, AbstractController::Rendering will define an empty `def _process_format` (and a few other things). This allows the `super` chain to eventually get to the empty method defined in that module. The other way is

[2015-02-04 22:07] ypxing commented on #18807
@sgrif  can you reopen this issue since it's NOT just for 4.0.0 (I just verified this issue with 4.0.0 the first place)? 4.2.0 (if it's still supported) also has this issue.

[2015-02-04 22:48] zedtux commented on #18703
@paulociecomp thank you for your help but changing the JS driver between Rails version is not an option (we're already missing time on the implementation ... like always :wink:).

[2015-02-05 01:30] al2o3cr commented on #16085
This is the same issue as reported in #17015. It is fixed on master, but the fix (removing a call to `add_autosave_association_callbacks` in the implementation of `accepts_nested_attributes_for`) needs to be backported to 4.2.

[2015-02-05 04:15] dhh opened #18818 "Allow variants to be set through the URL"
Accessing http://example.com/posts.html+partial should set both `format: :html` and `variant: :partial` automatically. This will make it easier to supply multiple variants of the same format without needing before filters to determine the variant.

[2015-02-05 05:33] guilleiguaran commented on #18714
I think that's the expected behavior, we shouldn't have a `Content-Length` header when `Transfer-Encoding: chunked` is set

[2015-02-05 06:16] kaihuang201 commented on #17897
@al2o3cr Could you elaborate a little bit on "...one against information_schema with plain =."?

[2015-02-05 08:16] Beengie commented on #18660
I only changed the "sites" folder name then renamed it back and it work. I have seen people stating that they renamed the entire directory. It is not needed in my circumstance. Hope that helps.

rm sites sites1
rm sites1 sites

[2015-02-05 08:42] liseki commented on #18802
The jobs passed in the block are not executed immediately, they are passed on to the ```TestAdapter``` which is where you should do sorting based on class.

[2015-02-05 10:44] pandar1 commented on #18422
+1, same problem here

[2015-02-05 11:11] F2Andy opened #18819 "Validates numericality and uniqueness throws exception for non-numeric value"
Say I have a model wit this validation:

class Post < ActiveRecord::Base
  validates :count, :presence => true, :numericality => true, :uniqueness => true
end

If I pass a value to count that is not numeric and then try to save the record, Rails will test for uniqueness by accessing the database, which will then object that it has been given the wrong type of data for an integer field, for example

[2015-02-05 13:50] xpepermint opened #18821 "ActiveJob not returning true job_id"
ActiveJob does not return provider's job_id but uuid instead.

I use `Que` which stores an incremental id for each job (as a numeric value) in database. When executing `MyJob.perform_later(MyRecord.first)` the returning `job_id` is not the one from the database but ActiveJob's unique value instead. The `job_id` should be the one from the database in this case.

Ref: https://github.com/chanks/que/i

[2015-02-05 13:51] jcoyne commented on #18714
I agree that `Content-Length` should not be set when `Transfer-Encoding: chunked` is set.  However, shouldn't Rails have a mechanism for streaming a large IO type object, without loading it into a string, where the size is known?

[2015-02-05 14:06] sgrif commented on #16085
Thanks @al2o3cr I'll make sure I do that today.

[2015-02-05 14:09] sgrif commented on #18660
Yeah, this looks unrelated to Rails.

[2015-02-05 14:10] matthewd commented on #18714
Okay, closing.

http://xyproblem.info/ :confused:

It does: http://api.rubyonrails.org/classes/ActionDispatch/Response.html#method-i-body-3D

[2015-02-05 14:10] #18714 closed

[2015-02-05 14:12] sgrif commented on #18660
Looks like some other contributors have been digging into this and do think it's an issue in the Rails code-base.

[2015-02-05 14:28] jcoyne commented on #18714
@matthewd I understand the XYproblem, and I apologize for wasting your time. However, it's not apparent, without reading the code that `AD::Response#body=` accepts an IO.  Surely you can understand  how one would think that `ActionController::Live` is the way to solve such a problem considering the amount of publicity (blogs, documentation, release announcement, conferences) it's received compared

[2015-02-05 14:38] jcoyne commented on #18714
@matthewd  I really appreciate your time in helping me find the correct way to solve the problem.

[2015-02-05 14:39] matthewd commented on #18714
No worries; I'm glad we do have a mechanism to solve your problem.

`body=` wants a rack response body (i.e., something that'll respond to `each`, and yield whatever should be sent). Unlike the relatively new & shiny AC::Live, it's been there since the original rackification in 3.0.. so yeah, it missed out on any spotlight.

I'm sure it would be appreciative if you wanted to post an article somewh

[2015-02-05 15:13] robmathews commented on #18660
here is a link to the SO, if that helps http://stackoverflow.com/questions/27871726/strange-error-in-rails-missing-helper/27909917#27909917

[2015-02-05 16:25] abitdodgy commented on #17354
I have the very same problem here.

[2015-02-05 16:40] rafaelfranca commented on #17354
I just did it and got the error in the console. Closing.

[2015-02-05 16:40] #17354 closed

[2015-02-05 16:49] abitdodgy commented on #17354
Just of note if anyone lands on this page again, This happens with Ruby 2.2.0-preview1. Using 2.2.0 will not produce this problem. In my case they stack trace was available in the console, but the browser served the `public/500.html` production error page.

[2015-02-05 18:02] rodrigopinto commented on #18780
@senny @paulociecomp I'll try to reproduce it here and send feedback.

[2015-02-05 18:31] #18646 closed

[2015-02-05 19:50] FeGs commented on #18818
I'm interested in digging into this.

[2015-02-05 19:52] dhh commented on #18818
Awesome, Hong. Have at it, and let me know if you have any questions.

[2015-02-05 21:59] richardnuno opened #18822 "Asset serving from Webrick causes mutex error"
We're seeing a issue related to asset serving with Webrick that is causing the server to lock up.
These errors were intermittent and hard to reproduce but this [test application](https://github.com/bonobos/asset_mutex_bug) tries to do that.

When refreshing the root page repeatedly the following error appears in the server log (you might have to hold refresh hotkeys for a few seconds):

[code]

or

[2015-02-05 22:01] richardnuno commented on #18822
Forgot to mention, ruby version is 2.2.0 and rails version is 4.2.0

[2015-02-05 22:21] KAAF030191 opened #18823 "Bug en el modelo"
Existe un bug cuando el modelo termina con la palabra lista lo cual internamente RoR por algún motivo lo convierte en Listum y para las inserciones no hay problema... pero esto se va para las consultas cuando esta tabla se enlaza por un includes dentro de otra.

[2015-02-05 22:24] rafaelfranca commented on #18823
cc @spastorino @guilleiguaran

[2015-02-05 22:28] guilleiguaran commented on #18823
Something like this:

"There is a bug when a model finish with the word `Lista` and internally for some reason Rails converts it to `Listum` and there aren't any troubles with insertions... but there are a problem with queries when this table is linked by an include inside of another"

[2015-02-05 22:29] guilleiguaran commented on #18823
@KAAF030191 can you paste here an example query to see what is the problem?

@KAAF030191 puedes pegar acá una consulta de ejemplo para ver cual es el problema?

[2015-02-05 22:29] seuros commented on #18823
Puedes por favor acer una aplicación ejemplo que reproduce el error?

[2015-02-05 22:33] KAAF030191 commented on #18823
El error se produce en este caso.

TCurso.includes(:TUsuarioTCursoEvtMiLista).where('TCurso.estado=?', 'Publicado')

Lo comprobé luego de intentar todo pensando que el problema era de programación, sin embargo, finalmente cambié la llamada por

TCurso.includes(:TUsuarioTCursoEvtMiL).where('TCurso.estado=?', 'Publicado')

haciendo lo cambios respectivos en cada parte para probar mi teoría... y pude

[2015-02-05 22:35] KAAF030191 commented on #18823
Cabe mencionar que en ninguna parte tenía definido algo como Listum... en incluso busqué esa cadena en todo el proyecto bajo un programa que busca texto en una carpeta completa... en este caso el proyecto... y lo único que encontraba era el Listum que me lanzaba en la excepción lo cual estaba en el log.

[2015-02-05 22:41] robertomiranda commented on #18823
@KAAF030191 deberias creo q tienes un error de typo

de tener algo como `TCurso.includes(:TUsuarioTCursoEvtMiLista).where('TCurso.estado=?', 'Publicado')` deberia ser `TCurso.includes(:t_usuario_t_curso_evt_mi_lista).where('TCurso.estado=?', 'Publicado')`

Te recomiendo que uses Ingles para los modelos, rails  convertir lo nombre de tus en plural para asociarlo a la base de datos. Además seria bue

[2015-02-05 22:47] KAAF030191 commented on #18823
al contrario... yo creo que tú estás equivocado... ya que se debe incluir el modelo no el archivo así que se debe apuntar al nombre del modelo... el archivo tiene esa definición que tu pusiste pero el modelo como clase no... en tantos Framework que he usado... así es como funciona y Rails no es la excepción si tenemos el mapeador de datos, todo debe apuntar al nombre del modelo como clase y no al

[2015-02-05 23:13] jgonzalezd commented on #18823
la gente que programa rails en espanol tiene un lugar especial en el infierno

[2015-02-05 23:16] brayancastrop commented on #18823
@KAAF030191 Te recomiendo que leas un poco la documentacion sobre las convenciones usadas http://guides.rubyonrails.org/active_record_basics.html#naming-conventions

Y t_usuario_t_curso_evt_mi_lista no se refiere al archivo, es la forma como rails hace referencia a la tabla

[2015-02-05 23:16] KAAF030191 commented on #18823
Si realmente sabes desarrollar no importa si lo haces en español o en inglés.

[2015-02-05 23:17] KAAF030191 commented on #18823
Ahí mismo lo dice... al parecer lo estás entendiendo mal @brayancastrop una cosa es la clase y otra la nomenclatura de la tabla... léelo bien y entiéndelo como debe ser que yo estoy siguiendo la convención tal cual es.

[2015-02-05 23:18] rafaelfranca commented on #18823
For what I could get this is the expected behavior of Rails. The plural of Lista is Listum because of our inflections. Rails use the table always in the plural. If you want to keep using Spanish in your models you have to correctly configure the inflections.

[2015-02-05 23:18] #18823 closed

[2015-02-05 23:19] KAAF030191 commented on #18823
@rafaelfranca gracias... es mucho más razonable esa respuesta... sin embargo ya lo corregí sólo cambiando el nombre del modelo.

[2015-02-05 23:19] robertomiranda commented on #18823
@rafaelfranca :+1:

[2015-02-05 23:23] jgonzalezd commented on #18823
@rafaelfranca da una opcion, pero atenta contra CoC y es una patada justo en las we** para los que le toque coger el proyecto despues.

[2015-02-05 23:26] KAAF030191 commented on #18823
De acuerdo con @jgonzalezd no hay porque cambiar especificaciones del FW... y yo insiste que no tiene nada que ver programar en inglés o español... si se hace bien debe funcionar correctamente... sin embargo... una solución mejor para no chocar con las configuraciones de ruby fue cambiar el nombre del modelo y nada más.

[2015-02-06 00:52] rodrigopinto commented on #18780
@senny @paulociecomp @pixeltrix Sorry for the inconvenience.

I've debugged, and the problem was a configuration missing on my  `config/environments/test.rb`.

I was using `ActiveRecord::Migration.maintain_test_schema!` on rails_spec.rb, but `config.active_record.maintain_test_schema = false` was missing on `config/environments/test.rb`.

Thanks for the support.

[2015-02-06 00:52] #18780 closed

[2015-02-06 05:37] prathamesh-sonpatki commented on #18819
I tried to reproduce this with MRI but could not do it. Please check https://gist.github.com/prathamesh-sonpatki/f1e1b40534c9c6d3c52b. I guess problem might be AR-JDBC adapter.

[2015-02-06 05:39] sgrif commented on #18819
AR-JDBC does not support 4.2

[2015-02-06 05:39] #18819 closed

[2015-02-06 07:33] BMorearty commented on #18606
@dhh I've submitted the PR for this. I modified my code to run automatically in any transaction rather than requiring an explicit call to `delay_touching`. See #18824.

I did not attempt to implement your suggestion for a generic version of this. In the absence of another specific use case to test against, it seemed too abstract for me to try to implement as part of this PR. Besides, this change d

[2015-02-06 10:07] apeiros commented on #18389
Detecting mutation is fine, but I see a single .create! call dump 7 times and load 27 times. That seems excessive, no?
Loading a record calls load twice, which also doesn't make sense.
Demo (tested against rails 4.2 with sqlite3): https://gist.github.com/apeiros/395f161ca002b0abe666

[2015-02-06 10:09] apeiros opened #18825 "CustomSerializer.load is always called with nil argument (AR 4.2)"
With a custom serializer, ActiveRecord seems to always call .load with nil as argument, no matter what .dump returned.
Demo (tested against rails 4.2 gem with sqlite3): https://gist.github.com/apeiros/395f161ca002b0abe666

[2015-02-06 10:16] apeiros commented on #18825
Inspecting the database, it doesn't seem to store the result of dump in the first place.

[2015-02-06 10:54] richardrails opened #18826 "rails 4.2 integer migration limit 4"
why is DB limit for integer automatically only 4? Do you think that nobody has more than 10k records in tables? I mean foreign keys! This is not good idea.

from my schema.rb:
[code]

[2015-02-06 11:42] rafaelfranca commented on #18826
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-02-06 11:42] #18826 closed

[2015-02-06 13:06] sgrif commented on #18389
Yes, it is fixed in 4.2.1

[2015-02-06 13:40] apeiros commented on #18389
Great! Thanks for your work!

[2015-02-06 13:41] felipegs commented on #18389
:+1:

[2015-02-06 13:49] al2o3cr commented on #17897
I'm preparing a PR for this, but ran into some incidental test breakage. Here's the code:
[code]
and the test:
[code]
(this goes in `test/cases/adapters/mysql/mysql_adapter_test.rb`)

Tests that are broken by this:

* `ActiveRecord::ConnectionAdapters::MysqlAdapterTest#test_tables_quoting` - broken because the new method returns `[]` instead of raising when asked about a nonexistent database. That

[2015-02-06 13:50] sgrif commented on #18825
Duplicate of https://github.com/rails/rails/issues/18169

[2015-02-06 13:51] sgrif commented on #18825
Sorry, this is not a duplicate of that issue, but this is the expected behavior. We save `nil` to the database if the result of `dump` is the same as `dump(nil)`, as it's defined as the "default" value.

[2015-02-06 13:51] #18825 closed

[2015-02-06 13:52] monteirobrena commented on #15405
@antulik thank you for the tip. This corrected the error `NoMethodError: undefined method `to_sql' for` but not ordered my collection.

[2015-02-06 14:03] apeiros commented on #18825
Ah, I see, this makes sense. The puzzle pieces start to fall together.
I think I'll do a documentation patch as at least to me, this was not clear from the existing docs.
I'll update the dummy serializer in the specs I'm working on accordingly.

[2015-02-06 14:17] stiff commented on #16959
I tried the `where.exists` proposed by @chancancode and it works great, waiting to see it in mainline. I can put it into PR if it would help :)

[2015-02-06 14:47] rafaelfranca commented on #18823
@KAAF030191 :+1: with proper configuration you can keep using the name you want, I think the guys want to point that you would not need any of these configurations if you were using english, but of course, both ways are fine and this is a decision that only you can make.

[2015-02-06 14:49] rafaelfranca commented on #18823
Ah, just one think that I said incorrectly. Is not the plural of Lista that is Listum. Actually Listum is the singular and Lista is the plural by the Rails default inflection configuration.

[2015-02-06 14:51] sgrif commented on #18825
Feel free to open a PR to clarify

[2015-02-06 15:01] Sega100500 opened #18827 "Select insert blank option with required: true"
select(:related_data, :person_type_id, options_for_select(types_list, @related_data.person_type_id))
- all fine

select(:related_data, :person_type_id, options_for_select(types_list, @related_data.person_type_id), include_blank: true)
- all fine - with needle blank

select(:related_data, :person_type_id, options_for_select(types_list, @related_data.person_type_id), {}, { required: true })
- WRONG

[2015-02-06 15:20] rafaelfranca commented on #18827
It is by design. If you set the required attribute in a select and it doesn't include the blank value option you get a HTML 5 validation error.

See #5908

[2015-02-06 15:20] #18827 closed

[2015-02-06 15:45] FeGs commented on #18818
@dhh

Do you intent to allow this url form only? (`posts(.:format(+:variant))`)
http://example.com/posts.html+partial (1)

Not
http://example.com/posts+partial (2) (`posts(.:format|+:variant)(.:format|+:variant)`)
http://example.com/posts+partial.html (3) (`posts(+:variant(.:format))`)

[2015-02-06 16:18] dhh commented on #18818
Only the top. A variant without a format doesn’t make sense. Variants are tied to formats.

[2015-02-06 17:05] jorge-marques opened #18828 "Rails 4.2.0 - Very slow static file serving"
Hi. I've updated a rails application to 4.2.0 and I've noticed a huge slowdown when serving static files in development mode. In particular, one .svg file that took less than a second to be downloaded in 4.1.9 is taking about 20s in 4.2.0. Reverting the project back to 4.1.9 makes everything run smoothly again.

[2015-02-06 17:08] rafaelfranca commented on #18828
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-02-06 17:10] jorge-marques commented on #18828
@rafaelfranca Sorry, submitted the form accidentally.

[2015-02-06 17:13] rafaelfranca commented on #18828
Can you please provide a sample application that reproduces the error?

[2015-02-06 17:46] jonswar commented on #17667
@brainopia I don't understand. I changed the test to confirm that the book_authors record is created, and it still passes for me on 3.2.18.

    def test_create_book_author_relationship
      assert(BookAuthor.count == 0)
      author = Author.create!
      book = Book.create!(:author_ids => author.id)  # or :authors => author
      assert(BookAuthor.count == 1)
      book_author = BookAuthor.firs

[2015-02-06 18:22] ii707490518 opened #18832 "ii707490518@outlook.com"
ii707490518@outlook.com

[2015-02-06 18:28] ii707490518 commented on #18832
https://ii707490518886.visualstudio.com/

[2015-02-06 18:28] #18832 closed

[2015-02-06 18:45] jorge-marques commented on #18828
Here's the repo: github.com/jorge-marques/rails-4.2.0-slow-file-serving
I generated a rails 4.1.9 app, and added a page with a single .png image. It's taking about 60-70ms to download on my machine. I then upgraded to 4.2.0 and that same file is now it's taking up to 2s.

[2015-02-06 18:46] rafaelfranca commented on #18828
Cool! I'll take a look  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-02-06 19:17] #18802 closed

[2015-02-06 20:41] rafaelfranca commented on #12793
@senny I think this will break `Model.find('123-my-slug')`.

[2015-02-06 20:50] sgrif commented on #12793
I also think we sufficiently discussed this over the last year to decide this is a bad idea. The biggest reason for which is that going to `http://example.com/posts/omglol` will now be able to make the server 500.

[2015-02-06 20:52] rafaelfranca commented on #12793
Right. So closing.

[2015-02-06 20:52] #12793 closed

[2015-02-06 21:52] KeithYJohnson commented on #15668
@epidemian I'm having some issues with routing constraints too.  Per the api version specified in a request, I want requests with the same URL to go to two different controller.

Just wondering if in tackling your routing constraint problem you could shed some light on this one too.

[code]

Even when setting the appropriate headers when making a request:

[code]

It still always gets routed to th

[2015-02-06 22:39] rafaelfranca commented on #15405
Rails 4.0 is not supported anymore.

[2015-02-06 22:39] #15405 closed

[2015-02-06 23:08] arman000 opened #18836 "rails 4.2/PostgreSQL loading row with array causes object to be marked as dirty"
Given the following schema:
[code]
And model:
[code]
Execute the following code in the rails console:
[code]
The changes are non-empty.

This is an issue as of Rails 4.2. I believe it was working without issues in Rails 4.1.x.

Bonus bug:
[code]

[2015-02-06 23:10] rafaelfranca commented on #18836
Could you check with the 4-2-stable branch?

[2015-02-06 23:39] arman000 commented on #18836
Behavior is the same in 4-2-stable.

[2015-02-06 23:43] sgrif commented on #18836
Can you please provide a script we can use to reproduce your issue, using this template? https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-02-07 00:54] arman000 commented on #18836
[code]

[2015-02-07 02:59] Backoo opened #18838 "Strange behavior of `url_for` with argument `params`"
I am using Ruby 2.1.1 and Ruby on Rails 4.1.1.

Given...

... I access the URL

    http://www.example.org/users/1/ciao/edit?hash[controller]=articles&hash[action]=index

... in the rendered edit view, within the form, I have:

    <% hash[:hash].each do |key, value| %>
      <%= hidden_field_tag("hash[#{key}]", value) %>
    <% end %>

... in my controller I have:

    logger.debug "params

[2015-02-07 03:54] sgrif commented on #18836
Your script passes on both 4-2-stable and master. It fails on 4.2.0. This looks like it's been resolved.

[2015-02-07 03:54] #18836 closed

[2015-02-07 09:54] zedtux commented on #18703
I tried the same out of Docker and it's much more faster (obviously) which then "hide" (in my opinion) the issue.
I don't understand then why before it was running in an acceptable manner and since I did the upgrade to Rails 4.2 it's no more the case.

I will try to revert to Rails 4.1 and see if it's about the Rails upgrade or another gem.

[2015-02-07 17:02] pixeltrix commented on #18838
It's hard to tell without seeing the routes.rb file but I don't think it's a bug. The `users/articles` is because the current controller is nested and the options passed specify a relative controller path - try prefixing the controller with `/`.

The fix you discovered by using `symbolize_keys` is because you're merging the hash before the keys have been symbolized so you have `'controller'` and `

[2015-02-07 17:02] #18838 closed

[2015-02-07 19:17] pixeltrix commented on #18660
I'm going to close this because I can't seem to reproduce it - I think it maybe something to do with upgraded Mac OS X versions and the Sites folder capitalisation. The code where the error occurs is [here][1]:

[code]

The `path` argument is an array of helper folders - in a new application this is just `<root>/app/helpers`. It looks as though `Dir[]` is returning case-insensitive matches as desc

[2015-02-07 19:56] etipton commented on #18660
So... the ruby documentation for [Dir.glob(pattern, [flags])](http://www.ruby-doc.org/core-2.2.0/Dir.html#method-c-glob) says "Note that this pattern is not a regexp, it’s closer to a shell glob. See File.fnmatch for the meaning of the flags parameter. Note that case sensitivity depends on your system (so File::FNM_CASEFOLD is ignored)"

So although it SEEMS cut-and-dry that the extract pattern wi

[2015-02-07 19:58] etipton commented on #18660
I don't have the ability to reopen this but that Ruby documentation makes me think that this situation should actually be handled by Rails.

[2015-02-07 20:00] etipton commented on #18660
btw, great detective work @pixeltrix

[2015-02-07 20:13] pixeltrix commented on #18660
Without some steps to repro I'm loathe to change anything - however the logic could be improved which is probably why @matthewd just assigned himself this :smile:

[2015-02-07 20:13] matthewd commented on #18660
We haven't found a way to prove it :confused:, but I remain of the opinion that the current code is Technically Wrong. (It also just doesn't seem like the nicest way of solving the problem, really.)

I'll "fix" the `sub`, and we can assume it'll make this go away, whatever it was.

[2015-02-07 20:15] pixeltrix commented on #18660
@etipton I don't think your fix will work because it will miss out helpers - the problem is mismatched case on the application root

[2015-02-07 20:21] etipton commented on #18660
Oh, right... damn. Maybe the extract regexp should just have a /i ?

I also agree that the way the whole thing works seems kinda wonky.

[2015-02-07 22:51] sgringwe commented on #18729
@sgrif  our gemfile is:
[code]

maybe if @tdooner posts his too, we can start to get closer? i have not had the problem since.

[2015-02-07 22:57] sgrif commented on #18729
I'm sorry, I won't be able to tell you if a gem is messing with Active Record by looking at your Gemfile. I'm not an encyclopedia of which gems monkey patch Rails.

[2015-02-08 00:39] sgringwe commented on #18729
@sgrif understood. I was only hoping to compare and find some sort of intersection. Hopefully the gem responsible is not common place. Just trying to gather info.

[2015-02-08 00:44] tdooner commented on #18729
It's interesting how few gems we have in common, @sgringwe. I ran `bundle install` with your Gemfile and the commonalities in the dependencies section:
* bcrypt
* capybara
* factory_girl_rails
* haml-rails
* rails
* rails-autolink
* sass
* sass-rails
* soap4r-ruby1.9
* stripe
* susy
* therubyracer
* thin
* twitter-text
* uglifier
* unicorn

We see the problem about once a week.

[2015-02-08 00:52] sgrif commented on #18729
Just to confirm, you're both on MRI, right?

[2015-02-08 00:53] sgringwe commented on #18729
@sgrif I am on MRI, yes. @tdooner just a heads up, I do not have the ```susy``` gem. Are you sure the commonalities are correct?

[2015-02-08 00:54] sgrif commented on #18729
This should absolutely not be possible under any circumstances, then. The GVL would prevent a race condition from causing this (as far as I'm aware), and `@values` (which is what's being passed to `Hash.[]` and erroring) is a hash. This might be worth opening a bug on `ruby/ruby` if we can pin it down further. Is it always the same code which results in the issue, or is it a random `Relation` each

[2015-02-08 00:57] sgrif commented on #18729
Actually, glancing at the C code, this error comes from the form of `Hash[1, 2]`, not `Hash[[1, 2]]`. It makes no sense for this error to be occurring given that the code causing the problem is `Hash[@values]`.

[2015-02-08 00:58] sgrif commented on #18729
I would definitely open a bug report for ruby.

[2015-02-08 00:59] sgringwe commented on #18729
@sgrif interesting! The one occurrence I had for ~20 minutes before restarting the server had the error happen in random relations. I will go ahead and open a bug report on ```ruby/ruby```.

[2015-02-08 01:00] sgrif commented on #18729
Only other thing I could think of is that `@values` might be `nil`?

[2015-02-08 01:06] sgringwe commented on #18729
@sgrif a quick test of the rails console does give that error for ```Hash[nil]```. Unfortunately I don't know where or how the ```@values``` are set. I will pull /rails and take a look.

[2015-02-08 01:06] sgrif commented on #18729
That would actually make the most sense if the server continues getting the error after the first time. This might help track it down, if you're able to add this monkey patch to your code

[code]

And getting the stack trace, if that branch ever raises.

[2015-02-08 01:07] sgrif commented on #18729
@springwe It's set from a constructor argument, where the default value is `{}`. If something were manually calling `Relation.create`, passing `nil` for the last argument, it could cause this. See my previous comment.

[2015-02-08 01:08] sgrif commented on #18729
@sgringwe  It's set from a constructor argument, where the default value is `{}`. If something were manually calling `Relation.create`, passing `nil` for the last argument, it could cause this. See my previous comment.

[2015-02-08 01:10] sgringwe commented on #18729
@sgrif excellent - I will deploy that tonight and hope(?) it happens again.

[2015-02-08 01:11] sgrif commented on #18729
:heart:

[2015-02-08 01:11] dhh opened #18847 "Add ActiveRecord::Base.suppressor"
Here's a pattern of creating notifications when new comments are posted. (The notification may in turn trigger an email, a push notification, or just appear in the UI somewhere):

[code]

So that's what you want the bulk of the time. New comment creates a new Notification. But there may well be off cases, like copying a commentable and its comments, where you don't want that. So you'd have a conce

[2015-02-08 01:20] sgrif commented on #18729
You'll probably need to stick that in a module, and prepend it, rather than monkey patching the class directly.

[2015-02-08 01:40] edslocomb commented on #5223
For those having problems, which HTTP headers are your trusted proxies / load balancers setting to indicate the upstream client IP?  remote_ip() looks at HTTP_X_FORWARDED_FOR and HTTP_CLIENT_IP (and breaks if both are set, see #15568)

[2015-02-08 01:45] sgrif commented on #18806
I've taken a brief look at this, and it appears the entire implementation of STI depends on this fact. Not insurmountable, but this fix will probably be more difficult than it appears on the surface.

[2015-02-08 02:30] perceptec commented on #18847
Were you going to handle this one? (I'm willing to have a look-see if it's up for grabs, given the provided implementation.)

[2015-02-08 02:47] sgrif commented on #18847
@perceptec Have at it.

[2015-02-08 03:53] sgringwe commented on #18729
@sgrif if you could, i'd like to double check that my prepend isn't going to bring down production:
[code]

[2015-02-08 03:55] sgrif commented on #18729
Yes, that should work. I'd run your test suite first though. ;)

[2015-02-08 03:56] sgrif commented on #18729
@chancancode Can I get a sanity check on my assessment of that?

[2015-02-08 04:04] chancancode commented on #18729
Seems fair! (You might want to raise a specific error and/or log it explicitly to help you see it.)

[2015-02-08 04:04] sgrif commented on #18729
:heart:

[2015-02-08 19:26] hbd225 commented on #18694
Sorry I didn't realize there was already a PR.

Should we fix arel rather than relation?
I found arel added distinct statement twice at following code.

https://github.com/rails/arel/blob/master/lib/arel/visitors/to_sql.rb#L229

[2015-02-08 20:24] jvanbaarsen opened #18855 "Custom param routing behaviour seems not correct"
WhenI was working on an app I noticed the `param` keyword for a route returns behaviour that I was not expecting.

Lets say I have the following route:
[code]

And when I call the url: `get '/profiles/bob/messages/34'` I expect the username to be in the `params[:username]`. But instead it's in the `params[:profile_username]`. When I looked at the testcase the behaviour seems to be planned, since t

[2015-02-08 20:31] jvanbaarsen commented on #14362
@shivanibhanwal Im not really sure about this, but isn't it always looking for a template even if you say `render json:...`?

[2015-02-08 21:01] tenderlove commented on #18847
Should we have an `unsuppress` too?

[2015-02-08 21:05] dhh commented on #18847
How would that one be used, Aaron?

[2015-02-08 21:08] kaspth commented on #14362
@shivanibhanwal the issue you're seeing isn't the same as this one. From the information you've given here I think it's not likely it's a bug in Rails. Try the Ruby on Rails Talk mailing list or stack overflow, they'll be better able to help you :)

@jvanbaarsen if you have an explicit render call, Rails won't implicitly look for and render a template for the request format.

[2015-02-08 21:22] tenderlove commented on #18847
In case something inside your `copy_to` needs to send notifications (e.g. notify admins that it got copied).  Like:

[code]

Where updating the comments on the destination needs to send a notification.  I suppose you could just do this:

[code]

But now this `Concern` has to know that `Comment` will fire a notification in the callbacks, and that updating the destination may do that as well....  hr

[2015-02-08 21:36] dhh commented on #18847
For that case, IMO, you'd do something like:

[code]

Seems like it'd be a bit of a battle between the suppress/unsuppress otherwise. But maybe we just need to find a more compelling use case.

[2015-02-08 22:08] pixeltrix commented on #18847
Just a word of caution here - let's not replay the issues we've had over the years with scopes and modifying state on the model class. The implementation needs to be threadsafe and not subject to strange side effects of lazy evaluation falling outside of the suppressed block.

[2015-02-08 22:15] dhh commented on #18847
:+1: to that AW. Use Thread.current in the real implementation.

[2015-02-08 22:21] dhh commented on #18233
@simi Any update on this?

[2015-02-08 22:22] cristianbica commented on #18847
@dhh in your example it seems to me more appropriate to disable the after_create callbacks than to completely disable `save`.
Anyway if we will go on with this `Notification.supress` isn't self-explanatory to me. Maybe we can use a more verbose syntax `Notification.supress(:create)` or `Notification.supress(:save)` or to combine with the above `Notification.supress(:callbacks)`.

[2015-02-08 22:23] dhh commented on #16831
Was solved in #18458.

[2015-02-08 22:23] #16831 closed

[2015-02-08 22:29] dhh commented on #18847
@cristianbica I'm not sure I follow. When I do a copy, I don't want Notifications to be created. These notifications are created by the Comment in an after_save, yes, but it may be doing lots of other stuff in callbacks that does need to happen. So you wouldn't want to do something like Comment.suppress(:callbacks) in this example.

What's the use case you're imagining for having a difference betw

[2015-02-08 22:53] cristianbica commented on #18847
@dhh
I don't see a use case for separate `supress` for `:create` or `:save` but using just `supress` it doesn't tell me it won't save records (maybe because I'm not an english native). For the `Notification` model it's a bit more clear because you're thinking "supress notifications" but for other model names it might not be so clear. For logger the method id named `.silence` which is explanatory.

[2015-02-08 23:02] dhh commented on #18847
The dictionary definition seems to fit what we're doing to a tee: http://dictionary.reference.com/browse/suppress. I think it works with all sorts of classes. In my code base, I'm currently using three different versions of this is different places: Event.suppress, Mention.suppress, Notification.suppress. All those work for me.

[2015-02-08 23:50] #18698 closed

[2015-02-09 00:40] ramigb opened #18857 "strong param that is not an array between two or more strong parameters that are an array"
This will **work** :
params.require(:post).permit(**:title**, :categories_ids => [],  :worlds_ids => [])

This will throw a **"unexpected ',', expecting =>"** error:
params.require(:post).permit(:categories_ids => [], **:title**,  :worlds_ids => [])

Any idea why?

[2015-02-09 00:50] radar commented on #18857
This is invalid Ruby syntax.

A correct version would be:

[code]

You should put all your "normal" keys first.

[2015-02-09 04:32] FeGs commented on #18818
I've tried to implement like below:

[code]

According to my implementation, variant is alway extracted from `:format` param. If custom format param is using, like `files/:format/download` (just example), should `extract_variant!` not extract variant? There is no way to know that custom format symbol is given except finding whether path ends with `.:format`. Is this approach valid?
Another appoach

[2015-02-09 07:10] kaspth commented on #18857
@radar is correct.

The error is telling you Ruby is expecting title to be another hash key.

[2015-02-09 07:10] #18857 closed

[2015-02-09 07:32] kaspth commented on #18818
It would be easier to discuss this if you open a new Pull Request and reference this issue :)

--
Kasper

[2015-02-09 09:48] jimmykarily opened #18858 "action_dispatch/routing/route_set.rb#user_relative_controller"
We have the following bug in our application.
The user is in a page served by a controller "dashboard/settings/something". In this page the user is logged in with devise. If the user logs out (in an other tab or simply by deleting cookies) and tryies to POST to an action in a controller under "dashboard" namespace, which needs authentication, the devise controller searched is:
"dashboard/auth/sess

[2015-02-09 10:50] jvanbaarsen commented on #14362
@kaspth Thanks! Do you agree that I can close this issues as it seems not be an issue after all?

[2015-02-09 10:53] ledestin opened #18859 "JavaScript asset not found if directory has extension (.js)"
Tried installing uri.js with Bower, and /assets/uri.js is not found by Rails. On the other hand, /assets/uri works without a hitch.

[2015-02-09 10:53] ledestin commented on #18859
I.e. I copied uri.js to uri to try.

[2015-02-09 13:04] kaspth commented on #14362
Sure, I'll go ahead and close it for you :smile:

[2015-02-09 13:04] #14362 closed

[2015-02-09 13:04] simi commented on #18233
Sure. PR coming soon.

[2015-02-09 13:11] Gonzih commented on #12001
Have same issue with rails 4.2. Is there a fix for that?

[2015-02-09 14:43] rafaelfranca commented on #18859
Can you please provide a sample application that reproduces the error?

[2015-02-09 15:40] senny commented on #18664
Having the flag present as an option on `add_reference` and `remove_reference` solves this issue. It might be best to backport the patch from `master` which introduced the option.

@sgrif what do you think?

[2015-02-09 15:40] jvanbaarsen commented on #18858
@jimmykarily Can you maybe provide a sample application that reproduces this error?

[2015-02-09 15:41] sgrif commented on #18664
Backporting the option feels pretty low-risk to me. If that's easier than the alternative, I think we should go with that.

[2015-02-09 15:46] jvanbaarsen commented on #18821
@xpepermint Can you provide a sample app containing this issue? That would really help :)

[2015-02-09 15:51] jvanbaarsen commented on #14362
@kaspth haha ok thanks :)

[2015-02-09 16:15] jvanbaarsen commented on #17117
@rafaelfranca I think this needs the label "With Reproduction steps" correct?

[2015-02-09 16:17] jvanbaarsen commented on #18611
@numidiasoft Can you provide reproduction steps?

[2015-02-09 16:20] jvanbaarsen commented on #17435
@senny Do you think we can solve this by better documenting it? Or should this be solved in the rails source?

[2015-02-09 16:22] sgrif commented on #18515
See https://github.com/rails/rails/pull/18598#issuecomment-73537978

[2015-02-09 16:22] #18515 closed

[2015-02-09 16:39] sivsushruth commented on #18855
I think the current implementation is more logical. Consider two resources "user" and "admin".
Each of them might have a username param. So it is cleaner to have user_username and admin_username as this provides us a way to demarcate between the two.

[2015-02-09 16:51] jvanbaarsen commented on #18855
@sivsushruth Well the problem with that is (in the above example) that you can't always fetch the profile username with `params[:username]`. So you must always write custom code when you;re deeper in the nested resource in since you have to change to `params[:profile_username]`.

[2015-02-09 16:54] sivsushruth commented on #18822
@richardnuno I tried to reproduce the bug with ruby 2.1.0 and rails 4.2.0 several times, but in vein.

[2015-02-09 17:08] shivanibhanwal commented on #14362
Hi @jvanbaarsen @kaspth I have figured it out long time back but forgot to update here. That issue was not due to rails it was due to Postgres ext change..
Thanks for your time :smile:

[2015-02-09 17:55] kaspth commented on #14362
Great to hear you figured it out :)

--
Kasper

[2015-02-09 18:26] stiff opened #18862 "AR: Model scope is changed by previous scopes"
Say we have a model like this:
[code]

The `by_new_client` scope looks artificial, weird, inefficient and probably wrong, because it's a stripped down version of actual much more complex query (but it's unimportant here), the critical part is that subquery calls `select` on the `Booking` class, not on the current relation.

Then if we want to get all cancelled bookings by new clients we write:
[co

[2015-02-09 19:09] FeGs commented on #18818
Okay. I'm going to open a new pull request.

[2015-02-09 19:23] stiff commented on #16238
It's still causing problems in 4.0.13 and 4.2.0.

[2015-02-09 19:57] sgrif commented on #18862
This is the expected behavior. Scopes are executed in the context of the "current_scope", which is in this case the relation that you called the next scope on. You should use `unscoped` for this case.

[2015-02-09 19:58] #18862 closed

[2015-02-09 20:16] stiff commented on #18862
It is expected that static class methods called directly on the class behave differently? ok.

[2015-02-09 20:20] rafaelfranca commented on #18862
Yes, it is. It is the same as:

[code]

The current scope inside that block is the `where(foo: 'bar')`. Like @sgrif said you have to call `unscope` if you don't want to apply the `current_scope`

[2015-02-09 20:45] stiff commented on #18862
Thanks!

[2015-02-09 20:50] stiff commented on #12753
Why not assign indexes right before execution, say in `ActiveRecord::ConnectionAdapters::DatabaseStatements#to_sql`? Otherwise it seems to be very tricky and database-tied.

[2015-02-09 21:02] sgrif commented on #12753
That's what we do, though we handle it somewhere that isn't a performance hit.

[2015-02-09 21:03] sgrif commented on #12753
Can someone confirm whether this issue still exists? I believe it's been resolved on both 4.2 and 4.1

[2015-02-09 22:12] stiff commented on #12753
In 4.2 it seems to be fixed! In 4.0.13 still remains.

[2015-02-09 23:17] matthewd commented on #12753
Thanks!

4.0 is no longer supported.

[2015-02-10 00:55] brandonweiss opened #18864 "Rename transactional fixtures to something clearer and more descriptive"
I think the name "transactional fixtures" is a little misleading and confusing, because (as far as I can tell) it doesn't really have anything to do with fixtures.

This is pretty embarrassing, but I've been using Rails almost since 1.0 and I had no idea that transactional fixtures were running on my tests. I don't use fixtures so I just erroneously assumed that feature didn't work for me. I've be

[2015-02-10 01:29] brocktimus commented on #12753
@sgrif @matthewd it isn't fixed in 4.1. Not saying issue should be reopened but letting you all know if you thought it was fixed. Error has changed slightly to...

[code]

When using reproduction script from above (and changing rails AR to 4.1.9).

[2015-02-10 03:00] matthewd commented on #12753
Hmm. Given how long it's been broken, I'm tempted to just declare 4.2 good enough -- if 4.1 is still no go, then I imagine it'd be non-trivial to improve. @sgrif?

[2015-02-10 03:05] sgrif commented on #12753
It actually is supposed to be fixed on 4.1. Has anyone checked on 4-1-stable?

[2015-02-10 03:14] brocktimus commented on #12753
Same error as above when running again 4-1-stable.

I wrote a failing test that might be useful to import into AR, failing test available in #17185. I couldn't even get close to fixing it though without breaking a huge amount of things. Might be worth putting on master as well as  a regression test, even though it will be passing there already.

[2015-02-10 03:16] sgrif commented on #12753
I'll take a look. It should be pretty simple to fix (famous last words, I know)

[2015-02-10 03:16] brocktimus commented on #12753
:heart:

[2015-02-10 05:48] roberts1000 opened #18868 ""Invalid default value" in migrations on Rails 4.2.0 with mysql2 gem"
I just upgraded from 4.1.9 to 4.2.0.  I happened to rerun all of my migrations on a new development machine and received the following error:

`Mysql2::Error: Invalid default value for 'preview': ALTER TABLE 'blog_posts'  CHANGE 'preview' 'preview' tinyint(1) DEFAULT 'f' NOT NULL/Users/dev/.rvm/gems/ruby-2.2.0/gems/activerecord-4.2.0/lib/active_record/connection_adapters/abstract_mysql_adapter.rb:

[2015-02-10 08:43] jimmykarily commented on #18858
Sure. There you go:
https://github.com/jimmykarily/sample_app_rails_issue_18858

(I didn't use devise to reproduce it since it is irrelevant with the bug.)

[2015-02-10 08:44] jvanbaarsen commented on #18858
@jimmykarily Ok, good to know that Devise is ruled out!
@zzak Can you add the label "With reproduction steps"?

[2015-02-10 09:15] vsorlov opened #18869 "engines routes don't work in render_to_string"
Hi, I have an engine in my app and I'm trying to `render_to_string` a template, that uses engine routes helper.
So I'm rendering with `ApplicationController.new.render_to_string...`
In the main app routes.rb I mounted the engine to `my_engine_name`, so in my template I use `my_engine_name.some_path`.

Main app routes works ok when rendering through `render_to_string`, because they are generated th

[2015-02-10 12:33] georgemillo commented on #18864
+1

[2015-02-10 12:42] knagode opened #18870 "Error handling of to_many relation with accepts_nested_attributes_for indexes problem"
I have vehicle has many vehicle_services relation. I am trying to insert vehicle_services via accepts_nested_attributes_for method.

Vehicle.rb
[code]

If I try to save vehicle with not valid vehicle_services params I do not get information about which child relation did cause error(s).

Method:
[code]

Outputs:

[code]
In vehicle variable I didn't get any information about which vehicle_service i

[2015-02-10 13:35] nartzmag opened #18871 "ActiveRecord 4.2: Defined ordering of Attributes Keys() on Model Instances"
It seems that the ordering of attribute keys is not always the same for instances of the same model - i.e.

Post.find(1).attributes.keys != Post.find(2).attributes.keys

This is confusing - i would expect keys to always be sent in the same order, i.e. the same order as Post.column_names. Especially since ruby has added ordered hashes (via insert ordering) - I would imagine this could be an assumpt

[2015-02-10 13:41] rafaelfranca commented on #18871
You should not expect hashes in Ruby to be ordered. There is no reason to us to order the hash and add performance penalty to everyone if the mostly part of people don't need it to be ordered

[2015-02-10 13:42] epidemian commented on #15668
@KeithYJohnson, sorry for taking too long to answer. I haven't tried your example, but it doesn't seem like the same issue, as it has no nested constrains. Have you tried debugging it and seeing what `req.format` returns inside the constraints' lambdas?

Also, in this case you might be able to use a hash with a regex for the constraint, as you're matching something [on the Request object](http://g

[2015-02-10 14:00] nartzmag commented on #18871
I think you should take a deeper look at this - because the underlying implementation has changed from 4.1.8 to 4.2, and I think it should be changed back, or at least documented properly as a large change.

This appears to be broken from 4.1.8 to 4.20 -

4.1.8
`
def attributes
  attribute_names.each_with_object({}) { |name, attrs|
    attrs[name] = read_attribute(name)
  }
end
`
https://github.co

[2015-02-10 14:08] rafaelfranca commented on #18871
I'd say that it was never documented to be ordered and like I said you should not expect it.

The documentation only said:

Not a `hash with all the keys ordered in the insertion order.`

If you need them ordered just call `sort` in your application.

[2015-02-10 14:13] nartzmag commented on #18871
Fair enough. I still disagree, i think that it would be nicer to keep them in the same order as the column names. Calling 'sort' will not give me the original order of the column names, instead i would have to get this hash and enumerate through the column names looking them up in the attributes, which the original method achieved, but is now lost. Also, calling sort on each row of, say, a csv fil

[2015-02-10 14:21] rafaelfranca commented on #18871
I think it is possible, just not needed. Could you explain why you need it
in a specific order? That may help to make a decision if we change it to
return that order or not.

On Tue, Feb 10, 2015, 12:13 nartzmag <notifications@github.com> wrote:

[2015-02-10 14:37] nartzmag commented on #18871
What i really want to know is simply how to get the values returned in the same way as the column names, for say, when i generate a CSV

[2015-02-10 14:38] rafaelfranca commented on #18871
And column names are ordered by name?

[2015-02-10 14:39] nartzmag commented on #18871
No - by the default ordering on the table itself - the same as what is returned by say Post.column_names

[2015-02-10 14:44] rafaelfranca commented on #18871
Worth to investigate to see if ordering attributes will give any performance penalty.

cc @sgrif

[2015-02-10 14:45] sgrif commented on #18871
Reading through now.

[2015-02-10 14:46] sgrif commented on #18871
I agree with Rafael that you should not rely on hashes being ordered. The fact that they are in MRI is an implementation detail not something to rely on as part of the language.

[2015-02-10 14:47] sgrif commented on #18871
Yes I can make them ordered. It'll cause a performance hit, but I'm not too worried about it as `attributes` is usually a debugging method not one used in production code.

[2015-02-10 14:49] nartzmag commented on #18871
Thats fine, I'm wondering if the Api itself plans on providing a method to
return values ordered by the default table ordering, or if that's left to
the user.
On Feb 10, 2015 9:47 AM, "Sean Griffin" <notifications@github.com> wrote:

[2015-02-10 14:52] sgrif commented on #18871
Its not a major concern of mine personally, but I can definitely make `attributes` ordered and I'll glance through to see if there's any easy inconsistencies in the more performance critical code.

[2015-02-10 14:57] nartzmag commented on #18871
cool - thanks for taking a look - i'm curious though -

`as attributes is usually a debugging method not one used in production code.`

Is there a better method for returning the values in production code that I should be using that can be called on a model instance?

[2015-02-10 14:59] sgrif commented on #18871
Not a hash of all of the values. Usually you'd just use your model directly if you need all of its attributes.

[2015-02-10 15:01] nartzmag commented on #18871
Sorry - i meant just an array of the database 'row' ?

[2015-02-10 15:03] sgrif commented on #18871
Not in the public API. Same answer as before

[2015-02-10 15:03] nartzmag commented on #18871
alright cool -thanks for your help!

[2015-02-10 15:23] #18871 closed

[2015-02-10 15:46] rafaelfranca commented on #18870
This is a dup of #8638

[2015-02-10 15:46] #18870 closed

[2015-02-10 15:51] FlowerWrong opened #18873 "Rails generator generator initializer, but could not find generator 'initializer'."
Hello! Everyone, I want to create a custom generator with rails 4.2.0. But something was wrong.
I followed this guide. [Creating and Customizing Rails Generators & Templates](http://guides.rubyonrails.org/generators.html).
These are my cmds.

[code]

[2015-02-10 15:57] sgrif commented on #12753
Fixed in https://github.com/rails/rails/commit/ac1fbc1734a86d000a9da2b016b523c11a3c7781

[2015-02-10 15:57] #12753 closed

[2015-02-10 15:59] rafaelfranca commented on #18873
I could not reproduce.

[code]

I believe it is related to spring being running.

[2015-02-10 17:50] dhh commented on #18873
Running `rails generate generator` should restart Spring. Let's make that so.

[2015-02-10 17:52] dhh commented on #18873
@jonleighton What's the best way to hook into Spring to make this happen?

[2015-02-10 17:53] dhh opened #18874 "Expand the default watch list for Spring"
Here's what we use in Basecamp:

[code]

All these make sense as triggers for Spring reloading.

We should make sure that Spring reloading happens on all the common cases. This is a start.

[2015-02-10 18:07] dhh opened #18875 "rake dev:cache"
It's common to want to test the caching strategy of your app in development mode. A simple pattern to dealing with toggling that on/off is using a file like tmp/caching-dev as a trigger, and then have something like this in config/environments/development.rb:

[code]

Let's expose that pattern fully with a toggle through `rake dev:cache` which will turn caching on if it's off and vice versa. And t

[2015-02-10 18:13] vipulnsward commented on #18875
Nice :+1:
Would be pretty useful!

[2015-02-10 18:16] dhh opened #18876 "rake restart"
Wrap up the pattern of `touch tmp/restart.txt` as a rake task, so others can depend on it, like `rake dev:cache`. Also allows us to document the feature.

[2015-02-10 19:24] dhh opened #18878 "Having both rails and rake commands is confusing: Just use rails as the command router."
Some commands live under `rails` others under `rake` and to the user it's not clear that there's a rhythm nor rime. Let's route all the rake commands through the rails command. It's still helpful and useful to use rake tasks such that we can allow others to declare task dependencies and such, but there's no reason it has to be exposed through rake on the CLI.

So after this, it should be `rails te

[2015-02-10 19:29] dhh commented on #18876
This will now be `rails restart` following #18878 (but should still be implemented as a rake task, so other tasks can declare dependency on it).

[2015-02-10 19:29] dhh commented on #18875
This will now be `rails dev:cache` following #18878 (but should still be implemented as a rake task, so other tasks can declare dependency on it).

[2015-02-10 19:32] teknull commented on #18878
I have to say thanks for this.  Routing all rake tasks through the rails command really keeps things clean.  Can't wait until this is implemented.  Any chance of backporting to 3.2 4.1 4.2?  I'm sure tons of people would love this.

[2015-02-10 19:34] rafaelfranca commented on #18878
@teknull we don't backport any new feature, sorry.

[2015-02-10 19:37] teknull commented on #18878
@rafaelfranca I figured that was the case, but one can dream.  Some of us still have 3.2 apps floating out there. :)

[2015-02-10 19:38] rafaelfranca commented on #18878
Yeah. I'm in the same boat :cry:

[2015-02-10 19:58] FeGs opened #18879 "weird variant template rendering"
**To reproduce a bug**
Clone https://github.com/FeGs/rails-variant-bug, and type `rake`.

**Summary**

When accessing '/posts.html', application renders a template 'index.html+tablet.erb'. Is it correct behavior? (Rails 4.2.0)

[code]

[2015-02-10 20:48] stiff commented on #12753
It would be great to add failing test to ensure it's really fixed, because the test I tried ( https://gist.github.com/stiff/4d435d5744ed83d7e6ed ) is working even in 4.1.9 without the error mentioned by @brocktimus.

[2015-02-10 21:39] kaspth commented on #18879
It's not a bug. Rails has an implicit render call that will look for a template with action.format+variant.erb in its name.
You could just as well leave out the respond_to block here and Rails would still render the other templates if you set the right format and variant.

[2015-02-10 21:39] #18879 closed

[2015-02-10 22:24] KeithYJohnson commented on #15668
@epidemian your suggestion worked thanks so much!

[2015-02-10 22:43] jaredbeck commented on #18469
Sean, to clarify, when you say "backport arel", you're suggesting a new release of arel, e.g. 5.0.2?

@rafaelfranca I remember reading your kind offer to backport bug fixes to 4-1-stable.  Is the commit Sean mentioned something you'd feel comfortable backporting?

[2015-02-11 00:31] zzak commented on #18028
This should be closed as of cd7cc5254b090ccbb84dcee4408a5acede25ef2a

[2015-02-11 00:31] #18028 closed

[2015-02-11 00:31] zzak commented on #18005
This should be closed as of cd7cc5254b090ccbb84dcee4408a5acede25ef2a

[2015-02-11 00:31] #18005 closed

[2015-02-11 01:11] thedarkone commented on #18871
I'm worried that - in the future - we might regret having a semi-implicit (it is not in the docs, but there is now a test asserting it) guarantee about the order of `.attributes`.

What's wrong with doing `Post.first.attributes.values_at(*column_names)`?

[2015-02-11 01:28] egilburg opened #18887 "Rails application config i18n.config.enforce_available_locales is ignored with I18n 0.7.0"
We have several apps some of which support a different subset of locales, so we'd rather ignore (and default to English) unknown locales requested by another app than raise an error.

My application.rb config has:

`config.i18n.enforce_available_locales = false`

After upgrading I18n gem from 0.6.11 to 0.7.0, I started getting following error:

[code]

I can fix it by setting the following line in

[2015-02-11 01:31] egilburg commented on #18887
Nvm, this is fixed in 4.1.9 and I'm on 4.1.8

[2015-02-11 01:31] #18887 closed

[2015-02-11 04:04] nartzmag commented on #18871
I think it makes sense to have, as part of the public api, a way to get the
actual database row - almost every driver exposes this basic functionality.
My own ( but possible biased?) opinion is that this is the minimum a model
should offer, simpler APIs to do straightforward things. I actually think
this could be a place to guarentee ordering.
On Feb 10, 2015 8:12 PM, "thedarkone" <notifications@g

[2015-02-11 04:22] sgrif commented on #18871
I would like to express that my fixing this does not make it part of the public API. I absolutely agree with @thedarkone's concerns. Please do not read too much into this fix. It was made because it was convenient, not because I'd like to maintain this behavior long term.

[2015-02-11 07:32] senny commented on #18876
This should probably restart `spring` as well.

[2015-02-11 07:55] fabioanselmo opened #18893 "Rails bug? ActiveRecord invalid data..."
Rails ActiveRecord is not returning accurate data.

    2.1.3 :072 > ids = [290, 291]
     => [290, 291]
    2.1.3 :073 > pp ShortLink.where(id: ids)
      ShortLink Load (0.6ms)  SELECT "short_links".* FROM "short_links" WHERE "short_links"."id" IN (290, 291)
    [#<ShortLink:0x007f9ab317b1f0
      id: 290,
      redirect_to: "http://aol.com",
      title: "AOL - News, Sports, Weather, Entertainm

[2015-02-11 08:04] yesmeck commented on #18893
If you are looking for some column is NULL or NOT NULL, you should always use `ShortLink.where(id: ids).where('title IS NOT NULL OR screenshot IS NOT NULL')`, because in SQL, NULL is not equals anything, even NULL is not equals NULL.

[2015-02-11 08:08] fabioanselmo commented on #18893
@yesmeck You're suggestion worked for me. Thanks for the help!

[2015-02-11 08:08] #18893 closed

[2015-02-11 08:10] yesmeck commented on #18893
@fabioanselmo :smile:

[2015-02-11 09:53] sivsushruth commented on #18893
Fabio,

not (A or B) is equal to (not A )and (not B.)
And, not(A and B) is equal to (not A) or (not B)
So your statement is actually -> where title and screenshot, both are not
nil
To quickly achieve what you want, convert the OR to AND.

Correct me if I am wrong.
ᐧ

On Wed, Feb 11, 2015 at 1:26 PM, Fabio <notifications@github.com> wrote:

[2015-02-11 10:22] senny commented on #18664
A quick update. This bug was present on `master` as well. See https://github.com/rails/rails/commit/a893718c3165aa6ef6b2b500f7922954ba21eb02

Having the flag makes the generator output a lot nicer. I'll look into a possible backport for `4-2-stable`.

[2015-02-11 12:11] runephilosof commented on #18376
@rafaelfranca You say that rails 3 doesn't support Ruby 2.2 officially. I cannot find that anywhere.

The only reference to ruby versions I can find is in the getting started guide, where it says to use 1.9.3 or higher.
http://guides.rubyonrails.org/v3.2.21/getting_started.html

[2015-02-11 13:31] bendilley opened #18897 "Unexpected behaviour for `none` scope"
[code]
creates a clause like
[code]
which is exactly the same as you get with
[code]
This is contrary to what I think most would expect.

I'm not sure how this particular scenario should be addressed. One option might be to generate something like this instead:
[code]

[2015-02-11 13:41] dziulius commented on #18878
How about also fixing environment setting for rails command?
```rails server -e some_env```
```rails console some_env```

[2015-02-11 13:41] kaspth commented on #18897
The `none` relation was meant to be used in queries like this.

Honestly I'm having trouble understanding what you're trying to fetch. Won't `where(post_id: nil)` work?

[2015-02-11 13:53] senny commented on #18897
Probably related to #15763

@kaspth the use case I can see is that you have a method which determines the subquery using a relation. That method could return `Post.none` in some cases and a different relation in others.

[2015-02-11 13:55] kaspth commented on #18897
@senny :+1: that would make sense.

[2015-02-11 13:56] senny commented on #18897
@bendilley what version of Rails are you using?

I remember working on that exact issue. See #15176 and https://github.com/rails/rails/commit/c2357eba4d63a3365601267a55f56853eabd8971

[2015-02-11 14:21] bendilley commented on #18897
@senny I'm using Rails 4.0.12

You're right - your commit does address this very problem. From which version of Rails is your fix applied?

[2015-02-11 14:34] bendilley commented on #18897
Oh I see - it's in 4.2.0. Thanks for your help @senny!

Closing as a dupe of #15176

[2015-02-11 14:34] #18897 closed

[2015-02-11 14:34] senny commented on #18897
@bendilley I just checked and the patch is only applied on `4-2-stable` and `master`. I'll look into a possible backport to `4-1-stable`.

As far as I know the last bugfix release for `4.0.` is over so you'd have to upgrade.

[2015-02-11 14:36] tinco opened #18898 "Activerecord::Associations has autoloads that are not eager loaded"
Hi,

I'm not sure why this hasn't been noticed by anyone else before, but `lib/active_record/associations.rb` has this comment:

[code]

Which is not actually true, and we are running into LoadErrors in our production systems because these files are being loaded during requests. The solution would be to wrap these in eager_load blocks as well.

Same for `lib/active_record/associations/join_depende

[2015-02-11 14:45] bendilley commented on #18897
No worries, thanks @senny. I have a serviceable workaround for now - I just wanted to raise it coz it caught me out. Evidently I wasn't alone... I guess I didn't search existing issues thoroughly enough :sweat_smile:

[2015-02-11 15:24] dhh commented on #18876
:+1:

[2015-02-11 15:48] senny commented on #18897
backported the patch to `4-1-stable`.

@bendilley thank you for reporting! :yellow_heart:

[2015-02-11 16:20] senny commented on #18664
Fixed and backported to `4-2-stable`.

@demery thank you for reporting. :yellow_heart:

[2015-02-11 16:20] #18664 closed

[2015-02-11 16:42] karlingen opened #18899 "ActiveJob + Sidekiq: Add possibility to pass options to deliver / deliver_later"
Would be nice if we could pass options to above methods so that gems such as Sidekiq would be able to use these options in different circumstances.

For instance, before ActiveJob was implemented in Rails one could add `.delay(retry:false)` to any mailer class so that Sidekiq would stop retrying e-mail sending when delivery failed.

For now, has anyone found a workaround for this?

[2015-02-11 16:43] rafaelfranca commented on #18899
There is already a thread about it in the Rails Core mailing list. Also we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-02-11 16:43] #18899 closed

[2015-02-11 16:49] karlingen commented on #18899
@rafaelfranca sweet, didn't know that!

For anyone that might come across this issue, check here: https://groups.google.com/forum/#!topic/rubyonrails-core/r_incU_gtcw

[2015-02-11 17:04] dhh opened #18900 "Merge multi-fetch fragments into core"
Using multi_get is a major level-up for performance when iterating over multiple items. This gem makes that happen when rendering a collection: https://github.com/n8/multi_fetch_fragments.

The one improvement I'd like to see is that the partial being rendered should still be able to have it's own caching call that's used when the partial is referred to on it's own, but this call obviously needs t

[2015-02-11 17:30] kaspth commented on #18900
I know it's an MIT license, but are the people in charge of that gem onboard with this?

[2015-02-11 17:33] rafaelfranca commented on #18900
@kaspth yes. Just asked this in the Campfire Room

[2015-02-11 17:35] kaspth commented on #18900
Great :+1:

[2015-02-11 17:35] dhh commented on #18900
Yep! Spoke to @n8 about it this morning. He doesn’t have time to pursue it at the moment, but would love it in Rails.

[2015-02-11 17:40] n8 commented on #18900
:+1:  from me. I don't have time to do it this very moment myself, so happy to see anyone else want to take it up.

[2015-02-11 17:45] kaspth commented on #18900
@n8 Great to hear we can sprinkle in a little of that leftover Hope and Change :smile:

[2015-02-11 17:53] dhh commented on #18900
I don’t think there’s actually any left, /play sadtrombone

[2015-02-11 17:54] kaspth commented on #18900
Ah well, let's just move Forward then!

[2015-02-11 18:40] dhh opened #18902 "rails routes -g pattern to search for specific routes"
This is a common pattern: `rake routes | grep pattern`. Let's bake it into the command once we have #18878 in place with `rails routes -g pattern`.

[2015-02-11 18:46] sgrif commented on #18898
Can you create a simple Rails app which demonstrates the issue?

[2015-02-11 18:59] chancancode commented on #18902
We have some pretty nice fuzzy search thing for the routes error page :wink: do we need to match that experience?

[2015-02-11 18:59] chancancode commented on #18902
https://github.com/rails/rails/pull/14619

[2015-02-11 19:00] jeremy opened #18903 "before_commit"
We often want to defer work until just before a transaction commits. That lets us do nice things like coalesce repeated action within a transaction (e.g. event creation, audit trailing, and attribute updates) and perform them just once.

This'll also let us coalesce repeated `#touch` into a single touch per transaction.

[2015-02-11 19:01] dhh commented on #18902
We should share the behavior between the two.

[2015-02-11 19:05] georgebrock commented on #18902
What's wrong with `rake routes | grep <pattern>`?

Learning this pattern teaches users how to filter the output of any command, but a flag for `rake routes` (or `rails routes`) only teaches users how to filter their Rails routes. Unix command line interfaces have always been designed to be single-purpose, composable tools.

[2015-02-11 19:06] jeremy opened #18904 "Commit callbacks that don't automatically enroll the record in the transaction"
When a class has an `after_commit` callback, any `#save`/`#destroy`/etc on that record will add it to a list of records on the transaction. When the transaction commits or rolls back, it'll call back to all its enrolled records.

In some cases, we know better when these callbacks need to fire. For example, if a record has an attachment, its `after_commit :enqueue_backup` needs to fire. If it doesn

[2015-02-11 19:08] dhh commented on #18902
George, because we can share behavior with the fuzzy matching we already have. And because it’ll work on all platforms.

[2015-02-11 19:10] jeremy opened #18905 "`:time` option for `#touch`"
`#touch` always uses the current time. If we want to touch with a different time, we have to do it ourselves. That makes it awkward to touch a record to match another record, to touch a record with current transaction time, to touch with an associated file's mtime, or to touch with a previous time reflecting an earlier occurrence.

We can take an optional `time:` argument that defaults to `current

[2015-02-11 19:11] georgebrock commented on #18902
@dhh Something that works on non-Unix platforms makes a lot of sense. Thanks for clarifying.

[2015-02-11 19:13] chancancode commented on #18902
Actually, the fuzzy matching was implemented in JavaScript :P But as long as we can confirm that's the experience we want, I'm sure an Open Academy student will be able to figure something out :wink:

Another advantage of an in-command search is that it could keep the headers and grouping (e.g. `Routes for Some::Engine:` intact) :smile:

[2015-02-11 19:15] dhh commented on #18902
:+1:

[2015-02-11 20:47] sgrif commented on #18806
This is fixed on master. I'm not sure that we want to back port this to 4.2 though, as it could interact poorly with deprecated finders.

[2015-02-11 20:48] #18806 closed

[2015-02-11 20:48] rafaelfranca commented on #18806
I don't think it is safe to backport

[2015-02-11 20:55] sgrif commented on #18868
I was unable to replicate the problem with the information given. Can you provide a script that we can use to reproduce the issue, using this template? https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-02-11 21:08] sgrif commented on #18729
Any update on this?

[2015-02-11 21:20] sgrif commented on #18387
Yeah, this is definitely working as intended on 4.2. I can make this happen for 5.0, though.

[2015-02-11 22:04] #18387 closed

[2015-02-12 01:26] sgringwe commented on #18729
@sgrif no, unfortunately not

[2015-02-12 04:18] hundredwatt commented on #18633
I played around with this and it looks like Rails is forcing a choice between:

1. Not reloading inverse associations after a stale state change, as @GCorbel  found in 05b178085a2ad3bf3f2c0dcd1ea40fb5e8c8dc0d
2. Automatically reloading loaded associations after a foreign key change

If we keep the current `stale_target?` implementation, we get 1, but not 2. If we change to `(!inversed? || loaded?)

[2015-02-12 09:16] herophuong commented on #16971
In my case, first I used ActiveRecord::Store to serialize some attributes into one column of type `text` with this (1):

[code]

And then I tried to migrate this column into `json` using this code (2):

[code]

Then changed the way my model accesses the attributes (3):

[code]

In development, running (2) before (3) has no problem. But when I deployed this code to Heroku, because (3) was already t

[2015-02-12 09:22] senny commented on #16971
@herophuong this is not something we can solve. That's the reason why you should not use your applications models in migrations. It's better to define a throw-away model inside your migration class and make sure that one has the right configuration:

[code]

[2015-02-12 11:00] masterkain commented on #18211
I have the same issue:

[code]

leads to:

[code]

[2015-02-12 12:32] cristianbica commented on #17629
@devmarwen @paezao  Is it possible that the job is raising an exception? That's the only cause where I think that the after callbacks are not being called

[2015-02-12 13:03] paulociecomp commented on #18868
i tried  to reproduce with the test https://github.com/paulociecomp/issue_18868. It's run fine.

[2015-02-12 13:36] rewritten commented on #18855
:+1: I was about to open an issue exactly for the same reason.

The critical path seems to pass through https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/routing/mapper.rb#L1684, where one could have this:
[code]
or another opt-in way

[2015-02-12 14:09] gjastrab commented on #10658
Yes having this problem as well.  We have an abstract base class with some included model concerns in it that many of our other core models inherit from.  Scopes defined in those model concerns are having this problem.  Does #10862 not correct it?

[2015-02-12 14:19] sgrif commented on #18633
Yeah, this roughly sums up my feelings on the matter as well. I don't think there's a solution at the moment that will solve all sides of this issue.

[2015-02-12 14:19] #18633 closed

[2015-02-12 14:33] runephilosof commented on #17368
Actually, it would be nice it this could be changed in rails 5.
I would like the assignment of a `has_one, has_many, has_and_belongs_to_many` to not save automatically be default, but instead do the same as the `collection.build` method.
This would be way more intuitive.

[2015-02-12 14:55] rafaelfranca commented on #17368
We don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-02-12 14:55] #17368 closed

[2015-02-12 16:11] perceptec commented on #18847
I'd appreciate some grown-up eyes on my last commit--I've tried to account for the threading discussion above (and wonder if it couldn't be more idiomatic in its current form, though that's a lesser consideration).

[2015-02-12 16:55] rafaelfranca commented on #18847
What if, we use contexts to implement this feature instead of adding a new method and a new concept?

[code]

[code]

[2015-02-12 16:59] dhh commented on #18847
Then the comment has to know about all the concerns that might do stuff to it. That seems highly coupled.

[2015-02-12 17:07] rafaelfranca commented on #18847
Right, make sense.

I have a bad feeling about this feature and I believe it will lead to a lot of bad usages but it is just a feeling at this point.

I don't have any more arguments besides the one already presented by you in the issue description about the factories (or whatever people want to call that pattern).

I already tried both approaches (the factory and the suppressing using contexts) i

[2015-02-12 17:09] perceptec commented on #18847
:airplane: Holding at this flight level . . .

[2015-02-12 17:12] devilankur18 commented on #14493
+1

[2015-02-12 17:13] dhh commented on #18847
I’m using this pattern at the moment in Basecamp and like it. As a general rule, I don’t find “people might cut themselves with a sharp knife if they wield it wrong” as a good direction for design. Rails should be full of both spoons, forks, and also some sharp knifes.

[2015-02-12 17:13] lichtamberg commented on #14493
Have the same problem again... ALso with 3.2.20..

[2015-02-12 17:20] rafaelfranca commented on #18847
:+1: I was just trying to give a better shape to our Ginsu knife and not hurt ourselves leaving it without a handhold.

[2015-02-12 17:26] dhh commented on #18847
Haha, it sounded like "they can't handle the Ginsu, give them a fisher price" :).

If you don't mind tying your Comment implementation to a concern like Copyable, then context is a fine approach imo. I don't think comment should know about Copyable, unless it's Copyable itself (which in my case it is not).

[2015-02-12 17:49] JamesJahraus commented on #13851
Maybe this can help http://api.rubyonrails.org/classes/ActionController/TestCase.html

"Functional tests allow you to test a single controller action per test method."

The problem may be having two get requests, which is more for ActionDispatch::IntegrationTest

Ruby on Rails 4.2.0
Class
ActionController::TestCase < ActiveSupport::TestCase
actionpack/lib/action_controller/test_case.rb
railties/li

[2015-02-12 17:51] sonali1908 opened #18913 "Broken Assets Pipeline Rails 4"
These tags:
`<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>`

are resulting in:

`<link rel="stylesheet" media="all" href="/stylesheets/application.css">
<script src="/javascripts/application.js">`

instead of the fingerprinted links.

I am running my app on Ubuntu Ruby on Rails on 14.04 (Nginx + Unicorn) on digitalocean. I have done rake:asse

[2015-02-12 17:53] rafaelfranca commented on #18913
Are you running in development or production environment?

Also which version are you using?

[2015-02-12 17:55] sonali1908 commented on #18913
production. It is rails 4

[2015-02-12 17:55] rafaelfranca commented on #18913
4.0.x, 4.1.x or 4.2.x?

[2015-02-12 17:56] rafaelfranca commented on #18913
Also,  Can you please provide a sample application that reproduces the error?

[2015-02-12 17:59] sonali1908 commented on #18913
It is rails 4.1.6

What should I share?

[2015-02-12 18:03] rafaelfranca commented on #18913
How to reproduce it. Because a new application doesn't reproduce this error. If you could build a new application and make it reproduce the error that would help.

[2015-02-12 18:16] sonali1908 commented on #18913
My application was actually running fine until a few days back. So I believe something has broken down in settings. I am uncertain if a new application will produce the same error.

[2015-02-12 18:19] rafaelfranca commented on #18913
It would be hard to us fix or provide any help if we could not reproduce the problem or even know what is the state of the configuration/application.

[2015-02-12 18:22] sonali1908 commented on #18913
Should i share the config folder?

[2015-02-12 18:23] rafaelfranca commented on #18913
You can paste the application.rb, assets.rb and production.rb here if you want.

[2015-02-12 18:27] sonali1908 commented on #18913
Application.rb

require 'rails/all'
require 'sprockets/railtie'
Bundler.require(*Rails.groups)

module Ocean
  class Application < Rails::Application
    config.assets.precompile += %w(*.png *.jpg *.jpeg *.gif)
    config.action_mailer.default_url_options = { host: 'abc.com' }
    config.assets.paths << Rails.root.join("app", "assets", "fonts")
    Koala.config.api_version = 'v2.0'
  end
end

[2015-02-12 18:29] sonali1908 commented on #18913
Assets.rb

Rails.application.config.assets.version = '1.0'

[2015-02-12 18:32] sonali1908 commented on #18913
Production.rb

config.cache_classes = true
config.eager_load = true
config.consider_all_requests_local       = false
config.action_controller.perform_caching = true
config.serve_static_assets = true
config.assets.js_compressor = :uglifier
config.assets.compile = false
config.assets.digest = true
config.log_level = :info
config.i18n.fallbacks = true
config.active_support.deprecation = :notify
confi

[2015-02-12 18:34] rafaelfranca commented on #18913
I could not see anything wrong in your configuration.

I don't see how I could help you more just with this information.

Let me know if you could track down the cause.

[2015-02-12 18:34] #18913 closed

[2015-02-12 20:18] bogdan commented on #18743
Hm, crazy use case, but looks reasonable enough.

@rafaelfranca #18744 looks good.

[2015-02-12 20:44] sharvy commented on #18847
@dhh, if I want to suppress more than one model? And I think if we could do something like this, wouldn't it be simpler?

comment.save!({suppress: [:notification, :email]})

Sorry, if I said something funny. :)

[2015-02-12 21:12] dhh commented on #18847
Sharvy, I prefer the suppression to be explcitly from the perspective of the model being suppressed. So:

[code]

[2015-02-12 22:20] sharvy commented on #18847
@dhh got it. Thanks a lot.

[2015-02-13 02:58] brentdax opened #18921 "Controller views and mailer views have no shared directory for partials"
Views rendered by controllers all share the `application` directory, which makes it a convenient place to put shared partials. However, views rendered by mailers share the `application_mailer` directory instead. That means there's no good place to put shared partials without putting them in a `shared` folder and prefixing all references to them, which seems to be out of style right now.

For examp

[2015-02-13 05:45] roberts1000 commented on #18868
Sounds good.  I'll try and get you guys something that's reproduceable next week.

[2015-02-13 10:08] waiting-for-dev commented on #18878
Shouldn't be better to only use `rake` and let to the `rails` command the only responsibility to create a new project? `rake` is the 'default' in all ruby world.

[2015-02-13 11:55] jarmo opened #18926 "ActiveRecord 4.2 serialize does not create initial coder instance"
In Rails 4.1, this code works as expected:
[code]

In Rails 4.2 this code fails, because `self.bar` is `nil`.

In other words - Rails 4.2 does not set initial value for serialized columns anymore. This change is not documented anywhere.

Change related with this issue seems to be this one from the changelog:
[code]

[2015-02-13 13:03] kiranterugu opened #18927 "upload files"
validates_attachment :resume,
    :presence => true,
    content_type: { content_type: "application/pdf",  } in this i trayed to give some other file validation but it show an error .error message is def new expected out of end

[2015-02-13 13:04] #18927 closed

[2015-02-13 13:05] rafaelfranca commented on #18926
You are looking the CHANGELOG of the master branch.

I'm sure this is by design. The default value of the column is nil, if you want it to be an empty hash I think you have to define it as the default value.

cc @sgrif

[2015-02-13 13:05] arunagw commented on #18927
Please ask technical questions at Stackoverflow or other forums.

This issues list is for Rails core bugs

[2015-02-13 13:09] jarmo commented on #18926
No, this is not expected behavior, because it did work differently before. Also the [documentation](http://api.rubyonrails.org/classes/ActiveRecord/Base.html) in paragraph `Saving arrays, hashes, and other non-mappable objects in text columns` says the following:
`When you specify a class option, the default value for that attribute will be a new instance of that class.`

Also, the examples there

[2015-02-13 13:13] dhh commented on #18878
rake has a variety of issues around parameter parsing that we want to get around to increase the comfort of the CLI. And besides the app generator, we have a bunch of other generators. So filing everything under rails and delegating to rake where we can makes the most sense to me.

[2015-02-13 13:47] rafaelfranca commented on #18926
Right, there is a test asserting this https://github.com/rails/rails/blob/cc08de856acab3f480eb76b3e80cf2ea7705c9b6/activerecord/test/cases/serialized_attribute_test.rb#L160-164.

So we will need a reproduction script with this template https://github.com/rails/rails/blob/4-2-stable/guides/bug_report_templates/active_record_gem.rb?

[2015-02-13 13:55] sgrif commented on #18926
Please check this on 4-2-stable as well

[2015-02-13 15:23] sgrif commented on #10658
This should be fixed on master. Can someone confirm?

[2015-02-13 18:48] mtarnovan commented on #18828
I have the same issue. After adding some svg assets, some requests are unbearably slow. The Rails log hangs after outputting the first line `Started GET...` and the request takes 30+ seconds to finish, although when it finishes the last line shows normal render times (~100 ms or so).

[2015-02-13 20:27] andyatkinson commented on #18905
@jeremy Does #18824 fix the issue? If not, is this something I could look at? I see there is an openacademy tag and I don't know whether that means it has been claimed. I don't see a specific assignee. Thanks.

[2015-02-13 22:31] arenoir opened #18929 "Associated objects being touched on touch."
According to the [documentation](http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#method-i-belongs_to)

However I am experiencing this behavior on touch as well.

[2015-02-13 22:41] kaspth commented on #18905
@andyatkinson A number of our Core Team members and Committers are mentoring students for Facebook's Open Academy and giving them tasks to work. Your interest is appreciated, but we have reserved the rights for the students (even if anyone in particular hasn't been picked yet).

Also @jeremy's [comment here](https://github.com/rails/rails/pull/18824#issuecomment-73949736) explains the relationship

[2015-02-13 22:49] dhh opened #18933 "Better access to request.variant"
Currently, `variant=` sets an ivar with an array of the options. So request.variant will return something like `[ :phone ]` if you set `request.variant = :phone`. That's cumbersome to deal with on query. You now have to do either `request.variant.first == :phone` or you have to do `request.variant == [ :phone ]`. It gets even worse if you set multiple variants, like `request.variant = [ :tablet, :

[2015-02-14 00:00] andyatkinson commented on #18905
@kaspth I'm an aspiring Rails contributor. If you see an issue that you think is not appropriate for the Open Academy group, please ping me about it, I'd like to take a look. Thanks!

[2015-02-14 00:22] simi commented on #18233
@dhh I spent some time with this and I think @al2o3cr is right here. We should deprecate `required: true` and add `optional: true`.

@sgrif Keyword arguments make sense here also, but it is not trivial change and all association macros should be updated also.

[2015-02-14 00:24] dhh commented on #18233
Agree, `optional: true` is the way to go :+1:.

[2015-02-14 03:14] georgeclaghorn commented on #18933
I'll take this.

[2015-02-14 03:39] egilburg commented on #18233
How feasible would it be do determine requirement based on db schema?

We are (or should be) encouraging good DB design for maintaining referential integrity instead of solely relying on validations which are not as consistent (e.g. model changes in future, application level bugs, batch jobs, performance-sensitive low-level updates, etc.

As such, if db table has `null: false` on a `belongs_to` fi

[2015-02-14 04:21] prathamesh-sonpatki commented on #18926
I tried to reproduce this but the test passes for me. Please check https://gist.github.com/prathamesh-sonpatki/33219a4f5af62c906b16

[2015-02-14 04:45] dhh commented on #18233
Not keen on tying this together. Lots of schemas out there that aren’t likely to change soon, and this change still makes sense for them.

[2015-02-14 06:59] chancancode commented on #16459
This is now fixed on master (Rails 5) via c51f9b6

[2015-02-14 06:59] #16459 closed

[2015-02-14 09:49] jarmo commented on #18926
I managed to reproduce it https://gist.github.com/jarmo/0c5ff28b32a9bfd8a9af

The problem is in line 22, where i'm using `attr_accessor`. I'm not sure why it's added there in the firts place, but it does not cause any problems in rails < 4.2.

As soon as i remove that line, then everything starts working again. So it seems that there is some conflict between `attr_accessor` and `serialize`, which

[2015-02-14 10:19] jarmo commented on #18926
I found out that i'm actually using `protected_attributes` gem and `attr_accessible` not `attr_accessor` so that initial finding is not the cause. Also, when using `rails console` then this problem does not exist, which means that probably some gem in test is to be blame, since there that problem exists. I'm trying to poinpoint the gem.

[2015-02-14 11:17] simi commented on #18233
@egilburg I think this can be added to gems like [schema_validations](https://github.com/SchemaPlus/schema_validations).

[2015-02-14 14:51] ekampp opened #18941 "fresh_when and expires_in sends message body agains http specs"
Hi everybody.

I just realized that using `fresh_when` and `expires_in` still uses time and effort to compile views and render then to the browser, even though the [http specification for 304](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html) specifically says that no message body should be send along with a 304 Not Modified status.

Quote from the page: The 304 response MUST NOT contain a m

[2015-02-14 15:10] TiuTalk commented on #18941
@ekampp

Could you please provide a snippet/gist of code to reproduce this issue? Maybe an unit test?

[2015-02-14 15:12] TiuTalk commented on #18822
@richardnuno Can you please provide a sample application that reproduces the issue?

[2015-02-14 16:51] ekampp commented on #18941
I looked into the issue further and realized that it's because I have the caching in an after_action filter. My bad. Sorry for the incorrectly raised issue.

[2015-02-14 16:51] #18941 closed

[2015-02-14 19:39] kaspth commented on #18900
I'm going to take a look at this.

[2015-02-14 20:02] dhh commented on #18900
Excellent, @kaspth. This should be a big performance boost for Russian doll style apps.

One approach I'd think to consider is for this to become fully automatic, though. Treat the caching dependencies like template dependencies in a sense, so the following would Just Work:

[code]

So like with template dependencies, the both of the render calls in index are able to deduce that they depend on thi

[2015-02-14 20:42] kaspth commented on #18900
By "explicit cache call in the render collection" are you talking about passing `cache: true`?

You say "able to deduce they depend on", but what does it mean for a collection to depend on an elements template? That the cache digest of the collection includes that template rendered in the context of the element?

Otherwise, I'm :+1: for trying to make it happen.

[2015-02-14 21:26] dhh commented on #18900
I mean you shouldn't have to pass `cache: true` if we can deduce from the partials you're rendering through the collection that they already match what we expect.

So `render @notifications` will lookup whether `notifications/_notification` partial has a `cache` call at the top, and if so, it'll do a multi_get automatically.

[2015-02-14 21:35] kaspth commented on #18900
Right, I'll ping you back when I have some code.

[2015-02-15 14:48] palkan commented on #18695
There is a bug in SchemaDumper, which doesn't set  `id: :uuid`.
Here is a [gist](https://gist.github.com/palkan/70b3cc8f1456c858824f) to reproduce.

Already fixed in master.

[2015-02-15 15:02] sgrif commented on #18695
That's not what the reported bug looks like

[2015-02-15 16:13] u007 commented on #18027
Hi

I think it has todo with mysql connection pool.
I was using faye on rails.. N there is some weird behaviours that caused to have many cinnections.
After separated the faye onto another rails instance with no mysql .. The problem seems to be no longer happening. Does this relate to the ongoing bugs that caused mysql connection issues with rails livestream?

Is there a way for me to do a unittes

[2015-02-15 16:16] palkan commented on #18695
@sgrif This is what the bug is really is)
To reproduce bug try [this](https://gist.github.com/palkan/70b3cc8f1456c858824f/d91ae190868832e8073ff8b8caf8094ae7158d0d):
run with `FAIL=1` env var to see the failure or without to see that everything is ok. That is, the error appears only when setting up database from schema dump, because the dump is incorrect (that's what previous gist about).

[2015-02-15 19:13] lucianosousa opened #18947 "update or update_attributes gives me an undefined method error"
Using the rails 4.2 here I'm receiving the following error:

[code]

Just following this error, I found a problem here:

[code]
I've 3 has many relationships in this model, and always when I just comment these lines it works. Of course I do not want to do this, then, I need to now it's a real bug or another problem in my code.

Cheers

[2015-02-15 19:22] sgrif commented on #18947
It's likely a bug in your code. The only reason `ite` would be `nil` is if `records.uniq` raised an exception. When you comment out the `ensure` block, do you get another exception?

[2015-02-15 19:36] lucianosousa commented on #18947
[code]

[2015-02-15 19:38] sgrif commented on #18695
@palkan You're right. I was looking at the wrong table. Thanks for looking into this.

[2015-02-15 19:38] #18695 closed

[2015-02-15 19:38] sgrif commented on #18947
Going to need more information than that. A stack trace would be a good place to start.

[2015-02-15 19:41] lucianosousa commented on #18947
[code]

I'm just following these errors, but my code looks really OK.

[2015-02-15 19:49] sgrif commented on #18947
The only reason that you'd be receiving that error is if the `hash` method on your model was returning a string. Have you by chance defined a method called `hash` on any of your models, or have a column/association/etc with that name?

[2015-02-15 19:52] lucianosousa commented on #18947
Yes man!
It's a legacy code I'm working. I removed this and everything is fine.
Now I need to know what to do with this method! ;)

Thank's so much!

[2015-02-15 19:52] #18947 closed

[2015-02-15 21:10] dhh opened #18950 "Deprecate assigns() and assert_template in controller testing"
Testing what instance variables are set by your controller is a bad idea. That's grossly overstepping the boundaries of what the test should know about. You can test what cookies are set, what HTTP code is returned, how the view looks, or what mutations happened to the DB, but testing the innards of the controller is just not a good idea.

The same goes for assert_template. This ties the test to t

[2015-02-15 23:05] joevandyk opened #18952 "callbacks inside objects created by Something.where(..).create keep the scope inside before_/after_ methods?"
Below is a reproduction script. Note that when `Something.all.to_sql` is called inside the callback method, the `age: 28` condition is used. When we call a normal method, the `age: 28` condition is not kept.

Is this a bug? Or expected behavior? If expected behavior, seems weird that the same method behaves differently when it's being used in an AR callback.

[code]

[2015-02-15 23:44] joevandyk commented on #18952
Here's a slightly different test case:

[code]

[2015-02-16 00:57] jkuchta opened #18953 "Connection left open after Application.initialize!"
I'm supporting a rails application using jruby and receiving an abandoned connection trace from Tomcat shortly after startup. I created a sample rails app (barebones) and adding some debugging statements to ActiveRecord and a stack trace from the def checkout method. It looks like a connection is checked out but never checked back in (after initialization finishes).

[code]

[2015-02-16 00:59] chrisjacob opened #18954 "Docs for json_escape may introduce XSS venerability if followed incorrectly."
Docs: http://api.rubyonrails.org/classes/ERB/Util.html#method-c-json_escape

For this example:
[code]

If I latter do the following then any evils scripts on ```currentUser.first_name``` would be run:

[code]

.... unless each piece of data inside the ```current_user``` hash had ```html_escape(s)``` or ```html_escape_once(s)``` run over it BEFOREHAND e.g.

[code]

I ran into this issue myself here

[2015-02-16 01:07] chancancode commented on #18954
Yeah, so this is basically client-side XSS: if you insert user-supplied data as `innerHTML`, then you will have a problem. In general, this is of a different problem domain (client-side scripting) than Rails itself, which is why we don't offer much guidance in our docs. The docs on [master](http://edgeapi.rubyonrails.org/classes/ERB/Util.html#method-c-json_escape) attempts to cover a little bit of

[2015-02-16 01:07] #18954 closed

[2015-02-16 01:19] chrisjacob commented on #18954
@chancancode

Yes that extra piece of information in the master docs is exactly what I feel was missing. Thank you!

[code]

[2015-02-16 03:07] jkuchta commented on #18953
I've opened a pull request for my suggested fix (https://github.com/rails/rails/pull/18955).

[2015-02-16 03:48] rafaelfranca commented on #18953
Does it happen with Rails 4? Rails 3 is not supported anymore.

[2015-02-16 04:25] jkuchta commented on #18953
I'm not sure, I know the connection libraries are quite a bit different between rails 3 and 4. I patched 3-2-stable, even though it's no longer supported it seems to still be somewhat maintained with new 3.2.x releases.

[2015-02-16 05:11] jkuchta commented on #18953
@rafaelfranca I've just tested Rails 4.2, the issue does not occur - the initialization code is much better.

[2015-02-16 05:33] hjoo commented on #18905
Hi, I'm working on this issue and am wondering if there's a clean way to have optional arguments in ruby?

[2015-02-16 08:49] odigity opened #18957 "ActiveRecord retrieves infinity dates from postgres as nil"
https://gist.github.com/odigity/561ec3dfd45108085a05

As you can see, I have no problem saving the value, but it comes back as nil.

Seems very similar to this issue: https://github.com/rails/rails/issues/544

(FYI-sevenseacat tried it on Ruby 2.2 with the same result)

[2015-02-16 09:58] prathamesh-sonpatki commented on #18957
Created a reproducible script using https://gist.github.com/prathamesh-sonpatki/668a93128bd460d2e165.

[2015-02-16 11:53] ledestin commented on #18859
https://github.com/ledestin/rails-bug-18859

URL of interest is /assets/uri.js. It works if I add `uri` symlink to `uri.js`.

[2015-02-16 12:58] eileencodes commented on #18953
@jkuchta thanks for getting back to us that this is not an issue in Rails 4 anymore. I'm going to close this. :smile:

[2015-02-16 12:58] #18953 closed

[2015-02-16 15:31] mrnugget commented on #18957
There is currently no support for Infinity as a date value in the PostgreSQL adapter. I have a proposed solution here https://github.com/rails/rails/pull/17365

[2015-02-16 15:37] odigity commented on #18957
You guys rock!

[2015-02-16 16:59] joevandyk commented on #18878
Is it possible to fix the rake parameter handling?

[2015-02-16 17:03] dhh commented on #18878
Exactly because rake is so embedded in everything, I think it makes change hard. But if someone wants to explore that, that's fine. I think we're still going to route it through the Rails command, since having servers like "rails server" and "rails console" as rake commands doesn't make much sense to me. But it would mean we'd have to do less hacking to get there.

[2015-02-16 17:10] tenderlove commented on #18608
@pehrlich are you able to reproduce this with a newly created app and some JSON?

[2015-02-16 21:09] carlosantoniodasilva commented on #18929
The behavior is correct, but we might need an update in the documentation in this case, though.

[2015-02-16 21:24] arenoir commented on #18929
Yeah this isn't much of an issue, just something I ran into while optimizing my application.  I was using an after touch callback and not wanting it to trigger when a grand child changed.

[2015-02-16 23:33] dhh opened #18962 "Make template locals available as a hash to the template itself"
This is a common piece of code:

[code]

That `defined?` check is pretty gross. I'd much rather be able to do:

[code]

[2015-02-16 23:36] dhh commented on #18962
These fucking Rails people have thought of everything! `local_assigns` is exactly this and already available. TIL!

[2015-02-16 23:36] #18962 closed

[2015-02-17 00:34] hsm3 commented on #13851
I just got bit badly by this issue.  It's not a simple one to track down, and the effects within our app were subtle (the controller's params were right, but the controller's request's url was wrong).

I suggest any of the following would be an improvement (but I admit I don't know the codebase well):

1) TestCase's build_request_url, get rid of the initial << unless @request.env["PATH_INFO"] >>,

[2015-02-17 06:02] sgringwe opened #18964 "ActiveRecord pluck id returns sporadic 'f' value: undefined method `to_i' for false:FalseClass"
I am getting sporadic issues in production (roughly up to 10 times a week) where a pluck function call of ids returns a false boolean as one of the ids. It then errors when calling to_i on the false value in the type caster.

Error 1 (most common):
[code]
[code]

Error 2 (IN query shortened for brevity, but any more values in reality):
[code]

How does a false value leak into these calls? Running

[2015-02-17 07:18] cristianbica commented on #18962
This is actually an kind of private API as it's a local_variables eval'ed [here](https://github.com/rails/rails/blob/master/actionview/lib/action_view/template.rb#L275). There's an isssue (#15700) to document it. Probably the naming `local_assigns` will remain

[2015-02-17 08:23] dougc84 commented on #15185
I have this same issue - Rails 4.1.6, an upgrade to latest 4.1.x doesn't fix anything.

Basically, there's a select statement, with a custom, named attribute, a couple joins, and an includes, just like is mentioned above.  The removal of the includes makes it work but does not return the correct results.  Alternative approaches slow down everything exponentially.

[2015-02-17 10:15] joneslee85 opened #18967 "Make ActiveSupport depend on i18n >= 0.6.4, < 0.7.0 [3-2-stable]"
Because i18n 0.7.0 no longer support Ruby < 1.9.3. I think we should remove the pessimistic versioning (as of https://github.com/rails/rails/blob/3-2-stable/activesupport/activesupport.gemspec#L23). Thoughts?

[2015-02-17 10:44] mtarnovan commented on #18828
@jorge-marques what server are you using in development?

[2015-02-17 12:02] carlosantoniodasilva commented on #18967
I18n 0.7 should work fine for Rails 3.2 for Ruby 1.9.3+ users, do you have any specific use case that might be causing problems?

[2015-02-17 12:21] joneslee85 commented on #18967
@carlosantoniodasilva There are apps and gems that still run Ruby 1.8.7. For example: newrelic_rpm gem tests against Rails 3.2 and its Ruby 1.8.7 failed because of this.

[2015-02-17 12:24] carlosantoniodasilva commented on #18967
Hm I see.. Well, I think they should not be getting I18n 0.7 then, due to the ruby version check. I'm not sure it's Rails responsibility in this case.

[2015-02-17 12:30] joneslee85 commented on #18967
Most of the cases i18n is not explicit dependency and version conflicts are likely caused by Rails. Workaround is to explicitly cap the version of i18n gem in those projects. It would be ideal to get Rails cap the upper version within 0.6.x series of i18n. I've prepared a PR https://github.com/rails/rails/pull/18969, love to get your feedback on that. TIA

[2015-02-17 13:38] TheR2 opened #18971 "Strange actionmailer behaviuor"
Strange issue when I upgraded to Rails 4.2. It is so strange, that I created simple test code, to confirm it. Problem appears in development as well as in production environment.

The code inside test method doesn't get executed at all.
Example:
[code]

What can cause ActionMailer class to recognize that it has method, but not executing it?

When I reverted to 4.1.9 everything works as expected.

[2015-02-17 13:51] georgeclaghorn commented on #18971
Can't reproduce on Rails master:

[code]

[2015-02-17 15:43] sgrif commented on #18964
Can you give any more details about the issue? Does it seem to only happen with a specific model? Without a script we can use to reproduce the issue (preferably using our template [here](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)), it's hard for us to do much about this. With regards to your specific question:

It shouldn't, especially since the

[2015-02-17 16:01] sgrif commented on #18957
Closing as a duplicate of https://github.com/rails/rails/pull/17365

[2015-02-17 16:01] #18957 closed

[2015-02-17 18:05] zedtux commented on #18703
I have installed Debian on my iMac and the performances are really better. Let's say this is due to the couple of FS layers on OS X ...

[2015-02-17 18:05] #18703 closed

[2015-02-17 18:21] jorge-marques commented on #18828
@mtarnovan I'm using the default server, Webrick, if I'm not mistaken.

[2015-02-17 19:45] mtarnovan commented on #18828
I ran a dtruss on the ruby process when it got stuck again, and as far as I can tell it kept reloading the app over and over again. Could this be an issue with spring? I'll see if removing spring from the app solves the problem and report back.

[2015-02-17 20:06] cristianbica commented on #18971
@TheR2 this is the intended behaviour because of the `ActiveJob` implementation. How `ActiveJob` for mailers works is that it wraps any call to a mailer method into a `Delegator` (at this point your mailer method is not yet called). On the wrapper you can call `deliver_later` and your mail will be enqueued to ActiveJob (without calling your mailer method), `deliver_now` and your mail will be deliv

[2015-02-17 20:08] cristianbica commented on #18971
@georgeclaghorn In your console example the console will actually call `inspect` on the result of `MailSender.test` (the wrapper) and at this point the wrapper will call the mailer method. See https://github.com/rails/rails/blob/master/actionmailer/lib/action_mailer/message_delivery.rb

[2015-02-17 20:08] #18971 closed

[2015-02-17 21:42] andyatkinson commented on #18921
@brentdax What version of Rails? Mailers in `RAILS_ROOT/app/mailers` have templates conventionally in `RAILS_ROOT/app/views` like `RAILS_ROOT/app/views/user_mailer` for a `UserMailer`. http://guides.rubyonrails.org/action_mailer_basics.html

[2015-02-17 21:53] brentdax commented on #18921
@andyatkinson I'm using Rails 4.2.0.

I may not be explaining myself clearly. If I have a `PaymentsMailer < ApplicationMailer`, its templates and partials are looked for first in `app/views/payments_mailer` and then `app/views/application_mailer`. Meanwhile, if I have a `BillingsController < ApplicationController`, its templates and partials are looked for first in `app/views/payments` and then in

[2015-02-17 22:05] andyatkinson commented on #18611
@numidiasoft I can look into this. It seems like there is somewhere a `sequence_name` argument is not being passed through.

[2015-02-17 22:28] Sxl1092 commented on #17161
If I understand what's being spoken of correctly, none of has_and_belongs_to_many, has_one, and has_many modify the associated object's updated_at. If this is indeed the case then I am not sure that this behavior is expected. Is this the case? Do you feel like this is behavior that should be expected and if so, why? I am just trying to understand the situation fully because if this behavior is exp

[2015-02-18 01:07] JunichiIto opened #18975 "simple_format ignore ASCII-8BIT string with output error"
After upgrading to Rails 4.2.0 + Ruby 2.2.0, `simple_format` does not work well like this:

[code]

In Rails 4.1.8 + Ruby 2.0.0, worked well:

[code]

I detected the "output error" occurred here:

https://github.com/flavorjones/loofah/blob/542a895762c09cf12ab29891ff744f6e051ad5af/lib/loofah/html/document_fragment.rb#L21

I think it should work like 4.1.8.

FYI, here is my `Gemfile.lock` :

[code]

[2015-02-18 01:53] imorcott opened #18978 "ActionDispatch, UploadedFile is returning pdf files with content_type of "application/force-download""
ruby '2.1.5'
gem 'rails', '~> 4.2.0'

When I am uploading a file
view code:
<%= f.input :document, :as => :file %>
 and then check the temp file content type of a known good pdf file the content_type is "application/force-download".
Any clues as to the reason why the content type is  "application/force-download" and not "application/pdf"?

Thanks,
-Ian

[2015-02-18 02:16] kamui commented on #18822
@TiuTalk The sample app is here: https://github.com/bonobos/asset_mutex_bug

I can reproduce the issue on my MacBook Pro running 10.10 with ruby 2.2.0.

[2015-02-18 04:19] akicho8 opened #18981 "Not work concern class_methods block"
Collision in active_support concern class_methods
https://github.com/mongoid/mongoid/issues/3951

Since not know Which problem, write here too

Using mongoid, and concern class_methods block, class method does not replace correctly.

[code]

[2015-02-18 06:20] notalex opened #18982 "v4.2: rake db:test:prepare is run before individual tests"
I am in the process of upgrading a Rails 4.1.7 app to Rails 4.2. In the newer version `rake db:test:prepare` is run for individual tests, which significantly slows down individual test runs for my application.

I have setup a [sample application](https://github.com/notalex/rails_sample_app/tree/test_issue) to demonstrate the problem. The README has instructions to replicate the issue.

`rake db:te

[2015-02-18 07:46] kaspth commented on #18981
Since your problem only happens when Mongoid is loaded, I think it's best we keep the issue over there for now. Feel free to reopen if you and @arthurnn find out the issue is on our end. :yellow_heart:

[2015-02-18 07:46] #18981 closed

[2015-02-18 08:03] senny commented on #18982
@notalex `rake db:test:prepare` should only be called when your test database needs to be synchronized (see [this](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/migration.rb#L410-L414) and [this](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/migration.rb#L396-L397)).

the instructions in your sample application didn't work out:

[code]

[2015-02-18 08:11] notalex commented on #18982
@senny, I have fixed the application now.

[2015-02-18 08:32] senny commented on #18982
@notalex this happens because the application does not have any migrations. [`!ActiveRecord::Migrator.any_migrations?`](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/migration.rb#L397)
This will trigger `db:test:prepare` on every run.

This behavior was added by https://github.com/rails/rails/commit/61bacd6ef9c302238f3b8d9e6b432ee2090f6b78 to solve #17170

/cc @sgrif

[2015-02-18 08:35] notalex commented on #18982
@senny, in my original application, we use a `structure.sql` and have no migration files. I have updated the sample application to reflect the same.

Can we avoid running `rake db:test:prepare` for cases like these?

[2015-02-18 08:36] senny commented on #18982
@notalex you could monkey patch `ActiveRecord::Migrator.any_migrations?` to return `true`. This should serve as a workaround for now.

[2015-02-18 08:43] notalex commented on #18982
@senny, thanks for your input. The proposed patch resolves the problem.

[2015-02-18 08:43] #18982 closed

[2015-02-18 08:44] andremedeiros opened #18983 "Eager loading forcefully includes the default scope"
I'm trying to eager load some records that may or may not match the default scope through a relation. Here's what I mean (and a reproduction):

[code]

The problem is that both of these cases will add `"publications"."deleted_at" IS NULL` to the conditions, making it impossible to get the records I need without, at least, another query and loop. Here's the full query that is produced:

[code]

I'v

[2015-02-18 09:04] tdtds opened #18985 "ActiveSupport::SafeBuffer losts $1 in block of String#gsub"
ActiveSupport::SafeBuffer#html_safe injected into String instances, it losts captured string ($1...) in the block of String#gsub. see:

[code]

[2015-02-18 09:09] lxsameer commented on #18869
@vsorlov can you please create a failing example ?

[2015-02-18 11:05] yann commented on #18828
We encounter the same problem with a large base of static files in dev. The page takes a few minutes (instead of a few seconds in 4.1.6) to load and the CPU jumps to 100% during the load.

[2015-02-18 11:16] andrey-skat opened #18986 "Rails 4.2 attributes setters overriding"
Attribute methods override fails in some cases
For example, we have model `User` with `email` attribute and we want to override setter
[code]
When we do `first_or_create`
[code]
we've got
[code]
After
[code]
`first_or_create` works well.

[2015-02-18 11:25] matthewd commented on #18978
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-02-18 11:40] matthewd commented on #18985
Duplicate of #1555 (see also #12672)

[2015-02-18 11:40] #18985 closed

[2015-02-18 13:09] haswalt commented on #18878
I second this. Rake parameter parsing is broken and nobody seems interested in looking at a fix over there. As a hole it makes more sense to have the rails command route everything and avoids confusion.

I don't think there needs to be a match to the other systems out there, we all know of rake but when we're dealing with rails applications we're in the rails world. A lot of the time I find myself

[2015-02-18 14:13] tgxworld commented on #18192
@arthurnn Looks like this issue can be closed.

[2015-02-18 14:14] arnodirlam opened #18988 "Bug in belongs_to when using counter_cache together with foreign_key"
Hi,

when I use belongs_to with both counter_cache and foreign_key it doesn't update the counter cache correctly, since the update_counters method always operates on the table's primary key, instead of the foreign_key relevant in this case - as can be seen [here](https://github.com/rails/rails/blob/1152219fa2d7968f864b3a5ebb78d2f95ca4fb5c/activerecord/lib/active_record/counter_cache.rb#L83).

I gu

[2015-02-18 14:17] senny commented on #18192
Umgesetzt mit #18394

[2015-02-18 14:17] #18192 closed

[2015-02-18 14:18] senny commented on #18192
Implemented by #18394

[2015-02-18 14:42] eileencodes commented on #18983
Hey this sounds a lot like issue #10643. Can you confirm if this is your problem?

[2015-02-18 14:44] eileencodes commented on #18983
It's not about eager loading but it sounds like `unscoped` doesn't work as expected which is why your `unscoped_publication` is possible failing.

[2015-02-18 15:07] senny commented on #18986
@andrey-skat thank you for your report. Could you please attach an executable test-case to reproduce the issue? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point.

[2015-02-18 15:29] ror-infobeans opened #18990 "Update live cricket match score"
Update live cricket match scores

[2015-02-18 15:30] #18990 closed

[2015-02-18 15:36] senny commented on #18464
@zw963 can you post the output when running `rake db:drop db:create db:migrate`? Also this pattern is contained within `bin/rake db:migrate:reset`.

[2015-02-18 15:39] mattheworiordan opened #18991 "Version bump of ActiveRecord gem needed for Ruby 2.2"
A lot of people are experiencing the following error with Ruby 2.2 and this ActiveRecord 3.2.21:
[code]

After specifying the `3-2-stable` branch in my production environment Gemfile, the issue has since gone away, so I believe this issue is fixed.  I therefore recommend you bump the tiny / patch version so that people get this fix with Ruby 2.2.

Here is the issue in the wild:

* https://github.c

[2015-02-18 15:44] rafaelfranca commented on #18991
Rails 3 is not supported anymore. 3-2-stable branch is working with Ruby 2.2 but we don't promise any new release

[2015-02-18 15:44] #18991 closed

[2015-02-18 16:25] piotrj commented on #18821
I guess the question the question is whether job_id was supposed to be the identifier that the provider assigns. It rather looks that it was supposed to be ActiveJob's generated UID. Maybe we need another attribute like `provider_job_id`?

[2015-02-18 16:40] andrey-skat commented on #18986
gist for test case
https://gist.github.com/andrey-skat/84d3b2f0203391f45f3b

with activerecord 4.1.9 this test passes
if add `User.new` in the beginning of test this test passes

[2015-02-18 17:27] imorcott commented on #18978
It seems to be an issue that has been discussed on StackOverflow without resolution.
There are work-arounds: http://stackoverflow.com/questions/6912073/paperclip-validate-pdfs-with-content-type-application-octet-stream. And I have posted a work around on Paperclip's issues too: https://github.com/thoughtbot/paperclip/issues/1771

The issue is: Uploading known good pdf files has the content type ch

[2015-02-18 17:27] devmarwen commented on #17629
Retrying with the latest `rails` and `sidekiq`, all is working like expected including the callbacks!

[2015-02-18 17:29] #17629 closed

[2015-02-18 17:51] jmcnevin opened #18993 "Problem with merging scopes and eager loading?"
I've modified the AR bug report template to reproduce an issue I've seen with merging of scopes:

[code]

This will throw the following exception:

[code]

I've been able to reproduce this with 4.1.9, 4.2.0, and master.

[2015-02-18 18:30] sgringwe commented on #18964
@sgrif unfortunately I don't have much more info other than it happens sporadically. I recently got a newish error that seems related:
[code]
Sorry for the lack of info, I will continue trying to find out more.

[2015-02-18 18:44] rafaelfranca commented on #18821
Yeah, it is supposed to be a unique identifier in the Active Job side, not something the adapter provide.

We maybe need another attribute, so feel free to implement it and send a PR or ask in the Rails Core mailing list if you are in doubt.

[2015-02-18 18:44] #18821 closed

[2015-02-18 19:13] waiting-for-dev commented on #18878
I don't like the idea about creating too many parallel worlds... if rails is going to use anyway rake (which is a very reasonable decision, because it is the most mature ruby based task manager) I think it would be better to reduce complexity and only use it.

Reading the comments, I think that the overall impression is that rake would be better but rake has an unsolved problem. So, in my view, th

[2015-02-18 19:14] rafaelfranca commented on #18967
0.7 works with Rails 3.2 if you are not using Ruby < 1.9.3, so we should not change the dependency in Rails side. Like @carlosantoniodasilva said the Ruby version check should be sufficient to tell users to explicitly set i18n version in your application.

[2015-02-18 19:14] #18967 closed

[2015-02-18 19:17] dhh commented on #18878
Marc, we’re going to have parallel worlds regardless. “rails server” and “rails console”, to take just two, will never be rake tasks. Rake is an implementation detail for interacting with the Rails framework.

[2015-02-18 20:03] jwilsjustin commented on #17765
+ 1

[2015-02-18 20:16] joevandyk commented on #18878
What's wrong with "rake console"?

[2015-02-18 20:17] rafaelfranca commented on #18878
`rake console -e development` will not work.

[2015-02-18 20:28] joevandyk commented on #18878
I would love that to be able to work. :)

[2015-02-18 20:36] kai-kuchenbecker commented on #14178
This is still an issue. And it sucks hard when you want to use timestamps as keys for hashes. (I just had this ... took a while to track down.)

The reproducing test referenced by @why-el may pass depending on whether or not the default time-zone is utc. It should fail whenever it is not utc. Therefore if you simply add a non-utc timezone parameter to the `in_time_zone` call, it will definitely fa

[2015-02-18 20:49] waiting-for-dev commented on #18878
I see... I guess there is not beautiful way to implement "magic" rake commands like `rake console:development` (now it comes to my mind [seedbank](https://github.com/james2m/seedbank#example) gem does something like that). Or it could be `RAILS_ENV=development rake console` just like in `rake db:migrate`, but I agree last one is a little cumbersome (but also for `db:migrate`).

[2015-02-18 21:02] dhh commented on #18878
Ship has sailed. This is the path we’re moving forward with now. Let’s move on to the next bikeshed. There are so many left to discuss :)

[2015-02-18 21:03] rafaelfranca commented on #18878
:+1: :bike:

[2015-02-18 21:20] rafaelfranca commented on #18337
Closed by #18411

[2015-02-18 21:20] #18337 closed

[2015-02-18 21:56] andrewpcone opened #18995 "incorrect behavior when joining has_many through relation"
I have
[code]

I want to find all of a User's followers whose email is null. So I did:
[code]
which yields:
[code]

But there is no SQL table called `followers`—it is the name of the AR association. Since ActiveRecord knows that `User` is the model for `followers`, and it knows that `users` is the SQL table for `User`, it should impose the condition on the appropriate autogenerated SQL alias for `

[2015-02-18 22:18] shepmaster opened #18997 "`redirect_to` with a String does not respect `default_url_options`"
Rails [4.2.0](https://github.com/rails/rails/blob/v4.2.0/actionpack/lib/action_controller/metal/redirecting.rb#L89) and [4.1.8](https://github.com/rails/rails/blob/v4.1.8/actionpack/lib/action_controller/metal/redirecting.rb#L85) do not use `config.action_controller.default_url_options` to build the fully-qualified URL, but they should.

I am trying to avoid using the `Host` and `X-Forwarded-Host`

[2015-02-18 22:56] #18905 closed

[2015-02-18 23:06] phlegx opened #18998 "Rails 4.x - how to give alias names to includes() and joins() in active record quering"
Any idea how I can give an alias names for e.g. ```includes()```?
Here an example:

[code]

Rails uses automatically alias name ```profiles_users``` for ```:profile```. How can I overwrite this, so that I can use alias name ```profile``` instead of ```profiles_users```? I have the same problem with ```:projects``` where Rails gives alias ```projects_users```.

Might exist something like:

[code]

[2015-02-18 23:19] rafaelfranca commented on #18998
Please don't ask questions in the issue tracker. Use stack overflow or a mailing list for questions.

[2015-02-18 23:19] #18998 closed

[2015-02-18 23:27] phlegx commented on #18998
OK, here the question on stack overflow: http://stackoverflow.com/questions/28595636/rails-4-how-to-give-alias-names-to-includes-and-joins-in-active-record-que

[2015-02-18 23:30] JunichiIto commented on #18975
Probably this issue should be cared in this issue

https://github.com/rails/rails-html-sanitizer/issues/30

[2015-02-19 00:46] noinkling commented on #18828
Have been experiencing the same issue with my images (JPGs in my case). Using WEBrick (in an Ubuntu 14.04 Vagrant VM).

I'm also having a weird issue where occasionally WEBrick won't respond properly to `ctrl + c`. It'll say it's shutting down or whatever, then just sit there until I do a second `ctrl + c`, then it spits out an error with a trace. I only mention it here because it might be related

[2015-02-19 04:07] sbhatore commented on #18986
Failed to reproduce the error mentioned. It successfully creates a new record of the given email in users table, if it doesn't exist.

[2015-02-19 05:19] gonzaloaune commented on #18995
If Im not mistaken, you should be using the :source option instead:

[code]

http://guides.rubyonrails.org/association_basics.html#has-many-association-reference

[2015-02-19 06:43] tgxworld commented on #16433
@guilleiguaran This issue can be closed :smile: btw, has a decision been made on whether Rack::Runtime should be in the default stack?

[2015-02-19 10:17] lazaronixon opened #19000 "Testing with counter_cache and fixtures"
Write fixtures that have counter_cache columns is tedious and complicated, I tried use method reset_counters in test_helper.rb but it didn't work. Same way to put it working ?

[2015-02-19 10:19] rafaelfranca commented on #19000
Please don't ask questions in the issue tracker. Use stack overflow or a mailing list

[2015-02-19 10:19] #19000 closed

[2015-02-19 10:21] rafaelfranca commented on #19000
Please don't ask questions in the issue tracker. Use stack overflow or a mailing list

[2015-02-19 11:06] #18847 closed

[2015-02-19 11:30] #16433 closed

[2015-02-19 11:30] rafaelfranca commented on #16433
@tgxworld we didn't discuss this topic yet.

[2015-02-19 12:11] rafaelfranca commented on #18995
I don't think `source` will fix this issue, but it is not an issue actually. There is not way of Rails doing this automatically so you should be providing the right condition in your own:

[code]

[2015-02-19 12:11] #18995 closed

[2015-02-19 12:49] slavosarik opened #19001 "Rails 4.2 limit columns in schema keep changing on db:migrate"
Hello,

since upgrade to rails 4.2, everytime someone calls command "db: migrate", it randomly add or remove limit: 255 to every t.string column in whole db schema. It started to be annoying as it causes conflicts on every string column when code is being merged. We are using postgresql adapter.

[Schema change on migration - Image attachment ](https://www.dropbox.com/s/jxg2el9nn42bfiw/migration.p

[2015-02-19 12:53] rafaelfranca commented on #19001
Rails doesn't add the limit value for strings anymore. If it is being removed it is because it is not specified in the column. If it is being added it is because the current schema in the database has this limit. You should specify this limit if you want.

[2015-02-19 12:53] #19001 closed

[2015-02-19 16:37] csuhta commented on #16433
@rafaelfranca Do you want me to open a new issue about keeping/removing Rack::Runtime?

[2015-02-19 16:44] rafaelfranca commented on #16433
Not an issue, but it would be great a thread in the Rails core mailing
list.

On Thu, Feb 19, 2015, 14:37 Corey Csuhta <notifications@github.com> wrote:

[2015-02-19 17:17] andrewpcone commented on #18995
Is there a way to deduce the name "followers_users"? That seems to be
what's missing. As I understand it, depending on which other clauses are
included, the name of that table might be something else.

I know that alias lives somewhere deep within activerecord, but I can not
figure out how to fetch it. And without that, it is not clear how to
define, for example, a scope that left joins some Users

[2015-02-19 17:34] rafaelfranca commented on #18995
Actually I tried to reproduce your problem and I could not.

The following script get exactly the right table to do the query:

[code]

As you can see the generated query is:

[code]

`followers_users` and `users` are just aliases so the result will be the same.

[2015-02-19 18:04] mattheworiordan commented on #18991
But it's not working with the current Gem version which almost everyone relies on. I'm not sure I follow what you mean, are you saying no more patch releases will be made even though commits are indeed still being added to the branch?

[2015-02-19 19:24] rafaelfranca commented on #18991
Yes. There is no guarantee that will be a patch release for Rails 3
anymore.

On Thu, Feb 19, 2015, 16:04 mattheworiordan <notifications@github.com>
wrote:

[2015-02-19 19:27] resistorsoftware opened #19006 "undefined method 'bytesize'"
I am trying to get at an attribute in a DelayedJob model, defined as a text column in Active Record. When I access it I get an undefined method 'bytesize'.

A gist is here: https://gist.github.com/resistorsoftware/ac4351616b729dcc224c

Not sure why this error is being thrown.

[2015-02-19 20:45] rafaelfranca commented on #19006
Almost all the stacktrace is from sinatra. I don't see how this is related with Rails.

Check why sinatra is passing a Active Model object to `Rack::Utils.bytesize` https://github.com/sinatra/sinatra/blob/v1.4.5/lib/sinatra/base.rb#L152

[2015-02-19 20:45] #19006 closed

[2015-02-19 20:55] resistorsoftware commented on #19006
Wow. Ok.. First... we have an Active Record mapping for a DelayedJob.

    class DelayedJob < ActiveRecord::Base; end

Then we have some delayed jobs in a PostgreSQL table with attributes that are things like integers, text and timestamps.

So if we use Ruby idioms like this...

    DelayedJob.all.each do | dj |
      handler = YAML.load(dj.handler)
    end

And the stack trace shows bytesize was

[2015-02-19 21:08] rafaelfranca commented on #19006
Yes, bytesize problem is raised at Active Model but just because sinatra pass an Active Model (or Active Record) instance to `Rack::Utils.bytesize`. I don't know why this is happening, but I think it doesn't come from the code you provided since everything that your stacktrace shows is not application code.

I suggest you to try to dig deep in that stacktrace because it may be a problem in one of

[2015-02-19 22:25] ajgrover commented on #18859
Just tried this with the sample app - both /assets/uri and /assets/uri.js seem to work for me.

[2015-02-19 22:26] WizardOfOgz commented on #18986
Seeing this, too. I will try to get some solid examples for you.

[2015-02-19 22:33] CraigCottingham commented on #18986
I'm having the exact same problem, and @andrey-skat's suggestion to add `User.new` gets me past it.

To clarify for anyone who comes in behind me, the fix looks like this:

[code]

[2015-02-19 22:41] ledestin commented on #18859
Maybe you're not using `bundle exec`? I can't think of another reason.

[2015-02-20 00:17] adsteel opened #19008 "Discrepency Between Timezones?"
There's a discrepency between the time zones of Ruby's standard Time.now and Active Record's 'updated_at' timestamp.

    $ rails c
    2.1.2 :001 > Model.create.updated_at
    => Fri, 20 Feb 2015 00:16:07 UTC +00:00
    2.1.2 :002 > Time.now
    => 2015-02-19 17:16:10 -0700

Is this intentional?

[2015-02-20 00:24] rafaelfranca commented on #19008
Yes it is. The database dates are in UTC. Also please don't ask questions in the issue tracker. Use stack overflow or a mailing list for questions.

[2015-02-20 00:24] #19008 closed

[2015-02-20 10:17] sjchmiela opened #19009 "Removing references wrong order"
When removing reference by eg. `rails g migration RemoveValueIdFromField value:references` the migration ends up like this:

[code]

When migrating it shouts an error *Cannot drop index 'index_fields_on_value_id': needed in a foreign key constraint*.

Swapping the `remove_*` in migration code removes the problem.

[2015-02-20 10:51] eniolopes opened #19010 "Rails 4.2 activerecord/dirty handling changes in misleading way"
There is a specific case in which changes to model attributes are handled improperly, please see the following script;

[code]

Because ``published_at`` is being set to what it was before the update to ``nil`` and because after the ``#update_attributes`` call the ``changes`` hash is not being cleared, `` #write_attribute``  is considering that the value hasn't changed.

I investigated a little int

[2015-02-20 11:28] ondrek commented on #18962
:facepunch:

[2015-02-20 11:51] azul commented on #1769
@pixeltrix, How about trying the plural route first. Then catching the undefined method error in polymorphic_url and trying the singular route?
That would not solve the problem when both methods are defined. But I think it would be easy to document and understand. If one has both a resource and resources defined for the same model they will have to state which one they want anyway (using the url o

[2015-02-20 13:06] andremedeiros commented on #18983
Hi @eileencodes, thanks for coming back to me.

This isn't the same issue. The issue is I can't preload that association with `.joins`, `.includes` or `.eager_load`.

[2015-02-20 13:08] eileencodes commented on #18983
@andremedeiros Oh I misunderstood I thought you were saying the default scope was being applied when you didn't want it to. Thanks for clarifying

[2015-02-20 13:10] andremedeiros commented on #18983
Nothing to apologise (and thanks for your hard work! <3)

Essentially, what I'm looking at here is to avoid a second query, or even worse, N+1.

[2015-02-20 13:46] LeandroSNunes opened #19011 "Option "selected" unnecessary for the "select_tag""
The "selected" option is not doing what it should do

The example:
[code]
could be
[code]
Due to have not treatment to set the selected option_tags in https://github.com/rails/rails/blob/e0e9d5bd8600c01de6b73487bf66046d179c0ed7/actionview/lib/action_view/helpers/form_tag_helper.rb#L132

[2015-02-20 14:18] TheR2 commented on #18971
Works. I guess I should read documentation more thoroughly next time.

Thanks
TheR

[2015-02-20 15:12] rafaelfranca commented on #19011
I think this is a documentation problem. That option don't work for `select_tag`. I'll remove it.

[2015-02-20 15:21] LeandroSNunes commented on #19011
@rafaelfranca https://github.com/rails/rails/pull/19012 :wink:

[2015-02-20 15:21] #19011 closed

[2015-02-20 15:31] rafaelfranca commented on #19010
`changes` returns the changes from the attribute in the database. No matter how many times you change it, it will always compare the actual value in the database with the actual value in memory.

That said this is the expected behavior and documented behavior. http://api.rubyonrails.org/classes/ActiveModel/Dirty.html

[2015-02-20 15:31] #19010 closed

[2015-02-20 15:33] rafaelfranca commented on #19009
This should be fixed at 4-2-stable branch.

[2015-02-20 15:33] #19009 closed

[2015-02-20 15:37] rafaelfranca commented on #13466
This is fixed at master branch.

[2015-02-20 15:37] #13466 closed

[2015-02-20 15:39] PaulBD opened #19014 "Upload a floor plan has stopped working"
Looks like the new filename is not being passed to the PUT endpoint when uploading a new map.

[2015-02-20 15:41] rafaelfranca commented on #19014
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-02-20 15:41] #19014 closed

[2015-02-20 15:48] rafaelfranca commented on #18859
This seems to be a sprockets issue. Could you open an issue there. Thanks.

[2015-02-20 15:48] #18859 closed

[2015-02-20 16:18] sgrif commented on #18986
Duplicate of https://github.com/rails/rails/issues/18339

[2015-02-20 16:18] #18986 closed

[2015-02-20 16:44] #18511 closed

[2015-02-20 17:02] #16881 closed

[2015-02-20 18:13] dhh commented on #18606
For the record, we're going to try a new approach using before_commit coalescing that @arthurnn is pursuing.

[2015-02-20 18:44] ThomasAlxDmy opened #19019 "Unhandled exceptions lead to memory nonsense"
Hi everyone,

I was recently running some benchmark on a rails application(3.2.18) and what I discover was pretty surprising to me. The initial issue was the memory in the unicorns process what growing up super fast and never shrinking. My first thought was there has to be something that uses memory and makes the application to never release it. So I wrote a script to hit few endpoints and analyze

[2015-02-20 19:32] lazaronixon opened #19020 "Not is possible execute rake db:fixtures:load with helpers in fixtures"
According to http://api.rubyonrails.org/classes/ActiveRecord/FixtureSet.html
Is possible inject helpers on fixtures using
[code]

It works when execute rake test.. But if execute rake db:fixtures:load this throw a undefined method exception.

[2015-02-20 19:32] rafaelfranca commented on #19019
I created a new application and hit the endpoint 10000 times. Every 5 seconds I got a snapshot of the application memory and this was the results:

[code]

Of course the memory usage grow but not in the same scale you pointed.

Which version of Ruby are you using? Can you recreate these benchmarks so I could run locally?

[2015-02-20 19:33] rafaelfranca commented on #19020
Can you please provide a sample application that reproduces the error?

[2015-02-20 20:07] sgrif commented on #18993
This looks like the expected behavior. The `includes` values were merged in, and it was something which is invalid when querying against `User`.

[2015-02-20 20:07] #18993 closed

[2015-02-20 21:01] lazaronixon commented on #19020
https://github.com/lazaronixon/fixture_helper_error

[2015-02-20 21:17] rafaelfranca commented on #16934
Closed by #16935

[2015-02-20 21:17] #16934 closed

[2015-02-20 21:28] rafaelfranca commented on #18211
Closed by #18218

[2015-02-20 21:28] #18211 closed

[2015-02-20 21:32] emclab opened #19022 "`circular dependency` caused by inheritance in application controller of Rails 4.2.0 engine"
When upgrading engine from rails 3.2 to rails 4.2.0, the following inheritance in application controller causes `circular dependency` error in rspec (3.2):

    class ApplicationController < ApplicationController
    end

There is `config.eager_load = false`  in config/development.rb.

The error is:

    activesupport-4.2.0/lib/active_support/dependencies.rb:492:in `load_missing_constant': Circula

[2015-02-20 21:35] rafaelfranca commented on #19022
Could you provide a way to reproduce it?

[2015-02-20 21:40] ThomasAlxDmy commented on #19019
I'm using ruby 2.1.5 with rails 4.2.0 but the similar issue was already happening on 3.2.18
Should I try with 2.2.0?

I was just a really simple script in an other process

[code]

here are the result I get for 10k request

[code]
In 15 minutes it went from 80 to 195MB! And I guaranty you that If I rerun requests it will keep growing...
Also Notice the spike at 13:33:25. => 30MB no idea what could

[2015-02-20 21:41] kaspth commented on #19022
From the example you've given, it seems you don't have a namespace. I'm pretty sure that's your problem.

When Rails encounters the `< ApplicationController` bit, it tries to reload the `application_controller.rb` file because the original `ApplicationController` isn't completely defined yet. Adding a namespace should fix this:

[code]

[2015-02-20 21:46] rafaelfranca commented on #19019
Try with 2.2.0. I think you are getting a GC problem of Ruby 2.1.

[2015-02-20 21:55] lazaronixon commented on #19000
I solved it with a monkey path to disable counter_cache, would be nice, a feature to disable counter_cache.
[code]

[2015-02-20 22:28] emclab commented on #19022
There is namespace module EngineName in engine's application controller.

[2015-02-20 22:38] kaspth commented on #19022
And does your directory structure reflect the namespace like the documentation, you link to, says? `app/controllers/engine_name/application_controller.rb`

[2015-02-20 22:43] emclab commented on #19022
yes, it is.

[2015-02-20 22:44] emclab commented on #19022
Here is a test engine I created  git@github.com:emclab/test4.git.

bundle exec rspec spec causes the error:
$ bundle exec rspec spec
c:/Ruby200/lib/ruby/gems/2.0.0/gems/activesupport-4.2.0/lib/active_support/dependencies.rb:492:in `load_missing_constant': Circular dependency detected while autoloading con
stant Test4::ApplicationController (RuntimeError)

[2015-02-20 22:50] ThomasAlxDmy commented on #19019
@rafaelfranca Alright, just tried with ruby 2.2.0 slightly better result but still pretty bad:

[code]
If anyone has a good tool to debug that kind of memory issue let me know.

[2015-02-20 22:51] rafaelfranca commented on #19019
This is a really good tool https://github.com/SamSaffron/memory_profiler

[2015-02-20 23:01] kaspth commented on #19022
Okay, I think I see it :smile: Either inline the namespace:

[code]

Or clarify that you're inheriting from the `ApplicationController` at the top level scope:

[code]

[2015-02-20 23:12] emclab commented on #19022
Great, thank you kaspth! BTW, is it helpful if rails document is upgraded accordingly?

[2015-02-20 23:12] #19022 closed

[2015-02-20 23:20] kaspth commented on #19022
Great, :+1:. Send us a pull request with your proposed change and we'll see :smile:

--
Kasper

[2015-02-20 23:26] emclab commented on #19022
Somehow
class MyEngineName::ApplicationController < ApplicationController still not work (same error). But
class ApplicationController < ::ApplicationController  and
class MyEngineName::ApplicationController < ::ApplicationController work. On this regard, the engine's doc needs to be changed a little bit. Here is the current engine doc:

class Blorgh::ApplicationController < ApplicationController

[2015-02-21 01:15] mattbornski commented on #15079
bump

[2015-02-21 01:33] trostli commented on #15079
This still seems to be an issue

[2015-02-21 02:47] emclab commented on #19022
Created a pull request

[2015-02-21 07:49] pacoguzman commented on #18847
@rafaelfranca I was reviewing this issue and I would like to know if why you suggest of using context, is it already possible or should be implemented inside active_record/active_model?

[2015-02-21 10:34] henrik commented on #18847
Common case vs. uncommon case is one factor. Another is the consequence of triggering the side effect: if you write a migration and accidentally notify all your users, is that something you can shrug off as inconsequential, or an embarrassing mistake that you could and should have avoided with other habits?

To rephrase, you should weigh the inconvenience of having to write something like `CreateC

[2015-02-21 12:22] kaspth commented on #18847
@henrik I think the underlying thing is that you have a different view on people than Rails does. We trust them to handle that possibility of danger.

But you want a fisher price knife, so to speak, and that's perfectly fine. That's just not what Rails wants.

Thanks for writing. Your point has been heard, but we're going in a different direction :heart:

[2015-02-21 12:55] henrik commented on #18847
@kaspth I can definitely accept the general idea - this is of course just my opinion and not the only valid one.

I don't share the view that Rails has a preference for trusting people. We're now HTML safe by default instead of trusting. IIRC sanitize was changed to whitelist, not blacklist.

I see this as related to that line of thinking.

Rails DOES have a preference for callbacks in some cases

[2015-02-21 22:54] ChipMaNiAC opened #19028 "Deprecated 'type' method should be replaced with 'class'"
Object.type is no longer present in later versions of Ruby.

Please see here: https://github.com/rsim/oracle-enhanced/issues/555#issuecomment-75393970

[2015-02-21 23:10] rafaelfranca commented on #19028
This seems to be a bug in the adapter. type is a valid method of a object inside Rails framework

[2015-02-21 23:10] #19028 closed

[2015-02-22 00:27] yuki24 commented on #19019
@ThomasAlxDmy I suspect you are running a Rails app under development, not production.

[2015-02-22 00:30] ThomasAlxDmy commented on #19019
@yuki24 for the testing it's correct. I can retry running it is production environment. Do you have an idea of what is happening?

[2015-02-22 00:43] yuki24 commented on #19019
@ThomasAlxDmy IDK. But maybe [memory_profiler](https://github.com/SamSaffron/memory_profiler) is helpful as @rafaelfranca suggested.

[2015-02-22 01:03] metaskills commented on #18407
I just started testing 4.2.1.rc1 with the SQL Server adapter and noticed that I have a test failing due to this change. The test is `test_partial_update` when saving the `pirate` instance twice using `with_partial_writes`. The reason this test now fails for us is due to and `id` column now being included in the update.

SQL Server does not allow at any time an identity column to be updated. So we

[2015-02-22 01:06] metaskills commented on #18407
Perhaps from an API perspective and if Dirty is included into base after Attributes, then maybe the `persistable_attribute_names` should use the same interface name of `attributes_for_update` and super up too?

[2015-02-22 13:12] bezludny opened #19031 "to_param sometimes not calling for Model"
I have strange problem looks like a rails bug (not sure). There is the situation: I use to_param for make seo-friendly urls for my objects (Products and Categories). On my views I use helpers product_path and category_path. The problem is sometimes I have expected to_param based urls (/categories/39-средства-дезинфекции), sometimes is not (/categories/39) for the same objects on the same pages and

[2015-02-22 14:44] jvanbaarsen commented on #17195
@cristianbica Since empty queue names are now supported, I think this issue can be closed, right?

[2015-02-22 14:51] jvanbaarsen commented on #16976
@tamird Does this mean that when you create your first Job you get a `jobs/application_job.rb` file? And that when you generate a job you will extend from that file? That does mean that the `application_job.rb` file will be empty at the start correct? If this is the idea I would really like to work on this :)

[2015-02-22 14:54] jvanbaarsen commented on #16960
New PR is here: https://github.com/rails/rails/pull/16968

[2015-02-22 15:04] jvanbaarsen commented on #18821
@rafaelfranca Are you interested in a PR that implements an attribute called `provider_job_id` or something like that? If so I would like to try and tackle this one :)

[2015-02-22 15:46] acurley commented on #18871
The documentation for the `as_json` method `ActiveModel::Serializers::JSON` (which ultimately relies upon the `attributes` method) clearly **implies** that the attributes will be returned in a hash ordered in such a way that `id` will be first.  Cf. [as_json method in Rails API docs](http://api.rubyonrails.org/classes/ActiveModel/Serializers/JSON.html#method-i-as_json).

While clearly not being a

[2015-02-22 17:54] chancancode commented on #18871
There is definitely no intention of making that promise as far as `as_json` goes. It doesn't make sense — JSON objects are *unordered* key-value pairs.

In fact, you shouldn't be calling `as_json` at all. It is a hook method intended to be consumed by the JSON encoders. (Just like how you can override `setup` and `teardown` in minitest, but you won't generally call them yourself.) The specifics of

[2015-02-22 17:55] chancancode commented on #18871
(The `as_json` thing isn't very well documented though, and it's pretty ambiguous in the current docs. We should probably clearify it before Rails 5.)

[2015-02-22 19:09] tamird commented on #16976
@jvanbaarsen yes

[2015-02-22 19:56] jvanbaarsen commented on #16976
@tamird Would you be interested to help me out when I get stuck? (Dont really have much experience with the rails core codebase, and really want to get involved)

[2015-02-22 21:08] jvanbaarsen commented on #19031
@bezludny When you call the `product_path` route helper, are you always passing in a `Product` object? or are you passing in the ID of the product?
i.e:

[code]

[2015-02-22 21:13] jvanbaarsen commented on #18997
@shepmaster It seems like it never used it before? Since its also not in [4.0.0](https://github.com/rails/rails/blob/v4.0.0/actionpack/lib/action_controller/metal/redirecting.rb#L94). What makes you think that its a bug that appeared in either one of those 2 version?

[2015-02-22 21:57] shepmaster commented on #18997
@jvanbaarsen Sorry, I didn't mean to indicate it was a regression - just that the behavior is incorrect (or less-than-desired, if I'm being nice :smiling_imp:). I was pointing out that the current behavior existed in a few versions, and now you've added a third! :heart:

I think it's incorrect because if you pass a hash to `redirect_to`, it [will use `url_for`](https://github.com/rails/rails/blob/

[2015-02-22 22:12] jvanbaarsen commented on #18997
Haha ok thanks for clarifying:heart:

[2015-02-22 23:26] dhh opened #19036 "Controller actions should default to head :ok if no template exists"
It's a great default for controllers that generate HTML that we default to rendering the corresponding template, but it's a hassle for API-controllers. The default should be "everything went fine" in both cases. So let's instead return `head :ok` for actions with no corresponding templates, rather than raising an error. That'll slim down API controller methods that simply worked, and need no furth

[2015-02-22 23:27] simi commented on #19036
I can take a look at this.

[2015-02-22 23:33] dhh commented on #19036
👌

[2015-02-23 00:05] andyatkinson commented on #18611
@senny @tardate Hello! I was wondering if either of you would be available to help me out with this issue? I believe I have a good starting point for a failing test, and an understanding of creating new sequences on an existing table. I have written out the SQL for this with postgres (can share if interested).

I believe the goal of the original poster here is to be able to specify the new sequenc

[2015-02-23 00:42] chendo commented on #12330
We just ran into this problem today as well.

[2015-02-23 02:47] lsylvester commented on #10658
I can confirm that this is now working correctly on master.

[2015-02-23 04:51] msroot opened #19039 "uuid doent not generate a timestamp when the object its cached"
When i am using a uuid in my model and i am cache it its doent not generate the last updated attribute

	2.1.3 :019 > Language
	 => Language(id: uuid)
	2.1.3 :019 > Goal
	 => Goal(id: integer)

	2.1.3 :022 > Goal.first.cache_key
	  Goal Load (0.7ms)  SELECT  "goals".* FROM "goals"   ORDER BY created_at DESC LIMIT 1
	 => "goals/20-20150223035433450770000"

	2.1.3 :023 > Language.first.cache_key

[2015-02-23 07:15] bezludny commented on #19031
Yes. Also strange thing that this behaviour is not regular. If I may use helper without ID, so why sometimes I have this issue and sometimes is not?

My Rails version was 4.1.6 and Ruby 2.2.0
Now I updated to 4.2 – I'll inspect how it works.

[2015-02-23 08:04] senny commented on #19020
@lazaronixon We put:

[code]

At the top of fixtures to solve that issue. Also what should work is to extend the `:environment` task and load the file there.

[2015-02-23 08:04] #19020 closed

[2015-02-23 08:13] senny commented on #18611
@andyatkinson thank you for taking time to help Rails :yellow_heart:

I went over the issue and got hung up on:

Are you saying that `sequence_name = ""` in your model would automatically translate into DDL statements being run? If so, that's not something we are going to support. In ActiveRecord, migrations are the things that change the schema. However it's important to note that migrations do n

[2015-02-23 09:38] zeitnot opened #19040 "Mailer previews does not work properly!"
Rails can preview the mail content but but it does not render it with UTF-8. For example if you are using
[code]
it translates this as `<meta charset=3D'utf-8'>`.  This is a turkish example.

[code]

And this becames:

[code]

As you see turkish chars are broken and html nodes get `3D` prefix for all attributes. I do not know how to solve this.

## Update
I am using rails `4.1.9` and someone is lo

[2015-02-23 11:10] genreil opened #19041 "Incorrect ordering in scope with joined table"
Hi!

Not sure if it is a bug, or I am missing something. I am using '4-2-stable' branch. Here is the description of the issue:

[code]
The first price_asc scope orders availabilities just fine, but the distance_asc scope orders nothing. I have tried to add includes(:property) to the scope, but it did not help. The query generated in the logs produces correctly ordered results when I run it through

[2015-02-23 11:22] yan-hoose opened #19042 "Counter cache is automatic in Rails 4.2.x when using a column name like #{table_name}_count"
I ran into an issue where Rails 4.1 and 4.2 behave differently when a column is named like a counter cache (e.g `comments_count`) but is not configured (e.g no `counter_cache: true` on the `belongs_to` association). Here is a script to demonstrate the issue:
[code]
This test passes with Rails 4.1.9 since it does not consider the column to be a counter cache column, however the test fails with Rail

[2015-02-23 11:32] jvanbaarsen commented on #19040
@zeitnot Can you please provide a test project that has this issue? Also you have a minor typo in your title: Miler -> Mailer

[2015-02-23 12:20] zeitnot commented on #19040
@jvanbaarsen [here][0] is the sample repo. I think I find where from the error occurs. When using `include Sidekiq::Mailer` into mailer's class this error occurs. If we remove it then everything is normal.

[0]: https://github.com/zeitnot/rails-mailer-preview

[2015-02-23 12:32] jvanbaarsen commented on #19040
@zeitnot What is the reason for including SIdekiq::Mailer? You can also send out emails using sidekiq with: `SampleMailer.delay.email_method`: https://github.com/mperham/sidekiq/wiki/Delayed-extensions#actionmailer

[2015-02-23 12:34] #19041 closed

[2015-02-23 12:36] zeitnot commented on #19040
@jvanbaarsen I know but I do not want use `delay` method as extra. With SIdekiq::Mailer I can send the email with sidekiq without `delay` extra method.

[2015-02-23 12:38] zeitnot commented on #19040
@jvanbaarsen btw this error occurs only on preview mode. The email is going properly.

[2015-02-23 12:41] jensljungblad opened #19043 "Belongs to relation validation doesn't check if relation is valid"
Using Rails 4.2.0, given these models
[code]

Or using the new `required` keyword:
[code]

This saves the `Favoriting` to the database (without a card_id) even though I have a validation for card presence in my `Favoriting` model.
[code]

Is this intended behavior? It saves an invalid favoriting to the database.

[2015-02-23 12:43] simi commented on #19043
Can you try: `belongs_to :card, required: true`?

Also check out http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#method-i-belongs_to.

[2015-02-23 12:45] jensljungblad commented on #19043
Yes I've tried that as well. Same behavior.

[2015-02-23 12:47] simi commented on #19043
Can you provide minimal script to reproduce using https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb ?

[2015-02-23 12:55] andremedeiros commented on #18983
OK, a little more detail for @sgrif, if it helps. This problem is essentially divided into 2:

1. I can't avoid, at best, a second query. I guess I could get the `Page`s, get the distinct values for `publication_id`, `Publication.find_by(id: <ids>)` that collection and assign it, but doing it on a ton of places in the code is going to be cumbersome. Worst, of course, is a `Publication.unscoped { p

[2015-02-23 12:58] jensljungblad commented on #19043
[code]

[2015-02-23 13:10] #10658 closed

[2015-02-23 13:22] jvanbaarsen commented on #19040
@rafaelfranca Can you add the label ActionMailer?

[2015-02-23 13:25] lazaronixon commented on #19020
Didn't work to me, Could you do a pull request with the solution to example application?

[2015-02-23 13:26] zeitnot commented on #19040
@jvanbaarsen I can't add that label.

[2015-02-23 13:31] jvanbaarsen commented on #19040
@zeitnot Thats why I pinged @rafaelfranca  ;)

[2015-02-23 14:18] #18233 closed

[2015-02-23 14:22] senny commented on #19020
@lazaronixon https://gist.github.com/senny/c8cad80acf0f124151ae patching the `environment` task is intrusive, a better option would be to overwrite `db:fixtures:load` and prepend the require there.

[2015-02-23 14:54] rafaelfranca commented on #19043
Presence validation only check if the record is present but not if it is valid. What you want is http://api.rubyonrails.org/classes/ActiveRecord/Validations/ClassMethods.html#method-i-validates_associated

[2015-02-23 14:54] #19043 closed

[2015-02-23 14:54] bezludny commented on #19031
Also, after server restart problem may disappear.
On the same page, where I can see incorrect url, after cap deploy:restart

[2015-02-23 15:13] jensljungblad commented on #19043
Okay, I played a bit with the script and apparently this works as you say:

[code]

I was wondering why I never noticed this before when I tried:

[code]

Which also works. So `accepts_nested_attributes_for` sets `validate` to true. This seems kinda confusing to me... Also, why would you ever use `required` without also having the relation validated?

Sorry if I posted this in the wrong place. Sho

[2015-02-23 15:32] Holek opened #19045 "image_tag should accept integers as a valid size"
Currently it only accepts strings, which is counter-intuitive:

[code]

[2015-02-23 15:50] lazaronixon commented on #19020
Thank you @senny is working now...

[2015-02-23 15:59] rafaelfranca commented on #19045
It is already fixed on master.

[2015-02-23 15:59] #19045 closed

[2015-02-23 16:05] rafaelfranca commented on #19043
@jensljungblad no, this is the correct place in this case.

This is a good question. I thought the same when I saw your question. In Rails 5 we will default the required option of `belongs_to` to be `true`, so maybe we should make `validate` true by default too.

[2015-02-23 16:12] rafaelfranca commented on #19031
If there is no predictable way to reproduce it we don't have how to help. It may be related with some thread safety issue, but we can't be sure without having a way to reproduce.

[2015-02-23 16:12] #19031 closed

[2015-02-23 16:24] kaspth commented on #19040
@zeitnot can you update the title again? You know more about the issue now so adding that information is helpful for other's when looking through the issues list :wink:

Also in the future please don't use titles like "does not work properly!", it kills our motivation to help you. Thanks :heart:

Have you tried filing this issue on Sidekiq? I think it feels more apt there because you include a Sid

[2015-02-23 16:30] rafaelfranca commented on #19040
Yeah, this seems to be more a sidekiq problem. Let us know if you can reproduce it without sidekiq and I'll reopen.

Thank you for the report.

[2015-02-23 16:30] #19040 closed

[2015-02-23 16:52] martndemus opened #19047 "Database default value is not set when property is not a permitted param."
I have a `User` model with a `role` property (see below). When I do `User.create!(email: 'me@example.org')`, in the console, the user gets created as you would expect, the email will de the one I gave and the `role` is set to the default (`'owner'`). When I call `POST /users` with `{ "user": { "email": "me@example.org", "role": "member" } }` then the validation fails, of which I expect it shouldn'

[2015-02-23 17:19] rafaelfranca commented on #19047
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-02-23 17:36] kennyj commented on #19039
Hi @msroot

I couldn't reproduce this issue.

I attempted the following step.

1) I added the following code to `activerecord/test/cases/adapters/postgresql/uuid_test.rb (master)`
[code]
2) I ran `ARCONN=postgresql bundle exec ruby -Itest test/cases/adapters/postgresql/uuid_test.rb`

But test_cache_key was passed. and I saw a proper cache key string (ex. postgresql_uuid_test_cache_key/uuid_cache_k

[2015-02-23 18:56] benjaminsigidi commented on #18822
Having the same problem.

[2015-02-23 19:02] ThomasAlxDmy commented on #19019
Alright it's really a development issue -- who really cares. I guess we can close that one unless someone is interested into debugging it.

[2015-02-23 19:03] thalesfp opened #19049 "Project with the same directory name"
When I create a project with the same directory name that he is, sometimes the scaffold command stucks and if there is a project inside this directory with the same scaffold name, rails indicates a conflict. Even if you force the command, the files are created on the another project.

[2015-02-23 19:22] rafaelfranca commented on #19049
Could you provide the steps to reproduce this issue?

[2015-02-23 19:23] rafaelfranca commented on #19019
Right. I thought it was a development issue. Thank you for the report.

[2015-02-23 19:23] #19019 closed

[2015-02-23 19:27] jonswar opened #19050 "Infinite loop calling to_json on ActiveModel::Name"
Calling to_json on an ActiveModel::Name, or any data structure containing it, results in an infinite loop.

    #!/usr/bin/env ruby
    unless File.exists?('Gemfile')
      File.write('Gemfile', <<-GEMFILE)
        source 'https://rubygems.org'
        gem 'rails', '4.2.0'
        gem 'json', '1.8.1'
        gem 'sqlite3'
      GEMFILE

      system 'bundle'
    end

    require 'bundler'
    Bund

[2015-02-23 19:31] repinel commented on #18902
I could work on this once #18878 is done.

[2015-02-23 19:51] bquorning opened #19051 "AR 4.1.10.rc1 introduced bug on uniqueness validation with scope"
When a model has uniqueness validation scoped to an attribute whose value is nil (or an array of attributes of which one is nil), the validation passes for identical values.

See https://gist.github.com/bquorning/460ad070893cbe498df5 for the bug template. Both the tests pass using Rails v4.1.9. The last test fails using Rails v4.1.10.rc1.

I suspect this bug was introduced by #18932 – which wasn’t

[2015-02-23 19:59] rafaelfranca commented on #19051
cc @sgrif

[2015-02-23 21:03] cristianbica commented on #19047
I've created a test https://gist.github.com/cristianbica/4e615aa1bfe87b288a38 and I cannot reproduce. @martndemus what rails version are you using?

[2015-02-23 23:36] jrochkind commented on #13851
This is annoying me too, something has changed in Rails 4.2 around this stuff I think, making tests that used to pass for me no longer do so, related to this stuff. I wish there were a way to do multiple requests in a functional test, sometimes it really is convenient. Does anyone have an easy workaround to make this possible in rails 4.2?

[2015-02-23 23:54] hsm3 commented on #13851
My embarassingly ugly hack was `request.env.delete 'PATH_INFO'` in my test before issuing the second request.

[2015-02-24 00:24] thalesfp commented on #19049
[code]
In this last scaffold the files will be created as identical.

[2015-02-24 00:31] thalesfp commented on #19049
I test it in 4.2.0 and 4.2.1.rc1

[2015-02-24 00:52] ianks commented on #19050
I'll take a stab at this.

[2015-02-24 00:54] ajgrover commented on #18874
Took a stab at implementing this [here](https://github.com/ajgrover/rails/commit/79aeb87a0c647574eee5e3804c96e06d5e9908a3). The config/spring.rb file is generated and called when Spring starts the application, but Spring doesn't seem to be watching the requested files. I've been trying to debug this for a little while now but am not familiar enough with Spring to figure it out. Any pointers would

[2015-02-24 01:53] rafaelfranca commented on #18407
@metaskills I was looking at this issue and I don't get how this change could affect your `attributes_for_update` override. The code path is still passing trough `attributes_for_update`. The code that removed `id` from the list of attributes is that `is_identity?` check?

[2015-02-24 01:53] rafaelfranca commented on #18407
@metaskills also could you open an new issue about this so I can assign for the milestone?

[2015-02-24 03:20] ruipgpinheiro opened #19056 "etag_matches? does not work correctly when the tags include the '-gzip' suffix"
So, I've been trying to figure out why my application running on 4.2 wasn't answering using 304 Not Modified, except in very rare cases, even though the etag and if-modified-since header are correct.

I keep having situations where Firefox sent the following headers:

And rails answered with these, and a 200 response (so it was processing the request from scratch):

As can be seen, both the etag a

[2015-02-24 03:41] metaskills commented on #18407
@rafaelfranca Thanks working on creating that issue now. I found that `attributes_for_update` is not called during the `test_partial_update_with_optimistic_locking` test when it was in Rails 4.2.0. Finding out why is kind of perplexing me. Seems unrelated to dirty.rb changes.

[2015-02-24 04:04] ruipgpinheiro commented on #19056
After some further digging, I discovered that it's failing at the etag_matches?(etag) call in fresh?.

That function is defined like this:

    # File actionpack/lib/action_dispatch/http/cache.rb, line 30
    def etag_matches?(etag)
      if etag
        etag = etag.gsub(/^\"|\"$/, "")
        if_none_match_etags.include?(etag)
      end
    end

I logged the parameters after the etag = etag.gsub

[2015-02-24 04:12] ruipgpinheiro commented on #19056
I'm not sure if it's the best way of doing it, but I've implemented a temporary fix for myself, which completely fixes the problem I was having. I just dropped this into an initializer:

    module ActionDispatch::Http::Cache::Request
    	 def etag_matches?(etag)
    		if etag
    			etag = etag.gsub(/^\"|\"$/, "")
    			if_none_match_etags.each do |if_none_match_etag|
    				return true if if_

[2015-02-24 04:29] rafaelfranca commented on #19056
What is generating this gzip in the end of the etag? It seems to be the
problem

On Tue, Feb 24, 2015, 01:12 ruipgpinheiro <notifications@github.com> wrote:

[2015-02-24 04:29] metaskills opened #19057 "Regression - Non-Partial Reads For Optimistic Locking Ignores #attributes_for_update"
While testing the SQL Server adapter for 4.2.1.rc1, I noticed that the `test_partial_update_with_optimistic_locking` test was failing for us. SQL Server does not allow identity columns in updates so we override [attributes_for_update](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/blob/master/lib/active_record/connection_adapters/sqlserver/core_ext/attribute_methods.rb) to remov

[2015-02-24 04:29] metaskills commented on #18407
@rafaelfranca Done! See issue #19057

[2015-02-24 04:31] ruipgpinheiro commented on #19056
I'm not sure. The server (I'm running rails 4.2 with Apache and Passenger Phusion) seems to do it. WebBrick doesn't.

Might have something to do with the fact that I'm rendering CSS? Does Rails/Passenger/Apache compress CSS or something?

[2015-02-24 04:34] sgrif commented on #19057
So this should have been called with `keys_for_partial_write`. Is there a case where the identity column would end up in here where the user didn't explicitly change it? Doesn't it make more sense to error loudly than silently swallow it?

[2015-02-24 04:46] ajgrover commented on #18950
Just sent a PR with deprecation warnings. I tried to follow the style in other actionpack warnings.

[2015-02-24 04:46] ruipgpinheiro commented on #19056
I investigated a bit more, and my browser *does* send the header

And the replies (not just the ones I'm trying to manually cache client-side) contain the header:

I just checked, and my Apache install has mod_deflate active. So I assume Apache is compressing stuff with gzip, and as a side-effect adding the suffix "-gzip" to the etag. Rails doesn't expect that, so etag_matches? breaks.

After some

[2015-02-24 05:19] dhyegofernando opened #19059 "Pattern to translate model enum"
I have been looking for a good pattern to follow when I want to translate model enum but I have not found  anything.

Check out this code:
[code]

Since enum values are not attributes, **we can not get the translation juts like another attribute**:
[code]

Is there any built-in way?

[2015-02-24 06:43] tejasbubane commented on #19049
I can reproduce this in 4.2.0

[2015-02-24 07:36] martndemus commented on #19047
I am using Rails 4.2.
I will give it a go to reproduce it using the template.

[2015-02-24 07:41] jensljungblad commented on #19043
Sounds like a good idea. What's the rationale for not having it on for `has_one` and `has_many`? I cannot really think of any reason you'd want to save invalid models to the database.

[2015-02-24 08:17] kuldeepaggarwal commented on #19051
I think, we need to implement this in similar manner as on master, i.e. user ActiveRecord::Relation#where instead of directly using AREL.

[2015-02-24 08:38] cristianbica commented on #19047
cannot reproduce with 4.2.0 also https://gist.github.com/cristianbica/4a5a5e8cdeabaa189662

[2015-02-24 08:51] msroot commented on #19039
@kennyj
[code]
I run this and it pass! I got `posts/57b68196-58a4-4a15-ac41-c21daf770610-20150224084251393943000` but it fails to generate timestamp  in my rails app

This is my Schema:

[code]
Here is my Gemfile

[code]

[2015-02-24 08:52] martndemus commented on #19047
Cannot reproduce it myself too.
Did a `rake db:reset`, this (I think) fixed it for me. Perhaps a glitch in migrations?

[2015-02-24 09:05] msroot commented on #19039
I just create a new rails application without any plugin and it seems like its works fine

[code]

So the problem generated from a Gem's bug

[2015-02-24 09:05] cristianbica commented on #19047
Perhaps. Anyway I'm closing this as we cannot reproduce. Thanks

[2015-02-24 09:05] #19047 closed

[2015-02-24 10:56] kennyj commented on #19039
@msroot

does `languages` table have any timestamps ?

[code]

[2015-02-24 13:23] sgrif commented on #19051
The changes required to do what is happening on master aren't possible on the version of Arel used by 4.1 and it would be non trivial to do so. I'll dig into it today.

[2015-02-24 13:25] metaskills commented on #19057
Just changed the title of this issue to "Updates With Optimistic Locking Ignores #attributes_for_update" since it does not seem to be related to setting partial writes to false.

If I put a `binding.pry` in the `test_partial_update_with_optimistic_locking` method and call `person.save!` twice without setting the partial write to false, I can see that `keys_for_partial_write` is called and I get ex

[2015-02-24 14:25] raouldevil commented on #19042
I have replicated this issue, see the console output at: https://gist.github.com/raouldevil/da036e1118b2cfaa7a40

[2015-02-24 14:34] raouldevil commented on #18921
@brentdax I think there is a separate process for feature requests, see the Rails documentation here: http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html. I don't think this is a case Rails should necessarily cater for unless commonly requested.

[2015-02-24 14:36] rafaelfranca commented on #18921
@dhh WDYT?

[2015-02-24 14:45] raouldevil commented on #19051
I have replicated this issue: see console output at: https://gist.github.com/raouldevil/301918f2590d7311ed8a

[2015-02-24 16:18] kennyj commented on #19049
I can reproduce this too (on ubuntu linux)
I think it is caused by `spring` processes. When stopping `spring` processes,  this issue disappears.

[2015-02-24 16:36] rafaelfranca commented on #19059
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-02-24 16:36] #19059 closed

[2015-02-24 16:39] dhyegofernando commented on #19059
Ok, my bad. Thanks.

[2015-02-24 16:46] rafaelfranca commented on #19043
`has_one` is not usually required, but we can try to enable by default.

Want to try an implementation?

[2015-02-24 17:14] rafaelfranca commented on #18821
@jvanbaarsen yes, it seems a good addition.

[2015-02-24 17:14] zw963 commented on #18464
Hi, I update my Project to Rails 4.2(ruby 2.2, pg 9.4) in my new year holiday, this problem is have resolved in ActiveRecord 4.2. (it always generate correct default value ``{}`` in schema.rb).

I try to restore to Rails 4.1 (with pg 9.4 and ruby 2.2), it reappear again, so I thought this bug is fixed in ActiveRecord 4.2,  Cool !

so, is still need to paste my rake db:reset output? it is a very lo

[2015-02-24 17:17] dhh commented on #18921
I actually didn't even know that partials would be looked for in `app/views/application` or `app/views/payments_mailer`. I almost always refer to a fully expanded path, and certainly so when I'm crossing boundaries. I suggest you do the same here, so you do `render "application/shared_partial"` rather than rely on `render "shared_partial"` happening to search in the right directory besides its own

[2015-02-24 17:23] rafaelfranca commented on #18921
This lookup is part of a feature called in Template Inheritance that exists since Rails 3.1. It is handy in some cases and when the controllers share the same ancestors, but I agree with @dhh about this one, mailers and controllers doesn't share the same ancestors so it would be a lot clear if you use explicit path.

Thank you for reporting the issue.

[2015-02-24 17:23] #18921 closed

[2015-02-24 17:24] dhh commented on #18921
Also, for your specific case, you really should just have the partial in invoices/_invoice, if you can. Then `<%= render @invoice %>` will just work.

[2015-02-24 17:33] senny commented on #18464
@zw963 going to close the issue then. Thank you for reporting.

[2015-02-24 17:33] #18464 closed

[2015-02-24 17:38] sgrif commented on #19057
Gotcha. Makes sense. I'll fix it today.

[2015-02-24 17:50] raouldevil commented on #18964
One of your problems may not be the `id`, but the arguments you are passing in for `"career_fairs"."location_id"`.

For example, if I do the following query: `User.where(id: [1,2])` generates the following SQL: ``users`.* FROM `users`  WHERE `users`.`id` IN (1, 2)`

This corresponds to this part of your query: `"career_fairs"."location_id" IN (43057, 'f', 43059, 43060, 'f', 43062, 43063, 43064, 43

[2015-02-24 17:58] rafaelfranca commented on #18964
Right. Closing since we can't reproduce it. Thank you for reporting.

[2015-02-24 17:58] #18964 closed

[2015-02-24 18:04] #19050 closed

[2015-02-24 18:10] rafaelfranca commented on #18997
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-02-24 18:10] #18997 closed

[2015-02-24 18:17] jvanbaarsen commented on #18821
@rafaelfranca Ok :) I'll see what I can come up with. Who from the core team is most familiar with ActiveJob that I might ping for help?

[2015-02-24 18:20] rafaelfranca commented on #18821
You can ping @cristianbica and @seuros

[2015-02-24 18:21] ianks commented on #19056
Inside your controller, can you give me the output of `env[HTTP_IF_NONE_MATCH]`?

[2015-02-24 18:22] seuros commented on #18821
@jvanbaarsen I'm willing to help.

[2015-02-24 18:32] courtenay opened #19065 "Rails 4.2: boolean fields in schema.rb not portable between postgres and mysql"
If you generate a schema with Mysql and try loading the same schema into postgres, it errors with

    ActiveRecord::StatementInvalid: PG::SyntaxError: ERROR:  syntax error at or near "("
    LINE 1: ...les" ("id" serial primary key, "published" boolean(1), "cate...

because the schema dumper includes 'limit: 1' like

    t.boolean :published, limit: 1

which is valid mysql (mysql doesn't have boo

[2015-02-24 18:37] courtenay commented on #19065
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb#L216

mysql doesn't have booleans, so it internally converts it to a tinyint(1). It shouldn't dump this to the schema, though.

[2015-02-24 18:45] ruipgpinheiro commented on #19056
I looked at the output of request.env['HTTP_IF_NONE_MATCH'] during the controller call, and it exhibits the same suffix. For example:

"d19bf4831f99b40fca08772de129afb2-gzip"
when the etag that Rails/Apache sends after the 200 response is
"d19bf4831f99b40fca08772de129afb2-gzip"
but the etag that Rails compares against during etag_matches? is
"d19bf4831f99b40fca08772de129afb2"

[2015-02-24 18:56] courtenay commented on #19065
PR inbound..

[2015-02-24 19:06] #19065 closed

[2015-02-24 19:06] georgeclaghorn commented on #19056
Matching ETags indicate that the responses associated with each are byte-for-byte identical. The compressed response generated by mod_deflate is not identical to the response generated by Rails, so their respective ETags must not match. In a similar vein, Nginx strips ETags from compressed responses.

[2015-02-24 19:07] rafaelfranca commented on #19056
Yes. Exactly this.

[2015-02-24 19:11] ruipgpinheiro commented on #19056
I know, but I don't think this should be closed. This is because etag_matches? ignores the fact that the response is compressed, and as such will *never* work if the server compresses the response.

It can be seen that the server *is* sending the "-gzip" etag, which the client stores and sends back later, but rails thinks the data sent is out-of-date as it does not include the "-gzip" tag in the c

[2015-02-24 19:27] mfazekas commented on #18743
@rafaelfranca FYI it's a regression in 4.2.1.rc1

[2015-02-24 19:28] rafaelfranca commented on #18743
Thanks

[2015-02-24 19:28] ianks commented on #19056
I tend to agree that this is a bug. I think this case argues for Weak Validation as the hashed value is, for all intents and purposes, the only semantically important value here.

[2015-02-24 19:33] alediaferia opened #19067 "Rails.cache.fetch in before_filter triggers infinite loop in Marshal::load_with_autoloading"
`Rails 4.2`

I'm trying to unmarshal an ActiveRecord model instance in a before_filter but this trigger an infinite loop in `active_support/core_ext/marshal.rb`.

The code looks like this:

    @my_var = Rails.cache.fetch('mykey', expires_in: 120.minutes) do
        MyModel.last(3)
    end

In particular the exception message is: **"undefined class/module ActiveRecord::ConnectionAdapters::Mysql2Ad

[2015-02-24 19:55] #18743 closed

[2015-02-24 20:03] rafaelfranca commented on #19067
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-02-24 20:22] jvanbaarsen commented on #18821
@seuros Im looking into this, and this is what my assumptions are at the moment (I took que as an example)

1. When a Job is created the specific adapter is called (in this case `activejob/lib/active_job/queue_adapters/que_adapter.rb`)
2. The `JobWrapper.enque` is called, which directly sends the job to Que since JobWrapper inherents from `Que::Job`
3. My assumption would be that the enqueue metho

[2015-02-24 21:00] sgrif commented on #19057
Fixed in https://github.com/rails/rails/commit/bc211ea607fddd2b7a6eeee28870f8057adb9328

[2015-02-24 21:00] #19057 closed

[2015-02-24 21:18] metaskills commented on #19057
Thanks, we are all green now.

[2015-02-24 21:22] ianks commented on #19056
@ruipgpinheiro Could you create an example app? I am having some trouble recreating this behavior. Namely, I'm having trouble seeing how `env[HTTP_IF_NONE_MATCH]` can be different from the etag that `etag_matches` recieves. It seems to me that Rails directly uses `env[HTTP_IF_NONE_MATCH]` in `etag_matches?`

[2015-02-24 21:32] ruipgpinheiro commented on #19056
The code at the start of the thread reproduces the problem. I can make it an app and post it here if you need.

I think you've slightly misunderstood the problem - the etag_matches? receives as argument the tag that was sent into the stale? method, which is a hash relating to the up-to-date data. The if_none_match_etags vector contains env[HTTP_IF_NONE_MATCH].

    # File actionpack/lib/action_dis

[2015-02-24 21:40] georgeclaghorn commented on #19056
In this particular case, you can configure mod_deflate not to append the -gzip suffix with the [DeflateAlterETag](http://httpd.apache.org/docs/trunk/mod/mod_deflate.html#deflatealteretag) directive.

[2015-02-24 21:40] ianks commented on #19056
I think this issue presents the issue that we need a proper abstraction for creatings ETags, esp. Weakly Validated ETags. http://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html#sec13.3.3

The way that it is done now is to assume that all ETags are to be strongly validated (i.e. byte-for-byte match).

Typically, an ETag is casted as 'weak' by prepending "W/" to the start of the tag. So your tag wou

[2015-02-24 21:45] ruipgpinheiro commented on #19056
@georgeclaghorn Thanks, that works. The only problem is that Apache appends -gzip to it for a reason (so that proxies can cache a gzipped and non-gzipped version depending on if the client supports it or not), but that doesn't affect me as the things that matter for me are all set to private and won't be cached anyway

@ianks I know my implementation isn't correct, but I wanted a quick fix, and se

[2015-02-24 22:17] sgrif commented on #18964
We should still never be generating `'f'` for an integer column, regardless of the values passed. Still, agreed we shouldn't leave this open since we don't have the information required to reproduce.

[2015-02-24 23:12] KevinMatte commented on #18398
I'd appreciate some sort of progress indicator.

[2015-02-24 23:28] seuros commented on #18821
@jvanbaarsen I think we don't return the jid from any adapter for now. It not hard to implement, but do all supported adapter return a JID ?

[2015-02-24 23:53] jvanbaarsen commented on #18821
@seuros Im not sure, I believe at least Sidekiq does. I'll make a list of all the adapters that return a JID. If it turns out to be just Sidekiq this feature might not be that usefull after all. I'll get back to you on this!

[2015-02-25 00:25] #18904 closed

[2015-02-25 00:25] arthurnn commented on #18903
done via https://github.com/rails/rails/pull/18936

[2015-02-25 00:25] #18903 closed

[2015-02-25 00:33] Spaceghost commented on #18878
But now I can't write rake tasks that use those tasks as dependencies. :frowning:

[2015-02-25 00:59] sgringwe commented on #18964
Will update with information when I get it

[2015-02-25 02:03] dhh commented on #18878
Sure you can. We are keeping the tasks that makes sense as rake tasks so you can depend on them. We just allow you to call those through the rails command.

[2015-02-25 02:06] Spaceghost commented on #18878
@dhh Oh, that's a lot less heat attack inducing. Thank you.

[2015-02-25 02:06] 42001983 commented on #18878
Why due I get these emails
On Feb 24, 2015 6:04 PM, "David Heinemeier Hansson" <
notifications@github.com> wrote:

[2015-02-25 02:08] 42001983 commented on #18878
Whose is this why you email n e
On Feb 24, 2015 6:07 PM, "Johnneylee Jack Rollins" <notifications@github.com>
wrote:

[2015-02-25 02:40] kuldeepaggarwal commented on #19051
@sgrif: Actually I found the issue and its because we used ArelTable#eq that is creating problem.

[code]

And I wanted to say that we should use ActiveRecord::Relation#where here.

[2015-02-25 02:55] sgrif commented on #19051
Fixed in 1e1d0f1

[2015-02-25 02:55] #19051 closed

[2015-02-25 05:00] bquorning commented on #19051
Thanks, @sgrif

[2015-02-25 05:24] msroot commented on #19039
@kennyj  thank you man this is the problem

[code]

[2015-02-25 05:25] 42001983 commented on #19039
Stop emailing me
On Feb 24, 2015 9:24 PM, "Yannis Kolovos" <notifications@github.com> wrote:

[2015-02-25 05:29] #19039 closed

[2015-02-25 05:30] msroot commented on #19039
@kennyj  my bad man! I am sorry

[code]

[2015-02-25 06:00] cristianbica commented on #18821
Resque does also. Que/queue_classic/delayed_job should return ActiveRecord
instances
On Wed 25 Feb 2015 at 01:54 Jeroen van Baarsen <notifications@github.com>
wrote:

[2015-02-25 06:39] cristianbica commented on #18821
@jvanbaarsen the way I see this doable is having an attribute on the job `adapter_job_id` (or `provider_job_id`) and that attribute will be set by the adapter upon `enqueue`. Example:
[code]

The downside of all this is that you have access to the provider_job_id only at enqueue time. When your job is executed you cannot get from AJ. But I don't think is needed nor the purpose of this talk