[2015-12-03 17:35] dyatlov opened #22491 "Join + Select + Group = error when trying to count rows.."
Given this statement:

[code]

it produces the following SQL:

[code]

Now we want to check how much records we've got, `@items.count`:

[code]

[code]

Now I'm trying to use `:all`  as a workaround, `@items.count(:all)`:

[code]

[code]

Guys... what to do?

[2015-12-03 17:36] rafaelfranca commented on #22491
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-03 17:36] #22491 closed

[2015-12-03 17:36] matthewd commented on #22489
You can't override a subclass's method from its superclass.

Please use the mailing list or StackOverflow for further questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-03 17:37] dyatlov commented on #22491
@rafaelfranca are you crazy maan?
it's clearly an issue with rails activerecord

[2015-12-03 17:39] rafaelfranca commented on #22491
No I'm not. It is not an issue with Rails Active Record and I could answer why, but since you asked in that way I'll not, sorry.

[2015-12-03 17:40] dyatlov commented on #22491
@rafaelfranca you definitely crazy

[2015-12-03 17:43] jeremy commented on #22491
Crazy like a fox

[2015-12-03 17:57] jaredhoyt commented on #22474
@rafaelfranca @stephenprater Here is a reproduction script based on the Car/Engine example:

https://gist.github.com/jaredhoyt/c774c051ca425178f308

[2015-12-03 18:29] scambra commented on #21209
I have same issue using passenger, not puma. I wasn't using release_connection and with_connection, and it happened too often, when I added release_connection and with_connection to the action using response.stream, it happened but not often.

Also, I have other actions in same controller which doesn't use release_connection and with_connection, they don't use response.stream either. Does anyone k

[2015-12-03 18:53] jetheredge commented on #19439
Ends up it is actually a little more complicated since current_tags is being called on the formatter in ActiveJob and Syslogger's formatter is a proc not an object. It seems like the patch that @robdimarco provided above should be pulled in since the current check is assuming too much. Also, @cristianbica proposed a solution which involves allowing the current_tags to be at the logger or formatter

[2015-12-03 21:45] pkmiec commented on #22261
I'm also having this issue in 4.2.

When running `rake`, this is usually not a problem because rake tasks depend on `db:load_config`, which sets `ActiveRecord::Migrator.migrations_paths` to `Rails.application.paths['db/migrate']`. However, when simply calling `ActiveRecord::Migration.maintain_test_schema!` which happens in a helper, the ActiveRecord::Migrator defaults to `db/migrate`.

[2015-12-03 22:55] denniss commented on #22474
I may be repeating what's already been said here. So it looks like the current behavior **creates** a new engine and orphans the old engine record.

`assert_equal car.engine, engine  #Fails`

[code]

I am guessing that `build_engine` should not persist to according to the documentation of has one build association
[code]

[2015-12-03 23:31] arthurnn commented on #22135
I am not sure if I understand the issue. I think if you are proposing a doc change, would be easier if you open a PR with the change and we can discuss it there.

Thanks

[2015-12-03 23:31] #22135 closed

[2015-12-03 23:38] denniss commented on #22490
Failing test

[code]

[2015-12-03 23:48] stephenprater commented on #22474
No, that's pretty much it.  The problem as I see it is not that the new engine should be saved, or that I should have two engines on the car - it's that there is no way to get the old engine _back_.  So if I build a new Engine - and then the engine is invalid, or can't be persisted for some reason, the old engine can't be re-associated to the car.  It doesn't even happen in a transaction you can r

[2015-12-04 01:06] denniss commented on #22484
@tilhoft Can you make your test fail (i.e. add some assertions)?

Here's an example of a failing test:
https://gist.github.com/jaredhoyt/c774c051ca425178f308

[2015-12-04 06:41] the-undefined commented on #22474
Hi!

It doesn’t seem right to update the database when only calling build_* methods I agree. I’ve dived into the active record code to see why this behavior is happening and have a potential patch.

Within the `SingularAssociation` class is the build method that calls `set_new_record(record)`:

[code]

This in turn calls `replace` but importantly with the argument `false`, to signify *not* to save

[2015-12-04 15:47] dhh commented on #22076
@seuros Did you make any progress on this?

[2015-12-04 15:51] dhh opened #22496 "Deprecate ActionController::TestCase in favor of ActionDispatch::IntegrationTest"
With the speed increase we achieved for ActionDispatch::IntegrationTest in Rails 5, there's no longer a need to also have ActionController::TestCase around. We're changing the scaffolds in #22076 but we should also get the message out that ActionController::TestCase is deprecated and will be made into a gem from Rails 5.1.

[2015-12-04 18:31] nofxx commented on #22360
@Javix , that's strange. Inflector should work as #human will return a String.

Another way:  http://stackoverflow.com/questions/22730559/rails-4-pluralizing-model-name-human-using-count-123-doesnt-work

This will then work: `Level.model_name.human count: :many`  or `count: 2` anything.. it tests for zero.

Couldn't we have a `Model.model_name.human_many`  or `human_plural` ?

[2015-12-04 18:51] nofxx commented on #22360
Just tried using inflectors, just like Javix.

[code]

This gotta be a bug. Why #pluralize isn't using the locale???

[2015-12-04 19:00] matthewd commented on #22360
This is by design; otherwise changing the current locale would break Rails's ability to turn the model name into a table name, for example.

[2015-12-04 19:00] #22360 closed

[2015-12-04 19:06] pcerioli-gpsw commented on #19042
Is this issue is going to fix in future releases of Rails? The suggested workaround:
[code]
didn't work for me (I am on Rails 4.1.8).
From my understanding this is still open.

[2015-12-04 19:19] nofxx commented on #22360
@matthewd ty. That explains it. Thank you.
To make it more intuitive, if we have `human` using locale, we could have `human_plural` or something like.
What do you think?

[2015-12-04 20:28] denniss commented on #22474
What should the value of `car.engine` be AFTER calling `car.build_engine` when the newly built engine is invalid? Should it be the instance of the old engine or the newly invalid engine?

It sounds to me that we need a new method.... something like `previous_engine`?

[2015-12-04 20:35] stephenprater commented on #22474
I think `car.engine` would be the new instance as long as you're talking to the same `car` instance.  So:

[code]

So if `car.engine` is not valid at some point, I would just not call `car.save` and then on reload `car.engine` would still be the old engine.

[2015-12-04 22:47] maletor opened #22498 "has_one with dependent nullify fails destruction with an inverse relation specifying dependent destroy"
Rails tries to set the column as `NULL` too late in the sequence of events for a destruction.

[code]

ActiveRecord is trying to set the user's attributes with `{ account_id: nil }`. [ActiveRecord::Persistence](https://github.com/rails/rails/blob/v4.2.5/activerecord/lib/active_record/persistence.rb#L293) contains the offending code.

I'm curious what you think the right course is to take with this

[2015-12-05 03:13] sgrif commented on #22498
You can certainly shoot yourself in the foot with circular `dependent` chains if you want to, but it is not a bug.

[2015-12-05 03:48] maletor commented on #22498
It's a change in behavior from 4.1 to 4.2. If you don't think it's an issue, I can somewhat work around it with a different approach.

[code]
Ideally, this is sorted out by the framework though as a "convention".

[2015-12-05 03:50] sgrif commented on #22498
Please provide an executable test case which demonstrates the issue, using our standard bug report template. https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2015-12-05 06:53] yan-hoose commented on #19042
The fix was released in Rails 4.2.4. I recommend you to upgrade.

[2015-12-05 15:08] sivagollapalli opened #22501 "Appending multiple line numbers to run multiple tests"
In `rspec` we can run multiple specs as `rspec spe/models/user_spec.rb:4:8` . So it would run specs defined at line number `4` and `8`. But currently `rails` testing didn't support this feature. Could we add it to rails. Thoughts please?

[2015-12-05 15:48] kaspth commented on #22501
We don't take feature requests on the issue tracker. We recommend asking on the Rails core mailing list or try to write a pull request yourself. Thanks :heart:

[2015-12-05 15:48] #22501 closed

[2015-12-05 16:46] maclover7 commented on #20612
#22457

[2015-12-05 17:17] maclover7 opened #22503 "[Meta] Convert Rake tasks to `Rails::Commands::Command`"
Here is a master list of all Rails (and associated libraries) Rake tasks that will need to be converted to `Rails::Commands::Command` subclasses. This issue should serve as a home base for coordinating work to convert these Rake tasks before v5.0.0 lands. cc @kaspth @ccallebs

# ActionView
- [actionview/lib/action_view/tasks/dependencies.rake](https://github.com/rails/rails/blob/master/actionview/

[2015-12-05 17:22] simi commented on #20612
https://github.com/rails/rails/pull/18937

[2015-12-05 18:03] matixmatix opened #22505 "undefined local variable or method `has_secure_pasword' for User in Rails 5.0.0.alpha API with ActiveRecord"
I'm running a Rails app created with `--api` flag and I can't get `ActiveModel::SecurePassword` to work in my User model.

Gemfile:
`gem 'bcrypt-ruby', '~> 3.0.0'`

User.rb
[code]

If I open Rails console and simply type `User`, I get the following:

[code]

My requires in `application.rb`:

[code]

[2015-12-05 19:19] maletor commented on #22498
@sgrif, [I posted a failing test case](https://gist.github.com/maletor/f07dd9a04b15028c5d8f).

[2015-12-05 19:24] RochesterinNYC commented on #22503
If we want to help contribute in converting some of these to the appropriate rails commands, what's the procedure/coordination game plan?

[2015-12-05 19:42] andreydeineko commented on #22407
@timbreitkreutz so do you think this issue has a chance to be examined by anyone from Rails team or is it rather a rare case which is not worth it?

[2015-12-05 20:15] masterkain commented on #22505
`has_secure_password` instead of `has_secure_pasword` might help there

[2015-12-05 20:19] Elektron1c97 commented on #22505
You have a typo in `has_secure_pasword` it should be `has_secure_password` lke @masterkain said.

[2015-12-05 20:20] matixmatix commented on #22505
@masterkain @Elektron1c97 Oh man, I am so ashamed! Thank you.

[2015-12-05 20:20] #22505 closed

[2015-12-05 20:20] kaspth commented on #22503
Don't think this is the exact road map we're looking for. A 1-1 mapping like this is a lot of churn and costly, especially when this is one of the things blocking Rails from going into beta.

I'd rather we prioritized converting a task to a command like this:

1. Already run with `rails`.
2. Uses ENV variables as parameters.

Then, for quicker complete coverage, the tasks that have dependencies or

[2015-12-05 20:34] ccallebs commented on #22503
@kaspth In that case, should I add back the `rake_delegate` command and create a separate class with all of those delegations? Having all the rake delegations in one place would prevent the kind of churn we saw in the last attempt.

[2015-12-05 20:39] kaspth commented on #22503
@ccallebs let's hold off on that a bit, I'd like to explore alternatives to the `rake_delegate` attempt first.

My thinking is we can avoid adding that method altogether, if we, attempt to run a rails command, then if there is none, a) load the Rake environment, and b) run `Rake::Task[task_name].invoke`.

Feel free to take a stab at that, or come up with a better solution :smile:

[2015-12-05 21:39] arthurnn commented on #22274
@fdel15 I think if you want to create a fk you need to pass `foreign_key: true` , as @waghanza is trying to do. @senny can  you confirm?

[2015-12-05 21:40] #9015 closed

[2015-12-05 22:05] maclover7 commented on #22503
I understand why it would be better to not do a big bang conversion at once, but as you mentioned, Rails 5.0 will be landing soon. This also means that the window to get done this Rake --> Thor CLI conversion project only has a small amount of time to get done -- if the conversion doesn't happen before 5.0, then it can't happen before 6.0, because that's a SemVer breaking change (big no-no). That'

[2015-12-05 22:23] kaspth commented on #22503
Rails follows a shifted SemVer structure, so 5.1 is just as fine :grin:

Besides I don't want to break backwards compatibility here in any way. The tasks you were able to run with Rake in 4.2, should still be able to run with Rake in 5.0 — albeit with a deprecation warning.

By the way `rake dev:cache` has never been in a public release, so it doesn't have to be able to be run with `rake`. Same go

[2015-12-05 22:27] maclover7 commented on #22503
So the plan is to port everything over to the main Rails CLI, but leave intact the Rake tasks in place with a deprecation notice? And then on 5.1 remove deprecation notices + Rake tasks in favor of just the main Rails CLI?

[2015-12-05 22:35] kaspth commented on #22503
Well, by priority. The more complex ones to port, I'd be more inclined to just wrap, so they can be run with `bin/rails`.

The goal here is to make the interface nicer, even if we use rake to run tasks internally. You can check out more of the impetus here: https://github.com/rails/rails/issues/18878

[2015-12-05 23:08] senny commented on #22274
`references` in it's own will add the foreign key column but not the foreign key constraint. Passing `foreign_key: true` will do that.

@waghanza Can you write an executable test-case to reproduce your problem? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point.

[2015-12-05 23:26] jhaungs opened #22507 "The klass ivar can be nil in active_record/table_metadata.rb"
I don't know much about the semantics of klass being nil in this code, but this fix made my Rails 4.2.5 code work in Rails 5.

It seems that line 43 should read:

`association = klass && klass._reflect_on_association(table_name)`

Elsewhere in this module (lines 29 & 37), it is assumed that klass can be nil, and on line 54, nil can be passed as `@klass` to the constructor.

[2015-12-06 01:16] sgrif commented on #22507
Please provide an executable test case that demonstrates the issue, using out standard template. https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-12-06 11:59] dhh opened #22510 "Relation#destroy_all should perform its work in batches"
Since destroy_all actually loads the entire relation and then iteratively destroys the records one by one, you can blow your memory gasket very easily. So let's do the right thing by default and do this work in batches of 100 by default and allow you to specify the batch size like so: #destroy_all(batch_size: 100).

[2015-12-06 12:39] shakycode commented on #22510
I like this.  Makes a lot of sense.

[2015-12-06 13:41] yui-knk commented on #20612
#21601 (deprecation)

[2015-12-06 13:48] dhh commented on #22510
Summary of concerns:

* #destroy_all currently promises the destroyed values are returned. This naturally doesn't work with a batch approach, so we need a feature toggle like `config.active_record.destroy_all_in_batches` to switch between the old and new way. We will set this to `true` in an initializer for new apps. Old apps will get a warning.
* Need to see how this interacts with a relation tha

[2015-12-06 15:57] dhh opened #22512 "Routes.draw#direct"
It's a common occurrence that the default model-name-to-route direction is too simple to work for applications with nested or programmatic URLs. It's also common that you need to have programmatic routes that delegate to other routes given the state or class of its parameters.

This is a proposal to remedy both situations by allowing the application to direct how instances of certain classes are r

[2015-12-06 15:58] dhh commented on #22512
/cc @pixeltrix Do you have some thoughts on this?

[2015-12-06 16:44] dhh opened #22515 "Add after_create|update|destroy_commit as aliases for after_commit :x, on: :y"
The after_commit callback is seeing a lot more use now that it's the primary method to hooking a job onto the lifecycle of a record. But the default setup is that after_commit runs on every transaction committed. That is very rarely a useful callback. This means you're constantly using the `on:` key to specify what transaction type you're talking about.

I propose we add `after_create_commit`, `af

[2015-12-06 16:49] arthurnn commented on #22285
thanks @raminator for answering this.
@toncid We reserver our issue tracker for issues only. Please use StackOverflow for questions

[2015-12-06 16:49] #22285 closed

[2015-12-06 16:54] arthurnn commented on #22319
this has changed on master branch (rails 5), https://github.com/rails/rails/commit/ee9e4c340e68cd6f274b1443b68f1d3e91db7b6f , We cannot backport this behaviour as it is a new behaviour.
But new versions of Rails will allow `-` on the plugin name

[2015-12-06 16:54] #22319 closed

[2015-12-06 16:57] arthurnn commented on #22305
@tjblonsk The docs is wrong, as of the commit that @matthewd pointed out. We need to fix the comment on that file in order to update the api.rubyonrails.org . Do you want to send a PR with the fix?
thanks

[2015-12-06 16:59] arthurnn commented on #22341
@bhaak can you write a self contained script that simulates to problem? that would help us on the fix.
thanks

[2015-12-06 17:07] arthurnn commented on #22364
do you have a stacktrace? where is that installing coming from? if you commented that out from your gemfile , I am curious to see why it is still trying to install that.

[2015-12-06 18:03] pixeltrix commented on #22512
I'm generally :+1: but I have a few points:

1. I think conflating mapping models to url helpers and defining custom url helpers that are available everywhere with a single method `direct` will be confusing for new developers. In my opinion it would be better to keep them separate - like `map` and `helper`, e.g:

[code]

2. The above example also illustrates my second point - the `follow` method i

[2015-12-06 18:24] dhh commented on #22512
1. I think that's fair debate, though my thinking was that these are basically doing the same thing from different angles: They're working as direction pointers from something that's not a final route to something that is a final route.
2. I use follow to make the case of looking up runtime routes like `"bucket_#{recording.recordable_name}"`. Otherwise you need to use something like public_send wh

[2015-12-06 18:27] matthewd commented on #22512
`follow` is there to paper over the difference between `_path` and `_url`, and to pass along any additional parameter hash.

I think the non-block form is a bit too narrow of a use case to warrant its own syntax -- "take any given object, then just route to this static helper" seems quite a rare requirement. And we should be able to make the arrangements inside `resource` itself, rendering the spe

[2015-12-06 18:31] dhh commented on #22512
@matthewd, you mean like:

[code]

?

[2015-12-06 18:36] matthewd commented on #22512
@dhh for https://github.com/rails/rails/issues/1769 (singular resources):

[code]

could automatically:

[code]

... so that `form_for(@company)` will correctly submit to `/company` instead of passing the model along to `company_path` (which isn't expecting it).

[2015-12-06 18:40] dhh commented on #22512
Ah, I see, yes!

[2015-12-06 20:14] lsylvester commented on #22498
I think that this has been fixed in 19b168e611fb8fb547981c4535130c29856efd3a. Do you still get this issue if running against edge rails?

[2015-12-06 20:18] #22515 closed

[2015-12-06 20:43] maletor commented on #22498
Any chance we can see that backported to `4-2-stable`?

[2015-12-06 22:03] pixeltrix commented on #22512
@dhh I can work on a spike of it this week - there's definitely a few edge cases, for example what happens when the instance is part of a polymorphic array, e.g. `[:admin, @company]` - current behaviour is to generate `admin_companies_path` if `@company.persisted?` is false but `admin_company_path` if true. Would `direct` only apply to the simple case like `form_for @company` ?

[2015-12-06 22:18] pixeltrix commented on #22512
@matthewd

@dhh

Both of these concerns can be address by passing the block result to `url_for` - if the block returns a string, it's treated as a fully formed url, a symbol is treated as a url helper name (path or url dependent on context) and an instance or array is passed to `polymorphic_url`. No need to mess with `public_send`.

By using `url_for` on the result you can also return an options h

[2015-12-06 22:20] pixeltrix commented on #22512
A non-block form could be optimised - url generation is a hot spot and not having to evaluate a block seems like it could offer a performance boost.

[2015-12-06 22:35] egilburg commented on #22510
`each` does not work in batches, one has to write `find_in_batches` (or I think newer api is `in_batches.each`). Perhaps support `in_batches.destroy_all` instead?

[2015-12-06 22:49] arthurnn commented on #22515
that was ⚡

[2015-12-07 06:25] randoum commented on #22364
It was a clone from master. I am curious to see why too, and that's why I posted this message for your information. Off course I worked around by installing PG in the system. Now if you don't feel like working on this, we just close it. You seem to be a bit upset by my question and I don't want to bother you with it.
Thanks anyway.

[2015-12-07 06:25] #22364 closed

[2015-12-07 07:30] dhh commented on #22512
@pixeltrix Yeah, my thought was indeed that the direct("Recording") would only be for the `form_for @company` case.

Are you saying that `url_for("bucket_#{bucket.bucketable.name}")`, without a url/path, will do the right thing? Or you're saying we'd change it such that it would? In either case, then that sounds good. Except we also need to remember to pass options, and we don't want to do that ma

[2015-12-07 08:26] pboling commented on #20885
Was fixed by #20921

[2015-12-07 08:26] #20885 closed

[2015-12-07 08:38] bogdan commented on #22510
I think this feature is not sufficient to cover all problems with destroy a large set of records.
As I remember currently we can do the following:

[code]

And this patch doesn't make it a lot easier.

Especially if we consider associations and cascade deletes.

[code]

* dependent records need to also be deleted in batches
* those batches size should be configurable
* delete strategy should also

[2015-12-07 09:26] pixeltrix commented on #22512
Yes, but it either needs to be a symbol or an array, e.g:

[code]

or

[code]

A string is treated as url because of `link_to '/foo'`. The benefit of the latter syntax is that you can pass options to the method, e.g.

[code]

By passing the result of the block to `url_for` we can leverage the existing implementation and learning the new feature will be simpler because it's the same as `link_to`, e

[2015-12-07 09:48] idler921 commented on #21262
Same problem for mysql

ActiveRecord::StatementInvalid: Mysql2::Error: Unknown column 'NaN' in 'field list': UPDATE `t` SET `f` = NaN WHERE `t`.id = 2

        from /usr/local/rvm/gems/ruby-2.2.1/gems/mysql2-0.4.2/lib/mysql2/client.rb:107:in `_query'
        from /usr/local/rvm/gems/ruby-2.2.1/gems/mysql2-0.4.2/lib/mysql2/client.rb:107:in `block in query'
        from /usr/local/rvm/gems/ruby-2.2.

[2015-12-07 09:58] jgrau commented on #22368
I am having this issue as well.

[2015-12-07 09:58] dhh commented on #22512
Very nice! Then we don't need the follow part. Sticking with url_for sounds
good to me.

On Mon, Dec 7, 2015 at 10:27 AM, Andrew White <notifications@github.com>
wrote:

[2015-12-07 13:18] kalabiyau opened #22524 "Testing ActionController::Live with recent master raises exception"
Followed by guide on `bf9facb` rails ref.

[code]

raises `undefined method 'request' for #<ActionDispatch::Request:0x00000003ad1148>`

That leads to https://github.com/rails/rails/commit/42eb37ab514060c4217ad2dd845d3bf05007db0f#diff-5055d9f16b442adb1d2f0f65903a196bR39 and where response is assumed request arrives.

@eileencodes maybe you have good idea what is going on there.

From my little inve

[2015-12-07 13:20] eileencodes commented on #22524
Thanks for the report @kalabiyau I'll take a look at this.

[2015-12-07 13:22] kalabiyau commented on #22524
@eileencodes also - small question

`set_response!` in `ActionController::Live` is overwrites one from `ActionController::Metal` is that correct and why it is needed?

For myself I monkey-patched Live by removing set_response! and all green and smooth

[2015-12-07 13:23] eileencodes commented on #22524
I don't remember off the top of my head. But the goal is to get rid of Response::Live and use Response for everything.

[2015-12-07 13:24] eileencodes commented on #22524
This is so that we can move the controller test code to be integration test code and get rid of controller test code. It's a yak shave for sure :grin: and there are a lot of moving parts that need to be changed.

[2015-12-07 13:25] kalabiyau commented on #22524
@eileencodes I see, thanks a lot for the explanation! Let me know if anything.

[2015-12-07 13:32] nateberkopec commented on #22524
Do we need to add a test here?

[2015-12-07 15:18] tjblonsk commented on #22305
Will do!

[2015-12-07 16:00] kimrgrey commented on #15244
Hi, guys! What about this bug? Is it was fixed in Rails 4.1? Or Rails 4.2? Or it's still there? It looks like I have same issue. I'm trying to preload HABTM relation with additional `where` caluse and it's failed because column isn't available for genereated query. Should I use only `references` in such cases?

[2015-12-07 18:13] mperham commented on #21006
Anyone know the latest status of Interlock and this issue?

[2015-12-07 18:46] matthewd commented on #21006
@mperham I knew I wanted to come back and settle on a public API, but had forgotten there was still some Proper Thinking to iron out. :sweat_smile:

I'll get it sorted in the Very Near Future.

[2015-12-07 20:23] eileencodes commented on #22524
Actually yea, if someone could write a test quick using this guide https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb that'd be great, if not I'll try to get to this tonight or tomorrow.

Can you also post your stack trace @kalabiyau?

[2015-12-07 21:37] eileencodes commented on #22524
Nevermind, this was reproducible with the main script and just adding an include.

[code]

[2015-12-07 22:37] #22232 closed

[2015-12-07 23:16] victorhazbun87 opened #22528 "Left outer join not working"
Hello,

I have 2 tables: appointments and doors. Door has one appointment and appointment belongs to a door. The appointments table have the door_id.

The query I wrote is:

    scope :not_in_appointments, -> { joins("left outer join appointments on appointments.door_id = doors.id") }

ISSUE: The scope is still returning the doors that are in the appointments table.

GOAL: We want to get doors tha

[2015-12-07 23:34] matthewd commented on #22528
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-07 23:34] #22528 closed

[2015-12-08 01:58] b264 opened #22529 "Missing backtrace in rails server"
Is there any way to show all the missing backtrace in the development server?  Currently, it shows only two lines in Rails 4.2.4.

[2015-12-08 02:34] yahonda opened #22530 "ActiveRecord unit tests hang after e7c48db509f1b712c2a72a3ff7f27e3e8b7b4868"
ActiveRecord unit tests of all adapter (sqlite3, mysql, mysql2 and postgresql) get hang at some test in `ActiveRecord::ConnectionAdapters::ConnectionPoolTest`
after https://github.com/rails/rails/commit/e7c48db509f1b712c2a72a3ff7f27e3e8b7b4868

### Steps to reproduce
[code]
No progress at one of tests in `ActiveRecord::ConnectionAdapters::ConnectionPoolTest`
it also reproduces with `rake test_mysq

[2015-12-08 02:53] rafaelfranca commented on #22529
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-08 02:53] #22529 closed

[2015-12-08 03:31] bjm88 opened #22531 "Rails 3.2 breaks hard on MySQL 5.7"
Starting in MySQL 5.7  rails 3.2 and the corresponding version of ActiveRecord seem to break the general SQL rule that in earlier versions of MySQL was just allowed.  Generally, you should not try to order by something if its not in the select.  MySQL 5.7 will now throw an error, example query

Expression #1 of ORDER BY clause is not in SELECT list, references column 'caredox_prod_copy2.organizati

[2015-12-08 03:35] bjm88 commented on #22531
For a general idea, if I was in a model  "order_record" and wanted to get association organization_groups and organization had default_scope order declared and this was order_record's associations..
  has_many :enrollments, dependent: :destroy
  has_many :programs, through: :enrollments
  has_many :organizations, through: :programs
  has_many :organization_groups, through: :organizations, uniq: tr

[2015-12-08 03:37] bjm88 commented on #22531
From MySQL release notes

Relying on implicit GROUP BY sorting in MySQL 5.7 is deprecated. To achieve a specific sort order of grouped results, it is preferable to use an explicit ORDER BY clause. GROUP BY sorting is a MySQL extension that may change in a future release; for example, to make it possible for the optimizer to order groupings in whatever manner it deems most efficient and to avoid th

[2015-12-08 03:47] rafaelfranca commented on #22531
Rails 3 is not supported anymore, not matter the reason that it is broken.

[2015-12-08 03:47] #22531 closed

[2015-12-08 10:40] stephankaag commented on #20447
Probably related to https://github.com/rails/rails/issues/12069

[2015-12-08 10:47] braindeaf opened #22532 "ActiveRecord objects destroying themselves immediately after_save"
I discovered a problem when upgrading to Rails 4, in particular with a model with a Paperclip attachment. Whereby my Object is created and almost immediately deleted. I wanted to bounce this past a few eyes here.

Paperclip adds a pretty standard after_commit to a Model

      @klass.send(:after_commit, :on => :destroy) { send(name).send(:flush_deletes) }

ActiveRecord transactions appends an if o

[2015-12-08 11:47] maia commented on #22250
May I assume any AR query clause using greater-than / lesser-than comparisons like:
[code]
will fill up the prepared statement cache too? If yes, is there a workaround besides using sql?
[code]
Is there e.g. a way to disable the creation of a prepared statement on a per-query basis? E.g.
[code]
This might be a hotfix for some apps, other than disabling the feature completely (I assume by  setting

[2015-12-08 12:02] braindeaf commented on #22532
'transaction_include_any_action?(destroy)'

should actually be

'transaction_include_any_action?([:destroy])'

So this is more about expecting Array#to_s to return the string representation of Array.

    def transaction_include_any_action?(actions) #:nodoc:
      actions.any? do |action|
        case action
        when :create
          transaction_record_state(:new_record)
        when :destroy

[2015-12-08 14:21] assimovt commented on #18409
What's the easiest way to get the similar behavior with Rails 4? I am trying to get [actioncable-examples](https://github.com/rails/actioncable-examples/blob/master/app/jobs/comment_relay_job.rb#L4) working with 4.2.5.

[2015-12-08 14:24] brainopia commented on #18409
@assimovt here you go https://github.com/brainopia/backport_new_renderer

[2015-12-08 14:28] assimovt commented on #18409
@brainopia Was just reading your Medium post ;) Thanks for the link, will try it out!

[2015-12-08 15:09] rafaelfranca commented on #22532
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-12-08 15:12] braindeaf commented on #22532
I will give it a whirl

[2015-12-08 15:18] kimrgrey opened #22535 "Unable to preload HABTM association with conditions"
I have been performing migration from Rails 4.0 to Rails 4.2 and faced problem with preloading of HABTM associations with conditions. Take a look on the following test:

[code]

[2015-12-08 15:40] eileencodes commented on #22524
Ok so I took a look at this and I'm not really sure how to fix it yet but here's what I found:

In the tests anything that hits `make_response!` in `Live` is coming from `set_response!`. But in the standalone test we're hitting `serve` first which goes to `make_response` and never hits `set_response`.

The issue is that in the tests that means that a `ActionController::Live::Response` is getting p

[2015-12-08 15:50] braindeaf commented on #22532
Ok, I've given it a whirl and this it worked fine. It appears the issue was ours we'd overridden Array#to_s in order to keep it behaving like 1.8.7. so calling to_s on [:destroy] resulted in sending 'destroy' as an argument which was subsequently called. Sorry for the unnecessary report.

[2015-12-08 15:53] #22532 closed

[2015-12-08 15:58] DaniG2k opened #22536 "Entry in Mac's hosts file causes server error with no stacktrace"
Hello all,

Not sure this is the right place to put this but I spent a good 40 minutes trying to understand why I was getting an error when accessing my Rails server. There was absolutely no error message or stacktrace which made it even harder to understand what was going on.

Turns out that I magically got the following line in my /etc/hosts file on my Macbook Pro:

`fe80::1%lo0	localhost`

`fe8

[2015-12-08 15:59] jdlam opened #22537 "Warning: Circular Argument Reference - Now"
I have a pretty vanilla rails app. No compass as other stackoverflow threads have suggested causes this warning. The circular argument reference warning pops up whenever i run `rails s` to start my rails server.

I found [this topic](https://www.ruby-forum.com/topic/6873211) which has a similar issue, but is caused by a different action. Hopefully someone can help me figure out what is going on wi

[2015-12-08 16:00] rafaelfranca commented on #22536
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-08 16:00] #22536 closed

[2015-12-08 16:01] rafaelfranca commented on #22537
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-12-08 16:01] #22537 closed

[2015-12-08 16:31] kalabiyau commented on #22524
@eileencodes here is my monkey patch

[code]

It sits on top of what 51c7ac1 expects https://github.com/rails/rails/commit/51c7ac142d31095d4c699f44cc44ddea627da1eb#diff-4150e8175b9a99c0e92bfdcaabf8455dR274 where it should be request.

[2015-12-08 20:41] schneems commented on #22250
@maia i think if you're manually putting in bind parameters `?` then your prepared statements would also have bind parameters.

So if we make a prepared statement for this should be fine:

[code]

If we make a prepared statemetn for this it would not:

[code]

Rails master already has logic to only try to generate a prepared statement when bind parameters are present. This issue is specifically ab

[2015-12-08 20:57] kddeisz opened #22538 "When join tables have extra joins in scopes, they aren't added to the query"
[code]

Basically I'm using a join table between two models that itself has another table it joins onto. That other joined table has a boolean flag that modifies the scope.

Note that you can get this working if you put a joins with a SQL string, but it doesn't work as is.

[2015-12-08 21:17] maia commented on #22250
@schneems As it looks to me using bind parameters will not create proper prepared statements on my example above – at least, if it's any indication that I have log entries with e.g. `execute a234` without bind parameters, and not just log entries that prefix the SQL with `execute <unnamed>`, which I believe is the indication of Rails not placing a query into the prepared statement cache).

I'm awa

[2015-12-09 13:20] #22524 closed

[2015-12-09 13:23] eileencodes commented on #22524
Hey @kalabiyau thanks for the monkey patch. I used that as the fix and wrote a test. I added both our names to the commit. Thanks for working with me to find the solution!

[2015-12-09 13:55] dhh commented on #22510
@bogdan I think that's a pretty fair analysis. I hadn't considered the cascading aspect. But I think we're still taking a step forward and making more calls to destroy_all safer for more people more of the time. I don't think we necessarily need a solution that covers all cases to have something worth merging. I am interested in seeing additional work happen on the more comprehensive solution, tho

[2015-12-09 17:04] bogdan commented on #22510
@dhh what is your overall opinion on embedding batches to relations object and make it a chainable scope?

This feature requires a lot of changes in Relation and a lot of general refactoring and I want to consider implementation only after core team will agree that it is valuable.

[2015-12-09 17:27] matthewd commented on #22510
@bogdan I'm worried that batching really relates to the operation, rather than the collection itself... seems like it could create another layer of Very Different Behaviour from relations in many different places, like `group_by` does.

[2015-12-09 17:37] bogdan commented on #22510
@matthewd

When you say "Very Different Behaviour" what use case do you mean? Explain when calling a method on Relation and Relation with batches will produce different results. Different number of queries to DB is not a part of behaviour but part of implementation so it is not a significant difference.

We should be judging classes not by their implementation but by their API.
And here is how it

[2015-12-09 18:02] bogdan commented on #22510
@matthewd these are not examples of actual use cases.

`to_sql` should probably work the same on both and therefore usage as subquery should be identical.

Explicit limit, offset as well as order is simply incompatible with batches so I think it should just raise an exception when you try to combine them in one relation. Currently they are just ignored and we can leave this behaviors as is.

I don

[2015-12-09 18:03] pramodshinde commented on #21422
Getting following error after `./railties/exe/rails new --edge my_edge_app`
[code]
Firstly I was getting
[code]
Then I tried : `./railties/exe/rails new --edge my_edge_app`, got following
[code]
I installed ruby `rvm install ruby-2.2.2 && rvm use ruby-2.2.2`, then  executed
`./railties/exe/rails new --edge my_edge_app` and received above error `cannot load such file -- thor/group (LoadError)`

[2015-12-09 18:07] jeremy commented on #19793
How about updating DeliveryJob to delegate rescue_from to the affected mailer?

[2015-12-09 18:16] matthewd commented on #22510
@bogdan while I think "just raise an error" becomes more problematic when the relation could've been "infected" with batching by any previous caller, that is indeed a possible choice.

I can't give you an example of something specific that won't work due to batching, because we don't have an implementation, and it's all just a matter of programming. I think those will be very difficult to make wor

[2015-12-09 19:20] jeremy commented on #21422
@pramodshinde Run `bundle install` before `./railties/exe/rails new --edge my_edge_app`.

[2015-12-09 20:19] bogdan commented on #22510
@matthewd I agree that it will be very hard. As I said initially: this is really hard to do and I want to consider it only if core team will approve. Having an implementation is very expensive here. If we can figure at least something beforehand that would be very cool. But let's at least discuss the concept.

[2015-12-09 22:01] pramodshinde opened #22544 "rake log:clear - truncates custom log files from log"
The task `rake log:clear`from [log.rake] (https://github.com/rails/rails/blob/7f18ea14c893cb5c9f04d4fda9661126758332b5/railties/lib/rails/tasks/log.rake) truncates all files from `log/*.log` by default if no EVN['LOGS'] specified, this is very unintentional if there is custom logger file/s like log/custom.log and I run `rake log:clear`, log/custom.log is getting truncated.

However, I can specify

[2015-12-10 01:43] CannyFoxx opened #22545 "Activerecord: strange behavior with enum in where() method"
Hi! I tried to get a array of associated (self HABTM) items and found strange behavior of Activerecord.
I call next code:

    @friends = current_user.friends.where(friends: {:status => :requested})

He created next SQL (postgres) query:

    User Load (0.2ms)  SELECT "users".* FROM "users" INNER JOIN "friends" ON "users"."id" = "friends"."friend_id" WHERE "friends"."user_id" = $1 AND "friends"."s

[2015-12-10 01:48] rafaelfranca commented on #22545
It is how it works. See the last line of the documention. http://api.rubyonrails.org/classes/ActiveRecord/Enum.html

[2015-12-10 01:48] #22545 closed

[2015-12-10 09:40] yordis commented on #21831
@arthurnn I shouldn't put question in the title.

My concern is about install gems that we don't need for an API, like sprockets, nokogiri?!?!?!? Still I don't understand why I need it.

@Fudoshiki I am complaining because every time I have to build a docker container, the building get stuck installing nokogiri! So, why install something that we don't need. I prefer to add `nokogiri` in the Gemfil

[2015-12-10 13:09] shlajin opened #22548 "AR miss circular dependency / wrong has_many behaviour with inheritance"
Hello!
ActiveRecord does not recognise circular dependencies if sub-classes laying inside the folders. If that's correct (not a circular dependency), then ActiveRecord breaks `has_many` defined in superclass. Let me show. (I've tested this code with Rails 4.2.5.)

[code]

[code]

[code]

[code]

When I try to run `Cat.first.abilities` this code throws

[code]

And it's perfectly fine. But if I mov

[2015-12-10 14:18] mrageh commented on #22548
HI @shlajin

Can you please use https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb to create a bug report?

[2015-12-10 15:57] maks-us opened #22549 "Mistake in the guide: 2.2 The has_one Association"
http://guides.rubyonrails.org/association_basics.html
``2.2 The has_one Association`` The same issue for ``2.3 The has_many Association``
The migration has to have ``t.has_one`` instead of ``t.belongs_to`` .

[code]

[2015-12-10 16:00] #22549 closed

[2015-12-10 23:28] chrisnicola commented on #21325
I'm seeing this with 4.2.4. I don't have a repro in a simple app yet but here is the end of the stack trace:

[code]

[2015-12-11 06:10] wendy0402 opened #22555 "ActiveRecord query result from join for time column return in UTC"
Hi Rails Team,
just curious I tried to do simple join and custom select:
[code]
Why does `created` class is `Time` not `ActiveSupport::TimeWithZone` ? is it expected? since I tried with rails `4.1.13` and `4.2.4`. :smile:

[2015-12-11 11:45] memosstilvi opened #22557 "Statement doesn't timeout when the connection is established but is actually broken."
We currently use ActiveRecord to query an RDS instance from our servers that run on EC2.

When the RDS instance reboots with failover (which is not often but might happen under heavy load) what AWS does is to switch the DNS to point to a back up instance while restarting the primary one.

This causes the connections from the servers to the database to remain `ESTABLISHED` (as shown by `netstats` o

[2015-12-11 11:59] evgen3d commented on #12178
deivid-rodriguez, thank you for posting your code - it helps a lot!
Its strange that there is not so much comments regarding this bug. Its really important and makes some troubles.
Thanks for future fixing it in 5.0.0!

[2015-12-11 13:15] Sega100500 commented on #22286
RubyGems updated 2.5.1
All works fine!

[2015-12-11 14:24] atul-shimpi opened #22558 "Rails 4.2/4.2.5 Guide - rails command output from rails console not correct"
Rails guide http://guides.rubyo nrails.org/initialization.html says below
=======================================================================
1.1 railties/bin/rails
The rails in the command rails server is a ruby executable in your load path. This executable contains the following lines:

version = ">= 0"
load Gem.bin_path('railties', 'rails', version)
If you try out this command in a Rails co

[2015-12-11 16:49] ctpelnar1988 commented on #21948
Try changing "protect_from_forgery with: :exception" to=> "protect_from_forgery with: :null_session"

:null_session - Provides an empty session during request but doesn't reset it completely. Used as default if :with option is not specified.

[2015-12-11 17:18] ryantate opened #22559 "Model.where misreads column type on IN clause searches"
I have a column correctly configured as `:bigint`, and I *can* search it for bigint values using a normal `Model.where(col_name:bigint_value)` search. But it fails if I query with an IN clause like `Model.where(colname: [bigintit_value, bigint_value_2]`; this gives a `RangeError`  incorrectly saying the column is a regular (limit 4) int.

Note this is NOT the error described in https://github.com/

[2015-12-11 17:20] bcardiff commented on #21948
For me, using :null_session, together with some straight devise usage, it ended up in an infinite redirection loop in an Safari/iPad. For the time being I am using Chrome for iPad.

[2015-12-11 17:22] #22559 closed

[2015-12-11 18:06] rishav commented on #22558
Can you change the title ? This is not from the Rails 4.0 guide, thats the Rails 4.2.5 guide.

[2015-12-11 18:17] rishav commented on #22496
@dhh, is there going to be no further development on ActionController::TestCase or until it becomes a gem ?

[2015-12-11 18:31] rishav commented on #22438
The resulting fix may create more confusing behaviour.

For me
<code>
   records =  YourModel.where(" some condition ").order ("some_column DESC")
</code>

In the above collection of records, it expectation can also be to list the first object in the ActiveRecord::Relation collection, not anything to do with the order.

[2015-12-11 18:36] rishav commented on #22412
Seems like a valid issue, can you create a Pull Request ? I can do it if you want me to

[2015-12-11 18:47] dhh commented on #22496
No intention of doing anything further with ActionController::TestCase.
It's been superseeded by the speed-ups in integration tests.

On Fri, Dec 11, 2015 at 7:19 PM, Rishav Rastogi <notifications@github.com>
wrote:

[2015-12-11 18:49] shlajin commented on #22548
@mrageh bad news: I can not reproduce this bug with this template. Reason – Rails somehow allows me to have class `Animal` and classes like `Animal::Cat` in a same time. I can't rebuild this structure in plain Ruby (to refer `Animal::Cat` I have to define it before `Animal` class, but in this case I can't inherit from `Animal` as it should be first).

Also, I found that in case if I name my packag

[2015-12-11 19:30] jameshibbard commented on #18708
It kinda does now. Sucker_punch is built on Celluloid and timers are built in to Celluloid, so you can take advantage of them with the later method:

[code]

and in your controller:

[code]

More info: https://github.com/brandonhilkert/sucker_punch#perform-in

[2015-12-11 20:13] bughit opened #22560 "joining on instance depedent associations should not be deprecated, they can handle joins and instance invokation"
[code]

[2015-12-11 20:22] rafaelfranca commented on #22560
It is working only because you are handling the case where `owner` is not present. We don't think it is a good idea to join associations like this one so it we will keep it deprecated. Thank you

[2015-12-11 20:22] #22560 closed

[2015-12-11 20:42] bughit commented on #22560
Yes, you have to handle both cases, but why is that a bad thing?

Why don't you think it's a good idea?  The alternative is to create two associations, one that only works for joins and another that only works for instance invoke.  Is that supposed to be better that one association that can do both?

Is that a sincere thank you for creating a good bug report?

[2015-12-11 21:06] rafaelfranca commented on #22560
Because you would have to remember that.

The main reason it is because it is confusing, a user would have to know about this special case were the instance is not passed to the association. Other reason to deprecate it is because it is surprising.

Other alternative is doing the join in the table instead of in the association.

See the original issue for more background about the deprecation. htt

[2015-12-11 22:11] fxn commented on #22312
Your hypothesis was correct, the application runs in the same process `boot_rails` does and thus it has the `Listen` constant defined.

But there was something strange. These tests run in their own forked process and  AFAICT applications need no explicit cleanup in modern versions of `listen`. If you run a hello world example like this:

[code]

and check

[code]

in another console, you'll see th

[2015-12-11 22:11] #22312 closed

[2015-12-11 23:07] merhard commented on #22312
Thank you for looking into this. I agree that the issue is no longer present after a75496b, but I worry that this will pop up again when the evented file update checker is added back.

Why do we call `exit!` at the end of isolated tests and not just `exit`? It comes from commit eea7b5d titled: "Crazy hacks to get the Isolation testing module to work on non forking environments"

[2015-12-12 00:11] fxn commented on #22312
Can answer the question about `exit!`, but the monitor has not been removed, we only removed its automatic activation based on the `Listen` constant, you'll need to opt-in using configuration.

That's why I closed, this monitor has no chance to become the default any time soon.

[2015-12-12 02:17] kenaniah opened #22563 "#as_json omits output from relations following the usage of a config hash"
https://github.com/rails/rails/blob/4-2-stable/activemodel/lib/active_model/serializers/json.rb#L88 eventually calls https://github.com/rails/rails/blob/4-2-stable/activemodel/lib/active_model/serialization.rb#L124, which exhibits an edge case when hashes are used to describe includes.

Example 1:
[code]

In the above case, only data for `:tags` and `:user` associations are returned.

Example 2:
[

[2015-12-12 08:33] duttski commented on #21209
@scambra - I've not been able to investigate further I'm afraid so have to bump proper answers to the real experts. Though hopefully the following will help  somehow. (And I am so glad no longer to be alone with this issue!)

However, the following I can see:

 * The spawning of new threads (and hence attaching the connection_id to a second thread) happens regardless of the use of the SSE tools. S

[2015-12-12 10:40] maximeg commented on #22368
The handling of missing action was not needed because it is already fine, done by `AbstractController::ActionNotFound` error.

I just had to move the rescue of the `NameError` in the dedicated method to rescue more precisely.
I added a test case to ensure that.

[2015-12-12 12:00] kenzan100 opened #22565 "include? returns wrong value when using to_datetime to compare 2 time ranges"
I'm on **Rails 4.2.5, Ruby 2.2.3p173** on Mac OS X 10.10.5

When comparing 2 time ranges, `include?` returns the right value as long as the first time-ish value isn't `DateTime` class.
But when the first value is something like `Time.now.to_datetime`, it suddenly gives me `false`.

[code]

[2015-12-12 13:41] maia opened #22566 "Disable prepared statements for queries using partial indexes (index won't be used otherwise)"
**Update**, see first comment: prepared statements fail to use partial indexes. Rails should warn when both are used in one app, or better: (manually or automatically) disable the use of prepared statements for queries that might include a partial index.

----

I'm seeing the following non-reproducible behavior on production and development (both Ruby 2.2.2, Rails 4.2.5. Postgres is 9.4.4 on produ

[2015-12-12 13:42] TiagoCardoso1983 commented on #19332
I've been experiencing issues with AR and Celluloid for like years. I don't if we're all talking about the same issue here, but I have two main issues with AR:

* touching the ActiveRecord::Base class or anything inheriting it causes the connection to the DB to be established;
* that each new Fiber task will check out a new connection from the pool, even if a connection has been checked out in the

[2015-12-12 14:00] maia commented on #22566
Addendum: It seems to be Postgres failing to use a partial index created by ActiveRecord on prepared statements.

See: schema.rb
[code]
(I have a total of 2.2M tweets, 38k out of these have recent=true, so the partial index is MUCH smaller)

The non-prepared statement properly uses the partial index:
[code]

Now let's try the prepared statement:
[code]
Whoa! Postgres fails to use the partial index

[2015-12-12 19:47] #22496 closed

[2015-12-12 19:48] eileencodes commented on #22496
Fixed in 4414c5d - let me know if I missed anything :smile:

[2015-12-12 21:44] atul-shimpi opened #22568 "Ruby on Rails Guides (v4.2.5) - Incorrect information in 'Working with JavaScript in Rails' section"
Information about how to call coffee script functions from event handler is not working as told in the guide.
===========================================
2 Unobtrusive JavaScript

paintIt = (element, backgroundColor, textColor) ->
  element.style.backgroundColor = backgroundColor
  if textColor?
    element.style.color = textColor

And then on our page:

<a href="#" onclick="paintIt(this, '#990000

[2015-12-13 02:19] sikachu commented on #21407
Closing this since #21452 was closed, and the changes that required to fixed it was merged in #17169.

[2015-12-13 02:19] #21407 closed

[2015-12-13 02:25] sikachu commented on #20990
@sgrif would you mind taking a look at this? Your commit was referred to in the first comment.

[2015-12-13 02:32] tenderlove commented on #21391
Yes, I think we should probably consider this a bug.  Presumably due to Liskov returning a HWIA from `to_h` would solve the incompatibility.  I think @eiked made a good suggestion about the methods.  @sikachu can you implement @eiked's suggestions and see what breaks?  Hopefully nothing, but if it does, maybe we can figure out how to work around it.

@eiked do you have any examples of what broke?

[2015-12-13 02:37] sgrif commented on #20990
Yup, I'm on vacation but I'll look when I get back

On Sat, Dec 12, 2015, 8:25 PM Prem Sichanugrist <notifications@github.com>
wrote:

[2015-12-13 04:02] prathamesh-sonpatki commented on #22558
It works for me

[code]

@atul-shimpi Can you post the error you get?

[2015-12-13 07:32] rajcybage commented on #22565
@kenzan100

As per your range it is showing wrong array for that range

[code]

[2015-12-13 14:00] kenzan100 commented on #22565
@rajcybage I now see what's happening under the hood, thanks :smiley:
Still, I think it's misleading for them to work differently when given slightly different Time-ish objects?

maybe related
https://github.com/rails/rails/pull/21192

[2015-12-13 16:17] al2o3cr commented on #22548
@shlajin Referring to classes while they're still being constructed can cause weird things to happen - like this case. :)

I can get the test in your sample app to pass by removing the original `SUB_TYPES` line from `app/models/animal.rb` and adding this to the end of the file (*after* the end of the `Animal` class):

[code]

[2015-12-13 18:14] #22568 closed

[2015-12-13 19:37] mfazekas commented on #18375
@naiyt That test has some issues:
1. https://github.com/rails/rails/compare/master...naiyt:fix_18375#diff-95d3dfc38be7275845454d444b0826f9R906:

should b integer not boolean

2. You do reload, the test where you read values but not in after_create where you set them. If you're verifying the semantics before after reload you should do an assert for that.
https://github.com/rails/rails/compare/maste

[2015-12-13 20:19] mfazekas commented on #18375
So what his issue boil downs to is the order of after_create and the has_many declarations.
So code like this will not work:
[code]

I assume active record unified after create callbacks with save of has_many on create. So when ```set_active_id``` called ```other_models``` is not yet persisted to db, therefore you cannot yet use update_all. Something like this might work but there might be more id

[2015-12-13 20:48] kaspth commented on #18878
Fixed @ https://github.com/rails/rails/pull/22288 :tada:

[2015-12-13 20:48] #18878 closed

[2015-12-13 21:19] #22076 closed

[2015-12-14 05:40] #22249 closed

[2015-12-14 06:49] kenzan100 commented on #22565
I ended up defining `cover_with_range?` in lib/core_ext/range.rb, much like `include_with_range?`

https://github.com/rails/rails/blob/b2de3f729496a223d64f9b55192d1b19bda4fc25/activesupport/lib/active_support/core_ext/range/include_range.rb#L12

I'm not sure this is the way to go, so if you have any opinion, I'd love to hear :smiley:

[2015-12-14 07:03] cantonic opened #22577 "use key arguments in `alias_attribute` for passing `new_name` and `old_name`?"
`alias_attribute :foo, :bar` doesn't make necessarily clear to me, which of the arguments is the new/old name.

[code]

A more readable approach would be to use key arguments that illustrate a `:from => :to` direction to imply that the first argument is the `new_name`.
[code]

Maybe allow both and even a third one like in delegate?
[code]
if you have a `delegate` line in your model and want to add

[2015-12-14 07:07] matthewd commented on #22577
Thanks, but we don't take feature requests on the issue tracker. Please post to the rails-core mailing list to discuss suggestions.

(IMO, though, it's more important that we keep `alias_attribute` matching `alias_method`.)

[2015-12-14 07:07] #22577 closed

[2015-12-14 08:30] cantonic commented on #22577
I have read http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#what-about-feature-requests-questionmark before posting and have chosen to post it here instead of the mailing list, because for me it is more of a "style flaw" than a feature request, isn't it?

[2015-12-14 08:51] zjeraar opened #22579 "Sprockets match in routes returns missing controller key."
On a fresh rails 4.2.5 application, this example from the documentation (http://guides.rubyonrails.org/routing.html#routing-to-rack-applications):

```match '/application.js', to: Sprockets, via: :all```

Returns:

[code]

[2015-12-14 10:20] panasyuk opened #22580 "ActionView's memory leak"
# The problem
I noticed that Rails (4.2.3) running on Ruby 2.1.5 has leak in the ActionView::Template class. My Rails applications are eating RAM slowly (it tooks weeks and even months) bite to bite. The reserved memory amount could grow from 130MB to 1.2GB with time (actually i didn't tested if the app could eat more).

# Possible Cause
I believe that problem is somehow related to #14301.
This ha

[2015-12-14 12:40] jmuheim commented on #16449
When creating a child object through the association of the parent object, the counter cache of the parent is updated in the DB, but not in the ruby object:

    it 'destroys associated boilerplate copies' do
      project = create :project, :with_boilerplate_copy

      expect {
        project.destroy
      }.to change { BoilerplateCopy.count }.by -1
    end

Fails:

    Failure/Error: project.d

[2015-12-14 15:00] sgrif commented on #22490
Yeah, this has been fixed on master. Unfortunately, the fix isn't something we can backport to 4.2, as it relies on a lot of larger changes that were made to the PG infrastructure.

[2015-12-14 15:00] #22490 closed

[2015-12-14 15:01] sikachu commented on #21391
I've submitted #22582 which makes both `to_h` and `to_unsafe_h` returns a HWIA instead of plain o' Hahs object. I think that should fix the issue in which @eiked have reported.

[2015-12-14 15:04] Bartuz opened #22583 "ActiveModel::Errors acting as a Hash"
Unless I looked into `#ancestors` I didn't know that ActieModel::Error is not inheriting from `Hash`. it feels like it's hash - `#[](:key)`, `#has_key?`, `#keys`, `#values` but it misses methods like `#fetch`, `#each` which would return new hash (not an array like now) or ActiveSupport monkeypatches to Hash like [#transform_values](http://apidock.com/rails/Hash/transform_values).

Would it make se

[2015-12-14 15:29] dmagliola opened #22584 "After upgrading from 4.2.4 to 4.2.5, getting "ActiveRecord::Fixture::FixtureError table "table" has no column named "column" when loading fixture."
We're trying to upgrade from 4.2.4 and we're getting the error mentioned above when loading one of our fixture files.

I think I've narrowed it down to this commit in ActiveRecord: https://github.com/rails/rails/commit/e50fe85180648be0c4216bd0111f05be1df0988a

Which solves issue #21201

For some reason, for this particular column, this code fails:

[code]

because `name` is a symbol, and `columns`

[2015-12-14 15:40] #22250 closed

[2015-12-14 16:02] sgrif commented on #22583
No, we avoid inheriting from `Hash` or other built in types, and implement the needed methods.

[2015-12-14 16:02] #22583 closed

[2015-12-14 16:27] #21391 closed

[2015-12-14 17:02] rafaelfranca commented on #22583
@Bartuz see why it is usually a bad idea http://tenderlovemaking.com/2014/06/02/yagni-methods-are-killing-me.html

[2015-12-14 17:32] maximeg commented on #22368
Fix in #22564 is merged. Thanks @sgrif :smile:

[2015-12-14 17:32] #22368 closed

[2015-12-14 18:56] iron-man commented on #22544
This looks good to me, seems like a much better default than just wiping out all the logs, as I also have custom logs that I don't want cleared.

[2015-12-14 19:54] dreyks opened #22587 "ActionMailer defines Rails module"
[code]
Module is actually defined in `rails-html-sanitizer` gem, which in turn is required by `ActionView::Helpers::SanitizeHelper`

Is this behavior intended? Cause if for example I want to use `ActionMailer` without Rails and I use some gem that can also work without rails, but has a usual `require 'some_gem/railtie' if defined? Rails` mantra in it, this breaks things, as `Rails` is defined, but

[2015-12-14 20:08] SamSaffron commented on #22250
Thanks!

On Tue, Dec 15, 2015 at 2:42 AM, Sean Griffin <notifications@github.com>
wrote:

[2015-12-14 21:26] raimo commented on #22396
I'm seeing the following Infinity -> ::Float::INFINITY replacement in range.rb:

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/postgresql/oid/range.rb#L16

Maybe this can be used for float columns too?

[2015-12-14 21:29] RecursiveCptHook commented on #22396
:+1:

[2015-12-14 22:16] yahonda commented on #22530
It has been addressed by #22571.

[2015-12-14 22:16] #22530 closed

[2015-12-14 23:05] akira commented on #20798
I seem to be seeing this issue as well and it is reproducible for me.  This happens when I load my ActiveRecord model and then attempt to access the serialized field in a threaded fashion. I am using an array for the serialized field.

Here is an example that throws errors for me:
[code]
I get a few "can't convert Fixnum into String" error on the first run of this, but subsequent run of the thread

[2015-12-14 23:07] sgrif commented on #20798
Sharing a record across threads is not supported.

[2015-12-14 23:45] halorgium commented on #19332
@TiagoCardoso1983 the main problem is the assumption that objects (like exceptions) do not often travel between threads. This assumption results in connections being opened (and not closed) in threads which Rails is not managing. The problem is independent of `Fiber`s but is definitely exacerbated.

[2015-12-15 01:27] cmalpeli commented on #20353
@sethvargo what did you end up doing here to resolve this?  running into the same issue (search results page).

[2015-12-15 01:48] rafaelfranca commented on #22587
It is a dup of https://github.com/rails/rails-html-sanitizer/issues/26

[2015-12-15 01:48] #22587 closed

[2015-12-15 01:51] p opened #22594 "SQLite primary keys are 64 bit but AR treats them as 32 bit"
SQLite documentation for an autoincrement column states:

" In SQLite, a column with type INTEGER PRIMARY KEY is an alias for the ROWID (except in WITHOUT ROWID tables) which is always a 64-bit signed integer. "

https://www.sqlite.org/autoinc.html

I can then do:

<pre>
sqlite> create table tests (a integer primary key);
sqlite> insert into tests (a) values (1311016998372151528);
sqlite> select *

[2015-12-15 02:18] p commented on #22594
I fixed by setting limit to 8 thusly: https://gist.github.com/p/2d1c26560e63e8850d40

[2015-12-15 05:57] rishav commented on #22305
What is the expected behaviour ?

[2015-12-15 06:31] matthewd commented on #22305
The expected behaviour was correctly documented before 7dfbd91b0780fbd6a1dd9bfbc176e10894871d2d; see https://github.com/rails/rails/blob/7dfbd91b0780fbd6a1dd9bfbc176e10894871d2d%5E/activesupport/lib/active_support/core_ext/class/attribute_accessors.rb.

[2015-12-15 08:42] stevecj opened #22597 "#all_day excludes times within last second of the day"
Instead of `(time.beginning_of_day..time.end_of_day)`, the range returned by `#all_day` should be `(time.beginning_of_day...(time.beginning_of_day + 1.day))`.

Note the use of triple-dot, so as to exclude the beginning of the next day but include values within the day no matter how small of a fraction of a second before the next day they happen to be.

[2015-12-15 13:14] antek-drzewiecki opened #22599 "Active Record Infinite range in where clause for DateTime causes StatementInvalid error"
Hi,

I am using Rails 4.2.5 with Ruby 2.2.3 and the MySQL 2 gem. I know Active Records supports ranges to get an between statement for the where clauses. It seems Active Record supports infinite ranges to get an greater or smaller statement for the where clauses.

Having the following examples:

[code]

I can also do and infinite range to get an greater then statement.

[code]

I can do the same w

[2015-12-15 13:15] shakycode commented on #22597
I like the precision on this.  And agree. PR?

[2015-12-15 15:25] shlajin commented on #22548
@al2o3cr nice workaround, thanks!

It does not blocks me anymore anyway (as I figured out why I get this strange things happen and how to avoid them), but this is certainly a bug :(
I'm not sure what to do from here: leave the issue open until someone who's capable of writing the fix close it eventually?

[2015-12-15 15:41] nateberkopec commented on #22597
#all_day already behaves like you propose, [see the test](https://github.com/rails/rails/blob/6c3db3652faaa54e4e0b052e4042717c73f0d2f8/activesupport/test/core_ext/time_ext_test.rb#L872)

If I'm reading the fraction correctly, the time 11:59:59 and 999999.999 microseconds is included in #all_day's range.

[2015-12-15 15:45] sethvargo commented on #20353
@cmalpeli I used `grep -v` to ignore the warning.

[2015-12-15 15:51] shakycode commented on #22597
@nateberkopec You're right, I missed this.  Sorry

[2015-12-15 15:59] matthewd commented on #22548
Yeah this is definitely a bug (possibly two, depending on exactly what's happening).

@fxn it sounds like a circular dependency. Do you happen to know if it's a pattern that we just can't detect?

[2015-12-15 16:18] nwjsmith commented on #11415
In [my PR][1] I've added an option to the logger to disable broadcasting messages to other loggers, so you'll be able to do the following in `config/application.rb`:

[code]

and the log will no longer print to stdout twice.

[1]: https://github.com/rails/rails/pull/22592

[2015-12-15 17:03] mtparet opened #22601 "Joins with Arel and default scope fail since 4.2.3"
Hey there,

Since Rails 4.2.3, using `joins` with Arel join definition fails, the values on the condition are not correct.

Rails 4.2.2
[code]

Rails 4.2.3
[code]

[code]

[2015-12-15 17:11] nwjsmith commented on #22484
@tilhoft as you can see in [this passing test][1], although calling `#inspect` on the relation will not show the value of `as_sum` or `month`, calling those methods will return the correct values.

[1]: https://gist.github.com/nwjsmith/96a7452be17b4d7712f8

[2015-12-15 17:54] amalagaura opened #22602 "Counter caches for associations with non-primary keys do not work. increment_counters only takes a primary key"
Counter caches for associations with string keys have issues in at least 4.1. In 4.2 we noticed it because they throw exceptions when they try to use the string key to lookup the record on its primary key. This causes out of range exceptions if we have large numbers as string keys. Linked are test cases to reproduce. Throws exceptions in 4.2 and have test case failures in 4.1.

[string_keys_and_co

[2015-12-15 18:07] tilhoft commented on #22484
Hi Nate! Jeah i figured it out. Sorry that i not wrote the test, but i haven't got much time recently, thanks for the support!

----- Eredeti üzenet -----
Feladó: "Nate Smith" <notifications@github.com>
Feladva: ‎2015.‎12.‎15. 18:17
Címzett: "rails/rails" <rails@noreply.github.com>
Másolat: "Tobias Tilhof" <tobias.tilhof@p92.hu>
Tárgy: Re: [rails] Mysql as method, and group (#22484)

@tilhoft as y

[2015-12-15 18:20] sblackstone commented on #22599
Why not just use greater than instead of between if you don't care about the end of the date range?

[2015-12-15 18:29] stevecj commented on #22597
@nateberkopec How are you getting that?

My experiment was…

    Time.current.all_day.end.usec
    => 0

[2015-12-15 18:32] stevecj commented on #22597
Perhaps, that was changed subsequent to Rails 3.2.22 where I am seeing it?

In any case, doesn't it seem more correct to use an exclusive range rather than try to represent the end of the day to the smallest currently applicable unit?

[2015-12-15 18:48] stevecj commented on #22597
Perhaps that change (dcdde7d on May 18, 2012) was only on the Rails 4 branch.

[2015-12-15 18:57] joseap commented on #18660
Had the same problem! Renaming the directory to something else and re-renaming it to whatever name you want to use (all in lowercase) fixed it

[2015-12-15 19:00] fxn commented on #22548
Let me understand the core of the issue with this minimal example:

[code]

Given an brand new app with only those two files:

[code]

Is that what's the ticket about?

[2015-12-15 19:11] matthewd commented on #22548
@fxn AIUI, that's the expected behaviour, but if you change `Cat` to `Animal::Cat`, you no longer get the error.

[2015-12-15 19:40] fxn commented on #22548
If we have

[code]

and you evaluate `Animal::Cat`, then first an autoloading for `Animal` is triggered. That one evaluates *animal.rb* and that file triggers autoloading of `Cat`, Rails locates *animal/cat.rb*, and at that point the `Animal` constant is already known, so we do not get the loop and autoloading `Animal` succeeds. Then, in the original call the `Cat` in `Animal::Cat` has already bee

[2015-12-15 20:02] fxn commented on #22548
The check was introduced in https://github.com/rails/rails/commit/b33700f5580b4cd85379a1dc60fa341ac4d8deb2.

This particular case could in theory work, because in plain Ruby this warns but works:

[code]

But I don't see a way to allow that autoload that does not evaluate *cat.rb* at least twice.

[2015-12-15 20:08] EdwinRozario opened #22603 "filter chain halted as rendered or redirected"
I have a RoR app that consumes a RoR API. The API has a before_filter :authenticate_user! in the application controller. I am getting this error `filter chain halted as rendered or redirected` only when on a create action at the API when posted from the app, every thing else works fine with the API. I cant avoid that filter for that create action.

The weird  thing is that no one changed anything

[2015-12-15 20:13] rafaelfranca commented on #22603
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-12-15 20:13] #22603 closed

[2015-12-15 20:23] nateberkopec commented on #22597
@stevecj *shrug* Since the smallest unit Ruby understands is nanoseconds, I don't see the difference. `time.beginning_of_day..time.end_of_day` is more readable and easier to understand, and will perform better than your proposal (fewer objects created). [My benchmark shows that the current implementation is about twice as fast](https://gist.github.com/nateberkopec/f76e9a18edd3a33e29d4).

[2015-12-15 20:34] fxn commented on #22548
@shlajin one possible way to approach this would be the following.

[code]

and then instead of `SUB_TYPES` use `Animal.subclasses` or `Animal.descendants` depending on what you want.

The purpose of the `require_dependency` call is that subclasses/descendants are known regardless of execution path, but it needs to be maintained (just like `SUB_TYPES`).

[2015-12-15 20:34] amalagaura commented on #22602
This is the same issue. The string part just creates the exception in Rails 4.2

https://github.com/rails/rails/issues/22602

[2015-12-15 21:06] amalagaura commented on #22602
I was looking into the issue (sticking to 4-2 for now, the exception is very helpful to see what is going on) and this gets executed:

[code]

So `increment_counter(counter_name, id)` only takes the primary_key id, not the primary key for the relation. It calls `update_counters(id, counter_name => 1)`

This works on creates on association because the counter gets updated in memory.

What is a stra

[2015-12-15 22:02] stevecj commented on #22597
I do think it's cleaner to not have this code depend on what the smallest unit of time happens to be, but the performance argument is compelling.

I suppose, my ideal would be to add a `#beginning_of_next_day` method and then have `#all_day` be implemented as `((time.beginning_of_day)...(time.beginning_of_next_day))`. I agree that my issue should be closed/dropped though.

[2015-12-15 22:03] #22597 closed

[2015-12-15 22:11] nwjsmith commented on #22484
@rafaelfranca this can be closed

[2015-12-16 03:15] amalagaura commented on #22602
I did some work on this and creating a new method to leave the old method signatures alone is ok. The proper primary_key can be passed along and it is working and tests are passing.

There is a separate problem in `reflection.counter_cache_column` in `with_cache_name` in `belongs_to_association.rb`  https://github.com/rails/rails/blob/4-2-stable/activerecord/lib/active_record/associations/belongs_

[2015-12-16 07:24] #22484 closed

[2015-12-16 07:45] vladimirsazhin opened #22606 "`config.action_view.field_error_proc` does not work when it was declared in initializer"
I tried to define proc in the `config/initializers/action_view.rb` file with no effect:
[code]

It works fine when declared inside `Application` class.
[code]

I use edge Rails (revision 89f7764).

[2015-12-16 09:29] shlajin commented on #22548
@fxn thanks! There are some workarounds to avoid this problem, but as for me I was super surprised when the Rails error was about misspelled `has_many` association and it took me a while to figure out what actually causes the problem (found a bug in relatively big project after refactoring). At this point I understand that I'm guilty because I used circular dependency and this ticket is mostly abo

[2015-12-16 09:53] kikonen opened #22607 "Option to turn off enforced automatic "include_blank""
It seems that rails is trying to enforce inclusion of blank value into select options based into inapproriate heuristics. Problem is that turning off this heuristics is not possible, since saying "include_blank: false" is ignored due to logic.

[code]
=> thus not possible to turn off auto inclusion of blank, due to how false and "||=" co-op together.

Reason: This enforced auto inclusion of blank

[2015-12-16 10:13] fxn commented on #22548
@shlajin I see.

The second example above has a `has_many :toys` that probably is not relevant. Could you please provide a minimal Rails application that reproduces the problem for us to play around?

[2015-12-16 11:38] vrinek commented on #22031
@Taytay we've been experiencing similar issues (Rails deployment to Heroku with Puma). Have you had any luck fixing it?
Also, we're experiencing the "sometimes" effect, it seems random. Have you found a reliable way to reproduce this issue?

[2015-12-16 12:26] amalagaura commented on #18988
This is the same issue, I have some more tests and comments: https://github.com/rails/rails/issues/22602

[2015-12-16 13:11] majewsky opened #22608 "Hash#transform_keys! overwrites keys"
`Hash#transform_keys!` may break when the transformation function produces keys that also exist in the original hash. Mathematically speaking, there is a problem when the pre-image and the image of the transformation function have a non-empty intersection.

To reproduce,
[code]

This is a more general case of #18515.

[2015-12-16 16:16] obduk opened #22613 "config.action_dispatch.rescue_responses being cleared"
According to https://github.com/rails/rails/blob/master/guides/source/configuring.md `config.action_dispatch.rescue_responses` is set a number of values which are defined in https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/middleware/exception_wrapper.rb#L9

However if I create a new rails app `config.action_dispatch.rescue_responses` is set to [].

I cannot quite follow t

[2015-12-16 16:25] rafaelfranca commented on #22613
Try to get `ActionDispatch::ExceptionWrapper.rescue_responses`. The config is empty indeed because it is not were the value is stored.

[2015-12-16 16:25] #22613 closed

[2015-12-16 16:36] obduk commented on #22613
But in the configuring.md it says:

config.action_dispatch.rescue_responses configures what exceptions are assigned to an HTTP status. It accepts a hash and you can specify pairs of exception/status. By default, this is defined as:
[code]
So is the doc wrong then?

[2015-12-16 17:24] jgross206 commented on #22557
+1 I am having this exact issue as well.  I've found that *eventually* (like 10-15 minutes later) the request will raise an exception.  Please let me know if anyone has a possible fix or workaround.

[2015-12-16 18:27] kshnurov commented on #12423
Broken in Rails 4.2.5:
[code]

[2015-12-16 19:23] rafaelfranca commented on #22613
No, it is not wrong. The default values are those just not stored in the config. The configuration is only a transient place to put these values.

[2015-12-16 20:05] kaspth commented on #22608
See https://github.com/rails/rails/pull/18598#issuecomment-73537978 - thanks though! :grin:

[2015-12-16 20:05] #22608 closed

[2015-12-16 20:15] jgross206 commented on #22557
@memosstilvi Seems like this is a TCP issue.  Since the server we were connected to is completely gone, there's no RST response and we just keep trying with exponential(ish) backoff which takes ~15 minutes before giving up (at least on my system).

If you reduce the kernel-level tcp_retries2 parameter it fails much more quickly:
    sudo sysctl -w net.ipv4.tcp_retries2=5

Not saying that this is a

[2015-12-16 22:35] twalpole commented on #20990
This was fixed by PR #21000

[2015-12-16 22:35] #20990 closed

[2015-12-16 23:03] sgrif commented on #20990
thanks

[2015-12-17 00:27] nwjsmith commented on #11415
This has been fixed with https://github.com/rails/rails/pull/22592

[2015-12-17 01:38] jokester opened #22617 "`has_secure_password` limits password to 72 characters, while the limitation is actually in bytes"
BCrypt actually uses the first 72 bytes in password, as shown in this [gist](https://gist.github.com/jokester/da75e217f1653e125c40). While [rails](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/secure_password.rb#L77) is validating the length in characters instead of bytes.

I suppose this differs when password contains multibyte characters, and propose to validate the siz

[2015-12-17 01:47] jokester commented on #22617
I'm happy to prepare a PR if you also think this should be fixed.

[2015-12-17 02:50] rafaelfranca commented on #22617
@jokester please send the PR.

[2015-12-17 02:51] #11415 closed

[2015-12-17 07:26] dlackty commented on #19084
MRI Ruby 2.2.4 was released and it should fix the issue.

https://www.ruby-lang.org/en/news/2015/12/16/ruby-2-2-4-released/

[2015-12-17 08:24] scambra commented on #21209
I'm using MySQL, and no problem since wrapping with thread the action which uses response.stream. I didn't wrap other actions with thread, but I don't have problem anyway, maybe because they are not so long.

[2015-12-17 12:30] dhh commented on #18146
@matthewd Is this now solved?

[2015-12-17 14:11] ravicious commented on #19550
I can reproduce it in Rails 4.2.5, though my case is a bit different (children belong directly to the parent).

The bug seems to affect both the `collection <<` and `collection=` methods. After `item.devices << devices`, the counter cache gets updated in the database, but the in-memory value stays set to nil.

You can see the tests pass if you remove the first assertions.

[code]

[2015-12-17 15:03] kaspth commented on #19693
Fixed @ https://github.com/rails/rails/pull/22630

[2015-12-17 15:03] #19693 closed

[2015-12-17 15:35] JRJurman opened #22641 "npm install rails"
Despite the instructions on https://www.npmjs.com/package/rails
running `npm install rails` fails.

What Actually Happened:
[code]

[2015-12-17 15:37] rafaelfranca commented on #22641
Rails is not a npm package. It is a Ruby project and hosted in RubyGems. Try `gem install rails`

[2015-12-17 15:37] #22641 closed

[2015-12-17 18:19] jonatack commented on #22250
Thanks @schneems and @sgrif :heart:  :rocket:

[2015-12-17 22:48] mikeantonelli opened #22647 "sprockets-rails 3.0.0 release: undefined method `register_preprocessor' for nil:NilClass"
With the release of [sprockets-rails 3.0.0](https://github.com/rails/sprockets-rails/releases/tag/v3.0.0) today, my Ruby on Rails Engines started failing to initialize during continuous integration with:

[code]

[Rails trusts sprockets-rails >= 2.0.0](https://github.com/rails/rails/blob/master/rails.gemspec#L32). I'm still working through the exact error but locking to `~> 2.3` resolved the probl

[2015-12-17 23:09] matthewd commented on #22647
That error doesn't seem to be coming from Rails.

[2015-12-17 23:09] #22647 closed

[2015-12-17 23:41] al2o3cr commented on #22548
The part where associations in the parent aren't available in the descendant class also vaguely reminds me of a gotcha (mentioned in "Ruby Under the Microscope") where certain changes to included modules aren't reflected in places where the module was included. Need to find the details on that...

[2015-12-18 00:35] paultetreau opened #22648 "Layouts and Rendering documentation section 2.2.8 Rendering HTML creates ambiguity around use of `html_safe`"
The [2.2.8 Rendering HTML][0] section of the [layouts and rendering documentation][1] contains a note about `html_safe` that says "This option will escape HTML entities if the string is not HTML safe." This is true when using render, but quite the [opposite][2] when using templates, the latter being the most common use of `html_safe`.

It would probably best to include "When using render" in the n

[2015-12-18 00:44] kilianc commented on #22641
+1 on rails on npm :stuck_out_tongue_closed_eyes:

[2015-12-18 00:56] fforres commented on #22641
:+1: on this functionality, please fix!!

[2015-12-18 01:00] fxn commented on #22548
I can explain, because I actually suggested that section :).

Problem is Ruby linearizes and caches the ancestor chain of a class or module. If you add a method to an ancestor, the method is found because method lookup iterates the chain. But including a new module in an ancestor is not propagated to existing chains, so their methods are not found.

That behaviour is not coherent in my view, the a

[2015-12-18 02:12] d6u commented on #22641
Yo, please fix!

[2015-12-18 02:14] patojimenez commented on #22641
Please must read the documentation from this link. In the instructions in the link appear "gem install rails". http://giphy.com/gifs/tim-and-eric-mind-blown-EldfH1VJdbrwY

[2015-12-18 05:41] okashino opened #22654 "Polymorphic Associations with touch true raises NameError: wrong constant name"
I found an issue with polymorphic associations with touch enabled that raises a 'NameError: wrong constant name' error. Below is a code sample similar to my use case:
[code]
Tested and reproduced in 4.2.5

[2015-12-18 06:14] #20338 closed

[2015-12-18 12:03] Sega100500 opened #22661 "Rails 4.2.5 app fail to start in production: ActionView::Template::Error (Unexpected token: eof (undefined)"
[code]

Gemfile.lock
[code]

production.log:
[code]

[2015-12-18 12:09] sevenseacat commented on #22661
What makes you think this is a bug in Rails?

[2015-12-18 12:09] Sega100500 commented on #22661
in config/enviroments/production.rb:
[code]

in config/initializers/assets.rb
[code]

[2015-12-18 12:12] Sega100500 commented on #22661
@sevenseacat

Yesterday upgrade to Ruby 2.2.4
All works fine!

Today
After ```gem update```
This bug in all Rails 4.2.5 applications

No changes mades in application

[2015-12-18 12:16] Sega100500 commented on #22661
@sevenseacat
In development mode applications works

[2015-12-18 12:54] dancinglightning opened #22662 "Engine url_helpers went missing from 4.1 -> 4.2"
I have written an engine https://github.com/rubyclerks/office_clerk
that i have been using in an app  https://github.com/rubyclerks/sales_clerk for 2 years already.

The engine was not namespaced but everything worked in 4.1. By working i mean url_helpers were included and so i could use an engine path like clerks_path in the templates.

I have now upgraded and had to change _all paths_ to referen

[2015-12-18 13:27] Sega100500 commented on #22661
I add in Gemfile:
[code]

then ALL WORK!

**Problem in sprockets-rails v 3.0.0**

[2015-12-18 14:19] rafaelfranca commented on #22661
Closing in favor of https://github.com/rails/sprockets-rails/issues/291

[2015-12-18 14:19] #22661 closed

[2015-12-18 16:35] dancinglightning commented on #22662
So, more digging, and i managed to fix it in the simplest of ways

     class OfficeController < ApplicationController
       helper  OfficeClerk::Engine.routes.url_helpers

now that seems obvious off course. I thought in all that testing i had checked a newly generated isolated and not isolated engine, and they didn't include such lines. I though. And the way i understood things such explicit thi

[2015-12-18 18:57] dhh opened #22669 "Action Cable channel generator should not create JS assets in --api mode"
If you've created your app as --api, the Action Cable channel generator should not create the corresponding channel JS stub.

[2015-12-18 20:41] greysteil commented on #22607
Hey @kikonen, there's a history on this one in https://github.com/rails/rails/pull/20124, and the code's since been updated from your pasted version to be more explicit.

FWIW, my personal view is that the HTML spec that mandates required select boxes to have a placeholder option is unhelpful, but I can see the argument for Rails honouring it.

[2015-12-18 22:18] rafaelfranca opened #22673 "Add ActionCable as a topic to the guide"
_From @rafaelfranca on November 4, 2015 17:13_

_From @openscript on November 4, 2015 10:21_

The release of Rails 5 is coming closer and closer. I've been spending some time with ActionCable, but I think there are still a few things to discover. Howsoever, I thought I can contribute something to the guides. So let's start the ActionCable topic.

---
Here is my idea about the chapter structure, ba

[2015-12-18 22:18] rafaelfranca commented on #22673
Lets move this discussion for Action Cable repository so you can start to work closer to the code.

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @openscript on November 4, 2015 20:58_

Thanks! I created the issue in the rails repository, because the guides are in that repository, too. So I thought it's the right place.

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @dballona on November 5, 2015 12:52_

Has anyone started writing this up? I can take care of some topics such as:
- What's the PubSub pattern?
- Creating a cable;
- Opening a channel;

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @kayakyakr on November 6, 2015 5:55_

Should the ActionCable README reflect the content of the guide?

e: Alternatively, we could use the wiki as a place to rough draft this?

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @vasspilka on December 6, 2015 10:16_

Hey, I was thinking about contributing to documentation too, @openscript are you still interested into writing this?

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @dhh on December 11, 2015 15:41_

Whoever wants to start work on this, that'd be great. We definitely need a guide!

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @vasspilka on December 17, 2015 13:7_

I am now working on a rails 5 api that includes websockets through actioncable, but I can't say I am much experienced so I am not sure I am suitable to start a guide on my own.

I certainly could review and extend a guide.

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @dhh on December 17, 2015 13:38_

Vasilis, we need some help combining the --api setup with Action Cable
generators. ACa generators should not produce the client-side code, like
app/assets/javascript/channels, when in --api mode. Could use some help
with that :D

On Thu, Dec 17, 2015 at 2:07 PM, Vasilis Spilka <notifications@github.com>
wrote:

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @vasspilka on December 17, 2015 15:52_

What I did was `rake assets:precompile` on a non --api setup and then copy the static asset to `/public/js/cable.js` and made static assets available, this way I was able to access the js as an external library in the client side.

How could I help?
If you could give me some clearer goals I would be glad to help.
Where are the generator files? I could

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @RochesterinNYC on December 17, 2015 16:45_

Is there a checklist or Trello board or something somewhere that lists out which topics still need documentation? I'd love to contribute some.

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @davidkuhta on December 18, 2015 21:47_

I'm not sure if anyone began working on this, but I thought I'd share what I started: [action_cable_overview.md](https://github.com/davidkuhta/rails/blob/patch-1/guides/source/action_cable_overview.md).
Note: It does draws heavily from the README and code comments (as they were the guide I worked through to get started), but I restructured them in som

[2015-12-18 22:18] rafaelfranca commented on #22673
_From @vasspilka on December 18, 2015 21:57_

@davidkuhta Thats great :) I will review it tomorrow it's getting kinda late here.

[2015-12-18 22:25] rafaelfranca opened #22674 "NameError(undefined local variable or method `data' for ApplicationCable::Connection"
_From @kroehre on October 3, 2015 1:5_

Seeing this in logs when trying to connect. It doesn't happen every time though, which is odd.

[code]

_Copied from original issue: rails/actioncable#82_

[2015-12-18 22:25] rafaelfranca commented on #22674
_From @jeremy on October 3, 2015 1:10_

Similar errors:

* https://github.com/celluloid/celluloid/issues/109
* https://github.com/celluloid/reel/issues/33

[2015-12-18 22:25] rafaelfranca commented on #22674
_From @maikokuppe on October 9, 2015 7:26_

+1

[2015-12-18 22:26] rafaelfranca opened #22675 "Websocket messages have surprising escaping"
_From @KevinMcHugh on August 20, 2015 19:33_

I've got ActionCable running in a Rails 4 app and it's wonderful, it feels very rails-y already. Thank you to everyone for your hard work.

In writing my client of the ActionCable websockets, I was surprised that the messages to subscribe and follow channels are as following:
`{"command":"subscribe","identifier":"{\"channel\":\"CommentsChannel\"}"}`
an

[2015-12-18 22:26] rafaelfranca commented on #22675
_From @CraigSnowden on October 28, 2015 12:23_

This is quite annoying for me too

[2015-12-18 22:26] rafaelfranca opened #22676 "libc++abi.dylib: terminating with uncaught exception of type std::runtime_error"
_From @huetsch on October 24, 2015 2:29_

After running "bundle exec puma -p 28080  cable/config.ru" for a while, it always dies with the following error:

libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: adding existing descriptor
Abort trap: 6

I believe it may be related to this faye-websocket-ruby bug:

https://github.com/faye/faye-websocket-ruby/issues/35

The

[2015-12-18 22:26] rafaelfranca commented on #22676
_From @nflorentin on November 5, 2015 8:12_

+1
I'm facing the same issue and a bit worried about putting this into production

[2015-12-18 22:26] rafaelfranca commented on #22676
_From @mikecarroll on December 2, 2015 15:50_

+1 Seems to happen with us only when people try to run the cable on certain IE versions.

[2015-12-18 22:26] rafaelfranca commented on #22676
_From @dhh on December 11, 2015 15:53_

Odd. We've not seen any of these issues in production. At least that I'm aware of! And we have many tens of thousands of daily active users on Basecamp 3.

[2015-12-18 22:26] rafaelfranca commented on #22676
_From @mikecarroll on December 11, 2015 16:1_

It seems to be happening to us only when running locally, not in production. Our servers are Linux but we use OSX for dev, so maybe it's an OSX issue?

[2015-12-18 22:26] rafaelfranca commented on #22676
_From @nflorentin on December 11, 2015 16:18_

Same case for us, described by @mikecarroll, Linux servers in prod and OS X for dev.

[2015-12-18 22:26] rafaelfranca commented on #22676
_From @dhh on December 11, 2015 16:28_

Maybe we can just start by saying this is a problem on OSX in the readme for now? Don't think anyone is actually deploying on OSX. I don't know if this is really something we can solve in AC anyway?

[2015-12-18 23:24] krunal opened #22679 "(erb):2:in `block in template': undefined method `push' for "":String (NoMethodError)"
Steps I followed to create a new rails 5 applications. (Rails 5.0.0.beta1)
1) gem install rails --pre
2) rails new my_blog -d mysql -T --api
3) rake db:create
4) rails g scaffold user email:string password:string auth_token:string (Getting error with this command)

Getting following error while executing scaffold command with rails 5.

Command - rails g scaffold user email:string password:string a

[2015-12-18 23:33] chrisnicola opened #22680 "Upgrading to 2.2.4 causes syntax errors for create_view in schema.rb"
Views specified in schema.rb seem to have a syntax issue as of Ruby 2.2.4. This is possibly related to some label syntax changes that they snuck into this patch (http://svn.ruby-lang.org/repos/ruby/tags/v2_2_4/ChangeLog)

Essentially with Ruby 2.2.4 this code is ok

[code]

But this is invalid:

[code]

However, both were valid in 2.2.3.

Note that the latter merely lacks a space between the label

[2015-12-18 23:42] cdale77 opened #22681 "Cruft? ActiveSupport::OrderedHash"
A friend and I were looking at ActiveSupport::OrderedHash, and noticed some odd things. First, there's a test for it:
https://github.com/rails/rails/blob/7f18ea14c893cb5c9f04d4fda9661126758332b5/activesupport/test/ordered_hash_test.rb

But Rails doesn't seem to be actually using OrderedHash:
https://github.com/rails/rails/search?utf8=%E2%9C%93&q=OrderedHash

Interestingly, ActiveSupport::OrderedOp

[2015-12-18 23:45] matthewd commented on #22680
This is not a Rails issue.

[2015-12-18 23:45] #22680 closed

[2015-12-18 23:56] chrisnicola commented on #22680
Sorry about that, you are right, I realize this is happening in thoughtbot/scenic. My mistake.

[2015-12-19 02:46] #12537 closed

[2015-12-19 03:26] maclover7 commented on #15843
@tenderlove might have some ideas about this...

[2015-12-19 03:39] maclover7 commented on #16269
This passes for me on Rails master. I think the issue is that you are using SQLite for your database -- I don't think SQLite supports UUID. I think this should be closed.

[2015-12-19 03:44] maclover7 commented on #16446
Can confirm this is still broken on Rails master, using above reproduction script.

[2015-12-19 04:19] maclover7 commented on #17030
I think this can be closed -- ActionView is only defining ActionPack as a **development** dependency, meaning that it isn't required for "runtime" usage. Thus, this means that ActionView and ActionPack are decoupled from each other.

[2015-12-19 04:24] jeyb commented on #22669
Thoughts on https://github.com/rails/rails/pull/22685 @dhh?

I wasn't sure if setting `skip_action_cable: true` when `options[:api]` is appropriate as I'm still wrapping my head around Action Cable. I don't see much purpose to it when the application is meant to be an API, but I might be missing something.

[2015-12-19 04:28] maclover7 commented on #17666
This should be closed since #17885 solves this issue, right?

[2015-12-19 04:29] maclover7 commented on #20095
This should be closed since #20125 solves this issue, right?

[2015-12-19 04:38] guilleiguaran commented on #22669
@jeyb I've seen a couple of API + Cable apps so I'm not sure that we should set `skip_action_cable: true` when API flag is used.

Think for example in apps that provide HTTP API to clients but want to offer also some resources that are created/updated in real-time through WebSockets API.

[2015-12-19 04:59] mperham commented on #15843
Here's the monkeypatch that Sidekiq uses to work with Rails today:

https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/web.rb#L266

[2015-12-19 06:19] dhh commented on #22669
Definitely don't want to turn off cable for api. Only want to turn off the
asset part of the channel generator. Everything else should stay the same.

On Sat, Dec 19, 2015 at 5:40 AM, Guillermo Iguaran <notifications@github.com

[2015-12-19 06:30] claudiob commented on #17030
@maclover7 Even with ActionView 5.0.0.beta1 I still get the same error detailed in the [original comment](https://github.com/rails/rails/issues/14686#issue-31250039):

[code]

[2015-12-19 06:40] kkoci commented on #22679
Hi, which ruby version are you using?

Are you "behind" rvm?

[2015-12-19 06:43] yui-knk commented on #22679
Maybe you use ruby 2.3.0-dev.
I will create an issue for Ruby Issue Tracking System about this.

[2015-12-19 06:43] kkoci commented on #22679
I'm using rails 5.0.0.beta1 with ruby 2.2.4, no problems here

[2015-12-19 06:44] yui-knk commented on #22679
This bug occurs when use ruby 2.3.0-dev.

[2015-12-19 06:47] kkoci commented on #22679
Got it

[2015-12-19 07:00] #22477 closed

[2015-12-19 07:03] yui-knk commented on #22679
https://bugs.ruby-lang.org/issues/11842

[2015-12-19 07:07] kkoci commented on #22679
Awesome, gonna see if I can collaborate on that one

[2015-12-19 11:06] brodock commented on #22356
For anyone whiling to contribute here, someone already made a gem that monkey patches rails to do that: https://github.com/mirego/activerecord_sane_schema_dumper

[2015-12-19 12:07] senny commented on #17666
@maclover7 good catch. Thank you.

[2015-12-19 12:07] #17666 closed

[2015-12-19 14:05] maclover7 commented on #15843
@mperham Would both the `each` and `stringify_keys` methods need to be added? Also, how would we go about testing this?

[2015-12-19 14:09] maclover7 commented on #11078
Looks ready to be closed to me.

[2015-12-19 14:09] maclover7 commented on #13420
Looks ready to be closed to me.

[2015-12-19 14:10] #13420 closed

[2015-12-19 14:12] senny commented on #11078
@maclover7 is it no longer an issue? I never finished my PR (https://github.com/rails/rails/pull/11082#issuecomment-156118260) and #14312 is still open.

[2015-12-19 14:26] mperham commented on #15843
I don't know.

[2015-12-19 15:40] maclover7 commented on #17030
Opened a PR!

[2015-12-19 16:15] al2o3cr commented on #22654
Here's a full stack trace from the test failure:
[code]

The relevant line points [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/builder/belongs_to.rb#L78) in `ActiveRecord::Associations::Builder::BelongsTo.touch_record`.

The issue here is that the schema has defaults for `commentable_type` and `commentable_id`, which trigger an attempt to resolve th

[2015-12-19 17:56] kkoci commented on #22679
Look I just did all your steps with ruby-2.3.0-preview1 and rails 5beta1, no problems here, I think yui-knk is right, this must be some dev version issue

[2015-12-19 18:25] krunal commented on #22679
I am getting above error with ruby-head. (ruby 2.3.0dev (2015-12-19 trunk 53195) [x86_64-linux]
)

[2015-12-19 19:29] kuldeepaggarwal commented on #22606
@vladimirsazhin: I am using the configuration in the `config/initializers/inline_error.rb` file and it's working.

[code]

[2015-12-20 03:26] rafaelfranca commented on #22681
It is for backward compatibility. OrderedHash is [serialized differently in YAML](https://github.com/rails/rails/blob/043660249bd8587194202cf4440fb1fd9db109a4/activesupport/lib/active_support/ordered_hash.rb#L16-L18) and if you have it stored in your database as yaml and we removed the class you application will break.

That class is deprecated and we don't recommend people to use. This is why we

[2015-12-20 03:46] #22681 closed

[2015-12-20 05:08] sgrif commented on #22679
Appears to not be a Rails issue.

[2015-12-20 05:08] #22679 closed

[2015-12-20 05:11] sgrif commented on #22654
I concur.

[2015-12-20 05:11] #22654 closed

[2015-12-20 08:01] darrenbrett commented on #18660
I am getting this same error. My actual path is:
"C:/Users/Darren/desktop/dev/bookio"

But this is what is "missing" according to the message:
"Missing helper file helpers/c:/users/darren/desktop/dev/bookio/app/helpers/application_helper.rb_helper.rb"

So it's looking for something with every directory lowercased.

I am on a Windows machine, running Windows 10.

Any solutions? I have tried renamin

[2015-12-20 14:16] kikonen commented on #22607
Would it hurt to allow false to work as false, meaning that "I know what I'm doing and I'm handling this in appropriate manner via some other framework, ex. some JS widget". I.e. problem is not that rails shouldn't have some support for for sane logic, but rather that logic shouldn't be enforced so that co-operation with other frameworks/libraries/widgets can be managed in sensible manner.

[2015-12-20 14:47] matthewd commented on #22607
@kikonen we generate HTML. If you want to produce something that's *not* HTML, I think it's fine to leave you to implement it yourself.

[2015-12-20 14:47] #22607 closed

[2015-12-20 15:05] robmathews commented on #18660
I hate to say this ... but the patch is to get a Mac. I've tried using the
Rails on Windows, and you keep getting strange problems with virtually no
support from the community. The reason is simple: we're all using Macs. So,
you can fight it, or join. I gave up and joined, really haven't regretted
it.

On Sun, Dec 20, 2015 at 3:03 AM, darrenbrett <notifications@github.com>
wrote:

[2015-12-20 15:10] shakycode commented on #18660
Mac or run Linux.  Both are easy to work with Ruby/Rails on.  I’ve never tried using a Windows machine but the people I know who have constantly run into problems.  Not saying it can’t be done, it’s just not a Ruby/Rails friendly operating system.

Why not use virtual box on Windows 10 to create a VM with Ubuntu and use that as a development environment?  Problem solved.

[2015-12-20 15:22] kasper commented on #18660
Probably won’t make much of a difference since this problem (first) originated on OS X and is caused by a change in Ruby.

@darrenbrett There was a patch, see 7b1a6c3, but it needed work and was never accepted as the fix.

[2015-12-20 16:21] atsheehan opened #22708 ""--skip-keeps" option breaks cable.coffee"
When generating a new project without the `.keep` files (i.e. `--skip-keeps` option for `rails new`), the autogenerated `app/assets/javascripts/cable.coffee` file breaks when attempting to load the missing `channels` directory:

[code]

## Steps to Reproduce

The following commands can be used to reproduce this error:

[code]

Visiting [http://localhost:3000/messages](http://localhost:3000/message

[2015-12-20 18:02] RochesterinNYC commented on #22438
@ziomio Regarding your StackOverflow post, for the code:
[code]

Are you saying that with the same data/tables, in different runs of this snippet, `a.first` can return different records and not the Account record with the lowest id # that has `> 1 free days`? And this is because of the following in the `find_nth` method?

[code]

`@records` are the records returned from Postgres which are returned

[2015-12-20 18:19] darrenbrett commented on #18660
Yes, I do think moving to a Mac is in my future. But for now it looks like I'll have to revert to running Ruby 1.9 with Rails 4.2.5, as I was having no problems with that setup on my Windows machine. Just kind of annoying that I don't then have access to all the latest gems.

[2015-12-20 20:00] NaeemQaisar opened #22710 "undefined method `teachers' for nil:NilClass"
def create
    @teacher = @classroom.teachers.new(params[:teacher])
    @teacher.save
    redirect_to @teacher.classroom
    respond_to do |format|
      if @teacher.save
        format.html { redirect_to @teacher, notice: 'Teacher was successfully created.' }
        format.json { render json: @teacher, status: :created, location: @teacher }
      else
        format.html { render action: "new" }

[2015-12-20 20:03] NaeemQaisar commented on #22710
Plz any body help me to debug it.
error in
app/controllers/teachers_controller.rb:48:in `create'

[2015-12-20 20:13] kkoci commented on #22710
You should post more info about teachers class I think

[2015-12-20 20:15] kaspth commented on #22710
Please use Stack Overflow or the Rails talk mailing list for help, because a wider community will be able to help. Thanks!

(Hint: your `@classroom` variable is nil 😁)

[2015-12-20 20:15] #22710 closed

[2015-12-20 23:03] kikonen commented on #22607
So you are saying that passing options array to select_tag, where first entry is blank value is not html? I guess it is "rails way or the highway", since rails enforcedly adds its own blank value and generated content has nicely rails' dummy blank value and desired blank. Took some reverse engineering to find what caused such strange bug.

[2015-12-20 23:22] gonchs opened #22713 "Confusing error message for before-* filters"
When the callback chain is terminated as a result of returning ```false``` in the ```before-*``` filter, the error returned looks like this:

[code]

This is consufing as it implies that the record was not saved due to a duplicate record which is not the case.

More info: https://stackoverflow.com/questions/34386602/record-exists-when-it-doesnt#34386875

[2015-12-20 23:40] dammer commented on #11415
@nwjsmith
After update on 5.0.0.beta1 have this error on puma/webrick:
[code]
using debugger i see

[code]
just change

[code]
and all work.

[2015-12-21 08:47] #22305 closed

[2015-12-21 11:34] dammer opened #22720 "ActiveSupport::Logger undefined local variable or method broadcast_messages"
After update on 5.0.0.beta1 have this error on puma/webrick:
[code]
using debugger i see

[code]
just change

[code]
and all work.

[2015-12-21 11:53] blarralde opened #22721 "asset_path and asset_url should respect *_path vs *_url convention"
Having set `config.action_controller.asset_host = "example.com"` in my app I got into an unexpected behavior when I tried fine-tuning which assets should use a relative path and which should use a full URL.

In my views, I'm using `asset_path("icon.svg")` and expecting it to output `/assets/icon.svg`, but instead get `http://example.com/assets/icon.svg`. I would expect that `asset_path` would alwa

[2015-12-21 12:20] valgayres opened #22723 "Activerecord scope chaining error when using same columns"
Hi,

I've encountered a strange behavior when chaining scopes that act on the same columns after migrating from rails 4.0.0 to 4.2.4.

Let's consider the following class

[code]

Now, theoretically, doing `Car.for_owner(1).electric_car` and `Car.electric_car.for_owner(1)` should give the same answer.

The problem is that looking at the sql query we see the following issue:

[code]

As we can see,

[2015-12-21 12:21] dammer commented on #22720
Sorry rails_stdout_logging-0.0.4 was included to Gemfile.lock as dependency rails_12factor gem.

[2015-12-21 12:21] #22720 closed

[2015-12-21 13:04] eileencodes commented on #22662
Can you bisect 4.1 to 4.2 and find what commit removed the `url_helpers`? Also if you could provide a basic engine that demonstrates the problem, that would help us narrow down the issue. Thanks!

[2015-12-21 13:07] eileencodes commented on #22708
What do other generators do when you do `--skip-keeps`? We should follow convention and change Action Cable files to behave the same way.

[2015-12-21 13:11] eileencodes commented on #22713
Hi @gonchs thanks for the report. What version of Rails are you using? Can you create a script that reproduces that issue using these templates https://github.com/rails/rails/tree/master/guides/bug_report_templates

[2015-12-21 13:14] eileencodes commented on #22723
Hi @valgayres, thanks for the report! Can you reproduce the issue using one of the Active Record script templates https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb?

That will help us track down the issue. Thanks!

[2015-12-21 14:27] dancinglightning commented on #22662
Hi,
nice tool, didn't know that bisect. Gave it a spin and it came out with what  knew anyway.
This commit https://github.com/rubyclerks/office_clerk/commit/ffa74966bb016b65f75a8da0db2b96f5d66eb9a3

update my gemfile from rails 4.1.14 to 4.2.5. There's a little fluff in there because i tried to generate a new  rails app and overlaid that on the existing code to see if some config / engine changes

[2015-12-21 14:32] dhh opened #22725 "Deal gracefully with Windows and Action Cable"
It's been mentioned that Action Cable, and in particular EventMachine or Celluloid, might be producing problems on Windows. In the short term, we may well not be able to replace either of these technical underpinnings with a Windows-compatible alternative. So while this may be the case, let's make Action Cable restrict itself gracefully when triggered on Windows. This can be something as simple as

[2015-12-21 14:40] sgrif commented on #22725
EventMachine will install fine with DevKit, though I'm hoping we can drop the need for that soon as it causes issues w/ new devs. It appears that hiredis just flat out doesn't work on Windows.

I do not think showing an error message is sufficient here. I've been doing a lot of work to get the test suite running on Windows, and getting CI set up, etc. Our default stack should "just work" on Window

[2015-12-21 14:42] dhh commented on #22725
"Our default stack should "just work" on Windows as well as *nix." – that's definitely the best outcome. If you're interested in making that so, I'm big 👍 on that.

[2015-12-21 15:05] eileencodes commented on #22662
Hey @dancinglightning I meant to use git bisect on Rails to find what commit in Rails broken your app :smile: Let me know if that's not possible.

[2015-12-21 15:20] anoldguy opened #22726 "Regression in ActiveRecord Nested Through Scope"
Given the ruby code in the script, I would expect `user.groups` to be scoped by both of the `deleted_at` conditions.  This was the behavior up thru Rails f55c60f.  This was changed in bc6ac860 to fix [a regression](https://github.com/rails/rails/issues/20727).  This issue persists thru master, test script runs against 5.0.0.beta1.  (This is possibly a dupe of #22723, given how `user.groups` is bro

[2015-12-21 15:36] senny commented on #22584
@dmagliola I'll have a look.

[2015-12-21 16:16] dancinglightning commented on #22662
Hi @eileencodes

I don't think it's quite as straightforward. Neither do i know if the code before that commit worked with 4.2 nor if it would still work with 4.1

When doing the bisect on rails and my constant engine, the tests will require the bundle to be bundled and that will nail the rails version. So i really don't know.

So now i neither have the time, nor know how to do that :-)

[2015-12-21 16:23] eileencodes commented on #22662
Can you make a small app the reproduces the problem? Then I can bisect Rails.

[2015-12-21 16:27] jebw commented on #20154
@senny

Just tested this against Rails 5.0.0.beta1 using the Gist linked above - this still appears to be a problem, ActiveRecord is generating invalid SQL as with 4.2.

Is there anything I can be doing to help resolve this issue - there's a test case linked above provided by @repinel and a Gist to replicate the issue

Thanks

[2015-12-21 16:27] Elektron1c97 commented on #22584
@dmagliola What db are you using?

Can you upload a mini rails project which produces the error?

Thank you very much

[2015-12-21 17:15] danielalves opened #22728 "On Postgres, values set by triggers are ignored, could be fixed with RETURNING *"
We use a database first approach, so we have a `structure.sql` that creates the database for us. We also use Postgres' database triggers to set the `created_at` and `updated_at` columns' values (we could use the Rails feature that does so, but since this issue applies for every trigger, please continue reading). So we have something like this:
[code]
And it works great, as one could verify with `p

[2015-12-21 17:21] sgrif commented on #22728
PG's docs make no mention of `RETURNING` having any affect on this. Sounds like a bug in Postgres, not Rails. (Also just use a database default for this case?)

[2015-12-21 17:21] #22728 closed

[2015-12-21 17:25] danielalves commented on #22728
@sgrif Sometimes triggers compute values on the fly. In the example I gave, default values would be fine. But, for some triggers, they would not fix the problem. And I don't think it's a bug in neither on them. I think this is just a feature request :smile:

[2015-12-21 17:26] sgrif commented on #22728
This would increase the memory usage on insert for all Rails apps, so this is not a feature request that we would accept. We also don't take feature requests on the issues tracker, as it's reserved only for bugs. In the future you can post feature requests on the rails-core mailing list.

[2015-12-21 17:28] danielalves commented on #22728
@sgrif Ok, thanks! I'll just ask about it there :+1:

[2015-12-21 17:28] smolnar opened #22730 "Strange equality check for PostgreSQL arrays with unicode string characters"
Recently I stumbled upon a problem with `changed?` method on array columns in AR. Assigning identical arrays to created AR model generates changes even though arrays are equal. I managed to observe the behaviour only with array containing unicode strings.

More descriptive example with failing test:
[code]

Test passes with value `novy` instead of unicode one `nový`. This probably isn't a proper b

[2015-12-21 17:29] sgrif commented on #22728
You don't need to re-raise this specific feature request, as it will not be accepted.

[2015-12-21 17:30] sgrif commented on #22730
Can you provide an executable test case using our [standard bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)?

[2015-12-21 17:44] danielalves commented on #22728
@sgrif Ok, I won't. My only concern was that ActiveRecord is returning values that can be not reflecting what is actually in the DB. From the Postgres docs: `The optional RETURNING clause causes INSERT to compute and return value(s) based on each row actually inserted.`. So, the only way to know the actual column value, is to use `RETURNING *` or to use a `SELECT` after the `INSERT`/`UPDATE`. Of c

[2015-12-21 17:48] sgrif commented on #22728
Yes, I fully understand your point (and [this is the approach diesel takes](https://github.com/sgrif/diesel/blob/master/diesel/src/query_builder/insert_statement.rs#L79-L88)). However, Rails was not designed with triggers in mind, and this would be a decent performance regression on all apps not using triggers in this way.

[2015-12-21 17:50] danielalves commented on #22728
:+1:

[2015-12-21 17:56] smolnar commented on #22730
Sure. It looks like that after creating a record, unicode string is returned in encoded format like `["nov\xC3\xBD"]`, which causes the problem, I think. Reloading record after creating it fixes the issue.

[code]

[2015-12-21 18:03] sgrif commented on #22730
So this is actually a bug in the Ruby PG gem, not in Rails -- however I'm leaving this open as we're only relying on the PG gem for this in recent versions, and we need to stop doing that if we can't resolve this issue there.

[2015-12-21 18:17] sgrif commented on #22730
PG issue: https://bitbucket.org/ged/ruby-pg/issues/230/pg-textencoder-array-doesnt-properly

[2015-12-21 18:21] pclalv opened #22731 "ActiveSupport::Inflector#singularize thinks that the singular of 'slaves' is 'slafe'"
[code]

[2015-12-21 18:22] smolnar commented on #22730
Awesome, thank you for adding the issue!

[2015-12-21 18:25] matthewd commented on #22731
The inflector is frozen, for backwards compatibility.

You can define a custom inflection in `config/initializers/inflections.rb`.

[2015-12-21 18:25] #22731 closed

[2015-12-21 18:37] avongluck-r1soft opened #22732 "number_to_human_size needs to scale to Petabyte"
With ever-increasing storage, number_to_human_size should also scale to Petabyte levels of storage. Instead of transitioning to PB, number_to_human_size remains at TB (2500 TB for example)

[2015-12-21 18:40] avongluck-r1soft opened #22733 "Correct size units in number_to_human_size helper"
This is a continuation of #810 .  number_to_human_size is 1024-base but outputs MB, KB, GB, TB  instead of MiB, KiB, GiB, TiB

[2015-12-21 18:44] dancinglightning commented on #22662
Ok, i thought this would be quick so i did it
https://github.com/dancinglightning/blorgh

but it raises other issues, possibly of documentation and you will really have to take it from here.
The thing is that i'm sure if you use --mountable all works. But i didn't, neither now nor then and things seem to go awry.

There's only three commit in there and if you go to test/dummy and do rails s
and go

[2015-12-21 18:59] rafaelfranca commented on #22733
It is by design. If you want different units just change in your I18n configuration

[2015-12-21 18:59] #22733 closed

[2015-12-21 18:59] rafaelfranca commented on #22732
Thank you for the issue. Feel free to open a pull request. We don't take feature requests in the issue tracker.

[2015-12-21 18:59] #22732 closed

[2015-12-21 19:17] amalagaura commented on #22602
I feel like this behavior of counter_caches not working for non-primary keys should be in the documentation. It will require kind of a large rework of the internals to get it working and I don't know if it is desired.

A colleague has used callbacks to create a simple alternative counter_cache implementation which actually works for non-primary keys. It is very short. The complicated parts of acti

[2015-12-21 19:53] dmagliola commented on #22584
I'm using Postgres.

I'll try to make a mini rails project to reproduce.

Thank you
Daniel

[2015-12-21 20:06] #22669 closed

[2015-12-21 20:19] habermann24 commented on #22669
Hey @rafaelfranca, I'm afraid the merge request you picked fails sometimes.

[code]

My guess is that some other test might set the options[:assets], so that the test order is important.

I created another pull-request to fix this: https://github.com/rails/rails/pull/22737

[2015-12-21 20:22] rafaelfranca commented on #22669
yeah, the implementation can be also improved. I'll do it myself.

[2015-12-21 20:59] rafaelfranca commented on #22669
Done https://github.com/rails/rails/commit/f51a30c66692a5da2d5152d5e7e6130d88480c03

[2015-12-21 21:07] nateberkopec opened #22738 "ActionDispatch::MiddlewareStack equality regression in Rails 5"
The following test passes under Rails 4 and lower, but fails on Rails 5:

[code]

[Here's the relevant bug report script](https://gist.github.com/nateberkopec/814d8238fdf44d493b6e). It appears the Middleware instance's `klass` is not being set correctly.

[2015-12-21 21:10] nateberkopec commented on #22738
Hm, I think I may be misunderstanding the cause here, but setting the inline Gemfile to the following *does* make the main test pass:

[code]

[2015-12-21 23:25] maclover7 commented on #22738
@nateberkopec Quick question -- are you sure this test
[code]
is accurately testing the functionality? On 4-2-stable for me, this test fails with the error message:

[code]

I think the test should be rephrased to look like:
[code]

Thoughts?

[2015-12-21 23:27] rafaelfranca commented on #22738
I already have a fix to it. I'll push later

On Mon, Dec 21, 2015, 21:25 Jon Moss <notifications@github.com> wrote:

[2015-12-21 23:28] Speakus opened #22741 "bin/rake test sets the environment to development"
Although `bundle exec rake test` - set to test
and `bundle exec rake -v test` - set to test
and `rake test` - also set to test
and `rake -v test` - also set to test
But `bin/rake -v test` sets the environment to development
NB! `bin/rake test` - also sets the environment to test

bin/rake --version == 10.4.2
rake --version == 10.4.2
bundle exec rake --version == 10.4.2
app was created with cmd: `r

[2015-12-21 23:29] nateberkopec commented on #22738
@maclover7 Yeah that test was just me trying to figure out what was going wrong, not any statement that it *should* pass on Rails master. I think your rephrase was correct.

[2015-12-21 23:31] maclover7 commented on #22738
@nateberkopec- :+1:
@rafaelfranca- I ran through git bisect, and found that commit 2a3c47ff5d4ed7391d8a2d02a6baa1f1f55a8df3 introduced the bad behavior, is this where you ended up too?

[2015-12-21 23:50] jhubert opened #22742 "Unexpected session sharing with integration tests leads to errors"
We're experiencing some weird behavior in an integration test that uses open_session multiple times. I've put together a fresh sample app to and made the code as close to the [integration test examples](http://guides.rubyonrails.org/testing.html#integration-testing-examples) as possible, and I'm still seeing the issue.

[code]

It seems as though the 2nd session is shared with the 3rd session. Any

[2015-12-22 00:14] gwincr11 commented on #22708
@eileencodes I maybe mis-reading this or missing something. But I think this is likely only an issue for activecable, as it is broken in the asset pipeline. I am not aware of another generator that builds folders in the assets folder.

[2015-12-22 00:51] rafaelfranca commented on #22741
Can you please provide a sample application that reproduces the error?

[2015-12-22 01:08] maclover7 commented on #22721
Hi @blarralde, which version of Rails are you running? Also, could you create an executable bug report script, using one of the [templates](https://github.com/rails/rails/tree/master/guides/bug_report_templates)? Thanks!

[2015-12-22 01:08] Speakus commented on #22741
code to create app:

mkdir tmp
cd tmp
echo 'gem "rails", "4.2.5"' > ./Gemfile
echo '2.2.3' > ./.ruby-version
bundle install
rbenv rehash
bundle exec rails new . --force
bin/rails g scaffold a
bin/rake db:migrate RAILS_ENV=test
sed -i.orig 's+protect_from_forgery with: :exception+puts Rails.env+' ./app/controllers/application_controller.rb

[2015-12-22 01:10] Speakus commented on #22741
But... i have found one additional important notice:
`bin/rake -v test` - set env to development
but `bin/rake test` - set env to test!
Issue updated

[2015-12-22 01:15] rafaelfranca commented on #22721
It is not an unexpected behavior. It may be not documented but it is expect. Both `assert_path` and `assert_url` generates the full path if `asset_host` is set. The only difference is when it is not set. `assert_path` will use a relative path if `:host` is not set and `assert_url` will use the host from the current request.

Feel free to open a PR to update the documentation but I'm closing this s

[2015-12-22 01:15] #22721 closed

[2015-12-22 01:17] rafaelfranca commented on #22741
Could you remove spring from your Gemfile? And try it?

[2015-12-22 01:17] twalpole opened #22744 "Numericality validator broken for string attributes"
A change to the numerically validator - https://github.com/rails/rails/commit/7500daec69499e4f2da2fc06cd816c754cf59504#diff-58f66170fe2bce77e8a8b3c69b77a0d6L32 - has broken limits checking (greater_than, etc) for string attributes. This happens because the string is no longer cast to a numeric class before being compared - so if we have an attribute with the value "12" and we use greater_than: 1 o

[2015-12-22 01:17] rafaelfranca commented on #22741
(also don't forget to stop it)

[2015-12-22 01:24] #19719 closed

[2015-12-22 01:25] Speakus commented on #22741
commenting gem spring + cmd `spring stop` - solved the issue... Although i can not understand this issue and how can i prevent it in the future...

[2015-12-22 01:26] #19715 closed

[2015-12-22 01:28] rafaelfranca commented on #22741
It is not an issue. Spring preloads you application. You are printing the environment when the application is loaded not when the test is run. At the time the application is loaded spring doesn't know if what you are running is `test` or a `console` command. If you print the environment in any test file you will always see test.

[2015-12-22 01:28] #22741 closed

[2015-12-22 01:35] rafaelfranca commented on #19781
I think it is already fixed on master branch. Please give it a try.

[2015-12-22 01:35] #19781 closed

[2015-12-22 01:38] #19777 closed

[2015-12-22 02:20] Speakus commented on #22741
"If you print the environment in any test file you will always see test" - it's not true. I see 'development' in test file same as in application_controller file. But anyway thanx.

[2015-12-22 02:32] pwnall opened #22747 "request.format does not obey routing information in Rails 5"
Executable test case: https://gist.github.com/pwnall/b06265f317b90857a274

Before Rails 5, it was possible to use "." in the last route segment, like this.

[code]

In Rails 5.0.0 beta1 and master, having such a segment will trick the MIME format negotiation code. I think the problem is in `format_from_path_extension` here:
https://github.com/rails/rails/blob/v5.0.0.beta1/actionpack/lib/action_dis

[2015-12-22 02:38] jhubert commented on #22742
The sample app is here: https://github.com/jhubert/SessionTest

[2015-12-22 04:13] gwincr11 commented on #22708
I am wondering if cable.coffee should be built by default? Seems like there is overhead being loaded to the browser that more often than not will be unnecessary. Should this generator be skipped by default?

[2015-12-22 04:38] matthewd commented on #22747
cc @jmbejar

[2015-12-22 04:50] matthewd commented on #22708
The generator should be using `empty_directory_with_keep_file` instead of plain `keep_file`.

[2015-12-22 06:42] #22708 closed

[2015-12-22 08:10] ziomio commented on #22438
@RochesterinNYC

Yes

I believe so

Yes

The main problem for me (and other non super experienced Rails devs) is 'incorrect' behaviour of `first` and `last` methods applied to `where` method. I assumed that `where(CONDITION).first` will always return first record with LOWEST id and I built my app relying on this *wrong* assumption.

Now, when I know how `first` really behaves - it's a no problem f

[2015-12-22 08:52] shlajin commented on #22548
@fxn sorry for the delay in reply.

Code in the repo (https://github.com/shlajin/Rails-4.2.5-AR-bug-demo) is the minimum example.
If subclass has no associations then inherited associations works fine. In other words, if I delete the line `has_many :toys` the bug will disappear (failing test will pass).

[2015-12-22 09:10] jvenezia commented on #19781
Hi, I just checked the behaviour on master branch and it seems not to be fixed, or my issue what not clear enough. Can you explain me why you say it is fixed ?

For an example, I expect that an error from a `remote: true` link is displayed directly on the browser, in html, like any other standard error, without needing to check the HTTP response.

Please tell me if you need more information. I und

[2015-12-22 10:11] fxn commented on #22548
@shlajin awesome, thanks very much.

[2015-12-22 12:19] richpeck commented on #22725
Can confirm incompatibility with `eventmachine` (due to reliance on `hiredis-rb`) on Windows:

![untitled](https://cloud.githubusercontent.com/assets/1104431/11955062/28bf1e50-a8a6-11e5-92f3-c873334882af.png)

[2015-12-22 12:45] dhh commented on #22725
Sean just made a fix for that. We're trying to get that into hiredis-rb at
the moment.

On Tue, Dec 22, 2015 at 1:20 PM, Richard Peck <notifications@github.com>
wrote:

[2015-12-22 13:06] richpeck commented on #22725
Thanks @dhh, do you want me to test any other Windows-compatibility issues?

[2015-12-22 13:14] dhh commented on #22725
Sean can probably better answer that question. He's motivated to making
Rails 5 a great experience on Windows, and I'm sure he'd love to have help.
Thanks for volunteering!

On Tue, Dec 22, 2015 at 2:07 PM, Richard Peck <notifications@github.com>
wrote:

[2015-12-22 13:21] jmbejar commented on #22747
Ideally we should pull the format extension from routing, but routing code is executed too late in some cases. For this reason I decided to implement this method as a fallback when the format parameter is pending to be parsed from the route. Assuming that format is the extension in the URL is just an heuristic (I know it's not always true), but it would help to generate a response error with the c

[2015-12-22 16:24] rafaelfranca commented on #19781
The error is displayed as a JavaScript error because it is a JavaScript request. You need to handle it. We have no plans to show a HTML error page if the error is in a JavaScript request.

[2015-12-22 17:03] jvenezia commented on #19781
Yes, I know. It was an idea. I think it would be more convenient.

[2015-12-22 17:24] headius commented on #19777
I saw this got closed automatically...but @gazay claimed his fixes in #19819 work with JRuby. I think this could be marked as fixed for Rails 5 rather than just closed as stale.

[2015-12-22 17:39] rafaelfranca commented on #19777
Indeed I forgot to close the issue when I merged that PR. Thank you for pointing it out!

[2015-12-22 19:10] rafaelfranca commented on #22738
Fixed

[2015-12-22 19:10] #22738 closed

[2015-12-22 19:33] harisb2012 opened #22761 "Rails won't work with 3rd party generators"
When I run rails g react:install I get Could not find generator react:install. Probably rails5 issue as everything works with rails 4.2.5

[2015-12-22 19:39] rafaelfranca commented on #22761
Can you please provide a sample application that reproduces the error?

[2015-12-22 19:42] harisb2012 commented on #22761
Just add

gem 'react-rails', '~> 1.5.0'

to gemfile and run

rails g react:install

You will see the error.

[2015-12-22 19:43] seuros commented on #22761
i can't reproduce it
[code]

[2015-12-22 19:47] harisb2012 commented on #22761
Weird, I'm getting that error constantly

[2015-12-22 19:51] rafaelfranca commented on #22761
try to stop spring.

[2015-12-22 19:57] harisb2012 commented on #22761
Works without spring! :) Thanks

[2015-12-22 19:57] #22761 closed

[2015-12-22 22:50] #22744 closed

[2015-12-22 23:26] dmolesUC3 opened #22765 "ConnectionSpecification#spec accepts hashes with symbol keys, but #resolve_hash_connection doesn't"
In [`ConnectionSpecification`](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/connection_specification.rb), the `spec` method uses `symbolize_keys` to transform string keys to symbols:

[code]

However, when `config` is a hash argument, `resolve` here calls `resolve_hash_connection`, which expects a string `'url'` key:

[code]

This has the effect tha

[2015-12-23 01:33] maclover7 commented on #22765
Am able to replicate this error -- working on a fix :)

[2015-12-23 01:44] maclover7 commented on #22765
Opened a PR to fix the error here: #22766.

[2015-12-23 03:12] maclover7 commented on #12178
Opened up #22767 to try and fix this problem. :-)

[2015-12-23 03:25] Tonkpils opened #22768 "Heroku slug size changes based on asset_host"
In Rails 4.2.1, when pushing to Heroku, I ran into an issue where removing:

[code]

causes the slug size to increase, in my case past the limit of 300MB for Heroku.

I tried updating the code to define `config.asset_host = "//example.cloudfront.net"` and the slug size was still over the limit. It seems as if the only configuration that works is the original

Is this expected? What causes this inc

[2015-12-23 04:05] matthewd commented on #22768
This sounds like a question for Heroku support.

Otherwise, please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-23 04:05] #22768 closed

[2015-12-23 05:07] rafaelfranca commented on #22765
That API only accepts hashes with string keys. If it calls `symbolize_keys` it is a implementation detail of the `spec` method.

[2015-12-23 05:07] #22765 closed

[2015-12-23 09:44] repinel commented on #22744
@twalpole Thanks for finding this

[2015-12-23 09:47] ravi1012 opened #22770 "Rack::MethodOverride#call rails 4 + unicorn + apache"
![newrelic1](https://cloud.githubusercontent.com/assets/16046603/11974154/8d8ccbe8-a987-11e5-9857-9fbaaaa2a9d1.JPG)
![newrelic2](https://cloud.githubusercontent.com/assets/16046603/11974158/969a2d02-a987-11e5-8463-df66146932ee.JPG)

We are experiencing slowness after rails upgrade from  Rails 3.2.2 to Rails 4.2 with unicorn 4.8.3 and apache 2.2.15.

Do we need to tweak unicorn w.r.t Rails?

[2015-12-23 10:15] gsamokovarov commented on #22770
Those questions are better suited for Stack Overflow. We reserve the issue tracker for bug reports only.

[2015-12-23 10:23] why-el commented on #22580
Are you dependent on ruby 2.1? If not I'd suggest you update to ruby 2.2. Rails 5 is pulling the trigger on all but ruby 2.2, so even we could ensure the method symbol is deleted from the symbol storage now, that would simply mean we are replicating (and perhaps breaking) functionality that Ruby 2.2 already fixed.

[2015-12-23 11:08] senny commented on #20612
I've started extracting notable changes, deprecations and removals for Rails 5. I'm going to close this issue, further updates should be done directly to [5_0_release_notes.md](https://github.com/rails/rails/blob/master/guides/source/5_0_release_notes.md).

[2015-12-23 11:08] #20612 closed

[2015-12-23 12:06] matthewd commented on #22580
Yeah, if this is fixed by upgrading to ruby 2.2, I don't think there's much we can do about it now... any change on our side seems too invasive to justify backporting to 4.2. :confused:

[2015-12-23 12:06] #22580 closed

[2015-12-23 12:09] kaspth commented on #22770
What @gsamokovarov said. Thanks!

[2015-12-23 12:09] #22770 closed

[2015-12-23 14:08] claptimes5 commented on #22723
I've found the same issue when upgrading from 4.1.14 to 4.2.5 and have included a gist using the bug report template: https://gist.github.com/claptimes5/f47502ccc378a748f861

[2015-12-23 16:09] dmolesUC3 commented on #22765
@rafaelfranca the API's *documented* to accept hashes with string keys, but what it actually accepts is another matter.

[2015-12-23 16:13] rafaelfranca commented on #22765
It is hashes with string keys, feel free to make that explicit in the documentation with a PR.

[2015-12-23 16:53] #18057 closed

[2015-12-23 16:54] #19805 closed

[2015-12-23 16:56] #20053 closed

[2015-12-23 17:07] #20203 closed

[2015-12-23 17:16] rafaelfranca opened #22773 "`as: :radio_bottons` adds hidden field which raises `ActionController::BadRequest` on submit"
_From @ssendev on December 23, 2015 17:10_

steps to reproduce:

[code]
 when bar is not selected it works when bar is checked `ActionController::BadRequest (Invalid request parameters: expected Array (got String) for param 'bar')` is raised, which is caused because `foo[bar]=laa` and `foo[bar][]` are submitted

in previous versions the hidden field seems not to be present so a workaround is to us

[2015-12-23 17:16] rafaelfranca commented on #22773
It is a Rails bug. I'll move it to its issue tracker.

[2015-12-23 17:23] gwincr11 commented on #22726
I spent some time looking at this, out of curiosity of how this all works. It seems that in activerecord/lib/active_record/associations/through_association.rb class the removal of the reflection scope code https://github.com/rails/rails/blob/6fe13e52964cea6dadbb47c1601c2c11d2dd126f/activerecord/lib/active_record/associations/through_association.rb#L19-L22 is preventing the lambda from being applie

[2015-12-23 17:26] #18611 closed

[2015-12-23 17:26] #19891 closed

[2015-12-23 17:27] rafaelfranca commented on #20199
This is fixed in master. Returning `false` in a callbacks doesn't abort the execution anymore.

[2015-12-23 17:27] #20199 closed

[2015-12-23 17:28] #19490 closed

[2015-12-23 17:29] #20048 closed

[2015-12-23 17:32] rafaelfranca commented on #20133
r? @matthewd

[2015-12-23 17:33] #20202 closed

[2015-12-23 17:45] joevandyk commented on #9679
it's still a problem in 4-2-stable.

On Wed, Dec 23, 2015 at 9:38 AM, Ruby on Rails Bot <notifications@github.com

[2015-12-23 17:46] joevandyk commented on #18952
I think this is still a problem in 4-2-stable. Not sure if it's a WONTFIX or what.

[2015-12-23 17:46] kenaniah commented on #21126
Still an issue on all builds of Rails 4.x

[2015-12-23 17:51] kuldeepaggarwal commented on #19490
It is still present.

[2015-12-23 17:51] bughit commented on #21197
present in 4.2.5

[2015-12-23 17:53] rafaelfranca commented on #19490
I know it is, but we don't have information needed to keep this issue open.

[2015-12-23 17:54] rafaelfranca commented on #21126
This is more a feature request than an issue. So I'd suggest to you open a PR or discuss in the Rails core mailing list.

[2015-12-23 17:54] #21126 closed

[2015-12-23 17:56] gwincr11 commented on #22713
I believe this is related to this pull request https://github.com/rails/rails/pull/21218 which deprecates the above behavior in Rails 5.0

DEPRECATION WARNING: Returning `false` in Active Record and Active Model callbacks will not implicitly halt a callback chain in the next release of Rails. To explicitly halt the callback chain, please use `throw :abort` instead.

[2015-12-23 17:56] rafaelfranca commented on #18952
Closing as duplicated of #9894

[2015-12-23 17:56] #18952 closed

[2015-12-23 17:57] kuldeepaggarwal commented on #19490
I think we have.

[2015-12-23 17:57] rafaelfranca commented on #9679
And in master?

[2015-12-23 17:59] rafaelfranca commented on #22713
Yes, it is. Closing since it is already fixed in master.

[2015-12-23 17:59] #22713 closed

[2015-12-23 18:01] rabbitt commented on #20490
@rafaelfranca Any word on PR #20507  ?

[2015-12-23 18:15] rubys commented on #20945
What would I need to do to address @sgrif's concerns?

[2015-12-23 18:20] rafaelfranca commented on #20945
@rubys right now we need to get the AWDwR tests passing. They are not passing for 4-2-stable branch and neither with master. I know you are working in a new version of the book and it is just a matter of time for getting both passing.

Other thing we can do is get back the test result alerts in our new Campfire room.

This one I don't know if we would be able to do. I think we are not.

This one c

[2015-12-23 18:53] oguzbilgic opened #22774 "ActiveRecord:Enum scopes don't work when values are assigned"
When you have an enum with values, such as:
[code]

This is suppose to work based on the example on docs:
[code]

This works but very tedious and repetitive:
[code]

ruby: `2.1.3p242`
rails: `4.2.4`

Thank you

[2015-12-23 18:54] rafaelfranca commented on #22774
It is how it works in Rails 4.2. In Rails 5 this changed.

[2015-12-23 18:54] #22774 closed

[2015-12-23 19:32] skolem commented on #20837
I ran the test case I provided previously against both Rails 4.2.5 and branch 4-2-stable (gem 'rails', :git => 'https://github.com/rails/rails.git', :branch => '4-2-stable') and the Module::DelegationError still occurs.

[2015-12-23 19:36] rafaelfranca commented on #20837
How about master?

[2015-12-23 19:37] #20490 closed

[2015-12-23 19:50] rejeep commented on #21642
I'm actually having the exact same issue with `5.0.0.beta1`. Any ideas?

[2015-12-23 19:54] rafaelfranca commented on #21642
Can you please provide a sample application that reproduces the error?

[2015-12-23 20:00] rejeep commented on #21642
It's a private app and I don't have permissions to invite you I'm afraid. But I'm happy to find the issue myself if you would give me some suggestions where to start as the logs say nothing.

[2015-12-23 20:58] skolem commented on #20837
My test case no longer runs against master due to the changes in this commit:  e16afe61abd78c55f80752ca020b90d59ae1940f

The good news is that I believe the changes to ActionDispatch::TestResponse and ActionDispatch::Response fix the issue.  I don't have an easy way to test this against my rspec suite in a Rails 5.0.0 environment; however, I'm 99% sure it's fixed based on a look through the change

[2015-12-23 21:07] #20837 closed

[2015-12-23 21:36] mrj commented on #21083
These five doc errors are still present in master.

[2015-12-23 21:38] rafaelfranca commented on #21083
Please send a PR fixing those errors.

[2015-12-23 21:56] laserlemon commented on #19880
Oh no! :scream: I'll try to look into whether this is still an issue on `4-2-stable` and `4-1-stable` and report back. Thank you!

[2015-12-23 23:29] rubys commented on #20945
@rafaelfranca how important is getting these tests passing on 4.2?  I'll also make the comment that it would be in everybody's best interest if multiple people were able to run and interpret the results.  All code needed to run the tests is published on GitHub.  All code is tested on both Mac OS/X and Ubuntu; I even have a Vagrant file.  Expanding the tests to include scenarios not covered by the

[2015-12-23 23:40] antoine-lizee commented on #20733
Closing, as the doc PR has been merged. Discussion could be restarted elsewhere if some new feature is desirable around this issue.

[2015-12-23 23:40] #20733 closed

[2015-12-23 23:48] awgithubuname opened #22779 "Timing attack vulnerability in http_basic_authenticate_with"
This block of code will return at different times depending on what you give it for username and password.

[code]

[2015-12-24 00:35] Micka33 commented on #21070
I haven't tried it again, but this issue will be resolved when there will be a PRIMARY or a SHARD key in the `schema_migrations` table.

[2015-12-24 00:59] emclab opened #22782 "Referring attribute x.spec throws error - no implicit conversion of Workflow::Specification into String"
In our Rails 4.2.0/ruby 2.0.0 app with geekq/workflow 1.2.0, there are 2 models order and order_items. order has_many order_items. There is a workflow defined in model order. In order_item table there is a spec attribute which stores product specification (in text) .

  class Order < ActiveRecord::Base
      include Workflow
      has_many :order_items
  end

  class Order_Item < ActiveRecord::Bas

[2015-12-24 01:08] rafaelfranca commented on #22782
This doesn't look like a rails issue. Please report in the workflow gem

[2015-12-24 01:08] #22782 closed

[2015-12-24 01:23] emclab commented on #22782
The issue was reported in both rails and workflow engine. There is no response from workflow engine yet so far.

[2015-12-24 01:44] whistlerbrk commented on #21587
I don't have time to reproduce the error now and it's more likely it was coming from my code or a dependency than it was from AR.

[2015-12-24 01:44] #21587 closed

[2015-12-24 01:53] panasyuk commented on #22580
@matthewd This issue affects many Rails applications all over the world. Upgrading to Ruby 2.2 (or to Rails 5) will be a big problem for tons of projects (especially for long term ones). For instance Debian will have Ruby 2.2 and higher in it's stable repositories in 1.5 years.

[2015-12-24 02:08] luke-gru commented on #22580
Maybe I'm not understanding, but wouldn't this only be an issue in development environments, or if you're doing something weird in production, such as uncaching the templates. Say you have 100 template files, and 2 unicorn workers, you have a maximum of 200 of these methods, so 200 symbols created.

[2015-12-24 04:04] schneems commented on #22779
Sure it will tell you if you have a valid username but it won't help you figure out the password. In Ruby == does not use a per char comparison so it's not vulnerable to timing attacks. If you're implementing auth you should probably use a secure compare algorithm just incase.

[2015-12-24 04:04] #22779 closed

[2015-12-24 04:28] simi commented on #22779
There's also stale PR https://github.com/rails/rails/pull/16457 for this.

[2015-12-24 09:12] wangyouyan commented on #21107
Actually,It's so easy to solve this issue.
firstly,we can use 'ps -ef |grep mysql' and get the below result:
ps -ef |grep mysql
-> 74 1389 1 0 5:03下午 ?? 0:00.27 /usr/local/mysql/bin/mysqld --user=_mysql --basedir=/usr/local/mysql --datadir=/usr/local/mysql/data --plugin-dir=/usr/local/mysql/lib/plugin --log-error=/usr/local/mysql/data/mysqld.local.err --pid-file=/usr/local/mysql/data/mysqld.local.

[2015-12-24 10:20] himesh-r commented on #20995
This issue still exists in master branch.

The fix is already committed and needs merging.

[2015-12-24 10:26] odedniv commented on #20567
This is still reproducible with the code in the original post on 4.2.5.

[2015-12-24 10:30] odedniv commented on #20911
This is still reproducible with the code in the original post on 4.2.5.

[2015-12-24 16:31] gideonaa commented on #16599
+1 on not seeing the patch in 4-2.

I'm also unable to use `change_column` or any other method to customize the data type of my primary keys without producing a failing `schema.rb` file.

[2015-12-25 11:39] maia commented on #22566
Dear @tenderlove @sgrif @rafaelfranca , do you have any thoughts on this issue? Would adding a warning note in the documentation plus a method that forces skipping prepared statements for a specific query be the best solution? Or (doubtful) could AR identify which queries might use a partial index and automatically disable using prepared statements for these queries? Thanks!

[2015-12-25 17:20] rafaelfranca commented on #22566
@maia I need to check the issue closer but we already have a method to disable prepared statements for a specific query. http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/AbstractAdapter.html#method-i-unprepared_statement. Could you check if with that you get better results?

[2015-12-25 20:29] luispaulobrito opened #22793 "Rails server error"
When I'm trying run the server to programmingin Rails I have this result and the server dont run.

$ rails s
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/actionpack-4.1.8/lib/action
_controller/metal/strong_parameters.rb:106: warning: already initialized constan
t ActionController::Parameters::NEVER_UNPERMITTED_PARAMS
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/actionpack-4.1.8/li

[2015-12-25 20:38] maia commented on #22566
@rafaelfranca , I've completely missed the availability of `unprepared_statement`, thanks a lot, this will help now I know which queries I need to watch out for (basically all with a boolean that make use of a partial index in one of the boolean cases).

Besides that, the Postgres query planner makes it difficult to reproduce that issue, but Tom Lane (a member of the core PostgreSQL development te

[2015-12-26 00:59] dlupu opened #22794 "Undefined method `polymorphic_path' in version 5.0.0.beta1"
Hello,

Just came over an issue when trying to switch from Rails 4.2.5 to Rails 5.0.0.beta1. The following code:

          <%= form_for [:admin, page] do |f| %>
                  ....
          <% end %>

generates the following error :

     ActionView::Template::Error: undefined method `polymorphic_path' for #<#<Class:0x007fca909d03e8>:0x007fca93446f78>

With the backtrace:

       actionview-5

[2015-12-26 01:02] dlupu commented on #22794
Seems related to  issue #22512, I stumbled upon a comment from @pixeltrix stating this case as a bordercase for that issue.

[2015-12-26 04:37] peterwillcn commented on #18338
gem 'safe_attributes'

[2015-12-26 04:39] peterwillcn commented on #18338
def bad_attribute_names(*attrs)
        @bad_attribute_names ||= lambda {
          methods = Array.new(attrs.collect { |x| x.to_sym })
          methods += ActiveRecord::Base.public_instance_methods.collect { |x| x.to_sym }
          methods += ActiveRecord::Base.protected_instance_methods.collect { |x| x.to_sym }
          methods += ActiveRecord::Base.private_instance_methods.collect { |x| x.to

[2015-12-26 04:48] matthewd commented on #22566
There's really nothing we can do here... and it seems outside our remit to even discuss it in our documentation: it's an implementation detail of certain versions of a particular RDBMS. (All current versions, perhaps, but I wouldn't count on that remaining so.) Note that our documentation doesn't even state what a partial index *is*; only how to create one using `add_index`.

... and [the PostgreS

[2015-12-26 06:47] atul-shimpi opened #22796 "Session : Symbols hash keys getting converted to literals keys in next request (Rails 4.2.3"
Steps
1] Request 1 - i am storing hash in session
session[:links_history] << { title: 'All Buckets', url: request.original_url }
inspect : [{:title=>"All Buckets", :url=>"http://0.0.0.0:3000/buckets/src-ruby"}]

2] Request 2
inspect = [{"title"=>"All Buckets", "url"=>"http://0.0.0.0:3000/buckets"}]

As you can see, symbols keys are getting converted to literals keys.

I guess, this may not be issu

[2015-12-26 09:13] st0012 opened #22798 "Why can't we use cache in email templates?"
Hi, I notice that we can't use fragment cache in `ActionMailer`'s email template. I am curious about the reason that Rails doesn't implement this feature.
Is it because nobody needs this feature (actually I quite need it)? Or is because the cache implementation is coupled too deep with `ActionController` and it's hard to move it to `AbstractController` which `ActionMailer` uses?

[2015-12-26 11:31] longkt90 opened #22799 "Bug - action_view helper sanitize give an extra \n"
Hi, I have this strange error come up when upgrade from rails 4.1 to 4.2.5

Do this in rails 4.2.5 console with ruby 2.3.0
`ActionController::Base.helpers.sanitize("<ul>Test Answer.<li>Item 1</li></ul>", tags: ["ul", "ol", "li", "br", "i", "em", "strike", "p"])`

results:
`"<ul>Test Answer.<li>Item 1</li>\n</ul>"`

frequently: 100%

[2015-12-26 16:12] eileencodes commented on #22794
Hey @dlupu thanks for the report! Can you make an executable script using these templates that reproduces that issue (https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb)? It will be easier to track down what's causing this if we have that.

[2015-12-26 16:16] dmitry commented on #22796
https://github.com/rails/rails/blob/ea4f0e2baba8653b03fba154357842933cf7b778/actionpack/lib/action_dispatch/middleware/session/cookie_store.rb#L97

[2015-12-26 16:18] eileencodes commented on #22793
Hi @luispaulobrito I think you need to install bundler first since you have the error `uninitialized constant Bundler (NameError)`.

[2015-12-26 16:18] #22793 closed

[2015-12-26 17:02] sgrif commented on #22796
This is the expected behavior

[2015-12-26 17:02] #22796 closed

[2015-12-26 17:07] sgrif commented on #22798
This kind of question should probably go on the Rails Core mailing list. We reserve the issues tracker for bugs only (e.g. something used to work in Rails 4 but is broken in Rails 5)

[2015-12-26 17:07] #22798 closed

[2015-12-26 17:08] sgrif commented on #22799
Since newlines have no affect in HTML, I don't think this is an issue that we need to address.

[2015-12-26 17:08] #22799 closed

[2015-12-26 18:26] atul-shimpi commented on #22796
If this is expected behavior, then it should be consistent. Its having different behaviour in the same request and different is next request.

[2015-12-26 19:13] rafaelfranca commented on #22796
The session object is stored in the cookies as JSON objects and JSON don't
know what is a symbol, only string. In the same request your session object
was not yet serialized, and this is why you get the symbols in the hash. As
soon your session is sent to the browser and return back it only know about
JSON compatible types.

On Sat, Dec 26, 2015, 16:26 Atul Shimpi <notifications@github.com> wrote:

[2015-12-27 07:51] davidbalbert commented on #21116
I can still reproduce this bug on both `master` and `4-2-stable` by using the automatic test case linked in the original issue. As far as I can tell, nobody has looked at this issue nor @palkan's proposed fix, so I don't think there's any information for me to add.

That said, if there is something I could do to be helpful, please let me know.

[2015-12-27 10:40] maia commented on #22566
@matthewd , thanks for your feedback. The last option that comes to my mind is to explicitly mention the option of `unprepared_statement`in the guides wherever prepared statements are explained – but as I cannot find the documentation of prepared statements in the guides at all (just the a link to tenderloves blog post in the 4.2 release notes), I'd have no suggestion on where to place that note.

[2015-12-27 10:40] #22566 closed

[2015-12-27 15:01] matthewd commented on #22599
`Date::Infinity` has always been explicitly undocumented, and has been [considered deprecated since 1.9.3](https://github.com/ruby/ruby/commit/c70988cbe93359c9f9f423f88717e329f2c088d0#diff-4574f59a5e8bb1449b78608685f33335R240).

On the other hand, people do keep finding it and using it -- and it continues to implement everything necessary to work in normal comparisons, so maybe we should just give

[2015-12-27 15:59] prathamesh-sonpatki commented on #22231
I think the hidden field should come before the actual fields. I tried to fix it here https://github.com/rails/rails/pull/22804

[2015-12-27 16:24] jasnow opened #22805 "Undefined method 'deprecate' for ActiveSupport::NumericWithFormat:Module"
Undefined method 'deprecate' for ActiveSupport::NumericWithFormat:Module

Steps to reproduce:
 1. Using repo https://github.com/jasnow/photish5 (with .rvmrc's Ruby
    set to 2.3.0 and Rails 5 (beta1), run "bundle" then run "rake" and you get this:
[code]
 2. When you can change .rvmrc from 2.3.0 to 2.2.4 and Rails 5 (beta1) and repeat step 1, "rake" works (no error).

[2015-12-27 18:09] mvastola opened #22807 "Missing Authenticity Token in Remote Forms w/ File Upload Field(s)"
**This is more-or-less a cross-post of https://github.com/rails/jquery-ujs/issues/451.**

This issue deals with `form_for` tags containing one or more `file_field`s where `:remote => true`.

`config.action_view.embed_authenticity_token_in_remote_forms` defaults to `false` to facilitate fragment caching (which makes total sense), but the `jquery-ujs` gem is currently coded to permit (without altera

[2015-12-27 20:48] tadeusrox commented on #22599
I opened a PR on rails/arel, not sure if exist somewhere here I need to change...

[2015-12-28 03:12] prathamesh-sonpatki commented on #22805
Not able to reproduce it with given steps. `rake` command works for me. Am I missing something?

[2015-12-28 04:35] joevandyk commented on #9679
Still happens on master.

[2015-12-28 06:12] u007 commented on #22647
its still happening, due to sprocket-rails 3.0 relying on sprocket 3

[2015-12-28 06:17] u007 commented on #22647
can this issue be reopen?

[2015-12-28 06:20] matthewd commented on #22647
@u007 the backtrace in this issue shows the exception is coming from `less-rails`. This is not a Rails issue.

[2015-12-28 07:30] peterwillcn opened #22810 "database table attribute column problem"
[code]

[code]
use gem safe_attributes fix this problem.
see https://github.com/bjones/safe_attributes/blob/master/lib/safe_attributes/base.rb  # fix merge rails master tree ?

But ruby-grape   /use/vpn/web/vendor/bundle/ruby/2.2.0/gems/grape-entity-0.4.8/lib/grape_entity/entity.rb:588:in `delegate_attribute'
see https://github.com/ruby-grape/grape-entity/issues/197  # Haven't find a way to repair

[2015-12-28 07:35] sevenseacat commented on #22810
what exactly is the problem?

[2015-12-28 07:38] peterwillcn commented on #22810
@sevenseacat

Please see https://github.com/ruby-grape/grape-entity/issues/197
NoMethodError (private method `attribute' called for #<Radgroupreply:0x007ffbe8e63390>):
  /use/vpn/web/vendor/bundle/ruby/2.2.0/gems/activemodel-4.2.5/lib/active_model/attribute_methods.rb:430:in `method_missing'

[2015-12-28 08:35] rafaelfranca commented on #22810
attribute is not a valid column name because there is a method with same name on Active Record.

[2015-12-28 08:35] #22810 closed

[2015-12-28 10:03] Paxa opened #22811 "Starting rails 5 as a daemon"
I create new rails app and try to run it with `-d` option

[code]

Output:
[code]

From log file:
[code]

When running without `-d` it works just fine

[2015-12-28 12:13] jasnow commented on #22805
Yes, I can't reproduce it now either. I see that I use "activesupport-5.0.0.beta1" above but can't get that to occur so I will close this ticket for now. Thanks @prathamesh-sonpatki

[2015-12-28 13:11] jasnow commented on #22805
@prathamesh-sonpatki - Copied repo to https://github.com/jasnow/photish5
and changed gemfile and .rvmrc to Rails 5 and now I see the error again.
Can you check this? If you can reproduce it, then we can reopen this issue.
Thanks.

[2015-12-28 13:33] laserlemon commented on #19880
As originally reported, I can confirm that this is still an issue on the `4-2-stable` branch, while the `4-1-stable` branch behaves as expected. In addition, `master` (0d2675f84f54504e5ba25b2f53b00bac239ef393) is showing the broken behavior. I believe this should be reopened as it's still an issue. Thank you!

[2015-12-28 14:36] eileencodes commented on #19880
@laserlemon the issue isn't closed, it's just marked as stale. It will be closed in the next round if still stale. I'll add it to pinned so it doesn't end up closed.

Thanks for following up :)

[2015-12-28 15:29] jasnow commented on #22805
Changed copied repo (using Rails 5 and Ruby 2.3.0) and modified above description.

[2015-12-28 17:45] conzett commented on #15255
I'm still running into this error but was able to work around it in my case by specifying the full path to the shared partial. For example changing:
`= render partial: 'errors', locals: { model: @user }`
to
`= render partial: 'application/errors', locals: { model: @user }`
seems to fix it.

[2015-12-28 18:39] rosenfeld opened #22813 "raise_runtime_errors is not working with recent sprockets"
From the official guides:

http://guides.rubyonrails.org/asset_pipeline.html

"3.1 Runtime Error Checking
By default the asset pipeline will check for potential errors in development mode during runtime. To disable this behavior you can set:

config.assets.raise_runtime_errors = false

When this option is true, the asset pipeline will check if all the assets loaded in your application are included

[2015-12-28 18:54] fabn opened #22814 "Routes constraints should be enforced when generating urls"
I've encountered this issue other times, but now I'm in a different context thus I'm opening this issue.

Suppose I have the following routes in my app:

[code]

and the app is accessible to both `foo.example.com` and `bar.example.com`.

When I access http://bar.example.com/users in I'd expect that all generated url for posts use 'foo.example.com' e.g. `post_url(1)` should always return http://foo

[2015-12-28 18:57] jcoyne opened #22815 "Regression: Routes in ActionView::TestCase for 5.0.0.beta1"
Testing a view that calls `url_for(params.merge(only_path: false))`

This test worked in Rails 4.2, but fails in 5.0.0.beta1
[code]

[2015-12-28 19:27] jcoyne opened #22816 "Generate an specified version of rails."
It seems odd that when I use a specific version of `bin/rails`, it generates rails for the newest available rails rather than the version I have specified.

[code]

[code]

[2015-12-28 19:40] jcoyne commented on #22815
In 4.2.5, the code path goes through https://github.com/rails/rails/blob/master/actionview/lib/action_view/routing_url_for.rb#L85-L90, but it doesn't get there in 5.0.0

[2015-12-28 20:15] Javix opened #22817 "update_attribute fails for Array column type"
I tried to call `update_attribute` on one of my model:
[code]
as follows:
[code]
If I just assign the attribute and save it, it works:
[code]
What is wrong with that ? Thank you.
Ruby `ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]`
Rails `4.2.4`
Postgresql `9.3.4.2`

[2015-12-28 20:22] rafaelfranca commented on #22816
I could not reproduce using the right API to ask for an specific version in rubygems:

[code]

[code]

[2015-12-28 20:22] #22816 closed

[2015-12-28 20:33] jcoyne commented on #22816
@rafaelfranca that's not documented in the usage message. Should it be?

[code]

[2015-12-28 20:38] rafaelfranca commented on #22816
That is from RubyGems, so I think it should be documented there https://github.com/rubygems/rubygems/blob/abf89e04954b8a2ddfb6948d0860111990a6efa2/lib/rubygems/installer.rb#L669

[2015-12-28 20:54] jcoyne commented on #22815
This was due to using the released gem rails-controller-testing (version 0.0.3) rather than the master branch.

[2015-12-28 20:54] #22815 closed

[2015-12-28 21:19] mtparet commented on #22601
To bypass this bug, I have to write SQL manually like:
[code]

[2015-12-28 21:35] jcoyne opened #22818 "Regression? ActionController::Parameters no longer responds to `#include?` or `#collect`"
Also `#except!`
Due to https://github.com/rails/rails/commit/14a3bd520dd4bbf1247fd3e0071b59c02c115ce0

Was it necessary to remove these read-only methods?  I have gems depending on them.

[2015-12-28 21:47] shosti opened #22819 "ActiveRecord::Base#add_to_transaction throws exception for null transactions"
See https://gist.github.com/ac34f005792fd69d6498

I'm not 100% sure if this qualifies as a bug, but there are definitely external gems relying on `add_to_transaction` that don't check if the current transaction is closed (see https://github.com/rubysherpas/paranoia/issues/274 which was caused by this). I think the exception was introduced by https://github.com/rails/rails/pull/16363. I'll be submi

[2015-12-28 22:22] jcoyne opened #22820 "AC::Parameters doesn't compare (==) in a sane way"
[code]

Compare to:

[code]

Why is this behavior different?

[2015-12-28 23:17] hansondr commented on #22794
Hope this isn't bad form but I created a script using the template that seems to reproduce the issue:

[code]

[2015-12-28 23:31] eileencodes commented on #22820
This looks like a dup of #21032. Closing in favor of that one.

[2015-12-28 23:35] rafaelfranca commented on #22818
I don't think we need to support all hash methods in `Parameters` I want to keep the API surface small. It is a bad idea to implement `except!` since it is a mutating method and I don't see any usage for `map`/`collect` that can't be handled getting the unsafe hash. I'm fine with `include?` though.

[2015-12-28 23:37] jcoyne commented on #22818
@rafaelfranca isn't `except!` just a subcase of `extract!`?  We have the latter, why not the former?

[2015-12-28 23:41] maclover7 commented on #22805
I feel like the issue is that [`active_support/core_ext/module/deprecation.rb`](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/module/deprecation.rb) is not being required, so that makes the `deprecate` method undefined. Thoughts?

[2015-12-28 23:42] rafaelfranca commented on #22813
Yes, we are aware of it. It was one of the main changes in sprockets-rails 3.

No. That option was made optional before because we introduced in a minor version. Now that we released a major version I don't see any reason to disable that check that was made to avoid surprising errors.

If you are talking about teaspoon they have how to handle that without you needing to disable that check. Just to

[2015-12-28 23:43] rafaelfranca commented on #22818
Mainly because of is a whitelist (`extract!`) and other is a blacklist. Blacklisting in `Parameters` is a bad idea security-wise.

[2015-12-28 23:45] rafaelfranca commented on #22805
@maclover7 that is true. Could you send a pull request?

[2015-12-28 23:46] rosenfeld commented on #22813
I'm using my own framework and runner. How can I allow it to include the debug dependencies without getting into this error?

[2015-12-28 23:50] rafaelfranca commented on #22813
I had not check that yet but you can use `precompiled_asset_checker` as I commented here https://github.com/modeset/teaspoon/issues/443#issuecomment-166371352. If that doesn't work we should make it work.

[2015-12-29 00:04] maclover7 commented on #22805
Opened up #228222.

[2015-12-29 00:32] jcoyne commented on #22818
@rafaelfranca `extract!` is a whitelist in it's return value, but a blacklist in its side effect (remove the keys from the original)

[2015-12-29 00:33] claudiob commented on #22811
I confirm what written above. And that switching back to Rails 4.2.5 makes the daemon server work.

[2015-12-29 02:02] jcoyne commented on #22820
:+1:

[2015-12-29 02:04] peterwillcn commented on #22810
oh no....https://github.com/FreeRADIUS/freeradius-server/issues/1472 <'If other languages get confused by SQL column names, then those languages are broken.'>

[2015-12-29 02:07] #22805 closed

[2015-12-29 02:21] rafaelfranca commented on #22813
This issue was moved to rails/sprockets-rails#299

[2015-12-29 02:21] #22813 closed

[2015-12-29 02:22] rafaelfranca commented on #22813
I moved this issue to sprockets-rails so we can discuss there. If that solution don't work let work together in a solution that works but without introducing the option.

[2015-12-29 07:42] dlupu commented on #22794
Hy @hansondr . Thanks for the help. I confirm the script triggers the same error!

[2015-12-29 10:46] prathamesh-sonpatki commented on #22817
Confirmed that this issue exists on master too - https://gist.github.com/8dd4cb2bf364e6d9885d
cc @sgrif

[2015-12-29 13:09] francesco-loreti commented on #22725
Any news about this problem?

[2015-12-29 13:16] Eric-Guo commented on #22725
@francesco-loreti In order to using [hiredis](https://github.com/redis/hiredis-rb) in windows, need c lib [hiredis](https://github.com/redis/hiredis) compile in windows, seems [Relative PR](https://github.com/redis/hiredis/pull/352) is available.

[2015-12-29 13:42] jasnow commented on #22805
How to I specify edge activesupport so I can verify this in above project (https://github.com/jasnow/photish5)? PR is welcome. Thanks.

[2015-12-29 15:05] francesco-loreti commented on #22725
Few minutes ago I can install Hiredis 0.6.1(a new gem version) on windows but rails 5 require 0.5.2 :-(

[2015-12-29 15:32] jcoyne opened #22827 "TestController#params should return AC::Parameters"
It seems to me that `params()` ought to be returning AC::Parameters, right?
[code]

[2015-12-29 16:50] richpeck commented on #22725
![untitled](https://cloud.githubusercontent.com/assets/1104431/12038002/3900576a-ae4c-11e5-9d7b-bb06d5c5322c.png)

[2015-12-29 17:05] jcoyne opened #22832 "generated URL helpers should accept AC::Parameters as an argument."
In 5.0.0.beta1
[code]

I don't think we should expect the same behavior from the last two invocations of the route helper.

[2015-12-29 17:14] francesco-loreti commented on #22725
Yes but you can try "gem install rails --pre" then you have hiredis 0.5.2 error...

[2015-12-29 18:00] #22747 closed

[2015-12-29 18:51] jcoyne opened #22834 "5.0.0.beta1 generated Gemfile uses wrong version of turbolinks"
I think it ought to be using the version in master rather than the released 2.5.3 version.  The released version uses before_filter and after_filter which raise deprecation warnings with Rails 5.0.0.beta1.  Alternatively, turbolinks should have a 3.0.0.beta1 release.

[2015-12-29 19:07] rafaelfranca commented on #22834
It is by design. Turbolinks master is not ready to be released yet because turbolinks 3 will never see the sun light https://github.com/rails/turbolinks/issues/628. When turbolinks 5 is released we will use it in the generated Gemfile, but we can't point users to a version that is not going to be released as it is.

[2015-12-29 19:07] #22834 closed

[2015-12-29 19:19] jcoyne commented on #22832
I now wonder where the non-parameter arguments to route helpers (i.e. `only_path: true`) should go?  A second argument?  Like this?

[code]

[2015-12-29 19:40] jcoyne opened #22835 "AC::Parameters should be mergeable with another AC::Parameters"
[code]

For context, this occurs here in Kaminari:
https://github.com/amatsuda/kaminari/blob/0dce6b609642c5ab505a5472a6215519c1685f74/lib/kaminari/helpers/tags.rb#L23

[2015-12-29 19:46] jmbejar commented on #22747
Thanks @pwnall for providing this test case that helped to identify and fix the problem.

[2015-12-29 19:59] jcoyne commented on #22834
@rafaelfranca The issue is that users will see deprecation warnings with the default gemset.  That seems undesirable.

Possibly we backport https://github.com/rails/turbolinks/commit/d759161cf46243d2e9316864ee8a045be0d7b25b
https://github.com/rails/turbolinks/commit/a6175e9ca426c3c6d7f74c6b2346488513897825
https://github.com/rails/turbolinks/commit/ed5b866d9972e4f47dddc736347d199f2c9d654a

to the

[2015-12-29 20:00] rafaelfranca commented on #22835
I don't think it is a good idea. What should be the behavior? If the original parameter is already permitted should the permit flag be maintained or should it be set to false so users should permit again?

If it is the former we may introduce security problems.

[2015-12-29 20:01] eileencodes commented on #22834
@jcoyne Yup, the plan is to release Turbolinks 5 with Rails 5.

[2015-12-29 20:01] rafaelfranca commented on #22834
Yes, it will, or at least it should. If not we will backport, but that is not priority right now.

[2015-12-29 20:03] jcoyne commented on #22834
I was unaware that Turbolinks 5 existed.  For anyone else who's looking, you can find it here: https://github.com/basecamp/turbolinks/tree/v5

[2015-12-29 20:08] jcoyne commented on #22835
Okay, It does work if I pass `params: params.to_unsafe_h`, I was just hoping there'd be a way to write this so that it would work for Rails 4 and 5.

[2015-12-29 20:08] #22835 closed

[2015-12-29 20:14] #22818 closed

[2015-12-29 23:12] Ferdy89 opened #22836 "Docs in "Configuring ActionController" are outdated"
The docs have a [section to describe how to configure `ActionController`](http://guides.rubyonrails.org/configuring.html#configuring-action-controller) where it says:
[code]
That actually throws a deprecation warning because the correct approach now is `config.action_dispatch.default_charset`

[2015-12-29 23:33] dcromer opened #22837 "New Rails 5 app won't "Welcome Aboard!"; 500's instead"
I'm excited about Rails 5 and want to play around with it, but I'm unable to even view the "Welcome Aboard!" page you should see when generating a new rails app.  Instead, I get a 500 error, and the only line in the logs is:

`Started GET "/" for 127.0.0.1 at 2015-12-29 15:21:01 -0800`

There are no other log messages whatsoever.

**Reproduce**

I am on OSX El Capitan, and have tried on Ruby 2.2.2

[2015-12-29 23:47] zerobatu opened #22838 "table name error"
Hi
I have this model:

class ConsultantInterview::Report < ActiveRecord::Base
  mount_uploader :document, GenericReportStageUploader

  after_commit :touch_enrollment, on: [:create, :update]
  belongs_to :consultant_interview_stage,
             class_name: ConsultantInterview::Stage,
             foreign_key: :consultant_interview_stage_id

  validates :document, presence: true
  validates :obser

[2015-12-30 00:44] maclover7 commented on #22838
Can reproduce this locally. I think the issue here is that ActiveRecord is getting the table name `reports` from the ConsultantInterview::**Report** part of ConsultantInterview::Report. Not sure if this is intended behavior or not. If you want to investigate further it looks like the table_name method is defined [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/model

[2015-12-30 00:56] rafaelfranca commented on #22838
That is the expected behavior. The table name doesn't take the module namespacing in consideration.

[2015-12-30 00:56] #22838 closed

[2015-12-30 00:59] rafaelfranca commented on #22838
You can find about that in the `table_name` documentation. http://api.rubyonrails.org/classes/ActiveRecord/ModelSchema/ClassMethods.html#method-i-table_name

[2015-12-30 01:04] maclover7 commented on #22837
Weird -- just ran the following commands and didn't get any errors when going to '/':

[code]

It's possible that when you were generating a Rails app, that you didn't add the `_5.0.0.beta1` to the command. This specifies that you want to use the Rails 5.0.0.beta1 command line interface.

[2015-12-30 01:10] rafaelfranca commented on #22837
Yes, exactly that. RubyGems doesn't let you activate a pre release unless you explicitly ask to. And to do so you need to use the `_VERSION_` in the command.

[2015-12-30 01:10] #22837 closed

[2015-12-30 01:24] rafaelfranca commented on #20567
Is it still reproducible with Rails 5.0.0.beta1?

[2015-12-30 01:34] rafaelfranca commented on #13851
Closing since ActionController::TestCase is deprecated in favor of `ActionDispatch::IntegrationTest` and it doesn't have this problem.

[2015-12-30 01:34] #13851 closed

[2015-12-30 01:36] rafaelfranca commented on #22606
Does it work like that in Rails 4.2?

[2015-12-30 01:39] #20095 closed

[2015-12-30 01:40] dcromer commented on #22837
Excellent!  Thank you, @maclover7 @rafaelfranca

[2015-12-30 02:44] cllns opened #22839 "Deprecation warning for time_zone_aware_types (<<)"
In [time_zone_conversion.rb](https://github.com/rails/rails/blob/08780eff79f93f5741dc80fb1fb1a091b9a9c94e/activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb) it says:
[code]
Which is something that all users who have a `time` field will see.

If you do this, you get an error:
[code]
Because that key doesn't exist by default in the base `application.rb` config.

One easy solut

[2015-12-30 04:47] jcoyne opened #22841 "AC::Parameters#to_unsafe_h does not deep dup"
[code]

I would think you'd get back `{'"f"=>{"language_facet"=>["Tibetan"]}}`, right?

[2015-12-30 06:29] odedniv commented on #20567
I don't know, not using Rails 5, but it's just one line in the console to check.

[2015-12-30 06:33] rafaelfranca commented on #20567
Please, be my guest to try it and report back.

On Wed, Dec 30, 2015, 04:29 Oded Niv <notifications@github.com> wrote:

[2015-12-30 06:36] prathamesh-sonpatki commented on #20567
This works on Rails 5

[code]

[2015-12-30 07:50] #22836 closed

[2015-12-30 07:52] #22827 closed

[2015-12-30 09:10] pacMakaveli opened #22846 "undefined method `clean' for #<Hash> 5.0.0.beta1"
Hello!

Sorry if this has been reported already, I did search with no luck.
Anywho..

Rails 5.0.0.beta1 gives this undefined method instead of, I'm guessing, what should be ```undefined method for nil```

[code]

The problem is that Devise doesn't sign me up and thus there is no current_user, but I would expect the `@user` to return nil, instead of this cryptic error.

[code]
[code]
[code]

This i

[2015-12-30 09:25] prathamesh-sonpatki commented on #22841
I think it is happening because we have not `permitted` any params

[code]

This works when we permit the params.

[2015-12-30 09:27] prathamesh-sonpatki commented on #22841
Another interesting thing that I observed was

[code]

And when we access `foo['f']` then we start seeing empty hash as return value. Check below sequence -

[code]

I did not get why it's working like that :)

[2015-12-30 12:34] mintuhouse commented on #6591
I am able to reproduce it on 4.1.13
using postgres and passing the time from browser as string in format "2015-12-30 4:58 PM"

[2015-12-30 13:13] jcoyne commented on #22841
@prathamesh-sonpatki  you are right. If you permit the params they are returned from `to_unsafe_h` I assumed the method would return *all* params even those that are not permitted because the method documentation says:

whereas the documentation for AC::Parameters#to_h says:

In any case, accessing the values should not change the output of `to_unsafe_h`

[2015-12-30 13:30] prathamesh-sonpatki commented on #22841
@jcoyne I think we will have to fix documentation of `to_unsafe_h`. Let somebody from core team confirm.

[2015-12-30 13:34] jcoyne commented on #22841
@prathamesh-sonpatki negative. I really need a way to get at *all* parameters. My inclination is to fix to_unsafe_h to match the documentation.

[2015-12-30 13:36] prathamesh-sonpatki commented on #22841
oh ok. I got what you are trying to say. `unfiltered & unsafe` :)

[2015-12-30 13:38] prathamesh-sonpatki commented on #22841
We need to fix this case. Otherwise `to_unsafe_h` works as expected.

[2015-12-30 13:50] ffmike opened #22847 "quoted_id failing"
Rails 4.2.5:
[1] pry(main)> r = Restaurant.first
[2] pry(main)> r.quoted_id
=> "2"

Rails 5.0:
[1] pry(main)> r = Restaurant.first
[2] pry(main)> r.quoted_id
NoMethodError: private method `quote_value' called for #<Class:0x007f801cb24ca8>
Did you mean?  quote_bound_value

quoted_id is marked "# TODO: Deprecate this" in sanitization.rb, but it's still called internally in connection_adapters/abstra

[2015-12-30 14:54] rafaelfranca commented on #22846
It is a bug in the `meta_request` gem that is initializing the ExceptionWrapper wrongly https://github.com/dejan/rails_panel/blob/master/meta_request/lib/meta_request/middlewares/app_request_handler.rb#L16

[2015-12-30 14:54] #22846 closed

[2015-12-30 15:04] rafaelfranca commented on #20567
Thanks for confirming. I'm closing this issue because it is already fixed in Rails 5. We can't fix in Rails 4.2 because it would need to change how the security protection of Rails 4 and it would be dangerous to do in a stable release.

[2015-12-30 15:04] #20567 closed

[2015-12-30 15:40] kddeisz commented on #17011
Should have looked here first, but I also worked on this:
https://github.com/rails/rails/compare/master...kddeisz:fix_polymorphic_different_classes_where?expand=1

Not sure if my work is helpful to you @phuibonhoa but I figured I'd put it here/bump this issue anyway.

[2015-12-30 16:54] jcoyne opened #22852 "respond_to with empty block should raise MissingTemplateError if no template exists for that format."
In Rails 4.2.5 if I do nothing in a respond to block and there is no template for that format, I get a `ActionView::MissingTemplate` error.  In Rails 5.0.0.beta1, no error is thrown, and the server returns a 500 error.  No stacktrace is in the log.

## Setup
[code]

## Test
In Rails 5.0.0.beta1
[code]
No HTML page is returned.

In Rails 4.2.5
[code]
This HTML shows the error and the stack trace. T

[2015-12-30 17:03] rafaelfranca commented on #22852
As far I remember this is by design (see https://github.com/rails/rails/pull/20831). The error page is now presented in the same format that it was requested if you are using Rails API. But, the exception should in the log, so that is a bug indeed

[2015-12-30 17:03] jcoyne commented on #22832
I don't think this is something that necessarily has to be fixed. I just seemed a bit odd. I'll close. Reopen if you think it's important.

[2015-12-30 17:08] rafaelfranca commented on #22832
In fact it should raise an exception like we do in others case. It seems to be a missing case of https://github.com/rails/rails/pull/20797

[2015-12-30 17:13] jcoyne commented on #22852
It looks like requesting the HTML page in Rails 5.0.0.beta1 also doesn't give an error message.  The HTML that is rendered says simply:

Nothing useful is in the logs indicating a missing template.

[2015-12-30 17:16] shakycode commented on #22852
@jcoyne I am able to duplicate the same behavior with 5.0.0.beta1 and Ruby 2.2.3 in development.

[2015-12-30 17:24] mtparet commented on #22601
Using git bisect the first bad commit is https://github.com/rails/rails/commit/c99bea1df015eeff4764e2d886de90620ab9fb67

[2015-12-30 17:33] jcoyne commented on #22852
I did some further testing and this particular error only shows up when I upgrade a 4.2.5 app to 5.0.0.beta1.

In an application generated by `rails _5.0.0.beta1 new` I get this in the logs:

[code]

But shouldn't this raise an error? Rather than very quietly succeeding?

[2015-12-30 17:36] jcoyne commented on #22852
I guess this is the expected behavior per https://github.com/rails/rails/commit/6c165773117dc7e60f5bb4762e58c7c522d69fcc

[2015-12-30 17:41] jcoyne opened #22853 "Unknown format should return 404 rather than 204"
In Rails 5.0.0.beta1.  When I have a PiratesController, with a show action and I run:
[code]
It seems that a 404 response is more appropriate in this case.

[2015-12-30 17:42] jcoyne commented on #22853
@spastorino I think this was changed as a result of your changes in #19832.  Would you care to comment on the desired behavior?

[2015-12-30 17:50] rafaelfranca commented on #22853
Actually this is due to https://github.com/rails/rails/issues/19036 and this is a dup of https://github.com/rails/rails/issues/20666

[2015-12-30 17:50] #22853 closed

[2015-12-30 19:44] #22852 closed

[2015-12-30 20:34] maclover7 commented on #22847
Am not able to reproduce on master -- here's a script I used:

[code]

[2015-12-31 01:08] cllns opened #22862 "Guide issue: 'Functional Tests for your Controllers'"
The section for ['Functional Tests for your Controllers'](http://edgeguides.rubyonrails.org/testing.html#functional-tests-for-your-controllers) contains an issue if the user is working with their code from the 'Getting Started' guide.

The text supports creating the tests from:
1. the `scaffold_controller` generator
2. the `test_unit:scaffold` generator, which adds only testing scaffold.

Case **1

[2015-12-31 03:42] #22773 closed

[2015-12-31 04:30] #22231 closed

[2015-12-31 04:40] prathamesh-sonpatki commented on #22231
Fixed by https://github.com/rails/rails/commit/7e583b73c4e7ddad2241b2ca05b3c16a5fdf0cc6

[2015-12-31 04:53] rafaelfranca commented on #18146
Yes. It is

[2015-12-31 05:04] #12872 closed

[2015-12-31 06:38] elpdspec opened #22865 "raise_in_transactional_callbacks = true does not work in rspec and rails c --sandbox"
Just added the option `raise_in_transactional_callbacks = true` and it is working in the rails c. But in rails c --sandbox and also when running a spec with rspec, I don't get an expection. Is that the expected behavior ?

[2015-12-31 06:42] rafaelfranca commented on #22865
Yes, it is. You `after_commit` callbacks never run in sandbox (because all commands are wrapped in a transaction) and in rspec too (since every test is wrapped in a transaction).

[2015-12-31 06:42] #22865 closed

[2015-12-31 08:04] #22841 closed

[2015-12-31 08:57] prathamesh-sonpatki commented on #22839
I think according to current code

[code]

Should be changed to

[code]

But it might not be original intent as we want to allow user to handle this situation using `config.active_record.time_zone_aware_types`.

[2015-12-31 11:32] jeroenvisser101 opened #22867 "Missing documentation on manifest.js"
As far as I can see, documentation is missing on the `config/initializers/assets.rb` file, since this part:

[code]

seems obsolete by the introduction of Sprockets 4 and `manifest.js`.

[2015-12-31 12:02] ashishbista opened #22868 "ActionCable stuffs on API-only apps"
I created an API app with Rails 5.0.0.beta1. I can see that ActionCable stuffs inside `app/channels` directory, even after passing `--skip-action-cable` option. It also gets loaded in `rails console`. For my project, I don't want ActionCable at all. I believe that this would the case for many API-only apps.

[2015-12-31 12:06] ashishbista opened #22869 "--skip-action-cable option is not working"
Passing `--skip-action-cable` or `-C` option when creating a new Rails app does not skip ActionCable for Rails 5.0.0.beta1.

[2015-12-31 12:07] matthewd commented on #22868
I'm believe this is already fixed on master.

[2015-12-31 12:07] #22868 closed

[2015-12-31 12:15] matthewd commented on #22869
https://github.com/rails/rails/issues/22868#issuecomment-168183688

[2015-12-31 12:15] #22869 closed

[2015-12-31 13:58] KeithP opened #22871 "error when deployed: "Error during WebSocket handshake: Unexpected response code: 404""
When attempting to deploy the simple chat example https://github.com/HectorPerez/chat-in-rails5
to a single EC2 instance on AWS we get 'Error during WebSocket handshake: Unexpected response code: 404'. This works locally with RAILS_ENV=production but fails when deployed.

<strong>Steps to reproduce:</strong>

1) Clone https://github.com/HectorPerez/chat-in-rails5

2) Add redis install script by ad

[2015-12-31 18:14] matthewd commented on #22839
The warning should be corrected to use an assignment. AFAICS, even if you could do the append, it wouldn't make the message go away.

[2015-12-31 20:12] cdurante commented on #9679
Bump. Similar issue, using first_or_create in Rails 5betaTrying to create new record from hash of attributes which includes an ```hstore``` column.

*My code:*
Attribute hashes:

[code]

*Then doing a batch first or create on those hashes:*

[code]
**The SQL that is generated has the ```hstore``` attribute listed as a separate table instead of a column.**

[code]

**Resulting in the following ```A

[2015-12-31 20:20] cdurante opened #22876 "Psql confused by hstore attribute in 'WHERE' clause"
using Model.where(model).first_or_create in Rails 5beta. Trying to create new record from hash of attributes which includes an ```hstore``` column.

*My code:*
Attribute hashes:

[code]

*Then doing a batch first or create on those hashes:*

[code]
**The SQL that is generated has the ```hstore``` attribute listed as a separate table instead of a column.**

[code]

**Resulting in the following ```A

[2015-12-31 21:14] matthewd commented on #18146
No; we have the infrastructure to do it, but my PR didn't change the current defaults on `t.references`.

[2015-12-31 21:38] spastorino commented on #20666
I can tackle this one.

[2015-12-31 22:38] lohqua opened #22878 "Rails 5.0.0.beta1 When creating a new app, Spring can't be executed"
rails new my_app
    ...
    run  bundle exec spring binstub --all
    bundler: command not found: spring

I manually ran it

      bundler: command not found: spring
      Install missing gem executables with `bundle install`

The spring file is in ruby/bin/.

It worked when I manually ran it with the full path

      * bin/rake: spring inserted
      * bin/rails: spring inserted

[2015-12-31 23:43] lohqua opened #22879 "Rails 5.0.0.beta1 exiting rails console issue"
ctrl-c looks like it exited to bash but did not. Any bash command throw rails errors.

Typing exit works after 10 seconds(not always) with this message ERROR -- : Couldn't cleanly terminate all actors in 10 seconds!

Also, rails console doesn't automatically make a connect to postgres. I have to type ModelName.connection to force it to connect.

[2016-01-01 01:15] maclover7 commented on #22879
Can you please provide a sample application that reproduces the error?

[2016-01-01 03:56] iguchi1124 opened #22880 "Rails 5.0.0beta1 has a wasted space at cable.coffee."
It is existing at cable.coffee first line.

[2016-01-01 04:05] iguchi1124 commented on #22880
Created PR #22881

[2016-01-01 04:07] #22880 closed

[2016-01-01 05:46] prathamesh-sonpatki commented on #22876
We can't query hstore columns the same way as other attributes. We have to use the hstore query synatx from here - http://www.postgresql.org/docs/current/static/hstore.html.

May be we should mention it in guides here - http://edgeguides.rubyonrails.org/active_record_postgresql.html#hstore ? cc @senny

[2016-01-01 06:19] prathamesh-sonpatki commented on #22832
@rafaelfranca Do you mean without calling `parameters.permit!`, if we call `Rails.application.routes.url_helpers.root_path(parameters)` it should raise error?

[2016-01-01 17:13] ffmike commented on #22847
False alarm. The actual issue, for anyone else who hits this, is in acts_as_taggable_on. I'll take it up with them.

[2016-01-01 17:13] #22847 closed

[2016-01-01 17:15] rafaelfranca commented on #22847
Thank you for confirming.

[2016-01-01 17:19] rafaelfranca commented on #22847
BTW, that method is not public API. It was made public API by mistake in https://github.com/rails/rails/commit/539b69e0. Due to it being dangerous I don't recommend to override it.

[2016-01-01 17:21] ffmike commented on #22847
Yeah, I wasn't. The problem is that the current acts_as_taggable_on alpha overrides quote_value to be private so that the call from quoted_id, which is called from elsewhere in activerecord, fails.

[2016-01-01 17:25] rafaelfranca commented on #22847
I see. Yeah, that is fine :+1:

[2016-01-01 17:40] rafaelfranca commented on #22879
That is expected. It doesn't connect until you explicitly ask to, or you do any database operation.

[2016-01-01 17:42] rafaelfranca commented on #22832
Yes. We expect users to filter the parameters before passing to url helpers.

[2016-01-01 18:52] lalithr95 opened #22884 "Error when starting rails server"
There was a problem when I start the server
'rails s' throws me with following error
[code]
bundle install works
Mysql 5.7.10 installed through brew
Rails 4.1.7
mysql2 gem 0.3.16

[2016-01-01 18:54] rafaelfranca commented on #22884
That looks like an error in your mysql2 gem installation.

[2016-01-01 18:54] #22884 closed

[2016-01-01 19:28] lohqua commented on #22879
Been using Rails since 1.2 and that has *never* been the case. I could just do ModelName.find 2 and it would work.

[2016-01-01 19:29] rafaelfranca commented on #22879
That is still true.

[2016-01-01 19:33] lohqua commented on #22879
rails new my_app
cd my_app
rails c
ctrl-c
type anything, say ls

This with Linux, more specifically open suse 42

[2016-01-01 20:31] matthewd commented on #22884
Update to Rails 4.1.14

[2016-01-01 21:59] #22413 closed

[2016-01-02 04:58] lo-tp opened #22886 "After Changing Columns of Model, Fixture Is Not Working Well"
**Environment**
- ruby 2.2.3p173
- Rails 4.2.4

**Description**

We can use `rails g migration ...` to change columns of a model.
However, fixture is not updated properly in accordance with this kind of change.

This will lead to errors that would be very hard to track.

**How to replicate this kind of problem**

1. `rails g model food name:string number:integer`.
1. `rake db:migrate`.
1. `rake db

[2016-01-02 05:25] gokulnath commented on #22879
Rails console doesn't exit on typing ctrl-c normally.
In my ubuntu 14.04 using 5.0.0.beta1 it doesn't exit (same as for 4.2.5). And I saw the same behavior in SUSE Linux Enterprise Server 12 in AWS.

Or did you use ctrl-z, which is supposed to push console into background, but have the issues you just raised.

[2016-01-02 06:50] sevenseacat commented on #22886
I think that's to be expected. if you change your table structure, you have to then change everywhere else that uses that table structure.

[2016-01-02 07:23] lo-tp commented on #22886
@sevenseacat , your point is reasonable. However, I think the better way is to let rails tackle all these tasks automatically. There're two reasons for my argument

**Firstly, It's very achievable**
What we need to do is just to add two callback to the `rails g migration` command when it is used to rename or delete a column, then change the fixture file properly. It's not a hard job.
**Secondly, I

[2016-01-02 07:37] sevenseacat commented on #22886
It's not very achievable. Because once you start changing fixture files based on migrations, then you'll want to change model files, and view files, and controller files, and everything else that may reference the old field name too.

[2016-01-02 07:39] rafaelfranca commented on #22886
@sevenseacat is right. Even if achievable we don't plan to add this level of complexity in generators.

[2016-01-02 07:39] #22886 closed

[2016-01-02 17:57] drewhamlett opened #22893 "Host constraint not working until I modify routes file. Rails 4.2.2"
I have an issue with host constraint.

I made a youtube video to possibly show the problem a little better

https://youtu.be/pA0JuqJfj9c

Basic gist is

I start up the server.
I go to localhost:3000
It renders the dashboard#index route
I then go to residentsurveys.localhost
It renders the home#index method in the resident_surveys_co module.  This is located in controllers/resident_surveys_co/home_

[2016-01-02 20:06] matthewd commented on #22893
http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#when-constants-aren-t-missed

[2016-01-03 00:23] oleander opened #22897 "Data send using actioncable is only accessible on page reload"
**Complete example:** I've create a failing example here with instructions on how the bug (?) can be reproduced and how the server is set up: https://github.com/oleander/rails-5-action-cable-fail

**Problem:** When data is pushed to the client at the same time the user loads a page, no data is received right away. Instead the data appears when the page reloads.

**Short example:** Here we first pu

[2016-01-03 00:36] mvastola opened #22898 "Params wrapper should come before instrumentation [...]"
As of the most recent change to the file (8e489db9dee1f4cfb0c3a259bd59626d86eacb07), lines 239-246 of [actionpack/lib/action_controller/base.rb](https://github.com/rails/rails/blob/8e489db9dee1f4cfb0c3a259bd59626d86eacb07/actionpack/lib/action_controller/base.rb#L239)  constitute the end of the list of the modules included (in order) into `ActionController::Base`.

The contents of these lines are

[2016-01-03 00:39] mvastola commented on #22898
`Blame` points to @josevalim and @jstorimer as modifying the lines of code in question in `base.rb` and @jmbejar as doing so in `api.rb`, so I am tagging them all in case any of them can offer insight into the best way to address this issue for the code they contributed/worked on.

[2016-01-03 02:18] drewhamlett commented on #22893
Oh wow ok thanks!  But how does that explain everything working after I change the routes file.  If it doesn't auto load the correct ApplicationController on startup then why does it do it after changing a file?

[2016-01-03 09:54] davidwessman commented on #21083
Should you delete all the examples or write new ones with the `owner object` as parameter instead?

[2016-01-03 10:29] unfunco commented on #22879
@lohqua – both Rails 4.2.5 and 5.0.0 exhibit the same behaviour with `ctrl-c` in `rails console`, you can use `ctrl-d` to send an an end of input signal and return to your prompt.

[2016-01-03 10:30] mrj commented on #21083
The examples should cover the range of possibilities, each explained in the text.

I've been delaying making the PR until I confirm whether the blocks are executed in the context of the owner objects, meaning that owner-object parameters are unnecessary.

[2016-01-03 12:54] lo-tp opened #22902 "Validating doesn't stop even if one validation failed"
In the validatng process of Model, rails will run every validation even if the previous validation failed.

That's not the expected behavioral. Rails should stop validating the data when one validation failed.

**How to Replicate**

- Run `rails g Model test time_record:datetime`
- Run `rake db:migrate`
- Edit app/models/test.rb to add two validations like this
[code]
- Edit test/models/test_test.

[2016-01-03 13:08] sevenseacat commented on #22902
No, that's not expected behaviour. You should write your validations to only run if applicable, eg. don't run the "after 2015" validation if there is no time present at all.

[2016-01-03 13:25] lo-tp commented on #22902
@sevenseacat
You mean change *time_should_be_after_2015* in this way?

`errors.add(:time_record,'Time is earlier than 2015') unless self.time_record&&self.time_record > dt2015`

This is to merge two separate validations to a single one. I don't think this is a good way to do the validation

[2016-01-03 13:35] sevenseacat commented on #22902
It doesn't merge two validations into one. If there is no time present, your `time_should_be_after_2015` would not add a validation error to the record.

Think of filling out a form and getting multiple validation failures. Would you want to be shown them one at a time, or all at once?

[2016-01-03 13:46] lo-tp commented on #22902
@sevenseacat
I have to confess that under the circumstance of the absence of time_record,`time_should_be_after_2015` wouldn't add a another validation error.

Maybe you are right...LOL.

[2016-01-03 13:51] #22902 closed

[2016-01-03 22:54] fschwan opened #22905 "config.assets.precompile array and ruby 2.3.0"
I've just tried to create a new rails 4.2.5 project with ruby 2.3.0.
The behaviour of the
[code]
array changed somehow. Before Ruby 2.3.0 I used this one
[code]
to include all assets that I place in the pages subfolder (to use one asset file per page).
When I try to use this with Ruby 2.3.0, Sprockets complains about a
[code]
error which says, that assets in the pages subfolder were not being prec

[2016-01-04 04:08] maclover7 commented on #22905
cc @schneems

[2016-01-04 07:52] senny commented on #22876
@prathamesh-sonpatki yes. We should also expand the example in the guide to show how you'd query an hstore column. Do you want to work on that?

[2016-01-04 08:12] prathamesh-sonpatki commented on #22876
@senny Yes. I will work on it.

[2016-01-04 08:46] jlecour opened #22907 "em-hiredis dependency conflict with ActionCable"
Hi,

Thanks to the Rails team for the huge work on this `5.0.0.beta1`. It looks awesome and I can't wait to use it. Being a beta, it has some rough spots and here is one that is bothering me.

* Rails 5 depends on ActionCable, which depends on `em-hiredis (~> 0.3.0)` which depends on `hiredis (~> 0.5.0)` which is kind of old (a `0.6.x` has been released on February 8, 2015).
* I've been using `hir

[2016-01-04 09:27] mityaz opened #22908 "ActionCable and posting to channel from ClientSide"
Hi,

While investigating the codebase for ActionCable I spotted a method [#send](https://github.com/rails/rails/blob/master/actioncable/lib/assets/javascripts/action_cable/connection.coffee#L11]). It wraps websocket's `send` method. Does that mean that we are able to post to channel from the client side as well, not only through the server side? Can it be a potential security abuse?
I could not fi