[2015-08-06 16:29] jbodah opened #21146 "Calling require in initializer before app eager load causes constant warning"
Haven't been able to dig too deep. Changing [Rails::Engine#eager_load!](https://github.com/rails/rails/blob/v4.2.3.rc1/railties/lib/rails/engine.rb#L472) to use [require](https://github.com/rails/rails/blob/v4.2.3/activesupport/lib/active_support/dependencies.rb#L272) fixes the issue. Also hacking the initializer to use [require_dependency](https://github.com/rails/rails/blob/v4.2.3/activesupport/

[2015-08-06 16:42] rafaelfranca commented on #21146
cc @matthewd @fxn

[2015-08-06 18:30] thinkalike-dev opened #21147 "Invalid SQL is generated when calling .count on GROUP BY with HAVING clause"
Hello,

When we call .count on this ActiveRecord scope, it throws this invalid SQL exception: `PG::SyntaxError: ERROR:  syntax error at or near "AS"`. Here is the code that demonstrates this issue:

[code]

This is the SQL that is generated by the ruby code above:

[code]

Whereas the correct SQL should be

[code]

Any thoughts on why the invalid SQL is produced ?

Thanks,
Alex

[2015-08-06 19:13] eiked opened #21148 "uniq does not include joins columns in the select'ed columns (needed for sorting)"
I have a simple query on a model.
I now want to joins() this with another table.
I want to order on the joined columns.
This works perfect so far.

But if I add uniq, it fails: postgres says:
SELECT DISTINCT, ORDER BY expressions must appear in select list

As of my current understanding of the problem,
not using uniq just selects *
but applying uniq does include select clauses for every column in

[2015-08-06 20:20] #21119 closed

[2015-08-06 20:36] #20510 closed

[2015-08-06 20:38] #21082 closed

[2015-08-06 23:00] manlon commented on #21113
@pixeltrix I don't think the problem is restricted to descendants of abstract classes. If the model classes each establish_connection on their own you hit the same issue.

What about explicitly connecting after constructing the join model?:
[code]

[2015-08-07 00:26] matthewd commented on #21147
Is there documentation somewhere that mislead you to believe you could/should include a full HAVING clause in the argument to `group`? Because.. [you shouldn't](http://api.rubyonrails.org/classes/ActiveRecord/QueryMethods.html#method-i-having).

[2015-08-07 00:26] #21147 closed

[2015-08-07 00:47] matthewd commented on #21113
@manlon yeah, that sounds best. Are you able to make a PR with that + a test?

[2015-08-07 01:07] repinel commented on #19880
As @pixeltrix suspected, I bisected and confirmed it was caused by d25fe31c40928712b5e08fe0afb567c3bc88eddf.

@rafaelfranca Do you see a way of running the hooks when inherited without losing the lazy loading feature?

[2015-08-07 07:33] damoiser opened #21157 "has_many wrong pluralisation with "f" and "v""
I have discovered a bug when using the ```has_many``` with a name that ends with ```ves```, let me write an example:

Class definition
[code]

In this case, when trying to access to the ```LocalDrive``` model, I receive the following error:

[code]

Please note the change from ```LocalDrive``` to ```LocalDrife```.

If I explicitly define the ```class_name``` attribute

[code]
The error disappears,

[2015-08-07 07:45] matthewd commented on #21157
You want to define a custom inflection in [`config/initializers/inflections.rb`](http://api.rubyonrails.org/classes/ActiveSupport/Inflector/Inflections.html).

[2015-08-07 07:45] #21157 closed

[2015-08-07 08:02] damoiser commented on #21157
thanks @matthewd for your fast reply!

I think that this is a rollback. We are updating our rails app from 3.2 to 4.2 and before we didn't have this bug.

Anyway, your solution with the inflections works well.

[2015-08-07 09:39] pascalbetz commented on #21140
I would not want my migrations to be run automatically. Manipulating the DB is something which i want to be in control of.

[2015-08-07 09:41] artofhuman commented on #21140
@pascalbetz :+1:

[2015-08-07 13:18] rafaelfranca commented on #21140
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-08-07 13:18] #21140 closed

[2015-08-07 13:19] rafaelfranca commented on #21140
Yeah. I agree with @pascalbetz

[2015-08-07 15:40] shepmaster commented on #20602
An alternate workaround is to use the name of the column, instead of the name of the association:

[code]

[2015-08-07 16:02] jmbejar commented on #21067
@pixeltrix I'm not sure if we should add a stub method here instead of having Devise asking for the method presence before invoking (as discussed [here](https://github.com/rails-api/rails-api/pull/10) in the past).

Thinking about the need for this fix: I understand that this exception happens when the user browse any of the Devise's routes, however using those routes are valid for the user authen

[2015-08-07 18:28] manlon commented on #21113
Using `establish_connection` turns out not to be easy since it makes another connection concurrently accessing the DB, which sqlite doesn't like. I tried a few options but ended up overriding `retrieve_connection` in the generated class. Is this safe?

[2015-08-07 20:28] al2o3cr commented on #21148
Feature requests are not typically accepted as issues; if you'd like to propose something try the rails-core mailing list.

Regarding your particular case, can you be more specific about the models you're using and the SQL you're expecting to generate? It's impractical to debug without more information.

[2015-08-07 20:50] miguelgraz commented on #20338
Okay so the current PR-candidate to fix this has an issue with chained `offset` clause, not sure on how to fix this but we already raised some discussion on if it should be supported/handled by ActiveRecord or if it should have a simpler approach and just let the database handle the `offset`.

If anyone would like to review here's [my last comment](https://github.com/rails/rails/pull/20453#issueco

[2015-08-07 20:53] rafaelfranca commented on #20612
https://github.com/rails/rails/pull/21161

[2015-08-07 22:09] jfelchner opened #21168 "ParamsParser doesn't parse the new JSON API content type"
I'm not sure if this belongs in the MIME types gem or here so if it belongs elsewhere just let me know.

The new JSON API content type is `application/vnd.api+json`.  Which can be parsed just fine with the [current parser](https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/middleware/params_parser.rb#L17-L21) in `ParamsParser`.  Unfortunately when [the MIME type is parsed](h

[2015-08-08 07:16] claudiob commented on #21122
@repinel If I remember correctly, the reason why that code looks complex and repetitive is for performance reasons, the last of which was probably https://github.com/rails/rails/issues/18011

It seems strange to think that those conditions are always skipped, and no test covers them…
but I can’t guarantee it without delving more into the code.

Could you provide more details? Do you have any test

[2015-08-08 07:31] claudiob commented on #21136
@mfazekas I was able to reproduce the error.

It’s caused [by this regex](https://github.com/flavorjones/loofah/blob/master/lib/loofah/html5/scrub.rb#L70) in the loofah codebase:

[code]

It looks like Ruby gets stuck when trying to parse your string against that regular expression.

In fact, to reproduce the error, you don’t even need to install Rails or Loofah, simply open a Ruby session and typ

[2015-08-08 07:32] notrab commented on #1769
@philipgiuliani I'm sure you'll discover, judging by the comments above, there isn't any easy way to do this without polluting other classes within Rails for this behaviour.

The workaround is quite simple and to be honest, I don't see a problem. Throw it in the docs and just be done with it. Adding `url: ` to the form declaration isn't so hard work for singular routes.

😴

[2015-08-08 07:34] claudiob commented on #21136
More details: looks like the regular expression was last changed in https://github.com/flavorjones/loofah/commit/37e5011033c5aafb0f2aee12a0b66f0058f34235 by adding a `-` sign.

If you remove that `-` sign, then Ruby does not get stuck in trying to parse the string:

[code]

[2015-08-08 07:36] claudiob commented on #21136
And this is what [the message for that change](https://github.com/flavorjones/loofah/commit/ca618fc5f8e6ba146e2d4731c0361368c4b464b2) by @joncalhoun  says:

Unfortunately, the previous URL returns a 404 Not Found.

[2015-08-08 10:01] kevin-jj opened #21171 "link_to helper method with remote option causes uncaught error in jquery side"
Rails 4.3.2
Jquery 1.11.2

[code]

google developer shows  "Uncaught Error: Syntax error, unrecognized expression: /addresses/new"

[2015-08-08 15:16] rafaelfranca commented on #21171
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-08-08 15:16] #21171 closed

[2015-08-08 16:37] jasnow opened #21172 "Getting middleware class DEPRECATION WARNINGs using edge rails"
Getting the new **middleware class "DEPRECATION WARNING"** message (see full message at bottom of this write-up) for four patterns.

 *  1) (4 times) "::ActionDispatch::Callbacks" => ActionDispatch::Callbacks
 *  2) (2 times) "ActiveRecord::QueryCache" => ActiveRecord::QueryCache
 *  3) (2 times) "ActiveRecord::ConnectionAdapters::ConnectionManagement" =>
     ActiveRecord::ConnectionAdapters::Con

[2015-08-08 16:43] rafaelfranca commented on #21172
The fixes are pretty simple and you already spot the right files. Do you want to send the patch? I can do myself but since you already did almost all the work I think it is a great first contribution :wink:

[2015-08-08 17:47] repinel commented on #21122
@claudiob The two test cases from https://gist.github.com/repinel/93ab39881825d913466d might illustrate my point. Using the `master` code, I don't see how one call run the callbacks without a terminator defined since there is a default. That goes against this [line](https://github.com/rails/rails/blob/3a7609e2bafee4b071fe35136274e6ccbae8cacd/activesupport/lib/active_support/callbacks.rb#L751).

If

[2015-08-08 20:54] gringocl commented on #21172
I was playing around with the edge release and got bored of seeing these warnings!!!

[2015-08-08 20:57] claudiob commented on #21122
I ran the tests… added breakpoints… and now I see it! :eyes:

In short, `chain_config.key?(:terminator)` can never be false, because if the user does not provide a terminator, we set a default one before reaching the code.

So… I think you are right :ribbon:

[2015-08-09 00:11] jasnow commented on #21172
Never got the comment by @rafaelfranca . Thanks @gringocl . Verified fixed.

[2015-08-09 00:11] #21172 closed

[2015-08-09 05:55] kaspth commented on #21122
Wasn't there also a config option which preserves the old way of halting to smoothe the upgrade? Then we can't remove these just yet.

[2015-08-09 06:02] ahacop commented on #19084
@sbull Is this still a problem? Following the steps outlined here I could not reproduce the errors against master.

[2015-08-09 11:05] kaspth commented on #21136
Thanks for the report, @mfazekas, and nice digging, @claudiob :+1:

Yes, this seems to be a problem in Loofah: flavorjones/loofah#90.

[2015-08-09 11:05] #21136 closed

[2015-08-09 14:54] jeffdill2 commented on #21067
@jmbejar I can't speak for @ballPointPenguin but I plan on using Devise for token-based authentication. For me the error occurs simply when the app is initialized from `environment.rb`. However, it's not happening locally, only when I push to Heroku.

[2015-08-09 17:03] eiked opened #21178 "Improve includes() prefetches - add debug hints, explore automation"
When working with queries across multiple tables,
or when rendering datasets resulting from multiple tables,
it is very important to get the includes() right, to avoid the n+1 fetch problem.

Finding the missing includes() clauses however is not always easy.

I believe it could be possible to add some code to rails/ActiveRecord
to detect queries that would benefit from includes()

I believe this c

[2015-08-09 18:11] claudiob commented on #21122
@kaspth wow! Your memory is so much better than mine!!! :sparkler:

However, I think that @repinel might still be right. Even in case you set a value:

[code]

then the effect is that the default terminator has [a different behavior](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/callbacks.rb#L601-L605):

[code]

but that does not change the fact that **a terminator**

[2015-08-09 19:08] eiked opened #21179 "Enhance ActiveRecord:Relation by recording stack traces of invocations"
I'd like to suggest,
that in debug mode
The creation and invocations of an ActiveRecord::Relation query
should be tracked alongside that object (if so enabled for debugging)

As of today,
the query objects are created at some place in the code,
but are execued at some other place.
So if there's something wrong, this only pops up much later.

Looking at the stack trace from the invocation (of execu

[2015-08-09 19:25] eiked commented on #21179
I believe this can be done quite easily
by attaching a stack trace on every invocation.

I'm not sure how much memory that would eat.
But that would be fine for debugging things, if we need it.

Cross concern would be to record the history of objects.
So that they do remember where they came from and what they did.
(and who asked them to do that)

[2015-08-09 19:25] #21179 closed

[2015-08-09 20:34] kaspth commented on #21122
@claudiob all your memory are belong to me :ghost:

Great, let's cut them and those `chain_config.key?(:terminator)` checks which are always true, :+1:.

[2015-08-09 22:59] alexanderchr commented on #19517
I'm also experiencing this. Apparently #21117 as well.

I'm unable to reproduce this in an isolated environment, but i created a bare rails project which manifests the bug: https://github.com/alexanderchr/association-validation.

[2015-08-10 00:10] repinel commented on #21122
@claudiob @kaspth Something still doesn't feel right. One can only get the Rails 4 behavior without setting a terminator if the config option is set to `false`.

[2015-08-10 07:13] senny commented on #21178
Hey @eiked thank you for your suggestion. Would you mind posting it again to the [rubyonrails-core](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core) mailing list? We use the GitHub tracker for bug reports and code discussions exclusively. You can find more in our [contribution guidelines](https://github.com/rails/rails/blob/master/CONTRIBUTING.md).

Thank you for your understan

[2015-08-10 07:13] #21178 closed

[2015-08-10 07:21] senny commented on #21121
@PierreVannier updated. Thank you for reporting :yellow_heart:

[2015-08-10 07:21] #21121 closed

[2015-08-10 07:27] senny commented on #21044
I agree that the name could be better. The `ddl_` part was chosen to make it clear that this only affects adapters supporting ddl transactions. For example to a MySQL adapter user `without_transaction!` is not clear as there is no wrapping transaction.

:+1: on making the docs more clear. I'm not sure we have to change the name though.

/cc @rafaelfranca @carlosantoniodasilva

[2015-08-10 07:32] senny commented on #20755
Active Record needs a primary key to find and update records. If for some reason you don't want a PK in your single column, single row table, you can use raw SQL for your use-cases.

[2015-08-10 07:32] #20755 closed

[2015-08-10 08:29] senny commented on #20945
There is the [AWDwR test suite](http://intertwingly.net/projects/AWDwR4/checkdepot-42/) which catches a lot of regressions.

[2015-08-10 12:00] marudhupandiyang opened #21182 "What is the reason behind having 3000 has default port for rails instance ?"
I really want to know the reason behind assigning port 3000 for rails.
I also know i can assign it to any port i need and which is not used at the moment.
But if you can understand my question "What is the reason behind it".

Anybody ??

[2015-08-10 12:04] carlosantoniodasilva commented on #21044
I think the documentation on the [`ActiveRecord::Migration` module that talks about Transactional Migrations]http://api.rubyonrails.org/classes/ActiveRecord/Migration.html) explains better the intention of the method, including the "transaction wrapping". With this in mind, I'm leaning towards improving the method documentation a bit as well, rather than a method name change :+1:

[2015-08-10 12:06] matthewd commented on #21182
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-08-10 12:06] #21182 closed

[2015-08-10 13:56] jmbejar commented on #21067
@jeffdill2 I would like to reproduce the error so I can have some opinion about how to fix it. What Rails/Devise versions are you using?
If you can provide the app source - or maybe just the Gemfile - could help me to reproduce the error.

[2015-08-10 15:55] rafaelfranca commented on #20945
Well remembered. Is that sufficient? (But we need to get it green again, right now it is broken)

[2015-08-10 15:59] sgrif commented on #20945
While it's definitely a useful tool to have, I don't think it's sufficient for a few reasons:

- It isn't fully comprehensive (nor should it be expected to be)
- It isn't part of the standard Travis build
- If the test itself needs to be updated, we aren't able to do so
- Half of us don't know how to read the output

[2015-08-10 17:35] JohnMerlino1 opened #21185 "config.assets.debug = true suddenly stops working in development"
I have this bizarre behavior that I cannot even debug. Usually development is supposed to run slower than production. Not only is it now running extremely fast (the page loads instantly whereas it usually takes a little time), but it does not recognize my javascript code (it does recognize javascript outside of the assets/javascripts directory), unless I modify the javascript code and refresh page

[2015-08-10 17:54] rafaelfranca commented on #21185
What is the content of the `public/assets` folder?

[2015-08-10 17:55] fnando opened #21186 "ActionMailer's default subject doesn't use interpolation options"
ActionMailer tries to retrieve subject from i18n. So if I have a `Mailer` class, it will look at `en.mailer.<mail name>.subject`. The documentation states that you can pass in interpolation options by setting `:interpolations`. The problem is that these options aren't used at all.

Here's the line that calls `default_i18n_subject`: https://github.com/rails/rails/blob/6ac6daa43e1c5b7388f8fd69f8117e

[2015-08-10 18:51] JohnMerlino1 commented on #21185
There is nothing in public/assets folder, as I deleted it. Also I deleted everything in tmp. And the problem persisted. Here's the behavior: site responds very quickly (when it should not), and when I click on link on page that should trigger javascript, nothing happens. When I refresh page, then magically the javascript works. This just started happening today. I removed turbolinks from applicati

[2015-08-10 18:51] sockmonk commented on #16959
+1 for implementing where.exists as proposed.

[2015-08-10 19:09] rafaelfranca commented on #21185
Can you please provide a sample application that reproduces the error?

[2015-08-10 19:53] JohnMerlino1 commented on #21185
Unfortunately, the problem is so arcane that I don't know how to reproduce it. On Friday, everything was fine. Today I ran rake recompile:assets and everything went to hell.

[2015-08-10 19:55] rafaelfranca commented on #21185
Thank you for the report but unfortunately we can't do anything if we don't know how to reproduce the problem. That said I'm closing this issue but let us know if you get a way to reproduce it. It may be related to assets be already precompiled in development for some reason.

[2015-08-10 19:55] #21185 closed

[2015-08-10 20:06] sbull commented on #19084
Still a problem. I've just followed the same steps as above (https://github.com/rails/rails/issues/19084#issuecomment-91130754), and run my test script with increased values like `bundle exec rails runner route_helpers_debug.rb 20 30` to make the same errors happen (<code>Exception in thread 17, iteration 28: undefined method `url_options' for #&lt;Module:0x007f7e34e8c808&gt;</code>).

[2015-08-10 20:09] kaspth commented on #21122
@repinel Hm, so it's still possible to hit the old code path? Then we should probably hold off on this to 5.1.

[2015-08-10 20:37] evanphx commented on #19084
The bug is actually in ruby itself. I believe it was fixed in 2.2 release. /cc @_ko1 @tenderlove

[2015-08-10 20:46] ahacop commented on #19084
I can confirm that I followed the reproduction steps with the increased values suggested by @sbull and did not get any errors while using 2.2.2.

[2015-08-10 20:51] sbull commented on #19084
Yeah, I just ran this using 2.2.2 and it still has the bug. Per https://bugs.ruby-lang.org/issues/10871#note-12, I don't think it's merged yet.

@ahacop, can you increase those values and try running several times? Basically, keep increasing them, and eventually you'll run into the problem (it's non-deterministic, probably depends on cpu resources etc.)

[2015-08-10 20:55] ahacop commented on #19084
@sbull I did eventually run into the error. But, if this is a bug in ruby, can this issue be closed?

[2015-08-10 21:01] sbull commented on #19084
Well, it's a bug in ruby, but that bug is only exhibited by certain styles of code. So if this Rails feature were implemented differently, it may not have the bug.

[2015-08-10 21:01] evanphx commented on #19084
@ahacop It's up to the rails contributors, but I'd leave it open because people running rails hit it and wonder where it's coming from.

[2015-08-10 22:12] delphaber commented on #21117
Same happens here. I had to remove the `on: :update` and build the nested resources in memory instead of creating in database

[2015-08-10 23:49] byroot commented on #18828
Rack 1.6.2 have been release in June. I think this is resolved @rafaelfranca

[2015-08-10 23:51] #18828 closed

[2015-08-11 00:46] NickolasVashchenko opened #21190 "ActiveSupport::Cache methods naming"
I think cache method naming conventions should resemble the AcriveRecord ones. I'm speaking about Cache#exist?
It would be more reasonable if it will be "#exists?". May I fix it?

[2015-08-11 00:51] rafaelfranca commented on #21190
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-08-11 00:51] #21190 closed

[2015-08-11 00:58] NickolasVashchenko commented on #21190
Okay, sure

[2015-08-11 03:31] kirkonrails commented on #17216
+1

[2015-08-11 06:22] ballPointPenguin commented on #21067
Similar to @jeffdill2's experience, I plan to use token authentication for my API with Devise. I am experiencing the error when the app is initialized locally.
I have the basis of a new Rails 5 api app here https://github.com/ballPointPenguin/adopt-a-api
But the issue is solved on master because I'm using my #21151 fork of Rails.

[2015-08-11 06:25] ballPointPenguin commented on #21067
I think I agree in principle, @jmbejar that the onus should be on Devise, or other gems, to be safer when calling Rails methods. That said, I feel that the nicest :smile_cat: solution is to preserve backwards-compatibility, or non-api compatibility as it were, in rails itself.

[2015-08-11 06:41] senny commented on #20945
My point was that there is a very good test suite already in place but not many committers care about it. Everything related to that test suite is on GitHub, you can run it on your local machine as well, @rubys is very kind and helpful if you have questions. I'm not against building stronger integration tests on our own but I think it's worth to fully use what we have right now.

* I don't think t

[2015-08-11 07:03] vincentwoo commented on #20660
Fixed by https://github.com/rails/rails/pull/17102

[2015-08-11 07:03] #20660 closed

[2015-08-11 07:24] lukehorvat opened #21193 "Redirect not working for app deployed to a subdirectory"
I have the following routes defined:

[code]

I am deploying my Rails 4.2 app to a subdirectory, `/api`. Unfortunately I am finding that the app's root URL redirects to `http://example.com/ui`, _not_ to my Rack app mounted at `http://example.com/api/ui`.

If I manually navigate to `http://example.com/api/ui`, I can definitely access the Rack app. So it's only the root URL redirect that isn't worki

[2015-08-11 08:14] dhiachou commented on #21072
I made a pull request trying to fix this.

[2015-08-11 08:59] senny commented on #21186
@fnando I don't think I understand the issue your pointing out. Could you please point to the relevant part of the documentation? Also please post some example code, like your `Mailer` that tries to use this feature. This should help to get the issue across.

[2015-08-11 09:14] alexanderchr commented on #21117
If your problem is that a `Product` may appear valid while an attached `ProductBoxing` is invalid, it can be solved by adding `validates_association: :product_boxing` to your `Product` model.

This issue stems from the default behavior of has_many, which is to validate members of the collection but only when a new record is added (see https://github.com/rails/rails/blob/master/activerecord/lib/act

[2015-08-11 09:44] pixeltrix commented on #21193
Using leading slash for redirects indicates that it's an absolute path - try removing that and see if it works.

[2015-08-11 10:43] datomnurdin opened #21194 "ERROR: Error installing rails: ERROR: Failed to build gem native extension."
I got this error message when trying to install rails.

[code]

Command

[code]

Please advice. Thank you.

[2015-08-11 10:49] matthewd commented on #21194
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-08-11 10:49] #21194 closed

[2015-08-11 11:18] lukehorvat commented on #21193
Nah, that doesn't seem to work. Even if it did, it wouldn't explain why the mounted Rack app works with `/ui` specified.

[2015-08-11 12:00] #21072 closed

[2015-08-11 12:28] #21113 closed

[2015-08-11 13:03] fnando commented on #21186
`ActionMailer::Base#default_i18n_subject` [documentation](https://github.com/rails/rails/blob/2475168de89742d0072e300db5ae97a8ee8057cb/actionmailer/lib/action_mailer/base.rb#L875-L882) states the following:

So, given the `Mailer#welcome` action below:

[code]

And this translation:

[code]

The following subject must be generated: `Welcome, John Doe`.

[2015-08-11 13:11] senny commented on #21186
@fnando the documentation you pointed to is from the `default_i18n_subject` method. It does indeed accept `interpolations` and passes them along. However your example is using the `mail` method it does not document an `interpolations` option.

Are you looking for:?

[code]

[2015-08-11 13:23] robin850 commented on #20612
#20884 (feature)

Also maybe we could add a note about speed improvements (e.g. #21057 and also symbol GC).

[2015-08-11 13:34] rafaelfranca commented on #21044
Same here :+1: for doc change.

[2015-08-11 13:41] fnando commented on #21186
Yeah, that would do, but it doesn't make sense having a different usage since `default_i18n_subject` is already being used by `mail`. I think having a convention is better here.

My suggestion is changing [this line](https://github.com/rails/rails/blob/6ac6daa43e1c5b7388f8fd69f8117eb7668887c7/actionmailer/lib/action_mailer/base.rb#L816) to something like `headers[:subject] ||= default_i18n_subject

[2015-08-11 13:47] senny commented on #21186
I disagree. This only bloats the interface of `mail` to support one more corner case. In my opinion passing an explicit subject is the way to go.

/cc @rafaelfranca

[2015-08-11 13:50] rafaelfranca commented on #21186
Yeah, I agree with that, I'd not bloat `mail` with one more option that is only used to build the subject. That helper is there to make easier to use I18n subjects without having to bloat the `mail` API.

[2015-08-11 13:50] #21186 closed

[2015-08-11 14:21] rafaelfranca commented on #18926
Closing since it is related on how the constants are loaded. It is not only about `serializer` but you will have problem with associations too as you can see in the linked issue.

[2015-08-11 14:21] #18926 closed

[2015-08-11 14:40] gmoore commented on #18376
@espen We were also having this issue locally but could not reproduce on Heroku. The problem was the bullet gem which is enabled in development but not in other envs. I couldn't get any version of bullet to work for us so we took it out for now.

[2015-08-11 14:44] espen commented on #18376
Ah, well that makes sense looking at https://github.com/flyerhzm/bullet/pull/238. Thanks for the info.

[2015-08-11 14:47] mikecmpbll commented on #17062
Am I right in thinking that if you have boolean column with sqlite, you cannot do Foo.where(boolean_column: true) with this implementation if the values are stored in sqlite as 0 and 1?

If this is the case then _surely_ this is a bug, not a feature request, especially given the first line of SQLite's documentation on booleans outlines how boolean values ought to be stored: https://www.sqlite.org/

[2015-08-11 16:36] gavelino opened #21196 "Rails Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-11 16:40] #21196 closed

[2015-08-11 16:42] bughit opened #21197 "eager_load and includes.references break the inclusion of addtional attributes via select"
[code]

[2015-08-11 16:44] rafaelfranca commented on #21196
a) It is almost correct, see http://rubyonrails.org/core/.
b) No, Rails can survive even if all the Rails core win in the lottery, we have a bunch of active contributors
c) Yes, I'd say that the vibrant community is the reason for it.

[2015-08-11 16:48] bughit commented on #21197
also if you remove .references but the query still chooses to do a left join on its own, then it works, don't have an example of this.

[2015-08-11 17:37] pierre-pretorius opened #21198 "Marking a class as unloadable causes code reload to throw "Unable to autoload constant, expected ...rb to define it""
The following steps explain and reproduce the problem:

1) Create new Rails 4.2.3 app:
[code]

2) Mark the Question model as unloadable:
[code]

3) Do something that causes Rails to reload code:

[code]

The following is printed by the rails server:
[code]

Unloadable is used extensively by Redmine plugins (it's been in their plugin generate scripts for years) and their latest stable is now Rails

[2015-08-11 17:53] tokenshift opened #21199 "The authorization scheme for HTTP Basic Authentication should not be case sensitive."
An application I support recently upgraded from Rails 4.0.2 to 4.1.11. This has broken several API clients that use HTTP Basic Auth to authenticate, but send authentication headers of the form:

[code]

With `BASIC` rather than the more common `Basic`.

According to [RFC 2617](http://tools.ietf.org/html/rfc2617#section-1.2), the authorization scheme should not be case sensitive; thus `BASIC`, or `

[2015-08-11 21:00] dhh opened #21201 "Testing errors when the fixture file is referencing a missing column is obtuse"
Here's the error I got from having an extra, since-removed column mentioned in a yml fixture:

[code]

Ouch. We can do better than that.

[2015-08-11 21:50] ioquatix commented on #17062
@mikecmpbll Yes that is correct. IMHO this is a bug.

[2015-08-11 22:38] denniss commented on #21199
Can you point to where in the RFC does it say that the the auth scheme should not be case sensitive? I might have skipped it....

[2015-08-11 22:47] tokenshift commented on #21199
Section 1.2:

[code]

[2015-08-11 22:59] repinel commented on #21122
@kaspth No, it doesn't hit `conditional` or `simple`. It would call `halting_and_conditional ` or `halting`.

This should probably be addressed on 5.0 because if you upgrade your app from 4.2, with the default config value, your callbacks would not run properly if one of them returns `false`.

[2015-08-11 23:03] denniss commented on #21199
Thank you! I wrote a failing spec and a potential fix for this.

[2015-08-11 23:26] #21199 closed

[2015-08-12 06:06] leoi11 commented on #21197
+1

[2015-08-12 10:36] kaspth commented on #21122
@repinel So what do we do to mitigate callbacks returning false not running properly? Keep the code or remove it?

[2015-08-12 12:54] #21053 closed

[2015-08-12 12:59] duttski opened #21209 "Threading error when using `ActiveRecord with_connection do` & Puma"
Source: http://stackoverflow.com/questions/31535545/threading-error-when-using-activerecord-with-connection-do-puma

**Summary:**  When using Puma and running long-running connections I am consistently receiving errors related to ActiveRecord connections crossing threads. This manifests itself in message like `message type 0x## arrived from server while idle` and a locked (crashed) server.

What i

[2015-08-12 14:29] djpate commented on #9940
I have the same issue as @demsullivan (on 3.2.8).
@LTe not sure what you mean by non-ajax request.
Are CORS Ajax not considered ajax?

[2015-08-12 16:27] hennevogel commented on #20700
@JonRowe did you ever follow up on this with the ruby peepz why/if this is GC'd?

[2015-08-12 16:55] denniss commented on #21041
I was able to reproduce the error by starting a new rails app.... but I just tried creating a failing test for it under rails and it's passing......

https://github.com/denniss/rails/commit/df5f6bc6fc1c51ed17ae2a8077470dc1b782d87d

[2015-08-12 16:59] PierreVannier commented on #21121
👍🏻😉

[2015-08-12 17:42] tokenshift commented on #21199
Awesome, thanks!

[2015-08-12 18:02] JonRowe commented on #20700
No because I think it's a derivative of a known bug

[2015-08-12 20:04] sgringwe commented on #21090
@chancancode it is an active record object, if that's what you are referring to. unfortunately I don't know the specific value or object being encoded. Going to continue trying to get those details

[2015-08-12 20:40] dgobaud opened #21212 "setting a model's boolean attribute to false in before_validation(:on => :update) cause validation error"
https://github.com/dgobaud/rails_before_validation_set_boolean_bug

how to reproduce

rake db:migrate
rails c
o = Order.new
o.save!
o.update_attributes!({}

ActiveRecord::RecordInvalid: Validation failed:
	from /Users/davidgobaud/.rvm/gems/ruby-2.2.2/gems/activerecord-4.2.1/lib/active_record/validations.rb:79:in `raise_record_invalid'
	from /Users/davidgobaud/.rvm/gems/ruby-2.2.2/gems/activerecord

[2015-08-12 21:02] dgobaud commented on #21212
the problem was it was "returning" false from the block and this is documented behavior

http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html

"before_validation* returning statements

If the returning value of a before_validation callback can be evaluated to false, the process will be aborted and Base#save will return false. If ActiveRecord::Validations#save! is called it will raise a A

[2015-08-12 21:03] rafaelfranca commented on #21212
It is the documented behavior. It will change on Rails 5, though.

[2015-08-12 21:03] #21212 closed

[2015-08-12 23:54] DouglasAllen opened #21215 "Rails branch 2.3.18 stable / bundle exec rails / uninitialized constant AppGenerator::Config"
That's what I get using either this branch or the rubygems version 2.3.18
My gem file:

gem 'rails', '2.3.18'

The bundle is installing all the dependencies like activerecord and ...
I'm running it from rbenv with only bundler installed. gem install does the same thing.
I was only going to try to make a skelleten app like I have here https://github.com/DouglasAllen/rails-v3.2.22-starter for the 2.

[2015-08-12 23:56] kapkaev opened #21216 "EXPLAIN Queries with Different Connections"
I encountered an issue with EXPLAIN queries being run on the same connection, while multiple databases are involved in a query.

For example, there are two tables located in different databases. When I try to run a query on a large collection of records, AR automatically executes EXPLAIN queries. As a result, it throws an error.

[code]

[code]

It seems like the code that causes the issue is here

[2015-08-12 23:57] rafaelfranca commented on #21215
Rails 2 is not supported anymore. The version that you are using is from more than 5 years ago and contains security bugs and a lot of issues that we don't recommend anyone to use it in a new application.

[2015-08-12 23:58] #21215 closed

[2015-08-13 00:19] #20745 closed

[2015-08-13 00:22] rafaelfranca commented on #20745
Backported in d1dbfee45a5d2fb51423bee045b4c6199801b78a

[2015-08-13 04:18] tarr11 opened #21220 "ActionMailer deliver_later ovewrites message_id in Rails 4.2.3"
I am not sure how to put a test together for this, but it appears that `deliver_later` is overwriting the message_id after delivery

[code]

I'd expect `deliver_later` to not change the message_id

[2015-08-13 09:06] senny commented on #21216
Explain queries should be executed on the connection specified by `connection_id` on the corresponding AS notification.

#11284 seems related.

Something along the lines of https://gist.github.com/senny/dd6cfb12bee084f11bbb should do the trick. I'm not sure this is the right way to solve it though. I'll leave it to @rafaelfranca and @tenderlove wether it's a feasible approach.

[2015-08-13 14:01] senny commented on #21201
@dhh yea, this was more expressive in earlier versions. I'll have a look.

[2015-08-13 14:59] robin850 commented on #21073
Fixed by #21120. Thank you guys!

[2015-08-13 14:59] #21073 closed

[2015-08-13 15:14] senny commented on #21201
Changed it to raise an `ActiveRecord::FixtureError`:

[code]

[2015-08-13 15:14] #21201 closed

[2015-08-13 15:42] dhh commented on #21201
Awesome! Thanks!

On Thu, Aug 13, 2015 at 10:16 AM, Yves Senn <notifications@github.com>
wrote:

[2015-08-13 15:47] ledowong opened #21223 "AR: has_one/belongs_to dependent callback loop and raise error"
I just upgrade my project from Rails 4.1.12 to 4.2.3, then some record raising error when I try to destroy them.
[code]

## Can be reproduce like this:
### Two database tables (I am using mySQL):
[code]
[code]
### Models:
[code]
If I 'destroy' the car, I want the engine destroy as well.
[code]
If I 'destroy' the engine, I want to keep the car, just set engine_id to NULL.

### Test in console:
Crea

[2015-08-13 15:56] stevenkaras opened #21224 "Escaped entities in requests are not properly decoded"
Reproduced here: https://gist.github.com/stevenkaras/042ca66a61b3aea40a83

The problem is that some clients will escape more entities than they need to, and routing will fail to unescape them. I've observed this in several cases where automated crawlers will escape the at symbol "@" to "%40". A workaround is to do the following:

[code]

Despite these being horribly misconfigured clients that shou

[2015-08-13 16:02] gavelino commented on #21196
Thank you.

[2015-08-13 16:03] bittelc commented on #19001
Is the solution here to drop all tables, and :load them in again from scratch, as @dahal suggests? I am similar issue to him (limits being added to certain attributes).

What was the conclusion that closed this issue?

[2015-08-13 17:22] kapkaev commented on #21216
@senny Thank you!

[2015-08-13 18:07] schneems opened #21226 "Postgres db:structure:dump and :load don't work with remote databases"
On this line https://github.com/rails/rails/blob/e50fe85180648be0c4216bd0111f05be1df0988a/activerecord/lib/active_record/tasks/postgresql_database_tasks.rb#L64

We are shelling out to `pg_dump` and passing in the database name. This doesn't include, host, password, or any other connection information. if your database is not on the same server where rails is, then this command will fail with a cry

[2015-08-13 18:15] crypticsymbols opened #21227 "ActiveRecord - MySQL 5.7.7 JSON support"
Not so much an issue as a general question, apologies if there is a better place for this question.

http://mysqlserverteam.com/json-labs-release-native-json-data-type-and-binary-format/

The above article regards native JSON column support upcoming in MySQL. I think that's a fantastic feature and IIRC the Postgres adapter does support querying of JSON columns. I'm working on a few things right no

[2015-08-13 20:31] #19528 closed

[2015-08-13 20:33] schneems opened #21228 "undefined method `existent' coming from active_support/i18n_railtie.rb"
On Rails master, i18n version 0.7.0

[code]

[2015-08-13 20:39] kaspth commented on #21228
Thanks, @schneems :grin:

@kirs can you look into this? Here's the line: https://github.com/rails/rails/blob/master/activesupport/lib/active_support/i18n_railtie.rb#L45

[2015-08-13 20:53] #19042 closed

[2015-08-13 21:46] justinschier commented on #18780
My god. @rodrigopinto that worked!

[2015-08-13 22:44] bronzle commented on #21107
You can modify `activerecord/test/config.yml` -- this file is not followed by git, you can add a password there if you need to, if the file doesn't exist, copy `activerecord/test/config.example.yml` and rename it to
`activerecord/test/config.yml`

See: https://github.com/rails/rails/blob/master/activerecord/RUNNING_UNIT_TESTS.rdoc

[2015-08-13 22:45] rafaelfranca commented on #18469
I'd prefer the minimal patch to make it work as before

[2015-08-13 23:04] rodrigopinto commented on #18780
@justinschier :+1:

[2015-08-13 23:50] myrridin commented on #20867
I was also unable to reproduce this issue, even after modifying the script to point at rails 4.2.1.

https://gist.github.com/myrridin/d47b697bbd5c8673a7bc

Are you still experiencing this issue? What database are you using?

[2015-08-13 23:53] rafaelfranca commented on #20867
@ccallebs @myrridin Thank you for creating the script.

@yzhanginwa looks like we can't reproduce you problem, so I'm closing this issue. Let us know if you can give us more information. Thanks

[2015-08-13 23:53] #20867 closed

[2015-08-13 23:54] #18469 closed

[2015-08-14 00:26] myrridin commented on #19320
I was able to verify this was still the current behavior: https://gist.github.com/myrridin/639289f958df61059952

I also submitted this pull request, based on the suggestion in OP: https://github.com/rails/rails/pull/21229

[2015-08-14 01:42] felixbuenemann commented on #18469
Thanks, Rafael!

[2015-08-14 02:01] jashank opened #21231 "ActionDispatch::Routing::Mapper::Scope no longer provides `[]=`"
This was removed in 5e81e6ca31aa0d2a38f8db5c8fe9bcbce98d9689 with a commit note that it isn't used; this, however, is incorrect and it's used in other projects such as (e.g.) [cerebris/jsonapi-resources]
(https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/routing_ext.rb#L80).  Given that this was a public method, and no documented replacement has been provided, this strikes me a

[2015-08-14 02:12] rafaelfranca commented on #21231
That class is entirely private and should not be used directly. We removed a private API method but you can use public methods to archive the same. See https://github.com/plataformatec/devise/issues/3701#issuecomment-130831743

[2015-08-14 02:12] #21231 closed

[2015-08-14 02:42] myrridin commented on #21226
I've posted a pull request that I believe satisfies this request. Please let me know if you have any feedback. I'd be happy to make any required changes.

https://github.com/rails/rails/pull/21232

[2015-08-14 04:31] myrridin commented on #21226
Ok I think I figured out the issue, and it means this isn't actually necessary in the first place. The method `set_psql_env` (https://github.com/myrridin/rails/blob/master/activerecord/lib/active_record/tasks/postgresql_database_tasks.rb#L91-L96) sets a number of environment variables that make the command line options redundant. It's called as the first line in both the dump and load routines.

I

[2015-08-14 07:57] matthewd commented on #21226
Indeed. @schneems, you need to.. install at least one `postgresql-client-<version>` package.

(Unless you're saying it's cryptic because you actually already have one. But in that case, it would be a bug for [elsewhere](https://tracker.debian.org/pkg/postgresql-common).)

[2015-08-14 07:57] #21226 closed

[2015-08-14 08:56] senny commented on #21227
Hey @crypticsymbols

We use GitHub issues for bug reports exclusively and prefer the [rails-core mailing list](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core) for general discussions about the framework itself.

Adding JSON support for MySQL has been brought up previously and there is even an open PR for it #21110. I'm going to close this issue to keep the discussion focused b

[2015-08-14 08:56] #21227 closed

[2015-08-14 10:02] kirs commented on #21228
Sure, @schneems how to reproduce it?
I tried:
* running `tasks/console`
* running rails console in generated app
* running rails rails in generated app

[2015-08-14 12:06] myrridin commented on #19320
This issue already has an open pull request: https://github.com/rails/rails/pull/19327

[2015-08-14 14:07] rousisk commented on #19320
Right, I opened #19327  a few months ago - hope it will be merged soon :)

[2015-08-14 14:21] justinschier commented on #18780
One more thing that maybe would help others in addition to the `maintain_test_schema` setting above. I've also had an issue where the actual schema can get out of sync with my schema.rb.

This always seems to fix everything:

[code]

[2015-08-14 15:33] schneems commented on #21226
You're quite correct, I'm able to run this locally, specifying a remote database:

[code]

Thanks for the look!

[2015-08-14 18:37] joevandyk commented on #21126
I'm running into this as well. I'd vote for Rails defaulting timestamps to 'timestamp with time zone' -- I can't see any downsides.

[2015-08-14 20:45] faragorn opened #21239 "includes"

[2015-08-14 20:45] #21239 closed

[2015-08-14 21:40] schneems commented on #21228
Try using http://github.com/codetriage/codetriage. Setup directions on the readme should be correct, you won't need the github keys if you're not trying to log in.

 I pointed to a local copy of rails master and arel to grab from github:

[code]

Then anything I run causes the error.

[code]

[2015-08-15 04:16] lostphilosopher commented on #18660
Just hit this issue.
`$ mv projects/ projects1/
$ mv projects1/ projects/`
Fixed it [per the SO link](http://stackoverflow.com/questions/27871726/strange-error-in-rails-missing-helper).

I had previously renamed Projects/ to projects/ which seemed fine until I restarted. (May be unrelated.)

rbenv 0.4.0
Rails 4.2.3
ruby 2.2.0p0 (2014-12-25 revision 49005) [x86_64-darwin13]
OS X 10.9.5

[2015-08-15 04:24] imtayadeway opened #21242 "unexpected inconsistency with durations when using JSON.dump vs to_json"
Pairing with @plribeiro3000 a while ago I recalled we discovered an inconsistency when using `JSON.dump` vs `to_json` on objects that contained durations. To illustrate:

[code]

As you can see, each expression represents the value as `60` apart from the first which represents the number as a string. This was (to us) a surprising and subtle difference between the two.

Interestingly, I notice that

[2015-08-15 04:27] rafaelfranca commented on #21242
I believe it is a bug, but @chancancode can know better

[2015-08-15 04:35] chancancode commented on #21242
I *think* this is expected behavior. The top-level `::JSON` constant is provided by the standard library `json` gem. In the past it just so happens that we have been accidentally "fighting" over APIs with the same name but different meaning (to_json) which resulting in many conflicts, incompatibilities and bugs.

Starting in 4.1 we take special care to not interfere with each other. That is, JSON.

[2015-08-15 04:35] #21242 closed

[2015-08-15 04:36] chancancode commented on #21242
In this case json gem doesn't know what to do with the Duration object it encountered, so it defaulted to 'to_s'; AS encoder called as_json on it instead

[2015-08-15 04:38] imtayadeway commented on #21242
thanks @chancancode :D

[2015-08-15 04:59] plribeiro3000 commented on #21242
Hmmmm. Thanks @imtayadeway @chancancode

[2015-08-15 07:24] ccallebs commented on #18878
@schneems Are you still working on this? If not, I can give it a shot.

[2015-08-15 09:38] kirs commented on #21228
Thanks!
The exceptions happens because `railties_load_path` is supposed to have only `Rails::Paths::Path` instances, but in the codetriage app `railties_load_path` has one `String`:
[code]

I suppose that the Railtie is somehow pushing this locale to `railties_load_path`, but I didn't find the source yet. Will continue later today :star:

[2015-08-15 10:38] duttski commented on #21209
I tried this time with OS X, [Puma, Rainbows], PostgreSQL -- I get the same problems (locked process) but nothing in the logs whatsoever. My guess is the lack of log is to do with differences in libpq.

So Rails is now the only component I haven't been able to swap out and still get this issue.

Ideas welcome... As I say, happy to do legwork when/where I can, but am totally stuck!

[2015-08-15 13:05] matthewd commented on #21209
I'll try to come back and look into this properly, but for now I can only offer some vague thoughts:

* AC::Live spawns a new thread to handle the request, *and copies the thread locals from the original request thread*
* the connection pool tracks ownership by thread
* *maybe* at the start of your `events` action, there are actually two threads that believe they hold the lease to the same connect

[2015-08-15 15:11] schneems commented on #18878
Feel free to take a shot.

[2015-08-15 17:42] kirs commented on #21228
Here is the line from the will_paginate gem that adds new String path to `railties_load_path`: https://github.com/mislav/will_paginate/blob/master/lib/will_paginate/railtie.rb#L35

Before my PR was merged, `railties_load_path` stored strings, and then to support locale reloading I changed it to store Rails::Path: https://github.com/rails/rails/pull/21124/files#diff-1073ed8063cdf047e123bfdefa114422

[2015-08-15 17:52] kirs commented on #21228
@schneems could you try my fork of will_paginate? https://github.com/mislav/will_paginate/compare/master...kirs:fix/i18n-path

[2015-08-15 18:24] rodzyn commented on #21168
@jfelchner Hey, can you maybe elaborate more on this, maybe preparing some examples with expected output? I was stressing my local app with `application/vnd.api+json` content type and it seemed to use default JSON parser. I've also added PR with test for this.

[2015-08-15 19:35] schneems commented on #21228
:+1: works for me

[code]

[2015-08-16 01:31] ccallebs commented on #18878
I've implemented a potential solution. I chose the whitelisting approach, as it seemed undesirable to have Rails be a mediator for *all* rake tasks (even custom ones that may not rely on Rails at all). If it's a requirement to have the `rails` command be a catch-all for rake tasks, that should be easy enough to implement.  As @repinel pointed out, the latter approach would be slower than explicitl

[2015-08-16 10:00] Dschee commented on #19183
I agree, too:
This is clearly an issue if Rails wants to support polymorphic associations the way one would expect.

[2015-08-16 12:04] kirs commented on #21228
Awesome! Do you think we can close the issue?

[2015-08-16 21:19] duttski commented on #21209
@matthewd, thanks! After a bunch of testing and lots of reading Rails code it looks like your synopsis is correct. I can see that those conditions consistently cause an error, and have some logs showing the connections being checked in multiple times. That also accords with the fact that I don't get the issue when the `with_connection` is in a new thread.

Putting some logs in AR meant I could see

[2015-08-17 02:01] maclover7 opened #21260 "Move ActiveModel::Serializers to Rails Github Org"
A recently extracted gem, ActiveModel::Serializers::Xml, is now hosted in the Rails Github organization. For consistency, and since rails-api is now in Rails master, does it make sense to move active_model_serializers as well, and to deprecate the rails-api Github org?

[2015-08-17 02:03] rafaelfranca commented on #21260
Please don't open issues for discussions, we reserve the issue tracker only for issues and pull requests. About `active_model_serializers` I don't think it needs to be moved to rails organization. It is maintained by a different team not by Rails Core.

[2015-08-17 02:03] #21260 closed

[2015-08-17 02:06] BenEddy commented on #21220
This issue arises because the original `msg` instance is discarded. `deliver_later` serializes the mailer class, mailer method and arguments, and deserializes them later when the email is sent.

[code]

The expression `mailer.constantize.public_send(mail_method, *args)` effectively runs `Notifier.welcome(User.first)` again. It instantiates a new message, so setting the `message_id` on the original

[2015-08-17 02:15] BenEddy commented on #21220
Also, maybe it's worth pointing out that this issue is a symptom of a potentially bigger issue: `deliver_later` results in running mailer methods twice. I could see this confusing some people. I don't think anyone would do this, but constructs like the following would be problematic:

[code]

Serializing the original `Mail::Message` ensure that the method is only execute once. The downside would b

[2015-08-17 03:56] abe4mvp opened #21261 "ActiveModel::Validator classes break when using instance variables"
I discovered this in Rails 3.2.1 but based on this [code](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/validations/with.rb#L77-L95) Im pretty sure it still applies in the latest version.

Since the class is only instantiated once you can not use instance variable because they will be polluted by previous times that the same validator was used. This is unexpected since th

[2015-08-17 04:02] rafaelfranca commented on #21261
If you want this behavior you can use `validates_with` on the instance level. The validation object is instantiated on definition time if you use class level methods.

Also see https://github.com/rails/rails/blob/master/activemodel/lib/active_model/validator.rb#L63-L64

[2015-08-17 04:02] #21261 closed

[2015-08-17 10:13] jebw commented on #20154
@rafaelfranca

4.2.4rc1 is generating invalid SQL in the above scenario. This is affecting SQLite and MySQL, potentially PostgreSQL

Its not a regression relative to 4.2.3 but is a regression relative to the 4.1.x series

[2015-08-17 10:17] Hugo-Hache opened #21262 "BigDecimal::NaN not quoted in SQL query"
With any model with a decimal column, if you try to query for the rows with a NaN value you get the following error:

<pre>
Model.where(column: BigDecimal::NAN)

PG::UndefinedColumn: ERROR:  column "nan" does not exist
LINE 1: ... "model"."column" = NaN
</pre>

The problem is the missing quotes around NaN, as <pre>Model.where(" column = 'NaN' ")</pre> works just fine.

By browsing the source code

[2015-08-17 11:37] dimitko commented on #19659
I'm not a Rails core dev obviously, but I'm just hoping in to tell you that `anonymous_class` makes no sense at all to me. Similar to what @meinac stated, as a dev who relies on Rails' convention-over-configuration general approach, I'd naively just go for the `class` option and then scratch my head for 2 mins before ending up right here in this thread.

I simply opted for using the `class_name` o

[2015-08-17 11:54] matthewd commented on #19659
That is by design; no-one is supposed to use this *internal* option.

[2015-08-17 12:04] jonatack commented on #21228
Thanks! This issue bit me as well. Not sure will_paginate is being maintained though, no reaction on submitted PRs this year so far.

[2015-08-17 12:51] robin850 commented on #21262
Hi @Hugo-Hache,

Thanks for reporting! Yes, this is the right place to edit. Would you mind to open a pull request with the patch, a changelog entry and a test ?

[2015-08-17 14:20] yahonda commented on #21107
Thanks for the info. I overlooked that we can set password for ActiveRecord unit tests. let me try.

[2015-08-17 14:31] kaspth commented on #21228
@kirs as far as I can tell `railties_load_path` is [public](https://github.com/rails/rails/blob/7985908beac7a625f545097dba9460c4355d70e4/activesupport/lib/active_support/i18n_railtie.rb#L8), so it not being able to handle strings sounds like a regression to me.

Can't we convert strings to paths?

[2015-08-17 15:30] ludovicl opened #21265 "Accent and downcase method"
I've trouble with accent and downcase method.

example :

[code]

`accent_string.downcase` may set the variable to "saint-étienne"

Rails version : 4.2.1
Ruby version : ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]

[2015-08-17 15:30] tgxworld opened #21266 "[PERF] ActiveRecord save"
BenchmarkScript: https://github.com/ruby-bench/ruby-bench-suite/blob/426e2fb379d2c2e6a7d3a1f00feb57ab53149be8/rails/benchmarks/bm_activerecord_save.rb

#### Before https://github.com/rails/rails/commit/e0cb21f
[code]

#### At https://github.com/rails/rails/commit/e0cb21f
[code]

View full graphs
http://rubybench.org/rails/rails/commits?result_type=activerecord/mysql2_save&display_count=2000
http:/

[2015-08-17 15:35] #21265 closed

[2015-08-17 18:04] BenEddy commented on #21262
[Here](https://github.com/BenEddy/rails/commit/b1421b8ce8786503090f89cff09945c897969228) is a patch per @Hugo-Hache's suggestion.

I can open a PR and apply it to this issue, but quick question: Is there a reason NaN and infinity handling doesn't happen in the [abstract implementation](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/abstract/quoting.rb

[2015-08-17 18:17] walterdavis opened #21268 "Turbolinks is not given a version in the Gemfile"
The Rails Gemfile lists turbolinks as a dependency, but does not specify a version. We had a very old version (1.1.1) here, and our servers are set up to not allow mortals to install gems. Since this version was okay by the Gemfile, and installed cleanly and started up, but failed to work when redirecting after a create, it would be nice if there was something like '>= 2.0' in there.

[2015-08-17 18:22] walterdavis commented on #21268
I've put a pull request in with the change: https://github.com/rails/rails/pull/21269

[2015-08-17 18:45] #21268 closed

[2015-08-17 22:14] juanpastas opened #21277 "undefined method `counter_cache_column' for nil:NilClass"
#4293.

I am using commontator.

Here are my models:

[code]

[code]

I can't use Comment `belongs_to` Author. But `has_one`. But if I use `has_one` I can't use counter_cache. So instead of counter cache I am using:

[code]

`:contents` work, `:comments` don't.

Any advice?

[2015-08-17 22:32] juanpastas commented on #21277
I did this:

[code]

[2015-08-17 22:32] #21277 closed

[2015-08-18 05:37] sgringwe commented on #21090
@chancancode This ended up being caused by https://github.com/sparklemotion/nokogiri/issues/1332 (libxml conflciting with nokogiri and causing memory consuption). no issue with rails

[2015-08-18 05:37] #21090 closed

[2015-08-18 05:38] sgringwe commented on #18729
@chancancode @sgrif  This ended up being caused by https://github.com/sparklemotion/nokogiri/issues/1332 (libxml conflciting with nokogiri and causing memory consuption). no issue with rails

[2015-08-18 05:38] #18729 closed

[2015-08-18 05:39] sgringwe commented on #18964
@sgrif @raouldevil @cristianbica FYI This ended up being caused by https://github.com/sparklemotion/nokogiri/issues/1332 (libxml conflciting with nokogiri and causing memory consuption). no issue with rails. thanks for your help!

[2015-08-18 07:18] kirs commented on #21228
Your point makes sense, I'll see how we can solve it.

[2015-08-18 07:21] senny commented on #21266
Merged with #19683

/cc @rafaelfranca

[2015-08-18 10:08] eyaleizenberg opened #21285 "Missing time zone for Namibia"
Hi,
At the moment Rails only supports the West Central Africa time zone. Namibia uses this time zone but they also use "West Africa Summer Time (Daylight Saving Time)". Can you please add this time zone as well?

Thank you.

[2015-08-18 10:36] macksmind commented on #19372
@jjb Can this be closed since #19324 is merged?

[2015-08-18 11:20] outdooricon commented on #20837
Why was this closed? @skolem stated this was not the same issue as the cancan issue, so there's no resolution for this yet...

[2015-08-18 11:37] pixeltrix commented on #21090
@sgringwe thanks for coming back and closing the issue - it's always helpful to know the resolution for ourselves and anyone else with similar problems.

[2015-08-18 14:29] areman opened #21286 "ActiveRecord using a different primary_key than id will affect the reload method"
desc c_dppara

Name Null? Type

I_SERIAL NOT NULL NUMBER(9)
I_INVOICE NOT NULL NUMBER(9)
I_PARCEL NOT NULL NUMBER(9)
ID NOT NULL NUMBER(9)

Rails.version
 => "4.2.1"

class CDppara < ActiveRecord::Base

  self.table_name =  'c_dppara'

  self.primary_key = 'i_serial'

  self.sequence_name = 'c_dppara_sequence'

end

e = CDppara.new
e.i_invoice = 1
e.i_parcel  = 1
e.save!

# failed !! it's not usin

[2015-08-18 14:40] xdougx opened #21287 "Having config.serve_static_assets deprecation message"
Im using ruby 2.2.2pre95 with rails 4.2.3, Its showing this message:
[code]
when I run rspec, im using rspec git master branch, Already had search all my files for `config.serve_static_assets`, already had changed all occurrences.

But still showing this message on rspec.

[2015-08-18 14:50] areman commented on #21286
Ok, it's tricky. i_serial has an default value. On new creation i_serial will be set to the default and teh new generated id will never be set to the id property, because it's alreday init.

[2015-08-18 14:50] #21286 closed

[2015-08-18 14:59] repinel commented on #21285
Related to #10276.

[2015-08-18 15:19] yahonda commented on #21107
I have tested using `activerecord/test/config.yml`. Then found some problems can be fixed by #21288.
Closing this since my original question has been answered. Thanks @bronzle

[2015-08-18 15:19] #21107 closed

[2015-08-18 15:44] jjb commented on #19372
Sure (although my current position is that making this sort of thing a native part of AR is going to end up being too complicated).

[2015-08-18 15:44] #19372 closed

[2015-08-18 16:11] nagyt234 opened #21289 "Why Factory Girl initialized during rake db:schema:load"
I've upgraded from Rails 3.2 to Rails 4.1.12 and I got an error message running
[code]
The error message is an SQL error caused by Factory Girl with missing tables. But why is Factory Girl initialized on `db:schema:load` at all?

If I downgrade to Rails 4.1.11, the problem disappears. I've found that in `activerecord/lib/active_record/railties/databases.rake` the dependency of `db:schame:load` was

[2015-08-18 16:24] danlaffan opened #21291 "Prevent hydration of AR object if after_initialize returns false"
Ref: http://stackoverflow.com/questions/32077572/return-nil-object-if-after-initialize-callback-returns-false

If I have a Department model with code as follows:

    # app/models/department.rb
    class Department < ActiveRecord::Base
      after_initialize :check_permission

      protected

      def check_permission
        # some code that returns true or false
      end

    end

I would lik

[2015-08-18 17:17] nagyt234 commented on #21289
The solution:

http://stackoverflow.com/questions/32077666/why-factory-girl-initialized-during-rake-dbschemaload/32077933#32077933

[2015-08-18 17:17] #21289 closed

[2015-08-18 17:32] sgringwe commented on #20837
@outdooricon sorry! reopened.

[2015-08-18 17:42] outdooricon commented on #20837
no worries, thanks for reopening!

[2015-08-18 17:55] charlesvallieres commented on #20721
Hi! Sorry to bring this back but we ran into this same exact issue and I found my way here.
I did some test against the 4-2-stable branch and it seems it still doesn't work.
@everton's gist is still failing for me, but maybe I am doing something wrong
(https://gist.github.com/charlesvallieres/17eb1d1d3a1248f19916 is out exact use case)

Thank you!

[2015-08-18 18:10] rafaelfranca commented on #21291
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-08-18 18:10] #21291 closed

[2015-08-18 19:00] dgilperez commented on #18376
I also got hit by this on Rails 4.1.12 and Ruby 2.2, and solved it upgrading bullet to last version. Thanks @espen !

[2015-08-18 20:43] derrickmar commented on #20639
Thank you @sgrif

[2015-08-19 03:35] tristang commented on #21266
At a guess I'd say it's looking up the inverse relation (`inverse_which_updates_counter_cache(reflection)`) that's slowing things down here.

If the `counter_cache` was required on both sides of the relation (both the `has_many` and `belongs_to`) we could bypass this, but otherwise I'm not sure what can be done.

[2015-08-19 03:52] rafaelfranca commented on #21266
Can we confirm it locally? It should not affect saving a model without any association given the location of the changes on that commit.

[2015-08-19 04:19] tgxworld commented on #21266
@rafaelfranca opps my mistake. It should be one of the commits within this [range](https://github.com/rails/rails/compare/e2530ca...e0cb21f). I forgot I skipped some of the commits when backfilling. I'll find the commit soon.

[2015-08-19 04:22] rafaelfranca commented on #21266
OMG! The range is huge. Let me know if I can help with finding it

[2015-08-19 04:25] rafaelfranca commented on #21266
Maybe it is related to the callbacks optmization revert? It seems to be in that range.

[2015-08-19 04:35] tgxworld commented on #21266
@rafaelfranca xD I'll just backfill all commits within that range on RubyBench. Should be able to find out tml.

[2015-08-19 04:35] tgxworld commented on #21266
@rafaelfranca xD I'll just backfill all commits within that range on RubyBench. Should be able to find out tml.

[2015-08-19 05:13] mmontossi opened #21295 "ActiveRecord has_many guessing wrong foreign_key when STI on 4.2.X"
Test case provided: https://gist.github.com/mmontossi/111bdd947f5665c6ef8b

[2015-08-19 06:51] SamSaffron opened #21296 "Calling flatten on ActiveSupport proxy objects raises an internal exception"
Calling flatten on ActiveSupport proxy objects raises an internal exception

This means that innocent code like

[code]

raises exceptions internally. Usually I would not worry about this kind of stuff but this has a very dire impact on redis cause

[code]

Is a norm, and something people always do.

To see the magic exceptions run:

[code]

[2015-08-19 06:52] riking commented on #21296
readygo bench:

[code]

[2015-08-19 07:40] tgxworld commented on #21266
:sob: sorry @rafaelfranca @tristang double whammy by me. I recently made a change that broke the ordering on the graph.....so it was a self generated performance regression..... I pushed a [fix](https://github.com/ruby-bench/ruby-bench-web/commit/bca50b1940cdf2770d8c6137128920598a4068fd) for it. Sorry!

[2015-08-19 07:40] #21266 closed

[2015-08-19 09:59] senny commented on #21296
Ruby seems to be ignoring `respond_to_missing?` flatten is calling `to_ary` on elements of the `Array`. Behvaior is described in https://gist.github.com/senny/02ee933cc75e7ac8093f

[2015-08-19 11:18] ippeiukai commented on #20863
@yossi-shasho
I encountered a similar incompatibility with `relation.where(relation2.exists)` usage upgrading to Rails 4.2.3 + PostgreSQL. One easy alternative is to write `relation.where("EXISTS (#{relation2.to_sql})")`. In fact that's how I used to write before started using this trick.

BTW, the error is probably more to do with having binding values in both parent relation and subquery arel, n

[2015-08-19 11:31] ippeiukai commented on #20863
A permanent solution seems already on its way: #16959

[2015-08-19 17:49] vipulnsward opened #21299 "Issues with bundle"
celluloid version 0.16.1 got yanked- https://rubygems.org/gems/celluloid/versions
Its causing issues with bundle- https://github.com/rails/rails/blob/master/Gemfile.lock#L137

[2015-08-19 23:44] sgrif commented on #20612
#21135

[2015-08-20 01:13] tbreier opened #21304 "UniquenessValidator should throw error if run on a table without primary key"
You cannot have a uniqueness validator on a table that does not have a primary key, which makes sense, because otherwise we would not be able to figure out (while updating) which record is the current record and thus needs to be excluded from the entries that you check against. See #18674.

However, instead of throwing a nice human-readable error, you get this (Rails 4.2.1)
[code]

[2015-08-20 01:23] tbreier commented on #21304
Or actually, should the UniquenessValidator work in such cases anyway (on ``create``)? It would be impossible to run on an ``update``, but you cannot update if you don't have a primary_key anyway...

[2015-08-20 06:30] atulatgithub commented on #21287
Can u re-check your application.rb, environments/*.rb files for traces of serve_static_assets.

[2015-08-20 08:17] senny commented on #21304
The validator shouldn't crash like this. I think it's fine to get it working on `create` and have it throw a nice error when trying to run the validations in the case of an update.

I'll have a look.

[2015-08-20 08:20] frenkel opened #21307 "create_join_table incorrectly prepends table_name_prefix to first table name before generating table name"
In Ruby On Rails 4.2.3, the join_table name will be derived incorrectly. For example:

[code]

This will create a table named `scenarios_test_actions`. I debugged the code a bit and it seems the table_1 argument of create_join_table gets the prefixed name instead of later prepending it.

[2015-08-20 09:53] mrbrdo commented on #21299
getting same issue

[2015-08-20 10:11] #21304 closed

[2015-08-20 10:23] senny commented on #21304
pushed a fix to `master` and backported to `4-2-stable`.

@tbreier thank you for reporting.

[2015-08-20 11:49] januszm opened #21309 "RangeError when querying for big integer using #where in Rails 4.2"
Rails 3

Product.where(associated_id: 1311344470881970878875083923).first
=> nil

Rails 4.2.3

Product.where(associated_id: 1311344470881970878875083923).first
RangeError: 1311344470881970878875083923 is out of range for ActiveRecord::ConnectionAdapters::PostgreSQL::OID::Integer with limit 8
from ~/.rvm/gems/ruby-2.2.1@gemset/gems/activerecord-4.2.3/lib/active_record/type/integer.rb:45:in ```ensur

[2015-08-20 12:01] matthewd commented on #21309
Yes, we do. That value won't fit into a PostgreSQL bigint, so we cannot run the query with it.

Previous versions didn't use parameterized queries, so PostgreSQL was able to dynamically guess the type based on the size of the literal.

[2015-08-20 12:01] #21309 closed

[2015-08-20 12:06] januszm commented on #21309
@matthewd  no it doesn't, look, it's just a simple query to find something in the database

development=> select * from products where associated_id = 1184827921141444343875083923;
(0 rows)

PostgreSQL 9.4.4 , no error.

Anyway, perhaps it's easier to just add find_all_by method as I described above.

[code]

[2015-08-20 12:11] matthewd commented on #21309
Great! Patch welcome.

We can't do that, for the same reason we don't currently rescue the RangeError everywhere: it would behave incorrectly any time the out-of-range value *didn't* imply no results. (e.g., `where.not(id: BIG_NUMBER).find_all_by(name: 'Fred')`)

[2015-08-20 12:53] ekampp commented on #9940
@demsullivan I believe you're right. But this is also quite an old issue. And they removed the implicit mime-type response out of Rails, and into the `responders` gem. So in your example you're explicitly responding with json.

[2015-08-20 12:53] ekampp commented on #9940
I have updated the initial example to rails 4.2.3, which supports the results found by @demsullivan

[2015-08-20 13:26] al2o3cr commented on #21295
The `locations` association is declared in the `Place` class, so `place_id` is the default foreign key name.

If the result you're expecting in the test case was the default behavior, it would cause difficulties for code like this:
[code]

You can get the behavior you're expecting by declaring the `has_many :locations` in `City`, but that will also mean redeclaring it in each descendant of `Locati

[2015-08-20 14:46] ppoektos commented on #5223
I'm using redmine 3.x + nginx + unicorn. I get 127.0.0.1 in my production log:
[code]
However all headers are correctly sent from nginx to unicorn (192.168.5.1 - it's a client ip):
[code]

[2015-08-20 15:02] atulatgithub commented on #21287
Its coming from railties/lib/rails/application/configuration.rb.
test "config.serve_static_assets is deprecated"
end

This files checks below property of configuration.
SERVE_STATIC_ASSETS_DEPRECATION_MESSAGE = <<-MSG.squish
        The configuration option `config.serve_static_assets` has been renamed
        to `config.serve_static_files` to clarify its role (it merely enables
        serving ev

[2015-08-20 15:12] rafaelfranca commented on #21287
Yes, it is correct. I suspect that one gem is setting this options. Let me know if you find a way to reproduce this issue. Thank you

[2015-08-20 15:12] #21287 closed

[2015-08-20 15:18] xdougx commented on #21287
I'll check all gems,
if i find it,
I'll comment again.

Follow My Gemfile.lock

[code]

[2015-08-20 15:38] xdougx commented on #21287
I've a bundle update and get those updates:

[code]
I just dont know with one of these gems was using:
`config.serve_static_assets`

But now, when I run my server or rspec, the Deprecation message dont show up again.

[2015-08-20 18:04] tbreier commented on #21304
Looks great! Thank you @senny :-)

[2015-08-20 20:54] mikecarlton-illumio opened #21315 "AR 4.2.4.rc1 inherited default_scope bindings fail due to statement cache"
The following code fails with AR 4.2.4.rc1; the second BookList query is using the org_id cached from the first BookList query due to statement cache. @rafaelfranca

Note that the tests pass with Rails head.

[code]

The output is:

[code]

[2015-08-20 21:08] mmontossi commented on #21295
I think is a big cost to lost the ability to do things like includes, I made this after_initialization callback to keep the app working in the meantime:

[code]

Wouldn't be possible to make ActiveRecord build the association object at that moment so it picks the right column? (I notice extracts the column from the model but uses the base class because the code is cached before inheritance)

I thi

[2015-08-20 22:17] al2o3cr commented on #21295
@mmontossi It sounds like what you want would look more like:
[code]
This is still not ideal as mentioned above (what SQL would make `Place.joins(:locations)` work?) but relatively straightforward.

I would STRONGLY advise against the `fix_bug` strategy you proposed, as it will not work for anything that depends on associations outside of a single object (`joins`, `includes`, etc).

I did not quit

[2015-08-20 22:44] BenMorganIO commented on #19996
Hitting this issue as well. I don't think a GET /assets should return anything, except if there's an index.html file in there. And if you have an image called example and a resource called example in an assets namespace, it should load up the resource an only the image of you tack on say '.png' otherwise it should load the resource with .html, .xml, or .json

[2015-08-20 22:50] BenMorganIO commented on #19996
What we be more ideal for me at least is if there was an opt in to not receiving Method Not Allowed. This would be helpful, but for individuals with not enough rails knowledge of what /assets does vs their /assets, it could be a bad idea.

[2015-08-20 23:05] walterdavis commented on #19996
Look here: http://guides.rubyonrails.org/configuring.html#configuring-assets, specifically assets.prefix. Changing this to something other than assets should make this work without any issues.

Walter

On Aug 20, 2015, at 6:51 PM, Ben A. Morgan <notifications@github.com> wrote:

[2015-08-20 23:13] BenMorganIO commented on #19996
@walterdavis i think we're updating to `/assetz`. Just some thoughts I thought I'd leave. I think there is a way to make the assets url not reserved though.

[2015-08-21 06:26] tachyons commented on #20717
you are using the app fedena (https://github.com/projectfedena/fedena) which is written in ruby 1.8.7 . you can not run that app in ruby 2.2

[2015-08-21 08:51] senny commented on #21299
Fixed by https://github.com/rails/rails/commit/51211a94bd7a34d80f2412a7f94fefe7366647a5

[2015-08-21 08:51] #21299 closed

[2015-08-21 09:09] #21044 closed

[2015-08-21 11:06] bluebird-communication opened #21316 "Activerecord bug with reflection method in counter_cache_attribute_name"
When I use the inherited activerecord's methods (such has `empty?`) on my objects in my controller, it throws the error :

Despite my object has a valid Class with a valid ID (I checked it in my logger.debug).

The full trace showy activerecord as origine of this issue :

If I check lib/active_record/associations/collection_association.rb file on my gemset I got the following :

        def has_ca

[2015-08-21 13:36] matthewd commented on #21316
Rails 3.2 is no longer supported

[2015-08-21 13:36] #21316 closed

[2015-08-21 13:41] trak3r commented on #9516
I'm getting bit by this now as well.

I agree with @senny sentiment, "feel like this configuration is directly related to the fixture and not the TestCase" and also his suggestion for the declaration in the fixture file.

[2015-08-21 13:56] mmontossi commented on #21295
I notice something else, if I have some others associations like this:

[code]

Or any method using those associations:

[code]

I would have to move copy all of them to the descendants.

[2015-08-21 14:03] mmontossi commented on #21295
The fix_bug is temporary to study which would be the best solution, don't worry I know is REALLY dirty.

What I mean it by API was the ActiveRecord interface not an REST API, maybe it was not the most correct way to express it. Searching through the issue tracker I found some others issues about the type column in STI classes using the base class:

#4729
#5441

It sounded related to me, so I thoug

[2015-08-21 16:36] TaylorHG opened #21319 "Validating Circular Associations, replaces validations with generic ActiveRecord::RecordNotSaved error"
Given:

    def Node
      belongs_to :parent, class_name: :Node
      has_many :children, class_name: :Node, foreign_key: :parent_id
    end

I am trying to create a Validation to make sure that a Node cannot be it's own parent, or it's parent's parent, etc.

I got this:

    # Custom validator to check if the Parent Node is related to the current node. Avoids that ugly self-association loop.

[2015-08-21 17:05] ktimothy commented on #18629
But how to catch json parsing error?

[2015-08-21 22:40] atul-shimpi commented on #21224
Hello,
Just tried below with your test script.
Changed "get '/fails/@:user' => 'test#foobar'" to "get '/fails/@user' => 'test#foobar'" and the test case passed. Does this change helps you?

[2015-08-22 01:50] poc7667 opened #21325 "Mailer preview unknown error"
I got `NoMethodError (undefined method `multipart?' for true:TrueClass):`

here's my mail template, i can find any useful clue from the error message

![](https://i.imgur.com/HUkfT5J.png)

here's my mail template, i can send the mail by delivery method but can not preview it.

[2015-08-22 03:52] yui-knk opened #21326 "Should AR where support `db_name.table_name.column_name` to key of hash?"
Now `db_name.table_name.column_name` is not supported as key of hash

[code]

Sure when we add database_name as `AR.table_name` these method create valid SQL

[code]

But some gems use `table_name` as key
- https://github.com/mbleigh/acts-as-taggable-on/blob/master/lib/acts_as_taggable_on/taggable/core.rb#L319
- https://github.com/aasm/aasm/blob/master/lib/aasm/persistence/base.rb#L61

Should AR w

[2015-08-22 11:11] agis- commented on #21325
Can you try with the latest 4.2 release? If this doesn't do the trick, can you provide a sample app that reproduces the issue?

[2015-08-22 13:44] agis- commented on #21146
@jbodah I assume you set the eager load settings in `development.rb` and *not* `production.rb` (as your first comment states).

If that's the case, I'm guessing you also have `config.cache_classes` set to `false` since you're in development. Right?

From [Configuring Rails Applications](http://guides.rubyonrails.org/configuring.html):

So you should also turn on `config.cache_classes` and it will

[2015-08-22 15:35] yui-knk commented on #21296
ruby's bug is fixed via https://github.com/ruby/ruby/commit/629d26ef3a41cf585f92ac6d0d8b0a17a47c3daa

[2015-08-22 16:03] shireeshj opened #21330 "Support for Indian system in number_to_currency helper"
In India currency units are expressed somewhat differently. For example,

      In the USA | In India
      ----------------|-------------
    One Hundred Thousand (100,000)  | One Lakh (1,00,000)
    Million (1,000,000) | Ten Lakhs (10,00,000)
    Ten Millions (10,000,000) | One Crore (1,00,00,000)

As you can notice, number formatting changes a bit. Initial grouping of digits starts with 3 digit

[2015-08-23 01:49] poc7667 commented on #21325
Sure, thanks for your suggestion, i've upgraded to 4.2.3.and the exception changed to `undefined method `find_first_mime_type' for #<Hash` and here my app code https://gist.github.com/poc7667/395958fe40610310cbd3

[2015-08-23 12:57] agis- commented on #21325
I was talking about a sample (ideally stripped down) rails application that demonstrates the issue. It would certainly help to diagnose the problem.

[2015-08-24 01:55] francisco-rojas commented on #20738
I've been able to reproduce this.

Here are the failing tests. You can see the tests failing when using Rails 4.2.3 but passing when using Rails 4.0.9

[code]

I also tested this against master (just in case it was fixed already) and the issue is still persists. Here are the tests against master:

[code]

This is my first time trying to contribute to rails (actually any opensource project) so plea

[2015-08-24 02:46] huoxito commented on #20666
stumbled through it last week too, I think this could be a workaround in case you don't want to add per action `respond_to` (not sure the overhead it might cause though perhaps it's better to fix the issue before it hits rails server):

[code]

From what I could see `ActionController::UnknownFormat` is never raised unless you explicitly call `respond_to` at instance level. The difference I see in

[2015-08-24 08:28] thomassnielsen opened #21349 "Doc: Unexplained feature or bug in Active Record Query Interface begin_at doc example"
https://github.com/rails/rails/blame/master/guides/source/active_record_querying.md#L344

In the `Active Record Query Interface` guide, there is an example of using `begin_at` to split work between workers:

Either there is some sort of multi-worker locking going on behind the scenes (which should be explained here), or I misunderstand the usage described, or this usage would end in doing double w

[2015-08-24 09:11] senny commented on #21349
@thomassnielsen the examples given in the guides are not directly related to the sentence:

If you wanted to achieve this, you would have to use both `begin_at` and `end_at`.

The official guides (http://guides.rubyonrails.org) still mention `start` and not `begin_` because the change you mentioned is only present on `master` and will be part of Rails 5. The official guides represent the current l

[2015-08-24 09:15] senny commented on #21326
@yui-knk did you find the commit that changed how this works? Maybe there's some insight there why this change happened in the first place.

[2015-08-24 09:19] thomassnielsen commented on #21349
I see. It seems to be the case that `end_at` isn't a part of Rails 4 either (there is no `end_at` equivalent together with `start`). How would one achieve the multiple workers scenario that is described? I'd like to see the docs updated with a more complete example, or remove/replace it if it isn't easily explainable. For master/Rails 5 I guess adding an `end_at` example and updating the text to m

[2015-08-24 09:31] stevenkaras commented on #21224
Yeah, that doesn't pass. It will give you the standard 404 if you don't adjust the test cases to request %40user as well, and once you adjust it, it will happily throw the RoutingError.

In any case, this is an ActionDispatch bug. They should be unescaping the unreserved path section characters (: and @). I'd almost prefer to see support for this baked directly into Journey, so it can match based

[2015-08-24 09:39] senny commented on #21349
@thomassnielsen you're right, I'll take care.

[2015-08-24 09:50] #21349 closed

[2015-08-24 09:51] senny commented on #21349
I changed the guides both on `master` and `4-2-stable` to reflect this discussion. http://guides.rubyonrails.org will update once a new `4.2.x` release is out.

@thomassnielsen thank you for reporting :yellow_heart:

[2015-08-24 10:15] thomassnielsen commented on #21349
Awesome, thanks :smile:

[2015-08-24 11:42] biomancer opened #21352 "Where.not illogical behavour"
As stated in docs, and as it is in fact,

    User.where.not(name: "Jon", role: "admin")

is translated to

    SELECT * FROM users WHERE name != 'Jon' AND role != 'admin'

which is kind of strange, because `!(a && b)` is equivalent to `!a || !b`, not to `!a && !b`.

So correct negation of `where(name: "Jon", role: "admin")` condition is

    SELECT * FROM users WHERE name != 'Jon' OR role != 'adm

[2015-08-24 11:53] atulatgithub commented on #21224
@rafaelfranca - Do you have any comments?

[2015-08-24 12:47] #21223 closed

[2015-08-24 12:49] sgrif commented on #21352
You can build the negation you want using relation.or in Rails 5. A breaking change of this magnitude would not be accepted

[2015-08-24 12:49] #21352 closed

[2015-08-24 15:34] yui-knk commented on #21326
@senny  I found out [this commit change behavior](https://github.com/rails/rails/commit/fcc3cbc71f49f56ac5e4f4925c8c1114c08e54c5).

I added new test

[code]

and minor change to Gemfile

[code]

[code]

[code]

[2015-08-24 16:48] sgrif commented on #21326
We should definitely continue to make sure that this continues to generate invalid SQL and not silently do the wrong thing. That part should be easy to implement.

In terms of actually supporting this, I'm not a fan of allowing the db name in the string (or the dot notation in general for calls to where). One thing I am hoping to do is have `where` more specifically target the association, rather

[2015-08-24 17:39] rafaelfranca commented on #21315
Thanks! This test also fails on 4.2.3 so it is not a regression, so moving to 4.2.4 release.

I'll take a look on how to fix this case later.

[2015-08-24 18:00] anildigital opened #21357 "ActiveRecord saves records with invalid associations"
My friend @sahilm is facing below issue with Active Record. Creating this issue on behalf of him.

Original gist here https://gist.github.com/sahilm/77c921e9299fdcbfb772

[code]

[2015-08-24 18:15] elfassy opened #21358 "render and return"
Using Rails4.2

[code]

In the view, `@out == "after json"`
but

[code]

In the view `@out == nil`. It seems strange to me that in one case render returns and in another it doesn't. Am i missing something?

cheers!

[2015-08-24 19:19] johnpaulashenfelter commented on #21357
@anildigital @sahilm  can you verify which version(s) of active_record you are using?

[2015-08-24 19:29] al2o3cr commented on #21358
@elfassy - where exactly is the code you're describing as "in the view" in the first example? Rendering a template after the `render json:` call will (I believe) give a `DoubleRenderError`.

In the second case, the behavior is as expected - the call to `render` runs immediately, so instance variables set afterwards are naturally unavailable.

[2015-08-24 19:33] al2o3cr commented on #21357
The autosave mechanism will persist models even if they aren't valid unless explicitly told with `validate: true`:
[code]

[2015-08-24 19:44] johnpaulashenfelter commented on #21357
+1 @al2o3cr

The address *is* present, which is what `presence: true` checks. The `user` definitely has an address when you call `.save!` in your example, its just not valid and there's no code that shows you have to check the validity.

http://guides.rubyonrails.org/association_basics.html has some details, section 4.1.2.9 for example.

[2015-08-24 20:39] kaspth commented on #21228
On second thought `I18n.load_path` is how other libraries should extend the load path. So modifying `will_paginate` is the way to go.

[2015-08-24 20:39] #21228 closed

[2015-08-24 20:43] schneems commented on #21228
Mislav still maintains it but "no more big releases" https://twitter.com/mislav/status/633847149936013313

[2015-08-24 21:11] sgrif commented on #21357
From the same guide that you just linked to, documenting the `has_one` association:

This is the expected behavior. You can fix it by changing `has_one :address` to `has_one :address, validate: true`

[2015-08-24 21:11] #21357 closed

[2015-08-24 21:12] sgrif commented on #21357
Also just to be clear since you mentioned a different part of the guide, you were pointing to the behavior of `belongs_to`, which has different behavior.

[2015-08-25 00:07] subimage commented on #12114
This is still happening in 4.0.13

[code]

[code]

[2015-08-25 02:22] agrimm opened #21364 "Error in documentation about ActiveRecord::Enum"
The documentation about ActiveRecord::Enum has an error.

It has

    # conversation.update! status: 1
    conversation.status = "archived"

indicating that `conversation` gets saved when the method is called (because of the bang in `update!`), but `conversation` doesn't get saved.

I haven't submitted a pull request, because I haven't checked whether the rest of the documentation is correct.

[2015-08-25 03:26] rafaelfranca commented on #21364
You are right. Could you send a PR? Only this case and the `nil` case are wrong.

[2015-08-25 03:47] agrimm commented on #21364
Ok, will do.

[2015-08-25 04:24] #17289 closed

[2015-08-25 04:27] #17592 closed

[2015-08-25 04:28] #17129 closed

[2015-08-25 04:29] #17562 closed

[2015-08-25 04:31] rafaelfranca commented on #17937
@tenderlove @matthewd you may be interested on fixing this since it is related to your project, so I'll keep it open.

[2015-08-25 04:32] #17955 closed

[2015-08-25 04:37] rafaelfranca commented on #17577
@sgrif lets talk about how to fix this issue, it is one of things we should change at Rails 5

[2015-08-25 04:41] rafaelfranca commented on #17661
Closing given it was indeed the expected behavior see https://github.com/rails/rails/pull/18024#commitcomment-8975180

[2015-08-25 04:41] #17661 closed

[2015-08-25 04:54] rafaelfranca commented on #16139
@sgrif bot will close but if you disagree please reopen and add the "With reproduction steps" tag.

[2015-08-25 04:54] #16139 closed

[2015-08-25 05:01] rafaelfranca commented on #16863
Since Rails 4.2 fix the issue I'll close it. Rails 4.1 is not our priority maintenance version anymore

[2015-08-25 05:01] #16863 closed

[2015-08-25 05:20] #18115 closed

[2015-08-25 05:25] rafaelfranca commented on #18555
It happens because when you call `ApplicationController` in a initializer it load the ActionController before action_view helpers and hooked. Yeah, it is not possible to use this right now.

[2015-08-25 05:25] #18555 closed

[2015-08-25 05:28] rafaelfranca commented on #18549
https://github.com/rails/rails/pull/18668#issuecomment-71299257

[2015-08-25 05:28] #18549 closed

[2015-08-25 05:29] #18730 closed

[2015-08-25 05:30] #18811 closed

[2015-08-25 05:34] rafaelfranca commented on #17117
@jvanbaarsen correct! Thanks :smile:

[2015-08-25 05:35] #17435 closed

[2015-08-25 05:39] #18855 closed

[2015-08-25 05:42] #14493 closed

[2015-08-25 05:42] #18608 closed

[2015-08-25 05:42] #18929 closed

[2015-08-25 05:45] rafaelfranca commented on #18988
Hey @arnodirlam sorry for the delay. If you are still interested on writing a patch I'd recommend you to start with a reproduction script like this one https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb. If you can reproduce we can try to isolate the place of the code that could be changed to fix this. Thanks you for the report.

[2015-08-25 05:48] #18983 closed

[2015-08-25 05:48] rafaelfranca commented on #18983
@andremedeiros sorry bro, the bot closed your issue. Let me know if we need to reopen.

[2015-08-25 05:49] #19056 closed

[2015-08-25 05:49] #19079 closed

[2015-08-25 05:51] #18978 closed

[2015-08-25 05:51] #17428 closed

[2015-08-25 05:52] #16939 closed

[2015-08-25 05:52] #19287 closed

[2015-08-25 05:56] #19392 closed

[2015-08-25 05:57] #14963 closed

[2015-08-25 05:58] #19305 closed

[2015-08-25 05:59] #1627 closed

[2015-08-25 06:02] #9940 closed

[2015-08-25 06:06] PikachuEXE commented on #19882
@phallguy Can you still reproduce this issue on 4.1/4.2/master?

[2015-08-25 06:29] Sega100500 opened #21367 "RoR 4.2.4: Custom fonts not loaded in production"
1. In config/environments/production.rb
config.assets.compile = true

2. fonts directory structure:
app/assets/stylesheets/_fonts.scss:
@import "font/RobotoBold.css";

app/assets/stylesheets/font/RobotoBold.css:
@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto/RobotoBold.eot');
    src: url('Roboto/RobotoBold.eot') format('embedded-opentype'),
         url('Roboto/RobotoBold.woff2'

[2015-08-25 06:35] rafaelfranca commented on #21367
I don't see how this was working in any version of Rails 4 because the fonts urls are not using the assets helpers. Could you change your css to use the assets helper and report back if is still an issue? Thanks

[2015-08-25 06:42] Sega100500 commented on #21367
@rafaelfranca
You are idiot? Many sorry!...
I SAY - In RoR 4.2.3 ALL WORK FINE!
I just updated to 4.2.4 and fonts are not displayed
In ALL versions (include ALL Rails 4 before 4.2.4) it WORK!

[2015-08-25 06:50] Sega100500 commented on #21367
@rafaelfranca
In config/initializers/assets.rb
Rails.application.config.assets.precompile += ['*.js', '*.css', '**/*.js', '**/*.css']

Why I need to REWRITE MANY .css files (of fonts) generated by generator to use in RoR 4.2.4. Just because someone turned curves hands.

[2015-08-25 06:52] rafaelfranca commented on #21367
Sorry, Rails 4.2.4 didn't changed anything about the assets pipeline, in fact Rails is not even responsible for that, so I'm pretty sure it was not the Rails release. Like I said, the code you posted is not supposed to work because your css has `url` calls pointing to non digested assets. That is not supported since sprockets-rails 2 that was released with Rails 4. If you want to check that create

[2015-08-25 06:52] tgxworld commented on #19472
This has not been fixed.

[2015-08-25 06:55] Sega100500 commented on #21367
@rafaelfranca
I have many projects! Rails 3, Rails 4 - ALL works!
I just updated to 4.2.4 and it NOT WORKING

Miracles?

[2015-08-25 06:56] rafaelfranca commented on #21367
Could you post the gemfile.lock diff when you updated to Rails 4.2.4? It may be related to other gem

[2015-08-25 06:56] rafaelfranca commented on #21367
(the gemfile content would help too)

[2015-08-25 07:00] Sega100500 commented on #21367
@rafaelfranca
Gem.lock
GEM
  remote: https://rubygems.org/
  specs:
    actionmailer (4.2.4)
      actionpack (= 4.2.4)
      actionview (= 4.2.4)
      activejob (= 4.2.4)
      mail (~> 2.5, >= 2.5.4)
      rails-dom-testing (~> 1.0, >= 1.0.5)
    actionpack (4.2.4)
      actionview (= 4.2.4)
      activesupport (= 4.2.4)
      rack (~> 1.6)
      rack-test (~> 0.6.2)
      rails-dom-testing (~>

[2015-08-25 07:01] Sega100500 commented on #21367
@rafaelfranca
source 'https://rubygems.org'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '~> 4.2.0'
# Use mysql as the database for Active Record
gem 'mysql2'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 5.0'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '>= 1.3.0'
# Use CoffeeScript for .coffee assets and views
gem 'coffee-rails', '~> 4.1.

[2015-08-25 07:03] rafaelfranca commented on #21367
Could you confirm that sprockets upgraded from 2 to 3.3?

[2015-08-25 07:06] Sega100500 commented on #21367
@rafaelfranca
In Gemfile.lock
sprockets (3.3.3)

[2015-08-25 07:07] rafaelfranca commented on #21367
It was 2.x.x before the Rails upgrade?

[2015-08-25 07:12] Sega100500 commented on #21367
@rafaelfranca
No!
It along time ago upgraded
in 4.2.3 already sprockets 3.3.3

[2015-08-25 07:14] Sega100500 commented on #21367
@rafaelfranca
Ok!
I do not want to argue.
How do I change the url in .css fonts files for everything to work properly?

[2015-08-25 07:14] rafaelfranca commented on #21367
Right! Thanks for all information, I'll try to reproduce in a new application later

[2015-08-25 07:15] Sega100500 commented on #21367
@rafaelfranca
Now I need to all works
What I do change in fonts css files? url?

[2015-08-25 07:34] rafaelfranca commented on #21367
I create a test application but could not make it fail https://github.com/rafaelfranca/fonts_test. Could you check it and change what is required to make it fail?

[2015-08-25 07:39] Sega100500 commented on #21367
@rafaelfranca
In production mode it work ? Correct display Roboto font ?

[2015-08-25 07:39] rafaelfranca commented on #21367
Yes. You can try yourself

[2015-08-25 07:45] Sega100500 commented on #21367
@rafaelfranca
without 'rake assets:precompile' ?
with 'rake assets:precompile' it work for me, but I need WITHOUT it.

[2015-08-25 07:47] rafaelfranca commented on #21367
I'll try that too

[2015-08-25 07:52] rafaelfranca commented on #21367
Updated the repository and now I can reproduce even with Rails 4.2.3, can you check if that is the behavior that you are seeing?

[2015-08-25 07:53] Sega100500 commented on #21367
@rafaelfranca
Very strange! I like the same thing, but it is not working.
Do not remove until https://github.com/rafaelfranca/fonts_test. . I'll check what's wrong in my app.

[2015-08-25 08:33] Sega100500 commented on #21367
@@rafaelfranca
I create new RoR 4.2.4 app
Result - font not loaded in production

application.css:

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced her

[2015-08-25 08:35] Sega100500 commented on #21367
@rafaelfranca
http://ft.inet777.pro/

[2015-08-25 08:38] andremedeiros commented on #18983
That's absolutely fine, @rafaelfranca. I'll ping you if I can come up with a small replication example.

[2015-08-25 08:43] BenMorganIO commented on #19834
I believe this still reproduce-able.

[2015-08-25 09:13] agis- opened #21370 "Session cookie deserializing throws error after upgrade to 4.1"
I'm in the process of upgrading a mature Rails app from 3.2 to 4.2 and stumbled upon an issue when upgraded from 4.0 to 4.1.

I've set the Marshal serializer and haven't set `config.secret_key_base` at all, in order to preserve the very-same behavior we had with 3.2:

[code]

Now, as soon as I switch to the Rails 4.2 branch and try to write something in the session, I get:

[code]

I've inspected

[2015-08-25 10:05] Sega100500 commented on #21367
After 'rake assets:precompile' all work. But! In config/initializers/assets.rbconfig/initializers/assets.rb I wrote config.assets.compile = true
It may still be a problem that can not be found, these files?

[2015-08-25 10:15] Sega100500 commented on #21367
HOW I can made SAME behavior of application in development and production mode WITHOUT run 'rake assets:precompile' every time?

[2015-08-25 11:15] Sega100500 commented on #21367
I find difference!
When I wrote in _fonts.scss:
@import "font/RobotoBold.css";
it work only in development mode with font/RobotoBold.css:
[code]

When I wrote @import "font/RobotoBold"; // WITHOUT extension
it work in development and production mode, BUT with font/RobotoBold.css:
[code]

It is with in assets.rb initializer:
[code]

Very, VERY STRANGE behavior!
Perhaps, after all, this is a BUG?

[2015-08-25 11:32] #21364 closed

[2015-08-25 12:16] meinac commented on #19834
I've opened a pr for this and @rafaelfranca is working on it.

[2015-08-25 12:19] Sega100500 commented on #21367
Two different directives:
@import in scss
and
@import in css

When I write @import in css file, it work only for development mode properly.
@import "file_name" in scss is only "_file_name.scss" must be.

Maybe I'm wrong, but directive in css-file @import "filename.css" must be acessible to /assets/filename.css in production mode.

[2015-08-25 12:24] mkhairi commented on #21367
@Sega100500  it seems like sass v3.4.17 bug. i having the same issue. rollback to 3.4.16 will fix this.

[2015-08-25 12:31] Sega100500 commented on #21367
When I run 'rake assets:precompile' all work fine! But!!! !n config/initializers/assets.rb I wrote:
**config.assets.compile = true**
All @import "file.css" in css-file work fine.
Whats the f*ck?!!! Sorry... Whats the BUG?!

[2015-08-25 12:34] Sega100500 commented on #21367
@mkhairi
In Gemfile:
# Use SCSS for stylesheets
gem 'sass-rails', '~> 5.0'
In Gemfile.lock
sass (3.4.17)

How I can rollback?

[2015-08-25 12:35] mkhairi commented on #21367
@Sega100500 you can edit manually in Gemfile.lock then run ```bundle```

[2015-08-25 12:35] seuros commented on #21367
This discussion started to degenerated.
@Sega100500 , if you can't keep your calm, i advice you to take some lesson of Yoga, there is a teacher in GTA 5.
[code]
bundle update sass

[2015-08-25 12:40] Sega100500 commented on #21367
@mkhairi
Yes. It fix problem

@seuros
Thanks!

[2015-08-25 12:45] Sega100500 commented on #21367
https://github.com/sass/sass/issues/1810

[2015-08-25 12:59] Sega100500 commented on #21367
But it bug sass only in Rails 4, in Rails 3 all work properly.
Whose is it still wrong?

[2015-08-25 13:00] kuldeepaggarwal commented on #19490
The issue is still present.

[2015-08-25 13:41] pixeltrix commented on #21370
@agis- can you drop into pry in this method: https://github.com/rails/rails/blob/v4.1.2/actionpack/lib/action_dispatch/middleware/cookies.rb#L421-L431 and tell use the value of `serializer`, `name` and `value` - thanks.

[2015-08-25 13:55] JasonHerr commented on #19784
https://github.com/rails/rails/pull/19788 seems to be up to date with this branch according to github and covers this issue.

[2015-08-25 14:04] rafaelfranca commented on #21367
Closing since it is a sass bug.

[2015-08-25 14:04] #21367 closed

[2015-08-25 14:15] agis- commented on #21370
@pixeltrix The code does not even reach that method.

Note that this happens even when I'm just trying to access the session in a middleware like so:

[code]

Here's a complete backtrace of the exception:

[code]

[2015-08-25 14:23] agis- commented on #21370
@pixeltrix Just realized this was a nasty monkeypatch I knew nothing about. Duh! :tired_face:

Sorry for the fuss and thanks for your time! :)

[2015-08-25 14:23] #21370 closed

[2015-08-25 14:38] JohnColvin opened #21373 "[]"

[2015-08-25 14:41] #21373 closed

[2015-08-25 14:43] JohnColvin commented on #21373
Why was this closed and all the content removed?

[2015-08-25 14:43] rafaelfranca commented on #21373
Please see http://rubyonrails.org/security/ and follow the instructions

[2015-08-25 14:44] JohnColvin commented on #21373
Thanks :smile:

[2015-08-25 15:26] pixeltrix commented on #21370
@agis- thanks for coming back and closing - saves us wondering what happened :smile:

[2015-08-25 16:17] phallguy commented on #19882
Yes the problem still persists. 4.2.3 in fact is even worse and has even more cases where the order in which the relations are scoped leaks state into the global context and breaks the resulting query. Unfortunately while the caching added by adequate record provides a welcome speed improvement, it introduces many failing edge cases due to it's dependence on global state.

[2015-08-25 16:26] hackeron opened #21376 "Rails 4.2.3 Mailers#preview + inline attachment not displaying"
This is in my mailer:

[code]

This is in my mailer preview file:

[code]

In my template file I have:

[code]

When going to http://localhost:3000/rails/mailers/user_mailer/new_sign_in in the browser, instead of seeing an image, I see this:

[code]

However, if I run UserMailer.new_sign_in(user, timeline_name).deliver_now with the 'letter_opener' gem installed, I can see a correct preview of the

[2015-08-25 16:30] hackeron commented on #21376
It seems creating a new initialiser file with this does the trick:

[code]

[2015-08-25 16:30] #21376 closed

[2015-08-25 16:42] pixeltrix commented on #21376
@hackeron yes, since it's implemented as preview interceptor it's disabled by default in 4.2 for backwards compatibility and enabled by default in Rails 5.

[2015-08-25 16:51] Sega100500 commented on #21367
@rafaelfranca
Then why is it manifested itself only in version RoR 4.2.4?
Coincidence?

[2015-08-25 17:06] rafaelfranca commented on #21367
Because when you update Rails it also update sass. I could reproduce this same problem with Rails 4.2.3 so it is not related to Rails 4.2.4

[2015-08-25 17:32] Sega100500 commented on #21367
@rafaelfranca
That is, you still got to reproduce the problem? You said that everything works.

[2015-08-25 17:35] rafaelfranca commented on #21367
Yeah, I could. My last commit on that application was reproducing the problem.

[2015-08-25 18:47] elbarto132 commented on #16194
ruby: 2.2.2
rails: 4.2.4
the problem still exists

[2015-08-25 20:12] chriseppstein commented on #21367
Fixed in sass 3.4.18 which was just released.

[2015-08-25 21:48] TaylorHG commented on #21319
Anyone?

[2015-08-25 22:17] rafaelfranca commented on #21319
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-08-25 23:53] RobinClowers opened #21378 "ActiveSupport instrumentation doesn't report cache hits with fetch"
Subscribing to the `cache_read.active_support` event only provides the `hit` payload key if you use `read`. If you use `fetch` you get the event, but you can't tell whether it was a hit or not, and the docs don't reflect this.

[2015-08-26 00:00] philbattos commented on #11415
I was seeing duplicate logs in development but i discovered that it was caused by these two gems: ```rails_12factor``` and ```rails_stdout_logging```. I added them based on [Heroku's recommendation](https://devcenter.heroku.com/articles/ruby-support#injected-plugins). When i removed them, everything worked great. (I'm going to keep using the gems but i thought this info might help someone.)

[2015-08-26 02:54] arianf opened #21379 "Rails should allow the same top level sub directory for paths and assets."
Rails does not like when a route path and the asset directory are in the same subdirectory.

You will get `method not allowed`. The problem is there can be no overlap with paths and the asset directory.

---

In this very simple app below, you will get a `method not allowed` error. Because the path `/welcome` is being used for a route and for an asset prefix.

**File: `config/environment/developme

[2015-08-26 03:20] arianf commented on #21379
I forgot to mention, this problem is specifically with `POST` requests in that path. I am assuming somewhere in rails, you guys must have disabled all non-GET requests for the assets directory.

[2015-08-26 08:43] atomless opened #21381 "Requiring ordered_hash.rb breaks normal ruby YAML parsing!"
I discovered this issue when including the Grape gem in my project. See the issue report here : https://github.com/ruby-grape/grape/issues/1123

[2015-08-26 10:23] sintro commented on #20834
a

[2015-08-26 12:52] jeremyf opened #21383 "ActionController::TestSession #fetch fails even if #key? exists"
The following Rails code fails (with a `KeyError` exception) under test:

[code]

When I check the session's keys (`session.keys`), I get an array of strings. If I access `session[:user_strategy]` I get the expected `'email'` value. However if I use `session.fetch(:user_strategy)` I get the `KeyError` exception.

This appears to be a Rails 4.2.4 regression (as the code worked under Rails 4.2.3).

[2015-08-26 15:19] TaylorHG commented on #21319
Thanks for responding! Here is the test: https://gist.github.com/TaylorHG/d0736567612beee22c97

[2015-08-26 17:24] arianf commented on #5122
This still doesn't 100% work.

[2015-08-26 17:32] joealba commented on #5122
The implementation introduced a regression as well -- https://github.com/rails/rails/issues/20920

A test app to show the regression and a pull request for a new fix are included in that issue.

[2015-08-26 18:56] arianf commented on #21379
Okay, so I figured out what was going on.

`config.assets.prefix = '/test123/assets'` is the correct way to do it

[2015-08-26 18:56] #21379 closed

[2015-08-26 20:17] alexhanh opened #21390 "establish_connection not working via class method"
[code]

In the production console we run:

[code]

However, this not query the slave (we check the Postgres logs). But doing `PG.conn(...).exec("SELECT COUNT(*) FROM users;")` works and gets executed in the slave. Is this a bug or are we doing something wrong? Please advice!

We are on Rails 4.2.4. Let me know if I can provide any further details.

[2015-08-26 20:49] #21390 closed

[2015-08-26 22:19] eiked opened #21391 "changing ActionController::Parameters#to_h was a desaster"
I updated rails (from 4.x to 4.2.3)
I believe ActionController::Parameters#to_h was changed.

That change was a real desaster for my code.
It broke about every assumption.

I fully understand why this is a good and valuable change.
But for my code it just broke quite everything.
And such breaking change should not be done in a minor version update.

I tried to change my code to use #to_unsafe_h,
b

[2015-08-26 23:31] EddM commented on #21307
#21329 *should* fix this

[2015-08-27 00:22] mmontossi commented on #10658
This is still broken on rails 4.2.4?

Test case: https://gist.github.com/mmontossi/b6aa5718b21eb8e43e9c

[2015-08-27 01:17] enknamel commented on #18988
I'm running into this same issue. Here is a very contrived gist that will show incorrect behavior with counter_cache. Counter caches appear to be incorrectly relying on the id of a record rather than the the stated primary key of the relation. It will use the listed primary key for some queries and then use the primary key value for the id of the record even though this isn't correct to do.

https

[2015-08-27 04:58] shireeshj commented on #21330
I realized I am not supposed to make feature requests here. I have dropped an email to the rails core group mailing list as recommended by the guide. In the meanwhile, I have also make code change and submitted a PR  #21394

[2015-08-27 05:51] zw963 opened #21395 "ActiveRecord index: true in Rails 4.2 pg 9.4.1"
When create a table in migrate, follow definition is valid.
[code]
I found this create a `btree index` for this `data` jsonb field, not `gin` or `gist`.

I think those should be a misusage for index: true ?

Or just `index: true` will autoselect the best index for me, `btree` is  the best result for this case?

Thanks

[2015-08-27 09:49] eavgerinos opened #21397 "Option to disable triggering after_(commit|rollback) callbacks for belongs_to with touch: true"
Back in Rails 3.2 the `touch: true` option didn't trigger any of the `after_commit` or `after_rollback` callbacks.

The above behavior, was [changed in Rails 4](https://github.com/rails/rails/pull/12031), and now, when touching a model, it triggers `after_commit` and `after_rollback` callbacks.

I believe, since many applications are still running on Rails 3.2 and are based on its conventions, tha

[2015-08-27 09:57] agis- opened #21398 "url_for throws UrlGenerationError in view spec after upgrading to Rails 4.0"
*This is cross-posted to https://github.com/rspec/rspec-rails/issues/1451*.

Not sure if this is a Rails or an RSpec issue but here I go.

In the process of upgrading to Rails 4.0.12 from 3.2, I've encountered some test failures that I believe are related to https://github.com/rails/rails/commit/dc663dd52c99ab6e6c633b54d1a0e836f379bf9f.

I have the following (stripped down) view:

[code]

and the

[2015-08-27 10:29] eddiej commented on #5982
The reproduction above that closed the issue uses the sqlite3 adapter. The original test case, using the mysql2 adapter, is still failing. @stevenchanin did you manage to resolve this in another way?

[2015-08-27 10:31] olegantonyan opened #21399 "autosave: true + protect_from_forgery with: :null_session causes saving invalid record"
Hi! I have a very strange bug.
I'm using gaffe gem (https://github.com/mirego/gaffe) to intercept all errors and display them nicely. It uses special controller for errors. But I think it's an issue with rails rather than gaffe (please, correct me I'm wrong).
So, I have `User` model and `Profile`:
[code]
[code]
Also I have api controller to update the profile
[code]
And my `ApplicationController`

[2015-08-27 11:19] guyaloni opened #21400 "Url helper raises “ArgumentError: wrong number of arguments (3 for 1..2)”"
We are upgrading our Rails app from 4.1 to 4.2.

While this code works great in 4.0 and 4.1:

    root_url(:subdomain => 'www')

When I try it on 4.2.3 I get this error:

    ArgumentError: wrong number of arguments (3 for 1..2)

I checked it several time in console, running this code:

    include Rails.application.routes.url_helpers
    default_url_options[:host] = "localhost"
    root_url

Our

[2015-08-27 12:16] #21383 closed

[2015-08-27 12:24] carlosantoniodasilva commented on #21400
It looks like [`subdomain-fu`](https://github.com/mbleigh/subdomain-fu/blob/3752799a02c0e18abd0a1bfb422925e880dc754e/lib/subdomain_fu/url_rewriter.rb#L6) needs to be updated to reflect the new signature, since it's monkey patching Rails with `alias_method_chain`.

In any case, I don't think you should need to use this lib anymore, Rails has improved a lot the support for subdomains, so unless you

[2015-08-27 12:24] #21400 closed

[2015-08-27 12:46] senny commented on #5982
@eddiej just ran my test-case using `mysql2` against `master` and it passes:

[code]

Can you reproduce the error modifying my gist?

[2015-08-27 13:08] senny commented on #21395
@zw963 `index: true` behaves the same way as `add_index` does. By default this means a basic `CREATE INDEX` statement. If you want something different you need to supply the `:using` option (eg. `add_index(:developers, :name, using: 'gin')`)

In your example this translates to `t.jsonb :data, index: {using: "gin"}`.

`add_index` has no logic based on the column type and I think we should keep it t

[2015-08-27 13:08] #21395 closed

[2015-08-27 13:15] zw963 commented on #21395
Cool ! , Thanks a lot.

[2015-08-27 13:42] sevenseacat commented on #21397
its a bit late to bring this in, isn't it? The behaviour was changed a full two years ago.

[2015-08-27 14:06] tonywok opened #21404 "Support for logging nested exceptions"
Rails doesn't seem to have support for logging nested exceptions. As you may know, a feature was added to ruby in version 2.1 to aid in supporting this. You can read about it here: http://devblog.avdi.org/2013/12/25/exception-causes-in-ruby-2-1/

At work, we use a tool called sentry to report errors in staging and production. Their client gem has support for unraveling nested exceptions. You can s

[2015-08-27 14:19] kaspth commented on #21404
We don't accept feature requests on the issue tracker, as we reserve this for bugs only. Please email the rails-core mailing list.

In this case I think you wouldn't be wasting your time, as I can't see what strong opposition there would be about this. Especially as Rails 5 supports Ruby 2.2+ we wouldn't even need any conditions :grin:

Thanks

[2015-08-27 14:19] #21404 closed

[2015-08-27 14:54] zerothabhishek commented on #21319
Hello @TaylorHG

I tried the test code you provided, and the statement that fails is this one:

    comment.update(parent_id: comment.id, child_ids: ["#{comment.id}"])

And as far as I figured out, the following would also fail with same error:

     node.child_ids = [node.id]
     node.children = [node]

In fact the above would also raise the error for any validation failing for the child nodes.

[2015-08-27 15:05] stevenchanin commented on #5982
@eddiej I'm sorry, but I don't recall. This problem came up with a project to replace a PHP site with Rails. Ultimately, we got all the PHP code retired, switched to real tables (not views) that followed Rails naming conventions and then it was no longer an issue.

[2015-08-27 15:24] tonywok commented on #21404
@kaspth Gotcha, thanks for the response and apologies. I read the contributing guide and must have missed that bit - will direct feature requests to mailing list going forward.

[2015-08-27 18:35] claudiob opened #21407 "The new ActionController::Parameters does not work well with STI (as it used to)"
Hello :ribbon:

I found that the change in the inheritance of  ActionController::Parameters from Hash breaks the use-case of creating a new instance of an ActiveRecord, whose subclass is specified by the user.

[I created a gist which fails on master](https://gist.github.com/claudiob/1257599ba9c704e9260d) but works the current Rails 4.2.3 is used instead.

---

Here is the use-case I'm talking abo

[2015-08-27 18:38] claudiob commented on #21407
If anyone is experiencing the same issue, I'd like to add that adding `.to_h` to the params makes the issue go away:

[code]
 However, I still wonder if this is an intended consequence of #14384 or something that needs to be changed. @sikachu ?

[2015-08-27 20:19] matthewd commented on #21407
That's a bug.

[2015-08-28 00:14] radar commented on #21168
I have a Rails 4.2.3 application which reproduces this issue: https://github.com/radar/rails-21168. If you comment out these lines in `config/initializers/mime_types.rb`, the test will break:

[code]

(There might be a shorter way of writing that first line, but I haven't looked too deeply into it.

So what I think needs to happen is that Rails needs to be configured to automatically `JSON.parse`

[2015-08-28 00:55] sgrif commented on #21330
https://github.com/rails/rails/pull/21394#issuecomment-135594086

[2015-08-28 00:55] #21330 closed

[2015-08-28 02:06] kevinkaske commented on #5982
I have reproduced the error with the mysql2 adapter: https://gist.github.com/kevinkaske/60dae38ffc386beb5099

I changed the field in the view from manufacturer_id to id and then run a test to make sure the id is > 0

[2015-08-28 02:29] djhopper01 commented on #21193
@lukehorvat have you seen #4308? It's a little bit old, but there might be something that helps. It talks about SCRIPT_NAME which is also mentioned in the Rails docs.

According to [the docs on redirect](http://api.rubyonrails.org/classes/ActionDispatch/Routing/Redirection.html), it's supposed to work as you'd expect. Basically, it should know you've deployed the app to a subdirectory and take tha

[2015-08-28 02:34] claudiob commented on #21407
@matthewd I investigated, and here's the reason why is the `is_a?(Hash)` check from [active_record/inheritance.rb#L195](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/inheritance.rb#L195):

[code]

[2015-08-28 04:07] rafaelfranca commented on #21397
Yeah, also it make sense to trigger the callbacks

[2015-08-28 04:07] #21397 closed

[2015-08-28 08:01] frenkel opened #21418 "rename_table is broken on PostgreSQL when the schema_search_path contains dots"
The following will fail when using a schema with dots in it's name, because the quotes are not around the schema name.

config/database.yml:

    adapter: postgresql
    user: example
    database: example
    schema_search_path: '"test.example.com"'

db/migrate/20150827142257_rename_table.rb:
[code]

Result:
[code]

After some debugging I found out that `pk_and_sequence_for` will return `'test.ex

[2015-08-28 08:55] lukehorvat commented on #21193
@djhopper01 Thanks. [This doc](http://api.rubyonrails.org/classes/ActionDispatch/Routing/Redirection.html) states that `SCRIPT_NAME`  will be used if the leading slash is omitted. But I've tried it, and it doesn't seem to do so. Not sure why... :neutral_face: Anyway I'm not particularly interested in defining new environment variables like `SCRIPT_NAME`, because `mount` and `redirect` should share

[2015-08-28 09:00] senny commented on #21418
@frenkel thanks for reporting, I'll have a look.

[2015-08-28 09:10] frenkel commented on #21418
Great, thanks for the fast reply. For now I've switched to schema without dots in their names and that works fine.
Keep up the good work!

[2015-08-28 09:16] senny commented on #21418
After some preliminary testing I think this problem is not only related to `rename_table` but how we most of the places we use a schema. For example `create_schema` didn't work...

I'll look some more to find out how much of a change this would be.

[2015-08-28 09:42] frenkel commented on #21418
Didn't know about the `create_schema` method, I've always created them with a query like `CREATE SCHEMA "test.example.com"`.

[2015-08-28 13:03] radiohead opened #21419 "[3.2.22] Self-join associations return wrong results for new records"
I am not sure if this is a bug or just something that should be documented.

Consider the following scenario:

[code]

And if I create a new `Node` which is not persisted yet and will try to access the association:

[code]

That will result in the following SQL query:

[code]

that will (probably) return some `Nodes`

This issue is easily solved by asking if we're dealing with `new_record?` but I

[2015-08-28 14:00] #21418 closed

[2015-08-28 14:00] senny commented on #21418
I pushed a fix to `master` that fixes `create_schema`, `drop_schema` and `rename_table`.

[2015-08-28 14:22] frenkel commented on #21418
Great, thank you very much! Will this become available in 4.2.5?

[2015-08-28 14:24] senny commented on #21418
@frenkel not sure yet. I need to investigate further wether this was the whole story or if we need further adjustments to fully support schemas with ".". If that is the whole patch, a backport seems reasonable.

[2015-08-28 16:22] maclover7 commented on #20612
All of these repos say they are being deprecated when 5.0 ships:
- https://github.com/rails/activerecord-deprecated_finders
- https://github.com/rails/prototype-rails
- https://github.com/rails/rails-deprecated_sanitizer

As well, all of these projects (see below) have semi-uncertain futures. Should everything extracted in 4.0 to a gem be deprecated when 5.0 comes out, or should it be supported un

[2015-08-28 16:43] sgrif commented on #20612
If the gem doesn't specifically say that it'll be supported until X version, we have no plans to stop supporting it at this time.

[2015-08-28 16:46] eddiej commented on #5982
@senny if you create the Manufacturers table with an id primary key, and create the view to select this id (instead of using manufacturer_id), the test cases fail using the mysql2 adaptor. I'll post a gist shortly.

[2015-08-28 17:56] stevenchanin commented on #5982
@eddiej Nice job creating such a clean & simple test.

[2015-08-28 20:44] rafaelfranca commented on #21419
Thank you so much for the issue but Rails 3 is no supported anymore. Does it happen on Rails 4.2?

[2015-08-28 20:47] rafaelfranca commented on #20612
journey is deprecated since Rails 4.2. But the others will still be supported

[2015-08-28 21:22] maclover7 opened #21422 "Rails master is un-Bundleable"
When trying to listing Rails master in my Gemfile (`gem "rails", github: "rails/rails"`), Bundler cannot resolve Rails' dependencies due to that ActionPack relies on the unreleased Rack 2.0. This is the [trouble line](https://github.com/rails/rails/blob/master/actionpack/actionpack.gemspec#L24).

Here's the backtrace:

[code]

Can we revert [this commit](https://github.com/rails/rails/commit/51211

[2015-08-28 21:27] tenderlove commented on #21422
We can't just revert that change.  Rails master depends on changes that were made in Rack master.  Rack master is not backwards compatible with 1.6, so I don't feel comfortable changing the version in Rack either.

[2015-08-28 21:31] maclover7 commented on #21422
Do you know when Rack 2.0 is being released? I'm just concerned that people trying to test their apps (like I am) on master, aren't able to bundle install.

[2015-08-28 21:33] rafaelfranca commented on #21422
To get an application running against Rails master you need to declare all the dependencies on your Gemfile. There is a generator for that in the Rails repository.

[code]

This is the only supported way to test their applications on master.

[2015-08-28 21:33] #21422 closed

[2015-08-28 21:49] maclover7 commented on #21422
:+1: ok. Is this documented in the guides anywhere? Didn't see it in http://guides.rubyonrails.org/upgrading_ruby_on_rails.html

[2015-08-28 21:51] rafaelfranca commented on #21422
Upgrading guide is only for released gems, when Rails master is done you don't need to worry about this, it will be smooth as changing the version on the Gemfile. This "testing edge Rails" workflow is not documented thought, only in the `rails new` output.

[2015-08-28 21:55] maclover7 commented on #21422
:+1: ok

[2015-08-28 22:12] schneems commented on #21422
You can see what code we generate when you  `rails new` here: https://github.com/rails/rails/blob/d12daa4b3370447e55710cadf7579d1b96cdfcad/railties/lib/rails/generators/app_base.rb#L219-L224

[2015-08-29 02:35] zerothabhishek commented on #21419
It doesn't happen on Rails 4.2. When we do node.linked_node, we get this -

    SELECT nodes.* FROM nodes WHERE nodes.created_from_node_id = NULL AND (1=0)

And it actually adds the **(1=0)** part by checking for `new_record` (and a few other things).

[2015-08-29 03:09] toobulkeh opened #21424 "DateTime End of X does not match Time/Ruby1.9+ usec"
Noticed this inconsistency when doing some time work today:

[code]

After reading through the code, it looks like this is true for all `end_of` helper functions [here](https://github.com/rails/rails/blob/4-2-stable/activesupport/lib/active_support/core_ext/date_time/calculations.rb#L114)

Is there a point for this inconsistency, or should I submit a PR/CHANGELOG?

[2015-08-29 09:59] BenZhang opened #21425 "Singular of focus"
Hi,

Just found out pretty wired singularize and pluralize result for focus. Actually English is my second language. I have look up the dictionary. the plural of focus is focuses or foci. I am wondering whether is it an exception of Rails' Inflector.

[code]

Thanks

[2015-08-29 10:03] matthewd commented on #21425
Thanks for the report, but [the inflector is frozen](https://github.com/rails/rails/blob/74c7246238960d82bbba450b1888ae2790e688d2/activesupport/lib/active_support/inflector/methods.rb#L11-L15).

You can add exceptions in [`config/initializers/inflections.rb`](http://api.rubyonrails.org/classes/ActiveSupport/Inflector/Inflections.html).

[2015-08-29 10:03] #21425 closed

[2015-08-29 10:03] kaspth commented on #21425
Thanks, but the inflector is locked down to prevent apps from silently breaking. You'll have to add your own inflection config.

[2015-08-29 10:41] zw963 commented on #21395
Oh, think more question about this. Thanks

1.   Why add_column not support index: true ？
2.  Any plan to support `postgres jsonb_path_ops` GIN index with somethings like
   `` index: {using: "gin_path"}``? it seem like more fast than gin, and less diskspace usage.
   I had to use like this in migrate
[code]
But schema.rb is not worked, it only generate default gin index jsonb_ops instead of jsonb

[2015-08-29 15:38] SergeyBurtsev commented on #18660
I use Nginx/Passenger and simple changing root path in nginx site config to downcase fixed the problem for me. No need to rename the folders.

[2015-08-29 17:21] tenderlove commented on #11816
@jeremy the ruby-lang bug you linked to in rack/rack#265 is broken. Are you able to find the right URL?  Since Rack master is 2.0, I'd like to fix this The Right Way™

[2015-08-29 18:36] madej commented on #20335
Hi guys. Just to let you know I had the same problem today. It turned out it was monit (mine in version 5.9). If you use monit it might be it.

[2015-08-29 19:21] matthewd commented on #11816
@tenderlove see http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-core/24014 and surrounds.

AFAICS, it's a bug report complaining that `URI.encode` works the way @jeremy is wants (`+` means `+`), while the reporter expected it to work the way Rack currently does (`+` means ` `), and @shyouhei pointing out that the current behaviour matches the RFC.

That matches my understanding too:

(empha

[2015-08-29 22:21] tenderlove commented on #11816
@matthewd So we should really only be dealing with `+` encoding in the query string, and not the path.

Shouldn't we just change Rack to use URI unescape vs form unescape?  It looks like [Rack is using form unescape rather than URI escape](https://github.com/rack/rack/blob/9792bf590add0f09f301f00cdb296b333ec01f24/lib/rack/utils.rb#L44-L46):

[code]

As a side note, [this comment seems dubious / wr

[2015-08-30 00:38] svbergerem commented on #19290
I'm still able to reproduce https://github.com/diaspora/diaspora/issues/5037 using Rails 4.2.4 and that bug is quite likely caused by the issue described here. Applying the changes from #19378 fixes the issue.

[2015-08-30 11:25] senny commented on #21395
@zw963 we use the bug tracker for bug reports and pull requests exclusively. You can ask general questions on the [rails-core mailing list](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core). Please read our [contribution guidelines](https://github.com/rails/rails/blob/master/CONTRIBUTING.md) for further details.

[2015-08-30 15:09] mgodwin opened #21434 "ActionMailer tests no longer clear deliveries before test execution"
After upgrading to 4.2.x, I'm noticing that I'm getting intermittent test failures with [this change](https://github.com/rails/rails/commit/c4f4123ef45463a09b36186047dbdc82f933fe46) because the deliveries array isn't cleared out **prior** to tests running.  I had written quite a few tests that asserted that the deliveries array is `empty?` since the [guides](http://guides.rubyonrails.org/testing.h

[2015-08-30 15:19] raldred commented on #11415
Still present in fresh 4.2.4 app created today.

[2015-08-30 16:57] leods92 commented on #15138
@matthewd I've just stumbled on this bug again today and realized I got no answer. No worries. Did you take a look at the test I wrote? Thanks! :)

[2015-08-30 17:06] matthewd commented on #15138
@leods92 sorry.. yes, please go ahead and open a new issue (or PR :smile:) for that -- they both involve counting, but as a specific case of something that's currently expected to work, it seems unrelated to this issue.

[2015-08-31 02:22] atul-shimpi commented on #21399
Hello,
My Test Results : Working as expected
   Environment : Ubuntu 12.04.4 LTS
   Ruby : ruby-2.2.2 [ x86_64 ] (using RVM)
   Rails : Rails 4.2.4
   Environment : Development/Test

Can you check the value of update_at in profiles table to see if its really getting updated.

With : protect_from_forgery with: :null_session
---------------------------------------------------------------------------

[2015-08-31 04:40] olegantonyan commented on #21399
This is strange. It's really getting updated. I found this in real production app and then isolated here. Just tried on another machine (openSUSE 13.2 x86-64, ruby 2.2.3, rails 4.2.4) - same problem.
@atul-shimpi maybe you've tried with `protect_from_forgery with: :null_session` in `ApplicationController`? The problem is not there, but in `Api::ErrorsController`

[2015-08-31 07:12] agis- commented on #21398
I've found out that by prefixing the controller with a slash, this goes away. However this doesn't make much sense, since the controller is not namespaced anyways.

This seems related to #18838. I think it might be a bug.

@pixeltrix What do you think?

[2015-08-31 11:30] pixeltrix commented on #21398
@agis- any chance you can reproduce the issue using the [action pack bug template][1] ? Often these are due to a lack of an existing request in view spec but there may be something further, thanks.

[1]: https://raw.githubusercontent.com/rails/rails/4-2-stable/guides/bug_report_templates/action_controller_gem.rb

[2015-08-31 12:37] schwannden opened #21437 "Rails decorator auto-loading sequence strange behavior in namespace"
In rails 4.2.3
When starting the WEBrick server in development mode, the decorator is loaded after the controller when controller is in a namespace (say Admin::ToursController).
Therefore, the very first call (after the server starts up) to decorator results in this error
`Unable to autoload constant Admin::ToursDecorator, expected some_path to define it`
(notice some_path does contain the require

[2015-08-31 13:13] fxn commented on #21437
Are the class definitions using constant paths with colons as in

[code]

?

[2015-08-31 14:01] schwannden commented on #21437
Yes it does

[2015-08-31 15:48] fxn commented on #21437
Try defining them with a nesting that reflects the namespace:

[code]

See http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#nesting-and-qualified-constants for an explanation.

[2015-08-31 15:56] fxn commented on #21437
Ah! I see it in the issue description now, didn't catch the mismatch before.

Constant names have to match the directory structure. In order to be autoloadable, the class `Admin::ToursDecorator` has to live in a file *admin/tours_decorator.rb* below some of the directories in `config.autoload_paths` (all directories below *app* belong to them, in this case *app/decorators*).

That's also explained

[2015-08-31 17:29] TaylorHG commented on #21319
Hey @zerothabhishek, sorry it took so long to respond.

Thanks for checking out the issue. I should have noted in my test that this issue also occurs with a circular *chain* rather than just a single record relating to itself, [here](https://gist.github.com/TaylorHG/978168cbd32b2af85de0) is a gist to show that behavior.

As for the issue itself, do you think it is something that warrants fixing, o

[2015-08-31 20:07] sethdeckard opened #21439 "Enum _prefix and _suffix options raise NoMethodError: undefined method `each_with_index'"
1. Create a model with an integer column 'status'
2. Add an enum declaration per the docs using _prefix:

`enum status: [:active, :inactive], _prefix: :comments`
or
`enum status: [:active, :archived], _suffix: true`

Running a test or in the console produces the following:

NoMethodError: undefined method `each_with_index' for :comments:Symbol
	from /Users/seth/.rvm/gems/ruby-2.2.2/gems/activereco

[2015-08-31 20:24] matthewd commented on #21439
Are you looking at the edge docs? I see no mention of `_prefix` in http://api.rubyonrails.org/v4.2.4/classes/ActiveRecord/Enum.html. (Which sounds right.. I believe it was added fairly recently.)

[2015-08-31 20:25] kaspth commented on #21439
Prefix and suffix are only on master as far as I'm aware. Check the Active Record changelog: https://github.com/rails/rails/blob/master/activerecord/CHANGELOG.md

[2015-08-31 20:25] #21439 closed

[2015-08-31 20:27] sethdeckard commented on #21439
Ah I was looking at the edge docs, sorry about that, I didn't realize it was a new change.

[2015-08-31 22:48] NullVoxPopuli opened #21440 "What do you think of a way of automatically handle crud actions?"
I find boilerplate crud actions kinda tedious, so I wrote this gem:
 https://github.com/NullVoxPopuli/lazy_crud

Currently, the way lazy_crud is used, is to include it in a controller.

[code]

that will allow all CRUD operations, for html and json requests.
- putting in default views for each action would be really easy, too. (but not implemented, as I am using lazy_crud for my api app, and don't

[2015-08-31 23:00] rafaelfranca commented on #21440
Thank you for the request. No. In the past we had this and we removed in favor of generated scaffold. Also see https://github.com/josevalim/inherited_resources

[2015-08-31 23:00] #21440 closed

[2015-08-31 23:04] NullVoxPopuli commented on #21440
ah ok. Thanks!

I have seen inherited_resources, but it didn't quite fit my needs. :-)

[2015-08-31 23:23] frankpinto opened #21441 "Dangerous DATABASE_URL / database.yml default"
Rails version: 4.2.4

As a result of the current way Rails handles config/database.yml + DATABASE_URL I ended up dropping two production tables when I ran a test on a model w/ RAILS_ENV=test on my local machine.

**What happened**
On a new Rails install for an existing infrastructure I'm creating a simple CRUD interface for companies. My config/database.yml, when the undesired behavior happened, l

[2015-08-31 23:24] frankpinto commented on #21441
As per your request @roolo, here's the issue

[2015-08-31 23:25] rafaelfranca commented on #21441
Thank you for the issue. It is not related if you are using DATABASE_URL in the config file or not, it is related to how DATABASE_URL works. It override the behavior of `config/database.yml` entirely. We are aware of it and we are fixing at https://github.com/rails/rails/pull/21237.

I'm closing this issue in favor of that PR.

[2015-08-31 23:25] #21441 closed

[2015-08-31 23:29] frankpinto commented on #21441
Thanks for the quick response @rafaelfranca, glad to see it'll be better soon :)

[2015-09-01 03:42] #21108 closed

[2015-09-01 04:21] #21419 closed

[2015-09-01 04:28] rafaelfranca commented on #21391
I'd consider this a bug. `to_h` should return a HWIA like it returned before. @sikachu WDYT?

[2015-09-01 04:33] #19784 closed

[2015-09-01 06:25] ypxing opened #21442 ""reload" method of "active record" clears the dirty flag set in after_find callback"
As titled, any dirty flag would be cleared set in after_find callback. So the change made in after_find cannot be saved later.

######################
Example to show this.
[code]

######################
Related rails source code
activerecord-4.2.4/lib/active_record/persistence.rb
[code]

active_record/attribute_methods/dirty.rb
[code]

[2015-09-01 06:27] rafaelfranca commented on #21442
Yes, it is the desired behavior. `reload` will get the record from the database and so drop any change you did in the object.

[2015-09-01 06:33] ypxing commented on #21442
It just dropped the "flag" and did NOT drop the change.
user.name has been changed to "new name". But the "change flag" is false.
It seems not desired.

[2015-09-01 06:37] rafaelfranca commented on #21442
I see now. The change is still there only not in the changes hash because we clear after we find. Yeah it is no desired.

[2015-09-01 06:42] roolo commented on #21441
Ty @frankpinto for letting me know about it

[2015-09-01 11:33] kishore-mohan opened #21445 "Application throwing error with the combination of Ruby-2.2.2 and Rails-4.1.6 not able to run any commands"
Looks like application breaking with the combination Ruby-2.2.2 and Rails 4.1.6 . While trying to start the application or running any rails generate throwing error.

Application pushed into [rails_error](https://github.com/kishore-mohan/rails_error), feel free to clone the application go ahead and run bundle install and try to run the application.

Its just a new stack application without any new

[2015-09-01 12:37] gucki opened #21448 "Replace use of IPAddr in poostgres adapter with a better implementation"
The postgresql adapter of AR is using IPAddr for columns of type inet/ cidr. IPAddr sucks in various ways, for example not giving direct access to the netmask. Just look at the current hacks in the ar postgresql adapter having to use instance_variable_get. https://github.com/rails/rails/blob/f17fa8ef6f2abffeea5398cc450172c0975cad27/activerecord/lib/active_record/connection_adapters/postgresql/oid/

[2015-09-01 12:56] al2o3cr commented on #21445
Not sure how you got into this state, but it appears the `config/application.rb` in your project was generated with Rails 4.2.x - the config value that's blowing up was added in https://github.com/rails/rails/commit/b11b1e868a89319b8523c5f7b0da4c130ee42992 which first shipped in 4.2.0.

[2015-09-01 13:19] sikachu commented on #21391
`to_h` always returns a `Parameters`, but it used to be that `Parameters` was inherited from HWIA. There's no warranty that `to_h` have to return a hash.

I can see that `to_unsafe_hash` returns an unsafe HWIA, but I'm not sure about the performance impact. Maybe @tenderlove can help me on this one.

[2015-09-01 13:24] kishore-mohan commented on #21445
thanks @al2o3cr for the help.. understand this issue from [stackoverflow](http://stackoverflow.com/questions/28006358/undefined-method-raise-in-transactional-callbacks-for-activerecordbaseclass).

Looking how it can be handled better without affecting other rails versions. Is the config can be moved in other level?

[2015-09-01 13:48] ronakjangir47 commented on #21442
@rafaelfranca I would like to investigate and fix this issue.

[2015-09-01 14:02] meinac commented on #21442
This is bug is not about `reload`. If you register an `after_save` callback which changes an attribute of the instance `changed?` still returns `false` after save.
[code]
This bug is about callbacks.

[2015-09-01 18:06] seemone88 commented on #18660
im having the same issue but its not a case sensitive problem for me, i noticed that the ending tag was a doubled up (helpers//Users/xxxx/Sites/xxxx/app/helpers/application_helper.rb_helper.rb) there is 2 (_helper.rb_helper.rb) so i took one of them off and it works but causes other problems. is anyone else having this problem?

[2015-09-01 19:54] rafaelfranca commented on #21445
You can check if the config exists before using it.

[2015-09-01 19:54] #21445 closed

[2015-09-01 20:08] bf4 opened #21458 "Anchor / URL hash (incorrectly?) stripped from request"
I have a Rails 4.2.3 app and I'm hitting `https://www.rails-server.dev/system_status/#failed` which has some navigation tabs on it.  Strangely, `request.url` wasn't returning the `#failed` anchor / url hash (I'm not sure what to call it).  I've inspected the request object and trolled through the Rails source code present and past, but am not sure where it's being removing.  There is code for **bu

[2015-09-01 20:25] al2o3cr commented on #21445
@kishore-mohan The ultimate cause here is that a config file intended for a Rails 4.2+ application was generated in an app using 4.1. If you can reproduce this behavior reliably, please open another issue - if the Rails 4.2 generators created the file, they *should* have also set the Gemfile to Rails 4.2...

[2015-09-01 20:45] al2o3cr commented on #21458
This is expected behavior - user agents do not send fragments when making an HTTP request.

[2015-09-01 21:39] bf4 commented on #21458
So only in javascript, huh?  Ok, I'll close this.  Is there an RFC you are familiar with? (Or know the proper words to use to refer to this anchor / hash?)

[2015-09-01 21:39] #21458 closed

[2015-09-01 23:28] ypxing commented on #21442
@meinac the callbacks are fine.

It's all about the "change flags" have been cleared unconditionally for "dirty handling" after querying/persisting data.

For the "after_save" case, the related rails source code is as follows.

active_record/attribute_methods/dirty.rb
[code]

**change_applied** (of ative_model version) will reset **@changed_attributes**

[code]

That's why you can see "f.changed?

[2015-09-02 02:57] eltiare opened #21459 "Relative URL + Engine = path doubling"
In the current version of Rails if I mount an engine in an app and then assign it a relative path (config.relative_url_root), linking from the main app to the engine causes it to double the relative path. For example: the link_to helper generates '/relative/relative/ship' when it should just generate '/relative/ship'. Going from a page in the engine to the main app does not do this. I do not know

[2015-09-02 05:49] rafaelfranca commented on #21448
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

About this specific issue, :+1: for improving the implementation.

[2015-09-02 05:49] #21448 closed

[2015-09-02 08:47] edwinv commented on #19389
This issue is still present in the last version of Rails. I've updated the gist with the code to reproduce:

https://gist.github.com/edwinv/5a9aafcb4d37e253784b

[2015-09-02 09:44] edwinv commented on #19389
Correction: Rails 4.2.4 works like a charm!

[2015-09-02 09:47] jperville opened #21463 "Application fails to start when `SECRET_KEY_BASE` is a String containing only digits"
I have a rails 4.2.3 applications which I configured with a `ENV['SECRET_KEY_BASE'] = '1' * 128` (for demo purpose, not for production). This `SECRET_KEY_BASE` is valid (it is a 128 character long string), even if it somewhat lacks randomness.

When I boot my application, it fails with the following stacktrace:

[code]

The reason of the bug is probably that:
 * the `SECRET_KEY_BASE` is actually u

[2015-09-02 12:50] heaven opened #21466 "Bug with has_one association (NoMethodError: undefined method `find_all' for #)"
Having the next 3 models:

[code]

Now, if try to save a Program:

[code]

But if to load program owner:

[code]
- All associations do work as expected.
- If change from has_one to has_many – everything seems ok.
- Rails 4.2.3 (4.2.4 produces the same).
- The full backtrace attached below.

[code]

[2015-09-02 13:25] elfassy opened #21468 "false.blank? => true"
In the code currently we have

[code]
https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/object/blank.rb#L15

either the blank? function needs to change to

[code]

or the description needs to be updated to

[code]

thoughts?

[2015-09-02 15:15] al2o3cr commented on #21463
What happens with casting with `String(@secret)` when the string is all-digits starting with leading zeros? I'm guessing "not what was intended"...

An alternative would be to enclose the ERB interpolation in quotes, so something like this in `config/secrets.yml`:
[code]
This will force YAML to interpret the value as a string.

[2015-09-02 15:19] jperville commented on #21463
Indeed :)

[2015-09-02 15:38] abrisse opened #21469 "RailsAPI: ActionController::MimeResponds breaks ActionController::RespondWith usage"
## What?

It is currently impossible to use the class-level method `respond_to` defined in `ActionController::RespondWith` (responders gem) when using `rails-api` and `ActionController::MimeResponds`.
## Why?

Indeed the class-level method `respond_to` given by `ActionController::RespondWith` is automatically loaded [[Link](https://github.com/plataformatec/responders/blob/master/lib/responders.rb#

[2015-09-02 17:09] bcarreno opened #21472 "Issue #12330 still happening"
Requesting to reactivate https://github.com/rails/rails/issues/12330

We can reproduce the error on master, specifically: *ActiveRecord 4.2.4, pg gem 0.18.2, postgres 9.4.4*

[2015-09-02 17:09] #21468 closed

[2015-09-02 17:13] senny commented on #21466
@heaven thanks for reporting, I'll have a look.

[2015-09-02 17:15] senny commented on #21468
@elfassy good catch, I updated the docs accordingly. Thank you for reporting :yellow_heart:

[2015-09-02 17:44] sgrif commented on #21472
Thanks, the stale tag has been removed.

[2015-09-02 17:44] #21472 closed

[2015-09-02 17:45] sgrif commented on #12330
Unlocking since it became stale. Please do not comment on this issue with +1. We know people are having the problem, and it will not cause it to be solved any faster.

[2015-09-02 17:56] eltiare commented on #21459
I was made aware of a workaround, which is to add this to the app's configuration:

[code]

I have updated the example application.

[2015-09-02 22:20] rwz opened #21474 "A bunch of AR exception classes break default method signature"
Example: `ActiveRecord::StatementInvalid.new` expects at least one argument, where by default subclasses of `Exception` should have all arguments optional.

This breaks a lot of code that used to just `raise ActiveRecord::StatementInvalid` or pretty much all specs that do something similar to:

[code]

Is there any rationale behind requiring arguments for exceptions and breaking expected behavior?

[2015-09-02 23:26] maca commented on #17157
In addition to defining `dump_schemas` configuration it would be nice to be able to have an `exclude_schemas` configuration.

`pg_dump` has a `--exclude-schema` argument that accepts an expression with wildcards and schemas matching the expression will not be dumped.

I am working on a multitenant app using postgres schemas, specifying a schema to dump won't work for me because extensions are not

[2015-09-02 23:37] jchilders opened #21476 "table_name_prefix not getting called for namespaced models"
Steps to reproduce:

1) `rails new abc`
2) `cd abc`
3) `rails g model Abc::User` - This creates app/model/abc.rb and app/model/abc/user.rb. The former contains:

[code]

4) `rails c`
5) `Abc::User.table_name`
    `=> "users"`

Expected:
    `=> "abc_users"`

This appears to be due to the module being defined in two places: `config/application.rb` and `app/models/abc.rb`. Changing the generated `mo

[2015-09-02 23:43] orlandoAppfolio opened #21477 "Rails.application.routes.recognize_path is not working for paths in engine"
In the main_app, Rails.application.routes.recognize_path('path/in/engine')
e.g. we have a Dummy engine and OccupancyYearsController
[code]
will throw an exception
[code]

though
[code]
 works just fine giving
 ``` {:action=>"index", :controller=>"dummy/occupancy_years"}```

recognize_path calls #recognize  https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/journey/router.rb#

[2015-09-03 00:25] frankpinto opened #21478 "RAILS_ENV not respected using bin/rake test"
Rails version: 4.2.4

**tl;dr** Rails ignores RAILS_ENV and sets the environment to 'test' when running tests

I run `RAILS_ENV="test-kender" bin/rake test test/models/company_test.rb` for a test environment specific to my machine and get the following error:

[code]

I dropped a debugger statement in the initialize method of class PostgreSQL adapter (.../gems/activerecord-4.2.4/lib/active_record/

[2015-09-03 00:36] al2o3cr commented on #21002
@sgrif - In the process of reproducing #21466, I ran into this exact thing.

Test case:
https://gist.github.com/al2o3cr/3b694da67151e47912a5

It's a minor regression (changing an ignored option to an error) but an annoying one if there are stray `inverse_of`s in a large codebase.

I'll put together a PR for this in the next couple days.

[2015-09-03 00:50] al2o3cr commented on #21466
@heaven - I've attempted to reproduce the bug [here](https://gist.github.com/al2o3cr/31ab2450c2f61c51dd72) but without any success - other than tripping on the issue in #21002, which isn't related as far as I can tell.

[2015-09-03 10:46] Sinjo opened #21484 "Migration helpers wrapped in blocks always run in 'up' direction"
When using a helper which is designed to wrap other migration steps in a block, those steps always run in the `up` direction. This is reproducible with a very simple migration (which I've included in a [sample Rails project](https://github.com/Sinjo/activerecord_migration_block_repro)):

[code]

`rake db:migrate` works fine for this migration, but `rake db:rollback` exits with an exception:

[code

[2015-09-03 11:57] stiff commented on #21084
Guys, it's extremely frustrating that every upgrade since 3.2 (4, 4.1, 4.2, 4.2.2->4.2.3+) limits the expressive possibilities of ActiveRecord query language down to just find_by_id and writing plain sql for everything else. Referencing column in other table shouldn't require writing custom sql. There are some apps beyond CRUD written in Rails. Whats wrong with making Arel public? It's a great lib

[2015-09-03 12:22] y-yagi commented on #21459
I think this issue is related to #20958.

[2015-09-03 14:19] johanlunds opened #21488 "ActiveRecord::QueryMethods#from no longer escapes mysql attributes when using #alias_attribute"
This is the same as https://github.com/rails/rails/issues/20360, but for a special case of that issue.

The special case: when using `#alias_attribute` in model it generates the same, invalid query as in previously reported (and fixed) issue.

## Script to reproduce

[code]

## Diff of script in previously, reported issue

[code]

## Rails 4.2.0

Generates query:

[code]

## Rails 4.2.4

Generates

[2015-09-03 17:30] p1366 commented on #15185
We all have the same issue. The issue is in ignoring any columns/aliases when .eager_load is used.

Short and simple fix is to implement support of tN_attrname column aliases.

[2015-09-03 17:48] al2o3cr commented on #21484
Looks like reversing `transaction` just plays back whatever's in the block:

https://github.com/rails/rails/blob/314eb6596a36732d907c5cd115f5262904d13dad/activerecord/lib/active_record/migration/command_recorder.rb#L110

My guess is that it should actually be wrapping the passed block in `revert` so that it also runs backwards.

[2015-09-03 20:05] rafaelfranca commented on #21488
r? @sgrif

[2015-09-03 20:20] rafaelfranca commented on #21474
It is default but not mandatory. A subclass can have required arguments.

I believe some cases like this one can change to be optional though. Mind to work in a PR?

[2015-09-03 20:20] rafaelfranca commented on #21474
BTW, I'm closing since this is more a feature request.

[2015-09-03 20:20] #21474 closed

[2015-09-03 20:26] rwz commented on #21474
Sure

[2015-09-03 21:03] kirs commented on #21478
Could you share you `test_helper.rb`, please?

[2015-09-03 21:35] rafaelfranca commented on #21478
Could you try with `DISABLE_SPRING=true RAILS_ENV="test-kender" bin/rake test test/models/company_test.rb`?

[2015-09-03 22:49] frankpinto commented on #21478
test_helper.rb: https://gist.github.com/frankpinto/789816c049ea535e12df
test: https://gist.github.com/frankpinto/652d358a0721af2fa42d
new command: `DISABLE_SPRING=true RAILS_ENV="test-kender" bin/rake test test/models/company_test.rb test_save_logo`

@rafaelfranca I tried it and got the same error (couldn't connect to Postgres). Here's some more information:

* I checked with the debugger (pry + b

[2015-09-04 03:10] matthewd commented on #21478
I think this is by design, isn't it?

We *really* don't want to accidentally run the tests against `development` or `production` just because someone has `RAILS_ENV` set.

[2015-09-04 10:23] salmanasiddiqui opened #21497 "Eagerloading has_one through association with references causing N+1 queries for nil"
rails 4.2.0
ruby 2.1.5

[code]
[code]
[code]

[code]
The above is making multiple queries for Portfolio where project id is null.

though the below works fine
[code]

[2015-09-04 10:42] kasper commented on #18660
I had this issue with an umlaut in a path, renaming back and forth fixed this.

[code]

[2015-09-04 14:01] ror6ax opened #21499 "timestamps not present in rendered Model.all"
`Model.all` does not return created_at and updated_at fields when rendered as a page.
Confirmed by `curl` to appropriate route+.json

When running `rails console` the same model returns timestamps.

[2015-09-04 15:01] yxhuvud opened #21500 "Association Guide use Order as example, which is already used."
The association guide, http://edgeguides.rubyonrails.org/association_basics.html use the Order class as an example for expressing most association information.

However, that name conflicts with the 'order' scoping directive meaning that it is harder than necessary to search the guide for how to set up a default ordering.

Noticed when upgrading to 4.x and looking for the correct ordering syntax.

[2015-09-04 15:14] senny commented on #21499
@ror6ax I'm not sure I understand the problem you are describing. Could you explain the issue in more detail? Or maybe put up a sample application that exhibits the problem.

[2015-09-04 15:53] orlandoAppfolio commented on #21477
attempting to fix it. in this pull request: https://github.com/rails/rails/pull/21494

[2015-09-04 17:02] yxhuvud commented on #21500
Well, I were looking for how the new way of setting up a default ordering of an association looked like. Doing Ctrl-F for 'order' gave a zillion matches due to the Order example. Earlier (ie 3.x) :order was an option to the association methods, but now it is changed to being passed in a lambda like the other scope directives.

Of course, it is a minor detail that may not be worth rewriting the who

[2015-09-04 20:17] ilyakatz opened #21501 "ActiveSupport::TimeZone#formatted_offset doesn't respect CEST"
`ActiveSupport::TimeZone#formatted_offset` does not respect Central European Summer Time" (UTC+2:00). Instead it shows "Central European Time Zone" (UTC+1:00)

I created failing tests https://github.com/rails/rails/compare/master...ilyakatz:timezone?expand=1 but got confused on the implementation. There seems to be some overlap with  `ActiveSupport::TimeWithZone`. Happy to implement with some guid

[2015-09-04 21:44] tenderlove commented on #11816
Fixed in e25fdad2f147e6f368958f9a06a5ac9d10288408

[2015-09-04 21:44] #11816 closed

[2015-09-05 02:15] merhard commented on #21459
This seems to be a duplicate of issue #20920 and is a regression introduced in v4.2.3 that is yet to be addressed.

As @y-yagi, said, #20958 is a pull request attempting to fix this.

[2015-09-05 05:21] shunwen commented on #18660
I had this problem again, renaming was not helping but rebooting solved the problem.

[2015-09-05 08:49] kasper commented on #18660
Actually, scratch the previous. A restart will return the issue. Sigh.

[2015-09-05 11:20] codebaker95 commented on #21497
I don't seem to be able to replicate your problem. Could you show what exactly is your rails console showing when you make these requests? For me, it's this single request:

[code]

[2015-09-06 00:34] codebaker95 commented on #21476
I'd like to note that this only appears to be an issue in development/testing environments. The application.rb file is automatically loaded during app initialization, loading the `Abc` module in it. Therefore, when referencing `Abc::User`, the `Abc` constant is already defined, so rails doesn't go looking for it in the `models/abc.rb` file.

However, on production, all the files are eagerly loaded

[2015-09-06 01:05] codebaker95 commented on #21476
I'd like to note that this only appears to be an issue in development/testing environments. The `application.rb` file is automatically loaded during app initialization, loading the Abc module in it. Therefore, when referencing `Abc::User`, the `Abc` constant is already defined, so rails doesn't go looking for it in the `models/abc.rb` file.

However, on production, all the files are eagerly loaded

[2015-09-06 01:39] yui-knk opened #21509 "Behavior of AR::ConnectionAdapters handling VIEW differ"
I found out behavior of `tables` method differ by each adapters. pg does not include VIEW, but mysql and sqlite include VIEW. Code sample is below.

## What we should do ?
I think we should unify the behavior.
In my opinion, remove VIEWs from `tables` method.
`tables` method is used when we dump schema ([here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/schema_dumper.

[2015-09-06 03:16] linjunpop opened #21510 "ActiveJob does not support GlobalID for keyword arguments"
## As arguments:

[code]

[code]

## As keyword arguments:

[code]

[code]

## Gemfile.lock

[code]

[2015-09-06 04:18] eltiare commented on #21459
Sorry, I did look for any possible duplicates but didn't find it. Would've thought for sure it would have been merged by now. :)

[2015-09-06 08:02] agis- commented on #21478
@matthewd If so, we could add a warning when tests are run and `RAILS_ENV` is set by the user to something other than `test`.

What do you think? /cc @rafaelfranca

P.S. I'd be glad to open a PR for this.

[2015-09-06 11:23] codebaker95 commented on #21501
The `ActiveSupport::TimeZone#utc_offset` method that the formatted offset is shown based on is calculated with the `utc_offset` method of the current period returned by tzinfo, here's the code:

[code]

One solution would we to change `@current_period.utc_offset` to `@current_period.utc_total_offset`, which calculates the offset including the daylight saving time. However, that could cause some pr

[2015-09-06 15:28] shingo-nakanishi opened #21516 ".to_time different movement from documentation"
`activesupport/lib/active_support/core_ext/string/conversions.rb` might have type
`.to_time` different movement from documentation

I use rails4.2.4

My `application.rb`
`config.time_zone = 'Tokyo'`

I try this

[code]

result
[code]

http://stackoverflow.com/questions/32424601/to-time-different-movement-from-documantation

I make this.
https://github.com/shingo-nakanishi/rails/commit/c7b409bc3c21

[2015-09-06 20:47] kausters commented on #18660
I've been bitten by this twice in the last week.

- Two blank new Rails 4.2.4 projects
- on two different OS X machines (one 10.10.5, one 10.11 public beta 6)
- case-insensitive HFS+
- both running Ruby 2.2.3
- on rbenv 0.4.0
- without Spring
- through either Pow or WEBrick

There are a lot of SO threads on this, but they either have case-sensitive file systems or the fix is renaming folders to be

[2015-09-06 22:05] codebaker95 commented on #21510
It actually does support them - the serializer properly traverses the hash to serialize all elements with GlobalID, that's why the job performs properly. However, the logger doesn't properly serialize the arguments - the elements get serialized only if they are not nested in a collection - hence the confusion. To fix that, I've submitted pull request #21518, feedback is welcome.

[2015-09-07 07:44] senny commented on #21500
I see. I personally don't feel like this naming collision warrants rewriting all the examples. However if someone submits a PR with an equally good example I guess we can merge.

@zzak thoughts?

[2015-09-07 07:45] kasper commented on #18660
@kausters For some this is a case sensitive problem, for me this is ended up being a UTF8 problem. You have a UTF8-character in your path. Try to move your project out of `Jaunā teika` and start the server. This has “fixed” the issue for me.

Nevertheless, I don’t understanding where the root cause is. Is this expected Ruby behaviour or is this a bug in Ruby? Where is the bug report? I’ve encounte

[2015-09-07 07:50] kausters commented on #18660
@kasper Exactly. I've seen a bunch of complaints and a bunch of people saying that it's fixed after Ruby 2.2.0, but no it is not. On the first project it most probably was a case issue (on a case-insensitive file system nevertheless) and the second one (`Jaunā teika`) it probably is the UTF8 symbol and/or the case, but this is just silly having such a problem randomly appearing in 2015.

[2015-09-07 08:01] kasper commented on #18660
@kausters In fact, this breaking change happened after 2.1.6. I’ve tested this against 2.1.6 and it works fine. All subsequent versions have this issue. I’ve also tested the patch-branch related to this issue and it also fixes the issue.

[2015-09-07 08:13] senny commented on #5982
@eddiej I'll have a look.

[2015-09-07 08:27] senny commented on #5982
@eddiej I was able to reproduce the issue. It's due to the fact that the model based on the view has a `Column` object with `default=0`. However digging deeper I found that this is what MySQL reports about the view. See the following snippet from the MySQL-CLI:

[code]

I don't think this is something that Active Record should thinker around. It's behaving as the database tells it to.

[2015-09-07 08:40] senny commented on #17157
@maca thanks for your insights. The best place to discuss a feature is the [ruby-on-rails core mailing list](https://groups.google.com/d/forum/rubyonrails-core).

I think it would be wise to discuss how this addition could look before submitting a PR. I wonder wether we should just introduce a new option or make it that the users have more control over the specific flags passed to `pg_dump`.

[2015-09-07 09:10] kausters commented on #18660
@kasper Wow, just found the patch branch. I wonder why it hasn't been merged.

[2015-09-07 09:21] kasper commented on #18660
@kausters It seems there’s general confusion in where this problem originates. Neither is there any kind of official decision about this issue. (cc @matthewd)

[2015-09-07 09:55] AndrzejJantos opened #21526 "Backslash in "WHERE" SQL Query"
In my current project I'm trying to get results WHERE search field contain backslash.
When I run SQL Query direct on the MySql console WHERE LIKE '%\\\\%' I retrieve needed data. Unfornatelly Active Records give me error. Could someone help me with this?

[2015-09-07 14:08] senny commented on #21526
@AndrzejJantos can you attach an executable test-case that reproduces the your error? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point.

[2015-09-07 18:59] siddhant-mohan commented on #21526
@AndrzejJantos
see the following working script for the active record query with WHERE LIKE '%\\%'.
https://gist.github.com/siddhant-mohan/65be309a40950994f1da

[2015-09-07 19:39] matthewd commented on #18660
We know we want something along the lines of 7b1a6c3cf1eebe0609f72428b6b76c7d838d1e31, but that change is failing tests.

If anyone wants to take that, rebase it, and get it working properly, a PR would be very welcome.

[2015-09-07 19:56] matthewd commented on #21526
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-09-07 19:56] #21526 closed

[2015-09-08 07:34] pixeltrix commented on #21501
Is this only a problem using the transition? i.e. where a timezone instance is kept around long enough for the the clocks to go forward.

[2015-09-08 09:24] lesleh opened #21544 "mysql2 gem v0.4.0 doesn't work"
When creating a new app with `rails new myapp --database=mysql`, I get an error when attempting to load the app:

    Specified 'mysql2' for database adapter, but the gem is not loaded. Add `gem 'mysql2'` to your Gemfile (and ensure its version is at the minimum required by ActiveRecord).

Manually specifying the version of mysql2 to be v0.3.20 works fine.

[2015-09-08 09:45] DreamWalker87 opened #21545 "Rails 4.1 ActionController::TestCase::Behavior strange behaviour while sending the JSON data"
Hello.

I've discovered a strange behavior: Rails, seems, is unable to properly parse the JSON data if it was send by methods from ActionController::TestCase::Behavior.

In the doc it'is mentioned that sending an entire JSON document is possible:

but this causes **param is missing or vlue is empty** error, though the request body contains the proper JSON document, e. g. ```"{\"book\":{\"title\":\

[2015-09-08 10:28] sodabrew commented on #21544
I didn't realize the AR adapter was using a squiggly require, so this will cause some confusion because Bundler doesn't know that it needs to hold back the mysql2 version.

@jeremy Thanks for updating the adapter - I left you a few comments on #21536

[2015-09-08 11:19] nieup opened #21546 "Gemfile not found directory containing 'é'"
Directories containing accents in Windows environment cause problem to find Gemfile when running `rails server`

[2015-09-08 11:22] designgrill opened #21547 "CSRF protection and <script> tags"
Rails guide and documentation [here](http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#csrf-protection-from-remote-script-tags) and [here](http://guides.rubyonrails.org/security.html#csrf-countermeasures) mentions that cross-site (or remote) `<script>` tags are blocked to get a javascript response. I think the messaging can be made better.

* The blocking happens only for JS responses

[2015-09-08 12:34] jfragoulis opened #21549 "Fixnum becomes dirty when set to false from 0"
[code]

[code]

The fact that, while the column is created as `tinyint(4)` the attribute is used as a boolean, surfaced this behavior.

I traced the bug [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/type/helpers/numeric.rb#L25).

What happens is that, when `value` is boolean, `value.to_s` will turn it to string and the method will return true, which is wrong. The

[2015-09-08 12:36] Sinjo commented on #21484
As far as I can tell, `revert` returns an array of the inverse commands for everything run in the block passed to it. I can't see how you could use that in the return value of `invert_transaction`, but I'm probably missing something. Could you clarify how you'd use it?

[2015-09-08 13:02] sgrif commented on #21549
This is the expected behavior when assigning integer columns, so that the numericality validation is able to run. `tinyint(4)` is not treated as a boolean by Active Record on MySQL, only `tinyint(1)` is.

[2015-09-08 13:02] #21549 closed

[2015-09-08 13:23] ilyakatz commented on #21501
No, it is not. Check out my failing test, it doesn't not move time

[2015-09-08 13:43] schneems commented on #21546
What is the error message you are getting?

Can you give me an example app that reproduces the problem that uses the latest version of Rails?

[2015-09-08 13:53] nieup commented on #21546
I am getting this message, see screen shot. I am running Rails 4.2.4.
I only initialized the server doing ‘rails new blog’

De : Richard Schneeman
Envoyé : ‎mardi‎ ‎8‎ ‎septembre‎ ‎2015 ‎15‎:‎44
À : rails/rails
Cc : Cédric

What is the error message you are getting?

Can you give me an example app that reproduces the problem that uses the latest version of Rails?

—
Reply to this email directly or

[2015-09-08 15:46] jfragoulis commented on #21549
This might be the expected behavior but is clearly not consistent. You cannot allow assignments of strings and booleans on Fixnum, then type cast them to Fixnum one and zeros and then persist that the attribute is dirty.

This inconsistency is clearly shown in my example, where the user gets the same old/new value. It is wrong for the framework to say that an attribute's state/value has changed, a

[2015-09-08 15:49] sgrif commented on #21549
This is what numericality validations are for.

On Tue, Sep 8, 2015 at 9:46 AM John Fragoulis <notifications@github.com>
wrote:

[2015-09-08 16:04] rafaelfranca commented on #21546
You didn't attached the screenshot.

[2015-09-08 16:06] rafaelfranca commented on #21547
Could you please open a PR?

[2015-09-08 16:46] #21516 closed

[2015-09-08 16:50] ronakjangir47 commented on #21381
This issue can be closed as @atomless were able to resolve the problem https://github.com/ruby-grape/grape/issues/1123

[2015-09-08 16:53] #21381 closed

[2015-09-08 17:05] rafaelfranca commented on #21544
Backported

[2015-09-08 17:05] #21544 closed

[2015-09-08 17:06] rafaelfranca commented on #21544
I mean, next Rails 4.2 will support mysql2 0.4

[2015-09-08 17:15] designgrill commented on #21547
@rafaelfranca Sure. Will do that soon.

Raised it as an issue to check if I am missing something. A rails rookie here.

[2015-09-08 17:16] nieup commented on #21546
I am pretty sure I did, it is in this one I am certain.

De : Rafael Mendonça França
Envoyé : ‎mardi‎ ‎8‎ ‎septembre‎ ‎2015 ‎18‎:‎05
À : rails/rails
Cc : Cédric

You didn't attached the screenshot.

—
Reply to this email directly or view it on GitHub.

[2015-09-08 17:18] rafaelfranca commented on #21547
I think you are correct but with a PR we can have a better idea on how you think the text could be improved and give better feedback.

[2015-09-08 17:37] rafaelfranca commented on #21546
If you attach the screenshot as email attachment it doesn't work. You need to upload in someplace and embed the image.

[2015-09-08 17:37] zzak commented on #21500
It's probably good to avoid naming classes that collide with options or other methods that someone might be searching for. But I think that ship has already sailed.

I agree it's confusing, but I'm not sure it's worth rewriting all of the examples to avoid the collision.

Like YS said, if someone wants to write a patch for this, sure, because the actual classes in this guide are just there for exa

[2015-09-08 18:00] nieup commented on #21546
https://drive.google.com/open?id=0B2Ee2HFbmkJ4Rm9JT1BFTUF5YUk

De : Rafael Mendonça França
Envoyé : ‎mardi‎ ‎8‎ ‎septembre‎ ‎2015 ‎19‎:‎38
À : rails/rails
Cc : Cédric

If you attach the screenshot as email attachment it doesn't work. You need to upload in someplace and embed the image.

—
Reply to this email directly or view it on GitHub.

[2015-09-08 20:28] claudiob commented on #20612
If Rails 5 ships with Sprockets 3, then a reference to https://github.com/rails/sprockets/blob/master/UPGRADING.md will be needed in the Rails 5.0 release notes

[2015-09-08 21:38] al2o3cr commented on #21545
`In the doc it'is mentioned that sending an entire JSON document is possible`

The doc is hard-to-read and confusing. The documentation for `ActionController::TestCase` says:
[code]

The thing being referenced here is the behavior of this line, introduced in https://github.com/rails/rails/pull/4272:

https://github.com/rails/rails/blob/v4.1.13/actionpack/lib/action_controller/test_case.rb#L555

It

[2015-09-09 00:20] shingo-nakanishi commented on #21516
thank you.

[2015-09-09 02:31] jfrioux commented on #18660
We tried changing directory. No success.

We tried the following rubies:
[code]

What did work for us is to disable eager_load in our production.rb file:
`` config.eager_load = false``

We are on FreeBSD 10.0

[2015-09-09 04:18] wellsonjain opened #21558 "Rails 4.2.3 rails engine will drop test database when running cucumber"
Hello, here is my scenario. Because I want to modular my application, I try to encapsulate model layer and db/migration to rails engine, configure the migration path, bundle it and setup the test database . When I run cucumber It will reset my database again, but I set some default to migration and seed and it won't run `rake db:seed`. Turns out I run cucumber with empty database. Is there any con

[2015-09-09 05:20] rafaelfranca commented on #21558
The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back!

[2015-09-09 05:20] #21558 closed

[2015-09-09 07:02] rafaelfranca commented on #21545
Right, it is not supported to pass JSON data, but it will be in Rails 5.

[2015-09-09 07:02] #21545 closed

[2015-09-09 07:04] rafaelfranca commented on #13135
It was fixed on the master branch. Unfortunately it is not easy to backport so it will not be fixed on Rails 4

[2015-09-09 07:04] #13135 closed

[2015-09-09 07:28] alpracka commented on #20335
I've just run in to the same problem. Fresh deploy and I got error:

[code]

`ls -la` in cache directory

[code]

Using **Rails 4.2.4** with Puma 2.13.4.

First line is causing that:

[code]

@madej I'm also using Monit, but how it can be related?
@infertux I would reopen this issue.

[2015-09-09 07:40] madej commented on #20335
Problem is as described above. Monit changes umask of programs it's strarted. Get newer version of monit, they fixed it in 5.10 i believe (i've installed 5.14 and problem is gone).

[2015-09-09 07:43] kausters commented on #18660
What I did, since I use Pow, was move the source code into the actual ~/.pow directory, and symlink *that* into my work directory. It works, but this feels so stupid.

[2015-09-09 08:11] smeade commented on #21041
@pixeltrix - Verifying that as you noted, the errors occur when `belongs_to_required_by_default` is true.

[code]

results in:
`5 runs, 0 assertions, 0 failures, 5 errors, 0 skips`
https://gist.github.com/smeade/41a910e0b7a2f5ac0c1e

[2015-09-09 09:11] rafaelfranca commented on #21478
@matthewd yeah make sense.

@agis- a warning is something that could help. Feel free to open a PR.

I'm closing this since it is not an issue.

[2015-09-09 09:11] #21478 closed

[2015-09-09 09:25] frankpinto commented on #21478
The first line in test_helper.rb, outputted by default on new rails projects, is:

    ENV['RAILS_ENV'] ||= 'test'

Given that I really don't think its by design ... that line would be redudant if it were.

I'm all for smart defaults but they should be overridable. I'll leave it to your discretion as I don't really have time to get a Rails dev install on my machine and work on a PR but I hope its

[2015-09-09 09:28] jonathantribouharet opened #21561 "Problem in development when reloading page after a bug"
Hi,
I have a strange bug (present on many projects, on Rails 4.2.3 and 4.2.4).
When I have a bug in development (like NoMethodError or anything else), I fix this bug and reload the page, I still have the error but in "extracted source" section you can see the code is good (it's the new code without the bug).
I have to restart the server for fix the bug. It seems inconsistent, sometime it happen at

[2015-09-09 09:34] frankpinto commented on #21478
Oh, quick question. What do you all recommend I do for this? Currently whenever I run tests I go into config/database.yml and change the 'test' environment block to my local machines config because of this bug then, when I'm done running tests, I change it back to how it was before to not mess up the other devs on my time. This gets pretty tedious after a bit, any suggestions?

[2015-09-09 10:05] rafaelfranca commented on #21561
Can you please provide a sample application that reproduces the error?

[2015-09-09 10:05] rafaelfranca commented on #21478
You could set DATABASE_URL if you only want to change the database configuration.

[2015-09-09 11:00] jonathantribouharet commented on #21561
I could but it happen with an empty project.
Here the steps for installing an empty project:

- `mkdir test-bug; cd test-bug`
- ` gem install rails`
- `rails new -T ../test-bug/`
- uncomment  `gem 'therubyracer', platforms: :ruby"`
- `bundle install`
- `rake db:create`
- `rails s -b 0.0.0.0`

The problem may be coming from the fact I use vagrant with `synced folder` [Vagrant file](https://github.c

[2015-09-09 13:39] jaredbeck commented on #21544
Thanks for backporting! :heart:

[2015-09-09 14:08] smeade commented on #21499
@ror6ax and @senny - I think @ror6ax is describing rendering of json when using scaffolded views.

`http://localhost:3000/cars/1.json`
[code]

`http://localhost:3000/cars.json`
[code]

@ror6ax - Scaffold generated views for json are created via [jbuilder](https://github.com/rails/jbuilder). Jbuilder's template for `show.json.jbuilder` includes timestamps while `index.json.jbuilder` does not.

Comp

[2015-09-09 14:40] msxavi opened #21563 "Duplicated Foreign Keys"
Dear contributors,

I've been facing the following issue during development phase: when it is needed to add more than one FK related to the same table, Rails generates the same FK name which results in a SQL Error.

For instance, my unit model.
[code]
Then the migration I have changed:
[code]

I know I can customize the way FK is created, however, I am wondering if 'add_reference' method could alw

[2015-09-09 15:18] cireficc commented on #21546
Very interesting find... looks like a Unicode bug. @nieup, it would be helpful if you included your version of Windows.

[2015-09-09 15:29] cireficc opened #21564 "button_tag doesn't trigger UJS driver unless it type='submit'"
The `button_tag` will trigger the UJS driver only when the button's `type='submit'`.

For example, if I want to generate a delete button with confirmation I could do:

`button_tag "Delete", data: { confirm: "Are you sure you want to delete this resource?"}`

However, I want to use a button with confirmation to delete a nested resource on the main resource's form, but if I use the above method, the

[2015-09-09 15:30] matthewd commented on #21478
How about this?

[code]

[code]

[2015-09-09 16:15] ror6ax commented on #21499
Exactly. Thanks for explaining. Issue resolved :)
On 9 Sep 2015 16:09, "Scott Meade" <notifications@github.com> wrote:

[2015-09-09 16:55] kirs commented on #21478
@rafaelfranca two things I found after reading the issue:
1) actually we allow to pass the environment to the new test runner: https://github.com/rails/rails/blob/master/railties/lib/rails/test_unit/minitest_plugin.rb#L19
2) counting [this line](https://github.com/rails/rails/blob/master/railties/lib/rails/test_unit/minitest_plugin.rb#L42), it makes no sense to add `ENV['RAILS_ENV'] ||= 'test'` to

[2015-09-09 16:58] rafaelfranca commented on #21478
@kirs you are only seeing the Rails test executor but that need to also work with Rake. We need to check if that still make sense for `rake test` too.

[2015-09-09 17:04] kirs commented on #21478
@rafaelfranca we're [loading the same](https://github.com/rails/rails/blob/master/railties/lib/rails/test_unit/testing.rake#L3) `test_unit/minitest_plugin.rb` in case of Rake

[2015-09-09 17:07] matthewd commented on #21478
@kirs neither of those helps when running a single test file directly

[2015-09-09 17:45] rafaelfranca commented on #21564
This issue was moved to rails/jquery-ujs#437

[2015-09-09 17:45] #21564 closed

[2015-09-09 18:13] #21499 closed

[2015-09-10 01:20] afomi commented on #18660
I'm seeing this too.

Rails (4.2.4) is looking for a downcased path (my path is mixed case).  This started occurring after a recent XCode upgrade from 7.0 beta 3 to beta 6 (7A192o).

[2015-09-10 06:10] chirag7jain opened #21571 "Gemfile doesn't respect group"
I added **puma gem** to my **gemfile** with group **production, staging**

[code]

added config for puma in config/puma.rb

[code]

after adding the gem I did

[code]

I am using **rvm** with application specific gemset

when I do

[code]

I expect that it would **only load development gems** and my webserver would be **webrick** not **puma**

If its not a rails specific please also point what is

[2015-09-10 06:21] chirag7jain commented on #21571
I removed staging from the group and its working without puma

[2015-09-10 06:39] maca commented on #17157
Thanks @senny I will write to the mailing list

[2015-09-10 07:42] chirag7jain commented on #21571
currently I work with

[code]

[2015-09-10 08:53] Draqun opened #21573 "[ActionController::Parameters] Permit method does not return parameters for nested attributes"
Hi

I have a little problem. Can you tell me why permit method cannot return data_set_users_attributes and data_set_synch_agents_attributes in second example from code below? This is weird. All data looks fine, permit arguments too. Both parameters_hash are send from this same form and both permit data are created by this same function.

EDIT: I use Ruby 2.3.0 and rails 4.2.4

[code]

Any help wil

[2015-09-10 09:51] senny commented on #21563
@msxavi thanks for reporting :yellow_heart:

Yea, this looks like we should consider the column as well when determining the foreign key name. I'll look into a possible patch.

For now you can work around the problem by specifying the name of the foreign key yourself:

[code]

[2015-09-10 10:00] SixiS opened #21574 "In Rails 4.2 passing ActionDispatch::Http::UploadedFile into a model's Hash serialized params raises "IOError: uninitialized stream" when trying to read the file."
This is a bit of an obscure bug. It may not be worth really looking into but it used to work in Rails 4.1 so I decided to create a bug report for it.

In my case I am passing uploaded files to a model in serialized parameters (Hash).
It is coming from a form (fields_for) which creates a hash with files.

I then have a before_save filter which uploads and converts the files from ActionDispatch::Htt

[2015-09-10 10:12] senny commented on #21563
@msxavi I investigated a bit but couldn't reproduce the issue. Would you mind writing an executable test-case to reproduce the problem? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point. Then we should have common grounds what's going wrong.

[2015-09-10 10:29] slicedpan commented on #21544
Just a suggestion, this issue would have been easier to diagnose if the exception message from Gem::LoadError was not swallowed up by the exception handler when the adapter specific code is required.

[2015-09-10 11:18] advishnuprasad commented on #21126
+1

[2015-09-10 14:15] madej opened #21576 "file_path_key fails in active_support/cache/file_store.rb for long paths"
This issue leads to exception in URI.decode_www_form_component if cutting path was in a middle of separator (%2F) or just returns non existing key.

in def file_path_key(path)
fname = path[cache_path.to_s.size..-1].split(File::SEPARATOR, 4).last

doesn't take on account path might be cut into pieces of FILENAME_MAX_SIZE in key_file_path.
changing it to:
fname = path[cache_path.to_s.size..-1].split

[2015-09-10 14:36] NobodysNightmare opened #21577 "includes().references() not expanded in subqueries"
## Reproduction

edit: Upon request by @senny I now also provided [a test case](https://gist.github.com/NobodysNightmare/45992e1020ec092b9e4b). This is probably more self-explanatory than my bla bla below.

---

Given the following models:

[code]

Run the following on `rails c` (tested on Rails 4.2.3 and 4.1.13):

[code]
## Description

Normally the `includes` + `references` of `query` are correc

[2015-09-10 14:57] tdgs commented on #16449
I don't get why updating the counter_cache should update the lock_version actually. The counter_cache is readonly attribute. It should not be versioned we the other attributes.

Consider the following scenario: You have an application with posts and comments. The posts table has a counter_cache to store the number of comments, and it also has a lock_version to prevent multiple_edits. With the curr

[2015-09-10 14:58] NobodysNightmare opened #21578 "references() overrides select()"
## Reproduction

Given the following models:
[code]

Run the following via `rails c`:
[code]

## Description

I'd expect that by specifying `select(:id)`, the resulting SQL will always only have the specified columns inside the `SELECT` statement and no other columns.
However, by adding `includes` and `references` the projection (`SELECT`) is extended by all columns of `foos` and all columns of `b

[2015-09-10 15:13] al2o3cr commented on #21578
This is a known issue (for instance, https://github.com/rails/rails/issues/12423 but there are others) with `includes` and `select`.

In your case, I'm not at all clear what the purpose of `includes` in your query is. If you're only wanting aggregate columns, the record preloading that `includes` specifies won't be useful - all you're getting from `includes` at that point is a LEFT OUTER JOIN (and

[2015-09-10 15:17] NobodysNightmare commented on #21578
That is the part where my example is a bit too minimalistic. In the real world I would have a `where` on a foreign attribute (e.g. `where('bars.id = 4')`). Something that makes me need the `includes` for the `where`.

[2015-09-10 15:38] sunkencity opened #21580 "render json: object is slow compared to render json: JSON.dump(object)"
When rendering json without explicitly dumping the view takes a lot of time and grows by number of objects.

tested with ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-linux] but same appears in 2.2.3

[code]
testing with different amount of json object time for views grows like this:

num objects | fast | slow
------------ | ----------|-------
100         | 0.1ms | 4.6ms
1000       | 0.1ms | 1

[2015-09-10 15:39] robotmay commented on #15255
Just bumped into this myself. There's still an issue with Rails struggling to perform the digests if you use `render template: 'blah'`, as illustrated by the example @Dorian provided in the initial ticket. Using the `template` option is the recommended way of doing nested layouts according to the Rails guides, so it should probably be supported by the digest system.

Anyone have any ideas on how t

[2015-09-10 15:40] msxavi commented on #21563
Hello, @senny!  Thank you for replying!

Well, I relised that the correct error is "Duplicated column name" and not FK name as mentioned.

Imagine this scenario:
1 - Two days ago a mate wrote a migration to add a reference (column + FK):
[code]
2 - Then today I realised that I need one more reference then I write this:
[code]
Then I got Duplicated FK name!

It is not a big deal perhaps. To solve t

[2015-09-10 15:59] toao commented on #16449
@tdgs good point! The counter cache isn't directly connected to the record where it is stored, but to the related association. So updating the counter shouldn't interfere with the lock version.

That raises the question why it was explicitly added here: https://github.com/rails/rails/blob/master/activerecord/lib/active_record/locking/optimistic.rb#L165

If you take the [intention of optimistic loc

[2015-09-10 16:17] nieup commented on #21546
It is a windows 8.1

[2015-09-10 16:26] matthewd commented on #21573
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-09-10 16:26] #21573 closed

[2015-09-10 16:27] matthewd commented on #21574
cc @sgrif

[2015-09-10 16:44] matthewd commented on #21578
It sounds to me like you want `joins` (or possibly a left join -- #12071). `includes` has a specific meaning, and it ain't "please add a left join to my query".

[2015-09-10 17:18] sgrif commented on #21580
Can you modify your benchmark to compare to using `ActiveSupport::JSON`? This is likely just the overhead of the significant number of things that AS supports that the core json encoder does not.

[2015-09-10 17:45] techsethi commented on #18398
I use -V option (verbose) , so that it dumps out some messages, so that I know it is doing something...

[2015-09-10 18:10] sunkencity commented on #21580
ActiveSupport::JSON is as fast as JSON.dump

[code]
result of rendering 100000 objects
Completed 200 OK in 786ms (Views: 0.1ms | ActiveRecord: 0.0ms)

[2015-09-10 18:16] chancancode commented on #21580
786ms is inline with your "slow" result, no?

[2015-09-10 18:20] sunkencity commented on #21580
er.. yes. Just looked at the views part, my bad. It's been a long day.
[code]

[2015-09-10 18:30] sunkencity commented on #21580
modified tests to add ruby prof

[code]

results of ruby-prof:
[code]

[2015-09-10 18:35] sgrif commented on #21580
I don't think there's any actionable issue here. ActiveSupport::JSON does more work than JSON, to handle additional cases that JSON does not. Doing more things is slower. I'm not saying it has the fastest possible implementation (we could avoid intermediate hash constructions if we were actually writing directly during iteration), but if your intention is to say that this should be as fast as JSON

[2015-09-10 18:40] Tonkpils opened #21582 "Constraint Subdomain and Redirect causes double redirect"
When setting the following constraints on the routes:

**routes.rb**
[code]
It actually performs two redirects for some reason and ends up in `www.www.localhost:3000`.

In the browser I can see it redirected `localhost:3000 => www.localhost:3000 => www.www.localhost:3000`

Writing a test case for this seems to pass

**actionpack/test/dispatch/routing_test.rb**
[code]

However, creating a sample ap

[2015-09-10 18:40] chancancode commented on #21580
Yeah, if the numbers are in line, then @sgrif is right; `JSON.dump` and `AS::JSON` are completely different algorithms, `AS::JSON` has to do more work, so it is slower (handle Active Record objects, and options passed to `as_json`, for example); most of JSON gem's encoding loop is also implemented in C, which further explains the difference.

If you happen to know that this particular end point is

[2015-09-10 18:40] #21580 closed

[2015-09-10 19:25] eiked opened #21583 "Rails should not depend on JavaScript (hard to port beyond x86)"
I am trying to get my rails application to run on a rig other than x86/amd64.

The problem is sprockets, relying on a JavaScript engine for the respective platform.

All other parts of ruby (and rails) port just fine across all architectures.

But not having a JavaScript engine on a platform just breaks it badly.
(because sprockets depends on it) -- aka rails does not work.
[and we all know that c

[2015-09-10 19:25] al2o3cr commented on #21582
Unrelated but first off: if you're really just aiming to canonicalize to the `www` version of your domain, it may be more efficient to do that at the web server level, FWIW.

Can you reproduce this issue on anything other than `localhost`? My guess is that `www.localhost` isn't getting picked up as having a subdomain since it only has one dot.

[2015-09-10 19:29] Tonkpils commented on #21582
I agree with you but it's not possible AFIK on services like Heroku.

Ah, that's a very good guess. I think the test may be passing because it contains an `.com`. I'll round back with an update

[2015-09-10 19:38] rafaelfranca commented on #21583
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-09-10 19:38] #21583 closed

[2015-09-10 19:44] sunkencity commented on #21580
OK, now I know how to optimise busy routes anyway.

I did find it not completely obvious how to improve the render time for a straight hash of objects, for an index view with 500 small hashes all pre called with rails formatting, I found it weird that it required 42ms in view.

[2015-09-10 19:44] rafaelfranca commented on #21571
Gemfile groups are not the same as environments they are only used to filter gems on `bundle install` so what you are doing right now (using `--without`) is the right things to do.

[2015-09-10 19:44] #21571 closed

[2015-09-11 00:10] gkop opened #21586 "Privatize or remove `ActiveRecord::Attribute#came_from_user?` and associated attribute methods?"
My impression is that this is not an API that should be public. More info at https://github.com/thoughtbot/factory_girl/issues/813

[2015-09-11 00:25] rafaelfranca commented on #21586
Thank for the issue. The whole class is private api of Rails, so we don't need to change anything.

[2015-09-11 00:25] #21586 closed

[2015-09-11 00:34] gkop commented on #21586
You're right. Thanks for your consideration.

[2015-09-11 00:41] gkop commented on #21586
Oh @rafaelfranca what do you think of this idea: since the attribute meta methods are only used at https://github.com/rails/rails/blob/9f4f08cdc1fb43f9b14d49f32db9a179abc77f6c/actionview/lib/action_view/helpers/tags/base.rb#L43-L46 , couldn't we just ditch them and hit the instance variable directly here? That design would remove a bunch of infrequently used methods, and reduce code overall...

[2015-09-11 00:45] gkop commented on #21586
Also, is it new for rails 5 that the methods are private? In 4.24 they are definitely plain public :/

[2015-09-11 00:45] matthewd commented on #21586
@gkop `:nodoc:` means internal, regardless of ruby access specifiers

[2015-09-11 00:46] gkop commented on #21586
Thanks Matthew, I didn't know that.

[2015-09-11 01:04] whistlerbrk opened #21587 "ActiveRecord opens an uncontrollable number of threads"
I've created a gist here: https://gist.github.com/whistlerbrk/a8766e0199333aed1075

I've been wrestling with this for a while.

A simple script, a simple simple script which isn't using any queuing libraries.

Can I no longer use ActiveRecord outside of Rails?

[2015-09-11 03:11] whistlerbrk commented on #21587
Please note that I've also run this w/the connection_pool block commented out and had the same exact thing occur.

`ps aux | grep importer | wc -l` => very high

Lots of key violations from multiple threads trying to save the same thing.

I've been a Rails user since 1.2.0, I've never had a problem scripting with AR. I can't figure this out.

I've resorted to establishing and disconnected after th

[2015-09-11 05:42] matthewd commented on #21587
Can you please make a standard [executable test case](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case)?

That should show us the relevant parts of the Product model, which seems relevant... the fact you're configuring the reaper implies you expect multiple threads to be in play.

[2015-09-11 06:08] Sega100500 commented on #21544
@jaredbeck
For Rails 3.2.xxx need use:
gem 'mysql2', '~> 0.3.20' ?

RoR 3.2.xxx no longer supported

[2015-09-11 06:43] NobodysNightmare commented on #21578
@matthewd

I am using it because I need to reference something from another record in my `where` clause. That is exactly what is done in the [documentation of `includes`](http://apidock.com/rails/ActiveRecord/QueryMethods/includes):

[code]

I could add that `where` statement to my example, but tried putting together a minimalistic one that is pleasant to reproduce.

Thinking about it, probably AR

[2015-09-11 07:23] matthewd commented on #21578
Yes and no.

As you surmise, `includes` means more than just a join -- it also instructs AR to construct the associated objects. So, if you want to load and populate a set of related objects all in one query, while applying a foreign-attribute condition, then yes, `includes`+`references`+`where` will do just what you want.

However, that's not what you want to do; you're trying to construct a raw

[2015-09-11 07:36] senny commented on #21563
@msxavi instead of `add_references` + `rename_column` it'd be better to `add_column` + `add_foreign_key`. This way you don't get a foreign key name based on the wrong column name.

One possible addition would be to extend the `:foreign_key` option to `add_references` in way that lets you specify the target table. Something along the lines of:

[code]

This would then allow Rails to generate the ke

[2015-09-11 07:39] NobodysNightmare commented on #21578
@matthewd Thank you for your explanation. It totally makes sense.

I will close this ticket, because everything seems to work as expected. I will take this last chance to link to another issue I opened in this context: https://github.com/rails/rails/issues/21577

The problem described there was my try to evade the behaviour observed here, but without luck ^^