[2017-12-09 04:09] AroSwift commented on #31377
Updating Rails to 5.x can be painful especially for legacy projects. I recently did this on a massive legacy project from Rails 4.2.7 to 5.0.6 and would recommend the follow course of action:

1. Update Rails from 4.2.7 to 4.2.10
2. Run rake rails:update and chose to overwrite everything
3. Do a git compare to see the difference after (I love Git Desktop tool for this)
4. Selectively pick what you

[2017-12-09 04:29] matthewd commented on #31371
Yeah, this error doesn't seem surprising (it's right; that's not a valid ruby file)... but if it's new, that sounds like a matter for rdoc.

As @y-yagi noted, we've already made a change that'll prevent this in future versions. That feels a bit substantial to backport, though, so I think we'll have to rely on rdoc to address it for older versions. (Especially as this is presumably true for many ye

[2017-12-09 04:29] #31371 closed

[2017-12-09 06:11] rodpat opened #31380 "ar"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2017-12-09 06:38] #31380 closed

[2017-12-09 08:44] matthewd commented on #31377
From the guide, where it advises you "do one minor version at time" (emphasis added):

Updating to the latest patch release in a series (4.2.6 -> 4.2.10) is just a matter of changing the version and re-bundling; there is no further action required.

`rake rails:update` is only intended to be run once per **minor** version: you'll first want to run it when you switch from 4.2.10 to 5.0.6.

Please u

[2017-12-09 08:44] #31377 closed

[2017-12-09 14:51] al2o3cr commented on #31367
What resolution are you proposing for this situation?

[2017-12-09 14:54] al2o3cr commented on #30443
@matthewd This seems like a distinct behavior compared to canceling callbacks with `throw :abort` - at a minimum, it would need to instead be `throw :abort, return_value` since the returned value is used (for instance, as the result of `save`).

[2017-12-10 00:57] helmutrs opened #31385 "Rails 5.1.4 ajax:error not trigger when object can't be save"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))
When submitting a remote form, and the controller failed to save or update the object because some restrictions in the model (like the attribute must not be blank), the ajax:error is not trigger, instead it keeps trigger the aja

[2017-12-10 06:48] americanasfuk88 opened #31388 "Sorry I can do nothing I'm locked out of everything"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2017-12-10 06:50] americanasfuk88 commented on #31388
I can't do anything I have a phone I'm signed in but my phone doesn't recognize that I had of an email for it so I can go nowhere I'm lucky to be here because I kind of semi God into my phone by using a talk back I am so sad I can't realize what's real and what's not everything is spoofed fake or just not mine and you LL is the code for it as it seems and if I sign into something it signs into som

[2017-12-10 06:53] americanasfuk88 commented on #31388
I do know that I open source license is got way more stuff on it then it should all about redirect or overwrite or what not I don't know what to do it seems as if Google Play Store contacts and phone or also screwed up when they're running things are not working I have no control over anything and cannot get in my phone this is the only means of contact I wish I could be more of a help but I don't

[2017-12-10 12:44] fatkodima commented on #31219
It looks like **every** (not just with `<` or `>`) `where` query with string expression not uses binds. This query `Issue.where("id = ?", 33).first` does not work with binds also.
Internally, for future query assembling it is simply converted into string here https://github.com/rails/rails/blob/cf0fcbe7f6fd52b3455af99b61ef2c40e6a0062e/activerecord/lib/active_record/relation/where_clause_factory.rb

[2017-12-10 13:47] #31388 closed

[2017-12-10 15:27] al2o3cr commented on #31385
@helmutrs Can you provide an example of this behavior? Useful things would include:

* logs of this behavior showing what the server replies to the AJAX call with
* source code of the controller action exhibiting this behavior
* (ideally!) a simplified application that demonstrates the issue

Without some of this additional information, it's difficult to debug your issue.

[2017-12-10 22:51] seanlinsley commented on #21958
Is there a new way to get a SQL string with the bind value embedded? It would be extremely valuable for ActiveAdmin. https://github.com/activeadmin/activeadmin/issues/4132

[2017-12-10 23:08] helmutrs commented on #31385
[code]

If the form was submitting successfully (the object can be created), then the ajax:success callback fires. But if the object can't be created, stills fire the ajax:success callback, if you need more info, please let me know.. thanks.

[2017-12-10 23:15] seanlinsley commented on #21958
Given the responses so far, I expect the answer is no.

I'm instead trying to build a custom visitor, but am having trouble.

Using [this](https://stackoverflow.com/questions/46193046/rails-activerecord-where-to-sql#comment79534750_46231931) as a base (thanks @tcopeland):

[code]

And given Rails' `to_sql` implementation:
[code]

I'm trying to do this:
[code]

But this is an array while `Nodes::Sq

[2017-12-11 05:30] DLawla opened #31393 "ActiveStorage (javascript) dispatchEvent not working in Firefox"
We are running into an issue where the ActiveStorage javascript window events (for example, 'direct-upload:initialize') are not being picked up by event listeners in Firefox, but are being picked up in Chrome and Safari.

For example, we use the following code to initialize some direct upload progress indicators:

[code]

This code does not get run on Firefox, but works happily in Chrome/Safari.

[2017-12-11 05:43] veekram commented on #30820
@mukarramali Thanks. I was setting up wrong path while generating rails generator. I had a workout for that . Thanks again :)

[2017-12-11 08:45] ebeigarts opened #31395 "Anonymous ActiveRecord classes leak memory"
Anonymous ActiveRecord classes (`Class.new(ActiveRecord::Base)`) are not garbage collected.

[code]

I have now discovered that anonymous classes are not supported #9002, but I can still create those classes without calling `establish_connection` on the child class.

[code]

A lot of rails test cases use anonymous classes, and this is the place I have learned to use them.

[code]

Suggestions:

1.

[2017-12-11 09:05] ebeigarts commented on #31395
I think it might be caused by `ActiveSupport::DescendantsTracker`.

[2017-12-11 09:20] ebeigarts commented on #31395
The same problem is with `ActiveSupport::Callbacks`, which also uses `DescendantsTracker`.

[code]

[2017-12-11 09:23] ebeigarts commented on #31395
What is the purpose of `DescendantsTracker`, isn't it needed only in `development` environment for `reload` to work? Can we disable it when `cache_classes = true`?

[2017-12-11 09:53] ebeigarts commented on #31395
I have found a workaround, that doesn't leak memory `k = Class.new(ActiveRecord::Base); k.superclass.direct_descendants.delete(k)`, but this feels wrong and would brake `.descendants` method.

[2017-12-11 12:08] aditya-vector commented on #31385
@helmutrs This looks more like a format issue.
The `format.js` is what you should be looking for instead of `format.json`,

If you look at your response in the console, you should be able to see that the response has status `200` instead of `422`. That is because you have not specified a block in `format.js`.

So, `format.js` should get you to `ajax:error` event with proper response status.

Note:

[2017-12-11 12:41] milushov commented on #21958
omg ActiveAdmin still alive

[2017-12-11 13:18] helmutrs commented on #31385
Hi @aditya-vector
In this particular example that I just created for demonstration, I do have a js.erb created (created.js.erb) to hide the form and update the homes table, or if the @home has any error, show the error on the homes index. But I thought that if the object has any error, the ajax was handle automatically without me change the status on the controller. Thanks.

[2017-12-11 13:33] seanlinsley commented on #21958
software never really dies once enough projects come to rely on it 😄

[2017-12-11 14:01] qutorial opened #31396 "Rails.env interpretation by config_for"
### Steps to reproduce

Create a file

config/sample.yml  like this:

development:
  database: dev

test:
  database: foo

In config/application.rb add this line:

   config.sample = config_for(:sample)

Run console like this with mistake:

rails console --environment test

mistake is that no = sign is used before the word test, but a space instead

Then in console:
Rails.configuration.sample
 =>

[2017-12-11 16:00] piotrpietrusewicz opened #31397 "ActiveSupport::MessageEncryptor::InvalidMessage Rails 5.1 secrets"
I generated secrets.yml.enc & secrets.yml.key, after secrets:edit and deploy by capistrano, I get above error. I don't know why. Production mode locally works fine, but on real production wrong.

/home/crazypiter1990/domains/crazypiter1990.usermd.net/shared/bundle/ruby/2.2.0/gems/activesupport-5.1.4/lib/active_support/message_encryptor.rb:133:in `rescue in _decrypt': ActiveSupport::MessageEncrypto

[2017-12-11 17:11] davidpaulhunt commented on #31353
@ahorek okay, I'll try it and high five you if it works out!

[2017-12-11 18:14] jakeyeaton16 opened #31400 "Request for rails website. Issue is not about Rails it's self."
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
**This has to do with the guide's website rather then rails its self.**
When scrolling through a guide the side navigation (on your right side on desktop view) should follow users as they scroll.

### Actu

[2017-12-11 20:14] mokolabs commented on #31265
I just ran into this issue while setting up a mailer in a new app using Rails 5.2beta2.

Why was this issue closed without comment? Is there a fix or workaround in place?

Thanks!

[2017-12-11 21:17] primerano opened #31404 "before_type_cast does not appear to work in Rails 5 for decimal columns"
### Steps to reproduce

Run this script

[code]

### Expected behavior

I expected _before_type_cast to return the data as entered by the user.

### Actual behavior

I get a BigDecimal

Expected: "-11"
 Actual: -0.11e2

### System configuration
**Rails version**:
5.1.4
**Ruby version**:
2.4.2p198

[2017-12-11 21:36] madrobby commented on #31265
@mokolabs See above, it was fixed and committed in 6121463 (idk if it made it into a beta yet)

[2017-12-11 21:47] primerano commented on #31404
Note..  This does work with new instead of create.   But in rails 4.1 it also worked in create.   I'm actually using this in a validation so I'll come up with a better example of my issue if this is WAD.

[2017-12-11 22:20] tiagotex opened #31406 "ActiveRecord Postgres adapter: Column rename fails when index with expression exists"
In ActiveRecord migrations using PostgresSQL when a table has an index defined using an expression, further renaming migrations fail because the regex to parse the index doesn't support expressions with line breaks.

This seems to be caused by PostgresSQL formatting the expression when creating the index. Move about this in the debugging area at the bottom.

### Steps to reproduce

https://gist.gi

[2017-12-11 22:39] yahonda commented on #31369
I've found the similar error has been happening with `ruby-head`

* This was the last successful build
https://travis-ci.org/rails/rails/builds/312034264

* This is the first failed build triggered by https://github.com/rails/rails/commit/7544cf7603959f25100b21f70b5e70354bed7e45
https://travis-ci.org/rails/rails/builds/312034264

`bundle exec rake postgresql:test` has been fine even in the failed

[2017-12-11 23:05] y-yagi commented on #31397
Can you please provide a sample application that reproduces the error?

[2017-12-11 23:19] y-yagi commented on #31396
It is expected behavior that can use space to specify env.
Therefore, `Rails.env` is returning the correct value. The reason why the result of `config_for` is not as expected is probably that there is something wrong with the application. Please check the setting of the application.

Also, please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for

[2017-12-11 23:48] y-yagi commented on #31400
Thanks for the issue, but we don’t take feature requests here. We reserve the Rails issue tracker only for bugs in Rails. PR welcome. Thanks!

[2017-12-11 23:48] #31400 closed

[2017-12-12 00:02] #30502 closed

[2017-12-12 02:26] octavpo commented on #31209
Well, they do generate 1 and respectively 2 SQL conditions. How many conditions does something like `col: 1..10` represent then? 2? 10? An infinity? It still generates a single SQL condition.

This is an interesting case. I'd have thought that this is exactly the expansion you'd want under your preferred scope for `not`. So you could use it as an argument saying that under option 2 Rails wouldn't

[2017-12-12 04:32] eugeneius commented on #31120
As https://github.com/rails/rails/pull/31179 was merged, I think this can now be closed.

[2017-12-12 04:55] aledalgrande opened #31408 "ActiveStorage and Mongo"
### Steps to reproduce

This is a possible feature request. I just installed Rails 5.2.0 beta2 and created a project with the `-O` option because I want to use Mongo instead of a relational database. What I noticed is that ActiveStorage, which I wanted to try out, was also disabled. I just saw that the gem is depending on ActiveRecord exclusively.

### Expected behavior

Create a project with `-O`

[2017-12-12 05:37] aledalgrande opened #31409 "Credentials are wiped out on edit"
### Steps to reproduce

1. Create a new Rails project
2. `rails credentials:edit`
3. Add new credential anywhere in the file
4. Save and exit from the editor
5. `rails credentials:show` will show what you just added

### Expected behavior

`rails credentials:edit`, when the editor opens, I see all my added credentials.

### Actual behavior

`rails credentials:edit`, when the editor opens, my added

[2017-12-12 05:50] #31120 closed

[2017-12-12 07:31] crigor commented on #31409
This bug is fixed on master. #31287

[2017-12-12 08:35] brolycjw opened #31412 "Removed"
Nevermind, probably not an issue with rails.

[2017-12-12 09:24] qutorial commented on #31396
Hello and thanks for your answer.

This is the only relevant place in the app for this task:

In config/application.rb add this line:

config.sample = config_for(:sample)

It is perfectly matching the rails documentation. I am also not asking for support therefore.

If the command line is designed to use space too, it is a bug then.

[2017-12-12 10:05] brolycjw commented on #31412
Apparently, this is not a bug with tag helper, I tried rendering a plain

[2017-12-12 10:05] #31412 closed

[2017-12-12 10:10] tilod opened #31413 "Path helpers don't omit optional parameters when they are set to the default"
I think I found a follow-up to #27454.

When a route is defined with dynamic segments and you want to generate a path where one of the optional parameters is set to it's default, Rails 5 (both 5.0.6 and 5.1.4) will include the optional parameter whereas Rails 4 did omit them.

### Steps to reproduce

Generate a new Rails app and add the following routes to the routes file:

[code]

### Expected be

[2017-12-12 10:59] piotrpietrusewicz commented on #31397
I can not, because is private project on production server. Generally, I run e.g 'rails console' and I get this kind of error.

[2017-12-12 12:25] y-yagi commented on #31396
OK, But I can not reproduce your problem with my application.
Can you please provide a sample application that reproduces the issue?

[2017-12-12 12:28] y-yagi commented on #31409
As crigor said, this problem has already been fixed by #31287.
Please wait for the next version release. Thanks!

[2017-12-12 12:28] #31409 closed

[2017-12-12 12:42] yahonda commented on #31369
There is another type of error reported at https://travis-ci.org/rails/rails/jobs/315219528

[code]

I'm wondering what consumes disk space.

[2017-12-12 13:33] eileencodes commented on #31369
@yahonda thanks for the investigation. Since PR's don't run isolated I'm going to push a branch to the main repo which will run isolated tests that reverts that commit and see if it alleviates the problem.

[2017-12-12 13:55] yahonda commented on #31351
If you are unable to reproduce this failure, uninstall `railties` gem as follows then it should reproduce .

[code]

[2017-12-12 14:40] matthewd commented on #31369
If it helps, #31415 is a different approach to approximately the same problem as 7544cf7603959f25100b21f70b5e70354bed7e45.

I'm not sure whether we want to do something so drastic.. but I do feel like we've been pushing up against this issue [of wanting differently-configured machines for different test suites] for a while.

[2017-12-12 14:44] primerano commented on #31404
Between rails 4 and 5 before_type_cast changed only have the original value before saving to the database.

Once saved, before_type_cast returns the database value.

The problem this causes me is if I have a validation that uses before_type_cast, calling valid? on a saved record will return false.  Test case follows..
[code]

[2017-12-12 15:13] yahonda commented on #31351
`generator.invoke_all` of these 4 tests install `railties` to the gem path, which makes `test_restart_rails_server_with_custom_pid_file_path` success.

#### Tests which install railties to the gem path

`test_active_storage_install`
`test_webpack_option_with_js_framework`
`test_template_is_executed_when_supplied_an_https_path`
`test_webpack_option`

Here are some verbose steps to reproduce and not

[2017-12-12 15:19] eileencodes commented on #31369
Ok so reverting  7544cf7 does fix the issue (see https://github.com/rails/rails/tree/whats-wrong-postgresql and it's build https://travis-ci.org/rails/rails/jobs/315360677).

@yahonda can you open a PR that reverts that commit and cc me? I want to make sure you get the credit for finding the commit.

I think that we should test @matthewd's branch by pushing it to rails/rails and make sure the issu

[2017-12-12 15:40] yahonda commented on #31369
Opened #31418 @eileencodes Thanks for considering the credit.

[2017-12-12 16:31] yahonda commented on #31369
Closing since the build is green. https://travis-ci.org/rails/rails/builds/315420746

[2017-12-12 16:31] #31369 closed

[2017-12-12 17:17] qutorial commented on #31396
Here you go:
git clone https://github.com/qutorial/railsenv.git
cd railsenv
bundle install
./reproduce.sh

[2017-12-12 17:19] qutorial commented on #31396
There you see how = and space make rails console behave differently.
The reproduce.sh shall explain everything. Otherwise, please, ping me.

[2017-12-12 17:20] qutorial commented on #31396
This app was created with rails new and then one change to config/application.rb, and one added file config/sample.yml. Like described in the first post.

[2017-12-12 17:40] rafaelfranca commented on #31351
I think the real problem here is that the railties gem installed in the gem path is being used. It should be using the railties gem in the bundler env that in that case is the railties gem of the repository. Can we check why it is not using the local gem?

[2017-12-12 17:42] rafaelfranca commented on #31408
Active Storage only support Active Record and we have no plans to work in different ORMs support. Of course if you are willing to make Active Storage working with Mongo feel free to send PRs.

[2017-12-12 17:42] #31408 closed

[2017-12-12 17:43] yahonda commented on #31351
Agreed. I am checking how `generator.invoke_all` works and would like to change it not to install gem to the gem path. but it would take some time due to my little experience with railties.

[2017-12-12 17:54] rafaelfranca commented on #31351
`generator.invoke_all` is fixing the issue but the real problem is the `test_restart_rails_server_with_custom_pid_file_path`. I think puma is what being trying to loaded the installed railties gem instead the local railties gem. puma should be respecting the bundler environment.

[2017-12-12 17:58] rafaelfranca commented on #31404
@sgrif can you check if this issue is valid or this is expected behavior?

[2017-12-12 18:06] sgrif commented on #31404
:eyes:

[2017-12-12 18:07] jduff opened #31419 "ActiveStorage: Allow access to backing file from Service API"
### Steps to reproduce

Currently with the `ActiveStorage::Service` api you can only get a link through the `url` method which, for most services, gives back a public URL that expires in some timeframe. It would be very useful if there was a `file` method that returned the backing file object from the service so that you have more flexibility in how you can expose those files.

### System configur

[2017-12-12 18:08] yahonda commented on #31351
yes. fixing `generator.invoke_all` would isolate `test_restart_rails_server_with_custom_pid_file_path` test failure. Let me tackle `generator.invoke_all` first. I did not have much experience with Puma yet (another thing to learn).

[2017-12-12 18:12] jduff opened #31420 "ActiveStorage Engine routes not listed"
### Steps to reproduce

1. Enable `active_storage` in your application configuration.
1. Run `rails routes` from the root of your project

### Expected behavior
Active storage routes should be listed with your application routes.

### Actual behavior
Routes are not listed.

Exposing these makes it a lot easier for the developer to understand what routes are available and how any routes they add mi

[2017-12-12 18:18] sgrif commented on #31404
It's the expected behavior. Once you save, the "before_type_cast" version of all attributes becomes what is currently persisted in the database. This is required for us to guarantee that your model is not considered dirty. Consider the following:

[code]

Additionally, you shouldn't be relying on the exact value of `_before_type_cast`. Your code will also fail if:
- The database gives us a binary

[2017-12-12 18:18] #31404 closed

[2017-12-12 18:37] aledalgrande commented on #31408
Gotcha thanks @rafaelfranca

[2017-12-12 19:05] rafaelfranca commented on #31419
Sounds good to me. @georgeclaghorn thoughts?

[2017-12-12 19:15] georgeclaghorn commented on #31419
I’m :-1: on the same method having a different signature in each Service class. It defeats the purpose of the Service abstraction.

[2017-12-12 19:15] rafaelfranca commented on #31351
Sounds good!

[2017-12-12 19:22] #31353 closed

[2017-12-12 19:42] rafaelfranca commented on #31419
Would a new `file` method require to have a different signature in each Service class?

[2017-12-12 19:48] georgeclaghorn commented on #31419
If I understand the proposal here correctly, it’d return a different type of object in every class.

[2017-12-12 19:53] rafaelfranca commented on #21958
@seanlinsley try: `Model.connection.unprepared_statement { Thing.hidden.to_sql }`

[2017-12-12 20:11] rafaelfranca commented on #31419
Ah yeah, got it. I understand your concerns but I think this doesn't defeats the purpose of the service abstraction. Take the Active Job adapter as example, each implementation return a different object each `job` with the same API. Or the Active Record connection adapters, where `ActiveRecord::Base.connection` can return similar objects but with slightly different API.

This proposal is not askin

[2017-12-12 20:21] georgeclaghorn commented on #31419
I’m still :-1:. If you want, say, a Google Cloud Storage client, you don’t need to go through Active Storage to get one.

[2017-12-12 20:36] rafaelfranca commented on #31419
Of course not, in the same way if you want a MySQL connection you don't need to go through Active Record, but why make it harder if we can make it easy? Is not this the whole point of Rails?

[2017-12-12 20:53] georgeclaghorn commented on #31419
The point of Active Storage is to permit Rails applications to maintain a healthy indifference to various storage services. It was borne from a specific need to keep Basecamp at arm’s length from heterogenous storage backends.

I’ve already stated my objections on those grounds and would suggest that you find a different way to accomplish your still-unstated purpose. Nonetheless, it sounds like yo

[2017-12-12 21:05] rafaelfranca commented on #31395
The test suite is not the documentation. We can and want to use any feature of the language and the framework in our test suite. There are a lot of private API being used in the test suite.

No. It is a faster way to go through descendants of a class without having to go through the slow `ObjectSpace`

We can't because callbacks use it.

That seems to be the course of action but that doesn't preve

[2017-12-12 21:11] georgeclaghorn commented on #31419
Sorry, I didn‘t mean to imply you’re not listening to me. I know you are and I appreciate it. :heart:

If you have a use for this, let’s add it. You’re right that we don’t have to use it.

[2017-12-12 21:39] jduff commented on #31419
I can work around this if I really need to, but I was thinking along the lines of @rafaelfranca when he said "why make it harder if we can make it easy".

The case I have for this is we have an internal application that is storing somewhat sensitive documents and we're hesitant around have a public url, even a random one that expires, available to the files. I already added a custom controller to

[2017-12-12 21:47] #31199 closed

[2017-12-12 21:50] seanlinsley commented on #21958
That definitely works to get the entire query:
[code]

But I'm wanting to compose a query from multiple scopes in order to limit the number of queries that ActiveAdmin needs to do (that all are operating on the same data).

Given this code:
[code]

I want to be able to generate this database query:
[code]

My options are to:
- get `where_sql` working
- do regex string substitution on the result fr

[2017-12-12 21:59] rafaelfranca commented on #31397
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2017-12-12 21:59] #31397 closed

[2017-12-12 22:45] sgrif commented on #21958
Caveat: Everything in this comment is not public API. I do not want to hear about it if this stops working. That said I don't expect this to break any time soon....

As you may be aware, the way that we deal with bind parameters changed significantly in 5.2. Bind params are stored on the AST itself, rather than kept separately as they were in previous versions (which was brittle and bug-prone). A

[2017-12-12 23:04] rafaelfranca commented on #31367
I don't think there is much we can do here. The second argument can be anything even a number and I don't think we should be defensive about which arguments are being passes. Users should be testing if they migrations are working.

[2017-12-12 23:04] #31367 closed

[2017-12-12 23:58] #30531 closed

[2017-12-13 01:00] Mr0grog commented on #30531
This is still an issue as far as I'm aware.

[2017-12-13 05:16] #18062 closed

[2017-12-13 07:08] piotrpietrusewicz commented on #31397
So few things that I did before error came up:

1. Run rails secrets:setup
2 Add line config.config.read_encrypted_secrets = true to production.rb
3. Run "EDITOR='subl --wait' rails secrets:edit" in terminal
4. Fill the file with data  ( attachment see)

- [example.txt](https://github.com/rails/rails/files/1554432/example.txt)

5. Rails encrypt the file with file secrets.yml.key
6. Add secrets.yml

[2017-12-13 08:51] ebeigarts commented on #31395
Wouldn't it be better then to modify `DescendantsTracker#inherited`?

[code]

Maybe it would be better to just skip tracking for anonymous classes? Because anonymous classes is a nice ruby feature and I would like to use them also for AR classes.

[code]

[2017-12-13 08:57] matthewd commented on #31395
Whether a class has a name has only a superficial relationship to whether it's going to "leak memory" -- the descendants tracker tracks all descendants. It's slightly more likely that an anonymous subclass will later go away, but not necessarily true: it might even be assigned to a constant at some later point.

Likewise, the existing exception has nothing to do with this "leak" -- there are other

[2017-12-13 09:06] ebeigarts commented on #31395
@matthewd so what are you suggesting we do with this?

Another idea - How about if we change `DescendantsTracker` to store `klass.object_id` instead of `klass` and use something like `ObjectSpace._id2ref(object_id)` to get the class and check if it is still alive (not garbage collected), the `DescendantsTracker` could be a bit slower, but this could fix the leaks. WDYT?

[2017-12-13 09:10] matthewd commented on #31395
If you describe the problem you're actually trying to solve by creating 1000s of AR::Base subclasses, I might be able to offer an opinion. Right now "don't do that" is definitely a front-runner.

[2017-12-13 09:51] jdelStrother opened #31426 "t("foo", default: false) doesn't respect the default"
### Steps to reproduce

Try to translate a key, supplying a default of `false` ( eg `t("foo", default: false)`).

### Expected behavior

If the translation is missing, it returns `false`

### Actual behavior

If the translation is missing, it returns `<span class="translation_missing" title="translation missing: en.false">False</span>`

This is also demonstrated in this sample project:
[rails51.zi

[2017-12-13 10:11] Linuus commented on #30842
Adding `dependent: :destroy` seems to fix the issue. It's a bit confusing IMO though, as it sound like the guide is destroyed :) But it works!

Thanks!

[2017-12-13 10:11] #30842 closed

[2017-12-13 11:05] utilum commented on #31426
@jdelStrother could you reproduce with an executable script based on https://github.com/rails/rails/blob/master/guides/bug_report_templates/generic_gem.rb ?

[2017-12-13 11:08] MassMadankumar commented on #28971
root@instance-2:/mnt/zapstore.com/shopifyapp/zap# rails s
=> Booting Puma
=> Rails 5.1.4 application starting in development
=> Run `rails server -h` for more startup options
Puma starting in single mode...
* Version 3.11.0 (ruby 2.4.2-p198), codename: Love Song
* Min threads: 5, max threads: 5
* Environment: development
* Listening on tcp://0.0.0.0:3000
Use Ctrl-C to stop

[2017-12-13 11:20] jdelStrother commented on #31426
Will see what I can do

[2017-12-13 11:25] ebeigarts commented on #31395
I have used this in multiple ways and I know there are workarounds, but anonymous classes are pretty basic ruby feature. At least it should give a warning.

1. Creating active models with dynamic attributes

[code]

2. Preloading active record associations with dynamic conditions to avoid N+1 queries

[code]

I could find more examples where I have used `Class.new`, most of them could be rewritten

[2017-12-13 11:43] ebeigarts commented on #31395
Maybe we can use https://ruby-doc.org/stdlib-2.4.2/libdoc/weakref/rdoc/WeakRef.html in descendants tracker to allow anonymous classes?

[2017-12-13 11:54] matthewd commented on #31395
Thanks for the example.

As I said, it has nothing to do with anonymous classes -- the behaviour you're objecting to is that all descendants of AR::Base are retained.

Yes, I'm open to considering a WeakRef in the tracker, if a race-free implementation isn't too ugly (and doesn't measurably impact performance, though I don't expect it would).

[2017-12-13 12:17] ebeigarts commented on #31395
By `race-free` do you mean threadsafe or something else?

I have found https://github.com/ruby-concurrency/ref and it states that `MRI Ruby 2.0+ has a good implementation of WeakRef`.

I could create a PR with WeakRef from stdlib and do some benchmarks. How that sounds? Is there anything else I should know?

[2017-12-13 12:27] y-yagi commented on #31396
Thank you for providing sample application.
Spring seems to be unable to correctly parse the long option.

[code]

[2017-12-13 12:28] matthewd commented on #31395
Thread-safe, and "not let WeakRef::RefError escape, no matter when the GC runs"-safe. Mentioned because I suspect doing the obvious thing for one might create issues on the other.

We'll also need to check what the existing test coverage looks like, especially as it's likely impractical to test the actual weak part.

[2017-12-13 12:38] qutorial commented on #31396
Ok. What are the next steps?
Can I help in some way?

[2017-12-13 12:45] y-yagi commented on #31396
Please create a issue to [spring](https://github.com/rails/spring).

Also, if you are interested, can you make a PR?

I think probably need to fix the following lines.
https://github.com/rails/spring/blob/f0d2d65afd715cb0103af9e31ecfcee7f2d2c825/lib/spring/commands/rails.rb#L21
https://github.com/rails/spring/blob/f0d2d65afd715cb0103af9e31ecfcee7f2d2c825/lib/spring/commands/rails.rb#L69
https://gi

[2017-12-13 12:48] qutorial commented on #31396
Let me try : )

[2017-12-13 12:50] primerano commented on #31404
Thanks for the insight @sgrif - my validation did seem a bit fragile after writing out the test case.

[2017-12-13 13:08] adityan-webonise commented on #31426
I think the issue is with Array being passed as an option [here](https://github.com/rails/rails/blob/v5.1.4/actionview/lib/action_view/helpers/translation_helper.rb#L62) in the Rails helper.
`I18n.translate('foo', default: [false])` returns `"translation missing: en.foo"`

And thus, the helper encapsulates it [here](https://github.com/rails/rails/blob/v5.1.4/actionview/lib/action_view/helpers/tran

[2017-12-13 13:18] aditya-vector commented on #31426
I think the issue is with Array being passed as an option [here](https://github.com/rails/rails/blob/v5.1.4/actionview/lib/action_view/helpers/translation_helper.rb#L62) in the Rails helper.
The code in the helper encapsulates the `default` option to an array no matter what. And, thus on the I18n side when I run,
`I18n.translate('foo', default: [false])` it returns `"translation missing: en.foo"`

[2017-12-13 13:41] qutorial commented on #31396
It is not very straightforward to me right now, how do I set up development environment for spring to run tests after I perform changes.
Is there a document about it? (The readme.md of spring did not help)

[2017-12-13 14:11] qutorial commented on #31396
This have to be the fix, but I am not sure how to test it.
https://github.com/qutorial/spring/commit/28fffdbec2cd5b3a36d4555b7c31230cea581cb5

[2017-12-13 16:37] drewdev commented on #28229
@rafaelfranca - any chance this could get another look? I recognize the complexity - particularly given how small a gain it would bring - but I'd suggest without it the support for database-level defaults in the current form is not feature complete. If it's not feasible, I would almost rather the framework not expose it as an option in the first place. Thanks for your consideration 🙏

[2017-12-13 16:57] rafaelfranca commented on #28229
Feel free to work on it. Right now this problem is not priority for the Rails team since there is a workaround.

[2017-12-13 17:29] meinac commented on #31419
There is the `download` method and as far as I see from the implementation it returns the content of the file, doesn't it work for you?

[2017-12-13 17:47] jduff commented on #31419
That would be a possible solution, download the file and proxy it through the app. I was hoping to get a direct url to the file that would require google account authentication, but I could handle that part in the app and proxy the file as a work around.

[2017-12-13 19:22] #31420 closed

[2017-12-13 19:52] O-kasso opened #31430 "Generator CLI allows naming columns with forbidden characters"
### Steps to reproduce
1) `rails g scaffold foobar goodname bad-name`
2) `rails db:migrate`
3) Migration fails because of hyphen in "bad-name"
### Expected behavior
`rails g scaffold` fails with a descriptive error explaining that the hyphen character `-` is not allowed in column names

### Actual behavior
generator succeeds, creates a bunch of files, only for migrations to later fail:

[code]

##

[2017-12-13 19:53] rschooley opened #31431 "ActiveRecord calling save on a parent with accepts_nested_attributes_for with before_destroy on child model can raise error"
### Steps to reproduce
have a parent model with `accepts_nested_attributes_for :foos, allow_destroy: true`
have the child model add an error and return false in a `before_destroy` hook
mark the child with `_destroy` in a `fields_for`
save the form

### Expected behavior
Calling `save` on the parent should return false.

### Actual behavior
An unhandled exception is thrown `ActiveRecord::RecordNotD

[2017-12-13 20:01] O-kasso commented on #31430
Perhaps there's a clever way to slip in a scan for invalid chars in rails/railties/lib/rails/generators/generated_attribute.rb

[2017-12-13 22:25] y-yagi commented on #31396
Let's create a PR and discuss with Spring's maintainers.
Also, this is the issue of Spring. So I close this. Thanks!

[2017-12-13 22:25] #31396 closed

[2017-12-13 23:06] y-yagi commented on #31431
Please check if the issue is reproduced with latest Rails.
Rails 4.2.x only supports severe security issues.
If you can be reproduced the issue with latest Rails, feel free to reopen this issue. Thanks!

[2017-12-13 23:14] adrian282 opened #31437 "Rails 5.1.4 Belongs_to validation"
If child association will fail on its validation rules then I receive ActiveRecord::NotNullViolation after parent save

[code]

In this case, belongs_to validation doesn't work

[2017-12-14 01:08] lastobelus commented on #27633
How do you ignore  apidock.com? I'd love to ignore it, I really would. I spent more than an hour once trying to figure out how to get google to NEVER SHOW IT TO ME AGAIN, but I was unsuccessful.

[2017-12-14 02:12] augustosamame opened #31438 "Unable to access main_app secrets from Rails engine initializer"
### Steps to reproduce

Create a Rails main app
Create Rails mountable engine
Mount engine in main rails app

Edit the secrets.yml in main app:

[code]

create an initializer in engine. For example:

config/initializers/carrierwave.config

[code]

### Expected behavior
Engine initializer should be able read Rails.application secrets from main_app

### Actual behavior
The variables set in engine in

[2017-12-14 06:53] justedd opened #31440 "postgresql view join table & has_and_belongs_to_many_association, how to skip callbacks"
Deleted

[2017-12-14 11:03] henrik opened #31443 "simple_format bug with input like "a <) b""
Saw some borked user input. Minimal repro:

[code]

[2017-12-14 13:03] ypresto opened #31444 "nested _destroy will call before/after_destroy callbacks with model attributes updated"
### Steps to reproduce

1. Add `accepts_nested_attributes_for ... allow_destroy: true` to a model
2. Add before_destroy / after_destroy / around_destroy callbacks to nested model
3. When setting a field of nested model with `_destroy: true` specified
    - `model.child.to_h == { id: 1, name "Mister Pablo", ... }`
    - `model.update(child_attributes: { id: 1, name: "Santa Maria", _destroy: true })

[2017-12-14 14:13] Kevinrob commented on #26179
I lost a lot of time with that...

My workaround: `config/initializers/rack_lint_websocket.rb`
[code]

[2017-12-14 14:27] seandilda opened #31445 "ActiveRecord 5.1 - #includes raises NoMethodError when case doesn't match on join columns"
### Steps to reproduce

(This is how my app is setup, there may be other configurations that produce the same error).

schema.rb:
[code]

Models:
[code]

Set the username on an activity to a username that doesn't exist in the users table.
Run:
[code]

(I realize this is a case of bad data consistency, but I'm dealing with data from other systems, and I don't want to lose data or generate artificia

[2017-12-14 14:59] meinac commented on #31445
I tried but couldn't reproduce the issue, can you please try to provide an executable reproduction script by using the information given in [this](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case) page?

[2017-12-14 15:19] meinac commented on #31437
I tried but couldn't reproduce the issue, can you please try to provide an executable reproduction script by using the information given in [this](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case) page?

[2017-12-14 18:37] #31440 closed

[2017-12-14 19:02] kaspth commented on #31438
Thanks for the issue!

@y-yagi you have a knack for engines, care to take a look? 😊

[2017-12-14 19:13] kaspth commented on #31397
I don't think we can provide help on a Capistrano set up. It seems unlikely to me that there's a bug in Rails here. All the best to figuring it out!

[2017-12-14 19:22] seandilda commented on #31445
Thanks, the reproduction script made this a lot easier to narrow down.
Turns out I was mistaken, the issue actually comes when you're joining on a string key and there is different capitalization.  The following script reproduces it.

I had to switch to mysql backend to reproduce it.  In case it matters, my backend is mariadb 5.5.56

[code]

[2017-12-14 19:52] brandoncordell opened #31454 "Can't stop remote:true forms from sending request"
### Steps to reproduce

Create a simple with `form_with` (defaulting to `remote: true`).

In a javascript file attempt to stop the xhr request from sending.

[code]

### Expected behavior
Returning false from `ajax:beforeSend` and `ajax:send` should stop the event (and the form) from completing it's request.

The callbacks are running as I'm able to see `console.log` output from each of them.

###

[2017-12-14 19:57] brandoncordell commented on #31454
Returning false from `ajax:beforeSend` is stopping Rails from including the CSRF Token on the request though. So while it sends the request it fails everytime.

[2017-12-14 20:06] eileencodes commented on #31443
Hey @henrik! Thanks for the report. I tried this in a console linked to the master branch and saw the same thing. Do you know the last version this was working correctly on?

[2017-12-14 20:54] Rodeoclash commented on #27793
I have also have run into this issue, here is where I have detailed it in a Stack Overflow post:

https://stackoverflow.com/questions/47807569/actioncable-in-production-repeated-101-responses?noredirect=1#comment82579470_47807569

@akhilstanis @giolazzareschi did you manage to resolve this? Please give me some pointers as I'm almost all out of ideas of possible fixes for this one :roll_eyes:

[2017-12-14 21:03] brunovcosta opened #31457 "Postgresql money type is not correctly casted"
### Steps to reproduce

[code]

### Expected behavior
[code]
or if cents is defined as default:
[code]
### Actual behavior
[code]
### System configuration
[code]

[2017-12-14 21:09] ximus commented on #30148
workaround i used in my situation (rails 4.2.7.1)

changed my query from:
[code]

to:
[code]

[2017-12-14 21:31] ramses-lopez commented on #28764
@murdoch It may be the fact that now remote is the new default, so it makes sense that you specify the "exception" with local: true

[2017-12-14 21:35] akhilstanis commented on #27793
@Rodeoclash Not really. This was only happening in development and it was working fine in production.

[2017-12-14 21:37] tilo commented on #26209
@sgrif what is the status of this issue?

It is disheartening to see this issue has been raised in Aug 2018, and it has still not been addressed..

Is there an ETA when this will be fixed, and what version of Rails is targeted for the fix?

We too use SQLite3 for much faster testing, and MySQL in prod.

One other issue I noticed is that some of the limits from the old schema file no longer show up

[2017-12-14 21:56] Rodeoclash commented on #27793
How interesting. I have the inverse where it is production not functioning development is fine. Thanks for the reply.

[2017-12-14 22:02] yahonda opened #31458 "Ruby 2.5 undefined method `make_tmpname'"
Ruby 2.5 does not have `Dir::Tmpname.make_tmpname`

### Steps to reproduce

[code]

### Expected behavior
It should pass.

### Actual behavior
[code]

### System configuration
**Rails version**:master branch

**Ruby version**:ruby 2.5.0dev (2017-12-15 trunk 61262) [x86_64-linux]

It is related to #31099

[2017-12-14 22:03] henrik commented on #31443
Hi! Thank you for verifying that. I’m not sure whether it has worked previously. I saw the issue on Rails 4.2 when a customer reported it, and then could also see it on 5.

On 14 Dec 2017, 20:07 +0000, Eileen M. Uchitelle <notifications@github.com>, wrote:

[2017-12-14 22:28] adimitrov opened #31459 "Autoloading issue when the parent module defines the same constant"
### Description

Class autoloading returns the wrong class when trying to load a non existing constant. Its an edge case that only happens only if the parent module defines the same constant, which is not yet autoloaded. It also happens sometimes for existing constants, but the issue is the same and this test its more obvious and easy to reproduce.

### Steps to reproduce

[code]

[code]

Here is

[2017-12-14 23:08] tilo commented on #26209
maybe @kamipo can help?

[2017-12-14 23:21] sgrif commented on #26209
@tilo Please stop pinging various team members. It will not bring more attention to your issue. As has already been stated, we're happy to accept a fix for this, but this issue needs a champion to write up a PR. It is not currently a priority for anybody on the team. Continuously pinging us here and on other mediums will not make something happen faster.

[2017-12-14 23:22] mengu commented on #15185
hi. i believe this must be fixed in AR core. @alekseyl would you be interested in sending a PR?

[2017-12-14 23:32] sgrif commented on #15185
I'm going to go ahead and close this, as there's been very little movement on it for 3 years. I don't think this is strictly a bug, but I do think this is a gotcha that we can (possibly) improve in a backwards compatible way.

I'm not sure that [my comments from 2014](https://github.com/rails/rails/issues/15185#issuecomment-43549305) still holds or not. That approach is only tenable if we can be c

[2017-12-14 23:32] #15185 closed

[2017-12-14 23:38] sgrif commented on #31457
I attempted to reproduce your issue using the following script, and was unable to do so. Please provide a script that can be used to reproduce the issue using [our standard bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)

[code]

[2017-12-15 00:17] tilo commented on #26209
It's duffyjp's issue really.

So the question is _how_ one is supposed to find a "champion"?
Filing an issue and waiting for 16 months, hoping someone stumbles over it, doesn't seem to work

Introducing this sort of dependency in the schema dump seems pretty short-sighted IMHO.
AR is supposedly an abstraction, so people can easily switch out their DB..

[2017-12-15 00:18] mengu commented on #15185
hi @sgrif

consider the following scenario: we have 3 models: post, comment, author. we get posts with `Post.joins(:author).includes(:author).all`. that's fine. we'd like to get the comment count as well:

`Post.joins(:author).includes(:author).select("(SELECT COUNT(*) FROM comments WHERE comments.post_id = posts.id) AS comment_count").`

while this generates the correct query, comment_count will

[2017-12-15 01:11] adrian282 commented on #31437
# frozen_string_literal: true

begin
  require "bundler/inline"
rescue LoadError => e
  $stderr.puts "Bundler version 1.10 or later is required. Please update your Bundler"
  raise e
end

gemfile(true) do
  source "https://rubygems.org"

  git_source(:github) { |repo| "https://github.com/#{repo}.git" }

  # Activate the gem you are reporting the issue against.
  gem "activerecord", "5.1.4"
  gem "

[2017-12-15 01:14] yahonda opened #31461 "ActiveRecord::Result.new shows `warning: BigDecimal.new is deprecated`"
### Steps to reproduce

[code]

### Expected behavior
It should pass without warnings.

### Actual behavior
[code]

### System configuration
**Rails version**:master branch

**Ruby version**:ruby 2.5.0dev (2017-12-15 trunk 61262) [x86_64-linux]

[2017-12-15 01:19] PikachuEXE commented on #30578
Will anything be done for this issue?

[2017-12-15 01:23] kamipo commented on #31461
Thanks. But this is caused by this line in mysq2, not a Rails issue.

https://github.com/brianmario/mysql2/blob/5fa7700e945fc6b2d9807b23f238ca111396aa89/ext/mysql2/result.c#L447

[2017-12-15 01:23] #31461 closed

[2017-12-15 01:44] yahonda commented on #31461
Thanks for the info.

[2017-12-15 01:58] yahonda commented on #31461
Opened brianmario/mysql2#925

[2017-12-15 02:38] yahonda opened #31463 "PrimaryKeyAnyTypeTest#test_any_type_primary_key failure"
### Steps to reproduce
[code]

### Expected behavior
It should pass.

### Actual behavior
[code]

### System configuration
**Rails version**:master branch

**Ruby version**:ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]

[2017-12-15 02:57] #31458 closed

[2017-12-15 04:07] #31463 closed

[2017-12-15 04:10] yahonda commented on #31463
Thanks for the fix.

[2017-12-15 04:36] yahonda opened #31465 "Ruby 2.5 BigDecimal#dup is deprecated"
BigDecimal#dup is deprecated in BigDecimal 1.3.3, which is part of Ruby 2.5.0 rc1 https://github.com/ruby/bigdecimal/pull/85

### Steps to reproduce

[code]

### Expected behavior
It should finish without warnings.

### Actual behavior
[code]
### System configuration
**Rails version**:master branch

**Ruby version**:ruby 2.5.0rc1 (2017-12-14 trunk 61243) [x86_64-linux]

[2017-12-15 04:38] yahonda commented on #31465
It would be addressed by changing from `true` to `false`. Let me check and test with all versions of Ruby versions 2.2, 2.3, 2.4 and 2.5.0 rc.

https://github.com/rails/rails/blob/06dbc028da444079d82b36ea4325a924982838a6/activesupport/lib/active_support/core_ext/object/duplicable.rb#L113-L115

[2017-12-15 06:11] jebie opened #31468 "Timezone Difference for Alias column and Actual column in DateTime"
Different result in timezone display for actual column and alias column.

### Steps to reproduce
// Local Machine Timezone `+08:00`

config/application.rb
[code]

[code]

### Expected behavior
It should be same both alias column and actual column `+09:00`

### Actual behavior
Alias column Timezone was `+08:00` // based on my Machine Timezone
Actual column Timezone was `+09:00` // based on Applicat

[2017-12-15 09:58] meinac commented on #31437
There is no issue with rails. If you try with `autosave` option in your owner model it works.

[code]

But why? The thing is if you don't set `autosave` to **true** then Active Record does not try to save the company relation and since you have not null constraint in your database it raises the exception. What happens when you set `autosave` to **true** is, Active Record tries to save relation but

[2017-12-15 10:53] runephilosof opened #31472 "headers argument to controller test_case process is ignored"
### Steps to reproduce
Do as the guides describe in a controller test

[code]

Then check for `request.referer` in the controller.

http://guides.rubyonrails.org/v5.0/testing.html#what-to-include-in-your-functional-tests
http://guides.rubyonrails.org/v5.1/testing.html#what-to-include-in-your-functional-tests

### Expected behavior
`request.referer` returns "http://example.com/home".

### Actual be

[2017-12-15 10:58] adrian282 commented on #31437
I can't agree with your answer...
If Company model data will be correct (name length in 2..4) then company will be saved (without this option).
**belongs_to** property (without optional flag) should care that relationship exists, without raising exception on database level!
According to documentatin, **autosave** flag is for different purpose (for saving in update action).

[2017-12-15 12:07] meinac commented on #31437
This is from the documentation, which means no matter whether its an update or insert or delete.

But here I see that there is an issue with the rails in autosave module. Since the owner belongs to company while saving owner the company should be saved as well so this is what Active Record is trying to do. By default rails saves associated records if they are new records even though the autosave o

[2017-12-15 12:50] adrian282 commented on #31437
Without `autosave` flag company is also saved (as you said - implicit save).
In my opinion autosave = true should be as default option. When autosave = false, relationship shouldnt be saved.

I really don't know why (without autosave option) model is not validated (because autosave is implicitly)?

[2017-12-15 13:18] meinac commented on #31437
With or without autosave the parent model is validated. The only difference is when autosave option set as true, the validation failures rollback the transaction. If it's not set, it just ignores the validation error on parent model and tries to save object.

As far as I see from the code and test cases, this was done in purpose which does not make sense to me. If the relation is `belongs_to`, par

[2017-12-15 13:32] adrian282 commented on #31437
Yes, I fully agreed with you. Database exceptions should be the last way for keeping data consistency :)
Thanks for your support. Please update this topic if you will have any news about this.

[2017-12-15 14:02] zw963 opened #31474 "link_to ... data: {confirm: "Are you sure?"} not worked in Firefox 57"
All those code which use `data: {confirm: "Are you sure?"} not worked in firefox 57.

I am not sure this is a bug for Rails or Firefox, But, it just worked fine in chrome.

in firefox 57 (quantium), could not see any special error log in js console.

Thanks.

[2017-12-15 17:10] yahonda commented on #31351
It looks like `test_restart_rails_server_with_custom_pid_file_path` failure is triggered by `bundler 1.16`.

I have tested with these Ruby and Bundler verisons and found it does reproduce when I use bundler 1.16.0, which is the latest released version.
It also reproduces with bunlder 1.16.1.pre1 which is bundled with Ruby 2.5.0.rc1

### Not reproduce
[code]
### Reproduce

[code]

[code]

[2017-12-15 17:27] Schwad commented on #27157
I know that there is a good thread on that PR but since it's against a PR that was closed four years ago maybe not the best place to wrap up this conversation.

@gingerlime would you feel confident pulling a PR together on this issue with an implementation on your thoughts on what the docs should look like with what you know?

Are there any further gaps you need to know? I'm sure if you're only 80

[2017-12-15 17:37] yahonda commented on #31351
Please ignore my previous update. It was not correct.

[2017-12-15 19:02] scande3 opened #31476 "Mounted engine at root fails to generate correct URLs when using a subdirectory (config.relative_url_root)"
### Steps to reproduce

1. Configure a Rails application designed to be deployed in a subdirectory (ie. setting config.relative_url_root as specified in the [docs](http://guides.rubyonrails.org/configuring.html#deploy-to-a-subdirectory-relative-url-root)).

2. Mount an engine at the root with something like: `mount TestEngine::Engine => '/'`

3. See that its URL routing helpers do not contain the

[2017-12-15 19:42] moveson opened #31477 "ActiveRecord::NestedAttributes :reject_if should output to server log"
### Steps to reproduce
[code]

Now create a User with Posts, but leave the title of at least one Post blank.

### Expected behavior
Server logs should indicate that a Post has been rejected.

### Actual behavior
The Post is rejected without any indication in the logs.

### System configuration
**Rails version**: 5.1.4

**Ruby version**: 2.3.5

[2017-12-15 19:45] booch opened #31478 "Backport Ruby 2.5 support to Rails 5.0"
My team is hoping to upgrade to Ruby 2.5 before upgrading to Rails 5.1. It appears that there are some fixes on the 5.1 and master branches that haven't been made in Rails 5.0. I'm hoping it's useful to track those here, and that they can be cherry-picked into the 5.0 branch.

### System configuration
**Rails version**: 5.0.6

**Ruby version**: 2.5

[2017-12-15 19:47] moveson commented on #31477
I've just spent an hour debugging what I thought was a faulty #update action just to find that the child records were being rejected by :reject_if. Once I discovered the problem, I remembered going through a similar process about a year ago.

Please consider having :reject_if output a single line to the server logs when it rejects a child record. I envision something similar to the output produced

[2017-12-15 19:47] booch commented on #31478
* https://github.com/rails/rails/commit/3d91649654ff5570d0cf26f96ec9f82f31fe32f6
* https://github.com/rails/rails/pull/31099/commits/4022f33416a00fd6a18989aa54f60573f48be0a0
* https://github.com/rails/rails/pull/31099/commits/2d5700b9a3e2ac25a5ff349ca6d3dc27077cea13
* https://github.com/rails/rails/pull/31455/commits/94c1bacd9b515bb0fd9aa231140a8e1f45a26574
* https://github.com/rails/rails/pull/31

[2017-12-15 21:58] rafaelfranca commented on #31478
Rails 5.0 is in its EOL. We are going to backport some change to support 2.5 and release a last version but we are not going to push any other official release, even if it is a security issue.

[2017-12-15 21:58] #31478 closed

[2017-12-15 23:46] mokolabs commented on #31273
FYI... I just ran into this same issue when using Action Mailer previews.

I'm unable to switch from the plain html email to the text email using the dropdown in the page header. Nothing happens after selecting a value from the dropdown and there is a CSP-related error in the console.

[2017-12-15 23:47] mokolabs commented on #31273
Also, I can confirm that the fix suggested @pixeltrix works in this case too.

[2017-12-16 03:04] y-yagi commented on #31438
Can you provide a sample application that reproduces the issue?
I tried to reproduce with a sample application(https://github.com/y-yagi/reproduce_31438). But could not reproduce.

[2017-12-16 03:19] y-yagi commented on #31474
What is "not worked"? Do not show confirmation? Or, do not the reaction when click submit?
They are seem working properly in my environment.(Firefox: 57.0.1).

Is this issue reproduce with newly application? And, if you use some add-ons, please disable those.

[2017-12-16 09:37] zw963 commented on #31474
@y-yagi , weird,  the issue is don't do the reaction when click the submit.

I use linux 64-bit system (openSUSE), firefox 57.0.2

I open several add-ons in my browser, i will try it later.

thanks.

[2017-12-16 10:08] y-yagi commented on #31472
Can you please provide a sample application that reproduces the issue?

[2017-12-16 18:11] blindMoe commented on #29408
Thank you very much for leaving this open!  It just saved me a lot of time!

[2017-12-16 19:01] m-z-b opened #31486 "An encrypted secrets file containing invalid YAML cannot be edited if used by development environment"
### Steps to reproduce

1. Create a rails project with encrypted secrets
2. Add `config.read_encrypted_secrets = true` to config/environments/development.rb
3. Run `rails secrets:edit` and edit the secrets file so that it contains some invalid YAML
4. Exit the editor
5. Run `rails secrets:edit`

The editor will fail to load as an attempt is made to parse the encrypted secrets file before the edito

[2017-12-16 20:14] atstockland commented on #31324
I have experience this too.  I suspect minitest-rails gem is causing...but, haven't proven that or figured out out if I can fix it, yet.

[2017-12-16 23:32] y-yagi commented on #31486
Thanks for creating an issue. This is duplicate with #30851. Let's track on #30851.

[2017-12-16 23:32] #31486 closed

[2017-12-17 00:54] y-yagi commented on #31454
Thanks for your create issue.  This already fixed by #29127.
Please wait for release next version. Thanks!

[2017-12-17 00:54] #31454 closed

[2017-12-17 04:24] oyeanuj commented on #29781
@JarLowrey @sgrif Same question - how can we keep up with the outcome for this issue?

[2017-12-17 06:06] hw676018683 opened #31491 "double decrement counter_cache when updating association nil"
### Steps to reproduce
[code]

[code]

[code]

update sql
[code]

### Expected behavior
[code]

### Actual behavior
as the above

### System configuration
**Rails version**: 2.3.1

**Ruby version**: 5.2.0.beta2

[2017-12-17 06:22] hw676018683 commented on #31491
when updating , rails handles counter_cache in two places
- https://github.com/rails/rails/blob/v5.2.0.beta2/activerecord/lib/active_record/associations/belongs_to_association.rb#L11
- https://github.com/rails/rails/blob/v5.2.0.beta2/activerecord/lib/active_record/associations/builder/belongs_to.rb#L33

In #replace, dont set `@_after_replace_counter_called` when record is nil.

Is it necessary to

[2017-12-17 12:27] jdelStrother commented on #31426
FWIW, a simple test case.  For me, flipping between i18n 0.8.1 & 0.8.3 will fix/break the test.

[code]

[2017-12-17 16:36] zhouguangming opened #31493 "counter_cache called twice after replace counter called"
### Steps to reproduce

[code]

[code]

### Expected behavior
Post update comments_count once

### Actual behavior
Post update comments_count twice

### System configuration
**Rails version**: 5.2.0.beta2 475a0f8

**Ruby version**:ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

[2017-12-17 21:50] morgoth commented on #30570
The issue is still present in the `rack-test` gem, that's still causing a regression in Rails

[2017-12-17 22:50] Rodeoclash commented on #27793
So the problem turned out to be sharing cookies between the root domain and the subdomain the cable server was running under. I've updated the linked StackOverflow issue with how I fixed it.

[2017-12-18 01:02] danieldeveloper001 opened #31495 "Cannot execute 'rails server' (missing gem json)"
### Steps to reproduce

The steps below were executed to setup a new Ruby and Rails project on a Fedora 27 machine with both Ruby and Rails already installed (versions provided below).

    $ rails new project
    $ cd project
    $ rails server

### Expected behavior

The console output should display the default rails server running normally.

### Actual behavior

The console output displays an

[2017-12-18 01:04] danieldeveloper001 commented on #31495
Ps.: Sorry about the first title, didn't notice it was incomplete.

[2017-12-18 01:36] matthewd commented on #31495
Ruby on Rails requires Ruby. Fedora chooses to package an incomplete subset of Ruby.

[2017-12-18 01:36] #31495 closed

[2017-12-18 02:54] schneems commented on #31495
Run “bundle install” and it should install the json gem. If not add

    gem “json”

To your Gemfile and try again. If still having issues open a stack overflow post.

[2017-12-18 04:29] dwightwatson commented on #31419
I had a crack at proxying files through the app in #30465. I would like to see a way of directly accessing certain attachments rather than being given an expiring link to them.

My use case is that some of the images we upload through ActiveStorage are intended to be public. We are seeing lag when it has to generate a new expiring link, and because they are expiring it's more difficult to cache.

[2017-12-18 04:37] georgeclaghorn commented on #31419
As with the OP’s case, I think there’s a general solution to that problem that doesn’t require apps to couple themselves to the underlying clients of the various services. (It might even be the same problem.) Please Do Investigate. :smile:

[2017-12-18 04:54] matthewd commented on #31419
I do think there's value, as a general principle, in providing an escape hatch to access the underlying layer: if someone can use the abstract ASt API for 95% of their needs, better we allow them to do so, without forcing them to choose between a fully custom no-ASt implementation, or manually reimplementing ASt's knowledge of how models map to entries in the store.

IMO, we lean pretty heavily to

[2017-12-18 13:41] nicobobb commented on #22965
@Onumis Thank so much! I turn Cloudflare SSL to Full mode and fixed the problem.

[2017-12-18 18:02] lostapathy commented on #31369
@eileencodes are there docs somewhere that explain why travis tests PRs and branches differently (in particular, the isolate tests)?  Would like to understand why that is, and maybe come up with a way to force that in PRs so this type of thing would be easier to troubleshoot in the future.  I'd really like to get the original commit restored (it was a huge resource savings) but not sure how to tro

[2017-12-18 18:08] eileencodes commented on #31369
@lostapathy isolation essentially runs the suite twice so it would be very time consuming to run all pushes / PR's with isolation. 99% of the time we don't have an issue with isolated, so it doesn't make sense to use Travis' resources (which we get for free for being an oss project) to double run every push.

As for your original change we think https://github.com/rails/rails/pull/31415 will have

[2017-12-18 18:14] flah00 opened #31498 "Environment variables missing, depending on rails cli context"
### Steps to reproduce

We have an application, which we upgraded from 5.0 to 5.1.4. It relies on some environment variables, to run correctly. I created an initializer, which exits, if the variables are not set.

#### config/initializers/vars.rb

[code]

1. Try starting web server, with env vars set
    * `VAR1=foo VAR2=bar VAR3=baz rails s`
    * This succeeds, for me (expected)
1. Try starting

[2017-12-18 18:19] mftaff commented on #31443
@eileencodes @henrik I am looking to get my feet wet with my first open source contribution. Would I be able to have a shot at fixing this?
Thanks!

[2017-12-18 18:22] eileencodes commented on #31443
@mftaff yes, I think it's worth fixing. I tested this in the console in 4.1 and 4.2. It was present in 4.2, but not in 4.1. Looking at changes in 4.2 is probably a good place to start. Update this issue if you get stuck 😸

[2017-12-18 18:22] worldnamer commented on #27299
Just ran into this today and was definitely flummoxed. Your desired behavior is unexpected to your users.

[2017-12-18 18:57] #31283 closed

[2017-12-18 22:27] yahonda commented on #31465
Based on https://github.com/ruby/bigdecimal/pull/85#issuecomment-351915783 this warning is going to be removed.

[2017-12-18 23:54] ioquatix commented on #27299
It’s not a bug it’s a feature :)

[2017-12-19 00:11] rafaelfranca commented on #31465
That sounds right. I'm going to close this issue then.

[2017-12-19 00:11] #31465 closed

[2017-12-19 00:20] tradeli commented on #31491
Could be related to #31493

[2017-12-19 00:54] #29420 closed

[2017-12-19 00:54] #28521 closed

[2017-12-19 01:52] hw676018683 commented on #31493
When I exec the code you give, I get the following sql.
[code]
Is there anything I've missed?

[2017-12-19 07:16] shadowyq commented on #29307
Any fix for this yet?

[2017-12-19 07:30] Jecko-o commented on #31498
Just tried, on Rails 5.1.4 and Ruby 2.4.0 everything works fine on my machine.

[2017-12-19 10:02] #30148 closed

[2017-12-19 11:48] krzyzakk opened #31502 "Rails 5.1 ActionDispatch::DebugExceptions inappropriate fatal logging for RoutingError"
Hi,

When a routing error occurs our logs are getting filled with 4x FATAL errors for each actual Routing error that occurs. These errors are not actually fatal and I don't believe flagging them as such is appropriate.

### Expected behavior
- Single log entry per error (like in Rails 4.2):
[code]
- Change level of the routing error, it isn't fatal if the application still lives after it happens.

[2017-12-19 12:38] mftaff commented on #31443
@eileencodes Here is what I have found out so far. I temporarily added to the tests those examples used above, and when running the one that failed (ie: `simple_format("a <) b")`) got these results:

Here is an excerpt of `simple_format`, (note I added `puts` before and after calling `sanitize`:
[code]
And here is an excerpt from the console after running the test for this method:

[code]
It seems

[2017-12-19 13:16] eileencodes commented on #31443
@mftaff that does make sense. In Rails 4.2 we not only moved code out of rails and into rails-html-sanitizer and rails-dom-testing respectively, but we changed the underlying code that handles that to use loofah and nokogiri. Your investigation definitely points to rails-html-sanitizer being the culprit of the change.

[2017-12-19 13:27] matthewd commented on #31443
Yeah, that sounds like what's happening. This might just be a difference in how Nokogiri (via loofah, via rails-html-sanitizer) parses the string, that we have to live with.

`simple_format`'s documentation doesn't really make it clear, but it expects to receive pseudo-HTML input (which it then enhances with extra newline handling, etc); I think we treat invalid HTML as undefined behaviour.

[2017-12-19 13:46] flah00 commented on #31498
Ok. Any thoughts on what might cause this.

Would you like to have a go, with my Gemfile? Do you think using a
different version of ruby, from the one I'm using, would make the
difference?

On Tue, Dec 19, 2017, 02:31 Jecko-o <notifications@github.com> wrote:

[2017-12-19 15:15] ritikesh opened #31505 ""string".freeze is not working - ruby@2.3.4p301 rails@3.2.22.5"
### Steps to reproduce
Create a new rails app using ruby 2.3.x and rails 3.2.22.x. Open rails console and try the below:
[code]
### Expected behavior
object_id should be the same for both cases.

### Actual behavior
They're different

Trying the same in irb works as expected:
[code]

### System configuration
**Rails version**: 3.2.22.5

**Ruby version**: 2.3.4p301

[2017-12-19 15:28] Arepo opened #31506 "Why not use #absent? as (an alias of) the inverse of #present?"
This might be a daft question, but it feels like would better follow the principle of least surprise than #blank?

[2017-12-19 15:46] georgeclaghorn commented on #31506
There are a lot of words that could have been used instead of “blank,” but a string containing only whitespace is not “absent.”

Anyway, this isn’t an appropriate question for the issue tracker. Please use the mailing list.

[2017-12-19 15:46] #31506 closed

[2017-12-19 16:20] michaldarda opened #31507 "Unable to send Rails.ajax request with Content-Type application/json"
### Steps to reproduce

Hello, I am trying to send JSON data using `Rails.ajax` `rails-ujs` method, the problem is I am unable to set content-type to `application/json`, because the configuration is very limited. Is this method even designed to be used directly? There is little documentation about that part of Rails.

I have reviewed https://github.com/rails/rails/commit/ad3a47759e67a411f3534309cd

[2017-12-19 16:30] yahonda opened #31508 "`AggregationsTest#test_immutable_value_objects` failure with ruby 2.5.0rc1 at 5-1-stable"
Ruby 2.5 introduces `FrozenError` https://bugs.ruby-lang.org/projects/ruby-trunk/repository/revisions/61131 .

`AggregationsTest#test_immutable_value_objects` failures are reported at 5-1-stable branch using ruby-head. Somehow this failure does not reproduce at Rails master branch.  Note: I assume Rails 5.1 will support Ruby 2.5.

### Steps to reproduce
[code]

### Expected behavior
It should pass

[2017-12-19 16:31] moubry opened #31509 "`--skip-coffee` doesn’t work"
### Steps to reproduce

[code]

### Expected behavior

When I use the option `--skip-coffee` with `rails new` then I expect:

1. the `coffee-rails` gem to not be included in the generated Gemfile
2. the `rails generate` command to not create `.coffee` files

### Actual behavior

When I use the option `--skip-coffee` with `rails new`:

1. the `coffee-rails` gem is included in the generated Gemfile

[2017-12-19 16:41] anson2590 opened #31510 "Rspec rails Logger issue"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Im writing rspec and it is failing issue is with rails logger.

### Actual behavior
this is the code im using, "expect(Rails.logger).to receive(:info).with('abc')" its throwing error saying " expected: ("a

[2017-12-19 16:46] moubry commented on #31509
Nevermind.

With the `rails new` command, the options go *after* the app name/path.

So it’s supposed to look like this:

    $ rails new testskipcoffee --skip-coffee

Order matters here.

[2017-12-19 16:46] #31509 closed

[2017-12-19 16:49] yahonda commented on #31508
Upgraded to  `minitest (5.10.3)` address these failures. I recall https://github.com/rails/rails/pull/29271 upgrades minitest version to run unit tests in random order, which is available on master branch only, is not and should not be available for 5-1-stable branch.

[2017-12-19 16:54] yahonda commented on #31508
It may be related to https://github.com/seattlerb/minitest/pull/533

[2017-12-19 16:55] yahonda commented on #31508
I'm going to open a pull request to specify `FrozenError` in the spec to 5-1-stable and would like to get feedbacks.

[2017-12-19 17:11] yahonda commented on #31508
Opened #31511

[2017-12-19 17:28] bencrouse commented on #20752
I'm experiencing this in the test environment as well for system tests. A simple `Rails.application.config.action_view.cache_template_loading = true` fixes.

@tenderlove @rafaelfranca any reason this shouldn't be true for the test environment? Seems like a no-brainer PR I could open...

[2017-12-19 18:17] yahonda commented on #31508
Confirmed this failure reproduces when minitest version is 5.6.1 and does not reproduce with minitest 5.7.0.

* Reproduce
`minitest (5.6.1)`

* Not reproduce
`minitest (5.7.0)`

[2017-12-19 18:42] kieraneglin commented on #31309
Where does this leave system tests?  For use with Webpacker (Vue) and ActionCable, my CSP includes this: `p.connect_src :self, :https, 'http://localhost:3035', 'ws://localhost:3035', 'ws://localhost:3000'`

However, this doesn't work in the test environment, since the port changes each time.  Is this a Rails CSP concern, or should I move this to StackOverflow?

[2017-12-19 19:06] JanBussieck opened #31512 "Update 5.1 release notes to include final removal of `HashWithIndifferentAccess` interface from `AC::Parameters`"
Since version 5.0 `ActionController::Parameters` no longer inherits from `HashWithIndifferentAccess`, however, although the inheritance was removed, it was still possible to call `Enumerable` methods on `params` (method calls where being delegated in a afaik `method_missing`) and merely a deprecation warning was shown.
The removal of the actual behavior only happened in 5.1, however there is no me

[2017-12-19 19:58] eileencodes commented on #30440
Closing because this is fixed in the 4.2.10 version of Rails.

[2017-12-19 19:58] #30440 closed

[2017-12-19 20:17] yahonda commented on #31508
#31515 should be correct fixes.

[2017-12-19 20:22] kieraneglin commented on #31228
@peterc were you able to find a solution to this?

[2017-12-19 20:25] eileencodes commented on #31505
Hello @ritikesh! Thanks for the report. Unfortunately Rails 3.2 is no longer supported so we can't fix the bug you're seeing in Rails 3.2. If you experience this bug in Rails 5+ please let me know and I'll reopen this issue.

[2017-12-19 20:25] #31505 closed

[2017-12-19 22:03] Petercopter opened #31517 "ActionCable + Ruby 2.5.0-rc1 Argument Error"
### Steps to reproduce

Install Ruby 2.5.0-rc1
Load a page with ActionCable listening

### Expected behavior
Log should be free of errors

### Actual behavior
 wrong number of arguments (given 283856384, expected 0) 😸
[code]

### System configuration
Rails 5.1.4
Ruby 2.5.0-rc1

[2017-12-19 22:05] kieraneglin commented on #31228
For all those who follow, this will work in the mean time:

[code]

It's kinda ugly and probably could be done better, but it works.

[2017-12-19 22:23] dmitry commented on #29420
:up:

[2017-12-19 22:25] Petercopter commented on #31228
@kieraneglin I haven't poked at it lately. For now, I'm just routing one path to work around it.

I like your solution. Ugly and works is better than other options, I'll take it! 👍

[2017-12-19 23:07] y-yagi commented on #31510
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.
Also, RSpec is not part of Rails.  If it is really a bug, please create an issue to RSpec repository.

[2017-12-19 23:07] #31510 closed

[2017-12-19 23:10] kieraneglin opened #31518 "ActiveStorage doesn't respect `gravity` variant"
### Steps to reproduce

Given a Rails `5.2.0beta2` app using `ActiveStorage` and `mini_magick`, attach a **rectangular** image to a model and then call it with `<image>.variant(thumbnail: '100x100^', gravity: 'center',  extent: '100x100')`

### Expected behavior
The image returned is 100px square with the excess cropped and the image centered

(centered cropping is described [here](http://www.imag

[2017-12-19 23:20] y-yagi commented on #31498
Everything works fine in my environment too. Maybe it is your application's problem. So I close this.

If you cannot fix the issue, please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2017-12-19 23:20] #31498 closed

[2017-12-19 23:39] tilo commented on #26209
@sgrif
So there is already a PR for this, from the original author who made the change in the schema dumping, but it is still not merged:

https://github.com/rails/rails/pull/29472

[2017-12-20 00:19] matthewd commented on #30947
Fixed by #31177.

Thanks @albertoalmagro !

[2017-12-20 00:19] #30947 closed

[2017-12-20 02:32] guilleiguaran commented on #31309
@kieraneglin what port change during tests? Action Cable one?

[2017-12-20 05:21] datashaman commented on #22412
an observation from the sidelines: that dump date is very useful for resolving merge conflicts (and they happen often with this file during project creation).

[2017-12-20 06:45] kieraneglin commented on #31309
@guilleiguaran yes.  This was confirmed by accessing the browser during a system test and checking the value of `window.App.cable`.  The cable port matched the browser port.

Without my workaround above, the console would repeatedly error that it could not connect to the WS.

[2017-12-20 08:33] meysammeisam commented on #31190
any news?
Is there any way or hack to use pgbouncer(transaction pooling mode) and rails together for now?

[2017-12-20 09:58] SamSaffron commented on #31190
@meysammeisam https://github.com/discourse/discourse/blob/master/lib/freedom_patches/postgresql_adapter.rb works for us

[2017-12-20 10:48] y-yagi commented on #31502
I guess that this relates to #23203.
@vipulnsward Is this intentional?

[2017-12-20 11:08] benbonnet opened #31523 "Active storage direct upload to GCS"
### Steps to reproduce

cors.json :
[code]
Applied to the concerned bucket via `gsutil cors set cors.json gs://bucket`

storage.yml:
[code]

config.routes.rb :
[code]
app/models/item.rb :
[code]

app/views/items/index.html.erb :
[code]

app/controllers/items_controller.rb :
[code]

### Expected behavior
configured both s3 and gcs with relevant cors. Without direct upload, everything works ok, s3 a

[2017-12-20 11:11] aamir-pk opened #31524 "Action Cable: Request origin not allowed issue"
### Steps to reproduce
Create an API only application using Rails 5.1.4. Create simple channel and return a string from subscribed method of the channel. Add following line in config/development.rb:

`config.action_cable.allowed_request_origins = ['http://localhost:4200']`

and add an appropriate entry in routes file to let Websocket client connect to the server.

### Expected behavior
I should be

[2017-12-20 11:15] cocoarocket commented on #31523
Sorry for stupid question, but, you code:
credentials: <%= Rails.root.join("/pah/to/gcloud-credentials.json") %>
Maybe should it be<%= Rails.root.join("/PATH/to/gcloud-credentials.json") %>?
like "PATH"

[2017-12-20 12:40] wnewbery commented on #26209
@sgrif Is a complete design known, or does other things need to happen first?

For example in tilo's case, even with the PR, if a developer was to use SQLite locally rather than MySQL to add a migration and commit the resulting (SQlite specific) schema, using that later for MySQL will still have lost the new MySQL specific options, and potentially worse foreign keys and other items.

[2017-12-20 14:21] yahonda commented on #31508
Closed since #31520 has been merged to 5-1-stable.

[2017-12-20 14:21] #31508 closed

[2017-12-20 15:20] unimatrixZxero commented on #31512
Your reasoning is good.

[2017-12-20 15:26] yahonda commented on #31351
It is getting complicated. When it is tested with Ruby 2.5.0.rc1, the second execution of `test_restart_rails_server_with_custom_pid_file_path ` gets failed now.

### New failure with Ruby 2.5.0.rc1
[code]

### Steps to reproduce:
[code]

### Actual results:

[code]

[2017-12-20 15:28] yahonda commented on #31351
@y-yagi Would you have some time to take a look at this failure? Since you are the author of https://github.com/rails/rails/pull/30332

I've been trying to isolate this problem but it is getting complicated.

[2017-12-20 18:03] eileencodes commented on #31512
Makes sense @JanBussieck, can you open a PR with your suggestion? Thanks!

[2017-12-20 19:58] eileencodes commented on #31474
I tested this on Rails master with Firefox 57.0.1. It says that it's up to date and since I don't think the data-confirm code changed recently I don't think this is a Rails bug. If you can reproduce in a new application please provide the application, version of Rails, and version of FF and I'll reopen. Thanks!

[2017-12-20 19:58] #31474 closed

[2017-12-20 20:39] eileencodes commented on #31524
Hey @aamir-pk thanks for the issue!

Can you create a brand new Rails application from 5.1.4 that reproduces the issue for us so we can take a closer look? If you can reproduce without the `ember_cable` add-on then it sounds like the sisue is in Rails, but if you can't I suspect the issue is with the gem you're using. Thanks!

[2017-12-20 20:41] eileencodes commented on #31517
@Petercopter thanks for the report. Can you provide a new application on Rails 5.1.4 or master with Ruby 2.5.0 that reproduces this error? That will help us track this down. Thanks!

[2017-12-20 22:25] Petercopter commented on #31517
@eileencodes Thanks for looking into this. I've setup a new application here:
https://github.com/Petercopter/ruby_2_5_test

I used the basic ActionCable instructions to get up and running, and it appears to be pretty similar to what I have in production. I confirmed that things were working with 2.4.2 before switching over to 2.5.0, and luckily the error is readily apparent.

If you pull the appli

[2017-12-20 23:08] #29739 closed

[2017-12-21 00:29] RISCfuture opened #31528 "Engine with globbed path cannot require slash"
### Steps to reproduce

1. Create a Rails app
2. Create an engine with the following route: `get '*path' => 'some#action'`
3. Mount the engine: `mount MyEngine, at: 'myengine'`
4. Visit `http://myapp.domain/myengine123`

### Expected behavior

Ideally there should be a way to enforce that only paths such as `/myengine/123` match the globbed route, but because Journey path normalization strips lead

[2017-12-21 00:31] fcalderonnearsoft opened #31529 "rake db:migrate is creating tables from other rails projects in my laptop"
I have created a new rails project and I have added a migration to create a table called `blogs`. When I ran `rake db:migrate` it created this table along with other tables I have set in other projects I have in my laptop.
Under `db/migrate` I have only 1 file with the migration I added, there's no reference in the project of the other tables, for some reason it is pulling the migrations from othe

[2017-12-21 00:35] eugeneius commented on #31219
https://github.com/rails/rails/commit/cbcdecd2c55fca9613722779231de2d8dd67ad02

[2017-12-21 00:53] RISCfuture commented on #31528
Sad update: It seems to mess up `request.fullpath` too. Given the situation described in the example above, a request to `/myengine123` would return `/myengine/123` for a call to `#fullpath`.

[2017-12-21 03:53] zw963 commented on #31474
Sorry for late reply.
This function is broken by following addon-ons, if disable, it worked now.

https://addons.mozilla.org/en-US/firefox/addon/enable-rightclick-and-copy/

If any have trouble with this, maybe can help. thanks

[2017-12-21 06:33] kobaltz commented on #31529
That's strange behavior. Does this behavior also happen after a reboot? My thought is that Spring could be running from one of the apps and things are getting mixed up.

Try `bin/spring stop` and ensure that all instances are stopped `ps aux | grep spring`.

[2017-12-21 15:25] 10io opened #31531 "Active Storage Direct Upload using IE11"
### Steps to reproduce
Using Active Storage, upload a file directly to a service (tested with local and s3) using Internet Explorer 11.

### Expected behavior
The file should be properly uploaded via javascript directly to the service.

### Actual behavior
A `Unable to get property 'url' of undefined or null reference` is thrown:
<img width="511" alt="screen shot 2017-12-21 at 11 06 16" src="https

[2017-12-21 19:25] Bramjetten commented on #31325
We've included a helper in [Spina CMS](https://www.spinacms.com) to circumvent this problem for now. Is this something that will be picked up after the 5.2 release?

[code]

[2017-12-21 21:05] vfonic commented on #31531
@10io IE11 is the latest version of IE, right? I'm pretty sure that, in that case, ActiveSupport supports/should-support IE11. (I'm no rails maintainer.)
I'd suggest that you create a PR.

[2017-12-21 22:11] y-yagi commented on #31529
Can you please provide a sample application that reproduces the issue?
Or, please give us more information on how to reproduce this issue, otherwise, there is nothing we can do.

[2017-12-21 23:07] scande3 commented on #31476
This is broken in two sections: one for my fix and the other for code that seems to no longer be valid.

# The Fix

Pull request reference: https://github.com/rails/rails/pull/31539

Essentially support for mounting an engine multiple times had a method to strip out the engine name from the end of a generated URL path. The issue with this is that root engines would have a value at the end of their

[2017-12-22 03:39] joshmn commented on #31216
Related #7375

[2017-12-22 10:56] swordray opened #31542 "ActiveStorage attribute conflicts with `save` by optimistic locking"
### Steps to reproduce

[code]

### System configuration

**Rails version**: 5.2.0.beta2@0901755

**Ruby version**: 2.5.0rc1

[2017-12-22 12:22] y-yagi commented on #31371
FYI: I created an issue to rdoc. https://github.com/ruby/rdoc/issues/571

[2017-12-22 12:45] mrreynolds commented on #31518
Looks like it's because the ActiveStorage blob transformations get applied sequentially. For `gravity` to have an effect on `resize`, MiniMagick expects those transformations as a block argument for [`combine_options`](http://www.rubydoc.info/github/minimagick/minimagick/MiniMagick/Image#combine_options-instance_method). In the current version of ActiveStorage I don't see how that's possible.

See

[2017-12-22 15:49] mrreynolds commented on #31518
I just added support for `combine_options` with this PR: #31544.

[2017-12-22 16:09] smarquezs commented on #31413
I have the same issue 😢

`Rails 5.1.4` and `ruby 2.3.3`

[2017-12-22 20:16] JanBussieck commented on #31512
Will do!

[2017-12-22 21:34] GBH opened #31546 "selenium-webdriver in Rails 5.2 system tests: "unable to connect to chromedriver 127.0.0.1:9515""
## Meta -
OS:  Ubuntu
Selenium-webdriver Version:  3.8.0
Rails Version: 5.2.beta

## Expected Behavior -
Being able to run tests

## Actual Behavior -
[code]

## Steps to reproduce

A completely fresh vanilla Rails app with a simple generated system test.

Not sure what I need to do. Chromedriver is installed and can be ran:

[code]

Any clues what I might be missing here? Thanks.

[2017-12-22 22:36] #31518 closed

[2017-12-22 23:05] y-yagi commented on #31351
As `Puma` does not use the Gemfile which was originally used at the restart, it seems that a issue has occurred. I will send PR to `Puma`.

[2017-12-22 23:47] y-yagi commented on #31546
I confirmed with a newly generated application. But not reproduced.

Env:

[code]

I assume that your environments' problem.  Please check your environment(e.g. version of chrome). Thanks!

[2017-12-22 23:47] #31546 closed

[2017-12-23 00:21] GBH commented on #31546
Any suggestion on how to figure out what the problem might be? Chrome is the latest version.

[2017-12-23 00:28] mayordwells opened #31548 "Could not run my Rails project on a new PC until I removed jbuilder from gem file."
### Steps to reproduce
I installed Rails and Ruby on a new system (Mac OS High Sierra), cloned my old project in Rails 5.2.0.beta2, but could not get it to work on the new system.

Rails is supposed to run normally as before but instead got a strange behavior, started commenting out gems in Gemfile, based on my understanding of the error log.

Here's what the log looks like:
[code]
The code didn't

[2017-12-23 02:35] georgeclaghorn commented on #31546
I’ve run into this before. Do you have the `chromedriver-helper` gem installed? If so, could you try uninstalling it?

[2017-12-23 04:01] y-yagi commented on #31351
@yahonda I created a branch to fix this issue inside railtie's test.
https://github.com/y-yagi/rails/tree/fix_31351

Can you try to test with this a branch?

[2017-12-23 05:19] jhpratt opened #31550 "Status of this ActionCable section"
[The section in question](https://github.com/rails/rails/blob/master/actioncable/README.md#notes)

Why I'm questioning this:

Any updates? ActionCable was integrated into Rails over 2 years ago.

[2017-12-23 05:23] matthewd commented on #31550
Oops.. yeah, that and the paragraph preceding it should be deleted; reloads happen automatically.

Up for an easy PR? :smile:

[2017-12-23 05:23] #31550 closed

[2017-12-23 05:27] jhpratt commented on #31550
Haha, feel free. Was just looking into ActionCable and was thrown off by that bit. Good to know it reloads automatically as well.

[2017-12-23 16:24] #31531 closed

[2017-12-23 18:55] georgeclaghorn commented on #31393
cc @javan

[2017-12-23 18:59] GBH commented on #31546
@georgeclaghorn It's working! Removed the gem, removed chromedriver from rbenv shims, installed it directly into bin/ and it works now. Thanks.

[2017-12-23 22:21] mmoll opened #31553 "handling of add_column with :primary_key in migrations"
https://github.com/theforeman/foreman/blob/develop/db/migrate/20110712070522_create_host_class.rb
is working fine with Rails 5.1.4. When using the current master, I'm seeing the following:
[code]
full output, if needed, in https://travis-ci.org/mmoll/foreman/builds/320780649

[2017-12-23 23:37] fcalderonnearsoft commented on #31529
I fixed by stopping all `spring` instances. Thanks @kobaltz

[2017-12-23 23:37] #31529 closed

[2017-12-24 01:08] y-yagi commented on #31553
`:primary_key` type handles as `:integer` type since 202d6578f44ab03ee89ed57b73a97d513fc5a008.

But `valid_alter_table_type` method check only whether `type` is `:primary_key`.
https://github.com/rails/rails/blob/1a5bf01fe024eb1d91903094327d937f7abcb24d/activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb#L295..L307

For that reason, `alter_table` does not execute and error.

cc @

[2017-12-24 03:14] y-yagi commented on #31548
Can you please provide a sample application that reproduces the error?

[2017-12-24 03:20] y-yagi commented on #31512
Fixed by #31545.

[2017-12-24 03:20] #31512 closed

[2017-12-24 05:41] mayordwells commented on #31548
@y-yagi Please find a link for a new rails app here - https://github.com/mayordwells/calculator-math

[2017-12-24 06:18] mayordwells commented on #31548
Hi @y-yagi Thanks for your interest in helping out with the error, but thought you should know. The error disappeared after removing rvm, all gemsets and the ruby version on my system and then started a whole new installation afresh.
So my belief is that if the installation of rvm and ruby is correct on your system, you might not be able to reproduce the error.
I got the idea of doing this while I

[2017-12-24 09:38] rohitpaulk commented on #31459
I don't think it's possible to fix this, [as mentioned in the comment above the line you pasted](https://github.com/rails/rails/blob/1a5bf01fe024eb1d91903094327d937f7abcb24d/activesupport/lib/active_support/dependencies.rb#L514-L530).

SInce `const_missing` doesn't allow access to `Module.nesting` at the point of the call, we can't differentiate between the following calls if `Update` hasn't been

[2017-12-24 10:10] y-yagi commented on #31548
Thanks for providing sample application and details explanation.
I could not reproduce your error with the provided application. I think your guess is correct.
So I close this. Thanks!

[2017-12-24 10:10] #31548 closed

[2017-12-24 13:35] yahonda commented on #31351
@y-yagi Thanks for providing the fix. Verified this commit address this failure.

[2017-12-24 14:59] georgeclaghorn commented on #31459
Yeah, this is a documented quirk of constant autoloading.

[2017-12-24 14:59] #31459 closed

[2017-12-24 15:30] rohitpaulk commented on #31459
Link to docs: http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-algorithms-qualified-references

[2017-12-24 19:50] dlegr250 commented on #29729
I know this issue is closed, but wanted to see if this concept is still be considered?  I can present a use case where I found polymorphic associations with `global_id` to be useful.

I have a `task` model that can be associated to both `clients` and `partners`.  When I want to assign a `task`, I use a single `select` that combines both clients and partners, and stores the `global_id`.

[code]

In

[2017-12-24 21:28] #31351 closed

[2017-12-24 21:28] y-yagi commented on #31351
@yahonda Thanks for your confirmation. I committed. 91a4a820feeb878dd1b388befa56dd469933d17c

[2017-12-24 21:51] y-yagi commented on #31465
Fixed by https://github.com/ruby/bigdecimal/pull/93

[2017-12-25 00:26] yahonda opened #31557 "Railties tests using `generator.invoke_all` install Rails to gem path"
While investigating #31531 There are 4 tests which install railties (Rails) to the gem path,
which trigger #31531 not reproduced.

#31531 itself has been addressed, however, these 4 tests should not install Rails to the gem path.

### Steps to reproduce

[code]

* Execute one of these 4 tests. Once any of them executed, ruby environment `gem path` needs clean up to remove Rails installed to the ge

[2017-12-25 00:27] yahonda commented on #31351
Opened #31557 based on the discussion https://github.com/rails/rails/issues/31351#issuecomment-351127632

[2017-12-25 00:38] #28464 closed

[2017-12-25 08:22] swordray opened #31559 "Association's after_touch not called with counter cache"
### Steps to reproduce

[code]

### Expected behavior
`after_touch` calls while `Comment.create`.

### Actual behavior
`after_touch` not called while `Comment.create`.

### System configuration
**Rails version**: master@732aa34

**Ruby version**: 2.4.2

[2017-12-25 08:24] swordray commented on #31199
#31559 may be relevant.

[2017-12-25 15:56] kamipo commented on #25503
Fixed by #27780.

[2017-12-25 15:56] #25503 closed

[2017-12-25 18:09] wynksaiddestroy opened #31560 "DateTime objects representing the end of the day won't persist consistently"
### Steps to reproduce

[code]
### Expected behavior
Persisting a DateTime object which represents the end of the day (23:59:59) should show consistent behaviour:

[code]

### Actual behavior
While comparing the beginning of the day will work
[code]
comparing the end of the day will fail
[code]

### System configuration
**Rails version**: 5.1.0

**Ruby version**: 2.4.2p198

[2017-12-25 20:27] Dorian commented on #31560
Confirmed on Rails 5.2.0.beta2 / Ruby 2.5.0. Minimal version to reproduce the bug: https://gist.github.com/Dorian/9881da28dcd5e65f332bd954ed610909

[code]

[2017-12-25 21:30] sgrif commented on #31560
This is pretty much the expected behavior. `end_of_day` returns an object with higher subsecond precision than your database is capable of storing. That said, we should be doing this conversion earlier (e.g. `foo.starts_at == DateTime.now.end_of_day` should *never* return `true`.

[2017-12-25 21:56] ZASMan commented on #20676
Should be contributes to rails core ^^

[2017-12-25 23:23] #31557 closed

[2017-12-25 23:24] y-yagi commented on #31557
Fixed by #31564

[2017-12-25 23:26] yahonda commented on #31557
Thanks. I have validated #31564 has been addressed.

[2017-12-26 00:11] wynksaiddestroy commented on #31560
As @Dorian already pointed out this happens with SQLite as well as PostgreSQL.
Why should `foo.starts_at == DateTime.now.end_of_day` never return true?

[2017-12-26 01:06] sgrif commented on #31560
As I stated in my last comment

That includes PostgreSQL

[2017-12-26 01:43] #31553 closed

[2017-12-26 05:55] hgsongra commented on #31524
@aamir-pk

Add below line to `config/environments/development.rb` file

`config.action_cable.allowed_request_origins = [/http:\/\/*/, /https:\/\/*/]`

Hope this will help you.

Check out it on StackOverflow [Here](https://stackoverflow.com/questions/38719359/action-cable-not-working-after-binding-with-ip/38721895#38721895)

[2017-12-26 06:14] hgsongra commented on #31524
@aamir-pk Once you confirmed the solution works for you then close the issue, So other can use these solutions and avoid duplicate.

Thanks,
hgsongra

[2017-12-26 06:19] aamir-pk commented on #31524
@hgsongra I think I tried this or something similar to this as I've spent hours and hours on it. Still let me try it again and I'll update you with my response here.

Thanks

[2017-12-26 07:53] Sega100500 opened #31566 "With install Ruby 2.5.0 and Passenger 5.1.12 ALL sites will fail to open"
With install **Ruby 2.5.0** and **Passenger 5.1.12** ALL sites will fail to open

application out:
Incomplete response received from application

Same problems with **Ruby 2.4.3**, **Ruby 2.3.6**

Debian 8 Jessie, Apache 2.4

[passenger.log](https://github.com/rails/rails/files/1586912/passenger.log)

[2017-12-26 07:55] Sega100500 commented on #31566
passenger reports:
https://github.com/phusion/passenger/issues/2010
https://github.com/phusion/passenger/issues/2012

[2017-12-26 08:04] Sega100500 commented on #31566
more debug log-file
[passenger.log.debug-7.log](https://github.com/rails/rails/files/1586929/passenger.log.debug-7.log)

[2017-12-26 16:14] brunovcosta commented on #31457
I made one modification on your code to run the test (does not compromises the validity of the test). I used `dup` on parameter strings (`price` & `name`). Without that, i got an Frozen String error.

[code]

the result was (ignoring Gem installation and database logs):
[code]

[2017-12-26 17:32] Sega100500 commented on #31566
Commands of Phusion Passenger say - problem in ```therubyracer```
https://github.com/cowboyd/therubyracer/issues/444

but command of developers of ```therubyracer``` do NOTHING.

[2017-12-26 19:44] JokerCatz opened #31569 "mysql2 MULTI_STATEMENTS + ActiveRecord error and patch ..."
if I need multi sql statements in mysql , I need add flag `MULTI_STATEMENTS` in `database.yml`
like

    default: &default
      adapter: mysql2
      {SKIP}
      flags:
        - MULTI_STATEMENTS

then when I use

    ActiveRecord::Base.connection.execute("select 1;" * 10)
      #=> only 1 result
    ActiveRecord::Base.connection.execute("select 1;" * 10)
      #=> ActiveRecord::StatementInvalid

[2017-12-26 20:04] wynksaiddestroy commented on #31560
Is there any database that is able to store the proper precision? Shouldn't ActiveRecord take care of the precision that the underlying database is able to store?

[2017-12-26 22:01] y-yagi commented on #31566
I checked log. But that error seems unrelated to Rails. Thanks.

[2017-12-26 22:01] #31566 closed

[2017-12-27 00:30] atstockland commented on #24063
Ruby 2.5.0, rails 5.2.0.beta2 --- listen gem still needs to be outside the development group even though the error message states: "Add `gem 'listen'` to the development group of your Gemfile".

[2017-12-27 00:49] atstockland commented on #22455
This got me too.  Ruby 2.5.0, rails 5.2.0.beta2, minitest 3.0.

[2017-12-27 00:57] #30665 closed

[2017-12-27 05:05] Sega100500 commented on #31566
@y-yagi
May be one of components of RoR ?
Or I must use older versions of Ruby?

[2017-12-27 07:33] Sega100500 opened #31573 "Rails with Ruby 2.3.6, Ruby 2.4.3, Ruby 2.5.0 fail to run with Apache + Passenger"
Rails with **Ruby 2.3.6**, **Ruby 2.4.3**, **Ruby 2.5.0** fail to run with Apache + Passenger
Apache/2.4.10 (Debian)
Passenger 5.1.12

ALL applications out:
**Incomplete response received from application**

Before versions of Ruby ALL works fine!

In log-file:
[code]

_But!!! **therubyracer** is a PART of Ruby on Rails._
However, it seems that this gem (**therubyracer**) has long since died and i

[2017-12-27 10:17] kamipo commented on #31573
This is not a Rails issue.

[2017-12-27 10:17] #31573 closed

[2017-12-27 11:04] Sega100500 commented on #31573
@kamipo

Ok. Because ```therubyracer``` is a PART of Ruby on Rails, and ```therubyracer``` is died (Latest commit 466a1f0 on 5 Jan) then **Ruby on Rails also will die with newest version of Ruby 2.3.6, 2.4.3, 2.5.0**.

Or any one may correct the gem ```therubyracer```?

[2017-12-27 15:05] daniel-costa opened #31576 "Documentation text mistake"
I was reading through [you documentation](http://api.rubyonrails.org) and realised the return of `Numeric` -> `in_milliseconds()` isn't accurate.

It says

[code]

But it should be

[code]

It's peanuts but I figure I will inform you of it.

Edit: actually you have the same on `megabytes()` and so on. It might be a visibility think I just realise...

[2017-12-27 15:09] prathamesh-sonpatki commented on #31576
`2.in_milliseconds` is fixed in https://github.com/rails/rails/commit/08a177ee63c

Feel free to open PR to fix the other one.

[2017-12-27 15:26] dormi commented on #31476
I have this problem too.

I think it also occurs on `5.1.3`.
Reverting to `5.1.2` is my workaround by now.

[2017-12-27 15:59] daniel-costa commented on #31576
I’m not allowed to creating branches.

[2017-12-27 16:15] fatkodima commented on #31406
👍 please, submit a fix

[2017-12-27 16:42] fatkodima commented on #31328
Can't reproduce on `5.2.0.beta2` (and edge). All is working as expected.
My (assembled from yours pieces) test:

[code]

[2017-12-27 17:07] prathamesh-sonpatki commented on #31576
You can fork the rails repo on your account and then open a pull request. Please check https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-12-27 20:56] tilo commented on #26209
Sorry, I don't mean to be critical, but maybe this whole idea of saving DB-specific options was not such a good idea to begin with, given that AR is supposed to abstract from the underlying DB..?
What was the original issue this new dump format was supposed to solve?
Is it really worth doing?

[2017-12-27 23:55] georgeclaghorn commented on #26209
The core team has been pretty clear about what needs to happen here. Further commentary is unnecessary.

[2017-12-28 06:37] dhinakaranS opened #31580 "How to convert mysql2 to psql in cucumber rails"
### System configuration
**Rails 4.1.11**:

**ruby 2.2.3p173**:

I am trying to convert mysql2 to postgres. When i run rake db:create I am getting the following error.

rake aborted!
Gem::LoadError: You have already activated rake 12.3.0, but your Gemfile requires rake 10.4.2. Prepending bundle exec to your command may solve this.
/home/supranimbus12/.rvm/gems/ruby-2.2.3@global/gems/bundler-1.16.1

[2017-12-28 06:45] matthewd commented on #31580
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2017-12-28 06:45] #31580 closed

[2017-12-28 10:09] vitalyliber opened #31581 "How can I get image url from an ActiveStorage attachment in a worker?"
I have a simple worker. I need an image url from ActiveStorage attachment. I use Google Cloud Storage for upload images.

[I have read this docs.](http://edgeguides.rubyonrails.org/active_storage_overview.html#link-to-attachments)

### Expected behavior
I expect to get link to image on GCS.

### Actual behavior
I can get link in controller via image_tag or rails_blob_path(user.avatar, disposition:

[2017-12-28 10:14] gdswan opened #31582 "Nested link_to do block"
[code]
This should produces :

[code]
But instead produces

[code]

Rails 5.1.4

In Rails console it works. But, when we try the same in erb it fails

[code]

[2017-12-28 12:12] y-yagi commented on #31582
Rails generate tag you expected. But nested links are illegal in the W3C definition.
So browser maybe adjusts the HTML automatically.
Ref: https://stackoverflow.com/questions/9882916/are-you-allowed-to-nest-a-link-inside-of-a-link

[2017-12-28 12:12] #31582 closed

[2017-12-28 13:13] prathamesh-sonpatki commented on #31581
You will need to include the URL helpers in the worker and then you can call any URL helper, rails_blob(path/url) are URL helpers.

[code]

[2017-12-28 13:13] #31581 closed

[2017-12-28 16:46] BjornMelgaard commented on #27299
this behavior is causing a log of troubles for those who using `DATABASE_URL` without `config/database.yml`

Example:

I'm using docker-compose with `DATABASE_URL: postgres://some_u:some_p@postgres:5432/some_development` and when running
[code]
I'm getting
[code]

it is trying to drop `some_test` but doesn't have password and username for `some_test`, only for `some_development`

[2017-12-28 17:01] BjornMelgaard commented on #27299
Wow, actually I'm able to prevent rake from trying to find `some_test` by removing `config/database.yml` completely

In this case, all `rake db:*` commands are working only with database specified in `DATABASE_URL`

[2017-12-28 17:06] loop23 commented on #31523
I had the same exact issue. I fixed it by replacing the responseHeader line like that:

[code]

in the cors config for the bucket. It wouldn't hurt if this bit of configuration was documented somewhere in ActiveStorage docs.

[2017-12-28 17:07] CharlesMcMillan opened #31584 "ActiveRecord relation 'merge' merges bind values only by column name only"
### Steps to reproduce

When using the relation `merge` functionality in ActiveRecord, we noticed that in the rare case that we used merge with two models that coincidentally happened to have an identically named column, those bind values were getting blown out, irrespective of which table was being merged from/to. Unit test to reproduce in merging_test.rb:

[code]

### Expected behavior

Bind val

[2017-12-28 18:07] kamipo commented on #15008
Fixed by #18722.

[2017-12-28 18:07] #15008 closed

[2017-12-28 19:30] kamipo commented on #16436
Looks like that this is a limitation for JOIN with has_many association.
`Post.joins(:comments).count` returns 3 (contained duplicated `first_post` by `joins(:comments)`) in that case.
`distinct` is required if we don't expect duplicated records when using `joins` with has_many association.

[2017-12-28 20:29] hot-cheese opened #31586 "GCS config for ActiveStorage requires presence of file gcs.keyfile"
### Steps to reproduce

File `storage.yml` contains example configurations for S3 and GCS:
[code]
To configure S3 you just need to fill values in yaml and you can do it conveniently via `Rails.application.credentials`. GCS configuration is more troublesome as it requires a path to *file* in `keyfile` and this file needs to be uploaded without the usage of VCS. It creates a problem in services like

[2017-12-28 21:47] georgeclaghorn commented on #31523
Thanks, @loop23! Please do open a PR to update the docs.

[2017-12-28 21:47] #31523 closed

[2017-12-28 21:49] georgeclaghorn commented on #31586
You can provide a Hash of keyfile data:

[code]

[2017-12-28 21:49] #31586 closed

[2017-12-29 00:39] y-yagi commented on #31517
Seems issue of nio4r. And already fixed with v2.2.0.
https://github.com/socketry/nio4r/pull/179
https://github.com/socketry/nio4r/blob/master/CHANGES.md#220-2017-12-27

Please update nio4r gem. Thanks!

[2017-12-29 00:39] #31517 closed

[2017-12-29 00:42] y-yagi commented on #31584
Rails 4.2 is not supported anymore for anything besides security fixes.
Please check whether your issue can reproduce with latest Rails. Thanks!

[2017-12-29 00:42] #31584 closed

[2017-12-29 01:28] Petercopter commented on #31517
@y-yagi Awesome, thanks! :thumbsup: :tada:

[2017-12-29 01:30] #30599 closed

[2017-12-29 01:30] #29207 closed

[2017-12-29 02:23] pkayokay commented on #31576
@prathamesh-sonpatki this seems closed based on the referenced issue.

[2017-12-29 03:10] ponkotuy opened #31587 "mail.to return [nil] if invalid mail address"
### Steps to reproduce
[code]

### Expected behavior
Return an empty array

### Actual behavior
Return an array with nil

### System configuration
Rails: 5.1.3
Ruby: 2.4.1

[2017-12-29 03:51] georgeclaghorn commented on #31587
This isn’t a Rails issue. `Mail` is provided by the [mail](https://github.com/mikel/mail) gem.

[2017-12-29 03:51] #31587 closed

[2017-12-29 04:54] vitalyliber commented on #31581
@prathamesh-sonpatki Thanks!

It works.

Also I added an option `only_path: true`

[code]

[2017-12-29 05:22] vigneshrvicky opened #31588 "How to fix issue “POST xhr with 401 unauthorised error”,When i create a new announcement in canvas lms"
I implemented new Project in Ruby on Rails

In my project I Created page "Announcement" with Topic tittle field,text message field,Attachment field and save button

Whenever I try to create new Announcement,

I enter something in topic title,text message,attached image in Attachment feild,and finally click the save button,its works properly then it automatically moves to next page

But My Issue is

[2017-12-29 05:41] gartha1 opened #31589 "in windows rails implementation, db:reset or db:drop gives permissions error"
I have

C:\rubytest\blah2>ruby --version
ruby 2.4.2p198 (2017-09-14 revision 59899) [x64-mingw32]

C:\rubytest\blah2>rails --version
Rails 5.1.4

C:\rubytest\blah2>

My OS is Windows 7.

The error I get is when I do  rails db:drop  or rails db:reset

I get Permission denied @ unlink_internal - C:/rubytest/blah2/db/development.sqlite3

I get this even from an administrative cmd prompt(which is  a b

[2017-12-29 06:59] y-yagi commented on #31588
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks.

[2017-12-29 06:59] #31588 closed

[2017-12-29 07:26] y-yagi commented on #31333
`require_master_key` is an option for specifying behavior when the master key does not exist.
Therefore, unlike `read_encrypted_secrets`, `require_master_key` does not relate that load credentials.
If you don't want to expose credentials in development, please remove the master key. Thanks.

[2017-12-29 07:26] #31333 closed

[2017-12-29 16:49] scande3 commented on #31476
@dormi -> You can get a patched 5.1.4 from the following: https://github.com/scande3/rails/tree/bugfix/root_engine_w_subdirectory

You can also fork rails yourself and just add the following line to correct this issue:
https://github.com/scande3/rails/blob/bugfix/root_engine_w_subdirectory/actionpack/lib/action_dispatch/routing/routes_proxy.rb#L61

My attempt to get a pull request through seems to

[2017-12-29 17:23] adrian282 commented on #31437
any news?

[2017-12-29 17:49] Zaparix opened #31592 "Unable to create new rails projects on Raspberry Pi"
Hi,
I have developed a rails application on my PC and now I try to get it running on a raspberry pi. On the pi is a fresh Raspbian and RVM (`curl -L get.rvm.io | bash -s stable --rails`) installed. But I'm unable to start the application, so I tried to create a new one. This results in the same error...

Ruby applications are working fine.

### Steps to reproduce
Creating a new project with rails

[2017-12-29 18:49] PrimeTimeTran commented on #27310
# I can reproduce the hung scaffold generator with
[code]
[
![screen shot 2017-12-30 at 1 42 48 am](https://user-images.githubusercontent.com/16382165/34444772-171a3c68-ed03-11e7-99d1-15229a3d005d.jpg)
](url)
# Gemfile
[code]
![screen shot 2017-12-30 at 1 43 15 am](https://user-images.githubusercontent.com/16382165/34444787-39b68b14-ed03-11e7-88f0-204b37226216.jpg)

Still hung after writing this p

[2017-12-29 19:37] PrimeTimeTran opened #31593 "Scaffold Hang: Rails 4.2.10 & Ruby 2.4.0"
### Steps to reproduce
Create new project. Go in. Run generator.
[code]
### System configuration
- rails 4.2.10
- ruby 2.4.0

![screen shot 2017-12-30 at 2 21 53 am](https://user-images.githubusercontent.com/16382165/34445767-83f4abd4-ed08-11e7-970b-d2023e6c5632.jpg)
## The Bug
Running the following code results in a hang.
`rails g scaffold Contact name:string address:string city:string phone:stri

[2017-12-29 19:51] boboroshi commented on #31245
Note that if you're upgrading a pre 5.2 app, you have to uncomment the field in application.rb: `require "active_storage/engine"`

[2017-12-29 23:44] y-yagi commented on #31592
Looks like the error raised inside `bootsnap`.  Can you try to use without `bootsnap`?
If the error does not reproduce, it's a `bootsnap` issue. Please create an issue to [bootsnap](https://github.com/Shopify/bootsnap) repository. Thanks!

[2017-12-29 23:44] #31592 closed

[2017-12-29 23:45] y-yagi commented on #31593
Rails 4.2 is not supported anymore for anything besides security fixes.
Please check whether your issue can reproduce with latest Rails. Thanks!

[2017-12-29 23:45] #31593 closed

[2017-12-30 09:54] #29779 closed

[2017-12-30 14:18] thiagolcmelo opened #31597 "Cookies with names starting in underscore are ignored in the http request"
### Steps to reproduce

Create a simple app, with a simple controller and view.

$ rails _5.1.4_ new my_app
$ cd my_app/
$ bundle install && bundle update
$ rails generate controller StaticPages index

In the StaticPages controller, change the `index` according to:

[code]

Also, please set you `routes.rb` according to:

[code]

Then just launch the app:

$ rails server -p 8080

### Expected behav

[2017-12-30 19:12] kddeisz opened #31598 "Performance: speeding up relation values"
In profiling our application, I've found that `ActiveRecord::QueryMethods#get_value` and `ActiveRecord::QueryMethods#default_value_for` keep showing up near the top of the list. `#get_value` is called for every component of a relation whenever the arel AST needs to be generated and `#default_value_for` fetches the default value for a specific component whenever it wasn't provided by the user.

We

[2017-12-30 19:39] JeremyRubin opened #31599 "Improving ActionMailer::new Documentation"
Hey Rails Devs,

A bit of a newbie here, but it seems that following https://github.com/rails/rails/commit/e76c38ef1047ad3ffb25c1c639c38432a9228796 the ActionMailer documentation is messed up.

Further this change seems to be ill-documented in changelogs as I couldn't find any breaking change notifications?

There's a bunch of code floating around using new with constructions like

    @obj ||= @m

[2017-12-30 19:49] georgeclaghorn commented on #31599
Can you elaborate? The API docs look fine at a glance.

`ActionMailer::Base#new` was private before e76c38e, so the modification to its signature didn’t warrant a CHANGELOG mention. The blog post to which you linked explains Rails internals prior to that change; it doesn’t demonstrate a valid or emulable use of Action Mailer in a Rails app.

[2017-12-30 19:59] JeremyRubin commented on #31599
The documentation says

    # Instantiate a new mailer object. If +method_name+ is not +nil+, the mailer
    # will be initialized according to the named method. If not, the mailer will
    # remain uninitialized (useful when you only need to invoke the "receive"
    # method, for instance).

but new no longer has a method_name parameter

[2017-12-30 20:05] georgeclaghorn commented on #31599
That comment was removed in d33bdef. The API docs will be updated when Rails 5.2 is released. (See [edgeapi.rubyonrails.org](http://edgeapi.rubyonrails.org) for a preview.)

[2017-12-30 20:05] #31599 closed

[2017-12-30 22:04] atstockland opened #31601 "ActiveStorage using local direct-upload-url even when set to :amazon"
It seems the development environment is defaulting to :local storage service, regardless of what is set in development.rb.  I have chosen to use S3 in development (or, at least use it temporarily to make sure things are working)...but storage is still using localhost.

### Steps to reproduce
* create a dev bucket on S3
* add the following to storage.yml

      amazon_dev:
          service: S3

[2017-12-30 22:21] atstockland commented on #31601
I only specified that I was inspecting the page HTML....however, I did submit the form and render the image successfully.  Inspecting the image path also indicates localhost.  It seems there may be some rails magic happening with the url in the BLOB.  But, after the image renders, should I not be seeing an S3 url?  I'm second guessing this as a bug, but I'll leave it open for now.

[2017-12-30 22:23] georgeclaghorn commented on #31601
This is the expected behavior. Active Storage’s JS library hits a stable app URL to request a signed, short-lived direct upload URL.

[2017-12-30 22:23] #31601 closed

[2017-12-30 22:31] atstockland commented on #31601
Thanks @georgeclaghorn!  Sorry for a fake-bug :|

[2017-12-30 23:21] georgeclaghorn commented on #31601
No worries! This could probably be better documented.

[2017-12-31 00:11] y-yagi commented on #31597
I could not reproduce your issue. I can get cookies that include underscoring in a name.
Can you please provide a sample application that reproduces the issue?

[2017-12-31 00:33] celsworth opened #31603 "Partial indexes not recreated correctly after migrations on SQLite"
### Steps to reproduce

I created an executable test case for this bug: https://gist.github.com/celsworth/d3a2fe16d23f57a514655662b1d12cb7

### Expected behavior

The test case schema creates a table with a partial unique index, on the `test1` column for rows where `test1=t`. This works as expected. Multiple rows with `test1=f` can be inserted at this point as the index ignores them.

The migratio

[2017-12-31 00:39] celsworth commented on #31603
Providing test case as an upload as well so it survives longer than the gist will

[active_record_migrations_gem.rb.txt](https://github.com/rails/rails/files/1594896/active_record_migrations_gem.rb.txt)

[2017-12-31 02:16] atstockland commented on #31356
I get the same error from a failed job after trying to preview a PDF.

      identify -format %m %w %h %b /var/folders/zg/71x_xpk11g96g7lxknf2w17w0000gn/T/ActiveStorage20171230-74049-1qo212f[0]`
      failed with error: identify: no decode delegate for this image format `' @ error/constitute.c/ReadImage/509.

[2017-12-31 02:18] gwincr11 commented on #31352
Hi @philayres,

Thanks for the sample application. Perhaps I am confused but everything seems to work as I would expect.

I did notice that you are setting up an alert function in your view to trigger on `ajax:complete` in your example. In doing so you set an id for the element to have this work with. Only the second element has the id, even if both had it only one should work as id's are expected

[2017-12-31 02:23] georgeclaghorn commented on #31356
@atstockland Is the PDF in question password-protected?

[2017-12-31 02:25] #30692 closed

[2017-12-31 02:25] #30687 closed

[2017-12-31 02:26] atstockland commented on #31356
It is not.  I will try a couple other PDF files and see what happens.

[2017-12-31 02:34] georgeclaghorn commented on #31356
Could you try running the PDF through `mutool` manually? Does it produce a valid image? Do you get error output?

This is the command you’ll want to run:

    mutual draw -F png -o preview.png path/to/document.pdf 1

I suspect whatever you’re experiencing is unrelated to this bug.

[2017-12-31 02:39] georgeclaghorn commented on #31356
@DLawla I couldn’t reproduce this with an arbitrary SVG image. Can you share the one you’re using?

[2017-12-31 02:44] atstockland commented on #31356
I tried 3 other PDF (single page and multi-page), just to see if it was related to corruption...or, MiniMagick thinking it was an "invalid" PDF.  Same result on all.  All have extension ".pdf"

Running:

      mutool draw -F png -o preview.png "/Users/LilWayne/Desktop/testing/ukulele.pdf" 1

returns

      page /Users/LilWayne/Desktop/testing/ukulele.pdf 1

no errors, no file is returned in the /t

[2017-12-31 02:46] atstockland commented on #31356
whooops.  The png images were created.  I was looking in the directory where the image was from...not looking in the directory my console was already in.  The command you gave me was successful.

[2017-12-31 02:47] atstockland commented on #31356
Is this a MiniMagick bug..or issue?

[2017-12-31 02:49] georgeclaghorn commented on #31356
Is the image’s size greater than zero bytes?

[2017-12-31 03:01] atstockland commented on #31356
110k for the original PDF.

[2017-12-31 03:03] atstockland commented on #31356
the created png file is 93k

[2017-12-31 03:21] DLawla commented on #31356
@georgeclaghorn Attached is an SVG that will cause the error on my end.
[arrow-right.svg.zip](https://github.com/rails/rails/files/1594958/arrow-right.svg.zip)

[2017-12-31 03:24] atstockland commented on #31356
I'm a moron.  I emailed a file.  ha. here it is...
[ukulele.pdf](https://github.com/rails/rails/files/1594959/ukulele.pdf)

[2017-12-31 04:13] fatkodima commented on #31603
I can confirm also on master. Working on fix.

[2017-12-31 06:27] paulomcnally commented on #3145
Rails 5.1.4

ApplicationController.rb
[code]

*time_select* ignore the timezone.

[2017-12-31 06:37] matrix9180 opened #31605 "Should channel prefix support be rolled into the ActionCable Redis adapter?"
In #27425 I added channel prefix support to the redis & evented_redis ActionCable connection adapters. The decision to abstract channel prefixes to it's own module was due to there being two redis adapters at the time. After #30945, there is only one redis adapter so the abstraction isn't needed. I see two options and am seeking feedback.

Option 1: Just leave it alone.
 - It *could potentially* b

[2017-12-31 08:56] tradeli commented on #31328
So maybe Kamipo fixed it but forgot to close this hahaha
I think it was here: [commit](https://github.com/rails/rails/commit/6a8ce7416d6615a13ee5c4b9f6bcd91cc5adef4d)

[2017-12-31 15:31] georgeclaghorn commented on #31356
@DLawla: I reproduced this issue with your image. When I removed the extension from the filename, ImageMagick failed to identify it. However, ImageMagick successfully identified it when I added an XML declaration to the beginning of the file:

[code]

It seems like ImageMagick looks for an XML declaration to identify SVG images and falls back to the extension if it finds none. The XML declaration

[2017-12-31 15:34] #31603 closed

[2017-12-31 16:03] #31302 closed

[2017-12-31 17:00] butchmarshall opened #31608 "Fragment Cache - always cold on server restart/reload?"
### Steps to reproduce

1. Fragement cache some pages using any caching engine
2. Restart your server
3. Cache is cold

### Expected behavior

I'd like the ability to keep my cache warm between server restarts

### Actual behavior

Cache is not warm between restarts.

### System configuration
**Rails version**:

4.2.10

**Ruby version**:
2.2.1p85

[2017-12-31 17:08] georgeclaghorn commented on #31608
Are you using the memory cache store? If not, which cache store are you using?

[2017-12-31 17:10] butchmarshall commented on #31608
This happens for me when using both file & dalli (memcached).

[2017-12-31 17:24] butchmarshall commented on #31608
Actually @georgeclaghorn this looks like it might be an issue with [jsonapi-resources](https://github.com/cerebris/jsonapi-resources).

I'm opening an issue there instead.  I'll re-open if it turns out not to be the culprit.

[2017-12-31 17:24] #31608 closed

[2017-12-31 18:01] sebastiandeutsch opened #31609 "destroy_all blocks the pry with ActiveStorage purge job"
### Steps to reproduce

Looks at this snapshot from my terminal.

https://gist.github.com/sebastiandeutsch/d7e021198b36cab54ecb9370a6aaf519

### Expected behavior
It should delete all the records including the attached documents.

### Actual behavior
It blocks and when I hit CTRL+D it might leave the database in an inconsistent state.

### System configuration
Rails 5.2.0.beta2
Ruby 2.4.0

[2017-12-31 18:41] GBH commented on #31609
Maybe related to https://github.com/rails/rails/issues/30937

[2017-12-31 18:42] sebastiandeutsch commented on #31609
I'm using Postgres so maybe it's not limited to SQLite.

[2017-12-31 20:58] atstockland commented on #31356
@georgeclaghorn That fixed my issue too...using a PDF.  The png is created, rendered, and has content_type of PNG.  However, the image url in the browser is still "ukulele.pdf".  Perhaps that is expected behavior since the PDF url is called and the "short-lived" direct url is actually the path to the png file.

      <img  src="http://localhost:3000/rails/active_storage/previews/eyJfcmFpbHMiOnsibW

[2017-12-31 20:59] #31356 closed

[2018-01-01 06:24] aamir-pk commented on #31524
@hgsongra  I tried your what you suggested but still getting the same error.

[2018-01-01 09:58] aamir-pk commented on #31524
@eileencodes I just created a fresh application using rails 5.1.4. Following are the changes/additions I made in the application:

1) I added following line in development.rb file:

`config.action_cable.allowed_request_origins = [/http:\/\/*/, /https:\/\/*/, /file:\/\/*/, 'file://']`

2) Added following line in appliation.rb
`config.action_cable.mount_path = '/cable'`

3) cable.yml file looks like

[2018-01-01 13:47] cben opened #31611 "type_for_attribute(a_symbol) returns identity type"
### Steps to reproduce

I have a float column "quota_desired".  (I'm using postgres, but from code this seems adapter-independent.)
Calling `type_for_attribute("quota_desired")` works well, but on a symbol `type_for_attribute(:quota_desired)` returns a do-nothing Type::Value.

I'm working on a PR to add tests & support symbols too, let me know if something else is desired.

### Expected behavior
C

[2018-01-01 14:48] juno opened #31612 "ActiveRecord 5.2.0.beta2: Float::INFINITY not serialized correctly with PostgreSQL Range type"
With changes within PR #30725 , I can't store a `Range` object with `Float::INFINITY` (e.g. `1..Float::INFINITY`) into PostgreSQL Range type column.

### Steps to reproduce

1. Start PostgreSQL server
1. Create `test_ar_range` database
   - `$ createdb test_ar_range`
1. Run https://gist.github.com/juno/630dc277dc3dae1d69101d059e3ee14e
   - `$ ruby test.rb`

### Expected behavior

I can set and sto

[2018-01-01 17:15] ahmad19 commented on #31576
Here: https://github.com/rails/rails/pull/31613

[2018-01-01 18:00] georgeclaghorn commented on #31576
Per https://github.com/rails/rails/pull/31579#issuecomment-354233411, we prefer this form because it’s equivalent and easier to read.

[2018-01-01 18:00] #31576 closed

[2018-01-01 18:16] alaz commented on #23699
Same issue. JRuby 9.1.15.0, Rails 5.1.4, Puma 3.11.0-java

[2018-01-01 18:26] georgeclaghorn commented on #31605
Please use the [rubyonrails-core](https://groups.google.com/forum/#!forum/rubyonrails-core) mailing list to discuss this. We reserve the issue tracker for bug reports.

My two cents: fold it back into `RedisAdapter`. Feel free to open a PR.

[2018-01-01 18:26] #31605 closed

[2018-01-01 19:28] enatividad opened #31614 "bin/rails db:setup ignores application configuration (Rails.application.config.active_record.schema_format = :sql)"
### Steps to reproduce
1. Install ruby 2.4.1 via rbenv. Install rails 5.4.1. Running them in Fedora 25 is a plus.
2. Download/clone this source code: https://github.com/enatividad/sen_sys_public/tree/development
3. Note that `/config/initializers/0_custom_config.rb` says `Rails.application.config.active_record.schema_format = :sql`.
4. Run `bin/setup` (which runs `bin/rails db:setup').

(Guideline

[2018-01-01 19:50] joshmn commented on #31614
I can confirm this acts as reported, _however_, could you try putting `config.active_record.schema_format = :sql` into your `config/environments/development.rb` and then running `bin/setup` and report back? I got different behavior once I did so.

[2018-01-01 21:08] PrimeTimeTran commented on #25197
Sorry I'm a little bit late to the party, but would you guys mind giving me a pointer?
https://stackoverflow.com/questions/48053022/rails-5-1-strong-parameters-deprecated

I've read the [repo's code](https://github.com/rails/rails/blob/21cd5b3031b0c022439a88cb750c1e00cd07f1e3/actionview/lib/action_view/helpers/form_helper.rb) and I'm still confused. Is there no way to use from_with for a `nested r

[2018-01-01 21:50] georgeclaghorn commented on #31542
I can’t reproduce in a fresh application running latest master. Can you build a small sample application that reproduces the error?

[2018-01-01 22:00] cben commented on #31611
Missed the activerecord-specific issue template, here goes:

[code]

[2018-01-01 22:01] georgeclaghorn commented on #31507
No, it exists only for use by `rails-ujs` itself. Use XMLHttpRequest, the WHATWG fetch API, or your favorite Ajax request utility to send requests from your own JavaScript code.

In general, methods and classes that don’t appear in the API docs or the guides are for internal use only.

[2018-01-01 22:01] #31507 closed

[2018-01-02 00:27] igravious opened #31616 "Don't want :coffee:"
### Steps to reproduce not having :coffee:

Install Rails as new. I followed [this particular guide](https://bendyworks.com/blog/installing-ruby-on-rails-edge-with-bundler) because I wanted to [track master](https://github.com/rails/rails) and also install Rails via Bundler but I'm presuming that makes no difference to the outcome, please correct me if I'm wrong. Choose the ```--skip-coffee``` par

[2018-01-02 00:35] matthewd commented on #31616
Master requires coffeescript, because [we have code written in coffeescript](https://github.com/rails/rails/search?l=CoffeeScript). (It gets precompiled to JS during the release process.)

[2018-01-02 00:35] #31616 closed

[2018-01-02 01:18] y-yagi commented on #31614
This because `db:setup` task set config before load environment files.
But that behavior changed to load environment files before set config with #31135. So this issue will not happen on Rails 5.2.
In Rails 5.1.4, please set `schema_format` in `config/application.rb`. Like following.

[code]

Thanks!

[2018-01-02 01:18] #31614 closed

[2018-01-02 03:08] pedromartinez commented on #31309
Also having this issue. Need to somehow whitelist all ports on localhost.

[2018-01-02 07:27] swordray commented on #31542
Sure. Check out https://github.com/swordray/demo. It is a rails master project with User model and controller. While I send a users#update request from browser, I got following logs.

[code]

[2018-01-02 12:09] hot-cheese commented on #31586
Unfortunately using credentials this way causes this error:
```/ruby-2.4.2/lib/ruby/gems/2.4.0/gems/bootsnap-1.1.5/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:19:in `require': cannot load such file -- google/cloud/storage (LoadError)```
What can I do about it?

[2018-01-02 12:15] igravious commented on #31616
Is this always going to be the case? Shouldn't the ```--skip-coffee``` command line option be removed in that case?

I think having a hard requirement on CoffeeScript is a bad idea for a number of reasons.

- you'll get more users of Rails if you _support_ CoffeeScript but don't _require_ it
- you'll get more contributors to Rails if the client-side internals are written in JavaScript, not CoffeeS

[2018-01-02 12:46] matthewd commented on #31616
As I said, the option works fine when using the released gems; it's just incompatible with using `--dev` to work directly against master.

Thanks for your concern, but I think we do okay with getting users.

[2018-01-02 12:54] igravious commented on #31616
No need for the snark @matthewd .

I didn't understand that you meant that if I target master using ```--dev``` that this disables ```--skip-coffee``` and that releases work differently. Are there any other things that ```--dev``` does that I need to know about? This needs to be documented somewhere! What I thought you meant was that from now on I wouldn't be able to disable CoffeeScript.

And eve

[2018-01-02 13:22] hot-cheese commented on #31586
`Google::Cloud::PermissionDeniedError: forbidden: <client_email> does not have storage.buckets.get access to <bucket_name>.`
Why does it require permission to list all buckets if I only need to manage files in one bucket?

[2018-01-02 14:37] amysid opened #31622 "DEPRECATION WARNING: Passing a class to the `class_name` is deprecated and will raise an ArgumentError in Rails 5.2. It eagerloads more classes than necessary and potentially creates circular dependencies. Please pass the class name as a string: `has_many :transactions, class_name: 'BitcoinPayable::BitcoinPaymentTransaction'` (called from <class:BitcoinPayment> at /home/Ammad/.rvm/gems/ruby-2.3.1/bundler/gems/bitcoin_payable-7af6f7d51d69/lib/bitcoin_payable/bitcoin_payment.rb:9)"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2018-01-02 14:42] chrisarcand commented on #31616
This got defensive quickly due to a simple misunderstanding of where the 'hard requirement' lies.

@igravious This has been closed as Not A Bug, but you're welcome to open a pull request to make a small note of this behavior; perhaps in the contributing guides, [here](https://github.com/rails/rails/blob/921b877c2fd51cc0abdcf0ef6ca3528808047056/guides/source/contributing_to_ruby_on_rails.md#running

[2018-01-02 15:02] chrisarcand commented on #27633
@lastobelus As Ruby/Rails has grown and the number of obsolete StackOverflow answers from 2009 and old sites like API Dock become impossible to filter in a google search, I have found tools like [Dash](https://kapeli.com/dash) to be invaluable and suggest you give that a try.

[2018-01-02 15:44] mode-x commented on #31324
What is the solution to this issue? I am stuck with this error.

[2018-01-02 15:55] tomrossi7 commented on #31324
@mode-x I removed the minitest-rails-capybara gem and that resolved my issue...

[2018-01-02 16:24] atstockland commented on #31324
I removed Minitest-Rails gem and that fixed it for me.  I’m back to bare bones, stock Minitest and loving it!

[2018-01-02 18:12] Onumis commented on #31622
No problems here, the warning is self explanatory.

[2018-01-02 18:28] #31622 closed

[2018-01-02 19:31] gabolucuy opened #31623 "Hide date_select tag rails 5 with jquey not working"
I'm trying to hide a date select tag in rails 5 on document ready with jquey, the tag looks like this:
`<%= date_select :search_input, params[:search_input], class:"form-control mr-sm-2 " ,id:"date_select"%>`
and the jquery code:
`$( document ).on('turbolinks:load', function
  $("#date_select").hide();
})`
### Expected behavior
The element should hide

### Actual behavior
The element doesnt hide,

[2018-01-02 20:23] #29017 closed

[2018-01-02 20:32] replaid commented on #28780
I'm amidst upgrading a legacy app and ran into this. I grabbed the change in #31330, put it into an initializer at `config/initializers/backport_pg_10_support_to_rails_4.rb`, and all is well:

[code]

[2018-01-02 21:22] kamipo commented on #16182
Fixed by c6cd9a59f200863ccfe8ad1d9c5a8876c39b9c5c.

[2018-01-02 21:22] #16182 closed

[2018-01-02 22:21] romariolopezc commented on #25649
I'm also having problems with the usage of the package in node.

[code]

[2018-01-02 22:29] guilleiguaran commented on #25649
@romariolopezc maybe you can use this: https://www.npmjs.com/package/window

[2018-01-02 22:40] javan commented on #25649
The package is designed for the browser, not node. You may be able to get actioncable working with node using a simulated DOM, but we don't plan to support it officially.

[2018-01-02 22:59] romariolopezc commented on #25649
Is as easy to do.
[code]

But I don't know what JS websocket package to use? Is it [websocket](https://www.npmjs.com/package/websocket)? or [ws](https://www.npmjs.com/package/ws)?

[2018-01-02 23:17] jarednorman opened #31625 "Primary key issues with really long table names"
### Steps/Actual Behaviour

Example app demonstrating the issue [here](https://github.com/jarednorman/rails_bug_bad_id) with instructions in the README. Here's the full steps:

- Create a new Rails 5.1 app (I used Rails 5.1.4, Ruby 2.4.1) and postgres as the db (I'm running 9.6).
- Create a table with a really long name (long enough that it will get truncated when generating the name for the seq f

[2018-01-02 23:23] kamipo commented on #31625
This has been fixed in #28339 and backported in af9c1707ad49eb421cf76c1367da3efbf3c39aea.

[2018-01-02 23:23] #31625 closed

[2018-01-02 23:25] jarednorman commented on #31625
Thanks! Sorry I failed to find the original bug.

[2018-01-02 23:55] dwightwatson commented on #31623
Your JavaScript code is broken - the function definition is incorrect.

[code]

This is not an issue with Rails.

[2018-01-03 00:05] atstockland opened #31626 "undefined method `purge' for nil:NilClass"
### Steps to reproduce
I'm not exactly sure how I achieved this...somehow I have a user referencing a blob that no longer exists.  I apologize that I'm not able to contribute more towards a solution to this...I'm still wrapping my brain around how ActiveStorage works.  But, I thought this scenario worthy of sharing.

     user = User.find 155
     user.avatar.attached? ---- returns true
     user.

[2018-01-03 02:18] gwincr11 commented on #31472
I took some time to investigate this. From what I can tell, the referer is coming from an [Action Dispatch item that is using a Rack module](https://github.com/rails/rails/blob/9668cc3bb03740b13477df0832332eec71563bc5/actionpack/lib/action_dispatch/http/request.rb#L23) to get the referer from the Rack env using the env https://github.com/rack/rack/blob/master/lib/rack/request.rb#L50-L52.

This is

[2018-01-03 06:26] y-yagi commented on #31623
@dwightwatson is right. Please fix your code.

Also, please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-01-03 06:26] #31623 closed

[2018-01-03 11:02] JanStevens opened #31627 "Postgres Advisory Lock should include schema name"
### Steps to reproduce
When using Aparment or pg bouncer it is common to have multiple identical structure postgres schemas. These can be migrated in parallel separately without any conflict (they are separate namespaces). With rails current implementation of advisory locks this does not work since a lock is generated only on the database name and not on schema + database name.

### Expected behav

[2018-01-03 14:04] enatividad commented on #31614
Placing the `active_record.schema_format` configuration in development.rb and application.rb seems to fix the problem. Thank you for your hard work!

[2018-01-03 14:27] eileencodes commented on #31524
I suspect the problem is that you're using actioncable-js. The README says the project is no longer maintained and you should use the official Rails npm package here https://www.npmjs.com/package/actioncable#npm-usage

If you remove the actioncable-js gem does the application work as suspected?

[2018-01-03 15:23] TrevorHinesley opened #31631 "POSTing doubles up on parameters"
### Steps to reproduce

Manually declare a POST route to (example) an AuthController, and post JSON parameters:

Route:
[code]

POST to it with a body:
[code]

### Expected behavior
It should POST with only the supplied parameters.

`params` should be:
[code]

### Actual behavior
Instead, the supplied parameters are added to the root of the `params` hash, as well as being listed a second time, nes

[2018-01-03 18:33] shime commented on #31457
I've managed to reproduce this issue on my machine with that locale settings.

Ruby versions:
* 2.3.4p301
* 2.4.1p111

Postgresql versions:
* 9.4.4
* 9.5.10

OS: OSX El Capitan (10.11.2)

It's reproducible after setting value for `lc_monetary` to something different that `en_US.UTF-8` in `postgresql.conf` (usually located in `/usr/local/var/postgresql/postgresql.conf`). For some locales (like `fr_

[2018-01-03 18:48] justinperkins commented on #19198
Would be nice to be able to exclude a partial from this digest builder, rather than just be trained to ignore the log messages. Not to mention bypassing the digest tap+rescue block.

[2018-01-03 18:58] shivhg commented on #31631
This is actual behaviour of rails. It helps during creation where you can just say params[:auth] or during the require.permit check for attr_accessible.

Refer following for more details
https://stackoverflow.com/questions/9133652/rails-3-params-unwanted-wrapping
http://borgs.cybrilla.com/tils/wrap-parameters-rails/

Also please close the Issue.

[2018-01-03 19:19] henrytseng commented on #11415
Confirmed.

[2018-01-03 19:44] TrevorHinesley commented on #31631
Got it. Thanks!

[2018-01-03 19:44] #31631 closed

[2018-01-03 20:49] igravious commented on #31616
Thanks for your calm words @chrisarcand . I've been chatting with a couple of people in the RubyOnRails IRC channel in my attempt to get to the bottom of the exact behaviour so that it can be documented. A small note in the appropriate guide should, as you say, make everyone happy.

[2018-01-03 21:44] #31612 closed

[2018-01-03 22:23] benaubin commented on #26158
Still a problem!

[2018-01-04 00:31] mode-x commented on #31324
Removing minitest-rails-capybara took care of it for me

[2018-01-04 03:37] #30006 closed

[2018-01-04 04:24] aamir-pk commented on #31524
@eileencodes Let me clarify this. The application is API only and there is no actioncable-js gem in Gemfile. I am using Ember client to connect to ActionCable using this add-on https://emberobserver.com/addons/ember-cable.

In order to make sure that problem was not due to Ember. I created a new project from the scratch and then used earlier mentioned Javascript library just to see if it connects

[2018-01-04 07:01] muja opened #31633 "ActiveSupport::Duration bug regarding granularity with higher numbers"
### Steps to reproduce

    $ irb

    true

    99 years, 11 months, 4 weeks, 2 days, 10 hours, 29 minutes, and 5.0 seconds

    100 years

### Expected behavior
The first line should either be
`99 years 11 months 4 weeks 2 days 23 hours 59 minutes 59.0 seconds`
or the second line should be
`99 years, 11 months, 4 weeks, 2 days, 10 hours, 29 minutes, and 6.0 seconds`

### Actual behavior
Removing

[2018-01-04 09:26] shime commented on #31597
I also couldn't reproduce it with that configuration. Need more details on how to do so. Failing test would be ideal.

[2018-01-04 12:53] eileencodes commented on #31524
We have our own gem in Rails so if this is a bug in Rails, you should be able to reproduce this without Ember or actioncable-js if this is a Rails issue. Can you provide a newly generated application without ember or actioncable-js that reproduces the issue you're seeing?

I'm sorry I can't help more, but right now I don't have enough information to debug or help you debug.

[2018-01-04 13:33] feliara8 commented on #28415
im still having this issue in 5.1.4

[2018-01-04 14:00] #31068 closed

[2018-01-04 14:18] owaiswiz commented on #31633
Hello,
The exact no of seconds in a gregorian calendar is 31556952 because the mean length is 365.2425 days - https://en.wikipedia.org/wiki/Gregorian_calendar
So 3155695199 + 1 ( 3155695200) should in fact equal 100 years.

Hence you don't get the output you expect because it doesn't derive the value of a year from the rounded 365 days.

[2018-01-04 14:40] tomrossi7 opened #31635 "Russian Doll Caching with Rails 5.2"
I have upgraded an application to Rails 5.2 from 5.1 and all of my tests pass, but caching is not working. I believe there is something wrong with recyclable cache keys. I didn't see anything in the documentation for configuring cache versioning, but maybe I've missed something?

### Steps to reproduce
With Rails 5.2.0.beta2 and caching configured:
[code]
view:
[code]
### Expected behavior
The cac

[2018-01-04 15:31] muja commented on #31633
I know that. Thanks to your example, I realized just know that what is displayed in the output equals to a whole 365 days + 10 hours etc. Why doesn't it say "12 months 10 hours 29 minutes 5.0 seconds"?

Okay, I realized now that the months are fragmented as well and `1.month != 30.days`. So the when I display "1 month" to my end user, what I am actually saying is 30 days, 10 hours, 29, 5 seconds?

[2018-01-04 15:38] tomrossi7 commented on #31324
On a related note, I had to lock the minitest version in at 5.10.3. The latest version was causing an error.

[2018-01-04 15:47] owaiswiz commented on #31633
Exactly. ( 1.year == 12.months == 365.2425.days ) != 365.days

[2018-01-04 16:12] kamipo commented on #28953
Fixed by #31049.

[2018-01-04 16:12] #28953 closed

[2018-01-04 17:46] kamipo commented on #26270
This has been fixed since 5.1.

[2018-01-04 17:46] #26270 closed

[2018-01-04 20:27] sodabrew opened #31636 "Upcoming release: mysql2 gem 0.5.0"
Hello! When I last released a new "major" version of the mysql2 gem, there was some widespread grumbling as users were able to update their gems locally without constraints, but at runtime received errors because the gem version is specific in the mysql2 adapter https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb#L6

I am planning a mysql

[2018-01-04 22:02] philayres commented on #31352
Sorry for the delay responding, I've been away from a computer for a while. Let me try and explain why I think there is a bug. My example code is functioning as I intended it, to demonstrate the issue.

Intuitively I do not believe that a disabled fieldset should also disable contained links that have `data-remote="true"`. Since regular links are not disabled (and are functionally not part of a fo

[2018-01-04 23:17] kamipo commented on #20508
This has been fixed since 5.1.

[2018-01-04 23:17] #20508 closed

[2018-01-05 00:03] israelfaria commented on #29865
The issue is still present. Any indicators of how to download it elsewhere?

[2018-01-05 01:06] matthewd commented on #31636
As you note, 0.x versions are generally considered to be major, so we default to a more restrictive upper version. I'd say we're happy to accept your guidance on what the upper should be, based on which future versions you're happy to commit to not changing things we use in.

Given the gem's maturity and widespread use, bumping to 1.0.0 does seem like a potentially good idea, just because most peo

[2018-01-05 01:35] PikachuEXE commented on #30578
Any progress on fixing this?

[2018-01-05 02:34] gwincr11 commented on #31352
I am not sure I follow. When I click the link in the disabled form, I see the request go to the server and returned as a 200 in the chrome dev tools. The only difference I am seeing is that in the form that has not being disabled you have an event listener setup to listen to the response and create an alert.

I commented out all the javascript on the page and clicked on both links and got the same

[2018-01-05 03:46] #30566 closed

[2018-01-05 03:46] #30751 closed

[2018-01-05 03:46] #30754 closed

[2018-01-05 04:13] paramadeep commented on #25091
I am running rails 5.1.4. Getting the following exception while trying to create ans save a nested model object (models use establish connection)
[code]

[2018-01-05 07:02] gingerlime commented on #27157
Sorry for the delay replying to you, @Schwad. It's been a while since this discussion took place, so I needed some time to refresh my memory about the whole thing. I'd be happy to create a PR. I think I am reasonably confident I understand things, I just hope I can explain those nuances clearly on the docs :)

[2018-01-05 08:53] Dammic opened #31638 "dddddddddddddddd socket io"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2018-01-05 15:10] philayres commented on #31352
I understand why my previous comment was even more confusing now (I will edit it in a moment to identify it as junk to the casual reader). When testing with Chrome the functionality works as expected. On Firefox the (v57 and 40-ish) the data-remote="true" link in the first form in my example no longer makes an Ajax call but actually a standard page navigation (as per my original post).

My excuse

[2018-01-05 15:47] sbonami commented on #25091
I ended up tracking this down and solving it in a more "rails" way. So, without overriding a constant (which is shameful and appalling), set your parent model (or a higher-level base model) as an [abstract model](http://www.informit.com/articles/article.aspx?p=2220311&seqNum=5) and call `establish_connection` there. This creates a shared connection pool, rather than a newly established connection

[2018-01-05 16:48] beder commented on #19198
Just for the record, it looks like this issue was solved here: bb048147912d7ea8c301acd6468e9f869dd0acad.

[2018-01-05 16:55] atstockland commented on #31356
This same issue has resurfaced for me in production on heroku

[2018-01-05 21:11] dereksweet opened #31643 "JSON params not changing on multiple posts to controller action"
Seem to have an issue where a single test that makes multiple posts to the same controller action, with different params, does not seem to receive the subsequent changes in params. For example, if I have a very simple rails project with just a single controller, with a single action, and a single test that tests that action, the params do not seem to change between posts to that action.

Here is t

[2018-01-05 21:17] gwincr11 commented on #29423
I am wondering if this can be closed as #29964 fixes the docs.

[2018-01-05 21:57] bradland opened #31644 "ActionDispatch::RequestId#make_request_id strips characters used by common request ID modules"
While using Apache + Passenger, we pass a request ID to our app using [mod_request_id](https://httpd.apache.org/docs/2.4/mod/mod_unique_id.html). This library uses the @ symbol as part of its alphabet, as documented in this paragraph:

The `make_request_id` method removes the @ symbol from any request ID passed through `X-Request-Id`.

https://github.com/rails/rails/blob/9a130ee465fd8bd933d62a766a

[2018-01-06 00:28] emirkin opened #31645 "Cannot use custom fields in :sum operation"
Using `activerecord (= 5.0.6)`...

`User.select([:kind, '4 as "coeff"']).sum('coeff')`

should not produce

[code]

since `coeff` is defined. Am I missing something?

(I double-checked https://apidock.com/rails/v4.0.2/ActiveRecord/QueryMethods/select)

[2018-01-06 02:08] att14 opened #31646 "development dependencies are installed when running bundle install"
### Steps to reproduce
Gemfile
[code]

Run `bundle install`. Afterwards your `Gemfile.lock` looks like:

[code]

The actual code change for this should be straight forward and I would be willing to contribute if this is approved as a legitimate change.

### Expected behavior
Only runtime dependencies are installed by using [`add_development_dependency`](http://guides.rubygems.org/specification-ref

[2018-01-06 05:14] saneef commented on #29423
Thanks @gwincr11. Closing since the docs updated with usage on #29964.

[2018-01-06 05:14] #29423 closed

[2018-01-06 06:50] georgeclaghorn commented on #31646
`minitest` and `rails-dom-testing` aren’t “development dependencies” in the sense Rubygems uses the phrase. They’re required to use Rails—`rails test` won’t work without them. We intend for them to be installed with `rails`.

[2018-01-06 06:52] #31646 closed

[2018-01-06 06:56] Fudoshiki commented on #31635
in development?
In development env need run one time `rails dev:cache`

[code]
https://blog.bigbinary.com/2016/01/25/caching-in-development-environment-in-rails5.html

[2018-01-06 09:14] rlue opened #31647 "Error in Rails Guides? (Asset Pipeline: tag helpers' `debug` option)"
From [Section 3.3 of the Edge Guides on the Asset Pipeline](http://edgeguides.rubyonrails.org/asset_pipeline.html#turning-debugging-off):

When I try this in Rails 5.1, it simply adds a `debug="true"` HTML attribute to the corresponding tag, rather than enabling debug mode on the specified tag helper. Furthermore, the [Edge API documentation](http://edgeapi.rubyonrails.org/classes/ActionView/Helpe

[2018-01-06 10:36] mrstebo commented on #31643
I assume the test works if you split the tests up? would be interesting to see what is going on...
My head is telling me that maybe it could be caching, but probably not. I'll have to look a bit deeper into how controller tests are set up in Rspec

[2018-01-06 15:53] dereksweet commented on #31643
Yes that is correct. The tests would pass if they weren't within the same `it` block.

[2018-01-06 16:40] tomrossi7 commented on #31635
Caching is working, but the cache is not busting. This is related to the change for recyclable keys.

[2018-01-06 17:09] georgeclaghorn commented on #31635
The third-party Dalli store is incompatible with recyclable cache keys. Disable that feature or use the built-in Memcache store.

[2018-01-06 17:09] #31635 closed

[2018-01-06 17:56] kamipo commented on #29123
This is a same issue with #31068.
I think that redefining association in a STI subclass is a reasonable usage.
I've fixed it in 652258e41a882acccdb9a3ce211dbf356e738b28.

[2018-01-06 17:56] #29123 closed

[2018-01-06 18:34] kamipo commented on #31328
Closing this since can't reproduce on `5.2.0.beta2` (and edge, and all stable branches).

[2018-01-06 18:34] #31328 closed

[2018-01-06 22:12] mrstebo commented on #31643
Okay, just ran a test. If I used `post` then it would mimic the behaviour that you have outlined. However, the route that is generated when you run `rails g controller Test index` produces a route in **routes.rb** - `get 'test/index'`

So if I run your tests changing `post` to `get`, then the tests work fine.

Could you verify what is in your **routes.rb** file?

[2018-01-06 23:35] georgeclaghorn commented on #31647
The debug option is (supposed to be) implemented in [sprockets-rails](https://github.com/rails/sprockets-rails). Do you not use Sprockets in your app?

[2018-01-07 00:00] mrstebo commented on #31645
You could do `User.select([:kind, '4 as "coeff"']).sum {|x| x[:coeff]}`. Although this doesn't do the sum in the query 😅

For the example you have given, couldn't you do `User.count * 4`? Or do you have a specific scenario?

[2018-01-07 00:05] dereksweet commented on #31643
Yes I noticed that to, the problem only seems to affect `post`, `put`, and `patch`.

[2018-01-07 10:56] kamipo commented on #23829
Fixed by 68754d37706f11ca363b3108eda10749b9957817.

[2018-01-07 10:56] #23829 closed

[2018-01-07 13:59] rlue commented on #31647
Thanks! This was a bug in sprockets-rails; [I've submitted a PR for it](https://github.com/rails/sprockets-rails/pull/418).

[2018-01-07 13:59] #31647 closed

[2018-01-07 14:23] mrstebo commented on #31643
This is probably more to do with rspec. See [here](https://stackoverflow.com/questions/7850650/making-two-requests-to-the-same-controller-in-rails-integrations-specs) for a Stack Overflow post regarding a similar issue.

[2018-01-08 01:10] thiagolcmelo commented on #31597
@y-yagi and @shime

I am really sorry for wasting your time. I tried it again and it worked as it should.

I have an app where it does not work, but the issue is probably another thing.

If you guys think it would worth to investigate:
https://github.com/thiagolcmelo/underscore-cookie-error

[2018-01-08 03:28] gwincr11 commented on #31352
So this is actually a standard Firefox behavior, along with Opera I believe? Firefox does not bubble events up the dom that occur in disabled containers. http://www.webdeveloper.com/forum/showthread.php?186057-Disabled-button-stealing-onclick-events-in-firefox

Handling this situation would require some changes in how the UJS events work, currently all events are bound to the window object and rel

[2018-01-08 03:31] #28085 closed

[2018-01-08 03:53] y-yagi commented on #31597
Thanks for providing sample application.
As you are aware, your sample application seems work as expected.
So the issue is not Rails, and I will close this.
If you will find the cause, and it's issue of Rails, feel free reopen issue. Thanks!

[2018-01-08 03:53] #31597 closed

[2018-01-08 07:22] y-yagi commented on #31645
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks.

[2018-01-08 07:22] #31645 closed

[2018-01-08 07:49] rlue opened #31649 "Error in Rails Guides? (Asset Pipeline: Preprocessing)"
[Section 2.5 of the Guides on the Asset Pipeline](http://guides.rubyonrails.org/asset_pipeline.html#preprocessing) state:

But if you “disable the asset pipeline” [according to the guide’s instructions](http://guides.rubyonrails.org/asset_pipeline.html#what-is-the-asset-pipeline-questionmark),

[code]

then out-of-the-box, accessing any page that uses `layouts/application.html.erb` raises the foll

[2018-01-08 13:33] johan-smits commented on #28386
Is there a way to migrate all current schema's to a new 5.1 migration without lossing the data?

[2018-01-08 14:11] tomrossi7 commented on #31635
@georgeclaghorn thanks for the reply! If I try to use `config.cache_store = :mem_cache_store`, I get the error `Could not find cache store adapter for mem_cache_store (cannot load such file -- dalli)`. The [edge documentation](http://edgeguides.rubyonrails.org/caching_with_rails.html#activesupport-cache-memcachestore) still says it uses Dalli. How do I disable it to use the built-in store?

[2018-01-08 14:14] georgeclaghorn commented on #31635
The built-in store does use Dalli, so you’ll need to have Dalli installed. (There’s nothing wrong with Dalli itself, just the `DalliStore` that comes with it.)

[2018-01-08 14:19] tomrossi7 commented on #31635
Perfect! I understand now, thanks again!

[2018-01-08 14:51] Dorian commented on #12672
The example doesn't crash on Rails 5.2.0.beta2, so seems like it was fixed.

[2018-01-08 15:15] gwincr11 commented on #31352
Here is the same issue as reported to JQuery, https://github.com/jquery/jquery/issues/2592, they considered it a bug with Firefox, here is a related Firefox bug report, https://bugzilla.mozilla.org/show_bug.cgi?id=218093,  looks pretty old, I am thinking they will not resolve it anytime soon.

[2018-01-08 15:35] chelseatroy commented on #28780
Thank you @replaid, this fixed my issue!

[2018-01-08 15:46] dereksweet commented on #31643
Thanks for your comments. I'll investigate if the problems happens with TestUnit and report it over at Rspec if appropriate.

[2018-01-08 16:52] philayres commented on #31352
Thanks for leading me through the maze to the FF bug report. I have commented on it: https://bugzilla.mozilla.org/show_bug.cgi?id=218093#c48 but like you say I don't expect any action.

It looks like the best I can do for something repeatable is also perform the delegate call in UJS on elements matching `'[disabled="true"] *'` and ensure there is a wrapper container within the disabled fieldset, l

[2018-01-08 16:52] #31352 closed

[2018-01-08 18:45] dhh commented on #31419
(Not rendering an opinion on this specifically, just don't think it's a blocker for 5.2.0. I'm inclined too to open a syntactically vinegar'ed backdoor for people to do whatever they want.)

[2018-01-08 18:58] javan commented on #31393
I suspect this was fixed by https://github.com/rails/rails/pull/30568. It looks like the [npm package](https://www.npmjs.com/package/activestorage) isn't being published when Rails updates are released. The latest published version is `0.1.1`, but should be: https://github.com/rails/rails/blob/edcd32edadd0d6d6b505f59436d05c6a890d4d7c/activestorage/package.json#L3

cc @rafaelfranca

[2018-01-08 19:25] javan commented on #31393
Wups, my bad. `5.2.0-beta2` was released, but it's published under the `pre` npm dist-tag so it doesn't show up on  https://www.npmjs.com/package/activestorage.

[code]

@DLawla, can you please try with `"activestorage": "5.2.0-beta2"` in your `package.json` and let me know if the problem persists?

[2018-01-08 19:37] #31542 closed

[2018-01-08 19:38] georgeclaghorn commented on #31542
@swordray, can you confirm that 93e6a0e fixes your issue?

[2018-01-08 19:59] etcook commented on #31548
@y-yagi FWIW, I ran into this error as well with a completely fresh project of Rails 5.2 beta 2 and ruby version 2.5. I ended up just creating the project with 5.1.4 with no error.

[2018-01-08 20:19] DLawla commented on #31393
@javan, thanks for the follow-up.
Our package.json is up-to-date (`"activestorage": "5.2.0-beta2"`), but the problem is still persisting for me after testing in Firefox (version: 57.0.4) 😢

[2018-01-08 20:48] koenpunt commented on #31328
I actually am experiencing this issue with Rails 5.2.0.beta2..

[2018-01-08 21:08] koenpunt commented on #31328
Explicitly adding `inverse_of: ...` to my `belongs_to ..., polymorphic: true`, makes it work again tho..

[2018-01-08 22:09] #31393 closed

[2018-01-08 22:10] javan commented on #31393
Oh, Firefox 👴🏻

[2018-01-08 22:21] DLawla commented on #31393
@javan Why did you close this? I'm still experiencing the issue, unfortunately.

[2018-01-08 22:24] javan commented on #31393
I fixed the issue with https://github.com/rails/rails/commit/21417e02e906f6b64f013aafefdc0cb8ea8b5e74. It will be included in the next Rails release.

[2018-01-08 22:43] DLawla commented on #31393
Ahh I see. Thanks for the update, and good work!

[2018-01-09 00:02] davekapp commented on #31190
This unfortunately has become a problem for us as well, as we use PgBouncer as well.

So I'd give a big +1 to the ability to request to turn this off. It makes sense as an on-by-default feature for people who are not using PgBouncer, but the ability to turn it off without having to monkey-patch `PosgtreSQLAdapter` would be terrific.

[2018-01-09 02:59] #30779 closed

[2018-01-09 03:59] #30790 closed

[2018-01-09 06:17] swordray commented on #31542
@georgeclaghorn Yes. Thank you.

[2018-01-09 06:48] zedtux opened #31654 "Silent failure when an ActiveJob::SerializationError occured"
### Steps to reproduce

I was passing a symbol in one of the arguments, but there was no error raised, no log, nothing helping me to find out the issue.

### Expected behavior

Have at lease a warning in the log file, or an error raised breaking the code.

### Actual behavior

The `[ActiveJob] Enqueued <job name> (Job ID: <job id>) to Sidekiq(<queue name>) with arguments: "<argument list>"` log ap

[2018-01-09 07:14] eddamalique01 opened #31655 "When I am running "rake hydra:server", I am getting the following error"
admin@edwin-Vostro-3900:~/hyrux/yaya_app/my_app$ rake db:create
Database 'db/development.sqlite3' already exists
Database 'db/test.sqlite3' already exists
admin@edwin-Vostro-3900:~/hyrux/yaya_app/my_app$ rake db:migrate
admin@edwin-Vostro-3900:~/hyrux/yaya_app/my_app$ rake hydra:server
rake aborted!
Don't know how to build task 'hydra:server' (see --tasks)
/var/lib/gems/2.3.0/gems/rake-12.3.0/exe/

[2018-01-09 07:29] swordray opened #31656 "ActiveStorage attachment validations not working"
### Steps to reproduce

[code]

### Expected behavior
A non-image avatar should not be saved.

### Actual behavior
saved.

### System configuration
**Rails version**: master@428939b

**Ruby version**: 2.5.0

[2018-01-09 13:45] georgeclaghorn commented on #31656
Active Storage doesn’t support blob validations yet, so this is the expected behavior.

[2018-01-09 13:45] #31656 closed

[2018-01-09 13:47] georgeclaghorn commented on #31655
We reserve the issue tracker for bug reports. For support questions, please use [Stack Overflow](https://stackoverflow.com) or the [rubyonrails-talk](https://groups.google.com/forum/#!forum/rubyonrails-talk) mailing list, where a wider community will be able to help you.

[2018-01-09 13:47] #31655 closed

[2018-01-09 17:38] koenpunt commented on #31419
Not the same as what @jduff is asking for, but; I'm using Rails as a backend of a relatively high traffic website, with its main purpose of serving/displaying images. All these images are allowed to be public (and are configured like that on S3), so no need for signed URLs. And like mentioned by @dwightwatson, caching with signed URLs is an issue.
So for me using the `url` method is not a problem,

[2018-01-09 18:36] skatkov opened #31657 "test_unit/reporter from beta2 version doesn't work nicely with minitest 5.11"
### Steps to reproduce
- Have minitest 5.11.1 included in Gemfile
- Create testsuite with two tests that fail
- execute `rake test`

### Expected behavior
-- Testsuite should show two failed tests
-- Error should not be presented

### Actual behavior
- After first test fails testsuite execution stops with exception raised

My example:
[code]

### Workaround
Lock older version of minitest
`gem 'min

[2018-01-09 18:44] skatkov commented on #31657
Seems like a copy of #31624
Sorry, closing this issue

[2018-01-09 18:44] #31657 closed

[2018-01-09 18:48] rafaelfranca commented on #31654
Can you please provide a sample application that reproduces the error?

[2018-01-09 19:59] #23979 closed

[2018-01-09 21:41] jpkalbacher commented on #23640
Any updates on this?

[2018-01-09 21:50] emirkin opened #31660 "Invalid PG:UniqueViolation. Index out of sync?"
I hit a duplicate key constraint when there is none:
[code]

I suspect, I am encountering something similar to https://hcmc.uvic.ca/blogs/index.php?blog=22&p=8105&more=1&c=1&tb=1&pb=1 because the 2 values are indeed different:
[code]

Any authoritative advice on how to fix this cleanly through Rails?
I tried this but it did not help:
[code]

My environment:
[code]

[2018-01-09 21:55] leonardoprg commented on #23640
I think the PR is done, just waiting to someone merge it.

[2018-01-09 21:57] emirkin commented on #31660
https://stackoverflow.com/questions/244243/how-to-reset-postgres-primary-key-sequence-when-it-falls-out-of-sync appears to provide a more comprehensive solution. Unfortunately, my index is not on `id` and is not numeric as far as I understand.

[2018-01-09 22:00] emirkin commented on #31660
Appears related to https://github.com/balderdashy/waterline/issues/830, although, once again, mine is an index on a text field, so I am not sure if those `setval +1` solutions apply.

[2018-01-09 22:00] TheRusskiy opened #31661 "Preloader behaviour change in Rails 5.2"
### Steps to reproduce
`ActiveRecord::Base::Preloader.new.preload(order, order_items: { order_subitems: [] })`

### Expected behavior
Expected to preload given associations for `order`.

### Actual behavior
Fails with error `undefined method compact for #Order...`

### System configuration
**Rails version**:
5.2.0.beta2

This happens due to this commit https://github.com/rails/rails/commit/4bb4824

[2018-01-09 22:03] emirkin commented on #31645
I ended up using `User.sum("kind * coeff")` with `coeff` being an inline `CASE-END` query.

[2018-01-09 22:24] #31661 closed

[2018-01-09 22:27] kamipo commented on #31661
Thanks for the report. I've restored the passing single record support in b8e5d4f9dffb35b7b0ca2f583cb1c9258a7d7cbe.

[2018-01-09 22:35] koenpunt opened #31662 "ActiveStorage's signed keys not unique, e.g. can be reused for other variants"
The comments in [`BlobsController`](https://github.com/rails/rails/blob/d749b5d0e8a659f2018a3acdd0061ec6b57b7f7e/activestorage/app/controllers/active_storage/blobs_controller.rb#L5) and [`VariantsController`](https://github.com/rails/rails/blob/af0caadb8d9781770399c1804976af4a71d1313b/activestorage/app/controllers/active_storage/variants_controller.rb#L5) mention `security-through-obscurity`, alth

[2018-01-09 23:08] georgeclaghorn commented on #31662
Security-through-obscurity refers more to the signed blob ID than the signed variation key, even though the comment on `VariantsController` suggests otherwise. (It should be edited not to do that.)

As I see it, variations are generally harmless. The point of the key is primarily to have a convenient way to reference one in a URL.

[2018-01-09 23:25] koenpunt commented on #31662
Maybe, but in some occasions they're not; like the example I gave above. And I can give more examples like it, but it all boils down to that sometimes not all variants are equal.

I figured it was for preventing users to request any variant they want, but it is just for convenience, then why does it has to be encoded at all?

Then also, what is the static part doing in the variant key?

[code]

An

[2018-01-09 23:38] emirkin commented on #31660
I ended up re-creating the record. At first I was able to reproduce the error but, after a few experiments, it went away (I suspected mine was an issue like https://stackoverflow.com/questions/6422211/rails-3-validating-email-uniqueness-and-case-sensitive-fails/6422771#6422771).

[2018-01-09 23:38] #31660 closed

[2018-01-10 00:51] Umofomia opened #31664 "Default redirect status of 301 Moved Permanently for routes"
### Background

While investigating some issues with a project we're working on, we came to the realization that the default HTTP status code for redirects generated by the `redirect` method in `routes.rb` is `301 Moved Permanently`:
* https://github.com/rails/rails/blob/v5.1.4/actionpack/lib/action_dispatch/routing/redirection.rb#L187

While this behavior [is documented](http://guides.rubyonrails

[2018-01-10 01:01] Umofomia commented on #31664
I will also note that commit message for the documentation of the 301 behavior also seems to indicate that the behavior seemed surprising to the committer as well, which is why the committer added the note:
https://github.com/rails/rails/commit/d6c7185d77158caee933e84b247e37bb6a67bf58#diff-e6f605812b6d75488fe435bd19acf354

[2018-01-10 04:56] dwightwatson commented on #31664
I would have thought that this was a sane default. If I was registering a redirect in my routes file it would generally be for legacy routes that I want to maintain for existing bookmarks or inbound links. They're generally static and meant to be permanent. If I wanted them to be temporary I think it makes sense that it should be done on an opt-in basis.

[2018-01-10 08:24] zedtux commented on #31654
Thank you @rafaelfranca for suggesting me to create an app to reproduce it. Doing so I figured out that we have some tricky code hiding this error 😞.

[2018-01-10 08:24] #31654 closed

[2018-01-10 08:41] shaikshakeel opened #31666 "PG::Error : result has been cleared rails serilization"
Hi,

i am using ruby-pg gem(0.18.4) for PostgreSQL connection. i am writing below line to run SQL queries in PostgreSQL.  `result = connection.exec(sql)`.

i have a model called `Test`. it has serialized column like `serialize :meta`. i am storing the `result` into MySQL into serialized column `meta`

When i query meta column using Active Record `Test.select('meta').where(:id=> 726345)`. it is thr

[2018-01-10 10:18] matthewd commented on #31666
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-01-10 10:18] #31666 closed

[2018-01-10 10:49] IamDBiswal commented on #31649
@rule I attempted to reproduce your issue in development mode with Rails Version 4.2.6. The above issue can be fixed by uncommenting  require "sprockets/railtie" in application.rb.

Your application.rb should have:

require "sprockets/railtie"

[2018-01-10 11:09] rlue commented on #31649
Doesn't un-commenting that line simply re-enable the asset pipeline?

I'm not just trying to make it work; I'm trying to understand what the guides mean when they say

[2018-01-10 11:10] rlue commented on #31649
Ugh fat fingers.

[2018-01-10 11:31] #16313 closed

[2018-01-10 11:43] kamipo commented on #20827
Fixed by #16314.

[2018-01-10 11:43] #20827 closed

[2018-01-10 12:45] MattFenelon opened #31668 "ActiveSupport::TimeZone.country_zones('GB') returns Edinburgh instead of London"
### Steps to reproduce

[code]

### Expected behavior

[code]

The `ActiveSupport::TimeZone` returned for the UK (ISO 3166-1 Alpha2 code 'GB') is Edinburgh. I believe most UK nationals would expect this to return the 'London' timezone.

### Actual behavior

[code]

It seems `load_country_zones`, which is called from `country_zones`, returns the first entry from `MAPPING` for the country code, via

[2018-01-10 18:14] rgarner opened #31669 "AR 5.1.4 causes `Gem::LoadError` with pg 1.0.0 (wants '~> 0.18')"
### Steps to reproduce

* Start a new Rails project with ActiveRecord 5.1.4
* Add `gem postgres, '1.0.0'` to the Gemfile
* `bundle`
* Start `bundle exec rails s`
* Visit the root page

### Expected behavior
The default public page should display

### Actual behavior
`Gem::LoadError can't activate pg (~> 0.18), already activated pg-1.0.0. Make sure all dependencies are added to Gemfile.`

it appear

[2018-01-10 18:22] francesco-loreti commented on #31669
I have opened an same issue on pg repository
[https://bitbucket.org/ged/ruby-pg/issues/270/pg-100-x64-mingw32-rails-server-not-start](url)

[2018-01-10 18:28] rafaelfranca commented on #31669
Thank you for the issue. Rails still don't support pg 1.0.

[2018-01-10 18:28] #31669 closed

[2018-01-10 18:37] rafaelfranca commented on #31668
cc @pixeltrix

[2018-01-10 19:40] yoreek opened #31670 "ActiveRecord persisted? returns true after rollback when using duped record"
[code]
This code works correctly when a `new_user` is valid record.
When `new_user` validation fails, the transaction rolls back but `user.persisted?` returns true.

I investigated this issue and concluded that after the cloning of the record, the status of the transaction is not cleared and, because of this, the code for restoring the status of the record after the rollback is not working correct

[2018-01-10 20:03] fatkodima commented on #31426
It is not a bug, it is a [documented](http://edgeapi.rubyonrails.org/classes/ActionView/Helpers/TranslationHelper.html#method-i-translate) behavior of view's translation helper.

[2018-01-10 20:07] rafaelfranca commented on #31426
If that is the case this is a i18n issue since they changed the behavior in a patch version.

[2018-01-10 21:40] fatkodima commented on #31426
Opened PR on i18n side https://github.com/svenfuchs/i18n/pull/399.

[2018-01-10 22:31] nicolehu15 opened #31672 "link_to block does not forward :method => :delete"
### Steps to reproduce
I'm trying to create a logout link for the devise gem. It works when link_to is not a block but stops working once it is a block

Working code:
```<%= link_to('Logout', destroy_user_session_path, method: :delete) %>```

Working html:
```<a rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a>```

Faulty code:
[code]

Faulty html:
[code]

### Expected behavior

[2018-01-10 22:35] #18424 closed

[2018-01-10 22:37] rafaelfranca commented on #31672
Can you please provide a sample application that reproduces the error?

[2018-01-11 06:06] skanilabsinc commented on #26409
I had same problem. Rails server was freezing after connecting
This worked for me
In config.ru file

[code]

Idea is that set concurrency level to 0

Initially i was setting concurrency level 0 for cable server only in nginx.conf file

Hope this help to someone

[2018-01-11 09:12] thomasfedb opened #31673 "Rails does not work with pg 1.0.0"
### Steps to reproduce
1. Ensure `gem "pg"` is in `Gemfile`
2. `bundle update`
3. `rails s`

### Expected behavior
Rails server should run

### Actual behavior

### System configuration
**Rails version**:  5.1.4
**Ruby version**: 2.4.3

The issue appears to be caused by this line: https://github.com/rails/rails/blob/15ef55efb591e5379486ccf53dd3e13f416564f6/activerecord/lib/active_record/connection

[2018-01-11 10:55] lazyatom commented on #31285
I reported a similar issue on FriendlyID (norman/friendly_id#823), and while I in principle about gems needing to understand and respect what happens when ActiveRecord initialises itself, it seems like there's an opportunity for Rails to be pragmatic here too. Even just renaming the `new_framework_defaults.rb` to `0_new_framework_defaults.rb` and thus making it load before other initialisers would

[2018-01-11 11:08] rgarner commented on #31673
https://github.com/rails/rails/issues/31669

[2018-01-11 11:26] ribanez7 opened #31674 "How to attach same file to multiple models with ActiveStorage"
### Steps to reproduce

I want to upload a file once, on a model, and also create a record on the active_storage_attachments table linking same file to a diferent model.

My first attempt has been the following one:

[code]

[code]

### Expected behavior

The file should be reflected as attached also for the relation (Operation). A record on active_storage_attachment would do the trick maybe.

###

[2018-01-11 12:28] georgeclaghorn commented on #31674
You can pass a blob to `#attach`:

[code]

[2018-01-11 13:59] ribanez7 commented on #31674
Hi George,

Many thanks, this solves my problem. I don't know if it should be necessary to exemplify the relation (.blob) in the docs, right in the place where it says: `One file, one blob. You can associate the same blob with multiple application models as well.`. Or maybe it is clear this way, I just escaped the sentence.

Anyway, closing the issue.

Thanks

[2018-01-11 13:59] #31674 closed

[2018-01-11 15:00] #31673 closed

[2018-01-11 15:00] thomasfedb commented on #31673
Thanks @rgarner

[2018-01-11 16:17] torgoton commented on #31502
This is not related to #23203, as the log level was fatal before, but there was only 1 entry instead of 4. Though the fatal logging was introduced in https://github.com/vipulnsward/rails/commit/750bb5c865ac9234da91ec451eec7d9de55b8f9b by the same author 6 years ago.

[2018-01-11 17:34] iamdriz opened #31676 "Accessing the ActiveStorage file in the controller"
Not 100% sure if this is a bug or a missing feature of ActiveStorage, or I purely just don't know how to do it.

### Steps to reproduce

If I have a method like this in my controller:
[code]
It seems we can't access the blob of the file itself because `blob` is a method to the ActiveStorage blob object. The source: https://github.com/rails/rails/blob/5e8c79a6fafb8d7a84c272b3c9a0474a0d01b471/active

[2018-01-11 17:50] georgeclaghorn commented on #31676
It is, but I’d advise against it. Prefer to redirect to a signed URL for the blob instead:

[code]

If you must serve the file yourself, download it first:

[code]

Avoid doing this without a good reason, as it entails reading the entire blob into memory.

[2018-01-11 17:50] #31676 closed

[2018-01-11 17:59] sudhirj opened #31678 "Errors with pg 1.0.0"
### Steps to reproduce

Move to version 1.0.0 of the `pg` gem.

### Expected behavior

App should work normally

### Actual behavior

There's an error on startup with the following stacktrace
[code]

### System configuration
**Rails version**: 5.1.4

**Ruby version**: 2.4.1

[2018-01-11 18:13] paulomcnally commented on #31678
# Log

[code]

# System configuration

**Rails version**: 5.1.4
**Ruby version**: 2.5.0

# Gems

[code]

[2018-01-11 18:48] yahonda commented on #31678
It is not supposed yet. Refer #31671

[2018-01-11 19:33] #31678 closed

[2018-01-11 21:05] terencedignon opened #31680 "Layout can no longer access local variables"
### Steps to reproduce
After upgrading from Rails 5.0.6 to Rails 5.1.4 I am no longer able to render locals to a layout.  Rendering to a template still works.

*controllers/users_controller.rb*
[code]

*views/layouts/application.html.erb*
[code]

*views/users/index.html.erb*
[code]

### Expected behavior
Expected behavior is user_name appears in both the layout and the index template.

### Actual

[2018-01-11 22:42] alpracka commented on #31668
There is also problem that http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html MAPPING constant doesn't include all the zone identifiers as TZInfo has. Example:

[code]

[2018-01-11 23:31] jimmybaker commented on #31672
`data-method="delete"` is present in the "faulty html"
Was that a mistake?

[2018-01-12 09:15] zoonoo opened #31684 "new pg gem v.1.0.0 incompatible with the rails"
Hello all, it seems that the new version of [pg gem for postgres](https://rubygems.org/gems/pg/) has been released a few days ago. After updating my gem from 0.21.0 to 1.0.0, I get the following error.

[code]

### System configuration
**Rails version**: 5.1.4

**Ruby version**: 2.3.3

[2018-01-12 09:18] Kjir commented on #31200
I experience the same behaviour after upgrading from rails 4.2.
I tried and I could also reproduce this with a freshly created rails app:

[code]

Then the controller:

[code]

And now `bin/rails test` will fail with `fatal: No live threads left. Deadlock?`.
Is there any workaround for this?

I know that this also happens with rails 5.0

[2018-01-12 09:21] Fudoshiki commented on #31273
`:unsafe_inline ` is temp solution to fix, but https://securityheaders.io warning
[code]
best way use `nonce`
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src

[2018-01-12 09:52] Kjir commented on #31200
I just discovered that replacing `ActionController::Live` with `ActionController::Streaming` fixes the whole thing. So the questions become:

1. What is the difference between the two? Why one works and the other doesn't?
2. Should the documentation/release notes invite to use the latter in place of the former?

[2018-01-12 10:59] VitaliyAdamkov commented on #31684
`cat ~/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/activerecord-5.1.4/lib/active_record/connection_adapters/postgresql_adapter.rb|head -3`

[2018-01-12 11:31] loop23 commented on #31356
@georgeclaghorn - I'm having a similar issue when generating a preview for any pdf file. It seems like mupdf (version 1.12.0, osx via brew) does not recognize a pdf file if it does not end in .pdf, but the preview method ends up calling it with a tempfile (which does not end in .pdf); Do tests suggest generating a pdf preview works? in my environment it cannot possibly work, but maybe other mutool

[2018-01-12 12:18] nbulaj commented on #31684
Fixed in 181836d894b0a198b150583fe4ac97dc70badcea

[2018-01-12 12:52] codehugger opened #31686 "Allow customization of how content_type is determined in ActiveStorage"
Hi,

I have been reimplementing a part of my solution (that currently uses Shrine) using ActiveStorage in the 5.2.0 beta2. I think there should be a an easy way to customize how the UploadedFile content_type gets determined, similar to Shrine's DetermineMimeType plugin works.

http://shrinerb.com/rdoc/classes/Shrine/Plugins/DetermineMimeType.html

Something like

[code]

My use case is that in my

[2018-01-12 13:28] #31684 closed

[2018-01-12 14:16] georgeclaghorn commented on #31356
@loop23: Are you using an older revision than 316d87e? That commit fixes the issue you describe.

Active Storage is designed for cloud services. The disk service is provided for local development convenience; we’re not likely to add special cases for it.

That’s a known issue (and unrelated to this one). I have it on my to-do list. Yes, we should probably raise an error.

[2018-01-12 14:21] georgeclaghorn commented on #31686
Thanks, but we don’t take feature requests in the issue tracker.

I’d recommend opening a PR, but I’m already in the process of adding MimeMagic-based content type extraction. We need it for Basecamp, too.

[2018-01-12 14:21] #31686 closed

[2018-01-12 14:32] dhh opened #31688 "Turn off Active Record's verbose_query_logs when using the console"
When interacting with Active Record in the console, the verbose_query_log setting adds a lot of noise:

[code]

This feature should be turned off when using the console.

cc @olivierlacan

[2018-01-12 14:37] #31273 closed

[2018-01-12 14:39] dhh opened #31689 "Upgrade CSP script_src default from unsafe_inline to nonce approach"
The new default CSP was preventing SJR and Turbolinks redirects from working out the box, as described in #31273. The default was changed to unsafe_line in https://github.com/rails/rails/commit/0f7d3b612cc9264a90a1da6820d442099d8641f8, but the proper fix is to use the nonce approach instead.

[2018-01-12 14:39] olivierlacan commented on #31688
Yep. That makes sense.

We also need to figure out how to clean that ugly ass absolute path. That’s really unnecessary. :-)

On 12 January 2018 at 15:33:08, David Heinemeier Hansson (notifications@github.com(mailto:notifications@github.com)) wrote:

[2018-01-12 15:28] loop23 commented on #31356
Yes, I'm using the 5.2 beta.
+1 for raising an aptly named exception.
Sorry to bother you.. how do I switch ActiveStorage in Gemile to use a newer version that includes this commit (which I checked locally, and actually fixes things)?

[2018-01-12 15:31] georgeclaghorn commented on #31356
You can bundle Rails from GitHub:

[code]

If you’d prefer to use a released version and don’t mind waiting, a 5.2 release candidate should drop soon.

[2018-01-12 15:39] loop23 commented on #31356
I meant bundle just ActiveStorage.
I'll take my chances, I really need previews now ;)
Thanks

[2018-01-12 16:26] palkan opened #31691 "ActiveRecord verbose_query_logs + rbenv = wrong source line"
### Steps to reproduce

Brand new Rails app:

- `rails new test-logs`
- `rails g scaffold post title:string content:text`
- `rails db:migrate`
- `rails s`
- open http://localhost:3000/posts

### Expected behavior

Expected to see the following line in the console:

[code]

### Actual behavior

I see this:

[code]

### System configuration

**Rails version**:  Rails 5.2.0 master at edcd32edadd0d6d6

[2018-01-12 19:55] rmosolgo opened #31694 "Generated modules repeatedly added to autoloaded_constants after an error"
Hi!

Thanks for your work making Rails so great! I'm having a little trouble with `ActiveSupport::Dependencies` in development and I wonder if you can help me through it.

The issue works like this (link to Rails app below):

- In a controller, reference a constant
- In that module/class definition, reference another constant which is in an autogenerated module
- In that _last_ constant (which is

[2018-01-12 23:11] nicolehu15 commented on #31672
It wasn't a mistake. However, I got around to fix this.

Turns out I had an issue where my <a> link was located at a different location than the contents of the <a> link. This was due to styling related changes.

I'm not yet sure why this led to it converting from 'delete' to 'get' but correcting the style in my code helped fix this

[2018-01-12 23:11] #31672 closed

[2018-01-12 23:48] alex opened #31697 "Consider sandboxing binaries used in previewers"
Currently the previewers in rails shell out to the `mupdf` and `ffmpeg` binaries:

- https://github.com/rails/rails/blob/master/activestorage/lib/active_storage/previewer/pdf_previewer.rb#L19
- https://github.com/rails/rails/blob/master/activestorage/lib/active_storage/previewer/video_previewer.rb#L19-L20

Unfortunately, these are both large codebases, parsing complex formats, written in memory un

[2018-01-12 23:54] adrian282 commented on #31437
and?

[2018-01-13 00:44] georgeclaghorn commented on #31697
I’d love to sandbox third-party previewing/analysis utilities by default, and DHH and I have discussed it, but I don’t know that it’s practical. We have to support more than just Linux. Please do investigate and open a PR.

We could, at minimum, explain how to do it in a guide. Here’s how we use custom previewers and analyzers for sandboxing in Basecamp:

[code]

[code]

[code]

/cc @rails/securit

[2018-01-13 00:44] #31697 closed

[2018-01-13 00:54] alex commented on #31697
Was closing this intentional?

[2018-01-13 00:56] georgeclaghorn commented on #31697
Yes. We don’t take feature requests in the issue tracker.

[2018-01-13 03:06] composerinteralia commented on #31680
@terencedignon I can confirm that this doesn't work in 5.1.4, but I got the same error when I tried it in 5.0.6.

[2018-01-13 03:45] dimerman commented on #31286
Q: when was this fix deployed? I'm running `Rails 5.2.0.beta2` and I see this happening.

[2018-01-13 04:51] loothunter1 opened #31699 "Rails guide needs some clarification for noobs."
Sorry, if I post this in a wrong place, but [Contributing to the Rails Documentation](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation) paragraph says to "open a pull request", but opening a request is itself requires to make a change to source code. Which I'm not doing because I just want to make a suggestion about a guide.
So, that's th

[2018-01-13 06:35] jjb commented on #27759
see work and discussion in #29807

[2018-01-13 06:35] #27759 closed

[2018-01-13 16:26] q2018 opened #31701 "how can i not call the action from parent"
### Steps to reproduce
the code in my rails project like:
[code]
i transfer the action  a in class b, but due to the before_filter, so that i call the method a in his parent. how can i stop call the method if i do not change the method name, thank you very much!

[2018-01-13 17:05] daveshah commented on #31699
I think opening a pull request with a [change to the documentation](https://github.com/rails/rails/blob/master/guides/source/active_record_basics.md) might be a good way to request the change you're suggesting.
I read through the section you mention.
Being explicit about this being a MySQL statement wouldn't hurt - to at least avoid confusion for beginners.
Do you think adding a section that calls

[2018-01-13 19:59] K-S-A commented on #31701
First of all, it is hard to understand what is the purpose of the provided code snippet and desired behavior. Probably, "transfer" means "overriding". Suggest to read docs/guides (e.g. [Conditional Callbacks](http://guides.rubyonrails.org/active_record_callbacks.html#conditional-callbacks)), or use SO first.

[2018-01-13 20:55] georgeclaghorn commented on #31701
Please use Stack Overflow or the [rubyonrails-talk](https://groups.google.com/forum/m/#!forum/rubyonrails-talk) mailing list, where a wider community will be able to help you. We reserve the issue tracker for bug reports.

[2018-01-13 20:55] #31701 closed

[2018-01-13 22:23] terencedignon commented on #31680
@composerinteralia Thanks for the clarifying question.

You have to set the layout when passing locals to _application.html.erb_.  I'll edit above and add a comment.

[code]

A practical example would be _layout 'users'`_ referencing a file _views/layouts/users.html.erb_

[2018-01-13 23:12] composerinteralia commented on #31680
Best if you can reproduce using this template: https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_gem.rb

[2018-01-14 00:33] terencedignon opened #31702 "assert_no_changes raises minitest deprecation warning"
### Steps to reproduce
Run the following test:
[code]

### Expected behavior
[code]
### Actual behavior
[code]
### System configuration
**Rails version**:
5.1.4
**Ruby version**:
2.4.2
**Minitest version**:
5.10.3

[2018-01-14 01:07] y-yagi commented on #31702
Thanks for creating an issue. This already fixed by #31069.

[2018-01-14 01:07] #31702 closed

[2018-01-14 03:03] swrobel commented on #31286
@dimerman not on any released gem, you'd have to use Rails master from git

[2018-01-14 03:12] y-yagi commented on #31699
Thanks for your suggestion. But we reserve the Rails issue tracker only for bugs in Rails.
Please use the [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feature requests or creates a PR.
Thanks!

[2018-01-14 03:12] #31699 closed

[2018-01-14 04:08] scottmacpherson opened #31703 "Multiple references to jQuery in asset pipeline page of guides"
http://edgeguides.rubyonrails.org/asset_pipeline.html contains multiple references to jQuery, and alludes to jQuery still being part of a new stock-standard Rails application.

For example:

And:

[2018-01-14 12:04] pascalbetz commented on #30846
I'd still be OK to handle this. Need some feedback though. See my Message above.

[2018-01-14 19:00] domainoverflow commented on #30522
I am having the exact same issue but on 2.5.5 now. Would you please recommend a workaround ? thanks.

[2018-01-14 19:26] yahonda commented on #30522
Upgrade delayed_job version to 4.1.4.
https://github.com/collectiveidea/delayed_job/blob/master/CHANGELOG.md

[2018-01-14 19:56] #28563 closed

[2018-01-14 20:12] dcdieci opened #31708 "ActiveStorage content_type should not be nil"
### Steps to reproduce
Create a new attached file for an arbitrary record like an user without providing the content-type which is currently allowed

`User.last.images.attach(io: File.open(Rails.root.join('public','image.png')) , filename: 'image.png' )
`

### Expected behavior
a.) it should raise an error because of the missing content type
or
b.) don't rely on content type in
ActiveStorage::Blob

[2018-01-14 20:52] jm3 opened #31709 "Rails Guides - link to ebook (.mobi) version is 404"
The link on https://guides.rubyonrails.org ([`guides/source/index.html.erb`](https://github.com/rails/rails/blob/92703a9ea5d8b96f30e0b706b801c9185ef14f0e/guides/source/index.html.erb)) that points to the Kindle version of Rails Guides is 404.

After reading the Rails Guides contribution docs, I was able to successfully (re-)generate the Kindle docs using:

    bundle install
    cd guides
    setu

[2018-01-14 20:59] georgeclaghorn commented on #31708
This will be fixed by #31693.

[2018-01-15 08:31] chamnap commented on #22807
I can confirm that this bug still exists for Rails 5.0.6.

[2018-01-15 10:41] meinac commented on #31437
Sorry I was on vacation therefore couldn't find time to have a look at this. Maybe someone from Rails core team can give some opinion about the issue.
\cc @rafaelfranca

[2018-01-15 12:08] david50407 commented on #9940
Still can re-produced on Rails 5.0.0.1.

Requests with header `Accept: x-any-type/x-any-subtype, */*` has been rewrited as `text/html` here (`ActionDispatch::Http::MimeNegotiation`):

https://github.com/rails/rails/blob/v5.0.0.1/actionpack/lib/action_dispatch/http/mime_negotiation.rb#L77
https://github.com/rails/rails/blob/v5.0.0.1/actionpack/lib/action_dispatch/http/mime_negotiation.rb#L159

It's

[2018-01-15 14:17] kreynolds commented on #9940
As a reminder, I have this and several other issues fixed in #14540. I'd be happy to spend the time updating it to merge it cleanly into the main branch if I knew that rails core would accept it. There is no need for a separate gem or middleware or any nonsense like that, the parsing just needs to be correct.

[2018-01-15 15:26] schmijos opened #31712 "App update extends asset paths for api-only app"
### Steps to reproduce

I ran `rails app:update` to update my api-only app from Rails 5.0 to 5.1. The assets initializer is being updated the following way:

![image](https://user-images.githubusercontent.com/245443/34949339-19127980-fa10-11e7-8201-83b5587b7eb0.png)

### Expected behavior
I'd not expect my asset path to be extended because I don't use the asset pipeline.

### Actual behavior
It ad

[2018-01-15 18:22] georgeclaghorn commented on #31708
Closing because #31693 was merged.

[2018-01-15 18:22] #31708 closed

[2018-01-15 18:48] asherkach commented on #30526
@sgrif, any comment on `after_commit :my_commit_callback; after_update_commit :my_commit_callback` deregistering a callback?

[2018-01-15 19:26] kamipo commented on #17415
Closing this since #19813 has already been merged.

[2018-01-15 19:26] #17415 closed

[2018-01-15 19:31] eugeneius commented on #30526
That issue was previously reported in https://github.com/rails/rails/issues/29554, but the conclusion there was that it was expected behaviour and just needed to be documented.

[2018-01-15 20:15] kamipo commented on #13965
Closing since this has not happened at least from 4.2.

[2018-01-15 20:15] #13965 closed

[2018-01-15 22:24] y-yagi commented on #31712
Thanks for creating an issue. This issue already fixed by #28557.
So latest Rails, will not create `bin/yarn` and `initializers/assets.rb` in `app:update` task. Thanks.

[2018-01-15 22:24] #31712 closed

[2018-01-15 22:43] mdesantis commented on #30937
I'm experiencing the same issue.

[2018-01-16 01:59] gwincr11 commented on #31694
This is a pretty good description, thanks for the app! I am going to dig into some possible approaches.

[2018-01-16 03:55] da-edra opened #31714 "Controller is ignoring delete actions on Rails 5.1.4"
### Steps to reproduce

Create a new Rails 5.1.4 app with CRUD operations, create a delete method on your controller, add it to your routes and edit a view that links to that destroy action via a DELETE request.

### Expected behavior
Rails should delete the specified resource from the database.

### Actual behavior
Rails redirects to the page of that same resource.

### System configuration
**Rai

[2018-01-16 04:17] da-edra commented on #31714
JavaScript was not loading correctly, after moving it to right folder it works without problems.

[2018-01-16 04:17] #31714 closed

[2018-01-16 07:08] #30508 closed

[2018-01-16 12:21] mbodlund commented on #31626
I have encountered the same behavior. Somehow there are blobs going missing.

Using Ruby 2.4.2, Rails 5.2.0.beta2,active_storage.service = :local and Sidekiq 5.0.5

[2018-01-16 12:48] rmosolgo commented on #31694
Ok, thanks for talking a look!