[2016-02-14 15:41] fxn commented on #23673
Eager loading for STI is going to an unnecesary extreme, please have a look at the autoloading guide more specific ways to support them.

[2016-02-14 15:49] schnmudgal commented on #23673
@fxn : Then you mean Hardcoding the Children in any array or something would be a better solution? What overhead does it make to eagerload?

[2016-02-14 16:34] kaspth commented on #23592
r? @tenderlove passing the torch since you looked into this last 😁

[2016-02-14 17:03] pctj101 commented on #22975
1) Yes it is confusing for the generated file to offer code which prevents startup of server.  Example:
[code]

Result on 'rails s'
[code]

2) Furthermore, setting ApplicationController#default_url_options does not seem to work.  For example after sign in devise, I am redirected to http, even when my default protocol is https.

[code]

3) Since the new way doesn't work, and the old way seems to be

[2016-02-14 23:50] panyamin opened #23680 "Rails 5 ActionCable doesn't work with Cygwin"
Hello,

I post this issue in order to help me investigate on why ActionCable doesn't work with Cygwin.
I created a very simple project with only a RoomChannel, which work on linux.

Only `Registered connection` notification is called on Cygwin. The websocket or backend seem to fail at some point.

I will run a couple of tests in order to find which dependencies are involved. It can be: `websocket-

[2016-02-15 00:01] maclover7 commented on #23680
Thank you for the bug report -- would you be able to post the code for the sample app that is causing you the problem?

cc @sgrif, since I believe you were trying to get Rails and Windows working together more smoothly

[2016-02-15 00:29] panyamin commented on #23680
Here's the sample app, you'll see, it's a very simple app: https://github.com/panyamin/rails5

[2016-02-15 02:19] twairball commented on #22675
Sorry about that! I did not know the correct protocol/etiquette. The PR fixes the issue from iOS clients, thanks so much for your work.

[2016-02-15 02:35] maclover7 commented on #22675
No problem. :)

[2016-02-15 04:58] Alamoz opened #23681 "Config in config/puma.rb not working properly"
The environment param in config/puma.rb is not setting to the value in RAILS_ENV, it is always set to the default value:

environment ENV.fetch("RAILS_ENV") { "development" }

This is getting set to "development" even when I have RAILS_ENV set to "production". This is happening on a production server.

[2016-02-15 07:02] prathamesh-sonpatki commented on #23681
@Alamoz Can you please upload a sample app on Github using which we can reproduce the issue?

Thanks!

[2016-02-15 09:51] Javix opened #23683 "Wrong documented - path to images when using image_tag, image_path helper"
It is [indicated](https://github.com/rails/rails/blob/d330d86b2c218d9653ebdbbd6ec9f4a8ec55a6e8/actionview/lib/action_view/helpers/asset_tag_helper.rb#L208) in the doc that when using `image_path` helper the generated HTML will be as follows:
[code]
The `image_path` is used internally by `image_tag` helper.
But it is not really the case, - the generated HTML code contains `images`prefix and will be

[2016-02-15 10:09] xw19 commented on #23683
@Javix Which version of rails are you using ?

[2016-02-15 10:11] Javix commented on #23683
4.2.5

[2016-02-15 10:33] Javix commented on #23683
Sure, if I put my image inside `assets/images/icons` folder it works. Because in `compute_asset_extname` method we check `ASSET_EXTENSIONS[options[:type]`where the passed in type will be `image`, that's where images prefix comes from.

[2016-02-15 10:35] xw19 commented on #23683
Can you point to the app that shows this inconsistency ?

[2016-02-15 10:43] Javix commented on #23683
I can't for the moment it is in a private repo.
It will work if you put that whenever you want in a view (I'm using `slim`, but I think to have the same behaviour with era templates):
[code]
and you put your `awesome_image.svg` inside `assets/images/icons`.
If you put your `awesome_image.svg` just inside assets folder, it fails to load it. Because Rails will try to load it from `assets/images/icon

[2016-02-15 11:09] xw19 commented on #23681
@Alamoz Which rails version are you using ?

[2016-02-15 11:19] matsubo opened #23685 "ActiveSupport's since operations returns wrong date and time."
Datetime calculation returns wrong result if timezone is `Wellington` (+13:00).

Test code
===

https://gist.github.com/matsubo/7b3c7fbe6e613d515158
[code]

Ruby version
---

It can be reproduced on these environment
- ruby 2.2.0p0 (2014-12-25 revision 49005) [x86_64-darwin13]
- ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]
- ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

Ge

[2016-02-15 11:20] simi commented on #23685
probably related to https://github.com/Shopify/active_utils

[2016-02-15 11:21] matsubo commented on #23685
I'll close and move to Shopify's repo. thx.

[2016-02-15 11:22] simi commented on #23685
Sorry, but this is not active utils problem actually. I can get same results with active support only.

[2016-02-15 11:25] matsubo commented on #23685
@syamilmj Could you tell me where is the best place to post?

[2016-02-15 11:28] simi commented on #23685
Since `since`, `in_time_zone` and `utc` are ActiveSupport methods, I think this is good place.

[2016-02-15 11:30] matsubo commented on #23685
@simi Thanks. Updated title and descriptions and reopen this issue.

[2016-02-15 11:39] xw19 commented on #23683
You are expected to put that image into assets/image directory

[2016-02-15 11:42] Javix commented on #23683
@xw19 sure, I've figured out of that. The point I'd like to take your attention to is that the documentation does not talk about it, no where :(.

[2016-02-15 11:45] xw19 commented on #23683
Can you create a PR ?

[2016-02-15 11:46] matthewd commented on #23685
The described behaviour seems correct to me.

On the day in question (Sun, 06 Apr 2014), Wellington had finished DST, and its offset reverted to +12:00.

[2016-02-15 11:52] matsubo commented on #23685
@matthewd Oh. Thanks. now understood that DST is different from each country.
http://www.timeanddate.com/time/dst/2014.html

[2016-02-15 11:52] #23685 closed

[2016-02-15 12:26] dhh commented on #23617
This is not intended. The mailer should definitely generate a view even in API mode.

[2016-02-15 12:36] dhh opened #23686 "Test runner misreports model class as test file for rerun"
Stumbled across this today:

[code]

The test file is test/models/delivery_test.rb, but it's reporting the model file instead.

The test itself uses Mocha. If I flunk earlier in the test before that's triggered, then the reporting is correct.

[2016-02-15 13:35] Javix commented on #23683
Rails 5beta already has it updated. Not sure if it is needed.

[2016-02-15 14:10] senny commented on #23686
After fixing this, the following output:

[code]

will look like this:

[code]

[2016-02-15 14:23] #23686 closed

[2016-02-15 14:25] #23617 closed

[2016-02-15 14:51] TheLonelyGhost opened #23689 "[ActionPack] Nested routes make 'widgets#show' resolve before 'widgets#new'"
**Problem:**

The resource route for `/projects/new` resolves to `projects#show` instead of `projects#new`.

**To Duplicate:**

- `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]` (rbenv)
- Rails 4.2.5, 5.0.0.beta2, and master@7c3dc96
- Per the guidelines for ActionPack bugs, see [example gist](https://gist.github.com/TheLonelyGhost/7e49eccf468a61e26c63) for self-contained executable te

[2016-02-15 14:53] maclover7 commented on #23683
cc @schneems

[2016-02-15 15:05] kaspth commented on #23686
❤️💚💙

[2016-02-15 15:10] maclover7 commented on #23689
To me, this seems like expected behavior. When a request comes through, routes at the top of your `config/routes.rb` file have a higher precedence (they get checked first) before routes at the bottom of your `config/routes.rb` file.

[2016-02-15 15:13] TheLonelyGhost commented on #23689
@maclover7 The problem is that the nested projects resource within the clients resource evaluates to `/clients/:client_id/projects/:id`. The shallow nesting option on the nested version of projects resource apparently carries over to the full-blown version of the same resource when not nested.

[2016-02-15 15:24] TheLonelyGhost commented on #23689
Additionally, I've confirmed this seems to specifically happen when the `shallow: true` option is given. When removed, the bug disappears.

[2016-02-15 15:34] vipulnsward commented on #23689
This is expected. When you do shallow: true, it creates routes like-

        #     resources :posts, shallow: true do
        #       resources :comments
        #     end

becomes

        #     resources :posts do
        #       resources :comments, except: [:show, :edit, :update, :destroy]
        #     end
        #     resources :comments, only: [:show, :edit, :update, :destroy]
        #

[2016-02-15 15:44] jandudulski opened #23691 "undefined method cache on 4.2.5.1 when rescue_from"
I've got such code:

[code]

And it works for `4.2.5` when post is missing. After upgrade to `4.2.5.1` I've got an error:

[code]

In the line with `render_not_found` method on `render` call.

[2016-02-15 15:50] schneems commented on #23683
Was this previously working and if so what version of rails was it working on? Can you try this using Rails master?

Can you give me an example app that reproduces the behavior? When the asset pipeline cannot find an asset, it fill fall back on the string you supplied. I think something like that is happening here.

[2016-02-15 16:08] vipulnsward commented on #23691
Thanks @jandudulski for reporting. Can you help reproduce this with this [script] (https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_gem.rb)

[2016-02-15 16:27] TheLonelyGhost commented on #23689
I see now. It seems I misunderstood what [the routing guide](http://edgeguides.rubyonrails.org/routing.html) says about [shallow nesting](http://edgeguides.rubyonrails.org/routing.html#shallow-nesting). @vipulnsward's example using `except` and `only` to show what shallow aliases makes things much clearer. Thank you.

Apparently the `shallow: true` option transplants the `:create`, `:new`, and `:i

[2016-02-15 16:27] #23689 closed

[2016-02-15 16:32] maclover7 commented on #23689
@TheLonelyGhost - If there's anything that could be added to the docs to make it more clear about what shallow nesting provides, feel free to send a PR to update the docs!

[2016-02-15 16:36] TheLonelyGhost commented on #23689
Thanks, @maclover7. I was about to draft a PR. Where's the repo for rails guides?

[2016-02-15 16:39] maclover7 commented on #23689
haha, yep! :+1:

[2016-02-15 17:39] kaspth commented on #23592
https://github.com/rails/rails/pull/23604#issuecomment-184295355 😁

[2016-02-15 17:39] #23592 closed

[2016-02-15 18:26] fxn commented on #23590
@rubys In principle I don't quite see the env var as something generated. I envision the generated defaults as something people can opt-out from by manual edit.

But your use case seems to justify a flag to opt-out at generation time right? `--skip-listen` or something like that. Would that be enough for your test suite?

[2016-02-15 18:40] matthewd commented on #23590
I agree `--skip-listen` is probably a good idea... but if the AWDwR suite is doing things in the right order, on a non-shared filesystem, then I don't think I would expect a race condition to be very likely. :confused:

[2016-02-15 18:45] rubys commented on #23590
@fxn a flag would work for me.  @matthewd AWDwR running on a non-shared file system reproducibly shows that there is a race condition on both OS/X and Ubuntu.

[2016-02-15 18:49] fxn commented on #23590
@e2 in your experience is this suspicious or makes sense? Executive summary: the test suite of @rubys performs edits in files and requests programmatically, so the time window between a change in a file and a request is really small and the code reloader does not seem to be triggered in time. Is it normal that we see a race condition here?

[2016-02-15 18:51] rubys commented on #23590
I will say that the 0.5 seconds is *generally* enough time for the results of the edit to be reflected in the results of a subsequent HTTP get.

[2016-02-15 19:03] rubys commented on #23590
Oh, and by the way, I plan to strongly suggest rails-dev-box to readers of AWDwR (the book), that way they have a known version of Ruby, etc.  Many of my readers are on Windows, which isn't exactly a hospitable environment for developers.  For those that take that suggestion, I will be suggesting that they use `--skip-listen`.

[2016-02-15 19:21] Javix commented on #23683
@schneems I pushed an example app at git@github.com:Javix/image_tag_app.git.

[2016-02-15 19:39] TrevorHinesley commented on #23671
@diego-silva it can be reproduced with this:

[code]

It looks like it's when a dynamic new record is passed in (meaning no ID), it ditches the whole hash at that point.

[2016-02-15 19:51] kdavh commented on #21309
@agis- I completely agree, something like `ActiveRecord::RangeError` would be much better than a generic error like `RangeError`.

@sgrif I would agree that `RangeError` is acceptable, except the context of ActiveRecord's general use makes it so that a more specific error class is appropriate.  `class ActiveRecord::RangeError < RangeError` is a good direction to go.

[2016-02-15 19:54] TrevorHinesley commented on #23671
Also, ya I removed the `song_artists_attributes` and `album_songs_attributes` pieces of the hash from my example now. Sorry I was hacking together an example originally and left those in.

[2016-02-15 20:39] dudo opened #23693 "has_many with scope not caching"
I'm using `v5.0.0.beta2`

I can reproduce the caching issue by changing 1 line of code

    has_many :buckets#, -> { rank(:row_order) }

leaving that uncommented, I end up with this in my logs https://gist.github.com/dudo/47abb689b3fc90c74faa

With it commented, the logs look like https://gist.github.com/dudo/3885cf6cfac948e58ca8

There is an outbound call here, which is why I'm caching the method

[2016-02-15 20:43] maclover7 commented on #23693
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

Did this work for you in Rails 4.2?

[2016-02-15 20:47] dudo commented on #23693
Building this app fresh with 5. I'll see if I can put together a test case.

[2016-02-15 20:50] diego-silva commented on #23671
It works fine here when posting as JSON, how are you sending this params to the controller?

On the controller I've used `render json: params.require(:song).permit(......)` with exactly the same permit params from your 1st post...

![screen shot 2016-02-15 at 6 47 45 pm](https://cloud.githubusercontent.com/assets/8826716/13059892/aa56e4ae-d414-11e5-91bc-157b634e59c5.png)

[2016-02-15 21:02] TrevorHinesley commented on #23671
@diego-silva Just a regular ole `form_for`, here's the console output:

[code]

[2016-02-15 21:20] maclover7 commented on #23693
Thanks!

[2016-02-15 21:36] sauberia opened #23694 "Arel union on active record relations results in unbound value for polymorphic type"
Something that worked as (I) expected in Rails 4.1 no longer works in Rails 4.2.5 or 5.0.0.beta2.

[code]

The first two assertions are true - the sellable_type in the relation is set to Book. In the union however, sellable_type is set to a question mark.

I gather this is the same [issue](https://github.com/rails/rails/issues/20280) that @matthewd commented that:

But I'm hoping that my simple, c

[2016-02-15 21:45] rafaelfranca commented on #23694
Arel is private API of Rails we don't guarantee that its usages in application with Active Record will work.

[2016-02-15 21:45] #23694 closed

[2016-02-15 21:55] diego-silva commented on #23671
So I copied your sanitized_params function and the whole huge `song` param from your log and everything worked fine :confused:

[code]

Unless someone else can reproduce it or you make a reproducible script from the default templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates) I don't see what else we can do...

[2016-02-15 21:58] dudo commented on #23693
I don't think this is the most graceful test, but it shows what is happening: https://gist.github.com/dudo/3bf3e1d865d057b6d668

I tried changing the version as well, and it seems to have been happening in 4.2.0 as well.

[2016-02-15 22:03] maclover7 commented on #23693
cc @sgrif

[2016-02-15 22:05] maclover7 commented on #23671
Please reopen this issue if you are able to reproduce the error. It seems as though something else may be causing your error here, since @diego-silva can't reproduce it, using the same code you have.

[2016-02-15 22:05] #23671 closed

[2016-02-15 22:12] dudo commented on #23693
I edited the gist, as it's reproducible with sqlite3

[2016-02-15 22:35] TrevorHinesley commented on #23671
@diego-silva am I not allowed to convert params before calling sanitized_params?

[2016-02-15 22:48] sgrif commented on #23693
This is not a bug in Rails. Your code is working as it should. If you need assistance with your application, please direct questions to Stack Overflow where the greater community is available to assist you.

[2016-02-15 22:48] #23693 closed

[2016-02-15 22:52] dudo commented on #23693
Can you explain the behavior I'm seeing at least? Why is the instance of user cached when the has_many has no scope, but not once you start modifying scope?

[2016-02-15 23:21] sgrif commented on #23693
The issue tracker isn't a place to come for general help, but the behavior in your gist has nothing to do with Rails.

[2016-02-15 23:22] sgrif commented on #23693
Ah actually I misunderstood your gist. The reason you're seeing this behavior is because automatic `inverse_of` doesn't occur when you use a scope. This is the documented behavior.

[2016-02-15 23:24] Nekromancer opened #23696 "ActionCable not working with Thin"
I got an exception `NoMethodError(undefined 'method possible?' for nil:NilClass)` while using Thin server. Puma is working correctly.

Full stacktrace:

[code]

[2016-02-15 23:35] brianstien opened #23699 "ActionDispatch::Journey::Router NoMethodError (undefined method `names' for nil:NilClass)"
When running a multithreaded rails server (JRuby + Puma), occasionally when the rails app starts and several incoming  requests hit different routes at the same time, a route might become corrupted and throw this error.

Any subsequent requests to the corrupted route to fail with this error for the lifetime of the application.  Only a restart of the application will fix this once it has been corru

[2016-02-15 23:37] maclover7 commented on #23696
Can you please post a sample application replicate the error?

[2016-02-15 23:38] arthurnn commented on #18492
backported https://github.com/rails/rails/commit/c79220368e8180141e9d796cf026d2b7da9f6384 to 4-2-stable. (https://github.com/rails/rails/commit/6a25fd1d694b8420fd6d525dd2bd243ea95ba490)

[2016-02-15 23:40] maclover7 commented on #23699
Feel free to send a PR.

[2016-02-15 23:40] maclover7 commented on #23699
cc @tenderlove

[2016-02-15 23:55] jandudulski commented on #23691
I'm not able to reproduce this bug with the script so far, maybe it is related with other third party :/ Will try tomorrow again.

[2016-02-16 00:16] e2 commented on #23590
A few things here:

1. `Listen` should work on Windows - the `wdm` backend should work reasonably well, and paths should be supported properly (except for possible FS/OS encoding mismatches in rare setups)
2. `Listen` should work fine in polling mode on NFS shares
3. `Listen` is mostly focused on editors, so it has special options and logic to workaround save/edit/create issues. This includes opti

[2016-02-16 00:29] TrevorHinesley commented on #23671
Found the problem. It will not let me run my `convert_params` method before `sanitized_params` is called, or this error happens. Removing `convert_params` works fine. Why is this? Here's `convert_params` that I showed above as well:

[code]

[2016-02-16 00:44] TrevorHinesley commented on #23671
Going to open a separate issue, found the line.

[2016-02-16 00:53] TrevorHinesley opened #23701 "Rails 5: Looping through params before sanitizing causes permitted hashes to be thrown out"
Using Rails 5.0.0.beta2

Originally I thought this was a nested parameter sanitization issue, but I'm not so sure now.

If I loop through a nested hash as follows:

[code]

The keys of the nested hashes are considered unpermitted all of a sudden, and the keys and their values are thrown out. For instance, if these are the passed in parameters:

[code]

This shows up in console:

[code]

But if I d

[2016-02-16 00:55] Nekromancer commented on #23696
https://github.com/Nekromancer/ThinProblem Here is basic ActionCable setup with thin server. It fails instantly after going on localhost:3000

[2016-02-16 01:35] maclover7 commented on #23701
Could this have anything to do with AC::Parameters not inheriting from Hash anymore? cc @sikachu

[2016-02-16 01:35] maclover7 commented on #23696
Looking into this.

[2016-02-16 01:54] maclover7 commented on #23696
Took a deeper look at this, and since the error is coming from within our `concurrent-ruby` delayed worker apparatus, I'm going to pass this on to @matthewd, who's spent a bit of time with the `concurrent-ruby` setup within Action Cable. I'm thinking that we're somehow losing state (or the `receiver` that's being passed into the `Worker` isn't the latest version of the object), or some kind of awk

[2016-02-16 06:27] pixeltrix commented on #23699
Looks like there's a bunch of instance variablea in `ActionDispatch::Journey::Path::Pattern` that could cause similar problems - I'd rather we fixed them all in one go than play whack-a-mole.

[2016-02-16 07:30] vipulnsward commented on #13387
Closed by https://github.com/rails/rails/pull/18155

[2016-02-16 07:30] #13387 closed

[2016-02-16 11:41] atomAltera opened #23707 "Excess spaces while rendering multiline string"
Hello, today I end up with strange issue in Rails 5:

Here is how a simple _text.html.erb_ file looks like:
`<textarea><%= "a\nb\nc" %></textarea>`
And here is what it produce:
[![enter image description here][1]][1] [![enter image description here][2]][2]

I'm talking about these leading spaces before second and third strings.

In my code I have a form with textarea:

    .form
      =form_for ar

[2016-02-16 11:47] Nekromancer opened #23708 "ActionCable disconnect client"
I'm not if this is an issue or get something wrong. I'm using ActionCable.beta2 and i'm trying to do kind of "available online" chat feature. It's obvious that `subscribed` method is called when user is connected to channel, but `unsubscribed` is never called. I tried waiting for few hours, turning off browser or even computer. Every page refresh adds new subscriber to list, but there is no event

[2016-02-16 14:15] sikachu commented on #23701
It shouldn't be. I'll need to look at this further and report back.

Thanks for your report.

[2016-02-16 14:44] leonardoprg commented on #23707
@atomAltera

I tried it locally with rails 5.0.0.beta2 and it works fine to me,

can you create a script test to reproduce it?

examples [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)

[2016-02-16 14:58] matthewd commented on #23707
This seems very likely to be the result of an overzealous post-processor, attempting to nicely format your generated HTML. I don't know of anywhere we do such a thing internally.

If you can reproduce it without other gems loaded, let us know, and we can reopen. Thanks. :yellow_heart:

[2016-02-16 14:58] #23707 closed

[2016-02-16 15:00] dhh opened #23710 "Mark the start of rendering in the log"
It would be helpful to know in the log when rendering of the view templates started, so you can quickly glance and see which SQL and other calls are happening in the controller and which are being triggered in the view. I propose:

[code]

[2016-02-16 15:09] matthewd commented on #23710
`Rendering my/navigation/chats/index.html.erb` ?

[2016-02-16 15:13] vipulnsward commented on #23710
Working on this

[2016-02-16 15:17] maclover7 commented on #23708
Looking into this.

[2016-02-16 15:22] dhh commented on #23710
Like @matthewd's suggestion! That's even better and explains which template kicks things off. Make sure that this log call is set back at the root, not indented 2 chars, btw.

[2016-02-16 15:45] maclover7 commented on #23708
@Nekromancer - thanks for opening up this issue! Can you provide some more context to the situation -- is the unsubscribed JS callback not being triggered when people close the tab, or physically aren't on the site anymore? Since Action Cable runs off of WebSockets, this means that the connection between the user and the server is always kept open, and all of your Action Cable channels communicate

[2016-02-16 15:59] aasare commented on #23708
I got the same issue. @maclover7 shouldn't the `unsubscribe` method be called automatically after the tab is closed ? The Logger denotes nothing about unsubscription. I also put a simple `p` statement inside `unsubscribe` and it's not called.

[2016-02-16 16:03] Nekromancer commented on #23708
@maclover7 I'm talking about server side. I have overwritten `unsubscribe` method in my channel class that isn't called like.. ever. I suspected it will be called right after user closes tab, browser etc. Maybe i'm wrong, couse i didn't find any example of this anywhere

[2016-02-16 16:04] maclover7 commented on #23708
I'm thinking the issue here is something to do with the client side JavaScript, because unless `unsubscribed` is called from there, then the server won't get `unsubscribed` called on itself, either.

[2016-02-16 16:05] vipulnsward commented on #23710
This can grow up the logs pretty fast-
[code]

[2016-02-16 16:06] Nekromancer commented on #23708
Hmm so it's not called when websocket connection is just cut?

[2016-02-16 16:08] maclover7 commented on #23708
No -- it seems like there's no calling of `unsubscribe` with in the Action Cable JS. Only `disconnected` is ever called. Working on a PR to call `unsubscribe` if `disconnected` is called.

[2016-02-16 16:08] Nekromancer commented on #23708
Couse my client side code is simple as it gets:

[code]

[2016-02-16 16:08] kaspth commented on #23710
Think @dhh just wanted to mark when rendering began once. So it can be viewed as a separate step in the request, not tiny pebbles of rendering.

[2016-02-16 16:09] maclover7 commented on #23708
Yep - I don't think you're doing anything wrong. Something in the internals is busted here. :(

[2016-02-16 16:09] Nekromancer commented on #23708
Ok, that's actually good to know. I was confused a bit :)

[2016-02-16 16:12] jandudulski commented on #23691
After some debugging it seems that it is related to `render file: "path/to/file"`. It goes to [this place](https://github.com/rails/rails/compare/v4.2.5...v4.2.5.1#diff-40f2a5bcf9edfd65a8efe42a05c53736R151) but `@cache` is `nil`.

[2016-02-16 16:13] matthewd commented on #23710
Possibly relevant/related: https://github.com/rails/rails/blob/b0b61b62f9c27eff5b9e0797a0de0d35d64d1620/actionpack/lib/action_controller/metal/implicit_render.rb#L24

[2016-02-16 16:22] jandudulski commented on #23691
Ech, that was an [rspec issue](https://github.com/rspec/rspec-rails/pull/1535), that's why I wasn't able to reproduce this with minitest :smile:

[2016-02-16 16:22] #23691 closed

[2016-02-16 16:32] bogdan commented on #23710
Current log format of rendering is terrible. We can make it far better because we already have nicely formed example of SQL logging.

I have cooler format suggestion that I am using in my project to make a group of start and finish event more obvious.

![image](https://cloud.githubusercontent.com/assets/122436/13082752/a60131ea-d4da-11e5-956e-2f0e69759d61.png)

It makes it easier to catch the begi

[2016-02-16 16:53] dguettler commented on #20678
Just ran into this issue when trying to delete a record which is a subclass. Above workaround mitigates the issue.
ActiveRecord: 4.2.5.1

[2016-02-16 16:58] urielhdz opened #23714 "#or triggers an error " undefined method `limit_value' ""
Here's my code:

[code]

Here's the error:
[code]

I've tried changing the or argument to a Hash without positive results.

[code]

In this case the error is:

[code]

The framework trace points to this line: https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/query_methods.rb#L1209

I'm using rails 5.0.0.beta2 and activerecord 5.0.0.beta2

[2016-02-16 17:04] dadarek commented on #22439
@nickgnd or @jiggneshhgohel - were you able to solve your problem in any way? I am running into the same issue, but I am moving from rails 4.0 to rails 4.1.

[2016-02-16 17:05] rafaelfranca commented on #23714
This is the wrong usage of `#or` but we should have a better error message.

The right usage is:

[code]

[2016-02-16 17:07] dhh commented on #23710
Yeah, I was only looking for start of rendering when the controller first
calls the template. Not for all the partial renderings.

On Tue, Feb 16, 2016 at 5:33 PM, Bogdan Gusiev <notifications@github.com>
wrote:

[2016-02-16 17:17] maclover7 commented on #23708
I have a working fix for this -- the issue was that subscriptions to Action Cable channels were not properly disconnected from the server side -- turns out there was nothing wrong with the client side.

[2016-02-16 17:21] urielhdz commented on #23714
Oh god, I just revisited the example I was following and see my mistake. Sorry.

[2016-02-16 17:22] prathamesh-sonpatki commented on #23714
Working on it to provide better error message. r? @prathamesh-sonpatki

[2016-02-16 17:23] maclover7 commented on #23708
Opened PR #23715.

[2016-02-16 17:25] vipulnsward commented on #23710
How does this look?

[code]

Its called once on (render_template with layouts)[https://github.com/vipulnsward/rails/blob/b7758b40fc035a47f6843158155606d455314c42/actionview/lib/action_view/renderer/template_renderer.rb#L52-L52]

[2016-02-16 17:33] dhh commented on #23710
Just need to not indent that Rendering home/index.html.erb line.

On Tue, Feb 16, 2016 at 6:26 PM, Vipul A M <notifications@github.com> wrote:

[2016-02-16 17:35] dhh commented on #23710
@bogdan I think have two lines for every partial is too busy for my taste, and I don't think having the timing inbetween helps the readability either.

[2016-02-16 18:03] nateless opened #23718 "What is correct way to use ActionCable::Channel::Base#transmit in service layers?"
Hey guys, I'm trying to keep channels thin and move some logic to service layers, what is the correct way to reply directly to client? `ActionCable::Channel::Base#transmit` is protected and passing controller instance to the service layer isn't the best option.

[2016-02-16 18:35] bogdan commented on #23710
@dhh why do you think SQL timing is better upfront and partial timing at the end?

[2016-02-16 18:46] dhh commented on #23710
Just reads better to me: "Rendered THIS in THAT amount of time".

[2016-02-16 18:49] bogdan commented on #23710
Ok, so why SQL is different from that? Why it is not `Executed <query> in THAT amount of time` ? What is the conceptual difference?

[2016-02-16 19:07] dhh commented on #23710
Because for SQL it's not trying to be a sentence. There's no logging verb. Also, SQL statements are often long, possibly multiline (which could make it unclear re: timing stamp). Rendering doesn't have that problem.

[2016-02-16 19:34] bogdan commented on #23710
That sounds as a pretty weak argument. SQL is trying to be a sentence more than any other language.
Logging verb is either select, update, delete or commit. Even ruby is not that readable.

I think we put timing upfront in SQL because we care more because in most cases this is what causing a slow performance.
View timing is a more rare issue. But I argue that you will get to know a lot about your

[2016-02-16 19:50] schmijos opened #23719 "Repository Information Pointing to an HTTP Website"
I'm "security-concerned" about this *http* link in the github repository info:

<img width="338" alt="Ruby on Rails http://rubyonrails.org" src="https://cloud.githubusercontent.com/assets/245443/13088874/61243158-d4ee-11e5-971e-4e43d84939fd.png">

Would it be possible to remove it? Or even better: serve *rubyonrails.org* per *HTTPS* and change the link to `https://rubyonrails.org`?

[2016-02-16 20:03] dhh commented on #23710
Guess we will just have to agree to disagree on this one.

[2016-02-16 20:36] atomAltera commented on #23707
@matthewd, well you are right. I found the gem, that leads to the issue, it is _gem 'haml-rails', '~> 0.9.0'_
And I have the another one project that uses the same version of haml-rails gem, but there I use rails 4.2

It looks like this is the haml-rails fault, but can you just add it to your test project and test it yourself?

[2016-02-16 20:50] schneems commented on #23279
ping @sgrif you assigned this to yourself, do you have an idea on a fix?

[2016-02-16 20:52] nickgnd commented on #22439
@dadarek Yep. Simply I switched from `controller` tests to [`integration` tests](http://api.rubyonrails.org/v4.2.5/classes/ActionDispatch/IntegrationTest.html).
For me it was very easy (I worked on a API Rails app, so I usually test response status and body).

In my case the bug was in the stub of `Warden` middleware and I I haven't been able to solve it.
Differently from the `controller` tests, `

[2016-02-16 20:54] #22979 closed

[2016-02-16 21:01] dadarek commented on #22439
Thanks @nickgnd. We actually ended up doing the same thing: abandoning the controller tests and relying on integration tests for this.

[2016-02-16 21:14] connorshea commented on #23719
A relevant issue has already been opened [in the homepage repository](https://github.com/rails/homepage/issues/37) if you want more info.

[2016-02-16 21:18] #23719 closed

[2016-02-16 21:29] maclover7 commented on #23718
Please ask questions on Stack Overflow or on the Rails mailing list - the issue tracker is reserves for bugs only.

[2016-02-16 21:29] #23718 closed

[2016-02-16 21:43] cloxure opened #23720 "Intermittent error Cannot visit ThreadSafe::Array"
I am receiving this error on an intermittent when trying to get a simple value from active record.

This is the line that is getting the issue:

[code]

I am using sqlite with just a couple of records. Any ideas?

[2016-02-16 21:50] maclover7 commented on #23720
Can you please provide a sample application to reproduce the error, or can you create a reproducible test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates)?

[2016-02-16 21:55] matheusvetor opened #23721 "Sprockets::Rails::Helper::AssetNotPrecompiled in Development mode"
I migrated my project from 4.2.5 to 4.2.5.1. Each image that I add in my project I get the following error:
[code]

I'm using WEBrick:
[code]

My Gemfile:
[code]

When I restart the application error disappear.

[2016-02-16 21:56] rafaelfranca commented on #23721
Dup of https://github.com/rails/sprockets-rails/issues/321

[2016-02-16 21:56] #23721 closed

[2016-02-17 00:02] #23590 closed

[2016-02-17 00:12] fxn commented on #23590
@e2 thanks for the feedback.

The application generator is including `listen` by default on Mac OS X and Linux because it works out of the box there. Users still can opt-in in other platforms.

As of this writing polling is not a something that we want to use. The motivation for this feature is to avoid precisely walking the application tree. For the Rails use case, If we need to poll the filesyst

[2016-02-17 00:15] cloxure commented on #23720
Ok, I will try to reproduce the error.

[2016-02-17 00:16] fxn commented on #23590
@rubys there you go!

By the way, the rails-dev-box is thought for Rails core development (I am sure you know it). If the book recommends it to follow, there is the risk that readers believe it is something for development, create an expectation, and start opening PRs for stuff we are not interested in, like application-level gems, rbenv, or others we've closed in the past to keep the box focused

[2016-02-17 01:04] pevargasg opened #23725 "rake aborted , db:seed"
I'm trying to use rake db:seed and its not working I already did rake db:create , rake db:migrate but my rake db:seed doesn't work and it happens in all my ruby projects. the error that I'm getting is the following:

`rake aborted! No users in the system /home/booletmarket/Desktop/bmf/BoolaMarket/db/seeds.rb:50:in `' Tasks: TOP => db:seed`

NOTE I HAVE CRATED USERS IN MY DB EVEN SUPER USERS

[code

[2016-02-17 01:06] maclover7 commented on #23725
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-17 01:09] pevargasg commented on #23725
I'm new in rails, how do I do an executable test? @maclover7

[2016-02-17 01:14] maclover7 commented on #23725
If you don't know how to use the test scripts that's fine -- can you create a bare-bones application that reproduces the error you are seeing, and then can you post it here?

[2016-02-17 01:27] rafaelfranca commented on #23725
This is due to your code in db/seed.rb. It is not an Rails issue. See the line 50 of that file. It raise an exception if there are no users in the database.

[2016-02-17 01:27] #23725 closed

[2016-02-17 01:54] rubys commented on #23590
Looks good, I tested it locally and it works for me.  It will be picked up in the next awdwr run.

I can add a disclaimer.  Should our need diverge down the road, I can always create an awdwr-dev-box.  :-)

[2016-02-17 02:37] cloxure commented on #23720
[here is the file](https://gist.githubusercontent.com/cloxure/7c8d3a54ff501a0b989d/raw/af5bbcdf42177f1c4dc34082a54edd9032170783/thread_safe_array_error.rb)

However I was not able to reproduce the error, I think the issue is within ERB interpreter. How can I reproduce the same error in an script that tests the same active record query on ERB so I can reproduce the error?

[2016-02-17 02:43] cloxure commented on #23720
Take a look at the error:
![screen shot 2016-02-16 at 10 40 55 pm](https://cloud.githubusercontent.com/assets/2006175/13098249/8f81c8fc-d4fe-11e5-970a-2b2c1843dff7.png)

[2016-02-17 02:43] maclover7 commented on #23720
@tenderlove, I feel like I remember you tweeting about this a few days/weeks ago?

[2016-02-17 03:43] TrevorHinesley commented on #23701
@sikachu not sure if this helps, but I forked a did a bit of stepping through as the request came in. I put a `byebug` instance before and after filtering happens in the `permit` method, and it looks like the hash is getting passed in wrongly, hence the unpermission:

[code]

[2016-02-17 04:15] bf4 commented on #21358
Close as stale? Or as resolved?

[2016-02-17 04:16] #21358 closed

[2016-02-17 06:42] #23714 closed

[2016-02-17 06:44] prathamesh-sonpatki commented on #23714
@rafaelfranca I could not find any docs related to `#or` method on http://edgeguides.rubyonrails.org/active_record_querying.html. Was it done intentionally, if not I will add them.

[2016-02-17 06:49] rafaelfranca commented on #23714
Yes, it is intentional. We don't need to have section about every method of Rails in the guides. That is what the API website is. Guides are more a walkthrough of features and I don't think `or` deserves a section just for it.

[2016-02-17 06:50] prathamesh-sonpatki commented on #23714
:+1:

[2016-02-17 08:14] senny commented on #23643
This is a tough one. Don't think there's much we can do about it. The two APIs conflict in this regard and we won't be able to tell the difference. Reverting would mean a full revert... I don't see a partial solution that expands on the existing method signatures.

@rafaelfranca any thoughts?

[2016-02-17 08:31] matthewd commented on #23720
@tenderlove was hitting a bug in ruby trunk.

@cloxure you're presumably running a released ruby version.. which one? And which Rails version?

Do you get the error if this is the first page you load after starting the server?

[2016-02-17 10:28] jacobat commented on #22820
This bug is still relevant and not a dupe of #21032 which was closed via #23167 which in turn makes it possible to do `params == hash` but not `params == params`. Please reopen.

[2016-02-17 10:53] vishaldeepak commented on #19001
has this been fixed? I having trouble and the solution given does not work for me.

[2016-02-17 12:31] cloxure commented on #23720
@matthewd:

- Rails 4.2.5
- ruby 2.4.0dev (2016-01-11 trunk 53499) [x86_64-linux]

[2016-02-17 12:42] matthewd commented on #23720
Oh. Well, stop doing that, then. :smile:

[2016-02-17 12:45] cloxure commented on #23720
@matthewd, ok I will try with another ruby version and let you know. :disappointed:

[2016-02-17 12:51] cloxure commented on #23720
@matthewd, @tenderlove, @maclover7 I've change to ruby 2.2.1 and it worked !!!!! :smile: .

It was my bad I was using ruby-head from rvm.... you can close the issue now.

And thanks.

[2016-02-17 13:01] #23720 closed

[2016-02-17 13:05] eileencodes commented on #22820
You're right, thanks for pointing out the difference. cc/ @sikachu is this a known issue with the parameters changes?

[code]

[2016-02-17 16:26] CyborgMaster commented on #23490
My apologies.  I had read the contributing guidelines and was skeptical about posting this here.  I ended up deciding to try it here based on the fact that #6994 was discussed pretty heavily here and only closed due to inactivity, but that may have occurred at a time when the contributing guidelines were different.  Sorry for posting it to the wrong location.  I'll make sure to start on the mailin

[2016-02-17 16:36] adamnbowen commented on #20721
I can confirm that this issue still exists—I've tested @everton's bug report file in 4.2.3, 4.2.4, 4.2.5.1, 4-2-stable, 5.0.0.beta2 and master, and it exists in all of them: only 4.2.2 works.

[2016-02-17 17:50] felixbuenemann opened #23739 "Multiple increment/decrement bugs on counter_cache with has_many through association"
There are multiple bugs affecting at least Rails 4.1.14.1, 4.2.5.1, 5.0.0.beta2 and master. Depending on the version the bugs range from temporarily double incrementing counters, fixed by reload, to counters incrementing(!) when destroying join records.

I'll try to summarize the behavior and attach a test case that hast multiple test that fail.

|  | 4.1.14.1 | 4.2.5.1 | master |
| --- | --- | --

[2016-02-17 17:52] felixbuenemann commented on #23739
It's also worth checking the implicit counter cache behavior on 4.1/4.2, it show different wrong counts not listed above. I'll compile a table for that.

[2016-02-17 17:55] maclover7 commented on #23739
Thanks for all of this information! Would you be willing to work on fixing the remaining issues on master?

[2016-02-17 18:06] felixbuenemann commented on #23739
I'll take a look at it this weekend. Ideally this would also be fixed in 4.2m it's in very bad shape. I couldn't find any combination that allowed bug free behavior on 4.2.

**Here's the table for the implicit counter cache (cache column, but no counter_cache on belongs_to):**

|                               | 4.1.14.1 | 4.2.5.1 | master |
|-------------------------------|----------|---------|---

[2016-02-17 18:18] felixbuenemann commented on #23615
Yes, the `counter_cache` should be on the `belong_to :post`. Rails is strange here, because it doesn't give an error if it is specified on the has many and it's even possible to specify it on the remote side of a has_many through association, but it will fail in ways not even described in #23739.

[2016-02-17 18:21] felixbuenemann commented on #23739
Btw. the deprecation message for implicit counter caches mentions, that the counter_cache should be specified on both the belong_to and has_many associtions, which in reality lead to double increments on assignment:

I couldn't find a single test case that actually uses it on both the belong_to and remote side of the has_many for a has_many through relationship.

[2016-02-17 18:30] felixbuenemann commented on #23739
Issue #19550 might be related, although it uses assignment by `<<` which is not used here.

[2016-02-17 18:33] datanoise commented on #23615
Have you tried it? You don't have to use `counter_cache` at all as long as your schema has an appropriate column. So it doesn't matter if you specify it on `belong_to` or `has_many` end, it just doesn't work. In fact, if you looks at the code of has_many association, you won't see any call to update counters while inserting a new object into `has_many` collection. Surprisingly, it's handled correc

[2016-02-17 18:37] maclover7 commented on #23615
@felixbuenemann Would you be willing to copy a summary of this issue and its test case, and add it to the main `counter_cache` issue you have created? We can then close out this ticket, and combine efforts.

[2016-02-17 18:41] maclover7 commented on #23739
Might be easier to create a gist with all relevant information, so that way we don't rack up a ton of comments here.

[2016-02-17 18:48] ablancag opened #23741 "Options are not propagated correctly"
Hi.

Looking at line 93 of lib/active_support/json/encoding.rb, I see that the call to "as_json" is missing the options in the context. As a reference, the same call in method encode(value) is done with the options.

This is causing my custom serialization to be incorrect: I'm serializing an object nested in another one. I'm manually instantiating (.new(object, options)) the serializer for the int

[2016-02-17 18:52] maclover7 commented on #23741
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-17 18:55] ablancag commented on #23741
Where can I find instructions on how to?

The thing is, as of now, it's being called with an empty default options. So, it's already using given parameter.

I'm using by the way, Active Model Serializers.

[2016-02-17 19:03] maclover7 commented on #23741
Unless you provide a sample application or a test script using one of the templates linked above, we can't help you in determining if this is a bug or not. :-(

[2016-02-17 19:04] felixbuenemann commented on #23615
If I move the counter_cache to the belong_to, I get wrong counts prior to reload which might be related to my issue, although it doesn't use has_many through.

If I leave the test case as it is, it fails on rails master with:

[code]

On 4.2.5.1 the count is correct after reload.

According to the docs the `counter_cache` option on has_many should only be used, if a custom named was used on the be

[2016-02-17 19:05] maclover7 commented on #23739
Pooled information here --> https://gist.github.com/maclover7/e3647aac47606b26afb0

[2016-02-17 19:07] ablancag commented on #23741
Can you point me to the templates reference, please?

I'll try to build something. I do know the scenario.

[2016-02-17 19:09] ablancag commented on #23741
By reference I mean a wiki, for example, that can guide me around your templates.

Regards,

[2016-02-17 19:11] maclover7 commented on #23741
Here's a link to some general information --> http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#reporting-an-issue

[2016-02-17 19:14] ablancag commented on #23741
Excellent.

Thanks. I'll try to build something up.

Don't close this yet.

[2016-02-17 19:40] felixbuenemann commented on #23615
@datanoise I think the automatic behavior useful for reading, eg. by using a join and select to add a counter column to a query on the fly, but I wouldn't rely on it for updating, especially since all documentation for counter_cache only uses the explicit specification (see [Association Rails Guide](http://guides.rubyonrails.org/association_basics.html#counter-cache) and [belongs_to](http://api.ru

[2016-02-17 20:03] datanoise commented on #23615
@felixbuenemann you are absolutely right. I'm not sure why I thought that no explicit declaration is required.

[2016-02-17 20:06] derekprior commented on #23643
I can't think of a great solution here either. In my library I've overridden the http methods to explicitly use positional arguments and then rewrite those to keyword arguments themselves.

It's a corner case, for sure -- it seems to only crop up if you're using a parameter name that maps to one of the new keyword argument names -- but I'd be tempted to remove the deprecation and make it a breakin

[2016-02-17 20:47] maclover7 commented on #23643
^ working on an extraction gem for this.

[2016-02-17 21:15] #23568 closed

[2016-02-17 21:24] rafaelfranca commented on #23643
For this specific case I'm fine with not working.

We consider deprecated features already a breaking change, this is why we only add them in minor versions. The deprecation is there only to help you with the upgrade path but you must change your code.

I understand that in this case it is for a gem that want to maintain compatibility with old Rails versions and I agree it is not good to drop supp

[2016-02-17 21:56] #17011 closed

[2016-02-17 21:57] ablancag commented on #23741
Here's the test script. Please do let me know of any questions.
[action_controller_gem.rb.zip](https://github.com/rails/rails/files/135237/action_controller_gem.rb.zip)

[2016-02-17 21:57] ablancag commented on #23741
Check my comments in the script please.

[2016-02-17 22:03] #23659 closed

[2016-02-17 22:06] derekprior commented on #23643
Thinking about this some more - if a user has `session` in a controller or integration test, that test may or may not actually trigger a deprecation at all. You won't see the deprecation at all and you will have only a failing test to go off of.

Luckily it's only a test, and hopefully they will have other integration or controller tests that do trigger the deprecation that might clue them in on h

[2016-02-17 22:07] derekprior commented on #23643
That's not to say I necessarily disagree with @rafaelfranca, but it may warrant a special call out in release notes or somewhere more visible.

[2016-02-17 22:08] mokhan opened #23745 "ActiveModel::MissingAttributeError: - error with concat on CollectionProxy."
We recently upgraded to rails 4.2.5 and with that some of the our queries started raising errors.

We have provided a repo that reproduces the error here:
* https://github.com/mokhan/rails-4-2-missing-attribute-error

[These](https://github.com/mokhan/rails-4-2-missing-attribute-error/blob/master/spec/models/business_spec.rb#L11-L17) two tests demonstrate the issue.

[code]

The below code demonst

[2016-02-17 22:11] matthewd commented on #23643
I think there's a limit to how much visibility we can justify for "if you have a test that makes a request and passes only a parameter that happens to be named `:session`, [...]". :neutral_face:

[2016-02-17 22:15] ablancag commented on #23741
Forgot to mention: there's another way of chaining the serialization that works, so I do have a workaround. I believe this other path (the own shown in the script) should work too.

[2016-02-17 22:15] derekprior commented on #23643
Thats fair. But it's also not like the reserved word in question here is a ridiculous thing to have as a parameter name. It's a perfectly reasonable name to use for a login form, for instance.

Either way, It's becoming clear there isn't a great way of fixing this without a revert, so closing seems reasonable.

[2016-02-18 00:17] #23701 closed

[2016-02-18 00:23] tenderlove commented on #23701
Hi, I think I fixed this.  Since I don't have your exact repro, I had to guess.  I think I guessed correctly, but can you please give master a try and see if my commit fixed this?  Thank you!

[2016-02-18 01:10] chrisnicola commented on #18741
This is awesome. I was testing it out with Ruby 4.2.4 and noticed that if you mix keyword and regular arguments it doesn't work. For example:

[code]

Won't work but

[code]

Does.

[2016-02-18 02:44] everton commented on #20721
Sorry, I forgot to notify it (because my code still working with workarounds and didn't checked the master) when this issue was closed, but Yes, it still broken, even on 5.0.0.beta2

[2016-02-18 04:33] chrisnicola commented on #21948
I've been seeing something similar since switching to the `:exception` behaviour. Specifically from unauthenticated endpoints. We are also mostly an Angular/JSON app so CSRF is a bit lower value for us but we like to keep in enabled.

I've switched to the `:reset_session` behaviour on any unauthenticated endpoints such as creating a new user or logging in which seems sensible and doesn't cause any

[2016-02-18 05:11] maclover7 commented on #23741
Based on your test script, I'd say it'd be more useful to open up a ticket at https://github.com/rails-api/active_model_serializers.

[2016-02-18 05:11] #23741 closed

[2016-02-18 06:06] justin808 commented on #22548
Aloha from Hawaii! I've got a possibly related issue with the latest Rails 4.2.x. I'm working on an app with heavy use of multi-level STI where we have parents, children, grandchildren, great-grandchildren.

The [Rails guides on auto loading with STI](http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-sti) advise to have the parent call `require_dependency` on a

[2016-02-18 06:30] bvsatyaram opened #23749 "[Guides] Misplacement of Dynamic Finders 'Tip' block in active_record_querying guide"
![rails guides issue](https://cloud.githubusercontent.com/assets/166072/13135507/2c078b92-d637-11e5-844e-849638ab7ab5.png)

[2016-02-18 06:32] vipulnsward commented on #23749
r? @vipulnsward

[2016-02-18 06:33] bvsatyaram commented on #23749
Never mind, this is in the stable version of the guides, but not in the edge guides.
I am closing the issue. Sorry to bother.

[2016-02-18 06:33] #23749 closed

[2016-02-18 06:33] fxn commented on #22548
Hi Justin!

Note that the guide says specifically the "leaves" of the tree. The ones (leaves) which are grandchildren or lower. Leaves that are children of the root need no explicit loading.

[2016-02-18 06:34] vipulnsward commented on #23749
Thanks for confirming!

[2016-02-18 06:56] fxn commented on #22548
@justin808 One possible solution would be to load the root constant in `ApplicationController`:

[code]

The problem there is that it would only work for requests, still the console and scripts run by `runner` could face this gotcha unless they also load `Root` upfront.

[2016-02-18 07:03] justin808 commented on #22548
I tried calling `require_dependency` above ApplicationController and that does not work.

So is this a known issue @fxn?

Do you agree there should be a hook in the rails startup for the console, server, rake files, specs, etc. where I can specify a set of files to pre-load?

[2016-02-18 07:12] fxn commented on #22548
@justin808 it should work, in what sense it does not work?

[2016-02-18 07:32] fxn commented on #22548
@justin808 Regarding the hook, files in *config/initializers* have that role. The problem is that in development mode eager loading there is not enough because initializers are not loaded per request. So, when the server launches all is fine, then we edit something, reload, and the hierarchy that was loaded in the initializers is no longer reachable using the constants. They need to be reloaded ag

[2016-02-18 07:50] fxn commented on #22548
@justin808 Let me summarize the steps, assuming `Root` is the root of the STI (typed off-the-top of my head.):

1. At the bottom of *root.rb* write a `require_dependency` call for each leave of the tree. Intermediate levels should not be included. (Leaves that are direct children can spare the call.)

2. Create *config/initializers/eager_load_root.rb* with a single line `require_dependency 'root'`

[2016-02-18 07:53] senny commented on #23643
Least we can do is make the situation clear in the upgrading guide.

[2016-02-18 08:08] justin808 commented on #22548
@fxn I'll try that out right now. Is there anything that for sure should not inside of the initializers? and should I consider naming the initializer so this one loads either before or after the other initializers?

[2016-02-18 08:41] justin808 commented on #22548
@fxn I re-arranged my initializers so that one for active_admin is at the very end (naming it `zz_active_admin.rb` and I'm naming my loader `z_eager_load_root.rb` so it comes right before that.

This seems to do the trick.

Any reason we still need:

I put some tracing in the code I notice that rails loads the file multiple times, first from the initializers and then from application_controller.

[2016-02-18 08:53] justin808 commented on #22548
@fxn Maybe I see a more elegant solution that renaming the existing initializers to control load order:

http://guides.rubyonrails.org/configuring.html

[code]

I look forward to your ideas. Thanks so much!

[2016-02-18 09:21] fxn commented on #22548
@justin808 Regarding the line in *application_controller.rb*, [`require_dependency` detects if a file has already been loaded](https://github.com/rails/rails/blob/0ae22e5d8db809f369335519251610f0459ca359/activesupport/lib/active_support/dependencies.rb#L367) even in development mode, so *root.rb* will be evaluated only once when the application boots and in development mode it won't be evaluated a

[2016-02-18 09:27] justin808 commented on #22548
@fxn Thanks!

With some tracing code, I notice the file of top level dependencies double loads in development mode for the application server, but that is probably harmless. I thought require_dependency would not load the same file, but definitely does in the case of requiring the same file from both an initializer, as well as ApplicationController.

Thanks again!

[2016-02-18 10:11] fxn commented on #22548
@justin808 that's strange. This is a minimal application that shows that the file is loaded as I described:

[code]

You'll see that launching the server prints ":LOADED" once. This is the one coming from the initializers. Then, issue a bunch of requests and you'll see the file is not loaded a second time. Then edit something and you'll see it loaded again.

If your application is schematically li

[2016-02-18 10:17] justin808 commented on #22548
@fxn I'm creating a file called "autoloader_dependencies.rb". I'm missing a line like

[code]

so that is defined. My file just contains a bunch of `require_dependency` calls.

[2016-02-18 10:19] fxn commented on #22548
In my example *app/models/root.rb* there is `Root = 1` because the example is minimal and defining a constant that matches the filename convention is enough. In a normal application that would be

[code]

if the model is persisted. I mean, the assignment is not important.

Where is the file *autoloader_dependencies.rb* located?

[2016-02-18 10:43] justin808 commented on #22548
@fxn It's in app/models/autoloader_dependencies.rb.

[2016-02-18 10:53] justin808 commented on #22548
@fxn I still get the file loaded twice (per trace statements), but now I get this warning as well.

[code]

the file contains:
[code]

* Is `models` the right place to put this autoloader manifest?
* Is defining the constant to an int sufficient?

[2016-02-18 11:07] justin808 commented on #22548
@fxn I found the issue. In my initializer, I used "require" and not "require_dependency". Thanks for the help!

[2016-02-18 11:16] justin808 commented on #22548
Here's a tip for how I debugged this:

![2016-02-18_01-13-43](https://cloud.githubusercontent.com/assets/1118459/13141760/14be53bc-d5dd-11e5-9cbe-909e62b9e616.png)

[2016-02-18 13:48] leonardoprg opened #23754 "JSON render exclude attribute type by default"
Hey Guys,

When using STI with rails, I see that when controller render the model it exclude the type column.

I checked this bug closed some time ago

[https://github.com/rails/rails/issues/3508](https://github.com/rails/rails/issues/3508)

According the guy that closed, it is a server concern and not a client concern.

I need to disagree of that, once we have rails just as an API, the frontend n

[2016-02-18 14:10] woniesong92 commented on #14493
+1: Isn't it very common for someone to want to call `save` inside the after_commit callback?

[2016-02-18 14:42] #23754 closed

[2016-02-18 14:52] allaire commented on #20721
Can we have a status update on this @senny @sgrif ?

Thanks a lot!

[2016-02-18 16:26] nateless opened #23757 "Why it's possible to invoke channel actions after subscription was rejected?"
Let's assume we called `reject` in `channel#subscribed`, then client ignores rejection and makes a call to some action in that channel, which is being successfully processed ignoring the fact that it was rejected. So each action should check for `subscription_rejected?` ?

[2016-02-18 16:29] maclover7 commented on #23757
To summarize, you're saying that:
- Incoming connection has been `rejected` in the `subscribed` method on your channel
- Client ignores this, and continues to act and process events normally

Is this a correct summary?

[2016-02-18 16:31] nateless commented on #23757
Yea, here's code example:

[code]

[2016-02-18 16:33] maclover7 commented on #23757
Working on a solution for this.

[2016-02-18 16:51] dvisockas opened #23758 "Error page in development"
Hey,

I've been developing a new app that is using Rails 5beta2 and one thing I am missing the most is the error screen. Where errors were shown, like migrations missing or any other error. It just outputs a simple text "Internal server error" and then I need to go to the terminal and lookup the error.

Will it be back? :)

[2016-02-18 17:06] rafaelfranca commented on #23758
How can we reproduce this problem? I just created a new application and it show the correct error page.

[2016-02-18 17:38] maclover7 commented on #23757
Opened PR #23759.

[2016-02-18 17:39] dimoon commented on #14493
@woniesong92 Why not use `update_columns` instead of `save`: validations and callbacks are skipped. Works good inside `after_commit on: :create` in `Rails 4.2.5.1`

[2016-02-18 17:41] CyborgMaster opened #23760 "Active Record Object Equality doesn't handle STI"
Based on the comments on the [definition](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/core.rb#L405) of the ActiveRecord equality method, it seems like two ActiveRecord objects are considered equal if they point to the same record in the database.  The current implementation works great, as long as STI classes are not involved.  If you use STI, then the restriction tha

[2016-02-18 17:47] maclover7 commented on #23760
To me this makes sense, can you open up a PR so other people can comment on the exact implementation for this?

[2016-02-18 17:51] CyborgMaster commented on #23760
Sure.  Can I convert this issue into a PR somehow, or should I simply open a new one and reference this issue?

[2016-02-18 17:52] maclover7 commented on #23760
You'd have to commit your changes through git, open up a pull request, and then reference this (original) issue. :)

[2016-02-18 17:56] CyborgMaster commented on #23760
K.  I'm on it.  I know there used to be a command line way (using `hub`) to convert issues into PR's, but I didn't know the Rails team's policy on it.

[2016-02-18 18:03] dvisockas commented on #23758
Aaah, sorry, that I didn't mention the main point. The project was created using `rails new` and then bumped to version 5. Is this expected?

[2016-02-18 18:05] rafaelfranca commented on #23758
No it is not.  Can you please provide a sample application that reproduces the error?

[2016-02-18 18:14] dvisockas commented on #23758
I just copied a directory and removed all project-specific files.

There is only one problem if you want to try it out, you'll have to change the database.yml that somehow isn't in .gitignore :(

Link to the repo: https://github.com/dvisockas/no-error-page-sample

[2016-02-18 18:16] CyborgMaster commented on #23760
Pull request created.  Let me know if it needs modification in any way.

[2016-02-18 19:04] sikachu commented on #22820
Looks like @bquorning is about to fix that in #23733, so I'm going to close this. Thank you for reporting in.

[2016-02-18 19:04] #22820 closed

[2016-02-18 19:09] eileencodes commented on #22820
@sikachu isn't that different? That's for comparing to a hash, this is for comparing a parameter to a parameter.

[2016-02-18 19:12] sikachu commented on #22820
@eileencodes: @bquorning found a bug on comparing Parameters as well, and he'll address that in his PR (with proper failing test case!)

[2016-02-18 19:14] eileencodes commented on #22820
Ah ok thanks for clarifying

[2016-02-18 19:19] bquorning commented on #22820
Yeah, I should probably have made two separate pull requests. But with Rails 5 rc1 right around the corner, I had to move fast :-)

[2016-02-18 19:20] hackerkid commented on #23607
When I ran the script I got the following output

[code]

Why is it showing 0 assertions? I am sorry if i am missing something. I am new to rails testing.

[2016-02-18 19:24] maletor opened #23763 "Add `null_store` to `test.rb`"
I have found this statement in the [guides](http://edgeguides.rubyonrails.org/caching_with_rails.html) but it is false.

Yes, it is true, in Rails master `development.rb` sets the strategy to `null_store` **however** `test.rb` contains no such configuration. Therefore, it defaults to `file_store` if the `tmp/cache` directory is present and `memory_store` if it is not.

Ideally, should the document

[2016-02-18 19:30] rafaelfranca commented on #23763
Please open a PR updating the documentation. But be aware that that sentence is talking about Action Controller cache strategies and it is indeed only enabled in production.

[2016-02-18 19:30] #23763 closed

[2016-02-18 21:37] rthbound opened #23766 "Params not processed properly when content type is "application/vnd.api+json" as of c4d90b7"
Oddly, [this bug report script](https://gist.github.com/rthbound/09463c89a243d00a5ab8) does not fail, even though "application/vnd.api+json" is not registered as a mime type. I really hoped to produce a failure with the bug report template.

I can show this bug by generating a fresh rails app as follows:
[code]

Now just curl:
[code]

Your server window should show that it wasn't processed properl

[2016-02-18 21:38] rthbound commented on #23766
I did try recreating this with a bug report template. The thing passed my test case even though `application/vnd.api+json` isn't registered as a mime type: https://gist.github.com/rthbound/09463c89a243d00a5ab8

[2016-02-18 21:44] mdoza commented on #23758
Your issue appears to be the raven-ruby gem. Replace the following in your Gemfile and your app should be working as desired:

`gem "raven-ruby", github: "getsentry/raven-ruby"`

[2016-02-18 21:52] #23758 closed

[2016-02-18 21:55] mdoza commented on #23681
@Alamoz the environment variable should be set to RAILS_ENV, or is that a typo in your comment?

[2016-02-18 22:01] willcosgrove opened #23767 "HABTM undefined method 'match'"
I'm having an issue with a HABTM relationship that has a custom `class_name` set.  I poked around for a bit to try and figure out where the problem was, but I wasn't able to figure it out.  I am using Rails 5 beta 2, and I also tried out master, which also had the same problem.

I was able to find a workaround that worked for me.  I'll post the simplest setup that didn't work, and then my work aro

[2016-02-18 22:02] egilburg commented on #23745
`select` returns a set of active records but only with specified fields loading (eg. `"SELECT id FROM ..."` as opposed to `"SELECT * FROM ..."`). It's not returning the actual fields. You can do `by_internal_ips(ips).select(:id).map(&:id)`, or `by_internal_ips(ips).pluck(&:id)`

[2016-02-18 22:17] maletor commented on #22498
@lsylvester you're right. That is the fix.

[2016-02-18 22:17] mdoza commented on #23767
@willcosgrove let Rails do all the heavy lifting for you, consider:

[code]

[2016-02-18 22:25] willcosgrove commented on #23767
@mdoza Interesting, this works
[code]
But this does not
[code]
I know the string'd way is the usual way to do it.  But providing the class constant works in all other cases, like a standard `belongs_to` or `has_many`.

[2016-02-18 22:40] rda1902 opened #23768 "Could not find gem 'actioncable' in git://github.com/rails/actioncable.git (at master@58fdac9)."
When i try install actioncable gem, i get bundle error
Could not find gem 'actioncable' in git://github.com/rails/actioncable.git (at master@58fdac9).
Source does not contain any versions of 'actioncable'

my Gemfile
[code]

Two month ago I have successfully used this combination.

[2016-02-18 22:42] rafaelfranca commented on #23768
Action cable is not integrated inside Rails. Please read the README on that repository https://github.com/rails/actioncable/blob/master/README.md

[2016-02-18 22:42] #23768 closed

[2016-02-18 22:49] mdoza commented on #23767
@willcosgrove I see what you're saying, it should be just as easy to pass the actual model class. I think that's why they key is explicitly named "class_name."

I agree it would be easy passing the model itself and have Rails convert to a string. But, what about models in different namespaces using that method?

[2016-02-18 23:00] willcosgrove commented on #23767
@mdoza Yeah that makes sense.  I used to use `class` rather than `class_name` which, confusingly, also worked, even though it was not part of the public api.  They then fixed that (#19659), so that you couldn't use `class`, so I switched to `class_name` but kept using constants because they still worked.

To your point on namespaced models, the table names are also namespaced by default.  So it sh

[2016-02-18 23:20] rda1902 commented on #23768
This solved my problem
`gem 'actioncable', github: 'rails/actioncable', branch: 'archive'`

[2016-02-18 23:41] mdoza commented on #23767
@willcosgrove yeah, you're right, I don't know what thought process I was having when I was thinking about namespaced models. You've got me interested in this now too. When I get home tonight, I think I will start investigating myself.

[2016-02-19 00:23] TrevorHinesley commented on #23701
Yep! Well done :)

[2016-02-19 00:47] #23708 closed

[2016-02-19 01:58] zenspider commented on #18492
@arthurnn thanks! Unfortunately that doesn't fix my client's test run. I'm gonna try to pair with @tenderlove to see if there's some other STI / fixtures bug.

[2016-02-19 02:26] rthbound commented on #23766
In rack's [Rack::Request#POST](https://github.com/rack/rack/blob/master/lib/rack/request.rb#L346-L369) method, execution is running into the `else` and is returning `{}` as the "data received in the post body". If I force it into the part that runs when `form_data? || parseable_data?` returns true, the params parse.

Without intervention, `parseable_data?` returns false because `application/json`

[2016-02-19 02:50] meinac commented on #23767
The problem was on resolving join table name step. I've opened a pr to fix this.

[2016-02-19 12:32] heaven opened #23774 "ActiveRecord::ConnectionAdapters::QueryCache can't dup NilClass"
An intermittent issue, happens on Heroku with Puma and Thin.

Rails revision: 72e28bc75ecb9de71e1139caac33d57d02481536
Rails branch: 4-2-stable

I can't manually reproduce this, but often see this error in airbrake.

Backtrace:

[code]

[2016-02-19 12:34] heaven commented on #23774
Actually only with Thin, sorry.

[2016-02-19 14:39] AndreasWurm opened #23778 "ActionCable can deplete AR's connection pool"
Normally ActionCable::ServerWorker::ActiveRecordConnectionManagement takes care to ensure connections are checked back into the pool. This is not ensured when using ActiveRecord from within a ActionCable::Channel::Streams stream_form/stream_for callback.

Observed this behaviour in rails 5.0.0.beta2.

Example:
[code]

[2016-02-19 15:05] maclover7 commented on #23774
Can you provide a sample application or create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-19 15:09] maclover7 commented on #23778
If a user is manually calling `ActiveRecord::Connection`, shouldn't they have to return it to Active Record when they are done using the connection? Not sure it is Action Cable's responsibility to cleanup here...

[2016-02-19 15:40] dvisockas commented on #23758
Thank you, guys :heart:

[2016-02-19 15:56] jhaesus commented on #22931
When using a string to do the connection it fails on first attempt with undefined method tr for nil:nilClass,
but apparently everything is fine after that first error, connects to the correct database and everything.

When using symbol it doesn't appear to connect at all to the second database and the models supposedly on a different database are queried from the main database.

How to get rid of

[2016-02-19 15:56] AndreasWurm commented on #23778
well its just an example.. if i do MyModel.find(1) or any AR call instead the same thing happens, and my expectation was it just works and its taken care of.

The Readme states

and has examples using active record without managing connections manually, and it works everywere else since ActionCable::ServerWorker::ActiveRecordConnectionManagement takes care of things, just not in the provided examp

[2016-02-19 16:01] leonardoprg opened #23779 "Test case use RAW_POST_DATA but it is not used anywhere"
Hello guys,

Using rspec-rails on my project, I noticed a strange behavior,

When I make a post sending a hash object like:

`{id: 1}`

the number 1 will be converted to String.

It doesnt happens with Minitest only on RSpec.

please consider this script:

[https://gist.github.com/leonardoprg/d667920604659294b42f](https://gist.github.com/leonardoprg/d667920604659294b42f)

If you guys take a look o

[2016-02-19 16:52] heaven commented on #23209
@vipulnsward an updated test: https://gist.github.com/heaven/55416bc2d2d51dfdb511 Should I open a new issue or could this one be reopened?

[2016-02-19 16:54] vipulnsward commented on #23209
@heaven this was merged on master. Do you still see the issue on master?

[2016-02-19 16:58] heaven commented on #23209
I tried with:
[code]
Checking with master now.

[2016-02-19 17:02] heaven commented on #23209
Both attempts are failing:
[code]

[2016-02-19 17:39] ravinggenius opened #23783 "STI with abstract base class not working"
On Rails `v4.2.5.1` single table inheritance doesn't work when the base class is marked abstract. See failing code below:

[code]

If I remove `self.abstract_class = true` from `MappingRecord`, everything works as expected.

[code]

[2016-02-19 17:57] matthewd commented on #23783
This seems to be working as expected; STI only gets involved when multiple classes live in the same table.

[2016-02-19 17:57] #23783 closed

[2016-02-19 19:11] ravinggenius commented on #23783
Sorry, I must have over-simplified my example. In my real code, I have multiple classes, and it definitely doesn't work.

[2016-02-19 20:28] fxn commented on #23322
I just generated an API app from master and got a middleware stack that is different from the one in the guide. In development mode:

- `Rack::Sendfile`
- `ActionDispatch::Static`
- `ActionDispatch::LoadInterlock`
- `ActiveSupport::Cache::Strategy::LocalCache::Middleware`
- `Rack::Runtime`
- `ActionDispatch::RequestId`
- `Rails::Rack::Logger`
- `ActionDispatch::ShowExceptions`
- `ActionDispatch::D

[2016-02-19 20:35] rafaelfranca commented on #23322
@fxn :+1: for your list.

[2016-02-19 20:36] fxn commented on #23322
Thanks @rafaelfranca!

[2016-02-19 22:15] fxn commented on #23322
This paragraph also makes no sense:

The default is not memcache(d), and HTTP caching and `stale?` are about conditional GETs, nothing to do with Rails caching.

Going to factor all those middleware sections out to the Rack guide revised, and just leave a link there.

[2016-02-19 22:20] panyamin commented on #23680
Well, I've tested individually each dependencies `websocket-driver`, `puma`, `faye-websocket-ruby`, even with `rack2.0.0.alpha`.. and it's working, WebSockets are connecting.

I'm still looking...

[2016-02-19 23:47] Alamoz commented on #23681
@xw19 - Rails version 5.0.0.beta2

[2016-02-20 01:12] brchristian commented on #23607
@maclover7 @hackerkid There has been a recent refactor of some of this code in the `master` branch in https://github.com/rails/rails/commit/b67991614349d68e0d8ad489c8c84c3254ac847b, but it appears that this issue persists.

The critical line appears to be in `def find_last(limit)`, [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/finder_methods.rb#L575-L577

[2016-02-20 05:31] prathamesh-sonpatki commented on #23766
On Rails 4.2.5.1, we get the passed data in params.

[code]

will be debugging more.

[2016-02-20 07:44] alpaca-tc opened #23790 "How to validate saved record?"
In Rails5, a few of validations check [`record.persisted?`](https://github.com/rails/rails/blob/2df891dccdcfbdfb176c55297589712ac379f87d/activemodel/lib/active_model/validator.rb#L167) to skip validation.
After save, `record.valid?` returns `true` even if the context is changed.

In Rails4.2, it returns `false`.

Is this intentional?

[code]

[2016-02-20 08:15] zhu1230 commented on #23778
+1

[2016-02-20 08:47] prathamesh-sonpatki commented on #23790
[code]

`record.changed?` will get used for persisted records right?

Please use the bug report template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb and upload it here with test case to reproduce the issue.

Thanks.

[2016-02-20 09:07] tomav commented on #10865
Same issue here... Just went to `counter_culture` and everything works in a minute.
Thanks @bartoszkopinski for the advice.

[2016-02-20 09:39] meinac commented on #23766
I've found the problem and created a pr for this with test coverage.

[2016-02-20 10:38] alpaca-tc commented on #23790
Thank you for replying.
I.c
maybe it is intentional.

[2016-02-20 14:19] #23645 closed

[2016-02-20 14:27] eileencodes commented on #23645
Ok this is fixed in master. There is no way for Rails to know that the record was `record.changed?` or dirty when using a virtual attribute like this. I think we should eventually deprecate this behavior but I talked about it with Aaron and it's not super easy to do that.

What I did to fix the issue was check if the changed attribute was in the `record.attributes` hash. If it's not then it's a vi

[2016-02-20 14:30] eileencodes commented on #23607
cc/ @bogdan looks like there are some new issues with your changes to last. Can you take a look?

[2016-02-20 14:40] eileencodes commented on #23607
Sorry @bogdan I didn't realize this was an issue previous to your changes.

[2016-02-20 14:47] wyde19 commented on #18492
There is. I found something when you use abstract_class=true recently, but
I was too busy to sit with debugger so I can't put my finger on it. I just
made a quick workaround.
You can always get a debugger and do step-by-step investigation if it's
crucial for you.

2016-02-19 4:59 GMT+03:00 Ryan Davis <notifications@github.com>:

[2016-02-20 15:47] bogdan commented on #23607
@eileencodes I saw this issue when worked on a patch: it is tested so my patch left this behavior as is.

 I think this behavior is right: `relation.last` tries to act in the same way as `relation.to_a.last`. I like this concept it feels convenient. So, I consider any step away from that concept as bad one.

[2016-02-20 17:10] pirj commented on #14493
@dimoon You mean that:

    update_columns(changes.transform_values(&:last))

This will work for most of the cases, but what about saving dependent models created in callback?

[2016-02-20 17:29] rthbound commented on #23766
@meinac I've confirmed your fix is in fact a fix :) thank you

[2016-02-20 17:45] schneems commented on #23681
I'll take a look on monday

[2016-02-20 23:32] devdebonair commented on #23725
@rafaelfranca  Thanks for Replying rafael. but how can I add user to my database. can you be more explicit please? thanks!

[2016-02-20 23:37] pevargasg commented on #23725
Thanks for Replying rafael. but how can I add user to my database. can you be more explicit please? thanks!

[2016-02-20 23:37] pevargasg commented on #23725
@rafaelfranca Thanks for Replying rafael. but how can I add user to my database. can you be more explicit please? thanks!

[2016-02-20 23:44] rafaelfranca commented on #23725
This is something that is specific to your application, not a rails bug so
I can't help you, sorry

On Sat, Feb 20, 2016, 21:38 Patricio Vargas <notifications@github.com>
wrote:

[2016-02-21 00:02] mjhoy commented on #21004
@olegantonyan perhaps close the issue?

[2016-02-21 01:23] benoitongit commented on #23778
Same issue, I get the following error after using ActiveRecord from an ApplicationCable::Channel class:
"ActiveRecord::ConnectionTimeoutError - could not obtain a connection from the pool within 5.000."
Tested with last commit: 22c318d6cfe39933b2f5adb383cb6f0153f505d3

[2016-02-21 05:19] rafaelfranca commented on #23779
See the liked PRs to the reason it was closed

[2016-02-21 05:19] #23779 closed

[2016-02-21 05:31] Enders opened #23798 "AR class level scopes leaking into associations defined on other AR classes"
Hi there!

I was working on a Rails 4.2.5.1 app and I found a surprising behavior. I think it's fair to call it a bug or at least an undocumented surprising behavior. It's a bit difficult to explain, but easy to showcase, so I have setup below a basic test case, for rails master (Rails 5 beta), and the issue still exists. I'm not sure when this was introduced, I have been using Rails for many year

[2016-02-21 12:32] #21004 closed

[2016-02-21 14:36] maclover7 commented on #23798
Confirmed on master, that's pretty weird that the `Stuff.similar_stuffs` would bleed into the `User.find()`.

[2016-02-21 15:40] mjhoy commented on #20342
hi @modosc , are you still running into this, and could you still provide a sample application? i'd be interested in testing this myself on osx/linux.

[2016-02-21 17:31] sic-f commented on #19001
setting limit on a string column also does not work for me. I set a limit of 3 on a username column and still accepts a string of more than 3 characters.

[2016-02-21 20:12] vipulnsward commented on #22862
@cllns would you like to open a PR with suggest change?

[2016-02-21 20:25] modosc commented on #20342
i haven't seen it in a while, we also upgraded to a slightly newer version of (rails/pg) during this time. i think it's safe to close since i have no way to reproduce it.

[2016-02-22 06:07] rthbound opened #23809 "Transaction is not rolled back when updating record & children by destroying one of the children would result in failing validations on the parent record"
Using `#accepts_nested_attributes_for, allow_destroy: true`, transaction is not rolled back when updating a record and its children by destroying one of the children would result in failing validations on the parent record.

Reproduction script: https://gist.github.com/rthbound/3140bb7a2a197ac50dd1

[code]

[2016-02-22 08:27] Alamoz commented on #23681
@schneems - When I go into irb on the production server the correct result is returned, using Ruby 2.3.0p7:

irb(main):001:0> ENV.fetch("RAILS_ENV") { "development" }
=> "production"
irb(main):002:0>

Must be a puma issue, but I reported it here now that Rails 5 uses Puma.

[2016-02-22 09:51] pixeltrix commented on #23798
This is a known effect of how scopes work - they get applied as the current scope to the class. To work around this you can use `unscoped` like this:

[code]

Whilst this is a little counter-intuitive I think the feeling is that trying to change it now would break too many applications. There's a bunch of previous issues about this behaviour if you want some background - #14003 is a good starting

[2016-02-22 09:51] #23798 closed

[2016-02-22 13:56] jpcfernandes commented on #23224
This change on specification causes a bug on a application I'm working. Users are required to input a price with 2, and the application should display an error if they put in more digits. Now, I'm not sure how should I do to display an error. IMHO, this is a case of just too much magic.

[2016-02-22 14:41] rafaelfranca commented on #23224
@jpcfernandes use the `foo_before_type_cast` to check the number of decimals.

[2016-02-22 14:56] dhh commented on #23609
Fixed in https://github.com/rails/rails/commit/e76891314126b10d5cf57aaf776dfa2a26553ec3, but seems like #20507 is a more radical fix to the underlying thread-safety issue. I just made what we have actually work.

[2016-02-22 15:46] #23524 closed

[2016-02-22 16:25] #23609 closed

[2016-02-22 16:48] jpcfernandes commented on #23224
@rafaelfranca Thanks a lot for the hint! I'll try to hack something around it.

[2016-02-22 18:25] mdoza commented on #23681
@Alamoz did you ever upload a sample app? I can't recreate this error. Setting the RAILS_ENV environment variable works as expected. But then again, I don't know your setup.

[2016-02-22 18:26] xcskier56 opened #23812 "has_many through a self referential join on single table inheritance does not produce correct SQL"
I'm attempting to create a has_many through on a self referential single table inheritance. When active record creates the query, it aliases the tables on the `INNER JOIN`, but does not alias the table on the `AND` statement. This leads the query to not return anything.

Heres a git to [reproduce](https://gist.github.com/xcskier56/f30784e4d07b1447d7ea).
Using activerecord 4.2

The issue can be see

[2016-02-22 18:32] schneems commented on #23681
Are you using Puma version `3.0.0rc1`?

[2016-02-22 18:37] chancancode commented on #23148
I will wrap this up tonight

[2016-02-22 18:47] mjhoy commented on #20342
ok, thanks. (i can't close so you may want to.)

[2016-02-22 18:53] mdoza commented on #23681
@schneems yes, I tried it on Puma 3.0.0rc1.

Inline env var:

[code]

Predefined var:

[code]

[2016-02-22 19:19] #20342 closed

[2016-02-22 19:20] Alamoz commented on #23681
@mdoza The app is started in production using the /etc/init.d/puma start script. Uploading a "sample app" won't do any good and I'm not going to place one of my client's apps on github anyway. The issue isn't the app, it is a configuration problem. I just tried again with Rails 5.0.0.beta2 and now when I try to run the app it crashes with:

ActiveRecord::RecordNotFound (Couldn't find Somemodel wit

[2016-02-22 20:53] mdoza commented on #23681
@Alamoz I'm thinking the issue is the start up method/script, not Puma or Rails. I haven't used the puma start script, is the script taking care of setting the environment var there?

[2016-02-22 21:04] brchristian commented on #23607
@maclover7 @hackerkid @eileencodes @bogdan

(+ @matthewd because https://github.com/rails/rails/pull/23794 touched this)

If the intention is for `relation.last` to act like `relation.to_a.last` (which is okay IMO, and consistent with the [existing tests](https://github.com/rails/rails/blob/master/activerecord/test/cases/finder_test.rb#L549-L551)), then actually the problem would seem to be with `

[2016-02-22 21:17] schneems commented on #23681
`$ rails server` is supposed to pick up `config/puma.rb` but only on Puma 3.0.0.rc1 and above. Can you verify your version of puma?

[2016-02-22 21:17] schneems commented on #23681
NM, just saw your post

[2016-02-22 21:19] schneems commented on #23681
In this comment it looks like it is working correctly? https://github.com/rails/rails/issues/23681#issuecomment-187317234

In both you're booting with `RAILS_ENV=production` and i'm seeing this in your logs

[code]

[2016-02-22 22:05] maclover7 commented on #23812
Does this error appear on master?

[2016-02-22 22:09] mdoza commented on #23681
@schneems I'm not having the issue, @Alamoz was. I was trying to help him out, everything appears to work as desired.

[2016-02-22 22:15] schneems commented on #23681
Thanks, sorry for the confusion. I've had a bit of a hectic monday. 😂 Thanks for the sanity check :heart:

[2016-02-22 22:29] mdoza commented on #23681
@schneems Don't worry, you're definently not alone!

[2016-02-22 22:31] john-999 opened #23814 "NameError(uninitialized constant ApplicationCable::Connection::User)"
The suggested authorization solution at https://github.com/rails/rails/tree/master/actioncable#a-full-stack-example yields:

[code]

[2016-02-22 22:32] xcskier56 commented on #23812
No it doesn't appear to be broken on master. The difference is in the sql output by the two.

Master (working):

    SELECT "challenge_enrollments".* FROM "challenge_enrollments"
      INNER JOIN "challenge_enrollments" "user_challenge_enrollments_team_challenge_enrollments"
        ON "challenge_enrollments"."id" = "user_challenge_enrollments_team_challenge_enrollments"."team_challenge_enrollment

[2016-02-22 22:35] #23814 closed

[2016-02-22 22:58] schneems commented on #23681
There's no bug with Puma 3.0.0.rc1. We can't close this just yet, once a non-rc is released by @evanphx then we can generate that info into the gemfile when we `rails new` then we can close this.

@evanphx I can confirm things are working on codetriage with 3.0.0.rc1

[code]

[2016-02-23 00:15] brchristian commented on #23607
Update: Here is a test (I have added it locally to `activerecord/test/cases/finder_test.rb`) that shows the issue.

	  def test_first_on_relation_with_limit
	    topics(:first).touch # PostgreSQL changes the default order if no order clause is used
	    assert_equal Topic.limit(2).to_a.first, Topic.limit(2).first
	    assert_equal Topic.limit(2).to_a.first(2), Topic.limit(2).first(2)
	    assert_e

[2016-02-23 00:37] ulugbekov opened #23817 "scope in routes"
Does this generates correct path?
Generated:
  /admin/api/users/:user_id/profile(.:format)
I was expecting:
  /admin/users/:user_id/api/profile(.:format)

namespace :admin do
    resources :users do
      scope :api do
        resources :profile
      end
    end
  end

[2016-02-23 00:40] rafaelfranca commented on #23766
Fixed by @meinac PR. Thank you for reporting.

[2016-02-23 00:40] #23766 closed

[2016-02-23 00:56] thesmart opened #23818 "db:structure:load silently fails on SQL error"
While I love psql for fun and profit, it fails without warning in Rails.  When loading a file using -f, psql returns a zero code (aka: no error) on error, preventing pstgresql_database_tasks from signaling that there is an error.  This hides bad things in structure.sql.

https://github.com/rails/rails/blame/v4.2.5/activerecord/lib/active_record/tasks/postgresql_database_tasks.rb#L62

That command

[2016-02-23 00:57] thesmart commented on #23585
@diego-silva Thanks for the quick reply.  I believe there is still a silent error in this code: https://github.com/rails/rails/issues/23818

[2016-02-23 00:57] #23585 closed

[2016-02-23 02:05] matthewd commented on #23620
@twalpole can you please clarify what's actually happening here?

AIUI, `ssl?` is checking that `rack.url_scheme` is `https`, which it should be for a WSS request. :confused:

[2016-02-23 02:26] twalpole commented on #23620
@matthewd  the scheme for a wss://example.com/cable request is wss - not https - however both are ssl encrypted.  The issue here is that when force_ssl is true it only checks for the https scheme and then incorrectly redirects wss requests.

[2016-02-23 02:29] maclover7 opened #23820 "Refactor `ActionView::TestCase` to use `ActionView::Base`"
Instead of using `ActionView::Base`, `ActionView::TestCase` has a giant `Behavior` module which contains some, but not all of `ActionView::Base`'s behavior. This is causing issues like #7218 to appear, because since AV::TestCase doesn't use the true AV::Base, some bugs (in this case, relating to the asset pipeline) are introduced. The long term fix for this is to do a large refactoring of AV::Test

[2016-02-23 02:43] matthewd commented on #23620
@twalpole that's the "true" scheme... but at the rack end, `rack.url_scheme` should still be `https`, as far as I can see.

I only went as far as a code search in puma and thin, but they both seem to only ever set one of those two values.. which stands to reason: any other value would violate ["`rack.url_scheme` must either be `http` or `https`"](https://github.com/rack/rack/blob/master/SPEC#L127)

[2016-02-23 03:16] twalpole commented on #23620
@matthewd  Hmmm -- it may be X-Forwarded-Proto getting set to 'wss' which overrides rack.url_scheme in https://github.com/rack/rack/blob/master/lib/rack/request.rb#L210  -- forcing the ssl? check to fail  - I need to check further to confirm that, probably won't be able to get to it until tomorrow some time

[2016-02-23 04:12] matthewd commented on #23620
Ah... hmmm indeed.

I *think* I'd argue that whoever's setting that header is lying to the rack server: the protocol the current request arrived on was https. The request happens to be an upgrade request to switch to a different protocol, but that hasn't happened yet.

[2016-02-23 04:26] rthbound commented on #23809
I don't think this can be accommodated without significant effort and a lot of changes. I am able to prevent the persisting of invalid data in this way by modifying the custom validation so that it accounts for child records where `marked_for_destruction?` is true:

[code]

[2016-02-23 04:26] #23809 closed

[2016-02-23 04:55] twalpole commented on #23620
@matthewd An nginx config `proxy_set_header X-Forwarded-Proto $scheme;` was setting X-Forwarded-Proto to `wss` which was causing the `ssl?` to fail.

I'm not fully convinced X-Forwarded-Proto being set to 'wss' is wrong, since the connection is using the wss protocol where the handshake is designed to be interpreted by http(s) servers as an upgrade request - however this doesn't appear to be an is

[2016-02-23 04:55] #23620 closed

[2016-02-23 06:38] mdoza commented on #23817
@ulugbekov try using nested :smile:

[code]

[2016-02-23 06:46] kaspth commented on #23820
Does ActionView::TestCase still exist? Thought it was deprecated.

[2016-02-23 08:06] ulugbekov commented on #23817
Hey thanks for advice,

But I am not looking for solution. I am just wondering is that a bug in rails.
If I change scope to namespace, routes are correctly configured.
I wonder why scope changes routes. It should be very similar to namespace logic with exceptions on path helpers and controller reference.

[2016-02-23 10:56] alpaca-tc commented on #23790
IMO, `valid?` should always check saved record.

[code]

@eileencodes  Is this intentional?

[2016-02-23 11:07] bquorning opened #23822 "AC::Parameters#inspect doesn’t reveal what’s permitted"
[code]
This makes it hard to debug failing specs (here, a snippet from RSpec output):

[code]

[2016-02-23 12:32] richpeck commented on #23294
Thanks!

[2016-02-23 13:55] ralphking opened #23823 "Rails 5 Strong Parameters"
It seems using a HABTM relationship, strong parameters will not allow an array of ids.

For instance with the following:

`params.require(:request).permit(:sort_code, :number_cheques, :number_books, :start_cheque, :sent, :batch, { account_ids: [] } )`

... I am getting an unpermitted parameter 'account_ids' error in the controller and it won't save.

I can brute force it with

`params.require(:req

[2016-02-23 14:01] maclover7 commented on #23823
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-23 14:21] ralphking commented on #23823
Sorry, close this. My brain is fried today.

[2016-02-23 14:21] #23823 closed

[2016-02-23 14:29] dhh opened #23824 "Add Module#delegate_missing_to"
Here's a common pattern if you want to build a decorator:

[code]

Would be nice to have it as:

[code]

[2016-02-23 15:33] xn commented on #23072
I am as well.

[2016-02-23 16:15] #23279 closed

[2016-02-23 16:35] mdoza commented on #23817
@ulugbekov not a bug, when you use the `resources` method the `nested` block is automatically used.

[2016-02-23 17:32] #23817 closed

[2016-02-23 17:35] rafaelfranca commented on #23822
Why are you asserting that two parameters are equal? You should be using `to_h` and comparing with a normal hash.

`expect(params.to_h).to eq foo: 'bar'`

[2016-02-23 17:48] rrsilver commented on #23790
IMO that doesn't make any sense to validate persisted records, since you only want to have valid values on database. If you need a way to validate the data afterwards, it's better to put on a queue and schedule a job.

[2016-02-23 17:48] bquorning commented on #23822
In a typical controller spec, I might call:
[code]
It wasn't quite as ugly back when I could just pass a Hash to `with`.

[2016-02-23 17:50] rafaelfranca commented on #23822
I see. So yeah, make sense to fix inspect to show the permitted flag.

[2016-02-23 17:56] rafaelfranca commented on #23643
I'm fine to make it clear in the upgrading guide.

[2016-02-23 18:27] rafaelfranca commented on #23438
Pending a rack release

[2016-02-23 19:24] sgrif commented on #23625
Fixed by #23628

[2016-02-23 19:24] #23625 closed

[2016-02-23 19:37] nateberkopec opened #23828 "ActionController::Streaming doesn't stream"
`ActionController::Streaming` appears to not actually stream anything on Rails master.

[Reproduction script here](https://gist.github.com/nateberkopec/bc671b0dcc07917099c4). Run it as a rack app with `puma config.ru`.

### What I Expect

Viewing this page in the browser should immediately show "Starting..." and then "1", "2", "3" etc should appear gradually as the bytes are streamed to the browse

[2016-02-23 19:41] nateberkopec commented on #23828
I should note I discovered this when messing with Rubygems.org, and it doesn't work there either, so I think this is broken on 4.2 too.

[2016-02-23 19:52] eileencodes commented on #23790
No it's not intentional. I'll work on getting this fixed up. Thanks!

[2016-02-23 19:55] brchristian opened #23829 "ActiveRecord finders .last and .last(index) behave unexpectedly with offset"
Given ActiveRecord objects called `Topic` and numbered 1, 2, 3, 4, and 5 for short, I would expect the following:

[code]

However, the actual behavior in the current Rails `master` is the following:

[code]

Here are test cases which demonstrate this behavior.

[code]

[2016-02-23 20:00] eileencodes commented on #17621
I have to revert the change that added this. I realize it's been a year but this hasn't been in any released version of Rails and a few issues have come up since Rails 5 has been in beta. I don't want this to delay the RC since the bugs my change introduced are worse than this one. I'm reopening this so I can try to fix it without breaking `valid?` on persisted records.

[2016-02-23 20:04] lleolin commented on #19001
I don't know if anyone's problem is the same as mine. Essentially what I'm dealing with is that the production database schema is out of sync with a schema generated from scratch.

If I load a database dump from our production servers into my local database, string columns have `limits` or `money` columns will instead be `decimal` columns. However, if I `rake db:drop && rake db:create && rake db:m

[2016-02-23 20:15] maclover7 commented on #23828
cc @tenderlove

[2016-02-23 20:18] maclover7 commented on #23828
Reproduced on master -- this may be related to #23659.

[2016-02-23 20:31] eileencodes commented on #23790
Ok I fixed this by reverting the original change because this is a big issue and not worth blocking the RC for. Thanks for pointing it out!

[2016-02-23 20:31] #23790 closed

[2016-02-23 20:39] nateberkopec commented on #23828
Doesn't appear to work on 4.2 either. [Here's a full 4.2 app that doesn't stream with Puma.](https://github.com/nateberkopec/streamer_repro/commit/842888907f56b69e1d0960192ea177f47e977d46)

I feel like I must be missing something obvious with this feature, there's no way this just "doesn't work" right?

[2016-02-23 21:15] bughit opened #23831 "Relation#include? loads all and delegates to the array; should do exists? as associations do"
CollectionAssociation#include?
[code]

[2016-02-23 21:17] matthewd commented on #23696
ActionCable requires full rack hijack support, which [Thin doesn't have](https://github.com/macournoyer/thin/issues/157), and unfortunately, I don't think we can afford to carry monkey-patches to make it work, [as faye-websocket does](https://github.com/faye/faye-websocket-ruby/blob/master/lib/faye/adapters/thin.rb).

Hopefully either thin will enable rack hijack support, or someone else will rele

[2016-02-23 21:17] #23696 closed

[2016-02-23 21:18] maclover7 commented on #23831
Can you please provide a description of the problem you are trying to solve?

[2016-02-23 21:32] bughit commented on #23831
The problem of `Relation#include?` needless loading the relation just to check for membership.  This problem was already solved for associations.

There is of course a workaround (`#exists?`) but `#include?` is the canonical ruby/rails way to check for membership, so it should work as well as `#exists?`

[2016-02-23 21:35] maclover7 commented on #23831
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-23 21:41] maclover7 commented on #22871
Closing due to #23274 being merged.

[2016-02-23 21:41] #22871 closed

[2016-02-23 21:43] tenderlove commented on #23828
@nateberkopec I suspect it's to do with using an inline template.  Probably just doesn't take the same code path.  I'll poke at it.

[2016-02-23 21:44] rthbound opened #23832 "Eager loading nested objects with conditions not working as expected, duplicates objects"
Queries like `Parent.includes(:kiddos).where(kiddos: { gender: ["F", "MF"] })` and `Parent.includes(:kiddos).joins(:kiddos).where(kiddos: { gender: ["F", "MF"] })` both will result in duplicate objects in the included relation.

Reproduction: https://gist.github.com/rthbound/733e8503891f756ab3de

**EDIT to add SQL output**
*#joins sql*:
[code]

*without #joins sql*:
[code]

[2016-02-23 21:48] bughit commented on #23831
that `Relation#include?` loads the relation is not a controversial claim and it doe not require a test, just one line:

`ActiveRecord::Relation.instance_method(:include?).source_location`

points to line 46 of `lib/active_record/relation/delegation.rb` which is

[code]
It delegates to_a, which loads the relation.

[2016-02-23 21:54] nateberkopec commented on #23828
I don't think so. Can repro with non-inline templates too, see the linked 4.2 app.

[2016-02-23 22:11] rafaelfranca commented on #23831
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2016-02-23 22:11] #23831 closed

[2016-02-23 22:19] bughit commented on #23831
You don't consider bad performance a bug?  Calling `Relation#include?` without potentially exhausting memory (needlessly) is feature?

[2016-02-23 22:29] tenderlove commented on #23828
So basically what I've found is that this has never worked.  I also found an annoying thing about `stream: true`.  The only time `stream: true` does anything is [if you have a layout name](https://github.com/rails/rails/blob/2c02bc0a47777ad8cf98e1465c08b1a68151803e/actionview/lib/action_view/renderer/streaming_template_renderer.rb#L47), which is very confusing especially because there are conditio

[2016-02-23 22:32] tenderlove commented on #23828
@nateberkopec I think [this line is wrong](https://github.com/nateberkopec/streamer_repro/commit/842888907f56b69e1d0960192ea177f47e977d46#diff-aa8d72ae906ee99733b90948455de8c8R3). I think it should be `stream`.

[2016-02-23 22:41] rafaelfranca commented on #23831
It is a change in the behavior, so yeah, it is a feature. Unless it had a regression. In that case it is a bug.

[2016-02-23 22:51] maclover7 commented on #23471
r? @maclover7 per @matthewd.

[2016-02-23 22:57] leomayleomay opened #23833 "rails 5.0.0.beta2 api only app does not work with jbuilder"
I am trying to build a API only app using the Rails 5.0.0.beta2. The problem is the API endpoint doesn't generate any json output, not sure why this is the case. I have included the `ActionController::ImplicitRender` as suggested, still no luck.

[2016-02-23 22:58] rafaelfranca commented on #23833
Can you please provide a sample application that reproduces the error?

[2016-02-23 23:01] bughit commented on #23831
If include? crashed with say an ArgumentError, it would be a bug.  And the change in behavior from crashing to returning the result would be a bug fix.

But if it crashes with a NoMemoryError which it caused and could easily avoid, that's not a bug.  And the change in behavior from crashing to returning the result would be a feature.

Ok, I think I got it.

[2016-02-23 23:08] leomayleomay commented on #23833
@rafaelfranca you can find the sample app from https://github.com/leomayleomay/api_only, thank you

[2016-02-23 23:33] maletor opened #23834 "Rails microseconds fails out of the box with mysql2 adapter"
[code]

[code]

[2016-02-23 23:41] lmilne360 opened #23835 "Raisl Generate Scaffold Error"
So I'm trying to a test application with rails. But I'm stumped once I get to the generate scaffold step. This is the error I receive:

< C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/web-console-2.0.0.beta3/lib/web_console/slave.rb:1:in `require': cannot load such file -- pty (LoadError)
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/web-console-2.0.0.beta3/lib/web_console/slave.rb:1:in `<top (requ

[2016-02-23 23:52] maclover7 commented on #23835
cc @gsamokovarov

[2016-02-23 23:53] jeremy commented on #23834
This is expected behavior.

Take a look at the `create table` statement:
[code]
These need to be *explicitly* created with higher precision; it's not a MySQL default.

To use microsecond precision on timestamps, use
[code]

To make microsecond precision the default app-wide in an initializer:
[code]

[2016-02-23 23:53] #23834 closed

[2016-02-24 00:00] maletor commented on #23834
Expected? Why does this work with the `postgresql` and `sqlite` adapters out of the box?

[2016-02-24 00:03] tak1n commented on #23833
@leomayleomay when starting your app and going to `/api/v1/guides.json`, I'm seeing:
[code]

If you mean the failing spec, this is due to rspec-rails controller specs which doesn't render views.
You have to explicitly say `render_views`.

IMO everything works like expected. See this commit: https://github.com/tak1n/api_only/commit/48c23119ebe05afebfa722fb107f8b6ab457bae2

[2016-02-24 00:07] leomayleomay commented on #23833
@tak1n thank you, that fixes the spec, not sure why i didn't find that instruction before.

[2016-02-24 00:07] #23833 closed

[2016-02-24 01:04] AdnanTheExcellent opened #23839 "JSON.pretty_generate throws a TypeError when there is a BigDecimal object as a value"
As the title states, JSON.pretty_generate throws a TypeError when there is a BigDecimal object as a value. This used to work in ruby 2.0 and rails 4.0 before upgrading in development.

Example console log of how to replicate:

[code]

Not sure if this is a ruby 2.3.0 bug or a rails bug. Either way, this definitely seems to be a bug.

[2016-02-24 01:15] zerothabhishek commented on #23148
Hey @chancancode if you have not already started on this, let me come up with something in maybe a few hours ?

[2016-02-24 01:30] nateberkopec commented on #23828
@tenderlove corrected. now it renders the layout, stops, then renders the entire template, which I think is consistent with everything you've said above.

[2016-02-24 01:40] mengxi-liao opened #23841 "Inconsistent rounding of #sum method"
Hi, we are doing a Rails upgrade from 4.2.2 to 4.2.5.1 which made several test cases fail.

In one case, it failed because the rounding of the result is not correct. After some investigation, I found for some reason the following two lines of code return different results on Rails 4.2.5.1

[code]

The activities table only have one record with price 3.63 and quantity 16.19, the result should be 58

[2016-02-24 01:49] jeremy commented on #23834
Coincidence! Microsecond precision is a common, popular default, but it'll vary across databases (and platforms they're hosted on). SQLite doesn't have native temporal types at all, so it's only limited by string length. Take a look into temporal datatypes on other databases to get a feel for the range of what they offer.

Changing the default MySQL precision at the adapter level would be a welcom

[2016-02-24 01:55] maclover7 commented on #23841
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-24 02:13] pehrlich commented on #22563
:+1: Does anyone have a workaround?

[2016-02-24 02:39] nateberkopec commented on #23828
Your patch works for me too. I wonder if partial streaming would be difficult to implement? StreamingTemplateRenderer could really use some love :(

[2016-02-24 02:59] mdoza commented on #23829
@brchristian using the `OFFSET` clause goes along with using the `LIMIT` clause, when the result of `LIMIT + OFFSET` is less than the amount of rows returned, then the first `OFFSET` rows are skipped. You can see this in action, check it out :computer::

When the rows returned are less than `LIMIT + OFFSET`:

[code]
[code]

So, interestingly enough, to achieve your desired results, if you just cal

[2016-02-24 03:24] maletor commented on #23834
@jeremy, thanks for your patience and explaining this issue.

It seems that it should be safe to make the database limit 6 by default since that is what Ruby and Rails and MySQL all would come to expect as long as the other adapters would see the change as having no side effects.

[2016-02-24 04:43] Edouard-chin commented on #23839
Can't reproduce the bug using either ruby 2.2.4 or ruby 2.3.0 in a irb shell, I also tried using a rails 4 and rails 5 console
[code]

Could you post the reproduction steps?

[2016-02-24 05:00] jrafanie opened #23844 "Regression saving in an after_create with a uniqueness validation"
Currently, on master, if you save a record in an `after_create` on a model with a uniqueness validation, the validation always fails.  This was previously working in 5.0.0.beta2 and also works on rails 4.2.5.

I have git bisected this to: https://github.com/rails/rails/pull/23581

Note: From #23581, changing from `id` to `id_was` breaks `after_create` and `after_save` callbacks because `id_was` tr

[2016-02-24 05:00] mattclar opened #23845 "ActionCable Jruby give null pointer exception on startup"
I'm using Jruby 9.0.5.0
This is only happening when I launch my ActionCable server, I can open my regular rails server ok.

[code]

[2016-02-24 05:04] jrafanie commented on #23844
@sgrif @matthewd Please review.  Thank you!  :bow:

Note, doing a `save` in an `after_save` is silly and causes a stack level too deep... If there's a use case that is valid, it's doing a `save` in an `after_create`.

[2016-02-24 05:07] matthewd commented on #23844
To be clear, this was also working in 4.2, right?

[2016-02-24 05:22] jrafanie commented on #23844
Yes, this was working in 4.2.

[2016-02-24 05:53] kares commented on #23845
... and where's the log/trace than and maybe even JRuby version?

[2016-02-24 05:57] kares opened #23847 "(erb) .rb generator files should be renamed to .rb.erb"
assuming they do not contain valid ruby code they **should not be named .rb**
this would not only be cleaner but allow tools such as Warbler pre-compiling .rb files [without hustle](https://github.com/jruby/warbler/issues/287)

each sub-gem seems to have these under _lib/rails/generators_ e.g. with _active_record_ :

https://github.com/rails/rails/tree/master/activerecord/lib/rails/generators/acti

[2016-02-24 06:04] afunix opened #23848 ""gem install rails" won't install bundler"
I'm trying to follow "Getting Started" guide ( http://guides.rubyonrails.org/getting_started.html ) and stuck in the very beginning.

I've create clean vagrant box with Ubuntu 15.10.
Installed sqlite and executed `sudo gem install rails`.

gem reported 27 packages installed, but it didn't install bundler.

So when I executed `rail new blog` it reported at the very end:
[code]

ruby 2.1.5p273 (2014

[2016-02-24 06:07] afunix commented on #23848
Btw, when I install bundler manually (`gem install bundler`) project generation still fails when trying to install native plugin for nokogiri due to lack of development tools (gcc, make, etc).
I believe it should be stated in the requirements of the tutorial that dev tools should be installed.

[2016-02-24 06:07] sevenseacat commented on #23848
That's odd... bundler is definitely a dependency of Rails.

https://github.com/rails/rails/blob/v4.2.5.1/rails.gemspec#L30

[2016-02-24 06:50] brchristian commented on #23829
@mdoza I hear you about how this works in terms of the underlying SQL being generated, but I must admit I find it very unintuitive (and to my knowledge [undocumented](http://api.rubyonrails.org/classes/ActiveRecord/FinderMethods.html#method-i-last)).

Discussion at https://github.com/rails/rails/issues/23607#issuecomment-186631678 included the philosophy that in general "`relation.last` tries to a

[2016-02-24 07:53] pixeltrix commented on #23848
@afunix looking at your console output it seems that rubygems thinks that bundler was already installed - perhaps it was corrupt or it's something to do with Ubuntu's packaging? Either way I don't think there's a bug here.

As for needing a compiler, I think adding it to that guide's section on assumptions would be useful if someone wants to make a PR.

[2016-02-24 08:22] pixeltrix commented on #23841
@mengxi-liao I assume that in 4.2.2 that the answer was `58.806` and in 4.2.5.1 it was `58.81`? If so then 0b94384 may be the cause but only if you are aliasing the result to the same name as a column with a scale of 2 - is this the case?

[2016-02-24 08:26] mattclar commented on #23845
sorry my mistake! I must not have clicked submit properly!
I have edited the above.

[2016-02-24 09:24] gsamokovarov commented on #23835
You are running a pretty old version of `web-console`, which may mean you have generated the scaffold with a beta version of Rails 4.2. Please upgrade `web-console` to the latest of the `2.x` series or the `3.x` series.

[2016-02-24 09:28] lmilne360 commented on #23835
Thank you! This helps greatly!1

[2016-02-24 09:28] #23835 closed

[2016-02-24 11:11] dhh commented on #23778
@jeremy Same issue as we were seeing, it appears.

[2016-02-24 11:19] dhh commented on #23077
Superseded by #23827.

[2016-02-24 11:19] #23077 closed

[2016-02-24 11:20] dhh commented on #22982
@rafaelfranca Is this in or out for 5.0? And if it's in, are you handling it?

[2016-02-24 11:55] chashmeetsingh commented on #23848
try installing bundler with sudo
sudo gem install bundler

[2016-02-24 11:59] rafaelfranca commented on #22982
Yes, I already have a patch for it. I'll push in a few minutes.

On Wed, Feb 24, 2016, 08:20 David Heinemeier Hansson <
notifications@github.com> wrote:

[2016-02-24 12:01] chashmeetsingh commented on #23847
.erb files are for layouts mate
.rb for ruby
I guess its a bad idea renaming them to .rb.erb

[2016-02-24 12:09] chashmeetsingh commented on #23839
Seems to work on ruby 2.2.3 and rails 4.2.5.1

[2016-02-24 12:12] chashmeetsingh commented on #23832
can u give a sample for the code run and output
Also check if there are multiple entries in your tables

[2016-02-24 12:12] rafaelfranca commented on #23847
I don't see any problem of using the `tt` extension (which is the one
recommend by Thor) but first I want to understand better the problem. Which
problem does these files cause? Would not the same problem happen with erb?
Does it happen because people try to compile the entire lib folder?

On Wed, Feb 24, 2016, 09:01 Chashmeet Singh <notifications@github.com>
wrote:

[2016-02-24 12:14] chashmeetsingh commented on #23829
totally agree with @mdoza

[2016-02-24 12:19] ojab opened #23851 "`Directory: "activerecord/test/fixtures/all/admin" is already being watched through` errors if spring is started after rails server"
1. Start `rails s`
   1a. `spring stop` if spring is running
2. `bundle exec rails c`
   Result is error like:

[code]

I assume this issue is already reported as jonleighton/spring-watcher-listen#8, duplicating it here because it can be fixed on rails side.
cc @fxn

[2016-02-24 12:31] kares commented on #23847
@chashmeetsingh thanks, but I thought that a file that doesn't load by Ruby "should not" be named `.rb`

@rafaelfranca assume you have a Rails app and you'd like to pre-compile your `.rb` files (including gems). a simplest way to do this is to walk all of the gemspec.lib `**/*.rb` files.
users of such scenarios (with Warbler under JRuby) bump into an issue with some `.rb` files not being "really"

[2016-02-24 12:46] rafaelfranca commented on #23847
I see. I'm fine with renaming them.

[2016-02-24 13:05] #22982 closed

[2016-02-24 13:10] #23822 closed

[2016-02-24 13:38] maclover7 commented on #23851
r? @fxn since he worked on the listen integration with Rails.

[2016-02-24 13:44] rthbound commented on #23832
@chashmeetsingh what do you mean? That information is all clearly provided in the reproduction script above. Just copy the script, be sure you're running ruby 2.3.0, and run the script with `ruby the_script.rb`.

[2016-02-24 13:53] kares commented on #23847
OK thanks, will setup a PR - this affects several gems. is it acceptable if I use the `.rb.erb` name then?

[2016-02-24 13:54] rafaelfranca commented on #23847
`.rb.tt` is our preferred way.

[2016-02-24 13:55] kares commented on #23847
OK

[2016-02-24 14:12] afunix commented on #23848
@chashmeetsingh sure, I can install bundler with `sudo gem install bundler`.
Somehow it wasn't installed automatically when I executed `sudo gem install rails`. This is the problem number 1.
Not sure, maybe I've done something wrong. But again, I took a clean Ubuntu installation and just followed the tutorial. I expect that tutorial is something simple which anyone can follow without significant b

[2016-02-24 14:20] chashmeetsingh commented on #23848
@afunix try this link http://railsapps.github.io/installrubyonrails-ubuntu.html

[2016-02-24 14:54] adamcooke opened #23854 "Creating a record with create! with a missing required belongs_to relationship doesn't raise an error"
I've noticed that on Rails 5.0.0.beta2 that creating a new record using `Model.create!` doesn't raise any errors and creates an invalid record when there is a missing `belongs_to` relationship.

This assume that `belongs_to_required_by_default` is `true` and the `belongs_to` relationship doesn't specify any options for `optional` or `required` implying that it is required.

Is this desired behavio

[2016-02-24 15:21] jrafanie commented on #23844
Here's what it looks like on 4.2.5:

[code]
The id exclusion looks very similar to Rails 5.0.0.beta2 and works as I'd expect, unlike rails master.

Using this recreation script:

[code]

[2016-02-24 15:22] jrafanie commented on #23844
Thanks @matthewd, I have updated the issue description to clarify it's failing on master and was working on 5.0.0.beta2 and 4.2.5.

[2016-02-24 15:30] chashmeetsingh commented on #23832
check this http://pastebin.com/ejsad3av

[2016-02-24 15:44] rafaelfranca commented on #23854
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-02-24 15:53] rubys opened #23855 "Enable rails restart to work in development mode"
add `plugin :tmp_restart` to `config/puma.rb` to enable `rails restart` to work in development.

File to change: `railties/lib/rails/generators/rails/app/templates/config/puma.rb`.

[2016-02-24 16:01] #23855 closed

[2016-02-24 16:02] adamcooke commented on #23854
Having written a test using the template, I can't reproduce. This led me to investigate further, I have now discovered that it seems to be happening on when using `db:seed`.

I've created a basic rails app which demonstrate the behaviour at https://github.com/adamcooke/rails-seeds-belongs-to-test. If you run `db:reset` you'll find that a `Contact` is created with a null `account_id`. When running

[2016-02-24 16:04] chashmeetsingh commented on #23841
You can use the round function to get accurate results

[2016-02-24 16:21] senny commented on #20721
@allaire I don't know any specifics about the fix. Let's wait for @sgrif

[2016-02-24 16:38] nateberkopec opened #23856 "What's the way forward for streaming and exceptions?"
Most exception notification gems, such as Sentry's `sentry-raven` or Honeybadger, hook into the ShowExceptions middlewares. [Here's where Honeybadger does it, for example](https://github.com/honeybadger-io/honeybadger-ruby/blob/349ff9319f5540b120463bedb40d612b60d7332d/lib/honeybadger/plugins/rails.rb#L70).

Setting `stream: true` to stream requests with `ActionController::Streaming` however means

[2016-02-24 16:45] chashmeetsingh commented on #23854
try adding validations in the models you will get error both ways

[2016-02-24 16:47] rthbound commented on #23832
@chashmeetsingh you're right. There's no problem with eager loading, it's just that the behavior of `#count` there is a bit unexpected.

[code]

This behaves the same now on edge as it does in the latest 4.1.13 and 4.2.5 releases.

@maclover7 I think we can close this issue, but can you comment as to whether an issue should be opened regarding the behavior of `#count` here?

/cc @matthewd

[2016-02-24 16:47] #23832 closed

[2016-02-24 16:51] chashmeetsingh commented on #23832
Yes it would be great to here on the behaviour of count as in the sample file  http://pastebin.com/ejsad3av @matthewd

[2016-02-24 16:55] AdnanTheExcellent commented on #23839
OK, i'm going to see if its possibly some gem i have that's causing it. Will close for now until i investigate and find the problem.

[2016-02-24 16:55] #23839 closed

[2016-02-24 17:02] Shwetakale commented on #23854
+1 for this. It seems to be on reset association validations are not executed. After using

    rake db:reset

It created on contact with nil account_id

    #<ActiveRecord::Relation [#<Contact id: 1, account_id: nil, name: nil, created_at: "2016-02-24 17:01:50", updated_at: "2016-02-24 17:01:50">]>

[2016-02-24 17:05] chashmeetsingh commented on #23854
Validations are not executed because there aren't any validations

[2016-02-24 17:09] rafaelfranca commented on #23854
Yes. There is. `belongs_to :foo, required: true` create a validation.

[2016-02-24 17:12] Shwetakale commented on #23854
@chancancode In rails 5 belongs_to are default required. we need to add ```optional: true``` if we don't want it to be mandatory.

[2016-02-24 17:25] mengxi-liao commented on #23841
[code]

So the price column has a scale 2. The method looks for the scale of the column and rounds the result. I assume it's expected in the new version... But for any reason?

[2016-02-24 17:30] zerothabhishek commented on #23148
As of now, there is no way to configure strong Etag generation. Both Rails and Rack generate only weak ETags. If needed, strong ETags can be generated 'manually' and be set to the ETag header.

[2016-02-24 18:01] kares commented on #23845
so you basically run with exception logging from JRuby ... but there's nothing fatal in your logs - no NPE

[2016-02-24 18:04] ebosantos commented on #22989
I have the same issue. Ruby 2.3.0, Rails 2.4.5.1

[2016-02-24 19:24] tenderlove commented on #23844
/cc @diego-silva

[2016-02-24 21:49] maclover7 commented on #22989
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-24 21:57] ebosantos commented on #22989
I've discovered what's going on: I wasn't specifying the primary keys (in truth I was but in Rails 5 way so I could have bigint primary keys, which doesn't work). So I kept primary keys being generated by default and the foreign key creations worked. My suggestion is: Improve error messages.

[2016-02-25 00:26] Alamoz commented on #23681
@schneems I will try to find time later today to create a bare-bones rails app and a server and see if the problem occurs on it.

[2016-02-25 00:30] mattclar commented on #23845
I couldn't practicably paste the full output when Jruby -d was set, it was several pages long.
But this is it without jruby -d.
If that helps at all?
[code]

[2016-02-25 00:43] maclover7 commented on #23856
Semi-related to #23868.

I think `ActionController::Streaming` either needs to hop onto the `DebugExceptions`/`ShowExceptions` train, or an agnostic API needs to be created, that both `ActionController::Streaming` and `DebugExceptions`/`ShowExceptions` can take and manipulate in whatever way needed. I'd be interested in reviving [Exceptron](https://github.com/spastorino/exceptron), or working on a

[2016-02-25 00:45] mattclar commented on #23845
Ok so was able to work out how to copy across the whole log from jruby -d .... on a second look might be related to devise?
[code]

[2016-02-25 00:53] nateberkopec commented on #23856
Part of the problem is that it can't render a full ShowExceptions-style exception page because half of a page has already been streamed down to the client.

If the facility for "exception interceptors" ` in #23868 is made available to `Streaming`, that would satisfy my issue here.

[2016-02-25 00:55] nateberkopec commented on #23856
Separating notification of outside services from "what do we display to the user" makes a lot of sense to me, because what you show the user in a streaming situation should be different from an ordinary HTTP request.

Come to think of it I have no idea how `sentry-raven`/exception notifiers in general interact with ActionCable. Again, you could make sure any "exception interceptor" chain is also n

[2016-02-25 01:05] maclover7 commented on #23856
Working on a POC for this. I think we can use infrastructure from `ActiveSupport::Notifications` to implement the functionality.

[2016-02-25 01:49] aj07 commented on #23848
@afunix **gem install rails** will help you to get latest stable version of rails. As told by sevenseacat bundler is the dependency of rails.  However if you are still getting some problem then i think it might be some network error. Try to do it again. Also mention the way you followed for installing rails.

[2016-02-25 03:30] #23471 closed

[2016-02-25 04:20] afunix commented on #23848
@aj07 I've tried several times and result is always the same.
I've attached console output with the specific commands and their output, so anyone can reproduce.

All, I've managed to install rails, it's not a rocket sience and I'm not looking for help here.
This is a bug report with steps go reproduce, as I believe there is something wrong, that needs to be fixed or documented.

[2016-02-25 04:24] chashmeetsingh commented on #23848
@afunix tried the tutorial I gave?

[2016-02-25 05:09] afunix commented on #23848
@chashmeetsingh Yes, and found lots of issues there too. The first one installing rvm+ruby: GPG verification fails due to key not installed.
It doesn't specify to install development packages to build nokogiri too and there are strange things even in the workflow.

But this is another tutorial.

[2016-02-25 05:53] prathamesh-sonpatki commented on #23148
Checked all guides. We have added a note on weak tags in caching guide - https://github.com/rails/rails/issues/23860
^ Also explains what are weak etags briefly.

Added a test case for strong etags  - https://github.com/rails/rails/issues/23862

It's also mentioned in release notes.

@chancancode This issue can be closed now.

[2016-02-25 06:10] chashmeetsingh commented on #23848
Mate there is a link for the gpg link in the tutorial try that too

Sent from my iPhone

[2016-02-25 06:14] sevenseacat commented on #23848
@chashmeetsingh their point is that the official instructions in the Getting Started guide need to improved, not that they can't get it working by themselves.

[2016-02-25 07:52] chashmeetsingh commented on #23848
I tried the guide from the starting and it seems that bundler is installed automatically at the time of bundle install

[2016-02-25 08:04] chashmeetsingh opened #23876 "Adding a hot restart (no need to open new terminal)"
just a suggestion can a hot restart be implemented
by this there will be no use of opening another terminal
just type restart in the present console where server is running
and then it restarts no use of another terminal to execute this

[2016-02-25 08:32] #23148 closed

[2016-02-25 08:33] chancancode commented on #23148
:clap: thank you everyone!

[2016-02-25 08:58] prathamesh-sonpatki commented on #23876
@chashmeetsingh Thanks but we don't discuss feature requests on Github. Please use rails-core mailing list to suggest features.

[2016-02-25 08:58] #23876 closed

[2016-02-25 09:26] sevenseacat commented on #23848
Without bundler installed, you cannot `bundle install` to begin with.

[2016-02-25 09:30] #20666 closed

[2016-02-25 09:56] chashmeetsingh commented on #23848
gem install rails -v 5.0.0.beta3
Fetching: bundler-1.11.2.gem (100%)
Successfully installed bundler-1.11.2
Successfully installed rails-5.0.0.beta3
Parsing documentation for bundler-1.11.2
Installing ri documentation for bundler-1.11.2
Parsing documentation for rails-5.0.0.beta3
Done installing documentation for bundler, rails after 3 seconds
2 gems installed

it is installed

[2016-02-25 11:00] dhh opened #23879 "Better logging of cached partial renders"
Now that we have the lovely [X/Y cache hits] formats for partial collections, I think we should expand that to single partial renders as well.

Here's what things currently look like:

[code]

I'd like to see this instead:

[code]

[2016-02-25 11:59] pixeltrix commented on #23841
@mengxi-liao interesting results - it seems like the pg adapter is returning the price column as the column type for the first two results and adding the parentheses around it changes it to decimal type without a scale. I wonder what happens when you explicitly cast the first number to various scales?

[2016-02-25 12:08] albertopriore commented on #19761
Do you have any update on this issue?

[2016-02-25 12:12] doits commented on #23778
After updating to `5.0.0.beta3`, I get a lot of `ActiveRecord::ConnectionTimeoutError` when running a large test suite of my rails app (including a lot of feature specs). With `5.0.0.beta2` it does not happen. Only mysterious thing: I don't use `ActionCable` at all. So either I hit a different bug or it is the same but the source doesn't lie in `ActionCable` but goes deeper.

[2016-02-25 12:30] bronson opened #23881 "Breakage finding templates"
This looks related to @chancancode's https://github.com/rails/rails/pull/23827.

On Rails master I'm now getting:

[code]

Here are the variables:

[code]

Here's the test that causes the problem:

[code]

I tried doing the simplest, most obvious fix:

[code]

and now it dies with this:

[code]

Tell me if there's anything else I should look at.

[2016-02-25 12:43] dhh commented on #23778
@jeremy ^

[2016-02-25 13:11] hahcho opened #23882 "Postgresql 9.5 breaking rake db:migrate"
I have upgraded my postgresql to 9.5.1. Currently the `rake db:migrate` task breaks with error about the `pg_dump` command saying: `-i is an invalid option`. I saw that in postgres 9.5 `pg_dump` `-i` option was deprecated. I am using `3.2.19` version of the active-record gem but i see that even in the [current](https://github.com/rails/rails/blob/3-2-stable/activerecord/lib/active_record/railties/

[2016-02-25 13:29] rafaelfranca commented on #23882
Rails 3 is not supported anymore.

[2016-02-25 13:29] #23882 closed

[2016-02-25 13:52] jcoyne opened #23884 "Rails 5.0.0.beta3 breaks sessions"
I'm still investigating how this happened, but the session code in my application worked with beta 1 and beta 2 as well as all versions of rails 4.  It stopped working at beta3:

https://travis-ci.org/projectblacklight/blacklight/jobs/111742726#L1897

More to follow.

[2016-02-25 14:12] maclover7 commented on #23884
Could be related to #20851.

[2016-02-25 14:14] jcoyne commented on #23884
@maclover7 yes, I suspect it has something to do with 22db455dbe9c26fe6d723cac0758705d9943ea4b and storing hashes in the session.

I'm writing a test case.

[2016-02-25 14:14] maclover7 commented on #23881
Thanks for the bug report!

r? @chancancode

[2016-02-25 14:42] jcoyne commented on #23884
Here's the problem.

[code]

I don't know if this should be a bug, but it certainly was unexpected.

[2016-02-25 14:51] jcoyne commented on #23884
Maybe the `#[]=` method should return the correct value?

[2016-02-25 14:52] matthewd commented on #23884
We can't control the result of an assignment; ruby always returns the RHS.

[2016-02-25 15:06] bluehallu opened #23886 "CollectionProxy <</append/push unexpected behaviour"
Given A has_many B, will the following code trigger a database insertion?

`a << B.new`

The answer is that it depends on wether a is persisted or not. I'm unsure if this is intended or not but I can't seem to find anything mentioned in the documentation.

[2016-02-25 15:14] st0012 commented on #23879
I'm working on this :smile:

[2016-02-25 15:18] kaspth commented on #23879
@st0012 Neat! But mind the milestone, I won't have much time to review a pull request before Rails 5.0 is out.

[2016-02-25 15:27] st0012 commented on #23879
@kaspth ok, but I will still mention you when I done this.

[2016-02-25 15:28] jcoyne commented on #23884
@matthewd couldn't we change the return value from https://github.com/rails/rails/commit/22db455dbe9c26fe6d723cac0758705d9943ea4b#diff-0dd82841c763273551965fc0ea292a1bR113

[2016-02-25 15:49] matthewd commented on #23884
We can make it whatever we like; won't affect the result of your expression though

[2016-02-25 15:54] kaspth commented on #23879
@st0012 by all means do! I'm just setting expectations 😁

[2016-02-25 16:04] jcoyne commented on #23884
Ah, I see that now.

[2016-02-25 16:05] jcoyne commented on #23884
So #wontfix?

[2016-02-25 16:06] kaspth commented on #23884
#cantfix: "We can't control the result of an assignment"

[2016-02-25 16:14] matthewd commented on #23884
https://github.com/rails/rails/pull/20851#issuecomment-188530181

[2016-02-25 16:33] naiyt commented on #19761
@albertopriore this was a PR that fixed it: https://github.com/rails/rails/pull/19773

We ended up doing something else that made it no longer a problem, but I think it's still a good fix. If people agree I can go back in, clean it up, and bring it up to date.

[2016-02-25 16:43] #23884 closed

[2016-02-25 16:50] tomprats commented on #23884
@matthewd What's going on here? How come my pull request was reverted? It seems odd to put something into the session and expecting it to come back with the same object id. When you put something into a db, it wouldn't really come back with the same object id. I may be missing the point here though...

[2016-02-25 16:52] bluehallu opened #23890 "Nested routes: shallow: false doesn't work"
Defining the following routes:

[code]

Results in the show action for check being:

Essentially, `shallow: false` doesn't make any difference, even if defined both on areas and checks in my example.

My use case: a check date is unique per area, and that's how I want to refer to them "Today's check for area X". The route I'd like to see would be:

There seems to be no way to do this as once you d

[2016-02-25 17:18] chancancode commented on #23881
Oops! So the resolvers used to get `details = { formats: [...], locale: [...], variant: [...], handlers: [...] }` which searches for templates that matches those constraints (think `WHERE formats IN (...) AND locale IN (...) AND ...` in terms of SQL). We made them now handle `{ formats: [...], locale: [...], variant: :any, handlers: [...] }` as well to do an unconstrained search on variants. We [u

[2016-02-25 17:34] maclover7 commented on #23886
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-02-25 17:34] #23886 closed

[2016-02-25 17:41] chashmeetsingh opened #23891 "Action cable bug"
So i have made a chat app to check the functionality of action cable
Now the bug is the function in the channel is never called until I explicitly call it from console like App.room.speak('yes') . After I run this from the console it is functional from the UI also . But otherwise nothing happens

Made a sample repo for the app https://github.com/chashmeetsingh/WebsocketSample
Please let me know if

[2016-02-25 17:46] maclover7 commented on #23891
Can you provide a little more information regarding the error you are seeing?

[2016-02-25 17:47] mengxi-liao commented on #23841
@pixeltrix Ok I could confirm this comes from [0b94384](https://github.com/rails/rails/commit/0b94384bef44535a408b034e44b90d08318e258a).

As I have patched the Decimal class back to the previous version...(Yes we need the behaviour that you guys think it is a bug). And the sum method returns consistent results now.

[2016-02-25 17:51] chashmeetsingh commented on #23891
I am not getting any error not in js neither in rails console
just the thing that the speak function is not being called when I try to submit a form which is in the channel
But if I explicitly run from browser console it works then it also starts working from the UI

[2016-02-25 17:55] maclover7 commented on #23891
This is a CoffeeScript indentation issue -- you need to make [your code](https://github.com/chashmeetsingh/WebsocketSample/blob/master/app/assets/javascripts/channels/room.coffee#L14-L18) look [like this](https://github.com/maclover7/ac-test/blob/master/app/assets/javascripts/channels/room.coffee#L14-L18).

Currently, you have the DOM listener inside of the `speak` function.

[2016-02-25 17:55] #23891 closed

[2016-02-25 17:58] chashmeetsingh commented on #23891
Indentation?
Thanks ..

[2016-02-25 18:01] derekprior commented on #23645
Thank you @eileencodes !

[2016-02-25 18:39] #23844 closed

[2016-02-25 18:42] Luchillo opened #23892 "[Question] Does ActionCable only generates JS in coffee script syntax?"
I removed the coffee-rails gem but the channel generator still creates a js file with coffee script syntax and extension, is coffee script the only option with ActionCable?

[2016-02-25 18:45] rafaelfranca commented on #23892
Yes. If you don't want to use coffeescript just change the generated code to JavaScript.

[2016-02-25 18:45] #23892 closed

[2016-02-25 19:14] maclover7 commented on #23891
I'm sorry -- to me this seems like the issue is not within Action Cable. If you are looking for a typed up version of the code from DHH's Action Cable video, I have a repo on GitHub which has that, available [here](https://github.com/maclover7/ac-test).

[2016-02-25 19:22] chashmeetsingh commented on #23891
getting timeout for that when using postgres should I raise an issue? @maclover7

[2016-02-25 19:32] chashmeetsingh opened #23893 "Issue with postgres"
Frequently getting timeout while using action cable with Postgres
ConnectionTimeoutError - could not obtain a connection from the pool within 5.000 seconds

[2016-02-25 19:36] rafaelfranca commented on #23893
Dup of https://github.com/rails/rails/issues/23778

[2016-02-25 19:36] #23893 closed

[2016-02-25 19:59] chashmeetsingh commented on #23778
I tried many configurations for the gem file bouncing between beta2 and 3 and found that the issue is caused by the active job gem
Hope this helps!

[2016-02-25 20:26] bluehallu commented on #23886
@maclover7 It's not a question nor a request for help. I don't think this is the intended behaviour.

[2016-02-25 20:30] jeremy commented on #23778
The issue we're seeing is that the AJ async adapter creates enormous executor pools for each queue, quickly exhausting the db conn pool.

Quick hack in `config/environments/development.rb`:
[code]

The defaults now are min = cpu count, max = 10 * cpu count, idle time = 1 minute.

If you have 4 CPUs and 10 different AJ queue names, that means up to 400 db connections per process.

Large pools are O

[2016-02-25 20:42] chashmeetsingh commented on #23778
@jeremy You mean something like this?
https://github.com/chashmeetsingh/rails/blob/master/activejob/lib/active_job/async_job.rb

[2016-02-25 20:43] matthewd commented on #23778
I expect to be able to address this via #23807.

[2016-02-25 20:47] chashmeetsingh commented on #23778
ok great :)

[2016-02-25 21:17] jeremy commented on #23778
@matthewd That is… awesome! 🤘 Tames many beasts.

Another less-hacky workaround. Explicitly release connections after performing jobs in dev/test:
[code]

[2016-02-25 21:55] doits commented on #23778
Ah, that is exactly the problem I have. With the latest change of ActiveJob, from the [changelog](https://github.com/rails/rails/blob/master/activejob/CHANGELOG.md) ...

... my tests (including a lot of mail specs) began using the as `AsyncAdapter` and therefore the problem manifested itself. Nice the puzzle fits together for me now ;-)

[2016-02-25 22:06] rafaelfranca commented on #23886
Yes, it is. If autosave is enabled in the association it will have that behavior.

[2016-02-25 23:08] ricsdeol commented on #19043
Hi, I had other situation:

[code]

[2016-02-26 00:52] arthurnn commented on #18492
I reverted the backport btw. https://github.com/rails/rails/commit/8097019c75a07eeda6025e138ef8073e717a3d25

[2016-02-26 02:14] TangMonk opened #23896 "Activerecord first and last method get same result when order null column"
I have `qiandaos` records as following:

![image](https://cloud.githubusercontent.com/assets/3498786/13341156/0d5a41ae-dc71-11e5-8772-a61c7310a9a0.png)

Then I type following command in console:

[code]
But get same result , always first record with id 1, like following image:

![image](https://cloud.githubusercontent.com/assets/3498786/13341188/6ac81c4e-dc71-11e5-9dc0-f695538f8ca8.png)

But when

[2016-02-26 02:24] rafaelfranca commented on #23896
`last` revert the order `first` and gets the `first` record. So the query would be `ORDER BY position DESC LIMIT 1` that will give you the same record. As all values in that column is NULL, the first element in the query `ORDER BY position ASC LIMIT 1` is the same as in the query `ORDER BY position DESC LIMIT 1`.

It is an optimization that we have to do to avoid memory consuption but in some case

[2016-02-26 02:24] #23896 closed

[2016-02-26 02:35] prathamesh-sonpatki commented on #23681
@schneems Tried generating new app from Rails master now that Puma 3.0 is released -

[code]

Do we have to update anything on our side?

[2016-02-26 08:02] chashmeetsingh commented on #23626
try this [https://github.com/rails/rails/issues/23778](#23778)

[2016-02-26 08:17] Alamoz commented on #23681
@prathamesh-sonpatki - The issue occurs when running Puma as a service in Debian (Debian 8.3 in this case) using the start script in /etc/init.d/puma.

@schneems - OK, I just verified this problem is happening, this time trying to run a Rails 5.0.0.beta3 app with Puma 3.0.1 on a Debian 8.3 server with Ruby 2.3.0p7. The problem I originally reported is happening when I run older versions of /etc/in

[2016-02-26 08:46] kesha-antonov opened #23900 "ActionCable feature request: before_action"
Hey guys!

It would be awesome to have `before_action` for ActionCable as well as we have in Controllers.

I need to set user online on any action when he uses websockets. So it would be great to set `before_action` in `action_cable/channel.rb` and thus it would fire on every action in channels.

What do you think?

[2016-02-26 09:07] Eric-Guo commented on #23855
@evanphx but seems not working on puma 3 now?

[2016-02-26 09:30] dhh opened #23901 "Eager compute template digests in production"
Computing digests for templates at run-time risks burdening individual requests with that work, which may well take tens of milliseconds. We should have an option, and it should probably be default, to preload all template digests at server boot.

[2016-02-26 09:30] dhh commented on #23901
@kaspth Thoughts?

[2016-02-26 09:53] bluehallu commented on #23886
@rafaelfranca I can't find any reference on the docs that hints of that behaviour. Autosave says it will save associations when parent is saved, but in my example I'm never saving the parent. I'm not saying this is the wrong thing to do, just that nowhere in the docs is it explained.

[2016-02-26 10:03] bluehallu commented on #23886
@rafaelfranca I've managed to find a reference to this behaviour in the guides (though still no mention in the docs):

Seems to have nothing to do with autosave.

[2016-02-26 10:14] dmitry commented on #23626
To  be correct: #23778

[2016-02-26 11:17] rubys commented on #23855
@Eric-Guo there definitely is a bug and both the rails and puma teams are looking into it.  For now, it only works if puma is started via `puma`, not `rails server`.

[2016-02-26 11:34] rafaelfranca commented on #23900
Thank you for the issue but we don't take feature request in the issue tracker. I recommend you to ask in the Rails core mailing list.

[2016-02-26 11:34] #23900 closed

[2016-02-26 11:35] begin29 opened #23903 "Why default log_level for production mode is :debug?"
### Steps to reproduce
Hi guys! I found interesting issue that default log level for production is `debug`.  Please look to production.rb file for new generated app.
### Expected behavior
command
[code]
doesn't show anything that should be related to `:debug`.

### Actual behavior
It behaves like with log_level `:error`

### System configuration
**Rails version**:
4.2.5.1
**Ruby version**:
2.1.2

[2016-02-26 11:39] rafaelfranca commented on #23903
Yes, the default log level for production is debug. If you don't want it you can  set to a different level. See the release notes that you will find mention to that.

[2016-02-26 11:39] #23903 closed

[2016-02-26 11:57] Eric-Guo commented on #23855
Thanks, I already see puma master revert [puma PR 884](https://github.com/puma/puma/pull/884), which cause this problem.

[2016-02-26 11:57] AbdullahAlger commented on #23566
I don't think this is a bug from `rails_12factor`. I have the gem installed and I can ruby Rails 5 just fine.

[2016-02-26 12:10] gmcnaughton commented on #21058
This just bit me too (Rails 3.2.22, but per @dfyx it's still a problem in 4.2.3)

I have an ActiveRecord model with a `belongs_to ..., autosave: true` association.

I want to save the model and bypass validations, so I call `save(validate: false)`.  This skips my validations, but it still validates the associated model -- which can cause the save to fail.

I expected `validate: false` to mean "ski

[2016-02-26 12:41] begin29 commented on #23903
If we leave it on `debug` it steel behaves like I've used `error` log_level. Why?
It happens when I execute `rails s -e production`

[2016-02-26 12:52] Eric-Guo commented on #23855
Oh, it's not relative with puma PR 884, but only windows path problem, propose [puma PR 905] (https://github.com/puma/puma/pull/905)

[2016-02-26 13:14] saiqulhaq commented on #23901
could this be related to https://github.com/railsgsoc/ideas/wiki/2016-Ideas#eager-load-action-view-templates ?

[2016-02-26 13:15] jesuspc opened #23905 "Wrong statement regarding CSRF protection for APIs in ActionController documentation"
The documentation present for protect_from_forgery both [here](http://api.rubyonrails.org/classes/ActionController/RequestForgeryProtection.html) and [here](https://github.com/rails/rails/blob/e7bf9f9ab0fc39d91e68a11efc89d8485e36df43/actionpack/lib/action_controller/metal/request_forgery_protection.rb) states that a json API should be protected by disallowing any request with an invalid csrf token

[2016-02-26 13:16] rafaelfranca commented on #23903
I don't get it. How can I reproduce this behavior. Are you checking the content of `log/production.log`?

[2016-02-26 13:23] dhh commented on #23901
Ah yes, same task.

On Fri, Feb 26, 2016 at 2:15 PM, M. Saiqul Haq <notifications@github.com>
wrote:

[2016-02-26 13:25] rafaelfranca commented on #23905
cc @jeremy

[2016-02-26 13:45] saiqulhaq commented on #23901
ok i though so
please let rails GSOC students do this task
I think many students will have interest to do this task, including me

hi @tenderlove , you will be the mentor for this rails GSOC idea, right? how do you think?

[2016-02-26 14:23] sai43 opened #23907 "Rails Commands Not Work"
% bundle install
Fetching gem metadata from https://rubygems.org/.........
Fetching version metadata from https://rubygems.org/...
Fetching dependency metadata from https://rubygems.org/..
Using rake 10.4.2
Using i18n 0.7.0
Using json 1.8.3
Using minitest 5.8.3
Using thread_safe 0.3.5
Using builder 3.2.2
Using erubis 2.7.0
Using mini_portile2 2.0.0
Using rack 1.6.4
Using mime-types 2.99
Using arel

[2016-02-26 14:23] dhh opened #23908 "Add config/ to spring + rails server restart watcher"
We have a bunch of files in config/ that say "# Be sure to restart your server when you modify this file". How about we just do that for people? We should have the power to watch directories now such that both Spring and rails server is restarted when these are touched.

[2016-02-26 14:26] schneems commented on #23681
@prathamesh-sonpatki we need #23906 then we can close this issue

@Alamoz if `$ rails server` works with Puma 3.0 and the `puma` command also works then it sounds like the issue is with whatever scripts you're using. I would suggest trying to reproduce in a simple app locally. From there you could either debug or possibly get enough information to open a bug report with Puma. All that rails really

[2016-02-26 14:31] dhh commented on #23908
@fxn Something that's realistic for 5.0 or should we bump to 5.1?

[2016-02-26 14:32] rafaelfranca commented on #23907
Thank you for the report. This is a issue in spring that is already fixed in master branch. I'll release a new version.

[2016-02-26 14:32] #23907 closed

[2016-02-26 14:38] kaspth commented on #23901
Yeah, reading this it reminded me of the eager loaded templates thing @tenderlove had been looking into. It's not a given this will be rolled up into that project, it might be too big. If so, we could look into it after the that GSoC project is through, since it would likely be much easier to implement after it.

But yeah, 👍 on the whole concept.

[2016-02-26 14:42] sai43 commented on #23907
Yes @rafaelfranca ,
After remove 'Spring' gem from Gemfile , my app working fine without any issues.
Thanks

[2016-02-26 14:55] #23681 closed

[2016-02-26 15:08] fxn commented on #23908
@dhh Too tight for RC due to my availability these days. If this could be a little addition post-RC (seems quite orthogonal, defining a new watcher probably), one option could be to postpone the decision until final is more imminent. Otherwise I'd say 5.1.

[2016-02-26 15:28] dmitry commented on #21058
@gmcnaughton please support this PR: #21077

[2016-02-26 16:27] chashmeetsingh commented on #23908
is it possible to take input from the same terminal while a rails server is running ?
Also would it be good restarting the server again and again if any file is touched ?
@dhh

[2016-02-26 17:04] rubys opened #23910 "rails restart doesn't work with puma3"
### Steps to reproduce

    rails new foo
    cd foo
    rails server
    rails restart

### Expected behavior
Server should restart.

### Actual behavior
Puma notices the change to `tmp/restart.txt`, stops the server, and attempts to restart the server with its own ideas of what ARGV should look like.  Rails doesn't like what it sees in ARGV, and spits out usage instructions.  At that point, the

[2016-02-26 17:37] claudiob opened #23911 "5.0.0.beta3 behaves differently than 5.0.0.beta2 when validating polymorphic associations"
Hello! I upgraded my app from 5.0.0.beta2 to 5.0.0.beta3 and I started getting an error.
You can reproduce it by running the code below both with beta2 (tests pass) and with beta3 (tests fail).

https://gist.github.com/claudiob/e453503c47074bab1617

---

##### Description of this issue

This issue only affects a very specific case that I believe is uncommon to most Rails apps.
Imagine you have the

[2016-02-26 17:41] dhh commented on #23911
cc @eileencodes

[2016-02-26 17:47] bluehallu commented on #20676
Can reproduce on Rails 5 beta 3

[2016-02-26 17:48] claudiob commented on #23911
What I meant by this is that we have to warn users that they have to add `optional: true` if the scenario above applies to them. In other words, the following code would work:

[code]

[2016-02-26 17:50] francesco-loreti opened #23912 "Rails 5 and :locale is unpermitted parameter"
I want translate my application with rails 5 but I can't do that because the ":locale" params is not permitted. I have tried to permit params on ApplicationController with
`before_action :set_locale def set_locale params.permit(:locale) I18n.locale = params[:locale] || I18n.default_locale puts I18n.locale end`
But It's not ok because everytime is set only I18n.default_locale value (for me it's :en

[2016-02-26 17:53] eileencodes commented on #23911
I've already reverted that commit on master because of another bug. It should be in beta3.

[2016-02-26 17:53] maclover7 commented on #23912
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-26 17:54] claudiob commented on #23911
@eileencodes I saw that, so maybe my `git bisect` was wrong because this issue happen on beta3 and not on beta2

[2016-02-26 17:55] claudiob commented on #23911
I'll try to bisect again…

[2016-02-26 17:57] eileencodes commented on #23911
Oh ... I think I might have reverted too much.

[2016-02-26 17:58] claudiob commented on #23911
:sweat_smile:

[2016-02-26 18:02] eileencodes commented on #23911
No I didn't revert too much but the revert broke this. I don't know what to do because adding it back causes a whole host of bugs. :cry:

[2016-02-26 18:07] claudiob commented on #23911
I wonder how many people will be affected by this convoluted case.

If it's not too many, we could leave it and add documentation to the upgrade guides and to the "belongs_to required by default" option.

[2016-02-26 18:11] eileencodes commented on #23911
The bug in this issue was something like 5 years old. Last year someone reported it (https://github.com/rails/rails/issues/17621) and I worked with Aaron to fix it by checking if records were `!record.persisted? || record.changed? || record.marked_for_destruction?` and not validating unless `should_validate?` was true.

This unfortunately broke the `valid?` check and `invalid?` check because of th

[2016-02-26 18:14] claudiob commented on #23911
Right… I agree with you. We could leave things as they are now, release RC1 with documentation, and just include this special case in the list of issues caused by that original bug.

[2016-02-26 18:17] eileencodes commented on #23911
I was explaining for anyone else who comes past this bug.

I'll look at this this weekend and see if it affects our app and if anything can be done to fix the bug and not break `valid?`. Thanks for the solid :bug: report @claudiob :)

[2016-02-26 18:19] eileencodes commented on #23912
Hey @sikachu do you know a workaround for using `:locale` with the changes to parameters?

[2016-02-26 18:24] rafaelfranca commented on #23912
What is the problem with `:locale`? It is a scalar value, you don't even need to permit it.

I don't see why this doesn't work:

[code]

[2016-02-26 18:41] sikachu commented on #23912
This shouldn't be related to parameters change.

* Permitted or not, you should be able to read the `params` using `[]`, so `params[:locale]` should have some value coming in if you set it right.
* `#permit` method actually _does not_ mutate the params object. If you call `params.permit(:a_key)`, you aren't actually changing anything in `params`. Instead, you filter out unpermitted parameters out

[2016-02-26 19:08] rafaelfranca commented on #23710
Done

[2016-02-26 19:08] #23710 closed

[2016-02-26 20:09] Alamoz commented on #23681
Not a problem for me, in Rails 5 I can simply change config/puma.rb so it will work. Kind of embarrassing for Puma to have such a bad impedance mismatch between 'rails s' and '/etc/init.d/puma'.

[2016-02-26 20:15] prophittcorey opened #23918 "Default Gemfile places web-console in the test group"
### Steps to reproduce

Create a new rails app, generate a model and uncomment the model's example test. When you run the test you will be given the error:

I assume my expectation is the same as other's-- I expect it to run my tests without modifying the Gemfile. The clear fix is to move the `web-console` gem into a `:development` group block and outside the `:development, :test` group.

Is this

[2016-02-26 20:21] matthewd commented on #23918
cc @gsamokovarov

[2016-02-26 20:26] rafaelfranca commented on #23918
It is already true. https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/Gemfile#L38 https://github.com/rails/rails/blob/4-2-stable/railties/lib/rails/generators/rails/app/templates/Gemfile#L37

[2016-02-26 20:26] #23918 closed

[2016-02-26 20:57] chashmeetsingh commented on #23910
@sikachu can you tell the flow when rails restart is run ?
I want to try to fix this

[2016-02-26 21:06] sikachu commented on #23910
@chashmeetsingh I'm currently working on this as well, digging through Puma source code.

It seems like we can specify `restart_command` but then it feels hackish and Rails still refuses to start because `tmp/pids/server.pid` is still there.

[2016-02-26 21:09] chashmeetsingh commented on #23910
Need help just want to know is it possible that while the server is running and logs bring printed we type some text there and somewhere we can access its value ?

[2016-02-26 21:12] rubys commented on #23910
Just a reminder, the following code is also problematic (and is the problem I first saw):

  https://github.com/rails/rails/blob/master/railties/lib/rails/tasks/dev.rake#L12

[2016-02-26 21:13] francesco-loreti commented on #23912
I 've changed the permissions because I was generating an error sanitize the url . I had read on the internet that could be an issue of permits and I changed the permissions . Now I removed the permit and I solved the problem on the sanitize . Sorry for the incorrect reporting .

[2016-02-26 21:14] chashmeetsingh commented on #23910
@rubys Issue because of the restart command being used

[2016-02-26 21:20] sikachu commented on #23910
@chashmeetsingh I assume that `rails restart` just `touch tmp/restart.txt`?

The big problem that we need to fix is that we have to restart the Rack server again with correct arguments. We can tell Puma which command it should use for starting up the server when it restarting. Maybe that's the way to do it?

[2016-02-26 21:24] chashmeetsingh commented on #23910
@sikachu can't we restart from the same terminal without opening another one?

[2016-02-26 21:26] sikachu commented on #23910
@chashmeetsingh I guess you can make `rails server` listen to a signal, but that's not the issue we are trying to fix here ...

[2016-02-26 21:27] chashmeetsingh commented on #23910
https://github.com/rails/rails/blob/685203917378dbdf8c836d5bdaabccd31f4e5f98/railties/lib/rails/generators/rails/app/templates/config/puma.rb#L47 what does this do ?

[2016-02-26 21:29] paulleader opened #23919 "Behaviour of ActiveRecord::Calculations#count when a block is supplied"
So yesterday we had a bug in our code caused by accidentally calling `#count` with a block on an `ActiveRecord::Relation` rather than a plain Ruby `Array`.

Supplying a block to `Array#count` returns the count of array elements for which the block returns true.

A block supplied to `ActiveRecord::Relation#count` is silently ignored and a normal SQL COUNT is executed.

In the spirit of the Principa

[2016-02-26 21:36] rubys commented on #23910
@chashmeetsingh that causes this plugin to be loaded: https://github.com/puma/puma/blob/master/lib/puma/plugin/tmp_restart.rb

@sikachu an alternative solution would be to use `tmp/pids/server.pid`.  Kill that process and kick off a new one.  There is no need for graceful restart in development mode.

[2016-02-26 21:43] chashmeetsingh commented on #23910
@sikachu @rubys is right that's also a good solution

[2016-02-26 21:52] sikachu commented on #23910
@rubys just tried that solution. Rails server was killed, nothing started back up.

I'll need to dig deeper into this.

[2016-02-26 22:02] rafaelfranca commented on #23912
Not problem. Is your issue solved? Can I close this?

[2016-02-26 22:04] chashmeetsingh commented on #23910
hey @sikachu @rubys try this https://github.com/chashmeetsingh/rails/blob/master/railties/lib/rails/tasks/restart.rake
I got it working voohoo

[2016-02-26 22:31] sikachu commented on #23910
Please feel free to work on the fix. :)

[2016-02-26 22:33] chashmeetsingh commented on #23910
@sikachu by the way is it fine?

[2016-02-26 22:39] begin29 commented on #23903
create new app `rails new some_foo`.

look to environments/production.rb and find line with log_level. You will see that it is set to `:debug`.

Start app in production `rails s -e production` and look on logs. It behaves like with settings
log_level: `error`.

And I have a question why it is behaves on that way?

[2016-02-26 22:45] rafaelfranca commented on #23903
Could you explain what is behaves like with setting log_level: `error`?

Also where are you looking for these logs?

[2016-02-26 23:01] begin29 commented on #23903
It showed only error logs. and nothing else. It doesn't show requests, rendering, as it should be for `debug` logs.
I've looked on log/production.log

[2016-02-26 23:06] rafaelfranca commented on #23903
I just tried yours reprodution steps and I can see this in my production.log:

[code]

So INFO, DEBUG, and FATAL logs are being added to that file. Exactly what happens in the debug level.

Are you not getting that?

[2016-02-26 23:32] francesco-loreti commented on #23912
Yes and Thanks

[2016-02-26 23:32] #23912 closed

[2016-02-26 23:33] rafaelfranca commented on #23912
Awesome! Thank you for reporting it.

[2016-02-27 04:03] anthonator opened #23923 "Controllers still try to render view when using "render json""
### Steps to reproduce

**Routes**

[code]

**Controller**

[code]

Make a POST HTTP request to `/providers` or `/providers.json` with `Accept` and `ContentType` headers set to `application/json`.

**EDIT** In order to reproduce this you will need to have `jbuilder` as a dependency.

### Expected behavior
Expecting the following JSON to render:

[code]

### Actual behavior
Get the following error:

[2016-02-27 06:14] dgobaud opened #23924 "nested has_one :through does not update when parent item is changed"
### Steps to reproduce

https://github.com/dgobaud/rails_nested_has_one_bug

[code]

[code]
### Expected behavior

nested has_one :through should update when the parent belongs_to changes
### Actual behavior

the nested has_one :through value is cached
### System configuration

**Rails version**:
4.2.5

**Ruby version**:
ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]

[2016-02-27 07:12] lygaret opened #23925 "`rescue_from` can no longer handle wrapped exceptions"
Prior to #18774, it was possible, with `rescue_from`, to rescue wrapped exceptions. Many of my applications use this technique to centralize error handling (logging, metrics, API visible display, etc), by `rescue_from StandardError`, and a handful of "error type" wrapper exceptions, ie. `BadRequest`, etc. This allowed me to determine in a controller how to respond to a third party gem's failure, b

[2016-02-27 07:16] lygaret commented on #23925
I'm really concerned about patching this behavior out of a bunch of applications that use the technique described extensively for error handling, but unless I do that, I won't be able to bring these to 5.0 at all.

I've been thinking about possible solutions that don't involve just reverting the behavior, and I could definitely see using 5.0 to explicitly stop supporting `rescue_from (Exception|St

[2016-02-27 07:31] chashmeetsingh commented on #23923
Not able to reproduce

Started POST "/providers" for ::1 at 2016-02-27 13:00:37 +0530
Processing by ProvidersController#create as */*
  Parameters: {"ContentType"=>"application/json"}
Completed 200 OK in 1ms (Views: 0.2ms | ActiveRecord: 0.0ms)

<img width="231" alt="screen shot 2016-02-27 at 12 55 01 pm" src="https://cloud.githubusercontent.com/assets/8962264/13371682/307a7942-dd52-11e5-908c-3f5a

[2016-02-27 13:23] chashmeetsingh commented on #23910
@sikachu this is a work around but getting no such file or directory 'pkill' on osx works well when in irb
[may work](https://github.com/chashmeetsingh/puma/blob/master/lib/puma/launcher.rb#L225)

[2016-02-27 14:35] maclover7 commented on #23923
Unable to reproduce using [this test script](https://gist.github.com/maclover7/babd04216822e1d64646). Would you be able to create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), or a bare-bones Rails application, that would demonstrate the problem you are seeing?

[2016-02-27 14:38] rubys commented on #23910
If I add the following to the end of `config/puma.rb`

    restart_command 'rails server'
    pidfile 'tmp/pids/server.pid'

And add the following code to puma itself:

[code]

I get further:

[code]

@evanphx: thoughts?

[2016-02-27 15:28] begin29 commented on #23903
Oh, yeah. I rechecked it and found that file is updated, but when you run `rails s -e production` I see empty output.

[2016-02-27 15:36] chashmeetsingh commented on #23910
@rubys This is because the port is already being occupied

[2016-02-27 15:55] rubys commented on #23910
From the messages, it appears that the port is being inherited.

More generally:

   * From a rails development perspective, the user starts the server in one terminal window and may return to that window occasionally to see status messages.  It would be a desirable feature for the server to be restarted in that window.
   * Puma has support for features like phased restart that are not needed in

[2016-02-27 16:46] gsamokovarov commented on #23824
I have a free afternoon, I can take a stab at this.

[2016-02-27 17:17] anthonator commented on #23923
This only seems to happen when `jbuilder` is a dependency. I'll have a sample app up in a second.

[2016-02-27 17:21] anthonator commented on #23923
https://github.com/anthonator/rails_23923

If you add and remove `jbuilder` in the Gemfile you'll see it work and not work.

[2016-02-27 18:01] chashmeetsingh commented on #23923
right same error

[2016-02-27 18:01] sanford opened #23931 "Change cable.coffee to cable.js instead?"
Issue:

inconsistent default files in 'app/javascripts' directory

To reproduce:

rails new appname

Results:

application.js
cable.coffee

Either application.js goes coffeescript or make the cable.coffee file a .js file.  I'd vote for cable.js given that coffeescript is probably going to be used less and less due to ES6+ adoption.

Background:

Now that ES6 is here, there's a growing body of peop

[2016-02-27 18:06] maclover7 commented on #23931
@javan @lifo @dhh thoughts?

[2016-02-27 18:08] maclover7 commented on #23923
Hmm... this sounds like an error specifically within jbuilder. Can you open up an issue on [https://github.com/rails/jbuilder](https://github.com/rails/jbuilder)?

[2016-02-27 18:10] anthonator commented on #23923
I can but this isn't an issue with the same version of jbuilder in 4.2.

[2016-02-27 18:12] anthonator commented on #23923
Being discussed in jbuilder issues: https://github.com/rails/jbuilder/issues/317

[2016-02-27 19:50] ianfleeton commented on #23919
`ActiveRecord::Relation` could fall back on `Array#count` after calling `#to_a` on itself, which causes all rows to be fetched from the database so the block can filter each row (unlike a preceding `where` clause).

Hacky example ignoring the optional `column_name` parameter:

[code]

Since a normal count is done inside the database I think an explicit call to `#to_a` in the client code makes this

[2016-02-27 19:54] javan commented on #23931
:+1:

[2016-02-27 20:23] dhh commented on #23931
One thing to note here is that the cable generators will generate CS files. But still fine to convert this. As long as we keep the generator a

[2016-02-27 21:14] anthonator commented on #23923
A workaround:

[code]

[2016-02-27 21:41] maclover7 commented on #23923
@anthonator Would you be willing to do a git bisect to try and find where this problem was introduced?

[2016-02-27 22:16] daniel-rikowski opened #23934 "Cannot preload assocation with an extension block"
It is not possible to preload a scoped association which has an extension block.
This is because the association scope - which is *not* instance dependant - is wrapped in a proc with parameters.
It looks like the fix from #18467 is not present in the Rails 5/master branch.

### Runnable test

[code]

### Expected behavior
There should be no runtime error.

### Actual behavior
`Parent.includes(:chi

[2016-02-27 22:38] maclover7 commented on #23934
cc @senny since you did the 4-2-stable patch

[2016-02-28 08:45] akshaymohite commented on #23923
For everyone to be on the same page: The problem is with `api_only` applications.
This works in 4.2 because we didn't have api only applications back then.

[2016-02-28 10:59] ValMai opened #23942 "Brittle test sometimes causing build failures on master"
Hello Rails community!
I am a new contributor and I am very enthusiastic about contributing to this fascinating project.

I was looking into what I could do when I saw the master had a build failure. I went into the CI log and found the following:
[code]

Looking into the test itself, I noticed it was a brittle test which can sometimes fail because it relies on time passed to make an assertion.
Th

[2016-02-28 15:15] droptheplot commented on #23707
@atomAltera I had the same issue. Fixed it by setting haml `ugly` option to `true`.
[code]

[2016-02-28 15:58] chashmeetsingh commented on #23910
`def restart!
      @config.run_hooks :on_restart, self

      if Puma.jruby?
        close_binder_listeners

        require 'puma/jruby_restart'
        JRubyRestart.chdir_exec(@restart_dir, restart_args)
      elsif Puma.windows?
        close_binder_listeners

        argv = restart_args
        Dir.chdir(@restart_dir)
        Kernel.exec(*argv)
      else
        redirects = {:close_others =>

[2016-02-28 16:07] eileencodes commented on #23911
Ok we should leave things as they are now and add documentation. I've been looking at this bug and it's correct behavior. The association is invalid. The previous behavior was incorrect behavior because `valid?` wasn't correctly checking. Since you never tell it not to validate the record asking `valid?` correctly returns not valid in Rails 5 beta3. The behavior in Rails 5 beta2 was incorrect and

[2016-02-28 19:14] larskanis commented on #22730
This is not a third party issue. It's a ActiveRecord issue. There will be no upstream fix. See also [my comment in #23619](https://github.com/rails/rails/pull/23619#issuecomment-189924036).

[2016-02-28 19:47] ctm opened #23947 "Regexp used to colorize sql logs can take several seconds to match a line"
### Steps to reproduce

https://gist.github.com/ctm/63e92e5dbc15e3574dec

### Expected behavior
The test should pass, because it shouldn't take a tenth of a second (much less 30 seconds) to match the line, even though it is a long line.

### Actual behavior
The test will fail.

### System configuration
**Rails version**: 5.0.0.beta3

**Ruby version**: 2.3.0

[2016-02-28 20:34] jeffblake opened #23949 "Updating an ActiveRecord datetime attribute using a float is set to nil"
### Steps to reproduce

consider `Ticket` model with `checkin_at` `datetime` attribute

`ticket.update_attributes checkin_at: 1456652070.155761`

Nothing happens.
### Expected behavior

`Time.at(1456652070.155761)` is used to update the attribute
### Actual behavior

Attribute is updated to nil
### System configuration

**Rails version**: 4.2.5.1

**Ruby version**: 2.3.0

[2016-02-28 21:08] bouk opened #23950 "Confusion about whether ActionCable supports Unicorn or not"
The ActionCable README is a bit confusing because in one segment it tells me that I need a threaded server, but in another it tells me that I can use unicorn.

The parts I'm referring to are [Deployment](https://github.com/rails/rails/blob/a0d6209479bee220b43061d8ffa6a8d732ffd20d/actioncable/README.md#deployment):

And [in-app](https://github.com/rails/rails/blob/a0d6209479bee220b43061d8ffa6a8d732

[2016-02-28 22:32] maclover7 commented on #23950
@matthewd, I believe we support Unicorn?

[2016-02-28 22:32] maclover7 commented on #23949
Is an error raised?

[2016-02-28 22:33] maclover7 commented on #23949
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-02-28 22:51] jeffblake commented on #23949
I'm not receiving an error on my development/staging app (the timestamp is silently ignored).

I created a test on AR 4.2 and 5.0 using the provided  sqlite templates and could not reproduce the problem.

Then I created one for postgres (which I use in my app) and I get the error:

[code]

[code]

[2016-02-28 23:10] pixeltrix commented on #23841
@mengxi-liao I think the pg gem is returning the price column as the type for that column in the results even though it's been multiplied by a scalar value, so I'm not sure whether the bug is in Rails or with the pg gem. I'll have to do some more investigation.

[2016-02-29 01:59] fillman commented on #23949
@jeffblake I have only one question:
Why you consider that **actual** behaviour should use `Time.at`?

[2016-02-29 02:06] jeffblake commented on #23949
JSON API... The client sends the timestamp as a float. When this happens across many different models, and in arrays, it's tedious to convert them all. I'd rather not monkey patch either. And I can't think of a reason why rails shouldn't do this by default. And it works with sqlite so it should be consistent regardless of the database adapter.

[2016-02-29 06:36] fillman commented on #23949
@jeffblake I understand, you're correct about same behaviour across different adapters:
[code]

But this is what I get with sqlite3. It doesn't convert to `datetime` passed `float`.
Strange thing it doesn't respect the type casting and simply stores float in that column.
While postgres and mysql throws an error.

Not sure if that's a bug or simply sqlite3 implementation. But typecasting for dateti

[2016-02-29 06:41] fillman commented on #23925
@lygaret I can confirm this is an issue. I tried to fix by simply first checking if there's a handler for exception (**not** its cause aka `exception.cause`) but this breaks tests.

[2016-02-29 10:10] fxn commented on #18874
Listen is only able to listen to existing files (inherits this limitation from the underlying OS libs).

The new evented monitor has some workarounds to make it behave similarly to the non-evented one. For example, if *db/schema.rb* does not exist when the application launches, it monitors the *db* directory and the callback is the one that filters. And since the interface is generic, indeed it ne

[2016-02-29 11:14] FooBarWidget commented on #23950
That is an inconsistency. In-app Action Cable works fine on Unicorn, Passenger open source and any other single-threaded app servers. The only requirement is Rack socket hijacking, which all app servers nowadays support except WEBrick.

[2016-02-29 11:14] heaven commented on #23209
@maclover7, @vipulnsward can someone please confirm and reopen?

[2016-02-29 11:45] dhh commented on #18874
Yes, I think it's fine that this is only picked up when the files are present for the RC. That just makes things better than they are today. Then we can improve from there.

[2016-02-29 11:59] wyde19 commented on #18492
@arturnn
Can you, please, tell why?
Or provide a link to some rails contribution guidelines, which made you do so?

[2016-02-29 13:06] rafaelfranca commented on #23848
This seems like a problem in your environment. Closing since it is not a Rails bug.

Thank you so much for reporting it.

[2016-02-29 13:06] #23848 closed

[2016-02-29 13:07] fxn commented on #18874
@dhh excellent, guess Basecamp has that config in *config/spring.rb*?

[2016-02-29 13:15] petermumford opened #23960 "Rails 5 polymorphic associations not saving"
Hello. I am trying to create a polymorphic association with a has_many :through for categories.

### Steps to reproduce
I have created two very simple repositories one with **[Rails 5.0.0.beta3](https://github.com/petermumford/testpoly5)** and the other using **[Rails 4.1.13](https://github.com/petermumford/testpoly)**, **which works as expected**.

### Expected behavior
When you create an event w

[2016-02-29 13:19] dhh commented on #18874
Yep!

On Mon, Feb 29, 2016 at 2:08 PM, Xavier Noria <notifications@github.com>
wrote:

[2016-02-29 13:37] eileencodes commented on #23960
Hi @petermumford, thanks for the report! In Rails 5 belongs_to is required by default so if you add `optional: true` to your belongs to does the test pass? Technically this is correct behavior because the record is not valid because it's required by default. There was a change I made to validations where this would have been returning `valid?` as true but that was incorrect behavior and I reverted

[2016-02-29 13:38] rafaelfranca commented on #23903
empty output in the terminal? it is expected. Rails doesn't log to stdout by default in production.

[2016-02-29 13:38] rafaelfranca commented on #23903
empty output in the terminal? it is expected. Rails doesn't log to stdout by default in production.

[2016-02-29 13:41] pixeltrix commented on #23890
@bluehallu the only question is what would the non-shallow routes become - `store_area_checks_path` or `area_checks_path` ?

[2016-02-29 14:52] petermumford commented on #23960
Hi @eileencodes. I've added optional to my `belongs_to` association and now it works. So my model looks like this now:

  belongs_to :category
  belongs_to :categorisable, polymorphic: true, optional: true
end

Thank you. What is the correct way of doing this now then? Do you have this documented anywhere, appreciate this is still new but thought I'd ask just in case.

[2016-02-29 16:51] prathamesh-sonpatki opened #23964 "Accessing `response.body` inside any controller action messes up the response"
I was trying to set strong ETags header by using the response.body inside the controller

[code]

But it gives following error -

[code]

[2016-02-29 17:41] bluehallu commented on #23890
@pixeltrix since no store is involved, I would expect

[2016-02-29 18:22] #17864 closed

[2016-02-29 19:59] vipulnsward commented on #23964
This is probably something we should document?
You have used `response.body`, which similar to creating response out of the action, after which you are setting some header on already created response, which is causing an error.
I don't see someone calling `response.body` and using response header though.

[2016-02-29 21:23] vsorlov commented on #23964
this is caused by https://github.com/rails/rails/commit/69009f4473637a44ade26d954ef5ddea6ff903f2#diff-0b53645cdb23933ef05759b2426f069aR42

both @response.sending? and @response.sent? are true

[2016-02-29 21:35] lygaret commented on #23925
CC @skippy - just realized I forgot to mention you here - saw your comments on the original PR.

[2016-02-29 21:46] skippy commented on #23925
@lygaret thank you for the detailed bug report.

[2016-02-29 21:53] #22726 closed

[2016-02-29 22:40] #18874 closed

[2016-02-29 22:59] ylansegal commented on #23263
For the benefits of others that stumble upon the same issue: I had the same issue described by the OP when updating rails: `concurrent-ruby` is added as a dependency, even though it's not required. The interesting part, is that if I run bundle install again, it disappears:

[code]

This happens in jruby-1.7.24 and MRI 2.1.8, both running bundler 1.11.2.

[2016-02-29 23:45] eileencodes commented on #23960
Yup @petermumford that's the correct way. I'm going to update the documentation. Sorry for the confusion!

To get the old Rails 4.1 behavior you can change this line to `false` in your app. https://github.com/petermumford/testpoly5/blob/master/config/initializers/active_record_belongs_to_required_by_default.rb#L6

The reason you're seeing the error on categorizations and not category is because yo

[2016-02-29 23:45] #23960 closed

[2016-02-29 23:46] eileencodes commented on #23960
I closed because there's another open issue to fix the documentation so we don't need two :smile:

[2016-03-01 00:14] eileencodes commented on #23911
I don't really see a good place to add more documentation for this. The default required is only present in new applications. Upgraded applications don't get the `Rails.application.config.active_record.belongs_to_required_by_default = true` initializer. It's already in the release notes. It doesn't make sense to add it to the upgrade guide because it's not a required step in upgrading.

There's do

[2016-03-01 00:14] #23911 closed

[2016-03-01 00:14] sanford commented on #23931
@dhh did your message get cut off?  (the trailing 'a')

[2016-03-01 00:20] brianbroderick opened #23975 "ActiveSupport EventedFileUpdateChecker wrong number of arguments in JRuby"
### Steps to reproduce

`rails _5.0.0.beta3_ new rails_5_test --api`

Entire Gemfile:
`source 'https://rubygems.org'`
`ruby "2.2.3", { :engine => "jruby", :engine_version => "9.0.5.0" }`
`gem 'rails', '>= 5.0.0.beta3', '< 5.1'`

Bundle and Console:
`bundle install`
`rails c`
### Actual behavior

Get this error:

`ArgumentError: wrong number of arguments calling`sub`(0 for 1)

[2016-03-01 01:44] #23950 closed

[2016-03-01 02:58] fillman commented on #23924
Just adding the script to reproduce the issue here.

[code]

[2016-03-01 03:01] chrisbloom7 commented on #21459
This is not fixed in Rails 4.2.5, I'm still getting doubled subdirectories in my routes. I downgraded to 4.2.2 and it works as expected.

[2016-03-01 03:23] authorNari opened #23977 "ActiveRecord::Associations::CollectionProxy#clear doesn't call remove callback with has many through"
### Steps to reproduce

This test case is failed. Is it intended?

[code]

[code]
### Expected behavior

I think after_removed should be fired.
### Actual behavior

before_removed and after_removed don't call.
### System configuration

**Rails version**:

rails 5.0.0.beta3

**Ruby version**:

[code]

[2016-03-01 05:29] TrevorHinesley commented on #16791
For the record, a work-around for this is to change:

`Model.all.sum(:column)`

to:

`Model.all.map(&:column).inject(:+)`

The caveat is this can result in `nil` if `Model.all` is empty. Something like the following may be a viable alternative if that's an issue for you:

`Model.all.map(&:column).inject(:+) || 0`

[2016-03-01 06:06] claudiob commented on #23911
Thanks for the solid counter-report, agent Eileen!! :cop: :laughing:

[2016-03-01 07:07] greyder commented on #23470
Hi, I tried updating an **API only Rails 5.0.0.beta2** to **Rails 5.0.0.beta3**, and I suddenly can't get my tests to run. It displays this error:

`railties-5.0.0.beta3/lib/rails/railtie/configuration.rb:95:in `method_missing': undefined method `assets' for #<Rails::Application::Configuration:0x007f80066191e8> (NoMethodError)`

I was able to solve the issue by removing the ff. generated files:

-

[2016-03-01 07:34] AmitPatel-BoTreeConsulting commented on #19880
I am not sure but I am facing the issue with config gem in Rails 4.2.5 running on Phusion Passenger in production, which could be related to this.

http://stackoverflow.com/questions/35698111/settings-returns-nil-for-all-configurations-which-reads-from-environment-variabl

[2016-03-01 07:47] jarkelen opened #23978 "Rails 4.2.5.2: ActionView::Template::Error (incompatible character encodings: UTF-8 and ASCII-8BIT)"
### Steps to reproduce
* Update Rails from `4.2.5.1` to `4.2.5.2` and do a `bundle update rails`
* Deploy Rails app to Heroku
* Some pages (which are views with Haml) give a `ActionView::Template::Error (incompatible character encodings: UTF-8 and ASCII-8BIT)`
* A rollback to previous release on Heroku and the page is working again

### Expected behavior
Page should work as normal

### Actual beha

[2016-03-01 08:00] brchristian commented on #23829
In https://github.com/rails/rails/pull/23598#issuecomment-189675440, DHH says that `Topic.offset(1).second_to_last` should return `<Topic id:  4>`. This would imply that `Topic.offset(1).last` should return `<Topic id:  5>`. This behavior also seems sensible to me.

[2016-03-01 08:01] anujaware commented on #23978
@jarkelen Can you please print the trace here?

[2016-03-01 08:05] jarkelen commented on #23978
* It also happens on development environment, not only on Heroku
* It seems to be happening on bootstrap tags only

Trace:
[code]

[2016-03-01 08:15] brchristian opened #23979 "ActiveRecord first() and last() behave differently with limit()"
### Steps to reproduce

[code]
### Expected behavior

I would expect that, for any ActiveRecord relation, `first(n).size` and `last(n).size` would always be equal.
### Actual behavior

The `first(n)` method seems to "overwrite" the `limit(1)`, whereas the `last(n)` method respects it. As a result, `Topic.limit(1).first(2).size` is 2 and `Topic.limit(1).last(2).size` is 1.

In my opinion the behavi

[2016-03-01 08:22] petermumford commented on #23960
That's great. Fully understand, thank you.

[2016-03-01 08:31] chashmeetsingh commented on #23978
@jarkelen  can you upload a sample app for reviewing it ?

[2016-03-01 09:27] chancancode commented on #23881
d150f59 should fix your application, do you mind testing master again and reopen this issue if you found anything else?

[2016-03-01 09:27] #23881 closed

[2016-03-01 09:35] albertopriore commented on #19761
@naiyt for me your fix will solve my problem

[2016-03-01 09:42] paulleader commented on #23919
Falling back to `Array#count` would be my preferred approach. Alternatively raising an exception (ArgumentError in this case).

Personally I see passing a block to a method as a pretty clear signal of intent from a programmer that they are expecting that block to do something, so I'm not sure just having a warning is a good compromise. Either do something with the block or stop and error.

I'll tr

[2016-03-01 09:50] mechanicles commented on #23979
I also confirmed this issue. `first` and `last` methods behave differently while using it with `limit`. This happens with gem (4.2.0) as well as with master.

https://gist.github.com/mechanicles/e8192f3d24aa1c186aee

Output:

[code]

[2016-03-01 10:35] dhh commented on #23931
That was just a stray. As long as we keep the generator generating CS, then
I'm fine with the initializer being JS.

On Tue, Mar 1, 2016 at 1:15 AM, sanford <notifications@github.com> wrote:

[2016-03-01 11:37] sanford commented on #23931
Sure, but if coffeescript is becoming a must-have for Rails, then maybe its a better idea to make javascript and coffeescript live side-by-side easier without relying on gem include side-effects.

From what I understand, the recommended way to disable coffeescript in generators is to remove 'coffee-rails' from the Gemfile.  That is at odds with .coffee being a must have requirement for action cabl

[2016-03-01 11:56] dhh commented on #23931
Not sure I follow. If you disable coffee script, what is the cable
generators going to generate? You'll write another set of generators for
Cable that outputs vanilla JS?

On Tue, Mar 1, 2016 at 12:38 PM, sanford <notifications@github.com> wrote:

[2016-03-01 12:12] pixeltrix commented on #23978
It seem unlikely that 4.2.5.1 -> 4.2.5.2 is the cause after reviewing this changes here:
https://github.com/rails/rails/compare/v4.2.5.1...v4.2.5.2

Did any dependent gems get updated at the same time? For example when I ran `bundle update rails` last night for one of my apps it updated sprockets and sprockets-rails as well.

[2016-03-01 12:35] pixeltrix commented on #23949
@jeffblake it's because both `Fixnum` and `Float` don't respond to `in_time_zone`. Whether we want to add those methods is debatable but if you want to add them for your app the easiest solution is to add them in an initializer like this:

[code]

I'm leaning towards adding them but I know a lot of people object to Active Support extending core classes so I'm open to being persuaded not to. :smile

[2016-03-01 12:45] sanford commented on #23931
Can we just have the cable generators pass the .coffee through the coffeescript compiler if .js is set as the default?  No need for two sets of generators.

[2016-03-01 12:54] dhh commented on #23931
Do give that a try. Like that idea.

On Tue, Mar 1, 2016 at 1:46 PM, sanford <notifications@github.com> wrote:

[2016-03-01 13:00] pixeltrix commented on #21459
@chrisbloom7 the commit that fixes it (37864d7) isn't in 4.2.5 - it will be in 4.2.6. The release process for 4.2.5 took quite a while so it was already branched off 4-2-stable at the point I backported it.

[2016-03-01 13:23] joker-777 opened #23982 "inconsistency in time_ago_in_words when being in March"
### Steps to reproduce

It is right now the 1st of March and usually I get "about 1 month" when I call `time_ago_in_words(1.month.ago)`. But today I get "29 days" because the February is shorter then the other months.

### Expected behavior
I would expect to get "about 1 month" too even though the February is shorter then the other months.

### System configuration
Rails 4.2.5.1
ruby 2.2.0p0 (2014

[2016-03-01 13:38] ValMai commented on #23982
Sorry for barging in, but do you mean `It is right now the 1st of March` instead of `1st of February`?

[2016-03-01 14:20] chrisarcand commented on #23982
Seems logical. I'll correct this if a committer can confirm such a change would be welcome.

[2016-03-01 14:35] rafal-brize commented on #22563
@pehrlich Have a look at this PR for a workaroud and fix https://github.com/rails/rails/pull/23983

[2016-03-01 15:18] rafaelfranca commented on #23978
Agree with @pixeltrix. All the 4.2.5.2 patches made was to check by `permitted?` flag in parameters, it could not break any view with an encoding error.

I'll close this issue but please keep us posted with your findings so we can reopen if needed.

[2016-03-01 15:18] #23978 closed

[2016-03-01 16:00] Kapeli opened #23984 "Guides for v3.2 don't work"
### Steps to reproduce

Go to http://guides.rubyonrails.org/v3.2/

### Expected behavior

Guides work

### Actual behavior

Guides don't work: 403 Forbidden

[2016-03-01 16:12] fxn commented on #23984
The generation for 3.2.22.2 failed due to some AV stuff I have to investigate. Have linked to 3.2.22.1 meanwhile.

[2016-03-01 16:12] #23984 closed

[2016-03-01 16:30] schneems commented on #23681
What is the mismatch? Previously `rails s` didn't read in config/puma.rb` now it should have much greater parity with the `puma` command in Puma 3.0+

[2016-03-01 16:49] brchristian commented on #23979
@mechanicles What you are seeing in your test may also be related to https://github.com/rails/rails/issues/23607 as well, where `first` imposes primary key order but `last` does not.

[2016-03-01 17:44] joker-777 commented on #23982
@ValMai You are totally right. I changed it now to March :-)

[2016-03-01 18:18] #23947 closed

[2016-03-01 18:20] rafaelfranca commented on #23931
Closed by https://github.com/rails/rails/pull/23935

[2016-03-01 18:20] #23931 closed

[2016-03-01 18:43] Kapeli commented on #23984
3.2.22.2 are the docs I need. Should I open a separate issue about that or there's no need?

[2016-03-01 18:46] rafaelfranca commented on #23984
@Kapeli we are going to fix it and publish with to `v3.2`

[2016-03-01 19:11] erikse commented on #23978
We noticed updating Rails 4.2.5.1 to 4.2.5.2 with `bundle update rails` pushed the version of sprockets from 2.x to 3.x in our app, so that was quite an unexpected step!

alphagov/smart-answers#2320

The 4.2.5 to 4.2.5.1 update on the 26 Jan, with the same command, seemed okay leaving sprockets at 2.x

alphagov/smart-answers#2253

[2016-03-01 19:51] guigs commented on #19761
I hit this issue with my app today. I made a monkey patch based on #19773 and it solved the problem.

[2016-03-01 19:52] fxn commented on #23984
@Kapeli We'll fix somehow, but 3.2.22.2 and 3.2.22.1 have no difference in the guides (https://github.com/rails/rails/compare/v3.2.22.1...v3.2.22.2).

[2016-03-01 20:27] jeremy commented on #23778
@AndreasWurm Could you check with master now that #23807 merged?

[2016-03-01 20:29] walterdavis opened #23988 "ActionMailer does not quote the label portion of the address in the From header"
### Steps to reproduce

1. Create a mailer, set it to use a From address containing a comma: `from: 'Sammy Davis, Jr. <sammy@example.com>'`.
2. Send through SMTP.
3. (result) `501 5.1.7 Bad sender address syntax`

### Expected behavior
If you format such a From: header in a desktop mail client, it will wrap the Sammy Davis, Jr. portion in double-quotes, and the mail will go through correctly.

###

[2016-03-01 20:30] rubys opened #23989 "Delivering mail causes tests to fail"
### Steps to reproduce

[code]

[2016-03-01 20:33] jeremy commented on #23626
@xanview You'll need to dig in a bit more to diagnose. Try using e.g. rack-mini-profiler to get a perf profile of the slow request: https://github.com/MiniProfiler/rack-mini-profiler

[2016-03-01 20:51] jeremy commented on #23988
You're expected to provide a valid email address, including proper quoting. Determining how to correctly quote a misquoted address isn't straightforward.

Using the (mail)[https://github.com/mikel/mail] lib to demonstrate:
[code]

We could fail earlier, though, before delivery.

[2016-03-01 20:51] #23988 closed

[2016-03-01 21:05] naiyt commented on #19761
Since multiple people seem to be running into this same problem, I brought my branch back up to date and fixed the merge conflicts. It'd be great to see if we could get that merged. Anyone know who would be the best to review it that I could contact?

[2016-03-01 21:18] rubys commented on #23989
Number tests that fail vary on each run.  For best results, try:

    rake test TESTOPTS="--seed=2"

[2016-03-01 22:46] gregory commented on #23318
Ran into the same issue when bumping from `3.2.22.1 to 3.2.22.2` - Bumping rspec-rails did the trick.

[2016-03-01 22:55] merhard commented on #21459
@pixeltrix Are you sure? That commit is listed in the [v4.2.5 Changelog](https://github.com/rails/rails/blob/v4.2.5/actionpack/CHANGELOG.md). The company I work for has been using Rails `>= v4.2.5` in production since it was released and have not seen this issue occur on that version.

@chrisbloom7 Does upgrading to Rails v4.2.6.rc1 solve your issue? If not, please provide a sample application or

[2016-03-01 23:37] joshuaflanagan commented on #23104
I get that this is the correct behavior - ActionController::Parameters is not a hash.

However, would you accept a PR that adds `#dig` to the ActionController::Parameters API? It is a really convenient API, and developers will get used to it as 2.3 is adopted.

I don't see how it would expose any security issues that aren't already exposed by `#[]`, since it can be just a wrapper around that exist

[2016-03-02 01:06] AndreasWurm commented on #23778
@jeremy
changed to rails master but either I get this error from javascript "Uncaught Error: Existing connection must be closed before opening" and I cant send through the channel since its undefined or puma just stops responding at all. So cant really test the scenario. Also just from looking at the patch I suspect it doesnt fix my original issue since it basically just does the same as before: c

[2016-03-02 02:19] ssaunier opened #23994 "Rails test does not recognize the `--pride` flag"
Hi everyone, minor issue here.

### Steps to reproduce

When running :
[code]

It says:

[code]

Launch the command:
[code]

### Expected behavior
Rails test should output with pride!

### Actual behavior
It seems that `--pride` has no action on the output. Running `rails test` with or without gives the same output on stout.

### System configuration
**Rails version**: 5.0.0.beta3

**Ruby version*

[2016-03-02 02:36] rthbound commented on #23964
This would recreate: https://gist.github.com/rthbound/0f15b2295a2995ae1ab5

The commented out bits, would make use of this for a workaround: [compare origin:master...rthbound:adds-workaround-for-23964-via-rewind](https://github.com/rails/rails/compare/master...rthbound:adds-workaround-for-23964-via-rewind?expand=1)

[2016-03-02 03:10] rthbound commented on #23964
[This branch](https://github.com/rails/rails/compare/master...rthbound:fixes-23964?expand=1) tries to fix it by allowing a user to call `response.body(should_send = false)`. This change has `should_send` defaulted to `true`, but it'd be better to default the other way... So, call `response.body(true)` internally when sending so that a user could just call `response.body` as usual.

[2016-03-02 04:39] simsalabim opened #23997 "Nested params are parsed incorrectly (unexpectedly) in controllers"
Hi all, I ran into some inconsistency with controller parsing nested params.
### Steps to reproduce

[code]

https://gist.github.com/simsalabim/6785d3c85bdd20f2e7c5
### System configuration

**Rails version**: 5.0.0.beta3 (current master)
**Ruby version**: 2.3.0

Oddly enough, the gist fails on earlier versions of Rails too (4-2-stable, 4-1-stable), while our production app works fine on 4.2.5.

C

[2016-03-02 06:37] vipulnsward commented on #23997
I can confirm this on master.

[2016-03-02 08:13] atomAltera commented on #23707
@droptheplot oh, thank you. You had really rescued me :)

[2016-03-02 09:44] mechanicles commented on #23607
I have sent PR for this fix here #24000

[2016-03-02 10:29] mechanicles commented on #23979
@brchristian This issue also got fixed in this PR #24000 too

[2016-03-02 11:37] nathell commented on #23339
Per the [discussion in original commit](https://github.com/rails/rails/commit/d3684c4154df66059ba77d022eca285563b8f506#commitcomment-15772711), this is not a bug in Rails and so this issue should be closed.

[2016-03-02 11:50] ojab opened #24004 "Intermittent test failures after `Publish AS::Executor and AS::Reloader APIs`"
Looks like d3c9d80 (according to my bisect) leads to intermittent test failures in my [in-house] app.
Test [rspec + factory_girl] that looks in a nutshell like this:
[code]
sometimes produces output:
[code]

Unfortunately I'm unable to make reduced testcase, maybe you can point me how to debug this further.
cc @matthewd