[2021-06-29 23:58] #42645 closed

[2021-06-30 00:02] kyrofa commented on #42645
Of course, my apologies.

[2021-06-30 00:53] zzak commented on #42645
@kyrofa No worries! Sorry my answer was a little short was on my way out of the door ❤️

[2021-06-30 00:56] emmanuelajaero commented on #33496
https://s3.amazonaws.com/railsinstaller/Windows/railsinstaller-3.4.0.exe

you can download it from the link

[2021-06-30 01:53] chris-gooley opened #42646 "select and select_tag have inconsistent method definitions"
This has been something which has bugged me since Rails 3.
`select` and `select_tag` have inconsistent method declarations.

`select(method, choices = nil, options = {}, html_options = {}, &block)`
`select_tag(name, option_tags = nil, options = {})`

Naming conventions aside, `select` has separate parameters for `options` and `html_options` where as `select_tag` merges them into one.

Is there a r

[2021-06-30 02:09] zzak commented on #42646
@chris-gooley Could you direct your question to [discuss](https://discuss.rubyonrails.org)? We only use the [bug tracker](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#reporting-an-issue) for actual bugs and patches. Thank you for understanding!

[2021-06-30 02:45] #42646 closed

[2021-06-30 03:35] kyrofa commented on #42645
Hey, I get it, I've been there!

[2021-06-30 06:18] casperisfine commented on #42611
Weird, I tired that first and it didn't seem to work.

[2021-06-30 09:59] intrip commented on #41491
@andynu I think the purpose of `schema:load` is to run it from an empty new database hence in order to make sure it works you need to re-create the database at first.

[2021-06-30 10:22] ce07c3 commented on #40318
It's just an example. Even if that were the only problem, if it's 99%, it's still not _generally true_, unfortunately, which the documentation should strive for.

There are other deserialization errors that can occur.

I believe all that needs to be changed is the comment.

[2021-06-30 11:47] blk0 commented on #24796
[code]

[2021-06-30 12:42] kapcod commented on #31445
As stated by the author of the issue 3 years ago, Rails `includes` is supposed to be smart enough to give exactly the same results as without `includes` just with preloading. Worst case, in case the `case` doesn't match it should ignore the value not throw exception.

Rails 6 still throws this error in case of same value (as per DB) but different case.

Having a case-insensitive column is OK in an

[2021-06-30 13:03] andynu commented on #41491
Hi Jacopo, I can't speak to original intentions, but I can speak to prior
behavior. Up until this foreign key was added it worked to reset the schema
regardless of if tables were there or not. I know I found that behavior
useful.

I'm in favor of the former behavior. If it could be restored by re-ordering
the statements, or calling db:drop automatically prior to db:schema:load, I
think that would

[2021-06-30 14:36] ghiculescu commented on #42611
Maybe it depends where you call it from, but https://github.com/rails/rails/blob/main/actionpack/lib/action_dispatch/middleware/stack.rb#L132 seems like it wants a class, not an instance.

[2021-06-30 14:51] ghiculescu commented on #42611
Oooops I lied. That doesn't work.

[2021-06-30 15:22] ghiculescu commented on #42611
Here's why my method didn't work https://github.com/rails/rails/pull/42652

[2021-06-30 15:28] ghiculescu commented on #40318
Okay, I see your point - do you want to propose new wording? https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html runs you through how to make a PR with your proposed changes 👍

[2021-06-30 16:51] pjmartorell commented on #27077
Could you confirm if this feature works when changing a table (not creating it)? I'm getting an exception on SQLite3: `SQLite3::SQLException: Cannot add a column with non-constant default`

[2021-06-30 17:13] JoshCheek opened #42653 "CommandRecorder doesn't invoke recorded commands correctly on Ruby 3"
The `ActiveRecord::Migration::CommandRecorder` records commands and then replays them later. However it does not invoke the original commands correctly on Ruby 3, because it does not consider keyword arguments.

### Steps to reproduce

[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 6.1.3.2

**Ruby version**: ruby 3.0.1p64 (2021-04-05 r

[2021-06-30 17:19] JoshCheek commented on #42653
cc @maribies

[2021-06-30 17:52] brenogazzola opened #42656 "Engines have trouble figuring out tables/foreigns keys for their relations"
### Steps to reproduce

Start by creating an engine and models. Notice `contact` is not namespaced, `foo_template` is, to demonstrate the two possible errors.
[code]

Adjust the model:
[code]

Enter console and try to create a message:
[code]

In the first case it can't figure out the correct table. In the second it can't figure out the correct column. Using `class_name` does not help. This is wha

[2021-06-30 18:47] borisd opened #42660 "Migration breaks when model used inside (full reproducible steps)"
### Steps to reproduce

	$ rails new sample
	$ rails g model book

Change the created migration to the following code:

[code]

    rake db:migrate

This results in

    ActiveModel::UnknownAttributeError: unknown attribute 'title' for Book.

### Expected behavior
A new instance of `Book` model should be created with `title` set

### Actual behavior
The `add_column` directive fails to work

### No

[2021-06-30 18:54] ghiculescu commented on #42660
Does [`Book.reset_column_information`](https://api.rubyonrails.org/classes/ActiveRecord/ModelSchema/ClassMethods.html) fix the issue?

[2021-06-30 19:22] borisd commented on #42660
It does!

Looks like accessing the model before `add_column` loads the schema and `add_column` does not reset it.

Wonder if `reset_column_information` shouldn't be done by any methods that mutate tables.

[2021-06-30 19:27] ghiculescu commented on #42660
Yeah, that's right. I suspect this is done for performance reasons since in the majority of migrations would not need to access schema information between schema changes.

I'm going to close this for now as this doesn't appear to be a bug in Rails 👍

[2021-06-30 19:27] #42660 closed

[2021-06-30 19:48] lelandmiller opened #42661 "ActiveRecord migrations report an error on the wrong column"
I experienced this in MySQL, though it may show in other adapters. I did not see this in the SQLite adapter.

In this case the error reported when running this migration indicated that the problematic column was the bigint_id_model foreign key column, when it was actually the integer_id_model.

We seem to report the first column for other issues on the second column as well, this was just the firs

[2021-06-30 23:51] kul-p commented on #39278
I tried v. 6.1.4 still not include this bug fixed. Which branch/version ? include this fix/Thanks

[2021-07-01 02:05] Lomig commented on #41221
I don't know what will be the official way, but I did it this way:

## Prerequisites
* hotwire-rails

## CSS
* Copy the CSS file in your asset pipeline (https://github.com/basecamp/trix/tree/main/dist)

## JS Libraries
* In `app/assets/javascripts/libraries` create these two files
* Updated content may be found on https://www.skypack.dev

[code]

[code]

## Import through Stimulus
* In `app/assets

[2021-07-01 03:18] prateekvyas2121 commented on #14401
so the conncludion is 'Concerns::SomeConstant' will be treated like 'SomeConstant'!
it took me almost an hour to figure this out, may be disadvantages of not learning the documentation first LoL

[2021-07-01 03:20] prateekvyas2121 commented on #36054
so the conncludion is 'Concerns::SomeConstant' will be treated like 'SomeConstant'!
it took me almost an hour to figure this out, may be disadvantages of not learning the documentation first LoL

[2021-07-01 11:21] justin808 opened #42663 "With the schema_cache supporting gz for loading, it should automatically gz when creating"
Following up from https://github.com/rails/rails/pull/38566, it's awesome that @kytrinyx enabled support for a `.gz` format. However, the rake task to create the file creates the uncompressed file with the .gz suffix.

### Steps to reproduce
Add this line to the db/config.yml:

[code]

Run rake task:

[code]

File db/schema.yml.gz is created but it's not gzipped!

### Expected behavior
File should

[2021-07-01 11:29] justin808 opened #42664 "When using the schema cache, there's no good way to verify it's used at startup"
@rafaelfranca Would you be open adding logging a

[code]

right in front of this line: https://github.com/rails/rails/blob/main/activerecord/lib/active_record/railtie.rb#L158

### Steps to reproduce
Create a schema cache file:

[code]

then run

[code]

### Expected behavior
There should be some logging to determine if the schema_cache is used.

### Actual behavior
I couldn't figure out a way.

##

[2021-07-01 11:51] eileencodes opened #42665 "Add a linter to always use OpenSSL"
As a followup to https://github.com/rails/rails/pull/41722 we need a linter to make sure that any new code going into rails/rails fails a rubocop rule if it does not use `OpenSSL::Digest` and instead uses `Digest`.

[2021-07-01 12:27] jepzen opened #42667 "rails routes adds not existing structure to path when engine named 'Collection'"
### Steps to reproduce
Create a new rails app.
Generate and Engine with the name "Collection"
Mount the engine and generate a scaffold in the engine
Run rails routes

Sample repo here
https://github.com/jepzen/bad_module_name

### Expected behavior
I expect the outcome of `rails routes` to be
`posts GET    /posts(.:format)          collection/posts#index`

### Actual behavior
not prefixed with 'ra

[2021-07-01 13:34] mdemare commented on #42667
In your repo, `Collection::Engine` is a subclass of `Rails::Engine`, which includes `Rails::Initializable`, which contains a constant called `Collection` (full name `Rails::Initializable::Collection`) which according to Ruby's constant lookup rules gets preference over your own `::Collection` module.

So, technically not a bug - use `isolate_namespace ::Collection` instead of `isolate_namespace Co

[2021-07-01 13:41] jepzen commented on #42667
Yeah you are right. Thanks a lot!

[2021-07-01 13:41] #42667 closed

[2021-07-01 14:09] markhallen commented on #42665
Hi @eileencodes. I'd like to look at this. Should I be assigned or should I just submit a PR? Thanks

[2021-07-01 15:11] intrip commented on #41195
not stale

[2021-07-01 15:11] ghiculescu commented on #42663
Hmm, [this](https://github.com/rails/rails/pull/38566/files#diff-88a3187247c061ad9f74c57ca178697675b54496e05229d8509e306d637aff2fR212-R216) implies it will be gzipped on write. Do you have any idea how to fix it?

[2021-07-01 15:36] mujtaba-saboor opened #42669 "includes with string columns break - undefined method 'first' for nil:NilClass - ActiveRecord"
### Steps to reproduce
`Arel.includes(:association_name)` gives an error if the joining columns of both the tables are String, and one of the columns has the same string but empty spaces in it.

In my case I had two models `user.rb` and `assets.rb`. In `asset.rb` I had an association:
[code]
and when I call
[code]
It gives `NoMethodError: undefined method 'first' for nil:NilClass`.
The reason behi

[2021-07-01 16:58] alexcameron89 commented on #42669
Hey @mujtaba-saboor, I'm not sure that we'd expect the behavior of stripping spaces from a string for association queries in the first place. I created a reproducible test script just to verify, and I don't see that the `:last_detected_user` would return the record either, which is the behavior I'd expect.

[code]

I may be misunderstanding the issue that you're seeing, so can you either verify th

[2021-07-01 18:08] chaffeqa opened #42671 "AR `has_many :through` `after_create` callback loses association collection information"
### Steps to reproduce

[code]

### Expected behavior
`purposes` collection should retain collection information in `after_create` callback

### Actual behavior
`purposes` does not retain collection information and an infinate loop occurs

### System configuration
**Rails version**: 5.2.5

**Ruby version**: 2.6.4p104

[2021-07-01 18:37] chaffeqa commented on #42671
[code]
Seems to work... maybe the solution is to discourage `after_create` ect for joins through models?

[2021-07-01 18:56] neontuna commented on #38695
Just a note for any other folks like me furiously pasting code they find online but don't actually understand - that `-v` flag is for verbose mode in pg_dump and is going to fill your `structure.sql` file with a bunch of comments that change slightly with every migration.  Therefore irritating your coworkers during code review :)

[2021-07-01 22:47] zzak commented on #24796
@blk0 Can you reproduce this in 6.1? Since 5.2 is no longer maintained for [bug fixes](https://guides.rubyonrails.org/maintenance_policy.html) it's unlikely this will get fixed.

[2021-07-01 23:18] zzak commented on #27077
@pjmartorell Since you are able to reproduce this bug, could you try writing an [executable test case](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case) and reporting back to us? Opening a new issue is preferred.

[2021-07-02 01:03] fatkodima commented on #42663
I'm seeing a gzipped file.
[code]

Can you reproduce this on a freshly generated app from the latest rails?

[2021-07-02 01:51] stefannibrasil commented on #42043
hi @zzak thank you for your suggestion.

We like your idea but we're not sure how to proceed. From our perspective, this sounds like a breaking change. We're happy to change the implementation if that's the direction you and @pixeltrix want to take :+1:

[2021-07-02 04:53] yahonda opened #42678 "Action View tests using Ruby 3.1.0-dev fails since https://github.com/ruby/ruby/pull/4586"
Action View tests using Ruby 3.1.0-dev fails since https://github.com/ruby/ruby/pull/4586 Refer https://buildkite.com/rails/rails/builds/78944#5ae555e6-0f48-4b8d-bd0f-fd722dee783f for CI failures.

### Steps to reproduce

1. Install Ruby 3.1.0-dev using rbenv and ruby-build or whatever.
2. Clone Rails repository and execute bundle update
[code]
3. Execute Action View CachedCollectionViewRenderTest

[2021-07-02 04:54] yahonda commented on #42678
They have been failing since https://github.com/ruby/ruby/pull/4586 , which introduces `error_highlight` gem.

I'm working on fixing them and have no idea how to address Action View failures yet.
These tests expect `ActionView::Template::Error` exception but it acutally raises `SyntaxError` at https://github.com/rails/rails/blob/f263530bf709f611920b5f663882e5113b4f984b/actionview/lib/action_view/b

[2021-07-02 05:04] zzak commented on #39278
@kul-p It looks like the patch was applied to 6.1.4 but if you can [reproduce](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case) it please feel free to open a new issue. 🙏

[2021-07-02 05:42] zzak commented on #41826
Correct me if I'm wrong but this seems like a non-rails issue, so closing. :bow:

[2021-07-02 05:42] #41826 closed

[2021-07-02 05:49] zzak commented on #42043
@stefannibrasil Could you elaborate on how this is a breaking change? Do you mean from the current behavior or the patch you've wrote?

Since `draw_routes` is already either true or false, introducing a third option `:disk_only wouldn't be breaking any compatibility afaict.

I'd like to wait and see what @pixeltrix thinks of this path before making a decision and suggesting more work for you thoug

[2021-07-02 07:52] XertroV opened #42679 "Queries with operators using `?` incorrectly detect them as bind variables"
### Steps to reproduce

This requires a postgres db -- save the repro script as `qm-bug.rb` if you want to use the 'one-liner' below for reproduction (requires docker).

[code]

Run this one-liner once you've saved the above as qm-bug.rb to verify:

[code]

### Expected behavior

Operators like `?|` should not trigger detection of a bind variable.

[Postgres has at least 4 operators with `?` in th

[2021-07-02 07:56] mame commented on #42678
Thank you for your trouble. This is not an intentional side effect. I've just pushed a fix that suppress a SyntaxError during error_highlight, so could you give it a try again? Thanks!

[2021-07-02 08:51] yahonda commented on #42678
I have confirmed this issue has been resolved. Thanks for the fix.

[code]

[2021-07-02 08:51] #42678 closed

[2021-07-02 12:13] mujtaba-saboor commented on #42669
Hey @alexcameron89 I'm using MySQL as my database, in my case empty space is saved to the database, for example
[code]
would assign email with empty space, but in your case, it is changed to `"mutjaba@github.com" and then saved.

My question is why does Rails join `candidate_email =>  'mutjaba@github.com     '` with `email => 'mutjaba@github.com'`. The two strings are separate in length. I agree I

[2021-07-02 12:26] intrip commented on #42679
@XertroV

Is pretty tricky to handle all the `?` variations just for PostgreSQL.

I think you can easily deal with such issue by naming your bind parameters instead of using the `?` in this way:

[code]

Let me know if I'm missing something.

[2021-07-02 12:27] intrip commented on #42671
@chaffeqa can you reproduce this also on Rails 6 ?

[2021-07-02 12:57] mujtaba-saboor commented on #42669
I've debugged it further, I've found that MySQL collation `utf8mb4_0900_ai_ci` removes trailing spaces before saving string type columns, whereas, I have collation `utf8_unicode_ci`. Can you retry your script with column collation set to `utf8_unicode_ci`? It will allow you to save strings with trailing whitespace and that is when the issue arises.

[2021-07-02 16:14] alexcameron89 commented on #42669
Thank you for the additional information, that was very helpful. It looks like the same issue came up in the past twice:
- 2014 - https://github.com/rails/rails/issues/15539
- 2020 - https://github.com/rails/rails/issues/39672

It also looks like the error itself has been fixed in `main` from https://github.com/rails/rails/pull/41385, although it is not a part of any versions yet. Now the `first f

[2021-07-02 16:14] #42669 closed

[2021-07-02 17:20] u2000 commented on #41221
A sprockets installer would be very welcome.

[2021-07-02 18:07] tcd commented on #29578
Why was this issue closed? This problem still exists.

[2021-07-02 19:08] hahmed commented on #29578
@tcd I will prepare a fix for this 👍

[code]

[2021-07-02 19:19] ryanstrickler commented on #42036
@annienero Was your solution to change the values in `RACK_ENV` and `RAILS_ENV` back to `production` or was there something else you had to do when working with Heroku?

We're dealing with a similar issue with ActionCable and haven't found a fix yet. We've tried all the suggestions above, plus we tried configuring Redis more directly in an initializer:

[code]

I'm wondering if there's some other

[2021-07-02 20:40] natemontgomery commented on #42189
I am towards the end of a Rails 5->6 upgrade and started encountering these errors.  In my case (a Vue v2 app) the errors were closely timed with this error in my Rails server running in Heroku:

[code]

[2021-07-02 23:35] zzak commented on #41221
@u2000 @Lomig Since we do not accept feature requests in issues, would you be willing to try a PR for this? :bow:

[2021-07-02 23:40] zzak commented on #42189
These types of bugs are really hard to fix if we can't reproduce them ourselves, but I realize re-creating the perfect environment to produce such bugs with ActionCable may be difficult. 🤔

[2021-07-03 00:25] XertroV commented on #42679
@intrip - thanks for the suggestion; named params work great.

I agree. Named parameters are a good solution.

Mostly an aside, but one other thing I noticed yesterday is that `?` is detected in a comment as a bind variable, too.

I'm okay with this issue being closed if it's now considered resolved.

[2021-07-03 05:54] SushantKumar29 opened #42688 "Active Storage + Rails not working with Docker + Nginx"
I am using active storage in rails 6 with Docker and Nginx. I am uploading an image through the rails console, i.e.,

`object.images.attach(io: File.open("#{Rails.root}/image_path"), filename: "image.jpg")`

It is uploading successfully, but the file is not getting stored in the specified location i.e., `Rails.root.join("storage")`. And for that, I am not getting the image files.

I am not sure if

[2021-07-03 06:58] #42597 closed

[2021-07-03 11:06] TheFehr commented on #35002
Does anyone have experience using more than one of those on the same form?
How can I configure the trix editor to use the correct hidden input field?

[2021-07-04 00:36] zzak commented on #42679
Thanks for following up @XertroV! 🎉

[2021-07-04 00:36] #42679 closed

[2021-07-04 01:11] zzak commented on #42688
@SushantKumar29 Could you upload a reproducible app and share it here with steps to reproduce?

I'm guessing it has something to do between docker and the storage service, not Rails itself but that might help us get to the bottom of it. :bow:

[2021-07-04 01:18] zzak commented on #42613
@DmytroVasin Can you verify this was fixed by #42601? 🙏

[2021-07-04 10:21] DmytroVasin commented on #42613
@zzak No :(

I've launched the test from the description on `main` branch ( `Using activerecord 7.0.0.alpha` ) and I've received same result (Empty array)

[2021-07-04 10:49] JoshCheek commented on #42653
Okay, I think I have it figured out:

The command recorder needs to keep ordinal and keyword args separate, the way it keeps the block arg separate. So for example, the `record` method, [here](https://github.com/rails/rails/blob/v6.1.4/activerecord/lib/active_record/migration/command_recorder.rb#L74-L84), and several of the others around it, would look like this:

[code]

I'm almost certain this i

[2021-07-04 11:02] eregon commented on #42653
See https://eregon.me/blog/2021/02/13/correct-delegation-in-ruby-2-27-3.html
`(*, **)` does not work reliably on Ruby 2.7 (only on 3+).

So I think you either want `ruby2_keywords def m(*args, &block)` or `(...)`.
If serialization of the kwargs is needed (e.g., store it outside the Ruby process), you might need `Hash.ruby2_keywords_hash? / Hash.ruby2_keywords_hash`.

[2021-07-04 11:10] Navdevl commented on #41830
@ghiculescu Is this still open? Can I pick this up and work on this? cc: @matt17r

[2021-07-04 12:01] vfonic commented on #39230
Can someone from the rails team have a look at this PR please? This is a third PR, trying to solve the same problem. All three of these PRs have been automatically marked as stale by a stale bot (I believe stalebot is useless and an insult to developers who dedicate their time and effort just to be rejected by a bot because no one else had the time to look at their PR).

I've been hit by this issu

[2021-07-04 13:15] JoshCheek commented on #42653
Thankyou, @eregon. Okay, after reading your blog and trying a whole bunch of things out, I think the only way to fix it is to fix the caller of record:

[code]

So the error occurred during the replay, but it was introduced during the recording step, like 6 method calls away, from a third party gem, and there doesn't seem to be much `ActiveRecord` can do about it.

I guess, I'll close this and pro

[2021-07-04 13:15] #42653 closed

[2021-07-04 13:28] eregon commented on #42653
That sounds good, and thank you for the kind words :)

I think any method taking `*args`, and then later calling a method which may use keyword arguments needs to be `ruby2_keywords` or `(...)` on 2.7+, otherwise the fact they were keyword arguments will be lost. (if Ruby 3+ is required, then (*args, **kwargs) also works, (*args) only works on 2.6 and before).
So I would think all methods like `de

[2021-07-04 14:17] qslcna commented on #42624
@alexcameron89  I think that it's because of wsl2 (https://github.com/microsoft/WSL/issues/4417)

[2021-07-04 19:12] athix opened #42696 "Globally strip null bytes for application"
Okay, so my Google foo is failing me, apologies if this has been answered before and I just can't find it.

I'm wanting to strip null bytes from all text columns because Postgres cannot accept null bytes, and my application doesn't care about storing them.

One approach that you can take is to override each attribute setter individually:

[code]

This works, but it quickly gets unwieldy if you nee

[2021-07-05 00:43] JoshCheek commented on #42653
Yeah, that helps a lot, it does report this issue:

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/77495/124403429-09402480-dcfc-11eb-90fb-e0e45aec34f6.png">

-----

Unfortunately, I think these keywords are going to be a bit of a PITA for a a while to come still 😞, because the problem is introduced far away from where it crashes.

Here is a reproduction of 70% of wha

[2021-07-05 06:09] p8 commented on #42696
Hi @athix,

You can post these kind of questions in the forum: https://discuss.rubyonrails.org/
Maybe you could override:
https://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/Write.html#method-i-write_attribute

We reserve the bug tracker for actual bugs and patches, so I'm closing this.

[2021-07-05 06:09] #42696 closed

[2021-07-05 06:40] prvinuch opened #42697 "Why the bundler showing this error or incorrect version"
### Steps to reproduce

I was trying to upgrade rails and ruby version and also tried updating the dependent gem, I'm getting this error which I'm not able to understand
[code]

[code]

### Expected behavior

as per my understanding, the version of actionpack is 6.0.4 which should be ok as public_activity gem also depends upon actionpack >=3.0.0 which is being satisfied by 6.0.4
and similarly for

[2021-07-05 06:44] athix commented on #42696
Looks like this gets the test suite passing, might be some gotchas I haven't run into yet, but it seems to be working!

[code]

Guessing that most of the rails internal calls are using the version of the method without the primary key check for speed.

[2021-07-05 08:43] skelz0r opened #42698 "config_for raises an error for arrays when there's only a shared key"
### Steps to reproduce

I'm using a config files to blacklist some jwt tokens like this:

[code]

In `application.rb`

[code]

### Expected behavior

[code]

### Actual behavior

[code]

It worked on rails 6.1.3.2, I think it has been introduced with https://github.com/rails/rails/commit/3fe0ab52dff018ed940ad45885c9d90208eb3cac (related issue: https://github.com/rails/rails/issues/42037 )

Thanks

[2021-07-05 12:53] p8 commented on #42697
Hi @prvinuch, thanks for reporting this issue.

You could probably run something like `bundle update rails actionpack` to fix this.
This is a Bundler issue instead of a Rails issue, so I'm closing it.
You might have more luck on the Rails forum: https://discuss.rubyonrails.org/

[2021-07-05 12:53] #42697 closed

[2021-07-05 14:24] intrip commented on #42698
@skelz0r I think `config_for` requires that root values should be associated to an hash key, for example this should be a valid:

[code]

Whilst your configuration is valid YAML I'm not sure if we want to allow non-hash root values

@byroot WDYT?

[2021-07-05 14:33] skelz0r commented on #42698
I hesitated indeed to open an issue, but I saw [this issue](https://github.com/rails/rails/issues/37800) which has a specific example (and bug) with root arrays.

Moreover, it works on 6.1.3.2, that's why I considered it as a regression.

In any case, that's strange to have a runtime error with only a `shared` key, and no errors when there's `production`, `test` or `development` defined as empty a

[2021-07-05 14:40] dark-panda opened #42699 "Encoding check on Active Record encryption serialization fails if value does not implement `#encoding`"
### Steps to reproduce

The recent changes to enforce encodings in AR encryption can cause values serialized with custom or alternative encryptors to fail if the serialized value does not support `#encoding`, as in the case of, say, `Array` or `Hash`. I'm using AR encryption in a project and we have a custom serializer that uses JSON values in Postgres, which means our encrypted output is wrapped

[2021-07-05 15:53] brenogazzola opened #42700 "Better document how to migrate active storage from image magick to libvips"
I had previously opened PR #42482 to show that ImageMagick and libvips are not fully compatible. But now that I have actually made the migration in a production app, I've noticed that was only one of the many things that need to be changed.

Is there a place in the documentation we can add this, to help other developers trying to make the move?

Gist with all the changes required:
https://gist.git

[2021-07-05 16:31] ghiculescu commented on #42700
Good question, I will ask around for second opinions. My gut feel it would make a great blog post (you've already half written it!) but not clear if it needs to live in the Rails guides.

[2021-07-05 16:35] ghiculescu commented on #42698
Agree it's a bug. I think a fix would be to change this line https://github.com/rails/rails/blob/398561bfbb7d156a141918df20b2fc622a94975d/railties/lib/rails/application.rb#L251 to `if config.is_a?(Hash) && shared.is_a?(Hash)`

[2021-07-05 16:35] brenogazzola commented on #42700
Sure. I suggested as part of rails because DHH did something similar for Turbolinks/Turbo:
https://github.com/hotwired/turbo-rails/blob/main/UPGRADING.md

[2021-07-05 19:04] victorlcampos opened #42701 "Allow preview_path accept a array, not only a string"
### Context
Hi Guys,

I used to work in a consultant firm, that have a lot of projects create above Ruby on Rails. For ship project faster, we create a lot of "modules" using Rails::Engine (https://guides.rubyonrails.org/engines.html). It works really well, but with some problems.

### Actual behavior
We load the engines using Gemfile path pointing to a relative path and git submodules to version

[2021-07-05 20:01] intrip commented on #42698
@ghiculescu thanks!

@skelz0r Would you like to make a PR since you opened the issue ? Otherwise I'll make one.

[2021-07-05 21:00] chaffeqa commented on #42671
yes rails 6 errors as well (used `gem "activerecord", "~> 6.0"`)

[2021-07-06 08:03] skelz0r commented on #42698
@intrip Yes I can do that!

[2021-07-06 09:12] skelz0r commented on #42698
I have a question: what the expected behaviour when shared is an array and another environment key is not ?

For example:

[code]

In my opinion it should raise an error with a message like this: `"shared and #{env} have a mismatch type: one is an array and the other an hash"` (if you have a better message I'll take it btw 🙃)

Moreover, should I make 2 different PRs or 2 commits on the same PR ?

[2021-07-06 09:16] skelz0r commented on #42698
I have an additional question: when there's 2 arrays it should concatenate them right ?

For example:

[code]

It should returns `%w( foo bar baz )` right ? It's not the case right now.

[2021-07-06 09:16] byroot commented on #42698
That's kind of the whole problem of this feature, the expected behavior isn't clearly defined.

But yeah, I think raising an error is the only reasonable thing to do.

[2021-07-06 09:17] byroot commented on #42698
No, only hashes should be merged.

[2021-07-06 09:21] skelz0r commented on #42698
Thanks for the quick replies!

So it should only returns the env key and ignore the shared key ? Should I write a test for this in order to clarify the behaviour ?

[2021-07-06 09:31] byroot commented on #42698
Yes, unless they're both hashes in which case we deep merge.

Absolutely.

[2021-07-06 09:50] skelz0r commented on #42698
Here we go https://github.com/rails/rails/pull/42707

[2021-07-06 10:22] #42698 closed

[2021-07-06 10:51] intrip commented on #42671
@chaffeqa thanks! I'll take a look.

[2021-07-06 10:51] justin808 commented on #42663
I didn't get a chance yet to create a fresh app. However, this is how I fixed the issue locally:

[code]

Here's the `SchemaCache.instance.fix_gzipped_cache`

[code]

[2021-07-06 11:04] dskloet opened #42709 "Getting started steps don't work on Ubuntu 18.04 LTS"
### Steps to reproduce

I'm new to both Ruby and Rails so I just wanted to try it out.
I'm following the steps on https://github.com/basecamp/rails#getting-started

First I got
[code]

Since it's a permission issue, I thought maybe I should run as root so I try with sudo

[code]

Since it still doesn't work, I copy the error message "ERROR: Failed to build gem native extension" into Google and fin

[2021-07-06 11:13] #42663 closed

[2021-07-06 11:14] justin808 commented on #42663
I can open a new issue if that's worthwhile.

[2021-07-06 11:22] fatkodima commented on #42663
@justin808 Yes, please open a separate issue with the use-case for discussion, if you would like.
Maybe other people have thoughts.

[2021-07-06 12:28] yahonda commented on #42709
How about installing bundler as follows?

sudo apt install ruby-bundler

[2021-07-06 12:42] ukolovda commented on #42157
How about `.to_sym` memory attack (Symbols are placed in "forever" memory and does not free)?

When I use `params[:tab_name].to_sym` operator, the application can consume all available RAM, if hacker will call it with different `tab_name` parameter. I should check parameter value in white list, then convert it to `Symbol`.

[2021-07-06 13:26] dskloet commented on #42709
After installing ruby-bundler I still get the same error
[code]

[2021-07-06 14:35] kul-p commented on #39278
@zzak Thanks, will check and update again.

[2021-07-06 14:35] yahonda commented on #42709
How about executing rails new with sudo as follows?

[code]

I think this is not a Rails issue then how about moving this question to https://discuss.rubyonrails.org/c/rubyonrails-talk/ if it still reproduces?

[2021-07-06 15:09] mildred opened #42711 "Allow to use different tables on different SQL operations (select, insert, update, destroy)"
I'm willing to provide an implementation as a PR

I think it would be nice to be able to choose a different table name depending on the current CRUD operation.

My use case is that I have a single model composed of a view and a table name. The view aggregates results from the table and from another source. The view is not updatable in itself. I'd like new records, updates and destroys to happen th

[2021-07-06 15:57] mildred commented on #42711
Alternative configuration could be:

[code]

It might simplify a bit the implementation and better allow for extensions in the future

[2021-07-06 16:39] Pagehey opened #42713 "ActiveRecord and JSONB: Incorrect quoting for array of value to look for"
### Issue
Since latest patch `6.1.4`, it seems there is a bug in queries over **jsonb** postgres's columns when passed an array in `where` query builder. The array elements seem to be "overquoted" jsons and thus query doesn't return expected records. This worked perflectly well in previous versions.

### Steps to reproduce
Its needs
[code]

### Expected behavior
Until `6.1.3`, when looking at the

[2021-07-06 19:51] davidwessman commented on #40613
I have been struggling with this error for a while now working on an upgrade from Rails 5.2.6 -> 6.0.4.

So far I have only seen it in tests, and in test.rb I have:
- `config.cache_classes = true`
- `config.action_view.cache_template_loading = true`

This is the only mentions I have found about similar issues.
Does anyone have any hints about how to solve this? Should I open a new issue?

I can se

[2021-07-06 19:54] sailor commented on #40126
Just realised that i forgot to answer, but the solution you proposed @fxn is working great. Thank's for the help!

[2021-07-06 20:15] ghiculescu commented on #42700
My thinking in that case is that `turbolinks` -> `turbo` is a pretty common upgrade path. Is imagemagic -> vips the same? I got the impression imagemagick is fine for most use cases and Rails is supporting both equally.

[2021-07-06 21:03] brenogazzola commented on #42700
You are right that there's nothing that Vips does that ImageMagick can't do. But I still believe Vips is a clear upgrade when compared to ImageMagick and have been recommending most people who are using active storage to make the switch. I'd go as far as to say that Rails Active Storage guide should do the same. Here's why I think that:

**It improves queue time**
Let's say you allow users to uplo

[2021-07-06 21:04] hyhuang1218 opened #42715 "ActiveRecord supports validate_uniqueness_of for json field"
### Steps to reproduce
Create a json field in `ApplicaionRecord` and verify the uniqueness of the field using `validate_uniqueness_of`.

Create a record with following json:
[code]

Then create another record with following json:
[code]

### Expected behavior
`validate_uniquess_of` should compare json natively and fail when creating the second record.

### Actual behavior
Currently, it always comp

[2021-07-07 03:07] qnighy opened #42716 "ActiveRecord 6.0.4 introduces extra JOIN on certain through assciations, breaking multi-database preloading"
### Steps to reproduce

Here is the reproduction script:

[code]

### Expected behavior

The test passes.

### Actual behavior

The test fails with exception `ActiveRecord::StatementInvalid: SQLite3::SQLException: no such table: post_images`.

### System configuration
**Rails version**: 6.0.4

**Ruby version**: 2.7.3

Bisection points to https://github.com/rails/rails/commit/a415e804279c21b4dfbeb8

[2021-07-07 03:15] 308820773 commented on #41932
When I  remove **
**

[2021-07-07 04:21] davidwessman commented on #40613
I think I found the culprit:

The same partial was rendered via a normal controller and via a custom ActionView::Base call without a controller context (which is deprecated in Rails 6), the first time the partial is called it will cache the result as a method that is no longer defined in the second context.

[2021-07-07 07:29] dmitry commented on #40550
@intrip for some reason, if I do:

[code]

Then I can get an errors of the record afterwards.

But if I do with the fixed version and `throw :abort`

[code]

I'm getting an empty `record.errors` afterwards. Somewhere it clears all the errors after throwing an `:abort`.

[2021-07-07 07:38] justin808 opened #42717 "Consider sorting of hashes for schema_cache.yml"
Should the `db/schema_cache.yml` be sorted?

### Steps to reproduce
1. Two developers have migrations run in different orders
2. Each developer runs `rake db:schema:cache:dump`

### Expected behavior
Contents of the `schema_cache.yml` produced on 2 separate machines/databases for the same exact schema (although column orders might be different) will be exactly the same.

### Actual behavior
Conten

[2021-07-07 09:36] equivalent commented on #35926
I've found article where one dude manage to introduce CDN  https://lipanski.com/posts/activestorage-cdn-rails-direct-route I've didn't try it yet (will do that in couple of weeks) Just posting it here if anyone find it useful

[2021-07-07 10:03] mdemare commented on #42715
I don't think that there's a native equality operation for the `json` type that does what you want. `jsonb` does work however.

[2021-07-07 10:13] mdemare commented on #42709
The getting started instructions in `README.md` are part of the rails repository, and if they assume having ruby installed via RVM or homebrew as opposed to a linux package manager, we might as well spell that out.

[2021-07-07 10:36] ololobus opened #42721 "Active Record: validates on: :save does not work for existing records"
### Steps to reproduce

Imaging you have a model `User` with two persistent fields (`name` and `encrypted_password`) and one accessible attribute `password`. First, I want to validate presence of both `name` and `password` on :create. Second, I want to be sure that `password` is also changed altogether with `name`. So I write following model definition:
[code]

First part works perfectly well, I c

[2021-07-07 10:58] intrip commented on #38021
@dvjones89 this is definitely a SQlite issue related to the fact that we are running multiple write transaction [which is not supported by SQLite](https://www.sqlite.org/lang_transaction.html#:~:text=SQLite%20supports%20multiple%20simultaneous%20read,allows%20both%20reading%20and%20writing.), I don't think we can do much to deal with it unless serialising all the operations.

This is a general pro

[2021-07-07 12:17] dvjones89 commented on #38021
OK, thanks for sharing your thoughts, @intrip . Hopefully having a record of this behaviour will help other people who find their way to this issue report from Google 😄  Appreciate your time and all you do for Rails 🙏

[2021-07-07 12:54] brenogazzola commented on #42700
I'll readily admit that my "evidence" is based on the single production app I have control of, and that I'm basically extrapolating that other apps running with low concurrency and/or limited memory will see the same benefits. I'll also admit that the Turbolinks -> Turbo is a much clearer "upgrade" then ImageMagick -> Vips.

However if we assume that what I said makes sense, then Rails should prob

[2021-07-07 13:04] brenogazzola commented on #42700
Sorry, this became a bit of a rant, but my argument is based on a feeling that more and more developers will be using ActiveStorage for their images, and that there's still a lot of low hanging fruits we can pluck to make this a better experience (#42394, #42683, #42686) so that they don't have to spend as much time as I had to figure out all these things.

[2021-07-07 13:52] intrip commented on #42671
@chaffeqa the problem is that whilst with `after_add` the association is updated with `after_create` the association is stale.
You can workaround this by calling `reset` before loading the association:

[code]

I think this is not a bug but an implementation detail related to how callbacks works on different subjects.

@p8 What's your take?

[2021-07-07 14:30] vishaldeepak commented on #42665
If this is not being worked on, I'd like to give this a shot

[2021-07-07 14:40] intrip commented on #42721
@ololobus have you tried using `  validates :password, presence: true, if: :name_changed?` instead?

By default validation should run already on `save`. If you pass `save` explicitly instead is considered as custom validation context, which implies that the validation doesn't run by default on `save`.

[2021-07-07 14:50] joshuacronemeyer commented on #35926
@equivalent Rails active storage docs have a section on using a CDN. https://edgeguides.rubyonrails.org/active_storage_overview.html#putting-a-cdn-in-front-of-active-storage It's probably better to look there.

[2021-07-07 14:54] mdemare commented on #42713
I've been digging into this a bit. Looks like it was introduced in https://github.com/rails/rails/pull/41068.

exec_params gets called with:

[code]

That's incorrect. The following is what happens in `exec_params` in a nutshell:

[code]

However, the values that the binds were created from had already been serialized in `Arel::Visitors::ToSql#visit_Arel_Nodes_HomogeneousIn`

Before PR#41068, the

[2021-07-07 14:55] markhallen commented on #42665
That is fine for me @vishaldeepak. I haven't had time to get started on it yet. I'm open to collaborating if you wish.

[2021-07-07 15:23] ghiculescu commented on #42700
I'm on board with this, and it's great to learn from your experience. I think it's a good thing to [discuss](https://discuss.rubyonrails.org/c/rubyonrails-core/5). I'm going to try upgrading an app that uses AS from imagemagick to vips to test your instructions out, will report back with any findings.

[2021-07-07 15:35] ololobus commented on #42721
@intrip, just tried and it works, thanks. I missed the part that says `save` is default, so it is not necessary here.

However, it still looks a bit misleading that `save` is considered as a custom context, but `create` and `update` are not. I mean that it does not look right to punish users for passing some default value explicitly.

[2021-07-07 15:46] intrip commented on #42721
@ololobus doesn't the docs outline this behaviour already? Please check https://guides.rubyonrails.org/active_record_validations.html#on

Which docs have you been checking that wasn't clear?

[2021-07-07 15:48] ololobus commented on #42721
Actually, the problem is wider. It is not clear for me why Active Record Validations are so picky about `on:` arguments. Its fired by default when you pass :create or :update (default actions / methods), but not for :save (here) and :destroy (#32376) (also default actions / methods).

Yet, I created such a concern / module:
[code]

And after mixing it into my models everything works just fine for

[2021-07-07 15:56] ololobus commented on #42721
@intrip, my message was not clear enough, sorry. Yeah, I was reading exactly this tutorial and actually **missed** the first paragraph that says `save` is default, so it was my fault :) Yet, I hope that my argument that passing default values should always be tolerated is still valid.

[2021-07-07 16:29] brenogazzola commented on #42700
I had completely forgotten we had that forum. Should I post this there?

Also, I've updated the GIST. It's now explaining a 2 step process and contains another adjustment (remove EXIF based rotation) because I had forgotten that vips auto rotates images when processing.

[2021-07-07 16:36] ghiculescu commented on #42700
Yes please!

[2021-07-07 17:13] brenogazzola commented on #42700
Done. Here's the [link](https://discuss.rubyonrails.org/t/make-vips-the-recommended-variant-processor-for-active-storage/78368).

[2021-07-07 17:34] RRethy opened #42725 "Allow URL Signing with GCS Service to be done with IAMCredentials SignBlob API"
[google-cloud-ruby](https://github.com/googleapis/google-cloud-ruby) was updated so signing blobs can be done with the [IAMCredentials SignBlob API](https://cloud.google.com/iam/docs/reference/credentials/rest/v1/projects.serviceAccounts/signBlob) ([google-cloud-ruby PR](https://github.com/googleapis/google-cloud-ruby/pull/7091)). Using this in `gcs_service.rb` would mean credentials are no longer

[2021-07-07 18:33] GCorbel commented on #40613
I have a similar issue but in development only and have no issue on test. In develpoment.rb there is, `config.cache_classes = false` and nothing for `config.action_view.cache_template_loading`. I have no deprecation warning about the lookup context. The method `prepend_view_path` is used. The error happens when a view file is changed.

I tried to set `config.action_view.cache_template_loading = tr

[2021-07-07 18:58] vishaldeepak commented on #42665
sure, I am definately open to collabration as well. Didn't expect a response so soon,  let me get a feel of this. Thank you @markhallen

[2021-07-07 19:31] ariccio commented on #41617
Sorry, I missed the email! I don't know if I have time to do a proper PR, but the patch looks like this:

[code]

[2021-07-07 19:38] GCorbel opened #42727 ""ActionView::Template::Error: undefined method" is raised with Rails 6 and prepend_view_path with config.cache_classes false"
### Steps to reproduce
In a Rails 6.0.4 application, we use prepend_view_path to switch between two versions of the design. Some view files have the same path with a different namespace. For example, there is `app/views/home/index.html.erb` and `app/views/v2/home/index.html.erb`.

On `config/environments/development.rb`, there is `config.cache_classes = false` and `config.action_view.cache_templat

[2021-07-07 19:49] ghiculescu commented on #41617
Made a PR and gave you commit credit: https://github.com/rails/rails/pull/42728

[2021-07-07 21:51] tywhang commented on #41265
Hello this is still an issue, please refer to https://github.com/rails/rails/pull/41283 for a fix.

[2021-07-07 22:55] hahmed commented on #42715
@hyhuang1218 thanks for reporting the issue. Could you replicate the issue you are seeing using the bug report template, found https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_gem.rb ?

Maybe something like this:

[code]

From what I understand about the json store type, it's storing the exact copy of the input text, preserving white space and order of objects whe

[2021-07-08 08:02] #42664 closed

[2021-07-08 09:18] qnighy opened #42730 "ActiveSupport: concern not extended by ClassMethods when including another concern"
When a module includes a concern, the module is extended by `<The concern>::ClassMethods`. However, it doesn't work when the module is already itself a concern.

### Steps to reproduce

[code]

### Expected behavior

`Concern2` is extended by `Concern1::ClassMethods`. It outputs `Hello, world!`

### Actual behavior

`Concern2` is not extended by `Concern1::ClassMethods`. It fails with the followin

[2021-07-08 11:31] zzak commented on #42699
@jorgemanrubia Do you have any thoughts here? :bow:

@dark-panda Would you be willing to contribute a PR? :pray:

[2021-07-08 11:33] dskloet commented on #42709
Yes, that would be helpful.

[2021-07-08 11:38] jorgemanrubia commented on #42699
@dark-panda Thanks for looking into this. As of today, Active Record encryption is meant to work with string values. If using other types, they should be serialized to a string before being encrypted. With built-in Rails types like "serialized attributes" this can be achieved by making sure that the `encrypts` declaration comes after their declaration ([check this](https://edgeguides.rubyonrails.o

[2021-07-08 12:09] dark-panda commented on #42699
@jorgemanrubia we are serializing to a jsonb field in Postgres. We have kind of a neat use case, where we wrote an encryptor that encrypts the values in a jsonb/hash field using deterministic encryption so that we can use Postgres’ jsonb operators and functions and such on the encrypted results. This lets us query on the data within the encrypted field, as the structure of the field is maintained

[2021-07-08 12:31] annienero commented on #42036
@ryanstrickler yeah we just tested it on our staging instance with updated vars and then swapped it back. We didn't have any issues on prod. We're on Rails 6. When I was testing locally trying to connect to our staging Redis instance, it seemed like there was a pretty particular syntax we needed to make `ssl_params` work. In `cable.yml`, we have
[code]

Hope something in there helps!

[2021-07-08 13:47] mdemare commented on #42709
I started up an AWS EC2 instance with Ubuntu 18.04 and this is the smallest amount of steps that I could find to get Rails up and running (On ruby 2.5, the default for Ubuntu 18)

[code]

I've been installing ruby for two decades on various platforms and yet it took me several tries and a bit of googling to get this right.

Linux users are used to package managers, and beginning rails users won't

[2021-07-08 14:00] jorgemanrubia commented on #42699
I see @dark-panda, thanks for explaining the use case. I think I'd rather move the "forced encoding" to the standard encryptor, so that we remove the encoding concern from the type. Would you like to create that PR? I can help if you need.

Just out of curiosity, is this because you encode only certain JSON values and not others? Or, if everything is encrypted, how do you leverage the json format?

[2021-07-08 14:13] afdev82 opened #42732 "cannot load such file -- rns//handle_exceptions (LoadError) with Ruby v3 and Rails v6.0.3.6"
### Steps to reproduce
I updated my rails app to Ruby v3 and Rails 6.0.3.6.
Before it was running Ruby 2.7.3 and Rails 5.2.6.

This is my Gemfile.lock:
[code]

### Expected behavior
The app boots fine.

### Actual behavior
I get the following error if I start the app in my staging or production environment:

[code]

### System configuration
**Rails version**: 6.0.3.6

**Ruby version**: 3.0.1

I've

[2021-07-08 14:43] dskloet commented on #42709
Thanks for this effort! In my opinion, if a "Getting Started" section assumes you already know what you're doing, it's not very useful for getting started. And I also don't understand the point of all these separate package managers. Somehow whenever any instructions tell me to use npm or pip (and now apparently also gem) I know it's not going to work on my system. Even though I thought Ubuntu is

[2021-07-08 15:21] hyhuang1218 commented on #42715
@hahmed Thanks for looking into this! I think jsonb only works with postgresql, not MySQL?

We use MySQL and it doesn't support `t.jsonb`. As a workaround, I wrote some custom validation to compare after loading the objects so that the json field is loaded as hash/array for comparison. Just felt it would be nice that ActiveRecord supports it natively.

[2021-07-08 15:46] dark-panda commented on #42699
@jorgemanrubia I can probably whip something up, sure.

Basically, our encryptor retains the structure of the JSON value while only encrypting the values. We thought about further encrypting the keys, but for now we're just doing the values.

Take for instance this sort of structure:

[code]

Once it passes through our encryptor, that JSON becomes something akin to the following:

[code]

So what

[2021-07-08 15:53] hahmed commented on #42715
Ah you meant mysql, thanks for that info, from what I can see looking at the mysql docs here https://dev.mysql.com/doc/refman/8.0/en/json.html#json-comparison

[code]

From what I'm reading, both databases seem to be doing things differently;

- mysql: order is not important and the objects are still the same
- postgresql: it's a text and comparing 2 texts will fail when the order of objects are n

[2021-07-08 16:06] johnloringpollard commented on #36965
I can confirm this is an issue with Rails 6.1.4.

[2021-07-08 16:43] hyhuang1218 commented on #42715
From what I understand, MySQL treats JSON field as an object when compare, however, in ActiveRecord, it compares JSON as a pure string the same way as postgresql.

With the different behaviors among different databases, I think it may not be a good idea to just simply change the behavior of `ActiveRecord` on JSON field from one way to another.

[2021-07-08 17:12] #41617 closed

[2021-07-08 17:22] bboe opened #42738 "ActiveRecord `update` forcing type cast of untouched attributes"
Perhaps the following is the expected behavior, however, it seems a little inconsistent because the type cast is not forced when obtaining an instance.

### Steps to reproduce

[code]

### Expected behavior
I would think that `forgetting_assignment` would need only touch the attributes that are dirty, not all attributes thus not forcing a type cast of the `unused` attribute.

### Actual behavior
`

[2021-07-08 18:26] edipofederle commented on #42665
@eileencodes the rob shouldn't  be add the https://github.com/rubocop/rubocop-rails ?

[2021-07-08 19:11] natemontgomery commented on #42189
So far the only way I have consistently reproduced is to have a persistent ActionCable consumer (ie one that is created on app boot) that is long lived.  While that is open calling the `reject_unauthorized_connection` method in the Rails Channel connection triggers this to begin happening.

It appeared that the subscription in the consumer within `Subscriptions.prototype.notify` in action_cable.js

[2021-07-08 20:01] markhallen commented on #42665
Hi @edipofederle. I wasn't sure about this myself. My initial feeling was that it should be a rule in rubocop-rails, as I couldn't find any similar responsibility in rails itself. Unless I'm missing something.

@eileencodes did you have a high-level approach in mind? Thanks

[2021-07-08 20:06] edipofederle commented on #42665
Hi @markhallen , I did some investigation, and looks like there is 2 options

1) Implement the rule at `rubocop-rails` gem
2) Implement a custom rule in `rails` itself, for example inside `.cops/linters/some_linter.rb` and include it on `.rubocop`

I just see your comment about your intention to work in this issue, if you already started let me know if you wanna collaborate in something.

[2021-07-08 20:16] vishaldeepak commented on #42665
wont adding it to rubocop-rails apply it every repo that uses that gem. I dont think thats the intention. We only want rails Repo code to have `OpenSSL`

[2021-07-08 21:14] hahmed commented on #42715
Agreed, In that case I will go ahead and close this issue for now 🙂

[2021-07-08 21:14] #42715 closed

[2021-07-08 22:15] Souravgoswami opened #42741 "ActiveRecord::RecordInvalid Validation failed"
### Steps to reproduce

[code]

[code]

### Expected behavior
The save!() method should save the user.

### Actual behavior
After a user is created, upon any modification and save!() or running save!() solely raises `ActiveRecord::RecordInvalid` like the following:

[code]

Also, `User.find(id: u.id) &.save` returns false.

### System configuration
**Rails version**:
Rails 6.0.3.6

**Ruby version*

[2021-07-09 01:19] jayzalowitz commented on #23422
This really should at least reference the previous schema's id type. This is sort of silly, I realize there is a fix, but this makes rails fail on sharding really hard.

[2021-07-09 02:32] stefannibrasil commented on #42043
Hi @zzak it makes sense, it's not really a breaking change :tada:

[2021-07-09 04:58] lfalcao commented on #42732
@afdev82 can you add the gemfile too in a gist?

[2021-07-09 05:22] lfalcao commented on #42730
Maybe that's expected? https://stackoverflow.com/a/15954818

[2021-07-09 05:40] lfalcao commented on #42741
@Souravgoswami it worked here. Check if you don't have any [callbacks](https://api.rubyonrails.org/v6.1.4/classes/ActiveRecord/Callbacks/ClassMethods.html) changing something...

# steps:
1) rails generate model User email:string password_digest:string
2) ~ added validations to user model ~
3) rails runner "User.create!(email: 'helllo@world.net', password: 'He11oWor1d!'); puts User.last.inspect"

[2021-07-09 05:56] lfalcao commented on #42709
@dskloet Well, maybe the docs are not optimal. But I would suggest you to avoid the use of default ruby from so (/usr/bin/ruby). Use a version manager (like rvm, rbenv, asdf...) or even docker to keep your application dependencies/environment isolated and portable.

[2021-07-09 06:05] dskloet commented on #42709
Thanks @lfalcao but I don't have an application to manage. I just want to try out Rails. I thought that's what the "Getting Started" section is for. If you want to recommend advanced version management, maybe there should be another section for that?

Either way, if version management is easy, I have nothing against it. Right now nothing seems to be working either way.

[2021-07-09 06:29] qnighy commented on #42730
Thank you for the reference! I don't still understand why `base.extend ClassMethods` part is guarded by `@_dependencies`, so this is my investigation:

----

`ActiveSupport::Concern`'s origin is https://github.com/rails/rails/commit/c1aa5b0e14cd4bd27a5d8bd85cf7c36fa5911830, where three DSL methods `#setup`, `#use`, and `#depends_on` were added to `Module` to reduce boilerplates and correctly resol

[2021-07-09 06:37] qnighy commented on #42730
There is a great compatibility concern (pun not intended) in changing this behavior (like method name conflict), but otherwise I think it's a good idea to remove the historical distinction of the two `#include` methods.

[2021-07-09 06:45] afdev82 commented on #42732
Yes, for sure.
Done: https://gist.github.com/afdev82/6815e7809dd1994c8dcad24a661b9b04

[2021-07-09 08:54] mdemare commented on #42709
I checked and the instructions work on a clean install of Ubuntu 20.04. The upgrade must have left some packages in a broken state. See https://askubuntu.com/q/937254 for somebody with a similar problem.

[2021-07-09 09:05] mdemare commented on #42709
This is ultimately not about tech support for @dskloet, but about how we recommend that beginning Rails devs install Ruby and Rails on Ubuntu and other linux distros. I believe that instead of linking to ruby-lang.org or saying "there are so many options, apt, yum, from source, rvm, rbenv etc. do whatever works for you", the Rails community should pick one method, explain it in detail, in the Rail

[2021-07-09 11:04] dskloet commented on #42709
I agree. While I certainly appreciate the tech support, the reason for reporting the issue is to get the documentation improved. And hopefully my struggles can help guide the improvements.

Thanks, with the askubuntu.com link I was able to remove a bad Ubuntu 18 package and then successfully apt install.
But after the `gem install` step, the `rails new` step failed.

[code]

There seems to be some

[2021-07-09 11:18] jorgemanrubia commented on #42699
Thanks for the detailed explanation @dark-panda 🙏, I  understand the use case much better now.

[2021-07-09 11:53] mdemare commented on #42709
If you install via `gem install --user-install` then the gems will be installed in your home dir, and the gem executable should be in your path. That's why you get `WARNING:  You don't have /home/dskloet/.gem/ruby/3.0.0/bin in your PATH` in your output, although I don't understand why it refers to `ruby/3.0.0`.

Because the gem executable for rails that you just installed is not in your path, `rai

[2021-07-09 13:01] dskloet commented on #42709
Of course that's what the new $PATH was for. But somehow there's no `bin/` in my `$HOME/.gem/ruby/2.5.0/`. Only a directory called `cache`.
I do also have a `$HOME/.gem/ruby/3.0.0/` which does have a `bin/` so I tried putting that in my `$PATH`, but then I get this error.

[code]

[2021-07-09 13:19] mdemare commented on #42709
So you also have installed RVM?

[2021-07-09 13:25] helderasmoreira opened #42743 "HABTM relationship only partially loaded when using includes"
### Steps to reproduce

[code]

### Expected behavior
I'm looking for some insight and opinions here rather than feeling quite strongly that this would be the expected behaviour.

When using `includes` of an HABTM relationship along with some type of filtering (`where`), the HABTM relationship in the resulting objects would contain the "entire" relationship results despite having been filtered by

[2021-07-09 14:52] dskloet commented on #42709
I don't know? Is that installed with `apt-get install ruby-dev`?

[2021-07-09 15:57] soberstadt commented on #42098
@mrkn thanks for your hard contributing to both Rails and BigDecimal! Any update on the state of this issue? This is still a barrier for us to upgrade our rails app to ruby 3.

[2021-07-09 16:22] p8 commented on #42741
@Souravgoswami `has_secure_password` doesn't store the password in the database, as it is unsafe to store passwords clear text. Instead it stores the password hash in `password_digest`.

So your custom validation on password doesn't work when you reload the `User` because password will be `nil`.

See the documentation of `has_secure_password` for more details:
https://api.rubyonrails.org/classes/A

[2021-07-09 16:22] #42741 closed

[2021-07-09 18:43] scnfilho opened #42745 "Can't set custom logger to subclass of ActiveSupport::LogSubscriber"
### Steps to reproduce
1. Set a logger using `.logger=` to a custom subclass of `ActiveSupport::LogSubscriber`
2. Try to use that logger or compare its instance

[code]

### Expected behavior
The [documentation](https://api.rubyonrails.org/classes/ActiveSupport/LogSubscriber.html) doesn't explicitly say this is an option, but it's easy to assume it would be, given it _must_ be set when not in Rail

[2021-07-09 18:52] ghiculescu commented on #42745
Hmmm, if https://github.com/rails/rails/blob/f95c0b7e96eb36bc3efc0c5beffbb9e84ea664e4/activesupport/lib/active_support/log_subscriber.rb#L107 changed to `self.class.logger` would it enable this?

[2021-07-09 19:06] scnfilho commented on #42745
Yes, and I tested that. I was going to point exactly to that line but wanted to be sure it was really an issue first

[2021-07-09 20:00] ghiculescu commented on #42745
My guess would be nobody's considered subclassing it before. if you think you can make that work, a PR would be great.

[2021-07-09 23:30] zzak commented on #38021
@intrip Do you think it's worth adding something to the documentation?

It sounds like this is a non-rails issue so this can be closed 🙏

[2021-07-10 00:18] zzak commented on #35926
See: #42305

[2021-07-10 03:52] andreobrown commented on #32947
For anyone using GitLab Auto DevOps and facing this problem, here is how I got it working [using an Auto DevOps customisation](https://docs.gitlab.com/ee/topics/autodevops/customize.html#forward-cicd-variables-to-the-build-environment) that leverages [Docker BuildKit secrets](https://docs.docker.com/develop/develop-images/build_enhancements/#new-docker-build-secret-information):

1. Enable docker

[2021-07-10 07:12] Souravgoswami commented on #42741
Got it! Thanks!

[2021-07-10 09:10] dskloet commented on #42709
After running `rvm reset` it seems to work.

[2021-07-10 09:55] Subramanian-ERS opened #42750 "Rails.cache.delete_matched not deleting matched keys in all nodes in Redis cluster"
### Steps to reproduce
1. Write a large number of keys to the Redis cluster with Rails.cache:
[code]
2. Delete the added keys based on a regex using Rails.cache.delete_matched:
[code]
### Test case
[code]

### Expected behavior
All the keys should have been deleted.

### Actual behavior
An error is returned - "Redis::CommandError: CROSSSLOT Keys in request don't hash to the same slot"

### System

[2021-07-10 19:56] p8 commented on #33956
Hi @rien, sorry for having to wait this long without a reply. 😞
I'm closing this as the following test does work on main:
[code]
Thanks for contributing to Rails.

[2021-07-10 19:58] rlogwood commented on #36374
config.active_storage.replace_on_assign_to_many = false

[2021-07-10 20:03] p8 commented on #33593
Hi @Bodacious, are you still interested in fixing this?
If so, could you resubmit your PR based on main instead of master?
Thanks!

[2021-07-10 20:19] Bodacious commented on #33593
Yes, will do this week!
On 10 Jul 2021, 22:03 +0200, Petrik de Heus ***@***.***>, wrote:

[2021-07-10 20:20] p8 commented on #33593
Great! 😄

[2021-07-10 20:24] p8 commented on #34217
I'm closing this as the following does work on main:
[code]

[2021-07-10 20:24] #34217 closed

[2021-07-10 22:03] rien commented on #33956
Well, good to hear this is fixed then :+1:

[2021-07-11 05:33] antarr opened #42752 "Arguments error when using destroy_async"
I'm getting an arguments error when using `dependent: :destroy_async` on my active record model. If I use `dependent: :destroy` it works fine.

### sidekiq error
[code]

### rails console
[code]

### app/models/bill.rb

[code]

### System configuration
**Rails version**: 6.1.4

**Ruby version**: 3.0.1

[2021-07-11 14:33] sinsoku opened #42753 "ActiveRecord 6.1 raises `AM::MissingAttributeError` when used with `eager_load` and `select`"
I noticed a difference in behavior between ActiveRecord 6.0 and 6.1, is this the intended change?

This has changed with 46393182158e5159be64349684be1716944ecc4e.

### Steps to reproduce

[code]

#### v6.0.4

[code]

#### v6.1.4

[code]

### System configuration
**Rails version**: v6.0.4, v6.1.4

**Ruby version**: v3.0.1

[2021-07-11 19:31] lfalcao commented on #42732
@afdev82 with a brand new app (ruby 3.0.1p64 w/ rails 6.0.3.6) it starts correctly in production environment. Maybe is something in your `config/initializers` folder or environment config? :thinking:

[2021-07-11 20:18] p8 commented on #15470
See: d31c941413ed484762ec819de8f35d413d84a9d6 for the reason behind the revert.

[2021-07-11 21:17] p8 commented on #41605
This is difficult to fix without a reproduction script. @coliveiraluca did you manage to fix this?

[2021-07-12 06:43] p8 commented on #17667
I'm closing this as it seems no longer reproducible on main:

[code]

[2021-07-12 06:43] #17667 closed

[2021-07-12 07:23] afdev82 commented on #42732
I have to investigate further, but I have no idea how, just comment the initializers one by one maybe and see...
It could be helpful to know which file is required by ActiveSupport, I can't figure out that.

[2021-07-12 11:09] csrutil commented on #42753
Hey @sinsoku, the difference between ActiveRecord 6.0 and 6.1 are

[code]

[code]

Those two SQLs are generated by

[code]

The issue is that 6.1.4 did not fetch the `x_post_id` foreign key, I'll investigate further

[2021-07-12 12:23] edipofederle commented on #42752
@antarr could you provide a minimal app or even a [reproducible script](https://gist.github.com/rafaelfranca/dd0a2d32397fd9c3a596a349e6601309) demonstrating the issue? I setup a minimal app and it works as expected.

[2021-07-12 12:49] intrip commented on #38021
@zzak We already [discourage the usage of SQLite in production](https://github.com/rails/rails/pull/42191) and honestly I think that's enough, but if you have any advice of where we could add such info I'm more then open of adding it 🙂.

Agree on closing this issue.

[2021-07-12 12:59] intrip commented on #42721
@ololobus I understand your point, your requests makes sense but requires to consider `:save` as special keyword (as we already do for `:update` and `:create`) and this will introduce a small breaking change.

Honestly I think the current behaviour is fine and well documented so I wouldn't change it.
That said I'm not the decision maker here, I think we need feedback from the committers or the cor

[2021-07-12 13:30] kamipo commented on #42753
Same issue with #40874.

The reason that MissingAttributeError is not raised on `eager_load` before Rails 6.0 unlike `includes`/`preload` is that `eager_load` had ignored `select` values.

Do you expect `eager_load` to ignore the `select` values even though it was specified?

[2021-07-12 14:06] Obsiye opened #42758 "DEPRECATION WARNING: Initialization autoloaded the constants from the app/helpers/*.rb"
Hi 👋🏾

Setting the `config.cache_classes` to `true` in the development environment has gotten rid of Deprecation warnings we've been getting for loading app/helpers/*.rb

I was wondering if there's an alternative solution? Also, if you have an idea of what's occurring please and thank you 🙌🏾

### Steps to reproduce

With Rails version 6 or higher do the following:
- Have some helper modules in you

[2021-07-12 15:20] ghiculescu opened #42759 "Deprecation warning in 6.1 if a `default_scope` contains a `where.not`"
Copying from https://github.com/rails/rails/pull/39328 as a new issue. I tried to fix it but couldn't figure out how to. https://github.com/rails/rails/pull/42481 contains some failing tests that I'm happy for anyone else to use.

[code]

The issue is that I'm not calling `merge` directly, so it's not clear how to fix the deprecation warning.

(In the app that this warning came up on, we ended up

[2021-07-12 15:20] ghiculescu commented on #40944
^ made an issue for this https://github.com/rails/rails/issues/42759

[2021-07-12 15:46] afdev82 commented on #42732
I have to investigate further, but I have no idea how, just comment the initializers one by one maybe and see?
It could be helpful to know which file is required by ActiveSupport, I can't figure out that.

[2021-07-12 18:36] p8 commented on #17091
Is this issue something that should not longer occur with Zeitwerk?

[2021-07-12 19:36] fxn commented on #17091
@p8 From what I recall, AS autoloading was not involved in this ticket. This was reported in a non-Rails project using Active Record, which uses pure Ruby `Module#autoload`.

[2021-07-12 19:41] p8 commented on #19548
This is still reproducible on Rails 7.0.0-alpha

[code]

[2021-07-12 19:43] p8 commented on #17091
Thanks @fxn! Good to know. I'll leave the ticket open then..

[2021-07-12 19:58] byroot commented on #42758
This isn't a Rails bug, as stated by the deprecation warning you copied, some code in your initializers is loading some helper while it shouldn't.

You must find a way to delay this. There's no textbook answer it heavily depend on what your application is doing.

[2021-07-12 19:58] #42758 closed

[2021-07-12 20:25] p8 commented on #29032
This seems to be fixed on main.
The following script has green tests:

[code]

[2021-07-13 01:48] sinsoku commented on #42753
I expected a foreign key to be added to `select` values in addition to the value I specified to use the association to work.

[2021-07-13 04:01] Subramanian-ERS commented on #42750
Are there any updates on this?

[2021-07-13 06:47] Bodacious commented on #33593
@p8 I've submitted a fresh PR this morning. Thanks for chasing me up on this.

[2021-07-13 10:24] p8 commented on #22195
@bjeanes since https://github.com/rails/rails/pull/29716 it's possible define fallback serializers.
[code]

[code]
https://edgeapi.rubyonrails.org/classes/ActiveSupport/MessageVerifier.html

This doesn't fix compatibility between 3.1 and 3.2+.
But those versions are no longer supported and I'm not seeing this backported to 3.2.
I don't think we need to keep this issue open any longer.

[2021-07-13 10:38] p8 commented on #33593
Thanks @Bodacious !

[2021-07-13 10:39] intrip commented on #42738
@bboe
I think the current behaviour makes sense: imagine the DB runs triggers or some other logic which indirectly updates columns not explicitly given in input when calling `update`, in such situation the model would be outdated.

[2021-07-13 10:59] mbayucot commented on #42745
Hi @scnfilho. Are you working on this? If not, can I pick up this issue?

[2021-07-13 13:45] bboe commented on #42738
@intrip as far as I can tell, the values are not actually refetched from the db though. They just go through the cast process using whatever value exists in memory. So I don't think that explanation justifies why this is the existing behavior.

[2021-07-13 13:51] afdev82 commented on #42732
I found what is the reason for this problem!
I had the following setting in my `config/application.rb`:

[code]

and the path of the file was truncated in the log, the correct path is `app/lib/concerns/handle_exceptions.rb`
I think I added that line to fix a problem of eager loading classes that I had in production.
Now I moved some files in my `/lib` folder and the error is gone.
I added the foll

[2021-07-13 13:56] intrip commented on #40550
@dmitry thanks for pointing this out!

I've edited the script in this issue and by replacing `throw(:abort)` with `raise ActiveRecord::RecordInvalid.new(self)` and what surprised me the most was that the exception was raised outside of the callback leading to an error, from the DOCS the RecordInvalid error should be `rescued` automatically: https://edgeguides.rubyonrails.org/active_record_callback

[2021-07-13 14:13] intrip commented on #42738
@bboe you're right I've overlooked at it.
I don't know the reasons behind the existing behaviour but your proposal looks reasonable to me. Are you willing to make a PR?

[2021-07-13 14:21] intrip commented on #41698
@heaven just to make sure you received the notification, can you still reproduce the issue on Rails 6.1 ? Also can you please create a reproduction script to ease the process of debugging it ?

[2021-07-13 15:10] bboe commented on #42738
I should be able to take a stab at it in a few days. My thought process was to allow the attributes to "forget" to optionally be passed into `forgetting_assignment`, or perhaps look at what's dirty when running `forgetting_assignment`.

[2021-07-13 16:27] intrip commented on #42738
@bboe thanks!
I'd prefer the latter approach, what about passing a flag to `forgetting_assigment` which allows to select only the `changed?` attributes?

[2021-07-13 16:31] bboe commented on #42738
Sounds like a good approach to try. Thanks for the suggestion.

[2021-07-13 19:05] dark-panda commented on #42699
A PR for this issue is up at #42778.

[2021-07-13 20:56] hahmed commented on #42732
Looks like you have this figured out @afdev82? I'm going to go ahead and close this issue for now as it seems you have managed to resolve the issue. 🙂

[2021-07-13 20:56] #42732 closed

[2021-07-13 20:58] #42725 closed

[2021-07-13 21:27] hahmed commented on #42709
@dskloet did you manage to get rails up and running? If it's not working, could you give this guide a try, hopefully that helps you to get setup: https://gorails.com/setup/ubuntu/21.04

The bigger issue in this discussion sounds like it's related to a frustrating experience getting a new user from installing ruby/ bundler all the way to getting a rails app up and running.

All we want to do is cre

[2021-07-13 22:28] bjeanes commented on #22195
Agreed. This issue was opened in 2015, and the [message on the commit](https://github.com/rails/rails/commit/a625523e755421b0f96fe5b0a885462ef51582b1#commitcomment-5612905) was early 2014. It's no longer relevant to me and any one stuck on those old versions can use my workaround posted in the original comment.

[2021-07-13 22:28] #22195 closed

[2021-07-13 23:13] profsmucker opened #42780 "Rails 6.1.4 system tests for scaffolding fail out of the box with rack_test"
### Steps to reproduce

[code]
edit test/application_system_test_case.rb to be driven_by :rack_test:
[code]
edit Gemfile to include the gem rexml (this is another "out of box" issue that blocks testing with Ruby 3.0):
[code]
then:
[code]

### Expected behavior
Tests run successfully.

### Actual behavior
For any helper methods that use the url form, e.g. posts_url, get this error (for example):

[

[2021-07-13 23:24] rafaelfranca commented on #42780
What does `Capybara.current_session.server_url` return?

[2021-07-13 23:34] profsmucker commented on #42780
nil:
[code]

[2021-07-13 23:49] profsmucker commented on #42780
I've updated my original issue to note that you need to add gem rexml to the Gemfile or else you cannot run any tests with Ruby 3.0.  This is another "out of the box" issue with Rails 6.1.4 and Ruby 3.0.

[2021-07-14 05:12] p8 commented on #22195
Thanks @bjeanes !

[2021-07-14 07:40] henrik commented on #24055
Example of making joins conditional in Rails 5:

[code]

I've also added [a reminder](https://gist.github.com/henrik/0d805593bd79246a7922) to simplify this when this project has been updated to Rails 6.1+.

[2021-07-14 08:10] dskloet commented on #42709
Yes, after `rvm reset` I was able to run rails and serve the welcome page.
I haven't had time yet to try anything else after that.

[2021-07-14 08:15] #33593 closed

[2021-07-14 12:00] afdev82 commented on #42732
Yes, thank you!

[2021-07-14 12:39] hahmed commented on #42709
@mdemare

I think maybe the link for "Getting started..." in point 5 is maybe a bit low and could be tied into point 1? That way perhaps a user will less likely try `gem install rails` if they have not setup ruby? Would you be open to creating a PR to address that?

<img width="1673" alt="Screenshot 2021-07-14 at 13 36 05" src="https://user-images.githubusercontent.com/658005/125623002-fdb6178d-ec

[2021-07-14 14:10] ConfusedVorlon opened #42784 "Rails crashes in production but not dev/test when accessing image_url for image without extension"
### Steps to reproduce

1) Have an image called `image.png` in your assets
2) Access to this with `image_url "image"`  (as opposed to `image_url "image.png")`

### Expected behavior

behaviour in dev/test and production should be the same. (Probably to crash)

### Actual behavior

in dev/test, the image is served without complaint
in production, rails crashes

### System configuration
**Rails vers

[2021-07-14 14:26] mdemare commented on #42709
@hahmed Sure!

[2021-07-14 16:40] #42699 closed

[2021-07-14 18:08] westonganger opened #42787 "Multi-DB Config - Skip Database Management Features for certain Databases"
For multi-database configs, often times I will want to just connect to another database, not manage it.

One main pain point is that all of the rake tasks affect all databases. Ie. `rake db:drop` will drop all databases. This is frustrating. Same with `schema:load`, `db:create`, `db:migrate`, and `rake db:setup`.

I am currently not aware of any option that to **disable database management feature

[2021-07-14 18:59] ghiculescu commented on #42787
@westonganger if you mark a db as as replica using `replica: true`, maintenance tasks won't be run against it.

[2021-07-14 19:00] ghiculescu commented on #42787
This is mentioned in https://edgeguides.rubyonrails.org/active_record_multiple_databases.html#setting-up-your-application but always open to feedback on how to make it more clear.

[2021-07-14 19:34] westonganger commented on #42787
`replica` is not a great name for the option in a more generic sense. In many cases its not a replica its simply an "external database without migrations"

I would say name it `readonly` however thats not fully correct in all cases, we may still want to write to the records, just not handle the migrations and schema changes.

Would `manage_schema: false` be better?

[2021-07-14 19:35] westonganger commented on #42787
For the Rails documentation I would also like to see a Table of Contents item and Header for "Connecting to Databases without Managing Schema and Migrations" or similar

[2021-07-14 20:43] p8 commented on #42784
Hi @ConfusedVorlon
Could you add the production error stacktrace?
This can help others reproduce the problem.

[2021-07-15 03:11] scnfilho commented on #42745
Yes, I'm working on it. As it turns out it's not a simple as changing that line to `self.class.logger` - that works for the contrived example I wrote in the issue, but fails existing specs, and even those existing specs are limited because they don't cover the scenario of use within Rails. I'll explain it in more detail in the PR.

[2021-07-15 07:44] puneetpandey opened #42792 "Usability / Configuration issues for ActiveStorage"
Hello,

I am new to ActiveStorage and browsing documentation for my existing Rails application to upgrade to ActiveStorage. I came across few usability/configuration issues that I would like to clarify:

I have a `UserProfile` model and as a user I can:

- Upload my profile pic
- Upload Certificates
- Upload PaySlips

I am trying to make all of this work with single model using ActiveStorage but n

[2021-07-15 10:22] p8 commented on #42792
Hi @puneetpandey ,

This appears to be a request for technical support. We reserve the
issue tracker for issues only. For technical support questions,
please use the [rubyonrails-talk](https://discuss.rubyonrails.org/c/rubyonrails-talk/7)
forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/ruby-on-rails),
where a wider community can help you.

[2021-07-15 10:22] #42792 closed

[2021-07-15 10:33] p8 commented on #42717
Hi @justin808 :wave:

This appears to be a feature request.
We generally do not take feature requests, and we reserve the issue tracker for issues only. We recommend you [try to implement the feature](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-code), and send us a pull request instead.
If you are unsure if the feature would be accepted, please ask o

[2021-07-15 10:33] #42717 closed

[2021-07-15 10:37] p8 commented on #42688
Hi @SushantKumar29 this appears to be a docker issue.
I'm closing this for now due to inactivity.

[2021-07-15 10:37] #42688 closed

[2021-07-15 11:00] puneetpandey commented on #42792
Thank you @p8

[2021-07-15 11:55] kevinhq commented on #37775
this is still there, with Ruby 2.7.4 and Rails 6.0.4

[2021-07-15 12:58] eileencodes commented on #42787
`replica: true` is for replicas, so if it's not a replica I don't recommend using it because that option will also enforce blocking writes. Because this is a public API changing it without deprecation is not possible, and I also don't think the name needs to change.

I do see some room for an additional feature though. I don't like the name `manage_schema` because we aren't only skipping managing

[2021-07-15 14:00] ConfusedVorlon commented on #42784
sure - this is using `image_tag "clouds"`
(where `image_tag "clouds.png" `would work fine)

[code]

[2021-07-15 15:57] p8 commented on #42784
@ConfusedVorlon thanks for the backtrace.
This is a SprocketsRails issue. Since 3.0 image file extensions are required.
See: https://github.com/rails/sprockets-rails/issues/305
I'm closing this as we can't do anything about it in Rails itself.

[2021-07-15 16:37] ConfusedVorlon commented on #42784
that's true in production, but _not_ true in dev.

so, rails carries on merrily in dev, tests pass, everything is splendid. Then as soon as you deploy you have a crash.

[2021-07-15 16:43] p8 commented on #42784
An older issue also reported the same problem: https://github.com/rails/rails/issues/35651
A PR was created but never merged: https://github.com/rails/sprockets-rails/pull/461
I'll reopen this for now to keep track of the sprockets-rails issue.

[2021-07-15 17:10] ConfusedVorlon commented on #42784
brill - thank you.

[2021-07-15 17:52] westonganger opened #42793 "Rails Guides marked as `work_in_progress` do not show up in "Guides Index" / TOC"
I note that many of the Rails guides do not appear in the "Guides Index" / table of contents. For both released guides and edgeguides

The reason they do not appear in the table of contents is that these guides are marked as "work_in_progress: true"

1. Rather than not show them in the table of contents at all, I would much more prefer to have them listed along with a suffix `(WIP)`

2. Do any of

[2021-07-15 18:50] ariccio commented on #41617
Excellent, thanks!!

[2021-07-15 18:54] westonganger commented on #42787
I've started work on this PR https://github.com/rails/rails/pull/42794. Could use help if anyone wants to assist.

[2021-07-15 20:04] p8 commented on #42711
Hi @mildred,

Rails does support connecting to separate databases for reading and writing.
If you create the view in a separate database you could split reading and writing.
https://edgeguides.rubyonrails.org/active_record_multiple_databases.html
[code]

Another solution could be using scenic (although I haven't used it).
https://github.com/scenic-views/scenic

[2021-07-15 20:23] p8 commented on #42711
I'd expect multi table support to have a api similar to multi db support.
[code]

[2021-07-16 05:41] mike-burns opened #42797 "No way to specify a password for a socket Postgres DATABASE_URL"
### Background

[Postgres's connection info URI](https://www.postgresql.org/docs/current/libpq-connect.html#id-1.7.3.8.3.6) is not a valid [RFC 2396](https://datatracker.ietf.org/doc/html/rfc2396) implementation.

Postgres:

RFC 2396:

[code]

PG has an optional host; if the host is not specified, it uses the socket. That means this is a valid PG connection URI:

[code]

### Steps to reproduce

Ho

[2021-07-16 06:53] amrutsabale opened #42798 "Rails version is not being set as 6.0.3.4, but rather set as 6.0.4"
### Steps to reproduce

[code]

### Expected behavior

Rails new project should be created with rails `v6.0.3.4`and, not  with rails `v6.0.4`

### Actual behavior

When I am creating the new rails app, rails `v6.0.4` is automatically installed in the project and on my system.
<img width="814" alt="Screenshot 2021-07-16 at 11 43 47 AM" src="https://user-images.githubusercontent.com/41994367/1259046

[2021-07-16 10:45] songjiz opened #42801 "Problem with rails webpacker:install,Error-Message: NameError: uninitialized constant ActionDispatch::DebugExceptions"
### Steps to reproduce

[code]

### Expected behavior

### Actual behavior

[code]

Run webpacker:install manually:

[code]

Got:

[code]

Retry with:

[code]

Got:

[code]

### System configuration
**Rails version**: 7.0.0.alpha
**Ruby version**: 3.0.2

[2021-07-16 13:25] ysugiyama12 opened #42802 "Rails 6.1.3.2: ActiveSupport::Duration#inspect returns invalid output when integer division"
### Steps to reproduce

[code]

### Expected behavior

`0.1 hour, 1 second` or `361 seconds`

### Actual behavior

`1 second`

### System configuration
**Rails version**:
6.1.3.2

**Ruby version**:
2.7.3

[2021-07-16 15:03] ghiculescu commented on #42798
Hmmm, this doesn't seem right. That said, 6.0.4 is the latest release in the 6.0 series - is there an issue with it or did you specifically want 6.0.3.4?

[2021-07-16 15:11] #42798 closed

[2021-07-16 18:09] martinjaimem commented on #42802
I'd like to investigate this one if possible 🙏

[2021-07-16 19:15] p8 commented on #42711
This issue appears to be a feature request. As we reserve the issue tracker for issues only, I'm closing this.
The discussion can continue in the attached PR.
If you are unsure if the feature would be accepted, please ask on the [rubyonrails-core](
https://discuss.rubyonrails.org/c/rubyonrails-core/5) forum.

[2021-07-16 19:15] #42711 closed

[2021-07-17 08:56] p8 commented on #42801
I've made a PR to web-console: https://github.com/rails/web-console/pull/310
Changing the web-console version in the Gemfile to:
[code]
Fixes running `rake webpacker:install --trace` for me.

[2021-07-17 09:07] p8 commented on #42801
This bug doesn't occur when including `sprockets-rails` because I think the following code prematurely loads all of `ActionDispatch`, inlcuding `ActionDispatch::DebugExceptions`. We probably need an `on_load` hook for `ActionDispatch::Routing`.
https://github.com/rails/sprockets-rails/blob/master/lib/sprockets/railtie.rb#L223-L233

[2021-07-17 09:24] mbayucot commented on #42801
Hi @p8. Are you working on this? If not, can i pick up this issue?

[2021-07-17 09:26] p8 commented on #42801
Hi @mbayucot, I think my PR to web-console fixes this issue.

[2021-07-17 09:47] mbayucot commented on #42801
Hi @p8. Sorry, i didn't mean to ignore you're PR. I was referring to this issue
[code]

[2021-07-17 09:49] p8 commented on #42801
@mbayucot Sure pick it up if you want 🙂

[2021-07-17 13:02] mbayucot commented on #42801
@p8 thank you 🙇

[2021-07-17 13:22] marcelolx commented on #38157
@zzak Based on @tyler717 @marceloperini comments I think that this isn't a bug and could be closed. I understand that it was a behavior change in a patch version update, but since Rails 5.2 is not supported for bugfixes anymore I don't see something that needs to be fixed here.

[2021-07-17 13:35] songjiz commented on #42801
@p8 Thank you 👍

[2021-07-18 02:29] benngarcia opened #42807 "Rails app constantly crashes on refresh Segmentation fault at 0x0....010"
### Steps to reproduce
I'll need some guidance here, AFAIK, this is happening randomly. I'm running a webpack-dev-server to auto-refresh whenever I save a change to a react file. Every 3-20 saves, it will exit, and say Aborterd (core dumped). Pasted the full stack trace below, minus C level back track and any machine code stuff.

# Your reproduction script goes here
[code]

[2021-07-18 10:42] fxn commented on #42264
The team decision has been to bet on the new [debugger](https://github.com/ruby/debug) that is going to ship with CRuby.

As soon as version 1.0 is released, I'll patch the generated `Gemfile`, update docs, etc., and will close here.

[2021-07-18 13:44] #40699 closed

[2021-07-18 17:44] #41077 closed

[2021-07-18 19:24] p8 commented on #42807
Hi @benngarcia, thanks for reporting the issue!

This issue has been reported to the Ruby bug tracker and has since been fixed:
https://bugs.ruby-lang.org/issues/17536
I'd suggest upgrading to a newer Ruby 3 release as Ruby 3.0.0p0 has had many fixes since its release.

[2021-07-18 19:24] #42807 closed

[2021-07-18 21:20] hahmed commented on #42709
@dskloet seeing as you got this working I'm going to go ahead and close this ticket for now. Feel free to raise any more issues you find with the docs, or a PR to address them if you can 🙂

[2021-07-18 21:20] #42709 closed

[2021-07-18 21:23] hahmed commented on #42611
Do you know where are we at with this issue? If performance cannot be restored for the local cache and the question around local cache was addressed, I'm wondering if we should go ahead and close this ticket?

[2021-07-18 21:26] eugeneius commented on #42801
This problem was introduced in https://github.com/rails/rails/pull/42592, by referencing `ActionDispatch::DebugExceptions` inside an `action_dispatch_request` load hook, when DebugExceptions itself has a dependency on `ActionDispatch::Request`:

https://github.com/rails/rails/blob/4a906cbbbc68f41ab23d2510954336db63451acc/actionpack/lib/action_dispatch/middleware/debug_exceptions.rb#L3

 I think th

[2021-07-19 07:12] casperisfine commented on #42611
I'll close it eventually, but I'd like to attempt to finish #42649 first.

[2021-07-19 13:03] #41388 closed

[2021-07-19 15:42] p8 commented on #42752
@antarr Like @edipofederle mentioned a reproducible script would help.
It would also help if you could remove as much associations/modules/delegations from the example as possible, while still reproducing the error.

[2021-07-19 16:37] georgeclaghorn opened #42813 ""Blocked host" error message shown in production by default"
<img width="1029" alt="Screen Shot 2021-07-19 at 12 26 25 PM" src="https://user-images.githubusercontent.com/94129/126194468-b57defdf-de2b-40e3-af76-cbf948a1867b.png">

We probably shouldn’t be showing detailed error messages like this in production. We can render a blank 403 Forbidden response unless the request is local (and write a message to the log, where administrators of production apps loo

[2021-07-19 16:43] georgeclaghorn opened #42815 "`config.host_authorization.*` missing from the configuration guide"
Action Dispatch’s host authorization middleware takes two options, `:excludes` and `:response_app`, which are populated from `config.host_authorization.excludes` and `config.host_authorization.response_app`, respectively. Unless I’m mistaken, those options need to be added to [this guide](https://edgeguides.rubyonrails.org/configuring.html).

[2021-07-19 17:27] tayyab-on-toptal opened #42816 "Action cable doesn't work when reload_classes_only_on_change is set to false"
### Steps to reproduce

1. Create an API only application
2. Make an ActionCable channel and subscribe to it on the front end
3. Try establishing a connection and communicating with it. It works fine.
4. Set reload_classes_only_on_change in `config/development.rb` to false.
5. Restart the server.
6. Try communicating with it now.

### Expected behavior
It should work.

### Actual behavior
it does

[2021-07-19 17:28] georgeclaghorn opened #42817 "Security guide doesn’t cover host authorization/DNS rebinding protection"
Action Dispatch comes with host authorization, a security feature that can be enabled in production by populating `config.hosts`. The DNS rebinding attacks it protects against aren’t covered in [the security guide](https://edgeguides.rubyonrails.org/security.html). The guide should cover the relevant security issues, how to protect against them at the app level with `config.hosts`, and how reverse

[2021-07-19 19:41] booleanbetrayal opened #42818 "Failsafe expectations of `RedisCacheStore`?"
### Steps to reproduce

1. Reboot a Redis cluster while pointing a `RedisCacheStore` to it.
2. Observe`Redis::CannotConnectError` and likely downtime the moment a new Redis cache connection needs to be established during the reboot event. eg:
[code]

### Expected behavior

The `RedisCacheStore` documentation [states](https://api.rubyonrails.org/classes/ActiveSupport/Cache/RedisCacheStore.html):

B

[2021-07-19 19:44] ghiculescu commented on #42818
[code]

This suggests that those errors should be getting caught

https://github.com/rails/rails/blob/6442aac195a227455c53c5b5b00c6818268379e5/activesupport/lib/active_support/cache/redis_cache_store.rb#L486

Do you have a backtrace so we can confirm if the error you're getting is going through the `failsafe`?

[2021-07-19 20:11] booleanbetrayal commented on #42818
@ghiculescu  - Here is a set of (sanitized) backtraces we are seeing in Sentry, stemming from a DelayedJob failure:

[code]

[2021-07-19 20:22] ghiculescu commented on #42818
Hmmmm, it seems like the issue is that the error is a `Errno::ETIMEDOUT` (maybe from [here](https://github.com/redis/hiredis-rb/blob/5f0eb41b8fac37fee94cfbe3af482b904c82e48e/lib/hiredis/ruby/connection.rb#L158)), and that is wrapping the Redis errors. So the rescue statement in Rails isn't catching it?

[2021-07-19 20:28] ghiculescu commented on #42818
Is there any chance you're using a different error handler to the default? https://github.com/rails/rails/blob/75ac626c4e21129d8296d4206a1960563cc3d4aa/activesupport/lib/active_support/cache/redis_cache_store.rb#L59

I can't see any other reason why this would raise. You could verify this by adding a debugger or puts statement in [here](https://github.com/rails/rails/blob/75ac626c4e21129d8296d4206

[2021-07-19 20:44] booleanbetrayal commented on #42818
We are using a custom error handler. Here's how we have configured our cache @ghiculescu -

[code]

[2021-07-19 21:01] ghiculescu commented on #42818
Ahhh, there's the issue. The error is being manually reported to Sentry. But I think it's being swallowed and the job is continuing regardless. Can you confirm if that's happening or if the jobs are actually failing?

[2021-07-19 21:10] ghiculescu commented on #42743
Can you confirm if the behavior is the same if using `preload` and `eager_load`, instead of `includes`?

I think I agree that this is a bug, it would be good to confirm if it is consistent across all those methods.

[2021-07-19 21:52] booleanbetrayal commented on #42818
We were seeing the job error as well as controller requests through our web stack fail during the outage blip, unfortunately.

[2021-07-19 23:44] ghiculescu commented on #42818
Hmmm okay. I don't really have any other ideas apart from this:

[2021-07-20 01:23] mwallba commented on #42780
After researching this a bit it looks like there are indeed two separate issues at play here:

1. The missing app_host for Capybara as described above
2. The REXML load issue

The latter is caused by the fact that Ruby 3 extracted REXML into a bundled gem: [Feature #16485 Make rexml, rss to the bundled gems on ruby-lang.org Tracker](https://bugs.ruby-lang.org/issues/16485)

This issue popped up in

[2021-07-20 01:48] zzak commented on #42189
@natemontgomery Thanks for your reply Nate, it sounds like you were able to resolve this by upgrading the npm package?

If we can assume this was simply a compatibility issue and upgrading will resolve it, I think this can be closed.

[2021-07-20 06:59] casperisfine commented on #42818
@booleanbetrayal could you remove your error handler just to confirm?

Because I agree with @ghiculescu I don't see how the backtrace you showed could bubble up. (except for the raw `Errno::ETIMEDOUT`, which should be fixed in hiredis).

[2021-07-20 07:03] dantevisser commented on #42189
@zzak I asked @RynoPi to log this for one of our applications.
We currently have a ticket in our sprint to upgrade the package and see if it resolves the error.

After seeing @natemontgomery 's post I realized we have another application we own that has a more up to date package and it doesn't throw this exception, so I think this is probably the fix.

In any case will ping back as soon as the tic

[2021-07-20 08:38] heldersantosmoreira commented on #42743
I can confirm the same behaviour happens with `eager_load`.

As for `preload`, to my knowledge we cannot really filter by the relation directly while using it?
So to use it, and still filter, one would do something like:
[code]
which I would say is kind of the workaround for this behaviour without needing to reset the relationship or something similar.
Since `preload` always triggers a separate qu

[2021-07-20 10:47] p8 commented on #42816
Hi @tayyab-on-toptal thanks for reporting the issue.

This is documented behaviour (but maybe it should be added to the Action Cable guide as well):

https://edgeguides.rubyonrails.org/threading_and_code_execution.html#framework-behavior

See also this rejected PR and the discussion: https://github.com/rails/rails/pull/33469

[2021-07-20 11:04] p8 commented on #42750
@ghiculescu Do you have any idea?

[2021-07-20 12:35] h0jeZvgoxFepBQ2C commented on #42157
Arrr why is this happening in a minor update for rails 5? :( This behaviour should be reverted for rails 5 if its just a minor patch.

[2021-07-20 12:43] #38021 closed

[2021-07-20 12:54] zzak commented on #41520
@ghiculescu Is this issue not closed because #42705 hasn't been merged yet? :pray:

[2021-07-20 13:07] thebravoman commented on #42157
I think because it is a security upgrade and this follows the policies for
security. There was a comment

https://github.com/rails/rails/issues/42157#issuecomment-834852064

On Tue, Jul 20, 2021, 15:35 h0jeZvgoxFepBQ2C ***@***.***>
wrote:

[2021-07-20 14:09] ghiculescu commented on #41520
Yeah that's right.

[2021-07-20 14:23] ghiculescu commented on #42750
I haven't looked closely at it, I don't use Redis much for caching.

I think a good first step would be to put a draft PR up with a failing test.

[2021-07-20 15:03] p8 opened #42820 "Setting `remove_deprecated_time_with_zone_name` in new framework defaults won't work"
In https://github.com/rails/rails/pull/42722 a new framework default was added for `remove_deprecated_time_with_zone_name`.
This currently won't work as the value is checked in a framework initializer.
See: https://github.com/rails/rails/pull/42722#discussion_r671920618
And #31547 for a potential solution.

[2021-07-20 17:11] natemontgomery commented on #42189
Hope it helps.  @zzak I think if it turns out to be a shared issue with an outdated client side lib then the only 'work' I can think of directly is maybe documenting the potential need to change to the `@rails/actioncable` package in npm.  Not sure exactly where to do that or if it already exists and I missed it.

[2021-07-20 17:44] timoklingenhoefer opened #42822 "Wrong base URL in image tags rendered by ApplicationController.renderer"
Hi,
I am building a chat-app using ActionCable. I am rendering a template in the channel using `ApplicationController.renderer.render_to_string` that later gets inserted into the site by a bit of JS.
I am running into a problem where the the base URL of images is always `example.org` instead of `localhost:3000` in development environment. The same images have the correct base URL when rendered in

[2021-07-20 20:59] p8 commented on #42822
Hi @timoklingenhoefer, did you override the

https://github.com/rails/rails/blob/main/railties/lib/rails/generators/rails/app/templates/config/initializers/application_controller_renderer.rb.tt

https://github.com/rails/rails/main/railties/lib/rails/generators/rails/app/templates/config/initializers/application_controller_renderer.rb.tt

[2021-07-20 21:45] domchristie commented on #42610
FWIW I've also had `authenticity_token` hidden fields autocompleted as well as `_method` fields. Only tested locally.

[2021-07-20 23:09] chaffeqa commented on #42671
Yea honestly my opinion is to clearly document that its better to use `after_add` and `after_remove` for association hooks, not `after_create` and `after_update` on the joins model.  The docs are not clear on the stance of a preference

[2021-07-21 03:59] ajaxm commented on #42813
@georgeclaghorn @p8
I took a crack at this with PR #42828 (my first attempt at a rails contribution!), lmk your thoughts.

[2021-07-21 07:03] timoklingenhoefer commented on #42822
I tried this and it did not seem to work. I checked the defaults right before the render call and the defaults are set correctly, including the correct base URL, but in the rendered output the URL is still wrong.

[2021-07-21 08:19] pvalena opened #42830 "Failed activerecord tests with new sqlite"
### Steps to reproduce
Hello,
during packiging an update to Rails 6.1.4 in Fedora, tests for activerecord broke, caused by sqlite update.

SQLite version that works: **3.35.5**

SQLite versions that is broken: **3.36.0**

### Actual behavior

[code]

### System configuration
**Rails version**: 6.1.4

**Ruby version**: 3.0.2

[2021-07-21 13:17] jeantristan commented on #37672
Having the same issue.
rails version : Rails 6.1.3.2
ruby version 2.7.2

[2021-07-21 14:34] yahonda commented on #42830
It has been addressed via #42641 at main branch.

[2021-07-21 14:50] #42830 closed

[2021-07-21 15:16] pvalena commented on #42830
Thanks!

Sorry I did my PR search wrong.

[2021-07-21 15:28] eugeneius commented on #42830
I backported https://github.com/rails/rails/pull/42641 to 6-1-stable in https://github.com/rails/rails/commit/e520ca1e06f3f641543a71c80d8e937580559e12, so the tests will pass on newer SQLite versions after the next patch release.

[2021-07-21 17:31] Hungnv950 commented on #24459
@ConstanceCodingCamp I really have this problem too with Rails 6.1.4

[2021-07-21 19:26] dixpac commented on #42822
@p8  did some investigation on this today, @timoklingenhoefer is correct there is an issue.
Calling `ApplicationController.renderer.render` is always using default values from the `DEFAULT` constant, even when changing the `http_host` value inside the `application_controller_renderer.rb` initializer.
https://github.com/rails/rails/blob/main/actionpack/lib/action_controller/renderer.rb#L48

-------

[2021-07-21 20:06] timoklingenhoefer commented on #42822
Thanks @dixpac !
I am now using this:
`renderer = ApplicationController.renderer.new(http_host: root_url[0...-1])` here you have to remove the trailing / otherwise the port is missing from the generated URL (`localhost` instead of `localhost:3000`).

For this to work you have to set `Rails.application.routes.default_url_options[:host] = 'myapp.xyz'` in the environment files and `include Rails.appl

[2021-07-21 20:34] byroot commented on #42818
I'll close since I this stage I don't think it's a Rails bug. If you do get further evidence that this is a Rails bug, I'll happily reopen.

[2021-07-21 20:34] #42818 closed

[2021-07-21 21:55] domchristie commented on #42610
Unfortunately this won't work for framework-generated hidden fields such as [`_method`](https://github.com/rails/rails/blob/91593af849e00ba8de7602ae86670a1e0ac7fbae/actionview/lib/action_view/helpers/url_helper.rb#L761)

[2021-07-22 00:32] krlsdu commented on #42797
Need attention in credentials to not show in output when debug application.

[2021-07-22 00:47] gabrielmansour commented on #39244
I'm interested in seeing this too

[2021-07-22 01:32] zzak commented on #42793
AFAIK this was intentional to avoid users from finding incomplete guides that may have bugs in them. Since this could lead to confusion, and even more bug reports.

[2021-07-22 06:29] mofmn opened #42835 "Rails render json: @objects does not call overridden to_json method."
I have overriden the user models to_json / as_json methods to avoid accidentally providing undesirable information to the page, so if you call render json: users, it wont start handing out their emails or other sensitive information. Unfortunately this only works as expected if i use render json: users.to_json, the docs claim that the to_json method will be called but it does not seem to be the mo

[2021-07-22 09:16] casperisfine commented on #42835
`to_json` is indeed called, as this repro script proves it:

[code]

[code]

So either it's a problem with your code, or either you didn't include enough information for us to reproduce.

I'll be closing this issue, but I'll happily re-open if you can provide a reproduction script that demonstrate the issue.

[2021-07-22 09:16] #42835 closed

[2021-07-22 12:33] p8 commented on #42793
If I search for "Active Model guide" the guide ends up in the result:
<img width="708" alt="image" src="https://user-images.githubusercontent.com/28561/126639326-e1a20e22-29b9-4c40-b976-ab11864a315a.png">
https://duckduckgo.com/?t=ffsb&q=activemodel+guide+rails&ia=web

But there is no mention of it being WIP in the guide itself.
Maybe we should add a warning to the guides as well, just like on the

[2021-07-22 12:37] p8 commented on #42793
There was a previous discussion on this, although from 6 years ago:
https://github.com/rails/rails/pull/19593#issuecomment-88226002

[2021-07-22 12:54] gsmetal commented on #40608
We have same problem (randomly happened time to time) on 6.1.3.2 and ruby 2.7.3 with such trace:

[code]

The application code is just do `group_by` on activerecord's relation.

[2021-07-22 12:58] gsmetal commented on #40608
Another randomly error has this trace while trying to achieve an association in application code:

[code]

All this does not look like "third party issue".

[2021-07-22 16:25] glasserc opened #42841 "Path helpers can be generated for namespace rather than a specific endpoint"
### Steps to reproduce
I've created a simple Rails application for the sake of debugging which has the following `config/routes.rb`:

[code]

### Expected behavior

Helpers would be generated for certain endpoints within the namespace, prefixed by `ethan_is_cool_`, for example `ethan_is_cool_profile_path` for `profile#index`. It would be obvious which endpoint corresponded to which helper.

### Ac

[2021-07-22 21:34] p8 commented on #39643
Closed by https://github.com/rails/rails/commit/77e5f91f420a22c972d4abc78d2369555d4f56b6

[2021-07-22 21:34] #39643 closed

[2021-07-23 01:43] #42815 closed

[2021-07-23 05:23] nickhammond commented on #42721
The [rails guides](https://guides.rubyonrails.org/active_record_validations.html#on) do a good job of explaining all of the options for the `:on` option. `:create` or `:update` are provided by default and then you can always add a custom context, sometimes you'll see this with a context of `:signup` so that you only validate specific fields on signup for instance.

The [default value](https://api.

[2021-07-23 09:22] ball-hayden commented on #42003
We're seeing this a lot with GCS. Our logs look a bit like this:

| Time | Job | Message
| -- | -- | --
| Jul 23, 2021 @ 08:17:08.884 | OurJob | ActiveStorage::Blob Create
| Jul 23, 2021 @ 08:17:08.970 | ActiveStorage::AnalyzeJob | Sending HTTP get https://storage.googleapis.com/storage/v1/b/<redacted>/o/kqfe9vxp3qoscn2gh07qtljdbajx?
| Jul 23, 2021 @ 08:17:08.996 | ActiveStorage::AnalyzeJob | Caug

[2021-07-23 12:03] der-flo opened #42849 "ActionMailer fails to create correct multipart message with rfc822 attachment"
### Steps to reproduce

[code]

The second test fails, the message object is rendered as follows:
[code]

### Expected behavior

The `message.mime_type` is `multipart/mixed` in both test cases. ActionMailer handles attachments in the way it is described in https://guides.rubyonrails.org/action_mailer_basics.html#adding-attachments describes.

### Actual behavior

When attaching a `message/rfc822`

[2021-07-23 14:24] jubilee2 opened #42851 "The application.scss not re-complier when import file get change"
### Expected behavior

1. new app
2. create test page
[code]
app/views/greetings/hello.html.erb
[code]
change the application.css > application.scss
then remove all lines replace by following 1 line
[code]
app/assets/stylesheets/greetings.scss
[code]
3. go to url of /greetings/hello we see blue words
4. change app/assets/stylesheets/greetings.scss
[code]
5. go to url of /greetings/hello we see red

[2021-07-23 15:34] alexcameron89 commented on #29032
@p8  I think the issue is with creating `order_lines` through the order:

[code]

With this script, it fails:
[code]

But, as you can see in the script, I tried it with version 5.0.2 where the author says it's supposed to pass, and it still fails. Given that the original script no longer exists as a gist and neither of us can recreate the original issue, I'm going to close it.

If the error contin

[2021-07-23 15:34] #29032 closed

[2021-07-23 16:45] gabriel-amaral commented on #42345
@HParker @zzak, I tracked down the issue and created the PR#42848.

I followed the instructions in the contributing guide. But, since it is my first PR, please let me know about any concerns or additional steps (e.g. Add specific labels).

[2021-07-23 17:54] josh-m-sharpe opened #42852 "ConnectionHandler#clear_all_connections! doesn't actually clear all connections when using multiple databases"
### Steps to reproduce
1. open mysql client
2. `show status where variable_name = 'threads_connected';`
3. `1` ( the mysql client. good.)
4. `bundle exec rails console`
5. `show status where variable_name = 'threads_connected';`
6. `2` (mysql client and writer)
7. `some_klass = User` # pick your class
8.  `some_klass.last.id`
9. `show status where variable_name = 'threads_connected';`
10.  Still `

[2021-07-23 20:46] Murphydbuffalo commented on #42036
@ryanstrickler @pixeltrix hi all, I'm running into this issue on Rails 5.2.6 despite setting:
[code]

in my `cable.yml` config file.

I believe this is because in `actioncable-5.2.6/lib/action_cable/subscription_adapter/redis.rb` the `ssl_params` key does not get passed through to redis (see below where only certain keys from the config are sliced):
[code]

On Rails 6 it looks like `config.except(

[2021-07-23 22:05] jonathanhefner commented on #33956
@p8 I tried adding that test to the suite to prevent a regression, but it did not pass. :confused:

I've opened #42854 to fix it.

[2021-07-23 22:46] RookieBoi commented on #41521
Hi @alipman88 the problem is fixed with rails 6.1.4. Thank you!
However if i do this (calling save after updating the name):
[code]
i can still see the error. Any thoughts?
[code]

[2021-07-23 22:49] leoplct commented on #26891
For me It was caused by a string containing "\u0000"

[2021-07-23 23:00] #33956 closed

[2021-07-23 23:28] kamipo commented on #41521
It should be fixed by #42855.

[2021-07-24 07:58] p8 commented on #33956
Thanks @jonathanhefner !

[2021-07-24 19:07] emilebosch opened #42861 "Active support Hash.from_xml results in unexpected (swallowed nodes) hash."
Seems that Hash.from_xml swallows certain nodes in unpredictable ways.

### Steps to reproduce

[code]
Results in:
[code]
### Expected behavior

Would see the  titles as an array and the link as a hash.
This is what a node equivalent would produce:

[code]

### Actual behavior

Outputs a wrong hash.

### System configuration
activesupport-6.1.4
ruby 2.6.6p146

[2021-07-24 19:27] p8 opened #42862 "Clarify difference between Middleware#remove and Middleware#delete"
PR https://github.com/rails/rails/pull/42821 added `Middleware#remove`.
But as @morgoth commented https://github.com/rails/rails/pull/42821#issuecomment-885666634,
it's unclear how `#remove` differs from `#delete`.

We should document these methods and clarify the difference.
Maybe also add an example to the guides? https://github.com/rails/rails/pull/42821#issuecomment-883625511
Also renaming `#r

[2021-07-24 21:29] p8 commented on #42817
The configuration guides partly cover it.
https://edgeguides.rubyonrails.org/configuring.html#configuring-middleware
We could link to it or copy some things.
The original PR has a lot of background information for anyone that wants to work on this: https://github.com/rails/rails/pull/33145

[2021-07-24 21:59] andre-roy commented on #42861
Ya I experience the same issue and I was forced to write code that will parse the XML to json myself.

[2021-07-24 23:11] zzak commented on #42793
@p8 I thought there used to be a banner that showed when a guide was still WIP. 🤔

[2021-07-24 23:13] hahmed commented on #42861
@emilebosch if you remove the link from line 5, what happens? I'm wondering why there is a link element inside an array of titles? Sounds like that's causing the issue?

Here is a repro script, but I have removed the link element:

[code]

Output:

[code]

[2021-07-25 00:13] andre-roy commented on #42861
@hahmed ya everything works well when the link node is removed but I think it's inappropriate because it will mean XML data with a node of that type `<link rel="next" href="/titles.xml?page=2"/>` won't be able to be parsed.

[2021-07-25 12:59] mansakondo opened #42868 "Aliases for polymorphic associations like delegated types"
I wanted to know if there's a particular reason why aliases for polymorphic associations (like delegated types) isn't implemented.

[2021-07-25 13:14] pedrosnk opened #42869 "assert_changes stopped working after rails 6.1 on including ActiveSupport::Testing::Assertions"
### Steps to reproduce

Hi, dear rails team. I came with this small issue that I found while maintaining an internal library for the company I work for.

Before on rails 6.0.4 It was possible to include the `ActiveSupport::Testing::Assertions` on my classes that comes from `Minitest::Unit` and all the assertions there just worked. After updating to rails `6.1`. The problem doesn't happen if my tes

[2021-07-25 15:33] davidwparker commented on #29210
Looks like this bug is still present in 6.x

[2021-07-25 20:16] chaffeqa commented on #36965
We are running into this regression to, specifically it seems like rails 5.2 -> 6.x whenever a record fails validations *prior* to opening a database transaction.

If it helps, maybe adding another callback would help the confusion? i can see why it would be incorrect to say `after_rollback` should have triggered even though an actual DB transaction was never initiated.

however that probably need

[2021-07-25 22:28] hahmed commented on #42861
If you wrap the array into a root element e.g. `foo` then add the link node to the root element, that works...

[code]
Output:

[code]

However, is the issue around keeping the link element inside the array, but as the first element? I'm not sure that's possible, because then it's not an array of title objects...

[2021-07-26 01:05] #42801 closed

[2021-07-26 01:47] richiethomas commented on #42841
Noob Rails contributor here.  I reproduced the example Rails app on my local and verified that the same routes as above are created.  Next I'm trying to clarify the expected behavior for each of the 3 paths in your list of routes.

Is it just the last of these path helpers (i.e. `ethan_is_cool` => `GET  /ethan_is_cool/users/:id(.:format)`) which is surprising, or is it all 3?  If the helpers were

[2021-07-26 01:56] glasserc commented on #42841
I'm also pretty new to Rails so my opinion may not be valuable, but based on my co-worker's comment, I would not expect a helper for the first or last route, and the second route's helper is fine as it is.

[2021-07-26 01:58] gregorbg commented on #36965
I am running into this issue with an existing record that is already persisted.

Upon certain updates to user data, we want to count whether the user entered a wrong DOB. Previously this has been solved by having a validation that checks if the DOB matches and if not, increment the `wrong_attempts` field in the `after_rollback` block accordingly (the rollback itself being triggered because the mod

[2021-07-26 03:48] gregorbg commented on #36965
After some digging, I found out that the problem in my specific scenarion is the `_trigger_update_callback` attribute in https://github.com/rails/rails/blob/6-0-stable/activerecord/lib/active_record/transactions.rb#L387. Here's the gist of what happens:

1. The user submits an HTML form, triggering the `update` method on the model.
2. `update` runs the verifications.
3. One specific verification f

[2021-07-26 07:43] emilebosch commented on #42861
@hahmed Thanks for your input, but this is clearly a bug at `Hash.from_xml`.  Changing the contents of the XML does not change the bug. We cannot control the XML input (the input xml comes from vendors) out that's out of scope for this bug report.  Hash.from_xml should be fixed unless there is undocumented behaviour that causes this.

[2021-07-26 09:58] alpracka opened #42873 "Horizontal sharding & migration with data changing script"
Hello folks and @eileencodes

I was trying the Horizontal sharding and couldn't go through this. Thanks for your job anyway 👍

### Steps to reproduce
[code]

### Expected behavior
Migrations should be finished on all databases.

### Actual behavior
Migration with data changing script is not finished and goes to zombie mode.

Few notes:
- No matter if the script is written like reversible block or

[2021-07-26 12:36] eileencodes commented on #42873
Your `sharded_record.rb` is set up wrong - since it's primary it shouldn't exist actually. The connection code needs to go in `ApplicationRecord`, that's the "default" connection.

Move this:

[code]

into ApplicationRecord and delete `ShardingRecord`.

[2021-07-26 12:42] chaffeqa opened #42875 "Wrap LocalCache around ActiveJob's"
I've been looking at the source to see if this is already being done and can't find it anywhere.  Proposal is:

Wrap `ActiveSupport::Cache::Strategy::LocalCache.with_local_cache` around `ActiveJob.perform`.

Seems like it should be fairly straightforward, and may introduce nice performance wins.  Happy to assist if this makes sense!

[2021-07-26 14:04] eileencodes commented on #42852
I've read over this a couple times and I'm a bit confused. I think there are some issues with the setup of your application because a lot of the behavior described here isn't how multiple databases is designed to be used. Below I've gone over some of the questions/points in your issue.

Connections are created with `connects_to`. Any call to `connected_to` using `role` switches to already establis

[2021-07-26 15:56] alpracka commented on #42873
I've updated the code into a *guided* branch.

### PostgreSQL

[code]

### SQLite
[code]

When I remove the data changing script from the `AddLivesToAnimals` migration, there is no issue for PostgreSQL and SQLite.

### MySQL
MySQL works 👍  . It assigns random lives to Animals correctly. I've just hit an issue after the rollback but I can move it to a different issue if you find it useful.

[code]

[2021-07-26 16:50] josh-m-sharpe commented on #42852
@eileencodes Thank you for reading and responding!

Apologies I got my nomenclature wrong.  I agree that that 'names' that are defined in database.yml are not considered 'roles'.  We use `connects_to database: {reader: :reader, reader_2: reader_2, etc...` but we explicitly do not use a `reading` connection because we want o be explicit about when we use different connections and we do that with Fo

[2021-07-26 19:40] ghiculescu commented on #42875
@byroot wdyt? Assuming you don't intend to remove local cache anymore, I think this is a good idea. @chaffeqa would you be interested in making a PR?

[2021-07-26 19:46] ghiculescu commented on #42868
Can you give an example of what's missing? Chances are it is because nobody has implemented it. [You should!](https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-code)

[2021-07-26 20:16] charlesvallieres opened #42879 "Make reading_request? configurable in DatabaseSelector"
### Context
[`DatabaseSelector#reading_request?`](https://github.com/rails/rails/blob/main/activerecord/lib/active_record/middleware/database_selector.rb#L77-L79) considers GET and HEAD requests as reading and all other request types as writing, which is an excellent default.

When using GraphQL ([graphql-ruby](https://github.com/rmosolgo/graphql-ruby)) all requests are passed as POST and it is no

[2021-07-26 21:04] #42752 closed

[2021-07-26 23:00] hahmed commented on #42861
By this, do you mean the type="array" here `<titles type="array">`?

[2021-07-27 06:53] byroot commented on #42875
Yeah, I think it's still useful, even though not as much. I don't see a reason why it wouldn't be enabled in Active Job

[2021-07-27 07:36] #42820 closed

[2021-07-27 08:26] mansakondo commented on #42868
Basically i'd like to be able to declare polymorphic associations like this:
[code]
And access them through aliases that way:
[code]

[2021-07-27 10:11] emilebosch commented on #42861
To clarify: I think that to modify the XML until it works isn't adding a lot of value for solving this bug (since the method should convert a xml structure to a hash, regardless of what it is  in it as long as its valid XML and within limits of how xml data can be expressed in a hash).

My idea is that the  XML should be used like provided here in this specific example. Then, the  active support m

[2021-07-27 12:34] eileencodes commented on #42879
I need to think about this a bit but have assigned it to myself so I don't forget.

[2021-07-27 12:40] ltickett opened #42883 "ActiveModel Errors - display detailed related model errors"
### Steps to reproduce

I'm working on the GitLab project, where we have the concept of `Issues`. An issue can have many `Timelogs`.

If I create an invalid timelog and check the `issue.errors` I get a rather unhelpful `attribute=timelogs, type=invalid`

But if I check the `timelog.errors` I get a helpful `summary, type=too_long`

[code]

Can we create an "out of the box mechanism" to view all of

[2021-07-27 14:45] intrip commented on #41151
@weistom sorry I lost this one!

@zzak @p8 you think printing a warning is something we want to do in such situation? If that's the case I'll make a PR.

[2021-07-27 14:47] intrip commented on #42721
@p8 looks like we close this?

[2021-07-27 14:50] intrip commented on #42671
@chaffeqa are you interested in making a PR to update the docs?

[2021-07-27 15:29] intrip commented on #42883
@ltickett feature request is something which requires evaluation from the Rails core team so I can't help you in that sense.

If can help `i.timelogs.create` returns the actual `timelog` so you can check for the record being persisted:

[code]

[2021-07-27 15:43] ltickett commented on #42883
Thanks for the quick reply @intrip

I think you can see from my notes that I'm able to get that information (via several means).

This issue is more about ​trying to understand why there isn't a generic mechanic to get the detailed validation messages from a model and all of it's attributes?

And  I guess  understand the appetite to create one?

Feel free to ping me if it would be beneficial to ha

[2021-07-27 15:47] intrip commented on #42883
Looping to @zzak and @p8. Hopefully they have something to add.

[2021-07-27 21:18] byroot commented on #39373
https://github.com/rails/rails/pull/41043 made SHA-256 the default. I believe we can close.

[2021-07-27 21:18] #39373 closed

[2021-07-27 21:27] byroot commented on #38842
Since I don't see what Rails could do, I'm afraid we can only mark as 3rd party issue.

[2021-07-27 21:27] #38842 closed

[2021-07-27 21:30] #38218 closed

[2021-07-27 21:30] #41240 closed

[2021-07-27 21:30] mansakondo commented on #42868
I'll try to implement it. I'll start with a rough draft to get some feedback.

[2021-07-27 21:57] byroot commented on #42098
For people stuck because of this, here's the patch we've been using since months: https://gist.github.com/casperisfine/f3f7b30d0ce4b4f41bc19eae097143b1

This issue was reported several times upstream, and there's pretty much nothing Rails can do, so I believe we should close.

[2021-07-27 21:57] #42098 closed

[2021-07-28 01:03] richiethomas commented on #42841
In that case, I guess our expectations differ.  The path helpers for 1 and 2 look OK to me, but I'd expect the 3rd helper to be `ethan_is_cool_user_path`.  I'd expect this based on the fact that, when I replace `get "/users/:id", to: "users#show"` with `resources :users`, the path helper I see generated for `/ethan_is_cool/users/:id` is `ethan_is_cool_user_path`.  I'm not sure I'd expect the gener

[2021-07-28 01:17] richiethomas commented on #42841
In the meantime, if this is a blocker for you then it looks like you can use the `:as` keyword to manually set up the helper path to be what you want.  For example, the following produces `ethan_is_cool_user_path` for me:

[code]

I can't speak for the core team, but it's possible that using `as:` might even be the recommended / conventional solution when circumventing `resource` and `resources` i

[2021-07-28 06:26] vimalahari commented on #31524
Request origin not allowed: 'ionic'
please give a suggestion to solve the issue

[2021-07-28 07:00] ltickett commented on #42883
I have made a little progress... it appears enabling `autosave: true` using `accepts_nested_attributes_for` causes the validation errors to bubble up perfectly.

The rough explanation I've been given/interpreted is: Without these options enabled there is only partial support for working with related models (e.g. creating new ones should work, but updating existing ones is likely not to).

This mak

[2021-07-28 07:10] Ruchi0502 commented on #33496
Thanks much @emmanuelajaero this link actually solved my problem.

[2021-07-28 08:00] lulalala commented on #42883
As my colleague has pointed out, `autosave`  is required for for the following to work, and I was quite surprised by this:

[code]

I think the core issue would be the lack of documentation on this feature (especially on Rails Guides). If there is a section dedicated to `index_errors`, we can then state that it is a feature which is closely associated with `save`. Any use of it outside of this con

[2021-07-28 09:44] ltickett commented on #42883
From digging, I suspect this is the code which is responsible for the vague `is invalid` messages: https://github.com/rails/rails/blob/f95c0b7e96eb36bc3efc0c5beffbb9e84ea664e4/activerecord/lib/active_record/validations/associated.rb#L6

I've not found where/how the path differs when `autosave`/`accepts_nested_attributes_for` is enabled yet...

[2021-07-28 12:41] byroot commented on #42611
#42649 was merged. Unfortunately I don't think we can backport much of that performance work, so I'll close.

[2021-07-28 12:41] #42611 closed

[2021-07-28 12:50] chaffeqa commented on #42671
Absolutely!

[2021-07-28 12:56] byroot commented on #41545
PR here https://github.com/rails/rails/pull/42893. I'll leave a couple days for the authors to jump-in in case we're wrong about the importance of underscores, and then I'll merge.

[2021-07-28 12:59] byroot commented on #41270
I don't think there's much more Rails should do here. Closing.

[2021-07-28 12:59] #41270 closed

[2021-07-28 13:20] byroot commented on #40059
From my understanding this issue was resolved. Closing.

[2021-07-28 13:20] #40059 closed

[2021-07-28 13:23] #34245 closed

[2021-07-28 13:27] byroot commented on #31937
Without a reproduction script, this isn't actionable so I'll close.

[2021-07-28 13:27] #31937 closed

[2021-07-28 13:31] #29578 closed

[2021-07-28 13:33] #24796 closed

[2021-07-28 13:53] ledermann commented on #38041
It seems that this bug was fixed in Ruby 3.0:
https://github.com/ruby/ruby/pull/3702

Using Ruby 3.0.2 (and Rails 6.1.4), it works fine now:

[code]

[2021-07-28 13:53] #38041 closed

[2021-07-28 13:59] #42869 closed

[2021-07-28 16:11] byroot commented on #42750
I doubt `RedisCacheStore` really ever considered `Redis::Cluster`, as it's a relatively recent addition.

[2021-07-28 16:50] TkTech commented on #41545
Realistically, while [there are security concerns](https://access.redhat.com/errata/RHSA-2017:1721) when not following the same spec as everyone else, it's not a _significant_ risk in Rails. It's just not a "valid" domain by convention. Django does not allow underscores, but some other frameworks like Flask do (https://github.com/pallets/werkzeug/blob/main/src/werkzeug/urls.py#L25).

Keep in mind

[2021-07-28 17:42] Murphydbuffalo commented on #42036
Hey :) bumping this. Is the patch I suggested something that the Rails team would consider bringing into Rails 5? Or are changes like that only for the current version? I'm not sure what the protocol is there.

[2021-07-28 17:43] Murphydbuffalo commented on #42036
cc @zzak - maybe I should've mentioned you in my original comment, thanks in advance!

[2021-07-28 18:05] brianknight10 commented on #42849
I am happy to address

[2021-07-28 18:27] rafaelfranca commented on #41545
I agree with @TkTech that we should not allow underscore in hostnames. We can improve the error message to tell which hosts we allow.

Something like:

[code]

Who wants to open the PR?

[2021-07-28 18:37] ghiculescu commented on #41545
Made a PR to update the message: https://github.com/rails/rails/pull/42896

[2021-07-28 18:45] #42862 closed

[2021-07-28 19:14] lfalcao commented on #42851
@jubilee2 here worked fine.

Rails 6.1.4 and Ruby 3.0.0p0

[2021-07-28 19:21] #41545 closed

[2021-07-28 19:28] p8 commented on #42883
@ltickett You are probably looking for this method:
https://github.com/rails/rails/blob/main/activerecord/lib/active_record/autosave_association.rb#L327-L330

[2021-07-28 21:09] chaffeqa opened #42900 "Multi-tenant/multi-database Proposition"
## Problem

* One database per tenant
* 2500 tenants
* Requests and background jobs generally only address one tenant
* Same schema per tenant
* x2 "global" databases
* Each tenant database config resides in table of one of those global databases

## Current Solution

* Hack rails connection resolver and create/teardown a connection pool per transaction (set current connection on a class variable)

[2021-07-28 21:16] rafaelfranca commented on #42900
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in the [Rails Core discussion board](https://discuss.rubyonrails.org/c/rubyonrails-core/5) for feedback.

[2021-07-28 21:16] #42900 closed

[2021-07-28 21:17] rafaelfranca commented on #42900
But in general, it is easier to you to open a PRs so we can discuss over working code than trying to discuss ideas without working code.

[2021-07-28 22:38] chaffeqa commented on #42900
Excellent I'll take that approach! Sorry should have searched more for the proper channel for this!

[2021-07-28 23:25] hahmed commented on #14173
I'm wondering if this is still an issue?

I tested this and it seems to work for me when I use inline or template. Let me know if there is something wrong with my repro script...

[code]

The output I'm getting for `last_response.inspect` is:

[code]

[2021-07-28 23:43] glasserc commented on #42841
To be honest, I care more about the absence of `ethan_is_cool_path` (which I think is misleading) than about any specific route for the `users` path.

Yes, it's true that I could use `as` to "cover up" the misleading route, but it's a little bit of a footgun since other routes could "inherit" the name or another endpoint could be added later that reintroduces the misleading name.

I think the obse

[2021-07-29 01:03] #42514 closed

[2021-07-29 01:09] #42351 closed

[2021-07-29 01:20] georgeclaghorn commented on #42868
What’s the difference between this and delegated types? Which part of the desired behavior isn’t provided by delegated types?

[2021-07-29 02:32] jubilee2 commented on #42851
it is update with
#application.scss
[code]

but not work with
#application.scss
[code]

i tested in Rails 6.0.4 and Ruby 2.6.3 on my local machine tonight

[2021-07-29 04:15] johnnyshields opened #42901 "ActiveStorage should not ActiveRecord"
### Steps to reproduce

In a new Rails  6.1.4 application, I remove all configs related to ActiveRecord, as well as deleting `database.yml`. In my `config/application.rb`, I've also removed `require 'action_record/railtie'` (I'm requiring the Rails components individually)

However, when I start the application, I get the following log:

[code]

This is resolved by removing `require 'active_storag

[2021-07-29 09:26] mansakondo commented on #42868
Delegated types are for when you want to use a sort of "multi-table inheritance". Here I just want to add the same behaviour for simple polymorphic associations.

[2021-07-29 10:30] p8 commented on #42901
Hi @johnnyshields,
ActiveStorage is heavily dependend on ActiveRecord:

https://github.com/rails/rails/tree/main/activestorage#compared-to-other-storage-solutions

So loading it without ActiveRecord doesn't make much sense.

[2021-07-29 10:46] intrip commented on #42868
@mansakondo From my understanding delegated types [are just an extension to polymorphic associations](https://github.com/rails/rails/blob/d7c0b4542c2ad8e74df111bcfceb0716a0d1b90c/activerecord/lib/active_record/delegated_type.rb#L191-L194), from what I see in your request what you need is exactly a delegated_type.

[2021-07-29 10:59] intrip commented on #42743
@heldersantosmoreira thanks for the report! Il'd work on a patch to fix this, unless you're interested into doing it.

[2021-07-29 11:01] johnnyshields commented on #42901
Can’t I store directly to Amazon S3? Or my local file system?

I was under the impression that SQL blobs were one of many pluggable
storage backends. If so, AR should not be a hard dependency.

On Thu, Jul 29, 2021 at 19:30 Petrik de Heus ***@***.***>
wrote:

--

Johnny Shields

Co-Founder & Chief Technology Officer

[image: TableCheck] <https://www.tablecheck.com/en/company/>
[image: Address] Dai

[2021-07-29 11:47] p8 commented on #42901
ActiveStorage needs to know where the data is located on S3 or on Disk.
For example ActiveStorage::Blob stores the metadata of the file and a key for where that file resides on S3:
https://edgeapi.rubyonrails.org/classes/ActiveStorage/Blob.html
It doesn't support storing blobs themselves in the database.

[2021-07-29 12:02] johnnyshields commented on #42901
OK, but couldn't that be done with Mongoid or some other storage backend? Why does it need to be ActiveRecord?

[2021-07-29 12:53] mansakondo commented on #42868
Hey @intrip. From my understanding, delegated types aren't just an extension for polymorphic associations but a alternative to single-table inheritance. So I think that the use cases are different.

Let's look at this piece code from the doc:
[code]
Here's what it says in the doc:

But in this code, `Album` and `Restaurant` aren't dependent of `Review`, they're just associated objects:
[code]

[2021-07-29 13:11] intrip commented on #42743
@heldersantosmoreira I took a look and agree that this behaviour looks counter intuitive on the first sight but on the other hand I don't think is a bug: the exact purpose of `eager_load` is to store the loaded records (with whatever `where` condition was set) and allow to retrieve such value without doing any further queries.

If when calling `.size` we should load the records again (ignoring the

[2021-07-29 13:17] intrip commented on #42743
@heldersantosmoreira I took a look and whilst on a first sight looks counter-intuitive this is the correct behaviour from my POV: the purpose of `eager_load` is in fact to load the `categories` filtered with the given where condition hence the categories for the posts would be only the ones which matches the previous where query.

If you want to retrive all the categories ignoring the previous fil

[2021-07-29 13:31] intrip commented on #42868
I understand your point, I just wanted to say what `delegated_type` does from just checking the current implementation.

[2021-07-29 13:33] intrip commented on #42901
@johnnyshields check https://github.com/rails/rails/issues/31408

[2021-07-29 13:33] mansakondo commented on #42868
I see. srry @intrip I've misunderstood you, my bad :)

[2021-07-29 14:19] ghiculescu commented on #42901
I'm going to close as this issue basically answers the question. I'd be happy to help review a PR to decouple ActiveStorage and ActiveRecord.

[2021-07-29 14:19] #42901 closed

[2021-07-29 15:15] ghiculescu commented on #42743
Hmmm. I looked for examples of this pattern in our app, I found a few, mostly of this style:

[code]

Currently this returns a hash of team IDs to a list of user IDs, the list of user IDs is always a subset of `users_the_current_user_can_see`. With the proposed change, this would potentially return user IDs that aren't in `users_the_current_user_can_see`.

So at least in this case, the current beh

[2021-07-29 15:16] ghiculescu commented on #42743
This concerns me though, since replacing `includes` with `preload` is sometimes a good way of speeding queries up (replacing one big slow query with two small fast ones). But in my specific example that would change the output.

[2021-07-29 15:20] brianknight10 commented on #42849
There is an open PR for the `mail` gem that appears to address this problem (see https://github.com/mikel/mail/pull/1389).

I've inquired into why it hasn't been merged, and have developed some tests in Rails to validate that it behaves as expected. Waiting for the response before deciding the way forward.

[2021-07-29 19:45] Taytay opened #42912 "`db:schema:load` does not restore the ActiveRecord::Base connection after running"
I believe I've stumbled over a bug in the new rake tasks that allow for multi-database handling.

Some of the tasks seem to clean up after themselves by re-establishing the connection for ActiveRecord::Base after they are done:
https://github.com/rails/rails/blob/d9fda555942bfb6bcb1f75477b1425e2ab3162f5/activerecord/lib/active_record/railties/databases.rake#L106-L108

However, the database-specifi

[2021-07-29 19:57] intrip commented on #42743
@ghiculescu Thanks!

I'll make a PR to add a test

The key is that `preload` doesn't consider the conditions on the outer tables which leads to that result. I don't think we can do much in that sense since it's just the way it works.

To summarise do you agree on:

1. I'll open a PR to add the missing test
2. we close this issue since it's expected behaviour

?

[2021-07-29 20:15] ghiculescu commented on #42743
Agree with this, but could you also add some docs on this specific difference between `includes` / `eager_load` / `preload`?

[2021-07-29 22:09] luizkowalski commented on #42469
Hey, just to weigh on this: I'm having the exact same issue. Brett, do you happen to have found a workaround in the meantime?

[2021-07-30 00:27] vandux commented on #40452
The issue persists. Please review the associated pull request.

[2021-07-30 06:03] dantevisser commented on #42189
So we've had the updated package in production for about a week now and we're still seeing these error's pop up our side. That said, it might be something else at play. Regardless we'll continue investigation our side and report back if there's any useful information to be shared (might just be something we're doing wrong :shrug: )

Rails 6.1.3.1
Ruby 2.7.2
Actioncable.js version: 6.1.4

[2021-07-30 08:17] intrip commented on #42743
@ghiculescu

I think the guides already mention such information:

[preload](https://edgeguides.rubyonrails.org/active_record_querying.html#preload)

**"The preload method using an array, hash, or a nested hash of array/hash in the same way as the includes method to load any number of associations with a single Model.find call. However, unlike the includes method, it is not possible to specify con

[2021-07-30 08:29] heldersantosmoreira commented on #42743
@intrip first of all, thanks for looking into this 🙌

As for the issue at hand: like I said initially I "understand" why it happens but I must say I'm not convinced that 1) it is desirable and 2) it is intuitive.

The docs for [includes](https://api.rubyonrails.org/v6.1.4/classes/ActiveRecord/QueryMethods.html#method-i-includes) for instance detail:

Furthermore they include an entire section on "

[2021-07-30 12:22] kneepdee commented on #42129
This vulnerability seems to still be present in the latest release v6.1.4. Shouldn't it be prioritised?

[2021-07-30 13:16] lucaspbordignon opened #42918 "ActiveRecord | #upsert_all without unique_by adds ID as the conflict_target in Postgres"
When trying to call a `upsert_all` operation in one of the `ActiveRecord` models of my application, I've noticed that the resulting SQL inserts the statement `ON CONFLICT ("id") DO UPDATE`. Passing the desired index via `:unique_by` key works though.

However, the current [documentation](https://apidock.com/rails/v6.0.0/ActiveRecord/Persistence/ClassMethods/upsert_all) of `#upsert_all` states:

Al

[2021-07-30 13:18] lucaspbordignon commented on #42918
Would love to help with the implementation, if any is required 🙂

Seems to be related to the way [`#find_unique_index_for(unique_by)`](https://github.com/rails/rails/blob/bbbc861f717689a0a28f031fe2176d0f8a6b07c7/activerecord/lib/active_record/insert_all.rb#L79) is identifying the uniqueness index

[2021-07-30 15:12] ghiculescu commented on #42918
Thank you for the report. It looks like you have an idea where the bug is, would you like to make a PR?

[2021-07-30 16:40] lucaspbordignon commented on #42918
Sure thing! I Will take a further look at it and link to this issue as soon as the PR is done

Thanks for the guidance @ghiculescu

[2021-07-30 18:52] vandux commented on #40452
@eugeneius could you reopen this please?

[2021-07-30 19:30] coder2000 opened #42920 "Add drop table migration on model delete instead of removing creation migration"
### Steps to reproduce

1. Create a model
2. Migrate database
3. Delete model

[code]

### Expected behavior

Migration should be created to drop table from database instead of deleting the migration to create the table. Removing the create table migration can cause issues with migrations run after model removal.

### Actual behavior

Migration to create table is deleted

### System configuration

[2021-07-30 19:30] lucaspbordignon commented on #42918
@ghiculescu Have just created a PR with the required changes

Feel free to give any feedback on it!

[2021-07-31 00:01] boomer196 opened #42922 "ActiveRecord Encryption initializes with SHA1 and then new Rails 7 default switches to SHA256"
`ActiveRecord::Railtie` initialization fires before `ActiveSupport::Railtie`

In `Rails::Application::Configuration#load_defaults(7.0)` it sets [`active_support.key_generator_hash_digest_class = OpenSSL::Digest::SHA256`](https://github.com/rails/rails/blob/c3664b0c2b509fc0a47929f42afbd716959c8f4c/railties/lib/rails/application/configuration.rb#L213)

Then in the `ActiveSupport::Railtie` it sets [`

[2021-07-31 05:15] dorianmariefr opened #42923 "`on_rescue ActiveStorage::FileNotFoundError, :delete`"
### Steps to reproduce

- have an app with active storage

### Expected behavior

- no errors from active storage

### Actual behavior

- `ActiveStorage::FileNotFoundError`s

### System configuration

**Rails version**: Rails 6.1.4

**Ruby version**: ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-darwin20]

I'm not sure which file I should delete and how to not receive this type of errors

[2021-07-31 06:32] dorianmariefr opened #42924 "no locale in params from ActionMailer previews"
### Steps to reproduce

[code]

### Expected behavior

`params['locale']` contains the locale chosen in the preview interface

### Actual behavior

params only contains the user for instance, no locale

### System configuration

**Rails version**: Rails 6.1.4

**Ruby version**: ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-darwin20]

[2021-07-31 06:48] intrip commented on #42923
Have you followed the [setup instructions](https://guides.rubyonrails.org/active_storage_overview.html#setup)?

If yes can you provide us a sample app and reproduction steps?

[2021-07-31 09:27] dorianmariefr commented on #42923
I'm not sure how to reproduce it, it just happens a lot on my production app, I'm using

[code]

[code]

and

[code]

[2021-07-31 11:04] dorianmariefr commented on #42923
same for

[code]

I would like to be able to suppress the errors, this is probably someone requesting a deleted file

[2021-07-31 13:58] noon-ng opened #42927 "`ActiveStorage::Attached::Changes::CreateOne#upload` doesn't support `Rack::Test::UploadedFile`s initialized with `StringIO` contents"
### Steps to reproduce

[code]

### Expected behavior
Both tests should pass.

### Actual behavior
Only `test_uploaded_file_with_file_contents` passes; `test_uploaded_file_with_string_io_contents` errors out with the following stacktrace:

[code]

### System configuration
**Rails version**:
6.1.4

**rack-test version**:
1.1.0

**Ruby version**:
ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_

[2021-07-31 17:18] p8 commented on #42721
@intrip I think @ololobus has a point that it’s not fully consistent. Not sure if it gets merged, but maybe we can reset the passed context if it is :save here:
https://github.com/rails/rails/blob/c3664b0c2b509fc0a47929f42afbd716959c8f4c/activerecord/lib/active_record/validations.rb#L67
and do the same for the validations?

[2021-07-31 17:27] ryanfb commented on #42610
Rolling the suggestions above all together and adding some more, here's what's working for me to force `autocomplete="off"` onto all Rails-generated hidden input tags (as of Rails 6.1.4):
`lib/core_extensions/action_view/helpers/form_tag_helper.rb`:
[code]
`lib/core_extensions/action_view/helpers/tags.rb`:
[code]
`lib/core_extensions/action_view/helpers/url_helper.rb`:
[code]
`config/initializers/

[2021-07-31 23:37] ghiculescu commented on #42927
Thanks for the report, looks like https://github.com/rails/rails/blob/c3664b0c2b509fc0a47929f42afbd716959c8f4c/activestorage/lib/active_storage/attached/changes/create_one.rb#L58 is the culprit. Do you have any idea what the fix would be?

[2021-07-31 23:39] ghiculescu commented on #42922
@jorgemanrubia do you have any immediate thoughts on a good solution here? I have a feeling the fix here might also solve https://github.com/rails/rails/pull/42414 which I have been a bit stuck on.

[2021-08-01 04:42] akicho8 opened #42928 "Empty hash does not enter hash type serialization"
### Steps to reproduce

[code]

### Expected behavior

Succeeded without errors.

Put foo column into db with `"--- {}\n"`.

### Actual behavior

Put foo column into db with NULL.

It works well if do `serialize :foo` or `serialize :foo, JSON` or `t.text :foo, null: true`.

Same in MySQL.

### System configuration

**ActiveRecord version**: 6.1.4
**Ruby version**: ruby 2.6.5p114 (2019-10-01 revisi

[2021-08-01 08:37] jorgemanrubia commented on #42922
Fantastic report @boomer196. I'll take a stab at fixing this shortly. My first thoughts would be exposing an option to configure the digest class for ActionRecordEncryption, separated from the active support default (but probably `OpenSSL::Digest::SHA256` default too for consistency). We don't really want to have this option changing around so I'd isolate it.

@ghiculescu I'll have a look at #4241

[2021-08-01 13:52] siefkenj commented on #41903
Yes. It appears so. Closing for now.

[2021-08-01 13:52] #41903 closed

[2021-08-01 19:26] NicholasAStuart commented on #42818
Is there any way to detect the redis timeout/connection error from the caller of `get`, `fetch`, or `write`? I'm running into scenarios where we're experiencing timeouts when calling redis, and these methods return nil.

The behavior of this being a cache miss instead of (optionally) being a raised error is causing issues downstream. I understand that the code should be built with cache-misses in

[2021-08-02 05:34] dxg commented on #31209
For anyone still puzzled by the reasoning behind this change, it enables nice things like [invert_where](https://blog.saeloun.com/2021/04/21/rails-7-invert-where-method.html) in Rails 7.
Internally, the updated `.not` and `.invert_where` methods work the same way by invoking the `invert` method.

For the following that means the `.not` and `.invert_where` cancel each other out:

[code]

If however

[2021-08-02 07:37] intrip commented on #42923
@dorianmariefr I've too few informations but what I can suggest you is to add a `rescue_from` handle to the related controller actions. If you're processing data with ActiveJob you can also add `discard_on ActiveRecord::RecordNotFound` and `discard_on ActiveStorage::FileNotFoundError`

That said this doesn't looks like a Rails issue.

[2021-08-02 07:42] intrip commented on #42721
@p8 just to make sure I understood you: you propose to make `valid?(:save)` behave in the same way as `valid?` ?

I think it's reasonable but it introduces a small breaking change, also the docs also explicitly mention such inconsistency so I don't know if it's worth changing the behaviour.

[2021-08-02 07:47] intrip commented on #41250
Attached PR. Still relevant

[2021-08-02 08:52] casperisfine commented on #42818
No, you'd have to patch the `failsafe` method: https://github.com/rails/rails/blob/c3664b0c2b509fc0a47929f42afbd716959c8f4c/activesupport/lib/active_support/cache/redis_cache_store.rb#L459-L472 (or subclass the adapter to make your own behavior)

[2021-08-02 10:24] noon-ng commented on #42927
Thanks for taking a look @ghiculescu.

That is indeed where the issue lies, but I'm still wondering what a good fix (ie. fits the overall Rails design and is resilient to change on `rack-test`'s side) for this would be.

`UploadedFile` delegates every call to its underlying `@tempfile` - a `StringIO` instance in the failing case -  and doesn't provide anything to encapsulate it so that `.open` wou

[2021-08-02 10:37] shouichi opened #42930 "Instrument ActiveStorage analyzer"
Background:

We use google cloud trace to instrument our rails app. We see "jumps" between spans when running ActiveStorage analyzers. It seems that ActiveStorage publishes events when downloading/uploading blobs but does not publish events when running analyzers. As a result, we failed to trace analyzers and see "jumps between spans.

Solution:

Publish events when running ActiveStorage analyzers

[2021-08-02 11:26] rally25rs opened #42931 "Rails (every version) no longer installs on Ruby 2.5 due to GlobalID 0.5"
### Steps to reproduce
From a clean machine with no versions of `globalid` already installed (or `gem uninstall globalid` to remove it)
Install Ruby 2.5.*
Install Rails 6.1.4 (pick any version. even versions from 7 yrs ago has a dependency specification `globalid >= 0.{something}`)

[code]

### Expected behavior
According to the Rails gemspec, Ruby 2.5.0 should be supported:
https://github.com/rai

[2021-08-02 11:59] casperisfine commented on #42931
I was able to repro on using ` docker run -it rubylang/ruby:2.5.8-bionic`.

But I was also able to workaround the issue with a `bundle update --system`, long story short, the rubygems that ships with ruby 2.5 is not smart enough to fallback to an older version.

[2021-08-02 12:00] kaspth commented on #42931
Hey sorry about this, we figured Rubygems (and Bundler for later
In the process) would account for the Ruby version constraint. Is this with the latest Rubygems version on your Ruby 2.5 install?

[2021-08-02 12:00] casperisfine commented on #42931
[code]

[2021-08-02 12:18] rally25rs commented on #42931
Good to know! We ran into this issue with an Ansible automation script that was starting with a clean VM each time. I suspect it is just using the rubygems that ships with 2.5. I was going to "fix" it by having Ansible `gem install globalid -v "~> 0.4.1"` but `bundle update --system` might be a better fix.

[2021-08-02 12:23] byroot commented on #42928
This is a tested and documented behavior: https://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/Serialization/ClassMethods.html#method-i-serialize

A corollary is that serialized fields should always allow `null`.

[2021-08-02 12:23] #42928 closed

[2021-08-02 13:10] kaspth commented on #42931
I've just shipped globalid 0.5.2 to circumvent this since it's a gem under our purview. We may likely bump to 2.7+ when Rails 7 ships with the same requirement, but that's for later.

Thanks for the issue! Glad we found the `gem update --system` workaround too.

[2021-08-02 13:10] #42931 closed

[2021-08-02 14:28] intrip commented on #40595
@ghiculescu https://github.com/rails/rails/pull/42932 fixes this issue. Please note that it expects an instance of `DateTime::Infinity`, not the class itself.

[2021-08-02 15:11] intrip commented on #42743
@heldersantosmoreira I understand that this looks counter-intuitive but I think this is the expected behaviour.

Agree that we can make the existing docs clearer about this specific scenario: are you interested in writing a PR for that? We should also add a test for this specific scenario.

[2021-08-02 15:27] rmm5t commented on #42922
@jorgemanrubia I agree. This is probably the best future proofing fix. This ensures that long-term encrypted persistence is configurable in case future defaults change.

I think the number of iterations should be configurable too, in case the default of `2**16` is changed or someone changes that config option in ActiveSupport.

[2021-08-02 15:29] intrip commented on #42930
This proposal makes sense to me. Are you interested in making a PR?

[2021-08-02 15:56] p8 commented on #42930
This commit added most of the instrumentation:
https://github.com/rails/rails/commit/4bfe7af68f1e1a7d02ace760ac1a5c5a4462edb2
You can use that as a guideline to add more instrumentation.

[2021-08-02 22:48] ghiculescu commented on #42924
Can you share your previewer code? Assuming by preview interface you mean https://guides.rubyonrails.org/action_mailer_basics.html#previewing-emails

[2021-08-02 22:49] shouichi commented on #42930
I'll make a PR. Thanks for the guideline 👍

[2021-08-02 22:49] ghiculescu commented on #42920
Thank you so much for the issue but we don't take feature requests on the issue tracker. We recommend you to try to implement the feature and send a pull request or if you are in doubt if the feature will be accepted, ask in the [Rails Core discussion board](https://discuss.rubyonrails.org/c/rubyonrails-core/5) for feedback.

[2021-08-02 22:49] #42920 closed

[2021-08-02 22:50] ghiculescu commented on #42875
@chaffeqa I'm going to close this as it's technically not an issue (but a feature proposal). That said, please consider making a PR, I think it would be a great feature to add to Active Job!

[2021-08-02 22:50] #42875 closed

[2021-08-02 22:52] ghiculescu commented on #42849
Can (should?) this be fixed in Rails? If not then I think we should close this in favour of https://github.com/mikel/mail/pull/1389

[2021-08-02 23:00] ghiculescu commented on #42816
I'm going to close this per https://github.com/rails/rails/pull/33469, but an update to the docs to make it more clear would make for a great PR.

[2021-08-02 23:00] #42816 closed

[2021-08-02 23:08] ghiculescu commented on #42727
Do you happen to know if this is still an issue in 6.1? According to https://guides.rubyonrails.org/maintenance_policy.html#bug-fixes 6.0 is only getting security patches.

[2021-08-02 23:09] ghiculescu commented on #42716
Do you happen to know if this is still an issue in 6.1? According to https://guides.rubyonrails.org/maintenance_policy.html#bug-fixes 6.0 is only getting security patches. I'm not sure how likely it is that there will be more releases in that series.

[2021-08-02 23:11] ghiculescu commented on #42700
Can we close this now @brenogazzola ?

[2021-08-02 23:13] ghiculescu commented on #42582
@wout would you like to create a PR?

[2021-08-02 23:15] brenogazzola commented on #42700
Yes, definitely. Sorry, I had forgotten about this issue

[2021-08-02 23:15] #42700 closed

[2021-08-02 23:17] ghiculescu commented on #42912
Yes, I think you're right. Would you be keen to make a PR?

[2021-08-02 23:50] ghiculescu commented on #42927
I'm not seeing an elegant solution inside Rails, I think making an issue or PR against `rack-test` is a pretty good idea.

[2021-08-02 23:51] ghiculescu commented on #42927
The best Rails solution I see is splitting up this `when` statement into two branches https://github.com/rails/rails/blob/c3664b0c2b509fc0a47929f42afbd716959c8f4c/activestorage/lib/active_storage/attached/changes/create_one.rb#L56

But even then you have to handle the `Rack::Test::UploadedFile` option differently based on if it's a StringIO or a real file. So you are basically adding two code path

[2021-08-03 06:15] wout commented on #42582
@ghiculescu of course, I'll work on a PR this week.

[2021-08-03 07:07] goulvench commented on #42157
@gmcgibbon I finally tracked down what was causing the error in my case, and it wasn't a bug in Rails after all :-)
The issue was that I was returning a class name in a `direct` block in my routes.

Here is the code I'm using, if it can help others track down the source of the problem for them:
[code]

[2021-08-03 07:30] mfa777 commented on #40535
Hi, I got same case but I found the reason. My code was written like this:

[code]

It will raise a error which issue title showed. It looks like wrong `validates` method call causes a wrong error hint.

[2021-08-03 07:33] mfa777 commented on #40535
Hi, I got same case but I found the reason. My code was written like this:

[code]

It will raise a error which issue title showed. It looks like wrong `validates` method call causes a wrong error hint.

[2021-08-03 07:46] heldersantosmoreira commented on #42743
@intrip I'm a little stressed for time this week but I can try to put something together in the coming weeks.

If you feel like you can tackle it before that, please do go ahead 🙂

[2021-08-03 08:32] intrip commented on #42743
@heldersantosmoreira all yours, tnx!

[2021-08-03 14:26] georgeclaghorn opened #42935 "Active Storage redirect controllers broken by open redirect protection"
After 5e93cff, `ActiveStorage::Blobs::RedirectController#show` raises the following for a blob stored in an S3 bucket:

[code]

This controller and `ActiveStorage::Representations::RedirectController` probably just need `allow_other_host: true`, but we’re missing tests that exercise them with remote storage services.

/cc @gmcgibbon

[2021-08-03 15:32] booleanbetrayal commented on #42818
FWIW - We still see request failures when running just the `ruby` driver and not specifying an `error_handler`. Requests just timeout and this causes our K8s liveness probes to fail, bringing the application down. So, while we are currently treating Redis as critical path that cannot undergo downtime, I was definitely hoping this was not the case based on the documentation. I'm sort of left wonder

[2021-08-03 15:44] casperisfine commented on #42818
It's here: https://github.com/rails/rails/blob/cdd1414f3b5991e2315d58e7bf830efbbcbc0032/activesupport/lib/active_support/cache/redis_cache_store.rb#L461

Any Redis error is swallowed, as simple as that. (If you ask me it should be limited to `Redis::BaseConnectionError`, but whatever).

If your requests are failing from errors coming from the redis client but are not caught by this, then report it

[2021-08-03 18:07] leastbad commented on #27659
@fooki ActionCable uses Redis pubsub, which does not intersect with keyspace data. What this means is that if the Redis server restarts (not "just" some kind of netsplit or other temporary connectivity issue) those subscriptions are gone, even if the ActionCable subscriptions hash is still intact.

Even if someone was to implement falloff reconnection logic, the server should absolutely close all

[2021-08-03 18:35] dorianmarie commented on #42924
I don't see anything about `locale` in the docs, my previews are very standars

one solution would be do something like `user.update!lcale: params[:locale])`

[2021-08-03 19:14] louim commented on #42924
@dorianmarie I think you might be mistaken on how to use the locale parameter shown in the preview interface. The param is exposed to the mailer _preview_, not the actual mailer. It is intended to be used like that:

In the mailer preview:
[code]

The actual mailer doesn't change:
[code]

[2021-08-04 05:51] dorianmarie commented on #42924
Nice!! the `params[:locale]` is sent to the preview, I didn't get that, thanks a lot!

[2021-08-04 08:43] smt116 opened #42941 "`ActiveStorage::Attached::Many#attach` is not "thread safe""
### Steps to reproduce

First setup the sample application:

1. `gem install rails -v6.1.4`
2. `rails new ConcurrentAttachTestApp --skip-action-mailer --skip-action-mailbox --skip-action-text --skip-action-cable --skip-sprockets --skip-spring --skip-listen --skip-javascript --skip-turbolinks --skip-jbuilder --skip-test --skip-system-test --skip-bootsnap`
3. apply the following diff:

[code]

4. `b

[2021-08-04 09:28] smt116 commented on #42941
The only workaround that I think would work is using the exclusive lock, e.g.:

[code]

[2021-08-04 09:47] Alaa-abdulridha opened #42942 "unsafe query generation?"
### Steps to reproduce

There's a weird bug, I think it's related to unsafe query generation, and there's action controller leakage.

Similar vulnerabilities can be found with these IDS `CVE-2016-6317,CVE-2012-2660, CVE-2012-2694`
and `CVE-2013-0155.`

### Actual behavior

For example:

https://github.com/Alaa-abdulridha?tab=repositories&q[].=&type[].=1

then we could use & operator to get a new r

[2021-08-04 10:25] yamiled opened #42943 "bundle install --without assets"
bundle install --without assets

_Originally posted by @spastorino in https://github.com/rails/rails/issues/2853#issuecomment-1993495_

[2021-08-04 10:38] #42943 closed

[2021-08-04 10:57] smt116 commented on #42941
Is there any reason why `https://github.com/rails/rails/blob/main/activestorage/lib/active_storage/attached/many.rb#L49-L56` replaces the collection instead of creating new objects for attachment(s)?

[2021-08-04 11:52] smt116 commented on #42941
Another workaround is to create an attachment manually:

[code]

I did not check the consequences like error handling yet, but at least it does not require a table-wide exclusive lock.

[2021-08-04 13:10] noon-ng commented on #42927
Yeah... that's precisely what I was hoping to avoid. :)

I'm going to spike something to abstract away the StringIO on `rack-test` and see how it looks. Hopefully it fixes the error without breaking compatibility -- if I pull that off I'll PR it against `rack-test` then... close this issue?

[2021-08-04 14:54] ghiculescu commented on #42927
Yep, sounds good 👍

[2021-08-04 15:12] intrip commented on #42941
@smt116 I do confirm `ActiveStorage::Attached::Many#attach` doesn't support concurrent operations ATM.

[2021-08-04 15:13] georgeclaghorn commented on #42941
We also need to consider how appends should stack on top of other changes—we can’t just keep one change per reflection anymore. If you call the setter followed by `attach` in a single transaction, we need to apply both the replacement and the append.

[2021-08-04 16:05] smt116 commented on #42941
I see. I will use https://github.com/rails/rails/issues/42941#issuecomment-892594249 as the workaround for now. Please let me know If you are aware of any bad consequences of such a solution or a better approach.

Also, I can try to help with fixing the underlying issue, but I would need some hints on where to start.

[2021-08-04 18:41] brenogazzola commented on #42003
@ball-hayden This is weird. The analyze job is supposed to run after the `ActiveStorage::Attachment` relation, which ties the blob to the record is created, not after the blob. Do you have an insert into `active_storage_attachments` there somewhere?

[2021-08-04 19:37] georgeclaghorn opened #42946 "Postgres adapter spams `rails` command output with `set_config`"
For example, a test run in a basic app using Postgres:

[code]

This happens very inconsistently and I haven’t figured out what triggers it yet. Stopping Spring doesn’t cause it to happen again.

**Rails version:** 7.0.0.alpha (main as of 25f6a8e)
**Ruby version:** ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [arm64-darwin20]
**Postgres version:** 13.3 (installed via Homebrew)
**Operating syste

[2021-08-04 19:48] kaspth commented on #42946
Looks like there's 8 and that's the test parallelization process count. So my guess would be somewhere in the test parallel database setup?

[2021-08-04 19:52] p8 commented on #42942
Hi @Alaa-abdulridha,
Thanks for reporting the issue!

For next time, please do not report security vulnerabilities with public GitHub issue reports. See: https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#special-treatment-for-security-issues

It seems like issue should be handled by using StrongParameters:
https://edgeguides.rubyonrails.org/action_controller_overview.html#stron

[2021-08-04 19:57] georgeclaghorn commented on #42946
Good call. Dropping the parallel test DBs triggers it.

[2021-08-04 20:03] Alaa-abdulridha commented on #42942
Hi @p8 ,

Already reported it on HackerOne to rails, and they said ` We're trying to figure out the best place to fix this` also,

Thanks.

[2021-08-04 20:03] p8 commented on #42942
This has been reported to HackerOne and it was decided to make it public.

[2021-08-04 20:06] p8 commented on #42942
@Alaa-abdulridha thanks 😄

[2021-08-04 20:59] alecernas commented on #32870
I have some initializers that are needed for my app, but not for my rake db tasks, has anyone find a solution other than avoiding values form `ARGV` ?

[2021-08-05 10:13] ball-hayden commented on #42003
I do indeed. Note that this is a different example (I no longer have access to logs from the original example).
Hopefully, I've got everything relevant here this time - I'm afraid the logs from this job are quite noisy 😓

Time | rails.named_tags.class | rails.message | rails.payload.sql
--|--|--|--
Aug 5, 2021 @ 09:19:49.429 | OurJob | start | -
Aug 5, 2021 @ 09:19:54.859 | OurJob | TRANSACTION |

[2021-08-05 13:14] brenogazzola commented on #42003
Yeah, this is out of order. It should be `create blob`, `upload file`, `create attachment`.

I'm not using GCS so I can't debug this easily, but I'm reading the code in Active Storage's `gcs_service.rb` and I'm not seeing anything like what you mentioned. It's using `create_file` from Google's gem for the upload. When I check Google's gem, they have a test that does `create_file` and immediately a

[2021-08-05 14:02] AlexGA93 opened #42949 "@ConstanceCodingCamp I really have this problem too with Rails 6.1.4"
@ConstanceCodingCamp I really have this problem too with Rails 6.1.4

_Originally posted by @Hungnv950 in https://github.com/rails/rails/issues/24459#issuecomment-884364267_

same case and same rails version. I cannot find what it's the issue.

[2021-08-05 14:28] brenogazzola commented on #42946
This is caused by rails creating the extra test databases needed for parallelization. If they don't exist, you get all these `set_config`, if they do, you don't. You can verify this by deleting all `*_test-N` databases in postgres and running the parallelized tests again.

[2021-08-05 14:50] brenogazzola commented on #42946
Ok, took some puts debugging, but I'm almost sure the piece of code responsible for those messages is `run_cmd` in `postgres_database_task.rb`
[code]

[2021-08-05 14:52] nomis commented on #25842
The `Vary: Accept` header should be added for any URL where the content could change based on the `Accept` header.

It should not be omitted on the `html` format if there's another format for the same URL because a proxy may then cache the HTML page and return it in response to an XMLHttpRequest.

When the `js` format is returned it should be specifying `Vary: X-Requested-With` (or `Vary: Accept,

[2021-08-05 15:21] #41574 closed

[2021-08-05 15:28] #42949 closed

[2021-08-05 20:11] jordannb opened #42950 "Misleading ActiveRecord::UnknownAttributeReference documentation"
### Expected behavior
Docs state that `Post.order("length(title)").first` is invalid and would produce `UnknownAttributeReference` without `Arel.sql`:  https://api.rubyonrails.org/v6.1.4/classes/ActiveRecord/UnknownAttributeReference.html

### Actual behavior
Functions with zero or one arg are allowed, including `length(col_name)`. See Regexes below:

- Postgres: https://github.com/rails/rails/blo

[2021-08-05 23:26] DanielHeath commented on #25842
I believe that's what has been implemented. Reading the linked PR, the vary header is set whenever the `Accept` header is used to determine the request format, which applies to any request that doesn't specify the format in the URL.

[2021-08-05 23:50] nomis commented on #25842
It explicitly does not set the `Vary` header if the request is "like a browser" (i.e. HTML):
https://github.com/rails/rails/pull/36213/files#diff-2bdf5835d9c0e57a51b76779d387d02291f0b1d4f9fc93ee811cf608c3416babR163-R165

[2021-08-06 07:49] ball-hayden commented on #42003
The upload is from a Sidekiq job using `attach` - we take a base64 encoded string and store it as a file (don't ask!).

[code]

[2021-08-06 08:41] sanzstez opened #42953 "Strong Params require with permit combination produce unexpected exception"
### Steps to reproduce

[code]

### Expected behavior
raise ActionController::ParameterMissing error

### Actual behavior
This code will return String value 'some text' at require(:comment) step, but after this we got 'some text'.permit(:comment) and exception like:

[code]
Github response for this issue (like example):
<img width="1358" alt="14 40 37" src="https://user-images.githubusercontent.co

[2021-08-06 10:08] Krupskis commented on #42953
Is this a typo and did you mean `permit(:comment)`? It's inconsistent with your `'some text'.permit(:comment)`

[2021-08-06 10:36] Krupskis commented on #42953
Anyway, I think this is expected behavior given the current documentation.

[2021-08-06 11:03] sanzstez commented on #42953
No, code is correct. I similated situation when form was manually changed and request with params was fabricated. During such actions we guaranteed to get an error.
Cause in this line we didn't do any checks of value type (or something like) and pass as is:
https://github.com/rails/rails/blob/83217025a171593547d1268651b446d3533e2019/actionpack/lib/action_controller/metal/strong_parameters.rb#L504

[2021-08-06 11:42] sanzstez commented on #42953
Github like response fi this issue:
<img width="1358" alt="14 40 37" src="https://user-images.githubusercontent.com/1447939/128505388-495024fc-5ced-4c4a-834f-4090f65ebbcb.png">

[2021-08-06 12:56] brenogazzola commented on #42003
Well, look at that. Using S3:

1 - Transaction is opened
2 - Blob is created
3 - Attachment is created
4 - Transaction is committed <- this is where callback for the job is
6 - File finishes upload
7 - 0.002 seconds later job is enqueued.

So I'm guessing that if the file upload is slow enough, we'd see your error? I'll try to create a CGS account this weekend so I can try to actually get the erro

[2021-08-06 12:59] ball-hayden commented on #42003
Yeah, that looks like the same thing. I guess you could manage the same with a proxy and artificially slowing down requests to S3.
Thanks for taking the time to look at this @brenogazzola - I appreciate it.

[2021-08-06 13:09] alexxty7 opened #42956 "ActiveRecord::Associations::CollectionProxy#last returns wrong result"
### Steps to reproduce
[code]

### Expected behavior
Executes a query and returns the last association item

### Actual behavior
Returns random association item (last item from cached collection)

### System configuration
**Rails version**: 6.1.3.2

**Ruby version**: 2.6.5

[2021-08-06 13:27] brenogazzola commented on #42003
I've actually already tried using my mobile phone's 3G connection for that (viva the farm life), but still had no problem on S3. This must really be something specific to the cgs service in Active Storage or the cgs gem. I'm quite curious about this one.

At least now I know it's something related to `create_and_upload!` and CGS.

[2021-08-06 13:29] der-flo commented on #42849
Imho Rails is somewhat responsible for the functionality it provides via incorporated libraries.
Especially in this case where Rails orchestrates the multipart message and provides a opinionated approch to attachments, which a generally like.

Perhaps the respectable Rails (core) contributors have a special connection with @mikel so that he can have a look at the PR soon.

[2021-08-06 13:30] der-flo commented on #42849
BTW: The tests above work with the pull request and also our production code seems to like the changes.

[2021-08-06 13:58] #42924 closed

[2021-08-06 14:37] voxik opened #42957 "ActiveStorage::VariantTest#test_resized_variation_of_TIFF_blob test failures"
### Steps to reproduce
I quite often observe the following test error running the ActiveStorage test suite on Fedora:

[code]

This seems to be platform specific issue, because as far as I can tell, I observe the issue just on ppc64le and s390x builders. However, it is hard to tell more, because I have not clue how to minimize the reproducer :/ For example, I don't understand at what stage the `/t

[2021-08-06 14:45] intrip commented on #41868
Not stale: PR attached.

[2021-08-06 14:48] intrip commented on #42956
If you don't want to rely on cached association you can use reload `author.books.reload.last`

[2021-08-06 15:39] itsaphel commented on #32947
Suggested workaround earlier in the issue of `SECRET_KEY_BASE=`bundle exec rake secret` RAILS_ENV=production bundle exec rake assets:precompile` does not work for me.

Error: `Missing encryption key to decrypt file with. Ask your team for your master key and write it to /config/master.key or put it in the ENV['RAILS_MASTER_KEY'].`

Setting `RAILS_MASTER_KEY` manually in env gives errors of imprope

[2021-08-06 15:58] ahorek commented on #42849
there wasn't any release for 3 years and none of 2 existing maintainers seem to be interested anymore, see https://github.com/mikel/mail/issues/1391

It would be great if the Rails team could maintain it, the gem is an essential part of the Action Mailer. Maybe a fork is the only option to move things forward :-(

[2021-08-06 18:08] brenogazzola commented on #42957
IMO, this is a Fedora issue, not a Rails one. Tiff conversion is working in Ubuntu and MacOS, which means that the version of ImageMagick available on Fedora's repos has some problem in the way it was compiled. So I'm not really sure what can be done on Rails side to fix this.

If you are simply trying to get the tests passing, then the better alternative is to use the [rails-dev-box](https://gith

[2021-08-06 18:11] fsateler opened #42959 "Deprecate mutable default for attributes"
### Steps to reproduce

On https://github.com/rails/rails/issues/41854, a user is confused on why changing one object modifies another due to a mutable default:

[code]

The issue is closed with the correct suggestion: use a proc to define the default.

Having been recently bitten by a similar issue, I come here to suggest `attribute` should not accept mutable objects as default. The overwhelming

[2021-08-06 18:19] TeamRainless commented on #32947
Wow... It's been so long that I can't even remember how I solved this!
hahahaha! :)

But if you just scroll through the issue and find my name you'll see what
my solution was. It's still what my server uses to this day... So I guess
it worked!

On Fri, Aug 6, 2021 at 5:39 PM aphel ***@***.***> wrote:

[2021-08-06 19:50] voxik commented on #42957
This is very likely architecture specific issue as I said, therefore saying just "Ubuntu" is not enough.

I'd like to debug the issue, but I'd need to know if there is way MiniMagic would provide more information about the `convert` process. Or is actually the `ActiveStorage-1-20210806-1282744-71xkc0.tif[0]` referenced in the backtrace above the same file as the `racecar.tif`, so to reproduce the

[2021-08-06 20:30] brenogazzola commented on #42957
Yes, it's the same. The test that is breaking starts by using that fixture (`racecar.tif`) to create a blob, then asks for a representation of it. That works by downloading the blob to a temp file (`/tmp/ActiveStorage-1-20210806-1282744-71xkc0.tif`), and running `convert` on it.

So you can test `convert` directly against `racecar.tif`. If I'm not mistaken, some of the `vips` alerts in the test su

[2021-08-06 20:32] brenogazzola commented on #42957
Yes it is. There's [this issue](https://github.com/libvips/libvips/issues/850) in Vips which mentions the same errors we are seeing the `tif` file causing. In this case it seemed that the issue was in older version of `libtiff`.

[2021-08-06 20:39] brenogazzola commented on #42957
Oh, and sorry, answering your question about more information, just add `-verbose`
[code]

[2021-08-06 21:13] ghiculescu commented on #42959
Thanks for the issue. I've been caught by this in the past too.

Maybe we could start by logging a warning, similar to what factory bot did. Would you like to make a PR?

[2021-08-06 21:14] brenogazzola commented on #42956
The behavior you are seeing is specific to the Rails console, because it will automatically inspect the result to print it for you, for the relation to be converted to an array. If test the same in a controller in your app you will see two queries.

[2021-08-06 21:15] ghiculescu commented on #42956
I think this is expected behaviour. You could also use `order` if you want to be explicit about your ordering.

[2021-08-06 21:15] #42956 closed

[2021-08-06 21:19] ghiculescu commented on #42950
Good pickup. Is there a better example we can update the docs with?

[2021-08-06 21:29] ghiculescu commented on #42319
made a PR to remove the relevant section from the docs: https://github.com/rails/rails/pull/42961

can you use `ActiveSupport::Testing::Isolation` in your gem?

[2021-08-06 22:05] brenogazzola commented on #42953
Looking at the `require` code:

[code]

Basically, in your example `value` ends up being a `String`. In a correct usage, it's an instance of `ActionController::Parameters`. Why not open a PR for this, implementing the behavior you want and see what others think?

Just be aware that the expected behavior according to the API is "If it's present, returns the parameter at the given key, otherwise rai

[2021-08-06 22:10] jordannb commented on #42950
@ghiculescu Thank you for taking a look at this and finding where the behavior change was introduced.

I've opened a PR using one of the examples.

[2021-08-06 23:22] ghiculescu commented on #42950
Nice one @jordannb !

[2021-08-07 02:09] brenogazzola commented on #42003
@ball-hayden I’ve just noticed I did not ask what version of Rails you are using. I was simply testing this on master 😅

[2021-08-07 04:43] #42319 closed

[2021-08-07 06:31] ball-hayden commented on #42003
Good question 😂
We're running 6.1.4.

[2021-08-07 10:55] sanzstez commented on #42953
As you said in “correct usage”, but rails do not give any possibility

[2021-08-07 11:26] sanzstez commented on #42953
@brenogazzola I understand what you mean.
But changing of default behaviour by rails convention should be approved by rails core DEV's firstly.
I think rails community need more attention to this trouble, because his issue covers thousands rails app's and confuse dev's what sure that require method can be safely chained to permit method without any additional checks.

[2021-08-07 13:00] brenogazzola commented on #42953
I had assumed from your issue that your intent was to simply produce a better error message when the format of params did not match what the controller expected.

IMO, if the controller expects comment to contains a text, and the form only sends the comment, raising an error is what I’d like Rails to do, so I know the exact place where the problem is, instead of checking the whole chain.

How woul

[2021-08-07 14:50] sanzstez commented on #42953
@brenogazzola I just trying to say that construction below is unsafe and produce errors in 100% cases with fake data and didn't gave ability to directly use in code (as I want), without additional checks, that's it. VERY simple construction.
[code]

[2021-08-07 15:51] brenogazzola commented on #42953
Alright, in this case I'll recommend you cross post this on the `rubyonrails-core` channel of the [official forums](https://discuss.rubyonrails.org/). It will increase exposure and allow other developers who might be interested in this change to give input and provide arguments in favor of it. This was recommended to me in the past by one the Rails members, and helped me successfully get a breakin

[2021-08-07 16:41] brenogazzola commented on #42953
You might also give another thought to the PR suggestion. It’s what Rails [core members themselves recommend](https://github.com/rails/rails/issues/42900).

[2021-08-07 18:42] #42950 closed

[2021-08-07 19:00] p8 commented on #42953
This is also related to another recent issue: #42942

[2021-08-08 04:53] zzak commented on #42036
@Murphydbuffalo It's not possible to backport this patch to Rails 5 now, I would suggest upgrading your application to Rails 6 if that fixes the issue. :bow:

[2021-08-08 05:21] yahonda opened #42968 "Two of FrameworksTest gets "undefined class/module Mysql2:: (ArgumentError)" since #39723"
Since #39723 has been merged to main branch ,two of FrameworksTest gets "undefined class/module Mysql2:: (ArgumentError)". https://buildkite.com/rails/rails/builds/79982#a24742cc-7394-4ff0-8713-aa64164fd925

### Steps to reproduce

[code]

### Expected behavior
Both of them should finish successfully.

### Actual behavior
[code]

[code]

### System configuration
**Rails version**: main branch

**R

[2021-08-08 12:59] itay-grudev commented on #41455
Ping. Still an issue.

[2021-08-08 18:58] #42094 closed

[2021-08-08 22:04] hahmed commented on #42968
Thanks for reporting this issue!

Looking at those 2 railties tests, they are trying to establish a connection to the database and expecting a connection failure. The exception is:

[code]

Both tests are failing because of the conditional check:

[code]

I'm going to dig into those 2 tests and see if I can find out what's happening.

[2021-08-08 22:08] davidpatters0n opened #42972 "Specifying `foreign_key` with `accepts_nested_attributes` causes records not to be persisted."
### Steps to reproduce

Whilst using the latest version available I decided to set up a simple one-to-many association with `foreign_key` specified in the `has_many` model. The issue at hand is when you specify an Author with nested `posts_attributes` the record is not persisted. I've confirmed the issue locally which is outlined in a test repo. I was also unable to reproduce it with the executabl

[2021-08-08 23:43] richiethomas opened #42974 "Errors in ActiveJob test suite after a clean install of rails-dev-box - "undefined method 'adapter_is?' for #<QueuingTest...""
I took the liberty of creating a PR to address the issue [here](https://github.com/rails/rails/pull/42973).

### Steps to reproduce
1. Follow the instructions [here](https://github.com/rails/rails-dev-box) to set up a new instance of `rails-dev-box`, run `vagrant up` and `vagrant ssh`, etc. (not sure if this is necessary or not; you may see the same behavior I observed from your current rails-dev-

[2021-08-09 05:59] khiav223577 opened #42975 "prepare statements is not enabled by default with mysql2 adapter"
### Steps to reproduce

It took me a long time to figure out `prepared_statements` is disabled because of my database adapter is different in my new project. Change the adapter in `database.yml`, and you will find `prepared_statements` is enabled in `sqlite3` and `postgresql` but is disabled in `mysql2` by default (which is added in https://github.com/rails/rails/pull/23461).

Should we make the d

[2021-08-09 07:41] donv commented on #41766
This is still a problem.

[2021-08-09 13:07] soulnafein commented on #42959
@ghiculescu Is the above draft PR close to what you have in mind? Do you want to make this a deprecation warning or just a general warning?

[2021-08-09 15:27] alecernas commented on #42103
@seballot hello, qq, where did you move your code? I am seeing the same breaking my app

[2021-08-09 17:06] seballot commented on #42103
Hi @alecernas, I moved it into an initializer : `config/initializers/YOUR_FILE.rb`

[2021-08-09 19:19] SleeplessByte opened #42980 "Rails-ujs content-type response matcher matches media-type arguments"
The following code:

https://github.com/rails/rails/blob/6983a89c726243fb38fe28cff49cba3a5f63ba6f/actionview/app/assets/javascripts/rails-ujs/utils/ajax.coffee#L64-L68

...attempts to parse/interpret the response type by matching the `Content-Type` against a few regular expressions. Unfortunately it's matching against the _entire header_, including any sent *arguments*/*parameters*/*extension fiel

[2021-08-09 19:26] ghiculescu commented on #42980
Thanks for the report and the proposed solutions. Would you like to make a PR?

[2021-08-09 19:27] SleeplessByte commented on #42980
Yeah certainly :)

[2021-08-09 19:45] SleeplessByte commented on #42980
@ghiculescu would you be interested in limiting the types for the `DOMParser` (https://developer.mozilla.org/en-US/docs/Web/API/DOMParser#parsing_xml_svg_and_html) as well? It has similar issues.

[2021-08-09 19:47] ghiculescu commented on #42980
That sounds like a good idea.

[2021-08-09 19:52] SleeplessByte commented on #42980
And finally: https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#write-your-code mentions to add test cases that fail without this code, but pass with it. Is it also preferable to add the list of already **Good** examples (in case they're not yet tested) to ensure that this behaviour is unaltered when further changes to this file are made?

[2021-08-09 19:55] ghiculescu commented on #42980
Yes please!

[2021-08-09 23:01] philipce opened #42983 "Disabling active record timestamp is incompatible with ar_internal_metadata table"
### Steps to reproduce

- Set `config.active_record.record_timestamps = false`
- Run something to insert a new record into the ar_internal_metadata table: `rake db:reset`

### Expected behavior

Should work without failing.

### Actual behavior

[code]

Which will then prevent you from doing any destructive operations on your database, giving an error

[code]

And the suggested fix there will fail

[2021-08-10 02:30] leompeters commented on #40781
Thank you, @zzemla. You rock!

[2021-08-10 02:32] leompeters commented on #35064
As **RailsPanel** is a great tool, keep using it with this solution: https://github.com/dejan/rails_panel/pull/177#issuecomment-797378347

[2021-08-10 06:41] abitrolly commented on #41683
I definitely need to create an image for that and upload it. Hopefully I can do this this week.

[2021-08-10 11:05] afdev82 commented on #23977
I was struggling with that problem too.
At the end I think there is no way to let the `clear` method trigger the callbacks, because it calls `:delete_all` and even specifying `:destroy` as dependent option [it defaults to `:delete_all`](https://github.com/rails/rails/blob/83217025a171593547d1268651b446d3533e2019/activerecord/lib/active_record/associations/collection_association.rb#L160).
It seems

[2021-08-10 12:35] yahonda commented on #42974
As far as I know, there are two ways to run unit tests of Rails modules like Active Record, Active Support .etc.
`bundle exec rake test` and `bin/test`. Rails CI at Buildkite runs them by `bundle exec rake test`.

In addition to unit tests, Active Job has integration tests with adapters which can be executed by `bundle exec rake test_integration`, which runs fine.
I prefer `bin/test` only runs uni

[2021-08-10 14:17] ryanstrickler commented on #42036
@Murphydbuffalo Sorry I didn't see this earlier. Looks like you got farther on this than we did. Heroku support couldn't find any problems with our configuration and suggested we start with a fresh Rails 5.2 install and try to reproduce the issue. We decided it would be better to put that time into upgrading to Rails 6, so that's our plan, but if we try your fix and it works, I'll report back.

[2021-08-10 19:30] ghiculescu commented on #42983
I'm also not sure why there's timestamps on the table. Looks like they have been there since https://github.com/rails/rails/pull/22967, but I couldn't see anything in the PR that says why. @schneems is there a need for them that I'm not seeing?

The table is created here: https://github.com/rails/rails/blob/5e8a26d70559c0b3183e81a5d2775d19146b0c04/activerecord/lib/active_record/internal_metadata.r

[2021-08-10 19:45] ghiculescu commented on #42983
Oh and I should add. To get your app working I think you could write a migration that makes the columns nullable.

[2021-08-10 19:52] intrip commented on #41460
/cc @p8

[2021-08-10 19:55] intrip commented on #40728
@ghiculescu can we close this?

[2021-08-10 20:12] richiethomas commented on #42974
@yahonda, a few beginner questions:

1. I observed the same passing tests that you reported in your comment, and I'm curious what could cause these specs to fail if we run `bin/test` vs. `bundle exec rake test integration`.  Are there certain setup stakes that the latter task executes, which the former task doesn't?  I tried answering this question myself by looking for the code that's executed wh

[2021-08-10 20:12] p8 commented on #41460
@intrip I think I agree. We even copy the migrations for Active Storage and Action Text: https://guides.rubyonrails.org/action_text_overview.html#installation

[2021-08-10 20:25] sambostock opened #42992 "`upsert` does not use correct precision when updating `updated_at` column."
### Steps to reproduce

Attempt to `upsert` a colliding (but different) record into table with an `updated_at` column with a non-zero `precision`.

<details><summary>Reproduction Script</summary>

[code]

</details>

### Expected behavior

`upsert` should detect `updated_at` precision and use that when touching the timestamp.

e.g. if `updated_at` has a precision of `6`, it should use `CURRENT_TIM

[2021-08-10 22:19] twk3 opened #42994 "pg_env in postgresql_database_tasks doesn't support certs for mtls"
Looks like config entries related to connection certs are missing from https://github.com/rails/rails/blob/5e8a26d70559c0b3183e81a5d2775d19146b0c04/activerecord/lib/active_record/tasks/postgresql_database_tasks.rb#L100-L107

- `PGSSLCERT`
- `PGSSLKEY`
- `PGSSLROOTCERT`

### Steps to reproduce

- Configure a database.yml to postgres connecting using clientKey clientCertificate for mutual tls
- run

[2021-08-11 05:46] dorianmariefr commented on #42923
@intrip I didn't understand that it was from `ApplicationJob`, I will try and maybe also rescue from `ApplicationController` if it doesn't work

[2021-08-11 05:46] #42923 closed

[2021-08-11 06:49] intrip commented on #41460
@p8 can we close this issue at this point? It's been here for a while and we all agree that it's not a bug.

[2021-08-11 11:40] BrianSigafoos commented on #32947
This appears to be the [best solution](https://github.com/rails/rails/issues/32947#issuecomment-653478965) for now from @aghalarp 👏

This works well with a Github Action to publish an image to a container registry.
You just need to set `RAILS_MASTER_KEY` as a repo secret in the Github repo settings.
Then use a Github action like `docker/build-push-action@v2` that passes the secrets correctly in fo

[2021-08-11 12:50] mbayucot commented on #42994
Hi @twk3, @byroot. Can I pick up this issue?

[2021-08-11 12:55] byroot commented on #42994
@mbayucot no need to ask for permission. However I can't guarantee it will be reviewed in a timely manner (I personally know very little about Postgres).

[2021-08-11 16:01] intrip commented on #40550
I think [this](https://github.com/rails/rails/issues/40550#issuecomment-879110553) is basically a docs issue, in particular [this part](https://edgeguides.rubyonrails.org/active_record_callbacks.html#halting-execution) is not clear:

*"Any exception that is not ActiveRecord::Rollback or ActiveRecord::RecordInvalid will be re-raised by Rails after the callback chain is halted. Raising an exception

[2021-08-11 16:50] philipce commented on #42983
wow thanks for the quick response!

[2021-08-11 17:34] vishaldeepak commented on #42817
Im wiling to give this a try. Can I be assigned?

[2021-08-11 17:36] vishaldeepak commented on #42665
hi @rafaelfranca , could you review this, or if this is somehow incorrect or needs to be done on rubocop/rails , do let me know. Ignore otherwise, thank you

[2021-08-11 17:39] ghiculescu commented on #42817
Go ahead and make a PR 👍

[2021-08-11 18:07] WarheadsSE commented on #42994
Go for it @mbayucot

In the least, we (@twk3 & @warheadsse) will have a look as soon as we can.

[2021-08-11 20:59] p8 commented on #41460
@intrip, looking at it more closely, we do have the following:
https://github.com/rails/rails/blob/main/activerecord/lib/active_record/railtie.rb#L45
So it does seem we do support this.
Should we maybe add the engine paths to the `ActiveRecord::Migrator.migrations_paths` there as well?
There also is this PR which changed some things for migration_paths: https://github.com/rails/rails/pull/31727

[2021-08-11 22:20] hahmed commented on #42968
I have looked into this a little more. I can see that we are simulating unhealthy db check by using an incorrect host which is now caught here https://github.com/rails/rails/blob/da911da97093fdda6d718943ab517283b46fd6ac/activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb#L50

This means that an exception is now raised much earlier than what's expected in those tests, as in the exc

[2021-08-11 22:22] hahmed commented on #42968
Whoops, apologies for accidentally closing 😅

[2021-08-11 22:27] mcandre opened #43001 "Do the db:... tasks wait for proper port unbinding?"
Open question. I am troubleshooting a problem with Rails / Puma, and wondering if a command `rake db:create`... just before my `bundle exec puma` is somehow responsible for the EADDRINUSE error I am getting.

Is it possible that Rails `db`... tasks are not waiting for port unbinding to complete, before allowing the process to terminate and restore control to the next command?

I can try to work ar

[2021-08-11 22:27] hahmed commented on #42968
Also... on my machine both tests are now failing on 2.7, 3.0 too, I wonder why CI only caught ruby head.

[2021-08-11 22:27] byroot commented on #42968
Hum, I only had a quick glance (late here) I'll have a closer look tomorrow.

But yeah, normally all DB access during boot should rescue any connection errors (this is to ensure you can deploy a fix to production if your DB is down).

So either something make it connect from an unexpected code path, or the exception raised is different than the one expected so the protection no longer works.

[2021-08-11 22:43] #40493 closed

[2021-08-11 22:56] hahmed commented on #42968
In the linked PR I tried to rescue those errors on the AR railtie, but that never worked will have another look tomorrow.

There is an issue with parallel testing or the reporter which is not serialising the error from the test correctly so I added `require "mysql2"` to the file `test/application/initializers/frameworks_test.rb` so I could see what's wrong, here is the stack trace:

[code]

[2021-08-12 00:43] #42140 closed

[2021-08-12 07:04] byroot commented on #42968
[code]

Ok it's what I thought, this model is trying to hit the database as soon as it's loaded, it shouldn't.

[2021-08-12 07:06] byroot commented on #42968
Oh, and there was a rescue there: https://github.com/rails/rails/blob/da911da97093fdda6d718943ab517283b46fd6ac/activerecord/lib/active_record/encryption/encryptable_record.rb#L124-L130, but only for `ConnectionNotEstablished`.

[2021-08-12 07:28] virolea commented on #41868
hey @intrip

Sorry to get  back at you on this so late. Looks like your pr should fix this indeed.

[2021-08-12 08:25] mbayucot commented on #42994
Ok, thanks @WarheadsSE @byroot

[2021-08-12 10:30] alpracka opened #43004 "Horizontal sharding & migration with data changing script (symlink)"
I believe this [issue](https://github.com/rails/rails/issues/42873) should be reopened.

[2021-08-12 10:34] voxik commented on #42957
Thx for the insights. Just trying this by hand on s390, this is the error:

[code]

So apparently, this is s390x ImageMagick issue, but there is no way to tell the issue from the log I have posted above. It would be useful if the return code of the process was available for example.

[2021-08-12 10:39] voxik commented on #42957
This is the root cause:

[code]

I'll report against ImageMagic, but I'd appreciate if ActiveStorage could help provide more information if possible. But I understand if you send me elsewhere, since there are several layers on top of IM

[2021-08-12 11:37] marcelolx commented on #38927
@eileencodes Since https://github.com/rails/rails/pull/42804 has been merged I think we can close this one, right?