[2015-01-07 15:24] sirwolfgang opened #18387 "Activerecord Enum Symbol Matching Behavior"
While working to upgrade an app, I came across this subtle breaking change in behavior. ActiveRecord seems to be no longer matching symbols and applying the integers. (There also seems to be some inconstancy on how the Enum is handled with where statements.)

To me one of the big wins was/is that Enums are handled transparently. I should be able to pass a symbol or a string to ActiveRecord, and it

[2015-01-07 16:40] tenderlove commented on #18115
If that's the case, then it sounds like we're setting up the cache correctly.  Are you able to run this app on JRuby?  I'm curious if it breaks there too.

[2015-01-07 17:06] jfelchner commented on #18379
First and most importantly, what do you all need from me to help you all track this bug down? :bug:

And in response to your comments:

@rafaelfranca I'd thought I'd heard that Rails had started using SemVer. Evidently it's using MarketingVer where the first digit means nothing other than "this is how many times we've released Rails at RailsConf" :smile:

@rafaelfranca @matthewd `to_sql` is, in fa

[2015-01-07 17:19] jfelchner commented on #18379
@rafaelfranca your proposed solution:

[code]

results in `NoMethodError: undefined method 'unprepared_statement' for #<Class:0x007fe0bd0835b8>`

`unprepared_statement` is actually defined on the connection.  However doing:

[code]

Results in a `LocalJumpError`.

[2015-01-07 17:29] jfelchner commented on #18379
But getting back to the original problem which is that `to_sql` returns unparameterized queries in the first place: it appears that it may be the `union` call that's the culprit as both:

[code]

and

[code]

Each result in an unparameterized query.

[2015-01-07 17:48] tenderlove commented on #18379
A self-contained reproduction script would be a great start.

This is the type of stuff that wears out OSS maintainers.  We should stick to fixing the bug, please.

When did Rails start supporting `union`?  I can't seem to find the implementation.  Are you using a third party library?

So it's behaving as the docs say.

[2015-01-07 17:49] matthewd commented on #18379
@jfelchner the most productive path to getting this issue solved would've been for you to skip this comment entirely, I think.

Sarcastic mea culpa aside, if you can find any official source that claims Rails uses SemVer, please point it out so we can fix it.

I think my meaning was pretty clear: "it has historically done so, and we've made no stronger claim that it won't any more". `to_sql` has a

[2015-01-07 18:28] kamilkowalski commented on #18387
I don't have any issues with enums in 4.2.0, it works for me in the following test:

[code]

SQL produced was:
[code]

and the test passes.

I'm not sure whether it couldn't be related to your database schema though - how is the field created in the migration? Are you sure ActiveRecord 4.2.0 loads in the second example?

[2015-01-07 18:29] jfelchner commented on #18379
@tenderlove @matthewd the SemVer comment was a joke... hence the smiley.  Evidently a poor one from your perspective.  I should have understood in the context of what you all have to deal with every day maintaining this huge project that it might come across the wrong way.  My apologies. :heart:

The rest of the comment however I absolutely meant, but it may have come across with the wrong tone du

[2015-01-07 18:49] jfelchner commented on #18379
@tenderlove I did one more quick dig through and I appears that maybe `union` on `Relation` is delegating to `Arel`.  What I get back after the `union` is an `Arel::Nodes::Union` class and not a `Relation`.  Therefore the `to_sql` call isn't even a call to `Relation`.

This was transparent to me before because it was coincidental that the `to_sql` on Arel just happened to behave the same way as th

[2015-01-07 18:51] sirwolfgang commented on #18387
I just ran your test, and it worked. I noticed this difference issue becouse it was happening at runtime in my newly converted app. Which is Gemfile.lock'd at `activerecord (= 4.2.0)` with `rails (4.2.0)`

[code]

[code]

[2015-01-07 19:05] diegossilveira opened #18389 "ActiveRecord serialize calling coder multiple times"
If you have an ActiveRecord class like this:

[code]

and let CustomSerializer be

[code]
After upgrading to rails 4.2, `CustomSerializer::dump` is being called multiple times when an instance of `Sample` is saved.

[2015-01-07 19:10] claudiob commented on #18385
@PeterBengtson hello! :grinning:

Could you provide some code to reproduce your error?
I tried the following code and did not experience any exception… please let me know what I'm missing.
Thanks!

---
[code]

[2015-01-07 19:16] chancancode commented on #18385
Yes, please try to isolate your issue in this format and we will take a look: https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2015-01-07 19:19] sirwolfgang commented on #18387
Looks like I distilled the problem down a little too far, and suffered a confirmation through mistake.

[code]

The issue is that `where`'s do not resolve to the enum id. Which may or may not be intentional looking at the [documentation](http://api.rubyonrails.org/classes/ActiveRecord/Enum.html). The where will place a `nil`.

The issue is this has cascading effects toward calls like `find_or_crea

[2015-01-07 19:54] ivar commented on #18376
@rafaelfranca I tested with 37f2defa99 (`3-2-stable` HEAD)  and the issue is fixed!
Thanks so much for your time support us laggards.

[2015-01-07 20:28] neosb opened #18391 "Postgresql Adapter can't connect to database"
`CentOS 7`
`Postgresql 9.4`
`ActiveRecord 4.2.0`

connecting to database, effect: `could not connect to server: no such file or directory is the server running locally and accepting connections on unix domain socket "/var/run/postgresql/.s.pgsql.5432"?`

workaround: set `host` to `/tmp`

[2015-01-07 21:47] kamilkowalski commented on #18387
Yes, I believe you need to resolve the int value yourself with ``Thing.states[:working]`` to use in ``where``, unless you can omit using it by using the *scope* provided by the enum.

[2015-01-07 22:05] sgrif commented on #18391
This is likely an issue with your computer's configuration, not with Rails.

[2015-01-07 22:05] #18391 closed

[2015-01-07 22:08] sgrif commented on #18389
This is intentional, and is used to detect mutations. It shouldn't be calling `dump` with the result of previous calls to `dump`, but it will call it multiple times. I'd like to memoize in a few cases where it's safe in the future, but it requires additional refactoring to be possible.

[2015-01-07 22:08] #18389 closed

[2015-01-07 22:59] #18359 closed

[2015-01-08 00:14] naiyt commented on #18375
I can explain a bit more about why we need the relation to the joined table on the child and the relation to the joining table on the parent if anybody needs it. (Although I'm not sure that's necessary for the bug report.) I know it's a bit weird, but does seem like a regression since Rails 3 supported it.

[I created a failing test here](https://github.com/naiyt/rails/compare/fix_18375). (My firs

[2015-01-08 00:18] 42001983 commented on #18375
It mighat be wife and son

[2015-01-08 01:27] ntdb commented on #16791
+1

Thanks for the temporary fix, @SimonKaluza. In my case I'm caching the calculated values to offset the performance hit.

[2015-01-08 03:40] dhh opened #18396 "Enhance assert_enqueued_jobs with options to scope the job class"
Some actions will trigger a variety of different jobs, but when you're testing each aspect in isolation, you only care about that aspect's jobs. So let's make it easier to test that by adding:

[code]

[2015-01-08 03:49] dhh commented on #18396
Here's a simple implementation:

[code]

[2015-01-08 03:57] georgeclaghorn commented on #18396
I'll take this one if nobody else was planning to look into it.

[2015-01-08 03:59] dhh commented on #18396
First to call dips, gets the cake! Go for it, George :). Thinking the implementation can probably be cleaned up a bit further.

[2015-01-08 04:02] dhh commented on #18396
George, I'd also love to see this added:

[code]

Implemented as `assert_enqueued_jobs 1, only: ActionMailer::DeliveryJob`.

[2015-01-08 04:07] georgeclaghorn commented on #18396
:+1:

[2015-01-08 05:02] Joshua-Anderson commented on #18357
@rafaelfranca The time is identical on failing Travis CI builds and the vagrant machine that passes.
`Thu Jan  8 04:54:42 UTC 2015`. I've run these tests continuously for a while as well and the results were identical every time.

@brainopia Thanks for the offer! My life is a little hectic right now, but If I find the time I'll make sure to drop by.

[2015-01-08 05:11] #18396 closed

[2015-01-08 07:19] jjgh opened #18398 "Installing ri documentation for rails-4.2.0 takes a lot on windows 7"
Ok I'm sure this has been reported multiple times for other Rails / Ruby versions but I just wanted to make it explicit that I'm still seeing the same behaviour with ruby 2.1.5p273 (2014-11-13 revision 48405) [x64-mingw32] on Win 7 x64, while installing rails 4.2 ri documentation...

[2015-01-08 07:24] jjgh commented on #18398
Ok faceplant. While I was writing this it finished running :)

(still it has to be noted that it took a very high amout of time! )

[2015-01-08 11:23] bastien-tilkee opened #18400 "Update_attributes always calls a save, even if the object is not modified"
When doing an update_attributes that does not actually update the model (=attributes are the same as current ones), a save is called anyways.

Unless I'm missing something, I think it should not, because :

- It does a Commit in the Database that is not necessary (which of course is quick, but could be a performance gain if removed)
- As a consequence, when using touch: true, on an association the

[2015-01-08 12:39] andikart opened #18401 "ERROR: Error installing rails"
![error rails](https://cloud.githubusercontent.com/assets/10099168/5662590/ae1afeb6-976d-11e4-9903-f722784e7bf7.png)
can someone help me ?

[2015-01-08 13:53] jensb commented on #8679
I tried something similar (see http://stackoverflow.com/questions/27840410) on Rails 3.2.21 and 4.1.9 and my tests fail as soon as I insert a `constraints:` hash into my namespaced route. If I remove it, tests work again, but since the constraints hash defines a subdomain, this is not a solution for production.
The code referenced on StackOverflow worked fine on Rails 3.0.20.

[2015-01-08 13:56] zoltankiss commented on #16313
@rafaelfranca update: this issue seems to still be present on `master`, `4-2-stable`, and `4-1-stable`.
I've rebased the pull request, and travis is passing.

[2015-01-08 14:07] brainopia commented on #18400
I'd try to see if any of the tests are failing after the change if it were up to me :smile:

[2015-01-08 14:10] bastien-tilkee commented on #18400
Yeah I didn't try to implement or test it yet, I wanted to see if this was made on purpose before :)

[2015-01-08 14:16] tommyp opened #18402 "rake routes fails when route constraint regex contains comments"
When the constraint regex on a route contains comments, `rake routes` fails with the following error:

[code]

The code in question is [here](https://github.com/alphagov/content-register/blob/2ced4612654a0a18d97b881a6ee52684f76a0c2f/config/routes.rb#L4) and as follows:

[code]

The regex is [here](https://github.com/alphagov/content-register/blob/2ced4612654a0a18d97b881a6ee52684f76a0c2f/app/models

[2015-01-08 15:14] andreynering commented on #18398
@jjgh I think it is normal to this take some time, specially on Windows.

You can skip it by using:

[code]

[2015-01-08 15:40] claudiob commented on #18401
Hello @andikart !

Stack Overflow is probably a better place to get this kind of help than this issue tracker – the issue tracker is really for reporting bugs and dealing with enhancements.

I'd recommend trying to post a question on http://stackoverflow.com or the Ruby on Rails Talk Google Group at https://groups.google.com/forum/#!forum/rubyonrails-talk.

Good luck!

[2015-01-08 15:41] #18401 closed

[2015-01-08 16:11] rafaelfranca commented on #18400
I thought `save` already do this, but I think I was wrong.

[2015-01-08 16:23] jjgh commented on #18398
@andreynering  why you think it's normal?

What I feel is, it wouldn't be a surprise if we'd find some bugs that only affect the Windows platform on this part of the code..

[2015-01-08 16:35] anatolydwnld commented on #12330
Bumped into this during a production deployment.

Another potential solution to this problem would be to use an explicit column list in selects. Table schema information should be available, since it is used by the insert code path.

Do any rails devs have an idea of whether this is feasible/desirable?

[2015-01-08 16:41] andreynering commented on #18398
@jjgh I think this isn't related to Rails, it is related to [rdoc](https://github.com/rdoc/rdoc). Bundler skips rdoc installation by default for all gems, because it take to much time.

It is slow even in Linux, actually. But is slower in Windows.

[2015-01-08 16:59] jjgh commented on #18398
Yes I did not want to imply it is a Rails thing but since the only times I happen to see this is when insta

[2015-01-08 17:53] ahmad-alkheat opened #18405 "Links to 'Learn more' on the ActiveRecord GitHub page not working."
I am getting a 404 error everytime I click on any link in the ActiveRecord GitHub page.

[2015-01-08 17:57] simi commented on #18405
Guides are meant to be visited at http://guides.rubyonrails.org/.

[2015-01-08 17:58] #18405 closed

[2015-01-08 18:04] ahmad-alkheat commented on #18405
Thanks simi

[2015-01-08 18:12] dandlezzz opened #18407 "attribute_will_change! can add non persisted attributes to arel and try to write them to the database"
When I call attribtue_will_change! on a non-persisted attribute it adds the attribute to the changes hash. Eventually, this hash is sent to arel_attributes_with_values and the code attempts to write to a column that is non-existent. This is new to rails 4.2, I was attempting to use the attribue_will_change! method to trigger various callbacks that run on save, these callbacks take the non-persiste

[2015-01-08 18:23] rafaelfranca commented on #18398
This is not a Rails issue. Our documentation is huge, so the time to compile it is huge, even more on Windows machine.

[2015-01-08 18:23] #18398 closed

[2015-01-08 18:30] dhh commented on #18336
Closed by #18371.

[2015-01-08 18:30] #18336 closed

[2015-01-08 18:31] dhh commented on #16831
@arthurnn Are you still interested in investigating this?

[2015-01-08 18:34] dhh commented on #18233
@simi still interested in finishing this up?

[2015-01-08 18:35] simi commented on #18233
Sure. Is the global switch good way how to implement this? Should it be turned on for new applications?

[2015-01-08 18:36] dhh commented on #18233
Awesome. Yes and yes.

[2015-01-08 18:42] dhh opened #18408 "Fix `rake stats` LOC/M counting when using testing DSL methods"
If you use the following test form:

[code]

Then rake stats won't do proper LOC/M calculations. So you end up with something like:

[code]

Let's fix that.

[2015-01-08 18:47] dhh opened #18409 "Make it easy to render templates outside of controllers"
While templates depend on certain aspects from the controller to be rendered properly, you are often in a scenario where you might need to render something outside of a controller. Examples include jobs, auxiliary scripts, web sockets, etc.

For this purpose, I've been using a RenderMan class like follows:

[code]

In our application, we've further specialized this class into an ApplicationRendere

[2015-01-08 18:51] #18329 closed

[2015-01-08 19:35] brainopia commented on #18408
I'd be happy to help.

Do you prefer a small change (fixing a pattern for ruby methods to recognize "test" definition) but it can screw numbers a bit for application code?

Or is it worth the effort to add an additional file type in https://github.com/rails/rails/blob/master/railties/lib/rails/code_statistics_calculator.rb#L4 (for files ending in '_test.rb')?

[2015-01-08 19:47] dhh commented on #18408
Awesome. I’d like to get the numbers right. So if that means an additional file type, I think that’s just fine :+1:.

[2015-01-08 20:08] rafaelfranca commented on #9703
Closed by #18404

[2015-01-08 20:08] #9703 closed

[2015-01-08 21:07] rafaelfranca commented on #18353
See https://github.com/rails/rails/pull/15172#issuecomment-69248584

[2015-01-08 22:49] listx commented on #13721
I just want to make clear/summarize the discussion so far, but with slightly
adjusted input methods to help ease readability for others looking at this
issue. My goal is to help others understand the issue better (maybe we need more
help on this thing?). I hope it helps!

I am using the input string `>>>>>` because they are just as HTML-unsafe as
@afn's original example, and I can still reproduce

[2015-01-08 22:53] edpaget opened #18414 "Polymorphic relationship type is not included when the join is made in a subquery"
I'm running into this issue on Rails 4.2 and Rails master. It doesn't seem to affect 4.1.7-4.1.9 at least. I've made a test case [here](https://gist.github.com/edpaget/d683a86fc3f7e9a48748) (and a full application demonstrating the issue [here](https://github.com/edpaget/SubqueryTestCase)). Let me know if I can make a more useful test case.

Basically, the issue is that if I have a query with a su

[2015-01-08 23:27] pseidemann commented on #18409
this might be related to #11662. I also like to see this built into rails

[2015-01-09 01:29] dhh commented on #18409
Yup, attacking the same issue.

[2015-01-09 07:01] aditya-kapoor commented on #18336
@dhh should we also deprecate the `action_methods`?

[2015-01-09 09:16] msdundar opened #18418 "ActiveSupport::Multibyte::Chars - Turkish Characters"
ActiveSupport::Multibyte::Chars, mb_chars method is not working properly with Turkish "i" character.

Rails is converting "i" to "I" when I use upcase method but it has to be "İ" in fact.

[2015-01-09 09:37] such opened #18419 "Find requests in a scope are cached by Adequate Records"
Hello,

Please see this executable gist that demonstrates the issue: https://gist.github.com/such/9d52b6b632bd296152a5.

If the first find request on a model is enclosed in a scope, following find requests will keep using the same scope.

Am I doing something unexpected/unsupported here?

[2015-01-09 13:47] dspaeth-faber opened #18422 "ActiveRecord does not set lock_version proberly"
Hi,

like described here #18135. `lock_version` has with Rails 4.2 no longer the magic it had have before.
Until Rails 4.2 `lock_version` was set to 0 within the database even when the `lock_version` column hadn't have a default value. Now it is set to null. So I can't find a record with `lock_version` 0.

Example:

[code]

[2015-01-09 15:38] rohit commented on #18402
A sample app to reproduce the error. https://github.com/rohit/sample-regex-routes-18402

IIRC the rake tasks don't have tests? I might be mistaken about this though.

[2015-01-09 15:46] rohit commented on #18402
In my explorations I found the following which might help:

1. Applying the `json_regexp` method to the original regexps i.e either `TEST_REGEX` or `UUID_REGEX` doesn't raise any errors.
2. The regexp handled by the method has the path added to it like `/users/`.
3. Removing the regexp option `x` doesn't raise the error.
4. A diff of the value of `str` obtained by applying the `json_regexp` method

[2015-01-09 16:09] sgrif commented on #18419
This is the expected behavior of the `scoping` method.

[2015-01-09 16:11] sgrif commented on #18407
Can you provide an executable test case which demonstrates the issue, using this template? https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-01-09 16:20] sgrif commented on #18419
Wow I really misread that gist. Sorry, I shouldn't comment on issues before I've had my coffee.

[2015-01-09 16:22] #18408 closed

[2015-01-09 16:23] dmitry commented on #18419
Just want to proof that it doesn't work on 4.2.0:

[code]

[2015-01-09 16:44] pixeltrix commented on #18419
@such can you test it against master/4-2-stable? I think this may have already been fixed by fb160f6

[2015-01-09 16:48] sgrif commented on #18419
Yeah, this looks like a duplicate of https://github.com/rails/rails/issues/18117 which has already been fixed.

[2015-01-09 16:57] #18422 closed

[2015-01-09 16:58] sgrif commented on #18379
It's worth noting that the `union` method on `Relation` is not public API

[2015-01-09 17:32] #18414 closed

[2015-01-09 17:51] such commented on #18419
Yeah you're right it works on 4-2-stable. Sorry for that.
I'm closing the issue then.

[2015-01-09 17:51] #18419 closed

[2015-01-09 18:16] rogercampos commented on #9336
I can confirm also this issue, setting `autosave: false` explicitly fixed it. Only happens on `has_one` associations, not `has_many`. The bug showed up after upgrading from 4.0.12 to 4.1.8.

[code]

[2015-01-09 18:34] codezomb opened #18424 "update _ids on has_many :through w/ conditions"
Updating the association via the `_ids` method has some strange results.

When creating the association in this manner, the condition is correctly applied to set the `role` attribute.

[code]

 However, when changing the attribute, `DELETE FROM` is called, but it's not scoped by the condition. This means that if you have two associations w/ different attributes (roles in this case), they both get

[2015-01-09 18:41] jamesmacwilliam commented on #18424
:+1:

[2015-01-09 18:44] bleiweiss commented on #18424
:+1:

[2015-01-09 18:54] jcode commented on #16407
what's the status on this?

[2015-01-09 19:48] arthurnn commented on #16831
@dhh i have that code in a patch on Shopify already, will cleanup the code and propose a PR still this weekend.!

[2015-01-09 20:14] rafaelfranca commented on #18418
This is a dup of https://github.com/rails/rails/issues/17401#issuecomment-60531761

[2015-01-09 20:14] #18418 closed

[2015-01-09 20:16] rafaelfranca commented on #16407
@jcode open :smile:

[2015-01-09 20:24] rafaelfranca commented on #18424
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-01-09 20:40] dandlezzz commented on #18407
@sgrif Please check out
https://github.com/dandlezzz/attribute_will_change_bug

I think my inline comments will explain things well enough. I guess I am using the method not as it was intended but I can verify that this did work in previous versions, so it would be nice to fix if possible.
Thanks so much for your help we are upgrading our app to 4.2 and have almost no issues and really enjoy the f

[2015-01-09 20:42] sgrif commented on #18407
What is the use case for calling `attribute_will_change!` on an attribute that won't be persisted?

[2015-01-09 21:05] dandlezzz commented on #18407
It permits the use of the method non_persisted_attribute_changed? and allows the object to be marked as dirty and trigger any callbacks that you would want as a result of that. In the app I am working on, the non_persisted_attribute has an array that needs to be parsed to it can be saved as part of a polymorphic relationship. So for example
attr_accessor :non_persisted
after_save :do_work_on_non_p

[2015-01-09 22:07] jfelchner commented on #18379
@sgrif sweet yeah, I think what we've come to in this issue is whether @tenderlove, @matthewd and/or @rafaelfranca have come to a decision on whether or not:

* they want it to be added to the public API for `Relation`
* a warning about using it for people who just guess it should work
* nothing at all and leave it how it is

[2015-01-10 00:06] jjb opened #18428 "template dependencies aren't being calculated at all?"
I notice that my caches don't get busted up the hierarchy like I expect them to.

invocations of `rake cache_digests:dependencies` and `rake cache_digests:nested_dependencies` suggest that rails thinks there are no dependencies:

[code]

poking around in the console agrees with this:

[code]

However, the posts show template has many dependencies. A couple examples, with names changed:

[code]

[c

[2015-01-10 00:08] jjb commented on #18428
related: http://stackoverflow.com/questions/27871275/what-formats-does-actionviewdigestor-new-accept-for-name

[2015-01-10 01:20] sgrif commented on #18379
`union` definitely ins't ready to be public API, since it returns an Arel node. We have tons of internal methods you might think will "just work". Should we warn for all of those, as well? I don't think there's anything actionable to do here.

[2015-01-10 01:20] #18379 closed

[2015-01-10 01:27] jfelchner commented on #18379
@sgrif I know it's not _ready_ to be a public API, I was mentioning that I think it _should_ be.  And that I'd be willing to do the work.

So you're saying that you don't think that `union` would be a valuable addition to the `Relation` API?

If so, that's fine, I just want to make sure we're on the same page.

[2015-01-10 04:48] rohit commented on #18402
I did some more exploring. Firstly I was wrong, there are tests for the regexp converter at https://github.com/rails/rails/blob/master/actionpack/test/dispatch/routing/inspector_test.rb#L29

So I wrote a simple test that raises the error:

[code]

Note the regexp is much simpler this time. This raises the same error as mentioned by the OP.

The problem causing substitution in `json_regexp` is:

[c

[2015-01-10 08:31] matthewd commented on #18379
@jfelchner we might eventually grow *some* `union` behaviour beyond #16052, which I'll be returning to shortly now that 4.2 is out -- I'm initially making it very restrictive, so we have more room to make it DWIM later.

If you're unioning two relations that are Quite Different Indeed, though, that seems beyond the realm of what Relation can support: if you have a Relation, we're fairly obliged to

[2015-01-10 08:51] 42001983 opened #18432 "ja"

[2015-01-10 09:32] #18432 closed

[2015-01-10 11:33] matthewd commented on #16978
I'm closing this as a dup of the (later, notabug) https://github.com/rails/rails/issues/18379#issuecomment-69448530

[2015-01-10 11:33] #16978 closed

[2015-01-10 18:59] kaspth commented on #18409
@dhh as for the name, what about something like `UnboundRenderer` or `OmniRenderer`?

[2015-01-10 19:09] #18407 closed

[2015-01-10 19:09] sgrif commented on #18407
Thanks. In the future you don't need a repo with the Gemfile, just a gist with the ruby file is enough.

[2015-01-10 21:56] brainopia commented on #18402
@tommyp @rohit Hi, I've sent a PR with a fix #18434

[2015-01-11 00:34] ktaras opened #18443 "Typeahead and Rails Assets"
I have a problem. I need Typeahead in my rails project (Rails 4.2.0) and I wanted to use https://rails-assets.org/
I've added to Gemfile:

    gem 'rails-assets-typeahead.js'

It has installed correctly, but when I've tried to require it in my `application.js` I got an error

    Sprockets::FileNotFound
    couldn't find file 'typeahead.js'

I've tried different requires:

    //= require typeahea

[2015-01-11 01:10] schneems commented on #18443
We reserve the github issues for rails for bug reports on the internals of rails. i.e. "this was working in rails 4.1 but is broken in rails 4.2" and for pull requests. All discussions are done on the mailing list, and all general technical questions are better served on stack overflow or on the rails talk google group. This particular question might be a better question for the rails-assets proje

[2015-01-11 01:10] #18443 closed

[2015-01-11 09:16] brainopia commented on #18409
I'll take a look, if the issue is still unassigned.

[2015-01-11 13:12] kaspth commented on #18409
Go for it.

[2015-01-11 14:32] cheezedigital opened #18447 "abusing the priviliage of stupidity"
working with
gem 'rails', '3.2.19'
ruby '2.1.1'

had to uninstall mysql, and reinstall mysql. I'm now able to start mysql followed by bundling the application, though the error message I'm getting is
/Users/jviers/.rvm/gems/ruby-2.1.1/gems/activesupport-3.2.19/lib/active_support/dependencies.rb:251:in`
require': cannot load such file -- doorkeeper/models/active_record/application (LoadError)
there

[2015-01-11 14:45] schneems commented on #18447
We reserve the github issues for rails for bug reports on the internals of rails. i.e. "this was working in rails 4.1 but is broken in rails 4.2" and for pull requests. All discussions are done on the mailing list, and all general technical questions are better served on stack overflow or on the rails talk google group. This particular question might be a better question for the doorkeeper project

[2015-01-11 14:45] #18447 closed

[2015-01-11 18:54] dhh commented on #18409
Hmm, there's something to `UnboundRenderer` but it's too indirect imo. Maybe StringRenderer could do. That's what it does. Returns the string.

Anyway, @brainopia please do take a stab at this!

[2015-01-11 19:21] simi commented on #18409
What about `DirectRenderer`?

[2015-01-11 19:38] dhh commented on #18409
Hmm. “Direct” is a nice word, but I don’t know if it necessarily implies any more clarity. At some point it is what we define it to be, and it doesn’t matter that much what it really is, I suppose.

[2015-01-11 19:39] dhh commented on #18336
Do you have a use case where people would be using that for something that's not a no-op?

[2015-01-11 20:00] equivalent opened #18453 "password input should by default add html argument autocomplete="off""
Just a security suggestion: Should the `password_field`, `password_field_tag` by default set the `autocomplete="off"` argument on password input ?

( as previously suggested in this discussion for `simple_form`: https://github.com/plataformatec/simple_form/issues/1191 )

There is no real point not disabling it by default as newer browsers (Internet Explorer > 11, Mozilla Firefox > 30, Google Chrom

[2015-01-11 20:02] simi commented on #18453
Good idea! :+1:

[2015-01-11 20:50] matthewd commented on #18453
I don't understand. Per your links, all the major browser developers have agreed that `autocomplete="off"` on password fields is such a bad idea that they now ignore it even if it's present.

Why would we consider that a reason to *add* it?

[2015-01-11 20:59] justincase commented on #15923
Appears to be fixed in 4.2.0

[2015-01-11 21:03] justincase commented on #18453
Have to agree with matthewd here. Old browsers are a security risk anyway.

[2015-01-11 21:33] carlosantoniodasilva commented on #18337
David, do you think it should initially live under the rails org or the author could manage the extracted gem under its user (and we would document it on release notes and so on, of course)?

[2015-01-11 21:39] dhh commented on #18337
I think traditionally, we’ve had the gem live under rails. That seems fine to continue.

[2015-01-11 21:41] carlosantoniodasilva commented on #18337
:+1:

[2015-01-11 21:42] rafaelfranca commented on #18337
:+1: for rails organization. If author want to manage the release and the repository it is fine, we can give him the access, as long we can do also. BTW, the copyright should still be the same as Rails since it an extraction of code.

[2015-01-11 23:11] nateberkopec commented on #18453
IE < 11 is not an insignificant portion of the browser world right now. I'm in support of this change.

[2015-01-12 01:56] todd commented on #18337
I'll commit to maintaining the gem moving forward - just let me know how you guys would prefer to handle that. As far as copyrights and things go, I can take care of the LICENSE file as that was just auto-generated by GitHub, but I'd also like some feedback on author attribution in [the gemspec](https://github.com/todd/record_tag_helper/blob/master/record_tag_helper.gemspec) - I just put all my ow

[2015-01-12 07:12] dspaeth-faber commented on #18422
Thanks :+1:

[2015-01-12 10:23] zw963 opened #18464 "Not update schema.rb when run with: rake db:drop db:create db:migrate"
## My Case

I add a hstore field to my products table with
[code]
It will add a new fields to my products table.

schema.rb like this:

[code]

And then, I found I need a default value, so, I change my migrate to this.
(Although I know I should remove add readd a new migrate ... )

[code]

Then, I run rake db:drop db:create db:migrate, it worked!
I have seen my products `additional_fields` default

[2015-01-12 11:01] zw963 commented on #18464
Perhaps this is not bugs?
before i add one new migration, migration history timestamp is not changed.

[2015-01-12 11:26] equivalent commented on #18453
@matthewd @justincase In ideal world no-one would use an old browser, but real world is not the case :smile:  I agree we both of you that we should not encourage backporting of new features for old browsers but we should definitley protect security issuse that may come with using old browser

[2015-01-12 11:33] simi commented on #18453
There is still workaround for IE 5..8 in Rails (utf8 parameter, formerly mr. snowman ☃). It is not hard to maintain it. I think this is similar fix and should be part of the Rails

[2015-01-12 12:15] matthewd commented on #18453
@equivalent that seems to be a response to @justincase, but not to me: he said "agree with matthewd", then went on to say something entirely unrelated to my point.

Maybe I'm the one misunderstanding the situation, but it is my belief that you're advocating making old browsers behave in a different way from newer browsers.

Specifically, because people were misguidedly adding `autocomplete="off"`

[2015-01-12 12:42] nateberkopec commented on #18453
@matthewd indeed. I went back and read the linked documents again and now I'm confused as well. A helpful summary from the bottom of the Mozilla link:

Summary of the change, so people don't have to wade through a long discussion:

The above quote suggests that "autocomplete=off" is a no-op in the browser versions stated in OP, and in browser versions <= will disable (or attempt to disable) passwo

[2015-01-12 13:23] equivalent commented on #18453
I do appologize @matthewd  (and  @justincase if that's the case) I thought that the comment was purely about "suporting older browsers in terms of new features don't need to be implemented as no one suppose to use them", I didn't realize you mean the implication to behavior of other browsers.

so yes that's a valid point

but to be honest even if it was the case that suddenly the password manager

[2015-01-12 13:31] equivalent commented on #18453
...one more solution is that I would change my PR so that Rails will provide configuration option something like `disable_password_autocomplete` would be by defalt `true` and developer may turn this off.

[2015-01-12 13:31] jrochkind commented on #18453
It seems to be controversial advice to autocomplete=off on old browsers, precisely because it will disable password managers. https://blog.0xbadc0de.be/archives/124

I'm confused what this change is meant to accomplish.  On newer browsers, it will do nothing?  And an older browsers, it will disable password managers, which many people consider a bad thing to do?   That does not make the change see

[2015-01-12 13:55] nateberkopec commented on #18453
I understand you're trying to make this seems less controversial, but this is something that should *just work*. Secure defaults are a good thing, and as an application developer, I want Rails to be as secure as possible right from the get-go without any input from me. A million twiddly config knobs is probably the worst possible solution for application security. Instead, let's try to agree on wh

[2015-01-12 14:13] equivalent commented on #18453
Ok, after reading the article that @jrochkind I'm starting to see that I may be wrong here (and what everyone was trying to tell me the entire time) ...would want to here more opinions on this

@nateberkopec  I'm still keen on sort of `:paranoid => true` option for Rails config  that would implement this (and maybe other paranoid security checks) becouse this is one of those things you may necessa

[2015-01-12 15:35] equivalent commented on #18453
Friend of my ( @tom-lord ) mentioned in a private dissussion a story of one company where they had `autocomplete=off` on login passwords and not on the login username. The way how lazy people mistreated this was that they were saving username+password to browser password manager under a username and just cut+paste the password.

After reading several other articles and this story I fully see that

[2015-01-12 15:42] justincase commented on #18453
@equivalent Ingenious, haha. I didn't dig that deep though I understand the cons much better now. Thanks.

[2015-01-12 17:02] nishu commented on #18338
Is there a way to permit this for legacy databases?

[2015-01-12 17:28] jaroslawr opened #18467 "Any assocation with an extension block raises the deprecation warning about instance-dependence"
With an association defined like this:

[code]

and a query like this:

[code]

you get the deprecation warning about instance-depedence:

[code]

which does not seem to be sensible in this case.

Runnable test case:

[code]

The culprit seems to be in CollectionAssociation in ActiveRecord::Associations::Builder, the initialize method says:

[code]
And wrap_scope is:

[code]

With this you end up

[2015-01-12 17:50] plehoux opened #18468 "Unnecessary deprecation warning on inclusion of association with both scope and extension"
Self-contained gist : https://gist.github.com/plehoux/31d73b161199c0bcb317

Above code will trigger following deprecation warning :

Note that the scope ` -> { self }` does not take any argument. There is no warning if we remove the extension block.

[2015-01-12 18:48] sockmonk commented on #5223
This also seems broken to me on 4.1.6. With default config, it logs all requests (internal and external) as coming from loadbalancers, which have "public" ip addresses. I set config.action_dispatch.ip_spoofing_check = false, and included my internal load balancer ip's in the config.action_dispatch.trusted_proxies option, but it still doesn't solve the problem for me. Just setting the ip_spoofing_c

[2015-01-12 19:09] felixbuenemann opened #18469 "Rails 4.1 Issue #15920 Arel Regression"
The changes introduced in Rails 4.1.8 to fix issue #15920 cause some code that works with arel to fail with `TypeError: Cannot visit Arel::SelectManager` that works fine on both 4.1.7(.1) and 4.2.0.

Breaking test case for ActiveRecord: https://gist.github.com/5a964d5c718f576eb101

The code works as expected on 4.1.7/4.1.7.1/4.2.0, but is broken on 4.1.8 and 4.1.9.

[2015-01-12 19:09] senny commented on #18338
@nishu there's no supported way around this behavior. You "could" monkey patch [this method](https://github.com/rails/rails/blob/6d72485b6977804a872dcfa5d7ade2cec74c768e/activerecord/lib/active_record/attribute_methods.rb#L131-L133) but there's no guarantee that you'll end up with working code.

[2015-01-12 19:19] felixbuenemann commented on #18469
One possible solution would be to add a `if bvs.any?` around the call to `arel.ast.grep` introduced in 0d74c5c, but I'm not sure if that the best approach.

[2015-01-12 20:15] nsimmons opened #18470 "Model.find(:first) no longer works"
According to the [docs](http://apidock.com/rails/ActiveRecord/Base/find/class) `Model.find(:first)` is supported.

Excerpt from the docs:

But since upgrading to Rails 4.1.8 this appears to be broken (or possibly removed).

See https://gist.github.com/arthurnn/57e789ae1ac8297f47bd for a failing test example.

[2015-01-12 20:17] nsimmons commented on #18470
@arthurnn for follow up

[2015-01-12 20:22] arthurnn commented on #18470
This doesn't work on 4-1-stable and 4-2-stable.

[2015-01-12 20:24] rafaelfranca commented on #18470
I'm almost sure it was deprecated in 4.0.

On Mon, Jan 12, 2015, 18:22 Arthur Nogueira Neves <notifications@github.com>
wrote:

[2015-01-12 20:26] rafaelfranca commented on #18470
Yes. It was. See activerecord-deprecated_finders

On Mon, Jan 12, 2015, 18:24 Rafael Mendonça França <rafaelmfranca@gmail.com>
wrote:

[2015-01-12 20:26] #18470 closed

[2015-01-12 20:28] nsimmons commented on #18470
Who is responsible for updating the docs to reflect this?

[2015-01-12 20:30] matthewd commented on #18470
@nsimmons on a third party site, which says "The last existing version (v2.3.8) is shown here"?

[2015-01-12 20:31] nsimmons commented on #18470
http://api.rubyonrails.org/ is correct. :+1:

[2015-01-12 20:32] arthurnn commented on #18470
@nsimmons you should use devdocs http://devdocs.io/rails/activerecord/findermethods#method-i-find they are always right =) =) =) . /cc @Thibaut

[2015-01-12 23:04] dhh opened #18473 "Add Method#source_code"
Common pattern for me is to inspect the source code of a method I'm curious about like so:

[code]

Then copy the path to the clipboard, then go to the console and do `mate path`, then APPLE-G to jump to the line.

Let's make that simpler:

[code]

[2015-01-12 23:05] guilleiguaran commented on #18473
I'll check this!!

[2015-01-13 00:48] chancancode commented on #18453
Agree with @matthewd's interpretation, so I don't think there's anything we need to do here.

[2015-01-13 00:48] #18453 closed

[2015-01-13 00:57] sgrif commented on #18473
Doesn't pry already provide this?

[2015-01-13 00:59] dhh commented on #18473
Link?

[2015-01-13 01:00] sgrif commented on #18473
https://github.com/pry/pry/wiki/Source-browsing#Show_method

[2015-01-13 01:05] dhh commented on #18473
Not quite the same thing. Doesn’t seem to work off dynamic methods, like the one I used in the example.

[2015-01-13 01:09] sgrif commented on #18473
Works just fine for me?

[code]

[2015-01-13 01:12] dhh commented on #18473
Ah, it wasn’t listed as one of the examples. In any case, taking on all of pry because you want this seems like shooting pigeons with canons. Pry is an omnibus of stuff.

[2015-01-13 01:14] sgrif commented on #18473
It's by far the most popular debugger. Why include hefty debug methods in every rails app, when a very ubiquitous gem which focuses solely on debugging does the same thing? This feels like Not Invented Here Syndrome to me.

[2015-01-13 01:16] dhh commented on #18473
It’s great that there’s a omnibus gem that adds a ton of shit for people who want that. Rails is full of small slices of functionality that’s also included in gems with the kitchen sink included. I see no conflict with that.

[2015-01-13 01:18] sgrif commented on #18473
Just seems like we're needlessly duplicating work, and adding more code that we have to maintain. Maybe it's worth reaching out to the pry guys to see if a common module could be pulled out that just provides this functionality, rather than replicating it wholesale?

[2015-01-13 01:23] dhh commented on #18473
Please do! Not interested in taking on a dependency gem, though. But if they want to extract Method#source_code, put it into AS, and then use it from Pry, that’s cool with me :+1:.

[2015-01-13 01:25] sgrif commented on #18473
Can we not do this? You know it doesn't make sense for a gem which has nothing to do with Rails to move their functionality into Rails, and add AS as a dependency. I'm just saying we might want to think about the maintenance cost of adding something like this to Rails, especially when it's already provided elsewhere.

I once read a really good book by some project management software guys about ho

[2015-01-13 01:30] dhh commented on #18473
Well, how about we see what kind of work this actually turns out to be. Guillermo has already assigned the ticket to himself, so he’s interested in working on it. Let’s give him a chance to see what kind of implementation this will take.

Every feature does have a cost. That’s exactly why I have no interest in depending on Pry in Rails given their laundry list of stuff. If you want one thing out o

[2015-01-13 01:32] sgrif commented on #18473
For the record, I'm not advocating for depending on pry in Rails. I'm advocating for having this functionality be provided by other gems, which people can choose to use if they need it.

[2015-01-13 01:33] dhh commented on #18473
So if you want to have this functionality, you have to depend on all of pry? Yeah, that's not an answer that appeals to me.

[2015-01-13 01:34] sgrif commented on #18473
https://github.com/rails/rails/issues/18473#issuecomment-69679453

[2015-01-13 01:40] dhh commented on #18473
If you're interested in handling that, have at it! Otherwise I'm happy to see what @guilleiguaran comes up with before considering an external dependency.

[2015-01-13 01:50] ConradIrwin commented on #18473
The [`method_source`](https://github.com/banister/method_source) gem is what pry uses to power this feature. I'd advise against re-implementing it, as the hard bit is working out when the method ends, particularly for dynamically defined methods when the syntax of the file needs masssaging to become ruby (see https://github.com/banister/method_source/blob/master/lib/method_source/code_helpers.rb#L

[2015-01-13 01:54] sgrif commented on #18473
Appears to do what we need.

[code]

[2015-01-13 02:42] elciok commented on #18385
I have the same issue. Apparently, it happens when using optimistic locking and a not-YAML serialized field in the same model.

[code]

[2015-01-13 03:42] dhh commented on #18473
That could be a good temporary solution until we can just get method end
line from Ruby directly. @tenderlove, did you say someone from ruby core
was open to implementing that? Maybe even in a point release?
On Jan 12, 2015 5:55 PM, "Sean Griffin" <notifications@github.com> wrote:

[2015-01-13 04:12] justincase commented on #18028
Currently not experiencing any errors with:

    $ ruby -v
    ruby 2.2.0p0 (2014-12-25 revision 49005) [x86_64-darwin14]

    $ gem -v
    2.4.5

    $ bundle -v
    Bundler version 1.7.11

    $ rails -v
    Rails 4.2.0

[2015-01-13 05:22] PeterBengtson commented on #18385
This is my use case exactly. Thanks, elciok.

[2015-01-13 05:34] justincase commented on #17354
Perhaps a silly question but did you check the production log file? By default `RAILS_ENV=production` writes to `log/production.log`. Setting `config.logger = Logger.new(STDOUT)` in `production.rb` will make Rails log to the console.

[2015-01-13 06:03] nishu commented on #18338
Thanks @senny.  Monkey patch should not break other functionality for my use case.

[2015-01-13 06:13] baweaver commented on #18473
I almost wonder if there could be a light variant of pry, stripped down much in the style of Rspec Core. There's already Pry Plus, so it wouldn't be unfathomable to further break it up. At the same time, it'd depend how @banister and @cirwin view the idea.

It may be a tinge bold to say, but Pry seems to be borderline ubiquitous. Finding a way to tie it in would be of great benefit, this granting

[2015-01-13 06:42] jaroslawr commented on #18468
I was just a little faster: https://github.com/rails/rails/issues/18467 ;)

[2015-01-13 08:02] apneadiving opened #18481 "where_values binding issue in 4.2?"
Hi,

I know `where_values` is supposed to be internal but its really convenient to use iot create OR queries for instance.

Actually I did use it this way but it seems there is a binding issue appearing in 4.2.

Here is a gist https://gist.github.com/apneadiving/15a3de9fa6d9031bedfd illustrating I end up with a `$1` after a `.to_sql`.

Is this expected? Is there a work around?

Thanks,

Benjamin

[2015-01-13 08:18] #18481 closed

[2015-01-13 08:35] apneadiving commented on #18481
ok so no work around I suppose?

[2015-01-13 09:46] senny commented on #18467
@jaroslawr thank you for reporting, I'll take a look.

[2015-01-13 09:47] senny commented on #18468
Closing in favor of #18467

[2015-01-13 09:47] #18468 closed

[2015-01-13 09:47] senny commented on #18468
@plehoux @jaroslawr thank you for reporting :yellow_heart:

[2015-01-13 10:39] equivalent commented on #18453
@justincase  :)  this was one of those mornings where I was like "oh! I have a great idea for really simple, straight forward, one line code change that will be benefit without no side effect at all "   ...Nah, I should have coffee first, ...or vodka :)

yep, never I though there could be so much "why" around that :)

[2015-01-13 11:41] AUS3RIS opened #18484 "Safari "Preload Top Hit in the background" requests (no HTTP headers?)"
Hello,

Is there a way somehow to identify requests made by Safari in the background, while editing address bar? This is caused when Safari option "Preload Top Hit in the background" enabled, which is by default.

Seems like Safari doesn't send any additional headers on these requests, like it does with `HTTP_X_PURPOSE`: `preview` when it generates thumb images for 'Top Hit' view.

Unlikely, but c

[2015-01-13 11:46] matthewd commented on #18484
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-01-13 11:46] #18484 closed

[2015-01-13 12:05] banister commented on #18473
@baweaver i think there is potential for a gem that just contains the Pry introspection APIs. Some of our APIs go well beyond the basic functionality in `method_source`. But, tbh, Pry itself is a relatively small gem with only one hard dependency (`method_source`) so just require-ing `pry` and using its APIs, without starting a REPL, seems like a fairly OK solution to me.

[2015-01-13 15:20] dhh commented on #18473
I guess it depends on the circles in which you travel to see Pry as ubiquitous. I've heard the same claims about rspec: All my friends use it, so it must be The Standard.

Rails is certainly an omnibus itself, which makes it all the more imperative that we restrict our appetite for additions to be more like additional appetizers and not 21-course meals.

But always happy to consider proposals for

[2015-01-13 15:24] sgrif commented on #18473
In the mean time, the feature at hand is already in a separate gem. It looks like the method_source gem which pry depends on gives exactly this feature, and nothing else. Seems to fit the bill, as well as addresses all of the concerns raised in this thread (not including an omnibus)

[2015-01-13 15:30] dhh commented on #18473
Yup. I say we start by including that, then work with Ruby core through
@tenderlove to get end definition line and make it obsolete. Maybe this can
even happen before 5.0.final and we can ship without the extra dependency.

On Tuesday, January 13, 2015, Sean Griffin <notifications@github.com> wrote:

[2015-01-13 15:32] sgrif commented on #18473
Rather than having it as an actual dependency of Rails, why don't we add it
to the default generated Gemfile under the development group instead.

On Tue, Jan 13, 2015, 8:30 AM David Heinemeier Hansson <
notifications@github.com> wrote:

[2015-01-13 15:48] dwbutler commented on #1627
We just experienced this exact problem in production. Glad to see we're not alone. I vote for incrementing the counter in `next_key`.

[2015-01-13 16:02] kinnrot opened #18486 "Active job should have support for custom types with custom serializers"
Currently we can only send to perform the following:

[code]

And it's pretty strict,

Sometimes I'd like to send a BSON::ObjectId

and it's very simple to implement serialization and deserialization on it.
just no suitable infra for it.

[2015-01-13 16:17] runwaldarshu opened #18487 "Adding responders gem in gemspec does not work."
I am using responders gem in my gemspec but it is not working. It needs to be added in the Gemfile only why is so?
It will be nice to add it in gemspec that way every dependency using my gem does not have to add that in their Gemfile too. It should come as a transitive dependency.

[2015-01-13 16:19] chancancode commented on #18487
The difference is that adding something to the Gemfile would require it by default, whereas adding to the gemspec would not. So you would need to explicitly require that somewhere, presumably in your gem_name.rb

[2015-01-13 16:19] #18487 closed

[2015-01-13 16:22] rikas opened #18488 "Rails 4.2 - when in development, 'routes/route' partial will be overriden by web-console gem"
Hi,

I have an application and I have a partial living under `app/views/routes/_route.html.erb`

If `Rails.env == 'development'`, when I try to use it within a view, with `<%= render partial: 'routes/route' %>` it does not render my partial and renders the web-console gem partial.

I did find a `lib/action_dispatch/templates/routes/_route.html.erb` inside web-console-2.0.0

Here's the log output s

[2015-01-13 16:26] rafaelfranca commented on #18486
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-01-13 16:26] #18486 closed

[2015-01-13 17:17] dhh commented on #18473
That sounds like a good start as well. :+1:

[2015-01-13 17:25] #18473 closed

[2015-01-13 19:26] macarenomarco opened #18492 "Fixtures not working with single table inheritance"
I've found that when using single table inheritance it's necessary to use a single fixture file for all the test objects of that particular inheritance tree. For example when using a base class Person and Two child classes Student and Teacher, the expected behavior would be that when loading the files `teacher.yml` and `students.yml` the table people would have all the fixtures in it. The followin

[2015-01-13 19:57] chrisnicola opened #18495 "Independent Signup and Login Pages"
Allows for a link to signup/login from other sites.

[2015-01-13 19:59] teknull commented on #18495
Not sure this is even an issue?  Or is this some sort of feature request?  Your issue is not very clear.

[2015-01-13 20:02] #18495 closed

[2015-01-13 20:03] chrisnicola commented on #18495
@teknull ack really sorry tek, foolishly not paying attention to what repo I'm in.

[2015-01-13 20:56] brainopia commented on #18409
Hello, David. I've been pondering about this feature. In the example above a request environment consists of `default_host_options` and `host_options`. But at least some of gems depend on environment to contain data populated by middleware.

An example of this would be Devise. A call to `current_user` would fail unless `env['warden']` was setup by Warden middleware. It would be tiresome to manuall

[2015-01-14 01:49] tjchambers opened #18498 "SQL Binds missing on joins with default scopes - 4.0.12 vs. 4.2.0"
In the gist: https://gist.github.com/tjchambers/636507ec330a9e88dc10/edit you can see a test setup that succeeds on 4.0.12 of Rails and fails on 4.2.0.

In Summary the binds which would be generated for the stage !=7 are not generated twice as needed for the SQL statement, so in 4.2 there are 2 bind values mapped to 3 bind insertion points, which offsets the binds and leaves one bind missing a val

[2015-01-14 05:25] thenanyu commented on #17864
+1

[2015-01-14 07:41] philipmw opened #18505 "In request spec, default_url_options are processed only after first request"
I created a minimal Rails app that demonstrates the problem with Rails 4.2.0: https://github.com/philipmw/rails-default-url-options-bug

[code]

The difference between BEFORE and AFTER is:

[code]

The effect is that the behavior of Rails URL helpers depends on the state of an integration test. Before a request, URL helpers behave one way; after a request, another way. This is unexpected and makes

[2015-01-14 07:41] vipulnsward commented on #18498
@tjchambers I tried to reproduce this here -
https://gist.github.com/vipulnsward/d4503eaaaf58f5a3afd7
This passed for for me both on rails 4-2 stable and master and properly produced the binds.

[2015-01-14 08:16] vipulnsward commented on #18505
@philipmw  can you try reproducing this using https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb ?

[2015-01-14 08:55] prathamesh-sonpatki commented on #18492
I can confirm this issue on master. This is happening because we are not merging the rows for STI tables - https://github.com/rails/rails/blob/master/activerecord/lib/active_record/fixtures.rb#L526 and deleting previous rows before addings rows in same table(in case of STI only)- https://github.com/rails/rails/blob/master/activerecord/lib/active_record/fixtures.rb#L528-L530

[2015-01-14 09:06] dspaeth-faber opened #18506 "Serialize error with a lock_version column"
Hi,

when I have a `lock_version` column within my table serialization does not work proberly.

Example:

[code]

With a lock_version column it raises a `JSON::ParserError` . Without a `lock_version` it works very well.

Maybe it has to do with #18422 . This also effects custom serializer like nested-hstore.

[2015-01-14 09:13] fwiesel opened #18507 "Unexpected equivalence of ActiveRecord::Base#find('1something') and ActiveRecord::Base#find(1)"
The automatic casting of the passed value with `value.to_i` instead of `Integer(value)` in the following line:
https://github.com/rails/rails/blob/c0c6dd6aa27dd8e5ff334605fb133625b434f4bd/activerecord/lib/active_record/type/integer.rb#L33

The result is, that the following to calls are equivalent:
`ActiveRecord::Base#find('1something') == ActiveRecord::Base#find(1)`

This behaviour is somewhat une

[2015-01-14 09:16] fxn commented on #18507
@fwiesel expected. It's common to exploit that to have slugs like "1-foo-bar" for example.

[2015-01-14 09:16] #18507 closed

[2015-01-14 10:21] anujaware opened #18508 "I am not able to create attribute to a model using write_attribute. Do we allow it in rails 4.1.8?"

[2015-01-14 11:54] dideler opened #18511 "Routing tests fail for routes that match all verbs"
Since upgrading to 4.2, my routing specs are failing for routes that match all HTTP methods.

[code]

[code]

If you were using Test::Unit, I think the test would look like
[code]

The (RSpec) test fails
[code]

It's not recognizing ALL as an HTTP method (and that's true, it's not), but it is a valid route option and it used to work in tests. I don't know if it was intentional that it worked befor

[2015-01-14 12:24] zedtux commented on #12330
I'm facing the same issue with Rails 4.1.9 and Postgres 9.4.

[2015-01-14 13:07] rafaelfranca commented on #18508
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-01-14 13:07] #18508 closed

[2015-01-14 13:12] zpaulovics opened #18513 "ActionController::RoutingError (No route matches [OPTIONS] "/assets")"
Hi,

In a Rails 4.2 application I have changed config parameter in the config/environments/porduction.rg file
from config.serve_static_assets = false
to config.serve_static_files = false
according to the deprication message.  Since that time I have got the following fatal error:

I, [2015-01-14T12:43:41.747355 #22151]  INFO -- : Started OPTIONS "/assets/" for 91.120.37.4 at 2015-01-14 12:43:41 +01

[2015-01-14 13:19] rafaelfranca commented on #18513
Can you please provide a sample application that reproduces the error?

[2015-01-14 13:19] glaucocustodio opened #18514 "Postgres's unnest query not returning as expected in array column"
Hi guys, I was migrating a project from 4.1.9 to 4.2.0 and a test related to a query using postgres's unnest function in an array column did not pass in the latest version.

I have searched for similar problems but I did not find, so I created this gist https://gist.github.com/glaucocustodio/b7d643b401e37ddd2045 with the scenario, I would like to know if it's a bug or not.

Thank you.

[2015-01-14 13:41] rafaelfranca commented on #18505
Does it work fine at 4.1?

[2015-01-14 14:40] rafaelfranca commented on #18506
Thank you for reporting. This is a dup of #18385

[2015-01-14 14:40] #18506 closed

[2015-01-14 14:55] tjchambers commented on #18498
Ok - thanks  - will wait till 4.2.1 release to reassess.

[2015-01-14 15:05] pgeraghty opened #18515 "Inconsistent behaviour of Hash#stringify_keys, Hash#symbolize_keys and bang variants"
Just thought I'd report this since I stumbled across it and maybe others can confirm/explain.

Rails 4 (checked under 4.0.9, 4.2.0):
[code]
Rails 3.2 (checked under 3.2.16):
[code]

[2015-01-14 15:42] philipmw commented on #18505
@rafaelfranca, 4.1 has the same test output as 4.2.

vipulnsward, nice template. I will adapt my code to that template in a few hours and post an update.

[2015-01-14 16:34] dhh commented on #18409
I like the idea of that! Please give that a go in a PR, and let's try it out. Be happy to test it in our Basecamp stuff. Thanks for working on this.

[2015-01-14 17:05] pierrickrouxel opened #18516 "Timezone problem persisting time with ActiveRecord"
Hi,

I think there is a problem with the time persistence in ActiveRecord.

With:

[code]

When I try to persist '2000-01-01T00:00:00.000Z' it is stored in database as 00:00:00 but it should be 01:00:00 because my local timezone is GMT +1.

So when I reload my model the time is 23:00:00.

Can you help my to understand if it's normal?

Thanks.

[2015-01-14 17:05] rafaelfranca commented on #18516
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-01-14 17:06] sgrif commented on #18514
I did make a conscious decision to have the type of the column on the AR class always override what the database says it should be. https://github.com/rails/rails/commit/da3b4b61732ca4717c99e680ebaf2af43e67ca74

This is because once the attributes API is made public we don't want the type you specified to get trampled by what the database thinks it should be.

That doesn't mean that this isn't a b

[2015-01-14 17:08] rafaelfranca commented on #18514
Make a lot of sense. `id` is and should be what the database says it is.

[2015-01-14 17:14] rafaelfranca commented on #18514
I mean, the mapped type in AR say what it is.

[2015-01-14 17:16] glaucocustodio commented on #18514
Ok, I got it. What do you recommend then? What would be the best approach to pull it off?

[2015-01-14 17:17] sgrif commented on #18514
`select("unnest(tags) as unnest_tags").map(&:unnest_tags).uniq` would be the workaround in the general case.

[2015-01-14 17:17] #18514 closed

[2015-01-14 17:19] sgrif commented on #18514
For your specific code, I'd also recommend rewriting it as: `pluck('unnest(tags)').uniq` or as `pluck('DISTINCT unnest(tags)')` if you don't need specific ordering

[2015-01-14 17:26] glaucocustodio commented on #18514
Great! I guess more people may be using some code similar with the one in gist.. I did not find any example like the one showed by @sgrif at http://edgeguides.rubyonrails.org/active_record_querying.html. Would not be nice if I include some example like that there?

[2015-01-14 17:29] sgrif commented on #18514
I'm not sure whether we need a specific example like that, since the method itself is covered here: http://edgeguides.rubyonrails.org/active_record_querying.html#pluck, and in general any method in AR can also take a SQL string. However, if you feel strongly about it, I encourage you to open a PR adding some examples

[2015-01-14 17:53] philipmw commented on #18505
@vipulnsward, I rewrote the test case using your template and pushed to the same repo.

The problem appears to be specific to Rspec. With minitest, I had to `include Rails.application.routes.url_helpers` into the test case to get URL helpers, at which point the helpers worked consistently before and after a request. With rspec, however, I do not need to `include` that module.

When I do `include`

[2015-01-14 17:53] spidergears commented on #18515
Confirmed on Rails 4.1.6,  Ruby 2.1.5
[code]

[2015-01-14 18:05] sgrif commented on #18498
As mentioned, this is a duplicate issue and has already been fixed.

[2015-01-14 18:05] #18498 closed

[2015-01-14 18:07] tjchambers commented on #18498
Please reference the duplicate so I can examine.

[2015-01-14 18:09] sgrif commented on #18498
https://github.com/rails/rails/issues/18343 https://github.com/rails/rails/pull/18350

[2015-01-14 18:18] matiasdh opened #18518 "When using the sqlite3 database, some model callbacks are not being triggered."
The following code does not work properly when using a sqlite3 database.

class ModelName < ActiveRecord::Base
  before_create :random_function

  def random_function
    puts "Hello World!"
  end
end

and from the rails console:

A "Hello World!" text should be printed but nothing happens :( .

[2015-01-14 18:21] seuros commented on #18518
You user `before_create` not `before_initialize`, save the record to trigger the callback.

[2015-01-14 18:21] #18518 closed

[2015-01-14 18:45] russellquinn opened #18519 "Mail and deliver_later doesn't work with date argument"
If you pass :date into mail with a deliver_later:

    mail(:from => "test@test.com", :to => "another@another.com", :subject => "hey", :date => Time.now).deliver_later

Then it throws a SerializationError, because Time is an unsupported argument type:

http://edgeapi.rubyonrails.org/classes/ActiveJob/SerializationError.html

[2015-01-14 19:13] rafaelfranca commented on #18519
Yes, it is. We can't pass Time objects to the background adapters since sone of them only support some basic errors. You should serialize the Time object in your side.

[2015-01-14 19:15] russellquinn commented on #18519
There's also no documentation about the expected format :date for mail.

[2015-01-14 19:16] pierrickrouxel commented on #18516
I think this is an issue.

[2015-01-14 19:18] rafaelfranca commented on #18519
Hmm, in other side you are not implementing the delivery job and you would have to deserialize it on the views, what is not a good option. Not sure what we can do given that some adapters just accept basic types.

cc @seuros @cristianbica

[2015-01-14 19:20] rafaelfranca commented on #18516
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-01-14 19:20] russellquinn commented on #18519
Right, considering deliver_later is a it-just-works method. It should just work. At the very least, it should be clearly documented that it doesn't work with :date.

[2015-01-14 19:29] cristianbica commented on #18519
You don't need to deserialize in the view. You don't call deliver_later on the result of the `mail` method but on an ActionMailer action method. You will deserialize in there. The way I use this is UserMailer.welcome(user, Time.now.to_i) and in the welcome method I use Time.at.
I'm not sure how often dates are passed to the jobs but I would avoid handling that in ActiveJob because we would need to

[2015-01-14 19:32] russellquinn commented on #18519
Right, sorry.

[2015-01-14 19:39] rbarrera87 opened #18520 "Child validations with accepts_nested_attributes_for"
`valid?` method is validating the child association when I used `accepts_nested_attributes_for:` only when the association is loaded, even if I'm not modifying anything in the associated model, imagine the follow scenario:

[code]

Is this a bug or there is any way to skip the associated validations and validate it only if I'm modifying some attributes in the associated model?

[2015-01-14 19:41] #18519 closed

[2015-01-14 19:53] sgrif commented on #18385
Ironically, this has nothing to do with serialize. The type information is coming from the connection adapter in the lock column, rather than the AR subclass which has the proper type information for things like serialized. So the casting behavior occurs thinking that it's a `Type::String` and not a `Type::Serialized`. `Type::String#type_cast_for_database` is a no-op for unrecognized types, so the

[2015-01-14 20:01] sgrif commented on #18385
Fixed in https://github.com/rails/rails/commit/cb277485f9d78f3661c7103e7b468812cc283223 (Github won't close issues from pushing to 4-2-stable)

[2015-01-14 20:01] #18385 closed

[2015-01-14 20:01] Soleone commented on #18511
I noticed a similar issue today where previously a HEAD request worked in rails 4.1 when the routes was defined as follows, but no longer does in rails 4.2:

    match '/ping' => 'tools#ping', via: [:get, :post]

[2015-01-14 20:16] sgrif commented on #18520
I believe this is the expected behavior of `accepts_nested_attributes_for`, as it sets the association to autosave. You should not have an invalid record in your database, unless you explicitly circumvented Rails' validations, which you should do at your own risk.

[2015-01-14 20:17] joost commented on #15843
Trying to mount a Rack app in Rails I got the following Rack::Lint::LintError
 (Lint assertion):

    session #<ActionDispatch::Request::Session:0x7f8466bfa3c8 not yet loaded> must respond to store and []=

This is because Rack::Lint expects session to respond to `store`. You could try monkey patching with something like:

    class ActionDispatch::Request::Session
      def store(name, value)

[2015-01-14 20:22] sgrif commented on #18516
`"Paris"` is not a valid time zone, causing it to default to UTC. Rails uses the `tzinfo` gem to get time zone information. The correct time zone is `"CET"`

[code]

[2015-01-14 20:47] sgrif commented on #18516
Whoops, appears we do actually map `"Paris"` to a time zone in AS

[2015-01-14 20:51] minaguib opened #18522 "[regression?] ROR 4.2.0: Marking virtual attribute dirty causes invalid SQL at save time"
This issue popped up after upgrading a rails application from 4.1.7 to 4.2.0

Given an instance (p) of an AR model (Purchase) that would otherwise save successfully, marking a virtual attribute as dirty (such as done in a custom setter):
`irb(main):009:0> p.send(:attribute_will_change!, :virtfoo)`

Then causes errors saving:
[code]

It's attempting to set "virtfoo" in the DB which doesn't exist th

[2015-01-14 20:52] sgrif commented on #18522
Duplicate of https://github.com/rails/rails/issues/18407

[2015-01-14 20:52] #18522 closed

[2015-01-14 20:56] minaguib commented on #18522
I searched. I really did! Not sure how I missed #18407.  My apologies.

[2015-01-14 20:57] sgrif commented on #18522
Not a problem! :grin:

[2015-01-14 21:18] Crunch09 commented on #18424
@rafaelfranca @codezomb  I could reproduce it with a failing test case https://gist.github.com/Crunch09/e08a8b3774f5bfd9b501 . If nobody has started yet, i'd be happy to try to write a fix for it.

[2015-01-14 22:07] MGotink opened #18523 "Serialized attribute is rendered as yaml in form helpers"
When you set the value of an input field to a serialized attribute of a model it is rendered as yaml.

To reproduce:
 - create a new project and set up a scaffold: `rails g scaffold Post content`
 - add `serialize :content` to the post model

When you start the server, create a new post and edit it, the content attribute is displayed in yaml, like `--- test...`.

This seems to be introduced in rai

[2015-01-14 22:12] rbarrera87 commented on #18520
It might be the expected behavior but what I want to point here is that `valid?` method is not showing the same result, even when I'm not modifying anything in my instance variable. If `valid?` method were consistent, then it should validate both models always (therefore, it should return false always) but it's not.
I think the correct behavior should be as follow:
[code]

[2015-01-14 22:16] sgrif commented on #18520
That's true of any association which is set to be autosaved, as the alternative is to eagerly load all associations whenever you save one of them, which would be bad. Again, this follows the assumption that a record *shouldn't* exist in the database, in which case the result wouldn't change here. If you explicitly bypass validations, you are doing so at your own risk, and behaviors like this can a

[2015-01-14 22:44] #18523 closed

[2015-01-15 00:01] MarkMurphy opened #18524 "Select helper prompt extended options"
I would like to be able to generate the following markup for use as a select prompt:

Firefox and Chrome seem to do this:

[code]

[2015-01-15 00:13] sgrif commented on #18524
We reserve the github issues tracker for rails for bug reports on the internals of rails. i.e. "this was working in rails 4.1 but is broken in rails 4.2" and for pull requests. All discussions are done on the mailing list, and all general technical questions are better served on stack overflow or on the rails talk google group

[2015-01-15 00:13] #18524 closed

[2015-01-15 04:51] minaguib commented on #18407
@dandlezzz For the time being you until released, you can use rails from git, or instead:
[code]

[2015-01-15 07:24] dbackowski commented on #18515
Confirmed on Rails 4.1.8, Ruby 2.0.0

[2015-01-15 07:59] sivsushruth commented on #18515
I think the issue is because of the delete method being called on hash with duplicate values.

Rewriting the transorm_keys! method as

[code]

seems to work.

[code]

Is this acceptable ?

[2015-01-15 08:24] scarfacedeb commented on #17511
@agis- Do you still plan to make this PR?
I also need this feature, and I can prepare it for you, if you don't have time right now.

[2015-01-15 08:55] agis- commented on #17511
@scarfacedeb I plan to work on this the next week. Will report back soon.

[2015-01-15 09:30] kommen opened #18527 "strip_tags escapes other characters like quotes and ampersands"
This behavior changed from rails 4.1 to 4.2 with https://github.com/rails/rails/pull/11218 (thanks for that amazing work btw!).

[code]
[code]

I would expect `strip_tags` to not behave like that and just remove tags and comments as documented, because maybe the output won't be used in HTML.

As a workaround, I use ```Rails::Html::WhiteListSanitizer.new.sanitize(string, tags: [])```, which seems t

[2015-01-15 10:04] seanahrens opened #18529 "A concern that contains a skip_before_action does not skip the before_action of a parent's concern"
I know that title sounds complicated, let me break it down:

I have my ApplicationController and my RegistrationsController both including their own concerns. In the concern of the ApplicationController I have a before_action. In the concern of the RegistrationsController I have a skip_before_action. The skip_before_action does not work. The action gets executed anyway.

I believe this is a bug /

[2015-01-15 10:05] pierrickrouxel commented on #18516
You can find the test here:
https://gist.github.com/a2aff5f16998babe843c.git

Timezone is totally ignored.

[2015-01-15 11:30] claudiob commented on #18529
@seanahrens Hello!

It looks to me like there is something weird going on with those `initialize` in your code:
`RegistrationController` inherits from a `Devise::RegistrationsController` which probably does not inherit from the same `ApplicationController` you reported above.
Also, `RegistrationController` does not call `super`, so probably the original `initializer` gets lost.

I suggest you try

[2015-01-15 12:15] matthewd commented on #18527
I think this is a dup of https://github.com/rails/rails-html-sanitizer/issues/28

[2015-01-15 12:34] seanahrens commented on #18529
@claudiob thanks for your prompt reply. Actually, the problem IS solved when I move "before_action :foo" into ApplicationController, and take it out of ApplicationConcernController. And do nothing else.

`
class ApplicationController < ActionController::Base
  before_action :foo
end
`

This leads me to believe it's a Rails thing. But if given this, you still think I should move it to the google gr

[2015-01-15 12:41] scarfacedeb commented on #17511
@agis- OK, thanks!

[2015-01-15 13:09] georgemillo opened #18531 "Can we get a method "HashWithIndifferentAccess#symbolize_keys!""
When I'm writing a method which takes an options hash, I often use `symbolize_keys!` on the hash to avoid any issues with users passing in string keys:

    def my_awesome_method(opts={})
      opts.symbolize_keys!
      # Perform magic...
    end

The problem is, if somebody passes in a `HashWithIndifferentAccess` to this method, it will fail with a `NoMethodError`: `undefined method `symbolize_k

[2015-01-15 13:18] slavingia opened #18532 "ActionMailer issues with Rails 4.2.0"
Since upgrading from Rails 4.1.7.1 to Rails 4.2.0, I've gotten this error. Nothing has changed besides a bunch of Gem upgrades.

[code]

It seems as though ActionMailer isn't being included as part of the app. Any ideas? ```config.action_view``` and others still work fine.

[2015-01-15 14:05] fera2k opened #18533 "Guide => Getting Started with Rails (explanation missing about jquery_ujs)"
In section "**5.13 Deleting Articles**", when the text refers to the "**jquery_ujs**" asset, and say that it is a javascript file that is included in the application's layout (app/views/layouts/application.html.erb).
So as a newbie myself, I looked there, but found no real reference.

**Suggestion**: for completeness, the explanation must tell about the application.js file (app/assets/javascripts)

[2015-01-15 14:25] Aethelflaed opened #18534 "Fix assert_enqueued_with at option"
I tried to use `assert_enqueued_with` to check if my job is correctly scheduled for the specified time, but found that it's quite impossible for the assertion to pass... It compares the `at` value of the job (a float) to another float, which almost always eveluate to false.

Here is my first try to fix it, which I currently use: https://gist.github.com/Aethelflaed/3f5ea91b0ba9314cab24

[2015-01-15 14:43] sgrif commented on #18516
This is a duplicate of #3145, fixed by #15726.

[2015-01-15 14:43] #18516 closed

[2015-01-15 15:08] #3145 closed

[2015-01-15 15:19] mayank2707 opened #18538 "Rails 4.2.0 server startup error in production environment"
I am getting the following error

Missing `secret_token` and `secret_key_base` for 'production' environment, set these values in `config/secrets.yml`
As far as I know secret_token is not required in secrets.yml from 4.1.

Server is running fine in development mode.
Is it a known issue?

[2015-01-15 15:25] #18538 closed

[2015-01-15 15:36] fw42 commented on #18534
Sounds like the real fix would be not to use floats to begin with

[2015-01-15 15:44] pierrickrouxel commented on #18516
I ran my test with your commit the bug is still present.

[2015-01-15 15:50] sgrif commented on #18516
We cannot change the behavior of time columns without a deprecation cycle. As stated in the deprecation warning, you can add `:time` to the time zone aware attribute types manually in your config. In the test, you should do:

[code]

[2015-01-15 16:06] sgrif commented on #18534
It doesn't look like there's a bug in Rails here.

[2015-01-15 16:06] #18534 closed

[2015-01-15 16:22] carlosantoniodasilva commented on #18532
How are your requires at the beginning of `config/application.rb`, have they changed from the defaults? Are you requiring `rails/all` or specific frameworks instead? Also, can you show the entire stack trace please?

[2015-01-15 16:46] Aethelflaed commented on #18534
ActiveJob uses float, so I have to cope with that.

And how are you supposed to test when your job is scheduled then ?

[2015-01-15 16:51] fw42 commented on #18534
did you try using something like Timecop?

[2015-01-15 16:53] sgrif commented on #18534
The issues tracker isn't a support forum. Please take the discussion to the rails talk mailing list, or stack overflow.

[2015-01-15 18:37] blzabub opened #18542 "Cannot run Rails performance tests in Rails 3.2.21 and Ruby > 2.0"
Due to this line:

https://github.com/rails/rails/blob/3-2-stable/activesupport/lib/active_support/testing/performance/ruby.rb#L145

We can't run performance tests under Ruby 2.1.x. Instead we get this error message as one might expect:

 If we monkey patch the ActiveSupport gem our performance tests will run successfully. Not sure if there are actual protections being provided that are necessary

[2015-01-15 18:40] rafaelfranca commented on #18542
Thank you for the report. Rails 3 is not supported anymore

[2015-01-15 18:40] #18542 closed

[2015-01-15 18:42] #18533 closed

[2015-01-15 18:46] blzabub commented on #18542
Ah right...sorry.

[2015-01-15 19:48] juanpastas opened #18545 "Readme composed_of link broken"
In the `composed_of` section, this link:

https://github.com/rails/rails/blob/master/activerecord/classes/ActiveRecord/Aggregations/ClassMethods.html

is broken.

[2015-01-15 19:50] rafaelfranca commented on #18545
Thank you for reporting. The README was not made to be read from GitHub but from the API website http://api.rubyonrails.org/. There the link will be correct.

[2015-01-15 19:50] #18545 closed

[2015-01-15 22:50] mhuggins opened #18547 "ActiveRecord::Core#== doesn't work for STI"
I'm trying to work with STI, and I'm testing equality.  Let's say I have model User along with inheriting models Administrator and Client.

[code]

Now consider the following:

[code]

The reason that the equality check returns false is due to [the implementation of `ActiveRecord::Core#==`](https://github.com/rails/rails/blob/cca85ba699242c3266c5132dd601fdd8c5c5bb16/activerecord/lib/active_record/

[2015-01-15 22:51] mhuggins commented on #18547
After more consideration, the test would still return false if I called `client == user` instead of `user == client`, so perhaps an even better solution would be:

[code]

[2015-01-16 00:43] dmastylo opened #18549 "Using "becomes" on a "dirty" ActiveRecord object causes disappearance of nested attributes"
Sample code (with some unnecessary items removed for brevity).

This issue came about when trying to do custom validations via a service object on an STI user. The user already exists when getting to "finish signup" page, and from there they set the "type" of user they become, and based on that type, different form fields, and different nested associations are possible. Due to this, standard model

[2015-01-16 00:51] slavingia commented on #18532
My requires:

[code]

[2015-01-16 00:57] slavingia commented on #18532
The stack trace:

[code]

[2015-01-16 01:55] dmastylo commented on #18549
Might I add that ```becomes``` causes this behavior too. Looking at the source of becomes shows

[code]

Setting nested attributes in the new ```klass``` never happens. I can't seem to find any methods that can grab all nested attributes, however.

[2015-01-16 02:30] dmastylo commented on #18549
I have found a fix and will be making a pull request today or tomorrow and submit it.

[2015-01-16 03:08] jasonhutchens opened #18550 "Cannot assign a frozen Array to a HashWithIndifferentAccess"
This was broken in Rails 4.0, because `ActiveSupport::HashWithIndifferentAccess#convert_value` calls `#map!` on the frozen value, not a dup, which raises the exception. I presume that was an optimisation? A check for `#frozen?` would fix this. Here's a demo:

[code]

[2015-01-16 06:06] pixeltrix commented on #18550
@jasonhutchens broken in Rails 4.0, 4.1 or 4.2 ?

[2015-01-16 06:11] jasonhutchens commented on #18550
Sorry @pixeltrix... broken in Rails 4.0, still broken in 4.2.

[2015-01-16 06:22] pixeltrix commented on #18550
Looks like it used to have a dup if frozen line in there when `map!` was introduced in 808592b, however if was removed in c44a929 so if you're saying that 4.0 doesn't work then it must have been broken before for other reasons :smile:

[2015-01-16 06:28] jasonhutchens commented on #18550
Based on discussion in the PR above, that would have been https://github.com/rails/rails/issues/10526

[2015-01-16 08:47] miraage opened #18552 "ActiveSupport: Allow quick cast boolean to integer"
[code]

[2015-01-16 10:29] andreynering commented on #18533
@fera2k See: https://github.com/rails/rails/pull/18541

I just added a reference to Javascript guide. Don't need to explain all the process on the getting started.

[2015-01-16 13:10] jadeydi opened #18553 "Not very sure it's a bug or not"
I want to support IOS emoji so I change mysql's encoding to utf8mb4 and database.yml encoding to utf8mb4 .

But when I search a record from  console it can't  correctly return data. e.g.
There is an artist has album.

@artist.albums.find 1 will return
name: "Name of a album :smile: :laughing: :smiley: "

but if I use Album.find 1 will return
name:  "Name of a album ???"

How can i resolve it?

[2015-01-16 13:45] rafaelfranca commented on #18553
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-01-16 13:45] #18553 closed

[2015-01-16 13:49] rafaelfranca commented on #18552
Thank you but I don't see any reason to introduce a new core extension to do.

`boolean.to_i`

is not better than:

`boolean ? 1 : 0`

[2015-01-16 13:49] #18552 closed

[2015-01-16 14:13] szimek commented on #17864
Here's another test case: https://gist.github.com/szimek/8a219b126d29f7b68089

[2015-01-16 14:27] eileencodes commented on #17621
@uberllama yes it is a 5 year old issue. I had a fix for this issue that passes in Active Record but I broke the Active Model tests. Working towards a solution that works in both. :grin: I'll update you when I have one.

[2015-01-16 14:34] uberllama commented on #17621
Bless your heart.

[2015-01-16 18:11] nateberkopec opened #18555 "Adding a middleware to a controllers middleware stack causes problems with helper inclusion"
Given a blank rails app fresh from ```rails new```, add two helper methods:

[code]

Now, add a middleware to the ApplicationController in an environment's config file. For example:

[code]

FooHelper will no longer be included by default in ActionView::Base.

[code]

Present on 4.1 and 4.2, unsure of other versions. A blank app that reproduces this is [here](https://github.com/nateberkopec/helper

[2015-01-16 19:07] sebjacobs commented on #18555
You should be able to configure the middleware directly on `config`.

e.g

[code]

[2015-01-16 19:14] nateberkopec commented on #18555
@sebjacobs I could, but in this case, I actually only want to add it to ApplicationController.

[2015-01-16 20:35] nateberkopec commented on #18555
Add the middleware directly in application_controller.rb and all helpers are included as usual. This isn't super ideal for us - I like keeping environment specific code in config/environments. I may not be able to do this due to load order issues, and if thats the case, then this should be closed.

[2015-01-16 21:56] #18550 closed

[2015-01-16 23:41] jjb commented on #18428
@rafaelfranca @jiripospisil @tvdeyen any ideas?

[2015-01-17 01:59] georgeclaghorn commented on #18531
Judging from [the CHANGELOG entry](https://github.com/rails/rails/blob/9891ca89c69732a21743f0349f2995956a7802e7/activesupport/CHANGELOG#L77), it looks like it was removed because the implementation of HashWithIndifferentAccess relies on the internal hash having string keys.

cc @spastorino @jeremy

[2015-01-17 10:45] georgemillo commented on #18531
Do we care about the internal implementation though? Can't we just add

    def symbolize_keys!
      self
    end

    def stringify_keys!
      self
    end

Then HashWithIndifferentAccess won't cause any unexpected behaviour with APIs which are expecting a Hash?

[2015-01-17 11:06] matthewd commented on #18531
@georgemillo `keys`.

[2015-01-17 11:21] georgemillo commented on #18531
Ah I see, so if someone typed

    def my_method(opts={})
      opts.symbolize_keys!
      keys = opts.keys
      # whatever
    end

Then they'd expect `keys` to be an Array of Symbols, but if opts is a HWIDA it would actually be an Array of Strings. Hmmm.... point taken.

[2015-01-17 12:40] jiripospisil commented on #18428
@jjb Could you create a minimal app that reproduces the problem and put it to a repo?

[2015-01-17 13:08] #18532 closed

[2015-01-17 14:02] slavingia opened #18563 "belongs_to validations failing"
After upgrading from Rails 4.1.7.1 to 4.2.0, validations for belongs_to associations in our factories fail.

The two model files:

[code]

The factory:

[code]

Creating a new thing always fails saying User must be provided. Any ideas?

Environment:

[code]

[2015-01-17 14:44] nateberkopec commented on #18563
Hm, is this reproducible in a blank/new app? I'm not seeing this in our Rails 4.2 app.

[2015-01-17 19:45] jmondo commented on #18563
Check that your user is getting saved. It could be some error down the line when it tries to save the user. Is `FactoryGirl.create(:user)` working? (Open it up, make sure it is actually persisted and valid.) If that works, does `FactoryGirl.create(:thing, user: FactoryGirl.create(:user))` work?

[2015-01-17 19:51] todd commented on #18337
@rafaelfranca Any more thoughts on author attribution?

[2015-01-17 21:31] the-teacher opened #18572 "ruby-2.2.0 + activesupport-4.2.0 => cannot load such file -- test/unit/assertions (LoadError)"
hello!

When I try to run rspec tests on ruby-2.2 I have following exception

[code]

Probably, it can be related with `rspec-rails-2.14.0`. If you think so - just close this issue.
Thanks

[2015-01-17 21:42] the-teacher commented on #18572
looks like  rspec 2.14 missing dependency

[code]

[2015-01-17 21:42] #18572 closed

[2015-01-17 22:14] fw42 opened #18573 "autosave association fails when associated model has uniqueness validation"
I think https://github.com/rails/rails/pull/10417 didn't completely fix the issue I believe it was meant to fix.

See https://github.com/rails/rails/pull/10417#issuecomment-70385369.

If the associated model does not only have a uniqueness index but also a uniqueness validation, then saving the parent will still fail. I believe the reason is that ```validate_collection_association``` is called **b

[2015-01-17 22:19] aditya-kapoor commented on #17560
@cezarykluczynski I think there is some confusion in the docs.
On my side, the following are not working.
```config.action_mailer.default = {from: "no-reply@example.org"}```
```config.action_mailer.default(from: "no-reply@example.org")```
The following is working,
```config.action_mailer.default_options = { content_type: "text/html" }```

@rafaelfranca Please try and see if there is something miss

[2015-01-18 02:28] sivsushruth commented on #18515
Any news on this issue ?

[2015-01-18 02:34] georgeclaghorn commented on #18515
I'll take a look at patching this when I get a chance.

[2015-01-18 02:45] sivsushruth commented on #18515
But, is this because of the delete method being called on the hash with duplicate keys ?

[2015-01-18 07:28] aditya-kapoor commented on #18515
I gave this issue a look last night and made this progress:
[code]
the patch works fine when hash is ```{surprise: true, 'surprise' => false}``` but fails for ```{'surprise' => true, surprise: false}```

I am not able to improve upon this, any help in this would be appreciated.

[2015-01-18 07:48] marutosi opened #18580 "Rails 4.2 SQLite3 regression: Encoding::UndefinedConversionError: "\xE9" from ASCII-8BIT to UTF-8"
Redmine team ported Redmine from Rails 4.1 to 4.2.
We got errors on SQLite3.

http://www.redmine.org/builds/logs/build_trunk_sqlite3_ruby-2.1_2301.html

[code]

As you see this line, we test replacing invalid encoding character.
http://www.redmine.org/projects/redmine/repository/revisions/13893/entry/trunk/test/unit/changeset_test.rb#L407

[code]

MySQL tests pass, so I think this is regression of

[2015-01-18 08:18] cheunghy opened #18581 "add_foreign_key generate error with postgresql"
The migration is like this.
``add_foreign_key`` is new in Rails 4.2 right?
[code]

It works fine with sqlite3.
When I deploy, I got
[code]

[2015-01-18 08:53] matthewd commented on #18581
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-01-18 08:53] #18581 closed

[2015-01-18 11:30] dharanimanne commented on #18573
Can I take up this issue and start working on it?

[2015-01-18 15:15] fw42 commented on #18573
I don't think you need to ask for permission :)

[2015-01-18 16:59] senny commented on #18467
@jaroslawr I just pushed a patch to the `4-2-stable` branch. Would be great to hear wether this solves your issue.

Will be released with the next patch version of `4.2.`.

[2015-01-18 16:59] #18467 closed

[2015-01-18 17:25] MGotink opened #18582 "Inconsistent querying of serialized attibutes"
With rails 4.2, when you query serialized attributes the result differs depending on whether you pass a single value or an array of values.

To reproduce:
 - create a new project and set up a scaffold: `rails g scaffold Post content`
 - add `serialize :content` to the post model
 - open the rails console
 - `Post.new(content: 'new post').save`
 - `Post.where(content: 'new post').count`, output: `S

[2015-01-18 18:35] marutosi commented on #18580
This is workaround fix.
http://www.redmine.org/projects/redmine/repository/revisions/13896

[2015-01-18 19:15] palfvin opened #18583 "blank? documentation vs. implementation viz-a-viz handling of false"
I understand that making false.blank? == true would be a significant breaking change. I personally think this would be worth it, as `false` seems intuitively to be very much "not blank"

If we're going to keep the implementation as is, however, then I think we should remove or replace the API documentation which rationalizes the method as a more compact alternative to `nil? || empty?`. That is not

[2015-01-18 19:33] palfvin opened #18584 "How about an absent? method to fix the problem with blank?"
Given the problem of `false.blank?` being `true`, how about introducing an `absent?` method which would  be defined in terms of `nil?` instead of `!!self`? On a related point, perhaps we could introduce a configuration option which would allow the `absence` and `presence` validators to be defined in terms of `absent?` rather than `blank?`.

[2015-01-18 19:58] rafaelfranca commented on #18583
Thank you so much for the issue but we don't take features requests in the issue tracker. Use the rails core mailing list

[2015-01-18 19:58] #18583 closed

[2015-01-18 19:59] rafaelfranca commented on #18584
Thank you so much for the issue but we don't take features requests in the issue tracker. Use the rails core mailing list

[2015-01-18 19:59] #18584 closed

[2015-01-18 20:31] jplang opened #18585 "Rails 4.2 and sqlite3, inconsistent results when matching a text column with a ASCII-8BIT string"
With sqlite3, when doing a query with a condition that matches a text column with an ASCII-8BIT encoded string, we get inconsistent results:
* when using a dynamic finder, no results are returned
* when using `#where` with hash condition, no results are returned
* when using `#where` with an array condition, expect results are returned

Here is a quick example where path is the text column:

[code

[2015-01-18 20:36] morgoth commented on #17547
@nengxu To fix your issue, all you need to do is change proc, to take arguments:
[code]

[2015-01-18 20:53] morgoth commented on #12134
@gabetax I cannot reproduce it on current master (4.2).

[2015-01-18 21:12] palfvin commented on #18583
I meant this to be a bug report against the inline API documentation in the code (i.e. that the method is implicitly documented in terms of `nil?`). Is this not the right place for that?

[2015-01-18 23:35] bpardee opened #18592 "Setting attributes in ActiveRecord is not thread safe"
If you set attributes to the same instance in separate threads, there is a race condition where your attribute might not actually get set.

I've created a test program (along with a workaround if you set the environment variable FIX_FOO)  that illustrates the problem [here] (https://gist.github.com/bpardee/b700fa1da841a9b933ca).  If you run this program, the output should be 10 empty hashes but a

[2015-01-19 00:06] georgeclaghorn commented on #18515
@sivsushruth: Yes, this worked as it did in 3.2 because `symbolize_keys` and `stringify_keys` duplicated the original hash and transformed the duplicate's keys in-place.

This was changed in 6ddbd1844a6fd6aca2992f5f75c9f605cf89808f, when `symbolize_keys` and `stringify_keys` were changed to build up a new hash by iterating over the original hash for a performance improvement.

Your patch seems cor

[2015-01-19 02:24] slavingia commented on #18563
@jmondo:

[code]

[2015-01-19 03:35] jjb commented on #18428
Looks like the culprit is my use of haml, and that the haml-rails gem solves the problem.

Sorry for not checking this before submitting the ticket! I had figured haml was supported or would be mentioned in the docs.

BTW the primary docs I found for cache digests is in the readme for the old retired gem. Are there other docs? And/or where would they go. I'll submit a PR to improve them!

[2015-01-19 03:35] #18428 closed

[2015-01-19 03:36] sivsushruth commented on #18515
Okay, this is noticeably slower.
Working on an alternate solution in the meanwhile.

ᐧ

Regards,
Sushruth Sivaramakrishnan
*bill anyone, anywhere <http://hummingbill.com/>*
+91 9158310963

On Mon, Jan 19, 2015 at 5:37 AM, George Claghorn <notifications@github.com>
wrote:

[2015-01-19 03:37] sivsushruth commented on #18515
Okay, this is noticeably slower.
Working on an alternate solution in the meanwhile.

ᐧ

On Mon, Jan 19, 2015 at 9:05 AM, Sushruth Sivaramakrishnan <
sushruth@hummingbill.com> wrote:

[2015-01-19 04:10] jjb commented on #18428
for anyone who comes across this ticket, here is the initializer I ended up using (or use haml-rails if you want everything else it comes with)

[code]

[2015-01-19 04:26] jjb opened #18595 "cache digest dependency calculator isn't recursive?"
Is the cache dependency calculator meant to be recursive? And/or does it work on partials? Neither seem to be the case. The code seems to suggest that partials are processed: https://github.com/rails/rails/blob/v4.1.8/actionview/lib/action_view/digestor.rb#L18

With this example rails 4.1 app: https://github.com/jjb/rails-18595/

see view files here: https://github.com/jjb/rails-18595/tree/master/

[2015-01-19 04:29] sivsushruth commented on #18515
Using
[code]
instead of

[code]

is faster

[code]

This is the script I used to benchmark[ here](https://gist.github.com/sivsushruth/71cf61472d5c5ba9c9cd)

[2015-01-19 04:41] georgeclaghorn commented on #18515
Nice, @sivsushruth.

Though that's faster, it trades speed for many more string allocations. I wonder if there's an algorithmic solution -- one that doesn't require iterating over the entire set of keys for each key. I tried to find one earlier but couldn't. Have any ideas?

[2015-01-19 05:00] jjb commented on #18595
:facepalm: I wasn't running the nested_dependencies version of the task:

[code]

(as an aside, this led me to find this other unexpected behavior: http://stackoverflow.com/questions/28018187/)

[2015-01-19 05:00] #18595 closed

[2015-01-19 05:24] sivsushruth commented on #18515
Here is another solution
[code]

This is better as we are doing just one extra iteration for the entire set of keys.
What do you think ?

[2015-01-19 08:04] fxn commented on #18592
Not sure AR instances are supposed to be thread-safe (classes are).

@tenderlove c/d

[2015-01-19 08:19] mcfiredrill opened #18601 "has_many through association ArgumentError: wrong number of arguments (2 for 1) when using protected_attributes, method signature mismatch"
I have a problem that seems to be similar to #18121.

rails: 4-2-stable git
protected_attributes: git master branch

There seems to be another method signature mismatch HasManyThroughAssociation#build_record(https://github.com/rails/protected_attributes/blob/master/lib/active_record/mass_assignment_security/associations.rb#L72), which only takes one argument now, and the subsequent override in pro

[2015-01-19 09:07] egilburg commented on #18515
What's the expected behavior in case original hash has conflicting values for string and symbol keys?
- Always use the string variant, as non-transformed value should take precedence over transformed value?
- Or, always use the first value in the hash (ruby 1.9 hashes are sorted, so it could be argued the sort should take precedence?
- Or, always use the last value present? This is most closely im

[2015-01-19 09:28] tilo opened #18603 "Anchor is not available in ActionDispatch::Request"
Rails 4.1.7

`request.original_fullpath` and `request.original_url` do not contain the anchor portion of the URL

A convenience method to get to the anchor might be good as well.

e.g.

clicking on `= link_to 'this' , products_path(anchor: there)`  will result in the response.fullpath to be '/products' .. without the '#there' anchor.

[2015-01-19 10:44] thedarkone commented on #18592
No, instances of AR are not guaranteed to be thread-safe, the internal machinery is too complex for that.

[2015-01-19 12:50] bpardee commented on #18592
Wouldn't just using a ThreadSafe::Hash for the attributes resolve the issue?

[2015-01-19 12:57] rafaelfranca commented on #18592
@bpardee no, it wont. As @thedarkone said, the internal of Active Record instance is too complex to be thread-safe.

[2015-01-19 12:57] #18592 closed

[2015-01-19 13:02] rafaelfranca commented on #18601
Could you open an issue at prottected_attributes? This is an integration problem at the gem, not Rails.

[2015-01-19 13:06] rafaelfranca commented on #18603
The anchor is not sent to the server side so there is no way to retrieve this information.

[2015-01-19 13:06] #18603 closed

[2015-01-19 13:22] mcfiredrill commented on #18601
Sure, sorry for the mix up.

[2015-01-19 13:22] #18601 closed

[2015-01-19 13:50] rafaelfranca commented on #18583
The documentation is not saying that it is equals to `nil? || empty?`, but that it can be used to simplify this expression, what is true.

[2015-01-19 16:13] jmondo commented on #18563
at `thing.valid? => false`
what does `thing.errors` return?

[2015-01-19 18:58] bglbruno commented on #18280
@jaredbeck, I have the same problem. You solve this like that?
` gem 'rails', github: 'rails/rails', branch: '4-2-stable' `

[2015-01-19 21:17] jaredbeck commented on #18280
*precisement*

Or, you can wait for 4.2.1 (https://github.com/rails/rails/milestones/4.2.1) which is scheduled for February 19th.

[2015-01-19 22:28] sgrif commented on #18563
Can you please provide a script that we can use to reproduce the issue, using https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb as a template?

[2015-01-19 22:35] sgrif commented on #18582
Yes, I would as well. I wouldn't qualify this as a bug that can be fixed in older versions, since we don't have any documentation on how custom types affect `where` (and backporting the fix is not plausible due  the complexity of the code that was required to fix this).

[2015-01-19 22:36] sgrif commented on #18582
This is already fixed on master

[2015-01-19 22:36] #18582 closed

[2015-01-19 22:43] sgrif commented on #18582
Since we usually mention the issue in the commit, this was fixed by:

https://github.com/rails/rails/compare/1d6bb77636aeec734079f63e1c14429b34e79ed9...de0cfd27a545
https://github.com/rails/rails/compare/266ff70...2223f49
https://github.com/rails/arel/commit/008445d6fd5f825d9b445ac75a7be67f0f7ab52c
https://github.com/rails/arel/commit/6160bfbda1d1781c3b08a33ec4955f170e95be11

[2015-01-19 22:56] MGotink commented on #18582
I'll work around it until rails 5 is released, thanks!

[2015-01-19 23:02] sgrif commented on #18585
I'm pretty sure this is a duplicate of #18582, but I will double check.

[2015-01-19 23:33] sgrif commented on #18585
I was unable to replicate the issue. Can you please provide a reproduction script using this as a template? https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-01-19 23:34] sgrif commented on #18580
Can you provide a script we can use to easily reproduce the issue, using this as a template? https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-01-20 01:17] dhh opened #18606 "Limit touching to once per transaction"
If you have a deeply nested hierarchy of objects like so:

[code]

And you do something like:

[code]

That'll generate 3x touches to each Message, Project, and Account, when in reality they all only need one touch. It would be preferably to have a touch manager of sorts, that ensure that only one touch would happen per transaction.

[2015-01-20 01:32] georgeclaghorn commented on #18606
I'm interested in looking into this.

[2015-01-20 01:33] dhh commented on #18606
:metal:

On Mon, Jan 19, 2015 at 5:32 PM, George Claghorn <notifications@github.com>
wrote:

[2015-01-20 04:36] sivsushruth commented on #18515
I think the 3rd option might be the preferred one, where the last value/key gets priority.
Refer #18598

[2015-01-20 05:36] palfvin commented on #18583
I don't mean to be argumentative, but I don't see how something that produces a different result for a subset of the domain can be considered a "simplification" of the expression. At the very least, I would contend that it is a misleading simplification that ought to be changed or more explicitly annotated.

[2015-01-20 06:18] shunsukeaida commented on #18583
Perhaps you could provide a real world example where you call `blank?` for something expected to be `true` or `false`?

[2015-01-20 06:58] pehrlich opened #18608 "Stack level too deep from LocalCache on file upload"
In development: testing uploading a file, causes the following:

`22:28:48 web.1  | [2015-01-19 22:28:48] ERROR SystemStackError: stack level too deep
22:28:48 web.1  | 	/Users/pehrlich/.rvm/gems/ruby-2.1.5/gems/activesupport-4.1.8/lib/active_support/cache/strategy/local_cache_middleware.rb:33`

... Which appears to be actually a `Rack::Utils::InvalidParameterError`

Even with [this ruby patch](ht

[2015-01-20 07:34] palfvin commented on #18583
The canonical example is `validate presence: true` for boolean ActiveRecord
fields where you are trying to ensure that the field has been set (i.e. is
not `nil`).
On Jan 19, 2015 10:19 PM, "Shunsuke Aida" <notifications@github.com> wrote:

[2015-01-20 07:50] ineu opened #18609 "How to fix "Calling URL helpers with string keys""
Trying to upgrade rails from 4.1.9 to 4.2.0, I receive following error:

[code]

So basically there are two issues here:
1. Deprecation warning
2. Real error

The problem with 1 is that I don't explicitly pass any string keys to the helper, but rather pass `params`, like `root_path(params)`. How should I fix my code to avoid this warning, if the code is not involved in it, but rails internals are?

[2015-01-20 11:22] danielpuglisi commented on #18609
Same behaviour here. Except for the duplicated controller and action key.

I also use `params` to build paths in certain areas and all the keys are returned as strings.

[2015-01-20 11:46] bglbruno commented on #18280
Ok. Thanks @jaredbeck!

[2015-01-20 13:10] numidiasoft opened #18611 "Sequence name passed to ActiveRecord::Relation#insert is always nil"
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation.rb#L69

Configuration :
 - activerecord-4.1.8
 - postgres 9.3

When i try to redefine the sequence_name value in an ActiveRecord class like below :

[code]

The sequence name does not change, in fact the sequence name is always recalculated in https://github.com/rails/rails/blob/master/activerecord/lib/active_record

[2015-01-20 17:20] brainopia commented on #18609
@ineu Warning has been removed from master. And I've created a pull-request with a fix for the error.

[2015-01-20 20:42] sobrinho opened #18615 "Time.zone.local doesn't raise an exception during the dead hour on DST"
At the begin of DST rails is accepting the 0 hour which in fact doesn't exists:

[code]

In fact it is returning the next hour for some reason, causing a really strange behaviour:

[code]

I think it makes more sense to raise an exception as happens when you specify a invalid month, day, hour, minute or second:

[code]

Makes sense?

[2015-01-20 23:17] mockdeep commented on #12330
We just had this issue with a deployment today. Is the solution to disable prepared statements?

[2015-01-21 01:16] u007 commented on #18027
im getting the same error and it crashed my rails instance:
and i do not have the lead on where is the error:

Processing by ChatController#live_feed as JSON
  Parameters: {"_lang"=>"en", "_uuid"=>"4af9f465-19b6-34eb-9f80-bb2d2e99574a"}
chat-livefeed: undefined method `fields' for nil:NilClass/home/xxxn/rails/xxx/vendor/bundle/ruby/2.1.0/gems/activerecord-4.1.8/lib/active_record/connection_adapter

[2015-01-21 01:26] rafaelfranca commented on #18027
The only way of getting this error is if the connection adapter `execute` method returns `nil`. We need a way to reproduce this issue or we'll consider it invalid.

[2015-01-21 02:05] u007 commented on #18027
ive added a inspect on it, will  update you when it crash again,
now seems good..
it seems that its difficult for us to pin point the source of the problem...
is it due to a custom lambda function been used to call the statement?
is there anyway to find which piece of code calling the lambda function?

thanks

[2015-01-21 03:06] rafaelfranca commented on #18027
If you can't always reproduce it, I believe it is a database problem, or a problem in your setup. Closing since we can't reproduce.

[2015-01-21 03:06] #18027 closed

[2015-01-21 03:24] ketan commented on #12330
@mockdeep - yes the solution is to disable prepared statements :(

[2015-01-21 06:02] zw963 commented on #18464
Hi, all, I reopen this issue for some reason:

## After Work Around

After I add a new migrate, then run rake db:migrate,
it will update default to {}, it is Cool.

## New Problem

When I `rake db:drop db:create db:migrate`, it will restore additional_fields default
value to "", if I add a new migrate, will restore to {} again. But if I drop again ...

How to fix this? I had add more migrate files

[2015-01-21 06:27] zw963 commented on #18464
I don't want remove additional_fields and recreate this fields, Because some this field exist
useful data.

and seem like ``change_column_default :products, :additional_fields, {}`` not worked for me.

[2015-01-21 07:31] zw963 commented on #18464
I don't know why in any case

`additional_fields`(hstore type field) default value will become to {} after I add a new migrate file.
But if i `rae db:drop db:create db:migrate`, default value wil become ""  again.
and, if add new migrate, default value will {} again
......

I am so crazy for this...

[2015-01-21 07:45] zw963 commented on #18464
I have tried to remove this hstore fields with following:

[code]

after this migrate, in schema.rb, default value change to {}.

But when I  `rake db:drop db:create db:migrate`, default value change to ``""`` again.

FAINT ...

[2015-01-21 13:10] lazaronixon opened #18624 "undefined method 'assert_enqueued_with'"
assert_enqueued_with is not available for ActiveSupport::TestCase,  like showed on rails guides it should work.
http://guides.rubyonrails.org/testing.html#custom-assertions-and-testing-jobs-inside-other-components
[code]

[2015-01-21 15:08] rafaelfranca commented on #18624
Yes. It should be `ActiveJob::TestCase`. Fixed thanks.

[2015-01-21 15:08] #18624 closed

[2015-01-21 18:26] lawso017 opened #18629 "Setting invalid JSON terminally breaks ActiveRecord object"
As illustrated in this minimal test case against edge:

https://gist.github.com/lawso017/1095d2e8ba868fdd8a6c

attempting to set an AR object's JSON or JSONB attribute to an invalid (non-JSON) value results in a JSON::ParserError.

However, subsequent attempts to reset the value fail with the same ParserError, as the object keeps attempting to parse the previously-submitted invalid input:

[code]

[2015-01-21 18:37] rafaelfranca commented on #18629
cc @sgrif

[2015-01-21 18:49] #18629 closed

[2015-01-21 19:05] raybaxter commented on #18615
This is the way that Ruby's `Time.local` works.

    2.0.0-p247 :001 > Time.local(2015,3,8,2,30,00)
     => 2015-03-08 03:30:00 -0700

Without looking at the code, I would expect that AS uses the underlying Ruby methods. In either case, I would expect them to behave consistently. Perhaps this issue should be raised on Ruby, not on AS.

[2015-01-21 19:08] lawso017 commented on #18629
Even better. Thanks, gentlemen. Looking forward to 4.2.1.

[2015-01-21 19:12] pzula opened #18630 "Rails 4.2 change_table with foreign key issue on upgrade"
Hello!

I have an old migration that up until now has worked with prior Rails upgrades, but now in upgrading from Rails 4.1 => 4.2, fails during the initial `rake db:migrate` process.

The migration in question is below:

[code]

The resulting error looks like this:

[code]

Do you have any suggestions on how to handle this problem without altering the migration?

[2015-01-21 19:27] rafaelfranca commented on #18615
Right.

[2015-01-21 19:27] #18615 closed

[2015-01-21 19:32] sobrinho commented on #18615
@raybaxter makes sense, I will report on ruby, thanks! :+1:

[2015-01-21 19:34] rafaelfranca commented on #18630
Seems you are using `foreigner` and seems to be a old version that may not work with Rails 4.2. Could you try to upgrade it?

[2015-01-21 20:04] pzula commented on #18630
Thank you! I think that this won't be resolved based on this issue I found: https://github.com/matthuhiggins/foreigner/pull/159 Thank you for looking into this!

[2015-01-21 20:04] #18630 closed

[2015-01-21 20:24] sobrinho commented on #18615
For who wants to follow: https://bugs.ruby-lang.org/issues/10767

[2015-01-21 21:13] afn opened #18632 "`include?` does not respect explicit references (regression)"
Suppose we have these models:

[code]

Calling `include?` on List#items results in a query that has an `ORDER` clause without the join.

Rails 4.2 (and `4-2-stable`):

[code]

Rails 4.1.9:

[code]

[2015-01-21 21:54] PeizGuo opened #18633 "Changing reference_id doesn't change reference"
Here are the basic information:
[code]

The first way to change the associated user for post
[code]

The second way to change the associated user for the post
[code]

[2015-01-21 22:02] RISCfuture commented on #18073
This issue should be reopened.  Running `rails generate plugin` to generate engines inside a Rails app should not create namespace conflicts.

Currently, generating an engine runs the `rails new` action to generate the `test/dummy` directory, but that fails because the namespace is already in use. Well of course it's in use -- the script is attempting to create a dummy version of the engine's pare

[2015-01-21 22:04] jensb commented on #8679
Is anybody working on this issue? Please respond. Thank you!

[2015-01-22 02:02] dmitry commented on #8679
Don't believe so. If you are really need this to be fixed, please write at least test case and create a PR.

[2015-01-22 14:09] rafaelfranca commented on #18409
Closed by #18546

[2015-01-22 14:09] #18409 closed

[2015-01-22 17:57] nengxu commented on #17547
@morgoth Your suggested way can work. However, it forces a developer to know the implementation details of a gem (I18n in this case). The purpose of the proc is to generate a custom dynamic error message. It is count-intuitive to use this "accept unknown number of arguments" when none of such argument is expected or required for generating the custom message.

[2015-01-22 18:01] rafaelfranca commented on #17547
This is how ruby works. If you don't want to think which arguments you lambda will receive don't use lambdas, use a proc instead. Lambdas check the arguments length, procs, doesn't.

[2015-01-22 18:01] #17547 closed

[2015-01-22 20:13] mcls opened #18646 "Call `model_name` on result from `to_model` in Placeholderable"
Shouldn't `model_name` be called on the result from `to_model` instead of the class on the following line?
https://github.com/rails/rails/blob/v4.2.0/actionview/lib/action_view/helpers/tags/placeholderable.rb#L15

It's what I was lead to believe after reading the docs for `#to_model`.
https://github.com/rails/rails/blob/v4.2.0/activemodel/lib/active_model/conversion.rb#L25-L38

[2015-01-22 20:17] rafaelfranca commented on #18646
Yes, it should. Could you open a PR?

[2015-01-22 20:19] mcls commented on #18646
Will do

[2015-01-22 22:31] solnic commented on #18646
I fear a similar mistake might be in other places too

[2015-01-23 00:52] sb8244 opened #18648 "Serializing ActionController::Parameters as Hash doesn't ensure the serialization is a Hash"
This may or may not be a bug. I could see it being expected behavior (just let me know and close), but wanted to touch base just in case it is a bug.

I am accepting parameters as a hash and storing it in my model using:

[code]

In my full rails app, everything works great and the attribute appears to act like a hash.

However, in my only ActiveRecord only Ernie stack, I kept getting an ::ActionC

[2015-01-23 03:30] halida commented on #13494
I think this feature is needed, rails timezone is not always same with database timezone.

[2015-01-23 04:53] u007 commented on #18027
im getting the error,
but when i queried in mysql, it return no record,
but why is it causing the rails instance to crash?

console output:
exec: "SELECT  `user_attrs`.* FROM `user_attrs`  WHERE (mobile='+2189-218999999' OR clean_mobile='+218999999')  ORDER BY `user_attrs`.`id` ASC LIMIT 1", name: UserAttr Load
undefined method `fields' for nil:NilClass

 def exec_query(sql, name = 'SQL', binds =

[2015-01-23 09:35] namor opened #18653 "Assigning hstore['size'] with a bigint raises exception"
Basic information

Asset is an ActiveRecord Model (Postgres)  with a hstore named metadata

[code]

Stacktrace

[code]

[2015-01-23 12:10] NilAndNull opened #18655 "[Rails Guides] Forms Helpers Typo"
In section [1.3.2 Radio Buttons](http://edgeguides.rubyonrails.org/form_helpers.html#helpers-for-generating-form-elements) you have:

[code]

The symbol :age is wrong, it should be :age_child and the second one should be :age_adult, to be like:

[code]

[2015-01-23 12:14] #18655 closed

[2015-01-23 12:15] NilAndNull commented on #18655
Forget it... It's mutually exclusive. Sorry. No issue here.

[2015-01-23 13:07] SebastianVomMeer opened #18656 "HTML fallback causes rendering of wrong views in JS requests"
Given two views

    app/views/animals/new.js.erb
    app/views/dogs/new.html.erb

and a controller:

    class DogsController < AnimalsController
      def new
      end
    end

I don't need a specific new.js for dogs, so normally view inheritance should choose the one from animals. However, requesting dog's new action with format JS delivers the HTML content of app/views/dogs/new.**html**.erb.

[2015-01-23 13:18] rafaelfranca commented on #18656
Thank you for the report. This is a dup of #5892

[2015-01-23 13:18] #18656 closed

[2015-01-23 13:44] rafaelfranca commented on #18648
You should make it a hash before assigning. In Rails 5 `ActionController::Parameters` will not inherit from Hash anymore and in Rails 4.2 we already discouraging dealing with parameters as it was a Hash.

[2015-01-23 13:44] #18648 closed

[2015-01-23 13:45] montague opened #18657 ""validate_absence_of" throws ActiveRecord::SerializationTypeMismatch if attribute is serialized to an array"
[code]

Running this code results in an error like
[code]

I think the issue stems from https://github.com/thoughtbot/shoulda-matchers/blob/eadbdf8ee9af23945b0931e86c0cdd96fee97cae/lib/shoulda/matchers/active_model/validate_absence_of_matcher.rb#L77, where the value cannot be correctly inferred from the column type.

[2015-01-23 13:45] montague commented on #18657
um, yeah. totally wrong window. my bad.

[2015-01-23 13:45] #18657 closed

[2015-01-23 13:48] rafaelfranca commented on #18653
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-01-23 14:02] sb8244 commented on #18648
Thanks Rafael.

[2015-01-23 14:04] thomasharatyk commented on #18653
I have a similar issue with [the changes introduced in 4.2.0][1], **the active record type cast and range check occurs before the model validation**.

    class RangeTest < ActiveRecord::Base
        validates :count, numericality: { less_than: 100}
    end

The assignment of a value that isn't in the range of the `count` attribute throws an exception, even if it is supposed to be correctly handle

[2015-01-23 16:01] printercu opened #18659 "AR: define_attribute_methods is not fired when record is loaded from marshal"
When loading marshaled record `define_attribute_methods` is not fired. So if there was no calls to `.new` before, the record wont have attribute methods. I don't even know if this can be fixed in rails, or this is ruby's issue (cause there is no callbacks after load in marshal).

There is `marshal_load` method, which can be defined in model, but the problem that there is no superclass method for i

[2015-01-23 18:05] waissbluth opened #18660 "Missing helper file helpers//Users/xxxx/Sites/xxxx/app/helpers/application_helper.rb_helper.rb"
I had a very strange issues out of the blue today. Happens for every controller action; app server and console boot up fine.

It started happening without any changes, and rolling back to a previous commit didn't fix it either. Reinstalling ruby and rails and all the rest of the gems didn't fix it either.

Setup: OSX Yosemite, Ruby 2.2.0, Rails 4.1.9.

[code]

I finally fixed it by renaming all di

[2015-01-23 18:49] sgrif commented on #18653
Yeah, this needs a reproduction script. This shouldn't ever happen with just hstore, and the stack trace provided implies that something else is going on with that model.

[2015-01-23 18:49] rafaelfranca commented on #18660
Can you please provide a sample application that reproduces the error?

[2015-01-23 18:55] waissbluth commented on #18660
I apparently can't be done, as when I rolled back to a previously-working
commit the error persisted.

On Fri, Jan 23, 2015 at 1:50 PM, Rafael Mendonça França <
notifications@github.com> wrote:

--

Nicolás Waissbluth Razmilic

[2015-01-23 19:06] #18632 closed

[2015-01-23 19:51] #18580 closed

[2015-01-23 20:26] giedriusr commented on #18572
Having same issue.

[2015-01-23 20:32] the-teacher commented on #18572
@giedriusr you need to find gem which based on ruby version <= `2.2` and update or remove it.
some core parts was removed from ruby 2.2

[2015-01-23 21:31] sgrif commented on #18653
@thomasharatyk Your issue is unrelated. In the future, you should open a new issue, rather than reporting in the comments for an existing one. In this case, however, I've already fixed it in https://github.com/rails/rails/commit/7c6f3938dee47f0932c2a1d4924adaebc25517ac

[2015-01-23 21:32] sgrif commented on #18653
This issue was likely fixed by that commit as well, but I'd like to get a reproduction script so that I can be sure.

[2015-01-23 21:57] sgrif commented on #18659
Duplicate of https://github.com/rails/rails/issues/18339

[2015-01-23 21:57] #18659 closed

[2015-01-23 22:08] giedriusr commented on #18572
@the-teacher adding
[code]
to my `Gemfile` did the job! Thanks.

[2015-01-23 22:45] demery opened #18664 "Migration to remove a "references" writes "remove_foreign_key" after "remove_references""
I created a migration to remove a references/belongs_to column from a model:

[code]

The generated migration was:

[code]

When run, this migration raises a `StatementInvalid` error:

[code]

The order is correct for adding a `references` column -- `add_reference` then `add_foreign_key`, but not for removing it. When I reversed the order of the two commands the migration worked, but rollback fail

[2015-01-23 23:12] jjb commented on #18428
and FWIW, I encountered this problem: cross-referential templates blowing up the rake task but not the server: http://stackoverflow.com/questions/28018187/why-do-my-self-referential-templates-break-cache-digest-calculation-in-the-conso

[2015-01-23 23:12] sgrif commented on #18488
/cc @gsamokovarov

[2015-01-23 23:25] jjb opened #18667 "self-referential templates blow up rake task but not server"
I have two partials which refer to one another. When I calculate nested dependencies in the console like so:

[code]

or via the rake task like so:

[code]

I get a short list of initial dependencies, and then this in an infinite loop, until the ruby stack is full (I have some debug code outputting which template is being loaded):

[code]

However, when I run the app server and request the templat

[2015-01-23 23:28] jjb commented on #18667
(i'm putting together a PoC rails app)

[2015-01-23 23:58] dmastylo commented on #18549
I made a pull request (albeit a little later than I said I would)

[2015-01-24 03:50] printercu commented on #18659
@sgrif it doesn't. `initialize` isn't called when Marshal loads resource. reopen?

[2015-01-24 03:56] sgrif commented on #18659
Sorry, I referenced the wrong issue (I just quickly searched for one involving attribute method definition, I had forgotten that there's been more than one)...

This issue has definitely already been resolved, though. Feel free to test for yourself on 4-2-stable, or master. If you think there's still a bug which hasn't been resolved, please provide a script that can be used to reproduce the issue,

[2015-01-24 06:31] jjb commented on #18667
Here is the repo: https://github.com/jjb/rails-18667

All the relevant files are in this changeset: https://github.com/jjb/rails-18667/commit/a306a50dfaac8922d9c492fd4d82ec312ddf4d5a

To observe the infinite loop:

[code]

To observe that nested dependency calculation is working and not blowing up when the server is running:

1. watch for number of cache objects in one terminal

[code]
2. start `r

[2015-01-24 06:36] jjb commented on #18667
@jiripospisil a new bug, see above

[2015-01-24 09:03] cezarykluczynski commented on #17560
As of Rails 4.1.8, both are working and no hacks are needed:

[code]

It migth have been my misundertunding of ERB rather than a mailer error. Sorry and thanks for help.

[2015-01-24 10:21] the-teacher commented on #18572
@giedriusr :+1:

[2015-01-24 15:29] jiripospisil commented on #18667
@jjb It seems like the protection against recursion is not used in the code path invoked by `#nested_dependencies`. Try changing it to [`this`](https://gist.github.com/jiripospisil/dba978af301764097efd). I'm not sure if it's the right solution in general though, more precisely, I'm not sure what the result should even look like if there's more than one nested template calling each other recursivel

[2015-01-24 16:42] gsamokovarov commented on #18488
I can confirm the bug on 2.0, however it is not present on web-console master since we fixed the whole Rails error templates hijacking in rails/web-console#69.

@rikas can you test if web-console master works for you? I'll try to release a new version soon.

[2015-01-24 16:51] GCorbel commented on #18633
What is your version of Rails? I tried to reproduce the bug with, on the master branch, this code :

    def test_reference_id_change_reference
      liquid1 = Liquid.create(:name => 'salty')
      liquid2 = Liquid.create(:name => 'salty')
      molecule = liquid1.molecules.create(:name => 'molecule_1')

      molecule = liquid1.molecules.find(molecule.id)
      assert_equal molecule.liquid_id, li

[2015-01-24 17:10] jvnill commented on #18664
In the current activerecord migration generator, the `remove_foreign_key` line has already been removed as shown in https://github.com/rails/rails/blob/master/activerecord/lib/rails/generators/active_record/migration/templates/migration.rb#L31.

I guess this is a more proper implementation since adding foreign key constraints are optional.  Not sure why it was the default migration.  I've forked r

[2015-01-24 18:09] jjb commented on #18667
@jiripospisil which version of rails did you base your method on? it has a different signature than the one in 4.1.8

[2015-01-24 18:41] dontfidget opened #18672 "accepts_nested_attributes_for breaks automatic inverse_of for has_many"
Adding accepts_nested_attributes_for seems to break the automatic setting of inverse_of.  I have a self-contained gist for this at https://gist.github.com/dontfidget/c336923ee94609528095.

[code]

Removing `accepts_nested_attributes_for` will make it pass.  Also, adding explicit inverse_of will make it pass.  Using create instead of new will also make it pass.

[2015-01-24 19:57] slavingia commented on #18563
@jmondo:

[code]

[2015-01-24 20:15] dontfidget commented on #18672
Apparently this is because `accepts_nested_attributes_for` does an explicit set of `autosave: true`.  I don't really see us making this work, but maybe it could be documented.

[2015-01-24 22:09] fdeschenes opened #18675 "`to_sql` does not work as intended when `as` is used."
**Without `as`, works as intended**
[code]

**With `as`, does not work as intended**
[code]

I expect the returned value to be `"(SELECT \"posts\".* FROM \"posts\" WHERE \"posts\".\"id\" = 2) post"`

[2015-01-24 22:34] matthewd commented on #18675
See #18379; you're (maybe unknowingly) using an Arel method; its return value has some similar methods to AR::Relation, including `to_sql`... but it's not the same.

[2015-01-24 22:34] #18675 closed

[2015-01-25 00:01] iangreenleaf opened #18676 "Adding */* to Accept header seems to override other formats"
This deals with a similar area as #4127, but the symptoms seem different enough that I thought it deserved its own bug. Hopefully I'm not wrong.

Make an endpoint that only responds to a particular MIME type, such as JSON:
[code]

We can make requests against this as long as we have something compatible in the `Accept` header:

[code]

But using `*/*` *in combination with* a valid format somehow s

[2015-01-25 00:08] iangreenleaf commented on #4127
Confirmed still occurs in 4.2.0.

[2015-01-25 00:16] slavingia commented on #18563
For what it's worth, I can do this totally outside testing/factories to the same affect.

[2015-01-25 00:18] sgrif commented on #18563
@slavinga Please provide a script that we can use to reproduce the issue. If the issue cannot be reproduced outside of factory girl, this is not a bug in rails. No action can be taken on this issue unless you provide a script that we can use to reproduce the issue. Please use https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb as a template.

[2015-01-25 00:21] slavingia commented on #18563
@sgrif: I have been working on a script (as of this morning). I can replicate this outside of Factory Girl (with standard rails c in our environment), but have been having trouble getting the bug report file to replicate the same behavior as of yet (even with the same Gems).

Any ideas? I'll continue poking around.

[2015-01-25 00:23] sgrif commented on #18563
Sorry, I don't have any ideas for you. Part of the reason that we ask for the reproduction script is to ensure that the bug is in fact something wrong with rails, and not some part of your application doing something bad.

[2015-01-25 00:26] slavingia commented on #18563
Fair. I'll keep searching. Thanks!

[2015-01-25 03:24] sgrif commented on #18676
I'm almost certain this is intentional. I looked into this a long while ago, and if you look hard enough you'll find previous discussions about this issue (sorry, I don't have a link) but it involves browsers not actually following the spec on properly specifying their `Accept` header, Safari in particular being problematic.

[2015-01-25 04:19] sgrif commented on #18633
I also could not duplicate. If I have made an error, please provide a script that can be used to reproduce the issue, using https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb as a template, and I will re-open.

[2015-01-25 04:23] sgrif commented on #18547
Yes, please open a pull request.

[2015-01-25 04:23] #18547 closed

[2015-01-25 04:24] sgrif commented on #18531
Seems like there's a consensus that this method doesn't make sense for HWIDA. I'm going to close this to clear out the issues tracker. If you think there's additional discussion to be had, please let me know and I will re-open.

[2015-01-25 04:24] #18531 closed

[2015-01-25 04:27] sgrif commented on #18529
You should not be calling `include` inside of `initialize`. Perhaps you should look into the `inherited` method that ruby provides. However, we won't be able to skip an action before it's defined, so you'll probably need to do some legwork to make sure the order of inheritance is correct. This is due to the semantics of Ruby, not Rails, and we can't really do a lot to change that.

[2015-01-25 04:27] #18529 closed

[2015-01-25 04:27] sgrif commented on #18527
This indeed appears to be a duplicate.

[2015-01-25 04:27] #18527 closed

[2015-01-25 04:30] sgrif commented on #18469
The solution is probably to backport https://github.com/rails/arel/commit/590c784a30b13153667f8db7915998d7731e24e5 and then update 4-1-stable to use that code. Please feel free to take the lead on doing that.

[2015-01-25 04:59] sgrif commented on #17738
This has been resolved on master, and I will backport for 4.2.1

[2015-01-25 09:15] senny commented on #18360
I think there is no actionable task here. Going to close this issue.

@andreynering thank you for reporting.

[2015-01-25 09:15] #18360 closed

[2015-01-25 09:18] senny commented on #18664
Considering that we removed the default foreign key generation on `master` I think we should revert #17759 on `4-2-stable` as well and wait for 5 to make a decision on wether this option should be default or not.

/cc @rafaelfranca @sgrif @derekprior

[2015-01-25 09:20] sgrif commented on #18664
We didn't remove it we changed it to use an option on references

[2015-01-25 09:57] sevenseacat commented on #18660
I've seen this reported several times in the #rubyonrails IRC channel over the last few weeks - haven't been able to pin down a cause.

[2015-01-25 11:05] senny commented on #18664
@sgrif This is a session from a newly generated application with `--dev` from `master`:

[code]

As far as I can remember we not only changed to a `:foreign_key` option but also removed it as a default.

[2015-01-25 15:57] amgray commented on #18660
I've had this problem intermittently since upgrading to Ruby 2.2.0 and Rails 4.2.0 (I'm on Yosemite). Renaming my directories to match case (as per http://stackoverflow.com/questions/27871726/strange-error-in-rails-missing-helper) solves the problem - until I reboot when the issue reappears as OS X re-capitalises a directory name.

[2015-01-25 17:10] printercu commented on #18659
@sgrif I've checked my app with rails 4-2-stable, there is still the issue.

I've made testcase for `activerecord/test/cases/attribute_methods_test.rb`

[code]

It fails on last assertion in master.

[2015-01-25 18:05] rikas commented on #18488
@gsamokovarov it does work with master. Thanks.

[2015-01-25 18:38] viniciusnz commented on #17657
+1 @rwz and @raja . @wdperson , we use it heavily and it has cut our sending times to a fraction of what they used to be, due to the repetition of different items for each person in lists, each item with lots of information and db queries. It used to work on Rails 3.2 and doesn't work any more in 4.2 due to the new fragment caching strategy

In rails 4.2 I also got this error `undefined local vari

[2015-01-25 19:30] jiripospisil commented on #18667
@jjb You mean the `processed` argument? That's just because I was being lazy and reused the same method for the recursion. It does have a default value so there shouldn't be any compatibility breaks. In the real code, we'll probably want to keep the signature intact and delegate to an internal method.

[2015-01-25 19:53] pruchai opened #18682 "ActiveRecord is failing to establishing an association"
I have a very detailed explanation of the problem here:

http://stackoverflow.com/questions/28059189/unable-to-update-or-create-records-using-post-with-strong-parameters-and-nested

TLDR: I am able to establish an association between 2 records  by hand in `rails console`

    contact = Contact.find_by_id(1)
    command = Command.find_by_id(1)
    contact.host_notification_commands << command

Howe

[2015-01-25 20:01] rafaelfranca commented on #18682
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-01-25 20:24] #18488 closed

[2015-01-25 20:33] pruchai commented on #18682
@rafaelfranca: Here you go

https://gist.github.com/pruchai/c2e190611aa02c5a03b9

It fails on the last test, but I am not entirely sure how to fix that.

[2015-01-25 21:56] jjb commented on #18667
ahh, gotcha.

[2015-01-25 21:58] jjb commented on #18667
@rafaelfranca @tvdeyen any thoughts on making the rake task's behavior more in line with in-app behavior? if we all agree this is not ideal I can work on a PR, just making sure I'm headed in the right direction first.

[2015-01-25 22:05] dontfidget opened #18684 "chained having statements should be grouped with parentheses (like where)"
On rails 4.1.8, I see this in the rails console:

[code]
whereas each `where` statement is surrounded by parentheses:

[code]

This is a bug, no?

[2015-01-26 00:56] sgrif commented on #18684
Can you test if this is still present on 4.2 and master?

[2015-01-26 04:20] mfazekas commented on #16881
#17139 is a PR for this, can someone review?

[2015-01-26 05:48] noinkling opened #18687 "Scaffold generator invokes responder_controller by default if Responders is the dependency of another gem"
For instance, Devise (3.4.0+) has the recently extracted Responders gem as a dependency. Adding Devise to a Rails 4.2 gemfile causes the scaffold generator to invoke the `responders_controller` generator rather than the `scaffold_controller` generator, even though Responders isn't explicitly specified in the gemfile.

The readme for Responders provides an option to change it back, but it seems wei

[2015-01-26 08:54] kadnan opened #18688 "How to use Group_Concat() like thing in ActiveRecord"
I have query
[code]

[2015-01-26 10:46] aalvarado commented on #18672
Your gist was giving me the following error:

[code]

If I change the Gemfile to use latest stable Rails:

[code]

I get the same results as you.
[code]

[2015-01-26 11:05] negative opened #18689 "ActiveRecord counter_cache column calculated even when not specified in 4.2.0"
I found this unexpected behavior while updating my apps to 4.2.0 from 4.1.9. It is a breaking change for me because I am managing counter columns manually with the assumption that Rails doesn't increment them unless I explicitly specify `counter_cache` on my `belongs_to`.

Example code:

[code]

[code]

I get:

[code]

Also, if `counter_cache` is specified like so:
[code]

It seems the in memory c

[2015-01-26 13:42] gsamokovarov commented on #18688
@kadnan Try the mailing list for such questions. You can find info on how to get to it at: http://rubyonrails.org/community. We try to keep the issue tracker only for bug reports.

[2015-01-26 13:43] #18688 closed

[2015-01-26 14:06] leosmeira opened #18690 "Rails runner and ActiveJobs (compatible ?)"
Necessary to run the job once a month . I need to call it in cron .
In this case use jobs or raks ?

I can't run my job in console.
```rails runner 'MyJob.perform_later'```

[2015-01-26 15:25] sivsushruth commented on #18606
Any updates @georgeclaghorn ?

[2015-01-26 15:32] georgeclaghorn commented on #18606
Still working on it, @sivsushruth.

[2015-01-26 16:19] secondwtq commented on #18689
I found this:

* SHA: ac01db533eebb60c6ffe9d56252274e605370dd5

Maybe has_many needs the same fix, too.

[2015-01-26 16:54] paezao commented on #17629
@devmarwen Did you manage to get this working? I'm having the same problem.

[2015-01-26 17:12] negative commented on #18689
@secondwtq Thanks for tracking down the commit. I was wondering if the `*_count` column being updated when `counter_cache` is not specified (or even set to false) in the `belongs_to` is the correct behavior or not.

[2015-01-26 17:13] jeremy commented on #15549
@willbryant could you open a PR for https://github.com/powershop/rails/commit/2e98a307fa2d7f9a177f4234a9839b686d56a041 with a test case?

[2015-01-26 17:14] sgrif commented on #18689
So there's a couple of issues that I'd like to address independently. For the case where the counter cache is unspecified, I'd say the bug is that we are only updating in memory, but not in the database. In Rails 4.1, we are inconsistent about whether we update when unspecified or not. For example:

[code]

That will set the counter cache to -1 both in memory and in the database. I think we need t

[2015-01-26 17:16] sgrif commented on #18689
/cc @rafaelfranca On the issue of whether we should be updating counter caches when `counter_cache: true` is not specified. In 4.1 it seems there are more cases where we just do it when the column name exists, instead of requiring the cache to be required.

[2015-01-26 17:22] secondwtq commented on #18689
@segif That's because the hash

[code]
is wrapped to
[code]

in the call stack (maybe at ActiveRecord::Associations::concat) and its length is 1.

If you try to append with <<, you'll get:

[code]

[2015-01-26 17:37] devmarwen commented on #17629
I'm using right now `sidekiq` and `sidekiq-status` without `active job`. But for instance I will test it again with the latest rails.

Will post a feedback as soon as I can.

[2015-01-26 17:42] paezao commented on #17629
@devmarwen Sidekiq pro?

[2015-01-26 17:46] devmarwen commented on #17629
@paezao No just the regular one.

[2015-01-26 17:48] paezao commented on #17629
@devmarwen Okay thanks! :)

[2015-01-26 19:20] priyankadevgaonkar opened #18692 "Ruby 4.1.8 Authentication token won't validate."
I have,
      <%= csrf_meta_tags %>
     <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
in my `application.html.erb`. I need to post a form via ajax and I have,

`data: data + "&authenticity_token="+AUTH_TOKEN,`
in my ajax method for `data`. I verified that both the tokens, i.e. post method header authentication token `X-CSRF-Token` and the one I

[2015-01-26 19:43] #18689 closed

[2015-01-26 19:44] sgrif commented on #18692
The issues tracker is not a support forum. It is reserved for bugs in Rails, such as "X used to work in 4.1, but doesn't in 4.2". Please try the rails talk mailing list, or stack overflow.

[2015-01-26 19:48] #18692 closed

[2015-01-26 20:42] sgrif commented on #18690
The issues tracker is not a support forum. It is reserved for bugs (e.g. "This used to work in 4.1, but is broken in 4.2") or pull requests. Please try the Rails Talk google group, or Stack Overflow.

[2015-01-26 20:42] #18690 closed

[2015-01-26 20:43] sgrif commented on #18682
@pruchai The reproduction script you provided passes.

[2015-01-26 20:43] rafaelfranca commented on #18687
Agree. But this issue is more a responders issue than a Rails issue. Please open it at responders issue tracker.

[2015-01-26 20:43] #18687 closed

[2015-01-26 21:37] willbryant commented on #15549
@jeremy I'll give it a go.  Do we have any other test cases for memory leaks?  Not sure how to go about that.

[2015-01-26 21:50] fny commented on #12330
Oy, this just killed us today in production. Rails 4.1.8 and Postgres 9.3.5.  I triggered it by running a local console attached to the production DB just to download some data.

[2015-01-26 21:53] afn commented on #18632
Awesome — thanks for the quick turnaround! :)

[2015-01-26 22:32] pruchai commented on #18682
@sgrif

Correct. I believe I was mis-understanding framework functionality. I assumed that when I post a nested form to the controller and if a relationship between 2 objects referenced in the form does not already exist, it would be automatically created by Rails. I was wrong...

Please close this issue.

[2015-01-26 22:54] eileencodes commented on #15833
Hey @robinroestenburg - I took a look at this and I don't think this is possible. What version of Rails did this work on? I couldn't get less than 3.0.8 to run on my local machine but the test script still failed on 3.0.8.

Hopefully I don't make this explaination too confusing. I don't think that `Comment.reflect_on_association(:parent).klass` can possibly return "Post". This is because if we had

[2015-01-26 22:57] eileencodes commented on #15833
The reason that commit you linked to works by the way is because it's using the association at runtime. When we're just asking `Comment` about it's reflections it doesn't know what the association is so there's nothing to go off of. We don't have an association just the reflection names.

[2015-01-26 22:59] #18682 closed

[2015-01-27 00:52] waterlink opened #18694 "AR: Weird query when chaining `uniq` and `count`: excessive `DISTINCT`"
Consider this statement:

[code]

generates this SQL:

[code]

where one would expect having just:

[code]

(no redundant `DISTINCT`). Usually it does not make a difference, since `DISTINCT` out of one value (result of count) is the same, but if you look at MySQL docs: http://dev.mysql.com/doc/refman/5.5/en/group-by-optimization.html it says that it will not use loose index scan with this query. W

[2015-01-27 01:14] zeeraw opened #18695 "AR: pg uuid as custom primary key gets cast to integer"
I have the issue where my primary key UUID is being cast to int. This was working fine in Rails 4.1, now I'm on 4.2.

### Proof of concept

[code]

### Migrations

[code]

### Schema

[code]

### User Model

[code]

### Settings Model

[code]

pg: 0.17.1 & 0.18.0
PostgreSQL: 9.3
ActiveRecord: 4.2

[2015-01-27 03:15] noinkling commented on #18687
[Done](plataformatec/responders#113).

[2015-01-27 03:44] namor commented on #18653
Couldn't recreate the problem in the reproduction script..
Its definitely a bug on my end..

It seems there was a before_save that writes to an int4 column but it does't come out in the stack trace when it fails ...

Sorry for taking up your time guyss.

[2015-01-27 03:45] sgrif commented on #18653
Thank you for following up.

[2015-01-27 03:45] #18653 closed

[2015-01-27 04:03] sgrif commented on #18695
This falls outside of the supported usage of Active Record, but I want to double check that there isn't a bug hidden in here. I'll reply with more details tomorrow.

[2015-01-27 04:05] sgrif commented on #18694
Would you please provide a script that we can use to reproduce the issue, using this template? Additionally, Rails 4.0 is no longer supported. This issue must be reproducible on 4.2 or master.

[2015-01-27 07:33] robinroestenburg commented on #15833
Hi @eileencodes - our previous codebase was on 3.0.17 I believe. Note sure why the script also fails on that codebase, but I don't think it is worthwhile to investigate further (or go down the rabbithole any further ;)).

I agree with you, I don't think `Comment.reflect_on_association(:parent).klass` should return `Post`. If you want to know the actual parent, it should be done at runtime using an

[2015-01-27 07:33] #15833 closed

[2015-01-27 09:03] noinkling opened #18696 "Provide better error message on :required association"
The `:required` option introduced for `belongs_to`/`has_one` associations (#16056) is very nice, however it still uses the default error message from the presence validator - "... can't be blank" - which doesn't make much sense for associations. It would be much nicer to have a default message like "... doesn't exist" or something along those lines.

Changing the locale string works, but of course

[2015-01-27 11:16] paezao commented on #17629
@devmarwen Can't get it to work with Resque. Would you mind adding me on hangouts? Im implementing the exact same thing as you are (job logging with states etc) and Id like to ask you something about sidekiq-status. My e-mail is paezao @ gmail

[2015-01-27 13:31] dspaeth-faber opened #18698 "header fetching does not work any more with rails 4.2"
Hi,

I have the following setup:

routes.rb
[code]
heart_beat_controller,rb

[code]

When I use:

[code]

prior rails 4.2 I got `HTTP/1.1 200`

with rails 4.2 I get `HTTP/1.1 404` + an exception

[code]

Is there a new directive within the routes to get HEAD calls up and running?

regards
dieter

[2015-01-27 14:11] dspaeth-faber commented on #18698
Is it a duplicate of #18513 ?

[2015-01-27 14:19] thegcat opened #18699 "ParamsParser too lenient about incoming JSON"
I've already scratched my itch by sidestepping the built-in JSON handling in ParamsParser, but I think this still is wrong behaviour.

A current default Rails app will accept raw inputs as JSON that are not JSON at all. For example, `POST abcd` will correctly return a `400 Bad Request`, `POST 1234` doesn't though, and this will be passed on to the controller. The effects are among others, that mal

[2015-01-27 14:23] thegcat commented on #18699
See https://github.com/thegcat/quirky_json for an example app.

[code]

Result: 200. Expected: 400.

[2015-01-27 14:37] rafaelfranca commented on #18698
Don't sees so

[2015-01-27 15:44] senny commented on #18698
@dspaeth-faber is your issue reproducible using [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_gem.rb) as a starting point?

[2015-01-27 15:47] senny commented on #18695
@zeeraw could you provide a reproduction using [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point?

[2015-01-27 16:03] sgrif commented on #18696
I think #18700 is a good solution. I don't think we need to have `required` take a hash of options, at that point you should just define the validation separately.

[2015-01-27 17:33] sgrif commented on #18684
Fixed by https://github.com/rails/rails/commit/c2c95cd279c988e7bd94008264e956e30b78c9ec

[2015-01-27 17:33] #18684 closed

[2015-01-27 18:19] etipton commented on #18660
Shot in the dark, but possibly related to: https://bugs.ruby-lang.org/issues/10700 ?

[2015-01-27 18:21] dcunning commented on #18660
I'm hitting this error as well on Rails 4.1.9 after switching to Ruby 2.2.0.  [This line](https://github.com/rails/rails/blob/48deeab90acd9f8f609fa461205a793c52f11ed2/actionpack/lib/abstract_controller/helpers.rb#L149) is erroring (filename equals `application_helper`)

The issue goes away when changing `/Users/dan/Projects/my_app` to `/Users/dan/projects/my_app`. My guess is an issue with ruby-2.

[2015-01-27 19:05] chancancode commented on #18699
Hm, I see you point. So you are suggesting that we should only accept valid JSON documents (arrays and objects) and the JSON primitive values? (booleans, numbers, strings).

I can't image why you would want to use the latter, but on the other hand I would not be surprised at all if there are people depending on that behavior. I'm not sure how safe this is to change, and whether the benefits are wo

[2015-01-27 19:11] jeremy commented on #18699
If I recall, this responsibility falls to the JSON parser currently. Some parsers gladly accept bare primitives and others accept documents only. Requiring a JSON document is sensible to me, but I'm sure there's more backstory & compat concerns.

[2015-01-27 19:13] waterlink commented on #18694
@sgrif thank you for your answer, I will prepare an example soon for that one.

[2015-01-27 21:02] carlosantoniodasilva commented on #18696
I just want to add that you currently can use different messages on a case by case basis, by only configuring the error message based on the model/attribute (or association in this case) name.

[2015-01-27 21:02] thegcat commented on #18699
I did a little digging: the json parsing from [way back when was already done by `ActiveSupport::JSON.decode`](https://github.com/rails/rails/commit/4d594cffcfc93b37fad4e423ec8593299e50133c#diff-8f1d0b5dd5bc3bd139113764af36aa2eR409), at that time [`ActiveSupport::JSON.decode` was a very different beast though](https://github.com/rails/rails/blob/4d594cffcfc93b37fad4e423ec8593299e50133c/activesuppo

[2015-01-27 21:07] sgrif commented on #18696
After thinking about it a bit, I'm not sure we should be taking any action here. In the original commit message (https://github.com/rails/rails/commit/00f55516509770f58f9ce462d45afb80d8f649ca) it's stated:

If the validation is there to provide feedback for user input, I think it makes the most sense to leave it with the rest of the validations, so future readers will have one clear source of all

[2015-01-27 21:56] zedtux opened #18703 "Assets compilation is taking much more time since the migration to Rails 4.2"
After having migrated from Rails 4.1.9 to Rails 4.2.0, my test suite is failing with a timeout exception.

I'm using Capybara with Poltergeist and all my scenario are executed as Javascript (`default_driver` is poltergeist).

I don't know why it is taking much more time but increasing the Poltergeist timeout (as described in the issue teampoltergeist/poltergeist#571) "fixed" the issue and now my t

[2015-01-27 22:12] rafaelfranca commented on #18703
Can you please provide a sample application that reproduces the error?

[2015-01-27 22:15] zedtux commented on #18703
Unfortunately the project where I have the issue is not open source.

I have a Rails application I can try to upgrade and see if it reproduces the issue but it's not sure, I'll let you know.

[2015-01-27 22:23] afn opened #18704 "In some cases, creating new records results in unnecessary UPDATE queries"
Take the following example:

[code]

The following example passes in Rails 4.1.1, but fails in 4.1.2 and later (including `master`):

[code]

Note that in this example, although the undirected graph has a cycle, there are no cycles in the **directed** dependency graph, so it's possible to save the data to the database using only INSERTs.  In Rails 4.1.1, the queries are:

[code]

In `master`:

[co

[2015-01-27 22:51] noinkling commented on #18696
@carlosantoniodasilva: is there an example floating around showing how you would achieve this?

@sgrif: I disagree that they aren't likely to be set through form inputs, that seems like an unfair generalization, but it is probably unlikely to come up if your application uses any sort of sane interface (e.g. a select dropdown rather than a text/number field). Nevertheless, I just think the current

[2015-01-27 23:13] noinkling commented on #18703
Did you try clearing out your `tmp` folder? Not sure if this is related or not, but I was having an issue with assets taking forever to load after upgrading, clearing out that folder fixed it.

[2015-01-27 23:19] carlosantoniodasilva commented on #18696
Something like this:

[code]

The attributes `nickname` and `password` are examples, they could be association attributes for instance. The default lookup chain can be seen in the [errors docs](http://api.rubyonrails.org/classes/ActiveModel/Errors.html#method-i-generate_message).

[2015-01-28 03:51] davidcpell opened #18708 "Passing `wait: 30.seconds` to `#deliver_later` results in NotImplementedError"
I'm on Rails 4.2 and trying to get started with ActiveJob + Sucker Punch. I have set ActiveJob to use the Sucker Punch adapter in `development.rb` and am sending some emails like this:

    # JobsController#create
    ...
    CustomerMailer.job_posted(@job).deliver_later
    redirect_to thanks_path

^^ This was not working for me as expected. I could see ActiveJob working in the console, but the e

[2015-01-28 04:03] georgeclaghorn commented on #18708
The behavior of `deliver_later` is correct. The delivery job is enqueued with a `delivery_method` value of `"deliver_now"`. The delivery method is called when the job is performed, not when it is enqueued.

[2015-01-28 04:07] davidcpell commented on #18708
Thank you. So when should a job that has been enqueued with `delivery_method` value of `"deliver_now"` normally be performed? How long after it has been enqueued, I mean? I'm still stumped as to why I see the emails generated before `redirect_to` when I've used `deliver_later`.

[2015-01-28 04:12] georgeclaghorn commented on #18708
The issue tracker is reserved for bug reports. You're better off asking questions on Stack Overflow or in [the mailing lists](http://rubyonrails.org/community/)

To answer your question, that depends on whether you've correctly configured Active Job to use Sucker Punch in the development environment. By default, Active Job performs jobs inline, in which case your emails will always be generated be

[2015-01-28 05:04] Jarred-Sumner commented on #16407
:cry:

[2015-01-28 07:16] zedtux commented on #18703
Thank you @noinkling for your comment. I've tried but it's not working :(

[2015-01-28 08:00] dspaeth-faber commented on #18698
Ok, I can reproduce it. It happens when I mount a rack-app on root-path:

[code]

[2015-01-28 11:01] toncid opened #18711 "Improve escape_javascript documentation on HTML safeness"
Hello,

The fact that strings produced by `escape_javascript` (aka `j`) are not HTML safe, should be clearly documented: http://api.rubyonrails.org/classes/ActionView/Helpers/JavaScriptHelper.html#method-i-escape_javascript

It's counterintuitive to see HTML entities appear in JavaScript strings after escaping the string for JavaScript.

The same issue was reported multiple times (e.g. #5127, #884

[2015-01-28 13:25] davidcpell commented on #18708
Thanks for the link to the mailing lists. Using `(wait: [time])` seemed like it should be easy to implement since it is used on the ActiveJob Basics guide, so I thought that might be a bug. I'm not sure if here or on the Sucker Punch issue tracker.

[2015-01-28 13:43] rafaelfranca commented on #18711
Actually the strings produced by `escape_javascript` are HTML safe, if the argument is HTML safe. I don't think this need to be documented. Any transformation function in a non-HTML safe string will always result in a non-HTML safe string.

Thank you for the report.

[2015-01-28 13:43] #18711 closed

[2015-01-28 15:22] pixeltrix commented on #17210
Have to agree with @thedarkone here - regenerating the default options every time a route is generated would be a significant performance hit and isn't the typical use case. Maybe a note added to the guide would appropriate saying that the default options are cached.

[2015-01-28 15:24] pixeltrix commented on #18505
@philipmw maybe something is mutating the default_url_options hash in RSpec?

[2015-01-28 15:30] georgeclaghorn commented on #18708
Sucker Punch does not support job scheduling.

[2015-01-28 15:34] #18708 closed

[2015-01-28 16:16] luisincrespo commented on #11853
@AKoetsier I cannot recall what was the mistake I was making, but I'm pretty sure it was some foolishness haha. If something comes to my mind I'll let you know.

[2015-01-28 16:22] sgrif commented on #18704
Correct me if I'm wrong, but isn't 4.1.1 generating the wrong data, since `items` does not have the correct `category_id`?

[2015-01-28 16:22] sgrif commented on #18704
Never mind I am wrong. The re-ordering messed with my head.

[2015-01-28 16:26] sgrif commented on #18704
Unrelated to the bug, but just a question about your data setup:

Can a category exist without a list? If not, should there be a `null: false` constraint on the column (which might expose this issue sooner)
Can an item exist without a category? If so, couldn't the `belongs_to :list` be removed entirely, and replaced with `has_one :list, through: :category`?

[2015-01-28 16:28] sgrif commented on #18704
This is being caused by `accepts_nested_attributes_for`, and is possibly related to #18672

[2015-01-28 16:32] afn commented on #18704
@sgrif: this example is contrived; the original case where I noticed the bug was a lot more convoluted with more associations, so I just pared it down to the bare minimum it took to reproduce, and renamed the models to make it easier to read :)

[2015-01-28 16:53] pixeltrix commented on #16358
This maybe related to #18627

[2015-01-28 16:55] #18704 closed

[2015-01-28 16:56] sgrif commented on #18704
Backported in https://github.com/rails/rails/commit/ef7d79a8613f5aa55a84cc6024703c966ee70881

[2015-01-28 16:58] aripollak opened #18712 "Rails.cache.logger missing"
Rails.cache.logger is not initialized to anything by default, but it used to be. It seems to have been removed in 7fcf8590e788cef8b64cc266f75931c418902ca9, but I can't tell if it was on purpose or not. Should it be added back?

[2015-01-28 17:04] rafaelfranca commented on #18712
It seem to be on purpose. If you need the logger just set it.

[2015-01-28 17:04] #18712 closed

[2015-01-28 17:11] sgrif commented on #18672
This appears to have been by design, and has always been true. However, none of the commits which introduced the code responsible give context as to why this is the case. I'll dig further.

[2015-01-28 18:03] aripollak commented on #18712
It seems like `silence!` is unnecessary then, no?

[2015-01-28 18:05] rafaelfranca commented on #18712
Not if you set a log and want to disable the log in some places.

[2015-01-28 18:06] aripollak commented on #18712
But then you'd just use `mute`; `silence!` seems like it's permanent, just like setting `logger = nil`.

[2015-01-28 18:09] rafaelfranca commented on #18712
Yeah, true. But I'm not sure if it is worth to remove it. The implementation is very simple.

[2015-01-28 18:34] aalvarado commented on #18672
Adding, `inverse_of` seems to solve the issue, I ran into the same problem trying to validate presence of an association with nested attributes on new records.

https://gist.github.com/aalvarado/93562e11243c24dbdb4d#file-inverse_of_test-rb-L33

[2015-01-28 18:43] nashbridges commented on #16358
@pixeltrix, I confirm that mentioned PR fixes this issue

[2015-01-28 19:00] sgrif commented on #18672
@aalvarado The issue is automatic inverse of, not when manually set.

[2015-01-28 19:35] jcoyne opened #18714 "Content-Length header is removed when using ActionController::Live"
My controller looks like this:

[code]
[code]

However, if I do a non-streaming version, it does let me set a Content-Length (even if it can be the wrong length)
[code]

[code]

[2015-01-28 19:39] jcoyne commented on #18714
It appears to be due to this line: https://github.com/rails/rails/commit/389d15ef139e50696b274f2d61dd309ba2632877#diff-378a0b0cf70f2e3f22090fe57fd712f9R43

Should I make a pull request to remove that line?

[2015-01-28 19:41] jcoyne commented on #18714
My mistake, I think the line that removes Content-Length is here: https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/metal/live.rb#L135

[2015-01-28 19:48] rafaelfranca commented on #18714
cc @tenderlove

[2015-01-28 20:00] dontfidget commented on #18684
Thanks for solving this one.  Sorry I didn't get around to testing it.  I do wonder if this is ultimately an arel problem.  Using the same code for `where` would be expected to work around an underlying arel problem since the problem doesn't exist for `where`.

[2015-01-28 20:10] sgrif commented on #18672
I've spent a good bit of time digging into this. The issue is that when `inverse_of` and `autosave` are both set, it is quite possible for models to get saved twice. This is why `accepts_nested_attributes` was intentionally set to turn off automatic inverse of.

The root cause of the double saving issue is how dirty tracking works. Specifically, the fact that we clear the dirty flags after all sav

[2015-01-28 20:10] #18672 closed

[2015-01-28 20:18] sgrif commented on #18684
Arel doesn't group `where`, either. We do it in Active Record.

[2015-01-28 20:51] #18333 closed

[2015-01-28 21:01] PeizGuo commented on #18633
Here is the code snippet.

[code]

[2015-01-28 21:44] jplang commented on #18585
Sure, here it is: https://gist.github.com/jplang/16ca110cd4a2d03f79ed
The 2 last assertions won't pass. Only seems to happen if the column is a text column.

[code]

[2015-01-28 21:48] sgrif commented on #18585
This is the expected behavior. In the last case we know to try and convert the encoding, since the column is a string. When using a string query, you're basically doing safe string interpolation, and we have no way to know if the value is going to a string or binary column.

[2015-01-28 21:57] jplang commented on #18585
Then the expected behaviour changed from Rails 4.1.8 to Rails 4.2 (the whole test passes with Rails 4.1.8). This test also passes with Rails 4.2 and the other database adapters (mysql and postgresql).

[2015-01-28 22:08] sgrif commented on #18585
Let me look a little bit deeper, since `"anystring"` shouldn't be changing values regardless of encoding.

[2015-01-28 22:08] sgrif commented on #18585
The conversion of string encodings is SQLite3 specific

[2015-01-28 22:10] sgrif commented on #18585
Ah, I see the problem. We are only modifying the encoding for string columns, but not for text columns.

[2015-01-28 22:19] jplang opened #18717 "Count query grouped by association may raise a ActiveRecord::RecordNotFound exception"
When doing a count query grouped by an association, a ActiveRecord::RecordNotFound exception is raised if the result consists of a nil group only. This issue exists since the early versions of Rails (maybe 1.x or even before :-).

Here is a test case that illustrates the issue: https://gist.github.com/jplang/d4f6c0b74af13a105ce5

[2015-01-28 22:20] jplang commented on #18717
And here is the output:

[code]

[2015-01-28 22:20] #18585 closed

[2015-01-28 22:31] GCorbel commented on #18633
I succesfully replicate the issue in a new Ruby file but I cannot duplicate in Rails tests. I will investigate.

[2015-01-28 22:53] zedtux commented on #18703
I have maybe another hint for this issue...

Just to let you know, I'm using Docker on OS X (so with boot2docker).
Also I'm testing a lot of Javascript using the Poltergeist driver with Capybara.

I have generated the assets using the `rake assets:precompile` command (with and without `RAILS_ENV=test`) and set explicitly in my `config/environments/test.rb` file `config.assets.compile = false`.

Wh

[2015-01-28 23:02] #18717 closed

[2015-01-28 23:56] GCorbel commented on #18633
The difference if here :

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/association.rb#L107

In the first case `ActiveRecord::Associations::BelongsToAssociation#invertible_for?` is called. In the other case it's `ActiveRecord::Associations::Association#invertible_for?`.

If you add `founded_comment2.association(:post).inversed = false` just after the second

[2015-01-29 01:16] GCorbel commented on #18633
I need some advice. @sgrif , what you think?
The association is set as inversed and I think it's normal because it's the case. The data is not reloaded because of this line : https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/singular_association.rb#L8.

The association is setted as loaded and not "stale". `stale_target` is true if the association is not inverse

[2015-01-29 03:51] kapso commented on #1627
+1 just experienced it in production

[code]

[code]

[2015-01-29 07:46] codezomb commented on #18424
@Crunch09 thanks for providing the test case, I got tied up with deadlines.

[2015-01-29 09:27] pixeltrix commented on #18698
Suspect this is down to this commit d3eb92d - I'll take a look at it

[2015-01-29 12:52] pixeltrix commented on #16358
Fixed by db870f2

[2015-01-29 12:52] #16358 closed

[2015-01-29 15:04] schmidt commented on #18106
Similar to other `add_index` options the documentation should mention, that the `where` option is not supported on MySQL.

[2015-01-29 16:56] jkorz opened #18723 "ActiveRecord where and find do not treat sets as arrays"
Since sets behave very similar to arrays, I expect that:

[code]

Would be functionally identical to:

[code]

Instead, the set gets coerced into a string and it tries to find a record based on the string representation of the set instead of iterating over the elements.

I think I've tracked the issue with find to [this spot](https://github.com/rails/rails/blob/76d6d8828007083faa6ccca3ad0feb7ba126

[2015-01-29 17:13] jkorz commented on #18723
[code]

[2015-01-29 17:23] sgrif commented on #18723
If we were to make this change, it would set a precedent for treating any enumerable as an array, which is not something I would like to do. So I don't think this is a change we would like to make.

[2015-01-29 17:23] #18723 closed

[2015-01-29 18:51] peteygao opened #18724 "Default ActionMailer queue should be configurable"
ActionMailer's `deliver_later` function enqueues the job under the queue `mailers` which is currently hardcoded:

https://github.com/rails/rails/blob/ced687fe710b2f3d6cf0d0e978bdb531357299e4/actionmailer/lib/action_mailer/delivery_job.rb#L7

It'd be nice to be able to configure the default mailer queue to one of the worker queues that are already running so we don't have to spin up an one-off work

[2015-01-29 19:19] TrevorHinesley opened #18725 "ActiveJob: RuntimeError: Circular dependency detected while autoloading constant Company"
Ruby: 2.1.0
Rails: 4.2.0

I have three lines that run in succession inside a webhook controller, they are as follows:

[code]

I can run these one after another in an IRB or Pry console just fine. However, when they're triggered in succession from the controller, sometimes this happens:

[code]

This is not an open source application, so I can't post it. The line it's breaking on (`/Users/Trevor/W

[2015-01-29 19:22] chewmanfoo opened #18727 "rails 4.2.0 migration issue with add_foreign_key"
I'm trying to write a migration to add a foreign key so that my posts table has a author_id which references the users table.

I created a migration and attempted to run it.

This migration:

     class AddForeignKeyToPostsForAuthorId < ActiveRecord::Migration
      def change
        add_foreign_key :posts, :users, column: author_id
      end
    end

produced this error:

    StandardError: An e

[2015-01-29 19:46] sgrif commented on #18727
You forgot a colon in `:author_id`. This is not a support forum, please direct questions like this to stack overflow in the future.

[2015-01-29 19:46] #18727 closed

[2015-01-29 19:48] sgrif commented on #18725
This is a thread safety issue with autoloading, which is well known. `config.eager_load = true` is required for threaded code.

[2015-01-29 19:48] #18725 closed

[2015-01-29 20:26] rafaelfranca commented on #18724
This is a dup of https://github.com/rails/rails/pull/18587.

[2015-01-29 20:26] #18724 closed

[2015-01-29 20:28] sgringwe opened #18729 "AR: "odd number of arguments for Hash" in initialize_copy with rails 4.2 and ruby 2.2.0"
Our production instance on heroku encountered an unknown error today. The error happened to most users for a span of 20 minutes, at which the server was restarted and errors no longer happened. The error comes always from the active_record/relation.rb file in the initialize_copy function: https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation.rb#L36.

Full stacktrace is

[2015-01-29 20:59] jcoyne opened #18730 "ActionController::Live should be on a per action basis"
Currently I'm doing something like this:

[code]

[2015-01-29 21:03] matthewd commented on #18730
@jcoyne how does AC::Live's presence manifest, if your action doesn't actually write to the stream (and thereby trigger the early header commit, etc)?

I don't doubt that it does.. just looking for a reminder / insight into which part you're needing to avoid.

[2015-01-29 21:29] sgrif commented on #18729
Can you provide a script that we can use to reproduce the issue, using https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb as a template?

[2015-01-29 21:31] TrevorHinesley commented on #18725
Apologies, I did plenty of searching and never once saw that. Thanks.

[2015-01-29 22:14] jcoyne commented on #18730
@matthewd I was getting some Deadlock errors and I found this technique useful for debugging. I think the problem was just trying to write to the stream after it had been closed and probably only manifested itself in a test case.  I'm going to close this ticket, because I won't pursue it further.

[2015-01-29 22:40] jcoyne commented on #18730
I thought of a good reason for this, but its just a way to work around #18714.  I want a "head" request to show the Content-Length so a client can decide whether they want to proceed with the download.

[2015-01-29 23:56] todd commented on #18337
Hey all - just wanted to loop back on this. Let me know how I should proceed.

[2015-01-30 00:00] rafaelfranca commented on #18337
@todd of course the author attribution is fine. The capyright too, you just need to keep the original author and copyright attribution.

[2015-01-30 00:11] todd commented on #18337
@rafaelfranca Original author being DHH or someone else? To clarify, I only need to change that in LICENSE?

[2015-01-30 00:18] afn opened #18735 "Validation not performed for nested associations"
This fails in the current `4-2-stable` (174547f51df405138fb2d0c5e03490333ce37a2d):

[code]

Passes in 83e9005bf09974c004ded137eac679399add7f0e.

[2015-01-30 00:41] rafaelfranca commented on #18337
Original author is David. And gemspec and licence needs to be changed

On Thu, Jan 29, 2015, 22:11 Todd Bealmear <notifications@github.com> wrote:

[2015-01-30 00:48] todd commented on #18337
@rafaelfranca Ok, I took care of both of those files.

[2015-01-30 04:23] GildedHonour opened #18737 "Single and double quotes are mixed together in a single file."
I know using double or single quotes is totally depends on a developer, what they like more. However, even in the source code of Rails within the **same file** there's a mix of double and single quotes when there's no necessity to do so.  For example:

https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/base.rb

[code]
or https://github.com/rails/rails/blob/master/actionpac

[2015-01-30 05:20] afn commented on #18735
@sgrif It looks like this was broken in ef7d79a8613f5aa55a84cc6024703c966ee70881 :(

[2015-01-30 06:43] matthewd commented on #18737
The recommended style is: it simply doesn't matter.

(Also, please direct questions to the rails-core mailing list; we reserve the issue tracker for issues.)

[2015-01-30 06:43] #18737 closed

[2015-01-30 09:43] dspaeth-faber commented on #18698
I did only take a quick glance but wouldn't it be good to support a HEAD request with a keyword
like it is done with get, post and so on? Maybe it will make it easier to fix this bug that way.

Also at the moment I have no documented way to set a new action for head requests.

[2015-01-30 09:52] pixeltrix commented on #18698
like it is done with get, post and so on? Maybe it will make it easier to fix this bug that way.

Do you mean a `head` method in the routes.rb DSL or responding to a HEAD request? Obviously we do the latter but the former may be worth doing though I've vary rarely seen one in the wild.

Does this not work?

[code]

[2015-01-30 10:10] dspaeth-faber commented on #18698
Yes. A DSL method would be nice.

Nobody knows the way, so nobody use it ;)
I did only see this [question](http://stackoverflow.com/questions/10439023/head-http-requests-in-rails-3) on stackoverflow. With a `head` DSL method you can get rid of the `if request.head?` statement.

I think it is a good thing for heart beak checks and maybe API's can profit too.

Works just fine.

[2015-01-30 11:23] habermann24 commented on #18694
The same applies for Rails 4.2.
Not sure if this is really a bug though?

[code]

[2015-01-30 12:14] suung opened #18738 ":null => false constrains from migration don't get written into schema on oracle"
I upgraded a project to rails 4.1.8 ruby 2.1.5 on oracle

If i run rake db:reset db:migrate

three things change in the schema.rb

* the new hash syntax is used
* all null constraints are removed
* (some?) foreign keys get foreign key constraints

particularly all affected columns are

* either having a default
and or
* are a boolean having a default
or
* are a created_at timestamp

I don't find a

[2015-01-30 12:20] suung commented on #18738
now i found this reference https://forum.upcase.com/t/null-false-for-t-timestamps-changed-in-rails-4-x/3073

[2015-01-30 12:53] fatim opened #18739 "ActiveRecord 4.2 - undefined method `type_cast_from_database'"
After updating ActiveRecord to 4.2 certain database queries crash with:
".. /lib/ruby/gems/2.1.0/gems/activerecord-.2.0/lib/active_record/attribute.rb:94:in `type_cast': undefined method `type_cast_from_database' for "NUMBER(9)":String (NoMethodError)"

I'm accessing database via activerecord-oracle_enhanced-adapter (1.5.5).
Is this an issue with ActiveRecord or with activerecord-oracle_enhanced-a

[2015-01-30 13:00] rafaelfranca commented on #18739
I think it is an issue with `activerecord-oracle_enhanced-adapter` cc @yahonda.

Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-01-30 13:01] rafaelfranca commented on #18739
Actually this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2015-01-30 13:03] rafaelfranca commented on #18738
Had you reported to the oracle adapter?

[2015-01-30 13:07] yahonda commented on #18739
@fatim Add this entry to your Gemfile then this issue should be fixed since it is similar with rsim/oracle-enhanced#536

[code]
If you still reproduce this issue, please report it to https://github.com/rsim/oracle-enhanced/

@rafaelfranca
It's not a Rails issue you can go ahead to close this.

[2015-01-30 13:09] #18739 closed

[2015-01-30 13:09] rafaelfranca commented on #18739
Thanks

[2015-01-30 14:05] senny commented on #18738
/cc @yahonda

[2015-01-30 14:08] sgrif commented on #18735
Yay yet coverage. :(

[2015-01-30 14:08] sgrif commented on #18735
Test coverage*

[2015-01-30 14:28] #18735 closed

[2015-01-30 14:29] sgrif commented on #18735
Backported in https://github.com/rails/rails/commit/d9715fcde450cebec3aeff74d4d39db5542d6625

[2015-01-30 14:29] sgrif commented on #18735
Thank you for the report.

[2015-01-30 14:37] suung commented on #18738
@rafaelfranca no i didn't. Is the adapter responsible for such decisions?
can you point me to the code that makes decisions like that in rails so i can investigate further?

my reasoning, why it could have happened like that, would have been this:

* forein keys dont get the null constraint anymore from 4.1.something, because they get a forein_key_constraint like in rails 4.2
* default values in o

[2015-01-30 15:35] jwaldrip commented on #18698
My heartbeat on rails 4.2 responds just fine.

[2015-01-30 16:08] brewski opened #18740 "AR: MySQL rollbacks to non-existent savepoints."
MySQL will release all savepoints in a transaction when a deadlock is detected. In nested, non-joinable transactions in ActiveRecord, when a deadlock error is raised, it will attempt to rollback to savepoints that no longer exist.

I opened pull request #18728 before submitting this bug report. I'm not sure I did this in the right order (my apologies if not). The pull request includes a test case

[2015-01-30 16:54] afn commented on #18735
Thanks again for the quick turnaround! :+1:

[2015-01-30 17:02] jeremy commented on #18740
cc @arthurnn

[2015-01-30 19:17] threadhead opened #18741 "ActiveJob should support passing of keyword arguments to perform method"
Since Rails 5+ will required Ruby 2.2+, ActiveJob should support the passing of keyword arguments to the perform method.

[code]

Currently (rails 4.2), you get a `ArgumentError: wrong number of arguments (1 for 0)` if you try to pass keyword arguments.

[2015-01-30 20:14] sgrif commented on #18741
This appears to be due to the hash getting converted to string keys during job serialization/deserialization, while keyword arguments only work with symbol keyed hashes.

[2015-01-30 20:26] BMorearty commented on #18606
Last summer I wrote the [activerecord-delay_touching gem](https://github.com/godaddy/activerecord-delay_touching/) to solve this problem.

Earlier today I began a discussion about it in the [Rails core mailing list](https://groups.google.com/forum/#!topic/rubyonrails-core/5pD0dLhelOE), without knowing that this issue had been opened, to propose that I merge the gem into Rails. My solution was slig

[2015-01-30 20:45] #18741 closed

[2015-01-30 20:45] sgrif commented on #18741
Backported in https://github.com/rails/rails/commit/31085a5cd47894b6fa397ca22fe8aa552d339ce8

[2015-01-30 21:51] threadhead commented on #18741
@sgrif Impressive. I was going to start hacking on it after I got back from lunch, but you beat me to it. Thank you.

[2015-01-30 22:00] mfazekas opened #18743 "group appends table_name with from"
This used to work in rails 4.2 and 4.1 but now broken in 4.2-stable:

[code]

Error:
```no such column: scores.user_id: SELECT AVG(avg_score) AS avg_score FROM (SELECT AVG(scores.score) as avg_score, scores.user_id AS user_id FROM "scores" GROUP BY "scores"."user_id") avg_by_user GROUP BY "scores"."user_id"```

This change seems to be the culprit (it caused "scores." to erroneously prepended to "u

[2015-01-30 22:24] mfazekas commented on #18743
So #18722 unified ```select``` and ```group``` handling. But it also ports the issue from select, that when we use form and column in select happends to be in column_hash then it'll append a ```column_name.```.
```group``` did not have this bug, but ```select``` did have this bug in 4.2.0.

My patch fixes this at level common to ```select``` and ```group```. But as a result the following corner ca

[2015-01-31 02:17] maclover7 opened #18745 "All rails cli commands not working"
For seemingly no reason a Rails 4.2.0 app I am working on (github: hackcentral/hackcentral) has all Rails commands not working. It displays the usage template in the terminal, small excerpt:

[code]
I deleted the directory, uninstalled Ruby and Rails. Then I installed Ruby 2.1.5 via rbenv and Rails 4.2.0 via 'gem install', and then re-git-cloned the directory and ran bundle install. Rake db:migrat

[2015-01-31 04:46] arthurnn commented on #18740
@brewski as you already sent a PR , explaining the problem, that should be enough. We can discuss the issue in there.
thanks

[2015-01-31 04:46] #18740 closed

[2015-01-31 04:50] sorentwo commented on #18703
You may want to investigate if your app or Poltergeist is using `ThreadSafe::Cache`. This is a common solution for asset compilation errors in a multi-process/multi-threaded environment (Konacha, Capybara). Within one of my apps I specifically enable it for thread safe testing within `test.rb`:

[code]
With that cache configured Rails won't use anything cached in `tmp` and you'll experience the re

[2015-01-31 10:35] zedtux commented on #18703
Thank you @sorentwo. I didn't knew about `ThreadSafe::Cache` so it's not used in my application and Poltergeist seems not to use is.

[2015-01-31 10:37] yawboakye commented on #18745
What's the command you ran? Here's the [documentation](http://guides.rubyonrails.org/command_line.html) on the Rails command line tool if it helps. But pay attention to what you type, there could be a typo hiding in there.

[2015-01-31 11:13] zedtux commented on #18703
@sorentwo you gave me a good hint. I didn't knew that the assets were generated in the `tmp/cache/` folder.

Using the `watch` command, after having completely emptied the `tmp/cache/` folder shows me that the assets are well generated but it's taking a really long time !
I have started my test suite at 11:53 and the latest created file in the path `tmp/cache/assets/test/sprockets` has been create

[2015-01-31 11:25] vladzzag commented on #18745
yawboakye, copy his app and run development server.

[2015-01-31 11:36] zedtux commented on #18703
Ha ... I was wrong, the second time the test suite is executed the assets files are updated (not the folder content).

[2015-01-31 12:11] zedtux commented on #18703
Using the command `rake assets:precompile RAILS_ENV=test` creates all the assets really quickly and when I execute my test suite no one of the assets files are updated but it takes the same amount of time than without the `rake assets:precompile RAILS_ENV=test` ...

I'm a bit lost for now...

[2015-01-31 12:51] yawboakye commented on #18745
@maclover7 Turns out the problem is because you don't have a `bin/rails` file so the directory wasn't identified as a Rails app. Run `rake rails:update:bin` to generate the required (or default) binstubs. It includes `rake`, `rails`, `bundle`, and `setup`.

[This code file](https://github.com/rails/rails/blob/master/railties/lib/rails/app_rails_loader.rb) explains how the `rails` command determine

[2015-01-31 12:56] yawboakye commented on #18745
@maclover7 Also it's good practice to include your Ruby version in your Gemfile. You should commit your .ruby-version file too.

[2015-01-31 13:31] piyushawasthi opened #18750 "Undefined method `to_sql' for class `ActiveRecord::ConnectionAdapters::TableDefinition' (NameError)"
I have got this bug while upgrading my app rails version '4.2.0',

/gems/activesupport-4.2.0/lib/active_support/core_ext/module/aliasing.rb:32:in `alias_method': undefined method `to_sql' for class `ActiveRecord::ConnectionAdapters::TableDefinition' (NameError)

[2015-01-31 14:28] sgrif commented on #18745
This question is more appropriate for stack overflow, as it isn't a bug in Rails.

[2015-01-31 14:28] #18745 closed

[2015-01-31 14:30] sgrif commented on #18750
Please provide a script that we can use to reproduce the issue, or at least a full stack trace.

[2015-01-31 15:06] zedtux commented on #18703
I have tried to create a new Rails 4.2 application and copy my `app/` and `lib/` folders and imported files like `database.yml` and `routes/rb`.

I still have the same issue.

Now I'm trying to figure out how to force my application to not refresh the assets pipeline when running tests (I prefer to run the `rake assets:precompile RAILS_ENV=test` when something changed than waiting this long time e

[2015-01-31 16:12] dhh commented on #18606
Hey @BMorearty, would be great to have you work on this. I believe this should be automatic. You shouldn't have to wrap anything explicitly. Every item in a transaction should only be touched once, since nothing else makes sense – the prior touches were never visible outside of the transaction.

[2015-01-31 16:47] maclover7 commented on #18745
Thank you very much @yawboakye, running 'rake rails:update:bin' solved my problem. Issue is resolved.

[2015-01-31 16:58] BMorearty commented on #18606
Sounds good, @dhh. I've got almost all tests passing in a local branch of Rails using my wrapper API. I'll add a few more tests that I thought of, and then convert what I have to an implicit consolidation of touches inside any transaction, rather than explicitly wrapping them.

I hope I'm not stepping on any toes by jumping in on this. I had been planning to submit the PR anyway because the code h

[2015-01-31 17:18] georgeclaghorn commented on #18606
Not at all, @BMorearty. Thanks for your work! :heart:

[2015-01-31 18:58] dspaeth-faber commented on #18698
@jwaldrip It's a special situation. Look at the test case. It only happen when you mount a rack-app with mount path '/'.

[2015-01-31 19:15] dhh commented on #18606
Awesome! Thanks for your work.

I'd actually also love to see a generic version of this. Something to ensure that a certain action only happens once per transaction. I have other AR callbacks that behave like touch and can be overly chatty. Maybe there's an abstraction lurking here to deal with those as well?

[2015-01-31 19:34] al2o3cr commented on #18606
@dhh - there's a similar need for dealing with autosaving associations; issues like #17015 get caused when the saving order gets broken by callback redefinitions. Maybe a mechanism for explicitly saying "X should save after Y" that used `tsort` to decide what order to persist things?

[2015-01-31 22:10] #18696 closed

[2015-01-31 22:14] yawboakye commented on #18745
@maclover7 add the `bin` directory (and its contents) to git so anyone cloning the project won't run into similar errors. It's the recommended thing to do.

[2015-01-31 22:31] tenderlove commented on #18382
Can you provide a test or something?  Maybe we can think up a better solution when we see the issue in action.

[2015-01-31 22:41] kaihuang201 commented on #18608
/cc @tenderlove

[2015-01-31 22:43] yasyf commented on #18633
I tried the following, which fixes the bug in question (by setting `inversed` to `false` on the association), but causes a bunch of test failures, presumably due to extra queries that are generated.

[code]

[2015-01-31 23:10] pixeltrix commented on #18676
Duplicate of #8987 - see there for discussion of why it happens

[2015-01-31 23:10] #18676 closed

[2015-01-31 23:40] katxiao commented on #18353
This seems to be fixed. /cc @tenderlove

[2015-02-01 00:50] pixeltrix commented on #16942
As @bronzle this is working as expected - when you give a default and make a path parameter optional it will omit if you pass the default value to the route helper. One possible option is to prefix each of the optional segments to give a hint to the router:

[code]

[code]

[2015-02-01 00:50] #16942 closed

[2015-02-01 01:02] pixeltrix commented on #18609
@ineu @danielpuglisi shoving the whole params hash into a url helper is asking for trouble and could lead to an XSS security problem so it's not something we'd want to support. It's easy enough to slice out the keys and symbolize that known set so it's really an application level concern.

[2015-02-01 01:02] #18609 closed

[2015-02-01 01:18] pixeltrix commented on #15965
This issue is a duplicate of #18168 and was closed by 6ecf6bb.

[2015-02-01 01:18] #15965 closed

[2015-02-01 02:00] pixeltrix commented on #15864
Closing because it appears that the problem is that the correct modules aren't being included.

[2015-02-01 02:00] #15864 closed

[2015-02-01 02:01] jgrannas commented on #18660
Same error here after upgrading to rails 4.2.0

AbstractController::Helpers::MissingHelperError in HomesController#index
Missing helper file helpers//users/joel/sites

my sites folder is "Sites" capitalized

[2015-02-01 02:05] #18492 closed

[2015-02-01 03:26] tenderlove commented on #18353
I think this is fixed, so I'm closing it.  If it's not fixed, please let me know.

[2015-02-01 03:26] #18353 closed

[2015-02-01 06:35] ajinkyashukla opened #18768 "rails 4.2 server error in production"
I get the following error when server is started using 'rails server -e=production' and request is made even if the secret_key_base is set. However everything works fine if 'SET RAILS_ENV=production'. As per the documentation secret_token is not required in rails 4.2.

Error:
DEPRECATION WARNING: You didn't set `secret_key_base`. Read the upgrade document
ation to learn more about this new config

[2015-02-01 07:06] ineu commented on #18609
@pixeltrix Agree, but it should have been mentioned in Changelog.

[2015-02-01 08:27] #18768 closed

[2015-02-01 11:09] robin850 commented on #13523
Actually this is not the problem here ; since this field is only added when we specify the `:multiple` option, the parameter is returned as an array so the selected values won't be removed from it. If we merge #13524, the only change would be that instead of having `["", "Foo", "Bar"]`, we would have `["Foo", "Bar", ""]` ([reproduction script](https://gist.github.com/robin850/51fe25be9a7ceb3cd95e)

[2015-02-01 12:21] palkan commented on #15468
Here is working [gist](https://gist.github.com/palkan/766b8d094c1e1f327c24). Works in master and 4.2.

Explanation:
`has_one ..., through: ...` doesn't accept `dependent: ...` option (see [code](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/builder/has_one.rb#L18)). That's why it's not working.
Adding `dependent: :destroy` to `belongs_to` association works

[2015-02-01 14:49] pixeltrix commented on #18609
@ineu it was: 4d84922840deb89754f5b5fb61ebea0aeadc52df

[2015-02-01 16:44] #18312 closed

[2015-02-01 17:30] kaihuang201 commented on #17787
This seems to be fixed by #17724

[2015-02-01 17:46] matthewd commented on #18714
@jcoyne I'm confused.. what are you trying to do? Do you actually want to send a response with both `Transfer-Encoding: chunked` *and* a `Content-Length`?

[2015-02-01 18:29] kaihuang201 commented on #17897
I successfully reproduced the behavior with this script https://gist.github.com/5793b720de92cdc4fcd5.git

[2015-02-01 18:30] aaronjensen commented on #13523
Popping on multiple seems dangerous. What if the multiple select tag was rendered manually? You may be losing real data. Even checking for the last entry being blank and then popping could be dangerous as they may have manually rendered the select tag and blank is an acceptable value.

One idea would be to use a sentinel value either as the name or the value. As the key would probably cause less c

[2015-02-01 18:32] #15468 closed

[2015-02-01 19:28] robin850 commented on #13523
@aaronjensen : Yes, good call for `pop`, haven't thought about this! The simpler solution could be to simply `array.delete("")` since several blank values will be left if several calls to `select multiple: true` are done. But well, let's wait for some feedback from core ; it's maybe there for a good reason (looking at [the original pull request](https://github.com/rails/rails/pull/1552#discussion_

[2015-02-01 23:17] pixeltrix commented on #18042
This is expected since the through association record hasn't been saved so the query to load `the reader's posts will try to find a post reader with an id of `NULL`.

[2015-02-01 23:17] #18042 closed

[2015-02-02 00:33] yasyf commented on #15225
I'm unable to reproduce this in `4.2.0`; it appears to be fixed.

[2015-02-02 01:04] uberllama commented on #17621
Giant hugs all around.

[2015-02-02 02:30] rodrigopinto opened #18780 "Intermittent error on postgresql_adapter."
I've just updated my rails app to rails version 4.2.0, and when I execute my test suíte I get stopped by an intermittent error on postgresql_adapter. Does anyone else had this problem?

[code]

[2015-02-02 03:00] pixeltrix commented on #18780
@rodrigopinto are you sharing the database connection when running JS Capybara tests?

[2015-02-02 03:10] rodrigopinto commented on #18780
@pixeltrix No. I not even have capybara on my suite. I paid attention and it always happen interleaved.

[2015-02-02 03:14] pixeltrix commented on #18780
@senny maybe this is something to do with the automatic test database schema updating? I seem to remember something causing connection problems related to FK support.

[2015-02-02 03:15] mdluo commented on #18573
The bug cannot be reproduced by this test case:

[code]

Could you please provide a test case that trigger the bug?

[2015-02-02 06:35] aaronjensen commented on #13523
@robin850, even `array.delete("")` could be problematic unless we say that the empty string is not a valid value for a multi select in rails, which isn't true in general.

Is there any concern w/ accepting https://github.com/rails/rails/pull/13524 and then continuing to look for a way to get rid of the extra `""` after the fact?

[2015-02-02 09:52] senny commented on #18780
I'm on vacation right now. I'll have a look when I get back next week.

@rodrigopinto can you try to create a sample app to reproduce the error?

[2015-02-02 14:42] fw42 commented on #18573
Hmmm. I'm not really sure why your tests passes, but the following test fails for me:
[code]
message:
[code]
Thanks for looking into this.

[2015-02-02 14:44] fw42 commented on #18573
(same happens when using ```has_many :birds, autosave: true``` on ```Pirate```)

[2015-02-02 14:45] fw42 commented on #18573
And as I said in the description, using ```has_many :birds, autosave: true, validate: false``` makes the test pass (because it's not validating the new bird before destroying the old one).

[2015-02-02 15:11] deepinsand commented on #18042
@pixeltrix Should the inverse_of work before the record has been saved?

[2015-02-02 15:44] al2o3cr commented on #17897
@kaihuang201 Escaping seems like the wrong approach. I've got a patch that replaces the `SHOW TABLES LIKE` query with one against `information_schema` with plain `=`. Will load it up once I get off this eternal airline customer service phone call...

[2015-02-02 16:43] pixeltrix commented on #18042
@deepinsand it'd be reasonable to expect direct `:inverse_of` to work but hm:t associations need to go to the database. The only way to make it work would be an identity mapper which we've tried in the past but it turns out there's a lot of hard edge cases where behaviour is unexpected.

So this should work:

[code]

But `:inverse_of` is [explicitly documented][1] as not working:

[1]: http://api.

[2015-02-02 17:31] pmeno opened #18784 "neither change_column_default nor change_column will remove a default value"
I tried to remove a default value from a text field and and had to generate three different migrations to finally get it working. `change_column_default` and `change_column ....,default: nil` don't behave as expected and do nothing. `change_column_null ...,true` was the only schema action that worked for me. Any particular reason for this?

https://github.com/rails/rails/blob/4-2-stable/activereco

[2015-02-02 17:32] rafaelfranca commented on #18784
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-02-02 17:33] pmeno commented on #18784
I'm not seeing how this isn't an issue? Two functions that do the exact same thing don't do the exact same thing.

[2015-02-02 17:34] rafaelfranca commented on #18784
It should work since it is a documented and even tested behavior. If you believe it is not working could you try to reproduce using this script? Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-02-02 18:09] sgrif commented on #18573
What versions of Rails does this occur on?

[2015-02-02 18:12] fw42 commented on #18573
I tried it this morning on latest master (151747ff0d13344a12b83d2f92175b7c53d2d39b).

[2015-02-02 18:18] sgrif commented on #18573
Right, I'm trying to find out if this is a regression from a previous version, and if so what the first version with this bug was. Does this also occur on all of the 4.x series?

[2015-02-02 19:13] sgrif commented on #18573
I don't think this is an issue we can resolve. The validation failing is actually reasonable behavior, when you consider that we don't attempt to save unless validations pass, and we don't destroy records which are marked until we're actually going to try and save.

Really this is an example of uniqueness validations not actually being able to validate uniqueness. (As an aside, I think many of the

[2015-02-02 19:13] #18573 closed

[2015-02-02 19:25] ethagnawl commented on #15913
This issue also applies to Rails 4.2.0.

[2015-02-02 19:35] fw42 commented on #18573
ok fair enough, thanks anyway

[2015-02-02 19:41] sgrif commented on #18633
I'm really not sure whether we should reload when inversed. My immediate reaction is leaning towards no, since normal usage is to assign the association not the id. I think there's additional concerns that we might need to address, as to whether all of the relevant code (particularly in `AutosaveAssociation` still gets run when the id is changed instead of the association itself.

I also have some