[2019-03-28 10:47] kamipo commented on #35676
Symbol `:false` is mostly a developer's mistake (user's input basically comes as a string), so seems fine that `:false` would be included in `FALSE_VALUES` in future version of Rails.

BTW we had enabled `Lint/BooleanSymbol` cop to detect that developer's mistake in our apps.

https://rubocop.readthedocs.io/en/latest/cops_lint/#lintbooleansymbol

[2019-03-28 10:59] kamipo commented on #35676
As another approach to fix this issue, ensure `to_s` before cast value if a value is a Symbol.

[code]

[2019-03-28 11:07] matthewd commented on #35769
`"any"` doesn't sound like much of an acronym... I wonder if we should validate that the argument starts with an uppercase letter.

@ziinfo could you describe your use case?

[2019-03-28 11:30] localhostdotdev commented on #35773
Thanks, didn't know about this, it even got linked in the ruby bug: https://bugs.ruby-lang.org/issues/15554

[2019-03-28 15:41] WillDeuz commented on #26658
All hail King of Fixes

[2019-03-28 17:11] Samsinite commented on #32208
For those on react native, I was able to get direct uploads working using `rn-fetch-blob` for md5 hashing (which is output in hex), then converting its hex output into base64 using `buffer` for calculating the checksum. To lookup the content_type, I used `react-native-mime-types`, and last but not least, used `rn-fetch-blob` again for calculating the size. Then, just follow the communication guide

[2019-03-28 17:19] ziinfo commented on #35769
@matthewd you're absolutely right, it doesn't. I needed to prevent titleizing strings like "and", "of", and "any". I thought using acronym inflector would be a perfect solution

[2019-03-28 18:13] connorshea commented on #35283
Does this happen with `force_ssl` enabled in the rails config?

[2019-03-28 18:53] #34995 closed

[2019-03-28 19:12] rafaelfranca commented on #35676
good point about the cop. I think we should add to `FALSE_VALUES`, but checking if the object is a symbol on every cast call seems too much to me.

[2019-03-28 19:47] rafaelfranca commented on #35769
The inflector definitely have effect on how rails loads constants, not only its own constants but also constants on the application. If you change the inflector, you will change where a constant will be looked. This is how we make things like `GoogleAPI` be searched at `google_api` instead `google_a_p_i`. We probably could fix this issue having an special inflector only for constant lookups. @fxn

[2019-03-28 20:05] fxn commented on #35769
In `:zeitwerk` mode in Rails 6 the support is builtin. By default you get an inflector that delegates to AS's `camelize`, but you can set a custom one. @casperisfine has done it for Shopify, for example (I am sure you know that).

In `:classic` mode that is not possible today, it uses AS's `underscore`, but could be possible.

[2019-03-28 20:07] kivanio opened #35782 "NoMethodError: undefined method `active_job' for Rails::Application::Configuration"
### Steps to reproduce
I have an app where I do not need Active Job, so its commented at application.rb:
<pre>
# require "active_job/railtie"
</pre>

In last version of rails 5.2.3 errors appear every time I ran: bundle exec rake db:setup.
I believe it is because this commit:
https://github.com/rails/rails/commit/44133fdd9110d8103e6a352ceb79b8b14a2de8ff

<pre>
rake aborted!
NoMethodError: undefine

[2019-03-28 20:13] casperisfine commented on #35769
That inflector is already used for constants lookup all around Rails, even with the classic autoloader.  `.camelize` and `.underscore` are effectively "subtitled" as '.convert_to_a_const_name' and `.convert_to_a_path`.

It's used to infer controller name from routes, model names from tables, etc etc. Having a separate inflector just for Zeitwerk/Classic autoloader would be weird and probably incon

[2019-03-28 20:16] casperisfine commented on #35769
Sounds like what you are looking for is an I18n enabled version of `titleize`. I just checked and I'm very surprised `titleize` isn't internationalized like `transliterate` is.

[2019-03-28 20:19] casperisfine commented on #35769
@ziinfo here's what I think you want: https://github.com/granth/titleize/blob/185a433ed2d40dbf86396be06c1414d55f9a6019/lib/titleize.rb

It's english only though.

[2019-03-28 20:28] fxn commented on #35769
The problem with an i18n `titleize` is that not even English has one set of rules. For example, the guidelines for guides picked [_one_ possible convention](https://guides.rubyonrails.org/ruby_on_rails_guides_guidelines.html#headings), but there are others. In Spanish or Catalan titles have no special capitalization... I bet this is a rabbit hole of a complexity outside the scope of AS.

[2019-03-28 20:41] rafaelfranca commented on #35769
I was thinking something in the line of `ActiveSupport::Inflector.inflections(:internal) do {}` and every place we use inflector internally we alway call with `:internal` instead of using the `:en` one.

[2019-03-28 20:42] casperisfine commented on #35769
Yeah definitely. It's more something for `ruby-i18n` or `rails-i18n`. I wasn't suggesting we should implement that. Just trying to step back a bit on what the need described here actually is.

[2019-03-28 21:03] rafaelfranca commented on #35782
active_job is not an optional dependency. We don't support to comment the railtie since other framework depend on it.

[2019-03-28 21:08] rafaelfranca commented on #35782
Actually, while it is not optional right now, I think it could be. @matthewd do you remember why we didn't make active job optional?

[2019-03-28 21:15] jcbpl opened #35783 "YAML column can't load ActiveSupport::TimeWithZone with year >= 10000"
### Steps to reproduce

[code]

### Expected behavior
The column loads the ActiveSupport::TimeWithZone instance.

### Actual behavior

`coder.load` raises:

[code]

### System configuration
**Rails version**: master

**Ruby version**: 2.6.1

[2019-03-28 21:28] rafaelfranca commented on #35728
Yeah, that is the goal, but this one as it is security related I'd be more careful to remove. Sending that header for a few years will not hurt anyone.

[2019-03-28 21:33] jcbpl commented on #35783
Probably a Psych issue; will close this for now.

[2019-03-28 21:33] #35783 closed

[2019-03-28 21:45] YarikST commented on #33802
@palkan hi сould you explain this

`PUBSUB CHANNELS` - Issues a list of channels - for each connection a separate internal channel -
`"action_cable / id_1: id_2: *"`

`PUBSUB NUMSUB "action_cable / id_i"` - always issues 1

my question is what to create a unique channel for the connection?

Example

[code]

when user 2 user subscribe to _call_target_

`PUBSUB CHANNELS `- Displays 3 channels
[code]

[2019-03-28 22:53] azbshiri commented on #35644
[code]

Same result @y-yagi

[2019-03-28 23:17] #35644 closed

[2019-03-28 23:18] azbshiri commented on #35644
It was just a node_modules directory in which there was exact same dummy app as top-level, so my bad.

[2019-03-28 23:34] azbshiri commented on #35426
@kamipo I don't think this would be considered as inconsistency due  `_before_type_cast` postfix which exactly means what it should mean?!

I'd always assert against public interface of a model instead of digging for internal attributes

[2019-03-29 01:58] matthewd commented on #35769
This isn't a supported use of the acronym inflector. Even if we changed our internals to avoid this particular misinflection, you'd still have the problem that any use of "many" in your own titles would be mangled.

The acronym inflector's primary purpose is overriding the definition of where word boundaries occur -- the fact it forces casing afterwards is secondary. It's not an appropriate tool f

[2019-03-29 01:58] #35769 closed

[2019-03-29 03:14] Drenmi commented on #35676
Just to chime in, I am almost certain this was a mistake on the original author's end. Somehow it went unnoticed in our codebase until I upgraded Rails. It's not ideal to have to support `:false`, but in the interest of not breaking existing Rails applications, it might be a necessary evil. At least until the next major version. 🙂

[2019-03-29 03:15] kivanio commented on #35782
Hi
If you do not think it's a bug, you can close it.
if this change were made on rails 6.0
I would have no problem accepting it.
But in a small version, making a change that breaks things does not make sense to me.
The application has been running since rails 3 and has never used Active Job.
So I thought it was a bug.
Thanks for clarifying.

[2019-03-29 06:13] ashish91 commented on #35728
I agree with @rafaelfranca, this option was introduced for [IE8](https://blogs.msdn.microsoft.com/ie/2008/07/02/ie8-security-part-v-comprehensive-protection) and it's available in IE8+.
Maybe they've fixed the underlying issue in IE8+ so that any HTML file is not executed in the context of the website. However I couldn't find any article from MS that supports that statement.
If the underlying issu

[2019-03-29 06:15] trcarden commented on #34310
Came across a similar issue with `globalize`.

Because `globalize`'s main method `translate` eventually calls a postgresql adapter method `clear_cache!` to mount its translated columns in the Model definition we get deadlocks during autoload in our test environment using system-tests.

Essentially any gem that has a DB call as part of a class/module definition that can be autoloaded will fall prey

[2019-03-29 06:42] Medvezo commented on #35728
@rafaelfranca sounds reasonable

 @ashish91 i found two things related to this:
1) https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18488178/
2) https://github.com/Fyrd/caniuse/issues/3388

should i close the issue??

[2019-03-29 07:32] tessereth commented on #34310
I just realised I never put our workaround in this thread. For what it's worth, we avoided this by eager loading classes in CI. This worked well enough for us. Locally it hangs rarely enough that people can just restart the test and we saw no performance change in CI.

`test.rb`
[code]

I also noticed this news post which may or may not make this bug redundant in rails 6. But I haven't looked into

[2019-03-29 08:22] knu commented on #35191
Just confirmed the problem went away in Rails 5.2.3 and 6.0.0.beta3. 👍

[2019-03-29 09:05] ziinfo commented on #35769
@casperisfine that's exactly what I was looking for. cheers

[2019-03-29 09:11] xithan opened #35786 "URLs with special characters like * : ~ break routing"
After the upgrade from rails 5.2.2.1 to 5.2.3 routing for urls with non-word characters like `/*foo` doesn't work anymore if the routes are defined in an engine and the engine is mounted to `/`.
I couldn't find anything related to that in the docs, [changelogs](https://github.com/rails/rails/releases/tag/v5.2.3) and [code diffs](https://github.com/rails/rails/compare/v5.2.2...v5.2.3).

### Steps t

[2019-03-29 13:12] phlegx opened #35787 "ActiveStorage for Rails with own controller and routes."
Hi!

I have a normal Rails app that exposes also an API and I want to have my own routes and controllers for `ActiveStorage`. This don't work out of the box because I cannot override URL helpers like `rails_service_blob`, `rails_direct_uploads`, etc.

Is there a way to disable `ActiveStorage` routes, so that a developer can provide own controllers? The named `url_helpers` cannot be changed, becaus

[2019-03-29 13:26] jlw commented on #35782
This absolutely is a bug to introduce a breaking change in a patch version of Rails.

Further, it is preposterous to think that ActiveJob is a required framework. Sure, all of the apps you work on may have a good use case for queued background work, but that just means you're an expert in a particular niche.

[2019-03-29 14:05] zzz6519003 commented on #35551
So embarrassing for new user to bump into error

2019-03-24 20:26:10 +0800: Rack app error handling request { GET / }
#<LoadError: Error loading the 'sqlite3' Active Record adapter. Missing a gem it depends on? can't activate sqlite3 (~> 1.3.6), already activated sqlite3-1.4.0. Make sure all dependencies are added to Gemfile.>

[2019-03-29 14:14] sikachu commented on #35782
Hello,

I don't think it was really @rafaelfranca or any contributors intention to introduce a breaking change in a patch release. This is an unintentional side effect of merging 44133fdd9110d8103e6a352ceb79b8b14a2de8ff in ...

But yeah, as @rafaelfranca pointed out — we didn't make Active Job as an optional dependency, but it just happen to be that you could exclude Active Job and the app was sti

[2019-03-29 14:38] trcarden commented on #34310
Haha, thats funny. After trying to apply the patch and debug this thing for a few hours myself I came to a very similar conclusion independently and also forgot to drop it here.

We did ours in a slightly different way because we could reproduce the deadlock locally not just in a CI environment and call `XXX::Application.eager_load!` before the test suite kicks off.

Also for people who stumble up

[2019-03-29 15:02] jlw commented on #35782
@sikachu, I was considering something like this:
[code]

[2019-03-29 16:16] rafaelfranca commented on #35551
Make sure you are using the latest version of Rails. This issue was already fixed.

[2019-03-29 16:16] #35551 closed

[2019-03-29 16:20] romenigld commented on #26658
ln -s /usr/local/opt/readline/lib/libreadline.8.0.dylib /usr/local/opt/readline/lib/libreadline.7.dylib

[2019-03-29 16:36] rafaelfranca commented on #35728
Right now, I'm sure which is the earliest IE version that Rails supports. Maybe IE8. It is being a while since I looked on this. @javan do you know?

[2019-03-29 16:47] rafaelfranca commented on #35676
I'm fine with allowing `:false`.

[2019-03-29 16:49] rafaelfranca commented on #35787
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. If what you want is a feature request, we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for fe

[2019-03-29 16:49] #35787 closed

[2019-03-29 18:27] xithan commented on #35786
I figured out that this regex change ([ccc0597](https://github.com/rails/rails/commit/ccc0597bb6079b7d86abeb21ed7fbdeff2f74ae3#diff-67940fe9af75d2f6ec9596b2d13998c7L122) by @tenderlove and @rafaelfranca) is responsible for my issue:
[code]

[2019-03-29 19:21] mateusdeap commented on #20676
Just commenting here to say that I also am facing this issue with rails 5.2.2

[2019-03-29 19:26] rafaelfranca commented on #35782
I'd keep the conditional closer to the usage. @jlw do you want to open a PR?

[2019-03-29 19:43] xithan commented on #35786
I don't know anything about how routing is implemented but I checked the path normaIize methods and it seems to me that "/" is the only path that can end with "/".
So maybe this is a valid solution:
[code]

[2019-03-29 20:07] #35676 closed

[2019-03-29 21:02] frank184 opened #35796 "RailsUJS disabled_with does not work properly with the required HTML5 attribute"
I've noted some interesting behaviour in RailsUJS whenever working with HTML5 attribute `required`.

Whenever we have a form with `required` inputs and you click submit, the buttons still get disabled.

### Steps to reproduce
Add the HTML5 `required` attribute to a Rails form.
Clicking the form submission will not submit the form, but still disable the button.

### Expected behavior
I expect that

[2019-03-29 21:42] danielricecodes commented on #21700
@CharlieHawker's workaround looks pretty good to me.  The issue appears to be rooted in using a preloader, `spring`, and a template at the same time.  This issue could, or should, probably be closed.

[2019-03-29 21:42] rafaelfranca commented on #35786
A conditional to remove the word boundary seems strange. I think we need to understand why the word boundary break that code. Given you already have the test case it should not be hard to understand the cause for that route not be recognized anymore.

[2019-03-29 21:52] #35796 closed

[2019-03-29 23:48] jlw commented on #35782
@rafaelfranca - sure, I'd love to put together a PR on this - but this is my first time working on Rails directly and I imagine it will be Monday at the earliest.

[2019-03-30 00:04] gmcgibbon commented on #35759
I think this is expected behaviour due to the kind of callbacks you are applying to your models. In order to fix it, you might add another callback to `Post` to remove a `top_comment` before destroying (eg. `before_destroy(prepend: true) { update(top_comment: nil) }`). You could also try using `has_many :comments, dependent: :delete_all` on `Post` to sidestep comment callbacks entirely when deleti

[2019-03-30 00:04] #35759 closed

[2019-03-30 04:03] matthewd commented on #35782
@rafaelfranca Active Job is optional -- but it's a required dependency of Action Mailer (and Active Storage, I imagine, thought that seems to be missing the gem dep? cc @georgeclaghorn). It's required there, even if you don't want to do the work in a separate process, because AJ is the abstraction layer you use to express that preference (by using the inline adapter).

Commenting out the railtie i

[2019-03-30 04:40] leboshi commented on #33249
I'm also having this issue in Rails 5.2.2.1.  I'm making a PR to address the issue.

[2019-03-30 05:05] #35752 closed

[2019-03-30 05:45] sidot3291 opened #35800 "6.0.0.beta2: .connected_to() block throws "No connection pool with 'primary' found.""
### Steps to reproduce
I have several databases holding the same models.  On a per-request basis, I use an `around_action` and `ActiveRecord::Base.connected_to` to make sure I'm connecting to the right database.

That around_action is implemented as:
[code]

### Expected behavior
I would expect connections to each database to be kept alive, and my around_action switches the connection that's used

[2019-03-30 09:47] matheusvetor opened #35801 "undefined method `webpacker' for #<Rails::Application::Configuration"
Steps to reproduce
I have an application that I upgraded from rails 5.1 to 6.0.0.beta3 (master). Since the upgrade, the app works fine local into in local development (inside docker) and staging with heroku. But for some reason in local development I can't make sidekiq run because I get the bellow error. Even running the tests i don't get that error:
[code]

My application does not have webpacker

[2019-03-30 13:03] molfar commented on #25333
Have exactly the same issue. Randomly, _TasksChannel transmitting_ happens before _TasksChannel is transmitting the subscription confirmation_ - as result, new subscribed consumer does not receive message.

Generally, in my app, I need some kind of initial message that is sent right after new consumer sunscribed.

[code]

[2019-03-30 14:03] DarknessCatt commented on #35650
I believe CookieStore encrypts and saves the data in the client, so you can easily restore sessions:

(Quoting https://edgeguides.rubyonrails.org/security.html#session-storage)

The session itself (stored in the browser cookie, cryptographically signed, but unencrypted) are server side.

These are the conclusions I took after reading the documentation, I don't have much experience myself.

[2019-03-30 14:14] LeandroSNunes opened #35803 "Polymorphic association with custom primary key does not build correctly from v5.2"
### Steps to reproduce
When performing Rails update in my application some specs have broken and I have noticed the following behavior; Polymorphic associations do not assign the custom primary key with `model.associations.build`, already with` model.associations.create` works perfectly.

[code]

### Expected behavior
I hope that the `test_association_with_build` test passes after the reload of th

[2019-03-30 14:49] WoH commented on #35779
This seems like it's connected to Chromium (reproduction without UJS below).

I can reproduce the behaviour on

Works on

[code]

You could avoid the issue by displaying the confirm dialog on the form's 'submit' event since it will only be fired after the validation.
Maybe it's worth moving `handleConfirm()` up to the form's submit event?

[2019-03-30 15:26] eileencodes commented on #35800
Hey @sidot3291 thanks for the report. The way connected_to / connects_to is implemented in Rails is the exact way we use connection switching at GitHub and have not seen an issue so I'm inclined to think this is something about your implementation (whether that be how you're establishing a connection or swapping a connection)

From this statement "several databases holding the same models" I'm ass

[2019-03-30 16:48] sidot3291 commented on #35800
Thanks @eileencodes

When Github uses connection switching, do you only pass in a role, or do you pass in a database as well?

Getting under the hood here, I'm seeing that when connected_to receives a database param, it always triggers establish_connection:
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_handling.rb#L123

`establish_connection` then disconnects

[2019-03-30 23:04] localhostdotdev opened #35806 "ruby-head translated to 2.7.0 in .ruby-version and ruby directive in Gemfile"
### Steps to reproduce

- `rails new goodname`
- `cd goodname`

### Expected behavior

No warning, no errors, everything works fine.

### Actual behavior

[code]

### System configuration

**Rails version**: Rails 6.0.0.beta3
**Ruby version**: ruby 2.7.0dev (2019-03-18 trunk 67296) [x86_64-darwin17]
**RVM version**: rvm 1.29.7 (latest)

`rvm list`:

[code]

`.ruby-version`:

[code]

`Gemfile`:

[c

[2019-03-30 23:11] y-yagi commented on #35801
Can you please provide a dummy application that reproduces the issue?

[2019-03-31 11:58] cdrrazan commented on #34978
Is there any way to truncate the content for the actiontext right now? Because it seems this need to be handled in different way as the content inside could be anything from text to images.

[2019-03-31 12:54] Medvezo commented on #35728
Closing it for now.

[2019-03-31 12:54] #35728 closed

[2019-03-31 12:59] Medvezo opened #35809 "Link to edgeapi when browsing edgeguides"
### Steps to reproduce
When reading https://edgeguides.rubyonrails.org, all links to the Rails API should point to https://edgeapi.rubyonrails.org, not https://api.rubyonrails.org

Here is the sample link: https://edgeguides.rubyonrails.org/form_helpers.html

Pay attention to the link in the first note ("This guide is not intended...")

[2019-03-31 16:18] sidot3291 commented on #35800
I wasn't able to get sharding working using the new role/database APIs.

My next attempt tried creating a new role for each connection and using `connected_to(role: x)`, but I ran into trouble because `connected_to` changes the current_role on ActiveRecord::Base (via swapping the connection handler).  Since I have some models that are sharded and some that are not, this broke the roles that are no

[2019-03-31 17:38] kaspth commented on #35594
I can't get it to fail with latest master either and can't remember much of the context. Thanks for double checking everyone!

[2019-03-31 17:38] #35594 closed

[2019-03-31 21:14] gr8bit opened #35811 "Active Storage models ignore table_name_prefix"
### Steps to reproduce
1. `rails new astest`
2. `cd astest/`
3. Edit `config/application.rb` and add set a general table prefix with `config.active_record.table_name_prefix = 'abc_'`
4. Create ActiveStorage models `bundle exec rake active_storage:install db:migrate`

Observe: tables are created with prefix (`abc_active_storage_attachements` and `*_blobs`).

5. Create a user model via `bundle exec

[2019-03-31 21:20] kaspth commented on #27110
This is now up for grabs again. Note per #35558 that the API could also support finding indexes by columns:

[code]

[2019-03-31 22:59] baash05 commented on #32995
Another flaw with this new requirement. Gems. I'm currently using a gem that is spitting out this warning. I have no control of the code in the gem. I could fork it sure, but that path leads to dragons.
I won't be able to move to 6 unless all the gems I use upgrade.

[2019-04-01 01:25] trcarden opened #35812 "Job adapter setting ignored in seeds"
### Steps to reproduce

1. Configure a job adapter in application.rb that is NOT `:inline`
1. Create seeds file that executes an ActiveJob

### Expected behavior
Rails should honor your configuration in application.rb

### Actual behavior
Rails forces seeds to execute with the `:inline` adapter

### System configuration
**Rails version**: 5.2.3
**Ruby version**: 2.6.2

### Why is this a issue
We w

[2019-04-01 01:46] trcarden commented on #35812
As a workaround I have placed our adapter setting in ApplicationJob instead which seems to bypass the forced inline configuration.

[code]

[2019-04-01 03:05] michelson opened #35813 "action mailbox amazon subscription confirmation"
### Steps to reproduce

Create an Amazon SNS subscription, which points to `/rails/action_mailbox/amazon/inbound_emails`  then send the confirmation subscription from amazon panel.

### Expected behavior
the controller should be able to detect the message type `subscriptionConfirmation`
from  Message type `request.headers`
[code]
 and `open` a new request with the `request.body['SubscribeURL']` co

[2019-04-01 03:36] michelson commented on #35813
invalid report

[2019-04-01 05:23] saiqulhaq commented on #35809
I am working on this issue

[2019-04-01 06:44] #35809 closed

[2019-04-01 08:03] prathamesh-sonpatki commented on #35812
@trcarden This is happening because of this change: https://github.com/rails/rails/pull/34953

The seeding process explicitly uses inline adapter now.

[2019-04-01 08:20] prathamesh-sonpatki commented on #35811
I tried reproducing this issue but the migration generated for Active Storage tables have correct names.

<details>
cat db/migrate/20190401081542_create_active_storage_tables.active_storage.rb
# This migration comes from active_storage (originally 20170806125915)
class CreateActiveStorageTables < ActiveRecord::Migration[5.2]
  def change
    create_table :active_storage_blobs do |t|
      t.string

[2019-04-01 08:28] prathamesh-sonpatki commented on #35806
@localhostdotdev Can you see if this issue happens on master as well? Because https://github.com/rails/rails/commit/1aace5e2cc7784799c2b91fb3feb2bd285c0e628 should have fixed it on master branch.

[2019-04-01 10:17] localhostdotdev commented on #35806
@prathamesh-sonpatki `rvm_ruby_string` is not defined in my ENV (that commit is from a year ago)

[code]

[2019-04-01 10:41] mairea opened #35817 "Activestorage/rails 6.0.0.beta3 : Multiple file upload on updating a record purge existing attachments"
Hi everyone,

Here is a problem that I noticed while playing around with Rails 6.0.0.beta3 and Activestorage.
I'm not sure if this is a bug or the normal behiavor since it works perfectly on Rails 5.2.2
Please see the explaination below.

### Steps to reproduce

Start by a regular install of Rails with :

[code]
`Then add active_storage fields to models/user.rb : `

[code]

`then edit the views/us

[2019-04-01 11:20] zoras commented on #34978
@cdrrazan you can use [strip_tags](https://api.rubyonrails.org/classes/ActionView/Helpers/SanitizeHelper.html#method-i-strip_tags) to truncate the html for preview

`truncate(strip_tags(message.rich_content.to_s), length: 50)`

[2019-04-01 11:45] vmeyet commented on #35477
It's been almost a month and still no answers. What do you think would be the best solution to this issue?

[2019-04-01 12:19] eileencodes commented on #32995
@baash05 have you opened an issue on those gems? If you're not able to can you list them here? We (Rails) can't help if we don't have the information of what gems.

[2019-04-01 14:15] lopomaster opened #35818 "Problem with update_all"

[2019-04-01 14:57] gr8bit commented on #35811
Not the migration is the issue, the AS tables ARE created correctly, but they cannot be accessed afterwards (see points 5. and 6. above)

[2019-04-01 15:25] nipe0324 commented on #35803
I don't know why `build` method do not work. But if you add `primary_key = :code` to `Product model`, fix tests code.

[code]

[2019-04-01 15:52] eileencodes commented on #35800
We only pass a role because we use the `database` key for when we need to establish a connection to another database for a specific reason. For example we have a connection that allows slow queries. It's only used in the console and not used in requests.

Were you able to reproduce this in a new Rails application? We usually ask for that because it makes it easier to debug - it's harder for me to

[2019-04-01 15:57] xithan commented on #35786
The word boundary breaks the code because there is no word boundary in this case. The regex has to match the "/" part of "/\*foo" to find the route to the engine. Since "\*" and "/" are both not a word character there is no word boundary between them.

I understand that that special conditional doesn't look pretty in that general place but since it's a very special case I don't see a better way to

[2019-04-01 16:13] nipe0324 commented on #35803
maybe, due to this pr.
https://github.com/rails/rails/commit/a84c76573fa776e377c087930dcbdc3a07eb8603#diff-70a6ae5e7130f11468e33ca4dd010e6fR25

call `target=` method and the primary key value of `Product` (`id`)  is set into foreign key of `Picture` (`imageable_id`) on `replace_keys` method.

[2019-04-01 16:54] tomprats commented on #34978
That looks very helpful, I probably should have used that. But I think I ended up doing it on the javascript side with https://github.com/huang47/nodejs-html-truncate

[2019-04-01 17:02] georgeclaghorn commented on #35813
This is a duplicate of #35704.

[2019-04-01 17:02] #35813 closed

[2019-04-01 18:04] LeandroSNunes commented on #35803
@nipe0324 Thank you for your tips!

In my case I can not change the primary key generically, among all relationships within the model, only one has the custom primary key.

This has_many option would be precisely to be specific in customizing the desired relationship. This worked well before v5.2

[2019-04-01 18:24] georgeclaghorn commented on #35817
This is the expected behavior, though it has changed from Rails 5.2. I’m leaving this open because we need to document the behavior change in the 6.0 release notes.

[2019-04-01 18:31] Medvezo opened #35822 "Set samesite property for session cookies"
Set `SameSite` attribute for the session cookie in the production environment. This is mainly to protect from some CSRF vulnerabilities. There are two values that could be set for this attribute: `Lax` and `Strict`. I think setting `Lax` is enough, as `Strict` is little too aggressive to begin with.

Older clients that [do not support this property,](https://caniuse.com/#search=samesite) simply ig

[2019-04-01 18:37] SampsonCrowley commented on #32557
@aaronransley is right on this one. assuming that caching servers and browsers are following all the standards is not reliable.

@rafaelfranca even though it's "unnecessary", does having both headers actually present any issues for browsers/proxies that DO follow the standards? My understanding is that if the proxy/browser is implemented correctly, it would just ignore the "must-revalidate" on it'

[2019-04-01 18:54] #35822 closed

[2019-04-01 19:16] rafaelfranca commented on #35812
Seeds will execute with inline adapter because they are special. The default is still `:async` with exception of seeds, so the documentation is still correct.

Only overriding the adapter if it is not set is an option but I believe that will create inconsistence. The job will only execute if you have a different process running in development when your adapter is not `async` or `inline` and that m

[2019-04-01 20:40] #35818 closed

[2019-04-02 00:20] akshah123 commented on #33209
I am running into a similar problem with rails 5.0.7 and puma 3.12.1.

Is this issue resolved in later rails version? If not, is there a workaround?

[2019-04-02 02:08] urkle commented on #34823
Yes this still occurs on 5-2-stable. I've already included details on where the offending code is.. Right now we have resorted to manually handling duping because of the broken rails AR code.

[2019-04-02 03:06] baash05 commented on #32995
FaeCMS is one of them.  But that sort of misses the point of Gems.  If a change in rails version requires a portion of the gems I use, to be forked so I can use them then Uck. If by extension these gems also require subsequently forking of their "base" gems Uck*n.
I argue the change has to be of real benefit. It has to be compelling if it is going to require such a significant change to our code b

[2019-04-02 05:18] prathamesh-sonpatki commented on #35811
Thanks, I am working on a fix.

[2019-04-02 09:00] Silex opened #35829 "form_for & polymorphic_path does not handle inflections correctly"
### Steps to reproduce

Model, inflection, controller, routes:

[code]

Views:

[code]

### Expected behavior

That `form_for` works.

### Actual behavior

[code]

The inflection works fine in the irb console.

### System configuration
**Rails version**: 5.2.2.1
**Ruby version**: 2.5.3

[2019-04-02 09:06] matheusvetor commented on #35801
I'm closing this because I can't reproduce the error on a dummy version of my app. I think since I'm using the master branch maybe the problem is already fixed once i make the project up to date with master branch

[2019-04-02 09:06] #35801 closed

[2019-04-02 11:52] igbanam commented on #30507
Just bumped into this myself. Hope this helps you as it's helped me https://medium.com/carwow-product-engineering/activerecord-error-cached-plan-must-not-change-result-type-aca72cdef504

[2019-04-02 12:03] Silex commented on #35829
Nevermind, solved with

[code]

[2019-04-02 12:03] #35829 closed

[2019-04-02 14:10] corneverbruggen commented on #35749
Facing exactly the same error after upgrading from beta2 to beta3, but only after I edit a file and reload a page. So it seems to have something to with reloading/autoloading. Haven't found the root cause yet.

I did find a difference in two files in the `bin` directory after upgrading to beta3, compared to a new beta3 app: both `bin/rake` and `bin/rails` lost those lines after running `rails app:

[2019-04-02 14:21] prathamesh-sonpatki commented on #35817
@mairea Do you want to send a PR to update the release notes?

[2019-04-02 14:25] prathamesh-sonpatki commented on #35806
@localhostdotdev Yup, it is set by `rvm capistrano` plugin if it is used in your app. I feel this issue is related to RVM and we can't do much.

Please see https://github.com/rails/rails/issues/34549 https://github.com/rvm/rvm/issues/4541

[2019-04-02 14:28] corneverbruggen commented on #35749
Since it seems to be related to autoloading: could this be related to #35609?

[2019-04-02 14:35] fxn commented on #35749
@corneverbruggen it could be that the engine is using a constant from the application (I have not checked).

In `master` engines are reloaded (they are managed by the `main` autoloader) to avoid that problem. Could you point the `Gemfile` to `master` and see if it disappears? That will upgrade Bootsnap and Zeitwerk too, but the fix is in Rails itself.

[2019-04-02 14:44] akshah123 commented on #33209
@shepmaster Were you able to find a solution for your issue?  It seems like my setup is very similar to yours.

[2019-04-02 14:50] trcarden commented on #35812
@rafaelfranca If this is intentional ok, it seems inconsistent to me to have the adapter change despite explicitly setting it in application.rb (we don't use any of the built in adapters).

My big question is how do we turn it off if we want to without hacks? We have jobs that run as part of our seeds that we don't want to run inline as they are heavy or reach out to 3rd party systems. That should

[2019-04-02 15:12] pmk1c commented on #32082
This is probably related to: https://github.com/rails/rails/issues/33209
Which has been there for some time.

[2019-04-02 15:13] corneverbruggen commented on #35749
Thanks, @fxn. I gave it a try, but using `master` did not solve the issue. What *did* solve it though, was upgrading `bootsnap`. Only using `master` did not upgrade it to the lastest version. A new rails app gets bootsnap `1.4.2` while an app upgrade from `beta2` to `beta3` still has bootsnap `1.4.1`. Upgrading bootsnap to `1.4.2` solves the issue.

[2019-04-02 15:27] fxn commented on #35749
Ah, yes, you're right. The dependency is generated for new apps, but since Bootsnap is not a dependency of the gems, the upgrade is not automatic.

The last version of Zeitwerk has a more performant reloading, but if client code is also using Bootsnap, it needs 1.4.2 ([see why](https://github.com/fxn/zeitwerk/blob/b1c41dc7e3cb22873fc1896d722be10bb38af74e/lib/zeitwerk/loader.rb#L254-L265)). In Rail

[2019-04-02 15:27] #35749 closed

[2019-04-02 17:09] goelinsights commented on #33209
I just had the same issue (I’m using rails as an API with a JavaScript front end) and setting eager_load to true in development environment files seems to have worked for now.

It means resetting the server for every rails change, but I was having to do that anyway due to other issues that seem to be related to name spacing.

[2019-04-02 17:55] coaxial commented on #32700
Also having this issue running rails 5.2.2.1 and after manually adding the `webpacker` gem to an existing Rails app.

[2019-04-02 18:24] shepmaster commented on #33209
@akshah123 I do not think so. We still periodically trigger this in development mode when switching git branches (refreshing the page once or twice usually works). We've turned on eager loading for the test environment to avoid it there.

[2019-04-02 18:32] akshah123 commented on #33209
This is really interesting.  I am actually seeing this problem not in development but in production where we do have eager_load set to true.  I am trying out bootsnap in prod to see if that addresses the problem.

[2019-04-02 19:04] corneverbruggen commented on #35749
Ok, great. Thanks.

[2019-04-02 19:36] javan commented on #35728
@rafaelfranca, AFAIK the JavaScript in Rails only supports IE11+

[2019-04-02 19:53] aricwalker opened #35835 "Exceptions raised in `parallelize_setup` do not result in `rails test` failing"
While working on an application running `6.0.0.beta3` we noticed that our tests continued to pass even though numerous exceptions were being raised within the `paralleize_setup` block.

### Steps to reproduce

- Create a new rails application using `6.0.0.beta3` - `rails new parallel-tests`
  - (I'm guessing any version w/ parallel testing will work here)
- Create a new test file that implements `

[2019-04-02 20:04] rafaelfranca commented on #35812
If you don't want those jobs to run when seeding you application you should be explicit about it in your code, not relying on them not be executed just because your job runner is not up. If for some reason your job runner is up when running the seeds the jobs will be executed.

You are relying exactly on the inconsistence I said this commit is fixing. So something like:

[code]

Would be more inte

[2019-04-02 20:09] eileencodes commented on #35835
Working with @aricwalker on this internally.

[2019-04-02 20:48] curtp opened #35836 "Objects cached in Rails 5.1.7 cannot be retrieved in Rails 5.1.4 - Redis"
Upgraded Rails to version 5.1.7 and ran the app for a while.  Rolled back to previous version which was 5.1.4 and received errors when trying to retrieve data cached when running 5.1.7.  Data cached with 5.1.4 can be retrieved in 5.1.7.

Hopefully we won't need to roll back when we deploy the upgrade into production.  This will prevent us from being able to roll back to the previous version or hav

[2019-04-02 21:08] rafaelfranca commented on #35836
We don't guarantee cached objects works between two versions. Caching of objects rely on Marshal that uses internal data of objects to serialize and serialize. Internal data of objects can change between any version, because they are internal and not part of the public API.

But it would be good if you post the error backtrace so we could understand what is failing so maybe we can do something abo

[2019-04-02 21:14] rafaelfranca commented on #35836
This is probably caused by https://github.com/rails/rails/commit/f45de5d190ee57d25ca9bda2a9ea0db6ce53f19f.

We made it able to read the cache dumped from < 5.1.7 but a version behind it can't read the 5.1.7 format.

We don't guarantee an older version will be able to read data generated by a new version, so probably you would have to flush the cache when upgrading.

[2019-04-02 21:32] curtp commented on #35836
There isn't a stack trace. When I run it in rails console the only output I get is (Object doesn't support #inspect)

I ran it from rails console and the app.  When it fails in the app, the stack trace is all within our code.

[2019-04-02 22:07] rafaelfranca commented on #35836
It is very likely it was that change, but I don't think we support that use case. You will need to flush the cache after the rollback or add the rails version as prefix of the cache key.

[2019-04-02 22:26] c2ofh commented on #35044
Untill Rails adds a callback to `Attachment`, I've build a monkey patch and added another callback to convert an image directly after upload.

**app/models/active_storage**
[code]

[2019-04-02 22:34] kaspth commented on #35044
Attachment has a polymorphic relationship to the parent record and is also marked touch true. See what that does here https://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#method-i-belongs_to

That means we’re triggering after_touch, after_commit and after_rollback on the record. How do those work for the use cases?

[2019-04-02 23:14] LandonSchropp opened #35837 "Where query string syntax requires parens with IN"
### Steps to reproduce

Create a Rails application with a `Banana` model that uses a UUID as its ID and uses Postgres as its database.

### Expected behavior

This is a contrived example but it applies to a real-world use case in our application.

In the Rails console, I would expect to be able to run this:

[code]

### Actual behavior

When I run this, I get this error:

[code]

I can fix this by

[2019-04-02 23:17] rafaelfranca commented on #35477
cc @pixeltrix

[2019-04-02 23:25] rafaelfranca commented on #35837
That you for the issue. Rails generate the parentheses if you don't use the SQL literal syntax. If you do, you have to add the parentheses since Rails doesn't parse SQL to know if developers are writing valid SQL or not, and neither it plans to do.

[2019-04-02 23:25] #35837 closed

[2019-04-02 23:34] #23890 closed

[2019-04-02 23:46] rafaelfranca commented on #35786
:+1: go ahead with the PR.

[2019-04-03 00:04] rafaelfranca commented on #34823
Since you know where the offending code is, what do you thing about opening a PR?

[2019-04-03 00:28] mu29 commented on #32082
That makes sense. Let's continue discussion in #33209

[2019-04-03 00:28] #32082 closed

[2019-04-03 00:29] jasonivers commented on #35044
Unless those callbacks (after_touch, etc.) have a means of seeing what was updated, and a reference to the object that triggered them (didn't see anything about that in the linked doc), it's not really enough... Otherwise, in my specific use case above, all I know is that something changed, and I can't create an item that says the avatar was updated, just that SOMETHING about the user changed.

[2019-04-03 01:24] lucascaton opened #35839 ""has_many through" association doesn't behave consistently when using a custom-typed PK column"
### Steps to reproduce

[code]

### Expected behavior

The SQL `where` clause generated for `has_many` is similar to the following and works perfectly:
[code]

I would expect the one generated for `has_many :through` to be similar...

### Actual behavior

But instead, it generates:
[code]

The problem is that the second one (`has_many :through`) doesn't include the `x` prefix and also doesn't remo

[2019-04-03 03:48] LandonSchropp commented on #35837
@rafaelfranca Thanks for the reply. Just for my own clarification, are the parentheses part of the serialization of the array into a list in SQL or part of the `IN` expression?

[2019-04-03 08:11] pwim commented on #35812
I'm running into issues due to the combination of this change, and that the inline queue adapter doesn't allow queuing of jobs in the future.

In some of my models I have code like

[code]

This means I can no longer run my seeds, as it fails with `NotImplementedError: Use a queueing backend to enqueue jobs in the future.`

These jobs aren't essential to my seeding process, and so could theoretica

[2019-04-03 11:08] mairea commented on #35817
I don't have any PR to send. :/

[2019-04-03 11:31] #34687 closed

[2019-04-03 13:12] nipe0324 commented on #35803
@LeandroSNunes I created a pull request https://github.com/rails/rails/pull/35832.
I'm considering how it fix because I think the solution isn't good. but, are you ok if like below.

[code]

[2019-04-03 13:27] themilkman commented on #35709
ActionDispatch#parse_content_type drops required parts since 5.2.3

Now, after (! ... sad face) diving deep inside this I found this issue/revert commit. It's a bit sad that the revert didn't make it in the 5.2.3 release. But since I spent much time in this (and wrote the text) I do at least want to add my scenario here to acknowledge that the new behaviour was erroneous.

----

We generate multip

[2019-04-03 14:05] flanger001 commented on #32995
I keep returning to this thread and leaving frustrated.

Where is the documentation for Arel? Arel got absorbed into ActiveRecord and all the documentation disappeared with it. The [Rubydoc site that comes up first in google](https://www.rubydoc.info/github/rails/arel) is for an old version and can't necessarily be trusted. The [new one that's part of ActiveRecord](https://www.rubydoc.info/github/

[2019-04-03 14:29] a-ta-ta commented on #33271
I had quite the same issue, but my problem was in running rake task long before 'bundle:install', so rake hadn't been installed in the moment cap ran rake and it was causing the prdictable results.

[2019-04-03 14:56] LeandroSNunes commented on #35803
Thanks, @nipe0324! This is still blocking my migration.
I also believe that forcing `belongs_to` to add an option would not be a good idea.

[2019-04-03 15:54] fazo96 commented on #32451
We have the same problem. In development, rails keeps getting stuck seemingly at random. Using CTRL-C displays a graceful shutdown message but the process never ends unless force closed by CTRL-C.

Both workarounds provided here haven't changed anything

[2019-04-03 18:35] mileslane commented on #35709
In our application, we use "application/fhir+json; fhirVersion=#{fhir_version}" to specify the version of the FHIR protocol we are supporting for a transaction.

https://www.hl7.org/fhir/http.html#version-parameter

[2019-04-03 18:46] eileencodes commented on #35800
I can't reproduce this in a test application with the knowledge I have of the problem and a reproduction from a small app would go a long way towards debugging this.

It's definitely simpler and not exactly sharding but since I'm not connected to the replicas via handlers it should theoretically create the same problem you're seeing but it is not. Here's the app https://github.com/eileencodes/conn

[2019-04-03 18:54] eileencodes commented on #35800
Oh I see something strange in the database_key method...

[code]

What should `database_details["int_name"]` return? Does it return just a number? What does your database.yml look like?

[2019-04-03 19:19] rafaelfranca commented on #32995
Opening a PR for that will not solve anything. The pull request will be just rejected. But, we are open to pull requests improving the deprecation message and documenting the `Arel.sql` method, and that would be very helpful.

[2019-04-03 19:20] rafaelfranca commented on #35837
That is a good question. I'd think it is part of the `IN` expression but you could try to see which one it is.

[2019-04-03 19:22] rafaelfranca commented on #35812
That is a good point. I think we should change to only change the adapter to inline if the adapter is the `:async` one. Mind to open an PR?

[2019-04-03 19:42] enrico commented on #31228
for all people who have a catch all route:

why don't you change the order of railties loading in your application.rb like this:

[code]
`:all`, means all railties routes first, `:main_app` are the ones in your app last

from `railties/engine.rb`:
[code]

[2019-04-03 20:26] urkle commented on #34823
@rafaelfranca I can do that sometime next week.

[2019-04-03 21:01] dvandersluis commented on #32995
Given that the impetus for this appears to be protecting against accidental SQL injection, it feels to me that the approach chosen is backwards.

Instead of assuming arguments to `order`, etc. are insecure by default (unless told otherwise by wrapping them in `Arel.sql`), wouldn't it be a simpler solution to _make them secure_ by sanitizing strings by default? The outcome would be the same (ie. pr

[2019-04-03 21:05] arye-dov-eidelman opened #35845 "Shouldn't the webpacker gem be a dependency of Action Text? Or is there a way to use Action Text without webpack?"
## Shouldn't the webpacker gem be a dependency of Action Text? Or is there a way to use Action Text without webpack?

When upgrading to rails 6 and installing Action Text. If webpack is not installed, (as was the default in Rails 5) all of the yarn packages required by Action Text are not loaded on the form and there is no indication in the logs or documentation that webpack is a requirement for a

[2019-04-03 21:14] rafaelfranca commented on #32995
This comment explain why we would reject it https://github.com/rails/rails/issues/32995#issuecomment-394927823

[2019-04-03 21:16] rafaelfranca commented on #32995
This solution would cause the same problem in terms of upgradability as the current solution we chose but with the difference that it would silently broke applications what were relying on `order` arguments not being escaped.

[2019-04-03 21:51] danielricecodes commented on #35681
@marko-avlijas - I've been programming Ruby and Rails for 10 years and I'm still learning new things.  You'll get the hang of it, but not after only 15 minutes.  Sorry the guides are confusing to you, but they are meant to show examples of how the Query Interface works, not be used as step by step training guides AFAIK.  There are plenty of supplemental guides available for Rails too, like [The Ra

[2019-04-03 22:04] jcarlson commented on #27342
I am still able to reproduce this with rails 5.2.2.1. I agree with @serggl: wouldn't it make sense for Rails to internally call `reload` on a record before invoking the `after_commit` hook?

[2019-04-03 22:24] jlw commented on #35782
@matthewd or @rafaelfranca - I am having trouble creating test that fails either on master or on the `5-2-stable` branch. I'll continue to try and find differences between our production app that ran into this problem and the test dummy app template, but do you have any suggestions that stand out when looking at the temp commit linked above?

[2019-04-03 22:31] rafaelfranca commented on #35782
First thing I see is that you are testing in the wrong file. Engine.rb is for rails engines, you should be testing in the app. But other than that I'd expect that to fail. Maybe the application that is being booted is not the one were you removed the active job railtie?

[2019-04-03 22:54] gmcgibbon commented on #35839
The attribute type of `token_id` doesn't seem to be used when building the `INNER JOIN` (hence why you see an uncasted string value in the `WHERE`). I'm still trying to identify where the query building goes wrong, but it is definitely a bug.

[2019-04-04 00:03] arye-dov-eidelman commented on #35845
### Another issue:
If you install action text before wepacker it will skip the following 2 steps
[code]
Which adds the following to app/javascript/packs/application.js
[code]
Running rails action_text:install a second time will add the missing requirments.

Perhaps action_text:install should fail hard if webpacker is not installed with a message that webpacker needs to be installed before you inst

[2019-04-04 00:34] zaviermiller opened #35846 "Uncaught TypeError: Cannot read property 'message_types' of undefined"
### Steps to reproduce
To reproduce simply run a patch request in a link_to on Heroku. This error does not occur in development.

### Expected behavior
The patch method should be run because of the data-method which is equal to "patch"

### Actual behavior
Heroku tries to run it as a get method. This is most likely due to the error message in the title which I believe is from the ujs-rails library

[2019-04-04 03:05] rafaelfranca commented on #35846
Can you provide an example application that reproduce the issue?

[2019-04-04 05:40] burennto commented on #24846
Not sure if related, but ran into the same issue on Rails 5.2.1, and found that `protect_from_forgery with: :null_session` in the parent controller needs to be AFTER all `before_action` declarations in that controller.

[code]

[2019-04-04 06:21] p8 commented on #35597
I noticed the same problem.
`test_previous_changes_with_nested_attributes` works in 5.1 but fails in 5.2
[code]

[2019-04-04 07:45] y-yagi commented on #35114
Fixed by #35145

[2019-04-04 07:45] #35114 closed

[2019-04-04 09:23] Stalder opened #35853 "[actioncable js]: In node_modules actioncable contains code from another deprecated repo"
## Steps to reproduce:
[code]
This directory contains code from [repo](https://github.com/mwalsher/actioncable-js), that was marked as deprecated, while on the [NPM page](https://www.npmjs.com/package/actioncable) this repo was mentioned as a source, and i expected to see these [sources](https://github.com/rails/rails/blob/master/actioncable/app/assets/javascripts/action_cable.js) in node_modules.

[2019-04-04 11:48] dennym commented on #25525
Still an issue in v5.2.2
require_relative helps to have the required `Class` available but this has also the side effect of loading the file twice. Once with the `application.rb - require_relative` and then when the `app/middleware` is required. If you have constants in you middleware you will get `warning: already initialized ...` messages.

I think in rails version before v5 the `config.middlewa

[2019-04-04 12:40] eileencodes commented on #35495
I need to test out a few things first. It's on the Rails 6.0 milestone so don't worry it won't get released without this change unless something major blocks it.

[2019-04-04 13:06] zaviermiller commented on #35846
@rafaelfranca yep, http://test.blinddogclothing.com/products/prod_Eowo9YytqvNEov

[2019-04-04 13:11] azbshiri commented on #35839
I looked through examples in `activerecord` codebase and I think your `ActiveRecord::Type` implementation is wrong otherwise it works fine.

**Steps to reproduce (works)**

[code]

@gmcgibbon @lucascaton

[2019-04-04 13:12] GeminPatel commented on #34929
I am getting this same issue for a very simple line:

YAML.load_file('./config/infra.yml').deep_symbolize_keys

Says: NoMethodError: undefined method `deep_symbolize_keys' for #<Hash:0x00000001f1b0c0>

This is so confusing. It works in rails console.

My rails is 5.1.7 and ruby is 2.4.1

[2019-04-04 13:16] kazooiebombchu commented on #35495
Okay thanks! Let me know if you need any changes or something related to this. I'm more than happy to help.

[2019-04-04 14:02] Medvezo opened #35857 "Rubocop warning: Bundler/OrderedGems"
### Steps to reproduce
Run `rubocop`

### Expected behavior
Ideally, Rubocop shouldn't complain about the `Gemfile`. Reorder gems in `development` group if there isn't a particular reason why `listen` gem should precede the `web-console` gem

### Actual behavior

### System configuration
**Rails version**: 6.0.0
**Rubocop version**: 0.66

[2019-04-04 14:18] ArtieReus commented on #32413
Where is this fix released? I tried rails 5.2.3 and I'm still seeing this issue...

[2019-04-04 14:49] azbshiri commented on #35839
I think your implementation of `ActiveRecord::Type::Value` interface is wrong

[code]

above change makes the test pass also your query doesn't appear as hex literal `x''` but instead a "<16 bytes of binary data>"

[2019-04-04 14:53] kaspth commented on #35857
We don't follow Rubocop warnings for Rails apps. You're free to install it and use it though. Thanks!

[2019-04-04 14:53] #35857 closed

[2019-04-04 15:19] rafaelfranca commented on #25525
middleware can't be in `app` because they can't be reloaded. They should be in `lib` and if you put them in `lib`, `require_relative` will work.

This ticket is closed because this is not an issue.

[2019-04-04 15:53] rafaelfranca commented on #35846
I'm asking for the code, not the running application. It would be even more helpful if ti was a new generated application to show us that the problem is in the framework and not in the code that you wrote. In other words we need a way to reproduce the issue ourselves, so we are able to identify what the error is, when it happens, where, and how to fix.

[2019-04-04 16:57] sidot3291 commented on #35800
Thanks for combing through this, @eileencodes

Here's a demo app that throws the error reliably:
https://github.com/sidot3291/multidberror

In console, run:
[code]

Note: `AbstractFoo` is an abstract model that `Bar` does not inherit from.

Interestingly, this does not throw the error, even though "writing" role isn't defined anywhere:
[code]

I haven't done more investigation into why my original

[2019-04-04 17:00] sidot3291 commented on #35800
database_details["int_name"] returned a string.  That block of code was how I added configurations dynamically, in lieu of using database.yml

[2019-04-04 17:20] nipe0324 commented on #35689
I think it is correct. Not reflected in the database until the end of the transaction.

[code]

[2019-04-04 17:30] eileencodes commented on #35800
Ok I see the problem. This won't work

You have to assign the database to a role/handler (that's the `:writing` key) or else the connection cannot be established.

I will update Rails to fix this because it should fail more gracefully or pick up the default handler.

Does not throw the error because you are giving it a role/handler to use.

Not technically. You might want this behavior for one or

[2019-04-04 17:38] natetech333 opened #35859 "complaint"
I have 20+ screenshots of moderators running Slack channels (1000's of members in Rails) who are using Slack as their personal bully pulpit. Last night was the last straw for me. I saw a moderator call a girl a troll after another guy made sexist comments to her. The moderators are acting like bullies. I love Rails. But I am going to drop it like a hot potato if the creators of Ruby and Rails don'

[2019-04-04 17:41] eileencodes commented on #35800
Actually I know the problem and it's not _exactly_ what I said it was. If you call `ApplicationRecord.connected_to(database: :development){ Bar.first }` first `AbstractFoo.connected_to(database: :development){ Bar.first }` won't fail in the console anymore. I think I know what it is and will push a change soon.

Thanks for providing the sample app, it helps a lot!

[2019-04-04 17:53] sidot3291 commented on #35800
Great!  Yes, I think this comment resolved that it should work without a role:
https://github.com/rails/rails/pull/34052#issuecomment-426446991

Re: multiple pools: it makes more sense to me that `connected_to()` would adhere to the pool setting in database.yml than create an additional pool.

In the case where someone intentionally wants to create an additional pool, I'd prefer something that mor

[2019-04-04 17:55] rafaelfranca commented on #35859
I'm sorry this situation is happening and I feel very sad about those people behavior.

Unfortunately, we don't have control over user created slacks and forums. While Rails, the project, follow a code of conduct in its official channels (GitHub organization, website, blog and the Rails core mailing list), we can't force other groups to do so. @dhh controls the trademark of the name Rails, but I t

[2019-04-04 18:21] rafaelfranca commented on #35853
The code inside the npm package is compiled at release time based on the files inside https://github.com/rails/rails/tree/master/actioncable/app/javascript/action_cable.

The code to generate the internal file is here https://github.com/rails/rails/blob/master/actioncable/Rakefile#L36

[2019-04-04 18:21] #35853 closed

[2019-04-04 18:26] eileencodes commented on #35800
I think we're confusing terminology here. When I say pool I mean this pool https://github.com/rails/rails/blob/b1fc1319dfbc450451bb0b410113dd6b7ab1d412/activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb which has existed for a long time and has not changed with multiple databases.

The only thing I changed beyond adding new methods for swapping or establishing multiple

[2019-04-04 18:38] cjlarose commented on #34798
This problem causes flakiness in my application's system test suite after migrating to use transaction tests there.

My colleague @moyuanhuang and I applied this patch in an initializer (based on @mqchau's PR) and it seems to have fixed the issue for us.

[code]

[2019-04-04 19:35] gmcgibbon commented on #35839
@azbshiri The hex literal is present if you disable prepared statements on the adapter. There is still a type inconsistency on the join. Implementation aside, if you use `:binary` instead of the UUID type it will fail, and I don't think that's expected.

[2019-04-04 19:46] sidot3291 commented on #35800
Hmm, I'm hitting a wall here.  I think I see why multiple databases and sharding are at odds, but the functionality is similar enough that it feels like there should be an elegant abstraction to handle both.

Do you imagine a shard being configured as a role, a database, or neither?  And given that, how would you make it so each shard supports multiple roles?

Say we configure each shard as a data

[2019-04-04 19:52] #35859 closed

[2019-04-04 20:04] eileencodes commented on #35800
I need to spend some time thinking about your use case. I don't know that it's the right way to implement sharding for Rails 6 or not. I've not used sharding in production so it's harder for my to determine what the _right_ way is.

I will get back to you soon.

[2019-04-04 20:53] vitalinfo opened #35862 "Rails 5.2.3 db:seed doesn't work with `wait_until` job"
### Related to theses changes
https://github.com/rails/rails/pull/34953

### Steps to reproduce
- add to any model after create callback where run some job with `wait_until` parameter, like `SomeJob.set(wait_until: Time.utc.end_of_day).perform_later`
- create object of this model in the seed file
- run `rails db:seed`

### Expected behavior
Seed works fine

### Actual behavior
Crash with `NotImple

[2019-04-04 20:58] rafaelfranca commented on #35862
Duplicate of #35812

[2019-04-04 20:58] #35862 closed

[2019-04-04 21:00] RowiDont commented on #28947
I'm commenting so others who see this aren't afraid to use `ActiveRecord::Base.connection.quote`.

I think @P9GIT is overstating the issues with using `ActiveRecord::Base.connection`. I might be misreading the docs, but it seems like `connection` comes from `ActiveRecord::ConnectionAdapters::ConnectionPool#connection` (https://api.rubyonrails.org/classes/ActiveRecord/ConnectionHandling.html#method

[2019-04-04 21:09] gmcgibbon commented on #35839
I found the issue after looking at Active Record's predicate builder. You need to specify `has_many :token_users` on your `User` model for type casting to work. When building the WHERE on the join [it reflects on associations here](https://github.com/rails/rails/blob/a8aca0235092c33527aedea6ce8bf82766f8cec1/activerecord/lib/active_record/table_metadata.rb#L48). If there's no association on the oth

[2019-04-04 22:44] trcarden commented on #35812
@rafaelfranca I think you might be misunderstanding my point. We aren't relying on the job runner not running, we have a completely custom one we want to run in there instead. It's very similar to @pwim above except we have a custom adapter that is not `async` or `inline`.

Also @pwim if you have mailers that are running on a special adapter the `ActiveJob::Base.queue_adapter` won't catch those.

[2019-04-05 00:13] lucascaton commented on #35839
Thanks a lot, @gmcgibbon! 🙂
It solved the issue indeed.

[2019-04-05 00:22] dhh opened #35866 "Add missing touch option to has_one"
We have a `touch: true/false` option for belongs_to, but not for has_one. Let's add that. It's often necessary to touch in that direction as well.

[2019-04-05 02:01] abhaynikam commented on #35866
@dhh Can I work on this?? I work on this today.

[2019-04-05 02:15] dhh commented on #35866
👍🙏

[2019-04-05 13:40] st0012 commented on #35666
IMO, initializing objects like this with scope attributes sounds legit, but the scope attributes shouldn't include primary key

[2019-04-05 14:37] bartozz opened #35877 "Get optionals parameters of Rails routing file."
# I've the following routes in routes.rb
# How get the optional parameters in the EventsController.?
# In Django is the following
# def events(city = None, type_event = None)
# if city and type_event == None:

Rails.application.routes.draw do
  resources :events do
    get "/" => "events#index"
    get "/(:city)/(:type_event)" => "events#index"
  end
end

[2019-04-05 14:38] bartozz opened #35878 "How to get optional parameters in controller of Rails"
# I've the following routes in routes.rb
# How get the optional parameters in the EventsController.?
# In Django is the following
# def events(city = None, type_event = None)
# if city and type_event == None:

Rails.application.routes.draw do
  resources :events do
    get "/" => "events#index"
    get "/(:city)/(:type_event)" => "events#index"
  end
end

[2019-04-05 14:39] bartozz opened #35879 "routes.rb"
# I've the following routes in routes.rb
# How get the optional parameters in the EventsController.?
# In Django is the following
# def events(city = None, type_event = None)
# if city and type_event == None:

Rails.application.routes.draw do
  resources :events do
    get "/" => "events#index"
    get "/(:city)/(:type_event)" => "events#index"
  end
end

[2019-04-05 19:22] gadikotamohan commented on #35651
Yes, even asset those files in the asset pipeline as well.

[2019-04-05 19:22] gadikotamohan commented on #35651
yes, sorry my bad corrected my post.

[2019-04-05 19:34] gadikotamohan commented on #35879
@bartozz  if I understand your query correctly

[code]

Having said, your question was more related to **howto**. Please use stackoverflow or quora platform to resolve your query.  Use this platform to report any issues related to rails project.
   Would suggest you to look-into the documentation which rails has already provided. https://edgeguides.rubyonrails.org/getting_started.html

[2019-04-05 19:36] gadikotamohan commented on #35878
@bartozz  duplicate of https://github.com/rails/rails/issues/35879 please avoid creating duplicate issues.

[2019-04-05 19:37] gadikotamohan commented on #35877
@bartozz  duplicate of https://github.com/rails/rails/issues/35879

[2019-04-05 19:57] #34638 closed

[2019-04-05 19:57] #35398 closed

[2019-04-05 19:58] armilam commented on #35709
This change in how content-type is parsed for a response also affected us: https://github.com/lessonly/scim_rails/pull/9#issuecomment-480398815

We discovered we were technically doing something wrong and that we technically should not be comma-separating content-type values, but this does technically constitute a change in how the `ActionDispatch::Request` object behaves. Because of that, I'm not

[2019-04-05 23:04] #35877 closed

[2019-04-05 23:04] #35878 closed

[2019-04-05 23:06] y-yagi commented on #35879
As pointed by gadikotamohan, please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2019-04-05 23:06] #35879 closed

[2019-04-06 00:15] palkan commented on #33802
Action Cable only subscribes once to a particular stream – only when you want to subscribe to this stream for the first time.
The actual _subscription map_ (stream -> connection) is stored within Ruby, the Redis channel is used to broadcast messages across the multiple instances of the Rails app:

[code]

[2019-04-06 04:24] yahonda opened #35884 "FoxyFixturesTest unit tests fail with MariaDB 10.4.3"
This issue has been also opened at MariaDB https://jira.mariadb.org/browse/MDEV-19195

### Steps to reproduce
[code]

### Expected behavior
All of unit tests should pass.

### Actual behavior
4 unit tests fail.

[code]

### System configuration
**Rails version**: master branch e9d1d7668604c176dc795e4f8759a2addfd9669c

**Ruby version**:ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-linux]

* Mar

[2019-04-06 06:18] anirudh-dasu commented on #30968
@3minus1 I am using sneakers worker and facing this issue. Have you faced the same and managed to resolve it?

[2019-04-07 19:42] localhostdotdev opened #35889 "[activerecord] something_id is translated to "Something can't be blank" even if there is no "something""
### Steps to reproduce

- `rails new rails-bug-1`
- `rails g model MyModel something_id:string`
- `validates :something_id, presence: true`
- `MyModel.create!`

https://github.com/localhostdotdev/rails-bug-1

### Expected behavior

[code]

### Actual behavior

[code]

### System configuration

**Rails version**: `Rails 6.0.0.beta3`
**Ruby version**: `ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_

[2019-04-08 00:13] siegy22 commented on #28109
@eileencodes

Can I ask why? Because before there were system test cases I used to add capybara to my `ActionDispatch::IntegrationTest`s. And they'd run pretty smoothly with all the other tests.

[2019-04-08 03:56] kamipo commented on #34760
Fixed by 7432e251873690234d0d288e8eb009fbee80b635.

[2019-04-08 03:56] #34760 closed

[2019-04-08 11:27] son-vyas commented on #35884
Can I work on this?

[2019-04-08 11:59] phlegx commented on #32500
Hi!

I have used this config and it works for me. It works for `url_helpers` and therefore also for `ActiveStorage` and my Serializer.

[code]

[2019-04-08 12:06] yahonda commented on #35884
I'd like to say yes but I think this issue is being taken care of by MariaDB developer at https://jira.mariadb.org/browse/MDEV-19195 .

[2019-04-08 12:20] eileencodes commented on #28109
We made them a separate Rake command because they can be pretty slow. Everywhere I've worked we've run them separate from the main build. On CI I think this makes the most sense. It seems minor for smaller apps but once you get to a larger build it makes a lot of sense. If you want to run them all at once you can write a custom rake task to do that. As for Rails it was a design decision to have th

[2019-04-08 13:22] yahonda commented on #35884
Setting `optimizer_switch=rowid_filter=off` addresses these failures.

[2019-04-08 14:38] jlw commented on #35782
@rafaelfranca - two things:

First, the bug was introduced in `engine.rb` which is why I am testing/fixing there. You only added ActiveJob processing of seeds within engines, so testing a change within the app doesn't make sense to my understanding. Could you explain a bit more what you have in mind so that I can understand it better?

Second, I was hoping that this change would be applied to any

[2019-04-08 14:48] soartec-lab opened #35894 "Expected skeletons are not built with `rails plugin new blorgh --mountable`"
### Steps to reproduce
When I ran the generate code below, the expected file was not created.

[code]

### Expected behavior
I expect that `app / assets / blorgh / application.js` will be created.

https://github.com/rails/rails/blob/470e6bdac97249ca3406c635f611aa8f7df8b222/railties/lib/rails/generators/rails/plugin/plugin_generator.rb#L147-L156

### Actual behavior

[code]

### System configurati

[2019-04-08 14:48] soartec-lab commented on #35894
Please check it.

[2019-04-08 15:32] rafaelfranca commented on #35894
Thank you for the issue. Rails 6 doesn't generate javascript anymore in `app/assets`. See https://github.com/rails/rails/pull/33079. We forgot to remove that method.

[2019-04-08 15:32] #35894 closed

[2019-04-08 16:06] bcgraham opened #35898 "`private_constant` macro doesn't work unless both eager_load and cache_classes are true"
### Steps to reproduce
[code]

### Expected behavior
Referencing `A::B` should raise a `NameError` with the message `private constant A::B referenced`

### Actual behavior
It only raises an error in typical production environments, not in typical development or test environments

### System configuration
**Rails version**: 5.2.3 (also tested on 5.2.2.1)

**Ruby version**: ruby 2.6.0p0 (2018-12-25

[2019-04-08 16:47] enebo opened #35900 "JRuby/TruffleRuby cannot run railties tests because of use of fork()"
### Steps to reproduce

In railties subdir:
jruby -S bundle exec rake

### Expected behavior

Get test results.

### Actual behavior

[code]

### System configuration
**Rails version**:  v6.0.0.0beta3 tag (although it has been this way since b342db680bd)

**Ruby version**: JRuby (any version but tested with master 9.2.6.0 can show it)

### Other Notes

If I revert b342db680bd we seem to run tests

[2019-04-08 17:00] nipe0324 commented on #35803
How about this fix?

[code]

[2019-04-08 19:03] arturbersan commented on #32909
You can substitute `uniq` to `distinct`

[2019-04-08 20:14] silva96 opened #35901 "end_of_day is not aware of having one more hour when timezone offset changes due to daylight savings"
### Steps to reproduce
Try to get the end_of_day of a day when the daylight savings time end (back to standard time),   clocks change at 00:00 to 23:00, going back 1 hour, but with different timezone

Example: In Chile, the 06 of April at 23:59:59.999 -03:00 the clocks go back to 23:00:00.000 -04:00, still being on the 6th instead of passing to the 7th of April. That day has 25 hours but rails tot

[2019-04-08 22:12] nathan-eko commented on #26731
This does seem like a completely useless feature that nobody needs or wants, especially if you're parallelizing your tests locally and have dozens of databases.

[2019-04-09 00:09] yahonda commented on #35884
Closing this issue because there is almost nothing can be done at Rails repository and at least the workaround provided. Thanks @son-vyas for the kind proposal.

[2019-04-09 00:09] #35884 closed

[2019-04-09 00:15] #34798 closed

[2019-04-09 00:22] rromanchuk commented on #35103
@jduff i'm using actioncable in the context of mobile, do you have any insights on how i'm supposed be cleaning these connections up? I see a lot of different conflicting answers. I've tried sending `unsubscribe` using the same signature as `subscribe` (which is working fine). What are the consequences of simply disconnecting the socket?   Am i required to override `unsubscribed`?  I see some peop

[2019-04-09 00:43] jhollinger opened #35902 "ActiveRecord::Tasks::DatabaseTasks no longer works outside of Rails"
### Steps to reproduce
Clone example project from https://github.com/jhollinger/rake-record and use the **activerecord-6** branch.

    bundle install
    bundle exec rake db:setup
    NameError: uninitialized constant ActiveRecord::Tasks::DatabaseTasks::Rails
    ...

### Expected behavior
With proper configuration (i.e. manually setting `db_dir`, `root`, `migrations_paths`, `database_configurati

[2019-04-09 00:44] jduff commented on #35103
@rromanchuk what you are describing sounds like a different issue from what I was running into. If the client disconnected everything worked fine for me. My issue was if the server was restarted `unsubscribed` was not called, but when it came back up the clients would connect again and `subscribed` would be called.

To work around this I stopped depending on `unsubscribed` and instead added a keep

[2019-04-09 19:24] #35812 closed

[2019-04-09 20:14] rromanchuk commented on #35103
@jduff yeah it looks like one of my puma issue was resolved with their latest released, looks like new requests were being accepted on shutdown.

Major digression, but just in case it helps someone else, i also figured out the more insidious problem i was investigating. I recently got an uptick in `Fix PG::ConnectionBad: timeout expired` but it sent me me on a wild goose chase. Finally figured it

[2019-04-09 20:33] bjgaynor commented on #23422
I'll jump on the bandwagon and say this should definitely not be a closed issue - it's not very often Rails behaves in surprising and unintuitive ways.  It should definitely respect the primary key generator or have a foreign key generator setting.

[2019-04-09 21:05] douglasrosa0110 opened #35914 "generate controller with wrong routes"
### Steps to reproduce
[code]

### Expected behavior
_config/routes.rb_
[code]
### Actual behavior
_config/routes.rb_
[code]

### System configuration
**Rails version**: actual

**Ruby version**: actual

[2019-04-09 21:20] rafaelfranca commented on #35914
[code]

That route generate is correct. And I could not get it generate a route using `root`. Can you provide information how to reproduce it?

[2019-04-10 02:01] douglasrosa0110 commented on #35914
By default comes get 'controller/action' and i was changed to method root that expects 'controller#action' as parameter. Sorry for mess @rafaelfranca

[2019-04-10 02:02] #35914 closed

[2019-04-10 06:43] stevehill1981 commented on #23422
Has anyone checked to see if Rails 6 exhibits the same issue?

[2019-04-10 06:46] kenigbolo commented on #23422
It might be fixed in rails 6 but I’m not sure if there was anything in regards to this in any RFC or in the changelog. Difficult to say from my end as I haven’t tried rails 6 out yet

[2019-04-10 06:46] stevehill1981 commented on #23422
Will give it a whirl later today if I get chance.

[2019-04-10 07:18] stevehill1981 commented on #23422
Alright, I've created a gist that contains a minimal demonstration of this bug in both Rails 6 master and Rails 5.2.3.

https://gist.github.com/stevehill1981/12a58fc0203a95f32a3bcd19aa50950e

Hopefully that's enough to help fix it; I can have a go at a PR myself if nobody else is keen :)

[2019-04-10 07:42] hidroo commented on #35584
@y-yagi Did you manage to find a solution to our problem or are we doing something wrong?

Best wishes,
Michael

[2019-04-10 07:48] #28080 closed

[2019-04-10 08:59] tbsvttr commented on #26158
I had problems similar to those described here on macOS Mojava(10.14.4). I could solve them by reinstalling the gems listen and rb-fsevent:

`gem uninstall listen rb-fsevent && gem install listen rb-fsevent`

[2019-04-10 10:41] stevehill1981 commented on #23422
The `type: :uuid` is necessary here because `ActiveRecord::ConnectionAdapters::ReferenceDefinition` defaults to `:bigint`, and doesn't attempt to look up the type of the referenced column.

I think the proper behaviour should be:

1. **If no type is specified and the referenced table exists**, find the primary key for the referenced table and use that type.
2. **If no type is specified, but the re

[2019-04-10 13:15] douglasrosa0110 commented on #35902
And with ```rails db:setup```  @jhollinger ?

[2019-04-10 14:42] jhollinger commented on #35902
@douglasrosa0110 I'm not sure I understand. The `rails` command certainly wouldn't work w/o the rails gem.

[2019-04-10 15:19] Ana06 opened #35925 "WHERE IN doesn't support array of pairs"
I had expected that:

[code]
produces the following SQL query:

[code]

being equivalent to:

[code]
Instead, it produces the following error:

[code]

This forces me to write code like:

[code]
:see_no_evil: :see_no_evil: :see_no_evil:

I would like to suggest that Rails supports arrays of pairs for WHERE IN queries as it is expected and allow to write much nicer code. :bowtie:

### System config

[2019-04-10 15:59] omenking commented on #32995
So look at this use-case where I want to want to filter by column.

[code]
So I thought when you pass them in as extra arguments with `?` its suppose to sanitize them and place them in the correct position. I haven't used Arel for a few years so fuzzy on its functionality.

[2019-04-10 17:47] eaconway opened #35926 "ActiveStorage Feature Request - Support for CDN (Cloudfront)"
Hello Rails team,

**Disclaimer: this is my first Github issue, so apologies if I'm missing something.

I've spent a fair amount of time researching and trialing how to setup Active Storage to leverage Cloudfront. There are a number of issues like:
- https://github.com/rails/rails/issues/31419 (Primary source)
- https://github.com/rails/rails/issues/33052
- https://stackoverflow.com/questions/5229

[2019-04-10 20:17] rafaelfranca commented on #35926
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2019-04-10 20:17] #35926 closed

[2019-04-10 20:18] #35744 closed

[2019-04-10 21:38] dreyks opened #35929 "failing yarn install does not stop further steps"
### Steps to reproduce

- have a wrong package url in package.json or no network connection
- run `rails assets:precompile`
### Expected behavior

rake task fails completely
### Actual behavior

task proceeds to precompiling resulting in possible runtime errors
### System configuration
**Rails version**:
5.2
**Ruby version**:
2.6.2

the issue is with
https://github.com/rails/rails/blob/43288a053fe

[2019-04-10 22:25] natematykiewicz opened #35930 "rescue_from rescues from unexpected classes"
### Steps to reproduce
Raise an `ActiveRecord::RecordNotFound` error. Rescue that error and raise your own custom class. Add `rescue_from ActiveRecord::RecordNotFound, with: -> { head(:not_found) }` to your controller.

### Expected behavior
Trigger your series of errors, and see that the custom error class is raised, resulting in the action erroring.

### Actual behavior
See the `rescue_from` you

[2019-04-11 02:29] y-yagi commented on #35584
Thanks for your create a reproduce script.
First, errors are added in manually do not propagate to parent. So I think your `propagate_error_message` is the correct approach.

By the way, why you want to stop destroy in children? If you do not want to delete records that have children, can you not use `restrict_with_exception` dependent?

[2019-04-11 04:08] shadydealer commented on #35584
The #stop_destroy is used in the group user to simulate a validation error on the model. So when you attempt to destroy the group and when ActiveRecord attempts to destroy its group users they would raise errors.

[2019-04-11 04:38] y-yagi commented on #35929
I think `raise` is more appropriate than `exit!`. This allows to switch to the using `exception: true` option when only support Ruby >= 2.6.  Anyway, I agree that it should be an error. Can you create a PR?

[2019-04-11 07:23] GarrisonD commented on #17368
+1

[2019-04-11 08:24] y-yagi commented on #35779
@WoH Thanks for your useful information.
I'm not sure this is expected behavior or not. So I reported to bugs.chromium.org. I will watch that.
https://bugs.chromium.org/p/chromium/issues/detail?id=951697

[2019-04-11 09:46] rwojnarowski commented on #35846
@zaviermiller did you look at this issue with assets on heroku? https://stackoverflow.com/questions/31239576/heroku-proccessing-put-and-delete-request-as-get-rails-4 ?

`
If you have precompiled assets before, heroku will always serve the last precompiled version. You need to run rake assets:clobber both on localhost and heroku
`

[2019-04-11 09:48] #34837 closed

[2019-04-11 13:50] Medvezo opened #35937 "Content Security Policy: report-uri is deprecated"
CSP's `report-uri` directive [has been deprecated](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy#Reporting_directives) and will be replaced by `report-to` directive. Unfortunately, `report-to` [is only supported](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-to) by Chrome 70+. In  order to keep backwards compatability,

[2019-04-11 14:29] oystersauce8 opened #35940 "Is there a multi_excerpt() helper?"
So  far I haven't found a way to summarize a text using the rails framework, a bit like excerpt() but more like what *google search results* does where we show multiple excerpts if the +phrase+ is far apart in the text.

Curious to know if [this](https://github.com/rails/rails/pull/35939) is a good idea, if there's interest in merging.

[2019-04-11 14:44] yahonda opened #35941 "Two of PolymorphicFullStiClassNamesTest tests fail"
Found these failures at https://buildkite.com/rails/rails/builds/60325#c0a7fa75-4232-4aea-8435-d821b1ea504b by #35838 I have opened this issue as I do not think these failures are related with #35838.

### Steps to reproduce

[code]

### Expected behavior
It should pass.

### Actual behavior

[code]

### System configuration
**Rails version**: master branch

**Ruby version**: ruby 2.6.2p47 (2019-0

[2019-04-11 15:01] localhostdotdev opened #35942 "third select options not validating arguments"
### Steps to reproduce

- `= form_for User.new do |f|`
- `f.select(:name, ['a', 'b'], class: '1')`

### Expected behavior

I expected to have a `class="1"`, but actual expected behavior should be that it raises an error because I'm using the third argument instead of the fourth, e.g.:

https://api.rubyonrails.org/v5.1/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select

[code]

### A

[2019-04-11 15:02] bobvanderlinden opened #35943 "No headers available in env when using Rack::MockRequest"
### Steps to reproduce

The documentation (https://guides.rubyonrails.org/testing.html#setting-headers-and-cgi-variables) says I can do the following in my tests (Minitest):

[code]

When I have middleware like the following:

[code]

The output shows:

[code]

I expect `HTTP_AUTHORIZATION` to be in `env`, but it isn't.

Additionally, whenever I run `bundle exec rails server` and do a curl like th

[2019-04-11 15:51] #35940 closed

[2019-04-11 16:01] rafaelfranca commented on #35942
Thank you for the issue. This is unfortunately how Ruby works and there is nothing we can do. `class: '1'` is a valid choice too, so we can't raise an error when you pass it.

[2019-04-11 16:01] #35942 closed

[2019-04-11 16:16] localhostdotdev commented on #35942
[code]

those are all valid options that could be used by the tag? then why are they all ignored?

as far I know, here are the options:

selected, disabled, + select_content_tag options (include_blank, prompt, include_hidden) +  add_options (include_blank, prompt).

looks like a closed list to me

[2019-04-11 16:40] rafaelfranca commented on #35942
Sorry, I got confused with the signature you posted

[code]

In that case `class: '1'` would be the `choices` argument and that is valid, but the signature of the method you are using is:

[code]

In that case indeed `class` is not a valid option by default, but, we can't limit which options are valid because it is possible to define custom tags and if we validate the options it become harder for

[2019-04-11 17:35] localhostdotdev commented on #35942
see, even you got confused :)

oh ok I see, wouldn't people base their custom tags on `ActionView::Helpers::InstanceTag` though? (that would be a breaking I guess as tags are public apis)

anyway, I understand the decision, but it's just yet another place where parameters get silently ignored

[2019-04-11 18:23] Backoo commented on #25924
The @kamipo's solution

[code]

worked also for me, but I didn't understand if this is a fix (that will be definitively solved in future) or something else...

BTW By using mysql2 gem, Rails version 5.2.2 and Ruby version 2.4.5, I get the error only in production with MySQL version 14.14 Distrib 5.7.25 for Linux (x86_64). In development I'm using MySQL version 5.7.25-0ubuntu0.18.04.2 (Ubuntu) with

[2019-04-11 18:56] rafaelfranca commented on #35942
To be fair I totally agree with you. This is why I think simple_form API is easier to understand. I even have a long time wish to change our form helpers to use named parameters instead of positioned parameters.

[code]

[2019-04-11 19:32] #35283 closed

[2019-04-11 19:40] jeremy commented on #35937
Looks like report-to introduces a new reporting API, new report content type, and more. Indicating report-to means the report endpoint will need to understand how to parse the new content type, so this isn't necessarily backward compatible.

Sounds like this should be a new feature to support the reporting API: https://w3c.github.io/reporting/

PR welcome! In the meantime, we're good to continue u

[2019-04-11 19:40] #35937 closed

[2019-04-11 20:06] localhostdotdev commented on #35942
OMG that would be so great!

[2019-04-11 20:09] rafaelfranca commented on #35930
Thank you for the issue.

That is the behavior since Rails 5.1 https://github.com/rails/rails/commit/e35b98e6f5c54330245645f2ed40d56c74538902#diff-4be3c90df95ede75a8d48016f370c0d9R1.

But I agree we should have a way to disable it. Can you open a PR?

Closing since this is not an issue, but a feature request.

[2019-04-11 20:09] #35930 closed

[2019-04-11 20:46] natematykiewicz commented on #35930
@rafaelfranca That's not the commit that did it. That one removes custom ActionContoller logic in favor of the `ActiveSupport::Rescuable` logic, while also adding `rescue_from` to ActionMailer.

The true culprit is https://github.com/rails/rails/commit/266455cf25aba942b8717ceb0269d66f719b5696#diff-81f758fb88f738604ba750f9dde1f6bb
(This PR: https://github.com/rails/rails/pull/18774)

This commit ch

[2019-04-11 21:11] rafaelfranca commented on #35925
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2019-04-11 21:11] #35925 closed

[2019-04-11 21:17] itsWill commented on #35800
Hi @eileencodes, I work with @rafaelfranca and am currently building on top of some of the work @gmcgibbon started.  At shopify we take an approach similar to what @sidot3291 mentioned above.

Where our configuration looks something like:

[code]

Then we have app level code the connections for the shards.

I've thought about ways we can improve this and came up with some ideas:

 <details>
   <su

[2019-04-11 21:18] darthjee opened #35948 "#deep_dup duplicates classes"
### Steps to reproduce
I ran the following code

[code]

this creates a new hash where none of the values are the original classes
[code]

### Expected behavior
I expected that at least the named class `String` would not be duplicated

### Actual behavior
Both were duplicate

I would understand that no named classes are duplicated but should we be duplicating named classes?

### System configurati

[2019-04-11 21:31] rafaelfranca commented on #35948
Classes are duplicable, so we can't return `nil` for it.

[code]

The behavior you are getting is what is expected in Ruby given a class can de duplicated.

[2019-04-11 21:31] #35948 closed

[2019-04-11 23:18] rafaelfranca commented on #35941
@itswill will take a look

[2019-04-11 23:33] rafaelfranca commented on #35902
hmmm, that is true since the multi-database support in https://github.com/rails/rails/pull/32274. @eileencodes do you think we can decouple those tasks from the `railtie` framework?

[2019-04-12 01:04] archonic commented on #31523
@trkoch I've got exactly that for my cors json and have confirmed it with `gsutil cors get gs://<bucket>` and I'm still getting `Access to XMLHttpRequest at ... has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.` after the pre-flight request succeeds. @ishanray Were you able to make it consistently work?

[2019-04-12 03:34] archonic commented on #31523
I solved this by updating the direct_uploads_controller.js file (and all it's friends) I copied out of this folder:
https://github.com/rails/rails/tree/master/activestorage/app/javascript/activestorage

And installed the missing spark-md5 npm package. All is well with direct uploads to GCS now with the above CORS config.

[2019-04-12 08:13] MrSerth commented on #34531
The issue still persists in the newest release of Rails (version `5.2.3`). I updated the test script and test app to match the newest version.

However, ActiveRecord still tries to access an invalid database. The error message I get from the test case is:

[code]

[2019-04-12 08:52] #32451 closed

[2019-04-12 09:03] bonekost commented on #35749
Hey @fxn I am facing the same issue but I don't use `bootsnap`. So can't upgrade.
I tried to use `master`, but no luck.

[2019-04-12 12:44] thedarkside commented on #33082
I honestly agree with @caifara! Ran into this bug. After upgrading Rails some sums were obviously wrong so i landed here. It feels wrong that a `distinct` call in a nested scope affects the sum value.
The called `distinct` should ensure to take one row only once into account which is different from the current behaviour where it filters duplicate values.

The suggested solution to use `.sum(&:x)`

[2019-04-12 13:09] #28806 closed

[2019-04-12 13:10] #29747 closed

[2019-04-12 13:11] itsWill commented on #35941
Some notes:

The tests seem to fail everytime the `test_nested_has_many_through_with_conditions_on_through_associations_preload_via_joins` runs before the `test_truncate` method.

This test flakiness seems to have been introduced in this commit by @kamipo https://github.com/rails/rails/commit/8113c8e1238939c8c68c2598b0a78a5b2171943d

After reverting that commit the tests pass.

Interestingly even

[2019-04-12 13:18] kamipo commented on #35941
Looks like the same issue with b2b559c75cf7c8f1dc6f22057b7780c72f45af51.

[2019-04-12 13:43] gorj-tessella opened #35953 "ActiveStorage chokes on BMP data, raises ActiveStorage::InvariableError"
Use TIFF data with ActiveStorage (any variation - LZW-Compressed or not, Alpha or not) and call .variant on the data. See similar issue for TIFF at #34698

### Steps to reproduce
Use BMP data with ActiveStorage and call .variant on the data

### Expected behavior
Variant should be returned

### Actual behavior
ActiveStorage::InvariableError is raised

### System configuration
**Rails version**: 5.

[2019-04-12 13:45] thib44 opened #35954 "Multiple has_one relation to same model create error"
Hello all, I encountered an error about has_one relation. I found a solution, but I'm not sure it's that it's relevant.

### Steps to reproduce
I've got trouble with a model wich have two has_one relation to a same model :
[code]

[code]
### Expected behavior
I want when I update a professional status, that the reference to professional_status continue to be the same :
- current_professional_statu

[2019-04-12 13:52] rafaelfranca commented on #33677
A quick search and replace in the codebase shows that all entries for those words were already changed. I'll close this issue.

[2019-04-12 13:52] #33677 closed

[2019-04-12 14:55] StephenEsser commented on #32947
Has there been any decisions made for this issue? We're running into this issue while upgrading to Rails 5.2 on our CI builds. Without the secret key base builds cannot pass. We're cautious about adding a junk key into the CI stage when it's otherwise unnecessary.

cc: @kaspth

[2019-04-12 15:12] StandardNerd commented on #31476
We are also experiencing this issue. Why is it not fixed already, since scende3's proposed a solution?

[2019-04-12 15:39] vspar commented on #34264
Had the same issue on a Windows 10 dev system.

c:/ruby25-x64/lib/ruby/gems/2.5.0/gems/activemodel-5.2.3/lib/active_model/validations/clusivity.rb:8: warning: already initialized constant ActiveModel::Validations::Clusivity::ERROR_MESSAGE

c:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/activemodel-5.2.3/lib/active_model/validations/clusivity.rb:8: warning: previous definition of ERROR_MESSAGE was here

No

[2019-04-12 15:44] bparanj commented on #35954
This is not a valid bug. You cannot have two:

[code]

with different foreign keys. You have to give different names as you have done in the actual behavior.

[2019-04-12 15:53] StephenEsser commented on #32413
( Cross posting from #32947 )

Has there been any decisions made for this issue? We're running into this issue while upgrading to Rails 5.2 on our CI builds. Without the secret key base builds cannot pass. We're cautious about adding a junk key into the CI stage when it's otherwise unnecessary.

Running the following command will fail ( locally and on CI ) unless we provide a SECRET_KEY_BASE:

[co

[2019-04-12 16:01] bparanj commented on #35943
Looking at the test in http_token_authentication_test.rb I see:

[code]

It seems like a documentation bug. Can you set the token as in the code above and see if you still have the problem?

[2019-04-12 16:35] vspar commented on #34264
I found reinstalling Ruby with a lowercase install path also solved the problem.

This is an old consideration with Windows systems of course but it's been a while since I used Windows for development (normally I work on Linux)!

But perhaps this is the same issue?

[2019-04-12 16:43] bobvanderlinden commented on #35943
Yes, that example works fine, but it isn't actually what I want to test for in an integration test. I actually want to test for the headers that a client would be sending to the app and not how CGI variables are being handled.

If this is a documentation bug, is using 'real' header names something that should be avoided?

[2019-04-12 16:59] bparanj commented on #35953
Here are the steps to reproduce this problem:

[code]

Sample bmp image used can be found here: https://www.w3.org/People/mimasa/test/imgformat/

[2019-04-12 18:04] bparanj commented on #35889
This is not a valid bug. If you want to check the presence of a foreign key, you can customize the error message to override the default error message.

[2019-04-12 18:12] bparanj commented on #35779
This bug is related to browser issue. This is not a valid Rails bug.

[2019-04-12 18:31] gmcgibbon commented on #35902
I believe `Rails.env` can be subbed out for `ActiveRecord::ConnectionHandling::DEFAULT_ENV.call` but I'm not sure about `Rails.application.config.load_database_yaml`, we might have to conditionally call that if Rails is defined and use something else otherwise.

[2019-04-12 19:14] localhostdotdev commented on #35889
I guess I was expecting some "convention over configuration", but might be that _id is the convention of foreign keys, so I might fall on the configuration side I guess

[2019-04-12 20:10] #35941 closed

[2019-04-12 22:18] y-yagi commented on #34264
Thanks for your information!

I think this seems to be a Ruby's issue. Can you reproduce this issue with Ruby 2.6?

[2019-04-12 22:36] gmcgibbon commented on #35954
@bparanj is correct. This sounds like more of a naming problem than a bug. For usage questions, please refer to the mailing list or StackOverflow where a wider community can assist you. The issue tracker is reserved for bugs only. Thanks!

[2019-04-12 22:36] #35954 closed

[2019-04-13 03:39] inopinatus commented on #35218
Um. So all my attachments will break when we rotate `secret_key_base` ?!?

[2019-04-13 12:49] localhostdotdev commented on #26291
got this today trying to have `rails runner` log to stdout, would be nice to have `RAILS_LOG_TO_STDOUT` work in development env too (maybe test env too?)

obviously adding this to the development.rb file solved it:

[code]

[2019-04-13 13:27] guilpejon commented on #32855
How did you ended up solving this, @EdwardIII?

[2019-04-13 14:25] JosiMcClellan commented on #32346
Is anyone working on this? I'd like to pick it up.

[2019-04-13 14:44] eileencodes commented on #35902
I've been out this week but can look at this early next week.

[2019-04-13 16:51] JosiMcClellan commented on #32346
My reading is: Rails should handle `Errno::ENAMETOOLONG` in some way, because any filename is better than saving nothing, but specific frameworks can preempt the problem if they want to maintain control over how it happens.

As to digests/randomness/etc, I can leave that decision until the last minute, but here's a thought:
- 200+ chars from the start of `method_name`
- 1 happy little underscore
-

[2019-04-13 22:18] connorshea commented on #32581
This just bit me in production, I would really appreciate documentation on this!

[2019-04-14 12:13] vtno commented on #35779
Yep, seems like a chromium issue. Closing this.

[2019-04-14 12:13] #35779 closed

[2019-04-14 17:13] #35704 closed

[2019-04-14 17:35] coorasse commented on #25198
I faced the same issue today on Rails 5.2.3. `inverse_of` doesn't help. I patched by temporarily placing `optional: true` and waiting for a fix.

[2019-04-14 18:54] sshaw opened #35973 "time_zone_options_for_select: Priority Regexp Fails Unless #=~ is Defined on Zone Class"
### Steps to reproduce

[code]
### Expected behavior

Zones returned by `TZInfo::Timezone.all` or any model passed as the 3rd argument to match `some_regexp`

### Actual behavior

Since `TZInfo::Timezone` and its subclasses do not define `#=~` [the priority zone regexp never matches](https://github.com/rails/rails/blob/7c87fd5635fd830905e17d3cbf1eb2a2215acedf/actionview/lib/action_view/helpers/for

[2019-04-14 20:40] #34729 closed

[2019-04-14 22:16] fxn commented on #35749
@bonekost can you tell me more? Which version of Rails and Ruby?

[2019-04-14 23:40] #34793 closed

[2019-04-14 23:40] #34856 closed

[2019-04-15 04:50] aleksandrs-ledovskis commented on #27887
Tracked https://github.com/rails/rails/issues/24281

[2019-04-15 05:11] #33429 closed

[2019-04-15 09:53] bonekost commented on #35749
ruby 2.5.1
rails 6.0.0.beta3

[2019-04-15 10:00] fxn commented on #35749
Are you able to test against `master`? Engines are now handled differently. RC should be soon out too.

[2019-04-15 11:28] vspar commented on #34264
Hi @y-yagi

Yes, I think you're right.

Trying but as yet unable to recreate this using Ruby 2.6.

[2019-04-15 12:45] claudiogn opened #35976 "Unable to analyze blob before saving record"
### Steps to reproduce
On Rails 6.0.0.beta3 create a new App and then create a model with an Active Storage Attachment. This model also has width and height attributes (both integer). Those attributes come from the image we upload for the record, so before saving it we need to analyze its blob:

[code]

### Expected behavior
I have an App on Rails 5.2 (Ruby 2.5.3) that does the same thing. So we a

[2019-04-15 15:12] localhostdotdev opened #35978 "zeitwerk doesn't autoreload the helpers"
### Steps to reproduce

- have a rails app with some helpers
- see a page using an helper
- change an helper's code
- reload the page
- edit: `OmniAuth.config.on_failure = ApplicationController.action(:failure)` https://github.com/localhostdotdev/bug-2

### Expected behavior

new code is executed and a change is seen

### Actual behavior

doesn't auto-reload the module and keeps the old code

###

[2019-04-15 17:16] pmen commented on #28821
+1 this behavior is dangerous, unexpected, and inadequately documented.

I'd expect if there's an existing child, that the conflict between it and a newly built child would be resolved at time of commit, and would either just clear the foreign key on the previous child or destroy the previous child at that point.

[2019-04-15 17:44] md5 commented on #34237
Support for adding additional `RETURNING` seems orthogonal to me. As @jrochkind mentioned, ActiveRecord knows which columns have computed default and whether it is providing values for those columns in any particular `INSERT`. ActiveRecord should automatically add these columns to the `RETURNING` clause and correctly update the model in memory.

[2019-04-15 17:45] fxn commented on #35978
I cannot reproduce this.

The instructions indicate this should happen in a trivial minimal application, but since I cannot reproduce, would you mind uploading a minimal sample app?

[2019-04-15 17:46] fxn commented on #35978
Ah, wait, I am testing it with `master`. Can you try a new app with the `--edge` flag?

[2019-04-15 17:51] fxn commented on #35978
Nah, I tried with a brand new beta3 just in case and it did not happen either.

[2019-04-15 18:26] jaredbeck commented on #33429
Thanks!

[2019-04-15 19:13] itsWill commented on #35973
I think we should definitely support models that don't implement `~=` or at least document that as a requirement.

Since `TZInfo` is available we can writing a failing test is fairly straightforward:

[code]

I like the approach of checking if `zones[n].respond_to?("=~")` to decide wether to convert to a string or not, although we can maybe assume that if the first `zone` in `zones` implements `~=

[2019-04-15 19:21] umarov commented on #31397
thanks @acro5piano
Having a new line in the `config/credentials.yml.enc` breaks `rails secrets:edit`. I accidentally pressed save on the file and it added a new line.

[2019-04-15 20:07] localhostdotdev commented on #35978
Minimal amount of code to reproduce is actually `OmniAuth.config.on_failure = ApplicationController.action(:failure)`

https://github.com/localhostdotdev/bug-2

and the magic helper to help reproduce it :)

[code]

sounds like a reference leak or something

[2019-04-15 20:20] joshmn commented on #15185
Really kills me. I'm not familiar enough with the underlying parts of ActiveRecord to even attempt at giving it a go, but if someone wants to give me a hint I can take a look.

[code]

But if I plug that in `ApplicationRecord.connection.execute(@items.to_sql).to_a.first` and key down, I can see that it is returned, just not mapped.

[2019-04-15 20:25] brchristian opened #35982 "collection_cache_key loads model when model not needed"
### Steps to reproduce
**controllers/author.rb**
[code]

**show.html.erb**
[code]
### Expected behavior
I expect this to trigger two database queries:
(1) the model for `@author` (needed to create the ActiveRecord query for `@articles`)
(2) the cache key of `@articles`

(Note that we don’t need a query for the cache key of `@author` because the model is already loaded in memory by the time we need

[2019-04-15 20:45] fxn commented on #35978
Ah, the original issue description did not mention OmniAuth, it was like "have an app with some helpers".

This configuration code

[code]

runs during initialization in your app. I don't know how can that work in classic, because it is directly affected by [this documented gotcha](https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-initializers). This is going

[2019-04-15 21:15] localhostdotdev commented on #35978
thanks for looking into it, I did think it was not specific to any gem I had.

about `:classic` I just meant the helper autoreloading worked, but yes I lot of things broke (didn't try that `failure` action with `:classic` though).

and yes, thanks for mentioning the proc, that's what I'm moving to.

one thing is that I'm raising this issue so other people don't have to spend hours/days finding why

[2019-04-15 21:37] fxn commented on #35978
The `master` branch warns about autoloaded constants in the initializers.

The autoloaders just work, but for that to be possible you need to
reevaluate the class or modules as it happens normally. Initializers only
run once, reloading does not reboot the app. That is documented, and in the
future you won’t be able to do it because booting will raise an exception
to prevent this. Raising is better

[2019-04-15 21:37] #35978 closed

[2019-04-15 21:41] localhostdotdev commented on #35978
thanks, raising would be ideal.

here is the bit of code that works for people coming from google:

[code]

[2019-04-15 22:05] akeating commented on #26658
As others have mentioned possibly the version of `readline` you have installed has changed from that originally used in the initial `ruby` installation. Simply reinstall `ruby`:

If you use `brew` and `rbenv`, read on.

Make sure `readline` is installed:
[code]
Reinstall `ruby` with your desired version, in this case `2.5.1`:
[code]

[2019-04-15 22:06] rafaelfranca commented on #35889
Yes. This is exactly that case. The convention is the foreign key, since it is not what you want you will need to configure the message.

[2019-04-15 22:06] #35889 closed

[2019-04-15 22:12] jbotelho2-bb commented on #28666
For reference, this PR seems to add the flag discussed in this thread: https://github.com/rails/rails/pull/33691

[2019-04-15 22:12] #35786 closed

[2019-04-15 22:29] itsWill opened #35983 "SerializedAttributeTest#test_serialized_attribute_works_under_concurrent_initial_access is flaky"
### Steps to reproduce
The test has been flaky on the master branch failing on a couple of builds:

* https://buildkite.com/rails/rails/builds/60448#1cf76300-2b69-4608-80b3-5e8daf8859bb
* https://buildkite.com/rails/rails/builds/60484#0c26d1b1-148f-436e-abb8-e5711f43124a

An easy way to reproduce the issue in isolation is to wrap the test in a loop:

[code]
And run the specific test.

I have dug i

[2019-04-15 22:36] y-yagi commented on #34264
Hi @vspar
Thanks for your confirmation!
If you can reproduce this issue with Ruby 2.6, please feel free to create a new issue. Thanks.

[2019-04-15 23:24] cpruitt opened #35986 "`ActiveJob` `exception_executions` may cause incorrect / unexpected retry behavior during upgrade"
I'm opening this in hopes of getting some feedback and opinions about a potential issue sites may encounter during upgrade. I have a "soft" opinion, but no preferred hard-and-fast solution. I'm also very open to someone pointing out that my understanding is wrong and that this is a non-issue entirely.

**TL/DR;**

* I'm hoping to get some feedback about whether this is really an issue and what is

[2019-04-15 23:29] #35983 closed

[2019-04-15 23:29] kamipo commented on #35983
Thanks for the issue, this flakyness is caused by 8180c3961063c5786305a94a7d204ab4bc72c381. I've fixed in f7e126beae6249ad75d94bc585f53234b8ae5016.

[2019-04-16 00:11] samdec commented on #32671
I'm running into this trying to upgrade our app from 5.1 to 5.2. @kamipo is there any chance you remember what the solution you had locally was that fixed this?

[2019-04-16 07:24] bonekost commented on #35749
@fxn I updated ruby to 2.6.1 and added rails to `master` but still getting this error:
[code]

[2019-04-16 07:46] mrhead commented on #35986
@cpruitt I don't think that I'll helpful here and I can't comment on how the migration (upgrade) should work. I was just reading the code, saw some inconsistency so I fixed it.

[2019-04-16 08:19] fxn commented on #35749
On my phone.

Two things that would help diagnosing this one would be.

1. In `config/application.rb` add

[code]

after the line loading the framework defaults, hit the error, and share the traces.

2. If possible, a minimal app or instructions to reproduce.

[2019-04-16 09:21] bonekost commented on #35749
this is error what i got from what you suggest ^
[code]

[2019-04-16 10:10] fxn commented on #35749
Zeitwerk does not even get a chance to log something?

[2019-04-16 10:14] zw963 opened #35990 "ActiveSupport::Dependencies.constantize("User") result in a endless loop in Arch Linux (wait IO?)"
Issue happen from devise source code:

https://github.com/plataformatec/devise/blob/master/lib/devise.rb#L320

It is very hard to reproduce this issue, following is some detail:

[code]

When press 'Ctrl+D' to continue execute,  Current process into a endless loop (kill process failed, need kill -9 to terminated process, CPU usage is very low, i guess this issue
maybe caused by "const_missing", i

[2019-04-16 10:32] deepj commented on #35900
Just a bit off-topic, but relative to this. Running Rails tests under alternative Ruby implementations such as JRuby and TrufffleRuby or MRI under Windows would a part of Rails CI. This step would help in health and diversity of Ruby community /cc @rafaelfranca @dhh

[2019-04-16 10:39] achempion opened #35991 "Missing documentation for `add_index`"
I've found out there is no mention of `algorithm: :concurrently` option in the [documentation](https://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/SchemaStatements.html#method-i-add_index) of `add_index` method.

Also, it'll be great to refer to the docs of `disable_ddl_transaction!` in addition to `:algorithm` option.

[2019-04-16 10:39] mikebaldry commented on #34790
If you use streaming/live stuff, you'll also need

[code]

[2019-04-16 10:52] AkshayGoyal022 commented on #24390
For those who don't want to monkey patch, I have implemented a hack to overcome this in one of my projects.

The idea is frontend needs to send a field (in my case "index") and backend will override the rails index with what was sent from the frontend.

Code looks something like this:

I made two concerns as the code was being used in multiple models.

[code]

This below concern is to reindex the

[2019-04-16 11:25] Ana06 commented on #35925
I am not sure if this a new feature request. I would say this is a bug report. I find the behavior broken.

[2019-04-16 11:45] bonekost commented on #35749
[code]

[2019-04-16 12:01] simi commented on #35925
@ana06 hello! Is there any official documentation mentioning this should work? Otherwise it is probably not supported behaviour. Anyway it looks like interesting use-case to support, but I'm not sure if this will not be in conflict with currently supported behaviours. Feel free to open discussion at mail list as Rafael recommended.

[2019-04-16 12:36] januszm opened #35993 ""Dangerous query method" warning is triggered by ActiveRecord::Sanitization methods"
### Steps to reproduce
[code]

### Expected behavior
No warnings. `sanitize_sql_for_order` and other `ActiveRecord::Sanitization` methods return `Arel::Nodes::SqlLiteral` that can be used as an argument to `order()` without the deprecation warning.

### Actual behavior
It works, but it generates the following warning:

[code]

This warning can be "silenced" by wrapping the "FIELDS" code with `Arel

[2019-04-16 12:48] Ana06 commented on #35925
@simi

Well, the [`where` documentation](https://apidock.com/rails/ActiveRecord/QueryMethods/where) does mention the following:

There is nothing else (at least that I have seen) reading not supported ruby types.

@simi

I think it doesn't conflict with current supported behaviours. My main concern are the databases which doesn't support pairs. I think for example SQLlite doesn't support it. But I

[2019-04-16 13:03] Ana06 commented on #35925
Email sent! Although it doesn't seen to appear in the group list... maybe it needs to be approved :thinking:

[2019-04-16 13:16] simi commented on #35925
@rafaelfranca I think (as @Ana06 described) it can be a little confusing while reading documentation. Maybe it can be fixed on documentation side for now.

[2019-04-16 13:28] cpruitt commented on #35986
@mrhead Not a problem! Thanks for the reply. 🙂

[2019-04-16 16:09] itsWill commented on #35991
Hey @achempion I agree we should probably document this one, I can take a stab at it, later on today.

[2019-04-16 16:18] st0012 commented on #35982
Can you create a gist/sample app that reproduces the issue? I'd be happy to help you solve this issue 😄

[2019-04-16 16:40] brchristian commented on #35982
Hi @st0012 thanks for your help!

I’m not sure how to upload a sample app, but here’s a minimal app that reproduces the problem.

[code]

**app/models/author.rb**
[code]

**app/models/article.rb**
[code]

**app/controllers/authors_controller.rb**
[code]

**app/views/authors/show.html.erb**
[code]

Terminal output for `http://localhost:3000/authors/1`:

[code]

Again, note that there are **three**

[2019-04-16 17:19] rosa commented on #35986
@cpruitt, first of all, thank you for writing such a detailed and careful description of the issue 👏 👏
I'll try to help by addressing each of the points you brought up:

Correct. We were aware of this when we upgraded but having jobs that could be potentially retried more times than expected wasn't a problem for us. The kind of retries we do and the limits we set for them (normally up to 5 or 10 t

[2019-04-16 17:35] brchristian commented on #35982
I’ve done a bit of research and I think I have narrowed down what is happening.

The full `SELECT "articles".* FROM "articles"` query appears to be triggered by `key.to_a` in [this line](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/cache.rb#L676).

This in turn seems to have something to do with the fact that the `key` object does _not_ respond to `cache_version`.

I

[2019-04-16 18:23] sshaw commented on #35973
Thanks. I can put something together in a day or two.

[2019-04-16 20:20] techieroshan commented on #30527
Same issue with Rails 5.0.5, Ruby 2.4

[2019-04-16 21:14] rafaelfranca commented on #35900
It used to be, but after years of alternative Ruby implementations always failing builds for no reason other than bugs in the implementation we removed them from out build matrix. The few that remained in our build matrix were made green by the efforts of the community. All the core contributors of Rails use MRI, so we have no interest of making Rails working with alternative implementations but w

[2019-04-16 21:20] rafaelfranca commented on #35986
I'm happy to accept a PR for this. I think we should make this configurable at least while the rollout of the new version is being made.

[2019-04-16 21:41] voordev commented on #22965
I tried this suggestions and still the error persist.
I restarted all my services.

Is there any way to debug this? I have spend 3 hours trying to get a solution and not getting a single inch closer to a solution.

[2019-04-16 21:44] itsWill commented on #32914
I had a look at this issue and I think I got a grasp of whats going on here:

Before doing a `db:drop` we are going to do a check that the code we are executing is not in a protected environment, the check is here: https://github.com/rails/rails/blob/fe0145c58008d286e53486d94ceeff74dc2407ef/activerecord/lib/active_record/tasks/database_tasks.rb#L57

In this connect when we call: `current = ActiveR

[2019-04-16 21:51] rafaelfranca commented on #35993
I'm not sure about this. @matthewd would know more about what is the expectation of that method. But for what I'm seeing, the behavior you are seeing is the behavior that was implemented. Mostly because `order` always call `sanitize_sql_for_order` so your example 3 is the same as:

[code]

and that requires the string to be wrapped on `Arel.sql`. I believe the name `sanitize_sql_for_order` is just

[2019-04-16 22:17] fxn commented on #35749
Does your application define `ApplicationController`? Don’t see an autoload for it in the traces.

[2019-04-16 22:25] y-yagi commented on #35495
Fixed with 758ba117a008b6ea2d3b92c53b6a7a8d7ccbca69

[2019-04-16 22:25] #35495 closed

[2019-04-16 23:15] kaspth commented on #35982
This is technically fixed on master with https://github.com/rails/rails/commit/1da9a7e410f15859939eb4158421846638a41e71 …if the new config is turned on.

It's definitely a bug and that line you've found is the right place to fix it. Though I'm not sure if we should just add a `is_a?(Relation)` in there. Please do investigate and PR!

[2019-04-17 00:42] brchristian commented on #35982
Hi @kaspth thanks for the helpful context!

I haven’t looked very deeply into https://github.com/rails/rails/commit/1da9a7e410f15859939eb4158421846638a41e71 or the big refactor in https://github.com/rails/rails/commit/10919bfef2303c3409b15ed1d9405f3b4c518507 yet, but trying out my demo site with the latest Rails `master`, it looks like this triple-query issue is fixed _both_ when `ActiveRecord::Ba

[2019-04-17 01:02] st0012 commented on #35982
Will the fix be back ported to 5.2.x?

[2019-04-17 02:08] #15018 closed

[2019-04-17 02:08] #30167 closed

[2019-04-17 02:08] #33443 closed

[2019-04-17 02:08] #33868 closed

[2019-04-17 02:09] danielricecodes commented on #32251
It would be great if the examples could be in plain vanilla JS too.  A lot of developers haven't taken the ES6 plunge yet, so the examples above don't really help all that much.  In fact, they're really confusing.

[2019-04-17 02:18] y-yagi commented on #35155
Fixed by #35581.

[2019-04-17 02:18] #35155 closed

[2019-04-17 04:24] JosiMcClellan commented on #32346
I didn't realize my `--amend`ments would show up here, my bad.
Please anyone let me know if you don't like the truncation, suffixing, or anything else in my PR.

[2019-04-17 11:05] tbuehlmann commented on #34237
This won't work in situations where database triggers will update the row, think of database-backed timestamps or database-backed counter cache columns. As you only ever get the id returned, you have to manually reload the record as of now.

[2019-04-17 11:43] januszm commented on #35993
Thanks, I missed that part in `def order`:

[code]

`MyModel.sanitize_sql_for_order` from my example can be removed.

Regarding the topic of this issue, which should now be changed to something like `"Dangerous query method" warning is triggered when passing Array Conditions to order`,
it seems that passing an Array Condition with "?", as an argument to `order` should not trigger the deprecation w

[2019-04-17 13:08] md5 commented on #34237
@tbuehlmann that seems like a separate concern, given that Rails does not natively support managing triggers are part of a schema. It does, however, support computed defaults, so it's reasonable to expect AR models to reflect those values with no additional effort.

[2019-04-17 13:45] yoones opened #36007 "ActiveStorage: failing image analyzer test"
### Steps to reproduce
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**:
Rails 6.0.0.beta3

**Ruby version** installed using rbenv:
ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-linux]

**/usr/bin/identify --version**:
[code]

**Debian version**:
9.8 up to date

**/etc/apt/source.list**:
[code]

### Additional information
[code]

###

[2019-04-17 14:43] yawboakye commented on #34237
@md5 Sure, ActiveRecord doesn't native support managing triggers, but the effect of a trigger could be a new value in the column _before_ the insert or update is complete. If ActiveRecord is concerned with the true state of the world it's only fair that it opens an avenue to be informed of what columns are getting their values out of band. In my opinion, `RETURNING` is the best option. I used it a

[2019-04-17 14:53] md5 commented on #34237
@yawboakye I think I made it pretty clear I support the idea of explicitly adding values to `RETURNING`. I just think that dealing with the values Rails already manages the defaults for is lower-hanging fruit.

[2019-04-17 15:03] jrochkind commented on #34237
Right, right now it handles _no_ db-set values. Having it handle db-set values for those with database defaults configured in a migration would handle a whole lot of use cases very well, and be a big step forward. As per the title of this GH issue. No need to solve everything to solve something. I agree with @md5 , and think more expanded feature discussion could be on a different ticket.

(Of cou

[2019-04-17 15:04] bonekost commented on #35749
@fxn adding `ApplicationController` helped. Thanks

[2019-04-17 16:16] jrnk commented on #35817
If this is expected behaviour, what should be the recommended way to keep old attachments around when adding new attachments with `multiple: true` ? Add the current attachments in hidden_fields in the form?

[2019-04-17 17:14] kaspth commented on #35982
@brchristian ahh right, it's fixed all the time because Relation now responds to `cache_version`, regardless of the config, so it never hits `to_a`.

@st0012 that's a feature and not a fix so no it won't be backported. The straight fix could be to add this to `relation.rb`:

[code]

We'd need a test that asserted the right number of queries too.

[2019-04-17 17:14] #35982 closed

[2019-04-17 18:14] kaspth commented on #35817
@prathamesh-sonpatki do you want to send a PR for this?

[2019-04-17 18:42] weedySeaDragon commented on #34960
I've updated the PR and am still waiting for a review.

[2019-04-17 18:53] kaspth commented on #35845
Ehhh, I just wanted to get ideas from either @javan or @georgeclaghorn — didn't need the assignment sorry 😄

[2019-04-17 18:58] abhaynikam commented on #35845
I took a stab at this today and was able to add an alert message if `webpacker` gem was not added in gemfile. I was not able to add webpacker gem via task so added a message for now.

Can I open a PR for this? I am just working on the writing a good message.

[2019-04-17 19:04] kaspth commented on #35845
A message is secondary. Figuring out if Action Text should depend on Webpacker is the first order of business.

You're welcome to try a PR that adds `s.add_dependency "webpacker", ">= 4.0"` just to see it. Not sure if 4.0 is the minimum requirement — we definitely don't want an upper version bound though.

[2019-04-17 19:57] sebastianhegge commented on #32943
another small cleanup script:
[code]

[2019-04-17 19:57] connorshea commented on #35137
Apologies for bumping this again, but seeing as the release candidates seem to be coming soon I figured I should. 🙇

[2019-04-17 22:05] pduey commented on #28491
I just got bit too. Can it be reopened so it might get picked up for a fix?

[2019-04-18 03:31] #33200 closed

[2019-04-18 04:21] prathamesh-sonpatki commented on #35817
Sure I will take a look and send

[2019-04-18 10:04] imechemi opened #36013 "Migration exception message is misleading and not accurate for foreign key errors"
### Steps to reproduce
1. Create a new rails app using MySQL as database

        rails new sample_app -d mysql

2. Generate **User**  and **Account** model with migration as follows:
[code]

[code]

As you can see, the reference column for category is commented in the migration. And we don't have categories table yet.

3. Run db:migrate with the commented code, it works fine.

        rails db:dr

[2019-04-18 10:30] imechemi commented on #36013
I ran the sql in **rails dbconsole**, and now I seem to understand why error can't be accurate.

[code]

It seems like the database itself does not have verbose information on the error. It just mentions `Cannot add foreign key constraint`. But, does rails by default blaming it on the first foreign key? i.e `user_id` in my case.

[2019-04-18 10:37] kamipo commented on #36013
Yes, for now Active Record assumes the cause of the foreign key constraint violation from the `CREATE TABLE` statement by the regex, so if the `CREATE TABLE` have multiple foreign key definitions it is hard to distinguish which definition (or both) is the cause.

[2019-04-18 11:01] imechemi commented on #36013
I think now the question would be "Why to give misinformation in this case?". I am sure many thoughts have gone into designing ActiveRecord to interface with various database systems and this isn't a critical issue or a bug, but would definitely save time to let the developer figure out the detail than to create confusion.

[2019-04-18 11:28] kamipo commented on #36013
It is just a bug, is not by design.

[2019-04-18 13:17] dreyks commented on #35929
#36015

[2019-04-18 13:36] javan commented on #35845
Webpacker isn't a hard dependency, really. Action Text doesn't use any of its Ruby APIs, and Action Text's JavaScript is compatible with other asset bundlers.

I think a better solution is to warn when `app/javascript/packs/application.js` is missing and suggest either installing Webpacker or adding the two `require()` lines to your JavaScript bundle (that may be bundled by a tool other than Webpa

[2019-04-18 13:39] kaspth commented on #35845
@javan cool, then that's the way we're going! @abhaynikam you're free to have at it with that message 👍

[2019-04-18 13:39] abhaynikam commented on #35845
Cool. I am on it. Raising PR shortly

[2019-04-18 14:08] ChinaHDJ commented on #27625
This problem does exist still when using Puma.

[2019-04-18 14:20] arye-dov-eidelman commented on #35845
Can someone clarify what that wou look like with sprockets.

[code]

Or

[code]

[2019-04-18 14:26] javan commented on #35845
I'm pretty sure it won't work with Sprockets since it doesn't know how to bundle JavaScript modules.

[2019-04-18 14:30] arye-dov-eidelman commented on #35845
If you'd get this warning and choose to go the webpack route, wouldn't you also need to add the require lines?

[2019-04-18 14:37] bendilley commented on #20077
@norman just want to thank you 4 years later: your Arel `exists` scenario was exactly what I was battling with today and your workaround is a good compromise that manages not to ruin the code's readability 🙇

[2019-04-18 15:00] arni1981 opened #36020 "ArgumentError: Invalid route name, already in use: 'root'"
### Steps to reproduce
Upgraded my Gemfile to 6.0.0.beta3 and `bundle update` ran smoothly
Running `rails app:update` however stumbles with this error

[code]
### Expected behavior:
This should not cause an error I believe since this is a valid configuration and I haven't gotten this error before on previous versions.

### System configuration
**Rails version**:
6.0.0.beta3

[2019-04-18 15:10] soirju opened #36021 "Active Storage does not handle HEAD requests properly with AWS S3 backend"
### Steps to reproduce
A javascript HEAD XHR request to a resource on the web server is redirected to a HEAD request on the S3 server. The resulting redirect URL is calculated using the url method in rails/activestorage/lib/active_storage/service/s3_service.rb based on the :get method only, including the pre-signed key. This key allows only GET requests in S3, no HEAD request.

### Expected behavi

[2019-04-18 15:50] Szeliga opened #36022 "Combining .count with .group and ordering by :count generates invalid SQL in 5.2.3"
There seems to be some sort of regression in ActiveRecord. This snippet generates different SQLs for different versions
[code]

In 5.2.2.1
[code]

In 5.2.3 - generates invalid SQL
[code]

### Steps to reproduce
Group by a foreign key, count and sort by :count in 5.2.2.1 and 5.2.3
Equivalent snippet
[code]

### Expected behavior
It should generate a valid SQL

### Actual behavior
The SQL generated

[2019-04-18 16:13] rafaelfranca commented on #36020
This is a valid error. Before the `root_url` would be overridden by the last declaration, now Rails is telling you that you have this problem on your routes file and that you should chose a different name for one of them.

[2019-04-18 16:13] #36020 closed

[2019-04-18 16:33] yawboakye commented on #34237
@md5 Apologies for misunderstanding your point.

[2019-04-18 16:52] #35846 closed

[2019-04-18 17:33] xxx commented on #36022
Also seeing this. In our case we were doing a `.select(:name)` from the model, and now have to order by `count_name`, so I can work around it, but until I know that this is actually intended behavior, I'm going to sit tight.

[2019-04-18 19:21] #35902 closed

[2019-04-18 19:26] #35835 closed

[2019-04-18 20:06] kaspth commented on #35845
@arye-dov-eidelman yes, see #36019 where both those cases are explained. If you find any of the suggestions not clear enough on there, do say so! 😊

[2019-04-18 20:30] arye-dov-eidelman commented on #35845
Thanks, it looks good better now.👍

[2019-04-19 00:17] jduff opened #36027 "create_or_find_by doesn't attempt to find the record when you also have validates_uniqueness_of :field"
### Steps to reproduce
[code]

### Expected behavior
`create_or_find_by` should find the existing record when there is a uniqueness validation on the field.

### Actual behavior
An `ActiveRecord::RecordInvalid` exception is raised because the record is validated before it is created, which checks the database and finds an existing record. `create_or_find_by` doesn't get the `ActiveRecord::RecordNo

[2019-04-19 03:12] sshaw commented on #35973
Branch is here: https://github.com/sshaw/rails/tree/fix_time_zone_options_priority

Problem: I forgot that `#=~` is defined on Object. So `respond_to?("=~")` wont work. Ideas?

[2019-04-19 05:46] samphippen opened #36030 "--skip-activerecord not respected on rails master due to actionmailbox and actiontext dependencies"
### Steps to reproduce
`rails new --skip-active-record` on master

### Expected behavior
No activerecord dependency to be loaded, because `config/database.yml` isn't created, if an eventual dependency exists, an `Could not load database configuration. No such file - [\"config/database.yml\"]` is created.

### System configuration
**Rails version**:
Master
**Ruby version**:
2.6

[2019-04-19 06:47] y-yagi commented on #36030
A newly generated application does not load `action_mailbox/engine` and `action_text/engine` when specied `--skip-activerecord` option.
https://github.com/rails/rails/blob/16dae7684edc480ee3fe65dfff8e19989402c987/railties/lib/rails/generators/rails/app/templates/config/application.rb.tt#L14-L15
https://github.com/rails/rails/blob/16dae7684edc480ee3fe65dfff8e19989402c987/railties/lib/rails/generato

[2019-04-19 07:15] azbshiri opened #36032 "Add fragment view rendering using Websocket (e.g. LiveView)"
We already have one of the most productive web frameworks why shouldn't we implement a killer feature like LiveView (Phoenix) easily on Rails?

 I'm happy to implement it but I have a couple of issues with `.html.erb` diffing, what do you think?

[2019-04-19 07:56] zw963 commented on #35990
After some research, the above issue is caused by following code:

[code]

The User class is defined in `../airhost_ror/components/core/app/models/user.rb`,
And `ActiveSupport::Dependencies.constantize("User")` could not found the correct
User class, and caused this.

I am test in several linux distribution, Only Ubuntu 18.04 and Deepin working, others(newer)
distribution all happen endless loop i

[2019-04-19 08:11] yahonda commented on #35389
Closing it because it does not reproduce anymore.

According to the `git bisect` says https://github.com/rails/rails/pull/35308 07804d4759726da04020834502d37a8f4ac97a8f addresses this error.

[2019-04-19 08:11] #35389 closed

[2019-04-19 09:27] ignisf commented on #35822
@rafaelfranca, sorry for bumping a closed issue, but I'd like to point @Medvezo to the already existing PR for this feature: https://github.com/rails/rails/pull/28297

[2019-04-19 10:41] artur79 opened #36035 "When saving ActiveStorage record parent model previous_changes are empty in 6.0.0.rc1"
### Steps to reproduce

[code]
Avatar uploaded file is just the fixture loaded like:
[code]

### Expected behavior
It should return previous changes for email in both cases.

### Actual behavior
Here is the spec output, in the first case when we change avatar together with email, email change is lost:

[code]

### System configuration
**Rails version**:
6.0.0beta3, master 2733a68f8b8a
**Ruby versi

[2019-04-19 11:53] kirikak2 opened #36036 "Binary type cast failed in has_many_association"
### Steps to reproduce

[code]

### Expected behavior
 By implementing this workaround, when I define `has_many :comments`, type caster detect binary type and returns expected result.

[code]

[code]

### Actual behavior

Binary foreign key `comments.uuid` is not wrapped binary literal. I think Type caster cannot detect binary type. It sometimes return empty result.

[code]

### System configurati

[2019-04-19 12:28] #35845 closed

[2019-04-19 14:05] st0012 commented on #35602
@dennym FYI, I already opened a PR for that. I hope them would accept it and backport it to 5.2 😄

[2019-04-19 14:20] arni1981 commented on #36020
Ok I see your point, these are however pointing to two different actions depending on logged in or not. A basic way of doing what Device gem does with

  authenticated :user do
    root 'secret#index', as: :authenticated_root
  end

  root "home#index"

Anyway, I'm not going to pursue this trivial case further, I know there are more pressing issues, Rails 6 is shaping up to be a great release :)

[2019-04-19 14:28] #35991 closed

[2019-04-19 14:31] #32346 closed

[2019-04-19 14:33] eileencodes commented on #35800
@itsWill can you build a test app that represents a similar approach to how Shopify is set up currently so I can play around with it? It's hard for me to look at the code and know what the right API feels like since we don't use sharding at GitHub so a test app would help a ton.

[2019-04-19 18:29] YassineDM commented on #26569
I had exactly the same behavior with Rails 6.0.0.beta3...

[2019-04-19 22:09] GBH opened #36042 "Plucking associated data from an enum column returns nil"
Very confusing bug where values produced by a pluck return nils if attribute happens to be an enum. Here's conditions for it to happen:

- Parent model `Foo` needs to have enum column like `enum` with allowed values: `a, b, c`
- Related model `Bar` needs to have enum column **also** called `enum` but with **different** allowed values like `x, y, z`

When you try to pluck stuff, like `Foo.includes(

[2019-04-19 22:45] samphippen commented on #36030
this was due to RSpec weirdness.

[2019-04-19 22:45] #36030 closed

[2019-04-19 22:50] daveallie commented on #36022
Could you please provide some more information about which database adapter you're using and the column types of `Person`.

I just created a test repo on 5.2.3 pointing to a SQLite3 DB, and the query generated matches your 5.2.2.1 query.

[2019-04-19 22:52] #34915 closed

[2019-04-19 23:57] daveallie commented on #36027
To me, this reads as expected behaviour. If there was an email regex validator and it failed the record, then I'd expect it to throw and not create or find a record, so why wouldn't other validators also throw?

That said, the specific case is a little more complicated given that there is a uniqueness validator with a unique constraint. At the time the create is run, there is no guarantee that the

[2019-04-20 00:52] st0012 commented on #36042
Your assumption is correct, let's look at this problem from different levels

1) the result from database is correct, this is the def of `pluck` method
[code]

And the result is correct

[code]

2) Let's check what `cast_values` does

[code]

The problem here is that `result.columns` returns an array with only attribute names, like `["status", "status", "not_enum"]`. This makes Rails to cast `Comm

[2019-04-20 01:28] azbshiri commented on #36032
Sorry to mention you @dhh but I'm so curios to know your feedback on this if possible

Thanks

[2019-04-20 03:39] #35782 closed

[2019-04-20 04:46] camertron commented on #26303
It may not cover all use cases, but I recently released a gem called [rails-middleware-extensions](https://github.com/camertron/rails-middleware-extensions) that could help with this issue. Specifically it adds `middleware.insert_unless_exists` and `middleware.move`.

[2019-04-20 06:42] Szeliga commented on #36022
The adapter is postgres, and the column is an int

[2019-04-20 08:37] simi commented on #36032
from https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#what-about-feature-requests-questionmark

Anyway I don't see any reason why to not built this as a gem first.

[2019-04-20 09:01] sikachu commented on #36020
You can work around this problem by override the path name of one of the route definition using `as: false`.

[code]

This will prevent the "name collision" error to happen, and everything should work as normally as a call to `root_path` should still return `"/"` regardless if `session[:user_id]` is nil or not.

[2019-04-20 10:02] arni1981 commented on #36020
@sikachu That's brilliant, thank you :)

[2019-04-20 13:22] prathamesh-sonpatki commented on #35817
Update: I was able to replicate this issue locally on Rails 5.2 and 6.0.0.beta3 apps

[2019-04-20 17:11] yoones commented on #36013
Digging on this issue, I find that it is specific to MariaDB. MySQL actually says `Mysql2::Error: Failed to open the referenced table 'some_table_name'`

[2019-04-20 17:26] imechemi commented on #36013
@yoones If this helps, I have shared what I used for reporting this issue:
[code]

[2019-04-20 20:50] meltheadorable commented on #23422
I don't actually care if the sniffing happens, I'd be perfectly happy with the generators respecting the primary key setting in the application config so that -- the same way they know to ad `id: :uuid` to new table definitions they add `type: :uuid` to new `references/belongs_to` columns.

I encountered this issue today while setting up a new database and having to manually edit all of the migrat

[2019-04-20 21:52] albertoalmagro commented on #35986
@cpruitt Thanks for the detailed description of the problem and for letting me know about this. I think that although this might not be an issue in most cases, it's interesting to make it configurable for the cases were it could be problematic 👍

[2019-04-20 22:03] albertoalmagro commented on #36042
Link to [Ruby on Rails: core mail list discussion](https://groups.google.com/forum/#!topic/rubyonrails-core/Issh4-vyHrk) about this topic.

[2019-04-20 22:43] itsWill commented on #35973
Oh great point!  IMO then we shouldn't solve this at the framework level, but rather whoever is passing in the `priority_zones` regex should make sure that they can match the results returned from `model.all`.  I think this is something we can document better.

It's possibly better to submit a patch to `TZInfo` so that a `=~` does a match against the zone name.

[2019-04-20 22:54] itsWill commented on #35800
For sure, I'll dig in and chat around a bit and see if I can get you the most representative example 👌

[2019-04-21 01:59] composerinteralia commented on #36007
`743x548` doesn't look right. I have a different version of ImageMagick, which is reporting `792x584`:

[code]

[code]

[2019-04-21 08:53] yoones commented on #36007
I've asked for some help on ImageMagick forum. Let's see if we find any explanation there. If it's related to ImageMagick version, maybe we'll need to adapt ActiveStorage tests accordingly.

https://imagemagick.org/discourse-server/viewtopic.php?f=3&t=35886

[2019-04-21 13:24] zw963 commented on #35990
I don't know why this happen, but i found out the reason cause this:

[code]

Fix is simple enough,  change hosts to use Ubuntu default

[code]

I don't know why ``ActiveSupport::Dependencies.constantize("User")`` is affect
by `localhost`, but, if this is not a issue, please close.

Thank

[2019-04-21 15:44] namiwang opened #36050 "rails new with --skip-javascript still generates JS related code"
### Steps to reproduce

1. rails new --skip-javascript test

### Expected behavior

- no webpacker related code generated

### Actual behavior

- webpacker still occurs in `Gemfile`
- still got `javascript/packs/application.js`
- javascript_pack_tag still takes place in `layout/application.erb.html`

### System configuration
**Rails version**:

6.0.0.beta3

**Ruby version**:
2.6.2

[2019-04-21 15:45] sshaw commented on #35973
This is the problem. One cannot since `TZInfo::Timezone` does not (re)define `#=~` . I guess the fix is to mention in the docs that the instances must define `#=~` to use regexp matching.

Agreed. But it's possible that they don't want it to be used in regexp, hence no definition. We'll see.

Otherwise the workaround would be:

[code]

[2019-04-21 17:03] prathamesh-sonpatki commented on #36050
The command should be used as `rails new APP_PATH [options]` If the options are given before the APP_PATH, it does not work as expected.

[2019-04-21 17:03] #36050 closed

[2019-04-21 20:05] #35953 closed

[2019-04-21 21:44] abuisman commented on #32700
I have this issue with:

[code]

[2019-04-22 06:52] st0012 commented on #36042
Update:

I asked for @matthewd's opinion few days ago, and he suggested that one possible direction is to only cast the original model's attributes (in this case, `Post`). And returning raw values for joined table attributes.

So it'd be something like

[code]

I think this is the most suitable approach, and I'm experimenting it right now.

[2019-04-22 07:04] chrisandreae commented on #33501
The attached executable test case can still be reproduced on Rails master at 02b5b8c.

[2019-04-22 07:30] st0012 commented on #36022
@Szeliga It'd be really helpful if you can give us a sample code that can reproduce the issue with [this issue template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)

[2019-04-22 10:27] st0012 commented on #36022
Actually I just created a template

[code]

And this issue does happen on pg but not sqlite

[code]

[2019-04-22 10:47] st0012 commented on #36022
I created a template:

[code]

And the query seemed to be correct:

[code]

The query would still fail because of

[code]

But I think that's a different issue

[2019-04-22 13:48] posiczko opened #36054 "Namespaced concerns seem to be broken in Rails 6"
Hello,

Long time listener, first time caller.  I believe I found a small issue within Rails 6.

### Steps to reproduce

Including namespaced concern in `application_controller.rb` results in `uninitialized constant ApplicationController::Concerns`:

[code]

with baz.rb being defined as:

[code]

See [sample Rails 6 app](https://github.com/posiczko/bug-concerns-6) with a [commit introducing namesp

[2019-04-22 15:10] kaspth commented on #36054
I'm surprised `Concerns` works on older Rails versions! — and the fact that it did seems incidental. Since `app/controllers/concerns` is in Rails' `autoload_paths` that folder is a root to load constants from. For example, `app/models` is in `autoload_paths` too which is why we write plain `Post` instead of `Models::Post`. This is specifically about namespacing with the name `Concerns`, I doubt yo

[2019-04-22 15:10] #36054 closed

[2019-04-22 15:41] itsWill commented on #36027
note: the `create_or_find_by!` method is actually implemented by rescuing `ActiveRecord::RecordNotUnique`:

https://github.com/rails/rails/blob/89b86640901be4f423cef4059d970c0aa0adb648/activerecord/lib/active_record/relation.rb#L209-L213

 so an easy work around for this problem is to remove the uniqueness validation.

I'm of the same mind as @daveallie that this seems like expected behaviour and

[2019-04-22 15:45] dhh commented on #35475
@fxn How about we just set `config.autoloader = :zeitwerk` (or whatever it is) for newly generated applications? Then people with existing applications can switch at their leisure and compatibility?

[2019-04-22 16:04] dhh commented on #35475
Sounds like @rafaelfranca would like to just fix this in bootsnap by disabling the iseq cache for 2.5 👍

[2019-04-22 16:07] rafaelfranca commented on #35475
PR is up https://github.com/Shopify/bootsnap/pull/257

[2019-04-22 16:48] fxn commented on #36054
@kaspth exactly.

In `:classic` mode, `Concerns` works as a side-effect of the implementation of dependencies.rb, but it was not an intended usage. I checked a while back about their introduction, and nesting them as autoload paths within other autoload paths was an overlook indeed.

In `:zeitwerk` mode, this anomaly has [explicit support](https://github.com/fxn/zeitwerk/blob/6fbfd8e559a0cc37516eb

[2019-04-22 17:01] georgeclaghorn commented on #35817
What’s the issue besides the missing documentation?

[2019-04-22 17:18] henrik opened #36055 "`update_counters` doesn't respect scopes"
### Steps to reproduce

I run code like `Item.with_finite_inventory.update_counters(item_id, inventory_count: -quantity)`.

That scope is defined as `scope :with_finite_inventory, -> { where("inventory_count IS NOT NULL") }`.

### Expected behavior

I expected it to do nothing for an `item_id` that does not match the scope – in this case, one that has infinite inventory (`inventory_count` is NULL)

[2019-04-22 18:52] kaspth commented on #35817
@georgeclaghorn I don't know, I've just been going by your first comment in this thread: https://github.com/rails/rails/issues/35817#issuecomment-478690333

But yes, that just mentions documentation. I wasn't sure which behavior change you were referring to.

[2019-04-22 18:54] georgeclaghorn commented on #35817
The behavior change is that `@user.update!(images: [ ... ])` used to add to images and now it replaces. That’s what needs mentioning in the release notes.

[2019-04-22 19:05] kaspth commented on #36054
Nice! With specific mention of `Concerns` as the very first item 😄

[2019-04-22 20:14] #35817 closed

[2019-04-22 20:17] posiczko commented on #36054
Many thanks for taking time to look at it and pointing me to the right changelog.  😄

[2019-04-22 20:32] yoones commented on #36055
This is not a bug since `#update_counters` calls `#unscope` first.
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/counter_cache.rb#L105

[code]

That being said, I agree that maybe  `#update_counters` shouldn't take an `id` argument and let us do something like this:

[code]

[2019-04-22 20:34] Ferdy89 opened #36056 "db:drop loads the full environment but db:create does not"
### Steps to reproduce
* Write `raise 'foo'` on top of the `config/environments/development.rb` file
* Running `db:drop` hits the raised exception; `db:create` doesn't

### Expected behavior
Considering both commands are complementary to each other, I would expect them to load the same kind of environment files.

### Actual behavior
The `db:drop` task runs `db:check_protected_environments`, which

[2019-04-22 21:06] #36032 closed

[2019-04-22 21:07] rafaelfranca commented on #36032
Closed since we don't take feature requests in the issue tracker.

[2019-04-22 21:09] guilleiguaran commented on #35900
@enebo thank you very mucho for opening this!

Maybe you can help us with a patch making this to run with fork on MRI and fallback to spawn in platforms not supporting fork?

we are happy to review a PR doing that!

[2019-04-22 21:29] #35990 closed

[2019-04-22 22:03] #34346 closed

[2019-04-22 22:22] dhh commented on #35986
(tracked via the open PR)

[2019-04-22 22:22] #35986 closed

[2019-04-22 23:02] aselder commented on #34346
This is a still an issue at least on `5-2-stable`

[2019-04-23 08:30] yoones commented on #36007
This was an error related to my version of ImageMagick. Upgrading to a more recent one fixed the problem.

[2019-04-23 08:30] #36007 closed

[2019-04-23 09:10] dennym commented on #35602
Mhm interesting... thanks for the input and work :) So the cache_store in the controller is just responsible for view caching? I was under the impression that it does couple of magical caching in the background.

If its its just for view caching I personally actually don't need it. But when setting a new rails project up with `rails new foo --api` it shouldn't set `config.action_controller.perform

[2019-04-23 10:08] ndvbd opened #36062 "Rails assets javascript stacktrace / debugging"
When there is an exception in javascript (which was precompiled, on production environment), and we set a global exception handler (onerror), we get the filename of the problematic script (which is the bundled .js asset) and the line number and column.

The problem is, that it's very hard to get from the line/col, since the file is minified (or uglified, in production) back to which source file an

[2019-04-23 14:43] rafaelfranca commented on #35602
That is a good point. We need to double check if that config affects other things but I believe we can remove from the api apps.

[2019-04-23 15:15] rafaelfranca commented on #36062
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2019-04-23 15:15] #36062 closed

[2019-04-23 15:23] ConfusedVorlon opened #36065 "ImageAnalyzer incorrectly assumes that it can handle all images"
### Steps to reproduce

1) Attach a .heic image to a model using active storage

### Expected behavior

no crashes

### Actual behavior

the analyze job crashes

[code]

### System configuration
**Rails version**:
5.2.2

**Ruby version**:
ruby-2.4.0

This happens because the ImageAnalyzer assumes that ImageMagic can handle all image types. Unfortunately it can't.

The blob correctly identifies a .

[2019-04-23 17:05] itsWill commented on #35800
👋 @eileencodes I have a test app here! https://github.com/itsWill/sharded_app the README should have the setup instructions.

A bit of context:

At Shopify the `yml` we have looks like the `database.yml` in the app. We have a bunch of shards that are sharded by `shop_id` and then an unsharded `master` table.

We implemented our own connection switching API using abstract classes doing something li

[2019-04-23 18:17] sblackstone opened #36068 "Rails new fails with bootsnap error on webpacker install"
### Summary
Running ```rails new blarg``` causes an error when webpacker tries to install.

I was able to work around this by removing ```require: false``` from the Gemfile entry for ```bootsnap``` and then manually doing ```rails webpacker:install``` and ```rails webpacker:install:react```

### Steps to reproduce

rails new blarg

.railsrc:
[code]

### Expected behavior
It should install successf

[2019-04-23 19:11] itsWill commented on #36056
Hey @Ferdy89 I looked to see if  could come up with a suggest approach, but I'm struggling to reproduce it on the latest master. Here's what I got:

The `create` and `drop` and pretty much all other tasks within `db` depend on `load_config` being executed before.

The load config task depends on the `environment` task which requires the environment:
https://github.com/rails/rails/blob/b1458218c95d

[2019-04-23 20:35] itsWill commented on #36065
I saw that we handle the `LoadError` if the `minimagick` gem is not installed by logging and returning an empty config. I figured this approach made sense for other operations that are garanteed to fail like the image not being valid.

I put up a quick PR for this to see what the general feeling is on that approach.

As for a workaround you can `rescue `the `MiniMagick::Error` in the Sidekiq job o

[2019-04-23 20:51] ConfusedVorlon commented on #36065
My solution for now is to create a custom HeicAnalyzer that accepts `image/heic` and returns `{}` in metadata

I'm not sure what the 'right' approach is - but it seems 'wrong' to have an image analyzer which is kicked off automatically, and repeatedly crashes for some kinds of images

Given that the Image Analyzer does explicitly depend on ImageMagick - and ImageMagick can't handle all image files

[2019-04-23 21:34] itsWill commented on #36055
On rails 6 this is actually supported since this commit: https://github.com/rails/rails/commit/975fa15b47e4ef47a3b46f0e946860a076167149

Since then you can do something like: `ItemInventory.with_finite_inventory.update_counters(inventory_count: -1)` and it should happily work as long as you call it on a relation.

I think there is a nice opportunity to document and have it in the public docs api.

[2019-04-23 21:49] tatyana12 commented on #28971
How to get http instead of tsp as below to see  a page?
Puma starting in cluster mode...
[20539] * Version 3.12.0 (ruby 2.5.1-p57), codename: Llamas in Pajamas
[20539] * Min threads: 5, max threads: 5
[20539] * Environment: development
[20539] * Process workers: 2
[20539] * Preloading application
[20539] * Listening on tcp://localhost:9000

[2019-04-23 22:17] Ferdy89 commented on #36056
Oh wow, I guess I was not running `master` after all, but version 5.1 instead. Very sloppy move on my part, I'm so sorry to have made you spend any time on this! I'll double check next time.

Seems like my solution is to upgrade my Rails version 😃 Thank you so much for helping me out! And again, sorry for my bad reproduction steps.

[2019-04-23 22:17] #36056 closed

[2019-04-23 22:22] itsWill commented on #36056
No worries! ❤️

[2019-04-24 04:56] y-yagi commented on #36068
I can't reproduce in my environment with those options. Is this reproduce? And what is your OS?

[2019-04-24 06:56] zealot128 opened #36075 "AR PG opclass schema dumper regex extracts wrong opclass when opclass does not end with _ops"
### Steps to reproduce

- install an postgresql extension, like proonga, https://pgroonga.github.io/ that uses a special type of opclass, that name does not end with "_ops"
- create index
[code]
- migrate/schema:dump/run tests - wrong opclass is dumped and used (pgroonga_text_term_search_ops). That opclass does not exists and produces other errors.

### Expected behavior

db/schema reproduces line

[2019-04-24 08:01] yoones commented on #36055
@itsWill While your PR is useful for it adds a missing method documentation, it is not linked to this issue (in the above-example `with_finite_inventory` is a scope, not an association).

[2019-04-24 09:02] itsWill commented on #36055
🤔 I could be interpreting this issue incorrectly, my reasoning is according to the [docs](https://guides.rubyonrails.org/active_record_querying.html#scopes) a `scope` will always return an `ActiveRecord::Relation`.

Since the [method](https://github.com/rails/rails/blob/975fa15b47e4ef47a3b46f0e946860a076167149/activerecord/lib/active_record/relation.rb#L372) I was suggesting is defined on an `Acti

[2019-04-24 09:27] belgoros opened #36076 "ActiveSupport::Cache::MemoryStore - undefined method 'megabytes'"
As explained in the corresponding section of [Caching with Rails Guide](https://guides.rubyonrails.org/caching_with_rails.html#activesupport-cache-memorystore) I added the following line to `config/environment/staging.rb`file:
[code]
When starting the Puma server, it raised the error:
[code]
Adding the following line:
[code]
on the top of the `staging.rb` file fixed the error.

Does it seem the Gu

[2019-04-24 09:59] yoones commented on #36055
You're right, it works fine. My bad!

[2019-04-24 10:17] saveriomiroddi commented on #22007
Still an issue as of v5.2.3; @waiting-for-dev's test case applies also to us, with the difference that we use `pluck()`.

[2019-04-24 12:14] userrails opened #36078 "Connection switching to support multiple databases is not working in Rails 6.0.0.beta3 version"
### Steps to reproduce
I have read the documentation about MultiDb connection switching of Rails 6.0.0.beta3 and implemented this way:

### database.yml
[code]

### Article Model
[code]

### Expected behavior
Both the databases r6_multidb_development and r6_multidb_development_copy have different records, i was expecting when record is created records should inserted on r6_multidb_development Data

[2019-04-24 12:25] #36065 closed

[2019-04-24 13:12] ConfusedVorlon opened #36080 "Active Storage saves a blob even when the model doesn't save due to failed validation"
### Steps to reproduce
[code]

### Expected behavior

@user doesn't save as it fails validation
no additional attachments or blobs added to database

### Actual behavior

@user doesn't save as it fails validation
new blob is added to database

### System configuration
**Rails version**:
rails (5.2.3)

**Ruby version**:
ruby-2.4.0

[2019-04-24 13:26] userrails commented on #36078
After following the instruction in this link, it is working as expected.
[https://github.com/rails/rails/blob/713cee01a5391b1ca56e25883c6c172ae59d7020/activerecord/lib/active_record/middleware/database_selector.rb#L33-L36](url)

[2019-04-24 13:26] #36078 closed

[2019-04-24 13:44] evsasse opened #36081 "`data-remote="true"` completely stops event propagation"
### Steps to reproduce

Create a link with `data-remote="true"` and other properties that you could use expect a click event.
[code]

Add some JS to expect for the click event on your link:
[code]

### Expected behavior

On clicking the link the remote request would be fired, and the message would be logged to the browser console.

### Actual behavior

The remote request is fired, but the message

[2019-04-24 14:20] ConfusedVorlon commented on #36080
note - I have tried to workaround this with a callback

[code]

This deletes the backing file from storage, but doesn't delete the record from the active_storage_blobs table

[2019-04-24 14:36] st0012 commented on #36076
It's a good point, but I think mentioning that in the doc is quite distracting. Because the purpose of that document is for you to know what configs are available instead of a tutorial that you'll need to copy and paste. So if you take a look at those code blocks in the guide, most of them will break if you just copy and paste them.

[2019-04-24 14:39] belgoros commented on #36076
@st0012 OK, it is just to be sure that I'm not missing anything 😄. In this case, I think it is worth to close the issue.

[2019-04-24 14:39] #36076 closed

[2019-04-24 14:47] phillc commented on #35782
Hello,

This change has caused my seeds to execute jobs that do not execute under rails 5.2.2.

I use delayed job, and in my seeds I create some data, and then move long running tasks (like api requests) onto the queue.

This change has forced these jobs to begin executing immediately. I have one project that relies on this backgrounding to do several long tasks in parallel, and another that utili

[2019-04-24 14:59] georgeclaghorn commented on #32744
This was fixed in #36053.

[2019-04-24 14:59] #32744 closed

[2019-04-24 15:00] georgeclaghorn commented on #36080
This is fixed in master and the 6.0.0 betas.

[2019-04-24 15:00] #36080 closed

[2019-04-24 15:11] ConfusedVorlon commented on #36080
thanks

[2019-04-24 15:53] cpruitt opened #36082 "`after_commit` Callback Fix Causing Problems After Upgrade"
At GitHub we're experiencing some trouble with our Rails 6 builds related to this PR: https://github.com/rails/rails/pull/35920/files#diff-174733f2db65ef1bc53e3222d6ac0e61L379 (Don't call after_commit callbacks despite a record isn't saved)

That PR fixes https://github.com/rails/rails/issues/29747 which I think is definitely a bug and definitely should be fixed, but nevertheless is turning out to

[2019-04-24 17:06] #34957 closed

[2019-04-24 17:19] #35475 closed

[2019-04-24 17:59] rafaelfranca commented on #35475
Bootsnap 1.4.4 released with the fix.

[2019-04-24 18:38] #35866 closed

[2019-04-24 20:15] mattbooks opened #36083 "ActionController::Live only copies fiber-local variables, not thread-local variables"
Referring to https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/metal/live.rb?at=12701d5a46e378f216398d72c91c40f5da1bccd7#L250-L251

Is it intentional that it only copies [fiber-local](https://ruby-doc.org/core-2.5.5/Thread.html#method-i-5B-5D) variables and not [thread-local](https://ruby-doc.org/core-2.5.5/Thread.html#method-i-thread_variable_get) variables (as the comme

[2019-04-24 21:15] valterbarros commented on #26569
I had the same behavior with rails 5.2.1

[2019-04-24 21:15] oystersauce8 opened #36084 "Bundler could not find compatible versions for gem "activemodel":"
As of today, I'm seeing this when doing a new rails application using the github master branch:

Bundler could not find compatible versions for gem "activemodel":
  In Gemfile:
    rails was resolved to 6.1.0.alpha, which depends on
      activemodel (= 6.1.0.alpha)
    web-console was resolved to 3.7.0, which depends on
      activemodel (>= 5.2)

Any ideas..

[2019-04-24 21:15] simchikoops commented on #35501
Also seeing this problem with rails 6.0.0.rc1. @nextchessmove workaround worked for me too.

[2019-04-24 21:29] rafaelfranca commented on #36084
Rails master is not 6.1 and your gems probably don't support Rails 6.1 just yet. You can change to the 6-0-stable branch.

[2019-04-24 21:29] #36084 closed

[2019-04-24 22:55] jonstorer opened #36085 "ActiveSupport::Autoload same name different name space conflict"
### Steps to reproduce
[code]
### Expected behavior
Constants with the same name in different namespaces should autoload correctly.

### Actual behavior
Loading constants with the same name, but in two namespaces fails.

In this situation, Auth::OAuth2::Response::AuthorizationCode will load & Auth::OAuth2::Grant::AuthorizationCode will not load. The hash in `@_autoloads` is overwriting the first e

[2019-04-25 01:09] rafaelfranca commented on #36085
`autoload_under` just change the path where the constant will be autoload, it doesn't set the namespace of the constant so either, so both calls to `autoload :AuthorizationCode` are defining the same constant, `Auth::AuthorizationCode`

[2019-04-25 01:09] #36085 closed

[2019-04-25 02:06] #36068 closed

[2019-04-25 04:45] jonstorer commented on #36085
@rafaelfranca not true. The constants have different files paths to load from.

[2019-04-25 05:11] anamba opened #36088 "6.0.0.rc1 database.yml no longer supports arbitrary ERB output?"
### Steps to reproduce

For many years, I have had a line like this in my `database.yml`:
[code]

Now, that works most of the time, except when using rake tasks in the db namespace:

[code]
Where `line 6 column 3` refers to the line excerpted above.

This appears to be related to #35497.

### Expected behavior

Previously, this used to output a host key and value when `ENV['MYSQL_HOST']` is set an

[2019-04-25 05:20] jonstorer commented on #36085
@rafaelfranca Here's some sample code showing the issue. https://github.com/jonstorer/autoload

[2019-04-25 06:06] PavelTkachenko opened #36089 "scopes with where, when class_name for has_many is provided"
`where` does not respect `class_name` for `has_many` joins when used in scopes.

### Steps to reproduce
[code]
### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**:
5.2.1

**Ruby version**:
2.5.2

[2019-04-25 06:08] kamipo commented on #30549
This is already improved in Rails 5.2.

4.2.9:

[code]

5.1.7:

[code]

5.2.3:

[code]

6.0.0.rc1:

[code]

[2019-04-25 06:08] #30549 closed

[2019-04-25 07:13] hidroo commented on #35584
@y-yagi Is there a way for manually added errors to be propagated to the parent object?

I our project a lot of things are created, and destroyed using nested sets. When using nested sets we destroy, create, update children of parent object. And we expect that, when the child has a problem the parent should know.

It works with create and update, only the destroy is the problem. We want to know wh

[2019-04-25 08:30] fxn commented on #35502
Have you tried this with RC1?

[2019-04-25 09:55] huacnlee opened #36091 "Cache get object have lose the primary key value"
Lose the primary key value, when read a ActiveRecord object from cache.

[code]

[2019-04-25 09:59] huacnlee commented on #36091
Looks like this issue only for `ActiveStorage::Blob` model:

[code]

[2019-04-25 11:05] artur79 commented on #36035
Just tested and it still fails in 6.0.0.rc1

[2019-04-25 13:07] shanehofstetter opened #36093 "Error in actionview cache_expiry"
### Steps to reproduce
1. start rails server in dev env
2. do multiple parallel requests

In my app the first request is an active-storage request, second one is not (not sure if that is relevant).

### Expected behavior
no errors to occur

### Actual behavior
[code]
**Traceback (top):**
[code]

It seems to me that `clear_cache_if_necessary` is called twice, where in the second call ```@watcher```

[2019-04-25 16:27] composerinteralia commented on #36093
Confirmed, that this happens consistently if I start a server and run `curl http://localhost:3000 & curl http://localhost:3000`

That code was introduced in https://github.com/rails/rails/pull/35629

Some logging may make it more obvious what is going on here:

[code]

Produces something like:

[code]

[2019-04-25 16:47] mcr opened #36095 "ActionDispatch response ignores MIME parameters"
https://github.com/rails/rails/blob/fb4268401575b5af3d5d2566fd37fc75f34bb93b/actionpack/lib/action_dispatch/http/response.rb#L412

I am trying to return a multipart/mixed content-type in a response. I use a multipart library to build the body, and then call:

    send_data object, :type => "multipart/mixed; boundary=#{stuff}"

but the content_type= processing in response.rb seems to ignore all par

[2019-04-25 16:52] mcr commented on #36095
This is the hack that I've come up with, and I hate it:

    send_data object, :type => "multipart/mixed; boundary=#{stuff}"
    @_response.set_header "Content-Type", content

[2019-04-25 18:18] elduglas opened #36096 "uninitialized constant UniformNotifier::HoneybadgerNotifier::Honeybadger"
### Steps to reproduce

- rails active_storage:install
- rails db:migrate

[code]

![image](https://user-images.githubusercontent.com/9750729/56757854-dcc31200-675a-11e9-9f8d-232c7caffb1f.png)

### Expected behavior

![image](https://user-images.githubusercontent.com/9750729/56758090-5f4bd180-675b-11e9-9b3c-88f09c35d553.png)

### Actual behavior

![image](https://user-images.githubusercontent.com/

[2019-04-25 18:27] glebm opened #36097 "Arel integer division"
Some databases use `/` to mean integer division, while others use `DIV`.

Integer division is useful for computing pagination-related things.

I currently define integer division as:

[code]

Any interest in adding `IntegerDivison` as a new node type to Arel?

[2019-04-25 18:47] fxn commented on #36096
The constants that are not found do not seem to belong to Rails.

Can you share the source code of `UniformNotifier` and `UniformNotifier::HoneybadgerNotifier`? Does `Honeybadger` (the constant not found) belong to some namespace?

[2019-04-25 18:51] arivero commented on #29542
Plain Rails 5.2.3 here, I can trigger a very similar if not the same problem, no jwt issue, I am executing "bundle exec rails server" from command line, no more.

`ActiveRecord::SubclassNotFound (Invalid single-table inheritance type: Admin is not a subclass of User)`

But in my case the fail is that `descendants.include?(subclass)` goes to false, when it was being true before the update of the co

[2019-04-25 19:55] elduglas commented on #36096
Hi fxn.

This is the project
https://github.com/helpetproject/webapp/blob/i5/

https://github.com/helpetproject/webapp/blob/i5/app/controllers/pets_controller.rb
https://github.com/helpetproject/webapp/blob/i5/app/models/pet.rb
https://github.com/helpetproject/webapp/blob/i5/app/views/pets/show.html.haml

I don't use UniformNotifier

[2019-04-25 20:02] #36096 closed

[2019-04-26 00:43] #34942 closed

[2019-04-26 04:11] jasl opened #36100 "Zeitwerk breaks override pattern"
### Steps to reproduce

Follow <https://edgeguides.rubyonrails.org/engines.html#overriding-models-and-controllers> create an override (monkey patch) for a class

This works before 6.0.0.rc1 (including 6.0.0.beta2, 6.0.0.beta3)

### Expected behavior

Class should be patched

### Actual behavior

[code]

### System configuration

**Rails version**: 6.0.0.rc1

**Ruby version**: 2.6.3

[2019-04-26 04:14] jasl commented on #36100
@fxn could you please to give some advice?

[2019-04-26 05:11] fxn commented on #36100
Could you please try adding this?

[code]

?

[2019-04-26 05:45] shivendrasape opened #36101 "Rails Choosing wrong controller action"
I made GET request with the following url in postman

`localhost:8091/trade/search?side=SELL`

### Expected behavior
Rails should have triggered searchTrade action
`get '/trade/search/:commodity/:side/:counterparty/:location' => 'tradeservice#searchTrade'`

### Actual behavior
Rails misinterpreted the route as:
`match '/trade/:id', to: 'tradeservice#getTradeById', via: :get`

### Logs
![image](htt

[2019-04-26 05:49] jasl commented on #36100
@fxn
Thank you, It works!
I'll send a PR to update the doc

[2019-04-26 05:50] #36100 closed

[2019-04-26 05:52] fxn commented on #36100
Awesome!

[2019-04-26 06:14] sikandartariq1 commented on #36101
It seems like change in the route order will resolve the issue...
I believe currently you have this order
[code]
try revesing the order like this
[code]

[2019-04-26 06:17] shivendrasape commented on #36101
@sikandartariq1 already tried this .. still didn't worked :(

[2019-04-26 06:30] sikandartariq1 commented on #36101
I get it...
you have mentioned `:commodity/:side/:counterparty/:location` these parameters but not passing them in url
try this url in postmn `http://localhost:8091/trade/search/1/1/1/1`

[2019-04-26 06:36] shivendrasape commented on #36101
@sikandartariq1  thats right, i purposefully have done that, these params should be optional. I can pass any one, all or none, or any number of params. The api is used for search feature.

[2019-04-26 06:43] sikandartariq1 commented on #36101
as in the screenshots, you're passing `side` as a query string and as you said all of them are optional so I think it'll be fine for you to just remove  `:commodity/:side/:counterparty/:location` segments from route and pass them as query string.
`get '/trade/search/', to: 'tradeservice#searchTrade'`
important is that you place this above `tade/:id` route

[2019-04-26 06:48] shivendrasape commented on #36101
@sikandartariq1  that's good idea, can point me to relevant docs ? so that i can pass them as query strings.
Thanks.
You can close this issue. 👍

[2019-04-26 06:57] kaspth commented on #36101
Just to sum this up. There's no bug here.

Your route has four required parameters (`:commodity` etc.):

[code]

Rails can't match `/trade/search?bla=bla` because it doesn't have the 4 required parameters.

In Rails/Ruby camelcasing is generally discouraged. And Rails has conventions for the route naming, you can get Rails' standard naming with the below. E.g. pluralize controller names, use `show

[2019-04-26 06:57] #36101 closed

[2019-04-26 07:33] sinsoku opened #36103 "6.0.0.rc1: ActiveRecord builds a query using `INNER JOIN` instead of `LEFT OUTER JOIN`"
### Steps to reproduce

[code]

### Expected behavior
I expected the same behavior as v5.2.3.

### Actual behavior
ActiveRecord builds a query using `INNER JOIN` instead of `LEFT OUTER JOIN`.

### System configuration
**Rails version**: 6.0.0.rc1

**Ruby version**: ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-darwin17]

[2019-04-26 10:29] flyerhzm commented on #36096
@elduglas what's your bullet configs?

If you don't use honey_badger, please don't enable it.

[2019-04-26 12:28] jordanthomas opened #36106 "Truncate helper doesn't always return frozen string"
### Steps to reproduce
[code]

### Expected behavior
Strings returned from `truncate` (or any ActionView helper) should consistently return a frozen string.

### Actual behavior
When the string is not long enough to be truncated the original, unfrozen, string is returned. When it is long enough to be truncated a new frozen string is returned.

### System configuration
**Rails version**: 5.2.3

**R

[2019-04-26 13:26] rafaelfranca commented on #36106
That makes sense. Mind to open a PR?

[2019-04-26 13:30] jordanthomas commented on #36106
I'll give it a shot! It's been a couple years. ;)

[2019-04-26 13:35] garside opened #36108 "counter_cache double increment"
### Steps to reproduce
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: `6.1.0.alpha`

**Ruby version**: `ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]`

[2019-04-26 13:40] garside commented on #36108
Actual output:

[code]

[2019-04-26 14:25] prathamesh-sonpatki commented on #35976
Can you upload a sample application on Github that reproduces the issue? Thanks.

[2019-04-26 14:30] prathamesh-sonpatki commented on #36095
This is duplicate of https://github.com/rails/rails/issues/35709

[2019-04-26 14:32] prathamesh-sonpatki commented on #36095
I am closing this issue as #35709 has on-going discussion and there is also a related PR #36034

[2019-04-26 14:32] #36095 closed

[2019-04-26 14:54] darkindrio commented on #26561
Nice, this worked for me. I was using a version deprecated of ruby and needs a direct reference to association.
Thanks

[2019-04-26 17:29] #36106 closed

[2019-04-26 17:42] remomueller commented on #36103
I'm getting a similar result where an entire section of the LEFT OUTER JOIN is being replaced by an INNER JOIN. Looks like it's resulting from use of `left_outer_joins` as shown above.

Code looks approximately as follows:

`SheetVariable.left_outer_joins(:domain_option).joins(:sheet)`

[code]

[2019-04-26 18:39] jtopgi commented on #24063
I accidentally used `rails_env=staging` instead of `RAILS_ENV=staging`.

[2019-04-26 19:14] itsWill commented on #35900
Threw up a quick PR here: https://github.com/rails/rails/pull/36111
cc: @enebo

[2019-04-26 19:56] reckerswartz opened #36112 "Cannot Install Edge with Bundler"
### Steps to reproduce

Setp 1:
new **Gemfile** with

[code]
Setp 2:
`bundle install`

setup 3:
`rails new . --dev -T -d postgresql`

### Expected behavior
Initial clean Edge Rails App

### Actual behavior
[code]

### System configuration
**Rails version**: 2.6.2

**Ruby version**: Edge

[2019-04-26 20:39] rafaelfranca commented on #36112
Which version of Rails did you use the generate the application?

[2019-04-26 20:43] reckerswartz commented on #36112
@rafaelfranca  logs
[code]

[2019-04-26 20:43] enebo commented on #35900
@guilleiguaran doh.  Sorry I read your request right while boarding an 11 hour plane ride home and totally spaced this out.  Luckily @itsWill picked this up.  The PR looks great to me and I am running railties tests as we speak.

[2019-04-26 21:41] localhostdotdev opened #36114 "[actionview] content_for / content_for? / yield don't act correctly on non-strings"
### Steps to reproduce

- have `content_for(:something} { false }`, or `{}`, `{ a: 1 }`, `[1, 2, 3]`, etc. in a view
- call `content_for(:something)` or `yield(:something)`
- see `nil` and `""` respectively

more examples at: https://gist.github.com/localhostdotdev/0e81e6f0a5ba662fe040cc1f2f99b84f

full repo: https://github.com/localhostdotdev/bug/tree/content-for-false

### Expected behavior

see

[2019-04-26 22:07] rafaelfranca commented on #36114
This is the expected behavior. It is a method to use stored content to be displayed in the view, if there is no content to be displayed in the view it will not return anything. Thank you for the issue.

[2019-04-26 22:07] #36114 closed

[2019-04-26 22:08] rafaelfranca commented on #36114
As per documentation it say: `Calling content_for stores a block of markup in an identifier for later use.`. So if there is no markup it is not stored.

[2019-04-26 22:22] #35900 closed

[2019-04-26 23:10] i2chris opened #36116 "Active support throws an exception when a module is included within ApplicationController"
### Steps to reproduce
I'm having trouble recreating this bug that appears in a large rails project.  I have just updated my app from 5.2 to 6.0.0.rc1 and I cannot run the app because of it.

It happens when a module (that lives in app/domains/roles/authorisation) is included in Application controller:
[code]
config/application.rb
[code]
app/domains/roles/authorisation/controller_methods.rb
[code]

[2019-04-26 23:11] localhostdotdev commented on #36114
should be named `html_content_for` then

[2019-04-27 06:47] shingonnw opened #36118 "Installation instructions using Tokaido should not be described"
### Expected behavior
When installing Rails with getting started guide, latest version should be installed.

### Actual behavior
When installing using "Tokaido", it was installed with Rails 4.2.1.

I expected to be able to install the latest version,
Please review the description of the installation procedure.

[2019-04-27 07:42] yoones commented on #36118
Shouldn't this issue be opened on https://github.com/tokaido/tokaidoapp/issues ?

[2019-04-27 09:45] deda opened #36119 "Timezone for Volgograd should be UTC +04:00, not UTC +03:00"
### Steps to reproduce
rake time:zones:all

### Expected behavior
ActiveSupport should return UTC +04:00 timezone  for Volgograd according to
[time zone update](https://time.is/time_zone_news/volgograd_will_jump_one_hour_ahead)

### Actual behavior
rake time:zones:all
_skipped_
* UTC +03:00 *
Baghdad
Istanbul
Kuwait
Minsk
Moscow
Nairobi
Riyadh
St. Petersburg
**Volgograd**

* UTC +03:30 *
Tehran

*

[2019-04-27 10:12] prathamesh-sonpatki commented on #36118
Yup, please open issue on https://github.com/tokaido/tokaidoapp. This issue is not Rails codebase related.

[2019-04-27 10:12] #36118 closed

[2019-04-27 12:46] henrik commented on #33741
Found this via Google. I'm not willing to try the plugin mentioned above since its README suggests it's not tested broadly.

The below is what I'm doing as a workaround for now. It seems a decent solution for my needs, but yours may vary.

After validation, I check for attachments and send the user back to the form. So I don't prevent it from being created (since this seemed to be the tricky part

[2019-04-27 12:55] i2chris commented on #36116
Closing.  Somehow I fixed this and I'm not 100% sure how.  I'll update if I find the exact reason.

[2019-04-27 12:55] #36116 closed

[2019-04-27 14:26] #36103 closed

[2019-04-27 20:33] henrik commented on #36055
Thank you everyone. I take it it does work in master, so I'll close this ticket :)

[2019-04-27 20:33] #36055 closed

[2019-04-27 23:21] micha2261 opened #36123 "problem with local date thats possibly empty"
in a view i have a date field "date_fulfilled".
It is displayed localized; with the "l".
<pre>
   <p>
    <strong>eingelöst am: </strong>
    <%= l @recipe.date_fulfilled %>
  </p>
</pre>

### Expected behavior
When this field is empty there should be an empty field displayed

### Actual behavior
I get the following error:
Object must be a Date, DateTime or Time object. nil given.
Extracted source

[2019-04-27 23:23] itsWill commented on #36112
This seems like a related issue to this previously closed one: https://github.com/rails/rails/issues/36084

[2019-04-28 04:45] composerinteralia commented on #36123
I think that is the expected behavior. You can use `<%= l @recipe.date_fulfilled, default: nil %>` if you want to default to showing nothing. See https://github.com/ruby-i18n/i18n/blob/master/test/i18n_test.rb#L313-L319 for details.

[2019-04-28 13:56] jaswinder97 opened #36126 "Conditional association with nested form field doesn't validate properly"
I  have two model associations between Item and  Variant as below:

[code]
and Variant model as below:

[code]
As above, we have a conditional relation for belongs_to which depends on **Item field kind to have value article**

### Expected behavior
While creating an item which has nested form fields for variant it should raise the validation only for kind value other then :article

### Actual beha

[2019-04-28 16:34] st0012 commented on #29947
I can confirm that this still happens on latest master. Although the message is now slightly changed into

[code]

@yuki24 would you mind update your branch? It has some conflicts.

[2019-04-28 23:01] Zyphrax commented on #35329
Today I was working on upgrading to Rails 6 RC and encountered this issue.
Perhaps this should be mentioned in the upgrade guide?

@atstockland Can you reopen this issue?

[2019-04-28 23:20] atstockland commented on #35329
Chances are the callbacks you are calling on for, are not using the on option anyways.  At least that was my experience.  I was calling on, which was silently being ignored...until I upgraded and then it wasn't silent anymore.  In reviewing my code, there were smarter callback options available that didn't need to specify the on option.  This forced me to clean a few things up, and fix this issue.

[2019-04-29 02:44] Zyphrax commented on #35329
I was using the `after_save` to update the `deleted_at` of related entities. A bit like a cascading soft delete. It was only relevant to trigger the `after_save` on update, but that was probably a bit of an unnecessary optimization.

[2019-04-29 03:10] sikachu commented on #35329
It sounds like `after_update` would be fitting for your use case? https://guides.rubyonrails.org/active_record_callbacks.html#available-callbacks

And yes, I think `:on` has no effect ever on `after_save` and being ignored silently, but #30919 raises an error so you won't miss it.

[2019-04-29 04:46] Zyphrax commented on #35329
@sikachu Thanks, I'll look into `after_update`, that sounds like exactly what I need.

[2019-04-29 05:10] okuramasafumi commented on #36118
I kinda disagree.
Tokaido's last commit was 4 years ago, which means they probably won't update anymore.
Using `gem i rails` makes perfect sense, so it seems removing Tokaido is reasonable.

[2019-04-29 09:52] aleksandrs-ledovskis commented on #33379
For any future reference, this was fixed in v5.2.1 albeit in reworked form via https://github.com/rails/rails/commit/50036e673b3b6ff41476814b212b55fabac3a638

[2019-04-29 10:02] bradcrawford commented on #32790
Hopefully this may help someone else with this problem

[code]

[2019-04-29 11:04] gorn commented on #34847
This is completele against the principle od least surprise, so it needs to be at least documented.

[2019-04-29 12:26] eileencodes opened #36132 "Callback chain broken in unexpected way with combination of association + callbacks"
This is related to #36082 in that the issue we're seeing in the GitHub application is caused by the same commit but I think we have discovered some buggy behavior.

In our application we have some models that have a corresponding "archived" table so we can "delete" records and their associations without having to actually delete them. We do a replace into the archived table and then delete from th

[2019-04-29 13:32] samnissen commented on #32995
There's a broader discussion here that I think obscures what the original point:

Postgres `random()` and MySQL/MariaDB `RAND()` should not be treated as dangerous. Treat user-provided params as dangerous, or not -- smarter people can debate that. But don't treat canonical database technologies as dangerous. Don't create arbitrary cruft around using the best technology for the job.

If it's a bad

[2019-04-29 15:49] guizmaii commented on #23699
Hey,

Still seeing this bug with JRuby 9.2.7.0 and Rails 4.2.11.1

[2019-04-29 16:13] jboler commented on #23699
@guizmaii This was fixed in Rails 5.2.1 #33054

[2019-04-29 16:17] JasonLunn commented on #23699
I think you mean 6, rather than 5.2.1?

[2019-04-29 16:19] eileencodes commented on #36132
@matthewd asked if this was related to how in tests the records aren't truly committed but I verified in a demo application that this occurs outside of the test framework so it's not related to that.

[2019-04-29 16:24] jboler commented on #23699
@JasonLunn The fix is on `5-2-stable`: https://github.com/rails/rails/commit/2edd67eec55d5f8dfde0af6fdb7ce166135f8526

[2019-04-29 16:31] JasonLunn commented on #23699
Ah, well, in that case there are probably other ways to trigger this issue (or adjacent ones that manifest similarly) as we were continue to see the same exception under Rails 5.1 in our production environment. I saw the original commits merge to `master` and see them appear in the 6.0 RC's, but you're correct that they were also cherry picked into 5.1 and 5.2.

[2019-04-29 16:45] jboler commented on #23699
Can you share a stack trace?

[2019-04-29 16:57] guizmaii commented on #23699
@jboler Good to know! But we're using Rails 4.2. 😕

Do you have an idea how we can fix that problem without upgrading our app to Rails 5 ?

[2019-04-29 17:09] JasonLunn commented on #23699
@guizmaii - I think 4.x is deprecated at this point and no longer receiving fixes for anything other than critical security vulnerabilities...

[2019-04-29 17:13] guizmaii commented on #23699
@JasonLunn Yes, I know but maybe I can monkey patch some Rails classes ?

A quick & dirty fix is better to me for now than taking the time to upgrade to Rails 5. That's why I asked for a solution to fix that in Rails 4.2 🙂

[2019-04-30 07:45] flavono123 opened #36138 "The validations of an association, which is self-join relation, always raise errors"
### Steps to reproduce
In self-reference with a table, the creation of invalid association must raise errors even the option `dependent: :restirct_with_error` is on.

Run the following script:
https://gist.github.com/flavono123/e1aed1ffb71da626ead325c4b132bd29

### Expected behavior
Without rasing an error, `post1.errors` exists, since the option `dependent: :restirct_with_error`

### Actual behav

[2019-04-30 09:41] jacobat opened #36139 "No connection pool... with multiple dbs and attributes"
### Steps to reproduce
Setup a new Rails 6.0.0rc1 app with a database config with two connections:

[code]

Add a model that uses the connections with the new connection API. And also set an `attribute` on the model:

[code]

Now open a Rails console and try to count the users:

[code]

### Expected behavior
The resulting value of `0` should returned on the first try.

### Actual behavior
First we

[2019-04-30 11:24] kamipo commented on #36132
Identified. This regression is due to changing record registration order to the transaction.

In the reproduction script, `comment.post` loads new post (since automatic inverse_of is disabled due to association having lambda), then the records in the transaction will be `[<loaded (saved) post: 1>, <destroyed post: 1>]`, and `<loaded (saved) post: 1>` wins by `records.uniq`.

We should keep the reg

[2019-04-30 12:01] thomasdarde opened #36141 "ActiveStorage attached file not found in after_create"
### Steps to reproduce

When trying to update to rails 6 rc1 we found an issue with the code below.
In rails 5 we used include ActiveStorage::Downloading but it is now removed , this is the only change

``
class ImportedFile < ApplicationRecord
  has_one_attached :file
  after_create :use_file

def use_file
      self.file.blob.open { |file| file.path }
end

end
``

### Expected behavior
We sould

[2019-04-30 12:50] tomdepplito commented on #23699
@jboler, here is the stack trace to which @JasonLunn is referring:
[router_error_stack_trace.txt](https://github.com/rails/rails/files/3131270/router_error_stack_trace.txt)

[2019-04-30 13:43] #36082 closed

[2019-04-30 13:43] #36132 closed

[2019-04-30 13:53] deepakmahakale commented on #34443
Any updates on this issue?

[2019-04-30 14:40] j1hwang commented on #36138
`restrict_with_error` 가 있으면 relation 삭제 등에는 raise 를 하는 것으로 알고 있었는데, 예시로 들어주신 경우에는 raise 를 하는 것이 잘못된 동작인가요?

[2019-04-30 17:03] clay-mindoula opened #36144 "Active storage blob.analyze showing incorrect blob.attributes["metadata"] for variant"
### Steps to reproduce
I wanted the the width and height of a resized variant.

[code]
### Expected behavior
The expected result for the variant metadata is:
[code]
### Actual behavior
The metadata result for the resized variant is:
[code]
This is the correct width and height of the original image and not the resized variant.

### System configuration
**Rails version**:5.2.3

**Ruby version**:ruby

[2019-04-30 18:16] smidwap commented on #36116
I got the same error when upgrading to Rails 6.0 and fixed it by updating this line in config/environments/application.rb:

[code]

to

[code]

[2019-04-30 18:47] cpruitt opened #36145 "Use of monotonic_time in ActiveSupport::Notifications is a breaking change"
PR https://github.com/rails/rails/pull/35984 ("Various fixes in ActiveSupport::Notifications::Event") changes `ActiveSupport::Notifications::Fanout::Subscribers::Timed` to use `Concurrent.monotonic_time` (`Float`) for start and end values. Previously instances of `Time` were used.

Although I agree that monotonic time is probably the best way to track the passage of elapsed time, at GitHub we are

[2019-04-30 20:36] itsWill commented on #35973
The PR to define `=~` has been merged upstream on TZInfo so if we’re using master TZInfo we no longer need that work around. I’d suggest closing the issue, but understand if you want to keep it open until the docs are improved.

[2019-04-30 20:36] clay-mindoula commented on #36144
I'm closing this as running:
[code]
and removing:
[code]
produced what I was looking for:
[code]

[2019-05-01 00:01] georgeclaghorn commented on #36141
You have to wait until after the transaction commits via `after_create_commit`. Attached files are uploaded to storage after commit as of #33303.

[2019-05-01 00:01] #36141 closed

[2019-05-01 09:14] alexpapworth commented on #35505
@lrjbrual: As @bogdanvlviv mentioned, this has been fixed. Add this line to your gemfile for now 😄

    gem 'jbuilder', github: 'rails/jbuilder', branch: 'master'

It should get added to the next release of the jbuilder gem.

[2019-05-01 12:38] yahonda opened #36154 "ActionView::HelperInclusionTest#test_helper_class_that_is_being_tested_is_always_included_in_view_instance gets error"
Reproduced Action View CI failure at
https://buildkite.com/rails/rails/builds/60869#71c1ca6c-7165-4517-a08f-cd7452b93cc1 by #36153

### Steps to reproduce

[code]

### Expected behavior
It should pass.

### Actual behavior

[code]

### System configuration
**Rails version**: master branch

**Ruby version**:ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]

[2019-05-01 12:47] yahonda commented on #36154
I had reported a similar one #35389 which does not reproduce anymore.

[2019-05-01 15:04] sambostock opened #36156 "Integration test errors raise instead of responding with 500 page"
### Steps to reproduce

Create and route to a controller action which raises.

<details><summary>Reproduction code</summary>

[code]

</details>

### Expected behavior

The error should cause a `500 Internal Server Error` response, which could be checked for via `assert_response :error`.

### Actual behavior
The error bubbles up into the test, and must be checked for via `assert_raises`, which is

[2019-05-01 18:19] spuyet opened #36158 "ActiveSupport::EventedFileUpdateChecker broken with no directories to watch"
I've some trouble with `ActiveSupport::EventedFileUpdateChecker` on a project in dev mode.

[code]
[code]
When I start the app locally, the `ActiveSupport::EventedFileUpdateChecker::Listen` constant cannot be found:

[code]

After having isolated the issue:
[code]
It seems to be related to the way that we lazy load the `listen` gem here: https://github.com/rails/rails/blob/master/activesupport/lib

[2019-05-01 20:32] aboelleef commented on #32819
we have the same issue after upgrading to rails 5.2

[2019-05-01 20:40] rafaelfranca commented on #36156
That is the desired behavior depending on your configuration in `config/environments/test.rb`. If you set [this config](https://github.com/rails/rails/blob/51a481fa7400772ca23c0e8e658523d78f8d8305/railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt#L32) to `true` you will get the behavior of rendering the page. By default Rails raises exception.

[2019-05-01 20:40] #36156 closed

[2019-05-01 22:45] Cperbony commented on #32500
Thats it. thks

[2019-05-02 02:08] deepj commented on #35647
I have the same issue while trying one Rails 5.2 app to Rails 6.0 RC1.

[2019-05-02 02:23] localhostdotdev commented on #35647
@deepj you can just delete the migration if you are not using active storage

[2019-05-02 06:47] kolisayeed commented on #24359
openproject run rails db:migrate:redo VERSION=20180122135443

== 20180122135443 AddTsvColumnsToAttachments: reverting =======================
-- remove_index(:attachments, {:column=>:file_tsv})
rails aborted!
**StandardError: An error has occurred, this and all later migrations canceled:**

**No indexes found on attachments with the options provided.**
/opt/openproject/vendor/bundle/ruby/2.5.0/gem

[2019-05-02 08:19] deepj commented on #35647
This app uses ActiveStorage

[2019-05-02 08:48] blaszczakphoto commented on #29542
I am also having this issue in 6.0.0.beta3

[2019-05-02 08:52] stevehill1981 commented on #23422
@meltheadorable That makes sense, and I'd imagine it'll be easier to accomplish (I hope!)

I've been poking around in the generators, but I haven't yet found the correct place to put the new logic; if you specify a `primary_key_type` in the tests, no columns end up getting added. No doubt I'm missing something obvious.

[2019-05-02 14:00] st0012 commented on #36154
This one is very weird. At first I thought it's because ActionView generated different method name between it compiled a template and ran the template. But it's not, the template method name generation was correct.

So I put a break point here

https://github.com/rails/rails/blob/b343beba03722672b9bb827f8ce29c7c1c216406/actionview/lib/action_view/base.rb#L270-L274

And this is what I got

[code]

[2019-05-02 14:39] 1v commented on #33991
Any workaround?

[2019-05-02 14:52] 1v commented on #33991
Looks like workaround will be `Job.joins(:invoices).where(invoices: { id: Invoice.last.id })`.

[2019-05-02 18:39] xxx commented on #36022
@st0012 I'm using this template, which shows the issue.

[code]

[2019-05-02 19:45] cpruitt commented on #36132
I believe we might have a similar issue related to associated records which attempt to delete their `belongs_to` association. In this modified version of Eileen's script, `Comment` will delete `Post` if there are no other comments remaining.

[code]

I don't have a whole lot of an idea about what's happening, but I did notice that multiple instances of the Post record are added to the transaction

[2019-05-03 00:22] y-yagi commented on #36158
First, the cause of this error is `factory_bot_rails`. Since the error was fixed in https://github.com/thoughtbot/factory_bot_rails/pull/331, it does not occur in v5.0.2.

Of course, this error still occurs if you do not specify a target for a watch. However, it seems to me that it should be an argument error if the watch target is unspecified.

[2019-05-03 00:32] y-yagi commented on #36139
cc @eileencodes

[2019-05-03 00:53] y-yagi commented on #36119
Rails don't have Time Zone data itself. In the case of Linux, it depends on Time Zone Data holds by Linux.

[code]

Probably Timezone Data is old in your env. Please update data.

[2019-05-03 00:53] #36119 closed

[2019-05-03 00:58] #36123 closed

[2019-05-03 03:05] st0012 commented on #36022
@xxx According to the correct SQL in author's description, it looks like the `people` table should have the `count` column: `.... ORDER BY "people"."count" ASC`

[2019-05-03 06:02] spuyet commented on #36158
Thanks for the explanation. I agree that we should raise an argument error when the array is empty, and more precisely once we've filtered out gem files, redundant and non-existent files.

[2019-05-03 09:56] meismann opened #36170 "(Time.zone.now.midnight..Time.current).minmax logs a warning for every second covered"
### Steps to reproduce
On IRB, execute
[code]

### Expected behavior
Immediate return of the result, i.e. sth. like:
[code]

### Actual behavior
The result is returned, but a warning is logged a huge amount of times (for every second, as sb. has found out here: https://makandracards.com/ff-it/23966-fixing-the-warning-time-succ-is-obsolete-use-time-+-1):
[code]
If it is true that Time#succ is calle

[2019-05-03 13:22] thrikal-vakilsearch opened #36171 "request.headers whitlist 'api_key' in rails 6 API mode"
### Expected behavior
Rails API application deployed to a server and it is running in https://some-example.com, While doing post request with payload as JSON and sending api_key, api_token as headers params, In application controller cannot get request.headers["HTTP_API_KEY"]. I have printed request.headers.each { |key, value|  Rails.logger.info key }, But cannot see HTTP_API_KEY.

### Actual beha

[2019-05-03 13:31] yahonda commented on #36154
Thanks for the invesitagation. I was trying to see if this reproduces with the latest version of Ruby, I mean 2.7.0dev and reproduced.

* Minimum step to reproduce

[code]

* Also reproduced with the latest trunk ruby

[code]

* Actual result

[code]