[2021-01-15 19:34] #41130 closed

[2021-01-15 20:12] gmcgibbon commented on #41126
When upgrading your app you need to [opt into this behaviour](https://github.com/rails/rails/blob/f10dfa7f0ed8dcbb03dc65877797d29f6f6aca9e/railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_1.rb.tt#L10). Looking at a similar Active Record feature `belongs_to_required_by_default`, this was also not documented in release notes, so I don't feel retroactivel

[2021-01-15 20:12] #41126 closed

[2021-01-15 20:23] gmcgibbon commented on #41091
This is intended. When upgrading your app you [opt into this behaviour](https://github.com/rails/rails/blob/f10dfa7f0ed8dcbb03dc65877797d29f6f6aca9e/railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_1.rb.tt#L10).

[2021-01-15 20:23] #41091 closed

[2021-01-15 20:55] vpereira commented on #41126
Alright, thank you @gmcgibbon

One line above the one that you linked, you have the following note:

```# Read the Guide for Upgrading Ruby on Rails for more info on each option.```

[2021-01-15 21:42] key88sf opened #41133 "ActiveRecord query using where() with an array results in SQL without "IN" clause."
### Steps to reproduce

With any standard ActiveRecord model (using `Customer` here as an example), issue the AR query:
`Customer.find([1, 10])`

### Expected behavior
I would expect the generated SQL to look like:
`SELECT * FROM customers WHERE (customers.id IN (1,2))`
(this is also what the Rails Guide lists: https://guides.rubyonrails.org/active_record_querying.html)

### Actual behavior
I get

[2021-01-15 22:37] louim commented on #41133
Hey @key88sf

I'm not sure what you mean by:

The SQL you pasted contains an **IN** clause: `... WHERE customers.id IN ($1, $2)`. The reason you get a prepared statement with interpolated variable is because Rails need to sanitize the input. This is the expected behaviour. As for the performance, it was recently improved in https://github.com/rails/rails/commit/72fd0bae5948c1169411941aeea6fef4c58f

[2021-01-15 22:52] key88sf commented on #41133
👍 Thanks for the explanation. Looking forward to the bugfix. Will close this issue.

[2021-01-15 22:52] #41133 closed

[2021-01-16 01:33] gmcgibbon commented on #41116
Hm, you're right, this is incorrect. I'll fix it.

[2021-01-16 02:52] malomalo opened #41137 "URL is a valid key for some ActiveRecord Adapters"
When updating to Rails 6.1 I can no longer use `url` in the database configuration for an ActiveRecord Adapter.

If `adapter` is specified in the configuration (or maybe any other keys?) can we use the other keys as configs for the adapter?

### Steps to reproduce
[code]

### Expected behavior
ActiveRecord established a connection with the `sunstone` adapter.

### Actual behavior
The configuration

[2021-01-16 03:03] georgeclaghorn opened #41138 "Regression when redefining a store attribute with a new type"
We have a model that defines a `store` attribute, then redefines it with a wrapper type for encryption, like so:

[code]

The `encrypts` macro boils down to:

[code]

After 4cc9c0f, values stored in the `data` attribute no longer make it to the DB:

[code]

I’ve shared a minimal reproduction script [as a gist](https://gist.github.com/georgeclaghorn/681fd8c8fdaaa956945bb440a90b9752).

Apologies in

[2021-01-16 08:56] FlickStuart commented on #41038
Experiencing a similar issue to the original poster. Bisecting shows the tests passing at commit `4500ebba21836c4bf264a043b68cf580cfa55611` and failing at the subsequent commit `37e778b6b44ae087ce052ff380b1e3aaee31473d` - see: [Cache routes.url_helpers built modules](https://github.com/rails/rails/commit/37e778b6b44ae087ce052ff380b1e3aaee31473d)

Have tested this with the original poster's example

[2021-01-16 10:58] yshmarov commented on #16971
Exactly the same issue here. @edgr , did you find a solution?

[2021-01-16 12:10] yshmarov commented on #16971
Typing `heroku restart` or `git push heroku main -f` fixed the issue for me. As well initially I had the code in a `concern`. When I moved it to the model & pushed to production it also started working.

[2021-01-16 19:50] Shalashtein commented on #41113
Thanks a lot man, I didn't notice the second line, upgraded deface from the repo and it worked

[2021-01-16 21:32] aaronlahey opened #41145 "ActionDispatch::Http::Parameters reveals sensitive information in exception messages and logs on parse error"
We are building a Rails API that exposes a GraphQL endpoint. There are a handful of partners that are integrating with this API and appear to be sending malformed JSON. I'm sure they will work these issues out before we go to production, but I'm worried about the possibility of them introducing a regression that causes actual sensitive data to be logged. We will work around this in the short term

[2021-01-17 10:11] kriom commented on #41128
While waiting to see if it's possible (delete the schema version) I created an empty migration date of December 31, 2029 at 23:59:59 📆 to be quiet until then 😈.
Of course this will only work with the branches of the project that already include this migration ☝️🤓.
I don't see what problems this could cause and if I discover one I will let you know.
🖐️😊

[2021-01-17 12:36] #40367 closed

[2021-01-17 13:03] f6p commented on #41103
@jonathanhefner I updated PR. Now app generator skips webpacker task if called with either `--skip-bundle` or `--skip-gemfile`.

Yet still - after creating new app if `Gemfile` is not locked calling `webpacker:install` fails with method call on `nil` object. I'm not sure if there is better way to prevent this than safe navigating `Bundler.locked_gems` (as discussed in #41104).

[2021-01-17 13:10] ooooooo-q opened #41148 "Remove Rack::SendFile from default middleware."
### Steps to reproduce

Example of rails controller.

[code]

Code like the one above can be attacked by a specially crafted request.
See [hackrone](https://hackerone.com/reports/1057216) for details on the attack code.

### Actual behavior

[Rack::SendFile](https://github.com/rack/rack/blob/v2.2.2/lib/rack/sendfile.rb) used in [send_file](https://api.rubyonrails.org/classes/ActionController/DataS

[2021-01-17 22:35] jbranchaud commented on #29992
I did a bit of research into this lately (for a Rails 6.1 app) and this is what I came up with for setting application-wide `default_url_options` in _development_.

[code]

https://github.com/jbranchaud/til/blob/master/rails/set-default-url-options-for-entire-application.md

[2021-01-18 04:02] benkoshy opened #41150 "filter_parameter_logging.rb - filters :passw - is this expected behaviour?"
### Steps to reproduce

[code]
Here is a repo that I've prepared (in case you want it):

`git clone git@github.com:benkoshy/test_app.git`

### Expected behavior
Unless I'm missing something here, I would expect `:password` rather than `:passw` to be a filtered parameter? Unsure if this is a bug or not.

[code]

### Actual behavior

[code]

### System configuration
**Rails version**: 6.1.1

**Ruby

[2021-01-18 04:44] abhaynikam commented on #41150
@benkoshy `:passw` is expected filter_parameter here. The changes were done in PR: https://github.com/rails/rails/pull/40513 and here is the exact reasoning for why `password` was changed to `passw`(In short, filter_parameters uses regex matching so password would always be filtered): https://github.com/rails/rails/pull/40513#issuecomment-727598707 😊

[2021-01-18 05:03] #41150 closed

[2021-01-18 05:39] tomca32 commented on #41010
I a similar but a bit different problem which I think is caused by the same issue.

Two simple tables. Students and Groups. A student belongs to a group. None of the other columns are relevant.

Running the following:
[code]

results in:
[code]

Which pstgres reports as an error:

[code]

It decided to use `group` as an alias. This doesn't work because `group` is a SQL keyword.

[2021-01-18 06:33] weistom opened #41151 "Join table data assigned to Model"
### Steps to reproduce
Guess Author and Article models and there are the following data.
[code]
[code]

On Rails 6.1, `select` method with `*`results in that join table's column data assigned to the attribute which is the same name. In this case, `<Article id: 1, name: "article name", ...` is expected and I think this is dangerous.
[code]

This works.
[code]

### Expected behavior

### Actual beha

[2021-01-18 08:05] jeremyevans commented on #38842
@jeremy You may want to consider reopening this.  The Rack core team has determined this is not a bug in Rack, so it's something Rails should fix if you want streaming to work. See https://github.com/rack/rack/issues/1619#issuecomment-648477608.  I apologize for not realizing earlier that Rails wasn't working on a fix for this, especially considering it's now been almost a year since Rack 2.2.0 wa

[2021-01-18 09:31] kamipo commented on #41010
@jcoyne

I'll try to fix this issue, but I'd not recommend to use the existing table name (`reviewers`) as an association name for the different model (`User` which is associated with `users` table). If do so, type casting doesn't always work appropriately.

For example:

[code]

In the above case, the associated table for `"reviewers.user_id"` is looked up by `klass._reflect_on_association(table_

[2021-01-18 15:10] knajjars commented on #40180
any updates regarding this issue?

[2021-01-18 16:25] danothemen opened #41156 "Rails 5.1 (And 6.1) Generated Column Gets Extra '\' in schema MySQL"
### Steps to reproduce

Create a table with a JSON column, then add a generated column that uses JSON_EXTRACT to store part of the json document in a generated column

[Example pulled from guidelines](https://gist.github.com/danothemen/44f6fbae2e5f98efac8f1e9210cc8347)

### Expected Output for Schema
[code]

### Actual behavior

[code]

### System configuration
**Rails version**:
5.1
**Ruby versio

[2021-01-18 16:55] louim commented on #41156
Hey! can you reproduce in Rails 6.1? Rails 5.1 not supported anymore.

[2021-01-18 20:35] eric-norcross commented on #25525
Using `Ruby 2.6` and `Rails 6`, I was able to get this working with:

    # lib/middleware/my_custom_middleware.rb

    module Middleware
      class MyCustomMiddleware
        def initialize(app)
          @app = app
        end

        def call(env)
          #...
        end
      end
    end

and:

    # config/application.rb

    require_relative 'boot'
    require 'rails/all'
    Bundler.re

[2021-01-18 21:10] goatatwork opened #41159 "Getting Started Guide - Validation Errors not rendering"
### Steps to reproduce

In the Getting Started Guide, In the section labeled `6.3.3 Validations and Displaying Error Messages`, the following syntax is used to start a new form:

[code]

The following syntax needs to be used instead:

[code]

### Expected behavior

`@article.errors` will be populated and therefore be available to work with in the view.

### Actual behavior

The default behavior of

[2021-01-18 22:01] louim commented on #41159
Hey @goatatwork,

I see you're using Rails 6.0. The default behaviour of form_with [was updated in Rails 6.1 to generate local forms by default](https://github.com/rails/rails/pull/40708). The docs correctly describe the behavior for Rails 6.1.

[2021-01-18 22:44] goatatwork commented on #41159
Hey @louim,

That will teach me to drag around old container images! Thank you so much for the clarification.

[2021-01-18 22:44] #41159 closed

[2021-01-19 01:54] jbranchaud commented on #34237
This issue caught me off guard, so I did a bit of digging and then a write up on it. In case it's useful to anyone else who ends up here, here it is: https://dev.to/jbranchaud/a-few-methods-for-returning-default-values-when-creating-activerecord-objects-1457

[2021-01-19 06:02] haroldus- opened #41163 "ActionText permitted html attributes in rendered rich text insufficient"
add a `<%= link_to blob.url, target: :_blank do %>...<% end %>` to `views/active_storage/blobs/_blob.html.erb` partial so app user can get to pdf proper from preview or the original of the image in a new tab

one would expect the `target` html attribute to be rendered

but it is sanitized away by the `sanitize_action_text_content` method within `ActionText::ContentHelper`

`Rails::Html::Sanitizer.

[2021-01-19 06:26] #41138 closed

[2021-01-19 06:36] abhaynikam commented on #41163
@haroldus- I have faced similar issue in past and my workaround was as follows:
[code]

Hope this helps 😊

[2021-01-19 11:10] intrip commented on #41151
I think this is related to the SQL result, what happens if you don't call the `select` method?

[2021-01-19 11:19] MuhammadRazaAslam opened #41169 "before_action is not working as expected"
### Steps to reproduce

**Step 1:** Add a `resources :books` in routes.rb
**Step 2:** Create a following controller

[code]

**Step 3:** Start the server
**Step 4:** Open http://localhost:3000/books in browser

### Expected behavior

When we open http://localhost:3000/books in the browser then method1 should be called but it's not calling.
### Actual behavior

If I remove the `before_action :metho

[2021-01-19 11:22] intrip commented on #41092
@kamipo since this behaviour is not supported what about raising an error also when `source_type` is given as a class (as we already do for `class_name`) ?

I'd be happy to attach a PR for that.

[2021-01-19 11:40] kamipo commented on #41092
Feel free to open a PR if you are interested.

[2021-01-19 11:56] hmkashif commented on #41169
@MuhammadRazaAslam I am having same issue. My guess is, while registering same callback(`before_action: method1`) for two different methods (`index` and `new`) later one will be registered and all others will be ignored.

We can also do this `before_action :method1, only: [:index, :new]` as an alternative.

[2021-01-19 12:27] intrip commented on #41092
sure! Will do.

[2021-01-19 13:39] eileencodes commented on #41169
This is the correct way to do it as writing a second `before_action` with the same method will override. This is true of any callback and isn't considered a framework bug. I'm going to close this out.

[2021-01-19 13:39] #41169 closed

[2021-01-19 14:22] ShubhamUnique opened #41170 "Restful downloads not working with Rails 6"
### Steps to reproduce
- rails new bookstore
- rails g scaffold book name:string author:string
- update root in routes to 'books#index'
- open localhost:3000 in browser, add a book
- copy a dummy pdf in root folder - book store
- add `Mime::Type.register "application/pdf", :pdf` in `config/initializers/mime_types.rb` file
- update show method with following snippet

[code]
or follow the example at

[2021-01-19 15:13] danothemen commented on #41156
Hello! Yes it turns out that I can reproduce this in Rails 6.1 also, the behavior is identical.

[2021-01-19 15:28] MuhammadRazaAslam commented on #41169
@hmkashif Thank you for sharing a solution with me.

[2021-01-19 15:29] MuhammadRazaAslam commented on #41169
@eileencodes Thank you for telling me. Can you share the documentation link where it is explained?

[2021-01-19 15:36] ayrton opened #41171 "Opting out of strict loading"
### Steps to reproduce

Given the following code:

[code]

### Expected behavior

No failures.

### Actual behavior

[code]

### Proposal

I think there's a case where you'd want to have strict loading by default but have the option to opt-out eg when using `ActiveJob`.

[code]

Similar to defining the value of `strict_loading` on [relations](https://github.com/rails/rails/pull/37400/files#diff-79

[2021-01-19 15:40] aliismayilov opened #41172 "ActiveStorage configuration resolve_model_to_route is not picked up by rails_blob_* URL generator"
### Steps to reproduce

1. Create a new rails app.
2. Set up activestorage with Amazon (S3) as backend service.
3. Set `config.active_storage.resolve_model_to_route = :rails_storage_proxy`.
3. Create a model with attachment. E.g. `class Picture < ApplicationRecord; has_one_attached :file; end`.
4. Create a new record with attachment.
5. Render `rails_blob_path`.

### Expected behavior
The link sho

[2021-01-19 17:39] brodock commented on #35499
Is there any objection on implementing a override flag like proposed above? I can work on a PR.

[2021-01-19 17:45] flavorjones commented on #41169
@MuhammadRazaAslam https://guides.rubyonrails.org/action_controller_overview.html

![image](https://user-images.githubusercontent.com/8207/105072667-102bf100-5a54-11eb-8556-2c6980bdd817.png)

[2021-01-19 17:54] eileencodes commented on #41171
Hi @ayrton! Adding this functionality is on my to do list, but I haven't gotten around to it yet. If you want to work on a PR, please go ahead. 😄

[2021-01-19 18:07] ayrton commented on #41171
Sweet! I'll draft something up and then we can take it from there. 👯

[2021-01-19 18:16] nbrustein opened #41175 "`reverting?` method does not work with PostgreSQLAdapter"
### Steps to reproduce

1. Using a rails app that connects to a postgresql database
2. Put a debugger inside of `def down` in a migration
3. Rollback the migration to hit the debugger
4. `self.reverting? => false`
5. `self.connection.class => ActiveRecord::ConnectionAdapters::PostgreSQLAdapter`
6. `self.connection.respond_to?(:reverting) => false`

### Expected behavior
The `reverting?` method sho

[2021-01-19 18:25] #41116 closed

[2021-01-19 18:34] johnmaxwell opened #41176 "Parallel-testing test-run raises Bad file descriptor (Errno::EBADF) using MySQL 8.0"
**See below:** The issue can also be worked around by compiling the mysql2 gem using the mysql 5.7 client: https://github.com/rails/rails/issues/41176#issuecomment-772186345

**Updated** to reflect that the issue also exists under apps using Rails 6.1.1 and rails/rails. https://github.com/johnmaxwell/parallelmysql61

We updated an application to Rails 6.0.3.4 and configured it to use parallel test

[2021-01-19 18:35] vilusa opened #41177 "Heroku perform_later undefined method error after added has_one_attached"
Hi everyone,

Project is active using paperclip. And we using Sidekiq for background job process. We try ActiveStorage migration for each model. So far, we have completed the migration of the two models without any problems. But driver gives model, methods of method undefined error on just background jobs. When I run it as perform_now it doesn't give any error and complete it successfully. I remov

[2021-01-19 22:10] gfsheppard opened #41182 "rails new fails at webpacker:install elsewhere"
### Steps to reproduce
I am having a similar issue to #41103
In a new directory:
[code]
Uncomment #gem rails in Gemfile

[code]

### Expected behavior
Should initialize a new rails app

### Actual behavior
At the end of the installation:
[code]
### System configuration
**Rails version**: Rails 6.1.1
**Ruby version**:Ruby 2.7.0
Bundler version 2.1.2

Entering the directory and manually running `bun

[2021-01-19 22:56] des-albert commented on #41123
Perhaps a full trace would assist with diagnosis

![Capture](https://user-images.githubusercontent.com/7909090/105104102-846f9000-5a66-11eb-8fbf-f9a0b172b8a1.PNG)

[2021-01-20 01:33] weistom commented on #41151
It works without `select` method.
[code]

[2021-01-20 02:07] arakawamoriyuki commented on #27659
Hello, i have the same issue.
With AWS Elasticache redis the app crashes 5 minutes after the last connection.

rails: v6.1.1
ruby: v3.0.0
redis gem: v4.2.5
AWS Elasticache redis: v6.x and v5.0.6

I tried lowering the version of rails, ruby, redis gem but it is the same.
However it works fine when set up in a [docker container redis](https://hub.docker.com/_/redis) v6.0.9 and v5.0.6.
It may depend

[2021-01-20 04:49] kevinhq commented on #36546
We see this warning after upgrading to Rails 6.1.1.

The one that works for us is this solution

We don't use ActionText because we already used froala editor.

Here's what we come up in config/application.rb

[code]

[2021-01-20 05:04] weilandia commented on #41172
Related:

I'm seeing
[code]

Is this by design?

[2021-01-20 08:45] kriom commented on #41170
Hello,
You should reformat the **Stack trace** with line breaks

[2021-01-20 08:56] ayrton commented on #41171
Opened PR #41181

[2021-01-20 10:04] anson2590 opened #41185 "routes.rb calling during initial load"
### Steps to reproduce
Routes.rb file is getting called for the first time during run time it not getting executed

### Actual behavior
I need a suggestion,  routes.rb file is getting called for the first time during the run time it's not getting executed during runtime I have a requirement where based on condition different action methods to be called. When I added conditions in routes.rb noticed

[2021-01-20 12:56] vinzenzweber commented on #38695
I fixed this issue in my Rails 6.2 app by  adding the `--clean` flag for `pg_dump` and `psql` in `config/application.rb`. The structure.sql file will first delete or drop all tables schemas and so on. In the end the `DROP SCHEMA public;` statement in the resulting structure.sql file fixed the issue.

[code]

[2021-01-20 16:19] intrip commented on #41092
@kamipo I've created https://github.com/rails/rails/pull/41187. could you take a peek? 🙏

[2021-01-20 17:06] lubosch commented on #36546
after few hours I've discovered that mailgun-ruby is causing this and particularly these things:

ActionMailer::Base.add_delivery_method :mailgun, Railgun::Mailer
ActionMailer::Base.register_interceptor(OverrideAttachmentsContentId)

I've substituted `ActionMailer::Base.register_interceptor(OverrideAttachmentsContentId)` -> `Mail.register_interceptor(OverrideAttachmentsContentId)`
but nothing to d

[2021-01-20 17:32] tpkonrad opened #41190 "#inverse_of and #has_inverse? returning nil for ActiveRecord::Reflection::BelongsToReflection"
### Steps to reproduce
[code]

### Expected behavior
#has_inverse? should return :users symbol insted of nil.
#inverse_of should return an instance of ActiveRecord::Reflection::HasManyReflection instead of nil.

### Actual behavior
#has_inverse? returns nil.
#inverse_of returns nil.

### Additional Information

Adding "inverse_of" option overcomes the problem, but I still think it's a bug...

[cod

[2021-01-20 17:46] #41092 closed

[2021-01-20 18:09] cklatt commented on #41100
@intrip I think that will work.  The only add I'd like to see is to incorporate the source ENV['SCOPE'] in the message so the user fully understands where the value of SCOPE came from.  Another option is to output a more detailed message such as "SCOPE = value #{ENV['SCOPE']} from ENV['SCOPE']" when verbose flag is used.   Either way, I think your fix is a good idea.

[2021-01-20 18:25] Webovani commented on #35930
Just spent two hours trying to find out what's wrong and which development gem may be causing such nonsense. And I am pretty surprised it's actually Rails!

My usage:

ApplicationController:
[code]
Setting (model):
[code]
I expect the app to crash when a Setting is missing (it's a developer error). That's why I am raising a custom error. RecordNotFound error is handled. I just handled it by raisin

[2021-01-20 18:40] natematykiewicz commented on #35930
I still think it's actually a regression, though we're only noticing it a few years later.

[2021-01-20 19:22] rafaelfranca commented on #41123
Looking the output the `bin/yarn` file is not even being executed. Not sure why the exec format is invalid on windows. Maybe because of the `@` or `^`?

[2021-01-20 19:45] jonathanhefner commented on #41123
I believe it's because Windows can't run shebang scripts, i.e. any bin stubs.  We have a [note to this effect](https://guides.rubyonrails.org/v6.1.0/getting_started.html#starting-up-the-web-server) in the Getting Started guide.  I was planning to open a PR to address this either today or tomorrow.

[2021-01-20 21:12] des-albert commented on #41123
Has this issue changed since rails 6.0.3 ?  After a downgrade, the problem did not a occur. Something has clearly changed between 6.0.3 and 6.1.1

[2021-01-21 01:58] BrendonW commented on #32947
It used to be possible to just set:
`config.assets.initialize_on_precompile = false`
in the application.rb or wherever you enable the asset pipeline.

After all, you just want to precompile the static assets.

But that was removed, so now precompiling the assets for container deployment now requires not only the secret keys, but a database connection. I can't fathom why this is considered a good i

[2021-01-21 02:02] viniciusalonso commented on #41185
Hey @anson2590, could you provide a bit more context about the problem that are you trying to solve?

[2021-01-21 04:23] sergiopantoja commented on #40957
I hit this as well and it turned out to be an issue with my code. For anybody else coming across this, double check that you're using Ruby 3's new keyword argument syntax correctly.

[2021-01-21 05:04] SampsonCrowley opened #41195 "ActiveRecord::Persistence#becomes doesn't handle virtual attributes"
### Steps to reproduce

Add a virtual attribute to an inherited model, and use `#becomes` from either the parent to the child or the child to the parent

### Expected behavior

Virtual Attributes should be correctly initialized and there shouldn't be any errors, since they have nothing to do with the database

### Actual behavior

an `ActiveRecord::UnknownAttributeError` is thrown if you try to go

[2021-01-21 05:10] haroldus- commented on #35002
How to do @felici migration without running callbacks and touching updated_at column on the associated Post record?

[2021-01-21 09:16] #40335 closed

[2021-01-21 09:44] FlickStuart commented on #41038
Hi @rafaelfranca is there anything else I can usefully add apart from the bisected commit hash?

[2021-01-21 10:39] anson2590 commented on #41185
hey @viniciusalonso Thank you, Issue got resolved by adding this code
`Rails.application.reload_routes!`

we are good to close this issue

[2021-01-21 10:39] #41185 closed

[2021-01-21 10:55] aliismayilov commented on #41172
I wouldn't think this is intentional. From my understanding of the docs and release notes is that `rails_storage_proxy` should generate proxy URLs by default. In case you need to use the redirect strategy while the default is proxy, you'll need to use `rails_storage_redirect_url`.

[2021-01-21 11:16] intrip commented on #41100
@cklatt thanks!
I'll wait for the input from @gmcgibbon as well before starting so that I don't work on something which will eventually be rejected 😄

[2021-01-21 11:45] intrip commented on #41151
@weistom thanks!
since you are here would be great if you could create a reproduction script to test the issue: could you please do that?

[2021-01-21 14:08] jjb opened #41196 "idle_timeout behavior and documentation"
My testing seems to suggest that the idle_timeout configuration is only relevant if the reaper is running. The [documentation](https://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/ConnectionPool.html#class-ActiveRecord::ConnectionAdapters::ConnectionPool-label-Options) does not mention this.

The only place I could find `.flush` invoked is in the reaper, so this seems to match my ob

[2021-01-21 14:10] #40389 closed

[2021-01-21 14:18] intrip commented on #41190
@tpkonrad I'm pretty sure this is not a bug: the `inverse_of` purpose is only to make [associations update working in both directions](https://guides.rubyonrails.org/association_basics.html#bi-directional-associations).

`inverse_of` works from the `has_many` but not from the `belongs_to` because the latter is not needed.
Check for example [this gist](https://gist.github.com/intrip/a9c83650e346d09

[2021-01-21 14:59] Loschcode commented on #37407
I've this exact same problem as well. It's definitely still present and breaks my tests. Took me hours to find this issue

[code]

This is running but it wasn't when I was on Rails 5.2.

[2021-01-21 15:44] tpkonrad commented on #41190
@intrip thanks for your answer. I understood what you said, but for me it still doesn't make sense for **#inverse_of** and **#has_inverse?** methods to return nil when **both** directions (:belongs_to and :has_many) were informed.

I'm not sure if It's related, but if you take a look at [ActiveRecord::Reflection::AssociationReflection docs](https://www.rubydoc.info/docs/rails/ActiveRecord/Reflecti

[2021-01-21 15:50] intrip commented on #41128
I think you can deal with the issue by pulling master and running the migration before dealing with the conflicts

[2021-01-21 15:53] sergiopantoja opened #41198 "current_page? breaks with Ruby 3 keyword arguments"
Passing keyword arguments ([as shown in the docs](https://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-current_page-3F)), throws `ArgumentError (wrong number of arguments (given 0, expected 1))`.

Passing a string or hash like `current_page?({action: 'index'})` still works, which is why the Rails test suite is currently green for these tests: [url_helper_test](https://git

[2021-01-21 16:00] kriom commented on #41128
Yes but when, in my branch, I have several commits with a migration in each one and that I rebase over the target branch of the merge I get a conflict on each commit which is boring.
So a workaround is that I squash all my commits during the rebase but my colleagues don't like it too much for code review.

[2021-01-21 16:11] intrip commented on #41190
Leaving this to the core team, I'm not even totally sure if that method is part of the [public_api](https://guides.rubyonrails.org/v5.2/api_documentation_guidelines.html#method-visibility) or not 🤷‍♂️

[2021-01-21 16:52] s-andy commented on #25666
Those, who do not use devise_invitable, also have this problem with `attr_accessor`, so I'm not sure, why the issue was closed...

[2021-01-21 18:39] yagudaev commented on #37835
There are still legitimate cases where someone would want to use the `lib`. Mainly, it is code that is not specific to the application domain. Putting it in `app/lib` seems weird. There are a few concrete cases I use the lib folder for namely: reports, search, analytics, importing, exporting, integration to private apis without a gem.

Anything in the lib folder should be extractable to a separate

[2021-01-21 18:47] duane-at-cosell opened #41202 "Run rails database tasks on just development environment"
### Steps to reproduce

Use virtually any task in the `db:` namespace.

### Expected behavior

The tasks operate on a single environment, either whatever is specified in `RAILS_ENV`, or `development` by default.

### Actual behavior

Database tasks operate on both development and test. This makes operating on just the development environment impossible. If I am connected to the test database, I ca

[2021-01-21 18:58] jeffblake commented on #36546
For me it was this in an initializer:

`ActionMailer::Base.add_delivery_method :sendgrid, SendgridDelivery`

Changing it to

[code]

Fixed it.

[2021-01-21 18:58] malomalo commented on #41137
`url` has been used from Rails 4.1, as of Rails 6.1 it is not passed in the config option to any database adapter #41144 unless the url starts with `"jdbc"`.

To grab url either
- prefix your url with `"jdbc"`
- unofficially monkey patch `DatabaseConfigurations#build_db_config_from_hash` 😱.
- reconstruct what would have been the db configs with the url from from `ActiveRecord::Base.configurations`

[2021-01-21 18:58] #41137 closed

[2021-01-21 19:09] duane-at-cosell commented on #41202
I see this is a known issue; I'm fine to just register another pain point. Closing.

[2021-01-21 19:09] #41202 closed

[2021-01-21 19:15] #41123 closed

[2021-01-21 19:30] rafaelfranca commented on #41128
It is possible to remove the schema version from the schema, but I don't recommend you doing it, and we are not going to change Rails default behavior to be like that since it causes more confusing problems than merge conflicts. It is there so Rails knows which migrations were already run to generate that schema. Without it Rails would need to run every single migration, every time, causing your a

[2021-01-21 19:31] #41128 closed

[2021-01-21 19:54] jcoyne opened #41204 "Rails 6.1 Can no longer find ActiveStorage::Blob by signed id"
In Rails 6.0 I'm able to do this:
[code]

In Rails 6.1 doing the same thing doesn't work:
[code]

[2021-01-21 19:58] jcoyne commented on #41204
I believe this is because in 6.0 ActiveStorage::Base set the purpose to `:blob_id`:

[code]

[2021-01-21 19:59] jcoyne commented on #41204
Using `ActiveStorage::Blob.find_signed!` in 6.1 does find the record.

[2021-01-21 20:10] #40330 closed

[2021-01-21 22:55] gmcgibbon commented on #41171
Added in https://github.com/rails/rails/pull/41181. Thanks for contributing!

[2021-01-21 22:55] #41171 closed

[2021-01-22 02:02] gmcgibbon commented on #41100
I agree. I think it would be a good change to give feedback to the user regardless of the environment that says "No migrations ran." or something along those lines. One thing to note here is that if we log here we need to do the same in rollback so the experience is consistent across commands. I believe this also justifies moving rollback to `DatabaseTasks`.

I think appending it to migrate's no-o

[2021-01-22 03:21] gmcgibbon commented on #41120
I can't reproduce this. Please provide an example app that demonstrates the issue.

[2021-01-22 06:12] foxlance opened #41209 "NoMethodError: undefined method _deprecated_scope_block for ActiveRecord::AssociationRelation"
### Steps to reproduce
Our app is currently at **Rails v6.0.3.4** and **Ruby 2.7.2**. We would like to upgrade to Rails **v6.1.1**

Bundle update went well, but some of our specs started failing, particularly around our usage of `first_or_create`.

[code]

Tried this with **Rails v6.1.0** with the same result.

### Expected behavior
- The `Amenity` model should be created.

### Actual behavior
- W

[2021-01-22 07:27] weistom commented on #41151
Sure. I tested on Rails v6.1.1 and sqlite3 v3.32.3.

[code]

[2021-01-22 07:58] intrip commented on #41100
@gmcgibbon I am still interested. Will work on a PR.

[2021-01-22 08:02] kriom commented on #41128
Thank you very much for this answer and this elegant solution based on git attributes. :+1:

[2021-01-22 11:19] intrip commented on #41198
@kamipo I've created a #41206 to fix this issue, could you please take a look?

[2021-01-22 14:32] dhh opened #41213 "Remove legacy media=screen default from stylesheet_include_tag"
Let's fix this:

[code]

We can add a `config.assets.stylesheets.media_default`, or something like that, and have it default to "screen" for existing apps, but nothing for new apps. Then remove the media: "all" overwrite from the scaffold templates.

[2021-01-22 14:49] andrehjr commented on #41213
I'd like to work on that 🙌  Will push a PR later today

[2021-01-22 15:37] jcoyne commented on #41204
@composerinteralia I think I'm fine with just using `ActiveStorage::Blob.find_signed!` It was just an unexpected surprise when upgrading.  Perhaps a better fix is to add a note to the upgrade guide or to deprecate the usage in Rails 6.0.x

[2021-01-22 18:51] drindc24 commented on #32152
Same issue. Hopefully someone can help

[2021-01-22 20:35] malomalo commented on #41137
Fixed for urls that start with "http", "https", or "jdbc" in #41144

[2021-01-22 20:48] culov commented on #32152
Not totally sure what I did to fix it, but here are my current settings in production.rb

   config.action_cable.mount_path = ":8080/cable"
   config.action_cable.url = 'wss://my-domain.com:8080/cable'
   config.web_socket_server_url = "wss://my-domain.co:8080/cable"

[2021-01-22 23:07] #41048 closed

[2021-01-23 02:29] jayqui commented on #40214
[Discussion is ongoing](https://github.com/rails/rails/pull/40254#issuecomment-760338123) in the PR. I'm new around here and unsure whether this issue should be re-opened. In any event, I cannot find a way to re-open it, so perhaps there's my answer.

[2021-01-23 06:06] brodock commented on #35499
@rafaelfranca could you weight here on the proposal? Do you think it's fine to use an optional flag to disable the warning? (the whole thing already works, so we are only removing the guardrails)

also could you please reopen the issue? :)

[2021-01-23 06:53] #41198 closed

[2021-01-23 08:55] sufyaniqbaldev opened #41216 "Flow"
There is no work flow in whole documentation.
examples vary on every point.

[2021-01-23 09:51] mahfuz10 commented on #31524
For my flutter app, request origin was nil. So, needed to add `nil` in the list.

I have added this code in `config/environments/development.rb`, and it works!

[code]

[2021-01-23 13:40] composerinteralia commented on #41216
Closing, since this is not actionable. We welcome contributions to improve the documentation.

[2021-01-23 13:40] #41216 closed

[2021-01-23 18:46] composerinteralia commented on #41209
As far as I can tell all references to `_deprecated_scope_block` within Rails were removed in Rails 6.1 via https://github.com/rails/rails/commit/255a7ef7b09ba96f92c7c8a8d59666314551f454. Your code or another library you are using might still reference `_deprecated_scope_block`. Seeing more of the stack trace might help narrow it down, but I'm going to close this issue since it doesn't seem like t

[2021-01-23 18:46] #41209 closed

[2021-01-23 18:47] gobijan opened #41221 "Action Text with Sprockets"
The turbo-rails gem works with sprockets or webpacker.

@dhh mentioned in tweets and interviews that he is considering Rails 7 to not offer webpacker by default.

Tailwind-rails gem is another step into webpacker free plain old rails.

Therefore it makes sense in my opinion to also change actiontexts install routine to support sprockets in case webpacker is not installed.

Is this worth investigat

[2021-01-23 19:11] composerinteralia commented on #41204
I think it's worth having both methods available. I've opened https://github.com/rails/rails/pull/41222 to address.

[2021-01-23 20:58] composerinteralia commented on #41177
Nothing is coming to mind for me. Could you provide an [executable test case](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case) or a sample application that reproduces the problem? Without that there is not much we can do to help unless somebody happens to have a hunch.

[2021-01-23 21:41] composerinteralia commented on #41172
It looks like when we added proxying in https://github.com/rails/rails/pull/34477 the `rails_blob` and `rails_representation` url helpers didn't come along for the ride. Unsure whether that was intentional, but one way to fix would be to change:

https://github.com/rails/rails/blob/af9c910db799ab1f238b2e8116f8099f76164b6c/activestorage/config/routes.rb#L18-L24

[code]

and

https://github.com/rail

[2021-01-24 04:14] #41204 closed

[2021-01-24 07:52] aliismayilov commented on #41172
@composerinteralia please see https://github.com/rails/rails/pull/41186

[2021-01-24 15:52] composerinteralia commented on #41172
Ah, I totally missed your PR. Left one comment, but what you did makes sense to me.

[2021-01-24 16:51] jonathanhefner commented on #41120
This sounds like rails/sprockets#183.

[2021-01-24 18:00] #40307 closed

[2021-01-24 21:00] #40408 closed

[2021-01-25 07:00] helmiItsavirus opened #41231 "Bug - Failed to call custom method on validation repeatly"
### Steps to reproduce
**Call multiple times custom method on validation on my model e.g**
[code]

### Expected behavior
We can call multiple times custom method on the validation separate by context e.g on: :create_user or on: :update_user

### Actual behavior
The validation only works on one context e.g on: :create_user and the second validation on: :update_user doesn't work.

If we want the val

[2021-01-25 07:00] #40358 closed

[2021-01-25 07:56] yoones commented on #41177
Did your sidekiq process take into account the new code change or is it still running on previous release?

[2021-01-25 12:24] ce07c3 commented on #40318
Still an issue.

[2021-01-25 12:42] eugeneius commented on #41196
Rails 5.2 is no longer supported outside of security fixes. Can you reproduce this behaviour on 6.1 or main?

[2021-01-25 12:56] jjb commented on #41196
Alas, I won't have time to do that - looking at the code in main, and 6.0 and 6.1 release notes (no mention of behavior changing there) I'm guessing it's still the case

@matthewd if you have a minute, maybe you could chime in about what intended behavior is?

[2021-01-25 14:08] #39900 closed

[2021-01-25 14:24] louim commented on #41231
Hey @helmiItsavirus

Callbacks to the same method should be registered at the same time, eg:
[code]
Else, the last definition will overwrite the first, making only one of them work.

[2021-01-25 14:45] composerinteralia commented on #41231
I think this is roughly the same as other callback issues like https://github.com/rails/rails/issues/19590 and https://github.com/rails/rails/issues/41169. Overwriting is the expected behavior here, and `validate :check_username on: [:create_user, :update_user]` sounds like a reasonable solution.

I wonder if there is some documentation we can add to make this clearer to folks.

[2021-01-25 16:08] #40418 closed

[2021-01-25 16:30] yshmarov opened #41235 "Custom scaffold templates broken in Rails 6.1"
I want to override scaffold templates, so I have updated them in my folder:
![quest](https://user-images.githubusercontent.com/13472945/105734226-b2efde00-5f32-11eb-9af2-a95d12037b52.png)

However with the setting in application.rb:
[code]
my local scaffold templates don't override the ones from rails, like [this one](https://github.com/rails/rails/blob/main/railties/lib/rails/generators/erb/scaff

[2021-01-25 16:30] eileencodes commented on #41231
Is there an incorrect blog post out there? This is the second time in a month we've gotten a report like this and I'm pretty sure this is well documented behavior.

[2021-01-25 18:11] eileencodes commented on #41202
You can do this in Rails 6.1 with `SKIP_TEST_DATABASE`. See https://github.com/rails/rails/pull/39027

[2021-01-25 19:34] duane-at-cosell commented on #41202
@eileencodes I appreciate the heads up, thank you!

[2021-01-26 04:51] helmiItsavirus commented on #41231
Thanks, @composerinteralia, I will close the issue and I will try to figure out the issue on like [#19590](https://github.com/rails/rails/issues/19590) and [#41169](https://github.com/rails/rails/issues/41169)

[2021-01-26 04:51] #41231 closed

[2021-01-26 10:16] remofritzsche opened #41239 "Joining same table multiple times with where fails in ActiveRecord 6.1"
### Steps to reproduce

The following script is able to reproduce the (alleged) bug. To run it:

* Save it, i.e. as `test.rb`
* Change the MySQL database credentials if necessary (you need a MySQL server)
* Run the script:
  * `ruby test.rb 6.0.3.4` => Works
  * `ruby test.rb 6.1.1` => Broken

[code]

### Expected behavior

We would expect ActiveRecord 6.1.1 to produce the same or a similar query

[2021-01-26 12:08] janko opened #41240 "Unable to set default JSON value on a text column with MariaDB"
### Steps to reproduce

[code]

### Expected behavior

I expect that `my_records.col` column default value will be set to `'[]'` (empty string in SQL).

### Actual behavior

The `my_records.col` column default value gets set to the SQL equivalent of `'\'[]\''` (`"'[]'"` in Ruby), which fails to get JSON-parsed when the record is saved. The error with reversed stack trace (sorry):

[code]

I've tri

[2021-01-26 14:02] intrip commented on #41100
@gmcgibbon I've created #41234.

I'd like some feedback:
- The PR introduces a warning only for the `migrate` command, because `ENV["SCOPE"]` [only affects migrate command](https://github.com/rails/rails/blob/main/activerecord/lib/active_record/tasks/database_tasks.rb#L271-L284).
- I'm completely open in extending `SCOPE` in order to work with the other commands for consistency sake (e.g `rollback

[2021-01-26 14:36] remofritzsche commented on #41239
Quick update: A bisect shows that 999bf3d0977edc48a18e943f24669dfe4bbdda54 did break my test.

[2021-01-26 15:01] ccassar opened #41241 "StatementInvalid"
### Steps to reproduce

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

[2021-01-26 15:02] ccassar commented on #41241
In error

[2021-01-26 15:02] #41241 closed

[2021-01-26 15:16] kamipo commented on #41239
In Rails 6.0, `Leaf.joins(node: :parent).where(noop: { noop: { parents_nodes: { parent_id: 123 } } })` worked, but multi-level hash condition is quite useless.

In Rails 6.1, top-level hash key would be used as join alias if possible by #40106.

Can you avoid multi-level hash condition, just do `Leaf.joins(node: :parent).where(parents_nodes: { parent_id: 123 })`?

[2021-01-26 15:27] stevecondylios opened #41242 "Note that Active Storage's default file naming convention alleviates the need for file name sanitation"
In the [File Uploads](https://guides.rubyonrails.org/security.html#file-uploads) section of the Securing Rails Applications Rails Guide, it may be useful to make a small note mentioning that Active Storage's default behaviour (i.e. to generate a random file names, rather than using anything based on the original file name) alleviates the need for file name sanitation.

This will allow a lot of dev

[2021-01-26 16:50] sshaw opened #41243 "`ActiveModel::Dirty#changed?` is `true` for Newly Instantiated STI Models"
### Steps to reproduce

[code]

### Expected behavior

`Child.new.changed?` returns `false`, changes to `inheritance_column` are ignored (though in the case of an _update_ to this column, what the proper behavior is is debatable).

### Actual behavior

`Child.new.changed?` returns `true`

This is because the STI column is set to the subclass name. This is an implementation detail of how a class hi

[2021-01-26 17:35] remofritzsche commented on #41239
Thanks for your answer, your suggestion indeed works. But I think the status quo is not optimal, as :

* Multi-level hash conditions are generally supported (there is no exception telling you otherwise)
* The upgrade guide does not mention anything, and this might break a lot of queries in an application

I would therefore suggest one of two ways going forward:

1. Leave the implementation as-is,

[2021-01-26 17:36] mperham opened #41244 "ActionMailer does not timeout network connections by default"
I have a Sidekiq customer complaining of a lot of "stuck" threads. He sends a lot of email so I suspected misbehaving SMTP servers.

The `mail` gem has support for timeouts here but they default to `nil`:

https://github.com/mikel/mail/blob/7b3e100f42f2d7738c3af7bf1909777568270b67/lib/mail/network/delivery_methods/smtp.rb#L91

Rails does not appear to set them by default:

https://github.com/rails

[2021-01-26 18:33] pierrea commented on #29992
@jbranchaud Great, thanks
And I guess we can do this from the configure block to avoid repeating ourselves:

[code]

[2021-01-26 18:55] RobinDaugherty opened #41245 "Confusing documentation of FormHelper#form_with and `form_with_generates_remote_forms` config"
With Rails 6.1, a configuration option `action_view.form_with_generates_remote_forms` was changed to default to `false`. The [documentation for the `form_with` method](https://github.com/rails/rails/blob/a0908477cfe2c52ffbb1a0a18a064b6dd7c255a2/actionview/lib/action_view/helpers/form_helper.rb#L607-L610) does not make it clear whether the default behavior is to be "remote" or "local".

This is con

[2021-01-26 19:08] rafaelfranca commented on #41245
The documentation says: `By default form submits via typical HTTP requests.`. Which mean that is local.

After that is says: `Enable remote and unobtrusive XHRs submits with <tt>local: false</tt>.` which tells that to enable remove you need to set `local: false`

What would make that message more clear? If you have ideas, please open a PR, but the intent is what `form_with` generates forms without

[2021-01-26 19:18] ngouy commented on #22100
any update on this? Issue is still ongoing in last rails version (6.0.3.4)

[2021-01-26 19:50] davideluque opened #41246 "Does Rails 6 bulk insert support strong parameters?"
I am implementing batch/bulk insert in a rails application, in API-only mode. The data that I am inserting comes from an array of hashes, where each hash is a record of the "report" model.

### Steps to reproduce

**Controller**
[code]

**JSON Test Data**
[code]

### Expected behavior
The two records are inserted into the database.

### Actual behavior
It seems that strong parameters work by permi

[2021-01-26 20:02] rafaelfranca commented on #41246
Thank you for the issue.

Think about `insert_all` as a low level operation. Active Record will not only try to use the attributes that are defined to the models. It is also not going to automatically generate the timestamps. If you are using `insert_all` you need to only pass attributes that exists and you need to deal with all values that are not null and have no default set in the database.

[2021-01-26 20:02] #41246 closed

[2021-01-26 20:02] louim commented on #41246
About the absence of auto-generation for created_at, updated_at, this is how it works currently. There is a lengthy discussion about why in this issue and the related PR: https://github.com/rails/rails/issues/35493

[2021-01-26 20:12] rafaelfranca commented on #41244
Yes

Yes

I think we should do both.

I marked the issue with the "Good first issue", but if you want to do or get your customer involved with contributing to Rails, please go ahead.

[2021-01-26 20:23] andrehjr commented on #41244
Unless @mperham wants to do it. I can make that PR 🙌

[2021-01-26 20:35] mperham commented on #41244
Be my guest. 👍

On Tue, Jan 26, 2021 at 12:23 André Luis Leal Cardoso Junior <
notifications@github.com> wrote:

[2021-01-26 20:53] egiurleo opened #41247 "Response of ActiveRecord #pluck method changes (in specific case) between 6.0 and 6.1"
Hello!

I noticed that the response of the the `ActiveRecord` [pluck](https://github.com/rails/rails/blob/main/activerecord/lib/active_record/relation/calculations.rb#L183) method has changed between Rails 6.0 and 6.1 when trying to aggregate on an empty `Relation` or `AssociationRelation` object.

### Steps to reproduce
I have an example Rails app with failing tests set up in a repository. My tes

[2021-01-26 21:27] orhantoy opened #41249 "Scoped and namespaced routes differ when nested"
### Steps to reproduce

I thought `scope` was similar to `namespace` but here is a script that IMO shows an unexpected difference:

[code]

Feel free to disregard if this is as intended. Perhaps the docs could be updated to explain the difference.

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 6.1 (but the behavior appears to be the same all

[2021-01-26 21:46] rafaelfranca commented on #41249
Why did you thought they were similar? I mean `namespace` uses `scope` in its implementation, and `scope` with the same options than `namespace` uses by default would give the same result, but other than that the methods do different things.

[2021-01-26 22:00] orhantoy commented on #41249
I can't get `scope` to behave the same way as `namespace` in the example I gave. I think the use of `path_scope` in `namespace` is what makes the difference, but that's a private API.

As to why I thought they were similar: `namespace` and `scope` are described in similar ways, so I assumed that they worked similarly, which they almost do, except when nested under `resource`.

[2021-01-26 22:09] orhantoy commented on #41249
I just tried this

[code]

and now I'm getting the expected result:

[code]

I can submit as PR if you agree with the change, but then again, it is a breaking change, so I'm not sure 🤷

[2021-01-26 22:09] rafaelfranca commented on #41247
Thank yu for the issue. This is by design. See https://github.com/rails/rails/commit/0d0c30e534af7f80ec8b18eb946aaa613ca30444 and https://github.com/rails/rails/pull/37266

[2021-01-26 22:09] #41247 closed

[2021-01-26 23:58] #41100 closed

[2021-01-27 00:06] #41213 closed

[2021-01-27 00:12] rafaelfranca commented on #41249
Ahhh, now I see what you mean. Yeah, it is because `namespace` is overridden on inside the resources DSL. I think that changes make sense, but this will probably break some application. We need to think on how people can get the previous behavior and maybe suggest which changes need to be done using a deprecation?

[2021-01-27 00:52] milani opened #41250 "ActiveRecord updates counters when it shouldn't"
### Steps to reproduce

Here is a test case:

[code]

### Expected Behaviour

The test should pass. Since there is no `counter_cache` defined for the comments-posts relation, I don't expect its counters get the updates.

### Actual Behaviour

The test fails:

[code]

### The Cause

It is happening because a `belongs_to` relation is defined for the `User` model. The root of the problem is here:

ht

[2021-01-27 09:35] xuanchien commented on #38668
I got the same issue in one project today (also with Stimulus). I had to work around this by delaying the "create subscription" process a bit using setTimeout (500ms). I am not sure if there is any other better way to do it.

[2021-01-27 14:08] intrip commented on #41151
@weistom
What happens is that the query result contains multiple columns with the same name; in such situation AR will loop through them and consider consider the last one as source of truth, you can also reproduce this issue with the following sql`Article.joins(:author).select('articles.*', 'authors.*').find(1)`.

There's nothing much that we can do in such situation because AR doesn't know which

[2021-01-27 15:45] intrip commented on #41250
@milani are you panning to open a PR to fix this? Otherwise I'd give it a try.

[2021-01-27 16:53] milani commented on #41250
@intrip not really. I am not sure about the best conditions to add there.

[2021-01-27 17:01] intrip commented on #41250
Allright, I'll take a look 🙂

[2021-01-27 18:48] inem commented on #40316
@nPaul could you share the mini-app where this bug is reproduceable?

@georgeclaghorn I would reopen this issue (or create a new one). I am getting very similar issue in production now - when a model was recently updated then attachments work fine. When it is not the case, then I get blank attachments.

[2021-01-28 01:49] delonnewman opened #41261 "Records deleted when new records are assigned to belonging association"
### Steps to reproduce
First, I should say, I'm not 100% certain that the maintainers would consider this a bug, but it does seem to be unexpected (at least for me) and undocumented behavior (from what I can see in the [documentation](https://api.rubyonrails.org/v5.2.4.4/classes/ActiveRecord/Associations/ClassMethods.html#method-i-has_many)).

[code]
Where a request with ID 1 exists in the databas

[2021-01-28 08:51] JelF opened #41265 "Non-descriptive error message in `render file: ...`"
### Steps to reproduce

[code]

### Expected behavior

Error with message "file /tmp/nothing does not exist"

### Actual behavior

Error with message "`render file:` should be given the absolute path to a file. '#{options[:file]}' was given instead"

Please note that this message is not correct, /tmp/nothing is an absolute path to a file, even when file does not exist

### System configuration
**R

[2021-01-28 10:26] taki opened #41266 "Ignore default value in case of using string type on enum"
### Steps to reproduce

[code]

### Expected behavior

`post.status` has published status.

### Actual behavior

`post.status` is nil.

### System configuration
**Rails version**: 6.1.1

**Ruby version**: ruby 3.0.0p0

[2021-01-28 10:34] jacobwalkr commented on #36546
Thanks for the advice, all. In our case, it's in `rubycas-client`, required by `devise_cas_authenticatable`: https://github.com/nbudin/devise_cas_authenticatable/issues/151.

It happens when calling `rake test` but not `rails test`, which I think has something to do with the Spring preloader.

[2021-01-28 11:53] intrip commented on #41156
@danothemen the key is that the `SchemaDumper` [calls `.inspect` on the query result](https://github.com/rails/rails/blob/v6.1.1/activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb#L82) which leads into escaping `\`.
This approach is consistent across the whole `SchemaDumper` classes, I don't think it's actually a bug.

looping into @kamipo for further feedback.

[2021-01-28 12:48] spaghetticode commented on #36027
Can this be reopened? the issue was closed because stale, no opinion from a Rails team member has been provided yet, and the issue is still there.

[2021-01-28 13:53] aliismayilov opened #41268 "Nested SQL query with new record `has_many`"
### Steps to reproduce

Given the following models:
[code]

### Expected behavior

[code]

### Actual behavior

[code]

### System configuration
**Rails version**: 6.1.1

**Ruby version**: 2.7.2p137

### Comments

Due to the fact that `shipment` is not persisted, `Address.where(delivery: shipment.deliveries)` generates an SQL query that always returns an empty relation.

[2021-01-28 14:21] danothemen commented on #41156
This results in a SQL syntax error when trying to set up the db from schema.rb, despite the original migration running just fine.

[2021-01-28 14:55] intrip commented on #41156
You mean that `rails db:schema:load` will raise an error in such situation ?

[2021-01-28 15:18] danothemen commented on #41156
I believe so, I was running `rails db:reset` though

[2021-01-28 15:29] pauc commented on #40608
We are experiencing the same behavior when upgrading to 6.1.1 in a preproduction environment, the error appears randomly, similar backtrace... Could be related somehow to this changes: https://github.com/rails/rails/commit/8589e8c236a58bb3755bae02d1eb2b6fac995956#diff-058ae7dda657cf52fe6046918ff3dc3e1f556588b9b81e5a9204eb768ac8063e? (long shot)

[2021-01-28 15:38] rmehner opened #41270 "wrong number of arguments (given 3, expected 1..2) on errors.add when given hash"
### Steps to reproduce

Use errors.add in your model to add validation errors:

[code]

### Expected behavior

Not throwing an error (which is Rails 6.0 behaviour)

### Actual behavior

`wrong number of arguments (given 3, expected 1..2)` on Rails 6.1

This boils down to a changed method signature between 6 and 6.1

6.0: https://api.rubyonrails.org/v6.0.0/classes/ActiveModel/Errors.html#method-i-a

[2021-01-28 16:39] abhaynikam commented on #41266
@taki In Rails 6.1, you could configure enum default on Model by using `_default` option. This change was introduced in PR: https://github.com/rails/rails/pull/39820

[code]

This should also work with default set on the database column. I think the enum should use string instead of symbol like: `published: "published"` 😊

[2021-01-28 16:50] kvokka commented on #40608
@pauc Trying to fix it, i upgraded Ruby from 2.5.8 to 2.7.2 on production, but it did not solve the problem (but saved a few Mbs of RAM anyway), so i do not feel like it's Ruby version related

[2021-01-28 18:17] abhaynikam commented on #41268
@aliismayilov Here is [script to reproduce this issue](https://gist.github.com/abhaynikam/6adeede658b5fc3a41b46525fe191f1f)

After spending some time debugging the mentioned issue, found that, ActiveRecord -> `AssociationQueryValue#ids` uses `select` which returns empty array for unpersisted `shipment.deliveries` relation whereas for `shipment.deliveries.to_a` array, it simple maps over object and

[2021-01-28 20:48] gudata opened #41271 "`where` with comparison operators (`>`, `>=`, `<`, and `<=`) do not work"
### Steps to reproduce
run in irb
[code]
The same goes for numbers
[code]

### Expected behaviour
I expect to see correctly formed SQL expression.
```"static_pages"."created_at" >= '2021-01-26 20:41:26.987327'"```

### Actual behaviour
Instead, the comparing operator is merged into the field name.
```"static_pages"."created_at >=" = '2021-01-26 20:41:26.987327'"```

### System configuration
6.1.1

[2021-01-28 20:54] rafaelfranca commented on #41271
Yes. That doesn't work. #39613 was reverted.

[2021-01-28 20:54] #41271 closed

[2021-01-28 23:52] #41172 closed

[2021-01-29 05:37] weistom commented on #41151
@intrip
Thanks. I see.
As you said, would be kind to print a warning in such situation.

Otherwise, I came up with manipulating `select_values` to put `*` to the last, but it seems difficult to cover all the patterns..
[code]

[2021-01-29 09:07] dashingspidy opened #41274 "initialized object create an empty record in views"
### Steps to reproduce
Try to initialize a new object using one to many relationship model like : `@todo_list.todo_items.build`

`todo_list.rb`
[code]
`todo_item.rb`
[code]
`todo_items_controller.rb`
[code]
`todo_items/index.html.erb`
[code]

### Expected behavior
should only return list of data from database

### Actual behavior
It creates an empty object. Also shows an extra` li `tag inside view

[2021-01-29 09:29] intrip commented on #41151
I'd be happy to create a PR for that but I'd like some feedback from the core team before moving ahead.

[2021-01-29 09:44] taki commented on #41266
@abhaynikam Thank you for information. I use `_default` and I close this issue 👍

[2021-01-29 09:44] #41266 closed

[2021-01-29 10:03] weistom commented on #41151
Thank you !

[2021-01-29 12:59] jsierles commented on #40269
Did any behavior around enum validations in Rails 6.1? I ran into an issue during the upgrade. Given this scope:

`scope :any_major, -> { where(certification_kind: %w(major partial_major)) }`

and

`Certification.any_major.new`

Rails 6.0 allows this, but 6.1 will issue

`ArgumentError Exception: '["major", "partial_major"]' is not a valid certification_kind`

[2021-01-29 18:08] intrip commented on #41156
Yes, looks like there is an issue when we try to load the generated schema, you can reproduce it with [this gist](https://gist.github.com/intrip/180694fc9a2f1f99481d5f93df74fd51).

I'll take a deeper lock and let you know.

[2021-01-29 19:23] louim commented on #41274
Hey!

This is the expected behavior since [this PR](https://github.com/rails/rails/pull/34533) because the object is added to the in-memory association. If you want the collection from the database, you can either call `reload` on the association `@todo_items = @todo_list.todo_items.reload` or you can build your object separately, eg: `TodoItem.new()`. You could also only display persisted object

[2021-01-29 20:54] fatkodima commented on #41240
This will be fixed by #40822

[2021-01-29 21:33] fatkodima commented on #41235
Can't reproduce on master. Can you provide a minimal app reproducing an issue?

[2021-01-29 21:50] JasonBarnabe opened #41277 "ActionView::Helpers::TranslationHelper.translate no longer executes Proc as default option in Rails 6.1"
Rails 6.0.3.4:
[code]

Rails 6.1.1:
[code]

[2021-01-29 23:06] kaiquekandykoga commented on #41069
Issue resolved in https://github.com/MiniProfiler/rack-mini-profiler/pull/481.

[2021-01-29 23:06] #41069 closed

[2021-01-30 00:36] fatkodima commented on #41243
This behavior is explicitly stated in the documentation - https://api.rubyonrails.org/classes/ActiveRecord/Inheritance.html

So not sure if this is something that needs to be fixed and this will be a breaking change.

[2021-01-30 00:41] #41118 closed

[2021-01-30 01:51] #41274 closed

[2021-01-30 13:22] vandux commented on #40452
The issue persists. Please review.

[2021-01-30 14:18] fatkodima commented on #41170
You stated, that

but backtraces shows rails 6.1.1?

I followed the exact mentioned steps and can't reproduce with the latest code in the `main` branch.
Btw, the

step is really not needed, because rails defines this by default.

Can you provide a link to a minimal repro app that demonstrates the original issue?

[2021-01-30 14:29] ShubhamUnique commented on #41170
My bad, it's 6.1.1
yes, the pdf type is supported by default. Still added it as request was not getting recognized by respond_to

[2021-01-30 15:04] fatkodima commented on #40986
`bin/rails active_storage:install`

This command does not run a "generator" per se, but just simply copies the predefined engine's (`active_storage`) migration files (https://github.com/rails/rails/blob/main/activestorage/db/migrate/20170806125915_create_active_storage_tables.rb) into `db/migrations` folder.

Yes, while this feature probably will be useful, it will greatly complicate the existing

[2021-01-30 16:10] kentakag opened #41279 "#authenticate_with_http_token raises an exception from 6.1.1 If token.blank?"
### Steps to reproduce

1. Send http request with authorization header type, but without credentials
[code]

2. Use `authenticate_with_http_token` to check the token.
[code]

### Expected behavior

return nil.
Under 6.1.1, it did.

### Actual behavior

[code]
The cause is probably [this commit](https://github.com/rails/rails/commit/ad767034c968f425c68fc1c9b09f78acfe5a7757#diff-ccf87e7bf690e511bb23

[2021-01-30 16:12] fatkodima commented on #40493
This is how `marcel` actually detects the mime-type:
https://github.com/basecamp/marcel/blob/cce58f26c728980a2e1f9ba5fe0b11aedf43b283/lib/marcel/mime_type.rb#L15-L24

It looks for the "magic" header first, then name, then extension, etc. The `blobs.content_type` column's value is identified and set by ActiveStorage. The `active_storage_validations` then just basically string-compares the expected

[2021-01-30 16:13] kentakag commented on #41279
I've created a pull request.
https://github.com/rails/rails/pull/41280

[2021-01-30 17:41] fatkodima commented on #41176
I have run your repro app on my mac, but can't reproduce.
**Rails**: 6.0.3.4
**Ruby**: ruby 2.7.0p0
**MySQL**: 8.0.23 (but installed using docker)
**MacOS**: 10.14.6

Can you reproduce this issue on the latest code from `main` branch or using another OS?

[2021-01-30 19:23] colmexdev opened #41282 "6.1 Active Record can't switch between local and remote DB"
I'm trying to connect to a local postgresql DB to read and write some data and to a remote mysql DB to strictly read from it. Access to my local DB works just fine, but it seems that host parameter for remote DB is not used.

### Steps to reproduce
According to the actual Active Record settings for multiple databases, I've followed thiese steps.

I've got my _database.yml_ file set like this:

[co

[2021-01-30 19:27] #40955 closed

[2021-01-30 19:49] dan-jensen commented on #38285
The special `rescue_from` handling (introduced in [PR #34341](https://github.com/rails/rails/pull/34341)) no longer works, but @JoshCheek's [workaround](https://github.com/rails/rails/issues/34244#issuecomment-433365579) still does.

[2021-01-30 19:50] johnmaxwell commented on #41176
@fatkodima Thank you for taking the time to look at this. I will look into this and follow up.

[2021-01-30 22:12] fatkodima commented on #39514
I reproduced the issue.
The problem is not within using postgresql, but within some lock contentions while autoloading constants. I changed the rails version to `6.0` and the problem went away. So, you can either upgrade to rails >= 6.0 or for current version you can add
[code]

which also solves the issue.

[2021-01-31 00:11] tywhang commented on #41265
I've submitted a pull request to fix this: https://github.com/rails/rails/pull/41283

[2021-01-31 12:29] artur-beljajev commented on #37737
Though it seems `product.images.first.file.variant(resize_to_fill: [300, 450], convert: 'webp')` is served with the correct mime type of `image/webp`.

[2021-01-31 13:10] #40416 closed

[2021-01-31 21:15] #40332 closed

[2021-01-31 23:02] martinlevesque opened #41286 "Getting "ArgumentError (unknown keyword: ..." on any model load after upgrading to rails 6.1.0"
### Steps to reproduce

Hey, after I upgraded the rails version from 6.0.3 to 6.1.0 I started getting the following error when I try to load any model, illustrated via the console (same error happening in any environment):

[code]

The source code of my application is available here https://github.com/openode-io/openode-api/tree/upgrade-packages-jan-31
and failing test suite is here https://github

[2021-02-01 00:40] pvalena opened #41287 "ActionPack DriverTest#test_define_extra_capabilities* tests failing"
### Steps to reproduce
I've encountered the failure while running the tests in Fedora (while building Fedora packages for the Rails update).

### Actual behavior
[code]

### System configuration
**Rails version**: 6.1.1

**Ruby version**: 3.0.0

[2021-02-01 00:42] pvalena commented on #41287
Simple removal if the line with `browserName` (in tests) resolves this issue.

[code]

[2021-02-01 11:09] marcomd opened #41290 "perform_enqueued_jobs does not return the type of error raised in the job"
By executing perform_enqueued_jobs I do not get the type of error raised in the job but a generic Minitest::UnexpectedError

### Steps to reproduce

Having this job:
[code]

Execute this spec:
`rspec ./spec/jobs/my_test_job_spec.rb`

[code]

### Expected behavior
I expect the type of error to be the same as the exception raised.
More precisely, I expect that test to pass.

### Actual behavior
I go

[2021-02-01 13:02] Dantemss commented on #41239
I would also love to see official support for joining a table multiple times in 1 query. A common use case is when you need information from your users table multiple times from different users in different roles.

@remofritzsche unfortunately your proposed fix fails in the following case (Foo belongs_to Bar):

[code]

Seems like it breaks the table aliasing that was introduced in Rails 6.1. Witho

[2021-02-01 13:35] eileencodes commented on #41286
This isn't a Rails issue, it very likely is an issue with one of your gems - andand looks like a good place to start. We've fixed all the kwarg warnings in Rails and standard models shouldn't be throwing any warnings. If you can't reproduce this in a new Rails application without your extra dependencies then it's not a Rails bug. Good luck with the upgrade!

[2021-02-01 13:35] #41286 closed

[2021-02-01 13:35] #41279 closed

[2021-02-01 13:37] martinlevesque commented on #41286
@eileencodes thanks for the feedback, will deep debug it!

[2021-02-01 13:59] johnmaxwell commented on #41176
@fatkodima Thank you for your time looking into this problem. I have created a new repro app: https://github.com/johnmaxwell/parallelmysql61

This app was created the same way as the other but using Rails 6.1. I then upgraded the rails gem dep to rails/rails. Additionally, since you used a newer version of MySQL, I uninstalled and mysql 8.0.22 and cleaned up the mysql data and config files, and in

[2021-02-01 14:05] eileencodes commented on #41287
Thanks for the report.

If we remove `browserName` for Fedora tests they will start failing in our tests on the buildkite CI. It doesn't make sense for us to update tests for an operating system we don't test against. If this is a bug and `browserName` should be included, please report that to Selenium as Rails gets those options from the Selenium gem directly.

[2021-02-01 14:05] #41287 closed

[2021-02-01 14:23] eileencodes commented on #41282
I don't think there's anything special about remote databases and looking at the Rails tests host is definitely not ignored so something else is going on here.

Are you booting the application with the production env? Are your env vars properly set when booting the app? What do your database configurations look like after boot? Can you try to reproduce this in a sample application (without the pro

[2021-02-01 14:35] Jaroost opened #41294 "Custom column in before_create callback"
I don't know if it is really a bug. What I want to achieve is to fill a column before_object creation that contains the record id by year (call later number) with value like 21-001, 21-002, ... and for 22-001, ...
I also need that every record as his unique number.
### Steps to reproduce
with this model:
[code]

Now if I set a breakpoint on line ```break if GlobalRequest.where(number: self.number)

[2021-02-01 15:15] #39327 closed

[2021-02-01 15:54] lipanski opened #41295 "Scoping and initializing with IN queries fails for enums"
As [this comment](https://github.com/rails/rails/issues/40269#issuecomment-696769427) points out, enums are validated when set, not during the normal validation phase.

This triggers a side effect when initializing records via `scoping` while trying to match several enum variants in an IN query:

[code]

More importantly, the `first_or_initialize` and `find_or_initialize_by` methods are affected i

[2021-02-01 16:05] colmexdev commented on #41282
Actually, it's pretty weird. The problem relies on how `database.yml` values are parsed for the remote database password, which contains special characters for Ubuntu/YAML.

   Hardcoding the password on the file (as opposed to extracting it like an environment variable) works

[2021-02-01 16:05] #41282 closed

[2021-02-01 17:24] dmcbrayer commented on #41176
I'm having the same problem as John in this case.  We've added a couple of branches to the sample repo to isolate the problem.

In this one https://github.com/johnmaxwell/parallelmysql61/tree/dockerize-app we've dockerized the whole app, and there the tests seem to pass without issue with `docker-compose run web bin/rails test`

On this other branch https://github.com/johnmaxwell/parallelmysql61/t

[2021-02-01 17:38] fatkodima commented on #41176
Thanks, I have successfully reproduced the issue.
It seems the issue is within `mysql2` gem (or `mysql` client library it is a wrapper for). I guess, it is somehow erroneously closes the wrong file descriptors (one of them is for `drb`), on which `drb` then calls `wait_readable` and fails.
I will left this for someone with better skills on OS X debugging 😄

[2021-02-01 22:24] rafaelfranca commented on #41290
Related to https://github.com/rails/rails/pull/37313

[2021-02-01 22:47] CodingAnarchy opened #41299 "PG::ProtocolViolation: ERROR: bind message supplies 0 parameters, but prepared statement "" requires 2"
### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

When prepared statements are on, this works as expected. When they are turned off, this blows up on a Postgresql database with `PG::ProtocolViolation:  ERROR: bind message supplies 0 parameters, but prepared statement "" requires 2`

### System configuration
**Rails version**: 5.2.4

**Ruby version**: 2.6.6

[2021-02-01 22:58] rafaelfranca commented on #41299
When prepared statements is disabled Rails don't pass binds anymore and don't call the method in the adapter that knows how to deal with prepared statements. Since you are writing the SQL snipped using bind placeholders by hand there is no way to make this work.

You need to make the bind substituting yourself.

[2021-02-01 22:58] #41299 closed

[2021-02-01 23:29] CodingAnarchy commented on #41299
@rafaelfranca That doesn't appear to be the way that `exec_no_cache` works according to the Rails postgresql adapter as found here: https://github.com/rails/rails/blob/fc96b3bf3ede52e643a33692474b9e9198eddf65/activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb#L671-L685

It clearly has a section for type-casting and passing in binds, despite not caching any prepared statement.

[2021-02-02 04:27] jcoyne opened #41301 "Spring error running rails console specifying production envionment in rails 6.1"
### Steps to reproduce

In rails 6.0, I was able to run the production console by doing:

[code]

But after upgrading to Rails 6.1 doing this invocation without first setting RAILS_ENV causes a problem trying to load spring.

[code]

I do not have spring installed on this machine since I used `bundle config set --local without development:test`

The help message indicates this is should be possibl

[2021-02-02 04:29] jcoyne commented on #41301
I think this was introduced by #39746

[2021-02-02 06:10] thomasfedb commented on #20676
@rafaelfranca do you have any particular thoughts on the best way to address this? I could contribute a PR given a bit of direction.

[2021-02-02 10:47] intrip commented on #41156
I've pushed #41292 which should fix this.

[2021-02-02 13:32] Adrian-Hirt opened #41307 "Whitespace at start/end of query string triggers ActiveRecord::UnknownAttributeReference"
I hope this hasn't been discussed yet, didn't find anything in the issues.

### Steps to reproduce

* Create a DB table with some columns
* Use `pluck` to pluck the values of some columns, supplying the names of the columns in a string containing newlines as demonstrated in the tests in the ` FAILING TESTS` section:

[code]

### Expected behavior

All tests passing

### Actual behavior

The 3 test

[2021-02-02 15:30] ilvez commented on #27455
Really similar versions for my project as well. There we have connected the issue with Webpack dev-server. But now reading this issue here, the root cause may reside else.

[2021-02-02 15:47] jonathanhefner commented on #41301
The error occurs because `bin/spring` does not recognize the `-e production` option.  If you run

[code]

that should prevent `bin/spring` from attempting to load Spring.

Additionally, #40913 fixes the error by ignoring when Spring is not installed.  (Though if Spring is installed, it *will* be loaded when using the `-e production` option, which may not be desirable.)

[2021-02-02 15:47] #41301 closed

[2021-02-02 17:35] anuja-joshi opened #41310 "Inconsistency for timestamp column type"
### Steps to reproduce

1. Use `sqlite3` database adapter
2. Run following 3 migrations

[code]

[code]

[code]

3. Open db console using `rails db` console and check meetings table schema:
<img width="1440" alt="meetings rails db 2021-02-03 12-37-27" src="https://user-images.githubusercontent.com/5124042/106710881-a9463480-661c-11eb-906d-318e8f1486f6.png">

### Expected behavior

Both `start_time

[2021-02-02 17:40] troniez opened #41311 "Always got the warning: BigDecimal.new is deprecated; use BigDecimal() method instead when Rails Console Or Rspec"
### Steps to reproduce
I am using ruby version 2.6.6 and rails version 5.1.7.

When run rails console, or rails server or rspec I always get the warning

`ruby-2.6.6/gems/activesupport-5.1.7/lib/active_support/number_helper/rounding_helper.rb:37: warning: BigDecimal.new is deprecated; use BigDecimal() method instead.`

I did gg search, saw similar issues, but, my project not using gem mysql2 and t

[2021-02-02 17:44] eileencodes commented on #41295
I don't see how we could change `scoping` to make this work. The query is actually invalid - if you tried to do an INSERT with an IN it would fail even without `scoping` or `first_or_initialize`. (ie `User.create!(role: %w(user admin))`). I haven't spent much time in the `first_or_intitalize` code but I have been spending a fair amount of time in `scoping` lately. All it does is take the scope you

[2021-02-02 17:53] jcoyne commented on #41301
@jonathanhefner Thank you. Sorry I missed this as a duplicate.

[2021-02-02 18:03] eileencodes commented on #41311
This is fixed in Rails 5.2+ with https://github.com/rails/rails/commit/67b9dbcc1cfce6694ab18c9629b233979506fbf0, Rails 5.1 is no longer supported. In order to get rid of this warning you'll need to upgrade to 5.2

[2021-02-02 18:03] #41311 closed

[2021-02-02 19:04] #41156 closed

[2021-02-02 19:11] lipanski commented on #41295
@eileencodes what about moving the enum validation away from the setter and into the normal validation phase?

that's actually the unexpected element here and the blocker, because my intention was to overwrite the enum value anyway. if my field wouldn't have been marked as an enum, the code in the issue would have worked just fine.

[2021-02-02 21:54] ermolaev opened #41316 "Low perfomance for parsing time in ActiveModel"
### Steps to reproduce
[code]
https://github.com/rails/rails/blob/0fa44051c80a7928c37e829d3d048857265131b2/activemodel/lib/active_model/type/time.rb#L38

`fast_string_to_time` always return `nil`, because regexp `ISO_DATETIME` not intended for time start from `2000-01-01`https://github.com/rails/rails/blob/0fa44051c80a7928c37e829d3d048857265131b2/activemodel/lib/active_model/type/helpers/time_valu

[2021-02-03 00:10] #41316 closed

[2021-02-03 00:40] yshmarov commented on #41235
ok, will add one of these days

[2021-02-03 01:15] kamipo commented on #41295
Related #39683.

This behavior was due to the `In` node was a subclass of the `Equality` node (now the checking has migrated to `equality?` method).

i.e. It works unless IN queries, for example (BETWEEN):

[code]

I think that the `In` node was a subclass of the `Equality` node is accidental, so the behavior is almost a bug to me.

If we want to fix the behavior, it basically just removes `equali

[2021-02-03 03:12] johnmaxwell commented on #41176
Okay, so I was able to get parallel testing working in the repro apps working by installing the mysql2 0.5.3 gem using a non-mysql-8 mysql. I installed the mysql 5.7 client and used it when installing the mysql2 gem.

[code]

Even though the gem mysql2 is installed with the a mysql 5.7 client, it has no trouble connecting to a local MySQL 8.0.23 installed with Homebrew.
[code]

I suppose the next

[2021-02-03 04:29] souldzin opened #41320 "actionview test_case `render` throws exception when view renders `nil`"
### Steps to reproduce

[See GitLab MR comment for context](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/53093#note_499060593)

1. Given a view that can return early

[code]

2. Trying to render the `nil` case for this view will blow up

[code]

### Expected behavior

I would expect the above test :point_up: (or something) like it to pass.

### Actual behavior

It fails with a `no implici

[2021-02-03 08:37] keineahnung2345 commented on #36075
As an expediancy, I directly edit `db/schema.rb`, add `pgroonga_text_term_search_ops` with `_v2` suffix, then run my `RAILS_ENV=production rake db:reset DISABLE_DATABASE_ENVIRONMENT_CHECK=1 --trace` again to solve my problem.

[2021-02-03 11:00] aijkoopmans opened #41322 "ActiveStorage::Representations::RedirectController#show wrong number of arguments(given 1, expected 0) on variants created before updating to rails 6.1"
### Steps to reproduce
Create an image with variant on Rails 6.0 with the saver attribute and render it in the browser.
[code]
Upgrade to Rails 6.1 and try rendering it in the browser while looking at the logs.

The same things happens in the `ActiveStorage::Representations::RedirectController#show` when using the `combine_options` in the variant function on variants created in Rails 6.0 when tryi

[2021-02-03 14:59] RobinDaugherty commented on #41245
In #41276 I propose changes to this documentation. Some goals are laid out there.

[2021-02-03 15:34] jonathanhefner commented on #41301
@jcoyne No worries!  Thank you for opening an issue! :smiley:

[2021-02-03 16:38] chrisbloom7 opened #41323 "Defining a `config` action on a controller causes a `SystemStackError`"
### Steps to reproduce

1. Generate a new Rails app ([example Rails 5.2 app](https://github.com/chrisbloom7/rails-5-config-action-error), [example Rails 6.1 app](https://github.com/chrisbloom7/rails-6-config-action-error))

[code]

2. Create a new controller with two actions, with at least one named `config`, which render something simple

[code]

3. Create routes for the new controller and action

[2021-02-03 16:44] chrisbloom7 commented on #41323
Note you don't even have to call the `config` endpoint to trigger this. You could define another action on the same controller and call that and you'd still end up with a `SystemStackError`

[2021-02-03 20:01] eileencodes commented on #41310
Thanks for the report @anuja-joshi! I took a look at this and implemented a fix here https://github.com/rails/rails/pull/41324

For sqlite3, `timestamp` types should be converted to `datetime` according to the tests and code. While your report said they should both be `timestamp` my fix makes them both `datetime` since AFAICT that's the correct sql type for this columns and database.

[2021-02-03 20:22] rafaelfranca commented on #41323
Thank you for the issue. Unfortunately I don't think there is something we can do about this. There are some methods that every controller have and if you call an action with the same name you will override it. `config` is one of them but you could override `process`, `controller_path`, `action_methods`, `send_action`, `process_action`, `logger` and that would also cause problems.

Do you have sug

[2021-02-03 21:17] #41310 closed

[2021-02-03 21:18] #41124 closed

[2021-02-03 21:45] onhout commented on #31985
It's now 2021...

[2021-02-03 21:51] jcmorrow commented on #40690
Coworker of OP here - I can confirm that on our code base this is fixed by upgrading to `6.1`! 🎉

Thanks y'all!

[2021-02-03 22:29] gmcgibbon commented on #41307
`next if arg.is_a?(Symbol) || Arel.arel_node?(arg) || permit.match?(arg.to_s.strip)` works, but I think that's just to get around the exception. The SQL we log shouldn't have newlines and extra spaces in it:

[code]

We should fix that too. Either in the sanitize method, or beforehand.

[2021-02-03 22:49] #40690 closed

[2021-02-03 23:04] mockdeep commented on #29992
@pierrea as far as I can tell, you shouldn't need to set it for `action_mailer` if you set if for `Rails.application`. It looks like the `Rails.application` setting is global.

[2021-02-04 01:52] notactuallytreyanastasio commented on #37092
We are experiencing this on Rails 6.0.3.4 currently.

I would be happy to explore this issue if it is something that folks are open to.

We currently will be exploring ways to work around it tomorrow, but we are processing some 5 digit number of sidekiq jobs and keep getting this when we use any code with `ActiveRecord::Base.connection.execute` in our worker jobs (or, atleast, that is the current

[2021-02-04 02:00] gmcgibbon commented on #41323
We should add to the method definition hook on action controller base to raise a proper error here. I don't think there's much we can do about this otherwise.

A pattern you can follow in controller to get over this hurdle routes-wise is to create a new controller and route the `#index` action to plural resource names (eg. `get "/configs, to: "configs#index"`) and `#show` actions for singular reso

[2021-02-04 10:06] mkamensky commented on #41051
Please note my other comment https://github.com/rails/rails/pull/22610#issuecomment-749246114, which I think is a more serious issue

[2021-02-04 12:36] skipchris opened #41330 "Inconsistent behaviour in Hash.except between different Ruby/Rails versions"
When calling `.except` on a Hash in rails, the behaviour of the resulting Hash, _specifically_ its default value (but perhaps other things as well) changes depending on which Rails/Ruby combo you are using.

In Rails 5.x and below, `except` called `dup` on the Hash, meaning its default return value is preserved.

In Rails 6.0.x, this has changed to `slice`, meaning the Hash’s default return value

[2021-02-04 14:41] #40273 closed

[2021-02-04 14:58] sjieg commented on #39095
8 months later, but I think I know what happened because I was fiddling around with `db:setup` that was running the setup on both `development` *and* `test`.
I think what happened is that `rswag` was triggering a database script that should only run on `dev`, but got triggered by this Run `db:actions` also on `test` if the envrionment is `development`.
https://github.com/rails/rails/issues/27299

[2021-02-04 15:08] Adrian-Hirt commented on #41307
@gmcgibbon Agreed, sounds good as well, or even deprecating multi-column strings as you suggested in #41326, my main concern was that the behaviour is not intuitive. Thanks for the quick reply :+1: Let me know if I can be of any help, either here or in #41326 :smiley:

[2021-02-04 16:43] Juice10 commented on #39566
Would be great if `Capybara.server_host` would default to this hostname.
This cuts down on configuration in the test environment. Especially when setting up self signed SSL certificates for system tests and development.

[2021-02-04 17:16] Fjan opened #41336 "`rails test --fail-fast` doesn't fail fast with parallel tests"
### Steps to reproduce
Put a `fail` statement somewhere in your test suite and run
`PARALLEL_WORKERS=4 rails test --fail-fast`

### Expected behavior
Testing should stop after the failure is encountered

### Actual behavior
It kills one of the test workers but the other workers continue to complete the suite.

With `PARALLEL_WORKERS=1 rails test --fail-fast` it still works as expected.

### System

[2021-02-04 22:00] zedtux opened #41338 "Allow updating ActionCable protocols (JWT authentication)"
JWT authentication with ActionCable can be achieved passing the JWT in the WebSocket (sub)protocol so that the `ApplicationCable::Connection` can retrieves them from the `request.headers[:HTTP_SEC_WEBSOCKET_PROTOCOL]` hash.

There's [a gem](https://github.com/saravanabalagi/action-cable-react-jwt) doing exactly that but it is not maintained and it looks like the author import a version of ActionCa

[2021-02-04 22:14] chrisbloom7 commented on #41323
@rafaelfranca I don't have a specific fix in mind, but I like the idea proposed by @gmcgibbon - raising a proper error is preferable to a `SystemStackError` that doesn't point to a specific error (by its nature, and thus difficult to isolate to offending change, as in our original issue where adding a `chatop :config` suddenly caused other chatops to start failing in this way.)

[2021-02-04 23:40] rafaelfranca commented on #41323
We try to detect methods that can cause conflicts in Active Record instance and I'm not sure it is worth. People still override methods that they shouldn't without knowing and the complexity of that code in Rails only increase.

In my opinions this is just one of the pitfalls of using inheritance. If you define a method you can override a method of the superclass and this will cause unsuspected re

[2021-02-04 23:47] rafaelfranca commented on #41338
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in the [Rails Core discussion board](https://discuss.rubyonrails.org/c/rubyonrails-core/5) for feedback.

[2021-02-04 23:47] #41338 closed

[2021-02-05 01:01] gmcgibbon commented on #41323
Is it unreasonable to assume any _public_ method defined on a controller subclass is intended to be an action? I believe `config`, for example, could be overridden and made protected because it is typically used to check class level config. While trying to fix this I found most internals could simply change access level on the subclass if an override was desired.

I guess it really boils down to i

[2021-02-05 01:03] #41307 closed

[2021-02-05 01:13] shioyama commented on #41323
"expect controller subclasses to respond _publicly_ to anything other than action methods"

[2021-02-05 08:36] f-mer commented on #32276
There has been a similiar Problem with the `save` method (#796). The solution to this was rescuing the error.

Within your own application one can override the `update` method like this:

[code]

The proposed solutions may be cleaner but the risk of breaking things seems to be also higher.
I wrote a test and the change seems to have no negative side-effects within the testsuite.
If rescuing the er

[2021-02-05 15:11] El-Potato-Slayer opened #41345 "ActionText installation fails"
### Steps to reproduce
Run `rails action_text:install`

### Expected behavior
action_text should install successfully

### Actual behavior
Installation fails, and the following error is produced
[code]

### System configuration
**Rails version**: Rails 6.1.1

**Ruby version**: ruby 2.7.2p137

[2021-02-05 15:12] #40496 closed

[2021-02-05 15:30] jonathanhefner commented on #41345
Thank you for opening an issue!  This is a duplicate of #41123, and is fixed by #41200.

[2021-02-05 15:30] #41345 closed

[2021-02-05 16:18] psoldier opened #41346 "Active Storage add download_chunk for blob"
With active storage you cannot get chunks directly from the attached file. You can access to the download_chunk using a different path. For ex:
[code]

### Expected behavior
It would be better to delegate that behavior to the blob instance instead to be enabled to do something like:
chunk = movie.video.download_chunk(0..10.megabytes)

On the other side, when you have to process a block of code for

[2021-02-05 16:20] psoldier commented on #41346
I created a PR with this functionality :) #41297

[2021-02-05 16:21] rafaelfranca commented on #41323
Changing the visibility would not change the consequences of overriding. `process` needs to be a public method and this is not an action.

[2021-02-05 16:35] chrisbloom7 commented on #41323
I think it's worth noting that there's a difference in behavior with overriding `config` with something like

[code]

and

[code]

In the former, you'll likely end up with a `NoMethodError` that points very clearly to the source of the problem, i.e. the new config method, with a stacktrace likely pointing to the call site and then you can kind of figure out that it's a supermethod problem. However

[2021-02-05 16:41] chrisbloom7 commented on #41323
I agree that there's an inherent danger with overriding critical methods when using inheritance. This corner just felt particularly sharp to me for a number of reasons:

- That configurable model is included in ActionController as part of rails core, so it's not obvious that it exists
- The inherited `config` method is not a method one would normally reach for as part of typical work since it's in

[2021-02-05 16:46] chrisbloom7 commented on #41323
A sufficient enough fix for this could also be as simple as updating the actioncontroller docs with a list of reserved keywords which shouldn't be used as actions, as we do or attribute names in https://guides.rubyonrails.org/active_record_basics.html#schema-conventions

[2021-02-05 16:47] rafaelfranca commented on #41323
Yes. I agree we can document this.

[2021-02-05 16:48] chrisbloom7 commented on #41323
Great. I can tackle that, then. Can you think of any other keywords we should include along with `config`?

[2021-02-05 16:51] rafaelfranca commented on #41323
https://github.com/rails/rails/blob/main/actionpack/lib/abstract_controller/base.rb#L156-L297 is a good start, but there are many others in `ActionController::Metal` and `ActionController::Base`.

[2021-02-05 19:38] El-Potato-Slayer opened #41348 "rails action_text:install doesn't generate required files"
### Steps to reproduce
run `rails action_text:install` inside application root folder

### Expected behavior
The following should be produced
[code]

### Actual behavior
I get the following:
[code]

### System configuration
**Rails version**: Rails 6.1.1

**Ruby version**: ruby 2.7.2p137

[2021-02-05 20:05] jonathanhefner commented on #41348
@El-Potato-Slayer Please see https://github.com/rails/rails/issues/41345#issuecomment-774104150.

[2021-02-05 20:05] #41348 closed

[2021-02-05 20:23] #40214 closed

[2021-02-05 21:24] jub0bs commented on #39974
I second @AdamGold's comment above. There should at the very least be an option to discard/ignore GET body parameters. Otherwise, putting Rails behind the like of Cloudflare is a recipe for disaster.

[2021-02-05 21:36] jonsgreen commented on #38668
I am finding this same problem in a new rails 6.1.1 app which is including turbo via hotwire.

[2021-02-05 21:52] rafaelfranca commented on #39974
Requiring all users to select which method they want to use based on the the request method the action is seems unnecessary overhead for people that don't plan to put Rails behind something like Cloudfare. If you plan to do that, you can already use `query_parameters` and `request_parameters`.

[2021-02-05 23:43] AdnanTheExcellent commented on #34586
If anyone is trying to get activestorage working with server side rendering, you can do the following:

create a file activestorageStub.js (or ts) that has the following line:

[code]

then in webpack, add it as an alias:

[code]

[2021-02-05 23:43] AdnanTheExcellent commented on #39176
If anyone is trying to get activestorage working with server side rendering, you can do the following:

create a file activestorageStub.js (or ts) that has the following line:

[code]

then in webpack, add it as an alias:

[code]

[2021-02-06 05:55] El-Potato-Slayer commented on #41348
@jonathanhefner I'm using a Linux subsystem. Previously I used Windows to install action_text

[2021-02-06 05:59] El-Potato-Slayer opened #41351 "rails action_text:install not generating files"
**Note**
I'm using a WSL. I've tried this on Ubuntu OS as well, and it doesn't work.

### Steps to reproduce
run `rails action_text:install` inside application root folder

### Expected behavior
The following should be produced
[code]

### Actual behavior
I get the following:
[code]

### System configuration
**Rails version**: Rails 6.1.1

**Ruby version**: ruby 2.7.2p137

[2021-02-06 06:23] #41351 closed

[2021-02-06 07:31] patbl opened #41352 "Logging breaks Rails.cache.read_multi when no arguments are passed and the :mem_cache_store adapter is being used"
### Steps to reproduce

Here's a (mostly) [working example repository](https://github.com/patbl/test-app-6.1).

1. `rails _6.1.1_ new test-app-6.1`
2. Apply [this diff](https://github.com/patbl/test-app-6.1/commit/c8be8eb934fb8880a6ae95ccbb0dea1cc48f58aa):

[code]
3. Ensure Memcached is running at the specified address.
4. In a Rails console, run `ActiveSupport::Cache::Store.logger = Rails.logger`

[2021-02-06 09:14] El-Potato-Slayer opened #41353 "rails action_text:install fails"
**Note**
I ran this command on Ubuntu as well as macOS. screenshots are provided.

### Steps to reproduce
run `rails action_text:install`

### Expected behavior
The following should be produced
[code]

### Actual behavior
![{3A1DE291-0D31-4E19-827D-71E904748B2F}](https://user-images.githubusercontent.com/43865875/107114130-41862880-686c-11eb-9841-810b270c2f20.jpg)
![image](https://user-images.gith

[2021-02-06 15:10] andrehjr commented on #41353
Wasn't able to reproduce this on OS X, using:
Rails 6.1.1
ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin19]

[code]

I believe is something related to your setup. What happens when you do `./bin/yarn` directly?

[2021-02-06 15:15] jonathanhefner commented on #41353
@El-Potato-Slayer If this project was copied from a Windows file system, then the executable flags on the bin stubs will not be set.  You can fix this by running `chmod a+x bin/*` in the project directory.

#41200 also addresses this since it runs `bin/yarn` via the Ruby executable regardless of operating system.

[2021-02-06 15:15] #41353 closed

[2021-02-06 16:03] El-Potato-Slayer commented on #41353
@andrehjr Thank you for responding. As @jonathanhefner mentioned. It had to do with the incorrect executable flags.

[2021-02-06 16:10] El-Potato-Slayer commented on #41353
@jonathanhefner Thank you, that worked like a charm. However, I'm still unable to install action text. As a test, I created a new project on Ubuntu, and I managed to install action text without an issue. However, a project created on Windows doesn't generate the required files. Even when run on WSL. I believe this is an issue specifically for Windows on rails 6.1.1.

[2021-02-06 18:42] vipulnsward commented on #41270
Thank you for reporting, we can add change to improve https://github.com/rails/rails/blob/6-1-stable/activemodel/CHANGELOG.md if you are up for it.

[2021-02-07 02:51] szTheory opened #41361 "action_mailbox/engine still loads even after not requiring it in application.rb"
### Steps to reproduce
Use this code at the top of `application.rb` to require only what you need instead of `require "rails/all"`. Note that `action_mailbox/engine` is not being required.

[code]

### Expected behavior

When running `bundle exec derailed bundle:mem` after following the [derailed install instructions](https://github.com/schneems/derailed_benchmarks), action_mailbox should not appe

[2021-02-07 10:23] #39893 closed

[2021-02-07 10:45] manas11 commented on #18338
Rails 6.1.1 onwards gem 'safe_attributed' doesn't work. Its kinda obsolete

[2021-02-07 16:47] etipton commented on #31437
I believe I was just bitten by this bug with Rails 6.0.3.3 - here's the essence of my situation:

[code]

result:
[code]

If / when I get time I'll try to provide an example app or try to dig in myself.

[2021-02-07 17:02] #41120 closed

[2021-02-07 17:20] andrehjr commented on #41361
I think that's because rails/all is required when running `derailed bundle:mem` [here](https://github.com/schneems/derailed_benchmarks/blob/main/bin/derailed#L86).

Also, it looks like it only loads up your Gemfile and doesn't boot the application itself.

[2021-02-08 01:23] zeitnot opened #41368 "When prepared_statements is true, Rails 6.1 raises Mysql2::Error with mysql2 gem."
### Steps to reproduce
[Here](https://github.com/zeitnot/prepared_statement) is the sample application which raises exception when prepared_statements is true. Along with sample application, I want to write down the steps:

- Clone and bundle the application
- `rails g model User email:string`
- `rails db:create db:migrate`
- Open your rails console and type `User.create(email: 'test@test.com')`

[2021-02-08 03:41] ldonis commented on #26158
I'm facing this issue since a while.
ruby 2.7.2
rails 6.1.0
macos 11.1

In my CPU monitor I can see
ruby 99%
fseventsd 0.1%

remove `config.file_watcher = ActiveSupport::EventedFileUpdateChecker` helps a lot. after this change ruby process goes up to 60% maximum while the browser is loading, then it goes below 10%

[2021-02-08 03:44] kamipo commented on #41361
Closing this since it is not a Rails' issue.

[2021-02-08 03:44] #41361 closed

[2021-02-08 05:03] #40508 closed

[2021-02-08 08:35] otherguy commented on #32947
Could this be reopened or a new ticket created to track the status of this?

It's a thorn in my side for at least 3 years now.

[2021-02-08 08:40] stevschmid commented on #38668
@jonsgreen No response, unfortunately. In the end we decided to omit websocket/actioncable for our fairly small use case.

[2021-02-08 19:20] doriantaylor opened #41375 "Ruby ≥2.7 complains about ActiveSupport's lack of explicit handling of keyworded `Time.at`"
I'm sure we are familiar with the deprecation and eventual decommissioning of hashes as implicit keyword parameters (in 2.7 and 3, respectively). [There is a formulation](https://ruby-doc.org/core-2.7.2/Time.html#method-c-at) of `Time.at(epoch, in: offset)` that is hooked or wrapped or some such by ActiveSupport, which appears not to account explicitly for keyword arguments, causing the interprete

[2021-02-08 21:24] ArneBouillon commented on #40543
We managed to find a workaround in our specific case, so I'll close this issue. However, the described behaviour was still broken in Rails 6.0.3, intended or not.

[2021-02-08 21:24] #40543 closed

[2021-02-08 22:10] rafaelfranca commented on #41368
I see. It just configure `prepared_statements: true` on `config/database.yml`. I can confirm this bug is happening in a new app.

[2021-02-09 00:20] #41352 closed

[2021-02-09 01:48] adenta commented on #40852
can we tag this with 'activestorage'? Had this _exact_ same issue but wasn't able to find this until after I spent an hour throwing stuff at the wall.

[2021-02-09 02:18] packerbacker89 opened #41377 "Extra query occurring when preloading a table joined via has_many :through"
When doing an `includes` on a `has_many :through` association, Rails should avoid the extra query and run a query with `joins` in order to retrieve the data.

### Steps to reproduce
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 6.1.0 (also tested to have undesirable behavior with 6.0 and 5.2)

**Ruby version**: 2.6.3

[2021-02-09 02:24] kamipo commented on #41377
It is the expected behavior for `includes` (`preload`), use `eager_load` instead.

[2021-02-09 02:24] #41377 closed

[2021-02-09 02:30] packerbacker89 commented on #41377
I disagree. The issue I'm describing is not related to the tables named in the `includes`.

I am referring specifically to the 'pass-through' (for lack of a better term) tables which were not requested by the `includes`.

[2021-02-09 02:33] kamipo commented on #41377
If you make a PR that fixes your issue, we can review it.

[2021-02-09 03:52] #41375 closed

[2021-02-09 06:44] github0013 opened #41378 "ActiveRecord#includes gives different results if the includes order is different."
### Steps to reproduce

I prepared a repo.
https://github.com/github0013/activerecord-includes

### Expected behavior

Switching the order in `#includes` should not change the results. (please see the [repo](https://github.com/github0013/activerecord-includes))

- A.includes(`:c_type_xs, :ds`).find(subject.id).c_type_xs.size # => 1
- A.includes(`:ds, :c_type_xs`).find(subject.id).c_type_xs.size #

[2021-02-09 09:25] AkashHC13 commented on #41106
Is there a workaround for this?

[2021-02-09 10:27] intrip commented on #41250
@milani #41321 should fix this. @kamipo mind taking a look 🙏 ?

[2021-02-09 10:32] intrip commented on #41330
What about adding this information to the [Rails upgrade guide](https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-2-to-rails-6-0)?

[2021-02-09 10:46] intrip commented on #41294
This looks like a concurrency issue, one way to deal with it is by using a [locking strategy](https://guides.rubyonrails.org/v3.1.0/active_record_querying.html#locking-records-for-update)

[2021-02-09 11:07] rammpeter opened #41380 "ActionView::Helpers::TranslationHelper.translate doesn't replace aliases in defaults"
### Steps to reproduce
`
class Hugo
  include ActionView::Helpers::TranslationHelper
end
I18n.translate(:hugo, default: 'Should replace %{alias}', alias: 'Replaced')
Hugo.new.translate(:hugo, default: 'Should replace %{alias}', alias: 'Replaced')
`
leads to:
"Should replace Replaced"
"Should replace %{alias}"

### Expected behavior
Alias replacement should work for keys in locale file as well as f

[2021-02-09 11:09] skipchris commented on #41330
I’d be happy to add that warning, but I don’t think doing so solves all the problems:

* If you upgrade a Rails 6.x application from Ruby 2 to Ruby 3, the behaviour will change. I’m not sure the Rails upgrade guide is the best place for that information (and obviously, there is no Ruby upgrade guide).
* Should this be considered a bug, and if so, fixed? I appreciate there may be other perspectives

[2021-02-09 11:24] intrip commented on #41261
I don't think this is a bug. This happens because when you assign directly an `Array` to a `has_many` association [you are meant to replace all the related existing records](https://guides.rubyonrails.org/v5.2/association_basics.html#methods-added-by-has-many-collection-objects).

[2021-02-09 11:28] andrehjr commented on #41330
I think that unless intended, the behavior should match Ruby's for consistency before 3.0. For example https://github.com/rails/rails/pull/39159

Another example, `slice!` copies the default values/proc over to the new hash. Similar issue: https://github.com/rails/rails/pull/12611

[2021-02-09 11:40] intrip commented on #41322
@aijkoopmans
I'd like to take a look at this but would be great if you could also provide a reproduction script 🙂

[2021-02-09 11:42] intrip commented on #41175
Could you please provide an execution script? This would ease the process.

[2021-02-09 12:07] nbrustein commented on #41175
Add this at `db/migrate/20210209120309_test_reverting.rb`

[code]

Then run:

[code]

I would expect to see ` ******************** reverting: false` when I migrate and ` ******************** reverting: true` when I rollback, but I'm seeing `false` both times.

[2021-02-09 12:27] javierav commented on #39431
Hi! Any update on this? We also have the same issue with Rails 6.1.

[2021-02-09 12:31] #41295 closed

[2021-02-09 13:40] kamipo commented on #41330
It is a regression for #35771.

@skipchris Are you interested to make a PR that reverting #35771 with a regression test?

[2021-02-09 13:42] skipchris commented on #41330
Yup!

[2021-02-09 14:39] leequarella opened #41382 "Behavior change after "Optimize underscore inflector" optimization"
https://github.com/rails/rails/commit/58147cd2b494beec92f810a40dc9a736ff688a01 made a change to ActiveSupport underscore inflector that causes a behavior change.  Previously, when handed a camel cased string with 2 capital letters side by side it would separate those with an underscore. After the change they are kept together.  Any grouping of more than 2 capital characters are maintained as a gro

[2021-02-09 14:43] eileencodes commented on #41382
cc/ @byroot curious if you have any ideas how to fix this while keeping your performance optimizations. Specifically this broke some of our GraphQL fields.

[2021-02-09 14:45] casperisfine commented on #41382
Thanks for letting me know. I'll dig into this ASAP and come back to you.

[2021-02-09 15:45] jonathanhefner commented on #41380
Similar to #26032.  This will be fixed by #40691.

[2021-02-09 16:04] #41382 closed

[2021-02-09 16:28] bk-az commented on #27455
Has anyone found the cause of this problem? facing with the same issue.

**Ruby:** `2.7.1`
**Rails:** `6.0.3.2`
**Puma:** `5.1.1`

[2021-02-09 17:24] delonnewman commented on #41261
Thank you for the reply.

I share your reluctance to consider it a bug, there's one problem with that--the records are not replaced they're deleted (i.e. there are no records in the association after the assignment). I included a link to a repo that reproduces the behavior in the original message.

Thanks again.

[2021-02-09 17:51] DKRetzlaff commented on #35943
@bobvanderlinden you could use:
`Rack::MockRequest.env_for(url, headers)`

This will add to the `env` variable all the keys inside the headers hash. I dont know if this is the best approach, but can solve the missing of headers in the middleware call as we can see in the `env_for` method: https://github.com/rack/rack/blob/4c0708582e27c588764c6273d04a377ff72dd4fc/lib/rack/mock.rb#L147

[2021-02-09 18:06] ilvez commented on #27455
Maybe worth mentioning what autoloader is being used as well, since this may be autoloader issue.

We are currently stuck with classic autoloader and I cannot reproduce this with zeitwerk.

[2021-02-09 18:28] cjlarose commented on #40009
This is still an active issue in Rails on branch `main` at commit 59b3d372a8f7da5b3f50471575bd8189c531b3ab

I [updated](https://github.com/cjlarose/rails-check-pending-migrations-deadlock/commit/8721322f8210af510c1fec4122f07018cbf5105e) my reproducible example as a demonstration

[2021-02-09 18:35] kamipo commented on #41294
The behavior in a transaction depends on transaction isolation level, use locking read if you want to read latest data.

[2021-02-09 18:35] #41294 closed

[2021-02-09 18:50] rafaelfranca commented on #41106
Not a workaround. There is an official way to disable any of the rails frameworks. That way is to remove the `require "rails/all"` on top of `config/application.rb` and require only the railties you want to use. The list of railties can be found here https://github.com/rails/rails/blob/59b3d372a8f7da5b3f50471575bd8189c531b3ab/railties/lib/rails/generators/rails/app/templates/config/application.rb.

[2021-02-09 18:50] #41106 closed

[2021-02-09 19:01] cjlarose commented on #40009
@eileencodes I was able to reproduce this problem on that latest `main`. I rebased my PR https://github.com/rails/rails/pull/40032 and was able to verify that it still fixes the problem.

Let me know if there's anything I can do to help this along.

[2021-02-09 19:14] ConstanceCodingCamp commented on #24459
<%= button_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>

Without "button_to"... I was lost and am very grateful this still works. * rails 6.1.1

[2021-02-09 21:52] jdrosales17 opened #41388 "Active Storage - Disk Service does not keep the host protocol in development for direct uploads"
### Steps to reproduce

Hi,

I was currently debugging an upload error that was only happening in development and found out that it had to do with direct uploads and the server running with SSL.

I have a file input with the option `direct_upload: true` and I'm running the server, with a self-signed SSL certificate, using the command:

[code]

While debugging, I found out that
[code]
from [this li

[2021-02-10 00:58] tamtam96 opened #41389 "<% content_for :stylesheets do %> #top_menu {display: none} #right_menu {float: right; background-color: yellow; color: black} <% end %> <% content_for :content do %> <div id="right_menu">Right menu items here</div> <%= content_for?(:news_content) ? yield(:news_content) : yield %> <% end %> <%= render template: "layouts/application" %>"
### Steps to reproduce

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

[2021-02-10 01:42] #41389 closed

[2021-02-10 08:16] Rex-am-I commented on #40942
I am a bit (noobie) confused. I am getting the exact same error, yet this is marked as closed. I assumed this meant the issue was resolved. Can somebody please help me here?

ruby 2.6.6
rails 6.1.1
yarn 1.22.5

"Exec format error - bin/yarn add trix@^1.2.0 @rails/actiontext@^6.1.1 (Errno::ENOEXEC)"

[2021-02-10 08:19] eddiebanks1 commented on #40942
Are you running your set on Windows directly or are you using WSL2

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mosekwa Tshikosi <notifications@github.com>
Sent: Wednesday, February 10, 2021 8:16:23 AM
To: rails/rails <rails@noreply.github.com>
Cc: eddiebanks1 <ademola.ogunniyi@student.anglia.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [rails/

[2021-02-10 08:29] Rex-am-I commented on #40942
on Windows 10 directly

On Wed, Feb 10, 2021, 10:19 eddiebanks1 <notifications@github.com> wrote:

[2021-02-10 08:34] eddiebanks1 commented on #40942
That's why you are having that error. I had the same experience. You need to run your ruby on rails  installation on windows subsystem for linux. The current version is version 2. I.e wsl2. Its basically Linux running on window. Google it. Once you set up WSL2 on your Windows 10 OS, you can go ahead and run your ruby rails on the wSL and you would stop  seeing those errors.

Get Outlook for Androi

[2021-02-10 09:00] Rex-am-I commented on #40942
Thanks a bunch, @eddiebanks1. Not to minimize the incredible work that folks put in building these functionalities, but is there no easier way to install this? Or to put in another way, is there likely to be a non-WSL way to this soon? I wish I could help, but my development skills are, to put it nicely, severely limited,

[2021-02-10 09:09] jurabinary commented on #38833
I am guessing people are just adding node_modules/ to .gitignore (as am I), not that that is a solution to the problem described above.

[2021-02-10 09:10] eddiebanks1 commented on #40942
when i started by running my rails setup directly on window, i find that installing some bundle and package gives error like the one i encountered and posted above, i believe you are experience the same issue now. The issue as @jonathanhefner explained has got to do with file reference.  Search for yarn.exe in bin/yarn #40950. You can follow that thread if you want to try to resolve the issue with

[2021-02-10 09:27] Rex-am-I commented on #40942
This problem is apparently resolved in rails 6.1.2. Thanks to the Rails Stars!

[2021-02-10 09:53] intrip commented on #41261
This doesn't look to be a bug:
- The problem is that you are not saving the record `r` in the end: when you do `r.items = [RequestItem.new(...)]` the old items are deleted but the new items aren't saved unless you call `r.save`.
- Also: since you are creating the record with `Request.new` `r.save` will raise a unique primary key error, you should use `r = Request.find(1)` in order to make it work

[2021-02-10 11:47] intrip commented on #41175
@nbrustein
I don't think your expectations are correct: `reverting?` is used to figure out which operation to do and is set automatically in the `change` methods. For example:

[code]

will print correctly:
[code]

The same applies for

[code]

In short this is not a bug.

[2021-02-10 11:56] intrip commented on #41051
@haines if you are no longer interested I'd be happy to work on a fix.

[2021-02-10 12:23] haines commented on #41051
Hey @intrip, happy for you to push this forward. I do think it would be better for this to be a generic option for all validators (apply this validation to all values in the array) rather than a special case for *clusion validators.

[2021-02-10 13:18] nbrustein commented on #41175
I see.  My issue is that I have a helper method that is sometimes called when migrating and sometimes called when rolling back, and I need to be able to tell the difference.

Is there some way to do that?  It's like this:

[code]

[2021-02-10 14:04] Rex-am-I commented on #40942
I spoke too soon! In rails 6.1.2 action_text is still not installed. Only the error message is not shown during the attempted installation.

### Actual behavior
$ rails action_text:install
       rails  app:binstub:yarn
Installing JavaScript dependencies
         run  bin/yarn add trix@^1.2.0 @rails/actiontext@^6.1.0 from "."
c:\rails\blogtest>

... and action_text is still not reflected in the pa

[2021-02-10 15:37] jonathanhefner commented on #40942
@Rex-am-I With Rails 6.1.2 the output [should](https://github.com/rails/rails/blob/v6.1.2/actiontext/lib/generators/action_text/install/install_generator.rb#L15) look something like:

[code]

(Notice the extra `path/to/ruby.exe`.)

Can you verify that the project is using Rails 6.1.2 by running `bundle exec rails --version`?

Also, could you post the contents of your project's `bin/yarn`?

[2021-02-10 15:46] Rex-am-I commented on #40942
Here's the info:

Installing JavaScript dependencies
         run  C:/Ruby26-x64/bin/ruby.exe bin/yarn add trix@^1.2.0 @rails/actiontext@^6.1.2 from "."

Rails version is 6.1.2

Contents of bin/yarn:

#!/usr/bin/env ruby.exe
APP_ROOT = File.expand_path('..', __dir__)
Dir.chdir(APP_ROOT) do
  yarn = ENV["PATH"].split(File::PATH_SEPARATOR).
    select { |dir| File.expand_path(dir) != __dir__ }.

[2021-02-10 19:19] #41103 closed

[2021-02-10 19:22] fatkodima commented on #41175
Have you considered [`reversible`](https://api.rubyonrails.org/classes/ActiveRecord/Migration.html#method-i-reversible)?

[2021-02-10 20:00] rafaelfranca commented on #41051
Let's start with the small scope since it will fix a real problem. Later, if you believe we can add this option to all association we can review and discuss the merits of that addition separately.

[2021-02-10 20:09] amilligan opened #41398 "Uppercase strings that contain acronym inflections do not titleize properly"
### Steps to reproduce

[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 6.1.1

**Ruby version**: 2.7.2

[2021-02-10 20:14] #36544 closed

[2021-02-10 20:31] gmcgibbon commented on #41398
Thanks for the issue, but unfortunately we do not accept patches to `ActiveSupport::Inflector` due to the possibility that applications depend on current behaviour.  See https://api.rubyonrails.org/classes/ActiveSupport/Inflector.html for more information.

[2021-02-10 20:31] #41398 closed

[2021-02-10 20:37] jonathanhefner commented on #40942
@Rex-am-I There seem to be two underlying issues here.

The main issue is that `bin/yarn` was generated by Rails 6.1.1 but not updated by Rails 6.1.2.  I've submitted #41399 to address this.

The secondary issue is that the error messages from `bin/yarn` are being swallowed by the Action Text installer.  I've submitted #41400 to address this.

Thanks for bringing these up!

[2021-02-10 20:50] jonathanhefner commented on #40942
@Rex-am-I  I forgot to mention a workaround: try deleting your `bin/yarn` and running `rails action_text:install` again.

[2021-02-10 21:51] Rex-am-I commented on #40942
@jonathanhefner,  thanks so much. The work-around worked!

[2021-02-10 22:40] nbrustein commented on #41175
I don't think that would let my helper know which direction I was going in.  I guess I can make it an argument to the helper, and then it could be implemented either with `reversible` or with separate `down` and `up` methods, like in the following code.

But I'd prefer it if I didn't have to do that, and the helper could somehow figure it out on its own.

[code]

[2021-02-10 23:59] santib commented on #41368
Hey @rafaelfranca I found the guilty commit `d29d4598972e85df7ee42f5aa969b51d1b14d615`. Seems like we added an extra condition `!value.utc?` that is causing this failure.
[code]

The intention of the commit is reducing the amount of allocations so I'm not sure what is the correct path to take, if reverting the commit or if always making sure to transform the `value` from a `ActiveSupport::TimeWith

[2021-02-11 00:06] rafaelfranca commented on #41368
I'd measure. I had a patch for this myself and was debating what is the best course of action.

Another solution would be to change `_type_cast` on the MySQL adapter to make this transformation. Do you want to measure if it is better to make the transformation in the adapter or add the transformation to the type?

[2021-02-11 00:18] santib commented on #41368
I'm not sure I'd be able to measure it. Do you mean measuring object allocation such as Ryuta did with:

[code]

or measuring performance with the benchmarking script?

[2021-02-11 00:19] rafaelfranca commented on #41368
Measuring the allocation like Ryuta did.

[2021-02-11 00:36] santib commented on #41368
@rafaelfranca I was able to measure the `.to_time` solution I proposed and it performs even worser than the code before the commit that introduces the bug
![image](https://user-images.githubusercontent.com/6373536/107590686-87821a00-6be7-11eb-8443-e48fd531aa96.png)

So now we have two options, either going with your mysql specific fix or reverting the commit. Unfortunately, I can't take a look at

[2021-02-11 01:30] #40516 closed

[2021-02-11 05:22] kamipo commented on #41368
Identified the root cause, it is due to `_type_cast` in mysql2 adapter does not properly handle the time object what `quoted_date` does.

Suggested fixes are:

* Just remove the `_type_cast` in mysql2 adapter
* Fix the `_type_cast` in mysql2 adapter to properly handle the local and the time with zone object

[code]

[2021-02-11 10:35] thomasdarde opened #41403 "Suffered a major mysql database encoding issue upgrading to rails 6.1.2 !"
### Steps to reproduce
Updating to rails 6.1.2 (a minor update) did create encoding issues with a mysql database.
We are still gathering data on how to reproduce exactly this issue

### Expected behavior
A minor update of rails should not change this kind of very sensitive data

### Actual behavior
The database was loaded with incorrect encoding leading to bad read, and bad writes to the database,

[2021-02-11 12:56] josh-m-sharpe opened #41405 "Rails 6.0 guides aren't accessible from guides.rubyonrails.org"
### Steps to reproduce
1) visit https://guides.rubyonrails.org/
2) click on Rails 6.0
3) redirected to: https://edgeguides.rubyonrails.org/

### Expected behavior
Expected to be redirected to https://guides.rubyonrails.org/v6.0 (similar to other versions)

### Actual behavior
redirected to: https://edgeguides.rubyonrails.org/

I pulled this repo and built the guides.  Seems index.html gets built c

[2021-02-11 13:33] DevelopMan commented on #38248
Did anybody solve this issue? We have the same with
Rails 5.2.4.4
ruby 2.6.6
And right now I see only one way - move all scopes to methods, however, this is not a good solution.

[2021-02-11 13:53] codener commented on #25195
How is one supposed to use this with dynamic tag names, i.e. where the tag name comes from a variable?
[code]

[2021-02-11 13:58] eileencodes commented on #41403
Sorry that happened @thomasdarde. However we need more information here to determine if the cause is Rails. I haven't heard of this problem with other apps upgrade and using mysql. Please provide the errors/stacktrace you saw and your version of mysql. Also check your database configuration in production for settings that are unique to your app/env.

[2021-02-11 14:08] kaspth commented on #25195
You can use Ruby's dynamic method sending ala `tag.public_send(tag, class: "bookmark")`. We could consider adding a `tag.build` method too though.

[2021-02-11 14:43] codener commented on #25195
Sure this would work, but it feels worse than a plain `content_tag tag, nil, class: 'bookmark'`. Since we're using dynamic tag names quite frequently, we'll stick with `content_tag`/`tag` until there is a native `tag.build tag, class: 'bookmark'`.

Anyway, thanks for the quick reply!

[2021-02-11 14:49] CarlosCD commented on #25894
I know this is old. I've just bumped into something similar.

It seems that if you want symbols as keys, JSONB is not the right format. I believe @rafaelfranca is right. You can always serialize your Hash as YAML.

But if you want to have the ability to run queries in PG using JSONB, and at the same time use symbols in Ruby-land, then you always have the option of write your own serializer, someth

[2021-02-11 15:06] jeremy commented on #41403
Ref #41232

[2021-02-11 15:30] #39986 closed

[2021-02-11 15:31] woodhull commented on #40613
I think we may also be experiencing this. We're prepending view paths per request from a rails engine to allow templates to be overridden for specific customers which might be related.

[2021-02-11 16:04] woodhull commented on #40613
More info on our particular issue:

The crash has been happening for us in development mode. We think it's something about the fact that we're using prepend_view_path on a per request basis, since commenting this out resolves the issue. The crash is easy to replicate. App works until there is any template filesystem change, and then crashes when it can not find the template the application thinks

[2021-02-11 16:04] jonathanhefner commented on #41353
@El-Potato-Slayer Now that Rails 6.1.2 is released, would you mind trying again, and reporting back any issues?

[2021-02-11 18:39] rafaelfranca commented on #41368
That is what I said above. I'll push my patch then since I already had write it.

[2021-02-11 19:48] julik opened #41413 "ActiveStorage blobs can be attached using their "displayable" signed IDs"
### Steps to reproduce

ActiveStorage blobs currently use signed IDs. The purpose however is always the same (blob_id). When uploading a Blob through the direct_upload endpoint, a user gets the same signed ID for a Blob as the one that is later used for attaching a Blob to a model through Attached - see https://github.com/rails/rails/blob/bddb2c9b193c976dbe6a9a1358479d1792931986/activestorage/app/

[2021-02-11 21:02] andrehjr commented on #41330
The tests on #41414 are broken. Seems like on Ruby 3.0 `except` does not copy the `default` over. In that case, the current impl seems correct. 🤔

[code]

Hence the broken tests?
[code]

[2021-02-11 21:20] kaspth commented on #25195
You're welcome to open a PR to add it 👍 Would just need to rename `tag_string` essentially.

[2021-02-11 21:28] andrehjr commented on #41330
Also see: https://github.com/ruby/ruby/blob/master/spec/ruby/core/hash/except_spec.rb#L23-L32

[2021-02-11 22:05] thomasdarde commented on #41403
First thank you everyone for your support, I'm sorry for openging the tickets with as little information but wanted for other people to find an existing ticket if they found the same situation.

Mysql Version (aws rds) is 5.7.25, i'm using mysql2 gem

I'm using this line in my database.yml

`encoding: utf8mb4`

The schema is also with this kind of encoding information for each table : charset: "ut

[2021-02-11 22:10] smartygus opened #41417 "ActiveRecord::StatementInvalid Error on ActiveRecord::Relation#include? with having condition referencing aliased select values present"
When calling `#include?` on an `ActiveRecord::Relation` that has an aliased select value AND a having condition that references said aliased select value, an `ActiveRecord::StatementInvalid` error is raised due to not being able to find the aliased column.

Example query that meets these criteria would be:

[code]

This problem appears to have been introduced with the following commit: 166b63e

##

[2021-02-11 22:45] #41368 closed

[2021-02-11 22:58] skipchris commented on #41330
Right — I’ve made a mistake here.

I thought the version of Ruby 3 on my system was the release version, but I was actually testing against `-preview2`. As you can see, the change to Ruby’s behaviour was fairly last-minute (19th Dec!)

Nevertheless, it’s most important to be consistent against Ruby, so I’ll close my PR.

Still worth a mention in the upgrade guide?

[2021-02-11 23:04] rafaelfranca commented on #41330
Not in the upgrade guide, but definitely worth mention in the CHANGELOG

[2021-02-12 00:19] #41417 closed

[2021-02-12 02:03] ghost opened #41420 "Implement Argon2 as an alternative to using the BCrypt gem"
### Steps to reproduce

None known.

### Expected behavior

Using both/either `bcrypt` or [`ruby-argon2`](https://github.com/technion/ruby-argon2) should allow access to `has_secure_password`.

### Actual behavior

Currently (as far as a relatively new person to Rails knows), only the `bcrypt` gem enables usage of [`has_secure_password`](https://github.com/rails/rails/blob/291a3d2ef29a3842d1156ada

[2021-02-12 05:26] masaosg commented on #41403
I had the same encoding problem with MySQL 5.7 after upgrading to Rails 6.1.2, but in my case, it was because I used the wrong client library version (MySQL 8.x client library) to build the `mysql2` gem.
It seems that the library from version 8.x treats `encoding: utf8mb4` as the default encoding and does not explicitly set it when connecting to the server, resulting in encoding mismatch when pair

[2021-02-12 05:58] jsharpe-ctm commented on #37270
Verified this is still an issue on 6.0.3.5.  Also verified @yevhene's 'fix' works for me in a minitest/resque env.  This works for me:

[code]

@georgeclaghorn would it be possible to update the milestones to target some 6.1.next?

[2021-02-12 09:41] sooyang commented on #40972
When you include `include Rails.application.routes.url_helpers` inside `ThingMailerTest`, a bunch of modules are inserted to the `ThingMailerTest` ancestors chain.

`ThingMailerTest` will gain class method - `default_url_options`. However, the `default_url_options` is always an empty hash `{}` despite `config.action_mailer.default_url_options = { host: 'example.com' }` is being set.

Looking up th

[2021-02-12 11:02] intrip commented on #41051
@rafaelfranca I've created #41412 which implements [your suggestion](https://github.com/rails/rails/issues/41051#issuecomment-757037953).

The idea behind the `all` option name is outlined [here](https://github.com/rails/rails/pull/41412#discussion_r575112561).
If you agree I could create a follow up PR to implement also the `any` option which makes sense for the `exclusion` validator.

[2021-02-12 11:18] AndrewFreemantle opened #41422 "Rails TEST fixture ERB loop pulls data from DEVELOPMENT database!?"
### Scenario
I'm attempting to use ERB in a fixture to create test data for each entry I have in another fixture.

For example:
- for each 👤  User I want the same 🌷 Flower created.
- if there are 2 users in my `users.yml` fixture, I want 2 flowers available to my tests.

### Steps to reproduce
* Create 2 models:
  `rails g model User uuid:uuid name:string email:string`
  `rails g model Flower flow

[2021-02-12 11:41] kaspth commented on #41422
Unfortunately fixtures aren't that well suited to reference other tables like this right now, I agree we should have that though! The loading order of `users.yml` and the `flowers.yml` isn't necessarily deterministic either, if I recall correctly.

The workaround I use currently is to load a `FixtureNames` constant that looks like:

[code]

[code]

I suppose you could add a `method_missing` routin

[2021-02-12 11:41] #41422 closed

[2021-02-12 14:52] Bryl33t commented on #31861
Thanks you !

[2021-02-12 15:13] El-Potato-Slayer commented on #41353
@jonathanhefner Of course. I'll report back on everything once I'm done.

[2021-02-12 17:15] jtracey opened #41426 "Onion Services should be considered secure for cookies"
### Steps to reproduce

When running a Rails application as an [onion service](https://tools.ietf.org/html/rfc7686) over HTTP, Rails does not send cookies with the secure flag set. This is true of any Rails application, but a workaround was just [merged into Mastodon](https://github.com/tootsuite/mastodon/pull/15712) by monkey patching Rails.

### Expected behavior

Because onion services are end-

[2021-02-12 17:51] El-Potato-Slayer commented on #41353
@jonathanhefner With the latest update, action_text generates all of the required files. The rich text area displays correctly, and image attachments work as expected.
A separate issue has also been resolved that prevented the `image_processing` gem from being installed only on Windows.
Everything works perfectly.

Thank you. All the hard work is greatly valued.

[2021-02-12 17:58] rafaelfranca commented on #41420
Thank you for the issue. We have no interest  on supporting argon2 by default in Rails.

[2021-02-12 17:58] #41420 closed

[2021-02-12 18:00] #41330 closed

[2021-02-12 19:11] rafaelfranca commented on #41426
Makes sense. Do you want to provide a pull request?

[2021-02-12 19:58] rafaelfranca commented on #41405
Fixed. Thank you.

[2021-02-12 19:58] #41405 closed

[2021-02-13 07:02] danvernon commented on #34586
@AdnanTheExcellent can you share your webpack config in whole? kind of new to running custom nextjs webpack

[2021-02-13 20:31] jtracey commented on #41426
Sure, I'll just have to just set up an environment for running rails' tests first.

[2021-02-13 21:10] jonathanhefner commented on #41426
@jtracey If your changes don't interact with databases and the like, it may suffice to test them running `bin/test path/to/your_test.rb` in the appropriate framework directory (e.g. `actionpack`).  (You may need to run `bundle install` first.)  However, if you do need a more complete development environment, try [rails-dev-box](https://github.com/rails/rails-dev-box).

[2021-02-14 03:42] pboling commented on #40595
@composerinteralia

I am not sure if you were stating that as an indication that it is correct behavior, or works-as-designed, but regardless, it seems wrong, and also since https://github.com/rails/rails/issues/17971 was fixed I think this is a regression.

This is the git description from the commit that "fixed" the issue back in 2014:
[code]

It's clear that it should not be trampling it to `ni

[2021-02-15 04:55] kamipo commented on #41403
Can you share the result on the environment?

[code]

If you have an encoding issue, the server variables may not be set by the connection (it works on the our test case with non utf8mb4 encoding though).

https://github.com/rails/rails/blob/1a60826c9db0e08ca098ce89cdad624f3f7459b9/activerecord/test/cases/adapters/mysql2/connection_test.rb#L96-L118

[2021-02-15 07:06] nidhindamodaran commented on #31627
We are still facing this issue while using apartment gem, What is the status of the fix?

[2021-02-15 09:12] thomasdarde commented on #41403
Hello, thanks a lot for this incredible support .
This is the log:

[code]

So it seams I'm on the same situation than @masaosg , I will apply the same medication.
(also this is suprising but in a console in production, this line takes more than 30 seconds to return something) :
``` conn = ActiveRecord::Base.connection```

I will close this thread as a solution is now available if someone has the

[2021-02-15 11:37] vtamara commented on #41038
I confirm the result of this bisection of @FlickStuart

For me, using "include MyApplication.routes.url_helpers" as @samuelgiles suggest didn't work.

[2021-02-15 11:44] intrip commented on #41175
Technically `reverting` is used not to expose the direction of the migration but to figure out if a statement such as `add_column` needs to be interpreted in the opposite way `remove_column`.

Could you please elaborate further the use case of your helper method so that hopefully I could give you some hints ? 🙂

[2021-02-15 13:09] panSarin opened #41445 "Inconsistent behaviour in scaffolded controller and request spec."
### Steps to reproduce
Instead of mini-test, install rspec.

```rails g scaffold product```

### Expected behavior:
Generated specs are passing when we fill in params.

### Actual behavior
If we add any validation to Product model, and then run generated test:

[code]
we get

[code]

because since rails 6.1.1 generated controller looks like:

[code]
 Since that change ( responding with 422 unproce

[2021-02-15 13:39] niuage opened #41446 "[ActiveStorage] Unable to use the following syntax: `user.avatar.variant(:thumb)`"
### Steps to reproduce

Model:

[code]

View:
[code]

I got this syntax from this guide: https://edgeguides.rubyonrails.org/active_storage_overview.html#has-one-attached

I'm probably doing something wrong or not using the right version, but I think I'm using the latest rails.

### Expected behavior

I expect the code above to behave the same way this code does (i.e. render the image tag)

[code]

[2021-02-15 14:21] santib commented on #41446
Hi @niuage, seems like https://github.com/rails/rails/blob/eb7cee01698d928a944e1abd088a66d15a753bbf/activestorage/app/models/active_storage/attachment.rb#L40 is not present in the `v6.1.2.1` release.

You shared a link to the `edge` guides, instead you should look at your current version guides https://guides.rubyonrails.org/v6.1.2.1/active_storage_overview.html#has-one-attached

[2021-02-15 14:27] kaspth commented on #41446
This is a new feature, that'll be released in 7.0. Thanks!

[2021-02-15 14:27] #41446 closed

[2021-02-15 14:48] niuage commented on #41446
Ok, thanks! I thought that edge referred to the latest released version, and not latest master or anything like that. That explains it.

[2021-02-15 15:40] nbrustein commented on #41175
It's probably more effort that in it's worth for me to try to explain or for you to try to understand the details of what we're doing here.  It's not a big deal.  If there's no way to detect whether we're migrating or reverting, we can just keep passing it into the method.  It's only a small inconvenience.  Thanks for your help.

[2021-02-15 15:58] intrip commented on #41175
You're welcome.
I think we can close this issue then 😃

[2021-02-15 18:00] willcosgrove opened #41452 "Slow performance when rendering collections of nested partials"
### Steps to reproduce
* To start, you need two partials (`_a.html.erb` and `_b.html.erb`)
* Partial `_a.html.erb` should contain a render call for partial `_b.html.erb`
* Render partial `_a.html.erb` in a collection

### Expected behavior
Ideally, the time to render should be on par with the aggregate time to render both `_a` and `_b` if `_b` was not nested inside of `_a`.

### Actual behavior
I

[2021-02-15 18:00] jonathanhefner commented on #41445
Those specs are [generated by the `rspec-rails` gem](https://github.com/rspec/rspec-rails/blob/53604f4f98d54c95fa88bb1e972229c29e9353f9/lib/generators/rspec/scaffold/templates/request_spec.rb#L78-L90) rather than Rails itself.  I am closing this since it is not a Rails issue, but please consider opening an issue over there.

[2021-02-15 18:00] #41445 closed

[2021-02-15 18:01] #41041 closed

[2021-02-15 18:31] santib commented on #41322
Hello, I was able to troubleshoot this issue. By the way, there are 2 different issues here:
- Issue with the `saver` option
- Issue with the `combine_options` option

Regarding `saver` option:
I think it's a bug of the `image_processing` gem combined with Ruby 3. The error doesn't happen in previous versions of Ruby and the arguments passthrough is a known change from Ruby 2.x to Ruby 3.

Regardi

[2021-02-15 19:28] #40150 closed

[2021-02-15 20:31] mdworken commented on #41452
@willcosgrove this is super interesting - I thought it was well-known that this behavior existed and that's why we render "with collections" instead of "in loops" but I can't seem to find an official citation anywhere! Here's a scout article though:

https://scoutapm.com/blog/performance-impact-of-using-ruby-on-rails-view-partials

[2021-02-15 20:42] willcosgrove commented on #41452
@mdworken I agree. The surprising part was not that loops are slow, it's that you can apparently negate the optimization of rendering with collections if the partial you're rendering renders another partial.

It may be that it's technically intractable to solve this problem. I was compelled to write up the issue though because tenderlove indicated over Twitter that it seemed like a bug. Again, it

[2021-02-15 21:52] Roriz opened #41453 "Strict loading opt-out for each reflection"
### Steps to reproduce
I want to use `strict_loading_by_default = true` for a model and opt-out for some specific reflection.
Some reflections have a specific use and for them, I want to disable strict_loading.

This case is exactly the case for active storage, when we try to attach a new file with strict_loading_by_default = true on the model, will always raise an ActiveRecord::StrictLoadingViola

[2021-02-15 21:52] Roriz commented on #41453
Sorry, this is duplicated from https://github.com/rails/rails/issues/41171

[2021-02-15 23:29] rafaelfranca commented on #41452
I see that the app is using slim. Does this also happen if the app was only using ERBs?

[2021-02-16 00:11] thewatts commented on #41452
@rafaelfranca Thanks for chiming in!

I added a PR swapping slim for erb - the same issue persists:

https://github.com/willcosgrove/partial-perf-repro/pull/1

[2021-02-16 00:41] #41322 closed

[2021-02-16 02:16] itay-grudev opened #41455 "ActiveStorage Rename file without re-upload"
Currently _ActiveStorage_ stores filenames in the blobs table along with the link to the data. This means that you cannot link to the same data with a different filename. Instead if you want to have a copy of a document with a different filename, you have to re-upload it.

If the storage provider allows it you can use a copy in place and use `create_before_direct_upload!` as an alternative, but yo

[2021-02-16 02:24] itay-grudev commented on #41455
The only con I see about this change is the migration moving the filename to the other table as it won't be trivial for a database with a lot of records.

[2021-02-16 02:32] alipman88 commented on #41075
This is an interesting bug. I'm able to reproduce in Ruby 2.6.6 / Rails 6.1.2.1.

However, updating to Ruby 2.7.2 eliminates the bug.

We can see where the error message is triggered from, within Ruby's codebase: https://github.com/ruby/ruby/blob/aea40f44aa2918f5b64d2eab1720b3d63a8b2c98/time.c#L5087

Here's my executable test script:

[code]

[2021-02-16 02:43] alipman88 commented on #41075
On further examination, this bug seems related to Ruby, not Rails - I can reproduce a similar error in vanilla Ruby:

[code]

I think this issue can be closed, as it relates to Ruby rather than Rails. Seems like older versions of Ruby tried to shave some bytes off of marshaled Time objects by only storing the number of years since 1900, if I'm reading the C code and comments correctly.

[2021-02-16 02:47] taf2 commented on #41075
Thanks!  About to finish our ruby 2.7.2 update here - seems to make sense thank you

[2021-02-16 04:02] vtamara commented on #41038
I could create a much smaller and simple case that shows the problem.

1. Create a mountable engine `e1` like this:  `rails plugin new e1 --mountable --skip-collision-check --skip-keeps --skip-action-mailer --skip-action-mailbox --skip-active-record --skip-active-job --skip-active-storage --skip-puma --skip-action-cable --skip-sprockets --skip-spring --skip-listen --skip-javascript --skip-turbolin

[2021-02-16 08:33] AndrewFreemantle commented on #41422
@kaspth thank you for such a comprehensive response

[2021-02-16 10:44] intrip commented on #41378
I do confirm it's an issue, [here you find a simple reproduction script](https://gist.github.com/intrip/028fa8635104423cf33302e0ce832fda) (FF to add it to the issue description if you like).

I didn't see any existing PRs for this: I'll work on a fix.
/cc @kamipo

[2021-02-16 11:14] vtamara commented on #41038
IMHO it would be good to introduce a configuration variable `config.action_dispatch.cache_url_helpers_built_modules` that would activate the caching of <https://github.com/rails/rails/commit/37e778b6b44ae087ce052ff380b1e3aaee31473d> only when it would be true.

[2021-02-16 12:23] vtamara commented on #41038
I guess the same problem happens in the `main` branch.  Later I could create another PR for that branch.

[2021-02-16 13:33] alipman88 commented on #41452
I believe this may be the case (intractable to optimize). Consider the first example:

[code]

In this case, we know we'll be rendering `_x.html.erb` 100 times, and can take steps to make that rendering more efficient.

Now, consider another example:

[code]

The above can't easily be optimized, because the argument passed to `render` changes from iteration to iteration.

Even if we remove the ran

[2021-02-16 13:49] dilumn opened #41459 "number_with_precision :en locale issue"
Today while I was trying to update to Rails 6.1 I encounter this issue

### Steps to reproduce

[code]

The issue coming from https://github.com/rails/rails/pull/38148 this change https://github.com/rails/rails/pull/38148/files#diff-5431f6f3a381ee7842251c7fc01698f7b9c025c18b75eeb2d4897d1a972c57b6R48

When I checked even further, found that `!ruby/sym default` is not loading the value as a symbol i

[2021-02-16 16:09] willcosgrove commented on #41452
@alipman88 That makes sense. Thanks for walking through that! It sounds like there's probably nothing that can be done to improve this specific problem.

Our "fix" to this problem in our app has been to move away from partials towards helper methods that build markup through the use of the `tag` helper. We make extensive use of these little bits of markup to encapsulate our visual theme into reusa

[2021-02-16 16:55] wedgex opened #41460 "PendingMigrationError not raised for engine migrations"
### Steps to reproduce

We have an engine mounted that adds it's migration directory to the app's configuration as follows

[code]

When running the application, `ActiveRecord::PendingMigrationError` is never raised by the middleware if there are pending migrations in the engine. However the rake tasks pick them up correctly, `bin/rails db:migrate:status` for example shows the correct migration st

[2021-02-16 17:08] fschwahn opened #41462 "ActiveRecord::Base.no_touching does not prevent touch on save"
### Steps to reproduce
When saving a record inside a `ActiveRecord::Base.no_touching`-block, the `updated_at`-column is updated. I'm aware that there's a very similar issue #18811, however in the meantime the possibility to do `model.save(touch: false)` was added. The similarity in names leads one to believe that `no_touching` implies that the model is saved with `touch: false`.

[code]

### Expec

[2021-02-16 18:14] JasonBarnabe commented on #41403
I have this problem without a server/client version mismatch.

[code]
If I run `conn.execute('set names utf8mb4')` then I get:
[code]
and I can use utf8mb4 characters again.

In my case this happens on a CircleCI test run, where it's not easy to change the DB settings.

[2021-02-16 19:13] rafaelfranca commented on #41403
I think we should revert that change adding the `SET NAMES` back and instead fix the syntax of that statement to fix #41232.  For 7.0 I'm fine to not include the `SET NAMES` statement but for 6.1.x we should not remove that.

[2021-02-16 19:30] rafaelfranca commented on #41403
Reverted in 4f5e6b5 for 6-1-stable. main still have that change and maybe we will need to revisit it for 7.0

[2021-02-16 19:30] #41403 closed

[2021-02-16 19:34] p8 commented on #40874
On Rails 6.0.3.5 the last query is:
[code]

On Rails 6.1.2.1 the last query is:
[code]
The big difference is that on Rails 6.1 `"sales"."location_id" AS t0_r1` is missing.

[2021-02-16 20:06] p8 commented on #40874
Probably related to https://github.com/rails/rails/pull/39999
Adding a select with location_id fixes the issue:
[code]

[2021-02-16 20:31] p8 commented on #40874
I think the problems is in Geocoder:
https://github.com/alexreisner/geocoder/blob/5a9da970853ac0e95dffbc6b371feac4c775f396/lib/geocoder/stores/active_record.rb#L47
If `select[:options]` is blank the `location_id` column won't get added.
This can be reproduced by changing the test in the reproduction script to:
[code]
Note that the failing `near` scope on `Address` has been changed to a regular sco

[2021-02-16 20:54] fredplante opened #41466 "Capybara driver rack_test should respect data method attributes"
When using rack_test as a driver for system tests, the driver does not respect the `data-method` attribute when following links.

Capybara and rack_test support a specific option for this use case: `respect_data_method`

### Steps to reproduce
On a new rails app:

[code]
[code]
[code]
[code]

[code]
### Expected behavior
Test should pass

### Actual behavior
Test fails:
[code]

### System configur

[2021-02-16 21:13] #41038 closed

[2021-02-16 23:03] FlickStuart commented on #41038
I can confirm the issue we saw is fixed by the PR https://github.com/rails/rails/pull/41463 - cheers @jhawthorn 👍🏻

[2021-02-17 01:11] vtamara commented on #41038
Confirming that the issue is solved by using the branch main, that includes the solution of @jhawthorn.
Thank you very much.

[2021-02-17 01:19] mbronek7 commented on #38681
Same problem on Rails 6.1.1, Ruby 3, also
[code]
solved problem

[2021-02-17 01:46] #40584 closed

[2021-02-17 03:30] dilumn commented on #41459
@tom-lord do you think this is a good fix for the issue?

[code]

Or else we can remove `round_mode: !ruby/sym default` from `lib/active_support/locale/en.yml` as a fix also

[2021-02-17 04:08] bunnyUFO opened #41471 "Forced mysql2 Require on mysql2_adapter.rb is Causing Issues With Custom mysql2 Library"
### Steps to reproduce
include in gemfile
[code]
bundle
run code
`ActiveRecord::Base.establish_connection( adapter: 'mysql2', encoding: 'utf8', port: 3306)`

### Expected behavior
Should create connection and run fine

### Actual behavior
`"Error loading the 'mysql2' Active Record adapter. Missing a gem it depends on? Could not find 'mysql2'`

### System configuration
Running inside lambda with ru

[2021-02-17 07:46] #40583 closed

[2021-02-17 08:25] sjieg commented on #40583
This ticket actually represent a pending PR. Not sure what the normal process is for that.

[2021-02-17 09:50] tom-lord commented on #41459
Oh, that's super weird... I feel like maybe _that's_ the bug we could be addressing instead?

I just tried to reproduce your report:

[code]

...But it worked without error. So I would presume that the problem lies in some 3rd party gem?

[2021-02-17 10:09] dilumn commented on #41459
ohh looks like it is something to do with another gem. I will narrow it down. Thanks for your input Tom

Closing the issue

[2021-02-17 10:39] intrip commented on #41378
I've narrowed a bit the issue and I think it's related to the memoizing in https://github.com/rails/rails/blob/0f09dfca363410f51f6f60787a0e497ee66cdd13/activerecord/lib/active_record/associations/preloader/association.rb#L25
I'll try to figure out how to improve this check.

[2021-02-17 11:41] dhh opened #41473 "Running an individual test file should not use parallelized workers"
Parallelized-worker testing is amazing. When you're running a large suite of tests, and all your cores are cooking, it's peach. But when you're just running a single test file, the overhead required to setup the number of test databases equal to the number of cores you have is too great. So when we run a single test file, rather than a whole suite, we should not be using parallelized workers.

So:

[2021-02-17 13:07] tsubik opened #41474 "ActiveRecord: enum where clause does not work anymore in Rails 6.1 when providing array of strings"
### Steps to reproduce

When upgrading to Rails 6.1 I encountered a strange bug. In the application, the values to filter by enum property are passed not as an array of integers, but of strings, and that works correctly before. Now, instead of string array passed into `IN` clause, like `enum IN ('0', '1')`, there is `NULL` (`enum IN (NULL)`). I found that [this PR](https://github.com/rails/rails/p

[2021-02-17 14:29] eileencodes commented on #41471
This looks incorrect to me: `ActiveRecord::Base.establish_connection( adapter: 'mysql2', encoding: 'utf8', port: 3306)`. There can only be on `mysql2` adapter. Try changing it to `mysql2-lambda`, ie `ActiveRecord::Base.establish_connection( adapter: 'mysql2-lambda', encoding: 'utf8', port: 3306)`

If that doesn't fix it it's an issue with the mysql2-lambda gem, not Rails. Please open an issue at h

[2021-02-17 14:29] #41471 closed

[2021-02-17 14:44] sajjadmurtaza opened #41476 "Multiple Databases: Role suppose to change automatically based on request type?"
Currently, I am trying to use Multiple Databases in my application and my ApplicationRecord looks like
`connects_to database: { writing: :primary, reading: :primary_replica }`

Things are working fine but in my controller method when I print `ActiveRecord::Base.current_role` the output is always `:writing`.

`ActiveRecord::Base.current_role` should be `:reading` in case of `index` or `show` method

[2021-02-17 15:04] #41466 closed

[2021-02-17 15:15] eileencodes commented on #41476
Are you using the automatic swapping middleware? It won't automatically switch the connection if you don't have that turned on. Please read the guides here: https://guides.rubyonrails.org/active_record_multiple_databases.html

[2021-02-17 15:24] macfanatic commented on #40874
I opened issues in rails and geocoder as it wasn't clear to me, but I wasn't expecting a breaking change in rails `6.1.0` either. If this is the accepted path forward, it would mean that simply using `includes` or `references` is not enough, that the query author also has to modify the `select` of the relation to include the column itself?

[2021-02-17 15:27] p8 commented on #40874
Hmm yes, calling `Sale.select("")` shouldn't break the query for a join..

[2021-02-17 15:33] sajjadmurtaza commented on #41476
Oppssii. Sorry, I just added in `production.rb` and i forgot to add in my `development.rb`

Thanks alot! @eileencodes!

Actually, I was checking your video on youtube and tried to do the same!

[2021-02-17 15:33] #41476 closed

[2021-02-17 15:42] bunnyUFO commented on #41471
@eileencodes 'mysql2-lambda' has no adapter. It really is no different from mysql2 other than having the binary mysqlclient packaged in. It could use the exact same adapter if it just didn't forcefully depend on `gem "mysql2", "~> 0.5"`. Inside mysql2-lambda there is a mysql2 package that you can require instead.

[2021-02-17 15:53] rafaelfranca commented on #41471
We can require but we can't assert the version is compatible. `gem "mysql2", "~> 0.5` is there to make sure mysql2 0.4 or lower is not used. The `mysql2_adapter` adapter in Rails to be used with the mysql2 gem. If people want to distribute their own version of the mysql2 library without using the mysql2 gem, they can also distribute their own version of mysql2_adapter as well.

[2021-02-17 16:00] yalmasri opened #41477 "test is mixing nested attributes when using `with_options` validation"
### Steps to reproduce

- I have created an example project to reproduce the error with `rspec` and `minitest`:
https://github.com/yalmasri/rspec-nested

- add validation `with_options` to validate attributes by enum type:
https://github.com/yalmasri/rspec-nested/blob/master/app/models/seek.rb#L4

- create test and send 2 nested records to be created, each record with a different enum type and dif

[2021-02-17 16:20] bunnyUFO commented on #41471
@rafaelfranca That makes sense.
I'll figure out how to make an adapter for my use case.

[2021-02-17 18:30] yevgenko commented on #41474
I like the script :)
I was able to reproduce it on my side

### Running script as is ("activerecord", "6.1.2.1")

[code]

### Running script with #41068

[code]

[code]

[2021-02-17 18:39] bunnyUFO commented on #41471
After some digging around I found that the `mysql2-lambda` gem just [overrides the gem method if rails is present](https://github.com/customink/mysql2-lambda/blob/master/lib/mysql2-lambda.rb). Not using rails so didn't work. Will override it with a similar method that does not check for rails.

[2021-02-17 19:12] kivanio opened #41480 "Syntax error when add_index is used at Postgresql with both options if_not_exists and algorithm"
There is a syntax error for Postgresql when using both `if_not_exists: true` and `algorithm: :concurrently` options.

From what I have checked this seems to be an issue in previously rails versions too.

Postgresql documentation since 9.6 point that the Rails syntax is wrong.
https://www.postgresql.org/docs/current/sql-createindex.html
<pre>
CREATE [ UNIQUE ] INDEX [ CONCURRENTLY ] [ [ IF NOT EXIS

[2021-02-17 20:56] alimi opened #41481 "Loaded has_many collection doesn't get updated when new records are created"
### Steps to reproduce

[code]

### Expected behavior

`post.comments` should include the new `Comment`, and `post.comments.pluck(:id)` should include the new `Comment`'s id.

### Actual behavior

`post.comments` doesn't include the new `Comment`, nor does `pluck` include the new `Comment` id.

[code]

[code]

### System configuration
**Rails version**: master

**Ruby version**: 2.7.1

### Notes

[2021-02-17 20:59] fatkodima commented on #41480
Please, create a fix with a proper test case.

[2021-02-17 23:16] tpritc commented on #35540
With the approach @j-sieg laid out getting more and more popular now that we've got [Turbo Streams in Hotwire](https://turbo.hotwire.dev/reference/streams) (which, by the sounds of it will be bundled with Rails 7?), it might be worth revisiting this so it can be rendered as-expected in a worker. It'd be nice if it worked out of the box.

[2021-02-18 00:19] yevgenko commented on #41474
I've run git bisect with test script

    bundle && bundle exec ruby test_issue_41474.rb

<details>
  <summary>test_issue_41474.rb</summary>

[code]

</details>

And it shows that problem might have been introduced in 72fd0bae5948c1169411941aeea6fef4c58f34a9

[code]

@eileencodes, @kamipo is it regression?

Thanks.

[2021-02-18 03:02] anamba commented on #41459
I am having the same issue and have not yet been able to figure out what is causing it.

Example:

[code]

Then I created a new rails app, and it works as expected:
[code]

To try to isolate the cause, I then added my gems (still worked), then added my initializers (worked), then added all the rest of my code (worked), then added everything else I could think of (worked). Finally, I copied in the

[2021-02-18 03:05] dilumn commented on #41459
It looks like `safe_yaml` gem restriction causing the issue. But didn't have time to 100% confirm this yet

[2021-02-18 03:21] anamba commented on #41459
I mean, in the end, I did solve my problem, just in a very strange way that I can't explain.

I have seen this issue on other projects as well, so it would be nice find a better fix than creating a new rails app and transforming it into the existing one via git.

[2021-02-18 06:27] #41459 closed

[2021-02-18 09:16] p8 commented on #41481
Hi @alimi, it does work if you do:
[code]

[2021-02-18 13:52] sajjadmurtaza commented on #39449
@eileencodes I have a get request on the XYZ Controller#index ` def index ... end` method but I am calling another mother which includes `Model.where(column: value).first_or_create`.

[code]

I am not sure if it is expected behavior or I need to change the role for  `Model.where(column: value).first_or_create `?

 `ActiveRecord::ReadOnlyError (Write query attempted while in readonly mode: INSERT I

[2021-02-18 16:30] #40551 closed

[2021-02-18 18:17] dmitry commented on #31100
I believe there should be something like:

[code]

Came here after the MySQL -> PostgreSQL migration. MySQL adapter works fine with such syntax.

[2021-02-18 19:12] andynu opened #41491 "ActiveStorage: foreign key constraints broke db:schema:load with mysql"
### Steps to reproduce

- rails new -d mysql astest
- cd astest;
- bin/rails active_storage:install
- bin/rails db:create
- bin/rails db:migrate
- bin/rails db:schema:load
[code]

### Expected behavior
It should reload the schema without error.

### Actual behavior
It did not reload the schema, instead it had an error on deleting an active_storage_blobs foreign key constraint.

### System configur

[2021-02-18 20:47] sajjadmurtaza opened #41492 "ActiveRecord::ReadOnlyError (Write query attempted while in readonly mode: INSERT INTO "table""
### Steps to reproduce
I am using a multi-database. I have a get request on the XYZ Controller#index ` def index ... end` method and in `index` method I am calling `Model.where(column: value).first_or_create`.

[code]

and I have the following settings in the middleware
[code]
I am getting
`ActiveRecord::ReadOnlyError (Write query attempted while in readonly mode: INSERT INTO...`

I am not sure if

[2021-02-18 22:00] Sudrien opened #41494 "ActiveRecord: uniqueness validaion has no way to provide records tat caused validaion failure"
https://github.com/rails/rails/blob/3daf2c7b2df8014c928f5640376550191ab712b7/activerecord/lib/active_record/validations/uniqueness.rb#L43

https://github.com/rails/rails/blob/291a3d2ef29a3842d1156ada7526f4ee60dd2b59/activerecord/lib/active_record/locale/en.yml#L11

The default "errors.messages.taken" does it's job of stating a value is already used, but not of what other record(s) use it.

If `rel

[2021-02-18 22:27] alimi commented on #41481
@p8 yeah, `comment = post.comments.create!` works.

Should `comment = Comment.create!(post: post)` work too, or is that not the expected behavior? It used to work in older versions of ActiveRecord.

[2021-02-18 23:55] rafaelfranca commented on #41494
If I remember correctly, the reason to not pass relation to the message is because i18n have backends that don't work well with complex objects. I think we could add an option to load the ids and push to the message but I don't think that should be by default.

Thank you for the issue but I'm closing since this is a feature, but feel free to open a PR with this new option.

[2021-02-18 23:55] #41494 closed

[2021-02-19 04:22] although2013 commented on #31979
Just for someone who encounter this problem later, I am also confused that the `ApplicationController.render()` would **NOT** use the defaults you defined in default renderer file. Instead you need to **create a new instance of renderer.**

You can try the following solution to render html outside of controllers with custom `http_host`:

1. Comment out these code as below:
[code]

2. Create a new

[2021-02-19 04:40] haroldus- commented on #38027
They're not missing if you use `rich_text_area_tag`. However `rich_text_area_tag` does not show the caption correctly.
`form.rich_text_area`:
![Screenshot from 2021-02-19 15-35-59](https://user-images.githubusercontent.com/6521546/108458264-6a74d780-72c8-11eb-9aed-e772a34d3029.png)
`rich_text_area_tag`:
![Screenshot from 2021-02-19 15-39-11](https://user-images.githubusercontent.com/6521546/108458

[2021-02-19 08:06] phuongnd08 opened #41497 "Confusing behavior while using connected_to block"
### Steps to reproduce
I have a Rails app running Rails 6.0.2.2 which I noticed using very little resource on reading database and use all the resource on writing database. This is my database configuration:
[code]

My AR declaration:
[code]

I run this code:

[code]

### Expected behavior
The query is executed on the reading database

### Actual behavior
The query is executed on the writing datab

[2021-02-19 09:40] kaspernj opened #41498 "ActiveRecord: Missing joined table after upgrading to 6.1"
### Steps to reproduce

I have written a test to reproduce the error. Passing on 6.0 and failing on 6.1.

Put this file in its own directory and run it from there.

[code]

### Expected behavior

I would expect the "contact_relationships" for communes on schools to be present instead of re-using the previous join wrongly.

I would expect this assertion to pass:
[code]

### Actual behavior

It uses

[2021-02-19 13:25] eileencodes commented on #41497
Hi @phuongnd08 - there's not enough information here to determine what's wrong. The `connected_to` block works correctly in all the apps I've used it in and in GitHub so it must be something about your setup if it's reading from the writing block. Can you try to reproduce in a sample application and share that with me? Are you using the automatic switching database? Do you have logs showing it's g

[2021-02-19 13:27] eileencodes commented on #41492
This is expected behavior, you're writing in a reading request.

[2021-02-19 13:27] #41492 closed

[2021-02-19 13:29] eileencodes commented on #41492
If you have questions about how to use the feature please use https://discuss.rubyonrails.org/ or stack overflow. We reserve the issues tracker in Rails for bugs in the framework. The Core team is too small to answer help questions.

[2021-02-19 16:12] shireenrao opened #41502 "rails test fails with cannot load such file rexml/document"
### Steps to reproduce

$ rails new myapp
$ cd myapp
$ rake db:create
$ rails g scaffold Entry meal_type:string calories:integer
$ rails db:migrate
$ rails test
### Expected behavior

[code]
### Actual behavior

[code]
### System configuration
**Rails version**:
Rails 6.1.3
**Ruby version**:
ruby 3.0.0p0

Adding 'rexml' in the test group in the Gemfile fixes the issue.

[code]

[2021-02-19 18:14] rafaelfranca commented on #41502
This is an issue with selenium-webdriver. https://github.com/SeleniumHQ/selenium/blob/trunk/rb/lib/selenium/webdriver/firefox.rb#L22. Could you please report there?

[2021-02-19 18:14] #41502 closed

[2021-02-19 18:15] rafaelfranca commented on #41502
In fact it was already fixed and should be released in the new version of selenium-webdriver https://github.com/SeleniumHQ/selenium/commit/526fd9d0de60a53746ffa982feab985fed09a278

[2021-02-19 18:20] shireenrao commented on #41502
Thank you @rafaelfranca!

[2021-02-20 10:15] phuongnd08 commented on #41497
We updated our rails gem to 6.0.3.5 and the issue has gone away. I guess just some known bugs with 6.0.2.2? With 6.0.2.2 we also getting an error in which this block won't raise `ActiveRecord::ConnectionNotEstablished`:

[code]

(role testing does not exist).

[2021-02-20 10:15] #41497 closed

[2021-02-20 14:11] thewatts commented on #41452
@alipman88 totally agree!

The same is true for calling any method with differing inputs.

I think where we're wondering about optimization is: if we were to call a method directly, instead of `render`, the speed increase is significant. From what we understand about render calls - is that the lookup is cached - so it should, in theory, be the equivalent of calling a method, right? (I could be _co

[2021-02-20 14:22] thewatts commented on #41452
As a side - in looking at the screenshots - calling `render` allocates significantly more objects, perhaps that is where the majority of the speed difference is.

[2021-02-20 21:31] figarrido commented on #18338
I was connecting to a legacy database with the column `changes` and rails throw this errors, I didn't need the column so I used
[code]
I know this is not applicable to all, but in case you don't need the column, here is your solution

[2021-02-21 10:40] bobf commented on #37835
@yagudaev I agree that things in `lib/` should be extractable into a separate gem.

However I do not think it is correct that files in `lib/` should be auto-loaded, because a plain Ruby gem must `require` all of its files explicitly, which does not seem to be compatible with Rails auto-loading semantics.

I put "other" code that is app-specific into `app/lib` and assume it will be part of that Rai

[2021-02-21 11:37] fxn commented on #37835
Just in case, let me add that `lib` is added to `$LOAD_PATH` by Rails automatically.

[code]

In my view, conceptually there is no probem in making files within `lib` autoloadable and reloadable. There are dozens of gems that use Zeitwerk to load their code (their own instance).

You only need to be careful, because if you have

[code]

and you put `lib` in as autoload path, you are saying that `l

[2021-02-21 17:36] #40305 closed

[2021-02-21 20:13] sebastian-palma commented on #41474
What does that "loading for inspect" mean?

[2021-02-22 05:03] abhaynikam commented on #38027
@haroldus- I think `rich_text_area_tag` was able to render the preview image for PDF here when you use following
[code]

This should also work with `form.rich_text_area` if value is supplied as an option:
[code]

Action Text by default delegates the association call to `to_s` method which renders the HTML with the `_blob.html.erb` layout due to which preview are shown and caption part is broken.

[2021-02-22 10:08] ayrton commented on #37555
As of #41404 you can now pass an array of objects vs a collection. The generated (unhashed) etag of the array object looks like:

[code]

The generated (unhashed) etag of the scope object looks like:

[code]

[2021-02-22 12:10] joel commented on #41502
Actually it seems this gem is missing in Ruby 3

I had to add it to my Gemfile

[code]

[code]

[code]

[2021-02-22 12:52] VitaliiLazebnyi opened #41515 "params.require shows to users controller methods in PROD mode"
### Steps to reproduce
1. add params.require(:some_param) to controller action
2. do a request

### Expected behavior
I see an error: ":some_param" is missed
I see no internal system details.

### Actual behavior
I see my controller details on the test and production environment. (thankfully to "Did you mean?" section)
(even though **consider_all_requests_local** is _false_  everywhere )

since ex

[2021-02-22 13:33] #41474 closed

[2021-02-22 14:57] brunoarueira commented on #38080
I've got the same issue on rails 6.0.3.5, I'll submit a pr following the same logic made to address the issue on #869 and suggested by OP too.

@rafaelfranca I guess this issue should be reopened

[2021-02-22 15:38] #40507 closed

[2021-02-22 17:53] xero-lib commented on #24518
I just got syntax errors, and assignment errors.
![image](https://user-images.githubusercontent.com/54485853/108748799-9d0b1400-7504-11eb-9655-db4c30319b19.png)

[2021-02-22 19:29] eileencodes commented on #41481
Hey @alimi 😄

I think this is an issue with an already loaded association. If you call `post.reload` before the assertions then the script passes. I'm not sure this is a bug, that seems like expected behavior to me. I think potentially pluck worked before #25976 but wasn't supposed to.

[2021-02-22 19:38] #40036 closed

[2021-02-22 20:09] alimi commented on #41481
Hey @eileencodes! 👋🏾

Hmm, ok. I'm working on a Rails upgrade from 4.2, and we're running into problems because this used to work in 4.2 but doesn't in 5+. Fortunately this has only been a problem in the test suite, and it's not the end of the world to sprinkle `reload`s in a few tests. It feels a little wrong though.

[2021-02-22 20:29] ghiculescu opened #41520 "`attr_readonly`: surprising inconsistency between what's saved and what's in memory"
### Steps to reproduce

When an attribute is marked as `attr_readonly`, updates to it are not persisted. But, surprisingly, the in memory object *is* updated. There is no warning about this inconsistency. This means that if you do something that refers to this attribute's value after the update attempt, you'll be working with an incorrect value.

[code]

### Expected behavior
I would expect the in

[2021-02-22 20:56] RookieBoi opened #41521 "ActiveModel::Dirty fails on to_json"
### Steps to reproduce
I have this `Person` class
[code]
`person = Person.new() => #<Person:0x00007f9f50718120 @name=nil>`
`person.to_json => "{'name': null}"`
`person.name = 'test'`
[code]
### Expected behavior
`person.to_json => "{'name': 'test'}"`

### Actual behavior
[code]
### System configuration
**Rails version**:
rails 6.0.3.5
**Ruby version**:
ruby-2.7.0

(FYI `to_yaml` works fine)

[2021-02-22 21:38] ahmeij commented on #40957
Ran into the same problem here, for me the problem was in an older version of awesome_nested_set, updating it fixed the problem.

[2021-02-23 02:04] numf6 opened #41527 "windows 10 install not work run serv"
### Steps to reproduce

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:
Microsoft Windows [Version 10.0.19042.804]
(c) 2020 Microsoft Corporation. All rights reserved.

C:\Users\window10\Documents>gem install rails
Fetching concurrent-ruby-1.1.8.gem
Fetching i18n-1.8.9.gem
Fetching tzinfo-2.0.4.gem
Fetching zeitwerk-2.4.2.gem
Fetching acti

[2021-02-23 03:33] systemist commented on #41481
Should we / @alimi upstream a test case for future versions? 4.2 is out of maintenance, so if @eileencodes thinks this is intended, it seems like a test case for using `Comment.create!(post:post)` vs `post.comments.create!` could be useful.

[2021-02-23 04:30] r-obeen commented on #40955
I have the same issue ! Anyone has a solution ? Thanks

[2021-02-23 13:17] eileencodes commented on #41527
The error tells you what's wrong:

[code]

You need to run `rails webpacker:install`

[2021-02-23 15:33] jonathanhefner commented on #41527
To add on to what Eileen said, `rails new demo` tried to run `rails webpacker:install` automatically, but it failed because Node.js was not installed:

Please install Node.js, and then run `rails webpacker:install` in the project directory.

(Closing since this is not a Rails issue.)

[2021-02-23 15:33] #41527 closed

[2021-02-23 16:08] ghiculescu commented on #41520
That's currently what happens. I updated the PR body with a test case that shows this.

I'd be okay with a validation error too. Added a test case to confirm there isn't one currently.

[2021-02-23 16:12] joshleblanc opened #41531 "Arel: order ignores multiple nulls_last or nulls_first"
### Steps to reproduce

Try ordering by 2 `nulls_last` columns:

[code]

### Expected behavior

It should also order by `examples.updated_id DESC NULLS LAST``

### Actual behavior

The second order statement is ignored completely.

### System configuration
**Rails version**: 6.1.3

**Ruby version**: ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x64-mingw32]

[2021-02-23 16:13] #41075 closed

[2021-02-23 19:29] rsanheim opened #41535 "ActiveSupport::Cache#fetch_multi does not respect the force option"
### Steps to reproduce

Create a brand new rails app, `rails dev:cache` to enable caching in dev mode, then open up a console via `rails console` and paste the following:

[code]

Note that this behavior is the same across all cache store implementations - we originally witnessed this in our production Rails app that uses the Redis cache store. It appears the force option was just never implemente

[2021-02-23 19:31] rsanheim commented on #41535
Note that we have worked around this in our app with an extension on ActiveSupport::Cache::Store that works fine:

[code]

[2021-02-23 20:53] wedgex commented on #41460
After digging in a bit deeper it seems that the `ActiveRecord::Migration::CheckPending` middleware ultimately uses `Migrator.migrations_paths` as its source of migration paths. However nothing ever seems to set this when running the application so it remains the default.

https://github.com/rails/rails/blob/561fa1e165766a45ef9b0c93d7dd3bc746775bc3/activerecord/lib/active_record/migration.rb#L1235

[2021-02-24 01:53] martinlevesque commented on #41286
As a follow-up, the issue was in my case was with having the gem safe_attributes ( https://github.com/bjones/safe_attributes ) with rails 6.1.0

Fixed it by removing safe_attributes

[2021-02-24 03:44] eadz commented on #40986
We just came across this issue. Please please, respect the PK type configured in rails.

The logic doesn't have to be super complicated, it could be two different copies of the migration - one for uuids and one for ints.

[2021-02-24 03:45] eadz commented on #40986
And/or as suggested, throw an error, or print a big warning.

[2021-02-24 05:55] alipman88 commented on #41521
I'm able to reproduce.

Looks like the recursive Hash#as_json call on line 175 in active_support/core_ext/object/json.rb can open a bottomless pit.

[code]

I'll see if I can come up with a patch.

[2021-02-24 09:22] #40647 closed

[2021-02-24 12:13] maxrosecollins opened #41537 "6.1 - Joining Across Databases"
[This](https://guides.rubyonrails.org/active_record_multiple_databases.html#joining-across-databases) says it is possible in 6.1 but I can't find any documentation on _how_ to do it?

How do I implement it? How does it work? How do I set up migration files?

[2021-02-24 14:00] eileencodes commented on #41537
Oops. I need to update those docs because we haven't added support for that yet, it's still not possible. Migrations will be setup the same thought, this is just the relationship functionality. We're actively working on porting our gem at GitHub to rails/rails but it's not been completed yet. We're aiming for 7.0. Sorry for the confusion 😢

[2021-02-24 14:01] #41537 closed

[2021-02-24 14:07] eileencodes commented on #41537
I fixed the docs in 9d4a025be2bb335de7ae2e12a6132d284cb97e21 for main, 0440369d03ae99f9f044b00e39dcd3d9871c65c2 for 6-1-stable, and d918be6e7f61fa6a6fea081ca23f17cecd657c3f for 6-0-stable. The guides will be updated in the next release of each of these.

[2021-02-24 14:08] maxrosecollins commented on #41537
@eileencodes no problem :). So for now I have to use two selects?

[2021-02-24 14:10] eileencodes commented on #41537
Yup, it's kind of a pain at the moment, sorry about that. We were really hoping to get the functionality in for 6.1 but it didn't happen.

[2021-02-24 14:40] panSarin opened #41539 "Conotrollers scaffold generator update broke old behaviour for previous rails versions."
### Steps to reproduce

[code]

### Expected behavior
Based on
https://github.com/rails/rails/blob/6-0-stable/railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt
it should generate something like:
[code]

### Actual behavior

but generated:
[code]
I am aware that it is not a big deal, even if someone will use the new scaffold in old rails, it won't break anything.
On

[2021-02-24 15:34] nsikanikpoh opened #41540 "Unknown Attribute after column is added to db and shows on console when instance of the model is called"
### Steps to reproduce

### Expected behavior

attribute should be mass assigned with new and read from model object.

### Actual behavior

I added a migration as follows:
`class AddPaceLearnToPlans < ActiveRecord::Migration[5.2]
    def change
      add_column :plans, :pace_learn, :boolean, default: false
      add_column :plans, :publish, :boolean, default: false
    end
end`

`publish` is acces

[2021-02-24 20:07] wilg commented on #40699
I am getting a similar error, except I think it involves Scout APM

[2021-02-24 20:09] wilg commented on #40699
Perhaps it involves rescuing a DB exception: https://api.rubyonrails.org/classes/ActiveRecord/Transactions/ClassMethods.html#module-ActiveRecord::Transactions::ClassMethods-label-Exception+handling+and+rolling+back
https://stackoverflow.com/questions/21138207/activerecordstatementinvalid-pg-infailedsqltransaction

[2021-02-24 21:55] Scott3377 opened #41545 "config.hosts no longer supports underscores in host name and error message is incorrect"
### Steps to reproduce
Create an application with an underscore in the hostname (e.g. rails_example). Add that hostname to config.hosts in your config/environment.rb. Update your local hosts file to point your hostname to 127.0.0.1 so that your local dns will resolve your hostname to your locally running server. When navigating to https://rails_example:3000, you will see the following error:

[cod

[2021-02-24 22:02] cristian-rivera commented on #38842
I can confirm that instead of downgrading Rack, the following workaround yields success: https://github.com/rack/rack/issues/1619#issuecomment-741649037

[2021-02-24 23:11] krtschmr commented on #41520
validation_error would be okay, with `save!` or `update!` we would then get an exception.

i personally do like the exception once you even try to write into. if that's configurable, we have all cases covered in one

[2021-02-24 23:22] ghiculescu commented on #41520
I made a discuss thread about this https://discuss.rubyonrails.org/t/attr-readonly-confusing-behavior/77258 but unless anyone thinks it's a terrible idea, I plan to work on this soon.

[2021-02-24 23:27] ricardotk002 commented on #41473
@dhh Are you thinking of something like this? https://github.com/rails/rails/compare/ricardotk002:disable-parallel-testing Happy to open a PR if that's the case.

Comparing times using the test example (printing the output):

Before
[code]

After
[code]

[2021-02-25 01:18] darrenterhune commented on #33036
@georgeclaghorn is there any reason we couldn't do this?:

[code]

In `ActiveModel::Serialization` here https://github.com/rails/rails/blob/main/activemodel/lib/active_model/serialization.rb#L144

[2021-02-25 03:57] JunichiIto opened #41547 "Different index name is given when running migration in Rails 6.1"
### Steps to reproduce

[code]

Then, you will see:

[code]

### Expected behavior

`git diff` should show nothing. (no difference)

### Actual behavior

- [The polymorphic index name that was defined in Rails 5.2](https://github.com/JunichiIto/index_name_sandbox/blob/main/db/migrate/20210225025058_create_pictures.rb#L5) will change in Rails 6.1.
- But [the polymorphic index name that was defined

[2021-02-25 08:57] lukeredpath commented on #41547
If it helps, you should use db:schema:load to recreate a new database, not db:migrate. There's lots of ways old migrations can change behaviour as your codebase changes over time and also between Rails versions.

[2021-02-25 10:45] dmitry commented on #40867
/cc @gmcgibbon

[2021-02-25 16:28] yknx4 opened #41549 "undefined method `pool when running a test with multiple databases on Rails 6.1"
### Steps to reproduce
  I have a normal test to an endpoint that calls two different databases
[code]

database.yml
[code]

### Expected behavior
It should complete the test with no DB errors

### Actual behavior
[code]

### System configuration
**Rails version**: 6.1.3

**Ruby version**: 3.0.0

[2021-02-25 18:40] eileencodes commented on #41549
Thanks for the report @yknx4. Unfortunately, there's not enough information in this issue to figure out what's wrong. Can you make a sample application that reproduces the issue? Are you using legacy_connection_handling or the new connection handling?

[2021-02-25 19:40] thomasbromehead commented on #33115
@koenhandekyn You saved me a lot of searching...!!!

[2021-02-25 21:10] sbeckeriv opened #41551 "[ActiveRecord] schema_cache.yaml does not account for the database schema (tested in postgres)"
Dearest maintainer,

I hope all is well. I found this issue within my project and thought it best to share back. I have models under a different database schema and the schema cache yml file does not properly provided the caching for the schema table lookup. This can cause every request to hit the database for the sql again.

### Steps to reproduce
I found it in rails 5.2 but it still has the same

[2021-02-25 23:32] gmcgibbon commented on #40867
This is a great bug. When `some_team.team` is being loaded, the inverse is being set to the parent, creating an infinite chain. In the test that doesn't fail, you can see `grandchild.team.team == grandchild` and `child.team.team == child`. The association setting the inverse is a `BelongsToAssociation`, and so is the inverse it is setting. I think we just need to set some kind of guard for this se

[2021-02-26 04:39] #32826 closed

[2021-02-26 06:22] nitinkatkam opened #41553 "Rails New - Tries to install nokogiri for arm64-darwin instead of using x86_64-darwin"
### Steps to reproduce
1. Run a "sudo gem install rails"
2. Run a "rails new myproject"

### Expected behavior
It should successfully create a project directory

### Actual behavior
It fails with:
[prob2.txt](https://github.com/rails/rails/files/6047743/prob2.txt)

I noticed that it attempts to use the nokogiri gem for arm64-darwin instead of the nokogiri gem for x86_64-darwin:
[prob1.txt](https:/

[2021-02-26 06:36] nitinkatkam commented on #41553
This isn't specifically a rails problem. There could be a dependency that is bringing in the nokogiri gem for the wrong platform.

[2021-02-26 06:36] #41553 closed

[2021-02-26 08:51] a2ikm opened #41554 "JSON serialization of in-array object seems broken with ActiveSupport 6.0 and Ruby 3.0"
The following script generates `["#<Answer:0x00007f7fac856fa0>"]` with ActiveSupport 6.0 and Ruby 3.0.
On the other hand, it generates `[{"body":"42"}]` with other version combinations.

[code]

### Steps to reproduce

Make a test file:

[code]

and run it with some combinations.

[code]

### Expected behavior

Two tests in all commands pass.

### Actual behavior

`test_to_json_object` passes in a

[2021-02-26 10:19] a2ikm commented on #41554
As far as I've investigated, the version of json gem doesn't affect the result.

I tested two versions of json gem against ActiveSupport 6.0.3.5 and Ruby 3.0.0, and both failed.

- 2.3.0 : the default version in Ruby 2.7.2
- 2.5.1 : the default version in Ruby 3.0.0

The test script is the most same as the above:

[code]

and I got these results:

[code]

[2021-02-26 13:45] intrip commented on #41378
@kamipo https://github.com/rails/rails/pull/41489 fixes this issue, could you be so kind to take a look at it?

[2021-02-26 13:59] eileencodes commented on #41549
I tried reproducing this on 6.1 generated app with both the new and legacy connection handling and the tests passed. This is either an issue with rspec (I used minitest because that's the default), or with a part of the application setup not included in the report.

[2021-02-26 16:36] RookieBoi commented on #41521
@alipman88  thanks for looking into this

[2021-02-26 21:19] orenyk commented on #40629
Is there a reason why this issue was closed? I think this could be very helpful. Thanks!

[2021-02-26 21:45] 3limin4t0r opened #41561 "rails-ujs uses the return value of getAttribute to check for the presence of an attribute"
The current rails-ujs checks if the "data-remote" attribute is present using:

https://github.com/rails/rails/blob/f4c51e8660bf1771268d45325fff8378eb90698e/actionview/app/assets/javascripts/rails-ujs/features/remote.coffee#L10-L13

Which assumes that `value` is `null` (or `undefined`) if the attribute is not present.

The MDN `getAttributes` documentation says that the old DOM 3 Core specification

[2021-02-26 23:33] github0013 commented on #41378
[code]

Thanks a million!
I tried your branch, and my rspec is all green!    Just wondering if this same fix will be applied to version 5 and 6 because it show this rails is `Rails 7.0.0.alpha`.

[2021-02-27 01:03] darrenterhune commented on #33036
We ended doing this which is working for us:

[code]

Now if an `Attached::One` is nil it will just return `"logo"=>nil` and  for `Attached::Many` it will just return what it normally returns `"logos"=>[]`

[2021-02-27 07:15] cloud69420 opened #41566 "Ability to set default values with `rails generate`"
Anybody know if `rails g migration` will ever let you set default values? Seems kinda silly having to manually add them afterwards :)

In my case it'd be nice with say `rails g migration AddVotesToPosts upvotes:integer:0 downvotes:integer:0`.

Thanks everyone!

[2021-02-27 09:22] koolfreak commented on #32790
Hi @doberg , have solve this issue? i am using dropzone to save to google cloud, but i also having issue saving it into particular folder. The question might be, how to create io from http request?

i tried this: io: params[:file] well it does not worked.

[2021-02-27 09:40] koolfreak commented on #32790
@doberg nevermind, i already found the solution:

io: File.open(params[:file])

key: "avatars/#{user.id}.jpg", io: io: File.open(params[:file]), content_type: "image/jpeg", filename: "avatar.jpg"

[2021-02-27 15:28] martinlevesque opened #41567 ""Invalid encoding for parameter" no more reaching action with rails 6.1"
Hey,

Looks like since rails 6.1, I am now getting the following errors getting thrown before reaching the controller action code:

[code]

while before, I was handling these bad encoding parameters, without failing requests - those are valid transactions from Paypal.

Is it a breaking change? And is there a way to avoid having that exception being throw and process the raw post - i'm typically pr

[2021-02-27 18:09] martinlevesque commented on #41567
Can use the following to skip encoding checks (not really recommended thus):

_$ cat config/initializers/skip_encoding_check.rb_

[code]

[2021-02-28 05:40] JunichiIto commented on #41547
You can see my commit logs here:
https://github.com/JunichiIto/index_name_sandbox/commits/main

I just created a Rails 5.2 application for testing purpose and added a model with polymorphic association, then updated to Rails 6.0 and added another polymorphic association column, finally updated to Rails 6.1.

I saw it, but I don't know why it doesn't work for Rails 5.2 migration. The test might fai

[2021-02-28 14:32] heaven commented on #32376
I'm having the same issue while calling `teacher.update!` like this:
[code]

[2021-02-28 22:38] ac74394 opened #41574 "{willAttemptReconnect: true} when calling .disconnect on server"
This is my first-ever bug report so please let me know how to help.

Standard Rails ActionCable setup...

### Expected behavior
When calling ActionCable.server.remote_connections.where(current_user: User.first).disconnect, the client should not attempt to automatically reconnect.

### Actual behavior
calling ActionCable.server.remote_connections.where(current_user: User.first).disconnect does disc

[2021-02-28 23:04] georgeclaghorn commented on #41574
Are you able to reproduce on latest Rails 6.1? 5.2 is several years old and [no longer receiving bug fixes](https://guides.rubyonrails.org/maintenance_policy.html).

[2021-02-28 23:18] ac74394 commented on #41574
Thanks for the quick response!  I'll wire up a new Rails app and take a look...

[2021-03-01 00:39] ac74394 commented on #41574
Hello - I just updated the app to 6.1.3.  Same problem.

From rails c:
irb(main):002:0> ActionCable.server.remote_connections.where(current_user: User.first).disconnect
  User Load (0.8ms)  SELECT "users".* FROM "users" ORDER BY "users"."id" ASC LIMIT $1  [["LIMIT", 1]]
[ActionCable] Broadcasting to action_cable/Z2lkOi8vYWxnb25pdXMvVXNlci8x: {:type=>"disconnect"}
=> 1
irb(main):003:0>

And, in the

[2021-03-01 03:20] ac74394 commented on #41574
So, I got everything to work the way I think it should, using the following workaround (though, it doesn't seem logical that willAttemptReconnect should be set to true when a disconnect command is sent from the server; but it's entirely possible that I am wrong with my logic!)...

On the client side, in the channel_name.js script, I added the following to the disconnected function:

`		  disconnec

[2021-03-01 04:47] hoangtuyb96 opened #41575 "Different table alias is given after upgrading to 6.1"
### Steps to reproduce
The following script is able to reproduce the bug.
- Save it ( i.e as test.rb)
- Change the database's information
- Run it
  - To run in rails 6.1.0: `ruby test.rb`
  - To run in specific rails version: `ruby test.rb specific_rails_version` ( `ruby test.rb 6.0.3.4`)

[code]

### Expected behavior
[code]

Execute the above and shouldn't get some errors.

### Actual behavior

[2021-03-01 08:26] nvolker commented on #41545
Nice one! Ran into this issue this morning...

[2021-03-01 09:09] intrip commented on #41545
`_` is not allowed in host name as per [RFC](https://tools.ietf.org/html/rfc952).
I think the possibility of using `_` was just an hidden issue which was fixed indirectly in https://github.com/rails/rails/commit/83a6ac3fee8fd538ce7e0088913ff54f0f9bcb6f

In short: I don't think we should enable `_` in host name thus this is not a regression, anyways the end decision is from the core team.

[2021-03-01 09:15] intrip commented on #41378
You're welcome!
From the [mainteinance policy](https://guides.rubyonrails.org/maintenance_policy.html#bug-fixes) looks ike if the PR is accepted it may be ported to 6.1 max

[2021-03-01 09:28] intrip commented on #41566
Is not possible: https://guides.rubyonrails.org/active_record_migrations.html#column-modifiers
"null and default cannot be specified via command line."

[2021-03-01 09:35] intrip commented on #41540
Looks like there is an issue with the name `'pace_le arn'` could you double check that?
Would be also nice to have a reproduction script.
Is it only Rails5 or also newer?

[2021-03-01 09:54] nsikanikpoh commented on #41540
Oh thanks. I'm just taking note of the space in `pace_le arn`.

[2021-03-01 10:55] intrip commented on #41378
@github0013 could you please reopen? I'd wait for the PR to be accepted/merged before closing this 🙂

[2021-03-01 11:09] samvandamme opened #41578 "ActiveStorage: Old urls still include deprecated :combine_options in variation_key"
### Steps to reproduce
Recently I upgraded from Rails 6.0.3.4 to 6.1.3. ActiveStorage deprecated `combine_options`, which I cleared from my app. All fresh request work as expected.
Internet Bots (Facebook, Google, ...) cache urls to images hosted on a website (like mine). According to my Rollbar records they request these a couple of times a day.

### Expected behavior
These URLs just load.

### A

[2021-03-01 13:55] fynsta opened #41580 "undefined method `deduplicate' for 4:Integer Did you mean? duplicable?"
On the following statement, we experienced an error
`Product.find(13).devices.pluck(:id)`

The error was

According to AppSignal, it happened in active_record/connection_adapters/mysql/type_metadata.rb, line 33

### System configuration
**Rails version**:
6.1.0

**Ruby version**:
3.0.0

[2021-03-01 14:23] intrip commented on #40550
I'll take a look at the issue and try to figure out a fix.

[2021-03-01 14:36] dmitry commented on #40550
@intrip I have found that it may happen because `has_one` or `belongs_to` (can't remember) has transaction block with empty rescue, which means `throw :abort` exception are not going to be rethrown again.

[2021-03-01 16:56] eregon opened #41583 "Time.at(946702800, 123) fails with latest Rails on Ruby 2.5.8"
### Steps to reproduce

[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: latest
**Ruby version**: 2.5.8

Extracted from https://github.com/rails/rails/commit/249232f6590394103494aa83075cc5c38efa0e6d#r47699843
Related to #41375

[2021-03-01 20:40] p8 commented on #41580
Hi @fynsta. Thanks for submitting this issue.
Could you add a reproduction script using a bug template? For example:
https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_gem.rb

[2021-03-01 21:04] p8 commented on #41561
Hi @3limin4t0r. Thanks for submitting this issue.
Since all modern web browser return null, I don't think this is a problem.
I also don't expect this will change in the future...

[2021-03-01 21:19] fynsta commented on #41580
Hi, thanks for your answer. I'd like to add a reproduction script, but for some reason I can not reliably reproduce the error, which is very weird...

[2021-03-01 21:37] fynsta commented on #41580
Sure,
For `Product.find(13).devices.map(&:id)`

And for `Device.where(product_id: 13).map(&:id)`

But right now, `pluck(:id)` works again and gives the same result... If this is not enough information (and I suspect it is not) I can close the issue until I notice it the next time and can find out more about it.

[2021-03-01 21:57] p8 commented on #41580
Weird... Does the error always mention the number 4? 4 used to be the object id of nil. Can the column contain nil values?

[2021-03-01 22:06] fynsta commented on #41580
Hm do you mean the id column? That can't be nil...
The error occured only once, and the relevant line is in a sidekiq-worker that runs very regularly. Could that have something to do with it?

[2021-03-01 22:21] p8 commented on #41580
Hmm... could be that the devices/product weren’t committed to the database while sidekiq was trying to process them.

[2021-03-01 23:50] GProst opened #41587 "SQL produced by eager loadin queries causes issues when some column is removed from DB during deploy"
Hello!

Eager loading queries produce SQL where each column is selected explicitly by name:
[code]
Instead of just:
[code]

This causes problems when some column gets removed from the database during deploy - when DB is updated but some servers are still running with the old schema loaded in memory.

Is there a way to use `*` instead of selecting all columns by name?

As I understand the current w

[2021-03-02 07:45] kamipo commented on #41575
I'm curious why table names are "test." qualified even though the adapter connected to the database "test".

Unfortunately Active Record never supported schema qualified query generation officially, so I'd like to hear the use case before we decide whether to support that or not.

As long as schema qualified table name is used, association alias tracking doesn't perfectly work.
But if you'd like t

[2021-03-02 08:13] hoangtuyb96 commented on #41575
Thanks for your advice. It works well.

[2021-03-02 09:18] nikolai-b commented on #39349
@Qwertie- it was merged in https://github.com/rails/rails/pull/39350/commits/31575b39ca4d5f8bb7dc1d5cd98dd1e974069259 so you'd need Rails v6.1.0.rc1 or higher

[2021-03-02 11:24] abitrolly commented on #35144
How to find out which dependency keeps `activesupport-4.2.11.3` which contains this bug?

[2021-03-02 11:32] p8 commented on #41583
Hi @eregon, thanks for reporting this.

If I run the following script:
[code]

I get the following error on 2.5.8:
[code]

[2021-03-02 12:21] kamipo commented on #41583
Main branch is targeted to >= Ruby 2.7.

But I've found the backported commit 97a0a94cc825810f4cd1e3c74cf75ed7159a330c has another bug that losing `in` option.
It will be fixed by #41592.

[2021-03-02 12:34] kamipo commented on #41583
Closing this in favor of #41592.

[2021-03-02 12:34] #41583 closed

[2021-03-02 12:42] kamipo commented on #41587
Thanks for the report, but  use `ignored_columns` for the migration purpose. #21720

[2021-03-02 12:42] #41587 closed

[2021-03-02 13:28] aleksandrs-ledovskis commented on #39912
There is no other option but to use it, if a DBMS error-proof wrapper is being constructed.

For example, say you use PostgreSQL and build an auditing library that wraps own transaction via `around_action` and later on that action (which at that point is outside library's control) internally catches `ActiveRecord::StatementInvalid` when calling `#save`. The outer transaction will be irrevocably bu