[2016-11-20 00:07] utilum commented on #26984
@ejsorrento did you try entering the values in the code, "dhh" for name and "secret" for password?

[2016-11-20 00:47] guilleiguaran commented on #25208
The pull request for this: #27113

[2016-11-20 01:31] NicosKaralis commented on #26083
@pixeltrix c'mon man. Im requesting the `js` template and it is giving me the `html` template, which is:

I've also created an issue for my problem here #27095

[2016-11-20 02:46] prathamesh-sonpatki commented on #27110
I will take a stab at this

[2016-11-20 03:42] matthewd commented on #27110
Making this a relation method is problematic because, as hinted by the above implementation, it's adding information to a particular entry in the FROM clause.

In the simplest case, where there's only one table listed, that's not a worry... but with joins involved, it seems less straight-forward. Perhaps there's a more Arel-ish place for this to slot in?

---

I do think PG should no-op [or fail]

[2016-11-20 08:46] pixeltrix commented on #26083
@NicosKaralis thanks for opening a new issue but it's not the same, because it's rendering the HTML format in response to a JS request using the ERB hander and not rendering using the HTML handler when there's no format (i.e. your template is `new.html.erb` not `new.html`).

[2016-11-20 08:55] glebm opened #27119 "ActiveSupport::Dependencies loading broken within engines"
Calling for the help of Ruby Heroes with `active_support/dependencies.rb`! @fxn! :mega:

Calling `require 'non-autoloaded-file'` from an autoloaded file in Rails is broken if the non-autoloaded file defines a constant in a sub-namespace of an autoloaded file.

For example, if you have:

[code]

[code]

Then `MyEngine::MyLib` will be in `new_constants` for `my_model.rb`. So it will get unloaded on

[2016-11-20 09:33] slowjack2k commented on #27104
@matthewd I think this can be related to #27064 . This is more lickly an issue with ruby 2.3.2 and not with the used hardware architecture.

[2016-11-20 10:01] utilum commented on #27069
Is this a duplicate of #19226 ?

[2016-11-20 10:20] scriptfans commented on #27104
@slowjack2k Thanks! but this bug is not found on other operating systems(ubuntu x86 64bit 14.04, macOS 10.12.1), It appears only on specific armhf and arm64 ubuntu operating systems.

[2016-11-20 10:47] pixeltrix commented on #27095
@NicosKaralis did you actually try these repro steps? There's some inconsistencies in them:

1. `rails g controller` doesn't create an `action.coffee` file in `app/views/controller` - it creates a `controller.coffee` file in `app/assets/javascripts`.
2. `redirect_to 'sessions/new` generates bad urls and wouldn't respect the original request format.
3. Rendering a `js.erb` template generates the sa

[2016-11-20 10:47] #27095 closed

[2016-11-20 12:57] psantos10 opened #27120 "rails console wont work with remote postgresql database"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
My rails application are on vagrant box and the postgresql db on the Windows machine.

my database.yml file:

[code]

I created a demo API application using the command `rails new api_demo --api -d postgre

[2016-11-20 13:49] utilum commented on #27120
Don't you need to set `host` for a remote connection?

[2016-11-20 13:57] psantos10 commented on #27120
@utilum  I set the host on the `database.yml`` file:

[code]

[2016-11-20 14:08] maclover7 commented on #27119
cc @fxn

[2016-11-20 14:11] maclover7 commented on #27069
Agree with @utilum, this seems very similar to #19226; closing as a dup of that issue.

[2016-11-20 14:11] #27069 closed

[2016-11-20 14:12] maclover7 commented on #19226
This still hasn't been fixed, since #27069 was opened.

[2016-11-20 14:30] utilum commented on #27120
Sorry @psantos10 , I do see it now.

[2016-11-20 15:37] kaspth commented on #27088
We're currently targeting 5.1 for that, yeah. But don't think we need to keep this issue open for that work. Thanks!

[2016-11-20 15:37] #27088 closed

[2016-11-20 16:32] vinagrito commented on #27011
@kaspth @prathamesh-sonpatki  any chance you could take a look at this https://github.com/vinagrito/reproduce_27011
Just clone it and run `rspec .` I'd gladly accept any input on what I'm doing here

[2016-11-20 17:09] kaspth commented on #27011
Let me expand on my last comment.

This is the official API for `ActionController::TestCase`: https://github.com/rails/rails/blob/6d6249b1c1abda4f62fafcc42a7ece570c8da7e9/actionpack/lib/action_controller/test_case.rb#L390-L456

In your test that would be:

[code]

But you're not using the official `get` and friends API, so your test passing in Rails 4.2 was purely coincidental. There's no bug here

[2016-11-20 19:07] moktin commented on #11078
#14312 has been rebased

[2016-11-20 20:01] fchampreux commented on #27053
Attached is the test I did.
The `objects_seq` is initialized with 100, but it is not used here either.
Id column of created Posts table refer to `nextval('posts_id_seq'::regclass)` as COLUMN_DEF constraint.
I am quite sure it did work with Rails 4.2, but I could not reproduce the test.

[testing.zip](https://github.com/rails/rails/files/602240/testing.zip)

[2016-11-21 03:28] prathamesh-sonpatki commented on #27011
Yup, as Kasper said!

[2016-11-21 05:45] SaxtonDrey opened #27125 "MySQL unsigned column is treated as signed column when column is like 'unsigned zerofill'"
### Steps to reproduce
 i'm using rails without migration.
The problem occurs in table like:
[code]

problem_column is unsigned, but Rails treat it as signed

[code]
### Expected behavior
recognize unsigned column as so not only case it is at the end of sentence.

### Actual behavior
recognize unsigned column as so "only" case it is at the end of sentence(because of https://github.com/rails/rails/

[2016-11-21 09:36] vandrijevik opened #27127 "`bin/rails restart` is broken out of the box"
### Steps to reproduce

1. Run `rails new wat && cd wat && bin/setup && bin/rails migrate && bin/setup` to set up a new Rails app. (For the sake of completeness: running `bin/setup` fails the first time when preparing the database, so it is necessary to migrate to create an empty schema.rb, and then to run `bin/setup` again so it completes successfully. The steps below also work if you omit the mi

[2016-11-21 09:54] prathamesh-sonpatki commented on #27127
This issue is with Puma and is being tracked here: https://github.com/puma/puma/pull/1120

Thanks!

[2016-11-21 09:54] #27127 closed

[2016-11-21 10:45] azul opened #27128 "rescue_responses differ from those in the guides"
### Steps to reproduce

[code]
[code]

### Expected behavior
According to the [guides](http://guides.rubyonrails.org/configuring.html#configuring-action-dispatch) there should be a bunch of rescue_responses set from different railties.

### Actual behavior
Only rescue_responses from ActiveRecord are listed:
[code]

The more verbose list is only set for ActionDispatch::ExceptionWrapper
[code]

###

[2016-11-21 10:46] azul commented on #27128
My guess is this is a documentation issue and rescue_responses are only temporarily collected in the config and then added to the ExceptionWrapper. If that's the case it would be good to clearify in the docs.

[2016-11-21 11:08] suresh02 opened #27129 "Unable to create spec folder using rails generate rspec:install"
### Steps to reproduce
1. Install rails
2. Install rspec gems
3.Enter rails g rspec:install command in cmd
(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Spec folder should be generated

### Actual behavior
[code]

### System configuration
**Rails version**:5.0.0.1

**Ruby ve

[2016-11-21 12:08] utilum commented on #27129
This looks like an issue with an Rspec generator, not Rails.

[2016-11-21 12:18] CuriousSugam opened #27130 "unexpected behavior of "accepts_nested_attributes_for" in "has_one" relationship rails 5"
I was following [this doc](http://api.rubyonrails.org/classes/ActiveRecord/NestedAttributes/ClassMethods.html) to implement  `accepts_nested_attributes_for` in `has_one` relationship with rails 5

### Expected behavior

Consider a Member model that has one Avatar:

[code]
[code]
Enabling nested attributes on a one-to-one association allows you to create the member and avatar in one go:
[code]
But

[2016-11-21 12:40] prathamesh-sonpatki commented on #27130
Thanks, this issue is already reported and being tracked here: https://github.com/rails/rails/issues/25198

[2016-11-21 12:40] #27130 closed

[2016-11-21 12:47] suresh02 commented on #27129
Rspec team declared that it is issue with rails.. it worked well in my home desktop but im unable to install in office machine

[2016-11-21 12:57] prathamesh-sonpatki commented on #27128
It was added in https://github.com/rails/rails/pull/17076 cc @yuki24

[2016-11-21 12:57] prathamesh-sonpatki commented on #27129
@suresh02 Can you add link to the RSpec issue? Thanks.

[2016-11-21 13:23] suresh02 commented on #27129
https://github.com/rspec/rspec-rails/issues/1747

[2016-11-21 13:48] prathamesh-sonpatki commented on #27128
The code uses `ActionDispatch::ExceptionWrapper.rescue_responses` and it also merges the rescue_responses configured by the user into `ActionDispatch::ExceptionWrapper.rescue_responses` so I think it is documentation issue.

@azul Can you open a PR to fix this?

[2016-11-21 14:42] dhh commented on #27110
👍 to being a no-op on adapters that does not support it.

[2016-11-21 15:43] cefigueiredo commented on #26984
@ejsorrento We need more information to figure out what happened and what it was expected to happen...
Can you please show us the code you added on the controller for http_authentication? The getting started shown 2, where on the first:

[code]

It was expected to ask for authentication only when you try to access `articles/new`, `articles/1/edit` or tried to delete some. And if you followed exact

[2016-11-21 16:27] veloutin opened #27132 "Route scoring ignores options/defaults conflicts"
### Steps to reproduce
Create routes:
[code]

In rails console/controller/view, call url_for
[code]

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior

I would expect the '/pretty-url-bar' path to be returned, since it would be a better match than the first one.

### Actual beha

[2016-11-21 16:52] veloutin commented on #27132
For what it worth, this solves my problem:
[code]

[2016-11-21 16:59] senny commented on #20755
@maikokuppe I agree that the error could be more descriptive. I'll see what I can do.

[2016-11-21 20:25] utilum commented on #27132
- [Executable test with master](https://gist.github.com/utilum/89a6bead2ea8a785a5935d5f1630fe2e)
- [Executable test with Rails 4.0.0](https://gist.github.com/utilum/da579d6c0cffb6be783d0b037bfe2376).

Can also reproduce @veloutin 's result with a fresh install of Rails 3.2.

[2016-11-21 21:24] maclover7 commented on #27132
cc @pixeltrix

[2016-11-21 22:19] adas172002 commented on #27031
https://github.com/adas172002/fields_for_app is the demo code to show the issue. Let me know if it works for you.

[2016-11-22 07:48] Ingosmar89219 opened #27141 "rake test BUG ERROR ruby on rails"
noeblack@garyhost:~/empresa$ rake test
Run options: --seed 60763

Running:

.......E.

Finished in 8.020068s, 1.1222 runs/s, 1.7456 assertions/s.
/home/noeblack/.rvm/gems/ruby-2.3.0@global/gems/did_you_mean-1.0.0/lib/did_you_mean/spell_checkers/name_error_checkers/variable_name_checker.rb:10: [BUG] Segmentation fault at 0x0000000000707a
ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

-- C

[2016-11-22 08:29] utilum commented on #27141
@Ingosmar89219 :
* What version of Rails are you using?
* [There have been many bugfixes](https://www.ruby-lang.org/en/news/2016/11/15/ruby-2-3-2-released/) in Ruby since the first release of 2.3. Maybe try to update that?

[2016-11-22 09:51] tranthuc141 opened #27142 "Can not set false for primary_key(ActiveRecord, Mysql)"
### Input

migrate file:
def change
  &nbsp; &nbsp;create_table :users, id: false do |t|
    &nbsp; &nbsp;&nbsp; &nbsp; t.boolean :is_boss
  &nbsp; &nbsp;end
  &nbsp; execute "ALTER TABLE users ADD PRIMARY KEY (is_boss);"
end

model file: models/user.rb

class User < ActiveRecord::Base
 &nbsp; &nbsp;self.primary_key = "is_boss"
end

### Expected behavior
- I hope I can create an user by: User.crea

[2016-11-22 10:07] sevenseacat commented on #27142
how can you have a boolean primary key??? that doesn't make sense...

[2016-11-22 10:31] tranthuc141 commented on #27142
Yes, you are right. I just did it as a test. And I don't know why I can save successfully for only true value.

[2016-11-22 15:54] yuki24 commented on #27128
@azul @prathamesh-sonpatki Sorry for not getting back to you sooner. I also think this is a documentation issue.

[2016-11-22 16:21] FriedSock opened #27144 "Unable to opt-out of path expansion using `ActionDispatch::Integration:: RequestHelpers`"
### Steps to reproduce

The exact problem is using the `as: :json` option to the request helpers defined in `ActionDispatch::Integration:: RequestHelpers`, which also seems to be the only way to correctly encode the body of your request as json. Otherwise `WWWFormEncoder` will be used.

using rspec-rails:

[code]

### Expected behavior
The path for the request should be left as "/anything" by defa

[2016-11-22 16:27] kaspth commented on #27144
Thinking more about this, perhaps we should just not append to the request path altogether. If we just assign the correct headers, Rails should still suss out the request format.

[2016-11-22 16:30] kaspth commented on #27144
On the other hand, I'm curious why your request can't handle `.json` being appended to it? If it is a JSON route, shouldn't it respond to it in Rails' standard way?

[2016-11-22 16:34] FriedSock commented on #27144
I hit the error when using the omniauth gem which does an exact check on the request path
https://github.com/omniauth/omniauth/blob/master/lib/omniauth/strategy.rb#L248

[2016-11-22 16:37] FriedSock commented on #27144
I'd be happy to work on this if you think that removing the format appending is the way to go. I do think it is quite strange default behaviour to be rewriting the path when it isn't needed.

[2016-11-22 16:53] rafaelfranca commented on #27144
Yeah, I think we don't need  to append the path.

[2016-11-22 17:08] sgrif opened #27145 "Signed cookies not available in controller tests"
This issue has been ported from the report at https://github.com/rspec/rspec-rails/issues/1658, as it can be replicated purely with Rails using public API. This test passes using Rails 4.2

### Steps to reproduce

<details>
<summary>Reproduction Script</summary>

[code]

</details>

### Expected behavior
Changes to `cookies.encrypted` in the test setup should appear in the controller's cookies

##

[2016-11-22 18:01] wrkrb33 commented on #20827
I am running into this bug under 4.2.7.1, and have confirmed that it still exists in 5.0.0.1 as well.  Any chance that @meinac's pull request might get merged in someday?

[2016-11-22 18:42] philrosenstein commented on #18609
@pixeltrix just wondering if you have any feedback on my particular situation:

Here is what I have done to avert this deprecation warning.  I suppose it is more secure than passing the raw params, but it feels clunky to me:

    @search_params = params.permit(%w[ utf8 commit controller action ]).symbolize_keys
    @search_params[:q] = params[:q] # add :q back in since permit only allows scalars

[2016-11-22 20:17] maclover7 commented on #27145
Looks like this was introduced via https://github.com/rails/rails/commit/ae29142142324545a328948e059e8b8118fd7a33, cc @eileencodes @tenderlove

[2016-11-22 21:14] maclover7 commented on #27145
I *think* I have a fix for this, just adding a regression test to the test suite.

[2016-11-22 21:29] maclover7 commented on #27145
Opened #27146 with a possible solution to this ticket.

[2016-11-22 21:44] kaspth commented on #27144
I'm working on a fix 👍

[2016-11-22 23:22] bgracie opened #27149 "Models using polymorphic has_many load associations with an integer `<associated>_type` column"
### Steps to reproduce

https://gist.github.com/bgracie/ad295a4289e79cbcd64ea4fba3c91801

### Expected behavior
When we call a `has_many :as` association, it should not return records that have an integer `<associated>_type` column.  Rather, it should throw an error.

### Actual behavior
If a `has_many :as` association targets a model with an integer `<associated>_type` column, when we call that a

[2016-11-23 03:39] #25208 closed

[2016-11-23 05:20] Ingosmar89219 commented on #27141
ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]
Rails 5.0.0.1
What can i do my friend? :(

[2016-11-23 07:53] rafaelfranca commented on #27141
Upgrade your Ruby version and if that doesn't work report a bug in the Ruby issue tracker. It is a bug in the language

[2016-11-23 07:53] #27141 closed

[2016-11-23 08:49] xarael opened #27153 "validations and strange behaviours with boolean fields"
### Steps to reproduce

Have a field :active which is a boolean for a model. In the model file I have a before_validation :set_default method which contains the code self.active ||= false (and the method returns true else there's errors). I also have validates_presence_of :active in the model.

What I expect to happen is for the model to validate this field as having a present value, however it be

[2016-11-23 09:05] niharika88 commented on #27142
I will be working on it .is anyone else working on it?

[2016-11-23 09:16] kaspth commented on #27142
Nobody is working on it and you shouldn't either. There's no bug to fix, because it's not a use case that needs support ❤️

Though it is funny that true works 😄

[2016-11-23 09:16] #27142 closed

[2016-11-23 09:17] utilum commented on #27153
Why do you need to validate presence if you have a default value?

[2016-11-23 11:48] NielsKSchjoedt commented on #13677
+1 in rails 5

[2016-11-23 12:12] jsnick commented on #26623
I have had a exactly same issue in Rails 5.0.0.1 , mysql 5.7 utf8mb4.
I can't change the limit of text column T^T.
If I execute db:migrate for changing a limit of text column, then only schema.rb version is changed.
And I can insert text over new length limit.

[2016-11-23 12:16] NielsKSchjoedt commented on #13677
I think the best would be, that the attributes in the order by clause were automatically included in the select list. This will also produce problems when you do: `.user_ids`

[2016-11-23 12:46] xarael commented on #27153
Agreed. Removing the validation was actually how I got past this. Just wasn't expecting the presence to evaluate false (nil and false) rather than nil.

I like that defining validations self documents code and the model to some extent, and there may be instances where you want someone to explicitly define a boolean field and not set a default value (force thought and a decision).

---- On Wed, 23

[2016-11-23 13:01] dancinglightning commented on #25087
on 5.0.0.1 (and ruby 2.3.1) the whole % syntax does not seem to work (as the guide http://guides.rubyonrails.org/routing.html#redirection says it should)

config/routes.rb:
  get '/laser_gem/:id',   to: redirect( "/gem/%{:id}" )

when testing (accessing)
 URI::InvalidURIError:
       bad URI(is not URI?): /gem/%{:id}

(just fyi, i have worked around the issue with the block syntax)

[2016-11-23 13:01] utilum commented on #27153
It's actually [documented](http://api.rubyonrails.org/classes/ActiveModel/Validations/HelperMethods.html#method-i-validates_presence_of):

But I would also intuit `presence` to understand the nuance.

[2016-11-23 14:23] Ingosmar89219 commented on #27141
can you tell me how can I Upgrade my ruby version? for example 1. run this command 2. run this command. 3. ready! thanks for this.

[2016-11-23 14:26] Ingosmar89219 opened #27154 "error rspec HELP!!"
noeblack@garyhost:~/Descargas/ecommerce-rails$ rspec spec/models/link_spec.rb/usr/bin/env: «ruby.exe»: No existe el archivo o el directorio
/home/noeblack/.rvm/gems/ruby-2.3.0/gems/activerecord-4.2.3/lib/active_record/migration.rb:392:in `check_pending!':  (ActiveRecord::PendingMigrationError)

Migrations are pending. To resolve this issue, run:

bin/rake db:migrate RAILS_ENV=test

from /home/noeb

[2016-11-23 14:27] Ingosmar89219 commented on #27154
ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]
Rails 5.0.0.1
What can i do? :(

[2016-11-23 14:27] georgeclaghorn opened #27155 "`rails server` rejects options"
In a new app using edge Rails, `rails server` crashes when documented options (e.g. `--binding` and `--port`) are provided:

[code]

No crash occurs when options are not provided:

[code]

This appears to have started with https://github.com/rails/rails/commit/6813edc7d926965e5644cd8befaf229a35b9d8ca.

/cc @kaspth

[2016-11-23 14:27] sevenseacat commented on #27154
From the error message:

[code]

This issue tracker is used for filing bug reports against Rails, not for help requests. Something like Stack Overflow will be a better fit for your questions.

[2016-11-23 14:30] utilum commented on #27141
I'm afraid that is out of scope here. You seem to be using [RVM](https://rvm.io/), so that would be a good place to start.

[2016-11-23 15:26] #27154 closed

[2016-11-23 16:29] utilum commented on #27155
Same here:

[code]
And it runs fine when using b724dbbb8b337d84a3ca8380c9dd75d79a44badf, the commit preceding the one mentioned.

[2016-11-23 16:39] kaspth commented on #27155
Thanks! We're aware of it and fixing it here: https://github.com/rails/rails/pull/26977

[2016-11-23 16:39] #27155 closed

[2016-11-23 16:40] mrThe opened #27156 "Saving has_many through raises exception in rails 4, but works in 3.2.22."
Hello. I'm upgrading rails on my project and has many errors like this.
Is there some workaround or fix?

Related issue: https://github.com/rails/rails/issues/16085

### Steps to reproduce

[code]

### Expected behavior
Should create object with relations

### Actual behavior
Raises error:
[code]

### System configuration
**Rails version**: 4.2.7.1

**Ruby version**: 2.1.5

[2016-11-23 16:47] gingerlime opened #27157 "Confusing / unclear documentation for CSRF protection"
I also [asked this on StackOverflow](http://stackoverflow.com/q/40706394/305019), but I think it's worth raising an issue. At the very least to improve documentation and make it clearer.

The [documentation on Request Forgery Protection](http://edgeapi.rubyonrails.org/classes/ActionController/RequestForgeryProtection.html) is a little confusing and unclear in certain parts. Specifically the exampl

[2016-11-23 16:50] yahonda opened #27158 "test_select_query_works_even_when_prepared_statements_are_disabled fails on Fedora and CentOS"
### Steps to reproduce
[code]

### Expected behavior
It should finish successfully.

### Actual behavior
[code]

### System configuration
**Rails version**: master branch

**Ruby version**: ruby 2.3.3p222 and ruby 2.2.6p396

### Reproduced

It always reproduces with these software versions:

[code]

[code]

[code]

[code]

### NOT reproduced
It does never reproduces with these software versions:

[2016-11-23 17:41] sgrif commented on #27153
This case is mentioned in the documentation

[2016-11-23 17:41] #27153 closed

[2016-11-23 18:24] maclover7 commented on #27158
Can reproduce the failure on my MacBook laptop, I'm running `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin14]` with `PostgreSQL 9.4.5 on x86_64-apple-darwin14.5.0, compiled by Apple LLVM version 7.0.0 (clang-700.1.76), 64-bit`.

[2016-11-23 18:25] maclover7 commented on #27158
r? @prathamesh-sonpatki, I know you've been working in this part of the codebase recently 😬

[2016-11-23 21:13] #27144 closed

[2016-11-23 21:14] kaspth commented on #27144
Backported to 5-0-stable in: 27c5139

[2016-11-23 22:19] utilum commented on #25983
The notion is tempting, but I'm not sure the hassle of iterating through all enqueued jobs and checking against possible similarities is worth every test run, especially after initial development, once the test is used mainly to identify regressions.
You can write your own custom message, right? Did you? And if so, what does it look like?

[2016-11-23 22:46] geralddzx commented on #13496
I am running into the same issue. Is this fixed on any of the new versions? I'm considering importing my database to mysql, is that a good idea?

[2016-11-23 22:55] rafaelfranca commented on #27157
I think this thread explain most of your doubts https://github.com/rails/rails/pull/9405. Can you work in the documentation changes recommended in that thread?

[2016-11-24 00:05] ctlong opened #27161 "History file not loaded"
Whenever I enter `pry` console through `rails c` or `binding.pry` I get the error "History file not loaded: invalid byte sequence in UTF-8" and no key strokes history is given me.

Ex. If I type `Company.new`, hit enter, and hit the up arrow I expect `Company.new` to be re-entered according to the history. But nothing happens and the above error on startup of the console is all I get.

### System

[2016-11-24 00:09] rafaelfranca commented on #27161
This doesn't seems to be a Rails issue. Does this happens without pry?

[2016-11-24 00:36] xarael commented on #27153
Great. Would you think it worthwhile validates_presence_of throws an exception if the field is a boolean?

---- On Thu, 24 Nov 2016 03:42:18 +1000Sean Griffin &lt;notifications@github.com&gt; wrote ----

Closed #27153.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-24 00:47] rafaelfranca commented on #27129
This seems like a thor issue, but we can leave it here. I don't have a windows machine and I fear nobody in the core does have and I don't care enough about the windows development history but maybe @sgrif can help here.

[2016-11-24 00:53] macabeus opened #27162 "Explain detail of websocket behavior in documentation"
A lot of people uses Rails to create a provider API. In some cases, we need to establish a websocket connection. But, this situation wasn't written in the documentation, and [it's was a problem for me](https://stackoverflow.com/questions/40749647/not-receive-broadcast/40776406).

After establishing the connection on websocket's url, I need to send a message to the channel that I want to subscribe,

[2016-11-24 01:04] jonhoo commented on #18519
Is there a way to render the e-mail immediately, and only delay the *sending* of the e-mail. This would allow something like
[code]
to work just fine without serializing `Date`. If the full message, and not just the body is rendered like this, then even the original code segment would work:
[code]

[2016-11-24 01:18] sgrif commented on #27129
Yeah I can take a look after the holidays

On Wed, Nov 23, 2016, 5:47 PM Rafael França <notifications@github.com>
wrote:

[2016-11-24 01:18] sgrif commented on #27129
s/holidays/thanksgiving

[2016-11-24 01:48] matrix9180 commented on #27156
See #26834. If you move the has_many through: :foo line below the has_many :foo, things work as expected. Doesn't fix the bug (which arguably should be a friendlier error message when you hm:t before the through-association is defined.)

[2016-11-24 01:56] maclover7 commented on #27162
Can you send a PR updating the documentation?

[2016-11-24 02:02] matrix9180 commented on #27149
Not sure that this warrants it's own exception. The documentation states that the _type should be a string column, and I don't believe we have an exception if you go against the docs and for example make an enum from a string column instead of integer.

[2016-11-24 02:05] brunomacabeusbr commented on #27162
@maclover7 Sorry, but I'm newbie about websocket and Rails... I would not be a good person to document this.

[2016-11-24 02:06] matrix9180 commented on #27120
Curious if this happens for both development & production environments or just development.

[2016-11-24 02:19] matrix9180 commented on #27120
Just tried locally with local Postgres stopped and remote Postgres running in a docker vm, seems to work fine.

[2016-11-24 05:05] prathamesh-sonpatki commented on #27158
will check

[2016-11-24 06:02] zhangda89 commented on #26658
@LegaKh why libreadline.6.dylib not libreadline.7.dylib

[2016-11-24 07:02] prathamesh-sonpatki commented on #27158
@yahonda This is because you are running the test using `ruby` and that is why your `activerecord/test/support/config.yml` is not updated. I had updated `test/support/config.example.yml` with new configuration for prepared_statements setup. Once you run any of the rake task, the example yml file will get copied over to `config.yml` and after that this test will start passing.

I guess you might ha

[2016-11-24 07:02] #27158 closed

[2016-11-24 09:57] mrThe commented on #27156
Thanks @matrix9180 ! Now it works as expected.

[2016-11-24 09:57] #27156 closed

[2016-11-24 10:39] r3oath opened #27167 "InvalidAuthenticityToken while using BrowserSync"
I seem to be getting `ActionController::InvalidAuthenticityToken` exceptions while using BrowserSync. I've tried setting the config line mentioned here https://github.com/rails/rails/issues/21948#issuecomment-235079906 and had no luck. I have noticed however that it seems to be set to false anyway https://github.com/rails/rails/blob/60c6b538170ce35cc8ff8382bef2f082868b4b09/actionpack/lib/action_co

[2016-11-24 12:05] gingerlime commented on #27157
Thanks for the pointer, @rafaelfranca ! I'd be happy to suggest a change to the documentation / create a PR for this, but I'd need to clarify a couple of things first. Maybe proposing the change to documentation will naturally trigger a discussion?

I'm not sure #9405 answers my question however. Not directly anyway. If I understand things correctly, it rightly points out that you should use CSRF

[2016-11-24 12:50] yahonda commented on #27158
Thanks @prathamesh-sonpatki

`active_record/test/config.yml` does not exist in rails repository and generated when the first unit test executed.

It does not reproduce anymore after I remove my local repository and clone it again as follows.
[code]

[code]

[code]

[code]

[2016-11-24 13:24] Dorian commented on #18519
For now doing with a:

[code]

And: `MyMailer.my_action(Time.now).deliver_later` works fine.

[2016-11-24 14:18] #25719 closed

[2016-11-24 14:53] Hareramrai opened #27168 "I am not able to use db2 native encrypt method in ruby on rails active record"
### Steps to reproduce
I am try to use IBM db2 encrypt method to encrypt password in db2 itself using db2 native method.
### Expected behavior
Tell us what should happen
[code]
user.password should not return "encrypt('mysecurepassword')".

I am not able to encrypt the password.Is there any ways to use encrypt method of db2 ?
### System configuration
**Rails version**: 4.2

**Ruby version**:2.3

[2016-11-24 15:06] kaspth commented on #27168
Please use the Ruby on Rails talk mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-11-24 15:06] #27168 closed

[2016-11-24 15:09] Hareramrai commented on #27168
@kaspth I am not seeing any ways to call db native methods in rails guide.

[2016-11-24 15:11] Hareramrai commented on #27168
@kaspth I have already create at stackoverflow(http://stackoverflow.com/questions/40787065/invoke-db2-encrypt-function-in-active-record-in-ruby-on-rails-for-new-record). It will great if you can help me on this.

[2016-11-24 15:17] Hareramrai commented on #27168
@guilleiguaran Can it done using ActiveRecord ?

[2016-11-24 15:18] kaspth commented on #27168
@Hareramrai that's for the users on StackOverflow to answer. Have a nice day!

[2016-11-24 15:24] nateberkopec commented on #27162
Hm, I think this is covered here: http://edgeguides.rubyonrails.org/action_cable_overview.html#client-side-components-connections

[2016-11-24 15:31] guilleiguaran commented on #27168
`ActiveRecord.connection.raw_connection` should give you a instance of db2 driver connection.

[2016-11-24 15:31] otux opened #27169 "decrement for counter_cache breaks in nested attribute"
**Problem:**
The decrement of the counter cache is not triggered correctly, when connected via nested attribute, so that in an after_save method wrong values are the result.

********************************************************
My scenario consists (in part) of the following (as I assume) relevant classes:

[code]

The SQL that is executed when removing an event_date reads:

SQL (0.6ms)  UPDAT

[2016-11-24 16:44] utilum commented on #27169
@otux please clarify:
1) Rails version (evidently it isn't the [current version](http://api.rubyonrails.org/classes/ActiveRecord/CounterCache/ClassMethods.html#method-i-increment_counter)).
2) Why do you expect the counter to decrease when saving an event?
3) How come you fix the problem by modifying a method not called in your code?
The last two would be best served by an executable bug report fo

[2016-11-24 17:09] mck9 commented on #27169
@utilum
1. Version 4.2-head
2. The EventDate is removed through nested attributes
3. The method is called through the counter_cache option in "belongs_to :event, inverse_of: :event_dates, counter_cache: true"

The counter_cache "event_dates_count" works as expected when EventDates are created. The increment method is in rails/activerecord/lib/active_record/associations/belongs_to_association.rb de

[2016-11-24 17:35] matrix9180 commented on #26834
@cih I believe that's the route to go (deprecation warning, for now). It's obviously an "edge case" since it hasn't been tackled before, but it's a definite change in behavior from 3.x to 4+. Seems there are quite a few people hitting it based on the dupes. Perhaps a note in the documentation as well?

[2016-11-24 18:23] utilum commented on #27169
Thank you for clarifying.
Does [this executable script](https://gist.github.com/utilum/5296f9e34ee8bcfaf8a5841164326968) reproduce the case?

[2016-11-25 01:01] maclover7 commented on #27000
Hi @majkelcc, can you confirm your Rails version? I think you swapped the Ruby and Rails versions in the issue template :)

[2016-11-25 02:48] r3oath commented on #27167
Seems I've managed to find a solution. Requires manually setting the `X-Forwarded-Host` host from the broswersync init config.

[code]

[2016-11-25 02:48] #27167 closed

[2016-11-25 08:41] #27161 closed

[2016-11-25 09:12] MasterRoot24 commented on #26948
Is there anything I can add to this issue that would help move things forward?

[2016-11-25 09:14] rafaelfranca commented on #26948
If active record is sending the SQL to the database it is not a active record issue. May it be possible that it only happens with this version of SQLite3?

[2016-11-25 09:16] rafaelfranca commented on #26948
If you run the SQL generated by Active Record on that sqlite3 console does the data got written? Also have you checked that the transaction that contains the insert queries are being committed?

[2016-11-25 09:23] rafaelfranca commented on #27157
https://github.com/rails/rails/pull/9405#issuecomment-14070676 is what answer your question.

[2016-11-25 09:33] gingerlime commented on #27157
It kinda does, but without any supporting arguments. "Just do this because it's more secure" is nice and all, but there's some balance to strike, cost/benefit etc.

Even if we treat this comment as gospel, then documentation should be updated to reflect this. Right?

 OWASP seems to give a more nuanced / balanced advice re CSRF, and I think it's worth acknowledging or discussing...

[2016-11-25 09:36] rafaelfranca commented on #27157
Yes. Like it is stated in that thread there is an issue in the documentation. It should not be recommending to remove the protection. I don't think it should recommend removing even that with CORS it is already secure.

[2016-11-25 09:55] #27009 closed

[2016-11-25 09:55] rafaelfranca commented on #27009
Fixed by #27140

[2016-11-25 10:08] Linuus opened #27178 "Generate commands in template hangs"
### Steps to reproduce

`rails new rails5 -m https://raw.githubusercontent.com/Linuus/template-test-case/master/template.rb`

### Expected behavior
It should generate a Rails 5 app based on the template.

### Actual behavior
It hangs when generating the second model.

[code]

I also tested with Rails 4.2.7.1 and that works fine.

`rails _4.2.7.1_ new rails4271 -m https://raw.githubusercontent.com/

[2016-11-25 10:20] rafaelfranca commented on #27178
It can be related to #21700.

[2016-11-25 13:13] pixeltrix commented on #27132
This is likely because Journey was designed to replace Rack::Mount which behaved in a similar fashion so it's "not a bug", however it's worth considering but it would probably need to go in with a config option that defaults to false and an initialiser that sets it to true in new applications. Definitely couldn't be backported so it'd be in 5.1 at the earliest.

[2016-11-25 14:17] pixeltrix commented on #18609
Whenever I do a search these days I generally use a class to represent the search request and pass in the params hash to `initialize` - that tends to make your controller and view code much clearer.

I suspect they'll be left as string keys and appended to the URL as query params.

[2016-11-25 15:26] maclover7 commented on #27178
This seems like a duplicate of #21700; going to close in favor of that issue to keep all information related to this bug in one place.

[2016-11-25 15:26] #27178 closed

[2016-11-25 15:26] maclover7 commented on #21700
This still seems to be happening in Rails 5, as reported via #27178.

[2016-11-25 18:36] pixeltrix commented on #23033
@agfor the Ruby bug has been fixed! 🎉

[2016-11-25 18:36] #23033 closed

[2016-11-25 18:58] VishalRocks commented on #21700
Is this a synchronization problem as two processes running together is the problem? Should we use a mutex?

[2016-11-26 07:44] mrjlynch commented on #24827
I am experiencing this issue when using `capybara-webkit` and Rails `5.0.1`

I think I am getting this error after an ajax request when the response does not have a mime_type.

Though these commits that fix this look like they were made before `5.0.1`?

[2016-11-26 09:43] juscportal commented on #27031
I tried running the app you provided. I want to confirm the problem with the image I uploaded below before I try to solve it.

![screen shot 2016-11-26 at 6 35 21 pm](https://cloud.githubusercontent.com/assets/13282518/20639492/f8a5192c-b407-11e6-88ca-db3ebe0a9361.png)

[2016-11-26 10:07] adas172002 commented on #27031
Hi Jus,
That's right – I need the form to include all components after failed validation. But when fields_for is used with a collection of product components (eq. a scope), only persisted components survive ;-) validation.

[2016-11-26 13:31] utilum commented on #27169
@otux this has nothing to do with the association being nested or not, but does show different behavior between 4.7.2 and >= 5.

In version >= 5 it depends on how you "remove" the association, counter is not decremented after `delete`, *is* decremented after `destroy`. Probably (?) expected behavior.

In 4.7.2 it is not updated on either, and I doubt that's expected. I've updated the [executable t

[2016-11-26 16:37] bgracie commented on #27149
Sure, I appreciate that you guys have to make a policy decision about whether you want to code exceptions around people not following what's in the docs.  All I can offer as input for this decision is my own experience with this problem:

- I'm generally familiar with how to set up polymorphic associations.
- Either my colleague or I made the `_type` column as an `int` as a careless mistake -- we

[2016-11-26 17:47] matrix9180 commented on #27149
Fair enough. I'm not on the core team so I have no final say anyway, just a long time user trying to help out on some issues. 💯

Started looking through the code to see if I could add a warning when the _type isn't a string but the AR codebase is quite a beast and I'm having trouble wrapping my head around all of it at the moment.

I do agree there should at least be some kind of warning when this

[2016-11-26 17:56] matrix9180 commented on #27149
As for fixing your existing data, I've been there quite a few times, having to try to piece things back together from (not verbose enough) logs.
In new migrations you can use t.belongs_to :foo, polymorphic: true and it will automatically create the foo_type, or you can do foo:belongs_to{polymorphic}  with the generator. Might help avoid it in the future.

[2016-11-26 18:26] bdewater commented on #26639
Fixed by #25395

[2016-11-26 18:30] #26639 closed

[2016-11-26 21:14] ALFmachine commented on #26658
enderahmetyurt comment worked for me. thanks

[2016-11-27 08:38] mvz commented on #23279
@Schwad I came here by googling. My problem may not be the same but seems related. And I have a super-simple reproduction:

[code]

I get the following output:

[code]

[2016-11-27 10:30] utilum commented on #27169
@maclover7 is backporting this change to 4-2-stable desirable?

[2016-11-27 16:53] jnoortheen opened #27189 "Getting Started Guide:"
### Steps to reproduce
As in the start of the guide, change the article_edit view's form to like
[code]

Try to submit the edit form with the title length less than 5

### Expected behavior
On submitting the form the following error will be raised
ActionController::UrlGenerationError in Articles#update

the full traceback
[code]

### Actual behavior
It should show the edit form again with error me

[2016-11-27 17:31] ClaudioCarmeli commented on #18233
@dhh Is there a recommended method for cases where you still need to validate the presence of the child objects on the parent object? I am using `optional: true` but that makes my validation tests pass even though the parents objects can be created without any of their "required" child objects.

[2016-11-27 19:15] utilum commented on #27189
The error tells you it's missing a route... Are you sure you have not missed something while copy-pasting?

[2016-11-27 19:22] jnoortheen commented on #27189
This happens, when I try to render the edit view when update fails with errors.

[2016-11-27 20:02] gingerlime commented on #27157
I wouldn't *recommend* removing it either, but to explain the trade-offs a bit better and let people make an informed decision. Right now, to me it kinda recommends doing that actually. Doesn't it?

[2016-11-27 20:17] utilum commented on #27189
Can you paste the content of your config/routes.rb file?

[2016-11-27 21:47] plentz opened #27192 "update_all and delete_all doesn't work when chained with left_joins"
### Steps to reproduce

Given a case when `Pet.has_many :toys`, the following delete_all and update_all fails:

[code]

Because current Arel implementation ignores left joins when checking if it should join tables.

### Expected behavior
The relation should be update/deleted

### Actual behavior
The generated query is invalid

### System configuration
**Rails version**: 5
**Ruby version**: any

[2016-11-27 22:40] matthewd commented on #27189
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-11-27 22:40] #27189 closed

[2016-11-27 22:56] donaldleslie opened #27194 "activerecord table missing column"
I am running the following:

ruby -v
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]

gems are:

activerecord (5.0.0.1)
sqlite3 (1.3.12)

The table create is:

CREATE TABLE "member_statuses" ("member_statuses_key" INTEGER PRIMARY KEY   ,"members_key" integer  ,"board_member" text(1) DEFAULT 'N'  ,"membership_categories_key" integer  ,"membership_expiration" date  ,"paid_member" text(1) D

[2016-11-28 00:05] matrix9180 commented on #27194
Please provide a test case using this template: https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2016-11-28 02:21] #27192 closed

[2016-11-28 02:37] jnoortheen commented on #27189
@utilum this is my routes config excluding all comments
[code]

See my pull request here https://github.com/rails/rails/pull/27190

[2016-11-28 09:37] majkelcc commented on #27000
Hi @maclover7, correct, updated :)

[2016-11-28 09:37] martijn commented on #24827
@mrjlynch same here, that was fixed with https://github.com/rails/rails/pull/25950

[2016-11-28 09:42] mrjlynch commented on #24827
Thanks Martijn, rails 5.0.0.1 was released 10th August, #25950 was merged 26th July, thus shouldn't this not occur in 5.0.0.1?

[2016-11-28 10:48] utilum commented on #27000
[Executable Test Case](https://gist.github.com/utilum/cfe0d1991ead1834267fc19b8980dd45)

[2016-11-28 12:34] plentz commented on #26985
I think that the best way is to "solve" this is to ignore the left join when a inner join already exists. Another possible solution is to add a check when doing joins and raise an exception in case of a join already exists in that relation.

If someone from rails core team can decide this, I can work on a PR.

[2016-11-28 13:58] otux commented on #27169
@utilum
as I understand it, there is no difference between 4.7.2 and >=5 regarding callbacks;
according to http://api.rubyonrails.org/classes/ActiveRecord/Relation.html#method-i-delete delete is not expected to trigger a callback;
therefore I made two changes to your script, marked with 'CHANGE' (lines 111 and 138), because I would not expect 0 (as you wrote) but 1;
I added the patch for the decre

[2016-11-28 14:08] utilum commented on #27169
Good show, @otux . Want to make a PR of it?

[2016-11-28 14:10] utilum commented on #27169
Mind you, the way they nicely do it in 5 is by extracting both `decrement_counter` and `increment_counter` methods to a private `update_counter`. So you'd probly like to follow that example, and add tests.

[2016-11-28 14:19] Dorian opened #27200 "Consistent generation of schema.rb"
### Steps to reproduce

- Have some migrations
- Run `rake db:migrate`
- Coworker add more migrations
- Coworker runs `rake db:migrate`
- The difference between the two `schema.rb` is full of added spaces, different orders etc.

### Expected behavior

A consistent generation of `schema.rb`, shouldn't be machine-dependent.

### Actual behavior

- Adds / removes extensions, spaces, etc.
- Different

[2016-11-28 14:59] barillax commented on #26273
For what it's worth, we saw a similar error happen immediately after restarting our app servers: `uninitialized constant ActiveRecord::Associations::Association`

Have not been able to reproduce it since.  Rails 5.0.0.1, Ruby 2.3.1p112

[2016-11-28 15:25] nbrustein opened #27201 "Rails 5: previous_changes includes [nil, nil] entry for postrgesql json column"
### Steps to reproduce

 * Create an active record model using the postgresql adapter that has a column of type `json`
 * Load an instance of the model from the database where the value of the column is `NULL`
 * Save the instance

### Expected behavior
The column should not be included in previous_changes, since it did not change

### Actual behavior
`previous_changes` will be `{"my_column" => [n

[2016-11-28 15:41] dare05 opened #27202 "Second arg for 'options for select' works in Rails 5"
Here:

http://guides.rubyonrails.org/form_helpers.html

it writes:

`The second argument to options_for_select must be exactly equal to the desired internal value. In particular if the value is the integer 2 you cannot pass "2" to options_for_select - you must pass 2. Be aware of values extracted from the params hash as they are all strings.`

However, I tried doing exactly this in Rails 5 and it

[2016-11-28 16:19] nbrustein commented on #26991
@maclover7, @sgrif: I pulled in rails `5-0-stable`, which includes this PR, and the test above (`it "should not be changed once it is loaded up" do`) is still failing. (also tried with `master`)

[2016-11-28 16:19] booleanbetrayal commented on #26991
Can verify @nbrustein 's experience above ^

[2016-11-28 16:30] booleanbetrayal commented on #27201
Just did a bit of a dive ... I'm seeing the `previous_changes` spec failing in `5.0.0.1`, but both appear to be passing in the `5-0-stable` branch.

[2016-11-28 17:00] nbrustein commented on #27201
Even though the test passes in `5-0-stable`, I'm still seeing the same issue in our actual code when using `5-0-stable`.  So, there is some way to get into the state where previous_changes shows `[nil, nil]`, but the test included above is no longer sufficient to produce the issue.  (I've looked at this together with @booleanbetrayal and confirmed we're both seeing the same thing)

[2016-11-28 17:21] FlowerWrong commented on #18873
I closed this.

[2016-11-28 17:21] #18873 closed

[2016-11-28 18:13] rquant commented on #23279
I strangely got this error when checking out a pre Rails 5 commit in our repo, loading schema from that commit and then going back to HEAD commit with Rails 5.
[code]

Any db rake/rails command I tried to run would cause the error to be thrown (even if i ran the environment setup command recommended in the error).

Strangely when I ran `bin/rails db:migrate` the normal behavior resumed and it the

[2016-11-28 18:14] Faari7 opened #27203 "There is no index.html file in public folder"
i am new in ruby and just developing my first app, i am following a tutorial on youtube, when i run the server by localhost:3000 it shows me "Yay! You’re on Rails!". i don't know how to route it to index.html file in my home where i start developing my app. please need help i am new here

[2016-11-28 18:16] kaspth commented on #27203
Welcome! Try the Ruby on Rails talk mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

You'd want to look into config/routes.rb :)

[2016-11-28 18:16] #27203 closed

[2016-11-28 18:20] Faari7 commented on #27203
Rails.application.routes.draw do
  get 'home/index'

  # For details on the DSL available within this file, see http://guides.rubyonrails.org/routing.html
end
this is routes.rb

[2016-11-28 19:10] burke commented on #25095
Was just talking with @rafaelfranca about this and ejson/ecfg. This turned out longer than I expected, sorry for the wall of text.

We can easily enough change `ecfg` to do whatever UX-wise; the only complex part is rewriting YAML without stripping comments or disarding human-useful formatting, which is ~95% complete in the current ecfg prototype.

There are two primary benefits we get from using

[2016-11-28 19:20] kaspth commented on #27203
I didn't mean "post your routes" file, I meant "routes.rb" is where you should look to fix your own problem. Although you're frustrated and trying to learn, I hope you can see how we can't just give support to "some tutorial on youtube". I'd revisit the tutorial, either starting over from scratch, or look to where it's setting up the routes now that you know where to look (again, `config/routes.rb

[2016-11-28 20:24] maclover7 commented on #27169
@utilum good question, not the best person to answer this, so cc @sgrif

[2016-11-28 22:44] utilum commented on #27202
This tip in the guides *does* date from 2009 (96d610553e5fdaabc923835ab1f194070ddb4477) (the invention of Rails guides?).
Perhaps we handle these better now?

[2016-11-28 23:00] maclover7 commented on #27202
@dare05 Would you be able to submit a PR to update the docs? Thanks!

[2016-11-28 23:05] maclover7 commented on #27000
Can confirm test failure on Rails master. Test also fails on `4-2-stable`, so this is not a regression in behavior.

[2016-11-29 00:16] techgique commented on #26651
Was perplexed by this for a while. Documentation (http://api.rubyonrails.org/classes/ActionDispatch/SSL.html) makes no mention of this and there are no warnings. Won't everyone who generates a new Rails 5 app run into this issue? "Why aren't my config.ssl_options values being used!?"

I altered the code in the initializer in a way I think is friendlier and doesn't block users' config.ssl_options s

[2016-11-29 00:53] maclover7 commented on #22862
Closing since #27204 was merged.

[2016-11-29 00:53] #22862 closed

[2016-11-29 01:29] govorov opened #27205 "Trouble with table name in inherited models"
Hi!
I've got stuck with unexpected behavior when creating ActiveRecord models located in subdirectories.
Consider these models:
[code]
I expect `table_name` for each profile would be `man/profile` and `company/profile` respectively, as `"Man::Profile".tableize` says, but it is actually `"user_profiles"`

If I use flat structure without nesting profiles in subfolders (man_profile.rb and company_pro

[2016-11-29 03:05] bgracie commented on #27149
Cool, thanks for the advice.  If the core team decides to proceed with the warning, I can try to find some time to implement it.  Though...like you, I did have a look at AR's guts and was completely lost!

[2016-11-29 03:31] leesmith commented on #25718
So was this issue determined to be a bug? I think I'm running into the same problem:

https://github.com/leesmith/member_seats

I want to be able to create the associations (meaning, create `Seat` rows) without validating the members (`User` class). Can somebody point me to my error if I'm doing something wrong? Thanks!

[2016-11-29 10:22] MasterRoot24 commented on #26948
Yes, if I manually run the SQL, the missing migration is added to the `schema_migrations` table.

What's interesting is that all of the migrations are run in the test database. What seems to be the issue is the inserting of the completed migrations into the `schema_migrations` table.

The only thing that stands out to me is the inconsistency of semi-colons in the logged queries:

[code]

Migration

[2016-11-29 10:32] Schwad commented on #23279
Interesting. What do you make of this @schneems ?

[2016-11-29 10:53] ojab commented on #23279
`app:update` task (that should be run after upgrade, according to the [guide](http://guides.rubyonrails.org/upgrading_ruby_on_rails.html#the-update-task)) deals with it.
AFAIU it is intended behavior.

[2016-11-29 11:58] MasterRoot24 commented on #26948
I think I've found the issue!

`ActiveRecord::ConnectionAdapters::SQLite3Adapter.execute` method calls `@connection.execute` where `@connection` is an instance of the `SQLite3::Database` class containing the current DB connection.

According to the docs, [`SQLite3::Database.execute`][execute-docs] only executes the first statement in a string and in order to execute all of the statements in a stri

[2016-11-29 12:57] MasterRoot24 commented on #26948
I will put together a PR later today when I have time.

[2016-11-29 14:01] johan-smits opened #27209 "Datetime adding and subtract does not result in the same time"
### Expected behavior
(Time.at(1480377600) + 3.months - 3.months).to_i == 1480377600

### Actual behavior
(Time.at(1480377600) + 3.months - 3.months).to_i == 1480291200
Off by one day, due to the 29th of February

### System configuration
**Rails version**:
5.0.0.1

**Ruby version**:
ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]

[2016-11-29 14:07] matthewd commented on #27209
This is expected behaviour; `Time.at(1480377600) + 3.months` must evaluate to a real date, and 3 months prior to that is also a valid date.

I'll grant that `(Time.at(1480377600) + (3.months - 3.months)).to_i != 1480377600` is a little more surprising.

[2016-11-29 14:35] rafaelfranca commented on #26948
Oh! Nice finding. Yes, please open a PR.

[2016-11-29 14:43] matthewd commented on #26651
@techgique it'll need to look a bit different to that, but sure, please do PR away.

[2016-11-29 15:00] tfluehmann commented on #23279
I am having the same issue with a bamboo and an instance of my rails 5.0.0.1 app. I already tried app:update, doesn't work.

[2016-11-29 15:13] Zhigun commented on #26348
You can reproduce this by updating any ActiveRecord object which has array column in db with 'russian' letters.
Example:
[code]

[2016-11-29 15:18] sgrif commented on #26348
Please create [a reproduction script using our template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb) and open a new issue.

[2016-11-29 15:50] pandar1 commented on #26966
@maclover7 could you please remove the tag needs work so someone will inspect it? thanks

[2016-11-29 15:51] cc13ny commented on #27209
My local behavior is same as the expected behavior

**Rails version:**  4.2.5
**Ruby version:** ruby 2.1.0p0 (2013-12-25 revision 44422) [x86_64-darwin14.0]
**OS:** Ubuntu 14.04

[2016-11-29 16:10] #27125 closed

[2016-11-29 16:15] techgique commented on #26651
Oops. Noticed that had a bug in that code this morning. If run in an environment without `config.ssl_options` set, it dies because the hsts associative array isn't initialized yet.
Needs to be:
[code]

I haven't contributed before but the documents suggest writing a test for all PRs. I don't see a pre-existing test for the code within that initializer though. Just tests for the non-existence of th

[2016-11-29 16:19] matthewd commented on #26651
Railties has tests for the application generators. You could add a test that sets ssl_options in development.rb, then confirms the final value is the combined result.

[2016-11-29 16:19] Zhigun opened #27210 "Incompatible character encodings: ASCII-8BIT and UTF-8 , after updating model."
### Steps to reproduce

Create a model with tags column like in example above and save it. Then update the column tags with a word that contains 'russian' letters only(or partially) and save it. The result will be our object with tags in ASCII-8BIT encoding.
[code]
### Expected behavior
It should be encoded correctly.
For example if we update with ['привет', 'tag1', 'tag2'] the same array is expec

[2016-11-29 16:21] Zhigun commented on #26348
Ok, thanks.
Done
https://github.com/rails/rails/issues/27210

[2016-11-29 17:14] jpettettphaxio opened #27211 "Including ActionView::Rendering in API controller without jbuilder breaks render :json"
Including `ActionView::Rendering` in a controller of an API-only application breaks `render :json`, resulting in an `ActionView::MissingTemplate` error.  This is similar to #25183, except that the error occurs **without** using jbuilder.

### Steps to reproduce

1. Use `rails new --api` to create a Rails app with jbuilder disabled by default.
2. Include `ActionView::Rendering` in a controller subc

[2016-11-29 17:37] sgrif commented on #27210
This was already fixed by https://github.com/rails/rails/commit/a710dbd9, which will be included in 5.0.1

[2016-11-29 17:37] #27210 closed

[2016-11-29 18:01] Zhigun commented on #27210
Thank you!

[2016-11-29 18:44] AntonZh opened #27213 "Can't unscope default_scope in join"
### Steps to reproduce

[code]

### Expected behavior
default_scope is unscoped.

### Actual behavior
default_scope isn't unscoped.
Same for eager_load.

### System configuration
Rails 5.0.0.1
Ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

[2016-11-29 19:03] bgentry opened #27214 "ActionCable Postgres adapter is ActiveRecord-specific"
### Steps to reproduce

1. Create a Rails app using Sequel and sequel-rails, without ActiveRecord
2. Attempt to use the ActionCable Postgres adapter
3. Watch it crash trying to autoload ActiveRecord

### Expected behavior

Ideally, this would support the most popular Postgres ORMs out of the box. Or at least the docs should mention that this only works with AR.

### Actual behavior

Exception tryi

[2016-11-29 19:08] rafaelfranca commented on #27214
That is a good point. I don't see why this code is using Active Record at all, it should not, even more that actioncable doesn't depend on activerecord and active record base is not being required in that file.

In my opinion we should use the pg connection directly.

[2016-11-29 19:15] bgentry commented on #27214
@rafaelfranca my guess is it's because it's piggybacking on the AR database config logic. An alternative approach to supporting any ORM is to have a config setting that lets me specify how to get a new PG connection, defaulting to the AR method used currently.

[2016-11-29 19:26] rafaelfranca commented on #27214
I prefer to use the connection directly over supporting different ORM. There is no need for a ORM in actioncable.

We can't add the require without changing the dependencies of actioncable to add activerecord, so I prefer that we solve this issue removing any orm specific code.

[2016-11-29 19:48] lukebooth opened #27215 "Parameters with object having empty arrays as values get dropped"
### Steps to reproduce

PUT/PATCH parameters that look like `{ id: "1", stuff: {"A" => [], "B" => [], "C" => [], "D" => []} }` will completely drop the `stuff` parameter by the time we're in the controller method.

### Notes
I've got a sample app [here](https://github.com/lukebooth/empty-array-params) with `rails-4.2` and `rails-5` branches where the tests pass and don't pass, respectively. I'm tr

[2016-11-29 20:04] maclover7 commented on #27214
Thank you for opening up this issue! Working on a solution locally now.

[2016-11-29 20:06] kaspth commented on #27215
Could be related to: https://github.com/rails/rails/issues/26569

Can you write a reproducible test case?

[2016-11-29 20:10] lukebooth commented on #27215
@kaspth if you check out that sample app I linked to there are two tests. They both pass on the `rails-4-2` branch and one fails on the `rails-5` branch.

[2016-11-29 20:11] maclover7 commented on #27214
Opened up #27216 as a possible solution for this.

[2016-11-29 20:23] kaspth commented on #27215
@lukebooth doh! Totally missed that, thanks!

[2016-11-29 20:27] Ser1aL commented on #26892
@herminiotorres
Jon, try this [script](https://gist.github.com/Ser1aL/31b31d335f8fe80853cf049584970725).

[2016-11-29 20:31] Ser1aL commented on #26892
I think I know what is the issue.

@herminiotorres you shouldn't be setting `Rails.application.config.active_record.default_timezone` to anything except `:utc` or `:local`.

This time_zones.rb might give you what you're expecting:
[code]

[2016-11-29 21:19] rafaelfranca commented on #26892
oh. that is true. Maybe we need to document it better. @herminiotorres could you take a look in the documentation and see if it needs a update and open a PR?

[2016-11-29 21:20] rafaelfranca commented on #26892
oh. that is true. Maybe we need to document it better. @herminiotorres could you take a look in the documentation and see if it needs a update and open a PR?

[2016-11-29 21:20] #26892 closed

[2016-11-29 21:59] jclusso commented on #18409
@dhh I've found myself at this issue after reviewing #18546 and some other related links.

http://www.thegreatcodeadventure.com/using-action-controller-renderers-in-rails-5-with-devise/
https://evilmartians.com/chronicles/new-feature-in-rails-5-render-views-outside-of-actions

What I'm not understanding is how this would ever work in a real world application. Your video on [Rails 5 Action Cable](h

[2016-11-29 22:23] kayakyakr commented on #21477
@rafaelfranca any suggestions on getting path information for the referer, eg `Rails.application.routes.recognize_path(request.referer)`, while still using the public API?

[2016-11-30 00:05] ianks opened #27218 "Psych.to_json produces invalid json for objects inherited from ActiveRecord::Base"
### Steps to reproduce

I have created an executable test for this bug: https://gist.github.com/ianks/ba1f7175754780168c2a6618f13c95ec

I did not know whether to report this to Psych or Rails, just let me know if it belongs elsewhere and I will move the issue.

### Expected behavior
Psych.to_json should emit valid JSON. Currently, not all keys are double-quoted; which although valid in JS, is not

[2016-11-30 00:33] ianks commented on #27218
Upon further investigation, it seems the scalar types for attributes are not marked as `quoted` (corresponding code https://github.com/ruby/psych/blob/master/lib/psych/json/yaml_events.rb#L21)

On one hand, it seems like an easy fix to mark such nodes as quoted. On the other hand, `Psych.to_json` should not allow emitting invalid JSON. Thoughts @sgrif @tenderlove ?

[2016-11-30 01:07] maclover7 commented on #27218
Looks like this is fixed via c4cb6862babd2665a65056e205c2a5fd17a5d99d, which is on Rails master.

[2016-11-30 03:45] samphilipd commented on #26651
@techgique may I suggest instead?

[code]

[2016-11-30 04:13] kvokka commented on #5223
This bug is still present in Rails 5.0.0.1. Syntax changes a little, so, I had to add in
    # config/application.rb
    config.action_dispatch.trusted_proxies = %w(127.0.0.1 ::1).map { |proxy| IPAddr.new(proxy) }
    config.middleware.insert_before(Rails::Rack::Logger,
                                    ActionDispatch::RemoteIp,
                                    true,

[2016-11-30 08:57] johan-smits commented on #27209
I added the patch but without succes.
My example was maybe now that I read the fix not correct.
The test you added work for this case:
[code]
But still not this one:
[code]

But this works:
[code]

Maybe it is not fixable but my test case was:
A fixture was created with: <%= DateTime.now.in_time_zone + 3.months %>
In the code we want to send a contract warning 3 months before the end date. So I wa

[2016-11-30 09:30] MasterRoot24 commented on #26948
Hmm, turns out the patch wasn't as easy as I thought. `execute_batch` just returns nil no matter what the statement returns which obviously is not what we want when we're running statements to retrieve data.

I'll have a think about another solution to this and open a PR when I have a solution.

[2016-11-30 09:33] ojab commented on #23279
@tfluehmann …and you haven't provided steps to reproduce an issue.

[2016-11-30 09:56] mm580486 opened #27222 "search in hash"
hi guys

How search in hash column ?
[code]

## search query
Product.where('properties[foo] = bar')

[2016-11-30 10:01] sevenseacat commented on #27222
This issue tracker is an place for tracking bugs and problems with the Rails framework, not for help requests. You may get a better response in a forum like Stack Overflow.

[2016-11-30 10:03] azbshiri opened #27223 "Find by an array of values"
### Steps to reproduce

articles = []
article_ids.each do |article_id|
  articles << Article.find_by!(id: article_id)
end

### Expected behavior
articles = Article.find_batch_by!(id: article_ids)

### Actual behavior
There's no such method.

### System configuration
**Rails version**:
5.x
**Ruby version**:
2.3.x

[2016-11-30 10:04] matthewd commented on #27209
Yes, as I said, that part is expected behaviour.

[2016-11-30 10:08] mm580486 commented on #27222
this is a bug , rails framework can not search in hash column !!

[2016-11-30 10:20] seuros commented on #27222
This is not a hash column. You are serializing the data in a text field.
You can use a json/jsonb type or extract it into another table if you wish to search .

[2016-11-30 10:20] #27222 closed

[2016-11-30 10:21] tfluehmann commented on #23279
@ojab sorry for that, I fixed it now by running rails db:environment:set RAILS_ENV=test before each command.
My flow looks now like that:
rails db:environment:set RAILS_ENV=test
rails db:drop RAILS_ENV=test
rails db:environment:set RAILS_ENV=test
rails db:create RAILS_ENV=test

instead of simply:
rails db:drop RAILS_ENV=test
rails db:create RAILS_ENV=test

cheers

[2016-11-30 10:22] seuros commented on #27223
#find accept an array of ids.

[2016-11-30 10:25] matthewd commented on #26948
The safety of only running a single query is generally desirable... I suspect we'd want to add some sort of batch execute method to our connection adapter, and only use it when we mean to.

[2016-11-30 10:27] StephaneRob opened #27224 "Scope channel if multiple actioncable server using redis"
### Steps to reproduce

1. create two rails app with a basic chat
2. Setup ChatChannel for both app with `stream_from "chat_channel"`
3. Run both app and two differents actioncable server (using redis)
4. send a message from app 1

### Expected behavior

The message is saved in app 1 and broadcasted to **app 1** websocket

### Actual behavior

The message is saved in app 1 and broadcasted to **bot

[2016-11-30 11:25] azbshiri commented on #27223
#find doesn't raise an exception if it doesn't find a record and also it doesn't accept other attributes.

[2016-11-30 12:32] matthewd commented on #27223
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-11-30 12:32] #27223 closed

[2016-11-30 13:11] leealexcash opened #27226 "Broken Link on ActiveRecord readme - https://github.com/rails/rails/blob/master/activerecord/README.rdoc"
### Steps to reproduce

Try clicking on the **"Learn More"** link directly below the code block with the text:-
[code]

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Link should redirect to a new page

### Actual behavior
404 error

### System configuration
NA

**Ruby versio

[2016-11-30 13:48] matthewd commented on #27226
That's the raw source; the file is intended to be read from http://api.rubyonrails.org/files/activerecord/README_rdoc.html.

[2016-11-30 13:48] #27226 closed

[2016-11-30 15:59] matrix9180 commented on #27224
You need to set a different redis database in your cable.yml. Redis databases are integers, defaulting to 0.  Database name is the number after the last `/` in `url: redis://localhost:6379/1`

This request is like saying all table names in a SQL database need the app name prefixed because somebody wanted to use the same db for everything.

[2016-11-30 16:02] StephaneRob commented on #27224
I use two differents redis database `redis://localhost:6379/1` and `redis://localhost:6379/2`.
But according to redis doc

[2016-11-30 16:04] matrix9180 commented on #27224
Ah, disregard my comment then. That seems like a really odd design choice by the redis team to me though...

[2016-11-30 16:05] matrix9180 commented on #27224
I'll see if I can make a patch to prefix channels with app/env

[2016-11-30 16:49] MarskalGroup opened #27229 "Expected string default value for '--jbuilder'; got true (boolean)"
### Steps to reproduce

rails g   #Pretty much any rails g commands show this error

### Expected behavior
I expect no error

### Actual behavior
the following message appears ==> Expected string default value for '--jbuilder'; got true (boolean)

Otherwise everything seems to function properly

### System configuration
**Rails version**: 4.2.7.1 (and others)

**Ruby version**: 2.2.5 (and others)

[2016-11-30 16:52] zmoazeni opened #27230 "NameErrors in tests for large applications have a noticeable performance penalty"
### Steps to reproduce

1. Generate a brand new application `rails new some_awesome_app`
2. Generate a model `rails generate model post title:string body:text`
3. Tweak the post_test to look like this:

[code]

4. Run the tests `rake test`

### Expected behavior
The test to fail in a reasonable time.

### Actual behavior
The tests fail in a reasonable time for small codebases, but for codebases wi

[2016-11-30 16:53] matrix9180 commented on #27224
For now, looks like you should be able to override `channel_name` in your `ApplicationCable::Channel`. It's defined in `actioncable/lib/action_cable/channel/naming.rb` as:

        def channel_name
          @channel_name ||= name.sub(/Channel$/, "").gsub("::", ":").underscore
        end

So you could change it to something like:

        def channel_name
          @channel_name ||= "your_app_nam

[2016-11-30 16:56] zmoazeni commented on #27230
I can help put together a PR for this, but I'd like to discuss it first to figure out what the right approach to solving this should be.

[2016-11-30 18:05] Fryguy opened #27231 "Dynamic :action segment deprecation forces application bloat after suggested workaround"
Though I understand, and agree with, the rationale behind the removal of the dynamic `:action` segment in https://github.com/rails/rails/pull/23980, the suggested workaround to whitelist each individual action is leading to application memory bloat.

With a simple rails runner:

|         | Memory         | Time         | `rails routes` entries |
|---------|----------------|--------------|--------

[2016-11-30 19:18] sgrif commented on #27218
It looks like the only reason it's fixed on master is because we're manually setting all of the keys. The invalid keys in your example output are all places where psych was producing the keys from instance variables, which leads me to believe this is a bug in psych not Rails.

[2016-11-30 19:18] #27218 closed

[2016-11-30 19:25] sgrif commented on #27230
This isn't really a bug in Rails. I don't think we want to set a precedent for overriding `inspect` on every object to be small just in case there's some case it can get huge and someone happens to cause a `NameError` on it. Really, this is an issue with Ruby itself. There is https://bugs.ruby-lang.org/issues/9725 open. I'd comment there or open another issue with Ruby requesting that it truncate

[2016-11-30 19:25] #27230 closed

[2016-11-30 19:32] sgrif commented on #27229
Looks like this was a change in Thor. https://github.com/erikhuda/thor/blob/master/CHANGELOG.md#0192-release-2016-11-26

It's a warning only, not an error -- And it does not occur in Rails 5, so I do not think we need to worry about this issue.

[2016-11-30 19:32] #27229 closed

[2016-11-30 19:35] sgrif commented on #27215
This is the expected behavior. There is no way to encode an empty array using an HTML form (e.g. `Content-Type: url-form-encoded`). The reason your tests passed in Rails 4.2 is because controller tests did not encode their parameters, they simply passed the hash through directly. In Rails 5 it encodes them. If your controller cares about empty arrays, it's likely that you are dealing with JSON req

[2016-11-30 19:35] #27215 closed

[2016-11-30 19:37] #27213 closed

[2016-11-30 19:45] sgrif commented on #27205
This is the expected and documented behavior. http://api.rubyonrails.org/classes/ActiveRecord/ModelSchema/ClassMethods.html#method-i-table_name We use the singularized form of the enclosing class's table name. Since `Man.table_name` is `"users"`, you get `"user_profiles"`. If you want to change the table name manually to differ from the default conventions, you can do so manually.

[2016-11-30 19:45] #27205 closed

[2016-11-30 19:57] sgrif commented on #27201
This was fixed in 21675fdc, which was backported to 5-0-stable in b601c8c3. Neither commit is in a released version of Rails. I suspect you're seeing an issue in your actual code because the value was serialized as JSON null, and is going to be changed to SQL NULL when re-saved. You can update your entire database with `UPDATE whatever SET that_col = NULL WHERE that_col = 'null';`. There is no dep

[2016-11-30 19:57] #27201 closed

[2016-11-30 19:59] sgrif commented on #27200
Migrations are expected to be consistent with the same set of migrations. Adding new migrations may alter the indentation of lines that were added by previous migrations to line up arguments. If running the *same* set of migrations on two different machines produces a different `schema.rb`, please provide an example application with that set of migrations, and enough information about the environm

[2016-11-30 19:59] #27200 closed

[2016-11-30 20:05] sgrif commented on #27169
This was a case where backporting had some subtle changes in behavior that I wasn't comfortable with making. Officially we don't actually support 4.2 for bug fixes any more (though we try to when it's easy for us to do). Since this is fixed on 5.0, there is no bug.

[2016-11-30 20:05] #27169 closed

[2016-11-30 20:07] sgrif commented on #27201
Actually I lied. The fix is included in https://rubygems.org/gems/rails/versions/5.0.1.rc1, which should fix your issue.

[2016-11-30 20:12] sgrif commented on #27202
Closing as there's no actionable bug here. Feel free to open a PR removing that warning if you wish, but it's not hurting anything if not.

[2016-11-30 20:12] #27202 closed

[2016-11-30 20:14] sgrif commented on #27194
I was unable to reproduce with the provided information. This is likely a bug in your application, not with Rails. Please provide a reproducible test case and I will reopen the issue.

[2016-11-30 20:14] #27194 closed

[2016-11-30 20:15] sgrif commented on #27149
I don't think this is a common enough issue to warrant code specifically for it.

[2016-11-30 20:15] #27149 closed

[2016-11-30 20:16] sgrif commented on #27149
I would consider a PR if it was low complexity and didn't look like it'd have a high maintenance burden, though.

[2016-11-30 20:26] sgrif commented on #27099
Can you reproduce on Rails 5? Do you have a script that we can use to try?

[2016-11-30 20:37] aledalgrande commented on #20914
Not an initializer case, but try to install `delayed_job` in the `Gemfile`, setup a class as a subclass of `ActiveJob::Base`, then comment out `delayed_job` in the `Gemfile`.

If you run `rails s -p 5000`:
[code]

If you run `rails c`:
[code]

[2016-11-30 21:59] maclover7 commented on #27211
@jpettettphaxio I just want to confirm, you are only including `ActionView::Rendering` because you want access to the controller's `view_context`, right?

[2016-11-30 22:06] maclover7 commented on #27211
I believe the reason why this is throwing an error is because even though you only want `view_context`, when you include `ActionView::Rendering`, the `render_to_body` method gets overwritten and will direct the request through Action View's rendering system.

[2016-11-30 22:07] jpettettphaxio commented on #27211
@maclover7 I believe that's correct.  The reason I want to include `ActionView::Rendering` is to enable to enable Draper to work, which uses `view_context`.  However, I'm not 100% sure if that's the only method it needs.  But since the problem occurs regardless of whether Draper is used, is there a documented reason why `ActionView::Rendering` can't/shouldn't be included in `ActionController::API`

[2016-11-30 22:11] jpettettphaxio commented on #27211
And/or since `ActionContolller::Base` includes `ActionView::Rendering` without breaking `render :json`, is there another module that needs to be included in a `ActionController::API` subclass to "fix" `render_to_body` after including `ActionView::Rendering`?

[2016-11-30 22:33] DarkArc opened #27236 "ActiveRecord coerces String values to nil for jsonb fields"
### Steps to reproduce
Using PostgreSQL, create a table with a jsonb field, and a corresponding ActiveRecord model, for this example the field will be called `foo` and the model `Bar`.

Then using the rails console:
[code]

### Expected behavior
`b.foo` returns `"test string"`

### Actual behavior
`b.foo` returns `nil`

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 2.2.5

##

[2016-11-30 22:42] rept commented on #27099
@sgrif
I have no idea what it gives in Rails 5.
The original issue (#7618) has been there since 2012 and the question there was if it still happened in Rails 4.  That I can confirm and there is a test script to use ( https://github.com/edogawaconan/rails-hmt-after_destroy ).

[2016-11-30 22:44] maclover7 commented on #5223
Looks like there might be a PR (#14600) in progress to fix this cc @matthewd

[2016-11-30 22:52] maclover7 commented on #27224
Thank you for opening up this issue, this is a neat bug! :)

The best way we can solve this is probably to create an app specific unique identifier or use the app name as @matrix9180 proposed.

[2016-11-30 22:53] utilum commented on #20914
I tried to reproduce with Rails 4.2.0, both with an initializer and with the delayed job... could not reproduce.

[2016-11-30 22:54] maclover7 commented on #27236
@DarkArc Can you please confirm whether or not this is a bug for you on Rails master?

[2016-11-30 22:57] aledalgrande commented on #20914
Did you also add `config.active_job.queue_adapter = :delayed_job` to the configuration?

[2016-11-30 23:18] utilum commented on #27236
[Executable test case](https://gist.github.com/utilum/a0a96132f3342e04209d66046996009b) fails in 4.2.7, passes in >=5.0.0

[2016-11-30 23:23] oswaldoferreira commented on #26835
Hey @Genkilabs, are you working on this? Interested on taking this one.

[2016-11-30 23:29] utilum commented on #20914
I did. Also ran bundle install after commenting out `gem "delayed_job"`. In fact, the server starts as happy as ever. Will you provide a demo?

[2016-11-30 23:44] conf opened #27238 "Class.descendants returns singleton classes starting from Ruby 2.3.0"
### Steps to reproduce

Starting from Ruby 2.3.0, `Object.each_space` also [returns singleton classes](https://bugs.ruby-lang.org/issues/11360).

That breaks behavior of `Class.descendants` and `Class.subclasses` that also start to return singleton classes of their arguments.

[code]

### Expected behavior

`Class.descendants` and `Class.subclasses` should not return singleton classes (test should

[2016-11-30 23:50] utilum commented on #27099
The test script linked to gives an error on a different issue. I [removed the extra bit](https://gist.github.com/utilum/8bc7814985f09555f867c6b528640bd3) and it passes both on rails 4.7.2 and on master.

[2016-12-01 00:00] maclover7 commented on #27099
@rept, can you confirm that @utilum is accurately trying to reproduce the circumstances in which you had an error thrown? If so, I think we can close this issue since the problem seems to have been solved.

[2016-12-01 00:02] maclover7 commented on #27236
Since the issue is fixed in Rails 5, going to close out this issue. Thanks for the reproduction script, @utilum!

[2016-12-01 00:09] nateberkopec commented on #27238
Hm - it was a breaking change for Ruby, so why shouldn't it be a breaking change in Activesupport? Is it Rails' job to cover up breaking changes in Ruby?

[2016-12-01 00:47] conf commented on #27238
Well, it's a breaking change for `ObjectSpace#each_object` that I can understand, but for `Class#descendants` usage of `ObjectSpace#each_object` is a detail of internal implementation that shouldn't be exposed. Nothing in the documentation, code examples nor tests points that `Class#descendants` should also return singleton objects, at least I was very surprised seeing this behavior.

Personally,

[2016-12-01 00:54] DarkArc commented on #27236
@maclover7 so is there any hope of getting a fix for rails 4, or is 4 effectively EOL for non-critical fixes?

[2016-12-01 01:02] maclover7 commented on #27236
@DarkArc If you can find the commit that fixed this and can open up a backport PR to `4-2-stable` then it'll probably be merged, but otherwise I'd just suggest moving to Rails 5 😬

[2016-12-01 01:02] maclover7 commented on #27238
Agree that the old behavior is what is intended. Working on a PR.

[2016-12-01 01:05] conf commented on #27238
@maclover7 Thank you, sir! Can we also have a backport to 4.2.x branch? The code should be identical there.

[2016-12-01 05:21] joallard commented on #26275
@vincentlkl Thanks for your careless mistake, I had forgotten to setup the config file and couldn't figure out the cryptic error message.

[2016-12-01 07:33] StephaneRob commented on #27224
Looks like the @matrix9180 solution will work with Channel `broadcast_to` method, but what happen if we use `ActionCable.server.broadcast` directly ?

For now I have to scope the stream `stream_for "chat_channel_#{app1_name}"`

[2016-12-01 07:51] zhiephie opened #27241 "What difference it?"
[code]
and
[code]
because I try read ``cookies[:name]`` not consistent for option 1

[2016-12-01 08:01] StephaneRob commented on #27224
Maybe we need to prefix on the `stream_from` method (`actioncable/lib/action_cable/channel/streams.rb`) too

[code]

[2016-12-01 10:43] dhh commented on #18409
I don't use Devise, so don't know what that looks like. But you're just rendering the views, not the controller actions. You don't need to have all envs available to do that. If you need that, your code is too tangled. You can just pass the ivar/local vars that the specific template/partial needs.

[2016-12-01 13:09] matrix9180 commented on #27224
I'm having a bit of trouble getting the actioncable test suite running locally, will report back later today if I'm able to get that working, otherwise yes working on a PR.

[2016-12-01 13:43] matrix9180 commented on #27224
Fixed my issues with the test suite. Looking into a PR.

[2016-12-01 14:12] matrix9180 commented on #27224
@maclover7 After a couple runs of the tests I start getting `Errno::EMFILE: Too many open files - pipe`.
I'm also seeing lots of warnings about uninitialized instance variables from concurrent-ruby and websocket-client-simple.

I'm on Sierra, Ruby 2.3.2p217.

Are you on Freenode so we don't have to pollute the comments here?

[2016-12-01 15:03] lukebooth commented on #27215
Thanks for the explanation @sgrif!

[2016-12-01 15:37] matrix9180 commented on #27224
@maclover7 Seems I'm in a bit over my head on this one. I made the changes @StephaneRob suggested but can't see what tests it breaks because rake spews a bunch of warnings from concurrent-ruby and finally bombs out with
`libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: Too many open files
rake aborted!
SignalException: SIGABRT`

https://gist.github.com/matrix9180/42

[2016-12-01 15:59] seanwalbran opened #27243 "database index creation with length options failing in 5.0.1.rc1"
With rails 5.0.1.rc1, I'm seeing failures to create indexes in MySQL with `length` options specified.  It looks like the `length` options are being ignored.

### Steps to reproduce

- Executable reproduction script: https://gist.github.com/seanwalbran/03939f95c9dd2ba2c02fadc99698fe52#file-active_record_gem-rb
- Log of failure under 5.0.1.rc1: https://gist.github.com/seanwalbran/03939f95c9dd2ba2c02

[2016-12-01 16:06] obie commented on #23422
Just ran into this issue myself and was pretty confusing... Is it really not possible/desirable for the migration to introspect on the current state of the database?

[2016-12-01 17:08] matrix9180 commented on #27224
@maclover7 Does this seem like a reasonable approach?

[2016-12-01 17:31] wiegand opened #27246 "Saving an ActiveRecord model with a PostgreSQL money field set with a Ruby Float throws a PostgreSQL syntax error in Rails 5"
Creating a new Rails 5 application with a model that has a PostgreSQL money typed field will fail to save records if said field is set as a Ruby Float. Note:

1. Setting the money field as an `Fixnum` (e.g. `12`), `String` (e.g. `"12.25"`), or `String` with a dollar sign (e.g. `"$12.25"`) works as expected. No error is thrown, and the field when read back from PostgreSQL is properly typed in Rails

[2016-12-01 18:46] Genkilabs commented on #26835
Sorry about that. I was derailed by... life. @oswaldoferreira if you want to take a crack at it, go for it!

The error on tests is of the nature:
[code]
If you work it from that direction, you will end up in ```/actionpack/lib/action_dispatch/testing/assertions/routing.rb``` and seeing the error on 172 (call to super) likely comes from a false on the check:
```if defined?(@controller) && @controll

[2016-12-01 18:49] del-flexe commented on #21325
I believe the error occurs if the method in _test/mailers/previews/my_preview.rb_ returns anything but an actual email type ... i.e. forgetting to call _MyMailer.my_email_method(args)_

[2016-12-01 19:42] sgrif commented on #27246
Thank you for a well written bug report.

[2016-12-01 19:44] sgrif commented on #27241
We reserve the issues tracker only for bugs (e.g. This code worked in Rails 4.2 but is broken in Rails 5.) For questions like this please ask on Stack Overflow or the mailing list where the greater community is available to help.

[2016-12-01 19:44] #27241 closed

[2016-12-01 19:44] #27246 closed

[2016-12-01 19:44] sgrif commented on #27238
@nateberkopec It's not our job to cover up changes in Ruby, but it is our job to make sure that our methods work as intended. `Class#descendants` definitely needs to exclude singleton classes.

[2016-12-01 19:56] sgrif commented on #27236
We should bisect and see how much work it would be to backport

[2016-12-01 19:57] #27238 closed

[2016-12-01 19:57] sgrif commented on #27236
Oh never mind, I see what you're trying to do. Assigning anything other than hashes or arrays to json fields was unsupported prior to Rails 5. Supporting other primitives results in major changes in behavior, and absolutely would not be backported.

[2016-12-01 19:57] #27236 closed

[2016-12-01 20:09] conf commented on #27238
@sgrif Wow, that was fast! Any chance for a backport to 4.2.x? My project is still on that branch :(

[2016-12-01 20:22] maclover7 commented on #27243
Bisected, 4ce674f6449c870707ebdc0f7995e4147a1348af seems to introduce the error.

cc @kamipo
cc @matthewd, 5.0.1 release manager

[2016-12-01 20:28] mvz commented on #26430
I'm considering it very likely that the line `Dir["#{File.dirname(__FILE__)}/core_ext/*.rb"].each do |path|` that has been in `core_ext.rb` for a very long time produces different results on different machines, i.e., the ordering of the paths yielded is not always the same. It may help to sort them explicitely.

[2016-12-01 21:08] sgrif commented on #27215
Any time

[2016-12-01 22:11] kamipo commented on #27243
#26687 will fix this issue.

[2016-12-02 00:45] rept commented on #27099
@maclover7 @utilum Changed the script to rails 4.2.7.1 and it passes.  Thanks!

[2016-12-02 00:45] #27099 closed

[2016-12-02 07:34] st0012 commented on #27211
@jpettettphaxio
The cause of this error is that `ActionView::Rendering` override `render_to_body` to
[code]

The overwrote method is `ActionController::Renderers#render_to_body`
[code]

However, re-include `ActionController::Renderers` won't work. But if you manually override `render_to_body` in your controller will work, which would be like

[code]

[2016-12-02 08:59] st0012 commented on #23820
@maclover7 is this refactoring still needed?

[2016-12-02 09:08] st0012 commented on #23901
@matthewd After several experiments, this is the best way I can come up with 😞. Do you have any possible solution on this issue?

[2016-12-02 09:58] st0012 commented on #23908
Is there anyone want to do this? I want to give it a shot 😀

[2016-12-02 10:14] fxn commented on #23908
@st0012 sure, go ahead!

[2016-12-02 10:21] ebeigarts commented on #15258
This was fixed in #11694. I can reproduce this only with `< 4.0.12`. The test example passes with `4.0.13`, `4.2.x`, `5.0.x`. Please close this.

[2016-12-02 13:42] mvz commented on #23279
@Schwad I solved my previous reproduction by removing the pending migrations check from `rails_helper.rb`. However, I have another reproduction that cannot be solved this way:

[code]

The file `foo.sh` contains:

[code]
rake aborted!
ActiveRecord::EnvironmentMismatchError: You are attempting to modify a database that was last run in `development` environment.
You are running in `test` environment

[2016-12-02 14:03] maclover7 commented on #23820
@st0012 yep, this is still on our radar

[2016-12-02 16:39] rusikf opened #27252 "Why there is no render_relative method?"
Hello rails contributers ! Do you plan to create method for views context like ```render_relative``` ?
There are a lot of apps where I have a nested structure of views, for example
[code]
It will be excellent if we can use relative path in any partial for render another partial, not absolute path... What you think about this idea ?

With best regards, Ruslan

[2016-12-02 16:54] rafaelfranca commented on #27252
`render` already supports relative paths. And no, we don't have any plan to add new methods.

Also please don't ask questions in the issue tracker.

Thanks!

[2016-12-02 16:54] #27252 closed

[2016-12-02 17:02] nateberkopec commented on #27252
@rusikf In the future, if you have questions, the Rails gitter/IRC channels are very active and have plenty of people who can help.

[2016-12-02 17:47] Awatatah opened #27253 "undefined 'method' helper for ActiveAdmin::Devise::SessionsController:Class"
Hello I am receiving error

``` ../.rvm/gems/ruby-2.3.0/bundler/gems/activeadmin-a932d56b156e/lib/active_admin/devise.rb:31:in `block in <module:Controller>': undefined method `helper' for ActiveAdmin::Devise::SessionsController:Class (NoMethodError)```

### Steps to reproduce

On a new rails 5 api, I added the following gems:

I also added to `app/controllers/application_controller.rb`

### Syste

[2016-12-02 18:01] Awatatah commented on #27253
I was able to resolve by changing
`ApplicationController < ActionController::API`
to
 `ApplicationController < ActionController::Base`

and by adding to `config/application.rb`

[code]

[2016-12-02 18:08] #27253 closed

[2016-12-02 20:45] aruprakshit opened #27255 "includes and unscoped not working while having default scope in both models"
I have the below 2 models:

[code]
### Steps to reproduce

The below version doesn't work.

[code]

While the below works:

[code]

### Expected behavior

`.unscoped` should work with `.includes` while using `.order()`.

### Actual behavior

In 1 case it is working, but in another case it is not working. Look the error above.

### System configuration
**Rails version**: Rails 5.0.0
**Ruby version*

[2016-12-02 21:10] mltsy opened #27256 "Strange warnings in default `rails g --help` output"
### Steps to reproduce

[code]

### Expected behavior
A useful help message without any errors or warnings

### Actual behavior
A useful help message, AND the following 3 warnings:
[code]

### System configuration
**Rails version**: 5.0.0.1
**Ruby version**: 2.3.1 (mri)
Ubuntu 16.04

[2016-12-02 21:12] mltsy commented on #27256
I couldn't figure out where these warnings were even coming from.  If I knew, I would look into it and try to be more specific about the bug or submit a patch... any ideas?  Do other people get this output?

[2016-12-02 21:26] rafaelfranca commented on #27256
It is from thor. Could you check if the 5.0.1.rc1 also show that?

[2016-12-02 22:13] brad-werth commented on #27256
Same thing here, with Rails 5.0.1.rc1:

[code]

[2016-12-02 22:19] utilum commented on #27256
Same here. Rails 5.0.1.rc1, ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-linux].
However, in Rails 5.0.0.1, the command `rails g --help` just hangs, not even responding to `Ctrl+C`.

[2016-12-02 22:23] rafaelfranca commented on #27256
You have to use jbuilder master to remove all of them. But `--helper` and `--assets` were removed in 5.0.1.rc1

[2016-12-02 22:23] #27256 closed

[2016-12-02 22:28] mltsy commented on #27256
Oh, awesome.  Thanks! :)
@utilum Yeah, I've gotten that hanging process a couple times right after initializing a project.  Usually if I close the console and open a new one it works fine.  (Hopefully that's not an issue in 5.0.1, as you indicated, but I haven't tried, and it was kind of intermittent)

[2016-12-03 01:32] utilum commented on #23820
Large refactoring being to set AV:TestCase to inherit from AV:Base instead of AS:TestCase and then extracting all that's needed from the latter into parts that can be included?

[2016-12-03 02:00] oswaldoferreira commented on #26835
Thanks a lot for the overview @Genkilabs, I'll let you know if I get any further.

[2016-12-03 03:00] kmcphillips commented on #26430
We get this error pretty reliably on [active_shipping](https://github.com/Shopify/active_shipping). I can reproduce it locally, and we get it on builds:
https://travis-ci.org/Shopify/active_shipping/jobs/180514307

[2016-12-03 03:46] rafaelfranca commented on #26430
@kmcphillips is it fixed with 5.0.1.rc1?

[2016-12-03 03:50] kmcphillips commented on #26430
Yes! You're the best @rafaelfranca

[2016-12-03 15:15] FlowerWrong opened #27260 "Rails 5.1.0.alpha can not start server with options"
### Steps to reproduce

I can not use `5.1.0.alpha` to start a rails server with options.

### Expected behavior
work well.

### Actual behavior

<img width="1204" alt="2016-12-03 11 11 00" src="https://cloud.githubusercontent.com/assets/5362640/20860244/51e89972-b9ae-11e6-887e-ac57f22c26e8.png">

### System configuration
**Rails version**: 5.1.0.alpha

**Ruby version**: 2.3.3

[2016-12-03 15:39] georgeclaghorn commented on #27260
This is being fixed in https://github.com/rails/rails/pull/26977.

[2016-12-03 15:41] Vincent14 opened #27261 "append_before_action append_around_action and append_after_action are just alias methods"
### Steps to reproduce

I just tried to log when controller callbacks are triggered and found a strange behaviour of all append_* callbacks, depending of the declaration order.

### Expected behavior
For example, I want append_before_action to be triggered after before_action. Same logic for the two others. I need this to order my before_action callbacks, and I'm sad to see it's not possible to gi

[2016-12-03 15:41] maclover7 commented on #27260
Closing as a duplicate of #27155; as noted by @georgeclaghorn, there's a PR in progress at #26977 to fix this error. Thank you for opening this issue!!

[2016-12-03 15:41] #27260 closed

[2016-12-03 21:34] donaldleslie commented on #27194
I constructed a small test case and found the problem. I do not know if this is an expected behavior.

You can get column names with
columns1 = Member_statuses.column_names

If you change columns1 with columns1.shift

Subsequent usage of Member_statuses.column_names has the first column missing. Using
columns1 = Member_statuses.column_names.dup avoids the problem.  I did not think that I
could cha

[2016-12-03 23:50] maletor commented on #15258
@ebeigarts, thanks.

[2016-12-03 23:50] #15258 closed

[2016-12-04 10:01] printercu commented on #25770
There is template which wraps long lines in new app: https://github.com/printercu/rails-template-80

[2016-12-04 13:05] amingilani commented on #25770
Thank you @printercu! Is this just 80 char compliant, or does it comply with the rest of Rubocop's Rails rules as well?

[2016-12-04 13:49] printercu commented on #25770
I test it only against LineLenght cop: https://github.com/printercu/rails-template-80/blob/master/Rakefile#L9

Other modifications are discussible.

[2016-12-04 13:49] pixeltrix commented on #27231
@Fryguy you're probably not going to like this answer but it seems like there's massive scope for route reduction in your routes.rb file that would more than offset any bloat from removing `:controller` and `:action`. For example you have a whole bunch of routes related to filtering that could be refactored down to a single controller that filters results. Also you have a bunch of routes related t

[2016-12-04 14:03] matthewd commented on #27231
@pixeltrix might there be room for us to allow an application to [easily] do "manual" dynamic dispatch on a parameter representing an action name, without retaining the inherent magicness of `:action`?

[2016-12-04 17:00] pixeltrix commented on #27231
@matthewd that's pretty trivial to do as things currently stand, e.g:

[code]

We could certainly wrap up something like that to make it easier, but I think the problem isn't so much where there's a lot of actions on a controller but where there are a lot of controllers since there tends to be a natural limit to the number of actions in a controller (though you can go crazy with concerns).

I thin

[2016-12-04 17:05] benlovell opened #27263 "Correctly instrument SQL runtime in the `INFO` log level"
Since 191facc857bb4fb52078fb544c6bc1613a81cc80 (particularly: https://github.com/rails/rails/commit/191facc857bb4fb52078fb544c6bc1613a81cc80#diff-eba6b59bacb9a1d88646145ed1ff4c86L34) the SQL runtime is not instrumented under the `INFO` log level. I guess this is a bug as I see no logical reason why this information is considered too verbose for the `INFO` log level. Indeed, this is still reported/

[2016-12-05 01:21] mrjlynch commented on #24827
I have upgraded to rails `5.0.1.rc1` and this issue is resolved! 🎉

[2016-12-05 09:48] akostadinov opened #27268 "autoload vs eager load in docs clarify"
http://edgeguides.rubyonrails.org/autoloading_and_reloading_constants.html

It mentions eager load but doesn't explain how to use it. It is explained how to use autoload but autoload does not work reliably in production environment especially with threads. I think document should explain autoload should not be used at all and explain how eager loading is to be used, e.g.:
[code]

My understanding

[2016-12-05 13:00] yuktikhurana commented on #26903
@jughead
As per [this](https://github.com/rails/rails/blob/92703a9ea5d8b96f30e0b706b801c9185ef14f0e/activesupport/lib/active_support/core_ext/object/with_options.rb#L51)
I feel it's the expected behavior of **with_options** . It will always merge the options given.

So
[code]

translates to
`validate :check_candies, on: [:create, :update] , if: :special_condition_met?`

You might have to write a c

[2016-12-05 13:37] yuktikhurana commented on #26780
@adamlogic  Faced the same issue. Don't know if it's expected.
@maclover7  But i feel the following test case failure isn't expected.

[code]

[2016-12-05 14:51] SeanHealy33 opened #27270 "Parameterize strips unicode characters"
### Expected behavior
It feels kinda buggy that currently if you have a case like `'Здравствуйте'.parameterize` returns `''`

It would be nice if `.parameterize` could be configured to generate slugs with unicode characters preserved.

Would something like this be a reasonable change?
___

[code]

And if the `preserve_unicode: true` was passed we would use a different regex like: `^p{Alnum}` over

[2016-12-05 16:32] rafaelfranca commented on #27270
Preserving unicode is already the default behavior or parameterize. Look the documentation.

[code]

If it is not working it is a bug but it doesn't require any new option.

[2016-12-05 16:33] rafaelfranca commented on #27270
In your case I believe the i18n rules to transliterate those characters are missing. Make sure you have them configured. See the transliterate documentation http://api.rubyonrails.org/classes/ActiveSupport/Inflector.html#method-i-transliterate

[2016-12-05 16:33] #27270 closed

[2016-12-05 19:13] #26948 closed

[2016-12-05 19:22] sgrif commented on #26903
"Fixing" this would break behavior that's been around for quite some time. I expect a lot of applications are relying on this behavior to change callback options in subclasses or based on some condition.

[2016-12-05 19:22] #26903 closed

[2016-12-05 19:45] printercu opened #27273 "Memory leak in development"
### Steps to reproduce

Add lines to `ApplicationController`:
[code]

Refresh page few times. See the number is increasing.

It's related to #20384. Digests are cleared, but not cache objects. I haven't found easy way to clear all caches, as every controller seems to have its own.

### Expected behavior

Cache size should not be incremented infinitely.

### Actual behavior

It's incremented infini

[2016-12-05 19:53] rafaelfranca commented on #27273
r? @kaspth

[2016-12-05 20:23] jpettettphaxio commented on #27211
@st1002 thanks for looking into this.  Any reason not to simply do:

[code]

[2016-12-05 22:52] efatsi opened #27276 "Extending ActiveRecord::Base breaks presence validation on belongs_to relations"
### Steps to reproduce

- extend ActiveRecord::Base:

[code]

### Expected behavior
Presence validation on `belongs_to` relationships exist

### Actual behavior
The built in presence validation on `belongs_to` relationships no longer exist. The validation will exist if you explicitly pass `optional: false`, but no longer exists by default.

### System configuration
**Rails version**: 5.0.0.1

**Ru

[2016-12-06 00:20] rafaelfranca commented on #27276
You should not extend active record like that. It will change the load order of the framework.

Use:

[code]

[2016-12-06 00:20] #27276 closed

[2016-12-06 00:43] #27243 closed

[2016-12-06 03:55] st0012 commented on #27211
@jpettettphaxio If your approach works, just use it 😬

[2016-12-06 07:09] suresh02 commented on #27129
#27129sgrif Can you please look into this issue

[2016-12-06 14:33] efatsi commented on #27276
Thanks for the quick response!

[2016-12-06 15:17] Fryguy commented on #27231
@pixeltrix Thanks for the response!  So, yes, I realize there is a lot of changes we could do to simplify.  Unfortunately, that is development I have to weigh against other changes, which makes it tricky.

Thanks for the "custom_action" idea to implement the whitelisting.  Modifying yours with checking `request.method`, I might have all I need.  I can probably do something even more generic at the

[2016-12-06 18:38] duffyjp commented on #27255
If your goal is to order your IfsDocumentVersion based on the joined IfsDocument, maybe you just need something like this?

[code]

`includes(:ifs_document)` without a `references(:ifs_documents)` is going to cause trouble when you try to do sorting / conditionals on the joined table.

`eager_load` is just includes + references at the same time (as far as I understand).

My preferred approach late

[2016-12-06 18:49] jughead commented on #26903
@yuktikhurana the link you give tells about nesting and not about consequent calls.

[2016-12-06 20:17] sgrif commented on #27255
Your code as written would not be expected to behave as you described. This question is better suited for stack overflow or gitter where the larger community can help you.

[2016-12-06 20:17] #27255 closed

[2016-12-06 20:24] kaspth commented on #27273
@printercu hey, thanks for the issue!

I'm curious how you see this being related to #20384, as you say, the digests are cleared correctly?

Is it possible for you to try git bisecting and finding the initial commit that contained this bug?

[2016-12-06 20:35] printercu commented on #27273
@kaspth following https://github.com/rails/rails/pull/27271#issuecomment-265261072

Digests are cleared, but not the cache stores in `Resolver#cache` (https://github.com/rails/rails/blob/master/actionview/lib/action_view/template/resolver.rb#L63).
The `key` arg there is the digest. As it refreshes for every template on every request, it misses the cache. But `@data` is never cleared.

The main poi

[2016-12-06 21:07] aledalgrande commented on #20914
Let me see if I can strip down this app so it can be a minimal repro case.

[2016-12-06 22:20] matthewd commented on #27273
Do we expect that? :confused:

Per #27271 etc, we intend to flush the cached digests on each request. But if the file(s) haven't changed, shouldn't the new digest match the old one? Maybe I'm just confused again.

---

For both of these caches, having them global across threads, yet cleared per request/execution, makes me feel weird. Perhaps the "right" thing to do would be for the executor layer

[2016-12-06 22:35] maclover7 commented on #27263
cc @eileencodes

[2016-12-06 22:41] rafaelfranca commented on #27263
Yes, it is a bug. Instead of moving back the code can we change the conditional to:

[code]

?

[2016-12-07 06:44] aruprakshit commented on #27255
@sgrif I think it is a bug, not a question. Why did you close this?

[2016-12-07 07:11] Paxa commented on #26947
I found `ActiveRecord::ConnectionAdapters::ConnectionManagement ` in http://guides.rubyonrails.org/rails_on_rack.html

Where to find docs for `ActionDispatch::Executor`?

@ioquatix In sinatra can use:
[code]

For Rack application can copy [implementation from rails 4.2](https://github.com/rails/rails/blob/4-2-stable/activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb#L64

[2016-12-07 07:34] printercu commented on #27273
Agree with you. Don't think we should recompile templates until they are changed.

Beyond all the digest, their caches and per-request expiries, what app must do?

1. Provide content caching (`cache` helper).
2. Expire content cache when template or any its dependency is updated.
3. Expire content cache in development (Why? Is previous not enough?).
4. Don't recompile templates when `cache_templat

[2016-12-07 07:45] vipulnsward commented on #27055
This has been fixed on master, try copying content from- http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#config-secrets-yml

[2016-12-07 07:45] #27055 closed

[2016-12-07 07:54] printercu commented on #27273
@kaspth you have closed #27292 after 3 minutes i'd opened it. Don't think it's right decision, you even had no time to read it. But I had found a lot of time to understand the smelling code and prepare this commits.

[2016-12-07 08:18] kaspth commented on #27273
@printercu it doesn't take that long to see it was a pull request that did a lot of things we, on the Rails team, don't want. Here's a more elaborate explanation on why we don't accept cosmetic changes: https://github.com/rails/rails/pull/13771#issuecomment-32746700.

Appreciate the effort, but we need a PR that's more tuned to the bug at hand.

[2016-12-07 10:36] sgrif commented on #27255
It is not a bug

On Wed, Dec 7, 2016, 1:44 AM Arup Rakshit <notifications@github.com> wrote:

[2016-12-07 11:11] printercu commented on #27273
uh. Not all ruby modules are intended for inclusion. I think not so much usecases for `include Rails` or `include GC`. Modules are for scoping/incapsulation, classes - for creating instances.

What about eliminating dead code, is it also cosmetic change? What about moving unrelated constant to the scope it's related to? I think you just haven't give any effort to read the commit carefully.

[2016-12-07 11:53] printercu commented on #27273
One more commit: https://github.com/rails/rails/pull/25041
After this one, cache keys for templates cache are `Concurent::Map`s, which contain all digests for the requests. And they are not GC'd with all the contents. And don't think that  `hash` method on them is as fast as getting object_id.

[2016-12-07 11:57] printercu commented on #27273
Here are are the lines to understand:
https://github.com/rails/rails/blob/fe1f4b2ad56f010a4e9b93d547d63a15953d9dc2/actionview/lib/action_view/lookup_context.rb#L193
https://github.com/rails/rails/blob/fe1f4b2ad56f010a4e9b93d547d63a15953d9dc2/actionview/lib/action_view/template/resolver.rb#L63
`DetailsKey.get(details)` from the first one is passed as `key` to the 2nd one.

[2016-12-07 12:07] andneuma opened #27295 "Wrong command for secret key creation in rails security guidelines"
### Expected behavior
Should be `rake secret`

### Actual behavior
Actually is `rails secret`

See [Ruby on Rails Security Guide](http://guides.rubyonrails.org/security.html#session-storage)

[2016-12-07 12:12] printercu commented on #27273
Here is another one, which coupled digest cache with details key: https://github.com/rails/rails/pull/23756

What if revert 13c4cc3b5aea02716b7459c0da641438077f5236, and return object_id as hash? So there would be no collisions, and digest cache can be moved back to Digestor.

/ping @tenderlove

[2016-12-07 12:20] sgrif commented on #27295
`rails secret` is the correct command.

[2016-12-07 12:20] #27295 closed

[2016-12-07 13:05] andneuma commented on #27295
Sorry, but it's not... it's a rake task, try it yourself please

[2016-12-07 13:11] kaspth commented on #27295
@andneuma you're looking at the guides for Rails 5, where `rails secret` works just fine.

[2016-12-07 13:12] andneuma commented on #27295
yeah, came to my mind just a minute ago, still being on 4.2+

[2016-12-07 14:38] aried3r opened #27297 "Controller name inflection failing with v5.0.1.rc1"
### Steps to reproduce

I was sadly unable to create a minimal, complete, and verifiable example from our codebase, but basically at work we have a `class ProjectsController < ApplicationController` and from what I can tell, almost all tests that touch it fail using v5.0.1.rc1.

I'll try to find a short executable example. Meanwhile I was able to pinpoint the commit using `git bisect`.
[code]

But

[2016-12-07 14:57] matthewd commented on #27297
It seems more likely to be related to this `controller_ids=` call... perhaps implying you have a `has_many :controllers` on your `Project` model?

Hopefully that's enough of a clue to help isolate it. If not, can you just show that association's definition?

[2016-12-07 15:01] aried3r commented on #27297
Hah! Oh my, that's indeed the case. I completely forgot about that. It's an older code, Sir, but it checks out.

Thanks! But I'm not sure how to proceed here, is `controller` reserved somehow now?

[code]

[2016-12-07 15:14] matthewd commented on #27297
I think this is a bug in how ba66ed094a5007e0746976781729d5d9e71b8cc9 interacts with `has_many :through` + explicit `class_name` and/or `source`... I imagine it would have the same problem with any other, less suspiciously-similar-to-other-parts-of-Rails, name too.

[2016-12-07 18:24] benlovell commented on #27263
Turns out this can be closed by #24963.

[2016-12-07 18:24] #27263 closed

[2016-12-07 21:41] tobymurray-nanometrics opened #27298 "EOFError instead of SMTP error"
### Steps to reproduce

We are getting `EOFError` out of ActionMailer with no stack trace or useful error message. It appears to be bubbling out of `deliver_now`. The code below requires a real account, so I've excluded the details here -you'll need to provide them to get the script to work. I believe the code below reproduces the symptom, but not necessarily the cause.

[code]

### Expected behav

[2016-12-07 21:45] ioquatix commented on #26947
@Paxa yeah this is what I did but it is a pain.. I'm probably going to put this in a gem, e.g. "activerecord-rack"

[2016-12-07 21:52] rafaelfranca commented on #27298
Can you please provide a sample application that reproduces the error?

[2016-12-07 22:09] tobymurray-nanometrics commented on #27298
[code]

yields

[code]

[2016-12-07 22:48] ioquatix opened #27299 "When I run ENV=development rake db:create I don't expect it to try and create the test db too"
### Steps to reproduce

According to the following code: https://github.com/rails/rails/blob/3f279977ead48ace1acf53567fd258fe140e3b6f/activerecord/lib/active_record/tasks/database_tasks.rb#L286-L288

When running something like this:

[code]

It also tries to create test.

I think this is violating the principle of least surprise. At a cursory glance, this also applies to `drop_current` which migh

[2016-12-07 22:50] ioquatix commented on #27299
Here is some example output:

[code]

An example of where this is a bit odd, is when test is an sqlite3 in-memory database. Therefore, get this output every time.

[2016-12-08 03:06] ioquatix commented on #27299
So, here is the odd behyavior from db:drop

[code]

I don't think that's good behaviour.

[2016-12-08 07:13] tobymurray-nanometrics commented on #27298
To be clear, @rafaelfranca, my understanding is both the original script I provided and the second one are the same issue. The second example is closer to how we first encountered it - a very mysterious looking error out of an `ActionMailer` subclass. The first example is our attempt at a minimal reproduction. I'm not aware of an executable script that can be posted without passing in the username

[2016-12-08 12:36] 1c7 opened #27301 ""rescure_from" not working?"
## I am reading <Agile Web Development with Rails 5>
### Chapter:  Iteration E2: Handling Errors

### ENV:
* Ruby 2.3.1
* Rails 5
* macOS （MacBook Pro 2014 mid)
![image](https://cloud.githubusercontent.com/assets/1804755/21010222/e3d89776-bd85-11e6-95ff-c107a9f16d7f.png)

![image](https://cloud.githubusercontent.com/assets/1804755/21010136/6b914e66-bd85-11e6-94f4-9fbc09319e9a.png)

## The code sho

[2016-12-08 13:21] utilum commented on #27301
Welcome to 5 :)

Try the Ruby on Rails talk mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

(You may want to see if spring is running, and stop it if it does).

[2016-12-08 14:08] 1c7 commented on #27301
@utilum Thank you very much

[2016-12-08 14:25] #27301 closed

[2016-12-08 14:57] davidpatters0n commented on #27301
@ic7 - you had a typo: `logger.eror "Attempt to access invalid card #{params[:id]}"`. `.eror` -> `.error`

[2016-12-08 15:35] matthewd commented on #27298
If you can reproduce the problem directly with `net/smtp`, then it seems to follow that it's a bug in that library... no?

[2016-12-08 16:20] radiospiel commented on #26955
Any comments on my PR suggestion?

[2016-12-08 16:29] jeremy commented on #27298
Looks like Google is dropping the connection unceremoniously. The SMTP client sends a QUIT and waits for a response which will never come.

EOFError is the expected exception for IO reads that expect a result but hit the end of the stream instead, and `Net::SMTP#start` documents that it may raise IOError (EOFError superclass).

Whether bubbling up the underlying net/protocol exceptions useful for

[2016-12-08 16:34] fxn commented on #26955
The ones present in the thread at the moment.

[2016-12-08 16:44] matthewd commented on #26955
@radiospiel that looks good to me. Submit it as an actual PR?

[2016-12-08 17:00] tobymurray-nanometrics commented on #27298
Agreed-ish. Whether `net/smtp` is erroneously letting the `EOF` escape is certainly something.

This is the impetus for the ticket - it took a non-trivial amount of time to find out where the error was coming from (recall there's no stack trace attached), and so it came across as a deficiency in Rails from my perspective.

I can move this to Ruby or duplicate there as appropriate.

[2016-12-08 18:33] matthewd commented on #27298
Even though Google is violating the RFC (["The receiver MUST NOT intentionally close the transmission channel until it receives and replies to a QUIT command (even if there was an error)."](https://tools.ietf.org/html/rfc5321#section-4.1.1.10)) by dropping the connection as soon as they send the `550`, IMO `net/smtp` should probably ignore the protocol violation in favour of passing along the legi

[2016-12-08 18:37] sgrif commented on #24893
So passing binds here is going to be relying on internal APIs no matter what, as their representation isn't considered public API. In Rails 5, you'll need to pass `prepare: true` to `exec_query`, and your bind parameters will need to be objects which respond to `value_for_database`. Beyond that, there doesn't seem to be any bug here.

[2016-12-08 18:37] #24893 closed

[2016-12-08 18:41] #26417 closed

[2016-12-08 18:42] toshimaru opened #27302 "Variable `block` can't be used in view"
### Steps to reproduce

Since PR #26672 has been merged, variable `block` in partial view doesn't work, which previously worked.

In erb file:

[code]

`app/views/blocks/_block.html.erb`

[code]

This raises following error:

[code]

### Expected behavior

`block` variable can be used in view. (can be used In Rails v5.0.0)

### Actual behavior

`block` variable raises `ActionView::Template::Error`

[2016-12-08 18:59] sgrif commented on #12933
This appears to have been fixed by #17678. If this issue still occurs in Rails 5, please open a new issue with a reproduction script.

[2016-12-08 18:59] #12933 closed

[2016-12-08 22:12] sikachu commented on #25095
@burke Thank you for a good writeup. I think that made it clear on the implementation. Are you or @rafaelfranca actually going to implement the patch to Rails, or should I start working on it?

I do have some feedback from your suggestions though:

1. For some environment (read: Heroku), the only way to feed the master secret key is to use environment variable. That's not as secure, for sure, and

[2016-12-08 22:53] bughit opened #27306 "erubis has a reentrancy problem, not sure if it impacts rails"
kwatch/erubis#9

I ran into it using erubis directly in a rails app (not via rails templating)

[code]

[2016-12-08 22:58] rafaelfranca commented on #27306
Thank you for let us know but this is a erubis issue.

[2016-12-08 22:58] #27306 closed

[2016-12-08 23:13] matthewd commented on #27297
Fixed by 847e9dd5c12b34856f5c74d52bc6c86b1735ffe5; backported as d5f07586a2fc7b97d6e35de34d1c30e471ff61a4

[2016-12-08 23:13] #27297 closed

[2016-12-08 23:20] #27302 closed

[2016-12-08 23:23] ioquatix commented on #26947
I've made a gem for this:

https://github.com/ioquatix/activerecord-rack

If you are interested in this you might also be interested in

https://github.com/ioquatix/activerecord-migrations

too.

[2016-12-08 23:43] ioquatix commented on #27299
In the same vein, I'd like to point out the following inconsistencies:

[code]

I'd be happy to take a look at these issues, but I'd need to know if you guys consider these to be problems or not.

[2016-12-09 00:35] matthewd commented on #26947
It's in [the rack guide](http://guides.rubyonrails.org/rails_on_rack.html)... though it does look like that guide needs to be updated: as you noted, it's still claiming `ActiveRecord::ConnectionAdapters::ConnectionManagement` manages AR connections, when, as noted above, that is actually now handled by `ActionDispatch::Executor`.

[2016-12-09 01:21] ioquatix commented on #27299
What's even more.. inconsistent.. is the fact that once you actually connect, all the keys are symbols:

[code]

[2016-12-09 03:25] 1c7 commented on #27301
@davidpatters0n
Thank you!
It work now!

![image](https://cloud.githubusercontent.com/assets/1804755/21036612/1814a558-be02-11e6-8713-207ee54cb0e0.png)

[2016-12-09 03:34] tobymurray-nanometrics commented on #27298
I opened a similar Ruby ticket to deal with the `net/smtp` letting the `EOF` out: https://bugs.ruby-lang.org/issues/13018

If that's addressed on their end, I imagine the ActionMailer code would report it properly - if not, catching it and rethrowing the error with a stack trace would be a nice improvement in my view.

[2016-12-09 07:01] pamio opened #27310 "Rails 5 scaffold halts when server is not running"
Using rails 5 and ruby 2.3

1. `rails new app`
2. `cd app`
3.  Don't start the server yet
4. `rails g scaffold Album name:string`

That's it. It halts and doesn't run even after few minutes.

### Work around

Remove or comment these gems in the Gemfile

    #gem 'spring'
    #gem 'spring-watcher-listen', '~> 2.0.0'

And then `bundle install`

and it starts working

### Expected behavior
It should

[2016-12-09 10:19] gowthamgts commented on #27310
This is not reproducible for me initially. I'm running `ruby 2.3.3` and `rails 5.0.0.1`.

I started the server and if I run another scaffold it got stuck after these messages:

[code]

[2016-12-09 10:51] hiyashikyuri commented on #27253
This helps me a lot!
Thanks!

[2016-12-09 14:42] Awatatah commented on #27253
@hiyashikyuri be sure to remove `config.api_only = true`

[2016-12-09 16:02] terryjray commented on #26609
similar issue:

rails console --sandbox

just hangs indefinitely until I kill it. rails s works fine, etc...

rails 5.0.0.1
ruby 2.3.2

[2016-12-09 18:23] bgentry opened #27313 "ActiveRecord PostgreSQL Range types transform differently on find_by and find_or_create_by"
### Steps to reproduce

Schema:

[code]

Try querying for an existing Zipcode using `find_by`:

[code]

Now try the same thing with `find_or_create_by`:

[code]

### Expected behavior

Both `find_by` and `find_or_create_by` should transform the Ruby Range into a Postgres range in the same way.

### Actual behavior

If we compare the generated SQL, we can see that the zip value is transformed diffe

[2016-12-09 18:46] nfedyashev commented on #27299
Looks like a violation of the least surprise principle to me as well. Experienced that issue many times

[2016-12-09 19:56] kamipo commented on #27313
Fixed by #26074.

[2016-12-09 20:01] bgentry commented on #27313
@kamipo you're right, switched to `master` and it appears to be fixed already. Thanks!

[2016-12-09 20:01] #27313 closed

[2016-12-09 21:45] sgrif commented on #26609
This is not a rails issue. Any information in the context of rails has already been stated on this thread.

[2016-12-09 23:24] brchristian opened #27315 "read_multi via cached: true doesn’t work with abbreviated syntax"
On a Rails 5.0.0.1 project, I noticed by looking at my logs that when I use

[code]

My articles are nicely fetched all at once. However, when I instead use the syntactic sugar to write

[code]

My articles are _not_ fetched all at once. The only clue that this was the case was looking at the logs and noticing that I wasn’t seeing the nice

[code]

in the logs.

It seems to me that if `render: @ar

[2016-12-10 00:03] MSP-Greg opened #27317 "Rails documentation and :nodoc:"
I've been working on a YARD plugin, and decided to parse into several of the Rails DSL's to generate better Rails docs.  A good example would be [ActiveRecord::Base](https://msp-greg.github.io/rails_gem/ActiveRecord/Base.html).

I've got a question on expectations regarding the RDoc `:nodoc:` directive.  In the RDoc docs, `:nodoc:` will hide all methods/constants/etc of a class/module marked as su

[2016-12-10 00:06] rafaelfranca commented on #27317
Usually not. They should be also no visible. If you could generate a list of those cases it would be really useful. Feel free to send PRs, although maybe it is better to keep all changes in the same pr so we can discuss easily what should and what should not be removed from the documentation. Thanks.

[2016-12-10 00:06] #27317 closed

[2016-12-10 01:06] MSP-Greg commented on #27317
See [Rails :nodoc: info](https://raw.githubusercontent.com/MSP-Greg/MSP-Greg.github.io/master/rails_master/rails_nodoc_info_2016-11-02.txt)

The above file shows non `:nodoc:` objects with `:nodoc:` namespace parents, and also shows non `:nodoc:` classes (and exceptions) with `:nodoc:` superclasses.  Object on the left, file on the right.

I know we may disagree about this, but you might have a lo

[2016-12-10 03:43] ioquatix commented on #27299
Honestly, the db:* tasks seem like a bit of a mess. For all the above reasons.. and the way they tie into Rails by default, which breaks unless you override a magical set of variables on "module DatabaseTasks" which in the documentation is described as a class.

[2016-12-10 11:21] #20140 closed

[2016-12-10 14:35] ashokap commented on #11631
Facing the exact same issue but not a clue whats triggering this exception.

Current env: Rails 4.2 Ruby 2.1.4 DB: mongodb 4
Destroy object A, it succeeds. Now try to access it again immediately, i am getting this exception consistently.

[code]
After restarting the server, i get the proper 404 error.
I have opened an [issue in Stack overflow](http://stackoverflow.com/questions/40610151/stack-leve

[2016-12-10 19:57] MSP-Greg opened #27325 "More :nodoc: questions / issues"
Below is a (final?) summary of my questions/cases for :nodoc: use in Rails.  My interest is that I would prefer YardT2 doc's 'user version' correctly hides these objects.

`:nodoc:` Cases

1. Non `:nodoc:` object with `:nodoc:` namespace parent
    1.1 Non `:nodoc:` `ClassMethods` module with `:nodoc:` namespace parent (does this question have a 'global' answer, vs case by case?)
2. Non `:nodoc:`

[2016-12-10 20:20] brchristian opened #27326 "Caching woes since #20884"
Since updating our main production app to Rails 5.0.0.1, we’ve noticed a bunch of substantial performance regressions, and I’ve managed to trace them back to #20884.

Our main app is a publishing platform that has a `public` scope that looks something like

[code]

We have a partial on the home page that looks something like this:

**app/controllers/article.rb**
[code]

**app/articles/_recent.html

[2016-12-10 21:17] rafaelfranca commented on #27325
Cc @fxn

[2016-12-10 21:42] matthewd commented on #27325
Can you link to some code examples to clarify your questions? (and/or add some actual questions?)

I've tried following the links to your generated output, but it seems too crowded for me to work out what it's trying to represent.

[2016-12-10 22:48] MSP-Greg commented on #27325
@matthewd

Matthew,

Sorry, some of this is a continuation of a previous issue.

The central question is what is the intent of the Rails contributors as to how the RDoc `:nodoc:` directive affects visiblility in documentation.  I've shown three cases that I consider relevant.

Once that is decided, should corrections be made if some of the RDoc directives in Rails are incorrect?

#### Case 1

I've

[2016-12-10 23:16] sgrif commented on #27326
If you want a query that changes every day, you should use `Time.current.at_beginning_of_day` or `Time.current.at_end_of_day`. I do not think that this is a bug.

[2016-12-10 23:16] #27326 closed

[2016-12-10 23:48] brchristian commented on #27326
@sgrif I’m looking into getting `Time.current` out of our `public` scope declaration, which I think is a good suggestion. However this turns out to be way less obvious in practice than it sounds (what if you publish something midday, for instance?). Not obvious to me what the solution is here. If you know of some best practice off the top of your head that I’m not aware of, I’m all ears.

At any r

[2016-12-10 23:54] sgrif commented on #27326
1) That's a valid concern. I'm not sure if this just requires documentation, or investigation for a fix.
2) PRs to fix any concrete issues, with an explanation of why it's a problem and how that PR improves it are much appreciated.
3) It's usually the case that a cache friendly solution is more expensive on a cold cache. For example, N+1 query bugs are usually more cache friendly.
4) The size of t

[2016-12-11 00:06] brchristian commented on #27326
@sgrif 👍 I agree with you on 3 - fair point. Not sure yet if 4 is a bug or not; may investigate after we tweak our queries to try to get `Time.current` out of the picture. Will look into 1 & 2 and see if I can come up with something concrete. Cheers!

[2016-12-11 00:07] sgrif commented on #27326
Thanks for being friendly on the issue tracker! <3

On Sat, Dec 10, 2016, 7:07 PM brchristian <notifications@github.com> wrote:

[2016-12-11 00:15] matthewd commented on #27326
The fact we've traded caching of the view render for caching of the query result (and view render) seems... complex.

For a lot of use cases, that's a win because it saves constructing a bunch of AR instances. But for others, as shown here, we've blown a cache that was previously working well -- it always loaded the records, but it re-rendered the view precisely once each time that set of records

[2016-12-11 00:21] matthewd commented on #27325
This one probably depends on the individual situation. Sometimes it will be the case that B is missing a nodoc... but that is also an IMO reasonable pattern for a documented B inside a namespace A:

If A is a class defined in `a.rb`, and A::B is defined in `a/b.rb`, then it can be distracting for `A` to claim it is partly defined in `a/b.rb` (and contrariwise, for the file to claim to be responsib

[2016-12-11 00:36] matthewd commented on #27325
Backing off the font size and closing the floating-over-half-the-content TOC makes it feel slightly less claustrophobic, but it still feels somehow unpleasant. I'm not a designer, so I can only really guess, but I think it needs a *lot* more white space.

[2016-12-11 00:40] sgrif commented on #27326
I don't know that changing the behavior based on the loaded status is
useful. `.to_a` trivially returns the old behavior

On Sat, Dec 10, 2016, 7:15 PM Matthew Draper <notifications@github.com>
wrote:

[2016-12-11 00:48] brchristian commented on #27326
I keep coming back to the performance of the digest query itself. It’s consistently about 8x slower in MySQL than fetching the actual objects. Any idea what’s up here?

[code]

[code]

[code]

I even created a custom index just for the cache_key but it’s still much slower than the actual AR fetch.

**schema.rb**
[code]

Here is the query explainer. Any ideas?

[code]

[2016-12-11 01:00] MSP-Greg commented on #27325
Wasn't sure whether to float the TOC when first use happens or not.  I'm either on a 1920 monitor, or an iPad.  I almost never float either pane, but YARD has a floating pane...  By chance, what's your monitor resolution is?

More on your previous reply later.  And, thanks.

[2016-12-11 01:14] brchristian commented on #27326
It seems to me like this gets back to the `LIMIT` not being respected. I like the ideas in https://github.com/rails/rails/pull/21503 as a way to address this -- is this something I can pitch in to get merged?

[2016-12-11 01:31] matthewd commented on #27325
I'm on a 13" MBP, so it presents as 1280x800.

[2016-12-11 03:48] MSP-Greg commented on #27325
Give it a try now (please clear cache & reset font size).  Added some css media queries.  You should be at 13px font size now.  Let me know if you think 14px would be better.  Some of the SVG images may be blurry or incorrectly sized, I fixed two.

Interested in moving to a google group or the docs site repo?

Kind of a doc question, and I've thought the same, but left it as is since RDoc and YARD

[2016-12-11 18:09] MSP-Greg commented on #27325
As I've stated, I have created a documentation system, and the 'contributor version' for Rails is located at [Rails master](https://msp-greg.github.io/rails_master/index.html).

It includes information that does not appear in other doc systems.  I've cited the example of [ActiveRecord::Base](https://msp-greg.github.io/rails_master/ActiveRecord/Base.html), which, when inspected in Ruby, has a very

[2016-12-11 18:56] rezarose commented on #24084
Yes. It's a serious issue for Windows user even in Rails 5. Everything swift before this Issue occured. Stack OverFlow overflowed for this issue questions. We need some fix builtin for Windows user.

[2016-12-11 19:24] tdutreui commented on #24084
Hi
more generally speaking there were a lot of issues related to windows
directly that made me switch to linux.
especially node.js <->windows issues

So I just switched OS and that's it
Tom.

Le 11 déc. 2016 18:56, "rezarose" <notifications@github.com> a écrit :

[2016-12-11 20:47] rezarose commented on #24084
85% people of the world using Windows till now. I will switch to Linux any time upcoming. But, It's not good to avoid Windows users concerns. I specially ask for this very first issue to Rails team. Just builtin something to avoid dependency on Node or Coffee Script Source for Windows User. Thanks.

[2016-12-11 21:09] DouglasAllen opened #27332 "Getting started guides has several errors"
Many times in the guide it's showing to use bin/rails for rake tasks.
A couple are
http://guides.rubyonrails.org/getting_started.html

# 5.2 section
In this example, the articles_path helper is passed to the :url option. To see what Rails will do with this, we look back at the output of bin/rails routes:

and

# 5.5 Running a Migration

At this point, you can use a bin/rails command to run the mig

[2016-12-11 21:42] utilum commented on #27332
The guide is correct for Rails version 5. Which one are you using? There are links to older versions at the top of the guides' index.

[2016-12-11 22:11] maclover7 commented on #25183
Opened PR to try and solve this --> #27333

[2016-12-11 22:44] maclover7 commented on #27332
Agree with @utilum; beginning in Rails 5, Rake tasks are proxied through the `rails` CLI command. Closing since this is expected behavior.

[2016-12-11 22:44] #27332 closed

[2016-12-11 22:51] DouglasAllen commented on #27332
K. My bad I loaded the #<Gem::Version "4.2.7.1">
I had no idea of these changes. Why did they do this? All this time it has been Rake's job.

[2016-12-12 02:24] DouglasAllen opened #27336 "actionview-5.1.0.alpha.gem"
### Steps to reproduce
 I cloned the master.
Ran bundle
Ran some rake tasks for building and installing gems.

Both aborted at actionview.

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
It got the first three activesupport, activemodel, and activerecord installed just fine.

[2016-12-12 03:22] guilleiguaran commented on #27336
is this problem reproducible with actioncable as well?

[2016-12-12 04:33] MSP-Greg commented on #27336
@DouglasAllen

On behalf of the Rails team (of which I'm not a member), thank you for reporting your installation issue.

Sometimes installation code changes are not tested on 'fresh' systems that have been cleaned of previous builds and dependencies.

Assume you installed the blade gem and continued?

[2016-12-12 05:16] MSP-Greg commented on #27332
@DouglasAllen

I believe bin/rails is used **after** one has created a Rails app, and it is used from the main app folder/directory.

I believe most (all?) places it is mentioned involve operations that operate on (or require) an app.  For instance, routes have no meaning in Rails itself, but they do have meaning in a Rails application.

If, after re-reading the guides, you still feel this is not

[2016-12-12 08:44] clupprich opened #27337 "Error on reload when registering ActiveRecord::Types in initializer"
### Steps to reproduce

1. Create a custom `ActiveRecord::Type`
2. Register that type in an initializer (as advised in the docs) via `ActiveRecord::Type.register`
3. Create a model where that custom type is used
4. Start a `rails console`
5. `reload!` the environment
6. `ArgumentError: A copy of CustomType has been removed from the module tree but is still active!`

I've created a sample applicati

[2016-12-12 08:55] ioquatix commented on #27299
What kind of feedback would you like?

[2016-12-12 09:14] ioquatix commented on #27299
I've been hacking up a solution. Something like this:

[code]

[2016-12-12 09:29] fxn commented on #27337
You cannot autoload in an initializer, please have a look at http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-initializers.

[2016-12-12 09:36] gsamokovarov commented on #27337
What you can do is call `attribute :price, Price::Type.new` and that way you don't need to register the types and worry about autoloading. If you still fancy the symbols, you can do something in the lines below without going through the registry:

[code]

That will allow you to write `attribute :price, :price`, but it won't hit the registry, if it can guess the attribute type in the application.

[2016-12-12 09:57] ioquatix commented on #27299
So, I've been working on a gem which fixes all these issues (and more). https://github.com/ioquatix/activerecord-migrations

I'm not really sure if this is a solution, it's more of a monkey patch. But it solves a lot of pain points for us w.r.t. deployment with active record, which to be honest leaves a lot to be desired.

[2016-12-12 10:12] clupprich commented on #27337
Thanks for the link, @fxn! I now understand the behaviour.
@gsamokovarov Thanks for the solution how to fix this - I'm totally okay with the `Price::Type.new`.

Is that something worth hinting to in the docs? If yes, I'm happy to create a PR!

[2016-12-12 11:21] ioquatix commented on #27299
Just to clarify another inconsistency:

[code]

[2016-12-12 13:11] Kache commented on #20077
I'm finding that this bug can occur even without explicit use of Arel, and just with nested AR relations. My current workaround in an old version of AR is to avoid using prepared statements.

Example, forked from @cxz 's original testcase: https://gist.github.com/Kache/524a475cffc2191c97a6580949892c03

(This bug appears fixed for me when I use 4.2.1, though, which doesn't match the original report

[2016-12-12 13:59] rezarose commented on #24084
85% people of the world using Windows till now. I will switch to Linux any time upcoming. But, It's not good to avoid Windows users concerns. I specially ask for this very first issue to Rails team. Just builtin something to avoid dependency on Node or Coffee Script Source for Windows User. Thanks.

[2016-12-12 14:09] guilleiguaran commented on #24084
Node works excellent in comparison with the standard JScript shipped with Windows, why do you want to avoid dependency on Node?

[2016-12-12 15:21] coorasse opened #27338 "before_update called for children during parent creation with no reason"
### Steps to reproduce

I attach two files which are identical except one uses Rails 5.0 and one Rails 4.2.

The Rails 5.0 version fails since the before_update callback is called for the `User` while in Rails 4.2 is not.

Is not clear to me why this is happening and I could solve it setting `has_many :users, through: :followers, autosave: false` in the `Article` model.

I think this is not docume

[2016-12-12 16:04] DouglasAllen commented on #27336
I don't know because it never got that far. And I cannot install blade with the devkit. There are too many missing libraries.

[2016-12-12 16:23] MSP-Greg commented on #27336
@DouglasAllen

I've got a little different Rails install, but, I'm also on Windows, and I didn't have blade installed.

Tried, stopped due to an issue with curses, tried curses by itself, still wouldn't compile curses.

Hence, the issue seems to be curses on Windows...

When I have a chance to get back to it, and if I can find the issue, I'll let you know.  Sorry...

I'm using ruby-2.3.2p182.

[2016-12-12 16:44] fellipecastro commented on #20898
Actually, this issue remains when you pass the parameter batch_size.

Eg: Person.find_each.with_index(batch_size: 1000) do |person, i|

[2016-12-12 18:23] alexcameron89 commented on #27338
Note: This change was introduced with d849f42b4ecf687ed5350f5a2402fb795aa33aac to solve https://github.com/rails/rails/issues/19782.

[2016-12-12 20:45] kaspth commented on #27315
On the todo list but keep getting distracted with other things. Do look into it!

[2016-12-12 20:45] #27315 closed

[2016-12-12 21:42] brchristian opened #27340 "ActiveRecord reselect() - would a PR be welcome?"
Inspired by `rewhere` and `reorder`, I’ve been looking into a similar implementation for `reselect`. I find it a helpful syntax to have, especially after getting used to the feel of the other two.

Is this something the Rails team would be interested in if I prepared a PR?

[2016-12-12 21:51] matthewd commented on #27340
Can you show some example uses?

I'm generally dubious about API methods that strip aspects back out of the relation -- they seem to over-expose the deferred evaluation, for example.

[2016-12-12 21:54] matthewd commented on #27336
Sorry, but it doesn't sound like we can easily support building the gems on Windows, and it doesn't sound like something we're likely to want to do non-easily.

[2016-12-12 21:54] #27336 closed

[2016-12-12 22:02] brchristian commented on #27340
This came up when I was looking at collection cache key implementations. You might, for instance, have some AR relation that you want to create a cache key for. Let’s just say hypothetically you’ve got a fragment cache for `Post.all.select(:title, :body)`. The cache key is based only on `:updated_at`. You can always take the original query and just append `.select(:updated_at)`, but then you’re pu

[2016-12-12 22:05] brchristian commented on #27340
(Obviously, one can always `query.unscope(:select).select(:updated_at)`, but just given the existence of rewhere and reorder, I figure it might be intuitive to offer reselect as well.)

[2016-12-12 22:09] maclover7 commented on #27338
cc @sgrif

[2016-12-13 02:35] brunomacabeusbr commented on #27162
Well... I'm writing a code in Swift to use Rails' websocket more easily. And, I can't understand why values of key "identifier" and "data" to pass as string, instead of dictionary!

I expected:
[code]

But, I need use:
[code]

It took me a lot of time to find it. Why we need use a string?

[2016-12-13 03:51] brchristian commented on #27315
@kaspth As far as I can tell the crux of it is in the [rendering helper](https://github.com/rails/rails/blob/master/actionview/lib/action_view/helpers/rendering_helper.rb#L24-L37):

[code]

To my mind there are two ways of addressing this if we wanted to get the `render @projects, cached: true` syntax working.

1. We could explicitly check to see if `cached` is in the `locals` and shift it over to

[2016-12-13 07:13] marktermaat opened #27342 "after_commit uses incorrect final object when changing same object twice while reloading it from the DB"
### Steps to reproduce

Say you have a simple model User with a name:string.
Additionally, say this model looks like the following:

[code]

Executing the following code in a console:
[code]
Will print the following user:
`Current user: #<User id: 1, name: "new name 2">`

However, executing the following code:

[code]

results in the following user:
`Current user: #<User id: 1, username: "admin",

[2016-12-13 13:15] utilum commented on #27310
Can't reproduce with 5.0.1.rc2.

[2016-12-13 14:18] #27325 closed

[2016-12-13 14:54] aried3r opened #27343 "Deprecation message for ActiveRecord::Base.raise_in_transactional_callbacks does not include the correct location in 5.0.1.rc2"
### Steps to reproduce

I ran our full test run locally and while `spring` was warming up it printed a few deprecation warnings popped up. All of them showed the correct location except for `raise_in_transactional_callbacks`.

`raise_in_transactional_callbacks` indeed exists in my application, it was added when migrating from Rails 4 to 5 and after reading [this in the upgrade guide](http://edgegu

[2016-12-13 14:57] aried3r commented on #27343
Should this be a valid issue, should I also file separate issues for warnings within specs?

[code]
[code]

These come from
https://github.com/rails/rails/blob/v5.0.1.rc2/actionpack/lib/action_controller/test_case.rb#L484
https://github.com/rails/rails/blob/v5.0.1.rc2/actionpack/lib/action_controller/test_case.rb#L648

[2016-12-13 15:05] aried3r opened #27344 "`Content-Type` regression in 5.0.1.rc2?"
### Steps to reproduce

I'm not entirely sure if this is a bug or a fix in 5.0.1.rc2, but since I couldn't find a deprecation warning or similar I thought I'd report anyway, since this happens in an update in a patch version.

I *think* it's similar or the same as in https://github.com/rails/rails/issues/23573. I haven't yet tried with `git bisect` but so far my best bet would be that it has been

[2016-12-13 15:06] aried3r commented on #27344
Forgot to /cc @matthewd

[2016-12-13 17:39] kamaljoshi commented on #18659
@sgrif This error came because of this change: https://github.com/rails/rails/commit/84cf156e2428551069d6fba5547fc41bc42182b2#diff-dfe09551f2188457e7e1891d86047c57

Before this change, the missing method was being defined and appropriately called.

Can we reopen this?

[2016-12-13 18:56] lhammond commented on #25347
happening for me on 5.0.0.1

[2016-12-13 19:10] rafaelfranca commented on #18659
Please open an new issue with all information you have and link to this issue. We prefer to not reopen old issues.

[2016-12-13 19:41] kamaljoshi commented on #18659
@rafaelfranca Sure, I will create a new issue.

[2016-12-13 19:50] utilum opened #27347 "Railties test broken"
### Steps to reproduce

#### First error

`ruby -w -Itest test/railties/mounted_engine_test.rb`

### Expected behavior
Tests run, passing and / or failing.

### Actual behavior
[code]
#### Second error

`ruby -w -Itest test/railties/railtie_test.rb`

### Expected behavior
Tests run, passing and / or failing.

### Actual behavior
[code]

### System configuration

**Rails version**: master

**Ruby v

[2016-12-13 19:55] kamaljoshi opened #27348 "ActiveRecord: Attribute methods are not getting defined on Marshal.load"
As outlined in the issue https://github.com/rails/rails/issues/18659, If you create your object instance using Marshal.load; `#allocate`, `#initialize` or `#init_with` are not called and that results in model not getting defined with attribute methods. So, things like overriding attribute method breaks. This used to work prior to AR 4.2 and broke with this change: https://github.com/rails/rails/co

[2016-12-13 23:46] sebbean commented on #24372
@VladRassokhin fixed in which version? having issue in rails 4.2.7

[2016-12-13 23:49] sebbean commented on #24372
this is stopping my deploy to heroku (just upgraded to 4.2.7) having no luck getting rake -P to not exit successfully

[2016-12-14 00:10] govorov commented on #27205
Thanks! Reference works with explicit table_names. But there is new trouble with relation name:
[code]

Looks like there is a method in ActiveRecord for this case, but I don't know it.

[2016-12-14 00:13] maclover7 commented on #27347
Hmm, both tests seem to be passing for me on master. I'm running `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin14]` for my Ruby version.

[2016-12-14 00:15] maclover7 commented on #27343
Hmm, did the "correct" version appear in a previous Rails version (ex: worked in v5.0.1.rc1, but is broken now in v5.0.1.rc2)? Or is this just a general issue?

[2016-12-14 01:21] sebbean commented on #24372
Just blew away a day on it. Ended up just modifying the heroku buildpack to ignore the error status code for `bundle exec rake -P --trace` https://github.com/heroku/heroku-buildpack-ruby/compare/master...sebbean:sebbean-patch-1

[2016-12-14 01:24] sebbean commented on #24372
My Gemfile: https://gist.github.com/sebbean/b96e964622b7b268bab23259e279d8cd
Gemfile.lock: https://gist.github.com/sebbean/3fcbae6d599b6f1d70549b924afce9d0
for reference.

[2016-12-14 05:56] davidpaulhunt commented on #27310
I believe I'm having a similar issue while using a template.

Rails 5.0.1.rc2
Ruby 2.3.3

### template.rb
[code]

1. `rails new tmplt1 -m ~/path/to/template.rb`

[code]

You see that Spring is still running, even without starting the server, confirmed by:
[code]

Now, I can immediately run `bin/rails g scaffold Person name:string` without incident (probably because I didn't change any code before

[2016-12-14 06:10] matrix9180 commented on #27310
I have seen this if you restart development of an application - e.g.:
1. rails new foo
2. *any rails/rake command, anything that triggers spring*
3. rm -rf foo
4. rails new foo
5. rails g scaffold foo bar bas

My guess is the spring process from the old (deleted) app is sticking
around and mucking things up.

On Wed, Dec 14, 2016 at 12:57 AM, David Hunt <notifications@github.com>
wrote:

--
Thanks

[2016-12-14 06:42] davidpaulhunt commented on #27310
@matrix9180

Right, that's what I was saying above.

The problem is, it's not really a consistent behavior compared to what I see out of other pre-loaders. Generally, pre-loading (say Babel) and hot-loading (webpack) are started purposefully by the developer rather than behind the scenes once a task is run.

This really is chicken and egg. Obviously, being more aware, I can ensure that I run `spri

[2016-12-14 07:05] matthewd commented on #27343
This is definitely a bug (well, set of bugs).. it's not a release-blocking regression, but if we have to re-roll the release for other reasons (e.g. #27344), I think it would be reasonable to include a fix for this: it's a bug in 363d558b9f75e936cbcc7127f370a545252a28af, which is new in 5.0.1 and claims to be fixing [the general case of] this issue.

[2016-12-14 07:36] kaspth commented on #24372
@sebbean this issue was only in the Rails 5 beta. The thing you're seeing in 4.2.7 is not caused by this. Though I hope you figure your issue out ❤️

[2016-12-14 07:47] sebbean commented on #24372
@kaspth seems like this thread confirms it is happening in 4.2.x
from this comment on:
https://github.com/rails/rails/issues/24372#issuecomment-204038417

You're saying it is an issue just not *this* specific issue?

[2016-12-14 07:50] sebbean commented on #24372
@kaspth actually to clarify I'm getting the problem when calling `rake -P` but it occurs with any many arguments I send to `rake`

[2016-12-14 08:54] utilum commented on #27347
Hmm, I get the exact same errors with `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]`.

[2016-12-14 09:11] k0kubun opened #27352 "mounted_helper for the same engine can't be defined multiple times"
### Steps to reproduce

[code]

### Expected behavior
With following routes.rb

[code]

and following class (like `RSpec::Rails::FeatureExampleGroup`),

[code]

I expect `klass` to behave like:

[code]

### Actual behavior
[code]

Is this intentional?

### System configuration
**Rails version**: 5.0.0.1

**Ruby version**: 2.3.1

[2016-12-14 09:23] utilum commented on #27347
Both tests pass (with multiple warnings) after I add

[code]

to the Gemfile and run `bundle install`.

[2016-12-14 11:47] njt1982 commented on #17776
Is this only fixed in Rails 5? I'm on `4.2.5.2` and have this very problem...

[2016-12-14 12:10] Dariusch commented on #24107
As mentioned before `TIMEDIFF` with wice_grid was the Issue.

[2016-12-14 12:10] #24107 closed

[2016-12-14 13:30] eileencodes commented on #27347
Tests pass here. The warnings I get are

[code]

Sass can't be fixed because we don't own that gem and they won't accept the changes required to fix it. Sprockets can be fixed but I would double check that it's not already fixed and we just haven't updated the sprockets dependency. For the sqlite warnings that needs to be fixed in the sqlite library.

I'm going to close this because tests pass her

[2016-12-14 13:30] #27347 closed

[2016-12-14 14:22] pradeepagrawal opened #27357 "Gem Load Error is: Could not find a JavaScript runtime"
### Steps to reproduce
- Generate new rails app by using "rails new appname"
- run "bundle install"
- start server by "rails s"

You will see the error in the terminal

### Expected behavior
It should not give an error when running server

### Actual behavior
It gives an error saying "Gem Load Error is: Could not find a JavaScript runtime. See https://github.com/rails/execjs for a list of availabl

[2016-12-14 14:29] guilleiguaran commented on #27357
therubyracer doesn't work in Windows or JRuby so it can't be a default in those platforms, plus JSC is installed by default on OSX so OSX users don't need it and Linux users with Node.js installed don't need it neither. That's why we prefer to have therubyracer commented in the Gemfile.

[2016-12-14 14:37] pradeepagrawal commented on #27357
I use ubuntu and it gives me the same error every time. That's why I thought to tell you guys about this.

[2016-12-14 14:39] guilleiguaran commented on #27357
Yes, but we can't make it a default for every user (Windows, Linux, OSX, JRuby) because it doesn't work/isn't needed in every platform.

[2016-12-14 14:51] utilum commented on #27347
Thank you @eileencodes . Passes for me too, after installing node.

[2016-12-14 14:53] pradeepagrawal commented on #27357
But if you think as a developer's perspective, Around 70-80 % of developers uses OSX or ubuntu for development. And Let's take 30% of them is uses ubuntu then it is huge. So can't we provide a way for them that it automatically overcome the problem if it is ubuntu OS instead the developer has to manually uncomment it after facing the error.
Just a suggestion.

[2016-12-14 16:13] jeremywadsack commented on #17776
@njt1982 Based on https://github.com/rails/rails/pull/24954#issuecomment-233831517 I do not believe that this is ported back to 4.2.

[2016-12-14 16:50] andrewyoo commented on #23279
I found a solution for myself.  Here we go:

I was encountering ````ActiveRecord::NoEnvironmentInSchemaError```` and started inspecting my databases.

The key difference I found was my ar_internal_metadata had the column ````key```` set as integer on DBs having issues and DBs not having issues ````key```` was set to ````varchar```` and had a value of ````environment````

Also my schema which was l

[2016-12-14 16:58] matrix9180 commented on #27310
I'll try to look into the code around this & see if I can figure it out. Not promising a PR yet - not familiar with this part of the rails codebase at all.

[2016-12-14 17:15] jonhue opened #27359 "ActiveRecord 5: `method_missing': undefined method `helper' for MyMailer"
### Issue
There is an issue with activerecord 5.0.0.1 that shuts down my app on startup in production.
I deployed my app on Heroku and the following occurred ...

#### Rails Console:

`/app/vendor/bundle/ruby/2.2.0/gems/activerecord-5.0.0.1/lib/active_record/dynamic_matchers.rb:21:in `method_missing': undefined method `helper' for MyMailer (call 'MyMailer.connection' to establish a connection):Cla

[2016-12-14 18:27] thalesfp opened #27360 "Rails 5 belongs_to requirement error in nested attributes"
### Steps to reproduce

Using the following configuration:

[code]

### Expected behavior

When I created a new car using these parameters:

car[name]:Fusca
car[color]:Blue
car[category_attributes][:name]:Old

Then I got:

{"category.categorizable":["must exist"]}

But when I set belongs_to_required_by_default = false it worked.

I think that this issue is caused because the id of the Car is creat

[2016-12-14 18:41] greutter opened #27361 "Date.parse mishandling spanish months"
### Steps to reproduce
$ rails console:

2.3.0 :003 > Date.parse("01-Agosto-2016")
 => Thu, 01 Dec 2016
2.3.0 :004 > Date.parse("01-Abril-2016")
 => Thu, 01 Dec 2016

### Expected behavior
2.3.0 :003 > Date.parse("01-Agosto-2016")
 => Mon, 01 Aug 2016
2.3.0 :004 > Date.parse("01-Abril-2016")
 => Xxx, 01 Apr 2016

### Actual behavior
"Agosto" is parsed to December
"Abril" is parsed to December.

##

[2016-12-14 20:26] nateberkopec commented on #27361
Date.parse is a Ruby method, not provided by Rails. As far as I can tell ActiveSupport doesn't affect it in any way. You'll have to take it up with Ruby.

As an aside, it does seem like Date.parse *used* to work with Spanish, but now it doesn't. Not sure when that changed.

[2016-12-14 20:42] nateberkopec commented on #27359
This isn't a bug in Rails, so you'll get a faster response if you ask StackOverflow or the Rails Gitter. You'll probably want to share the content of your `my_mailer.rb` file.

[2016-12-14 20:47] nateberkopec commented on #27360
This looks like expected behavior. [For more information, look up `validates_presence_of`.](https://stackoverflow.com/questions/14553463/validate-presence-of-polymorphic-parent)

You'll get a faster/better response on StackOverflow or Gitter, since this is not a bug in Rails.

[2016-12-14 20:49] nateberkopec commented on #27357
See #22339.

[2016-12-14 20:59] maclover7 commented on #27361
👍 to @nateberkopec, `Date#parse` is a method provided by Ruby, not Rails. If you want to file an issue with the Ruby team, you can do so at https://bugs.ruby-lang.org/. Thank you for opening up this issue!

[2016-12-14 20:59] #27361 closed

[2016-12-14 20:59] maclover7 commented on #27359
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-12-14 21:07] #27357 closed

[2016-12-14 21:09] JCSHoosier commented on #27299
Just chiming in here... We have been troubleshooting this issue today as well. It seems to just disregard our RAILS_ENV and tries to create the test db as well as our development db. This causes issues in our case since we have completely different setups for development and test, so it errors and says it can't create the test db.

[2016-12-14 21:43] #27359 closed

[2016-12-14 21:55] ioquatix commented on #27299
@JCSHoosier take a look at https://github.com/ioquatix/activerecord-migrations it fixes those issues by monkey patch.

[2016-12-14 21:57] JCSHoosier commented on #27299
@ioquatix Yep, looking through it now! Thanks!

[2016-12-15 00:14] chrisarcand opened #27364 "Nullify callback persists even as child class overrides association"
### Steps to reproduce

[code]

### Expected behavior

I should be able to destroy the child as the association I've specified does not attempt to nullify houses.

### Actual behavior

[code]

### More notes

I've been digging in a bit trying to find the cause of this, but have started getting in over my head with callbacks. It appears on `child.destroy` that `_destroy_callbacks` from a `nullify`

[2016-12-15 00:27] maclover7 commented on #27348
cc @sgrif

[2016-12-15 00:43] maclover7 commented on #27364
Investigating. Interesting that if you comment out the `dependent: :nullify` for the `Person`'s `has_many`, then everything passes fine. Did you experience this same behavior on 4.2.x?

[2016-12-15 01:03] maclover7 commented on #27364
Hmm, I think this is due to the inheritance chain in the models. Since `_destroy_callbacks` is a class attribute (as well as `_reflections` and the like), it will be passed on to a class's children when inherited. By default, `Child` will receive all of `Person`'s callbacks, reflections, etc. by design. The trick here is that you are trying to redefine an existing callback with new options (same n

[2016-12-15 02:06] maclover7 commented on #27352
cc @pixeltrix

[2016-12-15 07:37] qinmingyuan commented on #27360
The same issue,  I consider `accepts_nested_attributes_for` should assign the object id to foriegn key.

[2016-12-15 08:05] StephaneRob commented on #27224
Any news on this ?

[2016-12-15 09:13] flyfy1 commented on #16791
Encountered this issue today.. On Rails5, using Solidus. Solidus framework make have use of `sum` calculation.. therefore potentially have some bugs of making non-distinct result.

[2016-12-15 12:37] thalesfp commented on #27360
But since in Rails 5 the behavior of belongs to is required by default the accepts_nested_attributes_for should assign the object id to foreign key, otherwise it will never work (I guess).

[2016-12-15 12:43] prathamesh-sonpatki commented on #27360
This is the same issue as https://github.com/rails/rails/issues/25198

[2016-12-15 12:50] thalesfp commented on #27360
@nateberkopec @prathamesh-sonpatki Thank you guys

[2016-12-15 12:50] #27360 closed

[2016-12-15 13:30] greutter commented on #27361
Great response time! Thanks. I'll take the issue to the correct place. Hope to make my first little contribution to open source.

[2016-12-15 14:32] aried3r commented on #27344
Sorry, accidentally hit the button on my phone.

[2016-12-15 16:40] sidot3291 opened #27370 "Chaining .where with .first_or_initialize only assigns association_id, not the full model"
### Steps to reproduce

[code]

### Expected behavior
Since a Category object was passed into the where, `p.category` should already be in memory, and should not trigger an additional query.

### Actual behavior
Calling `p.category` triggers an additional query.

### System configuration
**Rails version**:5.0.0.1

**Ruby version**:2.3.3

[2016-12-15 18:27] bplmp opened #27372 "CoffeeScript is not defined error"
### Steps to reproduce
1. `rails new myapp`
2. `cd myapp`
3. `rails generate controller Welcome index`
4. Add `root 'welcome#index'` to config/routes.rb
5. `rails server`

### Expected behavior
Renders index.html.erb.

### Actual behavior
    ...app/views/layouts/application.html.erb where line #7 raised:

    ReferenceError: CoffeeScript is not defined

    <%= csrf_meta_tags %>

    <%= styleshe

[2016-12-15 19:11] bplmp commented on #27372
Changing this gem worked for me, but I'm not on Windows (I followed these steps http://stackoverflow.com/questions/28760633/ruby-on-rails-errors-with-javascript-include-tag)...

    gem 'coffee-script-source', '1.8.0'

More, I have other Rails apps I had created just yesterday that are still working without changing the gem. Strange.

[2016-12-15 19:24] tjbladez commented on #27372
Could be related to the fact that latest `coffee-script-source-1.12.1` gem is empty :)

[2016-12-15 19:25] eileencodes opened #27374 "Regression: Bigint change doesn't work for schema dump's of previous created application"
I was testing something with Rails 5 master and noticed the change to use bigint at primary keys has caused an issue when using the schema dump, for example in CI or in a bin/setup script.

If the application is created previous to upgrading to Rails 5 the schema dump does not properly handle the primary key. Because the migration itself has a compatibility layer the `auto_increment` is correctly

[2016-12-15 19:36] jmccartie commented on #27374
@eileencodes 1) ARGH!  2) Thanks for the details.

I wasn't aware schema dumper didn't use the compatibility layer. I'll defer to @sgrif or @matthewd on how best to proceed. I'm happy to put in the work to make sure this is fixed.

[2016-12-15 19:48] markhkim commented on #27372
I can confirm I have the same error on:
Linux Mint 18
[code]

[2016-12-15 19:54] markhkim commented on #27372
Seems like this is an issue over at coffeescript: https://github.com/jashkenas/coffeescript/issues/4403

[2016-12-15 20:12] andreykul commented on #27370
`c` and `p.category` are not the same object, this is why it loaded it again. There is no way for it to recognize it is the same record. The `where` just generates a query, it does not actually create the object. I see your point, You are saying that it should be smarters and make `p.`category` point to `c`

[2016-12-15 20:44] guilleiguaran commented on #27372
coffee-script-source 1.12.1 was yanked

[2016-12-15 21:26] maclover7 commented on #27374
Been playing around with this locally, and it seems like we're going to need some kind of a data storage layer between `ActiveRecord::SchemaDumper` and `ActiveRecord::Migration`, to store shared metadata. I'm thinking it might make sense to use `ActiveRecord:: InternalMetadata`, but then again there might be a place in the connection adapter API where this fits in better.

[2016-12-15 21:28] maclover7 commented on #27370
Agree with @andreykul, I think it is the expected behavior for a new query to be generated when calling `p.category`.

[2016-12-15 21:28] #27370 closed

[2016-12-15 21:52] rwz opened #27377 "Assymetric Time/String equality"
### Steps to reproduce

[code]

### Expected behavior
Both comparisons return false

### Actual behavior
Time equals String

### System configuration
Behavior can be examined in ActiveSupport 4.2 and 5.0. I didn't test other versions.
Ruby 2.3.3

This causes all kinds of weird issues like this one for example: https://github.com/rspec/rspec-expectations/issues/958

Normally you'd assume object equ

[2016-12-15 22:02] #23774 closed

[2016-12-15 22:06] rafaelfranca commented on #27377
This is not true in many cases. A String don't need to know how to compare with time, but a time can know how to compare with a String. The same hold true with any object. You don't expect to monkey patch String if your object implement `==` that coerces a string.

[2016-12-15 22:06] #27377 closed

[2016-12-15 22:13] rwz commented on #27377
I try to not have coersing `==` operators in my code and consider it an anti-pattern.

Also, this is the case where Active Support changes the way Ruby works. In Ruby without ActiveSupport Time does not equal String.

I'm not saying that this is a bug that needs to be fixing , I'm arguing that this behavior exhibits  a bad design and it might be worth exploring the possibility of removing it in th

[2016-12-15 22:18] rafaelfranca commented on #27377
Active Support changes the way Ruby works, but I agree maybe it is worth to explore the possibility of removing this comparing in the future.

[2016-12-16 07:09] pamio commented on #27310
Not sure why it isn't reproduced. I followed the same steps again with a new app and encountered the same issue.

[2016-12-16 07:12] prodhan29 commented on #27372
coffee-script-source 1.12.1 is problematic.
changing  the "coffee-script-source 1.12.1"  to "coffee-script-source 1.11.1" in Gemfile.lock file worked for me.

[2016-12-16 07:58] milep commented on #26778
I got the same issue with a legacy database, which had a foreign_key with a same name as referenced table/model.
Eg. in class PaymentRows:
`belongs_to :payment, foreign_key: 'payment'`

[2016-12-16 08:12] tanvirsobhanwe opened #27380 "dd"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-12-16 08:21] #27380 closed

[2016-12-16 11:11] deepj opened #27382 "Current master it's not possible to use in Gemfile"
I'd like to play with Rails 5.1 master with our current application.

### Steps to reproduce

1. put/replace this line in Gemfile
[code]

2. run `bundle`
3. run `bundle exec rails s`

### Expected behavior
Not to fail on not founding rails dependencies.

### Actual behavior
[code]

If I run `gem list`. I don't see any active/action* or rails gem on the list.

### System configuration
**Rails versi

[2016-12-16 11:11] utilum commented on #27372
jashkenas/coffeescript#4403 was closed. this also?

[2016-12-16 11:21] bplmp commented on #27372
Actually I'm still getting the error, even with https://github.com/jashkenas/coffeescript/issues/4403 closed.

[2016-12-16 11:32] utilum commented on #27382
You pointed at master.
For 5.0.1 try putting this in your Gemfile: `gem 'rails', github: "rails/rails", tag: "v5.0.1.rc2"`
Then run `bundle install`.
Then launch the server.

That said, this is not a bug, more of a stackoverflow question, don't you think?

[2016-12-16 11:40] deepj commented on #27382
Yes, that works. But I want to try Rails 5.1 not Rails 5.0.1. In the past in time of Rails 5.0, it was possible to use this way.

[2016-12-16 11:45] utilum commented on #27382
What version of Rails is your current app in?

[2016-12-16 11:50] simi commented on #27382
Have you run `rails app:update`?

[2016-12-16 12:10] deepj commented on #27382
That issue doens't depend on a concrete Rails version. Just create this Gemfile in some seperated folder.

[code]

These are my steps how to reproduce it (please, use a clean gemset):

[code]

As you can see, after `bundle install`, there are no active/action* or rails gems.

[2016-12-16 12:10] Mirv commented on #27372
Still getting it too - https://ide.c9.io/mirv/slimtest ...

Gemfile

`source 'https://rubygems.org'
gem 'rails', '5'
gem 'sqlite3'
gem 'jquery-rails'
gem 'turbolinks'
gem 'jbuilder', '~> 2.0'
gem 'sdoc', '~> 0.4.0', group: :doc
gem 'slim'
gem 'cocoon'
gem 'sass-rails', '~> 5.0'
gem 'uglifier', '>= 1.3.0'
gem 'coffee-rails', '~> 4.1.0'
gem 'coffee-script-source', '1.8.0'
group :development, :test d

[2016-12-16 12:28] utilum commented on #27382
how about `bundle exec rails new testapp` ?

[2016-12-16 12:32] deepj commented on #27382
@utilum that doesn't help. Take a look at `gem list` after `bundle install`. No active/action* or rails aren't on the list = not installed. That's the problem.

[2016-12-16 12:47] matthewd commented on #27382
That's expected behaviour, and not new; when gems are bundled using git, they do not get installed inside rubygems.

[2016-12-16 12:47] #27382 closed

[2016-12-16 12:50] guilleiguaran commented on #27382
Try to start it with `bin/rails s` (and update the binstub if required)

[2016-12-16 13:06] deepj commented on #27382
@guilleiguaran No, it doesn't work. I use the latest `bin\rails`

https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/bin/rails

So it fails on:

[code]

Is there any way, how I can try Rails 5.1 master?

[2016-12-16 13:09] deepj commented on #27382
@matthewd OK, my bad. Anyway, I can't use it with `bundle exec` or `bin\rails`. Is there any way how I can try Rails 5.1 with my application without falling on:

[code]

[2016-12-16 13:12] pandar1 commented on #26966
Ok, I solved it. The problem arise from the fact that in rails 5 ActionController::Parameters no longer inherits from hash. When I pass an hash now I apply .to_unsafe_h() in the view to transform it to an hash again.

I was directed to the right way of dealing this reading this message which arose when I applied .to_a to the hash parameter.

DEPRECATION WARNING: Method to_a is deprecated and will

[2016-12-16 13:23] deepj commented on #27382
@matthewd @guilleiguaran I'd like to note. I don't have any problem with `5-0-stable`. That happens only with the current master.

[2016-12-16 14:54] MSP-Greg opened #27385 "[DOCS] Change ActiveModel::Type::Helpers to :nodoc: ?"
All of its namespace children are `:nodoc:`, and it contains no methods or constants.

No reason to have it appear in normal docs, which, at [api.rubyonrails.org](http://api.rubyonrails.org/classes/ActiveModel/Type/Helpers.html), shows all the files the namespace is defined in.

See also [ActiveModel::Type::Helpers](https://msp-greg.github.io/rails_master/ActiveModel/Type/Helpers.html)

[2016-12-16 14:57] guilleiguaran commented on #27372
I've released a new version of coffee-script-source https://rubygems.org/gems/coffee-script-source/versions/1.12.2

[2016-12-16 14:57] #27372 closed

[2016-12-16 16:13] #26966 closed

[2016-12-16 18:02] rafaelfranca commented on #27385
Yes, lets change it to nodoc. Could you open a PR?

[2016-12-16 18:02] #27385 closed

[2016-12-16 18:11] MSP-Greg commented on #27385
Mind if I use `:nodoc: all` on the four files?

IOW, remove `:nodoc` from the four namespace child objects, and add `# :nodoc: all` to the `module Helpers` line.

[2016-12-16 18:13] rafaelfranca commented on #27385
I think it is safer to use `:nodoc:` if we want to document something in the future we can just add the class in the namespace and document it without having to change all files that have `:nodoc: all`

[2016-12-16 19:08] MSP-Greg commented on #27385
Well, not quite.  `:nodoc:` is file based, so, if in the future someone wants to add a non `:nodoc:` class/module to the namespace, they don't have to change anything.

The old `:nodoc:` children will continue to be, and `ActiveModel::Type::Helpers` should appear because it would now have children that aren't `:nodoc:`....

Using `:nodoc: all` just allows one directive to make its associated objec

[2016-12-16 19:19] rafaelfranca commented on #27385
Thanks for the explanation. I think we can try it.

[2016-12-16 20:50] utilum commented on #27348
@kamaljoshi I don't understand everything in your test, but I've tweaked it to remove the call to `super` which raises an error and then to use Rails 4.7.2's [own test for record_attributes](https://github.com/rails/rails/blob/v4.2.7.1/activerecord/test/cases/attribute_methods/read_test.rb#L53-L57).
The tweaked tests for [master](https://gist.github.com/utilum/49e7353777a65857486468c9000dd430) and

[2016-12-16 20:51] utilum commented on #27348
That is to say, at least the attribute read method is alive and kicking. What's not working for you?

[2016-12-17 07:37] geniousli opened #27390 "use rails engine and ApplicationController inherit engine's ApplicationController then helpers not all include"
### Steps to reproduce
[code]
then my rails project's helpers can't use in views, and i find the code

[code]
does this is a bug ? or design?

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
 rails project's helpers expect applic

[2016-12-17 11:19] kamaljoshi commented on #27348
@utilum The whole issue is when you have a method with the same name as an attribute. You removed that from your tests, so they will not show the error anyway.

[2016-12-17 11:25] utilum commented on #27348
I had the impression from the subject and description that your problem was related to marshalling... Now you say it's all about overriding the generated attribute method... what are you trying to do?

[2016-12-17 12:54] kamaljoshi commented on #27348
@utilum My proper is with marshalling. But the problem surfaces only when you have a method that was overriding a generated attribute method, as the attribute methods are not generated properly.

[2016-12-17 13:04] utilum commented on #27348
@kamaljoshi [test on master with generated attribute method override](https://gist.github.com/utilum/49e7353777a65857486468c9000dd430) passes. But what is it you are actually trying to do? There are simpler ways to set a default value.

[2016-12-17 13:33] kamaljoshi commented on #27348
@utilum Your new test is also avoiding the original method call.
The example I gave for method `#title` was just supposed to be a sample method to display the bug. The problem is still the same. If you load an object using Marshal, the original methods are not defined as the `#generate_attribute_methods` is not called when the object is loaded. So, any method that was overriding an attribute metho

[2016-12-17 14:34] utilum commented on #27348
OK, @sgrif would have a better response, but I have the impression this is expected behavior, and the shortest way to recreate your expected behavior would be call `post.class.define_attribute_methods` just after `Marshal.load`, or monkey patch `Marshal.load` if it recurs.

[2016-12-17 14:55] kamaljoshi commented on #27348
@utilum Thanks for looking into this.

I noticed this issue in memcache cached objects where dalli was calling `Marshal.load`. So, to fix this for that flow, I will need to patch Dalli's `#get` methods.

Calling `self.class.define_attribute_methods` feels repetitive as I will have to do this every time I override so I would like to avoid that. Also, it may lead to a dev missing this and breaking s

[2016-12-17 17:37] eileencodes commented on #27337
Sounds like this isn't a bug so I'm going to close.

@clupprich if you think that the information would be useful in the documentation please do open a PR.

[2016-12-17 17:37] #27337 closed

[2016-12-17 19:35] common-nighthawk commented on #26987
@maclover7 looking into this issue, i dont see a problem.  #stale and #fresh_when work properly for me in both 4.2.x and 5.0.0.1.

i then ran it with repo @rkrayovskyy provided, and also get 200 and 304 properly.

screenshot of the log running https://bitbucket.org/roman_krayovskyy/stale_test is attached.
![screen shot 2016-12-17 at 1 33 48 pm](https://cloud.githubusercontent.com/assets/6483815/21

[2016-12-17 19:39] govorov commented on #27205
Everything is fine since I use `def self.table_name`. Thank you for your help!

[2016-12-18 16:22] jjeffries commented on #27129
I'm having the same issue. What I did for now is create and copy the contents of 'rails-helper.rb' and 'spec_helper.rb' from an app I had prior to upgrading. When I ran rails generate rspec:install, the contents that should have been placed in the (missing) rails_helper.rb file was actually in spec_helper.rb file.

[2016-12-18 17:59] peric opened #27397 "Rails/Rake commands exiting in production environment"
### Steps to reproduce

I'm using Rails 5.0.0.1 (have just updated to 5.0.1.rc2) and I have problems with Rails/Rake commands while executing them (with whenever gem) in production.

Commands are going through as they should, but each of those (have 4 cron jobs atm) finishes with SystemExit. Sometimes, there is an error message `NoMethodError: undefined method `from' for main:Object` and sometimes

[2016-12-18 18:10] utilum commented on #27129
Can't reproduce with 5.0.1.rc2.
ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-linux].
Is this only reproduced on Windows ?

[2016-12-18 19:50] ahmed-taj opened #27398 ""FATAL: Peer authentication failed for a database user" when creating a test database ONLY"
Hello,

I've got a credential error when trying to create & drop development and testing databases. The error says:

[code]

Well, hold a second, this isn't a mistake in credentials, I have tested them many times, but later I noticed, the command behaves in unexpected way. as you might noticed this line:

    Created database 'myproject_development'

It says, the development database has been crea

[2016-12-18 20:34] ahmed-taj commented on #27398
Well, everything worked as expected when I replaced this line:

[code]
With:

[code]

But, I still can't figure out, how it was working for 'myproject_development' database only !!

[2016-12-18 20:56] jjeffries commented on #27129
Yes

Sent from my iPhone

[2016-12-19 01:21] eugeneius commented on #27342
Each transaction [maintains a list of records](https://github.com/rails/rails/blob/v5.0.0.1/activerecord/lib/active_record/connection_adapters/abstract/transaction.rb#L57) that were saved while it was open. [Duplicates are removed](https://github.com/rails/rails/blob/v5.0.0.1/activerecord/lib/active_record/connection_adapters/abstract/transaction.rb#L84) before running callbacks, to avoid running

[2016-12-19 13:21] atussec opened #27405 "rails api with action cable"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen
as on the rails actioncable base is the documentation it stated that
[code]
### Actual behavior
Tell us what happens instead
so in my channel file i try to use this

[code]

but

[2016-12-19 15:17] frankwong15 opened #27406 "NotImplementedError on File.atomic_write"
### Steps to reproduce

Please refer to below:
[https://gist.github.com/frankwong15/a59f5e976140b2d377c4c1902bfbe63e](https://gist.github.com/frankwong15/a59f5e976140b2d377c4c1902bfbe63e)

### Expected behavior
It should ignore error on chmod and create a file

### Actual behavior
It raises NotImplementedError

### System configuration
**Rails version**: master
**Ruby version**: JRuby 9.1.6.0 with

[2016-12-19 15:26] itsmeduncan commented on #26503
@javan Is there any specific reason it is throwing an actual error? We see this error in Rollbar pretty much anytime someone on an iPhone uses our app. We could ignore it in Rollbar, but it does seem like a better default would be to log (which is already happening), and call `@close(allowReconnect: true)`. If you think this is a good approach, we'll open an PR on against 5.1.

[2016-12-19 15:35] matthewd commented on #27406
Thanks, but we don't accept feature requests on the issue tracker.

(And yes, "work with a [deliberately] broken ruby implementation" is a feature request.)

[2016-12-19 15:35] #27406 closed

[2016-12-19 15:46] guilleiguaran commented on #27406
maybe this is related https://github.com/jruby/jruby/issues/3457?

Anyway I think this is a JRuby bug not a Rails one

[2016-12-19 15:50] frankwong15 commented on #27406
Sorry, I don't agree. The root cause is that atomic_write assume you can always chown. Then people started rescue Errno::EPERM and Errno::EACCES. I think NotImplementedError should be rescued as well because on some Ruby implementation you cannot chown.

[https://github.com/rails/rails/commit/851f8c10235a0874f5e34b2c7b5544c33f89c022](https://github.com/rails/rails/commit/851f8c10235a0874f5e34b2c7b

[2016-12-19 18:53] tenderlove commented on #27273
I think long term we need to make these caches related.  I don't think it makes sense to clear one cache and not the other.  For now, I think we can just clear both caches at the same time (in development).

[2016-12-19 20:22] DanAndreasson opened #27409 "Queries with a association named same as specified FK causes SystemStackError"
### Steps to reproduce
1. Have a table `matches` with a column named `winner` (without _id).
2. Have a model with `belongs_to :winner, class_name: "Match", foreign_key: :winner`
3. Do a where query `Match.where winner: team`

[code]
### Expected behavior
Rather self explanatory I think. Return a collection where the winner is equal to *team*. This was the case in previous versions (at least 4.2)

[2016-12-19 20:27] maclover7 commented on #27145
Closing since #27146 was merged.

[2016-12-19 21:04] alexcameron89 commented on #27409
I believe this is a duplicate of https://github.com/rails/rails/issues/26778.

[2016-12-19 21:13] DanAndreasson commented on #27409
Yeah that seems correct. Missed that one. Thank you @alexcameron89!

[2016-12-19 21:13] #27409 closed

[2016-12-19 22:43] slbug commented on #27229
happens in rails 5.0.0.1

<pre>
$ rails g migration anything
Expected string default value for '--test-framework'; got false (boolean)
Expected string default value for '--jbuilder'; got true (boolean)
</pre>

bundle list

<pre>
Gems included by the bundle:
  * actioncable (5.0.0.1)
  * actionmailer (5.0.0.1)
  * actionpack (5.0.0.1)
  * actionview (5.0.0.1)
  * activejob (5.0.0.1)
  * activemodel

[2016-12-19 23:17] wolfemm opened #27410 "after_commit callbacks not running when an action is specified"
The problem seems to be that [transaction_include_any_action?](https://github.com/rails/rails/blob/5-0-stable/activerecord/lib/active_record/transactions.rb#L458) is being passed a list of strings but the case statement expects symbols.

Overriding `transaction_include_any_action?` and calling `to_sym` on the action in the case statement makes everything work as expected, but the fact that this do

[2016-12-19 23:35] rafaelfranca commented on #27410
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-12-20 00:27] maclover7 commented on #27397
Hi @peric! Can you please provide a sample application that replicates the error you are seeing?

[2016-12-20 00:28] maclover7 commented on #27405
Hi @atussec! Can you post the whole file? I think there's a syntax error, which is what's causing the code error you're seeing.

[2016-12-20 01:38] MCodyB opened #27411 "Very rarely `update_attributes` fails nearly silently"
### Steps to reproduce

Only one `before_destroy` callback .

Not sure if it's relevant but there was there was a worker active in another terminal window failing a few times. Although I noticed it after so I'm not sure if it happened concurrently.

Other than that it hasn't happened enough to really notice what is out of the ordinary. A few days ago I made a SO post when it happened once, and bef

[2016-12-20 01:45] rafaelfranca commented on #27411
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-12-20 01:45] #27411 closed

[2016-12-20 01:52] MCodyB commented on #27411
Yeah, I was worried about that. I have no idea how to recreate it other than than run `update_attributes` a bunch which I'm trying right now.

[2016-12-20 02:43] MCodyB commented on #27411
OK, I managed to reproduce it, not sure if it's a bug per se but it's definitely something someone should be aware of.

I think it's related to this, or at least reading it gave me the idea of what to try https://github.com/rails/rails/issues/18400

To reproduce open up two tabs and run the console,

In the first tab:

[code]
In the second tab
[code]

Now, if you go back to the first tab and rerun

[2016-12-20 02:52] wolfemm commented on #27410
After further investigation, it turns out an ill conceived monkey patch in my app affecting arrays was to blame.

Thank you for your time.

[2016-12-20 02:52] #27410 closed

[2016-12-20 03:39] cymcsg commented on #26945
Is there any process on this problem? I also use  Rails 5.0.0.1 and ruby 2.3.1p112 and I get the same error.

The situation which I have been occured is I want to use rails with existing mysql database . When I run ``rake db:schema:dump``,  I also got the error ``NotImplementedError: #views is not implemented``.

[2016-12-20 03:57] matthewd commented on #27411
Ah, yeah, that's expected behaviour. You can avoid it by locking the record.

[2016-12-20 04:15] MCodyB commented on #27411
Optimistic locking doesn't work here because the repeated update never hits the db. And I did just check it against a model with optimistic locking.

[2016-12-20 04:41] hirokishirai commented on #27229
@slbug If you'll downgrade thor  to 0.19.1, this issue will fix on Rails5.

[2016-12-20 06:31] utilum commented on #26945
@cymcsg can you please provide a sample application that reproduces the error?

[2016-12-20 06:44] cymcsg commented on #26945
I just use ``rails new`` to create a new sample project and edit two files below:

Gemfile:

[code]

and database.yml:
[code]

I run ``bundle install `` and ``rake db:schema:dump`` after that and get the error message.
The full message is :

[code]

Thank you very much. @utilum

[2016-12-20 06:57] kamipo commented on #26945
Looks like that [activerecord-mysql2-adapter](https://rubygems.org/gems/activerecord-mysql2-adapter) does not implement `#view`.
Removing `gem 'activerecord-mysql2-adapter'` line will fix this issue.

[2016-12-20 07:08] utilum commented on #26945
@cymcsg, what prompted you to add `gem 'activerecord-mysql2-adapter'` ?

[code]

But it's still pretty much the same with rake:

[code]

[2016-12-20 07:43] peric commented on #27397
Sure. The app is here -> https://github.com/moonleerecords/moonlee-website

[2016-12-20 07:54] printercu commented on #27273
What caches do you mean? I think there is no need to clear DetailsKey cache at all - it just maps set of format, locale and others to some fixed value.

[2016-12-20 08:12] utilum commented on #27397
@peric would you also paste a copy of your cron commands?

[2016-12-20 08:35] cymcsg commented on #26945
@kamipo @utilum  Great thanks! I make a mistake on this problem. I have fixed it by removing ``gem 'activerecord-mysql2-adapter'`` .

Thanks for the tips about ``rake`` and ``rails``.

[2016-12-20 11:04] #27344 closed

[2016-12-20 12:37] r3id opened #27415 "“Expected string default value for `--jbuilder`; got true (boolean)” error in a new rails project with a previously used name"
I am starting a new project, and have done this meany times now. However, this is the first time I have run into this issue!

I created the app as normal `rails new myapp -d postgresql`

I've created the DB using `rails db:create` and ran the site `rails s`. It all works, and I see the Rails welcome/holding page.

Now I start to create my models, `rails g model user` for example. And I get the fol

[2016-12-20 13:00] javan commented on #26503
+1 to removing the `throw` (and returning `false` instead). No need to call `@close(allowReconnect: true)` though. `ConnectionMonitor` will handle reconnecting automatically.

[2016-12-20 14:01] matthewd commented on #27343
@aried3r actually... AS is supposed to [skip over internal code automatically](https://github.com/rails/rails/blob/v5.0.1.rc2/activesupport/lib/active_support/deprecation/reporting.rb#L105-L109).

Does your Active Support gem live somewhere other than `/usr/local/opt/rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/activesupport-5.0.1.rc2`? :confused:

[2016-12-20 14:42] itsmeduncan commented on #26503
:+1: #27416

[2016-12-20 16:18] remofritzsche opened #27418 "Concurrency issues with Active Record and jRuby"
We have encountered multiple, severe and random concurrency issues with AR and jRuby, even in production mode. Please let me know if you'd like me to separate these two issues and whether I should copy over the full description from the sample app to this issue.

Many thanks for your help.

### Steps to reproduce

See [this sample application](https://github.com/remofritzsche/rails_jruby_concurren

[2016-12-20 16:50] matthewd commented on #27418
The second issue is rather confusing.

The line it's failing on is here: https://github.com/rails/rails/blob/v5.0.0.1/activerecord/lib/active_record/relation/query_methods.rb#L1230

That reference is lexically scoped to (yes, attempt `ActiveRecord::QueryMethods::Relation`, and then) resolve to `ActiveRecord::Relation`.

Are you sure that's not a JRuby bug?

[2016-12-20 16:57] utilum commented on #27418
@remofritzsche your README suggests calling the same script for both issues. Is that intentional?

I got the following error the 7th time I ran it:

[code]

And on the 14th run, just as you quote:

[code]

[2016-12-20 17:22] peric commented on #27397
Sure, @utilum, here are few examples from crontab.

[code]

[2016-12-20 17:25] remofritzsche commented on #27418
Thanks a lot for having a look at this.

@matthewd No, I'm not entirely sure it's not a jRuby bug.

@utilum Sorry, that was a mistake. The README should now be correct. Thanks for pointing it out.

[2016-12-20 17:34] remofritzsche commented on #27418
The second bug seems very similar to the issues I get when using concurrency in development mode and without eager loading (as Rails' autoreloading is not thread safe - which of course is totally fine).

Maybe this might be a hint?

[2016-12-20 17:44] matthewd commented on #27418
Not really... both because the class in question should already be loaded by `User.first`, and because it uses a different autoload mechanism (the one built in to the interpreter) to do so.

But also because Rails autoreloading is very much supposed to be thread safe, so I'm interested in any claims otherwise there too.

[2016-12-20 19:06] jacquesporveau opened #27419 "ActiveSupport Samoa Timezone error"
### Steps to reproduce

In rails console.

`DateTime.now.in_time_zone("Samoa")` Returns  a date with a UTC offset of + 14:00
`ActiveSupport::TimeZone.new('Samoa').utc_offset/60/60` Returns -11

### Expected behavior

`ActiveSupport::TimeZone.new('Samoa').utc_offset/60/60` Should return 14 or 13 based on daylight savings time

### Actual behavior

`ActiveSupport::TimeZone.new('Samoa').utc_offset/60

[2016-12-20 19:37] utilum commented on #27397
OK @peric, I don't get any unexpected errors launching these commands locally, but you say that neither do you, so no news there. The app you provided seems like it's your app, not something reduced to the bare-minimum in order to reproduce the issue -- what's usually meant by 'a sample app'. Then again, you are unable to narrow it down.
I suggest that you try to replicate your production environm

[2016-12-20 20:01] oyeanuj commented on #27415
Also getting this on Rails 4.2.7, on upgrading from 4.2.6 to 4.2.7. Seems like thor started throwing that warning on 0.19.3 and it needs to be fixed here?

[2016-12-20 20:04] rafaelfranca commented on #27415
This is a thor problem with the jbuilder gem. Both are fixed now, but not released. This is not a Rails issue.

[2016-12-20 20:04] #27415 closed

[2016-12-20 20:07] oyeanuj commented on #27415
@rafaelfranca It seems to be a railties issue as well. I'm not using JBuilder at all.

[code]

[2016-12-20 20:11] kaspth commented on #24372
I don't think I fully understand your issue. Seems to me `bundle exec rake -P --trace` failing is a Rake and not one with Rails 😊

[2016-12-20 20:17] kaspth commented on #27315
Yeah, that's where I injected as well. Feel free to take this further: https://github.com/kaspth/rails/commit/35fc9588e5f22ad678a7553c0395e377b13cff98

It needs to be explored whether we're better off with `def render(options = {}, cached: false, **locals)` or similar (and whether or not we've said we support string keys in locals).

Also not sure about the `stub` in the tests. Anyway, do investig

[2016-12-20 20:24] kaspth commented on #27415
@oyeanuj that error is coming from Thor, lock it to an earlier version for now and it goes away 😁

[2016-12-20 20:27] sebbean commented on #24372
came here by searching the errors. looks to be the same exact issue.
lemme compare the stack traces

[2016-12-20 20:27] maclover7 commented on #27418
cc @headius

[2016-12-20 20:34] kaspth commented on #27382
@deepj what does your `config/boot.rb` look like in full? Does it match https://github.com/rails/rails/blob/e592ee20a9d6889dcfbc05e485f448dfeda9b72f/railties/lib/rails/generators/rails/app/templates/config/boot.rb?

[2016-12-20 23:04] ah-tunecore commented on #20798
After a 4.1 -> 4.2 upgrade I was also seeing this behavior, even in a single thread.  It seemed to be happening when first assigning the attribute to an empty hash and then trying to assign values to keys in the hash. Like so:

[code]
Of course trying to do this blows up now:
[code]

I was easily able to overcome this by assigning the attribute a non-empty Hash.

[code]

[2016-12-21 02:09] fabrouy opened #27420 "= render @collection || 'empty_list' when @collection is empty"
### Steps to reproduce

[code]

### Expected behavior
`no_foos` partial should be rendered

### Actual behavior
`no_foos` partial is not rendered unless `@foos = nil`

### System configuration
**Rails version**: 4.1.15

**Ruby version**: 2.2.4

[2016-12-21 02:37] georgeclaghorn commented on #27420
This isn't a bug. `@foos` is not `nil` or `false`, so the result of `@foos || "no_foos"` is `@foos`.

[2016-12-21 02:43] guilleiguaran commented on #27420
as @georgeclaghorn said, this isn't a bug, that is how Ruby works :)

[2016-12-21 02:43] #27420 closed

[2016-12-21 05:11] kobaltz opened #27421 "Rails upgrade from 5.0.0.1 to 5.0.1 breaks ActionCable WSS Upgrade"
### Steps to reproduce

Upgraded existing application on Rails 5.0.0.1 to Rails 5.0.1. No other changes were made. Websocket connected and were able to switch protocol in development environment without any issues when on 5.0.0.1. However, when pushed to production, the websockets would not switch protocols.

### Expected behavior
Request URL:wss://www.example.com/cable
Request Method:GET
Status C

[2016-12-21 08:37] Nekromancer commented on #27421
Exactly same problem with me

[2016-12-21 09:01] atussec commented on #27405
here is it

`  identified_by :current_user

    def connect
        self.current_user = find_verified_user
        logger.add_tags 'ActionCable', "User #{current_user.id}"
    end

    protected

    def find_verified_user
        if current_user = User.find_by_identity cookies.signed[:identity_id]
            current_user
        else
            reject_authorized_connection

      end
    end`

[2016-12-21 09:16] garygao commented on #27419
@jacquesporveau
I think this is an issue of the gem "tzinfo", run the following code in irb, you also will get -11:
[code]
**tzinfo version**: 1.2.2

[2016-12-21 10:11] remofritzsche commented on #27418
@matthewd I've now added a third example to the sample application that reproduces issues we think come from autoreloading / autoloading. In the past, we've seen countless other such exceptions when using concurrency in development mode in our applications.

[2016-12-21 11:25] VvanGemert opened #27422 "Upgrading from Rails 5.0.0.1 to Rails 5.0.1 breaks MySQL 5.0 compatibility"
### Steps to reproduce
I've upgraded my rails version from 5.0.0.1 to 5.0.1 and tried to deploy it. The db:migrate command failed and stopped deployment. I've rolled back to 5.0.0.1 for now.

### Expected behavior
db:migrate should pass.

### Actual behavior
It tries to access a table that doesn't exists in mysql 5.0, named 'referential_constraints' in information_schema db. It happens when trying

[2016-12-21 14:21] mubashirhanif commented on #27422
Just out of curiosity what was your `mysql2` `gem version` on `Rails 5.0.0.1`

[2016-12-21 14:24] VvanGemert commented on #27422
I didn't update the mysql2 gem, only Rails. The mysql2 gem version used in both Rails versions is 0.4.5.

[2016-12-21 14:44] mubashirhanif commented on #27422
A quick-search into the `commit-history`  tells that `72d18e55e7ad06a5d2d85f943757aa88bbf351ab` or `pull-request` #25307  introduced this change.

On a side note `mysql2` is only tested to work on mysql version `>= 5.5`.

[2016-12-21 14:53] mubashirhanif commented on #27422
Since `table` `referential_constraints` was introduced in mysql version `5.1`. This is breaking the your functionality I suppose.
A quick google search reveals that there is a table called `table_constraints` but it doesn't store triggers information(`DELETE_RULE`, `UPDATE_RULE`) which are used by `schema_dumper` module.
Upgrading to `5.0.1` would result in breakage of this functionality for you.