[2021-05-26 18:16] leder11011 commented on #42296
I changed the migration to:
`rails generate migration CreateArticles title:string text:text`

Now I get a runtime error when I access the `attachment`:
[code]

What to do now?

[2021-05-26 18:46] jonathonnordquist commented on #19001
Madness that this was closed, or that this problem is still ongoing with no workable fix.  I'm in Rails 6.1, trying to add a single column to an existing table and running the migration removes the `limit` constraint from literally hundreds of unrelated fields.  I don't know why this is happening, I don't know what it will or will not break and I don't know why Rails is doing something that I'm ve

[2021-05-26 19:31] annienero commented on #42036
bump- we still haven't been able to figure out a solution. lmk if there's anything else I can provide to help and thanks again

[2021-05-26 19:32] dee-see commented on #42164
@zzak sorry I'm probably the one missing context on the regular usage of this feature. I'm coming from the point of view that if someone with find an XSS and inserts a link in the application then they can bypass the CSP and I'm not a fan. :) I probably didn't dig deep enough before opening this issue. I'll do some more homework on this and will comment again / close the issue when it's clearer.

[2021-05-26 20:29] HParker commented on #42298
Hey @Appwerks Thanks for opening this issue!

I am not sure this is a bug. I believe if you remove a `has_many through: ...` item from a relation, I don't believe I would expect the parent record to get updated.

However the behavior you want might be possible with `touch: true`
https://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html

In case I am misunderstanding, do you t

[2021-05-26 20:57] HParker commented on #42296
@leder11011 would you mind putting together the issue you are seeing using this active storage reproduction script?
https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_storage_main.rb

That way it will be easier for us to reproduce the issue you are seeing.

Right now I can't tell if you model has `has_one_attached` in it since you do still need that even though you don't n

[2021-05-26 22:51] zzak commented on #19001
@jonathonnordquist I understand this sounds very frustrating, but I'm afraid if the issue has persisted this long then "fixing" it will likely take large amounts of effort.

If someone could help create an [executable bug report](https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_migrations_main.rb) that might help move this forward. :bow:

[2021-05-26 22:53] zzak commented on #42036
@annienero This is just a guess, but based on this message I think the error is actually with `redis` itself accepting the certificate and not Rails.

[code]

It might be worth reaching out to Heroku support to see if they can help. Have you tried that? 🙏

[2021-05-26 22:56] zzak commented on #42164
@dee-see I'll be interested to learn from your research as well, thanks for looking into this! :bow:

[2021-05-27 01:56] zzak commented on #40867
I think we need some eyes on #41552 :bow:

[2021-05-27 02:08] lfalcao commented on #42259
It's not just the case to when call `rename_column` checks if there's any fk related to that column, and depending of the database system drop and recreate it or just rename? It seems like a simple issue to fix.

[2021-05-27 06:10] leder11011 commented on #42296
I have an error "websocket-driver" though the gem installs fine!

[https://paste.ee/p/X2d1l](https://paste.ee/p/X2d1l)

[2021-05-27 06:13] zzak commented on #42296
@leder11011 Could you share the reproduction script? This should help us debug the problem

[2021-05-27 06:15] leder11011 commented on #42296
[https://paste.ee/p/qK3sX](https://paste.ee/p/qK3sX)

[2021-05-27 08:18] brendon commented on #35811
Just wondering why `active_storage_variant_records` is missed out on this one? Also `active_storage_variant_records` doesn't even have a `run_load_hooks` so overriding anything is much more hacky.

Would you consider adding both of these things and releasing this in the 6.1 series?

[2021-05-27 08:26] zzak commented on #35811
It seems like @prathamesh-sonpatki had a PR but was closed and needs to be rebased since the default branch change. Would you be interested in picking this back up? 🙏

[2021-05-27 09:49] mildred opened #42302 "Rails 6.1 regression issue with big decimals precision"
### Steps to reproduce

In rails console:

[code]

It seems to me that this commit might be at fault: https://github.com/rails/rails/commit/7905bdfd8b2ae50319cd7a9a74ee1f8c865d648d (not checked it though, just ran git blame on relevant classes and found it)

### Expected behavior

[code]
in context :
[code]

### Actual behavior

[code]
in context :
[code]

### System configuration
**Rails version*

[2021-05-27 10:00] mildred commented on #42302
It seems the issue is caused by this diff : https://github.com/rails/rails/commit/7905bdfd8b2ae50319cd7a9a74ee1f8c865d648d#diff-cda12a0b7fe1607d710c06d2be6dc0e09d10a8f272a7156a70e5e1003dd40e8c

[code]

Let consider that `rounded_number` is `0.287298702e23.to_d`, we have the old behaviour:

- `BigDecimal === rounded_number && rounded_number.finite?` is true
- `rounded_number.to_s("F")` is `"2872987

[2021-05-27 12:13] davidrossdegroot commented on #42295
Hi @HParker, Here you go! https://github.com/davidrossdegroot/failing_active_storage_test/blob/main/active_storage_gem.rb

See the readme as well.

[2021-05-27 12:37] zzak commented on #42295
From what I can tell, this is the line that is failing:

https://github.com/rails/rails/blob/fdce2a22347c96d34245bcbd9d14d6d02366c44f/activestorage/lib/active_storage/service/s3_service.rb#L30

Though I'm not yet sure why 🤔

[2021-05-27 12:51] tom-lord commented on #42302
Ah yes, how odd!...

[code]

There must be some missing test coverage around this scenario.

[2021-05-27 13:01] coorasse commented on #39672
We faced the same issue in an old MySQL database. Our solution was to monkey patch the class:

[code]

just leaving it here as a reference for others.

[2021-05-27 14:30] santib commented on #42295
As @davidrossdegroot said, this is not a bug in ActiveStorage. From your reproduction script I can see you missed the following line when overriding the `S3Service`:
`@multipart_upload_threshold = upload.delete(:multipart_threshold) || 100.megabytes` and its corresponding `attr_reader`

[2021-05-27 14:47] f-mer commented on #42243
I tracked down this issue further and would like to share my observations.
My expectation is that calling `root_path` within controllers and views would return a string starting with `"/sub"` if `ENV['RAILS_RELATIVE_URL_ROOT'] = "/sub"` is set. Instead `root_path` returns `"/"`.

The confusion stems from [`rails/actionpack/lib/action_controller/metal/url_for.rb`](https://github.com/rails/rails/blo

[2021-05-27 16:05] davidrossdegroot commented on #42295
@santib  I like the suggestion! Will give it a try. I think we can close this.

[2021-05-27 16:05] #42295 closed

[2021-05-27 17:23] Appwerks commented on #42298
Thanks you, @HParker!

Adding `touch: true` on `belongs_to :kit` in the kits_items model did the trick.

By the way, I should have explained my case better in the original post. I have `has_many :through` for both kits to items, and items to kits, but only need to make sure that the kit model is updated when items are added and removed from each kit. The number of items is finite, so I just list t

[2021-05-27 17:23] #42298 closed

[2021-05-27 21:43] brendon commented on #35811
You're right, I misinterpreted things :D

I'll look at adding that extra load hook first, then think about the other problem. The issue is that the default behaviour when setting the table name is for that to override any prefix or affix settings if I understand rightly? The problem is rails is internally using an external API that then makes it hard to override.

[2021-05-27 22:09] jgrau opened #42306 "Incompatibility between api_only, session middleware and automatic database connection switching"
### Steps to reproduce

1. Create a new rails api only application `rails new --api`
2. Configure application for multiple databases as described in https://guides.rubyonrails.org/active_record_multiple_databases.html#setting-up-your-application
3. Add session middleware back into the api only application as described in https://guides.rubyonrails.org/api_app.html#using-session-middlewares
4. Acti

[2021-05-27 22:40] brendon commented on #35811
Here's the first PR to add the hook: https://github.com/rails/rails/pull/42307

[2021-05-27 23:01] zzak commented on #42243
@f-mer Thanks for your investigation. I'm taking a stab at putting this down in the docs over at #42303, would you mind taking a look and giving any feedback? :bow:

[2021-05-28 00:23] brendon commented on #35811
In terms of the other problem, I've tried:

[code]

All of the existing tests pass except for two that test URL creation. `polymorphic_url` generation relies on the existence of the namespace to namespace the route:

[code]

[code]

I'm not trying to find out if there's a way to fix route lookup for a model without messing with the `model_name` itself.

[2021-05-28 00:37] brendon commented on #35811
Actually it's as easy as adding:

[code]

to the abstract base class and removing the explicit table names from the child classes. My current assumption is that this prefix will also be prefixed by the rails application configuration of the same.

Just need to figure out how to test this.

[2021-05-28 04:30] lfalcao commented on #42306
Related https://github.com/rails/rails/issues/41932

[2021-05-28 12:27] jgrau commented on #42306
Thank you for referencing that issue - I hadn't seen that. This issue seems like a duplicate so I'll close it.

[2021-05-28 12:27] #42306 closed

[2021-05-28 12:31] jdarnok commented on #41549
@yknx4 Hey! have you managed to fix the problem? I'm facing similar stuff - all works on production but fails in rspec. It throws error only when trying to do the read to the db - writes seem to work

[2021-05-28 16:34] HParker commented on #42296
Thanks @leder11011 for sharing the script. I wasn't able to run it as written since I don't seem to have the file:
`db/migrate/20210523072040_create_active_storage_tables.active_storage.rb`

I changed that to the file that is included in the example script
`"db/migrate/20170806125915_create_active_storage_tables.rb"`

and your script ran, but did not fail. Is that file critical to understanding an

[2021-05-28 17:52] leder11011 commented on #42296
where do I find:
`db/migrate/20170806125915_create_active_storage_tables.rb`?

[2021-05-28 17:55] HParker commented on #42296
That is the migration from this line of the reproduction template here: https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_storage_main.rb#L41

it is here in rails: https://github.com/rails/rails/blob/main/activestorage/db/migrate/20170806125915_create_active_storage_tables.rb

[2021-05-28 17:56] leder11011 commented on #42296
[code]

[2021-05-28 18:21] HParker commented on #42296
Thanks again @leder11011 for your post,

I think we can safely say that this is not a rails bug. If you feels this is not the case feel free to make a new issue. You can also ask on the forums or stack overflow if you are still having issues.

[2021-05-28 18:21] #42296 closed

[2021-05-28 19:19] leder11011 commented on #42296
I changed back the line [https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_storage_main.rb#L41](https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_storage_main.rb#L41)
and got this testrun:

[code]

[2021-05-28 19:39] glennfu commented on #38668
I can confirm this still happens on Rails 6.0.3. I hope this can get reopened.

[2021-05-28 20:59] HParker commented on #42296
Looks like it is passing which is good. and what I expect the reproduction script to do without modification. If you think you still have a rails bug, you should modify that script to recreate the bug (and fail) and attach it to a new issue.

[2021-05-28 21:56] arivero opened #42313 "Undefined, but obvious, where in a join produces unexpected result instead error"
It is not really a bug because the way to access a joined table is to fully specify the match, ie
`.where( solution: {id: s.id})` instead of `.where(solutions: s)`

but selection via id generates a lot of errors when `s` happens to be a `nil`, so it would be nice if
either` .where(solutions:s) `or` .where(solutions: [s1,s2,s3])` were implemented

[code]
### Expected behavior
Either:
- emit an erro

[2021-05-28 22:26] swanson opened #42315 "Copying ActionText associations between models creates an extra "trix-content" wrapper div"
### Steps to reproduce

Here is a one-file app with a failing test:

[code]

Observe the failing test:

[code]

### Expected behavior

Copying rich-text associations from one model to another should produce identical HTML when saved to the database.

### Actual behavior

An extra `<div class='trix-content'>` wrapper is added to the HTML that is stored in the ActionText table. This leads to potenti

[2021-05-28 22:38] lfalcao commented on #42313
hi @arivero, I think this can confuse more than help. Just use `where(solutions: { id: s })`. What you can do to is write a scope that checks the value before executing the query for example.

`scope :find_solutions, ->(id) { joins(:solution).where(solutions: { id: attr }) unless id.nil? }`

Then call it:  `Project.find_solutions(variable)`

[2021-05-28 23:22] zzak commented on #42306
@jgrau Would you mind giving #42216 a shot and see if that solves your need?

[2021-05-28 23:24] zzak commented on #41549
@jdarnok Would you mind opening a new issue with a [reproducible example](https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_main.rb) that will help us determine if this is a bug in Rails or not :bow:

[2021-05-28 23:40] zzak commented on #38668
@glennfu Could you give #41581 a try and see if it fixes your issue?

[2021-05-28 23:55] zzak commented on #42315
@swanson I think this is [intentional](https://github.com/rails/rails/blob/main/actiontext/app/helpers/action_text/tag_helper.rb#L14) (see [here](https://github.com/rails/rails/blob/main/actiontext/app/views/layouts/action_text/contents/_content.html.erb) too).

Also this seems to be addressed (documentation-size) in #41889.

[2021-05-29 01:09] skunkworker commented on #27989
@rafaelfranca

When testing this on Rails `5.2.6`and `6.1.1` using both `activerecord-jdbc-adapter` and using `pg` both in MRI and JRuby, I'm able to have it run earlier commands then return a result from a later command. The following two examples demonstrates this

[code]

and when setting a transaction-local variable
[code]

Is this a bug or is this correct behavior?

[2021-05-29 01:17] arivero commented on #42313
I trend to agree, it seems obvious to me but it can confuse others,

So the only non confusing "expected behaviour" is that rails should emit a "column does not exist" error.

[2021-05-29 02:49] brendon commented on #35811
@zzak, this one is getting a bit weird. All the tests pass even after removing the table name declarations, e.g.:

[code]

It seems rails already adds `active_storage` because that's the namespace of the model. That'd be fine as it is, but I've now noticed that setting a `table_name_prefix` in `ActiveStorage::Record` doesn't have any effect, but changing it to `table_name_suffix` does work. It's s

[2021-05-29 03:11] brendon commented on #35811
See: https://github.com/brendon/rails/tree/active-storage-table-name for the change plus a failing test.

[2021-05-29 03:12] brendon commented on #35811
This should be re-opened BTW because the other PR didn't fix this particular issue. @pixeltrix

[2021-05-29 05:05] modosc opened #42319 "`initialize!` raises `FrozenError` when called more than once from an app using `zeitwerk`"
### Steps to reproduce
initialize a rails app twice:
[code]
### Expected behavior
no errors should be raised - this is the case on `6.0.3.7` and `6.1.3.2` with default configs

### Actual behavior
on `main` i get this error:
[code]
i also found the same behavior when instantiating and initializing instances of two different classes.

a bisect gave me https://github.com/rails/rails/commit/0d523d836

[2021-05-29 05:25] jgrau commented on #42306
@zzak that PR makes my test green 👍

[2021-05-29 05:33] Furqanameen commented on #22965
Thank you so much buddy it's worked for me.
`  location @rails {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://rails_app;
  }`

[2021-05-29 07:50] zzak commented on #27989
@skunkworker That is a good question, to which I'm not sure. I think it would be worth opening a [new issue](http://github.com/rails/rails/issues/new) and adding a [reproducible example](https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_main.rb) to help triage.

The examples you posted should be enough though! I'm just worried this comment will get looked over sinc

[2021-05-29 07:51] zzak commented on #42313
@arivero sounds like you found a solution, so I'm going to close this :bow:

Feel free to re-open if you have other questions or concerns

[2021-05-29 07:51] #42313 closed

[2021-05-29 07:59] zzak commented on #42319
@modosc I think this is a question to ask [zeitwerk](https://github.com/fxn/zeitwerk) 🤔 but I will leave this open for a while if anyone else has ideas.

[2021-05-29 07:59] zzak commented on #42306
@jgrau Thanks for confirming!

[2021-05-29 10:15] pixeltrix commented on #41042
This is fixed by #39697 and is on 6-0-stable and all 6.1 releases - if you're intending to use Ruby 3.0 I'd strongly suggest upgrading to Rails 6.1 first.

[2021-05-29 10:15] #41042 closed

[2021-05-29 11:02] zzak commented on #41042
Thanks for taking a look Andrew! ❤️

[2021-05-29 16:35] eugeneius commented on #42292
The current behaviour is specifically documented in the Active Support Core Extensions guide:

https://guides.rubyonrails.org/active_support_core_extensions.html#acts-like-questionmark-duck

Given that a method with an empty body returns nil, making `acts_like?` check the return value would likely break a lot of existing code. I don't think it's worth doing this if the feature is working as design

[2021-05-29 18:02] mvastola commented on #42292
Ok, but it's not clear in the rdoc documentation. And this can be deprecated first and then removed in a later version.

I said unintuitive but afterwards I realized I was being overly generous. It's a bug if you can check the value through two different interfaces and get different results. Removing the method is just a workaround, and workarounds by definition are always unintuitive.

One of the

[2021-05-29 18:51] lfalcao commented on #41539
@panSarin

It's **jbuilder** who is creating the controller file: https://github.com/rails/jbuilder/blob/master/lib/generators/rails/templates/controller.rb#L28

If you just remove it from Gemfile and execute the scaffold will use the template you mentioned (https://github.com/rails/rails/blob/6-0-stable/railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt)

[2021-05-29 19:37] ilude commented on #36546
If you are seeing this message because of using ActionMailer::Base in an initializer:

From @csutter "Instead of adding configuration to ActionMailer::Base, set it on Rails.configuration.action_mailer instead."

[2021-05-29 20:13] swanson commented on #42315
My understanding is that it is intentional (and a nice feature) that the `trix-content` class is added when rendering. But in this case, that extra wrapper div is getting saved in the ActionText database table so you end up with double wrappers.

[code]

[2021-05-29 20:26] glennfu commented on #38668
I'll definitely give this a try on Monday. On the one hand I like that the solution makes the client more resilient to any connection issue, but I still feel like waiting for half a second and trying again is just a slow bandaid. My real world use-case is experiencing exactly the symptoms this Issue describes, but the behavior is basically just a reload of the page. It sends a request to the serve

[2021-05-29 23:14] modosc commented on #42319
@zzak i opened this here because multiple app support [is in the api docs](https://api.rubyonrails.org/classes/Rails/Application.html#class-Rails::Application-label-Multiple+Applications) - that example will fail if you call `initialize!` on both apps.

that being said, if this is specific to `zeitwerk` i'm happy to move it. @fxn what are your thoughts here?

also fwiw my usage case is not hypothe

[2021-05-30 00:53] zzak commented on #42315
Ahh, ok I think I get what you're saying now, thanks for your explanation!

I'm curious what type of object `post.title` is.. but I could also investigate this myself 🤔

[2021-05-30 00:57] zzak commented on #38668
@glennfu It might help if you could share your use-case in that PR with code examples. 🙏

[2021-05-30 01:09] zzak commented on #42319
I just spent some time looking into this afaict there is no way to "reload" once the app is initialized -- but you can create a new app using the same config and that _should_ work. I'm not entirely sure though, so let's wait to see what Xavier says. 🙏

[2021-05-30 01:12] zzak commented on #36546
Making a note for myself to check if this isn't already updated in the documentation 👀

[2021-05-30 02:07] modosc commented on #42319
if i'm understanding you correctly, i tried that also and it didn't work:
[code]

[2021-05-30 10:04] #41644 closed

[2021-05-30 20:16] swanson commented on #42315
@zzak could this be re-opened? I don't think the linked PR addresses this bug.

The `post.title` is an `ActionText::RichText` object.

[2021-05-30 20:46] JuanVqz commented on #41539
recently, I had the same issue I just removed the `, status: :unprocessable_entity` in the else statement `format.html { render :new }` and it still works.

[2021-05-31 06:09] github0013 commented on #41378
any updates?

[2021-05-31 09:46] intrip commented on #41378
https://github.com/rails/rails/pull/41489 is still waiting for review sorry

[2021-05-31 10:03] jdarnok commented on #41549
@zzak @yknx4
Turns out that I only had controller specs in rspec. When I've added `models` folder with empty spec (just a `describe` block) - all works. It's clearly an rspec Issue and the way it loads stuff.

[2021-05-31 11:06] #37069 closed

[2021-05-31 11:07] #42302 closed

[2021-05-31 13:38] yamat47 opened #42329 "Can't finish `rails new` with edge Ruby."
### Steps to reproduce
1. Install edge version Ruby via rbenv.
2. Exec `rbenv local 3.1.0-dev`.

[code]

3. Exec `gem install rails`.

[code]

4. Exec `rails new .`.

[code]

### Expected behavior
`rails new .` is finished without any errors.

### Actual behavior
`Psych::BadAlias` is raised and `rails new .` is not finished.

### System configuration
**Rails version**: 6.1.3.2

**Ruby version**: r

[2021-05-31 13:54] yamat47 commented on #42329
I realized this issue for [yamat47/activerecord_accessible_json's CI failure.](https://github.com/yamat47/activerecord_accessible_json/runs/2706483289) CI checks if this gem is compatible with edge Ruby and edge Rails everyday, but failed with edge Ruby from May 17.

On May 18, some commits are added to [ruby/psych](https://github.com/ruby/psych):

* https://github.com/ruby/psych/commit/ffa2791c5b

[2021-05-31 14:10] zzak commented on #42315
@swanson Good call, I'm not sure how this got closed 🤔

I'm not sure but it sounds like maybe `ActionText::RichText.to_s` might be at fault here.. Let's experiment with than and see what we can find :bow:

[2021-05-31 14:11] zzak commented on #41539
@JuanVqz Can you explain more about the issue you ran into? 🤔

[2021-05-31 14:28] zzak commented on #41549
@jdarnok Wait, if this is an rspec issue isn't it better to report it there instead? 🤔

[2021-05-31 14:33] zzak commented on #42302
@tom-lord Mind giving this a sanity check if #42316 resolves this? :bow:

[2021-05-31 14:41] zzak commented on #42329
Hello Yamaguchi-san,

Thanks for your report!

I've also seen this when trying to use rails edge but haven't gotten around to figuring out why.

[2021-05-31 14:54] #36546 closed

[2021-05-31 15:03] skribm9 opened #42330 "Requesting s390x support in BuildKite CI for Rails"
This feature request is not related to a problem.

We are looking to add s390x support to the existing BuildKite CI to allow testing of the latest build on s390x(IBM Z) architecture.
It seems that Ruby docker image being used in BuildKite CI already supports IBM Z.

Will be glad to discuss and provide any assistance required for this enablement. Hardware/VM access can be also provided if needed. C

[2021-05-31 15:20] senid231 opened #42331 "query method `#eager_loading?` works incorrectly when order by sql contains table name with schema"
### Steps to reproduce
Here's bug report which reproduces the issue

[code]

### Expected behavior
for query like ` ShopPost.includes(:post_detail).order(Arel.sql('shop.posts.id DESC'))` `#eager_load?` should return false.
As result includes should not eager loaded because when are not present in where/order clauses.

### Actual behavior
for query like ` ShopPost.includes(:post_detail).order(Arel.

[2021-05-31 18:40] ethn commented on #19262
A quick note on this long-quiet issue:

Currently `where.not(x: true)` is translated into `x != TRUE` in MySQL. If instead it were translated into `x IS NOT TRUE`, the behavior would be more as expected (and would include null values in the results). This would actually seem _more_ consistent with how the adapter treats other special values. For example, `where.not(x: nil)` currently becomes `x IS

[2021-05-31 18:45] JonRowe commented on #41549
RSpec doesn't load things, Rails does. If it works with controller tests (which use the `rails-controller-testing` gem) or request specs, but not model specs, its because the inclusions for those tests don't include Rails configuration for multiple databases. As we scribe from rails test helpers here its far more likely some lazy loading is failing to load the right things,

[2021-05-31 19:41] blehoux17 opened #42336 "ActionCable connection becomes stale with large number of consecutive events"
### Context
We've set up ActionCable to enable realtime updates with our frontend React client. We're seeing an issue where we hit the `staleThreshold` on the client side when we trigger a large number of events from the server. By default the `staleThreshold` is 6 seconds. This happens because the ActionCable server does not send pings while it's working through the queue of events. Once the queu

[2021-05-31 19:56] JuanVqz commented on #41539
@zzak sure!
Context:
_I have a rails app it was created at 5.X version and recently (about 1 or 2 days) I updated it to version 6.X, then I ran the scaffold command as usual when I was running RSpec I noticed one of the new request tests was failing and I fond the error comes from the **create** method in the controller._

[code]

I removed the  `status: :unprocessable_entity` in the `format.html

[2021-05-31 23:50] zzak commented on #42330
I actually have no idea how BuildKite works, but perhaps @matthewd knows. 🙏

In general, I think we do not accept feature requests in issues, so it's better to open a PR and discuss your needs from there. However, since I don't know where the CI configuration is I will leave this open and hopefully someone can point us in the right direction :bow:

[2021-06-01 00:02] zzak commented on #42331
I wonder if this is related to #41489 🤔 @interip thoughts?

[2021-06-01 00:21] lfalcao commented on #42330
Related https://github.com/rails/rails/issues/39015

[2021-06-01 00:38] zzak commented on #19262
@ethn I understand your perspective here but based on this thread, I think we are not going to change the behavior for `where.not`: https://github.com/rails/rails/issues/19262#issuecomment-273767821

[2021-06-01 01:10] zzak commented on #41549
@JonRowe Fair enough, if someone could help write a [reproduction script](https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_main.rb) that would help us get to the bottom of it :bow:

[2021-06-01 01:24] zzak commented on #41539
@JuanVqz Oh ok, yeah I would expect an attempt to create a model with invalid attributes would not be a successful (200) response.

Was this test something you wrote?

[code]

[2021-06-01 01:29] zzak commented on #42336
@blehoux17 I think some of the `staleThreshold` code changed (for example #40229), and it looks like you're on an older version of Rails. Could you try upgrading?

[2021-06-01 02:30] zzak commented on #41549
@JonRowe @jdarnok Ok, @rails-bot is being a PITA so if you can come up with a [reproduction script](https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_main.rb) can you please open a new ticket? :bow:

[2021-06-01 03:45] joeyvanlierop commented on #31524
For anyone trying to connect using [Postman](https://blog.postman.com/postman-supports-websocket-apis/), you need to add `nil` to the list of allowed request origins like @mahfuz10 did.

[2021-06-01 07:24] zzak commented on #42329
Using the latest commit of ruby to generate `rails new --main`:

[code]

[2021-06-01 07:31] zzak commented on #42329
cc #42257

[2021-06-01 12:55] pixeltrix opened #42343 "Calling `attach` multiple times inside a transaction only uploads the last one"
### Steps to reproduce

[code]

### Expected behavior
Three files are uploaded.

### Actual behavior
Only the last file is uploaded, but all three records are created.

### System configuration
**Rails version**: 6.1.3.2

**Ruby version**: 2.7.2

[2021-06-01 12:57] pixeltrix commented on #42343
Suspect this was broken when uploading was moved to the after commit hook

[2021-06-01 13:00] abhaynikam commented on #42343
@pixeltrix PR #42300 should fix the issue 😊 . I haven't tested the changes on the PR but test cases seems to be passing so worth taking a look at it.

[2021-06-01 13:26] pixeltrix commented on #42343
@abhaynikam thanks for the pointer - I searched for 'active storage attach transaction' so not sure why I didn't fined it 🤷🏻‍♂️

[2021-06-01 13:35] irminsul opened #42344 "ActiveSupport::Duration#iso8601 can produce unparsable values"
### Steps to reproduce

[code]

### Expected behavior

Values of one million seconds and above should not be represented in scientific notation.

### Actual behavior

Values of one million seconds and above are represented in scientific notation, and cannot be parsed by `ActiveSupport::Duration.parse`.

### System configuration
**Rails version**: 6.1.3.2

**Ruby version**: 2.7.3

[2021-06-01 13:46] pixeltrix commented on #42343
Closing - duplicate of #41661

[2021-06-01 13:46] #42343 closed

[2021-06-01 13:53] yamat47 commented on #42329
@zzak Thank you for your comments!

I tried `rails new` again with the latest Ruby and **the latest Rails (at ee8134d6f98660fb4de66e2bafc2e8d8df2ca593)** and this succeeded!
Probably #42257 fixed this problem.

Will #42257 be backported into 6.1 or 6.0?
@casperisfine [says he will backport this into 6.1](https://github.com/rails/rails/pull/42257#issuecomment-844051751), but have not finished yet?

[2021-06-01 14:04] casperisfine commented on #42329
I did backport it to 6-1-stable https://github.com/rails/rails/commit/255b5ff9af57f9b54dee7ec884b12a1ad16f0321

[2021-06-01 14:17] yamat47 commented on #42329
@casperisfine

Thanks!

I also tried with `6-1-stable` Rails and succeeded! I'm looking forward to new 6.1 release🥺

[2021-06-01 15:08] jinhucheung opened #42345 "[ActiveRecord] Primary key alias cannot work on polymorphic query"
### Context

We have 3 kinds of users from different tables. And they have a same resource called profile. So we used polymorphic association on profile model.　

But due to code debt, we need to use the uuid of first kind user as primary key on profile model, and we use the id of other users as primary key. So we used primary key alias to user  association on profile

So we defined the models like

[2021-06-01 15:22] JuanVqz commented on #41539
@zzak no, it comes from the scaffold.
that is the reason we may change `be_successful` for another one since the scaffold returns a `unprocessable_entity`.
what do you think?

[2021-06-01 15:43] jerridan commented on #42336
@zzak I'm working with @blehoux17 on this. The issue we ran into is on the client side, from the npm package, and we are using the latest version (5.2.6).

[2021-06-01 16:10] HParker commented on #42345
Thanks for the issue @jinhucheung

I took a stab at converting this issue to the reproduction script from this page: https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html

And came up with this:
https://gist.github.com/HParker/8f8d69fb2a148d3f2994e0a72886ac95

Please create a new one if I am not capturing the bug correctly! I was able to get rails to generate the `"user_id\" IS NUL

[2021-06-01 17:00] swanson commented on #42315
ActionText defines this setter:

[code]
https://github.com/rails/rails/blob/main/actiontext/lib/action_text/attribute.rb#L42-L45

Which eventually creates a `Fragment` with `from_html`: https://github.com/rails/rails/blob/f95c0b7e96eb36bc3efc0c5beffbb9e84ea664e4/actiontext/lib/action_text/fragment.rb#L17-L19

The `to_s` call there on `ActionText::RichText` adds the wrapper div. So perhaps `Fragmen

[2021-06-01 17:05] HParker commented on #42344
It does look like the behaves strangely.

You can work around this by passing `precision` to `iso8601`

[code]

[2021-06-01 18:22] roseliux commented on #31397
nothing that was mention above help me, what I had to do in the end was to define an enviable variable with
`export RAILS_MASTER_KEY='your master key'`

[2021-06-01 18:37] glennfu commented on #38668
I have an app up for you: https://github.com/glennfu/cable_test/commit/ebb2e2330ff360394cc106e71a655c86987d0b27

Here's the approach:
1. Load page - connection triggers a job, observe that the job sends the socket a message
2. Press button to reload page - 5% of the time, subscription will not be re-created and Job will not be enqueued

The PR definitely fixes it. I tested it by grabbing the [acti

[2021-06-01 19:05] skribm9 commented on #42330
Thanks @zzak and @lfalcao.
I tried to find out the changes required but it would be great if @matthewd can also give some pointers. I will then raise a PR as you suggested.

[2021-06-01 19:47] #42280 closed

[2021-06-01 23:38] ashiksp opened #42351 "Rails credentials no longer returns hash if the value of key is hash"
Recently we have allowed to access nested secrets by method calls by this [PR 42106](https://github.com/rails/rails/pull/42106).

It changed the structure of the result while accessing nested key when the the nested key value is another hash. Earlier it used to return the hash as a result and we could use it to assign or pass set of values to certain code block.

Eg:

[code]

[code]

After patchin

[2021-06-01 23:43] ghiculescu commented on #42351
Thanks for this - I'll have a look into it tomorrow and have a fix soon. In the meantime I imagine `Rails.application.credentials.mailer.smtp_settings.symbolize_keys` would work (but understand you shouldn't have to change your code for this).

[2021-06-02 02:00] HParker commented on #42203
Hey @henrahmagix,

I am confident now that this isn't a rails bug. There is a task that is not a prerequisite task and therefore is not returned from `all_prerequisite_tasks` that is required to drop your database that needs to be reenabled.

I also agree with others that managing your database this way is probably not a great idea. That being said, you can make it work by adding `Rake::Task["db:d

[2021-06-02 02:00] #42203 closed

[2021-06-02 02:39] jinhucheung commented on #42345
Thanks for working on this @HParker

I looked into this schema, It is okay. But we keep same type between pm_user's uuid and other user's id.

So i created a new gist on there.
https://gist.github.com/jinhucheung/45fb4b2116095aca0881bed63dcee4a5

And i also created a simple gist to check this issue. It just used primary key alias on polymorphic association.
https://gist.github.com/jinhucheung/ab55

[2021-06-02 02:59] zzak commented on #42336
@jerridan It looks like the latest version for Rails 6.0 on npm is [6.0.3.7](https://www.npmjs.com/package/@rails/actioncable/v/6.0.3-7), but there are even 6.1 versions available too. Could you try upgrading the npm package and letting us know?

[2021-06-02 03:37] zzak commented on #41607
@sjieg This is a good question, and I will counter with another. Are `headers` in other requests encoded like `params`?

[2021-06-02 06:53] matthewd commented on #42330
As we're pure ruby, we don't expect to need to test on multiple architectures -- as long as the language runtime and any compiled gems work correctly/consistently, we shouldn't see any architecture-induced variations. And, by extension, any such failure that did occur would be beyond our control.

(The Buildkite CI configuration is in https://github.com/rails/buildkite-config, for anyone wondering

[2021-06-02 07:09] Ar2emis opened #42354 "ActiveSupport Time.zone.parse unexpected behavior"
I was trying to fix phantom test falling and found interesting behavior. Why is it so?

### Steps to reproduce
![Screenshot from 2021-06-02 09-57-02](https://user-images.githubusercontent.com/44751949/120438309-dff14900-c389-11eb-8ea2-986ea65d68d6.png)

[code]

### Expected behavior
Expect to return nil

### Actual behavior
Returns current date

### System configuration
**Rails version**: 6.1.3.2

[2021-06-02 07:38] p8 commented on #42031
Hi @ioquatix,
Have you seen the following?
https://github.com/rails/rails/blob/main/actionpack/lib/action_controller/metal/streaming.rb
https://github.com/rails/rails/pull/41488

[2021-06-02 09:14] sjieg commented on #41607
@zzak Good point, no, I suppose not. Also, looking back at this ticket after3 months, the implications that escaping the full header could have is not something you would want.

In that case, I think encoding the `original_filename` should not happen either. I suppose it happens to prevent errors creating the `tempfile`.

Thanks I'll close it. 👍

[2021-06-02 09:14] #41607 closed

[2021-06-02 10:43] zzak commented on #38668
@glennfu Thank you for this additional context, I need some time to sort things out but please feel free to ping me if you haven't heard back. I will also be keeping a close eye on #41581 if anything changes I will let you know :bow:

[2021-06-02 10:49] zzak commented on #42345
I've done a quick search and I wonder if this is related to #16830?

@p8 I know you've been looking through the `SchemaDumper` code recently so maybe you have some ideas? :bow:

[2021-06-02 11:05] zzak commented on #42330
@skribm9 I believe we have our answer, and, correct me if I'm wrong but it seems there is no need to worry about supporting `s390x` for Rails.

That said, I know [ruby](https://bugs.ruby-lang.org/issues/16360) has been working on this using Travis-CI if you're interested.

Giving this a close as there seems to be nothing actionable on our side. 🙏

[2021-06-02 11:05] #42330 closed

[2021-06-02 11:10] zzak commented on #36955
I _think_ this is no longer a problem, and we could close it (that is unless there is some way to re-generate this bug..) 🤔

[2021-06-02 11:10] stevepolitodesign commented on #41795
I'm running into the same issue as @seanharmer

![CleanShot 2021-06-02 at 07 09 54@2x](https://user-images.githubusercontent.com/5122678/120470547-a7457580-c371-11eb-8ffd-decd11d6ce2d.png)

[2021-06-02 11:18] bogdan commented on #42280
Just for my information: will there be a backport to 6-1-stable?

[2021-06-02 12:18] zzak commented on #41693
@ClearlyClaire @aglushkov Could you give #42350 a try and let us know if that solves your issue?

[2021-06-02 12:19] zzak commented on #41547
@JunichiIto Could you give #42350 a try and let us know if that solves your issue? 🙇

[2021-06-02 12:28] eileencodes commented on #42280
Confirmed it's broken in 6.1 and backported in d83a3189d5248479bbf8f123ff8dd0c770e38421

[2021-06-02 12:53] #36955 closed

[2021-06-02 12:58] zzak commented on #42354
@Ar2emis This is intended behavior, while in Ruby `Time.parse('foobar')` will raise an ArgumentError this might be surprising in that regard.

Looking at the [docs](https://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html#method-i-parse):

Which just returns the current time in the default time zone (UTC).

This matches the behavior you're experiencing. :thinking:

All of that said, perhaps

[2021-06-02 12:59] zzak commented on #41607
@sjieg A good argument for this is passing a JWT where the contents are already encoded, so encoding that with UTF-8 would break some applications. I'm sure there are other arguments against it, but (since I'm doing that at work today it came to mind)!

Anyways, thanks for following up and glad you have a working solution either way! :bow:

[2021-06-02 13:10] Ar2emis commented on #42354
I am using FFaker::Lorem.word to trigger validation. As I know `Time.zone.parse('some string')` returns `nil`. But only for that word I am getting current date

[2021-06-02 13:59] jerridan commented on #42336
@zzak Oh! That's very interesting, there are 2 different packages, `actioncable` (5.2.6), and `@rails/actioncable` (6.0.3.7). We've been using the former. I will try switching over and see if that makes a difference.

[2021-06-02 15:39] ghiculescu commented on #42351
https://github.com/rails/rails/pull/42358 should fix this. Can you please confirm?

[2021-06-02 16:30] #41932 closed

[2021-06-02 18:58] fatkodima commented on #41551
Related query will run **only once** and the result will be cached in `SchemaCache`. So, yaml file with cache is basically not effective for models with explicitly specified schemas in `table_name`s.

Yes, it returns a flat list of table names and there is no way to account for schemas without introducing backward incompatibilities.

If you do not have duplicate table names both in `public` and `a

[2021-06-02 19:56] sbeckeriv commented on #41551
@fatkodima Thank you for the reply. it has been a while since I looked the issue. I am not sure that the `SchemaCache` is accounting for the prefix even when it is loaded from the table list.
https://github.com/rails/rails/blob/291a3d2ef29a3842d1156ada7526f4ee60dd2b59/activerecord/lib/active_record/connection_adapters/schema_cache.rb#L82

so this line  `return @data_sources[name] if @data_sources.

[2021-06-02 20:07] ghiculescu commented on #41784
It looks like https://github.com/rails/rails/pull/41789 fixes this and github just didn't close it automatically. Will close the issue, but please reopen if that's incorrect. cc @kamipo

[2021-06-02 20:07] #41784 closed

[2021-06-02 20:10] ghiculescu commented on #41715
Closing as this is expected behaviour. For the best UX, Direct uploads is the way to go. Otherwise there isn't a built-in way of making the upload happen asynchronously on the server side, and probably won't be anytime soon as that could create a lot more complexity (eg. what if the next request wants to interact with the uploaded file?)

[2021-06-02 20:10] #41715 closed

[2021-06-02 20:24] ghiculescu commented on #41660
This test case passes:

[code]

@xronos-i-am the issue in your case is `attribute :vat_coef, :decimal`. This converts `Float::NAN` from a float, to a BigDecimal, which is what causes the inclusion check to fail. I will make a PR.

[2021-06-02 20:47] ghiculescu commented on #41848
@grk  did you find a workaround here?
@lsylvester do you have any ideas on a fix?

[2021-06-02 21:03] AFlowOfCode commented on #41715
I can accept it could create more complexity since I don't know the inner workings of how it is currently implemented. Since I'm talking about small files only, where direct upload is **not** warranted, but large swarms of them when doubled upload time becomes noticeable and undesirable, I'd think a solution to this would have something to do with temporary caching of IO strings prior to the 2nd u

[2021-06-02 21:10] ghiculescu commented on #41715
I'm not sure I understand your solution of temporary IO caching. Could you elaborate?

My understanding of the problem is that there's two different upload events happening.

- From the client (user's browser) to the server
- From the server to the storage host (eg. AWS)

Direct Upload fixes this by making the client upload directly to AWS. I believe your suggestion was to make step 2 run asynchro

[2021-06-02 22:03] fatkodima commented on #40986
@zzak
Wdyt on something like this?
[code]

This is the simplest implementation I can think of. It checks which type is configured and uses it, or fallbacks to default.

[2021-06-02 22:50] zzak commented on #42354
TIL: "sunt" is apparently Latin which explains why its coming out of the `Lorem` gem. But also its close enough to "sunday" that it actually parses.

You can find other similar behaviors typing "mon" or "mont" or "tue" (but not "tu").

I have no idea what defines this behavior yet but I'm guessing it will be rather difficult to change 🤔

[2021-06-02 22:56] ashiksp commented on #42351
Thanks @ghiculescu for the patch changes. It works as expected 👍

[2021-06-02 23:32] ioquatix commented on #42031
Yes, thanks, I am very familiar with Rails' current model for streaming, which is different from what is proposed here. Rails creates an internal queue and buffers it using a thread, but this proposal directly interacts with the server.

[2021-06-02 23:56] davefaliskie opened #42367 "Load Error: Unable to autoload constant ActiveStorage::Blobs::RedirectController"
### Steps to reproduce
Unfortunately, this isn't easily reproducible and happens intermittently. Active storage images configured with S3 on initial page load sometimes do not load & throw this error. If the page is then manually reloaded the images that were missing also reload. I've seen the issue on production and development, I believe it's related to rails 6.

This is the error:
[code]

### E

[2021-06-03 00:00] ghiculescu commented on #42367
Are you using Zeitwerk, or the classic autoloader?

[2021-06-03 00:05] davefaliskie commented on #42367
Assuming that Zetwerk is the default I initially was using that, but I did recently try `config.autoloader = :classic` and the issue was still there.

when I migrated to rails 6 I added this to the config `config.active_storage.replace_on_assign_to_many = false` I don't think that would cause this do you?

[2021-06-03 00:15] ghiculescu commented on #42367
Hmmm, and it's happening intermittently with either autoloader? That's concerning.

No, I don't think so.

[2021-06-03 02:32] zzak commented on #42329
Ok, I was able to confirm that if you "rails new" from a version of Rails that includes the `yaml.load` patch then this works. Closing this issue 🙏

[2021-06-03 02:32] #42329 closed

[2021-06-03 03:13] zzak commented on #41323
@americodls @chrisbloom7 Have you been able to make any progress here? 🙏

[2021-06-03 03:14] zzak commented on #40986
@fatkodima It would help to see some tests, but I think this is a good step in the right direction 👍

[2021-06-03 03:51] vlad-pisanov commented on #31190
We hack around it in Ruby 5.x by adding this monkey patch in `config/initializer/advisory_locks.rb`:

[code]

[2021-06-03 03:59] zzak commented on #41551
🤔 Hmm, if I understand correctly this is the intended behavior. Going based on what @kamipo wrote here: https://github.com/rails/rails/issues/41575#issuecomment-788694209

[2021-06-03 05:15] zzak commented on #42367
@davefaliskie Could you create a reproducible example that demonstrates this issue?

[2021-06-03 07:36] Ar2emis commented on #42354
Thanks, It's enough to me to understand why this happens)

[2021-06-03 07:50] lsylvester commented on #41848
Are you using `on_duplicate` at all? I think that we should only need to find the unique index if we are using the `on_duplicate` option. The original implementation only looked for it if we had a `unique_by` - which you wouldn't have had so the look up would have been skipped. I think that if we only look up the unique index if a `on_duplicate` option is set - then if should work for your case wh

[2021-06-03 07:58] p8 commented on #42345
@zzak Sorry, no idea :smile:

[2021-06-03 10:15] strzibny commented on #34715
I am sorry that I didn't see this issue before, and therefore I am probably too late to chip in.

I believe SQLite is a great production database and would simplify a lot of projects. Using SQLite is not the problem at all, and this warning makes no sense. It's actually wrong unless you want to say Rails doesn't like SQLite.

Arguing about Heroku is a bit weird, since a lot of people actually use

[2021-06-03 11:57] JunichiIto commented on #41547
@zzak I confirmed the issue has been fixed. Thank you!

[2021-06-03 12:23] crokobit opened #42369 "String#in_time_zone (provided by active-support) behavior is different between environment"
### Steps to reproduce

It is environment specific. It hard to have a specific steps to reproduce so I just list the related data here for asking help.

String#in_time_zone (provided by active-support) behavior is different between environment

I am encountering an issue:  String#in_time_zone (provided by active-support) has different behavior between my local environment and the environment on se

[2021-06-03 12:42] mildred commented on #42302
Thank you for the fix, are you considering releasing a patch release for the 6.1 branch?

[2021-06-03 14:02] zzak commented on #42369
Asking the dumb questions here, but is the problem that the timezone configured on your server is different than your local machine? 🤔

[2021-06-03 14:24] Caeleron opened #42373 "Rails console fails to start due to LoadError on trying to require irb"
### Steps to reproduce

Create a new rails project and run `rails console` or `bin/rails console` in the project.

### Expected behavior

The rails console starts successfully.

### Actual behavior

Rails immediately crashes with the following:
[code]
### System configuration
Any x86-64 Arch Linux install with ruby and ruby-irb installed through pacman, and rails installed globally through gem.
No

[2021-06-03 14:26] ghiculescu commented on #42369
Also check the OS, eg. if you develop on a Mac but your server runs Linux, you may have different time zone info files. We use https://github.com/tzinfo/tzinfo-data to standardise this.

[2021-06-03 14:47] pixeltrix commented on #42302
I've backported it here: https://github.com/rails/rails/pull/42374

Just waiting for CI to pass.

[2021-06-03 15:33] AFlowOfCode commented on #41715
You have it right. To me it seems like any solution would likely lie in keeping the file on the app's server until the user receives a response, immediately after which the 2nd upload can take place. As you say offloading it to Redis (or wherever) wouldn't likely save any time since it's essentially still a 2nd upload prior to a response. I don't have a solution but it's a puzzle I'll keep in mind

[2021-06-03 15:48] ghiculescu commented on #41715
I think that's potentially a good approach depending on your infrastructure, but probably not a good general one for Rails. eg. it wouldn't work if you are hosting your app on Heroku because of its ephemeral infrastructure.

Sounds good. Me too. Thanks for bearing with me on this ❤️

[2021-06-03 16:15] pixeltrix commented on #42369
@crokobit on your server can you run `Time.find_zone('UTC')` - this is what I get locally:

[code]

What I think is happening is that you're missing the zoneinfo files - on my computer that `Etc/UTC` maps to the following:

[code]

If that's not there then it'll fall back to the system's timezone.

Is by any chance your server a windows box in China? Windows doesn't have the zoneinfo files which i

[2021-06-03 16:57] KuroBayashi opened #42377 "ActionCable: RemoteConnection.disconnect - Wrong Number of Arguments"
### Steps to reproduce
Hello,

I was trying to find a way to "unsubscribe" an User for a specific Channel from the server side, something like:
[code]
so I could use it when banning an User from a Room, but couldn't find anything that specific, only found this command (from the api doc):

[code]

And here is my code:
[code]
[code]
[code]

### Expected behavior
Like said in the documentation, I was

[2021-06-03 17:15] KuroBayashi commented on #42377
Already reported, didn't see it before, my bad. #41890

[2021-06-03 17:15] #42377 closed

[2021-06-03 17:25] SkipKayhil commented on #42373
I was able to reproduce this:
[code]
in the container:
[code]

I also tried making a plain ruby script that requires irb to make sure irb existed and that worked fine:
[code]

[2021-06-03 20:15] #42261 closed

[2021-06-03 20:56] dmolesUC opened #42380 "PG::UndefinedTable running migrations for namespaced models with references"
### Steps to reproduce

1. Create a new Rails application, e.g. `rails new pgns`.
2. Modify `database.yml` to connect to a Postgres database.
3. Generate two namespaced models, `Foo::Bar` and `Foo::Baz`, with `Baz` referencing `Foo`, as follows:

[code]

4. Invoke `rails db:create`.
5. Invoke `rails db:migrate`.

### Expected behavior

- Migrations succeed for both models.

### Actual behavior

1.

[2021-06-03 20:58] dmolesUC commented on #42380
A sample app demonstrating the problem is at [dmolesUC/rails-42380](https://github.com/dmolesUC/rails-42380).

[2021-06-03 21:56] ghiculescu commented on #42380
Where you did this:

[code]

Does it generate a correct migration if you do this:

[code]

I don't know if we expect the generator to figure out that the reference is namespaced otherwise.

[2021-06-03 22:26] gerry3 commented on #41753
Trying to migrate our codebase to `ActiveRecord::Enum` from the [simple_enum](https://github.com/lwe/simple_enum) gem and ran into this behavior.

The test `"deserialize enum value to original hash key"` (from #41278) indicates that we should expect the original hash key. Should symbols really be an exception?

We would really appreciate an option for this. Curious if there's more to it than just

[2021-06-04 00:38] lfalcao commented on #42373
@SkipKayhil thanks for the script! If someone gets this error:

[code]

Run docker as privileged: `docker run -it archlinux:base-devel bash --privileged=true`

[2021-06-04 01:17] zzak commented on #42373
Here to ask the dumb questions, but is this a bug in bootsnap? 🤔

[2021-06-04 01:24] SkipKayhil commented on #42373
I don't think its bootsnap, possibly bundler?

[code]

this also causes `require 'irb'` to throw an error:
[code]

[2021-06-04 01:32] lfalcao commented on #42373
Nop. Running `DISABLE_BOOTSNAP=1 DISABLE_SPRING=1 bin/rails c` also crashes.

[2021-06-04 01:39] lfalcao commented on #42373
Probably this. Just tried with rvm and worked. The ruby installed by pacman, does not includes 'irb'...

pacman install:
[code]

rvm install:
[code]

[2021-06-04 02:08] zzak commented on #42373
Oh ok, good find @lfalcao it seems that this was change in [arch](https://lists.archlinux.org/pipermail/arch-general/2019-January/045954.html) so we can probably close this issue.

[2021-06-04 02:10] HParker commented on #42373
Looks like irb is installed at `/usr/lib/ruby/gems/3.0.0`

[2021-06-04 02:27] HParker commented on #42373
hmm, very confusing. I haven't found a combination of `GEM_HOME` and `GEM_PATH` that finds the irb pacman installs.

Is it safe to say the best advice for this situation is to use a ruby manager like `rbenv`, `rvm` or `chruby`?

[2021-06-04 02:34] lfalcao commented on #42373
@HParker yep, I think its the best solution at this moment.

ping @anatolik

[2021-06-04 05:26] pixeltrix commented on #42373
Adding `gem 'irb'` to your Gemfile also fixes the problem - for some reason on Arch the gem isn't in the default set of gems, e.g:

[code]

vs.

[code]

I suspect this is a packaging thing in Arch but we should probably make sure before closing otherwise we may need to add `irb` to `railties.gemspec` if it's not going to be included in the default gems in future.

[2021-06-04 05:58] daihm-1041 opened #42382 "this place needs i18n"
https://github.com/rails/rails/blob/cb0a558f42fc6957fac4d2daa16771b72ff7da6e/activerecord/lib/active_record/enum.rb#L140

[2021-06-04 06:34] lfalcao commented on #41795
Hi @brian-kephart thanks for the sample app! :+1:

I don't know if this current behavior is expected or not, but what's happening here is a little bit tricky. So, my first attempt to fix, with less possible changes and keeping everything working was to just check if env was empty and loading `ApplicationController.renderer.defaults` before initialize render.

[code]

I know this is not the optimal

[2021-06-04 07:25] brian-kephart commented on #41795
@lfalcao Thanks for taking a look at this. I'm not sure I follow what you're doing. Are you proposing a change in Rails or a monkey patch in my app?

If you mean a change to Rails, then I'm still not sure how to pass in the defaults. This issue is triggered in my case by using library features (Hotwire's various `:broadcast_later` features) that initiate rendering through some indirection, so I'm

[2021-06-04 07:33] crokobit commented on #42369
My local environment is macOS 10.14.6. And server the server is Debian 10.

### Two system has the same timezone.
@zzak

**on local**
#date
Fri Jun  4 12:34:22 CST 2021
#date +"%Z %z"
CST +0800

**on server**
#date
Fri Jun  4 12:34:26 CST 2021
#date +"%Z %z"
CST +0800

### The zoneinfo of /Etc/UTC is a little bit different. at the end of zoneinfo /Etc/UTC file on the server is “CST-8” but on my lo

[2021-06-04 07:41] byroot commented on #42382
Would you mind giving more context? I don't see how this error could possibly be shown to the end user.

[2021-06-04 07:51] daihm-1041 commented on #42382
enum status: { reject: 0, approved: 1 }
when update status: 9999, validate false -> show errors "9999 is not a valid status",
I want to use the translation for this place?
so I have to overwrite this place and add I18n

[2021-06-04 07:56] byroot commented on #42382
`"9999 is not a valid status"` is an exception, not a validation error, so it shouldn't be shown to the user.

So I don't know what you are doing, but based on the information you provided it looks like a bug in your app, not in Rails.

[2021-06-04 08:04] kamipo commented on #42382
Probably it is a same issue with #13971.

Currently there is no official way to translate the invalid enum error to validation error, for now people overrides the enum attribute for the purpose described at #41730.

[2021-06-04 08:08] daihm-1041 commented on #42382
sorry i'm wrong, not a validation error, I just want to add translate for this exception message

[2021-06-04 08:23] daihm-1041 commented on #42382
Please tell me how to get model name in Module Enum.

[2021-06-04 08:43] byroot commented on #42382
We don't translate exception messages.

[2021-06-04 09:18] koki-miyazaki opened #42384 "controller_name returns nil in Helper Specs"
### Steps to reproduce

This minitest will fail
https://gist.github.com/koki-miyazaki/b3918113cb324097ebf2203213c212e9

### Expected behavior

The above test won't fail
`#controller_name` method returns `test` string

### Actual behavior

The above minitest fails
`#controller_name` method returns nil

Before 6.1.0, `controller_name` returned string `test`

The PR made `@controller` to be a subclas

[2021-06-04 09:21] ankane opened #42385 "Active Record encryption requires `primary_key` and `key_derivation_salt` with custom key provider"
### Steps to reproduce

Hi, it looks like Active Record requires `primary_key` and `key_derivation_salt` to be set for encryption even if they're not used (which may be the case for custom key providers).

[code]

### Expected behavior

No error

### Actual behavior

Errors with:

[code]

### System configuration
**Rails version**: main

**Ruby version**: 3.0.0

[2021-06-04 10:11] FlorisXll opened #42386 "GeoIP Lite Country url in localization guide gives 404"
### Steps to reproduce
Go to the [localization by ip guide section](https://guides.rubyonrails.org/i18n.html#inferring-the-locale-from-ip-geolocation) and follow the GeoIP Lite Country link.

### Expected behavior

Opens a GeoIP Lite Country page with a 200 status code.

### Actual behavior

Returns a page with a 404 status code.

[2021-06-04 10:17] ball-hayden opened #42387 "Delegated Type associations do not cascade"
### Steps to reproduce

Consider the following:

[code]

### Expected behavior

Having assigned an author to the book, I expect to be able to ask the book details about its author.

### Actual behavior

The book's details have a `nil` author.

### System configuration
**Rails version**: "~> 6.1"

**Ruby version**: "ruby 3.0.1p64 (2021-04-05 revision 0fb782ee38) [x86_64-darwin20]"

[2021-06-04 10:37] ankane opened #42388 "Extra calls to Active Record encryption key provider"
### Steps to reproduce

Hi, it looks like the key provider gets called a number of times when creating a record with a single encrypted attribute. This can cause extra latency and cost if you use an external key management service like Amazon KMS (discovered when working on https://github.com/ankane/kms_encrypted/issues/33).

[code]

### Expected behavior

1 call to `encryption_key` and no calls t

[2021-06-04 10:38] hahmed commented on #42386
Thanks for reporting the issue @FlorisXll

We can update the docs to point to the right link, maybe https://dev.maxmind.com/geoip/geolite2-free-geolocation-data ?

Do you want to open a PR to address the doc updates?

[2021-06-04 10:43] hahmed commented on #42386
Here is the PR where it's been updated https://github.com/rails/rails/pull/42372

[2021-06-04 11:10] FlorisXll commented on #42386
Alright, let's close the issue then.

[2021-06-04 11:10] #42386 closed

[2021-06-04 11:50] zzak commented on #42373
@pixeltrix That is indeed the case:

https://lists.archlinux.org/pipermail/arch-general/2019-January/045954.html

[2021-06-04 11:54] pixeltrix commented on #42369
@crokobit looks like your zoneinfo data is corrupt - this is what it is on Ubuntu 21.04:

[code]

That matches your Mac's local copy - going to close this since it doesn't appear to be a bug in Rails

[2021-06-04 11:54] #42369 closed

[2021-06-04 12:17] brunocalmels commented on #37333
I'm still experiencing this issue on `rails@6.0.0` and `actionpack-action_caching@1.2.1` on many projects. Weird there's not many more people coming across this.

[2021-06-04 13:03] crokobit commented on #42369
Thank you @pixeltrix :)

[2021-06-04 13:16] abhaynikam commented on #42380
@dmolesUC Like @ghiculescu mentioned in the above comment. Active Model generator doesn't lookup for namespace and would generate a migration file with the reference name received.

The attributes passed to the generator are parsed here: https://github.com/rails/rails/blob/main/railties/lib/rails/generators/generated_attribute.rb#L36

[2021-06-04 14:27] ghiculescu commented on #42384
@jhawthorn do you know if this was an intended side effect of https://github.com/rails/rails/pull/40125 ?

[2021-06-04 14:34] HParker commented on #42384
Based on the comment on the PR it looks like we are aware, but it looks like `controller_path` will also return nil when the test class is anonymous before this change.

I am curious about this @koki-miyazaki . Is your helper doing something like `controller_name.match?(<something>)`? I am not sure how much more useful a string "test" is compared to nil.

That being said the PR already discussed h

[2021-06-04 14:38] ghiculescu commented on #41795
Thanks for the great detail. This is an interesting bug. Some quick notes:

- turbo-rails calls [`ApplicationController.render`](https://github.com/hotwired/turbo-rails/blob/2945dcb7c5fc634ad7d459e0872cf04cf8a3576d/app/channels/turbo/streams/broadcasts.rb#L64). `config.action_controller.default_url_options` should resolve that. I couldn't see that in your sample app; can you confirm that it does?

[2021-06-04 14:45] ghiculescu commented on #42388
@jorgemanrubia can you confirm if this is expected or a bug? It feels like a bug but it's a pretty new feature (🎉 ) and I haven't used it yet so wouldn't mind a sanity check.

[2021-06-04 14:52] jorgemanrubia commented on #42388
Definitely not intended. Using an external key provider looks like a good reason to optimize this. I'll have a look and see how to fix. Thanks for reporting @ankane.

[2021-06-04 15:21] ghiculescu commented on #42387
This is surprising:

[code]

[2021-06-04 15:24] ball-hayden commented on #42387
Agreed - now I know that this is the behaviour I can sort of reason why, but it's definitely surprising.

[2021-06-04 15:25] pixeltrix commented on #42373
I saw that, but it's in reference to Ruby 2.6 - isn't this new bug?

[2021-06-04 15:28] ghiculescu commented on #42387
This also passes, and matches the delegated types docs a bit more closely:

[code]

I agree it's weird though.

[2021-06-04 15:29] Caeleron commented on #42373
As a followup, I found an AUR package that provides Rails and pulls it into the system through the package manager:

https://aur.archlinux.org/packages/ruby-rails/

However, there is no change in behavior and the same bug occurs.

[2021-06-04 15:44] pixeltrix commented on #42373
@zzak looks like that is the cause - here's the line where irb is removed:
https://github.com/archlinux/svntogit-packages/blob/packages/ruby/trunk/PKGBUILD#L75

Then in ruby-irb it's just a regular `gem install`:
https://github.com/archlinux/svntogit-community/blob/packages/ruby-irb/trunk/PKGBUILD#L22

Not sure of a way to install a gem and place it in the default set? If there isn't then Arch nee

[2021-06-04 15:59] jerridan commented on #42336
Alright, we've upgraded to use `@rails/actioncable`, and the version installed is `6.1.3` (which is odd because npm docs say `6.0.3-7` is the latest).

In any case, we are able to reproduce the same issue with the newer package. Applying our patch resolves this issue.

One thing we didn't note before is that in order to reproduce this more easily on a local machine, we changed the `staleThreshold`

[2021-06-04 16:04] Caeleron commented on #42373
Can confirm that does indeed solve the problem and irb loads correctly after adding it.

[2021-06-04 16:13] anatol commented on #42373
The rationale behind splitting `irb` from `ruby` distribution is that irb development moved to [a separate repository](https://github.com/ruby/irb). And ruby distribution is in a weird state right now. From one side they ship `irb` as a part of default gemset. From other side if a CEV happens then ruby developers suggest to update `irb` as a standalone gem using `rubygems`.

default gemset and sta

[2021-06-04 16:29] pixeltrix commented on #42373
@anatol my understanding of gemifying the standard library is to allow updates outside of Ruby release cycles but there would be gems like irb that remained 'standard', (i.e. could be required directly) and others would be 'bundled' where you'd need to include them in your Gemfile. Sometimes gems go from standard to bundled, like rexml has recently.

There's more information available here: https:

[2021-06-04 16:40] #42218 closed

[2021-06-04 17:29] lfalcao commented on #41795
Hi @brian-kephart, I was suggesting a possible way to fix into Rails core. But its not the ideal, as it would not work with multipe hosts too. What you and @ghiculescu said, gave me some insights. Later I'll try to take a look into this again.

[2021-06-04 17:34] jhawthorn commented on #42384
This was intentional https://github.com/rails/rails/pull/40125/files#r481338088 it is valid for `controller_name` to be `nil`. However I don't feel strongly that it must be that was if there's a compelling use case for test controllers to return `"test"`.

[2021-06-04 17:36] #42201 closed

[2021-06-04 17:41] brian-kephart commented on #41795
@ghiculescu Yes, setting the config fixes the issue in the sample app, and is how I fixed my production app.

I love the idea of automatically setting the host for ActiveJob::Base using the approach in those PRs. Duplicating the approach seen in [this commit](https://github.com/rails/rails/pull/32085/commits/a9d1167b1fdae6f5f5496738b3e7d1e05949dcd0) seems like it would do the job nicely.

[2021-06-04 18:52] pixeltrix commented on #42367
Since we're certain that `.../blobs/redirect_controller.rb` does define the constant the most likely cause for that error is a an exception when loading the file. There's not much in there so the likely candidates are `include ActiveStorage::SetBlob` and the `ActiveStorage::BaseController` class. The former doesn't seem like it could cause any trouble but the latter calls `protect_from_forgery` -

[2021-06-04 19:02] pixeltrix commented on #42354
Ruby's time and date parsing is a bit weird - this quirk is often referred to as '23 dogs' day:

https://twitter.com/tomstuart/status/668795250190757888

[2021-06-04 19:02] #42354 closed

[2021-06-04 20:26] davefaliskie commented on #42367
I'm not sure I do have `protect_from_forgery prepend: true` set in application_controller.rb I don't think that's the same thing your talking about but maybe I need the prepend: true to be added in the ActiveStorage::BaseController? Do you suggest I overwrite that or is there some other way you think I could go about knowing if protect_from_forgery is the issue? I also updated the post with some m

[2021-06-04 20:28] davefaliskie commented on #42367
I wish, unfortunately I'm not able to consistently reproduce this. I did add a bit more context of the error logged to the original post. But I still can't fin the root cause or even get it to happen consistently.

[2021-06-04 23:22] zzak commented on #37333
@brunocalmels Would you be able to help test if this is still an issue on the [main branch](https://github.com/rails/rails/blob/main/guides/bug_report_templates/action_controller_main.rb)?

[2021-06-04 23:25] zzak commented on #42380
Yeah, my guess is "_" is used for generating CamelCase and not `::` namespace resolution. _Maybe_ we could make it take a --namespace flag to use for lookup? 🤔

[2021-06-05 00:47] schneems commented on #9679
This hasn't been commented on since 2016 can we close this issue?

[2021-06-05 00:58] ghiculescu commented on #9679
I think so. If still an issue, let’s make a new issue or better yet, a PR.

[2021-06-05 00:58] #9679 closed

[2021-06-05 15:25] brunocalmels commented on #37333
I forked @bschmeck's [repo](https://github.com/bschmeck/live_caching_demo) and updated Rails source to use [main branch](https://github.com/rails/rails). You can check it out [here](https://github.com/brunocalmels/live_caching_demo).

I confirmed the issue is not occurring any more.

[2021-06-05 15:56] kirs commented on #42271
:wave: I'm not an expert in concurrent programming and Async internals, but I'm passionate about making Rails and ActiveRecord compatible with the Async stack and I took a peak at this. I think it has a lot of potential impact for serving high throughput workloads in a very efficient way with fibers.

I was able to make AR configuration accept `pool_class` and make the pool implementation pluggabl

[2021-06-05 20:52] ioquatix commented on #42271
Yes this sounds like a good first step - making the connection pool a configuration option. Right now, the pool class would be specific to the adaptor class too, so I wonder if we can make some default interface here, e.g. `adapter.default_pool` or something.

[2021-06-06 01:28] ioquatix commented on #42271
Okay, I've added a failing spec: <https://github.com/socketry/async-http/commit/809a307a3618f423c6f3ff0a98e3569c305755f0>

This will be addressed by <https://github.com/socketry/async/pull/116>.

[2021-06-06 05:04] j1wilmot commented on #26011
I believe this can be closed since https://github.com/rails/rails/pull/28480 was merged.

[2021-06-06 05:55] pixeltrix commented on #26011
@j1wilmot yes, thanks 👍🏻

[2021-06-06 05:55] #26011 closed

[2021-06-06 07:29] koki-miyazaki commented on #42384
@HParker

In my project, I use `controller_name` like:
[code]
and if controller is PostsController, current_resource returns `@post`

I just not want to break my test case which calls the method above (In fact I can stub `controller_name`, but I want to confirm whether the change was intentional and will fix in later version or not)

[2021-06-06 14:24] HParker commented on #42384
I see. Thanks @koki-miyazaki !

I think stubbing controller name in your tests might be a good option.

That is actually what rails does as well:
- https://github.com/rails/rails/blob/96f2cd010e27ad66abb5ea435949dbc48324abfd/actionpack/test/controller/render_test.rb#L12
- https://github.com/rails/rails/blob/96f2cd010e27ad66abb5ea435949dbc48324abfd/actionview/test/actionpack/controller/capture_test

[2021-06-07 03:14] koki-miyazaki commented on #42384
@HParker

Ah that's reasonable. Thanks so much :)

Yes some other guys might be facing the same problem.

[2021-06-07 06:14] zzak commented on #37333
@brunocalmels Glad to hear and thanks for giving it a shot. I'm going to close this but please feel free to open a new bug report if you can reproduce it.

[2021-06-07 06:14] #37333 closed

[2021-06-07 07:09] shrkw opened #42411 "Rails 6 keep dirty attributes after rollback"
### Steps to reproduce

[code]

Above simple code changes the behavior between Rails 5 and Rails 6.

On 5.2.6, the instance discard the dirty attributes after rollback.

[code]

Executable testcase is here.
[code]

However on 6.0.3.7, the instance keep the dirty attributes even after rollback.

[code]

Executable testcase is here.
[code]

### Expected behavior

Is this designed behavior? If not, I

[2021-06-07 08:03] yoones commented on #42411
https://api.rubyonrails.org/v6.1.3.2/classes/ActiveRecord/Transactions/ClassMethods.html

I believe this is not a bug as only database changes are to be kept/discarded.

[2021-06-07 14:39] ghiculescu commented on #42411
So we can be confident there's a change between versions, could you please make an executable test case? https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case

[2021-06-07 16:55] alexandreruban opened #42415 "ActionMailer default values should not be evaluated when overridden"
### Steps to reproduce
I opened a PR #41157 in January solving a small bug on ActionMailer default values that are evaluated even when they are overridden in the mailer instance method.

I never opened an issue because I could submit the PR directly. However it was marked as stale by rails-bot before someone could review it and I would love to solve this bug (the test is still failing today).

Her

[2021-06-07 17:11] andykallhoff commented on #41549
I am getting this exact same error. However, my env is slightly different:
[code]

@zzak I didn't do a reproduction script, but I did do a [sample project repo](https://github.com/andykallhoff/multi-tenant-minitest) on my github page. Will report back if I find a workaround.

[2021-06-07 17:16] p8 commented on #41660
@xronos-i-am, the `vat_coef` attribute is defined as a decimal, so `NaN` gets converted to a BigDecimal.
I can make the reproduction script pass by either changing:
[code]
Or
[code]

[2021-06-07 17:20] p8 commented on #42415
hey @alexandreruban, I'll have look to see if I can find the problem.

[2021-06-07 17:31] eileencodes commented on #41549
I looked at the sample project and I can see why this is broken. These roles are incorrect, they cannot be `all` they must be `writing`:

[code]

The only way `all` can be used is by setting the `config.active_record.writing_role` to `:all` and I don't see that set in your application. So Rails can't find the `pool` because it's looking for `pool` under the `writing` role for the shard. Rails does

[2021-06-07 17:47] pixeltrix commented on #42100
One solution if you don't want to downgrade docker is to use `tmpfs` for `/tmp` - just add the following to your service in docker-compose.yml:

[code]

That fixed some failures I was seeing with the Dragonfly gem which were the same underlying docker issue.

[2021-06-07 17:54] andykallhoff commented on #41549
@eileencodes appreciate you! This is the piece I was missing: `config.active_record.writing_role`. My mistake, I assumed since we are utilizing a permissions gem for actual permissions, I thought the role names wouldn't matter.

[2021-06-07 18:05] #42344 closed

[2021-06-07 18:11] eileencodes commented on #41549
I thought about it a bit more and while this was implemented incorrectly the error you're getting isn't right. It should be that there's no connection pool rather than an undefined method. I'll look at improving the error handling so it's raising the correct one.

[2021-06-07 18:14] JoshCheek commented on #41549
We're dealing w/ this issue, as well :P If you want an env where it's reproduced (not whittled down to a minimal script, though), then you're welcome to jump on the call where we're trying to debug it :) https://meet.google.com/ekf-zngc-oec

[2021-06-07 18:38] JoshCheek commented on #41549
This fixed it for us.
![image](https://user-images.githubusercontent.com/77495/121070946-8ecbc580-c78c-11eb-940c-7468d1b9bd44.png)

I don't really understand why, but once I got down into the code that was blowing up, and read the comments around there, I saw an example that did that, which worked ([here](https://github.com/rails/rails/blob/6-1-stable/activerecord/lib/active_record/connection_adap

[2021-06-07 19:07] swalke16 opened #42417 "ActionView::Digestor error resolving template for derived controller inside module"
### Steps to reproduce
Make a simple rails app with a derived controller inside a module that makes use of caching via `fresh_when`, WITHOUT having it's own view templates and make a request to the derived controller.

My simple example has two models `Article` and `User` and three controllers `ArticlesController`, `UsersController`, and `ArticlesControllers::UserArticlesController`.

Routes are d

[2021-06-07 19:12] eileencodes commented on #41549
That's not really a fix if someone intends to use multiple databases - however there's no reason to use connects_to in your app if you aren't using replicas so that change is fine for your app @JoshCheek

I reopened this so I remember to fix the error message, but the only repro provided so far is a misconfiguration, not a bug in Rails. This other incident of this bug also feels like a clear case

[2021-06-07 19:14] #41660 closed

[2021-06-07 19:20] ghiculescu commented on #42415
I think the fix in https://github.com/rails/rails/pull/41157 is fine @p8 - just needs to get merged.

[2021-06-07 19:50] JoshCheek commented on #41549
A little confused on this one, we do have multiple databases (so it seems like "that's not really a fix" would apply to us), and we aren't using replicas. Different models come from different databases.

Honestly, it wouldn't surprise me if they all turn out to be configuration issues. I assume we're all following along with https://guides.rubyonrails.org/active_record_multiple_databases.html but

[2021-06-07 19:52] JoshCheek commented on #41549
FWIW, I did attempt to reproduce it from scratch on a brand-new minimal Rails app, and did not encounter this issue.

[2021-06-07 19:56] agvald commented on #42259
with PostgreSQL it will drop the correct index, no problems.
I am not fully aware what other databases i should test with.... (Is it still  SQLite, MySQL and PostgreSQL?)
Don't see much value in testing this unless we know a fix is wanted/would be accepted...

If someone can confirm this feature-enhancement is wanted I'll have a go at fixing the code for rename_column and create a PR :D
I am assum

[2021-06-07 20:22] fxn commented on #42319
I remember we discussed this in core when doing the integration, and the consensus was that right now we do not support several application instances. `Rails.application` is a singleton.

@rafaelfranca do you remember? Should we correct that documentation?

[2021-06-07 20:38] p8 commented on #42415
@ghiculescu, thanks :) I misread that.

[2021-06-07 20:43] p8 commented on #42411
I think this is by design:
https://github.com/rails/rails/pull/35987

[2021-06-07 20:59] modosc commented on #42319
any idea why [this spec](https://github.com/rails/rails/blob/f95c0b7e96eb36bc3efc0c5beffbb9e84ea664e4/activemodel/test/cases/railtie_test.rb) works even with this change? this is exactly what i'm trying to do.

[2021-06-07 21:00] eileencodes commented on #41549
Sorry I meant multiple connection types. Your model in this example is using only a writing connection - so `connects_to` isn't necessary. But if someone had replicas then using `establish_connection` won't work.

[2021-06-07 22:48] jhawthorn commented on #42384
I also don't feel strongly. It seems a bit more "correct" to return `nil`, since it is an anonymous controller, it isn't named "test" (and in the example given reading the `@test` instance variable also feels off). However I don't know if we gain anything from the more correct behaviour and clearly it's causing some upgrade friction, so let's add the override to restore the old behaviour 🙂.

[2021-06-08 01:05] q3aiml opened #42421 "Strict loading does not cascade down to middle records of through associations"
### Steps to reproduce

[code]

### Expected behavior
Strict loading cascades down to middle records of through associations regardless of if those middle records are already preloaded through a direct association.

### Actual behavior
Strict loading does not cascade down to the middle records of through associations if those middle records are not already preloaded.

### System configuration
**Ra

[2021-06-08 01:28] #42384 closed

[2021-06-08 06:03] shrkw commented on #42411
Yeah, it looks desgin and the chage makes sense.
You make my question clear! Thank you so much!

I added exectuable test case on descripton for more infromation.

[2021-06-08 06:03] #42411 closed

[2021-06-08 08:48] kirs commented on #42271
Oh yeah, `adapter.default_pool is a nice idea. I can PR something for that.

[2021-06-08 09:14] henrahmagix commented on #42203
Makes sense, thanks @HParker =)

[2021-06-08 10:12] kirs commented on #42271
Hmm, it's the pool implementation that initializes the adapter: https://github.com/rails/rails/blob/main/activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb#L642

At that point all we have is the adapter name like `mysql2`, not even `ConnectionAdapters::Mysql2Adapter`. If we had the latter we could have called to `ConnectionAdapters::Mysql2Adapter.default_pool` but we ca

[2021-06-08 10:38] ioquatix commented on #42271
Actually it’s fine by me because the adapter itself is the most important part. So it’s fine to create the connection pool from that if it’s easier.

[2021-06-08 12:51] rmcbarreto commented on #40508
Hi, I am opening this issue because I followed the docs and had exactly the same problem.

This trick solved the issue but is this normal behavior? If it is, shouldn't it be in the docs as @la-ruby mentioned?

I am using ruby 3.0.0 and rails 6.1.3.2.

[2021-06-08 14:06] glennfu commented on #38668
Just wanted to follow up here and say I've applied the PR to my production environment where I was logging hundreds of failures to connect per day and now they're pretty much all connecting now. Big win.

[2021-06-08 15:26] intrip commented on #40855
@gat-bryszard related to https://github.com/rails/rails/issues/40855#issuecomment-824363624

That's because `ActiveStorage::Current` uses https://github.com/rails/rails/blob/69dfa29135d13f7e2316e871420012308a84e021/activesupport/lib/active_support/current_attributes.rb#L152 Which stores the settings on a [Fiber local variable](https://ruby-doc.org/core-2.7.0/Thread.html#method-i-5B-5D) hence when

[2021-06-08 15:46] ghiculescu commented on #12178
Closing as this is super old and Rails 4 is end of lifed. If it's still a problem today, let's open a new issue so that's more clear.

[2021-06-08 15:46] #12178 closed

[2021-06-08 16:48] Flixt opened #42424 "Duplicate escaping of quotes in check constraint expressions (MySQL)"
### Steps to reproduce
With a check constraint in the (MySQL) database and the Rails project set to use the schema.rb format I end up with duplicate escape sequences for quotes in the expression of the check constraint.

1. Add a migration that adds a check constraints with an expression that includes quotes.
2. Run the migration (it runs fine)
3. Check the generated `schema.rb`
4. The generated `

[2021-06-08 17:26] krtschmr commented on #41520
Should not be stale (:

[2021-06-08 17:51] rafaelfranca commented on #42278
@fxn which character encoding do you expect `request.params` to use when you instantiate a `ActionDispatch::Request`?

If the controller is not know, the character encoding should be binary and I think the encoding validation would pass for any input.

I think that is a better change than making the parameters UTF-8 and not validating the input.

[2021-06-08 18:24] fxn commented on #42278
@rafaelfranca That's a great question.

I also believe it should be binary, meaning, we don't know at this point.

Because `AD::Request` is not a generic class that you can instantiate anywhere (for which [default encodings](https://github.com/rails/rails/blob/5adb6a9a98a33c699b184fdb6f38ddea740fbe86/railties/lib/rails.rb#L20-L24) would probably be the natural choice), but a class intended to help

[2021-06-08 18:28] fxn commented on #42278
To give you a concrete example: This issue originated in middleware stack above a SendGrid webhook.

SendGrid sends email metadata, and params that tell you their encoding. So, you truly can't assume anything before reaching the controller.

[2021-06-08 18:32] adrianna-chang-shopify commented on #42278
@rafaelfranca and I had a chat about this and we've decided to move the [encoding into the controller](https://github.com/rails/rails/blob/main/actionpack/lib/action_controller/metal.rb#L200), with `AD::Request` using binary encoding. I'll update the PR I opened to move the encoding from the router into the controller and ensure we've documented the fact that encoding with `AD::Request` is binary

[2021-06-08 18:33] fxn commented on #42278
Fantastic @adrianna-chang-shopify!

[2021-06-08 19:22] garth-bldup commented on #25197
For anyone googling why their form labels aren't showing up by default as per the docs, it appears the decision on form labels and field id's for some subset of Rails 5.x.x was to add a "for" option to labels and require explicitly using an "id" option on fields. So calling something like

[code]
is probably what you want

[2021-06-08 19:22] intrip commented on #40855
https://github.com/rails/rails/issues/39566 would definitely help, until we'll have that feature I was wondering if showing a more meaningful error when `ActiveStorage::Current.host` is `nil` would help, @zzak what's your take on this?

[2021-06-08 20:26] ghiculescu commented on #40744
@msducheminjr could you please fix the merge conflict on https://github.com/rails/rails/pull/40745

[2021-06-08 21:13] jasondoc3 commented on #40855
For those looking for a quick fix, I've been able to workaround this by monkey patching  `ActiveStorage::Blob#service_url`
[code]

[code]

[2021-06-08 22:47] rafaelfranca commented on #42424
Yes. Please open the PR.

[2021-06-08 22:56] rafaelfranca commented on #42319
There was some work in the past to make multiple applications possible, but the place we are right now it is not possible since the work was never finished. Since we have no plans to finish I think we should remove the documentation.

[2021-06-08 22:58] #42415 closed

[2021-06-09 01:08] HParker commented on #42417
Thanks for the issue @swalke16

This is an interesting one. If you put a template at `articles_controllers/user_articles/index.html.erb` it will actually find it and use it. Since it isn't there Rails file system resolver will find the correct template to use. this code doesn't exist for deciding on etags yet.

for a workaround, you can specify `template:` in your call to `fresh_when`. something l

[2021-06-09 08:26] zzak commented on #40508
@rmcbarreto @la-ruby Is this still an issue with the current docs? Then we should consider fixing them 🙏

[2021-06-09 08:40] mur-wtag commented on #37389
why this issue is `closed`!??

[2021-06-09 09:11] rmcbarreto commented on #40508
@zzak Yes, I followed the latest docs and this fix is not in there.

[2021-06-09 10:14] zzak commented on #41520
@ghiculescu Still interested in working on this?

[2021-06-09 10:22] zzak commented on #40855
@intrip I think just inheriting the application url would help yes. Alternatively `attachment.url` should not raise an exception if `ActiveStorage::Current.host` is nil but a warning instead? 🤷

[2021-06-09 11:13] raldred commented on #41567
Having issues with Sendgrid's inbound parse API posting incorrectly encoded UTF-8 strings.
Like with @martinlevesque's example of Paypal, they may not be compliant with RFCs, but often people will have endpoints that are hit by third parties who they have possible influence on ensuring they're following standards.

[2021-06-09 11:33] smt116 opened #42430 "Inconsistent behavior of `dependent: :destroy_async` for the`has_many` association"
### Steps to reproduce

1. Generate a new application:

[code]

2. Apply the following diff (add models):

[code]

### Expected behavior

Consistent behavior when removing records asynchronously via passing a new list to the `has_many` association (replacing). When you delete an object using `parent.has_many_attr.first.destroy!`, Active Record will update the child's foreign key to `nil` and sched

[2021-06-09 11:35] smt116 commented on #42430
Note that using `dependant: :destroy` works as expected:

[code]

[2021-06-09 13:51] swalke16 commented on #42417
@HParker  Thanks for the reply!   I think ideally the etag generation and template resolution system would follow the same lookup rules, but like you said that's likely a nontrivial and possibly non-performant solution for what may not be a common use case.

We can use the workaround for now, and maybe this becomes a potential enhancement for a future version.

[2021-06-09 15:27] ghiculescu commented on #37389
Hi @mur-wtag , the issue was closed as it was not clear what the issue was, or if there is a bug in Rails here.

It would be really helpful to see an executable test case - https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case - to replicate if there is a specific bug here.

[2021-06-09 15:28] intrip commented on #40855
@zzak good point, I'd start with a PR which logs a warning and returns `nil` when `.url` is not set, ok for you?

[2021-06-09 15:29] ghiculescu commented on #41567
@raldred  if I'm reading it right, https://github.com/rails/rails/issues/42278 is a similar issue (it also mentions Sendgrid!) and it looks like @adrianna-chang-shopify has plans on fixing it 👍  It would be great to centralise the discussion on there.

[2021-06-09 15:29] ghiculescu commented on #41567
Oh, even better, could you see if https://github.com/rails/rails/pull/42396 fixes the issue for you?

[2021-06-09 15:37] ghiculescu commented on #42430
Thanks for the detailed bug report. Would you be interested in helping to contribute a fix? A huge start would be to add a failing test that replicates the bug: https://github.com/rails/rails/blob/main/activerecord/test/activejob/destroy_association_async_test.rb would be a good place for it to live.

I imagine the bug is somewhere in here https://github.com/rails/rails/blob/main/activerecord/lib/

[2021-06-09 15:46] dgageot opened #42432 "Blank query can't be executed on a readonly database connection"
Trying to execute a blank SQL query on a readonly (role: :reading) database connection always fails with this error:

[code]

### Steps to reproduce

[code]

or if you deep dive into why Rails thinks the query can't run on a readonly database:

[code]

### Expected behaviour

The query should be allowed to execute on a readonly connection.
It would return an empty result like when it runs on a rea

[2021-06-09 15:57] ghiculescu commented on #42432
Thanks for the bug report - https://github.com/rails/rails/pull/42433 should fix this, can you please confirm.

[2021-06-09 16:13] jshumakerpruitt opened #42434 "ActiveStorage migration: NoMethodError: undefined method `attachment'"
### Steps to reproduce
[code]

### Expected behavior
Migrations with `t.attachment` work

### Actual behavior
[code]
### System configuration
**Rails version**:
5.2.6

**Ruby version**:
ruby 2.5.8p224 (2020-03-31 revision 67882) [x86_64-darwin19]

[2021-06-09 16:15] dgageot commented on #42432
Thanks @ghiculescu for the super fast fix.

Actually, I forgot one **important** thing: the queries we send are not totally blank. They are suffixed with a comment added by [marginalia](https://github.com/basecamp/marginalia)

Something like:

[code]

So `sql.blank?` will not be enough

[2021-06-09 16:23] smt116 commented on #42430
@ghiculescu I will prepare a PR with a fix.

[2021-06-09 16:27] HParker commented on #42432
Thanks @dgageot for the issue,

One thing that might help this issue is explaining why you want to run empty queries. I agree it isn't a write query and probably should error that way, but understanding why you want to run empty queries would be helpful for understanding what the best fix might be.

[2021-06-09 16:46] raldred commented on #41567
Awesome thanks @ghiculescu and sorry for dragging up a closed thread, been stuck with this one for a while.

[2021-06-09 16:47] HParker commented on #42434
Thanks for the issue @jshumakerpruitt!

I think it is clear the docs should be improved here

This is the same issue as: https://github.com/rails/rails/issues/42296 which updated the docs here: https://github.com/rails/rails/pull/42391 to make it clearer how to setup your model for active storage

Repeating the previous issue,

- https://github.com/rails/rails/issues/42296#issuecomment-848890782

[2021-06-09 16:50] SkipKayhil commented on #42434
I believe this was added in ecdcf06cb2e19e4bd2d883fbf3908cf196cfc1a5, so this feature wouldn't be available in Rails 5.2.

I'll make a PR to update the docs indicating that Rails 6.0 is required to use `:attachment` and `:attachments`

[2021-06-09 16:52] raldred commented on #42278
Happy to test this, we too are seeing issue with processing binary params from Sendgrid's inbound parse API.

[2021-06-09 17:04] jshumakerpruitt commented on #42434
@SkipKayhil Thanks for that info.  What generator syntax or column type should I use in a 5.2 app?

[2021-06-09 17:06] SkipKayhil commented on #42434
I believe the correct way would be to not specify the attachment in the generator, and to add `has_one_attached :avatar` to the model yourself

[2021-06-09 17:12] jshumakerpruitt commented on #42434
@SkipKayhil Thanks for the quick reply!  Feel free to close this issue

[2021-06-09 18:39] dgageot commented on #42432
Sure, we have a few cases where we don't query the database though `ActiveRecord`. Instead we use `ActiveRecord::Base.connection.execute(raw_query)` with a `raw_query` that's computed in a way we don't totally control. It turns out that we hit a bug when switch from `Standby` to rails built-in mechanism.

We tried to fix places where we generate empty queries. All the time, it can early return.
We

[2021-06-09 18:48] ghiculescu commented on #42432
That sounds like a bit of a scary use case, not relevant to this but would love to know how you are protecting against things like SQL injection.

Agree! Thanks for raising it.

[2021-06-09 18:56] bpaquet commented on #42432
(I'm working with @dgageot)

We have other cases for which ActiveRecord generates an empty query

[code]

If `list_of_ids` is empty (which can happen in some use cases), the generated query is `''`

May be our scope is not well written :)

[2021-06-09 20:36] #42434 closed

[2021-06-09 21:20] brenogazzola commented on #42003
@mhaulo I've had this in the past due to consistency problems in S3 (when it still used "eventual consistency" instead of strong consistency). Do your jobs fail on the first try, and succeed later? If they do, this is the probably cause. Are you using S3, Google or Azure?

[2021-06-09 21:41] brenogazzola commented on #42367
@davefaliskie Are you for some reason changing this controller in one of your initializers, maybe to alter its functionality? I've seen this kind of intermittent error happen when I was testing things.

[code]

[2021-06-09 21:55] davefaliskie commented on #42367
@brenogazzola No I have no `active_storage.rb` initializer, and also don't overwrite anything for `ActiveStorage` or more specifically the `RedirectController`. Is there a change to the controller you would suggest adding, or do you just leave it at the default to prevent the intermittent errors?

[2021-06-09 22:07] brenogazzola commented on #42367
@davefaliskie Leaving it at default should not cause any intermittent errors.

I've only seem that happen when a piece a code tries (usually in an initializer) tries to modify before it's loaded. It fails the first time, then it works fine until a change you make causes a reload.

You have a warning before it that looks weird: `already initialized constant ActiveStorage::Blobs`. And then just belo

[2021-06-09 22:43] collimarco opened #42436 "Add Cache-Control: no-store by default to prevent bfcache"
### Steps to reproduce

Currently this is the default Rails behavior:

[code]

However that allows the browser to cache stale responses that are used when you click the Back button.

For example:

1. You are on a page with a list of items
2. You click an item to open it
3. You click edit and you change the item name
4. After save, you are redirected to the show action
5. Now if you click the brows

[2021-06-09 22:56] zzak commented on #42421
Anyone else wondering _if_ this was the intended behavior looking at #37400 that seems to be true:

strict will cascade down from the parent record to all the
associations to help you catch any places where you may want to use
preload instead of lazy loading.

That certainly leads me to believe this is a bug. 🤔

[2021-06-09 23:29] zzak commented on #37389
@mur-wtag It seems it was due to lack of information available in order to debug the reported issue.

If you're interested in solving this particular problem, it would help us to have a [bug report](https://github.com/rails/rails/tree/main/guides/bug_report_templates) that reproduces the problem. 🙇

[2021-06-10 02:30] #27110 closed

[2021-06-10 03:09] #42012 closed

[2021-06-10 03:49] zzak commented on #40855
@intrip One more question before you start any work, would returning `nil` have other consequences like on peoples test suites because of the behavior change? 🤔

[2021-06-10 04:46] aki77 opened #42439 "Inconsistent error messages in Model.find_by! and Relation.find_by!"
### Expected behavior
[code]

### Actual behavior
[code]

And if possible, it would be nice to have filtered arguments in the error messages.

Related Issue #40629

[2021-06-10 06:16] lfalcao commented on #42436
Interesting find. Even though I agree with you, this change can cause so much impact in some applications. I think a better approach for this, if you really need it, would be to add something like `before_action { expires_now }` into application_controller.rb to change the default Cache-Control directive.

[2021-06-10 07:56] intrip commented on #40855
@zzak I've just found https://github.com/rails/rails/pull/41996, shouldn't it be expressive enough for now?

[2021-06-10 09:00] zzak commented on #42436
See: #40324

[2021-06-10 09:18] collimarco commented on #42436
@lfalcao `expires_now` adds `no-cache`, which does not work in this case.

We need `no-store`, like in the pull request linked by @zzak

[2021-06-10 09:53] intrip commented on #42421
@zzak
Agree that this is a bug, apparently `strict_loading` is not working as expected when preloading without respecting the parent/child structure: for example using `Category.strict_loading.includes(posts: :comments)` works as expected but Category.strict_loading.includes(:comments) doesn't.

I'll try to take a stab at this.

[2021-06-10 10:00] mildred opened #42441 "Configuring _fixture.class_name does not change the table_name for the fixture"
Here, the fixture is initialized, and the table name is set according to the class name:

https://github.com/rails/rails/blob/f95c0b7e96eb36bc3efc0c5beffbb9e84ea664e4/activerecord/lib/active_record/fixtures.rb#L654-L664

However, the class name is determined from the fixture file name, and setting the `_fixture.class_name` in the fixture itsenf does not change it.

It would be nice to be able to c

[2021-06-10 10:55] zzak commented on #41647
If `:singleton-method:` is not showing up and we're stuck waiting for #795 I wonder if there is an alternative. I remember RDoc used to provide a way to tag a method in the comment 🤔

[2021-06-10 10:58] zzak commented on #40508
@rmcbarreto Could you elaborate? It sounds like the issue was fixed but just to be sure.

Would you mind creating a step-by-step to reproduce the issue? 🙇

[2021-06-10 11:22] zzak commented on #40855
@intrip Ah yeah, I totally missed that. Good find!

[2021-06-10 12:57] Flixt commented on #42424
Just for documentation purposes, the problem here is similar to #41156.

[2021-06-10 14:24] chrisbloom7 commented on #41323
@zzak thanks for the reminder. I haven't yet, but I can get to it this week.

[2021-06-10 15:36] hiperjp opened #42447 "Model.first_or_initialize always returning true when Model has records but the referenced one doesn't exist"
### Steps to reproduce
[code]

### Expected behavior
post.persisted? should be false since id="33333333333333_44444444444444444" doesn't exists in posts table. On the other hand, if the posts table is empty the result is as expected.

### Actual behavior
Post.first_or_initialize(id: "33333333333333_44444444444444444") initializes with the first record with id="11111111111111111_2222222222222222" w

[2021-06-10 18:05] SkipKayhil commented on #42447
This sounds like expected behavior to me.
[code]

I think you may be looking for `find_or_initialize_by`, which does have the behavior you describe:
[code]

[2021-06-10 18:21] #42447 closed

[2021-06-10 18:53] mhaulo commented on #42003
I can't remember if the same job keeps failing (I'll pay more attention next time I catch this). It has happened in development environment using disk storage.

[2021-06-10 19:07] ghiculescu commented on #42441
This sounds like a bug, and it also sounds like the correct way to solve your use case I think.

Can you provide an replication example to show `_fixture.class_name` not working?

[2021-06-10 23:58] HParker commented on #42382
Thanks for the issue @daihm-1041!

It seems clear this is not a rails bug. I'll go ahead and close this, but if you have more questions or want to make a feature request, feel free to head over the the forums or stackoverflow. If you think this is incorrect or have a different issue feel free to open another issue.

PS
I like @kamipo's idea to make converting these into validation errors easier is

[2021-06-10 23:58] #42382 closed

[2021-06-11 00:57] zzak commented on #41323
@chrisbloom7 Sounds good, please don't hesitate if you have any questions! :bow:

[2021-06-11 09:27] elliotjd1 commented on #40827
I had the same issue (Rails 6.1.3.2). I tried lucasfp13's suggestions but was still facing the same problem.

What worked for me was to call `.save` on the model after each call to `.attach`, then I would end up with the correct number of attachments.

[2021-06-11 11:48] smt116 commented on #42430
I need a little help with this. I'm not sure what is the best way of recognizing that a given "has many through" record is not shared with any other "owner", and thus, can be deleted (see https://github.com/smt116/rails/commit/e535360ce1c076d74565524de98b579e502dad1c#diff-80da0f0295c07d53f1ae0aea7b9b77b0563fc5482b32fd23e94dea5835783c39R220 and https://github.com/smt116/rails/commit/e535360ce1c076d

[2021-06-11 13:25] zzak commented on #40827
@santib Wasn't this already an issue you were dealing with? 🤔

[2021-06-11 15:35] pixeltrix commented on #42441
Isn't it `model_class`, e.g:

[code]

[2021-06-11 16:02] santib commented on #40827
@zzak Not sure if it's related. Maybe if someone can provide a reproduction script or a test it would be better. What I understand from the reproduction steps

Is a test like this:
[code]

(except that we use `highlights` instead of `files` but shouldn't change anything)

And that test passes on `main` 🤔 thoughts?

[2021-06-11 16:10] santib commented on #40827
@zzak Not sure if it's related. Maybe if someone can provide a reproduction script or a test it would be better. What I understand from the reproduction steps

Is a test like this:
[code]

And that test passes on main 🤔 thoughts?

[2021-06-11 16:46] muyiwaoyeniyi commented on #40827
@abhaynikam in my code, `replace_on_assign_to_many` is set to false.

@santib are you saying the steps I provided didn't highlight the problem?

[2021-06-11 17:10] abhaynikam commented on #40827
@muyiwaoyeniyi Sorry. My bad. The PR description needs to be `replace_on_assign_to_many = false` when set to false. @santib In the test cases on main, `replace_on_assign_to_many` is true due to which they passed for you. Toggling the flag reproduces the issue. 😊

[2021-06-11 17:17] ddfznt commented on #20639
@sgrif is there any particular reason to remove support for hashes? despite not being properly document the use of hashes was an excellent approach to mitigate SQL injection, sad to read this.

[2021-06-11 17:18] muyiwaoyeniyi commented on #40827
@abhaynikam Thanks for clarifying and I appreciate the Rails team!

[2021-06-11 18:38] Wittiest opened #42457 "Inaccurate active_record_callbacks documentation"
### Context
I'm opening an issue for a discussion on this since I cannot tell if the documentation is wrong or if Rails unintentionally allows us to operate differently than the documentation

### Steps to reproduce
- Read https://github.com/rails/rails/blob/main/guides/source/active_record_callbacks.md
- Find statement and example of: "Using both after_create_commit and after_update_commit in the

[2021-06-11 19:33] HParker commented on #42457
Thanks for the issue @Wittiest!

I am not able to reproduce the behavior you are describing with the reproduction script:

[code]

This test passes as the `log_user_saved_to_db*` methods where only called once.

Would you help me update it to get the behavior you are seeing?

If you can also update your issue with rails version and ruby version that might be helpful in debugging this issue.

Thank

[2021-06-11 19:39] HParker commented on #42457
Oh, I think I got it now, my test expectation should be:

[code]

[2021-06-11 19:49] Wittiest commented on #42457
Please also note that your test passes in both of these cases as well

[code]

[code]

The only failure case seems to actually be when the method call is exactly the same in symbol form:
[code]

[2021-06-11 19:51] Wittiest commented on #42457
Updated summary to detail the above ^

[2021-06-11 20:04] HParker commented on #42457
Updating the docs is a great idea. I am also really curious if it is possible to remove the warning and make `after_create_commit` and `after_update_commit` work like I expect with symbols.

[2021-06-11 20:25] HParker commented on #42457
Ah, good discussion here: https://github.com/rails/rails/issues/29554

[2021-06-11 21:25] dorianmariefr opened #42460 "ActiveRecord: `belongs_to :something, optional: true` accepts invalid foreign key values"
### Steps to reproduce

https://gist.github.com/dorianmariefr/6b0310aad5746c48974f6a2bb5b214c5

### Expected behavior

raises `ActiveRecord::RecordInvalid` like when there is no `optional: true` and an invalid foreign key value is passed

### Actual behavior

passes validations and stores invalid foreign key value

### System configuration

**Rails version**: main, `7.0.0.alpha`

**Ruby version**:

[2021-06-11 23:26] Wittiest commented on #42457
@HParker It seems like if we modified the deduplication logic here to include `if` it would remove the need for all of this commentary in the documentation:
https://github.com/rails/rails/blob/main/activesupport/lib/active_support/callbacks.rb#L323

The reason this would avoid breaking the convention set in the other discussion is that this would really be a larger change to make `after_commit` on

[2021-06-11 23:47] lfalcao commented on #17589
This issue shouldn't be closed? 🤔
- https://github.com/rails/rails/pull/19165#issuecomment-76742525
- https://github.com/rails/rails/pull/19165#issuecomment-88954223

[2021-06-12 00:54] #17589 closed

[2021-06-12 00:56] tomeara commented on #17589
Yep! It's been a little bit. I forgot about this one. 😁

[2021-06-12 04:44] mtsmfm commented on #41647
@zzak In my understanding, comments within module level DSL aren't documented well by RDoc.

Let's say we have the following Ruby code foo.rb:

[code]

Generated result only contains `A.bar`:

[code]

[code]

To be exact, it has strange behavior.

<details>
<summary>
If we put two comments within DSL, only the last one is documented.
</summary>

[code]

[code]

[code]
</details>

<details>
<summar

[2021-06-12 10:27] Flixt commented on #35584
I also tried how this could be integrated into ActiveRecord here: https://github.com/Flixt/rails/tree/propagate-errors-on-destroy-to-parent not sure if would be worth a PR which has a chance to be merged.

[2021-06-12 13:34] Flixt commented on #42460
I understand the confusion.

The `ActiveRecord::RecordInvalid` error is raised when the association is not marked as optional and the associated record is not present. The reason is, that ActiveRecord does add a PresenceValidator onto the association (not the id attribute) when the association is required/not optional (which `belongs_to` is by default).

I am not sure if this really is an issue wi

[2021-06-12 15:06] chrisbloom7 commented on #41323
@zzak I'm leaning towards this living at https://guides.rubyonrails.org/action_controller_overview.html#methods-and-actions at the bottom of that section, just below the paragraph starting `Only public methods are callable as actions...`. Another option could be somewhere in `/routing.html`, like either in https://guides.rubyonrails.org/routing.html#adding-more-restful-actions or https://guides.ru

[2021-06-12 22:04] ooooooo-q commented on #41148
@lfalcao @zzak

I requested disclosure of the report on hadkerone a few months ago, but it has not been supported yet.
Therefore, I don't know if it's okay to publish the details at my discretion.

Probably the same problem is reported to shopify ( https://hackerone.com/reports/1027873 ).

`Rack::SendFile` is supposed to set the proxy correctly,
It may have unintended effects as it is currently bu

[2021-06-13 08:01] questquest opened #42466 "Time manipulation inconsistency with ActiveSupport::TimeZone"
### Steps to reproduce
[code]
### Expected behavior
Both times should save time zone

### Actual behavior
Time object created with time zone of Active Support does not save time zone

### System configuration
**Rails version**: 6.0.3.7

**Ruby version**: ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]

[2021-06-13 08:23] #42466 closed

[2021-06-13 08:25] airled opened #42467 "Time manipulation inconsistency with ActiveSupport::TimeZone"
### Steps to reproduce
[code]
### Expected behavior
Both times should save time zone after time manipulation

### Actual behavior
Time object created with time zone of Active Support does not save time zone (it uses machine's one) after time manipulation

### System configuration
**Rails version**: 6.0.3.7

**Ruby version**: ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]

[2021-06-13 14:07] goulvench commented on #42157
@gmcgibbon This error is being raised when using a generated polymorphic_path, which uses neither strings nor symbols: `edit_event_path(event)` (Rails 6.1.3.2 on Ruby 2.5.8).

Looking at the code, it seems that the path helper (`record_path`, `edit_record_path`, `new_record_path` etc) are generated use strings for the action option, thus raising the error. For instance, in [polymorphic_routes.rb l

[2021-06-13 14:42] #41578 closed

[2021-06-13 15:17] brettallred opened #42469 "Fixtures with multiple records error out when table has an generated column"
### Steps to reproduce

1. Create a fixture with only one record
2. Create a fixture with two or more records
3. Open up ```activerecord-6.1.3.2/lib/active_record/connection_adapters/postgresql/database_statements.rb:47``` and log  the sql out to the console.
4. Run your tests

- On the fixture with only one record, the insert statement will only include the column names that were specified in the

[2021-06-13 15:36] zernie commented on #39986
I have the same issue on 6.1.3.2. enum is simply not working, and I don't have the `Concerns` problem as outlined in the comments above

[2021-06-13 15:48] fxn commented on #39986
@zernie could you please enable logging in `config/application.rb`:

[code]

trigger the error in the minimum number of steps, and share the traces?

[2021-06-13 17:50] ghiculescu commented on #42469
Thanks for reporting this. Just to confirm the issue it would be great to see some example fixtures or a fresh rails app that replicates the bug.

[2021-06-13 18:32] zernie commented on #39986
@fxn
[code]

[2021-06-13 20:22] fxn commented on #39986
@zernie could you please share the entire log? We need to see if there's something else.

As you may see in this thread, this does not seem to be reproducible in a simple app. So we have to understand what is special in your app that makes this happen.

Of course, if you could reproduce in a minimal app you can share, that'd be even better.

[2021-06-13 20:48] zernie commented on #39986
@fxn sorry, that's the entire log. What else can I provide?
I have created this app via rails 6.1 generator. Here's the Gemfile.lock
 <details>
GIT
  remote: https://github.com/dejan/rails_panel.git
  revision: 847ea41f9944402ccaa9db8a623a4425f9f7c8b9
  specs:
    meta_request (0.7.2)
      rack-contrib (>= 1.1, < 3)
      railties (>= 3.0.0, < 7)

GIT
  remote: https://github.com/heartcombo/devis

[2021-06-13 21:22] fxn commented on #39986
@zernie if that is the entire log, then we already see something weird. If you generate a minimal application with a `Message` model, you see this:

[code]

Given the amount of dependencies, your application should be printing **a ton** of traces like that.

You don't see more?

[2021-06-13 23:19] #42457 closed

[2021-06-14 03:52] chrisbloom7 commented on #41323
I wanted to get a sense of how many methods would result in something like what redefining `config` as an action method does, mainly to see if the list would be small enough to include in full in the new callout section. To help figure that out I generated a new [rails app](https://github.com/chrisbloom7/rails-6-action-controller-reserved-methods) that dynamically creates controllers, actions, and

[2021-06-14 05:01] brettallred commented on #42469
https://github.com/brettallred/rails_fixture_bug

[2021-06-14 05:15] gahia opened #42473 "Active Support time zone offset"
ActiveSupport and TZInfo utc_offset return different values. TZinfo gives the correct current offset value (EDT UTC-4h) for today.

### Expected behavior

[code]

### Actual behavior

[code]

### System configuration
**Rails version**: 6.1.3.2
**Ruby version**: 3.0.1p64 (2021-04-05 revision 0fb782ee38) [x86_64-linux]

[2021-06-14 05:17] airled commented on #42473
#42467 Related?

[2021-06-14 05:38] gahia commented on #42473
I don't think so... it doesn't seems just a daylight savings difference there.

[2021-06-14 05:51] gahia commented on #42473
Find out that ActiveSupport::Timezone.utc_offset (1) comes form TZInfo::TimezonePeriod.utc_offset that says (2):

I'm expecting to get the current offset because I'm creating a "custom" date in an specific timezone but got it wrong. It has not to be like I was expecting although I think it makes more sense to retrieve the current offset or at least document that ActiveSupport::Timezone.utc_offset

[2021-06-14 06:01] #42473 closed

[2021-06-14 06:04] questquest commented on #42466
Reopened here #42467

[2021-06-14 09:36] zernie commented on #39986
@fxn sorry, forgot to `spring stop`. It's a solidus app with custom frontend:)

<details>
Zeitwerk@rails.main: autoload set for OptimismChannel, to be loaded from /home/zernie/kalmyk-aggregator/app/channels/optimism_channel.rb
Zeitwerk@rails.main: autoload set for ApplicationCable, to be autovivified from /home/zernie/kalmyk-aggregator/app/channels/application_cable
Zeitwerk@rails.main: autoload s

[2021-06-14 09:44] fxn commented on #39986
@zernie Thanks! Still, I'd like to see the whole trace, including the constant loaded. Something like

[code]

The whole output, including exception and everything.

[2021-06-14 10:38] zernie commented on #39986
@fxn

<details>

[code]

</details>

[2021-06-14 12:01] zzak commented on #41323
@chrisbloom7 I need a bit more time to review this, but unfortunately yes a PR will make things easier once I can see the code :bow: Thanks for your effort!

[2021-06-14 12:01] zzak commented on #41647
Sorry I meant to ping ruby/rdoc#795.

@mtsmfm I think you found a bug in RDoc, so let's wait and see what @aycabta says. 🙏

[2021-06-14 12:01] marcelolx commented on #28506
@eldano I think this can be closed based on this comment https://github.com/rails/rails/pull/28619#issuecomment-295386537

[2021-06-14 12:18] eldano commented on #28506
I'll close this issue then, thanks

[2021-06-14 12:18] #28506 closed

[2021-06-14 12:33] fxn commented on #39986
@zernie Where's the exception?

[2021-06-14 12:43] zernie commented on #39986
@fxn sorry, I'm not sure why, but it was not included in the output file. here it is:
[code]

[2021-06-14 13:58] fxn commented on #39986
In my sample app, if I call a method on the `Message` class that does not exist, I get

[code]

Would be interesting to understand why do you get "#<Class:0x0000564bd6cfd050>". That is what you see when the AR class has been already used. Maybe it loads stuff in the class body? Anyway, that is something to keep an eye on.

Since this is very strange, let's test a few basic things:

1. What does `b

[2021-06-14 14:01] fxn commented on #39986
Oh, please always stop Spring please.

[2021-06-14 14:29] zernie commented on #39986
@fxn
<details

[code]
</details>

2.
<details>

[code]
</details>
3.

<details>

[code]
</details>

[2021-06-14 14:31] zernie commented on #39986
Here's also my `Message.rb`:
[code]

`application.rb`:

[code]
require "active_support/core_ext/integer/time"

Rails.application.configure do
  config.after_initialize do
    Bullet.enable        = true
    Bullet.alert         = false
    Bullet.bullet_logger = true
    Bullet.console       = true
  # Bullet.growl         = true
    Bullet.rails_logger  = true
    Bullet.add_footer    = true
  en

[2021-06-14 15:29] fxn commented on #39986
Thanks for the detailed reports, and for the great usage of the collapsible feature of comments!

Things that seem off at first sight:

1. In a sample app, the first ancestor after `Message` is something like `#<ActiveRecord::Enum::EnumMethods:0x00007fb39f250648>`. For some reason, your class is missing that ancestor, and that square with the error.
2. It is a bit strange that the `const_source_lo

[2021-06-14 15:31] fxn commented on #39986
Let's also see what

[code]

prints.

[2021-06-14 15:41] zernie commented on #39986
Sorry, I've just omitted the comments

Another basic test. Let's see if this prints one or more objects (no need for loader traces):

[code]

[code]

[2021-06-14 15:43] fxn commented on #39986
Amigo!

[code]

there we have it!

You have an `enum` class method redefined.

[2021-06-14 15:43] zernie commented on #39986
Holy shit, I've found the offender. disabling torque-postgresql fixed the problem. Thank you!!

[2021-06-14 15:44] fxn commented on #39986
That was a good chase, thanks a lot for your persistence sending all the traces!

[2021-06-14 15:49] ghiculescu commented on #42469
Yep, please do - that looks like a bug to me. The fact we have a special case if there's a [single fixture](https://github.com/rails/rails/blob/051b0fcd29e927ec8adf7ac11d3a469645e1d8d6/activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb#L482) is concerning. It looks like https://github.com/rails/rails/commit/d8d6bd5e63a9a4a6c06a4dde3c7137ee2be105fd added it, that mig

[2021-06-14 16:43] ghiculescu commented on #42432
@dgageot @bpaquet would https://github.com/rails/rails/pull/42450 resolve this issue? It looks more generally useful than https://github.com/rails/rails/pull/42433

[2021-06-14 19:29] pixeltrix commented on #42467
You're creating an instance of `Time` with an `ActiveSupport::TimeZone` instance rather than an instance of `ActiveSupport::TimeWithZone`. The ability to pass a zone object to `Time.new` was only added in Ruby 2.6 so duration calculations assume local or UTC time. Since Rails 7.0 only supports 2.7+ it's something we can look to fix but for now I'd recommend creating standard `ActiveSupport::TimeWi

[2021-06-14 21:26] ghiculescu commented on #41520
@zzak I am, but it's not a high priority. Won't be sad if you go for it.

[2021-06-14 22:57] airled commented on #42467
Well, another workaround for now might be to transform time object to datetime
[code]

Close it.

[2021-06-15 00:02] zzak commented on #41520
No rush! I just didn't want it to get auto-closed if you were still planning to pick it up. 🙏

[2021-06-15 07:15] josegomezr opened #42488 "ActiveStorage S3 doesn't generate custom domain URLs"
### Scenario

Your rails app is using ActiveStorage with S3 Driver. You followed [AWS guide for having custom domain for buckets](https://docs.aws.amazon.com/AmazonS3/latest/userguide/website-hosting-custom-domain-walkthrough.html#root-domain-walkthrough-create-buckets) (it mandates that the bucket name has to be equal to the domain name). So instead of having:

[code]

You want to generate
[code]

[2021-06-15 07:52] kevinsjoberg commented on #40200
Still an issue I'd like to address.

[2021-06-15 08:07] casperisfine commented on #42432
That is changed in 7.0: https://github.com/rails/rails/pull/42232.

[2021-06-15 08:15] casperisfine commented on #42441
Hum, maybe we should raise some error for key that don't match anything?

[2021-06-15 08:26] Eusebius1920 commented on #40230
still present

[2021-06-15 08:40] #42036 closed

[2021-06-15 08:45] casperisfine commented on #42441
I opened a PR: https://github.com/rails/rails/pull/42490, please let me know if it makes sense to you.

[2021-06-15 09:35] pixeltrix commented on #42467
Going to reopen this since it is a bug that needs fixing

[2021-06-15 10:52] rmcbarreto commented on #40508
I followed the rails engine [guide](https://guides.rubyonrails.org/engines.html):
1- Created a new engine `rails plugin new blorgh --mountable` and generated the model as the guide describes.
2- Created a new rails app like in the guide `rails new unicorn` and added the engine to the gem file and mounted it in the routes.
3- Generated the migrations and started the server. The rails default page s

[2021-06-15 12:11] #42441 closed

[2021-06-15 14:22] ghiculescu commented on #42488
That solution looks good; maybe it's worth allowing you to pass any options you want through to the relevant S3 client methods.

A PR would be welcome.

[2021-06-15 14:46] tegon opened #42493 "Support to easily override `ActionDispatch::DebugExceptions` log format"
### Background

I recently upgraded an application to Rails 6, and after seeing `ActionDispatch::DebugExceptions` [interceptors](https://github.com/rails/rails/pull/23868) I thought that I could get rid of a monkey patch, but it wasn't possible in the end. That's what drove me to open this issue.

This was somewhat already discussed in https://github.com/rails/rails/pull/33609, and it was [pointed

[2021-06-15 15:36] intrip commented on #42421
@zzak with https://github.com/rails/rails/pull/42494 `strict_loading` should correctly cascade down  to middle records.

From the description of https://github.com/rails/rails/pull/37400 I'm not 100% sure if this is the desired behaviour hence I'd really appreciate if somebody more expert than me could take a look at this 🙇

[2021-06-15 18:59] adrianna-chang-shopify commented on #42278
Finally had some time to dig into this a bit more, and if I'm not mistaken ensuring that params accessible in middleware are binary encoded will require an upstream change to Rack. Wanted to check in with some smart folks to make sure this all seems sensible before proceeding 😄

For POST requests, we parse the query parameters [here](https://github.com/rack/rack/blob/d0c6efc666ede26768f33935f00530

[2021-06-15 19:12] rafaelfranca commented on #42278
We could change Rack but that would require Rails to force people to upgrade rack and I'd like to avoid that. We don't need to change the encoding of the parameters,  but we should move the validation of the encoding to the controller. It will be up to the middleware to check if the parameters they have are using a valid encoding.

[2021-06-15 20:23] anon987654321 commented on #41566
Agreed, this has to happen. @dhh

[2021-06-15 21:09] rmacklin commented on #32468
@Edouard-chin Was there a resolution to this issue since your last comment, or are you working around the issue?

[2021-06-15 21:58] gmcgibbon commented on #42157
@goulvench our test suite should've (hopefully) caught any regressions the patch introduced. Please open an issue with a a trivial app showing the issue, and I'd be happy to take a look at it!

[2021-06-15 23:41] cjlarose opened #42502 "ActionDispatch::SystemTesting::Driver doesn't allow the use of more than one selenium-based driver"
### Steps to reproduce

I've got a [reproducible example in a separate repo](https://github.com/cjlarose/rails-issue-system-test-case-driver-name-conflict), but for brevity, the important part is this:

[code]

### Expected behavior

I'd expect the tests in `ChromeGUITest` to execute using the Capybara driver that's configured to use Chrome with a GUI and for the tests in `ChromeHeadlessTest` to e

[2021-06-16 04:16] fedeagripa commented on #41968
I'm closing this as the error finally was a js note being loaded properly by webpacker and that's why my uploads where not working. Thanks everyone for comments and research 😃

[2021-06-16 04:16] #41968 closed

[2021-06-16 07:40] josegomezr commented on #42488
I'll work on it, I like the idea of passing all remaining options to the S3 client! 🚀

[2021-06-16 11:03] #42421 closed

[2021-06-16 11:36] zzak commented on #42467
@pixeltrix Could you elaborate on where you think this could be fixed? Perhaps myself or someone could help contribute a patch 🙏

[2021-06-16 11:37] zzak commented on #40508
@rmcbarreto What is the difference between `--mountable` and `--full`? That might help lead us to some answers.

[2021-06-16 11:42] zzak commented on #39514
@dima4p @JohnSmall Did you both try upgrading Rails?

[2021-06-16 11:43] vishalsingh123 opened #42508 "Error with Angular 11 server side rendering"
https://github.com/rails/rails/blob/1ec0f6a68382608565339e58727d0bfc8f1c0004/actioncable/app/assets/javascripts/action_cable.js#L5-L7

it is giving error in angular server side rendering

/server/main.js:62858
    logger: self.console,
            ^
![Screenshot 2021-06-16 at 5 12 44 PM](https://user-images.githubusercontent.com/6927028/122213000-18367280-cec6-11eb-9e22-8f4bf8d7e298.png)
Reference

[2021-06-16 11:49] zzak commented on #42493
Thanks for your well thought out message @tegon.

Unfortunately we do not accept feature requests in our bug tracker, instead we ask that you bring this to [rubyonrails-core discuss](https://discuss.rubyonrails.org/c/rubyonrails-core). :bow:

[2021-06-16 11:49] #42493 closed

[2021-06-16 12:18] #41879 closed

[2021-06-16 13:10] #42508 closed

[2021-06-16 13:10] vishalsingh123 commented on #42508
fixed

[2021-06-16 14:50] pixeltrix commented on #42467
The problem looks like it's in `advance`:

[code]

However we should add test coverage for all the `Time` core_ext methods when used with an instance with a zone object since there may be other issues.

[2021-06-16 15:23] #42432 closed

[2021-06-16 16:34] flavorjones commented on #41498
I spent a few minutes bisecting this and in case it's helpful, the behavior change was introduced in 10b36e81a357f8d7fa3665630c4d41c057fe59d9

[2021-06-16 17:44] stereobooster commented on #25347
It works if you use `dependent: :delete_all` instead of `:destroy`

[2021-06-16 18:30] #42439 closed

[2021-06-16 19:21] DRSisco opened #42514 "ActiveStorage orphaned attachment relationship raises unsafe reflection"
### Steps to reproduce
- Add an ActiveStorage relationship (e.g. `has_many_attached`) to a model
- Create an instance of the model
- Add an attachment to the model
- (later) remove the relationship to the model
- Delete the attachment.

### Expected behavior
Since we do not know the dependent behavior, ignore purging the blob later.

### Actual behavior
Error occurs saying `undefined method '[]' f

[2021-06-16 19:43] sandrods commented on #35044
How am I suposed to invalidate cache on attachment destoy? Do I have to manually touch the parent?

[2021-06-16 21:03] #41847 closed

[2021-06-16 23:13] annienero commented on #42036
In case anyone has the same problem, it was indeed a Heroku issue! Because RACK_ENV and RAILS_ENV were set to staging (we wanted to test before upgrading on prod), Heroku ignores what you have in `cable.yml` for some reason. Thanks again @zzak

[2021-06-17 02:15] rmacklin commented on #42502
Similar issue: https://github.com/rails/rails/issues/32468

[2021-06-17 02:20] rmacklin commented on #32468
I see now that this may have been worked around by leveraging https://github.com/rails/rails/pull/35081 (originally opened in https://github.com/rails/rails/pull/32442).

The underlying issue of not being able to call `driven_by` with the same `driver` (e.g. `:selenium`) across different tests still exists, though, and is back under discussion in this issue: https://github.com/rails/rails/issues/4

[2021-06-17 06:47] gingerlime commented on #40860
I'm seeing a similar issue with time DB fields. With Rails 6

On Rails 6

[code]

On Rails 6.1

[code]

[2021-06-17 08:34] Flixt commented on #42424
The PR is read to merge, would be cool if somebody can have a look :)

[2021-06-17 11:19] rmcbarreto commented on #40508
@zzak, as de documentation explains the `--mountable` creates a namespace for the engine, as the `--full` does not create a namespace, so the files are shared between the engine and the rails app and should not have the same name files in both engine and rails app (example: the engine has `application_controller.rb` the rails should not have the `application_controller.rb`or it will have conflict)

[2021-06-17 12:23] maleblond commented on #32325
Support for a `cache_control` setting has been added in #42509 .

[2021-06-17 12:23] maleblond commented on #39188
Support for a cache_control setting for a GCS service has been added in #42509 .

[2021-06-17 12:40] ooooooo-q commented on #41148
@lfalcao @zzak

The report of hackerone has been disclosed. (@rafaelfranca thank you)

[2021-06-17 16:12] iridakos opened #42525 "Creation of temporary table with `force: true` issues a non-temporary table drop when using the MySQL adapter"
### Steps to reproduce
Create a vanilla Rails 6.1.3.2 application using the `mysql2` adapter and execute the following command inside a `rails console`:

[code]

### Expected behavior

The drop statement should include the `TEMPORARY` keyword.

[code]

### Actual behavior

The drop statement does not include the `TEMPORARY` keyword.
[code]

### Investigation details

This bug was found due to the

[2021-06-17 16:37] ghiculescu commented on #42525
Thanks for the bug report and the investigation. Would this be the fix:

[code]

?

Would you be interested in making a PR and adding a test?

[2021-06-17 16:42] iridakos commented on #42525
Hi @ghiculescu , yes, I think that's what's needed here.

Of course, I will try to open it as soon as possible.

[2021-06-17 17:29] rafaelfranca commented on #30752
Fixed by 7eeab35

[2021-06-17 17:29] #30752 closed

[2021-06-17 18:01] kevin-smartpatients opened #42527 "ActiveRecord Enum broken in Rails 6.0.4"
I just upgraded rails from 6.0.3.7 to  6.0.4 and now one (just one) of my enums fails during initializing with:

which occurs on this line in ActiveRecord::Enum:

[code]

I believe it is caused by this change https://github.com/rails/rails/pull/36380

I assume the `logger` method is overridden somewhere in another module but I can't figure out where.

My enum is defined in a concern. It only fails

[2021-06-17 18:05] rafaelfranca commented on #42527
Rails doesn't override `logger` anywhere, so it doesn't seems to be an issue in Rails. Can you check if in the models that include that concern you don't have something that override `logger`?

[2021-06-17 18:14] kevin-smartpatients commented on #42527
There is nothing that overrides `logger`. It's quite a simple class. There is not a lot going on in there.

This is failing in a test. I'll try it in the actual app to see if just a test problem.

[2021-06-17 19:43] casperisfine commented on #42527
If you are able to reproduce this locally:

  - `bundle open activerecord`
  - before `return unless logger` insert `p method(:logger)`
  - make sure spring is restarted

Next time you run your test it should print the `Method#inspect` which includes the method location. If something override `logger` like you suspect that will tell you where it happens.

[2021-06-17 20:32] #42488 closed

[2021-06-17 22:05] jacquesn opened #42528 "YAML aliases not working with psych 4"
Loading yaml files (e.g. database.yml) raises `Psych::BadAlias`. It seems `YAML.load` by default no longer allows aliases in new psych releases.

[code]

`ActiveSupport::ConfigurationFile#parse`:
[code]

### Steps to reproduce
[code]

### System configuration
**Rails version**:  6.1.3.2

**Ruby version**:  3.0.1

[2021-06-18 00:23] rhomeister commented on #37389
Calling `perform_enqueued_jobs` before inspecting `ActionMailer::Base.deliveries` fixed this problem for me. It isn't very convenient having to call this every single time though, but perhaps this gives anyone a hint about the root cause?

I've tried setting `config.active_job.queue_adapter = :inline` to no avail.

[2021-06-18 02:39] patorash opened #42531 "ActiveRecord merge method error in Rails 6.0.4"
After updating to Rails 6.0.4, I got an error in the merge method of ActiveRecord.

### Steps to reproduce

[code]

Rails 6.0.3.7

[code]

Rails 6.0.4

[code]

### System configuration
**Rails version**: 6.0.4

**Ruby version**: 2.7.3

**Database**: PostgreSQL 11

[2021-06-18 03:58] yahonda commented on #42528
Psych is 4 support for 6-1-stable branch has been backported at https://github.com/rails/rails/commit/255b5ff9af57f9b54dee7ec884b12a1ad16f0321 but not released yet. When Rails 6.1.4 is released this fix will be available, I do not know when it is released though.

Then the current workarounds are:

* Lock Psych version 3.
* Use `6-1-stable` branch as follows.
[code]

[2021-06-18 04:28] zzak commented on #41699
I think this was fixed in d2642762885d79b330930ea473357f965a0b5581 can you check it?

[2021-06-18 05:09] #42528 closed

[2021-06-18 05:36] lfalcao commented on #42531
@patorash can you make a reproduction script? https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_main.rb

[2021-06-18 06:56] zzak commented on #42387
@intrip This seems similar to #42494, wdyt?

[2021-06-18 07:09] zzak commented on #31524
@aamir-pk @hgsongra @apauly @ShisiJu @mahfuz10 @joeyvanlierop Could you also try setting `config.action_cable.disable_request_forgery_protection = true`, this should give the same effect as setting the allowed origins to `nil`. 🙏

[2021-06-18 08:27] intrip commented on #42387
@zzak yes looks like a similar issue but with a different subject.

I'll try to work on a fix.

[2021-06-18 10:39] kevin-smartpatients commented on #42527
Excellent, thank you! I found the problem.

`HTTParty` (which I am including) is overriding logger. I can fix it by calling the method I want directly instead of including it.

Now that I think of it, I saw this error when I tried to upgrade to Rails 6.1 several months ago. I did not have the bandwidth to investigate at the time so I stuck with 6.0. Now I know the problem, I can upgrade.

Thanks a

[2021-06-18 10:39] #42527 closed

[2021-06-18 12:23] andykallhoff commented on #38755
I just want to confirm that this is still functioning as you all expect. I am having this same issue with a few differences.
Rails: 6.1.3
Ruby: 2.7.1
Mysql2

[code]

When creating/updating a `Something` record, the attachment/blob records are created with no issue.
[code]

Quick check in rails console to confirm what I would expect.
[code]

The issue that I do have however is trying to show them.

[2021-06-18 14:02] ghiculescu commented on #42387
I'm not working on this, it's all yours

[2021-06-18 14:58] jorgemanrubia commented on #42388
@ankane I had a look and the problem with the 3 `encryption_key` calls and the problems happens in the Active Record attribute internals, not in the encryption system itself. Essentially, it serializes (encrypts) attributes:

1. to detect if there are changes
2. to write to the database
3. to clear assignments (some internal logic I am not sure what is about)

I am afraid that supporting this prop

[2021-06-18 16:04] eileencodes commented on #41549
I have dug into this and understand why this is happening in the test environment but the path to this in test is not possible in production. This error happens if `set_pool_config` is setting `nil` for the `pool_config` argument and is caused by how the fixtures share connections. I've improved this by raising an error if anything tries to set the pool config to nil in #42537.

Now that I underst

[2021-06-18 16:22] #41549 closed

[2021-06-18 17:05] andykallhoff commented on #38755
I figured out my issue. I understand it might not be the best solution, but it at least works the way we need it to for now. My quickfix explained:

[code]

Now as stated above my `ActiveStorage::Blob load` appeared to not be connecting to the proper database or shard. My fix assumes you already have some handler that is managing your connection for the tenant upon your blob load. For our app we a

[2021-06-19 01:56] basicfeatures commented on #24017
It's 2021 -- why is this problem still here? @connorshea thanks for the fix!

[2021-06-19 22:32] patorash commented on #42531
@lfalcao lfalcao When I tried it with sqlite3, to my surprise, the test passed.
However, when I checked it with PostgreSQL, the test failed.

### sqlite3

[code]

#### sqlite3 result

[code]

### PostgreSQL

[code]

#### PostgreSQL result

[code]

[2021-06-20 12:49] zzak commented on #42531
@kamipo Do you have any ideas? 🙏

[2021-06-20 15:02] yahonda commented on #42531
FYI. based on the git bisect result, this behavior change has been introduced since https://github.com/rails/rails/commit/f9ba52477ca288e7effa5f6794ae3df3f4e982bc

[code]

[2021-06-20 20:29] georgeclaghorn opened #42544 "ETags don't take assets into account"
Consider the below controller action, layout, and view:

[code]

[code]

[code]

1. Visit `/posts/1`, assuming a Post exists with ID 1.
2. Make and deploy a change to `application.css`.
3. Return to the app. Navigate away from `/posts/1` and back.

Your browser will perform a conditional GET using the ETag from the response to the request in step 1. It’ll receive a 304 Not Modified response from t

[2021-06-21 05:29] jacobgreenleaf commented on #41502
Once `selenium-webdriver` releases its 4.0 gem, it will work, because the version specifier has no major version constraint.

https://github.com/rails/rails/blob/0b3a63fe07507fca5b2cab6409e85789a46ed624/railties/lib/rails/generators/rails/app/templates/Gemfile.tt#L71

Until then, you can change the `selenium-webdriver` gem to be pinned to any version after `4.0.0.beta1` where the [fix](https://git

[2021-06-21 09:03] telyn commented on #38218
Still able to reproduce on 6-1-stable and main using the script from [my earlier comment](https://github.com/rails/rails/issues/38218#issuecomment-801912387), I'm afraid.

I've made some changes to the script in that post to support changing repos, and using @fatkodima's change from #40822 does fix the issue :-)

[code]

[2021-06-21 09:26] #41940 closed

[2021-06-21 09:26] #41941 closed

[2021-06-21 10:27] lucaong commented on #32325
This is awesome, can't wait for the next release!

[2021-06-21 11:10] romaricpascal opened #42545 "`preload_link_tag` uses route path rather than assets pipeline path"
### Steps to reproduce

Due to some unfortunate naming, a legacy project has an AssetsController mounted at the following route

[code]

Trying to add a preload link with `preload_link_tag` uses the URL to that controller, rather than to the assets pipeline.

Digging a little, I'd suspect it's due to [`preload_link_tag` using `asset_path`](https://github.com/rails/rails/blob/165805402871d8e11d1172

[2021-06-21 12:43] Loveatslick opened #42547 "➡️🔃↪️🔝🔚👁‍🗨♾"

[2021-06-21 12:50] #42547 closed

[2021-06-21 15:03] Tonkpils opened #42549 "Duplicate objects stored in has many association after save"
### Steps to reproduce

https://github.com/rails/rails/pull/42524 seems to have introduced an unintended bug where a duplicate object is left in a has many association when added during a before_save callback.

[code]

/cc @ghiculescu

### Expected behavior

`post.comments` only has one object after being saved

### Actual behavior

`post.comments`  contains the same object twice after the `before

[2021-06-21 15:23] ghiculescu commented on #42545
Hi @romaricpascal, thanks for the bug report. Could you confirm if this is still an issue in Rails 6.1? 5.2 is [no longer supported for bug fixes](https://guides.rubyonrails.org/maintenance_policy.html).

If it's still an issue on rails `main` then we should fix it. It sounds like it might be an easy fix, would you like to open a PR?

[2021-06-21 15:39] ghiculescu commented on #42549
Looks like this simpler case has also regressed :(

[code]

[2021-06-21 15:53] ghiculescu commented on #42549
@Tonkpils why did you not write the code like this?

[code]

The assertions pass when written that way. I agree it's a regression and am working on a fix, just trying to understand if there's a more complex use case I've missed.

[2021-06-21 16:10] Tonkpils commented on #42549
It's a simplified example from the actual code I saw failing. The actual code is doing something more like

[code]

[2021-06-21 19:06] rusterholz commented on #36027
Just ran into this myself. It's beyond confusing that Rails' own uniqueness validation would break a Rails method intended to help enforce uniqueness. +1 to reopen.

[2021-06-21 19:10] ghiculescu commented on #36027
I think there's a reasonable argument to be made that this is surprising, so reopening the issue. I'd love to see a PR with a proposed fix 👍

[2021-06-21 19:17] ghiculescu commented on #41617
@ariccio quick bump, are you able to share this patch?

[2021-06-21 19:19] #41175 closed

[2021-06-21 19:20] ghiculescu commented on #41073
I'm going to close this for now @ajh-sr but please reopen if you can replicate it. If it helps, see if adding the `groupdate` gem to your replication script helps replicate the issue, then you could work backward from there.

[2021-06-21 19:20] #41073 closed

[2021-06-21 19:23] ghiculescu commented on #38036
Could you provide a replication script against rails `main` or `6.1`? https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case

[2021-06-21 19:24] ghiculescu commented on #36810
@p8  if this is fixed, can we close the issue?

[2021-06-21 19:26] ghiculescu commented on #35003
I believe https://github.com/rails/rails/pull/35085/files#diff-f51857a740406dbabf716f431d1b2801e959f195a6ef1e4833fd35652eedfcb2R15-R16 would have fixed this. Closing based on that, but if it's still an issue let me know.

[2021-06-21 19:26] #35003 closed

[2021-06-21 19:33] ghiculescu commented on #26916
is this still an issue on rails 6.1?

[2021-06-21 19:44] alexcameron89 commented on #36027
Yeah, I certainly don't think that would hurt.

I think it would be worth clarifying the statement _"Attempts to create a record with the given attributes in a table that **has a unique constraint** on one or several of its columns."_ to mean explicitly database constraints on columns as opposed to validations as well as more context on the intent behind why the method was added.

I believe the in

[2021-06-21 19:53] ghiculescu commented on #36027
Yep, I agree with that. Let's clarify the docs.

[2021-06-21 19:59] bubaflub opened #42552 "Rails 6.0.4 New "ambiguous column" when upgrading from Rails 6.0.3.4"
### Steps to reproduce

We tried to upgrade our app form Rails 6.0.3.4 to Rails 6.0.4 and started getting a failure from an ActiveRecord query:
[code]

This may have the same root cause as #42531 but I wanted to file it just for completeness' sake.  I think it may be the same root cause because this minimal reproducer also uses `merge` which was recently changed.

Note, we are using MySQL 5.6 for

[2021-06-21 20:18] lfalcao commented on #42131
So, close this issue? cc/ @zzak

[2021-06-21 23:53] yahonda commented on #42552
If a reproduce code is available and wondering if this behavior changed between Rails version from 6.0.3 to 6.0.4,
`git bisect` will identify which commit triggers it. Here are steps.

1. Clone Rails repository

[code]

2. change directory to the Rails repository

[code]

3. Create a reproduce code (i.e. rep42552.rb)

Here, Rails repository needs specified as `path: "."`.

[code]

4. Execute `git

[2021-06-22 00:07] bubaflub commented on #42552
@yahonda, thank you so much for the steps!  I did what you suggested and bisected the reproducer listed in the description above.

[code]

[2021-06-22 05:19] vs37559 opened #42555 "FATAL Rails : ActiveRecord::ConnectionNotEstablished (could not translate host name "xxxx.us-east-1.rds.amazonaws.com" to address: System error)"
I have recently migrated from Rails 4.2.1 to Rails 6.1.3.2
And getting this error frequently. It occurs multiple times in a day and reloading the ngnix configuration fixes it temporarily.

Earlier I had tried increasing pool size in my database.yml to 15.
This change fixed this issue for some days but it started appearing again.

### Expected behavior
Should connect to Database and fetch the relev

[2021-06-22 06:39] ciscolive opened #42556 "SOS - RAILS CAN NOT WORKING"
### Steps to reproduce

[code]

[code]

### Expected behavior

runing the tasks
### Actual behavior

raise error
### System configuration
**Rails version**:
Rails 6.1.3.2

**Ruby version**:
ruby 2.7.3p183 (2021-04-05 revision 6847ee089d) [x64-mingw32]

[2021-06-22 06:46] ciscolive commented on #42556
D:\Workflow\codes\mojo>rake netdisco:to_oxidized
rake aborted!
NameError: undefined method `extend_object' for class `Singleton'
Did you mean?  extended
D:/Workflow/codes/mojo/config/application.rb:5:in `<top (required)>'
D:/Workflow/codes/mojo/Rakefile:6:in `require_relative'
D:/Workflow/codes/mojo/Rakefile:6:in `<top (required)>'
(See full trace by running task with --trace)

[2021-06-22 08:24] kamipo commented on #42552
Thank you for the report. I'll take a look tomorrow.

[2021-06-22 08:26] kamipo commented on #42531
Thank you for the report. I'll take a look tomorrow.

[2021-06-22 09:09] ciscolive opened #42557 "ACTIONMAIL RAISE ERROR"
### Steps to reproduce

[code]

[code]

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:
Rails 6.1.3.2

**Ruby version**:
ruby 2.7.3p183 (2021-04-05 revision 6847ee089d) [x64-mingw32]

[2021-06-22 11:27] diegodauri opened #42558 "Asset pipeline guide uses jquery and old javascript syntax"
### Steps to reproduce

Go to [rails guides](https://guides.rubyonrails.org) and choose the [asset pipeline guide](https://guides.rubyonrails.org/asset_pipeline.html)

### Expected behavior

Find examples with the new javascript syntax

### Actual behavior

Old syntax examples using jquery and the old manifest sintax, for example:
[code]
[code]

### System configuration
**Rails version**: 6.1.3.2

[2021-06-22 12:10] #42549 closed

[2021-06-22 12:14] eileencodes commented on #42549
For some background @ghiculescu - at GitHub (where @Tonkpils and I work) we upgrade the main app to the latest SHA of Rails main weekly which allows us to catch regressions early. Often code that starts failing unexpectedly is code we didn't write and potentially could be 10+ years old. We try to not rewrite other teams code unless it's deprecated or never was supposed to work. So you might someti

[2021-06-22 13:33] ciscolive commented on #42557
solved

[2021-06-22 13:33] #42557 closed

[2021-06-22 14:57] connordoner commented on #42556
It would help to explain in more detail what behaviour you expect and to translate the comments in your code to English, as this will make the issue easier to identify.

[2021-06-22 15:23] hahmed commented on #42558
Hey @diegodauri, thanks for reporting the issue.

The asset pipeline is still good to use, also coffee script is still supported in sprockets, but I do agree that moving over any examples we can to javascript would be better.

Specifically https://edgeguides.rubyonrails.org/asset_pipeline.html#javascript-coffeescript-and-erb

[code]

The first example can be changed over the javascript... did you

[2021-06-22 15:34] ghiculescu commented on #42549
Yep that makes sense, sorry I didn't meant to sound accusatory. I just wanted to double check my assumption that `post.comments = [post.comments.build]` and `post.comments.build` do the same thing, or if there was a reason to write it one way over the other.

[2021-06-22 15:39] ghiculescu commented on #42555
Do you have any more detail, eg. a backtrace of where the error is being raised from?

Did the error start happening on 6.1 only, or on another version as you were upgrading?

[2021-06-22 17:17] dark-panda opened #42561 "`#with` cannot be used with strings in 6.1"
### Steps to reproduce

Using `#with` with strings instead of relations stopped working between Rails 6.0 and 6.1. Specifically, the following commit caused the break:

https://github.com/rails/rails/commit/596469d556fa924bd792288668f7f0fbdea518f2

In Rails 6.0, you could do things like

[code]

However, that broke in Rails 6.1 with the following exception as there is no case to handle strings in

[2021-06-22 17:44] HParker commented on #42561
Thanks for taking on this patch @dark-panda! I look forward to reading it ❤️

I am a bit confused though, I didn't know there was a `with` method on model classes.

I don't seem to have it in a new rails app.

[code]

Where is that method coming from? Is it another gem, or maybe I am doing something silly.

[2021-06-22 18:14] ghiculescu commented on #42561
@HParker looks like it comes from here https://github.com/rails/rails/blob/main/activerecord/lib/arel/select_manager.rb#L223, I think https://github.com/vlado/activerecord-cte enhances it.

[2021-06-22 18:14] eileencodes commented on #42561
Technically arel is a private API, I don't know if we want to allow strings in the `with` API.

[2021-06-22 18:16] vs37559 commented on #42555
@ghiculescu Unfortunately, this is all that comes up no backtrace or I would've given it earlier. And as I said Re-loading the nginx service seems to fix it.

I have other services that are running on v6.0 and they work fine so I think it would be safe to say that this issue is with v6.1.

[2021-06-22 19:18] ethaning opened #42567 "NoMethodError: undefined method `action_dispatch'"
Hi,

We are currently experiencing this bug when running our rails app in a docker container. All web requests and all ```rails``` commands result in this error.

We are not experiencing this issue across all devices running the app. It could potentially be an issue with docker / docker-compose.

Is anyone else experiencing this bug? If so, any advice on how to solve this issue?

Thanks

@rosariog

[2021-06-22 19:22] ghiculescu commented on #42567
We have not seen the same issue on our 6.0.3.7 app. Can you check if it happens without docker?

[2021-06-22 19:49] ethaning commented on #42567
Hi, I have just set up a new rails app with the same rails version and ruby version outside of docker. It all works fine.

The same setup also works fine on my computer within docker. @rosariogueli is having issues on his macbook though.

@rosariogueli - are you able to create the app outside of docker?

[2021-06-22 19:54] HParker commented on #42561
Ah, so without `activerecord-cte` I have to do `Article.all.arel.with("select 1")`. `activerecord-cte` Seems to use a lot of arel. I wonder if `activerecord-cte` could be patched to handle strings instead of making a change in rails 🤔 .

[2021-06-22 20:22] hahmed commented on #42558
I think that manifest syntax is still valid/correct in sprockets?

[2021-06-22 20:23] rafaelfranca commented on #42561
In this case I think it is fine since Arel used to work in this way and a new feature to arel we introduced broke it.

[2021-06-22 20:36] rafaelfranca commented on #42558
Yes. It is. Closing this issue since the PR was merged. If there are more changes to be done please open PRs. Thank you

[2021-06-22 20:36] #42558 closed

[2021-06-22 23:29] rafaelfranca commented on #42556
This issue doesn't seems to be related to Rails. It is Ruby that is failing to execute this line https://github.com/ruby/ruby/blob/v2_7_3/lib/singleton.rb#L150 becase this method doesn't exist in the `Singleton` class. This method is defined in all modules though https://github.com/ruby/ruby/blob/d92f09a5eea009fa28cd046e9d0eb698e3d94c5c/eval.c#L2107, so I think some gem or something in your applic

[2021-06-22 23:29] #42556 closed

[2021-06-23 00:38] arcreative commented on #40059
This is a huge problem for me, but I'm not sure why it's happening.  I have two models that I'm upserting in my `seeds.rb` file that work fine, but a third, nearly-identical model won't for whatever reason.  I have gone as far as to add another unique index on the `id` column, as well as specify it in the `unique_by` option, and nothing wants to work.

[2021-06-23 00:43] arcreative commented on #40059
Figured it out--my migration for the model I was trying to upsert had a singularized name instead of a pluralized one.  This is definitely not the error message I expected in this situation, but upserts seem to be working as expected on primary keys.

[2021-06-23 01:36] dark-panda commented on #42561
This was discovered while I was writing a patch for activerecord-cte to fix a kinda-sorta-related issue with the gem. That PR is up at https://github.com/vlado/activerecord-cte/pull/3.

[2021-06-23 01:42] brettallred commented on #42469
@ghiculescu - I have a fix for this.  I'll get a PR up soon. I've just been doing a bunch of local testing.

[2021-06-23 02:42] VTRyo opened #42569 "[Rails 6.0.4][Ruby 2.7.2] Deprecation warning "Use Rails::SourceAnnotationExtractor instead.""
### Steps to reproduce

- `bundle exec rspec` or `rails c`

### Expected behavior

Completion should work without any warning

### Actual behavior

Although there is no direct use of "SourceAnnotationExtractor", the following warning message is printed

[code]

### System configuration
**Rails version**: 6.0.4

**Ruby version**: 2.7.2

### About the others

I've been running the Update based on th

[2021-06-23 06:57] yahonda commented on #42569
Would you push a git repository and/or provide [an executable test case ](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html) which reproduces this issue?

[2021-06-23 07:50] rosariogueli commented on #42567
@ethaning I've finally de-dockerised the project and it works well (other than some CORS issues which can be resolved, it's all good). It seems that when ran in docker, sidekik is exiting with the above error.

[2021-06-23 08:13] p8 commented on #42555
Are you using Kubernetes?
This seems like an DNS issue, unrelated to Rails.
https://github.com/kubernetes/kops/issues/4251

[2021-06-23 08:16] p8 commented on #42567
Closing as this seems to be a Docker issue.

[2021-06-23 08:16] #42567 closed

[2021-06-23 08:48] zzak commented on #41148
@ooooooo-q Thanks, would you be willing to [send a PR](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-code)?

[2021-06-23 10:58] uxxman opened #42576 "Strict Loading n_plus_one_only doesn't catch N+1 problem"
### Test Script
[code]

### Expected behavior
This is the most common N+1 query problem which should be raised by strict_loading.

Logs
[code]

### Actual behavior
N+1 issue not raised

### System configuration
**Rails version**: main

**Ruby version**: 3.0.1

[2021-06-23 11:44] zzak commented on #42576
Don't you have to call `Books.strict_loading`? Or are you expecting that to be the default behavior?

[2021-06-23 11:53] uxxman commented on #42576
@zzak I forgot to add it in the test script. In the app I had string_loading n_plus_one_only enabled by default at environment config. I have updated to test script to include it here too

[2021-06-23 12:38] intrip commented on #42387
@zzak @ghiculescu https://github.com/rails/rails/pull/42575 fixes the issue.

[2021-06-23 12:58] flavorjones commented on #42576
@uxxman The changelog entry for `:n_plus_one_only` says, in part:

So I think this is behaving as designed. Take a look at 5ec1cac and tell me if you disagree?

[2021-06-23 13:14] uxxman commented on #42576
@flavorjones from the commit, It looks like it only handles deeply nested associations and not the N+1 query problem in general. Which is misleading from the name of the option.

[2021-06-23 14:21] casperisfine commented on #42569
`called from <top (required)> at /app/config/application.rb:7`

So it's in the app config. The message also make it clear how to fix it. I think we can close.

[2021-06-23 14:24] pjpires opened #42577 "`number_to_currency` printing negative zero when precision > 0"
In https://github.com/rails/rails/pull/37865 `number_to_currency` was fixed to properly print values that would result in a negative zero when passing `precision: 0`. However, it doesn't work when precision is > 0 as seen below.

### Steps to reproduce

[code]

**Note**: calling `number_to_currency` without specifying `precision` also causes issues, since the default value for precision is > 0.

#

[2021-06-23 14:47] flavorjones commented on #42576
Reading the original PR https://github.com/rails/rails/pull/41704, I think your assessment is correct, @uxxman.

I believe the intention is to more fully document this feature before it ships in a release. Would that be sufficient to address your concerns here?

[2021-06-23 14:50] egorslam commented on #38940
Still an issue

[2021-06-23 15:03] flavorjones commented on #42577
@pjpires Thanks for asking this question. I believe this is functioning as designed. The tests for this method are:

[code]

The [key piece of logic from the method](https://github.com/rails/rails/blob/75ac626c4e21129d8296d4206a1960563cc3d4aa/activesupport/lib/active_support/number_helper/number_to_currency_converter.rb) is that if a number is in the range `[-0.5, 0]`, and `precision` is set to 0,

[2021-06-23 15:09] uxxman commented on #42576
@flavorjones Actually my concern was having an application wide N+1 query problems detection, so developers can catch them during development.

strict_loading with n_plus_one_only mode seemed like a good solution for it but it doesn't hold up to it names, since it only caters 2nd level nested has_many association. May be we can change the option name or add a disclaimer that it doesn't handle all

[2021-06-23 15:10] flavorjones commented on #42577
I'm going to close this out -- but if you have follow-up questions, please do post them and I'll do my best to help!

[2021-06-23 15:13] flavorjones commented on #42577
:thinking: Actually, I'm reopening this because the original bug report you reference seemed to establish that "-$0" is an unexpected format, and this feels like a minor variation.

[2021-06-23 15:23] ghiculescu commented on #38940
https://github.com/rails/rails/pull/38957 is the relevant PR

[2021-06-23 15:32] casperisfine commented on #42569
I don't think so, but even if it is, it would require non-rails code, so really this seems like 3rd party to me.

[2021-06-23 15:41] pjpires commented on #42577
Yes, this got me intrigued. Right now, something like `number_helper.number_to_currency(-0.456789, precision: 0)` returns "$0" (rather than "-$0"). This led me to think that the same would be valid for `precision` > 0, as long as the rounded number (to the specified precision) would end up as a "negative zero".

For presentation purposes, I think it would make sense to print "$0.00" rather than "-

[2021-06-23 16:07] ghiculescu commented on #42577
FWIW i'd also expect `"$0.0"`, `"$0.00"`, etc.

[2021-06-23 16:43] flavorjones commented on #42577
I've opened a PR to try to address this formatting inconsistency: https://github.com/rails/rails/pull/42581

[2021-06-23 17:47] flavorjones commented on #42576
@uxxman 🤔 Can you help me understand why you wouldn't choose to use the default strict mode (`:all`) to do this?

[2021-06-23 17:52] #42545 closed

[2021-06-23 17:59] #42417 closed

[2021-06-23 18:00] #42577 closed

[2021-06-23 18:07] #40986 closed

[2021-06-23 18:27] #42436 closed

[2021-06-23 18:52] james-caresnap commented on #29969
The solutions outlined here seem to work ok for a `has_many` relation, but they don't work for `belongs_to`. The docs indicate you can pass a scope to `belongs_to`, and you _can_, but it gets completely ignored. The scope is never called because `SingularAssociation` [overrides](https://github.com/rails/rails/blob/main/activerecord/lib/active_record/associations/singular_association.rb#L40) `Assoc

[2021-06-23 19:00] ghiculescu commented on #29969
@james-caresnap that sounds like a bug. Could you please create an issue with [replication steps](https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case) ?

[2021-06-23 19:04] wout opened #42582 "Proposal: Define timestamps as two first columns in migrations by default"
For years now I've been struggling with the positioning of timestamp columns in migrations to create models. Having an empty line in a database migration before the timestamps suggests the model's columns should go there. Initially, that's fine. Timestamps are less important because they are handled by Rails. But in practice, almost every model gets new columns after creation, leaving the timestam

[2021-06-23 21:55] rafaelfranca commented on #42582
Can you explain why is the order of the columns important?

[2021-06-23 22:08] rafaelfranca commented on #42569
Closing since Rails doesn't reference this constant anywhere in this code. Let you know if you find the reason for the deprecation. Thank you

[2021-06-23 22:50] ghiculescu commented on #42467
i think the issue is actually in `change` and is fixed by https://github.com/rails/rails/pull/42583

[2021-06-23 22:55] ankane commented on #42388
Hey @jorgemanrubia, thanks for looking into it! Will close this out.

[2021-06-23 22:55] #42388 closed

[2021-06-24 01:09] zzak commented on #31813
Fixed by #41609

[2021-06-24 04:07] brandoncc opened #42585 "Why can't I override #asset_path from ActionView?"
I am working on upgrading an app to Rails 5, and `#asset_path` now raises if the url is nil. I'm trying to monkey patch that method with a version that will work like Rails 4 so that I can get my tests passing.

I've spent hours on this, and I'm going crazy. For some reason no matter what I do, I can't monkey patch the module. I thought this initializer would work:

[code]

I also tried putting my

[2021-06-24 04:43] brandoncc commented on #42585
I figured out that it is because `#asset_path` is simply an alias. I needed to override the method which the alias points at:

[code]

[2021-06-24 04:43] #42585 closed

[2021-06-24 05:35] VTRyo commented on #42569
Thank you all.
I'm sorry I haven't been able to reply to your questions.

I'll raise another issue when I find the reason for deprecation.

[2021-06-24 05:36] #42569 closed

[2021-06-24 05:47] #31915 closed

[2021-06-24 09:14] kalsan opened #42587 "STI and view path"
This is a question/discussion about the behavior of templates/partials with regard to STI.

### Steps to reproduce

Rails 6.1

Assuming STI model Tree with two implementations `CherryTree` and `AppleTree` inheriting from `Tree`.

We have three controllers, `TreesController`, `CherryTreesController` and `AppleTreesController`; the two latter ones inherit from the first.

We have three view director

[2021-06-24 10:59] intrip commented on #36027
Anybody on it? Otherwise I'll make a PR to update the docs

[2021-06-24 11:58] uxxman commented on #42576
@flavorjones  the issue with mode(:all) is that it raises error for cases that will execute the same set of queries even if they are eager loaded or not. e.g.

With eager loading.
[code]

Without eager loading.
[code]

So, the issues is raised without any difference in the amount of queries being fired.

In the same example eager loading can cause unnecessary queries when there is conditional logi

[2021-06-24 12:20] alexcameron89 commented on #36027
Please do @intrip, that would be great! 👍

[2021-06-24 12:50] dssjoblom opened #42588 "Asset path should ignore relative URL root for application when using asset host"
### Steps to reproduce

1. Configure Rails to use a relative URL root with env variable: RAILS_RELATIVE_URL_ROOT=/subdir
2. Use an asset_host: config.action_controller.asset_host = 'host'

### Expected behavior

asset_path should not include /subdir

For example:

http://host/assets/my_asset

### Actual behavior

asset_path includes /subdir

For example:

http://host/subdir/assets/my_asset

### Sy

[2021-06-24 12:51] intrip commented on #33767
@ghiculescu shall we still keep this open even after https://github.com/rails/rails/pull/33768#issuecomment-805527058 comment ?

[2021-06-24 13:08] intrip commented on #42331
@zzak thanks for pointing this out but I think this is a different issue, I'll work on a PR to address this.

[2021-06-24 13:21] intrip commented on #41270
@zzak WDYT?
Shall we mention such info in the docs? If so have any hints on where we should put it? 🤔

[2021-06-24 14:52] alexcameron89 commented on #42588
Hey @dssjoblom, does this script seem to represent the issue you're seeing?

[code]

Looking at the documentation, I couldn't tell if this is expected behavior, but [this group of tests in Action View](https://github.com/rails/rails/blob/d4d560bc4b8ba03ef576c766d1561c06f93a2cb2/actionview/test/template/asset_tag_helper_test.rb#L807-L939) seem to imply that it's expected.

Still, we could probably

[2021-06-24 15:01] p8 commented on #42576
Reading the original PR it seems you need to set the `strict_loading` on the instance of a record.
This works as expected:
[code]

[2021-06-24 15:06] dinahshi commented on #42576
Thanks for the report and test script!

The `:n_plus_one_only` mode was only introduced for use on a single record, not at application- or model-level. In other words, it is only supported for the following use (better example in @p8's comment above!):

[code]

The reason it can only operate on a single record is because it uses this assumption to determine when to raise errors. When we are loadin

[2021-06-24 15:13] ghiculescu commented on #33767
@rafaelfranca what do you think? I get the impression you'd be fine to see this fixed in Rails (either by integration https://github.com/byroot/activerecord-typedstore or some other fix), but #33768 wasn't a good enough solution. If that's the case I think this should stay open.

[2021-06-24 15:18] collimarco opened #42589 "js_compressor is outdated: no gem is currently maintained"
In an existing project, that has been using `uglifier` for a long time, I found that it raises an exception when compiling valid ES6 code (e.g. chart.js v3). The I made some research and found that the gem is no longer updated and is not fully compatible with ES6.

So I went to Rails docs to find an updated answer, and this is what I found:

**None of the suggested libraries is maintained and none

[2021-06-24 15:23] ghiculescu commented on #42587
I would expect that behavior too. To help with debugging are you able to share an app that replicates the issue?

[2021-06-24 15:55] uxxman commented on #42576
@p8 your example involves deeply nested associations just like mentioned in the issue. **Library -> Books -> Author**. In the issue's original example, **Books -> Author** leads to an N+1 query problem which never gets detected even if you set it on each book.

[code]

@dinahshi understood. That's exactly the discussion which was going on with @flavorjones that the option name **:n_plus_one** misl

[2021-06-24 16:25] p8 commented on #42576
@uxxman The following will raise an `ActiveRecord::StrictLoadingViolationError` or am I missing something?
[code]

[2021-06-24 16:47] SkipKayhil commented on #42589
Rails 6.0 made the default JS compiler [Webpacker](https://edgeguides.rubyonrails.org/webpacker.html), I would recommend migrating to using that to support more modern language features

[2021-06-24 16:48] ghiculescu commented on #42589
Maybe we should update https://edgeguides.rubyonrails.org/asset_pipeline.html#javascript-compression to say that?

[2021-06-24 18:10] #41521 closed

[2021-06-24 19:00] collimarco commented on #42589
@SkipKayhil Webpacker is something with a different scope, much more complex, incompatible with existing code and messy (IMHO)... not just an alternative JS compiler.

[2021-06-24 20:55] #42576 closed

[2021-06-24 21:27] byroot commented on #42589
The uglifier README recommends using https://github.com/ahorek/terser-ruby. Assuming it works as advertized, it should be trivial to add an adapter for it, here's the uglifier one: https://github.com/rails/sprockets/blob/master/lib/sprockets/uglifier_compressor.rb, it's really a simple interface.

[2021-06-24 21:29] byroot commented on #42589
Ah, just noticed that terser even ships with a sprockets adapter: https://github.com/ahorek/terser-ruby#rails

[2021-06-24 21:36] byroot commented on #42544
I guess a digest of the manifest could be used as a seed. `fresh_when` already takes an option to digest the template that's supposed to be rendered, so it would fit.

I don't think this one is worth it. You basically need to render the view to know what assets are linked, so you'd lose a huge part of the perf gain. You'd still save sending the body, but you would have rendered it.

[2021-06-24 21:38] byroot commented on #42555
@vs37559 unless you are able to reproduce this in isolation, we can only assume it's an issue with your production setup and not with Rails. Feel free to keep this issue updated for anyone who would run into the same issue, but since it's not actionable for the Rails team I'll be closing it.

[2021-06-24 21:38] #42555 closed

[2021-06-24 21:47] georgeclaghorn commented on #42544
Doh, of course. 🤦‍♂️

[2021-06-25 02:59] scomma commented on #25246
This is definitely the case. Run into this issue as soon as I start using schema_cache. Anybody aware of a workaround?

[2021-06-25 03:10] Connorhd opened #42597 "Setting belongs_to to nil with has_one results in a bad cached state"
### Steps to reproduce
[code]

### Expected behavior
Ideally setting the relationship to nil on the belongs_to side would update the cached has_one side. In the worst case though the actual failing test above seems like a very bad outcome, where the relationship gets updated unexpectedly with state data.

### Actual behavior
Removing the relationship on the belongs_to side leaves the cached has_on

[2021-06-25 07:50] #41323 closed

[2021-06-25 10:10] collimarco commented on #42589
Yes, Terser can be an alternative... In any case the docs should be updated.

At the moment I have disabled the JS compressor because Terser seems relatively new/experimental and when I click on "Build passing" button I get a configuration error... So I was not sure about adding it to a large application.

[2021-06-25 10:26] zzak commented on #41270
@intrip I wonder if it doesn't make sense to split out [this kind of information](https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#ruby-versions) into a more formal Ruby-specific guide for Rails developers 🤔

[2021-06-25 10:33] zzak commented on #42588
As @alexcameron89 pointed out, this is the intended behavior and we cannot change it.

We could possibly provide an option to skip prepending the relative URL root, but that would require feedback from the core team.

In this case, this behavior is not a bug so I'm closing this issue. Please feel free to [open a feature request](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#wha

[2021-06-25 10:33] #42588 closed

[2021-06-25 10:37] zzak commented on #31524
Closing this, please feel free to open if you can confirm this doesn't solve the problem:

[code]

[2021-06-25 10:37] #31524 closed

[2021-06-25 10:53] zzak commented on #42589
I think [all](https://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html) of [the](https://edgeguides.rubyonrails.org/asset_pipeline.html) current [javascript](https://edgeguides.rubyonrails.org/webpacker.html) guides need a refresh. But I am waiting for things to simmer down with hotwire first.

[2021-06-25 11:04] zzak commented on #42043
@stefannibrasil Sorry I went back to re-read this thread and gain some more context.

After reading your patch I think the `disk_service_enabled?` path might be more complicated that we need.

What if we just did something like `ActiveStorage.draw_routes :disk_service` and that would only draw the disk_service routes you required.

So the options would be [all, disk only, or none]. /cc @pixeltrix

[2021-06-25 13:03] barrucadu opened #42600 "ActiveRecord generates `= NULL` or `IN (NULL)`, instead of `IS NULL`, for queries involving invalid UUIDs"
### Steps to reproduce

I've tested this with Postgres, but it's possible it happens with any database that supports UUID fields.

When you have a model with a UUID field, searching for a `nil` value produces the SQL you'd expect:

[code]

But if you pass a value which isn't `nil` or a valid UUID, you get an equality comparison instead:

[code]

If you have a combination of valid and invalid value

[2021-06-25 13:59] kamipo commented on #42600
Same issue with #33624.

`= NULL` is intentionally generated for invalid values to not match NULL values accidentally by #35310.

[2021-06-25 13:59] #42600 closed

[2021-06-25 14:49] intrip commented on #42331
#42602 should fix this

[2021-06-25 15:00] intrip commented on #41270
I like that idea!

docs is one of my weak spot 😞 so any guidance is very appreciated, maybe we can start by adding a sub section "ruby 3.0" which mentions all the ruby 3.0 incompatibilities?

In any case I think we also need to add a CL line in ActiveSupport for this.

[2021-06-25 17:55] endenis opened #42607 "Rails exits with zero code if launched with invalid parameters in command-line outside of project directory"
I noticed this problem while configuring CI. I called `rails db:migrate` from incorrect folder. It passed: it rendered usage instructions without returning any error code.

### Steps to reproduce

When called outside of project directory
[code]

### Expected behavior
Renders usage instructions and return a non-zero exit code

### Actual behavior
Renders usage instructions and returns a zero exit c

[2021-06-25 20:17] fernandoaleman commented on #42100
@pixeltrix Thanks so much. This fixed my issue 👍

[2021-06-25 20:19] macfanatic commented on #40874
Is there anything else I could provide on this issue?  That's 4 patch releases and I'd love to see this closed so I could upgrade some codebases that are blocked by this bug :)

[2021-06-25 20:39] p8 commented on #40874
Merge should be seen as merging conditions like a hash. New conditions will override older simialar conditions.
See: https://github.com/rails/rails/pull/39558

Adding a where with the `location_id` that will be overridden might work:
[code]

[2021-06-25 20:45] macfanatic commented on #40874
Yes, I have used this style of `merge` to merge relations for several years, this is the first time that invalid SQL is being generated.  Are you saying that this is intentional and the desired API behavior is to redefine parts of the query after merging?

[2021-06-25 22:30] ahorek commented on #42589
@collimarco as for being experimental, WebPacker switched to Terser as a default JS compressor 3.5 years ago https://github.com/rails/webpacker/pull/1816

unlike Uglifier (especially the ES6 version), the Terser library (which is a successor to UglifyJS) is well maintained https://github.com/terser/terser

and it's really easy to switch, see GitLab's PR https://gitlab.com/gitlab-org/gitlab/-/merge

[2021-06-25 22:41] zzak commented on #41270
@intrip I'm happy to start this and we can ping-pong pair to flesh out the details.

What do you mean by CL line?

[2021-06-25 23:32] hahmed commented on #42587
@kalsan I was not able to replicate this behaviour, seems to be working for me... 🤔

Here is the output from the logs (I used ERB instead of haml views):

[code]

[2021-06-26 05:59] #42467 closed

[2021-06-26 06:49] jpwynn opened #42610 "add autocomplete="OFF" to firefox-proof automagically added hidden fields like _method"
I suggest "bullet-proofing" any Rails-auto-added hidden fields by **also** auto-adding autocomplete="OFF"

As reported/diagnosed in May of WTFs: https://discuss.rubyonrails.org/t/form-with-first-field-value-is-overriden-with-a-token-like-string/74861/11 there is a 12-year-old **Firefox** bug that (sporadically, but pretty frequently) overwrites the first hidden_field in a form UNLESS it has autoco

[2021-06-26 07:18] pixeltrix commented on #42610
Do you have a link to the Firefox bug report?

[2021-06-26 07:18] pixeltrix commented on #42610
Nevermind - I can see it in the discussion post

[2021-06-26 07:25] jpwynn commented on #42610
There are a few, closed, the one that was reopened is https://bugzilla.mozilla.org/show_bug.cgi?id=520561

[2021-06-26 07:37] pixeltrix commented on #42610
Thanks - has anyone tracked down in the Firefox source code where this is happening?  Also do you have any idea where the autocomplete values are coming from? Seems like there must be some other web framework using `_method` and storing a Base64 encoded value in there.

I'm generally dubious about adding browser specific workarounds as they tend to get forgotten or treated as 'acts of faith' (e.g.

[2021-06-26 07:41] pixeltrix commented on #42587
@hahmed I wonder if this is a Haml bug? Can you reproduce in a new app using Haml templates?

[2021-06-26 07:46] pixeltrix commented on #42589
Since support for Ruby Racer was removed from ExecJS 2.8 I don't really see this as a downside

[2021-06-26 07:52] jpwynn commented on #42610
Yeah I was hesitant to suggest it, except it is so darned pernicious and gnarly to debug for developers when it does happen, and the fix seems entirely benign (turning off autocomplete for a form field that is hidden hence should NOT be autocompleted anyway).

This other bug report does address reproducibility to some extent:
https://bugzilla.mozilla.org/show_bug.cgi?id=1667657

For my own rails a

[2021-06-26 08:06] pixeltrix commented on #42610
That one is really weird - it's not a generic name like `_method` that could be set by other sites, but a field name specific to that application. How is that getting a Base64 encoded value from autocomplete? Feels like there's more going on here than just Firefox autocomplete ignoring the fact that a field type is 'hidden'.

[2021-06-26 08:11] jpwynn commented on #42610
Right, not field name at all. I originally went to May of WTFs to report a bug where (I thought) the hidden field name had "key" like "video_key" it got stomped on, then saw that other report I linked and realized _not_ the field name, but the position, and Firefox specific.

Yeah I was hesitant to suggest the fix, _except_ it is so darned pernicious and gnarly to debug for developers when it does

[2021-06-26 08:55] pixeltrix commented on #42610
The simplest option would be to monkey patch `ActionView::Helpers::Tags::HiddenField#render` like this:

[code]

Not tested but it'll be something like that should add `autocomplete="off"` to all your hidden fields constructed using the `form.hidden_field` method. For the lower level `hidden_field_tag` method you'll need to override it in a helper like this:

[code]

Please avoid snarky comments l

[2021-06-26 09:06] hoangtuyb96 opened #42611 "Low perfomance of local_cache's read_entry and write_entry"
### Steps to reproduce
Here's script to reproduce the low performance.
https://gist.github.com/hoangtuyb96/5e9a16969ccac2e416a88e0c17cc8e5d

Procedure:
- Save it ( i.e as `cache.rb` )
- Change the database's information
- Run it
  - To benchmark in specific rails version: `run cache.rb path_of_cache specific_rails_version`

Related PR in rails 6.1.0:
- https://github.com/rails/rails/pull/36656
- h

[2021-06-26 12:38] intrip commented on #41270
@zzak

Sure I'll start then

I meant changelog (CL) but nevermind: after re-thinking doesn't look a great idea to put ruby compatibility changes there so let's start just with the docs for now.

[2021-06-26 14:25] hahmed commented on #42587
Not able to repro with haml templates either

[code]

Controller:

[code]

[2021-06-26 15:51] DmytroVasin opened #42613 "Update of belongs to association resets of variable with associations"
### Steps to reproduce
[code]

### Actual behavior
The proxy collection was reset to the blank array.

Moreover we receive additional request:
[code]

### Expected behavior
Update of association should not have an influence on `Proxy collection`.

### NOTE
That was broken with the last patch release of `rails 6.1.4`.
I've launched the script on `6.1.3.2`, `6.1.3.1`, `6.1.3`, `6.1.2.1` and it works

[2021-06-26 20:36] p8 commented on #36810
@ghiculescu Still reproducible on 6.0.4, it's fixed on 6.1.0.

[2021-06-26 23:12] zzak commented on #42610
Not sure how relevant this was but after a brief search it seems Chrome doesn't even support `autocomplete="off"`?

[2021-06-27 06:39] p8 commented on #36810
@ghiculescu as this issue isn’t fixed in 6.0.4 and is on the 6.0.4 milestone, I think we should keep it open to allow upgrading to without skipping 6.0. I’ll try to find the commit that fixed it and backport it.

[2021-06-27 07:26] wout commented on #42582
It's particularly useful when searching data using a database GUI. Having `id`, `created_at` and `updated_at` grouped together at the start makes it easier to quickly order items. These columns are almost always present, so it makes sense to have them appear together consistently.

As it is now, you'll have the id, then a bunch of columns from the initial migration, then timestamps, then a bunch o

[2021-06-27 09:11] guilleiguaran commented on #42373
Closing this since it isn't caused by Rails.

[2021-06-27 09:11] #42373 closed

[2021-06-27 09:42] guilleiguaran commented on #42589
I'm proposing the addition of a railtie to terser-ruby to make it easier to use it with Rails: https://github.com/ahorek/terser-ruby/pull/20

[2021-06-27 09:56] kalsan commented on #42587
Thank you all for your efforts! It must have to do with a gem or patch then. It's a large application, I will investigate further for the cause of the problem.

[2021-06-27 15:50] current-username commented on #41070
@lylo could you help me please ? I am stuck with the same problem.
Could you point me in the right direction ?

[2021-06-27 18:22] #42589 closed

[2021-06-27 18:24] guilleiguaran commented on #42589
I've added terser to the list of supported options in the guide.

This can be improved further by changing the uglifier example to terser, feel free to open this PR and ping me 👍

[2021-06-27 18:28] jpwynn commented on #42610
autocomplete="off" is currently an official tag, and passes validator.w3.org (using an example with it added to a hidden field) for example the snippet below (with the setting added to all hidden fields) passes w3 validator.

Chrome may or may not _act upon_ an autocomplete="off" setting but it is benign for the setting to be there (or not) in Chrome.

[code]

[2021-06-27 19:00] collimarco commented on #42589
Maybe we should remove the other gems from the docs since they no longer receive updates.

[2021-06-27 19:55] andynu commented on #41491
It is still reproducable in 6-1-stable.

Gemfile:
[code]

Reproduction:
[code]

[2021-06-27 22:46] guilleiguaran commented on #17224
See #42617

[2021-06-27 22:46] #17224 closed

[2021-06-28 06:42] dssjoblom commented on #42588
@alexcameron89 @zzak The script does indeed represent the issue, thank you. It is possible that this was intended behavior, but IMHO it's contrary to what you would expect. I might open a feature request at some point if I have more time, but for now, the hack will have to do.

[2021-06-28 07:50] p8 commented on #36810
This should be fixed by #42620

[2021-06-28 07:50] #36810 closed

[2021-06-28 08:04] qslcna opened #42624 "index.html.erb changes not reflect on browser"
### Steps to reproduce

run
[code]
on development environment
edit app/views/home/index.html.erb
e.g. add `<p>hi</p>`
refresh the browser

### Expected behavior

browser should display the view updated ( `hi`  ) without restart server
### Actual behavior

browser still display the  old one, while I restart server and refresh the browser updates ( `hi`) appears.
### System configuration
**Rails ver

[2021-06-28 08:11] hahmed commented on #42587
I'm going to go ahead and close this for now, but let us know when you find something. This issue can be re-opened 😀

[2021-06-28 08:11] #42587 closed

[2021-06-28 08:11] qslcna commented on #42624
routes.rb
[code]

home_controller.rb
[code]

application.html.erb
[code]

home/index.html.erb
[code]

home/index.html.erb (edited)
[code]

[2021-06-28 08:12] qslcna commented on #42624
BTW, I make all config as default

[2021-06-28 09:34] casperisfine commented on #42611
Ok, so, the regression seem quite bad indeed, however I think there a few things that need to be stated:

LocalCache was very fast on 6.0, because it was pretty much just a hash lookup, however it was bugged, #36656 and #37587 slowed it down, but it also made it correct. These bugs were really nasty.

Here's the timings I get:

[code]

So 7.0 is over 3 times faster on read, but still almost 500x s

[2021-06-28 09:46] casperisfine commented on #42611
Another thing, for both fixes, the perf overhead is of similar nature. We call `dup_value!`, which pretty much is `Marshal.load(Marshal.dump(value))`. So the larger the value the larger the degradation.

So your benchmark shows a 322x slower result, if we reduce the hash to contain 10 AR models rather than 1k, it's down to 22x slower. A good part of that might be wether you go over the 1k payload

[2021-06-28 10:26] zzak commented on #42624
@qslcna In this case, I wonder if a public repo that demonstrates the issue would be helpful 🤔 I'm not seeing anything that would change this behavior in the code you pasted.

[2021-06-28 10:41] hoangtuyb96 commented on #42611
Thank you for advising me.

So instead of using local cache, should i use redis / memcached?

But when i saw mem_cache_store's code, i realize `Strategy::LocalCache` is prepended. That means that even using memcached, the speed is still significantly slower.
https://github.com/rails/rails/blob/main/activesupport/lib/active_support/cache/mem_cache_store.rb#L47

What I'm most interested in here is r

[2021-06-28 11:09] casperisfine commented on #42611
It's not one or the other, when you read a key, it first look into the local cache, and if it's not there it fallback to whatever cache backend you use.

So assuming we do backport the perf improvements to 6.1, the local cache will only save the network roundtrip (and internal Redis/memcached latency).

Yes, but you can still disable it by removing the local cache middleware:

[code]

[2021-06-28 11:53] casperisfine commented on #42611
At the very least we should remove LocalCache from the FileStore: https://github.com/rails/rails/pull/42626

Now we can try to backport some of the perf fixes, but it's tricky. We can't change the `Entry` internal state, otherwise it can break apps on upgrade, that's the whole reason behind https://github.com/rails/rails/pull/42025, allowing to evolve the serialization format, and be smarter with

[2021-06-28 12:53] mdemare commented on #42613
I recommend `assert !all_comments.proxy_association.empty?` as a starting point as to the difference between 6.1.4 and earlier versions. In that method (in `collection_association.rb`) there's a test for `target.empty?` that yields different results.

In 6.1.4, the target is empty because `reset` was called in `update_all` - this new behavior was introduced in https://github.com/rails/rails/pull/4

[2021-06-28 13:07] #41059 closed

[2021-06-28 13:20] qslcna commented on #42624
@zzak  https://github.com/qslcna/pocket_web.git

[2021-06-28 14:22] msroot opened #42627 "Rails 6.1.4 breaks on macOS 11.4"
### Steps to reproduce
 Create a new Rails app

[code]

I have a set a `RAILS_MASTER_KEY`

[code]

### Expected behavior
To create an App

### Actual behavior
[code]

### System configuration
Mac Version:
ProductName:	macOS
ProductVersion:	11.4
BuildVersion:	20F71

**Rails version**: Rails 6.1.4

**Ruby version**: ruby 3.0.1p64 (2021-04-05 revision 0fb782ee38) [arm64-darwin20]

[2021-06-28 14:31] alexcameron89 commented on #42624
Hey @qslcna, I checked out the repo that you provided, and was able to see view changes without restarting the server so I am not able to reproduce the issue. I see that the app is using Vue libraries and I wonder if you're having conflicts elsewhere outside of Rails.

I have a couple of recommendations:
1. **See if something outside of Rails is conflicting** - Have you checked to see what the HTM

[2021-06-28 14:31] #42624 closed

[2021-06-28 14:31] #42627 closed

[2021-06-28 14:42] FakeCast opened #42628 "Method doing nothing when we pass a string"
When you pass a string as an argument to this sanitisation method, it returns the string without any sanitisation, is this an expected behaviour and has some reason behind it?

https://github.com/rails/rails/blob/75ac626c4e21129d8296d4206a1960563cc3d4aa/activerecord/lib/active_record/sanitization.rb#L22

Thank you

[2021-06-28 15:47] DmytroVasin commented on #42613
I assume such an update broke pretty common usage of `update_all`:
[code]

@kamipo Could you check/prove that this is the expected/new behavior of a feature that you've done in https://github.com/rails/rails/pull/41789?

[2021-06-28 17:17] sergey-alekseev opened #42629 "Temporary v5.2 and v6.0 guides redirect (302 Moved Temporarily) to edgeapi.rubyonrails.org"
### Steps to reproduce

[code]

### Expected behavior

https://api.rubyonrails.org/v5.2/ and https://api.rubyonrails.org/v6.0/ should respond with 200 OK.

### Actual behavior

https://api.rubyonrails.org/v5.2/ and https://api.rubyonrails.org/v6.0/ respond with 302 Moved Temporarily to http://edgeapi.rubyonrails.org/.

[2021-06-28 17:18] sergey-alekseev commented on #42629
Sorry if it's not the right repo/place to submit this bug. I haven't found anything better under https://github.com/rails/, there is https://github.com/rails/rails-docs-server which doesn't contain much info (no description and README).

[2021-06-28 17:19] sergey-alekseev commented on #42629
The behaviour is the same for https://guides.rubyonrails.org.

[2021-06-28 18:27] alexcameron89 commented on #42628
Hey @FakeCast, yes that's expected behavior. I'm not sure on the exact reasoning behind it (probably to allow the use of the method in other areas of Active Record and respond happily to string statements), but you could bring up the topic in the [Rails Discussion Forum](https://discuss.rubyonrails.org/) if you want to dig into it more.

We reserve the GitHub issues for bugs in Rails, so I'm going

[2021-06-28 18:27] #42628 closed

[2021-06-28 18:30] ghiculescu commented on #40988
I think this should be handled at the application level.

[2021-06-28 18:30] #40988 closed

[2021-06-28 18:34] ghiculescu commented on #40318
While true, this is unlikely given the database query would be a `Model.find` query via GlobalID.

@ce07c3 how do you propose this be fixed? Is it an issue with the code comments or is there a change to functionality you think should be made?

[2021-06-28 18:40] ghiculescu commented on #40595
Yes. Here's a simplified test script.

[code]

If you change line 23 to `false` it passes.

Do you have any idea how we could fix it in Rails?

[2021-06-28 19:09] pixeltrix commented on #42629
Seems like the docs build for those branches must be failing - we'll investigate, thanks

[2021-06-28 20:19] iarobinson commented on #26731
Posting this here for the potential benefit to som one who is dealing with this issue.

I found a strange fix to get around it because `rails db:migrate` was not working for me. I would continue to get the following error:

[code]

Now, running `rails db:migrate` and the command above did NOT fix the situation… somehow the following is how to get around this:

`rake db:migrate`

...I thought they

[2021-06-29 01:22] venkat-ally commented on #42050
We use url_helpers extensively and with [this PR](https://github.com/rails/rails/pull/37927), caching of `routes.url_helpers` is brought back. Since we're still on Rails 5.2, had to work around with a solution similar to https://travisofthenorth.com/blog/2017/12/27/rails-urlhelpers, to overcome this issue.

[2021-06-29 01:22] #42050 closed

[2021-06-29 05:49] #22510 closed

[2021-06-29 06:23] zzak commented on #42629
I just got SSH access recently so I'll try to help if I can.

[2021-06-29 07:13] hoangtuyb96 commented on #42611
I installed memcached and tried to use it. In the script below, i didn't create localcache before benchmarking.

### Script 1: Using memcached with localstore in rails 6.0.4

[code]

### Script 2: Using memcached without localstore in rails 6.1.3.2

[code]

And this is the output i got from 2 scripts.
### Script 1
[code]

### Script 2
[code]

Looking at the results, I don't think disabling localca

[2021-06-29 07:15] fxn commented on #42629
Documentation build for the last releases there did not succeed for some reason. We'll check it out.

[2021-06-29 07:28] casperisfine commented on #42611
I don't understand the point of this benchmark. What I was pointing at is the usefulness of local cache with memcached. So what would need to be compared would be memcached with and without local cache on 6.1/7.0.

No it's impossible, what's slow is the deep_dup, and it's required to prevent https://github.com/rails/rails/pull/36656.

[2021-06-29 07:30] casperisfine commented on #42611
Also I have to ask, why is local cache this important to you? Does your app actually fetch the same key multiple time during a request cycle? I'm really starting to doubt the usefulness of the local cache.

[2021-06-29 08:07] zzak commented on #42629
I've regenerated the api and guides for v5.2.6 and v6.0.4, so the following links should be fixed:

* https://api.rubyonrails.org/v5.2/
* https://api.rubyonrails.org/v5.2.6/
* https://guides.rubyonrails.org/v5.2/
* https://guides.rubyonrails.org/v5.2.6/

* https://api.rubyonrails.org/v6.0/
* https://api.rubyonrails.org/v6.0.4/
* https://guides.rubyonrails.org/v6.0/
* https://guides.rubyonrails.org

[2021-06-29 08:07] #42629 closed

[2021-06-29 08:58] hoangtuyb96 commented on #42611
Oh, i got it. Sorry for the inconvenience that I have caused you.

Yeah, that's right.
I have a huge data that is called many times during a request cycle. So, to improve speed of request i used localcache.

[2021-06-29 09:01] casperisfine commented on #42611
No worries at all!

Ah, I see. Yeah your use case is definitely the poster child for local cache :/.

As said previously I'm afraid we won't ever be able to restore the initial performance without restoring the potential for brittle bugs. So I'd suggest you just sidestep this issue by implementing your own request scoped cache for that specific usage.

[2021-06-29 09:23] hoangtuyb96 commented on #42611
Let me try to implement your suggestion. Really appreciate your constant support. 👍

[2021-06-29 09:26] casperisfine commented on #42611
Forgot to mention, CurrentAttributes should make implementing such cache quite easy: https://api.rubyonrails.org/classes/ActiveSupport/CurrentAttributes.html

[2021-06-29 09:39] hoangtuyb96 commented on #42611
Oh, thanks for the information about that method.

[2021-06-29 11:21] ollieh-m opened #42637 "Association `reset` does not work as expected when you then call `save`"
### Steps to reproduce

[code]

### Expected behavior

I _think_ both the tests in the above test case should pass, but only one does.

When we load an association (`active_publisher`) on an object (`post`), then reset that association (`post.association(:active_publisher).reset`), the next time the association is loaded should trigger a fresh query to find any associated record. That fresh query

[2021-06-29 13:09] mdemare commented on #41870
This needs a label `attached PR`.

[2021-06-29 15:07] ghiculescu commented on #42637
I think so, but it's hard to know for sure without trying it out. Do you want to have a go at that and see if it causes any issues?

[2021-06-29 17:11] #41619 closed

[2021-06-29 20:43] ghiculescu commented on #42611
For anyone else who comes across this, we did this by doing:

[code]

[2021-06-29 20:44] #36027 closed

[2021-06-29 21:12] ollieh-m commented on #42637
Thanks @ghiculescu. I gave it a go and didn't break any specs, so have opened #42643...

[2021-06-29 23:49] kyrofa opened #42645 "Need a way to determine the engine rendering the view"
I'm poking at adding better webpacker support for engines. As part of that, I've been hunting around for ways to determine which engine is currently rendering a given view, and I'm coming up empty. The idea is this (and it may be stupid/too much magic, feel free to share your thoughts): if the view is in the main app, it should default to using the webpacker instance from the main app. If the view

[2021-06-29 23:58] zzak commented on #42645
@kyrofa Could you direct your question to [discuss](https://discuss.rubyonrails.org)? We only use the [bug tracker](https://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#reporting-an-issue) for actual bugs and patches.