[2016-04-01 17:41] bquorning commented on #24392
Executable test script here: https://gist.github.com/bquorning/83a7689c50500500fd94773c14808b74

I’ve marked the 1 line you can remove to make the test pass.

[2016-04-01 17:45] fero46 opened #24394 "(Sometimes) Crash in query_methods"
Hi,

I've build an Importer to import Product Data from various sources like Zanox, Affiliate, CJ Affiliate etc. Now the problem is, after parsing the data sometimes( yes sometimes not everytime) its crash. I am not sure how to reproduce. Maybe you have seen this error before, so i put my CrashReport from
Terminal an Ruby Crash Report:

**Rails version**: 4.2.6
**Ruby version**:  ruby 2.2.3p173 (2

[2016-04-01 18:38] rafaelfranca commented on #24394
This is a bug in Ruby. Rails doesn't causes segfault.

[2016-04-01 18:38] #24394 closed

[2016-04-01 19:29] sevaorlov commented on #24359
@glebm, hm, actually the only benefit of it is that `ArgumentError` is raised instead of `ActiveRecord::StatementInvalid`
Indexes need to be fetched only when `columns` parameter is specified.

[2016-04-01 19:40] volkanunsal opened #24395 "Unable to use a dot at the base of the route path"
### Steps to reproduce

Add this route at the top of your routes.rb

[code]

(Make sure there is a Pages#home action.)

Start your server
Visit the following url: `localhost:3000/.well-known`

### Expected behavior

The app should render the page at pages#home.

### Actual behavior

You get a 404 response.

### System configuration
**Rails version**: 4.2.5

**Ruby version**: 2.2.2

[2016-04-01 20:00] ZeroFries commented on #24348
In server:
[code]

[2016-04-01 20:00] #24348 closed

[2016-04-01 20:06] maclover7 commented on #24395
I don't think `my_root` is an accepted option for routing configuration...?

[2016-04-01 20:06] #24395 closed

[2016-04-01 20:07] maclover7 commented on #24392
Bug script fails for me on master. Would you be willing to work on a pull request for this?

[2016-04-01 20:07] maclover7 commented on #24390
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-01 20:19] volkanunsal commented on #24395
@maclover7 I thought that was a shortcut for a constraint. I saw it in the doc. But anyway you can see the same effect with the `constraint` option.

[code]

[2016-04-01 20:34] maclover7 commented on #24395
Can you point me to where you see `my_root` mentioned in the documentation? A search on Github is showing that it isn't listed anywhere in the [`rails/rails` repo](https://github.com/rails/rails/search?utf8=%E2%9C%93&q=my_root).

[2016-04-01 20:41] bquorning commented on #24392
The `options` attribute is probably ok not to dup, as @schneems wrote in 1a14074fb525cde4a439a1fb7515fe417c37ff96:

For the `recall` attribute, I can see two ways of fixing it:

 1. Call `dup` in the initializer. Loses the performance benefits described in 1993e2ccbd7c5651278ea30bdc9d8034f5197945.
 2. Substitute `recall` for a `dup`e right before mutating it. Should keep most of those performance

[2016-04-01 20:43] mikes01 commented on #24183
@maclover7 Did you mean that there is a bug in the script or the test failed?

[2016-04-01 21:03] volkanunsal commented on #24395
My intention was to use `: my_root ` as a dynamic route segment. It's not a Rails convention.

[2016-04-01 21:07] volkanunsal commented on #24395
Also, that's not the main issue. The issue is that route constraints does not work with a dot at the base of the path.

[2016-04-01 21:41] maclover7 commented on #24393
Opened up PR #24396 to try and tackle this.

[2016-04-01 22:00] glebm commented on #24359
@sevaorlov Doesn't seem like a big deal. Rails doesn't do this for other statements, e.g. `create_table` fails with `StatementInvalid` when a table already exists IIRC.

[2016-04-02 04:07] jbedworth commented on #8937
I'm seeing this exact behavior (calling self.save! in callback enters infinite loop) in rails 5 beta 3 in an after_create_commit callback.

[2016-04-02 04:11] ajporterfield commented on #22359
Hey @jtmarmon.  I wrote something very similar to what you're describing in a forked version of Rails I was playing with (see below).  It seemed to work ok, but ultimately I felt like this was a step backwards as it goes against Active Job's "one interface for all adaptors" thing.

I definitely agree with you, though.  We shouldn't have to sacrifice per-job overrides when using delayed_job through

[2016-04-02 04:19] ajporterfield commented on #22359
An alternative solution (instead of using define_singleton_method), could be...

    def max_attempts
      job.max_attempts rescue Delayed::Worker.max_attempts
    end

[2016-04-02 06:21] hadees commented on #19427
I think this is [the same issue](https://github.com/devmynd/jsonb_accessor/issues/33) I saw on the gem `json_attributes`.

This code should be able to reproduce the error.

[code]

[2016-04-02 09:12] justedd commented on #24390
[code]

[2016-04-02 13:14] maclover7 commented on #24390
Yep, this definitely looks like a bug to me. Would you be willing to investigate, and open up a pull request with a fix?

[2016-04-02 13:24] sevaorlov commented on #24364
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/preloader/association.rb#L67
records: {"normal"=>[#<Post id: 1, tag: "normal">], "el_nino"=>[#<Post id: 2, tag: "el_nino">]}
convert_key(owner[owner_key_name]): el_niño

it is actually hard to know which Post belong to which Hashtag after posts are loaded
https://github.com/rails/rails/blob/master/activerecord/l

[2016-04-02 15:11] LcpMarvel opened #24402 "It should be the type of time argument that decides the generated sql"
### Steps to reproduce

rails g model post
[code]

 `date` vs `datetime`
[code]

### Expected behavior

[code]

I think the result should be equal to `SELECT \"posts\".* FROM \"posts\" WHERE (created_at_date >= '2016-04-01')` because the type of `created_at_date` is `date`
### Actual behavior

[code]

### System configuration
**Rails version**:
`Rails 4.2.5.1`
**Ruby version**:
`ruby 2.2.4p230`

[2016-04-02 15:31] maclover7 commented on #24402
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-02 16:17] sevaorlov commented on #24364
we can use `I18n.transliterate` or something else to convert string with accented characters, but that implementation can diverge with mysql implementation and will need to be dependent from mysql column encoding settings. not sure that it is worth it.

[2016-04-02 16:43] sevaorlov commented on #24402
I've created an executable test. https://gist.github.com/sevaorlov/21b2c4d634e57f9006db26c4f579abee
@maclover7, do you think rails needs to convert users input to date?

[2016-04-02 19:44] arthurnn commented on #8937
I will take a look.

[2016-04-02 21:24] mrageh commented on #24183
@mikes01 I think he means the test failed and this is a bug in AR

[2016-04-02 22:10] waits commented on #24257
I was able to partially confirm this. On my Rails 5.0.0.beta3 app the `csrf-token` meta tag and the form's hidden `authenticity_token` have different values when the page is loaded via Turbolinks (and are the same when hard-reloading the page).

However, I couldn't get it to raise an exception. It accepted the token either way. I'm sure `protect_from_forgery with: :exception` is working, since man

[2016-04-02 22:20] waits commented on #24257
Thinking about how Turbolinks works, it seems like they _should_ be different, since it will keep the same token in the `head` forever but replace the one(s) in the body on every request. I just confirmed Rails 4.2.6 / Turbolinks 2.5.3 behave the same way, so I'm not sure what's causing your issue now.

[2016-04-03 00:35] sgrif commented on #24402
We cannot ever under the type of the column when you are passing a SQL string. You need to ensure the value is of the correct type in these cases.

[2016-04-03 00:35] #24402 closed

[2016-04-03 02:50] waits commented on #23890
I threw this together in #24405 if you want to try it out. I added tests for the cases listed above; can you think of any edge cases or other scenarios to test? It shouldn't break any existing functionality.

[2016-04-03 07:52] sevaorlov commented on #24311
@jwgoh, sorry, I couldn't reproduce it with this code https://gist.github.com/sevaorlov/042266fdb3b8c4f53ccb775bc3e058fb
on Rails 4.0.12, PostgreSQL 9.5.1

`default: -1` is exported to schema for me. am I doing something wrong?

[2016-04-03 10:03] jwgoh commented on #24311
Wow, thanks for the bug report template @sevaorlov

I ran your script (added version for `pg` gem) and it fails. My modified [script](https://gist.github.com/jwgoh/ecf4b5af925e8a97413b4089d0e37a34)

Additionally, I dumped the output of the schema into a file and here is what I got.
![screen shot 2016-04-03 at 5 55 20 pm](https://cloud.githubusercontent.com/assets/6704206/14231846/695cad9a-f9c5-11e

[2016-04-03 10:40] sevaorlov commented on #24311
hm, strange, 0.18.4 is the last version, so I was using it. your script doesn't fail for me and the dump includes `default: -1`.
either default value is not created or not exported in a dump for you. can you check if default value is created in database? if not, then try to execute `ALTER TABLE \"users\" ADD COLUMN \"other_column\" integer DEFAULT -1` and see what happens?

if default value is cre

[2016-04-03 10:44] sevaorlov commented on #24311
rails 4.0.12 actually use this query
[code]

[2016-04-03 11:25] sevaorlov commented on #24234
@dungdm93, what do you expect from `"PostgreSQL JSON".to_json` ? it is just `"PostgreSQL JSON"` and on save the query is the following `INSERT INTO "foobars" ("attr") VALUES ($1) RETURNING "id"  [["attr", "PostgreSQL JSON"]]`, so it is not a valid json.
the same for `false.to_json`, it is just `"false"`

[2016-04-03 12:20] pixeltrix commented on #24392
@bquorning this a duplicate of #23019 - I've tried doing a fix in #23103 but found some regressions in the changes that aren't tested in the current test suite. Will take another look at it this week.

[2016-04-03 12:20] #24392 closed

[2016-04-03 12:32] pixeltrix commented on #24393
The path for `#url` actually comes from the Rack method `#fullpath` which is `SCRIPT_NAME` and `PATH_INFO` concatenated. This should be correct - the `SCRIPT_NAME` should be `/bar` and the `PATH_INFO` should be `/foo`. Looking at the example code your `RewriteRule` looks odd - that would rewrite the request path to `/foo` before it hits the Rails app so it never sees the `/bar`. I haven't set up a

[2016-04-03 12:36] pixeltrix commented on #24277
@dkolath routing specs in rspec-rails are essentially controller specs and as such they are similar to `ActionController::TestCase` in that they don't go through the full request stack. To check routing constraints use a request spec instead.

[2016-04-03 12:36] #24277 closed

[2016-04-03 12:46] bquorning commented on #24392
I *think* a fix might be as easy as calling `@recall = @recall.dup` right before mutating here:

[code]

Test coverage is pretty sparse, though, so I'm not sure if this introduces new regressions.

[2016-04-03 13:55] jwgoh commented on #24311
![screen shot 2016-04-03 at 9 36 00 pm](https://cloud.githubusercontent.com/assets/6704206/14232662/3489e226-f9e4-11e5-86b2-f0e472962fcc.png)
Yes the default value is being created.

![screen shot 2016-04-03 at 9 36 16 pm](https://cloud.githubusercontent.com/assets/6704206/14232663/3497ceb8-f9e4-11e5-85be-ea36bb5900df.png)
If I run this [SQL Query](https://github.com/rails/rails/blob/1e92fe73522b5

[2016-04-03 15:02] pixeltrix commented on #24392
@bquorning yeah, I sure we could just `dup` something but I'd rather we fixed it properly :smile:

[2016-04-03 16:18] bestori commented on #24092
:+1: @maclover7 . Why limit channel names...?

[2016-04-03 16:52] bquorning commented on #24392
Yeah, I agree. My observation is just that `@recall` has the same object_id as the controller's `request.path_parameters`.

[2016-04-03 16:59] justedd commented on #24390
No, thanks

[2016-04-03 17:59] ajporterfield commented on #22359
I published a gem that over the weekend that you can use to get per-job overrides back when using Active Job + delayed_job - https://github.com/ajporterfield/activejob_dj_overrides.

[2016-04-03 18:24] sevaorlov commented on #24311
not sure why, but I have `default (-1)` in my `value` column, that is why it is working for me
try to update to Rails 4.2, there were changes in that method https://github.com/rails/rails/commit/405fd22e70e4c2d1117ace0a834cbcc438ea8ca9

[2016-04-03 19:26] nusdon opened #24407 "Render JSON doesn't work with ActionController::API ( Rails 5.0.0.beta )"
### Steps to reproduce

Example:

[code]

Get an error:

`ActionView::MissingTemplate - Missing template root/index, application/index with {:locale=>[:en], :formats=>[:html, :text, :js, :css, :ics, :csv, :vcf, :png, :jpeg, :gif, :bmp, :tiff, :svg, :mpeg, :xml, :rss, :atom, :yaml, :multipart_form, :url_encoded_form, :json, :pdf, :zip, :gzip], :variants=>[], :handlers=>[:raw, :erb, :html, :builder,

[2016-04-03 20:56] waits commented on #23854
I reproduced this on 5.0.0.beta3 as well: https://github.com/waits/rails-reset-belongs-to-test

Note that it fails when running `db:reset` or `db:setup`. `db:seed` behaves correctly.

[2016-04-03 22:50] #24228 closed

[2016-04-03 22:50] pixeltrix commented on #24228
Thanks for the report @bughit :+1:

[2016-04-03 23:02] #22958 closed

[2016-04-03 23:05] waits commented on #23854
It also works fine when running `bin/rake` instead of `bin/rails`...

[2016-04-03 23:45] maclover7 commented on #24407
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-04 01:04] waits commented on #23854
I started working on this issue in #24409.

[2016-04-04 01:16] jeremy commented on #24092
The subscribe command is a bit awkward it's working as intended. The identifier does double duty to encode both the channel to subscribe and the other options to pass to the new subscription.

[2016-04-04 01:16] #24092 closed

[2016-04-04 02:42] xw19 commented on #24390
@maclover7 I am willing to give this a try

[2016-04-04 03:11] nusdon commented on #24407
This issue related to gem 'jbuilder' I added. Thanks for support.

[2016-04-04 03:11] #24407 closed

[2016-04-04 09:26] gioele commented on #24393
@pixeltrix: for `SCRIPT_NAME` to be `/bar` inside the Rails app, the Apache configuration should be modified to

[code]

But then, a Rails server started with

[code]

will complain that

when `http://localhost/bar` is accessed.

[2016-04-04 11:55] maurosbu commented on #20428
Same issue here!
Wouldn't be better to return an empty relation set when filtering by an integer that is out of the range?

Thanks!

[2016-04-04 12:23] utilum commented on #24364
I see a failure with both sqlite and mysql.

[2016-04-04 12:36] sanford opened #24411 "Use coffeescript compiler to convert ActionCable .coffee files to .js when javascript_engine = :js set"
### Steps to reproduce

in config/application.rb add:

`config.generators.javascript_engine = :js
`

Then run:

`rails generate channel Chat speak
`

### Expected behavior

`app/assets/javascripts/channels/chat.js
`

### Actual behavior

`app/assets/javascripts/channels/chat.coffee
`

### Suggested fix

If config.generators.javascript_engine = :js is set, feed the output of the channel generator i

[2016-04-04 12:53] gioele commented on #24393
A change that could solve this problem (while being less intrusive than #24396) is to

1. Generate a default `config.ru` that takes `relative_url_root` into account (PR #24412):

[code]

2. Document that the `RAILS_RELATIVE_URL_ROOT` variable must be set to the same value of `SCRIPT_NAME` (and maybe complain if the two differ).

[2016-04-04 13:01] Ladas opened #24413 "NoMethodError: undefined method `owners' for ActiveRecord::Associations::Preloader::NullPreloader:Class"
### Steps to reproduce

https://gist.github.com/Ladas/f066670b2a6ebabbe40c7d49ecd37dd3

### Expected behavior

Tests in the gist ^ should pass

### Actual behavior

Tests in the gist are not passing :-)

[2016-04-04 14:41] jeroenvisser101 opened #24414 "Puma worker config breaks spring reloading for helpers"
### Steps to reproduce
1. `rails new <app name>`
2. `rails g controller Home index`
3. [Edit `config/puma.rb` to use workers](https://github.com/jeroenvisser101/rails-puma-workers-helpers-spring/commit/768eb082070c7399a0992af6da4eaf3396ce06f1), without that, the bug doesn't occur
4. Create a dummy helper and use it in the view
5. `rails server`
6. Edit the helper
7. Refresh

[A minimal example can

[2016-04-04 14:50] sstephenson commented on #24257
Turbolinks 5 replaces all provisional elements in `<head>` on each page change. A provisional element is any element that is not a `<script>`, `<style>`, or `<link rel="stylesheet">`. You can see exactly how that works in the [SnapshotRenderer#mergeHead method](https://github.com/turbolinks/turbolinks/blob/ba0503cc91c71579952bcbfec5cb499d0569dfa8/src/turbolinks/snapshot_renderer.coffee#L20-L24).

[2016-04-04 15:46] schneems commented on #23019
Watching. I'll try to work on this in a bit.

[2016-04-04 15:47] schneems commented on #24392
Thanks for the report. I was OOO last week. I'll try to take a look soon. That hash dup was pretty expensive :(

[2016-04-04 16:12] Bramjetten commented on #21948
We were seeing a lot of InvalidAuthenticityToken exceptions. After reading this thread and further inspection I saw that the exceptions were only caused by mobile browsers. Adding 'Cache-Control' => 'no-store, no-cache' seems to have helped. Is this something we always have to account for or is there a better solution?

[2016-04-04 16:19] bwheeler96 commented on #18233
I realize I'm a little late to the party on this one, but what about the concern that now rails associations either fall into a "required" category, or a "not required" category.

It seems like this change is now adding opinions to how I should model my data, whereas previously rails just gave me the tools to create whatever unopinionated data model I wanted. Would it not make more sense to relega

[2016-04-04 16:22] jeremy commented on #21948
@Bramjetten That means no browser caching, though. Using a persistent cookie for your session is prob a more reasonable fix for you.

[2016-04-04 16:23] dhh commented on #18233
Party is over months ago. Rails is opinionated software. We always had conventions about how your data should be modeled and what the defaults were. This matches more of the use, more of the time.

[2016-04-04 16:23] dhh commented on #18233
http://rubyonrails.org/doctrine/#convention-over-configuration is a helpful guide on how these decisions are made and will continue to be made.

[2016-04-04 16:24] bluehallu commented on #17121
Can still reproduce as of Rails 5 beta 3

[2016-04-04 16:27] Bramjetten commented on #21948
@jeremy That's what I did at first, but it didn't seem to help.

[2016-04-04 16:30] schneems commented on #24263
Any progress here?

[2016-04-04 16:46] jeremy commented on #21948
May need to give it some time as people establish new sessions?
On Mon, Apr 4, 2016 at 09:27 Bram Jetten <notifications@github.com> wrote:

[2016-04-04 17:00] koenpunt opened #24417 "Possible bug with fields_for in combination with multipart forms"
I've ran into a problem with a form not rendering correctly after submitting with validation validation errors.

While setting up a sample application, I couldn't demonstrate my exact issue, but found something else.

In my real-world setup I was using Devise, with a linked resource (`has_one`) being created on sign up.
At the time I'd added a file field to this linked resource as part of the `fie

[2016-04-04 17:37] SylarRuby opened #24418 "Rails 5 beta 3: Cannot read property 'subscriptions' of undefined"
Ruby 2.2.3

`rails g channel foo_bar speak`

Enabled cable in router, then restart server. Now got:

which point to:

[code]

And:

    this.webSocket = new WebSocket(this.consumer.url);

[2016-04-04 17:46] tenderlove commented on #23964
I'm not sure I understand the usecase.  This code:

[code]

accesses the response body before anything has been rendered.  `response.body` will always be an empty string in this case, so you'll always generate the same ETag.  You could just write:

[code]

Is there some use case that has been omitted?  Thanks.

[2016-04-04 18:03] jeremy commented on #24418
Looks like the channel generator doesn't generate `app/assets/javascripts/cable.js` for you if it doesn't exist. The app generator does.

Check out https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/app/assets/javascripts/cable.js

[2016-04-04 18:09] SylarRuby commented on #24418
@jeremy it does:

[code]

[2016-04-04 18:24] rthbound commented on #23964
@tenderlove consider a case where the etag header is set in an `after_action` callback.

E.g. https://gist.github.com/rthbound/859508ebc9b07964dcb9f51473dc0ad6

[2016-04-04 18:53] jbedworth commented on #8937
For what its worth, if I move my modifications to before_save, and don't call save! in after_create_commit, I can work around this issue.

[2016-04-04 19:12] maclover7 commented on #24418
Can you please provide a sample application that replicates the error you are seeing?

[2016-04-04 19:14] maclover7 commented on #24417
Can you extract that integration test and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-04 19:27] SylarRuby commented on #24418
Well ive only installed rails 5 beta 3. Nothing fancy going on

[2016-04-04 19:59] maclover7 commented on #24411
Dup of #24245.

[2016-04-04 19:59] #24411 closed

[2016-04-04 20:38] jeremy commented on #24418
App.cable is undefined, so your cable.js hasn't loaded. Take a look in web inspector to track it down!

[2016-04-04 20:56] tenderlove commented on #23964
@rthbound thank you!  That makes much more sense.

[2016-04-04 21:01] pixeltrix commented on #24393
@gioele unfortunately that `map` won't work in situation where your forwarding to a different port because of [this check in Rack::URLMap][1]:

[code]

The `host` variable is `nil` so it all comes down to the last check and the ports don't match. You also have the issue of `public/assets` being in a subdirectory which adds complications.

[1]: https://github.com/rack/rack/blob/1.6.4/lib/rack/urlma

[2016-04-04 21:31] xn commented on #18660
I'm still having this issue. Any movement?

[2016-04-04 23:33] kenaniah opened #24424 "Foreign Key column names should be inferred via table name, not class name"
According to [ActiveRecord::Reflection::AssociationReflection#derive_foreign_key](https://github.com/rails/rails/blob/52ce6ece8c8f74064bb64e0a0b1ddd83092718e1/activerecord/lib/active_record/reflection.rb#L610) and the current documentation, foreign key names are inferred via the class name of the model, when an explicit foreign key name is not provided.

The drawback of this approach is that custo

[2016-04-04 23:49] maclover7 commented on #24424
Closing in favor of PR #24425.

[2016-04-04 23:49] #24424 closed

[2016-04-04 23:58] rafaelfranca commented on #24263
@carlosantoniodasilva that changes looks good to me. :truck: :candy:

[2016-04-05 00:23] rafaelfranca commented on #24257
The form CSRF token is per-form and contains the information of form action and the form method.

@elbartoloco @waits could you create a sample application reproducing this issue? It is only happening because a change we made in Rails 5 so I don't want to release it without having this fixed.

[2016-04-05 00:26] rafaelfranca commented on #24414
Spring is expecting that you application have only one process so I'm not sure if this is a bug or a limitation of spring. Either way I'm moving this issue to the spring repository.

[2016-04-05 00:27] rafaelfranca commented on #24414
This issue was moved to rails/spring#477

[2016-04-05 00:27] #24414 closed

[2016-04-05 01:51] kenaniah opened #24428 "ActiveRecord::Type module bleeds into ActiveRecord::Base"
It appears as though the `ActiveRecord::Type` module has been included in `ActiveRecord::Base`.

[code]

This causes an autoloading issue when trying to use namespaced models, as models with a class name of `Type` will need to first be required in the parent model before they are referenced.

[2016-04-05 02:09] kenaniah commented on #24428
This issue exists in the `4-2-stable` branch, but appears to be fixed in `master`

[2016-04-05 02:35] rafaelfranca commented on #24428
cc @fxn

[2016-04-05 02:53] fxn commented on #24428
It's kind of a gray area, because generally speaking the ancestor chain of AR::Base is not a public contract. The API is, where is stuff actually implemented is not.

So, the ancestor chain may change, AR internals may be reorganized. Problem is code organization in modules and constant name resolution are coupled in Ruby, so there is a private part of your design that has a global consequence.

Y

[2016-04-05 03:31] rafaelfranca commented on #24311
Rails 4.0 is not supported anymore. Could you reproduce it in Rails 4.1+?

[2016-04-05 03:32] rafaelfranca commented on #22359
I prefer to not have adapter specific code in Active Job. So a gem is a good way to start. Well done @ajporterfield

[2016-04-05 03:32] #22359 closed

[2016-04-05 03:48] rafaelfranca commented on #24264
r? @spastorino could you take a look on this? I have no idea how Rails API changes routes

[2016-04-05 04:19] SylarRuby commented on #24418
@jeremy What is the load order or cable.js?

<img width="605" alt="screen shot 2016-04-05 at 05 18 18" src="https://cloud.githubusercontent.com/assets/7381195/14271171/f3287274-faed-11e5-8713-e918cf3f5f93.png">

[2016-04-05 09:29] jwgoh commented on #24311
@rafaelfranca
Yes, I am able to reproduce problem with Rails ~> 4.1.0. All working well on Rails 4.2+

[2016-04-05 09:37] sevaorlov commented on #24311
That is because that method was changed in rails 4.2.
@rafaelfranca, do you want me port these changes https://github.com/rails/rails/commit/405fd22e70e4c2d1117ace0a834cbcc438ea8ca9 to Rails 4.1+?

[2016-04-05 10:14] koenpunt commented on #24417
@maclover7 creating a self contained test was harder than I expected. But I got it now, and can be found here: https://github.com/koenpunt/nested-form-file-field/blob/master/selfcontained.rb

It can be run with an extra argument `rebuild`, to "build" the association again in the create method, which you will see will result in quite a different outcome.

So,

[code]

And

[code]

[2016-04-05 10:48] prathamesh-sonpatki commented on #23964
Thanks @rthbound I updated the issue description.

[2016-04-05 10:56] mfazekas opened #24432 "Rails5 beta3 using ActionDispatch::Http::UploadedFile in tests"
### Steps to reproduce

Some of our test uses ActionDispatch::Http::UploadedFile for upload. In rails 5 we get:

[code]

It might have been an undocumented feature of rails to allow passing of ActionDispatch::Http::UploadedFile in testcases (i think only fixture_file_upload is documented). It was implemented in this PR in 2012:
https://github.com/rails/rails/pull/6805
I assume it was dropped in ra

[2016-04-05 11:00] mfazekas commented on #24432
I guess not end of the world, not sure if it warrants a note in http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html or just in https://github.com/rails/rails/blob/master/guides/source/5_0_release_notes.md?

[2016-04-05 11:08] vipulnsward commented on #24432
@tenderlove can you confirm if we need to continue supporting it?

[2016-04-05 11:16] vipulnsward commented on #24418
Hi @SylarRuby it would be helpful if you post the order of requires, etc. and where App.cable is being used(is this App.cable being called from components?).

I see you are doing
[code]
before
[code]
Its best to load all libraries/dependencies before loading components.

If that's not the issue, then it will need more debugging info, like and example App as mentioned before.

[2016-04-05 11:21] SylarRuby commented on #24418
@vipulnsward I dont believe that's an issue. My assumption is that `App.cable = ActionCable.createConsumer(');` should work without setting the `/cable` path. No? It works when I set the path:

    App.cable = ActionCable.createConsumer('ws://localhost:3000/cable');

[2016-04-05 11:39] prathamesh-sonpatki commented on #24418
@SylarRuby Do you have action cable meta tag rendered into some layout like

[code]

Because it's used to connect to Action Cable without needing to specify the URL - https://github.com/rails/rails/blob/master/actioncable/lib/action_cable/helpers/action_cable_helper.rb#L13-L14

I verified that it is present for newly generated apps from Rails 5.0.0.beta3 and master.

[2016-04-05 11:42] koenpunt commented on #24417
Some further investigation made me realize that this probably has to with how Rack processes multipart requests, as it discards empty fields..

[2016-04-05 11:46] SylarRuby commented on #24418
@prathamesh-sonpatki

No. I have just generated a new app and nothing is there. When I added the meta tag I still get the error. I have to specify the url for the app to work.

[2016-04-05 11:50] prathamesh-sonpatki commented on #24418
Pushed the sample Rails 5.0.0.beta3 app here - https://github.com/prathamesh-sonpatki/action_cable_demo_app

The `action_cable_meta_tag` is present by default - https://github.com/prathamesh-sonpatki/action_cable_demo_app/blob/master/app/views/layouts/application.html.erb#L6

[2016-04-05 11:50] prathamesh-sonpatki commented on #24418
Just to make sure :smile: are you using same layout where this tag is added?

[2016-04-05 11:51] SylarRuby commented on #24418
It was added to application.html.erb. There?

[2016-04-05 12:02] prathamesh-sonpatki commented on #24418
Yes. By default the `action_cable_meta_tag` is present in `application.html.erb`. If you are using that layout then the page source should contain the meta tag as follows -

![actioncablejsapp 2016-04-05 17-30-34](https://cloud.githubusercontent.com/assets/621238/14281020/2a39beec-fb54-11e5-9ae6-499656f7cf6f.jpg)

[2016-04-05 12:06] SylarRuby commented on #24418
I MAY have overwritten it when installing foundation lol.

[2016-04-05 12:07] vipulnsward commented on #24418
:smile:  Thanks for confirming.

[2016-04-05 12:07] #24418 closed

[2016-04-05 12:08] SylarRuby commented on #24418
LOL All green lights. Damn you foundation!

[2016-04-05 12:28] vipulnsward commented on #24417
@koenpunt hope its not https://github.com/rack/rack/issues/761 ?
https://github.com/rack/rack/pull/1009 was fixed. Can you try running this against rack master?

[2016-04-05 12:29] koenpunt commented on #24417
Haha, oh well I was just about to post about that PR, because rack master works just fine indeed!

[2016-04-05 12:33] vipulnsward commented on #24417
Thanks, going to close in favour of https://github.com/rails/rails/issues/23438

[2016-04-05 12:33] #24417 closed

[2016-04-05 13:12] vipulnsward commented on #24391
Looks like we are facing https://github.com/vipulnsward/rails/blob/933e11f8311e13c8d5e4355813ebcdbb50037ffc/activerecord/lib/active_record/transactions.rb#L190-L207

I can see this after running the test in isolation.

[2016-04-05 15:06] yahonda commented on #24391
Thanks for the update. I understand MySQL automatically commits transactions and release all savepoints when DDL statement executed.

but in this case I think all of savepoint statements below are explicitly executed from `ActiveRecord::ConnectionAdapters::Savepoints`.

[code]

Then when `ROLLBACK TO SAVEPOINT` executed, it gets this error since `active_record_1` savepoint has been released by `RE

[2016-04-05 15:07] arktisklada commented on #1755
I'm happy to work on a fix to this

[2016-04-05 15:11] vipulnsward commented on #24391
Yes, I tried to investigate too. Thanks for the update.

[2016-04-05 15:44] k2m30 opened #24434 "Rails.backtrace_cleaner.add_silencer doesn't work, but filters do"
### Steps to reproduce

in initializers/backtrace_silencers.rb

`Rails.backtrace_cleaner.add_silencer { |line| line =~ /lib/ }`

and restart the server
### Expected behavior

I expect to see in log file only

`ActionController::RoutingError (No route matches [GET] "/admin/roles")`

 but
### Actual behaviour

[code]

In the same time `Rails.backtrace_cleaner.add_filter { |line| line.sub('lib', '')

[2016-04-05 15:46] ghost opened #24435 "Rails 5 - Puma default port does not take effect"
Especially prevents from comfortable SOA development, as you can't start different services at the same time and test the interactions between them.
### Steps to reproduce
1. Create new rails project (normal or api).
2. Change a line in `config/puma.rb` to: `port ENV.fetch("PORT") { 3010 }`.
3. Run `$ rails s`.
### Expected behavior

Puma server should run on port `3010`.
### Actual behavior

`Lis

[2016-04-05 15:48] prathamesh-sonpatki commented on #24435
I think this issue has been fixed on master. cc @schneems

[2016-04-05 16:09] vipulnsward commented on #24435
This is not supported right now, unless you run with `puma`, which is working as expected.
Richard seems to be working on it https://github.com/vipulnsward/rails/commit/5563c329eee5febc22a3330e16fe8a6899d42fe2 but as of now its not supported(See https://github.com/puma/puma/issues/512 for more info)

Going to close for now, as this is more of feature request right now.

[2016-04-05 17:08] vipulnsward commented on #24434
This is because of https://github.com/vipulnsward/rails/blob/ecc8f283cfc1b002b5141c527a827e74b770f2f0/actionpack/lib/action_dispatch/middleware/debug_exceptions.rb#L155-L156

Since `application_trace` is empty(This is because error is not from user code but route error), we are falling back to `framework_trace`, which does not filter it(It filters only noise).

For me, I would expect this to be re

[2016-04-05 18:16] EdDeAlmeidaJr opened #24437 "Rails destroy does not remove routes previously included"
Assume I created a Welcome controller with just one method using
**$ rails g controller Welcome index**

This will create in my config/routes.rb a route
**get 'welcome/index'**

Then I changed my mind and decided to remove this Welcome controller with
**$ rails destroy controller Welcome**

It removes the controller and other files, but the route is still there.

As I see things, rails destroy sho

[2016-04-05 19:16] duffyjp commented on #24288
I'm getting this too actually, on pretty simple, month old Rails 5 beta3 app.

Rails version: 5.0.0.beta3
Ruby version: 2.3.0

[code]

I'm using SQLite for both my development and test databases, so I'm not sure why the schema would not load...

[2016-04-05 19:54] schneems commented on #24435
This should work on master. Can you please re-try with rails master and let me know if it is working? Make sure that spring is stopped.

[2016-04-05 19:55] jasnow commented on #24288
@duffyjp - Did this happen inside or outside TravisCI?

[2016-04-05 19:56] duffyjp commented on #24288
Quite a few results come up if you google ```"syntax error" INSERT INTO "schema_migrations"```

They're all Rails 5 beta3 and SQLite 1.3.11

Examples:
https://travis-ci.org/railsbridge/bridge_troll/builds/106673747#L841
https://travis-ci.org/projectblacklight/blacklight/jobs/111764929#L787
https://travis-ci.org/thiagopradi/octopus/jobs/114336625#L1125-L1126

[2016-04-05 19:57] duffyjp commented on #24288
@jasnow Only inside TravisCI.

[2016-04-05 20:01] vipulnsward commented on #24435
@schneems it's not- https://gist.github.com/vipulnsward/f3e1a3ae26f5160d9de5f6e2837ce13e
App created via master today.

[2016-04-05 20:03] vipulnsward commented on #24435
If this is valid, I believe https://github.com/puma/puma/issues/939 is a valid issue too.

[2016-04-05 20:22] jasnow commented on #24288
Thanks

[2016-04-05 20:43] yahonda commented on #24288
Although I do not know which SQLIte version (not sqlite3 gem version ) is using, it looks like `SQLite Release 3.7.11` or higher version necessary to insert multiple values in one statement.
http://www.sqlite.org/releaselog/3_7_11.html

[2016-04-05 20:48] yahonda commented on #24288
https://github.com/travis-ci/apt-package-whitelist/issues/368 by updating travis.yml we may be able to use newer version of SQLite 3 database when tested in Travis CI. Let me open a pull request.

[2016-04-05 20:57] sgrif commented on #24428
For the record, this is intentional behavior. `ActiveRecord::Type` is part of the public API, and is intended to be referenced as just `Type` inside of AR classes. `Type` is a reserved word elsewhere in Active Record. As was mentioned by others, this is a gray area API-wise. In this case I don't think there's any action to be taken.

[2016-04-05 20:57] #24428 closed

[2016-04-05 21:06] mfazekas opened #24438 "Rails5 beta3 url_for appends unwanted parameters"
### Steps to reproduce

[code]
see https://gist.github.com/mfazekas/922719bf65b3daeb7a0360e0ae7e7ebc for full repro script

was fine in rails 4.2

### Expected behavior
test should pass

### Actual behavior
id seems to be added to ```assert_redirected_to :index```

[code]

### System configuration
**Rails version**:5.0.0.beta3
**Ruby version**:2.3.0

[2016-04-05 21:08] mfazekas commented on #24438
Reverting https://github.com/rails/rails/commit/1993e2ccbd7c5651278ea30bdc9d8034f5197945 fixes it.
I assume that not cloning the hashes and reusing hashes in other part of code causes this strange effect.

[2016-04-05 21:20] ianks opened #24439 "NameError: uninitialized constant SomeJobNameJob"
### Steps to reproduce

This is actually very hard to reproduce, since I only randomly get it during production.

### Expected behavior

The constant should be loaded.

### Actual behavior

The constant is not initialized

### System configuration
**Rails version**:

[code]

**Ruby version**:

`2.2.4`

### Backtrace

[code]

[2016-04-05 21:20] #24439 closed

[2016-04-05 21:20] ianks commented on #24439
Meant to open this with delayed-job.

[2016-04-05 22:26] jasnow commented on #24288
Add the below code to fix above problem in my .travis.yml file:
[code]
It worked: https://travis-ci.org/atlrug/atlrug4/builds/121010500

[2016-04-05 23:13] maclover7 commented on #24438
... there isn't an index action in your test script's controller? Try to add and then run again.

[2016-04-05 23:14] maclover7 commented on #24437
Can you check and see if this appears on Rails master, too?

[2016-04-06 01:01] adrianomitre opened #24442 "reorder breaks #last"
### Steps to reproduce

[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 4.2.5.2
**Ruby version**: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

[2016-04-06 01:04] adrianomitre commented on #24442
Still debugging, but it seems that #unscoped resets order_values but reorder leaves a nil there.

[2016-04-06 01:16] adrianomitre commented on #24442
Well, it seems that it is Squeel gem that breaks it. Sorry.

[2016-04-06 01:30] adrianomitre opened #24443 "#reorder breaks order_values"
### Steps to reproduce

[code]
Breaking order_values also breaks, at least, #last.

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 4.2.5.2
**Ruby version**: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

PS: This issue supersedes https://github.com/rails/rails/issues/24442

[2016-04-06 01:30] #24442 closed

[2016-04-06 01:45] adrianomitre commented on #24443
Confirmed it is a [Squeel gem](https://github.com/activerecord-hackery/squeel) issue, closing...

[2016-04-06 01:45] #24443 closed

[2016-04-06 02:18] EdDeAlmeidaJr commented on #24437
I'll try and report here, @maclover7.

[2016-04-06 03:41] #1755 closed

[2016-04-06 03:46] #24413 closed

[2016-04-06 03:53] rafaelfranca commented on #24311
At this point I'm not sure if it worth to backport a change to 4.1. We are really close to the Rails 5 release and when it is release 4.1 will not be maintained for bug fixes anymore. Because of that I'm closing this issue.

[2016-04-06 03:53] #24311 closed

[2016-04-06 04:16] mfazekas commented on #24438
@maclover7 i've added index but as expected it doesn't makes any difference, as index is newer called just redirected to.

[2016-04-06 06:19] mfazekas commented on #24438
I've added another testcase that shows that the issue is in url_for:
[code]
i'd expect the two url_for to return the same thing but the second has the id appended
[code]

[2016-04-06 07:27] SylarRuby opened #24446 "Question: Pass more than one param to Action Cable server?"
Could you change this to a question?

[Based on my StackOverflow question](http://stackoverflow.com/questions/36420246/more-than-one-params-with-rails-5-action-cable?noredirect=1#comment60456495_36420246), is it possible to pass more than one param to the Action Cable (AC), server? Is AC purpose to operate as a chat app where only one param is passed?

[code]

I should be able to receive both para

[2016-04-06 07:40] vipulnsward commented on #24438
Tried investigating this. We are mutating  `@recall` here https://github.com/rails/rails/blob/eba0041c2132e46bf9e040b31059e020e590d2ae/actionpack/lib/action_dispatch/routing/route_set.rb#L636

which is causing conditions on https://github.com/rails/rails/blob/eba0041c2132e46bf9e040b31059e020e590d2ae/actionpack/lib/action_dispatch/routing/route_set.rb#L568 to vary and result into different routes.

[2016-04-06 07:52] vipulnsward commented on #24438
Ahh, I see its being worked on here- https://github.com/rails/rails/issues/24392
 and https://github.com/rails/rails/pull/23103

[2016-04-06 08:02] odedniv opened #24447 "Add the option to preserve original SELECT clause"
When using `select` method on ActiveRecord it replaces the default SELECT clause. Sometimes you want to only add custom values (such as subquery from related tables), and restoring the original clause (`table.*`) is painful. As a squeel user, I don't really like using custom SQL and I don't want to have to specify the table name (which can also be aliased, or in a different database type).

There

[2016-04-06 08:18] SylarRuby commented on #24446
Never mind. I have solved it.

[2016-04-06 08:18] #24446 closed

[2016-04-06 08:19] vipulnsward commented on #24447
See https://github.com/rails/rails/blob/master/guides/source/active_record_querying.md#selecting-specific-fields. The purpose of select is to retrieve a subset, which is expected behaviour here.

Here is how you can achieve the above behaviour with `default_scope` if needed in your case- https://gist.github.com/vipulnsward/c3b69cb2b145bf95135569031d8f76ea

[2016-04-06 08:19] #24447 closed

[2016-04-06 08:26] vipulnsward commented on #24437
It does exist no master.

[2016-04-06 08:26] odedniv commented on #24447
@vipulnsward I understand that this is the expected behavior, I'm just stating the ActiveRecord is missing a common functionality, and for some reason chose one over the other arbitrarily.

Back ticks are MySQL specific, and the table name can be aliased (in a joins for example). These are only 2 examples why custom SQL in the app is not a proper solution for the problem... This cannot be done in

[2016-04-06 08:44] EdDeAlmeidaJr commented on #24437
Yes, it is the same on master.

[2016-04-06 09:10] vipulnsward commented on #24437
So the issue is that you are creating with

and removing with

If you try with

this will work as expected.

`rails destroy controller Welcome` has a different meaning, similar to how `rails generate controller Welcome` is different from `rails generate controller Welcome index`, in that they create a different route.

@EdDeAlmeidaJr Thanks for reporting, going to close as its not an issue.

[2016-04-06 09:10] #24437 closed

[2016-04-06 09:15] k2m30 commented on #24434
Well, I would accept this as an expected behaviour if:

-  `add_silencer` and `add_filter` both affect only `application_trace` which is not true at the moment
- the method is called something like `Rails.application_backtrace_cleaner`, not `Rails.backtrace_cleaner`

The real task behind it is to have only application trace by default. Which is enough for 99% of all bugs. Especially in production

[2016-04-06 09:19] jwgoh commented on #24311
Hey guys, appreciate your time and discussion on this matter. @sevaorlov @rafaelfranca

I will upgrade my Rails project to Rails 4.2, and looking forward to the release of Rails 5. :smiley:

[2016-04-06 09:26] vipulnsward commented on #24434
@k2m30 I am not 100% sure of this issue either :smile: , hence waiting for others to comment. This behaviour has been so since the beginning.

[2016-04-06 09:27] EdDeAlmeidaJr commented on #24437
Okay, I got it. But I still ask myself what is the meaning, semantically, of destroying a controller without destroying all the routes associated with it.

[2016-04-06 09:34] vipulnsward commented on #24447
Hi @odedniv I am not able to think what's best way to achieve this, on top of my head. `arel_table` is not public API and as such not advisable to use it directly as well.

As regards to above issue, this is more of a feature request(enhancement) and not a bug, and this tracker is reserved for issues. You can post about it to the rubyonrails-core@googlegroups.com mailing list, for further discussi

[2016-04-06 09:37] odedniv commented on #24447
Yes, that's why I didn't want to use Arel.

Sorry, I guess I missed that! Will post there, thank you :smiley:

[2016-04-06 14:03] elbartoloco commented on #24257
After further tinkering when trying to create a simple app reproducing the issue, it seems that the issue is related to the option `url` in `form_for` (which I use in my app, see my initial submission).

To reproduce (rails 5.0.0beta3, ruby 2.3.0p0):

[code]

[code]

[code]

[code]

[code]

The form must be accessed by following the link in the users' index page.

Now, the above does work fine.
**

[2016-04-06 15:52] duffyjp commented on #24288
@jasnow You're my hero.  That worked for me too!

Here's my full .travis.yml, if it helps anyone.

[code]

I guess the real question is shouldn't Active Record and/or the sqlite3 gem know about the limitations of SQLite at specific versions and build SQL accordingly?

[2016-04-06 16:53] rafaelfranca commented on #24257
That is awesome, so it is not related to turbolinks but to the `:url` option in `form_for`. I'll take a look.

[2016-04-06 17:11] rlugge commented on #24407
@nusdon any chance you could provide more details, since I just ran into the exact same issue?

[2016-04-06 17:15] rlugge commented on #24407
For those -- like me -- trying to track this issue down, the following link may be of use.

https://github.com/rails/jbuilder/issues/317

[2016-04-06 21:05] atomkirk commented on #23923
I am having the exact same problem, same set up.

[2016-04-06 21:30] sevaorlov commented on #24359
connected with https://github.com/rails/rails/issues/21765
and also there are two PRs https://github.com/rails/rails/pull/21819 and https://github.com/rails/rails/pull/23393

so this issue will be fixed if https://github.com/rails/rails/issues/21765 is implemented. but anyway `remove_index` can be optimized to remove index without fetching all the indexes if name is specified.

[2016-04-06 22:41] meinac commented on #24234
I believe that, this is not an issue on Rails.
Please have a look at the documentation about ruby's json library [here](http://ruby-doc.org/stdlib-2.0.0/libdoc/json/rdoc/JSON.html#module-JSON-label-Generating+JSON). As you can see on the section linked above, the documentation says;

[code]

The documentation about `to_json` method you are using in this case can be found [here](http://ruby-doc.org

[2016-04-07 00:50] mgodwin commented on #21220
Since the `mail` method returns the message, you can actually do this without referencing the underscore-prefixed ivar:

[code]

I'd prefer to see this fixed a little bit better, has bitten us a few times now. 👍

[2016-04-07 01:54] tijwelch commented on #24183
Confirmed the test fails for me too.

[2016-04-07 08:15] mukeshrj opened #24452 "Pluck Method Issue"
### Steps to reproduce

  As per this page http://guides.rubyonrails.org/active_record_querying.html#pluck

  I am trying to use => Client.pluck(:id, :name)

  But it is giving following error
     ArgumentError: wrong number of arguments (2 for 1)

  Ruby Version : ruby-2.0.0-p247

  Rails Version:  Rails 3.2.14

let me know if mistake from my side

[2016-04-07 08:30] sevenseacat commented on #24452
That guide is for the current version of Rails - Rails 3.2.14 does not have that functionality.

http://guides.rubyonrails.org/v3.2.14/active_record_querying.html#pluck

[2016-04-07 08:34] mukeshrj commented on #24452
Thanks Dude...I didn't notice that.

[2016-04-07 08:34] #24452 closed

[2016-04-07 09:38] meghasharma13492 commented on #23337
Perfect Thanks !!

[2016-04-07 19:27] dtognazzini opened #24456 "Generated ApplicationMailer is not namespaced when generating within mountable engine."
### Steps to reproduce
Follow the [Rails Guide](http://guides.rubyonrails.org/engines.html) to generate an engine:

[code]

Generate a mailer in the generated engine:
[code]
Look at the generated `ApplicationMailer`:
[code]
[code]

### Expected behavior
`ApplicationMailer` should be nested under `Blorgh`.

[code]

[code]
[code]

### Actual behavior
Covered in [Steps to reproduce](#steps-to-reprodu

[2016-04-07 19:33] schneems commented on #24435
This works for me

[code]

Are you using Puma 3.0 or above?

[2016-04-07 19:36] sgrif commented on #24234
@meinac This is an issue in Rails.

[2016-04-07 19:49] meinac commented on #24234
@sgrif what is the issue with Rails here? Do you mean, Rails should cover bad inputs?

[2016-04-07 20:17] sevaorlov commented on #23924
there is a note in code that `it would be crazy to try to properly support stale-checking for nested associations`
https://github.com/sevaorlov/rails/blob/master/activerecord/lib/active_record/associations/through_association.rb#L65

[2016-04-07 20:22] jeremy commented on #21220
`Notifier.welcome(*args)` returns a proxy object; it doesn't call `#welcome`. When you call `#deliver_later` on the proxy, it enqueues a job with the mailer and args. It hasn't run the mailer method at all at this point.

However, if you invoke methods on the proxy it will delegate them to the message, which lazy loads by calling the mailer method: `#welcome`. So, you'll get double-calls to the ma

[2016-04-07 20:28] rafaelfranca commented on #24456
Could you try the master branch?

[2016-04-07 20:39] jeremy commented on #21220
(@mgodwin and @BenEddy are right on the money with the fix, too: Only touch the message within the mailer method itself. The `#mail` method is super handy for this.)

[2016-04-07 20:41] jeremy commented on #21220
The fix in #24457 isn't appropriate for a stable release line, so it'll be Rails 5 only. We could consider a deprecation warning for 4.x that allows the old behavior but squawks about it.

[2016-04-07 20:41] #21220 closed

[2016-04-07 20:46] vipulnsward commented on #24435
@schneems so the above would work because of https://github.com/rails/rails/blob/9d87ce34f865fa9d7a24ef9f1f1b0d4dedfd3fbf/railties/lib/rails/commands/server.rb#L92-L92.

This issue is related to changing port value in `config/puma.rb`, (example-https://gist.github.com/vipulnsward/74c9966f7dd6d57828092a26418b1b51)

[2016-04-07 20:57] sgrif commented on #24234
The inputs aren't bad.

On Thu, Apr 7, 2016, 3:50 PM Mehmet Emin İNAÇ <notifications@github.com>
wrote:

[2016-04-07 20:58] sgrif commented on #24234
And yes, if they were than we should be handling it. We should never be
getting that sort of error from PG

On Thu, Apr 7, 2016, 4:57 PM Sean Griffin <sean@seantheprogrammer.com>
wrote:

[2016-04-07 21:42] sevaorlov commented on #23977
`clear` method is almost the same as `delete_all`, they are association methods https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/collection_proxy.rb#L1022
It is said `Association callbacks are similar to normal callbacks, but they are triggered by events in the life cycle of a collection.` in the docs http://guides.rubyonrails.org/association_basics.html, so I

[2016-04-07 21:42] meinac commented on #24234
So you say `"PostgreSQL JSON"` is valid JSON right?

And yes, robust programming is a good practice but how can you cover this case? Are you planning to ignore bad values silently or are you going to raise an ActiveRecord exception instead of PostgreSQL one or are you going to add an error into the record which says attribute is invalid?

[2016-04-07 22:29] dtognazzini commented on #24456
Working on master. Duplicate of https://github.com/rails/rails/pull/24164.

[2016-04-07 22:29] #24456 closed

[2016-04-07 22:48] sgrif commented on #24234
No, you don't assign json to a field, you assign a Ruby type that can be
serialized to json. And yes, a string is a valid json primitive. If it were
invalid we would treat it the same as invalid input in other types, which
is casting to nil.

On Thu, Apr 7, 2016, 5:43 PM Mehmet Emin İNAÇ <notifications@github.com>
wrote:

[2016-04-07 23:48] Gemesys opened #24459 "Ruby on Rails "Getting Started" tutorial "Destroy" method does not work at all. I'm using rails version 4.2.5.1"
### Steps to reproduce
Excellent Ruby-on-Rails tutorial at:
http://guides.rubyonrails.org/getting_started.html

### Expected behavior
One would expect the basic CRUD fuctions to work, as documented.
They were working, and now they are not. Specifically, the "Destroy" method, as documented in the tutorial does not work at all.
The "Destroy" example should bring up a dialog-box, to confirm a delete

[2016-04-08 02:06] barnett opened #24460 "ActionMailer::Preview uses different execution of mailer for email info bar and email content"
### Steps to reproduce

Create a mailer:

[code]

Create a preview:

[code]

And in `apps/views/object_mailer/event_happened.html.erb`:

[code]

The object will differ.

[Example Repo](https://github.com/barnett/action_mailer_bug)
1. Start server
2. Go to `/rails/mailers/object_mailer/event_updated`
3. :boom:
### Expected behavior

I would expect the render for the email and email info bar use the

[2016-04-08 02:10] sevenseacat commented on #24459
Can you push the app you've built that demonstrates this problem, to GitHub? Many people have followed that tutorial and reported no problems.

[2016-04-08 02:41] meinac commented on #24234
Yes you were right, I've checked the [**recent** rfc](http://rfc7159.net/rfc7159) and this is completely valid JSON. Thank you for the quick tutorial @sgrif :smile:

[2016-04-08 04:58] alexshk commented on #24251
@codeodor Thanks! Had same problem.

[2016-04-08 09:20] senny commented on #22584
@fgbreel can you upload a sample application to GitHub that reproduces the issue?

[2016-04-08 09:21] chrisvel commented on #24459
@Gemesys Can you confirm method: :delete in your form that does the delete ?

[2016-04-08 12:46] andreydeineko opened #24466 "pluck does not work with pg array type"
### Steps to reproduce

[code]
[code]
[code]
[code]

Then create some user, some department with few linked_accounts.
Then associate user with department.

[code]

### Expected behavior
When I do
[code]

I would expect to have an array of arrays of `department`s `account_ids`.

### Actual behavior
Instead I get array of empty arrays.

### System configuration
**Rails version**: 4.2.3

**Ruby versi

[2016-04-08 13:40] fgbreel commented on #22584
@senny I realized that I'm using the `code` column after a `anotherfield: 0`, and changing to `anotherfield: false` fixed the problem.

[2016-04-08 14:36] nasospsa commented on #19791
In case someone may be helped from this. I read multiple times into @arthurnn comment and ended doing the "lazy loading" thing.

I was eager loading an object in the controller if the fragment existed:
[code]

And in the view of this action I had:
[code]

This ended up **NOT** updating the view, if the file/template changed, but the items stayed the same.

So the first thing I had to do was to rem

[2016-04-08 14:43] schneems commented on #24435
I think this is an issue in puma, I posted a comment there

[2016-04-08 17:41] djunzu opened #24469 "No link to "About your application's environment" in Welcome page"
The last paragraph in section 4.1 of the edge version of Rails Guides, Getting Started with Rails chapter, states:

Launching a new app (beta 3), I can't see such link. Inspecting `railties-5.0.0.beta3/lib/rails/templates/rails/welcome/index.html.erb`, I can't see such link too.

I think docs should be updated. Or better, I would like to see the link in the welcome page!

[2016-04-08 17:44] vipulnsward commented on #24469
Thanks for reporting @djunzu . Would you like to send a PR to update this section in docs with this change?

[2016-04-08 17:47] arktisklada commented on #24466
I'm not experiencing the same error... Here's a test setup: https://gist.github.com/arktisklada/48b8d606cffe8b5ad41d3e156752eb91.  Are there any differences between what you have and this gist?

[2016-04-08 18:08] vipulnsward commented on #24466
I am not able to replicate either, @arktisklada's script passes for me.

@andreydeineko can you check if there's something different from this script?

[2016-04-08 18:09] psantos10 opened #24470 "Possible bug with enabling caching on dev environment"
### Steps to reproduce

When I run the following command for the first time:

$ bin/rails dev:cache

I got the following feedback:

And the file `tmp/caching-dev.txt` is created.

From this point, I expect  to, when I run the server (`bin/rails server`), to be running with caching on dev enabled.

But it is not happing that way. After run `bin/rails dev:cache` followed by the command `bin/rails se

[2016-04-08 18:10] andreydeineko commented on #24466
@arktisklada, @vipulnsward  Strange, but in newly generated app I do not experience the issue.
There must be something I am missing in my real application. Sorry for bothering you guys..

[2016-04-08 18:10] #24466 closed

[2016-04-08 18:10] vipulnsward commented on #24466
Thanks for confirming, please re-open if you notice this issue.

[2016-04-08 18:25] vipulnsward commented on #24470
@psantos10 all newly generated Apps contain https://github.com/vipulnsward/rails/blob/722227a6f63b0a2fc45bd150a0dd6de3b7878c46/railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt#L16-L27 that takes care of this.

Can you confirm if your development config has this?

[2016-04-08 18:30] psantos10 commented on #24470
@vipulnsward this is the content of my generated file (`config/environments/development.rb`):

[code]
This demo application was generated today.

[2016-04-08 18:44] vipulnsward commented on #24470
This has now been fixed by https://github.com/rails/rails/pull/24331 on master.

Example log: https://gist.github.com/vipulnsward/822946ccc4dcf2263b8663764f0d9e4d

Log with caching, read fragment call- https://gist.github.com/vipulnsward/822946ccc4dcf2263b8663764f0d9e4d#file-restart-log-L4

Log after running dev:cache again- https://gist.github.com/vipulnsward/822946ccc4dcf2263b8663764f0d9e4d#file

[2016-04-08 18:44] #24470 closed

[2016-04-08 19:31] vipulnsward commented on #24460
The email content is displayed in an iframe and fetched in a separate request(based on whether html or text is selected in dropdown).

cc @pixeltrix if we are interested to update this header info as well. It would need a full-page reload/or not using this iframe though.

[2016-04-08 20:39] djunzu commented on #24469
Well, I could give it a try.

Just to make it clear: There won't be such link and the docs should not state about it. Right?

[2016-04-08 20:41] vipulnsward commented on #24469
Yes.

[2016-04-08 21:05] TeknoFiend opened #24472 "Assets with mixed line returns get corrupted"
### Steps to reproduce

Include a Javascript file with mixed line returns (specifically CRLF at the beginning of the file and just LF later). Run rails server and load a page in browser (we used Chrome).
### Expected behavior

The JS file should be identical to the one in the file system and parse & execute properly.
### Actual behavior

When looking at the JS file in the dev tools in the browser

[2016-04-08 21:18] brchristian opened #24473 "Support for Float.years"
There are some scientific data sets that use floating-point numbers for years.

For instance, the ice core CO2 measurements [here](http://www1.ncdc.noaa.gov/pub/data/paleo/icecore/antarctica/antarctica2015co2composite.txt) uses the standard “Years Before Present” unit, which is floating point by default.

At present there is no way (to my knowledge) to ingest these values cleanly into Rails.

If t

[2016-04-08 21:22] #24469 closed

[2016-04-08 21:24] zhufenggood commented on #24390
I have read active_record/autosave_association.rb find that actually errors message index is the index of `association.target.find_all(&:changed_for_autosave?)`  index,  not the full association index, Confusing people when reading errors message.

Someone can update active_record/autosave_association.rb fix this.

[2016-04-08 22:36] novotarq commented on #24294
The problem is, that `ActiveRecord::Base.configurations` does only contain data for development when using DATABASE_URL , here is the parsed config:
`{"development"=>{"adapter"=>"sqlite3", "database"=>"//vagrant/rails/my-test-app/db.sqlite"}}`

From what I have seen, there are at least two solutions:
The first one would be to add configuration for the test database here:
[https://github.com/rails/

[2016-04-09 02:29] TeknoFiend commented on #24472
I should have mentioned that this is a problem because of third-party assets. It's not desirable to have mixed line returns in files but it is sometimes beyond our control.

[2016-04-09 06:36] utilum commented on #24390
I'll try.

[2016-04-09 07:40] salmanasiddiqui commented on #24314
workaround for anyone else facing this issue

replace `includes` with `preload` and use `joins`

example:
`@tickets = Ticket.preload(:portfolio).joins('LEFT JOIN portfolios on portfolios.id = tickets.portfolio_id').select('tickets.*', 'SUBSTRING(tickets.title,1,4) as code').order('portfolios.name')`

[2016-04-09 07:53] TikiTDO commented on #24392
@schneems Are you sure the recall dup was expensive? I just tested the example script above with memory_profile, both with and without dup, and the difference was 300 bytes. Is there a test case where this recall hash is significantly bigger?

[2016-04-09 08:10] bquorning commented on #24392
I think the concern is that the `dup` happens for every URL generation on the page, and the dup'ed hashes are identical (except they're not, since we mutate them – I'm confused).

[2016-04-09 09:09] vipulnsward commented on #24473
Hello @brchristian . This is more of a feature request(enhancement) and not a bug, and this tracker is reserved for issues. You can post about it to the rubyonrails-core@googlegroups.com mailing list, for further discussion.

Thanks!

[2016-04-09 09:09] #24473 closed

[2016-04-09 09:11] vipulnsward commented on #24472
Hi @TeknoFiend can you create a sample App replicating this behaviour?

[2016-04-09 09:16] vipulnsward commented on #24459
Hi @Gemesys

[code]

should ideally work here, with your setup and your confirmation that jquery_ujs has been included.
Can you push a sample App, where you are facing this issue?

[2016-04-09 09:41] TikiTDO commented on #24392
I did some investigation on the code base, and here are my results. Please let me know if this makes sense:

 - Investigation
   - `ActionDispatch::Routing::RouteSet#url_for` calls into `ActionDispatch::Routing::RouteSet#generate` [here](https://github.com/TikiTDO/rails/blob/eba0041c2132e46bf9e040b31059e020e590d2ae/actionpack/lib/action_dispatch/routing/route_set.rb#L721)
   - `ActionDispatch::Rou

[2016-04-09 10:18] sigvei opened #24478 "Overridden accessor methods fail numericality validation"
### Steps to reproduce

When all of the following is true:
* An integer field's accessor method is overridden with a custom method
* The field is passed a params hash with a blank string, which is then translated to nil
* A NumericalityValidator with allow_nil: true is set for the field

The validation fails with `:not_a_number`, even though the field resolves to `nil`.

### Expected behavior
The

[2016-04-09 10:30] TikiTDO commented on #24028
I'd like to help to help out, but I'm having trouble figuring out how to reproduce the issue. Any chance anyone might have an example app that reproduces the problem?

[2016-04-09 10:31] vipulnsward commented on #24478
@sigvei https://gist.github.com/sigvei/484ba0624cd1c5a9118a6eb98d57d161 doesn't contain the issue you have mentioned. Can you update it to replicate this issue?

[2016-04-09 11:37] kryna opened #24480 "Rails 4.2.6 - has_many through, undefined method 'name' do nil:NilClass (ruby 2.3.0, fails only on production)"
I have prototype model

[code]

and service

[code]

When I'm trying to update prototype object (creating works fine) with some new custom_dictionaries_ids, application fails at

[code]

Error link (not exactly mine but same active_record error): http://pastebin.com/TZugtfrd

Funny thing is that code from my example works on development just fine. **Production** is the problem. Some time before, *

[2016-04-09 12:05] TikiTDO commented on #24028
Does [this](https://github.com/TikiTDO/rails_issue_24028) accurately reproduce the error in this issue?

[2016-04-09 12:09] sigvei commented on #24478
Oops, sorry. Now updated.

[2016-04-09 13:52] TikiTDO commented on #24028
A possible way to fix this would be to hack something like [this](https://gist.github.com/TikiTDO/cbb94b554b5b94c35f99d904b8a66124) into the Thread class. Then it's possible to do a check in the interlock on whether a parent thread owns the share lock, and let one ancestor thread through at a time.

The only concern I would have with that is whether it's fair game to write to Thread variables. I c

[2016-04-09 17:03] maclover7 commented on #24480
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-09 17:54] NullVoxPopuli commented on #24446
For others who may be passing through, I have a ruby-based client for action cable that uses EventMachine. https://github.com/NullVoxPopuli/action_cable_client

You'd basically just do this:
[code]

@SylarRuby can you post how your solved your problem? in case someone has the same setup as you?

[2016-04-09 17:57] SylarRuby commented on #24446
@NullVoxPopuli My answer is on stackoverflow. See the link above.

[2016-04-09 18:50] brchristian commented on #24473
Thanks, will do! :+1:

[2016-04-09 20:17] BrennerSpear opened #24482 "update to 4.2.6 broke getting my assets"
### Steps to reproduce

update to Rails 4.2.6
visit my app's homepage

### Expected behavior
It should return 200 OKs for all my assets

### Actual behavior
it returns 500 ERRORs and this error for each asset:

```2016-04-09 12:55:19 -0700: Rack app error: #<NoMethodError: undefined method `[]' for nil:NilClass>
12:55:19 web.1    | /Users/BrennerSpear/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems

[2016-04-09 23:16] rafaelfranca commented on #24482
This seems a bug in quite_assets by the backtrace you provided. Since we don't support quite_assets I recommend you to report the issue there.

[2016-04-09 23:16] #24482 closed

[2016-04-09 23:18] BrennerSpear commented on #24482
Will do - thanks.

On Saturday, April 9, 2016, Rafael França <notifications@github.com> wrote:

[2016-04-10 05:16] TikiTDO commented on #24264
I tried to reproduce the routing error [here](https://github.com/TikiTDO/rails_issue_24264) but could not do so.

[2016-04-10 06:48] prathamesh-sonpatki commented on #23923
@rafaelfranca Should this be a blocker for 5.0?

[2016-04-10 13:58] mfazekas opened #24491 "Transaction deadlock with rails 5 beta 3"
### Steps to reproduce

We have a complex test with rspec, database cleaner, factorygirl. Some runs are deadlocking. Debugging showed that there is a transaction started but not finished.

A simplified case:
https://gist.github.com/mfazekas/ccf9bee10dc4fe23f39d1da1b914993b

### Expected behavior
Pass or error, but not a deadlock

### Actual behavior

Deadlock. Test doesn't finish

### System confi

[2016-04-10 14:02] mfazekas commented on #24491
This test invokes controller action inside a transaction.
Rails seems to give back that connection to the pool here, with the transaction opened:
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/query_cache.rb#L48

If some thread grabs the connection just after, or returns connection before then the the we'll have a split head scenario. Where the connection where we starte

[2016-04-10 14:05] mfazekas commented on #24491
I'd propos 2 fix:

1. raise an exception when a connection with and opened transaction tried to retired. This is just asking for trouble.
2. as indicated by comment do no remove the connection when we're running a test

[2016-04-10 14:09] arthurnn commented on #24491
r? @arthurnn

[2016-04-10 15:51] arthurnn commented on #24491
regarding number 2.
I wonder why the regression test on https://github.com/rails/rails/commit/c7b7c6ad1c773102753f1a11b857d0e37ceb6a21 was not failing .

[2016-04-10 15:52] arthurnn commented on #24491
NVM, seems like the test was removed in the PR https://github.com/rails/rails/commit/d3c9d808e3e242155a44fd2a89ef272cfade8fe8?diff=split#diff-4836275ce5b6432a15ca07c1a15593d5L69

cc @matthewd

[2016-04-10 17:54] shivashankar-ror opened #24496 "Unable to skip default unit test while generating new rails application"
### Steps to reproduce
`rails new myapp --database=mysql --skip-test-unit`

### Expected behavior
The rails application should not have default test framework installed

### Actual behavior
Currently it has 'test' folder created

### System configuration
**Rails version**:
Rails 5.0.0.beta3

**Ruby version**:
ruby 2.2.2p95

[2016-04-10 17:58] vipulnsward commented on #24496
This has now changed to `----skip-test`. Can you confirm if that works ok for you.

[2016-04-10 18:03] vipulnsward commented on #24496
Going to close, since we also list it in the command help.

[2016-04-10 18:03] #24496 closed

[2016-04-10 18:04] shivashankar-ror commented on #24496
The command is  `--skip-test` instead of `----skip-test`

[2016-04-10 18:05] vipulnsward commented on #24496
Yup, I had updated the typo. Thanks for reporting @shivashankar-ror .

[2016-04-10 19:00] salmanasiddiqui opened #24498 "is there a way to re-render?"
I have written an API in which I am rescuing from all StandardError. Incase of any StandardError, I send an exception email and render json with error message.
This works great except when the exception is raised from views (i am using jbuilder for json responses). As then when I render json with error message, it raises double render exception cause render has already been called in controller.
I

[2016-04-10 21:06] cthiel commented on #24257
Also note https://github.com/plataformatec/devise/pull/4033/files

[2016-04-10 21:21] arthurnn commented on #21397
@natesholland I had issues with that when upgrading apps too. If you wanna tackle this and create a gem for better compatibility, would be awesome. Otherwise I can do it next time I do an upgrade.

[2016-04-10 21:25] arthurnn commented on #8937
I think this is strongly related to https://github.com/rails/rails/issues/14493, however the opposite.
If thats the case, I would say this is not a blocker for 5.0, as it is a known old miss behaviour.

I will remove the Milestone for now, and leave this open.
cc @rafaelfranca

[2016-04-10 21:37] arthurnn commented on #24004
@ojab I am trying to run your test app.. However routes file is empty, and `visit /` is failing https://github.com/ojab/24004/blob/master/spec/features/foos_spec.rb#L6

[2016-04-10 21:54] natesholland commented on #21397
@arthurnn I was able to solve this by putting this oneliner in an initializer:

`ActiveRecord::Transactions.send(:remove_method, :touch)`

I'm not sure it needs a whole gem, but it should be easy enough to wrap up into one.

[2016-04-10 21:54] arthurnn commented on #24359
I think thats a good solution to unblock the 5.0.0 release.

@sevaorlov Do you want to create a PR, to change `remove_index` to the old `DROP` statement, and if it fails it will just raise the good/old `StatementInvalid`.

Thanks

[2016-04-10 21:56] arthurnn commented on #21397
if thats the only change, I guess no need for a gem.
Thanks

[2016-04-10 21:58] sevaorlov commented on #24359
@arthurnn, sure, I'll create a PR

[2016-04-10 22:10] maclover7 commented on #24498
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-10 22:10] #24498 closed

[2016-04-11 08:22] meinac commented on #24478
To demonstrate the issue we don't need that complex scenarios. Here is a *simple* test case which reproduces the bug.
[code]
Test fails because at initial step of numericality validation, it looks whether `type casted`! attribute is nil or not and the value of allow_nil option. This check passes because we return 0 if attribute is nil. But after than this it tries to validate numericality of the a

[2016-04-11 09:36] ojab commented on #24004
Works fine here. Do you have phantomjs installed? What exact error do you have?

[2016-04-11 14:10] psantos10 opened #24505 "Rails 5 not showing error page when template is not found"
### Steps to reproduce

I have a controller `PagesController` with an action `index`.

[code]
And try to access: http://localhost:3000/pages . At this step, deliberately I dont create the view `app/views/pages/index.html.erb`

### Expected behavior

Not creating the view, on development machine, I expect to have an error page like:

As it happens this way on other Rails versions.

### Actual behav

[2016-04-11 14:12] maclover7 commented on #24505
Yep, this is a thing that has changed for Rails 5... @chancancode did we add this to the upgrade notes :grimacing:

[2016-04-11 14:16] vipulnsward commented on #24505
Its in the release notes- https://github.com/rails/rails/blob/d03c90e8aa011cbf4244bfc5e622492dcdb52ee2/guides/source/5_0_release_notes.md#notable-changes-1
I don't think we need to add this to upgrading guide.

[2016-04-11 14:18] vipulnsward commented on #24505
Closing, thanks @psantos10 !

[2016-04-11 14:18] #24505 closed

[2016-04-11 15:38] pixeltrix commented on #21948
I've managed to get reproduction steps on https://petition.parliament.uk:

1. Fill out the first page of the signing form
2. Submit the form to get to the second page where we check your email address
3. Close the browser
4. Double tap the home button and force quit Mobile Safari by sliding it off
5. Re-open Mobile Safari and confirm you want to resubmit the form
6. Boom! 422 Error

It's the resub

[2016-04-11 17:54] VladRassokhin commented on #24372
Problem is still there:
[code]
[Gemfile.lock and `bundle install` output](https://gist.github.com/VladRassokhin/e6d078c15d728c6f7d0eb659ab9861f7).

[2016-04-11 17:58] al2o3cr commented on #24480
@kryna That stack trace specifically relates to a model with an association that uses `counter_cache`. If your models use that feature, please include the relevant code. It's hard to say what the issue might be otherwise, as there are many things that have `name` methods that could be `nil`.

Likely unrelated but good style: `foreign_key` is ignored on `through` associations - that option is extra

[2016-04-11 20:10] vipulnsward commented on #24478
As mentioned above, the numericality validation works on value before type cast(user supplied value) unless it is `nil`, and not the one that is typecasted(based on db). That `read_attribute` typecasts values has been documented [here](https://github.com/rails/rails/blob/e944e67001a1bebd1f7305f5b30f5ae9361ecb28/activerecord/lib/active_record/attribute_methods/read.rb#L47-L49)

Going to give this i

[2016-04-11 20:10] #24478 closed

[2016-04-11 21:45] Gemesys commented on #24459
Update to post :

I have confirmed that the method documented in the "Getting Started
with Ruby on Rails" tutorial does work correctly, if the Rails server
is started and run in development mode.

What seems to be happening, is that the Javascript libraries are not
being loaded in production mode, but they are being loaded in
development mode.  For production mode testing, I start the "rails"
serv

[2016-04-11 22:33] vipulnsward commented on #24434
This was an intentional change to handle the edge-case I mentioned- https://github.com/rails/rails/pull/3970

[2016-04-12 00:05] roberts1000 opened #24513 "Date.today.in_time_zone does not appear to work"
### Steps to reproduce

Let's play around with time zones.  I ran into an unexpected conversion (I'm writing this issue around 7:40pm Eastern time on a Monday):

1. The time zone on my computer is "Eastern Time (US & Canada)".
2. Set the Time.zone = "Fiji"
3. Let's see how Time behaves
  1. `Time.now`            =>  2016-04-11 19:40:33 -0400 **(This is correct)**
  2. `Time.current`          =>  T

[2016-04-12 00:11] al2o3cr commented on #24364
I believe this is essentially the same issue as described here: https://github.com/rails/rails/issues/21668

TL;DR preloading associations joined with columns that don't obey strict equality (`citext` in the linked issue, transliterated fields here) is probably not a supported feature.

[2016-04-12 00:20] maclover7 commented on #24513
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing? Also, can you see if this is occurring on master?

[2016-04-12 00:27] al2o3cr commented on #24513
These two computations return the same thing (on 2016-04-11 in PDT):
[code]
To get the behavior you're expecting here they would need to return *different* values.

[2016-04-12 01:28] sevenseacat commented on #24459
Likely you did not precompile your assets for serving in production, so none of the JavaScript worked (because it wasn't loaded on the page).

[2016-04-12 01:33] roberts1000 commented on #24513
@al2o3cr Assuming we're talking about 2016-04-11, `Date.today` and `Date.parse('2016-04-11')` will each return an instance of Date for 2016-04-11.  Calling `in_time_zone` is going to do the exact same thing on both of those instances.  The output will be the same for both statements as long as today's date is passed to the `parse` method.  What am I missing?  Did you mean

[code]

I agree that who

[2016-04-12 03:54] tijwelch commented on #24513
I believe this is how `Date.today.in_time_zone` is supposed to work since you're calling `in_time_zone` on a Date instance.

The Date is converted to Time with `to_time` which sets the time to the beginning of the day.

https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/date_and_time/zones.rb#L35

https://github.com/rails/rails/blob/master/activesupport/lib/active

[2016-04-12 07:15] justedd commented on #24390
Did anyone try to fix it?

[2016-04-12 07:18] vipulnsward commented on #24390
Nope, not as of now.If you have a fix(since you worked on reproduction), do send it out.

[2016-04-12 07:55] vipulnsward commented on #24364
Closing in favor of https://github.com/rails/rails/issues/24364

[2016-04-12 07:55] #24364 closed

[2016-04-12 08:18] vipulnsward commented on #21668
Changes in https://github.com/rails/rails/commit/6ec7baad52ad0de371194a3696b96ca46b527196 takes care of not raising an error, as well as maintaining that we don't return wrong result.

Here is updated gist, with current behaviour - https://gist.github.com/vipulnsward/fc108d93a1684153bc97105799c49285

Closing, since not an issue not now, and passes, (see above run). Paging @sgrif @matthewd as well.

[2016-04-12 08:18] #21668 closed

[2016-04-12 09:19] vipulnsward commented on #24513
_NOTE: I have changed my system time to match the time you mentioned in this issue_

If you do `Date.today.to_time` => "2016-04-11 00:00:00 -0400". As mentioned by @tijwelch it's stripping it of time value.
So essentially, you are calling `in_time_zone` on this value, and not calling on the one that includes time offset as well. So when you do

`Date.today.in_time_zone`

it results in expected beh

[2016-04-12 09:19] #24513 closed

[2016-04-12 09:36] RyanYang1221 opened #24518 "ActiveRecord::RecordInvalid: Validation failed: XXX must exist"
### Steps to reproduce
My rails version is 5.0.0beta3.
I want to do self join today.
My model is Person. Person can be separated to parent and child.
My person.rb:
[code]
The migration file:
[code]
When I use the rails console to create Person like `Person.create!(name: "ABC")`
I got  `ActiveRecord::RecordInvalid: Validation failed: Parent must exist`

However, in Rails 4, there is no such validat

[2016-04-12 09:46] prathamesh-sonpatki commented on #24518
@RyanYang1221  This change was added in https://github.com/rails/rails/pull/18937.

Now it is the associated record needs to be present for `belongs_to` association by default. To opt out,

you can have

[code]

You can also make this change application wide by using following configuration option -

[code]

If you have generated the Rails 5 app from scratch, this option must be present in one of

[2016-04-12 09:46] #24518 closed

[2016-04-12 09:53] RyanYang1221 commented on #24518
Hi,

Thanks for your response!
One more question, how can I know that  belongs_to has the option ` optional ` in Rails 5?
Is there any release notes or pages?

Thank you.

[2016-04-12 09:55] prathamesh-sonpatki commented on #24518
It's here as of now - http://edgeguides.rubyonrails.org/5_0_release_notes.html#active-record-notable-changes.

Once Rails 5 is releases then it will be available at guides.rubyonrails.org/5_0_release_notes.html#active-record-notable-changes :)

[2016-04-12 09:59] RyanYang1221 commented on #24518
Got it!
Thank u so much! :)

[2016-04-12 13:30] zdennis commented on #22097
@MaximeRDY, I just posted an update to https://github.com/rails/rails/issues/13142 . The erroneous commit got reverted, but it didn't get back ported so it looks to only be available in v5.0.0.beta1 and later.

[2016-04-12 14:24] bhanubhakta commented on #18660
I have the same issue but renaming the folder to lowercase didn't help. I am switching from ruby-2.1.4 to ruby-2.3.0.

[2016-04-12 15:22] roberts1000 commented on #24513
It's not expected behavior.  It may be how the current implementation works, but as an end user, I expect `in_time_zone` to put me on the correct DAY regardless of whether or not it's called on a Date instance or Time instance.

[2016-04-12 15:55] al2o3cr commented on #24314
@sgrif Is this the same issue seen in #12423 and #15185?

[2016-04-12 16:44] sgrif commented on #24459
By default we assume assets are precompiled in production. There's separate documentation on what's expected when deploying Rails or running in production mode.

[2016-04-12 16:44] #24459 closed

[2016-04-12 16:45] sgrif commented on #24314
Looks like it, yes.

[2016-04-12 16:55] Gemesys commented on #24459
Hi Rebecca, and others;

Thanx for the suggestion.  Looks like "precompile of assets" could be
the issue, quite possibly.

If the file production.rb  in ../config/environments/   directory is
altered to remove the
line "config.assets.compile = false", then the default website works
as expected.  I determined
this by single-stepping the config parameters in the "production.rb" file.

Specifically:

[2016-04-12 17:05] sgrif commented on #24459
http://guides.rubyonrails.org/asset_pipeline.html#in-production

On Tue, Apr 12, 2016 at 10:56 AM GemesysCanada <notifications@github.com>
wrote:

[2016-04-12 18:14] Gemesys commented on #24459
Ah, very helpful.  Thx sgrif!  The doc on "asset_pipeline.html" is not just helpful, but critical.  Obviously, instead of just commenting out the "config.assets.compile = false" line in production.rb, one can simply toggle it to "true".  I am assuming that this provides a quick, but not really recommended way to compile the assets?  In any case, setting "config.assets.compile = true" also gives me

[2016-04-12 18:15] senny commented on #17121
@bluehallu can you write an executable test-case to reproduce the issue? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb) as a starting point.

[2016-04-12 18:37] stephanngamedev opened #24526 "dependent: :restrict_with_error not working properly"
### Steps to reproduce
[code]
File for testing: https://gist.github.com/stephanngamedev/1944e2c78895ecac577af1f43c74543f

### Expected behavior
`blog.destroy` should add an error on blog object,

### Actual behavior
But it is throwing an exception

### System configuration
**Rails version**: 4.2.5.1

**Ruby version**: 2.3.0

[2016-04-12 18:59] vipulnsward commented on #24526
Its setting the error on `blog.users.first.errors`

[2016-04-12 19:11] stephanngamedev commented on #24526
but it's throwing an expection. The line `assert_equal true, blog.errors[:base].any?` was not executed. The same occurs on my controller

[2016-04-12 19:18] vipulnsward commented on #24526
Looks like this was fixed on master- https://gist.github.com/vipulnsward/c6bb0b7b740b6a8d85c9f55d6dc42c34

I can see it raise on 4.2

[2016-04-12 19:18] vipulnsward commented on #24526
@stephanngamedev can you see if this works for you on master?

[2016-04-12 19:32] dkniffin opened #24527 "has_many through validation error when foreign_key is specified"
### Steps to reproduce

[Gist](https://gist.github.com/dkniffin/e1645ab3f94dabeda7ad1096c96c8f07)

When I create some models with a `has_many :through` association, with a foreign_key, and I add validation on the join table, I get a validation failure. It appears to me that the issue is AR is trying to save the join model (ProductCategory) before the parent model (Product).

### Expected behavior

[2016-04-12 19:39] vipulnsward commented on #24527
I can reproduce this on master.

[2016-04-12 19:51] stephanngamedev commented on #24526
Tomorrow I show the results on master, I'm going home

[2016-04-12 20:59] Empact opened #24528 "ActiveRecord::Base.table_name_prefix / suffix schema dumper allows for conflicts with unprefixed tables"
### Steps to reproduce

When ActiveRecord::Base.table_name_prefix/suffix are used the schema dumper intentionally avoids printing the prefix and suffix in the schema dump. This means that if the database also includes tables of the same name sans prefix/suffix, there will be a conflict between them when attempting to set up the test database, etc.

### Expected behavior
Given a table "accounts" an

[2016-04-12 21:21] maclover7 commented on #24528
Is this new in 5.0 betas, or did this exist in other previous versions of Rails?

[2016-04-13 03:26] sevenseacat commented on #24459
I don't think that's a good idea, as that's not something that should ever be done in a production environment (compiling files on request).

[2016-04-13 03:29] dungdm93 commented on #24234
@sevaorlov string is a valid json primitive type, but I can't assign:
`f.attr = "PostgreSQL JSON"`, so I must use `f.attr = "PostgreSQL JSON".to_json`
Even that, I can't save it to database.

[2016-04-13 05:17] rafaelfranca commented on #24434
Yeah, it is expected but we should probably fix the documentation.

[2016-04-13 07:23] martinmoreau opened #24530 "confusing usage of capitalized first letter in 'Getting Started with Rail' documentation"
# Steps to reproduce
Go to chapter 6.4 'Generating a Controller' of the 'Getting Started with Rails' guide where the following  is stated: '$ bin/rails generate controller Comments'

# Expected behavior
It's confusing that the first letter of the controller name is capitalized, because only Model names have a capitalized first letter. Also throughout the guide the generation of the article control

[2016-04-13 07:27] prathamesh-sonpatki commented on #24530
@martinmoreau Would you like to open a PR to fix the documentation?

[2016-04-13 07:33] martinmoreau commented on #24530
I will open a PR

[2016-04-13 07:41] martinmoreau commented on #24530
I'm a newby on rails and on github and  I'm a bit unsure on how the create a pull request for changing the documentation. Can anybody assist me with this?

[2016-04-13 07:41] vipulnsward commented on #24530
We should do the opposite and capitalize where its not, to match generator documentation.
Its also confusing that we are doing model capitalization and not controller.
Ideally we would refer to a controller as `Article`'s controller , and not not `article`s controller.

[2016-04-13 07:44] vipulnsward commented on #24530
In terms on readability this is better-

[code]

than

[code]
since it highlights our intent of creating `Comments.`

@martinmoreau see http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#issue-a-pull-request for a guide about this.

[2016-04-13 07:47] Elektron1c97 commented on #24530
(ignore my commits)

[2016-04-13 09:38] jhaesus opened #24532 "Relations validate: true only runs on create"
### Steps to reproduce
[code]

### Expected behavior

[code]

### Actual behavior

items are not validated on update

### System configuration
**Rails version**: 5.0.0.beta3

**Ruby version**: 2.3.0

[2016-04-13 10:51] tomash commented on #24378
What is `link_for`? It's not a Rails helper.

[2016-04-13 11:27] tomash commented on #24528
@maclover7 it's by design in Rails, at least since 2012:
https://github.com/rails/rails/commit/211dcdeaa922c74ac20d274308fb5d41ad490194

@Empact since stripping application-wide prefixes and suffixes exists in Rails for a reason, namely to mitigate #4259, is adding `def self.table_name_prefix` to specific models (instead of application-wide prefix) a suitable workaround for you?

[2016-04-13 11:33] doits opened #24534 "Calling path helper can pollute `url_for` when routes are scoped"
### Steps to reproduce
[code]
### Expected behavior

Calling `url_for` should always give the url of my current request.

### Actual behavior

When I call the path helper `events_path` in the above test case before calling `url_for`, `url_for` gives the following error:

    ActionController::UrlGenerationError: No route matches {:action=>"index", :controller=>"test", :id=>"123", :locale=>"en", :s

[2016-04-13 11:42] doits commented on #24534
might have to do something with #24438, #23019

[2016-04-13 12:09] tomash commented on #24532
I don't think it's a bug. From what I see in the code, `validate` option only ensures validation when **inserting new record into association**:
https://github.com/rails/rails/blob/52ce6ece8c8f74064bb64e0a0b1ddd83092718e1/activerecord/lib/active_record/associations/has_many_association.rb#L41
https://github.com/rails/rails/blob/52ce6ece8c8f74064bb64e0a0b1ddd83092718e1/activerecord/lib/active_recor

[2016-04-13 12:11] tomash commented on #24532
My personal suggestion: update the docs to reflect that `validate: true` causes validation only on inserting new member of association, not that it's the same as `validated_associated`. Current description "If false, don't validate the associated objects when saving the parent object. true by default." can lead to confusion. I can file a docs pull request if maintainers are OK with this idea?

[2016-04-13 14:02] vipulnsward commented on #24528
I think we can just warn for now. 2) means we are missing out on information, that user should no about.

[2016-04-13 16:01] maclover7 commented on #24534
Dup of #23019.

[2016-04-13 16:01] #24534 closed

[2016-04-13 16:09] dungdm93 commented on #24234
I think, the problem is that when you assign a string to JSON attribute, Rails try to convert that string to json, but forget that string is JSON primitive type.
To completely resolve this problem, I suggest that if input is one of JSON data type (`string`, `number`, `boolean`, `nil`, `Hash` and `Array`), keep its original, otherwise, convert it to JSON. So now, use have to control input is JSON s

[2016-04-13 16:12] maclover7 commented on #23019
Dup of #24438.

[2016-04-13 16:12] #23019 closed

[2016-04-13 16:15] maclover7 commented on #24438
To recap open PRs for this issue -- #23103 and #24450 are open to solve this issue.

[2016-04-13 16:36] sevaorlov commented on #24234
@meinac, @sgrif, so then there are two problems?
1) PostgreSQL doesn't treat it as a valid JSON
2) Rails doesn't treat string as a valid json because  `f.attr = "PostgreSQL JSON"` set f.attr to nil

[2016-04-13 16:54] #24234 closed

[2016-04-13 17:15] vipulnsward commented on #24532
Even validated_associated doesn't work.

[2016-04-13 18:03] elfassy commented on #24527
+1
simplified gist with color: https://gist.github.com/elfassy/98bf3b432253003ba64df853397d9b2b

[2016-04-13 19:11] sgrif commented on #23964
Is this new in 5.0 or is this issue present on 4.2?

[2016-04-13 19:33] vipulnsward commented on #23964
No this was introduced with https://github.com/vipulnsward/rails/commit/fcf5e178dd6384cb5f9e99c0026ba958e426a03f

[2016-04-13 20:46] tomash commented on #24532
@vipulnsward works for the test cases I've written. Is there a case that fails?

[2016-04-13 20:49] tomash commented on #24528
2) sounds easier to implement and actually closer to Rails intention (consistently not being concerned about "outside" tables). Plus a warning "we've detected N tables that don't match configured prefix/suffix and therefore will not be dumped into schema file". Does that sound reasonable?

[2016-04-13 21:07] sgrif commented on #24532
I'd be fine with changing the docs to clarify this. Even if this was considered a bug, it would be extremely difficult to change. Since `validate: true` is the default for collection associations, changing the behavior of that option would be a massive breaking change.

[2016-04-13 21:07] #24532 closed

[2016-04-14 01:37] DVG commented on #12330
we're running into this problem trying to maintain no downtime deploys and are having trouble determining something: if prepared statements are turned off, does it expose the query to sql injection if not mitigated some other way?

[2016-04-14 01:42] sgrif commented on #12330
No

On Wed, Apr 13, 2016 at 7:38 PM Bradley Temple <notifications@github.com>
wrote:

[2016-04-14 05:41] sharpone74 commented on #23923
Same issue, rails API only, jbuilder included.

[2016-04-14 09:10] simonmorley commented on #22031
We're also experiencing this. Since 4.1 though, appeared around December last year. Been debugging since.

Initially I thought it was Puma, opened a ticket their side - all connections sitting in the CLOSE_WAIT state.

Installing the rack timeout gem sorted that in a miserable way - the issue appeared to come from the connection pool. I was able to extract all requests that caused the issue onto a

[2016-04-14 12:04] pioz opened #24547 "Unscoped block not work with association"
### Steps to reproduce

Here the test

[code]

### Actual behavior
When I do
[code]
I get `nil` because user is deactivated (default_scope filter only not deactivated users). I expect instead of getting the deactivated user

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 2.3.0

[2016-04-14 13:03] lksv opened #24548 "possibly licence violation in ActiveSupport up to 4.6"
All ActiveSupport (and other rails parts until the recent) uses gem `json`.
E.g. https://github.com/rails/rails/blob/v4.2.6/activesupport/activesupport.gemspec#L24

As I understand this gem (https://rubygems.org/gems/json) is under Ruby license, but the old, the copy left one:

(e.g. version which ruby used up to 1.9.2).

Therefore my opinion is that it is copyleft license and cannot be included i

[2016-04-14 13:36] waghanza opened #24550 "Enums on rails 5 (PostgreSQL)"
Hi all,

I'm using new `rails` **5** (`beta3`).

I want to create an **enum** type in database (`postgresql`).

This is my migration

[code]

I have the following error

`undefined method `enum' for #<ActiveRecord::ConnectionAdapters::PostgreSQL::TableDefinition:0x00563ff5ae7320>`

is there any change with `rails` **4**  ?

* Ruby `ruby 2.2.4p230 (2015-12-16 revision 53155) [x86_64-linux]`
* Rails

[2016-04-14 13:37] jbhatab commented on #17117
I have come across this too.

I did order.order_items << negotiation_round.order_items.dup and it completely took all of them away from negotiation_items. If I do them individually then it works fine.

I'm on rails 5.0beta3. I've attached pictures showing what happens.

Basically I make a new order. I then try and duplicate the order_items from my negotiation to my order and it just moves them ove

[2016-04-14 13:54] lksv commented on #24548
linking with flori/json#280

[2016-04-14 14:17] vipulnsward commented on #24550
Hi @waghanza this is not supported even on 4.2. I believe what you are trying to achieve is provided here- http://edgeguides.rubyonrails.org/active_record_postgresql.html(Enumerated Types).

Closing since not an issue, but more of a feature request right now. Thanks for reporting.

[2016-04-14 14:17] #24550 closed

[2016-04-14 14:41] vipulnsward commented on #24547
Thats because you are not forcing a load of data within

[code]

[code]

works as expected.
This is documented here- https://github.com/rails/rails/blob/ac027338e4a165273607dccee49a3d38bc836794/activerecord/lib/active_record/relation.rb#L340-L348 that we expect this for queries.

We should mention a note there, that this is not for loaded data. @pioz would you like to send a PR with this change?

[2016-04-14 14:47] rafaelfranca commented on #24548
As far as I know, Rails only use json as dependency, it doesn't include any copy or distribute the source or the binary with it, so there is no copyright problem with the current licence of JSON even that it is a copy-left licence.

[2016-04-14 14:49] pioz commented on #24547
@vipulnsward thanks for the help!

[2016-04-14 15:07] kp666 commented on #24550
Adding direct url http://edgeguides.rubyonrails.org/active_record_postgresql.html#enumerated-types

[2016-04-14 15:11] pioz commented on #24547
What about this test?

[code]

I can't reload the posts of the entire collection...

[2016-04-14 15:14] sgrif commented on #24548
That is my understanding as well, there is no license conflict for using something as a dependency. If any lawyers would like to chime in, we can reopen.

[2016-04-14 15:14] #24548 closed

[2016-04-14 15:22] waghanza commented on #24550
@kp666 Thanks

unfortunately, this not fit my needs -> it could not be dropped (modified ?)

[2016-04-14 15:27] lksv commented on #24548
@rafaelfranca @sgrif
If I understand you correctly, you say that Rails could be MIT, but if I use Rails in my commercial project then I'm violating the json's licence?

In other words, when the end product requires Rails gem and needs `bundle install` to be done to work then am I violating the license?

Does It mean I cannot use rails in commercial product with closed license?

Personally I have a

[2016-04-14 15:35] eacaps commented on #24094
I finally tracked this one down, when multiple channel subscriptions come in at the same time the **add** method in action_cable/connection/subscriptions.rb attempts to load the channel classes on line 29:

`subscription_klass = connection.server.channel_classes[id_options[:channel]]`

that runs the following code in action_cable/server/base.rb

[code]

The first async thread in grabs the server @

[2016-04-14 16:25] brad-werth commented on #24272
This just bit us, as well. Thanks for pointing out the re-ording hack, you saved me a ton of time. Not an ideal solution, but it will work for now.

[2016-04-14 16:53] jeremy commented on #24548
@lksv Please follow up on the JSON gem: https://github.com/flori/json/search?q=license. It has a history of license confusion, despite a clear intent to follow Ruby license.

[2016-04-14 16:54] sevaorlov commented on #22538
I'll have a look

[2016-04-14 17:25] #23778 closed

[2016-04-14 17:37] maclover7 commented on #23964
Marking as a regression, since this is a bug that was introduced starting in the 5.0 betas, and is an unintentional breaking change.

[2016-04-14 19:43] BrentWheeldon opened #24553 "`includes` seems to be `uniq`-ing the values"
### Steps to reproduce

1. Set up a simple model structure, like "Posts have many Comments"
2. Create a Post record with 2 Comment records associated with it
3. Run `Post.joins(:comments).includes(:comments).to_a.size`

(Detailed in [this](https://gist.github.com/BrentWheeldon/7a6fa7c957332cc43d49b61664f4f354) gist.)

### Expected behavior

I would expect the result to be `2` since we're joining a

[2016-04-14 20:22] sgrif commented on #24553
While slightly unintuitive, this seems like the intended behavior. When eager loading, we generally don't want to return duplicates of the parent. If anything, I'm surprised that `joins` is returning the same record twice (though I can see the logic that led to that behavior). `count` will always execute a SQL `COUNT` query, which is why you're receiving `2` there.

[2016-04-14 20:22] #24553 closed

[2016-04-14 20:35] BrentWheeldon commented on #24553
`joins` should map to the underlying SQL join which will definitely return the duplicated record. This is really confusing - it means that `count` is unreliable if there's an `includes` somewhere in the chain. I'm kind of surprised that this isn't considered a bug?

[2016-04-14 20:36] sgrif commented on #24553
`count` should be reliable, as the result of a SQL count query won't change.

Potentially unintuitive, but doesn't appear to be a bug. Just several distinct cases that make some sense individually that are a little weird when compared directly.

[2016-04-14 20:50] BrentWheeldon commented on #24553
@sgrif But if I call `.count` and get an answer of `2`, but there's only one thing in the array that's not unintuitive, it's broken.

[2016-04-14 20:51] sgrif commented on #24553
`.count` does not return the number of elements, it executes a COUNT query, which is not the same thing.

[2016-04-14 20:53] maclover7 commented on #24272
Hmm, this sounds like a possible bug. Can you simplify your test application, and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing? Also, does this appear on Rails master?

[2016-04-14 20:54] BrentWheeldon commented on #24553
So is the recommendation to use `size` instead of `count` on chained relations to get the record count?

[2016-04-14 20:58] sgrif commented on #24553
It depends on what you're trying to accomplish. In the case shown in your reproduction script, the recommendation would be to not use `joins` unless you actually need to.

[2016-04-14 21:06] BrentWheeldon commented on #24553
Yeah, I've removed the `joins` and that solved our issue. The bug was quite hard to diagnose though because we we're using `.count` in a summary and then iterating over the records and showing detail of each. I'd made the assumption that `.count` would be the number of records, but it seems like that's not true.

In reality, using `#size` is probably a better method to use in this situation where

[2016-04-14 21:08] sgrif commented on #24553
Yes. The mailing list or stack overflow is usually a more appropriate place
for code advice, though. :)

On Thu, Apr 14, 2016 at 3:07 PM Brent Wheeldon <notifications@github.com>
wrote:

[2016-04-14 22:12] jeffrafter commented on #23451
I don't think this should be closed. I have run this in 4.1 and 4.2 and the issue is very clear:

Here is the benchmark I ran
[code]

## Rails 4.1.x results
[code]

## Rails 4.2.5.2 results
[code]

In Rails 4.2.x using the cached helpers (as suggested) makes a huge difference. But the helpers even at their best are still almost 2 orders of magnitude slower. I think this should be reopened.

[2016-04-14 23:35] crslade commented on #24527
+1 Can confirm this bug exists in master (5.0.0.beta3) as well.

[2016-04-15 00:38] jeffrafter commented on #23451
This issue also seems relevant: https://github.com/rails/rails/issues/22320

[2016-04-15 06:22] tgxworld opened #24555 "Shortcuts for `request.params[key]` and `request.params[key] = value` removed without deprecation."
When `ActionDispatch::Request` stopped inheriting from `Rack::Request`, the [methods](https://github.com/rack/rack/blob/241db7a81eb18860a0a7293675614472593c165a/lib/rack/request.rb#L19-L29) `[]` shortcut for  `request.params['some-key']` and `[]=` shortcut for `request.params['some-key'] = 'something'` were removed. I was wondering if there should at least be a deprecation warning to make upgradin

[2016-04-15 09:51] daneshd commented on #23699
:+1: running into this with jruby 9.0.5.0 and rails 3.2.22 as well

[2016-04-15 10:13] dropsrobs opened #24558 "uninitialized constant ActiveModel::Serializers::Xml in MongoMapper"
After switch to rails 5.0.0.beta.3 receiving following error:

[code]

So I found out that `activemodel-serializers-xml` were moved to external gem. But even including this gem in Gemfile does not resolve problem.

Possibly referenced gems to this error:

[code]

**Rails version**: 5.0.0.beta.3

**Ruby version**: 2.2.3

[2016-04-15 10:29] prathamesh-sonpatki commented on #24558
This is because it is removed from core in Rails 5. Please include gem https://github.com/rails/activemodel-serializers-xml to make it work.

[2016-04-15 12:02] dropsrobs commented on #24558
I have written that even including this gem does not resolve problem.

[2016-04-15 12:08] prathamesh-sonpatki commented on #24558
Oops :smile:

[2016-04-15 12:20] prathamesh-sonpatki commented on #24558
https://github.com/mongomapper/mongomapper/blob/master/lib/mongo_mapper/plugins/active_model.rb#L9 is causing the issue. Should this issue be moved to mongo_mapper issue tracker?

[2016-04-15 13:03] vipulnsward commented on #24558
This is related to https://github.com/rails/activemodel-serializers-xml/pull/8.

Lets move the discussion there.

[2016-04-15 13:03] #24558 closed

[2016-04-15 13:41] waghanza opened #24563 "How to debug on rails 5"
Hi,

I'm starting with a new app with

[code]

I wonder how to debug on this release.

In fact just print on a console is sufficient, but `puma` does not show it to me.

Has anyone already debug on rails 5 ?

Regards,

[2016-04-15 14:25] maclover7 commented on #24555
Hmm, if we want to remove these and go through a proper deprecation cycle, we will have to:
- ship a deprecation warning in 5.0.0 (and remove internal usage, if any)
- actually remove the methods in 5.1.0

I will take a look at this later today -- r? @maclover7

[2016-04-15 14:28] maclover7 commented on #24555
cc @tenderlove

[2016-04-15 14:34] dropsrobs commented on #24558
Ok, thanks for participating :)

[2016-04-15 14:40] maclover7 commented on #24563
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-15 14:40] #24563 closed

[2016-04-15 15:51] vipulnsward commented on #24547
This is an intentional side-effect to avoid infinite-recursion. See https://github.com/rails/rails/issues/5667 for related discussion.
Trying to get this work with `current_scope` for class, leads to an infinite recursion for me on master.

cc @jeremy

[2016-04-15 15:51] #24547 closed

[2016-04-15 16:09] z5h opened #24566 "Controller instance variables aren't cleared between successive calls from a single test."
### Steps to reproduce

Create a controller that lazily initializes an instance variable.

[code]
Create a test that makes 2 calls to a controller.
The controller will not have had it's instance variables cleared between requests.

[code]
### Expected behavior
I expect a controller to have no instance variables set upon each call.

### Actual behavior
Instance variables stay set between calls to a

[2016-04-15 16:11] maclover7 commented on #24566
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing? Also, does this issue still exist on Rails master?

[2016-04-15 16:58] jeremy commented on #23923
Moving to #24178

[2016-04-15 16:58] #23923 closed

[2016-04-15 17:03] mltsy commented on #23087
Alternately, you can just add `'integer unsigned'` to the schema manually, but then you have to make sure you don't accidentally delete it in the future - which is a little annoying.

[2016-04-15 19:18] codeodor opened #24569 "Rails 5 master branch: Mysql2::Result#each segfaults, array size too big, and negative array size"
### Steps to reproduce

I have not been able to reproduce this outside my application yet. So far, I can only get it to happen in a test -- not even in console during test mode -- and have not been able to isolate where it's happening inside Rails.

It comes about often when using `ActiveRecord::Base.connection.execute(query).each(:as=>:hash, :symbolize_keys => true)` ... but not always.

In the t

[2016-04-15 19:22] codeodor commented on #24569
I guess the first thing I'm looking for, is if anyone can give me some direction on how to improve what I'm reporting here.

[2016-04-15 19:38] codeodor commented on #24569
Removing the `as: :hash` I see this sometimes now:

[code]

But since it's an empty array, I don't think it should be having trouble running out of RAM.

Just in case, here's what my usage looks like at the time:

![image](https://cloud.githubusercontent.com/assets/23479/14572995/b1671d22-0317-11e6-9867-53af750b0b12.png)

[2016-04-15 19:42] codeodor commented on #24569
Ok, I downgraded mysql2 to 0.4.2 and have run it 5 times with no errors. On the other hand, I have run it several dozen times on 0.4.3 and it has only given me no errors one time, so I guess I should close this and open it in mysql2's project.

[2016-04-15 19:42] #24569 closed

[2016-04-15 20:31] sngeth commented on #24566
From the doc description for ActionController::TestCase :
Superclass for ActionController functional tests. Functional tests allow you to** test a single controller action per test method**.

So this may be the intended behavior? Looks like it's recycling the test controller and not resetting any instance variables. Seems like before each call to process a HTTP request, controller instance variabl

[2016-04-15 20:34] rafaelfranca commented on #24566
That is expected. The instance of the controller is only one inside each test case.

[2016-04-15 20:34] #24566 closed

[2016-04-16 00:35] maclover7 commented on #24555
PR incoming...

[2016-04-16 00:36] maclover7 commented on #24555
Opened PR #24572

[2016-04-16 01:05] maclover7 commented on #24555
Marking as a regression since there was no deprecation warning :grimacing:

[2016-04-16 03:01] kallisti5 opened #24573 "ActionView 'form cannot contain nil' after rails 5 scaffold generation"
### Steps to reproduce

rails g scaffold user email:uniq password:digest
rails g scaffold image --api name:string version:string cost:float public:bool memory:integer
rails g scaffold container --api name:string image_id:integer user_id:integer memory:integer
### Expected behavior

Not error on image#new
### Actual behavior

[code]
### System configuration

**Rails version**: Rails 5.0.0.beta3
**R

[2016-04-16 03:03] kallisti5 commented on #24573
***A better trace***
[code]

[2016-04-16 06:38] ShallmentMo opened #24575 "created_at have unexpected behavior"
### Steps to reproduce
When you create a model in console ( I'm using blog as an example ).

### Expected behavior
[code]
### Actual behavior
[code]

### System configuration
**Rails version**:
4.2.6
**Ruby version**:
2.2.3

Actually, the expected behavior happened in my mac, the actual behavior happened in my ubuntu server.  Is it system related? I still think it should be the same, as I use crea

[2016-04-16 07:13] Edouard-chin commented on #24573
Your error comes from the fact that `new` method was not created in your controller when running the generator thus the `@image` instance variable was not assigned. ([This is the template used when scaffolding with `--api` option](https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/scaffold_controller/templates/api_controller.rb))

This error is not surprising as an API

[2016-04-16 08:35] tak1n commented on #24575
@ShallmentMo I think this has to do with the precision of the database field.
Which database do u use on both systems?

[2016-04-16 09:05] ShallmentMo commented on #24575
They are all sqlite3. The one on mac is  `3.9.2 2015-11-02 18:31:45 bda77dda9697c463c3d0704014d51627fceee328`. The other one on ubuntu is `3.8.2 2013-12-06 14:53:30 27392118af4c38c5203a04b8013e1afdb1cebd0d`.

[2016-04-16 09:12] ShallmentMo commented on #24575
It also happened in my ubuntu when I used  `postgres` .

[2016-04-16 09:19] tak1n commented on #24575
I'm honestly not a db expert in that regard and I don't know if there is a way to configure that properly, but I also had such cases where fractions got cut off because of the precision of a db field.
Maybe someone more experienced than me could kick in and help out :smile:

[2016-04-16 09:28] ShallmentMo commented on #24575
I'm not using created_at.to_f to do this now. I guess using created_at.to_f is quite rare here.

[2016-04-16 13:31] TangMonk opened #24579 "postgresql array foreign Keys support"
[code]

If have above tables, we have many  `drivers` reference in `races` table.

So we may can do this in Model:

[code]

[2016-04-16 15:03] sgrif commented on #24579
We do not accept feature requests on the issues tracker. Please direct feature requests to the Rails Core mailing list.

[2016-04-16 15:03] #24579 closed

[2016-04-16 15:22] jhaungs commented on #22292
I've found this situation occurring when there is a destroy callback, and an ActiveRecord class **includes** Comparable and implements the **<=> ** method.

[code]
During the destroy callback, the **<=>** method, instead of being called with another ActiveRecord object to be compared to **self,** is instead called (from line 141 in callbacks.rb) with **false** as the **other** parameter, due to th

[2016-04-16 15:55] vipulnsward commented on #24575
I don't see this behaviour on 4.2 or master- https://gist.github.com/vipulnsward/726c2c29a9ac5d5fb5ffa62a110f667c
@ShallmentMo can you confirm with above script what behaviour you see.

[2016-04-16 16:08] maclover7 commented on #22292
@jhaungs Can you open up a new ticket with a reproduction script that matches your usage?

Closing this issue per https://github.com/rails/rails/issues/22292#issuecomment-160553559, which says that the original issue author is using `permanent_records`, which reaches into Active Record internals.

[2016-04-16 16:08] #22292 closed

[2016-04-16 16:15] maclover7 commented on #24573
Agree with @Edouard-chin -- it sounds like your Rails application should be a normal Rails app, not a special "API" application.

Can you please provide a sample application that replicates the error you are seeing? The likely issue here is that `container` should be `@container`.

[2016-04-16 16:19] ShallmentMo commented on #24575
I change `gem 'activerecord', '4.2'` to `gem 'activerecord', '~> 4.2'`, then I run this code in ubuntu. I got this:
[code]
and this
[code]
Sometime it is ok, sometime it's not. My ubuntu is `Ubuntu 14.04.3 LTS \n \l` runing on Virtualbox.

[2016-04-16 17:00] jhaungs commented on #22292
@maclover7 I've never used this script before. I'm happy to make a reproducible case, but how do I do the equivalent of this in the script?  This is cut from my application.rb file.

How do I get access to the config object to set the observer?

class Application < Rails::Application
  config.active_record.observers = :audit_observer
end

[2016-04-16 17:03] sgrif commented on #22292
You should isolate only the code which interacts with Active Record to demonstrate the problem. If the code requires other gems to be reproduced, you should open an issue on that gem.

[2016-04-16 17:12] jhaungs commented on #22292
Well, that was pedantic. Anyone else willing to answer my question? I can't isolate whether the fault is in Active Model or the observer gem unless I can get the test to run.

[2016-04-16 17:15] jbcden opened #24583 "Has one through autosave bug"
### Steps to reproduce
You can see the failing example [here](https://gist.github.com/jbcden/2e1e83c716423c641afc4c611bc03ac7).
### Expected behavior
In `4-1-stable`, the given example would persist the changes to the `AccountManager`. Adding `autosave` to the `Account` and `UserAccount` on the `User` model fixes it but I am wondering if this is what should be happening?
### Actual behavior
In pre

[2016-04-16 17:16] maclover7 commented on #24575
Agree with @tak1n -- this is a database precision issue.

[2016-04-16 17:17] maclover7 commented on #24583
Can you see if this is reproducible on Rails master?

[2016-04-16 17:23] jbcden commented on #24583
This does occur on Rails master too.

[2016-04-16 17:39] jhaungs opened #24584 "Destroy callback passes false to Comparable <=> method"
### Steps to reproduce

[code]

### Expected behavior
Comparison method parameter should be an ActiveRecord object of the same class.

### Actual behavior
Callbacks.rb sends false to the <=> comparison method

### System configuration
**Rails version**: master and 4.2.6

**Ruby version**: 2.3.0

[2016-04-16 17:41] jhaungs commented on #22292
@maclover7

I was able to reproduce the problem using the script and no additional gems. Issue #24584

[2016-04-16 17:59] maclover7 commented on #24584
It looks like ActiveRecord::Core [also defines a `<=>` method](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/core.rb#L455) -- not sure if it's advised to overwrite internal methods like that :grimacing:

thoughts @sgrif?

[2016-04-16 18:01] maclover7 commented on #24583
First off, it looks like you have a `belongs_to` association call on both `AccountManager` and `Account` -- not sure if that contributes to the error(s) you are seeing :grimacing:

[2016-04-16 18:05] jbcden commented on #24583
Oops. The `AccountManager` should have a `has_many :accounts`. Changing that unfortunately does not solve the issue.

[2016-04-16 18:07] jbcden commented on #24583
I just updated the gist to reflect those changes!

[2016-04-16 18:07] vipulnsward commented on #24583
You mean fortunately. :wink:

[2016-04-16 18:08] vipulnsward commented on #24583
Too quick to comment. Read it was solved :disappointed:

[2016-04-16 18:10] jbcden commented on #24583
If only 😞

[2016-04-16 18:42] sgrif commented on #24584
Overwriting it is fine, but you need to adhere to the same contract. In this case it looks like we're expected to get objects of other classes, so your implementation should handle the same.

[2016-04-16 18:42] #24584 closed

[2016-04-16 18:48] maclover7 commented on #24583
I think the issue is that you are

[code]

... when you should be...

[code]

Thoughts?

[2016-04-16 18:51] jbcden commented on #24583
That would indeed work. I suppose my real question is, was this an intentional change or a regression?

[2016-04-16 20:54] jeremy commented on #24555
We must keep compat, so we have some choices:

1. Revert the change.
2. A PR to add the same [Rack::Request convenience methods](https://github.com/rack/rack/blob/45acf49/lib/rack/request.rb#L19-L49) to AD::Request.
3. A Rack PR to move [Rack::Request convenience methods](https://github.com/rack/rack/blob/45acf49/lib/rack/request.rb#L19-L49) to Rack::Request::Helpers then a Rails PR to bump our Ra

[2016-04-16 21:07] maclover7 commented on #24555
IMHO option 2 is the best route (since most of the methods are helpers, after all...?), but I think this might be a Rack Core Team question 😬

[2016-04-16 22:00] jhaungs commented on #24584
I would still maintain that this is a bug in the callback comparison to **false.**  Perhaps it should be using **===** instead, as it seems to be looking for a sentinel value, not an A/R object.

This usage of overriding <=> came from Rails 1 or 2, and pre-dates the addition of the <=> method in 2013. In my case, the code is eight years old.

A more recent example (Rails 4.2.6 documentation):

htt

[2016-04-16 22:58] jeremy commented on #24555
@maclover7 Have you reviewed the methods that were lost? What do you think we should do?

[2016-04-17 00:38] maclover7 commented on #24555
Ahh whoops -- I meant to say option 3 😲  (reorganize the convenience methods within Rack)

This is Rack's public API (and should stay within Rack), but I think other objects should be able to selectively include that behavior via a Module.

[2016-04-17 05:03] JeffCohen commented on #24434
Maybe when the docs are changed I'll understand this better, but I wouldn't have guessed any difference between a "silencer" and a "filter".  I've rarely found the framework trace to be helpful.

I personally think backtraces in the log files should only show application traces by default.  Any additional silencer/filters would only be to help further filter out noise from gems that I have include

[2016-04-17 11:53] ozydingo opened #24588 "has_one through self-referential join generates incorrect query when both models have a default_scope"
### Steps to reproduce

self-contained gist here:
https://gist.github.com/ozydingo/f946313aec00c25f82447c70428ba138

Description:
Foo has_one :bar, Bar belongs_to :foo
Foo has_one parent_foo and has_many child_foos
Bar has_one parent_foo through :foo
Bar has_one parent_bar through :parent_foo

Bar.last.parent_bar produces an incorrect query. In sqllite this simply fails to find the correct row. In

[2016-04-17 16:20] vipulnsward commented on #24555
As of now, these are delegated ones- https://github.com/rack/rack/blob/45acf493f153bac95fa486bc5a8633baaa9e49e4/test/spec_request.rb#L1370-L1392

[2016-04-17 19:11] jeremy commented on #24575
Check out the SQLite docs. DATETIME fields are mapped to NUMERIC and are exact precision.

You're likely getting different results because you're converting the resulting Time object to a Float, which has inexact precision: http://ruby-doc.org/core-2.3.0/Float.html

[2016-04-17 19:11] #24575 closed

[2016-04-17 19:16] k2m30 commented on #24434
@JeffCohen

Completely agree. At least possibility to enable this functionality should present in Rails.

Regarding your question – silencers wipe out backtrace lines, filters modify them according to block given. At least it works so at the moment.

[2016-04-17 19:57] jeremy commented on #24584
@jhaungs That example is buggy for the same reason.

[Comparable should return `nil` if the other object is not comparable](http://ruby-doc.org/core-2.3.0/Comparable.html):

[2016-04-17 19:59] jeremy commented on #24584
That said, it's easy to implement this behavior incompletely in apps. From their point of view, a stable Rails upgrade breaks their apps when it's really just awakened a long-dormant bug.

It could be worth changing our implementation to avoid tickling app bugs since it's clear that this is a fairly widespread error.

[2016-04-17 20:02] jeremy commented on #24555
Downside with 3 is that it means all request-alike objects must also commit to a hash-y interface that they may wish to claim for other purposes. @tenderlove?

[2016-04-17 20:07] maclover7 commented on #24555
passing on the rails-bot love to @tenderlove :)

r? @tenderlove

[2016-04-17 23:14] tijwelch commented on #24390
As @zhufenggood mentioned, the error message is using the index of items that pass `changed_for_autosave?`, which in the case of the provided test is an array of one item so the index of 0 is used.

Changing the method `associated_records_to_validate_or_save` (line 282) to return the full association.target array instead of only the items that pass `changed_for_autosave?` gets the provided test to

[2016-04-18 08:31] prathamesh-sonpatki commented on #24573
Because the code generating routes check for `config.api_only` and not to the command line options.

@spastorino Do we want to support `--api` with generators? IMO it's a sideeffect as of now.

[2016-04-18 09:05] prathamesh-sonpatki commented on #24573
Should we rely on `config.generators.api_only` for the generators instead of `options.api?` ?

[2016-04-18 09:09] vipulnsward commented on #24294
Hi @prathamesh-sonpatki still working on this? Was looking on related code and fix for this.
If not, I can take a stab at this.

[2016-04-18 09:57] Yoshyn opened #24606 "ActiveRecord 4.2 : default_scope && eager_load fail with find_by."
Hi I notice that the eager_load does not include the join table when using `find_by` method.
The failing test is : `test_search_on_admin_using_eager_load_and_find_by`.

### Steps to reproduce
[code]

### Expected behavior
All test should pass, there must not have difference using between find_by and where.

### Actual behavior
It does not include the join table when using find_by :
  1) Error:
Bug

[2016-04-18 10:21] vipulnsward commented on #24606
This looks like fixed on master by https://github.com/rails/rails/pull/23666. Still fails on 4.2
@Yoshyn Can you verify if this works for you with https://gist.github.com/vipulnsward/6322b174746b9727f2a5e800c1f6b0be

[2016-04-18 10:24] prathamesh-sonpatki commented on #24294
Yes, I am working on this.

[2016-04-18 10:54] Yoshyn commented on #24606
Yes, it's work perfectly.

[2016-04-18 10:57] vipulnsward commented on #24606
Thanks for confirming.

[2016-04-18 10:57] #24606 closed

[2016-04-18 11:02] vipulnsward commented on #24588
Looks like we are generating wrong binds.

[2016-04-18 12:29] VladRassokhin commented on #24372
@kaspth any updates on issue? It still reproduces (see above)

[2016-04-18 17:24] vipulnsward commented on #24588
Ok, tracked this to - https://github.com/rails/rails/commit/b64b7545106db0744c054ef615a952fa1e962e60

cc @sgrif

[2016-04-18 18:55] vipulnsward commented on #24583
This looks like a side effect of https://github.com/rails/rails/pull/16875
Notice that: `user.account.changed?` is false, so it doesn't need to save, but was previously saving due to this bug.

[2016-04-18 18:55] #24583 closed

[2016-04-19 06:18] jeremy opened #24617 "Ruby 2.4 #to_time incompatibility"
Ruby 2.4 changes `Time#to_time` and `DateTime#to_time` to preserve timezone. This is a good thing, but it breaks Active Support's scheme to harmonize `#to_time` behavior.

Example build failures:
- https://github.com/rails/rails/blob/master/activesupport/test/core_ext/date_time_ext_test.rb#L55
- https://github.com/rails/rails/blob/master/activesupport/test/core_ext/time_with_zone_test.rb#L423
- ht

[2016-04-19 06:25] jeremy commented on #24617
/cc @pixeltrix @sonots @hsbt

[2016-04-19 06:51] yui-knk commented on #24617
On Ruby 2.3.0, `#to_time` uses system timezone of `#to_time` is called (this precedes timezone of a receiver object).
On Ruby 2.4.0, will use timezone of a receiver object.

means "using system timezone of `#to_time` is called" on both Ruby 2.3.0 and 2.4.0 ?

[2016-04-19 07:03] jeremy commented on #24617
@yui-knk Yes, use local (system tz). We had to compromise when our only options were local tz or utc. I wish we could have preserved tz of the receiver all along!

This is an unfortunate situation, then, since changing `#to_time` behavior will require a major Rails change (5.0.0) and will need a configuration flag to enable. Plus we'll need to emulate Ruby 2.4 `#to_time` for Date/Time/DateTime on

[2016-04-19 08:26] ashrestha91 commented on #23683
Odd, I'm seeing a similar issue, but it sounds like it's reversed:

I have an image "photo.png" in `app/assets/images/photo.png`.  The helpers give me the following:
[code]

[2016-04-19 10:00] slowjack2k opened #24624 "ActiveRecord finder .last behave unexpectedly with previous use of present? or blank?"
Hi,

I have some issues when I call `#present?` or `#blank?` (ok, this is not efficient, but a valid call) on a scope before I call `#last` .
In this case the order is "random".

For example the following calls:

[code]

I expect that the returned value is the last record ordered by primary key. With Rails 3 I did get the
last record but with rails 4 it returns a "random" record.

I think this hap

[2016-04-19 11:48] sodabrew commented on #24569
I've just posted mysql2 version 0.4.4 that should resolve this problem. Please update and test to confirm!

[2016-04-19 12:28] maclover7 commented on #24624
Looking into this.

[2016-04-19 13:20] jnicklas opened #24627 "Thread safety problem in template loading: "can't add a new key into hash during iteration""
### Steps to reproduce

This is a thread safety, as such it cannot be reliably reproduced.

### Expected behavior

Template loading and compilation is performed lazily, even when `config.eager_load = true`. Since this needs to work in production where multiple threads might try to load a template at the same time, it needs to be thread safe.

### Actual behavior

Template loading is *not* thread s

[2016-04-19 13:29] jnicklas commented on #24627
Looking at the code [here](https://github.com/rails/rails/blob/976410709997b69a2c33fd912a8665d85ab1f2c9/actionview/lib/action_view/template/resolver.rb#L45-L48), I'm wondering if the issue has something to do with the rather clever nested hashmap thing that's going on there. It seems that the series of proc defaults is constructing an ever deeper set of nested maps.

Since `@data` seems to be enti

[2016-04-19 13:33] vipulnsward commented on #24624
@maclover7 just for ref: https://gist.github.com/vipulnsward/390c54f617035a7f93a7d5116fc87228
This is passing for me.
@slowjack2k can you also specify your DB? Or better yet, use above script to recreate the issue.

[2016-04-19 13:36] jnicklas commented on #24627
Also of note: it seems that this is a regression. This issue did not occur with earlier versions of Rails, it might be due to the switch from `ThreadSafe::Cache` to `Concurrent::Map`, but the project that I'm seeing this error in tracks Rails master and it is unclear when exactly this issue started happening (yay non-determinism).

[2016-04-19 13:38] mayurkhatri commented on #24624
@slowjack2k  I was not able to replicate this.
I am using
ruby 2.3.0-preview1
activerecord (4.2.6)
rails (4.2.6)

I executed the queries you gave me directly in rails console without a scope in model(Could not replicate it)
And executed it with a scope and called the queries on it.(Could not replicate the issue).

Just a mistake i noted in your post queries
The variable spelling differ in first an

[2016-04-19 13:39] vipulnsward commented on #24627
cc @matthewd

[2016-04-19 13:50] jeremy commented on #24627
Looks like those `cache[…] ||= …` should be `cache.put_if_absent …`

[2016-04-19 13:54] jeremy commented on #24627
No, looks like the default blocks should be protected by the write mutex.

[2016-04-19 14:07] codeodor commented on #24569
Confirmed that 0.4.4 fixes the issue. Thanks!

[2016-04-19 14:33] slowjack2k commented on #24624
@mayurkhatri
I use postgres with pg-0.18.4.

Yes, there is a typo, I'm sorry. You'r right it should be `user_scope = User.where('created_at > ?', 100.days.ago)`
You can't see this issue directly. It depends on the amount of records within your database and which order your database uses to return values.

But when you execute `user_scope.present?`
the generated SQL looks like this whitin the logfi

[2016-04-19 14:52] matthewd commented on #24627
I think the iteration is occurring on a different thread, which I imagine would make this a concurrent-ruby issue.

@jdantonio @thedarkone should C::Map protect us from this problem (one thread manipulating it while another iterates)? It feels like it should.. but I also may be completely misreading what's going on.

[2016-04-19 15:50] thedarkone commented on #24627
This shouldn't be happening (obviously :cry:).

@matthewd you are correct in assuming the iteration must be happening on a diff thread, I can't image it to be an in issue of nested `@data[key][name][prefix][partial][locals]` look ups or anything like that.

On the other hand, the iteration from the other thread should also never cause this! Since the reported issue is happening on MRI, where `C::M

[2016-04-19 16:16] jeremy commented on #24627
Only obvious spot where we iterate is when we `#clear` the cache. That uses rb_hash_foreach which bumps `iter_level`. But we only use that in our test suite.

The other option is that we're being rehashed (that also iterates). That happens when we're duped, so probably e.g. `PathSet#initialize_copy`. If we dupe the cache (say, due to view path changes) and it's concurrently accessed while it's reh

[2016-04-19 16:23] jeremy commented on #24617
(Ref https://github.com/ruby/ruby/pull/1295)

[2016-04-19 17:10] thedarkone commented on #24627
@jeremy wow, thanks, I did not know that. I should dig into MRI's sources to investigate. Share lock is problematic - one of the design goals of `C::Map` is that threads don't block each other out, a thread iterating a concurrent map is not allowed to block anybody.

I always assumed that `Hash#clear` just nulls/clears out internal storage and never leaves the C-code (thus never releasing GVL). I'

[2016-04-19 18:04] rafaelfranca commented on #24627
Maybe it is the same problem with https://github.com/rails/sprockets/issues/242?

[2016-04-19 18:42] jeremy commented on #24627
👍

Looks like `Map#value?` hits `NonConcurrentMapBackend#value?` (which iterates) without synchronizing access in `MriMapBackend`. `#clear` is covered.

If nobody else is iterating, it does just clear the table. Otherwise it also iterates and marks each entry deleted.

I'm not sure the disaster is occurring 😁  Just looking for points where we could have someone else iterating since there are so fe

[2016-04-19 18:47] jeremy commented on #24627
@rafaelfranca Looks like we aren't handling concurrent cache access at all in the Sprockets loader :)

[2016-04-19 19:44] thedarkone commented on #24627
I've created a ticket over at concurrent-ruby ruby-concurrency/concurrent-ruby#528.

@jeremy, if you have the time, can you take a look at I have there?

[2016-04-19 20:14] kaspth commented on #24372
@VladRassokhin yep, I see it now. Got led astray by other comments and didn't check the `test` command. Doing so, I can reproduce this.

Thanks for your patience! :heart:

[2016-04-19 20:57] maclover7 commented on #24624
Not able to reproduce this on master using the following script: https://gist.github.com/maclover7/a3380380e429309ea5f6ac621a6eb468.
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-19 21:01] manfe commented on #23978
Hey guys, this error is happening to me with Rails 4.2.5.1 and Ruby 2.1.5p273.

the error:
[code]
I start debug it and removed the line 24, the error changed another line. I continue removing until I removed the line: `<title><%= ENV['TITULO_DO_SITE'] %></title>`

So I inspect the ENV VAR and inside of it I noticed that there was a tilde accent.
`export TITULO_DO_SITE="SCP - Controle de Projetos d

[2016-04-19 21:15] vipulnsward commented on #24526
Going to give this a close, since its fixed on master. @stephanngamedev please reopen if you see this even with https://gist.github.com/vipulnsward/c6bb0b7b740b6a8d85c9f55d6dc42c34 on master.

[2016-04-19 21:15] #24526 closed

[2016-04-19 21:41] slowjack2k commented on #24624
I did anotate vipulsnwards gist. Does this help?

[2016-04-19 22:04] #24030 closed

[2016-04-19 22:11] maclover7 commented on #24624
@slowjack2k I updated my gist to incorporate your annotations, but it fails for me, due to a syntax error (`ActiveRecord::StatementInvalid: SQLite3::SQLException: near "(": syntax error: VACUUM (VERBOSE, ANALYZE) users`). Can you please provide a reproduction script that shows the error you are seeing?

[2016-04-19 22:18] josercruz01 commented on #19891
I'm hitting this error randomly on production, but the cause is a bit obscure. Since I can't reproduce it locally I added debugging statements and we got an insight on what's happening, but don't understand why.

It looks like the associated AR model retrieved from the database has an ID of 0 which causes the `owner_key` to be `0`. And, since the `owners_keys` has no key with value 0 then we get t

[2016-04-19 22:23] vipulnsward commented on #24624
[code]

The main issue is that we don't use sorting based on id when we do `to_a`/`all` and that is intentional.
(I don't think this is going to change and it will just break things cc @rafaelfranca )

You are seeing this issue, because PG doesn't honour sorting by default. http://www.postgresql.org/docs/9.1/static/queries-order.html
For now you can overcome this by adding sort on id for your `def

[2016-04-20 01:36] waits commented on #24257
Further testing has revealed it only occurs when passing an absolute URL to the `:url` option, not a relative path. In @elbartoloco's example app, this works:

[code]

But this produces the error:

[code]

[2016-04-20 02:28] rafaelfranca commented on #24624
Yes, it is intentional. Also I think `present?` should not do the same thing that `exists?` if the behavior you want is to not load the collection use `exists?`. If you want to `all` or `to_a` have an order set it.

[2016-04-20 02:28] #24624 closed

[2016-04-20 04:10] rafaelfranca commented on #24264
@ivanjolic95 ping. Do you have any more information to us? Could you create the sample application?

[2016-04-20 05:06] slowjack2k commented on #24624
@vipulnsward SQL does not guarantees that your data will come back in a certain order. postgres is no a exception. Most RDBMS do it this way even mysql.

@rafaelfranca please reconsider your decission or update the docs. This is a totaly unexpected site effect, I think. This effect is not restricted to `#.present?`. It is also active when I call first `#to_a`  on a relation. Or better said every m

[2016-04-20 05:34] TheNotary opened #24643 "Couldn't find template for digesting: #{name}, a ActionView::DependencyTracker::ERBTracker#render_dependencies accuracy problem"
### Steps to reproduce

Cook up a view that looks something like this (contains a commented out line that includes the word 'render')
[code]
start rails server in production, and navigate to hit the view.

### Expected behavior
I shouldn't see an error `Couldn't find template for digesting:`

### Actual behavior
I see an error `Couldn't find template for digesting: thems/them`

### System configur

[2016-04-20 05:39] rafaelfranca commented on #24624
Once loaded the relation behaves differently from not loaded relations.
This is already know behavior and we don't have plans to change it. I agree
with documenting this behavior in the methods that are sensitive to the
loaded attribute. Could you open a pull request with this documentation
patch?

On Wed, Apr 20, 2016, 02:06 Dieter Späth <notifications@github.com> wrote:

[2016-04-20 06:00] slowjack2k commented on #24624
What means "this is known behavior"? I haven't read any hint within the docs or guidelines. I think this is only known behavior for rails contributors.

Sorry, I can't provide a good documentation patch. I don't know all your guidelines for submitting a PR and your style guides for documentation. Furthor more, to do it right, you have to mark every method which behaves different after relation loa

[2016-04-20 06:38] slowjack2k commented on #24624
@prathamesh-sonpatki Thank you very much!

[2016-04-20 06:50] vipulnsward commented on #24643
@TheNotary do you see this on master as well?

[2016-04-20 06:59] vipulnsward commented on #24643
Hmm, I see it.

[2016-04-20 09:19] mayurkhatri commented on #24294
@Kukunin could you please help me with reproducing this?

[2016-04-20 09:21] gleseur opened #24647 "IOError: not modifiable string thrown by Hash.from_xml"
### Steps to reproduce

     Hash.from_xml "<?xml version=\"1.0\"?><a></a>".freeze

IOError: not modifiable string
from .../activesupport-4.2.6/lib/active_support/xml_mini/rexml.rb:27:in `ungetc'

### Expected behavior
I would expect Hash.from_xml not to fail on frozen strings

### Actual behavior
Error raised

### System configuration
Rails 4.2.6
Ruby 2.3.0

[2016-04-20 09:39] mayurkhatri commented on #24647
@gleseur I could reproduce this

[2016-04-20 09:45] mayurkhatri commented on #24647
@gleseur but according to definition of [freeze](http://ruby-doc.org/core-2.2.3/Object.html#method-i-freeze) it prevents further modification of object.So, the behavior we see is correct according to me.

[2016-04-20 10:14] gleseur commented on #24647
@mayurkhatri Hash.from_xml parses the string to build a hash, I don't see why the parser should modify the parsed string. I would even say that I expect the parser to never modify the string being parsed.

[2016-04-20 10:38] vnazarenko commented on #19891
@josercruz01 did you have the same data types in db for id and owner_id ?

[2016-04-20 11:04] vipulnsward commented on #24643
Closing based on discussion in https://github.com/rails/rails/pull/13414 . This has been a know limitation.

[2016-04-20 11:04] #24643 closed

[2016-04-20 11:58] bquorning opened #24649 "has_many through tries to write a readonly model"
When I have a “has_many through” association where the “has_many” class is readonly, I get an error when replacing or adding to the collection – that the collection class “is marked as readonly”.

I believe d849f42b4ecf687ed5350f5a2402fb795aa33aac is the first offending commit. It should probably have replaced `if record.new_record?` with `if !record.readonly?` instead of removing the condition.

[2016-04-20 12:07] josercruz01 commented on #19891
@vnazarenko Yes. Both are `integer`.

The types on the DB are:

[code]

And just to make sure the types are being read correctly I logged the types and it shows both are integer:

[code]

[2016-04-20 12:40] jdantonio commented on #24627
@thedarkone Thank you very much for jumping on this so quickly! Your insight is always extremely valuable. I'll continue the conversation on the c-r thread.

[2016-04-20 12:55] bquorning commented on #24649
PR: #24651.

[2016-04-20 13:32] skatkov opened #24652 "Error while dumping structure.sql file for Pg 9.5.2"
### Steps to reproduce

1.  Should store database structure in structure.sql file
2. Should have latest version of postgresql database (9.5.2 in my case)
3. Create a migration with 'rails g migration testMigrateFunctionality'
4. rake db:migrate

### Expected behavior
Should update structure.sql file.

### Actual behavior
structure.sql file not updated, error shown:

[code]
### System configuration

[2016-04-20 13:54] vipulnsward commented on #24652
Can you confirm if you see this on newer version of Rails 4.2+

[2016-04-20 14:00] sgrif commented on #24649
Sorry, but I think the current behavior is correct. If a record is read only, we should be blowing up loudly not silently changing behavior.

[2016-04-20 14:00] #24649 closed

[2016-04-20 14:03] sgrif commented on #24573
Allowing `--api` to generators definitely seems unintentional

[2016-04-20 14:22] schneems commented on #23683
Here's the deal. You've got that asset under `app/assets/app_icons` which isn't in Sprocket's search path.

Then you're looking for

[code]

Sprockets would expect this file in

[code]

Since it starts looking at the root of each of your paths.

The solution is to add that folder to your paths:

[code]

Then in your view use

[code]

## Takewaway

You're using the API incorrectly, however this see

[2016-04-20 14:22] #23683 closed

[2016-04-20 14:37] schneems commented on #23683
I opened rails/sprockets#281. I think there's definitely something we could do to improve this experience. I'm not 100% sure on the best course. Please follow that issue for updates.

[2016-04-20 14:40] prathamesh-sonpatki commented on #24652
`-i` option is removed from Postgres 9.5. This issue is fixed on master, 4.2.x and 4.1.x in https://github.com/rails/rails/pull/21931.

As Rails 3 is no longer supported it is not backported to 3.2.x. https://github.com/rails/rails/pull/21931#commitcomment-16548022

[2016-04-20 14:40] #24652 closed

[2016-04-20 14:49] prathamesh-sonpatki commented on #24573
r? @spastorino

[2016-04-20 14:56] bquorning commented on #24649
Sorry, but I disagree.

Given the test case setup from #24651:
[code]

Why shouldn’t it be possible to add `member` to `club`s collection of `membership`s?

Why should we even try to call `#save` on `member`? It actually only makes sense if `member` is a new record – which is the behavior that we had since at least Rails 2.1 (f6b12c11cd3a6df8525dd16ec093ec473813489e) until it was changed in Rails

[2016-04-20 16:29] TheNotary commented on #24643
Ah, good find @vipulnsward.  Two thoughts come to mind still,

1)  It's a console message that comes up when devs are using caching, which I'm sure you can understand raises the hair on the back of ones neck.  What about a modification to the error message to indicate that this could have been a false positive when regexing the template for the word render?

eg

[code]

That would leave the develo

[2016-04-20 16:50] dungdm93 opened #24655 "Specify both coder and class in serialized attributes"
### Steps to reproduce
Setup db:
[code]
`ActiveRecord#serialize` is a cool feature allows to marshal and store arbitrary data as a value in a table column, like:
[code]
But if I want to specify both `coder = JSON` and `class = MovieInfo`, now, the only way to do this is define `MovieInfo` class like:
[code]
### Expected behavior
Above syntax is not clear and sometimes misleading.
I suggest new API

[2016-04-20 16:53] rafaelfranca commented on #24655
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-20 16:53] #24655 closed

[2016-04-20 16:53] rafaelfranca commented on #24655
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2016-04-20 18:33] jmbejar commented on #24573
I think that supporting the `--api`/`--no-api` option in the generators was never the original intention, as  @prathamesh-sonpatki @sgrif commented above.

I would simply remove the `api` (that is a `class_option` in a few generators) and rely directly on `config.generators.api_only`, so scaffold generators rely on this centralized flag.

I'll test this approach and confirm it's a valid fix.

[2016-04-20 18:35] rafaelfranca commented on #24573
It is fine to have `--api` in the generators, the real problem is that the views are being generated when they shouldn't

[2016-04-20 19:08] tenderlove commented on #24555
I think we should go with option 2.  I'm not sure we should be treating the request as a hash like object (though I'll entertain contrary arguments).

[2016-04-20 19:58] maclover7 commented on #24220
Closed via #24515.

[2016-04-20 19:58] #24220 closed

[2016-04-20 20:24] maclover7 commented on #23643
Opened #24657.

[2016-04-20 20:27] maclover7 commented on #23280
Closing since EM is now optional when using Action Cable.

[2016-04-20 20:27] #23280 closed

[2016-04-20 20:43] tenderlove commented on #24555
After speaking with @jeremy on this, I think we should move the methods in to the module in Rack and then deprecate them.

[2016-04-20 20:49] maclover7 commented on #24555
👍 should I open up a PR on Rack for this?

[2016-04-20 21:02] maclover7 commented on #8679
#22435 could end up being a solution for this.

[2016-04-20 21:22] tenderlove commented on #24555
@maclover7 yes please

[2016-04-20 23:34] conf opened #24659 "ActiveSupport::TimeZone#utc_offset gets stale during timezone transition"
### Steps to reproduce

During time zone transition, when current time zone changes its `utc_offset`, `ActiveSupport::TimeZone` caches this information and it becomes stale.

This can be an issue when `TZInfo::TimeZone#current_period` is refreshed
due to time zone period transition, but it's not reflected in
`ActiveSupport::TimeZone` object.

 For example, on `Sun, 26 Oct 2014 22:00 UTC`, [Moscow

[2016-04-20 23:40] maclover7 commented on #22975
Putting this on the 5.0.0 milestone, since this initializer (and the current issue) was first added in the 5.0 betas.

[2016-04-20 23:49] maclover7 commented on #22975
Opened #24661 to `dup` the `DEFAULTS` hash, and included a regression test.

[2016-04-21 00:55] maclover7 commented on #14173
Been a long time coming, but opened up PR #24665 to solve this. :)

[2016-04-21 03:24] #23643 closed

[2016-04-21 06:18] jeremy commented on #24659
Moving to PR.

[2016-04-21 06:18] #24659 closed

[2016-04-21 07:26] vipulnsward commented on #24391
hmm, now I am not able to reproduce this when using MariaDB.

[2016-04-21 07:30] bquorning commented on #24649
I’d love to see this issue re-opened.

[2016-04-21 11:46] speckins opened #24674 "Adding includes to a scoped has_many through produces SQL missing table in FROM clause"
Test case available [here](https://gist.github.com/speckins/b27e112d0062039778f7772905b96559).

### Steps to reproduce
I ran across this behavior when attempting to create a scoped has_many through association.  The association itself works as expected when called on an instance.  However, if I attempt to eager load the scoped association using includes, the produced SQL references a table in the

[2016-04-21 12:11] vipulnsward commented on #24674
See references on http://guides.rubyonrails.org/active_record_querying.html

You need to make use of references to achieve these kind of queries.
Here's how you could do it https://gist.github.com/vipulnsward/c328295040160ac4e0a6842128cde0fc

[2016-04-21 12:11] #24674 closed

[2016-04-21 12:18] yahonda commented on #24391
Thanks for the update. I also tried MariaDB (first time!).  Still it reproduces.

[code]

[code]

[2016-04-21 12:57] yahonda commented on #24391
Also reproduces with MariaDB 10.1.13. Installed to `CentOS Linux release 7.2.1511 (Core)` by following this step https://mariadb.com/kb/en/mariadb/yum/
[code]

[code]

[2016-04-21 13:58] #22975 closed

[2016-04-21 14:15] elfassy commented on #24527
might be related to https://github.com/rails/rails/issues/17621

[2016-04-21 15:15] vipulnsward commented on #24391
Ok, we are facing this(ref: http://dev.mysql.com/doc/refman/5.7/en/savepoint.html):

[code]

Sometimes when we succeed, we have a transaction open, here's an example result from:
[code]
In case of failures it's empty, meaning we don't have running transaction. And the thread seems to be sleeping.

[code]

What astonishes me is, we do have BEGIN transactions:
[code]
So not sure, where transactions

[2016-04-21 17:12] vipulnsward commented on #24527
cc @eileencodes

[2016-04-21 17:33] xHire opened #24677 "Rails 5 beta3: db:reset with 3+ migrations triggers ActiveRecord::StatementInvalid: SQLite3::SQLException"
I ran into issues with migrations (either SQLite3 exception, see below, or an error saying I have some pending migrations, but then it would throw an error that tables already exist...) and figured out that the problem appears whenever I have 3+ migrations. IIRC `db:reset` task is not the only one way for triggering this bug---I think ran into this also when redoing migrations (in development I of

[2016-04-21 17:45] yahonda commented on #24677
I think you need to use  SQLite3 3.7.11 or higher. Refer #24288

[2016-04-21 17:48] vipulnsward commented on #24677
Closing as per https://github.com/rails/rails/issues/24677#issuecomment-213034090
as this needs SQLite  3.7.11+ . See also- http://www.sqlite.org/releaselog/3_7_11.html

[2016-04-21 17:48] #24677 closed

[2016-04-21 17:56] xHire commented on #24677
Oh, good to know. Thank you both!

[2016-04-21 19:42] speckins commented on #24674
Sorry if this was a non-issue.  I actually did try #references before reporting this, but I must not have used it correctly (the documentation leaves something to be desired for anything more than the trivial case).

@vipulnsward Thanks for the example, but you've changed the schema.  Your modified scope still doesn't work with the schema I originally posted.  These are not my real classes, but th

[2016-04-21 20:01] vipulnsward commented on #24674
`has_many :funny_comments, -> { funny }, :through => :posts, :source => :comments` will evaluate comment_types(through funny scope) on posts model. Unless you have relation setup it will fail.

[2016-04-21 20:57] yahonda commented on #24391
Thanks for the detailed information. I am trying to understand everything.

So far I understand it can workaround by starting transactions explicitly or implement `ensure` in `commit` method.

I had tried 2nd one as suggested. https://github.com/yahonda/rails/commit/a3d4eacf76144d033546052bec89c38d2a012dfb

Now it gets `RELEASE SAVEPOINT active_record_1` got error, not `ROLLBACK TO SAVEPOINT activ

[2016-04-21 21:09] jrabramson commented on #23997
Using the newest rack seems to make the hash munging even worse, any update on this?

[2016-04-21 21:10] speckins commented on #24674
@vipulnsward The Post model shouldn't be associated with comment_types; only Comment has a comment_type_id.

Like this:

    User <- Post <- Comment -> CommentType

Not this:

    User <- Post <- Comment
                 <- CommentType

Eager loading kind of works if I add #includes to the scope, but it doesn't require #references.

[code]
I say "kind of works" because it's loading `:comment_type`

[2016-04-21 21:13] vipulnsward commented on #23997
@jrabramson do you mean you see this on latest rack master?

[2016-04-21 21:16] jrabramson commented on #23997
yes, it parses hashes inside of arrays even worse than the beta3 rack

[2016-04-22 07:18] Jeetah commented on #12330
Any news about this? The problem becomes more urgent with the raise of microservices (and several using same schema....yeah, I know). We had this several times running on DBCP, Flyway and latest Postgres and it's really annoying.

[2016-04-22 09:44] BM5k commented on #23422
Same problem here, rails 5 master. I have explicitly configured the primary key type and migration to add a child table 💥.

Contrary to what @matthewd says above, no database inspection should be needed to follow the application wide explicit configuration.

As @rafaecheve pointed out, it _is_ possible to manually set the foreign key type. However, the fact that rails doesn't use the provided conf

[2016-04-22 13:56] diabolo opened #24689 "Nesting travel_to's causes undefined method `__simple_stub__now'"
### Steps to reproduce

Nest travel_to calls e.g.

    travel_to 2.days.ago do
      travel_to 3.days.ago do
        ...
      end
      # boom here when travel_back is invoked
    end

Of course I probably shouldn't nest travel_to, but it can happen in more complex test setup code when creating dependent objects over time.

### Expected behavior
On the inside travel_back we should return to the o

[2016-04-22 14:40] vipulnsward commented on #24689
Working on support for this. cc @senny

[2016-04-22 14:48] schneems commented on #24435
We could add some logic in Rails to not specify port if puma is bundled and a `config/puma.rb` file exists.

WDYT?

[2016-04-22 14:51] vipulnsward commented on #24435
I think we should to full support on this, i.e if there is `config/puma.rb` send all of them when we build rack config for puma, so that we don't have more surprising behaviour.

[2016-04-22 14:56] kaspth commented on #24689
IIRC, support of nesting these helpers was only added to Rails 5 as a feature.

[2016-04-22 15:21] senny commented on #21434
@mgodwin I answered in the referenced PR https://github.com/rails/rails/pull/24688#issuecomment-213470472

[2016-04-22 15:42] vipulnsward commented on #24689
@kaspth do you mean there is an open PR?
See also: https://github.com/rails/rails/pull/24690 . We simply unstub all values right now, which causes this issue.

[2016-04-22 15:54] prathamesh-sonpatki commented on #24435
We can just send `-c config/puma.rb` if it exists. I will take a stab at this.

[2016-04-22 15:54] prathamesh-sonpatki commented on #24435
r? @prathamesh-sonpatki

[2016-04-22 16:07] vipulnsward commented on #24435
@prathamesh-sonpatki that will not work. `config/puma.rb` will blow away on the rack config option.

[code]
Hence I mentioned we need to parse the `config/puma.rb` if present and actually pass port to puma via rack option, which is what I had worked on to support.

Again, we need to consider if we need to treat puma as a special case. Either way just passing puma config via `-c` is a bad option as

[2016-04-22 16:20] fxn commented on #24573
@dhh 👍

[2016-04-22 16:26] vipulnsward commented on #24435
btw, another reason we can't just pass config is:
[code]
will always set ENV to `production`. So we need to select and pass the port.

[2016-04-22 16:36] prathamesh-sonpatki commented on #24435
I would say we can support only in non-dev non-test environment instead of treating as special case.

[2016-04-22 16:43] schneems commented on #24435
When I made the change in Puma, I was thinking that `config/puma.rb` would be canonical and take precedence over user supplied values. If that was the case there wouldn't be any problem.

Another thing that could have prevented this situation is if rack handler API supported a values hash and a "default" hash to differentiate between values a user actually supplied versus ones we've chosen. But it

[2016-04-22 16:53] kallisti5 commented on #24573
+1.  You all are correct.  Looking back I get why the error happened.   However it seems like views were created that really don't make sense in api mode (which leads to user confusion)

[2016-04-22 18:25] prathamesh-sonpatki commented on #24435
That is a good point.

[2016-04-22 18:46] ddpdevang opened #24691 "installing rails on kubuntu 16.04 problem"
devang@devang-Presario-CQ57-Notebook-PC:~$ sudo gem install rails
Building native extensions.  This could take a while...
ERROR:  Error installing rails:
        ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/nokogiri-1.6.7.2/ext/nokogiri
/usr/bin/ruby2.3 -r ./siteconf20160423-17360-1iu6t3v.rb extconf.rb
mkmf.rb can't find header files for ruby at /us

[2016-04-22 18:56] #23989 closed

[2016-04-22 18:56] #24491 closed

[2016-04-22 19:44] cannikin opened #24692 "(Rails 5.0.0.beta3) Collection caching showing weird behavior (no read_multi in some cases, NoMethodError in others)"
Tried to enable the read_multi function of collection rendering:

[code]

The page renders correctly but I'm not seeing any read_multi in the logs, just individual cache hits (file paths are different in this app than the example code above):

      Cache digest for app/views/application/_page_tile_toolbox.html.erb: afb213b860619a6f79ed4fc49b2a76d8
      Cache digest for app/views/dashboard/profil

[2016-04-22 21:11] jeremy commented on #24691
[code]

[2016-04-22 21:11] #24691 closed

[2016-04-22 22:31] mfazekas commented on #24491
The reported case fixed, but there is still an edge case with multiple connection: https://gist.github.com/mfazekas/55ba95e52d4959bfca94787481313ca7

[2016-04-22 23:55] viniciusoyama commented on #19891
I'm having the same issue but it's because my column types are different.
In one table (items) the ID is integer but in another table (for logs purpose) the item_id field's type  is string (and it must be. because sometimes people enter invalid values).

How can I fix this? Is this really a bug or I should store the id in another column when user enters the correct value?

[2016-04-23 03:14] maclover7 commented on #14176
Opened PR #24694 to try to solve this.

[2016-04-23 06:49] pixeltrix commented on #24617
Ugh, will have a look at this today

[2016-04-23 08:28] rubyonme opened #24695 "Optimistic locking raise ActiveRecord::StaleObjectError when lock version in database is null"
[code]

[2016-04-23 10:57] prathamesh-sonpatki commented on #24692
This seems to be same issue as https://github.com/rails/rails/issues/24132. Taking a look at it.

[2016-04-23 11:30] prathamesh-sonpatki commented on #24692
@cannikin Related to the error ` undefined method `read_multi' for nil:NilClass`, are you using `rails-controller-testing` gem? If yes, can you put what version you are using.

[2016-04-23 13:43] XAXADMIN opened #24698 "new one"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-04-23 13:47] #24698 closed

[2016-04-23 14:12] #24617 closed

[2016-04-23 14:31] cannikin commented on #24692
@prathamesh-sonpatki Nope, full Gemfile here: https://gist.github.com/cannikin/12ad10d1fb1a3eec74c8929c1adf08e7

[2016-04-23 14:42] jeremy commented on #24617
🤘
On Sat, Apr 23, 2016 at 07:12 Andrew White <notifications@github.com> wrote:

[2016-04-23 18:32] tomkadwill commented on #24183
Seems that this is also broken on master. Is anyone looking at fixing this? If not, I will have a try!

[2016-04-23 19:33] vipulnsward commented on #24183
@tomkadwill your comment made me investigate and find a fix for this. 😁
Go ahead and make use of https://gist.github.com/vipulnsward/1031bde143ea061be1aa8aa8599f0147
Add a test, and send PR

[2016-04-23 21:19] tomkadwill commented on #24183
Thanks for your help @vipulnsward! I'll write a test and send a PR tomorrow.

[2016-04-23 21:23] merqlove commented on #22312
Same problem with beta 3.

[2016-04-23 21:35] mrageh commented on #24183
@tomkadwill here's a test I wrote for this issue a long time ago, but my patch to fix the problem was not great so I did not submit it.

https://gist.github.com/mrageh/aa1b64ba749a32e1170ea7c858a04df1

[2016-04-23 22:26] jeremy commented on #22312
@merhard That commit just has `exit!` in the diff. It's moving around. The original commit used `exit!`: https://github.com/rails/rails/commit/575b95ea0bf3d3fff6f47dddad23c754fb294604#diff-b32e7453f375bf4450424307c9eb53c7R30

The usual reason is to bypass `at_exit` hooks. Like a test runner's `at_exit`, for example.

Switch to `exit` and give it a shot 😁

[2016-04-23 23:27] #24695 closed

[2016-04-24 10:41] mrageh commented on #24390
Yes @tijwelch if that fixes the issue then opening a PR with a reproduction test of the bug and your fix is the next step. In your pr reference this issue please

[2016-04-24 13:25] GerryG commented on #5982
This isn't fixed for 3.2.x, is it?

[2016-04-24 16:17] luisobo opened #24717 "HABTM query not using the join table"
Hi,

I believe I've found a bug with ActiveRecord. I've spent quite a while trying to figure out if there is  a problem with my models but I couldn't find it, in any case, I don't discard that option.
### Steps to reproduce

[code]
### Expected behavior

When querying for `Tweet.where(retweeters: list_of_users)` I'd expect to get the list of tweets retweeted by the users in the provided list (u2 a

[2016-04-24 17:05] marekkirejczyk commented on #24647
I agree with @gleseur.
@vipulnsward: your solution will force to copy the whole input before parsing. It is inefficient for long xml inputs.
The error message leave us with the clear clue: Rexml parser uses ungetc on the passed string.
So the solution can be made there. If you look at the code of the Rexml parser you can see:

`
    char = data.getc
      if char.nil?
        {}
      else

[2016-04-24 17:46] maclover7 commented on #24717
Hmm, looks like the `join_table `argument is tripping up Active Record. Would you be willing to look into a fix for this? Also, has this worked for you on previous versions of Rails?

[2016-04-24 18:20] luisobo commented on #24717
I only tried it in rails 4.2.3 and it didn't work. Re: fix, I'm afraid I cannot commit the time at the moment -- I wouldn't even know where to start. I'd be happy to provide any additional info necessary.

[2016-04-24 18:50] kaspth commented on #24689
Ah, the one I was thinking of was never merged: https://github.com/rails/rails/pull/22159

[2016-04-24 18:54] vipulnsward commented on #24689
😁 going to keep this open for now, will close on merge.

[2016-04-24 20:19] bquorning commented on #24649
@maclover7 Sorry for being pushy, but would it be possible to re-open this PR? I believe it was closed a bit too fast, and nobody joins the discussing on a closed issue :-/

I got some valuable feedback on my PR #24651, but since that was closed, too, GitHub didn’t show when I pushed updates to the branch.

So I opened a new PR #24670 which I believe addresses the concern Sean had in the d849f42b4

[2016-04-24 20:59] maclover7 commented on #24649
Sorry @bquorning, I think it's @sgrif's decision about what gets accepted or not, since he's one of the lead contributors to Active Record 😬

[2016-04-24 21:08] maclover7 commented on #20678
Opened #24719.

[2016-04-24 21:19] jeremy commented on #24627
@thedarkone Looking good @ https://github.com/ruby-concurrency/concurrent-ruby/pull/529

We can bump concurrent-ruby dep to 1.0.2 once that's merged & released.

[2016-04-24 21:20] jeremy commented on #24627
This needn't block 5.0.0 release candidate, though it is highly desirable to coincide with release since it's a regression from apps' point of view. Removing milestone.

[2016-04-24 21:22] jeremy commented on #24573
Looks like this isn't blocking release candidate, though we would like to address it for final release. Removing milestone.

[2016-04-24 21:23] jeremy commented on #24555
This needn't block 5.0.0 release candidate, though we would like to address it for final release. Removing milestone.

[2016-04-24 21:25] jeremy commented on #24372
This needn't block 5.0.0 release candidate, though we would like to address it for final release. Removing milestone.

[2016-04-24 21:25] sgrif commented on #24573
@jeremy Unsure what that means? If it'd be blocking the final release, presumably it should be blocking the release candidate.

[2016-04-24 21:28] jeremy commented on #24359
#24507

[2016-04-24 21:28] #24359 closed

[2016-04-24 21:31] jeremy commented on #24264
Is this blocking 5.0.0 release candidate? Is it blocking beta4?

[2016-04-24 21:32] jeremy commented on #24257
#24641

[2016-04-24 21:32] #24257 closed

[2016-04-24 21:34] vipulnsward commented on #24264
Related: https://github.com/rails/rails/pull/24654

[2016-04-24 21:46] maclover7 commented on #20911
PR #23462 appears to solve this issue.

[2016-04-24 21:48] connorshea commented on #23438
@tenderlove @rafaelfranca any news on a Rack release? :)

[2016-04-24 21:56] bquorning commented on #24717
I can’t find any documentation saying you can call `Tweet.where(retweeters: [u2, u3])`. As I read [the guides](http://guides.rubyonrails.org/association_basics.html#methods-added-by-has-and-belongs-to-many-collection-where), you can only call `@tweet.where(user_id: [u2, u3])` on a single instance of `Tweet`.

In your use case, I would opt for using `has_many, through` and have a proper `Retweet` c

[2016-04-24 21:58] #21765 closed

[2016-04-24 22:14] jeremy commented on #24392
Fix in #23103

[2016-04-24 22:14] jeremy commented on #24438
Fix in #23103

[2016-04-24 22:14] #24438 closed

[2016-04-24 22:32] jeremy commented on #20911
https://github.com/rails/rails/pull/23462

[2016-04-25 02:28] Maximus1285 commented on #18542
Sorry to ask on a closed issue, but I just don't want to open a new issue unnecessarily.
But as it is right:
given this chunk of code in `rails/activesupport/lib/active_support/testing/performance/ruby.rb`
[code]
It is scoping the support of performance tests to ruby version between 1.9.2 and 2.0.0
So any version above ruby 2.0.0 won't be able to run performance tests. What about any version above

[2016-04-25 04:24] merhard commented on #22312
@jeremy Not sure how I missed that `exit!` came from a different commit 😕 . Thanks for the heads up.

@merqlove I just ran all of the `railties` tests using `v5.0.0.beta3` and `master` (took ~50min each) and did not experience any orphaned processes (Ruby 2.3.0, OSX El Capitan).

Can you provide a specific example test that does leave orphaned processes (easier to run one test than the entire suit

[2016-04-25 05:01] Tei commented on #23739
Can somebody cherry-pick [this commit](https://github.com/rails/rails/commit/025187d9806ddfbdded15d0c7bd8341665ee40e9) from master to 4.2 branch? What do I need to do? Create new issue? PR?

[2016-04-25 06:07] #24372 closed

[2016-04-25 07:54] merqlove commented on #22312
@merhard Hi, yeah, i did OSS app for the test, and found current "bug" during the test.
[Mysterious app repo](https://bitbucket.org/merqlove/mysterious_api/src/f2a73ec51a8536d10ac868b998d3d69b3b0feaea/?at=prmd)
[code]

[2016-04-25 08:10] pixeltrix commented on #24460
Yeah, we'd need to redesign the page so that the whole page would be re-rendered at the same time.

@barnett your example is very contrived - do you have a real-world example where this has affected you?

[2016-04-25 08:40] merqlove commented on #22312
I have too Ruby 2.3.0 & OS X El'Capitan :) So i think maybe i need to drop some gem or it is really rails bug?
Also i did another branch where i have to `require:false` for all bin gems, & stuck with listener problem twice.
Bug can be easily found if you run app with `foreman start`.

[2016-04-25 08:41] merqlove commented on #22312
[Branch with cleanup & foreman](https://bitbucket.org/merqlove/mysterious_api/src/d7d273a5521dd106585f5972083f2e279634d5fe?at=rails-listener-stuck)

[2016-04-25 09:36] senny commented on #5982
@GerryG it's not. Also note that `3.2.x` is no longer supported by the Rails team.

[2016-04-25 09:45] fabien-michel opened #24725 "merge! on hstore set dirty to changed even if no changes"
### Steps to reproduce
Create a Model :
[code]

Code to test:
[code]

### Expected behavior
In the second test (with merge!) the object shouldn't have been marked has changed (as merge do)

### Actual behavior
The object is marked has changed and changes prove that there is no changes

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 2.3.0
**Database**: postgres

[2016-04-25 09:47] pixeltrix commented on #24012
Related: a71350cae0082193ad8c66d65ab62e8bb0b7853b

[2016-04-25 09:49] fabien-michel commented on #24725
To complete the issue I can indicate that merge! in faster than merge :
Code to try benchmark : https://gist.github.com/fabien-michel/202a5a9ae2ccb9f6889f55858f6806fc
[code]

[2016-04-25 13:38] marcelokanzaki opened #24726 "Rails 5's flash messages are incompatible with Rails 4's"
### Steps to reproduce

Rails 5 app:
[code]

Rails 4 app:
[code]

### Expected behavior
To see the flash message.

### Actual behavior
[code]
First line of the Framework Trace:
[code]

### System configuration
**Rails version**: 5.0.0.beta3 (1st app), 4.2.3 (2nd app)

**Ruby version**: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]

[2016-04-25 15:56] spastorino commented on #24264
@jeremy I'd block the release candidate, I will fix this during RailsConf :).

[2016-04-25 16:50] GerryG commented on #5982
I understand these versions are not under active support, but I was at least hoping there was a user patch or something.  Seems like that would be hard and not worth it, so we may have to forgo using the view altogether.

Just to clarify, there is a way to handle it in some rails 4 version? That may be something we could do, but not immediately. It seems like the fact that mysql reports the column

[2016-04-25 16:51] barnett commented on #24460
@pixeltrix sure!

In a PreviewMailer I am using `Array#sample` to select an `Account` instance that's in a specific state.  The issue is, the `body` of the mailer will mention one `Account`, when the `subject` will mention another (since I have dynamic content in those areas based on the `Account`).

code sample:
[code]

[2016-04-25 16:53] GerryG commented on #5982
It isn't clear to me from the comments if this is fixed in any version of rails.

[2016-04-25 18:18] vipulnsward commented on #24726
Hmm, I can't seem to reproduce this, @marcelokanzaki can you check if this works for you?
https://gist.github.com/vipulnsward/ff4276309460ca8e7f1d5adfa935d1c3

[2016-04-25 19:10] marcelokanzaki commented on #24726
@vipulnsward thanks for the response. It seems to me that both actions are on the same app.

The issue happens when you set a flash message in a Rails 5 app e try to read it in a Rails 4 app.

[2016-04-25 19:24] maclover7 commented on #24725
Can you edit your example, and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-25 19:26] vipulnsward commented on #24725
https://gist.github.com/vipulnsward/35b161e16e03bd586d71ba47d222ae5d
Looking at this, looks like an issue with type cast behaviour. We change symbols to strings in hashes, hence this behaviour. Checking it out.

[2016-04-25 19:50] rafaelfranca commented on #24726
Which cookie format the Rails 4 application is using? Marshal or JSON? In Rails 4 the default is Marshal and in the Rails 5 the default is JSON so you need to configure both to be the same if you want to both application being able to read.

[2016-04-25 19:51] maclover7 commented on #24725
I think I have a fix for this -- let me just add a test.

[2016-04-25 19:53] sgrif commented on #24725
So there is a bug here, but it's not where you'd think. The HStore type is working correctly. The field has changed. If you look at the value of the field, it is now `{ "a" => "1", "b" => "2", :a => "1", :b => "2" }`. `changes` should be reflecting the correct value of the field. I'm unsure why it isn't, and am digging into that now. But the bug is that the change isn't being displayed, not that t

[2016-04-25 19:53] marcelokanzaki commented on #24726
Both json.

[2016-04-25 19:55] marcelokanzaki commented on #24726
complete framework trace:

[code]

[2016-04-25 20:01] sgrif commented on #24725
I'm actually not sure we can do anything about this. `ActiveModel::Dirty#changes` returns a `HashWithIndifferentAccess`, which doesn't allow a normal hash to be placed inside of it. To fix this, we'd have to make a breaking change to either `HashWithIndifferentAccess` or `ActiveModel::Dirty#changes`, neither of which are tenable here.

Since this is a pretty major edge case, I'm just going to clos

[2016-04-25 20:01] #24725 closed

[2016-04-25 20:03] marcelokanzaki commented on #24726
![captura de tela 2016-04-25 as 17 02 18](https://cloud.githubusercontent.com/assets/843048/14797162/8fbb6406-0b07-11e6-9786-9c330073a2c1.png)

[2016-04-25 21:30] vipulnsward commented on #24726
This trace is from 4.2? So its an issue there?

[2016-04-25 21:37] marcelokanzaki commented on #24726
@vipulnsward the issue is that 4.2 can't read a flash message set by a 5.0.

[2016-04-25 21:58] jeremy commented on #24004
Fixed by #24610

[2016-04-25 21:58] #24004 closed

[2016-04-25 22:53] merhard commented on #22312
@merqlove The processes you see are there by design and are not orphaned. You are using the new `ActiveSupport::EventedFileUpdateChecker`. This uses the [listen gem](https://github.com/guard/listen) to watch your application files for changes to trigger code reloading in development. They are left running by [spring](https://github.com/rails/spring), the application preloader you are using that is

[2016-04-26 01:25] ozydingo commented on #24588
@vipulnsward I tried to look into this today. Forgive me as I'm pretty new to navigating the deeper Rails ecosystem. I'm a little confused though because it seems like commit b64b754 is later than 4.2.3; in fact, v4.2.3 does not even have where_clause.rb. Did I misinterpret what you meant? I can also dig into it again later to try to do further tracking down of this behavior, I just wasn't prepare

[2016-04-26 02:02] jeremy commented on #24726
This is desirable, but not a release blocker. Fine to improve in 5.0.x.

@marcelokanzaki Have you `git bisect` to find the commit responsible for the behavior change?

[2016-04-26 02:04] samphilipd commented on #12330
Yo, this should be fixed in master... my PR was merged in march.

See: https://github.com/rails/rails/commit/50c53340824de2a8000fd2d5551cbce2603dc34a

[2016-04-26 02:11] jeremy commented on #24573
@sgrif Means it's desirable for 5.0.0 release, but it's a high flux area without sufficient "real app" validation, so it's reasonable to address in 5.0.1 or 5.0.x along with the rest of the issues that 5.0.0 flushes out. Added 5.0.1 milestone to communicate this "if we can make 5.0.0, great, else 5.0.1" designation.

[2016-04-26 02:12] jeremy commented on #24264
Desirable for RC, but needn't block. Let's give it our best shot :)

[2016-04-26 02:28] jeremy commented on #24028
Re. accidental lock acquisition: if we tracked thread parents (with… [hacks](https://github.com/mje113/thread-parent/blob/master/lib/thread_parent.rb#L22-L33)), we could relinquish a sleeping parent's share lock while a child acquires an exclusive lock.

[2016-04-26 02:30] jeremy commented on #23964
#24029

[2016-04-26 02:32] sgrif commented on #24028
Please no

On Mon, Apr 25, 2016, 8:28 PM Jeremy Daer <notifications@github.com> wrote:

[2016-04-26 03:18] merqlove commented on #22312
Matthew, the problem, that they are not gone after i have to run `spring stop`. These processes is really stuck. I able to kill them only by: `sudo killall fsevent_watch`.
They stay always with `foreman start` (which have `bin/puma ..`...)

Ok, i will look on this later, seems that this trouble in for dev-env.

--
Best regards,
Alexander Merkulov

[2016-04-26 03:19] jeremy commented on #21434
#24688

[2016-04-26 03:19] #21434 closed

[2016-04-26 04:05] rafaelfranca commented on #24726
Almost 100% sure it is https://github.com/rails/rails/pull/18721

[2016-04-26 04:11] ketan commented on #12330
@samphilipd — thank you for fixing this.

[2016-04-26 04:26] rafaelfranca commented on #24726
A possible solution is to always return `'discard'` as an empty array and remove that key in Rails 5.1. If that seems reasonable I can work on that. I prefer to have it fixed in Rails 5.0.0 since I'll need to run both Rails versions in my application for a while.

[2016-04-26 04:43] jeremy commented on #24726
Sounds good @rafaelfranca.

[2016-04-26 05:38] marcelokanzaki commented on #24726
@jeremy I haven't but I seems @rafaelfranca found it. Thanks guys for investigating.

[2016-04-26 05:58] vipulnsward commented on #24588
Its related to https://github.com/rails/rails/pull/22823. This issue was fixed in https://github.com/rails/rails/commit/5d41cb3bfd6b19833261622ce5d339b1e580bd8b .
https://github.com/rails/rails/commit/b64b7545106db0744c054ef615a952fa1e962e60 reverted it, because @sgrif had concerns over it. I believe he will have a look soon.

[2016-04-26 06:58] zedtux commented on #12330
Anyone knows if a correctif patch for Rails 4 is available or will be soon ?

[2016-04-26 09:04] pmichna opened #24735 "`add_column :tablename, :field, :datetime, index: true` doesn't create an index"
### Steps to reproduce
[code]

[2016-04-26 09:15] prathamesh-sonpatki commented on #24735
@pmichna Thanks for the report but `add_column` does not support `index: true`. The documentation is fixed in https://github.com/rails/rails/commit/173fc1f7 and available at http://edgeapi.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/SchemaStatements.html#method-i-add_column.

It will be published on http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/SchemaStatements.htm

[2016-04-26 09:15] #24735 closed

[2016-04-26 10:49] TiagoCardoso1983 opened #24736 "Provide proper hooks for fork-based initialization"
Coming from [here](https://github.com/ddollar/foreman/issues/596#issuecomment-213834207), where you can find a POC script designed for rails (currently not compatible with sidekiq, that I know of). The main integration candidate would be foreman, although any fork based dependency could benefit from this.

**Request** the Rails initialization process should contain hooks for some possible before/a

[2016-04-26 11:22] e2 commented on #22312
That's probably because for OSX Listen uses a process for reporting filesystem changes. On Linux, it's just calls through the FFI.

On OSX, Listen opens a pipe with the fsevent_watch process. Probably Listen is killed without a chance to close those pipes: https://github.com/thibaudgg/rb-fsevent/blob/d803637/lib/rb-fsevent/fsevent.rb#L55

I don't use OSX, but Listen does have an API for stopping p

[2016-04-26 11:48] #24736 closed

[2016-04-26 11:58] TiagoCardoso1983 commented on #24736
I did, https://groups.google.com/forum/#!searchin/rubyonrails-core/fork/rubyonrails-core/srH6JO4Ymdw/QppuDQWtBQAJ , some months ago, but didn't get any feedback and decided to open this ticket.

[2016-04-26 12:26] TiagoCardoso1983 commented on #24736
Would be really cool to have some feedback though, I don't know if my proposal was ignored because it's not interesting, does not make sense, or because there's a better alternative.

[2016-04-26 13:35] jeremy commented on #24736
Love it.

I think it'd be fantastic to expose a common fork hook API that integrators
could lean on.

(I'd ultimately like to see a single Rails server process as the parent for
multiple daemons, perfect for simple dev setups. Much like how Discourse
has their Unicorn fork Resque workers!)

Please do open a PR with your proposal.
On Tue, Apr 26, 2016 at 07:26 Tiago <notifications@github.com> wrote

[2016-04-26 14:31] TiagoCardoso1983 commented on #24736
Sweet! I will probably take some time to setup the dev environment (I never did a PR to rails), but it will probably involve some ```before_fork``` and ```after_fork``` setup (I don't think one needs more fork-related callbacks, but I might be wrong though).

[2016-04-26 16:29] printercu opened #24738 "FlashHash#delete returns self"
Should it be fixed to be more Hash-like and return deleted value?

https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/middleware/flash.rb#L181

[2016-04-26 17:43] merhard commented on #22312
@merqlove It looks like the issue you are experiencing is coming from the `foreman` gem: https://github.com/ddollar/foreman/issues/618

Running `$ bundle update foreman` and verifying version `0.81.0` (released earlier today) should fix this for you.

[2016-04-26 17:51] merqlove commented on #22312
@merhard Yeah, it's too, but i also had current bug without the `foreman`. Foreman just easier to demonstrate 👍

[2016-04-26 18:24] merhard commented on #22312
Interesting. After upgrading foreman I could no longer produce any orphaned child processes.

Do you have another command to run to reproduce this? A list of commands?

[2016-04-26 18:48] micpringle opened #24740 "redirect_to with turbolinks option failing"
I have an issue with cross domain redirects and Turbolinks not working as expected.

If I add `'data-turbolinks' => false` to the HTML link that triggers the redirect, then the redirection happens fine and no errors are printed to the JavaScript console. However, if I remove that data tag, and instead add the `turbolinks: false` option to `redirect_to`, then I get the initial XHR request, followed

[2016-04-26 19:14] merqlove commented on #22312
@merhard, yeah, in `foreman` its gone, just notfication about myriad of sub streams.
You can try `rails console`. It did the trick some time.
Make some seed by `make seed` & do  something in console, like `Post.all`

--
Best regards,
Alexander Merkulov

[2016-04-26 19:23] #24094 closed

[2016-04-26 19:29] kaspth commented on #24692
Collection caching only works with the expanded render form, so that's why it worked with:

[code]

(The is a reason for that though I can't remember at the moment.)

There's got to be some gem that's not using load hooks properly. Can you try removing a gem one at a time and suss out which one is the culprit? Thanks for the detailed report! 😁

[2016-04-26 20:50] maclover7 commented on #24740
Where do you see this in the docs? Also, it might be better to open up this issue directly on Turbolinks' issue tracker (https://github.com/turbolinks/turbolinks-rails/issues/new)

[2016-04-26 20:56] maclover7 commented on #24738
👍 This makes sense to me -- if the class is called `FlashHash` (`Hash` is in the name!) and attempts to imitate `Hash`'s behavior, then it should close the loop and return the deleted value. Working on a PR for this.

[2016-04-26 20:57] maclover7 commented on #24738
Opened #24744

[2016-04-26 22:01] merhard commented on #22312
@merqlove I tried every command I could think of (make, rails, rake, puma, foreman). A total of 17 processes were started. None of the processes were orphaned. They all died when I stopped the spring server.

Now that foreman has been updated, are you sure `$ bin/spring stop` does not work?

If you are still having issues, you can always comment-out the line that reads `config.file_watcher = Activ

[2016-04-27 00:02] jingweno commented on #12330
@samphilipd Which version of your patch is out/will be out?

[2016-04-27 01:15] samphilipd commented on #12330
@jingweno whichever version includes 50c5334 - I don't know off the top of my head.

[2016-04-27 01:24] zavan opened #24748 "Setting the TimeZone in an initializer instead of application.rb has unexpected effect"
### Steps to reproduce
Instead of setting `config.time_zone` in `application.rb` (which works properly), create an initializer and set the timezone there with: `Rails.application.config.time_zone = 'Brasilia'`.

This works with other configurations, such as `Rails.application.config.active_job.queue_adapter = :delayed_job`, so it probably should work for setting the timezone too.

### Expected beh

[2016-04-27 01:28] maclover7 commented on #24748
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-27 01:43] zavan commented on #24748
@maclover7 I'm not sure how to initialize a Rails application so that I'm able to call `Rails.application.config.time_zone =` in the test.

[2016-04-27 01:57] zavan commented on #24748
@maclover7 I'm not sure how to setup this so that I can call `Rails.application.config.time_zone = 'Brasilia'` and assert what `Rails.application.config.time_zone` and `Time.zone` returns.

[2016-04-27 02:45] repinel commented on #24748
This seems to happen because the Railtie initializer in [active_support/railtie.rb](https://github.com/rails/rails/blob/791bdf6fb350b5cb272e4277c1b2b3d04beb7a35/activesupport/lib/active_support/railtie.rb#L18) runs before the initializer files.

Having it as a `after_initialize` could be a fix. In the same file, wouldn't the same apply to `config.beginning_of_week`?

[2016-04-27 04:06] urimaro opened #24749 "Can't install Rails 4.2.6 with Ruby 1.9.3"
### Steps to reproduce

`gem install rails`

### Actual behavior
Following error has occurred coz `mime-types-data` requires Ruby version `>= 2.0`.

[code]

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 1.9.3-p551

[2016-04-27 05:24] merqlove commented on #22312
@merhard just tried again., seems that spring stop now working. thanks for your time.
Nevermind. I will look into code if it up again.
Cheers! 👍

[2016-04-27 05:37] Bijendra commented on #24749
Workaround for this:
   gem install rails -v=4.2.6
[code]
Install
   gem install mime-types -v 2.6.2
Now,
    gem install rails works

[2016-04-27 06:43] vipulnsward commented on #24749
Thanks for reporting!
Can you open this for mime-types/mime-types-data gem, as it is related to them. cc @schneems

[2016-04-27 06:43] #24749 closed

[2016-04-27 07:11] 3den opened #24750 "Add config.assets.digest_exclusions"
### Steps to reproduce

This problem was solved a long time ago https://github.com/rails/rails/issues/2294 but seems like the fix have been removed.

I am installing frontend libs with bower under `vendor/assets/bower_components` so moving stuff to public would be very hacky.  Is there anyway that we can skip fingerprinting just on selected assets?

[code]

### Expected behavior

We should be able

[2016-04-27 07:21] vipulnsward commented on #24750
Closing in favour of https://github.com/rails/sprockets-rails/issues/49#issuecomment-46010763 which has detailed discussion over this.

[2016-04-27 07:21] #24750 closed

[2016-04-27 07:31] polarlights opened #24751 "How can I override thing like `model_type` in polymorphic relation"
I have two projects, project A and Project B. And I will access the DB of project B in readonly-mode in project A.

To avoid the constant conflcts, in project A, I add a namespace to models that I will access the DB of project B.

[code]

When I execute：
[code]
，SQL generated by AR：
[code]
The model_type stored  in the table `resources` is 'Stuff' that without namespace `B::`。 How could I override

[2016-04-27 07:32] sevenseacat commented on #24751
The issue tracker is for bugs and issues with the framework, not help requests. Suggest Stack Overflow, IRC, etc.

[2016-04-27 07:39] vipulnsward commented on #24751
As @sevenseacat mentioned we reserve the tracker for bug reports. Please post queries in a more public forum like Stackoverflow, etc

[2016-04-27 07:39] #24751 closed

[2016-04-27 08:48] micpringle commented on #24740
@maclover7,

Apologies as I should have been clearer. As there is no README over on [turbolinks/turbolinks-rails](https://github.com/turbolinks/turbolinks-rails), I've been using the README on [turbolinks/turbolinks-classic](https://github.com/turbolinks/turbolinks-classic/blob/master/README.md), specifically the section titled **Server-side partial replacement**.

I fully appreciate this README i

[2016-04-27 08:51] urimaro commented on #24749
@Bijendra
Thanks for your reply.
I tried the commands below but it doesn't make it.
Did you try it?

[code]

[2016-04-27 09:14] micpringle commented on #24740
https://github.com/turbolinks/turbolinks-rails/issues/7

I've also added a little more context.

[2016-04-27 09:43] urimaro commented on #24749
@vipulnsward
Thanks for your reply.

Do you expect me to create an issue for mime-types/mime-types-data gem?
I don't think it'll resolve this issue.

I found lines from Gemfile.lock which is made when I install Rails 4.2.6 with Ruby 2.3.1.

[code]

Because of `mime-types (>= 1.16, < 4)`, the latest `mime-types`(3.0) was install
in spite of that `mime-types 3.0` requires Ruby 2.

The `mime-types` a

[2016-04-27 09:51] urimaro commented on #24749
I found the PR: [Pin mime-types to < 3.0 on Ruby 1.9.3](https://github.com/mikel/mail/pull/991).
This PR was merged to master yesterday.

[2016-04-27 10:23] urimaro commented on #24749
Workaround: Using `Bundler` and specify the `mime-types` version

1. install `bundler`
[code]
2. create `Gemfile`
[code]
3. edit Gemfile
  - comment in `gem rails`
  - add `gem 'mime-types', '< 3'`

  e.g.
[code]
4. install gems
[code]

[2016-04-27 10:59] lsylvester commented on #24132
I have also run into this issue. It was caused by a gem that required 'action_controller'.

On start up, the  `action_view` initialisers are defined before the `action_controller` ones, so they execute before as well. If `action_controller` is already loaded, then the `on_load` callbacks run immediate, before the `action_controller` initialisers have a chance to run.

I have a fix for this in #247

[2016-04-27 11:28] Bijendra commented on #24749
@urimaro Yes, i had tried and works perfect for me. The below sequence i tried.
`514  rvm gemset create rails_test21
  515  rvm gemset list
  516  rvm gemset usr rails_test21
  517  rvm gemset use rails_test21
  518  gem install mime-types -v 2.6.2
  519  gem install rails
  520  gem uninstall rails
  521  ruby -v
  522  history
ajith@ubuntu:~/ubuntu_workspace$ rails -v
Rails 4.2.6
ajith@ubuntu:~/

[2016-04-27 11:57] kaspth commented on #24692
Should be fixed at https://github.com/rails/rails/pull/24752. Thanks!

[2016-04-27 11:57] #24692 closed

[2016-04-27 12:34] Faisal-nfl opened #24754 "Custom fonts exist in production buts says "not found""
I deployed an rails(4.2.4) app on Digital Ocean which was working fine in development mode.
But on server everything work except fonts, it says
`Failed to load resource: the server responded with a status of 404 (Not Found)`
the path it searches for is
`http://Server_IP/assets/raleway-bold.woff2`
but when I actual click on the path it open the fonts file at exactly same path its pointing with "not

[2016-04-27 13:04] polarlights commented on #24751
@sevenseacat  @vipulnsward  I'M SORRY FOR THAT. THX.

[2016-04-27 14:04] vipulnsward commented on #24717
@luisobo can you confirm if this is an issue with hm:t for you?

[2016-04-27 14:42] haggen commented on #23997
I'm getting something similar in `4.2.5`:

This:

[code]

Ends up like this:
[code]

[2016-04-27 15:02] Belibaste opened #24755 "annot set locale"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-04-27 15:02] #24755 closed

[2016-04-27 15:03] jnicklas commented on #24627
It seems that the fix pushed to concurrent-ruby did resolve this issue for us.

[2016-04-27 16:47] ctilley83 opened #24757 "ActiveRecord::RecordInvalid: Validation failed when running rake db:seed instead of rails db:seed"
### Steps to reproduce

Supposedly in Rails 5 you can run either rake or rails to perform db: operations. For some reason when you do `rake db:seed` it throws the error below. However if you do `rails db:seed` it works. This seems to only affect nested attributes

using `rake db:drop`, `rake db:create`, or `rake db:migrate` WORKS

using `rake db:seed`, `rake db:reset`, or `rake db:setup` FAILS

As

[2016-04-27 17:23] jdantonio commented on #24627
Good to hear! I'm out of town for work right now. I'll publish a patch release this weekend.

[2016-04-27 17:27] vipulnsward commented on #24717
I believe what you are trying to achieve is:
[code]
Right now, `retweeters` doesn't resolve in the way you are trying to achieve(It can't incur the join as well as can't find the join table to use, in the context you are executing it, ie. Tweet).

[2016-04-27 17:55] jrabramson commented on #23997
if you want to make it work the way you'd expect for now, you can change 'first_key` to `child_key` in /lib/rack/query_parser.rb line 100

[2016-04-27 18:01] haggen commented on #23997
@jrabramson That's odd. The file you mentioned only exist in the branch master (version `2.0.0-beta`) in rack repository. But Rails `< 5` uses `1.6-stable`. Thought it was worth mentioning.

I could locate the code you're talking about in file the `utils.rb`. I'm trying your suggestion right now.

Thanks!

[2016-04-27 18:07] jrabramson commented on #23997
Ahh yea, in that version it hadn't seen seperated out yet.

[2016-04-27 18:13] ctilley83 commented on #24757
more unexpected behavior.  Now `rails db:reset` works. `rails db:seed` fails, `rake db:seed` fails

I tried dropping the database, creating the database, migrating the database, and then seeding the database.  Still getting the inconsistent errors where only `rails db:reset` works now.

The randomness is making it hard to troubleshoot.  Are there caches I need to clear?

[2016-04-27 18:17] haggen commented on #23997
@jrabramson I'm afraid it didn't work.

Here's what I did: I took (this patch](https://github.com/rack/rack/pull/1029/files) and applied to the file `utils.rb` in the branch `1.6-stable`. It kinda fixed one problem, but created another, now instead of this:

[code]

I got this:

[code]

See how it respected the first `[]` in the field name, creating new objects instead o merging into the first. Bu

[2016-04-27 18:20] jrabramson commented on #23997
Looking at the structure of what you want, I think it's impossible with the way rack currently parses nested hashes

[2016-04-27 18:27] haggen commented on #23997
@jrabramson Well, that sucks. Thanks a lot for the heads up!

[2016-04-27 18:40] ctilley83 commented on #24757
ActiveRecord::RecordInvalid: Validation failed: Website statistics websites must exist
/Users/ctilley/.rvm/gems/ruby-2.3.0/gems/activerecord-5.0.0.beta3/lib/active_record/validations.rb:78:in `raise_validation_error'
/Users/ctilley/.rvm/gems/ruby-2.3.0/gems/activerecord-5.0.0.beta3/lib/active_record/validations.rb:50:in `save!'
/Users/ctilley/.rvm/gems/ruby-2.3.0/gems/activerecord-5.0.0.beta3/lib/

[2016-04-27 18:40] jrabramson commented on #23997
@haggen can you pass the data as a json body instead of params?

[2016-04-27 18:43] avand commented on #23055
I could not reproduce this issue, although I did find another issue with your original query. I tried with Ruby 2.3.0 and Rails 4.2.5.

First I generated a new Rails app and scaffolded `TextboxSet` and `Textbox`:

[code]

Then I modified the models to account for the relationships between them:

[code]

Then I attempted the query you originally mentioned was behaving suspiciously:

[code]

At firs

[2016-04-27 18:45] sgrif commented on #23055
Closing due to inactivity. If there is a bug, please open a new issue providing a script we can use to reproduce the issue

[2016-04-27 18:45] #23055 closed

[2016-04-27 18:54] haggen commented on #23997
@jrabramson Guess I have to now. 😝  It's actually a `jsonb` column but I was using `fields_for` otherwise I'd have to use JS to generate the JSON before submitting it in hidden field or something. Thanks a lot for all the help much appreciated!

[2016-04-27 19:34] sevaorlov opened #24758 "Child association doesn't see parent record and fails with validation error on creation"
### Steps to reproduce

Hi, the following code fails for Rails 4+ and master, but passes in Rails 3. Child association doesn't see that user will be created in current transaction.

[code]

### Expected behavior
no error

### Actual behavior
validation error `ActiveRecord::RecordInvalid: Validation failed: User managers is invalid`

### System configuration
**Rails version**: 4+

Maybe the problem

[2016-04-27 19:34] HoyaBoya commented on #12330
FWIW, we've used the outstanding work in this PR to temporarily work around the issue in Rails 4 while we wait to see where this lands. It will be a great feeling to drop our little snippet in favor of this work. Thanks again @samphilipd.

[code]

[2016-04-27 19:41] maclover7 commented on #24754
Can you please provide a sample application that replicates the error you are seeing?

[2016-04-27 19:45] maclover7 commented on #24757
Can you please provide a sample application that replicates the error you are seeing?