[2016-06-17 03:37] JadenTeng commented on #25422
Thanks for your patience. Sorry for my noise.

I did't understand your reply before. I run command `brew install graphviz` resolve my problem.

Please don't remove the method. It's so interesting. Thank you again.
![image](https://cloud.githubusercontent.com/assets/10040765/16139997/7dcdcf4e-347f-11e6-9ae2-27a1642a047e.png)

[2016-06-17 05:15] joaoamaral opened #25423 "enum integer isnt working properly"
### Steps to reproduce

Have a field in a database that has enumerate with type integer on a Ticket object, example:

`t.integer   "priority"``

on view:

[code]

on Model
`
enum priority: { High: 0, Middle: 1, Low:2}`
### Expected behavior

It should insert the value as an integer on model
It works in previous versions of rails
### Actual behavior

It gets rejected when new/inserted saying
Argume

[2016-06-17 05:22] sevenseacat commented on #25423
`t.string "priority"` that's a string, not an integer

[2016-06-17 05:30] joaoamaral commented on #25423
Sorry my mistake when copying it. I correct the issue text but it is still valid.
That is what I wanted to write.
Meaning the issue happens with
`t.integer "priority"`

[2016-06-17 09:10] faisalsahil opened #25425 "accept_nested_attributes not working without simple_token_authentictaion (gem)"
### Steps to reproduce
1. Create new project in rails 5
2. Create models
     -  rails g model user username:string.
     -  rails g model product name:string user_id:integer

3. Create relationship b/w models
       Class User
         has_many :products
         accepts_nested_attributes_for :products

     Class Product
       belongs_to   :user

4. Gemfile is:
      gem 'annotate'
      gem 'd

[2016-06-17 09:18] faisalsahil commented on #25425
I solved this by adding the gem in gemfile.
     gem 'simple_token_authentication'
but its no a proper solution because the ActiveRecord, Rake etc not depends on this gem.

[2016-06-17 10:24] sgrif commented on #25425
Duplicate of #25198

[2016-06-17 10:24] #25425 closed

[2016-06-17 14:19] #24990 closed

[2016-06-17 14:19] #25259 closed

[2016-06-17 14:47] callancarr commented on #25412
@maclover7  Is there any code examples of how to do this? I can't find any online

[2016-06-17 15:03] maclover7 commented on #25412
I don't think this is an explicitly documented practice -- you'd have to loop through `App.cable.subscriptions.subscriptions`, and then call `App.cable.subscriptions.remove(subscription)`, though this is beginning to reach into private API a little bit 😬

Going to close out this issue, since this seems like more of a question than a bug report You can use the mailing list or StackOverflow for ques

[2016-06-17 15:03] #25412 closed

[2016-06-17 15:08] maclover7 commented on #25423
Not able to reproduce this on master with [this reproduction script](https://gist.github.com/maclover7/33959535084c82ea0a0c745935c7af0e).
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-06-18 01:06] Dbz opened #25428 "Date#to_time doesn't respect Time#use_zone"
### Steps to reproduce
[code]

### Expected behavior

### Actual behavior

### System configuration
**Rails version**: Rails 4.2.3

**Ruby version**: ruby 2.0.0p247 (2013-06-27 revision 41674) [x86_64-darwin14.1.0]

### Code Fix
In: [date conversions](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/date/conversions.rb#L73-L85)
[code]

[2016-06-18 01:08] Dbz commented on #25428
This could theoretically be a breaking API change when people are using `Date#to_time` in a `Time#use_zone` block (or if they have a config value for the application time zone), and they are expecting to get the local machine time. It seems unlikely, but it is possible.

I'd love to contribute to Rails and make a pull request.

[2016-06-18 01:18] maclover7 commented on #25428
Hmm, I'm not able to reproduce on the latest on `4-2-stable` or Rails `master` using [this reproduction script](https://gist.github.com/maclover7/4863204fd291e62a6025fb8c62a6d703). I'd advise that you upgrade your application to the latest version in the 4.2.x series, or a more recent version 😬

[2016-06-18 01:36] Dbz commented on #25428
I ran an 'rspec' version of that script on mine and it failed. I'll try creating a rails `4.2.3` app and testing it.

[2016-06-18 01:44] Dbz commented on #25428
Okay I ran this script:

[code]

In the console: `$ be rspec spec/time_test.rb`

Output:

[code]

Gemfile additions:

[code]

Rails version: `Rails 4.2.3`
Ruby version: `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin14]`

[2016-06-18 01:54] maclover7 commented on #25428
The reason why that is failing is because you need to run your `expect`s / `assert`s within the `Time.use_zone` block -- not outside. `Time.zone` is only changed within the block that is provided -- this can be seen in the [source](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/time/zones.rb#L60-L68) for this method, as there is an `ensure` catcher that makes

[2016-06-18 01:57] Dbz commented on #25428
I moved them inside the block and they are still failing.

[2016-06-18 01:59] Dbz commented on #25428
That was actually my suspicion at first when I was investigating the issue. However, I believe that the ensure is actually handling everything correctly: it is converting the time properly when changing the time zone. In the code example, the time and time zone are not being converted correctly.

[2016-06-18 02:03] Nowaker opened #25429 "ActiveRecord - no exception is thrown when invalid UUID value is supplied on update!, update_attribute, etc."
### Steps to reproduce

1. Use PostgreSQL.
1. Create column of UUID type. `add_column :hypervisor, :blah, :uuid`
2. Try updating `:blah` column with invalid UUID value, e.g. `abcd`
3. No error is thrown. Instead, NULL value is persisted in the database.

### Actual behavior

[code]

### Expected behavior

Exception should be thrown.

PostgreSQL console itself throws an error so there's something w

[2016-06-18 06:54] Nowaker commented on #25428
4.2.6 is the latest version.

[2016-06-18 13:01] marekkirejczyk commented on #25429
Here is [executable test case](https://gist.github.com/marekkirejczyk/5a5d295cbb0d82a1daf57879418b379f).

Not sure which is desirable behaviour thou. Let examine similar case, update integer field with integer value i.e. `update!(some_integer: 'some string')  `. Value of 0 will be assigned to `some_integer`.

Adding `validates :blah, presence: true` will help not to assign nil to an uuid filed by

[2016-06-18 14:30] Dbz commented on #25428
I have updated to Rails 4.2.6 (which is important because there are changes to the relevant files!)

I modified the `.parse('friday')`s to `.parse('2016-6-17')` because it was an incorrect parse statement.

[Here are the relevant files](https://gist.github.com/Dbz/6804ac5923b162a9aac7707006ed6210)

Even in the latest version of rails, the issue is still persisting.

[2016-06-18 14:41] maclover7 commented on #25429
Agree with @marekkirejczyk, I think you'd have to add some validations to the model to prevent this from happening 😬

[2016-06-18 14:51] maclover7 commented on #25428
I just want to point out again that you need to place the `assert`s/`expect`s inside of the `Time.use_zone` block -- this is the *only supported behavior* here. Many of the tests you posted in your reproduction script do not do this...

Going to give this issue a close, since this appears to be working correctly / is the expected behavior. If you can create a reproduction script which shows that `

[2016-06-18 15:17] eileencodes commented on #25300
I hit the issue where `on_delete: :cascade` wasn't showing up in my foreign keys in our app this week. The odd thing is though, I'm not using ANSI_QUOTES mode in my MySQL version so I'm not sure why I'm seeing this issue too yet. I can confirm that @kamipo's PR fixes my issue. I'm using MySQL 5.6. A co-worker of mine is using MySQL 5.7 and does not see the issue (the schema is correctly updated po

[2016-06-18 15:19] fxn commented on #25418
👍

[2016-06-18 16:11] fxn commented on #25303
I think we better do nothing here.

Debugging has shown the origin of this issue is in Ruby itself. There are two things going on:

1. In Mac OS X methods that deal with filenames like `Dir.cwd`, `File.realpath`, etc., return UTF-8 strings with [precomposed characters](https://en.wikipedia.org/wiki/Unicode_equivalence#Combining_and_precomposed_characters), but `File.expand_path` doesn't due to an

[2016-06-18 16:11] #25303 closed

[2016-06-18 16:26] Dbz commented on #25428
I apologize; you already made it clear to me that I needed to put the `expect`s/`assert`s in the `Time.use_zone` block. I have modified the code to put all of the `expect`s inside of the time block, and the results are the same. [You can see the code here.](https://gist.github.com/Dbz/6804ac5923b162a9aac7707006ed6210)

The reason why I bring this bug up is because we have code in production that i

[2016-06-18 21:09] Envek commented on #15185
@dmgr Thank you! Your monkey patch works fine with ActiveRecord 4.2.6!

[2016-06-19 00:45] itay-grudev commented on #20266
Sorry. The link was to a private repo. It's set to public now.

[2016-06-19 08:18] dmgr commented on #15185
@ttrmw I am not sure what exactly the problem may be, but you could try something like this:

[code]

[2016-06-19 13:05] pedrozath opened #25440 "Error while trying to run a migration "wrong number of arguments (given 2, expected 0..1)""
### Steps to reproduce
Tried to run this migration.

[code]
### Expected behavior
To create the table

### Actual behavior

Console outputs this:

[code]

### System configuration
**Rails version**: 5.0.0rc
Running PostgreSQL

**Ruby version**: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]

[2016-06-19 14:16] maclover7 commented on #25440
Hmm, I'm not able to reproduce this issue with [this reproduction script](https://gist.github.com/maclover7/568e2c4fb4fecd78d697bfa27ce88a01). It looks like the `protected-attributes` gem is in your backtrace -- can you try and remove that gem, and then try running the migration again?

[2016-06-19 14:37] pedrozath commented on #25440
It works perfectly now! Thanks @maclover7 :)

[2016-06-19 14:37] #25440 closed

[2016-06-19 14:50] maclover7 commented on #25440
:+1:

[2016-06-19 21:16] jonasheinrich opened #25442 "Enum in concern, concern in abstract class, scopes of enum not working"
### Steps to reproduce

See here for an example Rails app: https://github.com/jonasheinrich/enum-abstract
- create a concern that adds `enum`
- include that concern in an abstract class
- let a class inherit from that abstract class
- try to get a scope defined by `enum`
### Expected behavior

The scope should work.
### Actual behavior

The scope does not work because `table_name` is not found.
##

[2016-06-20 00:44] rafaelfranca commented on #25442
Does it work in Rails 5?

[2016-06-20 01:17] AndreLGava opened #25444 "Doubt about relation"
I'm learning Ruby on Rails and I'm in doub about relations. I have two tables animal and reproduction, I want my table reproduction have an association with table animal to be as father and mother. Every reproduction can generate one or more than one animal, how should I set this in my migration and models? I searched for this but didn't find anything about. Thanks

[2016-06-20 01:25] #25444 closed

[2016-06-20 01:30] rafaelfranca commented on #25444
Hey! Welcome to Rails. It is amazing that you are learning Ruby on Rails. While we can help people here, the issue tracker of the Rails repository is to report issues to the framework. If we were answer all questions that users have about the framework here it would be really hard to find time to develop the framework. So I recommend you to seek help in [Stack Overflow](http://stackoverflow.com/)

[2016-06-20 04:22] sunnyraz opened #25445 "Change need to rails documentation"
### Steps to reproduce

(Please Follow this link to know the problem and check view code of listing all articles [available
here](http://guides.rubyonrails.org/getting_started.html#listing-all-articles))

### Expected behavior
change the code on line no. 7 @articles to @article .It will helpful to beginners

### System configuration
**Rails 4.2.1**:

**ruby 2.0.0**:

[2016-06-20 04:52] sevenseacat commented on #25445
Your description isn't really clear about what needs to be changed or why. The code in the section you linked to looks fine.

[2016-06-20 05:09] sunnyraz commented on #25445
`<h1>Listing Articles</h1>
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>
	<% @articles.each do |article| %> //change plural "articles" to "article" .

	<tr>
		<td>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
	</tr>
 <% end %>
</table>`

[2016-06-20 05:09] guilleiguaran commented on #25445
I've verified that the linked code is fine so I'm closing this.

[2016-06-20 05:09] #25445 closed

[2016-06-20 08:16] danielrhodes opened #25446 "Bug: ActionCable on API-only application does not work on Heroku (but normal application does)"
I realize this could be a Heroku issue, but it's possible this could be resolved here.

### Steps to reproduce

- Create a Rails application using the `--skip-sprockets --skip-javascript --skip-turbolinks --api` flags and make any example ActionCable channel and deploy to Heroku
- Create a Rails application without using the `--skip-sprockets --skip-javascript --skip-turbolinks --api` flags and ma

[2016-06-20 10:08] #25446 closed

[2016-06-20 10:38] RTJ opened #25447 "rake db:schema:load not populating schema.rb file"
### Steps to reproduce
`
rails db:create rake  db:migrate
rails db:schema:load
`
### db:chema:load --trace
`
 rails db:schema:load --trace
** Invoke db:schema:load (first_time)
** Invoke environment (first_time)
** Execute environment
** Invoke db:load_config (first_time)
** Execute db:load_config
** Invoke db:check_protected_environments (first_time)
** Invoke environment
** Invoke db:load_config

[2016-06-20 10:49] #25447 closed

[2016-06-20 12:12] yahonda commented on #25388
Would you tell me what `needs feedback` tag means since I'd like to address this but wanted to know which information is necessary to address this.

[2016-06-20 13:46] jasnow opened #25448 "Getting "ArgumentError: key must be 32 bytes" after upgrading to Ruby 2.4.0-preview1 with edge Rails"
### Steps to reproduce

 * Given you have a repo: https://github.com/jasnow/tasks5_edge
 * And you run "rake" (using Ruby 2.3.1), it runs without error
 * But when you upgrade the repo to use Ruby 2.4.0-preview1
 * And you run "rake", you get this error message 3 times:
[code]
  * The total stacktrace is here: https://gist.github.com/jasnow/4e0d394314eafd105a039c73a395c37f

### Expected behavior
E

[2016-06-20 14:12] prathamesh-sonpatki commented on #25448
This is being fixed in https://github.com/rails/rails/pull/25192. Closing this issue as there is already PR and discussion around it.

[2016-06-20 14:26] eileencodes commented on #25394
@prathamesh-sonpatki do you have PR for this? This is 1 of 2 blockers for Rails 5 release so if you can't get to this let me know and I'll update the docs.

[2016-06-20 14:48] jasnow commented on #25448
Thanks for the heads-up.

[2016-06-20 14:48] prathamesh-sonpatki commented on #25394
@eileencodes Opened https://github.com/rails/rails/pull/25450.

[2016-06-20 15:03] maclover7 commented on #25406
Fixed by #25420.

[2016-06-20 15:03] #25406 closed

[2016-06-20 16:59] jonasheinrich commented on #25442
@rafaelfranca Yes, indeed it works with `v5.0.0.rc1`. So probably this won't be fixed in `4.2`?

Just out of curiosity: Do you know why this works in Rails 5?

[2016-06-20 16:59] jonasheinrich commented on #25442
I will push the new Gemfile to the repo.

[2016-06-20 19:15] marekkirejczyk commented on #25195
I updated pull request with hopefully close-to-final implementation. Feedback will be appreciated :)

[2016-06-20 19:33] schneems commented on #25259
That PR didn't actually solve this problem but this is more of a "not a bug" type of a bug, yes you'll still get a ton of thread warnings, but you should be able to safely ignore them.

[2016-06-20 20:45] yordis commented on #18703
100% confirmed, using Docker containers the assets compiling make the container takes forever.

I read somewhere (I forgot sorry) that could be the volumes problem, because the container could be changing the timestamp (or something) and Rails is detecting as a change.

[2016-06-20 21:39] waghanza opened #25453 "DateTime insertion on rails 5"
Hi,

I have a simple table **events** on a `postgresql` database

| Column | Type | Modifier |
| --- | --- | --- |
| id | integer | not null default nextval('events_id_seq'::regclass) |
| start_at | timestamp without time zone |  |
| end_at | timestamp without time zone |  |

and I want to create a new **record**

[code]

I expect to have an event create with a valid date.

on my `fedora` I have

[2016-06-20 21:42] maclover7 commented on #25423
@rrrcompagnoni not sure what you mean by that -- feel free to duplicate my gist, and then move around some thing to make it break :)

[2016-06-20 22:05] Dbz commented on #25428
@maclover7 I also realized the reason your initial test script may have failed was because if you are in NYC, the eastern timezone is also your computer's local timezone. Will you try running this slightly modified one instead? It uses the Pacific Time zone.

[code]

[2016-06-20 22:44] rrrcompagnoni commented on #25423
@maclover7 I had the same problem some weeks ago and it happened when I was trying to create a resource, the form was sending the enum field as a string not an integer, so I had to convert the param before saving my resource.

[2016-06-21 02:12] maclover7 commented on #25428
👍 Sorry I closed this, reopening.

[2016-06-21 02:15] maclover7 commented on #25428
Updated reproduction script here --> https://gist.github.com/maclover7/4863204fd291e62a6025fb8c62a6d703.

Traced the issue to `#to_time` not taking into account the `Time.zone`. Working on a fix, but it's breaking a bunch of tests :(

[2016-06-21 02:16] Dbz commented on #25428
If it's okay. I'd love to write the pull request and fix the tests. Can you give me just the slightest bit of guidance? Which branch should I make a pull request to?

[2016-06-21 07:11] #25394 closed

[2016-06-21 07:38] waghanza commented on #25453
[code]
**work** on a newly create `rails` **5** project

[2016-06-21 08:06] madmax opened #25454 "cache_key not include timestamp and size when using offset"
### Steps to reproduce

When we use offset in query cache_key is not calculated correctly
Here is gist
https://gist.github.com/madmax/e796a740386d1b25516449b5d19b4fd8

without offset: posts/query-322bc402789ebcd22fbdb7b4ea9dec2f-10-20160621080044729910
with offset: posts/query-88260ab1dd3cd2484198b0102cbbc25f-0
### Expected behavior

cache_key should include size and timestamp even if we use offse

[2016-06-21 10:55] mmustala opened #25455 "ActionView::Template::Error: Invalid query parameters: invalid %-encoding (RkpryQngn+vq%3N+13904)"
### Steps to reproduce
1. Start rails server
2. Access url http://localhost:3000/?attr1=RkpryQngn+vq%3N+13904
### Expected behavior

I would expect receiving a request to the root_path with params `{attr1: 'RkpryQngn+vq%3N+13904'}` or something similar. Pretty much anything that I can handle in the controller would do.
### Actual behavior

Instead the exception is raised in the `lib/rack/utils.rb:

[2016-06-21 13:20] anklos opened #25457 "how to read uncached data?"
### Steps to reproduce

I have a model called `Bid`, and there are a few existing bids in my local database.

1. Start rails console
2. `Bid.all` returns all bids
3. Delete all bid data in database directly
4. I have tried three ways to read uncached data: `Bid.uncached  { Bid.all }`, `ActiveRecord::Base.uncached { Bid.all }` and `Bid.all.reload`, they all return full bids data. And in console it

[2016-06-21 15:05] maclover7 commented on #25454
Can reproduce this on master. Slightly modified your reproduction script to include `assert_match`es for the current year (modified script can be found [here](https://gist.github.com/maclover7/fb7255a5cd4f07ed3934b6a45c094c4e)). Can confirm that [this query](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/collection_cache_key.rb#L19) is this issue, when dealing with the `

[2016-06-21 15:30] rjrobinson opened #25459 "ActiveJob undefined method `job_id=`"
### Steps to reproduce
intermittent issue.

### Expected behavior
I converted my resque workers into ActiveJob workers, and they are working fine in development.

### Actual behavior
when I  `SomeJob.perform_later(args...)` the error states  `undefined method 'job_id=' `

### Steps I've Tried
In the console I tried to flush the Redis DB, and for some reason that worked for one job. and then it fai

[2016-06-21 15:34] janko-m commented on #17947
I back up @jnicklas and his explanation on why this change should be reverted. If you have a form with only a file field, you should just use strong_parameters' less strict API (if one exists), the one where `params.require(:document).permit(:image)` would return an empty hash instead of raising an error for missing `image` query parameter.

This change breaks both [Refile](https://github.com/refi

[2016-06-21 15:47] maclover7 commented on #25457
Hmm, [this reproduction script](https://gist.github.com/maclover7/65f43cebf7389863f2ecd26a66af8a3e) passes for me on 4-2-stable (cache is bypassed, query is run).

[2016-06-21 15:51] maclover7 commented on #25459
Do you have the full trace for the error?

[2016-06-21 15:53] maclover7 commented on #25428
Sure, that's fine with me. I'm happy to help review the PR once it's ready to go. :)

[2016-06-21 16:01] rjrobinson commented on #25459
I do not.

Just an update. I restarted all of the VMs, and in this case, "Turning it off and back on" seemed to resolve the issue.

we can mark this matter as closed.

[2016-06-21 16:12] maclover7 commented on #25459
Feel free to close the issue, then. :)

[2016-06-21 16:19] #25459 closed

[2016-06-21 16:41] joemsak opened #25461 "ActiveModel exclusivity validation doesn't work when value is nil (rails console)"
### Steps to reproduce

Create a model that validates exclusivity, with a lambda as your `in:` condition:

[code]

Use rails console to create a new record:

[code]

I'm guessing this is because in the general case the field will be a blank string from web forms, but it did throw me off trying to work in console for a while.

### Expected behavior
The model should validate since `nil` is not in th

[2016-06-21 17:00] maclover7 commented on #25461
Hmm, my attempt at a reproduction script [here](https://gist.github.com/maclover7/ec288a5aa4ea662e28f9e6d0b2aa42d4) passes on both `4-2-stable` and `master`. Can you create a reproduction script that reproduces the error for you?

[2016-06-21 17:03] joemsak commented on #25461
Wow, it must be something about my setup... I'll look more deeply into it, and let you know asap, thank you

[2016-06-21 17:06] Shwetakale commented on #25455
@mmustala In this scenario request will never reach to controller as before going to controller request goes from ```Rack middleware stack``` .

You are getting this exception from ```ActionDispatch::ParamsParser``` middleware. You can read more about rack middlewares from (here)[http://guides.rubyonrails.org/rails_on_rack.html].

If you want to catch this exception I think you will have to write

[2016-06-21 17:09] joemsak commented on #25461
Ah, okay I'm sorry, in my specific example, it's because I am using a lambda for the `in:` option.

Sorry, I assumed it would be a problem either way, since `value` comes from the field being validated, and not the `in:` test.

https://gist.github.com/joemsak/aec697f1bde023bf02039890aac7a799

[2016-06-21 17:13] joemsak commented on #25461
I updated my initial description of this issue.

[2016-06-21 17:45] maclover7 commented on #25461
Thanks for updating!

Not sure what the best course of action is here. Technically, if users are providing their own lambdas to `in:`, I'd think that it would be the user's responsibility to make sure that `true` or `false` would be returned, and Active Model shouldn't have to rescue from any possible errors, and default to `false`. 😬

[2016-06-21 17:55] joemsak commented on #25461
Excuse me if I'm wrong in my assumption, but isn't the problem that `value` (which comes from the field being validated) is nil?

This has nothing to do with the lambda/proc returning true or false, from what I can tell.

It doesn't pose a problem when using webforms because the value will be an empty string, but when working in the console and trying to test things, it raises an exception.

[2016-06-21 17:57] joemsak commented on #25461
In other words, from working at line 26 in a pry, I can't see how it's my the lambda/proc that is causing the nil.

[2016-06-21 17:58] JasonBarnabe commented on #5223
I've gone through a few hours of banging my head against this in a Rails 4.0 app. I thought it might be useful to summarize my findings.

Rails considers anything from 172.16.0.0 to 172.31.255.255 (among other things) to be a trusted proxy. This covered all users of my (internal) app. So I had to change the `trusted_proxies`setting.

As @courtland mentions, the type of object you use for `trusted_

[2016-06-21 18:10] maclover7 commented on #25461
Yes, the issue is that nil is being passed in, but it isn't so much the `nil` itself, as much as what's being acted on the `nil`. In the `in` statement (no pun intended), it checks to see if `nil` is included in the string. Here's that same code, but in just regular `irb`:

[code]

Again, the issue isn't that there is a `nil` value, but that the `nil` is being passed into `String#include?` (which

[2016-06-21 18:13] joemsak commented on #25461
Yes, exactly, that is why I opened the issue. It’s my opinion that the
method in this class should handle the nil gracefully

On June 21, 2016 at 1:11:27 PM, Jon Moss (notifications@github.com) wrote:

Yes, the issue is that nil is being passed in, but it isn't so much the nil
itself, as much as what's being acted on the nil. In the in statement (no
pun intended), it checks to see if nil is includ

[2016-06-21 18:41] morgoth commented on #25410
As discussed on https://github.com/rails/rails/pull/25415 I think it can be closed now.
To properly check for added error, you need to specify all arguments that are building given message (in this example `count: 25`)

[2016-06-21 19:18] marekkirejczyk commented on #25195
@dhh thanks for feedback, remarks has been fixed, questions answered, PR updated.

[2016-06-21 19:31] #25410 closed

[2016-06-21 19:50] Veske commented on #25410
Could use some ducumentation update then. If this is indeed the intended workflow to use this method, then it is a fairly cryptic one.

[2016-06-21 20:32] rafaelfranca commented on #25410
:+1: for documentation. Mind to open a PR?

[2016-06-21 20:44] rafaelfranca commented on #25461
This is not an Rails issue. Your lambda should return something that responds to `#include?` and that objects handles `nil` as argument. This works with a Array return for example.

[2016-06-21 20:44] #25461 closed

[2016-06-21 20:46] Fudoshiki commented on #25185
Same issue

[2016-06-21 20:46] rafaelfranca commented on #17947
@janko-m @jnicklas could you open an issue so we can track the fix for it?

[2016-06-21 20:50] joemsak commented on #25461
OH I get it now, it’s because my lambda returns a string instead of an array

A-doy! *smacks forehead*

Thank you, your explanation helps!

On June 21, 2016 at 3:45:39 PM, Rafael França (notifications@github.com)
wrote:

Closed #25461 <https://github.com/rails/rails/issues/25461>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://gi

[2016-06-21 20:57] mmustala commented on #25455
Yes, I'm just thinking that shouldn't rails handle this kind of situation gracefully? Or at least provide some method for handling the exception without the need for writing my own middleware.

[2016-06-21 21:05] mmustala commented on #25455
I mean, this kind of situation can happen to any application, not just mine. The middleware needed to handle this situation would not include any business logic specific to my app. I think, as a Rails developer I shouldn't need to write code to handle this kind of invalid query params.

[2016-06-21 21:15] eileencodes commented on #24949
Closed by https://github.com/rails/rails/commit/1de0df86695f8fa2eeae6b8b46f9b53decfa6ec8

[2016-06-21 21:15] #24949 closed

[2016-06-21 21:39] edebill opened #25463 "Unable to use entire JSON column in .where() clause"
### Steps to reproduce

Create an ActiveRecord model with a JSON column in postgres (jsonb), then try to use
that column as part of a where() statement. The only way I can get a match is to use the SQL
placeholder syntax Example.where("numbers = ?", numbers.to_json), instead of either of the
two previous syntaxes that used to work at least as recently a 5.0.0.beta1  Example.where(numbers: numbers)

[2016-06-21 21:40] eileencodes commented on #17947
The change has been reverted for the next Rails 5 release in https://github.com/rails/rails/commit/9d441579247b28979539d117b730548afa12fefb

[2016-06-21 22:03] alediaferia commented on #25423
@maclover7 I think [this](https://gist.github.com/alediaferia/9076a677c367254668051b6a60f74a5c) gist reproduces what OP means

[2016-06-21 22:03] ideo-henry opened #25465 "actioncable not connected on first-time user login on hrome and"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-06-21 22:25] rafaelfranca commented on #25465
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-06-21 22:25] #25465 closed

[2016-06-21 22:32] maclover7 commented on #25423
Thanks @alediaferia for the reproduction script -- I thought the issue was in the template, not in the POST request. Adding the `needs feedback` label, not sure what the best course is here, since we'd have to call ` to_i` somewhere here...

[2016-06-21 22:40] alediaferia commented on #25423
@maclover7 If what's claimed by the OP is true a `to_i` shouldn't be necessary as I don't see any in the Rails 4.1 implementation of activerecord: https://github.com/rails/rails/blob/4-1-stable/activerecord/lib/active_record/enum.rb

**DISCLAIMER** I just had a quick glance at it, may have missed something :)

[2016-06-21 22:40] rosenfeld commented on #24949
Thanks, Eileen and everyone!

[2016-06-21 22:47] deepj opened #25466 "Rails 4.2.6 boot fails under Ruby 2.4.0preview1"
### Steps to reproduce

1. `rails new test_app`
2. `cd test_app`
3. `rails s`

### Expected behavior
Run Rails server

### Actual behavior
It fails on this

[code]

### System configuration
**Rails version**: 4.2.6 (included 4-2-stable branch)

**Ruby version**: 2.4.0preview1

[2016-06-21 22:50] alediaferia commented on #25423
So, I tried replacing `enum.rb` implementation with the one from Rails 4.1 but the issue persist. So I guess the expected behaviour has to be confirmed or the issue resides somewhere else.

[2016-06-21 23:04] janko-m commented on #17947
Thank you so much, @eileencodes!

[2016-06-22 01:13] maclover7 commented on #25463
Combined tests into a single reproduction script --> https://gist.github.com/maclover7/ee94183eb5d1c281e4c696d124548130

[2016-06-22 01:18] jonathanhefner commented on #25466
Duplicate of #25125, I think.

[2016-06-22 01:19] maclover7 commented on #25466
thanks @jonathanhefner, closing as a dup of #25125.

[2016-06-22 01:19] #25466 closed

[2016-06-22 01:31] koic commented on #25125
Maybe it will resolved by https://github.com/rails/rails/pull/25161.

[2016-06-22 01:36] anklos commented on #25457
@maclover7 right..can you reproduce the issue on your rails console?

[2016-06-22 01:46] maclover7 commented on #25457
yeah... works fine for me :/

[2016-06-22 01:48] rafaelfranca commented on #25457
Closing since we can't reproduce but feel free to add more information so we can investigate and reopen if necessary.

[2016-06-22 01:48] #25457 closed

[2016-06-22 02:03] anklos commented on #25457
@maclover7 ah, sorry, it happened in `before_update` in the `BidObserver` class. only there it always read from cache.

[2016-06-22 04:23] joaoamaral commented on #25423
It is exactly the problem pointed out by @alediaferia script
I think it is something related with active record because if you declare the same
` enum priority: { High: 0, Middle: 1, Low:2}`
in the model when you check the database (in Rails console) in versions previous to 5 you get the correct type

`priority :integer`

but 5.0.0rc1 you get the type empty.

`priority : `

Thank you so much for c

[2016-06-22 06:26] jeremy commented on #25125
#25161 backports support to 4-2-stable.

[2016-06-22 06:26] #25125 closed

[2016-06-22 12:00] alediaferia commented on #25423
@joaoamaral what do you mean by

What command you use to "_check the database_"?

[2016-06-22 13:24] ideo-henry opened #25471 "cannot connect to server after force_ssl"
### Steps to reproduce

In rails 5.0.0.rc1 production mode, when de-comment the line
`config.force_ssl = true`
and try to run with puma server
`puma -e production -p 443 -w 8 -t 4:64 -d`
the browser cannot connect to the server.

Here is my configuration file

[code]
### Expected behaviour

It should serve the website through https protocol
### Actual behaviour

The browser cannot connect to the s

[2016-06-22 14:59] okkez opened #25472 "form_for with nested resource cannot generate proper action"
### Steps to reproduce

1. Define routes using nested resource

[code]

2. Use `form_for` helper with polymorphic url

[code]

Cannot generate form tag properly and raise error.
On the other hand, `redirect_to` and `link_to` can accept polymorphic url.

[code]

### Expected behavior

`form_for` can accept polymorphic url parameter same as `redirect_to` and `link_to`

### Actual behavior

`form_for

[2016-06-22 15:07] philipgiuliani commented on #19793
I've fixed this in the meanwhile by putting `initializers/delivery_job.rb` into my project with this:
[code]

Seems to work fine! But its of course for all mailer jobs.

[2016-06-22 16:22] achyuth2016 opened #25474 "On terminal ruby rails error"
Last login: Wed Jun 22 10:27:53 on ttys004
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/universal-darwin15/rbconfig.rb:213: warning: Insecure world writable dir /usr/local in PATH, mode 040757
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/universal-darwin15/rbconfig.rb:213: warning: Insecure world writable dir /usr/local in PATH, mode 040757

[2016-06-22 16:25] rafaelfranca commented on #25474
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-06-22 16:25] #25474 closed

[2016-06-22 16:32] achyuth2016 opened #25475 "On terminal ruby error"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
when ever i do open my terminal I do see the error.

### Actual behavior
Last login: Tue Jun 21 22:21:33 on console
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/universal-darwi

[2016-06-22 16:57] rafaelfranca commented on #25475
Thank you for the issue. This is not related with Rails but with your environment.

[2016-06-22 16:57] #25475 closed

[2016-06-22 18:26] maclover7 commented on #25423
I think the issue here is that the parameters coming in from the HTTP request have the priority number as a string, while the enum definition has the value as an integer 😬

cc @sgrif

[2016-06-22 18:37] juanpastas opened #25477 "Nested resources param `id` is repeated."
### Steps to reproduce

Routes:

[code]

### Expected behavior

Routes like these:

![routes](https://cloud.githubusercontent.com/assets/671721/16278873/26089a02-387e-11e6-9e39-b54062f0fe86.png)

### Actual behavior

Routes like these, note `:id` is repeated, instead of `:quiz_id`:

![routes rake](https://cloud.githubusercontent.com/assets/671721/16278892/3d4ba9f2-387e-11e6-9e95-2bb7b264003d.png)

[2016-06-22 18:39] maclover7 commented on #25471
What is the backtrace that's printed to the terminal?

[2016-06-22 18:40] #25477 closed

[2016-06-22 18:41] juanpastas commented on #25477
I removed `member do`.

[2016-06-22 18:44] chrishough commented on #19198
Has anyone found an fix or work around for this? It seems like it is happening in other places now too, not just partials.

[2016-06-22 18:47] chrishough commented on #15255
This error is showing up in rails 4.2.6

[2016-06-22 19:10] innergap commented on #18660
I noticed that in git bash i go to the location by not capitalizing my directories, that is 'c:/user/sites/whatever' and it seems to look at that capitalization. When I actually go to the directory to run the project by giving the proper capitalizations in git bash 'cd c:/Users/Sites/Whatever' and then run the project, it works fine

[2016-06-22 19:17] rrrcompagnoni commented on #25423
@maclover7 It's I was trying to say. 😅

[2016-06-22 19:19] xn commented on #18660
To be clear, this still hits me and I'm on OSX. @aharpervc, any chance to address this in your PR's?

[2016-06-22 20:39] aharpervc commented on #18660
@xn to be clear, you're saying https://github.com/rails/rails/pull/24821 is still broken for you, right, but your latest version of `find_template_paths` does work?

[2016-06-22 22:17] xn commented on #18660
Yes. I'm not yet on 5.0, so 4.2 is still broken for me.

[2016-06-23 00:22] ideo-henry commented on #25471
The terminal shows:
[code]

[2016-06-23 01:38] joaoamaral commented on #25423
@alediaferia I used Rails console (rails c) to check it

With the following versions I get the following information which is different with the Rails version and I though it could be the culprit (or at least be related)

ruby -v
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

rails -v
Rails 5.0.0.rc1

irb(main):012:0> Ticket
=> Ticket(id: integer, priority: , created_at: datetime, u

[2016-06-23 02:18] xn commented on #18660
Sorry, #24822 is still broken for me and my find_template_paths works.

[2016-06-23 04:04] anklos commented on #18519
just happened to me too...

[2016-06-23 05:32] kangkyu opened #25482 "error from rails new with version 5.0.0.rc2"
### Steps to reproduce

[code]

### Expected behavior

should generate a new Rails app

### Actual behavior

raised error message as follows:

[code]

### System configuration
**Rails version**: 5.0.0.rc2

**Ruby version**: 2.3.1

[2016-06-23 05:40] rafaelfranca commented on #25482
As you can see by the backtrace this is a rubygems bug not a Rails bug. Everything from installation to load a gem is rubygems responsibility. I recommend you to open and issue there.

[2016-06-23 05:40] #25482 closed

[2016-06-23 07:55] lczxhf opened #25483 "the problem about enum and method 'instantiate'"
### Steps to reproduce
 I use gem 'second_level_cache' to cache my ActiveRecord instance.
And i used enum just like:
[code]
   And then i get cache value directly through redis
   the value was `["Shop", {"id"=>1,"name"=>"123","status"=>"expire"}]`
   and i look  source code of second_level_cache and found out that it call the method `instantiate` by Shop.
   so anybody can tell me how should i do

[2016-06-23 08:45] dalpo commented on #25269
I encountered the same issue after the upgrade to rails5-rc2.

[2016-06-23 09:08] mananwason opened #25484 "Trying to change colour of highlighted text in my view"
I am trying to change colour of highlighted text in the onclick of a button. I did this using a javascript function like :

[code]
Rails view :
[code]
But the issue is that the colour is not changing according to what I have added in the span above. It changes randomly. Any help is appreciated. Thanks

[2016-06-23 09:44] sonianand11 commented on #25484
I suggest you to post this question on stackoverflow.com or any other forum. Mostly the issues created in Rails repository is related to Rails framework.

To help related to your question : it seems you have `onclick=""` in your button tag which causes issues. Try after removing it.

Hope that helps!!

[2016-06-23 09:50] mananwason commented on #25484
Hi @sonianand11. Thanks for the suggestion. I'll post the question on SO as well. I did try after removing onclick as well. Please let me know if you have any other pointers that might help me. Thanks!

[2016-06-23 11:42] jasnow commented on #25269
@dalpo - Yes, I have 2 more repos impacted since upgrading all my Rails 5.0.0.rc1 repos to 5.0.0.rc2.

[2016-06-23 13:30] maclover7 commented on #25484
👍 thanks for submitting, but please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. :)

[2016-06-23 13:30] #25484 closed

[2016-06-23 13:31] matthewd commented on #25269
I doubt the problem is in your code... I would expect it's either a bug I introduced in the above commit, or a problem in something rspec-rails is doing (maybe it's accidentally depending on the previous misbehaviour).

Can you reproduce the problem without rspec?

[2016-06-23 13:53] jasnow commented on #25269
The only common gem in all 4 repos is devise.
One repo does not use rspec: https://github.com/jasnow/adopt-a-hydrant5edge

[2016-06-23 14:37] sonalkr132 opened #25488 "scope to: 'controller#action' does not work"
### Steps to reproduce
* In routes.rb add:
[code]
* Start rails server

### Expected behavior
Both `some_path` and `some_other_path` should have been routed to `some_controller#some_action`

### Actual behavior
Got following error:
[code]

### System configuration
**Rails version**:
rails-5.0.0.rc2
**Ruby version**:
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]

This is happening becau

[2016-06-23 14:38] maclover7 commented on #25483
Based on that you are saying that this is only not working when the `second_level_cache` gem is added to your Rails application, I'm going to close out this issue as a third party problem. I recommend that you open up an issue with `second_level_cache`. :) If this still isn't working with the `second_level_cache` gem removed from the project, then we can reopen the issue.

[2016-06-23 14:38] #25483 closed

[2016-06-23 14:40] maclover7 commented on #25488
Thank you for reporting this! Marking as a regression.

r? @tenderlove

[2016-06-23 14:43] raszi opened #25489 "NullSessionHash.fetch behaves differently than Session.fetch"
### Steps to reproduce

Try to fetch something from session without a session id with:

[code]
### Expected behavior

It should return `:default_value`
### Actual behavior

Throws an `ArgumentError`:

[code]
### System configuration

**Rails version**:

actionpack-4.2.6
rack-1.6.4

But the error is there in the master branches as well.

**Ruby version**:

Ruby-2.3.0

[2016-06-23 14:45] maclover7 commented on #25488
Reproduction script that fails on master can be found here --> https://gist.github.com/maclover7/691ecc4c0b3c8539c078587b65ad1c61

[2016-06-23 14:50] raszi commented on #25489
The reason is that the `NullSessionHash` has a different implementation of the `fetch` method than the `Session`.

See the differences here:

`NullSessonHash#fetch` is inherited from [`Rack::Session::Abstract::SessionHash#fetch`](https://github.com/rack/rack/blob/8ebe20c80ffabc7cbf797999e74baeb3315673fa/lib/rack/session/abstract/id.rb#L53-L57)

[`ActionDispatch::Request::Session#fetch`](https://gi

[2016-06-23 16:05] robmathews commented on #24055
Why can't we allow :references? I have scopes I'm trying to combine together. Couple of points:

1.  I'd like not to care about if one does eager loading and other doesn't. Load or throw out the loading, I could easily fix it up at another level, but if .or() throws an error then I'm back to the bad old days of using to_sql
2. Some of the scopes have where clauses that reference associations, whic

[2016-06-23 16:55] b264 commented on #25220
Some folks find backtraces extremely useful and a couple lines are not enough.  Then, it makes two problems: first, how to get a backtrace, then, how to fix your problem.  This has been an increasingly counter-productive feature of Rails lately

[2016-06-23 17:00] b264 commented on #25220
The "Rails way" is to optimise for programmer productivity, so saving a few bytes in a log seems less useful than providing information that can help find a problem.

[2016-06-23 17:06] kangkyu commented on #25482
Thank you for answering! I saw this was already opened there 😃

[2016-06-23 17:25] victorngkp opened #25490 "Add period at the end of error message"
From UX perspective, a full sentence is to end with a period (see http://ux.stackexchange.com/questions/18671/), but this is not the case with Rails. In https://github.com/rails/rails/blob/master/activemodel/lib/active_model/locale/en.yml, we see that error messages are left hanging.

If the community agrees that we should add period at the end of error message in ActiveModel (and everywhere else

[2016-06-23 17:35] rafaelfranca commented on #25490
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2016-06-23 17:35] #25490 closed

[2016-06-23 17:56] guialbuk commented on #25269
I'm getting the same error, using rails 5.0.0.rc2 and rspec-rails  3.5.0.beta4.
Everything works fine when going back to RC1.

[2016-06-23 18:00] jasnow commented on #25269
@guialbuk - Are you using devise too?

[2016-06-23 18:14] sblackstone opened #25491 "ActionDispatch Regression between RC1 and RC2..."
I have a test case that ensures a controller is being properly protected by devise..

[code]

Under Rails 5.0.0RC1 and the 'rails-controller-testing' gem, this test passes.

Under RC2:

[code]
edit:  full backtrace

### System configuration
Ruby 2.3.1

[2016-06-23 18:14] guialbuk commented on #25269
Yes. I'm using devise too.

[2016-06-23 18:14] sonalkr132 opened #25492 "undefined method `append' for #<Model::ActiveRecord_AssociationRelation ..>"
### Steps to reproduce
* rails new my_app
* rails g scaffold post title:string body:text
* rails g resource comment post:references body:text
* rails db:migrate
* Add `has_many :comments` to `Post` model
* Create a post and a comment
* In rails console:
[code]
### Expected behavior
get back an array appended with `comment`

### Actual behavior
Error:
[code]

### System configuration
**Rails versio

[2016-06-23 18:23] rafaelfranca commented on #25492
Yeah, that is expected. You should not call `append` in a `Relation`. If you need an array appended with comment call `to_a` explicitly.

[2016-06-23 18:23] #25492 closed

[2016-06-23 18:29] yuriihabrusiev opened #25493 "In mountable plugin fixtures from test/dummy/test/fixtures don't load"
### Steps to reproduce
1. Generate new mountable plugin with `rails plugin new cool_plugin --mountable`
2. Go to `test/dummy` and generate few scaffolds
3. Return to plugin root and run `bin/rails t`
### Expected behavior

Tests should pass
### Actual behavior

Tests don't pass because in test helper we have

[code]
### Potential solution

Change

[code]

to

[code]

in `railties/lib/rails/generat

[2016-06-23 18:41] guialbuk commented on #25269
In my project, this error occurs only in tests when a regular or guest user tries to access an admin-only page and gets a 302 response. When the user receives a 200 response the error doesn't happen.
So it definitely has something to do with Devise.

[2016-06-23 18:41] kellyjosephprice commented on #22548
I would like to add that I had to use `config.to_prepare` instead of `config.after_initialize`. When eager loading, a child class could be loaded first.

[2016-06-23 18:51] maclover7 commented on #25491
Thank you for reporting! Closing as a duplicate of #25269.

[2016-06-23 18:51] #25491 closed

[2016-06-23 18:57] sblackstone commented on #25269
Same issue, Devise and Minitest... Tried using both the older Devise helpers and the newer ones, and that did not upgrade.  Changing solely the rails version back to rc1 fixes the issue..

[2016-06-23 18:59] jasnow commented on #25269
When I run this for this repo:  https://github.com/jasnow/adopt-a-hydrant5edge
[code]
and note that the password value is wrong, I get the above exception.

[2016-06-23 19:00] lgrains commented on #23640
I ran into this problem today.  Any updates on when this will be approved and merged?

[2016-06-23 19:41] md5 commented on #24924
@rafaelfranca It looks like this changes didn't make it into the 5.0.0.rc2 release. Since this has the 5.0.0 milestone, that seems like an oversight.

[2016-06-23 19:45] rafaelfranca commented on #24924
Urh. That is true. I'll backport now. Thanks.

[2016-06-23 19:46] sblackstone commented on #25269
Devise's controller helpers seem to be triggering process which in action_controller/test_case, it sets sent! which is what request.rb is checking to see if the header can be set..

[code]

[2016-06-23 20:49] robmathews commented on #24864
Not sure if this is the correct place to comment, but google lead me here, so I'll comment here and happily move somewhere else if directed.

Why are we making this change? I understand that it is slightly cleaner, but out here in the real world, where folks like me manage a large application, changes like this add no value and a lot of work to the upgrade process. We've got more than 5000 tests,

[2016-06-23 20:55] akozhemiakin commented on #24864
@robmathews
If I understand you right, the change you are talking about (you are talking about moving from ordered parameters to keyed arguments, right?) has already been made. So yes, this issue is not dedicated to this already applied change.

[2016-06-23 20:58] rosenfeld opened #25497 "Test failed after upgrading from Rails 5 rc1 to rc2"
Any ideas on what change could be causing this test to fail?

Output from RSpec:

[code]

Test:

[code]

The action indeed works when testing manually and I get the redirected response but after upgrading from rc1 to rc2 this test failed. All other tests passed. The error happens in the line beginning with "process". Any ideas?

[2016-06-23 21:01] robmathews commented on #24864
I understand. Where would you suggest I raise the issue instead?

[2016-06-23 21:05] akozhemiakin commented on #24864
@robmathews
I think it would be appropriate to just post your considerations as a separate issue to the current repository :) (so I have not checked if something similar may be already here)

[2016-06-23 21:08] maclover7 commented on #25497
Thank you for reporting! Closing as a duplicate of #25269.

[2016-06-23 21:08] #25497 closed

[2016-06-23 21:39] lleger commented on #23589
This issue bit me today after upgrading to RC2. Setting `ActiveRecord::Base.belongs_to_required_by_default` solved the issue for me. When I upgraded, I removed `config/initializers/active_record_belongs_to_required_by_default.rb` in favor of `config/initializers/new_framework_defaults.rb`. Adding that file back and simply setting `Rails.application.config.active_record.belongs_to_required_by_defau

[2016-06-23 21:40] bisonh commented on #25185
I was having this issue yesterday. Very frustrating. Today I tried using bundle install without the exclusion of the production environment, and the error message is no longer coming up when I view localhost:3000/users.

[2016-06-23 21:42] rosenfeld commented on #25497
Thanks, by the way I'm also using Devise.

[2016-06-23 21:44] lleger commented on #23589
In my case, specifically, it seems like the Devise initializer caused the issue. Moving it to the bottom of the order (`z_devise.rb`) alleviated the issue.

[2016-06-23 21:51] fnando opened #25498 "ActiveRecord sets incorrect default value when using `now()`"
### Steps to reproduce

Using PostgreSQL adapter, create a datetime column that has the default value `now()`

Here's a sample script reproducing the issue: [ar-datetime-default-value-bug.tar.gz](https://github.com/rails/rails/files/330888/ar-datetime-default-value-bug.tar.gz)

### Expected behavior

The schema dump should have a `now()` string as the default value.

### Actual behavior

It output

[2016-06-23 22:03] robmathews commented on #24864
@akozhemiakin Thank you, kind sir.

[2016-06-23 22:24] rafaelfranca commented on #25498
This may be something we already fixed in Rails 5 because I remember something about this. I'll check later.

[2016-06-23 22:27] fnando commented on #25498
@rafaelfranca just tried with AR 5.0.0.rc2 and the error still happens.

[2016-06-23 22:40] rafaelfranca commented on #23589
While I agree that we can fix this issue it is more a plugin/gem not playing nice with the rails hooks. I'll take care of fixing it in devise and if you can try to find which gem/plugin is doing it please open an issue.

[2016-06-23 22:52] kamipo commented on #25498
Related #20005.

[2016-06-23 23:38] rafaelfranca commented on #25498
@fnando I told you that I remember something related 😄. Rails 5 fixes it adding support to procs for lazy evaluation of SQL expressions.

[2016-06-23 23:38] #25498 closed

[2016-06-23 23:38] rafaelfranca commented on #25498
Thanks @kamipo for pointing to the change.

[2016-06-24 00:01] fnando commented on #25498
@rafaelfranca Thanks, dude. :*

[2016-06-24 02:32] janko-m opened #25500 "Rails swallows errors with vanilla setup"
### Steps to reproduce

[code]
[code]

### Expected behavior

When I create a vanilla Rails application, I would expect Rails to propagate all raised errors. The reason why I'm creating an app in this way (versus with `rails new`) is because when I'm trying to reproduce [Shrine](https://github.com/janko-m/shrine) issues, I want the example to be a single executable file.

### Actual behavior

With

[2016-06-24 02:33] janko-m commented on #25500
Just to prove that it isn't the `rack-test_app` gem which is swallowing the errors:

[code]

[2016-06-24 02:46] rafaelfranca commented on #25500
Yes, this is the expected behavior. If you don't want this behavior make sure you set the proper configuration to false in the request header.

[code]

[2016-06-24 02:46] rafaelfranca commented on #25500
oh. since you have an application you can also set `config.action_dispatch.show_exceptions = false`

[2016-06-24 02:47] rafaelfranca commented on #25500
See http://guides.rubyonrails.org/configuring.html

[2016-06-24 02:48] rafaelfranca commented on #25500
Sorry, should not have closed. Clicked the wrong button.

[2016-06-24 02:52] janko-m commented on #25500
Thanks, this properly propagates the error. I'm not sure what the correct behaviour should be here, probably it should stay like this, because I don't think you can know whether people are opening the application in the browser and want the exception page, or running it in the script and want the error propagated. Can this be detected?

If not, this issue can be closed.

[2016-06-24 02:59] rafaelfranca commented on #25500
I just made a quick research and we want this to be true when when undefined to not render the default rack error page in production in case people deploy the application removing this setting. As the request comes from rack in both cases there is no way to detect it.

[2016-06-24 02:59] #25500 closed

[2016-06-24 04:24] hmistry opened #25501 "AR has_many through with distinct validation does not prevent duplication in join table"
### Steps to reproduce

[code]
### Expected behavior
I'm expecting the AR validation check for uniqueness to prevent a duplicate entry being made in the join table `car_seats`, i.e. I expect only a single row to exist in the join table because it's the same relation.

I acknowledge I don't have a database unique constraint set but I wanted to ensure the AR validation was working on it's own - mayb

[2016-06-24 04:38] rafaelfranca commented on #25501
That `distinct` there is not a validation but a method that add `DISTICT` to the SQL query in the association. What you want is `validates_uniqueness_of`.

[2016-06-24 04:38] #25501 closed

[2016-06-24 05:15] hmistry commented on #25501
@rafaelfranca Thanks. I was following solutions for similar question posted on StackOverflow since I couldn't find any mention in the docs. I confirm your suggestion is working.

For others looking for the solution:
Add `validates_uniqueness_of :car_id, scope: :seat_id` to `CarSeat` join model.

[2016-06-24 05:49] Tietew opened #25503 "update_attribute ignores autosave relations"
### Steps to reproduce

[code]
### Expected behavior (Rails 4.2.6)

The test passed.
update_attribute saves associated Email model.
### Actual behavior (Rails 5.0.0.rc2)

The test failed.
Nothing is saved.

Is it intentional?
### System configuration

**Rails version**: Rails 5.0.0.rc2

**Ruby version**: Ruby 2.3.1

[2016-06-24 07:15] michaldarda opened #25504 "Schema migrations in structure.sql, in single line (multi value insert)"
### Steps to reproduce

Set schema format to sql, and execute rake db:structure:dump

### Expected behavior
I should have schema migrations in separate lines, like so:

[code]

### Actual behavior
All migrations in single like, like so:
[code]

### System configuration
**Rails version**: 5.0.0rc2

**Ruby version**: 2.2.3
**psql (PostgreSQL)**: 9.4.7

This is important for me because with one long

[2016-06-24 08:03] Xenofex commented on #18950
Agree with @jrochkind : ivar is the output of the controller and the input of the view, and controller testing should be there. A lot of web MVC frameworks use return value as the bridge between controllers and views. In that case, testing the return values of the controller methods seems fair.

I'm pretty happy that Rails didn't choose to use return value as the bridge between controllers and vie

[2016-06-24 08:37] svpersteve opened #25505 "Step 8 Deleting Comments Bug (and solution that worked for me)"
### Steps to reproduce

[Step 8 - Deleting Comments](http://guides.rubyonrails.org/getting_started.html#deleting-articles) produces [this error](https://cloud.githubusercontent.com/assets/2977353/13484568/6556bf14-e0bc-11e5-9ee4-a129c0268187.png).
### Expected behavior

The page should load with a 'Destroy comment' link under each comment
### Actual behavior

Page fails to load with [this](https:/

[2016-06-24 08:45] vipulnsward commented on #25505
Are you following http://guides.rubyonrails.org/getting_started.html#adding-a-route-for-comments

See also https://github.com/rails/rails/issues/24019#issuecomment-191582544

[2016-06-24 13:33] yahonda commented on #25388
Rails 5.0.0.rc2 has been released, then I'm reviewing my pull requests / issues.

For Oracle enhanced adapter which does not support `auto_increment` features, "id" column must be explicitly stated in insert statements for habtm join tables.

Then https://github.com/rails/rails/commit/2df891dc will cause breaking changes for users who are upgrading to Rails 5 that every habtm table must have compo

[2016-06-24 14:39] lukeredpath commented on #23589
Also ran into this issue (I think its this issue) when installing the `paranoia` gem:
https://github.com/rubysherpas/paranoia/issues/335

Narrowed it down to the fact that it is re-opening ActiveRecord::Base.

I suppose the question is where should this issue be fixed? Should gems not being re-opening ActiveRecord::Base? Should this be fixed in Rails?

[2016-06-24 14:51] lukeredpath commented on #23589
My current preferred workaround for this issue, if caused by a gem, is to disable auto-require in your Gemfile:

[code]

Create a new initialiser in which you require any libraries that re-open ActiveRecord

[code]

This ensures that it gets loaded after the configuration is set.

[2016-06-24 15:30] maclover7 commented on #25489
Thanks for reporting this! Would you be willing to submit a PR to Rack to fix this?

[2016-06-24 15:31] alexcameron89 commented on #25503
It looks like this behavior was added in 0fcd4cf5c26c470623eef9af72a134ef6ba1a701.

[2016-06-24 15:34] maclover7 commented on #25493
Would you be willing to submit a PR to change this? We can continue the discussion there :)

[2016-06-24 15:35] maclover7 commented on #25503
Hmm, I'm not sure if this is supported behavior...

[2016-06-24 15:48] ckmorris commented on #23934
This error is still in play due to the `raise` on line 409 of `lib/active_record/reflection.rb`

[2016-06-24 17:08] lkdjiin commented on #25269
Same error here with:
* rails 5.0.0.rc2
* rspec-rails 3.1.0
* devise 4.1.1

[2016-06-24 18:13] rafaelfranca commented on #25503
I'd say yes. It changed the behavior as consequence to fix an issue but it was never expected to remove support to this.

[2016-06-24 19:20] raszi commented on #25489
For me that is a questions, should this be fixed in Rack or in ActionPack?

[2016-06-24 19:22] rafaelfranca commented on #25489
I believe it should be fixed in Rack since it is not respecting the same API of Hash. cc @tenderlove

[2016-06-24 19:53] sonalkr132 opened #25516 "ActiveJob::DeserializationError: Error while trying to deserialize arguments"
### Steps to reproduce
* rails new my_app
* rails g scaffold post title:string body:text
* rails g scaffold comment post:references body:text
* rails g mailer comments submitted
* rails db:migrate
* Change `CommentsMailer#submitted` to:
[code]
* Write test:
[code]
### Expected behavior
Test should have passed

### Actual behavior
[code]

### System configuration
**Rails version**:
5.0.0.rc2
**Ruby

[2016-06-24 20:19] raszi commented on #25489
Yes, that is a good point and I agree with that but I don't know which one was first the chicken or the egg. :)

Btw this change could and should be done in a backward compatible way.

[2016-06-24 20:25] codeodor commented on #25269
I've got the same error since upgrading from RC1 to RC2. Using minitest though, not rspec. App also uses devise, and all tests that are failing are along the lines of "should redirect to login when not logged in"

[2016-06-24 20:53] maclover7 commented on #25516
Thanks for reporting. Would you be willing to open up a PR for this change, and we can continue the discussion there? Also, I tried to create a reproduction script [here](https://gist.github.com/maclover7/a2e50ef90fbc96cc179792922b00d017), but I'm getting a different error than the one you are getting.

[2016-06-24 21:02] kaspth commented on #25516
@maclover7 you need to add in GlobalID in your script as well. That's what handles the model lookup.

[2016-06-24 21:07] shakycode commented on #25269
Should this be cross posted to devise since it looks like maybe an issue between the two?

[2016-06-24 21:10] kaspth commented on #25516
@sonalkr132 I'm curious why you're using integration tests to test your mailers? Is there some larger context missing from your reproduction where the email is generated through e.g. a controller action?

Also I'd test the mailers' behavior/output separately from the enqueing of it. I'd say `deliver_now` would be appropriate.

This doesn't read like a bug to me, so I'm going to give this a close.

[2016-06-24 21:10] #25516 closed

[2016-06-24 21:50] sonalkr132 commented on #25516
I was just trying to get my point across. Yes, it is missing context. In real application delivering mail is part of an integration test  and we are counting on that mail being delivered. Calling `deliver_now` is not an option because [`clearance` gem was setting it](https://github.com/thoughtbot/clearance/blob/c643e9432c3320724ee96da4e19e381691eae1c0/app/controllers/clearance/passwords_controller

[2016-06-24 21:52] sonalkr132 commented on #25516
And of course, it is weird that ActiveJob couldn't find `post` even if it was there.

[2016-06-24 22:05] kaspth commented on #25516
Hm, true, I can't remember why we switched the base dev/test adapter without a deprecation cycle.

Anyway, the immediate option isn't for public use :)

Take a look at the `perform_enqueued_jobs` method in `ActiveJob::TestHelper`. There are also methods to test that a job has been enqueued.

[2016-06-25 02:58] chancancode commented on #25267
Closed in #25287

[2016-06-25 02:58] #25267 closed

[2016-06-25 04:03] #22171 closed

[2016-06-25 04:06] chancancode commented on #22171
Thanks everyone, sorry this took so long! It's fixed in #23011/master now. I'll check if we can backport this into the release branches.

[2016-06-25 06:21] YoonjaeYoo opened #25521 "5.0.0.rc2: 'render :partial' returns an array of ActiveSupport::SafeBuffer"
### Steps to reproduce

I needed to render a view in a controller first then use it like:

1. First, respond with the view
2. Then, broadcast it to ActionCable subscribers.

Code is like:
[code]

The problem is, `html` was a pure string when using 5.0.0.rc1 but after upgrading to 5.0.0.rc2 it is now an array of `ActiveSupport::SafeBuffer`.
'Responding with the view' doesn't cause any problem but w

[2016-06-25 12:37] sonalkr132 opened #25525 "Deprecation of strings or symbols for middleware class names"
### Steps to reproduce
- Create a middleware folder under `app` directory.
- Create file `app/middleware/unicorns.rb`:

[code]
- Specify use of the middleware in `application.rb`:

[code]
- Check if middleware was added

[code]
### Expected behavior

Unicorns should have showed up at the end of middleware stack
### Actual behavior

[code]
### System configuration

**Rails version**:
5.0.0.rc2
**Ru

[2016-06-25 13:20] maclover7 commented on #19472
New PR has been opened to solve this by @st0012, --> #25520

[2016-06-25 14:03] maclover7 commented on #25525
Hmm, I feel like this might have something to do with constant autoloading 😬

cc @fxn

[2016-06-25 15:59] maclover7 commented on #25521
Hmm, not sure if this is supported behavior 😬. If you were to try and render a partial, I'd recommend going through the controller's `render` class method (see [here](https://github.com/rails/actioncable-examples/blob/master/app/jobs/comment_relay_job.rb#L4) for an example of doing that).

[2016-06-25 19:25] YoonjaeYoo commented on #25521
Actually, 'create' method is of a controller. Thus, 'render' above is a controller's method. 😫

[2016-06-25 20:43] hamadata commented on #25269
I found a workaround for this issue.
The tests in devise gem pass with this change.
[code]

[2016-06-25 21:57] lucasmazza commented on #25269
@hamadata can you please open a Pull Request on plataformatec/devise with this patch? We will probably cut a new release next week and we can ship it with this fix.

[2016-06-25 23:11] rsmything opened #25529 "class: 'disabled' in the f.select doesn't work"
actionview (= 5.1.0.alpha)

Why f.select doesn't want to set value 'disabled' to the :class key?
The more that 'disable' works...

`= f.select :country, COUNTRIES.map { |k, v| [v, k] }, {}, { class: :disabled, disabled: true }`
_rendered as html:_
`<select class disabled="disabled" name="user[country]" id="user_country">`

`= f.select :country, COUNTRIES.map { |k, v| [v, k] }, {}, { class: :disabl

[2016-06-26 01:13] rafaelfranca commented on #25521
The return value of render is not defined. It returned a string before by coincidence. What you want is render_to_body but could you create a way to reproduce this behavior so we can bisect to the change or could you do the bisect?

[2016-06-26 02:16] Nowaker commented on #25429
If there's UNIQUE index on a table and one tries to add a duplicate to the table, some PG::Error will be thrown. Why isn't it a case here? We can clearly see the query fails when executed in psql. Getting an exception when underlying layer fails (SQL level) is a must-have IMO.

[2016-06-26 07:21] marekkirejczyk commented on #25429
I think query actually succeeds and that is why no error is propagated to the framework, i.e. following SQL script will execute properly:

[code]

and will return:
[code]

So if it succeeds in SQL why not in Rails?

If you however add not null constraint to your column (i.e. `alter table tmp alter uni set not null;`), it will behave as you expect. That is: `insert into tmp (uni) values (null);` wi

[2016-06-26 07:24] Nowaker commented on #25429
[code]

[2016-06-26 07:38] marekkirejczyk commented on #25429
How did you get this error?
I think it is not being triggered in scenario you showed, the reason for this is that ActiveRecord does the conversion from Integer to nil before sending query. As you can see in [executable test case](https://gist.github.com/marekkirejczyk/5a5d295cbb0d82a1daf57879418b379f) actual query is:
`UPDATE "hypervisors" SET "blah" = $1 WHERE "hypervisors"."id" = $2  [["blah", n

[2016-06-26 09:15] Nowaker commented on #25429
That's psql. Frankly, I didn't know Rails would perform meaningless conversions. Feels like JavaScript casting. ;-) Do you know if it's possible to disable that somehow?

[2016-06-26 10:30] matthewd commented on #25429
Per https://github.com/rails/rails/issues/25429#issuecomment-226941339, this is consistent with the behaviour for integers.

[2016-06-26 10:30] #25429 closed

[2016-06-26 12:46] YoonjaeYoo commented on #25521
My apologize. I stack traced and found that render is calling Remotipart::RenderOverrides::render_with_remotipart. I added 'remotipart' gem when upgrading to '5.0.0.rc2'. Please close this issue.

[2016-06-26 14:50] MattDHill commented on #20643
I'm getting the same error. I have two different enums on the same model, each containing the same values:

[code]

When I attempt to create a new Group, I get the following error:

"You tried to define an enum named "who_can_add" on the model "Group", but this will generate a instance method "everyone?", which is already defined by another enum."

[2016-06-26 18:25] #25521 closed

[2016-06-26 20:02] kaspth commented on #24864
@robmathews sorry, but we're far over the debate since the change has been merged in months ago and 5.0.0 has entered the RC phase.

@akozhemiakin there's still time to improve the deprecation in 5.0.1 if you want to open a PR with your proposed version: https://github.com/rails/rails/issues/24864#issuecomment-222742228 😁

[2016-06-26 21:14] akozhemiakin commented on #24864
@kaspth
The problem is we still do not know how to effectively distinguish between old style request and new style request without confusing false positive or false negative deprecation warnings.

@jeremy perfectly described this problem:

It is all because both new style invocation and old style invocation take hash as a first argument.

[2016-06-27 04:10] Shwetakale commented on #25505
@svpersteve Could you push sample rails app to reproduce this issue?

I tried it on the same ruby and rails versions you mentioned and it's working as expected as per guides.

[2016-06-27 14:58] liukgg opened #25537 "A bug? Query the whole table when using find_in_batches and find_each"
### Steps to reproduce

Supposing we use MySQL and  we have a model named "User" like this:

[code]

The table "users" have 100 million records in all.

When I use this query "User.find_in_batches", it generates a SQL:
"User Load (0.5ms)  SELECT `users`.\* FROM `users`" .

And this will take a very very long time and occupy much memory.

However, it do work well with a "each" and a block followed:

[2016-06-27 16:56] fledman opened #25542 "respond_to_missing? is not implemented for Rails::Application::Configuration::Custom"
[Rails::Application::Configuration::Custom](https://github.com/rails/rails/blob/master/railties/lib/rails/application/configuration.rb#L195) (the backing class of `Rails.configuration.x `)
has a `method-missing` implementation that responds to **all** messages,
but it does not have a matching `respond_to_missing?` implementation.

### Current behavior
[code]
### Expected behavior
`respond_to?` sho

[2016-06-27 17:08] marekkirejczyk commented on #25195
New pull request added related to this topic: #25543

[2016-06-27 17:37] lucasmazza commented on #25269
We merged @hamadata fix on plataformatec/devise#4169 and a release will be cut soon. Anyone else having this issue is welcomed to try it out and report anything on the Devise PR, and I guess we can close this one.

[2016-06-27 18:36] jasnow commented on #25269
I will close this issue after I verified the above fix.

[2016-06-27 18:38] rosenfeld commented on #25269
I can confirm it fixed my app as well.

[2016-06-27 18:46] jasnow commented on #25269
https://github.com/plataformatec/devise/pull/4169 appears to fix my original problem. The whole community thanks you. - @hamadata and @lucasmazza

[2016-06-27 19:08] kaspth commented on #24864
How about this?

[code]

I think that should also let @jeremy override `process` and merge in the authorization:

[code]

Also curious why we've chosen to have `process_with_kwargs` capture `*args` and not `**options` it doesn't seem like there'd be more positional args after the method and path ¯\_(ツ)_/¯.

[2016-06-27 19:15] sgrif commented on #25537
Please provide a script that we can use to reproduce the issue using [our standard bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb)

[2016-06-27 22:47] jeremy commented on #25185
Fixed by #25192

[2016-06-27 22:47] #25185 closed

[2016-06-27 23:14] rafaelfranca commented on #25195
@kaspth what is missing to close this issue?

[2016-06-28 02:37] liukgg commented on #25537
Ok. I have provided a script in the description above.

[2016-06-28 02:46] mvasin opened #25547 "Links in ActiveRecord README.rdoc are broken"
"Learn more" links in ActiveRecord README.rdoc are broken.

[2016-06-28 02:49] rafaelfranca commented on #25547
Thank you for the report. Those links are to work in the official documentation web site not in GitHub. They are broken in GitHub but working in the site.

[2016-06-28 02:49] #25547 closed

[2016-06-28 03:52] devonestes commented on #25463
Hey y'all,

So I'd love to help out with trying to fix this bug! It seems to me at first glance like something that's up with the type definition for the jsonb type in the Attributes API. This would be my first attempt at contributing to Rails, so I'm excited, but I'd also really love any guidance folks might have to offer about where to put the tests for this bug (since it's adapter specific, sho

[2016-06-28 04:04] rafaelfranca commented on #25463
Hey!

Glad you want to help. Your tests should probably go in https://github.com/rails/rails/blob/master/activerecord/test/cases/adapters/postgresql/json_test.rb. There is also a file to json type in mysql.

[2016-06-28 04:35] jakehow commented on #22154
If anyone needs this in the meantime we wrapped it in a gem here -> https://github.com/zipmark/active_record-allow_connection_failure

[2016-06-28 05:01] trostli commented on #13677
I can still reproduce this in Rails 4.2.6

[2016-06-28 05:51] kaspth commented on #25195
@rafaelfranca nothing, I simply forgot to do it 😁

Fixed in #25543

[2016-06-28 05:51] #25195 closed

[2016-06-28 05:51] dlcmh opened #25549 "Rails 5.0.0.rc2 `rails generate channel` creates JavaScript instead of CoffeeScript assets"
Running the `generate Channel` command produces `.js` files instead of `.coffee` assets...

`rails generate channel --help`:

[code]

`rails generate channel Chat speak --pretend`:

[code]

Gemfile:

[code]

[2016-06-28 08:18] phuongnd08 opened #25550 "Rails 4.2.6 cannot use YAML as serializer of AR field"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

Create an AR model
class Model < ActiveRecord::Base
   serialize :field, YAML
end

Model.create(field: { my_hash: true })
### Expected behavior
No error thrown

### Actual behavior
TypeError: no implicit conversion of nil into

[2016-06-28 08:26] kaspth commented on #25197
@dhh how would you create a nested form in this way? Just pass an array to `:url`?

[code]

[2016-06-28 09:41] PavelPenkov opened #25552 "MySQL and database url"
### Steps to reproduce

Configure database using an URL with `mysql` protocol, with something like this in `database.yml`

[code]

### Expected behavior

The application should load

### Actual behavior
Instead it crashes with
[code]

As far as I understand, Rails tries to guess adapter name from protocol, and guesses wrong. Everything works fine when protocol is changed to `mysql2`

### System co

[2016-06-28 11:36] elieteyssedou commented on #25185
Thank you ! 👍

[2016-06-28 11:54] dhh commented on #25197
No, I would stick with that as a parameter to model. So it's `form_with(model: [ @post, Comment.new ]) do ..`.

[2016-06-28 12:55] matthewd commented on #25552
This is expected behaviour. We've removed the `mysql` adapter from core, but it would be dangerous to simultaneously alias it to `mysql2`, which has some observable differences.

Existing applications that are using URLs and intend to use `mysql2` should already be using `mysql2:` in the protocol; they will continue to work. Applications that are currently using `mysql:` should be forced to choose

[2016-06-28 13:11] cmendla opened #25557 "Ruby injection comment at end of a view with no spaces after results in a blank page."
### Steps to reproduce

add a ruby injection with a todo comment at the very end of a view with no spaces after.

i.e.  <% # TODO fix dropdown %>

the view page is then blank except for the content of the application.html.erb.

The page will function as normal after putting a space after the injection.
### Expected behavior

Putting a comment with ruby injection should not cause a blank page.
###

[2016-06-28 14:06] rafaelfranca commented on #25557
Could you provide a sample application which reproduce the issue?

[2016-06-28 14:38] rafaelfranca commented on #25549
Could you try with coffee-rails master?

[2016-06-28 14:41] #25552 closed

[2016-06-28 14:45] rafaelfranca commented on #25525
Yeah, it is. You should not put middlewares or any code that should not be reloadable in the app folder.

http://edgeguides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-initializers

[2016-06-28 14:55] rafaelfranca commented on #25550
If you want to serialize as a YAML just use:

[code]

As it is in the documentation.

[2016-06-28 14:55] #25550 closed

[2016-06-28 19:22] #25488 closed

[2016-06-28 20:18] marekkirejczyk commented on #25197
I just created a pull request with a prototype - far from ready.

My considerations so far:
* Is the general approach right (new module, new builder, using tag helpers (ie `text_field`) in implementation). Do we plan to deprecate tag helpers (ie `text_field`) at some point? Note: I assume `FormWithBuilder` will not be inheriting from `FormBuilder` in final implementation.
* Implementation of url o

[2016-06-28 20:37] #25269 closed

[2016-06-28 20:38] piotrpietrusewicz opened #25561 "Has many through with nested attributes problem"
### Steps to reproduce
I have associations:  Training has many Exercises through TrainingExercise and reverse.
I have also 7 ( muscle group)  scopes in Exercises.
### Expected behavior
I would like to have form with field type date from training and all 7 scopes from exercise and when button Send is clicked then save record to only Training and TrainingExercise.
### Actual behavior
Recently  I hav

[2016-06-28 21:26] vipulnsward commented on #25529
@rsmything hmm, I was not able to reproduce this, see https://github.com/rails/rails/pull/25562/files.
Can you create an example application to reproduce this. Perhaps this is due to some form builder gem that you may be using.

[2016-06-28 21:38] bryandavisweb commented on #22031
@simonmorley did y'all ever get this issue sorted out? we're experiencing something similar.

[2016-06-28 21:44] simonmorley commented on #22031
@bryandavisweb Nope. We broke the application into two parts to isolate. Both still suffer. Although it's much much better. It still happens a few times per day but they recover.

The only thing the two apps have in common, aside from Ruby, is the db. I'm 99% certain there's something up with the second connection.

I'm about to remove the reconnect option as apparently that interferes with innodb

[2016-06-28 21:58] bryandavisweb commented on #22031
@simonmorley we also connect to two different databases in this app and run rack timeout. i wonder if that's related? could it have something to do with the rollbar gem or are we purely in activerecord territoy at this point?

[2016-06-28 22:04] simonmorley commented on #22031
We have rack timeout but no rollbar anymore. We have the same issue with rollbar and airbrake.

If we load the connection up all is much better. It's like the connections go to sleep and never wake up.

[2016-06-28 22:26] albertnetymk opened #25563 "no_cache override other cache control keys"
According to https://www.mnot.net/cache_docs/#FAQ, I can do the following for private asserts:

[code]

And, in rails, this is what I did, but the return Cache-Control header contains `no-cache` only.

[code]

I think it's caused by https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/http/cache.rb#L195

[2016-06-28 22:50] matthewd commented on #25563
Are you actually using HTTP authentication?  :confused:

It looks like that code dates to e1786ee6ebee9fab10d6756be1eeacbbe6b65b48.

It seems reasonable that we could respect an explicit `public: true`... though the use case where you actually want such a construct seems awfully rare.

The work-around seems to be `no_cache: true, extras: ['public']`. Given how unusual this requirement is, maybe th

[2016-06-28 23:28] tmertens commented on #25354
I am also observing this behavior on rails 4.2.5.2

[2016-06-29 00:01] maclover7 commented on #25549
cc @prathamesh-sonpatki

[2016-06-29 00:05] prathamesh-sonpatki commented on #25549
https://github.com/rails/coffee-rails master branch should fix this. We need a gem release for coffee-rails.

[2016-06-29 02:33] #25354 closed

[2016-06-29 02:53] esparta commented on #25504
This change of behavior was introduced on https://github.com/rails/rails/commit/42dd2336b31a8d98776d039a2b9fd7f834156a78:
[code]

According with the commit is an improvement of performance. I'm agree this is a change related to Rails 4.2.x and perhaps you should do a proposal on the Rails Core Forum: https://groups.google.com/forum/#!topic/rubyonrails-core/

Personally I think the diff is a legiti

[2016-06-29 02:58] rafaelfranca commented on #25504
Is not important to the structure.sql file be diff friendly. In this case performance is more important.

[2016-06-29 02:58] #25504 closed

[2016-06-29 02:58] ignatiusreza commented on #25525
where would be the suggested place to put application custom middlewares? seems like both app and lib suffer from the same autoloading issue.. tried to put it under `config/middlewares` but it's not loaded..

[guide](http://edgeguides.rubyonrails.org/configuring.html#configuring-middleware) should also be updated I guess, to mentioned the suggested way to do so?

[2016-06-29 03:04] rafaelfranca commented on #25525
It is in `lib`. But I think your problem is that `lib` is not in the load path at that point. I think the only way is to require the file explicitly.

@tenderlove what do you think about this?

[2016-06-29 03:32] rafaelfranca commented on #23589
This should be fixed in the gems.

There is no problem in re-opening `ActiveRecord::Base` but they need to do in the right way.

See https://github.com/plataformatec/devise/commit/c2c74b0a39238e7d997486814a1c8f75fdaf276f on how they should be doing this.

[2016-06-29 06:03] dlcmh commented on #25549
Using coffee-rails master branch does indeed fix this - thanks all:

[code]

[2016-06-29 06:03] #25549 closed

[2016-06-29 07:18] phuongnd08 commented on #25550
Thank you. I used `serialize :field, Hash` but it convert subclass of Hash to Hash. Come back and see your edited comment.

[2016-06-29 11:38] jeroenvisser101 opened #25568 "Unable to test SSL routes with new keyword-arguments"
### Steps to reproduce

[code]

How can I mitigate this? Nothing seems to be mentioned [in edgeguides](http://edgeguides.rubyonrails.org/5_0_release_notes.html)

### System configuration
**Rails version**: 5.0.0-rc2

**Ruby version**: 2.3.1

[2016-06-29 12:44] sandfoxme commented on #23589
Many gems re-open ActiveRecord::Base so I think there should be at least bad behavior detection with a warning, otherwise we have incorrect state without any clear sign of it

[2016-06-29 13:43] albertnetymk commented on #25563
Yes. The action containing `response.cache_control.merge!({ public: true, no_cache: true })` returns different response, depending on which specific user sends the request.

Really? I have no idea. I was reading the link I posted above on cache, and the instructions in section `My pages are password-protected; how do proxy caches deal with them?` seems reasonable to me.

[2016-06-29 14:06] sgrif commented on #25561
This looks like a help request, not a bug report. Please take requests for help to stack overflow or the mailing lists, where the larger community will be available to help. If there is a bug that you're reporting here, please comment with a link to a minimal rails app that can reproduce the issue, and a tests case for the expected behavior, and I will reopen.

[2016-06-29 14:06] #25561 closed

[2016-06-29 14:14] tanraya opened #25571 "Rails 4.0.0 date_select bug"
Hi!
I got following error:

[code]

This seemed a bug in date_select form helper. Does anyone experienced this bug?

### System configuration
**Rails version**: 4.0.0
**Ruby version**: ruby 2.3.1p112 (RVM)

[2016-06-29 18:33] rafaelfranca commented on #25571
Can you please provide a sample application that reproduces the error?

[2016-06-29 21:54] rosenfeld opened #25581 "streaming interrupted before complete with ActionController::Live in Rails 5 for production environment"
Sorry, at the time being I don't have much details or a sample application to reproduce the issue but I was finally able to understand that my streamed response was interrupted after the first writes after I upgraded the application to Rails 5. Unfortunately it only happens in my production (and staging) servers, not under the development environment. I have to sign off for today but I'd love to g

[2016-06-29 22:07] tenderlove commented on #25525
This really does look like a const missing issue.  @ignatiusreza does `::Unicorns` work?

[2016-06-29 22:14] matthewd commented on #25525
Is it expected that autoloads will work inside application.rb? That's... pretty early.

[2016-06-29 22:16] tenderlove commented on #25525
It should, I think.  Calling `config` should instantiate the app, so everything *should* be there.  Unless maybe it doesn't have the autoload paths set yet?

[2016-06-29 23:57] ignatiusreza commented on #25525
@tenderlove same issue `::Unicorns` also doesn't work, with the same const missing issue

[2016-06-30 00:13] rosenfeld commented on #25581
I have a bit more details, not sure whether or not it will help. My first attempt to upgrade to Rails 5 was with beta 4. Just before the upgrade the feature worked fine and failed just after upgrading to Rails 5 beta 4.

[2016-06-30 01:22] sonalkr132 opened #25585 "ActiveRecord::ActiveRecordError: Cannot lease connection, it is already in use by a different thread"
### Steps to reproduce
* rails new my_app
* export DISABLE_SPRING=true
* rails g scaffold post title:string body:text
* echo "gem 'pg'" >> Gemfile & bundle
* set up database.yml
[code]
* rake db:create db:migrate
* Change models/post.rb to:
[code]

* Change test/models/post_test.rb to:
[code]
* Run `rails test test/models/post_test.rb` until you see the error (Should be less than 20 times.. so may

[2016-06-30 09:43] jfornoff opened #25592 "ActiveRecord::Base#save sets Timestamps more accurately than #find"
Hi there!

### Steps to reproduce

![activerecord_timestamp](https://cloud.githubusercontent.com/assets/1319818/16484099/c036e14e-3eb7-11e6-8561-ebfd5d1e3da1.jpg)

Example app with failing test caused by the issue: https://github.com/jfornoff/AR_timestamps/blob/master/test/models/post_test.rb

### Expected behavior
updated_at timestamp value returned by ActiveRecord#save should equal timestamp val

[2016-06-30 10:54] rosenfeld commented on #25581
Ok, I was finally able to track down what is causing the problem. The response being created is the regular one rather than the live version because `make_response!` is not being called from the Live module. It works if I include Live directly in the controller but this is how my controllers handle streaming:

[code]

And StreamingSupport is defined as:

[code]

If I move that `include ActionContr

[2016-06-30 12:57] voxik opened #25593 "[ActionCable] remove lib/assets/compiled/action_cable.js"
### Steps to reproduce
Looking into ActionCable gem, there is packaged `lib/assets/compiled/action_cable.js`. I might missing something important, but it looks this file is used just for NPM repository and RoR itself does not use it at all. I believe that the file is included in the ActionCable gem just by accident and therefore I propose to exclude it from the package.

### Expected behavior
`lib

[2016-06-30 13:03] drewhamlett opened #25594 "Postgres JSONB column is returned as string instead of hash in Rails 5 RC2"
### Steps to reproduce
Running Rails 4.2.4.
Upgraded to Rails 5 RC2
Dropped and recreated the database.
All tests that use JSONB column are failing because column is not being serialized into a hash anymore.  Coming back as a plain string.  I have been unable to find any information on the internet about this.  schema.rb file shows that the column is jsonb.

## Edit
I looked at this issue some mor

[2016-06-30 13:22] crackedmind opened #25595 "Unexpected behaviour using .group(:enum_field).count for postgresql adapter"
### Steps to reproduce

[code]
But if i change adapter to mysql2 or sqlite3 everything work as expected

### Expected behavior
[code]
### Actual behavior
[code]

### System configuration
**Rails version**: 5.0.0.rc2

**Ruby version**: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]

[2016-06-30 14:04] fxn commented on #25525
I need to write a guide about the init process.

When the body of the application class is executed, configuration is set as a side-effect. Autoload paths are set in [an initializer](https://github.com/rails/rails/blob/bb9a4f3f6daafb0089c068522dec0380e68d7fcd/railties/lib/rails/engine.rb#L565) taking the configuration into account, and initializers run after *config/application.rb* and the corresp

[2016-06-30 14:09] fxn commented on #25525
Correction: no, at that point the directory *app/middlewares* is still not in `$LOAD_PATH` because that is also done in [an initializer](https://github.com/rails/rails/blob/bb9a4f3f6daafb0089c068522dec0380e68d7fcd/railties/lib/rails/engine.rb#L553).

[2016-06-30 15:27] tenderlove commented on #25581
@rosenfeld if you put `extend ActiveSupport::Concern` in the `StreamingSupport` module, it should work.  We changed `Live` to be a concern, so that should clear it up.

[2016-06-30 16:02] rosenfeld commented on #25581
That makes sense. I guess another alternative would be using an "included" hook in the module so that I can include it directly in the controller.

In any case we can simply close this issue if we think I'm the only one taking this approach or we could add some note to the changelog in case someone else would be interested in knowing about this. This was tricky for me because it only happened in t

[2016-06-30 16:51] eileencodes commented on #25581
@rosenfeld can you add it to the upgrade guide under the upgrading to Rails 5 guide? https://github.com/rails/rails/blob/master/guides/source/upgrading_ruby_on_rails.md#upgrading-from-rails-42-to-rails-50

and in the release notes under ActionPack? https://github.com/rails/rails/blob/master/guides/source/5_0_release_notes.md#notable-changes-1

Thanks!

[2016-06-30 16:55] rafaelfranca commented on #25593
It is used by Rails. `lib/assets/compiled` is at the sprockets load path and when people does `//=require action_cable` that file is what is being used.

[2016-06-30 16:55] #25593 closed

[2016-06-30 16:55] rosenfeld commented on #25581
Sure, will do. I'll close this issue for the time being and will create the PR later today.

[2016-06-30 16:55] #25581 closed

[2016-06-30 17:14] rsmything commented on #25529
can't reproduce after update

[2016-06-30 17:14] #25529 closed

[2016-06-30 17:17] cmendla-cct commented on #25557
[untitled1.zip](https://github.com/rails/rails/files/341966/untitled1.zip)

If you run this project and go to http://localhost:3000/examples, you will see a blank page. However, if you delete line 26  in untitled1\app\views\examples\index.html.erb which is <% # TODO testing %> with no spaces or other characters after the %> you will then see

Listing Examples
New Example

This shows that an inject

[2016-06-30 17:52] rosenfeld commented on #25581
Done creating the PR's

[2016-06-30 17:57] voxik commented on #25593
Ah, ok ... should improve my searching skill then. Thank you and sorry for the noise.

[2016-06-30 18:24] rafaelfranca commented on #25593
No problem. It is not easy to search though. This is an implicit behavior of sprockets with engines so not so easy to gasp only looking the rails source.

[2016-06-30 18:36] benoitongit opened #25610 "÷"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2016-06-30 19:50] #25610 closed

[2016-06-30 20:07] Baril27 commented on #23413
Is there a branch that contains #23666 that isn't master. Or is waiting for a 4.2.7 release the best option?

[2016-06-30 22:22] tinco opened #25613 "ActionCable does not close its hijacked I/O socket"
### Steps to reproduce

1. Start a web server using Phusion Passenger that opens a websocket connection
2. Refresh the page a few times

### Expected behavior
There should never be more than 1 concurrent session when you run `passenger-status`. And when you close the website there should be 0.

### Actual behavior
Sessions are leaked. The amount of open sessions will steadily increase.

### System

[2016-06-30 22:26] Kache opened #25614 "railties v4 - Rails::Generators::Base is missing `require 'rails/generators'` declaration"
### Steps to reproduce
[code]

https://github.com/rails/rails/blob/v4.0.13/railties/lib/rails/generators/base.rb#L307

### Expected behavior

files are loaded:

[code]

### Actual behavior

exception raised b/c dependency not being required

### System configuration
**Rails version**:

[https://github.com/rails/rails/blob/**v4.0.13**/railties/lib/rails/generators/base.rb#L307](https://github.com/r

[2016-06-30 22:27] rafaelfranca commented on #25614
Does this happen with 4.2?

[2016-06-30 22:29] rafaelfranca commented on #25614
Oh, you need to require the top level files before starting to use something. So make sure you required `rails/generators` before requiring `'rails/generators/active_record/migration/migration_generator'`

[2016-06-30 22:29] #25614 closed

[2016-06-30 22:33] Kache commented on #25614
Oh, it's intended to not require its own dependencies?

[2016-06-30 22:34] rafaelfranca commented on #25614
Yes. all shared dependencies are in the top level files

[2016-07-01 00:37] ignatiusreza commented on #25525
The main issue here is not about auto-reloading middleware, it's okay for it to not be reloadable, but it's about not being able to do `config.middleware.use Unicorns` in `application.rb` -- which would raise const missing, even though we can do so in the corresponding overrides for the environment, e.g. `environments/development.rb` -- which would continue just fine, and is the easier solution co

[2016-07-01 01:05] maclover7 commented on #25613
Closing in favor of #25615.

[2016-07-01 01:05] #25613 closed

[2016-07-01 02:55] jprince opened #25617 "Deprecation warning when comparing equality between ActionController::Parameters"
### Steps to reproduce

On my project I've defined the following method to convert the keys of a hash or ActionController::Parameters, or recursively convert the keys of an array of hashes or ActionController::Parameters, to snake case. This method is called on parameters that are passed from the javascript client:

[code]

I'm then testing this method, using rspec, which is generating a deprecati

[2016-07-01 03:14] rafaelfranca commented on #25617
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_master.rb?

[2016-07-01 04:16] Edouard-chin commented on #25557
You can resolve your issue by modifying so:
[code]
But IMHO it's a small bug that could be fixed:

`<% %>` Tells ERB to execute ruby, which in your case is a ruby comment. What happens is when the templates gets [compiled](https://github.com/rails/rails/blob/master/actionview/lib/action_view/template.rb#L283), the resulting value of the variable `code` is something looking like this:

[code]

The

[2016-07-01 04:22] jprince commented on #25617
@rafaelfranca here you go:
[code]

![image](https://cloud.githubusercontent.com/assets/3384090/16511775/e79024ac-3f21-11e6-94a8-328fded551ec.png)

[2016-07-01 04:28] rafaelfranca commented on #25617
Could it be reproduced without rspec? I want to remove all things that may be causing this.

[2016-07-01 04:31] rafaelfranca commented on #25557
@Edouard-chin nice investigation! Do you see any way to fix this behavior?

[2016-07-01 04:49] Edouard-chin commented on #25557
Thanks! ❤️
Sure, I'll open a PR, I believe it will be easier for you to comment on it.

[2016-07-01 05:22] matthewd commented on #25617
The comparison that's complaining is the internal one, for the nested hash. `val[k]` returns an ActionController::Parameters instance, so `val[k.underscore] = deep_snake_case_params!(v)` writes an AC::Params back into the underlying hash.

It's that one that's then complaining, because it ends up involved at a point where both sides of the comparison are expected to be Hash.

I'd say AC::Params#[]

[2016-07-01 07:25] aranair commented on #25595
Hi, I had a quick look and have a few thoughts on where its happening, and was wondering if I could have a go at this? (that is if `{'high' =>}` is indeed the expected behaviour)

[2016-07-01 07:28] rafaelfranca commented on #25595
No it is not. enum are mapping to integers in the database. `group` and `count` are database operations that doesn't know anything about the model and how it is defined. The correct behavior is to it return integers like it is doing right now.

[2016-07-01 07:57] aranair commented on #25595
So its meant to have a different behaviour across the different adapters?

[2016-07-01 08:54] pixeltrix commented on #25428
@Dbz you're not really comparing the right things here - you're converting the date to an instance of `Time` which only really has UTC and local time, whereas `Time.zone.parse` is an `ActiveSupport::TimeWithZone` instance which supports arbitrary timezones. The `Time.use_zone` method only affects the setting for the latter and not the system timezone. There's a method called `in_time_zone` on `Dat

[2016-07-01 08:54] #25428 closed

[2016-07-01 10:25] simpl1g commented on #24968
Same for me in helper specs in rspec, trying to migrate to Rails 5.0.0.rc2 with rspec master

[2016-07-01 11:32] dopykuh commented on #24827
Anybody a solution for this? It also appears in released version.

[2016-07-01 12:07] kannannadarajan opened #25622 "Could not find proper version of railties (4.2.6) When doing rails -v"
### Steps to reproduce

Just installed ruby 2.3.1 via rvm and made it as default. Then installed rails. After installation just checked the version and shows the following message.

$ruby -v
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

$ rails -v
Could not find proper version of railties (4.2.6) in any of the sources
Run `bundle install` to install missing gems.

### Expected beha

[2016-07-01 12:08] sgrif commented on #25594
This is the expected behavior. `"{}"` is a valid JSON value.

[2016-07-01 12:08] #25594 closed

[2016-07-01 12:10] drewhamlett commented on #25594
Hey @sgrif Thanks for getting back.  We have noticed that there is a regression from Rails 4 to 5 with migrations.

These behave differently in Rails 5, where is in Rails 4 they all get set to {} in Postgres.
[code]

[2016-07-01 12:12] sgrif commented on #25594
The behavior of

[code]

in 4.2 was a bug, not intended behavior.

[2016-07-01 12:13] drewhamlett commented on #25594
Ok.  Thanks for your help!

[2016-07-01 12:14] sgrif commented on #25594
See efaa6e4f for more reasoning

[2016-07-01 12:16] sgrif commented on #25622
What is the value of `which rails`? Is it `bin/rails`? If so, this is what you'd expect to see, as it's using the Gemfile for your current directory. If not, can you give exact steps to reproduce (e.g. the console commands that you executed for this)

[2016-07-01 12:50] nickpoorman commented on #25594
This should probably be mentioned somewhere in the upgrade guide as most of the tutorials out there tell you to use the string version:

e.g.`add_column :users, :meta, :jsonb, default: '{}'`.

There's going to be a lot of people wondering why their migrations are breaking.

[2016-07-01 12:58] mackwic commented on #25127
Can confirm, the bug is fixed on 4.2.6 with ruby 2.3.1

[2016-07-01 13:33] sgrif commented on #25594
Yes, it should have been added. Feel free to open a PR if not.

On Fri, Jul 1, 2016, 2:51 PM Nick Poorman <notifications@github.com> wrote:

[2016-07-01 15:09] drewhamlett commented on #25594
@nickpoorman Do you want to make a PR for this?

[2016-07-01 15:19] sognatore24431 opened #25627 "Rails 5 - Rails g migration"
*******_/gems/rb-inotify-0.9.7/lib/rb-inotify/watcher.rb:74:in `initialize': Invalid argument - Failed to watch
***_***/gems/activesupport-5.0.0/lib/active_support/locale": the given event mask contains no legal events; or fd is not an inotify file descriptor. (Errno::EINVAL)

[2016-07-01 15:29] kannannadarajan commented on #25622
Oh yes!

$ which rails
/usr/local/rvm/gems/ruby-2.3.1/bin/rails

[2016-07-01 15:30] #25300 closed

[2016-07-01 15:35] prakashmurthy commented on #25622
Looks like not all gems are installed; could you try running `bundle install` please?

[2016-07-01 15:40] kannannadarajan commented on #25622
Kannans-MacBook-Pro:BasecampPlus kannan$ rvm list

rvm rubies

=> ruby-2.0.0-p643 [ x86_64 ]
   ruby-2.2.4 [ x86_64 ]
 * ruby-2.3.0 [ x86_64 ]

# => - current
# =* - current && default
#  * - default

Kannans-MacBook-Pro:BasecampPlus kannan$ rvm use 2.3.0
Using /usr/local/rvm/gems/ruby-2.3.0
Kannans-MacBook-Pro:BasecampPlus kannan$ rvm install 2.3.1
Warning, new version of rvm available '1.27.0',

[2016-07-01 15:48] kannannadarajan commented on #25622
I haven't created any application so for just curious to see the rails version in my screen.
In this case I cant run bundle install

[2016-07-01 16:48] prakashmurthy commented on #25622
I tried the same steps on my machine ( `rvm install 2.3.1`; `gem install rails`), and am getting the expected out put for `rails -v`.

This seems to be more of an issue with your rvm/bundler setup. https://github.com/rails/rails/issues/24926#issuecomment-217756875 might help.

[2016-07-01 16:58] connorshea opened #25629 "5.0 Upgrade Guide should include support dropping for rails-deprecated_sanitizer"
[`rails-deprecated_sanitizer`'s README](https://github.com/rails/rails-deprecated_sanitizer) says it will be supported until Rails 5.0, which is now released.

The [`activerecord-deprecated-finders` gem had a mention in the Rails 5 upgrade guide](http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#removed-support-for-activerecord-deprecated-finders-gem), shouldn't this get one too?

[2016-07-01 17:31] maclover7 commented on #25629
@connorshea Can you submit a PR to fix this?

[2016-07-01 17:38] connorshea commented on #25629
@maclover7 sure :)

[2016-07-01 17:44] rbrownejr opened #25630 "config.force_ssl ignores hsts preload option"
### Steps to reproduce
In your conf/environments/production.rb set config.force_ssl = true and set config.ssl_options = { hsts: {expires: 15552000, subdomains: true, preload: true} }

Launched app in production mode and did a curl -v https://mydomain.com.

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-repo

[2016-07-01 18:38] Dbz commented on #25428
@pixeltrix No problem! I'm just trying to help. Thank you for the plethora of examples. I hope that I can contribute to Rails in the future.

[2016-07-01 20:37] devonestes opened #25636 "Bug with AR::Base#count when passing params to count"
### Steps to reproduce

Here's a gist with the reproduction script: https://gist.github.com/devonestes/369857bc5459f0771fcd5b0e63bb863d

### Expected behavior
I expect models that inherit from ActiveRecord::Base to be able to accept a hash of options when calling `.count`.

### Actual behavior
I get a malformed SQL string: `SELECT COUNT({:author_type=>"Dude", :author_id=>1}) FROM "posts"`

### Sys

[2016-07-01 20:38] matthewd commented on #25636
That hasn't been true since Rails 2.3.

[2016-07-01 20:39] #25629 closed

[2016-07-01 20:40] devonestes commented on #25636
@matthewd I would tend to agree with you, but my upgrade today - and the reproduction script I attached - seem to be showing different results.

[2016-07-01 20:43] matthewd commented on #25636
@devonestes you have a reproduction script, on some 3.x or 4.x version, that supports this? :confused:

The "That" I was referring to was your expectation, not the described behaviour (which is what I expect).

[2016-07-01 20:46] rafaelfranca commented on #25636
This working differently in Rails 4 is probably because of activerecord-deprecated_finders that provided the similar feature.

[2016-07-01 20:51] devonestes commented on #25636
@matthewd I've updated the reproduction script to show that it does indeed work in 4.2.3: https://gist.github.com/devonestes/369857bc5459f0771fcd5b0e63bb863d

[2016-07-01 20:53] devonestes commented on #25636
Sounds like this is expected behavior, but we didn't really get a deprecation warning (or at least I didn't see any in 4.2.3). Maybe the upgrade path can be a little more explicit for users? I have to admit, this one was a head scratcher for me this morning!

[2016-07-01 20:55] rafaelfranca commented on #25636
Does it work or just it ignores the arguments? Have you tried 4.2.6 to see if the deprecation happens?

[2016-07-01 20:58] emmby opened #25637 "activesupport 5.0 no longer installs on osx el capitan due to ruby 2.2.2 dependency"
### Steps to reproduce

[code]

### Expected behavior
Should be able to install activesupport on a mac without introducing a new version of ruby.

### System configuration
**Rails version**:
N/A

**Ruby version**:
ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin15]

### Workaround
Installing activesupport 4.2.6 instead of 5.0.0 works fine:
[code]

[2016-07-01 21:01] rafaelfranca commented on #25637
Yes, this is by design. Rails 5 only support ruby greater of equal to 2.2.2

[2016-07-01 21:01] #25637 closed

[2016-07-01 21:02] devonestes commented on #25636
Looks like it does just ignore the arguments... I see the following SQL logging when I run the script:

[code]

I also tried in 4.2.6 and saw nothing about deprecation of that feature... Here's the total output:

[code]

[2016-07-01 21:03] maclover7 commented on #25585
Can you try and do a `git bisect` to figure out where this behavior was introduced?

[2016-07-01 21:08] rafaelfranca commented on #25636
Yes, you should be able to see a deprecation.

[2016-07-01 21:12] matthewd commented on #25636
@RF to be clear, per the milestone, we're saying there's a deprecation missing from **4.2**, right? And it's fine for 5.0 to stick with the straight failure?

[2016-07-01 21:15] maclover7 commented on #25568
Hmm, are you using RSpec in your tests above? Calling `get '/', protocol: :https` doesn't appear to be supported through Rails' `ActionDispatch::IntegrationTest` -- this might be supported through some `rspec-rails` helpers.

[2016-07-01 21:17] maclover7 commented on #25542
Can you open up a PR for this, and we can continue the discussion there? Thanks!

[2016-07-01 21:22] rafaelfranca commented on #25636
Yeah, 5.0 should with the failure and 4.2 should show the deprecation. We are not adding a new deprecation we are only fixing a bug that make it not being printed.

[2016-07-01 21:22] devonestes commented on #25636
That makes sense - hopefully other's won't be as confused as I was. Thanks for helping!

[2016-07-01 21:24] maclover7 commented on #25627
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing, or provide more of the backtrace?

[2016-07-01 22:59] Dbz commented on #25428
@maclover7 Thank you as well for your time in reviewing this and going over it!

[2016-07-01 23:10] prakashmurthy commented on #25347
Tried reproducing this behavior with a demo app; could not reproduce the buggy behavior. The join tables can be updated and deleted as per normal expectation.

The demo app is at https://github.com/prakashmurthy/join_table_issue_demo

Tried with both **5.0.0** and **5.0.0.rc1**.

**Ruby version:** ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

Not sure what I am missing....

[2016-07-02 00:14] rafaelfranca commented on #25595
No, all adapters should behaves in the same way. If mysql is working differently from postgresql we should fix.

[2016-07-02 01:16] rafaelfranca commented on #24827
Can you please provide a sample application that reproduces the error?

[2016-07-02 01:59] rafaelfranca commented on #25630
This is not supported in Rails 4.2 yet. But it is supported in Rails 5.0

[2016-07-02 01:59] #25630 closed

[2016-07-02 02:03] rafaelfranca commented on #25622
Yes, this seems to be a problem with rvm

[2016-07-02 02:03] #25622 closed

[2016-07-02 03:41] #25127 closed

[2016-07-02 05:06] hw676018683 opened #25641 "Can't get value of cookies in test file"
### Steps to reproduce
I write tests for session_helper，the method is like:
[code]
but in session_helper_spec:
[code]

### System configuration
**Rails version**: 5.0.0

**Ruby version**: 2.2.3

[2016-07-02 07:10] #25219 closed

[2016-07-02 08:35] electrodem commented on #25627
I created a test application api without any additional gems......

I have that problem with:

rails g migration
rails g model
rails g scaffold

Full stack:

/home/user/.rvm/gems/ruby-2.2.2/gems/rb-inotify-0.9.7/lib/rb-inotify/watcher.rb:74:in `initialize': Invalid argument - Failed to watch "/home/user/.rvm/gems/ruby-2.2.2/gems/activesupport-5.0.0/lib/active_support/locale": the given event mask

[2016-07-02 09:45] madmax commented on #24093
Any news on merge fix into 5.x?

[2016-07-02 09:56] bquorning commented on #24093
@madmax #24099 is in the 5.0.1 milestone. So I don’t imagine 5.0.1 will be released without this bug being fixed.

[2016-07-02 10:02] jeroenvisser101 commented on #25568
Ah, so it's `params: { protocol: :https }` for Rails 5? That's great, thanks!

[2016-07-02 10:03] jeroenvisser101 commented on #25568
BTW: Can you do this with HTTP Headers too?

[2016-07-02 10:04] vipulnsward commented on #25568
@jeroenvisser101 yes http://guides.rubyonrails.org/testing.html#setting-headers-and-cgi-variables
I believe, we can give this a close then?

[2016-07-02 10:06] madmax commented on #24093
@bquorning thanks :)

[2016-07-02 10:07] jeroenvisser101 commented on #25568
Yes! Thank you so much, and congratulations on the 5.0 milestone, great work of all of you 👍

[2016-07-02 10:07] #25568 closed

[2016-07-02 10:38] alexpetroni opened #25648 ""Getting Started" guide commands for migration / routes"
### Steps to reproduce
On 5 Getting Up and Running wrote: run  $bin/rails routes
Result "Error: Command 'routes' not recognized"

Should be $bin/rake routes

On 5.5 Running a Migration wrote: run $ bin/rails db:migrate
Result: Command 'db:migrate' not recognized

should be $bin/rake db:migrate

I am new on Rails and trying to learn using this guide.

### System configuration
**Rails version**: 4.2

[2016-07-02 10:48] kannannadarajan commented on #25622
@prakashmurthy and @rafaelfranca Thank you for pointing me the issue.
Earlier my rvm version was 1.26.11, just updated it to 1.27.0, then reinstalled ruby 2.3.1 now everything seems fine. Very eager to use R5 for our new product.

[2016-07-02 11:43] alexhanh opened #25649 "actioncable npm package seems broken"
### Steps to reproduce

Goto https://tonicdev.com/npm/actioncable and hit run.

I've also tried locally by running `npm install actioncable --save` and then `require('actioncable')` which gives `action_cable.js:4 Uncaught TypeError: Cannot set property 'ActionCable' of undefined`.

### Expected behavior
Should run without errors.

### Actual behavior
`ReferenceError: Cable is not defined` and `act

[2016-07-02 11:44] prathamesh-sonpatki commented on #25648
Rails guides are released with every major release of Rails. The current guides at http://guides.rubyonrails.org/getting_started.html are for Rails 5.0 only and the command work in Rails 5.

As you are using older Rails version, please use http://guides.rubyonrails.org/v4.2/getting_started.html.

Thanks 💚

[2016-07-02 11:44] #25648 closed

[2016-07-02 11:45] prathamesh-sonpatki commented on #25649
r? @maclover7

[2016-07-02 11:46] prathamesh-sonpatki commented on #25641
You method is assigning `cookies.permanent.signed[:remember_tokens]` and you are fetching `cookies.signed[:ns_remember_tokens]`. The name of the cookie that is being fetched is different.

I am giving it a close. Please provide a sample application if the issue persists and I will reopen.

Thanks 💚

[2016-07-02 11:46] #25641 closed

[2016-07-02 12:13] sevenseacat commented on #25649
I think this is missing a lot of info before it can be useful

[2016-07-02 12:26] alexhanh commented on #25649
Further info: seems like `require('actioncable')` gives errors, but `<script src="node_modules/actioncable/lib/assets/compiled/action_cable.js"></script>` is working.

[2016-07-02 12:39] alexhanh commented on #25649
Here's a repo that demonstrates this issue https://github.com/alexhanh/actioncable-npm-require-error

[code]

[2016-07-02 13:59] maclover7 commented on #25649
Investigating -- thank you for reporting!

[2016-07-02 14:11] maclover7 commented on #25649
Hmm, can you try and reproduce this with v5.0.0 of the `actioncable` npm package? The tonicdev.com page you are linking above is testing with 0.1.1.

<img width="982" alt="screen shot 2016-07-02 at 10 10 14 am" src="https://cloud.githubusercontent.com/assets/3020626/16540759/544f813e-403d-11e6-83ac-c8b2428d444e.png">

[2016-07-02 14:17] alexhanh commented on #25649
@maclover7 Ooops, good catch. See https://github.com/alexhanh/actioncable-npm-require-error

[2016-07-02 15:08] qiheme opened #25651 "Generators not working without Spring starting"
### Steps to reproduce
1. In the terminal, create a new rails 5.0.0 project `rails new <project_name>`
2. Try to generate a new model or controller with the `rails generate` command in the terminal: `rails generate model <model_name>` or `rails generate controller <controller_name>`

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_ra

[2016-07-02 16:24] krzysiek1507 opened #25653 "AR causes stack level too deep when joining tables"
### Steps to reproduce
[code]
### Expected behavior
Should work same as in AR4.2.6 (I hope).
[code]

### Actual behavior
Raises
[code]

### System configuration
**Rails version**: 5.0.0

**Ruby version**: 2.2.4

[2016-07-02 16:30] krzysiek1507 commented on #25653
Related to #18109

[2016-07-02 16:34] krzysiek1507 opened #25654 "Scope raises error when array is passed as argument"
### Steps to reproduce

[code]
### Expected behavior

It returns comments for `post_ids` passed as argument
### Actual behavior

Raise

[code]
### System configuration

**Rails version**: 5.0.0

**Ruby version**: 2.2.4

[2016-07-02 16:37] sb8244 opened #25655 "Can't copy paste from action mailer documentation"
### Steps to reproduce

* Go to http://edgeguides.rubyonrails.org/action_mailer_basics.html#previewing-emails
* Copy the first code snippet

![image](https://cloud.githubusercontent.com/assets/1231659/16541462/8c04db92-4051-11e6-8ec0-59368f302ea1.png)

* Paste it into rails console (see error)
* Remove all leading spaces from the copy and paste it again (passes)

### Expected behavior
A class is c

[2016-07-02 17:18] sevenseacat commented on #25655
The edge guides are not for Rails 4.2.5 - they're for edge Rails.

If you want the guides for Rails 4.2.5, go here - http://guides.rubyonrails.org/v4.2/

[2016-07-02 17:29] sb8244 commented on #25655
I do understand that, but the spacing issues are invalid ruby independent of rails version. It's not a code issue, it's formatting.

[2016-07-02 17:33] sb8244 commented on #25655
This actually originated from copy pasting into a file and changing to what I needed. The previews unexplainably wouldn't show up and would give that error the first refresh. It seems that the spaces might not be valid on all machines

[2016-07-02 18:59] alextaylor000 commented on #25654
I get the same behaviour when running the test case above.

I also ran it against activerecord 4.2.6 and the test case passes.

[2016-07-02 19:41] javan commented on #25649
It looks like `actioncable-5.0.0.gem` was not released with the latest compiled version of `action_cable.js` so it's missing proper module support added in https://github.com/rails/rails/pull/25119 and perhaps other changes too. [Here's the full diff against a freshly compiled `action_cable.js`](https://gist.github.com/javan/6d17410377f9802f5e86b46fbd20bf47). Much of it is a change indentation cha

[2016-07-02 20:02] alextaylor000 commented on #25654
Did a quick `git bisect` and it looks as if [this commit](5e0b555b453ea2ca36986c111512627d806101e7) introduced the regression. The array is getting destructured when executing the proc where previously it was not.

[2016-07-02 21:35] htanata commented on #25537
I think this only happens when `inspect` is used. It will eventually call [ActiveRecord::Relation#inspect](https://github.com/rails/rails/blob/v5.0.0/activerecord/lib/active_record/relation.rb#L682-L687):

[code]

Maybe it's better if `inspect` only query the needed records since it only displays the first 10 records?

Something like this:

[code]

I can create a pull request if this solution is a

[2016-07-02 21:51] vipulnsward commented on #25453
I am not sure if this is a Rails bug. AFAIC tell, we properly process if we get a value from input.
This works as expected https://gist.github.com/vipulnsward/2417dc577f4773471ce6909b0ac3f4a7 .

Problem I see is you are not getting value from `DateTime.strptime("1464559200000","%Q")` on two difference systems. Can you confirm if that is the case? Or they both do provide values, but Rails is ignori

[2016-07-02 22:34] vipulnsward commented on #25655
@sb8244 I believe we can give this a close, since its not a Rails issue.

[2016-07-02 23:05] sb8244 commented on #25655
@vipulnsward is the documentation a part of rails/rails or is there another place I can report there?

As a user of rails, I would expect documentation code snippets to be copy pastable and runnable in Ruby. I'm not sure if the problem is systemic to the styling of edge doc code snippets, but there is definitely something amiss here. Even if I copy in the "plain text" styling [1], it is not compat

[2016-07-02 23:14] sb8244 commented on #25655
I took the documentation and put it through https://r12a.github.io/apps/conversion/ to see what is going on. I see that the spaces are actually \u00A0. Is this a ruby compatible character for spaces?

[code]

When I remove the spaces in sublime, re-tab it, and then put it through the converter, I get the following:

[code]

I tested this out a bit more and noticed that I *can* get a correct copy p

[2016-07-02 23:23] prakashmurthy commented on #25655
I tried to reproduce the issue locally and wasn't successful at that. I am on a macbook and tried with Chrome, Safari, and Firefox browsers; worked fine in each case.

I agree with Vipul this issue should be closed as it is not caused by rails repository, but most likely a browser quirk.

[2016-07-02 23:31] sb8244 commented on #25655
I have been able to recreate this issue on safari and chrome on OSX. Here is a gif of Safari:

![failure](https://cloud.githubusercontent.com/assets/1231659/16542953/6b718cd8-408b-11e6-82bd-d6955742c3d0.gif)

Here is a gif on Chrome + I show how it can work properly at the end

![failurechrome](https://cloud.githubusercontent.com/assets/1231659/16542961/9b05d9a4-408b-11e6-8a39-d25f669262d9.gif)

[2016-07-02 23:32] vipulnsward commented on #25655
I see the issue now, let me see what we do about it.

[2016-07-03 01:39] will-in-wi opened #25660 "What does "PG" mean in AR::Attributes documentation?"
In http://api.rubyonrails.org/classes/ActiveRecord/Attributes/ClassMethods.html, it has the following line:

What does PG mean? I can't find any reference to the initials anywhere else. My best guess is that the `array` param only applies to attributes which are not backed by a database column.

I'm happy to make a PR to clarify the docs if someone would explain it to me.

Thanks!

[2016-07-03 01:40] will-in-wi commented on #25660
Appears to have been introduced in 8c752c7a. @sgrif

[2016-07-03 01:48] will-in-wi commented on #25660
Ah, Postgres? I haven't had the opportunity to use it, so it didn't spring to mind. I'll throw together a doc PR to clarify.

[2016-07-03 01:59] #25660 closed

[2016-07-03 02:12] brandonhilkert opened #25662 "Functional testing guides reference to @controller"
### Steps to reproduce

The functional test guides reference having access to `@controller`, `@request`, and `@response`.

<img width="496" alt="screen shot 2016-07-02 at 10 11 08 pm" src="https://cloud.githubusercontent.com/assets/744212/16543428/e891c460-40a1-11e6-8783-e4ef61f39eeb.png">

However the the majority of the section references to using Integration tests for controller tests, which I

[2016-07-03 04:53] vipulnsward commented on #25662
Fixed in https://github.com/rails/docrails/commit/5324665e9f8a6104c79c7798b3e264db2b42c6d7

http://take.ms/4baJj

[2016-07-03 04:53] #25662 closed

[2016-07-03 06:25] state-phasive commented on #24827
I'm having the same issue.  It only reproduces if I do the following:

1. Generate an API project.
2. In controllers, add folder named 'v1'
3. Create controller 'user_controller.rb' in '/app/controllers/v1'
4. Add the following code:
`module V1
   class UserController < ApplicationController
      def do_something
         render json: { success: false }, status: :ok
      end
   end
end`
5. Add t

[2016-07-03 06:55] state-phasive commented on #24827
Once I added a header of:  `Content-type': 'application/json'`
It was able to get past the error.

[2016-07-03 10:05] aranair commented on #25595
Sure, I'll dig abit and have a shot at it then, thanks!

[2016-07-03 10:32] daniel-rikowski opened #25664 "number_to_human tries to use larger units than provided"
### Steps to reproduce

[code]

This should return "1000 kilometer", as it did in Rails 4.x. Instead it returns "1" (i.e. no unit) in Rails 5

Runnable gist: https://gist.github.com/daniel-rikowski/3fb29004560fae2ab7c08ddc2df8c0ef
### Expected behavior

When `number_to_human` receives a list of units it should only use the units given and not larger ones.
### Actual behavior

Instead it tries to u

[2016-07-03 11:03] sgrif commented on #25660
We should probably say PostgreSQL explicitly. Feel free to open  a PR

[2016-07-03 11:15] prathamesh-sonpatki commented on #25660
Fixed in https://github.com/rails/rails/issues/25661

[2016-07-03 15:17] shaktik1989 opened #25666 "attr_accessor not accessible when using deliver_later"
### Steps to reproduce
When I try to send the email with deliver_later than on the email template attr_accessor is nil.

I am using devise_invitable to invite users to app, for that I want to add custom message on the email. so my code looks like this.
[code]

When I am using only deliver then message is displaying on mailer, but when I use deliver_later attr_accessor in nil on the mailer view.

#

[2016-07-03 16:33] madmax commented on #25454
Can somone look at my attempt to fix issue? I use subquery because calculating max updated_at column when you db can have lots of rows can be slow and if we only want for example 10 rows?

Also using max updated_at without limit and order can expire cache lot often that is needed.

[2016-07-04 00:18] prakashmurthy commented on #25664
Reproducible from the console:

#### Rails 4.2.5.2

    $ rails c
    Loading development environment (Rails 4.2.5.2)
    2.3.1 :001 > ActionView::Base.new.number_to_human(1_000_000, units: { unit: 'meter', thousand: 'kilometer' })
    => "1000 kilometer"

#### Rails 5.0.0

    $ rails c
    Loading development environment (Rails 5.0.0)
    2.3.1 :001 > ActionView::Base.new.number_to_human(1_000_0

[2016-07-04 01:50] maclover7 commented on #25664
Confirming based on a `git bisect` that 597a9276671f5d7884a0ee1a617656dd5ee4b0ea is the issue.

[2016-07-04 01:53] maclover7 commented on #25666
Hmm, this seems like a more devise_invitable specific question than a bug report. Please use the mailing list or StackOverflow for questions/help, or [devise_invitable](https://github.com/scambra/devise_invitable)'s issue tracker where a wider community will be able to help you. We reserve the issues tracker for Rails issues only.

[2016-07-04 01:53] #25666 closed

[2016-07-04 02:21] maclover7 commented on #25651
Hmm, can you post your full terminal backtrace from when you ran `rails new` to when the error started?

[2016-07-04 02:21] liukgg commented on #25537
@htanata ,yeah， it only happens when inspect is used, but I think it can be better for inspect.

[2016-07-04 04:27] grosser opened #25672 "ActionController::Live does not stream on rails 5"
[code]

+

[code]

-> no output from curl ... puts 1 shows in the server log though

on rails 5.0.0 / ruby 2.2.3 / puma 3.4.0

works fine on rails 4.2 (instant response header + streamed body)
no output on rails 5.0.0 ... no header and no streamed messages

trying to upgrade our repo here https://github.com/zendesk/samson/pull/972

only remaining issue for rails 5 ...

seeing the same behavior in

[2016-07-04 06:05] #25655 closed

[2016-07-04 06:09] fxn commented on #25655
The fix is in master and 5-0-stable. Should appear in edge docs soon, and in stable docs with 5.0.1.

[2016-07-04 06:44] DannyBen opened #25673 "Error ActiveRecord::Tasks::DatabaseAlreadyExists when running tests (Vagrant)"
### Steps to reproduce

- Use an Ubuntu 16 vagrant box, hosted on a Windows 10 host.
    - If you have Vagrant installed on Windows, simply use this [Vagrantfile] to load the box.
- Create a new rails app in the Vagrant shared folder:
    - `cd /vagrant`
    - `rails new hello`
    - `cd hello`
- Generate a controller: `rails g controller MoonLander index`
- Create the db schema file: `rails db:mi

[2016-07-04 07:28] h8rry opened #25674 "ActionCable.server.broadcast doesn't work in an ActiveJob"
### Steps to reproduce
1. Try using `ActionCable.server.broadcast ` in an ActiveJob

### Expected behavior

`ActionCable.server.broadcast ` should work inside an ActiveJob

### Actual behavior

It doesn't work. But, it works normally in controllers

### System configuration
**Rails version**: 5.0.0

**Ruby version**: 2.3.1

[2016-07-04 08:21] hw676018683 commented on #25641
Sorry, that is a typo.
I use rspec. In session_helper_spec, I use `helper.remember_me` to call #remember_me.
Using `helper.cookies.signed[:remember_tokens]` can get correct value.
Not `cookies.signed[:remember_tokens]`.

[2016-07-04 10:27] waghanza opened #25676 "Missing json in default Gemfile"
Hi all,

When I try to create a **new** project with last stable release  and to execute

[code]

I have

[code]

This error could be reproducible with
[code]

I'm using `ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]`.

[2016-07-04 10:32] matthewd commented on #25674
That may not be quite enough information.

[2016-07-04 10:32] #25674 closed

[2016-07-04 10:33] mahnunchik opened #25677 "Use the HOST environment variable for rails server"
Allow the server `host` to be set with the `HOST` environment variable. #21267

[code]

### System configuration
**Rails version**: Rails 5.0.0.rc1

**Ruby version**: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

[2016-07-04 12:48] voxik opened #25682 "DurationTest#test_iso8601_output_and_reparsing fails randomly"
### Steps to reproduce

It appears to fail randomly.

### Expected behavior

Test pass.

### Actual behavior
[code]

### System configuration
**Rails version**:
Rails 5.0.0

**Ruby version**:
Ruby 2.3.1

[2016-07-04 13:05] voxik opened #25683 "Some MemoryStoreTest fails randomly"
### Steps to reproduce

It seems that they fails just randomly.

### Expected behavior
The tests are always passing.

### Actual behavior
[code]

### System configuration
**Rails version**:
Rails 5.0.0

**Ruby version**:
Ruby 2.3.1

[2016-07-04 13:35] waghanza commented on #25676
I have to **manually** add the **gem** `json` in my `Gemfile`

[2016-07-04 14:27] maclover7 commented on #25672
Thank you for reporting this! Would you be willing to do a `git bisect` to figure out where this bad behavior was introduced?

[2016-07-04 14:41] prakashmurthy commented on #25673
Following the steps for reproducing the issue, I get the following error message:

[code]

This is a reasonable error message. Running `rails db:migrate` and then running `rake test` shows the expected output.

This was on OS X.

[2016-07-04 14:52] DannyBen commented on #25673
@prakashmurthy - what you see seems like the correct behavior, but its not what I see. In fact, I encountered the error after trying to migrate a working rails 4.2 app (without a database, but with its schema.rb generated) - so I went on to investigate if it also happens on a fresh rails 5 app.

To be sure, I ran `db:migrate` on the same test app, and still getting the broken behavior:

[code]

[2016-07-04 15:08] rafaelfranca commented on #25676
Which is your Linux distribution?

[2016-07-04 15:16] prakashmurthy commented on #25673
Seems more like a Vagrant/VirtualBox issue.

http://stackoverflow.com/questions/27359778/errnoetxtbsy-text-file-busy-unlink-internal be helpful.

[2016-07-04 15:33] DannyBen commented on #25673
1. Vagrant hasn't changed, Rails did....
2. Rails 4.x worked in the very same setup
3. Vagrant is a popular development platform

[2016-07-04 16:00] rafaelfranca commented on #25676
Cross posting from #25686:

I know that fedora doesn't build some default gems. json is included in Ruby 2.3.1 as you can see here https://github.com/ruby/ruby/tree/v2_3_1/ext/json. If it is a compiled version either rvm is not compiling ruby with json or there was a bug in the compilation.

[2016-07-04 16:21] rafaelfranca commented on #25673
Thank you for the report.

The only thing that Rails does is: `File.exist?(database_file)` and this is returning true. If the file system is returning true to a file that doesn't exist it is indeed a bug in the filesystem, or in vagrant.

Even that Rails have changed and Vagrant doesn't Rails is doing the right thing that is checking if the database exists before overriding it, so we can't conside

[2016-07-04 16:21] #25673 closed

[2016-07-04 16:36] prakashmurthy commented on #25651
What OS is this?

Looks like the space in `Google Drive` in the file path is causing the error; the script is trying to look for  `/Users/qiheme001c/Google` directory and throwing a `No such file or directory - /Users/qiheme001c/Google` message.

[2016-07-04 17:23] maclover7 commented on #25682
Can you please provide more information about how to reproduce this than "it appears to fail randomly."? 😬 😬  I haven't noticed this as being a flaky test on our CI system.

[2016-07-04 17:23] maclover7 commented on #25683
Same deal as https://github.com/rails/rails/issues/25682#issuecomment-230330815.

[2016-07-04 17:24] maclover7 commented on #25677
Can you open up a PR to add this, we can continue the discussion there. :)

[2016-07-04 17:36] maclover7 commented on #25672
Hmm, on a local test, [this reproduction script](https://gist.github.com/maclover7/043b3a2acadda29fb554ce1050ea768e) passes for me, and works fine.

Here's the output from when I run `curl`:

[code]

Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-07-04 17:47] ischuster commented on #23413
This is still happening in 4.2.7.rc1.

Will it be fixed for 4.2.7 ?

[2016-07-04 18:05] oyeanuj commented on #22515
@arthurn @dhh In the same spirit, would it make sense to have `after_create_save`, and `after_update_save`? As per #12502, it seems that one can't use `on:` key either to target logic in the `after_save` method to only a create/update?

[2016-07-04 18:41] mahnunchik commented on #25677
@maclover7 PR https://github.com/rails/rails/pull/25688

[2016-07-04 18:51] mrbongiolo opened #25689 "ActiveRecord 5.0.0 - HABTM failing when association name is the same as join table name"
### Steps to reproduce

[code]

[code]

[code]

On rails console:
[code]

### Actual behavior

It's raising:
[code]

This seems to be happening because the name of the association `:jobs_pool` is the same as the table join table name. If I change it to something else then it work as intended.

### System configuration
**Rails version**: 5.0.0

**Ruby version**: 2.3.1

[2016-07-04 19:43] mattbrictson commented on #25571
Hi, ran into the same problem with 4.0.0. It also affects 4.0.1, 4.0.2, and 4.0.3. It seems to be fixed in 4.0.4.

Here is the test case I used to reproduce the bug in 4.0.0-4.0.3: https://gist.github.com/mattbrictson/fc4a94b01627769c01348bbbd691fbbf

[2016-07-04 19:52] sonalkr132 commented on #25585
I need help writing script for it. Following gives `undefined method 'uses_transaction' for BugTest:Class (NoMethodError)`:
[code]

[2016-07-04 19:56] rafaelfranca commented on #25571
Right. But if it is fixed in 4.0.4 so it is already fixed. Thank you for reproduction script.

[2016-07-04 19:56] #25571 closed

[2016-07-04 19:57] mattbrictson commented on #25571
Yes, understood. I was just trying to help the OP by pointing to the version where it was fixed. Thanks for taking the time to review!

[2016-07-04 20:42] voxik commented on #25682
I am trying to update package for Fedora Rawhide, so I take the gem from RubyGems.org, add the test suite from the repository and execute the test suite via:

[code]

and that is the result I (sometimes) get.

These are the gems (all coming from Fedora packages) I am using to execute the test suite (I am not using Bundler at all):

[code]

and this is the Ruby:

[code]

BTW I just noticed that AS

[2016-07-05 00:41] qiheme commented on #25651
@prakashmurthy nice call, renaming the `Google Drive` directory to `Google_Drive` did the trick...although the Google Drive application wasn't too happy ¯\_(ツ)_/¯ thanks both for the assistance!

cc: @maclover7

[2016-07-05 01:46] grosser commented on #25672
yes, works on a clean example app ... must be some gems interfering, will update shortly

[2016-07-05 02:15] maclover7 commented on #25585
Hmm, can you try adding `include ActiveRecord::TestFixtures`? This along with some other items are required with Rails' default `test_helper` --> https://github.com/rails/rails/blob/master/railties/lib/rails/test_help.rb#L18

[2016-07-05 02:17] maclover7 commented on #25689
Did this work for you in previous versions of Rails?

[2016-07-05 02:20] maclover7 commented on #25682
👍 can you try adding in the depended upon `concurrent-ruby` version, and check to see if any other dependencies are missing? In order to properly test Active Support, please make sure you have the proper dependencies installed 😬.

Going to close this as a non-issue, but more of an environment setup issue. If the weird errors prevail after doing some environment tweaking, happy to reopen. :)

[2016-07-05 02:20] #25682 closed

[2016-07-05 02:29] mrbongiolo commented on #25689
@maclover7 Yes. This started to happen as I upgraded to 5.0, I has on latest 4.2.x and the same code worked without a problem.

[2016-07-05 02:31] maclover7 commented on #25689
👍 Just checking -- this helps us in figuring out where the problem here lies.

Would you be willing to do a `git bisect` between `4-2-stable` and `master` to figure out where this behavior was introduced?

[2016-07-05 02:32] maclover7 commented on #25672
👍 no problem, dependencies acting a little weird during major rails upgrades is expected :)

[2016-07-05 02:33] grosser commented on #25672
the winner is `active_model_serializers` 0.9.5 ... updating to 0.10.1 fixes it ... that was hard to find :D

not sure if anything can be done about old gems breaking rails ... already changed it's versioning policy so that newer versions rails are not automatically supported ... I'll close this ... hope it helps some other lost soul :D

[2016-07-05 02:33] #25672 closed

[2016-07-05 02:35] maclover7 commented on #25672
👍 thanks for opening! Marking as a third party issue.

[2016-07-05 02:56] kamipo commented on #25463
This jsonb issue is fixed by #25671.
But json type still need to cast explicitly like `SELECT "json_data_type".* FROM "json_data_type" WHERE "json_data_type"."payload" = '{"color":"green"}'::json LIMIT 1`.

[code]

[2016-07-05 05:04] alextaylor000 commented on #25653
It looks like the regression was introduced by 12e9e38.

[2016-07-05 08:03] waghanza commented on #25676
@rafaelfranca this command `echo "p 'foo'" | ./ruby-mri -rjson` should not be working, if **json** supported from fedora, no ?

[2016-07-05 09:21] voxik commented on #25682
Tested with the latest concurrent-ruby and no change :/

[2016-07-05 11:26] CodingItWrong opened #25697 "Title for Action Cable guide not detected on site or Kindle"
### Steps to reproduce

- Got to http://guides.rubyonrails.org/action_cable_overview.html and note the page title
- Download the Guides in .mobi format from guides.rubyonrails.org
- View them in the Kindle app for Mac or iOS.
- Find the Action Cable section in the Contents

### Expected behavior
Expected the page title to be "Action Cable Overview"
- Expected the Kindle Action Cable section to be

[2016-07-05 12:47] mrbongiolo commented on #25689
I can do that. Will try to take a look at it today or tomorrow.

[2016-07-05 13:41] maclover7 commented on #25697
Closing in favor of #25698.

[2016-07-05 13:41] #25697 closed

[2016-07-05 13:42] maclover7 commented on #25689
👍 thanks! If you can't get to it, let me know and I can take care of it.

[2016-07-05 13:43] maclover7 commented on #25653
cc @sgrif

[2016-07-05 13:49] kamipo commented on #25653
@k0kubun Can you take a look at this?

[2016-07-05 14:25] k0kubun commented on #25653
I guess this can be resolved in the same way as https://github.com/rails/rails/pull/25187 and only that direction can solve both problems. As you can see from the discussion in the PR, `scoping`(`current_scope`) itself is going to be removed and I guess the fix won't be done.

By the way, just curious, why do you do circular joins and refer to `current_scope`? I couldn't imagine the use case from

[2016-07-05 14:25] Hirtenknogger commented on #25471
+1 Same problem here. Puma doesn't start in ssl mode.
I have added this one to my puma.rb
[code]
and `rails s ` doesn't start puma in ssl mode. `puma -C config/puma.rb ` works just fine!!!

[2016-07-05 14:28] janwendt opened #25700 "Puma doesn't start in ssl mode"
I have added this one to my puma.rb

[code]

and `rails s` doesn't start puma in ssl mode.
`puma -C config/puma.rb` works just fine!!!

[2016-07-05 14:30] krzysiek1507 commented on #25653
@k0kubun don't ask why. :D I found this use case in some gem.

[2016-07-05 14:33] k0kubun commented on #25653
Ah, I see. It may be difficult to fix since it's caused in a gem. Sorry for the trouble and thank you for reporting it.

[2016-07-05 14:48] schneems commented on #25471
Works for me at https://github.com/codetriage/codetriage.

[2016-07-05 15:07] schneems commented on #25700
This is related to https://github.com/rails/rails/issues/24435 and https://github.com/puma/puma/issues/939.

Here is the issue. Puma favors config you pass in directly over config in your `puma.rb`. For example if you have

[code]

and you run

[code]

Then `5001` will win. Why does this matter? Rails allows you to run `$ rails server -p 5001` however it also specifies a default port of 3000 when

[2016-07-05 15:29] nbibler opened #25701 "ActiveSupport::TimeZone.strptime has an empty? for nil exception"
### Steps to reproduce

Parse an ActiveSupport::TimeZone using `strptime` with a malformed string.

[code]

Yields:

[code]

### Expected behavior

It should either raise a reasonable exception or return `nil`.

### Actual behavior

It raises a `NoMethodError: undefined method empty? for nil:NilClass`.

### System configuration
**Rails version**: 4.2.6, 5.0.0

**Ruby version**: 2.1.8, 2.3.1

[2016-07-05 15:38] k0kubun commented on #25653
Sent a patch to fix this issue. https://github.com/rails/rails/pull/25702
Please tell me if the branch does not solve your problem.

[2016-07-05 16:19] rafaelfranca commented on #25676
not saying that json is not supported but that the maintainer of the ruby package from fedora was complaining about our decision to use the built-in gems because fedora doesn't include the built-in gems, not sure if it is still the case. But if `echo "p 'foo'" | ./ruby-mri -rjson` is working to you so you should not get that error since json is there.

[2016-07-05 16:53] matthewd commented on #25585
Is `uses_transaction` necessary to reproduce the problem?

[2016-07-05 16:59] prakashmurthy commented on #25689
Created an executable Test Case to reproduce this behavior; confirming it works with `4.2.6` and fails with `5.0.0`.

<details>
 <summary><b>habtm_bug.rb: </b></summary>

[code]

</details>

[2016-07-05 17:54] krzysiek1507 commented on #25653
@k0kubun branch solves the problem.

[2016-07-05 18:09] prakashmurthy commented on #25701
Standard ruby version of `strptime` returns a `ArgumentError: invalid date` error message in such cases.

[code]

[2016-07-05 18:12] maclover7 commented on #25542
Closing, since #25704 was merged in.

[2016-07-05 18:12] #25542 closed

[2016-07-05 18:28] #24689 closed

[2016-07-05 18:49] marcamillion opened #25706 "Upgrading to Rails 5 from 5.0.0.rc2 gives Bundler "activesupport" error"
### Steps to reproduce

Run 5.0.0.rc2, with Ruby 2.3.0, Bundler 1.12.5 and attempt to run either `bundle update rails`, `bundle update` or `bundle install` after changing the Gemfile to `gem 'rails', '~> 5.0.0'` ofcourse.

### Expected behavior
It should update easily, along with all dependencies.

### Actual behavior

[code]

Or `bundle install`:

[code]

Or `bundle update rails`
[code]

I believ

[2016-07-05 18:54] maclover7 commented on #25706
Looks like `google-webfonts-rails` is the issue:

[code]

Closing as a third party issue 😬

[2016-07-05 18:54] #25706 closed

[2016-07-05 19:01] sonalkr132 commented on #25585
`git bisect` got me here https://github.com/rails/rails/commit/e92f5a99d6a6306d96b4c7dd8f96c2822f2f2c7b

No.

[2016-07-05 20:31] waghanza commented on #25676
However, I still have this error even with a fresh install on `Docker`.
I can't understand where the bug is

[2016-07-05 21:38] nbibler commented on #25701
ArgumentError would be fine. The current error is due to a coding problem / bug ([`parts.empty?`](https://github.com/rails/rails/blob/420730b10b46be7e40d806007bb28d3b17c7519f/activesupport/lib/active_support/values/time_zone.rb#L448-L450)) in ActiveSupport:

[code]

The exception coming out of ActiveSupport does not give an application developer any indication of the actual problem and loses the "

[2016-07-05 23:05] rafaelfranca commented on #25676
Not sure what is wrong but this doesn't seems to be an issue with Rails. It may be an issue with bundler/rubygems but if you ruby installation has json installed (and it should has) rails is doing to correct thing.

Are you able to reproduce this without Rails in the equation just with bundler and requiring json?
Are you able to reproduce this

[2016-07-06 07:40] waghanza commented on #25676
I am not able to reproduce this error

With

[code]

on fresh install

[code]

I have no error using `json` features.

[2016-07-06 11:16] marcinwyszynski opened #25711 "`head` not working with certain statuses"
### Steps to reproduce

Call `head` from the controller with one of the statuses `100..199, 204, 205, 304`.
### Expected behavior

`undefined method 'delete' for #<ActionDispatch::Http::Headers:0x0056361a5b7ba0>`
### Actual behavior

Return the correct HTTP status code.

The issue is that setting one of these statuses triggers [this code path](https://github.com/rails/rails/blob/4-2-7/actionpack/l

[2016-07-06 12:29] chenasraf opened #25712 "Unscoped messing up SQL query params in PostgreSQL adapter"
### Steps to reproduce
1. Access a model/relation

[code]
2. Use `unscope` to remove only some of the previous scope

[code]
3. Add where condition using one of the previously removed scope keys

[code]
4. Attempt to use model:

[code]

[code]

   Here's how it looks when trying to echo SQL:

[code]
### Expected behavior

Should output the full query and not raise error.
### Actual behavior

Fails

[2016-07-06 13:41] hedgesky opened #25715 "Possibility to limit available values for StringInquirer"
Wouldn't it be great if there is a possibility to limit available methods for instances of `StringInquirer`? Something like that:

[code]

From my point of view, it could help to immediately find typos in code if they occur.

[2016-07-06 14:06] marcalc commented on #25135
@sgrif I'm still having this problem. Would you be so kind to follow up on this?

[2016-07-06 14:14] prathamesh-sonpatki commented on #25711
Can you create a reproducible script using https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_gem.rb ?

Thanks!

[2016-07-06 14:33] maclover7 commented on #25711
@prathamesh-sonpatki We don't need a reproduction script -- the original description gives enough info.

@marcinwyszynski Can you open up a PR to add the `delete` method back in?

[2016-07-06 14:38] marcinwyszynski commented on #25711
@maclover7 Sure, I will. BTW I can't repro that with the script 😱

[code]

[2016-07-06 14:50] prathamesh-sonpatki commented on #25715
There is already an PR which is trying to add a similar feature - https://github.com/rails/rails/pull/20943.

Closing this in favour of the PR. Thanks @hedgesky!

[2016-07-06 14:50] #25715 closed

[2016-07-06 14:53] marcalc opened #25718 "has_many :through **validate=>false** not being obeyed during association update"
### Steps to reproduce
Bug report script attached

### Expected behavior
As per docs, when setting the option has_many :validate => false, the associated objects will not be validated when saving the object.

4.1.2.11 :validate

If you set the :validate option to true, then associated objects will be validated whenever you save this object. By default, this is false: associated objects will not be

[2016-07-06 15:01] marcinwyszynski commented on #25711
And, looking at the history as far back as `4.0.0`, `ActionDispatch::Http::Headers` never had a `delete` method.

[2016-07-06 15:12] rafaelfranca commented on #25711
Hmmm, if you can't reproduce in the script is very likely it is something in your application causing that behavior.

[2016-07-06 15:58] bluehallu opened #25719 "collection_singular_ids= crashes if a non-existing id is passed"
### Steps to reproduce

Have two models A B, where A has_many B. Open rails console with empty database, and run

A.create b_ids: [1,2,3]
### Expected behavior

ActiveRecordNotFound exception with a similar message as if you run A.find [1,2,3]

`ActiveRecord::RecordNotFound: Couldn't find all Bs with 'id': (1, 2, 3) (found 0 results, but was looking for 3)`
### Actual behavior

ActiveRecord gets n

[2016-07-06 17:20] rafaelfranca commented on #25719
How it works in Rails 4.2?

I guess it is the same behavior. Setting the ids should not trigger any finder logic, the ids should go straight to the database even if the records doesn't exist.

Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-07-06 18:25] danielterega opened #25722 "HABTM generates wrong join table name if models has similar prefix"
### Steps to reproduce

[code]

### Expected behavior
It should not raise an error.

### Actual behavior
It raising

[code]

### System configuration
**Rails version**: 5.0.0, also 4.2.6

**Ruby version**: 2.3.0

[2016-07-06 18:34] bluehallu commented on #25719
@rafaelfranca: are you sure? At the moment it does load those associated models. We're missing opportunity to run validations if it goes straight to database, plus it will produce foreign key violations. In my use case, the user is selecting on the UI from a checkbox list of possible associated records, then the UI submits that array as part of form. The problem is that if one of the options is de

[2016-07-06 18:40] rafaelfranca commented on #25719
Right, I'm just speculating 😄 . If you could provide a reproduction script it would be really useful.

[2016-07-06 18:56] bluehallu commented on #25719
There you go https://gist.github.com/bluehallu/32aa71baea5cb42b4a2a49720be08220

[2016-07-06 19:28] mrgilman commented on #25722
This is expected behavior:

http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#method-i-has_and_belongs_to_many

[2016-07-06 19:37] #25722 closed

[2016-07-06 19:37] bluehallu commented on #25719
Ignore those PRs, my bad. Working on a proper PR.

[2016-07-06 19:42] rafaelfranca commented on #25676
Try:

[code]

[2016-07-06 19:42] marcinwyszynski commented on #25711
@rafaelfranca Yes, that's a fair assumption to make. I'll investigate further.

[2016-07-06 20:25] michaeloboyle commented on #23978
I get a potentially related error after upgrade from 4.2.5.1 to 4.2.5.2

[code]

[2016-07-06 20:33] jrafanie commented on #25676
@waghanza I'm taking a guess... but if you want to use ruby from rpm, you need to use each of ruby/rubygems/bundler from rpm so they all work well together.

Therefore, you might have to add rubygem-bundler to your `dnf -y install ...` command instead of using `gem install bundler`.  I'd also remove the `gem update --system` since you'll be getting rubygems updates from rpm.

Possibly related: htt

[2016-07-06 20:44] mrgilman commented on #25718
I am not sure this is a bug. According to the [documentation](http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#method-i-has_many), the `:validate` option only applies to new records. Also, for `has_many`, the default is `true`.

[2016-07-06 21:29] marcalc commented on #25718
I'm a little confused too, @mrgilman. But thanks!

I just checked this behavior on activerecord-3.2.22 and it in fact worked like I've been expecting, so unless there is a deliberate change in this behavior, I'm inclined to think that this could be a regression.

Here is a gist of the same bug report using activerecord-3.2.22.

https://gist.github.com/marcalc/cc2f5b018498e6c44e12df0523dc3b9d

Than

[2016-07-06 22:10] #25585 closed

[2016-07-07 05:22] rafaelfranca commented on #25712
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-07-07 07:50] waghanza commented on #25676
@rafaelfranca this solution work on `debain` **sid**, `ubuntu` **xenial` and `fedora` 24. thanks

[2016-07-07 07:51] #25676 closed

[2016-07-07 07:57] Tietew opened #25732 "ERROR: bind message supplies 0 parameters, but prepared statement "" requires 1"
### Steps to reproduce

[code]

### Expected behavior (Rails 4.2.6)
All tests passed.

### Actual behavior (Rails 5.0.0 and master)
Test `test_fail` failed with following error. Bind values for `UPDATE` SQL should be `[12]`, but empty.

[code]

### System configuration
**Rails version**: 5.0.0 and master

**Ruby version**: 2.3.1

**PostgreSQL version**: 9.5.1

[2016-07-07 12:25] chenasraf commented on #25712
@rafaelfranca The problem seems to be inside the postgresql adapter, how would one use the adapter in the template test cases? It seems to be requiring me to create the database, unlike sqlite3 which works inline

[2016-07-07 13:42] fxgallego commented on #20752
I've made the following test:
In action_view\template\resolver.rb override initialize in OptimizedFileSystemResolver as
[code]
And in order to force template resolver cache in development without change another file I've added the following code after the caching class accessor definition:
[code]

I've done some simple tests like modify views, add and remove new partials and the FileSystemUpdater

[2016-07-07 13:49] rickyc commented on #25641
I'm running into the same issue. Created a [sample app](https://github.com/rickyc/rails-session-bug) with a test. It works on rails 4.2.6, however, it fails on rails 5.0.0.

Sorry for not splitting the commits 😞 , but the two files to look at are here.

https://github.com/rickyc/rails-session-bug/blob/master/session-bug-rails-5/app/controllers/application_controller.rb

https://github.com/rickyc/r

[2016-07-07 13:57] rickyc commented on #25641
It looks like you need to grab the cookies from the controller first.

[code]

[2016-07-07 14:01] schneems commented on #25448
Since the PR was (partially?) reverted going to re-open this issue.

[2016-07-07 14:07] rafaelfranca commented on #25712
To change the adapter in the template you only need to change the database configuration in the line 19.

[2016-07-07 14:40] carlosmrce opened #25738 "Autosave on belongs_to, has_and_belongs_to_many association"
### Steps to reproduce

Clone my repository: https://github.com/carlosmrce/teste.git

Commands:
- bundle install
- rake db:migrate
- rails s

Point browser to the following URLs:
- http://127.0.0.1:3000/ - action main#index
  This url will execute the following code:

[code]
- http://127.0.0.1:3000/index2 - action main#index2
  This url will execute the following code:

[code]
### Expected behavio

[2016-07-07 15:49] jules2689 commented on #25095
Few thoughts after reading through the thread...

*Env Vars*
- Environment variables can lead to unintended leaks. Various tools will take a copy of the environment when submitting bugs or crashes to take a look at various other environment variables, such as `GEM_HOME`. Environment variables are not really a good place for secrets to be put, and IMO environment variables really should just descri

[2016-07-07 16:24] alyssais opened #25739 "Docs are wrong about has_many inverse_of: not working with as:"
From the Rails docs:

<blockquote>
<dl>
<dt>inverse_of:</dt>
<dd>Specifies the name of the belongs_to association on the associated object that is the inverse of this has_many association. Does not work in combination with :through or :as options. See ActiveRecord::Associations::ClassMethods's overview on Bi-directional associations for more detail.</dd>
</dl>
</blockquote>

But `has_many inverse_

[2016-07-07 17:52] nanom1t commented on #18660
I have the same problem with Ruby 2.2.3 and Rails 4.2.5.1.

All power and magic of RoR in one place.

[2016-07-07 18:55] jasnow commented on #25448
Still getting error when I go from 2.3.1 to 2.4.0-preview1 on above repo.

[2016-07-07 20:37] danmolloy opened #25744 "Font issue in Rails Guides on Firefox Ubuntu"
Firefox 47.0 running on Ubuntu 16.04

On this Guides page, section 2.1 http://guides.rubyonrails.org/active_record_migrations.html

[Underscore is missing from part_number in first code box.](http://imgur.com/t3PrWj0)
[The underscore is in the html](http://imgur.com/FxLqcUj), it's just not being displayed.
[Double clicking on the code box makes it appear.](http://imgur.com/tpJcb7c)
[Changing the f

[2016-07-07 23:17] afuno commented on #25549
I did not understand how to fix it?

I use Rails 5.0.0.

In Gemfile written:
[code]

In the console I write this:
[code]

It creates it:
[code]

As a result create coffeescript files?

[2016-07-07 23:18] rafaelfranca commented on #25549
Make sure you have coffee-rails 4.2.0

[2016-07-07 23:22] afuno commented on #25549
@rafaelfranca Yes. You're right. It helped. Thank you.

[2016-07-08 00:01] maclover7 commented on #25739
Would you be willing to submit a PR to change the docs?

[2016-07-08 00:15] afuno opened #25746 "ReferenceError: Can't find variable: App"
I tried to upgrade to version 5.0.0. The problem arose with the channels.

I want to make chat. I created a "Chat" model. I created a "Chat" channel.

cable.coffee:
[code]

routes.rb:
[code]

Further, if I write it in the browser console:
[code]

So I get back this error:
[code]

What am I doing wrong?

[2016-07-08 00:40] amysutedja commented on #24588
I believe that this is likely related to an issue that I found and is reproable in this repo: https://github.com/amysutedja/mutable_default_scope_demo

[2016-07-08 00:52] rafaelfranca commented on #25746
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-07-08 00:52] #25746 closed

[2016-07-08 07:00] jimmybaker opened #25747 "Remote form loaded via ajax doesn't work"
### Steps to reproduce

First create a link that will load content via ajax:
[code]

Have the server respond with the necessary javascript to add a remote form to the page:

[code]

The remote form might look like:

[code]

### Expected behavior
When adding a remote form to the page via ajax, rails should still recognize that the form should be submitted via ajax.

### Actual behavior
Currently th

[2016-07-08 07:01] #25747 closed

[2016-07-08 10:35] penman commented on #25739
Can do, just wanted to make sure that it is definitely that the docs are wrong and the implementation is correct, rather than the other way around?

Those templates are nice!

[2016-07-08 10:53] sgrgic opened #25749 "ActiveRecord 4.0.13 - ActiveRecord::Base.connection.select_all returns ActiveRecord::Result instead of Array"
### Steps to reproduce
Simply run any query against your table, for example:
`ActiveRecord::Base.connection.select_all('SELECT * FROM users WHERE id < 3')`

### Expected behavior
It should return array of hashes as result.

### Actual behavior
Returns `ActiveRecord::Result`

### System configuration
**Rails version**: 4.0.13

**Ruby version**: 2.1.6

The problem is that mysql2 adapter select metho

[2016-07-08 11:15] matthewd commented on #25749
Rails 4.0 is no longer supported

[2016-07-08 11:15] #25749 closed

[2016-07-08 13:30] prakashmurthy commented on #25738
Here is the executable script to describe the same behavior:

<details>
  <summary>autosave_behavior.rb</summary>

[code]

</details>

The behavior is the same between `4.2.6` and `5.0.0`; this is not a regression.

`User.groups.count` returns 2 instead of 1 because of duplicate rows in `groups_users` table.

[2016-07-08 13:39] schuetzm opened #25751 "Puma restart with tmp/restart.txt not working"
Touching `tmp/restart.txt` fails to restart the rails server in development mode. Here's the output:

[code]

Using `rails restart` works correctly, however:

[code]

Touching `tmp/restart.txt` also works if the server is started with `puma` instead of `rails server`.

### Steps to reproduce

* `gem install rails` to get the latest version (5.0.0 for me)
* `rails new /tmp/aaa && cd /tmp/aaa`
* `ra

[2016-07-08 13:47] carlosmrce commented on #25738
@prakashmurthy I never said this was a regression. I understand this happens in older versions of Rails, but it really should not! In both scenarios i only assigned one group to a User, so there should only be one record on the table groups_users.

[2016-07-08 13:50] marcalc commented on #25718
@rafaelfranca Would you mind to help me on this? Sorry to pull you on this.

[2016-07-08 13:57] maclover7 commented on #25739
cc @sgrif

[2016-07-08 14:24] marcalc commented on #25718
As nobody have given any feedback, I just created a pull request demonstrating the necessary change in order to fix the intended behavior. Please comment if you believe this is wrong or I made the wrong assumption about the mentioned problem.

#25752

[2016-07-08 15:05] mrbongiolo commented on #25689
@maclover7 git bisect seems to point to this commit: https://github.com/rails/rails/commit/a11a8ff7840cd5c5ebb881aac61be9771b07b3ba

[2016-07-08 15:15] maclover7 commented on #25689
cc @sgrif

[2016-07-08 17:37] amysutedja opened #25753 "Nested subquery with has_many relation generates invalid SQL when relation's default scope changes returned expression"
# Steps to reproduce

Demo with test showing the failing scenario here: https://github.com/amysutedja/mutable_default_scope_demo
# Description
- A model M has many of child model C.
- C has a default_scope defined which is conditional -- for example, it might return different clauses based on thread-local storage.
- One condition returns all records, and the other returns a where filter based on a

[2016-07-08 17:37] amysutedja commented on #25753
The fix for this may be related to the fix for this ticket: https://github.com/rails/rails/issues/24588

[2016-07-08 17:50] bionicpill opened #25754 "Migrations potentially run in a different Ruby env than expected."
### Steps to reproduce
Using a tool such a chruby (which changes your path in your local shell to point to a custom ruby install) can cause migrations to be run with a different Ruby install than the version being used by the current command line to run the test commands. This is specifically happening to me on a Mac whose system ruby is older than the required 2.2.2 to run Rails 5. Although I run

[2016-07-08 18:13] maclover7 commented on #25677
Closing since #25688 was merged in.

[2016-07-08 18:13] #25677 closed

[2016-07-08 19:15] bionicpill commented on #25754
Never mind, this was tracked down to a `ENV['PATH']` override in our local code base. :rage4: Please, carry on.

[2016-07-08 19:15] #25754 closed

[2016-07-08 20:21] matthewd commented on #24876
@jeremy the very concept of a "main thread" is an EM-ism, right?

[2016-07-08 20:36] vipulnsward commented on #25751
See https://github.com/rails/rails/pull/24331
We need to kill existing pid so that the we don't see those complaints about already running server.

You can see what the restart task actually does over here - https://github.com/rails/rails/blob/fbfc91de32dc04e19258e74283d8786edb21917f/railties/lib/rails/tasks/restart.rake#L9-L8

[2016-07-08 20:36] #25751 closed

[2016-07-08 20:40] vipulnsward commented on #25753
cc @sgrif

[2016-07-08 20:53] rab commented on #23635
This is still true in 5.0.0
I've changed the activerecord version and rebased the fix branch against current rails/master

[2016-07-08 21:00] dirceuvjr opened #25755 "add_reference doesn't find foreign_key to drop when rolling back"
### Steps to reproduce

Assuming you have a :restaurants table and :users table, try to create a migration to add a reference of user as 'admin' to restaurants:

[code]

### Expected behavior

When running **rails db:rollback STEP=1**, it should find the foreign_key 'admin_id' and drop it.

### Actual behavior

**rails db:rollback STEP=1** failed with the following message **Table 'restaurants' ha

[2016-07-08 21:06] rafaelfranca commented on #25755
there is no option `to_table` for the `foreign_key` option, where did you saw it in the documentation? Rails will use the second argument of `add_reference` which in your case it is `:admin`. I believe this is why it was not created and I believe it is why it is failing in the rollback with that message.

[2016-07-08 21:08] dirceuvjr commented on #25755
@rafaelfranca:
http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/SchemaStatements.html#method-i-add_reference

This actually works, that's why I changed the issue. It creates the FK, however it fails to drop it when running rollback.

[2016-07-08 21:10] rafaelfranca commented on #25755
Oh. I was looking the 4.2 documentation. :+1:

[2016-07-08 21:20] anfinil commented on #25732
The same issue

[2016-07-08 21:24] anfinil commented on #25732
Have the same issue with UPDATE.

[2016-07-08 21:44] #23635 closed

[2016-07-08 23:08] marcamillion commented on #24949
This issue (and the PR related to it, I believe) have broken the way I format code on my site.

Before, I would simply do: `<%= raw rouge(@question.test_suite, @question.language) %>`, but now that doesn't work.

Any suggestions on how I might be able to get my output to be the same as it was before? In other words, before `.html_safe` would not work for the above call, but `raw` did.

So that's w

[2016-07-08 23:12] rosenfeld commented on #24949
This PR is about `render` I think. What does your `rouge` method do?

[2016-07-08 23:16] marcamillion commented on #24949
It highlights syntax (which is output as HTML), which comes from [this gem](https://github.com/jneen/rouge).

[2016-07-08 23:19] rosenfeld commented on #24949
I really don't think your case is related to this PR. Could you expand on what is the real reason? What is the expected output? What is it showing instead?

[2016-07-08 23:21] rosenfeld commented on #24949
It also happens if you show what is the code for the `rouge` helper (it doesn't seem to be defined in the gem) or if you could create a sample application demonstrating the issue on Github and share the link with us.

[2016-07-08 23:37] marcamillion commented on #24949
@rosenfeld It was working perfectly up to rc2, so unless there was something else that broke it in 5.0.0, this `raw` method is what I came up with.

So to implement this gem, I did the following:

- Added `gem 'rouge', '~> 2.0', '>= 2.0.2'` to my Gemfile and ran `bundle`
- Created a file called `app/assets/stylesheets/rouge.css.erb`, that has this one line: `<%= Rouge::Themes::Github.render(scope:

[2016-07-08 23:55] rosenfeld commented on #24949
That seems like an issue with your CSS. Did you check your CSS rendered content? Also take a look at the html source and compare them with output on rc2. If the problem lies on CSS then it doesn't seem to be an issue with the rouge helper. I'd have to check how render is implemented in the gem, but I'm currently out of home.

[2016-07-09 00:14] marcamillion commented on #24949
So I found what seems to be a solution, but the strange thing is that it worked before.

Basically, I just had to wrap the `raw rouge` helper method call in my view with `pre` tags that had a class of `highlight`.

Now the formatting works.

I don't understand why it worked before though, and then stopped working once I upgraded to 5.0.0. I still think this had something to do with it.

The weird

[2016-07-09 00:16] maclover7 commented on #25732
Would you be willing to do a `git bisect`, to figure out where the behavior change occurred here?

[2016-07-09 00:21] rosenfeld commented on #24949
I still find it very unlikely that something like that was caused by this PR. Most likely you upgraded rouge altogether with Rails or changed another code which changed this behavior. I can't see how the changes in this PR would break your case in that way... Glad you were able to find a fix, congrats.

[2016-07-09 00:24] marcamillion commented on #24949
You may be right, I am going to review the last few commits to see if anything else major was changed that I never realized.

Thanks.

[2016-07-09 00:26] marcamillion commented on #24949
By the way....can you tell me if both of these are identical -- based on this PR?

    <%= rouge(@question.test_suite, @question.language).html_safe %>

and

    <%= raw rouge(@question.test_suite, @question.language) %>

Or are there more differences I am not fully appreciating?

[2016-07-09 00:32] marcamillion commented on #24949
@rosenfeld Just looking through the Rails 5 commit, as it turns out, that `bundle update` I did for that, did also update the `rouge` gem from `1.11.0` to `2.0.2` without me realizing. So that could very well have broken it, but it was hidden in the "Rails 5" update.

[2016-07-09 00:33] rosenfeld commented on #24949
Those should be equivalent as far as I understand, but I don't think this PR changed the meaning of either raw or html_safe. This PR only calls html_safe when render is used with some non erb file. Since your helper doesn't call render it shouldn't be affected by this PR.

[2016-07-09 00:34] rosenfeld commented on #24949
Most likely rouge introduced a breaking change in the upgraded version.

[2016-07-09 00:37] marcamillion commented on #24949
So would you say it is safer to just use `.html_safe` than `raw`?

I agree re: breaking change in the upgraded version.

[2016-07-09 00:43] rosenfeld commented on #24949
I always thought they were equivalent in this case so if there's any difference I can't tell you. That's why I don't recommend a particular one. I guess any of those would be fine.

[2016-07-09 00:54] solojavier commented on #21574
@SixiS Can you verify if this error is still happening with `4-2-stable` or on `master` ?

[2016-07-09 01:27] easybills-admin commented on #21948
I can confirm that it still happens on:
* OS X `10.11.5` (El Capitan)
* Safari Desktop `9.1.1` (`11601.6.17`)
* Ruby `2.3.1`
* Rails `4.2.6`

In order to reproduce, I used the [first message](https://github.com/rails/rails/issues/21948#issue-111136803) in this thread.

[2016-07-09 04:37] schneidmaster commented on #25649
Actioncable is still broken from npm. Did you release a new version after merging #25119?

[2016-07-09 04:38] rafaelfranca commented on #25649
No. It will be released with Rails 5.0.1

[2016-07-09 04:42] schneidmaster commented on #25649
Ah okay. Is there an ETA for 5.0.1? If it's going to be a while, you might consider publishing a `5.0.0.1` to npm, seems undesirable to have a completely broken package out there.

[2016-07-09 04:45] rafaelfranca commented on #25649
No ETA, and in my opinion no need to release a npm package outside our release process. If it is important to fix the npm package we should do a full release cycle, but I don't know if it is important or not.

[2016-07-09 04:51] schneidmaster commented on #25649
I mean, the npm package is completely broken (just requiring it throws an error). I guess I don't know how serious it is to you to actually have npm support but that's about as broken as it gets. I maintain [action-cable-react](https://github.com/schneidmaster/action-cable-react) and I'd like to update it for rails 5 stable but this is blocking, unless I just copy the latest source code into my pr

[2016-07-09 05:45] aranair commented on #25595
Initialising the `ActiveRecord::Result` with an extra hash of types for each of the columns in the results at [mysql/database_statements](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb#L39) seem to pass the new test cases. When deserializing, it correctly treats it as an `int` instead of an `enum`. [relation/calculations](

[2016-07-09 08:51] alexhanh commented on #25649
Given that Rails 5 natively supports API-only mode and it has been promoted as an important feature, maintaining a working npm package seems quite important, since we can't rely on the server serving AC via `require action_cable`. So I tend to agree with @schneidmaster about releasing `5.0.0.1`.

However, the npm package's download numbers seem pretty low (316 downloads last month), so maybe it in

[2016-07-09 11:50] schuetzm commented on #25751
@vipulnsward I've seen the PR you linked, but it has been merged a long time ago and is already included in the release, as is the referenced puma PR. But it still does not work even with those fixes. So why did you close this issue? Is the problem already tracked somewhere else, maybe? If so, please post a link so I can follow the progress. Otherwise, please reopen this issue.

[2016-07-09 13:02] matthewd commented on #25751
@schuetzm  Do we have documentation somewhere claiming that `tmp/restart.txt` will do something? I thought it was just an implementation detail.

[2016-07-09 13:21] javan commented on #25649
@alexhanh, I just took a look at your example repo (https://github.com/alexhanh/actioncable-npm-require-error). It seems to work fine if you don't use `babel-loader`. I changed `webpack.config.js` to:
[code]

[2016-07-09 13:42] schuetzm commented on #25751
Given that Puma comes with a `tmp_restart` plugin, I pretty much assumed it would work wherever Puma is used. Why wouldn't it, just because I'm using it with Rails?

[2016-07-09 14:50] javan commented on #25649
The 5.0.0 npm package works as expected. It includes module support added in https://github.com/rails/rails/pull/24903, which was later improved but not fundamentally altered in https://github.com/rails/rails/pull/25119.

This issue stems from processing it through babel, which won't work since `action_cable.js` is not ES2105+ (I think CoffeeScript compiles to ES3 or 4). If you're using the webpac

[2016-07-09 14:50] #25649 closed

[2016-07-09 14:58] schneidmaster commented on #25649
@javan The 5.0.0 npm package does not work as expected. It is completely broken, out of the box, independent of using Babel.

Run this:

[code]

It's also obvious why this happens if you read the compiled code. You're compiling each of the source files as a separate `(function() { ... });` scope. The first one declares `this.ActionCable = { ... }` and later ones try to directly access the `ActionC

[2016-07-09 15:15] tarungarg opened #25761 "Uncaught Error: Existing connection must be closed before opening bug"
Actioncable is implemented on too many places in my application. Getting this error most of times
**Existing connection must be closed before opening bug**

As per my assumption, this error comes if i visits the same page more than once (where actioncable is implemented). Actioncable creates new connection every time.
So my question is
How can i close the running connections if they are not using.

[2016-07-09 15:21] maclover7 commented on #25761
Thank you for opening this issue! Would you be willing to condense your bug description a little bit, it's a little hard to figure out what the bug is here. I _think_ the issue you are trying to report is that you "[...] got array of subscriptions with duplicate identifiers"? :)

cc @javan

[2016-07-09 15:28] javan commented on #25649
That's only true if you're trying to use it in node where it wouldn't work anyways because it's designed for the browser. ActionCable uses native DOM APIs like `WebSocket` and `document.querySelector` only present in browser environments.

That was corrected in https://github.com/rails/rails/pull/25119, but again it's only a problem if you're trying to use it outside of a browser.

I disagree. The

[2016-07-09 15:32] javan commented on #25649
Related: https://github.com/basecamp/trix/issues/119#issuecomment-218318478

[2016-07-09 15:38] tarungarg commented on #25761
Yes, Might be answer of this question can help me a lot. But i am getting 3 issues
1. Existing connection must be closed before opening bug
2. Array of subscriptions with duplicate identifiers.
3. Could not execute command from {"command"=>"unsubscribe", "identifier"=>"{\"channel\":\"DeleteMessageChannel\"}"}) [NoMethodError - undefined methodunsubscribe_from_channel' for nil:NilClass]

Attached f

[2016-07-09 15:54] maclover7 commented on #25761
👍 would you be able to create a sample app(s) to reproduce those above issues (or at least the actions you'd have to take, if you don't want to create a whole app)?

[2016-07-09 16:02] schneidmaster commented on #25649
Right, but I should still be able to load the code in a node environment, because

while this is true, the overwhelming majority of those packages assume or rely on a webpack-based flow. If people just want a `<script>` to set a window global they're probably using bower. @alexhanh's use case is an exceptionally common one. (And polluting the global namespace is an antipattern in webpack-based set

[2016-07-09 16:10] javan commented on #25649
The current npm package works with webpack and other module loaders to create a bundle for the browser. Yes, it *also* sets `window.ActionCable`, but there's no need for a separate `<script>` tag. The next release will have improved support, and will allow you to load it in a node environment for "because".

Sorry for the trouble! We have every intention of supporting the npm package. I'm just try

[2016-07-09 16:21] javan commented on #25649
To be sure, I just tested with the next release's `action_cable.js` by manually replacing the one in `node_modules/actioncable/lib/assets/compiled/`:
[code]

[2016-07-09 16:33] schneidmaster commented on #25649
Yeah I appreciate the responses! I'm not trying to give you a hard time, I'm just trying to explain why the existing release is a problem for me. It's not great that people have to exclude `actioncable` from babel or other transpilers to avoid throwing an error (just frankly speaking, from the error message it gives, people will assume the `actioncable` package is broken unless they find this thre

[2016-07-09 17:13] Morpheu5 opened #25762 "undefined method `call' for nil:NilClass when calling parsed_body on a TestResponse"
I have a RSpec test case which includes the following:

    expect(response.parsed_body.count).to eq(4)

This produces the following error:

    1) UsersController when logged in as a user GET #index shows a list of all the users
       Failure/Error: expect(response.parsed_body.count).to eq(4)

       NoMethodError:
         undefined method `call' for nil:NilClass
         Did you mean?  caller

[2016-07-09 17:41] maclover7 commented on #25762
Thank you for reporting! Did this work for you on previous versions of Rails?
Also, can you use your code above and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-07-09 18:00] Morpheu5 commented on #25762
I don't know if it worked, this is a new project I started with Rails 5 straight away, and I haven't touched Rails in a long time (probably since 3 was released…).

I'd love to create that script but I'm not sure how to get a TestResponse object. I'm getting a Rack::MockResponse instead.

[2016-07-09 18:07] Morpheu5 commented on #25762
Nevermind, I hope this is OK

https://gist.github.com/Morpheu5/29ba0400a76f2ef57c83a14d8d8a08e1

[2016-07-09 18:40] macournoyer commented on #23696
ActionCable does work w/ Thin now w/ a few extra configs:

In your `Gemfile`:
[code]

Create a `config/initializers/thin_action_cable.rb`:
[code]

[2016-07-09 19:54] alextaylor000 commented on #25738
This is an interesting one... the autosave behaviour for `User` is obviously saving its parent `Duck` first, and the callback chain for `Duck` saves `User` and `groups_users`, while the subsequent callback chain for `User` saves `groups_users` again.

Saving multiple instances of the same record [appears to be intended behaviour](https://github.com/rails/rails/blob/master/activerecord/test/cases/a

[2016-07-09 20:24] bjegannathan-rpx opened #25763 "4.2.7.rc1 Regression - Cannot load such file --concurrent"
### Steps to reproduce

Rake tests failed in my project after minor bump from 4.2.6 to 4.2.7.rc1. I see an include at this particular line - https://github.com/rails/rails/compare/v4.2.6...v4.2.7.rc1#diff-ae0cb1fe3f1f2a3025bdf0dbc3d2890cR2 which apparently is not present in my Gemfile.lock. Is this a development dependency only ? It was introduced as part of this commit - https://github.com/rails/

[2016-07-09 20:26] bjegannathan-rpx commented on #25763
Closing this issue and recreating with a different id. Apologies for the churn

[2016-07-09 20:26] #25763 closed

[2016-07-09 20:27] bragboy opened #25764 "4.2.7.rc1 Regression - Cannot load such file -- concurrent"
### Steps to reproduce

Checkout the following project : https://github.com/bragboy/rails_issue/tree/rails_4.2.6 and do a `rails s`. Things look good !

Checkout the same project with an upgrade to 4.2.7.rc1: https://github.com/bragboy/rails_issue/tree/rails_4.2.7_rc1 and do a `rails s`. It chokes with the below error

[code]

The only difference between the two branches is the version bump - http

[2016-07-09 21:54] bragboy commented on #25764
Closing this since this seem to have been already fixed with https://github.com/rails/rails/commit/e384220a83825db463945becd39d314ff51e8dd1
Thanks!

[2016-07-09 21:54] #25764 closed

[2016-07-10 03:15] maclover7 commented on #25762
Hmm, after some further investigation it _seems_ like this behavior may be on purpose. `TestResponse#parsed_body` was added via #23597, but it seems like it was only meant to be used with `ActionDispatch::IntegrationTest`, not `ActionController::TestCase` (which I think is soft deprecated...?), which is causing the error you are seeing above. Even if the only supported usage for `@response.parsed_

[2016-07-10 07:33] tarungarg commented on #25761
Please see the below url
https://github.com/tarungarg/actioncable-example

This example app includes bug
Array of subscriptions with duplicate identifiers

I have mentioned the desc and steps to reproduce the bug.

[2016-07-10 09:58] rafaelcastellar commented on #25676
Hi! I've just start learning Ruby. As I installed I  got this same situation. I'm using Fedora 24.
I'd like to know how was the solution you use to fix it, @waghanza . I could not follow it here.

Tks!

[2016-07-10 11:02] marekkirejczyk commented on #25197
Just updated [PR (view here)](https://github.com/rails/rails/pull/25560). All @dhh examples from this PR are now covered.

### Questions I stumble upon:

1. If `id` are not set by default, how do we handle `for` attribute in labels? i.e.:
[code]

2. For `select`, `collection_select`, etc helpers will benefit from named parameters, i.e.
Before:
`
f.select :category, categories, { include_blank: "Se

[2016-07-10 12:10] aranair commented on #25595
These [changes](https://github.com/rails/rails/compare/master...aranair:25595) passes all the tests, along with the additional ones in this ticket but I'm unsure where most of that code should be, or if there is something similar already. Any suggestion would be great :P

[2016-07-10 14:41] Morpheu5 commented on #25762
But I'm getting an `ActionDispatch::TestCase`, not `ActionController`. Anyway, I wonder what's the rationale for not providing `parsed_body` for `TestCase`s too. I may not be writing the best specs, but I sometimes have to check the content of the body two or three times per example.

[2016-07-10 14:57] kmcphillips commented on #25764
👍

[2016-07-10 16:14] maclover7 commented on #25761
Hmm, just taking a quick look at that project's Gemfile, it looks like you are using v0.0.3 of Action Cable, which was published quite a while ago. Can you update your project to use the latest version of Action Cable, and then test and see if the reported issues still exist?

[2016-07-10 17:40] connorshea commented on #25636
What's the status on adding this deprecation?

[2016-07-10 17:42] tarungarg commented on #25761
@maclover7 , I updated the gem list but still issue is occurring

https://github.com/tarungarg/actioncable-example
Branch: rails5

[2016-07-10 19:35] amingilani opened #25770 "Newly generated rails apps contain comments over 80 characters"
Is this a conscious decision? Because for every new project, I personally have to go through all the files and ensure that they are Rubocop compliant.

### Steps to reproduce

`rails new app`

### Expected behavior

Comments and indeed all code should wrap at 80 characters. Most of the lines do respect this limit, but some do not.

### Actual behavior
as an example: here's the Gemfile
[code]

The

[2016-07-10 19:49] rafaelfranca commented on #25770
Yes it is. We don't follow this rule in our project.

[2016-07-10 19:49] #25770 closed

[2016-07-10 19:52] amingilani commented on #25770
@rafaelfranca could you link me to a discussion on why this is so? I'm interested in the rationale behind this.

[2016-07-10 20:12] kaspth commented on #25762
@Morpheu5 hey, thanks for spotting this! ❤️ I've opened up https://github.com/rails/rails/pull/25771 to try to fix your reproduction script.

It seems, however, your reproduction script is different from the code in your original issue description. I'd like to know if my PR also solves your original problem.

It looks like RSpec tests. So was the reason you instantiated `ActionDispatch::TestRespon

[2016-07-10 20:30] YoniAmir commented on #25454
@madmax Until the PR is merged, you can workaround in Rails like this-
```Movie.limit(10).unscope(:limit).unscope(:offset).cache_key```

[2016-07-10 21:50] matthewd commented on #25770
@amingilani I'm not sure I see why the onus is on us to justify why we haven't retroactively adopted rubocop's (often questionable) sense of style.

[2016-07-10 21:55] oyeanuj commented on #24281
@sgrif @thedarkone Any updates here?

[2016-07-10 22:30] thedarkone commented on #24281
I will not be able to work on my PR until after 22nd.

[2016-07-10 22:39] amingilani commented on #25770
@matthewd I never said anything about the project retroactively following Rubocop.

I asked if there had been a discussion about the 80 char or any line limit, which I follow because they significantly improves the readability of a codebase.

If there hasn't been a discussion about this before, please say so, and refrain from introducing [strawmen](https://www.logicallyfallacious.com/tools/lp/Bo/L

[2016-07-10 22:41] amingilani commented on #25770
The reason I asked for a reference because when asked if this was a conscious decision:

[2016-07-10 22:55] amingilani opened #25772 "Proposal: make newly generated apps rubocop compliant"
I understand that the project disallows cosmetic changes but:

- Some projects follow stylistic rules (even rails does)
- Rubocop is quick to set up, and configure (even rails uses it)
- For initial generations, additional work is required in new rails project to ensure lint compliance.

If I could take the time to ensure `rails new app` generates a rubocop compliant skeleton app, will the maintai

[2016-07-10 23:02] guilleiguaran commented on #25772
I'm curious, what are the changes required in new apps to ensure lint compliance?

[2016-07-10 23:17] vipulnsward commented on #25772
@amingilani can you share what you are trying to lint?
- rubocop is meant to lint user app code, so if you mean `app/*` what is it that you feel the issues are.
- How would you ensure rails lint is the final? Rails might have a different lint preference, others their own, would it make sense to force rails default lint onto everyone?
- We will pretty much get lots of users asking us to change a pr

[2016-07-10 23:17] #25772 closed

[2016-07-10 23:24] amingilani commented on #25772
@vipulnsward:

1. That's not strictly true, there are plenty of user generated config codes in `config/` and definitely `/spec` and certainly `environments`, and `migrations`, and lots of other stuff.
2. Rubocop is modular, users can enable and disable any linting preferences they like, but the best way to make their lives easier would be to support all the cops at start.
3. This isn't a personal

[2016-07-11 01:17] maclover7 commented on #25761
Hi @tarungarg! Took some time today to look into the bugs reported above:

So my question is
How can i close the running connections if they are not using. Also if i visit the page where actioncable is implemented more than once, the first/prev. connection must be close." [...]

I was not able to reproduce a connection being created on every page change. It seems like the same open connection is b

[2016-07-11 01:17] #25761 closed

[2016-07-11 02:03] Tietew commented on #25732
I tried but failed because arel version mismatch. How to run `git bisect` between major versions?

[code]

Here:

[code]

[2016-07-11 02:20] Tietew commented on #25732
I found 7eed50c7208a1b605e6ad04e877a3cbeb7cc3434 is a good version with current arel.
I reran bisect between 7eed50c7208a1b605e6ad04e877a3cbeb7cc3434 and `v5.0.0`, and found 4294a7eebf52759be61ed57908436d6324f26120 is a first bad version.

But, its parent 0f82f661b75a4cdeae027e80940200061b0496c2 is also a bad version, test fails with following error.

[code]

[2016-07-11 04:40] neves commented on #24748
@zavan , I can confirm the problem.
application.rb suggest the follow: _"Application configuration should go into files in config/initializers"_
but `config.time_zone = 'Brasilia'` does not work there, just inside application.rb

[2016-07-11 05:01] alfie-max commented on #24748
@neves, please see to the explanation provided by @fxn

[2016-07-11 05:31] olivierpichon commented on #19262
Sure guys this behaviour comes from Postgres or any RDBMS. But what is anticipated from Active Record is to write the correct SQL request for us. Otherwise it leads to some inconsistencies like:

[code]

[code]

[code]

I think AR should write a SQL which looks like:

[code]

[2016-07-11 08:17] waghanza commented on #25676
@rafaelcastellar I have fixed it with
[code]

as @rafaelfranca suggested

However, I'm trying to understand why `require "json"` has to be here (issue on **fedora** only)

[2016-07-11 08:56] voxik opened #25774 "Unstable test suite running minitest 5.8.4"
### Steps to reproduce

The minitest was locket to minitest 5.3.3 more then two years ago (https://github.com/rails/rails/commit/8c48cd220648dc05c17def63d653fa98c3fab4de), but nobody cared so far to fix the instability. Since I am trying to package the latest Rails for Fedora, where is available just more recent version of minitest, the test suite is unstable from time to tim. Isn't it time to fix

[2016-07-11 09:56] Tietew commented on #25732
Retried with subset patch of 4294a7e
The bisect script is at https://gist.github.com/Tietew/72026ff1a9e19fcec7cc11ec6b89ab3a

The first bad version seems to be c82cc222c793275f74fc5e8b6aa88edebe136929

#### before
1. assigns primary key
2. reads association. `new_record?` returns true. proxy is cached in `@new_record_proxy`.
3. in after_save, reads associasion. `new_record?` returns **false**. pro

[2016-07-11 10:09] rafaelcastellar commented on #25676
But where should I put this fix? That's the point I didn't understand.. :)

Tks

[2016-07-11 14:04] jrafanie commented on #25676
I wonder if rack's change [here to remove json as a dependency](https://github.com/rack/rack/pull/1011)  might be involved.  Before that change, rack as a dependency of rails would cause the json gem to be installed and required by bundler.  Now, you have to add json to your Gemfile if you want an updated one and/or want it auto-required by bundler.

Note, with chruby/ruby-install on OSX with ruby

[2016-07-11 14:16] sgrif commented on #25738
Saving multiple instances of the same record when explicitly told to do so is intended, but this is clearly a bug. Can you see if this issue still occurs with the changes from #25337?

[2016-07-11 14:35] xdougx opened #25776 "Having some strange behavior when has any error adding a foreign key"
Hello guys, I just have a strange behave when I tried to create a migration like

[code]
If you pass for example:

[code]

Rails create the Table, create the right foreign key, but the last one you get an mysql exception, and doesnt rollback the full operation.

Someone had this issue before?

[2016-07-11 14:59] #25595 closed

[2016-07-11 15:00] sgrif commented on #25595
Backporting to 5.0 in #25778

[2016-07-11 15:43] aranair commented on #25595
quick questions @sgrif, in every case, the class type is preferred? (e.g. `string` instead of `int` in the case of an enum)? @rafaelfranca seems to suggest that it shouldn't know about the class type for a database operation?

[2016-07-11 15:49] sgrif commented on #25595
The code was already using the class type (as it should be), but there was
a precedence issue as described in the commit.

On Mon, Jul 11, 2016, 11:43 AM Boa Ho Man <notifications@github.com> wrote:

[2016-07-11 16:04] jmondo commented on #25701
@nbibler are you working on this? if not, I'd be happy to submit a PR. I've been working my way through ActiveSupport as part of a learning exercise and fixing this bug would help my learning! LMK

[2016-07-11 16:04] rafaelfranca commented on #25774
Please feel free to submit pull request fixing the problems.

[2016-07-11 16:06] nbibler commented on #25701
You're welcome to go for it. I imagine it'll be straightforward. Worst case, it's just a `return if parts.nil? || parts.empty?`…

[2016-07-11 16:07] jmondo commented on #25701
Sweet. Yep I think so too :)

[2016-07-11 16:43] prakashmurthy commented on #25738
@sgrif The issue still occurs with the changes from #25337

<details>
  <summary>Complete script run output</summary>
[code]
</details>

[2016-07-11 17:01] dhh commented on #25197
- Labels: Let's see what it looks like when the label code just requires an id to be set manually on the element.
- select/collection_select: Not sure I understand the question? Looks like using named stuff is just nicer?
- Form fields: Look good, but we should be using HTML5 tags, so close with > not />.

[2016-07-11 17:28] prakashmurthy commented on #25776
This is a common behavior.

`add_foreign_key :models, :relation_bs, column: 'wrong_column'` throws an exception and marks the migration as not completed, but leaves the `models` table in the database.

If you run `rails db:migrate:status` at this stage, it will show something like below to indicate that the migration is not applied:

[code]

However, `models` table is still present as seen from my

[2016-07-11 17:31] rafaelfranca commented on #25776
Yes, this is the expected behavior. MySQL doesn't have transactional migrations.

[2016-07-11 17:31] #25776 closed

[2016-07-11 17:32] xdougx commented on #25776
Yeah, Ive done it. Well thats fine, thought it was a wrong behavior, thanks a lot!

[2016-07-11 17:52] sgrif commented on #25753
Digging into this. The bug can only be reproduced if the user instance is the same for both calls (meaning that `u.comments` is the same scope). `WHERE user_id = 'f'` is *definitely* wrong though

[2016-07-11 18:11] afuno opened #25783 "WebSocket connection to 'ws://site.com/cable' failed: Unexpected response code: 404"
Rails 5.0.0.

I create a project.

The next step, I created two channels: chat and comment. In addition to the controller, of course. I think the controllers and modules are not important here.

Then I added in routes.rb file this line:
[code]

Now when run the project, I got this error:

At the address http://site.com/cable I get this error:

This inscription on a blank white page.

What is the p

[2016-07-11 18:17] matthewd commented on #25783
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-07-11 18:17] #25783 closed

[2016-07-11 18:21] afuno commented on #25783
In the sense of?

I've done all of your a manual at the just created project. On StackOverflow me for a week can not help.

I do not know what else to do. Help me to understand. Please.

[2016-07-11 18:56] marekkirejczyk commented on #25197
@dhh
### Labels

I see 3 options:
- **Option 1:** Manually add `for` and `id`:
[code]
translates to:
[code]

- **Option 2:** We can recommend to use nesting feature of labels:
[code]
or shorter version:
`f.label("The Title") { f.text_field :title }`

or even shorter - label as an extra param of text_field:
`f.text_field :title, label: "The Title"`

which would translate to:
[code]

- **Option 3:**

[2016-07-11 19:13] kaspth opened #25784 "Fix lazy load hooks documentation."
Active Support has long had load hooks in https://github.com/rails/rails/blob/39b8b8fdbf6c175a64f07198ff1c950e33c72cd0/activesupport/lib/active_support/lazy_load_hooks.rb, but since https://github.com/rails/rails/commit/7c90d91c3c43bdbba25d38589aed0e2940af3bc8 the docs stopped showing up on http://api.rubyonrails.org/files/activesupport/lib/active_support/lazy_load_hooks_rb.html.

Your mission, sh

[2016-07-11 19:30] afuno commented on #25783
I should add that I run the channel server as follows:
[code]

[2016-07-11 19:31] afuno commented on #25783
@matthewd

[2016-07-11 19:49] mrageh commented on #25784
@kaspth I'll pick this up

[2016-07-11 19:50] kaspth commented on #25784
Sweet!

[2016-07-11 20:36] kaspth commented on #25197
Whatever we decide with labels if would be nice to tie them to checkboxes if that's the field you're rendering. I think that's a good default for Rails to help out with. Which we could solve with the `:label` option.

@dhh I'm curious what you mean by this in your original comment:

[code]

Why should it only overwrite the description if present? And how will it work if the `@post` has no descript

[2016-07-11 21:13] cannikin opened #25787 "Attributes API with virtual attributes don't work in form builders without a value?"
Playing with virtual attributes via the Attributes API in Rails 5. They don't seem to work in Form Builders unless you initialize the attribute with a value before the form builder gets ahold of it:

### Steps to reproduce

[code]

[code]

### Expected behavior
Should show a form with three input boxes, one each for `first_name`, `last_name` and `title`.

### Actual behavior
`ActiveModel::MissingA

[2016-07-11 22:10] zenspider commented on #25774
@voxik AFAIKnew, I fixed all the order dependency issues. If there were more there was a lack of communication and laziness locking it down. If you want to help take a whack at fixing (or at least isolating) it, this is a perfect job for minitest-bisect. Lemme know if you need any advice.

[2016-07-11 22:31] Ashley-Pettit opened #25788 "5.5 - Error in text"
Hello, I think in 5.5 of { http://edgeguides.rubyonrails.org/getting_started.html } there is a slight typo.

The guide tells you to type { bin/rails db:migrate } which gives the error { Error: Command 'db:migrate' not recognized Did you mean: `$ rake db:migrate` ? }.

I believe the line as specified by the error should be { rake db:migrate }