[2022-06-30 17:56] ghiculescu commented on #45499
Thanks for the heads up. Are you interested in making a PR for this?

[2022-06-30 17:56] brandoncc opened #45500 "url_options are wrong after accessing engine route in integration tests"
### Steps to reproduce

1. In an `ActionDispatch::IntegrationTest`, access (`get`/`post`/etc) a route that is provided by an engine.
2. Try using a route helper that is part of the core Rails application.

@gmcgibbon and I paired on this and believe that the issue lies in [this method](https://github.com/rails/rails/blob/main/actionpack/lib/action_dispatch/testing/integration.rb#L133-L143).

[code

[2022-06-30 19:30] geongeorge commented on #45499
@ghiculescu Yeah I'll give it a go

[2022-06-30 23:06] zolzaya commented on #45493
@flavorjones hey it's working. thank you :)

[2022-06-30 23:06] #45493 closed

[2022-07-01 07:39] blowfishpro opened #45503 "data_source_sql query is unnecessarily slow on MySQL with many tables and derived_merge=off"
### Steps to reproduce

* Have a rails application using MySQL
* Have a reasonably large number of tables in your database (we have 866)
* Have the optimizer switch `derived_merge=off` due to [many](https://bugs.mysql.com/bug.php?id=88252) [issues](https://www.percona.com/blog/2018/09/25/why-optimization-derived_merge-can-break-your-queries/) in MySQL 5.7
* Use any method that runs `data_source_sq

[2022-07-01 09:16] OskarEichler commented on #45479
So here is the application for this:

We want to instantiate an array of new objects, based on their updated values. Let’s say we are updating 100 records all at once - so we map through them and instantiate the new records by calling Record.new and then pass in the attributes that we want to update.

Now we want to perform an upsert_all on these records. We know the unique columns and will always

[2022-07-01 09:58] #45406 closed

[2022-07-01 11:37] pmustel opened #45505 "Missing require on active_support/isolated_execution_state ?"
### Steps to reproduce

I have a small piece of  ruby code, running in bundle with gems 'ruby-kafka' and 'activesupport' Ruby-kafka uses the notifications to tell a message is produced. But it crashes. It seems to be missing a 'require' somewhere.

It works when I add:
require 'active_support/iloacted_execution_state'

# Your reproduction script goes here

require 'active_support/notifications'
re

[2022-07-01 12:31] Edouard-chin commented on #45505
Hello @pmustel ! The `IsolatedExecutionState` constant is autoloaded as you can see here https://github.com/rails/rails/blob/c704da66de59262f4e88824589ae4eddefb6ed4a/activesupport/lib/active_support.rb#L51 , there is no need to require it.

This same `active_support.rb` file is loaded automatically by bundler thanks to this line https://github.com/rails/rails/blob/c704da66de59262f4e88824589ae4edde

[2022-07-01 12:39] pmustel commented on #45505
Aha. So it works if i require whole activesupport. But I just want the notifications part... Worked OK in version 6.1.5

Works:

require 'activesupport'
Bundle.require(:default)

Does not work:

require 'activesupport/notifications'
Bundle.require(:default)

[2022-07-01 12:54] Edouard-chin commented on #45505
require 'activesupport'
Bundle.require(:default)

Ah yeah you are right, the second can only work work if your gemfile look like this. Ultimatelly both are the same, choose what you prefer

[code]

[2022-07-01 13:02] Edouard-chin commented on #45505
Just to clarify, requiring "activesupport" doesn't load the whole library, it just loads a single file (activesupport.rb). Your boot time won't be affected whatsoever. Hope this helps!

[2022-07-01 14:03] Sega100500 opened #45506 "Images saved via using ActiveStorage different in production and development environments"
### Expected behavior
In both environments same behavior

### Actual behavior
In development environment saved (attach) image in content-page within `gem ckeditor` using `ActiveStorage` with `mini_magick` - then in production environment image are not showed, and vice versa - saved in production, then are not showed in development. I use **same database** (mysql) in development and production envi

[2022-07-01 17:55] jordan-brough commented on #45287
This just started happening to us also, and I get the same search result as @sobrinho:
[code]
<details><summary>Click to show results</summary>

[code]
</details>

If the only [manipulation @query_cache](https://github.com/rails/rails/blob/v6.1.6/activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb#L54-L118) happens in `QueryCache`, then I think these are the only operations

[2022-07-01 19:00] #45503 closed

[2022-07-02 01:44] stefannibrasil commented on #43441
That's how I was able to make it work using TailwindCSS 3 and Rails 7. Thanks for the reminder for precompiling assets whenever making changes to my assets :100:

[2022-07-02 13:55] geongeorge commented on #45499
@ghiculescu I've looked into potential solutions.

Right now we're using the [kindlerb gem](https://github.com/rails/rails/blob/main/guides/rails_guides/kindle.rb) to generate mobi files.

The available options for generating EPUB files I can find are:

- [Epubber](https://rubygems.org/gems/epubber)
- [gepub](https://rubygems.org/gems/gepub)

Epubber has an MIT license, what do you think about usi

[2022-07-02 15:43] ghiculescu commented on #45499
I think that is fine. But you could also double check on the Rails discord to confirm https://rubyonrails.org/2022/6/13/rails-discord-server-is-now-open-to-the-public

[2022-07-02 18:52] geongeorge commented on #45499
Upon further inspection, there is a deeper issue here, The gem `kindlerb` used here no longer works. It relies on a tool Amazon provided long time ago called `kindlegen` which happens to be [no longer available as well](https://github.com/asciidoctor/asciidoctor-epub3/issues/363)

I read that the guides for later versions of rails is manually built https://github.com/rails/rails/issues/29865#issue

[2022-07-03 04:50] Ar901hasan opened #45509 "Gmail account update"
https://github.com/rails/rails/blob/f8eed695fa6ed5b846daf2e456dfca7baeaab607/activerecord/lib/active_record/relation/predicate_builder.rb#L85-L87

[2022-07-03 05:25] #45509 closed

[2022-07-03 08:16] Sega100500 opened #45517 "Why does sprockets require a manifest file config/<engine_name>.js while rails generates config/<engine_name>_manifest.js ?"
### Expected behavior

Using manifest file generated by `rails` or generate manifest file required to `sprockets` within engine.

### Actual behavior

When `rails` is generates engine <engine_name> it create file <engine_name>/app/assets/config/<engine_name>_manifest.js
[code]
But `sprockets` needs file <engine_name>/app/assets/config/<engine_name>.js
with adding to main application `app/assets/co

[2022-07-03 08:20] Sega100500 opened #45510 "Why does sprockets require a manifest file config/<engine_name>.js while rails generates config/<engine_name>_manifest.js ?"
### Expected behavior

Using manifest file generated by `rails` or generate manifest file required to `sprockets` within engine.

### Actual behavior

When `rails` is generates engine <engine_name> it create file <engine_name>/app/assets/config/<engine_name>_manifest.js
[code]
But `sprockets` needs file <engine_name>/app/assets/config/<engine_name>.js
with adding to main application `app/assets/co

[2022-07-03 17:18] #44778 closed

[2022-07-03 18:58] skipkayhil commented on #45510
It looks like engine manifests are supposed to be referenced by `<engine_name>_manifest.js` based on the dummy app manifest generated with an engine
https://github.com/rails/rails/blob/31b1403919eec0973921ab42251bfbbf3d4422b6/railties/lib/rails/generators/rails/plugin/templates/rails/dummy_manifest.js.tt#L9

Is this documented somewhere? If so it looks to me like the current behavior is correct bu

[2022-07-03 19:25] nvasilevski commented on #45496
Just wanted to point out that defining association with an explicit `inverse_of` argument fixes the issue, like:
`has_many :comments, ->() { where("1=1") }, inverse_of: :post`

So presumably defining a custom scope intentionally breaks the `inverse_of`  value that is supposed to be inferred by default

[2022-07-04 00:05] CHINOBv commented on #44143
This work's me :)

[2022-07-04 06:59] Sega100500 commented on #45510
@skipkayhil
from [docs](https://github.com/rails/sprockets#link) of `sprockets`
[code]

[2022-07-04 12:15] #44737 closed

[2022-07-04 14:17] asad-u opened #45516 "[Active-Record] Using .pluck with DISTINCT ON drops DISTINCT from the query"
### Steps to reproduce

[code]

Both of the above examples return non-distinct results.

### Expected behavior

[code]

### Actual behavior

DISTINCT ON gets dropped from the query which results in non-unique results.

### System configuration
**Rails version**: 6.1.4.4

**Ruby version**: ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-linux-musl]

[2022-07-04 16:33] ghiculescu commented on #45516
I'm going to close as this is expected, but feel free to reopen if there's any other issues here.

[2022-07-04 16:33] #45516 closed

[2022-07-04 16:59] rafaelfranca commented on #45506
Closing since the issue is on sprockets-rails

[2022-07-04 16:59] #45506 closed

[2022-07-04 17:47] Sega100500 opened #45519 "Images saved using ActiveStorage different in production and development environments"
### Expected behavior
In both environments same behavior

### Actual behavior
In development environment saved (attach) image in content-page within `gem ckeditor` using `ActiveStorage` with `mini_magick` - then in production environment image are not showed, and vice versa - saved in production, then are not showed in development. I use **same database** (mysql) in development and production envi

[2022-07-04 17:53] rafaelfranca commented on #45517
Duplicate of #45510

[2022-07-04 17:53] #45517 closed

[2022-07-04 17:55] rafaelfranca commented on #45510
Closed by https://github.com/rails/sprockets/commit/e36620745d7150fc33eccffeaf79e741a774499c

[2022-07-04 17:55] #45510 closed

[2022-07-04 19:19] rafaelfranca commented on #44809
We should check if `request` is set in the `javascript_include_tag` before calling `content_security_policy_nonce`.

[2022-07-04 19:27] nvasilevski commented on #45519
Correct me if I'm wrong, but it seems like you are saving images on disk, which means locally uploaded files are stored on your personal machine and production-uploaded files are stored on a remote server. So even though you connect to the same database doesn't mean that the files are stored at the same disk storage. In other words, it's unclear how production environment is supposed to access you

[2022-07-04 20:13] Sega100500 commented on #45519
@nvasilevski
Please read more carefully issue.
In both development and production environment files are sored on local disk.

[2022-07-04 20:43] hahmed commented on #45519
@Sega100500 had a look at this and I could not replicate.

I used sqlite and did not add the gem ckeditor -- could you repro this issue on a rails app and link it to here? (maybe try without ckeditor?)

Here is what I did;

- Upload a file in development
- run RAILS_ENV=production RAILS_LOG_TO_STDOUT=1 rails s
- I could see the same image in dev/production

[code]

[2022-07-04 20:48] hahmed commented on #45519
Could you confirm, is the url exactly the same for both development and production for the active storage attachment?

[2022-07-04 21:26] sobrinho commented on #45287
@jordan-brough please keep me updated if you find anything new, we are going to release the gem upgrade as suggested by Eileen but since there is no manipulation in the query cache at all, I'm guessing it won't take any effect.

I will keep here updated as well.

[2022-07-04 22:10] Sega100500 commented on #45519
@hahmed

Yes, in both environments image tag is same:
[code]

No issue https://github.com/rails/rails/issues/45510 is confirmed and https://github.com/rails/sprockets/commit/e36620745d7150fc33eccffeaf79e741a774499c

[2022-07-05 02:27] nvasilevski commented on #45519
@hahmed I think you can't reproduce because you are running both environments on the same local machine
but @Sega100500 seems to be running production env on a remote server, at least judging by a different `http://site_name/ ` url
So I don't get why there is an expectation to be able to read files locally by a relative path while these files are stored somewhere on a remote server storage. The on

[2022-07-05 03:13] Sega100500 commented on #45519
@nvasilevski
I repeat once again. Everything is **on the same computer**, in local storage. I have a separate dedicated server where I run both development and production environments. Enough of the stupid talk about different computers and cloud storage! Please don't treat me like an idiot

[2022-07-05 06:21] Sega100500 commented on #45519
log for access to images:
[code]

[2022-07-05 08:03] brunoprietog commented on #32948
I agree that it would be good to document this in the overview active storage guide.

[2022-07-05 09:44] #44802 closed

[2022-07-05 10:44] timdiggins commented on #31190
I recognise this thread is really dated, but I believe that if you're using Heroku Connection Pooling (rather than PgBouncer) it has the same effect, but I believe you could work this by just connecting directly to the DATABASE_URL, e.g. in the Procfile:

[code]

[2022-07-05 11:09] EarningEvolved opened #45524 "The Asset Pipeline documentation references vendor/assets, but after creating a new project, I only see vendor/javascript. Is the documentation incorrect or am I missing Vendor/Assets?"
Hello All! I have an old Rails project I am converting over to the "latest" way of loading javascript/images/etc. I created a new project using rails new . git -d postgresql and proceeded to go through the newly created shell to see the various differences in how the project was set up. I clicked on the vendor directory and noticed the directory had a javascript directory. I assumed that folder ho

[2022-07-05 12:55] nvasilevski commented on #45519
What is the `Rails.root` for both envs?
Could you get local path for both files and see if these files are actually there?
For example in a dev env
[code]
you could even check it for `ActiveStorage::Blob.all` if the app is not too big

[2022-07-05 13:11] eileencodes commented on #45519
@Sega100500 - I understand that you are frustrated but please be respectful of the people volunteering their time to help you.

[2022-07-05 13:23] abaldwin88 commented on #44792
@ghiculescu Can we reopen this?

[2022-07-05 14:31] kasi1999999 commented on #19256
I used `PROJECT_PATH/bin/spring stop`. Worked like a charm

[2022-07-05 17:14] ghiculescu commented on #45505
This used to work, but it was never intended to. https://guides.rubyonrails.org/active_support_core_extensions.html#how-to-load-core-extensions discusses how you should require Active Support. You should always have the top level require.

I'm going to close this as it's behaving as intended, but if there are any additional issues happen to re-open!

[2022-07-05 17:14] #45505 closed

[2022-07-05 17:22] ghiculescu commented on #45418
I'm gonna close this as it's a DJ issue.

I think the documentation could be improved. Would you like to make a PR? Ideally we take the gist of what you learned here and put it in the docs.

[2022-07-05 17:22] #45418 closed

[2022-07-05 22:11] vinibispo commented on #45496
I could reproduce it, and I agree

[2022-07-05 22:12] vinibispo commented on #45496
I think I can do this issue @pjambet

[2022-07-05 23:40] skipkayhil commented on #45524
Hey @EarningEvolved :wave: thanks for raising an issue! The `vendor/javascript` folder is coming from `importmap-rails`

https://github.com/rails/importmap-rails/blob/624d7737cf50b31dd366ca578af3f2555ef5e8ed/lib/install/install.rb#L17-L19

(I haven't been able to find where `vendor/assets` used to be created yet, but can confirm it is not created with `rails new` anymore)

I agree that Asset Pipel

[2022-07-06 02:24] nachoal commented on #44260
Same issue here when migrating from webpack to jsbuild, any clue?

[2022-07-06 02:48] EarningEvolved commented on #45524
Skip, thank you for your reply! I've found some more issues with the documents that don't match with the scaffolding. For example, the scaffolding introduces link_tree and link_directory, but the actual documentation references require_tree and require_directory in the manifest. Which one is the formally correct one to use?

Initially, I just slammed my old code into a new project and got it worki

[2022-07-06 06:34] skipkayhil commented on #45295
@josh-m-sharpe I created a PR that should fix the error you were seeing, if you are able to test it out and provide feedback I would really appreciate it!

[2022-07-06 09:38] shengshu commented on #44293
Thank you for your help.
Solved a big problem.

[2022-07-06 10:28] Sega100500 commented on #45519
@skipkayhil
Yes, they (`secret_key_base`) are really different for different environments, and I had an assumption that something is being encrypted at some level. I'm still trying to figure out at what level this happens.
At what I noticed that the thumbs of these images are displayed in both environments.

[2022-07-06 10:30] rolfschmidt commented on #44997
yo @mamhoff ,

thank you very much for your approach. I think this issue should get reopened because it is still a open topic to fix? I'm currently evaluating another hack which is a bit more dynamic and could be helpful for a proper fix. I found out that the constraint checks might be a nice indication to modify the column type on a lower level.

config/initializers/mariadb_json_columns.rb
[code]

[2022-07-06 13:13] gustavothecoder opened #45535 "Getting "Connection Closed: 1006" when trying to establish a connection to ActionCable"
### Expected behavior
I would like my real-time chat using ActionCable to work in a production like environment using Redis as the adapter.

### Actual behavior
I'm building a real-time chat using ActionCable and it works very well locally, but when I deploy to a production like environment it stops to work.

#### Browser
No error is displayed in the browser console, but non-stop requests to Actio

[2022-07-06 13:25] #45467 closed

[2022-07-06 13:35] Sega100500 commented on #45519
Another little experiment. It's not about image thumbnails, they behave exactly like images. You can see the page code:

[code]

But the fact is that thumbs images are formed dynamically in the `ckeditor` browser of the images using **`image_path(asset.url_content)`** (for use as path to image on content-page) and **`image_tag(asset.url_thumb, title: asset.filename)`**, their values are then writt

[2022-07-06 14:12] prashantsingh2408 commented on #40787
facing similar issue while migration
## Actual behavior
[code]

## Expected behavior
The command should successfully migrate the database

## System configuration
ruby 2.6.10
Rails 5.2.8
Ubuntu
* run the command ( but nothing fix)
```  gem install arel -v 7.0.0 ```
* I had go through stack overflow and may forum but not find any solution.

[2022-07-06 15:34] eileencodes commented on #45535
Hey @gustavothecoder can you provide a demo app that reproduces the problem?

[2022-07-06 15:49] eileencodes commented on #45519
It doesn't look like anyone has been able to reproduce this so far which means we can't determine the cause or fix. Can you provide an application that reproduces the bug? This will help us determine if it's coming from ckeditor or in Rails. Other users haven't reported similar issues so it's hard to say what's wrong without a repro.

[2022-07-06 16:44] nvasilevski commented on #45519
There must be something else apart from just different `secret_key_base`
As far as I understand, `signed_id` (which is used in the image url) are being generated "on the fly"
Which means that as long as the same environment generates (renders) and verifies signed ids we should be fine.
In other words, it is kind of expected for different environments to generate different URLs based on different `

[2022-07-06 18:27] Sega100500 commented on #45519
@nvasilevski

Many Thanks for this! Many Thanks for this! If it really depends on the `secret_key_base` and will display different results in development and production environments.

[2022-07-06 18:45] nvasilevski commented on #45519
If the goal is to have same URLs (signed_ids) generated for both envs, I think the most targeted solution would be to configure `ActiveStorage.verifier` to use message verifier with the same secret, like:
[code]
Not sure if that sounds solid security-wise though
But in my opinion at least it would be better than sharing the same `secret_key_base` as `secret_key_base` is used in different places wh

[2022-07-06 20:11] eileencodes commented on #45519
I chatted with @nvasilevski and re-read the issue and now have a better understanding of what the problem is. I asked for a reproduction app because it was clear that none of us fully understood the problem. Reproductions drastically reduce time to solution, that's why we ask for it in the issue template.

Unfortunately the behavior you're trying to use (a signed upload in one env working in anoth

[2022-07-06 20:11] #45519 closed

[2022-07-06 20:22] joevandyk commented on #45017
Thoughts on how to get this resolved? Seems sorta dangerous.

[2022-07-06 21:07] Sega100500 commented on #45519
@nvasilevski

Brilliant idea, amazing!
Everything worked as it should! I understood your idea, corrected where necessary.

Thank you very much! You would know how much you helped me!

I had to fix the ActiveStorage initializer a little, but this is the lesser of evils, what is the work of ActiveStorage in different environments.

[2022-07-06 21:17] Sega100500 commented on #45519
@eileencodes

Using the **same key** for encryption `Signed URLs` in both environments will not weaken the security of the application in the least!

I've read it all over and over! There is nothing like that, I have already tried all sorts of configurations.

The bug is present in the system and it consists approximately in the following scheme (as I already gave an example earlier):
[code]

It t

[2022-07-06 21:33] eileencodes commented on #45519
There is an entire section on public access here https://edgeguides.rubyonrails.org/active_storage_overview.html#public-access

I'm not going to argue about this anymore. This issue is closed.

[2022-07-07 01:44] Sega100500 commented on #45519
@eileencodes

@eileencodes , firstly, I want to immediately apologize for the fact that if suddenly my words offend you ...
You understand little about information security, so I recommend that you talk less about this topic in the future. And you need to be more attentive to solving people's issues, and not proceed from the fact that everything works fine for you. No, not everything!

### And now

[2022-07-07 09:36] jankeesvw commented on #36810
I am seeing this bug, every time I make a change in my code Sidekiq freezes and won't proces any jobs until I restart the proces. Setting the concurrency to 1 seems to fix the problem.

[2022-07-07 11:34] p8 commented on #36810
@jankeesvw
What version of Rails and Sidekiq are you using?

[2022-07-07 13:57] such opened #45542 "ActiveRecord: Bad handling of already loaded middle association in Associations::Preloaders::ThroughAssociation"
### Steps to reproduce

[code]

### Expected behavior
The association should be loaded properly

### Actual behavior
[code]

### System configuration
**Rails version**: 7.0.2.4

**Ruby version**: 3.1.1

[2022-07-07 14:53] Legomegger commented on #43582
Yes, using `Rails.cache.write`.
I noticed when I cache same simple object for example `object = {a: 1, b: 2}` repl returns different output for 5 and 6 rails

[2022-07-07 15:13] matthewd commented on #45519
@Sega100500 you've been repeatedly out of line in this thread, and your last comment was entirely not okay. In recognition of the fact you've apparently thought better of it and edited that comment, I'm only going to give you a short cooling-off period of one week.

I invite you to consider how you'd like to be treated as a volunteer contributor on a public project, and choose to act accordingly i

[2022-07-08 02:55] hiveer commented on #38027
I think the same question applies to video.

[2022-07-08 07:10] jankeesvw commented on #36810
@p8 I think I'm using the latest and greatest.

[code]

I'm using these sidekiq related gems:

[code]

[2022-07-08 07:10] mfa777 opened #45547 "CSS File with [application-*.css] name causes "No route matches" error"
### Steps to reproduce

First I use webpack and jsbundling-rails to build a CSS file from JavaScript code, which name is `application-webpack.css`, it located under builds folder.

[code]

webpack.config.js
[code]
Then include CSS from erb view:

`<%= stylesheet_link_tag 'application', "application-webpack", media: 'all', 'data-turbo-track': 'reload' %>`

This will generate

[code]

When access "h

[2022-07-08 07:11] jankeesvw commented on #36810
Initially it looked like my problem was fixed, but unfortunately setting the concurrency to 1 did not fix it. The bug just takes a bit longer to show up.

[2022-07-08 10:43] shouichi commented on #44808
@jonathanhefner Sorry for replying late. You are right. The PR did not fix
the problem and I closed the one.

I think I found the root problem. The problem is that `TimeWithZone` handles
timezone incorrectly when adding duration. Here's an example.

[code]

It seems like `TimeWithZone` converts itself to UTC, advances by duration then
converts back to the original timezone.

https://github.com/rai

[2022-07-08 19:04] vertfin commented on #25333
Just bit by this, another year later.

[2022-07-08 20:44] dutompson opened #45551 "ActiveRecord: Incorrect Mysql Connection Adapter Quoting handling"
### Problem

I'm running rake spec with a Mysql database named `database.name` with a dot in the middle of its name.

When the code is ran it goes through this line:

https://github.com/rails/rails/blob/3872bc0e54d32e8bf3a6299b0bfe173d94b072fc/activerecord/lib/active_record/connection_adapters/mysql/quoting.rb#L31

Then the database name is escaped like this:

``CREATE DATABASE `database`.`name` `

[2022-07-08 22:00] net1957 opened #45552 "Rails 7.0.3 Db migration with multiple Databases disturbing tasks name change when using database_tasks: in database.yml"
### Steps to reproduce
with the following databse.yml
[code]
the bin/rails -T return (filterer on db:migrate):

rails db:migrate                         # Migrate the database (options: V...
rails db:migrate:comdev_fr               # Migrate comdev_fr database for c...
rails db:migrate:down                    # Runs the "down" for a given migr...
rails db:migrate:primary                 # Migrate

[2022-07-09 07:55] kenaniah opened #45554 "`ActionDispatch::Routing::RoutesProxy#merge_script_names` throws exceptions given certain arguments"
### Steps to reproduce

1. Mount an engine in the routes file inside of a namespace (or sub path)
2. Attempt to call a top-level route from the engine's route helper
3. A runtime exception occurs -- NoMethodError: undefined method `join' for nil:NilClass

### Test Case
[code]

### Expected behavior
The engine's route helper (which is an instance of `ActionDispatch::Routing::RoutesProxy`) should re

[2022-07-10 23:23] #45270 closed

[2022-07-11 04:23] skipkayhil commented on #45547
Hey @mfa777, do you have an example repo that you could share to show how this error happens? Without this it is much harder to figure out what's going wrong

[2022-07-11 06:31] Merovex commented on #43928
I'm having this problem as of 7.0.3

[2022-07-11 09:36] mfa777 commented on #45547
Hi, @skipkayhil  have just set a new [Rails 7 demo app](https://github.com/mfa777/demo7), please start server with `bin/dev`

Error if keep application-webpack.css name
[code]
Page source of 127.0.0.1:3003/hello/index
![application-webpack](https://user-images.githubusercontent.com/2765931/178233405-4e663f6c-6fd8-4588-804b-90470460907b.png)

Screenshot of Routing Error when access http://127.0.0.1

[2022-07-11 12:41] thomasdziedzic-census opened #45560 "tag for v6.1.6 does not seem to live in this repository"
### Steps to reproduce

Visit https://github.com/rails/rails/tree/v6.1.6 and you will see: "This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.".

Alternatively:

[code]

### Expected behavior
Since 6.1.6 has been released, I expect there to be an associated tag in this repo. https://rubygems.org/gems/rails/versions/6.1.6

### Actual be

[2022-07-11 12:44] nivb121 opened #45561 "ActiveSupport:Cache:RedisCacheStore write_multi_entries with raw: true bug"
At function 'write_multi_entries', at:
activesupport-6.141/lib/active_support/cache/redis_cache_store.rb line 89
entries.map returns `raw_entry.expires_at` which makes to_h function fails.
This can be fixed by returning [key, raw_entry] at the end of the mapped block.

### Steps to reproduce

[code]

### Expected behavior
Successful writes to Redis

### Actual behavior
Raised Exception

### System

[2022-07-11 13:05] fatkodima commented on #45561
rails 6 is [no longer supported](https://guides.rubyonrails.org/maintenance_policy.html), only for security issues.
Can you verify your problem happens with the [7-0-stable](https://github.com/rails/rails/tree/7-0-stable) branch or the latest changes from the `main` branch?

[2022-07-11 13:10] fatkodima commented on #45551
Why the database is named with a dot in it? Can you use a db name with the `_`?
Peeps on stackoverflow [are arguing](https://stackoverflow.com/questions/776123/does-mysql-allows-to-create-database-with-dot) about the described approach.

[2022-07-11 13:17] fatkodima commented on #45560
It belongs to `6-1-stable` branch - https://github.com/rails/rails/commits/6-1-stable.

Works for me:
[code]

[2022-07-11 13:23] thomasdziedzic-census commented on #45560
Ah I see, in that case it seems unexpected because all the other tags live in main:

[code]

[2022-07-11 13:27] fatkodima commented on #45560
Try to switch to the latest release
[code]

[2022-07-11 13:29] thomasdziedzic-census commented on #45560
That works as expected.

[code]

[2022-07-11 13:32] fatkodima commented on #45560
What are the differences between https://github.com/rails/rails/issues/45560#issuecomment-1180405210 and https://github.com/rails/rails/issues/45560#issuecomment-1180411518 ?

[2022-07-11 13:37] thomasdziedzic-census commented on #45560
For https://github.com/rails/rails/issues/45560#issuecomment-1180405210 I was demonstrating that for the previous 6.1.x release before 6.1.6, the tag works as expected.

For https://github.com/rails/rails/issues/45560#issuecomment-1180411518 I was replying to https://github.com/rails/rails/issues/45560#issuecomment-1180409255 because you said to try the command, so I did and posted my experience.

[2022-07-11 13:45] matthewd commented on #45560
Looks like an error in the history: the tag is pointing to 147557dc16a5bd8bab96f999f359a570232e1873, while the branch contains d42b549de66988eecfca36e5581885e82d1b6d87.

They both have the same parent, but differ in that d42b549de66988eecfca36e5581885e82d1b6d87 contains the changelog headers that 147557dc16a5bd8bab96f999f359a570232e1873 was missing.

[2022-07-11 13:48] fatkodima commented on #45560
@matthewd Sorry for the offtopic, seems like you missed a notification, but can you please give a comment at https://github.com/rails/rails/pull/45381#discussion_r899200518?

[2022-07-11 15:48] eileencodes commented on #45552
Hey @net1957 this is an interesting use case. If there's only one database (in a single db app) we never show the individual tasks for primary because that would not be useful. While I think I could fix this I'm not sure that it's correct to.

If you have only one database with tasks turned on and the others have tasks turned off there is no functional difference between `db:migrate` and `db:migra

[2022-07-11 15:54] eileencodes commented on #45560
Oh this is my bad. That release was a disaster because I typed the wrong OTP code and the release failed half way through. Then the changelog headers got missed somehow. If I push the tags again will that fix it?

[2022-07-11 16:58] shanecav84 commented on #45483
That PR fixes the issue I am having.

[2022-07-11 18:42] net1957 commented on #45552
The problem appear after adding database_tasks: false to all databases not fully managed by Rails.
This was added to prevent any Rails modifications.
Before this change the task to migrate the primary DB was:
  rails db:migrate:primary
After the change the task to migrate the primary DB is :
  rails db:migrate

The script that run the migration (managed by  the DB teams) failed and we did have a l

[2022-07-11 19:44] Ikariusrb opened #45566 "Rails `button_to` form submission is detected as format turbo-stream incorrectly after redirect"
### Steps to reproduce
Generate a rails 7 application  (`rails new myapp`), scaffold a model (`rails g scaffold my_model`), update the index method in the model controller to respond to both HMTL and turbo_stream:

[code]

Create a single model on console (MyModel.new.save!) , and go to the show page for it (http://localhost:3000/my_models/1) - now click the "destroy this MyModel" button

### Expe

[2022-07-11 20:05] gustavothecoder commented on #45535
I updated Redis to 5.0.14 and now it works 🤔

Is Redis > 3.2 needed for ActionCable 6.0.2.2?

[2022-07-11 20:38] robzolkos commented on #45566
I suspect that its the browser that keeps the original `Accept` header in place during the redirect not Rails (meaning that its browser behaviour not a Rails bug but someone smarter than I can chime in).

Rails will default to responding with html if there is no explicit handling of turbo stream format so I haven't yet been bit by this (yet).  Can also disable turbo on the delete button.

[2022-07-11 20:50] Ikariusrb commented on #45566
There's no turbo-frames in the generated templates whatsoever.   The default generated `delete` controller method handles either html or turbo-stream formats, and is detecting format of html.  It then issues a redirect, which is detected as format `turbo-stream` if the redirect target handles both turbo stream and html. The fact that the detected format is switching after a redirect seems like a b

[2022-07-11 21:27] robzolkos commented on #45566
The _detected_ format isn't switching - it's just being responded to by a fallback handler (html).  You are however _explicitly_ handling the turbo_steam format in the index action.

So the flow goes

DESTROY (`text/vnd.turbo-stream.html, text/html` accept header)
1. ->   does a `turbo_stream` handler exist?  no, try with next accept header
2. ->   does a `html` handler exist? yes, redirect to ind

[2022-07-11 21:44] natematykiewicz opened #45567 "Record not touched when ActiveStorage::Blob is analyzed"
### Steps to reproduce
[code]

### Expected behavior
Analyzing an ActiveStorage Blob should touch all of the models that the blob is attached to.

### Actual behavior
The model is untouched.

### System configuration
**Rails version**: 6.1.6

**Ruby version**: 2.6

### Additional Context

ActiveStorage Blobs are considered immutable. The table has no `updated_at` column, and the documentation stat

[2022-07-11 22:12] Ikariusrb commented on #45566
Oh good grief. you're right.  The formats handled by the generated `destroy` method are `html` and `json`, there's no `turbo_stream` handler.  I have verified that the destroy method also selects turbo stream if a handler for that format exists.   So I guess the only surprising behavior is that `button_to` form submits a request that defaults to turbo-stream format.

[2022-07-11 23:36] #44837 closed

[2022-07-12 00:34] robzolkos commented on #45566
Yep - by including turbo-rails all form submissions are handled by turbo - which can be then _explicitly_ disabled per form.

[2022-07-12 03:57] cantin opened #45568 "AutoLoader Customizing Inflections in initializers dir is not working for models in autoloaded_once_paths"
[The customizing inflections section in Autoloading Rails guide](https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#customizing-inflections) is not working for classes in autoloaded_once_paths.

Because the initializer `setup_once_autoloader` is run before the `load_config_initializers`.

### Steps to reproduce

Run following script:
[code]

### Expected behavior
`bundle exec

[2022-07-12 07:26] rocket-turtle opened #45571 "MISSING_TRANSLATION from ActionView::Helpers::TranslationHelper is cached in the I18n cache and read back as a different Object"
We try upgrading to Rails 6.1 and have the following Problem.
If we call something like `t('some_untranslated_key', default: :hello)` in a view twice the result changes.
This can be reproduced with Rails Rails 7.0.3.

[code]

It might be related to this change https://github.com/rails/rails/commit/d81926fdacbeb384d211e22cff66195c1a753eb5.
The `translated` value from the I18n cache is not `true` fo

[2022-07-12 12:55] eileencodes commented on #45552
Yes but you're essentially telling Rails there's only one database so we never create the task for `db:migrate:primary`.

Basically the problem is that we can't know at this point in the Rails code whether you have a single db app or you have 2 databases and one of them has `database_tasks` set to false.

I considered just hiding the tasks from `rake -T` instead of skipping generating them at all

[2022-07-12 13:08] dutompson commented on #45551
I really wish I could change the database name. It would make my life easier!
But if MySQL allows a `.` in the database name then theoretically it shouldn't be escaped like in table names.

[2022-07-12 14:08] #45566 closed

[2022-07-12 14:25] leoarnold opened #45573 "Erroneous SQL when querying for empty has_one / has_many"
### Steps to reproduce

[code]

### Expected behavior

See inline comments

### Actual behavior

See inline comments

### System configuration
**Rails version**: 7.0.2.4

**Ruby version**: 3.1.2

[2022-07-12 14:33] leoarnold commented on #45573
Adding `.includes(:arms, :mouth)` doesn't change behavior.

[2022-07-12 15:44] jonathanhefner commented on #45571
It would be good to fix this, however, @rocket-turtle, have you benchmarked your app / view to see if using `I18n::Backend::Cache` is actually faster?

Given how [`translate` is implemented](https://github.com/rails/rails/blob/3cbc7279fbbe3d941f1b0aac4bc13c1620c3c4eb/actionview/lib/action_view/helpers/translation_helper.rb#L73-L93) (by looping over individual keys), I wonder if any cache-related p

[2022-07-12 16:11] luanzeba commented on #45567
Hey @natematykiewicz , thanks for the very detailed explanation of this issue. I think you will get more eyes on it if you open a PR with your suggested patch. I won't be able to merge it, but I'd be happy to review it

[2022-07-12 16:49] luanzeba commented on #45554
Hi @kenaniah , thanks for opening this issue!

It looks like your reproduction script is using some private Rails APIs like `ActionDispatch::Routing::RoutesProxy`. I'm not that familiar with the internals of ActionDispatch so it would be nice to get a reproduction script using public APIs from a user's standpoint.

I started a reproduction script here, but I wasn't sure what you meant in step 2 of

[2022-07-12 17:48] fatkodima commented on #45573
It is not working this way - you can pass `belongs_to` associations to the `where`, like `Mouth.where(octopus: octopus)`.

`Octopus.where(mouth: mouth)` => `Octopus.where(id: mouth.octopus_id)`
`Octopus.where(mouth: nil)` => `Octopus.where.missing(:mouth)`
`Octopus.where.not(arms: nil)` => `Octopus.where.associated(:arms)`

[2022-07-12 17:59] #44848 closed

[2022-07-12 18:20] leoarnold commented on #45573
Thanks @fatkodima! Leaving link to docs for others who land here:

https://api.rubyonrails.org/v7.0.2.4/classes/ActiveRecord/QueryMethods/WhereChain.html

[2022-07-12 18:20] #45573 closed

[2022-07-12 21:57] skipkayhil commented on #45568
Hey @cantin, thanks for the report! I agree that this behavior is confusing, however I'm not sure if its possible to change. The once autoloader is specifically documented as being used for autoloading things (once) in initializers, so it doesn't seem like it should be possible to modify the inflector in an initializer (as you discovered). Maybe the docs should be updated to recommend configuring

[2022-07-12 23:57] #45551 closed

[2022-07-13 01:59] cantin commented on #45568
Hey @skipkayhil, thanks for the reply. Updating the docs sounds great to me.

[2022-07-13 02:33] skipkayhil commented on #45547
Thank you for the repo! It helped me narrow down the issue:

Sprockets is misidentifying the `-webpack` postfix as a fingerprint since rails/sprockets@53ce8d6. (previously it would only match if it was a digit or a-f). I don't have a good answer yet for a way to determine whether something is intentionally dash cased or if its a fingerprint.

At the moment it seems like not using dash case is the

[2022-07-13 02:38] skipkayhil commented on #45568
Awesome, would you be interested in creating a PR?

[2022-07-13 05:59] sj26 commented on #44652
This is still reproducible.

[2022-07-13 11:43] rocket-turtle commented on #45571
@jonathanhefner I'm not sure if my benchmark is correct.

Thats what I tried:

On app startup I redefined the `MISSING_TRANSLATION`.  Please let me know if there is a better solution.
[code]

I added an `byebug` to the view to make my benchmarks in that context.
[code]

I was not sure how to deaktivate the cache for one test batch so I testet that setting and resetting the cache is the same speed.

[2022-07-13 14:25] jdelStrother opened #45585 "7.0.3.1 breaks ActiveRecord.store with yaml coders."
### Steps to reproduce

Try to use `ActiveRecord.store` in Rails 7.0.3.1 with the default YAML encoder

[code]

### Expected behavior

It should serialize simple values into the data column & back out, like it used to in Rails 7.0.3

### Actual behavior

It raises Psych::DisallowedClass  -

[code]

### System configuration
**Rails version**: 7.0.3.1

**Ruby version**: 3.0.4

[2022-07-13 14:48] cmitz opened #45587 "Config `use_yaml_unsafe_load` breaks `assets:precompile` when without `config/database.yml`"
## Context

We have a Rails app that we dockerized using a multi-stage Dockerfile. `database.yml` is not available when precompiling the assets, as assets are static and we don't want a NodeJS exec runtime when running the Rails container, and database connection info is supplied at runtime via ENV variables.

### Steps to reproduce
Demo available at: https://github.com/cmitz/rails_demo_unsafe_yam

[2022-07-13 15:38] ofedoren opened #45590 "Rails 6.1.6.1 with Ruby 2.5 throws ArgumentError: unknown keywords: permitted_classes, aliases"
Due to latest security update [1] backported to 6.1-stable Rails can no longer load on Ruby 2.5.

[1] - https://github.com/rails/rails/commit/f05ac78bfc9d172abaa86a9da139c7933e4e79c5

I guess it's due to simple overlook at the `safe_load` method version between different Rubies:

Ruby 2.5.9: https://ruby-doc.org/stdlib-2.5.9/libdoc/psych/rdoc/Psych.html#method-c-safe_load
Ruby 2.6.0: https://ruby-

[2022-07-13 16:21] timirwin commented on #45585
I'm getting the same stack trace with Rails 6.1.6.1 and Ruby 3.0.0.

[2022-07-13 16:22] eileencodes commented on #45590
Assigning to @skipkayhil since he's already noticed this and wants to work on a fix. Will let you know when it's merged.

While not a short term fix, it's recommended you upgrade your Ruby version ASAP. It has been EOL since March 2021 and could be vulnerable to other security issues.

[2022-07-13 16:52] #45585 closed

[2022-07-13 17:05] adjam commented on #45585
I know this is closed and the associated PR #45591 has been merged, but would it make more sense to put the fix into the serialization phase, for apps that are using `:serialize` in their models?

See projectblacklight/blacklight#2768 and https://github.com/projectblacklight/blacklight/blob/13c0e78181cd20f42530e10cfd415f9f7a673e78/app/models/search.rb#L6

[2022-07-13 17:16] byroot commented on #45585
@adjam no. `serialize` without arguments doesn't know anything about the type, so we can't do it here, and it wouldn't make sense.

`store` is unique here, as it does control the type of the content.

[2022-07-13 18:06] #45434 closed

[2022-07-13 18:37] eileencodes commented on #43059
This was fixed in `main` by #45450.

[2022-07-13 18:37] #43059 closed

[2022-07-13 20:22] MatheusRich commented on #42698
@byroot, I'm sorry to revive this, but show we get this also fixed on 6-1-stable?

[2022-07-13 20:31] byroot commented on #42698
6.1 is supposed to only receive security fixes: https://guides.rubyonrails.org/maintenance_policy.html

[2022-07-13 20:34] MatheusRich commented on #42698
Gotcha. Thank you!

[2022-07-13 22:29] skipkayhil commented on #45587
Hey @cmitz 👋 thanks for the repo, it made reproducing this super quick. The issue is the new patch loads `ActiveRecord::Base` in an initializer, which it should not be doing.

The fix is #45584 @byroot the initializer commit should be backported to `6-1-stable`, `6-0-stable` and `5-2-stable`

[2022-07-13 22:30] byroot commented on #45587
Thanks for the heads up.

[2022-07-13 22:34] byroot commented on #45587
Done.

[2022-07-13 22:43] skipkayhil commented on #45587
Thanks! @cmitz you can point your app at `6-1-stable` to fix this if its urgent. I don't know if/when another 6.1.x release will be

[2022-07-13 22:43] #45587 closed

[2022-07-13 22:46] lanej commented on #45590
In case anyone can't wait:

[code]

[2022-07-13 22:58] skipkayhil commented on #45590
You can also try adding `gem "psych", "~> 3.1"` to your Gemfile, this is only an issue with Psych 3.0.x

[2022-07-14 04:44] leboshi opened #45596 "Setting `schema_dump` in database.yml does not change dump format"
Originally brought up in #43173.  I opened PR #43240 to address it, but that was closed when it was decided #43530 did the same thing.  Unfortunately, I don't think any of us were really reading what the other was doing, because the two PRs actually each only addressed half the opened issue.

PR incoming to fully address this and the second half of #43173!

### Steps to reproduce
[code]

### Expec

[2022-07-14 04:47] leboshi commented on #45596
To clarify: incoming PR does _not_ read the `schema_dump` filename and try to guess what format it should use; rather, it lets you set `schema_format` per-database and assumes that if you're also setting `schema_dump`, you're setting it intelligently.  That seems like the least-surprising behavior to me, without getting into complexities of "What happens if you pass both?  Which overrides the othe

[2022-07-14 05:51] rocket-turtle opened #45598 "Rails 6.0.5.1: breaking change in ActiveRecord::Coders::YAMLColumn#yaml_load"
### Problem

We use the _audited_ gem and our tests fail with this exception:

`obj = "---\nemail: oda1@swift.io\nreset_password_sent_at:\nlast_password_change: !ruby/object:ActiveSupport::TimeWithZone\n  utc: 2022-07-14 05:41:52.142873000 Z\n  zone: &1 !ruby/object:ActiveSupport::TimeZone\n    name: Europe/Berlin\n  time: 2022-07-14 07:41:52.142873000 Z\n"`
https://github.com/collectiveidea/audit

[2022-07-14 06:01] rocket-turtle commented on #45598
Ah sry I just found the Releasenotes an it seems intenional.

https://rubyonrails.org/2022/7/12/Rails-Versions-7-0-3-1-6-1-6-1-6-0-5-1-and-5-2-8-1-have-been-released

https://discuss.rubyonrails.org/t/cve-2022-32224-possible-rce-escalation-bug-with-serialized-columns-in-active-record/81017

[2022-07-14 06:01] #45598 closed

[2022-07-14 08:44] cmitz commented on #45587
Awesome work people! Thanks for fixing it super quickly

[2022-07-14 13:13] rsl commented on #45585
is there an ETA on this getting a gem release? good work on this.

[2022-07-14 16:02] thekendalmiller opened #45600 "intermittent "uninitialized constant ActiveStorage::Attached (NameError)" errors on Rails 6.1.6.1"
### Steps to reproduce
Unfortunately it is very random and I have not figured out how to reproduce it.  It happens when starting the environment. My guess is it's related to zeitwerk as we recently upgrades to Rails 6.x

[code]

The missing constant we've seen the most is `ActiveStorage::Attached`. Our application code does not reference that class directly, but does use ActiveStorage.

Here is th

[2022-07-14 17:22] thekendalmiller commented on #45600
It's also happening rrandomly with CI where `eager_load = false`.

[2022-07-14 19:55] TakaiSaisei opened #45601 "Included in project gem with controller that inherits from ActionController::API breaks Jbuilder"
### Steps to reproduce

```rails new example_api --api```, ```bundle gem example_gem```, actual content of both can be seen in these commits:
https://github.com/TakaiSaisei/example_gem/commit/83f3c802171f2c9b334feceb681e2059daaea672
https://github.com/TakaiSaisei/example_api/commit/dd99c144278aecaab903ad05c62f402cb024c62d
[code]

### Expected behavior
Template ```views/users/index.json.jbuilder```

[2022-07-14 22:52] skipkayhil commented on #45601
Hey @TakaiSaisei, thanks for opening an issue!

I believe the behavior you are seeing is caused because you are requiring a controller in your gem. Since the gem is required by the application before initialization, the controller is autoloading Action Controller too early. The best way to use a controller in a gem would be to create an [Engine](https://guides.rubyonrails.org/engines.html), and th

[2022-07-14 22:52] #45601 closed

[2022-07-14 23:25] charlesdeb commented on #43976
Yeah, I had the same issue just now with ActiveStorage. I worked around it by doing `apt install -y libvips`

[2022-07-15 00:31] #44809 closed

[2022-07-15 09:26] nleo opened #45605 "`rails new --css bootstrap` can't patch some files on `rails css:install:bootstrap`"
`rails new content_service -T -d postgresql --css bootstrap`

![image](https://user-images.githubusercontent.com/800970/179195187-22545e95-5e5e-4254-880e-4fecfa5fa604.png)

[code]

[code]

[2022-07-15 10:02] Darsh560 commented on #35493
for the latest version of the rails, you can use the **create_with** option for default attributes.

` Post.create_with(created_at: Time.now, updated_at: Time.now).insert_all([
      { content: "first" },
      { content: "second" }
    ])
`
refer to this: https://api.rubyonrails.org/classes/ActiveRecord/Persistence/ClassMethods.html#method-i-insert_all

[2022-07-15 17:57] jtmalinowski opened #45607 "`ActionDispatch::ServerTiming` overwrites instead of appending to the `Server-Timing` header."
`ActionDispatch::ServerTiming` overwrites instead of appending to the `Server-Timing` header.

In an application this can be solved by inserting the middleware before the `ActionDispatch::ServerTiming`, however in a library it is potentially difficult to consistently insert the middleware so that it executes after `ActionDispatch::ServerTiming` or at the right time if `ActionDispatch::ServerTiming

[2022-07-15 18:01] ghiculescu commented on #45607
Yes, please do make a PR 👍

FYI server timing was added in Rails 7. I don't think this would get backported as it's not really a bug fix.

[2022-07-15 18:56] eileencodes commented on #45590
Closed by https://github.com/rails/rails/pull/45593

[2022-07-15 18:56] #45590 closed

[2022-07-15 20:06] #45571 closed

[2022-07-15 21:02] hahmed commented on #45605
Hey @nleo thanks for reporting this issue... this looks like its coming from https://github.com/rails/cssbundling-rails/blob/d920bc33de848a4bb31746ffb62e020d2ba6bce2/lib/install/install.rb#L2

So if you look further up the output you can see;

[code]

Esbuild (node setup) has already created the folder app/assets/builds and the line below is overriding those files via

`rails  css:install:bootstra

[2022-07-15 21:29] hahmed commented on #45600
The only thing I can thing off is are you loading an ActiveRecord model somewhere in the initializers? Would be awesome if you could create a sample application that reproduces this, I could not get replicate the issue.

[2022-07-15 22:04] thekendalmiller commented on #45600
I haven't figured out how to make it happen. It hasn't happened since I opened the issue. There are no model references in the initializers. If I figure out how to make it happen consistently, I'll update this issue.

[2022-07-16 06:11] dvodvo opened #45608 "javascript_importmap_tags creating a browser error"
At present, a turbo frame includes an edit link, but processes the item as HTML, not TURBO_STREAM.
While the code for executing the action appears correct, the console reports an error at edit:28:7 of the rendered HMTL, line 28 containing `<script type="module">import "application"</script>`  which appears to be the source of the mis-process.

### Steps to reproduce
**Note** the following was test

[2022-07-16 15:51] stanhu opened #45609 "Cannot add ActiveModel::Attribute::FromDatabase to permitted YAML safe load classes"
### Steps to reproduce

We have some database entries serialized to YAML. For example:

[code]

However, since the security release announced inhttps://rubyonrails.org/2022/7/12/Rails-Versions-7-0-3-1-6-1-6-1-6-0-5-1-and-5-2-8-1-have-been-released to address CVE-2022-32224, we cannot simply add `ActiveModel::Attribute::FromDatabase` to the permitted class list:

[code]

[code]

### Expected behavi

[2022-07-16 15:55] rzepetor opened #45610 "System test with importmap"
### Steps to reproduce
I have a "Sign up" link that has `data-turbo-frame` attribute, when test starts sometimes click is not intercepted by Turbo and nothing happens, but sometimes test run normally.

I also noticed that on development server if I refresh website and quickly click "Sign up" button also nothing happens. I must wait some time (maybe second) to be able to Turbo works

### Expected b

[2022-07-16 15:58] stanhu commented on #45609
Workaround is to do this:

[code]

[2022-07-16 16:51] spam100011 commented on #45610
7(#??7??6!6?
6?#6??*?
7?#6?6!
7+

[2022-07-16 16:51] spam100011 commented on #45610
ykkuwky

[2022-07-16 16:51] spam100011 commented on #45610
+opqowow

[2022-07-16 22:26] gustavothecoder commented on #45535
In [this app](https://github.com/gustavothecoder/demo-app-ac-bug) you can see the problem I'm facing, basically I just fork the [actioncable-examples](https://github.com/rails/actioncable-examples) and add a container with Redis 3.2, then the app starts crashing just like my app.

[2022-07-17 05:03] #45608 closed

[2022-07-17 07:34] youssef1337 commented on #42103
@seballot Mine is actually failing because of code inside `config/initializers` and I still do not get how to avoid preloading when doing `bundle exec rails db:create`, any ideas?

[2022-07-17 07:59] mensfeld commented on #44183
The problem still persists with 7.0. Nothing changed.

[2022-07-17 13:42] gabo-cs commented on #44842
Btw, I think that the proper label for this issue should be [autoloading](https://github.com/rails/rails/issues?q=is%3Aopen+is%3Aissue+label%3Aautoloading), right?

[2022-07-17 22:40] batistadasilva commented on #44313
Hello, I am getting this error too

My setup

[code]

Thank you

[2022-07-18 16:23] julienchabanon commented on #45585
Using `:serialize` in a model with an ActiveRecord type does not work anymore:

`serialize :current_user, User`

and adding **User** to `config.active_record.yaml_column_permitted_classes` in `config/application.rb` does not work.

[2022-07-18 16:33] julienchabanon commented on #45609
Indeed, using `:serialize` in a model with an ActiveRecord type does not work anymore:

`serialize :current_user, User`

and adding **User** to `config.active_record.yaml_column_permitted_classes` in `config/application.rb` does not work. Adding `ActiveModel::Attribute::FromDatabase` or `ActiveModel::Attribute.const_get(:User)` does not work either.

Error:
`uninitialized constant ActiveModel::Att

[2022-07-18 16:46] stanhu commented on #45609
I had to move the setting of `yaml_column_permitted_classes` into an `after_initialize` block inside `config/application.rb`.

[2022-07-18 16:54] julienchabanon commented on #45609
@stanhu thank you!!! It fixes the issue.

Here is the working config for me in `config/application.rb`:
[code]

[2022-07-19 01:05] skipkayhil commented on #44182
It sounds like a number of solutions have been found, including for the original issue, so I'm going to close this.

[2022-07-19 01:05] #44182 closed

[2022-07-19 01:15] skipkayhil commented on #45069
I believe this was fixed by #45068, but feel free to ping me if I'm misunderstanding and I can re-open

[2022-07-19 01:15] #45069 closed

[2022-07-19 04:54] danmun commented on #45590
I am getting something similar after moving from Rails 5.2.7 to 5.2.8.1. Using Ruby 2.5.7.

The error is thrown when trying to prepare the DB for tests, at first by running `rake db:seed`.

<img width="938" alt="Screenshot 2022-07-19 at 13 42 25" src="https://user-images.githubusercontent.com/13088645/179666786-03aeb9c1-1d7a-4470-bb1a-0e388755d465.png">

[2022-07-19 10:00] fwolfst commented on #37386
Afaict this does not work anymore in Rails 7(.0.1.3).

[2022-07-19 12:14] eileencodes commented on #45590
@danmun This was fixed in the closed PR. I've quoted what I wrote below.. I highly recommend upgrading to 6.x ASAP, 5.2 is no longer supported. It will not receive anymore releases.

[2022-07-19 19:35] tomu123 commented on #44738
This unexpected behaviour occurs only when I use the [] method to read an attribute from an active record model, the default accessor raises a NoMethodError. According to [the documentation](https://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods.html#method-i-5B-5D), this behaviour is wrong.

`irb(main):033:0> v.class.class
=> Class
irb(main):034:0> v.class.ancestors
=>
[SalesClient(id:

[2022-07-19 21:49] zenspider commented on #37616
The "proper" way to do this is to use a (block) block arg instead of `yield`:

[code]

[2022-07-19 22:09] jolmg commented on #37616
@zenspider The second post here showed that was available, and the PR that resolved this issue documented that.

[2022-07-19 23:03] jywarren commented on #45609
Thanks! This seemed to be an unexpected breaking change in Rails 5.2.8.1, I understand it's intentional, but I think there could be more notification of the breaking changes in the release notes or elsewhere. I tracked this for a while before finding this here.

When I try to [address this with permitted classes](https://github.com/publiclab/plots2/pull/11274), the list gets longer and longer as I

[2022-07-20 02:43] danmun commented on #45590
@eileencodes Noted, thank you! I will use 5-2-stable.

[2022-07-20 14:45] fxn commented on #44264
@bvogel Good one. I wonder if `descendants` is conflicting with itself depending on how you hit the hierarchy. I'll try to follow this hint.

Meanwhile, I believe it should be safe to do the same upfront in an initializer. Something like (off the top of my head):

[code]

Could you please add that and remove `StiPreload` from the application?

[2022-07-20 15:14] bvogel commented on #44264
@fxn it was even easier as that, We seem to run into a race condition as each constantize actually triggered another preload. by moving the line `self.preloaded = true` up to be the first in the `preload_sti` method we seem to have fixed this as subsequently the preload method isn't triggered again. the file now looks like this:
[code]

[2022-07-20 15:21] fxn commented on #44264
@bvogel problem is, it is not thread-safe. A second thread finds the flag set while the first one is still preloading, so it calls `super` with an intermediate state.

[2022-07-20 15:28] #44814 closed

[2022-07-20 15:53] RossBarnie commented on #44842
I came across this today when **not** recreating constants. Approximately I had:
[code]
Which loaded without failure, but when I added a default like so:
[code]

This would error with the following:
[code]

The API docs for Rails 7 don't seem to include the `enum: []` or `enum: {}` syntax anymore, instead specifying `:enum, []` or `:enum, {}`, and when I changed to the "new" syntax I no longer had

[2022-07-20 16:34] fesilvajacquier commented on #44738
Hey all!
Not an expert here. But I hope this helps.

From what I understand the key words in the [docs](https://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods.html#method-i-5B-5D) are "**identified attribute**"

[code]

Considering this example where we have the `User` model that has the `#email` attribute, we can see that the `ActiveModel::MissingAttributeError` is raised when we try t

[2022-07-20 19:29] bvogel commented on #44264
understood, but as a concern I can include the preloader in STI base classes as an initializer I ended up with this:
[code]
So I have to actively list the STI base classes here. Any idea how that could be avoided?

[2022-07-20 19:55] fxn commented on #44264
@bvogel STI has always tension, because we need to eager load in a lazy loading context. So you need to find the sweet spot in which you feel the trade-off is good enough for you taste.

The only way I can imagine if you control your application and STI columns have the common names, would be to scan the schema and detect the tables that have said columns.

You'd then trade a bit of boot time for

[2022-07-20 20:20] fxn commented on #44264
Hey, perhaps `StiPreload` has some issue that can be solved, eh? I need to dig into it, that initializer is something that may at least avoid the exceptions meanwhile.

[2022-07-20 20:39] bvogel commented on #44264
@fxn thanks for your patience. Yeah this preloading is hard. BUT we should at least reflect this back towards the rails documentation team as this initializer is probably safer than the solution they suggested?

[2022-07-20 22:17] raysuelzer commented on #39089
Was this ever fixed? This issue still persists when preloading scoped associations, especially when using preload

[2022-07-21 03:14] khiav223577 opened #45632 "`_read_attribute` method should also check whether an attribute is aliased or not"
### Steps to reproduce

[code]

Result:
[code]

### Expected behavior

I run into this issue when I tried to add an association on an aliased attribute.

Then I found `belongs_to_association` will use `_read_attribute` method to check if this foreign_key exists on this model or not.
It doesn't pass the condition, therefore `find_target` will not be triggered.
https://github.com/rails/rails/blob/32

[2022-07-21 09:59] tracyloisel commented on #45632
Excellent issue documentation @khiav223577 ! thank you

[2022-07-21 13:41] fatkodima commented on #45632
@khiav223577 This is a valid suggestion, I think. Feel free to open a PR.

[2022-07-21 20:47] eudaimonious opened #45634 "Check if database constraint exists before attempting to remove"
I love the new ability to add and remove constraints. I can't use the remove_constraint feature as intended however. I can not guarantee that the constraint will exist on every environment the migration is run and the remove_constraint method is designed to raise an error if the the constraint does not exist. What about if, instead, we check whether the constraint exists, and if it does remove it,

[2022-07-21 20:53] fatkodima commented on #45634
I think, we should add a new method - `check_constraint_exists?` (similar to `index_exists?` or `foreign_key_exists?`) and, additionally, an `if_exists` option to the `remove_check_constraint` (like for indexes and foreign keys is already done).

Would you like to open a PR?

[2022-07-21 21:33] eudaimonious commented on #45634
yes!

[2022-07-21 22:10] porterbayne commented on #37833
Same -- I'm on Rails 7 with VIPS, and embedded animated GIFs render correctly in the Trix editor, but not in the output.

[2022-07-21 22:11] porterbayne commented on #43917
Same -- I'm on Rails 7 with VIPS, and embedded animated GIFs render correctly in the Trix editor, but not in the output.

[2022-07-22 01:21] georgeclaghorn opened #45635 "Recent security releases are missing from the Releases page"
Rails versions 7.0.3.1, 6.1.6.1, 6.0.5.1, and 5.2.8.1 are not listed at this GitHub repository’s [Releases](https://github.com/rails/rails/releases) page. Past releases are listed there, including the most recent round of bugfix releases from May.

[2022-07-22 03:57] #43906 closed

[2022-07-22 07:40] axos88 opened #45636 "Invalid template types should raise an exception"
### Steps to reproduce

  - Create a template in views/foo/bar.txt.erb # Note .txt, and not .text

[code]
details = { locale: [:en], formats: [:txt], handlers: [:erb], variants: []}
ActionController::Base.view_paths.find("bar", 'foo', false, details, nil, [])

### Expected behavior

Should throw an exception that :txt is not a registered type in Template::Types

### Actual behavior

Silently fails

[2022-07-22 07:43] axos88 opened #45637 "Template details defined in strings should either throw or be accepted correctly."
### Steps to reproduce

  - Create a template app/views/foo/bar.text.erb

[code]

### Expected behavior

Rails should either throw an exception saying that details must be supplied as symbols, or the template should be correctly returned

### Actual behavior

Silently fails to find the otherwise existing template, specifying the correct directory it the file resides in.
Confustion intensifies.

##

[2022-07-22 13:05] schmijos opened #45639 "Explicitly touch on save"
### Steps to reproduce

[code]

### Expected behavior
If I tell _ActiveRecord_ to explicitly "touch", then I would expect it to update the timestamps.

### Actual behavior
`save` never hits the database if no attribute changed.

### System configuration
**Rails version**: >= 3.0.0, < 8

[2022-07-22 13:11] fatkodima commented on #45639
I think, you should use [`touch`](https://api.rubyonrails.org/classes/ActiveRecord/Persistence.html#method-i-touch) for this.

[2022-07-22 16:44] vccoffey opened #45640 "ActiveModel::Dirty changes not reset properly when using store_accessor (tested with postgres)"
### Steps to reproduce
Using PostgreSQL (pg) database
Given a model with a jsonb column
[code]
using store_accessor
[code]

### Expected behavior
Both tests pass:
[code]
### Actual behavior
The second test fails
[code]
### System configuration
**Rails version**:
tested with 6.1.6.1 and 7.0.3.1

**Ruby version**: 3.1.2

[2022-07-22 17:53] noahd1 commented on #14365
I just ran into this situation in my application, when I noticed that my `after_remove` callbacks weren't being triggered as I expected. This thread helped me, so thanks to everyone who contributed (@nickborromeo @MatheusRich especially).

The TLDR for me is that if you want an `after_remove` callback to be triggered when removing one item of an association collection, you need to use this form:

[2022-07-22 18:22] star-square commented on #44260
Same issue here when migrating from Webpacker to jsbundling-rails.

[2022-07-22 18:22] tjwp opened #45641 "value that fails to cast for a JSON column is silently set to nil"
### Steps to reproduce

Assign to a JSON column a value that cannot be cast, serialized and deserialized.

The value will first be cast by calling serialize, followed by deserialize:
https://github.com/rails/rails/blob/main/activemodel/lib/active_model/type/helpers/mutable.rb#L8

When deserialize fails for a JSON value, the error is rescued and nil is returned:
https://github.com/rails/rails/blob/

[2022-07-22 19:39] fatkodima commented on #45641
Looks like this is an established pattern: see https://github.com/rails/rails/blob/main/activemodel/lib/active_model/type/integer.rb or https://github.com/rails/rails/blob/main/activemodel/lib/active_model/type/date.rb and even more types there.

I think this is done to protect the application from failing when malicious users provide invalid values.

[2022-07-22 20:47] tjwp commented on #45641
What is surprising in this case is that outwardly the data is valid. It can be serialized as JSON. The failure can be attributed to the internal implementation and not to the value being invalid. In fact, this might succeed if a different JSON encoder is configured.

[2022-07-22 20:48] gitrobertofl opened #45644 "Getting started point 7.5. DELETE resource doesn't work"
Hi to everyone!

I'm a total newcomer to Ruby on Rails. I'm reproducing step by step the Getting started guide for versión 7.0.3.1 over Windows 10. Firefox 102.0.1

point 7.5. of the guide
When I click on link "delete", server sends this message

Started GET "/articles/5" for 127.0.0.1 at 2022-07-22 22:22:44 +0200
Processing by ArticlesController#show as HTML
  Parameters: {"id"=>"5"}
  Article Lo

[2022-07-23 12:50] egemen-github commented on #43976
I had a very similar problem when I wanted to view a uploaded picture (using trix) and constantly got this message:

**LoadError in ActiveStorage::Representations::RedirectController#show**
---
**Could not open library 'vips.so.42': vips.so.42: cannot open shared object file: No such file or directory. Could not open library 'libvips.so.42': libvips.so.42: cannot open shared object file: No such f

[2022-07-23 18:17] fatkodima commented on #45561
So I tested out, this is no longer an issue and should be closed.

[2022-07-23 18:42] nickjenkins83 opened #45646 "Broken links in Guides Documentation"
### Steps to reproduce
2 of the 3 links are broken currently on the 'Getting Started' guide.

[Mr. Neighborly’s Humble Little Ruby Book](http://www.humblelittlerubybook.com/)  ## Should now be (https://archive.org/details/ost-computer-science-humble-little-ruby-book)

[Why’s (Poignant) Guide to Ruby](http://mislav.uniqpath.com/poignant-guide/)  ## Should now be (https://poignant.guide/)

[2022-07-23 18:57] ghiculescu commented on #45646
Thanks for the report. Would you like to make a PR to fix the links?

[2022-07-23 22:03] Viktor-Ivliev commented on #44905
I close the task because there is a solution here https://github.com/rails/rails/pull/44959

[2022-07-24 06:55] chicken-teriyaki-cup-rice commented on #45646
I would like to make a PR! Could this me my first PR to open source ever?

[2022-07-24 07:10] bhaskarshankarling commented on #45646
Does this issue should even belong to this repo, it should be created in https://github.com/EbookFoundation/free-programming-books repo if I am not wrong 🙂

[2022-07-24 07:12] chicken-teriyaki-cup-rice commented on #45646
They already fixed it.

[2022-07-24 13:20] mikdiet commented on #44922
I've run again the test in these 2 configurations:

- rails version:
  - 7-0-stable
  - main
- ruby version:
  - 3.0.4p208 (2022-04-12 revision 3fa771dded) [x86_64-darwin21]

The test is still failing.

[2022-07-24 18:41] #44912 closed

[2022-07-25 05:57] gregorbg commented on #45428
Just dropping a note here that I'm running into the same exact issue. Using the backported fix on `7-0-stable` solves the issue for me. When can we expect a gem release including that commit?

[2022-07-25 07:47] obromios commented on #42218
I have a similar problem with a [gem](https://github.com/obromios/rails_fancies) that I am supporting.  Using rails 6.0.5.1 then all tests pass. However when I upgrade to rails 6.1.5.1 all tests fail, with the following type of error

[code]
The master branch of the gem uses `rails 6.0.5.1` and the `rails_6_1` branch uses `rails 6.1.5.1`.

[2022-07-25 18:12] fnando opened #45658 "`Model.update_all(attribute: interval_expression)` sets the wrong date when using Postgres' interval expressions"
### Steps to reproduce

[code]

Running the following script gives this output:

[code]

### Expected behavior

When calling `Model.update_all(attribute: expression)` using a Postgres interval expression, ActiveRecord sets the column to a date in the past. Using `Model.update_all(update_string)` works properly.

### Actual behavior

`Model.update_all(attribute: expression)` should behave like `Mod

[2022-07-25 18:22] fatkodima commented on #45658
You need to use `Arel.sql` for this: `Thing.update_all(next_thing_at: Arel.sql("next_thing_at + '15 minute'::interval"))`.

[2022-07-25 18:28] fnando commented on #45658
I understand that, but the problem is that the documentation states that the `updates` param in `update_all(updates)` can be a string, array, or hash representing the SET part of the SQL statement, never mentioning `Arel.sql`. We should at least amend the documentation to specify that `Arel.sql` may be required in some cases.

[2022-07-25 18:30] fatkodima commented on #45658
Yes, please, feel free to open a PR.

[2022-07-25 18:32] simi commented on #45658
@fnando would you mind to share SQL queries in your template output as well? It should be enough to set `ActiveRecord::Base.logger = Logger.new($stdout)`. We check what's the difference in between queries. Maybe it could be fixed actually.

[2022-07-25 18:34] fnando commented on #45658
@simi just updated the initial description with the logging part.

[2022-07-25 20:08] ghiculescu commented on #45658
Seems like AR is trying to parse `"next_thing_at + '15 minute'::interval"` as a datetime (because that's the column's type) and not having much luck. Which makes sense.

We should update the docs to mention that type casting will happen and you can opt out of that using `Arel.sql` (but you should never provide user inputted strings to `Arel.sql` to avoid SQL injection risks).

[2022-07-25 21:42] simi commented on #45658
indeed :-o

[code]

[2022-07-25 21:45] #44924 closed

[2022-07-26 05:14] #45658 closed

[2022-07-26 06:32] doughtyorg commented on #22965
Thank you, I love you :)

[2022-07-26 06:33] fxn commented on #44183
I missed this one.

If we replace `reload!` with a direct call to `Rails.autoloaders.main.reload`, the reload happens promptly. You cannot do that because reloading is not thread-safe, but that result suggests the 10s might come from the reload synchronization in the framework itself.

This script:

[code]

can be executed with `bin/rails runner` and simplifies reproduction. You'll see "about to r

[2022-07-26 06:39] itsalongstory commented on #25017
Why not give us a configurable option?

[2022-07-26 09:14] DStringer18 commented on #44863
I've got the same issue.

My code is like so:
`<%= link_to "Archive", archive_blog_path(@blog), data: {turbo_method: "post"} %>`
HTML output looks like this:
`<a data-turbo-method="post" href="/blogs/1/archive">Archive</a>`
and clicking on it still creates a get request:
[code]

[2022-07-26 09:29] lypanov commented on #44136
How rude.

[2022-07-26 12:38] brenogazzola commented on #44136
An alternative to monkey patching is to use one of the limited page rules that comes with free plans to force cloudflare to cache:

[code]

[2022-07-26 16:28] jonathanhefner commented on #44183
I think this is the same issue as #39431, which was not completely resolved.

[2022-07-26 16:33] fxn commented on #44183
@jonathanhefner great yak shaving in that ticket!

[2022-07-26 16:34] #45567 closed

[2022-07-26 18:29] archonic commented on #34687
People have reported the same issue when using the `route_downcaser` gem. See here: https://github.com/substancelab/route_downcaser/issues/33

[2022-07-26 22:32] archonic commented on #34687
I've also found that changing the `SECRET_KEY_BASE` env var can invalidate already generated variant URLs. This raises a whole bunch of issues. Once I have a minimal reproduction app, I'll open a new issue.

[2022-07-26 22:39] #45561 closed

[2022-07-27 04:11] behemoth-truongnd opened #45666 "Bug about view table when use version 7.0.3.1"
Hi everyone!
in the database i create a view table
[code]

I am getting error when using views table

[code]

### System configuration
**Rails version**:
7.0.3.1
**Ruby version**:
3.1.1

[2022-07-27 04:14] yahonda commented on #45666
I think this is a duplicate with #45062 and fixed in the 7-0-stable branch via #45067, not released as 7.0.z yet.

[2022-07-27 07:16] T4P4N commented on #45644
Same here i was also struggling this issue. here's a solution you can try out:
- change the `link_to` to `button_to` like this ( in your template file: `app/views/posts/index.html` )

`<%= button_to "Delete", post_path(post.id), method: :delete,  data: { confirm: 'Are you sure?' } %>`

for more info on this check out: https://github.com/rails/rails/issues/24459

in your controller file (`app/contr

[2022-07-27 08:39] behemoth-truongnd commented on #45666
@yahonda
oh that right.
thank you so much. I will close this issue

[2022-07-27 08:39] #45666 closed

[2022-07-27 12:03] klyonrad opened #45668 "enum definition silences UnknownAttributeError & misbehaves with outdated schema cache"
Defining an enum to a ActiveRecord model has the affect that typical safeguards / checks for *unknown attributes* are bypassed, for example when there was a typo in the database migration related to an enum.

**How was this observed?**

A process (example a worker processor like sidekiq), which had the enum definition loaded already, and another process/system changed the database with a migration

[2022-07-27 18:00] gitrobertofl commented on #45644
Hi Tapan:
#24459 is too old. I read it too. It is making reference to ujs, that is deprecated at Rails 7 and substited by turbo.
button_to have the same behaivior that link_to: no delete

¿Any issue with js Windows interpreter? Turbo is written in typescript. I don't know.
I have read in some webs about installing Node.js.
#43941 is closed but not resolved, I think (it is the same issue).
best reg

[2022-07-27 21:32] skipkayhil commented on #45644
Can you share a repo where you are seeing this? Without reproduction it is very hard to figure out what is going wrong

[2022-07-27 23:51] bradleygauthier commented on #44182
After many hours, this somehow fixed it for me:

[code]

I am not sure this should be a closed issue. Or it should be documented in the getting started process.

[2022-07-28 07:06] LukevanTricht commented on #44182
It would probably be a good idea to document that yarn > 1.x is not supported, to ensure things out outlined correctly. Simply following the [instructions](https://yarnpkg.com/getting-started/install) provided by Yarn for how to install `yarn`, will lead to you getting an unsupported version, and is where the ticket originated from.

[2022-07-28 07:22] T4P4N commented on #45644
@gitrobertofl from logs https://github.com/rails/rails/issues/45644#issue-1315405732 that you have given in the issue, it seems like your request is going to ArticleControllers show method, which is expected as you're passing linkto with posts_path & post as arguments & also "Destroy" is just string there, not any reference to ArticleControllers destroy method, for that you gotta use button_to wit

[2022-07-28 07:30] samkahchiin commented on #37108
@adamzolotarev  Thanks for the patch. May I know why the two empty files are needed?

[2022-07-28 12:02] strobilomyces opened #45681 "SameSite error logged in Firefox (rails/main)"
### Steps to reproduce
- Create a new rails app using main or on/after d29e755aea0cd01d3bb27f5a9db14b9a1a346bb0
- Add a model, change default route to its index
- Start server, open in Firefox (I'm using 103.0)

### Expected behavior
No console errors

### Actual behavior
The good old:

`Cookie “_fuck_session” does not have a proper “SameSite” attribute value. Soon, cookies without the “SameSite”

[2022-07-28 14:02] #42849 closed

[2022-07-28 14:53] james-em opened #45682 "ActiveRecord `with_options` should merge and combine options"
### Steps to reproduce

[code]

### Expected behavior

**First name** should be mandatory if email is present.
**Last name** should be mandatory if email **and** first_name is present.

### Actual behavior

**First name** is mandatory if email is present.
**Last name** is mandatory if first_name is present **even if the email is blank.**

The inner **if** seems to override the parent **if** that i

[2022-07-28 15:40] alexadia opened #45683 "Rails.application.config.active_record.has_many_inversing config not applied until load_defaults value is changed to 6.1"
### Steps to reproduce

* Uncomment `Rails.application.config.active_record.has_many_inversing = true` in file config/initializers/new_framework_defaults_6_1.rb.
* In config/application.rb, set `config.load_defaults` to 6.0 (no string). Ex: `config.load_defaults 6.0`.

In a rails console run
[code]

### Expected behavior

The output for both commands below should be true so that has_many_inversing

[2022-07-28 16:11] ghiculescu commented on #45683
@alexadia Thanks for the report, I think this is a known issue in 6.1. In 7 it should be resolved by https://github.com/rails/rails/pull/42499.

[2022-07-28 16:34] alexadia commented on #45683
Awesome!

[2022-07-28 16:34] #45683 closed

[2022-07-28 17:36] gitrobertofl commented on #45644
Sorry for the delay.
I have just create repo with my code
https://github.com/gitrobertofl/demo
I have addressed every step in the guide.
I have add 3 articles more, with app (not console)
windows 10 PRO 12H2
sqlite3
ruby 3.1.0
RoR 7.0.3.1
firefox 102.0.1

Best regards

[2022-07-28 18:29] fatkodima commented on #45668
So both problems can be fixed  by checking if the column exists before assigning to the enum:

[code]

If core people agree with this solution, I will open a PR.

[2022-07-28 18:37] vs37559 opened #45687 "Define correct constant with Zeitwerk"
Hi,
I am trying to add a file in custom directory as `app/data_dispatchers/file_dispatcher.rb`.
[code]
I am getting this error on running `rails zeitwerk:check`
[code]

Is there any workaround with which I can define `DataDispatchers::FileDispatcher` as my constant ?

### System configuration
**Rails version**: `v7.0.3.1`

**Ruby version**: `v3.1.2`

[2022-07-28 20:42] simi commented on #45687
as mentioned at https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#config-autoload-paths

That means `app/*anything*/file_dispatcher.rb` expects `FileDispatcher` to be defined in there. You can move your code out of app directory (into `lib` or so) or nest it into additional directory like `app/services/data_dispatchers/file_dispatcher.rb`. That file would expect `DataDispatch

[2022-07-28 21:57] skipkayhil commented on #45644
Thanks for the repo! It looks like your app is missing all `importmap-rails` related files, which likely means that `rails new` had errors `importmap:install` never ran.

The error is most likely that your version of Bundler is not up to date, which lead to an issue running `bundle install` during `rails new`. This has been fixed in [Bundler 2.3.17](https://github.com/rubygems/rubygems/blob/master

[2022-07-28 22:11] skipkayhil commented on #45682
This is specifically documented, so I think its working as expected:
https://github.com/rails/rails/blob/752b566152ca3e8daf4804c90777cc1a01d003f6/activesupport/lib/active_support/core_ext/object/with_options.rb#L53-L65

I'm going to close this since this isn't a bug and we reserve the issue tracker for bugs only. However, feel free to [try to implement the feature](https://guides.rubyonrails.org/c

[2022-07-28 22:11] #45682 closed

[2022-07-28 23:56] skipkayhil commented on #45568
Closed by #45581

[2022-07-28 23:56] #45568 closed

[2022-07-29 03:13] CodingAnarchy opened #45690 "NullStore cache randomly blows up in asynchronous cases"
### Steps to reproduce

This appears to be an esoteric bug that I found in an edge case while running asynchronous code that all queried the `NullStore` cache (which was empty).

I couldn't come up with a way to replicate without loading the entire application, nor by loading the application on another machine, but I did manage to fix it locally by adding a safe navigation operator on: https://git

[2022-07-29 06:24] vs37559 commented on #45687
@simi Thanks for the direction. I tried tweaking Zeitwerk as per above reference but it seems zeitwerk is simply ignoring the custom configurations. Any specified way to do this?

[2022-07-29 07:29] medranocalvo commented on #42713
This issue persists with Rails 7.0.3.  Please reopen.

[2022-07-29 08:41] fatkodima commented on #45690
Can you share more details about that asynchronous code, maybe with some code snippets?

[2022-07-29 09:53] cdimitroulas commented on #17621
Is there a workaround for this?

[2022-07-29 11:16] der-flo commented on #42849
Thanks again @rails-bot! I can confirm this problem still exists in `7-0-stable` and `main`.

[2022-07-29 11:19] der-flo opened #45691 "ActionMailer fails to create correct multipart message with rfc822 attachment"
I cannot re-open #42849 so I create a new issue…

### Steps to reproduce

[code]

The second test fails, the message object is rendered as follows:
[code]

### Expected behavior

The `message.mime_type` is `multipart/mixed` in both test cases. ActionMailer handles attachments in the way it is described in https://guides.rubyonrails.org/action_mailer_basics.html#adding-attachments describes.

### A

[2022-07-29 11:19] der-flo commented on #42849
I cannot re-open this issue so I created a new one: #45691

[2022-07-29 11:29] bhaskarshankarling opened #45693 "Missing unless statement in one of the view files in getting started guide"
### Steps to reproduce

Compare the content of `app/views/comments/_comment.html.erb` between [rails-getting-started-guide#using-concerns](https://guides.rubyonrails.org/getting_started.html#using-concerns) and [rails-getting-started-guide#deleting-comments](https://guides.rubyonrails.org/getting_started.html#deleting-comments), a `unless` statement is missing in [rails-getting-started-guide#delet

[2022-07-29 12:26] fschwahn opened #45694 "Find with array returns nothing if primary key is not selected"
### Steps to reproduce

When `select` is used and the primary key is not selected, the array form of `find` just returns an empty array.

[code]

### Expected behavior
I think this should either raise (asking users to include the primary key), or automatically add the primary key to the `select`ed columns. It could also just return the records, but in that case order is not guaranteed anymore, whi

[2022-07-29 15:16] CodingAnarchy commented on #45690
The error is occurring in this bit of code (note that I have removed some proprietary identifiers and renamed some methods):

[code]

The `date_params` method is being called to obtain the two date values for other code.

[2022-07-29 15:26] #45693 closed

[2022-07-29 16:44] headshota commented on #40613
This might be helpful for someone, we had similar issue, but this was related to spec type mixing in files, while having `config.infer_spec_type_from_file_location!`

We had several `type: :request` specs in controller subdirectory, which was causing similar errors. Moving these specs to dedicated `spec/requests` subdirectory solved the issue.

[2022-07-29 18:02] fatkodima commented on #45690
Am I missing something, or can you share some details about the asynchronous usage of this code you mentioned?

The problem you described may be somehow related to the thread unsafety of the local cache, used in the `NullStore`: https://github.com/rails/rails/blob/b623494a29d620f67f4093f60aba93705db02464/activesupport/lib/active_support/cache/strategy/local_cache.rb#L29-L31

[2022-07-29 19:02] kenaniah commented on #45554
@luanzeba I looked into creating a test case using just the public APIs, but frankly that's kind of irrelevant here. This report comes from a backtrace from one of my Rails 7 applications that happens to have a wild and wonderful routing tree (using multiple engines for subroutes that are dynamically generated via meta-programming).

Reducing the test case in the public API would depend on underst

[2022-07-29 19:20] alexadia commented on #44790
I had the same issue. Pretty much the same code, except in my case the parent record is trying to create an associated record with accepts_nested_attributes_for. But looks to be the same root issue.

[2022-07-29 19:26] gitrobertofl commented on #45644
This is the bundle installed without update
C:\demo>bundle version
Bundler version 2.3.7 (2022-07-29 commit unknown)

I'll try again with a new clean demo this weekend
Best regards.

[2022-07-29 20:46] #45681 closed

[2022-07-30 00:00] tomfast commented on #31476
For anyone else stumbling upon this issue and you've made your own engine, this helped me: https://github.com/bensheldon/good_job/issues/424#issuecomment-1176506223

[2022-07-30 00:13] caiohsramos opened #45702 "Attribute assignment fails after ActiveRecord::Persistence#becomes"
### Steps to reproduce

[code]

### Expected behavior

Should not raise `ActiveModel::MissingAttributeError` and assign the attribute
### Actual behavior

Raises `ActiveModel::MissingAttributeError` and doesn't assign the attribute
### System configuration
**Rails version**: 7.0.3.1

**Ruby version**: 3.1.1

[2022-07-30 02:28] pkayokay opened #45703 "Incorrect installation command for webpacker"
### Steps to reproduce

- Visit ["Install Webpacker"](https://guides.rubyonrails.org/webpacker.html#installing-webpacker)

### Expected behavior
- "To include Webpacker in a new project, add `-j webpack`..."

### Actual behavior
- "To include Webpacker in a new project, add `--webpack`..."

https://github.com/rails/jsbundling-rails/#installation

`rails new myapp -j [esbuild|rollup|webpack].`

[2022-07-30 08:48] fatkodima commented on #45702
From my understanding, `becomes` should be really used for conversions between parent-child or child-parent, not like child-child as in your example.

So the following works for me:
[code]

What is the usecase for converting between childs?

[2022-07-30 11:46] haffla commented on #45702
`child.becomes(Parent)`

I believe it's only meant to be used **up** the ancestor chain. If you look at the source of `becomes` it basically only instantiates a new instance of `Parent` and sets the attributes of the `child` instance on that new instance. That's it.

Everything else wouldn't make sense. Imagine an instance of `Car < Vehicle` becomes a `Bicycle < Vehicle`. Now it's a `Bicycle` but

[2022-07-30 12:02] fxn commented on #45176
@sanak I see https://github.com/gtt-project/redmine_custom_fields_groups/pull/14 is merged. Can we close this issue?

[2022-07-30 12:13] sanak commented on #45176
@fxn @ttqtrang146
Yes, I think that we can close this issue.

[2022-07-30 12:22] fxn commented on #45176
Awesome :).

[2022-07-30 12:22] #45176 closed

[2022-07-30 13:23] fatkodima commented on #45634
@eudaimonious Are you working on a PR?

[2022-07-30 14:43] #45702 closed

[2022-07-30 16:52] bekkou68 commented on #37775
Thank you for the information. I met the same case and fixed it.

In my case, I used the following gems:

- rails (6.0.5.1)
- Ruby (2.6.7)
- pry-rails (0.3.9)
- haml-rails (1.0.0)

The above environment shows: `DEPRECATION WARNING: SourceAnnotationExtractor is deprecated! Use Rails::SourceAnnotationExtractor instead. (called from <top (required)> at /Users/me/projects/myapp/config/environment.rb:3

[2022-07-30 20:55] gitrobertofl commented on #45644
Hi!

Init the getting started guide again with a clean installation of ruby

C:\Users\Roberto>ruby -v
ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x64-mingw-ucrt]

c:\datos\rails_prueba>bundle version
Bundler version 2.3.7 (2022-07-30 commit unknown)

C:\Users\Roberto>sqlite3 --version
3.39.0 2022-06-25 14:57:57 14e166f40dbfa6e055543f8301525f2ca2e96a02a57269818b9e69e162e98918

Last time I had s

[2022-07-30 21:44] septerr opened #45709 "Rails & can't pin JS files from Unpkg"
### Steps to reproduce
In a new Rails & app, try to pin a package from Unpkg CDN:

[code]

You get following response:

[code]
But the file does exist on unpkg: https://unpkg.com/@walletconnect/web3-provider@1.7.8/dist/umd/index.min.js

After adding some breakpoints in `.rbenv/versions/3.1.0/lib/ruby/gems/3.1.0/gems/importmap-rails-1.1.5/lib/importmap/packager.rb`, saw that the CDN post request an

[2022-07-30 22:56] dhnaranjo opened #45710 "Model.upsert_all raises ArgumentError if passed an empty array"
### Steps to reproduce

[code]

Which like... is on purpose as we can see in this lil snip, but why?

https://github.com/rails/rails/blob/d96609505511a76c618dc3adfa3ca4679317d008/activerecord/lib/active_record/insert_all.rb#L5-L11

### Expected behavior
Nothing happens, same as `Model.create` when passed an empty array. Or like... most things that accept arrays.

### Actual behavior
Raises `initia

[2022-07-30 23:25] fatkodima commented on #45710
That makes sense for me as well (considering the `create` method works this way).
The change was introduced in https://github.com/rails/rails/commit/ba795c9e4acc3954f52ad9f4d1059964a51cdce0.
@kaspth Can you recall the details of that change?

[2022-07-31 04:47] md-farhan-memon commented on #36810
Was anybody able to fix this with `classic` autoloader? I am facing this issue too and it is on production.

Issue with log traces: mperham/sidekiq/issues/5453
Ruby version: 2.7.3
Rails version: 6.1.6
Sidekiq version(s): 6.5.1, 5.2.10, 4.2.10

[2022-07-31 07:58] Quidstein opened #45712 "Yhing"
### Steps to reproduce

[code]

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

[2022-07-31 09:22] AdityaBhutani commented on #45634
I can work on it if not a problem. Have been trying to understand `activerecord` and it's flow for a couple of days.

[2022-07-31 10:48] zaouch opened #45713 "Rails Active Storage image variant flipped upside down"
When rendering a rails active storage image variant as follows:

[code]
The image gets flipped upside down. I have tried to remove the EXIF metadata by setting the `auto_orient` option as `true` like suggested [here](https://rubyflow.com/p/qqivs1-activestorage-variants-are-persisting-original-image-exif-metadata) without success. This is definitely a rails bug because as soon as I remove the varia

[2022-07-31 10:55] #44933 closed

[2022-07-31 11:31] fatkodima commented on #45713
Tested on rails `main` - works correctly for me
<img width="280" alt="Screen Shot 2022-07-31 at 14 29 20" src="https://user-images.githubusercontent.com/5657035/182024165-697103da-515e-4d99-8f63-33441803e080.png">

Can you verify your problem on the latest rails version? If it persists, can you create a small reproduction app and share with us?

[2022-07-31 15:33] #45712 closed

[2022-07-31 23:15] eudaimonious commented on #45634
Yep, I'm already on it!

[2022-08-01 02:00] skipkayhil commented on #45687
I definitely recommend trying to stay within the default configuration as described here.

Without a repo showing what you are trying to do, it's practically impossible to know what isn't working.

Since this doesn't appear to be an issue with Rails/Zeitwerk, I'm going to close this as we reserve the issue tracker for bugs only. I recommend bringing your question to the [rubyonrails-talk](https://

[2022-08-01 02:00] #45687 closed

[2022-08-01 03:37] alexpertsev commented on #44260
Regarding map file, faced same issue in development environment for Rails 6 (6.1.6.1) after upgrading from webpack to esbuild. Didn't notice same issue in Rails 7 (7.0.3). After checking the differences, noticed that fingerprinted version of application.js.map set as sourceMappingURL at the end of application.js file, is absent in Rails 7, but appears in Rails 6.
Rails 6 has `config.assets.debug =

[2022-08-01 04:21] skipkayhil commented on #45709
This sounds like an issue with the jspm api. I'll leave this open for a bit but an issue should probably be raised with them

[2022-08-01 04:29] skipkayhil commented on #45703
Webpacker refers to the [gem](https://github.com/rails/webpacker) that was the default in Rails 6, and is different than jsbundling-rails' Webpack, so I think these docs are technically correct.

There's an open PR to modernize the asset pipeline documentation at #45400, so I'm going to close this. However, feel free to provide feedback over there.

[2022-08-01 04:29] #45703 closed

[2022-08-01 04:34] skipkayhil commented on #45644
Right, as I mentioned its an issue with Bundler so you should upgrade to the latest version

[2022-08-01 04:37] skipkayhil commented on #45646
Closing as it looks like the links are correct in the linked repo

[2022-08-01 04:37] #45646 closed

[2022-08-01 04:56] skipkayhil commented on #45524
They have slightly different purposes, see the [directives section in the Sprockets README](https://github.com/rails/sprockets#directives).

Definitely feel free to open PRs. I think adding thoughts to #45400 would be very helpful as well as there's a lot of work to be done there.

[2022-08-01 15:09] CodingAnarchy commented on #45690
It is wrapped in a block with a semaphore:

[code]

The goal here is to generate some SQL and then execute it asynchronously against a database. What is fetched from the cache is a date (or nil, in which case we fall back to a default). In the development environment (where this was failing for me), the cache is empty and we expect the fall back.

I understand the `LocalStore` cache is not thread-

[2022-08-01 18:00] byroot commented on #45710
I agree that it would be more consistent to just noop.

I'll probably change this tomorrow if I don't forget, but I'd also take a PR.

[2022-08-01 18:57] gitrobertofl commented on #45644
Hi,
I understood that Bunder 2.3.17 fixed the bug, instead it has the bug, and it seems that was resolved with 2.3.19.
With this version of Bundler, RoR deletes resources well.
Thanks a lot for your help.
Best regards,
Roberto

[2022-08-01 18:57] #45644 closed

[2022-08-01 19:39] david-hello-world opened #45725 "Testing an invalid resource as turbo_stream format"
I've faced what I think is an inconsistency between testing an invalid resource in an integration test, and testing it using the browser. Explanation:

I have this create action (modified from a scaffold generated by Rails):

[code]

In the browser this works correctly:

- If post is valid, it responds as turbo-stream, adding the new post to the list with JS.
- If post is invalid, it displays the

[2022-08-01 20:10] gregmolnar commented on #19517
Since nobody complained about this for 7 years, I think this can be closed?

[2022-08-01 21:13] AdityaBhutani commented on #45343
Close this issue ?

[2022-08-01 22:09] #19517 closed

[2022-08-01 22:37] unRARed commented on #32948
thank you! `polymorphic_url` also worked for me. i agree with [brunoprietog](https://github.com/brunoprietog) this quirk should be added from https://edgeguides.rubyonrails.org/active_storage_overview.html. it seems strange to me that `url_for` would ever return a path, seems like that would be `path_for`.

[2022-08-01 22:42] seanarnold commented on #44583
Indeed. The documentation at https://guides.rubyonrails.org/asset_pipeline.html still mentions Coffeescript. It really needs to be updated with the latest way of doing things.

[2022-08-02 00:37] r7kamura commented on #43728
I submitted https://github.com/rails/rails/pull/43729/files, but it was automatically closed. If Rails is not going to support this feature, I'm going to close this Issue too. What do you think?

[2022-08-02 02:28] skipkayhil commented on #43728
I'll reopen since stale PRs don't get closed now

[2022-08-02 07:37] #45690 closed

[2022-08-02 10:54] #45343 closed

[2022-08-02 11:02] #45710 closed

[2022-08-02 14:13] IlkhamGaysin commented on #13775
+1 having this with `includes`

[2022-08-02 15:15] simi commented on #13775
@IlkhamGaysin would you mind to open new issue with reproducer (https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_main.rb) on rails main?

[2022-08-02 17:31] gardnerapp commented on #45725
It's not an issue or inconsistency with the framework. Your invalid test is specifying a format that does not exist at the controller level, that is why you are getting an unknown format error. if you add ```format.turbo_stream ``` to your else clause the test will work properly.  You'll need to add a turbo frame to your view to tell your users which errors they are making on form submission. Does

[2022-08-02 17:34] colmexdev commented on #45428
Hello there.

   I have the same issue on 7.0.3.1 so, supporting @gregorbg's question, I'd like to know if we can have a release for 7.0.z anytime soon regarding this fix.

   Thank you very much in advance!

[2022-08-02 18:01] ghiculescu commented on #45725
Hmm, are you sure? This seems surprising as there's no code for this scenario - what turbo stream content does it render?

Could you share a simple replication app that we can clone to see this behavior?

[2022-08-02 18:08] ghiculescu commented on #45709
Replication script:

[code]

Output:

[code]

Second what @skipkayhil said - seems to be an issue on the unpkg side.

[2022-08-02 18:09] camiloforero opened #45736 "Virtual stored columns are always nil for newly created records"
### Steps to reproduce
Using postgresql:

Generate a new model with one or more columns with default values, and a virtual stored column based on those other columns
Create a new record of that model
Access the value of the virtual stored column from the newly created ActiveRecord object
[code]

### Expected behavior
The value of the virtual column should be *something*, in this particular case, 0

[2022-08-02 18:20] ghiculescu commented on #45736
Hmm, I couldn't get your tests to run locally. But I tried adding equivalent tests to the framework and they are passing fine.

https://github.com/rails/rails/blob/main/activerecord/test/cases/adapters/postgresql/virtual_column_test.rb

[code]

Then `ARCONN=postgresql bundle exec ruby -Itest test/cases/adapters/postgresql/virtual_column_test.rb` to run the test -> they all pass.

Can you see anyth

[2022-08-02 18:29] ghiculescu commented on #45736
Looking at https://github.com/rails/rails/blob/3661d0d8a46a2725b3e7bacbc230e4f183fb67dc/activerecord/lib/active_record/persistence.rb#L1117 I wouldn't say this is "expected", but it seems like the only column that gets updated based on a `create` is `id`.

[2022-08-02 18:30] camiloforero commented on #45736
That's probably it, I assume PostgreSQL updates the virtual column's value on its end, but because it isn't included in the `RETURNING` clause, ActiveRecord keeps the old value. Or `nil` when the record is new.

I assume the most efficient fix could be adding all virtual columns to the `RETURNING` clauses of `INSERT` and `UPDATE` statements

[2022-08-02 18:35] ghiculescu commented on #45736
I think so, would you like to try and make a PR for this?

[2022-08-02 18:53] camiloforero commented on #45736
I could try?

I assume I'd have to work on this particular snippet,

https://github.com/rails/rails/blob/3661d0d8a46a2725b3e7bacbc230e4f183fb67dc/activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb#L91-L93

I'd need to find a way to get the table's columns based on the table name, and add the virtual ones to the `RETURNING` clause

And then make sure those values a

[2022-08-02 19:28] matthewd commented on #45736
I think this overlaps with #39968, which sits near the very top of my shame pile of super-valuable PRs I need to take the time to review and merge.

It's been [more than] a while since I've read through that PR, but from my recollection, I think you're describing a behaviour that I would _like_ to have automatically supported, but which is not directly implemented in that change.

If you're still

[2022-08-02 19:46] ghiculescu commented on #45691
For reference: it seems like https://github.com/mikel/mail/pull/1389 will resolve this. I guess the other issue went stale as it's not clear if there's any way to fix the issue in the Rails codebase.

@jeremy sorry to tag you out of the blue but you're a `mail` committer too... is there any chance you'd be able to look at that PR or tag in someone who could?

[2022-08-02 19:52] ghiculescu commented on #45637
It's not really clear to me what the issue is here... would it be possible to make a simple replication app that shows the issue? Then we can clone it, replicate it, and test fixes against it.

[2022-08-02 21:58] skipkayhil commented on #45428
I'm going to close since this has been fixed on main, you can use `gem 'rails', github: 'rails/rails', branch: '7-0-stable'` as mentioned above if you need the fix sooner than the next release.

[2022-08-02 21:58] #45428 closed

[2022-08-03 04:53] skipkayhil commented on #45610
Do you have a repo/reproduction where you can show this happening? It's very hard to figure out what is going wrong without one

[2022-08-03 08:24] david-hello-world commented on #45725
Sorry, I wanted to say that the controller is responding to my turbo-stream request. In the browser it's rendering the response as a turbo-frame. So it's accepting the turbo-stream request. This is not happening on the integration test.

Here's the repo: https://github.com/david-hello-world/turbo-stream-sample

[2022-08-03 08:24] c960657 opened #45742 "`change_column_null` resets collation"
`change_column_null` changes the column's collation to the table's default collation.

This bug is visible when changing a column whose collation differs from the table's default collation.

Tested with MySQL.

### Steps to reproduce
Run this migration:
[code]

The end result is that all columns should be NOT NULL. The `_col_1` columns are set to `NOT NULL` in `create_table`, and the `_col_2`  col

[2022-08-03 09:04] rubywarlock commented on #40763
Are you using master.key file?

[2022-08-03 10:53] marvinthepa opened #45746 "Feature request/suggestion: add "exist?" aliases to "exists?" methods"
Rationale:
Rubys [`File.exist?`](https://rubyapi.org/3.1/o/file#method-c-exist-3F) used to have an alias `File.exists?`, but it was deprecated and removed: https://bugs.ruby-lang.org/issues/17391

Rails methods that do a similar thing are (still) called `exists?`, and no alias exists (no pun intended).
This makes for a sub-optimal developer experience, as $developer always needs to remember where

[2022-08-03 12:53] #45742 closed

[2022-08-03 13:03] c960657 commented on #45742
Wow, that was fast! Thanks @byroot

[2022-08-03 13:03] byroot commented on #45742
Credit goes to @fatkodima

[2022-08-03 13:07] byroot commented on #45742
Would be good to backport this to 7.0, but the patch doesn't apply clearly. I'll try to look at that a bit later.

[2022-08-03 13:18] sergioisidoro commented on #29969
I was struggling with a similar problem (multiple keys), but with opposite results.

My goal was to have:
[code]
resulting into the query
[code]

Right now it already resolves the list of foreign keys into a list, I wonder if we could just resolve them into multiple WHERE AND clauses in the reflection scope.
[code]

So I guess I would expect and AND behaviour when multiple keys are provided instea

[2022-08-03 13:21] simi commented on #29969
:thinking: There is this well maintained gem for composite primary keys support - https://github.com/composite-primary-keys/composite_primary_keys.

[2022-08-03 13:22] sergioisidoro commented on #29969
@simi at least my issue is that I don't want them to be _primary_, I want them just to be keys, while keeping id as a primary key.

[2022-08-03 13:26] byroot commented on #45742
Backported to `7-0-stable` as d60d0587c3c10c891b717299ed052ded5658c20d

[2022-08-03 15:12] ghiculescu commented on #45746
Hi @marvinthepa thanks for the feedback. We don't typically take feature requests on the bug tracker, we reserve it for issues. Please do either [start a discussion](https://discuss.rubyonrails.org/), or make a PR, either way would be a great way to discuss further. Thanks!

[2022-08-03 15:12] #45746 closed

[2022-08-03 15:45] ghiculescu commented on #45725
If you add this to the controller, you can see the issue:

<img width="355" alt="image" src="https://user-images.githubusercontent.com/509837/182651413-30b7f7cd-4ab0-4fb9-950b-6cf021f1a878.png">

[code]

The correct way to write the test is like this: https://github.com/ghiculescu/turbo-stream-sample/commit/c9ac6b72281d949db3933049b36892ace94eb69b

[2022-08-03 16:11] david-hello-world commented on #45725
Thank you. Maybe this should be better documented.

[2022-08-03 16:11] #45725 closed

[2022-08-03 16:16] onlynone opened #45750 "Running `rails test` doesn't automatically load any custom tasks under `lib/tasks`"
### Steps to reproduce

1. Create the file `lib/tasks/test.rake` with the content:
[code]
2. Create a test file at `test/unit/rails_test_test.rb` with the content:
[code]
3. Run `bin/rails test test/unit/rails_test_test.rb`
4. Run `bin/rake test test/unit/rails_test_test.rb`

### Expected behavior
Both `rails test` and `rake test` should succeed.

### Actual behavior
Running the tests with `bin/ra

[2022-08-03 16:29] ghiculescu commented on #45725
@david-hello-world would you like to make a PR to improve the docs?

[2022-08-03 16:31] david-hello-world commented on #45725
Sure thing. After my vacation I will find some time to look for a place to fit this information.

Thanks for looking into it.

[2022-08-03 17:16] onlynone commented on #45750
For some background as to why we'd want custom tasks to be loaded for `bin/rails test`:

We do some important setup in `test/test_helper.rb` that we always want to run before any tests. Most of our test files end up loading this file either directly or via other `require`d files. But sometimes that doesn't happen. And if that test file happens to run first during `bin/rails test`, or it's run dire

[2022-08-03 18:08] onlynone commented on #45750
[One of the comments](https://github.com/rails/rails/issues/27088#issuecomment-261385679) on #27088 said:

However #26414 was merged, but it seems like there's still no way to add dependencies to the rails test command.

And [another comment](https://github.com/rails/rails/issues/27088#issuecomment-261385936) says:

But it looks like many things still are passed to rake even in rails-7.

[2022-08-03 18:20] #45668 closed

[2022-08-03 18:41] #45634 closed

[2022-08-03 21:21] fatkodima commented on #44964
Still valid.

[2022-08-03 23:42] shhavel opened #45757 "ActiveRecord 6.0 and JSONB: Incorrect results value/type when using both arrow operator and double arrow operator in the same SELECT statement"
### Issue Description

Generally when using JSONB operators `->` (arrow operator) and `->>` (double arrow operator) in SELECT statement,
ActiveRecord returns correct result types: objects for `->` operator and string for `->>` operator.
But when using both operators in the same select statement, the returned results may have an unexpected type or be `nil`.

### Steps to reproduce with Expected beh

[2022-08-03 23:42] shhavel opened #45758 "ActiveRecord 6.1 and JSONB: Incorrect results value/type when using both arrow operator and double arrow operator in the same SELECT statement"
### Issue Description

Generally when using JSONB operators `->` (arrow operator) and `->>` (double arrow operator) in SELECT statement,
ActiveRecord returns correct result types: objects for `->` operator and string for `->>` operator.
But when using both operators in the same select statement, the returned results may have an unexpected type or be `nil`.

### Steps to reproduce with Expected beh

[2022-08-04 00:26] skipkayhil commented on #45757
I'm going to close this one since 6.0 isn't receiving bug fixes, continuing discussion in #45758

[2022-08-04 00:26] #45757 closed

[2022-08-04 00:58] skipkayhil commented on #45758
I can confirm that your tests are failing on `7.0.3.1`:
[code]
This is the query being run in `test_jsonb_arrow_operator_and_double_arrow_operator`, and I confirmed that this query run in postgres looks correct:
[code]

so I'm thinking the issue must be in parsing the result?

[2022-08-04 02:43] lordofthedanse commented on #44842
@RossBarnie yes, I just ran into this and was going to write it up ... but you already did the hard work.

Basically a better error probably helps ... or break the old syntax and make people update (I’d probably just do the latter).

The current error is not great when accidentally adding a new-style argument (`default: :foobalicious`) at the end of old-style syntax (`enum status: { coo_coo_coo: 0

[2022-08-04 04:59] patodevilla commented on #36298
To prevent patching my production code, I did the following on my `Current` class. Not the most elegant solution but its simple and works 😬

[code]

If you really need to reset, just call `original_reset`.

[2022-08-04 07:22] postmodern opened #45759 "ActiveRecord does not correctly parameterize queries against binary columns"
I ran into this edge case where I wanted to query a binary column (stored as a SQLite3 BLOB) with a parameterized query. However, ActiveRecord cannot correctly parameterize the binary input String.

### Steps to reproduce

Gemfile:

[code]

test.rb:

[code]

### Expected behavior

Queries the `bin_data` column using the special SQLite3 literal binary string syntax of `bin_data = x'000102'`.

### A

[2022-08-04 07:31] postmodern opened #45760 "ActiveRecord does not correctly format a parameterized array of bytes when querying a binary column"
I ran into this bug where I was trying to query a binary column using a parameterized value. I assumed it must require an Array of bytes instead of a binary String. However, this resulted in the Array of bytes being formatted as `a,b,c`, which caused a SQL error.

### Steps to reproduce

Gemfile:

[code]

test.rb:

[code]

### Expected behavior

Queries the `bin_data` column using the special SQLi

[2022-08-04 08:19] matthewd commented on #45760
This one is expected behaviour: we have no context on the intended use of the `?` placeholder in the middle of a string, so we can only apply one interpretation. The meaning we historically settled on, when given an array, was to render it as a comma-separated list of individually escaped values (being intended for use as e.g. `"some_col IN (?)"`), which does indeed yield invalid SQL in a context

[2022-08-04 08:19] #45760 closed

[2022-08-04 08:29] fatkodima commented on #45759
You should use hash syntax for this: `User.where(bin_data: bin_data)`.

[2022-08-04 08:44] postmodern commented on #45759
@fatkodima and what about complex SQL queries that involve multiple binary columns and comparison operators other than `=`, such as `Model.where('bin_col1 <= ? AND bin_col2 >= ?', bin_key, bin_key)`?

At the very least the error message does not instruct the User how to correct the error.

[2022-08-04 08:47] fatkodima commented on #45759
See https://github.com/rails/rails/issues/45760#issuecomment-1204924061

[2022-08-04 08:48] byroot commented on #43982
Thank you for raising the issue.

As discussed on the contributor discord after you brought it up, so far we don't think the Rails maintainers are well equipped to maintain a default imagemagick config.

We also think it would make sense to bring this to image_magick, the assumption being that project is better suited to decide what a default IM policy could be, and at the very least make it easy

[2022-08-04 08:48] #43982 closed

[2022-08-04 08:49] postmodern commented on #45759
I guess what I really want is the Arel Query Builder instead of parameterized SQL Strings.

[2022-08-04 08:49] #45759 closed

[2022-08-04 09:15] simi commented on #45759
On the other side Arel is (sadly) considered private API. ¯\_(ツ)_/¯ There is no officially recommended way of doing those queries within `ActiveRecord` AFAIK.

[2022-08-04 11:30] sergioisidoro commented on #13496
+1

[2022-08-04 11:56] fatkodima commented on #45758
Active Record gets the results correctly, but there is one problem.
[code]

Because these are not the real columns, PostgreSQL names them as `?column?`. One of them is of type jsonb, so Active Record assigns `jsonb` type for `?column?` here: https://github.com/rails/rails/blob/a0c1d33d2f934ebe050b8dd69336200cbca2ae3e/activerecord/lib/active_record/connection_adapters/postgresql/database_statements

[2022-08-04 12:44] fatkodima commented on #45758
We can raise/warn, when we have duplicate columns names 🤔

[2022-08-04 14:47] iMacTia commented on #44418
@gmcgibbon we tried doing that just now but if we do, it breaks 2 lines later:

https://github.com/rails/rails/blob/24956f2e5fdbc43ff5e073a8f5c4d7f710d359e5/activerecord/lib/active_record/test_fixtures.rb#L47

@inem were you actually able to make this work? It doesn't look to me like this is currently supported

[2022-08-04 15:55] Sega100500 opened #45761 "In Ruby on Rails 7.0.3.1 with Bootstrap 5.2 Uglifier error in production mode"
Ruby 3.1.2
Ruby on Rails 7.0.3.1
gem Uglifier 4.2.0
Third party library: Bootstrap **5.2** ( [new version 5.2 released](https://blog.getbootstrap.com/2022/07/19/bootstrap-5-2-0/) )

#### With bootstrap 5.1.3 (previous version) all works fine!

`app/assets/config/manifest.js` :
[code]

in view stylesheets and javascripts are attached via `stylesheet_link_tag` and `javascript_include_tag`

`config/e

[2022-08-04 18:23] gmcgibbon commented on #44418
True, I just tried using a glob and that line doesn't quite parse the name correctly depending on the glob length v folder name length. We can probably use `File.basename` instead. Do you want to open a PR?

[2022-08-04 19:56] #44787 closed

[2022-08-04 22:01] zaouch commented on #45713
I've finally solved the problem by updating the backend the `image_processing` gem was using under the hood on my local machine. So, it was not really a rails issue, but something worth keeping in mind when using Active storage variants.

[2022-08-04 22:01] #45713 closed

[2022-08-05 00:40] jakeonfire commented on #43422
Seems like this is still an issue with Rails 7.1.0alpha - when using `--javascript=importmap` option the generator adds e.g. ```ruby
pin "@hotwired/stimulus", to: "stimulus.min.js", preload: true
[code]

[2022-08-05 02:25] skipkayhil commented on #45646
I wanted to follow up on this because I think I found the broken links: https://guides.rubyonrails.org/v4.0/getting_started.html

However, I don't think there will be any updates to the EOL Guides

[2022-08-05 08:54] thomasvanholder opened #45766 "Active Model Dirty: attribute_changed? options (from/to) do not accept symbol"
### Steps to reproduce
The `attribute_changed?` receives optional options, such as `from` and `to`. Each option key is passed a value. Only string values are accepted, and symbols are not recognized. This is inconsistent behavior as updating a column using the `update` method does accept both a string and a symbol.

 Source code: [attribute_changed?](https://github.com/rails/rails/blob/04972d9b9ef

[2022-08-05 10:32] iMacTia commented on #44418
Sure, happy to give it a try.
I'll have a look myself as well, but are you aware of any other places where `fixture_path` is being used that might have similar issues? I just want to be sure I don't miss anything 😄

[2022-08-05 10:57] lsylvester opened #45767 "ArgumentError due to nil `pool_config` when calling `connects_to`"
### Steps to reproduce

Create configuration for a second database.

Ensure that `legacy_connection_handling` is not in use.

Ensure that there are no fixture file for the secondary database. - if there are any fixture files then the Abstract class that configures the database referenced before the fixtures are loaded and it is able to be configured successfully.

Configure the databases in the ab

[2022-08-05 11:54] byroot commented on #45761
At first sight it's likely because some assets are using ES6 which uglifier doesn't support. As explained in their README it's recommended to migrate to ruby-terser, see: https://github.com/lautis/uglifier

[2022-08-05 11:55] byroot commented on #45761
Closing for now, as I don't think this is a Rails issue.

[2022-08-05 11:55] #45761 closed

[2022-08-05 12:07] Sega100500 commented on #45761
@byroot

terser does'nt work properly at this case too

[2022-08-05 12:53] eileencodes commented on #45767
Thanks for the report. I've confirmed that I can reproduce this on main and will work on a fix today.

[2022-08-05 13:02] byroot commented on #45761
If you can provide a proper reproduction repo, I can have a look. In the meantime, with the information you provided there's nothing we can do.

[2022-08-05 13:04] andrewn617 commented on #45766
Yeah I can reproduce - looks like the value is not being type cast. I will open a PR for this.

[2022-08-05 14:55] Sega100500 commented on #45761
@byroot

No, you can!...  if would like to...

1. Generate simple ruby app
2. Config app to use :uglifier or :terser
3. Download Bootstrap 5.2 and put these css and js files in 'app/assets/stylesheets/bootstrap' and 'app/assets/javascripts/bootstrap' directories respectively, for example
4. Attach in header of html-page with `stylesheet_link_tag('bootstrap/css/bootstrap.min')` and `javascript_incl

[2022-08-05 15:04] byroot commented on #45761
I'm not sure what you are expecting us to do, from your own message the problem is that neither terser nor uglifier can handle bootstrap 5.2, why file a bug here and not on uglifier / terser?

[2022-08-05 15:08] Sega100500 commented on #45761
@byroot

`uglifier` (which doesn't support ES6, right?) at least works correctly with bootstrap v5.1.3, `terser` can't even handle it.

The problem is that one of the components of the Rails works with an error.
In general, the Rails have no problems, I agree with that!

[2022-08-05 15:56] Sega100500 commented on #45761
@byroot

In general, to be more precise, the developers of the Bootstrap are to blame, of course, who did not check it for compatibility with Rails. (Irony)

[2022-08-05 15:58] andrewn617 commented on #45766
https://github.com/rails/rails/pull/45771

[2022-08-05 17:07] #45767 closed

[2022-08-05 18:10] mikeletscher opened #45775 "Uniqueness validation on association does not use the correct primary key"
### Steps to reproduce

I'm not _entirely_ sure if this is considered a bug, or intended behavior that's not well-documented for `uniqueness` validations on associations.

I'm happy to help improve the documentation on this if that would be the most helpful way forward, or if this _is_ considered a bug, I can take a stab at a PR.

It looks like the issue is that `build_relation` on the uniqueness

[2022-08-05 19:49] skipkayhil commented on #43422
I would open a new issue if you are having a problem, discussion on closed issues usually doesn't go very far.

That being said, I just tried generating an app using `railties/exe/rails` and sprockets-rails is in the Gemfile so some more details for how to reproduce will definitely be necessary.

[2022-08-05 19:59] kyrofa opened #45777 "ActionView::Template::Error: undefined method `concat' for ActionView::OutputBuffer"
### Steps to reproduce
First of all, I really appreciate how easy you make it to submit test cases on issues, but I couldn't figure out how to make one for this particular situation. I can tell you, though, that after a bisect, this issue is introduced by 4e8e82829182cc2c1dc07997acc210bc0656eda4.

My test case is pretty simple. I have a HAML view that makes use of a helper like this:

[code]

###

[2022-08-05 20:09] kyrofa commented on #45777
From 4e8e82829182cc2c1dc07997acc210bc0656eda4:

Is HAML [using an internal API here](https://github.com/haml/haml/blob/31727c9af7795f7997b4eca8f81343d84df9175a/lib/haml/helpers/action_view_xss_mods.rb#L41), then? Or should we add a concat method back in?

[2022-08-05 20:19] markedmondson opened #45778 "ActiveStorage attachments are lost when casting using Becomes"
### Steps to reproduce
Create an ActiveRecord model with an ActiveStorage relation. Initialize and add the associated attachment. Cast the object to another subclassed model, the associated attachment is lost.

[code]

### Expected behavior
When casting an ActiveRecord to another model, I expect the associations to be copied thus I expect attached ActiveStorage association assets to be copied.

##

[2022-08-05 21:26] shhavel commented on #45758
@skipkayhil @fatkodima Great thank you for looking into this!

So if column field name is possibly not unique, how about using column's index as `type` key instead of column field name?

This line:
https://github.com/rails/rails/blob/a0c1d33d2f934ebe050b8dd69336200cbca2ae3e/activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb#L72

change to:
[code]

Then update `Act

[2022-08-05 22:14] fatkodima commented on #45778
This is expected, because `file` is of type `ActiveStorage::Blob`, but `moderated_comment.image` is of type `ActiveStorage::Attached::One`.

Are you casting *non-saved* records to other classes? If so, what is the use case? Because for persisted records, your test cases are passing.

For non persisted records, we need to copy `@attachment_changes` and to modify it slightly (to reference the new re

[2022-08-05 22:26] fatkodima commented on #45758
@shhavel Seems legit. Would you like to open a PR?

[2022-08-06 04:15] EricYoung37 commented on #44185
For Rails 7.0.3.1, edit and delete are a bit different from what is shown in this article: https://guides.rubyonrails.org/getting_started.html#deleting-an-article

Run
`$ rails importmap:install`
then
`$ rails turbo:install stimulus:install`
as suggested by others.

For edit, it should be:
`<%= link_to "Edit", edit_article_path(article) %>`
No `@` in the parentheses.

For delete, it should be:
[co

[2022-08-06 08:54] chvp opened #45781 "ActiveStorage ProxyController crashes in API-only apps"
### Steps to reproduce
 * Create an API-only rails app with activestorage enabled and using the [proxy mode](https://guides.rubyonrails.org/active_storage_overview.html#proxy-mode).
 * Upload an attachment.
 * Try to download it.
 * See that [this](https://github.com/rails/rails/blob/main/activestorage/app/controllers/active_storage/representations/proxy_controller.rb#L13) fails because it transit

[2022-08-06 15:38] Bryanprz commented on #44260
For me, I solved it by doing the following:

1. Followed the advice of @fhcadmin above and removed everything from my assets build directory: `rm -rf app/assets/builds/*`

2. Removed this line from `config/environments/development.rb`: `config.assets.prefix = "/dev-assets"`

Restarted by server with `bin/dev` and reloaded the page, the error was gone.

Hope that helps someone.

[2022-08-06 15:39] skipkayhil commented on #45781
Previous discussion #44181

[2022-08-06 15:43] chvp commented on #45781
Ah, I didn't search in the closed issues, that's my bad.

[2022-08-06 15:49] skipkayhil commented on #45781
No problem at all! Commenting on closed issues tends to not get as much response, so opening a new one was the correct thing to do in my opinion

[2022-08-06 20:10] mensfeld commented on #44183
Not rushing anyone, but maybe there is a way to at least bypass that? :sweat:

[2022-08-06 20:20] fatkodima commented on #45775
Please, do open a PR.

[2022-08-06 21:00] mensfeld commented on #44183
Also @fxn `Rails.autoloaders.main.reload` does not solve the issue entirely. It seems to reload code but then some of the threads seem to "keep" the lock for the 10 seconds anyhow.

[2022-08-06 21:13] mensfeld commented on #44183
Last comment for today. If I wrap my threads that run ActiveRecord code with:

[code]

and threads are released back, there is no problem. I may add `#release_connection` to the end when in rails and AR detected but that sounds kinda "hacky"

[2022-08-07 04:46] natematykiewicz commented on #45777
Seems like it'd be preferable to have HAML just switch to `<<`.

If you call `contact` with 1 argument, the C code calls `rb_str_concat`. https://github.com/ruby/ruby/blob/v3_1_2/string.c#L3384

The Ruby method `<<` is the C method `rb_str_concat`.
https://github.com/ruby/ruby/blob/v3_1_2/string.c#L3418

I don't understand why `concat` was used in the first place. It seems like it's just extra ove

[2022-08-07 06:31] natematykiewicz commented on #45600
Anytime I've seen weird problems like this, Pry is installed. Zeitwerk and Pry don't play well together. Admittedly, usually the problem occurs when in a Pry debugging session and a constant is supposed to be autoloaded. I'm not sure if I've seen this Pry problem on app boot.

[2022-08-07 13:33] kyrofa commented on #45777
I can propose that (note that I'm not involved in HAML maintenance), but what will prevent this from happening in the future? Given that comment, it will still be considered internal API and could break at any time. Do we need to start considering it public? Or is there a public API way to do what HAML is doing?

[2022-08-07 15:06] inem commented on #44418
@iMacTia nope, didn't work for me. Would be great if you find a way to achieve it!

[2022-08-07 18:08] natematykiewicz commented on #45777
ActionView::OutputBuffer has a [:nodoc: on it](https://github.com/rails/rails/blob/main/actionview/lib/action_view/buffers.rb#L21), which means it's part of the private API and subject to change without notice.

cc @byroot

[2022-08-07 18:11] byroot commented on #45777
We can add `concat` back as an alias, that's no problem, no need to break HAML. I'll do that tomorrow.

[2022-08-08 04:02] skipkayhil commented on #38940
Closed by #38957

[2022-08-08 04:13] skipkayhil commented on #36737
Closing as the upstream issue was closed.

[2022-08-08 04:13] #36737 closed

[2022-08-08 04:32] scottjg commented on #38940
It appears the referenced PR was reverted. Was a different fix applied?

[2022-08-08 04:37] skipkayhil commented on #38940
Ack, I didn't read the thread fully, thank you

[2022-08-08 05:32] skipkayhil commented on #33179
The inspect issue appears to have been fixed by #37839, and the `Time.new(...) - (1.day / 24)` issue was fixed in #37849

I believe the difference between `#parts` for `1.day / 10` and `1.day / 10.0` is intentional because `1 / 10` would be a loss of precision for the `days` part (but `1 / 10.0` does not lose precision)

[2022-08-08 05:32] #33179 closed

[2022-08-08 07:05] #45777 closed

[2022-08-08 09:40] fatkodima commented on #44362
Not stale.

[2022-08-08 12:34] thekendalmiller commented on #45600
It hasn't happened since I opened this issue. I'll close it.
It started when we bumped rails from 6.1.6 to 6.1.6.1 and happened sporadically for 30 or so hours.  I did review that diff and nothing jumped out as what would cause this. It feels like a caching issue but I'm not sure how to reproduce it.

[2022-08-08 12:34] #45600 closed

[2022-08-08 13:46] #45781 closed

[2022-08-08 17:30] tonyaraujop commented on #45775
Hello @mikeletscher did you open a PR to work on this issue? I was wondering if I could try to solve it.

[2022-08-08 17:58] jakeonfire commented on #43422
fwiw i ran:
[code]
but i'll open a new issue if i run into it again.

[2022-08-08 18:45] mikeletscher commented on #45775
@tonyaraujop Just put a PR up for this, sorry! https://github.com/rails/rails/pull/45790 Let me know if you have any thoughts on the approach.

[2022-08-08 20:11] tonyaraujop commented on #45775
Oh ok. I will search another issue to try to solve it. Thanks for reply and congrats on solving this.

[2022-08-09 01:05] danielyazbek opened #45791 "Google::Apis::ClientError raised when using ActiveStorage to generate signed URLs to access a file in a GCS bucket with GKE Workload Identity"
### Steps to reproduce
Configure ActiveStorage with GKE Workload identity (as documented [here](https://edgeguides.rubyonrails.org/active_storage_overview.html#google-cloud-storage-service)):

[code]

Define a class:
[code]

Write something to ActiveStorage:
[code]

Generate a Signed URL
[code]

Paste the generated URL into a browser

### Expected behavior
ActiveRecord provides the attachment

###

[2022-08-09 05:07] natematykiewicz commented on #45637
Based on this seemingly related issue https://github.com/rails/rails/issues/45636, I think this issue is implying that `'text'` needs to be `:text`, and the either the string should work, or the method should error explaining that it needs to be a symbol instead of rendering a template not found error.

[2022-08-09 07:44] Shuttleu opened #45793 "Schema.db "Unknown type 'uuid' for column 'id'" when using MySQL"
### Steps to reproduce
When creating a new rails app with nothing but using the MySQL adaptor, creating a migration that uses UUID as the primary key type, does not allow schema.db to be generated.

`rails new app --database=mysql`

Migration
[code]

### Expected behavior
schema.db should have the table definitions for the Users table

### Actual behavior
Instead of table definitions, it has this

[2022-08-09 09:48] ProGM opened #45794 "Action Cable client goes in a connection loop if you subscribe multiple times to the same channel"
### Steps to reproduce

You can just start from a fresh `rails new [project-name]` installation.
Channel code:
[code]

Javascript code:
[code]

### Expected behavior

Any of these options could be considered an expected behavior:
* Everything just works™, both subscriptions receive notification from that channel and no error is raised
* The second `subscription.create(...)` raises some kind of err

[2022-08-09 10:03] fatkodima commented on #45793
Thanks for reporting, I am looking into this.

[2022-08-09 10:51] Shuttleu opened #45795 "Create returns "id: 0" when id type is set to UUID when using MySQL"
### Steps to reproduce
When creating a new rails app with nothing but using the MySQL adaptor, using a UUID as the primary key causes ActiveRecord to return id: 0 when creating a new record.

`rails new app --database=mysql`

Migration
[code]

### Expected behavior
When creating a new record with the id being a UUID type, the returned object should have the correct id.

### Actual behavior
When cr

[2022-08-09 10:58] yahonda commented on #45775
This test case successfully finishes by adding `self.primary_key = "rx_number"` to each model.

[code]

https://guides.rubyonrails.org/association_basics.html#options-for-belongs-to-primary-key

By convention, Rails assumes that the id column is used to hold the primary key of its tables. The :primary_key option allows you to specify a different column.

[2022-08-09 11:02] fatkodima commented on #45795
This and #45793 are related.

[2022-08-09 11:03] Shuttleu commented on #45795
Had a thought they might be,

Not entirely to sure where to start looking, otherwise I'd look into it myself.

[2022-08-09 12:31] olleolleolle commented on #40109
[code]

[2022-08-09 12:46] mikeletscher commented on #45775
@yahonda This makes sense that it allows the test to pass, but if the Rails convention here is that you are unable to override the primary key for relations, I don't understand why primary_key is an option for relations.

Outside of the validation, the associations work as expected with foreign_key and primary_key defined as options on the association. This has allowed us to make associations usin

[2022-08-09 12:59] michalwiacek commented on #44185
what if I don't wanna use turbo in my legacy code?

[2022-08-09 14:01] yahonda opened #45797 "PostgresqlTimestampFixtureTest#test_bc_timestamp fails with Ruby 3.2.0dev"
Managed to reproduce https://buildkite.com/rails/rails/builds/88721#0182816a-1029-4874-89ee-60d75993d2ce/1046-1057

### Steps to reproduce
1. Install Ruby 3.2.0dev that includes https://github.com/ruby/ruby/commit/e07d450deae500422b7693a30c75c5b1567601a

2. Execute these steps
[code]

### Expected behavior
It should pass.

### Actual behavior
[code]
### System configuration
**Rails version**: main

[2022-08-09 14:35] fatkodima commented on #45795
Relevant https://github.com/rails/rails/pull/45086.

[2022-08-09 14:50] fatkodima commented on #45793
Because of:
1. inability to get the generated id on record creation (mysql does not support `RETURNING`) - https://github.com/rails/rails/issues/45795
2. different types needed for uuid (`uuid` for mysql and `binary(16)` for mariadb)
3. different support for different versions (older mariadb does not support uuid)
4. inability to define `DEFAULT` as a function call for older db versions (like `DEF

[2022-08-09 15:29] michalwiacek commented on #44185
could You tell me how to accomplish that with esbuild setup? I've tried passing this into application.js
[code]
but linkt_to with `method: :delete` and `data: { confirm: "confirmaton needed" }` still wont sending get request without confirmation

[2022-08-09 16:38] josephmo opened #45799 "Asset folder is not created"
### Steps to reproduce

Up until this morning, I have been using the following build script to start my Production server:

    sudo rm -Rf /home/deploy/current/
    git clone -b xxxx git@xxxxxxx.git /home/deploy/current
    cd /home/deploy/current/
    bundle update
    bundle install
    rake db:migrate
    rake db:seed
    rails tailwindcss:build
    bundle exec rake assets:precompile
    bundl

[2022-08-09 18:05] markedmondson commented on #45778
Thanks - removed that test from the code.

Yes, the use case is we're migrating from a single base class to two separate classes based on an association.

An example case is a chat application, we have a `Message` class that was for a chat `Room`. Now we're introduced an STI `PrivateRoom` which has it's own controller and we want to migrate out the messages into their own type `PrivateMessage` so

[2022-08-09 19:20] #42701 closed

[2022-08-09 20:05] JoaoPedroAssis opened #45800 "active_record:multi_db generator seems to be missing"
Hi there, I'm trying to implement read/write databases, following the official docs [here](https://edgeguides.rubyonrails.org/active_record_multiple_databases.html)

In step 4, or `Activating automatic role switching`, the instructions tells me to run the following generator:

`$ bin/rails g active_record:multi_db`

To properly generate some files. When I actually run this command, I get the follo

[2022-08-09 20:10] ghiculescu commented on #45800
The guide you're referencing is for Rails 7.1 (the edge version of Rails). The command has changed a bit in the past few versions.

Rails 6.1 (no command for this): https://guides.rubyonrails.org/v6.1/active_record_multiple_databases.html
Rails 7: https://guides.rubyonrails.org/v7.0/active_record_multiple_databases.html#activating-automatic-role-switching
Rails `main` branch: https://edgeguides.ru

[2022-08-09 20:51] uday708 opened #45801 "Test"
### Steps to reproduce

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

[2022-08-09 21:12] #45801 closed

[2022-08-10 01:44] ghiculescu commented on #45800
No worries, I'll close this but can reopen if you find any other issues.

[2022-08-10 01:44] #45800 closed

[2022-08-10 02:20] skipkayhil commented on #45799
Hey @josephmo, thanks for opening an issue! Do you have a repo you could share that demonstrates the issue? Without this it will be very difficult to figure out what may be going wrong

[2022-08-10 06:04] dannieltung commented on #44313
Hey there!
Getting the same issue here....
MacOS Monterrey v12.5
`➜  demo git:(main) ✗ rails -v
Rails 7.0.3.1
➜  demo git:(main) ✗ ruby -v
ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x86_64-darwin21]
➜  demo git:(main) ✗ yarn -v
1.22.19`

`➜  demo git:(main) ✗ ./bin/rails css:install:bootstrap
Build into app/assets/builds
       exist  app/assets/builds
   identical  app/assets/builds/.keep
Fi

[2022-08-10 07:26] Shuttleu commented on #45793
I believe MariaDB 10.5 added the `INSERT...RETURNING` statement (I don't believe MySQL has support for this though)

Maybe we can query the database for the row we just inserted, and return that rather than relying on `RETURNING`?

MariaDB supports `uuid` with no issues as of 10.7

Obviously nothing we can do in Rails 7.0 as we need to support whatever servers are currently supported

Not sure I u

[2022-08-10 09:43] fatkodima commented on #45793
Yes, MySQL does not have this as far as I remember.

Am I missing something or how we can do this without the id?

Yes, sorry, I mean for MySQL we need `binary(16)`.

Yes, I mean parens. For older versions MariaDB or MySQL or both does not support functions as a `DEFAULT`. For newer, seems like supported, but we need to wrap in `()`.

Yes. MySQL supports values in one set of formats for uuids, but

[2022-08-10 10:42] Shuttleu commented on #45793
I may have not thought that bit through. Although maybe if the ID is set to type `uuid` and the server is MariaDB >= 10.7, we set the `DEFAULT UUID()` when creating the table and use `RETURNING`.
Otherwise we dont set a `DEFAULT`, but instead set a temporary variable when we run a `INSERT`

[code]

Oh, I didn't realise that MySQL doesn't support `uuid` (I tend to only work with MariaDB as it had s

[2022-08-10 11:45] sonaligvc opened #45803 "undefined method `queue_as' for ActionMailer::MailDeliveryJob:Class (NoMethodError)"
ruby-2.7.2
gem 'rails', '~> 7.0.1'

When I am starting server, I am getting "undefined method `queue_as' for ActionMailer::MailDeliveryJob:Class (NoMethodError)"
I am upgrading application from rails 6.0.1. to rails 7.0.1

=> Booting Puma
=> Rails 7.0.3.1 application starting in development
=> Run `bin/rails server --help` for more startup options
Exiting
Traceback (most recent call last):
	58: fr

[2022-08-10 11:45] sonaligvc commented on #45803
Please help me

[2022-08-10 11:52] fatkodima commented on #45803
Probably the problem is somewhere here

[2022-08-10 12:19] sonaligvc commented on #45803
Thanks @fatkodima for reply.

home/sonali/bank/tupay/config/initializers/monkey_patches.rb:2 has below code. We want to retry the Job after 10 min.
What is wrong with below code?

`class ActionMailer::MailDeliveryJob
  include ExceptionLogging

  rescue_from(StandardError) do |e|
    reschedule_wait = 10.minutes
    log_exception(e, "ActionMailer::MailDeliveryJob: Problem sending email. Will attem

[2022-08-10 12:42] fatkodima commented on #45803
If you comment everything on this file, does the error persists?
If yes, it would be helpful if you can debug and localize your problem and provide a reproduction script. Without it, it is hard to tell what is wrong.

[2022-08-10 12:45] sonaligvc commented on #45803
@fatkodima thanks
It resolved by your help.
It was not working because of  `include ExceptionLogging` concern.

[2022-08-10 12:45] #45803 closed

[2022-08-10 13:05] tbuehlmann opened #45804 "`ActiveRecord::Associations::Preloader` ignores `available_records` when association has a scope"
When preloading a `has_one` association that has a scope and providing `available_records` for the association, the `available_records` are ignored.

### Steps to reproduce

[code]

### Expected behavior

I expect `available_records` to be used and no additional sql query to be perfomed.

### Actual behavior

`available_records` is ignored.

I did some research and this line is why an early return

[2022-08-10 13:08] josephmo commented on #45799
The application is proprietary, so I can' share the repo publicly.

[2022-08-10 13:46] eileencodes commented on #45799
No worries, we were asking you to make a new one that reproduces the issue you're seeing.

[2022-08-10 14:40] ilvez commented on #33528
Thank you for that hint. I was scratching my head like an hour. I edited my K8 secret, but the value had EOL character in it. Then I generated correct base64 encoded secret with `cat blah.key | base64` and this worked.

[2022-08-10 16:36] masterkain opened #45805 "Rails 7 weird `ActiveRecord::NoDatabaseError` during development"
I have no idea how to consistently reproduce this but I have a pretty basic Rails 7.0.3.1 app, connected to a postgres.

occasionally during normal development the database cannot be found, one or two browser refresh and the request goes through.
it's the first time I've seen this. log doesn't say what it is issuing to the database to make it fail. database has nothing going on.

edit: **I just no

[2022-08-10 17:48] eileencodes commented on #45805
Hey @masterkain is it possible this has been happening for some time but the error was different? The error changed in this PR https://github.com/rails/rails/pull/39723.

I also found this issue https://github.com/rails/rails/issues/41606 - it sounds like it could be a similar problem and that you don't have a connection established but are getting an incorrect error. I didn't find any other issue

[2022-08-10 18:23] flavorjones commented on #45799
Is it possible that this was caused by https://github.com/rails/tailwindcss-rails/pull/189, in which case an update to https://github.com/rails/tailwindcss-rails/releases/tag/v2.0.12 should fix it?

[2022-08-10 19:09] josephmo commented on #45799
Changing the of tailwind gem back to 2.0.10 from 2.0.11 seems to have solved the problem.

[2022-08-10 19:18] flavorjones commented on #45799
@josephmo If you can confirm that upgrading to 2.0.12 also fixes it, please feel free to close this!

[2022-08-10 20:15] masterkain commented on #45805
Testing will require some time since it appears to be random but after commenting this option in `config/development.rb`:

`config.action_view.annotate_rendered_view_with_filenames = true`

I was not able to reproduce the database error, at least for now. If I recall correctly ths option is commented by default in a new rails 7 app and I'm unsure how it can even be related to a database issue.

I'

[2022-08-10 20:15] #45805 closed

[2022-08-10 20:45] #45799 closed

[2022-08-10 22:11] #43973 closed

[2022-08-11 00:24] masterkain commented on #45805
definitely an issue with local docker

[2022-08-11 04:02] altjx commented on #45162
Thanks @eileencodes this just saved me from a long, miserable 2-3 days of troubleshooting, lol.

[2022-08-11 14:49] KevinBerthier opened #45809 "Parallel tests & PG custom tsearch"
### Steps to reproduce

I have a custom tsearch config
Before running my tests I load the config : `RAILS_ENV=test rails pg_search:create_f_unaccent pg_search:recreate_text_search`

[code]
If I run my test without `parallelize(workers: :number_of_processors)` it runs OK. But with parallel tests it raises :
[code]

### Expected behavior

Parallel test should handle custom tsearch configs

### Actua

[2022-08-11 15:07] eileencodes commented on #45809
There's no repro here so it's hard to be entirely sure but reading this what you're doing is only setting your custom tsearch configs for one database, you need to do it for all of them for each process. This is how the databases are created on the Rails side https://github.com/rails/rails/blob/main/activerecord/lib/active_record/test_databases.rb. You need to do the same thing for your tsearch.

[2022-08-11 15:07] #45809 closed

[2022-08-11 19:33] mlhamel commented on #40470
I understand it only affect the class method but is there a way to change the default behaviour of every instances ?

[2022-08-11 20:39] holcomb1977 opened #45812 "single-table inheritance mechanism failed to locate subclass"
Received the following error twice:

The single-table inheritance mechanism failed to locate the subclass: 'ForemanOpenscap::ComplianceStatus.' This error is raised because the column 'type' is reserved for storing the class in case of inheritance. Please rename this column if you didn't intend to be used for storing the inheritance class or overwrite HostStatus::Status.inheritance_column to use a

[2022-08-11 21:04] eileencodes commented on #45812
hey @holcomb1977 this isn't a linux issue, it's an error being thrown by your Rails application. Based on the subclass name (`ForemanOpenscap::ComplianceStatus`) it looks like you are using or have in the past used this plugin https://github.com/theforeman/foreman_openscap. This sounds like either there is a bug in the plugin (which we don't control or work on) or a bug in how your application is

[2022-08-11 21:04] #45812 closed

[2022-08-12 02:39] dylanfisher commented on #42186
An alternative approach is to define a custom ActiveStorage Service, and customize the `delete` methods how you see fit.

[code]

Then in your `config/storage.yml` file, use your custom service:

[code]

[2022-08-12 05:13] SanjayKumaR0007 opened #45815 "How to build a micro service using Ruby on Rails ?"
### Steps to reproduce

[code]

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

[2022-08-12 05:53] artisr opened #45816 "ruby 3.1.1- cannot load such file -- net/ftp (LoadError)"
### Steps to reproduce

[code]

### Expected behavior
=> true

### Actual behavior
`require': cannot load such file -- net/ftp (LoadError)

### System configuration
**Rails version**:
rails (7.0.3.1)

**Ruby version**:
ruby-3.1.1

I tested and have this issue on ruby 3.1.0, 3.1.1, 3.1.2 running on m1
On ruby 3.0.4 I dont have this issue.

I also tested this on fresh debian 11 vps

[code]

it loads

[2022-08-12 06:16] quadule opened #45817 "Value of attribute default proc is shared between instances after dup + dirty tracking"
### Steps to reproduce

When an attribute without a database column defines a default proc, `dup`ing a model in which the default wasn't accessed passes the unevaluated `UserProvidedDefault` attribute to the new instance as the attribute's original value. Checking the new attribute for changes will then memoize the value in the original attribute definition, making it the default value in every ne

[2022-08-12 07:10] #29210 closed

[2022-08-12 07:10] #42248 closed

[2022-08-12 07:10] #44919 closed

[2022-08-12 09:07] olegantonyan opened #45821 "ActiveRecord "endless" range for >=, =<, < but not >"
This is not a bug, but more like question/suggestion.

ActiveRecord support endless ranges in queries, for example:
[code]
`>=` possible too
[code]
Also works with non-inclusive ranges as `<`
[code]
But not `>`
[code]

This makes sense from range's perspective b/c left value of a range is always included. But considering examples above I'd expect `whatever...` to mean `strictly greater than whatev

[2022-08-12 10:46] fatkodima commented on #45821
In ranges, `..` is for `end` part of it (whether to include/exclude it), so `2.years.ago..` and `2.years.ago...` are equivalent.
There is no way in ruby currently to define ranges excluding its beginning. There is a discussion in the ruby discussions forum - https://bugs.ruby-lang.org/issues/12133.

So, imo the currently generated syntax is correct.

[2022-08-12 13:46] #45815 closed

[2022-08-12 13:52] yahonda commented on #45816
It looks like `require 'net/ftp'` returns `true` because the net-ftp gem has been installed.
After removing net-ftp gem, `require 'net/ftp'` raises `cannot load such file -- net/ftp (LoadError)`.

[code]

[2022-08-12 13:55] holcomb1977 commented on #45812
thanks. do you think it could be resolved by upgrading from our current Redhat satellite to Redhat satellite insights?

[2022-08-12 14:06] yopzer opened #45822 "ActiveRecord: Wrong results returned by ActiveRecord::Associations::Preloader when intermediate association is already preloaded."
### Steps to reproduce
[code]

### Expected behavior
Two records should be loaded:
`{:record_ids=>[1, 2], :size=>2}`

### Actual behavior
No records are loaded:
`{:record_ids=>[], :size=>0}`

### System configuration
**Rails version**: 7.0.3.1

**Ruby version**: 2.7.5

[2022-08-12 14:31] eileencodes commented on #45812
I don't think so unless Redhat Satellite Insights is what's providing the plugin or code that's throwing this error. You'll have to ask their support if that's the case.

[2022-08-12 14:32] holcomb1977 commented on #45812
roger. Thank you @eileencodes

[2022-08-12 16:21] ahoglund opened #45823 "Change Column with Raw Character Set Failure"
With [this recent change to how collation is handled for column changes](https://github.com/rails/rails/pull/45744/files), there is now a potential for older migrations written in a specific manner to break if the `collation:` argument is not specific.

### Steps to reproduce

[code]

### Expected behavior

I would expect this to detect that the character set is being changed, and either

1. chang

[2022-08-12 18:34] skipkayhil commented on #19084
It sounds like this has been fixed in all supported Rubies so I believe this can be closed now.

[2022-08-12 18:34] #19084 closed

[2022-08-12 18:49] skipkayhil commented on #45499
Closed by #45539

[2022-08-12 18:49] #45499 closed

[2022-08-12 18:57] skipkayhil commented on #45232
I believe this has been fixed by #45539. I don't have a kindle to test but the new epub's table of contents is working for me in iOS Books.

[2022-08-12 18:57] #45232 closed

[2022-08-12 19:19] skipkayhil commented on #44791
I agree, it looks like that PR fixed this. The bug report is now passing on `7-0-stable` and `main`

[2022-08-12 19:19] #44791 closed

[2022-08-12 19:46] artisr commented on #45816
Thank you @yahonda

[2022-08-12 19:46] #45816 closed

[2022-08-12 19:46] tonyaraujop commented on #45804
Hey there @tbuehlmann, I think this isn't a proper bug, looking at `preloader.rb` file, the comments over the initializer specific dictates that optimization is only applied to single associations with no scopes. And if we think about the association with scope uses a query to go search in database, so a think this is working properly. Also, there's no way to know without querying the database tha

[2022-08-12 20:27] jhawthorn commented on #45804
Yep! That's correct. We can't use available records for a scoped association as there's no way to be sure that they match, so this is working as intended.

Please note also that all of `ActiveRecord::Associations::Preloader` including `available_records` is a private API (though admittedly one that people do use) so is not guaranteed to exist or have any particular behaviour.

[2022-08-12 20:27] #45804 closed

[2022-08-13 03:06] laptopmutia opened #45826 "Psych::DisallowedClass in xxxcontroller#update Tried to load unspecified class: ActiveSupport::TimeWithZone"
### Steps to reproduce
my application is just fine before then I do bundle update so that It could [fixed debug error with 1.6.1 ](https://github.com/ruby/debug/issues/735)
this is the gemfile changes before and after I did `bundle update`
https://gist.github.com/laptopmutia/ddc22041f81a81995e42ea0ef0e5d8eb/revisions
[code]

### Expected behavior
its should not error

### Actual behavior
it gives

[2022-08-13 03:17] laptopmutia commented on #45826
ah apparently its because this https://github.com/collectiveidea/audited/issues/631

[2022-08-15 05:48] yahonda commented on #45826
Would you refer to https://discuss.rubyonrails.org/t/cve-2022-32224-possible-rce-escalation-bug-with-serialized-columns-in-active-record/81017 and consider setting `config.active_record.yaml_column_permitted_classes` parameter values.

[2022-08-15 07:01] CODY-RAY commented on #27299
If you landed here like me

https://github.com/rails/rails/pull/39027 has seem to fixed this with
[code]

[2022-08-15 10:20] #45026 closed

[2022-08-15 12:09] Baxxx opened #45830 "ActiveRecord Rollbacks on errors which happen on commit"
### Steps to reproduce

In some of our projects we use Postgres as database, and for some cases we deferred trigger constraints. These triggers fire up when `COMMIT` is called. Trigger can raise an error, which kills the transaction. ActiveRecord catches the error, and bubbles it up to developer, but it also sends `ROLLBACK` to Postgres, to which Postgres gives a warning that there is no transacti

[2022-08-15 12:35] skipkayhil commented on #45830
Hey @Baxxx, thanks for the issue. Can this be reproduced on 7.0.x or `main`? Rails 6.1 is only receiving security fixes at this point

[2022-08-15 12:55] eileencodes commented on #45826
While it originates from Rails, it's not a bug since the issue you're seeing is a security change. I'm going to close this out since it's not a bug.

[2022-08-15 12:55] #45826 closed

[2022-08-15 13:06] Baxxx commented on #45830
@skipkayhil Yes, this is still reproducable. I have updated the original post with reproduction script for rails 7.

[2022-08-15 15:19] nvasilevski commented on #45830
I think I may have a proposal to solve this. I've been keeping it in my head for a while but wasn't eager to propose a refactoring as my real-life "use-case" wasn't good enough. This might be better
Let me confirm it and come up with a quick prototype, but the idea is to invalidate the transaction earlier to the `Rollback` can be swallowed.
Here are the assumptions I will be checking:
1. Currently

[2022-08-15 16:36] nvasilevski commented on #45830
Sorry for the noise above, unfortunately the issue I was working on is not particularly related even though semantics are very similar

In this particular case, this line executes the rollback:
https://github.com/rails/rails/blob/008b85e3d7a511f9d6bc58ed4e29e323576f6ac3/activerecord/lib/active_record/connection_adapters/abstract/transaction.rb#L475
because the transaction state is not considered t

[2022-08-15 20:42] HParker opened #45832 "MySQL 8.0 VARBINARY default value is hexadecimal"
Default values on VARBINARY columns changed behavior between MySQL 5.7 and 8.0

### Steps to reproduce

[code]

On MySQL 5.7:

[code]

On MySQL 8.0:

[code]

### Expected behavior

The default value on binary columns should be Ruby strings, not ruby strings of hexadecimal.

### Actual behavior

The column default in MySQL 8.0 is a hexadecimal string representing the binary data.

### System config

[2022-08-15 20:58] latentflip commented on #45832
Using the following table I traced the change to between `8.0.2-dmr` and `8.0.3-dmr`, at least based on what running the mysql official docker images gives me:

[code]

[code]

[code]

I didn't find anything relating to this change in the [8.0.3 release notes](https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-3.html).

The [8.0.2 release notes](https://dev.mysql.com/doc/relnotes/mysql/8.0/e

[2022-08-16 02:36] yahonda commented on #45832
Also, starting from MySQL 8.0.19 "client", --binary-as-hex option now is enabled by default.

https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-19.html

Binary data as: Hexadecimal
To disable hexadecimal notation, use --skip-binary-as-hex (Bug #24432545)

[2022-08-16 05:17] lesliev commented on #45017
Please could we just have a log message that says:
`ROLLBACK triggered because of return statement in transaction block` ?

This will give someone something to Google. I just spent a day dismantling a model, trying to find the cause of the silent rollback - taking out every association, every validation, every callback, whittling down all the code in the transaction, only to finally discover that

[2022-08-16 10:17] fatkodima commented on #45832
[code]

So it disables in one case, but not the other 🙄

[2022-08-16 16:49] codyrobbins commented on #36218
Can we revisit this?

As a Rails user for fifteen years, I often find myself wishing the guides site had a global site-wide search. I’m constantly forgetting which one of the seven arbitrary divisions of the Active Record topic contains a particular detail, for example. So I’m already very familiar with the guides and search would be a great benefit to me. As has been pointed out above more than o

[2022-08-16 17:50] s-pace commented on #36218
👋  @codyrobbins

I am sure we can manage something don't worry. @shortcuts will guide you :)

[2022-08-16 18:27] ashok-stack commented on #44260
Same issue here when migrating from webpacker to esbuild
`ActionController::RoutingError (No route matches [GET] "/assets/assets/application.css.map"):`
but weirdly for me it is adding wrong path when fetching the file. i'm not sure where it's taking the path though
here is assets builds directory
![image](https://user-images.githubusercontent.com/62198474/184951623-7738258f-b531-4a28-b19a-1013968

[2022-08-16 20:05] #45637 closed

[2022-08-16 22:12] shortcuts commented on #36218
👋🏼 @codyrobbins @s-pace

I updated the demo I made back then if anyone wants to try it! https://codesandbox.io/s/docsearch-x-rails-demo-zk4pl2

[2022-08-16 23:29] codyrobbins commented on #36218
@shortcuts This is so great! I just tried it to search for the thing I was looking for earlier today that prompted me to write my post, and it found it as the first result instantaneously. I really hope the maintainers will reconsider adding this.

[2022-08-16 23:57] abury commented on #42278
So, what is the fix for this issue in August 2022? `skip_parameter_encoding` doesn't work on an API controller.

[2022-08-16 23:59] abury commented on #41567
@raldred how did you end up solving this issue? We're a bit stuck as `skip_parameter_encoding` isn't supported in an API controller, and the linked issued in this thread aren't resolved.

[2022-08-17 00:16] mikinovation opened #45838 "Tailwind isn't working with Rails7 and React(jsbundling)"
## Problem
I tried to use rails7 with react(esbuild) and tailwind.
However I need to make rails read tailwind class name at once on "rails view" for tailwind to work on react.
I use tailwind CLI with rails `rails tailwindcss:watch` in my env

https://tailwindcss.com/blog/standalone-cli

## Ask
I think tailwind minify CSS following the classes on "rails view" but CSS won't be built when I added cla

[2022-08-17 00:46] bethesque commented on #45182
I'd be really keen to have the minitest dependency as optional. It's causing some dependency issues in my project.

[2022-08-17 05:05] #45610 closed

[2022-08-17 08:15] wdiechmann commented on #43819
hmm - updating/upgrading a 5.x Rails application to 7.x, I kind'a stuck my toe into this hornets nest 😆

Adding `config.default_url_options = { host: 'localhost:3000' }` to my **environments/development.rb** immediately offer plenty of condiments for my toe ailment 😉

guess @pacMakaveli never got around to send that PR?

(I didn't manage to keep the hrs to 2 - but then again, I'm still dark dark g

[2022-08-17 08:48] yopzer commented on #45822
Identified the change after it started behaving differently: https://github.com/rails/rails/pull/43137

[2022-08-17 10:30] mikinovation commented on #45838
Sorry, I resolved it by myself

config/tailwind.config.js

[code]

I changed `./app/javascript/**/*.js,` to `./app/javascript/**/*.{js,jsx,ts,tsx}`

[2022-08-17 10:31] #45838 closed

[2022-08-17 10:40] raldred commented on #41567
@abury we moved the controller to use ActionController::Base and used `skip_parameter_encoding :create`

[2022-08-17 10:58] p8 commented on #45560
@eileencodes I think you first need to delete the remote tag before you can push: `git push --delete origin v6.1.6`, but I think that should fix it.

[2022-08-17 13:30] hron84 commented on #44651
It's still not working in 7.0.3

[2022-08-17 15:40] jwoodrow opened #45841 "Configure a Base class per database for multi db setups"
### Steps to reproduce

I don't know if this is the right place for this but I've been having issues with multi-db setups where the `schema_migrations` tabl for a database ends up filled in by another database's migration timestamps. This would result in permanent `Pending migrations` preventing code execution.

I've worked around it somehow by creating my own `ActiveRecord::Migration[6.1]` inheri

[2022-08-17 16:05] feapaydin commented on #40535
I got the same issue when I accidentally typed `validates_presece_of` instead of `validates_presence_of` (missing letter 'n' as typo).
Caused me spending some time trying to figure what's wrong with the enums, turns out it's because of a completely different typo.

Not sure what's the relation there but just wanted to report.

[code]

[2022-08-17 16:18] eileencodes commented on #45841
Hey @jwoodrow this doesn't sound right. I think something is wrong with your setup. Can you create a new app that reproduces this bug? I can't figure out what's wrong based on the information here.

[2022-08-17 16:24] eileencodes commented on #45841
Actually this sounds like you don't have your base classes set up correctly. Do you have the appropriate abstract classes set up as documented in the guides? Your classes should look something like this:

[code]

The migration paths also look incorrect, I highly doubt nesting migrations into the default directory works. It should be:

[code]

[2022-08-17 16:57] jwoodrow commented on #45841
I'm trying to reproduce on a new project since the issue is happening on our private repo but can't seem to get the behaviour happening again although I have things setup in the same manner

I have 3 base classes setup as such

[code]

and then in the database.yml it's configured like this

[code]

migrations work correctly too in the test project in which I'm attempting to recreate the issue (wit

[2022-08-17 21:10] abury commented on #41567
@raldred yeah I ended up doing the same.

[2022-08-17 22:37] raldred commented on #41567
Glad to hear you're sorted.

On Wed, 17 Aug 2022, 22:11 Aron, ***@***.***> wrote:

[2022-08-18 07:48] joker-777 commented on #44167
Hi, why is this closed when https://github.com/rails/rails/pull/44349 isn't merged yet? We are still experiencing this error with activesupport `7.0.3.1`.

[2022-08-18 09:56] masterkain commented on #45609
I'm migrating a big table with yaml serialized columns to jsonb, the serialized columns have seen multiple rails versions so the classes inside there are quite a bit.

[code]

this resolves the issue for which `YAML.unsafe_load(record.my_serialized_column)` raises but I get anothe error:

[code]

this running on a Rails 6 codebase.

anyone knows how to solve this? I tried adding the `empty?` metho

[2022-08-18 11:24] rikkipitt opened #45844 "ActionView output_buffer issue on newly registered partial filetypes"
### Steps to reproduce

Using the latest Rails version (HEAD), I'm getting some issues with views that have extensions that have been registered. For example, I have a markdown handler that works in Rails 6.1.6.1 but seemingly not in 7 (specifically, 7.1).

When the view/templates are rendered, what's returned is an `@output_buffer.safe_append="..."` leading to things like:

`undefined method 'gsu

[2022-08-18 12:48] eileencodes commented on #45841
I don't know why the bot keeps removing `more-information-needed` this should be categorized as that since I don't yet have enough information to dig in. You shouldn't need to create connection classes specifically for migrations and you shouldn't need to interact with the connection_specification_name, as that's an internal concern to Rails.

It's possible you have a gem that's not interacting we

[2022-08-18 13:10] pnegri commented on #45793
We currently have UUID working here at Iugu (Payment Company at Brazil) for MySQL 6 to 8. We could share our code and try to create a PR for full UUID support for MySQL (Rails 4 to 6). Used at production with tables with more than 200 million records.

[2022-08-18 13:13] fatkodima commented on #45793
@pnegri Please do 👍

[2022-08-18 13:51] jwoodrow commented on #45841
Actually we are using [`fix-db-schema-conflicts`](https://github.com/jakeonrails/fix-db-schema-conflicts) (a fork where we've changed it to work with rails 6.1.6.1/ruby 3.0.4) but it's in the `development` group which wouldn't explain why we would be seeing this when deploying to Heroku (since we have `BUNDLE_WITHOUT=development:test` which should prevent the `development` group from being bundled

[2022-08-18 14:00] renatolond opened #45846 "7-0-stable still breaks with ActiveRecord.serialize with yaml coder"
### Steps to reproduce

[code]

### Expected behavior

It should serialize simple values into the data column & back out, like it used to in Rails 7.0.3

### Actual behavior

An PsychDisallowedClass is raised:
[code]

### System configuration
**Rails version**: From 7-0-stable, which has the fix for #45585

**Ruby version**: 2.7.6

[2022-08-18 14:01] pnegri opened #45847 "Proposal: MySQL UUID Proposal [Draft]"
### MySQL UUID (Draft)

We want to add native rails support for UUID on MySQL. We currently use a solution at iugu (Financial Institution at Brazil) that we update on each new rails version (With tables with more than 200 million records).

Current code we use for Rails 7 shared at:
https://github.com/pnegri/rails7-mysql-uuid (As a Patch to Rails)

UUID Attribute Gem - POC:
https://github.com/iugu

[2022-08-18 14:01] pnegri commented on #45847
@rafaelfranca Could you give us some directions here? Is this viable?

[2022-08-18 14:01] pnegri commented on #45793
Created draft and shared code at: #45847

[2022-08-18 14:03] pnegri commented on #45847
@yahonda Could you give us some input also? Tagging you since saw you reviewing some PostgreSQL UUID related stuff.

[2022-08-18 15:43] eileencodes commented on #45846
The issue you linked was calling hash with indifferent access internally which was unnecessary, but your reproduction is calling `with_indifferent_access` so you need to add `ActiveSupport::HashWithIndifferentAccess` to your `ActiveRecord.yaml_column_permitted_classes`.

[2022-08-18 16:11] renatolond commented on #45846
Sorry, my example was not too clear. I rewrote with a controller so that the issue we're facing is a bit more clear, because we're not explictly using `HashWithIndifferentAccess`, the controller is doing it

[2022-08-18 18:39] pnegri commented on #45847
Something maybe like OID in PostgreSQL?
<img width="354" alt="image" src="https://user-images.githubusercontent.com/39310/185469703-300de7a9-4808-4fbc-b040-ce8c81f18e4c.png">

[2022-08-18 21:57] JiaboHou opened #45852 "Enabling executor_around_test_case and disabling allow_concurrency fails controller tests"
### Steps to reproduce

1. In a test environment, set the following configs:
    - [`config.active_support.executor_around_test_case`](https://guides.rubyonrails.org/configuring.html#config-active-support-executor-around-test-case) to `true`
    - `config.allow_concurrency` to `false`
2. Run a test that makes a web request (calls `get`, `post`, `patch`, etc.), usually a controller test.
3. Observe

[2022-08-18 23:43] yahonda commented on #45797
Addressed by https://github.com/rails/rails/commit/43a6b4fc0f7902e682d49933f84fa84642282393

[2022-08-18 23:43] #45797 closed

[2022-08-19 04:08] skipkayhil commented on #44167
This was fixed in #44454 and backported to 7-0-stable, but just hasn't been released yet. In the meantime you can disable the ServerTiming middleware (or point your `Gemfile` at `7-0-stable`) and the issue should go away.

[2022-08-19 05:06] skipkayhil commented on #45852
It sounds like this may be the caveat mentioned by @byroot in the CHANGELOG for `executor_around_test_case`:

Since `allow_concurrency: false` adds a `MutexLock` to the `Executor`, the `Executor` around both the test and the request will call `@mutex.lock` which results in the deadlock. I think these settings are probably not compatible (maybe we should warn/raise with this combination?)

[2022-08-19 07:43] akpatternica commented on #44167
@skipkayhil is it really backported? I can't find it in after 7.0.3 commits.

[2022-08-19 10:05] tmimura39 opened #45854 "Bug when broadcasting TaggedLogging(without a block) loggers."
### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]

If `#tagged` is used without blocking, the tag is incorrectly referenced in the broadcast destination logger.

I think it is a bug related to https://github.com/rails/rails/pull/44695.

When the formatter of the logger that originated the broadcast is updated, the reference to the tag to which the broadcast

[2022-08-19 11:06] byroot commented on #45852
Hum, I think we can replace the Mutex by a Monitor to allow reentrency.

[2022-08-19 18:08] rafaelfranca commented on #45635
Thank you @georgeclaghorn. I'll make sure that page is up-to-date and next releases don't forgot to do it.

[2022-08-19 18:26] pnegri commented on #45847
Attribute Gem - POC, done at:
https://github.com/iugu/uuid_attribute

[2022-08-19 18:35] pnegri commented on #45847
On the Attribute POC - Gem, I'm having trouble on how to auto initialize attributes.

https://github.com/iugu/uuid_attribute/blob/main/lib/uuid_attribute/active_model.rb#L8

Trying to get rid of:
class User < ApplicationRecord
  attribute :id, :uuid, default: -> { SecureRandom.uuid }
end

class User < ApplicationRecord (id and ending with _id auto initialized with :uuid)
end

[2022-08-19 18:37] pnegri commented on #45847
@fatkodima @kaspernj

[2022-08-19 18:52] sergitejada opened #45861 "Rails 7, cannot be loaded js controllers in production"
When moving from development to production environment the JS drivers cannot load into the html.

### Error
![image](https://user-images.githubusercontent.com/49126831/185686468-4c725ec0-515b-43d5-ba8a-1ebc3f5a6d67.png)

### My Code
**JS Folder**:
![image](https://user-images.githubusercontent.com/49126831/185686599-af905db8-3078-45f0-8b11-d60c5da040e6.png)
**Main Page**:
![image](https://user-ima

[2022-08-19 19:37] kaspernj commented on #45847
@pnegri I have a solution that will work as a gem. I might get a couple of hours to write it during the weekend.

[2022-08-19 20:04] jefraroce commented on #43973
Hello everyone,

I had the same issue 😢 . In my case there were two things to solve:

1. The first was about the relative path, **webpack** was looking for '/.attachment_upload' file into my './app/javascript/' folder. As you case see it didn't have much sense because the **actiontext** library was installed inside the './node_modules' folder.

To solve this, I added the 'node_modules' folder to t

[2022-08-19 21:04] #45852 closed

[2022-08-19 22:19] pnegri commented on #45847
I already uploaded a working one. We use here at iugu, with tables with more than 200 million records. Just trying to understand if this is something we could get into rails or if its better to work it as a Gem (Still need to solve the auto attribute thing - Read above).

[2022-08-20 06:43] #44964 closed

[2022-08-20 19:57] skipkayhil commented on #44167
Ah, you're right, thank you. @joker-777 if you have a way to reproduce the issue on `7.0.3.1` feel free to open a new issue.

[2022-08-21 00:48] izaguirrejoe opened #45866 "JSON rendered as empty array of strings when bundling edge Rails"
An error occurs when running `bundle update rails`. I'm bundling edge rails, going from commit d0bc58a8365034c06333e1aff5383892e3a7d803 to 893e5e25e5d83416c8f270dd1b1e32d9e5da76f5. Upon upgrading, attempting to render an array of ActiveRecord objects as JSON returns ["","","","","","","","","","","",""]. A new bug was introduced between those two commits in Rails. Reverting to older version of Rai

[2022-08-21 09:58] fatkodima commented on #45866
Can you create a reproducible test case using one of the following templates - https://github.com/rails/rails/tree/main/guides/bug_report_templates ?

[2022-08-21 11:09] #45105 closed

[2022-08-21 12:21] Kledal commented on #22965
If you are using Dokku and facing this problem, check out this awesome guide https://okhlopkov.com/cloudflare-certificates-dokku/

[2022-08-21 17:15] #44975 closed

[2022-08-22 07:35] hahmed commented on #45861
Could you reproduce this issue in a smaller sample application and post the link here?

[2022-08-22 08:46] byroot commented on #45846
Sure, but it's your code that pass the value as a `HashWithIndifferentAccess`, not Rails.

You can either allow that type, or cast the value as a regular hash.

[2022-08-22 08:46] #45846 closed

[2022-08-22 09:55] tkalliom opened #45868 "ActiveRecord store deserialization fails with nested objects"
### Steps to reproduce
[code]

### Expected behavior
The serialization/deserialization round trip should work.

### Actual behavior
A `Psych::DisallowedClass` error is raised:
[code]

The issue #45585 was marked as fixed with PR #45591, but that fix is incomplete. It does not take into account nested objects: e.g. in my example above, the top-level `properties` is converted from `HashWithIndiffere

[2022-08-22 12:15] swaincreates commented on #35704
I'm sorry @feliperaul it has been too long for me to remember and I no longer have access to this codebase.

[2022-08-22 15:12] jguecaimburu commented on #44806
This bug is still present in `main`. Tested on ruby 3.1.2p20

[2022-08-22 16:49] dsusviela commented on #45830
@nvasilevski Hey, would it make sense to update the `commit` method https://github.com/rails/rails/blob/008b85e3d7a511f9d6bc58ed4e29e323576f6ac3/activerecord/lib/active_record/connection_adapters/abstract/transaction.rb#L284-L287

to:

[code]

and then update what you were saying?

[2022-08-22 19:58] nvasilevski commented on #45830
Hey! It looks like a plausible solution, but I have to admit I have too little experience and context on this area to be confident so I was hoping someone more experienced and with a better context could share an opinion.
Looking at the proposed solution, I'd be trying to answer the following questions:
- Is introducing a new `rolledback_by_db` state is a good idea or it basically a re-implementat

[2022-08-22 20:42] jskirst commented on #32376
Running into this issue as well still in Rails 6.1.6.1

[2022-08-22 21:45] khamusa commented on #33707
Just to note that the provided solution will completely clear all comments from post. You're assigning a new array to the collection, so the [default Rails behavior](https://guides.rubyonrails.org/association_basics.html#methods-added-by-has-many-collection-objects) for `collection=` will kick in.

If you want to mark for destruction only the ones where status is true, leaving others untouched, an

[2022-08-22 22:20] dsusviela commented on #45830
I'm honestly quite new in the rails repo, and I'm trying to get my feet wet :). You raise some very valid points, I believe the last point could address the second one. But the new exception would be so niche that it may not be worth the hassle. I can try with different adapters later and see what happens, but in my super uninformed opinion it would make sense this is not postres specific.

[2022-08-24 02:11] mhartl commented on #45121
This is still an issue in `7.0.3.1` but shouldn’t be too hard to fix since it wasn’t present in the vast majority of previous Rails versions. The 7th edition of the *Ruby on Rails Tutorial* is going to press soon so this is the last chance to fix this issue before the current version gets set in stone (or at least in paper).

[2022-08-24 06:47] matthewd commented on #45830
Yeah, that's what invalidated is for.

Yes, most Postgres errors are recoverable (via a partial/savepoint rollback) -- the transaction enters an unusable state, but it's still there. We use "invalidated" for the specific case where a transaction fails so hard that the DB has already rolled it back unasked... which MySQL seems to do more often.

It seems plausible that all databases have similar be

[2022-08-24 07:08] matthewd commented on #45121
For the record, this was a Ruby change, not Rails.

I do intend to return to #45122 very shortly.

[2022-08-24 07:11] joker-777 commented on #44167
@skipkayhil Unfortunately it is very hard for us to reproduce it reliably. Looking at the stack trace though it seems very similar to this error here:

[code]

[2022-08-24 08:50] TiesWestendorp commented on #24055
Working on Rails 6.1.6.1, and it seems that the above is not true for me. What I'm trying to achieve is `a.or(b).or(c)` where:
[code]
I can get it to work by moving the join outside of `c`, and to the back of the `or` calls, but that would require me to change the INNER JOIN to a LEFT OUTER JOIN, since otherwise it would filter out rows from `a` and `b` that it shouldn't. Also, this is a less spec

[2022-08-24 10:06] yahonda commented on #45847
Sorry for the late reply. We don't typically take feature requests on the bug tracker, we reserve it for issues.
Would you start a discussion at https://discuss.rubyonrails.org/ ? Thanks.

[2022-08-24 10:39] byroot commented on #45847
So I'd start by implementing native UUID for MariaDB. We already have a bunch of features we test for based on the server we're talking to.

As for the `binary(16)` "shim" for MySQL and older MariaDB, it may be possible, but the problem is that Active Record need to be able to infer the "logical type" from the database schema. So I'm worried if you already have a `binary(16)` column in your schema

[2022-08-24 12:26] achref-rassas commented on #31985
Hey Mid 2022!!

[2022-08-24 12:46] bcoelh0 opened #45879 "No implicit conversion of String into Integer (TypeError) - when commiting record to the database"
### Steps to reproduce
[code]

### Expected behavior
Expected object to be created in the database with no errors AND object to be returned

### Actual behavior
The record is actually saved to the database, but this error is returned
The variable `t` is set to `nil` instead of the object just saved.
This only happens if the record has one of the fields named `hash`. Any class without this field sa

[2022-08-24 14:10] cgunther commented on #45056
This still an issue on v7.0.3.1, 7-0-stable, as well as main. My reproduction script demonstrates the failure on each. The reproduction test passes on v6.1.6.1.

Thanks in advance!

[2022-08-24 14:33] abraham opened #45880 "Google search links to old API docs"
### Steps to reproduce

1. Search Google for a Rails API https://www.google.com/search?q=rails+update_all
2. Follow link for "ActiveRecord::Relation - Rails API"

### Expected behavior

Find documentation for the latest version of Rails. Currently `7.0.3.1`.

`https://api.rubyonrails.org/classes/ActiveRecord/Relation.html`

### Actual behavior

Find documentation for the the very old version of `3

[2022-08-24 14:35] abraham commented on #45880
This could probably be fixed by setting a [canonical tag](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls) on all the old versions.

`<link rel="canonical" href="https://api.rubyonrails.org/classes/ActiveRecord/Relation.html" />`

[2022-08-24 16:21] pnegri commented on #45847
@byroot I agree, but in general, fields with name id or ending with _id can be assumed to be UUID. It's hard to think about another use for that, better to work as exception (With some command to ignore the field). I uploaded code last night to uuid_attribute working for Rails 6/6.1/7 (MySQL,MariaDB,PostgreSQL,SQLite) and some ruby versions.

I'll continue the research. Will take a look at the com

[2022-08-24 17:10] byroot commented on #45847
That may be a fine asusumption in an application, but not in a framework. If we were to cut corner like this, I can bet you we'd get issues rather quickly.

Also it would be a very ugly hack for the schema parser to start behaving differently based on the column name. It's a hack in my view.

So I can already say that no code relying on this would be accepted.

I thought this issue about MySQL spe

[2022-08-24 17:15] byroot commented on #45844
Hi @rikkipitt, so this is very likely due to a refactoring I did recently (https://github.com/rails/rails/pull/45614).

`@output_buffer` used to be a `String` subclass, so you could do all sort of stuff on it, it's now a much more restricted API. This may have broken some handlers, I'd be happy to work with the maintainers to get that fixed properly.

Could you share for both cases:
  - the full b

[2022-08-24 17:49] byroot commented on #45868
As explained on https://github.com/rails/rails/pull/45872 I disagree, Rails can't know if you are passing a HWIA on purpose and expect to get it back or wanted to pass a hash.

The top level hash is part of the store contract, so Rails can convert it at will, but Rails can't assume anything about what's inside. Your `nested_properties` is a black box for Rails.

Note that you can pass a custom cod

[2022-08-24 18:10] tkalliom commented on #45868
If you’ll look at the example code, I pass ActiveRecord a structure of _plain_ hashes, and ActiveRecord then produces a broken object from this input. It is only _ActiveRecord_ which ever refers to HWIA, not my code. So `nested_properties` is not quite treated as a black box; it is already converted in one direction. It seems a little clumsy that users of the ActiveRecord interface would have to k

[2022-08-24 18:11] byroot commented on #45868
Hum, let me check something.

[2022-08-24 18:15] byroot commented on #45868
Ah damn it, I forgot HashWithIndifferentAccess convert hash values to -_-. Sorry.

So ok, it need to be fixed. I'll re-open the PR, but the fix can be simplified I think.

[2022-08-24 18:34] byroot commented on #45821
Closing as non actionable.

[2022-08-24 18:34] #45821 closed

[2022-08-24 18:37] byroot commented on #45879
Thanks for the report, could you produce a repro script using this template? https://github.com/rails/rails/blob/main/guides/bug_report_templates/active_record_gem.rb

That would make it much easier for us to look into this.

[2022-08-24 19:32] #45868 closed

[2022-08-24 20:28] fatkodima commented on #45879
Repro script:
[code]

[code]

The problem is that Active Record defines an attribute method for `hash` column, but `hash` method is used by `Hash` class for keys.

1. So first of all, it is better to avoid having columns named like `hash`, `object_id` etc, that will cause problems in other places.

2. There is already a check for "dangerous" attribute names - https://github.com/rails/rails/blob/aa

[2022-08-24 20:32] byroot commented on #45879
Ah good catch @fatkodima.

I don't think we should work around this. Adding `hash` to the list of dangerous methods should be enough.

[2022-08-24 20:34] fatkodima commented on #45879
Agreed, will open a PR. Do you think other methods should be also added?

[2022-08-24 20:40] byroot commented on #45879
Possibly yes, looking (very quickly) at https://ruby-doc.org/core-3.1.1/Object.html and https://ruby-doc.org/core-3.1.1/BasicObject.html

- `__id__`
- `__send__`
- `method_missing`
- `dup`
- `hash`
- `freeze` ?
- `inspect`
- `public_send`
- `send`

Which is quite a long list and somewhat arbitrary.

Another option would be not to exclude the methods that were inherited, but then have a small exclu

[2022-08-24 20:45] #45121 closed

[2022-08-24 22:20] dsusviela commented on #45830
I have tested for `sqlite3`, and `mysql2`. Neither pops a warning.

`mysql2` triggers a rollback; but no warning:
[code]
<img width="1116" alt="image" src="https://user-images.githubusercontent.com/18326941/186532918-fbdb91ed-109d-4e33-a6cc-ef2f42907e1b.png">

sqlite3 triggers rollback; no warning
[code]
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/18326941/18653366

[2022-08-24 22:22] skipkayhil commented on #44167
Perfect, that stack helped me narrow it down. I believe its the same issue that the PR above solved, but its in the `ddtrace` gem https://github.com/DataDog/dd-trace-rb/blob/cb1cfc1975ca6c70b5e9d76dc3b6f8272cf858c9/lib/datadog/tracing/contrib/rack/middlewares.rb#L112

I would open an issue in their repo with https://github.com/rails/rails/commit/3ab161632564b0980b2b8034f595b41d478cbf9b this exampl

[2022-08-25 03:22] matthewd commented on #45830
Neither of those attempted the COMMIT at all -- the trigger causes the INSERT to raise, so we rollback as expected. Perhaps the challenge in a cross-database test will be in finding a way to make COMMIT fail [in a controlled way] at all. 🤔

[2022-08-25 07:52] #45879 closed

[2022-08-25 12:02] UmarMahmoodShaikh commented on #44161
You can send email once you have deployed your application on server. Otherwise use this gem to check your mails through local temp storage.
 gem 'letter_opener'
 It did work for me as I ran this thing on console for a localhost project and then I also checked my temp storage where I could track my emails.

[2022-08-25 13:32] dsusviela commented on #45830
Hey @matthewd apologies for the ping, but i messed up my tests. If you look at the triggers from my snippets they are `BEFORE INSERT` and they should be `AFTER INSERT`.

sqlite3 and mysql `AFTER INSERT` behave the same way tho, so no damage done 😅.

I think it makes sense that they didn't trigger the commit since the `db validation trigger` should run in the transaction right?

[2022-08-25 14:37] thedayisntgray commented on #43896
This is pretty for beginners. Should rails throw some sort of warning if npm isn't the version it is expecting.

[2022-08-25 15:48] #41195 closed

[2022-08-25 17:09] #43312 closed

[2022-08-25 20:24] strobilomyces opened #45888 "propshaft broken by change in rails/main"
### Steps to reproduce
- Create app using Rails main (on or after 73d96c494759888eda7021c94774463c9b0f5556) and propshaft -- `rails new fuck -a propshaft --main`

### Expected behavior
A new Rails app with propshaft should be created without errors.

### Actual behavior
[code]

### System configuration
**Rails version**: main

**Ruby version**: 3.1.2p20

Rolling back to the previous commit, 2045ce

[2022-08-25 21:43] mridul911 opened #45889 "ActiveStorage NoMethodError: undefined method `upload' for nil:NilClass"
### Steps to reproduce

Simply follow the instruction to download the activestorage.

- I've ran the migration: rails active_storage:install

- I've edited my development environtment file: config.active_storage.service = :local

- setup xyz model by adding: has_one_attached :image

[code]
**Controller**
[code]

**Form**
 using .slim
[code]
### Expected behavior

Should attach this object as expec

[2022-08-25 21:49] fatkodima commented on #45889
Rails `5.2.x` is not currently supported for bug fixes.
Can you verify the problem still exists when using the latest changes from the `main` branch? If yes, please create a repro script using one of the templates from https://github.com/rails/rails/tree/main/guides/bug_report_templates or share with us a sample app that demonstrates the problem.

[2022-08-25 23:48] Thetoan1 commented on #45880
person = Person.new
person.valid?
person.errors.where(:name)
person.errors.where(:name, :too_short)

[2022-08-26 00:00] prem-prakash commented on #19619
Not good!

[2022-08-26 06:50] gingerlime commented on #44167
Hi @skipkayhil ! thanks for your help. I work with @joker-777. I tested by removing `ddtrace` and still see errors on the backend some times

`Rack app ("GET /assets/app_javascript_components_quiz_type_selector_js-app_javascript_components_terminology_modal_j-e38558-chunk-e0c804251e29c02701b7bdac8d312af123767d992670295bc2c4d93dca570fa7.digested.js" - (91.*.*.*)): #<TypeError: nil can't be coerced

[2022-08-26 09:16] alietz opened #45890 "ActiveStorage: Partial downloads with incorrect range throw a RoutingError and 404 not found"
### Steps to reproduce
[code]

### Expected behavior
When a browser asks for a part of a file that doesn't exist (Safari is prone to doing this), the response should be 416 'Range not satisfiable'.

### Actual behavior
The response is 404 'Not found' and an ActionController::RoutingError occurs.

### System configuration
**Rails version**: 7.0.3.1

**Ruby version**: 3.0.2p107

[2022-08-26 19:10] #45132 closed

[2022-08-26 22:40] joanniclaborde opened #45893 "ActiveRecord: HMT with conditions does not update the in-memory collection when pushing new objects"
Hi! When using a `has_many :a, through: :b` relation, and the `:b` relation has a condition, adding new objects doesn't update the in-memory collection properly (stops after the first object).

### Steps to reproduce

[code]

### Expected behavior
`package.items.count` is equal to 3.

### Actual behavior
`package.items.count` is equal to 1, even though all the items and relations are created prope

[2022-08-27 00:10] #44242 closed

[2022-08-27 09:36] fatkodima commented on #45890
The problem is:
1. Active Storage uses `Rack::File` to serve files
https://github.com/rails/rails/blob/d66441f39127c284c2fc7ac9bfe3e8270b115033/activestorage/app/controllers/active_storage/disk_controller.rb#L14
https://github.com/rails/rails/blob/d66441f39127c284c2fc7ac9bfe3e8270b115033/activestorage/app/controllers/concerns/active_storage/file_server.rb
2. Rack sets `X-Cascade => pass` when we h

[2022-08-27 21:42] Randall-Coding commented on #31286
This problem persists today.  It would be helpful for there to be a visible warning or error if the editor is not set to "wait".

I thought silent errors like this are usually against Rails ethos.

[2022-08-28 04:34] natematykiewicz commented on #45861
Your problem is line 35 in the `config/production.rb`. You didn't specify an asset host. Uncomment the line and set it to your domain.

[2022-08-28 20:22] p8 commented on #45888
The `assets` accessor was removed in https://github.com/rails/rails/pull/45878
Propshaft probably needs the fixed it similarly to the fix in `sprockets-rails`.
cc @etiennebarrie

[2022-08-28 23:09] #45888 closed

[2022-08-28 23:13] cielolucas commented on #44170
**This really helped me!**

[2022-08-29 04:24] yahonda opened #45899 "Active Job unit tests fail using que 2.2.0"
### Steps to reproduce
Active Job CI has been failing since que 2.2.0 is installed. https://buildkite.com/rails/rails/builds/89068#0182e6b9-7c84-4b85-a651-8d640f5eb076

[code]

Although there are 3 failures and 75 errors. This script just runs a single test because it looks the root cause is the same.

### Expected behavior
It should pass.

### Actual behavior
It raises `ArgumentError: wrong numbe

[2022-08-29 04:26] yahonda commented on #45899
@sidonath @ZimbiX Would you take a look at this because you are familiar with `que` changes as author and reviewer of #44734 ?

[2022-08-29 07:00] #45087 closed

[2022-08-29 07:00] #44886 closed

[2022-08-29 07:00] #44861 closed

[2022-08-29 07:00] #43721 closed

[2022-08-29 08:00] benkoshy commented on #44260
### What worked for me?

`rake assets:clobber`

And then regenerate the source map.

[2022-08-29 16:19] wpeterson opened #45901 "bin/rails dbconsole should include_password by default"
### Steps to reproduce
1. Configure a Rails `config/database.yml` with a `password` required to connect
2. Run `rails dbconsole`
3. See prompt for database password, despite password being configured/available
4. Run `rails dbconsole -p`
5. See dbconsole properly load and use credentials to connect to database for DB console session

### Expected behavior
Whenever a Rails app has credentials like

[2022-08-29 18:00] #45001 closed

[2022-08-29 23:57] #45152 closed

[2022-08-30 00:21] skipkayhil commented on #45890
I agree we probably shouldn't be passing this header, but I'm not sure we should be trying to change Rack. I think it would be easiest to not include "X-Cascade" when copying headers in stream_file: https://github.com/rails/rails/blob/d66441f39127c284c2fc7ac9bfe3e8270b115033/activestorage/app/controllers/concerns/active_storage/file_server.rb#L10-L12 or manually clearing it after copying.

(As a s

[2022-08-30 04:57] gingerlime commented on #44167
Finally got the full trace from Puma :)

[code]

So it seems unrelated to `ddtrace`

[2022-08-30 06:35] webzorg commented on #43677
I wouldn't name the file `application.bootstrap.scss` and then require `application_link_tag 'application'`, it's confusing on where the file is coming from, after looking at package.json scripts yes it makes sense but lot of upgrades will end in confusion

[2022-08-30 12:58] amarchenkoshopify opened #45906 "High object allocation count from `ActiveRecord::ConnectionAdapters::PoolManager#pool_configs `"
### Steps to reproduce

While working on memory efficiency investigation I noticed that a very big bunch of object allocations comes from a single method `ActiveRecord::ConnectionAdapters::PoolManager#pool_configs`:

[code]

This method is called on every activerecord operation and does not cache its result: could we think about a way of caching its result?

cc @eileencodes

### Expected behavior

[2022-08-30 13:00] eileencodes commented on #45906
Thank you @amarchenkoshopify I'll take a look at this soon.

[2022-08-30 14:42] eileencodes commented on #45861
Closing because this isn't a bug in Rails, but rather a bug in the application.

[2022-08-30 14:42] #45861 closed

[2022-08-30 19:48] onyxblade commented on #29713
If someone is in need of this feature, creating a SQL view that has the default scope inside might help. https://github.com/scenic-views/scenic this gem is very handy in maintaining SQL views in Rails.

[2022-08-30 23:25] hahmed commented on #45890
Looking at the spec https://httpwg.org/specs/rfc7233.html#header.range

Seems like Rack is the appropriate place for this fix?

[2022-08-30 23:52] yahonda opened #45913 "Active Job integration tests for `resque` and `sidekiq` fail with `redis` 5.0.1 and `redis-client` 0.7.1"
Managed to reproduce https://buildkite.com/rails/rails/builds/89114#0182ef6a-4316-4671-981b-3dafdeee29a2

### Steps to reproduce
[code]

### Expected behavior
Both of Active Job integration tests for `resque` and `sidekiq` should pass.

### Actual behavior
[code]

* for resque `redis-client-0.7.1/lib/redis_client/config.rb:20:in `initialize': unknown keyword: :thread_safe (ArgumentError)`

[code]

[2022-08-31 06:29] yahonda commented on #45913
`for resque redis-client-0.7.1/lib/redis_client/config.rb:20:in initialize': unknown keyword: :thread_safe (ArgumentError)` looks like fixed via https://github.com/resque/resque/pull/1822

[2022-08-31 06:30] yahonda commented on #45913
Other compatibility issues are explained at https://github.com/redis/redis-rb/issues/1142

[2022-08-31 08:12] etiennebarrie commented on #45888
Sorry about that. 😅

I wonder why both aren't defining their own accessor, it's kind of weird to store your object on an object you don't own. Why use `Rails.application.assets` when you can use `Propshat.assets` for instance?

[2022-08-31 12:37] eileencodes commented on #45906
I opened https://github.com/rails/rails/pull/45916 which will reduce calls to `pool_configs` since we're no longer calling them in `complete` in the query cache. We can't simply memoize `all_connection_pools` or `pool_configs` without test errors, although I didn't yet dig into why yet (it might be a test only thing due to how transactions work but that would still break a lot of apps).

[2022-08-31 20:32] tjwp commented on #45641
Today I learned about the standardized error reporter: https://github.com/rails/rails/pull/43625

Perhaps the serialization error would be a good use case for that, changing error handling here: https://github.com/rails/rails/blob/main/activerecord/lib/active_record/type/json.rb#L14 to:

[code]

(Probably with `Rails.error` replaced by `ActiveRecord.error` when that is available.)

[2022-08-31 21:52] youssef1337 opened #45919 "`<<` function of `ActiveRecord::Associations::CollectionProxy` unexpected behavior"
### Explanation
Hello, so I am using the `<<` [function](https://api.rubyonrails.org/v6.1.3/classes/ActiveRecord/Associations/CollectionProxy.html#method-i-3C-3C) of `ActiveRecord::Associations::CollectionProxy` and before (in `rails 5`) it was returning `false` when it failed, when I upgraded to `rails 6` that doesn't happen anymore and I traced it to this [change](https://github.com/rails/rails/

[2022-09-01 03:05] lazaronixon opened #45920 "Replace has_one through create_association might create duplicated rows"
### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]

[2022-09-01 08:33] fatkodima commented on #45920
You need to have a unique index on `comments.post_id`. https://github.com/gregnavis/active_record_doctor/issues/65

[2022-09-01 09:42] rikkipitt commented on #45844
Hey @byroot. Sorry for the poor issue write-up. I was on the go and didn't have full access to my laptop/code.

That said, thanks for spotting this and figuring out what might be the issue. I'll send you over a gist ASAP.

Cheers!

[2022-09-01 11:56] lazaronixon commented on #45920
In this case, the method will not work at all… Also rails should be able to handle this kind of integrity without a unique index, this is what the framework is trying to do but not very well…