[2015-02-25 07:20] ernsheong opened #19070 "truncate_words is hanging on certain texts (Rails 4.2 new method)"
Hi all,

When you cut and paste the following into rails console with Rails 4.2. It hangs...

    "Hello,\n    I am available at after 12 every sunday. Saturday afternoons after 2\npm. 2 hours every session.\n\n2015-02-23 20:02 GMT+08:00 Name <email@example.com>:".truncate_words(30)

Scenario: I am trying to parse inbound emails. The hanging is causing 504s to happen eventually, when all threads a

[2015-02-25 07:51] raouldevil opened #19071 "Relative vs absolute table names for namespaced models"
On Rails 4.1.9 and 4.2.0, when I generate a namespaced model with the following line:

`rails g model A::B::C::D::E name:string`

It generates the following directory structure
[code]

`d.rb` seems to enable activerecord to find the correct table when working with the model A::B::C::D::E using `table_name_prefix` as follows:

[code]

However, we can eliminate the need for this module entirely and

[2015-02-25 08:02] raouldevil commented on #18964
@sgringwe Do the query parameters for `"career_fairs"."location_id"` originate in your code somewhere or do they come directly from your database?

[2015-02-25 10:06] alediaferia commented on #19067
I tried creating a new Rails app with the same before_filter that causes the deadlock but don't manage to reproduce the issue. Any hint on what to check on my app?

[2015-02-25 10:09] bezludny commented on #19031
I found the reason.
I have defined for my ActiveAdmin before filter with:

  before_filter do
    Product.class_eval do
      def to_param
        id.to_s
      end
    end

    Category.class_eval do
      def to_param
        id.to_s
      end
    end
  end

So, when I logged in into admin panel and go to the Products page – to_param for my models redefine. My fault.

[2015-02-25 10:22] alediaferia commented on #19067
I've updated the original post in order to clarify how I perform the fetch.

[2015-02-25 10:39] RKushnir opened #19073 "Has-many-through fails to create join model when used with scope"
I have the following models
[code]
Now, `user.liked_collections.create!` works.
And `user.liked_collections.with_public_access.create!` creates the `collection`, but fails to create a `like` to link it to the `user`.

UPD. Gist to reproduce https://gist.github.com/RKushnir/57d0064541da39f9b8e4

[2015-02-25 10:48] jvanbaarsen commented on #18821
@cristianbica Thanks for the reply, for sidekiq this would be a great option. But for the others that should return a active record object, somehow they don't (I'm probably looking in the totally wrong place). Some examples of return data:

**DelayedJob**:
[code]

**Rescue** (This one only returns if the job is properly queue'ed or not)
[code]

**Que**
[code]

[2015-02-25 11:11] cristianbica commented on #18821
In test mode usually the adapters don't hit the backend (Redis, ActiveRecord, etc). So you'll need to check for each adapter what do they return when enqueueing a job.

[2015-02-25 11:18] jvanbaarsen commented on #18821
@cristianbica Ok! Thanks for the tip! I'll setup a test app for this :)

[2015-02-25 12:25] alediaferia commented on #19067
I can confirm reverting back to Rails 4.1.9 fixes the issue.

[2015-02-25 14:54] #18900 closed

[2015-02-25 15:09] rafaelfranca commented on #19071
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-02-25 15:09] #19071 closed

[2015-02-25 15:14] #19070 closed

[2015-02-25 18:32] renanoronfle commented on #18950
i agree testing what instance variables are set is a bad idea, but i'm not sure to test what mutations happened to the DB, because this  is not innards of the controller too.
I think the better way is test what HTTP code is returned

[2015-02-25 18:33] raouldevil commented on #19071
Apologies, that's what I thought (I'm new here) but then I saw a few issues which could be interpreted as feature requests. Thanks for the feedback.

[2015-02-25 18:37] drewda opened #19078 "migrations: t.references doesn't allow index name to be specified"
I have the following in a migration:

[code]

That produces an index with too long of a name for Postgres.

Is there a way to manually specify the index name (without adding the integer column and the index separately)?

Something like the following:
[code]
?

[2015-02-25 18:41] rafaelfranca commented on #19078
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-02-25 18:41] #19078 closed

[2015-02-25 18:51] drewda commented on #19078
Thanks, will do.

[2015-02-25 19:22] rafaelfranca commented on #19073
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-02-25 19:33] yellowaj commented on #1627
+1 running into this error in production on Heroku

[code]

[code]

[2015-02-25 20:04] RKushnir commented on #19073
@rafaelfranca of course, here you are https://gist.github.com/RKushnir/57d0064541da39f9b8e4
I simplified it a bit and removed the details the appeared to be irrelevant.

[2015-02-25 20:55] emclab opened #19079 "Include module in engine's application contorller causes circular dependency error"
in_quotex is a Rails 4.2.0 engine. In its application controller, there includes:

  module InQuotex
    class ApplicationController < ::ApplicationController
      include BizWorkflowx::WfHelper
     .....
  end

When loading the WfHelper module, there is an error if we run InQuotex::QuotexController.public_instance_methods:

  InQuotex::QuotesController.public_instance_methods(false) = {RuntimeE

[2015-02-25 20:57] emclab commented on #19079
BTW none of the methods defined in WfHelper was there for quotes controller. I am wondering if it has something to do with this circular dependency error.

[2015-02-25 20:59] grosser opened #19080 "activerecord is unable to load schema.rb into postrges when dumped on mysql with a boolean"
I ran a migration:

[code]

and now my schema.rb reads:

[code]

which loads fine in mysql, but in postgres I end up with this:

[code]

[2015-02-25 21:08] morgoth commented on #19080
@grosser I think it was fixed in https://github.com/rails/rails/pull/19066

[2015-02-25 21:09] kaspth commented on #19079
Let's test this a bit.

Can you try defining your engines' application controller as `class InQuotex::ApplicationController < ApplicationController` and report back?

Likewise fully qualifying the include as `include ::BizWorkflowx::WfHelper`.

[2015-02-25 21:11] rafaelfranca commented on #19080
Yes.

[2015-02-25 21:11] #19080 closed

[2015-02-25 21:12] grosser commented on #19080
sweet, thanks!

[2015-02-25 21:16] dhh commented on #18950
That’s more a matter of whether you’re testing the controller or doing a full system test. I’m very sympathetic to system testing, but the black box can also appear in shades of grey for greater efficiency or other concerns.

[2015-02-25 21:23] emclab commented on #19079
1. Define in engine's application controller as: class InQuotex::ApplicationController < ApplicationController
   Same error.
And 2. fully qualifying the include as include ::BizWorkflowx::WfHelper
   same error.

[2015-02-25 21:51] renanoronfle commented on #18950
Ok, but if you check mutations happened in DB, are you overstepping controllers tests?
For test full system you can test in controller the http code and make a model test to check DB mutations.
I understand your point, at present moment my tests check DB mutations, but your commentary made me think if is right.

[2015-02-25 21:55] dhh commented on #18950
I don’t think so. Controllers don’t own the model. They do own their ivars, though. So I see no issue there.

[2015-02-25 22:24] emclab commented on #19079
Here is a post I put on stackoverflow.com about the issue:

http://stackoverflow.com/questions/28728910/methods-included-not-found-after-upgrading-to-rails-4

[2015-02-25 22:35] iHiD commented on #17864
I just ran into this. Is anyone working on it or shall I take a look?

[2015-02-25 22:37] jturkel commented on #17864
@iHiD - See #18766 for a PR that fixes this problem.

[2015-02-25 22:39] iHiD commented on #17864
@jturkel Ah. Brilliant. Thanks, Joel.

[2015-02-25 23:00] rafaelfranca commented on #15470
Closed by #15476

[2015-02-25 23:00] sgringwe commented on #18964
@raouldevil They come directly from the database:
[code]

[2015-02-25 23:01] rafaelfranca commented on #17161
Yeah this is expected behavior. When you call `clear` you are just calling `delete_all` that does the query straight in the database, this doesn't change the `updated_at` column.

Mind do open a pull request updating the documentation?

[2015-02-26 00:04] dhh opened #19082 "Add Enumerable#without(*elements)"
Convenient short-form I've been using over and over again:

[code]

May well be a more efficient way of doing this. I used to do stuff like `account.users - [ Current.user ]`.

[2015-02-26 00:22] sgrif commented on #19082
Is there a case where `ary.without(1, 2, 3)` is different than `ary - [1, 2, 3]`?

[2015-02-26 01:02] dhh commented on #19082
There’s no functional difference intended. This is all about aesthetics.

[2015-02-26 01:09] seanlinsley opened #19083 "Empty JSON array is incorrectly rendered as an empty string"
Given a JSON endpoint that normally returns an array of objects:
[code]

If there are no results, we end up getting this JSON structure:
[code]

Even though it should be an empty array.

I wrote this test as an illustration. Oddly, it returns an empty string instead of the JSON object above. I suppose something else is mutating it further.

[code]

Which provides this on Rails 4.1 and master (have

[2015-02-26 01:15] sbull opened #19084 "Thread bug with Rails::Engine mounted routes, undefined method `url_options'"
This issue occurs randomly in production, as it's a multi-threading problem. This is very related to https://github.com/puma/puma/issues/647, and the underlying MRI bug https://bugs.ruby-lang.org/issues/10871.

I'm using a mounted engine, rails_admin, and I get the following exception frequently in one of my views, in which I have `rails_admin.show_path(model_name: 'dummy', id: 123)`.

[code]

I h

[2015-02-26 01:22] JacobEvelyn commented on #15470
Thanks!

[2015-02-26 01:26] seanlinsley commented on #19083
Correction: that test wasn't actually running because of an improperly set up test environment (database error). An updated version passes...

[2015-02-26 02:19] seanlinsley commented on #19083
Hmm, okay, looks like this is a bug in ActiveModel::Serializer. Sorry for the noise.

[2015-02-26 02:19] #19083 closed

[2015-02-26 02:22] zealoushacker opened #19085 "ActiveRecord::CollectionProxy#delete_all and ActiveRecord::Relation#delete_all do not follow the principle of least surprise"
Though it seems like the two methods above ought to behave identically, and follow the principle of least surprise, they actually behave *very surprisingly* and differently:

`ActiveRecord::CollectionProxy#delete_all` and its counterpart `ActiveRecord::CollectionProxy#destroy_all` take as its argument a `dependent` parameter, whose default value is `nil`. This is very different from how `ActiveRec

[2015-02-26 02:26] todd commented on #19082
I wouldn't mind taking this and exploring it a bit.

[2015-02-26 02:28] evanphx commented on #19084
This should be fixed by https://github.com/rails/rails/pull/19007 by not invoking url_helpers concurrently.

[2015-02-26 02:32] dhh commented on #19082
Have at it!

[2015-02-26 02:46] sbull commented on #19084
Would any workarounds be apparent in the meantime?

[2015-02-26 03:38] prathamesh-sonpatki commented on #19085
@zealoushacker The usecases of these 2 methods are different. `CollectionProxy#delete_all/destroy_all` are used internally to delete associated records when parent record gets deleted based on the `dependent` option. `Relation#delete_all/destroy_all` methods will delete the records which match the conditions given in arguments. I think we should not call the `CollectionProxy#delete_all/destroy_all

[2015-02-26 03:42] JDutil opened #19087 "[Regression 4.2.1.rc2] undefined method primary_key"
Receiving all kinds of `undfined method primary_key` errors on the Spree projects spec suite from testing 4.2.1.rc2:
https://circleci.com/gh/JDutil/spree/877

Can anyone point me to the change causing these errors?

[2015-02-26 03:46] arthurnn commented on #19087
probably https://github.com/rails/rails/commit/e43d96c12a3de240d70ef730942cc1bc73238481 . cc @sgrif

[2015-02-26 03:52] sbull commented on #19084
I'm attempting to create a workaround for this using a Mutex. I've been able to greatly reduce the frequency of errors, but not eliminate it completely. Here's the details: https://gist.github.com/sbull/e83defaa7c6a93950866

I'm including the important bits here:
[code]
Now, as best as I can reason, the ROUTES_MUTEX would prevent any concurrent invoking of the buggy url_helpers. I've tried a few o

[2015-02-26 04:06] sgrif commented on #19087
Can you isolate the problem and give me a script I can use to reproduce the issue, using https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb as a template?

[2015-02-26 04:09] sgrif commented on #19085
Yeah, pretty much. The issue tracker is reserved for bugs only (e.g. this used to work on 4.1, but is broken on 4.2). Discussions like this are better suited for the mailing list.

[2015-02-26 04:09] #19085 closed

[2015-02-26 04:27] prathamesh-sonpatki commented on #19085
@sgrif User should not call the `CollectionProxy#delete_all/destroy_all` right? Should those methods be nodoc'ed?

[2015-02-26 04:35] sgrif commented on #19085
No those methods are part of the public api.

[2015-02-26 04:39] zealoushacker commented on #19085
+1 on the nodoc. However, it feels like it's just too easy to make that mistake, because the method makes sense in the context it's called on a CollectionProxy, but then surprises you with the thrown error when invokes.

Make it private so it may not be called directly on the collection, or rename it. Yes?

[2015-02-26 04:41] sgrif commented on #19085
The methods will not be nodoced. It is part of the public API on Relation, so it is part of the public API of Relation subclasses.

[2015-02-26 04:59] zealoushacker commented on #19085
Then how is surprising users a good thing?

Should I issue a pr creating a method with a different name accomplishing the functionality of the CollectionProxy version of these methods, renaming all occurrences in the code base that depend on them, and then recreating #delete_all/#destroy_all to do what they do for ActiveRecord::Relation, so they don't surprise users?

[2015-02-26 05:00] sgrif commented on #19085
As I've already said, the issues tracker is not the right place to discuss this, as it is not a bug.

[2015-02-26 06:47] evanphx commented on #19084
@sbull you could probably take the change I did in #19007 and make it a hot patch you put into your initializers, to just fix the core rails behavior.

[2015-02-26 08:56] cristianbica commented on #18964
@sgringwe what could help identifying the problem is (if you can):
- provide the schema.rb definition and the sql definition for those 2 tables (only the fields involved in the query)
- add some "debug"-ish code into your environment where you see this issue. Something like:
[code]

[2015-02-26 10:42] jvanbaarsen commented on #19084
@rafaelfranca can you add the label "With reproduction steps"?

[2015-02-26 10:51] ArunSakthivel opened #19089 "NoMethodError: undefined method `delete_at' for #<User::ActiveRecord_Relation:0xc5fba48>"
The below code showing error in rails 4.2.0
`User.all.delete_at(0)`

I'm getting below error:
`NoMethodError: undefined method `delete_at' for #<User::ActiveRecord_Relation:0xc5fba48>`

Any idea? but the above code is working in rails 4.0

[2015-02-26 12:50] rud commented on #1627
@yellowaj this ticket is probably never going to be fixed as the issue is correctly blamed on `rack-timeout`.

The suggested fix is to remove `rack-timeout` from your `Gemfile` (it raises exceptions on the main thread and is completely unsafe) and then fix any long-running database requests as best you can.

Hope this helps you forward.

[2015-02-26 13:27] ellimist commented on #19089
`delete_at` is a method of the `Array` class, and you are trying it to call it on an `ActiveRecord_Relation` object. I understand you want to delete the first element in the list of users? If that's the case, you can use `User.first.delete`

[2015-02-26 13:31] rafaelfranca commented on #19089
Yes. This is what happened. If you want to work in am array call to_a first.

[2015-02-26 13:31] #19089 closed

[2015-02-26 14:22] kaspth commented on #19079
Can you reproduce the error in a sample application?

[2015-02-26 14:28] remomueller opened #19092 "ActionMailer Preview doesn't generate correct links on Rails apps loaded on subdirectories."
Currently, an app that runs on `localhost/app1`, doesn't generate correct mailer preview urls for `localhost/app1/rails/mailer` since the URLs are hard-coded to the root path, ie: `localhost/rails/mailer`

I would expect to see the URLs use relative paths and know about the correct root of the Rails app.

[2015-02-26 14:30] remomueller commented on #19092
I've provided an associated pull request that makes use of `url_for` to make relative paths for the ActionMailer preview.

[2015-02-26 14:54] renanoronfle commented on #19049
i can reproduce this too and @kennyj is right when restart spring the issue disappears.
Create project and run scaffold and check spring status:

[code]

but this is not happing when the project has other name for example:

[code]

[2015-02-26 17:14] jrochkind opened #19098 "4.2, assert_select, substitution value regexes"
I _think_ [the documentation](http://edgeapi.rubyonrails.org/classes/ActionDispatch/Assertions/SelectorAssertions.html) says that assert_select still supports substitution values, and regex substitution values, in Rails 4.2.

When I try an example like the second one, however, I get:

unexpected '0' after 'equal'

Is there a way to still use substitution values with regexes?  Alternately, is there

[2015-02-26 17:23] JDutil commented on #19087
Yea will try to write a regression test for this, but think I know why it's happening.  It looks like passing an empty array to a polymorphic association lookup is what caused the error.  I'm able to fix the Spree specs having made this change:
https://github.com/JDutil/spree/commit/064401f30ff40d59775704bc62d2b42b1a50defc

[2015-02-26 17:33] kaspth commented on #19098
It still does. You just need to add quotes around the question mark: http://edgeguides.rubyonrails.org/4_2_release_notes.html#assert-select.

[2015-02-26 17:35] #19098 closed

[2015-02-26 17:39] ulissesalmeida opened #19100 "Rails 4.2.1.rc raises translation missing for `:default` option"
On rails `4.2.0` I can use something like

[code]

But now on rails `4.2.1` raises an exception.

[code]

[2015-02-26 17:40] rafaelfranca commented on #19100
Related with https://github.com/rails/rails/pull/18308

[2015-02-26 18:00] jrochkind commented on #19098
Aha, thanks!

I read those release notes (several times!) in trying to see if there was an issue covered by release notes, but since the release notes didn't specifically include an example of `?` used for substitution, or mention substitution at all, it somehow didn't penetrate that "Values in attribute selectors may need to be quoted if they contain non-alphanumeric characters" meant `?` when us

[2015-02-26 18:03] jrochkind commented on #19098
And I have no idea how you can use quotation marks to make this example from the docs work:

The quotation marks seem only to apply when you are inside attribute brackets in the selector... is substitution now only supported inside attribute brackets?

[2015-02-26 18:03] sgringwe commented on #18964
I will give that a go, thanks @cristianbica

[2015-02-26 18:06] jrochkind commented on #19098
And actually I can't get them to work even inside an attribute selector. I try:

    assert_select "a.bd-direct-link[href='?']", /link_router/

I get:

     Expected at least 1 element matching "a.bd-direct-link[href='0']", found 0

I think substitutions with regexes may in fact not be working?  I can try to put together a demo reproduction, but I'm not sure the best way to make a demo repro for a

[2015-02-26 18:07] kaspth commented on #19098
Oh, sorry, I wasn't being clear. You have to use double quotes.

[2015-02-26 18:11] kaspth commented on #19098
You're right about the documentation needing an update.

Do you (or anyone else watching) want to submit a PR for that? The examples should be:

[code]

[2015-02-26 18:18] jrochkind commented on #19098
It is not working for me with double quotes either. I really don't think it's a quoting issue, I think it's an issue with regexes and substitution in assert_select.

    assert_select 'a.bd-direct-link[href="?"]', /link_router/

    # => Expected at least 1 element matching "a.bd-direct-link[href="0"]", found 0..

Can you make substiution with a regex work?

For me substitution with a literal work

[2015-02-26 18:20] sgrif commented on #19087
Cool, that should be enough for me to fix it.

[2015-02-26 18:20] kaspth commented on #19098
I'm sorry, I should've looked more into this. I had completely forgotten the syntax had changed for 4.2. Here's an excerpt from the Rails Dom Testing documentation which has the right syntax:

[code]

[2015-02-26 18:24] kaspth commented on #19098
@fxn do you know why there's still documentation being generated for this [here](http://edgeapi.rubyonrails.org/classes/ActionDispatch/Assertions/SelectorAssertions.html)? The file was extracted in 4.2 and is empty: https://github.com/rails/rails/blob/29a10173e235ea495634de39f3dadd2da2e28fd4/actionpack/lib/action_dispatch/testing/assertions/selector.rb.

[2015-02-26 18:24] JDutil commented on #19087
I haven't been able to work up a regression spec yet, but another possible scenario I'm thinking it could be because the association is defined within a concern.  So primary_key is trying to be called on the concern module rather than the model including the concern...  Tried putting this together to reproduce the scenario but it's working fine in the script:
https://gist.github.com/JDutil/1710c49

[2015-02-26 18:27] sgrif commented on #19087
Fixed in https://github.com/rails/rails/commit/5cfe01e61b7eb5f280d246af714272d857c18c46

[2015-02-26 18:27] #19087 closed

[2015-02-26 18:30] sgrif commented on #19087
Confirmed this issue is not present on master.

[2015-02-26 18:31] sgrif commented on #19087
@JDutil Just in case you were curious, it was trying to call it on the module because that module matches the association name. The association defaulted to that behavior because we passed it `nil` for `base_class`

[2015-02-26 18:35] JDutil commented on #19087
Thanks.  Looks like the only other issues I'm seeing now are related to rspec mocks, and not specifically rails related.

[2015-02-26 18:59] #18402 closed

[2015-02-26 19:30] sbull commented on #19084
@evanphx I've tried adding a monkeypatch with your fix in #19007 to my original reproduction script. It has the result of reducing the frequency of the problem, but not fixing it. (Originally I was getting an average of 8 failed threads out of 10, with the monkeypatch I get an average of 5 failed threads out of 10.) Here's the reproduction with the monkeypatch: https://gist.github.com/sbull/5d716e

[2015-02-26 19:44] #19073 closed

[2015-02-26 19:45] jvanbaarsen commented on #18821
@cristianbica I did some more investigating and created on PR to fix an minor issue in the Delayed Job adapter. But I run into the following problems:

* Que seems to return a job_id, which AJ overrides with its own ID. I'm not really sure where that is happening. Also I'm not sure if the testing adapter for Que is adequate. We might need to change that to reflect the reality a bit better.
* Resqu

[2015-02-26 20:08] cristianbica commented on #18821
Yep it will be a bit hard to test this as for testing most of the adapters run kind of `:inline` behaviour.
Resque in non-test I think it returns the job_id as a string while in testing it returns true/false because it's run with `Resque.inline = true`. I think that, for the adapters that provides a JobID, we can test that the `ActiveJob::Base` subclass instance returned has a non-nil value set fo

[2015-02-26 20:52] jrochkind commented on #19098
Thanks @kaspth, let's see if I can succesfully figure out how to use that....

     assert_select 'a.bd-direct-link:match("href", ?)', /link_router/

Worked! Okay. Note it's got nothing to do with quotes, the `?` does _not_ need to be in quotes (and possibly wouldn't work right if it were).

It would have been nice if this had been in the release notes somewhere, but ce la vie (and maybe it is som

[2015-02-26 20:55] jrochkind commented on #19098
Oops, there IS a bug in the non-matched message though.

      assert_select 'a.bd-direct-link:match("href", ?)', /link_router/

Passes, because I did have a link like that. However, if I change it to:

      assert_select 'a.bd-direct-link:match("href", ?)', /not_existing_link_router/

I get the test failure message:

       Expected at least 1 element matching "a.bd-direct-link:match("href", 0)"

[2015-02-26 21:31] kaspth commented on #19098
I've fixed the misleading test failure message on Rails Dom Testing at https://github.com/rails/rails-dom-testing/commit/f2a7eb412c5f86270d4d04471c38f10c3d369fb6.

Note, it won't be exactly as you want because converting Regexps to strings makes Ruby wrap it in (?-mix:REGEXP). But it's as close as we're going to get.

[code]

I'll look into updating the release notes tomorrow.

@rafaelfranca can y

[2015-02-26 23:31] emclab commented on #19079
I can try later.  I am working on engine upgrading to rails 4.2.0 with an issue I am trying to solve for last a few days.

[2015-02-26 23:47] emclab opened #19103 "Rails 4.2.0 action pack: self.class.action_methods not showing method included in application controller"
In application controller of Rails 4.2.0 engine in_quotex, there is:

  include BizWorkflowx::WfHelper

wf_helper loads several methods dynamically during the execution. It is like this:

  module BizWorkflowx
    module WfHelper
      def self.included(base)
        base.before_action :load_wf_action_def
      end
      protected
      def load_wf_action_def
        #load methods with eval()

[2015-02-27 02:20] yellowaj commented on #1627
@rud thanks for the suggestion!

[2015-02-27 04:12] joshuapinter commented on #18376
I concur that the `3-2-stable` branch of Rails fixes the problem.

Also, related to Issue #18991.

[2015-02-27 06:47] hjoo commented on #19049
I was looking through this issue with @stepzhou, and it looks like this is a problem with how Spring stores state. Spring stores state using a file lock of MD5(ruby version + project root).pid and checks the server status accordingly (https://github.com/rails/spring/blob/master/lib/spring/env.rb#L68-L78). So for example, when you make an app called Test and start the Spring server for it, Spring w

[2015-02-27 11:21] troelskn opened #19109 "Bug in inflections"
In the method `ActiveSupport:: Inflector#apply_inflections`, the current locale is not respected - it just assumes the default on `:en`. This means that `uncountable` rules aren't observed for other languages than English.

[2015-02-27 13:28] eileencodes commented on #19049
@hjoo and @stepzhou this does sound like it should be moved to spring, can you test with spring master branch to see if the issue is currently present there? If not you can send a PR to spring or open an issue there.

[2015-02-27 14:54] #19100 closed

[2015-02-27 16:11] hjoo commented on #19049
It looks like there's a spring issue for the problem here: https://github.com/rails/spring/issues/247.

[2015-02-27 16:16] jesseminer commented on #18828
We're seeing the same issue with Puma, including the weird behavior around stopping the server that @noinkling described.

[2015-02-27 21:02] gmanley commented on #19042
I'm digging into this issue. I'll update shortly.

[2015-02-27 21:05] arthurnn commented on #15549
This is fixed in master and backported to 4-2-stable , https://github.com/rails/rails/commit/6b2ae694f13f494a4b11a97619cc0ce257fb2b50

thanks all

[2015-02-27 21:05] #15549 closed

[2015-02-27 21:26] antonrr90 opened #19115 "installer problem for Rails"
Any one having this:

D:\Ruby21-x64>gem install rails
ERROR:  Could not find a valid gem 'rails' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - SSL_connect retur
ned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (
https://api.rubygems.org/latest_specs.4.8.gz)

D:\Ruby21-x64>

and I know it something on your end, as my firewall is op

[2015-02-27 21:30] rafaelfranca commented on #19115
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-02-27 21:30] #19115 closed

[2015-02-27 21:35] antonrr90 commented on #19115
So, let me get this straight. RubyOnRails.org sends me here to report bugs, and your sending me elsewhere. If that is the case, why is there not another link on the RubyOnRails.org website for installer problems. Common Sense would have all the links available on the RubyOnRails.org website, would it not?

[2015-02-27 21:51] sbull commented on #19084
If anyone is interested in an "almost fixed" workaround, here's what I've done:
[code]
And I use it like `Routes.rails_admin.show_path(model_name: 'post', id: 123)`. So far, this works in real life, but produces an occasional error in my contrived reproduction script.

[2015-02-27 22:27] gmanley commented on #19042
So I have found the culprit. https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/has_many_association.rb#L83 Here the check to see if it has a cached counter will return true if the default counter cache name exists on the table. There are quite a few tests that rely on this, where the model fixtures don't specify counter_cache explicitly. That worries me a bit..

[2015-02-27 23:07] lifeiscontent opened #19117 "bug in form helpers"
when you do something like

[code]

it will render out the value inside of the label

however when you do this with a do block there's no way to get the contents of the label back.

new api proposal:

[code]

I think we should take some time and think about what we're leaving out of the rails form helpers and expose them as parameters in the do blocks.

what do you guys think?

[2015-02-27 23:10] rafaelfranca commented on #19117
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-02-27 23:10] #19117 closed

[2015-02-27 23:12] rafaelfranca commented on #19117
BTW this is already possible.

[code]

[2015-02-27 23:13] lifeiscontent commented on #19117
@rafaelfranca which version of rails is this available in?

[2015-02-27 23:14] rafaelfranca commented on #19117
4.2.0

[2015-02-27 23:15] lifeiscontent commented on #19117
@rafaelfranca thank you very much! :+1:

[2015-02-28 01:54] konung opened #19118 "ActiveRecord .last and ActiveRecord .last(1) return different results"
I posted this a question on http://stackoverflow.com/questions/28678611/activerecord-last-and-activerecord-last1-return-different-results , but I'm thinking this might be a bug

Using ActiveRecord 4.2 with MySQL 5.5 using pry console. I don't overwrite last anywhere in my code. I try to stay clear from rails & ruby reserved words unless I want to modify behavior.

I have a model called Product.

R

[2015-02-28 03:46] ZhangHanDong opened #19119 "url with ' &amp;' when upgrade to rails 4.2.0"
upload file with swfupload,  in Rails 4.1:

[code]

' &amp;' be escaped and converted ' "amp"=>nil ', it's  no problem.

but in Rails 4.2.0

[code]

'&amp;' don't be escaped, i got  '  "amp;type"=>"message_photo" '  。

of cource, i can use raw to resolve the problem:

[code]

but  i  think  the problem should not have happened,  '&amp;'  should be escaped.

[2015-02-28 08:54] dwbutler commented on #1627
We ended up turning off prepared statements. It didn't make any noticeable performance difference.

[2015-02-28 15:38] goodniceweb opened #19127 "Webrick block app start in production"
Hello

I have long story for its bug. So please, sit back and relax :)

I have Rails 4.1.8 app([Gemfile.lock](http://pastie.org/private/6ydx2qvvb7znrsjdkqmt4w)). One day I want to deploy it in production. Used `capistrano (3.3.5)` for it.
On server I used Apache2 + Passenger (4.0.59). Install of apache module was fine as usual.
But on visit web it raise `stdin is not a tty` passenger error. I look

[2015-02-28 15:48] rafaelfranca commented on #19127
I guess it is some gem injecting code to start the server. As you can see it uses a port that is not the default of Rails (`2010`). I'd start to look at the gems you included in the project.

Closing since this doesn't seems to be a Rails bug.

[2015-02-28 15:48] #19127 closed

[2015-02-28 15:56] laurocaetano commented on #19118
Have you tried it in a brand new app using Rails 4.2?

I have tried here and the behaviour is correct:

[code]

As you can see, the query is the same. It could be something changing the default behaviour (gem or other thing).

[2015-02-28 16:34] #18876 closed

[2015-02-28 16:36] maveonair commented on #19118
@konung Can you please post the queries without having a defined default_scope?

[2015-02-28 23:10] goodniceweb commented on #19127
I used [Kernel#set_trace_func](http://ruby-doc.org//core-2.2.0/Kernel.html#method-i-set_trace_func) to figure out which line of code broked everything and gotcha: it was `syntaxhighlighter_3.0.83/tests/webrick.rb` from tinymce custom stack.
Thank you so much for prompted me to check every dependency one more time.

[2015-03-01 08:18] commel opened #19145 "ActionView fails to load Kramdown SyntaxHighlighter"
I use Rails 4.2.0 with JRuby 9000 and I am using [Kramdown](https://github.com/gettalong/kramdown) 1.5.0 with [Coderay](https://github.com/rubychan/coderay) to produce HTML from Markdown-Syntax.

If the text contains anything that triggers the Coderay-Plugin to be loaded from Kramdown, it fails with:

[code]

The Author of Kramdown told me to [verify](https://github.com/gettalong/kramdown/issues/2

[2015-03-01 08:54] cristianbica commented on #19145
I don't think this is a rails bug. I suspect it's caused by this line:
https://github.com/gettalong/kramdown/blob/master/lib/kramdown/converter.rb#L38
which calls:
https://github.com/gettalong/kramdown/blob/master/lib/kramdown/utils.rb#L51
which calls `Object.const_get(str)` but `const_get` only supports relative modules paths (not starting with `::`):
[code]

Anyway unless you can provide more in

[2015-03-01 08:54] #19145 closed

[2015-03-01 09:01] commel commented on #19145
Indeed not a Rails bug, thanks to your hint to Object.const_get only accepting relative paths, I managed to create a patch which makes it work again. Hopefully the author will accept it. Thanks a bunch!

[2015-03-01 09:45] gettalong commented on #19145
Yes, and it is also not a kramdown bug:

Command:

[code]

Output:

[code]

This fails for JRuby in 2.0 mode.

[2015-03-01 09:49] Zyphrax opened #19146 "ActiveRecord: select breaks count"
When you combine `.select` with `.count` ActiveRecord will generate a T-SQL statement that does a count on multiple columns, which is not allowed.

I know that the combination of a select and count doesn't really make sense, but I've inherited some code with `default_scope` statements that filter out columns that contain a lot of base64 data.

My statement:
[code]

Result:
[code]

Ruby 2.2 - Rails

[2015-03-01 09:55] kaspth commented on #19146
I believe the `unscoped` method is what you want :smile:

[2015-03-01 09:55] #19146 closed

[2015-03-01 10:16] cristianbica commented on #19145
Yep seems like a jruby issue. Now I see that MRI accepts strings starting
with :: but not symbols.
On Sun 1 Mar 2015 at 11:45 Thomas Leitner <notifications@github.com> wrote:

[2015-03-01 10:20] cristianbica commented on #19146
Kasper when I call count on an ActiveRecord scope I'm expecting to get the
number of records that the scope returns even if I the scope has a custom
select. We should either fix this or document on the count method that if
you do custom selects you should unscope select before calling count.
On Sun 1 Mar 2015 at 11:55 Kasper Timm Hansen <notifications@github.com>
wrote:

[2015-03-01 10:22] kaspth commented on #18975
If you're using the `mysql` gem, we recommend using the deprecated sanitizers (though I still need to formalize our suggestion) :heart:

[2015-03-01 10:22] #18975 closed

[2015-03-01 10:23] cristianbica commented on #19146
Nevermind it's documented
http://api.rubyonrails.org/classes/ActiveRecord/Calculations.html#method-i-count
:)
On Sun 1 Mar 2015 at 12:20 Cristian Bica <cristian.bica@gmail.com> wrote:

[2015-03-01 13:29] Zyphrax commented on #19146
I've inherited this project and I decided that the first order of business is to upgrade it from Rails 3.2.18 / Ruby 1.8.7. World of pain (sigh...).

Of course I know about the `unscoped` method :stuck_out_tongue:

The default_scope `select` was used to filter out some (data heavy) columns, but it doesn't seem like the proper solution for the problem. Drizzling `unscoped` all over the code, doesn'

[2015-03-01 14:44] rafaelfranca commented on #19146
What you want is count(:all). count without the :all argument will respect
the select clause.

On Sun, Mar 1, 2015, 10:29 Zyphrax <notifications@github.com> wrote:

[2015-03-01 17:10] pixeltrix commented on #19119
@ZhangHanDong it looks like SWFUpload is sending the encoded ampersand from the HTML attribute to the server - it should be unescaping any HTML entities first. The difference you're seeing between 4.1 and 4.2 is due to a change in Rack 1.6 where the commit rack/rack@71c6911 broke the parsing of semicolons as query separators (reported in rack/rack#782). In either case, it's not a bug in Rails.

[2015-03-01 17:10] #19119 closed

[2015-03-01 18:58] pixeltrix commented on #19103
@emclab are you defining the `submit` action inside the `load_wf_action_def` method? If so it's possible that an internal change of behaviour has triggered the caching of the action methods in later versions of Rails before the filter is called. If you're dynamically adding action methods you need to ensure that you clear the cache by using [`clear_action_methods!`][1].

Closing for now - if this

[2015-03-01 18:58] #19103 closed

[2015-03-01 19:05] pixeltrix commented on #19036
@dhh do you have an example of an API controller action that doesn't have a template and doesn't render a response like `render json: object` ?

[2015-03-01 19:18] pixeltrix commented on #18978
@imorcott is this across different browsers? My initial research seems to show that this content type is returned by servers to override content sniffing by browsers and there's at least [one bug report][1] for Firefox that it modifies associated filetypes. Is it possible that you've downloaded a PDF which returned this header and it's corrupted your type associations?

[1]: https://bugzilla.mozil

[2015-03-01 21:36] konung commented on #19118
Indeed it seems that eager_load in default_scope is messing with the order.

With `default_scope` commented out

[code]

I experimented a little bit and it seems that I can't use eager_load within default_scope, without messing up how last works.
It still seems like a bug. I mean I can work around it by either explicitly calling .last(1) or redefine  default_scope as a method, and add some checkin

[2015-03-01 21:42] rahuldess opened #19154 "http://guides.rubyonrails.org/caching_with_rails.html"
Why isn't this "caching_with_rails.html" path not given in  link in Guides Index of "guides.rubyonrails.org" ?

[2015-03-01 22:00] konung commented on #19118
Ok so it seems that's something needs to be kept in mind and maybe mentioned in the docs, that eager_loading messes up ordering in .last()

I tried  this
`  scope :include_all, -> {eager_load([:distribution_restriction, :vendor, :manufacturer, :category, :restrictions, :department, :comments, :pictures])}
`

And then
` Product.include_all.last` & `Product.include_all.last(1)`

As with my original

[2015-03-01 22:17] dhh commented on #19036
Sure, any method that basically just triggers an action. Here are a few examples:

* PinsController#create (creates a pinned message)
* UnreadsController#destroy (removes unread counter for a message)
* PositionsController#update (sets the position for a todo in a todolist)

I have a total of 22 such actions via the API/Ajax in my current project.

[2015-03-02 02:28] lifeiscontent opened #19158 ".json.jbuilder isn't a hook extension for jbuilder"
I'm unsure if this is rails or jbuilder but if you have a file `index.json.jbuilder` it will not render automatically by rails

though if you do something like `index.css.scss` it does....

[2015-03-02 03:09] JuanitoFatas commented on #19082
This should be closed by #19157.

[2015-03-02 03:10] #19082 closed

[2015-03-02 03:16] ZhangHanDong commented on #19119
@pixeltrix  i see, Thanks

[2015-03-02 03:27] lifeiscontent opened #19162 "rails i18n doesn't think en-US is a valid locale?"
this is in my application controller

[code]

[2015-03-02 03:37] lifeiscontent commented on #19162
nvm I figured out how this works

[2015-03-02 03:37] #19162 closed

[2015-03-02 07:48] senny commented on #19154
@rahuldess because the guide has not been published yet. It's still in the "draft" form. That's why we don't link to it on the public site.

[2015-03-02 07:48] #19154 closed

[2015-03-02 08:25] maveonair commented on #19118
@konung I guess it should return of course the same result. Have you already checked the Rails code and which Rails version do you use?

[2015-03-02 09:20] famousky opened #19166 "Running "rails server" segmentation fault at 0x00000000000418"
System: OS Yosemite 10.10

Running with:
Homebrew
chruby
ruby-install

Selected: **ruby-2.1.3**
**gem env** output:

[code]

**Console output** when running **$ bundle exec rails server**:

[code]

[2015-03-02 09:33] gsamokovarov commented on #19166
It seems like a problem with the `json` gem native extensions. Have you tried recompiling the gem?

In any case, I don't think this is a core Rails issue.

[2015-03-02 10:07] borgand commented on #18787
One could argue that it is more correct to set `limit: 8` to **all** SQLite3 `Integer` types, as per: https://www.sqlite.org/datatype3.html:

That means that `INT`, `INTEGER`, `TINYINT`, `SMALLINT`, `MEDIUMINT`, `BIGINT`, `UNSIGNED BIG INT`, `INT2`, `INT8` all result in the datatype `INTEGER` and automatic limit up to 8 bytes.
**NB!**: the documentation does not mention `int4` but it is actually s

[2015-03-02 11:57] paulociecomp commented on #19158
Can you provide a sample application that reproduces the error?

[2015-03-02 14:08] famousky commented on #19166
Reinstalled all, now works.

[2015-03-02 14:08] #19166 closed

[2015-03-02 16:10] pixeltrix commented on #19036
Shouldn't this be a `201 Created` with a `Location` header?

These should probably be `204 No Content` rather than `200 OK` shouldn't they?

My concern is that for the sake of saving one line from an action we're masking behaviour and adding 'magic' which is the primary reason we took out `respond_with`, etc. isn't it?

[2015-03-02 16:13] dhh commented on #19036
201 Created with Location is great when you care about the resource created, but often you don’t. In this case, you don’t.

Actually, yes, 204 No Content is the correct answer for these.

I don’t think there’s any magic here, because it’s not content type specific (the problem with respond_with). This is just the default behavior: If there’s a template, render that. If not, assume 204 No Content s

[2015-03-02 16:24] imorcott commented on #18978
When using a terminal session on my mac I check the file type using file -b --mime I get the correct content_type returned.
For instance, running: file -b --mime QIG_MULTI_TEW410APB_FW1.1.05.pdf
Returns:  application/pdf; charset=binary
The above has been tested on several of my test upload files... So, I am sure that the content types are correct as the files exist on my machine prior to upload.

[2015-03-02 16:41] sgrif commented on #19118
Can you please provide a test script that we can use to reproduce the error, and that shows the expected behavior, using https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb as a template?

[2015-03-02 17:05] pixeltrix commented on #18978
@imorcott the problem is I don't think we can blindly assume that content/force-download should map to PDF as the bug report talks about MS Office file types - the only way around this is to use something like the [`file`][1] command to actually sniff the content and not to rely on the header from the browser. I guess you could argue that this would be more secure as well.

It looks like paperclip

[2015-03-02 17:51] sivsushruth opened #19175 "tzinfo-data warning on boot if not present in Gemfile"
Developers all the time clone rails apps and usually they do not have the tzinfo-data gem(since they were being developed on a non-windows machine).
I think it would be better if rails gave a gentle reminder on boot, if it sees that the app is on a windows machine now and it does not have the tzinfo-data gem.
Is this something that seems beneficial to rails guys on windows ?

[2015-03-02 17:53] rafaelfranca commented on #19175
If we can, I think it is fine to do this.

[2015-03-02 18:17] lifeiscontent commented on #19158
@paulociecomp https://github.com/lifeiscontent/rails-19158 just look at the commit history. I left notes in there.

[2015-03-02 21:09] stormsilver commented on #19087
For posterity, this also fixes this: https://gist.github.com/stormsilver/cd413ed30c6ec5328e6f

[2015-03-02 21:13] johvet opened #19179 "Support for :add_index with json-columns/attributes? [PostgreSQL]"
Are there any intentions on adding support for json-columns/attributes to :add_index ?
Currently a column name give in an add-index inside a migration must be an existing column name, but what if I want to do something like this:
[code]
Of course, there's also no support for the fill-factor, but even "(metadata->>'geoname_id')" is not acceptable, as it's not in #column_names.

Maybe #quoted_column

[2015-03-02 21:21] stormsilver commented on #13496
I can confirm this is still happening on master as of today: https://gist.github.com/stormsilver/6245b43838e77f5c6636

[2015-03-02 21:24] matthewd commented on #19179
xref #19090

[2015-03-02 22:22] carlosantoniodasilva commented on #19158
@lifeiscontent how are you accessing your application, through a browser, the command line? Is it being recognized as html or json request (you can see that in the log)?

[2015-03-02 23:37] kostya opened #19182 "ActiveJob batching"
would be nice to have such api for grouping events, to minimize sql requests for example

[code]

or batch condition:
[code]

this should be easy to implement, just collect events in memory, and call perform on condition, and if batch raised, just raise all events. If it trap a signal, resend all in memory events.

[2015-03-03 00:12] lifeiscontent commented on #19158
@carlosantoniodasilva I guess this is a contrived example but if you setup a resource like `Todo` and then hit the `/todos` route in a browser you would see the correct template loaded if you call it `index.jbuilder` but you would not see it if you called it `index.json.jbuilder`

[2015-03-03 00:16] carlosantoniodasilva commented on #19158
@lifeiscontent that is because if you hit the app with a browser, it will infer the html format, so it will look for either `index.html.jbuilder` or `index.jbuilder` for example (same for `index.html.erb` or `index.erb`), it works as a fallback in case the format is not specified. If you hit the app with `/todos.json`, Rails will detect you're asking for json and should then look for `index.json.j

[2015-03-03 00:26] lifeiscontent commented on #19158
@carlosantoniodasilva I'll try it later and let you know if that's the case. Thanks for the explanation though :+1:

[2015-03-03 00:46] rywall commented on #17904
FYI, this issue also occurs in Rails 4.2 and master.

[2015-03-03 00:56] egilburg commented on #19182
If this is implemented, `:batch_size` should be an argument passed from outisde, just like `find_in_batches` is called by consumer rather than receiver Active Record. (but if you want, can support `default_batch_size`/`default_batch_by` on the Job.

[2015-03-03 01:17] lserman opened #19183 "Using joins on polymorphic association fails, but manual join works fine"
Is there a reason why `joins` on a polymorphic association does not work as expected? Or maybe I am doing something wrong?

[code]

[code]

I want to find all devices owned by a User ActiveRecord::Relation, for example: `Pushable::Device.owned_by(User.where(push: true))`.

**Fails** (`Cannot eagerly load the polymorphic association :pushable`):

[code]

**Succeeds**:

[code]

If there is another w

[2015-03-03 03:32] seanknox opened #19184 "Custom routing constraint is called multiple times on a single routing request"
I have a custom routing constraint to limit access to routes. I noticed that the constraint is called multiple times on a single `GET` request to `controller#new`. I believe this is because `ActionDispatch::Journey::Route#matches?` returns too many route objects.

STR:
- Set a custom route constraint on a resource
- The resource controller should have #show and #new actions
- Hit the route and the

[2015-03-03 05:10] fake-or-dead commented on #17428
I found out this problems too, thanks for explanation ;D

[2015-03-03 08:14] ajgrover commented on #18874
So after debugging it looks like the solution I wrote actually works with `Spring.watch_method = :poller`. I am not sure if I have an error or if there is a bug in spring-watcher-listen. I have an [issue]() open and will submit a PR when I get that figured out.

Also, spring only watches files that exist when they are added to the watch list. Should I add the files in the watch list to the list of

[2015-03-03 09:37] tobypinder commented on #17738
Is this still going to make the backport? As of 4.2.1rc3 I'm still seeing the mutative "bang" version of reject.

https://github.com/rails/rails/blob/v4.2.1.rc3/activerecord/lib/active_record/relation/query_methods.rb#L907

[2015-03-03 10:55] carlosantoniodasilva commented on #19158
Alright, I'm giving it a close for now, but please let me know if you think it's something else and we'll gladly reopen. Thanks!

[2015-03-03 10:55] #19158 closed

[2015-03-03 14:05] lemonez opened #19187 "Rails 4.2 Encoding::UndefinedConversionError in FileHandler.match?"
I upgraded to Redmine 3.0.0.0 and Rails 4.2.0. I'm using PostgreSQL database adapter, Ruby 1.9.3 and Windows Server 2008.

For some reason I get an error when trying to download files with Cyrillic names that contain a certain character (И).

The line that raises the exception: https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/middleware/static.rb#L34

Error trace:

[2015-03-03 14:56] tgxworld commented on #19184
Is this on Rails 4.2?

[2015-03-03 15:18] seanknox commented on #19184
Oh yes, 4.2.
On Tue, Mar 3, 2015 at 6:57 AM Guo Xiang Tan <notifications@github.com>
wrote:

[2015-03-03 15:32] rlanagan opened #19188 "Rails 4.1.1 will not update"
My computer will not recognize any version of Rails beyond 4.1.1 no matter what, and as of the last week has refused to run any rake commands due to a "circular argument reference error" referencing an unknown gem. Here's the error that runs after any rake command:

    $ rake db:seed
    /Users/rachel/.rvm/gems/ruby-2.2.0@rails4.2/gems/activesupport-4.1.1/lib/active_support/values/time_zone.rb:28

[2015-03-03 15:35] dabrorius commented on #16939
@pixeltrix I believe that redirect inside routes.rb can't accept controller and action as parameters, you need to pass in exact path. So it's up to you to add trailing slash in that case, right?

I tried to reproduce the issue but it seems to work fine in rails 4.2.0 just as @tgxworld said.

[2015-03-03 15:53] senny commented on #19182
We don't use the GitHub tracker for feature requests. Please post to the [rails-core](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core) mailing list. You can find more details in our [contribution guidelines](https://github.com/rails/rails/blob/master/CONTRIBUTING.md).

@kostya thank you for your suggestion.

[2015-03-03 15:53] #19182 closed

[2015-03-03 16:49] rafaelfranca commented on #19188
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-03-03 16:49] #19188 closed

[2015-03-03 17:19] kennyj commented on #19184
I could probably reproduce this issue.

[code]

BTW If executing `get '/users/1'` or `get '/users/newsss'`, the test passes.
Does `get '/users/new'` match 'get /users/new' and ' get /users/:id' ??

[2015-03-03 17:19] rlanagan commented on #19188
Hi, thanks for your help although I was actually directed to post this issue here by someone on SO after I posted it there in detail, maybe they misunderstood the rules as well. Could you please point me to the mailing list so I can be sure to submit it correctly? Thank you!

[2015-03-03 17:27] seanknox commented on #19184
Haven't tested that yet but I'd bet those routes would match.
On Tue, Mar 3, 2015 at 9:20 AM Toshinori Kajihara <notifications@github.com>
wrote:

[2015-03-03 17:48] konung commented on #19118
@maveonair  as I said "Using ActiveRecord 4.2 with MySQL 5.5 using pry console. I don't overwrite last anywhere in my code. I try to stay clear from rails & ruby reserved words unless I want to modify behavior."   I'm not using Rails full stack, just activesupport & activerecord, inside https://github.com/rightscale/praxis  but it shouldn't matter, I think? I'm not using any "rails" special sauce,

[2015-03-03 17:49] konung commented on #19118
@sgrif  - I'll try to do this later this week, as I get a bit of breathing room. We only noticed this in production system, and I was trying to come up with a fix asap. I'll come up with a sample and submit it later.

[2015-03-03 17:58] rafaelfranca commented on #19188
You can use this mailing list https://groups.google.com/forum/#!forum/rubyonrails-talk.

I have a suspicion, it may be spring. Try to run `spring stop` after you uninstall rails.

[2015-03-03 20:24] rafaelfranca commented on #5122
Fixed by #18775

[2015-03-03 20:24] #5122 closed

[2015-03-03 20:56] #15209 closed

[2015-03-04 00:15] annethereshewent opened #19192 "ActiveRecord includes, order by bug"
I have the following query that retrieves a user's posts as well as post tags. However, if I try to pass an order clause to it, it returns less than the amount specified by limit. Here is my query:

		@posts = @user.posts.order('posts.id desc').includes(:tags).order('post_tags.created_at').includes(:images).paginate(page: params[:page], per_page: 15)

That returns 7 posts instead of the 15 specifi

[2015-03-04 00:17] annethereshewent commented on #19192
Also, if I remove the paginate gem and use a limit, it still returns 7 posts instead of the 15

[2015-03-04 01:16] sgrif commented on #19192
As per our contributing guide at http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html, please provide a script we can use to reproduce your issue, using this template: https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

[2015-03-04 02:16] annethereshewent commented on #19192
unless File.exist?('Gemfile')
      File.write('Gemfile', <<-GEMFILE)
        source 'https://rubygems.org'
        gem 'rails', github: 'rails/rails'
        gem 'arel', github: 'rails/arel'
        gem 'sqlite3'
      GEMFILE

      system 'bundle'
    end

    require 'bundler'
    Bundler.setup(:default)

    require 'active_record'
    require 'minitest/autorun'
    require 'logger'

    # Th

[2015-03-04 05:00] sivsushruth commented on #19187
Hi,
You can use this gem : https://github.com/nurse/iconv

[code]

Let me know if this works

[2015-03-04 10:06] vladimir-tikhonov commented on #18828
Caused by [this](https://github.com/rack/rack/commit/ae78184e5c1fcf4ac133171ed4b47b0548cd9b44) commit in rack

[2015-03-04 14:12] lustremedia opened #19198 "Couldn't find template for digesting: Error when calling a dynamically named partial"
I am having an issues when trying to cache dynamically named partials which include static content

In site.html.erb I call:
[code]
Error
[code]
The partial is located in the same directory as ```site.html.erb``` and is e.g. named as follows: ```pages/_my_nice_page_en.html.erb``` or ```pages/_my_nice_page_de.html.erb```

It looks like if rails looks at the wrong place for partials and or does not

[2015-03-04 14:13] rafaelfranca commented on #19198
Yeah, it shot not try to calculate digest for this case. There is no way to evaluate the dynamic string.

[2015-03-04 14:16] lustremedia commented on #19198
So what would be the workaround? Move the caching inside the partials?

[2015-03-04 14:26] rafaelfranca commented on #19198
Actually there is a problem on Rails, since it should not try to calculate the digest for the partial.

Does it give an error for the users or just in the log?

[2015-03-04 14:30] danieldocki commented on #18822
Same here
Ruby 2.1.2
Rails 4.0.12

[code]

[2015-03-04 14:36] lustremedia commented on #19198
No user error! it rescues in https://github.com/rails/rails/blob/08754f12e65a9ec79633a605e986d0f1ffa4b251/actionview/lib/action_view/digestor.rb#66 an that is the error I am getting.

[2015-03-04 14:42] lustremedia commented on #19198
btw I am on Rails 4.1.7

[2015-03-04 14:56] rafaelfranca commented on #19198
If there is no user error you don't need any workaround. The code will continue just ignoring this template, what is correct.

[2015-03-04 16:25] NilAndNull commented on #7245
Hi,

This issue still lives and I don't know any workaround. :/

As standard time_zone_select has 146 timezones in it.

[code]

If you happen to access one which isn't in the default list it gets added to the internal ActiveSupport::TimeZone.zones_map list
[code]

However, zones_map is cached so we don't see any side effects as we'd already called #all previously

[code]

But if we clear the cache

[2015-03-04 18:12] arthurnn commented on #18822
This seems like to be a bug on Webrick and not on Rails TBH.

[2015-03-04 18:12] lemonez commented on #19187
@sivsushruth That does not look like what is needed here.
As a workaround I added

[code]
Very simple, and works for me. Redmine resolves the file name correctly.

Redmine attachment model has two properties: display file name in user defined encoding, and disk file name in ASCII. The problem itself is not that the file name is not converted, but that `match?` is called somewhere before Redmine ac

[2015-03-04 19:46] mbie commented on #17161
@rafaelfranca so my question is why `delete_all` does not change `updated_at` column in such case? When you remove an object from an association the object **is changed** (foreign key is nullified). However, `updated_at` field stays **untouched**. It's quite unexpected for me. Moreover it is inconsistent with the opposite action of adding an object to an association (which sets both foreign key an

[2015-03-04 20:04] rafaelfranca commented on #17161
`delete_all` don't change `updated_at` because it doesn't change the object, just the data in the straight in the database.

[2015-03-04 20:09] frankyston commented on #17161
what's the point of making a update_at it is being made a delete_all? As @rafaelfranca said, delete_all does not change the update_at, for me it does not make sense.

[2015-03-04 20:12] rafaelfranca commented on #19183
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-03-04 20:12] #19183 closed

[2015-03-04 20:16] derekmwright opened #19200 "Custom scaffold erb templates not used when project name has underscore"
Steps to reproduce:
1. `rails new project_a`
2. `mkdir -p lib/templates/erb/scaffold`
3. `touch lib/templates/erb/scaffold/index.html.erb`
4. `rails generate scaffold test`
5. `cat app/views/tests/index.html.erb` (File should be empty but its using the default from the railties gem)

Works as expected when the reproduction steps are followed using a project name with no underscore (`rails new proj

[2015-03-04 20:22] frankyston commented on #19200
could tell that this version using the rails and ruby?

[2015-03-04 20:24] #12001 closed

[2015-03-04 20:25] derekmwright commented on #19200
Sorry! Here's the info:

$ ruby --version
ruby 2.1.5p273 (2014-11-13 revision 48405) [x86_64-linux]
$ rails --version
Rails 4.2.0

[2015-03-04 20:50] frankyston commented on #19200
@derekmwright

performed with the steps with:

[code]
and
[code]
and every two generated template with no problem.

[2015-03-04 20:59] rafaelfranca commented on #19200
Same here. I guess you need to stop spring after creating the template.

[2015-03-04 20:59] #19200 closed

[2015-03-04 21:02] derekmwright commented on #19200
I haven't started the rails server at that point so spring shouldn't be causing an issue. I'll test a bit further and see if I can do some more debugging.

[2015-03-05 01:32] tbreier opened #19201 "ID params not properly passed in nested FROM-subqueries"
When trying to upgrade from Rails 4.1.5 to Rails 4.2, I encountered a problem with nested statements within FROM clauses of the kind `...where(id: something)` or `...where(foreign_id: something)`.
I was able to reproduce it, see https://gist.github.com/tbreier/c167ddc63902ea7a17af.
Notice how when there are two nested FROMs, passing the ID doesn't work - it gets niled or thrown away. Passing an ob

[2015-03-05 05:39] anthonydahanne opened #19204 "ActionView:Template turning locals Hash into an array"
Hello,
I've been trying (with Rails 4.1.9) to register and use a template handler :
[code]

and then I've been trying to use it, from an erb view, in particular with a Hash as a template local :
[code]

well, guess what, template.locals turns out to be an array with a single element being the string "mustache" - no trace of the rest of the Hash (:mustache => "{'planet':'world'}")
It seems like the

[2015-03-05 09:26] senny commented on #17454
@gingerlime is this still an issue? Looks like 307402f fixed it. (see #17595)

[2015-03-05 09:31] senny commented on #16971
It's been a while without feedback. I'm going to close this issue. If there is still something left to discuss please report back.

[2015-03-05 09:31] #16971 closed

[2015-03-05 09:44] tbalthazar opened #19208 "assert_generates doesn't take route constraints (with an object responding to matches?) into account"
Hi,

The context here is that I'm playing with API versionning.

I've defined 2 `users` resources in my route file, scoped in a v1 module and in a v2 module. The scopes use constraints (an object responding to `matches?`) to determine which version of the API should be used.

The [route file is here](https://github.com/tbalthazar/RailsRouteTestsProblem/blob/master/config/routes.rb), the [constrain

[2015-03-05 10:02] senny commented on #18864
@brandonweiss thank you for your thoughts. Would you mind posting this to the [rubyonrails-core](https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core) mailing list? We don't use the GitHub issue tracker for suggestions and feature requests. You can find more in our [contribution guidelines](https://github.com/rails/rails/blob/master/CONTRIBUTING.md). Thank you for your understanding

[2015-03-05 10:02] #18864 closed

[2015-03-05 10:05] senny commented on #18952
@joevandyk is this the same as #9894 ?

[2015-03-05 10:14] senny commented on #17261
@rywall  this looks a lot like #17157.

[2015-03-05 10:26] senny commented on #17446
@tungwini it's been a long time since we heard from you. I'm closing this issue out of inactivity. If you still experience this issue, please report back and provide the necessary information so we can help you debug the problem.

Thank you for your understanding.

[2015-03-05 10:26] #17446 closed

[2015-03-05 10:37] senny commented on #18784
@pmeno could you please provide a way to reproduce? This will go a long way in solving the issue.

[2015-03-05 10:41] #18400 closed

[2015-03-05 10:41] senny commented on #18400
@bastien-tilkee this was fixed a while ago. I added in some regression tests to keep it working. Thank you for reporting.

[2015-03-05 13:09] sivsushruth opened #19213 "ActionController::HttpAuthentication::Digest method: opaque"
https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/metal/http_authentication.rb#L317

[code]

This comment seems a bit nonsensical. Could someone who knows what the HTTP Digest Auth code is doing please either update the comment or remove it entirely.

Thanks

[2015-03-05 13:53] #19175 closed

[2015-03-05 14:07] lserman commented on #19183
Is this not an issue? Shouldn't the failing method return the same SQL as the succeeding method (aside from `uniq`)?

[2015-03-05 14:32] #19213 closed

[2015-03-05 14:59] joevandyk commented on #18952
Pretty similar, looks like.

The only difference is that this ticket mentions that the scope in the before_create callbacks changes. Could be the same root cause, but I don't know.

[2015-03-05 15:24] listrophy commented on #18950
When testing a unit, you want to see the result of calling a function. That result comprises a) return values and b) external state modifications. In nearly any other case, internal (ivar) modification should not be tested, but this is not true with controllers. Why? Because the next high-level step of the render chain is to copy the controller's ivars* to the view. That's an external—albeit delay

[2015-03-05 15:25] cupakromer commented on #18950
This is an honest question. With the removal of these two checks, what is the benefit of continuing to use a controller test over an integration test that tests a single controller?

[2015-03-05 15:30] arthurnn commented on #18950
@cupakromer performance. ATM controller tests are still a bit faster then integration tests. We would like those to have the same performance, so we can only have one.

[2015-03-05 16:01] rywall commented on #17261
This is the same issue as #17151. I'm surprised I didn't find it in my search before posting. He beat me by 10 days :). At least I'm not the only one with this issue!

Closing in favour of #17157.

[2015-03-05 16:01] #17261 closed

[2015-03-05 16:02] rywall commented on #17157
Some extra information I provided in a accidental duplicate ticket (#17261):

If the user has specified a schema_search_path and also has extensions, the resulting pg_dump call generated by rake db:structure:dump includes the --schema flag which means that no CREATE EXTENSION statements will be created in the resulting structure.sql. According to the pg_dump documentation:

This will most likely c

[2015-03-05 16:03] senny commented on #17261
@rywall thank you for reporting :yellow_heart:

[2015-03-05 16:31] jimmykarily commented on #17157
The problem is that schema_search_path configuration has two responsibilities:
- Defines the postgres search path
- Defines what schemas are dumped with pg_dump

so if you want the first one, you are forced to define the second one too (with the described consequences). My only concern on what you propose is that some people might be using the schema_search_path to exclude some schemas from the du

[2015-03-05 16:43] rywall commented on #17157
I like this idea. A configuration option would allow it to be backwards compatible while still providing users who run into this problem with a solution. @senny would you accept a pull request that adds an option? Something like:
[code]

[2015-03-05 16:47] senny commented on #17157
@rywall This seems like a reasonable solution, we could use a more general option name and symbols for values:

[code]

what do you think?

[2015-03-05 16:54] rywall commented on #17157
Perfect :clap: :smile:

[2015-03-05 17:00] jimmykarily commented on #17157
@rywall feel free to send a pull request, I appreciate it.

[2015-03-05 17:42] sgrif commented on #19201
This is already fixed in 4.2.1

[2015-03-05 17:42] #19201 closed

[2015-03-05 20:31] gingerlime commented on #17454
HI @senny - we upgraded to Rails 4.1 meanwhile, so I can't really say unfortunately... Sorry. Probably makes sense to close it?

[2015-03-05 21:56] dre-hh opened #19223 "mysql microsecond precision support violates defaults"
This feature was introduced in df5a38fc6aeb8dfaa816fcbe0efb3fe4de169833

You might want to branch it to include this only for 5.6, but
passing these values to 5.6 doesn't cause issues either.

Unfortunately it does. Let's consider following usecase. you insert some records, which recieve a created at.

[code]

[code]

which will generate the query

[code]

So you would expect it to return the firs

[2015-03-05 22:12] mbillard opened #19226 "The condition in an association's default_scope with a join is applied before the join"
[code]

The query raises the following error:

[code]

You can see that the `"posts"."id" = ?` condition is applied to the `INNER JOIN` instead of at the end in the `WHERE` clauses.

A workaround for this is to do the join in the `default_scope` of `Like` manually which bypasses the association's `default_scope`:

[code]

[2015-03-05 22:24] sgrif commented on #19223
As I mentioned on the commit, `Time::DATE_FORMATS[:db]` isn't a "setting" as you put it, it's a standard ANSI format. It isn't something that should be overridden, and that usage is not supported.

As for the bug you mention, as per our contributing guide (which can be found at http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html), can you please provide a script we can use to reproduc

[2015-03-06 00:47] konung commented on #19118
I've tried to recreate the same setup I have using active_record_master mentioned above - I can't reproduce the bug. It's doesn't happen on any other Models either.

Don't know what else to try.

[2015-03-06 00:48] sgrif commented on #19118
Its probably a bug in your code then. Closing as unable to reproduce.

[2015-03-06 00:48] #19118 closed

[2015-03-06 02:11] wogg opened #19227 "number_to_percentage crashes when passed Float::NaN with options (precision: x) ref #14405"
A similar error occurs in the block of code above the regression fix documented for closing #14405 report.

The tests don't cover the situation of passing in options, so it doesn't catch the fail case that occurs when you pass in "precision: 0" or any other precision value.

To reproduce: call number_to_percentage(Float::NaN, precision: 0)

I'll take a stab at fixing this shortly, but it maybe eas

[2015-03-06 05:51] tardate opened #19228 "enable_extension portability gotcha?"
I'm not sure what the right approach to fixing this might be. For now I can just offer observations and see if others can help. Ran into this issue when updating an app to Rails 4.1.0. Production PostgreSQL is 9.0.3 and cannot change anytime soon. But our dev machines have PostgreSQL 9.3.

We run into issue with `enable_extension "plpgsql"` in the generated `schema.rb`, when for example schema loa

[2015-03-06 06:18] arjunswaj opened #19229 "Time select and datetime select not honoring config.time_zone value"
Form helpers time_select and datetime_select are not honoring the timezone set in config.time_zone in application.rb. It should convert the value provided in the form to UTC and then save it. It's currently saving the value in UTC as it is.
Version: Ruby 2.2, Rails 4.2

[2015-03-06 07:58] senny commented on #17454
@gingerlime thank you for reporting back. Closing this issue.

[2015-03-06 07:58] #17454 closed

[2015-03-06 08:07] #19227 closed

[2015-03-06 08:20] senny commented on #19227
@wogg thank you for reporting. This slipped when I pushed the first fix. Patch is merged and backported to `4-2-stable` and `4-1-stable`.

[2015-03-06 08:57] dre-hh commented on #19223
Good to know. However quoting.rb won't also respect the new precision setting  for a field, wouldn't it?

sure, as soon as i find find the time

[2015-03-06 09:21] dre-hh commented on #19223
Here it is
https://gist.github.com/dre-hh/67cf05d08b40ffa0dc82

[2015-03-06 12:18] Qianfinland commented on #19229
I have tried time_select with Ruby 2.2 and Rails 4.2, but couldn't reproduce the bug, it converts it to UTC and saves it in UTC for me.

[2015-03-06 12:53] eileencodes commented on #19229
@arjunswaj can you build a simple application (just the req models/controller action, config setting, and form) that reproduces the issue? Thanks!

[2015-03-06 14:16] teknull commented on #19229
I've tried to duplicate using Rails 4.2 and Ruby 2.2 and cannot reproduce.

[2015-03-06 14:18] cristianbica commented on #16976
so @dhh are you satisfied with the example above?

[2015-03-06 15:23] LtdPayne opened #19232 "MySQL bigint auto_increment primary_key is not dumped correct in db/schema.rb"
Hi,

I have tried to create a table with an bigint as primary_key and auto_increment for a MySQL database.

My Migration was

[code]

Auto_increment and primary_key have been ignored.

[code]
The db/schema.rb looked like

[code]

A second try

[code]

The MySQL-Table  was build correct
[code]

But the db/schema.rb looked like

[code]

And after a `rake db:reset` resets the column was changed back

[2015-03-06 16:35] #17161 closed

[2015-03-06 16:38] VanessaHenderson commented on #19050
Is this fix included in 4.2.1.rc3?

[2015-03-06 16:40] dhh commented on #16976
Yup. Let's roll with ApplicationJob.

[2015-03-06 20:49] #16160 closed

[2015-03-07 00:02] sivsushruth opened #19235 "JRuby OpenSSL::Cipher::CipherError"
Please view this, http://stackoverflow.com/questions/14552303/opensslcipherciphererror-with-rails4-on-jruby
In short, an error is thrown when rails tries to encrypt:

[code]

I was thinking if it we could add **config/initializers/unlimited_strength_cryptography.rb** to the rails generator templates with the following code:

[code]

[2015-03-07 00:13] joevandyk commented on #17731
@kenn I think this is an airbrake bug, not Rails.

[2015-03-07 01:25] arthurnn commented on #17731
indeed this is not a rails bug. We had the same problem on rubygems.org + honeybadger .
The thing was that rails is handling this right in a middleware, but honeybadge gem was still logging those. We solved this problem with https://github.com/rubygems/rubygems.org/commit/74345e116de00c73527c8f5cf074653d30b009fc

[2015-03-07 01:25] #17731 closed

[2015-03-07 02:34] arjunswaj commented on #19229
@eileencodes I've created a sample application [here](https://github.com/arjunswaj/time-select-test)
I've set the config.time_zone value to 'Mumbai' as specified in the [API](http://apidock.com/rails/ActionView/Helpers/DateHelper/time_select). When I save the value, it takes as it is in UTC and saves it.
For example: when I enter 07:00 in the time_select and have set the config.time_zone to Mumbai

[2015-03-07 02:47] kenn commented on #17731
Yep, confirmed that's an Airbrake bug. Thanks!

[2015-03-07 03:09] sivsushruth commented on #19235
I suggest we do a conditional generation of this file.
If the platform is Jruby and you do **rails new app_name**  then this file is generated.

I will be more than happy to code this.

[2015-03-07 04:00] sivsushruth commented on #19235
error case 1) This error pops up if i use devise without adding this file manually.

[2015-03-07 04:02] atambo commented on #19235
This code snippet does not work on all JVM implementations (it blows up on the IBM JVM because the isRestricted field doesn't exist).

Also, this is probably not legal to do this...

[2015-03-07 04:03] sivsushruth commented on #19235
@atambo Any workarounds that you are aware of ?

[2015-03-07 04:08] atambo commented on #19235
The information on the jruby wiki talks about options:

https://github.com/jruby/jruby/wiki/UnlimitedStrengthCrypto

Another option is to add a feature to rails that allows you to disable encryption of cookies.

[2015-03-07 04:13] sambecker commented on #18660
Same issue. Rails 4.2 and Ruby 2.2.0.

I recently switched from Unicorn to Puma which crashed soon after and then I restarted my computer. My app, which hasn't had any serious issues in months, will no longer start. I don't have my app in the Site folder, however, by following the logic above, it looks like my capitalized user or username folder is the culprit, i.e., `/Users/Sam/rails/app_name`

D

[2015-03-07 05:10] sivsushruth commented on #19235
Refer #19237
Added a rescue statement for OpenSSLCipherError and the message says
[code]

[2015-03-07 08:15] sivsushruth opened #19244 "Windows alternative for `which abc`"
Take for example:
[code]
This simply wont work on Windows.
There is an alternative for **which** in Windows ->  **where**.

What I suggest we do is, instead of calling `which kindlerb` we can have something like,
[code]
And we have platform specific codes for this functionality.
Let me know what you guys think.
Thanks

[2015-03-07 11:09] robin850 commented on #19235
(cross-refs #12320)

[2015-03-07 14:02] bizmurr opened #19249 "Scope that finds nothing or ends with .first does another lookup"
On Rails 4.2 and Ruby 2.2.

[code]

After doing the first query if it doesn't find anything, it runs a second query and just returns the first result. Is this intended?

[code]

[code]

[code]

[code]

Everything works as expected if you define it as a class method, where it would return `nil` or `[]`.

[2015-03-07 15:21] schneems commented on #19244
Where in the code or docs do we use "which"? We shouldn't be doing the example you gave us, we should be requiring and rescuing load error

[2015-03-07 15:28] sivsushruth commented on #19244
@schneems https://github.com/rails/rails/blob/390449ab8c55dacc08517bc270c6203bb1f50e02/guides/rails_guides/kindle.rb#L3

[2015-03-07 17:00] rafaelfranca commented on #19244
This code is not to run in people application. It is an internal tool for
the Rails maintainers. It is part of our release process and we only use
Unix systems, so there is no need to support Windows

On Sat, Mar 7, 2015, 12:28 Sushruth Sivaramakrishnan <
notifications@github.com> wrote:

[2015-03-07 17:00] #19244 closed

[2015-03-07 18:10] robmathews commented on #18660
You might read this SO. Some of the people seem to have been able to simply
rename the directory w/o changing the case.
http://stackoverflow.com/questions/27871726/strange-error-in-rails-missing-helper/27909917#27909917

On Fri, Mar 6, 2015 at 11:14 PM, Sam Becker <notifications@github.com>
wrote:

[2015-03-08 04:13] sivsushruth commented on #19244
Got it.

[2015-03-08 05:41] roberts1000 commented on #18868
I couldn't get the template to work, so I ended up creating a demo Rails app here https://github.com/roberts1000/migration_break.  This is a Rails 4.2.1rc3 app with an empty model called BlogPost and three simple migrations to create the table, add a column and then change the column.  `rake db:migrate` breaks for me on Windows and Mac.

If I generate the same application with Rails 4.1.9, the eve

[2015-03-08 07:55] steakknife commented on #16479
Setting `Rails.env` along with `RAILS_ENV` in `railties/lib/rails/commands/commands_tasks.rb` seems to do the trick. (PR #19255)

[2015-03-08 10:22] andrewhamon opened #19256 "Rails console doesn't use DATABASE_URL environment variable"
If I have `DATABASE_URL` set and run `rails c` the settings in config/database.yml are used even though `DATABASE_URL` should override the settings. If I delete database.yml entirely, then I get the following error: `Could not load database configuration. No such file - ["config/database.yml"] (RuntimeError)`.

In irb I can run `ENV['DATABASE_URL']` and get the correct URL so I know the environmen

[2015-03-08 12:28] jvanbaarsen commented on #19256
@andrewhamon What rails version are you using?

[2015-03-08 14:07] pixeltrix commented on #19229
@arjunswaj this is a duplicate of #3145 which is fixed in #15726 (which is only in master).

[2015-03-08 14:07] #19229 closed

[2015-03-08 20:07] pixeltrix commented on #19208
This is what I'd expect - you're only testing the path generation and there's no reason two different controller/action pairs couldn't generate the same path.

[2015-03-08 20:07] #19208 closed

[2015-03-08 20:21] pixeltrix commented on #19187
@lemonez are you sure that character is correct - looking at the [Window 1251][1] code page shows a grey space indicating an undefined character and [the mapping on the Unicode website][2] confirms that. Is it possible that the filename encoding has been corrupted?

[1]: https://msdn.microsoft.com/en-gb/goglobal/cc305144.aspx
[2]: http://www.unicode.org/Public/MAPPINGS/VENDORS/MICSFT/WINDOWS/CP125

[2015-03-08 20:22] andrewhamon commented on #19256
Rails 4.2 / Ruby 2.1.5 installed with RVM

[2015-03-08 21:05] penne12 opened #19259 "time_ago_in_words is broken"
I have the weirdest problem ever, and I don't know how to explain it. Here's a [transcript on Stack Overflow](http://chat.stackoverflow.com/transcript/72527).

[2015-03-08 21:48] pixeltrix commented on #19187
@lemonez looking at [the encoding info on that character][1] it seems that the filename is in UTF-8 (И is 0xD098 in UTF-8) and not Windows 1251 - where is that encoding being set? Is it the default external encoding?

[1]: http://en.wikipedia.org/wiki/I_(Cyrillic)

[2015-03-08 22:08] #19259 closed

[2015-03-09 00:21] jurezove commented on #19249
Looks like that's because in module `ActiveRecord::Scopding::Named`the `scope` method is returning `scope || all`. In your case, calling `#first` or `#find_by` results in `nil` hence you're getting all the records.

Without using `#first`/`#find_by`, the result if no record is found is an empty AR relation object which is obviously not nil:

[code]

I think scopes aren't inteded to be used with `#

[2015-03-09 00:32] bizmurr commented on #19249
Ah I see, makes sense. Thanks @jurezove!

[2015-03-09 00:32] #19249 closed

[2015-03-09 02:13] alexsotocx opened #19261 "Upgrade from 4.1 to 4.2"
I recently tried to updated my Rails app from Rails 4.1 to Rails 4.2. Before the upgrade all my test suite runs perfectly, but after the update I'm getting something strange. every time i tried to run a test the same error happens

rake aborted!
TypeError: no implicit conversion of Fixnum into String
/home/alexander/.rvm/gems/ruby-2.2.0/gems/activerecord-4.2.0/lib/active_record/fixtures.rb:636:in

[2015-03-09 02:33] schneems commented on #19256
It works but you have to make sure DATABASE_URL is set before rails loads. Here's where that error comes from https://github.com/rails/rails/blob/fb764ba63e53b728873075a0d207b993409798a2/railties/lib/rails/application/configuration.rb#L88-L102

You can see it checks for `DATABASE_URL`

For me, I use a `.env` file to set environment variables. I had to run my command with `foreman start` which sour

[2015-03-09 02:33] #19256 closed

[2015-03-09 02:46] vemv opened #19262 "where.not(x: true) not including rows with x == null in MySQL"
Given a `MyModel` AR::Base class where `x` is a nullable boolean field, I believe Rails generates incorrect SQL -for MySQL- for the following query:

[code]

The problem being that `my_models` rows where `x` is `NULL` are not returned.

FWIW, I do not know how to correctly write the SQL query.

Also, I am using the `mysql2` gem, but I think SQL generation happens at Rails level.

Lastly, I'm using

[2015-03-09 03:25] pinglamb commented on #18807
A more readable example code:

[code]

[2015-03-09 04:01] andrewhamon commented on #19256
@schneems That is quite compelling, surely it must be an issue on my part.

Any idea what might be causing this?

[code]

Further info
[code]

[2015-03-09 04:06] pinglamb commented on #19192
Updated reproduction scripts to make it able to run:

[code]

(Diff: https://gist.github.com/pinglamb/15c66f4bc8bc80bfc51f)

But the test passes as expected. Any changes I made altered the behaviour?

[2015-03-09 04:41] schneems commented on #19256
Don't know what to say. Works for me

[code]

Try to reproduce the problem on a new rails app. Try `bundle open railties` and see if it matches this:

[code]

Try upgrading to a newer version of Rails.

[2015-03-09 05:38] daqing commented on #19067
I have the same issue today, and after I clear the local cache using `rake tmp:clear`, the infinite loop disappears.

[2015-03-09 05:42] daqing commented on #19067
@alediaferia I guess this problem is related to corrupted/outdated cache.

[2015-03-09 08:32] lemonez commented on #19187
@pixeltrix The default external encoding is UTF-8 (I used `raise Encoding.default_external.to_s` to check). Also, database encoding is Unicode.
I'm not sure if this is relevant, but Redmine lets you set up _Attachments and repositories encodings_, and there, I have _UTF-8, CP1251_.

[2015-03-09 09:46] senny commented on #19262
@vemv can you attach an executable test case to reproduce the issue? You can use [this script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) as a starting point.

[2015-03-09 10:20] exviva commented on #19262
I think that's the ternary logic of NULLs kicking in. Not sure if Rails should try to be smart here and generate an `IS NULL OR ...` clause?

[2015-03-09 11:32] matthewd commented on #19262
Indeed. I believe our position here is that `where.not` isn't an inversion of a `where`, but rather a means of invoking an SQL `NOT`. (See also, our behaviour on a multi-key `where.not`, e.g., `where.not(a: 1, b: 2)`.)

[2015-03-09 12:27] eileencodes commented on #19261
Thanks for the report @alexsotocx. This pull request sounds like you're bug: https://github.com/rails/rails/pull/18345

I don't think this commit has been released yet, but this has been reported and fixed.

[2015-03-09 12:58] paulociecomp commented on #18868
@roberts1000 @sgrif  i got reproduce the error with some changes in my test case:

first: add_column :blog_posts, :preview, :text, :null => false

and then change_column :blog_posts, :preview, :boolean, :null => false, :default => false

https://github.com/paulociecomp/issue_18868

[2015-03-09 14:19] pixeltrix commented on #19184
@seanknox is the constraint returning false for `/admin/users/new`, if so then it will try it with the `show` action and an `id: 'new'` because it fits the url pattern of `/admin/users/:id` unless you put a constraint on the `:id` parameter to force it to be numeric. This is what's expected to happen.

[2015-03-09 14:19] #19184 closed

[2015-03-09 14:35] rafaelfranca commented on #19261
It will be released at 4.2.1 9ff21e717d2d9eca1b70c5568b629c346424b122

[2015-03-09 14:35] #19261 closed

[2015-03-09 14:43] annethereshewent commented on #19192
Erm, the problem usually happens when posts have multiple tags. Can you change the line starting with "posts.each do |post|" to

    5.times do |i|
      3.times do |j|
        posts[i].tags.create!
      end
    end

That will make sure that 5 out of the 15 posts each have multiple tags, which should throw off the results. Let me know if you need anything else from me and I'll be glad to assist.

[2015-03-09 14:49] jurezove commented on #19249
:+1:

[2015-03-09 15:35] seanknox commented on #19184
@pixeltrix For a single HTTP request to `/admin/users/new` the routing constraint is invoked twice. The routing constraint result has nothing to do with the issue here. It's that the constraint is hit multiple times for a single request instead of once. Please reread the thread before closing.

[2015-03-09 16:02] pixeltrix commented on #19184
@seanknox my point is that `GET /admin/users/new` matches both the `/admin/users/new` and `/admin/users/:id` path patterns so whether or not the constraint is returning false for the new action is important because if it does return false then the router will continue to search for a matching route.

Looking at the spec you have given it appears that `GET /admin/users/new` returns false because yo

[2015-03-09 16:04] Gytax commented on #19262
This isn't a bug in Rails, this is how NULLs work in MySQL. NULL is NULL, it's nothing. It's not true, it's not false. It's NULL. So basically, always check for not NULL.
[code]
Should do the trick.

[2015-03-09 16:06] #19262 closed

[2015-03-09 16:32] vemv commented on #19262
@Gytax isn't "nothing" different from `true`?

`where.not(x: true)` should include rows with null values, because null ("nothing") is different from true.

Your suggested query is wrong - only `where(x: [nil, false])` accomplished what `where.not(x: true)` should.

As I see it Rails is providing a faulty abstraction here. MySQL has no such thing as booleans. If Rails wants me to believe (which is

[2015-03-09 16:46] rafaelfranca commented on #19262
Exactly this. `where.not(x: true)` is `WHERE x != true`, not the negative form of `WHERE x == true`.

[2015-03-09 18:26] phoet commented on #18950
i think that @listrophy has some valid points there. in case i actually want to test the way a controller accesses views or sets instance variables (because maybe i use it as some kind of internal API), what would be the recommended way?

[2015-03-09 19:09] dmitry commented on #18950
I agree with @listrophy and @phoet. It should be possible to test what messages are passing to external interface (messages - instance variables, external interface - views/templates).

[2015-03-09 19:11] dhh commented on #18950
You can of course do whatever you want. Ruby is open. But Rails does not have to encourage this behavior, and won't, starting from the next version.

[2015-03-09 19:21] listrophy commented on #18950
@dhh how, specifically, do you think we should test the interface between controllers and views? Strictly integration testing? just trying to get clarification here.

[2015-03-09 19:27] calebthompson commented on #18950
Since this is for 5.0, could we remove and also deprecate for the remainder of the 4.X lifecycle?

[2015-03-09 19:29] calebthompson commented on #18950
@listrophy I think that's the point. You shouldn't test that interface as their being separate is an implementation detail of your framework, not something you should care about.

[2015-03-09 19:30] dhh commented on #18950
If you want to continue to test ivars, you can just do #instance_variable_get.

And yes, this is a change for Rails 5.0.

The change may well be that we’re dropping controller tests entirely in favor of integration tests, now that the latter is faster on rails/master than the former was on 4.2.

[2015-03-09 19:34] listrophy commented on #18950
Honestly, I don't actually want to test ivars. I (sometimes) want to test what data is getting sent from controllers to views. It just so happens that the main way to do that right now is through ivars.

And to be completely fair, I usually don't write controller unit tests. I still think it's important to not shut that door in cases where it's useful, such as all those brownfield projects out the

[2015-03-09 19:42] yahonda opened #19265 "Two foreign key violations test get failure with PostgreSQL"
Sometimes `rake test_postgresql` causes two failures.
Here are minimum case to reproduce these failures.

[code]

[code]

I still do not know how to fix them yet, there are some findings.

- They do not reproduce by switching the order of "test/cases/multiple_db_test.rb" "test/cases/adapter_test.rb

[code]

- Also they do not reproduce by removing `rake_test_loader.rb` as follows

[code]

- There

[2015-03-09 21:24] tbreier commented on #19201
Thank you! And sorry for not checking whether this was already fixed myself.

[2015-03-09 21:44] Gytax commented on #19262
The thing with the MySQL NULL is that it's not true nor false, it also isn't !true or !false. It's nothing. And while nothing is different than true, NULL still doesn't match. I've run into this myself on more than one occasion. With MySQL you simple have to check for NULL values if the column is ALLOW NULL.

Whenever I create a bool column, I default it to false (or 0), to prevent NULL values.

R

[2015-03-09 21:48] Gytax commented on #19262
And in this case, not true means false for SQL, not 'lack of an answer'.

[2015-03-09 22:29] brandoncc opened #19268 "Where true/false conditions are broken for Postgres"
According to the PostgreSQL documentation, the proper way to check if a boolean field is true or false is with `IS TRUE` or `IS FALSE` and conversely `IS NOT TRUE` and `IS NOT FALSE`.

http://www.postgresql.org/docs/9.3/static/functions-comparison.html

Here is the SQL currently being generated for `where.not(primary: true)`:

[code]

This returns no results, even when there are items which should

[2015-03-09 22:30] brandoncc commented on #19268
My apologies, this is regarding ActiveRecord 4.2.0.

[2015-03-09 22:34] brandoncc commented on #19268
One last addendum sorry, here is the actual output using the two, showing which one works:

[code]

[2015-03-09 23:21] sgrif commented on #19268
Please provide a script that we can use to reproduce the issue, using https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb as a template.

[2015-03-09 23:24] sgrif commented on #19268
Actually I'm just going to go ahead and close this. `where.not` will never return null values for a field, for any type. This is the ANSI SQL behavior, which defines very clear semantics for NULL. It is not specific to PostgreSQL, and it certainly is not specific to boolean fields.

[2015-03-09 23:24] #19268 closed

[2015-03-09 23:28] brandoncc commented on #19268
Wow, my apologies. I changed it to false instead of nil and it works fine. That seems very non-intuitive, but is that's the spec, then who am I to argue! Thanks for your time and reply.

[2015-03-09 23:31] sgrif commented on #19268
I definitely agree that it's non-intuitive, but the only way that Active Record could change the behavior is by changing every `where.not` query to `(foo != 'bar' OR foo IS NULL)`, which isn't a change that would make sense for Active Record

[2015-03-10 01:33] cupakromer commented on #18950
I agree with @listrophy, I'd rather not test ivars. As has been pointed out, it is necessary when attempting to isolate the controller's contract with the view. Honestly, for me, what the controller passes into the view and what the view decides to do, or not do, with that information are fairly separate concerns. As long as the base contract is met.

These two parts of Rails have always been tigh

[2015-03-10 01:57] seanknox commented on #19184
Hi @pixeltrix, in this case, the constraint is returning true and then continues to be called with other route paths. That's what seems to be a bug.

[2015-03-10 03:13] pinglamb commented on #19192
Test still passes. Added this to ensure at least one post has multiple tags:

[code]

Do you think there are other gems in your project affecting the behaviour? Or default_scope?

[2015-03-10 03:31] sgrif commented on #19192
I'm going to close this. The original script doesn't run and every runnable script posted passes. This is probably a bug in your application. If you have a runnable, failing reproduction script please ping me and I'll reopen.

[2015-03-10 03:31] #19192 closed

[2015-03-10 06:32] andrewhamon commented on #19256
Hi @schneems

I appreciate the time you've taken to help.

I'm using Rails 4.2 (but not originally, it has been upgraded from 4.1 iirc) and Ruby 2.1.5 on Ubuntu 14.04 at the moment. I will try upgrading to Ruby 2.2.x and test using a new rails app. Maybe I should have mentioned this sooner but I'm also using the [rails-api](https://github.com/rails-api/rails-api) gem.

I am experiencing the same i

[2015-03-10 09:39] pixeltrix commented on #19184
@seanknox I've tried reproducing use one of our templates but can't seem to get to call the constraint twice when `/admin/users/new` is matched - maybe you can have better luck:

[code]

[2015-03-10 12:38] yuthura opened #19276 "has_many :through references wrong table alias when joining on same table in rails 4.1.x and 4.2.x, but not on 4.0.x"
For a full working example, please see https://gist.github.com/yuthura/b69a358537c0c729d63d.

When I chain on a through relation, and then join the relation that resides inside the through definition on the resulting chain, Rails aliases the inclusion, but not the through-join. Rails 4.0.x then correctly uses this alias name for subsequent join clauses, but Rails 4.1.x and 4.2.x use the actual tab

[2015-03-10 15:02] innokenty-longway opened #19277 "Controllers/helpers does not get reloaded each request in dev on FreeBSD 9.1/9.3"
I've posted question on StackOverflow: http://stackoverflow.com/questions/28878832/rails-does-not-reload-controllers-helpers-on-each-request-in-freebsd-9-1

Before:
![selection_002](https://cloud.githubusercontent.com/assets/2914034/6577497/88e0f846-c74f-11e4-9bab-73a4dfc3404e.png)
Hit refresh:
![selection_001](https://cloud.githubusercontent.com/assets/2914034/6577499/8b72add4-c74f-11e4-8137-a503

[2015-03-10 15:25] vladzzag opened #19278 "Weird behavior of POST, PUT and DELETE in Mozilla Firefox"
Hi! I'm making forum https://github.com/vladzzag/rails-forum . And I've found some problems with POST, PUT and DELETE request methods in Mozilla Firefox. These requests are sending multiple times per click(e.g.), look at screenshots("Unban" link fire action "bans#destroy" with method DELETE). Also, I've noticed that Google Chrome have no problems.
Can someone tell me is it bug in Mozilla Firefox?

[2015-03-10 15:33] kaspth commented on #19278
We can't help you debug or test Firefox. Try StackOverflow or the rubyonrails-talk mailing list.

[2015-03-10 15:33] #19278 closed

[2015-03-10 16:28] vladzzag commented on #19278
Ok. link_to with DELETE and added "data: { confirm: "ololollo" }" sends only 1 POST request instead of 3. Maybe it was reason.

[2015-03-10 16:28] vladzzag commented on #19278
It is so weird...

[2015-03-10 17:39] JuanitoFatas commented on #19109
Can add a label for `attached PR`, right?

[2015-03-10 19:01] rafaelfranca commented on #19228
I'd not recommend to develop in a version different of the production environment. This is just one of the problems that may happen.

Yes. We can improve that.

[2015-03-10 19:02] rafaelfranca commented on #19228
I'm closing this issue since it is not causing wrong behavior. Feel free to send a PR to improve the `enable_extension`.

[2015-03-10 19:02] #19228 closed

[2015-03-11 00:17] sdhull commented on #18933
Hah I was just about to submit a PR for something like this.

[2015-03-11 01:54] yahonda opened #19281 "MySQL 5.7.6-m16 default optimizer_switch derived_merge=on causes Error: You can't specify target table 'pets' for update in FROM clause:"
[MySQL 5.7.6-m16](http://dev.mysql.com/doc/relnotes/mysql/5.7/en/news-5-7-6.html) has been released.
Since upgrading my environments to this version, some of mysql and mysql2 test cases get errors.

These errors can be resolved by setting `optimizer_switch=derived_merge=off` in /etc/my.cnf.
Then I'm not sure these errors can be addressed in Rails yet.

- Testcases
[code]

- Environments
[code]

-

[2015-03-11 02:53] morgo commented on #19281
@yahonda did you mind filing a bug on bugs.mysql.com?  This looks like a case that we would need to either fix or document as an incompatibility for upgrades to 5.7.

[2015-03-11 03:19] kassio commented on #19226
I'm not sure if it's a bug. I don't know if the `join(:comment)` should trigger the Comment's default scope. You can easily fix this problem with:

[code]

[2015-03-11 08:05] prio101 opened #19284 "Having problem with Guidlines step error"
I am new in rails . I was following the [Getting Started](http://guides.rubyonrails.org/getting_started.html), but sorry to say in [Section 5.3](http://guides.rubyonrails.org/getting_started.html) It tells me to create a method in articles controller. Which is,

[code]

but , the router doesn't show the promised error there , which should be, *"TEMPLATE MISSING ERROR"*

after that when I create a

[2015-03-11 12:04] yahonda commented on #19281
@morgo Sure. Let me create a bug report to bugs.mysql.com. Will update the bug# when it is created.

[2015-03-11 12:35] onebree opened #19286 "When updating migrations, the last `end` statement is removed from `schema.rb`"
We are currently using Rails 4.2, and I do not think I noticed this issue before upgrading.

If new migrations are available, I run `rake db:migrate`. Everything is fine. When I enter check `git status`, it says that the schema has changed. Again, everything looks fine... However, when I diff the file, the last `end` statement (end of file) is removed. If I try to repopulate the database (for test

[2015-03-11 12:50] yahonda commented on #19281
@morgo https://bugs.mysql.com/bug.php?id=76259 has been opened.

[2015-03-11 13:10] phlegx opened #19287 "Relation not loaded with includes(:profile) if order attribute is of format “profile”.“firstname” ASC"
**Rails:** 4.1.7
**Ruby:** 2.1.4
**Postgresql:** 9.3
**Gem pg:** 0.17.1

Using the following order configuration, ```includes(:profile)``` don't includes the relation to the profile.

[code]

Using the following value to order all accounts works fine:

[code]

Using the following value ```includes(:profile)``` don't includes relation ```:profile``` in the query:

[code]

**Any idea? I want to use

[2015-03-11 13:19] morgo commented on #19281
Thanks!  I've verified it on the MySQL side.

[2015-03-11 13:24] kassio commented on #19226
Actually, I guess I was wrong. I don't know whether it should include all the default scopes or not. We really have a problem because, for now, it's merging only the `where`, but not the `join`.

@rafaelfranca Could you help us here? What should be the result with those nested default scoped?

[2015-03-11 13:27] mbillard commented on #19226
I feel like the default scope should be included but instead of being part of the join clause (`ON ...`) be appended to the where clause.

[2015-03-11 13:37] #19265 closed

[2015-03-11 13:37] senny commented on #19265
:flushed: @yahonda thank you for catching this. :yellow_heart:

Caused by a typo I committed some time ago.

[2015-03-11 13:40] senny commented on #19287
@phlegx what version of Rails are you using? Would be nice if you could attach an executable test-case that describes your issue. We have a [script](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) you can use as a starting point.

[2015-03-11 13:47] yahonda commented on #19265
Great!

[2015-03-11 13:49] matthewd commented on #19286
It's certainly not the version history; `schema.rb` gets regenerated from scratch.

My first guess would be that you are using a gem that manipulates the `schema.rb` construction process.

Can you post a gist of your gemfile?

Can you reproduce the problem on a new application? Which DB adapter are you using?

[2015-03-11 13:55] phlegx commented on #19287
I use Rails version 4.1.7.

[2015-03-11 13:55] onebree commented on #19286
https://gist.github.com/onebree/eefe5c895076dc81f17e

At the moment, I am unable to create a new application. I am currently working on a company project. As far as a DB adapter, I believe we use mysql2

[2015-03-11 14:01] senny commented on #19287
@phlegx automatic `references` are only added when the table and column names are not quoted. You should fall back on using `references`. Another option is to use `eager_load` instead of `includes`.

[2015-03-11 15:15] visualsayed opened #19290 "current_page? method doesn't respect the .format e.g [.mobile, .json] in url"
Let's say we're in the http://www.example.com/items
    `
    current_page?(:items)
    # => true
`
But if we're in the http://www.example.com/items.mobile [Please notice the appended .mobile format]
    `
    current_page?(:items)
    # => false
`
That's because in this case the current_page? method will work as the following:

[code]

A possible fix:

[code]

Thanks,
Sayed

[2015-03-11 16:50] morgo commented on #19281
The developer has responded that this behavior will be documented as intentional.  This means that the issue should be addressed in rails, as the initial issue description suggests.

[2015-03-11 19:30] danmaz74 opened #19292 "ActiveRecord object collection to_set causes memory leak"
I've been debugging a memory leak in a rails 3.2.21 app, and in the end discovered the problem, that I think could be a bug.

I had a comparison like this:

    def foo
        return object.related_objects.to_set == object2.related_objects.to_set
    end

This was called thousands of times, and memory consumption went into the gigabytes in time.

I then substituted the comparison like this (this

[2015-03-11 20:10] tibbon commented on #19292
Ruby version?

[2015-03-11 20:14] monfresh opened #19293 "Add ability to filter out email address from ActionMailer log."
Hi,

It would be great to be able to filter out email addresses from the ActionMailer log without having to monkey-patch ActionMailer.

Thoughts?

[2015-03-11 21:05] eileencodes commented on #19292
@danmaz74 Rails 3.2 is only taking security updates at this point, and not merging in bug fixes or features. Can you reproduce this on a newer version of Rails?

[2015-03-11 21:09] eileencodes commented on #19293
Hi @monfresh thanks for the idea! - Unfortunately, Rails doesn't accept feature requests on the issues tracker. You can either write up a PR and send it in, or if you're worried about it being accepted you can discuss it on mailing list: https://groups.google.com/forum/?fromgroups#!forum/rubyonrails-core

More information on feature requests can be found here: http://guides.rubyonrails.org/contrib

[2015-03-11 21:09] #19293 closed

[2015-03-11 22:18] danmaz74 commented on #19292
@tibbon: Ruby version: 1.9.3 through 2.1.5

@eileencodes: unfortunately we don't have the time to upgrade our codebase to rails 4 in the near future and I didn't test it there. If you don't have the time to try testing yourselves and think the issue can be closed as it's related to an older version I don't have any problems, I just wanted to warn about a possible bug - for our needs we already fou

[2015-03-11 23:06] yahonda opened #19297 ""undefined local variable or method `hello=' when Rails 4.2 and ruby 2.2.1 used"
One test at `4-2-stable` branch always get failure when ruby 2.2.1 is used.

[code]

It reproduces when ALL of these conditions are satisfied:

- Rails 4.2 from v4.2.0 to the latest 4-2-stable branch whose latest commit is 6f158c9293adb3e660d0c7a8180dfa79de81881b)

- Use Ruby 2.2.1
[code]
- Executed entire `rake test_<adapter>` such as `rake test_sqlite3` or
`ruby -Itest test/cases/attribute_metho

[2015-03-12 01:46] cdwort commented on #19284
Hi @prio101 I'm not any kind of official person here, but I ran through the steps in the Getting Started guide, and I did get the "Template is missing" error right after I added the
[code]
to the articles controller.

What behavior do you see after you add this method and resubmit the form?

[2015-03-12 02:50] rafaelfranca commented on #19297
It is something related to the fixture loading code. If you change this line to https://github.com/rails/rails/blob/6f158c9293adb3e660d0c7a8180dfa79de81881b/activerecord/test/cases/attribute_methods_test.rb#L32 `t = Topic.new` everything pass.

[2015-03-12 03:31] schneems commented on #18878
It would be pretty easy to change the behavior here to call the task instead of giving a message https://github.com/rails/rails/pull/7891

[2015-03-12 05:05] prio101 commented on #19284
I was having the "Routing error" ... but just right now after watching your
post I tried resubmit button ( submit buttons ) rather than writing url as
"localhost:3000/articles/new/create" and it's really showing the "Template
missing error" ... I am sorry to being stupid. Next time before asking I
will be more through with what really meant there ..

On Thu, Mar 12, 2015 at 7:47 AM, Amy Unger <not

[2015-03-12 05:09] #19284 closed

[2015-03-12 07:26] jeremy commented on #16960
Implemented @ #16992

[2015-03-12 07:26] #16960 closed

[2015-03-12 08:41] dmitry opened #19302 "Set attribute default value on new record"
The default value is not set while you are creating an instance of the model. Currently default value is only available through the columns_hash[:attribute_name].default. One of the solutions, is to rewrite reader of the record, like that:

[code]

This code is easy only when admin is `NOT NULL`, in other way it's a bit more complicated.

Why not to embed the functionality of setting the default v

[2015-03-12 08:58] senny commented on #19297
I'll have a look at it.

[2015-03-12 09:01] MGotink commented on #16423
@arthurnn, I believe this issue can be closed, it's solved since 4.1.6.rc1 with 9ab12cb.

[2015-03-12 10:14] innokenty-longway commented on #19277
Okay. I figured this out. It was NFS problem. I do not know what config options must be set but if I work with local app everything is ok.

[2015-03-12 10:14] #19277 closed

[2015-03-12 11:02] innokenty-longway commented on #19277
https://github.com/rails/rails/issues/16678

[2015-03-12 12:23] japed opened #19304 "collection_check_boxes sets wrong id on check box field"
If I do
`<%= f.collection_check_boxes :page_ids, Page.order(title: :asc), :id, :title %>`

I get the following HTML

    <input name="office[page_ids][]" type="hidden" value="0">
    <input class="check_box" type="checkbox" value="1" name="office[page_ids][]" id="office_page_ids_1">
    <label for="office_page_ids_1">About Us</label>

    <input name="office[page_ids][]" type="hidden" value="0">

[2015-03-12 12:28] kidlab opened #19305 "[ActiveRecord] NoMethodError: undefined method `first' for nil:NilClass in ActiveRecord::FinderMethods#find_take"
This problem occurred when I used `#take` on a loaded association and the association is empty.
Here is the example to reproduce this issue.

**Models**
[code]

**Try it out**
[code]

Here is my monkey patch for `ActiveRecord::FinderMethods#find_take`:
[code]

[2015-03-12 12:43] suratpyari opened #19306 "Validation of uniqueness fails on updating object with nested attributes"
I have element model

class Element < ActiveRecord::Base
  has_many :banners
  accepts_nested_attributes_for :banners
end

and in banner model I have

class Banner < ActiveRecord::Base
  belongs_to :element
  belongs_to :locale
  validates :locale, :content, :element_case, presence: true
  validates :locale_id, uniqueness: {scope: :element_id}
end

When I update it I get 'Banners locale has alread

[2015-03-12 12:44] suratpyari commented on #19306
Rails version is 4.2.0

[2015-03-12 12:57] jwaldrip opened #19307 "Setting / Resetting Release Expectations"
I would love to see some truth to what is being said in the blog as to when the next release or release candidate is going to be live. I appreciate when the team resets expectations about a why there was a new RC instead of release and why. That being said, here we are 7 days past when 4.2.1 was supposed to be released and we have no update on why its delayed or when we can ACTUALLY expect the rel

[2015-03-12 13:18] arthurnn commented on #16423
thank @MGotink .
I will close this, please let me know if this doesn't work on 4.1.10.rc3 .

thanks

[2015-03-12 13:18] #16423 closed

[2015-03-12 13:29] #19307 closed

[2015-03-12 13:32] jwaldrip commented on #19307
@matthewd please close with a response.

[2015-03-12 13:42] schneems commented on #19307
We only use issue tracker for PR and bug reports all discussion needs to go through the mailing list. As for release timing, were an all volunteer staff, and releases get cut when there's no more bugs reported as open on the current RC. If you want to help follow the issue tracker or use www.codetriage.com. You can triage, confirm, and maybe fix bugs blocking a release.

[2015-03-12 13:44] schneems commented on #19305
Did this code work before? What version did it work on? What version are you using now?

[2015-03-12 14:04] eileencodes commented on #19306
@suratpyari can you provide a reproduction script? That will help us understand your issue. You can find examples of runnable reproduction scripts here: https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb

Thanks!

[2015-03-12 14:13] jwaldrip commented on #19307
I understand that. But there are no open issues in 4.2.1 and the last blog post stated the following:

All I am asking is that when a release is scheduled that that expectation be either met or reset. That was the last bit of news the rails community heard from the rails team.

[2015-03-12 14:31] kidlab commented on #19305
I don't know whether it works before, because this is the new code and I've
just figured out it. I'm using Rails 4.1.7. But I believe we also have this
problem in master branch.
On Mar 12, 2015 8:45 PM, "Richard Schneeman" <notifications@github.com>
wrote:

[2015-03-12 14:35] rafaelfranca commented on #19307
Sorry for the delay. As @schneems said all our time is limited and all volunteer. Last Thursday I was without decent internet and could not release. This happened to be a good thing because @amatsuda and @arthurnn found two regressions that were fixed Monday. I was going to release a new RC yesterday but got sick. But I'm going to do it today.

[2015-03-12 14:40] MGotink commented on #16423
It's working fine in 4.1.10.rc3 for me.

[2015-03-12 14:53] schneems commented on #19307
Thanks @rafaelfranca.

@jwaldrip If this post had been on the mailing list, then lots of developers would have access to this information. It's why we want discussion over there. Please direct future questions and conversation to the mailing list

[2015-03-12 16:07] arthurnn commented on #19292
thanks @danmaz74 for letting us know.

[2015-03-12 16:07] #19292 closed

[2015-03-12 16:50] forgottentea commented on #12330
had this problem today after running some migrations

[2015-03-12 22:22] JasonBarnabe opened #19314 "comparison of Array with Array failed in formatter.rb"
I just upgraded Rails from 4.1.6 to 4.2.0, and I'm getting a new error. The intention of my code is to take a "bad" request and redirect it to the proper URL.

Relevant [routes](https://github.com/JasonBarnabe/greasyfork/blob/c706578cc0b200b96fbde0530cb4d76a3c45f6c0/config/routes.rb#L55) (the "bad" URL is handled by `show`, the proper URL is the `meta_js` route.
[code]

In the [controller](https:/

[2015-03-13 00:59] mattbrictson opened #19316 "4.2.1.rc4: `route` generator action gobbles up trailing newline, breaks 3rd-party generators"
**tl;dr –** In 4.2.1.rc4 `route "resources :people"` no longer appends a newline after the inserted route, which breaks the routes file. This breaks third-party generators like devise. It is a regression from 4.2.0 due to the fix for #15913.

--

Assuming a `routes.rb` that starts out like this:

[code]

In Rails 4.2.0, `rails g scaffold foo` produces:

[code]

In Rails 4.2.1 (note the missing new

[2015-03-13 01:56] JasonBarnabe commented on #19314
Simplified test case:

Route:
[code]
From `rails console`:
[code]
Looks like a missing routing key combined with a duplicated routing key (one symbol, one string) causes this error. I'm unsure how my app is ending up with the duplicated key though.

[2015-03-13 02:20] yahonda commented on #19281
@morgo Thanks for the update. Also I've checked https://bugs.mysql.com/bug.php?id=76259
I understand this is an expected behavior in MySQL 5.7.6 (and later).

Quote from mysql bug#76259.
[code]
Let me discuss the second workaround first.
- Current SQL which cause `You can't specify target table` error.

[code]

- Modified SQL to surpress error adding DISTINCT in the subquery

[code]

This workarou

[2015-03-13 03:41] kuldeepaggarwal commented on #19305
Code is working on master branch.

[2015-03-13 04:01] kuldeepaggarwal commented on #19304
@japed Which version of rails are you using? `collection_check_boxes` form helper method is working fine on master branch.

[code]

[code]

In view:
[code]

[code]

[2015-03-13 08:25] senny commented on #19297
This was caused by a bug in Ruby 2.2.1. I opened an issue on the ruby-lang tracker: https://bugs.ruby-lang.org/issues/10969 and pushed a temporary fix to `4-2-stable`.

[2015-03-13 08:25] #19297 closed

[2015-03-13 10:19] pixeltrix commented on #19314
Sigh, the mixture of string keys and symbol keys makes me :cry:

The reason is because the `sort` method uses `<=>` and that doesn't work when comparing a symbol with a string:

[code]

You're getting a mix because you're merging on the params hash which is not really recommended as you're sending untrusted user data into your url helpers - I'd suggest slicing out the required params first and the

[2015-03-13 10:24] enthrops opened #19318 "AR attribute lookup performed incorrectly if records are instantiated from cache"
Background: A table named **people** with columns **format** and **name**, along with a corresponding ActiveRecord model and a sample row in the table.

STR:
1) Open up rails console and execute `Rails.cache.fetch('whatever') { Person.all.load }`. This will return all people and generate the cache entry.
2) Quit and open rails console again
3) Execute `Rails.cache.fetch('whatever') { Person.all.lo

[2015-03-13 10:53] japed commented on #19304
That is on 4.2.0.  Just made a test app that works.  So I'm going to close this as it's obviously something within my app causing it.

[2015-03-13 10:53] #19304 closed

[2015-03-13 12:01] yahonda commented on #19297
Thanks. Confirmed it is fixed and started watching https://bugs.ruby-lang.org/issues/10969 .

[2015-03-13 12:52] enthrops commented on #19318
I've also noticed that despite both attributes being strings, **name** gets serialized as **ActiveRecord::Type::String**, while **format** gets serialized as **ActiveRecord::Type::Value**

[2015-03-13 12:57] Qianfinland commented on #19318
Which version of ruby and rails are you using? I try to reproduce with Rails 4.2.0 and ruby 2.2.1, and didn't have problems. Which database are you using?

[2015-03-13 13:14] Qianfinland commented on #19318
Rails has some reserved column names, format is one of them, you should rename the column.
Format is a private method in Object and you cannot use it for column name.

[2015-03-13 13:26] enthrops commented on #19318
Why is it working properly when serialization is not involved, and why does not it raise an exception when objects with such column names are instantiated?

[2015-03-13 13:50] rafaelfranca commented on #19316
cc @pixeltrix

[2015-03-13 14:12] rafaelfranca commented on #19305
How about 4-1-stable?

[2015-03-13 14:20] rafaelfranca commented on #19302
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2015-03-13 14:20] #19302 closed

[2015-03-13 14:24] rafaelfranca commented on #19318
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-03-13 14:33] rafaelfranca commented on #19281
I think we know about the subselect in that code. Can't we just use distinct?

[2015-03-13 14:36] printercu opened #19319 "Disable ParamsWrapper by default in 5.0"
wdyt?
It seems to be not so useful with StrongParams and also can be a bit confusing.

It can be left as mixin and one will be able to include it to ApplicationController.

[2015-03-13 14:38] rafaelfranca commented on #19319
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

I believe we already have a thread for this in the mailing list.

[2015-03-13 14:38] #19319 closed

[2015-03-13 14:41] morgoth commented on #19319
@printercu it is discussed on https://groups.google.com/forum/#!topic/rubyonrails-core/e50YAHA6BKc

[2015-03-13 14:44] azolotko commented on #10865
At the moment, counter cache is incremented in memory twice:
1) by `belongs_to` https://github.com/rails/rails/blob/4-2-stable/activerecord/lib/active_record/associations/builder/belongs_to.rb#L44
2) and by `has_many` https://github.com/rails/rails/blob/4-2-stable/activerecord/lib/active_record/associations/has_many_association.rb#L173

[2015-03-13 14:44] printercu commented on #19319
@morgoth thanks!

[2015-03-13 15:13] rousisk opened #19320 "Integer#years returns Float while all other helper methods return Fixnums"
Integer#years returns a `Float` while the rest of the accompanying methods return a `Fixnum`:

[code]

This being the result of:

[code]

Given that 365.25.days results to an integer (*31557600.0*), I was thinking that we could improve the consistency of the API by modifying the previous method to :

[code]

I would like to prepare a quick PR on this but I wanted first to take feedback in case I a

[2015-03-13 15:36] enthrops commented on #19318
Can not reproduce using the template, as failing to infer model column names depends on the model not being loaded yet, and that requires a proper rails application (or it's just that I don't know how to do that in a single file).
However, here is a [gist](https://gist.github.com/enthrops/1262dc765ca0aa5c6ec7) that shows that **format** is being serialized as **ActiveRecord::Type::Value**, not **A

[2015-03-13 16:11] schneems commented on #19320
Give us a PR and we can see if the tests still pass :)

I don't see any explicit reason for the float return.

[2015-03-13 17:25] kuldeepaggarwal commented on #19305
I have to verify it. Will do it after weekend.

[2015-03-13 21:48] GolfyMcG opened #19328 "undefined method `content_tag' from other undefined method within nested `content_tag`"
I experienced this error today despite being 100% certain that `content_tag` was in fact defined. The error stemmed from calling a different method (`include?`) which was actually undefined from within a `content_tag` block. Is this intended behavior?

In case it isn't clear from my description, below are the relevant pieces of my code to help demonstrate:

[code]

I was continually given the erro

[2015-03-14 06:14] itsportspe opened #19330 "Rails Documentation. Getting Started Tutorial not working."
If you follow the "getting started" tutorial on the rubyonrails.org site (linked below) you will notice that at the end of section 5.2 upon filling out the form and clicking submit, there is a routing error that doesn't follow the tutorial. I don't know how to fix this. Can someone please fix this?

Link to the tutorial
http://guides.rubyonrails.org/getting_started.html

Here are some extra photos

[2015-03-14 06:34] kaspth commented on #19330
It would helpful if you could paste your form, so we can compare it to the one in the guide :wink:

Because the guide mentions the url of the form is incorrect (otherwise you'll get the routing error) and your form should be changed to:

[code]

I'm going to close this for now as the guide looks correct to me :smile:

[2015-03-14 06:34] #19330 closed

[2015-03-14 06:55] itsportspe opened #19331 "Rails Documentation. Getting Started Tutorial not working."
If you follow the "getting started" tutorial on the rubyonrails.org site (linked below) you will notice that at the end of section 5.2 upon filling out the form and clicking submit, there is a routing error that doesn't follow the tutorial. I don't know how to fix this. Can someone please fix this?

Link to the tutorial
http://guides.rubyonrails.org/getting_started.html

Here are some extra photos

[2015-03-14 07:48] kaspth commented on #19331
This is a refiling of #19330.

Next time don't open a new issue but comment on the original one. Also as a tip, look into github flavored markdown it supports both images and code, which is easier for both of us because we don't have to open links and you don't have to make them :smile:

Anyway, I'm going to let this one stay open for now and let others have a go. At first glance your code looks c

[2015-03-14 09:10] vsorlov commented on #18869
@lxsameer yes, I'll try to do it

[2015-03-14 09:55] endersstocker commented on #19331
The error that you are seeing is the result of the form posting back to the original path, */articles/new*, instead of */articles*. You would certainly receive that error if  `, url: articles_path` were absent from **config/routes.rb:1**. When you restart the Rails application server, refresh the form at */articles/new*, and submit, do you still receive this error?

[2015-03-14 10:22] itsportspe commented on #19331
When I try to restart the server with either `, url: articles_path` or `url: articles_path` in the **config/routes.rb** the server won't start. Also I have no idea what **config/routes.rb:1** is.

The whole point of this post is that the tutorial seems to be incorrect. When I looked to find a way to contact the author, this is where I was sent. That is why I'm posting here. In the future I hope ot

[2015-03-14 10:38] endersstocker commented on #19328
I cannot seem to reproduce this in Rails 4.2. When assigning options[:matches] to a non-enumberable object, I receive the expected exception: ``undefined method `include?'``. Is the above code in a view helper? In what versions of Ruby and Rails are you seeing this unexpected behavior?

[2015-03-14 11:25] adsteel commented on #19331
`url: articles_path` or `url: articles_url` needs to be in the form, just like you have it, not in *config/routes.rb*. When I follow the tutorial, and even when I copy-paste your text, everything works as expected for me. If you want to push your app up to github and send a link to the repository, I could take another look.

[2015-03-14 11:29] endersstocker commented on #19331
I apologize @itsportspe, I meant **app/views/articles/new.html.erb:1**.

[2015-03-14 11:37] itsportspe commented on #19331
I have restarted the server many times and still get the same error.

[2015-03-14 11:52] endersstocker commented on #19331
Have you tried submitting the form in another browser, to rule out any caching of the form? Also, can you verify that line 1 of app/views/articles/new.html.erb is currently exactly as you have it in your link: `<%= form_for :article, url: articles_path do |f| %>`. Lastly, when you inspect the HTML at */articles/new*, what is the content of the form tag (the line that starts `<form`)?

[2015-03-14 12:05] itsportspe commented on #19331
Yes. I can verify that it is exactly the same. http://snag.gy/ACmTk.jpg
Yes. The Cache is cleared. Still the same issue.
Here is my clone. https://github.com/itsportspe/errorRails.git

[2015-03-14 12:40] adsteel commented on #19331
Your clone works for me with no modifications. When I navigate to `/articles/new` and submit the form, I get `The action 'create' could not be found for ArticlesController`, which is the expected error message. If you're still getting the error `No routes matches [POST] "articles/new"`, it seems like that is a product of your local environment.

[2015-03-14 12:44] endersstocker commented on #19331
The clone gives the expected error message, `The action 'create' could not be found for ArticlesController`, for me as well.

[2015-03-14 14:25] sb8244 commented on #19036
Looking to do a contribution to Rails and found this issue. @simi are you still looking into this?

I dug around a little bit this morning and think it could be done through `ActionDispatch::ExceptionWrapper`. I'm not sure that actionpack handles missing templates other than through this class. It looks to me like actionview is the gem in charge of that.

Rendering status 200 for HEAD requests (bu

[2015-03-14 15:30] GolfyMcG commented on #19328
My apologies - this is in a decorator object created with [Draper](https://github.com/drapergem/draper) , and we've included all rails helpers in the class using `include Draper::LazyHelpers`.

[2015-03-14 16:02] palkan commented on #19318
Marshaling is ok. `format` is dumped as String, you can see something like `T@` after `format` in the dump - this is a reference to `ActiveRecord::Type::String` defined earlier for `title`.

You can check it simply:
[code]

What is the full error message? `NoMethodError: private method `format' called for ...` what?

[2015-03-14 16:46] halorgium opened #19332 "Connection leakage when inspecting exceptions across Threads"
We've been tracking an issue with Celluloid (https://github.com/celluloid/celluloid/issues/499) where an exception occurs inside ActiveRecord and is then handled by the core Celluloid actor as a crash.
As part of the handling, the exception is inspected which causes a connection to be checked out of the pool. Then the thread dies and orphans the connection.

Was the assumption around `.inspect` (a

[2015-03-14 17:07] halorgium commented on #19332
I have distilled the issue to a simpler repro: https://gist.github.com/halorgium/2778b0db4286b907343a

[2015-03-14 17:20] matthewd commented on #19332
Which Rails version are you using? 4.2 should reclaim the connection shortly after the owning thread dies.

That commit seems fine.. though as we are currently pretty free with our use of `connection`, I'm not sure whether I'd consider it a back-portable bug fix.

[2015-03-14 17:22] matthewd commented on #19328
https://github.com/drapergem/draper/blob/master/lib/draper/lazy_helpers.rb#L10-L11

[2015-03-14 17:22] #19328 closed

[2015-03-14 17:39] tarcieri commented on #19332
@matthewd what sort of mechanism does it use to reclaim them? Celluloid pools threads, as it were...

[2015-03-14 17:41] halorgium commented on #19332
@matthewd using 4.2 produces the same result. I am mostly concerned about the thread holding the connection if it does not die.
There is another code path within Celluloid which causes this affect where the core actor thread does not die.

[2015-03-14 17:43] halorgium commented on #19332
@tarcieri it is using a `#alive?` check on the owner thread.

[code]

[2015-03-14 17:46] halorgium commented on #19332
@matthewd the other concern is that a simple `#inspect` on a model can cause a DB connection and query. This seems somewhat excessive, especially if this is called in non-DB threads.
Ideally, a system would not have exceptions, but it does happen and if the result is starving the connection pool, I am :cry:ing.

[2015-03-14 21:21] xpressrazor opened #19338 "Possible error in Getting started 5.3 creating articles (values don't show up in view)"
In section 5.3 (creating articles), I see this code

def create
  render plain: params[:article].inspect
end

but, I did not get any output in the browser (It displays nil). However, inspecting the console shows

"articles"=>{"title"=>"First article!", "text"=>"This is my first article."}, "commit"=>"Save Articles"}

From this I guessed, above code needs to be changed to.

  def create
    render

[2015-03-14 23:14] xpressrazor commented on #19338
In 5.6 and 5.7 also I had to change params[:article] to params[:article]

If

def articles_params
    params.require(:articles).permit(:title, :text)
  end

is defined as

def articles_params
    params.require(:article).permit(:title, :text)
  end

the browser gives "param is missing or the value is empty: article" error.

[2015-03-15 03:03] GolfyMcG commented on #19328
@matthewd and @endersstocker - thanks for taking a look! Didn't realize this would happen when mixing in all the helpers ><

[2015-03-15 05:25] itsportspe commented on #19331
Yeah. It looks like something is going on with my environment. Thank you for the help everyone.

[2015-03-15 06:04] xpressrazor commented on #19338
[ Solved ]

I solved this error, by defining Article.new inside new method for @article.
def new
    @article = Article.new
end

Getting started tutorial does not mention this. With this added, I was able to follow the tutorial as it is (i.e., reverting back above changes).

[2015-03-15 06:04] #19338 closed

[2015-03-15 07:03] kaspth commented on #19331
I hope you can figure it out, so you can get started with Rails :heart:

[2015-03-15 07:03] #19331 closed

[2015-03-15 10:51] enthrops commented on #19318
For my initial example that would be `NoMethodError: private method 'format' called for #<Person:0x007fc99fb48f00>`

[2015-03-16 00:31] apux commented on #18572
I have the same issue with ruby 2.2.1 and rails 4.0.13, and adding 'test-unit' to my gemfile didn't work.

[2015-03-16 03:16] kuldeepaggarwal commented on #19306
Just formatted the input.

[code]
and in banner model I have

[code]

[code]

[2015-03-16 03:43] kuldeepaggarwal commented on #19305
It is also working on 4.1.9(I think this is the stable branch).
![19305_1](https://cloud.githubusercontent.com/assets/1930730/6660305/6b0de36c-cbbc-11e4-9b01-b65f9961b789.PNG)

In `post.rb`

[code]

In `comment.rb`

[code]

[2015-03-16 04:07] kidlab commented on #19305
I just upgraded to Rails 4.1.9, the problem was still there :(  If @kuldeepaggarwal cannot reproduce, it seems that there is something wrong with my gems set, I suspect. BTW, I'm using AR with PostgreSQL (`pg` gem `0.18.1`). I will try to debug the root cause of this when I have more time...

[2015-03-16 05:03] kuldeepaggarwal commented on #19305
This is my Gemfile.

[code]

[2015-03-16 11:06] suratpyari commented on #19306
My mistake. I was missing id in banners_attributes

[2015-03-16 11:07] #19306 closed

[2015-03-16 13:40] jasnow opened #19354 "Getting "RuntimeError: @routes is nil" for static pages"
On March 3, 2015, I created a Rails 5.0/alpha version of Rails Tutorial's "sample_app"
app based on my Rails 4.2 version (4 lines changed).

The repo is at https://bitbucket.org/jasnow/sample_app_5_0_rt .

The test suite runs cleanly with the "master" branch.

But the test suite broke two days ago.

To reproduce the issue:
  1. Start with the "master" branch
  2. Run "bundler update rails". I crea

[2015-03-16 15:30] aprescott commented on #13775
After some confusion from #18109, I have amended the description to better explain that `User.unscoped { Item.joins(:user) }` is ignoring `User.unscoped` as if it weren't present. My previous wording could have also suggested that `Item.joins(:user)` should always act as if it were called inside a `User.unscoped { ... }` block so that all `joins` calls ignored default scopes, which is not the aim

[2015-03-16 15:36] zw963 opened #19356 "Rails route error."
From guides edge (4.2), I read this:

[code]

So, I thought one issue should be mention:

routes.rb (worked)
[code]
routes.rb (not worked)
[code]
I thought route should consistent with test route usage, right ?

[2015-03-16 15:38] zw963 commented on #19356
oh, it worked if change to:

[code]

[2015-03-16 17:16] carlosantoniodasilva commented on #19356
These are different things, `get 'abc'` is in fact just a shortcut for the last route you posted, so it makes sense not to require a leading slash.

The test requires a slash because you need to give it the full path, which includes the `/`, so `/foo` and not `foo`, or `/foo/bar/baz`, not `foo/bar/baz`. It "worked" unintentionally before, as the comment says, but it was not supposed to be used lik

[2015-03-16 17:16] #19356 closed

[2015-03-16 17:22] yahonda commented on #19281
@rafaelfranca You are right. Thanks for the suggestion. We know which sub-sub-query needs distinct. Opened a pull request #19359

[2015-03-16 18:06] kurko commented on #17166
I have exactly the same issue in my app. That PR would solve this issue for me.

[2015-03-16 21:07] renanoronfle commented on #19286
I can't reproduce this bug.
I agree with @matthewd, probably a gem in your project must be causing this error

[2015-03-16 21:14] #19286 closed

[2015-03-16 22:10] #19281 closed

[2015-03-16 23:00] jasnow commented on #19354
Fixed the **runtime-error" branch by rebuilding Gemfile.lock file and pushing branch to Github.

[2015-03-17 04:11] jffrymrtn opened #19370 "image_path looks for images in "images/" instead of "assets/" in production"
The catch is, some images properly use the "assets/" directory, while some use the wrong "images/" directory.

My images are in the "assets/images" folder and are all in the same subfolder. Confused as to what's going on and changing anything in my production.rb file doesn't change anything.

Thinking it could be a Rails 4 bug, but can anyone confirm?

[2015-03-17 04:40] kuldeepaggarwal commented on #19370
Thanks for reporting the issue but can you please provide steps to reproduce this bug or create a sample app having this issue?

[2015-03-17 06:32] jjb commented on #16446
FWIW -- I have an app which heavily depends on touch working for polymorphic relationships. I just did a quick check at the console and it does indeed work. We never use optimistic locking. I wonder if it's only broken with optimistic locking?

[2015-03-17 06:36] jjb opened #19372 "ActiveRecord touch causing deadlocks"
My app uses `touch` extensively in order to take advantage of Rails' template caching system. There's a certain type of work my app does when many relationships are created between many different objects in a batch. Sometimes, some of this work results in the resulting cascading `touch`es causing deadlocks.

I can code around this for the one scenario where I am seeing it happen often, but seeing

[2015-03-17 06:39] jjb commented on #19372
See also this work being done to reduce redundant `touch`es: https://github.com/rails/rails/issues/19372

[2015-03-17 07:17] alanliu006 commented on #19187
@lemonez I met exactly the same problem.
Can you please tell where to put the workaround? I have tried to revise static.rb, but not work. Thank you.

      if match = paths.detect { |p|
        path = File.join(@root, p)
        begin
          File.file?(path) && File.readable?(path)
          rescue SystemCallError
            false
		  rescue Encoding::UndefinedConversionError
		    false

[2015-03-17 09:30] Spone commented on #19042
Hi @gmanley, this problem prevents me from updating an app to 4.2. Is there a workaround for now?

[2015-03-17 09:44] tgxworld opened #19374 "7-10% performance improvement for tests by removing `assert_template`."
I noticed that every single tests we run were running `setup_subscriptions` and `teardown_subscriptions` whether they use `assert_template` or not. Using RubyProf, I noticed it was a potential hotspot and decided to run some benchmarks by removing the setting up and tearing down process. [BenchmarkScript used.](https://github.com/eileencodes/integration_performance_test/blob/master/test/controller

[2015-03-17 11:16] agios commented on #17166
@kurko Just noticed that #18312 was a duplicate of this, but was recently fixed

[2015-03-17 11:16] #17166 closed

[2015-03-17 12:44] jeremy commented on #19374
Nice catch 😁

On Tuesday, March 17, 2015, Guo Xiang Tan <notifications@github.com> wrote:

[2015-03-17 12:57] jeremy commented on #19372
Definitely an issue. Coalescing touches won't help with deadlocks, either,
since child objects will still be locked before parents, exposing
concurrent parent/child txns to different lock ordering.

One fix is to explicitly lock the record that represents your "transaction
boundary" in a before_save. That guarantees a consistent lock order which
avoids deadlock.

Performing the touches outside the

[2015-03-17 13:31] rafaelfranca commented on #19370
This is not a bug, unless the image that is using the /images path is a valid image inside the assets folder. Make sure there is no typo in the image name and also that the image is inside the assets folder. Rails only generate /assets url if the image exists in the assets/images folder.

[2015-03-17 13:31] #19370 closed

[2015-03-17 13:52] dhh commented on #19036
Hi @sb8244, thanks for looking into this. As I recall, we declare the default behavior for controllers somewhere. I think it's default_render something. That's where we need to hook in. We don't want this response to have to flow through an exception (that's slow, and this is not an exceptional state). As @pixeltrix says, we'll want to return a 204 (so head :no_content). There's no difference betw

[2015-03-17 13:55] lafeber commented on #19276
:+1:

[2015-03-17 14:43] sb8244 commented on #19036
Thanks @dhh. I opened a PR so that it is easier to accept feedback.

[2015-03-17 14:59] lemonez commented on #19187
@alanliu006 Yes, that's what I have in static.rb

[2015-03-17 15:05] dhh commented on #19036
Nice. What’s the link?

[2015-03-17 15:07] sb8244 commented on #19036
Oh email doesn't show the reference: https://github.com/rails/rails/pull/19377 Rafael has given some feedback which I will soon apply.

[2015-03-17 15:11] dhh commented on #19036
👍

Also, make sure we explicit log what’s happening. I could see a potential for people being confused with a blank screen, if we’re not very explicit in the log about why that’s happening.

[2015-03-17 15:34] senny commented on #16507
I'm closing this in favor of #13972 to keep the discussion focused.

@PatrickKing thank you for reporting.

[2015-03-17 15:34] #16507 closed

[2015-03-17 16:23] tgxworld commented on #19374
For completeness, the above changes doesn't seem to affect `POST` actions.

[code]

[2015-03-17 18:15] rafaelfranca commented on #19098
@kaspth done

[2015-03-17 18:38] #17157 closed

[2015-03-18 01:56] alanliu006 commented on #19187
@lemonez Thanks for the confirmation. Following revise works for me.

      if match = paths.detect { |p|
        path = File.join(@root, p)
        begin
          File.file?(path) && File.readable?(path)
          rescue SystemCallError
            false
          rescue EncodingError
            false
        end
      }

[2015-03-18 12:17] rafamanzo opened #19386 "Guides page for I18n with ActiveRecord outdated"
Hello

I'm not sure this is the right channel to report this. So sorry if it is not. But it was what I understood from http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation .

I'm running a project with Rails 4.2.0.

On the guides page http://guides.rubyonrails.org/i18n.html#translations-for-active-record-models you read that for using ```User.mod

[2015-03-18 13:27] sevenseacat commented on #19316
This also affects things like Devise, as I just found out when installing Devise into a 4.2.1.rc4 app.

[2015-03-18 14:35] arthurnn commented on #19316
@sevenseacat @mattbrictson I attempted to fix this on https://github.com/rails/rails/pull/19387 , can you guys give it a try and let me know if it works.
thanks

[2015-03-18 16:59] afdev82 opened #19389 "enum nil value casts to empty string: PG::InvalidTextRepresentation ERROR: invalid input value for enum: """
I saw [here](https://github.com/rails/rails/blob/4-2-stable/activerecord/lib/active_record/connection_adapters/postgresql/oid/enum.rb) that you cast the enum to string, but if the value is nil I get an empty string, that usually is not a enum value, so I ge the error from PG.

I extended the method to be:
[code]
It's ok?

[2015-03-18 17:33] dannysperry commented on #18902
@dhh what would be the point of -g, is there another option we would send to rails routes? I find myself writing something like `rake routes pattern` on accident. and then deleting some rewrite. I'd love to see this be as simple as `rails routes pattern` and `rails routes`

[2015-03-18 18:57] effkay commented on #16479
I just ran into this issue when upgrading a rails app from 4.0.3 to 4.2.0.

Once I changed `bin/rails` to the version proposed by `rake rails:update` I could not reproduce the issue anymore.

[2015-03-18 19:39] Basilmir commented on #18398
Ditto! You should see how long it takes to install on an Raspberry Pi 2 (900mhz quad-core ARM + class 10 microsd card :)

[2015-03-18 19:53] jone commented on #16479
I can reproduce the problem with rails `4.2.0` when `spring` is installed too, with the setup as described in the pull request text by @thinkerbot

[code]

The last line should be `test`. The problem seems to be in spring, it does not always respect the `-e` argument properly.

[2015-03-18 19:59] rafaelfranca commented on #16479
Ok. Lets move this discussion to sprint issue tracker.

[2015-03-18 20:05] effkay commented on #16479
Yep ignore my diff. Apparently ran into another issue where spring stuff is missing from bin/rails even if it is in the Gemfile ;)

[2015-03-18 20:35] arthurnn commented on #19389
Can you write a broken test to better illustrate the error you are having?
Seems like we missed the `if` check indeed, but we need to simulate the error before fixing it.
thanks

[2015-03-18 21:01] kalpitad opened #19392 "Rails responding inconsistently with 'transfer-encoding' sometimes and 'content-length' sometimes"
When I send the exact same request (with only the Authorization header value changed) to my Rails server, sometimes it sends back `transfer-encoding: chunked` and sometimes it sends back `Content-Length: <number>`. I thought that maybe it had something to do with the response size, but in the example responses whose headers I've pasted below, the data returned in the body is EXACTLY the same. Base

[2015-03-18 21:13] rafaelfranca commented on #19392
Can you please provide a sample application that reproduces the error?

[2015-03-18 21:23] amaierhofer commented on #19204
`Template#locals` only contains a string array of keys passed.

The locals hash you are looking for is not present at compile time of the template. The decision to render mustache or not must be inlined in the ruby code returned from your handler.

[code]

Also mustache seems needs a hash to work on, so you should probably render your template like

[code]

and reference the value in your template

[2015-03-18 21:23] kalpitad commented on #19392
OK, let me see how I can pare down my app to show it to you, without exposing any IP. I'll be back...

[2015-03-18 21:44] rafaelfranca commented on #19392
Just create a new empty application and try to do the minimum setup to reproduce this issue. If can't debug in your application.

[2015-03-18 21:45] rafaelfranca commented on #19204
Please don't use the mailing list to ask question.

[2015-03-18 21:45] #19204 closed

[2015-03-18 22:32] uberllama commented on #18821
Just ran into this, needing the DelayedJob record/id back from `perform_later` so I can cancel it later if needed. So consider this a :+1: and a thank you for your efforts.

[2015-03-18 22:44] house9 opened #19394 "ActiveRecord rails 4.2 it appears you can no longer declare your serialized Hash columns as NOT NULL"
I am in the process of upgrading an existing rails app from 4.1.9 to 4.2.1.rc4 and came across some new (unusual) behavior with [serialized attributes](http://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/Serialization/ClassMethods.html#method-i-serialize) - it appears you can no longer declare your serialized Hash columns as NOT NULL

feel free to close this issue immediately as my 'f

[2015-03-18 22:46] kreba commented on #19204
Dear @rafaelfranca, I highly respect your many contributions to Rails. However, this was rude.
The issue had been open for two weeks without anyone caring, then when someone finally steps in and helps the guy, you join the stage and slap everyone in the face. Not very nice.
Especially since a member of the Rails Core Team had suggested amaierhofer and me to look into this issue.

[2015-03-18 23:08] pboling commented on #15843
Any chance this could be addressed by the Rails 5 Gods?

It seems like the ideal scenario would be for the `ActionDispatch::Request::Session` to be more like an enhancement of the Rack Session, similar to how HashWithIndifferentAccess tries to play nicely with Hash.

:bump:

[2015-03-18 23:11] rafaelfranca commented on #19204
Sorry, that was an automatic comment.

I'm very happy that the question was answered and I also do agree I could
thank you guys for doing so, next time I'll try to do.

Although I agree I could say a lot of nice words, this issue is still a
question, and our contributing guides and contributing.md files say that we
don't accept questions in the issue tracker so I could not see why keep it
open.

A

[2015-03-19 00:01] kreba commented on #19204
Aaaah, thanks for your nice words! ;)
Educating people on how to use the issue tracker must be tedious work at times. Thank you for taking care of that! :heart:

[2015-03-19 00:16] Christian-Hansen commented on #19042
Hehe, I just bumped in to this issue in production app testing on 4.2.1.rc4

[2015-03-19 00:43] pragmaticivan opened #19395 "Active Record callbacks with nested values"
Should Active Record execute after_create more than one time When I save an Object with Nested  Attributes?

ex:

Plan
- accepts_nested_attributes_for :jobs

plan[:jobs_attributes] = [job,job]

The callback `after_create` of plan is executed 3 times, the plan time and 2 more for the jobs.

rails version 4.2

[2015-03-19 01:05] vemv opened #19396 "Migrations for reference removal generate statements in problematic order"
The following:

`rails g migration remove_contest_from_prizes contest:references`

Generates these 2 statements:

[code]

However the migration won't run successfully on MySQL:

[code]

This can be fixed by editing the migration so the `remove_foreign_key` statement runs before the `remove_reference` statement.

Would it be good to ensure that particular order?

[2015-03-19 01:16] vemv commented on #19396
(using Rails 4.2.0)

[2015-03-19 01:46] rossettistone commented on #12330
+1 Just hit this today in production.

[2015-03-19 02:55] anthonydahanne commented on #19204
hello all
Thanks for your answer @amaierhofer - that makes sense,  I guess debugging the rendering can't be done effectively during compile time of the template ! (I was observing the values during a debugging session)
Sorry about not asking the question in the rails talk mailing list first - at the time I thought it might be a bug.
But yeah I should have asked first on the ML.
Thanks again all fo

[2015-03-19 08:24] kuldeepaggarwal commented on #19396
Thanks for reporting the issue. Can you please provide the full error stack?

[2015-03-19 09:15] senny commented on #19396
This looks very much like a duplicate of #18664 and #19009. This issue has been fixed on `4-2-stable`. You can use the latest RC `4.2.1.rc4` and see if that works out for you.

Please use the search before reporting new issue. This prevents us from spread out discussions and saves time investigating already discussed issues. Thank you for your understanding.

[2015-03-19 09:15] #19396 closed

[2015-03-19 09:19] senny commented on #19386
@rafamanzo The example in the docs is correct. If you have a model extending `ActiveRecord::Base` the  key is `activerecord`. If you have a class including `ActiveModel::Model` the key will be `activemodel`. Since the guides are about translating your Active Record models the key is alright. Check your `User` class to see what key corresponds to it.

[2015-03-19 09:19] #19386 closed

[2015-03-19 10:42] katafrakt opened #19405 "Defining :run callbacks breaks whole callbacks infrastructure"
When you define `:run` callbacks, anything that calls any callbacks breaks with quite vague error message:

[code]

This behaviour can be easily reproduced with following script:

[code]

This is caused by how `define callbacks` method works. In this case it creates class attribute `_run_callbacks` and defines method `_run_run_callbacks` that calls internal `_run_callbacks` method, which is now ov

[2015-03-19 12:33] sgrif commented on #19394
This is the expected behavior. Thank you for the thorough report. :)

[2015-03-19 12:33] #19394 closed

[2015-03-19 13:19] #19316 closed

[2015-03-19 13:58] mdesantis opened #19409 "ActiveRecord: stack level too deep when certain conditions are present"
The issue is present on ActiveRecord 4.1.9, 4.2.0, master.

### Conditions

1. The model has a polymorphic `has_many` association
2. The model defines a default scope with `def self.default_scope` (and not `default_scope { }`)
3. The model defines a class method which calls `all.inspect`
4. There is at least one record with at least one associated record
5. A query including the association is per

[2015-03-19 15:15] sgrif commented on #19409
You are defining a recursive eager load. Your test passes if changed to `Post.includes(:comments).all_inspect`, which is the correct way to write that.

[2015-03-19 15:15] #19409 closed

[2015-03-19 15:19] mdesantis commented on #19409
The test passes also if I implement default_scope using `default_scope {}`, or if I remove `default_scope`.

[2015-03-19 15:38] eins78 opened #19414 "Loading fixtures with a 'fixture_path' globs `/` for yml"
1. `ActiveSupport::TestCase.fixture_path` is not guaranteed to be defined (When using a non-default test-suite, in our case rspec)
2. [`active_record/fixtures.rb#fixtures`](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/fixtures.rb#L880-L881) does expect it to always be set; it builds a path to glob like this `"#{fixture_path}/{**,*}/*.{yml}"`.
3. So, when loading `fixtu

[2015-03-19 16:10] edwinv commented on #19389
I'm experiencing the same issue: when a enum can be `null` in the database, ActiveRecord makes it impossible to reset to a `null` value when the value was present first.

Gist to reproduce: https://gist.github.com/edwinv/5a9aafcb4d37e253784b

This throws this exception:

[code]

ActiveRecord should not typecast and set the value to `null` in this case.

[2015-03-19 16:27] sgrif commented on #19409
Given that the issue can only be reproduced with an incorrect usage of Active Record, it does matter.

[2015-03-19 17:08] karsthammer commented on #19276
:+1:

[2015-03-19 17:44] mdesantis commented on #19409
Is this "incorrect usage" even documented? I'm not monekypatching anything, I'm just making a query call using Rails APIs.

It would be more acceptable for me if you say "Rails does not support eager loading on polymorphic associations", and even in this case I have something to say: when Rails tries to eager load a polymorphic resource, at least it raises a justifiable exception:

[code]

Instead

[2015-03-19 17:47] sgrif commented on #19409
It is nearly impossible to detect when you are referencing associations to eager load recursively, especially if one of them is polymorphic. The post is the commentable, but we can't know when constructing the joins that we're looping in that way.

You're working with a Turing complete programming language, we can't prevent everything bad that you might try to do.

[2015-03-19 17:52] sgrif commented on #19389
Backported in 67470f9

[2015-03-19 17:52] #19389 closed

[2015-03-19 20:08] natematykiewicz opened #19418 "ActiveJob should allow for custom Argument serializers"
For objects that don't fall into ActiveJob's current Argument serializers. It would be nice to have a way to define how an object should be serialized/deserialized.

[2015-03-19 20:13] jcoyne opened #19419 "Rails 4.2.1 breaks if there is a nil and a string in the default translations"
In rails 4.2.0 I could do this:

[code]
and if `:"try_this"` and `:"how_about.this"` are not found in the locale file, then `"Finally this"` would be returned.

In Rails 4.2.1 I get:
[code]

[2015-03-19 20:14] rafaelfranca commented on #19418
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

Also, this is already possible, you just need to override serialize_argument and deserialize_argument

[2015-03-19 20:14] #19418 closed

[2015-03-19 20:15] jcoyne commented on #19419
This behavior is documented here: http://guides.rubyonrails.org/i18n.html#defaults

[2015-03-19 20:22] rafaelfranca commented on #19419
Thanks. I believe it is related with https://github.com/rails/rails/pull/18308 or with the fix of one regression that this PR caused https://github.com/rails/rails/pull/19102.

[2015-03-19 20:22] kaspth commented on #19354
@jasnow does this mean you fixed your issue? If so you can go ahead and close this :heart:

[2015-03-19 20:31] jcoyne commented on #19419
Yeah, I think I broke it in https://github.com/rails/rails/commit/90fcfeade632cc32821f695a305ee8b4734d3a56 and I'll try to fix/test this case.

[2015-03-19 20:51] wallerjake opened #19420 "When using postgresql on Rails 4.2.1 with data type integer, limit: 8 and array: true the generated schema.rb file does not include the limit: 8"
While trying to upgrade to Rails 4.2.1 I discovered an issue with the generation of schema.rb. It appears that when using postgresql as the driver and using the data type integer, array true and a limit the limit does not make it into the schema.rb file. This causes the schema to load with the data type array of integers instead of an array of big integers. This was something that did work prior t

[2015-03-19 21:16] jasnow commented on #19354
No, the "main" branch shows the eariler working code and the "runtime-error" branch shows the updated/newer code that triggered the above error messages during a "rake" run.

[2015-03-20 00:32] radar commented on #19420
@wallerjake Is this still an issue on Rails 4.2.1?

[2015-03-20 00:41] jcoyne commented on #19419
After doing some bisecting, this error was introduced by 362557e.

[2015-03-20 02:35] radar commented on #19395
Do you have an application which can reproduce this problem?

[2015-03-20 02:52] pinglamb commented on #19276
When you change

[code]

to

[code]

It works!

Tested this against mysql2/postgresql on Rails 4.2.1.

[2015-03-20 03:46] pinglamb commented on #19276
Seems the problem is in the file [activerecord/lib/active_record/relation/finder_methods.rb](https://github.com/pinglamb/rails/blob/f1ccb2e6ecb5486179ee6b20438d562ac45de4f4/activerecord/lib/active_record/relation/finder_methods.rb).

For ```#load```, ```#find_with_associations```([L345](https://github.com/pinglamb/rails/blob/f1ccb2e6ecb5486179ee6b20438d562ac45de4f4/activerecord/lib/active_record/r

[2015-03-20 08:24] afdev82 commented on #19389
Thanks!

[2015-03-20 10:58] zeitnot commented on #19040
@kaspth I am really sorry for that and thank you for your courtesy.

[2015-03-20 12:04] carlosantoniodasilva commented on #19414
In theory if you're using [rspec-rails it should be setting `fixture_path` properly](https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/fixture_support.rb#L18-L21), but if you're not, then I agree it might be unexpected. I think it makes sense to raise in case `fixture_path` is not set when we ask for it.

[2015-03-20 12:23] kaspth commented on #19354
Then what does this mean? Was the branch unable to demonstrate the error?

[2015-03-20 12:28] eileencodes commented on #19276
@pinglamb if you have a fix open a PR, but make sure to add a regression test :smile:

[2015-03-20 12:51] Gytax commented on #19276
I am a colleague of @yuthura and I can confirm that the proposed fix fixes the bug where we originally encountered it.

@pinglamb Thank you!

[2015-03-20 13:47] mdesantis commented on #19409
Could you explain what is bad in

[code]

It seems to me normal code.

[2015-03-20 14:10] sgrif commented on #19409
The post is the commentable. It should not be eager loaded as it's where
we're starting from. So it loads the posts, then loads the comments, then
loads the commentables, sees that its the posts, and tries to eager load
the comments, etc

On Fri, Mar 20, 2015 at 7:48 AM Maurizio De Santis <notifications@github.com>
wrote:

[2015-03-20 16:19] viguza commented on #18629
Hi @sgrif I encountered with the same issue, but I was **intentionally** trying to store a simple string value.

It may seem weird why try to save a string into a json column, but in my use case I don't know what the values will be and I think it is a waste to store a full hash or array structure if the value can be a simple number or string.

Also, since Postgres itself allows this, why not Activ

[2015-03-20 16:20] nachokb opened #19427 "Joins, merge, and has_many :through result in invalid table alias reference rejected by PG"
ref https://gist.github.com/nachokb/a343b3f98f4d5d0bdca3

Important part: `Company.has_many :titles, through: :positions` and `Title.scope :x, -> (d) { joins(:positions).uniq.merge(Position.active_on(d)) }`

In this case, `Title.active_on(x)` generates a valid query, but `@company.titles` already adds a joins, and then `@company.titles.active_on(x)` adds a second one.

This second one uses an alia

[2015-03-20 18:28] iDiogenes opened #19430 "name attribute being blended into the index name for add_index migration"
I am using jruby-1.7.19 with rails 4.1.9 and I am getting the following error while running a migration:
[code]
As you can see the name option being passed into the migration is not the name being used to create the index. It looks like it is taking my name in adding into the middle of the default index name. Unfortunately, not adding the name at all still makes the index name too long.

[2015-03-20 18:52] rafaelfranca commented on #19430
Should not the add_index call be the following:

[code]

See the absent of the `column` key. As explained at http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/SchemaStatements.html#method-i-add_index

[2015-03-20 18:52] #19430 closed

[2015-03-20 19:07] jonatack commented on #19354
This issue appears to be related to 044f9ab7a.

[2015-03-20 19:09] jonatack commented on #19354
@jasnow try using `setup do` instead of `def setup` in StaticPagesControllerTest.

[2015-03-20 19:12] iDiogenes commented on #19430
That did it, thanks! Sorry, I was doing a copy change with remove_index and when looking at the add_index docs I didn't see the column key was not present.

[2015-03-20 20:45] #16414 closed

[2015-03-20 20:45] #16768 closed

[2015-03-20 20:45] #16654 closed

[2015-03-20 20:45] #14053 closed

[2015-03-20 20:45] #16140 closed

[2015-03-20 20:45] #17115 closed

[2015-03-20 20:45] #15904 closed

[2015-03-20 21:01] #19419 closed

[2015-03-20 22:14] nerdinand commented on #15900
I tried to reproduce this here: https://gist.github.com/nerdinand/d6d839841a18a481eed7
Looks fine to me on current master...
Or maybe I misunderstood something?

[2015-03-20 22:42] #15900 closed

[2015-03-20 23:24] jasnow commented on #19354
Did @jonatack change and now "rake" run is back to green. Also added comment to https://github.com/rails/rails/commit/044f9ab7a4d6646ddce4560bb83b58cdc0baa751. THANKS.

[2015-03-20 23:24] #19354 closed

[2015-03-20 23:30] leifg opened #19436 "Multi hierarchy query fails"
I recently stumbled upon this behaviour and I would say it's not behaving correctly:

Suppose you have the following hierarchy:

Company has_many Employees
Employee has_many Projects

Say you want to query all projects of a company.

One way to go would be:

    Project.includes(:employee).where(employees: { company: Company.last })

However this particular line throws the following error:

    Co

[2015-03-20 23:35] rafaelfranca commented on #19436
Thank you for the issue. Yes, this is how it is supposed to work right now. We may implement a more inteligente query builder but there is no much gain for doing it.

See also #14427 and linked issues.

[2015-03-20 23:35] #19436 closed

[2015-03-21 00:16] kapso opened #19437 "Counter cache seems to broken in 4.2.1"
When I create a new `Address` object I see the following error - `ActiveModel::MissingAttributeErrormissing attribute: address_count`

This was obviously working in 4.2.0

[code]

[2015-03-21 00:21] rafaelfranca commented on #19437
Does the `address_count` column exists?

[2015-03-21 00:22] kapso commented on #19437
Yes it does, same code was works in `4.2.0`

[2015-03-21 00:24] rafaelfranca commented on #19437
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-03-21 02:37] robdimarco opened #19439 "Error in ActiveJob when logger defines method tagged, but logger formatter does not have method current_tags"
I use the gem [syslogger](https://github.com/crohr/syslogger). In the latest release of the gem (1.6.1), they defined a method `tagged` on the logger.

This seemingly innocuous change caused an error

[code]

to be thrown when I tried to enqueue an `Active Job`.

Digging in to the problem, I found that in [activejob/lib/active_job/logging.rb#50](https://github.com/rails/rails/blob/master/activejob

[2015-03-21 02:48] kuldeepaggarwal commented on #17415
We can close this issue as per the discussion in #17506

[2015-03-21 03:13] jonatack commented on #19354
@jasnow Thanks for the bug report. The commit was reverted and `def setup` works again.

[2015-03-21 08:40] joevandyk commented on #18952
Is this expected behavior?

[2015-03-21 09:14] matthewd commented on #18952
I think this is "known" behaviour. i.e., given knowledge of how the implementation works, one could reasonably expect this. But I wouldn't consider it to be behaviour that a user can reasonably be.. expected to expect.

(I'm thus tying it in with our other rather questionable behaviours around when and how scopes are active.)

[2015-03-21 12:23] jasnow commented on #19354
I undid my change to my repos and they work - verified.

[2015-03-21 17:57] arthurnn commented on #15901
As I explained above, the first argument on `redirect_to` method, can receives `status`, flash options and more. So if you are passing them intending to set a parameter instead of the status code, you will need to use the `url_for` helper.

[2015-03-21 17:57] #15901 closed

[2015-03-22 03:51] tgxworld commented on #19405
@katafrakt This was introduced in https://github.com/rails/rails/commit/796cab45561fce268aa74e6587cdb9cae3bb243e and I think it is an intended side effect.

[2015-03-22 04:24] matthewd commented on #19405
At a glance, it seems we can fix this by just renaming (the private) `_run_callbacks` method, so it doesn't conflict with the `"_#{name}_callbacks"` pattern.

[2015-03-22 04:52] tgxworld commented on #19405
@matthewd I reverted because I didn't see any benefit made from the previous optimization. On top of that, we're defining a more methods and making more methods calls everytime we run a callback.

[2015-03-22 07:47] rohitpaulk commented on #19437
I can't seem to reproduce this.

https://gist.github.com/rohitpaulk/25726816c1e3692510ba

^ That works on both 4.2.0 and 4.2.1.

[2015-03-22 08:17] kapso commented on #19437
This is on Postgres & Ruby 2.2.1
- postgres_ext (2.4.1)
- pg (0.18.1)

[code]

[2015-03-22 08:40] rohitpaulk commented on #19437
Modified code from the gist above to use:

[code]

Tests still pass.

Here's my Gemfile:

[code]

@kapso - Can you try running the script and confirm whether the problem occurs?

[2015-03-22 08:48] superbull opened #19453 "Problem on guides - Getting started with Engines"
https://github.com/rails/rails/blob/master/guides/source/engines.md

on line 411:
[code]

When start the server, and pointing to `http://localhost:3000/blorgh/articles`. An exception is thrown:
![screen shot 2015-03-22 at 4 43 23 pm](https://cloud.githubusercontent.com/assets/455630/6768630/a28ecfb8-d0b2-11e4-8efd-7b2250aa74db.png)

Add one line to the lib/blorgh/engine.rb solved this issue:
[code

[2015-03-22 10:04] pixeltrix commented on #18828
This is being caused by rack/rack@c5621e9 - it's setting an output buffer size of 5 which is ridiculously small.

[2015-03-22 12:51] mtarnovan commented on #18828
My issue seems to be unrelated to this. It only happens on some requests, and sometimes when reloading the console. I remove spring and it didn't solve the problem.

[2015-03-22 13:07] kaspth commented on #19453
Please use StackOverflow or the rubyonrails talk mailing list for questions like this one :heart:

That being said the error message already tells you how to solve the problem.

[2015-03-22 13:42] itsportspe opened #19458 "Error 500, but everything seems to be correct."
I have a rails project that was auto created with a Digital Ocean droplet. It uses nginx and unicorn. I deleted the `index.html.erb` in `home/index`, and later on made a new one. Now everytime I try to view my rails project online I get an error 500 ***we're sorry, but something went wrong.*** I looked at ***/log/production.log*** and this is what I see.
`I, [2015-03-20T08:39:14.324642 #908]  INFO

[2015-03-22 13:44] pixeltrix commented on #18828
@mtarnovan so you still get problems if you do `rails s --option OutputBufferSize=65536` ?

[2015-03-22 13:59] matthewd commented on #19453
@kaspth this is a report of an issue in a guide.

[2015-03-22 14:04] teknull commented on #19458
I tried pulling your repo and reproducing the error and cannot.  What are your perms on the index.html.erb file?  And the perms on the app directory?

[2015-03-22 14:12] itsportspe commented on #19458
drwxr-xr-x 8 rails www-data 4096 Dec 20  2013 app
drwxr-xr-x 4 rails www-data 4096 Dec 20  2013 views

views dir
drwxr-xr-x 2 rails www-data 4096 Mar 19 13:21 home
drwxr-xr-x 2 rails www-data 4096 Dec 20  2013 layouts

home dir
-rw-r--r-- 1 rails www-data 700 Dec 20  2013 index.html.erb

[2015-03-22 14:16] matthewd commented on #19458
You need to restart unicorn, not nginx.

Please use StackOverflow or the mailing list for support questions, where you can get help from the wider community. We prefer to reserve the issue tracker for issues.

[2015-03-22 14:16] #19458 closed

[2015-03-22 14:24] mtarnovan commented on #18828
@pixeltrix I'm using [pow](http://pow.cx/) so I'll have to check how to pass that option to it (if at all possible).

Still, I don't think this will solve my problem, as the same symptoms also appear when using `reload!` in the rails console. Dtracing the process shows the app endlessly requiring it's dependencies.

[2015-03-22 15:01] pixeltrix commented on #18828
@mtarnovan looks like we're not passing options down to the Rack hander so it won't work any way :cry:

[2015-03-22 15:24] oskarpearson commented on #18828
I had a look at this earlier - I think this ticket might be covering multiple issues that are now being bundled into one bug report.

There may be a different problem here - but it's impossible to tell without more debugging info.

@yann @mtarnovan @noinkling @jesseminer - could I trouble you to spend some time verifying that you definitely have exactly the same problem as @jorge-marques ? Buildin

[2015-03-22 15:40] kaspth commented on #19453
Wups, sorry! :)

[2015-03-22 16:15] wallerjake commented on #19232
@LtdPayne - I believe this was fixed in https://github.com/rails/rails/pull/17631. It seems to be working good for me off of the latest version of master too.

[2015-03-22 19:47] matthooks opened #19462 "Rendering partial with layout does not generate cache digest for layout template"
The following code will generate a cache digest for `shared/inner` but not for `shared/outer`.

[code]

The workaround is fairly simple:

[code]

However, this seems like something that could be supported out of the box. If someone could point me to the right place to put a failing test case, I'd be more than happy to submit a PR.

[2015-03-22 19:52] rafaelfranca commented on #19462
Thank you for the report. This should be fixed on master.

[2015-03-22 19:52] #19462 closed

[2015-03-22 20:11] matthooks commented on #19462
Cool -- thanks for the quick response.

[2015-03-22 22:11] #19420 closed

[2015-03-22 22:38] sethvargo opened #19466 "Nested association's association is not persisted for new records"
This is a fun one :smile:

[code]

[code]

Consider the first request where neither a parent nor a version exist. If the creation of a version is designed to be an upsert (meaning the creation of a version also creates the parent), it makes sense to use the [AutosaveAssociation](http://api.rubyonrails.org/classes/ActiveRecord/AutosaveAssociation.html) here when creating the resource:

[code]

This

[2015-03-22 22:41] noinkling commented on #18828
@oskarpearson
Using @jorge-marques' repo:
[code]
Subsequent requests give similar times.

Using the equivalent Rails 4.1.10 app:
[code]
Obviously my Rails 4.2 results are even slower even compared to other people, so Vbox shared folders may be having some effect, but keep in mind I'm using somewhat outdated hardware as well. It's a big change from 4.1 regardless.

How can you tell if all the asset

[2015-03-23 00:39] clod81 opened #19467 "ActiveRecord 4.2.1 Serialize Hash"
When deleting a Hash key from a serialized active record field and calling save on the model, doesn't persist the change on the DB any more, it used to be fine in 4.2.0 and previous releases.

Example:

[code]

[2015-03-23 00:48] phoenixek12 opened #19468 "Mysql quoted_date precision on Mysql <= 5.6"
Hello,
we have encountered a bug, where on mysql without precision for usec on datetime columns it is rounding. It does not seems as bug, but for example this one:

[code]
gets after reload Attendance the next day, which is unexpected behaviour. Would it be possible to add formated usecs only if there is a support for it? Or any easy opt, which turns them off on demand?

[2015-03-23 00:56] jjb commented on #19372
If I'm not mistaken, any solution relying on locking a row will have to essentially always lock when writing anything to the DB. I think we don't want to do this with all writes, so the question is if the situation with `touch` is special enough to warrant special treatment. I think it potentially is. It is perhaps reasonable to expect programmers to reason about the concurrency ramifications of t

[2015-03-23 03:38] rafaelfranca commented on #19468
Which version are you using?

[2015-03-23 03:38] rafaelfranca commented on #19468
Could you create an reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2015-03-23 03:48] BrainBuzzer commented on #18572
thanks **@the-teacher** It helped a lot @brainbuzzerme

[2015-03-23 04:38] kapso commented on #19437
So I found the issue -- in the `User` model I have a `default_scope` defined which did not have counter cache column, after adding `address_count` it works now. Again this wasn't the behavior in 4.2.0, where `_read_attribute` was not error'ing out.

This does not work in 4.2.1 -
[code]

This works in 4.2.1 -
[code]

[2015-03-23 04:55] rafaelfranca commented on #19437
Agree that the behavior have changed but I think the current behavior is correct. Adding a select as default_scope is dangerous and for me it should always be respected. So if you asking explicitly to always query only these two attributes Rails should respect it. This way the behavior is always predictable.

Worth to investigate why it was working before and maybe revert it on the stable branch,

[2015-03-23 05:01] #19467 closed

[2015-03-23 08:18] oskarpearson commented on #18828
@noinkling is it possible that DNS on the vbox machine might not be working? DNS lookups often fail on multiples of 5, 10, or 20 seconds (or occasionally 75 seconds). If you ssh to the virtual box, can you ping www.google.com or similar without a long up-front delay? And does /etc/resolv.conf on virtualbox contain the right values? I had an occasional problem where if I switched from one physical

[2015-03-23 08:30] pixeltrix commented on #19468
@phoenixek12 is it possible that your system timezone and application timezone are out of sync? I've tried to verify it here with MySQL 5.5.30 and it truncates the usec value correctly, but I'm using `Time.current.end_of_day` whereas you're using `Time.now.end_of_day` which may be the source of your problem.

[2015-03-23 09:32] phoenixek12 commented on #19468
Sorry, after a while of digging, I have found that this problem( usecs in final query ) is gone in Rails 4.2.1, where it is truncated correctly, (even though in code I see them - AbstractAdapter), we had locked version 4.2.0, where the problem is.
Sorry :(

[2015-03-23 09:32] #19468 closed

[2015-03-23 09:47] simi commented on #19036
@sb8244 thanks for taking this. I was on vacation for few weeks.

[2015-03-23 10:35] araslanov-e opened #19472 "current_page? with trailing_slash"
`GET "/products/"`
[code]

[2015-03-23 11:43] manufaktor commented on #14173
I can reproduce the failing test on Rails 4.2.1 (Ruby 2.1.5) and Rails master (Ruby 2.2.1).

[2015-03-23 11:58] pixeltrix commented on #19468
@phoenixek12 no need to apologise - thanks for coming back to us and glad we've already fixed it :smile:

[2015-03-23 12:16] senny commented on #14173
@manufaktor thank you for confirming. I removed the `stale` label and added `pinned`.

[2015-03-23 13:17] mcfiredrill commented on #18868
I believe I'm running into this problem, although I'm using strings instead of booleans.
[code]

I don't see the error occur in rails master, but I do see it in the 4-2 stable git branch. I've created a sample app demonstrating the problem.

Against rails master:
https://github.com/mcfiredrill/rails_mysql2_bug/tree/master

Against 4-2-stable branch:
https://github.com/mcfiredrill/rails_mysql2_bug/

[2015-03-23 13:22] dhh commented on #18902
Not using an option paints you into a corner where you can't do something
else in the future. I could well imagine that say -g searches a pattern but
-m does some kind of model look-up.

On Wed, Mar 18, 2015 at 12:34 PM, danny sperry <notifications@github.com>
wrote:

[2015-03-23 13:52] nethad commented on #19232
@LtdPayne @wallerjake Yes, we tested it here with the latest master and it is working:

Running the migration:

[code]

results in the schema:

[code]

which is equivalent. You could probably move the "id: :bigint" part to the migration already, although I didn't try that.

/cc @nerdinand @senny

[2015-03-23 13:57] sb8244 commented on #19036
Thanks @simi . I have a few outstanding items on the PR. Help would be appreciated. The failing test right now has to do with implicit rendering of variants. It seems that the default render is to render the variant's name, which is not inline with the normal rendering behavior.

So no template exists,  I am triggering `head :no_content` and it is failing specs as the content should be "variant_na

[2015-03-23 13:58] jesseminer commented on #18828
Turns out my problem was related to the rails-dev-tweaks gem. It's supposed to skip reloading assets by default, so maybe something changed in Rails 4.2 that breaks whatever logic the gem uses to determine which files are assets. I added
[code]
to development.rb and load times are back to normal.

Also, I've read that rails-dev-tweaks isn't needed in Rails 4, but assets still seemed to load faster

[2015-03-23 14:11] senny commented on #19232
@nethad I just ran into a similar bug with a string primary key on `4-2-stable`. I'm keeping this issue open to remind me that we need to backport the fix from `master` to get `4.2.x` working as well.

[2015-03-23 14:11] senny commented on #19232
@nethad thanks for investigating :yellow_heart:

[2015-03-23 14:13] LtdPayne commented on #19232
Thanks a lot

[2015-03-23 15:00] eileencodes commented on #19472
We need more information before we can help you. Closing for now, I'll reopen when you send more information. Please let us know what issue you are having and what Rails version you're using.

[2015-03-23 16:37] diospi opened #19476 "Timeout on load page after upgrade on rails 4.2.1"
Hi everyone,
I have a rails 4.1.9 application and want to upgrade it to 4.2.0 (and now to 4.2.1) but I get on some machines a timeout error on my developer machine and on the server and staging server but on other machine all works fine and after some time it worked on staging server, but not on production server.
The error is not really reproducable because on my machine sometimes it works and so

[2015-03-23 16:49] z5h opened #19477 "Engines that interact with app data are not testable"
I have had trouble testing an engine. Specifically the engine augments/interacts with an apps active records, and the tests need to interact with my_engine/test/dummy to ensure things work as expected.

It's not working. I couldn't figure out why.

I have an 11 day-old question with bounty on Stackoverflow with 80 views and no responses. It tells me that one of: rails functionality, or rails docum

[2015-03-23 16:53] rafaelfranca commented on #19476
Can you please provide a sample application that reproduces the error?

[2015-03-23 16:55] rafaelfranca commented on #19476
If it is not reproducible, I'm sorry, there is no much that we can help you.

Maybe you could provide more information about where the error happen and what you are using on that actions.

[2015-03-23 16:55] #19476 closed

[2015-03-23 17:48] diospi commented on #19476
It's at the beginning, when I start the server, I get this normal output on WEBrick:

[code]

and when I access the first page,whatever page i choose, it shows these two lines:

[code]

and then is working until it gets a timeout.
I tried it with different version of ruby (2.0.0-p594, 2.0.0-p598, 2.2.0) and in all versions occurs the error.

When I stop the server while running without responding

[2015-03-23 17:51] rafaelfranca commented on #19476
Are you precompiling the assets in production? Or you are generating them on demand?

[2015-03-23 18:00] rafaelfranca commented on #19477
Which version are you using? What is the problem that you are getting?

If you think it is an issue please provide ways for reproducing it. If it is just a question you should avoid using the Rails issue tracker since we reserve it just for issues.

[2015-03-23 18:11] diospi commented on #19476
I'm precompiling the assets, I deploy with capistrano and have an nginx server with unicorn.
in my environments/production.rb:

[code]
as fallback.

[2015-03-23 18:11] pixeltrix commented on #19477
@z5h if your engine is that tied to the app's models then it shouldn't really be an engine. If you want to test you engine create models in the dummy application to use for testing.

[2015-03-23 18:11] #19477 closed

[2015-03-23 18:13] rafaelfranca commented on #19476
If you precompile and serve them with unicorn in production I don't see how this timeout can be related with assets.

[2015-03-23 18:14] z5h commented on #19477
@pixeltrix the engine is not tied to the apps models. It is not tied to the business of the app. It augments Activerecord. So it needs to test that augmentation.

[2015-03-23 18:16] rafaelfranca commented on #19477
@z5h right. I may open it, but before doing so I think it would be great if you provide more information.

[2015-03-23 18:18] z5h commented on #19477
@rafaelfranca working on it...

[2015-03-23 18:19] rafaelfranca commented on #19476
Could you try to remove all the calls to assets in the page you are getting this problem, so we can isolate just the controller processing.

[2015-03-23 18:19] rafaelfranca commented on #19477
:heart:

[2015-03-23 18:21] pixeltrix commented on #19477
@z5h you can create models in the dummy application to test your Active Record integration with - there should be a models folder inside the generated dummy_app folder/

[2015-03-23 18:26] z5h commented on #19477
Create engine:

`(~/) > rails -v`
Rails 4.2.1
`(~/) > rails plugin new my_engine --mountable`
...
`(~/)>cd my_engine`
`(~/my_engine) > rake`
`1 runs, 1 assertions, 0 failures, 0 errors, 0 skips`

Create dummy resource, and write a test that uses fixtures.

`(~/my_engine) > cd test/dummy`
`(~/my_engine/test/dummy) > rails generate resource Thing name:string`

note: test/fixtures/things.yml now has

[2015-03-23 18:29] rafaelfranca commented on #19477
` test/fixtures/things.yml ` is inside dummy directory or inside the engine directory?

[2015-03-23 18:32] z5h commented on #19477
`rails generate resource Thing name:string`

is run from dummy directory, and puts fixtures in the subdirectory test/fixtures. So they are in the dummy directory.

[2015-03-23 18:34] rafaelfranca commented on #19477
By default Rails loads fixtures from the engine directory https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/plugin/templates/test/test_helper.rb#L22. If you like to load from the dummy application directory you will need to change the fixtures_path.

[2015-03-23 18:43] z5h commented on #19477
So my complaint is that it is valid to have a dummy app with fixtures. Separate and at the same time, it is valid to test an engine with its own fixtures.

Basically dummy isn't a good enough dummy.
Can I add all the fixtures in dummy and run tests from there? There is no test_helper, which seems to indicate I shouldn't run tests from there.

I tried hacking my test helper and tests to get both se

[2015-03-23 18:46] senny commented on #18738
Closing this in favor of https://github.com/rsim/oracle-enhanced/issues/543

@suung thank you for reporting.

[2015-03-23 18:46] #18738 closed

[2015-03-23 19:25] glaszig commented on #18826
@richardrails have you figure this out?

[2015-03-23 19:26] rafaelfranca commented on #19477
The dummy app was made to be an application to run the engine tests. If you want to run tests from the application you need a real application that uses the engine.

[2015-03-23 19:27] rafaelfranca commented on #18826
The reason is. It is a default, if you are not happy with the default just change it.

[2015-03-23 19:40] kapso commented on #19437
The problem is that in lot of places we do explicit `.select` scope so like `User.select(:id, :name)` ...this is to avoid loading all columns when we really dont need them. So essentially this change means, its  not recommended to follow such a pattern?

[code]

in the above case address creation will not work unless we do this - `User.select(:id, :address_count)` which is again different from pre

[2015-03-23 20:03] z5h commented on #19477
So if `rails generate` from within dummy put fixtures up in the engine-level fixtures directory, the problem would be solved?

Then is there a reason for that not to happen?

[2015-03-23 20:04] rafaelfranca commented on #19437
I don't see why to not recommend to follow such pattern, you can still do it, but remember to load all the columns you will need, and in your case, you are needed the counter cache column.

again, I agree it is different from pre 4.2.1 version, never sais that is not, just that this new behavior does make more sense to me, but it is worth to investigate why this was working, why it was changed bef

[2015-03-23 20:05] rafaelfranca commented on #19477
I don't see any reason for that no happen.

[2015-03-23 20:12] glaszig commented on #18826
in case anyone else will land here (this issue is among the first google links):

the cause of confusion here is that the unit for `limit` on integer columns is bytes. a limit of `nil`, `4`, `11` will all [yield `int(11)` in mysql](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb#L651) terms.

[2015-03-23 20:18] kapso commented on #19437
Agree, I think an explanation from the community on why this behavior was changed would be nice :)

[2015-03-23 20:22] rafaelfranca commented on #19437
@kapso don't worry, I think we are going to revert on 4.2.2, but maybe we will keep it for 5.0.

[2015-03-23 20:49] diospi commented on #19476
I removed the calls on the assets in my application.html.erb but it doesn't change, the problem is still occurring

[2015-03-23 20:58] rafaelfranca commented on #19476
Ok, so it may be one of your dependencies.

[2015-03-23 21:06] diospi commented on #19476
O.K., thanks for your help!

[2015-03-23 21:28] sgrif commented on #19437
I still need a full stack trace from the actual error to fix it for 4.2.2

[2015-03-23 21:30] sgrif commented on #19437
Never mind, I found where we're reading it. The behavior was changed to fix https://github.com/rails/rails/issues/18689

[2015-03-23 21:31] rafaelfranca commented on #19476
Try to remove the usage of all dependencies you for that controller and action. That way you may find the reason

[2015-03-23 21:38] sgrif commented on #19437
Fixed for 4.2.2 by https://github.com/rails/rails/commit/0e2e9e2a97acc04c05266fd43e34714774ed8017. I agree with @rafaelfranca that we should leave the behavior as is on master. If we change our minds, however, that change should cherry pick cleanly.

[2015-03-23 21:38] #19437 closed

[2015-03-23 22:11] noinkling commented on #18828
@oskarpearson All that stuff is fine (and doesn't seem relevant to the difference between Rails 4.1 and 4.2). 304s are happening fine in both 4.1 and 4.2, it's just non-cached loads in 4.2 that are the issue, and only with WEBrick (as far as I can tell).

I'm not using `rails-dev-tweaks` (as you can see in my above post since I used @jorge-marques' repo).

[2015-03-23 23:09] mprobber commented on #19466
@tsun1215 and I are looking into it!

In the mean time could you replicate the issue in a bug report [template?](https://github.com/rails/rails/tree/master/guides/bug_report_templates)

[2015-03-24 00:53] sethvargo commented on #19466
Sure!

[code]

I narrowed it down to something related to the models being nested inside a module. However, even if I set `class_name` or `inverse_of`, I can't get it to keep a reference to the parent :frowning:.

[2015-03-24 01:38] Joshua-Anderson commented on #18357
I resolved this issue by switching to a `has_many through` relationship instead of a `has_and_belongs_to_many`, which is probably better practice in the long term anyway. Thanks for the help! Keep up the great work.

[2015-03-24 01:38] #18357 closed

[2015-03-24 01:40] kapso commented on #19437
Thanks! What is the timeline for 4.2.2?

[2015-03-24 01:40] MatanyaP opened #19484 "Rails server command won't work. tried everything"
Using the lynda guide. I'm on windows. no matter what i've tried it didn't work (mongrel, therubyracer etc..)
PLEASE HELP :)

C:\Users\Win7\sites\simple_cms>rails s
C:/Ruby22/lib/ruby/gems/2.2.0/gems/mysql2-0.3.18-x86-mingw32/lib/mysql2/mysql2.r
b:2:in `require': cannot load such file -- mysql2/2.2/mysql2 (LoadError)
        from C:/Ruby22/lib/ruby/gems/2.2.0/gems/mysql2-0.3.18-x86-mingw32/lib/my

[2015-03-24 02:15] rafaelfranca commented on #19437
@kapso we usually release one new version each month, but no promises

[2015-03-24 02:19] z5h commented on #19477
So should this be re-opened or should I create another issue?

[2015-03-24 02:23] rafaelfranca commented on #19477
We don't take feature requests on the issue tracker, because there is no guarantee that they will be implemented and the issue will be just sit here forever. You can now:

1) open a PR if you are comfortable

2) Send an email to Rails Core mailing list, so someone with interest will implement it

[2015-03-24 02:37] rafaelfranca commented on #19484
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-03-24 02:37] #19484 closed

[2015-03-24 02:40] z5h commented on #19477
Got it. Thanks.

[2015-03-24 03:33] jpwynn opened #19486 "serialized hash field of model will not save string output of number_with_delimiter() [rails 3.2.21, possibly later]"
Although I use an older version of Rails (3.2.21) I report this bug just in case the bug persists in current versions of Rails, because it seems quite subtle.

An active record field that is a serialized Hash will refuse to save the string version of the output of number_with_delimiter, unless wrapped in String.new. number_as_currency() works fine, making me thing there is something goofy going on

[2015-03-24 06:43] kuldeepaggarwal commented on #19486
It is working on master branch.

[code]

![19486](https://cloud.githubusercontent.com/assets/1930730/6796790/099716f8-d21f-11e4-8760-65e2c3138bb4.PNG)

[2015-03-24 07:31] mikemerritt opened #19490 "Using accepts_nested_attributes for and :reject_if => :all_blank on deep nesting"
Given the following models.

[code]

And a form like this.

[code]

When the form is submitted with completely blank owner fields and phone number fields the ````:all_blank```` proc will return false because it checks only the top level owner parameters and it sees the ````phone_number_attributes```` parameter which has the type ````hash:ActionController::Parameters```` which is evaluated as not b

[2015-03-24 07:43] bquorning commented on #17738
It looks like the mentioned fix on master was in c80487eb1ae7f35cc780745b4f951a79e1a3482b and ae8cd56c7b1f3130eb3b8f2632a528a8fc78e56c. I cannot see that this has been backported to other branches.

[2015-03-24 08:18] araslanov-e commented on #19472
Rails 4.2.0
Method `current_page?` not work with `Rails.application.routes.url_helpers` with option `trailing_slash: true`

[2015-03-24 10:15] #19486 closed

[2015-03-24 11:18] #19276 closed

[2015-03-24 11:34] carlosantoniodasilva commented on #19490
Just wondering, shouldn't you have `all_blank` on phone number as well in this scenario? I'm really not sure that the default functionality it provides should be recursive/handle deep nesting.

[2015-03-24 11:42] mikemerritt commented on #19490
I simplified my example. Having all_blank on the phone number does not matter since when the proc on owner is run to check for blanks it will always return false due to blank? thinking the phone_number_attributes parameter is not blank.

—
Sent from Mailbox

On Tue, Mar 24, 2015 at 6:35 AM, Carlos Antonio da Silva
<notifications@github.com> wrote:

[2015-03-24 12:36] onebree commented on #19286
This is a gist of our Gemfile.
https://gist.github.com/onebree/eefe5c895076dc81f17e#file-gemfile

[2015-03-24 12:37] onebree commented on #19286
@renanoronfle do you know which gem could possibly cause the bug? Gemfile can be found in the gist I posted above.

[2015-03-24 14:40] mcfiredrill commented on #18868
Seems like it was fixed here,
3c10043bc272e13d2e01219b43beece060e5aa19

which is not in 4-2-stable for some reason.

[2015-03-24 16:15] imanel commented on #19466
You need to set `inverse_of` on `Post`. This example is passing:

[code]

However I'm using 4.2.0 so it might be bug in 4.1.8 - if so then please let me know and I will try to help finding it.

[2015-03-24 16:30] imanel commented on #19395
Could not confirm. Test used:

[2015-03-24 16:38] rafaelfranca commented on #19395
Closing until we have reproduction. Thank you for reporting it.

[2015-03-24 16:38] #19395 closed

[2015-03-24 16:49] sethvargo commented on #19466
Hrm. Weird - I can't test it right now, but I definitely tried `inverse_of` and got the same result. I can try your example later.

Even if it's working with `inverse_of`, shouldn't Rails be able to resolve the association name even though it's under a namespace?

[2015-03-24 16:52] imanel commented on #19305
Interesting. Following template:
[code]
This is passing on 4.2.1 and 4.1.10, but failing (with error mentioned in first post) on 4.2.0 and 4.1.9. This is however interesting, since there was no recent changes related to [finder_methods](https://github.com/rails/rails/commits/4-1-stable/activerecord/lib/active_record/relation/finder_methods.rb) that could influence this.

[2015-03-24 17:06] imanel commented on #19466
Did little more testing and it looks like it's fixed in newest versions. Current table looks like this:

| Rails version | `inverse_of` required? |
|-------------------|-------------------------------|
| 4.2.1              | no                                |
| 4.2.0              | yes                              |
| 4.1.10            | no                                |
| 4.1.9              |

[2015-03-24 17:08] imanel commented on #19395
@pragmaticivan if you will be able to reproduce using template from above then please reopen.

[2015-03-24 17:15] rafaelfranca commented on #19466
Right. Closing them.

[2015-03-24 17:15] #19466 closed

[2015-03-24 17:16] rafaelfranca commented on #19395
@imanel right. @pragmaticivan if you can provide a reproduction steps please ask us for reopening.

[2015-03-24 17:22] renanoronfle commented on #19286
@onebree no, but i will try help you :)

[2015-03-24 17:47] sethvargo commented on #19466
Cool, thanks folks!

[2015-03-24 18:15] imanel commented on #18784
Ok - this one is strange. Test:

[2015-03-24 18:18] imanel commented on #18784
Ok - this one is strange. Test:
[code]

Result:
[code]

What is bothering me are how migrations are done:
[code]
It looks like despite providing valid argument to [change_column_null](https://github.com/rails/rails/blob/4-2-stable/activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb#L461) it's not modifying table... Any idea what could be wrong here? I'm also little c

[2015-03-24 20:52] nerdinand commented on #14963
This seems to work on current master:

[code]

[code]

[2015-03-24 21:34] nerdinand commented on #9015
I tried to reproduce this on `master`. It does not seem to be a problem anymore. See this test case:
https://gist.github.com/nerdinand/d67739425cd56c5427b4

[2015-03-24 21:52] nerdinand commented on #9548
I tried to reproduce this on `master`. It still seems to be a problem:
https://gist.github.com/nerdinand/7665496e2b6d26619781

[2015-03-24 23:27] nixme commented on #12492
I believe this is fixed in 4.2 with https://github.com/rails/rails/commit/91e3dab804fffe0b1daebb438091418faa1fa256 but cannot understand the original gist as a test case. Is the test supposed to use tutor_groups2 to make the error occur?

[2015-03-24 23:43] mikecmpbll commented on #12492
@nixme yup that pull request looks nigh-on identical to the one I made a year or so ago, so one would assume it fixes this bug, too.

I think my console excerpt in OP explains it better than I could now; I think this can be closed.

[2015-03-24 23:50] #12492 closed

[2015-03-25 01:40] jonatack commented on #19305
@imanel's template passes on Rails master too.

[2015-03-25 06:05] njakobsen commented on #12537
Here's the latest in case anyone is interested.
[code]

[2015-03-25 14:32] LeninaCrowne opened #19509 "Looking for Interviewees"
Hello!
I’m currently working on my bachelor’s thesis in “leader emergence in open source software projects“. For my research I’m looking for interviewees, preferably 2 people per OSS project: one person with some sort of leadership role and one “normal” project member.
The interviews will take place via Skype over the next couple of weeks and last around half an hour.
Feel free to forward this req