[2016-03-02 13:43] maclover7 commented on #23994
cc @kaspth

[2016-03-02 14:36] rthbound commented on #23997
@simsalabim  Does this behave the same in dev/production mode as it does in your test environment?

It reminds me of this: https://github.com/rack/rack/issues/951 and #23624.

[2016-03-02 15:11] rafaelfranca commented on #24004
r? @matthewd

[2016-03-02 15:11] #22675 closed

[2016-03-02 15:59] yahonda opened #24008 "`require': cannot load such file -- active_support/testing/method_call_assertions (LoadError)"
### Steps to reproduce
$ cd activerecord
$ bundle ; rake test

### Expected behavior
ActiveRecord unit tests for sqlit3, mysql2 and postgresql adapters should run.

### Actual behavior
[code]

### System configuration
**Rails version**:
master branch
**Ruby version**:
ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

Based on git bisect #23932 triggers this error.

[2016-03-02 16:15] baburdick commented on #23339
Closing.

[2016-03-02 16:15] #23339 closed

[2016-03-02 16:15] rafaelfranca commented on #24008
Does `bundle exec rake test` work?

[2016-03-02 16:30] simsalabim commented on #23997
@rthbound `RAILS_ENV=production/test/development ruby bug_report.rb` return unexpected results consistently. I debugged Rack a little last night but had no clue where to start from. Thanks for the link!

[2016-03-02 16:33] yahonda commented on #24008
Yes. Thanks for the advice.

Also I have checked https://github.com/rails/rails/blob/master/activerecord/RUNNING_UNIT_TESTS.rdoc and found some of steps also get this error, Workarounds are same.

[code]

It works by adding `bundle exec`.

[code]

[code]

It works by adding `bundle exec`.

[code]

I'm going to open a pull request to modify this document to use `bundle exec`.

[2016-03-02 16:39] #24008 closed

[2016-03-02 16:40] rafaelfranca commented on #24008
Thank you for confirming.

[2016-03-02 16:43] Elux91 opened #24010 "formated (postgre)sql query is 14 times slower than an "minified" query"
I'm using Rails 5.0.0.beta2 in --api mode. ruby -v 2.3.0p0
I created a custom sql query and executed it using find_by_sql.
I encoutered that an sql query that is formatted nicely is 14 times slower than the same query that is stripped of all it's unnecessary spaces.

You can find my example [here](https://github.com/Elux91/shift-planner/blob/6cfe1bbf4880f4be4741d9cc3e3db49a53450ce8/app/models/pers

[2016-03-02 16:51] rafaelfranca commented on #24010
Could you check it with the master branch?

[2016-03-02 17:07] Elux91 commented on #24010
updated my gemfile to:

    gem 'rails', git: 'https://github.com/rails/rails.git', branch: "master"

ran bundle rails -v is now Rails 5.0.0.beta3
and confirmed that the problem is still present

[2016-03-02 19:40] ojab commented on #24004
I've came up with [kind-of reduced testcase](https://github.com/ojab/24004) (note that it's using poltergeist, so phantomjs should be installed), `bundle exec rspec` produces
[code]
output.

It seems that database_cleaner/capybara are also involved.
AFAIU it happens if:
1. `database_strategy = :truncation` is set for `js: true` tests
2. `js: false` testcase with reproducible issue is called after

[2016-03-02 20:05] jeremy commented on #24004
@ojab Could you try with cf075d9f55047281a5912e1b28cc4cb4bfcfdbf0 ?

[2016-03-02 20:12] ojab commented on #24004
Still the same, issue exists.

[2016-03-02 20:35] aidanharan commented on #22422
I've added the reproduction script for the issue above in https://gist.github.com/aidanharan/a4003a10d7cdada717b5

The issue is present in at least versions 5.0.0.beta3, 4.2.5.2 and 4.1.14.2.

[2016-03-02 20:44] al2o3cr commented on #22422
It may not be the *intended* use, but I've personally used things like `includes(:foos).references(:foos)` to deliberately create `LEFT OUTER JOIN` clauses in a query. If this is going to be changed, it will need to be messaged clearly to avoid subtly breaking existing apps that depend on the current behavior.

[2016-03-02 21:19] vsorlov commented on #23982
https://github.com/rails/rails/blob/master/actionview/lib/action_view/helpers/date_helper.rb#L127
need to treat 28-29 days as "about 1 month" or look back on amount of days in the last month and treat (amount of days in the last month) - 60 days as "about 1 month". I think it is better to go with first approach. I don't see a reason why 28 days can't be treated as "about 1 month" and 58 days can.

[2016-03-02 21:21] tgoff commented on #23244
FYI, I am seeing this issue on rails 3 as of 3.2.22.2.  Added a comment in the issue over at rspec-rails: https://github.com/rspec/rspec-rails/issues/1532#issuecomment-191436054

[2016-03-02 21:51] tmorton opened #24012 "In production, custom autoload_paths are not respected"
When both `config.cache_classes` and `config.eager_load` are set to `true` (as in the default production environment), custom paths added to `config.autoload_paths` are not respected.

This can be fixed by any of these workarounds:
- Add the path to `config.eager_load_paths`
- Set `config.cache_classes` to false
- Set `config.eager_load` to false

### Steps to reproduce

-  In `application.rb` add

[2016-03-02 22:06] rafaelfranca commented on #24012
That is expected. You should be using `eager_load_paths`. See https://github.com/rails/rails/commit/212ef5278b673aee304519d886d5db86a87b1437

[2016-03-02 22:06] #24012 closed

[2016-03-02 22:10] jcoyne opened #24013 "Routing constraint with hash and instance of class that responds to #matches?"
### Steps to reproduce

In order to match a character like `/` or `:` in a route I can add a constraint block like so:
`get 'lib/:id' => 'catalog#show', constraints: { id: /ark:\/\d{5}\/f\w{7,9}/ }`

This will match
`'/lib/ark:/99999/fk41234567' => { controller: 'catalog', action: 'show', id: 'ark:/99999/fk41234567' }`

Now, I'd like to add an additional constraint of an object that responds to `m

[2016-03-02 23:23] eiked opened #24014 "enhancement: cache(name = {}, options = nil, &block): new options: if, unless"
I'd like to suggest new options for the CacheHelper#cache method.

:if and :unless

These should work like cache_if (and cache_unless respective) but providing the condition as an option.

aka instead of writing:
    cache_if(foo, key, &block)
I'd like to write:
    cache(key, if:foo, &block)

This might look like syntactic sugar at first and pretty much it is.

My current use case is for temporar

[2016-03-02 23:29] rafaelfranca commented on #24014
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

I'm fine with this addition though (and I think we may already have a PR for that) so feel free to work on it.

[2016-03-02 23:29] #24014 closed

[2016-03-02 23:40] meinac commented on #24010
I can confirm that this is fixed with #23948. Thanks to @ctm.

[2016-03-02 23:41] rafaelfranca commented on #24010
:+1: thank you for confirming.

[2016-03-02 23:41] #24010 closed

[2016-03-02 23:55] eiked commented on #24014
Thank you for your fast response.
I fully understand that the bug database should not be polluted with feature requests.
(I got me a red nose last time I suggested an enhancement (while that was already done))

What we're actually missing is a new category to file such enhancement requests,
so that they can be archived and looked up again.

I fully understand, that I'd better implement that myself

[2016-03-02 23:58] eiked commented on #24014
summer of code: what's up?

[2016-03-03 00:04] simi commented on #24014
There's rails [mail list](https://groups.google.com/forum/#!forum/rubyonrails-talk) for proposing features.

[2016-03-03 01:43] simsalabim commented on #23997
It looks exactly like rack/rack#951. I can confirm that with the following the test will pass:
[code]
The bug turns dramatic if a hash is the only element of array:
[code]

[2016-03-03 03:28] Mr-DwZ opened #24017 "Unable to follow the Delete Comment chapter of Getting Started"
Hey guys.

I'm a novice in Rails, and trying to follow [Getting Started with Rails](http://edgeguides.rubyonrails.org/getting_started.html). The learning experience is quite smooth until I finished mimic the code shows in chapter 8 Deleting Comments. Although I cannot definitely sure  that I didn't missed any crucial content, so far I can't find any difference between my code and tutorial's versio

[2016-03-03 03:48] connorshea opened #24018 "Turbolinks 5 Upgrade Guide for Rails 5 Release Notes"
Turbolinks 5 upgrade notes should be mentioned in [the Rails 5.0.0 Release Notes Guide](https://github.com/rails/rails/blob/master/guides/source/5_0_release_notes.md). Currently there are no directions in the Release Notes for changes between Turbolinks classic and Turbolinks 5. In my opinion, this is a pretty big oversight.

The Rails Guide Release Notes already have Turbolinks 5.0 as a major "po

[2016-03-03 03:53] connorshea commented on #24017
Right below the HTML is some controller code:

[code]

Do you have this in there? It's necessary for Rails to understand what delete is supposed to do for a comment.

Hopefully that helps, good luck learning Rails! :D

[2016-03-03 03:56] mattclar commented on #23845
this looks like its a devise bug, I've managed to work around it so closing this issue
plataformatec/devise#3948

[2016-03-03 03:56] #23845 closed

[2016-03-03 03:57] connorshea commented on #24017
@Mr-DwZ Also, I looked at Cameo. I'm assuming that's the app you're building? If so, you're using Rails 4.2.5.2, which is the latest stable version. However, the guides you linked are the "edge guides", meaning you're viewing the guides for the Rails 5.0.0 Beta. This shouldn't cause any major issues, but I'd probably recommend using [the normal guides site](http://guides.rubyonrails.org/getting_st

[2016-03-03 04:06] Mr-DwZ commented on #24017
@connorshea Ruby community is fabulous!

Yes, I've already added those code in comments_controller.rb, and I pushed the exactly version I test to my github corresponding repo just now.

[2016-03-03 04:16] maclover7 commented on #24018
Big :+1: to this -- cc @dhh @sstephenson

[2016-03-03 04:21] connorshea commented on #24017
I just pulled down your repo and tried it out, this is the error I'm getting:

![screen shot 2016-03-02 at 9 18 33 pm](https://cloud.githubusercontent.com/assets/2977353/13484568/6556bf14-e0bc-11e5-9ee4-a129c0268187.png)

Is this the same as you're seeing?

[2016-03-03 04:24] connorshea commented on #24017
Oh, I figured it out!

If you use this it'll work:

[code]

[2016-03-03 04:27] Mr-DwZ commented on #24017
@connorshea
Thanks a lot!
Could I know the reason for this change?

[2016-03-03 04:27] connorshea commented on #24017
I'm not sure why the guide says to use `[ comment.article, comment ]`, I can't seem to get that or any variation of it to work. And that section of the guide seems the same between Rails 4.2.5 and 5.0.0. Maybe something else changed in the guide that caused this?

Anyway, @Mr-DwZ hopefully that should work!

[2016-03-03 04:31] connorshea commented on #24017
@Mr-DwZ per my screenshot, it says "Did you mean? `article_comments_path`". In Rails' `link_to` helper you pass it like this: `<%= link_to "Link text here", whatever_path %>`.

So I did:

[code]

That told me I didn't pass in a specific comment to delete, so I added that as an argument for the path, e.g. `article_comments_path(comment)`.

Unfortunately that's probably not that great of an explanat

[2016-03-03 04:40] connorshea opened #24019 "Getting Started with Rails Guide has an issue?"
### Steps to reproduce
We discovered this issue in #24017.
- Create a new Rails app (I've only tested 4.2.5.2, not sure about Rails 5)
- Follow [the Getting Started with Rails guide](http://guides.rubyonrails.org/getting_started.html)
- Once you get to the [Deleting Comments](http://guides.rubyonrails.org/getting_started.html#deleting-comments) section you're told to add the following code to the

[2016-03-03 04:41] connorshea commented on #24019
[Here's the specific commit in a new Rails app where the issue occured](https://github.com/Mr-DwZ/Cameo/commit/a70eeb380d4ebaa74792c8a12fe1e4c8db953f6a).

[2016-03-03 04:46] Mr-DwZ commented on #24017
@connorshea
It's pleasant to see that previous problems solved. But I got another error message, suggest that the controller's part also need some modification.

![](http://7xo6vj.com1.z0.glb.clouddn.com/16-3-3/11214007.jpg)

[2016-03-03 04:50] connorshea commented on #24017
@Mr-DwZ that's the issue I was talking about with the `article_comments_path` not having an argument, so it doesn't know what comment to delete.

Are you using `article_comments_path` instead of `article_comments_path(comment)`, or something like that?

[2016-03-03 04:52] matthewd commented on #24019
https://github.com/Mr-DwZ/Cameo/commit/a70eeb380d4ebaa74792c8a12fe1e4c8db953f6a#diff-21497849d8f00507c9c8dcaf6288b136R9
!=
http://guides.rubyonrails.org/getting_started.html#adding-a-route-for-comments

[2016-03-03 04:52] #24019 closed

[2016-03-03 04:54] connorshea commented on #24019
D'oh

[2016-03-03 04:56] connorshea commented on #24017
@Mr-DwZ so apparently I was wrong, see [here](https://github.com/rails/rails/issues/24019#issuecomment-191582544). `resource :comments` should be `resources :comments`.

[2016-03-03 06:45] dhh commented on #24018
Happy to see a guide for this but TL5 isn't a required upgrade for any existing app. New apps will get it by default but existing apps should probably just stick with TL2 for starters.

Anyway, would be nice to see someone take this on. I don't think either Sam or me will have the time. So let's open it up to the community to tackle.

[2016-03-03 07:33] nbulaj commented on #20120
Problem still exists for the Rails 4-2-stable.

[2016-03-03 07:36] senny commented on #20120
@nbulaj could you write an executable test-case using the script I linked above? That goes a long way to help debug and fix the issue.

[2016-03-03 07:39] Mr-DwZ commented on #24017
@connorshea
:-P So embarrassing.

Thanks a lot anyway :-D

[2016-03-03 07:59] prathamesh-sonpatki commented on #24017
@connorshea @Mr-DwZ Thanks! Can this issue be closed now :smile: ?

[2016-03-03 09:37] pixeltrix commented on #21459
@merhard you're right - I remember that I had to cherry pick it to the 4-2-5 branch manually and that's why the 4-2-stable commit isn't listed as being in 4.2.5. Sorry for misleading you @chrisbloom7 - can you try to reproduce again?

[2016-03-03 11:09] #24017 closed

[2016-03-03 12:20] vliegenthart commented on #24013
I am willing to work on this if this behaviour would be approved by Rails members :)

[2016-03-03 13:38] rubys commented on #23910
Should this not be fixed in Puma in time for Rails 5, the following line should be removed or commented out prior to the release:

https://github.com/rails/rails/blob/master/railties/lib/rails/generators/rails/app/templates/config/puma.rb#L47

(To be clear, I think it would be a very nice thing to have this working, and would prefer that this bug remain open while there are other blockers)

[2016-03-03 14:34] javan opened #24026 "Concerns with deferred Action Cable connection opening"
https://github.com/rails/rails/commit/1afd414488fe73c927242e072af0ff9ab21d2599 introduced a change that defers opening a WebSocket connection until data is sent, which could be problematic. I outlined some concerns in https://github.com/rails/rails/commit/1afd414488fe73c927242e072af0ff9ab21d2599#commitcomment-16450672. It's not clear why this change was needed to implement https://github.com/rails

[2016-03-03 14:43] rafaelfranca commented on #24018
Agree with @dhh. Let's move the discussion to https://github.com/turbolinks/turbolinks-rails/issues/4

[2016-03-03 14:43] #24018 closed

[2016-03-03 14:45] javan commented on #24026
To illustrate the problem, create an app with two channels. I added console logging to each channel's .js file:

<img width="434" alt="screen shot 2016-03-03 at 9 42 57 am" src="https://cloud.githubusercontent.com/assets/5355/13497652/9232178c-e124-11e5-81ca-80f5e76f1a9f.png">

[2016-03-03 14:48] matthewd opened #24028 "Loading Interlock conflicts with explicit thread use"
Existing code that spawns a new thread and then waits on its result, where that thread triggers an autoload, can cause a deadlock in the Interlock.

We have no programmatic evidence that such a pattern is safe. The fact it's survived in the real world, however, suggests the cases we care about are in fact safe-in-practice. Generally, they're safe because the original thread is waiting for the enti

[2016-03-03 14:49] dhh commented on #24026
I haven't dug into the implementation, but the point was that createConsumer should be lazy loaded. Such that all new apps could start with a call to that, but that a consumer wouldn't actually establish the WS connection until the first subscription call was made.

[2016-03-03 15:01] matthewd commented on #24026
It was necessary in order to enable Action Cable routes by default *without suddenly forcing apps to auto-connect for no reason*.

When @dhh and I discussed it, we concluded there was no need to be able to receive data if you haven't subscribed to anything -- because, what would you get?

Ah, I think I missed the fact that CONNECTING counts as isAlive().

Right.. at which point the application sho

[2016-03-03 15:03] matthewd commented on #24026
Incidentally, I believe there's an issue with the current behaviour anyway: it still seems to connect without any subscription defined / data sent. I'm guessing the auto-reconnect behaviour in the connection manager is still kicking in.

[2016-03-03 15:20] senny commented on #23934
I'll have a look.

[2016-03-03 15:30] samphilipd opened #24030 "Frozen hashes cannot be passed as route options"
### Steps to reproduce

Add to routes something like this:

[code]

### Expected behavior
It should pass the options as expected.

### Actual behavior
Raises 'cannot modify frozen hash'. We should not be destructively modifying options, what if the same object is supplied to multiple scopes?

Stacktrace:

[code]

### System configuration
4.1.7 (but also applies to current master)

**Ruby version**

[2016-03-03 15:54] #23934 closed

[2016-03-03 15:55] senny commented on #23934
Pushed a forward port of ac832a43b4d026dbad28fed196d2de69ec9928ac

@daniel-rikowski thanks for reporting :yellow_heart:

[2016-03-03 16:06] connorshea commented on #24018
@dhh @rafaelfranca my only concern with this would be that I'm getting depreciation warnings for the use of `before_filter` in Turbolinks 2 on Rails 5. If people don't upgrade, there's a chance 5.1 or a future update could break Turbolinks compatibility.

Plus, I don't like having deprecation warnings everywhere in my logs :)

[2016-03-03 16:32] javan commented on #24026
In that case, I think the subscription manager should ensure a connection when adding a subscription instead of overloading Connection#send with that responsibility. Something like:

[code]

[2016-03-03 16:50] dhh commented on #24026
Yup, sounds better to me!

On Thu, Mar 3, 2016 at 5:33 PM, Javan Makhmali <notifications@github.com>
wrote:

[2016-03-03 16:50] dhh commented on #24018
We can release a new TL2 that doesn't give those warnings.

On Thu, Mar 3, 2016 at 5:07 PM, Connor Shea <notifications@github.com>
wrote:

[2016-03-03 17:00] mengxi-liao commented on #23841
@pixeltrix For pg gem are you talking about the gem supporting PostgreSQL? We are using Mysql as db so the gem should be mysql2 and the version is  0.3.18.

Having that said, I don't think the problem is from the gem. Since I try to run the query by ctiveRecord::Base.connection.execute and it returns the result without rounding for both with and without the brackets.

[2016-03-03 17:02] daniel-rikowski commented on #23934
My pleasure. Thanks for fixing this :+1:

[2016-03-03 17:32] pixeltrix commented on #23841
@mengxi-liao sorry, just assume pg these days :smile:

Active Record will try to determine the column type returned from the adapter so I think the mysql2 gem is reporting the column as scale 2 - now that I know you're on MySQL I may have more luck in reproducing the problem.

[2016-03-03 18:05] nbekirov opened #24032 "Duplicate insert on autosave for specific HABTM-has_one combo"
### Steps to reproduce

[code]

Here is my [Active Record Executable Test Case](https://gist.github.com/nbekirov/01c34d2b99ed5bcf9154)

This issue is related to [Rolify: Duplicate Roles #228](https://github.com/RolifyCommunity/rolify/issues/228)

Some observations:
- If I change the order of `has_and_belongs_to_many` and `belongs_to` in `User` there is no issue
- If I add `autosave: false` to `has

[2016-03-03 20:00] schneems commented on #23681
Ping. Any more info here?

[2016-03-03 20:16] bronson commented on #23881
Thanks @chancancode.  Looks like that fixed the first issue but not the second...  On 2ef8a0e2b:

[code]

The get (as mentioned above) is performed with `get :generate, params: { dest: 'search/print.pdf', nostatus: true }`

Looks like I can't reopen this issue... should I open a new one?

[2016-03-03 21:15] bronson commented on #23881
I take it back.  This might be a case where I was accidentally lazy with content types but Rails let it slide... until now.

I'll comment again if there's something amiss.  For now I'm guessing the problem is in my tests.

[2016-03-03 21:53] john-999 opened #24033 "Rails 5.0.0.beta3: Development environment: Assets not (re-)loaded with HTTP requests (javascript not working)"
Using Rails 5.0.0.beta3, I render a typical full "edit profile" page using a GET request.

The problem: The javascript/jQuery features do not work on this page anymore, once the page has loaded. (However, if I hit "reload", these features do work again.)

The page structure looks like this:

    <section class="users" id="registrations_edit">

      <%= link_to 'Change password', '#void', id: 'cha

[2016-03-03 21:56] bronson commented on #23881
Figured out the problem, it was with my test.  Your patch looks great.

Boring explanation: my action ends by sending a file:

    return send_file(generator.path, disposition: 'inline')

Which I mocked:

      expect_any_instance_of(PdfGenerator).to receive(:generate).and_return(false, false, true)
      expect(controller).to receive(:send_file).once
      get :generate, params: { dest: 'search/p

[2016-03-03 22:44] petermumford opened #24035 "Rails 5 respond_to unexpected behaviour"
### Steps to reproduce
I have a simple **link_to** method and in my controller I have a **respond_to** block if I add a `format.xml` it will always use this instead of the `format.any` call. See my code below:

**.html.erb**
`<%= link_to 'Edit', edit_car_path(car) %>`

**controller.rb**
[code]

**output from console**
[code]
### Expected behavior
Should ignore `format.xml` and redirect to the home

[2016-03-03 22:46] bronson commented on #24035
r? @chancancode

Sounds related to https://github.com/rails/rails/issues/23881

[2016-03-03 23:05] javan commented on #24026
Opened a PR to do that: https://github.com/rails/rails/pull/24036

[2016-03-03 23:13] #24026 closed

[2016-03-04 00:09] maclover7 commented on #24033
cc @schneems

[2016-03-04 01:05] nekogami commented on #19001
I also have a problem on that,
For some reason, when I run rake db:migrate on my computer, the generated schema.rb add limits statement to ALL string/text/integer fields.
The biggest problem here is that integer are marked as limit: 4 while in mysql show columns they are marked as INT(11).

I tried to install the same version as the other devs, checked the gemfile.lock everything is the same, I ev

[2016-03-04 01:24] schneems commented on #24033
I think this is a turbolinks issue

[2016-03-04 01:25] schneems commented on #24033
Can you give us a small app that reproduces the problem?

[2016-03-04 01:37] rafaelfranca commented on #24033
Yes, this looks like the turbolinks behavior.

[2016-03-04 03:14] perceptec commented on #23184
Note that an invalid `blorgh.gemspec` will also generate this error.

I don't believe the [guide](http://edgeguides.rubyonrails.org/engines.html) covers updating the gemspec with relevant values, but if you're seeing errors like `The gemspec at blorgh/blorgh.gemspec is not valid.`, those need to be addressed to correct the problem.

[2016-03-04 06:39] mwangm opened #24041 "PG::ConnectionBad: PQconsumeInput() : SELECT....."
Use Active Record to access postgreSQL DB in our app,  Then we get a error in prod is like this

[code]

 The reason it happend beacuse the db connection got stopped or killed by database for some reason(maybe network problem). But the active record connection poll will not repair this connection and keep it in the pool. That's bad.
### Steps to reproduce
1. connect your app to postgreSQL DB, loop

[2016-03-04 10:35] john-999 commented on #24033
@schneems @rafaelfranca  - I have added a demo app.

[2016-03-04 11:57] belucid opened #24048 "4.2.5.2 breaks backward compatibility with 4.2.5 due to attempted performance tweak"
### Steps to reproduce

Run your working 4.5.2 project (that uses less-rails 2.7) on 4.2.5.2

### Expected behavior

It works.

### Actual behavior

It doesn't work.

Comes from this commit:

https://github.com/rails/rails/commit/25f1d5da37811644c81127e9219fc070953776e0

Problem with this change is that tsort_each returns nil whereas tsort.each returns an empty array. So this breaks backwards comp

[2016-03-04 11:58] HardieBoeve commented on #24033
I made a pull request on your demo app, with a fix for your problem.

The fix is very simple, you are listening for the jQuery ready event, and this is only triggered in the initial page load. Instead you should listen for the turbolinks:load event, [more info](https://github.com/turbolinks/turbolinks)

[code]

[2016-03-04 12:07] john-999 commented on #24033
Thanks a lot @HardieBoeve ! (I assume lots of folks will run into this change when Rails 5 is released.)

[2016-03-04 12:14] belucid commented on #24048
In case anyone runs into this exact same error, I resolved it by upgrading to less-rails 2.7.1.

[2016-03-04 12:46] matthewd commented on #24048
It sounds like you updated other gems (namely, sprockets and/or sprockets-rails). I doubt a commit from 2012 that's been present since Rails 4.0 was particularly involved.

[2016-03-04 12:46] #24048 closed

[2016-03-04 12:59] #24033 closed

[2016-03-04 12:59] prathamesh-sonpatki commented on #24033
It's mentioned in the edge guides - http://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html#page-change-events

[2016-03-04 13:35] belucid commented on #24048
Yup. My bad. Saw that was the last commit, but didn't notice the date was 2012.

[2016-03-04 13:45] maclover7 commented on #24041
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-03-04 14:59] abhishekjain16 opened #24055 "Inconsistent results with #or in ActiveRecord::Relation with respect to documentation"
According to documentation:
https://github.com/rails/rails/blob/c577657f6de64b743b12a21108dc9cc5cfc35098/activerecord/lib/active_record/relation/query_methods.rb#L650

In order to use #or Neither relation may have a #limit, #offset, or #distinct set.

But, I could use all of the above like:

[code]

OR

[code]

Not sure if this is intended behaviour to support #limit, #offset, or #distinct.

If ye

[2016-03-04 16:15] sikachu commented on #23989
I'm trying to reproduce this issue, and it's weird that it's not reproducible if you run the test individually. I think I'm going to dig further on why.

[2016-03-04 16:17] TangMonk opened #24058 "remove js_compressor and css_compressor in production.rb made precompile quickly."
I am trying to precompile assets in production, It very slowly in production, But quickly on development.

So I try to remove this lines in production.rb

[code]

It made compile faster than development, Why?

using 4.2.4 Rails

[2016-03-04 16:29] sikachu commented on #23989
@matthewd told me that this issue is related to #24028.

I tried to dig in, but I'm not really familiar on how Reloader and autoload works in Rails. I think I'm going to give this issue back to @matthewd and find something else to work on.

[2016-03-04 16:46] sikachu commented on #24058
By "compile" do you mean running `rake assets:precompile`?

IIRC `rake assets:precompile` switches your environment to `production` when you runs it. It's doing that so it can take production assets setting into account.

It's possible that your production environment compiles the asset slower just because of the resource and platform difference.

[2016-03-04 16:49] sikachu commented on #24055
I discussed this with @matthewd and I think this is a side effect that occurred from recent refactoring. I think we still want to base this per documentation, and actually stop you from able to pass in relation that has `#limit`, `#offset`, or `#distinct`.

@sgrif do you want to take a stab at this?

[2016-03-04 17:10] abhishekjain16 commented on #24055
@sikachu Should #order also be included in the list as it gives similar behaviour as above(when used with same parameters in both the relation) else it gives
`ArgumentError: Relation passed to #or must be structurally compatible. Incompatible values: [:order]`

Just like #limit, #offset, or #distinct.

[2016-03-04 17:14] matthewd commented on #24055
That's covered by "they must differ only by #where"

[2016-03-04 17:14] rubys commented on #23989
@sikachu: that's not weird at all.  It looks like AJ is locking the database, which prevents future tests that access the database to fail.

[2016-03-04 18:40] sikachu commented on #24035
This is not related to #23881. It's an issue with Turbolinks.

I've tried to generate the test app, create the scaffold (`rails g scaffold car name:string`), edit the generated controller to include the snippet similar to above.

If I access the page directly (http://localhost:3000/cars/1/edit) then I got this in log:

If I click the link from the page (which triggers Turbolink), then I get this i

[2016-03-04 18:46] sikachu commented on #24035
Oh, and this is the log for the direct request to `/cars/1/edit`:

<img width="932" alt="screen shot 2016-03-04 at 1 45 27 pm" src="https://cloud.githubusercontent.com/assets/4912/13536723/6f08ea2e-e20f-11e5-863b-6541e47d8a1c.png">

[2016-03-04 18:47] rubys commented on #23989
A workaround that enables the [AWDwR tests](http://intertwingly.net/projects/dashboard.html) to pass: add the following to `config/environments/test.rb`:

    config.active_job.queue_adapter = :inline

[2016-03-04 18:57] petermumford commented on #24035
I can confirm this is exactly what I am getting as well. Also, if you add `data: {turbolinks: false}` to the **link_to** method it will also work as expected, hinting towards Turbolinks again.

[code]

[2016-03-04 19:27] thedarkone commented on #24028
I think we discussed that this is going to be an issue :(.

Re problem n. 2, there would be a similar complication if a thread uses external thread pools to do something (futures etc.), right?

If you have a thread in the interlock (with a sharing ticket) and want to block/sleep, the correct course of action is it to yield shares. Maybe threads attempting to gain an exclusive lock should use timed

[2016-03-04 19:45] matthewd commented on #24028
Yeah, I'd anticipated "user thread operation doesn't acquire interlock -> unsafe", and that if a thread *has* acquired the interlock, it's going to have to behave (e.g., yield shares).

The one that's caught me by surprise on Capybara (& friends -- there's a `select` in poltergeist that's biting us too) is that the second thread may end up "accidentally" acquiring the lock, thus promising to confo

[2016-03-04 19:57] thedarkone commented on #24028
Yeah, that's why I was suggesting an interrupted sleep and taking notes on shared threads. We could even check the sharing-sleeping thread's backtrace...

[2016-03-04 20:12] rafaelfranca commented on #24058
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-03-04 20:12] #24058 closed

[2016-03-04 20:12] maclover7 commented on #24035
Can you open up an issue at [https://github.com/turoblinks/turbolinks](https://github.com/turoblinks/turbolinks)?

[2016-03-04 20:48] sikachu commented on #24013
What happen if you use `*id` instead of `:id`? I feel like that better match your intention as you want everything that comes after `lib/`.

[2016-03-04 20:52] sikachu commented on #23997
Looks like this is Rack issue and it will be fixed soon. Going to keep this open in the mean time.

[2016-03-04 20:58] sadinie opened #24063 "Rails 5.0.0beta3 cannot load such file -- listen"
### Steps to reproduce

Updated gemfile to beta3
ran bundle update rails
ran rake rails:update
started my app in dev mode
### Expected behavior

Rails should start up
### Actual behavior

Crashed
/home/sadinie/dev/ruby/lib64/ruby/gems/2.3.0/gems/activesupport-5.0.0.beta3/lib/active_support/dependencies.rb:302:in `require': cannot load such file -- listen (LoadError)
### System configuration

**Rai

[2016-03-04 21:10] maclover7 commented on #24063
cc @fxn

[2016-03-04 23:17] dervus commented on #23882
@rafaelfranca I can confirm this affects ActiveRecord 4.1.10 as well.

[2016-03-05 05:54] dyba opened #24073 "Fresh Rails 3.2.22.2 engine raises Exception when running rails console"
### Steps to reproduce

* ```rails plugin new myengine --mountable```
* ```cd myengine/test/dummy```
* ``` bundle exec rails console```

### Expected behavior

* I should get a console session

### Actual behavior

[code]

The exception is raised [here](https://github.com/dyba/rails/blob/v3.2.22.2/activesupport/lib/active_support/test_case.rb#L4). Can you explain the rationale for expecting the us

[2016-03-05 05:55] dyba commented on #24073
/cc @rafaelfranca

[2016-03-05 05:59] meinac commented on #24032
Also If you change `has_one :user` to `has_many :users` or ?`has_one :users`? it works as expected, interesting :confused:

[2016-03-05 06:41] matthewd commented on #24073
Rails 3.2 is no longer supported.

[2016-03-05 06:41] #24073 closed

[2016-03-05 17:58] rthbound commented on #23624
I noticed the code written to address https://github.com/rack/rack/issues/951 did not cover this issue. If we're holding #23997 open until a 3rd party fixed is introduced, we should probably be keeping an eye on this one as well.

https://github.com/rack/rack/pull/1029 would fix this issue and #23997.

[2016-03-05 18:10] cannikin commented on #23386
@dhh Can you explain your technique for this? Do you actually `post` to your login page at the top of your single action test in the controller test, then commence with testing the action? Something like:

    test "should get new" do
      user = users(:john)
      post login_url, params: { email: user.email, password: user.password }

      get new_post_url
      assert_response :success
    end

[2016-03-05 18:34] jturkel commented on #11078
I've confirmed this is still an issue on master. Reproducible test case can be found here: https://gist.github.com/jturkel/a4d7f761eff7d7cef980

[2016-03-05 22:48] eiked opened #24076 "render file: broken?"
using Rails 4.2.5.2

When I do:
    render(file:'/tmp/foo.jpg')

I get the exception:
    Missing template tmp/foo.jpg

(please note that the leading slash is removed)

Expected result:
   send_file('/tmp/foo.jpg') should be called

Actual result:
    Instead of sending the file, a template is searched

Comments:

I have not tried this api before, so maybe I just got it wrong.

My expectation from

[2016-03-05 22:53] rafaelfranca commented on #24076
Thank you for the reporting. Just to understand better where did you saw in the linked documentation that `render file:` should invoke `send_file`?

[2016-03-05 23:01] rafaelfranca commented on #24076
I just checked the behavior and `render file: '/tmp/foo.txt'` is working as expected.

I got `Missing template tmp/foo.txt` when I called `render '/tmp/foo.txt'`. This is the expected behavior in 4.2.5.2. This was exactly the security fix released in the 4.2.5.1 version. The guides needs to be changed to match the new behavior.

As per `render file:` calling `send_file` that was never the expected

[2016-03-05 23:09] rafaelfranca commented on #24076
Fixed the guides in 403c57a

[2016-03-05 23:19] eiked opened #24077 "enhancement: render(file:) should handle File"
The render(file:) option currently accepts strings (aka path names)

I'd like to suggest that the file: option should also accept File objects.

I use this with dynamically generated jpgs.
I put them into a Tempfile.

I currently need to do:
   render(file:tempfile.path)
but it would be more natural to just say:
   render(file:tempfile)

I'd like to suggest that the file: option should be enhanced

[2016-03-05 23:22] rafaelfranca commented on #24077
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2016-03-05 23:22] #24077 closed

[2016-03-05 23:59] eiked commented on #24076
Hi rafaelfranka,
got it fixed.

now using: send_file() (instead of render(file:))

Looks like I got the documentation wrong.
The power is yours!
https://www.youtube.com/watch?v=7V7M6LxzcFc

[2016-03-06 00:00] rafaelfranca commented on #24076
Great! Thank you for reporting and confirming the fix. The documentation was improved with your help!

[2016-03-06 00:00] #24076 closed

[2016-03-06 00:29] eiked commented on #24076
but it still does not work for me,
I now believe it must be a problem in the passenger,
because it worked for me locally,
and now reimplementing that in a completely different way,
it again worked for me locally like a charme.
(in dev and production)
but then again it fails again (no: takes 4 minutes to render)
when I set this up in my passenger setup.
Looks like there is a problem still lurking s

[2016-03-06 00:34] rafaelfranca commented on #24076
the `send_file` feature needs that the web server implements a specific feature (see in the `send_file` documentation the mention to X-Sendfile) . I'm not a passenger user but I guess it should work fine with it.

[2016-03-06 05:09] tdutreui opened #24084 "Getting started guide issue : Windows/coffee-script-source >=1.9.0 incompatibility"
### Steps to reproduce

Do all steps in http://guides.rubyonrails.org/getting_started.html until section 4.3
At the end of 4.3, an error is shown instead of the expected 'Hello, Rails!'
### Expected behavior

'Hello, Rails!' is shown, like described in the 4.3 section
### Actual behavior

error:

TypeError: Object doesn't support this property or method
  (in c:/RailsInstaller/Ruby2.1.0/lib/ruby/g

[2016-03-06 07:39] Anagha22 commented on #24084
How about deleting  coffeescript files and remove turbolinks gem then again run bundle install.Will it work?

[2016-03-06 14:08] st0012 commented on #17657
Hi guys, `cache` helper can actually perform caching in Rails 5. All you need to do is to set this in your application.
[code]
cc @rwz @wdperson @raja @viniciusnz

[2016-03-06 17:10] kaspth commented on #24077
@eiked 👋, just a friendly reminder that this is the ~3rd time we've asked you to submit feature requests to the Rails Core mailing list. Will you please do so in the future? Thanks ❤️

[2016-03-06 17:27] aj07 commented on #24084
Go through proposed solution. It will work.

[2016-03-06 18:24] dhh commented on #23386
That's exactly it. We've wrapped that into a helper method that we usually then use in the setup of a controller. So:

[code]

[2016-03-06 19:49] chrisbloom7 commented on #21459
@pixeltrix You are correct. After downgrading to 4.2.2 things started working as expected, but then bumping back to 4.2.5 didn't cause the broken behavior to return. I'll chalk it up to a hiccup with Passenger itself.

[2016-03-06 21:32] maclover7 commented on #24084
Do we need a documentation update, or a dependency bump here?

[2016-03-07 03:00] cannikin commented on #23386
Thank you sir! I'm liking the feel of these new controller-integration hybrid tests so far.

[2016-03-07 06:11] trueinviso commented on #22579
I'd like to start helping on the rails project so I thought I'd give this ticket a go.  The error is happening in:  `/actionpack/lib/action_dispatch/routing/mapper.rb` in the `default_controller_and_action` method.  The :to option of a route can receive a RackApp that must respond_to the call method.

`def default_controller_and_action
    if to.respond_to?(:call)
      { }
    else`

This is fail

[2016-03-07 07:07] abhishekjain16 commented on #24055
But do they work when they are added to both the relations.

Not sure if documentation is complete. I think this case should be mentioned in documentation if this is supposed to work or we should stop passing in relation that has #limit, #offset, or #distinct.

[2016-03-07 12:48] nowakov opened #24092 "ActionCable having troubles parsing JSON"
### Steps to reproduce

I'm trying to connect with ActionCable, not using JS, but with websocket-client on raspi. So my simplified client-side example looks like this:
[code]
and my connection.rb:
[code]

### Expected behavior
If I use this hardcoded json string: `'{"command":"subscribe","identifier":"{\"channel\":\"PrintersChannel\"}"}'` it just works fine and I'd expect the same from generated J

[2016-03-07 13:33] nowakov commented on #24092
So actually when I generate json for identifier separately and then generate json from whole hash it works, but I'm not sure if that's desired behavior.
[code]

[2016-03-07 13:38] sgrif commented on #24055
I recall that we wanted to reserve the right to make it more conservative in the future

[2016-03-07 13:41] #22274 closed

[2016-03-07 13:49] bquorning opened #24093 "Eager loaded belongs_to associations are always readonly"
### Steps to reproduce

https://gist.github.com/bquorning/0ac738564824aa8ce57b

### Expected behavior

Eager loaded belongs_to associations should not be readonly.

### Actual behavior

Eager loaded belongs_to associations are always readonly.

### System configuration
**Rails version**: v5.0.0.beta1 and up, including latest master

**Ruby version**: All.

### Extra

It seems the issue was introdu

[2016-03-07 14:30] abhishekjain16 commented on #24055
@sgrif So we wont to stop passing in relation that has `#limit`, `#offset` or `#distinct` when using `#or` right?

[2016-03-07 15:13] maclover7 commented on #24092
I think this is the desired behavior, since people should be able to store more than just the channel name within the identifier.

[2016-03-07 15:58] eacaps opened #24094 "Actioncable deadlock resuming a connection with multiple channels"
I ran into an issue with my ActionCable enabled app where the server was locking up constantly using the current master branch from the rails repository. I was able to recreate the issue in my own fork of the ActionCable examples repo.

I modified the ActionCable example to mount ActionCable at the '/ws' endpoint in the routes.rb file and I also created a second channel which the client subscribes

[2016-03-07 16:44] sgrif commented on #23982
I'm not sure there's anything that can be done about this issue without causing an unacceptable backwards incompatibility. @rafaelfranca WDYT?

[2016-03-07 16:50] chrisarcand commented on #23982
The 28-30 days == about 1 month option seems like very reasonable (and better) behavior but admittedly backwards incompatible.

I believe you can introduce similar logic to the calculations in years w/ leap years on a monthly level to make a perfectly backwards compatible solution (except for those few days); however, the amount of complexity added to this calculation for something that might only

[2016-03-07 17:07] AndreasWurm commented on #23778
with the current master and only one channel it works again. the error still exists and connections are not checked back into the pool when used from inside a stream_from callback.

[2016-03-07 17:12] AndreasWurm commented on #24094
encountered the same issue, nice work making a reproducible setup

[2016-03-07 17:20] maclover7 commented on #24094
cc @matthewd, this might have something to do with Active Record connection management...?

[2016-03-07 17:53] #22579 closed

[2016-03-07 18:46] jeremy commented on #23778
@AndreasWurm Confirm. Manual connection management is still required in stream blocks, but shouldn't be. Working on it.

[2016-03-07 19:44] rafaelfranca commented on #23982
:+1: Agree that implementing this backward incompatible change just for one day is not worth.

[2016-03-07 19:44] #23982 closed

[2016-03-07 20:03] arthurnn commented on #18492
@wyde19 the reason is on the commit message:

This is more like a feature addition, as you can have STI for fixtures
right now if you have one fixture file for that table.

[2016-03-07 21:15] liquid opened #24096 "Inconsistent restful route names when using the :only option"
When generating restful routes using the `:only` option in `routes.rb` the route name for the index action differs from the route name it is assigned when using all actions. Initially I thought this was due to some gem that does something 'fancy" to the rails routes but having generated a brand new Rails app it turns out the issue persists.

### Steps to reproduce

* Create a new Rails application

[2016-03-07 21:18] liquid commented on #24096
I was curious what happens when using `:except` instead of `:only` and I'm getting the same unusual behaviour with the following example:

[code]

[code]

[2016-03-07 21:20] rafaelfranca commented on #24096
I'm also seeing `news_index` in the routes without `:except` and `:only` too:

[code]

And it is specific to `news` since there is no way to singularized it. This is the expected behavior.

[2016-03-07 21:20] #24096 closed

[2016-03-07 21:57] arthurnn commented on #22617
closing this , as https://github.com/rails/rails/pull/22870 was closed.

[2016-03-07 21:57] #22617 closed

[2016-03-08 05:17] nachokb commented on #18061
this is fixed in 5.0.0.beta3, if someone cares I could bisect where it was fixed

[2016-03-08 05:17] #18061 closed

[2016-03-08 09:46] vsorlov commented on #23982
@chrisarcand, @rafaelfranca, it actually has nothing to do with a leap year, it occurs every year after february. Each year from 1 of match till 28 of march `distance_of_time_in_words` returns `28 days` when it is reasonable to return `about 1 month`.

[2016-03-08 13:59] jensnockert commented on #23975
If you replace the 'offending' code with some string manipulation you get the following stacktrace which is probably closer to revealing the JRuby bug behind this.

[code]

[2016-03-08 14:04] petermumford commented on #24035
@maclover7 I've just done this for you.

[2016-03-08 14:13] kaspth commented on #24035
Closing because the issue seems to be with Turbolinks.

[2016-03-08 14:13] #24035 closed

[2016-03-08 14:23] paulmenzel opened #24105 "[regression] App with Rails 3.2.22.2 fails with `ArgumentError - wrong number of arguments (5 for 4):`"
An internal application just broke upgrading from Ruby on Rails 3.2.22.1 to 3.2.22.2. Ruby 2.1 is used. It’s happening already when loading the log in screen.

[code]

[2016-03-08 14:25] paulmenzel commented on #24105
`Gemfile.lock` changed as below.

[code]

[2016-03-08 14:34] Dariusch opened #24107 "ActiveRecord-4.2.6 argument out of range in 'utc' in mysql2_adapter"
Hey guys,

I just tried to upgrade my rails-app from rails 4.2.5.2 to 4.2.6 and got a new error while running my tests. Since I could not find a reported error here is my backtrace.

[code]
### System configuration

**Rails version**: 4.2.6
**Ruby version**: 2.2.3
**mysql2 gem version**: mysql2 (0.3.20)

[2016-03-08 14:44] paulmenzel commented on #24105
This also happens in the production environment.

[code]

[2016-03-08 14:48] rafaelfranca commented on #24105
`haml_coffee_assets` needs to be changed to match the current API

[2016-03-08 14:48] #24105 closed

[2016-03-08 15:10] paulmenzel commented on #24105
@rafaelfranca, thank you. We just figured out that upgrading [haml_coffee_assets](https://github.com/emilioforrer/haml_coffee_assets) from 1.6.0 to 1.6.2 fixes the issue.

Was it intended to change the API that much? Where could I have read about the changed API?

[2016-03-08 15:15] paulmenzel commented on #24105
This is issue emilioforrer/haml_coffee_assets#146 in haml_coffee_assets.

[2016-03-08 15:34] rafaelfranca commented on #24107
Can you please provide a sample application that reproduces the error?

[2016-03-08 20:10] #23413 closed

[2016-03-08 20:42] rizidoro commented on #24063
You should add the `listen` gem in the `development` group

[2016-03-08 21:17] stbarrientos opened #24110 "find_by_mysql works very slowly with large queries"
### Steps to reproduce
I am running a large sql query (258 lines) that results in 2 rows with 128 columns. It does have a nested select. Unfortunately I am not able to paste the exact query here.

This is the way I am running the sql query
[code]

### Expected behavior
Running the exact same query using find_by_sql in Rails 4 finishes in less than a second, which is what I expected to happen in 5.

[2016-03-08 21:21] shakycode commented on #24110
Do you have a sample script/query that one of the community can use to replicate?  Maybe this is a regression?  I'm using find_by_sql i 5b3 but probably not as lengthy of a query and it performs ok for me.

[2016-03-08 21:35] stbarrientos commented on #24110
@shakycode Yes it is working on my smaller queries as well. It must be failing on some aspect of this larger query. Here is the structure of the query I'm working with:

[code]

I'm thinking there may be some aspect of this query that is causing the select_all to do extra work, maybe the nested select statements? Maybe the number of columns? What is really confusing is that it works fine in Rails

[2016-03-08 21:36] jeremy commented on #24110
Possibly related: #23948

Could you try on current master, @stbarrientos ?

[2016-03-08 21:44] stbarrientos commented on #24110
@jeremy That did it, its finishing in ```0.004496803041547537 ms``` now. Thanks for your help!

[2016-03-08 21:44] #24110 closed

[2016-03-08 21:52] dzajic opened #24112 "has_one :inverse association not updated in time on create, :after_save callbacks have stale instance"
### Steps to reproduce

[code]

### Expected behavior
Lines 73 and 74 in activerecord/associations/singular_association.rb should be reversed so the association should is set *before* calling save, to ensure :after_save callbacks have the right instance.

### Actual behavior
Association is set after calling save, so :after_save callbacks have a stale instance.

### System configuration
**Rails ver

[2016-03-08 22:07] jeremy commented on #24110
👍

[2016-03-08 22:13] maclover7 commented on #24112
Is this reproducible on master?

[2016-03-08 22:19] maletor commented on #24112
[It seems that way](https://gist.github.com/maletor/677d1cc0b1086c5bd1ba).

[2016-03-08 22:20] brianlittmann opened #24113 "RailsGuides for 3.2 is giving a 403 response"
http://guides.rubyonrails.org/v3.2/

[2016-03-08 22:36] rafaelfranca commented on #24113
Fixed now.

[2016-03-08 22:36] #24113 closed

[2016-03-08 23:06] rafaecheve commented on #23422
to solve this add uuid type as it says here: http://edgeguides.rubyonrails.org/active_record_postgresql.html

# db/migrate/20150418012400_create_blog.rb
enable_extension 'pgcrypto' unless extension_enabled?('pgcrypto')
create_table :posts, id: :uuid, default: 'gen_random_uuid()'

create_table :comments, id: :uuid, default: 'gen_random_uuid()' do |t|
  # t.belongs_to :post, type: :uuid
  t.referenc

[2016-03-09 01:27] mwangm commented on #24041
@maclover7 could you check [this one](https://gist.github.com/mwangm/f302aa310ea24f2ca5d9)

[2016-03-09 06:45] heaven opened #24116 "Has many through polymorphic source ignores source_type when deletes records"
I have the next STI:

[code]

The :through association:

[code]

And the next model where I need to add a `has_many` association:

[code]

The issue with insertions was fixed in #23209
But deletion still doesn't work properly, both these examples do fail:

[code]

Rails 4-2-stable
To reproduce: https://gist.github.com/heaven/55416bc2d2d51dfdb511

[2016-03-09 07:08] heaven opened #24117 "Calling preload on has_many does not preload"
The next code fails:
[code]

But if you look at the log, it shows the program_days association was fetched from the database in the very first query:
[code]

To achieve what I need I have to do:
[code]
Which doesn't seem right to me.

I also tried to use `@program.program_days.load.includes(...)` and got almost the same result, except `program_days` were fetched 2 times:
[code]

[2016-03-09 09:44] fxn commented on #24063
As per your application you can either comment out the evented monitor in *config/environments/development.rb* to disable it, or add the listen gem to the *Gemfile* if you'd like to use the monitor.

As per the issue itself, goint to close because we are talking about what to do in https://github.com/rails/rails/pull/24066.

[2016-03-09 09:59] kritik opened #24118 "ActiveSupport::TimeWithZone converts to date wrongly"
### Steps to reproduce
Time.zone.parse("Mon, 18 Jul 0016 00:00:00 UTC +00:00").class #=> ActiveSupport::TimeWithZone
Time.zone.parse("Mon, 18 Jul 0016 00:00:00 UTC +00:00") #=> Mon, 18 Jul 0016 00:00:00 UTC +00:00
Time.zone.parse("Mon, 18 Jul 0016 00:00:00 UTC +00:00").to_date #=> Mon, 20 Jul 0016
Time.zone.parse("18 Jul 0016 00:00:00 UTC +00:00").to_date  #=> Mon, 20 Jul 0016

### But if year is

[2016-03-09 13:13] basvijzendoorn commented on #24118
Reproduced the issue. I would like to work on it.

[2016-03-09 13:33] rafaelfranca commented on #24118
I think this is not an issue. I believe there were some changes in the calendars that add offsets to these dates.

@pixeltrix do you remember something about this?

[2016-03-09 13:36] rafaelfranca commented on #24118
Yeah. I think it is because before 1582 it is using the Julian calendar and when you call `to_date` we always use the Gregorian calendar.

[2016-03-09 13:55] kritik commented on #24118
The bad thing is that this time is saved in db and it's ok there. When I load model and get date I get this problem. So, I think this is an issue as you couldn't predict this behavior.

[2016-03-09 16:25] rafal-brize commented on #23261
Hi.
I've looked into this issue a bit and here are my findings

It is actually the fault of `autosave` generated validation callbacks.

If you rewrite your code a bit you will see the same thing happening here:
[code]
If you load the profile with ` user.profile` before validating you see it works.
It is consistent with the autosave entry in guides

So what happens here? Why those strange results?

[2016-03-09 16:48] AndreasWurm commented on #23919
well thats were you are wrong. this is how ruby works, you can always pass a block to a method.

[2016-03-09 16:57] paulleader commented on #23919
Fair enough.

[2016-03-09 20:20] pixeltrix commented on #24118
@kritik as @rafaelfranca says it's because it's being converted between a proleptic Gregorian calendar and the Julian calendar when you do `to_date`. Unfortunately historical dates are complicated and how you handle them tend to be app specific so I don't think we should change how this is done in Rails since we'd be changing it from how Ruby itself behaves.

Interestingly I appear to have discove

[2016-03-09 20:20] #24118 closed

[2016-03-09 22:24] meinac commented on #23538
I can confirm that this is working with Active Record `4.2.6` and also with `4.2.4`. I think the issue is project specific, it's not about Rails.

[2016-03-10 03:44] jrguenther opened #24130 "jQuery not working in es6 files compiled by sprockets"
### Steps to reproduce
1. Add `gem 'sprockets-es6'` and `bundle install`
1. Create a new rails app using rails new.
1. Add a simple controller with one action. Make it the root route
2. Add code using jQuery to the es6 file.

I've included an example app: [testing.zip](https://github.com/rails/rails/files/166491/testing.zip)

### Expected behavior
I expect the jQuery to execute. It appears like it

[2016-03-10 03:49] jrguenther commented on #24130
Whoops. I totally forgot that I needed to call the jQuery code in an event handler for `turbolinks:load`. Now everything is :sunglasses:

[2016-03-10 03:49] #24130 closed

[2016-03-10 05:34] prathamesh-sonpatki opened #24132 "Tests fail while using collection caching of partials"
I am trying to setup collection caching of partials here - https://github.com/codetriage/codetriage/pull/454/files but getting test failures as follows -

[code]

The code is assigning collection_cache store here - https://github.com/prathamesh-sonpatki/rails/blob/b165d73f2ccd421c9f3518ce9bf5bcb322440cb7/actionview/lib/action_view/railtie.rb#L42 but in this case it is nil.

So it is failing on thi

[2016-03-10 08:11] vipulnsward commented on #24116
I can reproduce this on master. Checking.

[2016-03-10 08:13] jeffblake commented on #23949
Thanks for the solution. Adding it now.

I think its a good idea to add it in :)

[2016-03-10 08:31] jeffblake opened #24133 "ActiveRecord schema info is not preloaded in production on first request"
I know this isn't stack overflow (great way to open an issue, eh?).......  but I've been bashing my head at this one for awhile and think it might be an issue in rails.

I'm seeing these kind of queries being issued for each running process' **first** request:

![screen shot 2016-03-10 at 12 09 42 am](https://cloud.githubusercontent.com/assets/620564/13663411/494d00f4-e656-11e5-98a7-136cb7720335.p

[2016-03-10 14:15] rafaelfranca commented on #24133
Before booting could you try to run `rake db:schema:cache:dump`?

[2016-03-10 15:03] vipulnsward commented on #24116
This is going to take some to fix for me to take a look, there are issues at two places in query generation, unlike previous one.

[2016-03-10 15:21] sblackstone opened #24138 "I18n exception feature doesn't apply to ActionController"
Using `config.action_view.raise_on_missing_translations = true` for the purposes of testing translation completeness doesn't effect translations that occur within a controller, for example..

`redirect_to polymorphic_url([@thing]), notice: t('.success_message', name: @thing.name)`

Given that people use this feature for the express purpose of testing their translations, the support for t() in cont

[2016-03-10 15:22] faisalejaz786 opened #24139 "Redirect code in routes.rb is not working fine"
### Steps to reproduce

I have routes something like in routes.rb

resources :biographies, to: redirect { |params, req|
   path = 'some path related code'
  "http://mywebsite.com/client"
}

Instead of redirecting, it is passing redirection code in params

Parameters: {"to"=>redirect(301), "client_id"=>"peak"}

It was redirecting properly in Rails 4.

### System configuration
**Rails version**:
  5

[2016-03-10 15:53] jyunderwood commented on #24139
I don't think it's suppose to work like that. There is no `:to` parameter for `resources` in the API guide for v4 or v5.

http://api.rubyonrails.org/classes/ActionDispatch/Routing/Mapper/Resources.html#method-i-resources

There is for `match`, though.

http://edgeapi.rubyonrails.org/classes/ActionDispatch/Routing/Mapper/Base.html#method-i-match

[2016-03-10 15:56] chewedon opened #24141 "Rails 5 controller test get :index not working but works on Rails 4"
### Steps to reproduce

(Side note: Sorry if this issue has been identified before, I skimmed through the open and closed issue and didn't see anything resembling it so I am opening this one. Please close if this is a duplicate. As much as it pains me, I really don't want to contribute to increasing the Rails 5 countdown clock: http://rails5countdown.com/ but it looks like I will have to for the s

[2016-03-10 16:01] arturoherrero opened #24142 "Upgrade to Rails 4.2.6 raises active_support/logger_silence.rb:23 exception"
I just upgrade from Rails 4.2.5.2 to 4.2.6.

I'm using a config initializer to configure the [PayPal REST API Ruby SDK][1] gem.

So, I have this line of code in `config/initializers/paypal.rb` that it's now failing when I compile all the assets:
[code]

This is related with this commit https://github.com/rails/rails/commit/a2a652a512d6ee5488eb5e2d9dea310ec34e5b59 from @rabbitt.

My error message:

[2016-03-10 16:09] kaspth commented on #24141
Your integration test is wrong. It should use a url helper (e.g. `cats_url`). Read more here: http://api.rubyonrails.org/classes/ActionDispatch/IntegrationTest.html

Thanks :heart:

[2016-03-10 16:09] #24141 closed

[2016-03-10 16:54] rafaelfranca commented on #24142
Can you please provide a sample application that reproduces the error?

[2016-03-10 17:17] chewedon commented on #24141
But...kaspth..the official Rails documentation gave the example:

[code]

http://guides.rubyonrails.org/testing.html#functional-tests-for-your-controllers

Also, when I tried the same code on Rails 4.2.5.1 instead or Rails 5 there was no errors, the test passes. Is this a Rails 5 change ?

[2016-03-10 19:26] shawnstephens commented on #22044
DMA57361 I have the same issue. Can you share the monkey patch?

[2016-03-10 19:47] jeffblake commented on #24133
My understanding of Heroku is that if I ran that rake task, its executed as a one-off dyno and then throws it away... so it would cache it for no reason.

[2016-03-10 20:24] kaspth commented on #24132
Inspected this in my own app and there is a cache store when that line is hit. Assume CodeTriage might have a different setup?

[2016-03-10 21:28] haslinger opened #24147 "Empty body for JSON requests with status codes 4xx and 5xx"
### Steps to reproduce

Creating a minimalist app with a routes.rb :
[code]

and an application_controller.rb :
[code]

### Expected behavior
Get requests to /error and /working should result in responses with an existing body.

### Actual behavior
While /working works fine, /error only responds with the correct error code, but with an empty body in development as well as in production.
Setting

[2016-03-10 21:29] maclover7 commented on #24139
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-03-10 21:30] rafaelfranca commented on #24139
This

[2016-03-10 21:30] #24139 closed

[2016-03-10 22:20] maclover7 commented on #24147
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-03-11 02:37] prathamesh-sonpatki commented on #24132
@kaspth This is not happening on newly created Rails 5 app. I am investigating more where is the issue.

[2016-03-11 03:29] rafaelfranca commented on #24133
But does it work locally? The cache is exactly to avoid this thing in the first request.

[2016-03-11 03:51] jeffblake commented on #24133
Ah, I understand.

Localhost
[code]
Result: works! no queries to build the cache.

[code]
Result: works! no queries to build the cache.

For sanity checking, I did the exact same above without the rake task, and queries are performed in both environments. My profile environment is basically the same as production with a different cache server and database.

[2016-03-11 04:11] jeffblake commented on #24133
Here's a flamegraph. Would this help? I can't make a whole lot of sense of it, but I did notice some call stacks that might be relevant:

[flamegraph.zip](https://github.com/rails/rails/files/168441/flamegraph.zip)
![screen shot 2016-03-10 at 8 10 42 pm](https://cloud.githubusercontent.com/assets/620564/13693084/42c7d4d8-e6fc-11e5-912e-8c3634961bc4.png)
![screen shot 2016-03-10 at 8 10 55 pm](http

[2016-03-11 04:16] rafaelfranca commented on #24133
Thanks! Given all this information this is the expected behavior right now. The schema information is only loaded at the first access unless you have a cache in your machine.

We could automatically generate this cache in the boot tough but this would be a new feature. Do you want to work on making the cache schema information cache automatic?

[2016-03-11 04:21] jeffblake commented on #24133
So to clarify, the `production` environment (or any environment for that matter) does not build this by default on boot if its not present? I definitely think it should, it's adding 1s+ plus my requests. And from what I'm seeing, its not even fully loaded on the first request - it only caches the models that get hit. So if I go to a different page (2nd request) that has other models, I see these q

[2016-03-11 04:33] rafaelfranca commented on #24133
No it doesn't, and yeah it only cache for each model you check.

I never tried this workaround but you could use a `after_initialize` block with this code:

[code]

In Rails 4 you would also need to backport https://github.com/rails/rails/pull/17632 and https://github.com/rails/rails/pull/20175 to all connections use the cache.

You would be surprised that there is no such thing like not being com

[2016-03-11 04:47] jeffblake commented on #24133
Awesome! Thanks. I wouldn't have thought to add it to each connection... you likely saved me another few hours of bashing my head.

I'll probably wait until Rails 5 - those pull requests will be in 5, yes?

[2016-03-11 04:49] rafaelfranca commented on #24133
Yes, they are.

[2016-03-11 05:36] chewedon commented on #24141
In that case, shouldn't Rails 5 generate the integration test file inside the `/test/integration` folder instead of `/test/controllers` folder ?

I generated a new controller in Rails 5 called "dogs" and it created the dogs_controller_test.rb, an integration test as you have pointed out, inside the `/test/controllers` folder:

[code]

Kinda confusing don't you think ? :smile:

[2016-03-11 07:39] haslinger commented on #24147
@maclover7 Thank you for response, you helped me debugging and solved my issue.
I created a [gist](https://gist.github.com/haslinger/b08b473e63574ba33196), that proved me wrong. The response is correct.

What misled me was, that I was using wget for testing the response, that doesn't load the body for the status 422 case, while curl does it correctly.

Thank you for your time!

[2016-03-11 07:39] #24147 closed

[2016-03-11 07:41] kaspth commented on #24141
For a beta where the docs aren't always up to date? Maybe. But integration tests per controller (which explains the directory position) are the new default in Rails 5 and not at all odd 😁

Let's retire the discussion here. This underlying behavior is settled 👍

[2016-03-11 10:00] batizhevsky commented on #24142
I faced with the same problem after update, but after a little research, I found that I had monkeypatched ActiveSupport logger class (a legacy from rails 3 app). After removing it all works fine for me.

[2016-03-11 13:34] nathansamson opened #24154 "Numericality validator error messages do not respect localized number formatting"
### Steps to reproduce

* Set language to dutch (or any language where the decimal seperator is , and the thousands separator is .)
* Add a model / form with a floating value
* Add a numericality validator with a greater_than value being a floating number
* Enter form value with a value lower than the greater than value

(https://gist.github.com/nathansamson/772352d021b2d301dd48)

### Expected beh

[2016-03-11 14:42] dhh commented on #23997
@sikachu Any update?

[2016-03-11 14:45] sikachu commented on #23997
@dhh I think we're waiting for rack/rack#1029 to be merged, then we can test against Rack master possibly.

[2016-03-11 14:50] dhh commented on #23997
Maybe @tenderlove can help us getting that committed?

On Fri, Mar 11, 2016 at 3:46 PM, Prem Sichanugrist <notifications@github.com

[2016-03-11 14:59] #20249 closed

[2016-03-11 14:59] #19785 closed

[2016-03-11 15:04] rafaelfranca commented on #20434
Fixed by https://github.com/rails/rails/pull/20450. Thanks

[2016-03-11 15:04] #20434 closed

[2016-03-11 15:04] #20485 closed

[2016-03-11 15:05] #20530 closed

[2016-03-11 15:07] #20591 closed

[2016-03-11 15:08] #20540 closed

[2016-03-11 15:08] #20597 closed

[2016-03-11 15:09] #20166 closed

[2016-03-11 15:09] #20043 closed

[2016-03-11 15:11] #20633 closed

[2016-03-11 15:15] #20740 closed

[2016-03-11 15:15] #20451 closed

[2016-03-11 15:16] #20610 closed

[2016-03-11 15:17] rafaelfranca commented on #20752
@tenderlove thoughts?

[2016-03-11 15:33] jonnyparris commented on #22965
@tpbowden Did you find a solution that doesn't disable forgery protection in the end? I think I'm facing the same problem and really struggling to make 'clean' progress.

[2016-03-11 15:36] tpbowden commented on #22965
Yes the problem was not passing enough headers through my reverse proxy (nginx) for Rails/Rack to determine whether the request was originally made using https or not (since it was already decrypted by the time it hit Rails)

[2016-03-11 15:38] jonnyparris commented on #22965
ahh, so how did you find out what was missing...and how did you add the missing headers? Thanks so much for the quick reply!

[2016-03-11 15:40] tpbowden commented on #22965
If you look at @afair's comment above he was referenced a correct Nginx config, you just need to add the x-forwarded headers related to ssl. I figured out which ones were missing by digging though the source code of Rack's request object to find out how it determine's the protocol of the request.

[2016-03-11 15:46] rovr commented on #24142
Seeing the same issue, except that I don't have any custom logic related to logger. The app just fails to boot:

    rails s

    => Booting WEBrick
    => Rails 4.2.6 application starting in development on http://localhost:3000
    => Run `rails server -h` for more startup options
    => Ctrl-C to shutdown server
    Exiting

    /Users/test/.rvm/gems/ruby-2.3.0/gems/activesupport-4.2.6/lib/activ

[2016-03-11 15:47] rafaelfranca commented on #24142
Can you please provide a sample application that reproduces the error?

[2016-03-11 15:59] jonnyparris commented on #22965
Alas @afair's config doesn't work for me. Moreover, my logs have been annoyingly sparse since adding my Puma config (but that's another story.)
Thanks anyway, I'll think on it.

[2016-03-11 16:02] arturoherrero commented on #24142
I think the error could be related with the [rails_12factor][1] gem, it was also referred in #23566. I'm still investigating.

[1]: https://github.com/heroku/rails_12factor

[2016-03-11 16:05] rovr commented on #24142
@arturoherrero You're right. Not seeing the error anymore after removing rails_12factor from the Gemfile.

[2016-03-11 16:11] rovr commented on #24142
@rafaelfranca You can reproduce the error on a blank rails app. If you add `gem 'rails_12factor'`, the app won't start.

[2016-03-11 16:23] rabbitt commented on #24142
@rovr that's a bug in `rails_12factor`, or more specifically `rails_stdout_logging` which has a PR (heroku/rails_stdout_logging#22) to address it.

[2016-03-11 16:24] jasper-lyons commented on #24142
Started having exactly the same issue today, my issue was with both:

`rails_12factor` and `ahoy_matey` see [here](https://github.com/ankane/ahoy/pull/144)

To recreate:

[code]
add `gem "rails_12factor"` to Gemfile
[code]

[2016-03-11 16:24] arturoherrero commented on #24142
I just found the same pull request @rabbitt. @rafaelfranca probably we can close this issue. Thanks!

[2016-03-11 16:37] sikachu commented on #24132
This is weird. I can help looking into this as well.

[2016-03-11 16:41] hilben opened #24156 "Executing query using ActiveRecord differs from querying the database directly"
### Steps to reproduce

https://gist.github.com/hilben/dbe1b716a302c2a3d473

1. Execute postgres query  ( ActiveRecord::Base.connection.execute )

[code]

### Expected behavior

Should return 2 elements (Same result as when querying postgres directly)

[code]

### Actual behavior

It returns three elements:

[code]

### System configuration

**Ruby version**:

ruby 2.3.0p0 (2015-12-25 revision 532

[2016-03-11 16:42] prathamesh-sonpatki commented on #24132
@sikachu Thanks, I was not able to look into more details today. But code which fails is present here - https://github.com/codetriage/codetriage/pull/454/files

[2016-03-11 17:05] #24142 closed

[2016-03-11 17:10] sikachu commented on #24132
After some investigation, this is actually a legit bug.

I tried to track down the location in which this cache store get introduced, and it's in AV's Railtie here: https://github.com/rails/rails/blob/v5.0.0.beta3/actionview/lib/action_view/railtie.rb#L42 (introduced in e56c6354)

I tried to put a `puts` statement there to see what `app.config.action_controller.cache_store` is. It turns out that t

[2016-03-11 17:26] vsorlov opened #24159 "Some issue in action view caching after updating to rails 3.2.22.2"
Hi, after updating to rails 3.2.22.2 we have an issue. I'll try to add a failing test.

### Steps to reproduce

when trying to render a file, `TemplateRenderer` receives the following options `{:file=>"public/404", :formats=>[:html], :status=>404, :template=>"index", :layout=>nil}`
because of this change https://github.com/rails/rails/compare/v3.2.22.1...v3.2.22.2#diff-d010ed2738c7b1e87f729689bbc8

[2016-03-11 17:26] sgrif commented on #23624
Going to close this to keep the discussion focused in one place. We can discuss this issue on #23997, as this appears to be the same issue.

[2016-03-11 17:26] #23624 closed

[2016-03-11 17:29] rthbound commented on #23624
@sgrif well it's fixed with the same PR... two separate changes for two separate problems. Fair enough to close, though.

[2016-03-11 17:31] rafaelfranca commented on #24159
There are not the steps to reproduce. I can't reproduce the issue with these steps. Could you please provide steps to reproduce this issue?

[2016-03-11 17:47] sgrif commented on #24156
Your query in the bug report does not specify the time zone. Active Record will use UTC, while psql will use your system time. The query in your reproduction script is malformed, and is not applying the `+0100` time zone as you think it is.

This is not a bug in Active Record. Please take questions like this to the mailing list, or stack overflow in the future.

[2016-03-11 17:47] #24156 closed

[2016-03-11 17:54] #23925 closed

[2016-03-11 17:56] sgrif commented on #24133
You could also do `rake db:schema:cache:dump && rails s ...` in your Procfile for Heroku. Closing, as there is nothing actionable here.

[2016-03-11 17:56] #24133 closed

[2016-03-11 18:33] sgrif commented on #24154
Unfortunately, there's no way to fix this in a backwards compatible way. Number formatting is a feature of Rails' view helpers, not I18n. The only way we could give you your expected behavior would be to pass everything through `ActiveSupport::NumberHelpers.number_to_delimited` before calling `I18n.translate`, but that would be a breaking change to anybody using format specifiers in their error me

[2016-03-11 18:33] #24154 closed

[2016-03-11 18:44] #20855 closed

[2016-03-11 18:45] #20110 closed

[2016-03-11 18:46] #20729 closed

[2016-03-11 18:47] #21038 closed

[2016-03-11 18:47] #21148 closed

[2016-03-11 18:48] #21117 closed

[2016-03-11 18:51] rafaelfranca commented on #21216
I'm not sure if this is something we want to fix. The automatic explain feature was removed and this is corner case that doesn't justify adding the complexity of walking the connection pool to find the right connection object. I'm closing.

[2016-03-11 18:51] #21216 closed

[2016-03-11 18:52] #21295 closed

[2016-03-11 18:56] #15138 closed

[2016-03-11 18:57] #21398 closed

[2016-03-11 18:58] #21437 closed

[2016-03-11 18:58] #21319 closed

[2016-03-11 19:02] #21659 closed

[2016-03-11 19:04] rafaelfranca commented on #20945
I believe this is being addressed with the AWDwR test suite. We should evolve it if we feel it is not sufficient but I don't want to introduce a new test infrastructure that does the same thing that the books suite do now.

[2016-03-11 19:04] #20945 closed

[2016-03-11 19:08] sgrif commented on #20945
I still feel that the book is not a great answer to this. Its test suite is not exhaustive, and is ultimately testing the book -- not Rails. Because of that, its structure makes it difficult to know what is or isn't covered, and there's not a good harness in place for tests to be added covering features or interactions that aren't covered by the book.

[2016-03-11 19:10] rafaelfranca commented on #20945
We also have the railties tests. It creates applications and can be as exhaustive we want it to be.

[2016-03-11 19:14] sblackstone commented on #24138
I'll see what I can do if time allows, thanks.

[2016-03-11 19:19] rubys commented on #20945
@rafaelfranca Note that @sgrif said "at the moment the closest thing we have to integration tests are the railties tests, but that is insufficient".  I agree.

@sgrif Note that @rafaelfranca said "We should evolve it if we feel it is not sufficient".  I fully support the notion of adding tests that cover things that the book does not cover.  If you want 'a "simple" Rails app, which includes the mi

[2016-03-11 19:19] sgrif commented on #20945
That's the reason I opened this issue. They're not as exhaustive as they should be, and I think we should work to improve it.

[2016-03-11 19:27] rafaelfranca commented on #20945
Yeah I agree with that but having the issue open here will not fix anything. We don't use the issue tracker to `things that needs to be improved' and this is the biggest reason that I closed it.

The only way to improve this is working on it. We can improve the integration test coverage as we need (what I prefer) or we can get someone focused on identifying what is missing and writing the tests. I

[2016-03-11 19:45] marklocklear opened #24160 "application_mailer.rb not being created when using generator"
### Steps to reproduce
Run the command `rails generate mailer StudentsMailer`

The output is:

[code]

The contents of students_mailer.rb are:

[code]

### Expected behavior
I would expect for the file app/mailers/application_mailer.rb to be created

### Actual behavior
File app/mailers/application_mailer.rb is not created. When you try to send mail you get the error `uninitialized constant Applic

[2016-03-11 19:48] rafaelfranca commented on #24160
Was not that file created when you created the application?

[2016-03-11 19:57] vsorlov commented on #24159
@rafaelfranca, seems it is something specific to our app. I can reproduce it with the following rspec test in our app
[code]

but in rails unit tests this code works without an error. I'm investigating the code, but didn't find the cause of the problem yet. I think it is better to close this issue for now, I'll reopen it if I find that the cause is in rails code.

[2016-03-11 19:57] #24159 closed

[2016-03-11 19:59] sgrif commented on #24112
You've got it backwards. `bar = foo.build_bar; bar.save` is not the same as `foo.create_bar`. And in your example, the problem isn't that `Foo` has the wrong instance of `Bar`, but that `bar.foo` returns `nil`. This is the expected behavior, as the association is never set the other way around until after saving, as it needs to know the id to work properly, and potentially has side effects when re

[2016-03-11 19:59] #24112 closed

[2016-03-11 19:59] chrisarcand commented on #22378
This is no longer an issue as `./bin/rails` is created now; can be closed.

[2016-03-11 20:00] marklocklear commented on #24160
You are correct! Thank you. I was running the generator on an older code base. Wondering if there should be a check to see if it is there, and create if not?

[2016-03-11 20:04] sgrif commented on #20945
Yeah, I'm fine with closing this. I just wanted to acknowledge that it doesn't mean our test coverage is sufficient.

[2016-03-11 20:05] rafaelfranca commented on #24160
Yeah, we should do that check. I'll keep this open to fix it.

[2016-03-11 20:05] #22378 closed

[2016-03-11 20:09] rafaelfranca commented on #24159
I think rspec had an issue with this fix when applied in Rails 4.2.

[2016-03-11 20:10] sgrif commented on #24117
We never mutate a `Relation`. When you call `.preload`, you're getting back a new object, not mutating the association.

[2016-03-11 20:10] #24117 closed

[2016-03-11 21:21] dzajic commented on #24112
@sgrif Thanks for the reply. AFAICT, in my steps to reproduce, both `self` and `foo.bar` are Bar instances, but have different `object_id`s. Also, this is adding to the confusion: https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/singular_association.rb#L37
[code]
Here the record is being built and the association is updated before saving.

[2016-03-11 22:24] sgrif commented on #24112
Correct. And you will see that the behavior is very different after calling `save` as a result of that fact.

[2016-03-11 22:40] sgrif commented on #24028
@matthewd Any updates on this? Let me know if you need some additional support to work on it.

[2016-03-11 22:40] dzajic commented on #24112
Yeah, that's what we ended up doing as a workaround. It's still surprising to me. At least anyone that runs into this in the future may find this issues and get an explanation. Thanks again.

[2016-03-12 00:07] rthbound commented on #23997
Looks like https://github.com/rack/rack/pull/1029 is now merged. Time to retest?

[2016-03-12 00:12] rthbound commented on #23997
The tests in the [reproduction script](https://gist.githubusercontent.com/simsalabim/6785d3c85bdd20f2e7c5/raw/61c119aac66adeaba298977bdede4de4a0d3f79c/rails_controller_params_bug_report.rb) now pass against master.

[2016-03-12 00:15] Sen-Zhang commented on #24160
revert this change? https://github.com/rails/rails/commit/293d35e256d282e3ea9d4d6277611e1e4d50dc96

[2016-03-12 01:25] rafaelfranca commented on #24160
Fixed. Thank you for reporting.

[2016-03-12 01:25] #24160 closed

[2016-03-12 02:43] heaven commented on #24117
@sgrif so `@program.program_days.each` seems does mutate it and `preload` doesn't? Not very clear to me how to solve my problem.

My exact code looks like this:
[code]

[2016-03-12 09:33] jonnyparris commented on #22965
I narrowed my issue down to nginx not playing well with 2 virtual hosts running at the same time. I'm trying to run a staging VPS and a production VPS using [jwilder's nginx-proxy](https://github.com/jwilder/nginx-proxy/).
Everything works fine using the standard generated conf file when only staging OR production is running. However I run into the `ActionController::InvalidAuthenticityToken` erro

[2016-03-12 15:09] fnando opened #24168 "Controller generator doesn't display all available options"
### Steps to reproduce

When running `rails g controller`, the output doesn't include all available options. This is the output for Rails 4.2.6:

[code]

And this is the output for Rails 5.0.0.beta3:

[code]

Notice that even though options aren't displayed, one can still use these options.

[code]

### Expected behavior

Help command should display all available options.

### Actual behavior

Hel

[2016-03-12 15:33] maclover7 commented on #24168
Looking into this.

[2016-03-12 16:17] maclover7 commented on #24168
Opened PR #24170 to fix this.

[2016-03-12 19:45] fnando opened #24172 "Route's `as: false` defines a route named `false`"
### Steps to reproduce

Create a route like the following:

[code]

### Expected behavior

The route must be generated without a name. That's how it works up to Rails 4.2. Using `as: nil` has the expected behavior in Rails 5.0.0.beta3.

### Actual behavior

The `false` route is defined.

[code]

### System configuration

- **Rails version**: 5.0.0.beta3
- **Ruby version**: 2.3.0

[2016-03-12 21:54] maclover7 commented on #24172
Investigating.

[2016-03-12 22:14] sgrif commented on #24117
If you need help, pleas ask on Stack Overflow or the mailing lists, where the greater community can assist you.

[2016-03-12 22:17] sgrif commented on #24172
Passing anything other than a string to that option is undocumented, and considered undefined behavior.

[2016-03-12 22:17] #24172 closed

[2016-03-12 23:35] devilankur18 opened #24173 "Actioncable emit and broadcast with in single channel."
### Steps to reproduce

Current version of actioncable supports the broadcast functionality well, but many times, need to emit data in channel, to single subscriber only.

Lets take a simple usecase of a chat:

A chat room with 10 users, and 200 messages already created by these users.

- Upon new message, broadcast it to all subscribers.
- Now first time when page load, it make sense to lazy load

[2016-03-13 01:06] maclover7 commented on #24173
Please use the mailing list for feature requests, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-03-13 01:06] #24173 closed

[2016-03-13 03:58] taggedboy opened #24176 "bundle install --local doesn't work."
### Why do I need --local switch?
I'm a person who a lot of times use the offline installation method and ri and rdoc to to work on rails applications when I'm away, or on some tour, so this is very needed feature for me.

### Steps to reproduce

[code]

### Expected behavior
It should use all the gems previously installed,
best for offline use, when the required gems and
their dependencies are al

[2016-03-13 07:30] vipulnsward commented on #23997
Thanks, this is now pending a rack release.

[2016-03-13 12:16] fnando opened #24179 "Make Rails' Minitest reporters loading configurable"
### Steps to reproduce

I'll use minitest-reporters. First, add it to the Gemfile:

[code]

Then load it at `test/test_helper.rb`:

[code]

Now run tests. You should see results from both Rails reporters and minitest-reporters.

![](https://dl.dropboxusercontent.com/s/zbfmhsn46d99hd3/2016-03-13%20at%209.15%20AM.png)

### Expected behavior

After disabling Rails custom reporters, only the output of

[2016-03-13 12:23] chashmeetsingh commented on #24176
@taggedboy while using rails 5.0.0.beta3 you can't bundle install locally as it requires active support , ......... others with version 5.0.0.beta3 and it seems you don't have them locally

[2016-03-13 13:50] maclover7 commented on #24179
cc @kaspth

[2016-03-13 15:00] rafaelfranca commented on #24176
If this is a bug it is a bundler bug

[2016-03-13 15:00] #24176 closed

[2016-03-13 15:24] perceptec commented on #23942
In the absence of feedback, I'd say have at it, and post any meaningful findings here.

If you haven't done so already, check out [Contributing to Ruby on Rails](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html) for tips.

And welcome!

[2016-03-13 16:22] kaspth commented on #23942
Welcome @ValMai! By all means do dig in :heart:

I'll go ahead and close this because we don't need this open to evaluate any pull request. Thanks!

[2016-03-13 16:22] #23942 closed

[2016-03-13 16:24] magikid commented on #13360
I can't reproduce this error with the ActiveRecord 4.2.6.

[2016-03-13 17:04] magikid commented on #9171
This issue is solved as of at least rails 3.2.22.2:
[code]

[2016-03-13 17:11] magikid commented on #12953
I'm not sure what versions @iwiznia was using but when I run this using ruby 2.3 and rails 4.2.6, all of the tests pass.

[2016-03-13 17:20] magikid commented on #16182
This is still failing in Rails 5 even after updating uniq -> distinct.

[2016-03-13 17:24] magikid commented on #14046
It looks @ghost deleted their account and the associated gist.  Does anyone still have reproduction steps?

[2016-03-13 18:01] arturmalecki commented on #14046
Sorry, this was 2 years ago. Don't remember how to reproduce it.

[2016-03-13 18:11] magikid commented on #14046
Ok, it looks like #

[2016-03-13 20:17] bughit opened #24181 "Relation#empty? (which is used by #any?) does a count which is needlessly more expensive than #exists?"
[code]

it should only care about a single matched row, anything beyond that is a potentially expensive waste

[2016-03-13 21:58] kaspth commented on #24132
@sikachu how does that square with @prathamesh-sonpatki's comment earlier? Reposted here:

I also don't see it in my app I've carried through Rails 5 betas. Is it CodeTriage you're seeing the error or one you've generated?

Thanks for digging in, both of you! :heart:

[2016-03-14 09:41] mikes01 opened #24183 "counter_cache is incremented twice times"
I have two models student and school with one to many relationship:

[code]

When I try update student (which doesn't belong to any school) with school with below code:

[code]

Counter cache student.school_count is incremented twice time.
When I replace above code with:

`@school.students << student`

It works fine.

Rails version: 4.2.5.1
Ruby version: 2.3.0

[2016-03-14 12:03] zlobz opened #24185 "ActiveModel::Type::ImmutableString, ActiveModel::Type::String #cast_value(value) freeze string value in-place"
### Steps to reproduce

not_frozen_string = ''
not_frozen_string.frozen? # false
cast_value(not_frozen_string)
not_frozen_string.frozen? # true
### Expected behavior

ActiveModel::Type::String#cast_value(value) doesn't freeze string value in-place
ActiveModel::Type::ImmutableString#cast_value(value) doesn't freeze string value in-place
### Actual behavior

ActiveModel::Type::String#cast_value(valu

[2016-03-14 13:04] sikachu commented on #24132
@kaspth that got me confused as well. Do you mind checking on your side what you see from running `rails c -e test` and `Rails.configuration.action_controller.cache_store`?

[2016-03-14 13:52] chashmeetsingh opened #24186 "destroy command"
### Steps to reproduce

- rails g controller abc
- rails d controller abc
- rails d controller abc

### Expected behaviour
Second time destroy is run it should say controller does not exist

### Actual behaviour
Shows log deleting controller and other related files created

### System configuration
**Rails version**:
4.2.6
**Ruby version**:
2.2.3

[2016-03-14 15:21] sanderhahn opened #24189 "self referential has_many through joins doesn't use table alias on where conditions"
### Steps to reproduce

The default_scope conditions don't use the table alias name when joined:
https://gist.github.com/sanderhahn/2e98c2b6d3441dc40909

Working reproduction script from @meinac that triggers the same problem on self referential STI:
https://gist.github.com/meinac/fef74b76a04989f9927d
### Expected behavior

The default_scope where should use the table alias in the where condition.

[2016-03-14 15:30] jturkel opened #24190 "Rolling back add_index should use the same concurrently algorithm"
### Steps to reproduce
- Create and run the following migrations to create a `products` table with an index:

[code]

[code]
- Run `rake db:migrate` to run the migrations
- Run `rake db:rollback` to undo the index migration
### Expected behavior

Since the migration created the index concurrently, I would expect undoing it to drop the index concurrently i.e. run the following SQL:

[code]
### Actu

[2016-03-14 15:42] alexanderfrankel commented on #23640
@leonardoprg
any updates on the status of this fix? i saw the PR is still open...
this fix is going to be welcomed with open arms, so thanks!

[2016-03-14 16:02] KevinBongart opened #24191 "Test the validity of each attribute independently?"
I made [a small gem to run specific validator on specific attributes of an object independently](https://github.com/KevinBongart/valid_attribute), any interest in getting this into Rails? Happy to turn it into a PR!

Here's the full implementation, which can be refactored and modernized for Rails 5: https://github.com/KevinBongart/valid_attribute/blob/master/lib/valid_attribute.rb

### Steps to re

[2016-03-14 16:05] rafaelfranca commented on #24191
Thank you for the suggestion. Validations are not tied to only one attribute neither to attributes so I don't think it is a good idea to check the validity of only one attribute.

[2016-03-14 16:05] #24191 closed

[2016-03-14 16:21] KevinBongart commented on #24191
@rafaelfranca Fair enough, though I'd love to know more about what you mean by "Validations are not tied to only one attribute", since I wrote this gem specifically because I needed to run one validator on one attribute.

My guess is it depends on the context, and for most people this `valid_attribute?` method has no value, so I'm perfectly fine keeping it as a gem.

[2016-03-14 16:33] rafaelfranca commented on #24191
Validations can happen in any aspect of the model not just attribute. One
validation may need a combination of two attributes to pass, it may depend
in a existent pre condition in the database, or in a configuration. A
validation can also only run if a validation in other attribute already
ran. Because of these cases I believe validating only one attribute can be
misleading.

On Mon, Mar 14, 2016,

[2016-03-14 16:44] leonardoprg commented on #23640
@alexanderfrankel

Yes the PR is still open, is need someone from rails team review it.

I will comment again on PR and try that someone review it.

[2016-03-14 17:12] KevinBongart commented on #24191
Ah, I see. Makes sense. Thanks for the explanation!

[2016-03-14 18:58] zmoazeni opened #24193 "Setting `from("some_string")` fails when eagerly loading an association"
### Steps to reproduce

Assume a codebase with the following simple data model:

[code]

For larger applications, we sometimes need to give the database query planner hints as to what indexes to use. For example https://github.com/mirakui/activerecord-mysql-index-hint

That boils down to overriding the `from()` in the query:

[code]

That works swell for the most part until you bring in `eager_loa

[2016-03-14 20:00] marklocklear commented on #24160
Thanks all!

[2016-03-14 20:44] zmoazeni commented on #24193
I changed the title of the description because it's not isolated to SQL hints. Setting `from()` with any string will result in the same error:

[code]

[2016-03-14 20:49] arthurnn commented on #23818
@thesmart do you wanna try to implement that and send a PR? cc me on it, so i will take a look.
Thanks

[2016-03-14 21:19] kaspth commented on #24132
Sure thing! When tracking master and beta3 I get:

[code]

[2016-03-14 21:33] Zapotek opened #24195 "NoMethodError with incomplete datetime data in model"
### Steps to reproduce

Unfortunately I haven't managed to reproduce it with the template, the code basically looks like:

[code]
### Expected behavior

When calling `task.start_at` it should return `nil` and not raise a `NoMethodError` exception.
### Actual behavior

The above works when run by itself, but produces the following error when it's being executed as part of a Rails application:

[cod

[2016-03-14 21:33] kamipo commented on #24193
Workaround:

[code]

[2016-03-14 21:51] zenspider commented on #24179
This suggests that rails is still not using minitest correctly. The reporter setup is totally malleable.

[2016-03-14 22:08] kaspth commented on #24179
@zenspider agreed. I'm having trouble seeing how our reporters can co-exist with others, though. Currently we just zap Minitests existing ones, https://github.com/rails/rails/blob/4232f7ee427a510eb07e420f5883611bcb0abfae/railties/lib/rails/test_unit/minitest_plugin.rb#L87-L89, which causes these problems.

I've noticed Minitests pride plugin replaces the io passed to the reporter is that generally

[2016-03-14 22:42] Zapotek commented on #24195
I should also mention that it worked fine with Rails 4.2.3.

[2016-03-14 23:37] zenspider commented on #24179
@kaspth actually that looks fine to me. So the problem is more along the lines of minitest-reporters either not fully zapping everything else and taking over or at least not selectively adding reporters?

[2016-03-14 23:41] fnando commented on #24179
@zenspider can the loading plugin order affect this?

[2016-03-15 00:23] zenspider commented on #24179
@fnando shouldn't. I mean... it'll affect which one is printing first, right? But the problem here is that there are too many cooks in the kitchen.

[2016-03-15 01:16] FabianoVilela opened #24200 "PG::ConnectionBad: fe_sendauth: no password supplied"
### Steps to reproduce
rails console
User.create(name: "Fabiano")

### Expected behavior
Insert data in database

### Actual behavior
PG::ConnectionBad: fe_sendauth: no password supplied

        from /home/vagrant/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/activerecord-5.0.0.beta3/lib/active_record/connection_adapters/postgresql_adapter.rb:647:in `initialize'
        from /home/vagrant/.rbenv

[2016-03-15 01:35] maclover7 commented on #24200
Can you post the contents of the database.yml?

[2016-03-15 05:06] jeffblake commented on #24133
Thanks @sgrif, thats a cleaner solution. Having it in an initializer caused it to be ran twice during the push to Heroku.

[2016-03-15 12:37] jbmyid commented on #23538
Yes looks like it is project specific but still couldn't figure it out.

[2016-03-15 12:37] #23538 closed

[2016-03-15 13:22] georgemillo opened #24208 "alias_attribute in a PORO crashes unintuitively when the first argument ends in a question mark."
As stated in the title: when I use `alias_attribute` in a PORO for the common use case of creating a "ends in question mark" alias for an attribute that should be boolean (just like AR automatically does for boolean columns), I get a syntax error:

[code]

After some confusion, I realise that this is actually probably the intended behaviour, because *attribute* names shouldn't end in `?`; I should

[2016-03-15 15:40] vsorlov opened #24209 "ActiveJob. What do you think of adding sidekiq options support?"
Hi, sidekiq have pretty crucial feature - sidekiq_options, what do you think of adding options class setter to ActiveJob, that all other adapters can use?

[2016-03-15 15:41] rafaelfranca commented on #24209
Thank you so much for the issue but we don't take feature request on the issue tracker. We recommend you to try to implement the feature and send us a pull request or if you are in doubt if the feature will be accepts ask in Rails Core mailing list for feedback.

[2016-03-15 15:41] #24209 closed

[2016-03-15 17:20] chashmeetsingh opened #24211 "Set value jQuery issue"
### Steps to reproduce

- Create a form
- make an input field
- submit button on click call function
- set value in the form field using jQuery

### Expected behaviour
Value persists until page refresh

### Actual behaviour
When the button is clicked it does set the value in the form input field but also sends a get request which causes the page to refresh removing the value

### System configurat

[2016-03-15 17:25] rafaelfranca commented on #24211
This is the expected behavior, it is how browser works. Even if you think it is an issue it is not a Rails issue because we don't have any javascript code.

[2016-03-15 17:25] #24211 closed

[2016-03-15 18:36] blm768 commented on #14176
If there's still interest in fixing this, I'm getting bitten by a similar issue. We really could use a good way to specify which database/connection holds the schema_migrations table. I don't have any real experience with Rails internals, but I might be able to play with some ideas.

[2016-03-15 18:57] eliasjpr commented on #24208
Hey @georgemillo I have created a gist for your test case https://gist.github.com/eliasjpr/905a9ece5534cac57b90.

[2016-03-15 19:08] jeremy commented on #14176
We use separate schema.rb for each database and specify the database connection within it. It's a bit tricky to set up, but it's possible!

Along with hacks necessary in each version of Rails, here's what a secondary schema.rb looks like. This works Rails 2 through Rails 5:
[code]

And here's a migration, also overriding the connection to use:
[code]

Then we add Rake tasks to coordinate schema du

[2016-03-15 19:33] eliasjpr commented on #24183
@mikes01 can you please create a test gist https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2016-03-15 20:18] blm768 commented on #14176
That's an interesting solution. I've seen the technique of redefining `Migration::connection`, but I've never seen someone subclass Schema.

For what I'm trying to do, I think the first step would just be fixing the hard-coded connection references in `Migrator`. I've got an app that uses Active Record but not the rest of Rails, and I'm building a Rails front-end for it. The Rails-less app has its

[2016-03-15 20:25] aaronang commented on #24186
I just confirmed the same behavior.

[2016-03-15 20:35] qrush opened #24213 "ActionController::Base#wrap_parameters not wrapping unlisted attributes"
Rails 5 seems to have a bug where `wrap_parameters` isn't properly wrapping attributes that are not included as an attribute on the model. Expected behavior would be that if `wrap_parameters` is on for a given format, then it should wrap **everything** given to the controller.

Here's a [failing test case](https://gist.github.com/qrush/1d24c0ab9bffb84c176f) (`test_wrapping_unlisted_attribute`) alo

[2016-03-15 21:11] maclover7 commented on #24213
Only `test_wrapping_unlisted_attribute` is supposed to be failing, right? Just double checking :)

[2016-03-15 21:16] jeremy commented on #24213
This is documented behavior, not a bug.

Cool to make a case for better behavior, though!

[2016-03-15 21:24] jeremy commented on #14176
👍 👍

[2016-03-15 21:47] chrisarcand commented on #24186
Indeed, I'm looking in to this issue.

Note that this is true of anything that isn't a migration, and it needn't be created ahead of time. You can `rails d * *` and the output is the same. It also affects all versions; it's not _quite_ so much a bug as it is a slight inconvenience that it doesn't verify existence like migrations do.

[2016-03-15 22:46] kswope commented on #22908
This is in the documentation but I also get the same error as the OP.  Something is wrong somewhere.

https://github.com/rails/rails/tree/master/actioncable

[code]

[2016-03-16 00:16] nybblr opened #24214 "Changing foreign key fails to update cached association if record was loaded through association"
### Steps to reproduce

Given two models:

[code]

And an instance of both:

[code]

Loading the post through user causes association to become decoupled from changes to foreign key:

[code]

### Expected behavior

The last line should print out `2`, as it does when loading the Post directly:

[code]

### Actual behavior

It seems the belongs_to record is being cached, regardless of changes to the

[2016-03-16 01:09] blm768 commented on #14176
I can think of a couple of ways to handle the hard-coded connection references in `Migrator`. The least intrusive would be to define a `#connection` method which returns `AR::Base.connection` and can be redefined in subclasses.

The other is to offer an optional connection parameter in `#initialize`. It could clutter the interface because we already have three parameters there (including an option

[2016-03-16 03:47] meinac commented on #24189
For someone who is interested with this issue, [here](https://gist.github.com/meinac/fef74b76a04989f9927d) is a reproduction script to work with(The original one is not ready to go).
@sanderhahn can you verify that this is a similar scenario with yours.

[2016-03-16 10:20] sanderhahn commented on #24189
@meinac Thanks! Your reproduction script seems to have the same problem on the type condition. So the problem may not default scope specific.

[2016-03-16 12:22] maclover7 commented on #24214
Hmm.. I think this is expected behavior, to have new changes pushed to records on a `reload`, and to have the data be "frozen" in the object...

[2016-03-16 13:23] leonardoprg opened #24216 "to_json include option doesn't call as_json/to_json recursively"
Hello guys,

When I tried to call `to_json` passing include options (and it's a association),
`to_json` is only called for the root model.

how you can guys can see [here](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/serialization.rb#L124)

for the associations it just call the `raw method name`.

On my understand, once I defined on the model, how the model should render

[2016-03-16 13:25] nybblr commented on #24214
If so, this behavior is at odds with https://github.com/rails/rails/issues/5744—when a record is loaded directly.

[2016-03-16 13:45] mearleycf opened #24217 "Versioning/Vulnerability issue with mail gem"
### Steps to reproduce

- Set your Gemfile to call for mail ~>2.6.0 (Or gemfile.lock, whatever you prefer)
- Run bundle install

### Expected behavior
I want to be able to use the non-vulnerable version of the mail gem, which is a dependent of action mailer.

### Actual behavior
[code]
[code]

### System configuration
**Rails version**: 3.2.22.1

**Ruby version**: ruby 2.0.0p645 (2015-04-13) [x86_

[2016-03-16 16:14] ryush00 opened #24219 "PG::NotNullViolation: ERROR: null value in column "created_at" violates not-null constraint"
### Steps to reproduce
There is no way to reproduce this problem.

I start the server. It works great during only a few hours. After a few hours, It show me the error.

### Expected behavior
Insert record without error.

### Actual behavior
https://gist.github.com/ryush00/322cd74b3d8ed07d99ba

### System configuration
**Rails version**: 4.2.5.2

**Ruby version**: 2.2.4

**db.yml**

[code]

**deplo

[2016-03-16 16:32] rafaelfranca commented on #24217
Rails 3 is not supported anymore.

[2016-03-16 16:32] #24217 closed

[2016-03-16 19:00] kaspth commented on #24132
I'm gonna close this because I can't reproduce with a standard Rails app generated from beta3. It might be a problem with CodeTriage and one of its dependencies. Thanks for looking into this! :heart:

[2016-03-16 19:00] #24132 closed

[2016-03-16 19:01] alvarocantador commented on #24216
+1

[2016-03-16 22:28] batter opened #24220 "ActiveModel::Dirty #{attribute_name}_changed? returning nil instead of false"
### Steps to reproduce
[Here's a gist using the ActiveRecord bug template demonstrating the issue](https://gist.github.com/batter/6947876631e7d72144c9)

### Expected behavior
I would expect that calling `ModelKlass.new.attribute_name_changed?` to always return `true` or `false`. Specifically in this case it should return `false` if the attribute has yet to changed, since it is a method with a ques

[2016-03-16 22:55] maclover7 commented on #24220
This was caused by c7802dccba69517083000261477f7e1d410e1cca -- cc @sgrif

[2016-03-16 22:56] maclover7 commented on #24216
To me, this seems like expected behavior -- you are merging in extra parameters on `Comment`s.

[2016-03-16 22:58] maclover7 commented on #24219
Hmmm... if there's no clear way to reproduce the problem, then there's no clear way to fix it :grimacing:

[2016-03-16 23:05] jeremy commented on #24220
We generally treat treat `?` methods as truthy, not literally boolean. But I think it's reasonable to be flexible, particularly when it's an otherwise-boolean value changing on a stable release line.

[2016-03-16 23:10] sgrif commented on #24220
`attribute_changed?` doesn't even show up in the documentation, but `changed?` is documented as returning a boolean, so I'm willing to call this one a bug as it implies that `attribute_changed?` would return a boolean as well. http://api.rubyonrails.org/classes/ActiveModel/Dirty.html#method-i-changed-3F

[2016-03-16 23:11] sgrif commented on #24219
We cannot possibly address an issue without some way to reproduce it. This is likely an issue with your application, not Rails itself. If you're able to provide a minimal Rails app which can reproduce the issue, please re-open.

[2016-03-16 23:11] #24219 closed

[2016-03-16 23:12] sgrif commented on #24185
The entire point of the `ImmutableString` type is to avoid duplicating the string. If you need mutability, don't use it. We never use this type by default.

[2016-03-17 00:54] sgrif commented on #24200
This isn't an issue with Rails, you don't have your development environment correctly set up. Please take questions like this to Stack Overflow where the community at large can help you.

[2016-03-17 00:54] #24200 closed

[2016-03-17 01:13] fxgallego commented on #20752
Hi, got here by ActionView::PathResolver#find_template_paths. In the RubyProf it  report takes 94% time rendering a template in app/views/application. Performance gets better when moving the template to the same folder in which is called. My app is not so big but a  I noticed this problem running on windows.
This is Rails 4.2.4 Ruby 2.2.4 (W10)

[2016-03-17 03:26] FabianoVilela commented on #24200
Ok, thank you!

[2016-03-17 03:28] LcpMarvel commented on #22408
+1

[2016-03-17 07:15] bryanrite commented on #24219
@ryush00 I have seen this when a record is created as part of a transaction, rolledback, then attempted to save again. Not sure what your context is, but that might help you narrow it down.

[2016-03-17 09:36] milep opened #24222 "Reference to request.flash left in request.rb"
### Steps to reproduce

Call reset_session on api only project.

https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/http/request.rb#L340

https://github.com/rails/rails/commit/add46482a540b33184f3011c5c307f4b8e90c9cc#diff-3179d24efacadd64068c4d9c1184eac3

### Expected behavior
Should reset session

### Actual behavior
Throws exception NoMethodError (undefined method `flash='

[2016-03-17 10:49] leonardoprg commented on #24216
@maclover7

Yes, I am,

so, for that reason when I call

`post.to_json(include: :comments)`

it should return a json with comments **and "test" attribute**

but, if you execute the test, it return just

`{"id"=>1, "comments"=>[{"id"=>1, "post_id"=>1}]}`

[2016-03-17 16:06] fxgallego commented on #20752
Tested on JRuby on windows and the same problem. Same app on linux works ok and changing the template locations makes no difference. Clearly it's a problem related with the number of system calls and how fast is the call depending on the OS / filesystem.

[2016-03-17 17:41] Sen-Zhang commented on #24220
Integer type attributes have the same problem too.

[2016-03-17 17:50] tenderlove commented on #20752
Template paths should be cached in production.  Just to be clear, this is an issue in *development*, right?  I *think* we have some code to watch the FS now (/cc @matthewd), and if we can watch the FS we should know when to expire caches.  If we can get the cache to expire correctly, then I don't see a problem caching in dev.

[2016-03-17 17:58] fxgallego commented on #20752
@tenderlove yes, for me it's development only.

[2016-03-17 18:23] mikes01 commented on #24183
@eliasjpr here is a test gist: https://gist.github.com/mikes01/934e7248525e87d1a08c

[2016-03-17 18:41] bughit opened #24228 "rails DateTime#<=> override does not do coercion as the original ruby <=> does"
in plain ruby `DateTime.now <=> non_time` will call `#coerce` on `non_time`, the rails override does not:

[code]

why does it call super only for `Infinity`, should be:

[code]

[2016-03-17 20:09] maclover7 commented on #24222
Working on this.

[2016-03-17 20:25] maclover7 commented on #24222
@rafaelfranca- opened up PR #24229 to solve this, and added a regression test :)

[2016-03-17 20:35] maclover7 commented on #24183
Script fails on 4-2-stable for me.

[2016-03-17 20:58] hallmatt opened #24230 "`Could not render layout: undefined local variable or method `mailer' for #"
### Steps to reproduce

Run command `rails generate mailer LoanMailer`

Add code to mailer:

[code]

Call mailer:

`LoanMailer.notify.deliver`

### Expected behavior
The email should be sent and delivered to the recipient.

### Actual behavior
[code]

### System configuration
**Rails version**: Rails 5.0.0.beta3

**Ruby version**:
ruby 2.2.2p95

Switching the layout line in application_mailer.rb s

[2016-03-17 21:17] hallmatt commented on #24230
I believe this is fixed with my PR

[2016-03-17 21:59] ReganRyanNZ opened #24232 "Scope with enum doesn't accept symbols"
### Steps to reproduce
Migration:
[code]

Model:
`enum approval_status: [:pending, :approved, :declined]
`
Console:
[code]
SQL statement on broken code:
`User Load (0.4ms)  SELECT `users`.* FROM `users` WHERE `users`.`approval_status` = NULL
`
Any symbol turns into NULL in the SQL code.

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_o

[2016-03-18 01:44] sahal2080 commented on #16446
Using rails 4.2.2, still there.

[2016-03-18 04:32] jeremy commented on #22675
#24233 will revert the changes in #23649. Making ad hoc changes to the cable message format is going to sting us, introducing errors and confusion about the proper protocol. Once we can version the protocol, we can make a case for removing the unnecessary JSON encoding for identifier and data values.

[2016-03-18 06:39] nfm commented on #13360
@magikid I think you're right :) It seems to be have been fixed in 4.2.0. The bug reproduces in 4.1.15 for me using the above script, but 4.2.0+ behaves correctly. I haven't tracked down the commit that fixes the issue though.

[2016-03-18 06:39] #13360 closed

[2016-03-18 07:08] dungdm93 opened #24234 "PostgreSQL json PG::InvalidTextRepresentation"
### Steps to reproduce

Migration:
[code]

Console:
[code]
**Note**: errors is raised with both `json` n' `jsonb` data type.
### Expected behavior

New `foobars` record with column `attr` value = `"PostgreSQL JSON"`

### Actual behavior
[code]
### System configuration
**Rails version**: 4.2.4
**Ruby version**: MRI 2.2.3p173

[2016-03-18 07:35] dungdm93 commented on #24234
I have tried assign ```Foobar.attr``` with other data types:
Here is summary:

- `String`:
    - Raw string:

[code]

    - JSON string

[code]

- `Number`, `Boolean`, `Nil`, `Array`, `Hash`:

[code]

- Serializable Object

[code]

[2016-03-18 08:21] atinder90 commented on #21325
Facing same issue with fresh installation of Rails 4.2.5
Sample app https://github.com/atinder90/rails-mailer-bug

[2016-03-18 09:58] threedaymonk opened #24235 "Incorrect rounding in decimal columns"
When assigning certain floating-point values to a PostgreSQL decimal column, the least significant digit is off by one. This happens on a new record, before any database writes occur.

### Steps to reproduce

The following code will demonstrate this:

### `Gemfile`

[code]

### `test.rb`

[code]

Running with an appropriate `DATABASE_URL` for an existing database, e.g.

[code]

yields this output:

[2016-03-18 10:05] koenpunt opened #24236 "The v2.3 link on RailsGuides redirects to edgeguides"
### Steps to reproduce

Visit this link http://guides.rubyonrails.org/v2.3/

### Expected behavior

It displays the guides for Rails 2.3

### Actual behavior

It redirects to http://edgeguides.rubyonrails.org/

[2016-03-18 11:52] CarlosSoares commented on #24216
+1

[2016-03-18 12:33] maclover7 commented on #24236
cc @fxn

[2016-03-18 12:53] Gaurav2728 commented on #24236
@maclover7 @koenpunt  May be prior to Rails 3.0 `http://guides.rubyonrails.org/` is not available (maintain) currently.

[2016-03-18 12:55] koenpunt commented on #24236
Not entirely, http://guides.rubyonrails.org/v2.3.11/ does work

[2016-03-18 12:56] Gaurav2728 commented on #24236
@koenpunt  you can use http://guides.rubyonrails.org/v2.3.8/

[2016-03-18 14:35] EdDeAlmeidaJr commented on #24216
+1

[2016-03-18 15:09] poc7667 opened #24237 "TypeError (can't dump Socket): with mongoid 5 on Rails 4.2.3"
TypeError (can't dump Socket): with mongoid 5 on Rails 4.2.3

I tried to cache the controller method,

However, I ran into confuse exception.

# app/controllers/api/v1/comments_controller.rb

      def load_comments
        @og_url = params["og_url"]
        @preloaded_comments = Rails.cache.fetch(@og_url, expires_in: 2.seconds) do
            Comment.find_with_celebrity_profile(@og_url)
        e

[2016-03-18 15:25] xzo commented on #24185
@sgrif
Rails uses ImmutableString by default.
[code]

[2016-03-18 15:35] robrace commented on #24237
What is the type of the response from `collection.aggregate`? My guess would be that it is not returning an array, even if it has previously, thus Rails.cache.fetch can't dump and store it.

[2016-03-18 15:38] vandrijevik opened #24238 "ActiveRecord, as of 4.2, inconsistently raises RangeError on some read-only queries, but not others"
### Steps to reproduce

1. Pick any database table that has a 32-bit integer column. Any table with a default `id` column will do (provided that it is the usual `int(11)` on MySQL or `integer` on PostgreSQL). Suppose you pick `people`, corresponding to the ActiveRecord model `person`.
1. Execute `Person.where(id: 2147483648).exists?`

### Expected behavior
The query should return `false`. I base t

[2016-03-18 15:48] poc7667 commented on #24237
In mongoid 5,  it should be ` #<Mongo::Collection::View::Aggregation:0x007fbb95e5d938`

[2016-03-18 15:57] vandrijevik commented on #24238
For easier replication, [ar42_range_error.rb.txt](https://github.com/rails/rails/files/179967/ar42_range_error.rb.txt) is a self-contained script which shows the problem – GitHub doesn’t allow `.rb` as an attachment extension, so just rename the file.

[2016-03-18 16:22] robrace commented on #24237
You can see in the Ruby documentation that Marshal.dump can't serialize your object:

[Ruby Doc Marshal.dump](http://ruby-doc.org/core-2.3.0/Marshal.html#method-c-dump)

I would imagine, just adding a `.to_a` to your `Mongo::Collection::View::Aggregation` should allow it to be serializable and thus storable in `Rails.cache.fetch` block.

[2016-03-18 16:29] tenshilg opened #24239 "Method missing when including ActionController::Cookies in Rails 5.0 API"
### Steps to reproduce
Hello guys,
Can't include **ActionController::Cookies** into controller inherited from **ActionController::API**
[Here is a gist reproducing the bug] (https://gist.github.com/tenshilg/056076c0507709c587b7)

### Expected behavior
Successfully included **ActionController::Cookies** into **ApplicationController** inherited from **ActionController::API**

### Actual behavior
Can

[2016-03-18 16:31] matthewd commented on #24238
This is expected behaviour. It's a consequence of using prepared statements: we're not running the query you think we are. We're actually doing:

[code]

(Similarly, note the different query plans for the "direct" query, comparing the 2147483648 version with one that's in-range.)

We're able to special-case `Model.find` and `Model.find_by`, because we know out-of-range means no record. In the gene

[2016-03-18 16:31] #24238 closed

[2016-03-18 17:01] Unknown-Guy opened #24241 "TypeError: no implicit conversion of Hash into String when action_mailer.default is set"
### Steps to reproduce
[code]
Set ``action_mailer.default`` in ``config/environments/development.rb``
[code]
Start console and try including non existing module

### Expected behavior
Should get ``NameError: uninitialized constant``

### Actual behavior
[code]
I added dumb output in ``search_for_file`` method and it seems ``config.action_mailer.default`` has somehow been added to ``autoload_paths`

[2016-03-18 18:36] sonianand11 commented on #24239
Hi @tenshilg , I new to contribute in Rails, but I tried to resolve your issue. I got your code working when I  add `AbstractController::Helpers` in `ActionController::API` modules at here https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/api.rb#L112

Here is how it looks like :
[code]

[2016-03-18 18:48] vandrijevik commented on #24238
Thanks for the reply, @matthewd! I must say, this is very surprising behavior to me, especially since AR now behaves differently in the three cases (where it did not use to), but even more so because a jump from 4.1 to 4.2 results in such a big and breaking API difference.

[2016-03-18 18:59] cavneb commented on #23699
:+1: We are also running into this issue (jruby 9.0.4.0) / Rails 4.2.3

[2016-03-18 19:13] tenshilg commented on #24239
@sonianand11, I've already made a pull request couple of hours ago with almost the same solution you've written here

[2016-03-18 19:23] sonianand11 commented on #24239
oh, my mistake.

[2016-03-18 20:00] sikachu commented on #24236
We redirects all 404s to `edgeguide` because we _assumes_ that those ones that aren't available are available in newer versions, and we stopped building guides/docs for the old version.

@fxn maybe we should add more rewrite rules to redirect 2.3.* and 3.0.* to the latest known version in those majors.

[2016-03-18 21:20] batter commented on #24220
@Sen-Zhang as per my understanding, the attribute type does not matter for this

[2016-03-18 21:47] Sen-Zhang commented on #24220
@batter I agree

[2016-03-18 23:01] maclover7 commented on #24237
I think this is a third party issue, specifically a problem related to your Mongoid usage.

[2016-03-18 23:01] #24237 closed

[2016-03-18 23:11] maclover7 commented on #24241
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-03-19 01:45] sgrif commented on #24185
Keeping a strong reference to anything passed to Active Record violates the ownership contract. Mutating that value would cause unexpected bugs to occur. You must access that value via `user.name`

[2016-03-19 01:52] willnet commented on #24232
I created a [executable test case](https://gist.github.com/willnet/849307d14cc39ef3b11b) for this issue :smiley:

[2016-03-19 02:02] willnet commented on #24232
It also doesn't work with 4.2.6 and 4-2-stable, but works with 5.0.0.beta3 and master

[2016-03-19 02:21] Edouard-chin opened #24246 "`attribute` not backed by a db column crashes when `partial_writes` is set to false"
Not sure if this is a legit issue or an undocumented side effect of using both `attribute` and setting `partial_writes = false` at the same time.

### Steps to reproduce

Please find this gist reproducing the bug: https://gist.github.com/Edouard-chin/b0233d159d6132662309

### Expected behavior
From rails doc [Attributes do not need to be backed by a database column](http://edgeapi.rubyonrails.org/

[2016-03-19 02:21] rafaelfranca commented on #24232
Yes. It is only fixed in rails 5.

[2016-03-19 02:21] #24232 closed

[2016-03-19 02:58] Edouard-chin commented on #24246
Still new to rails and actively reading the codebase, I was wondering in what circumstances would we want [arel_attributes_with_values] (https://github.com/rails/rails/blob/master/activerecord/lib/active_record/attribute_methods.rb#L427) method to return a un-persistable `Arel::Attributes::Attribute`?

[2016-03-19 10:52] csmuc opened #24248 "Boot time: ActionDispatch::Routing::RouteSet is very slow (delegation / anon modules)"
I'm currently profiling the boot time of a large Rails application (400+ controllers, 2000 LOC routes) and noticed that `Module#delegate` takes a significant amount of time (using the StackProf gem):

[code]

The culprit is `ActionDispatch::Routing::RouteSet`, which creates anonymous modules including the usage of some delegation. The implementation of the `delegate` method raises an error if the

[2016-03-19 13:28] theAJFM commented on #24216
I think this has been discussed before.

See [https://github.com/rails/rails/issues/576](url) or/and [https://github.com/rails/rails/pull/2200](url)

[2016-03-19 14:57] rafaelfranca commented on #24248
Have you profiled with rails 5? Performance improvements are never done in
stable releases.

On Sat, Mar 19, 2016, 07:52 Christian Seiler <notifications@github.com>
wrote:

[2016-03-19 15:07] willnet opened #24249 "text_field doesn't display correctly with attribute default value of Proc"
### Steps to reproduce

[executable test case](https://gist.github.com/willnet/ad7051680a340624b72c)

- create new rails project
- rails g scaffold post title
- rails db:migrate
- modify post model like following

[code]

- rails s
- visit http://localhost:3000/posts/new

### Expected behavior

![image](https://cloud.githubusercontent.com/assets/82371/13899309/5948ba04-ee2e-11e5-937a-0dbe272f5503.

[2016-03-19 15:29] fnando commented on #23422
Rails clearly has a broken behavior here because `belongs_to/references` is not respecting a system-wide configuration. Would a PR fixing this be accepted?

[2016-03-19 15:37] csmuc commented on #24248
Updating to Rails 5.0 is non-trivial for that large app, but it seems like the issue has indeed been fixed in master. @tenderlove also stumbled upon this https://github.com/rails/rails/commit/1fb9e6eff71eb84b6cb620282c15b7b89d8e70c1

[2016-03-19 15:37] #24248 closed

[2016-03-19 16:05] rthbound commented on #24239
@tenshilg I'm not sure this is a bug. The middleware stack for an API application is intentionally trimmed down. Cookies are a browser thing.  Requests bound for an API could come from browsers, but they could also come from anywhere else.

I'm assuming your goal is to **read** (_not_ write) the value of a cookie inside your API controller. I'm also assuming the content of that cookie represents s

[2016-03-19 16:25] tenshilg commented on #24239
@rthbound, I'm not sure that we are on the same page with you. I don't want to add the cookies middleware into the default middleware stack in API mode. I want to fix an ability to include cookies into your controller if you need it. At least the ability to do so is mentioned in [rails guides](http://edgeguides.rubyonrails.org/api_app.html#choosing-controller-modules)

[2016-03-19 20:09] codeodor opened #24251 "Development logging is inconsistent in Rails 5 beta 3"
### Steps to reproduce

Upgrade 4.2.6 app to 5.0.beta3
Try to load a page.
View the development.log file.

### Expected behavior
The development.log file and console screen should be written to.

### Actual behavior
Sometimes it writes, sometimes it doesn't.

### System configuration
**Rails version**: 5.0.beta3

**Ruby version**: 2.3.0

[2016-03-19 20:15] rafaelfranca commented on #24251
Can you please provide a sample application that reproduces the error?

[2016-03-19 20:17] codeodor commented on #24251
@rafaelfranca when I switched to thin from Webrick, the problem went away. Maybe the issue is in Webrick. I'll close for now.

[2016-03-19 20:17] #24251 closed

[2016-03-19 20:20] mysmallidea commented on #23923
I'm also having this problem, just like @anthonator described. Json responses are raising ActionView::MissingTemplate instead of rendering inline json.

The example app above does reproduce it for me.

[2016-03-19 21:06] shakycode commented on #24251
@codeodor I had the exact same problem with webrick.  I used thin and had no problems.

[2016-03-19 21:21] Unknown-Guy commented on #24241
This line https://github.com/rails/rails/blob/master/actionmailer/lib/action_mailer/railtie.rb#L69 adds ``config.action_mailer.default`` to path.

It seems setting ``default`` on ``ActiveSupport::OrderedOptions`` instance will return this default for any option that's not set explicitly. In a nutshell this is what happens:
[code]

Is this intended behaviour?

[2016-03-19 21:49] rafaelfranca commented on #24241
`default` is not a valid option. What you are looking for is `default_options`. The behavior you are seeing is a consequence of `OrderedOptions` inheriting from `Hash` and because of that it has a `#default=` method.

[2016-03-19 22:03] Unknown-Guy commented on #24241
Yes, but this was OK way to set options in previous rails versions. And it is still mentioned here https://github.com/rails/rails/blob/master/actionmailer/lib/action_mailer/base.rb#L499

This might bite quite a lot of people upgrading rails.

[2016-03-19 22:05] rafaelfranca commented on #24241
And it still is. The documented method is `#default` but you are using the `#default=` method, and that method is from Hash.

[2016-03-19 22:18] maclover7 commented on #24249
Is passing a `Proc` supported, as per the documentation?

[2016-03-19 23:50] Unknown-Guy commented on #24241
Now it's clear, if it was never intended to be used like that so closing.

[2016-03-19 23:50] #24241 closed

[2016-03-20 05:49] prathamesh-sonpatki commented on #24249
cc @sgrif

[2016-03-20 06:53] willnet commented on #24249
@maclover7

[This example](https://github.com/rails/rails/blob/55a205c552a4815c692355ca6bcf087524ebae92/activerecord/lib/active_record/attributes.rb#L82-L88) seems to say that we can use Proc.

[2016-03-20 13:35] dixpac commented on #14176
@blm768 have you started working on this solution? I would love to help you :)

[2016-03-20 17:03] sgrif commented on #24249
@tessgriffin is going to take a look at this w/ my supervision

[2016-03-20 17:06] sgrif commented on #24246
This feature is not intended to work without partial writes.

[2016-03-20 17:06] #24246 closed

[2016-03-20 17:08] sgrif commented on #24181
This is a known issue, but not a bug.

[2016-03-20 17:08] #24181 closed

[2016-03-20 17:14] matthewd commented on #24185
We have an ownership contract? That involves us stealing ownership of a passed argument??

[2016-03-20 17:38] elbartoloco opened #24257 "Rails 5.0.0beta3: form authenticity_token does not work when page loaded by Turbolinks"
I have a simple Rails 5.0.0beta3 app with a simple form to create a record. Default configuration and environment in development.

<%= render "form", f: form %>
<p><%= form.submit %> or <%= link_to "Cancel", admin_book_nodes_path %></p>
<% end %>

When the form is loaded through a link on another page of the app, on submission a `ActionController::InvalidAuthenticityToken` is generated.

Processin

[2016-03-20 17:38] bughit commented on #24181
Ok so it's an "issue", so why shouldn't this "issue" remain open in the rails issues database until it's no longer an issue?

[2016-03-20 17:51] bughit commented on #24181
Since issues need to be tracked somehow is there an alternative issue tracker?  Where is it?  I'd like to subscribe to this issue.

[2016-03-20 20:18] maclover7 commented on #24257
cc @sstephenson @dhh

[2016-03-20 23:04] eugeneius commented on #14493
The script from https://github.com/rails/rails/issues/14493#issuecomment-177202810 passes on master, but only because it no longer reproduces the bug. `increment!` doesn't trigger callbacks any more since https://github.com/rails/rails/pull/11410 - if `update!` is used instead, it still fails.

https://github.com/rails/rails/pull/18367 is a proposed fix which does make the script pass, even using

[2016-03-20 23:35] blm768 commented on #14176
I've made a few tweaks in [my fork](https://github.com/blm768/rails/tree/change_migrator). It's nothing fancy yet; I've just added an overridable `#connection` method to Migrator and tweaked Migration so it doesn't have a hard-coded dependency on AR::Base's connection pool. I think the next step would be figuring out how to handle the Rake tasks.

[2016-03-21 01:46] antaflos commented on #5223
As of Rails 4.2.0 trusted proxies are defined as an array of `IPAddr` objects, e.g.:

[code]

[2016-03-21 10:01] Dusht opened #24262 "Default option missing for an attribute in NumberHelper API Documentation"
### Steps to reproduce

http://api.rubyonrails.org/classes/ActionView/Helpers/NumberHelper.html#method-i-number_to_human

### Expected behavior
Default value should be there i.e. `,`

### Actual behavior
See this screenshot
![actionview helpers numberhelper](https://cloud.githubusercontent.com/assets/1715709/13915311/f10405d2-ef79-11e5-91ab-9c99d76f5c53.png)

[2016-03-21 11:57] AndreasWurm commented on #24262
why should "," be default over empty string? i think no delimiter is a very reasonable default.

[2016-03-21 12:55] Dusht commented on #24262
@AndreasWurm But with that logic, all the remaining defaults should be removed too. ?

[2016-03-21 13:52] schneems opened #24263 "ActiveSupport::LoggerThreadSafeLevel does not work with stdlib ::Logger without monkeypatching"
In https://github.com/rails/rails/pull/20507 thread safety was introduced but requires the target class to implement code to call an `after_initialize` method if it exists. This means that if you are setting the Rails logger to

[code]

Then you cannot use logger silencing with your logger. It was discussed in the contributor room. It was decided that we should implement this behavior automaticall

[2016-03-21 13:55] schneems commented on #24263
I tried to auto prepend a module in an included block but it didn't work

[code]

[2016-03-21 14:00] lichtamberg commented on #14493
So maybe we should open this issue again?

[2016-03-21 14:06] maniankara commented on #19256
Thanks for the support @schneems and @haihappen!
But now I wonder what things run on my system when I say "bundle install" :(

[2016-03-21 14:10] schneems commented on #19256
@maniankara I don't follow your comment can you please open up a new issue with a detailed explanation of the problem you're seeing?

[2016-03-21 14:24] maniankara commented on #19256
@schneems I had the same problem as above and it was solved with the `spring stop` command.
However, I was worried that there were something else running which was overriding rails' normal behaviour without me starting anything.
But I just found its my mistake. I did start the spring my self.
[code]
So, all good ! Thanks again !

[2016-03-21 14:52] AndreasWurm commented on #24262
i dont get it. nobody is talking about removing defaults, and as i said earlier it has a default, an empty string.

[2016-03-21 15:14] ivanjolic95 opened #24264 "Adding an engine to API rails app results in engine routes behaving like API routes"
### Steps to reproduce

When I add engine to API rails application, routes in the engine are messed up.

### Expected behavior
Shouldn't it be possible to use engines as regular apps even when their parent app is in API mode? I want to add an engine that behaves like a regular rails app.

### Actual behavior
When I use `resources` in the `config/routes.rb` of the engine it doesn't generate routes

[2016-03-21 15:28] dhh commented on #24222
Cleared milestone so we only have this issue appearing once in the shipping report.

[2016-03-21 15:29] dhh commented on #23997
@tenderlove Can you push out a new rack release to close this out?

[2016-03-21 16:46] eval commented on #23919
This is addressed by https://github.com/rails/rails/pull/24203

[2016-03-21 16:47] rafaelfranca commented on #24263
For the stable releases it is also possible to revert that change, but it will be still broken in Rails 5.

[2016-03-21 16:53] paulleader commented on #23919
Ah, brilliant.

I was going to work on a pull request for that tonight, guess I'll look for something else to fix :)

[2016-03-21 16:53] #23919 closed

[2016-03-21 17:06] #24222 closed

[2016-03-21 17:09] #24230 closed

[2016-03-21 17:58] spastorino commented on #24239
Unfortunately this is the way all this stuff works. If you need cookies you need the middleware and the module. You can't add the module for one controller.

It could be nice at some point to have some controllers working with a middleware stack and other controllers working with a different one but not possible now.

I'm closing this but this remains as future work.

[2016-03-21 17:58] #24239 closed

[2016-03-21 18:08] schneems commented on #24263
I would prefer a backwards compatible fix over reverting the commit if possible.

[2016-03-21 18:10] spastorino commented on #24239
Sorry, I didn't read the issue carefully enough.

The idea though is to avoid adding stuff not needed when you use Rails as an API and cookies is one example of something to avoid.
Anyway you should be able to add that back if you want.
Let me check it and I will paste a way to get that working.

[2016-03-21 18:15] rafaelfranca commented on #14493
No, we shouldn't https://github.com/rails/rails/issues/14493#issuecomment-39859811

[2016-03-21 18:16] spastorino commented on #24239
Ok, as you can see here https://github.com/rails/rails/blob/07f3ae8f35d2c422b0fd8d794af0f781aad9a96e/actionpack/lib/action_controller/metal/cookies.rb#L6 ActionController::Cookies depends on helper_method which is defined here https://github.com/rails/rails/blob/07f3ae8f35d2c422b0fd8d794af0f781aad9a96e/actionpack/lib/abstract_controller/helpers.rb#L61

So you need to do ...

[code]

[2016-03-21 18:23] tenshilg commented on #24239
@spastorino, thank you for the detailed explanation. I think then it is worth mentioning in [rails guides](http://edgeguides.rubyonrails.org/api_app.html#choosing-controller-modules) because it has missleading sentence:

[2016-03-21 21:02] natesholland commented on #21397
Any chance this will be reviewed? I'm upgrading an app from 3.2 to 4.1 and this just bit me and it would be nice if we could turn it off.

[2016-03-21 21:15] kaspth commented on #24179
Per @zenspider, I'm going to close this as minitest-reporters issue:

@fnando can you open an issue on minitest-reporters? Thanks everyone! :heart:

[2016-03-21 21:19] fnando commented on #24179
@kaspth This isn't a problem specific to minitest-reporters. I have a gem that uses a custom reporter that is also failing with this problem.

[2016-03-21 21:22] kaspth commented on #24179
That could just be it has the problem as minitest-reporters. E.g. not clearing out other reporters sufficiently to take over. Can you link to that code?

[2016-03-21 21:30] fnando commented on #24179
@kaspth this is the minitest plugin initializer: https://github.com/fnando/minitest-utils/blob/master/lib/minitest/utils_plugin.rb

[code]

[2016-03-21 21:36] kaspth commented on #24179
Oh my, can these reporters turn into a game of whack-a-mole. It might be better for Rails to not support any other reporters and just clear them completely. But then we require a config option as you say.

Thanks, I'll look into it :heart:

[2016-03-21 21:39] fnando commented on #24179
@kaspth maybe Rails should load the reporter when running `require "rails/all"`, but making possible to opt-out when wanted.

[2016-03-21 21:39] kaspth commented on #24208
Thanks, we don't accept feature requests on the issue tracker. Generally we'd recommend writing to the Rails-core mailing list, but since there's already a PR for this. Let's move the discussion there. :heart:

[2016-03-21 21:39] #24208 closed

[2016-03-21 21:51] lichtamberg commented on #14493
@rafaelfranca But then I would suggest to remove the ```on: :update/:create``` option entirely? If it is broken and won't be repaired? From my point of view this is not a good solution to just let it there in a broken state? What are your thoughts about removing it?

[2016-03-21 21:58] rafaelfranca commented on #14493
It works for the use case it exists. It only don't work when you do a update action inside a callback that is running because an create action started. In this case Rails consider all actions create.

[2016-03-21 22:43] MaxPleaner opened #24265 "Client-side memory leak in 5.0.0beta3 when calling "return false" in a controller"
### Steps to reproduce

Clone [this repo](https://github.com/maxpleaner/prototypical) and checkout the `rails-bug` branch.
1. `bundle install`
2. run `db_setup.sh` which creates the database and runs migrations (uses postgres)
3. run `rails server`.
  1. Using Chrome, go to [http://localhost:3000/company_search](http://localhost:3000/company_search). The action is in `PagesController`, and it is e

[2016-03-21 22:48] maclover7 commented on #24265
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-03-21 23:01] MaxPleaner commented on #24265
@maclover7 I actually had tried that, but the problem only manifests itself on the client side. I am looking at Capybara's Poltergeist driver now, but I'm not very fluent in headless-browser testing.

[2016-03-21 23:05] fxn commented on #24265
Returning false in an action is not a way to halt execution. In the past it was a way to halt a filter, but that is not even the case today, you need to render or redirect.

Same in the action, at least `head :ok`. See http://guides.rubyonrails.org/layouts_and_rendering.html#creating-responses.

[2016-03-21 23:24] carlosantoniodasilva commented on #24263
@schneems thanks for opening the issue about this. As for include + auto prepend, I think it's because you can't do it with _the same_ module, similarly as including it twice yields in a single ancestor. If you print Foo's ancestors at the end of your test script, you'll get this:

[code]

However, prepending _another_ module seems to work:

[code]

I'll investigate a fix for this.

[2016-03-22 00:35] carlosantoniodasilva commented on #24263
@schneems @rafaelfranca here are some changes that seem to do the trick for master: https://github.com/rails/rails/compare/master...carlosantoniodasilva:as-logger-level-api, let me know what you think.

I'll open a pull request later if it's all good, and work on similar changes for 4.x stable.

[2016-03-22 02:27] rafaelfranca commented on #24265
If the Rails application sent the `no-content` status code so Rails did what is its responsibility to do. But like @fxn explained `return false` is not the way to finish the execution of an action. What the browser console tell about the request? Is it finished?

[2016-03-22 05:59] fxn commented on #24265
Returning false is no different than doing

[code]

When the action does not render or redirect explictly Rails has a fallback to the action template. If the action template does not exist you get an error. `company_search2` does not raise because the view in https://github.com/MaxPleaner/prototypical/blob/master/app/views/pages/company_search2.html.erb is rendered and guess the JavaScript at the

[2016-03-22 05:59] #24265 closed

[2016-03-22 06:09] MaxPleaner commented on #24265
Oh drat. Sorry to bother you with that.

On Mon, Mar 21, 2016 at 11:00 PM, Xavier Noria <notifications@github.com>
wrote:

[2016-03-22 06:35] fxn commented on #24265
No prob at all! If you think there's a bug indeed it's great that you take the time to report it. You had an app and filled the template, etc. Good bug report. If it turns to be something else, all is good. Thanks anyway.

[2016-03-22 11:45] metaskills commented on #14176
@jeremy That's a great set of code examples. This is a shameless plug, but we wrote a simple gem that kind of wraps up a few of these features. Only tested for Rails 4 now. Hopefully sharing can expose alternate ideas and implementations. https://github.com/customink/secondbase

[2016-03-22 12:22] vijayagrawal18 commented on #24214
Here are two fairly similar tests, one fails and another one passes. They should be giving same results.
https://gist.github.com/vijayagrawal18/b47d25dedad617131b1d

[2016-03-22 13:07] tdeo opened #24270 "Curves singular is wrong"
I think that curves should be added to the list of irregulars in [inflections.rb](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/inflections.rb), but the comment at the beginning of the file says that rules are frozen, and I'm not sure whether rules refers only to the regexp based rules or everything.

### Expected behavior

`'curves'` singular should be `'curve'`

###

[2016-03-22 13:10] prathamesh-sonpatki commented on #24270
@tdeo The inflector is frozen, for backwards compatibility.

You can define a custom inflection in config/initializers/inflections.rb as per the application needs.

[2016-03-22 13:10] #24270 closed

[2016-03-22 13:13] prathamesh-sonpatki commented on #24264
@ivanjolic95 Can you upload a sample app on Github to reproduce the issue?

[2016-03-22 14:55] lucaspiller opened #24272 "Engine routes scope issue"
### Steps to reproduce

I'm in the process of upgrading an old Rails application, and when upgrading from Rails 4.1.5 to 4.2.6 a weird issues with engine routing appeared.

The application is mounted under a subdirectory and we have a scope in `config/routes.rb` which wraps everything under `ENV['RAILS_RELATIVE_URL_ROOT']`. So if you set `RAILS_RELATIVE_URL_ROOT=app`, the app is available at `http

[2016-03-22 15:33] st0012 commented on #23879
@kaspth Hi, I noticed that collection partials' caching functionality and instrument option was implemented [here](https://github.com/rails/rails/blob/b4700de1ce21599b500d43d8138184ee7ae81407/actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb#L17), but partial rendering doesn't have something like that. So does this issue also require implementing partial caching mechanism?

[2016-03-22 16:08] kaspth commented on #23879
No, there's already `cache` in views for that. We need to make that able to fill in `:cache_hit` in the instrumentation payload like we do for collection caching 😁

[2016-03-22 16:14] st0012 commented on #23879
So that means we need to shift the instrumenting to earlier actions, like `cache` in `caching_helper`?

[2016-03-22 16:15] st0012 commented on #23879
Oh, `fragment_for` might be a better [place](https://github.com/rails/rails/blob/b4700de1ce21599b500d43d8138184ee7ae81407/actionview%2Flib%2Faction_view%2Fhelpers%2Fcache_helper.rb#L207)

[2016-03-22 16:24] kaspth commented on #23879
@st0012 try researching it a bit more and write something more substantial. This isn't a chat app 😁

[2016-03-22 16:31] st0012 commented on #23879
@kaspth Sorry. I already started working on that today, I just curious about what approach to take (and it seems that I misunderstood something). I hope I can open a PR before the end of this week.

[2016-03-22 16:44] qwerty2323 commented on #24235
in line:7 you forgot (spec = ENV["DATABASE_URL"])
[code]
Also, what BigDecimal round mode are you using?
Maybe you would like to check the link below:

http://ruby-doc.org/stdlib-2.3.0/libdoc/bigdecimal/rdoc/BigDecimal.html#method-c-mode

[2016-03-22 16:50] kaspth commented on #23879
No worries, and don't worry about getting the PR ready for the end of the week. We can't merge this before the Rails 5 stable branch is created.

[2016-03-22 16:58] schneems commented on #24263
Can we do it and keep the exact same include api? something like

[code]

That way anyone doing an include on the old module does not have to change, otherwise we would need to detect and deprecate.

[2016-03-22 17:10] carlosantoniodasilva commented on #24263
Yeah we may be able to, but I don't think anyone should be using that module directly as it's nodoc'ed and was just recently introduced. And if they are, I guess as "beta" it's an allowed change still. But I'd be fine trying to keep the "include" path the default if we wanted that for this module.

[2016-03-22 17:14] schneems commented on #24263
It's up to you, i'm playing catch up here, I added docs for the module in https://github.com/rails/rails/pull/24218 but I do not know how many people are using it. The change was also backported right?

[2016-03-22 17:23] carlosantoniodasilva commented on #24263
Yes it was backported... I think the better API would be to only have to include the `LoggerSilence` module (which my changes do), so people wouldn't have to remember/care about the thread safety one (it's like an implementation detail to me).

I'll see what can be done about the backports. Thanks!

[2016-03-22 17:29] schneems commented on #24263
I'm also wondering if we could detect correct logging compliance and warn when it isn't presence. I.e. see if the logger passed in has been extended by TaggedLogging and has silent logging included and give out a warning when those things aren't implemented correctly. I listed out some other ideas we could maybe implement in that PR that might make logging a bit easier.

[2016-03-22 17:30] qwerty2323 commented on #24235
I reproduced your issue.

I suggest you add to your code lines below:
[code]
Or choose another BigDecimal round mode

[2016-03-22 17:59] chrisarcand opened #24273 "Schema cache does not update with removed columns"
### Steps to reproduce

See related issue: https://github.com/ManageIQ/manageiq/pull/7476

Given the following set of migrations (I'm using the Postgresql adapter here):

Migration 1:
[code]

Migration 2:
[code]

It appears that the schema cache does not invalidate the removed column after it's removal.

What this means is that anything depending on those columns in the same process does not work.

[2016-03-22 18:06] kirs commented on #24273
Have you tried calling `User.reset_column_information` after `remove_column :users, :title, :string`?

[2016-03-22 18:27] chrisarcand commented on #24273
@kirs That indeed does reset the cache and would solve the issue here, but it seems very cumbersome and unexpected to the user. Given that it would mean inserting that line after every removal in every migration, I'd expect that the current process understands how to invalidate its cache itself in the case of a removal.

A simple solution might be to have `remove_column` simply clear the cache aft

[2016-03-22 19:03] dkolath opened #24277 "Routing Specs don't set query_parameters on request"
### Steps to reproduce
In order to support legacy routes, I have a constraint that keys off query_parameters to decide which action/controller to route to. Previously, delete and create were being passed to the same legacy route.

Both legacy routes are being called as get requests.

[code]
In the routes:

[code]

spec_file

[code]
### Expected behavior
Expect the test to pass

### Actual behavior

[2016-03-22 20:19] maclover7 commented on #24277
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-03-22 20:40] kaspth commented on #24179
Should be fixed in https://github.com/rails/rails/commit/b9465e8755509cc79ad7492914a26c8ac3884de0, take a look 😁

(Don't know why GitHub didn't close this automatically, thought I had the syntax right.)

[2016-03-22 20:40] #24179 closed

[2016-03-22 20:52] kitop opened #24279 "ActiveModel::Errors#include? adding a key to @messages hash"
### Steps to reproduce
[code]

### Expected behavior
Checking if ActiveModel::Errors has a value, shouldn't add that key to the `@messages` hash.

### Actual behavior
By doing `record.errors.include? :foo`, it actually adds a new key to the `@messages` hash that defaults to an empty array.

This happens because of a combination of these 2 commits:
https://github.com/rails/rails/commit/b97035df64f5

[2016-03-22 20:55] fnando commented on #24179
@kaspth AWESOME! It's working now. Thanks! :)

[2016-03-22 20:56] kaspth commented on #24179
Fuckin' A, that's great to hear! 😄

[2016-03-22 21:34] sadinie opened #24280 "Controller variables not visible in json.erb file"
I don't know if this is a bug, I have never had to use json before in Rails. But searching for a solution found nothing to fix it.
### Steps to reproduce

I am using Fine Uploader to asynchronously upload a file since Remotipart is broken with Rails 5.

The file uploads fine but I need to return the id of the uploaded file back with the success json.

{"success": true,"image_id": "<%= raw @file_id

[2016-03-22 21:35] rafaelfranca commented on #24280
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-03-22 21:42] sadinie commented on #24280
I gave everything I did to get to that point.

There are no errors in the logs to post.

It is really simple:

@file_id has a valid value in the action. It is null in that actions json.erb file.

How to reproduce it? send a json request to an action and try to pass a instance variable to that actions json.erb?

What is confusing about that?

[2016-03-22 21:43] rafaelfranca commented on #24280
It is missing some key information like what is `@file_id`? What is the controller code of that action? Without this there is no way to us to understand if the problem is in the framework on in your application code.

[2016-03-22 21:48] tbreier opened #24281 "Order of "manual" joins messed up when using .merge"
When using a JOIN like `.joins('INNER JOIN posts ON users.id = posts.user_id')` instead of `.joins(:posts)`, and then using `.merge` with a relation with another JOIN defined on (in this case) `posts`, the JOIN with that other table gets put in the front, which is not something that MySQL is happy about.

This description is probably a bit confusing, but I hope the gist makes clear what I mean (se

[2016-03-22 21:49] sadinie commented on #24280
class Image
...

def upload
unless params[:image].nil?
      gi = GalleryImage.new
      gi.picture=params[:image]
      gi.save #image properly uploads and saves
     @file_id=gi.id #not null here
    end
end

in upload.json.erb file
{"success": true,"image_id": "<%= raw @file_id %>"}

[2016-03-22 21:50] rafaelfranca commented on #24280
Can you please provide a sample application that reproduces the error?

[2016-03-22 21:50] rafaelfranca commented on #24280
For what I could see in this code `@file_id` can be `nil` if `params[:image]` is `nil`.

[2016-03-22 21:51] rafaelfranca commented on #24280
Also if `gi.id` is `nil`

[2016-03-22 21:55] sadinie commented on #24280
params[:image] is NOT nil. It could be if things went wrong, but as I noted _numerous_ times that the file uploads correctly so gi is not nil, and since it saves without error gi.id is _not_ nil.

I omitted the error checking code to make things clearer.

The ONLY thing that is wrong is that @file_id is nil in the json.erb file.

def upload
unless params[:image].nil?
gi = GalleryImage.new
gi.pictu

[2016-03-22 21:57] rafaelfranca commented on #24280
Yes, we have test to make sure that this behavior works and none of them are failing so it would help us if you could provide an easy way to reproduce your problem.

[2016-03-22 21:58] rafaelfranca commented on #24280
I also tried to reproduce your problem in a new application and I could not. Instance variables are available in the `json.erb` files.

[2016-03-22 22:00] sadinie commented on #24280
I will try to get at that this afternoon.

As an aside, a built in way to handle async uploads would be great.

[2016-03-22 22:27] spastorino commented on #24239
@tenshilg :+1: can you provide a PR explaining all this?.

[2016-03-22 22:35] Ravenstine commented on #20738
FYI, I recently ran the reproduction that @the-undefined posted using Rails 5 beta and the problem with the routing still occurs.

[2016-03-22 23:10] sadinie commented on #24280
I created a new app and just used basic JQuery ajax request and it worked.

The app having the problem is an existing app that is being migrated from Rails 4 to 5. This isn't the first weird issue like this in Rails 5 beta. I guess I will create a new app first before posting a bug report. Sorry about that.

I have no idea where the problem in my app could be or even where to start.

[2016-03-22 23:33] maclover7 commented on #24279
Related to #23468.

[2016-03-23 01:45] st0012 commented on #23879
After some research, here's what I found:
The reason collection partials caching can be instrumented is because the `cached` option would be passed in `render` method, like
[code]
And the collection partial's caching is implemented in the partial rendering level. So the `Logsubscriber` knows that whether the collections should be cached and whether cache is success. The process may looks like this

[2016-03-23 03:40] chrisarcand commented on #24273
I have what I believe to be a good fix for this issue; need to back it up with some tests and I'll submit a PR shortly. :heart:

[2016-03-23 08:47] ojss commented on #24186
This is also happening on 4.2.5.1 for me. So its probably been happening for some time now?

[2016-03-23 10:09] kaspth commented on #23879
That wasn't really what I meant by research. This is what you should look into:

What we can take from the collection caching stuff is how it fills in the instrumentation payload as it's running, that's what we need to do for normal partial renders too 😁

[2016-03-23 12:01] jebw commented on #20154
@sgrif

I've been trying to resolve this issue - it seems to relate to changes you made and I could do with some pointers.

`WhereClause#merge` - appears to merge according to column name, without referencing the relevant table. (This happens in the `non_conflicting_binds` @repinel refer to above)

@repinel 's suggestion was to also check `relation` but as far as i can tell there isn't a `relation

[2016-03-23 12:01] chrisarcand commented on #24186
Yes, I _believe_ this is how thor handles deletions normally, and if that's true it's probably been this way forever. This isn't so much of a bug as it is an enhancement.

[2016-03-23 13:09] jasnow opened #24288 "Getting ActiveRecord::StatementInvalid error on TravisCI for Rails 5 project"
### Steps to reproduce
 * Clone the repo and checkout "rails5" branch.
 * Set up TravisCI.
 * Change something small, such as add blank line to README.
 * Push to GitHub and watch TravisCI.

### Expected behavior
Expected not to get ActiveRecord::StatementInvalid error.
This behavior did not occur on the master (Rails 4.2.6) branch.

### Actual behavior
I have been working on upgrading our local R

[2016-03-23 14:00] kaspth commented on #24288
Personally, I don't think we give support to custom Travis setups when you can just submit a pull request and have our setup run. Thanks!

[2016-03-23 14:00] #24288 closed

[2016-03-23 15:35] fgbreel commented on #22584
Hi, I'm not sure if this is related, but I'm receiving an error trying to load a fixture with `code` column with rails edge:

[code]
[code]

removing the `code` column from fixture the insert occurs.

Using the `safe_attributes` does't help, so I think this _may_ be related to this issue.

[2016-03-23 15:55] VobyD commented on #24216
+1

[2016-03-23 15:58] jasnow commented on #24288
Thanks - For History: Removed "rake" and used "rspec" and "cucumber" in .travis.yml to get to green.

[2016-03-23 16:00] kaspth commented on #24288
Doh, I'd totally misunderstood it as you trying to setup Travis for Rails the gem and not your library. Anyway, glad you got it working :smile:

[2016-03-23 16:22] rafaelfranca commented on #24186
Yes this is more an enhancement and it needs to be done at thor level. So I'm closing since it is not a Rails issue.

[2016-03-23 16:22] #24186 closed

[2016-03-23 16:38] rafaelfranca commented on #24216
Yes this is a not an issue. See https://github.com/rails/rails/pull/2200#discussion_r2304611

[2016-03-23 16:38] #24216 closed

[2016-03-23 17:36] kaspth commented on #23994
Should be fixed with https://github.com/rails/rails/pull/24007#issuecomment-200458339. Thanks for the report!

[2016-03-23 17:36] #23994 closed

[2016-03-23 17:52] felixbuenemann commented on #23739
@maclover7 I've had a look at this today.

From what I gathered so far one problem is, that some code requires the counter_cache to be defined on the belongs_to, but that's not always true. There are tests that document that it should be possible to define the counter cache on a has_many/has_many through association. There's also the case of has_and_belongs_to_many, where it's simply not possible

[2016-03-23 17:56] felixbuenemann commented on #23739
To be a little more specific: If you look at the `ActiveRecord::CounterCache` module you will notice that the method `each_counter_cached_associations` only handles belongs_to associations, which means the `_create_record` and `destroy_row` hooks will never work correctly for counter caches on has_many/habtm associations.

[2016-03-23 18:10] rafaelcgo commented on #19256
@haihappen nailed it! Spring won't reload `.env` (as expected, I think).
Totally forgot about this!

[2016-03-23 19:07] maclover7 commented on #23739
@sgrif, thoughts? :grimacing:

[2016-03-23 21:30] jokklan commented on #22100
You can use `unscope` with the attribute name alone like `unscope(where: :approved)` which should work, however the attribute name is stored as a symbol for nested where clauses instead of a string, which breaks the functionality because Rails expects a string: https://github.com/rails/rails/blob/v4.2.6/activerecord/lib/active_record/relation/query_methods.rb#L908-L914

However I can't figure out

[2016-03-24 01:42] prathamesh-sonpatki commented on #24279
:+1: @kitop Please send PR

[2016-03-24 08:37] Kukunin opened #24294 "db:test:purge fails when db is set with DATABASE_URL only"
It's identical to this issue https://github.com/rails/rails/issues/13742, but for Rails 5.
### Steps to reproduce

Create application, set database with DATABASE_URL only, but without `config/database.yml` config file.

Run `bundle exec rake db:test:load`
### Expected behavior

Command works successfully, without any error, with using DB config from DATABASE_URL env variable.
### Actual behavior

[2016-03-24 10:12] tenshilg commented on #24239
@spastorino, sure, will do it on a weekend

[2016-03-24 13:05] Kukunin commented on #24294
Reproducible for `master@878c2bbaaf2` commit

[2016-03-24 13:22] felixbuenemann commented on #23739
I can add a couple more failing test cases if that helps…

[2016-03-24 13:38] matthewd commented on #24239
I think this is a bug we should fix... I see no reason that sentence can't be true.

[2016-03-24 14:09] kitop commented on #24279
@prathamesh-sonpatki Sure!
Working on it right now.

[2016-03-24 15:22] mountriv99 opened #24301 "Rails ActiveRecord::RecordInvalid exception not raised in after_create of association"
### Steps to reproduce

I have 3 simple tables that are built with the following lines:

[code]

and the models look like this:

[code]
### Expected behaviour

So every time a new ReceiptItem is created, it triggers the after_create callback to create a new Transaction object using save!. But because Transaction requires that the column transacted_at to be present, Transaction.new.save! should rai

[2016-03-24 18:47] Sen-Zhang commented on #24249
Replace the old solution with a new one.

[2016-03-24 21:00] #24249 closed

[2016-03-24 22:11] #24235 closed

[2016-03-24 22:59] spastorino commented on #24239
@matthewd the solution involves a huge refactor of how AP works. I think we should fix it, but nothing that a simple include solves.

[2016-03-24 23:01] spastorino commented on #24239
@matthewd well maybe we are talking about different issues :/

[2016-03-24 23:03] maclover7 commented on #24301
Hmm, seems like errors aren't being passed upstream. Can you see if this is reproducible on Rails master?

[2016-03-25 01:02] TheKidCoder opened #24309 "protected method `method_name' called for ActionView::Template"
### Steps to reproduce
Render template using Rails 4.2.6

### Expected behavior
Template should have rendered.

### Actual behavior
Exception was thrown.
[code]

### System configuration
**Rails version**: 4.2.6

**Ruby version**: jRuby 9.0.5.0

The problem is coming from using `self.method_name` instead of just `method_name` because it is a protected method. This may be a jRuby problem, but I can

[2016-03-25 04:08] mountriv99 commented on #24301
yes, same thing happens on master

[2016-03-25 04:24] jwgoh opened #24311 "ActiveRecord::Schema Default Value"
### Steps to reproduce
1. Pull latest changes from remote repo
2. Run `rake db:migrate`

### Expected behaviour
Integer column to have default value of -1

### Actual behaviour
Integer column does not having default value (Notice that it seems to a problem for negative integer values only)

<img width="324" alt="screen shot 2016-03-25 at 12 06 32 pm" src="https://cloud.githubusercontent.com/assets

[2016-03-25 06:17] twonegatives commented on #24301
note that there was a related issue some time ago:
https://github.com/rails/rails/issues/17282

[2016-03-25 06:29] vipulnsward commented on #24301
Script to reproduce - https://gist.github.com/vipulnsward/0b7224ffc66ff7d72980

[2016-03-25 11:36] salmanasiddiqui opened #24314 "as_json works differently for preload and eagerload"
### Steps to reproduce
[code]

### Expected behavior
`@tickets.first.as_json` should be equal to `@tickets.references(:portfolios).first.as_json`

### Actual behavior
`@tickets.first.as_json` includes the **code** (alias column defined in the `select`)
`@tickets.references(:portfolios).first.as_json` does not include the **code** (alias column defined in the `select`)

### Note
The problem arises

[2016-03-25 12:25] kaspth commented on #24279
Fixed in https://github.com/rails/rails/pull/24299 👍

[2016-03-25 12:25] #24279 closed

[2016-03-25 13:12] vipulnsward commented on #24301
So Receipt's `save!` calls ReceiptItems `save` to save the belongs_to associations.
The `Transaction.new.save!` has no effect, due to this behaviour, as we don't raise from ReceiptItem's `save` method.

[2016-03-25 14:07] abepetrillo commented on #19891
Just hit this error myself on 4.2.5.2, using postgres. Still digging into the issue.

[2016-03-25 14:45] erikse opened #24316 "ApplicationMailer.some_method(some_ar_object).deliver_later hanging onto DB connections in default config"
I have a controller action that calls `deliver_later` on a mailer method that receives an AR object, which I thought would be run immediately by the [default active job handler - immediate runner](http://edgeguides.rubyonrails.org/active_job_basics.html) and release the database connection back to the pool.

### Steps to reproduce

I've pushed a sample app to www.github.com/erikse/deliver_later

E

[2016-03-25 20:09] derekprior opened #24319 "Default submit button text casing changed in Rails 5"
### Steps to reproduce

1. Run `rails generate scaffold post title:string`
2. Run `rails db:migrate`
3. Start up your server and go to http://localhost:3000/posts/new

### Expected behavior

Button should say "Create Post" as it did in Rails 4.

### Actual behavior

Button says "Create post"

### Impact

This changes the user interface of all users that upgrade to 5.0 in a subtle way. If you have

[2016-03-26 00:28] maclover7 commented on #24316
@matthewd, looks like this is related to #24028 / #23989.

[2016-03-26 05:39] mountriv99 commented on #24301
@vipulnsward Understood. Is this the intended behaviour?

[2016-03-26 05:57] vipulnsward commented on #24301
I think so, I don't see a different documented behaviour cc @rafaelfranca ?

[2016-03-26 06:07] prathamesh-sonpatki commented on #23910
I made some progress on this.

We need to provide a restart command to Puma which it will use while restarting the server. The command will be `bin/rails s`.

Even after this, there is an issue with existing `pid` file present in `tmp/pids/server.pid` file. I think it's *okey* to remove that file manually from Rails side when doing `rails restart` or `rails dev:cache`. But would like to hear more

[2016-03-26 07:18] mechanicles commented on #24301
It's the intended behaviour. Because there are two `save` methods which are happening in one request and those `save` methods will have their own transaction (ActiveRecord::Transactions), one for `receipt` object and another for `transaction` object.

If you want, you will get the `ActiveRecord::RecordInvalid ` error on the `transaction` object if that `transaction` belongs to any of these objects

[2016-03-26 07:30] vipulnsward commented on #24319
This has been fixed on master. https://github.com/rails/rails/commit/ddf4c953ae8d10489e0bfd6008bd76395f6e1267

[2016-03-26 07:30] #24319 closed

[2016-03-26 07:53] twonegatives commented on #24301
could we get a RoR member comment on this, please?
note that even though `receipt_item` is wrapped in a silent `save` call, it gets saved regardless of an exception raised in its `after_save` block.[Halting execution](http://guides.rubyonrails.org/active_record_callbacks.html#halting-execution) section of guide mentiones that exceptions raised inside of `after_save` should rollback (at least) `rec

[2016-03-26 08:17] vipulnsward commented on #24301
True.

[2016-03-26 14:43] codeodor opened #24330 "Rails 5 Beta 3 Performance is Degraded Severely in one of my apps"
### Steps to reproduce

I'm working on narrowing down the cause. Essentially, what happens is:

I load an action that takes less than 1 second in Rails 4.2.6 after upgrading to Rails 5.0.0.beta3, and the same action takes 7 seconds. It also appears to grow linearly: one section of code that runs in 3 seconds would take 21 seconds.

### System configuration
**Rails version**:  5.0.0.beta3 vs 4.2.6

[2016-03-26 14:49] sevenseacat commented on #24330
`Regexp#===` is a Ruby method, not a Rails one. That's all I have so far >_>

[2016-03-26 14:50] shakycode commented on #24330
@codeodor Thanks for opening this issue, I thought I was the only one and was banging my head against the wall.

[2016-03-26 15:46] rafaelfranca commented on #24330
Could you try the master version? I think we already fixed this

On Sat, Mar 26, 2016, 11:50 James <notifications@github.com> wrote:

[2016-03-26 19:02] ivanreese commented on #22408
If I understand correctly, this was explored in depth in #17607. The outcome seems to be that issue is most commonly caused by the `rack-timeout` gem, which is pretty nasty in that it can raise an exception at nearly any time. The Rails core team don't seem inclined to code the framework to defend against having the carpet pulled out from under them at any moment, which is totally reasonable.

I d

[2016-03-26 20:07] codeodor commented on #24330
@rafaelfranca Thanks for the tip. Updating to master solved the issue.

It's still a little slower in my tests-by-hand, but not like what I was seeing before. If I run some proper benchmarks that indicate a problem, I'll reopen, but I think we're good.

:heart:

[2016-03-26 20:07] #24330 closed

[2016-03-26 20:17] shakycode commented on #24330
@rafaelfranca @codeodor I just pulled latest master and it's good.  Thanks so much!

[2016-03-27 22:07] al2o3cr commented on #24107
@Dariusch I believe I've seen a similar error in the wild - in the case I'm thinking of, it was the result of the Mysql2 adapter attempting to deserialize an invalid date (something like `2004-00-07`). Ideally you'd fix the data at the source, but if you can't avoid running with it one workaround is to add `cast: false` to your `config/database.yml`. This may have performance implications (I haven

[2016-03-28 00:39] sgringwe opened #24341 "ActiveRecord::StatementInvalid: PG::IndeterminateDatatype in Rails 5 Upgrade"
### Steps to reproduce

Query records which joins on a belongs_to polymorphic definition which joins back to the has many record

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))
### Expected behavior

Tell us what should happen

The query should work and not error.
### Actual behavior

Tell us what

[2016-03-28 01:46] maks-us opened #24342 "Scaffold model, destroy link depends on JS. ( Rails5.0.0.beta3 )"
### Steps to reproduce
1) create new rails5 application  (Ruby 2.3 and Rails 5.0.0.beta3)
``rails new todo`` and ``bundle install``

2) generate model
``rails g scaffold task name done:boolean``
3) apply migration as production environment
``RAILS_ENV=production bundle exec rails db:migrate``

4) add secret key and start server
``export SECRET_KEY_BASE='aslkdjf;alskdjf;'``
``RAILS_ENV=production r

[2016-03-28 02:58] maclover7 commented on #24342
Isn't it part of a normal production deploy workflow to run `rake assets:precompile` when deploying to production?

[2016-03-28 04:35] sevenseacat commented on #24342
Yes, and these links have relied on JS for many years.

[2016-03-28 06:29] rafaelfranca commented on #24342
Exactly that. And we don't plan to support these links without javascript by default. If you want progressive enhancement it is your application responsibility to have it.

[2016-03-28 06:29] #24342 closed

[2016-03-28 09:17] vipulnsward commented on #24314
@salmanasiddiqui I did not get the use of `references` in this context? Its not being used.
The result of references vs includes is a bit different. In the former we need to construct results based on aliases, and don't happen to use select clauses, unlike includes, which is causing the difference.

[2016-03-28 11:20] vipulnsward commented on #24262
Thanks for reporting, but this correct and as documented.

[2016-03-28 11:20] #24262 closed

[2016-03-28 15:02] Tensho opened #24346 "More precise Filter Parameters pattern matching"
### General description

`ActionDispatch::Http::ParameterFilter` [compiles](https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/http/parameter_filter.rb#L21) filters from blocks, regexps and strings ducks. Particularly, the module joins strings to the one global regexp with ONLY pipe and performs alternation this way.
I've found this strange behaviour with [doorkeeper](ht

[2016-03-28 17:03] pixeltrix commented on #24346
Typically an application would have a `password` and a `password_confirmation` field - that's why the regexps aren't anchored. If you need to be stricter with your matches you can pass a regexp explicitly. Any attempt to tighten up the defaults might result in a password related field not being filtered so I'm not really leaning towards changing it, sorry.

[2016-03-28 17:03] #24346 closed

[2016-03-28 17:07] pixeltrix commented on #24346
However the API documentation and guides could do with a note that explains clearly that it's a partial match and that you should use anchored regexps for explicit matches if you want to submit a PR - thanks.

[2016-03-28 18:37] iandonovan opened #24347 "(Rails 4.1.15) Unexpected `.constantize` behavior"
### Steps to reproduce
I have a model, `Pod`, that looks like this:

[code]

And it has a child, `Pod::Default`, that looks like this:

[code]

I don't _think_ the background details on this are important -- please let me know if I'm wrong! -- but when I call `"Pod::Default".constantize`, it returns `ActiveRecord::Scoping::Default`.

### Expected behavior
`"Pod::Default".constantize` should return

[2016-03-28 19:10] ZeroFries opened #24348 "ActionCable: No documentation on unsubscribing from a channel"
It's unclear from the documentation how a client can unsubscribe to a channel. Calling @unsubscribe calls the unsubscribe method in the Rails channel, but does not seem to actually unsubscribe, nor is there documentation on what should go in the unsubscribe method to achieve it.

[2016-03-28 19:19] maclover7 commented on #24347
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-03-28 19:42] tejasbubane commented on #24347
Here is a small script I wrote trying to reproduce this issue:

[code]
The test here pass and there seems to be no issue.

But a strange thing happened when I created a new rails app with these models (`app/models/pod.rb` and `app/models/pod/default.rb`). In the rails console I see this:

[code]

Looks like some Rails autoload thing.

[2016-03-28 20:11] vipulnsward commented on #24273
Fixed in https://github.com/rails/rails/pull/24305

[2016-03-28 20:11] #24273 closed

[2016-03-28 20:42] maclover7 commented on #24347
cc @fxn - I feel like this has something to do with how ActiveSupport loads in Ruby classes.

[2016-03-28 21:23] fxn commented on #24347
Yep.

The module `ActiveRecord::Scoping` is an ancestor of AR models:

[code]

When Ruby resolves `Post::Default` it first checks if the class `Post` has a constant called `Default` (1). If not found, it walks up the ancestor chain of `Post` looking for a `Default` constant in each ancestor. That lookup succeeds because the module `ActiveRecord::Scoping` is an ancestor of `Post` that has a `Defaul

[2016-03-28 21:23] #24347 closed

[2016-03-28 22:17] salmanasiddiqui commented on #24314
I just wanted to show that `eager_load` and `preload` are producing different results. If we dont use `references`, instead use `where(portfolios: {id: [3,2]})` the result will be same. As Rails will also use the `eager_load` instead of `preload` in that case.
are you saying that this is the correct behavior? Is `select `ignored incase when `includes` results in `LEFT JOIN`? Is this documented som

[2016-03-29 01:19] tgxworld opened #24351 "`unprepared_statement` does not work with `find_by`"
### Steps to reproduce

[code]

### Expected behavior
Query should execute without using prepared statements

### Actual behavior
[code]

I noted that if you do not execute the query first with prepared statements enabled, then`unprepared_statement` will work just fine.

### System configuration
**Rails version**: Rails 5.0.0.beta3

**Ruby version**: `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_

[2016-03-29 09:30] Hugo-Hache opened #24352 "number_to_currency crashing with nil unit"
### Steps to reproduce

`number_to_currency(42, unit: nil)`

### Expected behavior
A string without unit (as nil separator or nil delimiter outputs no separator or no delimiter)

`42.00`

### Actual behavior

[code]

### System configuration
**Rails version**: 4.2.6

**Ruby version**: 2.3.0

[2016-03-29 10:33] Hugo-Hache commented on #24352
Here is a pull request for this issue #24353

[2016-03-29 11:06] vishalzambre commented on #24351
@tgxworld  If do in revers order like
[code]
Then
[code]

for this also will throw same error.

[2016-03-29 11:35] denofevil opened #24355 "No file information is provided for fixtures ERB"
### Steps to reproduce

1. Try to set a breakpoint in a test fixture ERB injection e.g on line 3 in the following file
[code]
2. Debug tests

### Expected behaviour
Debugger should stop at the breakpoint in fixture file

### Actual behaviour
Debugger does not stop at the breakpoint, because file information is not passed into ERB

### System configuration
**Rails version**:
Any
**Ruby version**:
A

[2016-03-29 11:38] kaspth commented on #24355
So you're saying this is really an issue with ERB? Then let's file one for that and close this :wink: — thanks!

[2016-03-29 11:39] kaspth commented on #24355
Ah, just saw the pull request. All good 👍

[2016-03-29 11:49] imidsac opened #24357 "Listen radion onligne, its possible?"
Hi, excuse me for inconvenience
it’s possible to listen radio online with ROR?
if yes, how?

[2016-03-29 11:53] #24357 closed

[2016-03-29 13:26] vipulnsward commented on #24314
Hi @salmanasiddiqui this isn't documented, but a known limitation. Going to mark this as a documentation issue.

[2016-03-29 13:33] iandonovan commented on #24347
Thank you! Appreciate the help.

[2016-03-29 14:47] glebm opened #24359 "remove_index fails to find expression index on postgresql"
### Steps to reproduce

[code]
### Expected behavior
The index should be removed. Works correctly in Rails 4.1 and 4.2, but not Rails 5.

### Actual behavior

[code]

### System configuration
**Rails version**: 5.0.0.beta3

**Ruby version**: MRI 2.3.0

[2016-03-29 15:16] dmitry commented on #9171
@magikid it's fixed in 4.x

[2016-03-29 15:47] vipulnsward commented on #9171
Closing in favour of https://github.com/rails/rails/pull/14001

[2016-03-29 15:47] #9171 closed

[2016-03-29 15:52] pixeltrix commented on #21948
Urgh, looks like we're seeing this on https://petition.parliament.uk

[2016-03-29 18:01] salmanasiddiqui commented on #24314
Known limitation, u mean that this cant be fixed and there isnt any workaround aswell?

I don't think that documenting it, is enough. It should also log a warning that select is being ignored in such scenarios.

[2016-03-29 18:07] batter commented on #24309
@TheKidCoder: can you provide more detailed instructions as to how to reproduce this? I can't seem to reproduce it, granted I am using normal MRI Ruby, so perhaps it is indeed jRuby specific.

[2016-03-29 18:18] krainboltgreene opened #24360 "default_scope + table_name + update_all = weird WHERE part of query"
### Steps to reproduce

Model:  https://gist.github.com/krainboltgreene/db0d5582ce11f4308dcade5b50bd2ff2

### Expected behavior

[code]

### Actual behavior

[code]

### System configuration
**Rails version**: 4.1.14

**Ruby version**: 2.2.4

[2016-03-29 18:27] krainboltgreene commented on #24360
Essentially I think this is not so much a bug, but rather a symptom of not all queries being able to handle all possible simplistic 'default scopes'.

Here activerecord is trying it's best to apply the (demanded) order to something that can't possibly be ordered.

It could be smart enough to divine this, but should it?

[2016-03-29 18:27] #24360 closed

[2016-03-29 21:21] vsorlov commented on #24359
confirm error
`ActiveRecord::Base.connection.indexes(:a_table)` returns empty array after that index is added, but if I try to add the index one more time, it fails with `PG::DuplicateTable: ERROR:  relation "expr_index" already exists`. Maybe there is a problem in `#indexes` method, I'm trying to understand.

[2016-03-29 22:00] vsorlov commented on #24359
hm, this is 'expression' index and indkey for that index is 0 in pg_index
and `#indexes` method returns only column indexes https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb#L198
not sure when and how it was broken in rails 5, I'll investigate further

[2016-03-29 23:36] meinac commented on #24359
`indkey` is '0' because PostgreSQL stores it as '0' if it is an index which consist of an expression.

From the documentation about `indkey`: *This is an array of indnatts values that indicate which table columns this index indexes. For example a value of 1 3 would mean that the first and the third table columns make up the index key. A zero in this array indicates that the corresponding index att

[2016-03-30 02:29] brandonpancost opened #24364 "ActiveRecord Preloading and accented characters"
### Steps to reproduce
Create a set of two tables where one has many of the other, and the key is some text field like below.
[code]
The text key in one table should be a string with an accented character, such as 'el_niño', and the other should be the same text without the accent such as 'el_nino'. Use a database such as MySQL where accented characters are considered to be equivalent to non-accen

[2016-03-30 02:31] rafaelfranca commented on #24364
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-03-30 03:54] rafaelfranca commented on #24352
See https://github.com/rails/rails/pull/24353#issuecomment-203235105

[2016-03-30 03:54] #24352 closed

[2016-03-30 06:17] #23910 closed

[2016-03-30 06:24] prathamesh-sonpatki commented on #24294
I will work on it.

[2016-03-30 08:01] vipulnsward commented on #24316
@erikse this doesn't seem to fail for me on master with the App you provided(It does fail on Rails beta3).
Can you give it a try as well?

[2016-03-30 09:09] francesco-loreti opened #24367 "Activerecord 5: undefined method `_reflect_on_association' for nil:NilClass"
### System configuration
**Rails version**: 4.2.6 and 5.0.0.beta3( and master)
**Ruby version**: 2.2.4
**Database**: Postgresql 9.3
**Webserver**: Sinatra
**Gemfile:**
- gem  'sinatra'
- # gem 'activerecord', '< 5.0'
- gem 'activerecord', github: 'rails/rails', branch: 'master'
- gem 'pg'

**Active record 4.2.6**: no problem;
**Last beta version and master version**: I have this error: undefined m

[2016-03-30 09:28] francesco-loreti commented on #24367
Same problem previous Issue #24367

[2016-03-30 09:29] rafaelfranca commented on #24367
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-03-30 09:33] francesco-loreti commented on #24367
Please explain to me how I should do because I've never done before

[2016-03-30 09:37] rafaelfranca commented on #24367
Just use that script that I posted above to reproduce the issue and paste the result script here.

[2016-03-30 09:38] rafaelfranca commented on #24367
Also a full backtrace of the exception that you are having would also help.

[2016-03-30 09:51] #24355 closed

[2016-03-30 10:59] vsorlov commented on #24359
it was broken in Rails 5 after `remove_index` method was added to postgresql adapter https://github.com/rails/rails/commit/ce17e232a12861bce4bd950d7143df3fe0cd1991#diff-6e377cf054cb4121e6f207bd7c14b492R450
it uses `index_name_for_remove` and it was changed to use `indexes` method here https://github.com/rails/rails/commit/8ceb883b0630e0d010fbef0c621cc9690b0bcad6#diff-a0775e1ec64264dc76a8ee71a5211a

[2016-03-30 15:24] vsorlov commented on #24359
this is the change after which `indexes` postgresql adapter method started to return only column indexes https://github.com/rails/rails/commit/4464d10e68045e6723d4eb62734213c4296ef339?diff=unified#diff-cc31fc1dd1e78db64638200f710b2f59R626
why is it bad for dump to include full text indexes?

[2016-03-30 15:39] sgrif commented on #24294
This issue appears to occur on 4.2 as well. Since this issue is not a regression in 5.0, it can be resolved in 5.0.1 but does not need to block the initial release.

[2016-03-30 16:08] erikse commented on #24316
@vipulnsward it's not failing for me either [on master branch](https://github.com/erikse/deliver_later/tree/uprade_to_rails_edge), thanks!

[2016-03-30 16:27] vipulnsward commented on #24316
Thanks for confirming. Closing for now.

[2016-03-30 16:27] #24316 closed

[2016-03-30 18:21] VladRassokhin opened #24372 "Valid rake command line arguments reported as invalid on running 'test' task"
### Steps to reproduce
[code]
### Expected behavior
It should work ;)
Rake arguments should be passed to rake.

### Actual behavior
Got exit code 1 and "invalid option: --rakefile" output

After some 'debugging' I've next stacktrace:
[code]
It seems test framework tries to parse all rake cli arguments

### System configuration
**Rails version**:
5.0.0.beta3

**Ruby version**:
2.3.0 by rbenv

[2016-03-30 18:52] vsorlov commented on #24359
I'm actually not sure that `remove_index` needs to support removing indexes, that were not created with `add_index` method, but with custom sql query.
To support it we can return these indexes in `ActiveRecord::ConnectionAdapters::PostgreSQL::SchemaStatements#indexes`, but make sure they are not included in schema dump.
I can create a PR if someone from Rails team advice.

[2016-03-30 19:12] glebm commented on #24359
Here is some context on how this issue came up. I was writing a gem that works with different databases, and handles index creation but leaves index removal up to Rails. Because of this issue I had to add [special handling](https://github.com/thredded/db_text_search/blob/a3b1f223f8193017a67c5811c6bb6d27651a7b70/spec/db_text_search/case_insensitive_eq_spec.rb#L28) for Rails 5. Hopefully this is a c

[2016-03-30 20:15] vsorlov commented on #24359
@glebm, yes, this needs to be fixed, rails 5 should not break backward compatibility

[2016-03-30 23:05] brandonpancost commented on #24364
I just wrote a script real quick. It should test the issue, but it needs to be switched from sqlite to mysql in order to reproduce the error.

[code]

[2016-03-30 23:54] mparodi commented on #23550
Guys, this is not working. Was it deprecated or something? This is the route I need:

[code]

This is the error I'm getting: http://i.imgur.com/JX5hA10.png. As you can see, the path matches on the debug input.

Is it a bug? What am I doing wrong?

[2016-03-31 00:01] rplaurindo opened #24378 "fields_for method printing unexpected tag when using nested form"
The expected behavior is a renderization partial that contains

[code]

**Obs.**: `form_parent` is a helper method.

[code]

But Rails render

[code]

With an unexpected `</div> </div>` after the last tag.

**Rails version:** 4.2.6:

**Ruby version:** 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux]:

[2016-03-31 08:36] kuldeepaggarwal commented on #24367
@francesco-loreti What is the database name for your configuration?

[2016-03-31 08:54] kuldeepaggarwal commented on #24367
@francesco-loreti Why is the purpose of using table name as `giri.users_history`?

[2016-03-31 09:17] kuldeepaggarwal commented on #24367
This [commit](c80487eb) creates problem for above issue, because code never assumed that the table name would contain dot(`.`)

here is the script that describes the failure:

[code]

and here is the backtrace:

[code]

[2016-03-31 11:13] justedd opened #24380 "Nested model validation errors has useless format in json"
Hi everyone.
I have class Order, that can content Entries. And each Entry can be complex type, and consist from another entries(associated as Members).
[code]
In form i have rails generated fields in form, using(/like a) fields_for, like this
[code]
So, i submit a form of order, for example with 2 entries, and 15 members with some validation errors ( 2 members without title ) and it passes to stan

[2016-03-31 11:55] morgoth commented on #24380
@justedd It's already improved in Rails 5 - you can take a look at PR https://github.com/rails/rails/pull/19686

[2016-03-31 15:07] VladRassokhin commented on #24372
@maclover7
Yes, it works fine with rails 4.2.6
[code]
[Here's](https://gist.github.com/VladRassokhin/0a0e59596456f360a75a35d83a71622f) Gemfile and Gemfile.lock if you need them.

[2016-03-31 16:36] vsorlov commented on #24341
I've created a script with that scenario and it doesn't seem to be failing
https://gist.github.com/vsorlov/c619d9b6c4cc06947eab4125782fd9f8

either the problem is not in rails 5.0.0.beta3 or you missed something in replication steps

[2016-03-31 16:54] jarosluv opened #24382 "`pluck` with `includes` apply `joins` on association"
[code]
https://gist.github.com/jarosluv/0c580e1cfa9de1a2ae8b4291b3280e36

Is it expected behavior or bug?

[2016-03-31 17:01] rafaelfranca commented on #24341
@sgringwe could you try to chenge @vsorlov's gist to reproduce your issue?

[2016-03-31 17:02] #24380 closed

[2016-03-31 17:27] mchristen commented on #24372
I am also experiencing this behavior, but on 4.2.6 with ruby 2.2.3p173. I also confirmed that this happens is present in 4.2.5.1 as well.

Any other rake task I've tried but 'test' seems to work just fine.

[code]

[code]

[2016-03-31 19:17] landesjm opened #24384 "Rails 5 migration/schema dump issue/question with postgres and OracleEnhancedAdaptor"
I'm using Rails5.0.0.beta3 with multiple database connections, one to postgres and one to Oracle. When I execute rake db:migrate or rake db:schema:dump, an error is generated which appears that the OEA is asking the Postgres adaptor for a listing of it's materialized views. I'm not sure if this is a AR issue or an OEA issue or maybe both?

$ rake db:schema:dump
rake aborted!
NoMethodError: undefin

[2016-03-31 19:19] rafaelfranca commented on #24384
It seems to be an activerecord-oracle_enhanced-adapter's issue

[2016-03-31 19:19] #24384 closed

[2016-03-31 19:19] #24367 closed

[2016-03-31 19:23] sgrif commented on #24378
Please provide a minimal Rails app which demonstrates the issue.

[2016-03-31 19:24] vsorlov commented on #24382
I think that is expected behavior, because `pluck` can fetch properties from included records. For example `Post.includes(:comments).pluck(:comment_property_name)`. So I think that is ok, that `pluck` result array size doesn't depend on passed properties.

[2016-03-31 19:29] #24382 closed

[2016-03-31 19:45] maclover7 commented on #24372
Can you try to do a git bisect to find where the erroneous behavior was introduced?

[2016-03-31 19:47] #24351 closed

[2016-03-31 19:52] sgrif commented on #24314
This isn't even a limitation. This is the expected behavior. When you put an additional field in the select column, it is accessible through the record. I don't think this warrants a mention explicitly on `as_json`, and the behavior of `select` is thoroughly documented.

[2016-03-31 19:55] vipulnsward commented on #24314
@sgrif the issue is that select isn't returning extra selected values in case of eager load.

[2016-03-31 20:35] kaspth commented on #24372
This is because of the new test runner in Rails 5. `rake test` is basically just a shim for that. As you've noticed we just pass every option on to our internal Minitest plugin.

What's the point of the `--rakefile` in your example? To enrich the default test task with more behavior?

Not sure what to do about this. @senny, @arthurnn any of you have any ideas?

[2016-03-31 20:35] maclover7 commented on #24348
By a client, do you mean the JS infrastructure that ships with Action Cable?

[2016-03-31 20:37] mchristen commented on #24372
It appears that this behavior has existed since day one on this project, it is only a few months old.

I was able to re-produce the problem with the following

[code]

[2016-03-31 20:50] ZeroFries commented on #24348
Yes

[2016-03-31 20:51] kaspth commented on #24372
@mchristen are you sure `-t` is a supported Rake option? Doesn't it confuse with `-T` (list all tasks)?

[2016-03-31 20:53] mchristen commented on #24372
Yes, it is the 'trace' option.

```    -t, --trace=[OUT]                Turn on invoke/execute tracing, enable full backtrace. OUT can be stderr (default) or stdout.```

[2016-03-31 20:58] maclover7 commented on #24348
Not super familiar with how the JS side of things work, but it looks like calling [`unsubscribe`](https://github.com/rails/rails/blob/master/actioncable/app/assets/javascripts/action_cable/subscription.coffee#L59) on a subscription should do the trick -- cc @javan

[2016-03-31 21:08] kaspth commented on #24372
@VladRassokhin seems to work on master for me. Can you verify in your app?

[2016-03-31 21:11] ZeroFries commented on #24348
Calling unsubscribe does indeed call <RailsChannel>#unsubscribe, but does not actually unsubscribe the client from the channel. What should be inside <RailsChannel>#unsubscribe?

[2016-03-31 21:19] mchristen commented on #24372
Should I open another Issue for this since it happens on 4.2.X?

[2016-03-31 21:45] mchristen commented on #24372
I just created a new rails app using the current rails master and this problem still exists. Note that the '-t' options works fine for the db:migrate task, but not for the test:controllers task

[code]

[2016-03-31 21:59] javan commented on #24348
Yeah `Subscription#unsubscribe` should do the trick.

How are you determining that?

[2016-03-31 22:02] vsorlov commented on #24359
so I see two possible solutions:
1) change `ActiveRecord::ConnectionAdapters::PostgreSQL::SchemaStatements#indexes` to return all indexes and make sure expression indexes are not included in a dump. this breaks `#indexes` previous behavior.
2) add parameter to `#indexes` method with which that method will return all indexes. use that parameter in `index_name_for_remove`

[2016-03-31 22:14] ZeroFries commented on #24348
When the server broadcasts a message to the channel, the client will still be listening, despite calling `Subscription#unsubscribe`

[2016-03-31 23:39] javan commented on #24348
I can't reproduce. Tested by closing a client-side subscription and then broadcasting to its channel on the server. No data received by the subscription.

Are you perhaps reloading your assets sometime after unsubscribing? By navigating to another page, for example. If so, that would likely create the subscription again.

[2016-04-01 00:09] sgrif commented on #24314
Ah, I see now. It's a very confusingly set up report...

[2016-04-01 00:19] tgxworld commented on #24351
Thanks for fixing @sgrif :+1:

[2016-04-01 01:22] VladRassokhin commented on #24372
My app is just simple `rails new test-x` and there nothing special in it.
It seems there's something else here since it work for someone and works not for another. Maybe there's some difference in our RUBYLIB paths or other hidden parameters?

[2016-04-01 09:20] francesco-loreti commented on #24367
Sorry but I think the solution is not good for postgresql. The point divide the schema name with the table name. In postgresql the sche is always present but when the tables are into the public standard schema is not necessary explain it into the request. For example if I write "select * from public.users" or "select * from users" I receive same result. But if I create a different schema for examp

[2016-04-01 10:29] justedd opened #24390 "index_errors does not consider indexes of correct existing sub records"
### Steps to reproduce
Updating existing record with accept_nested_attributes_for with existing sub-records. (Order - Entries), with index_errors: true.
So, i have existing Order, with 2 existing entries, and try to update it with nested attributes
### Expected behavior
Same indexes all times
### Actual behavior
If im not changing entry_1, and change entry_2(with incorrect attributes) i got this r

[2016-04-01 10:45] glebm commented on #24359
When the name is specified explicitly, why does Rails need to fetch the indexes before deletion?

[2016-04-01 13:02] yahonda opened #24391 "bundle exec rake test_mysql2 causes Mysql2::Error: SAVEPOINT active_record_1 does not exist: ROLLBACK TO SAVEPOINT active_record_1"
### Steps to reproduce
[code]

### Minimum steps to reproduce
[code]

### Expected behavior
Unit tests finished without errors

### Actual behavior
Tell us what happens instead
[code]
### System configuration
**Rails version**:
master branch including https://github.com/rails/rails/commit/133befb59b8389cb483fd4194acdcddc5e288ab4

**Ruby version**:
ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-l

[2016-04-01 13:26] bquorning opened #24392 "ActionDispatch::Routing::RouteSet::Generator mutates request.path_parameters"
I’m having some trouble upgrading to Rails 5.0.0.beta3, and it looks like #21057 is to blame.

In a controller, I can trigger an `ActionController::UrlGenerationError` exception by calling e.g. `root_path` right before calling `url_for`. In a `show` action, I would get something like this message: `No route matches {:action=>"index", :controller=>"foo", :id=>"42"}`. Notice how `url_for` thinks the

[2016-04-01 16:31] maclover7 commented on #24392
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-04-01 16:34] gioele opened #24393 "`request.url` does not take `relative_url_root` into account"
The URL returned by `request.url` ignores the value of `Rails.config.action_controller.relative_url_root`.

The [documentation of `ActionDisplay::HTTP:URL#url`](https://github.com/rails/rails/blob/8a8325766a870df0abcf4662fb71660173737253/actionpack/lib/action_dispatch/http/url.rb#L193-L200) says that it "Returns the complete URL used for this request". This is not true for projects that are not mo

[2016-04-01 16:48] maclover7 commented on #24393
Hmm, I think this is more a case of Action Dispatch not knowing about `relative_url_root` -- it seems like it is only available within Action Controller and Railties. Looking into how this context might be integrated into Action Dispatch...

[2016-04-01 16:51] bquorning commented on #24392
I've tried writing a test case, and failed. And will absolutely try again :-)

But just looking at the `Generator` code, it's pretty obviously buggy. Even the linked commits’ messages and that PRs comments mention the risk of introducing subtle bugs.