[2018-03-27 10:38] matthewd commented on #32346
@pixeltrix  while I'd hesitate to call that a _reasonable_ method name, I think I agree with @JonRowe that we're obliged to work with all valid inputs, reasonable or otherwise. (Beyond length, it also seems fair to expect us to handle any more untoward characters in there.)

Maybe we could truncate + digest? ¯\\\_(ツ)_\/¯

[2018-03-27 10:54] pixeltrix commented on #32346
I don't think digesting would be a good option - would make it hard to find the correct name without copying and pasting the path from the test output. It would probably make sense to have the minitest case/top level RSpec group as a containing folder underneath `tmp/screenshots` and then have the image name from there. Unsure whether RSpec would want each context/describe block as a nested folder

[2018-03-27 11:10] matthewd commented on #32346
I was thinking we'd keep the first ~200 filename-valid characters, then throw the digest on to defend against duplication. I wouldn't've thought many people would be using these filenames in a way other than copying/clicking on the test output anyway, tbh.

[2018-03-27 11:17] kamipo commented on #32331
Yes. Before 5.2, if both an AR model class and a Relation instance have same named methods (e.g. `arel_attribute`, `predicate_builder`, etc), named scope doesn't respect relation instance information.

For example:

[code]

If eager loading `Post.eager_load(:comments1, :comments2).to_a`, `:comments1` (default_scope) respects aliased table name, but `:comments2` (using named scope) may not work cor

[2018-03-27 11:25] pixeltrix commented on #32346
Something like this?

[code]

or an actual digest based on `method_name`:

[code]

Either way, Rspec Rails can then drop the number from their name since we'll be making it unique.

copying/clicking on the test output anyway, tbh.

Depends on how many test failures you've had 😉

[2018-03-27 11:57] matthewd commented on #32346
I went for digest over randomness to avoid us generating infinite names for unchanging input... but if rspec's likely to be the only popular library to hit this code, and they're already using randomness (I was assuming for their own reasons unrelated to our filename generation, but it sounds like I might have that wrong?), maybe such consistency doesn't gain us anything.

If `method_name` only ex

[2018-03-27 12:13] pixeltrix commented on #32346
I think randomness was added to the method name because you can easily end up with duplicate example descriptions if you're meta-programming specs - however maybe the example id would be better than randomness as that could be added as a digest in RSpec.

[2018-03-27 12:18] pixeltrix commented on #32352
Basically what @danhuynhdev said - for Rails to parse the SQL, recognise that it's a JSON path and return that via `dig` or some such means from loaded records isn't feasible in a way that would be performant.

[2018-03-27 12:18] #32352 closed

[2018-03-27 12:29] aried3r commented on #32352
I thought so, thanks for the feedback!

[2018-03-27 12:47] jarkelen opened #32356 "after upgrading from 5.1.4 to 5.1.5: undefined method `arel' for nil:NilClass"
My application is running on Rails 5.1.4 fine.
When I upgrade to 5.1.5 I get this error: `undefined method `arel' for nil:NilClass' on this line of code: `unless testruns.blank?`. When I downgrade Rails back to 5.1.4 everything is fine again.

I am not using the Arel gem in my Gemfile, so what is causing this error?

[2018-03-27 13:49] kiddrew commented on #25198
FYI, I just ran into this in 5.1.2

[2018-03-27 14:05] olimart opened #32358 "Set S3 bucket path in Active Storage"
Active Storage - Applicable to S3 config. (maybe others too)

### Expected behavior
It would be great to be able to set path within bucket as an option. Applicable to AWS S3, not sure about the other cloud services.

### Actual behavior
Currently `storage.yml` has no key for path for AWS S3.

### System configuration
**Rails version**: 5.2.0.rc2
**Ruby version**: 2.5

[2018-03-27 14:17] rmosolgo opened #32359 "When a `unloadable` module is autoloaded, it can't be reloaded after unloading once"
### Steps to reproduce

I've pushed a failing test here: https://github.com/rails/rails/commit/5be9bd575907394d8b3b47c2e7745c118d3ba495

The problem is:

- When `unloadable` constants are autoloaded, their names are added to two lists:
  - `Dependencies.autoloaded_constants`, which holds the names of all constants which were autoloaded; AND
  - `Dependencies.explicitly_unloadable_constants`, which

[2018-03-27 14:25] rmosolgo commented on #32359
I added a PR to _fix_ the issue here, let me know if you think it's a good approach, thanks for taking a look!

https://github.com/rails/rails/pull/32360

[2018-03-27 15:35] georgeclaghorn commented on #32358
You’re intended to create a bucket for Active Storage to use exclusively. See #31871.

[2018-03-27 15:35] #32358 closed

[2018-03-27 16:19] robin850 commented on #32318
Awesome folks ! Thanks for reporting @yahonda and thanks for the quick fix @headius !

[2018-03-27 16:19] #32318 closed

[2018-03-27 18:05] rafaelfranca commented on #32356
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2018-03-27 18:05] #31443 closed

[2018-03-27 18:42] perlun commented on #30570
@y-yagi @morgoth I just released rack-test 1.0.0 (yeah, :tada:) - please let me know if the problem persists.

[2018-03-27 19:06] Bramjetten commented on #31325
Apparently the name of the route changed to `rails_blob_representation_path`. Changing it in the `variant` method fixes it.

[2018-03-27 20:10] aprescott commented on #30779
I also just encountered this on Rails 5.1.5. My understanding was that `after_commit` callbacks were intended to run automatically after #18458. Is that no longer true?

[2018-03-27 20:20] aprescott commented on #30779
Hm, actually, I can't confirm that. Sorry for the noise. I'll delete my comment.

[2018-03-27 22:08] Bernica opened #32362 "Newline bug when on Windows"
### Steps to reproduce
- Install Rails on Windows
- Make some requests
- Open default development.log file with Notepad

### Expected behavior
Logging should work the same on Windows as in OS X/Linux

### Actual behavior
Logging doesn't print newlines correctly on Windows

### System configuration
**Rails version**: 5.1.5

**Ruby version**: 2.4.3

Considering that newlines on Windows consist of \r

[2018-03-27 22:28] y-yagi commented on #30570
Awesome :tada:
I have confirmed that original issue fixed with rack-test 1.0.0.
So I close this. But if anyone still has problem, please reopen it freely. Thanks!

[2018-03-27 22:28] #30570 closed

[2018-03-27 23:21] JonRowe commented on #32346
The random-ness is due to the fact we have no constraints on spec names, this is valid:

[code]

And would produce two identical method names. I agree that example_id would be better but could also be identical across two files.

[2018-03-28 00:28] quickdudley opened #32363 "Merge with joins adds secondary joins to wrong part of query"
### Steps to reproduce

I have a query along these lines:

    joins("RIGHT JOIN (p LEFT JOIN s ON s.p_id = p.id) ON s.a_id = a.id OR p.a_id = a.id").merge(p_scope)

If `p_scope` contains no joins: the query works as expected. If `p_scope` contains joins: the full query is constructed incorrectly.

### Expected behavior
In the event that `p_scope` contains joins: the generated SQL should be along

[2018-03-28 00:49] yahonda commented on #32318
Validated the fix https://travis-ci.org/rails/rails/jobs/359123642 Thank you.

[2018-03-28 02:43] jjb commented on #32353
`rails c`

[code]

[2018-03-28 04:25] rafaelfranca commented on #32353
That is by design. If you pass an unknown encoder it will use the identity encoder.

[2018-03-28 04:25] #32353 closed

[2018-03-28 04:47] jjb commented on #32353
@rafaelfranca gotcha. What's the reasoning? It seems to be that if a user passes an encoder, that means that they are under the impression that it exists. Would you be open to a PR to raise an error in this scenario?

[2018-03-28 05:36] rafaelfranca commented on #32353
The reason is because users can register different encoders so raising when you are not using one of the framework encoders would break that behavior. If we can change it to raise without breaking that I'm open to a PR.

[2018-03-28 07:25] PikachuEXE commented on #32329
Anyone?

[2018-03-28 07:56] mesmerze opened #32365 "ActiveStorage: DirectUploads - 'undefined' instead item.signed_id in params"
### Steps to reproduce

I want to add the incredible ActiveStorage feature to my project, but I've faced a problem with direct uploads.
I've used [rails guides](http://edgeguides.rubyonrails.org/active_storage_overview.html) for setup.

### Expected behavior
After the direct upload is done activestorage.js should put signed_id to the hidden input value and submit a form.
### Actual behavior

File

[2018-03-28 10:17] Frexuz commented on #32356
Same here going to 5.1.5.

Controller
[code]

Conversation
[code]

User
[code]

Query
[code]

[2018-03-28 11:05] Stormcore commented on #25198
Same thing rails 5.1.2

[2018-03-28 11:07] Stormcore commented on #19863
still in 5.1.2

[2018-03-28 13:33] imanel commented on #19863
@rafaelfranca do you think we should treat it as a bug, and fix it in similar way to #20962 (I believe it was closed because of no response for nearly two years), or it should stay as it is and this issue should be closes as correct behaviour?

[2018-03-28 17:58] Stormcore commented on #32024
Reproduces on 5.1.2 when migrated from 4.2.1  and it has broken all application - that's a disaster!!!

[2018-03-28 18:33] #31528 closed

[2018-03-28 19:12] rafaelfranca commented on #32024
Please do investigate.

[2018-03-28 19:16] rafaelfranca commented on #32356
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2018-03-28 19:18] rafaelfranca commented on #32356
Oh, just saw that you are overriding the association reader to return something different. I'd not be surprised that is broken, that is not something we support. If you can reproduce that without doing that we can consider that a bug.

[2018-03-28 20:12] rderik opened #32367 "Bug on rails console when process is suspended"
### Steps to reproduce
Run `rails c` then suspend it by pressing [Ctrl+z]

### Expected behaviour
The user shoudl be able to suspend the rails console and then the user should be able to use the shell without any interference.

### Actual behaviour
The rails console doesn't seem to be suspended and it is "fighting" with the shell for the input and some input goes to the shell and some to the rails

[2018-03-28 20:27] rafaelfranca commented on #32367
This issue was moved to rails/spring#557

[2018-03-28 20:27] #32367 closed

[2018-03-28 20:43] csenszike commented on #25333
Same for me.
[code]
When I hit F5 in the browser I get the initial message only around 3 times of 10 in production.

[2018-03-28 20:59] Stormcore commented on #32024
I can confirm its a bug as it worked as expected on rails 4.2 and now relations are broken, which argument does it need in addition?

[2018-03-28 21:11] rafaelfranca commented on #32024
Someone to investigate and fix the bug. Rails is made by volunteers and people usually to be better motivated when the problem is their problem.

[2018-03-28 21:46] victorhazbun commented on #32024
I tested the script with `gem "activerecord", "4.2.1"` instead of `gem "activerecord", "5.1.5"` and the tests are still broken. https://gist.github.com/victorhazbun/3570daaeaf78450e46d9d5904289aba7 Am I doing something wrong?

[2018-03-28 21:52] Stormcore commented on #32024
@victorhazbun could you test on 4.2.0 please?

[2018-03-28 21:57] victorhazbun commented on #32024
Results for `gem "activerecord", "4.2.0"` still not passing https://gist.github.com/victorhazbun/195f4d8a8043584e10fd60639ec51908

[2018-03-28 22:19] jjb commented on #32353
By "unknown" I meant unregistered. I just updated the title of this issue to reflect this.

Here: https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/testing/request_encoder.rb#L45-L47

[code]

`@encoders` is the built-in json encoder + any user-defined encoders.

If a user specifies `as:  :foo`, then they must expect either a built-in or user-added encoder which handles `:fo

[2018-03-28 22:52] y-yagi commented on #32363
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb), that would demonstrate the problem you are seeing?

[2018-03-28 23:03] kamipo commented on #32363
This is a same issue with #12953 and #24281.
A string joins doesn't work with symbol joins for now.

[2018-03-28 23:38] yahonda commented on #32339
I have opened https://github.com/Shopify/bootsnap/issues/148 to bootsnap to get some more information.

[2018-03-29 00:03] gabrieljoelc commented on #20484
The [documentation](http://api.rubyonrails.org/classes/ActiveRecord/Batches.html#method-i-find_each) has this note for `find_each`:

It makes me think that a `find_each` nested in transaction block will not rollback objects in previous batches if there are multiple batches. However, @sgrif 's [first comment](https://github.com/rails/rails/issues/20484#issuecomment-110203544) seems to confirm that

[2018-03-29 02:35] kamipo commented on #19882
This haven't happened since 5.0.6 and 5.1.4.

[2018-03-29 02:35] #19882 closed

[2018-03-29 04:20] quickdudley commented on #32363
I've also been seeing the same issue with symbol joins. During the weekend I will make a test script.

[2018-03-29 04:22] phanviet opened #32368 "Optimistic Locking: ActiveRecord::StaleObjectError exception only raise once"
### Steps to reproduce

I use the same command for testing Optimistic Locking as below screenshot:

![Image](https://www.evernote.com/shard/s510/sh/85515428-6e78-4194-9023-d7860e8f11df/40102f429df18de1/res/ee46994b-79c8-4e7c-beb2-e22636ae539d/skitch.png)

The first try is good with the exception was raised. I understand why the command at 2nd try don't raise exception but at 3rd try, I think the e

[2018-03-29 04:55] Frexuz commented on #32356
I dont see how that's any different, since it just returns an active record query.
It's the same as doing:
(also throws the same error)
[code]

But i'll try creating a template..

[2018-03-29 06:40] Frexuz commented on #32356
1. Created bug_report_template. No bug there.
2. Started ripping out all gems, adding them back slowly.
3. Running `bundle` after every step
4. Restart server and theck the bug again.

5. All gems are back
6. No bug anymore
7. Profit

Not sure how this works :P I ended up with several new version of all kinds of gems, but I don't see that any of them have anything to do with active-record or json

[2018-03-29 08:52] danhuynhdev commented on #32368
I think you your test is working against you here. Try to change the value assigned to the title every time and you gonna see a consistent result.
[code]

[2018-03-29 09:45] YaEvan opened #32371 "the dependency gem mail 2.7.0 occur warning and bug"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
run bin/rspec,  the mail v2.7.0 occur error
[mail issues](https://github.com/mikel/mail/pull/1162)

### Actual behavior
`/Users/evanyang/.rvm/gems/ruby-2.3.1@everydayrails/gems/mail-2.7.0/lib/mail/parsers/

[2018-03-29 10:27] phanviet commented on #32368
Thank you @danhuynhdev I understood.

[2018-03-29 10:27] #32368 closed

[2018-03-29 11:13] shauns commented on #14362
If using a template, pass a block to the format.x method:
[code]

[2018-03-29 12:55] y-yagi commented on #32371
It does not seem to be a Rails' issue. Please create an issue with [mail's](https://github.com/mikel/mail) repository.

[2018-03-29 12:55] #32371 closed

[2018-03-29 14:23] darkstego opened #32374 "Rails does not use proper table_name when using nested hash condition on joins"
### Steps to reproduce

If you join a model with a defined table_name, the table name is not used when constructing the WHERE, but rather the model name is used (singular or plural depending on what you write).

[code]
If you try to run
[code]
### Expected behavior
[code]

### Actual behavior
[code]
Error
Uknown Column location.LocationDescription

It finds the correct model and uses the proper al

[2018-03-29 16:22] ragurney opened #32376 "Support validate ... on: :destroy"
### Steps to reproduce
I just tried something like

[code]

which silently failed. I ended up digging through stackoverflow and found this patch that would make it work:
[code]

Would you accept a PR to add something similar so it works out of the box?

### System configuration
**Rails version**:
5.1.2

**Ruby version**:
2.5.0

[2018-03-29 18:40] cristianbica commented on #18519
@CodingAnarchy support has been added https://github.com/rails/rails/pull/32026 but it didn't make it into 5.2 so it will be 6.0

[2018-03-29 20:00] fakenine opened #32377 "Cannot retrieve STI class subclasses via query after reloading"
### Steps to reproduce

Hello,

In an engine, I have something like this :

[code]
[code]

[code]

[code]

[code]

The issue happens when I try to retrieve all the created `Users::Admin`, after the app is reloaded. For instance, if reproducing this via the console :

[code]

### Expected behavior

The query should return all the Users who are of kind/have inherited Users::Admin, like after line `:

[2018-03-29 20:07] fakenine commented on #32377
My bad, found the explaination here

http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-sti

[2018-03-29 20:07] #32377 closed

[2018-03-29 20:50] kylekeesling opened #32378 "ActiveStorage direct_upload failing in IE11 - Assignment to read-only properties is not allowed in strict mode"
## Steps to reproduce
Using Active Storage, along with direct upload, upload a file directly to a service (tested with S3) using Internet Explorer 11.

## Expected behavior
The file should be properly uploaded via javascript directly to the service.

## Actual behavior
IE throws an error when the file upload is complete to S3 and the form submits:
[code]
Which I tracked down to this line of code:

[2018-03-29 22:00] kylekeesling commented on #32376
The solution is to just use the before_destroy callback, it will effectively work the same way you want validates to.

You could also make the arguement that the actual act of validation only makes sense when creating/updating because you are validating the format of the data coming in for the user.

When deleting you are evaluating the data that is already there, hence doing the before callback.

[2018-03-29 23:37] wjordan opened #32379 "IpSpoofAttackError raised when config.action_dispatch.ip_spoofing_check is false"
### Steps to reproduce

- default Rails app (`rails new`)
- set `config.action_dispatch.ip_spoofing_check = false` in `config/application.rb`
- Run Rails server in development environment (`bin/rails s`)
- send HTTP request with spoofed-ip request headers (`curl`)

Self-contained shell script to reproduce issue:

[code]

### Actual behavior

Request returns status 500 with an `IpSpoofAttackError`:

[2018-03-30 01:33] YaEvan commented on #32371
thanks

[2018-03-30 07:52] Fortunate-MAN commented on #30806
I had the same issue, and for any future visitors, it turns out I hadn't set the `RAILS_ENV`; I have no idea how this solves the problem but it worked for me.

    bin/rails db:environment:set RAILS_ENV=development

Then a good old reset:

    bin/rails db:reset

Everything worked like a charm then.

[2018-03-30 08:27] stadniklksndr commented on #25875
Test script above passed successfully only for 5-0-stable.
If it's possible to backport [commit](https://github.com/rails/rails/pull/25876/commits/7c106aefd687b02a941a20400156b7d5f2841948) to 5-2-0 too

[2018-03-30 11:34] Drenmi commented on #22928
This assumption is incorrect. `#last` is the last and `#first` is the first. Whether they are *incidentally* also the oldest and newest depends on what ordering is applied. 🙂

[2018-03-30 11:38] Zyphrax commented on #25875
@stadniklksndr I see that @sgrif wrote that this functionality was going to be deprecated in Rails 5.1, because it was never officially supported. The functions like `update_all` are meant for raw database changes with minimal Rails interference. It would probably be best to change the calls to `update_all`. Would be great though if the method could pass some kind of warning or error when a comple

[2018-03-30 14:57] eileencodes commented on #32379
Thanks for the report @wjordan and fixing it in web-console. Closing this issue 😄

[2018-03-30 14:57] #32379 closed

[2018-03-30 20:25] #31413 closed

[2018-03-30 21:41] eclemens opened #32385 "undefined local variable or method `always_initialized'"
I get an ActiveRecord exception after upgrading from Rails 5.1.5 to 5.1.6. Rolling back to 5.1.5 fixes it.

### Steps to reproduce

The error is triggered if I try to retrieve a record from the database:
[code]

### Expected behavior
I expected to get the User with the ID equals to 2

### Actual behavior
I got the following exception:
[code]

### System configuration
**Rails version**: 5.1.6

**Ru

[2018-03-30 22:07] eugeneius commented on #32385
The token `always_initialized` doesn't appear in Rails 5.1.6 at all; it was removed in https://github.com/rails/rails/commit/1fd67501ce8b55bf9dc42efb119d3ca395c5363c.

This seems more likely to be a problem with a monkey patch or gem than with Rails itself. Could you post the backtrace for the error?

[2018-03-31 00:46] BintLopez commented on #18407
I'm experiencing the issue linked above (https://github.com/plataformatec/devise/issues/3947) with rails 5.1.5 and devise 4.2.

It's only happening when I try to create factories from my seeds file using `rake db/seed`

If I put a breakpoint in my seeds file, I can successfully create a User with FactoryBot. However, if I let `rake db/seed` execute, it throws the following error:

[code]

Heres wh

[2018-03-31 03:19] eclemens commented on #32385
You are right. Another GEM was using the GEM composite_primary_keys that triggered the error. Thank you.

https://github.com/composite-primary-keys/composite_primary_keys/blob/v10.0.3/lib/composite_primary_keys/attribute_set/builder.rb

[2018-03-31 03:19] #32385 closed

[2018-03-31 12:59] jasnow opened #32393 "Getting "undefined method each_pair" after edge Rails upgrade if repo has no tests"
### Steps to reproduce
 1. Clone my repo: https://github.com/jasnow/tic-tac-toe
 2. Run "rake" and see that it is green.
 3. Verify "git diff" to see only difference is new version of edge rails.
 4. Run "bundle update" and see that it failed with this error:
[code]
5. Last clean Rails upgrade was 5 days ago: 614170e96253981c1974b7232cde024dff19010d

### Expected behavior
Tell us what should happe

[2018-03-31 13:56] pixeltrix commented on #32393
@eileencodes looks like this is related to your changes in 4e663c1e8d1e643783f157f904b5276e62f65589

[2018-03-31 14:04] eileencodes commented on #32393
Ok I will look at this later, thanks @pixeltrix

[2018-03-31 20:58] #32393 closed

[2018-04-01 05:54] mathieumahe opened #32402 "Make confirm dialog overridable in rails_ujs"
I would like to override the default confirm dialog in `rails_ujs` to add different possibilities (a nice modal instead of the default box, add a prompt before destroying super-sensitive data like github does with repos, etc.)

One possibility would be to reference the method as `Rails.handleConfirm` instead of using a variable here : https://github.com/rails/rails/blob/896ee2b679462e7bcaa6890c6f5

[2018-04-01 06:18] y-yagi commented on #32402
This is being addressed with #29965. Please wait for it to be merged. Thanks.

[2018-04-01 06:18] #32402 closed

[2018-04-01 08:44] mathieumahe commented on #32402
The pull request doesn't look very active.

Should I create a new one following Rafael's advices ?

[2018-04-01 10:54] y-yagi commented on #32402
Go ahead :+1:

[2018-04-01 13:36] kaspth commented on #32353
If we do

[code]

I'm all for it 👍

[2018-04-01 15:21] chdiza commented on #30200
FYI, this problem has now returned in 5.1.6.  There are `.DS_Store` files here:
[code]

[2018-04-01 17:44] jjb commented on #32353
@kaspth sounds good. just to be clear -- is that simply a style change or is there also a semantic difference?

[2018-04-01 17:49] kaspth commented on #32353
In this case it's just a style change to spare the local variable. `fetch` without a block (or a second argument) would raise `KeyError` if the key wasn't present. So it's closer to our intent, but we just override the thrown exception 😊

[2018-04-01 20:45] kesha-antonov opened #32408 "Association not updating after touch"
Hello! @rafaelfranca

### Steps to reproduce

[code]

### Expected behavior
Associated record ```following.followed``` should be updated automatically. I need recent ```updated_at``` value to cache properly.

### Actual behavior
```updated_at``` stays the same after ```touch: true``` gets called.

### System configuration
**Rails version**: 5.2.0.rc1, 5.1.6

**Ruby version**: 2.4.3

[2018-04-01 20:49] kesha-antonov commented on #32408
Temp fix:

I've added to ```Following```:

[code]

[2018-04-02 00:48] eugeneius commented on #32408
Thanks for the report! Using `git bisect`, I found where the behaviour changed: https://github.com/rails/rails/pull/31405

I think https://github.com/rails/rails/issues/31559 describes the same issue, as removing the counter caches "fixes" the problem.

[2018-04-02 04:56] showmant opened #32411 "'stack level too deep' happens while reading secrets."
### Steps to reproduce
1. `rails secrets:setup`
2. `bin/rails secrets:edit`(add secret_key_base for staging environment)
3. `rails s`
### Expected behavior
rains server/console should run
### Actual behavior
when I try to run rails server or console....
[code]

this problem doesn't happen when I remove `secrets.yml`. it seems `secrets.yml` is called recursively. this happens after using `rails sec

[2018-04-02 05:50] #32411 closed

[2018-04-02 07:52] lulalala commented on #19863
@imanel Currently I am working on #32313. With the introduction of nested errors, there is a slight chance to fix this along the way.

However this issue does not really mention what the correct behavior should look like. As you mentioned, it would be weird:

[code]

As a proposal: I think this may be good enough:

message: "An item must have a name."
full_message: "Items: An item must have a name

[2018-04-02 08:01] nleo opened #32413 "How to disable credentials and use secrets in Rails 5.2 RC2"
`application.rb` - `config.require_master_key = false`

[code]

`cap production deploy`

[code]

[2018-04-02 09:43] pixeltrix commented on #30200
Sorry, this was my fault - I was unaware that I needed to strip my tree of them before building the gem.

[2018-04-02 10:59] pixeltrix commented on #32413
Looks like the `SECRET_KEY_BASE` environment variable is set to an empty string - perhaps we should add a `presence` check here:

https://github.com/rails/rails/blob/7419a4f911b2f8521db3ecfcd78148cf89ebd221/railties/lib/rails/application.rb#L428-L436

e.g.

[code]

@dhh @kaspth wdyt?

[2018-04-02 11:20] prathamesh-sonpatki commented on #32413
@pixeltrix  I think the empty string should be caught by https://github.com/rails/rails/blob/master/railties/lib/rails/application.rb#L582

We can add `presence` check though but this issue looks something different.

[2018-04-02 11:56] pixeltrix commented on #32413
@prathamesh-sonpatki yeah, you're right - didn't read the exception right when I wrote this test:

[code]

Looks like the only way to get to the reported exception is if all values are nil. @nleo can you double check you don't have a typo somewhere?

That explains why this line is checking `secret_token` and not `secret_key_base` which made me think it was the source of the error.

https://github.

[2018-04-02 13:56] kaspth commented on #32413
Let's see if there was a typo in @nlea's app 👍😊

[2018-04-02 15:28] meetme2meat opened #32422 "default_scope concurrency issue."
We are planning to upgrade our stack to 5.0.0.stable. But in our integration env, we seeing some weird error at times.

It does not happen **frequently** but we are hoping to get it fixed so that we can roll out `AR` updates to our production boxes.

There is an identical issue reported earlier as well https://github.com/rails/rails/issues/27418. But it seems the issue was related to `schema` load

[2018-04-02 15:50] mlh758 commented on #31019
This fix also appears to fix an issue where Sidekiq jobs can't run in development due to a deadlock if multiple jobs start at the same time. I was on Rails 5.1.4 using Ruby 2.4.1.

Thanks for finding and fixing this.

[2018-04-02 16:14] moubry opened #32424 "`ActiveSupport::JSON.decode` does not decode times"
I’m confused about whether I should be expecting `ActiveSupport::JSON.decode` to decode times. The tests for this feature make it seem like this is expected behavior, but I can’t get it to work.

### Steps to reproduce

[code]

Output:

[code]

### Expected behavior

I expect the decoded ISO 8601 strings to be DateTime objects.

### Actual behavior

They are String objects after decoding.

### Sys

[2018-04-02 16:22] rafaelfranca commented on #32424
You need to enable `ActiveSupport.parse_json_times`

[2018-04-02 16:22] #32424 closed

[2018-04-02 16:33] moubry commented on #32424
Oh, boy — I feel dumb now. Thank you, @rafaelfranca. 🙌🏻

For anyone who finds this issue in the future, I had to do three things to get this working in a vanilla Ruby script:

[code]

You can't set `ActiveSupport.parse_json_times` without first explicitly setting `ActiveSupport::JSON::Encoding.use_standard_json_time_format` for some reason. And since `ActiveSupport::JSON.decode` uses `Time.zone.pa

[2018-04-02 17:34] #32335 closed

[2018-04-02 21:43] quickdudley commented on #32363
Replicating the problem with symbol joins in a test script proved more difficult than expected. I currently have a scope which works as intended in rails console and in a test script but fails when called with the same arguments from a controller.

[2018-04-02 22:18] arni1981 commented on #32374
Providing an executable example will help I think.
See more here: http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#create-an-executable-test-case and https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2018-04-02 23:35] willianveiga commented on #32374
I've created my first executable example:

[code]

Sorry if it's not good enough.

Thank you very much. Willian.

[2018-04-03 01:00] westonganger commented on #30466
Also seems very similar to https://github.com/airblade/paper_trail/issues/1047

[2018-04-03 03:20] nleo commented on #32413
Sorry guys, my bad. I forgot to push my changes. Don't use capistrano often.

[2018-04-03 03:20] #32413 closed

[2018-04-03 04:12] darkstego commented on #32374
I don't know why my reply from several days ago didn't show up. The problem is associated tables are stored as Arel TableAlias rather than Arel Table. I don't know why that is the case but I was able to fix my problem simply by removing the aliasing step. I honestly don't know if this is fix breaks anything else, because I can't tell why aliasing is used in this spot.

Here is the fix I put in.
ht

[2018-04-03 11:10] lucabob opened #32433 "ActionController::Parameters doesn't permit an array of arrays"
### Steps to reproduce

We are building an API-only application, and need to permit requests like this:

[code]

This is used to assign nested attributes. In the model we override`configurations=` which transforms this into the nested records. We don't have control over the API structure, so cannot change it to work in the standard Rails way.

The issue here is that there is no way with ActionCont

[2018-04-03 13:32] akhmel commented on #23640
Same for me

[2018-04-03 13:58] johnlpollard commented on #32063
@brenogazzola Where did you put that code to force jpeg? I have a requirement that the images must be jpeg due to the consumers of the images.

[2018-04-03 16:14] aried3r opened #32436 "`.second_to_last` seems to load all records"
### Steps to reproduce

Using any record you have, `Record.last` loads just the last record from the database, but `Record.second_to_last` seems to load all of them and then using the array operator `[-1]` (guessing).

[code]

Compare to
[code]

### Expected behavior
`.second_to_last` should not load all records.

### Actual behavior
`.second_to_last` seems to load all records.

### System configu

[2018-04-03 17:29] fatkodima commented on #32436
Can confirm. Will look at this.

[2018-04-03 17:42] rafaelfranca commented on #32436
Thanks. This is not an issue, it is more like a feature request so I'm closing. But still feel free to submit a PR.

[2018-04-03 17:42] #32436 closed

[2018-04-03 17:57] aried3r commented on #32436
I slightly disagree, in my opinion having `.first`, `.second`, `.third`, `.last` having completely different performance characteristic than `.second_to_last`, `.third_to_last` is definitely an issue and unexpected behaviour.

While the [docs](http://api.rubyonrails.org/classes/ActiveRecord/FinderMethods.html#method-i-second_to_last) seem to correctly suggest everything is loaded:
[code]
The same

[2018-04-03 17:59] emerak commented on #24627
@jimchild49 have you been able to workaround it?

[2018-04-03 18:09] fatkodima commented on #32436
This is working differently on master (after merging this commit https://github.com/rails/rails/commit/f5328d9379da473bfc5420996693a14c6e0d2556). Probably,  that should be backported to 5.1.x?

[2018-04-03 18:27] brenogazzola commented on #32063
@johnlpollard I added it to a job that I enqueue after the record that contains the image is committed, so that the variants are generated before they are needed.

Here's the full code (I changed the one above).

[code]

[2018-04-03 18:43] emerak commented on #24627
I've seen a similar error, but on activemodel, I've been trying to repro but no luck

[code]
currently in rails `5.0.6`
ruby `2.4`

[2018-04-03 19:55] hughkelsey opened #32438 "Rails-ujs events not firing from links loaded through rails-ujs"
### Steps to reproduce

I've created a quick example app here: https://shielded-beach-23078.herokuapp.com/examples
The source is here: https://github.com/hughkelsey/rails-ujs-issue

1. Visit https://shielded-beach-23078.herokuapp.com/examples
2. Click on any of the links, they will load some basic content with a link through rails-ujs
3. Click on the link that was loaded by rails-ujs
4. This will

[2018-04-03 20:49] robban commented on #32378
You can try changing the row to:
`button.style.cssText = "display:none"`

[2018-04-03 21:18] Edouard-chin commented on #32197
👋  @renchap Are you planning to work on this? I'd be happy to takeover otherwise as I'm facing the same issue.

[2018-04-03 21:34] renchap commented on #32197
Thanks for the nudge. I have been sick for 2 weeks and now need to catch back with work, so I wont have time to look at this before next week.  Feel free to send a PR if you need this.

FYI, if you are using headless Chrome, setting the download directory in the options is not working (see https://bugs.chromium.org/p/chromium/issues/detail?id=696481). I got a workaround with the following code:

[

[2018-04-03 21:46] Edouard-chin commented on #32197
Hope you feel better! Otherwise no rush, mainly wanted to let you the time to work on it instead of taking over without asking :).

My issue is not about the download_directory, but mobile emulation, it's the same underlying problem though.
I like the solution you proposed

[code]

Since the `Chrome::Option` class was introduced in Selenium 3.4.4 a bunch of convenient way to pass options were depr

[2018-04-03 22:12] hderms commented on #23422
This problem is plaguing a project I'm currently working on

[2018-04-03 22:13] hderms commented on #23422
@stevenpetryk is right I think in the sense that rails shouldn't be assuming integers as primary keys if it was configured to generate them as UUIDs

[2018-04-03 22:32] brenogazzola opened #32440 "form_with doesn't post remote forms with empty file input on Safari"
When using form_with with a single file_field (using the form helper), the form will not submit on Safari for OSX if no file was chosen. Switching to "local: true", solves the problem (which is why I believe this is a turbolinks error).

### Steps to reproduce
1 - Create a form using form_with;
2 - Add a single file input field using the file_field helper;
3 - Without selecting a file, click submi

[2018-04-03 23:55] yhirano55 commented on #32440
I've tried Demo Repository in Chrome and Safari.
But as far as watching these logs, it seems these are no problems:

### Chrome: v65.0.3325.181

[code]

### Safari: v11.0.3 (13604.5.6)

[code]

[2018-04-04 00:06] brenogazzola commented on #32440
From your logs it seems you selected a file in both cases (beach-xxx.jpg). Please try again, but leave the input empty. Just open the new photo page and click save. You will notice that the button is disabled but there's no network request (on safari)

[2018-04-04 00:10] yhirano55 commented on #32440
I got it. Thanks.

[2018-04-04 01:18] brenogazzola commented on #32440
That's better than what I get. While I made a mistake when I said that there's no network activity (safari shows a post request, but it just hangs there), my server logs don't show anything after `Started GET "/photos/new"`.

![screen shot 2018-04-03 at 22 15 44](https://user-images.githubusercontent.com/1793280/38283500-ad121adc-378c-11e8-9049-c80c90261093.png)

[2018-04-04 06:31] AlexKovynev commented on #32378
Or maybe button.style.display = "none"

[2018-04-04 12:24] 8398a7 opened #32449 "Transaction problem of active storage"
### Steps to reproduce

added test to activestorage/test/models/attachments_test.rb

[code]

### Expected behavior

Processing is rolled back, funky.jpg remains as a record, and funky.jpg can be downloaded.

When updating a record, there may be a validation error in elements other than AS.
If you create a transaction, you also expect the behavior of rolling back files at this time.

Actually, `#pu

[2018-04-04 13:41] meetme2meat commented on #32422
The issue is also reproducible under `activerecord-5.1.6`

Attaching the following backtrace.

[2018-04-04 13:52] kylekeesling commented on #32378
I think I've figured it out.

There is a minified javascript file (activestorage/app/assets/javascripts/activestorage.js) that seems to be taking precedence over the code in app/javascript.

When I removed that code everything seems to work properly, also, I stylistically updated the code in ujs.js to:

`button.style.display = "none"`

I'll submit a pull request of my updates shortly.

[2018-04-04 14:02] kylekeesling commented on #32378
Actually, nevermind. I believe the issue is just that the asset pipeline version needs to be updated/fixed.

When I install and use ActiveStorage through webpack everything works fine.

[2018-04-04 14:08] sergiogomez opened #32451 "Rails server hangs up with concurrent json requests"
### Steps to reproduce

First, create a new rails app with a simple scaffold:
[code]
Then, launch two concurrent requests from another shell:
[code]
### Expected behavior
[code]
### Actual behavior
Requests cause a hangup, and process must be killed (Ctrl+C is not working):

[code]
If we add `ActionDispatch::DebugLocks` we have this info:

[code]

### System configuration
**Rails version**: 5.1.6

[2018-04-04 14:26] sergiogomez commented on #32451
It seems related to autoload for development and `ActionController::ParamsWrapper`, because we can skip it disabling parameter wrapping for JSON from the initializer `config/initializers/wrap_parameters.rb`, and another workaround would be enabling `eager_load` code at development boot:

[code]

[2018-04-04 15:13] dwarfmondo opened #32452 "Shopify/bootsnap gem breaks `webpacker:install`"
### Steps to reproduce

Execute a clean install of a new rails `5.2.0.rc2` app with ruby `2.5.0`. With the following command `rails new webpacker-bootsnap-test --webpack=stimulus`.

### Expected behavior
Rails spins up a new app with no errors and a clean configuration of webpack with stimulus js.

### Actual behavior
Installation is aborted with an uninitialized constant error and a slew of warni

[2018-04-04 15:53] sowenjub commented on #30937
@bbugh Same issue with 5.2-rc2 and active storage, but not using SQLite. Did you get to the bottom of that or opened a dedicated issue?

[2018-04-04 17:08] kylekeesling commented on #32378
After a few false starts, and finding some hints on how to rebuild the webpack assets for the asset pipeline (see #31860), I was able to do some more testing, and it looks as though the problem is in this area, but rather with the setting of the input type.

I switched from:

`button.type = "submit"`

to

`button.setAttribute("type", "submit")`

And everything works great.

The problem that I'm st

[2018-04-04 17:11] sergiogomez commented on #32451
With this change we could fix the issue, because it seems a problem between `synchronize` and `safe_constantize`:
https://github.com/rails/rails/compare/5-1-stable...sergiogomez:fix_concurrent_json_requests

[2018-04-04 17:35] osburn-sharp opened #32455 "Ruby 2.2.10 > Ruby 2.2.2"
### Steps to reproduce

Try starting Rails 5 with Ruby 2.2.10

### Expected behavior
Should work OK

### Actual behavior
Thinks that Ruby 2.2.10 < 2.2.2 and refuses to start

### System configuration
**Rails version**: 5.1.4

**Ruby version**: 2.2.10

[2018-04-04 18:18] rafaelfranca commented on #32455
This is fixed in Rails 5.1.5

[2018-04-04 18:18] #32455 closed

[2018-04-04 21:15] osburn-sharp commented on #32455
Thanks for letting me know. Went back to 2.2.9 to get round it on 5.1.4

[2018-04-04 21:18] katiemccann opened #32459 "ActiveJob::TestHelper methods cause SystemStackError: stack level too deep errors"
When I try to use *any* methods from ActiveJob::TestHelper in an integration test, I get a SystemStackError: stack level too deep

### Steps to reproduce
simple_test.rb:
[code]

`$ rails test test/integration/simple_test.rb`

### Expected behavior
Test should run  normally

### Actual behavior
Error:
SimpleTest#test_simple:
SystemStackError: stack level too deep
    test/integration/simple_test.rb

[2018-04-04 21:28] rafaelfranca commented on #32459
Can you please provide a sample application that reproduces the error?

[2018-04-04 21:30] aliCamargo opened #32460 "Scopes and Single Table Inheritance"
### Steps to reproduce
The scopes not working correctly in the STI class, when the scope is execute from child class returns all instances of the parent class.

[code]

### Expected behavior
The expected behavior is apply the order scope and keep the conditional `WHERE` because the `scope` is executing on `Legal` model.

[code]

### Actual behavior
The Actual behavior is applying the order scope b

[2018-04-04 21:39] katiemccann commented on #32459
Sure. Wasn't sure how to deliver a sample application so here's an attached .zip file. I just generated this new app using `rails new stack_error` and added a file test/integration/simple_test.rb .

`$ rails test`
[stack_error.zip](https://github.com/rails/rails/files/1877802/stack_error.zip)

[2018-04-04 21:58] rafaelfranca commented on #32459
The problem is that you are including `include ActiveJob::TestHelper` to `Kernel` in the line 2 and that includes all its method to all the objects overriding the original `perform_enqueued_jobs` in the queue adapter. You should be including that module in the test class like this:

[code]

[2018-04-04 21:58] #32459 closed

[2018-04-04 22:02] rafaelfranca commented on #32459
BTW, thank you for the issue. I hope my answer explains it. Let me know if you have any more doubt.

[2018-04-04 22:08] katiemccann commented on #32459
Thanks for your help! I think I get the explanation (new enough to Ruby/Rails that I didn't actually realize there was a difference in where you included a module).

[2018-04-04 22:12] rafaelfranca commented on #32452
Thanks! that is a bootsnap issue so let's keep tracking it there.

[2018-04-04 22:12] #32452 closed

[2018-04-04 22:38] katiemccann commented on #32459
Interesting, thanks so much for the detailed explanation 👍

[2018-04-04 22:46] adrian282 commented on #31437
@victorhazbun @meinac
and ??

[2018-04-04 23:04] keoghpe commented on #32460
I created the following script to reproduce the above issue but it appears to be working as expected:

[code]

I've also tried creating the table `persons` instead of `people` since @aliCamargo mentioned the expected query should be `#=> SELECT persons.* FROM persons WHERE persons.type IN ('LegalPerson') ORDER BY persons.name ASC`. However, when I do this I get the following error when I try to ru

[2018-04-04 23:24] willianveiga commented on #32438
Could you please provide the source code of your example?

[2018-04-04 23:30] rafaelfranca commented on #31437
Please can you avoid bumping the issue. Rails is made by volunteers and they usually work in work they are interested. If this issue is so important to you please do investigate a try to open a pull request with the fix.

[2018-04-04 23:34] aliCamargo commented on #32460
@keoghpe thank you for take some time for review it. I closed this issue, because i found that the reason was in rspec test.

I had: `expect(Person).to receive(:order_by_name).and_call_original`, then this forced that the method was called in the parent class.

Thank you very much!!!  :sweat_smile:

[2018-04-04 23:34] #32460 closed

[2018-04-05 00:28] y-yagi commented on #32438
`ajax:complete` event is always called when executing ajax. It does not matter whether it is loaded contents.

https://github.com/rails/rails/blob/fe4e9d4c5d82806fdaf28c87c731132f81f0ac3e/actionview/app/assets/javascripts/rails-ujs/features/remote.coffee#L68
https://github.com/rails/rails/blob/fe4e9d4c5d82806fdaf28c87c731132f81f0ac3e/actionview/app/assets/javascripts/rails-ujs/utils/ajax.coffee#L2

[2018-04-05 02:58] rafaelfranca commented on #32436
That is a performance improvement so usually we don't backport to stable releases. That commit is included in 5.2 though

[2018-04-05 03:45] hughkelsey commented on #32438
Thanks for looking in to this. Your patch works and is similar to a workaround I'm using now. I've implemented it here https://shielded-beach-23078.herokuapp.com/ with some basic annotation as to where the event came from.

I can see from the source that `fire` should bubble up the custom event.
https://github.com/rails/rails/blob/fe4e9d4c5d82806fdaf28c87c731132f81f0ac3e/actionview/app/assets/java

[2018-04-05 03:57] y-yagi commented on #32438
I think that is correct in my understanding. Perhaps there may be browsers that it works, but its behavior is not guaranteed.

[2018-04-05 04:20] meetme2meat commented on #32422
Ok, using ruby tracer(to understand what method are called when I query `ResporgAccountId.first`) I manage to figure what the problem is.
I'm attaching only the relevant... trace output.

Looking at the Trace output it seems very evident why the issue happens.

Every time `ResporgAccountId.first` is called
the `default_scope_override` is method is redefined over [here](https://github.com/rails/rai

[2018-04-05 04:42] sunnyrjuneja opened #32463 "Implement ApplicationRecord.pluck"
Hi,

I have code that looks like this:

[code]

I want to call `Example.new.notifiers.pluck(:email)` but ApplicationRecord  does not define #pluck. I want ApplicationRecord to define pluck that returns ["email@gmail.com"].

I'm aware that I can do `[individual]` but I think this would be a tiny QOL improvement because I sometimes forget.

A possible implementation might be

[code]

[2018-04-05 05:05] hkurokawa commented on #32440
Hi,

I just came across with a similar problem and found this SO.  Probably it's not a bug in Rails?  Hope it would be of your help.
https://stackoverflow.com/questions/49614091/safari-11-1-ajax-xhr-form-submission-fails-when-inputtype-file-is-empty

[2018-04-05 05:12] y-yagi commented on #32463
Please use the [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feature requests, where a wider community will be able to help you. We reserve the Rails issue tracker only for bugs in Rails. Thanks.

[2018-04-05 05:12] #32463 closed

[2018-04-05 05:16] y-yagi commented on #32438
Anyway, this does not seem Rails' issue. I close this. Thanks.

[2018-04-05 05:16] #32438 closed

[2018-04-05 06:10] jrae commented on #32440
Seems this behaviour/issue has been introduced since

https://github.com/rails/rails/pull/26976

Specifically the  functionality

Default to remote: true

Which was merged into rails 5.1
https://github.com/rails/rails/blob/08e03cfde4e1fe4c435e9f8925bcf3fee7fa5a3a/guides/source/5_1_release_notes.md#unification-of-form_for-and-form_tag-into-form_with

This means that data-remote=true as added even t

[2018-04-05 10:30] snird opened #32464 "Assets pipeline URL helpers generate `/javascript/....` instead of `/assets/....`"
First, I'm sorry I can't attach an example application, as I couldn't reproduce it outside of my production app.
And even with it, locally, in development everything worked fine, it was just when deploying to production the weird behaviour occurred.

I'm in the process of upgrading a rails 4.2 app to rails 5.0. In development, everything works as expected, but the issue occurs only on deployment:

[2018-04-05 11:02] snird commented on #32464
So I have found that `compute_asset_path` is override by Sprockets own method. But it fallbacks to the original  (or completely skips Sprockets implementation..) in my deployed app. So it is some environmental thing that causes this fallback.
Maybe just a warning I missed somewhere.

[2018-04-05 11:07] BartlomiejSkwira commented on #28780
If anyone is on legacy **Rails 3.2** here is a version that worked for me and is just slightly modified of what @replaid posted (I just fixed the module/class hierarchy). It landed in my `config/initializers/backport_pg_10_support_to_rails_3.rb`

[code]

I was a bit skeptical and wondered if the method that is fixed changed a lot between versions 3.2 and 5.1.1 (the version prior to the fix from 30

[2018-04-05 12:29] pixeltrix commented on #32464
@snird I would suggest running your app locally in production mode and then trying to debug that way - sounds like the asset pipeline could be disabled in production so check your asset config using [RailsDiff][1] to compare versions since you're upgrading.

I'm going to close this since it's almost certainly not a bug in Rails, if you find anything to suggest otherwise I'm happy to re-open.

[1]:

[2018-04-05 12:29] #32464 closed

[2018-04-05 12:46] edwardmp commented on #32312
@pixeltrix

Thanks for the fix. Can you let us know when it will be merged into the `5-2-0` stable branch (or rc3/final release) as we've got tests failing due to this.

[2018-04-05 13:07] hughkelsey commented on #32438
I'm thinking it's a race condition of sorts. The element that fired the request is being replaced by the incoming content before the `ajax:complete` should be fired so maybe it's not bubbling out.

[2018-04-05 13:07] pixeltrix commented on #32312
It's in the 5-2-0 branch already and that branch will be merged into 5-2-stable when the final version of 5.2.0 is released

[2018-04-05 13:11] edwardmp commented on #32312
Thanks, you can close this issue again!

[2018-04-05 13:43] zinkkrysty opened #32465 "Using url helper for a route that has constraints does not take encoding into consideration"
### Steps to reproduce

1. Create a route with a constraint:
[code]

2. Using a helper to create a path:
[code]

### Expected behavior
Helper outputs: `/my_route/http%3A%2F%2Fwww.example.com%2F` which is a valid route that points to the `my_controller#my_route` action.

When using the helper, the constraint should be applied/verified after the encoding, not before.

### Actual behavior
An Error is

[2018-04-05 14:37] dwarfmondo commented on #32452
@rafaelfranca my thinking was that the gem should be excluded from the default install until the issue is fixed (PR merged). Since it breaks `webpacker:install`. It cost me a few hours of troubleshooting and frustration. Hopefully someone will find this issue if they run into the same issue.

[2018-04-05 14:48] freddm commented on #32440
Hi! I also got some problems with empty file inputs on data-remote forms. I think the problem is related to the new security feature in Safari: https://support.apple.com/en-us/HT208695

[2018-04-05 15:32] gduquesnay opened #32467 "Persisting an empty string in an integer field with a default value converts to nil"
### Steps to reproduce
Add a field such as
t.integer "time_limit", default: 0

update(time_limit: '')

This is what happens by default if you use are using an input_field to set this integer and the user clears the field and submits the form

### Expected behavior
Seem like to would be less surprising to set it to the default value

### Actual behavior
It get's set to nil

### System configuration

[2018-04-05 16:07] pixeltrix commented on #32465
Apart from the fact that changing the behaviour would break a whole boatload of apps, the UX of having to write constraints in non-ASCII languages would be terrible since it'd mainly consist of percent encoded characters in the regexp. Rather than using a negative regexp, how about using a regexp that validates it's a url?, e.g.

[code]

(regexp is the shortest one from [this list][1])

As for you

[2018-04-05 16:10] pixeltrix commented on #32467
@gduquesnay what happens if you set the column to `null: false` ? I believe that will now insert the default.

[2018-04-05 16:17] gduquesnay commented on #32467
@pixeltrix Thanks.  We actually had tried that it just throws:
[code]

[2018-04-05 16:31] pixeltrix commented on #32467
I was probably thinking of an old version of Rails 👴

I would recommend that you either use a validation to ensure that a user enters a number into the form along with a number field input that ensures that a value is entered: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number

Another option is just to overwrite the writer method to ensure that a zero is set if null:

[code]

[2018-04-05 16:31] #32467 closed

[2018-04-05 16:41] theresahoeck commented on #31865
# Please Help: Could not find activestorage-5.2.0.rc1 in any of the sources

Hi, I try to install activestorage after this instruction: https://github.com/rails/activestorage/tree/archive#installation

I finished step one and two, but when I try to run

the console logs:

after running `bundle install` the console logs:

My Gemfile:
[code]

Am I missing something?
Looking forward to your answer.

[2018-04-05 17:50] rafaelfranca commented on #31865
You have rails and activestorage in your gemfile. Make sure you remove the `activestorage` since it is already included in rails.

[2018-04-05 18:58] #31633 closed

[2018-04-05 19:08] Edouard-chin opened #32468 "[SystemTest] driven_by per test with different browser capabilities"
Drafting this issue in case anyone wants to work on it, otherwise when I find time I will tackle it

### Problem

If you have multiple tests that uses the same driver, but each test suite needs to test with different browser capabilities then SystemTest will keep overriding Capybara default driver.
Example:

[code]

<details>
  <summary> Disregard this explanation, this is not the correct one </su

[2018-04-05 22:11] jrae commented on #32440
Nice! Prevents rails-ujs adding the data-remote attribute altogether 👍 A better solution :)

[2018-04-05 22:50] ilyakatz opened #32470 "ActionView::Helpers::DateHelper#time_ago_in_words is off by an hour"
### Steps to reproduce

[code]

### Expected behavior
When using `distance_of_time_in_words_to_now` helper, it should take into account current Timezone, however, it does not

### Actual behavior

Time is off by one hour

### System configuration
**Rails version**:

4.2 but looks like it's the same on master

https://github.com/rails/rails/blob/master/actionview/lib/action_view/helpers/date_helper

[2018-04-05 23:10] tilo commented on #23640
helloooooo... bump!

[2018-04-06 04:04] emikaijuin opened #32474 "Uninitialized constant ActionCable"
I also have a question open on this [at Stack Overflow](https://stackoverflow.com/questions/49670092/uninitialized-constant-actioncable).

I have a project which was created on Rails 4.2.5 which I upgraded to Rails 5.1.5 to code in a chatroom feature using Action Cable. To upgrade, I changed the version in my rails Gemfile and then used `rake rails:update` to update to the most current version. Th

[2018-04-06 05:01] #32474 closed

[2018-04-06 06:16] jufemaiz opened #32475 "ActiveSupport::NumberHelper:: NumberToHumanConverter uses 'mili' not 'milli' for 10^(-3)"
### Steps to reproduce

I looked through the history for the ActiveSupport::NumberHelper::#number_to_human method for the reasoning behind the use of "mili" as the prefix for 1/1000 of a unit but could not find anything and could not see any notes related for people wanting to know the background of the decision if they implement language packs using the SI prefix of "milli".

See https://github.c

[2018-04-06 07:38] Edouard-chin commented on #32468
The explanation I provided on why this is happening is incorrect, however I confirm that a call to `driven_by` using the same driver's name will leak to other test class.

My previous explanation is incorrect because when **each** test is run the driver is getting properly reset https://github.com/rails/rails/blob/d514ce9199fac58e569482dc901e53d0526abdf7/actionpack/lib/action_dispatch/system_test_

[2018-04-06 08:28] mridulap2003 opened #32476 "has_many does not update on save if parent has not been changed"
### Steps to reproduce
I have the following relationship between models:

    class Gift
        has_and_belongs_to_many :constituents, :autosave => true
        accepts_nested_attributes_for :constituents
    end

    class Constituent
        has_and_belongs_to_many :gifts
        has_many :addresses, :autosave => true
    end

    class Address
        belongs_to :constituent
    end

In my con

[2018-04-06 09:37] pixeltrix commented on #32475
Looks like it's been this way since the original patch in the [Lighthouse ticket][1]. Unsure how much breakage we will cause if we change this - is it possible to support both?

[1]: https://rails.lighthouseapp.com/projects/8994/tickets/4239

[2018-04-06 10:13] tomilaine commented on #23699
@alaz Are you sure it's the same issue?
I'm experiencing this with JRuby: 9.1.15.0, Rails 4.2.8 and I was hoping for Rails upgrade to fix this.

To be more precise... I was hoping this would fix it:
https://github.com/rails/rails/commit/ce97c79445f9ac4b056e34deaaaaf25cadc08b72
https://github.com/rails/rails/pull/27647

[2018-04-06 11:06] jufemaiz commented on #32475
@pixeltrix ah ok. Interesting. Is it an American-english approach to use "mili"?

I'll work on something. It definitely needs to be able to support both to prevent potential regression issues.

[2018-04-06 13:26] martinstreicher commented on #31985
We are seeing a slightly different issue, albeit related: If a model fails validation upon submit, the image attached to it is still being uploaded. Obviously, we have no record of it now, but the bucket still gets the image. GCS and S3 are configured as mirrors; S3 is primary. The image shows up in GCS.

[2018-04-06 14:38] pixeltrix commented on #32470
@y-yagi the `Time.now` in that method dates from the initial commit (db045dbbf60b53dbe013ef25554fd013baf88134) which predates `Time.current` - it even predates Active Support entirely! Given that, I agree that it should take into account the current timezone.

[2018-04-06 16:36] rafaelfranca commented on #32476
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2018-04-06 16:54] alaz commented on #23699
@tomilaine Ah, pity I didn't provide a stack trace. Sorry about that. At least I can recall I've occasionally seen exactly `NoMethodError` on startup and the app was unresponsive after that.

---

I've mitigated the issue w/ one extra Ansible step that warms up an instance before serving requests to it.

[2018-04-06 17:00] #32378 closed

[2018-04-06 17:24] mridulap2003 commented on #32476
I have created a [GIST here](https://gist.github.com/mridulap2003/65a85c24364d61b93de9f255e9cba12c). I am expecting that in both the cases, the `author`'s `address` must be updated on `like.save!`. Let me know if you need anything else.

[2018-04-06 17:52] brtsai commented on #23640
bump

[2018-04-06 18:38] kddeisz opened #32483 "ActionDispatch default headers ignored in API only mode"
This may have originally been a design decision, but it seems like an odd choice. When an application is running in API only mode, default headers are not merged into the request. Adding the following code (copied straight from the non-API side) to the `ApplicationController` fixes it:

[code]

I'd like to open a PR to either:

* push this code up so that both `ActionController::Base` and `ActionC

[2018-04-06 18:46] rafaelfranca commented on #32483
We can't do the former because we don't want default headers in `Metal` controller. But I'm fine with the latter.

[2018-04-06 18:47] kddeisz commented on #32483
Sounds good, I'll get started on a PR.

[2018-04-06 20:03] georgeclaghorn commented on #32365
/cc @javan

[2018-04-06 20:06] kaspth commented on #32463
Hmm, I'm not sure. `@post.pluck(:id, :title)` seems weird to me. Especially considering that the new `pick` method is meant to conceptually link with it.

It did remind of some extensions I'd been thinking about, though. So I ended up creating this playground:

[code]

[2018-04-06 20:24] guilleiguaran commented on #32483
Well, many of the security headers are understood by the browsers, so we don't want to have them by default in APIs

[2018-04-06 21:43] leonardoprg commented on #23640
@rafaelfranca same here https://github.com/rails/rails/pull/23650#issuecomment-367178282
It has been 2 years you guys are passing this PR to another one,  so please instead come here and be ironic with the guys, how about have respectful with the work and time spent to get it working and answer the question, or just review the PR?
if you guys really believe in your words about `hey, come here and

[2018-04-06 22:13] rafaelfranca commented on #23640
Sorry but bumping to get attention is also disrespectful, a lot. My give a lot of our time for free to people, and we do that because we like, but nobody likes when people is poking you to get something that you are not ready to give.

And just to be clear I was not being ironic. I was being really direct, bumping just annoy and cause people to avoid to review the PR and will not get anything fixe

[2018-04-06 22:16] akshaysharma096 commented on #29280
Hey guys, if anyone is not working on this issue, I would like to work. Let me know if it's okay.

[2018-04-06 22:29] leonardoprg commented on #23640
I think the guys are just discrediting that this PR will be reviewed and merge, once took almost 1 year to have a review.
What I expect from a rails team guy, instead to spent time going here to be "direct" with an irrelevant comment ( looking through code and PR ) is to go to PR and comment, `to review it I need that X answer the question` or something like that.
but that's ok, I think the focus

[2018-04-06 23:18] vinistock commented on #29280
@akshaysharma096 Hey. I believe my pull request for this is about done, but I'm still waiting on feedback / reviews. If any other changes are needed, I'm still available to do work and fully complete it.

[2018-04-06 23:52] akshaysharma096 commented on #29280
@vinistock no issues, please carry on!

[2018-04-07 00:30] yahonda commented on #32339
Closed since it does not reproduce anymore since https://github.com/Shopify/bootsnap/issues/148 has been addressed by https://bugs.ruby-lang.org/projects/ruby-trunk/repository/revisions/63040/
[code]

[code]

[2018-04-07 00:30] #32339 closed

[2018-04-07 09:12] pixeltrix commented on #32470
@ilyakatz looking at your example it doesn't make sense - we never return an exact amount of hours from `distance_of_time_in_words`, e.g:

[code]

I think there's probably an edge case here with Time.now vs. Time.current but your example isn't it - is it possible you went through a daylight saving transition?

[2018-04-07 09:57] y-yagi commented on #32422
#29216 has already backported to 5-1-stable 02926cfff6a403d28f83903b08ae7375fad8e836
Its backport has been released with 5.1.2.

[2018-04-07 10:15] meetme2meat commented on #32422
@y-yagi Sorry My bad https://github.com/rails/rails/pull/29233

[2018-04-07 14:50] pixeltrix commented on #32470
After looking at this I can't see where it's going to be a problem since `Time.now.to_i` is equivalent to `Time.current.to_i` so when the subtraction in `distance_of_time_in_words` takes place there will be no difference between the two, e.g:

[code]

Given that `Time.now` is faster than `Time.current` I don't see the point of changing it.

[2018-04-07 14:50] #32470 closed

[2018-04-07 14:59] mani47 commented on #32440
I'm experiencing the same issue and I have to use remote because I want to submit the form with Ajax. Have you guys found any workaround?

[2018-04-07 15:30] brenogazzola commented on #32440
Unfortunately not. I thought of capturing a form submit event and removing the empty file input, but I couldn't get the submit it to trigger (maybe a Turbolinks thing?). Capturing clicks on the submit button wouldn't for me either since I sometimes trigger the submit programatically and didn't want to refactor.

Still, if you want to try the submit button method, the closest I got was the code bel

[2018-04-08 05:07] #31609 closed

[2018-04-08 09:32] hexcat opened #32493 "Routing wrong action when using "controller:""
### Steps to reproduce

1. Create new application with `rails new`
2. Add `get 'wrong_action', to: :show, controller: 'test'` line to `config/routes.rb`
3. Create `app/controllers/test_controller.rb` and write this code into it:
[code]
4. Start server with `bin/rails server -b 127.0.0.1`
5. Navigate web browser to [http://127.0.0.1:3000/wrong_action](http://127.0.0.1:3000/wrong_action)

### Expect

[2018-04-08 11:52] tagliala commented on #32455
Hi, is this also fixed in 5.2.0.rc2?

https://travis-ci.org/DavyJonesLocker/client_side_validations/jobs/363742643

[code]

[2018-04-08 12:11] riseshia commented on #32455
5.2.0.rc2 "was released" before that patch, so next release will solve this problem ;)

[2018-04-08 19:11] pixeltrix commented on #32493
This behaviour was deprecated in cc26b6b7bccf0eea2e2c1a9ebdcc9d30ca7390d9 as part of Rails 4.2 and removed in 1f3b0a8609c00278b9a10076040ac9c90a9cc4a6 as part of Rail 5.0. Thanks for bringing this mistake in the guides to our attention. 👍

[2018-04-08 19:17] pixeltrix commented on #32493
Turns out that this was addressed by #28728 and will be fixed online once Rails 5.2 final is released.

[2018-04-08 19:17] #32493 closed

[2018-04-08 19:30] eiked opened #32495 "klass.ignored_columns.any? crashes on nil.any?"
In rails 5.1.6: active_record/relation/query_methods.rb: build_select(arel):

(sidenote: on the current github, query_methods.rb has been refactored, but the problem might still apply, see below)

I newly got this error message on some code that did work before for years
(possibly with updating to 5.1.6)

ruby2.5/gems/2.5.0/gems/activerecord-5.1.6/lib/active_record/relation/query_methods.rb:1044:i

[2018-04-09 02:41] moritzschepp opened #32499 "scoped routes :as option not working as expected"
### Steps to reproduce

Its my understanding that these two routes should be equivalent:

[code]

### Expected behavior
Neither of the routes should define any helpers.

### Actual behavior
The first route doesn't define a helper but the second does.

### System configuration
**Rails version**: 5.1.4

**Ruby version**: 2.4.3

[2018-04-09 03:43] NicholasLYang opened #32500 "ActiveStorage with Rails API"
I'm basically trying to get ActiveStorage working with Rails API. The main issue I have is getting a URL from an Attachment object. `url_for` doesn't work outside of Rails views, so I cannot get the url from that. In addition, I'm not quite clear on creating an article with an image. The following code when run in the Rails console does not create an attachment:

 `School.create(name: "New York Un

[2018-04-09 03:51] saurabhbhatia commented on #32500
Hi @NicholasLYang I've been using ```object.display_picture.service_url``` in my serializers to get the path of the image, but it has it's limitations. service_url is generated fresh with every request. I would also like to know a better solution( if there is) for getting the image display url that we can pass through our serializers to the frontend.

[2018-04-09 06:07] kesha-antonov commented on #31559
Any news?

[2018-04-09 06:40] JevanWu opened #32501 "Strange namespace issue of controllers in Rails Engine"
### Steps to reproduce
In a Rails Engine, I create a new `ApplicationController` under the namespace:
[code]
and another controller inherits from this application controller, like:
[code]

### Expected behavior
The anticipated behavior should be that the superclass of `Foo::BarController` is `Foo::ApplicationController`, instead of the `ApplicationController` in the Rails application

### Actual b

[2018-04-09 10:40] javan commented on #32365
What does your response from `/rails/active_storage/direct_uploads` look like in the Network inspector? For example, here's what I see:

<img width="558" alt="screen shot 2018-04-09 at 6 30 37 am" src="https://user-images.githubusercontent.com/5355/38493640-de8b046a-3bc0-11e8-9eb0-a788993717eb.png">

[2018-04-09 10:47] mesmerze commented on #32365
HI! Here's what I see:
<img width="444" alt="screen shot 2018-04-09 at 13 46 29" src="https://user-images.githubusercontent.com/16397590/38493917-966b8592-3bfc-11e8-95f0-ec082e660d3f.png">

[2018-04-09 10:50] pixeltrix commented on #32501
This sounds like a constant load order issue - can you try adding the follow to the top of `Foo::BarController`:

[code]

and see if that fixes your problem. This is a [known gotcha][1] since Ruby (before 2.5) will look for a constant in `Object` before calling `const_missing` which is what the Rails autoloading mechanism uses.

However, this behaviour has changed in Ruby 2.5, e.g:

[code]

vs.

[

[2018-04-09 10:50] #32501 closed

[2018-04-09 10:59] javan commented on #32365
Do you have `ActiveRecord::Base.include_root_in_json = true` set in your application?

[2018-04-09 11:05] mesmerze commented on #32365
Yes

[2018-04-09 11:06] pixeltrix commented on #32500
Active Storage provides `rails_blob_path` and `rails_blob_url` url helpers that provide a permanent link to a blob. These permanent links are signed and will redirect to a service url so for example the S3 service url will be a presigned temporary url. Note that the urls are public and if you need to make them protected you'll need to create your own version of [`ActiveStorage::BlobsController`][2

[2018-04-09 11:06] #32500 closed

[2018-04-09 11:27] pixeltrix commented on #32495
Since the ignorable gem isn't required for Rails 5.0 and later then I would suggest just removing that gem and use the standard accessor, e.g.

[code]

We generally don't code around bugs introduced by gems unless absolutely necessary because it would be a maintenance nightmare. Also coding defensively all the time as you suggest makes Rails slower and use more memory so we prefer to catch errors

[2018-04-09 11:27] #32495 closed

[2018-04-09 14:25] igorpan commented on #26396
Exactly the same issue here, code running for months, only difference is that it was triggered by rails cache:

[code]

[2018-04-09 16:24] jackrandom opened #32504 "serialize not inherited to subclasses"
### Steps to reproduce

put `serialize :something` in a model of your app. i.e.:
[code]
let other classes inherit from this class, i.e.:
[code]

### Expected behavior

[1] [ActiveRecord::AttributeMethods::Serialization::ClassMethods#serialize](http://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/Serialization/ClassMethods.html)

I expect it to get an unserialized Ruby Object (not a Str

[2018-04-09 16:57] rafaelfranca commented on #32504
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2018-04-09 20:05] mlh758 opened #32505 "ActiveRecord duplicates primary key into column called ID"
### Steps to reproduce
1. Have a model with a primary key that is not ID.
2. Decide it's time to change the primary key over to a column called ID because the old primary key is no longer valid.
3. Add an ID column using a migration

[Here is a test case](https://gist.github.com/mlh758/58b9a2e7863d3c81b68ec7b261c3d94a)

### Expected behavior
After creating a new column called ID on my class, that

[2018-04-09 20:42] andrewkress commented on #31860
@mdesantis did you ever figure out what was going on?  I am having the same issue with Firefox (both windows and linux).  I used the event.target.submit workaround and it seems to work now, but would like to know if I have something else incorrect somewhere.  I am using 5.2.0rc2

[2018-04-09 21:06] georgeclaghorn commented on #32365
No objection.

[2018-04-10 00:56] moritzschepp commented on #32499
Hey @pixeltrix, thanks for your quick reply on this and your thorough explanation. Also, `with_options` indeed works nicely in my case.

BTW, is `as: nil` the way to go if I don't want any helpers defined by the route? Is there a setting to switch this off for all non resource routes?

[2018-04-10 01:39] samdec opened #32511 "Building an object with multiple has_one relationships through the same object creates that intermediate object instead of building it"
### Steps to reproduce
1. Have an object with two different has_one through associations that go through the same intermediate object.
2. Build (call `.new`) the object passing in both of the has_one through associations.
3. Instead of just being built the intermediate object is actually created.

Note: This works as intended if only one association is passed in to `.new`, only when multiple are p

[2018-04-10 02:37] j3pic opened #32516 "Middleware config problems are difficult to trace."
### Steps to reproduce

Try to perform a Rails 4 -> 5.1 upgrade on an app that depends on gems
that do the following:

[code]

### Expected behavior

It would be nice if the resulting error showed the source location where `config.middleware.use` was called. This would require collecting and storing that information when `config.middleware.use` is called. Or perhaps the `use` method could simply c

[2018-04-10 03:42] NicholasLYang commented on #32500
Hey @pixeltrix, I appreciate the response, but I'm still a little confused on link generation. For instance, if I'm creating a variant, I get the following error: `NoMethodError (undefined method 'signed_id' for #<ActiveStorage::Variant:0x00007fb73590b5e8>)`, which appears to be due to the fact that variants are not the same as attachments. However, this seems rather awkward, as I can't use the sa

[2018-04-10 04:12] danhuynhdev commented on #32505
That behavior is intended. It is that way so `find` would work with nonstandard primary keys. You could override `#id` for your use case.
https://github.com/rails/rails/blob/47eadb68bfcae1641b019e07e051aa39420685fb/activerecord/lib/active_record/attribute_methods/primary_key.rb#L15

[2018-04-10 04:29] kamipo commented on #32505
Right, it is the expected behavior of `#id` method.

[2018-04-10 04:29] #32505 closed

[2018-04-10 04:31] kamipo commented on #29013
Fixed by #32498.

[2018-04-10 04:31] #29013 closed

[2018-04-10 04:58] saurabhbhatia commented on #32500
@NicholasLYang this is what is working for me ( I upgraded to Rails 5.2 this morning from RC2 ).

[code]

This is how my development.rb looks like
[code]

[2018-04-10 06:57] y-yagi commented on #32516
Passing strings or symbols to the middleware builder is deprecated in Rails 5.0, and it removed in 5.1.
So, if you pass strings or symbols to middleware builder in Rails 5.0, the following deprecate message is showed.

[code]

Therefore, I do not think this problem will occur if you do not skip 5.0 and upgrade one by one.
Since the same thing happens with other functions, we recommend that do not

[2018-04-10 06:57] #32516 closed

[2018-04-10 07:07] #31589 closed

[2018-04-10 07:36] pixeltrix commented on #32500
@NicholasLYang for a variant you need to use `rails_representation_url(variant)` - this will build a url similar to the one that `rails_blob_url` builds but specifically for that variant. Don't use `service_url` directly within things like model serializers as it's generally a temporary url. The idea is to use permanent urls that are independent of the service that redirect to the temporary servic

[2018-04-10 08:03] mrageh commented on #32476
I copied the gist above and ran it on my local machine, none of the tests failed.

@mridulap2003 Did the some of the tests in the gist fail for you?

**System configuration**
**Rails version:**
5.0.6
**Ruby version:**
2.4.1p111

[2018-04-10 08:16] jackrandom commented on #32504
OK, I experimented a bit and was able to reproduce the issue with the given template.

[code]

**expected resut:**

it works.

**actual result:**
[code]
you see, I now think it's autoloader related. But tbh I don't know enough about the interna of Rails autoloading to make an educated guess where exactly the problem is located. Somehow the serialize call won't get into already autoloaded classes,

[2018-04-10 08:58] danhuynhdev commented on #32476
@mrageh https://gist.github.com/danhuynhdev/a2d2af5fb075e20feec685337f39ef2c
I updated @mridulap2003 's gist. The actual problem is that autosave doesn't work on nested autosave associations. E.G:
[code]
If we change C through A, and save A then change in C will not be saved.

[2018-04-10 11:37] #32365 closed

[2018-04-10 11:55] AliSepehri opened #32518 "Wrong timezone offset in attributes with time type"
In Tehran most of the time we have +3:30 offset from UTC but after daylight saving time effect, our offset has been +4:30. For example the result of `Time.zone.now` is:
[code]

Assume I have following model:
[code]

When I initialize `Event` model, `time_attr` with `time` type has wrong offset:
[code]

[2018-04-10 12:04] emad-elsaid commented on #32518
I believe this problem is not rails problem but the system tzinfo, did Iran change the DTS settings lately or is your tzinfo package old maybe?

[2018-04-10 12:10] AliSepehri commented on #32518
@emad-elsaid But why with `datetime` type everything is works right?

[2018-04-10 12:13] emad-elsaid commented on #32518
@AliSepehri Oh, I didn't see that in the story, in that case it's not the machine problem then.

[2018-04-10 12:55] mdesantis commented on #31860
@andrewkress no, unfortunately I haven't got much luck yet

[2018-04-10 13:42] pixeltrix commented on #32518
@AliSepehri this is expected behaviour - in SQL the TIME type doesn't have a date so we can't determine whether it should have a DST adjustment or not. Since Ruby doesn't have a equivalent of a time without a date we assume the date to be 1st January, 2000 when DST isn't in effect.

[2018-04-10 13:42] #32518 closed

[2018-04-10 14:25] oniram88 opened #32521 "ActiveRecord - has_many through nested with source and polymorphic"
### Steps to reproduce

[code]
open new terminal

[code]

### Expected behavior
I expect that the custom scope of the relation that I inserted in the
has_many :searchable_essence_texts...
will not replicated in all the conditions of inner joins

### Actual behavior
The query is generated in the same way for sqlite3 and pg but sqlite3, but aren't correct, sqlite3 didn't stop (I don't know) but pg i

[2018-04-10 14:49] taq commented on #31324
Just got this error after upgrading to Rails 5.2.0, released yesterday.

I was not using `minitest-rails-capybara` but I'm using the `minitest-rails` to use specs etc. So, while it stopped to gives the `Uninitialized constant`, now I don't have, for example, the `describe` method (which was an alias for `context`) anymore. I'm using minitest 5.11.3 and minitest-rails 3.0.0, which seems to be the l

[2018-04-10 14:52] taq commented on #31324
Hey, I just edited the `gems/railties-5.2.0/lib/minitest/rails_plugin.rb` file and commented the

[code]

line and it worked!

[2018-04-10 14:53] maddox commented on #31324
@taq there's an [issue opened](https://github.com/blowmage/minitest-rails/issues/209) on the `minitest-rails` repo regarding this. It seems that it is up to the gem authors to update their gems. Though there's been no response on the issue, which was opened in Dec of 2017.

[2018-04-10 14:56] taq commented on #31324
Thanks @maddox!

[2018-04-10 15:47] ChalkyBrush commented on #20703
Still having this problem. Removing the 'assets' prefix does not solve the issue

[2018-04-10 15:52] AliSepehri commented on #32518
@pixeltrix I realize the second part of your answer about lack time equivalent in ruby. About the first part of your answer, I just need to read time in my configured timezone (application.rb) according to DST adjustment of today. I didn't get your answer.

[2018-04-10 16:09] pixeltrix commented on #32518
@AliSepehri if you want to maintain the same time but change it to the current date then just use the `change` method, e.g:

[code]

The reason we use a consistent date for SQL TIME columns is that if we just converted to whatever the current date was you could end up with different results depending which day of the year you ran the code.

[2018-04-10 16:36] AliSepehri commented on #32518
@pixeltrix I got it. Really thanks

[2018-04-10 17:35] rafaelfranca commented on #32504
Do you only define `Configuration`  in one place in your application or do you have different files adding behavior for it?

[2018-04-10 21:48] grosser commented on #31324
[code]

fix in railties-5.2.0/lib/minitest/rails_plugin.rb:16 should be using `::Rails`

[2018-04-10 22:33] y-yagi commented on #31324
Sorry for the inconvenience. I fixed this issue with 686f4f3. And backported to 5-2-stable 4887f97.

[2018-04-10 22:57] fauxparse commented on #31325
Have you tried `main_app.url_for(variant)`?

[2018-04-10 23:10] #32483 closed

[2018-04-10 23:14] rafaelfranca commented on #31190
This is only missing someone that cares about this problem to open a PR to implement it. Who wants to chime in? 😄

[2018-04-11 01:50] maddox commented on #31324
❤️ thanks @y-yagi.

[2018-04-11 01:54] PikachuEXE commented on #32329
Ping...

[2018-04-11 03:02] danhuynhdev commented on #32476
https://gist.github.com/danhuynhdev/6891bae3b49cc40fb6e71ba347d1efc9
I tried this again with `has_many through` instead of `has_and_belongs_to_many`, and it works if I use `belongs_to :posts, autosave: true` on the join model. It seems like the cause of this bug is that `has_and_belongs_to_many` doesn't put `belongs_to :posts, autosave: true` on the meta join model.

[2018-04-11 07:51] #31627 closed

[2018-04-11 07:51] #31457 closed

[2018-04-11 08:08] jackrandom commented on #32504
I define Configuration in one place, BUT:

My setup is heavily based on STI and my configuration.rb looks like this:
[code]

I access Constants like this a couple of times in my application, i.e. if I want Configuration.descendants to report all descendants. At least in development mode (with eager loading turned off), I do have to do this to get all subclasses.
directory structure looks like this

[2018-04-11 08:26] pokonski commented on #30740
https://github.com/rails/rails/issues/30740#issuecomment-360578558

what about GET requests?

[2018-04-11 09:13] Voker57 opened #32528 "Flash does not work after a redirect"
### Steps to reproduce

Set flash, redirect to page that includes flash.

https://gist.github.com/Voker57/48f7f990a9aff9a2a2512f8de4b81e27

### Expected behavior

Flash should persist between redirects

### Actual behavior

Flash is nil

### System configuration
**Rails version**:

5bca1f216770

**Ruby version**:

2.5.1

[2018-04-11 09:29] y-yagi commented on #32528
The flash is cleared with each request.
In your reproduction steps, since `get "/"` is called after `get "/s"`, so flash is cleared.
Also, if you need the results to be redirected, you need to call `follow_redirect!` explicitly.
Therefore, if you change the code as below, you probably can test it as expected.

[code]

[2018-04-11 09:29] #32528 closed

[2018-04-11 09:30] #32259 closed

[2018-04-11 09:39] Dorian opened #32529 "ActiveStorage - The bucket you are attempting to access must be addressed using the specified endpoint. Please send all future requests to this endpoint."
### Steps to reproduce

It's available on https://github.com/Dorian/magic

### Expected behavior

I should see an image.

### Actual behavior

I get an AWS error when looking at the image.

https://s3.amazonaws.com/magic.doma.io/iB68ze7FHdf8zYzoGrS4FzCP?response-content-disposition=inline%3B%20filename%3D%22Screen%20Shot%202018-04-06%20at%2011.19.32%20AM.png%22%3B%20filename%2A%3DUTF-8%27%27Screen

[2018-04-11 11:48] SurajSJagtap commented on #22510
`public`

[2018-04-11 12:05] Dorian commented on #32529
I had to make sure I was using the correct aws region, e.g. `us-east-2` and use a user-level access key on AWS (instead of a root key).

[2018-04-11 12:05] #32529 closed

[2018-04-11 12:08] eileencodes commented on #32356
Thanks for the update @Frexuz! Sounds like there isn't a bug here? I'll close for now, please reopen/let me know if you see it again and have more information.

[2018-04-11 12:08] #32356 closed

[2018-04-11 12:16] mridulap2003 commented on #32476
@mrageh I have [updated the GIST](https://gist.github.com/mridulap2003/65a85c24364d61b93de9f255e9cba12c). Could you please run it again?

[2018-04-11 12:39] amulgarg opened #32530 "Direct Uploads with Azure : PDF and Video preview doesn't work"
### Steps to reproduce

1. Set :azure as the active_storage service
2. Attach a PDF file to your model (**Post** in my case, **upload** is the attachment)
3. Try to use Post.first.upload.preview(resize: "100x100") in a rails view
### Expected behavior
Should display a preview image for the PDF file
### Actual behavior
Fails with an error:

[code]

### System configuration
**Rails version**: 5.2.0.

[2018-04-11 12:43] fxn commented on #32362
Hey @Bernica. In Ruby and many other languages that follow C-semantics for newlines, `\n` in a double quoted string produces a portable newline. This [article](http://www.onlamp.com/pub/a/onlamp/2006/08/17/understanding-newlines.html) (disclaimer, I am the author) explains how this works in Perl, but the fundamentals apply to Ruby.

The length of the string "\n" is 1 in all systems, but the I/O la

[2018-04-11 13:02] hanyelbanna commented on #25198
Same with 5.2.0.rc2

[2018-04-11 15:20] Capitalsav commented on #29709
If you use

and got this error:
`VM9525:164 WebSocket connection to 'wss://localhost:3000/cable' failed: Error in connection establishment: net::ERR_SSL_PROTOCOL_ERROR`
Try to use this:
`ws://localhost:3000/cable`

[2018-04-11 16:06] leofrozenyogurt commented on #32476
@mridulap2003 i ran the updated spec and got a failure, nested_records_changed_for_autosave should be hitting though...

[2018-04-11 18:59] rafaelfranca commented on #32504
That makes sense to happen you are inheriting from `Configuration` before the `serialize` is set, so it is a problem in your code. You should be using the `require_dependency` on the bottom of the file like recommended here http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoloading-and-sti

[2018-04-11 18:59] #32504 closed

[2018-04-11 19:10] axlekb opened #32531 "Postgres money datatype fails numericality: true ActiveRecord 5.2.0 validation"
### Steps to reproduce
Just tried updating to `5.2.0` and found that `postgres` `money` columns are invalid on load from `postgres`.  New records can be created and saved, but on reloading, money column attributes become invalid.

[Script gist](https://gist.github.com/axlekb/6dfbfa45dd5e6137cb172e9cb37f4909)

### Expected behavior
Postgres `money` datatype columns should satisfy `numericality: tru

[2018-04-11 19:55] Leoxxid commented on #31507
I'm trying make a rails-ujs ajax and the call was returning false.
[code]

I resolved this with the code bellow
[code]
Now the ajax call  is working. Hope this helps someone!

[2018-04-11 19:56] phspies commented on #20676
@thuhuongly This doesn't seem to work on rails 5.1.5. The "value.map" throws an exception as it's expecting an array but a string is encountered.

[2018-04-11 20:14] trevororeilly commented on #32356
I ran into this as well and was able to fix it by updating [Bullet](https://github.com/flyerhzm/bullet) to 5.7.5.

[2018-04-11 20:55] georgeclaghorn opened #32534 "ActiveRecord::ImmutableRelation is raised when collection caching and HTTP caching are used together"
Given an Active Record relation, `ActionController::ConditionalGet#fresh_when` calls the relation’s `maximum` method, which indirectly calls the `arel` method.

If the same relation is rendered as a cached collection, an `ActiveRecord::ImmutableRelation` error will be raised:

[code]

`ActiveRecord::Railties::CollectionCacheAssociationLoading#relation_from_options` checks whether the relation it c

[2018-04-11 21:28] eiked commented on #32495
Hi pixeltrix,
I've added https://github.com/nthj/ignorable/issues/10

Sorry for being so ignorant about this beening included in rails 5,
but then, it still work before 5.1.6, so this was a bit unexpected.

So I believe this issue should now be closed.

However the larger issue of defensive coding
might still be of interest.

I fully agree with fail fast because this makes problems a lot more easy

[2018-04-11 23:29] lsylvester commented on #32534
Hi @georgeclaghorn, thanks for letting me know. I will have a look into this.

[2018-04-12 00:09] 9mm opened #32535 "Rails 5.2 cookies persist after removing RAILS_MASTER_KEY"
I was migrating from 5.1 to 5.2 and decided to do some testing to make sure I migrated properly. My goal was to 'break' a user session by removing `RAILS_MASTER_KEY`, which in turn removes/nullifies `SECRET_KEY_BASE`. I wanted to then see if my valid session would expire. It did not.

I tested this in production on Heroku. I also did a second test locally on a fresh rails app with the same results

[2018-04-12 01:03] #32534 closed

[2018-04-12 01:12] y-yagi commented on #32535
`RAILS_MASTER_KEY` is used to read credentials, not affect to sessions.
Therefore, even if you delete `master.key`, cookies can be read unchanged unless `SECRET_KEY_BASE` has changed.
If you really want to discard all the session, explicitly change the value of `SECRET_KEY_BASE`.

[2018-04-12 01:12] #32535 closed

[2018-04-12 01:14] 9mm commented on #32535
How does Rails even decrypt it if it doesnt have access to `SECRET_KEY_BASE`?

Also, btw, in my test ... I changed the value of SECRET_KEY_BASE and it still doesn't reset the session. I

[2018-04-12 02:34] y-yagi commented on #32535
It is impossible to read all the values previously held in session(If refer directly to `session`, nil will be returned).

Have you tried it with development or test environment?
From Rails 5.2, `secret_key_base` is automatically generated in the above environment, and ENV value is not used.
https://github.com/rails/rails/blob/8b0cdbef8a8606ddd0278d74e08a5674fc1a4a6e/railties/lib/rails/application

[2018-04-12 02:45] 9mm commented on #32535
I originally tested in production, that's what made me create this issue. I originally has `RAILS_MASTER_KEY` set (which inside of there includes the production value of `SECRET KEY BASE`)

I logged into my app (which uses the code `session[:user_id] = current_user.id`.

I then removed the `RAILS_MASTER_KEY` ENV variable (there is also no `master.key` in production because it's in my .gitignore).

[2018-04-12 02:51] y-yagi commented on #32535
Can you confirm that the value of `Rails.application.secret_key_base` has changed before and after doing that work?

[2018-04-12 02:53] 9mm commented on #32535
I'll try again right now

[2018-04-12 03:09] 9mm commented on #32535
Hmm.. well that is weird. I am using Heroku... and when all my ENV variables are completely gone, my key is still there. Perhaps this is a Heroku security feature to prevent people from accidentally having an empty base key.

1. Deleted entire session cookie in production just to start fresh and get a 'clean slate'
2. Log into the site.. click around a few times. Confirm I'm logged in (it shows my

[2018-04-12 13:30] belgoros opened #32543 "[DOC] Method #end_of_week is missing in active_support/core_ext/date/calculations.rb"
The [last Rails Guides](http://guides.rubyonrails.org/active_support_core_extensions.html#extensions-to-date) say:

[code]
But when checking [calculations.rb](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/date/calculations.rb) file, `end_of_week`method does not seem to exist. I didn't check the other ones.

It is in `active_support/core_ext/date_and_time/calc

[2018-04-12 14:28] akdasari opened #32545 "activesupport new version 5.2.0 can't handle attributes in memcache"
### Steps to reproduce
Code:

chef_gem "activesupport"  -->  in my ruby file defaults to checkout 5.2.0 version
require 'active_support/core_ext/hash/deep_merge'
attrs = attrs.deep_merge(node.default_attrs) unless node.default_attrs.empty?
    attrs = attrs.deep_merge(node.normal_attrs) unless node.normal_attrs.empty?
    attrs = attrs.deep_merge(node.override_attrs) unless node.override_attrs.emp

[2018-04-12 14:44] TheAssailant opened #32546 "/storage/.keep is being gitignored, exception missing from .gitignore"
Just ran rails new on a project and noticed the new `storage` folder is being gitignored despite having a `.keep`. Looked at .gitignore and looks like someone forgot to add `!/storage/.keep` under the `/storage/*` line.

I'm assuming this is unintended since `log` and `tmp` are also being ignored minus the `.keep` file, but feel free to close if I'm wrong.

### System configuration
**Rails version

[2018-04-12 15:06] matthewd commented on #32543
Right; a number of methods have been moved there to share across the Date & Time classes.

Want to open a PR to update the guide?

[2018-04-12 15:10] blahed commented on #31228
Still looking for a better solution to this one. It got me late last night while I was testing 5.2 and ActiveStorage on an old project. Catch all routes are fairly common and the way this breaks isn't immediately obvious.

Better solution and perhaps a note in the guide?

[2018-04-12 15:10] belgoros commented on #32543
@matthewd with pleasure, sooner or later, - I'll have to start 😄

[2018-04-12 16:43] johansmitsnl opened #32548 "Preview attachments on external storage are not stored in the db activestorrage"
### Steps to reproduce

* Install a S3 backend according the [guide](http://edgeguides.rubyonrails.org/active_storage_overview.html)
* Upload a file

### Expected behavior
Store the variant also in the DB so it does not need a extra roundtrip to the S3 backend because it takes a lot of extra time and a payed hit on the S3 API.

### Actual behavior
When a variant file is displayed with `image_tag @

[2018-04-12 16:53] apuntovanini commented on #25198
Same with 5.2.0 apparently

[2018-04-12 17:14] YarikST opened #32550 "Summer time"
## Steps to reproduce

**config**
`config.time_zone = 'Europe/Kiev'`
db - utc

_create table - fields time_

t = Time.current
r = Table.first
t.field_time = t //15:00 - db save 13:00
Table.where field_time: t - where 12:00

[code]

where did the hour go ??? preservation and mischief works normally always 15:00 but the search is not right - probably I do something wrong

### Expected behavior
where

[2018-04-12 17:38] stedwick commented on #25751
+1

[2018-04-13 00:33] corregidor commented on #31673
I have the same problem, If i generate de project rails new mm -d postgresql I can run postgresql

[2018-04-13 02:06] kbleabres commented on #31087
This happens to me, too. Trying to change/save a new value for an attribute also declared as `store_accessor` generates the deprecation warning

After investigating, this line here is what (I think) causes the deprecation warning.
https://github.com/rails/rails/blob/375a4143cf5caeb6159b338be824903edfd62836/activerecord/lib/active_record/store.rb#L150

[2018-04-13 02:28] sgrif commented on #31087
My gut is that `attribute_changed!` in an after callback *should* be producing a deprecation warning, and this is just the wrong one. I will look more closely though.

[2018-04-13 02:39] kbleabres opened #32555 "Updating (in an after_create callback ) an attribute value declared using store_accessor raises deprecation warning"
Trying to change/save a new value in and `after_create` callback for an attribute declared with `store_accessor` generates this deprecation warning:

I found a closed issue stating the same problem but was closed without solution https://github.com/rails/rails/issues/31087

### Steps to reproduce
Code sample:
[code]

### Expected behavior
Will run smoothly

### Actual behavior
`update_attributes`

[2018-04-13 04:06] y-yagi commented on #32546
I think your point is correct. Can you open a PR to fix?

[2018-04-13 04:37] j3pic commented on #32516
I skipped 5.0 and upgraded directly to 5.1. I saw no deprecation warnings
as a result.

On Mon, Apr 9, 2018, 23:58 Yuji Yaginuma <notifications@github.com> wrote:

[2018-04-13 06:27] oniofchaos opened #32557 "must-revalidate Cache-Control header disappearing in Rails 5.2"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))
[code]

### Expected behavior
Tell us what should happen

Above spec passes

### Actual behavior
Tell us what happens instead

[code]
### System configuration
**Rails version**: 5.2.0

**Ruby version**: 2.5.1

[2018-04-13 07:59] claudiob commented on #32449
A similar behavior is described in #31985

[2018-04-13 08:03] jspang commented on #31228
9 out of ten of my Rails projects from the last 10 years need catch all routes for something (eg. dynamic paths for CMS-based public web content with user generated nice urls).

Although the routing is a bit complicated, I would much prefer if developers were told to put the routes in the routes.rb file to allow control of route order, path naming etc. for ActiveStorage.

- Thanks to @kieraneglin

[2018-04-13 08:10] ypresto commented on #32440
I created workaround snippet which hooks into rails-ujs / jquery_ujs. It should work with every modern browser which supports ES5 (including IE9).

https://gist.github.com/ypresto/cabce63b1f4ab57247e1f836668a00a5

[2018-04-13 08:29] y-yagi commented on #32545
Please use the above mentioned template and reproduce the problem you encountered with the file alone. If it is difficult to reproduce it as a single file, it is OK with Rails application.
Either is okay, please give the steps to reproduce with a script that can be run.
If they do not exist, can not investigate anything.

[2018-04-13 08:50] akdasari commented on #32545
i think it is bit difficult for me to reproduce with above template.
as i mentioned in my original post, as part of test case i read
subject { file("#{$node['jenkins']['master']['home']}/.keystore/cacerts") }

which is a three layer node  jenkins-->master-->home and check .keystore under that, which works fine with activesupport 5.1.6 and doesn't work with 5.2.0. i was checking what could be causi

[2018-04-13 09:09] y-yagi commented on #32545
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read [Reporting an Issue](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#reporting-an-issue) section for more information about creating bug reports. Thanks!

[2018-04-13 09:09] #32545 closed

[2018-04-13 09:19] ypresto commented on #32440
Another workaround is to remove empty File instance from FormData before sending request.

[code]

[2018-04-13 11:05] n-n1ks opened #32558 "establish_connection opens 2 connections"
### Steps to reproduce
I have the following code: https://gist.github.com/n-n1ks/b1e0a80c054181e6b8dac05ae2bb0ff4

After calling:
[code]

I can see 2 database connections via `establish_connection` (both of them from rails console and same PID): http://dl3.joxi.net/drive/2018/04/13/0007/0175/463023/23/8bd7fe0814.jpg

If I understand correctly, in my case I must have 1 `establish_connection` with p

[2018-04-13 11:06] #32558 closed

[2018-04-13 11:06] n-n1ks commented on #32558
I had
[code]
in second modele, inattention...

[2018-04-13 11:12] akdasari commented on #32545
not sure to test this individually, what i did is changed the version
my default.rb looks like this
=========================================
chef_gem "activesupport" do
  action :install
  version "5.1.6"
end

require 'pathname'
require 'active_support/core_ext/hash/deep_merge'

ruby_block "dump_node_attributes" do
  block do
    require 'json'

    attrs = {}

    attrs = attrs.deep_merge(node.d

[2018-04-13 12:28] akdasari opened #32559 "5.2.0 activesupport problem caching attributes"
### Steps to reproduce
file used as chef/rspec  --> default.rb
================================
chef_gem "activesupport" do
         action :install
         version "5.1.6"
end
require 'pathname'
require 'active_support/core_ext/hash/deep_merge'

ruby_block "dump_node_attributes" do
  block do
     require 'json'
        attrs = {}
        attrs = attrs.deep_merge(node.default_attrs) unless node.

[2018-04-13 12:43] tomstuart commented on #31680
So that I can understand what to do in my application: is this legitimately an unintentional bug that is likely to be fixed in future, or is this the new official behaviour of rendering layouts?

[2018-04-13 13:44] TheAssailant commented on #32546
I opened a PR.

[2018-04-13 14:41] domangi commented on #32555
I traced back where the deprecation warning is generated.

https://github.com/rails/rails/blob/0ae59ea828ed20141af0d4c9ed9130eb47ce55f3/activemodel/lib/active_model/dirty.rb#L238-L248

https://github.com/rails/rails/blob/0ae59ea828ed20141af0d4c9ed9130eb47ce55f3/activerecord/lib/active_record/attribute_methods/dirty.rb#L225-L228

https://github.com/rails/rails/blob/0ae59ea828ed20141af0d4c9ed9130eb4

[2018-04-13 14:59] domangi commented on #31087
The deprecation warning occurs because inside activemodel/lib/active_model/dirty.rb the method attribute_changed? is called, which will change behavior in the next release.

@sgrif Not quit sure if it makes sense, but can't we just replace the deprecated attribute_changed? method with saved_change_to_attribute?, like the warning message suggests?

I already sent a pull request for this https://git

[2018-04-13 15:01] johan-smits opened #32564 "Example code is not IE11 compatible active_storage_overview.md"
### Steps to reproduce

https://github.com/rails/rails/blob/master/guides/source/active_storage_overview.md
The example of `direct_uploads.js` is not IE11 compatible

### Expected behavior
Invalid Javascript code on IE11

### Actual behavior
Example code that works on IE11 or add a disclaimer

### System configuration
**Rails version**: 5.2

**Ruby version**: 2.5.1

[2018-04-13 15:43] kimyu92 commented on #30527
seems like it doesn't backport to rails 5.0.7 (ruby 2.4.4) still having the same problem with redis 4
cc @eileencodes

[2018-04-13 15:49] eileencodes commented on #30527
I didn't backport https://github.com/rails/rails/commit/37895311514a35333e5597018852eb0fe2c9eb28 to 5-0-stable because the build wasn't failing with the error that 5-1-stable was failing with.

5.0 is only supported for security fixes now so we're likely not going to backport this to 5.0. Our recommendation is to upgrade to 5.1.

[2018-04-13 16:12] ypresto commented on #32440
Created workaround snippet:
https://gist.github.com/ypresto/b4715b06230d4014a90eaacc3445158f

[code]

[2018-04-13 16:50] adrian282 commented on #31437
I asked why not issue, so is it or not?

One volunteer confirmed that sth is wrong and why should I forget about it?

[2018-04-13 17:39] scande3 commented on #31476
This is still an active issue that is being ignored. I've updated my example to use the just released 5.2.0 branch. Either update your documentation that claims this should work, tell me what I need to fix so I can create a pull request that will be accepted, or update this to work correctly please.

[2018-04-13 18:33] #32546 closed

[2018-04-13 21:26] #25060 closed

[2018-04-13 21:26] #24055 closed

[2018-04-13 23:48] swrobel opened #32567 "Improve ActionCable js documentation accessibility"
The documentation in the ActionCable [js](https://github.com/rails/rails/blob/5-2-stable/actioncable/app/assets/javascripts/action_cable/subscription.coffee) [files](https://github.com/rails/rails/blob/5-2-stable/actioncable/app/assets/javascripts/action_cable/subscriptions.coffee) are fairly well-documented, but that doesn't seem to be surfaced anywhere in the rails docs, or in the most obvious p

[2018-04-14 00:14] mroutis opened #32568 "Docker documentation"
This isn't a bug report.

I searched the repository, looking for issues or documentation related to an opinionated way
to use Docker with Rails, without any luck.

Nowadays "docker + rails" is a common search term, where you face a lot of deprecated information.

I don't know if the Rails team should take an approach on it, maintaining an updated wiki (pain points, recommendations, etc.)

The only

[2018-04-14 02:57] composerinteralia commented on #32559
Is this the same as https://github.com/rails/rails/issues/32545 ? I'm afraid you are going to get the same response this time as you did the last time. If you are unable to reproduce the issue using one of our templates, try sending a link to a repo with step-by-step instructions for how to reproduce the issue there.

[2018-04-14 03:01] composerinteralia commented on #32568
This will likely get closed, since we only use the Github issues for bug tracking. This does seem like something you could bring up in one of the mailing lists though: https://groups.google.com/forum/#!forum/rubyonrails-talk

[2018-04-14 03:28] #32559 closed

[2018-04-14 05:05] chancancode opened #32569 "`CollectionAssociation#size` should use `@association_ids` if available"
### Steps to reproduce

[code]

### Expected behavior

If `user.post_ids` is already loaded and cached, I think `user.posts.size` should not go to the DB.

### Actual behavior

Even if `user.post_ids` is already loaded and cached, `user.posts.size` still goes to the DB to do a `SELECT COUNT`.

[2018-04-14 05:11] chancancode commented on #32569
The relevant code is [here](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/collection_association.rb#L213-L214). IMO, it should do something like this:

[code]

[2018-04-14 05:33] Edouard-chin commented on #32557
One of our test in our app was failing because of the same issue when we worked on upgrading to 5.2 a couple months ago. This is the commit I wrote to explain the problem

-----------------------------

Conflicting cache-control directives:

- The `no-cache` and the `must-revalidate;max-age=0` directives are conflicting and only the most restrictive one get applied (which in our case is the `no-ca

[2018-04-14 06:16] chancancode commented on #32569
https://github.com/TheOdinProject/theodinproject/pull/890 is a (slightly more involved) real world example of this.

[2018-04-14 07:45] sikachu commented on #32568
Yes, this discussion is actually more fitting to `rubyonrails-core` mailing list instead. However, since this could be considered as "lack of documentation" issue, I'm just going to keep it open here for now.

I think most of the contributors are actually not using container-based system for their production deployment. I know many people are using Heroku, and many of them are using VPS or dedicat

[2018-04-14 09:07] ShadowRadiance commented on #30497
I think the clarity comes from a number of things working together:

1. When you call `Model.where(...)` you aren't executing a query. You are just defining a scope/relation.
1.1 Usually the query gets executed when you try to iterate over the relation.
2. When you call `Model.where(...)` in the rails console, it returns the Relation and the console will call `Relation#inspect` on the relation for

[2018-04-14 10:26] fxn commented on #32568
I’m in general -1 about covering this kind of content in the Rails docs. While related, I see it as being out of scope.

If someone publish one particular image to the registry, I think the documentation of that image would be the one doing things by example, giving recommendations about web servers, logs, databases, etc.

[2018-04-14 10:27] patleb commented on #32356
Actually, this isn't fixed. @jarkelen, the one who opened the ticket, didn't have the same issue as @Frexuz. On Rails 5.1.4, when eager_load is used and there are no record associated, `ActiveRecord::RecordNotFound` is raised. Since Rails 5.1.5, Arel builds an object with an id to nil if the record isn't found instead of raising, but one way to make it work is to use `includes` instead of `eager_l

[2018-04-14 11:28] nikolaokonesh opened #32570 "why? ошибку не показывает 5.2.0"
![screenshot-2018-4-14 we re sorry but something went wrong 500](https://user-images.githubusercontent.com/6263853/38767693-0c73a3ee-4032-11e8-87a7-f22b7bdd01f6.png)
![2018-04-14 22-22-13](https://user-images.githubusercontent.com/6263853/38767717-875ac178-4032-11e8-9216-cf46f0364e20.png)
После обновлений до последней версии Rails.
Ошибки не показывает. Log-файл ужасный.
**Rails version**: 5.2.0 f

[2018-04-14 11:57] #32570 closed

[2018-04-14 13:15] pixeltrix commented on #32569
There's an edge condition where `size` will not go to the database after this change and you might have stale information now so dubious whether we should backport it. However more importantly there's a slight issue with the diff as presented because if `!find_target?` is true because the parent is a new record that hasn't been saved yet then it will try to look up the length from `@association_id

[2018-04-14 13:26] pixeltrix commented on #32564
@johan-smits are you able to say what's not IE11 compatible about the code?

[2018-04-14 13:39] pixeltrix commented on #32550
Looks like we should be converting the Ruby `Time` instance to 2000-01-01 when we're trying to search an SQL TIME column.

@YarikST the issue is that Ruby doesn't have a native class for a time of day without a date component so we try to normalise the date component to 2000-01-01, unfortunately there seems to be a bug where this isn't being done automatically when searching by that column. You sh

[2018-04-14 13:45] guilleiguaran commented on #32564
I think template literals and arrow functions aren't supported by IE11 and I'm not sure about consts.

Maybe is ok to add a note saying that the code is ES6 and that you should use a transpiler like Babel or Webpacker.

[2018-04-14 14:37] pixeltrix commented on #32550
Whilst I fixed an issue in 7c479cbf6211d7efadc0a9573cf82c05291f7ef1 which meant that the leading date component wasn't being stripped from the quoted value there's a logic flaw where we use `quoted_date` to create the value first and then strip the date component off the string with `sub`. Unfortunately `quoted_date` will convert the value to UTC on the date component which may be different to the

[2018-04-14 14:40] pixeltrix commented on #32564
I thought that was assumed - @johan-smits is your problem that it's not compatible without transpiling or that the transpiled code is incompatible?

[2018-04-14 16:24] SeanPrashad commented on #32550
Hi there, I'd love to pick this bug up as my first one for Rails if it's still available!

[2018-04-14 17:39] chancancode commented on #32569
Sounds good to me. I agree it’s not obvious that we should backport. Also thanks for catching the bug.

For the edge case, I think that’s no worse today, since you can already do a size (which does a count and caches it in the query cache), then another thread can update it so that could result in `collection.size != collection.length`.

If anyone knows where to look for the existing tests for `#s

[2018-04-14 18:07] chancancode commented on #32569
@pixeltrix I updated the diff to do a slightly less fancy thing for now, so we can focus on the behavior. Do you happen to know why `#empty?` doesn't check the `!find_target?` case you talked about?

[2018-04-14 19:08] thisismydesign commented on #22510
As far as best practices go I think `destroy_all` can easily be substituted with "manual" batching since it's explicit to begin with.
I'm more concerned with `dependent` associations which are not. To handle those I created the gem [`batch_dependent_associations`](https://github.com/thisismydesign/batch_dependent_associations) which takes care of batching `dependent` associations automatically. It

[2018-04-14 19:22] mdesantis opened #32577 "5.2 content security policy settings block js views rendered"
I guess that Rails 5.2 should include the nonce by default when rendering a JS view and CSP nonce generator is enabled. Is there any workaround or we should stick with `:unsafe_inline` when rendering a js view?

### Steps to reproduce

1. Create a new Rails 5.2 app
2. Comment out Rails 5.2 default CSP rules
3. Render a js view containing `alert('hello')` after clicking on a `link_to remote: true`

[2018-04-14 21:34] Yanchek99 opened #32578 "web-console causes issues with debug crash page in development mode for out of the box 5.2 install"
### Steps to reproduce
1. `gem install rails -v 5.2.0`
2. `rails new app`
3. Add code that will cause a crash
4. `rails s` In development environment
5. Hit path that will cause crash and observe instead of the normal debugger page we get a 500 error page and a extremely large log dump.

### Expected behavior
Standard development debug crash page

### Actual behavior
500 public page is displayed a

[2018-04-14 22:31] y-yagi commented on #32578
Hmm. In my environment, the debug page was displayed correctly.
Can you upload your log?

[2018-04-14 22:35] pixeltrix commented on #32569
@chancancode looking at the history I'd say that since the implementation of `empty?` when `!find_target?` was added was `size.zero?` it obviously didn't need it. When `empty?` became more complex it's probably been overlooked.

[2018-04-14 22:39] pixeltrix commented on #32569
BTW, tests for `size` seem to be distributed over a few files in Active Record - I'd probably add any for this feature to `has_many_association_test.rb`

[2018-04-15 03:46] nikolaokonesh commented on #32578
@y-yagi Подтверждаю, после обновлений получаем ошибку 500, это из-за какого-то gem's.

[2018-04-15 04:47] nikolaokonesh opened #32579 "whats whis error undefined method `relation_delegate_class' for Module"
![screenshot-2018-4-15 action controller exception caught 1](https://user-images.githubusercontent.com/6263853/38774885-d0c11818-40bd-11e8-8696-ffd94cedb1da.png)
routes.rb
[code]
models
[code]
**Rails version**: 5.2.0
**Ruby version**: 2.5.0

[2018-04-15 05:30] mroutis commented on #32568
@sikachu, I found a [comment](https://groups.google.com/forum/#!searchin/rubyonrails-core/Docker|sort:date/rubyonrails-core/iZGNWaJF6Gw/Y2zwOOX5AQAJ) from someone at that mailing list:

---

@fxn, I agree with that; stepping on deployment/production land isn't in Rails scope, however, I feel that there's no interest at all, because we have such an amazing tooling and services around (Heroku, Engin

[2018-04-15 06:07] Yanchek99 commented on #32578
@y-yagi I have uploaded a file when triggering a 404

[development.log](https://github.com/rails/rails/files/1911720/development.log)

[2018-04-15 06:37] y-yagi commented on #32578
Thanks. But this seems to be neither Rails nor web-console issue.
Your application used remotipart 1.4.0, and remotipart 1.4.0 seems to have an issue with using web-console.
https://github.com/JangoSteve/remotipart/issues/194

Please try downgrading remotipart.
Also, this issue does not happen with a simple Rails application.
If the problem reappears in the Rails application that just did `rails n

[2018-04-15 06:37] #32578 closed

[2018-04-15 16:19] georgeclaghorn opened #32581 "Document CORS configuration for direct uploads"
To use direct uploads with a cloud storage service like S3 or Google Cloud Storage, you must configure the service to accept cross-origin requests from all of your application’s domains. We neglect to mention this in the guides, leaving Active Storage users to stub their toes when direct uploads fail in production.

[2018-04-15 16:25] gsamokovarov commented on #32578
Can you report this on the [rails/web-console](https://github.com/rails/web-console) tracker? If you can reproduce it, I'll look into it.

[2018-04-15 21:43] nfuller52 opened #32583 "Rails cannot find generator templates with .rb extension; they now end with .tt"
### Steps to reproduce
I updated a young rails 5.1 application to 5.2, and henceforth I have been unable to use any of the rails generators; including `rails new`. I am using rvm, ruby 2.5.1 and rails 5.2.0.

I've re-installed rails, all my gems, and ruby. I also tried on my other laptop and I still experience this issue.

1. rails generate controller Publications
-> Could not find "controller.rb"

[2018-04-15 22:45] y-yagi commented on #32583
I could not reproduce your issue.

[code]

Can you provide a sample application that reproduces the issue?

[2018-04-15 22:46] nikolaokonesh commented on #32578
@gsamokovarov log is very very large

[2018-04-15 22:55] mauricew opened #32584 "ActiveStorage foreign key enforcement and purge delete order"
This issue is twofold:
1. The attachments table doesn't create a foreign key association in the database by default
2. 1 can't be done because of the order things happen in `#purge`

### Problem information
So, to ensure maximum enforcement in the database, I would want to the attachments table to have an foreign key to the blobs table. I can easily do this by specifying it in the migration:
[code

[2018-04-16 00:31] chaffeqa opened #32585 "Include Rack::ContentLength by default"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
When deployed to AWS, the best out-of-box experience occurs

### Actual behavior
Gzip behind Cloudfront silently fails

### System configuration
**Rails version**: 5.1

**Ruby version**: 2.5

Cloudfront ac

[2018-04-16 01:09] OKitsMikael commented on #20676
@phspies I had the same issue; my problem was that I placed the `validates_uniqueness` method on the child model where you'd normally put the validation. Placing it on the parent, where you declare `accepts_nested_attributes_for`, fixed the issue. Hope that helps!

[2018-04-16 01:49] georgeclaghorn commented on #32584
+1 for both flipping the order of those operations and adding a foreign key.

[2018-04-16 02:04] nfuller52 commented on #32583
@y-yagi sorry i must not have fully updated gemset with `bundle update`. after running this it works. my apologies!

[2018-04-16 02:04] #32583 closed

[2018-04-16 02:41] goravbhootra commented on #20676
usage example:

There are three models, organization, user and join organization_user. Following needs to be placed in organzation.rb -

[code]

[2018-04-16 03:53] davidstosik opened #32587 "`bundle exec rails test` fails if BUNDLE_PATH is set"
### Steps to reproduce

This is an error I started experiencing when setting up a new Rails 5.2 project on CircleCI.
In CircleCI, it is recommended to use `BUNDLE_PATH=vendor/bundle` so that the downloaded gems can be cached.

I made a [basic Rails app](https://github.com/davidstosik/circle_ci_basic_test) with a barebones CircleCI config.yml file to illustrate the problem. You can also have a look

[2018-04-16 04:07] y-yagi commented on #32585
This is intentional behaviour.

Since ContentLength is no longer part of rack's SPEC, Rails is no longer loaded by default.
If you want it, just add it as a middleware in your config.

Ref: 56903585a099ab67a7acfaaef0a02db8fe80c450

[2018-04-16 04:07] #32585 closed

[2018-04-16 05:35] #29516 closed

[2018-04-16 05:54] aivils commented on #27673
After long lasting debugging I added some lines in the config/staging.rb

[code]

Cannot reproduce on localhost under staging env. Only staging host is affected.

[2018-04-16 06:58] johan-smits commented on #32564
The template `literals` and the `const { target, detail } = event` extraction are also not supported.

When you run development and it loads the assets IE complains about the pieces of code. I run with the rails 5.2 defaults for dev and production and it seems to serve the code 1:1.

[2018-04-16 08:30] #31643 closed

[2018-04-16 09:18] hnatt opened #32588 "ActiveRecord::FinderMethods#last does not respect offset and does not order by primary key"
### Steps to reproduce

[code]

### Expected behavior

In Rails 5.1, this would generate the following SQL:

[code]

and return the ids of the 4th and 3rd to bottom comments .

### Actual behavior

But in Rails 5.2, the query is:

[code]

(note how it does not add LIMIT to the query).

And the records returned are the 2nd and the 1st from the bottom. In fact `Comment.offset(20).last(2)` would retu

[2018-04-16 09:45] hnatt commented on #32588
cc: @kamipo

[2018-04-16 09:56] mauditecandela commented on #31324
thanks @y-yagi! this is also keeping us from updating to rails 5.2.0, any idea when this will be merged? :) <3

[2018-04-16 09:56] mdesantis commented on #32577
Thank you for the reproduce app, I had to do it at first. Anyway, I have to add that I can reproduce the issue **on Firefox**, while on Chrome it works. This is a GIF of the issue on Firefox (59.0.2 on Linux):

![GIF of the issue on Firefox (59.0.2 on Linux)](https://user-images.githubusercontent.com/283320/38802527-f69d2b6c-416c-11e8-9b23-ffd74e09f9dd.gif)

So it could be a Firefox bug?

[2018-04-16 10:06] bogdanvlviv commented on #32588
Thanks for the issue.
Not sure that assertion `assert_equal post.comments.all.reverse.first(4).last(2).reverse, post.comments.offset(2).last(2)` is correct, I guess it should be `assert_equal post.comments.all.reverse.first(4).first(2).reverse, post.comments.offset(2).last(2)`
I can't reproduce any regression in behaviour of using `offset` with `last`. furthermore, seems it should work correctly s

[2018-04-16 10:17] taq commented on #31324
@mauditecandela meanwhile I edited `gems/railties-5.2.0/lib/minitest/rails_plugin.rb` and replaced `Rails::TestUnit::Runner.attach_before_load_options(opts)` with `::Rails::TestUnit::Runner.attach_before_load_options(opts)`, it's working on a new 5.2 project.

[2018-04-16 10:38] hnatt commented on #32588
@bogdanvlviv my previous assertion was confusing. I tried to extract my real world case and did not do a very good job.

Here is a more clear one:

[code]

--that checks that when we have a pagination, adjacent pages should not have same records.

It also passes in https://github.com/rails/rails/commit/a194c527fa7b16840fd1b1250dc9f624c6536546 but fails starting with https://github.com/rails/rails/

[2018-04-16 10:49] bogdanvlviv commented on #32588
I think your code was relying on the wrong behavior, but i would like to  know @kamipo's thought about that.
In your case i think using of `.limit(2)` instead of `.last(2)` will fix your problem.

[2018-04-16 12:03] gabrielwillemann opened #32589 "Rails with SQLite Encrypted"
Hello,

I have a question: Can Rails access SQLite database with encrypt?

PS: In SQLiteBrower there is a option to encrypt database file.

[2018-04-16 12:34] schneems commented on #31649
Feel free to send a PR if you can clarify some of the language.

Regarding transpiling versus precompiling, the asset pipeline used “precompile” to refer to anything that happens between a source file on disk and an asset being served.

[2018-04-16 12:34] schneems commented on #31649
Feel free to send a PR if you can clarify some of the language.

Regarding transpiling versus precompiling, the asset pipeline used “precompile” to refer to anything that happens between a source file on disk and an asset being served.

[2018-04-16 12:34] #31649 closed

[2018-04-16 12:57] mauditecandela commented on #31324
Thanks @taq yeah, that worked for me as well, but I don't know how to set up in a FOSS project that uses travis. Any hints/ideas/advices? :)

[2018-04-16 13:02] booch commented on #26413
The problem here is that the `sales` association (in Rails 5 and earlier) doesn't take a hash argument; it takes a boolean argument. That boolean determines whether to reload the association. Ruby is interpreting the `limit: 10` has as `true`, and thus reloading the association.

[2018-04-16 14:29] grosser commented on #31324
see monkeypatch above

[2018-04-16 14:34] xzdshr opened #32590 "ActiveStorage disk service host is missing"
Hello! After upgrading from 5.2.0.rc2 to 5.2.0 all service_url calls starts to raise an error:

![1](https://user-images.githubusercontent.com/2665232/38814935-63da04ec-419b-11e8-9096-35c70727fd8f.png)

:host key was removed from storage.yml previously. What is the best approach now to set the disk service host?
Setting `ActiveStorage::Current.host = ENV.fetch('HOST')` before service_url call seem

[2018-04-16 16:21] uri opened #32592 "Setting action_dispatch.default_headers in a file initializer does not work"
### Steps to reproduce

1. Set `action_dispatch.default_headers` in a file initializer.

See uri/actionpack-init-test@86139c957b7d8dcdf7ce2d5f417c2f2e91eef93b for a full rails app example or the [action dispatch gem bug template](https://gist.github.com/uri/3fe7c5d061db72ef985b95d84732852c)

### Expected behavior

The new header should appear in the response.

### Actual behavior

The new header d

[2018-04-16 16:47] mauditecandela commented on #31324
Thanks @grosser I added to an initializer -- it's my first patch like this, therefore my questions. ^^

[2018-04-16 17:00] grosser commented on #31324
You'll soon get used to the dark side ;)

[2018-04-16 21:28] Envek opened #32597 "CSP nonces being added to header after every request indefinitely"
### Steps to reproduce

Set up CSP with nonce generator:

[code]

See test gist: https://gist.github.com/Envek/b8835b8fb93c8d85c2398df3fab9e0d8

### Expected behavior

CSP header have single different nonce on each request

### Actual behavior

Nonces from old requests are saved, a nonce from the current request is added to the end of `script-src` directive.

Header size grows infinitely after eve

[2018-04-16 21:34] yaroslav commented on #32597
Can reproduce on a different application running 5.2.0, with a  `content_security_policy_nonce_generator` proc straight out of a default config.

A simple zsh script of `repeat 20000 { curl -I http://0.0.0.0:3000/ }` makes the printout of response headers (nonce this, nonce that) as big as several terminal screens.

[2018-04-16 23:26] elgeorge2k commented on #31502
Still happening for me on:
root@floccus:/srv/www/movietimes/current# ruby -v
ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-linux]
root@floccus:/srv/www/movietimes/current# bundle list | grep railties
  * railties (5.1.6)
Full gem list:
root@floccus:/srv/www/movietimes/current# bundle list
Gems included by the bundle:
  * actioncable (5.1.6)
  * actionmailer (5.1.6)
  * actionpack (5.1.6)
  *

[2018-04-16 23:40] y-yagi commented on #32589
Please use the [mailing list](https://groups.google.com/forum/#!forum/rubyonrails-talk) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thanks.

[2018-04-16 23:40] #32589 closed

[2018-04-16 23:42] y-yagi commented on #32577
Thank you for the information. I was able to reproduce.
I do not know yet whether it is a Firefox issue or a Rails issue, so I will investigate.

[2018-04-17 01:13] TAiS46 commented on #22675
is there any update on this?

[2018-04-17 02:16] ryan-plated opened #32598 "ActiveRecord left joins out of order"
### Steps to reproduce

Combine sql left join with a arel join causes wrong order

https://gist.github.com/ryan-plated/cae50e8eceb621f8a76d41f2e6d1b5ec

### Expected behavior
should keep order

### Actual behavior
goes out of order

### System configuration
**Rails version**: master

**Ruby version**: 2.5.0

[2018-04-17 02:43] efremroberson commented on #31680
+1 for a permanent fix for this. I can also confirm this is an issue in 5.1.4 + 5.1.6

To add...

With a partial:
`_example.html.erb`
[code]

This doesn't work:
`show.html.erb`
[code]

But this works:
[code]

Using `local_assigns` works as well, but it feels like a step backwards if that's the new norm.

[2018-04-17 03:46] juliusdelta commented on #32569
@pixeltrix I'd like to take this if it's unassigned. First non-documentation related patch for me.

[2018-04-17 04:10] lancecarlson commented on #31860
Have the changes that fix these Firefox issues made it into 5.2.0? For me, Firefox still has issues. My app is running devise, so I wasn't able to easily upgrade to edge to see if edge was working. If it's working on edge and not 5.2.0, I think there should be a version bump asap?

[2018-04-17 06:16] hnatt commented on #32588
Thanks @kamipo and @bogdanvlviv! Closing this issue then!

[2018-04-17 06:16] #32588 closed

[2018-04-17 06:24] Faizaankhan3 opened #32601 "Rails PUMA server crashes on pressing CTRL+Z"
### Steps to reproduce
While I am debugging my application by using "binding.pry" in the pry console, if I mistakenly hit the CTRL + Z key , the server is suspended, and the pointer comes back to the command line, though it looks like the server is closed, it actually doesn't close. Trying to start the server again fails.

### Expected behavior
Nothing should probably happen to an abruptly pressed

[2018-04-17 06:37] jeremy commented on #22675
@TAiS46, anything in particular you're looking for an update on? (There is no separate information repository where updates are gathered, so this page reflects all current knowledge and discussion on the topic.)

[2018-04-17 06:39] TAiS46 commented on #22675
Jut the escaping:
```{"command":"subscribe","identifier":"{\"channel\":\"CommentsChannel\"}"}```

to
```{"command":"subscribe","identifier": {"channel": "CommentsChannel"}}```

[2018-04-17 06:43] patleb commented on #32356
Finally, I've digged more into what the bug was on my side and it turns out that it's related to the gem [rails_select_on_includes](https://github.com/alekseyl/rails_select_on_includes) which is used to address this [issue](https://github.com/rails/rails/issues/15185). So, my previous comment was actually wrong, sorry for that.

[2018-04-17 06:47] jeremy commented on #22675
Gotcha! There are no efforts in progress to change the message format. 👍

[2018-04-17 06:51] TAiS46 commented on #22675
why is that? We are using action cable as a public endpoint and our users don't understand why they need to escape the identifier.

[2018-04-17 07:34] y-yagi commented on #32601
That is a general behavior when using a shell, and I think that Rails should not take special measures.
If you want to return the suspended job, you can return it immediately by using the `fg` command. Thanks.

[2018-04-17 07:34] #32601 closed

[2018-04-17 07:56] Faizaankhan3 commented on #32601
Thanks fg works for me !

[2018-04-17 07:59] jeremy commented on #22675
It is confusing, yes! For developers too.

The short story: the cable message `identifier` and `data` values are *arbitrary data* that happen to be encoded as JSON, which gives the confusing result of "why is this 'escaped' (really, encoded) JSON in my JSON???" as if it's a bug, when the reality is a bit simpler, if a bit convoluted:

1. Cable messages are encoded as JSON transported over WebSocke

[2018-04-17 08:46] y-yagi commented on #32590
It seems the same issue with https://github.com/rails/rails/pull/32350#issuecomment-380091447
What happens when use `rails_blob_url` and `rails_representation_url` instead of `service_url`?

[2018-04-17 08:51] #31662 closed

[2018-04-17 09:27] rud commented on #26289
A thought: shouldn't `:domain` and `:subdomain` be included in the list of disallowed parameters, as per the [`url_for` documentation](http://api.rubyonrails.org/v5.2/classes/ActionDispatch/Routing/UrlFor.html#method-i-url_for) documentation?

In that case the updated helper becomes:

[code]

[2018-04-17 10:35] apotonick commented on #29992
Quick question: why is this closed? Wouldn't this create a much more expected interface if the setter mentioned in the title would work?

[2018-04-17 11:09] xzdshr commented on #32590
@y-yagi yes it is. Works perfectly with url_helpers, thank you!
I guess we shouldn't use service_url outside of ActiveStorage controllers.

[2018-04-17 11:09] #32590 closed

[2018-04-17 11:56] jlduran opened #32604 "Make the master.key file private upon generation?"
### Steps to reproduce

    rails new app

### Expected behavior

The `config/master.key` file should not be world-/group-readable (at least on POSIX-compliant systems).

### Actual behavior

The `config/master.key` is readable by all users in the system.

    ls -l config/master.key
    -rw-r--r--   1 user  group    32 Jan 1 00:00 master.key

### System configuration
**Rails version**: 5.2.0, mas

[2018-04-17 12:53] ahorner commented on #32521
I've been running into an regression that I believe to be related to this one. I have it down to a fairly isolated case, but don't have the time to stand up a repo for it:

[code]

The generic form of this problem seems to be that `has_many :through` associations which pass through a polymorphic relationship end up discarding the custom scope information from that polymorphic relationship, leaving

[2018-04-17 14:28] drale2k opened #32606 "redirect_to not working in Safari, Firefox and Chrome Incognito Mode"
Redirects with redirect_to seem to not be working in the browsers mentioned. Given the simple code:

[code]

The site stays on the same page. The @operation is created properly in the database and the logs show the following output:

[code]

According to the console output the redirects are happening but in the browser nothing happens. On the other side when testing with Chrome __normal mode__ it

[2018-04-17 18:39] kpumuk opened #32609 "ActiveRecord silently ignores the query on RangeError when ".any?" or ".exists?" is being used"
### Steps to reproduce

[code]

### Expected behavior

It should raise an `ActiveModel::RangeError` error.

### Actual behavior

Query is being silently ignored.

### System configuration
**Rails version**: 5.1.5, 5.2.9

**Ruby version**: 2.4.2, 2.5.1

[2018-04-17 19:27] glebm opened #32610 "RedisCacheStore#delete_matched blocks and causes timeouts"
The current implementation of `delete_matched` in `RedisCacheStore` is this:

https://github.com/rails/rails/blob/6378a386ddd1beb998ec9149a284d5fb13d491c7/activesupport/lib/active_support/cache/redis_cache_store.rb#L232-L241

However, lua scripts in redis are *blocking*, meaning that no other client can execute any commands while the script is running (except `SCRIPT KILL` and `SHUTDOWN NOSAVE`, s

[2018-04-17 19:49] glebm commented on #32610
Proposed implementation:

[code]

[2018-04-17 19:52] KBalderson commented on #32531
I ran git bisect, and it looks like the offending commit is: b3f3d49fd6b91c6573b3e10e3d00f65306638927

[2018-04-17 19:54] pixeltrix commented on #32606
@drale2k can you create an example repo that exhibits this problem? Does it work in these browsers in non-icognito mode?

[2018-04-17 20:00] axlekb commented on #32531
I'm not up to speed on frozen string literals, but I _think_ it might be a missed `dup`.

https://github.com/rails/rails/commit/b3f3d49fd6b91c6573b3e10e3d00f65306638927#r28623270

[2018-04-17 22:00] jeremy commented on #32610
SCAN+DEL loop makes sense. Moving to your PR. Thanks @glebm!

[2018-04-17 22:00] #32610 closed

[2018-04-17 22:49] lillers1122 opened #32615 "Would love to have search feature on RailsGuide site, please?"
### Steps to reproduce
Go to RailsGuide site.

### Expected behavior
Need to find specific information about Rails..would love to have a search feature.

### Actual behavior
No search feature...yet? Thank you!

### System configuration
**Rails version**: 5.0.7

**Ruby version**: 2.5.0

[2018-04-17 23:05] tgturner commented on #32569
I am also interested in this issue!

[2018-04-17 23:50] 12eh commented on #31990
@victorhazbun sorry for the delayed reply; I removed `, github: "rails/rails"` from the linked test script and re-ran. The assertion on line 52 still fails, and the output before then states "Using rails 5.2.0".

[2018-04-18 00:32] y-yagi commented on #32579
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb ?

[2018-04-18 00:48] y-yagi commented on #32609
This is intentional behavior.
`.any?` and `.exists?"` are designed to return boolean values.
Ref: #25271

[2018-04-18 00:48] #32609 closed

[2018-04-18 02:32] composerinteralia commented on #31680
Based on d6bac04 I believe this is the intended behavior. It is probably worth adding to the documentation.

[2018-04-18 02:44] SGospodinov opened #32618 "ActiveRecord enums querying acts strange with MySQL"
### Steps to reproduce
You can use the following reproduction scrip:
[code]

### Behaviour
Obviously, this code should return an empty collection, but it returns all of the records with the enum value, which matches 0 at the database (`:published` in this case).
The `where` method executes a query which looks like this `SELECT  posts.* FROM posts WHERE posts.status = 'unpublished'`. I'm not sure i

[2018-04-18 04:00] run27017 opened #32619 "#<ArgumentError: A copy of Frame2::Message::Sender has been removed from the module tree but is still active!>"
I have set a global message sender in my initializer, and then call the methed of sender will raise this error. My `config/initializers/message.rb` is below:

[code]

Look at the last line, I have set a global constant `APP_MESSAGE_SENDER` to my customized message sender, and when I invoked the sender's method in my controller, it raise error #<ArgumentError: A copy of Frame2::Message::Sender has

[2018-04-18 04:12] niightly commented on #31397
Guys, anyone solves this issue?

[2018-04-18 05:26] kpumuk commented on #32609
Another example:

[code]

[2018-04-18 05:33] kamipo commented on #32609
This behavior will be fixed by #30000.

[2018-04-18 05:39] kpumuk commented on #32609
Thank you

[2018-04-18 08:57] #32269 closed

[2018-04-18 09:32] arthur-marz commented on #32615
I guess, simple search by titles of articles would not suffice. Can we do something full-texty?

[2018-04-18 09:40] saiqulhaq commented on #32615
it's simple

use following query in google or duckduckgo

[code]

[2018-04-18 09:59] sikachu commented on #32615
It's impossible to do it with the current infrastructure, as Rails Guide is currently static HTML pages. Adding a full text search functionality would require infrastructure change which I'm not sure if we can support it.

The workaround is definitely just pass `site:http://guides.rubyonrails.org KEYWORD` to your search engine of choice.

Summoning @fxn for more insight on this one.

[2018-04-18 11:10] #32597 closed

[2018-04-18 13:07] tomash opened #32621 "Postresql index with type casting using CAST AS is non-rollbackable"
### Steps to reproduce

The requirement: adding typecasted index, namely created_at typecasted to DATE type because we're calculating daily statistics and therefore choosing rows with `WHERE payments.created_at::date='2018-03-01'`.

Adding a migration with

`add_index :payments, "CAST(created_at AS date)"`

creates an index and the following entry in schema.rb:

`t.index "((created_at)::date)", na

[2018-04-18 14:37] ryan-plated commented on #32598
I am not sure what you are trying to communicate. I read the post and it says outer joins order does matter.

[2018-04-18 15:47] ashu210890 opened #32622 "Migrations failing due to ConcurrentMigrationError while trying to release an already acquired lock"
### Steps to reproduce
Run `rake db:migrate`

### Expected behavior
Migration should run successfully

### Actual behavior
ConcurrentMigrationError. The logs are follows:
[code]

### System configuration
**Rails version**: 5.2.0
**Ruby version**: 2.5.1p57
**Database adapter: Postgres
** Postgres version: 9.5.3

This error happened while upgrading from Rails 5.1 to Rails 5.2. The migrate command ra

[2018-04-18 16:08] rafaelfranca commented on #32619
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-04-18 16:08] #32619 closed

[2018-04-18 16:54] andrewkress commented on #31860
No, there was not a fix included in 5.2.0 as @javan was unable to reproduce the issue.  The workaround used would require you to change the direct_uploads.js (not directly part of rails) to include this at the end of the file:

[code]

[2018-04-18 17:27] mdesantis commented on #31860
I'd like to point out that you don't have to modify the Rails file, just
add that snippet within your Rails app javascript assets and you are fine

---

Maurizio De Santis

Il mer 18 apr 2018, 18:55 Andrew Kress <notifications@github.com> ha
scritto:

[2018-04-18 17:40] tomash commented on #32621
Note: I'll make a reproducible test case with [active_record_gem.rb](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) asap.

[2018-04-18 17:50] rafaelfranca commented on #32604
Sounds good. Mind to open a PR?

[2018-04-18 18:35] jules2689 opened #32624 "Casting in MySQL is different than in Postgres"
### Steps to reproduce

[This commit](https://github.com/rails/rails/commit/68fe6b08ee72cc47263e0d2c9ff07f75c4b42761) was intended to fix an issue with casting.

However, it seems that, with MySQL this issue continues to occur. In the octobox app, I get

[code]

[This repo](https://github.com/jules2689/rails-issue) helps illustrate the issue in the tests.

### Expected behavior

When I use `scope.

[2018-04-18 18:35] jules2689 commented on #32624
cc @sgrif

[2018-04-19 02:48] cbisnett commented on #32236
I've run into a similar issue before and it was really hard to track down because it only happened some times. I was running an ElasticBeanstalk cluster in AWS and the AMI keys they use to sign the URLs apply to the instance and are removed when the instance is replaced. What this meant is that when I would generate a signed URL from an instance I could retrieve the data from S3 as long as that in

[2018-04-19 03:53] kriom opened #32630 "database.yml is evaluated by ERB, so it should be named database.yml.erb."
Hi,

### Steps to reproduce

    rails new app_name

### Expected behavior

It generates a new app with the file `conf/database.yml.erb`

OR

It generate a new app with the not evaluated file `conf/database.yml`

### Actual behavior

It generates a new app with the file `conf/database.yml`. Here there is no problem.

But when I run the Rails server `rails s` the file is interpreted by ERB before b

[2018-04-19 04:10] icecold21 opened #32631 "ActiveRecord sometimes saves data with nil attributes"
### Expected behavior
Saves data with correct attributes.

### Actual behavior
Sometimes data are saved with all attributes set to nil, this happens on production environment with high traffic. Most of the time it happens with the has_many relationship objects when creating them through parent object which accept_nested attributes for them, but I have also experienced parent object created with ni

[2018-04-19 04:26] guilleiguaran commented on #32630
Maybe you're right but doing this change will break tutorials and existing apps from the last 10 years or more.

[2018-04-19 04:28] kriom commented on #32630
All right, if you say so.
Perhaps it is at least possible to add this information in the comments of the generated `database.yml` file when a new rails app is created.

[2018-04-19 04:37] geetfun commented on #31228
I agree with @jspang in that it would be clearer where these routes are coming from if they were explicitly defined by the programmer in routes.rb. Given that there is some level of set up for existing apps (ie. upgraded Rails apps) with bin/rails active_storage:install, adding the routes explicitly in the routes.rb can serve to allow for customization of the order of the routes.

New apps can hav

[2018-04-19 04:37] cpence opened #32632 "Provide a way to deactivate ActiveStorage MIME type inference"
### Steps to reproduce
Create a project using ActiveStorage. Save the following into a new text file:
[code]

Upload this into an ActiveStorage blob. e.g.:
[code]

### Expected behavior
Given that I have manually crafted this file upload, I should be able to tell Rails that I'm certain that the MIME type which I specified, `text/csv`, is correct.

### Actual behavior
Automatic MIME type inference

[2018-04-19 04:50] kriom commented on #32630
Thanks for your answers.

I think that tutorials can't work indefinitely, they have a lifetime like the support of releases. Otherwise you can't change anything anymore.

For the complex initialization process I have to find and read the code, but does it means the `database.yml` loading code is not is not isolated ?

[2018-04-19 05:02] Edouard-chin commented on #32631
Hey 👋 , do you mind providing a reproduction script. It's hard to diagnose the problem you are facing without one.

[2018-04-19 10:40] pixeltrix commented on #32631
@icecold21 this sounds very much like a concurrency issue - are you using a threaded app server like puma? Also 4.2.4 is very out of date - is it possible to upgrade to 4.2.10 and then see whether the problems still exist?

[2018-04-19 11:39] sgrif commented on #32624
If you could put this in a repro script using [our standard bug report template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb) instead of a full app that'd be helpful.

[2018-04-19 13:09] #32604 closed

[2018-04-19 13:44] kashifnaseer commented on #32123
any update on this ?

[2018-04-19 13:45] lluchez commented on #28386
Same issue here.
On a project I'm trying to upgrade from Rails `5.0.6` to `5.2.0` ([link to PR](https://github.com/lluchez/my-ledger/pull/36/)).
When CircleCI tries to run my tests it fails to create the database:

ActiveRecord::MismatchedForeignKey: Column `statement_parser_id` on table `bank_accounts` has a type of `int(11)`.
This does not match column `id` on `statement_parsers`, which has type

[2018-04-19 14:31] josecordova opened #32634 "Accessing dynamically created form input on Rails controller"
I have a form that users can dynamically add more items to. The JavaScript gives each input field a name such as quantity1, description1 for the first record, quantity2, description2 for the second record and so on. How can I loop through this on the controller? I am looking for something that looks like this:

@item.quantity = params[:quantity1]
@item.description = params[:description1]

But dyna

[2018-04-19 15:28] jules2689 commented on #32624
ugh. I was looking for that template @sgrif

[2018-04-19 15:44] headius opened #32639 "Rails 5.2 generates apps for JRuby that switches rvm to CRuby"
### Steps to reproduce

Generate an app for JRuby. It will contain a .ruby-version file that requests "2.3.3", causing rvm to either switch to CRuby 2.3.3 or request that you install it.

### Expected behavior

It should not try to switch you to CRuby.

### Actual behavior

It tries to switch you to CRuby.

### System configuration

Rails version 5.2.0.

JRUBY version 9.1.x.

[2018-04-19 15:53] maneframe opened #32640 "ActiveRecord 5.2 - relations with skip_query_cache! set cannot be merged"
Seems like the thing to do would be either allow a value to be passed into `skip_query_cache!`, or change https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/merger.rb#L76 so it doesn't try to send an argument to it

### Steps to reproduce
[code]

### Expected behavior
It should not raise an error

### Actual behavior
`ArgumentError: wrong number of arguments (given

[2018-04-19 16:22] headius opened #32641 "Bootsnap is broken on JRuby, breaking Rails 5.2 apps"
### Steps to reproduce

Attempt to do anything on JRuby with a newly-generated Rails 5.2 app.

### Expected behavior

It should work.

### Actual behavior

Because of Shopify/bootsnap#162, none of JRuby's internal extensions can load. This usually manifests as a failure to find the CGI::Escape constant, since the load of that extension quietly fails inside cgi.rb.

Removing bootsnap from Gemfile a

[2018-04-19 16:25] guilleiguaran commented on #32639
I think right now the .ruby-version file contains just the output of `RUBY_VERSION` constant.

wdyt about setting this to `#{RUBY_ENGINE}-#{JRUBY_VERSION}` when JRuby is detected?

[2018-04-19 16:29] headius commented on #32641
It seems like bootsnap got a -java gem but was not really tested, since it breaks JRuby pretty severely. Until that's fixed, it probably should be omitted when generating an app for JRuby.

[2018-04-19 16:30] headius commented on #32639
Personally I hate .ruby-version, but that may be because I'm constantly testing different versions of JRuby and Ruby. If setting it to `jruby-<jruby version>` seems appropriate, that should be fine. Really, if you want to lock down a generated app to a specific version, I think you should include engine always.

[2018-04-19 16:32] headius commented on #32639
FWIW, it's a common pattern for JRuby users to also use CRuby for day-to-day development, which a .ruby-version gets in the way of. My vote still goes to removing it altogether.

[2018-04-19 17:32] jules2689 commented on #32624
@sgrif https://github.com/jules2689/rails-issue has 3 different files now, one for mysql, one for postgres, and one for sqlite - all showing different responses

[2018-04-19 17:45] fxn commented on #32615
What @sikachu said.

The next foreseable evolution of the guides would be a simplified generation workflow based on Jekyll or something. But a dynamic website is not planned ATM.

Thanks for bringing this up anyway.

[2018-04-19 17:45] #32615 closed

[2018-04-19 17:52] fxn commented on #32568
Yep, I believe we can close here. In principle we don't want to officially cover these topics by now.

Thanks anyway for bringing it up!

[2018-04-19 17:52] #32568 closed

[2018-04-19 18:44] mrjaimisra commented on #29307
Any fix for this issue? We desperately need a way to detect client disconnects!

[2018-04-19 18:47] vivekcoder commented on #32634
Ideally, these items (with quantity, description) should be nested attributes to some parent model, via a has_many or habtm relationship. And hence, you would have one submit button to submit the form for the parent (with items as child forms). Its not clean to try to save multiple models by one submit action and then iterate through them in the controller.

[2018-04-19 18:51] rafaelfranca commented on #32634
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-04-19 18:51] #32634 closed

[2018-04-19 18:53] vivekcoder commented on #32631
Do you have model (presence: true) and DB (not null) validations for TransactionLine? Model validations, however are not run by update_all method. If you can attach a sample params object here, that would help.

[2018-04-19 18:54] rafaelfranca commented on #29307
If you need this, please do investigate and open a PR. Nothing is better than needing something to motivate an implementation.

[2018-04-19 18:56] vivekcoder commented on #32606
Did you notice the duplicate requests being sent and to your server? This might also confuse your browser having received multiple 302 responses.

[2018-04-19 18:57] josecordova commented on #32634
My apologies. I am new to this platform. Please delete this post so that it does not distract from actual Rails issues.

[2018-04-19 19:13] #32557 closed

[2018-04-19 19:14] rafaelfranca commented on #32567
We don't expose any JavaScript documentation, but maybe we should. @fxn ideas how to handle JavaScript in our API website?

[2018-04-19 19:40] oniofchaos commented on #32557
@rafaelfranca do you have a definitive answer to the OP? I appreciate the input everyone has given but it doesn't sound like there's an official answer.

[2018-04-19 19:51] maneframe commented on #32640
Sorry, I assumed it was better to provide a more straight-forward reproduction case rather than the convoluted one that we ran into

[code]

`find_in_baches` sets `skip_query_cache!` on the relation, which gets set as the `current_scope` within the callback, and so `self.class.all` tries to merge it in because the subclass is not equal to the current_scope klass https://github.com/rails/rails/blob

[2018-04-19 19:51] rafaelfranca commented on #32592
There is a problem in your bug template. The application needs to be initialized, but in a real life application you are correct. We can't change the `config.action_dispatch` configs after the `ActionDispatch::Railtie` initializers are run. That problem only exists on Action Dispatch configs the other Railties defer the config setting to when the base class of the framework is loaded, and that is

[2018-04-19 20:07] rafaelfranca commented on #32557
The official answer was given above in the two comments:

"My understanding is that "no-cache" makes "must-revalidate" unnecessary" and "The no-cache and the must-revalidate;max-age=0 directives are conflicting and only the most restrictive one get applied (which in our case is the no-cache one 13.1.3"

[2018-04-19 20:08] maneframe commented on #32640
Alternatively, changing this to `klass.uncached` here:

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation.rb#L610

would keep the relation from being set as the `current_scope` when it delegates it
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/delegation.rb#L72

but that may be intentional, I'm not sure...

[2018-04-19 20:09] rafaelfranca commented on #32557
And also tests added on the linked PR above https://github.com/rails/rails/pull/30367

[2018-04-19 20:39] headius commented on #32639
Case in point: https://twitter.com/ninkibah/status/987016190433398785

[2018-04-19 20:54] guilleiguaran commented on #32639
Given the discussion in https://github.com/rails/rails/pull/30016, looks like .ruby-version isn't going to be removed until rbenv understand how to read the .ruby-version from the Gemfile 😓

[2018-04-19 21:01] headius commented on #32639
@guilleiguaran Yeah that's too bad. I really don't get why people want to have this behavior. I never want my env or path to change just `cd`ing into a directory.

At least we need to get it using a proper Ruby impl specification rather than just Ruby version.

[2018-04-19 21:03] rafaelfranca commented on #32618
This is the expected behavior. If you passed an inexistent enum value to the query it will query that value. It is not the job of active record to be checking what you pass to a query.

MySQL returns something because when you compare a string with a integer column it casts the string to "0"

[code]

In SQLite and PostgreSQL it doesn't' try to cast.

[2018-04-19 21:03] #32618 closed

[2018-04-19 22:00] rafaelfranca commented on #32598
Could you explain better the expected behavior and the actual behavior? "should keep order" doesn't tell anything to me. Order of what?

[2018-04-19 22:04] #32640 closed

[2018-04-19 23:57] emirkin opened #32653 "Obsoleted method `halt_callback_chains_on_return_false` still called in Rails 5.2"
According to https://github.com/rails/rails/commit/19fbbebb1665e482d76cae30166b46e74ceafe29, this method should no longer be called. But it is.

[code]

[2018-04-20 01:31] niightly opened #32656 "rescue in _decrypt: ActiveSupport::MessageEncryptor::InvalidMessage running 2 different ruby projects locally"
### Steps to reproduce
1. Create a project A and encrypt `rails secrets:setup` the secrets.yml
2. Raise the server on project A folder using the key you set on the first encryption
3. Create the project B and encrypt `rails secrets:setup` the secrets.yml
4. Stop the project A server, start the server on project B folder (don't forget to change the RAILS_MASTER_KEY).

### Expected behavior
I should

[2018-04-20 01:35] juliusdelta commented on #32569
I assumed I was to wait to be assigned since good first patches are few and far between. @pixeltrix Is this etiquette? Or should I just open the PR next time.

[2018-04-20 01:40] juliusdelta commented on #32584
@georgeclaghorn Could I take a crack at this?

[2018-04-20 01:52] SGospodinov commented on #32618
Thank you @rafaelfranca. That explains a lot, but don't you think that this behaviour has to be documented? I'll be happy to help.

[2018-04-20 02:12] danhuynhdev commented on #32476
I tried to fix this with PR #32524  but after further investigation I out that it is not a bug. Try this [gist](https://gist.github.com/b74b7513a10a30b350982b53cffb201c). The difference is that I change author directly through the association, so the parent object knows about the change.

[2018-04-20 02:13] georgeclaghorn commented on #32584
Please do! Note that we want to avoid making service calls or enqueuing background jobs inside a database transaction. I think that’s the trickiest part of this.

[2018-04-20 02:27] tgturner commented on #32569
@juliusdelta I apologize! Guess I got a little trigger happy. I assumed that you had decided not to work on it since it was small and had been a day, didn’t realize you were waiting for it to be assigned. I’m happy to close the PR and let you pick this one up if you’d like.

[2018-04-20 02:41] trezona-lecomte commented on #29035
I have just encountered this same issue, and do not believe it to be a matter for support as @matthewd stated. These are the facts:

- We call `attribute_changed?` in a `before_validation`, not in any after callbacks.
- The deprecation warning triggers, advising us to not to use `attribute_changed?` in after callbacks

How is this correct or sensible behaviour?

Further, the documentation for the

[2018-04-20 03:04] #32639 closed

[2018-04-20 03:11] juliusdelta commented on #32569
@tgturner No worries! Keep it open for sure. I'm glad you were able to do it. I hope I didn't come off as passive aggressive lol, I'm just genuinely wondering if there is like etiquette or something as far as taking issues goes cause I actually don't know lol.

[2018-04-20 03:13] rafaelfranca commented on #32653
There is no call for this method inside Rails. Make sure your application is not calling it.

[2018-04-20 03:13] #32653 closed

[2018-04-20 03:14] tgturner commented on #32569
I'm not sure the etiquette either, but thanks for being so understanding!

[2018-04-20 03:55] rafaelfranca commented on #32598
I think it is related to https://github.com/rails/rails/pull/15461

[2018-04-20 04:14] ryanong commented on #32598
YEA that is exactly it! I'll gladly pick up the stale PR! I just didn't even know where to start.

[2018-04-20 04:39] danhuynhdev opened #32657 "ActiveRecord autosave with has_many through don't prevent validation on children when called with validate: false"
### Steps to reproduce
When I'm working on the PR #32524 to fix #32476
I find this bug that is not covered by the tests.
Basically on a `has_many through` with an autosave `belongs_to` on the join table,
passing `validate: false` to `ActiveRecord#save` will not skip validation of child records.

I created I gist to reproduce this bug here:
https://gist.github.com/d446d8b48e9b345ab5aff2bdf172767d

[2018-04-20 04:50] trliner opened #32658 "The :only option for Hash#as_json is unexpectedly applied to nested hashes"
### Steps to reproduce
The unexpected behavior of `active_support`'s `Hash#as_json` can be reproduced via this [executable test](https://gist.github.com/trliner/8e10e326095437618a6dce132299d0ce):

[code]

### Expected behavior
When creating a subset of a hash using the [`:only` option for `as_json`](https://github.com/rails/rails/blob/b8cd9302fe01dcaf4d36cc28cdfb7b9d7db832d8/activesupport/lib/acti

[2018-04-20 05:52] emirkin commented on #32653
@al2o3cr My application was a Rails 5.1. I merely updated it to 5.2.

@rafaelfranca The line `Rails.application.initialize!` in `environment.rb` ultimately results in this stacktrace. So, this is not really my app.

[2018-04-20 06:41] #32577 closed

[2018-04-20 06:48] y-yagi commented on #32577
This was an issue with Rails. I fixed this with  #32600. Thank you for the report!

[2018-04-20 07:58] y-yagi commented on #32656
Hmm, I could not reproduce the issue with reproduce steps.
In the state generated by rails new, encrypted secrets should not be read in the development environment, have you changed any config?
If so, can you provide the sample application?

[2018-04-20 08:38] sriedel opened #32662 "Incorrect documentation in "Working with Javascript" Rails Guide for 5.1"
### Steps to reproduce
Try to setup a callback handler for remote forms with rails 5.1 by referencing the rails guide "Working with Javascript in Rails" for rails 5.1.

### Expected behavior
The guide for rails 5.1 should document the changes that were introduced in 5.1 :)

### Actual behavior
[http://guides.rubyonrails.org/v5.1/working_with_javascript_in_rails.html#remote-elements](http://guides.

[2018-04-20 09:36] pixeltrix commented on #26289
Just in case anyone doesn't get the point that @rafaelfranca is making - doing this:

[code]

Is not a whitelist, it's a blacklist and it's still not safe - we just don't know the ways in which it's unsafe because it's heavily application dependent.

[2018-04-20 10:02] danhuynhdev commented on #32658
@trliner I think the API is a bit unintuitive but it's intentional according to this test https://github.com/rails/rails/blob/2b35826389005bdb0af85a4ebb1f0ec213174d13/activesupport/test/json/encoding_test.rb#L201

[2018-04-20 10:15] pixeltrix commented on #32569
@juliusdelta @tgturner we can't assign issues in the GitHub UI to people who aren't part of the org AFAIK plus often people might say they're working on an issue but life understandably gets in the way. So the general rule is that whoever files the first PR is accepted if it's a very straightforward issue but for more complicated PRs then we'll generally go with the team's preferred implementation

[2018-04-20 11:05] al2o3cr commented on #32653
@emirkin Rails 5.1 generated a file in your application at `config/initializers/new_framework_defaults.rb` which contains this code. You'll need to delete the offending line.

[2018-04-20 12:08] rud commented on #26289
@rafaelfranca I agree, it is certainly best to think of `safe_params` as a stepping stone during upgrading. When doing a massive upgrade it can be quite a lot of work to go through all uses of `link_to` and construct the correct whitelist for every case, but I agree that is much preferable to go through that extra whitelisting work, as subtle security issues can linger as long as the above `safe_p

[2018-04-20 12:36] utilum commented on #32662
You seem to be right! Would you care to submit a PR?

[2018-04-20 12:46] ashu210890 commented on #32622
I finally figured that this is not a rails issue. Rails takes an advisory lock to prevent concurrent migrations on the same DB.
There is one crucial detail that I forgot to mention in the issue description, it's that we were using [PgBouncer](https://wiki.postgresql.org/wiki/PgBouncer) in transaction pooling mode. Since, in transaction pooling mode, different connections can be used for different

[2018-04-20 14:51] pixeltrix commented on #32658
@trliner thanks for opening an issue but as @danhuynhdev points out this is the intended behaviour. If you need to restrict the top level attributes then this is trivial to do using `slice`, e.g.

[code]

[2018-04-20 14:51] #32658 closed

[2018-04-20 15:40] rafaelfranca commented on #32653
I think `grep "halt_callback_chains_on_return_false" config/**/*.rb` will show you that your application is calling it.

[2018-04-20 15:43] cpence commented on #32632
@ryandav: That looks exactly right to me. The following patch in an initializer suffices to disable all MIME-type validation for *any* blob which has specified a content type. It works for my purposes, though it's obviously too ham-handed to be suitable for general purposes.

[code]

[2018-04-20 15:48] nbulaj opened #32671 "Join error for Associations: NoMethodError (undefined method `expr' for nil:NilClass)"
We have one application that was updated from Rails 5.1.6 to 5.2.0 and during this process we've issued a problem with the broken test suite. The problem from my point of view was introduced in 2a211802f3f55b8b7d64f9fbb1942c86be686dc7 .

[`ActiveRecord::Associations::JoinDependency::JoinAssociation` `join_constraints` method was refactored to work with right joins](https://github.com/gen1321/rails

[2018-04-20 15:50] trliner commented on #32658
@danhuynhdev Thanks for tracking that down. I looked all over for some indication of the intent but didn't see that test.

@pixeltrix Yep. That's the approach I ended up taking. Thanks!

Closing this issue is the correct resolution. Hopefully, it will be helpful to the next person that encounters this unintuitive behavior.

[2018-04-20 17:17] guilleiguaran commented on #32641
Closed with https://github.com/rails/rails/commit/b10f371366a606310cab26648d798836e030bdc8

[2018-04-20 17:17] #32641 closed

[2018-04-20 17:48] axalix opened #32672 "k"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Rails version**:

**Ruby version**:

[2018-04-20 17:48] #32672 closed

[2018-04-20 20:39] #29280 closed

[2018-04-20 22:58] derigible commented on #32208
A decent workaround for this issue that I have been using is in the config/initializers dir I have created a file called `active_storage_api_modification.rb` that has `ActiveStorage::DirectUploadsController.instance_eval { skip_forgery_protection }` to run.

[2018-04-20 23:31] sgrif commented on #32624
Confirmed the issue on both master and 4.2

[2018-04-21 02:43] nikolaokonesh commented on #32579
@y-yagi solved the problem, renamed the book.rb model to edition.rb. Yet, I could not understand what the problem was.

[2018-04-21 03:01] sikachu commented on #32579
Seems like a constant reference issue. Looks like you have a module name `Book::Category` too, right?

Try setting an explicit model class on your categories association:

[code]

[2018-04-21 08:02] wilg commented on #32236
It definitely seems to be a problem with browser caching, I'm experiencing this and I eventually figured out that a hard refresh in Chrome (Cmd+Shift+R) unbreaks the images.

[2018-04-21 11:25] USvER opened #32677 "Model `.save` does not save newly created relations."
I'm trying to migrate my project from Rails 5.0
Project extensively uses creation of related models thrugh `.build_%related_model%`, it was working on rails 5.0 and now it's broke.
Does this functionality removed, or should i use another syntax?

### Steps to reproduce
User belongs_to Profile
[code]

### Expected behavior
Both User and his Profile should be created.

### Actual behavior
Only User

[2018-04-21 12:59] vmarquet opened #32679 "System tests drop the development database"
### Steps to reproduce

1. set env to dev with `export RAILS_ENV=development`
2. run system tests: `bundle exec rails test:system`

### Expected behavior

Either the system tests use the test env (as regular tests do even if RAILS_ENV is set to dev), or system tests abort.

### Actual behavior

System tests silently drop the RAILS_ENV database, development in my case.

### System configuration

*

[2018-04-21 13:25] y-yagi commented on #32656
I tried again with your config, but couldn't reproduce.
Is there anything else you have changed?  Is it also possible to reproduce with newly application?

[2018-04-21 14:49] FreekingDean commented on #31990
Looks like the tests are somewhat explicitly not testing this:
https://github.com/rails/rails/blob/a1ac186/activerecord/test/cases/nested_attributes_test.rb#L312

[2018-04-21 14:49] nynhex commented on #32677
Can you provide a sample repo for someone to reproduce?

[2018-04-21 15:53] juliusdelta commented on #32584
I'll probably open 2 PRs, one to handle the issue of ordering the `blob` and `image` in the delete. The second to handle the foreign key by default. @claudiob Any thoughts on the foreign key feature discussed?

[2018-04-21 18:27] cdesch commented on #32208
@cbothner will the [react-activestorage-provider](https://github.com/cbothner/react-activestorage-provider) work with ReactNative?

[2018-04-21 19:04] #32511 closed

[2018-04-21 19:33] cbothner commented on #32208
Right now, I’m sorry to say, it certainly will not. The activestorage
JavaScript package uses DOM Form APIs to perform the direct upload, so it
won’t work with React Native.

2018年4月21日(土) 13:27 cdesch <notifications@github.com>:

[2018-04-21 19:55] gregnavis commented on #31395
@ebeigarts I'm using `temping` to generate temporary models in the test suite of [`active_record_doctor`](https://github.com/gregnavis/active_record_doctor) and run into that problem as well. In my case calling `ActiveSupport::DescendantsTracker.clear` didn't help but `ActiveSupport::DescendantsTracker.class_variable_get(:@@direct_descendants).clear` **did**. I added it to the teardown phase of my

[2018-04-21 20:51] tgturner commented on #32671
I would love to look into this one!

[2018-04-21 21:59] matthaliski commented on #32236
@wilg - I just ran into the same thing in Chrome (Version 65.0.3325.181). I saw your post after around 4 hours of smashing my head on the desk trying to figure out why my uploads all of a sudden stopped redirecting properly away from the blob.

Old images were all displaying fine, but after 5 minutes ([mentioned here](http://guides.rubyonrails.org/active_storage_overview.html#linking-to-files)) it

[2018-04-21 23:57] georgeclaghorn commented on #32584
I don’t think the changes proposed here would resolve either of those issues, but they’re nonetheless worthwhile.

[2018-04-22 03:48] juliusdelta commented on #32584
@claudiob I’ll see what the work/issues are like and respond on those issues accordingly tomorrow.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-22 17:28] georgeclaghorn commented on #32632
@ryandav, it’s all yours. 😄

[2018-04-22 17:55] ryandav commented on #32632
@cpence @georgeclaghorn great, I look forward to diving into the source code this week! =)

[2018-04-22 18:06] mroutis commented on #32568
I'll leave this here: http://daniel-azuma.com/articles/talks/railsconf-2018

[2018-04-22 19:06] fxn commented on #32568
Excellent, thanks @mroutis.

[2018-04-22 20:16] salex commented on #26158
After spending most of the day trying to figure out why jQuery was not loading on a demo app I found this page. I was running in development mode with nginx proxy_pass and tried a bunch of nginx configs, none of which solved the problem. I then discovered the same code ran fine an a RaspberryPI but failed on a MacMini!  Then I remembered the error when I started the Rails server as a daemon, which

[2018-04-22 22:29] Dorian opened #32692 "Rails.application.routes.router.visualizer: invalid option: -Tsvg"
### Steps to reproduce

- Add `gem 'dot'` to `Gemfile`
- Run `Rails.application.routes.router.visualizer`
- Get:

[code]

### Expected behavior

Output contains SVG of nodes.

### Actual behavior

SVG nodes are missing:

<img width="1434" alt="screen shot 2018-04-23 at 12 16 47 am" src="https://user-images.githubusercontent.com/129149/39100662-6cba8950-468d-11e8-92d8-6a50d53fc956.png">

### System

[2018-04-22 22:54] y-yagi commented on #32692
`dot` gem does not matter.
To use it, you need the `dot` executable included in the graphviz package.
Also, this method is not part of the public API and we don't recommend users to use it.

[2018-04-22 22:54] #32692 closed

[2018-04-22 23:26] lucascaton commented on #28143
For those who use MacVim, `mvim -f` solves the problem:

[code]

[2018-04-23 01:00] trezona-lecomte opened #32694 "will_save_change_to_attribute? is not an alias of attribute_changed?"
The documentation for the `will_save_change_to_attribute?` method says simply "Alias for attribute_changed?". This is provably false, either by looking at the source code of the method definition (it is not an alias but rather has it's own implementation) or by running the steps to reproduce below.

This is dangerously misleading, because `attribute_changed?` is being deprecated so folks will be l

[2018-04-23 05:48] tgturner commented on #32671
Alright, I think I've about reached the limits of my knowledge on how ActiveRecord functions on this one. Best I can tell if `right` is `nil` here https://github.com/tgturner/rails/blob/master/activerecord/lib/active_record/associations/join_dependency/join_association.rb#L46 (which seems to occur for string joins) then it needs to be set to some sort of  `Arel::Node` that represent the `where` qu

[2018-04-23 07:01] pixeltrix commented on #32236
@matthaliski can you tell me what headers are being returned from both the reference url request which generates the redirect and the S3 url request? I'm wondering whether the browser is trying to refetch the latter rather than the reference url and then redirecting again.

[2018-04-23 07:42] khiav223577 opened #32697 "[ActiveRecord] assign attributes without changes"
After using `update_all` to update a bunch of records in one query, I would like to refresh one model object of them. I avoid using `reload` method, since it doesn't have to load the data from database. I can assign the new attributes by using `assign_attributes` method. But in this way the model object is `changed`. For example:

[code]
I find a workaround by calling `clear_attribute_changes` met

[2018-04-23 08:55] nbulaj commented on #32671
@tgturner can't say you right now, but there are was not any problem with the joins (as for  business logic, as for tests, as for production usage). So I'm not sure `join` was being dropped from the scope

[2018-04-23 10:10] tomstuart commented on #31680
@composerinteralia I don’t follow — d6bac046922fcee05366d26d75349dde70d25f6b looks like a performance optimisation for looking up the layout, with no suggestion that it should affect the behaviour. Perhaps @tenderlove can confirm or deny that the behaviour change is intentional?

[2018-04-23 14:34] #12423 closed

[2018-04-23 14:53] juliusdelta commented on #32584
Yea I'll see if I can wrap that stuff up in this patch @claudiob

[2018-04-23 17:01] rafaelfranca commented on #32694
Can you submit a PR updating the documentation?

[2018-04-23 17:21] vmarquet opened #32700 "lot of 'is already being watched through' messages when using rails console if using node_modules"
(This is not strictly a bug but more of a medium annoyance.)

### Steps to reproduce

* create a rails project
* install some particular npm packages at the root of the rails app: `npm install puppeteer`
* stopping spring ensures the messages appear: `spring stop`
* try logging into the console: `rails c`

### Expected behavior

I expect to be elegantly logged into the Rails console:

[code]

###

[2018-04-23 17:59] matthaliski commented on #32236
No problem @pixeltrix. Here we go.

## First pass

**Blob request**

<img width="962" alt="1st pass blob request" src="https://user-images.githubusercontent.com/431169/39144164-da4cbeaa-46e4-11e8-8779-d665012860b3.png">

**S3 request**

<img width="962" alt="1st pass s3 request" src="https://user-images.githubusercontent.com/431169/39144187-e6fcf3ae-46e4-11e8-987e-baad63bcaaef.png">

## Second pas

[2018-04-23 18:13] troym9731 opened #32701 "Adding an `includes` to a query in Rails 5.2 adds a LEFT OUTER JOIN that breaks with `pluck`"
The below test case passes on Rails 5.1.4. Let me know if I'm missing something obvious in the release notes that would explain why this would fail in 5.2 😄

### Steps to reproduce

[code]

### Expected behavior
Adding the `includes` shouldn't affect the resulting query.

**Note**: The `pluck` is needed to get this query to fail. Otherwise, it runs fine.

### Actual behavior
Adding the `includes`

[2018-04-23 18:16] rafaelfranca commented on #32700
Is the node_modules directory listed as an autoload directory? Rails and listen only watches directories that are autloaded.

[2018-04-23 18:29] vmarquet commented on #32700
Those exact steps get me the error. Maybe you don't have it because you did not use the same versions of Ruby and Rails?

[2018-04-23 18:29] rafaelfranca commented on #32700
I'm not sure what could be causing that because I could not reproduce and Rails only listen to `autoload_paths`.

Try ` ActiveSupport::Dependencies.autoload_paths` on console.

[2018-04-23 18:30] rafaelfranca commented on #32700
Does it happens with a Rails 5.2 application? That will help us to check if that is a problem that was already fixed.

[2018-04-23 18:34] pixeltrix commented on #32236
@matthaliski looks like the cache control headers on the redirect are wrong they should be something like this:

[code]

Whereas your screenshot is showing the following:

[code]

When the temporary url expires on Amazon your browser is still seeing the cached redirect as valid - you can see in the screenshot where it says `(from disk cache)`. Since the S3 url has expired then that returns a 403 e

[2018-04-23 18:34] rafaelfranca commented on #32701
Now that you have the script and the version where it passes it should not be hard to use `git bisect` to find which commit introduced this change. Can you try that? It would help us a lot.

[2018-04-23 18:41] troym9731 commented on #32701
Yup! Doing that right now.

[2018-04-23 18:42] rafaelfranca commented on #32701
Thank you!

[2018-04-23 18:45] vmarquet commented on #32700
Same problem with Rails 5.2.

Note that I forgot to mention that I'm using Mac OS (Sierra 10.12.6 for now), and this is maybe relevant, I think I read somewhere the creator of the gem Listen saying that Mac OS is causing trouble. Unfortunately I don't have a linux machine to test if this is OS related.

Also, I just had a trouble with my npm install, I used `yarn install puppeteer --dev` to instal

[2018-04-23 19:01] rafaelfranca commented on #32700
I'm on Mac OS 10.13.4 with Ruby 2.5, Rails 5.2 and 5.1 and I could not reproduce this issue.

And given `node_modules` is not in the `autoload_paths` I'm not sure how and why you are getting that behavior.

[2018-04-23 19:09] troym9731 commented on #32701
This is the commit the broke the above test case: `249ddd0c39e6f24145ae1150d4c8eec9f11219b1`

[2018-04-23 19:53] Jarred-Sumner commented on #32208
@tommotaylor I would like to use ActiveStorage with a React Native app as well.

[2018-04-23 20:15] trezona-lecomte commented on #32694
Hi @rafaelfranca, thanks for the prompt reply.

Sure, I will put together a PR suggesting some changes to the documentation.

Do you think it's worth examining whether the correct course of action might be to update the code to reflect the original author's intent and the intent of the existing docs? It seems to me that a more friendly upgrade path is one that provides equivalent methods for the o

[2018-04-23 20:33] rafaelfranca commented on #32694
The current implementation is what we want.

In `after_#{save/create/update}` callbacks `attribute_changed?` and `will_save_change_to_attribute?` return different things in Rails 5.1 to keep the behavior backwards compatible. The former returns all the attribute that will be sent to the database and the ones that already have being sent to the database. This is what is deprecated, you have to eith

[2018-04-23 21:02] wilg commented on #32236
Thanks @matthaliski! That solution makes sense to me, I'll try that and report back if I encounter any issues with.

[2018-04-23 21:05] pixeltrix commented on #32700
Is it possible there's a link to node_modules inside one of the autoload paths?

[2018-04-23 21:07] ryandav commented on #32632
The start of some manual tests show that Marcel::MimeType.for:
[code]

[2018-04-23 21:12] cpence commented on #32632
But:

[code]

[2018-04-23 21:13] vmarquet commented on #32700
@pixeltrix I haven't created any symlink.

[2018-04-23 21:16] 12eh commented on #31990
Perhaps, but I'd put emphasis on the "somewhat" -- that `reload` could easily be left over from a copy/pasted test case, rather than being intentionally added. In either case, my two cents is that the current behavior is not intuitive, because it's the only case I can think of where `post.update(...)` does not update the in-memory data accessible from `post`.

For the second point, I'm not sure I

[2018-04-23 21:17] trezona-lecomte commented on #32694
Thanks for the additional explanation, that makes sense. I hadn't realised that `attribute_changed?` is going to change in 5.2.

Based on your explanation, am I correct in thinking that in 5.1 `will_save_change_to_attribute?(:foo) || saved_change_to_attribute?(:foo)` should return the same result as `attribute_changed?(:foo)` in all scenarios?

[2018-04-23 21:40] FreekingDean commented on #31990
In my test case: https://gist.github.com/FreekingDean/74fb272b4758ae27539687e5d0b9f45e#file-destroy_has_one-rb-L61 fails similar to yours. It is also acting upon the object similarly.

[2018-04-23 21:47] ryandav commented on #32632
This only happens with the capitalized word 'Article', 'article' and other words seem ok...
[code]

[2018-04-23 21:49] matthewd commented on #32700
I believe this (watching everything inside the app root) is a known symptom of one of the watched-by-default directories being missing.

I feel like the previous report involved an app that was using rspec, and therefore didn't have a `test` directory, and that being significant?

@vmarquet do you have a `.railsrc` or similar that could be affecting your `rails new` command? I'm much more confused

[2018-04-23 21:51] ryandav commented on #32632
@georgeclaghorn This appears to be an issue with the marcel gem.

[2018-04-23 21:54] vmarquet commented on #32700
@matthewd No I don't have any .railsrc, I did not even knew that existed.

[2018-04-23 21:58] ryandav commented on #32632
I could have a go at patching this for Rail's usage. Does Rails have preferred way of dealing with these kinds of exceptional bugs in dependent gems? (eg if 'Article' is the only word that triggers this bug)

[2018-04-23 22:04] cbothner commented on #32208
The npm package `activestorage` and anything that depends on it won’t work on React Native because `FileReader.readAsArrayBuffer` is not implemented. But that does not mean you can’t use ActiveStorage on the Rails side by uploading your files as an HTML form would.

### No Direct Upload
It is easiest if you expect only to receive small enough files or if you’re not using Heroku and you don’t need

[2018-04-23 22:47] y-yagi commented on #32697
Please use the [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feature requests, where a wider community will be able to help you. We reserve the Rails issue tracker only for bugs in Rails. Thanks.

[2018-04-23 22:47] #32697 closed

[2018-04-23 22:51] y-yagi commented on #32656
You need to provide the correct reproducing procedure or reproduced application. If it were not, we can not do anything. Therefore, I close this.
But if you can provide reproduced application, feel free to reopen. Thanks!

[2018-04-23 22:51] #32656 closed

[2018-04-23 22:55] utilum opened #32705 "Segmentation fault in AR evented_file_update_checker_test"
### Steps to reproduce

I have seen this several times this evening, but not on every run.

[code]

[2018-04-23 23:09] rafaelfranca commented on #32705
Thanks for the issue. Closing since this is not an issue on Rails itself. It may be something on rb-inotify that we definitely can take a look and fix to avoid having this segfault in our test suite but we don't need to keep an issue open on the issue tracker since it can't be fixed on the rails side.

[2018-04-23 23:09] #32705 closed

[2018-04-24 01:02] kimyu92 opened #32707 "PG error when unscoping specific value in where clause with OR clause"
Unscope specific value on where clause causing error
`ActiveRecord::StatementInvalid: PG::ProtocolViolation: ERROR:  bind message supplies 2 parameters, but prepared statement "a7" requires 4`

### Steps to reproduce

Sample Model, execution and query
[code]

[code]

[code]

### Expected behavior
not blowing up and match num of variables in sql

### Actual behavior
ActiveRecord::StatementInvalid:

[2018-04-24 01:08] cbisnett commented on #32236
@pixeltrix I'm not using CloudFlare but I was using long-lived URLs (expiration set to `1.week.from_now`) and was storing those in PostgreSQL. In my case the links weren't being visited by a browser so there was no cache to worry about, but the symptoms the OP was describing matched the symptoms we saw. Good call on the caching headers though.

[2018-04-24 01:59] khiav223577 commented on #32697
Thanks. I just can't find where to post feature requests.

[2018-04-24 04:34] pixeltrix commented on #32346
Reopening because we need to do something

[2018-04-24 06:28] utilum commented on #32705
Thank you for looking at this. Our version of rb-inotify is locked, and this issue seems to have been introduced in #32471 ef5902a2f195c2be5a4e9 which updates ffi to the latest version. @janko-m : is the latest version of ffi necessary?

[2018-04-24 06:50] kamipo commented on #32671
Right, for now the line expects only inner/left join nodes which are created in the following line since I missed the consideration of string join.

https://github.com/rails/rails/blob/a3ecf4ff1dbb92259e1627bdd09546211f25d906/activerecord/lib/active_record/associations/join_dependency/join_association.rb#L39

Since association scope does not ignore all joins after #29413, we need to care about str

[2018-04-24 06:58] incubus opened #32709 "ArgumentError: Relation passed to #or must be structurally compatible error with Rails 5.2.0"
Hi!

This test passes with Rails 5.1.5 and fails with 5.2.0 and master.

### Steps to reproduce

[code]
### Expected behavior
`user.debts.or(user.credits)` should return user's debts.

### Actual behavior
`ArgumentError: Relation passed to #or must be structurally compatible. Incompatible values: [:order]` error.

### System configuration
**Rails version**: 5.2.0

**Ruby version**: 2.4.4

[2018-04-24 07:11] matthewd commented on #32709
While I'm honestly surprised an `or` across two separate associations ever worked (!)... maybe related to #27947?

[2018-04-24 07:14] incubus commented on #32709
It works without `{ order(id: :asc) }` on both associations.

[2018-04-24 08:27] janko-m commented on #32705
@utilum No, that upgrade was not necessary, the `ruby-vips` gem that I added requires FFI `~> 1.9`, so the current version would work as well. I guess that when you add a gem Bundler just automatically upgrades its dependencies as well.

[2018-04-24 13:15] WingardiumJKEULEYA opened #32710 "ActiveRecord find method KeyError"
### Steps to reproduce

[code]

### Expected behavior
I expected the same output as `a` :
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: Rails 5.2.0

**Ruby version**: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]

[2018-04-24 15:15] vadus1 opened #32711 "ActiveStorage: Attaching images via the API. I get the base64 code, but then I can't get image."
### Steps to reproduce
Setup ActiveStorage with Google Cloud Storage service:

[code]
(Guidelines for creating a bug report are [available
here](http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
[code]

### Actual behavior
The object image is saved but is not displayed as a image.
and after save I get the following error.

[code]
##

[2018-04-24 15:42] incubus commented on #32709
https://github.com/rails/rails/commit/686261f0df commit broke the above test case.

[2018-04-24 18:07] ryandav commented on #32632
Just raised an issue on the Marcel repo:

https://github.com/basecamp/marcel/issues/4

[2018-04-24 19:39] ericandrewlewis opened #32714 "Running a Rails command outside of a Rails project folder outputs rails new help message"
First of all, thanks for Rails. This is my first bug report and I really appreciate the softare 😄

I had a hard time finding a relevant existing ticket although I would guess this issue has already been spoken of. I'd love to be linked to previous discussion if so!

### Steps to reproduce

Run a rails command outside of a rails project, for example `rails new model User`

### Expected behavior

Pe

[2018-04-24 20:39] tgturner commented on #32671
@kamipo, what would it look like to correctly create a join node for string joins in the proper place?

[2018-04-24 21:37] composerinteralia commented on #32710
[code]

[2018-04-24 21:42] rafaelfranca commented on #32710
Active Record don't support finder by Active Record instances. It used to support but we deprecated and removed it.

[2018-04-24 21:42] #32710 closed

[2018-04-24 22:24] y-yagi commented on #32707
Can you create a reproducible bug script from this [template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb)?

[2018-04-24 22:40] y-yagi commented on #32711
As per this error, you upload invalid binary data as JPEG.
Therefore, it is an error in conversion processing with MiniMagick. I think this is the correct behavior.

Please try using the correct image file again.

[2018-04-24 22:40] #32711 closed

[2018-04-24 23:12] y-yagi commented on #29516
I have deprecated using `HOST` environment to specify server IP. This issue is correctly fixed in Rails 6.1.
As that step, Rails 6.0 will have unintended deprecate messages. In that case, please specify `BINDING` environment. Thanks.

[2018-04-25 05:00] rafaelfranca commented on #32694
yes, that seems to be correct.

[2018-04-25 06:06] #32579 closed

[2018-04-25 09:09] #31722 closed

[2018-04-25 09:12] pdagrawal opened #32718 "How to change master.key"
### Steps to reproduce
I have setup a new project and using Rails 5.2 and its encrypted credentials feature. But if my master.key file get compromised then how would I change it and should be able to use encrypted credentials with newly created master key.

### Expected behavior
Should be able to renew master key by using previous master key just like we can change password with using current pass

[2018-04-25 09:37] kevynlebouille opened #32719 "[ActiveRecord] Same queries origin with verbose_query_logs enabled"
### Steps to reproduce

Fresh rails new app with active storage enabled and used for an avatar in a User model.

### Expected behavior

Every queries from active storage should be logged with their own engine's path origin.

### Actual behavior

Every queries from active storage are logged with the same origin :
[....]/lib/active_record/log_subscriber.rb:98

Same problem with Devise engine's queri

[2018-04-25 10:00] kamipo commented on #32671
I don't see what you mean, but if you mean which line we should address, just address the lines here:

https://github.com/rails/rails/blob/03721d9379c0eeb8b0c93c92301ba7a9caa436a2/activerecord/lib/active_record/associations/join_dependency/join_association.rb#L46-L47

[code]

I've already confirmed this issue could be fixed locally.

[2018-04-25 11:00] #32709 closed

[2018-04-25 11:15] tgturner commented on #32671
I'm not sure I understand ActiveRecord and Arel enough to know what the `append_constraints` method would need to look like. Here are somethings I've tried sticking in the `if arel.constraints.any?` block that haven't worked for me.

[code]

[code]

[code]

These are all my rough estimates at how Arel and ActiveRecord are interacting here. I can never seem to get the sting join and the where to sh

[2018-04-25 11:29] yahonda opened #32720 "Apply `CustomCops/RefuteNot` and `CustomCops/AssertNot` for Arel test cases or not"
Now Arel is part of Rails since #32097. RuboCop reports offenses `CustomCops/RefuteNot` and `CustomCops/AssertNot` offenses for newly added test files. Auto correcting these files causes test failures. I do not know how to address them then just let me open an issue.

### Steps to reproduce

[code]

### Expected behavior
It should pass.

### Actual behavior

It reports these `NoMethodError`
[code]

[2018-04-25 11:32] yahonda commented on #32720
I'd like to get some feedback from @koic and @composerinteralia

[2018-04-25 11:34] yahonda commented on #32720
https://github.com/yahonda/rails/commit/63cc2e900e6fbaedcc3ab68b1afbecf61475083e is the commit for this issue.

[2018-04-25 11:39] y-yagi commented on #32720
Arel uses Minitest directly for testing. `assert_not_xx` is an assertion method that Rails has defined independently, so it is an error because it is not defined in Minitest.
What happens when you include `ActiveSupport::Testing::Assertions` with `Arel::Test`?

[2018-04-25 12:01] felixletkemann commented on #24092
I have got a very similar issue - it might even be the same.
When I use "Simple Web Socket Client" (Chrome Extension) to communicate with ActionCable.
When I use the following JSON, I get the error mentioned above.
`{"command":"subscribe","identifier": {"channel":"CoapChannel"} }`

`Could not execute command from ({"command"=>"subscribe", "identifier"=>{"channel"=>"CoapChannel"}}) [TypeError - no

[2018-04-25 12:37] yahonda commented on #32720
Thanks for the advice. I have changed as suggested first then 3 errors have been addressed. 5 remains. `test/cases/arel/nodes/binary_test.rb` causes 2 errors and other test files cause 1 error per file.

Since these file namespaces are not straightforward (for me).

* `Arel::Nodes`

[code]

* `Arel::Nodes::TestSelectCore < Arel::Test`
[code]

* `Arel::SelectManagerTest < Arel::Spec`
[code]

[2018-04-25 12:38] composerinteralia commented on #32720
Yeah, that seems right. Since arel is part of rails now it would be great it if could follow similar testing patterns. That would mean inheriting from `ActiveSupport::TestCase` instead of `Minitest::Test` directly.

The only thing I am not sure how to deal with is that arel uses spec-style, inheriting from `Minitest::Spec` (https://github.com/rails/rails/blob/master/activerecord/test/cases/arel/he

[2018-04-25 12:44] yahonda commented on #32720
I'm inclined to change Arel test cases to inherit from `ActiveSupport::TestCase`. and yes. some Arel test case use `Minitest::Spec`.

Let me have some more time to tackle this. Daniel,  If I need your help I'll ping you.

[2018-04-25 13:17] MmKolodziej commented on #27299
I do not understand why this is considered not an issue. It obviously is, it is super surprising that tasks ran in `development` environment try to touch the test database at all.

Just hit a wall when trying to get a correct docker-compose with MySQL and a non-root user, where only one MYSQL_DATABASE can be specified at a time.

Thanks for fighting the good fight @ioquatix .

[2018-04-25 13:26] yahonda commented on #32720
`take#test_0003_removes LIMIT when nil is passed:` error has been addressed.

[2018-04-25 13:44] yahonda commented on #32720
Now all tests are green now. I've got to know what is needed. Will investigate more.

[2018-04-25 13:46] yahonda commented on #32720
Here are commits made. https://github.com/yahonda/rails/compare/c81a7fcf76663e6d189792d6eed57b1162199635...apply_cops_for_arel

[2018-04-25 14:07] eileencodes commented on #32714
Hey @ericandrewlewis thanks for the report!

If you're outside of a Rails project the filesystem only knows about the `rails` command. It doesn't know whether you're trying to run `generate` or something else, it just knows that it's not in a Rails app and the only command it has is `new`.

I don't think this is something that we could easily change since the binstubs for commands like `generate`

[2018-04-25 14:07] #32714 closed

[2018-04-25 15:01] codez opened #32722 "Regression in preloading :through associations with scope in 5.2.0"
### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]
Without the custom scope `Phone.all` as last argument, the association is populated correctly.

The issue appears because the `phones` association on the `company` is reset here: https://github.com/rails/rails/blob/c81a7fcf76663e6d189792d6eed57b1162199635/activerecord/lib/active_record/associations/preloader

[2018-04-25 15:54] damon-davison opened #32723 "Missing docs for Arel since it has been merged"
Since Arel has been merged into Rails, the docs that were in:

https://github.com/rails/arel/blob/e6ff32c6b2698ef9f2d5a9832f08d3683d5116ee/README.md

are no longer linked from the Arel tree and you have to go hunt for them. If it were me, I'd just stick the above README in

https://github.com/rails/rails/tree/master/activerecord/lib/arel/

but I imagine there is an existing organizing principal I'

[2018-04-25 18:55] Schwad opened #32726 "(erb):2:in `concat': can't modify frozen String (RuntimeError) when using Scaffold Generator"
### Steps to reproduce

Not sure what this is coming from, but experiencing this error running a scaffold on a greenfield up-to-date Rails application. Thanks all for your thoughts!

[Fork this application](https://github.com/Schwad/public_spending_gateway)

Run `rails generate scaffold MyTestScaffold body:text number:integer test_two:string`

Receive the following output of the break:

### Backtr

[2018-04-25 22:16] y-yagi commented on #32718
We do not offer the feature for that.
I think that can correspond by manually saving the contents of credentials as a temporary file and setting up credentials again.
Anyway, this is a feature request.

Please use the [Rails Core mailing list](https://groups.google.com/forum/#!forum/rubyonrails-core) for feature requests, where a wider community will be able to help you. We reserve the Rails issue