[2016-04-27 21:09] ctilley83 commented on #24757
It might take me a day.  This is from a production app I'm writing.  I'll write a simple one soon.

[2016-04-27 21:41] luisobo commented on #24717
@vipulnsward re: hm:t I fails with the same error, see example and error below.

re: `Tweet.joins(:retweeters).where(retweets: {user_id:u2.id})` yep, that works, with both habtm and hm:t. The downside is that it exposes implementation details of the association at query time, namely, the name of the join table and the name of the fk column. It's sad because rails has all that info :(

The way I se

[2016-04-27 21:49] jingweno commented on #12330
https://github.com/rails/rails/commit/50c53340824de2a8000fd2d5551cbce2603dc34a is currently in v5.0.0.beta4 fwiw.

[2016-04-27 22:57] samphilipd commented on #12330
@sgrif request that we close this issue?

[2016-04-27 23:00] sgrif commented on #12330
In the future you can mention the issue in your PR to close it automatically when your PR is merged.

[2016-04-27 23:00] sgrif commented on #12330
Fixed by #22170

[2016-04-27 23:00] #12330 closed

[2016-04-27 23:48] urimaro commented on #24749
@Bijendra
Thanks.
After your reply, I thought that gems which have already installed are used.
So you suggested `gem install mime-types -v 2.6.2`.
But it didn't make it.
Hmm..
The reason why v2.6.2 wasn't used is the newer gem may have remained..
Anyway, thanks for your helping.

[2016-04-28 03:15] kayakyakr opened #24763 "Send array over ActionCable channel"
### Problem

This has never worked: if you want to send an array back to the default receive method of a channel, you wind up throwing a cannot convert to int error.

#### Channel

[code]

#### Client
[code]

The error is `[TypeError - no implicit conversion of String into Integer]: /lib/action_cable/channel/base.rb:230`

### Proposed fix

[code]

Clean up how you like, this was quick-and-dirty mo

[2016-04-28 03:57] rafaelfranca commented on #24754
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-28 03:57] #24754 closed

[2016-04-28 08:34] #24530 closed

[2016-04-28 10:15] Erol commented on #24758
Might be related to #24527.

[2016-04-28 13:14] vipulnsward commented on #24763
Would you like to convert this to a PR, and add tests to it?

[2016-04-28 13:20] KKirad opened #24768 "Timeout parameter not working for oracle database"
Below is the configuration in the database.yml file:
development:
  adapter: oracle_enhanced
  host: 10.10.10.58
  port: 1521
  database: TUTSDB
  username: tutsadmin
  password: Tuts1234
  encoding: utf8
  timeout: 15000

**Rails version**: 4.2.5
**Ruby version** :  ruby 2.0.0p648

**Actual Result** :
We get the below error:
**(ActiveRecord::ConnectionTimeoutError) "could not obtain a database co

[2016-04-28 14:18] piccio commented on #23739
I've resolved specifying a custom column name, eg. `:project_ownerships_count` instead of `:projects_count`

**models:**
[code]
**test:** (with MiniTest)
[code]

[2016-04-28 15:07] kayakyakr commented on #24763
I'll see if I can carve out a bit of time to do a PR.

[2016-04-28 15:25] waghanza opened #24771 "Migration on several databases"
Hi,

I'm using `rails` **5** and a multi-database model.

+ database for acl
+ main database

I want to setup my acl database with `devise`.

There is my migration

[code]

In **acl** database, I have

[code]

In **main** database, I have

[code]

After my first migration,

[code]

I have

[code]

I do not understand this behavior since I manually open an other database

Has someone already create

[2016-04-28 15:38] Vivid commented on #23997
Hi all! I've stumbled upon a similar problem - not sure if I have to report it as a separate issue.

In short: when submitting multipart form data with hash that has an element with blank value (i.e. blank text field of a form), it doesn't appear in params (the key is missing). When submitting the same form not as a multipart form data, the field presents in the hash (which is a correct behavior).

[2016-04-28 15:48] Vivid commented on #23997
Update: after switching to use rack version from the master test passes, so pls ignore it :)

[2016-04-28 16:33] Joshfindit opened #24774 "Rails 5.0.0.beta4 - Cannot customize scaffold templates"
### Steps to reproduce

Either:
* create templates at `lib/templates/erb/scaffold/` (this location is suggested elsewhere and works pre-5)
* modify or replace the templates at `<GEM LOCATION>/gems/railties-5.0.0.beta4/lib/rails/generators/erb/scaffold/templates`

Then run `rails generate scaffold Class name:string`

### Expected behaviour
Rails generates the Models, Views, Controllers, etc based o

[2016-04-28 17:27] yahonda opened #24775 "bound_attributes needs support to change limit and offset orders"
### Steps to reproduce
* Update Gemfile to support https://github.com/rails/arel/pull/422
[code]
* Execute this ActiveRecord unit test
[code]

### Expected behavior
This unit test should finish successfully.

### Actual behavior
Got an failure as shown above.

This is due to incorrect bind value order for Oracle database. Taking a look at `debug.log` for this sql statement, showing  `OFFSET :a1 RO

[2016-04-28 19:06] maclover7 commented on #24763
Can you post more of the backtrace for the error? This would help to aid in figuring out what is causing this bug. :)

[2016-04-28 19:08] maclover7 commented on #24775
Do any of the other databases (MySQL, SQLite3) have errors if you change the behavior?

[2016-04-28 19:18] maclover7 commented on #24771
There's already a discussion at #14176 about this.

[2016-04-28 19:23] maclover7 commented on #24768
Can you please provide a sample application that replicates the error you are seeing?

Also, it might be better to file an issue with the adapter you are using with your application.

[2016-04-28 19:24] vipulnsward commented on #24774
Can you create a sample App demonstrating this behaviour?

[2016-04-28 19:24] TikiTDO commented on #24028
@jeremy I actually played with that idea when I was investigating the issue, but as per my comment above that would not resolve the problem. This deadlock can happen between sibling threads, as per my example [here](https://github.com/TikiTDO/rails_issue_24028).

Worse, this sort of use case with sibling threads can be at the mercy of the thread scheduler, leading to inconsistent behavior based on

[2016-04-28 19:43] yahonda commented on #24775
Unfortunately it causes failure for all bundled adapters, sqlite3, mysql2 and postgresql all failures are same.
Here is the output of postgresql adapter test result including the sql statement executed.
[code]

[code]

PostgreSQL (and all other bundled adapter databases) expectes `limit` comes first, then `offset` but bind value orders are not.

[2016-04-28 19:51] vipulnsward commented on #24717
Ref: https://github.com/rails/rails/commit/6a6c4c459106e2d9b76dd1233133a2bf30866ab0

[2016-04-28 20:01] maclover7 commented on #24775
Hmm, I'd say that it would be better for the Oracle adapter to adopt to the way things are right now -- rather have one broken adapter than have all of Active Record's in tree adapters broken. Marking this as `needs feedback`

[2016-04-28 20:04] sgrif commented on #24775
Lol a 20 year old RBDMS is not going to change its SQL syntax to support Rails. This is a bug we need to address. I am currently packing up my house and moving but I will deal with this during RailsConf.

[2016-04-28 20:06] yahonda commented on #24775
Thanks for the feedback. I'm also attending RailsConf!

[2016-04-28 20:12] urkle opened #24778 "code in test_case messes up encoding of hashes in routes if that hash is set as a defaults option on the route."
### Steps to reproduce
in routes.rb
[code]
in controller spec
[code]

### Expected behavior
The test to pass

### Actual behavior
The code blows up in our controller code when params[:filters][*anything*] is accessed..
Reason?  the params[:filters] is set to a string of "show_notes=1&organization[0]=1&projects[0]=1&users[0]=1"
Why? Because of code in action_controller/test_case.rb runs the paramet

[2016-04-28 20:19] sgrif commented on #24775
/cc @metaskills does this affect making fetch happen?

[2016-04-28 20:39] Joshfindit commented on #24774
Alright; I have a feeling that this was a reasonable request designed to uncover the root of the problem.

I spun up a fresh machine, installed rails, copied the templates to `lib/templates/erb/scaffold/`, and ran `rails generate scaffold Class name:string`, and it worked; changes were carried through to the generated view.

What troubleshooting steps are suggested to track this down on the machin

[2016-04-28 20:52] rafaelfranca commented on #24774
If you are using spring try to stop spring after the template is added.

Closing since it can't be reproduced in a new application.

[2016-04-28 20:52] #24774 closed

[2016-04-28 21:21] maclover7 commented on #24778
Looking into.

[2016-04-28 21:36] maclover7 commented on #24778
- Reproduction steps --> https://gist.github.com/maclover7/b59d17ad0758c94d0ac1f734b105d755
- I think this could have to do with a Rack/Rails nested parameters bug that has already been reported -- #23997

[2016-04-28 21:41] rafaelfranca commented on #24768
Rails don't have support to oracle out of the box. You should open an issue in the activerecord-oracle_enhanced-adapter gem.

[2016-04-28 21:41] #24768 closed

[2016-04-28 21:45] urkle commented on #24778
@maclover7 thanks for building up a test case file.  And that bug does not look the same.. As this code works perfectly find in the actual application. As we've had it like this for over 2 years.    The only issue is purely in the test environment, the test rig botches up the parameters after we upgrade to rails 4.2. as it fetches a list of "extra" parameter keys and "filters" is not seen as an ex

[2016-04-28 21:49] yahonda opened #24779 "ORA-01036 since Oracle does not allow `select for update` with `fetch first n rows only`"
### Steps to reproduce
* Update Gemfile to support https://github.com/rails/arel/pull/422
[code]
* Execute this ActiveRecord unit test
[code]

### Expected behavior
This unit test should finish successfully.

### Actual behavior
Got an error as shown above.  This is due to it is trying to bind two bind values ` [["id", 1], ["LIMIT", 1]]` for one bind value `:a1`.

- Oracle
[code]

Oracle database

[2016-04-28 23:28] metaskills commented on #24775
Hey Sean, thanks for asking!

I've yet to start the Rails 5 work so not too sure so I just did a grok of 574f255 and this pull request. I do think we would have hit the same issue since our windowing is with the same SQL and hence we OFFSET and LIMIT. Should we just implement `bound_attributes` in our adapters and call `super.reverse`?

[2016-04-29 01:07] Joshfindit commented on #24774
Disabled spring, restarted, and it now works as expected.

Cheers

[2016-04-29 13:25] almnes opened #24784 "ActionCable beta4 stops stream and creates it again on refresh"

[2016-04-29 14:42] vipulnsward commented on #24784
This worked on  5.0.0beta3 ?

[2016-04-29 14:59] vipulnsward commented on #24748
`Rails.application.config.active_job.queue_adapter` is a class attribute on AJ. Its ok to override it(In fact we have a feature to allow to do so on every class.).

Allowing this for `Time.zone_default` is going to be problematic. Imagine this flow:
- We do/don't set `Time.zone_default` as is right now(before initializers).
- Some user or internal initializer uses some time zone config.
- Some oth

[2016-04-29 15:12] noryus opened #24785 "Column name not correctly escaped when grouping"
### Steps to reproduce
Create a model Customer with an attribute 'from' of type string.
You can't perform Customer.group(:from).count

### Expected behavior
It should not raise an error (even if from is a reserved SQL word).

### Actual behavior
It raise an error. The reason is  it does not escape correctly the column name:
SELECT COUNT(customers.\`from\`) AS count_customers_from, **from AS from**

[2016-04-29 16:08] #24784 closed

[2016-04-29 17:10] sevaorlov commented on #24758
@Erol, thanks, seems it is a duplicate, so I'll close it

[2016-04-29 17:10] #24758 closed

[2016-04-29 17:26] sevaorlov commented on #24527
the problem is here https://github.com/rails/rails/blob/master/activerecord/lib/active_record/reflection.rb#L586

`#can_find_inverse_of_automatically?` is false for associations with `:foreign_key` and that is on some purpose

workaround is to set `inverse_of` for associations with `:foreign_key`

[2016-04-29 18:13] sevaorlov commented on #24527
I think it can be refactored to support it, I'll have a look

[2016-04-29 19:36] maclover7 commented on #24785
Looks like the problem is fixed on master, but broken on 4-2-stable, via [this reproduction script](https://gist.github.com/maclover7/60e3fc71259174445f875f5dba95c698). Not sure if we want to find the commit that fixes this, and then backport it...

Assigning to @sgrif so he doesn't forget about this while he's moving :)

r? @sgrif

[2016-04-29 20:16] jeremy commented on #24771
If you want to track schema_migrations separately for your acl schema, you'll need to manage the migrations yourself. Check out #14176 for some approaches to take.

[2016-04-29 20:16] #24771 closed

[2016-04-29 20:36] jeffperrin commented on #24740
The main repo (and readme) for Turbolinks is located here: https://github.com/turbolinks/turbolinks

I'm fairly sure that server side partial replacement is *not* in turbolinks 5, which is included with the rails 5 betas.

[2016-04-29 20:44] fellz opened #24789 "Rails 5 beta4. Can't start 2 servers actioncable and rails server."
Hi
Got this error "A server is already running" when trying to run **bin/cable** and **rails server**. I guess i can't run 2 versions of puma. Rails 5 beta4, Ruby 2.3.0, Ubuntu 14.04.

``` bin/cable ```

and then

[code]

[2016-04-29 20:50] vipulnsward commented on #24789
What are the contents of your `bin/cable`, something like https://github.com/rails/rails/tree/master/actioncable#running-the-cable-server ?

[2016-04-29 21:48] jeremy commented on #24740
https://github.com/turbolinks/turbolinks-rails/issues/7#issuecomment-215890158

(This is expected: using `turbolinks: false` in a redirect for an XHR request redirects the _XHR response_, not the browser.)

[2016-04-29 21:48] #24740 closed

[2016-04-29 21:50] jeremy commented on #24789
You're running the servers on the same port.

The cable server can run on the same server as your app now, so no need for separate servers in dev. Check it out: https://github.com/rails/rails/tree/master/actioncable#in-app

[2016-04-29 21:50] #24789 closed

[2016-04-29 21:51] jeremy commented on #24763
The message data is expected to be a JSON Object. Supporting Arrays would be welcome, too, but it's not a bug. PR + tests welcome to turn this into a full-fledged feature 😊

[2016-04-29 21:51] #24763 closed

[2016-04-29 21:57] jeremy commented on #23601
Sounds like spring isn't in your Gemfile so bundler doesn't know about it. If you're using spring installed as a system gem, you don't need to bundle exec it.

[2016-04-29 21:57] #23601 closed

[2016-04-29 21:57] kayakyakr commented on #24763
I expected it to accept valid JSON, not just a JSON object.

Never really called it a bug on my end, but will submit a PR for this if I can pull out some time this weekend.

[2016-04-29 21:59] jeremy commented on #22742
#23093

[2016-04-29 21:59] #22742 closed

[2016-04-29 22:01] jeremy commented on #22396
#24571

[2016-04-29 22:01] #22396 closed

[2016-04-29 22:17] jeremy commented on #24785
@maclover7 Which commit or PR fixed it on master? If it's a non-invasive bugfix, it's a candidate for 4-2-stable backport.

[2016-04-29 22:28] maclover7 commented on #24785
Wasn't able to find the commit / PR that fixed the bug -- git kept saying that it couldn't find a merge base :(

[2016-04-29 22:30] vipulnsward commented on #24785
This was fixed in https://github.com/rails/rails/pull/21950
We can backport: https://github.com/vipulnsward/rails/commit/c2d33c4abf01ec25b2d1528a7dae923aef5a30af

[2016-04-29 22:34] vipulnsward commented on #24785
Confirmed that https://gist.github.com/vipulnsward/b0c2bf8aec01512a8691b902e11fa618 fixes it.
@jeremy you would backport? Or a PR would do.

[2016-04-29 22:36] rplaurindo commented on #24378
@tomash ```link_for``` is a helper method. I going to update the post providing the minimal Rails app now.

[2016-04-29 22:40] rplaurindo commented on #24378
@sgrif that app is to you do make fork it?

[2016-04-29 23:13] jeremy commented on #24779
I think the bug is with #24775 silently dropping the limit. For one, it's not the query the user intends or expects, and for two, it's unaware of binds.

[2016-04-29 23:23] jeremy commented on #24763
Thanks @kayakyakr!

[2016-04-29 23:25] jeremy commented on #24785
Nice @vipulnsward. Backport PR against 4-2-stable sounds good, though we'll need to be careful not to introduce behavior changes beyond the intended fix.

[2016-04-30 00:02] jeremy commented on #24028
Nice exhibit, @TikiTDO. Thanks for writing that up!

[2016-04-30 01:32] rplaurindo commented on #24378
@sgrif i did a little [app](https://github.com/rplaurindo/nested_attributes_example) to example. Just to clone, to run ```bundle``` and after ```rails s```. Has no database.

[2016-04-30 05:06] mathieujobin commented on #23438
they have 10 open issues for rack 2.0.0 to be released...
maybe we should request an alpha2 tag ?

https://github.com/rack/rack/milestones/Rack%202.0

29 new commits to master since 2.0.0alpha

https://github.com/rack/rack/compare/2.0.0.alpha...master

[2016-04-30 06:35] fellz commented on #24789
@vipulnsward Yep i took cable config there.

[code]

[2016-04-30 06:37] vipulnsward commented on #24789
@fellz I believe as Jeremy mentioned your config.ru has the same port.

[2016-04-30 06:39] fellz commented on #24789
@vipulnsward no, this is not the case

[code]

[2016-04-30 06:48] vipulnsward commented on #24789
Cool, can you create a sample application to recreate this issue?

[2016-04-30 06:55] fellz commented on #24789
nothing special here, ```rails new myapp```, make ```cable/config.ru``` and then cable in bin and problem still the same...

[2016-04-30 07:06] fellz commented on #24789
@vipulnsward if i run ```bundle exec puma -p 3000```
server is running after couple of restarts !

[code]

[2016-04-30 09:23] pik opened #24794 "Rails Server Segfaults when running with ObjectSpace"
### Steps to reproduce
I'm running rails server with `objspace` to try and identify a memory leak. I have added the following to `config/environment.rb`:

[code]
I am then reloading the index page to force memory-allocations (which I suppose to leak -- but do not segfault without objectspace).

### Expected behavior
Rails Server not to segfault.

### Actual behavior
Rails Server segfaults the trac

[2016-04-30 12:04] prathamesh-sonpatki commented on #24794
Can you upload a sample application to Github which reproduces this issue?

[2016-04-30 13:16] mrkn opened #24796 "[nil].sum returns 0"
Is this intentional?
### Steps to reproduce

[code]
### Expected behavior

I don't have the idea what is expected, ideal behavior.
But `[nil].sum` raises TypeError on Ruby 2.4.

[code]
### Actual behavior

Returns 0.
### System configuration

**Rails version**: 151080a

**Ruby version**: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

[2016-04-30 13:39] al2o3cr commented on #24378
@rplaurindo I was able to reproduce the issue. It appears that whatever is between the last ERB tag inside `fields_for` and the end of the `fields_for` block winds up repeated & escaped.

However, I could make the bug disappear by removing the caching of the `FormBuilder` object in `form_parent`. I could also make the app fail completely by restarting the Rails server and then clicking "Add Ingred

[2016-04-30 13:56] vipulnsward commented on #24796
This is what we rely on and what ruby does
[code]
Since the end result is nil, we fallback to 0- https://github.com/vipulnsward/rails/commit/5241b97709c693f272d457abc9165e7d750330b3

@mrkn I am not sure if that is intentional though.

[2016-04-30 15:11] vedmant commented on #18398
Macbook Air, "Installing ri documentation for railties-4.2.6" takes forever, I thought it hung and was thinking of pressing ctr+c...

[2016-04-30 15:20] vipulnsward commented on #24796
@mrkn I see we behave differently for `inject` for `[nil]` and `sum`. In inject we just return as is, but with sum try to coerce, is that expected?

[code]

[2016-04-30 15:44] jeremy commented on #24794
See the C level backtrace information. Ruby did a GC during tracing and
segfaulted. Check out recent Ruby changelogs for bugfixes and search
bugs.ruby-lang.org for similar issues. (It's a Ruby bug, unrelated to Rails
or Sprockets.)
On Sat, Apr 30, 2016 at 05:04 प्रथमेश Sonpatki <notifications@github.com>
wrote:

[2016-04-30 16:09] mrkn commented on #24796
In Ruby 2.4, sum isn't identical to `inject(:+)` while AS's sum is identical to it.
So there some differences between them.

`[nil].sum` is one of them.

The other difference is the initial value effect.
Ruby 2.4's sum basically assumes numeric elements so the default initial value is 0.
In contrast, AS's sum uses the identity parameter only when the enumerable is empty.
I've posted a pull-request

[2016-04-30 16:16] mrkn commented on #24796
In other words, I want to fix this if it isn't the desired behavior.

[2016-04-30 16:35] vipulnsward commented on #24796
We don't have a specification for this. cc @jeremy

Ref: https://github.com/vipulnsward/rails/blob/7ad4690b2149fbb23faa179c21698b92ff383c73/activesupport/test/core_ext/enumerable_test.rb#L43-L58

[2016-04-30 16:57] tomkadwill commented on #24214
Looks like there hasn't been any activity on this issue for a while so I'm going to look into it. Will update soon, if I make any progress

[2016-04-30 18:13] alfie-max commented on #24748
@vipulnsward I get your point regarding the flow you described. But isn't that the case with all the other `config` ? I mean whatever is set in `application.rb` gets initialised before the ones specified in other `initializer` files (which there may or may not be more than once) and later on get overridden.

Which i believe happens here too with `Rails.application.config.time_zone`, as @zavan has

[2016-04-30 21:08] jeremy commented on #24789
Using the same pidfile, then? Troubleshooting your local config is tough without an exact reproduction of what you're doing, however simple it seems.

And again, you don't need to run a separate cable server for local dev.

[2016-04-30 22:29] rplaurindo commented on #24378
@al2o3cr you make me think. My implementation to dinamically render parts of a form (because of nested attributes in this case) was wrong. The solutions that you show to fix bug and the information about the object lifecycle show me that to use a static variable to persist the form object between requests isn't safe. I will change the implementation. I will create a different files to new and edit

[2016-04-30 23:35] mathieujobin commented on #24789
i noticed in beta1, `config/routes.rb` contain those lines commented out
[code]

and in the tutorial @dhh made, he uncommented it out.
but in beta4 those two lines are no longer present
and I tried without, and everything works...

so maybe they are no longer no necessary?
this may not be the issue here. but I thought about it when I saw the line above...

[2016-04-30 23:38] mathieujobin commented on #24789
@fellz see that line at the end of your description

`A server is already running. Check /home/goracio/code/rails/trambo/tmp/pids/server.pid.`

try running your 2nd one like this `rails s -p 3001 -P tmp/pids/server2.pid`

worked for me

[2016-04-30 23:47] mathieujobin commented on #24789
@fellz not sure why you wanted to do this. if you have 2 separate apps, or just wanted to run the same app twice. but out of curiosity, I wanted to give this a try. and specifying the pidfile was not enough... I had to make a copy of the app (or have a second app) and for some reason, on the second one, I am getting these lines repeatedly and the demo is not working.

[code]

[2016-05-01 01:13] jeremy commented on #24796
Great edge case. The `identity` fallback is meant to catch `[].sum`. Note that `[false].sum` is affected in the same way.

[2016-05-01 01:13] jeremy commented on #24796
#24795

[2016-05-01 01:29] jeremy commented on #24796
Oops! I see #24795 does not address this case.

Agree: behavior here is undefined. Expected behavior is `[nil].sum == nil` and `[false].sum == false`, matching `inject(:+)` results.

I think this is buggy, since `[single_element].sum == single_element` even when `!single_element.respond_to?(:+)`. If there are multiple elements, it would have raised NoMethodError.

[2016-05-01 04:14] #24794 closed

[2016-05-01 04:34] sgrif commented on #24796
Is this buggy? I think it's perfectly reasonable for this to match the behavior of `.inject(:+)`. If Ruby 2.4 provides a sum method, we can defer to that in the future.

[2016-05-01 04:39] sgrif commented on #24779
Will fix this along with #24775 once I get to Kansas.

[2016-05-01 04:50] #24183 closed

[2016-05-01 06:57] vipulnsward commented on #24796
I think we could handle it. Generally, in our Apps, someone would do `[].compact.sum` and not care about this nil.
But this condition would be only for a single element. (P.S: we have had this behaviour since 2006.)

[2016-05-01 07:09] vipulnsward commented on #24785
Closed by https://github.com/rails/rails/pull/24797

[2016-05-01 07:09] #24785 closed

[2016-05-01 10:25] fellz commented on #24789
Well really it is in beta4 ```rails s``` do the job no need to run **ActionCable** server

[2016-05-01 12:09] sevaorlov commented on #24527
Let me explain the problem better. Rails tries to find inverse association automatically when it is not set and automatic inverse associations are not found for associations with `foreign_key`, that is documented here http://guides.rubyonrails.org/association_basics.html#bi-directional-associations. So association is not set and validation fails because of it.
I'm trying to create a patch to suppo

[2016-05-01 13:01] mrkn opened #24804 "Array#sum is very slow"
AS's Array#sum is much slower than core's implementation.

### Steps to reproduce

[code]

### Expected behavior

Ruby 2.4 has Array#sum, so AS's implementation should be as fast as core's implementation.

### Actual behavior

AS's implementation is about 4x slower than core's implementation.

### System configuration

**Rails version**: a4b3c78

**Ruby version**: ruby 2.4.0dev (2016-04-30 trunk 5

[2016-05-01 14:36] maclover7 commented on #23265
Looks like this is solved by #24713?

[2016-05-01 22:56] egilburg commented on #24804
AFAIK it's a choice between performance and flexibility+backwards compatibleness, since AS `#sum` works on all enumerables, and on all arrays where each member responds to `:+` (e.g. Strings), while core `#sum` works only on integers/floats. Due to the nature of the problem, it's not even possible to have a core+fallback implementation, since that would require checking whether each item in the ar

[2016-05-02 01:36] jeremy commented on #24804
#24805

[2016-05-02 01:36] #24804 closed

[2016-05-02 05:24] pwnall opened #24808 "has_many collection proxy's build does not create the correct STI class when the type argument is a Class object in Rails 5.0.0.beta4"
This is a regression for 5.0.0.beta3. The test below fails on master and 5.0.0.beta4, and passes on 5.0.0.beta3.

### Test case

[code]

### System configuration
I ran the test in Ruby 2.2.4 and 2.3.0.

[2016-05-02 05:32] pwnall commented on #24808
I played around with the test a bit, and discovered that the test passes if the `type` argument is a `String` instead of the `Class` object. Concretely, the test below passes on 5.0.0.beta4 and edge.

[code]

[2016-05-02 08:22] vipulnsward commented on #24808
Ref: https://github.com/vipulnsward/rails/commit/3ea4476942d2ba5ddc0d3b2d1f3730455661b06a

[2016-05-02 08:37] vipulnsward commented on #24808
Can you post error trace on this? I am not able to reproduce this on master.

[2016-05-02 08:56] pwnall commented on #24808
[code]

[2016-05-02 09:03] vipulnsward commented on #24808
Thanks, let me see.

[2016-05-02 12:41] joanblake opened #24809 "AR::Calculations.count does not expand Arel attribute"
- Steps to reproduce
[code]
 - Expected behavior
[code]
 - System configuration

Rails version: 4.2.6
Ruby version: 2.3.1

There is also a question to the issue on [StackOverflow.com](http://stackoverflow.com/questions/36981884/arel-and-activerecords-count-throws-error) .

[2016-05-02 13:11] maclover7 commented on #24808
Ran a `git bisect`, this behavior is introduced by https://github.com/rails/rails/commit/78ea4c598547c46cdfcf71aa484782ac903a3040

[2016-05-02 14:40] yahonda commented on #24779
Opened https://github.com/rails/arel/pull/430 which changes Oracle12 behavior to raise an ArgumentError when limit and lock are used.

[code]
Once https://github.com/rails/arel/pull/422 and https://github.com/rails/arel/pull/430 are merged to Arel, the original issue reported will not happen.

[2016-05-02 14:49] jdantonio commented on #24627
c-r 1.0.2 has been released. It has the aforementioned fix.

[2016-05-02 15:31] cover opened #24811 "Rails 5 beta 4 stats includes tasks LOC twice"
When you run `rails stats` it counts the tasks under `libs` two times (once under `libs` and once under `tasks`), increasing the number of the actual lines of code
### Steps to reproduce

[code]
### Expected behavior

[code]
### Actual behavior

[code]
### System configuration

**Rails version**: 5 beta 4

**Ruby version**: 2.3.0

[2016-05-02 15:39] vipulnsward commented on #24811
Ref: https://github.com/vipulnsward/rails/commit/3e3f3563b826bc934448c9a6c25d940df4ba073a

[2016-05-02 15:43] ojab opened #24813 "`rails db:drop:all db:create:all db:migrate` w/ postgresql adapter runs db:migrate for production database"
### Steps to reproduce

$ rails new --edge test_app -d postgresql
$ cd test_app
$ bundle exec rails db:drop:all db:create:all db:migrate ; echo '\d+' | rails dbconsole

### Expected behavior

development DB is migrated
### Actual behavior

production DB is migrated

With sqlite3 adapter rails correctly migrates development DB.

[2016-05-02 15:45] vipulnsward commented on #24813
Are you seeing this is on master?

[2016-05-02 16:07] kblanks opened #24815 "5.0.0.beta4 – Failing version check"
I'm using RVM 1.26.11 (latest) on OS X. As you can see from the screenshot, my Ruby version is up to date.

![evidence](https://i.imgur.com/2G9h8Ub.png)

[2016-05-02 16:10] ojab commented on #24813
Yes, tested on master.

[2016-05-02 16:14] kblanks commented on #24815
Looks like the version that Rails is reporting is my system version – could Rails be running on that version?

![system 2.0.0p648](https://i.imgur.com/W8lGLZu.png)

[2016-05-02 16:16] kblanks commented on #24815
Well, looks like this is a self-closing issue. The Rails executable is using the system's bundled Ruby version.

![/usr/local/bin/rails](https://i.imgur.com/fuQ5QkQ.png)

[2016-05-02 16:16] #24815 closed

[2016-05-02 17:57] paulmenzel opened #24816 "`select_tag` with `include_blank: true` generates invalid HTML"
In at least Rails 4.2.5.2, [select_tag](http://apidock.com/rails/ActionView/Helpers/FormTagHelper/select_tag) called with `include_blank: true` creates invalid HTML. From the documentation.

From the [HTML 5 specification](https://www.w3.org/TR/html5/forms.html#the-option-element).

So for a blank text of the option element is empty, the label attribute has to be set.

PS: There is an extension(?)

[2016-05-02 18:09] smathy commented on #24816
Make it `&nbsp;` instead.

[2016-05-02 18:19] fxn commented on #24748
In general, configuration specific to the application object needs to go either in _config/application.rb_ or in _config/environments/#{Rails.env}.rb_, you can't just assign to an arbitrary config point in _config/initializers_ and expect it to work.

Setting the time zone was one of the examples in the generated _config/application.rb_, but that was deleted in https://github.com/rails/rails/commi

[2016-05-02 18:19] #24748 closed

[2016-05-02 18:38] fellz commented on #24789
@jeremy Hi, do we need to write config.ru for ActionCable ? or how ActionCable works without explicitly running bin/cable ?

[2016-05-02 18:41] paulmenzel commented on #24816
Should the option `true` be deprecated then, and the documentation be updated to use `include_blank: "&nbsp;"`?

[2016-05-02 18:58] Fuledbyramen commented on #18660
Just got this and changed "application_helper.rb"
to "application_helper.rb_helper.rb"
in my app/helpers folder and it works

[2016-05-02 19:05] smathy commented on #24816
That'd make it the same as the existing `:prompt` option then.

[2016-05-02 19:25] maclover7 commented on #24809
Arel is private / internal API, and should not be used by end users 😬

[2016-05-02 19:25] #24809 closed

[2016-05-02 19:59] mathieujobin opened #24817 "beta4 fails to upgrade websocket when running on a different port than 3000"
### Steps to reproduce

run rails 5.0 beta4 on a different port

i tried 3333 and 3001, works fine using 3000

* rails s -p 3333
* visit the app

### Expected behavior

/cable/ websocket should work
Started GET "/cable" for ::1 at 2016-05-02 15:56:21 -0400
Started GET "/cable/" [WebSocket] for ::1 at 2016-05-02 15:56:21 -0400
Successfully upgraded to WebSocket (REQUEST_METHOD: GET, HTTP_CONNECTION

[2016-05-02 20:02] aharpervc commented on #18660
FWIW, this was a problem for me in ruby 2.3.0, but not with 2.3.1... nearly all the same dependency versions including rails. Also, "use a mac" is a super dumb suggestion for a bugfix.

[2016-05-02 20:08] maclover7 commented on #24817
ActionCable's default server URL is `http://localhost:3000`, if the server is running in development. If you aren't using that URL for your application in development, you have to edit the configuration :)

https://github.com/rails/rails/blob/master/actioncable/lib/action_cable/engine.rb#L25

[2016-05-02 20:08] #24817 closed

[2016-05-02 20:18] joanblake commented on #24809
Weird decision close the issue and leave the bug unfixed, but each to his own.

Btw. there is a similar stalled bug report [#15138](https://github.com/rails/rails/issues/15138).

Good luck …

[2016-05-02 20:23] robmathews commented on #18660
No, it's not really a "super dumb suggestion", just a reflection of the
development community in Rails, at least here in Boston. You can denigrate
it, or realize it's just pragmatic advice unless you are one of those
stubborn souls who enjoys debugging obscure configuration and environment
issues alone with minimal help from the developer community. More power to
you if you are.

On Mon, May 2, 20

[2016-05-02 20:44] aharpervc commented on #18660
I spoke too soon, this regex is definitely not working as expected https://github.com/rails/rails/blob/4-0-stable/actionpack/lib/action_controller/metal/helpers.rb#L95

The regex literal matches okay in the debugger, but `extract` doesn't match. Probably something obvious I'm missing... not sure...

[2016-05-02 21:02] rosenfeld opened #24818 "can't require active_support/dependencies in beta 4"
### Steps to reproduce

bundle exec ruby -ractive_support/dependencies -e ''

### Expected behavior
should not fail

### Actual behavior
raises an exception

### System configuration
**Rails version**: 5.0.0.beta4
**Ruby version**: 2.3.1

[2016-05-02 21:06] derekprior commented on #24818
Specifically:

[code]

[2016-05-02 21:19] matthewd commented on #24818
You need to require `active_support` first.

[2016-05-02 21:19] #24818 closed

[2016-05-02 21:31] sirwolfgang opened #24819 "Rails console reload! does not eager load when told to"
### Steps to reproduce

Using the following STI class structure, with eager loading on.

[code]

[code]
### Expected behavior

The `reload!` command should of reloaded all of the eager loaded content.
### Actual behavior

The `reload!` command does not seem to reload all the eager loaded content.
### System configuration

**Rails version**: Rails 4.2.6
**Ruby version**: ruby 2.3.0p0 (2015-12-25 re

[2016-05-02 21:39] #24808 closed

[2016-05-02 21:47] aharpervc commented on #18660
Ah, that `extract` regex needs to be case insensitive. That seems to reliably fix the regex not matching when it ought.

[2016-05-02 21:55] maclover7 commented on #24819
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing? I think there are some configuration switches you have on, that we can't see :)

[2016-05-02 22:04] maclover7 commented on #15843
Opened PR #24820 to try and solve this :)

[2016-05-02 22:10] jeremy commented on #24627
Bumped to c-r 1.0.2 @ 06dc3fba4623a77e3cc7fa04f97723462d47bf1e

[2016-05-02 22:10] brianbroderick commented on #23975
This has been fixed on the JRuby side.

[2016-05-02 22:20] maclover7 commented on #23975
@brianbroderick Does this the bug does not exist anymore?

[2016-05-02 22:47] jeremy commented on #24789
@fellz Check out David's demo @ https://medium.com/@dhh/rails-5-action-cable-demo-8bba4ccfc55e for a full run-through. You can mount the cable server in your config/routes.rb.

@mathieujobin To run a cable server on a different host:port, you must add it to the list of allowed origins. These is a whitelist of `https://host:port` that are allowed to connect. When you see "Request origin not allowed

[2016-05-02 23:03] rosenfeld commented on #24818
@matthewd, someone told me once that this wasn't the case for activesupport. Did this change in version 5?

[2016-05-02 23:09] mathieujobin commented on #24817
thanks

[2016-05-03 00:12] mathieujobin commented on #24817
thanks @maclover7 that explains it.

[2016-05-03 00:36] rosenfeld commented on #24818
Nevermind, I'm checking the edge guides, which confirms this is now by design: http://edgeguides.rubyonrails.org/active_support_core_extensions.html

[2016-05-03 07:12] domcleal commented on #23265
It is solved, thanks for checking @maclover7.

[2016-05-03 07:12] #23265 closed

[2016-05-03 07:25] philippfrank opened #24826 "5.0.0.beta4 / actionpack - undefined method `symbol' for nil:NilClass"
I cannot fully reproduce this issue but I am seeing some errors with the following details:

**Error**
NoMethodError: undefined method `symbol' for nil:NilClass

Location
----------------
vendor/bundle/ruby/2.3.0/gems/actionpack-5.0.0.beta4/lib/action_dispatch/http/parameters.rb:63 - parse_formatted_parameters

[2016-05-03 07:29] philippfrank opened #24827 "5.0.0.beta4 / actionpack - undefined method `symbol' for nil:NilClass*"
I cannot fully reproduce this issue but I am seeing some errors with the following details after upgrading to Rails 5:

**Error**
[code]

**Location**
[code]

**Request details** (from bugsnag)

*Headers*

[code]

*Payload*

[code]

Sorry, but I cannot provide you with more details.

[2016-05-03 08:06] 1c7 opened #24828 "has_secure_password allow different name instead of password_digest ?"
I searched on Google, Stackoverflow and This Git Repo,
Can't find any document about this,
is this support by Rails? or its impossible to do by now?

(if I got grammar error please point out, help me improve, thank you!)

[2016-05-03 08:41] #24826 closed

[2016-05-03 08:42] philippfrank commented on #24826
Duplicate, sorry

[2016-05-03 09:19] zhengpd opened #24830 "Outdated doc in `Active Record Query Interface'"
The `2.3.1 Equality Conditions` doc in `Active Record Query Interface` page says:

But actually the symbols used in where conditions will be converted to strings for querying.

[2016-05-03 09:24] simonmorley commented on #22031
@Taytay Any chance you can share your Gemfile and versions. We've been systematically going through and removing each one to eliminate any external issues.

Our application is quite large and we're making slow progress tracking this down.

I just noticed the title of the post - we actually have during runtime, not just on startup.

[2016-05-03 09:33] Erol commented on #24828
Looking at `ActiveModel::SecurePassword`, it doesn't look like this is supported. If it's a worthy use case I think I can come up with a PR.

For the meantime, maybe you can try aliasing `password_digest` and `password_digest=`?

[2016-05-03 11:02] prathamesh-sonpatki commented on #24830
It does not seem so.

[code]

[2016-05-03 11:05] prathamesh-sonpatki commented on #24828
@1c7 Curious, but why do you need the name of the this attribute other than `password_digest`?

[2016-05-03 11:15] prathamesh-sonpatki commented on #24827
@philippfrank This is happening because content type is not set on the request. Do you know why it is not set?

[2016-05-03 11:21] philippfrank commented on #24827
@prathamesh-sonpatki, thanks! I don't know why not, probably a browser thing. This code runs in production. I never saw a problem on Rails 4.

[2016-05-03 11:26] prathamesh-sonpatki commented on #24827
Investigating more why it is not working. A lot of things have changed related to params parsers in Rails 5.

[2016-05-03 11:30] philippfrank commented on #24827
@prathamesh-sonpatki Thanks

[2016-05-03 11:49] 1c7 commented on #24828
@prathamesh-sonpatki
I am ok with the name "password_digest"
I am not insist using some other name, like "pwd" or something
I just want know if it is possible to use other name.

@Erol
aliasing?  how?  I just start leaning Rails.

[2016-05-03 11:58] prathamesh-sonpatki commented on #24828
Thanks @1c7 for clarifying!  It is not supported as of now.

We reserve the issue tracker for bug reports only. The change in the name of attribute is sort of a feature request and should be discussed on rubyonrails core mailing list.

Also regarding questions about aliasing, I think you will get lot of help on Stackoverflow and such tools.

Thanks again 💚

[2016-05-03 11:58] #24828 closed

[2016-05-03 12:51] 1c7 commented on #24828
@prathamesh-sonpatki  Thank you!

[2016-05-03 12:58] robmathews commented on #18660
Depends on the file system. If the file system is case insensitive, then
yes. But if it is case sensitive, then that would be a bug.

OSX can be either  - here's a reference
http://apple.stackexchange.com/questions/71357/how-to-check-if-my-hd-is-case-sensitive-or-not

And I think if you read the original checkin/issue comment, it was exactly
around fixing that for case sensitive file systems.

On

[2016-05-03 14:11] aharpervc commented on #18660
I agree the return result from this method should preserve the original case of the helper. However, the regex test to match whether a file is a helper should not be case sensitive regardless of file system. Otherwise it will fail to match valid helpers when the left part of the path differs in case. This is the behavior described in this thread. Even worse, the failure mode is to return the whole

[2016-05-03 14:30] zhengpd commented on #24830
I saw the doc at http://guides.rubyonrails.org/active_record_querying.html#hash-conditions , which is for v4.2.6 right now.

[code]

[2016-05-03 17:04] arktisklada commented on #24627
Thanks for the hard work on this fix!  I see it's been folded into the Rails 5 release, but with a similar upgrade to c-r 1.0.2 with Rails 4.2, I'm still experiencing the same issue.  Any guidance?

[2016-05-03 17:04] djvs commented on #24367
+1 for what francesco said, current solution is unacceptable for PostgreSQL -  see https://github.com/influitive/apartment/issues/300#issuecomment-193303974

[2016-05-03 17:08] sgrif commented on #24367
Maybe look at what the code is doing on master before chiming in on an issue closed over a month ago? https://github.com/rails/rails/commit/714ab8cb5976587470c8487720094c1efb2ba9a2
https://github.com/rails/rails/commit/7fd72fa4b779c812c98cfb748287554ba5090f6b

[2016-05-03 17:26] jeremy commented on #24627
Guidance: troubleshooting continues 😊 We're doing s bit of shadow boxing
here, tackling possible sources of concurrent iteration. If you're still
seeing it, then we've missed one.
On Tue, May 3, 2016 at 12:04 Clayton Liggitt <notifications@github.com>
wrote:

[2016-05-03 19:18] rafaelfranca commented on #24627
@arktisklada if you are talking about the sprockets issue, it is not related to this one.

[2016-05-03 19:31] thedarkone commented on #24627
@rafaelfranca thank you ❤️! I just spent an hour digging through MRI's `hash.c` (didn't find anything new).

@arktisklada rails/sprockets#242 has nothing to do with this issue or `concurrent-ruby`. As per backtrace, are you seeing errors from sprockets or Rails?

[2016-05-03 19:33] rafaelfranca commented on #24818
It always had the case, but maybe it worked by luck before. To use any Rails framework the top level file needs to be required first. We use this pattern to define common requirements and not having to duplicate all requires in the top of each files.

[2016-05-03 20:18] tarasmatsyk commented on #12805
added pull request. The fix was easy :)

@robin850, your failing gist helped a lot!

[2016-05-03 20:28] arktisklada commented on #24627
@thedarkone & @rafaelfranca you're absolutely right, it's the exact same error message but a different backtrace.  It's from Sprockets, and will continue the dialog there.

[2016-05-03 22:24] joegiralt commented on #14696
I'm not sure if this is still stale but i'm also having this issue
[code]
the SQL is then executed
[code]
and then the wrong sql string query is generated
[code]
It's my understanding that calling `.sql` on a  a ActiveRecord query shouldn't execute. I only have this problem when I use `eager_load`

[2016-05-04 02:14] samphilipd commented on #22358
This is getting stale, but I'm still seeing it on latest master. Not sure what the blocker is on my PR that fixes this.

[2016-05-04 02:21] maclover7 commented on #22358
@samphilipd There are over 500 PRs open on Rails (and about 400 issues), so that's a lot to be managing and coordinating, no less as a free OSS project :)

[2016-05-04 02:26] samphilipd commented on #22358
@maclover7 understood man. What can I do to help?

[2016-05-04 02:33] djvs opened #24841 "ActionCable JS: Uncaught TypeError: Cannot read property 'received' of undefinedActionCable.Subscriptions.Subscriptions.notify"
### Steps to reproduce
1) Mount ActionCable in Rails 5 app on Rails server at /cable, port 3000 on development
2) Run independent Node frontend app at port 8080 (could be anything I imagine)
3) Include any version of action-cable/actioncable.js (bower or node npm - written 5 to 2 months ago - presumably issue has not changed since hten) in frontend app
4) Call `cable = ActionCable.createConsumer('

[2016-05-04 02:40] maclover7 commented on #22358
At this point, patience is the most important thing, and just to sit tight. There's a ton of PRs and issues to review and go over. :)

[2016-05-04 02:42] maclover7 commented on #24841
I believe the only official Action Cable JS library that is out there is via the `actioncable` gem itself (don't use any third party libraries -- no guaranteed compatibility, and they aren't supported by the Rails team). Try again using the official JS library, and let me know how it goes?

[2016-05-04 02:44] devnut opened #24842 "incorrect utf-8 being serialized for 1F4A1 and perhaps others"
### Steps to reproduce
hash = {'str' => '💡'}
hash['str'].bytes do |b|
  puts "#{b.to_s(16)}\n"
end
f0
9f
92
a1

...This is correct so far, but then it does something unexpected:

2.1.1 :134 > hash['str'].to_json
 => "\"\\uf4a1\""

This does not appear to be correct.  It is code 1F4A1, perhaps that is what is intended?

### Expected behavior

Should return the lightbulb utf-8 character.

### Actual

[2016-05-04 03:01] djvs commented on #24841
The bower/npm libs are just repacks of the official action-cable - different authors, 3 months apart, same issue.  I can compile this whole tree with Sprockets if I really have to, but it's turning into a real pain:

https://github.com/rails/rails/tree/master/actioncable/app/assets/javascripts

[2016-05-04 03:22] jeremy commented on #24841
Lots has changed in the last three months, @djvs. Are the npm/bower packages automated? They'll drift quickly if not, considering Action Cable is under active dev.

Please give it a shot with current JS.

[2016-05-04 03:27] djvs commented on #24841
Go figure, it works.

[2016-05-04 03:27] #24841 closed

[2016-05-04 06:21] prrrnd opened #24846 "before_action callbacks and controller inheritance"
### Steps to reproduce

I have the two controllers as shown below;
[code]

### Expected behavior
@account to be set before Admin::MembersController#show

### Actual behavior
undefined method `set_account' for #<Admin::MembersController:0x007f984420f3d0>

### Full trace
[code]
### System configuration
**Rails version**: 4.2.5.1

**Ruby version**: 2.2.3

[2016-05-04 06:23] sevenseacat commented on #24846
seeing the entire code of that `Admin::BaseController` would be a great help here, because that should work fine

[2016-05-04 06:32] prrrnd commented on #24846
@sevenseacat I cannot share the entire code here, but the code below still throws the same exception.

[code]

`:authenticate_admin!` from devise works fine though.

[2016-05-04 10:02] fredmcgroarty commented on #22794
I'm having the same issue. Removing 'rails-controller-testing' gem fixes the issue with 'polymorphic_path', but obviously 'rails-controller-testing' is needed for controller specs.

[2016-05-04 11:26] Erol commented on #24846
I can confirm this is happening on master with the following code:

[code]

[2016-05-04 12:16] avatsaev commented on #24028
Is there a potential fix? It's the last blocker, would be nice to go RC already

[2016-05-04 13:01] ayb commented on #18519
This is still a real problem and is not working for me in Rails 4.2.6

`MyMailer.my_action(Time.now).deliver_later` yields an error `ActiveJob::SerializationError: Unsupported argument type: Time`

[2016-05-04 13:53] jbodah commented on #21146
This explains things. Also explains why I was getting constant redefinition errors (eager loading `lib` and some lib files call `require` on other files, so those files would get `load`'ed twice)

[2016-05-04 13:53] #21146 closed

[2016-05-04 13:57] josercruz01 opened #24848 "Preloader gives undefined method `each' for nil:NilClass"
I'm hitting this error randomly on production, but the cause is a bit obscure. Below I add a detailed debugging information as to what's failing, but can't figure out why.
### Similar issues

First I should mention that I looked if this was related https://github.com/rails/rails/issues/19891 but after reading it and going over the code it seems that it's not the same underlying cause. In that Gith

[2016-05-04 14:50] vipulnsward commented on #24842
This works as expected on master. Going to give it a close.
[code]

@devnut Thanks for reporting.

[2016-05-04 14:50] #24842 closed

[2016-05-04 15:03] vipulnsward commented on #24846
I am not able to reproduce this on master- https://gist.github.com/vipulnsward/5488d33b4395cbfa3c729ce67b2692a8

@prrrnd can you check above script to see, if I have missed something that's different from your case?

[2016-05-04 15:23] vipulnsward commented on #24848
@josercruz01 Do you happen to log queries, before this, during the request?
What are differences between them?
I know its hard to reproduce, but you can probably give it a try to reproduce with https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

[2016-05-04 15:24] TonyShuangYuan commented on #18822
I also encounter this issue in Rails 4.2.6,  Some times chrome hold refresh hotkeys for several minutes .After i hit keys in rails console(my rails runs as develop mode) the console display :"ERROR Errno::ECONNRESET: An existing connection was forcibly closed by the remote host..."

[2016-05-04 15:27] TikiTDO commented on #24028
I submitted a pull request with a potential fix above, but there has been no action or comments on it.

[2016-05-04 15:29] sgrif commented on #24028
It's on our radar. Everybody on the team is quite busy and there's a back log. Thank you for your patience

[2016-05-04 15:52] vipulnsward commented on #24830
This is intentional: https://github.com/activerecord-hackery/squeel/issues/67#issuecomment-5270896
Its not officially supported, and on master, actually leads to pass symbol, but strings on some previous versions.

[2016-05-04 15:52] #24830 closed

[2016-05-04 15:59] maclover7 commented on #19880
@rafaelfranca @tenderlove Do we want to try to work out a solution for this, in time for Rails 5.0? This is regression from 4.1 --> 4.2 😬

[2016-05-04 16:59] vipulnsward commented on #24827
@philippfrank did you see this on Rails5 beta3 or before ? Or you directly upgrade to beta4.

[2016-05-04 17:26] vipulnsward commented on #24813
Hmm, actually we don't migrate anything here. Let me see what causes this.

[2016-05-04 18:05] prrrnd commented on #24846
@vipulnsward Thanks for looking into it.
From the script above, I see two notable differences. One is the namespace, `Admin::`, the other is the parent controller inheritance. My `Admin::BaseController` inherits from an `ApplicationController`, which inherits from  `ActionController::Base`
Not sure how these two could affect this, but it's probably worth pointing out.
I'll try on a new rails app w

[2016-05-04 20:45] maclover7 commented on #15843
Fixed via #24820.

[2016-05-04 20:45] #15843 closed

[2016-05-05 02:50] devnut commented on #24842
Is there any chance we can have whatever fixed this back-ported into 3.2-stable?

[2016-05-05 06:15] Erol commented on #24846
The code below works for me on Rails 4.2.5.1:

[code]

Is this similar to yours @prrrnd?

[2016-05-05 10:32] MOZGIII opened #24857 "ActiveRecord reads `id` as `null` if table has no primary key"
### Steps to reproduce

1. Create a rails app with Rails 4.2 with PostgreSQL database.
2. Configure a PostgreSQL database and enable `uuid-ossp`.
2. Create a `books` table with `id` being a UUID. Create some records manually.
3. `rails g model book`
4. In `rails c`.
[code]

### Expected behavior
`b.id` to be equal to `bfaae356-3f40-7ffc-30cc-bf5d9c95ffab`

### Actual behavior
`b.id` is `null`
But

[2016-05-05 10:38] brianstorti commented on #24848
@vipulnsward Not sure how helpful this is, as I had to add a `reload` in the rails code to reproduce the issue, but maybe this can give some insight of what could be causing the problem.

The gist with the template: https://gist.github.com/brianstorti/a9b3121400f6d61f10ebcd91feadff65

And the rails change to trigger the failure (`sleep` added to simulate a Thread stop):
[code]

[2016-05-05 11:01] MOZGIII commented on #24857
Database dump (user `vagrant`, db `vagrant`):

[code]

[2016-05-05 11:02] MOZGIII commented on #24857
I assume this is because of some bug at the `Book#id` accessor that is generated by Active Record.

[2016-05-05 11:20] MOZGIII commented on #24857
I found this workaround:
[code]

[2016-05-05 11:32] MOZGIII commented on #24857
For those who need a better workaround:

Make your `ApplicationRecord` fix `primary_key` for all child models for you.
[code]

[2016-05-05 12:19] jeroenvisser101 opened #24858 "Caller location isn't accurate for `alias_method_chain` deprecation message"
### Steps to reproduce
[code]

### Expected behavior
It should tell the call came from the gem.

### Actual behavior
It tells it came from `core_ext/module/aliasing.rb`

### System configuration
**Rails version**: 2.3.1

**Ruby version**: 5.0.0.beta4

### Possible fix
[code]

[2016-05-05 12:33] philippfrank commented on #24827
@vipulnsward I saw it both on Rails5 beta3 to which I upgraded from Rails4 and on Rails5 beta4.

[2016-05-05 12:58] maclover7 commented on #24858
Can you provide more specific information about how to reproduce the bug you are seeing? I think this might be a third party issue with `meta-tags`.

[2016-05-05 13:03] jeroenvisser101 commented on #24858
@maclover7 It happens with other gems (`quiet-assets`) too, it's the deprecation warning for Rails 5's deprecation of the `alias_method_chain` method.

The deprecation message should say this: (note the location)

[code]

but instead it says:
[code]

[2016-05-05 13:12] maclover7 commented on #24857
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-05 13:14] maclover7 commented on #24858
👍 change makes sense to me. Please send in a PR if you would like to. :)

[2016-05-05 14:40] vipulnsward commented on #24813
So the issue here is that we have different handling of connections on PG adapter. When trying to run all of these in a single process, the schema is getting cached/non-standard on the connection, and is sometimes causing issues that the "users" table exists, etc. Will need to see how to uncache, and safely drop/create DB, till we reach here.

[2016-05-05 16:44] jrafanie opened #24863 "5.0.0.beta4 ActiveRecord references polymorphic: true creates schema with id/type column order swapped"
### Steps to reproduce

Given, you define a schema with a `t.references XXX, polymorphic: true`:
[code]

If you migrate your database on rails 5.0.0.beta4 vs. 4.0, 4.1, 4.2, the schemas, specifically, the column order, are different.

See [recreation gist here](https://gist.github.com/jrafanie/553e35f560c18ab0c80857b96f7bbde3).

It seems to be have been caused by this commit: d26704a15f88d384dd282

[2016-05-05 17:00] rafaelfranca commented on #24846
As we could not reproduce I'm closing this issue but please let us know if you find anything new or if you can isolate the root cause in an example application so we can take a look.

Thanks

[2016-05-05 17:00] #24846 closed

[2016-05-05 17:27] akozhemiakin opened #24864 "Bug in ActionDispatch::Integration::RequestHelpers"
https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/testing/integration.rb

I believe, this part of code is intended to check if the request args (if any) has only following keys: params, headers, env, xhr.

[code]

However, there are two problems with this code.

First one is with the *kwarg_request?* method itself. It returns true even if only one of the arguments is from t

[2016-05-05 18:35] xn commented on #18660
Ok, crossposting from #24821

So we have:

A) case sensitive systems
vs
B) case insensitive systems

::::
1) _path is cased differently than some result from Dir[]
vs
2) _path is cased the same as some result from Dir[]

::::

What we need to figure out is if we have a match based off of those situations.
A1 -> not a match
A2 -> match

B1 -> match
B2 -> match

::::

So how do you determine case se

[2016-05-05 19:29] maclover7 commented on #24863
👍 I think this may have been an unintended consequence. +1 for opening up a PR.

[2016-05-05 19:32] maclover7 commented on #24864
+1 for opening up a PR, these changes make sense to me.

@kaspth, if I remember correctly, were you working on some of the `as` stuff, as part of #23597?

[2016-05-05 19:53] aharpervc commented on #18660
This may also need to be addressed, I think it's possible for templates to be rejected incorrectly:
https://github.com/rails/rails/blob/master/actionview/lib/action_view/template/resolver.rb#L231

[code]

[2016-05-05 19:54] aharpervc commented on #18660
@xn clever.... I'll apply that approach locally & give it a try

[2016-05-05 19:57] MOZGIII commented on #24857
I don't think I will. I have a very limited amount of time.
Did some research, and now I recognise this problem was already reported, and is related to absence of primary key in the database table. I am actually using a database view, instead of a real table, and primary keys are simply not supported in my case. Though, that is a rare edge case, and there is a working workaround, so I don't think

[2016-05-05 19:57] #24857 closed

[2016-05-05 19:57] kaspth commented on #24864
Think the kw arg'ed version will blow up with an unknown keyword error when passed `foo`, so I don't think `all?` is needed.

We should add `as` to the kw arg list as you mention (and add a regression that a request purely using `as` is not deprecated). Nice catch! ❤️

[2016-05-05 20:41] xn commented on #18660
As far as `!File.fnmatch(query, filename, File::FNM_EXTGLOB)` goes, I can't see how that protects against case insensitive filesystems. As far as I understand it, `File::FNM_EXTGLOB` simply turns on parsing for this: `{a,b}`, I cannot imagine `query` to be written in such a way to accommodate that.

@tenderlove, I see you wrote that code here: https://github.com/rails/rails/commit/727ae97793906926

[2016-05-05 20:45] jrafanie commented on #24863
Thanks @maclover7, I'll try to find a place for a regression test and submit a PR.

[2016-05-05 20:48] rafaelfranca commented on #24863
@maclover7 yeah, it was not expected.

[2016-05-05 21:04] xn commented on #18660
@darrenbrett can you run this without errors?

[code]

[2016-05-05 22:05] jakehow commented on #22154
@arthurnn my PR above patches this in place (where the connection is currently being accessed directly during the request lifecycle), as making the connection lazy everywhere is probably a big project.

For anyone finding this, you can monkey patch QueryCache and Migration easily using the code in the PR in your application.rb right after requiring `active_record/railtie`

[2016-05-05 22:35] dhagerty9009 commented on #18660
@xn I ran the code you gave on my MacBook, OSX 10.10.5 with Ruby 2.3.1 and Rails 2.4.6. I only had an issue with `raise 'should return ["Foo"]' if Dir.glob('f?O') != ["Foo"]`.

[2016-05-05 22:40] jeremy commented on #24627
We're still seeing this a ~dozen times a day. Reopening pending 0 exceptions.

[2016-05-05 22:42] lucasmazza opened #24872 "Regression on 5.0.0.beta4 with JSONB fixtures"
While upgrading from beta3 to beta4 I found a possible regression on how data for `JSONB` columns is loaded from fixtures:

[code]

On beta4 / master the first fixture `props` attribute is inserted/accessed as a `String` instead of a `Hash`, while the second fixture works as expected on both versions. Using a `json` column seems to have the same type mismatch.

I'm not sure if there is a blessed w

[2016-05-05 23:14] vipulnsward commented on #24872
Ref: https://github.com/vipulnsward/rails/commit/efaa6e4f79d457c2cdd08cbc56d63bc972a6993c

[2016-05-05 23:23] xn commented on #18660
@dhagerty did you run them individually? What was the return value of that line? Sorry for not codng something a bit more savvy. BTW, do you have a. Cade sensitive file system?

[2016-05-05 23:27] lucasmazza commented on #24872
@vipulnsward thanks for looking it up! Judging from #24234 it looks like the YAML representation should be the one way to do it then.

[2016-05-05 23:37] vipulnsward commented on #24872
Yup, @lucasmazza good to close this then? Since this is intentional.

[2016-05-05 23:52] lucasmazza commented on #24872
:+1:

[2016-05-05 23:52] #24872 closed

[2016-05-06 01:10] dhagerty9009 commented on #18660
@xn I did run them individually, here's my output:
[code]

Running just `Dir.glob('f?O')` returns an empty array.
[code]

Here is relevant information on my file system:
[code]

It isn't case-sensitive.

So there seems to be some unexpected behavior here, unless there's something I'm missing. Because `Dir.glob` will return `["Foo"]` in all the other cases you provided. Here's some output from othe

[2016-05-06 01:23] xn commented on #18660
Does CASEFOLD or EXTGLOB change any of that?

[2016-05-06 01:38] jeremy opened #24874 "Cable: Robust unsubscribe"
If an error occur for some reason while removing a subscription, the exception is swallowed and the connection may left in an inconsistent state, e.g. still be subscribed to the channel but no longer streaming.

`ActionCable::Connection::Subscriptions#remove_subscription` must give a much stronger guarantee that unsubscribing absolutely closes the channel and removes the subscription, if if errors

[2016-05-06 01:41] jeremy opened #24875 "Cable: Should error on double-subscribe"
When a client subscribes to a channel that it's already subscribed to, the server no-ops. Subscribe hooks and callbacks don't run.

When is this ever normal? The only case is if the client thinks it unsubscribed from a channel but the server didn't get the memo.

In these cases, we'd be better off treating a duplicate subscribe as an unsubscribe + subscribe from the server's perspective.

Pragmati

[2016-05-06 01:45] jeremy opened #24876 "Cable: Subscribe shouldn't block the event loop"
Subscribing to a channel is done on the main thread since we want to give an immediate response: is the subscription rejected?

But this means that the `Channel#subscribed` hook and `subscribe` callbacks are all run on the main thread!

We can redesign the subscription lifecycle to behave async: subscribe to a channel, immediately acknowledge the subscription request, perform subscription on worke

[2016-05-06 01:51] maclover7 commented on #24875
I'm 👍  for throwing an error if the client tries to subscribe to a channel that it is always subscribed to -- it sounds like the client is losing track of state somehow. Either way, I don't think this falls into the wheelhouse of the backend for Action Cable -- it's more of a frontend concern.

[2016-05-06 01:55] maclover7 commented on #24876
👍  we can probably reuse / repurpose the concurrent-ruby infrastructure that's already in Action Cable, that's being used with the workers

[2016-05-06 01:59] jeremy opened #24877 "Cable: Separate subscription confirmation from stream confirmation"
We have a special case for subscription confirmation. Normally, we'd return the confirmation immediately after calling `#subscribed` and `subscribe` callbacks, but `stream_from` needs to establish a pubsub subscription with e.g. Redis before it can start streaming AND we don't want the client to think the subscription is REALLY connected yet. So, we added a workaround where we explicitly defer con

[2016-05-06 02:01] tenderlove commented on #23997
Sorry if this is a bad question, but this test:

[code]

How does your app actually post data like that in production?  I'm having a hard time thinking of a way to make a form that posts an array of nested hashes.

[2016-05-06 02:04] jeremy opened #24878 "Cable: JavaScript integration tests"
We test the Action Cable server components. We don't test the JavaScript client.

Let's set up a test suite like [Trix runs](https://github.com/basecamp/trix/blob/master/bin/ci) with [Blade](https://github.com/javan/blade) and build out the beginnings of an integration test suite.

[2016-05-06 02:05] maclover7 commented on #24877
👍  Basically we're splitting this up into an "acknowledge" response that we received the request to create a subscription, and then send another message later, which is an actual confirmation message about whether the subscription was created?

[2016-05-06 02:05] jeremy commented on #24876
Right. We run all other actions and callbacks on the worker pool already. We specifically _don't_ run these on the worker pool because we want a synchronous response. By redesigning the lifecycle, we can make the entire flow async and get subscription handling off the main thread.

[2016-05-06 02:10] haggen commented on #23997
@tenderlove If I remember correctly this does the trick: `fields_for :items, [], index: nil do ... end`

[2016-05-06 02:16] tenderlove commented on #23997
OK.  I think the parameter parser in Rack has the same ambiguity (with regard to this query) as it did in previous versions.  The change I made was that `params` would get encoded in the controller test and then decoded again so it's more similar to production behavior.  So, I think the correct fix is to make this type of controller test post the same data that the form would post in production.

[2016-05-06 02:22] jeremy commented on #23438
FIxed by https://github.com/rack/rack/pull/1009

[2016-05-06 02:22] #23438 closed

[2016-05-06 02:23] jeremy commented on #24775
(Shifting milestone a tad. High priority, but we haven't looked and core adapters are good to go for release candidate.)

[2016-05-06 02:26] jeremy commented on #24863
Changing the column order, no big deal. Changing the _index_ order, release blocker.

[2016-05-06 02:28] vipulnsward commented on #24878
👍🏻. This is both for testing AC itself and others to test as well?

[2016-05-06 02:33] thedarkone commented on #24627
@jeremy to confirm, you are seeing this (non-sprocket) error on a Rails app with c-r 1.0.2?

[2016-05-06 02:34] jeremy commented on #24878
@vipulnsward For testing AC itself. Apps can do integration tests already 😁

[2016-05-06 02:35] jeremy commented on #24627
@thedarkone Correct. I'll narrow it down.

[2016-05-06 02:44] maclover7 commented on #24876
Very, very early implementation PR is available at #24879.

[2016-05-06 02:56] plentz opened #24880 ":time doesn't follow the same dst behavior of :datetime"
### Steps to reproduce

[code]

### Expected behavior
`post.time_offset_bug.utc_offset` should be -3 (and the `time` saved in the database should be saved in UTC)

### Actual behavior
`post.time_offset_bug.utc_offset` is -2 and the time saved in the database isn't saved in UTC.

### System configuration
Rails 5.0.0.beta4(happens at `master` as well)
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_

[2016-05-06 03:00] plentz commented on #24880
maybe related with #15726. cc @sgrif

[2016-05-06 03:05] yahonda commented on #24775
No problem about changing milestone to 5.0.1. Thanks for the update.

[2016-05-06 03:12] vipulnsward commented on #24878
👍🏻 let me take a look at it

On Thursday 5 May 2016, Jeremy Daer <notifications@github.com> wrote:

--
Vipul A.M.
+91-8149-204995

[2016-05-06 04:52] tenderlove commented on #23997
@haggen does Rails process the request correctly for that form?  I'm trying to figure out a situation where it would be possible for Rails to generate and post the data structure that @simsalabim is showing.

[2016-05-06 09:20] AaronKek opened #24883 "Active support issue"
I'm learning how to use Ruby on Rails,
Last time I tried making a scaffold for users.
rails generate scaffold user first_name:string last_name:string
For some reason, it wouldn't work.
I first got one message then a few seconds later a rather big message.

First error message:
C:/row/Ruby23/lib/ruby/gems/2.3.0/gems/activesupport-4.0.2/lib/active_support/values/time_zone.rb:282: warning: circular a

[2016-05-06 09:26] #24883 closed

[2016-05-06 09:28] arunagw commented on #24883
This issue tracker is to track core Rails issues.

Seems like a configuration issue.

Please ask these questions to [Stackoverflow](http://stackoverflow.com/questions/tagged/ruby-on-rails) or somewhere else.

[2016-05-06 12:35] akozhemiakin commented on #24864
@kaspth Then I'm not sure that I fully understand the purpose and mechanics behind it. If we have deprecation warning stating that "ActionDispatch::IntegrationTest HTTP request methods will accept only the following keyword arguments in future Rails versions: ..." and some method to check if we need to show this warning, will not it be logical to show this warning for every args hash with one ore

[2016-05-06 13:08] robmathews commented on #18660
@christian

Works in OSX case-insensitive.

On ubuntu, it has errors, like in this gist:
https://gist.github.com/20c491b1011840fba32219d912f77084

Rails 4.2.6 in all cases.

HTH

On Thu, May 5, 2016 at 5:06 PM, Christian Trosclair <
notifications@github.com> wrote:

[2016-05-06 14:01] dhagerty9009 commented on #18660
@xn Both CASEFOLD and EXTGLOB fix the issues.

[2016-05-06 14:07] xn commented on #18660
we need to see if everything works correctly on Linux with CASEFOLD and EXTGLOB. If it does, that code should be fine and we can just fix all_helpers_from_path

[2016-05-06 15:08] DavidMikeSimon opened #24887 "Surprising sequence of order clauses in nested :through associations"
When a :through association involves order clauses on more than one point in the chain (from default_scope, or from lambda arguments to the association class method), the order clauses are applied in the opposite order from what would be naturally expected.

### Steps to reproduce

[code]

### Expected behavior

Rails retrieves `page.words` using a query similar to `SELECT * FROM words ... ORDER B

[2016-05-06 15:23] simsalabim commented on #23997
@tenderlove this is a good question. It's an API call, hence no form.

[2016-05-06 15:32] thedarkone commented on #24627
@jeremy if you are able to deploy some temporary logging in the form of:

[code]

this could help track down the "iterator" thread?

[2016-05-06 16:41] sgrif commented on #24863
So the index hasn't been changed from 4.2. The type comes first in the index after https://github.com/rails/rails/pull/14143 was merged. It looks like the order of the columns was a side effect of the refactoring, but it was intentional as the same code is used for both the index and the column definitions.

[2016-05-06 16:41] #24863 closed

[2016-05-06 16:42] jrafanie commented on #24863
@jeremy Note, 4.x doesn't generate the indexes for t.references by default until rails 5, so I ran them all again with index creation to verify the behavior.  Sadly, the results are inconsistent.

**Given**

[code]

Here's a table to help visualize it.  Note, that 4.2.6 creates columns in id/type order but with index in type/id order.  The tl;dr is if I patch 5.0.0beta4 to fix column order to be l

[2016-05-06 16:59] sgrif commented on #24779
This has been resolved in Arel.

[2016-05-06 16:59] #24779 closed

[2016-05-06 16:59] jrafanie commented on #24863
Thanks all, I agree with Sean, it's unfortunate that column order has changed from 4.2 to 5 but fixing that is not worth changing the column order of the index.

[2016-05-06 17:00] #24775 closed

[2016-05-06 17:02] sgrif commented on #23964
Leaving this open since we haven't actually merged a fix yet.

[2016-05-06 17:11] sgrif commented on #24028
@matthewd Is there any other action we need to take on this that should block the RC? I do want to do a better job of detecting some of the common mistakes here, but I don't think it needs to block the release, we can do it in 5.0.1

[2016-05-06 17:18] avatsaev commented on #24028
@sgrif i totally agree with this, this is an edge case scenario, been open for 2 months, this shouldn't block the release, let's move this thing to RC

[2016-05-06 17:21] eacaps commented on #24028
I'm all for getting a release candidate but this bug does have some people who have run into it in the wild #24741

[2016-05-06 18:41] joecannatti opened #24893 "Using Postgresql with Prepared Statements turned off, #exec_query discards bind parameters"
### Steps to reproduce
##### Create a new rails app using Psql

[code]
##### Configure the database to turn off prepared_statements

[code]
#### Create a very simple model to test against

[code]
#### Use `#exec_query` with bind params to query the table

[code]
### Expected behavior

The query to be run successfully
### Actual behavior

[code]
### System configuration

**Rails version**: Rails 4.

[2016-05-06 18:43] vipulnsward commented on #24893
cc @sgrif

[2016-05-06 18:50] thedarkone commented on #24028
@sgrif btw this is a development mode issue (unless somebody is running class auto-reloading in production), so IMHO this shouldn't be a blocker.

@eacaps, your issue is a dev mode problem, right?

[2016-05-06 18:53] sgrif commented on #24028
Yes. I was going to do a write up soon. We've discussed it and we think that we would still like to improve the situation, but it's not a blocker for 5.0.0.

[2016-05-06 18:54] avatsaev commented on #24028
So are we moving forward now? What did you decide?

[2016-05-06 19:00] #24391 closed

[2016-05-06 19:01] avatsaev commented on #24028
finally, thank you.

[2016-05-06 19:22] #23964 closed

[2016-05-06 19:26] sgrif commented on #23997
Could you not just use JSON then and eliminate the ambiguities?

[2016-05-06 19:56] xn commented on #18660
Here's on Linux:

[code]

I don't understand why, but FNM_EXTGLOB is the way to go.

There are no upcases in Rails' naming conventions, so this is an issue with folders outside of rails getting borked. Therefore, we only need to add the EXTGLOB flag where we could be getting those as results. It doesn't seem to me that the Dir here needs it.

[code]

[2016-05-06 20:14] #24726 closed

[2016-05-06 20:34] plentz commented on #24880
PS: I think that fixing this bug isn't going to be that hard. But once fixed, what we should do with users that were already using it and the data in their databases is wrong? 💭

[2016-05-06 20:38] alextaylor000 commented on #24819
I'm able to reproduce this issue on a new Rails 4.2.6 project following the steps above. (Although I'm not sure how to write an isolated test for it since it seems to rely on having loading a whole Rails app).

[2016-05-06 20:42] sgrif commented on #24880
I think this is just misunderstanding how Active Record's :UTC vs :local settings work, but I'll take a closer look after Railsconf

[2016-05-06 20:49] vipulnsward commented on #24880
This is due to DST on different values you are using, and not an issue here.
[code]

[2016-05-06 20:50] sgrif commented on #24880
:heart: @vipulnsward

[2016-05-06 20:50] tenderlove commented on #23997
Thanks.  Are you posting JSON, or are you encoding to the query params?  The reason I'm asking is because the Rails parameter + Rack query parameter parser has never supported a structure like this.  For example:

[code]

If you run this against older versions of Rack, it won't successfully round trip.  The thing that changed in Rails is that we encode the parameters in the controller test, then d

[2016-05-06 21:32] maclover7 commented on #24819
cc @fxn, this probably has to do with `active_support/dependencies`

[2016-05-06 21:35] plentz commented on #24880
@vipulnsward Thanks for the feedback, but still unclear to me why `post.time_offset_bug.utc` isn't returning `17:00` as (I think) it should(`14:00` + 3 from my timezone to UTC)

[2016-05-06 21:36] maclover7 commented on #24887
Can you extract your bug report tests, and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-06 21:46] doerfli opened #24898 "Redirect_to with turbolinks action 'change' renders {"action":"replace"} instead of { change: [...] }"
### Steps to reproduce

I have this view with turbolinks and would like to have a partial update of the div `#result`.

[code]

And its backed by this controller

[code]

### Expected behavior
When submitting the form, i would expect the response of the POST to be

[code]

### Actual behavior
But i get
[code]

### System configuration
**Rails version**: 5.0.0.beta4

**Ruby version**: 2.3.0

[2016-05-06 21:51] maclover7 commented on #24898
I think this is a Turoblinks specific issue -- please open up an issue with them at https://github.com/turbolinks/turbolinks-rails/issues/new. Thanks! :)

[2016-05-06 21:51] #24898 closed

[2016-05-06 21:56] doerfli commented on #24898
I disagress, i think the problem is in the rails controller which renders incorrect javascript.
It renders the Javascript when encountering a NON-GET + XHR request for partial updates (new Rails 5 feature).

[2016-05-06 23:26] maclover7 commented on #24875
Opened #24899.

[2016-05-06 23:28] maclover7 commented on #24877
Should this be combined with #24876? -- I think they both flow together.

[2016-05-07 00:04] maclover7 commented on #24874
Opened #24900.

[2016-05-07 01:20] jeremy commented on #24877
We separate orthogonal changes so we can work on, test, merge, and revert
them independently of each other—so they can flow together :)
On Fri, May 6, 2016 at 16:28 Jon Moss <notifications@github.com> wrote:

[2016-05-07 03:46] Anle90 commented on #21544
Rails v 4.2.4 error with mysql 0.4. has to use mysql2', '~> 0.3.18 to work

[2016-05-07 14:14] sevaorlov commented on #14110
might be related to https://github.com/rails/rails/issues/22538

[2016-05-07 17:04] sevaorlov commented on #24281
Not sure what is the reason, but it seems by design Rails converts inner joins to outer joins when merging.
https://github.com/rails/rails/blob/fix/joins-in-association-conditions/activerecord/lib/active_record/relation/merger.rb#L122

then these joins are called 'stashed' here https://github.com/rails/rails/blob/fix/joins-in-association-conditions/activerecord/lib/active_record/relation/query_met

[2016-05-07 17:07] sevaorlov commented on #24281
Not sure what is the reason, but it seems by design Rails converts inner joins to outer joins when merging.
https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/merger.rb#L122

then these joins are called 'stashed' here https://github.com/rails/rails/blob/master/activerecord/lib/active_record/relation/query_methods.rb#L1050 and passed as outer joins here https://githu

[2016-05-07 17:11] maclover7 commented on #24281
cc @sgrif, assigning to you so it doesn't get lost while you are 🚗  to Canda -- r? @sgrif

[2016-05-07 17:46] sevaorlov commented on #22021
related to https://github.com/rails/rails/issues/24281

[2016-05-07 18:47] sevaorlov commented on #22022
hm, so you joined table twice and want Rails to join it only once. I'm not sure it is Rails job, but if it need to be done, I think it is better to do it while building arel in `build_arel` method https://github.com/rails/rails/blob/96f3f3d8267167d5d4c5697f2299756cfa7e37d4/activerecord/lib/active_record/relation/query_methods.rb#L962

[2016-05-07 20:32] wadestuart opened #24908 "Actioncable latency/client side ping feature."
I have been looking at the actioncable stuff and it appears that the connection monitor relies on ping which is server -> client.   I am wondering if any thought has been made to have a client ping variation which is generated on the client periodically and hits the ac service with a immediate rebroadcast to that client.  It seems like this could not only provide an active check on the client side

[2016-05-07 21:22] maclover7 commented on #24908
Hmm, I don't think the current ping implementation is meant to work the way you are proposing. However, you could definitely create a `PingRebroadcastChannel` or the like in your own application, and implement this on your own (maybe even release it as a gem for others to use! 😄).

For any future feature requests, please send a message to the [rubyonrails-core mailing list](https://groups.google.c

[2016-05-07 21:26] jeremy commented on #24908
We've considered it and have come across the need ourselves. Particularly, on client suspend/resume and visibility changes when you'd like to immediately check connection liveness rather than waiting ~seconds to be notified.

In fact, client-initiated pings (with server pongs) may be a better route overall. Please do pursue it.

(We also do round-trip latency gauging using our own app monitoring c

[2016-05-07 23:08] vipulnsward commented on #24880
@plentz please note that you are operating over two different object types.
Time vs TimeWithZone. From your example:

[code]

`post.time_offset_bug.utc` is a `Time` object without this information.

[2016-05-07 23:36] wadestuart commented on #24908
@maclover7 Sorry for the improper placement I will bring this to the mailing list -- I apologize for not being informed about the proper route.

@jeremy Yeah,  from what I am seeing it makes a lot of sense to bring such a rebound up the stack slightly to allow for a short circuit (fast path) for the response instead of creating pub sub channels and logic to segment the data between clients.  Basic

[2016-05-07 23:56] javan commented on #24878
Feel free to assign this one to me

[2016-05-08 00:30] tenderlove commented on #24555
These should be in rack at rack/rack@93b28997fd37920e2c8d34a48ec236a947434ab3 and rack/rack@7c3d700c00d13e0dead8f110a95606fd1332c5a2

[2016-05-08 00:30] #24555 closed

[2016-05-08 00:37] NullVoxPopuli commented on #24908
Is there anyway to tell if a web socket is open / stale / disconnected? like, If the server for whatever reason stops responding to me? how do try re-connecting?
Been trying to solve this for my action_cable_client gem https://github.com/NullVoxPopuli/action_cable_client

From my research, it seems regular web-socket implementations do ping/pong messages, but it feels messy. Shouldn't the connecti

[2016-05-08 00:46] jeremy commented on #24908
@NullVoxPopuli It does know its own state, but only to the extent that TCP exposes it. You can have a keepalive connection that had been severed and neither party may be aware.

The WebSockets protocol does have ping/pong frames, but they're meant for protocol-level keepalive, not heartbeating, and are server→client only.

More on this: https://www.w3.org/Bugs/Public/show_bug.cgi?id=13104

[2016-05-08 01:21] wadestuart commented on #24908
From what I see the current ping(heartbeat) in AC is meant to touch the connection periodically to try to sense down states and is application level not ws protocol.   I will say the choice of label is unfortunate as there are two different beasts here,  protocol and application level with overlapping names.

The current rails client side and server side,  from my reading of the code, will have th

[2016-05-08 01:39] jeremy commented on #24908
Confirm. Keepalive pings vs heartbeat… beats.

Confirm.

Perfect case for client→server heartbeating.

Note this can largely be done with server→client pings as well. The difference is that client-initiated heartbeats mean they can control liveness checks and that they can inform the server of current state (e.g. sequence number, last message received, etc.)

Arguably we can & should switch to cli

[2016-05-08 02:09] agbaber opened #24913 "`.where` and `.where!` do not return the same results for association collections"
### Steps to reproduce

[code]

[code]

### Expected behavior
`.where` and `.where!` should return the same results for association collections.

### Actual behavior
`.where` and `.where!` behave differently for association collections; the former returns the proper records and the latter returns all records. This seems like a bug.

### System configuration
**Rails version**: 5.0.0.rc1 (also repro

[2016-05-08 02:12] prathamesh-sonpatki commented on #24913
@agbaber `where!` should not be used publicly. It's `nodoc`ed in Rails.

[2016-05-08 03:56] chareice commented on #22076
Why?

[2016-05-08 04:17] matthewd commented on #24913
Yeah, that's private API, which you definitely don't want to use.

[2016-05-08 04:17] #24913 closed

[2016-05-08 08:13] sevaorlov commented on #21096
I've created reproduction script, it fails in master.

[code]

I'll have a look at this issue.

[2016-05-08 08:57] sevaorlov commented on #21096
That is related to https://github.com/rails/rails/issues/24527
Rails doesn't set inverse associations for through associations and that is why `RaceToProfession` is saved without `profession_id`.  Maybe that will also be possible to find and set those associations.

[2016-05-08 10:09] sudhirj commented on #20133
I'd actually suggest turning on case sensitivity on all MySQL statements - this really is the default expected behaviour for everyone except those who are particularly tuned to and aware of MySQL problems. Having the columns case sensitive by default will probably avoid other gotchas as well.

[2016-05-08 20:48] herminiotorres opened #24922 "NameError - uninitialized constant - Rails 5.0.0.rc1"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Today I tried to use rails 5 rc1. I installed the newest ruby version and rails version, generate a default application, `rails new test`, switch for folder `cd test`, run `bundle install` and next up the

[2016-05-08 20:53] maclover7 commented on #24922
Hmm, how did you generate your application? `test` is part of the application name "blacklist" :-(

[code]

[2016-05-08 20:57] herminiotorres commented on #24922
@maclover7 I didn't use the name `test` for my app.

[2016-05-08 20:58] herminiotorres commented on #24922
for real I used `coffee` name for my app,

[2016-05-08 20:59] herminiotorres commented on #24922
[code]

[2016-05-08 21:01] herminiotorres commented on #24922
Interesting fact when I used the `example` name for my app, thus work fine.

[2016-05-08 21:08] plentz commented on #24880
@vipulnsward @sgrif sorry for being so insistent, but guys, I *really* think that we have something very wrong here. I just created a new test cases that should be more clear:

[code]

The problem looks like to be related with DST (and then affecting the `timezone_offset` that I reported initially)

[2016-05-08 21:12] rafaelfranca commented on #24922
Coffee is conflicting with the coffee-rails constant namespace.

On Sun, May 8, 2016 at 4:02 PM Herminio Torres <notifications@github.com>
wrote:

[2016-05-08 21:13] connorshea opened #24924 "Update rails-dom-testing"
It's weird that this isn't causing problems yet, but rails-dom-testing 1.x shouldn't work with Rails 5.

The gemspecs of actionview, actionmailer, and actionpack have a dependency on `rails-dom-testing (~> 1.0, >= 1.0.5)`. As of [rails-dom-testing 1.0.7](https://rubygems.org/gems/rails-dom-testing/versions/1.0.7), the gem has a dependency on `activesupport < 5.0, >= 4.2.0.beta`, meaning it shouldn

[2016-05-08 21:13] sgrif commented on #24880
I am currently in the process of moving. I will look more closely when I have time

[2016-05-08 21:18] maclover7 commented on #24922
^^ yep, that would be the issue. I was using `test` as the app name, because that's what you said in your original bug report :)

[2016-05-08 21:23] herminiotorres commented on #24922
Thank you both for clarify my doubts.

[2016-05-08 21:30] herminiotorres commented on #24922
Ok, about the `coffee` constant namespace.

The `coffee-rails` shouldn't is in an isolated context?

Because the `test` name I received the message about it  or put on the `coffee` name in this list too.

Make sense?

[2016-05-08 21:42] rafaelfranca commented on #24922
Unfortunately there is no way to fix this issue other than rejecting coffee
as an application name. You would have the same problem if you create a
model called Coffee. It is how constants in Ruby works, if you have the
same name of constant you will reopen the constant and all constants and
methods available inside it will be available in your application.

I don't think we should do the same thi

[2016-05-08 21:49] DrSayre opened #24926 "Could not find proper version of railties (4.2.5.1) in any of the sources"
### Steps to reproduce

(Guidelines for creating a bug report are [available
here](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#creating-a-bug-report))

### Expected behavior
Tell us what should happen
I installed the newest ruby version and rails version. I was expecting to do something like this to create a new rails application:
[code]

### Actual behavior
Tell us what happe

[2016-05-08 22:03] connorshea commented on #24924
If you can tell me what the gemspec's should depend on (e.g. should it be `~> 2.0` or `>= 1.0, < 3`?) I can open a PR for this.

[2016-05-09 00:26] maclover7 commented on #24926
Hmm, can you run `rails -v` from your home directory? From a first glance, it looks something might be up with your local gem setup. Also, if you can cause the error to happen again, can you post the full backtrace? That might help in locating the source of the bug 😄

[2016-05-09 00:51] DrSayre commented on #24926
From home I get 5.0.0.rc1, from my programming directory I get the error.
[code]

[2016-05-09 00:56] maclover7 commented on #24926
Do you know what the original command was that you used to install Rails? It's possible your `rvm` gem setup might have gotten messed up 😬

If you'd like to, you can start over with a blank slate of rails versions:
[code]

[2016-05-09 01:06] DrSayre commented on #24926
Nothing out of the ordinary.  I did have an issue installing nokogiri (libxml2 is missing) which I was able to install by doing this:
[code]

[2016-05-09 01:09] DrSayre commented on #24926
Tried uninstalling and reinstalling rails, got the same error.

[2016-05-09 02:12] maclover7 commented on #24926
Hmm, I'm really not sure at this point what's up 😢. Maybe some other people on the issue tracker will chime in about some possible fixes, but I'd say you should consider opening up a ticket with Rubygems at their [Github repo](https://github.com/rubygems/rubygems), since I don't think this is a bug within Rails itself. Sorry we weren't able to directly diagnose the problem :-(

[2016-05-09 02:59] DrSayre commented on #24926
Thanks @maclover7, I wasnt 100% sure this would be a Rails thing or Rubygems or RVM.  I will check out the Rubgems repo.

[2016-05-09 06:30] bombisto opened #24927 "Teroratako kontraux Cornell University"
Saluton!

Je Lundo, 9 Majo 2016, aux Mardo, 10 Majo 2016, mi mortigos multajn homojn en Cornell University.

Mi acxetis ilojn (bombkreilojn, pafilojn, ktp), kaj mi lernis uzi ilin.

Mi esperas, ke mi povas mortigi pli ol 50 personoj.

Bela, cxu ne?

Bonan sxancon!

[2016-05-09 06:34] #24927 closed

[2016-05-09 09:08] mdesantis commented on #23760
Hello, is there any chance to merge this into Rails 5? It's a welcome patch to me :)

[2016-05-09 11:18] GeckoFu commented on #16983
+1 to keep this issue active.

Should replace the generated SQL `AND` with `OR`

[code]

[2016-05-09 14:13] bzanchet commented on #24880
Hey folks, I have a new example that should clarify the root cause of this bug:

[code]

The problem seems to happen because the string `"8:00"` gets converted into a TimeWithZone at `1/1/2000`, which is DST period for `Brasilia`, and then saved as `"10:00UTC"` instead of `"11:00UTC"`.

The bug ins't instantly visible because the same problem - but the other way around - happens when parsing data

[2016-05-09 14:39] sgrif commented on #24880
So this isn't a bug, just a side effect of how we have to handle time zones here. Times in SQL inherently have no date, and aren't affected by DST (other than the time zone name being `PDT` or `PST`). However, we have no equivalent type in Ruby to map to, and ruby `Time` objects *do* have a date. We have to pick one arbitrarily, and the date that we've historically picked is 2000-01-01. When you a

[2016-05-09 14:39] #24880 closed

[2016-05-09 14:48] DrSayre commented on #24926
Ahh... I found a Gemfile and Gemfile.lock file in my programming directory that was messing things up. Deleted those and now Im good. Im surprised I had not ran into this before.

[2016-05-09 14:55] bzanchet commented on #24880
hey @sgrif, thanks for the throughout reply. I agree that there's no equivalent type in ruby to handle a time with no date and this seems to be the root cause of this problem.

Anyway.

I insist it's a bug because time is supposed to be consistent between timezones (right?) and the date is an internal implementation detail that shouldn't matter to the user (again, right?). So, speaking strictly fr

[2016-05-09 15:02] DavidMikeSimon commented on #24887
@maclover7 Sure, here's a running example of my pseudocode from above:

[code]

Output:

[code]

[2016-05-09 15:07] sgrif commented on #24880
If you're only storing for display purposes, it's likely best to use UTC
and not have the attribute be tz aware. You can also convert it to the
current date to have the DST semantics applied to the current date.

implementation details.

DST always comes into play. Times would convert differently depending on
the date they were read, otherwise.

On Mon, May 9, 2016, 10:56 AM Bruno Zanchet <notific

[2016-05-09 15:28] eacaps commented on #24028
Everything seems to work fine when I deployed my application on our heroku staging environment, so pushing to 5.0.1 will be fine. @thedarkone, any chance you could explain why this is only an issue in development mode? I'm not familiar enough with Ruby to understand the intricacies of this type of class loading.

[2016-05-09 15:33] sgrif commented on #24028
Autoloading doesn't occur in production

On Mon, May 9, 2016, 11:28 AM eacaps <notifications@github.com> wrote:

[2016-05-09 15:42] eacaps commented on #24028
So the call to

`config.channel_paths.each { |channel_path| require channel_path }`

would already have the CommentsChannel class loaded in memory and thus not run into the load_interlock issues correct?

[2016-05-09 15:53] thedarkone commented on #24028
@eacaps yes. Althought It is a bit more complicated than that (e.g. a `require` call in your example will also not involve autloading even in dev mode), "autloading" is what happens when you reference a constant without first having to `require 'user'`.

There is a guide for that: http://guides.rubyonrails.org/autoloading_and_reloading_constants.html.

[2016-05-09 15:55] NullVoxPopuli opened #24931 "Is it possible to have multiple actioncable servers speak to eachother?"
Here is the scenario I'm envisioning:
 - client sends a message to server A.
 - server A finds out that the message from the client is actually intended for server B
 - server A forwards the message from the client to server B

I guess, short of going back to communicating over HTTP/S, is there a way to (maybe on server boot), open a cable between server A and server B? Or would I need to start ac

[2016-05-09 16:05] jeremy commented on #24931
This is a scenario we've tried to rule out by design. Getting into proxying/forwarding cable messages themselves adds a lot of complexity to the server without proportionate payoff. If you need to dispatch a cable message elsewhere, odds are it's to a job to be processed, not to another server to be processed.

Let's take a closer look at this if you hit a concrete case that falls out of the sweet

[2016-05-09 16:05] #24931 closed

[2016-05-09 16:21] #24926 closed

[2016-05-09 16:22] NullVoxPopuli commented on #24931
Makes sense.

The the exact scenario has to do with this instant messaging networking I'm building.

Client A knows about Client B and Server A
Client B knows about Client A and Server B

Client A wants to communicate with Client B, but the Server Client A is connected to doesn't know about Client B. Server A (hopefully) would be able to forward the message to Server B, which does know about Clien

[2016-05-09 16:27] bzanchet commented on #24880
hey @sgrif, thanks again for taking the time to discuss this. Here's what happens if I try to save it as UTC:

[code]

I wish this workaround worked, but it only highlights the fact that `1/1/2000` doesn't work every time. Is this what you meant by `it's likely best to use UTC`?

[2016-05-09 16:30] sgrif commented on #24880
No. I mean not using time zone aware attributes on fields where it's not
needed -- or setting Time.zone to UTC

On Mon, May 9, 2016, 12:27 PM Bruno Zanchet <notifications@github.com>
wrote:

[2016-05-09 16:31] sgrif commented on #24880
Also just to clarify one last point before I log off, I would love to
improve this behavior as I agree there is something unintuitive. I just
don't think there is an alternative that would work here.

On Mon, May 9, 2016, 12:30 PM Sean Griffin <sean@seantheprogrammer.com>
wrote:

[2016-05-09 16:37] jeremy commented on #24931
Add a pubsub tier behind your cable servers. Use Redis or PostgreSQL as the pubsub message bus. Now it doesn't matter which server your clients are connected to and forwarding/proxying is a non-issue :)

[2016-05-09 16:43] NullVoxPopuli commented on #24931
Hmm, wouldn't that create a single point of failure though?

The main goal of all this is to have high reliability, so in the event one part of the system breaks, the whole system can continue function. (so, using the example in the picture, each client, would actually have 2-3 connections to various servers)

[2016-05-09 17:02] jeremy commented on #24931
You'd be recreating a highly available pubsub system using WebSockets servers. Consider using "dumb" WebSockets servers that don't need to track state and using an existing highly available pubsub system instead (Redis cluster, PostgreSQL cluster, RabbitMQ, Kafka, Google/AWS/Azure pubsub, …)

[2016-05-09 17:26] bzanchet commented on #24880
Awesome. I do believe there's a better way, and I wish I had the time to go in and write a patch myself (I might as well do it next weekend).

So, here's the main argument: the central idea behind the current implementation is to convert the time to UTC and then store it - so we can decide later what to do about conversion (as in: when reading back from the database we have the choice to convert i

[2016-05-09 17:43] rwz opened #24932 "AR::Base.find"

[2016-05-09 17:44] andrewarrow opened #24933 "ActionController::TestCase#process method not reading current value in @request.env"
### Steps to reproduce
@request.env["HTTP_AUTHORIZATION"] = 'Bearer abc'
post(:create)
@request.env["HTTP_AUTHORIZATION"] = 'Bearer xyz'
post(:create)

### Expected behavior
2nd post should have xyz

### Actual behavior
2nd post still has abc

### System configuration
4.2.0

**Ruby version**:
2.2.2

[2016-05-09 17:54] rwz opened #24934 "AR::Base.find_in_batches version for relations"
In real-world application there're times when you have to migrate a column in a really big table from one value to another. Performing a single update is not really an option because it'll lock the whole table and will take forever, and iterating over each row is just too slow.

The ideal approach would be to do update in batches. Set a relation with some offsets/limits, perform an update to all r

[2016-05-09 17:57] #24932 closed

[2016-05-09 17:58] rafaelfranca commented on #24934
http://edgeapi.rubyonrails.org/classes/ActiveRecord/Batches.html#method-i-in_batches

[2016-05-09 17:58] #24934 closed

[2016-05-09 17:59] rwz commented on #24932
Whoops, sorry about that one. :(

[2016-05-09 18:02] rwz commented on #24934
Oh, wonderful. I wonder why `find_in_batches` doesn't use `in_batches` though and implements everything from scratch.

[2016-05-09 18:09] rwz commented on #24934
Nevermind, seems like it was only recently extracted and hasn't made its way to any of the stable releases yet.

[2016-05-09 18:10] sevaorlov commented on #21096
it doesn't fail when table name is not specified explicitly, continue to investigate

[2016-05-09 18:20] #24878 closed

[2016-05-09 19:11] bzanchet commented on #24880
Ah, also please notice that both New York (EST) and Dallas (CST) are on DST right now (thus using EDT/CDT, GMT-4 and GMT -5, respectively) but that doesn't seem to affect the time conversion. I think the current behaviour is the right way to do it and America/Sao_Paulo should't be the only exception :)

[2016-05-09 19:34] maclover7 commented on #24933
I think this is because you are reaching directly into the `@request` object, and its `env`, and if I remember correctly (could be wrong here) either the request or env is cleared every time you make a web request, so I think this is unsupported behavior 😬

[2016-05-09 19:37] maclover7 commented on #24887
👍 thanks for posting, this definitely looks like a bug to me. Steps forward:

1) Has this worked for you in past versions of Rails? --> if so, can you do a `git bisect` and see where the error was introduced
2) If not, can you try and find the source of the bug 😬

[2016-05-09 19:37] maclover7 commented on #24926
👍

[2016-05-09 20:13] DavidMikeSimon commented on #24887
I'm not sure if the behavior was different in prior versions of Rails; I ran into this problem when implementing something new.

However, I have figured out the source of the bug, at least somewhat. It seems that queries on nested :through relationships are generally built from the bottom up, rather than the top down. In most cases wouldn't matter, but `ORDER BY` is affected a lot by argument orde

[2016-05-09 20:25] vipulnsward commented on #24922
Closing based on https://github.com/rails/rails/issues/24922#issuecomment-217747978

[2016-05-09 20:25] #24922 closed

[2016-05-09 21:14] maclover7 commented on #24887
cc @sgrif
r? @sgrif (so you don't forget about this while you are moving ;))

[2016-05-09 21:46] sgrif commented on #24887
Just got to Canada. Should have time to clear the backlog 🔜🔜🔜🔜

On Mon, May 9, 2016, 5:14 PM Jon Moss <notifications@github.com> wrote:

[2016-05-09 22:25] kenn commented on #20133
@sudhirj I'm sentimentally 80% in agreement with you, but there's always a catch.

On PostgreSQL, you would do this to create case-insensitive unique indexes on email:

[code]

But on MySQL,  as its default is case-insensitive, `t.index :email, unique: true` has been working just fine. If we change the default behavior, it's going to be a backward problem - since MySQL doesn't have indexes on expr

[2016-05-10 01:14] prathamesh-sonpatki commented on #24924
@connorshea I think it should be `~> 2.0 `

[2016-05-10 03:16] #24924 closed

[2016-05-10 05:36] rafaelfranca opened #24949 "Should the Raw template handler render HTML-safe strings by default?"
This is related with https://github.com/rails/rails/pull/24929.

TL;DR;, in Rails 5 we changed the default template handler from ERB to Raw.

That means that `render 'foo.js'` where `foo.js` is not going through the ERB handler anymore but it is rendering HTML unsafe string.

At first it seems dangerous to mark raw templates as html safe but I can't see any problem that would be caused by this cha

[2016-05-10 11:25] rosenfeld commented on #24949
Maybe an option would be to provide a white list of extensions that should be considered html safe when using the raw handler, like .js and .htm(l), and allow the user to override that list.

[2016-05-10 13:14] nateless opened #24953 "ActionCable: Is there any option to defer call from client before subscription is finalized?"
Currently if we do any calls right after we made a subscription call, it just being silently ignored and no messages is being passed to websocket. DHH have used a [timeout call](https://github.com/rails/actioncable-examples/blob/master/app/assets/javascripts/channels/comments.coffee#L6), which I believe was used during developement, but now we need normal methosd to defer calls and process them AS

[2016-05-10 13:38] maclover7 commented on #24953
Hmm, this is definitely something we should take into account. Do you think it is best to account for this on the clientside or the backend? If the clientside, we should probably create an "official" API for people to use.

[2016-05-10 13:40] nateless commented on #24953
On the client, as backend doesn't know about any calls before connection\subscription thus we should create some message queue which will be dispatched after used subscription will be finalized ( subscribed and confirmed )

[2016-05-10 13:48] jeremy commented on #24953
Agree, @nateless. Please do pursue a PR!

For starters, we could disallow actions initiated before the channel is subscribed. That'd reflect the current behavior properly and fail fast rather than dropping on the floor.

Then we can follow up by buffering actions until subscription is confirmed and flushing them thereafter. Getting error feedback here is a challenge, though. Forcing the caller to

[2016-05-10 14:52] jeremy commented on #24953
Yes indeed!
On Tue, May 10, 2016 at 06:40 Nate <notifications@github.com> wrote:

[2016-05-10 16:28] cbeer opened #24955 "ActiveRecord::LogSubscriber fails to log SQL statements for serialized binary columns"
### Steps to reproduce

This model (and migration) create a model with a serialized column (`preferences`), backed by a `binary` column type:

[code]

When you create a new instance, e.g.:

[code]

Rails 4.2 logs the SQL insert statement. With Rails 5.0.0.beta1, this logs an internal exception.

### Expected behavior
The serialized column is appropriately transformed for the log, e.g.:

### Actual

[2016-05-10 16:46] spastorino commented on #24264
OK, now re-reading the issue this is expected behavior. API-only modes is application wide. There's no way with our current solution to support this.

We should state this in a more clear way in the guides. Please if you want to help us a bit go ahead and add some documentation to explain this.

The most important reason is that we do not have a way to differentiate middleware stacks per set of co

[2016-05-10 16:46] #24264 closed

[2016-05-10 16:47] brianbroderick commented on #23975
This particular bug should be fixed in JRuby 9.1, when that's released; however, it still returns an error related to another bug.

[2016-05-10 16:47] rockertux opened #24957 "belongs_to presence validation failing"
This breaks custom setter methods that need `write_attribute` to be sent during spec testing.

### Steps to reproduce
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### System configuration
**Rails version**: 5.0.0.beta4

**Ruby version**: 2.2.3

[2016-05-10 17:55] sblackstone commented on #24957
Try

`belongs_to :class_a, required: false`

[2016-05-10 17:57] sblackstone commented on #24858
+1, I've been getting the deprecation warnings for alias_method_chain but it only tells me that its occuring in config/application.rb when it does `Bundler.require(*Rails.groups)`

[2016-05-10 19:25] maclover7 commented on #24955
Reproducible on master. Investigating.

[2016-05-10 19:35] maclover7 commented on #24955
Working on a PR + regression test.

[2016-05-10 19:44] maclover7 commented on #24955
Opened #24958.

[2016-05-10 19:53] cbeer commented on #24955
👏  Thanks @maclover7, your PR fixes the problem we were seeing.

[2016-05-10 20:12] jrafanie opened #24959 "5.0.0.rc1: Regression: Unable swap to a custom connection pool and back to AR::Base pool after #24844"
### Steps to reproduce

See [the failing AR test case and output](https://gist.github.com/jrafanie/a27f713e791875a45a007aebb013e539#file-test_for_swapping_connection_pools-diff-L31).  I wasn't sure where the fix/test for this should live but I believe the test case is valid in terms of testing how `remove_connection` should undo what `establish_connection` does.

### Expected behavior
`klass2.remo

[2016-05-10 20:27] maclover7 commented on #24957
Hmm, it looks like you are monkey patching `class_a_id=`, which I don't believe is supported by Rails / Active Record. In Active Record, a huge suite of validations helpers are provided that you can use in your models, which you can check out [here](http://guides.rubyonrails.org/active_record_validations.html).

[2016-05-10 20:27] #24957 closed

[2016-05-10 20:42] rwz opened #24960 "AR associations and scopes behave totally different"
Using ActiveRecord 4.2.6

Example 1:

[code]

Trying to delete all user tokens:

[code]

The first call to `delete_all` on Associations CollectionProxy does something completely unexpected and tries to update the collection failing the mutability check, while calling the same method on a AssociationRelation does exactly what is expected, deletes the records.

Example 2:

[code]

Here again, `delet

[2016-05-10 21:56] sgrif commented on #24960
Yes, this is the intended behavior. Associations have different semantics for deletion than the underlying query that it may perform.

[2016-05-10 21:56] #24960 closed

[2016-05-10 21:59] rwz commented on #24960
What's the reasoning behind that? Is there any documentation you could point to that describes those differences?

[2016-05-10 22:52] matthewd commented on #24949
I don't understand why #24949 is true. @rosenfeld could you show some more context in the example template you gave?

[2016-05-10 23:32] rosenfeld commented on #24949
Hi @matthewd, sure. The discussion has started in the rails-core mailing list actually, but I can give more details here.

When you are supporting IE8 you don't have access to the new navigation timing and resources timing APIs, so a better guess involves measuring the initial time assigning the current date to some variable in the html header. This is often used by tools like NewRelic, Pingdom, G

[2016-05-10 23:56] jacquescrocker commented on #18519
I just ran into this bug as well. Pretty surprising IMO. Seems like a really easy thing for ActiveJob to serialize by default

[2016-05-11 03:45] arthurnn commented on #24959
https://github.com/rails/rails/commit/d6f3ad7ce7066b8815b4bda4a1e843b2c72c2ad3 should fix the issue..
thanks for reporting , and let me know if it works.

[2016-05-11 03:45] #24959 closed

[2016-05-11 03:45] arthurnn commented on #24959
backported to 5-0-stable 6458610d0b95049bbc847cbc1039d6f5be8cc30c

[2016-05-11 07:36] jeroenvisser101 commented on #24858
@sblackstone could you check if #24861 fixes that? That'd be great! :)

[2016-05-11 07:51] dreyks opened #24968 "ActionDispatch::Routing::UrlFor does not define default_url_options reader when included into a module"
When including `ActionDispatch::Routing::UrlFor` into a module that then gets included into a class, the `default_url_options` reader is missing, only writer is present. When including `ActionDispatch::Routing::UrlFor` directly into any class, everything is ok

https://github.com/rails/rails/blob/5-0-stable/actionpack/lib/action_dispatch/routing/url_for.rb#L95
### Steps to reproduce

[code]
### Ex

[2016-05-11 08:22] dalink commented on #22989
I have the same issue.
rails: v4.2.6
ruby: 2.2.4
env: windows
gem 'activerecord-oracle_enhanced-adapter', '~> 1.6.0'
gem 'ruby-oci8', '~> 2.2.0'

I have set in application.rb
[code]
[code]
generate:
[code]

Workaround:
[code]
This work:

[code]

[2016-05-11 08:27] fubarius opened #24969 "Not autoloading custom subdirectories of app"
### Steps to reproduce

Add app/foo/bar.rb to application, defining Bar class. Elsewhere in application, reference Bar

### Expected behavior
According to http://edgeguides.rubyonrails.org/autoloading_and_reloading_constants.html, "All subdirectories of app in the application and engines. For example, app/controllers. They do not need to be the default ones, **any custom directories like app/worke

[2016-05-11 08:39] fubarius commented on #24969
Issue seems to have been because I added app/foo after spring was running the app. bin/spring stop & trying again seems to do the trick. Perhaps the guide should have a note about autoload_paths being generated at app start and it not being a live * wildcard?

[2016-05-11 08:54] vipulnsward commented on #24969
Hmm, I think there was an issue being worked on related to this? cc @fxn

[2016-05-11 09:13] VladRassokhin commented on #24372
Verified. It's fixed. Thanks! :+1:

[2016-05-11 09:26] rstacruz opened #24970 "Can't serve assets with numbers in the filename"
It seems assets in the format `<letters>-<7 digits or more>.jpg` can't be served in development. I've tried it with variations of this format:
- `i-0000000.jpg`
- `abc/i-0000000.jpg`
- `abc/i-1234567.jpg`
- `abc/defghi-1234567.jpg`
- `abc/image-123456789.jpg`
- `abc/def/image-123456789.jpg`
- _and so on..._
### Steps to reproduce
- Start with a Rails app in v4.2.6
- Make sure that `config.serve_st

[2016-05-11 09:35] prathamesh-sonpatki commented on #24970
@rstacruz Will it be possible for you to upload a sample app to github reproducing the issue?

Thanks for the bug report.

[2016-05-11 11:14] Envek commented on #24864
Also I do not understand from this warning how I should rewrite POST with binary data, like this one?

[code]

[2016-05-11 12:07] zacharyw commented on #23681
I just did a fresh install of Rails 5.0.0.rc1 and attempted to start a server using "rails server". It appeared to work, but going to localhost:3000 in my browser could not connect to anything.

Running "puma -C config/puma.rb" did work, and I was able to hit my rails app in the browser.

Output from the commands was similar:

rails server

puma -C Config/puma.rb

So it appears that `rails server`

[2016-05-11 13:34] maclover7 commented on #24968
This is the expected behavior -- `default_url_options` is a `class_attribute`, which means it cannot be accessed on instances of classes, only on the class itself.

With your example above with an instance of  `SomeClass`, you would have to call `self.class.default_url_options`, instead of `self.default_url_options`.

[2016-05-11 13:40] dreyks commented on #24968
Still
[code]

It's either I get it wrong, or I didn't explain it clear

[2016-05-11 13:48] maclover7 commented on #24968
Yes -- I think this is a limitation of the implementation here. If you want to have a reader, you will need to include it in a class -- not a module. The reader is only created when it is included into a class.

Let's take apart the `included` block:
[code]

As I said, I think this is more of hitting on the limits of the implementation, but is not a bug 😬

[2016-05-11 13:52] dreyks commented on #24968
Why not `mattr_accessor` ? =)

Anyway this popped up when migrating to Rails5 and it only happens in RSpec specs. The included hook has not been changed since 4.2-stable, so it's something inside RSpec. (Probably they mix url_for in another way now)

[2016-05-11 14:37] nicohvi commented on #18492
For anyone still running into this problem you need to add a `type` attribute to your fixtures, which represents the STI attribute on your model. For the provided example this would be:

[code]
[code]

At least I haven't found a way to avoid this. Happy coding!

[2016-05-11 14:48] nateless opened #24976 "How to make state consistency while using Action Cable."
Hey,

I've tried to ask in rails core group and on [stackoverflow](http://stackoverflow.com/questions/37147593/how-to-make-state-consistency-while-using-action-cable) but haven't got any replies within two days. It might be not a good place for such question, but we can also use it to improve documentation to describe such use cases which is not clear for new users.

Let's assume we use something

[2016-05-11 14:50] vipulnsward commented on #24933
[code]

With this test, I see

[code]

in the logs. So its assigning as expected. Can you share an simple example App with this issue?

[2016-05-11 14:55] spastorino commented on #24949
@rafaelfranca why did you say "unsafe" HTML?. I don't see anything unsafe in rendering your own JavaScript files when they do not have user input.

[2016-05-11 14:57] djvs commented on #24876
I've been trying to debug some inexplicable response lag since upgrading to Rails 5 and implementing ActionCable, is this potentially the cause for that?

[2016-05-11 15:41] jeremy commented on #24976
Simplest option is to disconnect existing Cable connections when user data is changed:
[code]
That'll cause the user to automatically reconnect and pull fresh user/service data.

[2016-05-11 15:41] #24976 closed

[2016-05-11 15:43] nateless commented on #24976
@jeremy, well, we can also make a refresh on the client as well. Aren't we have any better option?

[2016-05-11 15:56] jeremy commented on #24976
@nateless Better in what sense? When state changes, you need to broadcast it out to everyone who has stale state. You can built a sophisticated state syncing mechanism, or you can invalidate stale state and start fresh. One system is probably going to be easier to build, debug, and reason about than the other 😊

[2016-05-11 15:59] jeremy commented on #24876
@djvs By response lag do you mean that traffic on the WebSocket seems slow or is stalling? Have you troubleshooted in dev tools or wireshark?

[2016-05-11 16:02] djvs commented on #24876
I mean ordinary HTTP back and forth traffic stalls.  The request gets sent but doesn't go through (e.g. reflect in console output) for a good 10 seconds.

[2016-05-11 16:07] merhard opened #24979 "Model using ActiveRecord::Attribute with default value not backed by database cannot be saved"
### Steps to reproduce
[code]
### Expected behavior
Model should be able to save regardless of attribute having a default value.

### Actual behavior
[code]

### System configuration
**Rails version**: `master`

**Ruby version**: `2.3.1`

[2016-05-11 16:17] jeremy commented on #24876
@djvs Browsers have a limit on max connections per host that you may be hitting. You'll need to dig into web inspector to see what's happening with your network connections with greater precision. This is unrelated to this issue, however 😊

[2016-05-11 16:24] andrewarrow commented on #24933
good point. I tried a simple example and got same result as you. It must be something to do with https://github.com/doorkeeper-gem/doorkeeper gem I'm using in a more complex project. I'll close issue. Thanks.

[2016-05-11 16:24] #24933 closed

[2016-05-11 16:34] dodeja commented on #24979
Is this related to this? All my builds using RC1 on codehship are failing. Not locally though, which is a bit odd.

[code]

[2016-05-11 16:45] merhard commented on #24979
@dodeja I don't think so...

You get that error usually if you are accidentally treating a string like a hash:
[code]

[2016-05-11 17:06] zspencer commented on #23422
I have also ran into this issue; running the latest production release of rails 4.

It was very surprising that that when we used the `references` method to tie to a tables with a uuid id it created integer fields.

[2016-05-11 17:56] joecannatti commented on #24893
Just want to make sure that this didn't get lost because it was opened during Railsconf.

[2016-05-11 18:05] tenderlove opened #24981 "RFC: Simplify code reloading by way of fs-events and forking"
Our auto-reload code has always been a pain for maintenance and it's very difficult to understand.  I'd like to propose a change to the way we do reloading.
## General idea

Run a forking server in development.  The parent process can pre-load framework code and gems.  Child processes will load application code via normal methods like `require` and `autoload`.  If our FS monitor detects anything c

[2016-05-11 18:06] jeremy commented on #24981
REP #1

[2016-05-11 18:26] maclover7 commented on #24981
I will look into "strategizing" the current file update checker, and trying to provide a nicer public API for people to implement.

[2016-05-11 18:26] fxn commented on #24981
The main issue I see is that one of the main goals of autoloading is precisely not to have require calls. Just program as if the app was preloaded. This is one of the original motivation of @dhh.

Autoloading would be way easier and would match Ruby semantics if `Kernel#autoload` worked for our use case. The idea would be to walk `config.autoload_paths` and issue `autoload` calls in `Object` or na

[2016-05-11 18:29] tenderlove commented on #24981
@fxn I'm not proposing that we make any change about using `autoload` or `require`.  We keep all those the same.  I mean we quit keeping track of what constants to reload when a file changes and just let forking take care of it.

[2016-05-11 18:31] djvs commented on #24876
Isn't AC one persistent connection?   That's the only thing that provoked this new behavior, the upgrade to 5.0.0.beta4 and addition of AC connections. (one subscription app-wide).  And see above about AC output right after the lag ends - if I see it again I'll post that output here, I'm pretty sure it's the cable subscription stuff itself.

[2016-05-11 18:33] fxn commented on #24981
@tenderlove Ah! I interpreted that

meant that child code would use manual `require`s to load application code and do not autoload, only code reload would be implemented by forking again.

[2016-05-11 18:52] tenderlove commented on #24981
@fxn right. I don't want to mess with any requires or autloads, only touch our reloading stuff. 😄

[2016-05-11 18:59] sblackstone commented on #24970
If you create the image in app/assets/images and then do something like -

image_tag('i-0000000') - you should end up seeing the generated url with the sprockets suffix - worked ok here in RC1...

[2016-05-11 19:35] rstacruz commented on #24970
Hmm, I'm having trouble reproducing the issue now.. The image_tag helper
seems to be fine in a fresh app. I'll try to isolate it.
On May 12, 2016 3:00 AM, "Stephen Blackstone" <notifications@github.com>
wrote:

If you create the image in app/assets/images and then do something like -

image_tag('i-0000000') - you should end up seeing the generated url with
the sprockets suffix - worked ok here in

[2016-05-11 19:58] jeremy commented on #24876
@djvs Please post in a separate GitHub issue once you've gathered clear specifics about the behavior you're seeing! This issue is exclusively for tracking feature development, not for app troubleshooting.

[2016-05-11 20:12] merhard commented on #24979
Since `master` now points to `5.1`, I want to be clear that this affects `5.0` as well as `5.1`

[2016-05-11 20:19] hmistry opened #24983 "Rails Update Misses Feedback"
I recently updated my Rails project from 5.0.0.beta2 to 5.0.0.rc1 using `rails rails:update`. Here's a list of things where it missed or did not provide feedback.

I resolved this manually but posting only to provide you with feedback. Hope this helps.

Context:
- I used http://railsdiff.org/5.0.0.beta2/5.0.0.rc1 to see the difference of new vs old.
- My project is configured to use SASS, HAML, an

[2016-05-11 20:28] thedarkone commented on #24981
Platforms that don't support forking generally don't do so because they have parallelism and things like JITs. Isn't Rails (or Ruby) moving in a direction of having or relying on those things?

Yes, views are handled differently, but forking will always bust their caches (evaled templates).

[2016-05-11 20:35] tenderlove commented on #24981
Possibly MRI will have a JIT in the future.  But I don't think that worrying about that is a good reason to block this.  Our reloading code is a notorious for headaches and if leveraging tools like `fork` will help us simplify it, then I think we should use those tools.  I don't want to ignore a technology based on "what-ifs".

Regardless, if we use a strategy pattern, then we can switch in the ev

[2016-05-11 20:50] joenio commented on #20678
related to #6944

[2016-05-11 20:58] fxn commented on #24981
Another possible challenge I see (at least as things work today) is that routes are loaded during the initialization process, and they may autoload constants. Not saying it cannot be addressed, only adding to the list of gotchas.

[2016-05-11 21:10] phlegx opened #24985 "redirect_to ignores cache and destination url is still stale."
### Steps to reproduce

`redirect_to` ignores cache and destination url is still stale. I have a post action that redirects to another path on success. The problem is, that the destination path always has set the cache control to no-cache even if the cache control is set in the destination path controller action.

### Expected behavior
`redirect_to` in controller action redirects like expected but

[2016-05-11 22:36] haggen commented on #24922
Rails `new` command API says the first argument is the application path. Incidentally it used to accept `.` as valid argument, now I get the error mentioned in this issue:

[code]

Creating an unnamed application in the current directory is deprecated?

[2016-05-11 23:20] pihman opened #24987 "has_many / has_one polymorphic associations generate error on join"
After upgrading from Ruby 2.2.4 => 2.3.1 (Rails 3.2.22) , ActiveQuery joins between polymorphic has_one/has_many associations raise errors.
### Steps to reproduce

[code]

The polymorphic association works fine when invoked from a single instance:

[code]

But fails when invoked via an ActiveRecord query:

[code]
### Expected behavior

The ActiveQuery should run a query and return a list of Addres

[2016-05-12 00:02] maclover7 commented on #24985
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-12 00:03] maclover7 commented on #24987
Rails 3.2 is no longer supported for bug fixes. Does this error occur on Rails master?

[2016-05-12 00:55] phlegx commented on #24985
@maclover7 please delete this issue. **It is invalid!** Sorry.

[2016-05-12 00:55] #24985 closed

[2016-05-12 02:00] #24979 closed

[2016-05-12 02:12] mgomes opened #24990 "Controllers and models don't reload in dev with Puma Workers enabled"
### Steps to reproduce

1. Create a new Rails 5.0.0rc1 app
2. Create a dummy route, controller, and controller action
3. Uncomment the `workers ENV.fetch("WEB_CONCURRENCY") { 2 }` line from `puma.rb`
4. `rails server`
5. Visit your action
6. Introduce an exception into the action
7. Re-visit the action

### Expected behavior
The new exception that was introduced should be raised.

### Actual behav

[2016-05-12 04:26] sgrif commented on #24893
It wasn't lost

On Wed, May 11, 2016 at 1:57 PM Joe Cannatti <notifications@github.com>
wrote:

[2016-05-12 04:28] sgrif commented on #24893
<img width="253" alt="screen shot 2016-05-12 at 12 27 10 am" src="https://cloud.githubusercontent.com/assets/1529387/15204151/61a37db4-17d8-11e6-8367-39fa56c61d14.png">

Your patience is appreciated though. There's a backlog to work through, and I'm not officially back until Monday. :)

[2016-05-12 07:43] marcusg opened #24993 "Regression on 5.0.0.beta4 with JSONB columns and #changes method"
The ```changes``` method returns for changes JSONB-columns when there was no change actually. This happens in combination with Model#serialize and simple presence validation.

### Steps to reproduce

The test is green against Rails 5.0.0.beta3 and fails with 5.0.0.beta4 and rc1.

[code]

### Expected behavior
Rails 5.0.0.beta3 behavior :) Only track changes if there are any.

### Actual behavior
C

[2016-05-12 12:38] maclover7 commented on #24993
Working on a `git bisect`.

[2016-05-12 12:39] maclover7 commented on #24993
https://github.com/rails/rails/commit/efaa6e4f79d457c2cdd08cbc56d63bc972a6993c is causing this, cc @sgrif

[2016-05-12 13:12] #24993 closed

[2016-05-12 13:48] RTJ opened #24995 "Rails g controller Access denied (Mysql2::Error)"
### Steps to reproduce
`rails db:create # ( OK )
rails db:migrate # ( OK )

 Created database 'test_development'
 Created database 'test_test'`

### **`rails g controller Demos new create destroy`**

`/home/vagrant/.rvm/gems/ruby-2.3.1/gems/mysql2-0.4.4/lib/mysql2/client.rb:87:in `connect': Access denied for user 'root'@'localhost' (using password: NO) (Mysql2::Error)
        from /home/vagrant/.r

[2016-05-12 14:23] nateless commented on #24976
@jeremy better in sense of not restarting like 10+ subscriptions with reinitialization because we need to update one variable (which is going to be on the client too, when he might be in the middle of something). It's a hack not a solution. And we will see more questions like this one for sure as soon as big projects will start to move to WS.

How you guys handle such thing in Basecamp, don't you

[2016-05-12 14:43] brauliobo commented on #20678
related to https://github.com/rails/rails/pull/21908

[2016-05-12 15:14] jeremy commented on #24976
I get why reconnection feels like a hack to you. To me, the hack is
designing a system that encourages stale state and then designing a
sophisticated state sync mechanism to address it.

Action Cable is responsible for implicitly suggesting this by hanging on to
user/account/etc from when the connection was initiated. Apps are
responding by using connection/channel state without regard for their
s

[2016-05-12 15:52] alagos commented on #24288
I'm getting the same error but in circle ci:

[code]

[2016-05-12 15:53] colinramsay opened #24999 "Undefined method `start' for #<Thread:0x007fc17f821ca0>"
### Steps to reproduce
I started working on a new Rails 5 RC1 project with the --api flag. I see this problem when I run `bin/rails routes`.

### Expected behavior
Routes should be shown

### Actual behavior
An error is thrown:

[code]

### System configuration
**Rails version**: 5.0.0.rc1
**Ruby version**: ruby-2.3.1
**Gemfile.lock**: http://pastebin.com/raw/cFgHp6Qu

I have tried this with liste

[2016-05-12 15:56] vipulnsward commented on #24288
@alagos this has been fixed with new release https://github.com/rails/rails/pull/24685

[2016-05-12 15:57] rafaelfranca commented on #24995
Can you please provide a sample application that reproduces the error?

[2016-05-12 16:07] rafaelfranca commented on #24999
Can you please provide a sample application that reproduces the error?

[2016-05-12 16:15] colinramsay commented on #24999
https://github.com/colinramsay/rails-24999

I use rvm so it's set up to create a new gemset and use ruby 2.3.1 via the config files. If you do that then you should be able to run `bundle install` then `bin/rails routes` to see the problem.

FWIW I am on OSX 10.11.3 (15D21).

[2016-05-12 16:43] sblackstone commented on #24999
[code]

[2016-05-12 17:05] sblackstone commented on #24858
@jeroenvisser101 Confirmed working...

[2016-05-12 18:18] fedeest commented on #22557
Hi, sory for reviving this after to long, but I've been having this same issue and doing what @jgross206 said:
`sudo sysctl -w net.ipv4.tcp_retries2=5`
Worked quite well. But, well, this is not something really clean and nice. Is there any way to set this in the ActiveRecord options or make it specific por the application and not system wide?

[2016-05-12 18:21] vipulnsward commented on #24999
Strangely this is loading listen version: 1.3.1 for me, on this App, that is causing the issue. Gemfile has 3+ version.

[2016-05-12 20:15] jeroenvisser101 commented on #24858
@sblackstone thanks a lot :)

[2016-05-12 20:17] jeroenvisser101 commented on #24858
@maclover7 any idea how to proceed? Should I add tests? (and if so, how would I do that exactly?)

[2016-05-12 21:20] elia commented on #20752
@tenderlove can confirm it's development only. Would it be ok to just add some API to the `AV::PathResolver` for expiring the paths cache and then use it from the FS watcher?

I've gained another 1.2s (on another page) doing pretty much the same with Sprockets paths (see below), would that approach be ok for Sprockets too?

Alternatively the FS calls could be delegated to some kind of FS wrapper.

[2016-05-12 21:40] elia commented on #20752
uuugh, I'm dumb, I accidentally tested caching everything in sprockets (this is not vendor `CACHED_RAILS_VENDOR_PATH = Rails.root.to_s`), so the gain above is what _could_ be gained if sprockets was to use the FS watcher instead of constantly checking the mtime of all the dependent assets. After fixing the two constants the Sprockets hack isn't yielding any significant gain 😞.

[code]

[2016-05-13 06:55] nicohvi opened #25005 "Request format not set when Content-Type is application/json"
### Steps to reproduce

Simply create a new rails project `rails new demo`, create a random controller, and call it using f.ex. Postman.

### Expected behavior

I'd expect the request.format to be `json`, but instead it's nil.

### Actual behavior

The format is `nil`

![screen shot 2016-05-13 at 08 53 51](https://cloud.githubusercontent.com/assets/430875/15240201/43a595d4-18e8-11e6-874d-ad2183c0e

[2016-05-13 10:55] swaathi opened #25007 "Wrong number of arguments (3 for 0..1) with link_to"
### Expected behavior
`link_to` should allow me to pass more than one parameter.

### Actual behavior
`link_to` now allows me to pass only one parameter. So I can do things `link_to board_path(@board)` but not `link_to groups_board_path(@group, @board)`. Or even, `board_url(@board, format: :json, subdomain: current_domain.name)`. This is the error I'm getting,

`ActionView::Template::Error: wrong

[2016-05-13 12:20] tyler6699 commented on #24990
I have experienced a similar issue with Docker and my Rails 5 app, classes appear to cache, restarting the app multiple times eventually fixes the issue. So I am not using Docker in dev at the moment.

I uncommented the line of code (point 3.) and I get the same issue I had using Docker. Not sure if this is related to my issue in Docker or not but will keep an eye on this issue.

[2016-05-13 13:06] al2o3cr commented on #24987
@pihman Can you paste a complete stack trace? That `TypeError` could be coming from lots of places, and it's difficult to troubleshoot without a trace.

[2016-05-13 13:15] RTJ commented on #24995
Hi, it was new app created with rails 5 rc1 and mysql db, i tried to create first controller.
For now i solved this problem removing root password in mysql.

[2016-05-13 13:30] maclover7 commented on #25007
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-13 13:31] maclover7 commented on #24990
cc @schneems @evanphx

[2016-05-13 13:47] kevinskoglund commented on #24949
I think it is acceptable for explicitly-declared Raw templates to be marked html_safe by default. The name "raw" indicates opting out of template processing, and it is fair for it to act like #raw() does.

The problem is that the default template handler is Raw now. I do not think it is a good idea for implicitly-selected Raw templates to be marked html_safe. It should be "secure by default".

Cur

[2016-05-13 13:51] colinramsay commented on #24999
@sblackstone if I remove brakeman, it works.

[2016-05-13 13:55] maclover7 commented on #25005
I think the header you are looking for here is `Content-Type`, not format 😬 https://gist.github.com/maclover7/053b466181f3ec3e9954b9a016f3aed9

[2016-05-13 14:24] tlrdstd opened #25010 "Rails 3.2.22.2 - Ruby 2.3 - Hash now responds to `to_proc` and `interpolate` blows up"
### Background

As of Ruby 2.3, [Hash responds to `to_proc`](http://ruby-doc.org/core-2.3.0/Hash.html#method-i-to_proc) This is [a change from Ruby 2.2](http://ruby-doc.org/core-2.2.0/Hash.html).

In ActiveRecord 3.2.22.2, the `interpolate` method (duplicated across [ActiveRecord::Associations::JoinDependency::JoinAssociation](https://github.com/rails/rails/blob/3-2-stable/activerecord/lib/active_

[2016-05-13 14:44] dschweisguth opened #25012 "Documentation of how to contribute to documentation is out of date"
http://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html section 3, "Contributing to the Rails Documentation" discusses docrails. I believe, based on a little searching around just now that docrails is no longer available. I believe the only current way of updating documentation is to open a PR on rails/rails. That section should be updated to only suggest opening a PR.

I would be hap

[2016-05-13 14:45] nicohvi commented on #25005
Hi Jon, thanks for answering!

That might very well be, but the controller still interprets the request wrong, no? Shouldn't it say `Processing by ItemsController as JSON` or something like that?

[2016-05-13 14:57] arthurnn commented on #25010
@tlrdstd thanks for letting us know.
We dont support rails 3.2 anymore. But i've been responsible for patching security level concerns there.
This is not a security issue, so we probably wont release a new version for it, however if you wanna work in a PR to fix it, i would be glad to merge it to 3-2-stable branch.

Thanks

[2016-05-13 16:12] sblackstone commented on #25007
Perhaps you mean,

`link_to board_url(@board), format: :json, subdomain: current_domain.name
`

[2016-05-13 17:40] qsona opened #25014 "`dependent: :destroy` may not work with default_scope"
Hello. I appreciate your work.
This is not a bug report, but I wonder the current behavior is desirable, so I'd like to ask you.

### Summary
I faced to a problem that I could not destroy an ActiveRecord object. The model of that object had a foreign_key constraint, and was specified `has_many xxx, dependent: :destroy`. The error was `Mysql2::Error: Cannot delete or update a parent row: a foreign

[2016-05-13 18:59] KudosX commented on #24999
that's weird.  I had the same error with 5.0.0.rc1 and removing brakeman also solved the problem.  Not sure how you figured out brakeman was causing the issue but, thanks a bunch!  I ripped out RVM and started using chruby so, thought my error had to do with that fiasco.

[2016-05-13 19:17] maclover7 commented on #25012
@rafaelfranca @vijaydev thoughts? I think we only use docrails internally now.

[2016-05-13 19:26] rafaelfranca commented on #24999
Closing since this is a issue with brakeman.

[2016-05-13 19:26] #24999 closed

[2016-05-13 19:26] maclover7 commented on #25014
To me this seems like expected behavior -- the end user is responsible for keeping track of how `default_scope`s influence queries. 😬

[2016-05-13 19:27] rafaelfranca commented on #25012
That section is still correct. It say "You can either open a pull request to Rails or ask the Rails core team for commit access on docrails if you contribute regularly.", so if you ask the core team commit access to docrails you will get it.

[2016-05-13 19:27] #25012 closed

[2016-05-13 19:30] rafaelfranca commented on #25007
Can you please provide a sample application that reproduces the error?

[2016-05-13 19:31] #25014 closed

[2016-05-13 20:23] jhanggi commented on #25010
I was running into a similar issue when testing against Ruby 2.3/Rails 3.2.22.2.

I have an association that could be soft-deleted, but when upgrading to 2.3, the conditions were no longer being respected and deleted items were being returned.

Essentially:
[code]

Thanks for digging in and finding out why. Your temporary workaround solves the problem for me as well.

[2016-05-13 20:24] jhanggi commented on #24987
Take a look over at https://github.com/rails/rails/issues/25010 They have a good explanation about what is likely the same problem and a workaround.

[2016-05-14 00:25] joelpresence opened #25017 "Do NOT return BigDecimal as string in JSON - breaks DynamoDB support"
### Steps to reproduce

First, thanks for all of your hard work Rails!

Amazon AWS DynamoDB stores *ALL* numbers as BigDecimal.  This is beyond my control and not something I can change.  I have a client app sending in arbitrary JSON data like the following:
[code]
Some of the field values are strings, some are floats and some are integers.  I am not doing anything with giant numbers or arbitrary

[2016-05-14 02:35] swaathi commented on #25007
I am actually not sure of what caused this to occur. I only pushed my latest code to production and this happened out of the blue. I had to change all the paths in my entire code base to something that was hardcoded because I couldn't figure it out at all. After 30 hours, I updated Rails from `4.2.3` to `4.2.5` and everything started working! All the `link_to`s I used earlier started to magically

[2016-05-14 04:07] rafaelfranca commented on #25007
No. There is not. I never saw this bug before and we have tests to assert this behavior. I'm guessing it was some kind of gem in your project.

I'm closing since it is not a bug in Rails. Thanks.

[2016-05-14 04:07] #25007 closed

[2016-05-14 04:31] rafaelfranca commented on #25017
Thank you for the report. If you need that behavior use the gem recommended in the deprecation message.

[2016-05-14 04:31] #25017 closed

[2016-05-14 04:45] rafaelfranca commented on #24995
I tried to reproduce and could not so I think it is something in your environment. Let me know if you know a way to reproduce this and I'll reopen the issue.

[2016-05-14 04:45] #24995 closed

[2016-05-14 07:32] jeremy commented on #19793
Implemented https://github.com/rails/rails/pull/25018

[2016-05-14 07:32] #19793 closed

[2016-05-14 09:02] sevaorlov commented on #21096
the problem is actually that table name is specified as a symbol, if you specify it as a string `'races_professions'` test will pass. I think it needs to be fixed as it is not clear that specifying table name as symbol can lead to a problem.

I see three possible solutions:
1) do not allow to specify table name as symbol, give descriptive error.
it is not documented that there is a possibility to

[2016-05-14 09:40] sevaorlov commented on #17904
that seems to be related to https://github.com/rails/rails/issues/22538, but in my PR I only merge joins in scopes

[2016-05-14 10:42] matkoniecz opened #25019 "Misleading minimal version in "Getting started" for 4.2.6 (or compatibility of 4.2.6 Rails with Ruby 1.9.3 was unintentionally broken)"
### Steps to reproduce

Open http://guides.rubyonrails.org/
Select http://guides.rubyonrails.org/getting_started.html
Run `rails new blog`
It results in

full gist: https://gist.github.com/matkoniecz/6fc20378d7c74d0529b677d3d8499cb6

### Expected behavior
Following http://guides.rubyonrails.org/getting_started.html is possible on systems with minimal listed requirements (including `The Ruby langua

[2016-05-14 11:33] tvanderpol commented on #25019
I'm trying to get a handle on some Rails issues and had a brief look into this. As per https://github.com/mime-types/mime-types-data/issues/1 The last version anyone needing to use ruby 1.9.x should depend on is 2.6.2 . Any higher and it'll require ruby 2.

What I can't work out is where the mime-type dependency comes from, it's clearly not a direct dependency for rails. I checked `rack-test` and

[2016-05-14 11:38] sevenseacat commented on #25019
It comes from the `mail` gem, which is a dependency of ActionMailer.

[2016-05-14 12:37] tvanderpol commented on #25019
In that case https://github.com/mikel/mail/commit/0277b8ee3204a3971fdfd6d92fd65ef80e9e9879 fixes it

[2016-05-14 13:24] matkoniecz commented on #25019
And in that case I reported duplicate of #24749

[2016-05-14 13:24] #25019 closed

[2016-05-14 14:12] qsona commented on #25014
Thank you. We should be careful of it - or avoid using default_scope 😭

[2016-05-14 14:22] maclover7 commented on #21096
It looks like we do a `to_s` on the `table_name` --> https://github.com/rails/rails/blob/master/activerecord/lib/active_record/model_schema.rb#L145

[2016-05-14 14:29] nicohvi commented on #25005
I think the problem is that I'm simply using the wrong header. If I change the header to be `Accept`, then Rails sets the mime type correctly. I suppose this is line with the HTTP [spec](https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation).

[2016-05-14 14:33] maclover7 commented on #25005
👍 not a bug in Rails?

[2016-05-14 14:38] nicohvi commented on #25005
Correct, Jon!

I had misinterpreted the use of the `Content-Type` header, which is a header of the **content** and **not** the request itself. To specify what the client wants received from the server the `Accept` header is the correct choice.

[2016-05-14 14:38] #25005 closed

[2016-05-14 14:59] maclover7 commented on #25005
👍

[2016-05-14 15:42] sevaorlov commented on #21096
@maclover7, I didn't realise that it is not a documented way to set table name. In this case I think there is nothing to fix, if someone override some AR method, then Rails can not do anything with it. Do you see any solution here?

[2016-05-14 16:12] maclover7 commented on #21096
I think if people are overwriting AR methods, then they have to keep in mind the consequences when doing that 😢.

[2016-05-14 16:51] matkoniecz commented on #1769
Why it is closed? #23138 is not merged and it is explicitly documented as existing bug in http://guides.rubyonrails.org/v4.1/routing.html

[2016-05-14 19:02] joelpresence commented on #25017
@rafaelfranca thanks for responding.  :-)

Look, I don't mean to sound like a whiner and I'm not arguing for the sake of arguing.  But I feel disappointed by this response to be honest.  The decision to remove `encode_big_decimal_as_string` breaks literally thousands or tens of thousands of active production rails apps that use the very popular Amazon DynamoDB.  Removing this option was a step bac

[2016-05-14 19:31] SylarRuby opened #25021 "Rails 5.0.0.rc1 image_tag issue on Heroku"
Ruby 2.3.0

Whenever I have added a new image then the code `<%= image_tag("o-section/mascot.svg") %>` I get an error in the heroku logs:

This is due to the `image_tag`. Remove this line the website loads. I can confirm that the image is uploaded to heroku.

Any help? Works ok with Rails 4.2.6

[2016-05-14 19:38] schneems commented on #25021
I'm guessing one of those characters is not what it seems. Maybe a mismatched quote perhaps? Try deleting the string and re typing it. Does the problem happen locally? Can you give us an example app that reproduces the problem?

[2016-05-14 19:41] SylarRuby commented on #25021
@schneems All green lights locally. If I remove `image_tag`, the website loads, I dont understand.

[2016-05-14 19:43] schneems commented on #25021
Try deleting the string and re typing it. Can you give us an example app that reproduces the problem?

[2016-05-14 19:53] SylarRuby commented on #25021
@schneems not sure what you mean by giving an example. A gist? Deleting/re typing still no difference.

[2016-05-14 19:58] schneems commented on #25021
Go into a new directory run `rails new example_app` add that line to a view and make sure the problem reproduces on Heroku. If it does upload it to github and link to it on this thread.

[2016-05-14 21:24] rafaelfranca commented on #25017
The gem was extracted from the Rails framework. It is still maintainer and will be maintainer as any other gem that was extracted. We don't have plans to integrate it again. You can find more about this decision here https://github.com/rails/rails/pull/12183. I was not involved on it so I'll defer to @chancancode the decision to reopen this issue or not.

[2016-05-15 00:12] yawboakye commented on #24041
@mwangm Can you help me understand why the connection should be repaired? Since `pg_terminate_backend` is a deliberate action to terminate a connection to the database, and not run by the database server itself, it appears to me that that should be respected. You can always re-connect by restarting your server.

[2016-05-15 05:41] SylarRuby commented on #25021
@schneems Turns out it was triggered by a js function:

[code]

instead I should of had:

[code]

White this solved the issue, new changed were not compiling. With Rails 4+, it was. Since I'm using Rails 5, I had to `rake assets:precompile`, then push to heroku. All is well now.

[2016-05-15 05:41] #25021 closed

[2016-05-15 10:13] prathamesh-sonpatki commented on #24987
r? @arthurnn

[2016-05-15 10:22] prathamesh-sonpatki commented on #24983
@hmistry Thanks for the report. But Rails update task does not guarantee automagically replacing files or configs during upgrades between beta to beta or beta to RC releases. It is guaranteed during upgrade from one major release to another.  This is because things keep changing between beta and RC releases. (Example - cable.coffee to cable.js)

Also check discussion on https://github.com/rails/ra

[2016-05-15 10:22] #24983 closed

[2016-05-15 10:24] prathamesh-sonpatki commented on #24990
@mgomes Can you also post the version of Puma gem that you are using?

[2016-05-15 10:31] prathamesh-sonpatki commented on #24969
@fubarius According to https://github.com/rails/spring#watching-files-and-directories - Spring will detect file changes to any file loaded when the server boots. Changes will cause the affected environments to be restarted.

So if you have referenced `Bar` in any of the existing files **after** adding `app/foo/bar.rb` it should restart the server. Can you try to upload a sample application on Gith

[2016-05-15 12:50] GRoguelon opened #25025 "ActiveModel::Errors[5.0.0.rc1] - difference between messages and details attributes"
Hi,

I identified a weird behavior and I think it could be a bug. The problem is located on the validation of a record and a belongs_to association with required option to true.

### Steps to reproduce

[code]

### Expected behavior
I saw the belongs_to instruction adds a required presence with the message `required`, I guess by consistency, the details hash should contain an error `required`.

##

[2016-05-15 14:17] mgomes commented on #24990
Puma 3.4.0.

[2016-05-15 14:28] maclover7 commented on #25025
I think the `details` hash contains "what happened" that caused the error -- in this case the post for the comment was `blank`. If more documentation could be added here to make this clearer, please do send in a PR!

Lightly edited reproduction script available here --> https://gist.github.com/maclover7/7ffbee848b2ca84dc4ff66331716bcf9, as well as documentation available here --> http://edgeguides

[2016-05-15 14:29] morgoth commented on #25025
This is because presence validator is used https://github.com/rails/rails/blob/a4b3c78e8619ba84625ceb83118915ef36ec2cfc/activerecord/lib/active_record/associations/builder/belongs_to.rb#L137
Not sure if this is a bug. It might be a little confusing as generated message is different than in presence validator by default

[2016-05-15 15:06] Nondv opened #25027 "Documentation on engine decorators"
Hello everyone!

[link](http://edgeguides.rubyonrails.org/engines.html#overriding-models-and-controllers)

I think it would be good to add advice to add decorators directory to `Spring.watch`.
Today I was facing some problems with it and at last I realized that problem was that Spring does not watch decorators.

It is not related to engines or decorators directly, but it would be nice and confy to

[2016-05-15 15:18] rafaelfranca commented on #25025
Yes, it is not a bug. `:required` is a message, like `"Something is required"`. It is a free text that in this case it was chosen to use the i18n feature. details is about the cause of the error, not the message. The cause is the attribute being blank and that is correctly set in the details hash.

[2016-05-15 15:18] #25025 closed

[2016-05-15 15:23] rafaelfranca commented on #24969
Spring only detects changes in the autoload paths that are defined when the server was booted. In this case `app/foo` was not in the autoload paths yet because it didn't exist. When the file is added spring server don't know about that path yet.

[2016-05-15 15:41] GRoguelon commented on #25025
Ok, thanks a lot for your answers. Effectively, maybe a few of documentation could be added. I will see if the guide can be improved on that.

[2016-05-15 15:45] prathamesh-sonpatki commented on #24969
@rafaelfranca True. But when some already existing file refers to `Bar` it should restart the server right?

[2016-05-15 15:50] rafaelfranca commented on #24969
yes. If  `app/foo` existed when spring was started and you add a `bar.rb` file it will work fine.

[2016-05-15 16:09] rafaelfranca commented on #25027
Thank you for reporting. Feel free to submit a pull request. That guide is work in progress and may have incomplete/incorrect information so we can't consider it a bug.

[2016-05-15 16:09] #25027 closed

[2016-05-15 16:29] prathamesh-sonpatki commented on #24969
@rafaelfranca I meant to say, at boot time `app/models/post.rb` existed. Then we create `app/foo/bar.rb`. Spring it not affected by this. Now we edit `post.rb` and refer to `Bar` which is defined in `app/foo/bar.rb` then the server should get restarted. I wanted to ensure the OP followed this sequence or not.

[2016-05-15 16:33] rafaelfranca commented on #24969
No. That is not going to work. `app/foo` is not in the autoload paths so spring will not restart because that file was added.

[2016-05-15 16:35] rafaelfranca commented on #24969
The OP will get exactly what was described in the issue, but that is expected behavior. The autoload paths are loaded only in the boot time and new directories added to it will not be recognized until the server is restarted.

[2016-05-15 16:39] prathamesh-sonpatki commented on #24969
ok. I think I may be misunderstanding but editing `post.rb` and referencing `Bar` constant then I thought it should restart the server because `post.rb` was present at boot time. But I will do some research about my understanding.

We can close this issue if this expected behavior.

[2016-05-15 16:46] rafaelfranca commented on #24969
Changing files doesn't restart the spring server, only creates a new client.

[2016-05-15 16:46] #24969 closed

[2016-05-15 16:52] notrab commented on #24970
Also unable to replicate in 4.2.6 and RC1.

[2016-05-15 18:56] sevaorlov commented on #24887
default scopes are merged here https://github.com/rails/rails/blob/dc925119a3912ecfe0df400007163f33b99d6385/activerecord/lib/active_record/associations/through_association.rb#L18 with `ActiveRecord::Relation::Merger`. We can merge them in reverse order there without `Merger`. @sgrif, does that sound good for you? I can create a PR.

[2016-05-15 22:44] uhomira commented on #23699
:+1: We are also running into this issue (jruby 9.1.0.0 / Rails 4.2.6)

[2016-05-15 22:50] hmistry commented on #24983
@prathamesh-sonpatki Yep I was not expecting it to automagically upgrade. I tried the feature and provided feedback where it fell short so the team can look into it depending on time and resources. I was pleased to see that it performed as well as it did.

I'll pass the nice to have feature to the mailing group.

This sounds contradictory. If this is not for upgrades from old applications, then wh

[2016-05-16 00:44] tlrdstd commented on #25010
I've started working on a patch for this. Ran out of time this weekend, but at a quick glance, it does appear that several of the sqlite3 tests for ActiveRecord pass under Ruby 2.2 but fail under Ruby 2.3, which gives me hope for uncovering all the places affected by `Hash.to_proc`. I'll keep working on it this week.

[2016-05-16 04:03] prathamesh-sonpatki commented on #24983
@hmistry Because those are breaking changes for old applications. See https://github.com/rails/rails/pull/22663#issuecomment-165811499 and https://github.com/rails/rails/commit/c9c5788a for the reasons behind why these are breaking changes for older apps.

In case of `config/initializers/ssl_options.rb` you will get a [deprecation warning] (https://github.com/rails/rails/blob/e35b98e6f5c5433024564

[2016-05-16 05:01] grosser opened #25029 "Rake should not be loaded when I start a server/console/runner"
In rails 4.2.6 rake is not loaded which saves ~100ms of startup time ... in rails 5 it is loaded by https://github.com/rails/rails/blob/master/railties/lib/rails/commands/rake_proxy.rb#L1

Removing it keeps runner/console/server working ...
using `autoload :Rake` does not solve it since during the boot process `module Rake` is used which triggers the autoload ... alternatively make rake require la

[2016-05-16 05:03] rafaelfranca commented on #25029
cc @kaspth if you want to fix. Otherwise I'll have a look when I can.

[2016-05-16 10:58] PiotrMisiurek commented on #24990
We also have this issue with puma 3.4.0

[2016-05-16 13:04] matkoniecz opened #25032 "http://guides.rubyonrails.org/security.html - "To date MD5 is uncompromised""
### Steps to reproduce

visit http://guides.rubyonrails.org/security.html

### Expected behavior

http://guides.rubyonrails.org/security.html contains up to date information

### Actual behavior

http://guides.rubyonrails.org/security.html contains claim that MD5 is uncompromised

### System configuration

**Rails version**: 4.2.6

**Ruby version**: not relevant

According http://stackoverflow.com

[2016-05-16 13:10] vipulnsward commented on #25032
@matkoniecz would you like to work on updating it?

[2016-05-16 13:20] matkoniecz commented on #25032
@vipulnsward I was reading http://guides.rubyonrails.org/security.html because I know nothing about this topic. O would be a able to make something but I would need to base it on other up to date guide on matching license. Can you point me to something like that?

[2016-05-16 13:48] sgrif commented on #24887
Hm. I agree that the proposed order is better than what we're doing now, but this would be a pretty big breaking change. We'd need to at least have a deprecation cycle and I'm not sure if we can easily do that. @rafaelfranca WDYT? I like the proposed behavior but I'm not sure it's worth the breaking change

[2016-05-16 15:05] DavidMikeSimon commented on #24887
@sevaorlov

I have the beginnings of a possible fix here:

https://github.com/DavidMikeSimon/rails/commit/9874260a29ed93b5c74b543301c26da84a9ec5f0

Instead of not using Merger, it adds `:order` to the list of excluded scope properties, then handles it manually elsewhere. This makes my tests pass for `default_socpe` and for association lambdas, and for both of those in combination in either order.

[2016-05-16 15:15] sgrif commented on #24893
Can you see if this issue is reproducible in 5.0.0.rc1? I believe this has already been fixed

[2016-05-16 15:55] jon2992 commented on #22074
Just glancing, it looks like [this line](https://github.com/rails/rails/blob/v5.0.0.rc1/actionpack/lib/action_dispatch/routing/mapper.rb#L664) may be the problem. It's freezing that option as an empty string rather than pulling the config in and using it.

[2016-05-16 17:08] sgrif commented on #24981
If the main goal is to simplify the code base, doesn't having to keep two implementations defeat that entirely? It should be noted that windows doesn't support fork either, and we're the platform maintainers there.

[2016-05-16 17:29] sgrif commented on #24887
@DavidMikeSimon The problem isn't coming up with a fix. The change would be easy to make, but it would be a breaking change in behavior that I'm not sure we can make at this point

[2016-05-16 17:34] rafaelfranca commented on #24887
We did this change in Rails 4.0 and we had to revert. It was a really huge breaking change and I don't think we should do it again. See https://github.com/rails/rails/pull/16051.

[2016-05-16 17:34] #24887 closed

[2016-05-16 18:17] DavidMikeSimon commented on #24887
@rafaelfranca I don't think this is the same thing as issue #16051.

The problem is not with the general behavior of the `order` relation method, but specifically with the way that order is composed on :through associations. It's not surprising that `rel.order(:x).order(:y)` orders first by :x and then by :y.

But I definitely think it *is* surprising that when you look up an ordered child relatio

[2016-05-16 18:21] rafaelfranca commented on #24887
Not actually the same cause but definitely the problem. Changing this
behavior will be a huge break change with no feasible backward
compatibility path neither a deprecation path. It is a behavior that exists
for a long time and changing this behavior is not worth, although it is
less surprising.
On seg, 16 de mai de 2016 at 15:17 David Simon <notifications@github.com>
wrote:

[2016-05-16 18:36] kaspth commented on #25029
Sure, I can take a look at it ❤️

r? @kaspth

[2016-05-16 19:59] #25032 closed

[2016-05-16 23:53] tenderlove commented on #24981
@sgrif we're also having problems with deadlocking.  On platforms that don't support fork, we can also use `spawn`.  Spawners won't be as fast to boot, but should work on windows.

[2016-05-16 23:56] sgrif commented on #24981
Seems reasonable for the short term. Would it be possible to for us to maybe look at getting something upstream which could help us accomplish this with threads? It seems like we need some way to approximate run-to-completion semantics, either by being able to block on constant access, or by being able to lock on `require`...

[2016-05-16 23:58] tenderlove commented on #24981
@sgrif @matthewd is working with upstream, but so far the answer is "no".

[2016-05-17 00:01] sgrif commented on #24981
:disappointed:

[2016-05-17 03:20] Freaky opened #25045 "has_secure_password should check bytesize, not length"
[active_model/secure_password.rb](https://github.com/rails/rails/blob/869a90512f36b04914d73cbf58317d953caea7c5/activemodel/lib/active_model/secure_password.rb#L77):

[code]

BCrypt's length limit is 72 _bytes_, not codepoints.  This should be a `#bytesize` check, not a `#length` check.

Additionally, BCrypt also truncates after null bytes, allowing for an easy bypass of minimum/blank password chec

[2016-05-17 04:25] grosser opened #25046 "Overwriting minitest option parsing breaks minitest plugins that add options"
This is not a big issue for me, just something I noticed and that seems like a bad practice / will make it impossible for other gems to add their own minitest options ...
### Steps to reproduce

[code]
### Expected behavior

Allow other minitest plugins to add commandline options.
### Actual behavior

[code]
### System configuration

**Rails version**: 5.0.0.rc1 / Minitest 5.8.4

[2016-05-17 04:29] grosser opened #25047 "Highlight test success/failure with colors"
Detecting scripts / real users is pretty easy ($stdout.tty?) and done by many libraries, it would be a nice / helpful / shiny feature to show red/green test output by default ... there can be an opt-out for the x% that either love gray or have some strange config that is pty but does not support colors, but for everyone else that should be a great addition ...

### Steps to reproduce
Run a test

#

[2016-05-17 04:36] prathamesh-sonpatki commented on #25047
@grosser It should show the colors. This feature is present from beta 1.

Please check https://monosnap.com/file/NYDnixRpYVivqqlQaID86oVp3RmE50.

Are you using any other reporters with default test runner?

[2016-05-17 04:40] grosser commented on #25047
Yes! Had minitest-color installed ... now seeing some color, but the final result is still gray:

`2 runs, 1 assertions, 0 failures, 0 errors, 0 skips` ... how about making that green/red too ? :)

[2016-05-17 04:41] prathamesh-sonpatki commented on #25047
I will try to reproduce with minitest-runner in my app. It might be getting in conflict with default reporter.

[2016-05-17 04:56] prathamesh-sonpatki commented on #25047
@grosser Tested with minitest-color on older version of Rails and it does not show colors for last line.

https://monosnap.com/file/PEbpNstaVB5CH8nfxvrVQWQu5ue98E

Or are you suggesting to add it in Rails test reporter?

[2016-05-17 05:00] grosser commented on #25047
ah yes it's minitest/rg ... I got many gems ...
But yes, I'm suggesting to color the last line for an way to easily spot success or failure

[2016-05-17 05:06] grosser opened #25048 "Having require minitest/autorun in the test_helper causes duplicate runs"
Seems like rails is doing it's own runner now ... maybe set Minitest @@at_exit_hook_installed so it does not set another one ? (solved for me / tracked it down, but could be an annoying thing for other upgraders ...)

### Steps to reproduce

add require 'minitest/autorun' to test_helper

### Expected behavior
1 result printed or nice error message

### Actual behavior
duplicated output because tes

[2016-05-17 05:06] prathamesh-sonpatki commented on #25047
Sounds like a good idea. @kaspth Thoughts?

[2016-05-17 05:12] jaredmoody opened #25049 "link_to with method and confirm ignores method"
I'm having an issue in 5.0.0.rc1 where if I have both a method and specify confirm in a link to call, the method is ignored and a get request is sent instead of a delete.

For example, here's my erb and generated html:

[code]

[code]

If I remove the confirm, it works properly.

### System configuration
**Rails version**:
5.0.0.rc1
**Ruby version**:
2.3.0

[2016-05-17 07:14] thewatts commented on #25007
@swaathi, I'm in the process of upgrading an old app to Rails 4.2 (from 4.1).

I was having this same issue - found out an old gem was being included that was causing the issues, [`bartt-ssl_requirement`](https://github.com/bartt/ssl_requirement).

[2016-05-17 10:04] simi commented on #25045
Is this followup or dupe of https://github.com/rails/rails/issues/22617 and https://github.com/rails/rails/pull/22870?

[2016-05-17 11:38] Freaky commented on #25045
Bah, I searched but evidently neglected to delete `is:open`.  It was 4am, in my defence.

Neither mention the NULL byte thing.  `BCrypt::Password.create("\u0000super secure password") == "" # => true`.  Rails should strip any characters after NULL to guarantee its idea of what the password will be matches, er, what the password will be.

As for the error message, I agree "72 bytes" is going to be

[2016-05-17 12:41] kaspth commented on #25047
Isn't the fact that there are failures output enough to spot that?

<img width="454" alt="skaermbillede 2016-05-17 kl 14 39 10" src="https://cloud.githubusercontent.com/assets/350807/15322430/25d0b2e8-1c3d-11e6-9ef1-aa8292b12d22.PNG">

I'm fine with the last lines being white because some are about the run itself and doesn't really make sense to color.

Besides all that, this is really a feature r

[2016-05-17 12:41] #25047 closed

[2016-05-17 12:48] kaspth commented on #25048
Rails handles that for you with `rails/test_help` (which has included its own autorun setup since Rails 4: https://github.com/rails/rails/commit/5da4d5142a60edda0cb78071553993ee33bb8637).

Can you explain why you're requiring it? 😁

Closing for now.

[2016-05-17 14:09] sikachu commented on #25049
This seems like `jquery-rails` issue. Do you mind opening up an issue there? https://github.com/rails/jquery-rails/issues/new

[2016-05-17 14:24] sikachu commented on #25046
Thanks for reporting in. I think it's because we are using `OptionParser ` hence restricting the options that we're accepting. I think we can look into making it passing all options to underlying Minitest.

[2016-05-17 14:30] kaspth commented on #25046
Good find! Happens because we've unshifted ourselves to be the first minitest plugin that gets it's options processed: https://github.com/rails/rails/commit/b9465e8755509cc79ad7492914a26c8ac3884de0.

I've worked up a possible solution at #25055.

[2016-05-17 14:58] grosser commented on #25048
only required it by accident / because it was in there for a long time and did not cause any issues ... the problem is solved for me/my app ... just wanted to let you know in case there is a simple workaround or some nice way to show that this will not work ... tracking it down to the duplicate autorun took me a few minutes

[2016-05-17 15:01] grosser commented on #25047
Yeah true, it's kind of obvious ... just got used to it :D
I might try a PR, thanks for the quick reply!

On Tue, May 17, 2016 at 5:43 AM, Kasper Timm Hansen <
notifications@github.com> wrote:

[2016-05-17 15:57] rsov opened #25057 "ActiveRecord does not serialize properly with custom class"
### Steps to reproduce

1. Create a table with a integer column
2. Add `CustomDateSerialize` to the model to convert Date to integer (yyyymmdd)
[code]

### Expected behavior
Serializer should convert date to integer when writing to DB and then back to Date object when reading.
When doing:
[code]
Generated SQL should be:
[code]

### Actual behavior
Actual SQL is:
[code]
So the saved value ends up b

[2016-05-17 19:04] maclover7 commented on #25057
Can you condense your reproduction code, and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-17 19:24] matkoniecz opened #25058 ""The Live Http Headers plugin" is dead"
### Steps to reproduce

visit http://edgeguides.rubyonrails.org/security.html

### Expected behavior

http://edgeguides.rubyonrails.org/security.html  contains up to date information

### Actual behavior

Note that this project appears to be dead - see https://www.mozdev.org/bugs/show_bug.cgi?id=25944

Some currently used project may be mentioned.

### System configuration
**Rails version**: maste

[2016-05-17 19:24] matkoniecz commented on #25058
According to http://alternativeto.net/software/live-http-headers/ Firebug may be considered as a replacement. Is it correct?

[2016-05-17 19:26] rsov commented on #25057
@maclover7 sure, i'll give it a try

[2016-05-17 19:46] maclover7 commented on #25058
Wasn't your PR (#25052) just merged in, and the reference to this was removed?

[2016-05-17 19:50] matkoniecz commented on #25058
I noticed that there is an additional reference.

in https://github.com/rails/rails/blob/master/guides/source/security.md

[2016-05-17 19:53] maclover7 commented on #25058
Ok, I will push a patch to rails/docrails with a fix for this.

[2016-05-17 19:54] matkoniecz commented on #25058
@maclover7 Yes, should I mention Firebug or something else?

[2016-05-17 19:57] maclover7 commented on #25058
Yeah, sure. You can also rephrase the "web developer toolbar" part of the paragraph to talk about "developer tools" which are in most modern browsers now.

[2016-05-17 20:47] rsov commented on #25057
This seems to be an issue with the adapter

[2016-05-17 20:47] #25057 closed

[2016-05-17 21:55] ghost opened #25060 "[Docs] [Rails 4/Guides] Documentation on association option validate incorrect"
I started creating a pull request for this but couldn't decide on wording that I liked so i'm opening this instead.

In both the guides and in the rails 4 branch in activerecord/lib/active_record/associations.rb comments the validate association documentation says:

I would call this completely incorrect, though I could see people simply calling it misleading.

The new comments in activerecord/lib

[2016-05-17 22:02] jaredmoody commented on #25049
Will do, thanks.

[2016-05-17 22:02] #25049 closed

[2016-05-17 22:16] presidentbeef commented on #24999
* Brakeman should be added to Gemfiles with `require: false` since you don't want it running with the application
* There is apparently a conflict between the version of `listen` vendored by Sass (vendored by Brakeman) and the one explicitly added as a dependency.
* Next version of Brakeman won't load vendored dependencies immediately which may mostly avoid the Gemfile issue

[2016-05-17 22:52] eugeneius commented on #8937
The problem described in https://github.com/rails/rails/issues/8937#issuecomment-204641196 is actually https://github.com/rails/rails/issues/14493, and not this issue.

I think this can be closed, since it was fixed in v4.0.0 and hasn't regressed.

[2016-05-17 22:59] maclover7 commented on #25060
Can you open up a PR, so people can make comments and review any changes directly there?

[2016-05-17 23:08] #8937 closed

[2016-05-18 07:12] azul commented on #1769
@matkoniecz - it's documented as you said including a workaround with the url param. And there is a bug that may fix this in the longer run. I think that is why it's closed. #23138 will track the progress on the fix now.

[2016-05-18 07:32] istrasci opened #25062 "Rails 4 -- cannot drop all tables; disable_referential_integrity seems to be ignored"
### Steps to reproduce

Run the following code in either a rake task or in the Rails console.
[code]

### Expected behavior
Should drop all tables in the database specified for the current RAILS_ENV (`development` by default).

### Actual behavior
Errors out with message out dependencies, so `disable_referential_integrity` appears to not be working.
[code]

### System configuration
**Rails version

[2016-05-18 07:56] matthewd commented on #25062
This isn't a Rails issue; that's not what disable referential integrity does.

[2016-05-18 07:56] #25062 closed

[2016-05-18 15:47] kaspth commented on #25048
Interesting! Are you running your tests with `bin/rake test` or `bin/rails test`? Do the tests run twice with both of those commands or just one?

I have a feeling `bin/rake` will make them run twice if you require autorun: https://github.com/rails/rails/blob/b98c1f948903cef4bdd88a8d6777e480f5770d2f/railties/lib/rails/test_unit/testing.rake#L15

[2016-05-18 16:24] kaspth commented on #24875
This meaning no-op or unsubscribe + subscribe?

If the client attempts a subscribe but the server knows its already subscribed, what's the harm in the no-op? Is it because we can't know if the client was gone intermittently or if it was a true cut off that just didn't make it to the server?

[2016-05-18 16:38] kaspth commented on #24874
@arthurnn hey mr. `after_commit`, I found something right up your alley 😁

[2016-05-18 16:47] prathamesh-sonpatki commented on #25048
I had same issue of tests running two times in CodeTriage with `bin/rails test`. Removing `require 'minitest/autorun` solved the issue.

[2016-05-18 16:50] kaspth commented on #25048
Far as I can tell requiring `minitest/autorun` in `test_helper` is not something we explicitly supported before, it just happened to work. @prathamesh-sonpatki are you interested in investigating this some more? To figure out why tests run 2 times all of a sudden?

[2016-05-18 16:54] kaspth commented on #24874
@jeremy where are the exceptions swallowed? I figured it was in the callbacks run [here](https://github.com/rails/rails/blob/b98c1f948903cef4bdd88a8d6777e480f5770d2f/actioncable/lib/action_cable/channel/base.rb#L175), but I can't see anything being swallowed in there.

[2016-05-18 17:11] mordocai commented on #25060
@maclover7 Yeah, I can do that later today

[2016-05-18 17:20] prathamesh-sonpatki commented on #25048
Sure. I am travelling today. Can look into it tomorrow.

On Wednesday 18 May 2016, Kasper Timm Hansen <notifications@github.com>
wrote:

--
./prathamesh

 GITHUB <https://github.com/prathamesh-sonpatki> | | BigBinary
<https://BigBinary.com>

[2016-05-18 18:02] ktdmedia commented on #23072
Also running into this problem with 5.0.0.rc1

Just like @eman8519 described:

[2016-05-18 18:33] jeremy commented on #24875
Meaning don't try to take action in an uncertain state. Kick an error back to the client.

[2016-05-18 18:36] xn commented on #23072
I've had issues like this in the past. For me, it was resolved by removing unneeded autopath includes
like:

[code]

[2016-05-18 19:26] kaspth commented on #24875
Ah, got ya 👍

[2016-05-18 19:33] toobulkeh commented on #24990
Have you tried a `spring stop` command in another terminal?

[2016-05-18 21:23] #21808 closed

[2016-05-18 21:24] rafaelfranca commented on #21808
Fixed by #19428

[2016-05-18 21:33] etiennebarrie opened #25068 "class_serial increment at each request"
### Steps to reproduce

Clone https://github.com/etiennebarrie/class_serial or:

[code]

[code]

Then run the server, access `http://localhost:3000/ruby_vm/stat` and see `class_serial` being incremented at each request, e.g.:
[code]

In development, you have to warm the cache with one request first. Between the first and second requests, `class_serial` increments by more than 1, but then it also i

[2016-05-19 07:56] david50407 opened #25072 "ActiveRecord schema load with jsonb type failed"
### Steps to reproduce

Write `db/schema.rb` (paste from `rake db:schema:dump`) into new rails project (use pgsql as DB):

[code]

### Expected behavior

Load schema perfectly

### Actual behavior

[code]

### System configuration
**Rails version**: 5.0.0.rc1  with pgSQL 9.5.3

**Ruby version**: 2.3.0-p0

[2016-05-19 10:32] dreyks opened #25073 "5.0.0.rc1 weird performance issues"
I may be a little vague, but this is due to not fully understanding where to look. Maybe someone can provide me clues on that.

I have an app which I slowly move into ~> 5.0 state. Everything is going fine, but upon testing the app in semi-production environment I noticed, that rendering `application.html.erb` takes 30 to 50ms, while on 4.2.6 it takes 3ms. And overall the app is slower.

To measur

[2016-05-19 12:44] Javix opened #25074 "in `===': invalid byte sequence in UTF-8 (ArgumentError)"
I was processing DB records and got a weird value:
https://drive.google.com/open?id=0B9xwV2TklOdaRjNoYjNlZ3hKSFk

When calling `blank?` on the above String, I get the below error:
[code]

Reproduced on:
- Windows 7 x64
- Ruby `ruby 2.3.0p0 (2015-12-25 revision 53290) [x64-mingw32]`
- `activesupport-4.2.6`

Any idea on how to fix that ? Or it would be better to `gsub` all non-printable characters ?

[2016-05-19 13:38] david50407 commented on #25072
I found that `rake db:schema:load` also apply schema to `test` environment which is configured as using SQLite3. (only happens when using `development` environment)

After changes `test` to use pgSQL, everything is well, there's no bug.

[2016-05-19 13:38] #25072 closed

[2016-05-19 14:56] jeremy commented on #25073
Sounds like template lookup cache is getting expired.

Are your engines changing the view paths per request? You may be inadvertently blowing the cache.

Try stackprof to take a more detailed look: http://blog.scoutapp.com/articles/2015/09/16/profiling-rails-with-stackprof

[2016-05-19 15:03] hupf opened #25077 "Validation error details from :restrict_with_error failure contain translation instead of key"
### Steps to reproduce
I have a model with an association that has a ```:restrict_with_error``` rule:

[code]

### Expected behavior
For standard validations the error messages contain the translations and the error details contain the keys, as here with a blank error:

[code]

I'd expect it to be likewise when getting an error cause be the ```:restrict_with_error``` rule.

### Actual behavior
If

[2016-05-19 15:07] dreyks commented on #25073
Just a while ago, by adding some more profiling points I see that all that time is indeed lost to locating partials. Something like Lokating 10ms, actual rendering 0.5ms

The thing is, I didn't change anything except Rails5-specific things

The engines do not modify view paths, at least it's not intended. I'll give stackprof a try, thanks

[2016-05-19 15:36] jeremy commented on #25073
This is something to verify since it's the most likely culprit.

rack-mini-profiler does an excellent job of application-level perf profiling, for sure. StackProf is a bit lower level. It'll help identify exactly where the additional time is spent.

[2016-05-19 15:41] dreyks commented on #25073
Got you. Thanks, will try to find something

On 19 May 2016, at 18:39, Jeremy Daer <notifications@github.com> wrote:

The engines do not modify view paths, at least it's not intended.

This is something to verify since it's the most likely culprit.

seems that rack-mini-profiler does a descent job for me too

rack-mini-profiler does an excellent job of application-level perf
profiling, for sure. S

[2016-05-19 15:51] mollat opened #25078 "Rails.root encoding problem"
Just found some weird behavior with the Rails.root path while upgrading an app. Did not find anything on the web, so maybe someone here can tell me if this is a bug or a feature that I have to add 'force_encoding' to lots of lines... Thanks!

### Steps to reproduce
[code]
### Expected behavior
I expected to have equally encoded strings all over the application.

### Actual behavior
Rails.root give

[2016-05-19 19:47] maclover7 commented on #25077
Can you combine your examples and create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-19 19:47] maclover7 commented on #25074
Can you create an executable test script using one of the templates [here](https://github.com/rails/rails/tree/master/guides/bug_report_templates), that would demonstrate the problem you are seeing?

[2016-05-19 20:18] jesperrojestal opened #25081 "3.2.22.2 broke actionmailer"
### Steps to reproduce
simple [application](https://gist.github.com/jesperrojestal/c575ecdd8c50efde448014b00230c165)

Gemfile contains:
[code]

[code]
### Expected behavior
Should receive a mail to the specified address which works with 3.2.22.1

### Actual behavior
/Users/rk/tmp/bundler/ruby/2.2.0/gems/actionpack-3.2.22.2/lib/action_view/renderer/renderer.rb:14:in `render': uninitialized constant

[2016-05-19 20:44] maclover7 commented on #25081
Rails 3.2.x is no longer supported -- can you reproduce this on Rails master or other versions of Rails? 😬

[2016-05-19 20:45] rafaelfranca commented on #25081
Oh. This is a valid issue. r? @arthurnn

[2016-05-19 21:29] sgrif commented on #24819
I don't think we support using `reload!` in the console if `eager_load` is set to true.

[2016-05-19 21:50] djvs opened #25082 "ActionCable running without mount"
### Steps to reproduce
Create Rails app with functional channels, actioncable accepted origins, etc..  Omit `mount ActionCable.server => '/cable'` from config/routes.rb.  Observed in development environment.

### Expected behavior
No ActionCable server mounts

### Actual behavior
ActionCable server mounts

### System configuration
**Rails version**:
5.0.0.beta4

**Ruby version**:
ruby 2.3.0p0 (201

[2016-05-19 22:06] rglyall commented on #25082
Have you set `config.action_cable.mount_path` anywhere in your application?

[2016-05-19 22:18] matthewd commented on #24819
As long as `cache_classes` is false, it should *work*... but it does sound plausible that it'll ignore `eager_load`, and just unload things, leaving them to autoload when mentioned.

If that's the case, it should be fairly straight-forward to plug the desired behaviour into the Reloader. PRs welcome. :smile:

[2016-05-19 22:26] rafaelfranca commented on #25082
Action Cable auto mounts unless you set `config.action_cable.mount_path` to `nil`

[2016-05-19 22:26] #25082 closed

[2016-05-19 22:59] wadestuart commented on #24908
just giving a status on this,  I am in the middle of a site launch and will not be able to factor this for a few weeks.  If anyone else wants to take a shot please feel free else I will get a PR up as soon as I am able (work > pr =).   If this is too long for this to sit feel free to close and I can reopen after I get the PR ready.

[2016-05-19 23:47] djvs commented on #25082
Perfect, thank you
On May 19, 2016 6:58 PM, "Rafael França" <notifications@github.com> wrote:

[2016-05-19 23:58] dpwildboar opened #25083 "rails 5.0.0.rc1 --help option does not show anything other then options for new"
### Steps to reproduce

with:

rails --version
Rails 5.0.0.rc1

type at the command line any request to show command line options with --help

rails --help
Usage:
  rails new APP_PATH [options]

Options:
  -r, [--ruby=PATH]                                      # Path to the Ruby binary of your choice
                                                         # Default: /Users/wildboar/.rvm/rubies/ru

[2016-05-20 00:09] jeremy commented on #24874
@kaspth https://github.com/rails/rails/blob/a26a3a075637215c9028308436ca89cba8da2ed5/actioncable/lib/action_cable/connection/subscriptions.rb#L21-L22

[2016-05-20 00:16] dpwildboar commented on #25083
actually on further investigation i discovered the reason for the difference, and something i had not noticed before... it was because i was outside of a rails application directory when i did it with 5.0.0...  to me this is kind of confusing now that i have seen it.  in order to see various command line options i have to create, or find, a rails application?  why can't it show the expected result

[2016-05-20 00:27] arbw commented on #24219
Just in case someone else ends up here, I have had this happen when I used a :before_create callback, where the method it called saved the record.

[2016-05-20 00:29] djvs commented on #25082
One question I do need to ask - if I want to run two copies of A.C., ala this article (section "Running the Action Cable server on a different host or port") - is there a way to circumvent this and disable it for the main app, while other AC processes will still work?

https://www.phusionpassenger.com/library/config/nginx/action_cable_integration/

[2016-05-20 00:46] matthewd commented on #25082
Everything else in that document remains true; the explicit mount will still work fine after you opt-out of the automatic mount.

cc @FooBarWidget

[2016-05-20 03:53] rafaelfranca commented on #25083
Agree that this can be improved but right now this is the expected behavior. Do you want to open a pull request to change it?

I'm closing since it is not a bug.

[2016-05-20 03:53] #25083 closed

[2016-05-20 05:35] prathamesh-sonpatki commented on #25081
This is fixed by https://github.com/rails/rails/commit/68c76c6b09135f25d94d3.

@jesperrojestal Can you check `3-2-stable` branch and see if it resolves the error?

[2016-05-20 05:38] rafaelfranca commented on #25081
OMG! Thanks I forgot about it

[2016-05-20 05:38] #25081 closed

[2016-05-20 05:43] vipulnsward commented on #25060
Wording changes make it to http://guides.rubyonrails.org/association_basics.html after a release.

[2016-05-20 07:05] jesperrojestal commented on #25081
@prathamesh-sonpatki yes 3-2-stable works.

[2016-05-20 07:33] gamov commented on #16140
I've noticed this happening with my merges since Rails 4.0.
I don't understand @thedarkone idea to force an inner join. Do you mean:
[code]
In my case, this doesn't work, it **adds** an inner join but the merge outer join is still there, at the end.
Like @joanniclaborde, I also love to think of scopes as beautifully encapsulated black box so adding a join here break the idea and is an implementati

[2016-05-20 07:40] hupf commented on #25077
Thank you for the link.

I've wrote a script and in this environment I'm no more able to reproduce it – even with 5.0.0.rc1. I don't know why this behaves different yet.

[code]

[2016-05-20 07:45] Javix commented on #25074
The problem is that when I copy-paste the weird character, it changes from square symbol and becomes `�, �`.
So I'll have to either find a way to enter this character with a special keyboard combination (some kind of ALT + some key) or to find the its ASCII code.

[2016-05-20 08:15] Javix commented on #25074
It seems like a [North Indic rupee mark](http://graphemica.com/꠸), Unicode `a839` or `a837`.
I'll have to test in a Windows PC console. In Mac terminal a simple IRB test passes:
[code]

[2016-05-20 08:54] dreyks commented on #25073
Yeah, this is the template location. Top line from stackprof

TOTAL | (pct) | SAMPLES | (pct) | FRAME
--------- | ------ | ------------- | ------- | ---------
1172  | (11.2%) | 1009 | (9.7%) | ActionView::PathResolver#find_template_paths

Will dive deeper with the debugger to figure out where the difference is

[2016-05-20 13:42] dreyks commented on #25073
So far it seems that the `DetailsKey` is changed per request

[code]
And this array grows and grows with each request served

This is due to
https://github.com/rails/rails/blob/v5.0.0.rc1/actionview/lib/action_view/digestor.rb#L11 which calls `ActionView::LookupContext::DetailsKey.clear`, and which is absent in 4.2.6

[2016-05-20 14:10] thedarkone commented on #24281
I have #15461 that attempts to fix this. The PR is a bit stale now, but I'll try to look into it really soon.

[2016-05-20 14:19] dreyks commented on #25073
Ok, mystery solved

Our staging environment has `config.consider_all_requests_local       = true` to be able to see full errors. And `PerRequestDigestCacheExpiry` depends on this exact option
[code]

"Staging environment must be as identical to production as it is humanly possible"
Case closed

[2016-05-20 14:19] #25073 closed

[2016-05-20 14:23] thedarkone commented on #16140
@gamov as far as I understood, @joanniclaborde wanted to `SELECT t1 INNER JOIN t2 INNER JOIN t3`, so I suggested to use `T1.joins(:t2 => :t3)` as it should generate a query exactly as requested. Your example with tacked on `.merge(T2.with_t3)` doesn't work, because it tacks on `.merge(T2.with_t3)` at the end.

I'm not defending Rails' behavior, I'm trying to suggest a workable solution.

re your e

[2016-05-20 14:27] jeremy commented on #25073
🙌
On Fri, May 20, 2016 at 07:20 Roman Usherenko <notifications@github.com>
wrote:

[2016-05-20 15:38] jcoyne opened #25087 "redirect route is unescaping encoded slashes."
### Steps to reproduce

In `config/routes.rb`

[code]

Now If I request `/abcd%2F1234` it redirects to `/other_place/abcd/1234` rather than the expected `/other_place/abcd%2F1234`
### Expected behavior

When I request `/abcd%2F1234` it should redirect to `/other_place/abcd%2F1234`
### Actual behavior

When I request `/abcd%2F1234` it redirects to `/other_place/abcd/1234`
### System configuration

[2016-05-20 15:43] jcoyne commented on #25087
I can work around this for now by changing the route to:
[code]
And adding a method to FirstPlaceController:
[code]
Then it redirects without unescaping the slashes in the id.

[2016-05-20 16:21] maclover7 commented on #25077
Hmm, if you're not able to reliably reproduce it, it might not be a bug 😬

Do you have a sample application that can reproduce the bug for you, if the reproduction script isn't working?

[2016-05-20 17:51] Fudoshiki commented on #24990
rails 5.0.rc1, ruby 2.3.1, same issue with uncommented workers `ENV.fetch("WEB_CONCURRENCY") { 2 }`, with `workers ENV.fetch("WEB_CONCURRENCY") { 1 }` don't work too

[2016-05-20 17:57] Anuragjain89 opened #25088 "[ActionCable] No way to filter out any sensitive data which may be passed as an argument to the remote procedure over ws protocol.."
### Steps to reproduce

Just followed the action cable demo from DHH on [rails homepage](http://rubyonrails.org/).

You would notice that whenever the RoomChannel#speak is invoked over websocket protocol, the server logs show the arguments which are passed.

[code]

For HTTP requests, we have `filter_parameters` to filter out any sensitive data from the logs.
However, for these RPCs, I could not f

[2016-05-20 19:30] maclover7 commented on #25088
Hmm, we should be able to just `include` the proper module from `ActionDispatch`. Looking into this.

[2016-05-20 20:02] sblackstone commented on #25087
Was taking a look at this, here's a failing test case for HEAD

96fc81eb18ecd3bd663eb307328284fdf8d6b3ed

[2016-05-21 00:04] maclover7 commented on #25088
Opened #25090.

[2016-05-21 02:23] #25010 closed

[2016-05-21 02:34] #24955 closed

[2016-05-21 03:57] viniciusfont opened #25091 "establish_connection breaking foreign_key for nested model associations"
### Steps to reproduce

rails new Test -d postgresql
rails g Model Restaurant
rails g Model Section restaurant:references
add establish_connection to the 2 models to use a diferent database
### Expected behavior

I expected that I could create a Restaurant with a nested form
### Actual behavior

PG::ForeignKeyViolation: ERROR: insert or update on table "sections" violates foreign key constraint "f

[2016-05-21 09:01] vipulnsward commented on #25091
What is order of insertion you see?
Since you are probably inserting in a different database and expecting it to persist in some other database at the same time, it would raise an error.
Can you confirm what these 2 different databases are, master/slave/read-only etc.

[2016-05-21 09:10] vipulnsward commented on #25078
Hmm, I am able to see this. Let me see.

[2016-05-21 11:45] #24816 closed

[2016-05-21 12:16] #24647 closed

[2016-05-21 13:02] viniciusfont commented on #25091
I'ts a database from another rails application with the same postgres user.

[2016-05-21 13:06] kaspth commented on #24874
@jeremy ah, I blindsided myself completely. Doh! — and thanks 😁

[2016-05-21 13:11] dhh opened #25095 "Provide encrypted secrets"
Keeping important secrets in config/secrets.yml isn't a good idea, as all these secrets are stored in plaintext when the file is checked into version control. That's a shame. The application should be able to store actual secrets that it need to talk to internal and external services.

We can get there by providing an additional secrets file under config/secrets.yml.enc along with an interface to

[2016-05-21 13:14] rafaelfranca commented on #25095
Related with https://github.com/Shopify/ejson

[2016-05-21 13:23] rafaelfranca commented on #25095
cc @burke if you have opinions about this.

[2016-05-21 13:26] dhh commented on #25095
Yeah, ejson is good inspiration, but I'd like to retain YAML (it's way more friendly than JSON) and the interface should be integrated with Rails fully.

[2016-05-21 13:34] kaspth commented on #25095
`RAILS_MASTER_KEY` like straight out of Mordor!

🙏

[2016-05-21 13:37] marekkirejczyk commented on #25078
Root cause of the problem seems to have source in Pathname#expand_path that is part of Ruby API.

Take a look at Rails:: Engine::Configuration#root=
[code]

Now:
`Pathname.new("/").to_s.encoding == #<Encoding:UTF-8>`
but
`Pathname.new("/").expand_path.to_s.encoding == #<Encoding:US-ASCII>`

However for some reason:
`Pathname.new(".").expand_path.to_s.encoding == #<Encoding:UTF-8>`

Works the same

[2016-05-21 13:38] rafaelfranca commented on #25078
:+1:

[2016-05-21 13:38] #25078 closed

[2016-05-21 13:38] rafaelfranca commented on #25078
Thank you for investigating.

[2016-05-21 13:55] kaspth commented on #25095
Does `secrets.yml.enc` replace `secrets.yml` entirely? It might be nice with co-existence.

This way the unencrypted version can hold dev and test secrets — thereby acting as a manifest as well — and keep production secrets to the encrypted version.
Or it could just ease the usability for the dev/test keys that don't need encryption.

Although this assumes no dev or test secrets need encryption. W

[2016-05-21 14:41] viniciusfont commented on #25091
The solution is to add `foreign_key: 'id'` to the `has_many` in the `Restaurant` model.

I dont know why without this doesnt work.

`has_many :sections, dependent: :destroy, foreign_key: 'id'`

[2016-05-21 15:50] #24168 closed

[2016-05-21 17:00] hmistry opened #25102 "DELETE Request spec wants number as first argument instead of url?"
Hi,

### Steps to reproduce
I'm performing the following API request spec test using Rspec:
`delete "/api/notifications/unsubscribe", params: { device_token: device.device_token }, headers: headers(token: token)`

### Expected behavior
I expect a delete request to be performed (like my other get or post request tests) and the unsubscribe action to be performed.

### Actual behavior
I get the follo

[2016-05-21 17:30] danielrhodes commented on #24908
@wadestuart I've played around this stuff quite a bit, so familiar with the issues concerning what you're talking about.

For clarification: What you are proposing is to change the ping from being initiated server side to being initiated client side, correct?

And is this because the timeout you are observing on the client is taking too long? (e.g. you want to be notified faster of a disconnect).

[2016-05-21 17:42] danielrhodes commented on #24953
I never understood the need to subscribe to a channel before being able to send an action to a channel. It makes sense that you would want to subscribe before receiving data from a channel. Perhaps that is the change that should be made, then we don't have to think about buffering, etc.

[2016-05-21 17:58] dhh commented on #25095
Happy to keep secrets.yml as well. We'll need to anyway for backwards
compatibility.

On Sat, May 21, 2016 at 3:56 PM, Kasper Timm Hansen <
notifications@github.com> wrote:

[2016-05-21 18:07] shakycode commented on #25095
I think this is a great idea and would keep accidental version control commits from being a security nightmare. If you'd like some help on the implemention I'd be happy to work on this with someone else

[2016-05-21 18:20] RTJ opened #25105 "find_by append `id` != id"
### Steps to reproduce
Traing to update model ( ID: 16 )
tst = Test.find_by(name: params[:name])
tst.update(phone: params[:phone])

Rails querry append : AND (`tests`.`id` != 16) to sql query

**As a result it is not updated.
And no errors**
### System configuration
**Rails version**: 5.0.0.rc1

**Ruby version**: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

[2016-05-21 18:33] #25105 closed

[2016-05-21 18:33] RTJ commented on #25105
After bundle update, the problem was solved.

[2016-05-21 18:38] vipulnsward commented on #25102
What's the trace for this error?